<%# rubocop:disable GitHub/DeprecatedViewHelpers %>
<%
  # Gist has to prefix all named anchors with the file name
  anchor_prefix = local_assigns.fetch(:named_anchor_prefix, "")
  # Are we rendering a snippet? (used in gist discover/forked/starred pages)
  snippet = local_assigns.fetch(:snippet, false)
  lines = blob.colorized_lines
  lines = lines.first(Gist::MAX_SNIPPET_LINES) if snippet
  load_blob_editor_configs!(current_commit, blob)

  show_toolbar = local_assigns.fetch(:show_toolbar, false)

  lines_to_include = local_assigns.fetch(:lines_to_include, [])
%>

<table class="highlight tab-size js-file-line-container" data-tab-size="<%= tab_size(blob.path) %>" data-paste-markdown-skip>
  <%
    lines.each_with_index do |line, i|
      # Line numbers are 1-indexed.
      i += 1

      # Give browsers some text to copy so blank lines get preserved in
      # copy-paste.
      line = "\n" if line.empty?
  %>
    <% if lines_to_include.length > 0 %>
      <% if lines_to_include.include?(i) %>
        <tr>
          <td id="<%= anchor_prefix %>L<%= i %>" class="blob-num js-line-number" data-line-number="<%= i %>"></td>
          <td id="<%= anchor_prefix %>LC<%= i %>" class="blob-code blob-code-inner js-file-line"><%= line %></td>
        </tr>
        <% annotations_on_this_line = annotations.end_line(i) %>
        <% if annotations_on_this_line.any? %>
          <%= render partial: "diff/inline_annotations", locals: {
                annotations: annotations_on_this_line,
                pull_request: pull_request,
                end_line_text: line
              }
          %>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <td id="<%= anchor_prefix %>L<%= i %>" class="blob-num js-line-number" data-line-number="<%= i %>"></td>
        <td id="<%= anchor_prefix %>LC<%= i %>" class="blob-code blob-code-inner js-file-line"><%= line %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<% if show_toolbar %>
  <details class="details-reset details-overlay BlobToolbar position-absolute js-file-line-actions dropdown d-none" aria-hidden="true">
    <summary class="btn-octicon ml-0 px-2 p-0 bg-white border border-gray-dark rounded-1" aria-label="Inline file action toolbar">
      <%= octicon("kebab-horizontal") %>
    </summary>
    <details-menu>
      <ul class="BlobToolbar-dropdown dropdown-menu dropdown-menu-se mt-2" style="width:185px">
        <li>
          <clipboard-copy role="menuitem" class="dropdown-item" id="js-copy-lines" style="cursor:pointer;">
            Copy lines
          </clipboard-copy>
        </li>
        <li>
          <clipboard-copy role="menuitem" class="dropdown-item" id="js-copy-permalink" style="cursor:pointer;">
            Copy permalink
          </clipboard-copy>
        </li>
        <li><%= link_to "View git blame", blob_blame_path(params[:path], commit_sha), class: "dropdown-item js-update-url-with-hash", id: "js-view-git-blame", role: "menuitem" %></li>
        <% if (blob.repository.has_issues? && !blob.repository.archived?) %>
          <li><%= link_to "Reference in new issue", new_issue_path(blob.repository.owner, blob.repository), class: "dropdown-item", id: "js-new-issue", role: "menuitem" %></li>
        <% end %>
      </ul>
    </details-menu>
  </details>
<% end %>
