<%# erblint:counter TooltipCounter 10 %>
<%# `view` is an instance of Blob::ShowView %>
<% head = capture do %>
  <%= dont_index if robot? && current_repository.hide_from_google? %>
<% end %>

<div class="Box-header py-2<%= responsive? ? " d-flex flex-column flex-shrink-0 flex-md-row flex-md-items-center": " d-flex flex-justify-between flex-items-center" %>">
  <div class="text-mono f6<%= " flex-auto pr-3 flex-order-2 flex-md-order-1 mt-2 mt-md-0" if responsive? %>">
    <% if file_codeowners_enabled? && current_repository.codeowners? %>
      <include-fragment src="<%= codeowners_path(current_repository.owner, current_repository, current_ref, view.path) %>"></include-fragment>
    <% end %>

    <% unless (human_mode current_blob.mode) == "file" %>
      <span class="file-mode" title="File mode"><%= human_mode current_blob.mode %></span>
      <span class="file-info-divider"></span>
    <% end %>
    <% if current_blob.viewable? %>
      <%= current_blob.loc %> lines (<%= current_blob.sloc %> sloc)
      <span class="file-info-divider"></span>
    <% end %>
    <%= number_to_human_size(current_blob.size) %>
    <% if current_blob.git_lfs? -%>
      <span class="file-info-divider"></span>
      <a class="no-underline" href="<%= GitHub.help_url %>/articles/versioning-large-files/">
        <%= octicon("question", :"aria-label" => "Learn more about Git LFS") %>
      </a>
      Stored with Git LFS
    <% end -%>
  </div>

  <div class="d-flex<%=" py-1 py-md-0 flex-auto flex-order-1 flex-md-order-2 flex-sm-grow-0 flex-justify-between" if responsive? %>">
    <% if view.blob.render_file_type_for_display(:view) && current_blob.viewable? %>
      <div class="BtnGroup">
        <a class="btn btn-sm BtnGroup-item tooltipped tooltipped tooltipped-n source <%= "selected" if view.source_selected? %>"
          href="<%= url_for(:short_path => blob_short_path(current_blob)) %>" aria-label="Display the source blob">
          <%= octicon("code") %>
        </a>
        <a class="btn btn-sm BtnGroup-item tooltipped tooltipped-n rendered <%= "selected" if view.rendered_selected? %>"
          href="<%= url_for(:short_path => nil) %>" aria-label="Display the rendered blob">
          <%= octicon("file") %>
        </a>
      </div>
    <% end %>

    <div class="BtnGroup">
      <%
        url_tree = current_branch_or_tag_name || commit_sha
        download_label = render_image_or_raw?(view.blob) ? "Download" : "Raw"
      %>
      <%= render GitHub::MiniButtonComponent.new(href: blob_raw_path(params[:path], url_tree), id: "raw-url", group_item: true) do %><%= download_label %><% end %>
      <% if current_blob.viewable? %>
        <%= render GitHub::MiniButtonComponent.new(href: blob_blame_path(params[:path], url_tree), group_item: true, classes: "js-update-url-with-hash", "data-hotkey": "b") do %>Blame<% end %>
      <% end %>
    </div>

    <div>
      <% if !mobile? %>
        <% if view.branch? %>
          <a class="btn-octicon tooltipped tooltipped-nw js-remove-unless-platform"
             data-platforms="windows,mac"
             href="<%= app_clone_url(nil, nil, current_branch_or_tag_name, path_string) %>"
             aria-label="Open this file in GitHub Desktop"
             data-ga-click="Repository, open with desktop">
              <%= octicon("device-desktop") %>
          </a>
        <% else %>
          <button class="btn-octicon disabled tooltipped tooltipped-nw js-remove-unless-platform"
             data-platforms="windows,mac" type="button"  disabled
             aria-label="You must be on a branch to open this file in GitHub Desktop">
              <%= octicon("device-desktop") %>
          </button>
        <% end %>
      <% end %>

      <% if current_blob.viewable? %>
        <% if view.edit_enabled? %>
          <%= form_tag url_for(params.to_unsafe_h.slice(:pr).merge(:action => "edit", :name => tree_name, :path => path_string)),
            :class => "inline-form js-update-url-with-hash" do %>
            <button class="btn-octicon tooltipped tooltipped-nw" type="submit"
              aria-label="<%= view.file_action_tooltip(action: :edit) %>" data-hotkey="e" data-disable-with>
              <%= octicon("pencil") %>
            </button>
          <% end %>

          <%= form_tag url_for(params.to_unsafe_h.slice(:pr).merge(:action => "delete", :name => tree_name, :path => path_string)),
            :class => "inline-form" do %>
            <button class="btn-octicon btn-octicon-danger tooltipped tooltipped-nw" type="submit"
              aria-label="<%= view.file_action_tooltip(action: :delete) %>" data-disable-with>
              <%= octicon("trashcan") %>
            </button>
          <% end %>
        <% else %>
          <button type="button" class="btn-octicon disabled tooltipped tooltipped-nw"
            aria-label="<%= view.file_action_tooltip(action: :edit) %>">
            <%= octicon("pencil") %>
          </button>
          <button type="button" class="btn-octicon btn-octicon-danger disabled tooltipped tooltipped-nw"
            aria-label="<%= view.file_action_tooltip(action: :delete) %>">
            <%= octicon("trashcan") %>
          </button>
        <% end %>
      <% else %>
        <% if !view.branch? %>
          <button type="button" class="btn-octicon btn-octicon-danger disabled tooltipped tooltipped-nw"
            aria-label="<%= view.file_action_tooltip(action: :delete) %>">
            <%= octicon("trashcan") %>
          </button>
        <% else %>
          <%= form_tag url_for(params.to_unsafe_h.slice(:pr).merge(:action => "delete", :name => tree_name, :path => path_string)),
            :class => "inline-form" do %>
            <button class="btn-octicon btn-octicon-danger tooltipped tooltipped-nw" type="submit"
              aria-label="<%= view.file_action_tooltip(action: :delete) %>" data-disable-with>
              <%= octicon("trashcan") %>
            </button>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
