<%
  raw_url = local_assigns.fetch(:raw_url) { blob_url_as_raw }
  named_anchor_prefix ||= ""
%>

<% if richtext = format_blob(blob) %>
  <div id="<%= "#{named_anchor_prefix}readme" %>" class="Box-body readme blob js-code-block-container p-5 p-xl-6">
    <%= richtext %>
  </div>
<% else %>
  <% csv, error = parse_csv_or_tsv(blob) if csv_or_tsv?(blob.extname) && !(blob.git_lfs_pointer? || blob.data.blank?) %>
  <% if error %>
    <div class="render-notice">
      <%= error %>
    </div>
  <% elsif blob.truncated? && !blob.large? && !(blob.image? || blob.render_file_type_for_display(:view)) %>
    <div class="render-notice">
      This file has been truncated, but you can <%= link_to "view the full file", raw_url %>.
    </div>
  <% end %>

  <div itemprop="text" class="Box-body p-0 blob-wrapper data type-<%= blob.language ? blob.language.name.parameterize : "text" %> <%= "d-flex flex-column flex-auto" if blob_fullwidth? %>">
    <%
      use_render = local_assigns.fetch(:use_render, true)
    %>
    <% if use_render && blob.render_file_type_for_display(:view) %>
      <%= render "blob/blob_render", display_type: :view, blob: blob %>
    <% elsif render_image_or_raw?(blob) %>
      <div class="text-center p-3">
        <% if blob.image? %>
          <% blob_repo = blob.repository || current_repository %>
          <span class="border-wrap"><img src="<%= renderable_blob_url(blob, blob_repo, raw_url) %>" alt="<%= blob.display_name %>"></span>
        <% else %>
          <%= link_to "View raw", raw_url %>
          <% if blob.large? %>
            <p>(Sorry about that, but we can’t show files that are this big right now.)</p>
          <% end %>
        <% end %>
      </div>
    <% elsif csv %>
      <%= render :partial => "blob/blob_csv", :object => csv, :locals => local_assigns %>
    <% else %>
      <%= render :partial => "blob/blob_code", :locals => local_assigns %>
    <% end %>
  </div>
<% end %>
