<%
  # Gist has to prefix all named anchors with the file name
  anchor_prefix = local_assigns.fetch(:named_anchor_prefix, "")

  rows = blob_csv
%>
<div class="blob-interaction-bar">
  <%= octicon("search") %>
  <input type="text" name="filter" class="form-control js-csv-filter-field blob-filter" autocapitalize="off"
         placeholder="Search this file…" aria-label="Search this file…">
</div>

<% if rows.any? %>
  <div class="markdown-body">
    <table class="js-csv-data csv-data js-file-line-container">
      <% header = rows.shift %>
      <thead>
        <tr id="<%= anchor_prefix %>LC1" class="js-file-line">
          <td id="<%= anchor_prefix %>L1" class="blob-num js-line-number" data-line-number="1"></td>
          <% header.each do |column| %>
            <th><%= column %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each_with_index do |row, index| %>
          <% line = index + 2 %>
          <tr id="<%= anchor_prefix %>LC<%= line %>" class="js-file-line">
            <td id="<%= anchor_prefix %>L<%= line %>" class="blob-num js-line-number" data-line-number="<%= line %>"></td>
            <% row.each do |column| %>
              <td><%= column %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
