<% blob ||= nil %>
<% url ||= begin
    # XXX: When showing a list of snippets, a specific revision cannot be
    # specified. Fall back to the blobs latest sha.
    safe_commit_oid = respond_to?(:commit_sha) ? commit_sha : blob.repository.sha
    blob.render_url_for_display(display_type, commit_oid: safe_commit_oid, viewer: current_user)
  end
%>
<% type ||= blob.render_file_type_for_display(display_type) %>
<% identity ||= SecureRandom.uuid %>
<% is_local = display_type == :preview || display_type == :edit %>
<% state_class = url.nil? ? "is-render-failed-fatal" : "is-render-pending" %>

<% if blob && blob.size > 250.megabytes %>
  <div class="data highlight empty">
    Sorry, this is too big to display.
  </div>
<% else %>
  <div class="render-wrapper <%= "d-flex flex-column flex-auto" if blob_fullwidth? %>">
    <div class="render-container <%= state_class %> js-render-target <% if is_local %>is-local<% end %> <%= "d-flex flex-column flex-auto position-relative" if blob_fullwidth? %>"
      data-identity="<%= identity %>"
      data-host="<%= uri_origin(url) %>"
      data-type="<%= type %>">
      <%= image_tag "spinners/octocat-spinner-128.gif", :size => "64x64", :class => "octospinner mx-auto", :alt => ""  %>
      <div class="render-viewer-error">Sorry, something went wrong. <a href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>">Reload?</a></div>
      <div class="render-viewer-fatal">Sorry, we cannot display this file.</div>
      <div class="render-viewer-invalid">Sorry, this file is invalid so it cannot be displayed.</div>
      <iframe class="render-viewer <%= "position-absolute top-0 bottom-0" if blob_fullwidth? %>" src="<%= url %>#<%= identity %>" sandbox="allow-scripts allow-same-origin allow-top-navigation" title="File display">
          Viewer requires iframe.
      </iframe>
    </div>
  </div>
<% end %>
