<%# erblint:counter TooltipCounter 1 %>

<%
  owned_by_current_user = codeowners.owned_by?(owner: current_user, path: path)

  owners_for_file = codeowners.owners_for_path(path)
  owners_for_file -= [current_user] if owned_by_current_user
  owners_for_file = owners_for_file.map { |owner| "@#{owner}" }

  rule_for_path = codeowners.rule_for_path(path)

  icon_color = owned_by_current_user ? "color-gray-9" : "color-gray-4"

  tooltip_copy = "Owned by "
  tooltip_copy << "you" if owned_by_current_user
  tooltip_copy << " along with " if owned_by_current_user && owners_for_file.any?
  tooltip_copy << owners_for_file.to_sentence
  tooltip_copy << " (from CODEOWNERS line #{rule_for_path.line})" if rule_for_path
%>

<% if owned_by_current_user || owners_for_file.any? %>
  <%= link_to blob_path(codeowners.path, codeowners.ref, anchor: "L#{rule_for_path.line}"), class: "link-gray no-underline" do %>
    <span class="tooltipped tooltipped-se" aria-label="<%= tooltip_copy %>"><%= octicon("shield-lock", class: icon_color) %></span>
  <% end %>
<% end %>
