<%# view is an instance of Blob::ShowView %>

<%= cache blob_contributors_view_key, skip_digest: true do %>
  <div class="Box-header Box-header--blue Details js-details-container">
    <% if view.last_commit %>
      <div class="d-flex flex-items-center">
        <span class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1">
          <%= linked_avatar_for_commit_actor view.last_commit, :author, 24, class: "avatar", skip_hovercard: mobile? %>
        </span>
        <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
          <div class="css-truncate css-truncate-overflow">
            <%= link_to_commit_actor view.last_commit, :author, :class => "text-bold link-gray-dark", skip_hovercard: mobile? %>

            <% if view.last_commit.empty_message? %>
              <%= link_to "No commit message", commit_path(view.last_commit), :class => "link-gray" %>
            <% else %>
              <span>
                <%= commit_short_message_link view.last_commit %>
              </span>
            <% end %>
          </div>

          <% if view.last_commit.message_body_html.present? %>
            <span class="hidden-text-expander ml-1 flex-shrink-0">
              <button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button>
            </span>
          <% end %>

          <span class="ml-2">
            <include-fragment accept="text/fragment+html" src="<%= checks_statuses_rollup_path(ref: view.last_commit.oid, direction: "e") %>" class="d-inline"></include-fragment>
          </span>
        </div>
        <div class="ml-3 d-flex flex-shrink-0 flex-items-center flex-justify-end text-gray no-wrap">
          <span class="d-none d-md-inline">
            <span>Latest commit</span>
            <a class="text-small text-mono link-gray" href="<%= commit_path(view.last_commit) %>" data-pjax><%= view.last_commit.abbreviated_oid %></a>
            <span itemprop="dateModified"><%= time_ago_in_words_js view.last_commit.authored_date %></span>
          </span>

          <a data-pjax href="<%= commits_path(params[:path], current_branch_or_tag_name || view.last_commit.oid) %>" class="ml-3 no-wrap link-gray-dark no-underline">
            <%= render GitHub::OcticonComponent.new(icon: "history", text: "gray") %>
            <span class="d-none d-sm-inline">
              <strong>History</strong>
            </span>
          </a>
        </div>
      </div>
      <% if view.last_commit.message_body_html.present? %>
        <div class="Details-content--hidden ml-5 mt-2"><pre class="mt-2 f6 ws-pre-wrap"><%= view.last_commit.message_body_html %></pre></div>
      <% end %>

    <% else %>
      Cannot retrieve latest commit at this time.
    <% end %>
  </div>

  <div class="Box-body d-flex flex-items-center flex-auto border-bottom-0 flex-wrap" <%= test_selector("commit-tease-contributors") %>>
    <details class="details-reset details-overlay details-overlay-dark lh-default text-gray-dark float-left mr-3" id="blob_contributors_box">
      <summary class="link-gray-dark">
        <%= render GitHub::OcticonComponent.new(icon: "people", text: "gray") %>
        <strong><%= number_with_delimiter(view.contributor_count) %></strong>
        <%= "recent" if view.contributors_is_truncated? && view.contributor_users.size <= 26 %>
        <%= "contributor".pluralize(view.contributor_count) %>
      </summary>
      <details-dialog
        class="Box Box--overlay d-flex flex-column anim-fade-in fast"
        aria-label="Users who have contributed to this file<%= " recently" if view.contributors_is_truncated? %>"
        src="<%= blob_contributors_list_path %>" preload>
        <div class="Box-header">
          <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
            <%= octicon "x" %>
          </button>
          <h3 class="Box-title">
            Users who have contributed to this file<%= " recently" if view.contributors_is_truncated? %>
          </h3>
        </div>
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
    <% show_avatar = view.contributor_users.size > 1 unless mobile? %>
    <% if show_avatar %>
      <%= render :partial => "blob/participants", :locals => { :users => view.contributor_users, :others_count => view.other_contributors_count } %>
    <% end %>
  </div>
<% end %>
