<%# view is an instance of Blob::DirectionalBlobExcerpt %>
<% if !view.empty? %>
  <% partial = split_diff? ? "diff/split_directional_hunk_header" : "diff/directional_hunk_header" %>
  <% if view.display_top_hunk_header? %>
    <%=  render_partial_view partial, Diff::DirectionalHunkHeaderView, parent_view: view %>
  <% end %>
  <%=
    render_partial_view "diff/diff_context", ::Diff::ContextPartialView,
      blob_excerpt: view,
      blob: view.blob,
      path: view.path,
      mode: view.mode,
      anchor: /diff\-[a-f0-9]+/.match(params[:anchor]).to_s,
      next_right: view.right,
      expandable: true,
      in_wiki_context: view.in_wiki_context
  %>

  <% if view.display_bottom_hunk_header? %>
    <%=  render_partial_view partial, Diff::DirectionalHunkHeaderView, parent_view: view %>
  <% end %>
<% end %>
