<%# erblint:counter TooltipCounter 1 %>
<p id="readme" class="readme preview-msg text-gray">
  This file is
  <span
    class="tooltipped tooltipped-e tooltipped-multiline"
    aria-label = '<%= empty_blob_tip %>'
  >empty</span>.
</p>
