<div class="p-6" style="background-color: rgba(0, 0, 0, 0.45)">
  <div style="max-width: 448px;" class="mx-auto Box Box--overlay width-full">
    <div class="Box-header">
      <h3 class="Box-title">
        Sponsor <%= repository.name_with_owner %>
      </h3>
    </div>

    <%= render partial: "funding_links/links",
            layout: false,
            locals: {
              funding_links: funding_links,
              data: funding_data,
              preview: true,
              mobile: mobile,
            }
    %>
  </div>
</div>
