<%# rubocop:disable GitHub/DeprecatedViewHelpers %>
<%graphql
  fragment Commit on Commit {
    ...Views::Commit::AvatarStack
  }
%>

<% title = "#{current_repository.name}/#{path_string_for_display} at #{h tree_name_for_display} · #{current_repository.name_with_owner}" %>
<% page_info selected_link: :repo_source,
  title: title,
  container_xl: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id,
  class: "full-width"
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <% view = Blob::BlameView.new(:blame => current_blame) %>

  <div class="wants-full-width-container"></div>

  <%= link_to 'Permalink', h(blob_blame_path(path_string, current_commit.oid)), :class => 'd-none js-permalink-shortcut', 'data-hotkey' => 'y' %>

  <div class="breadcrumb css-truncate blame-breadcrumb">
    <span id="blob-path" class="css-truncate-target"><%= breadcrumb_trail params[:path] %></span>
    <clipboard-copy value="<%= path_string_for_display %>" aria-label="Copy file path to clipboard" class="btn btn-sm">
      <%= octicon("clippy") %>
    </clipboard-copy>
  </div>

  <div class="line-age-legend float-right mt-n4 f6">
    <span>Newer</span>
    <ol class="d-inline-block mx-1 list-style-none">
      <% view.range.each do |heat| %>
        <li class="heat d-inline-block" data-heat="<%= heat %>"></li>
      <% end %>
    </ol>
    <span>Older</span>
  </div>

  <div class="file">
    <div class="file-header">
      <% url_tree = current_branch_or_tag_name || commit_sha -%>
      <div class="file-actions">
        <div class="BtnGroup">
          <%= link_to 'Raw', blob_raw_path(params[:path], url_tree), :id => 'raw-url', :class => 'btn btn-sm BtnGroup-item' %>
          <%= link_to 'Normal view', blob_view_path(params[:path], url_tree), :class => 'btn btn-sm js-update-url-with-hash BtnGroup-item' %>
          <%= link_to 'History', commits_path(params[:path], url_tree), :rel => 'nofollow', :class => 'btn btn-sm BtnGroup-item' %>
        </div>
      </div>

  <% timeout_if_expired! %>

  <%# The caching starts down here to avoid caching the links above, which depend on the current commit. %>
  <%# Only cache for two weeks so heat colors change as the commits age. %>
  <%= cache(blame_view_key, :ttl => 2.weeks) do %>
    <%
      # inform the controller that the cache block fell through for metrics recording purposes.
      controller.blame_not_cached!
      commits = view.commit_line_ranges.map(&:commit).uniq
      preload_blame_data(commits)

      avatar_class = avatar_count_class(commits)
      timeout_if_expired!
    %>

      <div class="file-info">
        <%= octicon("file") %>
        <span class="file-mode" title="File Mode"><%= current_blob.mode %></span>
        <span class="file-info-divider"></span>
        <% if current_blob.viewable? %>
          <%= current_blob.loc %> lines (<%= current_blob.sloc %> sloc)
          <span class="file-info-divider"></span>
        <% end %>
        <%= number_to_human_size(current_blob.size) %>
      </div>
    </div>

    <div class="blob-wrapper">
      <div class="blame-container <%= avatar_class %> highlight data js-file-line-container tab-size" data-tab-size="<%= tab_size(current_blame.path) %>" data-paste-markdown-skip>
        <% colored_lines = current_blob.colorized_lines
           commit_urls = {}
           commit_oids = commits.map(&:oid)
           # batch load Commit#short_message_html to avoid async-sync pattern
           short_message_htmls = commit_oids.zip(Promise.all(commits.map { |commit| commit.async_short_message_html }).sync).to_h
           heats = {}
           js_time_strs = {}
           stacks = {}
           hovercard_data_hashes = {}
           commit_links = {}
           reblame_links = {}
           version_octicon = octicon("versions")
           empty_string = ""
           nwo = current_repository.name_with_owner %>
        <% view.commit_line_ranges.each_with_index do |range, i| %>
          <%
            timeout_if_expired! if (i % 10 == 0)
            commit = range.commit
            commit_oid = commit.oid
            url = (commit_urls[commit_oid] ||= commit_path(commit, nil, nil, nwo))
            short_message_html = short_message_htmls.fetch(commit_oid)
            heat = (heats[commit_oid] ||= view.heat(commit))
            js_time_str = (js_time_strs[commit_oid] ||= time_ago_js(commit.authored_date))
            avatar_stack = (stacks[commit.author_emails] ||= \
              render "commit/avatar_stack", commit: Views::Blob::Blame::Commit.new(preloaded_platform_object(commit))
            )
            hovercard_attributes = (hovercard_data_hashes[commit_oid] ||= hovercard_data_attributes_for_commit(commit_url: url).merge(pjax: true))
            commit_link = (commit_links[commit_oid] ||= begin
              if range.commit.empty_message?
                link_to "No commit message", url, class: "message blank f6 text-gray-dark", data: hovercard_attributes
              else
                link_markup_to short_message_html, url, class: "message f6 text-gray-dark", data: hovercard_attributes
              end
            end)
            reblame_link = (reblame_links[commit_oid] ||= begin
              if range.reblamable?
                link_to version_octicon, blame_path(current_repository.owner, current_repository, commit.first_parent_oid, range.reblame_path), class: "reblame-link link-hover-blue no-underline tooltipped tooltipped-e d-inline-block pr-1", "aria-label": "View blame prior to this change"
              else
                empty_string
              end
            end)
          %>

          <div class="blame-hunk d-flex border-gray-light border-bottom">

            <div class="blame-commit flex-self-stretch mr-1" data-heat="<%= heat %>">
              <div class="blame-commit-info pl-1 pr-2">

                <div class="no-wrap d-flex flex-items-start">
                  <%= avatar_stack %>
                  <div class="blame-commit-content d-flex no-wrap flex-items-center">
                    <div class="blame-commit-message overflow-hidden pt-1 f6">
                      <%= commit_link %>
                    </div>
                  </div>
                  <div class="blame-commit-date ml-3" data-heat="<%= heat %>"><%= js_time_str %></div>
                </div>
              </div>
            </div>

            <div class="blob-reblame pl-1 pr-1">
              <%= reblame_link %>
            </div>

            <div class="width-full">
              <% range.lines.each do |lineno, old_lineno, commit, text| %>
                <div class="d-flex flex-justify-start flex-items-start">
                  <div class="blob-num blame-blob-num bg-gray-light js-line-number" id="L<%= lineno %>"><%= lineno %></div>
                  <div class="blob-code blob-code-inner js-file-line" id="LC<%= lineno %>"><%= line = colored_lines.shift.try(:force_encoding, 'utf-8').try(:scrub!); line.blank? ? "\n" : line %></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <% end %>
<% end %>
