<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_layout = "layouts/repository_container"
  fullscreen = params["fullscreen"] && params["fullscreen"] == "true"

  page_classes = class_names(
    "page-edit-blob",
    {
      "full-width": blob_fullwidth?,
      "actions-full-screen": fullscreen
    }
  )
%>

<% page_info \
  selected_link: :repo_source,
  container_xl: true,
  class: page_classes,
  skip_pjax_container: blob_fullwidth?,
  full_height: blob_fullwidth?,
  full_height_scrollable: blob_fullwidth?,
  footer: !blob_fullwidth?,
  skip_responsive_padding: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "New File" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= conditional_tag(:div, blob_fullwidth?, class: "d-flex flex-column width-full", style: "min-height: 550px") do %>
    <%= render :partial => "web_commit/fork_octotip", :locals => {
      :newfork => !!@forked_reason,
      :fork_name_with_owner => @forked_repo.name_with_owner
    } if @forked_repo %>

    <div class="file-box <%= "d-flex flex-column flex-auto position-relative" if blob_fullwidth? %>">
      <%= form_tag url_for(:action => :preview), :class => "d-none js-blob-preview-form" do %>
        <input type="hidden" name="code">
        <input type="hidden" name="commit">
        <input type="hidden" name="blobname">
        <input type="hidden" name="willcreatebranch">
        <input type="hidden" name="checkConflict">
      <% end %>

      <%
        if blob_fullwidth?
          form_classes = "js-blob-form d-flex flex-column flex-auto position-absolute width-full height-full"
        else
          form_classes = "js-blob-form"
        end
      %>

      <%= form_tag blob_create_path(@path, @branch, current_repository), :method => 'post', class: form_classes, :'data-github-confirm-unload' => 'Your new changes will be lost.' do %>
        <% if include_profile_config_redirect?(current_repository, @current_blob) %>
          <input type="hidden" name="redirect_to" value="owner_profile">
        <% end %>
        <%= render_partial_view "blob/editor", Blob::EditorView,
          :blob => @current_blob,
          :filename => @filename,
          :new_filename => @new_filename_string,
          :flow_file_intention => params.has_key?(:flow),
          :path => @path,
          :branch => @branch,
          :parent_repo => current_repository,
          :forked_repo => @forked_repo,
          :allow_contents_unchanged => @allow_contents_unchanged,
          :default_filename => @default_filename,
          :last_commit => @last_commit,
          :contents => @contents,
          :cancel_url => repository_path(current_repository),
          :target_branch => params[:target_branch],
          :quick_pull => params[:quick_pull]
        %>
      <% end %>
    </div>
    <% content_for :scripts do %>
      <%= javascript_bundle 'editor' %>
    <% end %>
  <% end %>
<% end %>
