<%= content_tag :div, id: @container_id do %>
  <div class="container-lg p-responsive">

    <div class="text-center mt-2 mx-auto mb-5">
      <h2 class="f1 text-normal mb-1">Project showcases</h2>
      <p class="lead mt-1 mb-3">Browse interesting repositories, solving all types of interesting problems.</p>
      <% unless logged_in? %>
        <p>
          <%= render(Primer::LinkComponent.new(
            href: signup_path_with_return,
            rel: "nofollow",
            classes: "btn btn-sm btn-default primary",
            data: sign_up_link_data_attributes(location_in_page: "explore showcases")
          )) do %>
            Sign up for free
          <% end %> to get started
        </p>
      <% end %>
    </div>
    <ul class="exploregrid gutter" data-pjax>
      <% @featured_showcases.each do |showcase| %>
        <li class="col-12 col-sm-6 col-md-4 mb-4 exploregrid-item-wrap">
          <%= render(Primer::LinkComponent.new(
            href: showcase_collection_path(showcase),
            classes: "exploregrid-item flex-column flex-justify-between",
            display: "flex", px: 4, pt: 5, pb: 4
          )) do %>
            <div>
              <div class="exploregrid-item-header" style="background-image: <%= showcase.geo_pattern %>"></div>
              <h3 class="exploregrid-item-title">
                <%= showcase.name %>
              </h3>
              <p><%= truncate(showcase.body_text, length: 300) %></p>
            </div>
            <div class="text-small">
              <% if showcase.items.any? %>
                <span class="d-inline-block mr-2">
                  <%= render(GitHub::OcticonComponent.new(icon: "repo", text: :center)) %>
                  <%= pluralize showcase.items.length, "repository" %>
                </span>
              <% end %>
              <% if showcase.languages.any? %>
                <span class="d-inline-block">
                  <%= render(GitHub::OcticonComponent.new(icon: "code", text: :center)) %>
                  <%= pluralize showcase.languages.length, "language" %>
                </span>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <p class="text-center">
      <%= render(Primer::LinkComponent.new(href: showcases_path, classes: "btn btn-outline", data: {pjax: true})) do %>
        More showcases
        <%= render(GitHub::OcticonComponent.new(icon: "chevron-right", vertical_align: :middle)) %>
      <% end %>
    </p>

  </div>
<% end %>
