<div class="site-subnav bg-white site-subnav-sticky js-sticky">
  <nav class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> mx-auto p-responsive" role="navigation" aria-label="Explore navigation">
    <div class="d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left">
      <% if !GitHub.enterprise? && @show_spacer %>
        <div class="col-lg-3 mr-2"></div>
      <% end %>

      <%= selected_link_to(
        "Explore",
        "/explore",
        class: "d-inline-block subnav-primary f5 py-0 py-md-3 mt-2 mt-md-0 mr-0 mr-md-4 no-underline subnav-link",
        highlight: [
          "/explore",
          "/explore/email",
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :EXPLORE,
          ga_click_text: "Explore, go to explore, location:explore nav",
        ),
      ) %>

      <%= selected_link_to(
        "Topics",
        "/topics",
        class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
        highlight: [
          :topics_path,
          topic_show_path(topic_name: params.fetch(:topic_name, "")),
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :TOPICS,
          ga_click_text: "Explore, go to topics, location:explore nav",
        ),
      ) %>

      <%= selected_link_to(
        "Trending",
        "/trending",
        class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
        highlight: [
          "/trending",
          "/trending/developers",
          trending_developers_path(language: params[:language]),
          trending_index_path(language: params[:language]),
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :TRENDING,
          ga_click_text: "Explore, go to trending, location:explore nav",
        ),
      ) %>

      <%= selected_link_to(
        "Collections",
        "/collections",
        class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
        highlight: [
          :collections_path,
          collection_path(params.fetch(:slug, "")),
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :COLLECTIONS,
          ga_click_text: "Explore, go to collections, location:explore nav",
        ),
      ) %>

      <%= selected_link_to(
        "Events",
        "/events",
        class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
        highlight: [
          :events_path,
          event_path(id: params.fetch(:id, "")),
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :EVENTS,
          ga_click_text: "Explore, go to events, location:explore nav",
        ),
      ) %>

      <% if GitHub.sponsors_enabled? %>
        <%= selected_link_to(
          "GitHub Sponsors",
          "/sponsors/community",
          class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
          highlight: [
            :sponsors_community_index_path,
            sponsors_community_index_path,
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :GITHUB_SPONSORS,
            ga_click_text: "Explore, go to Sponsors, location:explore nav",
          ),
        ) %>
      <% end %>

      <% if !GitHub.enterprise? %>
        <div class="d-none d-md-block flex-auto text-right">
          <%= render(
            Primer::LinkComponent.new(
              classes: class_names(
                "btn" => has_newsletter_subscription?,
                "btn-mktg" => !has_newsletter_subscription?,
                "btn-outline" => has_newsletter_subscription?,
              ),
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_target: :EXPLORE_EMAIL,
                click_visual_representation: :GET_EMAIL_UPDATES_BUTTON,
                ga_click_text: "Explore, change email updates, location:explore nav",
              ),
              href: explore_email_path,
              px: 3,
              py: 2
            )
          ) do %>
            <% if has_newsletter_subscription? %>
              Change email updates
            <% else %>
              Get email updates
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </nav>
</div>
