<%# erblint:counter TooltipCounter 1 %>
<% if logged_in? %>

  <div class="clearfix">
    <h2 class="float-md-left f3 text-normal mb-3 mb-md-4">
      <%= render GitHub::OcticonComponent.new(icon: "star", size: :medium) %>
      Starred by people you follow
    </h2>
    <%= render Explore::DateFilterComponent.new(since: @explore_period) %>
  </div>

  <ul class="d-md-flex flex-wrap border rounded-1 border-gray-light bg-gray list-style-none">
    <% @stars.each do |star| %>
      <li class="position-relative col-md-6 p-3">
        <span class="float-right f6 text-gray">
          <% dialog_title = "Friends who starred #{star.starrable.name_with_owner}" %>
          <details class="details-reset details-overlay details-overlay-dark">
            <summary class="link-gray ml-2">
              <span class="tooltipped tooltipped-n" aria-label="Starred by <%= star.friend_count %> of your friends <%= date_text %>">
                <%= render GitHub::OcticonComponent.new(icon: "star", mr: 1) %><%= star.friend_count %>
              </span>
            </summary>
            <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast text-gray-dark" aria-label="<%= dialog_title %>">
              <div class="Box-header">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= render GitHub::OcticonComponent.new(icon: "x") %>
                </button>
                <h3 class="Box-title"><%= dialog_title %></h3>
              </div>
              <ul>
                <% current_user.following_starred(star.starrable_id, @explore_period).each do |user| %>
                <li class="Box-row">
                  <%= avatar_for user, 24, class: "avatar mr-2" %>
                  <%= link_author user %>
                </li>
                <% end %>
              </ul>
            </details-dialog>
          </details>
        </span>

        <%= render Primer::LinkComponent.new(href: "/#{star.starrable.owner.login}") do -%>
          <%= avatar_for(star.starrable.owner, 40, class: "position-absolute border rounded-1") %>
        <%- end %>

        <div class="pl-6 ml-3">
          <%= render Primer::LinkComponent.new(href: repository_path(star.starrable), classes: "h4") do -%>
            <%= star.starrable.name_with_owner %>
          <%- end %>
          <% if star.starrable.description.present? %><p title="<%= star.starrable.description %>"><%= formatted_repo_description star.starrable %></p><% end %>
        </div>
      </li>
    <% end %>
  </ul>

<% else %>

  <div class="position-relative overflow-hidden border border-gray-dark rounded-1 bg-gray">
    <%= link_to_if(
      GitHub.signup_enabled?,
      image_tag("modules/explore/following_stars.v1.png", alt: "", width: "100%",
        class: "d-none d-md-block position-absolute top-0 right-0 bottom-0 left-0 p-3"
      ),
      signup_path,
      data: sign_up_link_data_attributes(location_in_page: "explore stars image")
    ) %>
    <div class="position-relative text-center px-3 py-5" style="z-index: 1; background-color: rgba(247, 247, 247, 0.9);">
      <div style="background-color: rgba(247,247,247,0.6);">
        <h3 class="mb-2">Want to see what code your friends are talking about?</h3>
        <p>When people you follow star interesting repositories,<br> you will get a summary here.</p>
        <p>
          <% if GitHub.signup_enabled? %>
            <%= render(Primer::LinkComponent.new(
              href: signup_path(return_to: explore_path),
              classes: "btn btn-primary",
              data: sign_up_link_data_attributes(location_in_page: "explore stars"),
            )) do -%>
              Sign up
            <%- end %> or
            <%= render(Primer::LinkComponent.new(
              href: login_path(return_to: explore_path),
              data: sign_in_link_data_attributes(location_in_page: "explore stars"),
            )) do -%>
              Sign in
            <%- end %>
          <% else %>
            <%= render(Primer::LinkComponent.new(
              href: login_path(return_to: explore_path),
              classes: "btn btn-primary",
              data: sign_in_link_data_attributes(location_in_page: "explore stars"),
            )) do -%>
              Sign in
            <% end %>=
          <% end %>
        </p>
      </div>
    </div>
  </div>

<% end %>
