<%# erblint:counter TooltipCounter 2 %>
<%= content_tag :div, class: "py-6", id: @container_id do %>
  <div class="clearfix">
    <h2 class="float-md-left f3 text-normal mb-3 mb-md-4">
      <%= render GitHub::OcticonComponent.new(icon: "flame", size: :medium) %>
      <%= render Primer::LinkComponent.new(href: trending_index_path, data: {pjax: true}) do %>
        Trending repositories
      <% end %>
    </h2>
    <%= render Explore::DateFilterComponent.new(since: @explore_period) %>
  </div>

  <ul class="d-md-flex flex-wrap border rounded-1 border-gray-light bg-gray list-style-none">
    <% @trending_repos.each do |trending_repo| %>
      <% repo, stars, forks = trending_repo.repository, trending_repo.total_stars, trending_repo.total_forks %>
      <li class="position-relative col-md-6 p-3">
        <span class="float-right f6 text-gray">
          <% if stars %><span class="ml-2 tooltipped tooltipped-n" aria-label="<%= number_with_delimiter(stars) %> stars <%= date_text %>"><%= render GitHub::OcticonComponent.new(icon: "star", mr: 1) %><%= number_with_delimiter(stars) %></span><% end %>
          <% if forks %><span class="ml-2 tooltipped tooltipped-n" aria-label="<%= number_with_delimiter(forks) %> forks <%= date_text %>"><%= render GitHub::OcticonComponent.new(icon: "git-branch", mr: 1) %><%= number_with_delimiter(forks) %></span><% end %>
        </span>

        <%= render Primer::LinkComponent.new(href: "/#{repo.owner.login}") do -%>
          <%= avatar_for(repo.owner, 40, class: "position-absolute border rounded-1") %>
        <%- end %>

        <div class="pl-6 ml-3">
          <%= render Primer::LinkComponent.new(href: repository_path(repo), classes: 'h4') do -%>
            <%= repo.name_with_owner %>
          <%- end %>
          <% if repo.description.present? %><p title="<%= repo.description %>"><%= formatted_repo_description repo %></p><% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
