<% pull = view.pull %>
<% review_decision = view.merge_state.pull_request_review_policy_decision %>

<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> my-3 branch-action
  <%= review_decision.changes_requested? ? 'branch-action-state-unstable' : 'branch-action-state-clean' %>
  <%= "branch-action-state-dirty-if-rebasing" unless pull.rebase_safe? %>
  <%= "branch-action-state-error-if-merging" if view.enforce_linear_history? %>">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
    <%= octicon("git-merge", height: 32) %>
  </span>
  <div class="branch-action-body timeline-comment--caret">
    <div class="mergeability-details js-details-container Details">
      <%= render_partial_view "statuses/review_status", view %>
      <%= render_partial_view "statuses/setup_continuous_integration", view %>
      <%= render_partial_view "statuses/deprecated_combined_branch_status", Statuses::CombinedStatusView, :pull => pull, :combined_status => view.combined_status %>
      <%= render_partial_view "statuses/mergeability_status", view %>

      <% if view.base_branch_pushable? && !view.advisory_workspace? %>
        <div class="merge-message">
          <% if merge_queue_enabled? %>
            <%= render "statuses/merge_queue_status", pull: pull %>
          <% else %>
            <%= render_partial_view "pull_requests/merge_button_states/button_menu", view %>
            <%= render partial: "pull_requests/merge_button_states/alt_merge_options", locals: { pull: pull } %>
            <%= render partial: "pull_requests/merge_help", locals: { pull: pull } %>
          <% end %>
        </div>
      <% elsif !view.authorized_to_update_protected_base_branch? %>
        <%= render "pull_requests/unauthorized_merge_button", pull: pull %>
      <% end %>
    </div>
  </div>
</div>

<% if view.base_repo_pushable? %>
  <% if merge_queue_enabled? %>
    <%= render_partial_view "pull_requests/merge_queue_form", view %>
  <% else %>
    <%= render_partial_view "pull_requests/merge_form", view %>
  <% end %>
<% end %>
