<% pull = view.pull %>

<% path = merge_button_path(id: pull.number) %>

<poll-include-fragment data-to-be-polled="<%= path %>">
  <div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> my-3 branch-action branch-action-state-unknown">
    <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>"><%= octicon('git-merge', :height => 32) %></span>
    <div class="branch-action-body timeline-comment--caret">
      <div class="mergeability-details js-details-container Details">
        <%= render_partial_view "statuses/review_status", view %>
        <%= render_partial_view "statuses/deprecated_combined_branch_status", Statuses::CombinedStatusView, :pull => pull, :combined_status => view.combined_status %>
        <%= render_partial_view "statuses/mergeability_status", view %>

        <% if view.base_branch_pushable? && !view.advisory_workspace? %>
          <div class="merge-message">
            <%= render_partial_view "pull_requests/merge_button_states/button_menu", view %>

            <%= render :partial => "pull_requests/merge_button_states/alt_merge_options", :locals => { :pull => pull } %>

            <%= render :partial => "pull_requests/merge_help", :locals => { :pull => pull } %>
          </div>
        <% elsif !view.authorized_to_update_protected_base_branch? %>
          <%= render :partial => "pull_requests/unauthorized_merge_button", :locals => { :pull => pull } %>
        <% end %>
      </div>
    </div>
  </div>
</poll-include-fragment>
