<% pull = view.pull %>
<% state = view.merge_state %>

<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> my-3 branch-action branch-action-state-dirty">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
    <%= octicon("git-merge", height: 32) %>
  </span>
  <div class="branch-action-body timeline-comment--caret">
    <div class="mergeability-details js-details-container Details">
      <%= render_partial_view "statuses/mergeability_status", view %>
      <%= render_partial_view "statuses/deprecated_combined_branch_status", Statuses::CombinedStatusView, pull: pull, combined_status: view.combined_status %>

      <% if view.base_branch_pushable? && !view.advisory_workspace? %>
        <div class="merge-message">
          <% if state.admin_override_possible? %>
            <p class="mb-2 text-red">As an administrator, you may still merge this pull request.</p>
          <% end %>

          <%= render_partial_view "pull_requests/merge_button_states/button_menu", view %>

          <%= render :partial => "pull_requests/merge_button_states/alt_merge_options", :locals => { :pull => pull } %>

          <%= render :partial => "pull_requests/merge_help", :locals => { :pull => pull } %>
        </div>
      <% elsif !view.authorized_to_update_protected_base_branch? %>
        <%= render :partial => "pull_requests/unauthorized_merge_button", :locals => { :pull => pull } %>
      <% end %>
    </div>
  </div>
</div>

<% if view.base_branch_pushable? && state.admin_override_possible? %>
  <%= render_partial_view "pull_requests/merge_form", view %>
<% end %>
