<%graphql
  fragment CollectionVideo on CollectionVideo {
    url
    title
    description
}
%>
<% collection_video = Views::Collections::CollectionItemVideo::CollectionVideo.new(data) %>

<article class="height-full border border-gray-light rounded-1 p-3 p-md-5 my-5">
  <div class="h6 text-gray text-uppercase mb-1">Video</div>

  <div class="video-responsive mt-2 mb-3">
    <iframe src="<%= collection_video.url %>" frameborder="0" allowfullscreen></iframe>
  </div>

  <h1 class="h3 lh-condensed mb-2"><a href="<%= item_slug %>" data-ga-click="Explore, go to video, location:collection"><%= collection_video.title %></a></h1>

  <% unless collection_video.description.blank? %>
    <p class="text-gray mb-2"><%= collection_video.description %></p>
  <% end %>

  <a href="<%= item_slug %>" class="d-block width-fit f6 link-gray css-truncate css-truncate-target no-wrap" title="<%= item_slug %>" data-ga-click="Explore, go to video, location:collection">
    <%= octicon("link", class: "mr-1") %><%= item_slug %>
  </a>
</article>
