<li class="col-12 col-sm-6 col-md-4 mb-4">
  <a
    href="<%= collection_path(collection) %>"
    class="exploregrid-item d-flex flex-column flex-justify-center p-5"
    data-ga-click="Explore, go to collection, location:boxes; text:<%= collection.display_name %>"
  >
    <% if collection.image_url %>
      <img src="<%= collection.image_url %>" width="64" height="64" class="mx-auto rounded-1 mb-3" alt="<%= collection.display_name %>">
    <% else %>
      <div class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3" style="width: 64px; height:64px; line-height:64px;">#</div>
    <% end %>
    <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1"><%= collection.display_name %></p>
    <p class="f5 text-gray text-center mb-0 mt-1"><%= with_plain_text_links(collection.description) %></p>
  </a>
</li>
