<%graphql
  fragment CollectionUrl on CollectionUrl {
    url
    title
    description
}
%>
<% collection_url = Views::Collections::CollectionItemUrl::CollectionUrl.new(data) %>

<article class="height-full clearfix border border-gray-light rounded-1 p-3 p-md-5 my-5">
  <div class="h6 text-gray text-uppercase mb-1">Web page</div>

  <h1 class="h3 lh-condensed mb-2"><a href="<%= collection_url.url %>" data-ga-click="Explore, go to web page, location:collection"><%= collection_url.title %></a></h1>

  <% unless collection_url.description.blank? %>
    <p class="text-gray mb-2"><%= collection_url.description %></p>
  <% end %>

  <a href="<%= collection_url.url %>" class="d-block width-fit f6 link-gray css-truncate css-truncate-target no-wrap" title="<%= collection_url.url %>" data-ga-click="Explore, go to web page, location:collection">
    <%= octicon("link", class: "mr-1") %><%= collection_url.url %>
  </a>
</article>
