<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Repository on Repository {
    resourcePath
    owner {
      login
      avatarUrl(size: 64)
    }
    name
    nameWithOwner
    viewerCanStar
    viewerHasStarred
    shortDescriptionHTML
    stargazerCount
    forkCount
    primaryLanguage {
      name
    }
  }
%>
<% repository = Views::Collections::CollectionItemRepository::Repository.new(data) %>

<article class="height-full border border-gray-light rounded-1 p-3 p-md-5 my-5">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="h3 lh-condensed">
      <a href="<%= repository.resource_path %>" data-ga-click="Explore, go to repository, location: collection">
        <%= octicon("repo", width: 20, height: 20, class: "link-gray v-align-middle mr-1") %>
        <span class="text-normal"><%= repository.owner.login %> /</span>
        <%= repository.name %>
      </a>
    </h1>

    <% if logged_in? %>
      <% if !repository.viewer_has_starred? && !repository.viewer_can_star? %>
        <span class="btn btn-sm disabled tooltipped tooltipped-s" aria-label="You can't star at this time">
          <%= octicon("star", class: "mr-1") %>Star
        </span>
      <% else %>
        <div class="js-toggler-container starring-container <% if repository.viewer_has_starred? %>on<% end %>">
          <%= form_tag(unstar_repository_path(repository.owner.login, repository.name), class: "starred", "data-remote": true) do %>
            <input type="hidden" name="context" value="collection"></input>
            <button
              class="btn btn-sm js-toggler-target"
              type="submit"
              value="Unstar"
              aria-label="Unstar this repository"
              title="Unstar <%= repository.name_with_owner %>"
              data-ga-click="Explore, click unstar button, action:<%= controller_action_slug %>; text:Unstar; location:collection"
            >
              <%= octicon "star-fill", class: "mr-1" %>Unstar
            </button>
          <% end %>

          <%= form_tag(star_repository_path(repository.owner.login, repository.name), class: "unstarred", "data-remote": true) do %>
            <input type="hidden" name="context" value="collection"></input>
            <button
              class="btn btn-sm js-toggler-target"
              type="submit"
              value="Star"
              aria-label="Star this repository"
              title="Star <%= repository.name_with_owner %>" data-ga-click="Explore, click star button, action:<%= controller_action_slug %>; text:Star; location:collection"
            >
              <%= octicon("star", class: "mr-1") %>Star
            </button>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= form_tag(login_path, method: :get) do %>
        <input type="hidden" name="return_to" value="<%= collection_path(collection_slug) %>">
        <button
          class="btn btn-sm"
          type="submit"
          value="Star"
          aria-label="You must be signed in to star a repository"
          title="You must be signed in to star a repository"
          data-ga-click="Repository, click star button when signed out, action:<%= controller_action_slug %>; text:Star"
        >
          <%= octicon("star", class: "mr-1") %>Star
        </button>
      <% end %>
    <% end %>
  </div>

  <% unless repository.short_description_html.blank? %>
    <div class="text-gray mb-2 ws-normal"><%= repository.short_description_html %></div>
  <% end %>

  <div class="d-flex f6">
    <% if repository.stargazer_count > 0 %>
      <a href="<%= stargazers_repository_path(repository.owner.login, repository.name) %>" class="d-inline-block link-gray mr-4" data-ga-click="Explore, go to repository stargazers, location:collection">
        <%= octicon("star", class: "mr-1") %><%= repository.stargazer_count %>
      </a>
    <% end %>
    <% if repository.fork_count > 0 %>
      <a href="<%= network_members_path(repository.owner.login, repository.name) %>" class="d-inline-block link-gray mr-4" data-ga-click="Explore, go to repository forks, location:collection">
        <%= octicon("git-branch", class: "mr-1") %><%= repository.fork_count %>
      </a>
    <% end %>
    <% if repository.primary_language %>
      <span class="d-inline-block text-gray">
        <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name, ml: 0)) %>
      </span>
    <% end %>
  </div>
</article>
