<%# locals: featured_collections, collections %>
<%
  page_info \
    title: "Collections",
    marketing_page: true
%>

<%= render(Explore::NavComponent.new) %>

<div class="bg-gray-light border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h0-mktg">Collections</h1>
    <p class="f4 text-gray col-md-8 mx-auto">Curated lists and insight into burgeoning industries, topics, and communities.</p>
    <% if logged_in? %>
      <a href="/github/explore/blob/master/CONTRIBUTING.md#curating-a-new-topic-or-collection" class="btn btn-outline" data-ga-click="Explore, create collection, text:Create a collection">Create a collection</a>
    <% end %>
  </div>
</div>
<% if featured_collections.any? %>
  <div class="container-lg p-responsive mt-6">
    <ul class="exploregrid gutter my-4">
      <% featured_collections.each do |collection| %>
        <%= render "collections/collection_box", collection: collection %>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container-md p-responsive py-6">
  <%= render "collections/featured_collections", collections: collections %>
</div>
