<%graphql
  fragment Root on Query {
    collection(slug: $slug) {
      slug
      displayName
      description
      shortDescriptionHTML
      imageUrl
        ...Views::Collections::CollectionItems::ExploreCollection
    }
  }
%>
<%
  data = Views::Collections::Show::Root.new(data)
  collection = data.collection

  page_info \
    title: "Collection: #{collection ? collection.display_name : $slug}",
    marketing_page: true
%>

<%= render(Explore::NavComponent.new) %>

<% if collection  %>
  <div class="container-lg p-responsive f4">
    <%= render(Explore::SignupPromptComponent.new(source: "prompt-explore")) %>
    <div class="col-md-9 py-6 mx-auto">
      <div class="pt-md-6 pb-3 pb-md-5">
        <div class="d-md-flex">
          <div class="<% if collection.image_url.present? %>col-sm-9 mr-sm-3 mr-lg-5<% end %>">
            <div class="h5 text-uppercase mb-2 text-gray">
              <a href="<%= collections_path %>" class="link-gray">Collection</a>
            </div>
            <h1 class="h00-mktg lh-condensed mb-3"><%= collection.display_name %></h1>

            <% if collection.description %>
              <div class="lead-mktg text-gray lh-condensed mb-3">
                <%= with_plain_text_links(collection.short_description_html) %>
              </div>
            <% end %>

            <% edit_url = file_edit_path("github", "explore", "master/collections/#{collection.slug}/index.md") %>
            <% if logged_in? %>
              <a
                href="<%= edit_url %>?source=suggest-edits-<%= collection.slug %>"
                class="f5 mt-4"
                aria-label="Suggest an edit if something is wrong or there’s missing information"
                data-ga-click="Explore, suggest edits, location:collection suggest edits; text:suggest edits"
              >
                Suggest edits
              </a>
            <% end %>
          </div>

          <% if collection.image_url.present? %>
            <div class="col-6 col-sm-3 mx-auto">
              <img src="<%= collection.image_url %>" alt="<%= collection.display_name %>" class="width-full">
            </div>
          <% end %>
        </div>

        <%= render partial: "collections/collection_items", locals: { collection: collection } %>
      </div>
    </div>
  </div>
<% end %>
