<% view = Businesses::PeopleView.new(query: query) %>

<div class="select-menu-list" data-filter="org">
  <div data-filterable-for="orgs-filter-field" data-filterable-type="substring">
    <%
      filtered_orgs = view.organizations || []
      orgs = this_business.organizations.by_login.partition do |org|
        filtered_orgs.include?(org.login)
      end.flatten
    %>
    <% orgs.each do |org| %>
      <%
        selected = filtered_orgs.include?(org.login)

        # If the org is currently selected, when it's unselected, remove it from the query
        # If the org is currently unselected, when it's selected, add it to the query
        organizations_for_query = if selected
          filtered_orgs - [org.login]
        else
          filtered_orgs + [org.login]
        end
        url = people_enterprise_path \
          this_business.slug,
          query: view.apply_query_filters(organizations: organizations_for_query)
      %>
      <a href="<%= url %>" class="select-menu-item" aria-checked="<%= selected %>" role="menuitemcheckbox">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-gravatar"><%= avatar_for org %></div>
        <div class="select-menu-item-text"><%= org.login %></div>
      </a>
    <% end %>
  </div>
</div>
