<%
  is_mobile ||= false
  item_padding_class = is_mobile ? "p-3" : "p-2"
%>

<ul class="d-none js-jump-to-suggestions-template-container">
  <%= render partial: "jump_to/item_template", locals: {
    item_type: :suggestion,
    item_padding_class: item_padding_class,
    scoped_search_badge_text: scoped_search_badge_text,
    scoped_search_badge_aria_label: scoped_search_badge_aria_label,
    global_search_badge_text: global_search_badge_text,
    global_search_badge_aria_label: global_search_badge_aria_label,
  } %>
</ul>

<ul class="d-none js-jump-to-no-results-template-container">
  <li class="d-flex flex-justify-center flex-items-center f5 d-none js-jump-to-suggestion <%= item_padding_class %>">
    <span class="text-gray">No suggested jump to results</span>
  </li>
</ul>

<ul id="jump-to-results" role="listbox" class="p-0 m-0 js-navigation-container jump-to-suggestions-results-container js-jump-to-suggestions-results-container">
  <%= render partial: "jump_to/item_template", locals: {
    item_type: :scoped_search,
    item_padding_class: item_padding_class,
    scoped_search_badge_text: scoped_search_badge_text,
    scoped_search_badge_aria_label: scoped_search_badge_aria_label,
    global_search_badge_text: global_search_badge_text,
    global_search_badge_aria_label: global_search_badge_aria_label,
  } %>
  <%= render partial: "jump_to/item_template", locals: {
    item_type: :global_search,
    item_padding_class: item_padding_class,
    scoped_search_badge_text: scoped_search_badge_text,
    scoped_search_badge_aria_label: scoped_search_badge_aria_label,
    global_search_badge_text: global_search_badge_text,
    global_search_badge_aria_label: global_search_badge_aria_label,
  } %>

  <%# we will not fetch results for logged out users, so don't need a spinner %>
  <% if logged_in? %>
    <li class="d-flex flex-justify-center flex-items-center p-0 f5 js-jump-to-suggestion">
      <img src="<%= image_path "spinners/octocat-spinner-128.gif" %>" alt="Octocat Spinner Icon" class="m-2" width="28">
    </li>
  <% end %>
</ul>
