<%graphql
  fragment Requester on Requester {
    ... on RequestingUser {
      repositoryPackageReleaseLicenses(ownerIds: $ownerIds, packageManager: $packageManager, packageName: $packageName, packageVersion: $packageVersion, onlyVulnerablePackages: $onlyVulnerablePackages, severity: $severity, exactMatch: $exactMatch) {
        ...PackageDependencies::IndexView::LicenseFragment
      }
    }
  }
%>

<%
  data = Views::PackageDependencies::LicenseGraph::Requester.new(data)
  licenses = data&.repository_package_release_licenses || []
  licenses = view.top_licenses(licenses)
%>

<div class="repository-lang-stats flex-auto">
  <ol class="repository-lang-stats-graph d-flex list-style-none border-0 pt-3" style="cursor: default; overflow: visible">
    <% licenses.each_with_index do |license, index| -%>
      <li class="language-color rounded-2 d-flex overflow-hidden bg-white"
          title="<%= license[:label] %> <%= license[:percent].round %>%"
          style="height: 12px; width:calc(<%= license[:percent] %>% + 6px); margin-right: -6px; min-width: 12px; border: 2px solid #fff; z-index: <%= index + 1 %>">
        <div style="background-color:<%= license[:color] %>; <%= "opacity: 0.2" unless license[:selected] %>" class="d-flex flex-auto">
          <% if license[:url] %>
            <a href="<%= license[:url] %>" class="flex-auto" aria-label="<%= license[:label] %> <%= license[:percent].round %>"></a>
          <% else %>
            <%= license[:label] %> <%= license[:percent].round %>
          <% end %>
        </div>
      </li>
    <% end -%>
  </ol>

  <ol class="repository-lang-stats-numbers pt-3">
    <% licenses.each do |license| -%>
      <% license_info = capture do %>
        <span class="language-color" style="background-color:<%= license[:color] %>; <%= "opacity: 0.2" unless license[:selected] %>"></span>
        <span class="lang <%= "text-gray" unless license[:selected] %>"><%= license[:label] %></span>
        <span class="percent <%= "text-gray" unless license[:selected] %>"><%= license[:percent_label] %></span>
      <% end %>

      <li class="d-inline-block pb-0 pt-2 ws-normal text-left" style="width: auto">
        <% if license[:url] %>
          <a href="<%= license[:url] %>"><%= license_info %></a>
        <% else %>
          <%= license_info %>
        <% end %>
      </li>
    <% end -%>
  </ol>
</div>
