<% action_text ||= "to see dependents" %>
<% if view.unauthorized_saml_targets.any? %>
  <div class="Box Box--condensed mb-2">
    <ul>
      <% view.unauthorized_saml_targets.each do |unauthed_target| %>
        <li class="d-flex flex-items-center Box-row p-2">
          <%= octicon("shield-lock", height: 14, class: "text-gray mr-2") %>
          <p class="note">
            <%= restricted_sso_target_link(unauthed_target, return_to:  view.build_path, text: action_text, join_word: "in") %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
