<%graphql
  fragment SecurityVulnerabilities on Query {
    requester {
      ... on RequestingUser {
        packageReleaseVulnerabilities(packageName: $packageName, containsVersion: $containsVersion, packageManager: $packageManager) {
          vulnerableVersionRange
          severity
          firstPatchedVersion {
            identifier
          }
          advisory {
            ghsaId

            references {
              url
            }

            ...PackageDependencies::ShowView::AdvisoryIdentifierFragment
            ...PackageDependencies::ShowView::AdvisoryDescriptionFragment
          }
        }
      }
    }
  }
%>
<%
  data = Views::PackageDependencies::ShowSecurity::SecurityVulnerabilities.new(data)
  vulnerabilities = data.requester.package_release_vulnerabilities.compact
%>
<div class="Box mx-3 mx-lg-0">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= octicon("shield", class: "mr-1") %>
      <%= vulnerabilities.count %> security <%= "advisory".pluralize(vulnerabilities.count) %>
    </h3>
  </div>
  <% if vulnerabilities.present? %>
    <ul>
      <% vulnerabilities.each do |vulnerability| %>
        <li class="Box-row">
          <div class="d-flex flex-justify-between flex-items-center">
            <div>
              <h5 class="h4 mb-2">
                <% if GitHub.global_advisories_enabled? %>
                  <%= link_to view.advisory_identifier(vulnerability.advisory), global_advisory_path(vulnerability.advisory.ghsa_id),
                    class: "link-gray-dark no-underline",
                    data: hovercard_data_attributes_for_advisory(ghsa_id: vulnerability.advisory.ghsa_id)
                   %>
                <% else %>
                  <%= view.advisory_identifier(vulnerability.advisory) %>
                  <% if vulnerability.advisory.references&.first.url %>
                    <a href="<%= vulnerability.advisory.references.first.url %>" target="_blank" rel="noopener noreferrer" class="text-bold">
                      <%= octicon "link-external", class: "ml-2" %> <span class="sr-only">More information</span>
                    </a>
                  <% end %>
                <% end %>
              </h5>
            </div>
            <div>
              <%= render Repos::Alerts::SeverityLabelComponent.new(severity: vulnerability.severity) %>
            </div>
          </div>
          <div>
            <b>Vulnerable versions:</b>
            <span class="text-mono pl-1"><%= vulnerability.vulnerable_version_range %></span>
          </div>
          <div>
            <b>Patched version:</b>
            <% if vulnerability.first_patched_version %>
              <span class="text-mono pl-1"><%= vulnerability.first_patched_version.identifier %></span>
            <% else %>
              <span class="text-gray text-italic pl-1">No fix</span>
            <% end %>
          </div>
          <div class="mt-2 markdown-body">
            <%= view.render_advisory_description(vulnerability.advisory) %>
          </div>
          <% if view.has_whitesource_origin?(vulnerability.advisory) %>
            <div class="mt-2 pt-2 text-gray f5">
              Vulnerability data by
              <%= link_to "WhiteSource", "https://www.whitesourcesoftware.com/GitHubSecurityAlerts", target: "_blank" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="blankslate blankslate-spacious rounded-0">
      <%= octicon "info", height: 32, class: "blankslate-icon" %>
      <h3 class="pb-2">No known security advisories</h3>
      <p>We couldn't find any security advisories for this version.</p>
    </div>
  <% end %>
</div>
