<%graphql
  fragment Query on Query {
    recentReleases: dependencyGraphPackageReleases(packageName: $packageName, packageManager: $packageManager, first: 3) {
      nodes {
        publishedOn
        version
      }
    }
  }

  fragment PackageRelease on DependencyGraphPackageRelease {
    publishedOn
    version
    packageName
    packageManager
    externalPackageManagerUrl
    license
    repository {
      nameWithOwner
      url
      ...HovercardHelper::DataAttributesFragment::Repository

      owner {
        avatarUrl
        url
        ...HovercardHelper::DataAttributesFragment::RepositoryOwner
      }
    }
  }

  fragment PackageReleaseDependent on DependencyGraphPackageReleaseDependent {
    dependentsCount
    lowerVersionCount
    upperVersionCount
  }
%>
<%
  data = Views::PackageDependencies::ShowSidebar::Query.new(data)
  package_release = Views::PackageDependencies::ShowSidebar::PackageRelease.new(package_release)
  repository_package_release = Views::PackageDependencies::ShowSidebar::PackageReleaseDependent.new(repository_package_release)

  recent_releases = data.recent_releases.nodes
  dependents_count = repository_package_release.dependents_count
  lower_version_count = repository_package_release.lower_version_count
  upper_version_count = repository_package_release.upper_version_count
%>
<div class="col-12 col-lg-4 pl-3 pl-lg-4 pr-3 pr-lg-0 float-left">
  <div class="mt-lg-4">
    <hr class="d-lg-none my-3">
    <h5 class="pt-3 pt-lg-0">Package details</h5>
    <ul class="list-style-none">
      <% if package_release.repository %>
        <% repo_hovercard_attributes = hovercard_data_attributes_for_repository(package_release.repository) %>
        <% repo_owner_hovercard_attributes = hovercard_data_attributes_for_repository_owner(package_release.repository.owner) %>
        <li class="pl-4 my-2" data-repository-hovercards-enabled>
          <%= image_tag package_release.repository.owner.avatar_url.to_s, size: 16, class: "#{avatar_class_names(package_release.repository.owner)} float-left mt-1 ml-n4", alt: "", data: repo_owner_hovercard_attributes %>
          <%= link_to package_release.repository.name_with_owner, package_release.repository.url.to_s, class: "f6", data: repo_hovercard_attributes %>
        </li>
      <% end %>
      <% if package_release.external_package_manager_url %>
        <li class="pl-4 my-2">
          <%= octicon "link", class: "float-left mt-1 ml-n4 text-gray" %>
          <a class="muted-link f6" href="<%= package_release.external_package_manager_url %>"><%= "View on #{ecosystem_label(package_release.package_manager)}" %></a>
        </li>
      <% end %>
      <% if package_release.published_on %>
        <li class="pl-4 my-2">
          <%= octicon "calendar", class: "float-left mt-1 ml-n4 text-gray" %>
          <span class="text-gray f6"><%= local_or_relative_time_tag package_release.published_on %></span>
        </li>
      <% end %>
      <li class="pl-4 my-2">
        <%= octicon "tag", class: "float-left mt-1 ml-n4 text-gray" %>
        <span class="text-gray f6"><%= package_release.version %></span>
      </li>
      <% if package_release.license %>
        <li class="pl-4 my-2">
          <%= octicon "law", class: "float-left mt-1 ml-n4 text-gray" %>
          <span class="text-gray f6"><%= package_release.license %></span>
        </li>
      <% end %>
    </ul>
  </div>

  <% if view.unauthorized_saml_targets.empty? && view.unauthorized_ip_whitelisting_targets.empty? %>
    <div class="mt-4" data-pjax>
      <h5>In my <%= "organization".pluralize(view.selected_org_ids.size) %></h5>
      <ul class="list-style-none">
        <li class="my-2 f6 text-gray">
          <a href="<%= view.build_path(tab: 'dependents') %>" class="muted-link">
            <span class="text-bold"><%= number_with_delimiter(dependents_count) %></span>
            <%= "dependent".pluralize(dependents_count) %>
            using this version
          </a>
        </li>
        <li class="my-2 f6 text-gray">
          <a href="<%= view.package_index_path(package_release.package_name, "<#{package_release.version}", package_release.package_manager) %>" class="muted-link">
            <span class="text-bold"><%= number_with_delimiter(lower_version_count) %></span>
            <%= "dependent".pluralize(lower_version_count) %>
            using older versions
          </a>
        </li>
        <li class="my-2 f6 text-gray">
          <a href="<%= view.package_index_path(package_release.package_name, ">#{package_release.version}", package_release.package_manager) %>" class="muted-link">
            <span class="text-bold"><%= number_with_delimiter(upper_version_count) %></span>
            <%= "dependent".pluralize(upper_version_count) %>
            using newer versions
          </a>
        </li>
      </ul>
    </div>
  <% end %>

  <div class="mt-4" data-pjax>
    <h5>Recent versions</h5>
    <ul class="list-style-none">
      <% recent_releases.each do |release| %>
        <li class="my-2">
          <span class="f6 text-gray d-block">
            <a href="<%= package_details_path(version: release.version) %>" class="f5 muted-link d-block"><%= release.version %></a>
            <span class="text-gray">
              <relative-time datetime="<%= release.published_on %>"></relative-time>
            </span>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
