<%graphql
  fragment PackageReleaseDependent on DependencyGraphPackageReleaseDependent {
    vulnerabilitiesCount
  }
%>
<%
  repository_package_release = Views::PackageDependencies::ShowHeaderNav::PackageReleaseDependent.new(repository_package_release)
%>

<div class="d-flex flex-column flex-md-row mb-lg-3 px-3 px-lg-0 pb-3 pb-lg-0">
  <h1 class="text-normal d-flex flex-items-center flex-auto min-width-0">
    <div class="min-width-0">
      <%= octicon "package", height: 32, class: "text-gray-light mr-1" %>
      <span class="f0-light"><%= view.package_name %></span>
      <span class="text-gray-light f2"><%= view.package_version %></span>
    </div>
  </h1>

  <div class="flex-self-end flex-md-self-center pt-2 pt-md-0">
    <%= render partial: "package_dependencies/filters/organization", locals: { view: view } %>
  </div>
</div>

<%= render partial: "package_dependencies/ip_whitelisting_targets",
  locals: { view: view, action_text: "to see dependents on this package version" } %>

<%= render partial: "package_dependencies/saml_targets",
  locals: { view: view, action_text: "to see dependents on this package version" } %>

<% if repository_package_release && repository_package_release.vulnerabilities_count.nonzero? %>
  <div class="flash flash-warn mx-3 mx-lg-0 mt-0 mt-lg-3 mb-3" <%= test_selector("vulnerability-alert")%>>
    <h5>
      <%= octicon "alert", height: 18,  class: "mr-1" %>This version has an active security advisory and should not be used.
    </h5>
  </div>
<% end %>

<nav class="UnderlineNav mb-3" aria-label="Package page navigation" data-pjax>
  <div class="UnderlineNav-body">
    <a href="<%= view.build_path(tab: 'description') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:description) %>">Description</a>
    <a href="<%= view.build_path(tab: 'dependencies') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:dependencies) %>">Dependencies</a>
    <a href="<%= view.build_path(tab: 'dependents') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:dependents) %>">Dependents</a>
    <a href="<%= view.build_path(tab: 'contributors') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:contributors) %>">Contributors</a>
    <a href="<%= view.build_path(tab: 'security') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:security) %>">Security</a>
  </div>
</nav>
