<%graphql
  fragment Manifests on Repository {
    manifests: dependencyGraphManifests(
      first: 1,
      includeDependencies: false,
      packageManager: $packageManager,
      packageName: $packageName
    ) {
      nodes {
        filename
      }
    }
  }
%>
<%
  if view.repository.present?
    data = Views::PackageDependencies::ShowDescription::Manifests.new(data)
    manifest = data.manifests.nodes.first
    readme = manifest_readme(view.repository, manifest&.filename)
  end
%>
<div class="px-3 px-lg-0">
  <% if readme %>
    <%= format_readme(readme, entity: view.repository, committish: view.repository.default_branch) %>
  <% else %>
    <div class="blankslate blankslate-spacious">
      <%= octicon "info", height: 32, class: "blankslate-icon" %>
      <h3 class="pb-2">No description found</h3>
      <p>This package does not provide a description.</p>
    </div>
  <% end %>
</div>
