<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment PackageReleaseDependent on DependencyGraphPackageReleaseDependent {
    dependentsCount

    dependents {
      ...Views::PackageDependencies::ShowDependentRow::Dependent
      repository
    }

    dependentsPageInfo {
      hasNextPage
      hasPreviousPage
      ...ApplicationHelper::CursorPaginate
    }
  }
%>

<%
  repository_package_release = Views::PackageDependencies::ShowDependents::PackageReleaseDependent.new(repository_package_release)
  dependents_count = repository_package_release.dependents_count
  dependents = repository_package_release.dependents
  page_info = repository_package_release.dependents_page_info

  has_missing_repositories = dependents.any? do |dependent|
    dependent.repository.nil?
  end
%>

<div class="subnav mx-3 mx-lg-0">
  <%= form_tag view.build_path, method: :get, class: "subnav-search float-right" do %>
    <input type="hidden" name="query" value="<%= view.raw_query %>">
    <input type="search" name="dependent_name" class="form-control subnav-search-input input-contrast rounded-1" <% if view.dependent_search.present? %> value="<%= view.dependent_search %>" <% end %> placeholder="Search all dependents" aria-label="Search all dependents">
      <%= octicon "search", class: "subnav-search-icon", style: "z-index: 2" %>
  <% end %>
</div>

<div class="Box mx-3 mx-lg-0">
  <div class="Box-header">
    <div class="Box-title">
      <%= octicon("dependent") %>
      <% dependents_count = 0 if view.unauthorized_saml_targets.any? || view.unauthorized_ip_whitelisting_targets.any? %>
      <%= number_with_delimiter(dependents_count) %>
      <%= "dependent".pluralize(dependents_count) %>
      <% if view.dependent_search.present? %>
        <span class="tooltipped tooltipped-e" aria-label="This is the total number of possible dependents on this package version."><%= octicon(:question, class: "ml-1") %></span>
      <% end %>

      <% if has_missing_repositories %>
        <span class="tooltipped tooltipped-n tooltipped-multiline float-right" aria-label="Some dependents are hidden because they are in repositories you do not have access to or have been deleted.">
          <%= octicon("eye-closed", class: "mx-1") %>
        </span>
      <% end %>
    </div>
  </div>

  <% if view.unauthorized_ip_whitelisting_targets.any? %>
    <div class="blankslate blankslate-spacious rounded-0">
      <%= octicon("dependent", height: 32, class: "blankslate-icon") %>
      <h3 class="pb-2">Your IP address is not allowed</h3>
      <p>Connect from an allowed IP address to see dependents on this package version in your organization's repositories.</p>
    </div>
  <% elsif view.unauthorized_saml_targets.any? %>
    <div class="blankslate blankslate-spacious rounded-0">
      <%= octicon("dependent", height: 32, class: "blankslate-icon") %>
      <h3 class="pb-2">Your SSO session has expired</h3>
      <p>Single sign-on to see dependents on this package version in your organization's repositories.</p>
    </div>
  <% elsif dependents.present? %>
    <% dependents.each do |dependent| %>
      <%= render partial: "package_dependencies/show_dependent_row", locals: { dependent: dependent } %>
    <% end %>
  <% else %>
    <div class="blankslate blankslate-spacious rounded-0">
      <%= octicon("dependent", height: 32, class: "blankslate-icon") %>
      <h3 class="pb-2">No dependents found</h3>
      <p>We couldn't find anything dependent on this version in your organizations' repositories.</p>
    </div>
  <% end %>
</div>

<% if view.unauthorized_saml_targets.empty? && view.unauthorized_ip_whitelisting_targets.empty? %>
  <% if page_info&.has_next_page || page_info&.has_previous_page %>
    <nav class="paginate-container" aria-label="Pagination">
      <%= cursor_paginate(page_info, previous_label: "Previous", next_label: "Next") %>
    </nav>
  <% end %>
<% end %>
