<%graphql
  fragment Requester on Requester {
    ... on RequestingUser {
      repositoryPackageReleases(first: $first, last: $last, before: $before, after: $after, ownerIds: $ownerIds, packageManager: $packageManager, packageName: $packageName, packageVersion: $packageVersion, onlyVulnerablePackages: $onlyVulnerablePackages, sortBy: $sortBy, exactMatch: $exactMatch, severity: $severity, licenses: $licenses) {
        nodes {
          dependentsCount
          vulnerabilitiesCount

          packageRelease {
            packageManager
            packageName
            publishedOn
            license
            repository {
              nameWithOwner
              url
              ...HovercardHelper::DataAttributesFragment::Repository
            }
            version
          }
        }

        totalCount

        pageInfo {
          hasNextPage
          hasPreviousPage
          ...ApplicationHelper::CursorPaginate
        }
      }
    }
  }
%>

<%
  page_info(
    title: "Dependency insights"
  )

  data = Views::PackageDependencies::Index::Requester.new(data)
  dependencies = data&.repository_package_releases
  dependencies_count = dependencies&.total_count || 0
  page_info = dependencies&.page_info
%>

<% content_for :header_title do %>
  <% if view.single_organization_scope? %>
    <a class="Header-link" href="<%= user_path(view.this_organization) %>"><%= view.this_organization.to_s %></a>
  <% else %>
    <strong class="text-white">Dependency insights</strong>
  <% end %>
<% end %>

<% if view.single_organization_scope? %>
  <%= render partial: "orgs/insights/header", locals: { this_organization: view.this_organization } %>
<% end %>

<div class="container-lg p-responsive pt-2 pt-md-5" data-pjax>
  <% if view.single_organization_scope? %>
    <div class="container-lg tabnav">
      <nav class="tabnav-tabs mt-3 mt-lg-0" aria-label="Insights">
        <a href="<%= org_insights_path(view.this_organization) %>" class="tabnav-tab">Activity Overview</a>
        <a href="<%= packages_dashboard_org_insights_path(view.this_organization) %>" class="tabnav-tab selected">Dependencies</a>
      </nav>
    </div>
  <% end %>

  <% if view.multi_organization_scope? %>
    <h1 class="d-none d-lg-flex py-3 f1-light flex-items-center">
      Dependency insights
    </h1>
  <% end %>

  <div class="subnav <%= "mt-2 mt-lg-0" if view.multi_organization_scope? %>">
    <div class="col-12 col-lg-6 float-left d-flex flex-column flex-md-row">
      <nav class="subnav-links" aria-label="Search">
        <% open_security_advisories_selected = view.contains_qualifier?(:is, "vulnerable") %>
        <a href="<%= view.build_path(query: nil) %>" class="subnav-item <%= "selected" unless open_security_advisories_selected %>">All results</a>
        <a href="<%=  view.build_path(query: "is:vulnerable sort:vulnerabilities-desc") %>" class="subnav-item <%= "selected" if open_security_advisories_selected %>">Open Security Advisories</a>
      </nav>

      <% if view.single_organization_scope? %>
        <a href="<%= packages_dashboard_path(query: view.raw_query) %>" class="d-none d-md-block ml-md-2 subnav-item rounded-1">My organizations</a>
      <% end %>
    </div>

    <%= form_tag nil, method: :get, class: "subnav-search m-0 col-12 col-lg-6 float-left mt-3 mt-lg-0" do %>
      <div class="input-group width-full">
        <input class="form-control subnav-search-input input-contrast rounded-1" type="text" placeholder="Search dependencies" aria-label="Search dependencies" name="query" value="<%= Search::Queries::PackageDependenciesQuery.stringify(view.parsed_query) %>">
        <%= octicon("search", class: "subnav-search-icon", style: "z-index: 2") %>
      </div>
    <% end %>
  </div>

  <%= render partial: "package_dependencies/ip_whitelisting_targets",
    locals: { view: view, action_text: "to see dependents" } %>

  <%= render partial: "package_dependencies/saml_targets",
    locals: { view: view, action_text: "to see dependents" } %>

  <div class="d-flex flex-column">
    <div class="flex-order-2 flex-md-order-1 mt-3 mt-md-0">
      <%= render partial: "package_dependencies/rollup_cards", locals: { view: view } %>
    </div>

    <div class="flex-order-1 Box js-navigation-container js-active-navigation-container" data-repository-hovercards-enabled>
      <div class="Box-header d-flex">
        <div class="Box-title flex-auto">
          <%= octicon(:package, class: "mr-1") %>
          <%= number_with_delimiter(dependencies_count) %>
          <%= "dependency".pluralize(dependencies_count) %>
        </div>

        <%= render partial: "package_dependencies/filters/menu", locals: { view: view } %>

        <%= render partial: "package_dependencies/filters/license", locals: { view: view } %>
        <%= render partial: "package_dependencies/filters/ecosystem", locals: { view: view } %>

        <% if view.multi_organization_scope? %>
          <%= render partial: "package_dependencies/filters/organization", locals: { view: view } %>
        <% end %>

        <%= render partial: "package_dependencies/filters/sort", locals: { view: view } %>
      </div>

      <% if dependencies.nil? || dependencies.nodes.empty? %>
        <div class="blankslate blankslate-spacious rounded-0">
          <% if view.dependency_graph_timed_out %>
            <%= octicon("watch", height: 32, class: "blankslate-icon") %>
            <h3>The dependency graph is taking too long to respond</h3>
            <p>We’re working on fixing this issue as soon as possible. Please try again later.</p>
          <% elsif view.dependency_graph_unavailable %>
            <%= octicon("alert", height: 32, class: "blankslate-icon") %>
            <h3>Loading package dependencies failed</h3>
            <p>We track these errors automatically, but if the problem persists feel free to <a href="<%= contact_path %>">contact us</a>.</p>
          <% else %>
            <%= octicon "package", height: 32, class: "blankslate-icon" %>
            <h3 class="pb-2">Could not find packages in any of the selected organizations</h3>
            <p>Please make sure you have committed lockfiles (e.g. gemfile.lock, package-lock.json, etc.) <br> in your repositories so we're able to understand and display your dependencies. </p>
          <% end %>
        </div>
      <% else %>
        <% dependencies.nodes.each do |repository_package_release| %>
          <% package_release = repository_package_release.package_release %>
          <div class="Box-row Box-row--focus-gray js-navigation-item">
            <div class="d-flex pb-2 flex-column flex-md-row">
              <h3 class="flex-auto">
                <% package_details_path_params = {
                     ecosystem: package_release.package_manager.downcase,
                     name: url_encode(package_release.package_name),
                     version: package_release.version,
                     query: view.organization_query
                } %>
                <a class="js-navigation-open" href="<%= package_details_path(package_details_path_params) %>">
                  <%= package_release.package_name %>
                </a>
              </h3>
              <div class="flex-shrink-0 flex-wrap d-flex flex-items-center text-gray pt-1 pt-md-0">
                <% if package_release.license %>
                  <span class="pr-3 flex-shrink-0 pt-1 pt-md-0">
                    <%= octicon "law", class: "mr-1" %>
                    <%= package_release.license %>
                  </span>
                <% end %>

                <div class="d-flex flex-items-center flex-shrink-0 pt-1 pt-md-0">
                  <span class="circle p-1 mr-1" style="background-color: <%= ecosystem_color(package_release.package_manager) %>;"></span>
                  <%= ecosystem_label(package_release.package_manager) %>
                </div>

                <%= link_to package_details_path(package_details_path_params.merge(tab: "dependents")), class: "flex-shrink-0 muted-link pt-1 pt-md-0" do %>
                  <%= octicon("dependent", class: "octicon ml-3") %>
                  <%= repository_package_release.dependents_count %>
                  <%= "dependent".pluralize(repository_package_release.dependents_count) %>
                <% end %>
              </div>
            </div>
            <div class="d-flex flex-wrap f6 pt-1 pt-md-0">
              <% if package_release.repository %>
                <% repo_hovercard_attributes = hovercard_data_attributes_for_repository(package_release.repository) %>
                <%= link_to package_release.repository.url.to_s, class: "muted-link min-width-0 pr-3 pt-1 pt-md-0", data: repo_hovercard_attributes do %>
                  <%= octicon "repo", class: "float-left mr-1" %>
                  <%= package_release.repository.name_with_owner %>
                <% end %>
              <% end %>

              <span class="pr-3 pt-1 pt-md-0 min-width-0">
                <%= octicon "tag", class: "float-left text-gray mr-1" %>
                <%= package_release.version %>
              </span>

              <% if package_release.published_on %>
                <span class="pr-3 flex-shrink-0 pt-1 pt-md-0">
                  <%= octicon "calendar", class: "text-gray mr-1" %>
                  <%= local_or_relative_time_tag package_release.published_on %>
                </span>
              <% end %>

              <% if repository_package_release.vulnerabilities_count > 0 %>
                <span class="pr-3 flex-shrink-0 pt-1 pt-md-0">
                  <%= link_to package_details_path(package_details_path_params.merge(tab: "security")), class: "muted-link" do %>
                    <%= octicon "alert", class: "text-gray mr-1" %>
                    <%= number_with_delimiter(repository_package_release.vulnerabilities_count) %> security <%= "advisory".pluralize(repository_package_release.vulnerabilities_count) %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if page_info&.has_next_page || page_info&.has_previous_page %>
      <nav class="flex-order-1 paginate-container" aria-label="Pagination">
        <%= cursor_paginate(page_info, previous_label: "Previous", next_label: "Next") %>
      </nav>
    <% end %>

    <% if view.single_organization_scope? %>
      <a href="<%= packages_dashboard_path(query: view.raw_query) %>" class="flex-order-2 btn-block d-md-none subnav-item rounded-1">My organizations</a>
    <% end %>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "graphs" %>
<% end %>
