<%# Enterprise Plans %>
<div class="container-xl mx-auto p-responsive-fluid">
  <div class="d-flex flex-wrap">
    <div class="col-12 mx-auto">
      <div class="section-header text-center js-section" id="enterprise-plans">
        <h4 class="text-normal text-mono text-uppercase text-gray-light mb-2-fluid f5-mktg-fluid text-spaced">Plans</h4>
        <h1 class="h1-mktg-fluid">Find your perfect plan</h1>
      </div>
    </div>
  </div>
</div>

<div class="pb-11-fluid position-relative">
  <div class="container-xl mx-auto p-responsive-fluid">
    <div class="d-flex flex-wrap">
      <div class="col-8-max mx-auto text-center">
        <div class="d-flex flex-wrap gutter-fluid gutter-lg-spacious-fluid mb-4-fluid">
          <div class="col-10 col-md-6 mx-auto mx-md-0">
            <div class="height-full rounded-2-fluid text-center p-6-fluid pt-8-fluid box-shadow-default-mktg bg-white position-relative z-1">
              <div class="d-flex flex-wrap flex-content-between flex-justify-center flex-auto">
                <div class="flex-auto">
                  <h3 class="h4-mktg-fluid mb-2-fluid">GitHub Enterprise</h3>
                  <p class="text-gray-light f4-mktg-fluid px-4-fluid mb-0">Essential security, automation, and collaboration for your teams.</p>
                  <div class="pt-2-fluid pb-4-fluid">
                    <h4 class="text-bold" style="font-size: 2.5rem !important;">$21</h4>
                    <h6 class="h6-mktg-fluid">Per user <span class="text-gray-light">/ per month</span></h6>
                  </div>
                  <ul class="border-top border-gray-light list-style-none py-4-fluid d-block text-left">
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      SAML single sign-on
                    </li>
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      50,000 Actions minutes/month
                      <span class="pl-4-fluid d-block text-gray-light f6-mktg-fluid">Free for public repositories</span>
                    </li>
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      50GB of GitHub Packages storage
                      <span class="pl-4-fluid d-block text-gray-light f6-mktg-fluid">Free for public repositories</span>
                    </li>
                    <li class="f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      Advanced auditing
                    </li>
                  </ul>
                </div>

                <a
                  href="<%= org_enterprise_plan_path %>?ref_page=<%= enterprise_marketing_page_path %>&ref_cta=<%= url_encode("Start a free trial") %>&ref_loc=<%= url_encode("plans") %>"
                  class="btn-mktg-fluid btn-block btn-purple-mktg-fluid"
                  data-ga-click="Create organization, click to set up organization, ref_page:<%= enterprise_marketing_page_path %>;ref_cta:Start a free trial;ref_loc:plans"
                >
                  Start a free trial
                </a>
              </div>
            </div>
          </div>

          <div class="col-10 col-md-6 mx-auto mx-md-0 mt-6-fluid mt-md-0-fluid">
            <div class="height-full rounded-2-fluid text-center p-6-fluid pt-8-fluid box-shadow-default-mktg bg-white position-relative z-1 mb-6-fluid">
              <div class="height-full d-flex flex-wrap flex-content-between flex-justify-center flex-auto">
                <div class="flex-auto">
                  <div style="height: 0">
                    <span class="d-inline-block position-relative top-n5 text-uppercase rounded-1-fluid border text-bold" style="padding: 2px 6px; font-size: 10px; color: #F2994A; border-color: #EEC7A4 !important;">New</span>
                  </div>
                  <h3 class="h4-mktg-fluid mb-2-fluid">GitHub One</h3>
                  <p class="text-gray-light f4-mktg-fluid mb-5-fluid">The definitive platform for<br>enterprise innovation.</p>
                  <ul class="width-full border-top border-gray-light list-style-none py-4-fluid d-block text-left">
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/arrow-right", class: "text-green-mktg mr-1-fluid") %>
                      Everything included in Enterprise
                    </li>
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      Community-powered security
                    </li>
                    <li class="pb-2-fluid f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      24/7 support
                    </li>
                    <li class="f5-mktg-fluid">
                      <%= svg("site/enterprise/launchpad/icons/check", class: "text-green-mktg mr-1-fluid") %>
                      Continuous learning
                    </li>
                  </ul>
                </div>

                <a
                  href="https://enterprise.github.com/contact?referrer=github_one&ref_page=<%= enterprise_marketing_page_path %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("plans") %>"
                  class="btn-mktg-fluid btn-block btn-purple-mktg-fluid"
                  data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= enterprise_marketing_page_path %>;ref_cta:Contact Sales;ref_loc:plans"
                >
                  Contact Sales
                </a>
              </div>
            </div>
          </div>
        </div>

        <a class="btn-mktg-fluid btn-lg-invisible-mktg-fluid Bump-link text-purple-mktg" href="/plans" data-ga-click="Enterprise Plans section, click, text:See all our plans and features">See all our plans and features <span class="Bump-link-symbol"><%= svg("site/enterprise/launchpad/icons/arrow-right") %></span></a>
      </div>
    </div>
  </div>
  <img src="<%= image_path "modules/site/enterprise/launchpad/pixel-bg.svg" %>" alt="pixel background" class="position-absolute enterprise-plans-bg" loading="lazy">
</div>
