<%# Enterprise Hero %>
<div class="position-relative">
  <div class="enterprise-hero">
    <div class="container-xl mx-auto p-responsive-fluid position-relative">
      <div class="enterprise-hero-copy d-flex flex-items-center flex-justify-center flex-md-justify-between flex-wrap gutter-spacious-fluid position-relative">
        <div class="col-9-max position-relative z-2">
          <h4 class="h5-mktg-fluid text-gray mb-1-fluid">GitHub for enterprises</h4>
          <h1 class="h0-mktg-fluid mb-3-fluid text-white" style="text-shadow: 10px 0 20px #000;">Build like the best</h1>
          <ul class="list-style-none mb-4-fluid" style="text-shadow: 10px 0 20px #000;">
            <li><h4 class="text-normal text-white f2-mktg-fluid">Increase developer velocity.</h4></li>
            <li><h4 class="text-normal text-white f2-mktg-fluid">Secure every step.</h4></li>
            <li><h4 class="text-normal text-white f2-mktg-fluid">Automate entire workflows.</h4></li>
            <li><h4 class="text-normal text-white f2-mktg-fluid">Redefine collaboration.</h4></li>
            <li><h4 class="text-normal text-white f2-mktg-fluid">Trusted by <span class="text-purple-light-mktg">over 50 million developers</span>.</h4></li>
          </ul>
          <a
            href="<%= ent_contact_url %>?ref_page=<%= enterprise_marketing_page_path %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("hero") %>"
            class="btn-mktg-fluid btn-purple-mktg-fluid mr-0-fluid mr-sm-2-fluid"
            data-ga-click="Contact Sales, click to Contact Sales, ref_page:/enterprise;ref_cta:Contact Sales;ref_loc:hero"
          >
            Contact Sales
          </a>
          <%= link_to "Start a free trial",
            org_enterprise_plan_path(
              "ref_page": enterprise_marketing_page_path,
              "ref_cta": "Start a free trial",
              "ref_loc": "hero"
            ),
            class: "btn-mktg-fluid btn-white-outline-mktg-fluid",
            "data-ga-click": "Create organization, click to set up organization, ref_page:/enterprise;ref_cta:Start a free trial;ref_loc:hero"
          %>
        </div>

        <div class="enterprise-deathcat position-relative position-md-absolute right-0 my-5-fluid my-md-0 z-1">
          <video autoplay loop muted class="float-right width-full js-viewport-aware-animation" data-threshold="0">
            <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-deathcat.hevc.mp4" %>">
            <source type="video/mp4; codecs=av01.0.05M.08,opus" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-deathcat.av1.mp4" %>">
            <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-deathcat.h264.mp4" %>">
          </video>
        </div>
      </div>

      <div class="d-flex flex-items-center flex-justify-center flex-md-justify-between flex-wrap gutter-sm-spacious-fluid">
        <div class="col-12 col-sm-10 col-md-6 col-lg-5 offset-md-6 text-center text-md-left position-relative z-1 mb-md-12-fluid" style="margin-bottom: 55%;">
          <h3 class="h4-mktg-fluid text-white mb-2-fluid">Empower your team.<br>Transform your business.</h3>
          <p class="f4-mktg-fluid text-white-fade pr-xl-8-fluid mb-3-fluid">DevOps is just the start. Top organizations know that transformation also depends on technology, talent, culture, and process. GitHub helps enterprises put them all to work—in one place.</p>
          <ul class="list-style-none d-flex flex-justify-center flex-md-justify-start">
            <li class="mr-3-fluid mb-3-fluid">
              <%= svg("site/enterprise/launchpad/logos/logo-stripe.svg") %>
            </li>
            <li class="mr-3-fluid mb-3-fluid">
              <%= svg("site/enterprise/launchpad/logos/logo-twilio.svg") %>
            </li>
            <li class="mr-0-fluid mr-sm-3-fluid mb-3-fluid">
              <%= svg("site/enterprise/launchpad/logos/logo-spotify.svg") %>
            </li>
            <li class="mr-0-fluid mr-sm-3-fluid mb-3-fluid d-none d-sm-inline-block">
              <%= svg("site/enterprise/launchpad/logos/logo-arduino.svg") %>
            </li>
            <li class="d-none d-lg-inline-block">
              <%= svg("site/enterprise/launchpad/logos/logo-ford.svg") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="position-absolute width-full bottom-0 overflow-hidden">
    <video-animation class="position-relative mx-auto enterprise-garden-container d-block">
      <video autoplay muted class="enterprise-garden" data-threshold="0">
        <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-1.hevc.mp4" %>">
        <source type="video/mp4; codecs=av01.0.05M.08,opus" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-1.av1.mp4" %>">
        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-1.h264.mp4" %>">
      </video>
      <video preload autobuffer loop muted hidden class="enterprise-garden" data-threshold="0">
        <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-2.hevc.mp4" %>">
        <source type="video/mp4; codecs=av01.0.05M.08,opus" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-2.av1.mp4" %>">
        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/enterprise/launchpad/hero/enterprise-garden-2.h264.mp4" %>">
      </video>
    </video-animation>
  </div>
</div>

