<div class="js-sticky site-subnav-sticky">
  <div class="container-xl text-center">
    <div class="page-nav js-toggler-container d-flex bg-white rounded-xl-2-fluid position-relative overflow-x-hidden p-2-fluid">
      <button type="button" class="page-nav-trigger js-toggler-target d-inline-block d-lg-none px-3-fluid" aria-label="Toggle page navigation">
        <%= svg("site/enterprise/launchpad/icons/three-bars", height: "24", class: "text-gray-dark") %>
        <%= svg("site/enterprise/launchpad/icons/x", height: "24", class: "text-gray-dark") %>
      </button>

      <nav class="page-nav-container width-full d-flex flex-nowrap flex-items-start flex-justify-between lh-condensed v-align-bottom" aria-label="GitHub Enterprise page navigation">
        <div class="d-flex flex-column flex-lg-row flex-auto flex-nowrap flex-lg-items-center flex-justify-between pr-2-fluid">
          <a href="#enterprise-security" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:Security">
            Security
          </a>

          <a href="#enterprise-devops" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:DevOps">
            DevOps
          </a>

          <a href="#enterprise-collaboration" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:Collaboration">
            Collaboration
          </a>

          <a href="#enterprise-talent" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:Talent">
            Talent
          </a>

          <a href="#enterprise-services" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:Services">
            Services
          </a>

          <a href="#enterprise-plans" class="page-nav-item text-left h6-mktg-fluid rounded-2-fluid no-underline js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise navigation, click nav item, text:Plans">
            Plans
          </a>
        </div>

        <a class="btn-mktg-fluid btn-purple-mktg-fluid js-scrollnav-item js-smoothscroll-anchor" href="<%= ent_contact_url %>?ref_page=<%= enterprise_marketing_page_path %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("navigation") %>" data-ga-click="Contact Sales, click to Contact Sales, ref_page:/enterprise;ref_cta:Contact Sales;ref_loc:navigation">
          Contact Sales
        </a>
      </nav>
    </div>
  </div>
</div>
