<%# Enterprise Collaboration %>
<div class="container-xl mx-auto p-responsive-fluid">
  <div class="d-flex flex-wrap gutter-spacious-fluid">
    <div class="col-6-max mx-auto">
      <div class="section-header text-center js-section" id="enterprise-collaboration">
        <h4 class="text-normal text-mono text-uppercase text-gray-light f5-mktg-fluid text-spaced">Collaboration</h4>
        <h2 class="h1-mktg-fluid mb-2-fluid">Turn collaboration <span class="no-wrap">into innovation</span></h2>
        <a class="btn-mktg-fluid btn-lg-invisible-mktg-fluid Bump-link text-purple-mktg" href="https://resources.github.com/whitepapers/introduction-to-innersource/" data-ga-click="Enterprise Collaboration Section, click, text:Learn more about innersource" >Learn more about innersource <span class="Bump-link-symbol"><%= svg("site/enterprise/launchpad/icons/arrow-right") %></span></a>
      </div>
    </div>
  </div>

  <in-viewport class="gutter-md-fluid gutter-lg-spacious-fluid target-enterprise-collaboration" toggle-class="animate-enterprise-collaboration">
    <div class="col-10-max mx-auto">
      <div class="d-flex flex-wrap flex-column flex-md-row gutter-md-fluid gutter-lg-spacious-fluid mb-8-fluid">
        <div class="col-12 col-md-4">
          <div class="d-flex flex-row flex-md-column flex-items-center gutter-fluid gutter-md-0">
            <div class="col-5 col-md-12">
              <div class="rounded-2-fluid mb-4-fluid bg-white box-shadow-default-mktg enterprise-collaboration-photo overflow-hidden position-relative">
                <img src="<%= image_path "modules/site/enterprise/launchpad/collaboration-1.jpg" %>" loading="lazy" class="height-full position-absolute left-0 right-0 mx-auto enterprise-collaboration-photo-img width-full height-full" alt="People collaborating">
              </div>
            </div>
            <div class="col-7 col-md-12 enterprise-collaboration-copy">
              <h3 class="h5-mktg-fluid mb-1-fluid">Build as one team</h3>
              <p class="f4-mktg-fluid text-gray-light">Work seamlessly across your organization on a platform designed for collaboration.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 target-enterprise-collaboration-2">
          <div class="d-flex flex-row flex-md-column flex-items-center gutter-fluid gutter-md-0">
            <div class="col-5 col-md-12">
              <div class="rounded-2-fluid mb-4-fluid bg-white box-shadow-default-mktg enterprise-collaboration-photo overflow-hidden position-relative">
                <img src="<%= image_path "modules/site/enterprise/launchpad/collaboration-2.jpg" %>" loading="lazy" class="height-full position-absolute left-0 right-0 mx-auto enterprise-collaboration-photo-img width-full height-full" alt="People collaborating">
              </div>
            </div>
            <div class="col-7 col-md-12 enterprise-collaboration-copy">
              <h3 class="h5-mktg-fluid mb-1-fluid">Transform your culture</h3>
              <p class="f4-mktg-fluid text-gray-light">Embrace innersource, iterate faster, and ship more frequently using best practices from open source teams.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 target-enterprise-collaboration-3">
          <div class="d-flex flex-row flex-md-column flex-items-center gutter-fluid gutter-md-0">
            <div class="col-5 col-md-12">
              <div class="rounded-2-fluid mb-4-fluid bg-white box-shadow-default-mktg enterprise-collaboration-photo overflow-hidden position-relative">
                <img src="<%= image_path "modules/site/enterprise/launchpad/collaboration-3.jpg" %>" loading="lazy" class="height-full position-absolute left-0 right-0 mx-auto enterprise-collaboration-photo-img width-full height-full" alt="People collaborating">
              </div>
            </div>
            <div class="col-7 col-md-12 enterprise-collaboration-copy">
              <h3 class="h5-mktg-fluid mb-1-fluid">Learn as you build</h3>
              <p class="f4-mktg-fluid text-gray-light">Get insight into how your team builds today with community-backed KPIs.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap gutter-spacious-fluid section-testimonial-engie">
        <div class="col-8-max mx-auto">
          <div class="testimonial testimonial-engie target-testimonial-engie overflow-hidden position-relative text-center px-6-fluid px-lg-8-fluid py-6-fluid py-lg-8-fluid rounded-2-fluid box-shadow-default-mktg">
            <img src="<%= image_path "modules/site/enterprise/launchpad/testimonials/engie-bg.jpg" %>" class="width-full height-full testimonial-image position-absolute top-0 left-0 z-n1" loading="lazy" alt="People working">
            <img src="<%= image_path "modules/site/enterprise/launchpad/logos/logo-engie.svg" %>" alt="Engie" class="mb-4-fluid testimonial-logo" loading="lazy">
            <blockquote class="col-5-max col-lg-6-max mx-auto text-white f2-mktg-fluid mb-5-fluid">With GitHub, we can scale and build projects on a new level now. It’s not about how good you are alone. It’s about the greatness we can achieve through <span class="no-wrap">sharing and collaboration.</span></blockquote>
            <img src="<%= image_path "modules/site/enterprise/launchpad/testimonials/engie.jpg" %>" alt="Photo of Head of Digital Communities at Engie" class="d-inline-block circle mb-2-fluid box-shadow-default-mktg testimonial-avatar" style="background: radial-gradient(circle, rgba(58,39,32,1) 0%, rgba(50,55,72,1) 100%);" loading="lazy">
            <h4 class="h5-mktg-fluid text-white">Head of Digital Communities</h4>
            <p class="f4-mktg-fluid text-white-fade mb-0">Engie</p>
          </div>
        </div>
      </div>
    </div>
  </in-viewport>
</div>

