Hello there!

You’re receiving this email because @<%= @requester.name %> has requested the
installation of <%= @integration.name %> at your organization <%= @target.name %>.

To review the request, please click or paste in your browser the following link:

<%= @url %>

Thanks!

--

Your friends at GitHub
