<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">

<% installation_target = @target.organization? ? "organization" : "account" %>
<% url = "#{GitHub.url}#{@path}" %>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Updated Permissions Request</title>
  <style>
    div.content a{
      color: #4183C4 !important;
      text-decoration: none;
    }
    div.content a:hover {
      color: #4183C4 !important;
      text-decoration: underline !important;
    }


    @media only screen and (max-device-width: 480px) {
      h1[class="heading"] {
        font-size: 30px !important;
      }
      p[class="subtext"] {
        font-size: 14px !important;
      }

      div[class="content"] {
        width: 260px !important;
      }
      div[class="heading-content"] {
        width: 300px !important;
      }
      img[class="video-teaser"] {
        width: 260px !important;
        height: 76px !important;
      }
    }
  </style>
</head>
<body bgcolor="#fafafa" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#fafafa;-webkit-text-size-adjust:none;">

<div style="padding: 10px;">
  <div class="heading-content" style="padding-top: 20px; width: 550px; margin: 0 auto;">
    <h1 class="heading" style="margin: 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 40px; letter-spacing: -1px; color: #333; font-weight:normal;">
      Updated Permissions Request
    </h1>
    <p class="subtext" style="margin: 0 0 30px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 17px; font-weight: 300; color: #555;">
      The GitHub App <%= @integration.name %> is requesting additional access to your <%= installation_target %>.
    </p>
  </div>

  <div class="content" style="margin: 20px auto !important; width: 510px; padding: 20px 20px 20px 20px !important; border: 1px solid #ddd !important; border-radius: 3px !important; box-shadow: 0 1px 3px rgba(0,0,0,0.05) !important; background: #ffffff !important;">

    <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      Hello there!
    </p>
    <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      You’re receiving this email because the GitHub App <strong><%= @integration.name %></strong> updated its permissions and is requesting additional access to your <%= installation_target %>, <strong><%= @target %></strong>.
    </p>

    <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      To review the request and accept these permissions, please click <a href="<%= url %>" style="color: #4183C4 !important;">here</a>.
    </p>

    <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      You may choose to ignore this request, in which case <%= @integration.name %> will retain its current permissions.
    </p>

    <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      You can view pending requests directly by visiting your <%= installation_target %>’s settings page and clicking on Applications. If you run into problems, please <a href="https://github.com/contact">contact support.</a>
    </p>

    <p style="font-size: 12px; color: #777777; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: normal; line-height: 20px;">
      Link not working? Paste the following link into your browser:<br>
      <a href="<%= url %>"><%= url %></a>
    </p>

    <p style="margin: 15px 0 5px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
      Thanks!<br><br>
    </p>

  </div>

  <div class="mark" style="margin: 20px 0; text-align: center;">
    <img src="<%= @image_url %>/developer/footer-octocat.png" width="40" height="40">
  </div>
</div>

</body>
</html>
