<% installation_target = @target.organization? ? "organization, #{@target}," : "account" %>
A GitHub App, <%= @integration.name %>, installed on your <%= installation_target %> is requesting updated permissions.

Visit <%= GitHub.url%><%= @path %> to review and accept these permissions.

You may choose to ignore this request, in which case <%= @integration.name %> will retain its current permissions.

<% settings_page_target = @target.organization? ? "organization" : "account" %>
You can view pending requests directly by visiting your <%= settings_page_target %>’s settings page and clicking on Applications. If you run into problems, please contact support by visiting https://github.com/contact.

Thanks,
Your friends at GitHub
