<%graphql
  fragment on Commit {
    resourcePath
    websocket
    ...Views::Commit::CommitInfo
  }
%>
<%
  commit = Views::Commits::CommitsListItem.new(commits_list_item)
  resource_path = commit.resource_path.to_s
  resource_path += "#" + diff_path_anchor(current_blob_path) if defined?(current_blob_path) && !current_blob_path.blank?

  live_update_url = "#{commit.resource_path}/_render_node/commits/commits_list_item"
%>
<li class="Box-row Box-row--focus-gray mt-0 p-2 d-flex js-commits-list-item js-navigation-item js-details-container Details js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(commit.websocket) %>"
    data-url="<%= live_update_url %>"
    <%= test_selector("commits-list") %>>
  <%= render "commit/commit_info", commit: commit, resource_path: resource_path %>
</li>
