<%graphql
  fragment SmimeSignature on SmimeSignature {
    subject {
      commonName
      emailAddress
      organization
      organizationUnit
    }
    issuer {
      commonName
      emailAddress
      organization
      organizationUnit
    }
  }
%>
<%
  unless signature.is_a?(Commits::SignedCommitBadge)
    signature = Views::Commits::SmimeCertInfo::SmimeSignature.new(signature)
  end
%>

<% if signature.subject %>

<h5>Certificate subject</h5>

<table class="signed-commit-cert-info">
  <% unless signature.subject.common_name.blank? %>
    <tr>
      <td class="text-gray">CN</td>
      <td><%= signature.subject.common_name %></td>
    </tr>
  <% end %>
  <% unless signature.subject.email_address.blank? %>
    <tr>
      <td class="text-gray">emailAddress</td>
      <td><%= signature.subject.email_address %></td>
    </tr>
  <% end %>
  <% if signature.subject.organization && signature.subject.organization_unit %>
    <% subject_org_label = "O/OU" %>
  <% elsif signature.subject.organization %>
    <% subject_org_label = "O" %>
  <% elsif signature.subject.organization_unit %>
    <% subject_org_label = "OU" %>
  <% end %>

  <% if subject_org_label %>
    <tr>
      <td class="text-gray"><%= subject_org_label %></td>
      <td>
        <%= signature.subject.organization %>
        <% if subject_org_label == "O/OU" %><span class="text-gray">/</span><% end %>
        <%= signature.subject.organization_unit %>
      </td>
    </tr>
  <% end %>
</table>

<h5>Certificate issuer</h5>

<table class="signed-commit-cert-info">
  <tr>
    <td class="text-gray">CN</td>
    <td><%= signature.issuer.common_name %></td>
  </tr>
  <% if signature.issuer.organization && signature.issuer.organization_unit %>
    <% issuer_org_label = "O/OU" %>
  <% elsif signature.issuer.organization %>
    <% issuer_org_label = "O" %>
  <% elsif signature.issuer.organization_unit %>
    <% issuer_org_label = "OU" %>
  <% end %>

  <% if issuer_org_label %>
    <tr>
      <td class="text-gray"><%= issuer_org_label %></td>
      <td>
        <%= signature.issuer.organization %>
        <% if issuer_org_label == "O/OU" %><span class="text-gray">/</span><% end %>
        <%= signature.issuer.organization_unit %>
      </td>
    </tr>
  <% end %>
</table>

<% end %>
