<%graphql
query ETagQuery($id: ID!, $revision: String!, $path: String, $author: CommitAuthor) {
  node(id: $id) {
    ... on Repository {
      commit: object(expression: $revision) {
        ... on Commit {
          history(first: 1, path: $path, author: $author) {
            nodes {
              oid
            }
          }
        }
      }
    }
  }
}

query RootQuery($id: ID!, $revision: String!, $path: String, $author: CommitAuthor) {
  node(id: $id) {
    ... on Repository {
      name
      commit: object(expression: $revision) {
        ... on Commit {
          oid
          committer { date }
          history(first: 20, path: $path, author: $author) {
            nodes {
              oid
              messageHeadline
              message
              committer { date }
              author {
                email
                actor {
                  login
                  avatarUrl(size: 30)
                }
              }
            }
          }
        }
      }
    }
  }
}
%>
<% commits = data.node.commit.history.nodes %>
<?xml version="1.0" encoding="UTF-8"?>
<% path = commits_path(params[:path], tree_name).chomp('/') %>
<% cache "feeds:#{path.to_md5}:#{commits.first.oid}:graphql", :ttl => 0 do %>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:<%= GitHub.host_name %>,2008:<%=h path %></id>
  <link type="text/html" rel="alternate" href="<%= GitHub.url + path %>"/>
  <link type="application/atom+xml" rel="self" href="<%= GitHub.url + path %>.atom"/>
  <title>Recent Commits to <%= data.node.name %>:<%= tree_name_for_display %></title>
  <updated><%= commits.first.committer.date.utc.iso8601 %></updated>
  <% commits.each do |commit| %>
  <entry>
    <id>tag:<%= GitHub.host_name %>,2008:Grit::Commit/<%= commit.oid %></id>
    <link type="text/html" rel="alternate" href="<%= GitHub.url + commit_path(commit.oid) %>"/>
    <title>
      <% if commit.message_headline.present? %>
        <%= commit.message_headline %>
      <% else %>
        No commit message
      <% end %>
    </title>
    <updated><%= commit.committer.date.utc.iso8601 %></updated>
    <media:thumbnail height="30" width="30" url="<%= commit.author.actor ? commit.author.actor.avatar_url : gravatar_url_for(commit.author.email, 30) %>"/>
    <author>
      <name><%= commit.author.actor ? commit.author.actor.login : "" %></name>
      <% if commit.author.actor %>
      <uri><%= GitHub.url %>/<%= commit.author.actor.login %></uri>
      <% else %>
      <email><%= commit.author.email %></email>
      <% end %>
    </author>
    <content type="html">
      <%= "<pre style='white-space:pre-wrap;width:81ex'>#{CGI.escapeHTML(commit.message)}</pre>" %>
    </content>
  </entry>
  <% end %>
<% end %>
</feed>
