<%graphql
fragment RepositoryCommits on Repository {
  id
  nameWithOwner
  commit: object(expression: $revision) {
    ... on Commit {
      url
      history(first: $first, after: $after, last: $last, before: $before, path: $path, author: $author, since: $since, until: $until) {
        pageInfo {
          ...ApplicationHelper::CursorPaginate
        }
        nodes {
          ...CommitsHelper::GroupedCommitsFragment
          ...Views::Commits::CommitsListItem
        }
      }
    }
  }
}
%>
<%
  repository_commits = Views::Commits::Show::RepositoryCommits.new(repository_commits)
  commits = repository_commits.commit&.history&.nodes
  title = current_blob_path ? "History for #{current_blob_path} - #{repository_commits.name_with_owner}" : "Commits · #{repository_commits.name_with_owner}"
  page_info(
    title: title,
    container_xl: true,
    selected_link: current_blob_path ? :repo_source : :repo_commits,
    dashboard_pinnable_item_id: repository_commits.id,
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <% if current_blob_path %>
    <div class="file-navigation">
      <div class="breadcrumb">
        History for <%= breadcrumb_trail current_blob_path.split("/"), linker: :commits_path %>
      </div>
    </div>
  <% else %>
    <% if repository_commits.commit? %>
      <a href="<%= repository_commits.commit.url %>" class="d-none js-permalink-shortcut" data-hotkey="y">Permalink</a>
    <% end %>

    <div class="file-navigation">
      <%= render :partial => "refs/list" %>
    </div>
  <% end %>

  <% if commits&.any? %>
    <div class="js-navigation-container js-active-navigation-container mt-3" data-navigation-scroll="page">
      <% grouped_commits(commits).reverse.each_with_index do |item, i| %>
        <% date, commit_group = item[0], item[1] %>
        <div class="TimelineItem TimelineItem--condensed <% if i == 0 %>pt-0<% else %>pt-2<% end %> pb-2">
          <div class="TimelineItem-badge">
            <%= render GitHub::OcticonComponent.new(icon: "git-commit") %>
          </div>
          <div class="TimelineItem-body">
            <h2 class="f5 text-normal" <%= test_selector("commit-group-title") %>>Commits on <%= date.strftime("%b %-d, %Y") %></h2>
            <ol class="mt-3 list-style-none Box" <%= test_selector("commit-group") %>>
              <% commit_group.each do |commit| %>
                <%= render "commits/commits_list_item", commits_list_item: commit, current_blob_path: current_blob_path %>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>
    </div>

    <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
      <%= cursor_paginate(repository_commits.commit.history.page_info, previous_label: "Newer", next_label: "Older") %>
    </div>

    <% if from_profile %>
      <div class="text-center">
        <p class="text-gray f6 mt-4">
          Seeing something unexpected? Take a look at the
          <%= link_to "GitHub commits guide", GitHub.help_url + "/articles/troubleshooting-commits-on-your-timeline" %>.
        </p>
      </div>
    <% end %>

  <% elsif repository_commits.commit? %>
    <p>
      No commits found
      <% if params[:author] %>
        for "<%= params[:author] %>"
        <%# Also let them know the search term if they should know it %>
        <% if logged_in? && current_user.login == params[:author] %>
          (using <%= current_user.email %>)
        <% end %>
      <% end %>
      <% if path_string.present? %>
        at "<%= utf8(path_string) %>"
      <% end %>
    </p>
  <% else %>
    <p>No commits found.</p>
  <% end %>
<% end %>
