<% page_info \
  title: "#{installation.host_name} - Contributions",
  selected_link: :enterprise_installation_contributions %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= number_with_delimiter contributions.total_entries %>
    <%= pluralize_without_number contributions.total_entries, "recent contributions sync" %>
  <% end %>
<% end %>

<% if contributions.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% contributions.each do |contrib| %>
        <li class="Box-row d-flex flex-items-center"
          <%= test_selector "enterprise-contribution-#{contrib.id}" %>>
          <span class="flex-auto">
            <%= avatar_for contrib.user, 20, class: :avatar %>
            <%= link_to contrib.user.login, user_path(contrib.user) %> &ndash; <%= time_ago_in_words_js(contrib.updated_at) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate contributions %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No recent Enterprise Server contributions syncs.</h3>
  </div>
<% end %>
