<% page_info title: "Connected Enterprise Server installations", selected_link: :enterprise_installations %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Connected Enterprise Server installations</h3>
    <div class="boxed-group-inner">
      <% if installations.any? %>
        <ul class="boxed-group-list standalone installation-list">
          <% installations.each do |installation| %>
            <li>
              <span class="time">Created <%= time_ago_in_words installation.created_at %> ago</span>
              <span class="installation-name">
                <%= link_to "#{installation.customer_name} - #{installation.host_name}", stafftools_enterprise_installation_path(installation.id) %>
              </span>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No connected installations.</p>
      <% end %>
    </div>
  </div>

  <div class="paginate-container">
    <%= will_paginate installations %>
  </div>
<% end %>
