<% page_info selected_link: :orphaned_bundled_license_assignments %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Orphaned bundled license assignments<% end %>
    <% component.slot(:description) do %>These bundled license assignments are not assigned to an enterprise account.<% end %>
  <% end %>

  <%= render Stafftools::BundledLicenseAssignments::ListComponent.new(assignments: assignments, header: header, action: action) %>
<% end %>
