<a href="#country_blocks" rel="facebox[.dangerzone]"
  class="btn btn-danger boxed-action">
  Block country
</a>
<h4>Country specific block</h4>
<p>
  Block the gist in a specific country. It blocks
  public access for IP’s originating from a specific country.
</p>

<div id="country_blocks" style="display:none">
  <h2 class="facebox-header" data-facebox-id="facebox-header">Block country</h2>
  <div class="facebox-alert">
    Pay attention!
  </div>
  <p>
    This will prevent public access to this gist from IP’s seeming to originate from
    the given countries. All forks and their content will be blocked
    as well.
  </p>
  <% if view.gist.country_blocks.try(:any?) %>
    <h5>Existing blocks</h5>
    <% view.gist.country_blocks.each do |reason, url| %>
      <%= form_tag country_block_stafftools_user_gist_path(view.user_param, view.gist),
            :method => "delete", :class => "stafftools" do %>
        <%= hidden_field_tag :country_block, reason %>
        <%=link_to GitRepositoryBlock::COUNTRY_BLOCK_DESCRIPTIONS[reason], url %>
        <span class="float-right">
        <button type="submit" class="btn btn-sm btn-danger">Remove country block</button>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <h5>Add new block</h5>
  <%= form_tag country_block_stafftools_user_gist_path(view.user_param, view.gist),
        :class => "stafftools" do %>
    <p>
      Select the type of block for this gist.
      <%= select_tag :country_block, options_for_select(GitRepositoryBlock::COUNTRY_BLOCK_DESCRIPTIONS.invert) %>
    </p>
    <p>
      <dl class="form-group">
        <dt><label>Block URL</label></dt>
        <dd><%= text_field_tag :country_block_url %></dd>
      </dl>
    </p>
    <div class="full-button">
      <button type="submit" class="btn btn-danger">Yes. Set up country block</button>
    </div>
  <% end %>
</div>
