<% if view.archived? %>
  <a href="#restore_gist_confirmation" rel="facebox[.dangerzone]" class="btn boxed-action">
    Restore this gist
  </a>
  <h4>Restore gist</h4>
  <p>Restore this gist and all its related content.</p>

  <div id="restore_gist_confirmation" style="display:none">
    <div class="facebox-header" id="facebox-header">
      Restore gist
    </div>
    <p id="facebox-description">
    This will restore the gist and its comments.
    <strong>Are you certain?</strong>
    </p>
    <div class="full-button">
      <%= form_for "restore", :url => restore_stafftools_user_gist_path(view.gist.user_param, view.gist) do %>
        <button type="submit" class="btn">Restore</button>
      <% end %>
    </div>
  </div>
<% else %>
  <a href="#delete_gist_confirmation" rel="facebox[.dangerzone]"
                                      class="btn btn-danger boxed-action">
    Delete this gist
  </a>
  <h4>Delete gist</h4>
  <p>Delete this gist and all its related content.</p>

  <div id="delete_gist_confirmation" style="display:none">
    <div class="facebox-header" id="facebox-header">
      Delete gist
    </div>
    <p id="facebox-description">
      This will delete the gist and its comments.
      <strong>Are you certain?</strong>
    </p>

    <% if !view.gist.active? %>
      <p>
        <strong>Note:</strong> This gist is already queued for archival.
        If gist is still archived after several minutes, please try
        deleting again.
      </p>
    <% end %>

    <div class="full-button">
      <%= form_tag stafftools_user_gist_path(view.user_param, view.gist), :method => 'delete' do %>
        <button type="submit" class="btn btn-danger">Delete gist</button>
      <% end %>
    </div>
  </div>
<% end %>
