<%# `view` is an instance of Stafftools::User::GistView %>
<dl>
  <dt>Name</dt>
  <dd><%= view.name %></dd>
</dl>
<dl>
  <dt>Created</dt>
  <dd><%= view.created_at %></dd>
</dl>
<dl>
  <dt>Visibility</dt>
  <dd>
    <%= view.gist.visibility %>
  </dd>
</dl>
<dl>
  <dt>Owner</dt>
  <dd>
    <% if view.user %>
      <%= link_to view.gist.user_param, stafftools_user_path(view.gist.user_param) %>
    <% else %>
      <%= view.user_param %>
    <% end %>
  </dd>
</dl>
<% if view.fork? %>
  <dl>
    <dt>Parent gist</dt>
    <dd>
      <% if view.parent.nil? %>
        Fork parent missing
      <% else %>
        <%= link_to view.parent.name_with_owner,
              stafftools_user_gist_path(view.parent.user_param, view.parent) %>
      <% end %>
    </dd>
  </dl>
<% end %>
<dl>
  <dt>Last push</dt>
  <dd>
    <%= view.last_push %>
  </dd>
</dl>
<dl>
  <dt>Last maintenance</dt>
  <dd>
    <%= view.last_maintenance_at %>
    (<%= view.last_maintenance_status %>)
  </dd>
</dl>
<% if view.link_to_source? %>
  <dl>
    <dt>Source code</dt>
    <dd>
      <%= link_to "View code", user_gist_url(view.gist.user_param, view.gist, :host => gist_host_name) %>
    </dd>
  </dl>
<% end %>
<dl>
  <dt>Disk use</dt>
  <dd>
    <%= view.gist.human_disk_usage %>
  </dd>
</dl>
<% if GitHub.haystack_enabled? %>
  <dl>
    <dt>Exceptions</dt>
    <dd>
      <%= link_to 'Search Haystack', view.haystack_link %>
    </dd>
  </dl>
<% end %>
<% if view.country_blocks? %>
  <dl>
    <dt>Country blocks</dt>
    <dd>
      <%= view.country_blocks_sentence %>
    </dd>
  </dl>
<% end %>
<% if view.dmca? %>
  <dl>
    <dt>DMCA takedown</dt>
    <dd>
      <%= view.gist.access.dmca_url %>
    </dd>
  </dl>
<% end %>
