<ul class="boxed-group-list standalone">
  <% hooks.each do |hook| %>
    <% show_view = Hooks::ShowView.new :hook => hook %>
    <li class="hook-item clearfix <%= show_view.status_class %>">
      <span class="item-status">
        <%= link_to stafftools_hook_path(hook, :anchor => :deliveries), :class => "tooltipped tooltipped-s", 'aria-label' => show_view.status_message do %>
          <%= octicon("check", :class => "icon-for-success") %>
          <%= octicon("alert", :class => "icon-for-failure") %>
          <%= octicon("primitive-dot", :class => "icon-for-pending") %>
          <%= octicon("primitive-dot", :class => "icon-for-inactive") %>
        <% end %>
      </span>

      <%= link_to stafftools_hook_path(hook), :class => 'css-truncate', :'data-pjax' => true do %>
        <span class="hook-url css-truncate-target"><%= show_view.title %></span>
        <span class="text-gray">(<span class="css-truncate-target" title="<%= hook.events.to_sentence %>"><%= hook.events.to_sentence %></span>)</span>
      <% end %>
    </li>
  <% end %>
</ul>
