<% if hook.active? %>
  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Disable webhook",
    button_class: "btn btn-danger",
    details_class: "float-right mt-1",
    title: "Are you sure you want to disable this webhook?"
  } do %>
    <div class="overflow-auto">
      <div class="Box-body">
        <%= form_with url: stafftools_toggle_hook_active_status_path(hook), method: :patch do  %>
          <p>Disabling this webhook means we will not deliver event details to this URL.</p>
          <button type="submit" class="btn btn-block btn-danger" data-close-dialog>
            I understand, disable this webhook now
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= form_with url: stafftools_toggle_hook_active_status_path(hook), method: :patch do %>
    <button type="submit" class="btn boxed-action">Enable webhook</button>
  <% end %>
<% end %>