<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => @hooks_view.page_title, :selected_link => :hooks %>

<div class="boxed-group">
  <h3>Webhooks</h3>
  <div class="boxed-group-inner">
    <% if @hooks_view.webhooks.empty? %>
      <p>No webhooks configured for this <%= repo_hooks? ? "repository" : "organization" %>.</p>
    <% else %>
      <%= render :partial => "stafftools/hooks/list", :locals => {:hooks => @hooks_view.webhooks} %>
    <% end %>
  </div>
</div>

<% if @hooks_view.service_hooks_supported? %>
  <div class="boxed-group">
    <h3>Services</h3>
    <div class="boxed-group-inner">
      <div class="flash p-2">
        The <strong>email</strong> service hook has been replaced by <%= link_to "Repository Notifications", gh_stafftools_repository_notification_settings_path(current_repository) %>
      </div>

      <% if @hooks_view.services.empty? %>
        <p>No service hooks configured for this repository.</p>
      <% else %>
        <%= render :partial => "stafftools/hooks/list", :locals => {:hooks => @hooks_view.services} %>
      <% end %>
    </div>
  </div>
<% end %>
