<div class="col-12">
  <%= render Primer::BlankslateComponent.new(
    icon: "unverifed",
    title: "Unsupported identity provider",
    description: "Currently, team synchronization is only supported for Azure Active Directory. If you've configured SAML single sign-on with Azure AD, please contact support for help.",
    link_text: "Learn more",
    link_url: "#{GitHub.help_url}/articles/synchronizing-teams-between-your-identity-provider-and-github",
  ) %>
</div>
