<%# `view` is an instance of Businesses::Settings::SecurityView %>
<%# erblint:counter TooltipCounter 1 %>
<button class="btn disabled tooltipped tooltipped-n" type="button" aria-label="You must single sign-on before enabling">
  Enable for <%= view.team_sync_provider_type_label %>
</button>
<div class="text-small text-gray-light d-inline ml-2">
  <%= octicon "info", :height => 16, :class => "text-gray" %>
  You must
  <%= link_to "single sign-on", business_idm_sso_enterprise_path(view.business, return_to: settings_security_enterprise_url(view.business)) %>
  before team synchronization can be enabled.
</div>
