<div class="Box-body overflow-auto">
  <div class="mb-2 flash flash-error js-discussion-comment-error" hidden></div>
  <p class="mb-4">
    The reason will be displayed to describe this comment to others. <a href="<%= GitHub.help_url %>/articles/managing-disruptive-comments/#hiding-a-comment">Learn more</a>.
  </p>
  <%= form_tag minimize_discussion_comment_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, comment), method: :post, class: "js-discussion-comment-minimize" do %>
    <p>
      <select name="classifier" class="form-select input-block" aria-label="Reason" required>
        <option value>
          Choose a reason
        </option>
        <%= options_for_select(minimize_reasons_for_select) %>
      </select>
    </p>
    <button type="submit" class="btn btn-block btn-danger js-comment-hide-button">
      Hide comment
    </button>
  <% end %>
</div>

