<div class="text-center">
  Need help? Check out our <a href="<%= GitHub.help_url %>" class="a-style-3">documentation</a> or <a href="https://support.github.com/contact" class="a-style-3">contact us</a>.
</div>
