Hello there!

On <%= @time %> your application (<%= @application.name %>) used an access token<%= unless @user_agent.blank?; " (with the User-Agent #{@user_agent})"; end %> as part of a query parameter to access an endpoint through the GitHub API.

<%= @url %>

Please use the Authorization HTTP header instead as using the `access_token` query parameter is deprecated.

Depending on your API usage, we'll be sending you this email reminder on a monthly basis.

Visit <%= "#{GitHub.developer_blog_url}/2020-02-10-deprecating-auth-through-query-param" %> for more information about suggested workarounds and removal dates.

Thanks,
The GitHub Team
