Hi @<%= @org.login %> Admin,

On <%= @time %> the application "<%= @application.name %>" owned by your organization issued a request using the deprecated endpoint for creating access tokens. GitHub has deprecated this undocumented endpoint, its replacement which accepts the same arguments is available now.

This endpoint will be removed on October 1st, 2020.

Please visit <%= "#{GitHub.developer_blog_url}/2020-04-15-replacing-create-installation-access-token-endpoint" %> for more information about suggested changes, brownouts, and removal dates.

Thanks,
The GitHub Team
