@<%= @requestor %> has requested approval for a third-party application to access <%= @org_name %> organization resources via the GitHub API:

  "<%= @app_name %>" from <%= @app_owner_name %>

Until it is approved, this application will have no access to private resources and will have read-only access to public resources belonging to your organization.

You may approve or deny this request here:

  <%= @approvals_url %>

Learn more about organization application access policies in this GitHub Help article:

  <%= GitHub.help_url %>/articles/about-third-party-application-restrictions/
