<h2 style="-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;">
  An admin of the <strong><a href="<%= "#{GitHub.url}/#{@org.login}" %>"><%= @org.safe_profile_name %></a></strong> organization just verified the <strong><a href="<%= @domain %>"><%= @domain %></a></strong> domain.
</h2>

<p>Hi <strong>@<%= @user.login %></strong>,</p>

<p>Previously, admins of the <strong><a href="<%= "#{GitHub.url}/#{@org.login}" %>"><%= @org.safe_profile_name %></a></strong> organization could see:</p>
<ul style="text-align:left;">
  <li>If you have two-factor authentication enabled or not</li>
  <li>Your public profile information</li>
  <li>Certain activity within this organization</li>
  <li>Country of request origin</li>
  <li>Your access level to repositories within the organization</li>
  <li>Your IP address</li>
</ul>

<p>Now, admins will also be able to see:<p>

  <ul style="text-align:left;">
    <li>Your <strong>email address</strong> in the <strong><a href="<%= @domain %>"><%= @domain %></a></strong> domain.</li>
  </ul>
