Hi @<%= @actor.login %>,

You attempted to enable the two-factor authentication requirement for the <%= @organization.safe_profile_name %> organization.

Enabling the requirement was not successful. Please try again.

<%= settings_org_security_url(@organization) %>

Cheers & Octocats,
GitHub Support
