Hi @<%= @org.login %> Admin,

We're contacting you regarding upcoming changes to GitHub Apps owned by your organization:
<% @app_names.each do |name| %>
  - <%= name %>
<%end %>

We no longer support two events which your GitHub Apps may rely on, "integration_installation" and "integration_installation_repositories".

These events can be replaced with the "installation" and "installation_repositories" events respectively. 

The "integration_installation" and "integration_installation_repositories" events will be removed after October 1st, 2020.

Please visit <%= "#{GitHub.developer_blog_url}/2020-04-15-replacing-the-installation-and-installation-repositories-events" %> for more information about suggested changes, brownouts, and removal dates.

Thanks,
The GitHub Team
