<h1 class="primary-heading" style="-webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;">
  The <strong><%= link_to "@#{@org.login}", user_url(@org) %></strong>
  organization has restricted notifications to domain emails
</h1>

<hr class="rule">

<p>
  Hi @<strong><%= @user.login %></strong>,
</p>

<p>
  The <strong><%= @org.login %></strong> organization now requires a verified
  email from one of the following domains in order to receive notifications from
  repositories owned by the organization:
</p>

<ul style="text-align: left;">
  <% @verified_domains.each do |domain| %>
    <li><strong><%= domain %></strong></li>
  <% end %>
</ul>

<p>
  If you would like to continue receiving email notifications for
  <strong><%= @org.login %></strong>, you must add a verified email from one of
  those domains. You can <a href="<%= settings_user_emails_url %>">add one in your email settings</a>.
</p>
