The @<%= @org.login %> organization has restricted notifications to domain emails.

Hi @<%= @user.login %>,

The <%= @org.login %> organization now requires a verified email from one of the following domains in order to receive notifications from repositories owned by the organization:

<% @verified_domains.each do |domain| %>
  - <%= domain %>
<% end %>

If you would like to continue receiving email notifications for <%= @org.login %>, you must add a verified email from one of those domains. You can add one in your email settings:

<%= settings_user_emails_url %>
