<%# ivars in scope: @user @org @signature @reason %>
<%- org_name = @org.safe_profile_name -%>

<h1 class="primary-heading">
  You have been removed from the
  <strong><%= link_to "@#{org_name}", user_url(@org) %></strong>
  organization
</h1>

<hr class="rule">

<% if @user.present? %>
  <p>
    Hi @<strong><%= @user.login %></strong>,
  </p>
<% end %>

<% case @reason %>
<% when :two_factor_requirement_non_compliance %>
  <p>
    You’ve been removed from the <%= org_name %> organization because you don’t
    have two-factor authentication on your user account. The
    <%= org_name %> organization requires all members to have two-factor
    authentication enabled.
  </p>

  <%= render :partial => "mailers/global/cta_button",
  :locals => {
    :text => "Turn on two-factor authentication",
    :center => true,
    :url => settings_user_security_url(:via_email => "1") } %>

  <p>
    <strong>What happens after that?</strong>
  </p>

  <p>
    After you’ve enabled two-factor authentication, contact a member of your
    organization to let them know you want your access restored. Only a person
    with owner permissions in your organization can restore your membership and
    previous privileges directly. If the person you contact isn’t an
    organization owner, <a href="<%= @lookup_org_owner_help_doc_url %>">they can
    look up an organization owner</a> and forward your request to them.
  </p>

  <hr class="rule">

  <p class="email-text-small email-text-gray">
    Trouble with the button above? Copy and paste the following link into your
    browser:
    <br>
    <%= link_to settings_user_security_url,
    settings_user_security_url(:via_email => "1") %>
  </p>
<% when :saml_external_identity_missing %>
  <p>
    You’ve been removed from the <%= org_name %> organization because SAML single sign-on
    has been enforced for all members of <%= org_name %>.
  </p>

  <p>
    You can rejoin <%= org_name %> by authenticating via SAML single sign-on.
  <p>

  <%= render :partial => "mailers/global/cta_button",
  :locals => {
    :text => "Single sign-on",
    :center => true,
    :url => org_idm_sso_url(@org) } %>

  <hr class="rule">

  <p class="email-text-small email-text-gray">
    Trouble with the button above? Copy and paste the following link into your
    browser:
    <br>
    <%= link_to org_idm_sso_url(@org), org_idm_sso_url(@org) %>
  </p>
<% else %>
  <p>
    You’ve been removed from the <%= org_name %> organization.
  </p>
<% end %>
