<%- org_name = @org.safe_profile_name -%>
<% if @user.present? %>
Hi @<%= @user.login %>,

<% end %>
<% case @reason %>
<% when :two_factor_requirement_non_compliance %>
You’ve been removed from the <%= org_name %> organization because you don’t have two-factor authentication on your user account. The <%= org_name %> organization requires all members to have two-factor authentication enabled.

What happens after that?

After you’ve enabled two-factor authentication, contact a member of your organization to let them know you want your access restored. Only a person with owner permissions in your organization can restore your membership and previous privileges directly. If the person you contact isn’t an organization owner, they can look up an organization owner (<%= @lookup_org_owner_help_doc_url %>) and forward your request to them.

Visit <%= settings_user_security_url %> to enable two-factor authentication on your account.
<% when :saml_external_identity_missing %>
You’ve been removed from the <%= org_name %> organization because SAML single sign-on has been enforced for all members of <%= org_name %>.

Visit <%= org_idm_sso_url(@org) %> to authenticate with SAML single sign-on.
<% else %>
You’ve been removed from the <%= org_name %> organization.
<% end %>

Cheers & Octocats,
GitHub Support
