You’ve been added to the <%= @team.name %> team for the <%= @org.safe_profile_name %> organization.  <%= @team.name %> has <%= pluralize(@team.members_count, "member") %> and gives access to <%= @team.repositories_scope.count %> <%= @team.organization %> <%= "repository".pluralize(@team.repositories_scope.count) %>.

View <%= @team.name %>: <%= @url %>

Read more about team permissions here: <%= GitHub.help_url %>/articles/what-are-the-different-access-permissions
