<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to your GitHub Enterprise trial</title>
    <%= render "mailers/organization/styles" %>
  </head>

  <body class="body-style">
    <div class="content div-style">
      <!--// HEADER //-->
      <%= render partial: "mailers/organization/header", locals: {email_source: @email_source} %>

      <div class="header-style pb-4 mb-4">
        <h2 class="mb-1 h2-style">
          Thanks for signing up, @<%= @organization.login %>.
        </h2>

        <p class="text-gray my-1">
        You’re a step closer to building better software, faster.
        </p>
      </div>

      <img src="<%= GitHub.mailer_asset_host_url %>/images/email/organization/Enterprise.png" class="resource-img" height="61" alt="new-user-icon">

      <div class="mb-4">
        <h3 class="mb-1 h2-style">
          About your trial
        </h3>

        <p>
        Your 14-day trial of GitHub Enterprise expires on <%= @trail_expiry_date %>. At
        any point during your trial, you can
        <a href="<%= email_link_with_tracking(url: upgrade_url(org: @organization, target: "organization", plan: "business_plus"), email_source: @email_source) %>">upgrade to a paid plan</a>
        or
        <a href="<%= email_link_with_tracking(url: settings_org_billing_url(@organization), email_source: @email_source) %>">delete your trial organization in settings</a>.
        </p>

        <a href="<%= email_link_with_tracking(url: settings_org_billing_url(@organization), email_source: @email_source) %>" class="btn-mktg">
          Go to my account
        </a>

        <p>
        Questions?
        <a href="<%= email_link_with_tracking(url: "#{GitHub.enterprise_web_url}/contact", email_source: @email_source) %>">Talk to our Sales Team</a>
        </p>
      </div>


      <!--// FOOTER //-->
      <%= render partial: "mailers/organization/footer", locals: {email_source: @email_source} %>
    </div>
  </body>
</html>
