<%
external = GitHub.auth.external_user?(current_user)
subtitle = external ? "Confirm password via #{GitHub.auth.name}" : "Confirm password"
%>

<template class="js-sudo-prompt">
  <% form_opts = {:method => :post, :class => ""} %>
  <% form_opts.merge!(u2f_auth_form_options(current_user)) if sudo_u2f_available? %>
  <% form_opts[:class] += " js-sudo-form d-flex flex-column" %>
  <%= form_tag sudo_path, form_opts do -%>
    <div class="Box-header Box-header--blue">
      <h1 class="Box-title">
        <%= octicon "lock", class: "mr-1" %>
        Confirm password to continue
      </h1>
    </div>
    <div class="flash flash-error js-sudo-error flash-full" hidden></div>
    <div class="Box-body overflow-auto<%= ' sudo-u2f-auth-form-body js-u2f-auth-form-body' if sudo_u2f_available? %>">
      <% if external %>
        <label for="sudo_login_field">Username</label>
        <%= text_field_tag 'sudo_login', '', :class => "input-block mt-1", :id => 'sudo_login_field', :autocapitalize => :off, autofocus: true %>
        <label for="sudo_password">Password</label>
        <%= password_field_tag "sudo_password", GitHub.default_password, class: "input-block js-sudo-password mt-1", id: "sudo_password" %>
      <% else %>
        <label for="sudo_password">Password <%= link_to("(Forgot password)", password_reset_path) %></label>
        <%= password_field_tag 'sudo_password', GitHub.default_password, class: "input-block js-sudo-password mt-1", id: 'sudo_password', autofocus: true %>
      <% end -%>
      <button type="submit" class="btn mt-3">Confirm password</button>

      <% if sudo_u2f_available? %>
        <%= render(partial: "/sessions/security_key/waiting") %>
        <%= render(partial: "/sessions/security_key/messages") %>
        <input type="hidden" name="u2f_response" class="js-u2f-auth-response">
      <% end %>
    </div>
  <% end -%>

</template>
