<% current_organization ? blocker = current_organization : blocker = current_user %>

<% suggestions.each do |user| %>
  <% can_block = blocker.can_block(user) %>

  <li class="member-suggestion typeahead-result <%= "disabled" unless can_block.blockable? %>"
      <% if !can_block.blockable? %>aria-disabled="true"<% end %>
      role="option"
      data-autocomplete-value="<%= user %>">
    <%= avatar_for(user, 24, :class => "avatar") %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= user.login %></strong>
      <span class="member-name">
        <%= user.profile_name %>
      </span>
    </p>

    <% unless can_block.blockable? %>
      <p class="non-member-note"><%= can_block.reason %></p>
      <p class="non-member-action"><%= can_block.reason %></p>
    <% end %>
  </li>
<% end %>
