<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Welcome to the GitHub <%= @betas %></title>
<style media="all" type="text/css">
@media only screen and (max-width: 600px) {
  .onboarding-icon {
    margin: 0 auto 10px auto;
  }
  .onboarding-section td {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .icon-row {
    margin: 0 auto 10px auto;
  }
  .icon-row td {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  table[class=body] h1,
  table[class=body] h2,
  table[class=body] h3,
  table[class=body] h4 {
    font-weight: 600 !important;
  }
  table[class=body] h1 {
    font-size: 24px !important;
  }
  table[class=body] h2 {
    font-size: 20px !important;
  }
  table[class=body] h3 {
    font-size: 16px !important;
  }
  table[class=body] .lead {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  table[class=body] .main {
    padding: 20px !important;
    width: 100% !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    display: block !important;
  }
  table[class=body] .header-padded,
  table[class=body] .body-padded {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
</head>

<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; height: 100% !important; line-height: 1.5; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
  <tr>
    <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; vertical-align: top;" valign="top"></td>
    <td class="main" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 30px 30px 0px 30px; width: 580px;" width="580" valign="top">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">

        <span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">We're thrilled for you to join the program.</span>

        <div class="header" style="box-sizing: border-box; width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #eee;">
          <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
            <tr>
              <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; vertical-align: top;" valign="top">
                <a href="https://github.com" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">
                  <img src="https://gallery.mailchimp.com/9d7ced8c4bbd6c2f238673f0f/images/d66ffcf7-c0a2-48ab-8fe9-e5130cc1293b.png" width="102" height="28" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%;">
                </a>
              </td>
            </tr>
          </table>
        </div>

        <h1 style="color: #111111 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; line-height: 1.25; margin: 0 0 12px; font-size: 34px;">Welcome to the <%= @betas %></h1>
        <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
          Your <%= @membership.member.organization? ? "organization" : "account" %>, <strong><%= @membership.member.name %></strong>, is
          off the waitlist&mdash;you're all set to start using <%= @products %> on <%= @repo_types %> repositories!
        </p>

        <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
          Learn more about <a href="<%= "#{GitHub.help_url}/github/managing-security-vulnerabilities/finding-security-vulnerabilities-in-your-projects-code" %>">code scanning</a><% if @secret_scanning %> and <a href="<%= "#{GitHub.help_url}/github/administering-a-repository/about-token-scanning" %>">secret scanning</a><% end %>.
        </p>

        <% if !@membership.member.advanced_security_private_beta_enabled? %>
        <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
          Note, if you requested access on private repositories as well, you should hear from a member of GitHub's sales team soon with more details.
        </p>
        <% end %>

        <div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
          <hr class="footer-hr" style="height: 0; overflow: visible; margin-top: 30px; border: 0; border-top: 1px solid #eee; color: #999999; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
          <div class="footer-links" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px;">
            <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">
              <a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a> &middot;
              <a href="<%= GitHub.help_url %>/articles/github-privacy-statement/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a> &middot;
              <a href="https://github.com/login" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Sign in to GitHub</a>
            </p>
          </div>
          <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">GitHub, Inc.<br style="color: #999999; font-size: 12px; line-height: 18px;"> 88 Colin P Kelly Jr St.<br style="color: #999999; font-size: 12px; line-height: 18px;"> San Francisco, CA 94107</p>
        </div>
      </div>
    </td>
  </tr>
</table>
</body>
</html>
