<label for="select-all-checkbox" class="table-list-header-meta py-1 <% if selected_users.any? %>sr-only<% end %>">
  Select all
</label>
<% if selected_users.any? %>
  <details class="position-relative details-reset details-overlay">
    <summary class="btn btn-sm mr-3">
      <%= pluralize selected_users.count, "member", "members" %> selected…
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Change license…",
        title: "Change license for #{pluralize selected_users.count, 'member', 'members'}",
        details_class: "width-full",
        button_role: "menuitem",
        button_class: "dropdown-item",
      } do %>
        <%= form_with url: user_license_types_enterprise_bulk_member_actions_path(business_slug), method: :put do |f| %>
          <% selected_users.each do |user_login| %>
            <%= f.hidden_field :user_logins, multiple: true, value: user_login %>
          <% end %>
          <div class="Box-body overflow-auto">
            <div class="form-checkbox">
              <%= f.label :license_type_enterprise do %>
                <%= f.radio_button :license_type, :enterprise, disabled: enterprise_licenses.maxed_out? %>
                Enterprise
              <% end %>
              <%= render partial: "businesses/enterprise_license_usage_note", locals: { licenses: enterprise_licenses } %>
            </div>

            <div class="form-checkbox">
              <%= f.label :license_type_volume do %>
                <%= f.radio_button :license_type, :volume %>
                Enterprise with Visual Studio Subscription
              <% end %>
              <%= render partial: "businesses/volume_license_usage_note", locals: { licenses: volume_licenses } %>
            </div>
          </div>
          <div class="Box-footer">
            <%= f.submit "Change license", class: "btn btn-danger", data: { "close-dialog" => true } %>
          </div>
        <% end %>
      <% end %>
    </details-menu>
  </details>
<% end %>
