<% view = Businesses::PeopleView.new(query: query) %>
<% enterprise_licenses = Businesses::EnterpriseLicensesView.for_business(this_business) %>
<% volume_licenses = Businesses::VolumeLicensesView.for_business(this_business) %>
<% license_changes_allowed = !GitHub.single_business_environment? && this_business.volume_licensing_enabled? && !bundled_license_assignments_enabled?(this_business) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to people_enterprise_path(this_business.slug), class: "issues-reset-query" do %>
      <%= octicon "x", class: "issues-reset-query-icon" %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next<%= " flex-items-center px-3" if license_changes_allowed %>">
  <% if license_changes_allowed %>
    <div class="pr-3">
      <input type="checkbox" id="select-all-checkbox" data-check-all>
    </div>

    <div class="select-all-dropdown js-bulk-actions flex-auto" <%= test_selector("change-license-bulk-actions") %>>
      <%= render partial: "businesses/bulk_member_actions", locals: { selected_users: [], business_slug: this_business.slug, enterprise_licenses: enterprise_licenses, volume_licenses: volume_licenses } %>
    </div>
  <% else %>
    <span class="table-list-heading table-list-header-meta flex-auto">
      <%= number_with_delimiter members.count %>
      <%= pluralize_without_number members.count, "person" %>
      in <%= this_business.name %>
    </span>
  <% end %>

  <div class="table-list-header-toggle pl-0">
    <% unless GitHub.single_business_environment? %>
      <% if this_business.volume_licensing_enabled? %>
        <details class="details-reset details-overlay select-menu d-inline-block">
          <summary class="btn-link select-menu-button">
            License
          </summary>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
            <div class="select-menu-header">
              <span class="select-menu-title">Filter by license type</span>
            </div>
            <div class="select-menu-list">
              <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(license: nil)) %>"
                 class="select-menu-item" aria-checked="<%= view.license.nil? %>" role="menuitemradio">
                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text">All</div>
              </a>
              <% UserLicense.license_types.keys.each do |value| %>
                <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(license: value)) %>"
                   class="select-menu-item" aria-checked="<%= view.license == value %>" role="menuitemradio">
                  <%= octicon("check", class: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= value.capitalize %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
      <details class="details-reset details-overlay select-menu d-inline-block">
        <summary class="btn-link select-menu-button">
          Deployment
        </summary>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
          <div class="select-menu-header">
            <span class="select-menu-title">Filter by deployment type</span>
          </div>
          <div class="select-menu-list">
            <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: nil)) %>"
               class="select-menu-item" aria-checked="<%= view.deployment.nil? %>" role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">All</div>
            </a>
            <% value = Platform::Enums::EnterpriseUserDeployment.values["CLOUD"].value %>
            <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: value)) %>"
               class="select-menu-item" aria-checked="<%= view.deployment == value %>" role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Cloud</div>
            </a>
            <% value = Platform::Enums::EnterpriseUserDeployment.values["SERVER"].value %>
            <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: value)) %>"
               class="select-menu-item" aria-checked="<%= view.deployment == value %>" role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Server</div>
            </a>
          </div>
        </details-menu>
      </details>
    <% end %>
    <details class="details-reset details-overlay select-menu d-inline-block">
      <summary class="btn-link select-menu-button">
        Role
      </summary>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by role</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: nil)) %>"
             class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Everyone</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["OWNER"].value %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Owners</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["MEMBER"].value %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Members</div>
          </a>
        </div>
      </details-menu>
    </details>
    <details class="details-reset details-overlay select-menu d-inline-block">
      <summary class="btn-link select-menu-button">
        Organization
      </summary>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"
        src="<%= org_filter_menu_content_enterprise_path(this_business.slug, query: query, q: params[:q]) %>"
        preload>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by organization</span>
        </div>
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <input type="text" id="orgs-filter-field" class="form-control js-filterable-field"
              placeholder="Filter organizations" aria-label="Filter organizations"
              autocomplete="off" autofocus>
          </div>
        </div>
        <include-fragment class="select-menu-loading-overlay anim-pulse" aria-label="Loading">
          <%= octicon "octoface", height: 32 %>
        </include-fragment>
      </details-menu>
    </details>
  </div>
</div>

<% if members.count > 0 %>
  <ul>
    <% members.each do |member| %>
      <% member_organizations = capture do %>
        <div class="text-gray d-flex">
          <% server_count = GitHub.single_business_environment? ? 0 : member.user_enterprise_installations.count %>
          <%= view.membership_count_label(view.enterprise_organizations_for(business: this_business, member: member, viewer: current_user).count, server_count) %>
        </div>
      <% end %>
      <%= render layout: "businesses/user_list_card", locals: {
        user: member.is_a?(BusinessUserAccount) ? (member.user.blank? ? nil : member) : member,
        # If user is provided as nil show a "person" octicon as the server-only
        # EnterpriseUserAccount avatar.
        octicon: "person",
        user_link: view.organization_member_link(member.is_a?(BusinessUserAccount) ? member.id : member.login),
        user_link_data_options: view.organization_member_link_data_options(member),
        primary_name: member.name.present? ? member.name : member.login,
        secondary_name: member.name.present? ? member.login : nil,
        subtitle: member_organizations,
        spammy: !GitHub.single_business_environment? && member&.user&.spammy?,
        selectable: license_changes_allowed,
        login: member.login
      } do %>
        <% if license_changes_allowed %>
          <div class="d-flex" <%= test_selector("change-license") %>>
            <div class="text-gray py-3 f5">
              <details class="details-reset details-overlay dropdown float-right">
                <summary class="btn btn-sm select-menu-button">
                  <%= octicon("gear", :"aria-label" => "Member settings") %>
                </summary>

                <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-sw">
                  <%= render layout: "shared/details_dialog", locals: {
                    button_text: "Change license…",
                    title: "Change license for #{member.login}",
                    details_class: "width-full",
                    button_role: "menuitem",
                    button_class: "dropdown-item",
                  } do %>
                    <%= form_for UserLicense.new(license_type: this_business.user_licenses.find_by(user_id: (member.is_a?(BusinessUserAccount) ? member.user_id : member.id))&.license_type&.downcase),
                      url: user_license_path(slug: this_business.slug, login: member.login),
                      method: :put,
                      namespace: "user_license_#{member.login}" do |f| %>
                      <div class="Box-body overflow-auto">
                        <div class="form-checkbox">
                          <%= f.label :license_type_enterprise do %>
                            <%= f.radio_button :license_type, :enterprise, disabled: enterprise_licenses.maxed_out? %>
                            Enterprise
                          <% end %>
                          <%= render partial: "businesses/enterprise_license_usage_note", locals: { licenses: enterprise_licenses } %>
                        </div>

                        <div class="form-checkbox">
                          <%= f.label :license_type_volume do %>
                            <%= f.radio_button :license_type, :volume %>
                            Enterprise with Visual Studio Subscription
                          <% end %>
                          <%= render partial: "businesses/volume_license_usage_note", locals: { licenses: volume_licenses } %>
                        </div>
                      </div>
                      <div class="Box-footer">
                        <%= f.submit "Change license", class: "btn btn-danger", data: { "close-dialog" => true } %>
                      </div>
                    <% end %>
                  <% end %>
                </details-menu>
              </details>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(members) %>
  </div>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "people",
    title: "No members",
    description: "There aren’t any members in this enterprise" + (view.original_query.present? ? " matching '#{view.original_query}'" : "") + ".",
  ) %>
<% end %>
