<% view = Businesses::OutsideCollaboratorsView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to outside_collaborators_enterprise_path(this_business.slug), class: "issues-reset-query" do %>
      <%= octicon "x", class: "issues-reset-query-icon" %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter outside_collaborators.count %>
    <%= pluralize_without_number outside_collaborators.count, "outside collaborator" %>
    in <%= this_business.name %>
  </span>

  <div class="table-list-header-toggle pl-0">
    <details class="details-reset details-overlay select-menu d-inline-block">
      <summary class="btn-link select-menu-button">
        Visibility
      </summary>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by repository visibility</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= outside_collaborators_enterprise_path(this_business.slug, query: view.apply_query_filters(visibility: nil)) %>"
            class="select-menu-item" aria-checked="<%= view.visibility.nil? %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <% value = Platform::Enums::RepositoryVisibility.values["PUBLIC"].value %>
          <a href="<%= outside_collaborators_enterprise_path(this_business.slug, query: view.apply_query_filters(visibility: value)) %>"
            class="select-menu-item" aria-checked="<%= view.visibility == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Public</div>
          </a>
          <% value = Platform::Enums::RepositoryVisibility.values["PRIVATE"].value %>
          <a href="<%= outside_collaborators_enterprise_path(this_business.slug, query: view.apply_query_filters(visibility: value)) %>"
            class="select-menu-item" aria-checked="<%= view.visibility == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Private</div>
          </a>
        </div>
      </details-menu>
    </details>
  </div>
</div>

<% if outside_collaborators.count > 0 %>
  <ul class="table-list table-list-bordered">
    <% outside_collaborators.each do |collaborator| %>
      <% collaborator_repositories = capture do %>
        <div class="text-gray d-flex">
          <%= pluralize collaborator.outside_collaborator_repositories(business: this_business).count, "repository" %>
        </div>
      <% end %>
      <%= render partial: "businesses/user_list_card", locals: {
        user: collaborator,
        user_link: outside_collaborator_enterprise_path(this_business.slug, collaborator.login),
        user_link_data_options: view.outside_collaborator_link_data_options(collaborator),
        primary_name: collaborator.name.present? ? collaborator.name : collaborator.login,
        secondary_name: collaborator.name.present? ? collaborator.login : nil,
        subtitle: collaborator_repositories,
        spammy: collaborator.spammy?,
        login: collaborator.login
      } %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(outside_collaborators) %>
  </div>
<% elsif query.present? %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "search",
    title: "No collaborators found",
    description: "There aren’t any outside collaborators in this enterprise matching '#{query}'.",
  )) %>
<% else %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "person",
    title: "No collaborators found",
    description: "No outside collaborators in this enterprise.",
  )) %>
<% end %>
