<% view = Businesses::PendingMembersView.new(invitations: pending_member_invitations, business: this_business) %>

<% if query.present? %>
  <div class="issues-reset-query-wrapper mt-3">
    <%= link_to pending_members_enterprise_path(this_business.slug), class: "issues-reset-query" do %>
      <%= octicon "x", class: "issues-reset-query-icon" %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter pending_member_invitations.count %>
    <%= pluralize_without_number pending_member_invitations.count, "pending member" %>
    in <%= this_business.name %>
  </span>
</div>

<% if pending_member_invitations.count > 0 %>
  <ul>
    <% view.invitations_rollup.each do |invitation, rollup| %>
      <%= render "businesses/pending_member",
            invitation: invitation,
            organization_logins: rollup[:logins] %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(pending_member_invitations, page: current_page) %>
  </div>
<% elsif query.present? %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "search",
    title: "No pending members found",
    description: "There aren’t any pending members in this enterprise matching '#{query}'.",
  )) %>
<% else %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "person",
    title: "No pending members found",
    description: "No pending members in this enterprise.",
  )) %>
<% end %>
