<% # required locals: primary_name %>
<% user ||= nil %>
<% octicon ||= nil %>
<% user_link ||= nil %>
<% user_link_data_options ||= {} %>
<% secondary_name ||= nil %>
<% subtitle ||= nil %>
<% spammy ||= false %>
<% selectable ||= false %>
<% login ||= nil %>

<li class="d-flex flex-justify-between flex-items-center border border-top-0 p-3 js-bulk-actions-item" data-bulk-actions-id="<%= login %>">
  <div class="d-flex">
    <% if selectable %>
      <div class="d-flex flex-items-center pr-3" <%= test_selector("change-license-selectable-user") %>>
        <input type="checkbox" name="user_ids[]" value="<%= login %>" aria-labelledby="user-<%= login %>" class="js-bulk-actions-toggle" data-check-all-item>
      </div>
    <% end %>

    <div class="d-flex">
      <% if user %>
        <% if user_link %>
          <%= link_to user_link, class: "text-bold", data: user_link_data_options do %>
            <%= business_user_avatar(user, 48, class: "avatar mr-2") %>
          <% end %>
        <% else %>
          <%= business_user_avatar(user, 48, class: "avatar mr-2") %>
        <% end %>
      <% elsif octicon %>
        <%= octicon(octicon, height: 48, width: 48, class: "text-gray mr-2") %>
      <% end %>

      <div class="d-flex flex-column">
        <div class="d-flex f4">
          <% if user_link %>
            <%= link_to user_link, class: "text-bold", id: "user-#{login}", data: user_link_data_options do %>
              <%= primary_name %>
            <% end %>
          <% else %>
            <span class="text-bold"><%= primary_name %></span>
          <% end %>
          <% if secondary_name %>
            <span class="ml-1 text-gray"><%= secondary_name %></span>
          <% end %>
          <% if spammy %>
            <span class="ml-2">
              <%= render "shared/under_review_label" %>
            </span>
          <% end %>
        </div>

        <% if subtitle %>
          <div class="text-gray">
            <%= subtitle %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= yield if block_given? %>
</li>
