<%# erblint:disable LandmarkHasLabel %>
<% page_info responsive: false, title: "Members · #{this_business.name}", stafftools: business_stafftools_resource_path(this_business), selected_link: :business_outside_collaborators %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Members"
  } do %>
    <div class="d-flex flex-items-center flex-justify-between mb-3">
      <div class="d-flex">
        <%= form_tag outside_collaborators_enterprise_path(this_business.slug), :method => :get, :class => "subnav-search float-left ml-0", "data-autosearch-results-container" => "business-outside-collabs-list" do %>
          <div class="auto-search-group mr-2">
            <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
              placeholder="Find an outside collaborator…"
              aria-label="Find an outside collaborator…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= octicon('search') %>
            <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
          </div>
        <% end %>

        <nav>
          <%= selected_link_to "Members",
                people_enterprise_path(this_business.slug),
                highlight: %i(business_people business_pending_members),
                class: "subnav-item" %>
          <%= selected_link_to "Outside collaborators",
                outside_collaborators_enterprise_path(this_business.slug),
                highlight: %i(business_outside_collaborators business_pending_collaborators),
                class: "subnav-item" %>
        </nav>
      </div>

      <div class="d-flex py-1">
        <% if pending_collaborators_count > 0 %>
          <%= link_to "#{pending_collaborators_count} pending",
            pending_collaborators_enterprise_path(this_business.slug),
            class: "btn btn-outline",
            title: "Pending outside collaborators" %>
        <% end %>
      </div>
    </div>

    <div id="business-outside-collabs-list" data-pjax-container>
      <%= render "businesses/outside_collaborators_list", query: query, outside_collaborators: outside_collaborators %>
    </div>
<% end %>
