<% page_info responsive: false, title: "Pending outside collaborators · #{this_business.name}", stafftools: business_stafftools_resource_path(this_business), selected_link: :business_pending_collaborators %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Pending collaborators",
    back_to_link_path: outside_collaborators_enterprise_path(this_business.slug),
    back_to_link_text: "outside collaborators"
  } do %>
    <div class="d-flex flex-column">
      <%= form_tag pending_collaborators_enterprise_path(this_business.slug), :method => :get, :class => "subnav-search float-left ml-0", "data-autosearch-results-container" => "business-pending-collabs-list" do %>
        <div class="auto-search-group mr-2">
          <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a pending collaborator…"
            aria-label="Find a pending collaborator…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= octicon('search') %>
          <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
        </div>
      <% end %>
    </div>

    <div id="business-pending-collabs-list" data-pjax-container>
      <%= render "businesses/pending_collaborators_list", query: query, pending_collaborators: pending_collaborators %>
    </div>
<% end %>
