<%# erblint:disable LandmarkHasLabel %>
<% page_info responsive: false, title: "Members · #{this_business.name}", stafftools: business_stafftools_resource_path(this_business), selected_link: :business_people %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Members"
  } do %>
    <div class="d-flex flex-items-center flex-justify-between mb-3">
      <div class="d-flex">
        <%= form_tag people_enterprise_path(this_business.slug), :method => :get, :class => "float-left ml-0", "data-autosearch-results-container" => "business-members-list" do %>
          <div class="auto-search-group mr-2">
            <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
              placeholder="Find a member…"
              aria-label="Find a member…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= octicon('search') %>
            <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
          </div>
        <% end %>

        <nav>
          <%= selected_link_to "Members",
                people_enterprise_path(this_business.slug),
                highlight: %i(business_people business_pending_members),
                class: "subnav-item" %>
          <% if this_business.owner?(current_user) %>
            <%= selected_link_to "Outside collaborators",
                outside_collaborators_enterprise_path(this_business.slug),
                highlight: %i(business_outside_collaborators business_pending_collaborators),
                class: "subnav-item" %>
          <% end %>
        </nav>
      </div>

      <div class="d-flex py-1">
        <% if current_user_can_manage_settings(this_business) && pending_member_invitations_count > 0 %>
          <%= link_to "#{pending_member_invitations_count} pending",
                pending_members_enterprise_path(this_business),
                class: "btn btn-outline",
                title: "Pending members" %>
        <% end %>
      </div>
    </div>

    <div id="business-members-list" data-pjax-container class="js-bulk-actions-container js-check-all-container" data-bulk-actions-url="<%= enterprise_bulk_member_actions_path(this_business.slug) unless GitHub.single_business_environment? %>" data-bulk-actions-parameter="user_ids">
      <%= render "businesses/members_list", members: members, query: query %>
    </div>
<% end %>
