<% page_info responsive: false, title: this_business.name,
  stafftools: business_stafftools_resource_path(this_business) %>

<% if pending_invitation.present? %>
  <div class="invited-banner flash flash-warn mb-0"
    <%= test_selector "admin-invitation-banner-#{pending_invitation.id}" %>>
    <p>
      <%= link_to pending_invitation.inviter.login, user_path(pending_invitation.inviter), class: "inviter-link" %>
      invited you to become <%= pending_invitation.role_for_message %> of the
      <strong><%= this_business.name %></strong> enterprise
      <%= time_ago_in_words_js pending_invitation.created_at %>.
      <%
        invitation_url = if pending_invitation.owner?
          admin_invitation_enterprise_path(this_business)
        elsif pending_invitation.billing_manager?
          billing_manager_invitation_enterprise_path(this_business)
        end
      %>
      <%= link_to "View invitation", invitation_url, class: "btn btn-sm primary" %>
    </p>
  </div>
<% end %>

<% if organizations.any? %>
  <% title = [
    number_with_delimiter(organizations.count),
    pluralize_without_number(organizations.count, "organization")
  ].join(" ") %>
<% end %>

<%= render layout: "businesses/layout", locals: { business: this_business, title: title } do %>
  <% if organizations.any?  %>
    <%= render "businesses/organizations/nav" %>
  <% end %>
  <div id="business-organizations-list" data-pjax-container>
    <%= render "businesses/organizations_list",
      organizations: organizations,
      organization_counters: organization_counters,
      query: query,
      can_create_organization: can_create_organization %>
  </div>
<% end %>
