<%# `view` is an instance of `Orgs::Repositories::IndexPageView` %>
<% id_prefix = nil unless local_assigns.key?(:id_prefix) %>

<div class="border-bottom border-gray-light mb-3 pb-md-3">
  <% if view.show_new_repository_button? %>
    <a class="d-md-none btn btn-primary d-flex flex-items-center flex-justify-center width-full mb-4" href="<%= new_org_repository_path(view.organization) %>" data-ga-click="Orgs, new repository, location:profile repo toolbar; text:New repository">
    <%= octicon("repo", class: "mr-1") %>
    New
    </a>
  <% end %>

  <div class="d-flex">
    <%= form_tag user_path(view.organization), :method => :get,
            :"data-autosearch-results-container" => "org-repositories",
            :"class" => "col-12 col-md-8 mb-4 mb-md-0",
            :role => "search" do %>
      <div class="d-flex flex-column flex-md-row flex-auto">
        <div class="auto-search-group mb-2 mb-md-0 flex-auto">
          <input type="search" id="<%= id_prefix %>your-repos-filter" name="q"
                 class="auto-search-input form-control width-full"
                 placeholder="Find a repository&hellip;"
                 autocomplete="off"
                 aria-label="Find a repository&hellip;"
                 value="<%= view.phrase %>"
                 data-throttled-autosubmit>
          <%= octicon "search" %>
          <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="16" height="16" class="spinner" alt="">
        </div>
        <div class="d-flex">
          <details class="details-reset details-overlay select-menu hx_rsm hx_rsm--auto-height mr-1 ml-md-2 d-inline-block select-menu-modal-right">
            <summary class="btn select-menu-button">
              <i>Type:</i>
              <span data-menu-button>
                <%= view.selected_type_filter(type: view.type_filter, types: view.type_filters) %>
              </span>
            </summary>
            <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
              <div class="select-menu-header text-left">
                <span class="select-menu-title">Select type</span>
              </div>
              <div class="select-menu-list">
                <% view.type_filters.each do |value, name| %>
                  <label class="select-menu-item" role="menuitemradio" aria-checked="<%= view.type_filter.to_s == value %>" tabindex="0">
                    <%= radio_button_tag "type", value, view.type_filter.to_s == value, :"data-autosubmit" => true, id: "#{id_prefix}type_#{value}" %>
                    <%= octicon("check", class: "select-menu-item-icon") %>
                    <span class="text-normal select-menu-item-text" data-menu-button-text><%= name %></span>
                  </label>
                <% end %>
              </div>
            </details-menu>
          </details>

          <% if view.show_language_search? %>
            <details class="details-reset details-overlay select-menu hx_rsm d-inline-block select-menu-modal-right">
              <summary class="btn select-menu-button">
                <i>Language:</i>
                <span data-menu-button>
                  <%= view.selected_language %>
                </span>
              </summary>
              <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
                <div class="select-menu-header text-left">
                  <span class="select-menu-title">Select language</span>
                </div>
                <div class="select-menu-list">
                  <label class="select-menu-item" role="menuitemradio" aria-checked="<%= view.language.blank? %>" tabindex="0">
                    <%= radio_button_tag "language", "", view.language.blank?, :"data-autosubmit" => true %>
                    <%= octicon("check", class: "select-menu-item-icon") %>
                    <span class="text-normal select-menu-item-text" data-menu-button-text>All</span>
                  </label>
                  <% view.language_names_for_search.each do |language| %>
                    <label class="select-menu-item" role="menuitemradio" aria-checked="<%= view.language == language.downcase %>" tabindex="0">
                      <%= radio_button_tag "language", language.downcase, view.language == language.downcase, :"data-autosubmit" => true  %>
                      <%= octicon("check", class: "select-menu-item-icon") %>
                      <span class="text-normal select-menu-item-text" data-menu-button-text><%= language %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="d-none d-md-flex flex-md-items-center flex-md-justify-end col-md-4">
      <% if view.show_standalone_customize_pinned_repositories? %>
        <div>
          <details class="details-reset details-overlay details-overlay-dark">
            <summary class="btn-link muted-link js-pinned-items-dialog">
              Customize pins
            </summary>
            <details-dialog
              class="anim-fade-in fast Box Box--overlay d-flex flex-column text-left"
              src="<%= user_pinned_items_modal_path(view.organization) %>" preload>
              <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
            </details-dialog>
          </details>
        </div>
      <% end %>

      <% if view.show_new_repository_button? %>
        <a class="btn btn-primary d-flex flex-items-center flex-justify-center width-auto <%= view.show_standalone_customize_pinned_repositories? ? "ml-md-3" : "ml-md-6" %>" href="<%= new_org_repository_path(view.organization) %>" data-ga-click="Orgs, new repository, location:profile repo toolbar; text:New repository">
          <%= octicon("repo", class: "mr-1") %>
          New
        </a>
      <% end %>
    </div>
  </div>
</div>
