<%# erblint:counter TooltipCounter 1 %>
<%# `view` is an instance of Orgs::OverviewView %>

<%graphql
  fragment Organization on Organization {
    login
    viewerIsSponsoring
    viewerCanSponsor
    hasSponsorsListing
    ...ApplicationHelper::SponsorButton::Sponsorable
  }
%>

<%
  page_info stafftools: stafftools_user_path(view.organization)
  graphql_org = Views::Orgs::Repositories::Header::Organization.new(data)
%>

<header class="pagehead orghead border-bottom-0 pt-0 pt-lg-3">
  <div class="container-lg pt-4 pt-lg-0 p-responsive clearfix">
    <% view.business_invitations.each do |invitation| %>
      <div class="invited-banner flash flash-warn" <%= test_selector("org-invitation-to-enterprise-#{invitation.id}") %>>
        <p>
          <%= view.organization.safe_profile_name %> has been invited by
          <%= link_to invitation.business.name, enterprise_path(invitation.business) %>
          to become a member.
          <%= link_to \
            "View invitation",
            pending_enterprise_organization_invitation_path(invitation.business, invitation.invitee),
            class: "btn btn-sm primary" %>
        </p>
      </div>
    <% end %>

    <% if view.viewer_invited? && view.viewer_opted_in? %>
      <div class="invited-banner flash flash-warn">
        <p>
          <% if view.pending_invitation.show_inviter? %>
            <a href="<%= user_path view.pending_invitation.inviter %>" class="inviter-link"><%= view.pending_invitation.inviter.login %></a>
            invited you to join the
            <strong><%= view.organization.safe_profile_name %></strong> organization
            <%= "as a #{view.pending_invitation.role.to_s.humanize.downcase}" if view.show_role? %>
            <%= time_ago_in_words_js view.pending_invitation.created_at %>.
          <% else %>
            You’re invited to join the
            <strong><%= view.organization.safe_profile_name %></strong> organization.
          <% end %>

          <a href="<%= view.accept_invitation_path %>" class="btn btn-sm primary">View invitation</a>
        </p>
      </div>
    <% end %>

    <% if view.show_new_business_org_message? %>
      <% business = view.organization.business %>
      <div class="flash flash-success mb-4 container-lg px-3">
        <button class="flash-close js-flash-close" type="button"><%= octicon "x", :"aria-label" => "Close" %></button>
        <span class="text-bold"><%= view.organization.safe_profile_name %></span> successfully created as a member of <span class="text-bold"><%= link_to business.name, enterprise_path(business) %></span>.
      </div>
    <% end %>

    <div class="TableObject org-header-wrapper mb-4 d-flex flex-items-start flex-md-items-center">
      <% if view.show_admin_stuff? %>
        <a href="<%= settings_org_profile_path(view.organization) %>" aria-label="Change your organization’s avatar" class="d-block tooltipped tooltipped-s">
          <%= view.organization_avatar(100, "TableObject-item avatar flex-shrink-0") %>
        </a>
      <% else %>
        <%= view.organization_avatar(100, "TableObject-item avatar flex-shrink-0") %>
      <% end %>
      <div class="TableObject-item TableObject-item--primary pb-1 pb-md-0">
        <div class="d-flex flex-justify-between flex-column flex-md-row">
          <h1 class="text-gray-dark lh-condensed mb-1 mb-md-2">
            <%= view.organization.safe_profile_name %>
          </h1>
          <div>
            <% if graphql_org.viewer_is_sponsoring? || graphql_org.viewer_can_sponsor? %>
              <%
                sponsors_sym = graphql_org.viewer_is_sponsoring ? :PROFILE_SPONSORING : :PROFILE_SPONSOR
                sponsors_button_id = graphql_org.viewer_is_sponsoring ? "sponsoring" : "sponsor"
              %>
              <%= graphql_sponsor_button_for(graphql_org,
                  id: "#{sponsors_button_id}-profile-button",
                  class: "btn",
                  data: sponsors_button_hydro_attributes(sponsors_sym, graphql_org.login)
              ) %>
            <% end %>

            <% if logged_in? && graphql_org.has_sponsors_listing && view.organization.adminable_by?(current_user) %>
              <%= link_to(sponsorable_dashboard_path(graphql_org.login),
                          id: "sponsorships-profile-button",
                          class: "btn",
                          'aria-label': "@#{graphql_org.login} Sponsors dashboard",
                          data: sponsors_button_hydro_attributes(:PROFILE_SPONSORS_DASHBOARD, graphql_org.login)) do %>
                <span>Sponsors dashboard</span>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if this_organization_description.present? %>
          <span class="text-gray-light"><%= this_organization_description %></span>
        <% end %>

        <% if view.show_header? %>
          <ul class="d-flex mt-3 list-style-none f6 flex-column flex-md-row <%= view.meta_classes %>">
            <% if view.organization_location.present? %>
              <li style="max-width: 280px" class="mr-md-3 v-align-middle text-gray-dark mb-1 css-truncate css-truncate-target">
                <%= octicon('location', class: 'flex-shrink-0') %>
                <span itemprop="location" title="<%= view.organization_location %>"><%= view.organization_location %></span>
              </li>
            <% end %>
            <% if view.organization_blog.present? %>
              <li style="max-width: 280px" class="mr-md-3 v-align-middle text-gray-dark mb-1 css-truncate css-truncate-target" <%= test_selector("profile-website-url") %>>
                <%= octicon('link', class: 'flex-shrink-0') %>
                <%= safe_autolink(view.organization_blog, "rel" => "nofollow", "itemprop" => "url", "class" => "text-gray-dark", "title" => view.organization_blog) %>
              </li>
            <% end %>
            <% if view.show_organization_twitter? %>
              <li style="max-width: 280px" class="mr-md-3 v-align-middle mb-1 css-truncate css-truncate-target">
                <%=
                  svg(
                    "site/icons/twitter",
                    alt: "Twitter",
                    width: 16,
                    height: 16,
                    class: "flex-shrink-0 octicon"
                  )
                %>
                <%=
                  safe_link_to(
                    "@#{view.organization_twitter_username}",
                    view.organization_twitter_url,
                    rel: "nofollow",
                    itemprop: "url",
                    class: "text-gray-dark",
                    title: view.organization_twitter_username,
                  )
                %>
              </li>
            <% end %>
            <% if (email = view.organization_profile_email(logged_in: logged_in?)).present? %>
              <li style="max-width: 280px" class="mr-md-3 text-gray-dark mb-1 css-truncate css-truncate-target">
                <%= octicon('mail', class: 'v-align-middle flex-shrink-0') %>
                <%= obfuscated_mail_to(email, class: "text-gray-dark", itemprop: "email") %>
              </li>
            <% end %>

            <% if GitHub.domain_verification_enabled? %>
              <%= render partial: "orgs/repositories/verified_domains", locals: { data: data } %>
            <% end %>

          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <%=
    render_partial_view "orgs/header_nav", Orgs::HeaderView,
      organization: view.organization,
      selected_nav_item: :repos
  %>
</header>
