<%= render "orgs/invitations/rate_limited_message", :hide_close => true if view.rate_limited %>

<%= form_tag bulk_org_invitations_create_for_new_org_path(view.organization), method: :post, id: "multi-invite-form" do %>
  <auto-complete src="<%= org_invitations_invitee_suggestions_path(view.organization, badge_size: "small") %>" for="new-org-members-complete-results" <%= test_selector("multi-user-invite") %>
    class="width-full">
    <div class="auto-search-group">
      <div class="js-badge-container">
        <div class="d-flex flex-wrap width-full pt-1 rounded-1 border border-gray-dark hx_badge-search-container js-badge-search-container js-badges flex-items-center"
          <% if show_plan_upgrade_on_invite_page? %> data-allow-plan-increase=true <% end %>>
          <input type="text"
            aria-label="Invite your teammates"
            placeholder="Invite your teammates…"
            class="hx_badge-input hx_badge-input-inline v-align-bottom ml-2 mb-1 f5 flex-auto js-badge-input flex-order-2"
            id="search-member">
        </div>

        <%= render partial: "orgs/invitations/multi_invite_auto_complete", locals: { organization: view.organization } %>
      </div>
    </div>
  </auto-complete>

  <button type="submit" class="btn btn-primary btn-block mt-2 js-auto-complete-button">Invite</button>

  <% if on_per_seat_pricing?(view.organization) %>
    <%= render partial: "orgs/invitations/upgrade_message", locals: { view: view, custom_css_classes: "text-gray f6"} %>
  <% end %>
<% end %>
