<%# `view` is an instance of Orgs::Repositories::PermissionSelectView %>
<%# erblint:counter TooltipCounter 1 %>

<%= form_tag view.submit_path, method: :put, class: "select-menu js-select-repo-permission" do %>
  <details class="details-reset details-overlay d-inline-block">
    <summary class="btn btn-sm select-menu-button" data-menu-button>
      <%= view.selected_action.titlecase %>
    </summary>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
      <div class="select-menu-header d-flex flex-justify-between">
        <span class="select-menu-title">Permission level</span>
        <a href="<%= "#{GitHub.help_url}/articles/repository-permission-levels-for-an-organization" %>">Learn more</a>
      </div>
      <div class="select-menu-list">
        <button type="submit" name="permission" value="pull" class="select-menu-item" aria-checked="<%= view.selected_action?("read") %>" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Read</span>
            <span class="description">Can read and clone this repository. Can also open and comment on issues and pull requests.</span>
          </div>
        </button>
        <% if view.fgp_available? %>
          <button type="submit" name="permission" value="triage" class="select-menu-item" aria-checked="<%= view.selected_action?("triage") %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading select-menu-option-title">Triage</span>
              <span class="d-none" data-menu-button-text>Triage</span>
              <span class="description">Can read and clone this repository. Can also manage issues and pull requests.</span>
            </div>
          </button>
        <% end %>
        <button type="submit" name="permission" value="push" class="select-menu-item" aria-checked="<%= view.selected_action?("write") %>" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Write</span>
            <span class="description">Can read, clone, and push to this repository. Can also manage issues and pull requests.</span>
          </div>
        </button>
        <% if view.fgp_available? %>
          <button type="submit" name="permission" value="maintain" class="select-menu-item" aria-checked="<%= view.selected_action?("maintain") %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading select-menu-option-title">Maintain</span>
              <span class="d-none" data-menu-button-text>Maintain</span>
              <span class="description">Can read, clone, and push to this repository. They can also manage issues, pull requests, and some repository settings.</span>
            </div>
          </button>
        <% end %>
        <button type="submit" name="permission" value="admin" class="select-menu-item" aria-checked="<%= view.selected_action?("admin") %>" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Admin</span>
            <span class="description">Can read, clone, and push to this repository. Can also manage issues, pull requests, and repository settings, including adding collaborators.</span>
          </div>
        </button>
      </div>
    </details-menu>
  </details>
  <span class="js-permission-success" hidden aria-label="Save successful">
    <%= octicon("check", class: "text-green ml-3") %>
  </span>
  <span class="js-permission-error ml-3 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again">
    <%= octicon("alert", class: "text-red") %>
  </span>
<% end %>
