<% if !logged_in? && GitHub.signup_enabled? %>
  <signup-prompt class="signup-prompt-bg rounded-1" data-prompt="signup" hidden>
    <div class="signup-prompt p-4 text-center mb-4 rounded-1">
      <div class="position-relative">
        <button
          type="button"
          class="position-absolute top-0 right-0 btn-link link-gray"
          data-action="click:signup-prompt#dismiss"
          data-ga-click="(Logged out) Sign up prompt, clicked Dismiss, text:dismiss"
        >
          Dismiss
        </button>
        <h3 class="pt-2">Grow your team on GitHub</h3>
        <p class="col-8 mx-auto">GitHub is home to over <%= GitHub.mktg_stat_user %> million developers working together. Join them to grow your own development teams, manage permissions, and collaborate on projects.</p>
        <%= link_to(
          "Sign up",
          signup_path(source: source),
          class: "btn btn-primary",
          "data-ga-click": "(Logged out) Sign up prompt, clicked Sign up, text:sign-up",
          data: sign_up_link_data_attributes(location_in_page: "org repos signup prompt")
        ) %>
      </div>
    </div>
  </signup-prompt>
<% end %>
