<%graphql
  fragment Fragment on Organization {
    name
    verifiedProfileDomains
  }
%>

<%
  organization = Views::Orgs::Repositories::VerifiedDomains::Fragment.new(data)
  domains = organization.verified_profile_domains
%>

<% if domains.any? %>
  <li class="d-inline-block v-align-middle mt-2 mb-0 mt-md-0 mb-md-1">
    <details class="dropdown dropdown-signed-commit details-reset details-overlay js-dropdown-details">
      <summary class="Label Label--outline text-green rounded-1">
        Verified
      </summary>
      <div class="anim-scale-in position-relative" style="z-index: 200;">
        <div class="dropdown-menu dropdown-menu-s p-3 mt-2 Box box-shadow-large py-0 text-gray-dark text-left">
          <p>
            We've verified that the organization <strong><%= organization.name %></strong> controls the <%= "domain".pluralize(domains.count) %>:
          </p>
          <ul>
            <% domains.each do |domain| %>
              <li class="mb-1">
                <%= octicon("verified", class: "mr-1 text-green") %>
                <strong><%= domain %></strong>
              </li>
            <% end %>
          </ul>
          <div class="pt-2">
            <%= link_to "Learn more about verified organizations", "#{GitHub.help_url}/articles/verifying-your-organization-s-domain/" %>
          </div>
        </div>
      </div>
    </details>
  </li>

  <%= prerelease_badge :domain_verification,
    public_name: "organization domain verification",
    external_feedback_url: "https://github.com/maintainers/early-access-feedback/issues/158",
    internal_feedback_url: "https://github.com/github/ce-community-and-safety/issues/771",
    additional_classes: ""
  %>
<% end %>
