<%graphql
  fragment Organization on Organization {
    id
    ...Views::ProfilePins::PinnedItems::ProfileOwner

    pinnedItems(first: $pinned_item_limit) {
      nodes {
        ...Views::ProfilePins::PinnedItems::PinnableItem
      }
    }
    ...Views::Orgs::Domains::VerifiedDomainNotificationBanner::Organization
  }
  fragment Viewer on User {
    isSiteAdmin
  }
%>
<%
  org = Views::Orgs::Repositories::Index::Organization.new(data)
  pinned_items = org.pinned_items.nodes
  has_pins = pinned_items.any?
  viewer = Views::Orgs::Repositories::Index::Viewer.new(viewer)
%>

<%# `view` is an instance of Orgs::Repositories::IndexPageView %>
<%
org_header_title(view.organization)
page_info \
  title: view.page_title,
  description: this_organization_meta_description,
  dashboard_pinnable_item_id: org.id,
  richweb: {
    title: view.page_title,
    url: user_url(view.organization),
    description: this_organization_meta_description,
    image: view.organization_avatar_url(280),
    username: view.organization_login,
    type: "profile",
  }
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<% if view.kicked_out_due_to_two_factor_enforcement? %>
  <div class="flash flash-full flash-warn">
    <div class="container-lg px-3">
      <%= form_tag org_destroy_removed_member_notifications_path(view.organization), :method => :delete do %>
        <button class="flash-close" type="submit"><%= octicon "x" %></button>
      <% end %>
      You were removed from <%= view.organization.safe_profile_name %> organization because you do not have two-factor authentication enabled. <a href="<%= settings_user_security_url %>">Enable two factor authentication</a>.
    </div>
  </div>
<% end %>

<% if view.removed_due_to_saml_enforcement? %>
  <div class="flash flash-full flash-warn">
    <div class="container-lg px-3">
      <%= form_tag org_destroy_removed_member_notifications_path(view.organization), :method => :delete do %>
        <button class="flash-close" type="submit"><%= octicon "x" %></button>
      <% end %>
      You were removed from the <%= view.organization.safe_profile_name %> organization because you must <a href="<%= org_idm_sso_path(view.organization) %>">Single Sign-on</a> to be a member.
    </div>
  </div>
<% end %>

<%= render "orgs/banner_survey", organization: current_organization %>

<%= render "orgs/identity_management/banner", organization: current_organization %>

<%= render "orgs/enterprise_trial_banner", organization: current_organization %>

<% if view.show_notification_restrictions_banner?  %>
  <%= render partial: "orgs/domains/verified_domain_notification_banner", locals: { org: org } %>
<% end %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render_partial_view "orgs/repositories/header", Orgs::OverviewView,
          { organization: view.organization, show_new_business_org_message: flash[:show_new_business_org_message].present? }, locals: { data: data } %>

  <div class="container-lg p-responsive js-pinned-items-reorder-container clearfix">
    <%= render "orgs/repositories/signup_prompt", source: "prompt-org-profile" %>

    <% if view.organization.spammy? && viewer.is_site_admin? %>
      <div class="flash flash-error mb-4">
        This organization is flagged <strong>spammy</strong>.
      </div>
    <% end %>

    <% if has_pins && view.first_page? %>
      <div class="d-flex mb-3 flex-wrap">
        <h2 class="f4 text-normal flex-auto pr-2">
          Pinned repositories
          <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="13" class="spinner pinned-items-spinner js-pinned-items-spinner" alt="">
          <span class="pinned-items-reorder-error js-pinned-items-reorder-message"
            role="status" aria-live="polite"
            data-error-text="Something went wrong."
            data-success-text="Order updated."></span>
        </h2>
        <% if view.can_change_pinned_repositories? %>
          <details class="details-reset details-overlay details-overlay-dark">
            <summary class="btn-link muted-link float-right mt-1 pinned-items-setting-link js-pinned-items-dialog">Customize pinned repositories</summary>
            <details-dialog
              class="anim-fade-in fast Box Box--overlay d-flex flex-column"
              preload
              src="<%= user_pinned_items_modal_path(view.organization) %>">
              <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
            </details-dialog>
          </details>
        <% end %>
      </div>

      <% if view.can_change_pinned_repositories? %>
        <%= form_for view.organization, url: user_reorder_pinned_items_path(view.organization), html: {class: "js-pinned-items-reorder-form", id: "user-#{view.organization.id}-pinned-items-reorder-form"}, method: :put do |f| %>
          <%= render partial: "profile_pins/pinned_items",
                    locals: { pinned_items: pinned_items, profile_owner: org } %>
        <% end %>
      <% else %>
        <%= render partial: "profile_pins/pinned_items",
                   locals: { pinned_items: pinned_items, profile_owner: org } %>
      <% end %>
    <% end %>

    <% if view.show_toolbar? %>
      <%= render partial: "orgs/repositories/filters", locals: { view: view } %>
    <% end %>

    <% if sponsoring_tab %>
      <%= render Sponsors::Orgs::SponsoringComponent.new(
        sponsor: current_organization,
        sponsorships: sponsorships,
      ) %>
    <% else %>
      <div id="org-repositories" data-pjax-container>
        <% if view.show_no_repositories_for_admin? && three_ctas_empty_state_for_org_repos_enabled? %>
          <%= render partial: "orgs/repositories/three_ctas", locals: { view: view } %>
        <% else %>
          <%= render partial: "orgs/repositories/columns", locals: { view: view } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
