<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Commit on Commit {
    ...Views::Commit::AttributionInfo

    associatedPullRequests(first: 1) {
      nodes {
        number
        resourcePath
        title
      }
      totalCount
    }
    author {
      avatarUrl(size: 32)
      name
    }
    diff {
      linesAdded
      linesDeleted
      linesChanged
    }
    id
    messageHeadline
    oid
    repository {
      name
      owner {
        login
      }
    }
    resourcePath
    shortMessageBodyHTML(limit: 300)
  }
%>
<%
  commit = Views::Hovercards::Commits::Show::Commit.new(commit)
  diff = commit.diff
  associated_prs = commit.associated_pull_requests.nodes
  associated_pr_count = commit.associated_pull_requests.total_count
  repo = commit.repository
%>

<div class="p-3" <%= test_selector("commit-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes("commit-hovercard-hover", { commitGlobalRelayId: commit.id, subject: params[:subject] }) %>

  <div class="d-flex">
    <div>
      <%= octicon "git-commit", class: "text-gray-light" %>
    </div>

    <div>
      <pre class="h5 lh-condensed mb-2 ml-2 mt-1 dashboard-break-word" style="white-space: pre-wrap;"><a href="<%= commit.resource_path %>" class="no-underline link-gray-dark d-block"><%= commit.message_headline %></a></pre>

      <% if (html = commit.short_message_body_html).present? %>
        <div class="lh-condensed text-gray mt-2 mb-0 ml-2">
          <div class="commit open">
            <div class="commit-desc">
              <pre class="text-small dashboard-break-word"><%= html %></pre>
            </div>
          </div>
        </div>
      <% end %>

      <% if diff %>
        <div class="d-flex flex-items-start f6 text-gray mt-1 ml-2">
          <span class="lh-condensed">
            <span class="diffstat position-relative float-left" style="top: 0">
              <span class="text-green">
                +<%= number_with_delimiter(diff.lines_added) %>
              </span>
              <span class="text-red">
                −<%= number_with_delimiter(diff.lines_deleted) %>
              </span>
              <span class="tooltipped tooltipped-s" aria-label="<%= number_with_delimiter(diff.lines_changed) %> lines changed">
                <%= format_diffstat_line_from(total: 5, changes: diff.lines_changed, additions: diff.lines_added, deletions: diff.lines_deleted) %>
              </span>
            </span>
          </span>
        </div>
      <% end %>
    </div>
  </div>

  <div class="border-top mr-n3 ml-n3 mt-3 pt-3">
    <% if associated_prs.any? %>
      <div class="d-flex flex-items-start f6 text-gray px-3">
        <div class="mr-1 flex-shrink-0 hovercard-icon">
          <%= octicon("git-pull-request", class: "text-gray-light", width: 20, height: 16) %>
        </div>

        <span class="lh-condensed">
          <% if associated_pr_count == 1 %>
            <% pr = associated_prs.first %>
            <%= link_to(truncate(pr.title, length: 35) + " ##{pr.number}", pr.resource_path.to_s, class: "text-gray-dark") %>
          <% else %>
            Included in
            <%= link_to "#{associated_pr_count} pull requests", issues_path(repo.owner.login, repo.name, q: "is:open is:pr #{commit.oid}") %>
          <% end %>
        </span>
      </div>
    <% end %>

    <% if commit.author %>
      <div class="d-flex flex-items-start f6 text-gray px-3 <%= "mt-1" if associated_prs.any? %>">
        <div class="mr-1 flex-shrink-0 hovercard-icon">
          <img src="<%= commit.author.avatar_url %>" alt="<%= commit.author.name %>" width="16" height="16" class="<%= avatar_class_names(commit.author) %> v-align-baseline">
        </div>

        <span class="lh-condensed">
          <%= render "commit/attribution_info", commit: commit %>
        </span>
      </div>
    <% end %>
  </div>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
