<div class="Box-row Box-row--focus-gray Details p-3 m-0 d-flex flex-justify-between flex-items-baseline flex-wrap js-navigation-item js-labels-list-item js-label-preview-container">

    <% show_description = label.description.present? %>
    <div class="col-4 pr-3">
      <div class="IssueLabel--big d-inline-block v-align-top lh-condensed js-label-link"
          <%= test_selector("label-link") %>
          style="background-color: #<%= label.color %>; color: #<%= label.text_color %>; <%= "border-color: #eee;" if label.brightness < 0.05 %>"
          <% if show_description %>
            title="<%= label.description %>"
          <% end %> >
        <span <%= test_selector("label-name") %> ><%= html_label_name(label.name) %></span>
      </div>

      <% if label.persisted? %>
        <div class="d-none js-label-preview" data-url-template="/organizations/<%= current_organization.name %>/settings/labels/preview/" data-default-name="Label preview">
          <%= render partial: "orgs/label_settings/preview", locals: { label: label.dup } %>
        </div>
      <% end %>
    </div>

    <div class="col-6 f6 text-gray js-hide-on-label-edit pr-3">
      <% if show_description %>
        <span <%= test_selector("label-detail") %> ><%= label.description %></span>
      <% end %>
    </div>

    <div class="col-2 f6 d-flex flex-justify-end">
      <button class="btn-link link-gray js-edit-label js-hide-on-label-edit" type="button">
        Edit
      </button>

      <%= form_tag delete_org_user_label_path(current_organization, label), method: :delete, class: "d-inline js-delete-label" do %>
        <button type="submit" class="btn-link link-gray ml-3"
          data-confirm="Are you sure? Deleting a label will remove as a default, and no future repositories will receive this label when created.">
          <%= image_tag "spinners/octocat-spinner-32.gif", size: "16x16", class: "js-label-delete-spinner mr-1 v-align-top", alt: "", hidden: true %>
          Delete
        </button>
      <% end %>
    </div>

    <%= form_for label, url: update_org_user_label_path(current_organization, label), method: :put, html: { class: "label-edit d-none js-update-label js-label-form width-full", "data-label-id": label.id } do |f| %>
      <%= render partial: "orgs/label_settings/form", locals: { f: f, label: label } %>
    <% end %>

</div>
