<% page_info title: "Sign in to your accounts" %>

<%= render(Oauth::IdentityManagement::SingleSignOnComponent.new(
  application: application,
  authorized_saml_organizations: authorized_saml_organizations,
  form_data: form_data,
  return_to_url: return_to_url,
  unauthorized_saml_organizations: unauthorized_saml_organizations,
  suggested_org: local_assigns[:suggested_org]
)) do |c| %>
  <% c.with(:shared_flash) do %>
    <%= render "shared/flash" %>
  <% end %>

  <% c.with(:footer) do %>
    <%= link_to "Continue", skip_sso_url, class: "btn btn-block" %>
  <% end %>
<% end %>
