<%
  name = 'Issues Index'
  view = Stafftools::RepositoryViews::Search::IssuesView.new(:repository => repository)
%>
<% if view.purge? %>
  <%= form_tag gh_purge_issues_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn btn-primary boxed-action">Purge Issues</button>
  <% end %>
  <h4 class="attention"><%= octicon("alert", :class => "error mr-1") %><%= name %></h4>
  <p><%= view.purge_reason %></p>
<% elsif view.reindex? %>
  <%= form_tag gh_reindex_issues_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn btn-primary boxed-action">Reindex Issues</button>
    <% if view.purge_before_reindex? %>
      <input type="hidden" name="purge" value="true">
    <% end %>
  <% end %>
  <h4 class="attention"><%= octicon("alert", :class => "error mr-1") %><%= name %></h4>
  <p><%= view.reindex_reason %></p>
<% elsif view.searchable? %>
  <%= form_tag gh_reindex_issues_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn boxed-action">Reindex Issues</button>
  <% end %>
  <h4><%= name %></h4>
  <p>The search index contains <%= pluralize(view.document_count, 'issue') %>.</p>
<% else %>
  <h4><%= name %></h4>
  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
