<%
  name = 'Wiki Index'
  view = Stafftools::RepositoryViews::Search::WikiView.new(:repository => repository)
%>
<% if view.purge? %>
  <%= form_tag gh_purge_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn btn-primary boxed-action">Purge Wiki</button>
  <% end %>
  <h4 class="attention"><%= octicon("alert", :class => "error mr-1") %><%= name %></h4>
  <p><%= view.purge_reason %></p>
<% elsif view.reindex? %>
  <%= form_tag gh_reindex_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn btn-primary boxed-action">Reindex Wiki</button>
  <% end %>
  <h4 class="attention"><%= octicon("alert", :class => "error mr-1") %><%= name %></h4>
  <p><%= view.reindex_reason %></p>
<% elsif view.searchable? %>
  <%= form_tag gh_reindex_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <button type="submit" class="btn boxed-action">Reindex Wiki</button>
  <% end %>
  <h4><%= name %></h4>
  <p>The search index appears to be up to date.</p>
<% else %>
  <h4><%= name %></h4>
  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
