<% is_latest_version = version.version == package&.latest_version&.version %>

<div class="Box-row Box-row--hover-gray d-flex flex-items-center py-2 border-top border-gray-dark">

  <%# Row as admin %>
  <% if viewer_is_admin %>
    <div class="flex-auto">
      <div style="margin-top: 1px;" class="d-flex flex-items-center">
        <% if version.deleted? %>
          <span class="h4 text-gray mr-2"><%= version.version %></span>
        <% else %>
          <%= link_to version.version, package_path(view.owner, package.repository, package.id, version: version.version), class: "h4 link-gray-dark mr-2 break-word" %>
          <% if is_latest_version %>
            <span class="Label Label--outline Label--outline-green">Latest version</span>
          <% end %>
        <% end %>
      </div>
      <%# Metadata %>
      <div style="margin-top: 6px;" class="mb-1 text-small text-gray d-flex flex-items-center">
        <% if version.deleted? %>
          <span class="ml-n1">
            Deleted <%= time_ago_in_words_js version.deleted_at %>
            <% if version.deleted_by.present? %>
              by <%= version.deleted_by %>
            <% end %>
          </span>
        <% else %>
          <span class="mr-3">
            <%= octicon "cloud-download", class: "position-relative", style: "top: 1px;" %>
            <%= number_to_human(total_download_count, units: {:thousand => "k"}, format: "%n%u") %>
          </span>
          <span class="ml-n1">
            <%= octicon "calendar", height: 16 %>
            <%= time_ago_in_words_js version.updated_at %>
            <% if version.author.present? %>
              by <%= version.author %>
            <% end %>
          </span>
        <% end %>
      </div>
    </div>
    <%# Delete button %>
    <% if package.can_be_deleted? && !version.deleted? %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Delete",
        title: "Are you absolutely sure?",
        button_class: "btn btn-sm btn-danger"
      } do %>
        <div class="flash flash-warn flash-full">
          This package had <span class= "text-bold"><%= number_to_human(thirty_day_download_count, units: {:thousand => "k"}, format: "%n%u") %> downloads</span> in the last 30 days.
        </div>
        <div class="Box-body overflow-auto">
          <p class="mb-3">
            This cannot be undone. This will permanently delete the package <strong><%= package.name %> <%= version.version %></strong> so users and processes won’t be able to download this package.
          </p>
          <p class="pt-1">Please type <strong><%= package.name %></strong> to confirm:</p>
          <%= form_for 'delete_package_version_path',
            :url  => destroy_package_version_path(view.owner, current_repository, package.id, version.id),
            :method => :delete do %>
            <p>
              <input type="text" class="form-control input-block" autofocus required
                  autocomplete="off"
                  pattern="<%= case_insensitive_pattern package.name %>"
                  aria-label="Type in the name of the package to confirm that you want to delete this version."
                  name="verify">
            </p>
            <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand the consequences, delete this version</button>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <%# Row as non-admin %>
  <% elsif !version.deleted? %>
    <div class="flex-auto">
      <div style="margin-top: 1px;" class="d-flex flex-items-center">
        <%= link_to version.version, package_path(view.owner, package.repository, package.id, version: version.version), class: "h4 text-gray-dark mr-2 break-word" %>
        <% if is_latest_version %>
          <span class="Label Label--outline Label--outline-green">Latest version</span>
        <% end %>
      </div>
      <%# Metadata %>
      <div style="margin-top: 6px;" class="mb-1 text-small text-gray d-flex flex-items-center">
        <span class="mr-3">
          <%= octicon "cloud-download", class: "position-relative", style: "top: 1px;" %>
          <%= number_to_human(total_download_count, units: {:thousand => "k"}, format: "%n%u") %>
        </span>
        <span class="ml-n1">
          <%= octicon "calendar", height: 16 %>
          <%= time_ago_in_words_js version.updated_at %>
          <% if version.author.present? %>
            by <%= version.author %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>

</div>
