<%# `view` is instance of Registry::Packages::IndexView %>

<%
  page_info(
    title: %{Packages · #{current_repository.name_with_owner}},
    container_xl: true,
    selected_link: :repo_packages,
    skip_pjax_container: true
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render partial: "registry/packages/list", locals: { owner: current_repository, params: params, packages: packages } %>
<% end %>
