<% unless GitHub.enterprise? %>
  <div>
    <span class="text-bold"><%= reserved_login.login %></span>
    <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <span class="text-small mr-2"><%= link_to "#{time_ago_in_words reserved_login.created_at} ago", stafftools_audit_log_path(query: "action:reserved_login.* data.login:#{reserved_login.login}") %> </span>
    <% else %>
      <span class="text-small mr-2"><%= "#{time_ago_in_words reserved_login.created_at} ago" %></span>
    <% end %>
  </div>
  <% if stafftools_action_authorized?(controller: Stafftools::ReservedLoginsController, action: :destroy) %>
    <%= form_tag stafftools_reserved_login_path(login: reserved_login.login), class: "inline-form", method: :delete do %>
      <% if reserved_login.hardcoded? %>
        <% reason = GitHub.enterprise? ? "by GitHub staff" : "in config/initializers/blacklist.rb" %>
        <%= button_tag "Unreserve", class: "btn btn-sm tooltipped tooltipped-w", disabled: true, :"aria-label" => "Reserved #{reason} and cannot be unreserved." %>
      <% else %>
        <%= submit_tag "Unreserve", class: "btn btn-sm" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if GitHub.enterprise? %>
  <div>
    <span class="text-bold"><%= reserved_login %></span>
  </div>
<% end %>
