<%# erblint:disable ProperTagNesting %>
<% page_info \
  :title => "Building the Future - Tiffani Ashley Bell",
  :description => "Since founding The Human Utility in 2014, Tiffani has inspired a global community to come together and help nearly 1,000 families pay their water bills in Detroit and Baltimore.",
  :class => "",
  :marketing_page => true,
  container_xl: true,
  richweb: {
    title: "Building the Future - Tiffani Ashley Bell",
    url: request.original_url,
    description: "Since founding The Human Utility in 2014, Tiffani has inspired a global community to come together and help nearly 1,000 families pay their water bills in Detroit and Baltimore.",
    image: image_path("modules/site/building-the-future/tiffani-thumbnail.jpg"),
  }
%>

<div style="background-color: #10181e;">

<!--Video and biography page-->
  <article class="js-video-container togglevideo p-md-6 ">
    <div class="container-xl position-relative d-block height-full" style="background-image: url(<%= image_path "modules/site/building-the-future/tiffani-thumbnail.jpg" %>); background-size: contain;">
      <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
        <iframe class="js-video-iframe"
          data-src="https://www.youtube.com/embed/T7ZQhooMMDo?autoplay=1"
          frameborder="0" allowfullscreen>
        </iframe>
      </div>
      <div class="video-responsive togglevideo-hidewhenexpanded width-full">
        <a class="d-block position-absolute hover-grow js-video-play btf-play" href="https://www.youtube.com/embed/T7ZQhooMMDo?autoplay=1">
          <img class="" src="<%= image_path "modules/site/building-the-future/play-green-hexagon.svg" %>" alt="Play Video" data-ga-click="Video, play, BTF-Tiffani video">
        </a>
      </div>
    </div>
  </article>

  <div class="position-relative overflow-hidden py-6 pt-md-3 pb-md-12">
     <div class="d-flex flex-wrap">
       <div class="col-md-6 mb-md-6">
         <div class="bg-gray-light box-shadow-large col-9 col-md-10 col-lg-8 p-6 mt-6 mt-md-0 position-relative z-2">
           <h2 class="mb-3 mb-md-2 f0-light lh-condensed btf-display-text track-2 text-uppercase">Tiffani<br>Ashley Bell</h2>
           <a class="mb-2 f3-light text-gray-dark no-underline" href="https://github.com/tiffani">@tiffani</a>
         </div>
         <img class="d-block col-8 col-md-9 offset-2 mt-n4" src="<%= image_path "modules/site/building-the-future/tiffani-treatment.jpg" %>" alt="portrait-test">
       </div>

       <div class="p-3 py-6 p-md-6 col-10 col-md-6 col-lg-5 mt-md-12">
         <p class="pl-6 pl-md-4 text-white lh-tall">Back in 2014, Tiffani Ashley Bell read about Detroit shutting off the water supply for thousands of residents who were behind on their bills. Inspired to do <i>something</i>, she found access to the delinquent accounts—and wondered if she could help pay them off. Along with Kristy Tillman (now at Slack), Tiffani built a website to connect donors with those in need. Since then, The Human Utility has helped nearly 1,000 families and is one of the few non-profits backed by Y Combinator.</p>
         <p class="pl-6 pl-md-4 mt-5 text-white lh-tall">Tiffani was a 2017 Technology and Democracy Fellow at the Harvard Kennedy School of Government and a 2014 Code for America Fellow. She is also the former CEO and Founder of Pencil You In, using code to help businesses easily accept appointments online. Tiffani is a developer working primarily with Ruby on Rails and iOS. She earned a Bachelor of Science in Systems and Computer Science from Howard University in 2008.</p>
         <p class="pl-6 pl-md-4 mt-5 text-white lh-tall">In her free time, Tiffani hoards books and seeks the perfect 300 game in bowling.</p>
         <p class="pl-6 pl-md-4 mt-5 text-white">
          Twitter: <a class="" href="https://twitter.com/tiffani">@tiffani</a> & <a class="text-blue" href="https://twitter.com/HumanUtility">@humanutility</a>
         </p>
        <div class="py-6 pl-6 pl-md-4 hover-grow">
          <a class="no-underline" href="https://github.com/humanutility">
            <div class="btf-gradient-blue rounded-1 text-white" style="padding:2px; width:260px;">
              <div class="p-2 text-center text-uppercase track-2 rounded-1" style="background-color: #10181e;">
                <span class="pr-3"><%= octicon "repo" %></span>Follow Project
              </div>
            </div>
          </a>
        </div>
        <a class="text-white pl-6 pl-md-4 text-uppercase track-2" href="/buildingthefuture"><span class="pr-3"><%= octicon "chevron-left" %></span><stong>Home</strong></a>
       </div>
     </div>
     <img class="position-absolute col-3 top-6 right-n2" style="max-width: 87px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-header.png" %>" alt="">
     <img class="position-absolute col-6 bottom-n6 right-n4 left-md-5" style="max-width: 152px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-1.png" %>" alt="">
     <img class="position-absolute col-2 hide-md hide-lg col-md-1 col-lg-2 bottom-600-lg300 right-n3 right-md-n5" style="max-width: 107px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-outline.png" %>" alt="">
     <img class="position-absolute hide-sm hide-md hide-lg col-3 top-2 left-md-475" style="max-width: 282px;" src="<%= image_path "modules/site/building-the-future/profile-blue-hexagon-1.png" %>" alt="">
  </div>

</div>
