<% page_info \
  :title => "Building the Future",
  :description => "Through a combination of creativity, determination, and (a lot of) carefully crafted code, the future is being built every day.",
  :class => "",
  :marketing_page => true,
  container_xl: true,
  richweb: {
    title: "Building the Future",
    url: request.original_url,
    description: "Through a combination of creativity, determination, and (a lot of) carefully crafted code, the future is being built every day.",
    image: image_path("modules/site/building-the-future/buildingthefuture.jpg"),
  }
%>

<div class="overflow-hidden" style="background-color: #10181e;">
  <div class="position-relative">
    <div class="container-lg mx-auto">
      <div class="py-6 py-md-9">
        <div class="col-sm-8 col-lg-6 p-6 mx-auto z-2">
          <img class="d-block" src="<%= image_path "modules/site/building-the-future/btf-logo.svg" %>" alt="btf-logo">
        </div>
        <div class="col-md-10 col-lg-8 px-5 mb-6 mx-auto text-white text-center lh-tall f4">
          <p>
            Millions of futures are being built every day, and they come from individuals like you. Through the power of open thinking, an open internet, and open source, now is a moment of unrivaled potential. Gone are the days of waiting for someone else to find the way. It’s people like you—with an idea and a passion to ignite change—that are actively building tomorrow.
          </p>
          <p class="mb-0">
            <strong>What future will you build?</strong>
          </p>
        </div>
      </div>
      <article class="js-video-container togglevideo">
        <div class="position-relative d-block height-full" style="background-image: url(<%= image_path "modules/site/building-the-future/buildingthefuture.jpg" %>); background-size: cover;">
          <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive z-2">
            <iframe class="js-video-iframe"
              data-src="https://www.youtube.com/embed/HzZxcfVn_08?autoplay=1"
              frameborder="0" allowfullscreen>
            </iframe>
          </div>
          <div class="video-responsive togglevideo-hidewhenexpanded width-full">
            <a class="d-block position-absolute hover-grow js-video-play btf-play" href="https://www.youtube.com/embed/HzZxcfVn_08?autoplay=1">
              <img class="" style="" src="<%= image_path "modules/site/building-the-future/play-green-hexagon.svg" %>" alt="Play Video" data-ga-click="Video, play, Building the Future video">
            </a>
          </div>
        </div>
      </article>
    </div>

    <img class="position-absolute top-n8 top-md-8 left-n6" style="max-width: 140px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-outline.png" %>" alt="">
    <img class="position-absolute d-none d-lg-block bottom-n12 left-n4 col-2" style="max-width: 270px;" src="<%= image_path "modules/site/building-the-future/purple-hexagon-solid.png" %>" alt="">
    <img class="position-absolute top-2 top-lg-n2 right-n6 right-md-3 right-lg-n5" style="max-width: 140px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-header.png" %>" alt="">
    <img class="position-absolute bottom-n6 right-3 right-md-5 right-lg-8 col-3" style="max-width: 140px;" src="<%= image_path "modules/site/building-the-future/green-purple-hexagons.png" %>" alt="">
    <img class="position-absolute bottom-n6 bottom-n7 right-n8 right-lg-n4 z-2 col-2 col-lg-3" style="max-width: 107px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-outline.png" %>" alt="">
  </div>

  <a href="#documentaries" class="no-underline text-gray-dark d-block js-smoothscroll-anchor p-6">
    <div class="text-center">
      <img class="hover-grow" style="max-width: 50px;" src="<%= image_path "modules/site/building-the-future/hexagon-scrolldown.svg" %>" alt="scroll down">
    </div>
  </a>

  <div class="btf-container mx-auto">
    <div class="position-relative">
      <div class="mx-auto col-md-8 col-lg-6 p-6 my-12 text-center text-white">
        <h2 class="btf-display-text f00-light lh-condensed text-uppercase track-2 mb-3 mb-md-6">The people<br>behind the code</h2>
        <p class="f4 mb-md-8 lh-tall px-lg-4" id="documentaries" style="">With a combination of creativity, code, and determination, these individuals are constantly redefining what it means to be a software developer—and blazing a better path forward. Whether making technology more accessible or solving traditional problems in non-traditional ways, they’re building the future with (a lot of) carefully crafted code.</p>
        <img class="position-absolute col-2 col-md-3 top-n10 top-md-5 top-lg-9 left-2 left-lg-8" style="min-width: 90px; max-width: 162px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-1.png" %>" alt="">
        <img class="position-absolute col-3 bottom-n12 bottom-md-6 top-lg-12 right-n2 right-lg-5" style="max-width: 152px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-2.png" %>" alt="">
        <img class="position-absolute hide-sm hide-md col-md-1 col-lg-3 bottom-md-2 bottom-lg-10 right-md-12 right-lg-11" style="max-width: 96px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-3.png" %>" alt="">
      </div>
    </div>

    <div class="clearfix py-6 py-md-0 mb-6 mb-md-0 position-relative">
      <a class="text-gray-dark no-underline" href="/buildingthefuture/tiffani">
        <div class="bg-gray-light box-shadow-large col-10 col-md-5 col-lg-4 offset-md-6 p-6 p-md-7 p-lg-8 position-relative z-2 hover-grow" href="/buildingthefuture/tiffani" style="max-width:400px;">
          <h2 class="mb-4 lh-condensed btf-display-text f0-light name-md-title track-2 text-uppercase">Tiffani<br>Ashley Bell</h2>
          <p class="mb-5 mb-md-6 mb-lg-7 lh-tall">Since founding The Human Utility in 2014, Tiffani has inspired a global community to come together and help nearly 1,000 families pay their water bills in Detroit and Baltimore.</p>
          <div class="btf-gradient-blue rounded-1" style="padding:2px;">
            <div class="bg-gray-light p-2 text-center text-uppercase track-2 rounded-1">
              <span class="pr-3"><%= octicon "device-camera-video" %></span>Meet Tiffani
            </div>
          </div>
        </div>
      </a>
      <img class="position-absolute z-2 col-1 col-md-2 top-n1 top-md-10 top-lg-12 mt-lg-3 left-3 left-md-6 left-lg-4" style="min-width: 50px; max-width: 90px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-solid.png" %>" alt="">
      <img class="position-absolute hide-sm hide-md hide-lg col-3 top-n3 top-md-8 left-10 left-lg-12 ml-lg-4" style="max-width: 189px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-outline-big.png" %>" alt="">
      <img class="position-absolute z-2 col-2 col-md-1 top-12 right-6 right-md-4 right-lg-5" style="max-width: 75px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-outline.png" %>" alt="">
      <img class="position-absolute z-2 col-2 bottom-1 bottom-lg-10 left-4" style="max-width: 107px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-solid.png" %>" alt="">
      <video class="float-right float-md-left col-10 col-lg-9 position-relative mt-n4 mt-md-n12 mt-lg-n175 top-md-n12" preload="none" muted="true" playsinline="true" autoplay="true" loop="true" poster="<%= image_path "modules/site/building-the-future/tiffani-poster.jpg" %>">
        <source src="<%= image_path "modules/site/building-the-future/tiffani-human-utility.mp4" %>" type="video/mp4">
      </video>
    </div>

    <div class="clearfix py-6 py-md-0 mb-6 mb-md-0 position-relative">
      <a class="text-gray-dark no-underline" href="/buildingthefuture/conrad">
        <div class="bg-gray-light box-shadow-large col-10 col-md-5 col-lg-4 offset-md-1 offset-lg-2 p-6 p-md-7 p-lg-8 position-relative z-2 hover-grow" style="max-width:400px;">
          <h2 class="mb-4 lh-condensed btf-display-text f0-light name-md-title track-2 text-uppercase">Conrad<br>Hollomon</h2>
          <p class="mb-5 mb-md-6 mb-lg-7">At Operation Code, Conrad helps transitioning military veterans and families launch new careers in software development through open source technology.</p>
          <div class="btf-gradient-teal rounded-1" style="padding:2px;">
            <div class="bg-gray-light p-2 text-center text-uppercase track-2 rounded-1">
              <span class="pr-3"><%= octicon "device-camera-video" %></span>Meet Conrad
            </div>
          </div>
        </div>
      </a>
      <img class="position-absolute col-3 col-md-2 bottom-n6 bottom-md-10 left-2 left-md-4" style="max-width: 240px;" src="<%= image_path "modules/site/building-the-future/teal-hexagon-1.png" %>" alt="">
      <img class="position-absolute col-4 col-md-3 top-n3 top-md-12 top-lg-7 mt-md-4 mt-lg-0 right-4 right-md-10 right-lg-12 mr-lg-4" style="max-width:295px;" src="<%= image_path "modules/site/building-the-future/teal-hexagon-2.png" %>" alt="">
      <img class="position-absolute z-2 col-1 top-12 mt-lg-2 right-2" style="max-width: 120px;" src="<%= image_path "modules/site/building-the-future/teal-hexagon-3.png" %>" alt="">
      <video class="float-right col-10 col-lg-9 position-relative mt-n4 mt-md-n12 mt-lg-n175 top-md-n12" preload="none" muted="true" playsinline="true" autoplay="true" loop="true" poster="<%= image_path "modules/site/building-the-future/conrad-poster.jpg" %>">
        <source src="<%= image_path "modules/site/building-the-future/conrad-operation-code.mp4" %>" type="video/mp4">
      </video>
    </div>

    <div class="clearfix py-6 py-md-0 mb-6 mb-md-0 position-relative">
      <a class="text-gray-dark no-underline" href="/buildingthefuture/julius">
        <div class="bg-gray-light box-shadow-large col-10 col-md-5 col-lg-4 offset-md-6 p-6 p-md-7 p-lg-8 position-relative z-2 hover-grow" style="max-width:400px;">
          <h2 class="mb-4 lh-condensed btf-display-text f0-light name-md-title track-2 text-uppercase">Julius<br>Sweetland</h2>
          <p class="mb-5 mb-md-6 mb-lg-7">In a world of expensive eye-tracking keyboards, Julius created OptiKey as a completely free and fully open source alternative—helping those in need use their eyes to communicate.</p>
          <div class="btf-gradient-green rounded-1" style="padding:2px;">
            <div class="bg-gray-light p-2 text-center text-uppercase track-2 rounded-1">
              <span class="pr-3"><%= octicon "device-camera-video" %></span>Meet Julius
            </div>
          </div>
        </div>
      </a>
      <img class="position-absolute z-2 col-5 bottom-2 left-3" style="max-width: 392px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-4.png" %>" alt="">
      <img class="position-absolute col-3 top-n2 right-12 left-md-12" style="max-width:162px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-1.png" %>" alt="">
      <img class="position-absolute z-2 col-2 top-12 mt-8 mt-md-12 right-3 right-md-n2" style="max-width: 138px;" src="<%= image_path "modules/site/building-the-future/green-hexagon-5.png" %>" alt="">
      <video class="float-right float-md-left col-10 col-lg-9 position-relative mt-n4 mt-md-n12 mt-lg-n175 top-md-n12" preload="none" muted="true" playsinline="true" autoplay="true" loop="true" poster="<%= image_path "modules/site/building-the-future/julius-poster.jpg" %>">
        <source src="<%= image_path "modules/site/building-the-future/julius-optikey.mp4" %>" type="video/mp4">
      </video>
    </div>

    <div class="clearfix py-6 py-md-0 mb-8 mb-md-6 position-relative">
      <a class="text-gray-dark no-underline" href="/buildingthefuture/jamica">
        <div class="bg-gray-light box-shadow-large col-10 col-md-5 col-lg-4 offset-md-1 offset-lg-2 p-6 p-md-7 p-lg-8 position-relative z-2 hover-grow" style="max-width:400px;">
          <h2 class="mb-4 lh-condensed btf-display-text f0-light name-md-title track-2 text-uppercase">Jamica<br>El</h2>
          <p class="mb-5 mb-md-6 mb-lg-7">Jamica’s mission is to create open-source tools and inspiring spaces that educate, empower, and entertain others—whether that’s at a non-profit, inside a startup, or out on the dance floor.</p>
          <div class="btf-gradient-purple rounded-1" style="padding:2px;">
            <div class="bg-gray-light p-2 text-center text-uppercase track-2 rounded-1">
              <span class="pr-3"><%= octicon "device-camera-video" %></span>Meet Jamica
            </div>
          </div>
        </div>
      </a>
      <img class="position-absolute top-n4 col-4 col-md-2 right-2 right-md-9 left-lg-n3 top-md-n3 top-lg-10" style="max-width: 140px;" src="<%= image_path "modules/site/building-the-future/purple-hexagon1.png" %>" alt="">
      <img class="position-absolute col-2 col-md-1 bottom-12 left-3 left-md-9 left-lg-12" style="" src="<%= image_path "modules/site/building-the-future/purple-hexagon3.png" %>" alt="">
      <img class="position-absolute z-2 col-6 col-md-4 bottom-n8 bottom-md-n5 right-n4" style="max-width: 350px;" src="<%= image_path "modules/site/building-the-future/purple-hexagon2.png" %>" alt="">
      <video class="float-right col-10 col-lg-9 position-relative mt-n4 mt-md-n12 mt-lg-n175 top-md-n12" preload="none" muted="true" playsinline="true" autoplay="true" loop="true" poster="<%= image_path "modules/site/building-the-future/jamica-poster.jpg" %>">
        <source src="<%= image_path "modules/site/building-the-future/jamica-afrodjiak.mp4" %>" type="video/mp4">
      </video>
    </div>
  </div>


  <div class="container-xl">
    <div class="position-relative btf-border p-6 mt-10">
      <div class="mx-auto col-12 col-md-10 col-lg-7 text-center my-12">
        <div class="d-flex flex-wrap py-4 mx-auto">
          <div class="col-12 col-md-6 px-2">
            <a class="text-gray-dark no-underline" href="https://twitter.com/home?status=Through%20a%20combination%20of%20creativity%2C%20determination%2C%20and%20%28a%20lot%20of%29%20carefully%20crafted%20code%2C%20the%20future%20is%20being%20built%20every%20day.%20github.com%2Fbuildingthefuture">
              <div class="p-2 m-2 text-center text-uppercase text-white track-2 rounded-1 border mx-auto hover-grow" style="max-width: 320px;">
                Share on twitter
              </div>
            </a>
          </div>
          <div class="col-12 col-md-6 px-2">
            <a class="text-gray-dark no-underline" href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/buildingthefuture">
              <div class="p-2 m-2 text-center text-uppercase text-white track-2 rounded-1 border mx-auto hover-grow" style="max-width: 320px;">
                Share on facebook
              </div>
            </a>
          </div>
        </div>
      </div>
    <img class="position-absolute top-3 top-md-5 top-lg-9 left-3 left-lg-8" style="max-width: 158px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-1.png" %>" alt="">
    <img class="position-absolute col-3 bottom-2 bottom-md-6 right-n2 right-lg-7" style="max-width: 87px;" src="<%= image_path "modules/site/building-the-future/blue-hexagon-header.png" %>" alt="">
    </div>
  </div>
</div>
