<%# rubocop:disable Lint/InstanceVariable %>
<%= render layout: "businesses/custom_messages/layout" do %>
  <div>
    <%= form_for @custom_messages, :url => custom_messages_enterprise_path(this_business) do |f| %>
      <%= render Primer::SubheadComponent.new do |component| %>
        <% component.slot(:heading) do %>Suspended user message<% end %>
      <% end %>
      <div class="timeline-comment">
        <%= previewable_comment_form @custom_messages.suspended_message,
          :textarea_id => "custom_message_input_value",
          :field_name => "custom_messages[suspended_message]",
          :placeholder => "Add a message. The default message is \"#{default_suspended_message}\"",
          :session_resumable => false,
          :allow_attachments => false,
          :hide_nav => true,
          :show_task_list_button => false,
          :show_mention_button => false,
          :required => false %>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary float-right ml-2" type="submit"
          data-disable-with="Saving changes…" aria-label="Save changes">
          Save changes
        </button>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form_tag custom_messages_suspended_message_preview_enterprise_path(this_business),
        id: "preview", target: "_blank", method: :put do %>
        <%= hidden_field_tag "custom_message_preview_value" %>
        <button class="btn js-preview-message" type="button">
          Preview
        </button>
      <% end %>
    </div>
  </div>
<% end %>
