<%# erblint:counter TooltipCounter 1 %>

<article class="border rounded-1 box-shadow bg-white my-4">
  <% if @event.image.present? %>
    <%= render(Primer::LinkComponent.new(
      border: :bottom,
      data: explore_click_tracking_attributes(
        actor: current_user,
        click_target: :EVENT_URL,
        click_visual_representation: :EVENT_IMAGE,
        ga_click_text: "Explore, go to event, location:explore feed; text:#{@event.display_name}",
      ),
      display: :block,
      href: @event.url,
    )) do %>
      <img
        src="<%= image_path @event.image %>"
        alt="<%= @event.display_name %>"
        class="d-block width-fit mx-auto"
      >
    <% end %>
  <% end %>

  <div class="p-3">
    <div class="f6 text-gray mb-3">
      <%= render(Primer::TextComponent.new(
        aria: { label: "This is a recommendation by GitHub staff" },
        classes: "tooltipped tooltipped-ne",
      )) do %>
        <%= render GitHub::OcticonComponent.new(icon: "mark-github", mr: 1, color: :gray_9) %>
      <% end %>

      Upcoming event recommended by GitHub
    </div>

    <div class="d-flex">
      <div class="text-center mr-4 ml-2">
        <div class="f5 text-red text-uppercase">
          <%= @event.start_month %>
        </div>

        <div class="f2-light text-gray">
          <%= @event.start_day %>
        </div>
      </div>

      <div class="flex-auto">
        <h1 class="h3-mktg lh-condensed">
          <%= render(Primer::LinkComponent.new(
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_target: :EVENT_URL,
              click_visual_representation: :EVENT_TITLE,
              ga_click_text: "Explore, go to event, location:explore feed; "\
                "text:#{@event.display_name}",
            ),
            href: @event.url,
          )) do %>
            <%= @event.display_name %>
          <% end %>
        </h1>

        <p class="text-gray">
          <%= @event.alternative_date_text.presence || @event.long_date_range %>
          •
          <%= @event.location_short_name %>
        </p>

        <div class="markdown-body f5 mb-2">
          <%= @event.short_description %>
        </div>
      </div>
    </div>
  </div>
</article>
