<div class="col-lg-8">
  <h2 class="h2-mktg pt-4 pt-lg-5">
    GitHub Conferences
  </h2>

  <ul class="list-style-none mb-4">
    <% if @events.any? %>
      <% @events.each do |event| %>
        <%= render Explore::Event::IndexMainItemComponent.new(event: event) %>
      <% end %>
    <% else %>
      <li class="py-3 py-lg-5 d-sm-flex">
        <div class="col-sm-8 col-md-9 col-lg-8 d-md-flex flex-items-center d-lg-block">
          <div class="col-md-8 col-lg-12">
            <h3 class="h3-mktg">
              No Events
            </h3>
          </div>

          <div class="col-md-4 col-lg-12 text-md-right text-lg-left"></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
