<li>
  <%= render(Primer::LinkComponent.new(
    data: { ga_click: "Events, go to #{@event.display_name}, location:sponsored by github" },
    href: @event.url,
  )) do %>
    <%= @event.display_name %>
  <% end %>

  <p class="text-gray f6">
    <%= @event.sponsored_date_range %> • <%= @event.location_short_name %>
  </p>
</li>
