<article class="my-3 mt-md-0">
  <%= render(Primer::LinkComponent.new(
    bg: :white,
    classes: "hover-grow height-full flex-column flex-justify-end overflow-hidden border "\
      "rounded-1",
    data: explore_click_tracking_attributes(
      actor: current_user,
      click_target: :EVENT_URL,
      click_visual_representation: :EVENT_IMAGE,
      ga_click_text: "Explore, go to #{@event.display_name}, "\
        "location: topics show page, related event",
    ),
    display: :flex,
    href: @event.url,
    position: :relative,
    underline: false,
  )) do %>
    <div class="position-absolute top-0 right-0 bottom-0 left-0 overflow-hidden text-center">
      <% if @event.image.blank? %>
        <span class="mx-auto">
          <%= render(GitHub::OcticonComponent.new(
            color: :gray,
            icon: "calendar",
            size: :large,
            style: "opacity: 0.5;",
            classes: "width-fit"
          )) %>
        </span>
      <% else %>
        <img
          src="<%= image_path @event.image %>"
          alt="<%= @event.display_name %>"
          class="d-block width-fit mx-auto"
        >
      <% end %>
    </div>

    <div class="Spotlight position-relative border-top bg-white">
      <div class="Spotlight-text p-4">
        <div class="h6 text-uppercase text-gray">Event</div>
        <h1 class="h3 text-gray-dark lh-condensed mb-1">
          <%= @event.display_name %>
        </h1>

        <p class="f5 text-gray mb-0">
          <%= @event.sponsored_date_range %> • <%= @event.location_short_name %>
        </p>
      </div>
    </div>
  <% end %>
</article>
