<div class="Box-body overflow-auto note text-left">
  <h4 class="text-center">
    GITHUB CONNECT ADDENDUM
  </h4>
  <h4 class="text-center mb-4">
    to the GITHUB ENTERPRISE SERVER LICENSE AGREEMENT
  </h4>
  <p>
    PLEASE READ THIS ADDENDUM CAREFULLY AS IT AMENDS THE TERMS OF YOUR
    ENTERPRISE LICENSE AGREEMENT WITH US AND SPECIFICALLY GOVERNS YOUR USE
    OF GITHUB CONNECT (AS DEFINED BELOW), UNLESS GITHUB (“WE” OR
    “US”) HAS EXECUTED A SEPARATE WRITTEN ADDENDUM WITH YOU FOR THAT
    PURPOSE.
  </p>
  <p>
    BY ACCESSING GITHUB CONNECT, YOU ACCEPT ALL THE TERMS AND
    CONDITIONS OF THIS ADDENDUM. IF YOU ARE ENTERING INTO THIS ADDENDUM ON
    BEHALF OF A COMPANY OR OTHER LEGAL ENTITY (“CUSTOMER”), YOU REPRESENT
    THAT YOU HAVE THE LEGAL AUTHORITY TO BIND CUSTOMER TO THIS AGREEMENT.
  </p>
  <h4>
    1. GitHub.com’s Terms of Service and the GitHub Enterprise Server Software
    License Agreement Will Apply; Pricing
  </h4>
  <p>
    Customer can enable unified integrations, which allow Customer’s
    Enterprise users to connect with GitHub.com (“GitHub.com Connection”).
    In order to access GitHub.com Connections, Customer must have at least
    one (1) account on GitHub.com and one (1) licensed instance of GitHub
    Enterprise. Customer’s access to GitHub.com Connection will also be
    governed by its applicable GitHub.com Terms of Service and the Agreement
    which are hereby incorporated by reference, (the "Generally Applicable
    Terms"), such that the Generally Applicable Terms will apply
    concurrently. In the event of a direct conflict between this Addendum
    and the Generally Applicable Terms, the Generally Applicable Terms will
    control, except with respect to any use of GitHub.com Connections, in
    which case this Addendum will control.
  </p>
  <p>
    Customer may not use GitHub.com Connection to violate its Generally
    Applicable Terms. Any use of GitHub.com Connections that violates the
    Generally Applicable Terms will also be a violation of this Addendum.
    GitHub.com Connections may be used for performing automated tasks. In
    addition, multiple Users may direct certain actions with GitHub.com
    Connection. Customer is responsible for actions that are performed on or
    through Customer’s accounts.
  </p>
  <p>
    Participation in GitHub.com Connection is provided at no additional
    charge through the Addendum Term (as defined below).
  </p>
  <h4>
    2. Confidentiality
  </h4>
  <p>
    To the extent they do not conflict with the confidentiality obligations
    provided in the GitHub Enterprise Server Software License Agreement,
    GitHub.com Connection including any Confidential Information will be
    governed by the confidentiality obligations stated herein.
  </p>
  <p>
    For the purposes of this Addendum, "Confidential Information" means any
    business or technical information shared with the other party
    (specifically excluding any Content or information created or shared on
    the Service or Website, which Content or information is governed by
    other provisions in this Addendum and the Generally Applicable Terms)
    that either one of us discloses to the other, in writing, orally, or by
    any other means, and including things like computer programs, code,
    algorithms, data, know-how, formulas, processes, ideas, inventions
    (whether patentable or not), schematics and other technical, business,
    financial, and product development plans, names and expertise of
    employees and consultants, and customer lists. Each party agrees to
    maintain the other party's Confidential Information in confidence using
    at least the same degree of care as it uses in safeguarding its own
    Confidential Information, subject to a minimum standard of reasonable
    diligence and protection.
  </p>
  <h4>
    3. Term and Termination
  </h4>
  <p>
    This Addendum begins on the Addendum Effective Date and continues for
    the duration of the License Term as defined in the Generally Applicable
    Terms (“Addendum Term”). This Addendum may be terminated in accordance
    with the Generally Applicable Terms. This Addendum will terminate
    immediately, without the requirement of notice, if Customer breaches any
    term of this Addendum or the Generally Applicable Terms.
  </p>
  <p>
    The rights and obligations in Sections 1, 2, 4 through 12, or which
    should naturally survive the termination or expiration of an agreement
    will survive the termination or expiration of this Addendum or the
    Generally Applicable Terms. Upon termination or expiration of this
    Addendum all of the rights and licenses granted to Customer in this
    Addendum will immediately cease to exist, Customer must destroy (or, at
    GitHub’s request, return) all of GitHub’s Confidential Information and
    any copies (including electronic copies) which are in Customer’s
    possession or control, and certify in writing compliance with these
    requirements.
  </p>
  <h4>
    4. Warranties and Disclaimers
  </h4>
  <p>
    Customer warrants that it: (i) has the authority to execute this
    Addendum and to perform its obligations; (ii) will make no false or
    misleading statements or representations regarding GitHub or GitHub’s
    products and services; and (iii) will not take on any obligation or
    responsibility, or make any representation, warranty, guarantee or
    endorsement to anyone on GitHub’s behalf (including, without limitation,
    any of our products or services).
  </p>
  <p>
    CUSTOMER UNDERSTANDS AND AGREES THAT ANY MATERIALS OR INFORMATION IT IS
    PROVIDED OR THAT IT HAS ACCESS TO UNDER THIS ADDENDUM (INCLUDING,
    WITHOUT LIMITATION, ANY CONFIDENTIAL INFORMATION OR PRE-RELEASE
    MATERIALS) ARE PROVIDED “AS IS”, AND WITHOUT WARRANTY OF ANY KIND,
    EXPRESS OR IMPLIED. GITHUB SPECIFICALLY DISCLAIMS ANY AND ALL IMPLIED
    WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
    PURPOSE, AND NON-INFRINGEMENT.
  </p>
  <h4>
    5. Indemnity
  </h4>
  <p>
    Customer agrees to indemnify, defend and hold GitHub harmless from and
    against any and all claims which may arise under or out of Customer’s
    participation in GitHub.com Connections; Customer’s negligence or
    intentional misconduct; any misrepresentations Customer makes with
    respect to GitHub or GitHub’s products or services; or Customer’s
    violation of any part of this Addendum.
  </p>
  <h4>
    6. Limitation of Liability
  </h4>
  <p>
    IN NO EVENT WILL EITHER PARTY BE LIABLE TO THE OTHER OR TO ANY THIRD
    PARTY FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR
    PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOST DATA,
    LOST PROFITS OR COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES,
    HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
    TORT (INCLUDING WITHOUT LIMITATION PRODUCTS LIABILITY, STRICT LIABILITY
    AND NEGLIGENCE), OR ANY OTHER THEORY, AND WHETHER OR NOT THE PARTY KNEW
    OR SHOULD HAVE KNOWN ABOUT THE POSSIBILITY OF SUCH DAMAGE. IN NO EVENT
    WILL GITHUB’S AGGREGATE LIABILITY TO CUSTOMER ARISING OUT OF OR RELATED
    TO THIS ADDENDUM FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF
    ACTION, WHETHER IN CONTRACT OR IN TORT, EXCEED THE GREATER OF (I)
    AMOUNTS ACTUALLY PAID UNDER THIS ADDENDUM; OR (II) FIVE HUNDRED DOLLARS
    ($500). THE FOREGOING LIMITATIONS WILL APPLY NOTWITHSTANDING THE FAILURE
    OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY STATED IN THIS ADDENDUM.
  </p>
  <h4>
    7. Proprietary Rights
  </h4>
  <p>
    Customer agrees that GitHub and its licensors own all right, title and
    interest in and to all GitHub products and services; all information and
    data relating to their configurations and combinations; and all
    modifications to and derivative works of any of the foregoing. Customer
    must not remove, alter, cover or obfuscate any copyright or other
    proprietary rights notices that GitHub places on or embeds in GitHub.com
    Connection, or any other GitHub products and services.
  </p>
  <h4>
    8. Independent Development
  </h4>
  <p>
    Nothing in this Addendum will impair GitHub’s right to develop, acquire,
    license, market, promote or distribute products, software or
    technologies that might compete with Customer’s.
  </p>
  <h4>
    9. Privacy
  </h4>
  <p>
    GitHub may collect information about how Customer uses GitHub.com
    Connection and how GitHub can improve them. Customer may enable
    GitHub.com Connection that do authorize GitHub to collect protected
    data, which includes private repository data and Customer Personal
    Information (as defined in the GitHub Privacy Statement), from
    Customer's Enterprise account.  If Customer connects its Enterprise
    instance with its GitHub.com account, Customer sends identifying
    instance information to GitHub.com, which information is governed by
    <%= link_to "GitHub’s Privacy Statement",
        "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement/" %>.
    By enabling this configuration, Customer agrees that it is responsible
    for the actions that are performed on or through its account, subject to
    the terms of its Generally Applicable Terms.
  </p>
  <p>
    GitHub may collect certain additional personal information from Customer
    in GitHub.com Connection. For example, GitHub may invite Customer to
    send Feedback (as explained in Section 10). GitHub may ask questions
    about Customer’s users’ experiences, familiarity with the product, or
    demographic information. GitHub will use this information to improve its
    products and services, and will not sell it to third parties or
    advertisers. Customer may decline to give feedback, decline to answer
    specific questions, or contact GitHub to delete or alter the information
    it has provided.
  </p>
  <p>
    GitHub's servers are located in the United States. GitHub processes and
    controls Customer’s data in the United States. However, Customer is
    solely responsible for determining what personal data it submits to
    GitHub. Please refer to our
    <%= link_to "Privacy Statement",
        "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement/" %>
    for more information.
  </p>
  <h4>
    10. Feedback
  </h4>
  <p>
    Customer may, at its option, provide ideas, know-how, algorithms, code
    contributions, suggestions, enhancement requests, recommendations or any
    other feedback for GitHub.com Connection or GitHub’s other products or
    services (collectively, “Feedback”). If Customer provides Feedback, it
    acknowledges and agrees that GitHub will have a royalty-free, fully
    paid-up, worldwide, transferable, sub-licensable, irrevocable and
    perpetual license to implement, use, modify, commercially exploit or
    incorporate the Feedback into its products, services, and documentation.
  </p>
  <h4>
    11. Entire Agreement
  </h4>
  <p>
    This Addendum and the Generally Applicable Terms contain the entire
    agreement of the parties with respect to its subject matter and
    supersede all prior communications, representations, understandings and
    agreements, whether written or oral. The terms or conditions of any of
    Customer’s purchase orders, acknowledgements, or other documents sent in
    connection with this Addendum will be null and void, and of no effect.
  </p>
  <h4>
    12. No Other Modifications; Order of Precedence
  </h4>
  <p>
    Except as expressly provided herein, nothing in this Addendum shall be
    deemed to waive or modify any of the provisions of the Agreement, which
    otherwise remains in full force and effect.  In the event of any
    conflict between the Agreement and this Addendum regarding the subject
    matter set forth herein, this Addendum shall prevail.
  </p>
</div>
