<div class="pt-5">
  <%= render(Primer::FlashComponent.new) do %>
    <%= octicon("alert") %>
    <span class="h5">
        <%= title %>
    </span>
    <p class="pt-2">
        <%= description %>
    </p>
  <% end %>
</div>
