<% users_with_two_factor_disabled = business.affiliated_users_with_two_factor_disabled %>

<%= render layout: "shared/details_dialog", locals: {
      button_text: "Save",
      button_class: "btn js-business-two-factor-submit-button float-left ml-3 mr-4",
      details_class: "boxed-group-actions d-inline-block",
      title: "Confirm two-factor requirement policy"
    } do %>
  <div class="Box-body scrollable-overlay">
    <p>
      Requiring two-factor authentication will remove all users in the enterprise’s organizations
      who have not enabled it on their personal accounts.
    </p>
    <p class="text-red">
      <%= pluralize users_with_two_factor_disabled.count, "user" %> will be removed from organizations in this enterprise
    </p>

    <ul class="table-list table-list-bordered">
      <% users_with_two_factor_disabled.each do |user| %>
        <li class="table-list-item member-list-item">
          <div class="table-list-cell py-3 pl-3 v-align-middle member-avatar-cell css-truncate pr-0">
            <span class="float-left">
              <%= link_to user_path(user).to_s do %>
                <%= avatar_for(user, 48, class: "avatar") %>
              <% end %>
            </span>
          </div>

          <div class="table-list-cell py-3 v-align-middle css-truncate pl-3">
            <% if user.name.present? %>
              <%= link_to user_path(user), class: "f4 d-block css-truncate-target" do %>
                <%= user.name %>
              <% end %>
              <span class="d-block css-truncate-target f5 text-gray-dark" itemprop="name"><%= user.login %></span>
            <% else %>
              <%= link_to user_path(user), class: "f4 d-block css-truncate-target" do %>
                <%= user.login %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="Box-footer">
    <label>
      Enter the enterprise name to confirm
      <input name="verify" type="text" class="form-control input-block mt-1" pattern="<%= case_insensitive_pattern business.name %>" required autofocus>
    </label>
    <input type="hidden" name="two_factor_required" value="enabled">
    <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-invalid>
      Remove <%= pluralize_without_number users_with_two_factor_disabled.count, "member" %>
      & require two-factor authentication
    </button>
  </div>
<% end %>
