<% view = Businesses::Settings::AdminCenterOptionsView.new %>

<% page_info responsive: false, title: "Options",
             selected_link: :business_admin_center_options,
             stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Options",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="settings-next admin-options-block">
    <strong>Users can create organizations</strong>
    <p class="note">
      Allows non-owners to create organizations on the appliance.
    </p>
    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= GitHub.org_creation_enabled? ? "Enabled" : "Disabled"  %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index:99;">
        <div class="select-menu-header">
          <span class="select-menu-title">Users can create organizations</span>
        </div>

        <div class="select-menu-list">
          <% view.org_creation_choices.each do |label, value| %>
            <%= form_tag settings_change_org_creation_enterprise_path(slug) do %>
              <% selected = GitHub.org_creation_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item border-bottom width-full" aria-checked="<%= selected %>" name="value" value="<%= value %>" role="menuitemradio">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <hr>

    <strong>Default organization membership visibility</strong>
    <p class="note">
      Configure the default membership visibility for new organization
      members. If enforced, organization members will be unable to change
      their membership visibility from the default.
    </p>
    <%= form_tag settings_change_org_membership_visibility_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <summary class="btn select-menu-button">
          <span data-menu-button><%= GitHub.default_org_membership_visibility_public? ? "Public" : "Private" %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
          <div class="select-menu-header">
            <span class="select-menu-title">Default organization membership visibility</span>
          </div>

          <div class="select-menu-list">
            <% view.org_membership_visibility_choices.each do |label, value| %>
              <% selected = GitHub.default_org_membership_visibility == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :org_membership_visibility_enforcement, "policy", GitHub.default_org_membership_visibility_enforced?, class: "js-admin-settings-policy-input" %>
        <%= label_tag :org_membership_visibility_enforcement, "Enforce on organization members" %>
      </div>
    <% end %>

    <hr>

    <div class="mt-3">
      <strong>Default repository visibility</strong>
      <p class="note">
        Configure the default visibility setting when users create a repository from the web interface.
      </p>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <summary class="btn select-menu-button">
          <span data-menu-button><%= view.repo_default_text  %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
          <div class="select-menu-header">
            <span class="select-menu-title">Default repository visibility</span>
          </div>

          <div class="select-menu-list">
            <% view.repo_default_choices.each do |label, value| %>
              <%= form_tag settings_change_repo_visibility_enterprise_path(slug) do %>
                <% selected = GitHub.default_repo_visibility == value %>
                <button type="submit" class="select-menu-item border-bottom width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            <% end %>
          </div>
        </details-menu>
      </details>
    </div>

    <hr>

    <% if GitHub.anonymous_git_access_available? %>
      <strong>Anonymous Git read access</strong>
      <p class="note">
        Allows anonymous Git read access to be enabled for repositories.
      </p>
      <%= form_tag settings_change_anonymous_git_access_enterprise_path(slug), class: "d-inline-block" do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <summary class="btn select-menu-button">
            <span data-menu-button><%= GitHub.anonymous_git_access_enabled? ? "Enabled" : "Disabled" %></span>
          </summary>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
            <div class="select-menu-header">
              <span class="select-menu-title">Anonymous Git read access</span>
            </div>

            <div class="select-menu-list">
              <% view.anonymous_access_choices.each do |label, value| %>
                <% selected = GitHub.anonymous_git_access_enabled?.to_s == value %>
                <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <% if GitHub.anonymous_git_access_enabled? %>
        <%= form_tag settings_change_anonymous_git_access_locked_enterprise_path(slug), class: "d-inline-block" do %>
          <div class="policy-enforcement">
            <%= check_box_tag :lock_setting, "true", GitHub.anonymous_git_access_locked? %>
            <%= label_tag :lock_setting, 'Prevent repository admins from changing anonymous Git read access' %>
          </div>
        <% end %>
      <% end %>
      <hr>
    <% end %>

    <strong>Force pushes</strong>
    <p class="note">
      Allow or block force pushes made to repositories on this appliance.
    </p>
    <%= form_tag settings_change_allow_force_push_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <summary class="btn select-menu-button">
          <span data-menu-button><%= view.force_detail_text %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
          <div class="select-menu-header">
            <span class="select-menu-title">Force pushes</span>
          </div>

          <div class="select-menu-list">
            <% view.force_rejection_choices.each do |label, value| %>
              <% selected = GitHub.force_push_rejection_original_value == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :force_push_policy, "policy", GitHub.force_push_rejection_policy?, :class => 'js-admin-settings-policy-input' %>
        <%= label_tag :force_push_policy, 'Enforce on all repositories' %>
      </div>
    <% end %>

    <hr>

    <strong>Repository upload limit</strong>
    <p class="note">
      The maximum size of Git objects that can be pushed to repositories on this appliance.
      Allowing large objects to be pushed into Git can degrade performance, consider other options (e.g. git-lfs) before increasing this value.
    </p>
    <%= form_tag settings_change_max_object_size_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <summary class="btn select-menu-button">
          <span data-menu-button><%= view.max_object_size_detail_text %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute" style="z-index:99">
          <div class="select-menu-header">
            <span class="select-menu-title">Repository upload limit</span>
          </div>

          <div class="select-menu-list">
            <% view.max_object_size_choices.each do |label, value| %>
              <% selected = GitHub.max_object_size == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>

      <div class="policy-enforcement">
        <%= check_box_tag :max_object_policy, "policy", GitHub.max_object_size_policy?, class: 'js-admin-settings-policy-input' %>
        <%= label_tag :max_object_policy, 'Enforce on all repositories' %>
      </div>
    <% end %>

    <hr>

    <strong>Git SSH access</strong>
    <p class="note">
      Enable or disable Git SSH access for all repositories on this appliance.
    </p>

    <%= form_tag settings_change_ssh_access_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <summary class="btn select-menu-button">
          <span data-menu-button><%= GitHub.ssh_enabled? ? "Enabled" : "Disabled"  %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
          <div class="select-menu-header">
            <span class="select-menu-title">Git SSH access</span>
          </div>

          <div class="select-menu-list">
            <% view.ssh_choices.each do |label, value| %>
              <% selected = GitHub.ssh_enabled_original_value == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :ssh_policy, "policy", GitHub.ssh_policy?, class: 'js-admin-settings-policy-input' %>
        <%= label_tag :ssh_policy, 'Enforce on all repositories' %>
      </div>
    <% end %>

    <hr>

    <strong>Suggested protocol</strong>
    <p class="note">
      The first protocol shown to users for Git operations on this appliance.
    </p>

    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= view.suggested_protocol_text %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Suggested protocol</span>
        </div>

        <div class="select-menu-list">
          <% view.suggested_protocol_choices.each do |label, value| %>
            <%= form_tag settings_change_suggested_protocol_enterprise_path(slug) do %>
              <% selected = GitHub.suggested_protocol == value %>
              <button type="submit" class="select-menu-item width-full border-bottom" aria-checked="<%= selected %>" role="menuitemradio" value="<%= value %>" name="value">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <hr>

    <strong>Git LFS access</strong>
    <p class="note">
      Enable or disable Git LFS on this appliance.
    </p>

    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= GitHub.git_lfs_config_enabled? ? "Enabled" : "Disabled"  %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Git LFS access</span>
        </div>

        <div class="select-menu-list">
          <% view.git_lfs_choices.each do |label, value| %>
            <%= form_tag settings_change_git_lfs_access_enterprise_path(slug) do %>
              <% selected = GitHub.git_lfs_config_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full border-bottom" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <hr>

    <strong>Showcases</strong>
    <p class="note">
      Enable or disable Showcases on the Explore page.
    </p>

    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= GitHub.showcase_enabled? ? "Enabled" : "Disabled"  %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Showcases</span>
        </div>

        <div class="select-menu-list">
          <% view.showcase_choices.each do |label, value| %>
            <%= form_tag settings_change_showcase_access_enterprise_path(slug) do %>
              <% selected = GitHub.showcase_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full border-bottom" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <hr>

    <strong>Conflict editor for pull requests between repositories</strong>
    <p class="note">
      Enable or disable conflict editor for pull requests between repositories (e.g. A pull request targeting a fork’s parent repository).
    </p>
    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= GitHub.cross_repo_conflict_editor_enabled? ? "Enabled" : "Disabled"  %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Cross-repository conflict editor enabled</span>
        </div>

        <div class="select-menu-list">
          <% view.cross_repo_conflict_editor_choices.each do |label, value| %>
            <%= form_tag settings_change_cross_repo_conflict_editor_enterprise_path(slug) do %>
              <% selected = GitHub.cross_repo_conflict_editor_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full border-bottom" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= octicon('check', class: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <% if GitHub.auth.external? %>
      <hr>

      <strong>Reactivate suspended users<%= GitHub.ldap_sync_enabled? ? " on login" : ""  %></strong>
      <p class="note">
        <%= view.reactivate_suspended_users_note %>
      </p>

      <%= form_tag settings_change_reactivate_suspended_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <summary class="btn select-menu-button">
            <span data-menu-button><%= GitHub.reactivate_suspended_user? ? "Enabled" : "Disabled"  %></span>
          </summary>

          <details-menu class="select-menu-modal position-absolute" style="z-index:99">
            <div class="select-menu-header">
              <span class="select-menu-title">Reactivate suspended users<%= GitHub.ldap_sync_enabled? ? " on login" : ""  %></span>
            </div>

            <div class="select-menu-list">
              <% view.reactivate_suspended_users_choices.each do |label, value| %>
                <% selected = GitHub.reactivate_suspended_user?.to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <% if GitHub.auth.saml? %>
      <hr>

      <strong>SAML debugging</strong>
      <p class="note">
        Enable verbose logging for SAML authentication on the appliance.
      </p>

      <%= form_tag settings_toggle_saml_debugging_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <summary class="btn select-menu-button">
            <span data-menu-button><%= GitHub.config.enabled?("saml.debug_logging_enabled") ? "Enabled" : "Disabled"  %></span>
          </summary>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
            <div class="select-menu-header">
              <span class="select-menu-title">SAML debugging</span>
            </div>

            <div class="select-menu-list">
              <% view.saml_debugging_choices.each do |label, value| %>
                <% selected = GitHub.config.enabled?("saml.debug_logging_enabled").to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <% if GitHub.auth.ldap? %>
      <% if GitHub.ldap_sync_enabled? %>
        <hr>

        <strong>Reactivate suspended users on synchronization</strong>
        <p class="note">
          <%= view.reactivate_suspended_users_on_sync_note %>
        </p>

        <%= form_tag settings_change_reactivate_suspended_on_sync_enterprise_path(slug) do %>
          <details class="admin-option-button select-menu details-reset details-overlay">
            <summary class="btn select-menu-button">
              <span data-menu-button><%= GitHub.reactivate_suspended_user_on_sync? ? "Enabled" : "Disabled"  %></span>
            </summary>

            <details-menu class="select-menu-modal position-absolute" style="z-index:99">
              <div class="select-menu-header">
                <span class="select-menu-title">Reactivate suspended users on synchronization</span>
              </div>

              <div class="select-menu-list">
                <% view.reactivate_suspended_users_choices.each do |label, value| %>
                  <% selected = GitHub.reactivate_suspended_user_on_sync?.to_s == value %>
                  <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                    <%= octicon('check', class: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>
        <% end %>
      <% end %>

      <hr>

      <strong>LDAP debugging</strong>
      <p class="note">
        Enable verbose logging for LDAP Sync and other actions on the appliance.
      </p>

      <%= form_tag settings_toggle_ldap_debugging_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <summary class="btn select-menu-button">
            <span data-menu-button><%= GitHub.config.enabled?("ldap.debug_logging_enabled") ? "Enabled" : "Disabled"  %></span>
          </summary>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
            <div class="select-menu-header">
              <span class="select-menu-title">LDAP debugging</span>
            </div>

            <div class="select-menu-list">
              <% view.ldap_debugging_choices.each do |label, value| %>
                <% selected = GitHub.config.enabled?("ldap.debug_logging_enabled").to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <% if GitHub.ldap_search_strategy == "recursive" %>
        <hr>

        <strong>LDAP search strategy depth</strong>
        <p class="note">
          Search strategy depth determine how deeply LDAP sync will search nested group.
          Decreasing the value will speed up LDAP search but risk missing deeper nested users.
        </p>

        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Change depth",
          button_class: "btn admin-option-button",
          title: "Change LDAP search strategy depth"
        } do %>
          <div class="Box-body">
            <%= form_tag settings_change_ldap_search_depth_enterprise_path(slug) do %>
              <dl class="form-group mt-0">
                <dt><label for="search_depth">New search depth</label></dt>
                <dd>
                  <%= text_field_tag :search_depth,
                    GitHub.ldap_search_strategy_depth, placeholder: "9",
                    autofocus: true, size: 2 %>
                </dd>
              </dl>
              <button type="submit" class="btn btn-block">Change depth</button>
            <% end %>
          </div>
        <% end %>

      <% end %>
    <% end %>

    <hr>

    <strong>Dormancy threshold</strong>
    <p class="note">
      The length of time a user must be inactive to be considered dormant.
    </p>

    <details class="admin-option-button select-menu details-reset details-overlay">
      <summary class="btn select-menu-button">
        <span data-menu-button><%= view.dormancy_threshold_button_text %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Dormancy threshold</span>
        </div>
        <div class="select-menu-list">
          <% view.dormancy_threshold_choices.each do |label, value| %>
            <%= form_tag settings_change_dormancy_threshold_enterprise_path(slug) do %>
              <% selected = GitHub.enterprise_dormancy_threshold_days.to_s == value %>
              <button type="submit" class="select-menu-item width-full border-bottom" aria-checked="<%= selected %>" role="menuitemradio" name="dormancy_threshold_days" value="<%= value %>">
                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>
  </div>
<% end %>
