<% view = Businesses::Settings::DotcomConnectionView.new %>

<% page_info responsive: false, title: "GitHub Connect",
    selected_link: :business_dotcom_connection,
    stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "GitHub Connect",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="mb-2 d-flex flex-items-center">
    <% if view.dotcom_connection_status == :connected && view.owner_type == "organization" %>
      <div class="f6">
        <span class="border border-green text-green px-1 rounded-1 mr-1">NEW</span>
        You can now connect to an enterprise account.
        <%= link_to "Learn more", "#{GitHub.enterprise_admin_help_url}/installation/connecting-github-enterprise-server-to-github-enterprise-cloud" %>.
      </div>
    <% end %>
  </div>
  <p>
    GitHub Connect lets you share specific features and workflows between your GitHub Enterprise Server instance and GitHub.com enterprise account or organization. <%= link_to "Learn more", "#{GitHub.enterprise_admin_help_url}/guides/developer-workflow/connecting-github-enterprise-and-github-com/" %>
  </p>
  <% if view.dotcom_connection_status.in? %i(connected unverifiable disconnected) %>
  <div class="border rounded-1 p-3 my-4">
    <div class="d-flex flex-items-center">
      <div class="flex-auto">
        <% if view.owner_identifier %>
          <%= link_to view.owner_identifier, view.dotcom_profile_url, class: "h4" %> <span class="f4 text-gray">(<%= view.owner_type %>)</span>
        <% else %>
          <%= view.owner_type %>.
        <% end %>
      </div>

      <details class="details-reset details-overlay details-overlay details-overlay-dark" id="disconnect-github-connect-dialog">
        <summary class="btn btn-sm btn-danger">
          Disable GitHub Connect
        </summary>

        <details-dialog class="anim-fade-in fast Box d-flex flex-column">
          <div class="Box-header">
            <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <%= octicon "x" %>
            </button>
            <h3 class="Box-title text-left">
              Are you sure you want to disable GitHub Connect?
            </h3>
          </div>

          <%= render(Primer::FlashComponent.new(variant: :warning, full: true)) do %>
            <strong><%= view.disconnected_features_message %></strong>
            At disconnection, the GitHub App and its installation will be
            deleted from the connected <%= view.owner_type %> on GitHub.com and the
            credentials stored on your Enterprise Server environment will be
            revoked and deleted.
          <% end %>
          <div class="p-3">
            <%= button_to "Disable GitHub Connect",
              admin_settings_delete_dotcom_connection_enterprise_path(GitHub.global_business),
              method: :delete,
              form_class: "inline-form d-block",
              class: "btn btn-danger btn-block" %>
          </div>
        </details-dialog>
      </details>
    </div>
    <% if view.dotcom_connection_status == :unverifiable %>
      <div class="flash flash-warn mt-3">
        <%= octicon "alert" %>
        The instance cannot connect to GitHub.com and could not verify the
        connection status. If your instance was disconnected from your
        <%= view.owner_type %> settings, please complete the disconnect by clicking
        the "Disable GitHub Connect" button.
      </div>
    <% elsif view.dotcom_connection_status == :disconnected %>
      <div class="flash flash-warn f6 mt-3">
        <%= octicon "alert" %>
        The instance may have been disconnected from your GitHub.com
        <%= view.owner_type %> settings. If this disconnect was intentional, please
        complete the disconnect by clicking the "Disable GitHub Connect" button.
      </div>
    <% end %>
    <% if view.require_reconnect? %>
      <div class="flash flash-warn mt-3">
        <%= octicon "alert" %>
        The instance has been upgraded but the connection to GitHub.com was
        established with an older version. To finish the upgrade, please
        re-establish the connection after clicking the "Disable GitHub Connect" button.
      </div>
    <% end %>
  </div>
  <%= field_set_tag nil,
        class:    ("disabled" unless view.license_usage_sync_available?),
        disabled: !view.license_usage_sync_available? do %>
    <div class="mt-3">
      <strong>Server can sync user license count and usage</strong>
      <p class="note">
        Allow this server instance to sync user license count and upload user
        license usage to your GitHub.com enterprise account on a
        <%= view.human_readable_license_usage_sync_interval %> interval.
      </p>
      <div class="d-inline-block mt-2">
        <% if view.license_usage_sync_available? %>
          <%= form_tag admin_settings_change_license_usage_sync_enterprise_path(GitHub.global_business) do |f| %>
            <details class="details-reset details-overlay select-menu position-relative">
              <summary class="btn select-menu-button">
                <%= GitHub.dotcom_user_license_usage_upload_enabled? ? "Enabled" : "Disabled" %>
              </summary>

              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                <div class="select-menu-header text-left">
                  <span class="select-menu-title">User license usage can be uploaded to GitHub.com</span>
                </div>
                <div class="select-menu-list">
                  <% view.license_usage_sync_choices.each do |label, value| %>
                    <% selected = GitHub.dotcom_user_license_usage_upload_enabled?.to_s == value %>
                    <label class="select-menu-item" role="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                      <%= radio_button_tag "license_usage_sync_value", value, selected, :"data-autosubmit" => true %>
                      <%= octicon("check", class: "select-menu-item-icon") %>
                      <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          <% end %>
        <% else %>
          <button type="button" class="btn select-menu-button">
            <%= GitHub.dotcom_user_license_usage_upload_enabled? ? "Enabled" : "Disabled" %>
          </button>
        <% end %>
      </div>
      <% unless view.license_usage_sync_available? %>
        <span class="ml-2 note">
          <%= octicon("info") %>
          Requires a connection to a GitHub.com enterprise account.
        </span>
      <% end %>
    </div>
  <% end %>

  <% allow_actions_download_ui = view.dotcom_connected? && GitHub.dotcom_actions_download_configurable? %>

  <% if view.can_use_download_actions? %>
    <%= field_set_tag nil,
      class: ("disabled" unless allow_actions_download_ui),
      disabled: !allow_actions_download_ui,
      data: { "test-selector" => "actions-setting" } do %>
      <div class="mt-3">
        <strong>Server can use actions from GitHub.com in workflows runs</strong>
        <p class="note">
        Allow actions from GitHub.com to be referenced and used in workflow files.
        </p>

        <div class="d-inline-block mt-2">
          <% if allow_actions_download_ui %>
            <%= form_tag admin_settings_change_actions_download_archive_enterprise_path(GitHub.global_business) do |f| %>
              <details class="details-reset details-overlay select-menu position-relative">
                <summary class="btn select-menu-button">
                  <%= GitHub.dotcom_download_actions_archive_enabled? ? "Enabled" : "Disabled" %>
                </summary>

                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                  <div class="select-menu-header text-left">
                    <span class="select-menu-title">
                      Server can use actions from GitHub.com in workflow runs
                    </span>
                  </div>

                  <div class="select-menu-list">
                    <% view.dotcom_download_actions_archive_choices.each do |label, value| %>
                      <% selected = GitHub.dotcom_download_actions_archive_enabled?.to_s == value %>
                      <label class="select-menu-item" role ="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                        <%= radio_button_tag "actions_download_archive_value", value, selected, :"data-autosubmit" => true %>
                        <%= octicon("check", class: "select-menu-item-icon") %>
                        <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                      </label>
                    <% end %>
                  </div>
                </details-menu>
              </details>
            <% end %>
          <% else %>
            <button type="button" class="btn select-menu-button">
              <%= GitHub.dotcom_download_actions_archive_enabled? ? "Enabled" : "Disabled" %>
            </button>
          <% end %>
        </div>
        <span class="ml-2 note">
          <%= octicon("info") %>
          Requires users to connect to a GitHub.com account.
        </span>
      </div>
    <% end %>
  <% end %>

  <%= field_set_tag nil,
        class:    ("disabled" unless view.dotcom_connected?),
        disabled: !view.dotcom_connected? do %>
    <div class="mt-3">
      <strong>Users can search GitHub.com</strong>
      <p class="note">
        Allow users to search public repositories, code, commits, issues, topics, and users on GitHub.com.
      </p>
      <% if view.dotcom_connected? %>
        <%= form_tag admin_settings_change_dotcom_search_enterprise_path(GitHub.global_business) do |f| %>
          <details class="details-reset details-overlay select-menu mt-2 position-relative">
            <summary class="btn select-menu-button">
              <%= GitHub.dotcom_search_enabled? ? "Enabled" : "Disabled" %>
            </summary>

            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
              <div class="select-menu-header text-left">
                <span class="select-menu-title">Users can search GitHub.com</span>
              </div>
              <div class="select-menu-list">
                <% view.dotcom_search_choices.each do |label, value| %>
                  <% selected = GitHub.dotcom_search_enabled?.to_s == value %>
                  <label class="select-menu-item" role="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                    <%= radio_button_tag "public_search_value", value, selected, :"data-autosubmit" => true %>
                    <%= octicon("check", class: "select-menu-item-icon") %>
                    <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                  </label>
                <% end %>
              </div>
            </details-menu>
          </details>
        <% end %>
      <% else %>
        <button type="button" class="btn select-menu-button mt-2">
          <%= GitHub.dotcom_search_enabled? ? "Enabled" : "Disabled" %>
        </button>
      <% end %>
    </div>
  <% end %>

  <% allow_private_search_ui = view.dotcom_connected? && GitHub.dotcom_search_enabled? %>
  <%= field_set_tag nil,
        class:    ("disabled" unless allow_private_search_ui),
        disabled: !allow_private_search_ui do %>
    <div class="mt-3">
      <strong>Users can search private repositories on GitHub.com</strong>
      <p class="note">
        Allow connected users to include search results from private
        repositories in the connected GitHub.com <%= view.owner_type %> if the
        GitHub.com account has access to the content.
      </p>
      <div class="d-inline-block mt-2">
        <% if allow_private_search_ui %>
          <%= form_tag admin_settings_change_dotcom_private_search_enterprise_path(GitHub.global_business) do |f| %>
            <details class="details-reset details-overlay select-menu position-relative">
              <summary class="btn select-menu-button">
                <%= GitHub.dotcom_private_search_enabled? ? "Enabled" : "Disabled" %>
              </summary>

              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                <div class="select-menu-header text-left">
                  <span class="select-menu-title">Users can search private repositories on GitHub.com</span>
                </div>
                <div class="select-menu-list">
                  <% view.dotcom_private_search_choices.each do |label, value| %>
                    <% selected = GitHub.dotcom_private_search_enabled?.to_s == value %>
                    <label class="select-menu-item" role="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                      <%= radio_button_tag "private_search_value", value, selected, :"data-autosubmit" => true %>
                      <%= octicon("check", class: "select-menu-item-icon") %>
                      <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          <% end %>
        <% else %>
          <button type="button" class="btn select-menu-button">
            <%= GitHub.dotcom_private_search_enabled? ? "Enabled" : "Disabled" %>
          </button>
        <% end %>
      </div>
      <span class="ml-2 note">
        <%= octicon("info") %>
        Requires users to connect to a GitHub.com account.
      </span>
    <% end %>

    <hr>
    <% allow_contributions_sync_ui = view.dotcom_connected? && GitHub.dotcom_contributions_configurable? %>
    <%= field_set_tag nil,
          class:    ("disabled" unless allow_contributions_sync_ui),
          disabled: !allow_contributions_sync_ui do %>
      <div class="mt-3">
        <strong>Users can share contribution counts to GitHub.com</strong>
        <p class="note">
          Allow connected users to include contribution counts from this GitHub
          Enterprise environment to their GitHub.com profile.
        </p>
        <div class="d-inline-block mt-2">
          <% if allow_contributions_sync_ui %>
            <%= form_tag view.dotcom_contributions_change_path do |f| %>
              <details class="details-reset details-overlay select-menu position-relative">
                <summary class="btn select-menu-button">
                  <%= GitHub.dotcom_contributions_enabled? ? "Enabled" : "Disabled" %>
                </summary>

                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                  <div class="select-menu-header text-left">
                    <span class="select-menu-title">Users can share contribution counts to GitHub.com</span>
                  </div>
                  <div class="select-menu-list">
                    <% view.dotcom_contributions_choices.each do |label, value| %>
                      <% selected = GitHub.dotcom_contributions_enabled?.to_s == value %>
                      <label class="select-menu-item" role="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                        <%= radio_button_tag "contributions_sync_value", value, selected, :"data-autosubmit" => true %>
                        <%= octicon("check", class: "select-menu-item-icon") %>
                        <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                      </label>
                    <% end %>
                  </div>
                </details-menu>
              </details>
            <% end %>
          <% else %>
            <button type="button" class="btn select-menu-button">
              <%= GitHub.dotcom_contributions_enabled? ? "Enabled" : "Disabled" %>
            </button>
          <% end %>
        </div>
        <% if view.dotcom_connected? && !GitHub.dotcom_contributions_configurable? && enterprise_license.valid? %>
          <span class="ml-2 note">
            <%= octicon("globe") %>
            <a href="<%= view.dotcom_contributions_request_url %>">Request access</a> to enable this setting.
          </span>
        <% end %>

        <span class="ml-2 note">
          <%= octicon("info") %>
          Requires users to connect to a GitHub.com account.
        </span>
      </div>
    <% end %>

    <% if GitHub.dependency_graph_enabled? && GitHub.vulnerability_alerting_and_settings_enabled? %>
      <%= field_set_tag nil,
            class:    ("disabled" unless view.dotcom_connected?),
            disabled: !view.dotcom_connected? do %>
        <hr>
        <div class="mt-3">
          <strong>Repositories can be scanned for vulnerabilities</strong>
          <p class="note">Data about known software vulnerabilities will be downloaded once an hour from GitHub.com and your repositories will be scanned on your instance. No code or information about it will be uploaded to GitHub.com</p>
          <% if view.dotcom_connected? %>
            <%= form_tag admin_settings_change_ghe_content_analysis_enterprise_path(GitHub.global_business) do |f| %>
              <details class="details-reset details-overlay select-menu position-relative mt-2">
                <summary class="btn select-menu-button" <%=test_selector("current-ghe-vulnerabilities-label") %> >
                  <%= view.current_ghe_vulnerabilities_label %>
                </summary>

                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                  <div class="select-menu-header text-left">
                    <span class="select-menu-title">Repositories can be scanned for vulnerabilities</span>
                  </div>
                  <div class="select-menu-list">
                    <% view.ghe_vulnerabilities_choices.each do |value, label| %>
                      <% selected = (value == view.current_ghe_vulnerabilities_value) %>
                      <label class="select-menu-item" role="menuitemradio" aria-checked="<%= selected %>" tabindex="0">
                        <%= radio_button_tag "content_analysis_value", value, selected, :"data-autosubmit" => true %>
                        <%= octicon("check", class: "select-menu-item-icon") %>
                        <span class="text-normal select-menu-item-text" data-menu-button-text><%= label %></span>
                      </label>
                    <% end %>
                  </div>
                </details-menu>
              </details>
            <% end %>
          <% else %>
            <button type="button" class="btn select-menu-button mt-2" <%=test_selector("current-ghe-vulnerabilities-label") %> >
              <%= view.current_ghe_vulnerabilities_label %>
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% elsif view.dotcom_connection_status == :unfinished %>
    <%= render Primer::BlankslateComponent.new(
      icon: "mark-github",
      title: "GitHub Connect is not enabled yet",
      mt: 4,
    ) do %>
      <p>
        You have not completed the setup process on the GitHub.com side.
        Please do so within <%= distance_of_time_in_words_to_now view.dotcom_temporary_token_expires_at %> from now.
        After this time, you will have to reinitiate the setup process.
      </p>
      <p>
        <%= button_to "Complete your GitHub Connect setup",
          admin_settings_resume_dotcom_connection_enterprise_path(GitHub.global_business),
          form_class: "inline-form",
          class: "btn btn-primary" %>
      </p>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "mark-github",
      title: "GitHub Connect is not enabled yet",
      mt: 4,
    ) do %>
      <% if enterprise_license.valid? && enterprise_license.github_connect_support? %>
        <%= form_tag admin_settings_create_dotcom_connection_enterprise_path(GitHub.global_business) do %>
          <%= button_tag "Enable GitHub Connect",
                type: :submit,
                class: "btn btn-primary my-3" %>
        <% end %>
      <% else %>
        <%= form_tag admin_settings_create_dotcom_connection_enterprise_path(GitHub.global_business) do %>
          <%= button_tag "Enable GitHub Connect",
              type: :submit,
              class: "btn btn-primary my-3",
              "data-close-dialog": "data-close-dialog" %>
        <% end %>
      <% end %>
      <div>
        <span class="f6 text-gray text-center">By clicking "Enable GitHub Connect", you agree to the</span>
        <details class="d-inline details-reset details-overlay details-overlay-dark" id="instance-connection-legal-terms-dialog">
          <summary class="text-blue f6">Addendum.</summary>
          <details-dialog class="anim-fade-in fast Box Box-overlay--wide d-flex flex-column">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3 class="Box-title text-left">
                GitHub Connect Addendum
              </h3>
            </div>

            <%= render "businesses/settings/dotcom_connection_tos" %>

          </details-dialog>
        </details>
        <span class="f6 text-gray text-center">
          Enabling GitHub Connect will create a GitHub App that will be registered for the
          selected organization or enterprise account. The GitHub App's credential will be
          stored on your Enterprise Server environment and used for API requests made to GitHub.com.
          Please see GitHub's
          <%= link_to "Privacy Statement", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement/" %>
          for more information about GitHub's privacy practices.
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>
