<% page_info responsive: false, title: "GitHub Insights settings",
    selected_link: :business_insights_settings,
    stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "GitHub Insights settings",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <h3 class="border-bottom mb-4">Link to your GitHub Insights</h3>
  <p class="mb-2">
    GitHub Insights is a standalone application that integrates with GitHub Enterprise.
    <%= link_to "Contact sales", "https://enterprise.github.com/contact" %> to update your GHES license for GitHub Insights.
  </p>
  <p>
    After receiving an updated GHES license, you will get a URL to download a
    Docker image of GitHub Insights.  You can host and run this Docker image on
    your hardware or cloud provider of choice.
  </p>
  <%= form_tag base_url_enterprise_insights_path(this_business.slug) do %>
    <dl class="form-group">
      <dt class="input-label">
        <label for="insights_url">GitHub Insights instance URL</label>
      </dt>
      <dd>
        <input type="url" class="form-control" id="insights_url" name="insights_url"
               placeholder="https://insights.domain.com" value="<%= GitHub.insights_url %>" required>
        <p class="mt-2 note">
          <%= octicon("eye", class: "mr-2") %>
          All organization members will have access to the URL
        </p>
      </dd>
    </dl>

    <button class="btn mt-2" type="submit" data-disable-invalid>
      Save
    </button>
  <% end %>

  <h3 class="border-bottom mt-6">GitHub Insights Links</h3>
  <div class="mt-3">
    <div class="text-bold mb-2">Add GitHub Insights to your GHE license</div>
    <%= link_to "Contact sales →", "https://enterprise.github.com/contact" %>
  </div>

  <div class="mt-3">
    <div class="text-bold mb-2">New to GitHub Insights?</div>
    <%= link_to "Learn more →", "https://github.com/features/insights/" %>
  </div>
<% end %>
