<% view = Businesses::Settings::PackagesView.new \
  business: this_business %>
<% page_info responsive: false, title: "Packages",
  selected_link: :packages_settings,
  stafftools: business_stafftools_resource_path(this_business) %>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Packages",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="pb-5 d-flex flex-column">
    <span class="f3">Service Availability</span>
    <span class="f5">If disabled, members won't be able to publish or install packages.</span>
  </div>
  <%= form_tag view.form_path, method: :put, class: "d-block" do |f| %>
    <details class="dropdown details-reset details-overlay select-menu position-relative" >
      <summary class="btn">
        <i>Status: </i>
        <span data-menu-button>
          <%= view.button_text %>
        </span>
        <span class="dropdown-caret"></span>
      </summary>
      <details-menu class="SelectMenu">
        <div class="SelectMenu-modal">
          <div class="SelectMenu-list">
            <% view.select_list.each do |item| %>
              <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                <%= radio_button_tag "package_availability", item[:value], item[:selected], class: "js-enterprise-package-settings-radio", "data-package-setting-value": "#{item[:value]}" %>
                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="text-normal select-menu-item-text">
                  <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                  <span class="description"><%= item[:description] %></span>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      </details-menu>
    </details>
    <div class="js-enterprise-package-settings-managed-warning" <%= "hidden" if view.selected_option[:value] != view.is_managed %>>
      <% if total_published_packages != 0 %>
        <% warning_message = view.managed_warning_message(types_with_published_packages,
                                                        total_published_packages) %>
        <%= render partial: "businesses/settings/packages_warning_message", locals: {
            title: warning_message[:title],
            description: warning_message[:description]
        } %>
      <% end %>
    </div>
    <div class="js-enterprise-package-settings-disabled-warning" <%= "hidden" if view.selected_option[:value] != view.is_disabled %>>
      <% if total_published_packages != 0 %>
        <% warning_message = view.disabled_warning_message(types_with_published_packages,
                                                         total_published_packages) %>
        <%= render partial: "businesses/settings/packages_warning_message", locals: {
          title: warning_message[:title],
          description: warning_message[:description]
      } %>
      <% end %>
    </div>
    <div class="pt-5 js-package-types-list" <%= "hidden" if view.selected_option[:value] == view.is_disabled %>>
      <div class="Box">
        <ul>
          <% packages_by_type.each do |package_type_key, packages_of_type| %>
            <li class="Box-row">
              <div class="clearfix">
                <label class="d-flex flex-items-center flex-row" for="<%='package_types_enabled[#{packages_of_type.name}]' %>" >
                  <% if packages_of_type.total_pkgs_published_count > 0 %>
                    <input type="hidden" name=<%="package_types_enabled[#{packages_of_type.name}]"%> value="default">
                  <% end %>
                  <%= check_box_tag "package_types_enabled[#{packages_of_type.name}]",
                                    "on",
                                    view.package_availabilities[packages_of_type.name],
                                    :disabled => packages_of_type.total_pkgs_published_count > 0,
                                    :hidden => view.current_selected != view.is_managed,
                                    :class => "mr-3 js-package-type-checkbox"
                  %>
                  <div class="d-flex flex-row flex-items-center">
                    <div class="float-left mr-3">
                      <%= svg("icons/packages/#{packages_of_type.name}.svg", width: "40", height: "40") %>
                    </div>
                    <div class="d-flex flex-column">
                      <%= packages_of_type.pretty_name %>
                      <div class="d-flex flex-row">
                        <span class="f5 text-normal text-gray-light">
                          <%= view.package_type_count_description(packages_of_type.total_pkgs_published_count) %>&nbsp;
                        </span>
                        <% if packages_of_type.total_pkgs_published_count != 0 %>
                          <details class="details-reset details-overlay details-overlay-dark ">
                            <summary aria-haspopup="dialog" class="f5 text-normal btn-link text-blue" role="button">
                              <%= view.package_type_orgs_description(packages_of_type.distinct_owners_count, packages_of_type.distinct_owners_to_enumerate) %>
                            </summary>
                            <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast">
                              <div class="Box-header">
                                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog"
                                  data-close-dialog>
                                  <%= octicon "x" %>
                                </button>
                                <h3 class="Box-title"><%= packages_of_type.pretty_name %> packages usage</h3>
                              </div>
                              <div class="overflow-auto text-normal">
                                <div class="Box-body overflow-auto">
                                  <span>
                                    There are <strong><%= packages_of_type.distinct_owners_count %> organizations</strong> making usage of <%= packages_of_type.pretty_name %> packages. Members can publish and install packages.
                                  </span>
                                </div>
                                <%= render partial: "businesses/settings/orgs", locals: {
                                    :logins => logins[package_type_key],
                                    :package_type => packages_of_type.pretty_name
                                } %>
                              </div>
                            </details-dialog>
                          </details>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-actions pt-5">
      <button type="submit" class="btn btn-primary float-left js-update-enterprise-package-settings" disabled>Update Settings</button>
    </div>
  <% end %>
<% end %>
