<% page_info title: "Pages policies", selected_link: :business_pages_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Pages policies",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <% if config_run_in_progress? %>
    <%= render "businesses/in_progress_config_run" %>
  <% end %>
  <p>
    GitHub Pages allows users to create and publish websites on your private instance.
  </p>
  <div>
    <%= form_with url: settings_pages_enterprise_path(this_business), method: :patch do %>
      <label aria-live="polite">
        <div class="form-checkbox">
          <input type="hidden" name="pages_enabled" value="0">
          <input type="checkbox" name="pages_enabled" value="1" id="pages_enabled"
            class="form-checkbox-details-trigger"
            <%= "disabled" if config_run_in_progress? %>
            <%= "checked" if GitHub.pages_enabled? %>>
          <label for="pages_enabled">Enable GitHub Pages</label>
          <span class="note">
            Enabling GitHub Pages allows users to create and publish GitHub Pages sites on your instance.
          </span>

          <div class="mt-3 form-checkbox-details">
            <input type="hidden" name="public_pages" value="0">
            <input type="checkbox" name="public_pages" value="1" id="public_pages"
              <%= "disabled" if config_run_in_progress? %>
              <%= "checked" if GitHub.public_pages? %>>
            <label for="public_pages">Public GitHub Pages</label>
            <span class="note">
              Enabling Public GitHub Pages makes GitHub Pages sites hosted on your
              instance publicly accessible to anyone regardless of whether they are
              signed in to your instance.
            </span>
          </div>
        </div>
      </label>

      <div class="mt-3">
        <button class="btn" type="submit"
          <%= "disabled" if config_run_in_progress? %>
          data-disable-with="Saving…" aria-label="Save">
          Save
        </button>
      </div>
    <% end %>
  </div>
<% end %>
