<% page_info responsive: false, title: "Enterprise profile",
  selected_link: :business_profile_settings,
  stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Enterprise profile",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= form_tag settings_profile_enterprise_path(this_business), method: :put, novalidate: "novalidate" do %>
    <div class="d-flex flex-shrink-0 gutter clearfix">
      <div class="col-6">
        <dl class="form-group required">
          <dt><%= label_tag "business[name]", "Enterprise display name" %></dt>
          <dd><%= text_field_tag "business[name]", this_business.name %></dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[description]", "Description"%></dt>
          <dd class="js-length-limited-input-container position-relative">
            <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= user_suggestions_path %>">
              <%= text_field_tag "business[description]", this_business.description,
                  class: "js-length-limited-input",
                  "data-input-max-length": Business::MAX_DESCRIPTION_LENGTH,
                  "data-warning-text": "{{remaining}} remaining"
              %>
            </text-expander>
            <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
          </dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[website_url]", "URL" %></dt>
          <dd><%= url_field_tag "business[website_url]", this_business.website_url %></dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[location]", "Location" %></dt>
          <dd><%= url_field_tag "business[location]", this_business.location %></dd>
        </dl>

        <button type="submit" class="btn btn-primary">Update profile</button>
      </div>

      <div class="col-6">
        <%= file_attachment_tag(
          model: :avatars,
          input: "avatar-upload-input",
          class: "is-default js-upload-avatar-image",
          "data-alambic-owner-id": this_business.id,
          "data-alambic-owner-type": "Business"
        ) do %>
          <%= render partial: "settings/avatar", locals: { owner: this_business, input_id: "avatar-upload-input" } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
