<% page_info responsive: false, title: "Projects policies",
  selected_link: :business_projects_settings,
  stafftools: business_stafftools_resource_path(view.business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: view.business,
    title: "Projects policies",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <p class="col-10">
    Project boards on GitHub help you organize and prioritize your work.
    You can create project boards for specific feature work, comprehensive
    roadmaps, or even release checklists.
  </p>

  <h3 class="text-normal pt-4 pb-2">Organization projects</h3>
  <p class="mb-3 col-10">
    If enabled, members are allowed to create projects for all organizations in this enterprise.
    This does not affect projects in organization repositories in any way.
  </p>

  <%= form_tag view.organizations_form_path, method: :put, class: "d-block" do |f| %>
    <details class="details-reset details-overlay select-menu mb-2 position-relative">
      <summary class="btn select-menu-button">
        <i>All organizations: </i>
        <span data-menu-button>
          <%= view.organizations_button_text %>
        </span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
        <div class="select-menu-header text-left">
          <span class="select-menu-title">Organization projects</span>
        </div>
        <div class="select-menu-list">
          <% view.organizations_select_list.each do |item| %>
            <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
              <%= radio_button_tag "organization_projects_allowed", item[:value], item[:selected], :"data-autosubmit" => true %>
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="text-normal select-menu-item-text">
                <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                <span class="description"><%= item[:description] %></span>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>

  <div class="d-inline-block">
    <%= octicon("eye") %>
    <details class="details-reset details-overlay details-overlay-dark d-inline-block">
      <summary class="btn-link note text-blue">
        View your organizations’ current configurations
      </summary>
      <details-dialog
        src="<%= view.organization_projects_setting_organizations_business_path %>"
        preload
        class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide overflow-scroll-y"
        aria-label="Organization projects">
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
    <span class="note"> without the enterprise's policy.</span>
  </div>

  <h3 class="text-normal pt-6 pb-2">Repository projects</h3>
  <p class="mb-3 col-10">
    If enabled, members are allowed to create projects in all organization repositories in this enterprise.
    This affects every project at the repository level in this enterprise. You can still disable projects for a specific repository in repository settings.
  </p>

  <%= form_tag view.repositories_form_path, method: :put, class: "d-block" do |f| %>
    <details class="details-reset details-overlay select-menu mb-2 position-relative">
      <summary class="btn select-menu-button">
        <i>All organizations: </i>
        <span data-menu-button>
          <%= view.repositories_button_text %>
        </span>
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
        <div class="select-menu-header text-left">
          <span class="select-menu-title">Repository projects</span>
        </div>
        <div class="select-menu-list">
          <% view.repositories_select_list.each do |item| %>
            <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
              <%= radio_button_tag "repository_projects_allowed", item[:value], item[:selected], :"data-autosubmit" => true %>
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="text-normal select-menu-item-text">
                <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                <span class="description"><%= item[:description] %></span>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>

  <div class="d-inline-block">
    <%= octicon("eye") %>
    <details class="details-reset details-overlay details-overlay-dark d-inline-block">
      <summary class="btn-link note text-blue">
        View your organizations’ current configurations
      </summary>
      <details-dialog
        src="<%= view.repository_projects_setting_organizations_business_path %>"
        preload
        class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide overflow-scroll-y"
        aria-label="Repository projects">
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
    <span class="note"> without the enterprise's policy.</span>
  </div>
<% end %>
