<% view = Businesses::Settings::SecurityView.new \
  business: this_business, current_user: current_user, params: params %>

<% page_info responsive: false, title: "Security",
             selected_link: :business_security_settings,
             stafftools: business_stafftools_resource_path(this_business) %>

<% ip_whitelist_entries = this_business.ip_whitelist_entries
  .order(whitelisted_value: :asc)
  .paginate(page: current_page) %>
<% installed_app_ip_whitelist_entries = IpWhitelistEntry.installed_for(this_business)
  .order(whitelisted_value: :asc)
  .paginate(page: current_page) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Security",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="Subhead-heading pb-2">Two-factor authentication</div>
  <p>
    Enabling two-factor authentication adds another level of security for your organizations.
    <%= link_to \
      "Learn more",
      "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise-account/enforcing-security-settings-in-your-enterprise-account#requiring-two-factor-authentication-for-organizations-in-your-enterprise-account" %>.
  </p>

  <%= form_tag update_settings_two_factor_required_enterprise_path(this_business.slug), method: :put do |f| %>
    <div class="form-checkbox">
      <%= render "businesses/settings/two_factor_required_checkbox",
            business: this_business,
            view: view %>

      <p class="note">
        Organization members, billing managers, and outside collaborators who do not have two-factor authentication enabled for their personal account
        will be removed from enterprise organizations and will receive an email notifying them about the change.
      </p>

      <div class="d-block py-2">
        <%= octicon("eye") %>
        <details class="details-reset details-overlay details-overlay-dark d-inline-block">
          <summary class="btn-link note text-blue">
            View your organizations’ current configurations
          </summary>
          <details-dialog
            src="<%= view.two_factor_required_setting_organizations_business_path %>"
            preload
            class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide overflow-scroll-y"
            aria-label="Two-factor authentication">
            <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
          </details-dialog>
        </details>
        <span class="note d-inline-block"> without the enterprise’s policy.</span>
      </div>

    </div>

    <div class="clearfix">
      <% if !view.disable_submit_button? && view.two_factor_requirement_disabled_and_needs_confirmation? %>
        <%= render "businesses/settings/two_factor_required_confirmation", business: this_business %>
      <% else %>
        <button type="submit" class="btn float-left ml-3 mr-4" <%= 'disabled' if view.disable_submit_button? %>>
          Save
        </button>
      <% end %>

      <% if view.two_factor_requirement_form_disabled? %>
        <span class="note d-inline-block pt-1 mt-1 clearfix">
          <%= octicon("question") %>
          <%= view.disabled_form_reason %>
        </span>
      <% end %>
    </div>
  <% end %>

  <% if business_saml_sso_enabled? %>
    <%= render Primer::SubheadComponent.new(spacious: true, pt: 3, id: "saml-settings") do |component| %>
      <% component.slot(:heading, tag: :h2) do %>SAML single sign-on<% end %>
    <% end %>

    <p>
      <% if GitHub.flipper[:enterprise_idp_provisioning].enabled?(this_business) %>
        Manage your enterprise’s membership while adding another level of security with SAML.
      <% else %>
        Add another level of security to your enterprise with SAML single sign-on.
      <% end  %>
      <%= link_to \
        "Learn more",
        "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise-account/enforcing-security-settings-in-your-enterprise-account#enabling-saml-single-sign-on-for-organizations-in-your-enterprise-account" %>.
    </p>

    <template id="disable-saml-confirmation">
      <div class="Box-header"><h3 class="Box-title">Are you sure you want to disable SAML?</h3></div>
      <div class="Box-body">
        Disabling SAML authentication for the <%= this_business.name %> enterprise will not remove existing members.
      </div>

      <%= form_tag settings_saml_provider_enterprise_path(this_business.slug), method: :delete, class: "Box-footer" do %>
        <button type="submit" class="btn btn-block btn-danger">Disable SAML authentication</button>
      <% end %>
    </template>

    <div class="saml-settings-form" data-warn-unsaved-changes="Changes to your SAML provider settings may not be saved">
      <%= form_for(:saml, url: settings_saml_provider_enterprise_path(this_business.slug, anchor: "saml-settings"),
        method: :put, html: { class: "js-business-saml-provider-settings-form", novalidate: true }) do |f| %>
        <div class="form-checkbox">
          <input id="enable-saml-checkbox" type="checkbox" name="enable-saml-checkbox" class="js-business-enable-saml" <%= "checked" if view.show_saml_settings? %>>
          <input type="hidden" name="saml-currently-enabled" class="js-business-saml-currently-enabled" value="<%= view.saml_settings_saved? ? 1 : 0 %>">
          <label for="enable-saml-checkbox">Enable SAML authentication</label>

          <p class="note">
            Enable SAML authentication for your enterprise through an identity
            provider like Azure, Okta, Onelogin, Ping Identity or your custom SAML 2.0 provider.
          </p>

          <% if view.show_orgs_with_saml_configured? %>
            <div class="d-block py-2">
              <%= octicon "eye" %>
              <details class="details-reset details-overlay details-overlay-dark d-inline-block">
                <summary class="btn-link note text-blue">
                  View your organizations’ current configurations
                </summary>
                <details-dialog
                  src="<%= view.saml_identity_provider_setting_organizations_business_path %>"
                  preload
                  class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide overflow-scroll-y"
                  aria-label="SAML single sign-on">
                  <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
                </details-dialog>
              </details>
              <span class="note d-inline-block"> without the enterprise’s policy.</span>
            </div>
          <% end %>

          <div class="js-business-saml-form-inputs <%= "d-none" unless view.show_saml_settings? %>">
            <% if view.saml_settings_saved? %>
              <div class="Box my-4 bg-gray-light">
                <% if view.show_recovery_prompt? %>
                  <div class="border-bottom p-3 d-flex flex-items-center">
                    <div>
                      <%= octicon "shield-lock", :height => 16, :class => "text-gray mr-3" %>
                    </div>
                    <p class="note">
                      <%= link_to "Save your recovery codes",
                        settings_saml_provider_recovery_codes_enterprise_path(this_business.slug) %>
                      in a safe place. If your IdP is unavailable you can use a
                      recovery code to skip single sign-on and access
                      the <%= this_business.name %> enterprise.
                    </p>
                  </div>
                <% end %>

                <div class="p-3 d-flex flex-items-center">
                  <div>
                    <%= octicon "link", :height => 16, :class => "text-gray mr-3" %>
                  </div>
                  <p class="note">
                    The <%= this_business.name %> enterprise single sign-on URL is
                    <%= link_to view.saml_sso_url, view.saml_sso_path %>
                  </p>
                </div>
              </div>
            <% end %>
            <%= render "businesses/settings/security/saml_form", f: f, view: view, bootstrap_flow: false %>
          </div>
        </div>
        <button id="save-saml-settings" name="save_settings" value="1" class="btn js-business-saml-submit ml-3" type="submit" <%= "disabled" if view.saml_test_failure? %>>Save</button>
      <% end %>
    </div>
    <div class="js-business-saml-user-provisioning">
      <% if view.saml_settings_saved? && GitHub.flipper[:enterprise_idp_provisioning].enabled?(this_business) %>
        <%= render "businesses/saml_provider/user_provisioning/settings" %>
      <% end %>
    </div>
  <% end %>
  <% if view.show_team_sync_settings? %>
    <%= render_partial_view "businesses/security_settings/team_sync/settings", view %>
  <% end %>
  <% if view.show_ssh_cas? %>
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading) do %>SSH Certificate Authorities<% end %>
      <% component.slot(:actions) do %>
        <a href="<%= ssh_certificate_authorities_new_enterprise_path %>" class="btn btn-sm btn-primary">New CA</a>
      <% end %>
    <% end %>

    <% if this_business.ssh_certificate_authorities.any? %>
      <p>
        This is a list of SSH certificate authorities associated with this enterprise.
      </p>
      <ul class="Box border-bottom-0 mb-3">
        <%= render partial: "ssh_certificate_authorities/listing", collection: this_business.ssh_certificate_authorities, as: :ca, locals: {this_owner: this_business} %>
      </ul>

      <%= form_tag update_settings_ssh_cert_requirement_enterprise_path(this_business) do |f| %>
        <div class="form-checkbox">
          <input id="enable_ssh_cert_requirement_checkbox" type="checkbox" name="enable_ssh_cert_requirement" <%= "checked" if this_business.ssh_certificate_requirement_enabled? %> >

          <label for="enable_ssh_cert_requirement_checkbox">Require SSH Certificates</label>

          <p class="note text-gray-light">
            <% if GitHub.single_business_environment? %>
              Require members and collaborators to use SSH certificates for accessing this enterprise's repositories. Members and collaborators will only be able to use passwords or personal access tokens if SSH access has been disabled for the repository. For more information, see <a href="<%= GitHub.help_url %>/enterprise/admin/installation/disabling-git-ssh-access-on-github-enterprise-server#disabling-git-ssh-access-to-a-specific-repository">"Disabling Git SSH access on GitHub Enterprise Server."</a> Access by authorized third-party integrations will not be affected.
            <% else %>
              Require members and collaborators to use SSH certificates for accessing this enterprise's repositories. This will disable access using passwords and personal access tokens. Access by authorized third-party integrations will not be affected.
            <% end %>
          </p>
        </div>
        <button type="submit" class="btn">Save</button>
      <% end %>
    <% else %>
      <p>There are no SSH certificate authorities associated with this enterprise.</p>
    <% end %>
  <% end %>

  <% if view.show_ip_whitelisting? %>
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, display: :flex, align_items: :center) do %>IP allow list<% end %>
    <% end %>
    <p>
      An IP allow list lets your enterprise limit access based on the IP address a person is accessing from.
      <%= link_to \
        "Learn more",
        "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise-account/enforcing-security-settings-in-your-enterprise-account#managing-allowed-ip-addresses-for-organizations-in-your-enterprise-account" %>.
    </p>

    <% member_org_count = this_business.organizations.count %>
    <% if member_org_count > 0 && this_business.ip_whitelisting_enabled? %>
      <div class="flash flash-warn" <%= test_selector "orgs-inheriting-ip-allow-list-warning" %>>
        <%= octicon :alert %>
        This IP allow list is inherited by
        <strong><%= number_with_delimiter member_org_count %>
        <%= pluralize_without_number member_org_count, "organization" %></strong>.
        Before making changes to your IP allow list, please consider the
        possible impact on any member organizations.
      </div>
    <% end %>

    <div class="mt-4">
      <%= form_tag update_ip_whitelisting_enabled_enterprise_path(this_business), method: :put do |f| %>
        <div class="form-checkbox">
          <input id="enable_ip_whitelisting_checkbox" type="checkbox" name="enable_ip_whitelisting"
            <%= "checked" if this_business.ip_whitelisting_enabled? %>>
          <label for="enable_ip_whitelisting_checkbox">Enable IP allow list</label>
          <p class="note text-gray-light">
            Enabling will allow you to restrict access by IP address to resources owned by this enterprise.
          </p>
        </div>
        <button type="submit" class="btn ml-3">Save</button>
      <% end %>
      <br>

      <%= form_tag update_ip_whitelisting_app_access_enabled_enterprise_path(this_business), method: :put do |f| %>
        <div class="form-checkbox">
          <input id="enable_ip_whitelisting_app_access_checkbox" type="checkbox" name="enable_ip_whitelisting_app_access"
            <%= "checked" if this_business.ip_whitelisting_app_access_enabled? %>>
          <label for="enable_ip_whitelisting_app_access_checkbox">Enable automatic IP allow list configuration for GitHub Apps</label>
          <p class="note text-gray-light">
            Enabling will automatically set up IP allow list entries for GitHub Apps installed on organizations in this enterprise.
          </p>
        </div>
        <button type="submit" class="btn ml-3">Save</button>
      <% end %>
      <br>

      <div class="Box mb-6 ml-3">
        <% if ip_whitelist_entries.any? || installed_app_ip_whitelist_entries.any? %>
          <ul class="table-list" style="table-layout: auto;">
            <li class="table-list-item bg-gray text-gray-dark">
              <span class="table-list-cell border-top-0 text-bold f5 py-3 pl-3" style="min-width: 140px;">IP address</span>
              <span class="table-list-cell border-top-0 text-bold f5 py-3 ">Description</span>
              <span class="table-list-cell border-top-0 text-bold f5 py-3 pr-3"></span>
            </li>
            <%= render partial: "ip_whitelist_entries/entry",
              collection: installed_app_ip_whitelist_entries, as: :entry, locals: { this_owner: this_business, override_disabled: !this_business.ip_whitelisting_app_access_enabled? } %>
            <%= render partial: "ip_whitelist_entries/entry",
              collection: ip_whitelist_entries, as: :entry, locals: { this_owner: this_business } %>
          </ul>
          <div class="paginate-container hidden-when-empty"><%= will_paginate ip_whitelist_entries %></div>
        <% else %>
          <div class="Box-body text-center text-gray py-6">
            There are no IP addresses on the allow list yet.
          </div>
        <% end %>

        <%= form_for IpWhitelistEntry.new, url: enterprise_ip_whitelist_entries_path do |f| %>
          <div class="Box-footer d-flex">
            <%= render partial: "ip_whitelist_entries/edit_entry",
              object: IpWhitelistEntry.new, as: :entry, locals: { this_owner: this_business, f: f } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
