<% page_info responsive: false, title: "Support",
  selected_link: :business_support_settings,
  stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Support",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <% if GitHub.private_instance? %>
    <%= render partial: "businesses/settings/support/private_instance_index" %>
  <% elsif !GitHub.single_business_environment? %>
    <%= render partial: "businesses/settings/support/dotcom_index", locals: {
      entitlees: this_business.support_entitlees
    } %>
  <% end %>
<% end %>
