<% page_info :selected_link => :showcase_biztools %>

<%= render layout: "biztools/biztools" do %>
  <%= render :partial => "biztools/explore/featured_showcases", :locals => { :collections => featured_collections } %>
  <%= render :partial => "biztools/explore/showcases", :locals => { :collections => collections } %>
<% end %>
