<% page_info :selected_link => :showcase_biztools %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>New showcase</h3>
    <div class="boxed-group-inner">
      <%= render "biztools/showcase_collections/form", collection: collection %>
    </div>
  </div>
<% end %>
