<%# `view` is an instance of BillingManagers::InviteeSuggestionsView %>

<% if view.suggestions? %>
  <% view.suggestions.each do |user| %>
    <li role="option" class="member-suggestion typeahead-result <%= "disabled" unless view.item_enabled_for?(user) %>" <%= "aria-disabled=true" unless view.item_enabled_for?(user) %> data-autocomplete-value="<%= user %>">
      <%= avatar_for(user, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= user %></strong>
        <span class="member-name">
          <%= user.profile_name %>
        </span>
      </p>

      <% unless view.invitable?(user) %>
        <p class="non-member-note"><%= view.uninvitable_reason_text_for(user) %></p>
        <p class="non-member-action"><%= view.uninvitable_reason_text_for(user) %></p>
      <% end %>

      <%= octicon(view.octicon_classes_for(user), :class => "float-right") %>
    </li>
  <% end %>
<% elsif view.allow_email_invites? && view.email_invitation? %>
  <li role="option" class="member-suggestion email-suggestion typeahead-result" data-autocomplete-value="<%= view.query %>">
    <%= octicon("mail", :height => 16, :class => "mt-1 float-left mr-2") %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= view.query %></strong>
      <span class="member-name">invite to become a billing manager of <%= view.organization %></span>
    </p>
    <%= octicon("plus", :class => "float-right") %>
  </li>
<% elsif view.email_query? %>
  <li role="option" class="non-member-result typeahead-result disabled" aria-disabled="true" data-autocomplete-value="<%= view.query %>">
    <%= view.query %> doesn’t have a GitHub account
  </li>
<% elsif view.user_query? %>
  <li role="option" class="non-member-result typeahead-result disabled" aria-disabled="true" data-autocomplete-value="<%= view.query %>">
    <%= view.query %> isn’t a GitHub member
  </li>
<% end %>
