<% # view is an instance of BillingManagers::NewView %>

<% page_info responsive: false, :title => "Billing", :selected_link => :"organization_billing_settings" %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render "orgs/invitations/rate_limited_message", :hide_close => true if view.rate_limited? %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      <%= link_to "Billing", settings_org_billing_path(view.organization), "data-pjax" => true %>
         / Add a billing manager
    <% end %>
  <% end %>

  <p>
    A <strong>billing manager</strong> is a user who manages the billing settings of your organization.
  </p>

  <div class="d-flex flex-justify-between my-4">
    <div class="pr-5">
      <p class="f4">
        Billing managers <strong>will</strong> have the ability to:
      </p>
      <ul class="list-style-none mb-3">
        <% if view.organization.plan.per_seat? %>
          <li><%= octicon("check", class: "mr-2 text-green") %> See the count of used seats and add seats</li>
        <% else %>
          <li><%= octicon("check", class: "mr-2 text-green") %> Change the billing plan</li>
        <% end %>
        <li><%= octicon("check", class: "mr-2 text-green") %> Add, update, or remove payment methods</li>
        <li><%= octicon("check", class: "mr-2 text-green") %> View payment history</li>
        <li><%= octicon("check", class: "mr-2 text-green") %> Download, and receive receipts</li>
        <li><%= octicon("check", class: "mr-2 text-green") %> View a list of billing managers</li>
        <li><%= octicon("check", class: "mr-2 text-green") %> Invite additional billing managers</li>
        <li><%= octicon("check", class: "mr-2 text-green") %> Remove other existing billing managers</li>
      </ul>
    </div>
    <div class="pl-5">
      <p class="f4">
        Billing managers <strong>will not</strong> be able to:
      </p>
      <ul class="list-style-none">
        <li><%= octicon("x", class: "mr-2 text-red") %> Create or access repositories in your organization</li>
        <li><%= octicon("x", class: "mr-2 text-red") %> See private members of your organization</li>
        <li><%= octicon("x", class: "mr-2 text-red") %> Be seen in the list of organization members</li>
        <li><%= octicon("x", class: "mr-2 text-red") %> Use the organization’s payment method</li>
        <% if marketplace_enabled? %>
          <li><%= octicon("x", class: "mr-2 text-red") %> Purchase, edit, or cancel Marketplace subscriptions</li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= form_tag org_billing_managers_path(view.organization), method: :post do %>
    <% if Rails.env.development? && params[:fakestate] %>
      <input type="hidden" name="fakestate" value="<%= params[:fakestate] %>">
    <% end %>
    <label for="billing_manager_login">
      Search by username, full name or email address
    </label>

    <div class="input-group billing-manager-input mt-1">
      <auto-complete class="auto-search-group d-block" src="<%= org_billing_manager_suggestions_path(view.organization) %>" for="billing-manager-results">
        <input type="text" id="billing_manager_login" name="id"
          class="form-control auto-search-input"
          <%= "disabled" if view.rate_limited? %>
          placeholder="Search people">
        <%= octicon("person") %>
        <ul id="billing-manager-results" class="autocomplete-results"></ul>
      </auto-complete>
      <div class="input-group-button">
        <button type="submit" class="btn btn-primary" <%= "disabled" if view.rate_limited? %>>Send invitation</button>
      </div>
    </div>
  <% end %>
<% end %>
