<div class="col-4 mb-4">
  <span class="text-bold d-block" <%= test_selector("field-title") %>>
    <%= title %>
  </span>
  <span class="<%= value_class %> text-gray text-small" <%= test_selector("field-value") %>>
    <%= value %>

    <% if search_url.present? %>
      <a href="<%= search_url %>" title="Search in the audit log" <%= test_selector("field-search-link") %>>
        <%= render GitHub::OcticonComponent.new(icon: "search") %>
      </a>
    <% end %>
  </span>
</div>
