<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>Flagged sponsors<% end %>
<% end %>
<div class="mb-4">
  <% flagged_records.each do |flagged_record| %>
    <%= render Stafftools::Sponsors::FraudReviews::FlaggedSponsorComponent.new(
      flagged_record: flagged_record,
      sponsor: flagged_record.sponsor,
    ) %>
  <% end %>
</div>
