<div class="Box Details mb-2 js-details-container">
  <div class="Box-row d-flex flex-justify-between flex-items-center">
    <div class="col-4">
      <a
        href="<%= overview_stafftools_user_path(sponsor_login) %>"
        class="text-bold"
        <%= test_selector("flagged-sponsor") %>
      >
        <%= sponsor_login %>
      </a>
      <span class="d-block text-gray text-small">
        Flagged at <%= formatted_flagged_at %>
      </span>
    </div>

    <div class="col-7">
      <ul class="list-style-none text-mono text-gray-light">
        <% if flagged_record.matched_current_client_id.present? %>
          <li
            class="Label Label--outline mr-1 mb-1"
            title="Label: matching current client ID"
            <%= test_selector("flagged-current-client-id") %>
          >
            Client ID
          </li>
        <% end %>
        <% if flagged_record.matched_historical_client_id.present? %>
          <li
            class="Label Label--outline mr-1 mb-1"
            title="Label: matching historical client ID"
            <%= test_selector("flagged-historical-client-id") %>
          >
            Historical client ID
          </li>
        <% end %>
        <% if flagged_record.matched_current_ip.present? %>
          <li
            class="Label Label--outline mr-1 mb-1"
            title="Label: matching current IP address"
            <%= test_selector("flagged-current-ip") %>
          >
            IP address
          </li>
        <% end %>
        <% if flagged_record.matched_historical_ip.present? %>
          <li
            class="Label Label--outline mr-1 mb-1"
            title="Label: matching historical IP address"
            <%= test_selector("flagged-historical-ip") %>
          >
            Historical IP address
          </li>
        <% end %>
        <% if flagged_record.matched_current_ip_region_and_user_agent.present? %>
          <li
            class="Label Label--outline mr-1 mb-1"
            title="Label: matching current IP region and user agent"
            <%= test_selector("flagged-region-user-agent") %>
          >
            Region + user agent
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-1 d-flex flex-justify-end">
      <button
        class="btn-octicon js-details-target"
        type="button"
        aria-label="toggle"
        aria-expanded="false"
      >
        <span class="sponsors-foldable-opened"><%= render(GitHub::OcticonComponent.new(icon: "fold")) %></span>
        <span class="sponsors-foldable-closed"><%= render(GitHub::OcticonComponent.new(icon: "unfold")) %></span>
      </button>
    </div>
  </div>

  <div class="sponsors-foldable bg-gray-light">
    <div class="border-top"></div>
    <div class="d-flex flex-wrap p-3">
      <% Stafftools::Sponsors::FraudReviews::FlaggedSponsorFieldComponent::FIELDS.keys.each do |field| %>
        <%= render Stafftools::Sponsors::FraudReviews::FlaggedSponsorFieldComponent.new(
          flagged_record: flagged_record,
          field: field,
        ) %>
      <% end %>
    </div>
  </div>
</div>
