<div class="Box-row d-flex flex-auto" <%= test_selector("review-#{@review.id}") %>>
  <div class="col-8 d-flex flex-auto">
    <div>
      <%= render GitHub::OcticonComponent.new(
        icon: state_icon,
        color: state_icon_color,
        mr: 2,
      ) %>
    </div>
    <div class="d-flex flex-column flex-auto">
      <a href="<%= stafftools_sponsors_fraud_review_path(@review) %>" class="text-bold">
        <%= sponsorable_login %>
      </a>
      <span class="d-block">
        <% if matchable %>
          <span title="Label: matchable label" class="Label Label--outline text-pink text-small" style="background: #ffeef860; border: 1px solid #f9b3dd">
            Matchable
          </span>
        <% end %>
        <span class="text-gray text-small">
          Queued on <%= created_at_date %>
          <% if reviewer.present? %>
            &bull; Reviewed by <%= profile_link(reviewer) %> on
            <%= reviewed_at_date %>
          <% end %>
        </span>
      </span>
    </div>
    <div class="col-4 d-flex flex-column flex-items-end flex-justify-end">
      <span class="text-gray text-small" <%= test_selector("payout-probation-end-date") %>>
        <% if payout_probation_end_date_string.present? %>
          <%= payout_probation_end_date_string %>
        <% end %>
      </span>
      <span class="text-gray text-small">
        <% if next_payout_date.present? %>
          Estimated next payout on <%= next_payout_date %>
        <% end %>
      </span>
    </div>
  </div>
</div>
