<div class="Box">
  <div class="Box-row">
    <div class="d-flex flex-justify-start">
      <%= linked_avatar_for(sponsorable, 48, img_class: "avatar mr-2") %>
      <div>
        <%= profile_link(sponsorable, class: "no-underline mb-1") do %>
          <span class="text-bold"><%= sponsorable_login %></span>
          <span class="link-gray ml-1"><%= profile_name %></span>
        <% end %>
        <div class="mt-1">
          <%= profile_bio if profile_bio.present? %>
        </div>
      </div>
    </div>
  </div>
  <div class="Box-row">
    <%= render Stafftools::Sponsors::MembershipStatusComponent.new(
      sponsorable: sponsorable,
      membership: sponsorable.sponsors_membership,
    ) %>
  </div>
  <div class="Box-row">
    <div class="mb-2" <%= test_selector("join-date") %>>
      <span class="d-block text-bold">Join date</span>
      <span class="d-block"><%= join_date %></span>
    </div>
    <div class="mb-2" <%= test_selector("membership-accepted-date") %>>
      <span class="d-block text-bold">Membership accepted</span>
      <span class="d-block"><%= membership_accepted_date %></span>
    </div>
    <div class="mb-2" <%= test_selector("listing-published-date") %>>
      <span class="d-block text-bold">Listing published</span>
      <span class="d-block"><%= listing_published_date %></span>
    </div>
    <div class="mb-2">
      <span class="d-block text-bold">Matching status</span>
      <span class="d-block">
        <%= render Stafftools::Sponsors::Members::MatchingStatusComponent.new(listing: @listing) %>
      </span>
    </div>
    <div class="mb-2" <%= test_selector("payout-probation-text") %>>
      <span class="d-block text-bold">Payout probation</span>
      <span class="d-block">
        <%= render Stafftools::Sponsors::Members::PayoutProbationStatusComponent.new(listing: @listing) %>
      </span>
    </div>
    <% if has_stripe_account? %>
      <div class="mb-2" <%= test_selector("stripe-balance") %>>
        <span class="d-block text-bold">Stripe balance</span>
        <span class="d-block">
          <include-fragment src="<%= stafftools_sponsors_member_listing_stripe_balance_partial_path(sponsorable_login) %>" class="d-flex flex-items-center">
            <%= image_tag "spinners/octocat-spinner-32.gif", size: "16x16", alt: "", class: "mr-1" %>
            <span class="text-gray">Loading balance...</span>
          </include-fragment>
        </span>
      </div>
    <% end %>
    <div class="mb-2" <%= test_selector("sponsors-count") %>>
      <span class="d-block text-bold">Number of sponsors</span>
      <span class="d-block"><%= sponsors_count %><span>
    </div>
  </div>
  <div class="Box-row">
    <ul class="site-admin-detail-list">
      <li>
        <%= octicon "rocket" %>
        <a href="<%= stafftools_sponsors_member_path(sponsorable_login) %>">
          View membership stafftools
        </a>
      </li>
      <% if has_stripe_account? %>
        <li>
          <%= octicon "link-external" %>
          <a href="<%= stripe_dashboard_url %>">
            View in Stripe dashboard
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
