<% page_info \
    container_xl: true
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<%= render layout: "signup/container",
  locals: {
    title: "Welcome to GitHub",
    description: "Woohoo! You've joined millions of developers who are doing their best work on GitHub. Tell us what you're interested in. We'll help you get there.",
    yield_container_class: "container-md"
  } do %>
    <%= render(
      Organizations::CreationSurveyComponent.new(
        survey: survey,
        organization: current_organization
      )
    ) %>
<% end %>
