<div class="Box mb-3">
  <div class="Box-header d-flex flex-auto">
    <div <%= test_selector("merge-status-icon") %>>
      <%= render GitHub::OcticonComponent.new(
        icon: merge_status_icon,
        class: merge_status_class,
        size: :medium,
      ) %>
    </div>
    <div class="col-12 d-flex flex-column flex-lg-row">
      <div class="ml-2 flex-1">
        <span class="d-block text-bold">
          Pull request group
          <span class="text-mono text-gray-light">deadbeef</span>
        </span>
        <span class="text-gray text-small" <%= test_selector("merge-status") %>>
          <%= merge_status_description %>
        </span>
      </div>
      <div class="ml-lg-2">
        <a class="btn my-2 my-lg-0 mr-lg-2 d-block d-lg-inline-block text-center" href="#url" role="button">Deploy to production</a>
        <a class="btn btn-primary d-block d-lg-inline-block text-center" href="#url" role="button" aria-disabled="true">Merge this group</a>
      </div>
    </div>
  </div>
  <ul>
    <% entries.each do |entry|  %>
      <%= render MergeQueues::EntryComponent.new(entry: entry, repository: repository) %>
    <% end %>
  </ul>
</div>
