<li class="Box-row d-flex flex-auto"
  <% unless next_page_path.nil? %>data-pagination-src="<%= next_page_path %>"<% end %>
>
  <div class="d-flex flex-items-center mr-2">
    <div class="avatar-parent-child d-inline-flex" <%= test_selector("user-with-status") %>>
      <%= linked_avatar_for(entry.enqueuer, 32) %>
      <%= render GitHub::OcticonComponent.new(
        icon: status_icon,
        class: "avatar-child box-shadow-none #{status_icon_class}",
        style: "background-color: transparent;",
      ) %>
    </div>
  </div>
  <div class="col-12 col-md-7">
    <div>
      <%= profile_link(entry.enqueuer, class: "text-bold text-gray-dark") %>

      <a href="<%= gh_show_pull_request_path(pull_request) %>" class="text-gray-dark" <%= test_selector("pr-title") %>>
        <%= pull_request.title %>
      </a>

      <% if enqueued_by_viewer? %>
        <%= render Primer::LabelComponent.new(
          title: "Enqueued by you",
          scheme: :blue,
          test_selector: "enqueued-by-viewer",
        ) do %>
          Yours
        <% end %>
      <% end %>

      <% if entry.solo? %>
        <%= render Primer::LabelComponent.new(
          title: "Solo merge",
          scheme: :orange,
          test_selector: "solo-merge",
        ) do %>
          Solo merge
        <% end %>
      <% end %>
    </div>
    <div class="text-gray text-small">
      <span class="opened-by">
        #<%= pull_request.number %> opened <%= time_ago_in_words(pull_request.created_at) %> ago by <%= profile_link(pull_request.user) %>
      </span>
      <span> • <%= pull_request.latest_enforced_reviews_count_for(:approved) %> approvals</span>
    </div>
  </div>
  <div class="col-md-5 d-none d-md-flex flex-items-center flex-justify-end">
    <%= branch_label(
      pull_request.repository,
      pull_request.head_ref,
      expandable: true,
      link: true,
      extra_classes: branch_label_class,
      extra_link_classes: branch_link_class,
    ) %>
  </div>
</li>
