<%# erblint:counter TooltipCounter 3 %>
<%graphql
  fragment Repository on Repository {
    heads: refs(refPrefix: "refs/heads/") {
      totalCount
    }

    branchProtectionRules(first: $first, last: $last, after: $after, before: $before) {
      pageInfo {
        ...ApplicationHelper::CursorPaginate
      }

      totalCount

      nodes {
        databaseId

        matchingRefs {
          totalCount
        }

        pattern
      }
    }
  }
%>

<%

repository = Views::BranchProtectionRules::Index::Repository.new(repository)
page_info \
  container_xl: true,
  title: "Branches",
  responsive: false,
  selected_link: :repo_branch_settings

%>

<%= render layout: "edit_repositories/edit" do %>

  <% if repository.heads.total_count > 0 %>
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Default branch<% end %>
    <% end %>
    <p>
      The default branch is considered the “base” branch in your repository, against which all pull requests and code commits are automatically made, unless you specify a different branch.
    </p>
    <% if repository.heads.total_count == 1 %>
      <p>The default branch is set to <code><%= current_repository.default_branch %></code>. To change this setting, <a href="<%= GitHub.help_url %>/articles/creating-and-deleting-branches-within-your-repository/">add another branch</a>.</p>
    <% else %>
      <%= render partial: "edit_repositories/admin_screen/default_branch_select" %>
    <% end %>

    <% branch_updating_enabled = current_repository.can_update_protected_branches?(current_user) %>

    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Branch protection rules<% end %>
      <% if current_repository.plan_supports?(:protected_branches) %>
        <% component.slot(:actions) do %>
          <% if !branch_updating_enabled %>
            <button type="button" class="btn btn-sm tooltipped tooltipped-s" aria-label="branch editing was disabled by administrators" disabled>Add rule</button>
          <% else %>
            <%= link_to "Add rule", new_branch_protection_rule_path, class: "btn btn-sm", "data-pjax": true %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_repository.plan_supports?(:protected_branches) %>
      <p>
        Define branch protection rules to disable force pushing, prevent branches from being deleted, and optionally require status checks before merging.
        New to branch protection rules? <a href="<%= GitHub.help_url %>/articles/defining-the-mergeability-of-pull-requests/" title="Learn more about branch protection rules" data-ga-click="Branch Protection Rules, go to branch protection rules docs, from:branches settings">Learn more.</a>
      </p>

      <% if repository.branch_protection_rules.total_count > 0 %>
        <div class="listgroup protected-branches">
          <% repository.branch_protection_rules.nodes.each do |branch_protection_rule| %>
            <div class="listgroup-item">
              <% if !branch_updating_enabled %>
                <div class="BtnGroup float-right">
                  <button type="button" class="BtnGroup-item btn btn-sm tooltipped tooltipped-s" aria-label="branch editing was disabled by administrators" disabled>Edit</button>
                  <button type="button" class="btn btn-sm btn-danger BtnGroup-item tooltipped tooltipped-s" aria-label="branch editing was disabled by administrators" disabled>Delete</button>
                </div>
              <% else %>
                <div class="BtnGroup float-right">
                  <a href="<%= branch_protection_rule_path(id: branch_protection_rule.database_id) %>" class="BtnGroup-item btn btn-sm" data-ga-click="Branch Protection Rules, go to branch protection rule settings, from:branches settings">Edit</a>
                  <%= button_to "Delete",
                        branch_protection_rule_path(id: branch_protection_rule.database_id),
                        method: :delete,
                        class: "btn btn-sm btn-danger BtnGroup-item",
                        form_class: "BtnGroup-parent float-right" %>
                </div>
              <% end %>

              <span class="float-right mr-2">Currently applies to <%= branch_protection_rule.matching_refs.total_count %> <%= "branch".pluralize(branch_protection_rule.matching_refs.total_count) %></span>
              <span class="branch-name"><%= branch_protection_rule.pattern %></span>
            </div>
          <% end %>
        </div>

        <%= cursor_paginate(repository.branch_protection_rules.page_info, next_label: "Next", previous_label: "Previous") %>
      <% else %>
        <%= render Primer::BlankslateComponent.new(title: "No branch protection rules defined yet.") %>
      <% end %>
    <% else %>
      <article class="d-flex my-3">
        <div>
          <%= image_tag "icons/marketing/blue/protected_branches.svg", width: 120, height: 120, class: "mr-3", alt: "protected branches" %>
        </div>
        <div>
          <h1 class="h4 mt-2">Protected branches are available to Pro, Team, and Enterprise users</h1>
          <p class="text-gray">Enforce restrictions on how code branches are merged, including requiring reviews by selected collaborators, or allowing only specific contributors to work on a particular branch.</p>

          <% repository = current_repository %>

          <% if repository.owner == current_user %>
            <% if repository.fork? %>
              <p class="text-gray">This repository is a fork, and inherits the features of the parent repository. Contact the owner of the root repository to enable protected branches.</p>
            <% else %>
              <div class="d-flex flex-items-center">
                <%= render(Primer::LinkComponent.new(
                  classes: "btn btn-outline",
                  color: :white, font_size: 6, px: 2, py: 1, mr: 3, bg: :blue,
                  href: plan_upgrade_path,
                  data: feature_gate_upsell_click_attrs(
                    :protected_branches, user: current_user
                  ).merge(
                    ga_click: "Change individual, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:branch protection rules"
                  )
                )) do %>
                  Upgrade
                <% end %>
                <a href="<%= GitHub.help_url %>/github/administering-a-repository/about-protected-branches" class="f6" data-ga-click="Upgrade, click to learn more, location:protected branches;text:learn more">Learn more</a>
              </div>
            <% end %>
          <% elsif show_free_org_gated_feature_message?(repository, current_user) %>
            <div class="d-flex flex-items-center">
              <%= render(Primer::LinkComponent.new(
                classes: "btn btn-outline",
                color: :white, font_size: 6, px: 2, py: 1, mr: 3, bg: :blue,
                href: upgrade_path(
                  org: repository.owner,
                  plan: "business",
                  target: "organization"
                ),
                data: feature_gate_upsell_click_attrs(
                  :protected_branches, user: current_user
                ).merge(
                  ga_click: "Change organization, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:branch protection rules"
                )
              )) do %>
                Upgrade
              <% end %>
              <a href="<%= GitHub.help_url %>/github/administering-a-repository/about-protected-branches" class="f6" data-ga-click="Upgrade, click, location:protected branches;text:learn more">Learn more</a>
            </div>
          <% else %>
            <p class="text-gray">Contact the owner of the repository to enable protected branches.</p>
          <% end %>
        </div>
      </article>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "git-branch",
      title: "You don’t have any branches",
      description: "Before you can edit branch settings, you need to add a branch.",
      link_text: "Learn how to add a branch",
      link_url: "#{GitHub.help_url}/articles/creating-and-deleting-branches-within-your-repository/",
    ) %>
  <% end %>
<% end %>
