<%graphql

fragment Repository on Repository {
  ...Views::BranchProtectionRules::Form::Repository
}

%>

<% repository = Views::BranchProtectionRules::New::Repository.new(repository) %>

<% page_info \
  container_xl: true,
  responsive: false,
  title: "New branch protection rule",
  selected_link: :repo_branch_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <div class="settings-next">

    <%= form_tag branch_protection_rules_path, class: "js-protected-branch-settings", method: :post do %>

      <%= render "branch_protection_rules/branch_pattern", branch_protection_rule: nil, repository: repository %>

      <%= render "branch_protection_rules/form", branch_protection_rule: nil, repository: repository %>

      <hr class="form-hr">

      <button class="btn btn-primary mr-1" type="submit">Create</button>
    <% end %>
  </div>
<% end %>
