<% page_info responsive: false, title: this_business.name, stafftools: business_stafftools_resource_path(this_business) %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Create an organization",
    back_to_link_path: enterprise_path(this_business),
    back_to_link_text: "organizations",
    hide_header: true
  } do %>
  <%
    login_error = current_organization.try(:errors) && current_organization.errors[:login].any?
    hint_name = if login_error || current_organization.nil?
      "name"
    else
      current_organization.try(:name)
    end
  %>

  <% if current_organization.errors.any? -%>
    <div class="flash flash-error mt-2">There were problems creating your organization.</div>
  <% end %>

  <div>
    <%= form_for(current_organization, url: enterprise_organizations_path(this_business)) do |f| %>
      <div class="form-group">
        <auto-check src="<%= organization_check_name_path %>" required>
          <%=
            f.text_group("Organization name", :profile_name, {
                error:    login_error && "Name is unavailable",
                value:    current_organization.login,
                class:    "js-new-organization-name",
                hint:     safe_join([
                    "This will be your organization name on #{GitHub.url}/",
                    content_tag(:strong, hint_name, :class => "js-field-hint-name"),
                    "."
                ]),
                required: true
            })
          %>
          <%= csrf_hidden_input_for organization_check_name_path %>
        </auto-check>
      </div>

      <div class="form-group mt-4">
        <button type="submit" name="commit" class="btn btn-primary" disabled data-disable-invalid data-disable-with="Creating organization...">
          Create organization
        </button>
      </div>
    <% end %>
  </div>
<% end %>
