<% page_info responsive: false, title: "Unowned Organizations · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_unowned_organizations %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Unowned organizations",
    back_to_link_path: enterprise_path(this_business),
    back_to_link_text: "organizations"
  } do %>
    <div>
      <% if organizations.any? %>
        <div class="mb-6">
          <h3>
            <%= pluralize(organizations.count, "organization") %> with no owners
          </h3>
          <p class="d-flex flex-column text-gray">
            <span>
              As an owner of this enterprise account, you may assume ownership of these organizations.
            </span>
          </p>
          <div class="border rounded-1 border-bottom-0 mt-3">
            <% organizations.each do |organization| %>
              <div class="d-flex flex-items-center flex-justify-between  border-bottom border-gray-light">
                <div class="col-12">
                  <%= render Businesses::Organizations::OrganizationCardComponent.new \
                    organization: organization,
                    business: this_business,
                    subtitle: "#{pluralize(organization.members.count, 'member')}" %>
                </div>
                <% if this_business.saml_sso_enabled? || organization.saml_sso_enabled? %>
                  <div class="col-4 mr-3">
                    <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Become an owner",
                      button_class: "btn btn-danger btn-sm",
                      details_class: "boxed-action",
                      title: "Become an owner of the '#{organization}' organization.",
                    } do %>
                      <%= render(Primer::FlashComponent.new(variant: :warning, full: true)) do %>
                        Be careful - membership in the <strong><%= organization %></strong> organization is managed by a SAML Identity Provider.
                      <% end %>
                      <div class="Box-body overflow-auto">
                        <p>
                          You are becoming an owner of this organization temporarily. In order for
                          this change to become permanent, your membership will need to be
                          provisioned within your SAML Identity Provider.
                        </p>
                        <%= form_tag claim_unowned_organization_enterprise_path(this_business, organization.login) do %>
                          <div class="Box-footer">
                            <button type="submit" class="btn btn-danger btn-block">Become an owner</button>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <div class="col-4 mr-3 text-right">
                    <%= form_tag claim_unowned_organization_enterprise_path(this_business, organization.login) do %>
                      <button type="submit" class="btn btn-danger btn-sm">Become an owner</button>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="paginate-container">
          <%= will_paginate organizations %>
        </div>
      <% else %>
        <%= render(Primer::BlankslateComponent.new(
          icon: "people",
          title: "No organizations",
          description: "There are no organization without administrators in this enterprise.",
        )) %>
      <% end%>
    </div>
<% end %>
