<% page_info responsive: false, title: "Pending Organizations · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_pending_organizations %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Pending organizations",
    back_to_link_path: enterprise_path(this_business),
    back_to_link_text: "organizations"
  } do %>
    <div id="business-pending-organizations-list" data-pjax-container>
      <% if created_invitations.any? || accepted_invitations.any? %>
        <% if accepted_invitations.any? %>
          <div class="mb-6">
            <h3>
              <%= accepted_invitations.count %> organizations need final approval
            </h3>
            <p class="d-flex flex-column text-gray">
              <span>
                Once approved, the organization's ownership and billing will be transferred to <%= this_business.name %>'s enterprise account.
              </span>
            </p>
            <div class="border rounded-1 border-bottom-0 mt-3">
              <% accepted_invitations.each do |invitation| %>
                <div class="d-flex flex-items-center flex-justify-between  border-bottom border-gray-light">
                  <div class="col-12">
                    <%= render Businesses::Organizations::OrganizationCardComponent.new \
                      organization: invitation.invitee,
                      business: this_business,
                      subtitle: "Invitation accepted #{time_ago_in_words(invitation.accepted_at)} ago" %>
                  </div>
                  <div class="col-4 mr-3 text-right">
                    <%= button_to "Cancel",
                      cancel_pending_enterprise_organization_invitation_path(this_business.slug, invitation.invitee.login, return_to_business: true),
                      method: "post", form_class: "inline-form", class: "btn-link"%>
                    <%= render "businesses/organization_invitations/confirm_modal", invitation: invitation, business: this_business %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if created_invitations.any? %>
          <div>
            <h3>Invite sent</h3>
            <p class="text-gray">An organization administrator must accept the invitation.</p>
            <div class="border rounded-1 border-bottom-0 mt-3">
              <% created_invitations.each do |invitation| %>
                <div class="d-flex flex-items-center border-bottom border-gray-light">
                  <div class="col-12">
                    <%= render Businesses::Organizations::OrganizationCardComponent.new \
                      organization: invitation.invitee,
                      business: this_business,
                      subtitle: "Invitation sent #{time_ago_in_words(invitation.created_at)} ago by #{invitation.inviter.safe_profile_name}" %>
                  </div>

                <div class="col-4 mr-3 text-right">
                  <%= button_to "Cancel",
                    cancel_pending_enterprise_organization_invitation_path(this_business.slug, invitation.invitee.login, return_to_business: true),
                    method: "post", form_class: "inline-form", class: "btn-link"%>
                  <%= button_to "Resend",
                    resend_pending_enterprise_organization_invitation_path(this_business.slug, invitation.invitee.login),
                    method: "post", form_class: "inline-form", class: "btn btn-sm ml-3" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render(Primer::BlankslateComponent.new(
          icon: "mail",
          title: "No invitations",
          description: "No pending organization invitations in this enterprise.",
        )) %>
      <% end%>
    </div>
<% end %>
