<div class="Subhead mt-3 mb-3">
  <h2 class="Subhead-heading">Preparing your new repository</h2>
  <p class="Subhead-description">
    There is no need to keep this window open, we’ll email you when the import is done.
  </p>
</div>
