<% if view.authors_found? %>
  <h4>What’s next?</h4>
  <%= link_to "Match authors", repository_import_authors_path(:repository => view.repository), :class => "btn btn-sm btn-outline float-right mt-3" %>
  <div class="mt-3"> We found <strong><%= pluralize(view.authors_count, "commit author") %></strong> while importing that<br> we need help identifying.</div>
<% end %>
