<%# erblint:disable DeprecatedCustomCss %>
<% unless view.import_complete? %>
  <%= form_tag repository_import_path(view.url_params), :method => :delete do %>
    <button type="submit" class="float-right btn-invisible bg-gray-light"><strong>Cancel</strong></button>
  <% end %>
<% end %>
<p class="m-0">
  <%= octicon view.repository.repo_type_icon, :class => "text-gray-light v-align-middle" %>
  <a href="/<%= view.repository.nwo %>" class="text-gray-dark">
    <%= view.repository.owner %>/<strong><%= view.repository.name %></strong>
  </a>
</p>
<div class="reverse-progress-container mt-3">
  <div style="<%= view.status_range %>" class="reverse-progress-bar anim-shrink-x" ></div>
</div>
