<% page_info :title => "#{view.name_with_owner}: Importing" %>

<div id="repository_import" class="container-sm my-5 <%= view.socket_classes %>" <%= view.repository_import_data_attrs %>>
  <div class="auth-form">
    <%= render(Primer::FlashComponent.new) do %>
      Your old project requires credentials for <strong>read-only access</strong>.
      We will only temporarily store them for importing.
    <% end %>

    <%= form_tag repository_import_auth_path(view.url_params), :method => :put do %>
      <dl class="form-group">
        <dt class="input-label">
          <%= label_tag :vcs_username, "Login" %>
        </dt>
        <dd>
          <%= text_field_tag :vcs_username, "", :autofocus => true  %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="input-label">
          <%= label_tag :vcs_password, "Password" %>
        </dt>
        <dd>
          <%= password_field_tag :vcs_password %>
        </dd>
      </dl>

        <%= submit_tag "Submit", :class => "btn btn-primary" %>
        <button type="button" class="btn btn-invisible js-repository-import-projects-cancel-button"><strong>Cancel</strong></button>
    <% end %>
    <%= form_tag repository_import_path(view.url_params), :method => :delete, :class => "js-repository-import-projects-cancel-form" do %>
    <% end %>
  </div>
</div>
