<% page_info :title => "#{view.name_with_owner}: Importing" %>

<% content_for :head do %>
  <meta http-equiv="refresh" content="<%= view.refresh_time %>">
<% end %>

<div id="repository_import" class="container-sm my-5 <%= view.socket_classes %>" <%= view.repository_import_data_attrs %>>
  <%= render :partial => "repository_imports/states/header" %>

  <div class="my-5 p-3 border bg-gray-light rounded-1">
    <%= render :partial => "repository_imports/states/progress_bar", :locals => {:view => view} %>

    <div class="<%= view.fade_in %> mt-3"><%= octicon("search") %> Detecting your project’s version control system&#8230;</div>
  </div>
</div>
