<% page_info :title => "#{view.name_with_owner}: Importing" %>
<div id="repository_import" class="container-sm my-5 <%= view.socket_classes %>" <%= view.repository_import_data_attrs %>>
  <div class="Subhead mb-4">
    <h2 class="Subhead-heading">We found an error during import</h2>
    <p class="Subhead-description">
      We recommend restarting the import process, but if you are still having trouble <a href="/contact">contact support</a>.
    </p>
  </div>

  <%= button_to "Restart", repository_import_path(view.url_params), class: "btn btn-sm float-right", method: :patch %>
  <%= form_tag repository_import_path(view.url_params), :method => :delete do %>
    <button type="submit" class="float-right btn btn-invisible mr-1"><strong>Cancel</strong></button>
  <% end %>
  <div class="pt-2"><%= octicon "alert", :class => "text-red" %> <%= view.error_message %></div>
</div>
