<% page_info :title => "#{view.name_with_owner}: Importing" %>

<div id="repository_import" class="container-sm my-5 repository-import <%= view.socket_classes %>" <%= view.repository_import_data_attrs %>>
  <h4 class="text-normal mb-4"><%= octicon("alert") %> We found multiple projects at this URL</h4>

  <%= form_tag repository_import_project_path(view.url_params), :method => :put do %>
    <div class="listgroup listgroup-sm mb-3">
      <div class="listgroup-item listgroup-header">
        Choose the one that you want to import.
      </div>
      <div class="listgroup-overflow">
        <% view.projects.each do |project| %>
          <div class="listgroup-item">
            <label>
              <%= radio_button_tag :project, project.to_param %>
              <%= project.name %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag "Submit", :class => "btn btn-primary" %>
      <button type="button" class="float-right btn btn-invisible js-repository-import-projects-cancel-button mt-1"><strong>Cancel</strong></button>
    </div>
  <% end %>
  <%= form_tag repository_import_path(view.url_params), :method => :delete, :class => "js-repository-import-projects-cancel-form" do %>
  <% end %>
</div>
