<%
  row = location.range.start.line + 1
  path = "#{blob_path(location.path, commit_oid)}#L#{row}"
  text = location.first_line.lstrip.split("\n").first
  highlighted_text = if scope = Linguist::Language[language].try(:tm_scope)
    safe_join(GitHub::Colorize.highlight_one(scope, text, code_snippet: true), "\n")
  else
    text
  end
%>

<li class="TagsearchPopover-list-item py-1 d-flex">
  <%= link_to(path, class: "TagsearchPopover-item", data: code_navigation_hydro_click_tracking(click_tracking_id, repo: current_repository, ref: tree_name, language: language)) do %>
    <div class="d-flex">
      <div class="text-small blob-num text-gray"><%= row %></div>
      <div class="blob-code blob-code-inner"><%= highlighted_text %></div>
    </div>
  <% end %>
</li>
