<%= render partial: "code_navigation/tabs", locals: { references_selected: false, ref: ref, language: language, definitions_count: locations.size } %>

<% if locations.present? %>
  <div class="flex-auto d-flex flex-justify-between f6 px-3 py-1 text-small bg-gray-light">

    <% if locations.size == 1 %>
      <%
        tag = locations.first
        line = tag.range.start.line
        row = line + 1
        path = "#{blob_path(tag.path, commit_oid)}#L#{row}"
      %>

      <% if tag.path == params["blob_path"] %>
        <% if line == params["row"].to_i %>
          <span class="text-bold v-align-middle">
            This is the definition
          </span>
        <% else %>
          <span class="v-align-middle">
            Defined on <%= link_to("line #{row}", path, class: "link-gray-dark text-bold") %>
          </span>
        <% end %>
      <% else %>
        <div>
          Defined in <%= link_to(tag.path, path, class: "no-underline text-gray-dark link-hover-blue text-bold") %>
        </div>
      <% end %>
    <% else %>
      <div class="text-gray">
        Present in
        <span class="text-gray-dark text-bold">
          <%= pluralize(locations.index_by(&:path).size, "file") %>
        </span>
      </div>
    <% end %>

    <% if preview_features? %>
      <i><%= backend %></i>
    <% end%>
  </div>

  <% locations_by_path.each do |path, path_locations| %>
    <% if locations_by_path.size > 1 %>
      <div class="f6 px-3 py-1 bg-white border-top"
            style="position: sticky; position: -webkit-sticky; position: -moz-sticky;
            top:'34px'; z-index: 1;">
        <span class="text-bold css-truncate css-truncate-target" title="<%= path %>" style="max-width: 100% !important;"><%= path %></span>
      </div>
    <% end %>
    <ul class="TagsearchPopover-list <%= 'border-top' unless locations_by_path.size > 1 %>">
      <%= render partial: "code_navigation/location", collection: path_locations, locals: { click_tracking_id: "navigate_to_definition", ref: ref, language: language, commit_oid: commit_oid }  %>
    </ul>
  <% end %>
<% else %>
  <span class="js-tagsearch-no-definitions"></span>
<% end %>
