<div class="d-flex flex-justify-between f6 px-3 py-1 text-small bg-gray-light">
  <div class="flex-auto text-gray">
    Found
    <span class="text-gray-dark text-bold">
      <%= pluralize(locations.count, "reference") %>
    </span>
    in
    <span class="text-gray-dark text-bold">
      <%= pluralize(locations_by_path.count, "file") %>
    </span>
  </div>

  <% if preview_features? %>
    <i><%= backend %></i>
  <% end%>
</div>

<% locations_by_path.each do |loc_path, locations| %>
  <div class="d-flex f6 px-3 py-1 border-top bg-white" style="position: sticky; top: 34px; z-index: 1;">
    <span class="flex-auto text-bold css-truncate css-truncate-target" title="<%= loc_path %>" style="max-width: 100% !important;"><%= loc_path %></span>
  </div>
  <ul class="TagsearchPopover-list">
    <%= render partial: "code_navigation/location", collection: locations, locals: {
          click_tracking_id: "navigate_to_reference",
          ref: ref,
          language: language,
          commit_oid: commit_oid,
        }
    %>
  </ul>
<% end %>
