<% has_filter = dashboard_contexts.size > 10 %>

<%= render(GitHub::MenuComponent.new(
  title: "Switch dashboard context",
  filterable: has_filter,
  src: deferred_context_loading? ? dashboard_ajax_context_list_path(current_context: current_context) : nil,
  preload: deferred_context_loading?
)) do |menu| %>
  <% menu.with(:summary) do %>
    <% context_switcher_attrs = sidebar_account_switcher_attributes(target: "Opened account context switcher") %>
      <summary
        class="no-underline btn-link text-gray-dark text-bold width-full"
        title="Switch account context"
        <%= test_selector("account-context") %>
        <%= safe_data_attributes(context_switcher_attrs) %>>
        <%= render(GitHub::AvatarComponent.new(actor: current_context)) %>
        <span class="css-truncate css-truncate-target ml-1"><%= current_context.to_s %></span>
        <span class="dropdown-caret"></span>
      </summary>
  <% end %>
  <% unless deferred_context_loading? %>
    <% menu.with(:body) do %>
      <%= render "dashboard/context_list" %>
    <% end %>
  <% end %>
  <% menu.with(:extra) do %>
    <div class="border-top border-gray-light position-relative">
      <% manage_orgs_attrs = sidebar_account_switcher_attributes(target: "Manage orgs link in context switcher") %>
      <%= render(GitHub::Menu::LinkComponent.new(data: manage_orgs_attrs, href: user_organizations_path)) do |item| %>
        <%= octicon(:organization, class: "SelectMenu-icon") %>
        Manage organizations
      <% end %>
      <% if user_can_create_organizations? %>
        <% new_org_attrs = sidebar_account_switcher_attributes(target: "Create org link in context switcher") %>
        <%= render(GitHub::Menu::LinkComponent.new(data: new_org_attrs, href: new_organization_path)) do |item| %>
          <%= octicon(:plus, class: "SelectMenu-icon") %>
          Create organization
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

