<%# erblint:disable DeprecatedCustomCss %>
<div class="border rounded-1 shelf intro-shelf js-notice">
  <div class="width-full container">
    <div class="width-full mx-auto p-5 shelf-content">
      <h2 class="shelf-title">Learn Git and GitHub without any code!</h2>
      <p class="shelf-lead">
        Using the Hello World guide, you’ll create a repository, start a branch, write comments, and open a pull request.
      </p>
      <%= link_to "Read the guide",
                  "https://guides.github.com/activities/hello-world/",
                  class: "btn btn-primary shelf-cta mx-2 mb-3",
                  target: "_blank",
                  data: dashboard_hello_world_banner_read_guide_data_attributes %>
      <%= link_to "Start a project",
                  new_repository_path,
                  class: "btn shelf-cta mx-2 mb-3",
                  data: dashboard_hello_world_banner_start_project_data_attributes %>
    </div>
    <%= form_tag dismiss_bootcamp_path, method: :delete, class: "shelf-dismiss js-notice-dismiss" do %>
      <%= button_tag(type: "submit",
                      class: "mr-1 close-button tooltipped tooltipped-w",
                      "aria-label": "Hide this notice forever",
                      data: dashboard_hello_world_banner_dismiss_data_attributes) do %>
        <%= octicon("x", "aria-label": "Hide this notice forever", class: "v-align-text-top") %>
      <% end %>
    <% end %>
  </div>
</div>
