<% widget = GitHub::Positions.widget(current_user) %>
<% if widget && (job = widget.sample) %>
  <div class="d-block Box border-blue no-underline px-2 py-1">
    <div class="d-flex flex-items-baseline p-1 no-underline flex-justify-between">
      <a href="<%= job["url"] %>" class="d-block f6 lh-condensed link-gray-dark no-underline f6">
        <span class="text-bold"><%= job["company"] %></span> is hiring: <span class="text-bold"><%= job["title"] %> in <%= job["location"] %></span>
      </a>
      <% if logged_in? %>
        <%= render layout: "shared/details_dialog", locals: {
          button_class: "link-gray",
          button_text: octicon("x"),
          title: "Learn about GitHub Jobs"
        } do %>
          <div class="Box-body overflow-auto">
            <p>
              You’re seeing these jobs because you have indicated you’re
              available for hire in your account settings.
            </p>
            <p>
              If you don’t want to see these listings, you can uncheck available for
              hire in your <a href="/account#job_bucket">account settings</a> or use the button below.
            </p>
          </div>
          <div class="Box-footer">
            <%= form_tag hide_jobs_user_path(current_user) do %>
              <button type="submit" class="btn btn-block">Hide job listings for 6 months</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <a href="<%= GitHub::Positions::HOST_URL %>" target="_blank" class="d-block github-jobs-logo text-left f6 link-gray py-1 mb-3">Brought to you by <strong>github:jobs</strong></a>
<% end %>
