<%
  analytics_dimensions = {
    currently_following_users_count: following_count,
    events_shown: view_model.visible_events.any?,
    banner_shown: view_model.visible_events.none?,
    banner_dismissable: view_model.visible_events.none?,
    page_type: "activity"
  }
%>

<% if view_model.visible_events.any? %>
  <div data-repository-hovercards-enabled>
    <% view_model.event_groups(page: current_page).each do |group_view| %>
      <% if group_view.is_a?(Dashboard::EventGroupView) %>
        <%= render_event_group(group_view, locals: { followed_user_ids: followed_user_ids, starred_repo_ids: starred_repo_ids, sponsored_user_ids: sponsored_user_ids, sponsorable_memberships: sponsorable_memberships }) %>
      <% else %>
        <%= render_event(group_view, locals: { followed_user_ids: followed_user_ids, starred_repo_ids: starred_repo_ids, sponsored_user_ids: sponsored_user_ids, sponsorable_memberships: sponsorable_memberships }) %>
      <% end %>
    <% end %>

    <% if view_model.has_next_page?(current_page: current_page) %>
      <%= render "events/more_paginate" %>
    <% end %>
  </div>
<% elsif !current_organization %>
  <% if show_student_developer_pack? %>
    <div
      class="Box mt-3 js-notice"
      data-ga-load="Dashboard, view, Student Developer Pack CTA>"
    >
      <% if student_developer_pack_dismissible? %>
        <%= form_tag dismiss_notice_path(UserNotice::DASHBOARD_STUDENT_PACK_NOTICE), :class => "js-notice-dismiss d-flex flex-justify-end ", :method => :post do %>
          <button type="submit"
                  class="btn-link no-underline"
                  data-ga-click="Dashboard, click, Student Developer Pack CTA dismiss">
            <%= octicon("x", class: "text-gray mr-2 mt-2", height: 16, "aria-label": "Dismiss") %>
          </button>
        <% end %>
      <% end %>
      <div class="d-md-flex">
        <div class="<%= student_developer_pack_dismissible? ? "pb-4" : "py-4" %> pl-5 pr-1 flex-self-center" style="flex-basis: 60%">
          <h2 class="h2 lh-condensed mb-2">Get the Student Developer Pack</h2>
          <p class="f4">
            Learn to ship software like a pro with free access to the best developer tools.
          </p>
          <%= link_to(
            "Get the Pack",
            "#{GitHub.education_url}/pack ",
            class: "btn btn-outline mt-2",
            data: dashboard_empty_feed_student_pack_data_attributes(analytics_dimensions),
            target: "_blank"
          )%>
        </div>
        <div class="flex-1 d-md-flex d-none d-md-block flex-justify-end">
         <img src="<%= image_path("modules/signup/education.png") %>" alt="education" class="width-fit flex-self-end" style="max-height:205px;">
        </div>
      </div>
    </div>
  <% end %>

  <div class="Box p-5 mt-3">
    <h2 class="h2 lh-condensed mb-2">Discover interesting projects and people to populate your personal news feed.</h2>
    <p class="f4">
      Your news feed helps you keep up with recent activity on repositories you
      <%= link_to(
        "watch",
        trending_index_path,
        data: dashboard_empty_feed_watch_data_attributes(analytics_dimensions)
      )%>
      and people you
      <%= link_to(
        "follow",
        trending_developers_path,
        data: dashboard_empty_feed_follow_data_attributes(analytics_dimensions)
      )%>.
    </p>
    <%= link_to(
      "Explore GitHub",
      explore_path,
      class: "btn btn-outline mt-2",
      data: dashboard_empty_feed_explore_data_attributes(analytics_dimensions)
    )%>
  </div>
<% elsif current_organization && feed_has_only_one_page_of_events? %>
  <%= render_org_welcome %>
<% end %>
