<%graphql
  fragment Organization on Organization {
    viewerCanCreateRepositories
    login
    orgRepos: repositories(first: $yourReposLimit, after: $yourReposCursor, orderBy: { field: PUSHED_AT, direction: DESC }) {
      totalCount
    }
    ...Views::Dashboard::OrgRepos::RepositoryOwner
  }
%>
<% org = Views::Dashboard::OrgReposBox::Organization.new(org) %>

<div>
  <h2 class="f4 hide-sm hide-md f5 mb-1 d-flex flex-justify-between flex-items-center">
    Repositories
    <% if org.viewer_can_create_repositories? %>
      <%= link_to new_org_repository_path(org.login), class: "btn btn-sm btn-primary text-white", data: sidebar_repository_attributes(button: true) do %>
        <%= octicon("repo") %> New
      <% end %>
    <% end %>
  </h2>
  <% if org.org_repos.total_count.zero? %>
    <p class="notice">
      <% if org.viewer_can_create_repositories? %>
        <%= link_to "Create a repository for #{current_organization}", new_org_repository_path(current_organization), data: dashboard_repositories_create_repo_data_attributes %>
          or
        <%= link_to "learn more about Git and GitHub", GitHub.help_url, data: dashboard_repositories_learn_more_data_attributes %>
      <% else %>
        You do not have access to any of this organization’s repositories (or there aren’t any).
      <% end %>
    </p>
  <% else %>
    <input type="text" class="form-control input-block mt-2 mb-3 js-filterable-field js-your-repositories-search" id="<%= id %>" placeholder="Find a repository&hellip;" aria-label="Find a repository&hellip;" data-url="<%= request.url %>" data-query-name="q" value="<%= query %>" autocomplete="off">
    <%=
    render partial: "dashboard/org_repos", locals: {
      user: org,
      input_id: id,
      next_page_url: ajax_your_repos_organization_path(current_organization, input_id: id)
    }
    %>
  <% end %>
</div>
