<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment User on User {
    login
    isLargeBotAccount
    topRepositories(first: $reposLimit, after: $reposCursor, since: $since, orderBy: { field: PUSHED_AT, direction: DESC }) {
      pageInfo {
        hasNextPage
        endCursor
      }
      nodes {
        name
        isPrivate
        isFork
        isMirror
        isTemplate
        id
        description
        resourcePath
        parent
        id
        owner {
          login
        }
        stargazerCount
        ...HovercardHelper::DataAttributesFragment::Repository
      }
    }
  }
%>
<%
  user = Views::Dashboard::Repositories::User.new(user)
  repositories = user.top_repositories
%>

<ul class="list-style-none" data-filterable-for="dashboard-repos-filter-<%= location %>" data-filterable-type="substring">
  <% repositories.nodes.compact.each do |repo| %>
    <% visibility = repo.is_private? ? "private" : "public" %>
    <% repo_hash = { fork: repo.is_fork?, private: repo.is_private?, id: repo.id } %>
    <li class="<%= visibility %> <%= repo.is_fork? ? :fork : :source %> <%= "no-description" if repo.description.blank? %>">
      <div class="width-full text-bold">
        <a href="<%= repo.resource_path %>"
          class="d-inline-flex flex-items-baseline f5 mb-2 dashboard-underlined-link width-fit"
          <%= safe_data_attributes(sidebar_repository_attributes(repo: repo_hash)) %>
          <%= safe_data_attributes(hovercard_data_attributes_for_repository(repo)) %>>
          <div class="text-gray-light mr-2">
            <% private_repo_class = repo.is_private? ? "repo-private-icon" : "" %>
            <% if repo.is_fork? && repo.parent %>
              <%= octicon("repo-forked", :"aria-label" => "Forked repository", :class => "flex-shrink-0") %>
            <% elsif repo.is_mirror? %>
              <%= octicon(repo.is_private? ? "lock" : "mirror", :class => "#{private_repo_class} flex-shrink-0", :"aria-label" => "Repository") %>
            <% elsif repo.is_private? %>
              <% if repo.is_template? %>
                <%= octicon "repo-template-private", class: "v-align-middle" %>
              <% else %>
                <%= octicon("lock", :class => "#{private_repo_class} flex-shrink-0", :"aria-label" => "Repository") %>
              <% end %>
            <% else %>
              <% if repo.is_template? %>
                <%= octicon "repo-template", class: "v-align-middle" %>
              <% else %>
                <%= octicon("repo", :"aria-label" => "Repository", :class => "flex-shrink-0") %>
              <% end %>
            <% end %>
          </div>

          <span class="flex-shrink-0 css-truncate css-truncate-target" title="<%= repo.owner.login %>"><%= repo.owner.login %></span>/<span class="css-truncate css-truncate-target" style="max-width: 260px" title="<%= repo.name %>"><%= repo.name %></span>

        </a>
      </div>
    </li>
  <% end %>
</ul>

<% if repositories.page_info.has_next_page? && !user.is_large_bot_account? %>
  <%= form_tag dashboard_ajax_repositories_path(location: location), method: :get, class: "ajax-pagination-form js-ajax-pagination js-more-repos-form" do %>
    <input name="repos_cursor" type="hidden" value="<%= repositories.page_info.end_cursor %>">
    <%= button_tag type: "submit", class: "width-full text-left btn-link f6 muted-link text-left mt-2 border-md-0 border-top py-md-0 py-3 px-md-0 px-2", "data-disable-with": "Loading more&hellip;", data: sidebar_repository_attributes do %>
      Show more
    <% end %>
  <% end %>
<% end %>
