<%# rubocop:disable GraphQL/Overfetch %>
<%# rubocop:disable GitHub/ContentFor %>
<%graphql
  fragment Root on Query {
    viewer {
      teams {
        totalCount
      }
      dashboardPinnedItems(first: $dashboardPinsLimit) @include(if: $dashboardPinsEnabled) {
        totalCount
      }
      ...Views::Dashboard::UserPinsList::Viewer @include(if: $dashboardPinsEnabled)
      repositoryRecommendations(first: 30) @include(if: $discoverDashboardEnabled) {
        nodes {
          repository {
            databaseId
            nameWithOwner
            shortDescriptionHTML
            resourcePath
            stargazerCount
            isTemplate
            primaryLanguage {
              name
            }
            owner {
              login
              resourcePath
              avatarUrl(size: 96)
            }
          }
        }
      }
    }
  }
%>
<%
  data = Views::Dashboard::RightColumn::Root.new(data)
  recommendations = data.viewer.repository_recommendations
  featured_recommendations = if recommendations
    recommendations.nodes.shuffle.take(3)
  else
    []
  end

  team_count = data&.viewer&.teams&.total_count
  show_team_tickets = team_count.present? && team_count > 0
  show_user_pins = user_dashboard_pins_enabled? && data.viewer.dashboard_pinned_items.total_count > 0
%>

<% if show_user_dashboard_right_column?(recommendations: recommendations, show_user_pins: show_user_pins) %>
  <% content_for :right_column do %>
    <% if !GitHub.enterprise? && ExploreFeed::Spotlight.all.current.dashboard.any? %>
      <%= render(Explore::Spotlight::DashboardItemComponent.new(
        spotlight: ExploreFeed::Spotlight.all.current.dashboard.first,
      )) %>
    <% end %>

    <%= render(Dashboard::Sponsors::EligibleOrgsBannerComponent.new(container_class: "mb-4")) %>


    <% if !current_user.is_new? %>
      <div <%= test_selector('dashboard-announcements') %>>  
        <%= render "dashboard/promo_mobile" %>
      
        <% if !GitHub.enterprise? && show_jobs_for_user?(current_user) %>
          <%= render "dashboard/jobs" %>
        <% end %>
      </div>
    <% end %>

    <% if show_user_pins %>
      <%= render partial: "dashboard/user_pins_list", locals: { viewer: data.viewer } %>
    <% end %>

    <% if featured_recommendations.any? %>
      <h2 class="f5 text-bold mb-1">Explore repositories</h2>
      <% featured_recommendations.each_with_index do |recommendation, index| %>
        <%
          is_last = index == featured_recommendations.size - 1
          repository = recommendation.repository
        %>
        <div class="py-2 my-2 <%= "border-bottom" unless is_last %>">
          <%= link_to repository.name_with_owner, repository.resource_path.to_s, class: "f6 text-bold link-gray-dark d-flex no-underline wb-break-all d-inline-block", data: discover_repositories_attributes(repository.database_id) %>
          <p class="f6 text-gray mb-2" itemprop="description">
            <%= repository.short_description_html %>
          </p>

          <% if repository.primary_language.present? %>
            <span class="mr-2 f6 text-gray text-normal">
              <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name)) %>
            </span>
          <% end %>

          <% if repository.stargazer_count > 0 %>
            <span class="f6 text-gray text-normal">
              <%= octicon("star", :"aria-label" => "star") %>
              <%= social_count(repository.stargazer_count) %>
            </span>
          <% end %>
        </div>
      <% end %>
      <%= link_to(
        explore_path,
        class: "d-block link-gray no-underline f6 mb-3",
        data: discover_repositories_explore_attributes
      ) do %>
        Explore more &rarr;
      <% end %>
    <% end %>
  <% end %>
<% end %>
