<%graphql
  fragment Viewer on User {
    teams(first: $yourTeamsLimit, after: $yourTeamsCursor) {
      nodes{
        combinedSlug
        resourcePath
        id
        ...HovercardHelper::DataAttributesFragment::Team
      }
      pageInfo {
        hasNextPage
        endCursor
      }
    }
  }
%>
<%
  viewer = Views::Dashboard::Teams::Viewer.new(viewer)
  teams = viewer.teams
%>

<ul class="list-style-none" data-filterable-for="your-teams-filter-<%= location %>" data-filterable-type="substring">
  <% teams.nodes.each do |team| %>
    <li>
      <div class="width-full text-bold">
        <a href="<%= team.resource_path%>"
          class="d-inline-flex mb-2 dashboard-underlined-link width-fit"
          <%= safe_data_attributes(sidebar_team_attributes(team: { id: team.id })) %>
          <%= safe_data_attributes(hovercard_data_attributes_for_team(team)) %>>
          <div class="text-gray-light mr-2">
            <%= render(GitHub::OcticonComponent.new(icon: "jersey")) %>
          </div>
          <span class="css-truncate css-truncate-target" style="max-width: 275px">
            <%= team.combined_slug %>
          </span>
        </a>
      </div>
    </li>
  <% end %>
</ul>

<% if teams.page_info.has_next_page? %>
  <%= form_tag dashboard_ajax_your_teams_path(location: location), :method => :get, :class => "ajax-pagination-form js-ajax-pagination js-more-repos-form" do %>
    <input name="your_teams_cursor" type="hidden" value="<%= teams.page_info.end_cursor %>">
    <%= button_tag type: "submit", class: "width-full text-left btn-link f6 muted-link text-left mt-2 border-md-0 border-top py-md-0 py-3 px-md-0 px-2", "data-disable-with": "Loading more&hellip;", data: sidebar_team_attributes do %>
      Show more
    <% end %>
  <% end %>
<% end %>
