<%graphql
  fragment User on User {
    id
    dashboardPinnedItems(first: $dashboardPinsLimit) @include(if: $dashboardPinsEnabled) {
      nodes {
        ... on Repository {
          ...Views::Dashboard::UserPins::Repository::Repository
        }
        ... on Gist {
          ...Views::Dashboard::UserPins::Gist::Gist
        }
        ... on Issue {
          ...Views::Dashboard::UserPins::Issue::Issue
        }
        ... on Project {
          ...Views::Dashboard::UserPins::Project::Project
        }
        ... on PullRequest {
          ...Views::Dashboard::UserPins::PullRequest::PullRequest
        }
        ... on User {
          ...Views::Dashboard::UserPins::User::User
        }
        ... on Organization {
          ...Views::Dashboard::UserPins::Organization::Organization
        }
        ... on Team {
          ...Views::Dashboard::UserPins::Team::Team
        }
      }
    }
  }
%>
<%
  user = Views::Dashboard::UserPinsListItems::User.new(user)
  pinned_items = user.dashboard_pinned_items&.nodes
  allow_reordering_pins = pinned_items.size > 1
%>

<% pinned_items.each do |pinned_item| %>
  <% if pinned_item.is_a?(PlatformTypes::Repository) %>
    <%= render partial: "dashboard/user_pins/repository", locals: {
          repo: pinned_item, allow_reordering_pins: allow_reordering_pins, user_id: user.id
        } %>

  <% elsif pinned_item.is_a?(PlatformTypes::Gist) %>
    <%= render partial: "dashboard/user_pins/gist",
               locals: { gist: pinned_item, allow_reordering_pins: allow_reordering_pins } %>

  <% elsif pinned_item.is_a?(PlatformTypes::Issue) %>
    <%= render partial: "dashboard/user_pins/issue",
               locals: { issue: pinned_item, allow_reordering_pins: allow_reordering_pins } %>

  <% elsif pinned_item.is_a?(PlatformTypes::Project) %>
    <%= render partial: "dashboard/user_pins/project",
               locals: { project: pinned_item, allow_reordering_pins: allow_reordering_pins } %>

  <% elsif pinned_item.is_a?(PlatformTypes::PullRequest) %>
    <%= render partial: "dashboard/user_pins/pull_request", locals: {
          pull_request: pinned_item, allow_reordering_pins: allow_reordering_pins
        } %>

  <% elsif pinned_item.is_a?(PlatformTypes::User) %>
    <%= render partial: "dashboard/user_pins/user",
               locals: { user: pinned_item, allow_reordering_pins: allow_reordering_pins } %>

  <% elsif pinned_item.is_a?(PlatformTypes::Organization) %>
    <%= render partial: "dashboard/user_pins/organization",
               locals: { org: pinned_item, allow_reordering_pins: allow_reordering_pins } %>

  <% elsif pinned_item.is_a?(PlatformTypes::Team) %>
    <%= render partial: "dashboard/user_pins/team",
               locals: { team: pinned_item, allow_reordering_pins: allow_reordering_pins } %>
  <% end %>
<% end %>
