<%graphql
  fragment Viewer on User {
    teams(first: $yourTeamsLimit, after: $yourTeamsCursor) {
      totalCount
    }
    ...Views::Dashboard::Teams::Viewer
  }
%>
<%
  viewer = Views::Dashboard::UserTeams::Viewer.new(viewer)
  teams = viewer.teams
%>

<div class="Details js-repos-container" data-team-hovercards-enabled>
  <h2 class="hide-sm hide-md f5 mb-1 border-top pt-3">Your teams</h2>
  <% if teams.total_count > 0 %>
    <div class="mt-2 mb-3" role="search" aria-label="Teams">
      <input type="text" class="form-control input-block mb-3 js-filterable-field js-your-repositories-search" id="your-teams-filter-<%= location %>" placeholder="Find a team&hellip;" aria-label="Find a team&hellip;" data-url="<%= request.url %>" data-query-name="team" value="<%= query %>" autocomplete="off">
    </div>
    <%= render partial: "dashboard/teams", locals: { viewer: viewer, location: location } %>
  <% else %>
    <p class="notice">
      You don&rsquo;t belong to any teams yet!
    </p>
  <% end %>
</div>
