<div class="Box" <%= test_selector("sponsorables-current-tier") %>>
  <div class="Box-header <%= "flash-warn" if pending_cancellation? %>"
    <% if !pending_cancellation? %>style="background-color: #FFF3FA; border-color: #F9B3DD;"<% end %>
    >
    <% if pending_cancellation? %>
      <%=
        render(Sponsors::Sponsorables::PendingCancellationNoticeComponent.new(next_billing_date))
      %>
    <% else %>
      <p class="f4 text-gray-dark mb-0">
        <%= emoji_tag(Emoji.find_by_alias("tada")) %>
        You’re sponsoring <strong><%= sponsorable.login %></strong>
      </p>
    <% end %>
  </div>
  <div class="Box-row border-top-0">
    <% if pending_downgrade? %>
      <div class="rounded-2 bg-gray text-gray text-small p-2 mb-2" <%= test_selector("current-tier-pending-downgrade") %>>
        Your tier change will be applied <strong><%= next_billing_date %></strong>.
      </div>
    <% end %>
    <div class="d-flex flex-items-center">
      <p class="h4 flex-auto mb-0" <%= test_selector("current-tier-name") %>><%= tier.name %></p>
      <a href="<%= manage_button_path %>" class="btn btn-outline <%= "disabled" if pending_cancellation? %>">Manage</a>
    </div>
    <div class="markdown-body comment-body px-0">
      <%= tier.description_html(current_user: current_user) %>
    </div>
  </div>
  <% if pending_downgrade? %>
    <div class="Box-row">
      <div class="d-flex flex-items-center">
        <p class="h4 flex-auto mb-0" <%= test_selector("previous-tier-name") %>><%= previous_tier.name %></p>
        <span title="Label: outline label" class="Label Label--outline">Previous tier</span>
      </div>
      <div class="markdown-body comment-body px-0">
        <%= previous_tier.description_html(current_user: current_user) %>
      </div>
    </div>
  <% end %>
  <div class="Box-row">
    <a href="<%= sponsorable_path(sponsorable, editing: true) %>">
      <% if pending_tier_change? %>
        View tiers
      <% else %>
        Select a new tier
      <% end %>
    </a>
  </div>
</div>
