<p class="mb-0 text-small">
  You have a <strong>pending cancellation</strong> for this sponsorship,
  which will take effect on <%= @next_billing_date %>.
  You cannot modify your sponsorship until after this takes place.
</p>
