<h4 class="mb-2 mt-3 mt-lg-4 text-normal"><%= section_header %></h4>
<div class="border rounded-2 p-3">
  <p class="h4 text-gray-dark mb-0" <%= test_selector("selected-tier-name") %>><%= @tier.name %></p>
  <div class="markdown-body comment-body p-0 py-3" <%= test_selector("selected-tier-description-html") %>>
    <%= @tier.description_html %>
  </div>
  <a class="btn btn-outline" href="<%= edit_tiers_path %>">Edit</a>
</div>
