<% page_info title: "Prepaid Metered Billing" %>


<div class="d-flex mb-3 flex-content-center">
  <h2 class="flex-auto">Prepaid Metered Billing</h2>

  <%= link_to "Manually provision refills", new_stafftools_prepaid_metered_usage_refill_path, class: "btn" %>
</div>


<% if view.total_entries > 0 %>
  <table class="stafftools-table mb-2">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Expiry Date</th>
        <th>Zuora Rate Plan Charge</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% view.refills.each do |refill| %>
        <tr>
          <td><%= refill.formatted_amount %></td>
          <td><%= refill.formatted_expires_on %></td>
          <td><%= refill.zuora_rate_plan_charge_id %></td>
          <td>
            <% if refill.staff_created? %>
              <%= button_to "Delete", stafftools_prepaid_metered_usage_refill_path(this_business, refill.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paginate-container">
    <%= will_paginate view %>
  </div>
<% else %>
  <div class="p-2 text-italic">
    There are no prepaid metered billing refills for <%= this_business.slug %>.
  </div>
<% end %>
