<% page_info title: "New Prepaid Metered Refill" %>

<h2>New Prepaid Metered Billing Refill</h2>

<p>
  This will add prepaid metered usage to an account that will expire on their
  next metered billing cycle so they won't be charged for overage.
</p>

<%= form_for prepaid_refill, url: stafftools_prepaid_metered_usage_refills_path do |f| %>
  <dl class="form-group">
    <dt>
      <%= f.label :amount_in_subunits, "Amount in cents" %>
    </dt>
    <dd>
      <%= f.text_field :amount_in_subunits, placeholder: 1000, pattern: "\\d+" %>
      <button type="submit" class="btn">Create</button>
    </dd>
  </dl>
<% end %>
