<details class="diffbar-item details-reset details-overlay position-relative text-center">
  <summary class="btn-link">
    <%= octicon "gear", class: "text-gray", "aria-label": "Diff settings" %>
    <div class="dropdown-caret text-gray"></div>
  </summary>
  <div class="Popover js-diff-settings mt-2 pt-1" style="left: -108px">
    <div class="Popover-message text-left p-3 mx-auto Box box-shadow-large">
      <%= form_tag nil, method: "get" do %>
        <h4 class="mb-2">Always</h4>
        <%= render partial: "pull_requests/diffbar/split_toggle", locals: { pull_comparison: pull_comparison } %>
        <h4 class="mb-2 mt-3">Just for now</h4>
        <input type="checkbox" name="w" value="1" id="whitespace-cb"
          <%= "checked" if pull_comparison.diffs.ignore_whitespace %>>
        <label for="whitespace-cb" class="text-normal">Hide whitespace changes</label>
        <button class="btn btn-primary btn-sm col-12 mt-3" type="submit">Apply and reload</button>
      <% end %>
    </div>
  </div>
</details>
