<% if pull && current_repository.pull_request_revisions_enabled? && pull.author_or_committer?(current_user) %>
  <div class="diffbar-item">
    <% if pull.draft? %>
      <% if pull.can_mark_ready_for_review?(current_user) %>
        <%= form_tag pull_request_ready_for_review_path do %>
          <input type="hidden" name="pull_request_id" value="<%= pull.global_relay_id %>">
          <button class="btn btn-sm btn-primary" type="submit" data-disable-with>Ready</button>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-sm btn-primary disabled" disabled>Ready</button>
      <% end %>
    <% else %>
      <% if pull.can_convert_to_draft?(current_user) %>
        <%= form_tag pull_request_convert_to_draft_path(current_repository.owner, current_repository, pull) do %>
          <button class="btn btn-sm" type="submit" data-disable-with>Pause</button>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-sm disabled" disabled>Pause</button>
      <% end %>
    <% end %>
  </div>
<% end %>
