<%# erblint:counter TooltipCounter 1 %>

<% if pull && logged_in? %>
<%
  diffs = pull_comparison.diffs
  total_files = diffs.summary.changed_files
  total_reviewed = current_user.reviewed_files.not_dismissed.for(pull).count
  total_reviewed = total_files if total_reviewed > total_files
  progress = (total_reviewed.to_f / total_files) * 100
%>

  <span class="diffbar-item" style="min-width: 140px">
    <progress-bar ratio="<%= total_reviewed %> / <%= total_files %>">
      <div class="d-flex flex-justify-between flex-items-center width-full mb-1">
        <div>
          <span class="js-review-count"><%= total_reviewed %> / <%= total_files %></span> files viewed
        </div>
        <div>
          <span class="tooltipped tooltipped-s tooltipped-multiline text-gray-light ml-1" aria-label="Marking files as viewed can help keep track of your progress, but will not affect your submitted review">
            <%= octicon("info") %>
          </span>
        </div>
      </div>
      <span class="Progress mt-n1">
        <div class="bg-blue js-review-progress" style="transition: width .2s ease-out;"></div>
      </span>
    </progress-bar>
  </span>
<% end %>
