<%# erblint:counter TooltipCounter 2 %>
<div class="diffbar-item dropdown js-reviews-container <%= "ml-sm-2" if current_repository.pull_request_revisions_enabled? %>">
  <% if !User::InteractionAbility.interaction_allowed?(current_user.id, current_repository) %>
    <button type="button" class="btn btn-sm disabled tooltipped tooltipped-sw" disabled aria-label="<%= interaction_ban_copy(current_repository, current_user, "review a pull request", true) %>">Review changes</button>
  <% elsif pull.locked_for?(current_user) %>
    <button type="button" class="btn btn-sm disabled tooltipped tooltipped-sw" disabled aria-label="<%= pull.locked_reason %>">Review changes</button>
  <% elsif responsive? %>
    <details class="details-reset details-overlay d-inline-block position-relative" id="review-changes-modal">
      <summary class="btn btn-sm <%= "btn-primary" unless pull.draft? && current_repository.pull_request_revisions_enabled? %> js-reviews-toggle">
        <span class="js-review-changes" data-pending-message="Finish your review" data-message="Review changes">
          Review changes
        </span>
        <%= render Primer::CounterComponent.new(count: review_comments_count(review), classes: "js-pending-review-comment-count") %>
        <span class="dropdown-caret"></span>
      </summary>
      <details-menu class="SelectMenu SelectMenu--hasFilter right-0" role="menu">
        <div class="SelectMenu-modal" style="max-width: calc(100vw - 32px);
    width: 640px; height: auto;">
          <header class="SelectMenu-header border-bottom-0 border-md-bottom">
            <span class="SelectMenu-title">Finish your review</span>
            <button class="SelectMenu-closeButton" type="button" data-toggle-for="review-changes-modal">
              <%= octicon("x", "aria-label": "Close menu") %>
            </button>
          </header>
          <div class="SelectMenu-list">
            <%= render partial: "pull_requests/submit_review", locals: { pull: pull, review: review } %>
          </div>
        </div>
      </details-menu>
    </details>
    <% else %>
    <details class="details-reset details-overlay js-dropdown-details">
      <summary class="btn btn-sm <%= "btn-primary" unless pull.draft? && current_repository.pull_request_revisions_enabled? %> js-reviews-toggle">
        <span class="js-review-changes" data-pending-message="Finish your review" data-message="Review changes">
          Review changes
        </span>
        <%= render Primer::CounterComponent.new(count: review_comments_count(review), classes: "js-pending-review-comment-count") %>
        <span class="dropdown-caret"></span>
      </summary>
      <div class="pull-request-review-menu Box box-shadow-medium position-absolute right-0" id="submit-review">
        <%= render partial: "pull_requests/submit_review", locals: { pull: pull, review: review } %>
      </div>
    </details>
  <% end %>
</div>
