<% show_toc_params = {
    id: pull_comparison.pull,
    sha1: file_list_view.diffs.parsed_sha1,
    sha2: file_list_view.diffs.parsed_sha2,
    base_sha: file_list_view.diffs.base_sha,
    skipmc: params[:skipmc] } %>

<details class="details-reset details-overlay diffbar-item toc-select select-menu">
  <summary class="btn-link muted-link select-menu-button" data-hotkey="t" data-ga-click="Pull Requests, open table of contents, type:semantic">
    <strong>Jump to…</strong>
  </summary>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= show_pull_request_toc_path(show_toc_params) %>" preload>
    <% if file_list_view.diffs.too_big? %>
      <div class="select-menu-list">
        <div class="select-menu-blankslate">
          The table of contents is too big for display.
        </div>
      </div>
    <% else %>
      <div class="select-menu-header">
        <span class="select-menu-title">
          Jump to file
        </span>
      </div>
      <include-fragment>
        <div class="select-menu-blankslate select-menu-error">
          Failed to load files. <button type="button" class="btn-link js-toc-retry">Retry</button>
        </div>
        <div class="select-menu-loading-overlay anim-pulse">
          <%= octicon("octoface", height: 32, "aria-label": "Loading") %>
        </div>
      </include-fragment>
    <% end %>
  </details-menu>
</details>
