<% if disputes.any? %>
  <div class="js-record-chargeback-errors flash flash-error d-none"></div>
  <table class="site-admin-table">
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Transaction</th>
      <th>Reason</th>
      <th></th>
    </tr>
    <% disputes.each do |dispute| %>
      <tr>
        <td><%= dispute.date %></td>
        <td><%= link_to dispute.user, stafftools_user_billing_history_path(dispute.user) %></td>
        <td><code><%= link_to dispute.id, dispute.platform_url %></code></td>
        <td><code><%= dispute.reason %></code></td>
        <td class="right-align">
          <%= form_tag stafftools_chargebacks_path(transaction_id: dispute.id),
              class: "js-record-chargeback-form inline-form float-right" do %>
            <button class="btn btn-sm" type="submit" data-disable-with="Recording dispute…">
              Record dispute
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="site-admin-blankstate">
    No disputed charges found.
  </p>
<% end %>
