<% page_info :title => "Chargebacks" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Disputed charges
    </h2>
  </div>
  <include-fragment src="<%= unrecorded_disputes_stafftools_chargebacks_path %>">
    <div class="loading-message text-center pt-4">
      <%= image_tag "spinners/octocat-spinner-64.gif", size: "32x32", alt: "" %>
      <h3>Loading disputed charges…</h3>
    </div>
  </include-fragment>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Recorded chargebacks
    </h2>
  </div>
  <% if chargebacks.any? %>
    <div class="Box">
      <ul>
        <%= render partial: "stafftools/chargebacks/recorded_chargebacks", locals: { chargebacks: chargebacks } %>
      </ul>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      No recorded chargebacks found.
    </p>
  <% end %>
</div>
