<% page_info title: view.name, selected_link: :business_licenses %>

<div class="d-flex flex-column">
  <% if bundled_license_assignments_enabled?(this_business) %>
    <%= render partial: "stafftools/businesses/licenses/navigation" %>
  <% end %>

  <div class="Subhead">
    <div class="Subhead-heading">User breakdown for <%= view.slug %></div>
    <%= link_to("View License Watermark Report", stafftools_enterprise_watermark_reports_path(this_business.slug), class: "flex-self-end") %>
  </div>

  <table class="stafftools-table mb-6">
    <tr>
      <th>Total for enterprise account</th>
      <td><%= view.unique_user_count %></td>
    </tr>
    <% view.categories.each do |title, rows| %>
      <% if rows.any? %>
        <tr>
          <th colspan="2"><em><%= title %></em></th>
        </tr>
        <% rows.each do |row| %>
          <tr>
            <td><%= link_to row[:label], row[:link_url] %></td>
            <td><%= link_to row[:unique_count], row[:link_url] %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <th colspan="2">
        <%= link_to("Download CSV of all consumed licenses", stafftools_enterprise_licenses_path(this_business.slug, format: :csv)) %>
      </th>
    </tr>
  </table>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Cool story, but how are these numbers calculated?<% end %>
  <% end %>

  <%= render "shared/enterprise_accounts_licenses_explanation" %>
</div>


