<%# rubocop:disable Lint/InstanceVariable %>
<p class="note js-payment-summary mt-4">
  <span class="js-upgrade-info <%= "d-none" if @seat_change.seats_delta <= 0 %>">
    You will be charged
    <b class="unstyled-payment-amount"><%= @seat_change.payment_amount.format %></b>
    today for
    <b class="unstyled-delta-seats"><%= @seat_change.seats_delta %></b>
    additional
    <span class="unstyled-delta-seats-label"><%= "seat".pluralize(@seat_change.seats_delta) %></span>
    bringing you up to a total of
    <b class="unstyled-total-seats"><%= @seat_change.seats %></b>
    seats. <br>
  </span>
  <span class="js-downgrade-info <%= "d-none" if @seat_change.seats_delta >= 0 %>">
    You’re removing
    <b class="unstyled-delta-seats"><%= @seat_change.seats_delta.abs %></b>
    <span class="unstyled-delta-seats-label"><%= "seat".pluralize(@seat_change.seats_delta.abs) %></span>,
    bringing you down to a total of
    <b class="unstyled-total-seats"><%= @seat_change.seats %></b>
    seats. <br>
  </span>
  Your next payment of <b class="unstyled-renewal-price"><%= @seat_change.renewal_price.format %></b>
  will be due
  <%= @target.next_billing_date.strftime("%e %B %Y") %>.
</p>
