<% if !target.has_valid_payment_method? %>
  <button type="submit" class="btn btn-primary" disabled>
    Add seats
  </button>
<% else %>
  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Add seats",
    button_class: "btn btn-primary",
    title: "Are you sure you want to add seats?",
  } do %>
    <div class="Box-body overflow-auto">
      <ul class="hanging-icon-list mx-0">
        <li>
          <%= octicon "stop", class: "mt-1 text-red" %>
          You will be charged for these seats at your current plan price of <%= seat_change.human_unit_price %>.
        </li>
        <li>
          <%= octicon "stop", class: "mt-1 text-red" %>
          Your pending downgrade will be canceled.
        </li>
        <li>
          <%= octicon "stop", class: "mt-1 text-red" %>
          You will <strong>NOT</strong> be downgraded on <%= pending_change_active_on(target) %> and will be charged your standard plan price on that date.
        </li>
      </ul>

      <p>
      Please re-schedule your downgrade after adding seats. If you would like the downgrade to go
      into effect immediately, please <a href="https://support.github.com/contact" target="_blank">contact Support</a>.
      </p>
      <button
        type="submit"
        class="btn btn-block btn-primary js-purchase-button mt-2"
        aria-label="<%= purchase_button_aria_label(target) %>"
        data-disable-with="Adding seats…">
        Confirm
      </button>
    </div>
  <% end %>
<% end %>
