<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Welcome to the GitHub Developer Program!</title>
  <style>
  div.content a{
    color: #4183C4 !important;
    text-decoration: none;
  }
  div.content a:hover {
    color: #4183C4 !important;
    text-decoration: underline !important;
  }


  @media only screen and (max-device-width: 480px) {
    h1[class="heading"] {
      font-size: 30px !important;
    }
    p[class="subtext"] {
      font-size: 14px !important;
    }

    div[class="content"] {
      width: 260px !important;
    }
    div[class="heading-content"] {
      width: 300px !important;
    }
    img[class="video-teaser"] {
      width: 260px !important;
      height: 76px !important;
    }
  }
  </style>
</head>
<body bgcolor="#fafafa" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;background:#fafafa;-webkit-text-size-adjust:none;">

  <div style="padding: 10px;">
    <div class="heading-content" style="padding-top: 20px; width: 550px; margin: 0 auto;">
      <h1 class="heading" style="margin: 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 40px; letter-spacing: -1px; color: #333; font-weight:normal;">
        Welcome to the
      </h1>
      <h1 class="heading" style="margin: 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 40px; letter-spacing: -1px; color: #333; font-weight:normal;">
        GitHub Developer Program
      </h1>
      <p class="subtext" style="margin: 0 0 30px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 17px; font-weight: 300; color: #555;">
        Thanks for joining, we can’t wait to see what you’ll build!
      </p>
    </div>

    <div class="content" style="margin: 20px auto !important; width: 510px; padding: 20px 20px 20px 20px !important; border: 1px solid #ddd !important; border-radius: 3px !important; box-shadow: 0 1px 3px rgba(0,0,0,0.05) !important; background: #ffffff !important;">

      <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Whether you’re just getting started or have been building applications on the GitHub API for years, we’re excited to have you on board. The Developer Program is all about making sure you have the right resources to build the best possible integrations for our incredible community.
      </p>
      <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Wondering what to do next? Here are some ideas:
      </p>

      <div class="rule" style="margin: 20px 0;border-top: 1px solid #ddd;"></div>

      <h3 style="color:#000; font-size:18px; line-height:24px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:20px; margin-bottom:0; padding-top:0; padding-bottom:0; font-weight:bold;">
        <a href="<%= GitHub.developer_help_url %>" style="color: #4183C4 !important; text-decoration:none;">Build your first integration</a>
      </h3>
      <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Get started by reading our <a href="<%= GitHub.developer_help_url %>/guides/" style="color: #4183C4 !important;">developer guides</a> or dive right into the <a href="<%= GitHub.developer_help_url %>/v3/" style="color: #4183C4 !important;">API reference documentation</a>. We’ve even got <a href="<%= GitHub.developer_help_url %>/libraries/" style="color: #4183C4 !important;">client libraries</a> for some of our favorite languages.
      </p>

      <h3 style="color:#000; font-size:18px; line-height:24px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:20px; margin-bottom:0; padding-top:0; padding-bottom:0; font-weight:bold;">
        <a href="<%= GitHub.developer_help_url %>/changes/" style="color: #4183C4 !important; text-decoration:none;">Stay up-to-date</a>
      </h3>
      <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Our developer changes blog is the place to go for updates, announcements, and early access previews of new APIs.
      </p>

      <h3 style="color:#000; font-size:18px; line-height:24px; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:20px; margin-bottom:0; padding-top:0; padding-bottom:0; font-weight:bold;">
        <a href="https://github.com/contact?form[subject]=New+integration" style="color: #4183C4 !important; text-decoration:none;">Request to be featured</a>
      </h3>
      <p style="margin: 5px 0 15px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Do you have an application that works with GitHub? We’d love to know about it.
      </p>

      <div class="rule" style="margin: 20px 0;border-top: 1px solid #ddd;"></div>

      <p style="margin: 15px 0 5px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        And if you are ever stuck implementing something with our API or just want to talk to a human, <a href="https://github.com/contact" style="color: #4183C4 !important; text-decoration:none;">we are here to help</a>.
      </p>

      <p style="margin: 15px 0 5px 0; font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; font-weight: normal; color: #333; line-height: 20px;">
        Thanks again and happy integrating!<br><br>
      </p>

    </div>

    <div class="mark" style="margin: 20px 0; text-align: center;">
      <img src="<%= @image_url %>/developer/footer-octocat.png" width="40" height="40">
    </div>
  </div>

</body>
</html>
