<% page_info :title => "Installed GitHub Apps", :selected_link => :installations %>

<div class="boxed-group">
  <h3>Installed GitHub Apps</h3>
  <div class="boxed-group-inner">
    <% if view.installations.any? %>
      <ul class="boxed-group-list standalone integration-list">
        <% view.installations.each do |installation| %>
          <li>
            <span class="time">Installed <%= time_ago_in_words installation.created_at %> ago</span>
            <span class="integration-name css-truncate css-truncate-target">
              <%=
                link_to(
                  installation.integration.name,
                  stafftools_user_installation_path(this_user, installation.id)
                )
              %>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account has not installed any GitHub Apps.</p>
    <% end %>
  </div>
</div>

<div class="paginate-container">
  <%= will_paginate view.installations %>
</div>
