<div class="pt-2 pb-1">
  <h3 class="text-normal pb-2">Policies</h3>
  <p class="mb-2">
    Choose which repositories are permitted to use GitHub Actions.
  </p>
  <%= form_tag org_actions_policies_path(@organization), class: "d-inline", method: :put do %>
    <%= render GitHub::MenuComponent.new(items: action_policy_list) do |menu| %>
      <% menu.with(:summary) do %>
        <summary class="btn select-menu-button" <%= test_selector("policy-selection") %>>
          <span data-menu-button><%= menu.default_selection_text %></span>
        </summary>
      <% end %>
    <% end %>
  <% end %>

  <% if show_repository_selector? %>
    <div class="ml-2 d-inline js-policy-repos-container" <%= test_selector("selected-repos-section") %>>
      <%= pluralize selected_repos_count, "selected repository", plural: "selected repositories" %>
      <%= form_tag org_actions_repo_policies_path(@organization),
        class: "d-inline overflow-hidden js-policy-repos-form",
        id: "actions-policy-repos-form",
        method: :put do %>
      <% end %>
      <%= render(GitHub::DialogComponent.new(title: "Repositories", src: org_actions_repo_dialog_path(@organization), preload: true, details_classes: " js-repository-items-dialog d-inline")) do |dialog| %>
        <% dialog.with(:summary) do %>
          <summary aria-label="select repositories">
            <%= octicon("gear", class: "muted-link") %>
          </summary>
        <% end %>
        <% dialog.with(:body) do %>
          <include-fragment class="SelectMenu-loading" aria-label="Loading">
            <%= octicon('octoface', class: "anim-pulse", height: 32) %>
          </include-fragment>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<%= form_tag org_actions_policies_path(@organization), method: :put do %>
  <div <%= test_selector("type-policy-section") %>>
    <h3 class="text-normal pt-5 pb-2">Local and third-party Actions</h3>
    <p class="mb-2">
      Choose whether repositories can only execute Actions that exist in the same repository or if Actions that exist elsewhere in the organization or in a repository owned by a third-party are permitted.
    </p>
    <div class="pt-2 pb-1">
      <%= render GitHub::MenuComponent.new(items: action_type_policy_list) do |menu| %>
        <% menu.with(:summary) do %>
          <summary class="btn select-menu-button">
            <span data-menu-button><%= menu.default_selection_text %></span>
          </summary>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
<% if !configurable? %>
  <div class="text-gray note pt-2 pb-2" <%= test_selector("selection-disabled-section") %>>
    <%= octicon("shield-lock", height: 13) %>
    This setting has been <a href="<%= GitHub.business_accounts_help_url %>">set by enterprise administrators</a>.
  </div>
<% elsif disable_action_type_selection? %>
  <div class="text-gray note pt-2 pb-2">
    <%= octicon("shield-lock", height: 13) %>
    This setting is disabled because Actions are disabled for all repositories in the organization.
  </div>
<% end %>

