<% @repositories.each do |repository| %>
  <li class="css-truncate d-flex flex-items-center width-full">
    <input
      type="checkbox" name="repository_ids[]"
      value="<%= repository.global_relay_id %>"
      id="<%= aria_id_prefix %>-<%= repository.id %>"
      <%= " checked" if @selected_repositories.include?(repository.global_relay_id) %>
      class="repository-item-checkbox js-repository-item-checkbox mx-2 position-absolute"
      data-targets="selected-item-list.items"
      data-action="click:selected-item-list#updateCount">
    <label class="repository-item-name d-flex flex-items-center width-full text-gray-dark py-1 pr-1 pl-5"
      for="<%= aria_id_prefix %>-<%= repository.id %>"
      title="<%= repository %>">
      <%= octicon(repository.repo_type_icon, class: "mr-2 flex-shrink-0") %>
      <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
        <%= repository %>
      </strong>
    </label>
  </li>
<% end %>
<% if @show_next_page %>
  <li class="js-more-repository-items-replace-target">
    <button type="button"
      class="js-more-repository-items-button width-full btn-link f6 muted-link text-left mt-2"
      data-disable-with="Loading more&hellip;"
      data-url="<%= settings_org_actions_repository_items_path(@organization, page: @next_page, policy: @policy_type, policy_id: @policy_id) %>">
      Load more
    </button>
  </li>
<% end %>
