<%# erblint:counter TooltipCounter 1 %>
<li class="Box-row position-relative">
  <branch-filter-item branch="<%= branch.name_for_display %>" class="d-flex flex-items-center Details">
  <div class="col-12 col-lg-6 d-flex css-truncate flex-wrap">
    <% if branch.ref.protected? %>
      <%= octicon("shield-lock", :class => "text-gray-light mr-2 Details-content--shown", :title => "This branch is protected") %>
    <% end %>

    <%= link_to branch.name_for_display, tree_path("", branch.name, current_repository), :class => "branch-name css-truncate-target v-align-baseline width-fit mr-2 Details-content--shown" %>
    <span class="css-truncate-target v-align-baseline text-gray f6 width-fit Details-content--shown d-block d-md-inline pr-3">
      Updated <%= time_ago_js(branch.commit.authored_date) %> by <%= branch.author_link %>
    </span>
    <% if branch.can_delete? %>
      <span class="branch-name css-truncate-target Details-content--hidden mr-2"><%= branch.name_for_display %></span>
      <span class="css-truncate-target v-align-baseline text-gray f6 width-fit Details-content--hidden">
        Deleted just now by <%= link_to current_user.login, current_user.permalink, :class => "muted-link" %>
      </span>
    <% end %>
  </div>
  <div class="d-flex col-md-6 flex-items-center">
    <div class="Details-content--shown" style="width:12px;">
      <% if branch.combined_status.any? %>
        <div class="js-build-status">
          <% status_view_model = create_view_model(Statuses::IconView,
              combined_status: branch.combined_status,
              dropdown_direction: local_assigns.fetch(:status_direction, "e"),
              tooltip_direction: "e",
              dropdown_class: "js-status-dropdown-menu d-none p-0"
            )
          %>
          <%= render layout: "statuses/deprecated_icon", locals: { view: status_view_model } do %>
            <div class="Details m-6 js-details-container js-status-loader"
                data-contents-url="<%= branch_statuses_path(current_repository.owner, current_repository, name: branch.name) %>">
              <div class="d-flex flex-column flex-items-center js-status-loading">
                <div class="anim-pulse"><%= octicon('octoface', height: 32) %></div>
                <div class="text-gray no-wrap">Loading status checks&hellip;</div>
              </div>
              <div class="d-none d-flex flex-column flex-items-center js-status-error">
                <div class="no-wrap">Failed to load status checks.</div>
                <button type="button" class="btn-link js-status-retry">Retry</button>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12 col-lg-6 d-none d-md-flex flex-justify-end flex-lg-justify-center Details-content--shown">
      <% if branch.is_default? %>
        <span class="label Label--gray-darker ml-3">Default</span>
      <% else %>
        <%= render :partial => "branches/count", :locals => { :branch => branch } %>
      <% end %>
    </div>
    <div class="flex-auto flex-justify-end flex-items-center Details-content--shown d-none d-md-flex no-wrap">
      <% if branch.pull_request %>
        <% if branch.pull_request.issue %>
          <div class="d-inline-block text-right ml-3">
            <a href="<%= pull_request_path(branch.pull_request) %>"
               class="muted-link"
               data-issue-and-pr-hovercards-enabled
               <%= safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(branch.pull_request)) %>
            >
              #<%= branch.pull_request.issue.number %>
            </a>

            <%= render(PullRequests::StateComponent.new(
              state: branch.pull_request.state.to_sym,
              is_draft: branch.pull_request.draft?,
              size: :small, ml: 1, underline: false,
              tag: :a, href: pull_request_path(branch.pull_request)
            )) %>
          </div>
        <% else %>
          <% Failbot.report_user_error GitHub::DataQualityError.new(branch.pull_request, :issue) %>
        <% end %>
      <% elsif !branch.is_default? %>
        <%
          ga_action = branch.can_push ? "go to new pull request form" : "go to compare view"
          ga_text   = branch.can_push ? "New pull request" : "Compare"
          ga_attribute = "Repository, #{ga_action}, location:branch list; text:#{ga_text}"
        %>
        <%= link_to branch.compare_path, :class => "btn btn-sm d-none d-lg-inline-block test-compare-link", "data-ga-click" => ga_attribute do %>
          <% if branch.can_push %>
            <%= octicon("git-pull-request") %>
            New pull request
          <% else %>
            <%= octicon("git-compare") %>
            Compare
          <% end %>
        <% end %>
      <% end %>
      <% if current_repository.adminable_by?(current_user) %>
        <% if branch.is_default? %>
          <a class="btn btn-sm d-none d-lg-inline-block" role="button" href="<%= edit_repository_branches_path %>">Change default branch</a>
        <% end %>
      <% end %>
      <% if branch.can_delete? %>
        <%= form_tag branch.delete_path, method: :delete, class: "d-none d-md-inline-block", "data-action": "submit:branch-filter-item#destroy" do %>
          <button
            type="submit"
            class="btn-link ml-3 text-red"
            data-target="branch-filter-item.destroyButton"
            title="Delete this branch"
            name="return_to"
            value="<%= request.fullpath %>">
            <%= octicon("trashcan") %>
          </button>
        <% end %>
      <% elsif branch.would_be_deletable? %>
        <span class="disabled tooltipped tooltipped-nw ml-3 text-gray-light d-none d-md-inline-block"
          aria-label="<%= branch.not_deletable_reason %>">
          <%= octicon("trashcan") %>
        </span>
      <% end %>
    </div>
    <div class="d-flex flex-auto flex-justify-end flex-items-center Details-content--hidden">
      <%= form_tag branch.restore_path, method: :post, "data-action": "submit:branch-filter-item#restore" do %>
        <button type="submit" class="btn btn-sm float-right" name="return_to" value="<%= request.path %>">Restore</button>
      <% end %>
    </div>
    <%= image_tag "spinners/octocat-spinner-32-EAF2F5.gif", size: "16x16", class: "ml-2", "data-target": "branch-filter-item.spinner", hidden: true, alt: "" %>
  </div>
  <% # responsive full row link %>
  <%= link_to "", tree_path("", branch.name, current_repository), :class => "d-block d-md-none position-absolute top-0 bottom-0 left-0 right-0", :'aria-label' => "Link to #{branch.name_for_display} file tree." %>
  </branch-filter-item>
</li>
