<%# erblint:counter TooltipCounter 1 %>
<div class="d-none d-lg-inline-block text-gray-light branch-a-b-count tooltipped tooltipped-n ml-3" aria-label="<%= branch.ahead_behind_count %>" role="img">
  <div class="a-b-count-widget">
    <div class="count-half">
      <div class="count-value count-behind"><%= branch.behind_count %></div>
      <span class="bar bar-behind <%= branch.behind_count_class %>" style="width:<%= branch.behind_percent %>%">
        <div class="meter anim-grow-x <%= "zero" if branch.behind_count == 0 %>"></div>
      </span>
    </div>
    <div class="count-half">
      <div class="count-value count-ahead"><%= branch.ahead_count %></div>
      <span class="bar bar-ahead <%= branch.ahead_count_class %>" style="width:<%= branch.ahead_percent %>%">
        <div class="meter anim-grow-x <%= "zero" if branch.ahead_count == 0 %>"></div>
      </span>
    </div>
  </div>
</div>
