<div class="Box Box--condensed mb-3">
  <div class="Box-header">
    <h3 class="Box-title">Default branch</h3>
  </div>
  <ul>
    <%= render :partial => "branches/branch", :object => view.primary_branch %>
  </ul>
</div>

<% if view.your_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <h3 class="Box-title">Your branches</h3>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.your_branches %>
      <% if view.your_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
          <%= link_to branches_path(view.repository, :view => :yours), :class => "d-block p-2" do %>
            View more of your branches
            <%= octicon("chevron-right", :class => "ml-1") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if view.active_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <span class="Box-title">Active branches</span>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.active_branches %>
      <% if view.active_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
          <%= link_to branches_path(view.repository, :view => :active), :class => "d-block p-2" do %>
            View more active branches
            <%= octicon("chevron-right", :class => "ml-1") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if view.stale_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <span class="Box-title">Stale branches</span>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.stale_branches %>
      <% if view.stale_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
            <%= link_to branches_path(view.repository, :view => :stale), :class => "d-block p-2" do %>
              View more stale branches
              <%= octicon("chevron-right", :class => "ml-1") %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
<% end %>
