<%graphql
  fragment Team on Team {
    avatarUrl(size: 280)
    combinedSlug
    description
    name
    privacy
    resourcePath
    viewerCanAdminister
  }
%>

<% team = Views::Orgs::TeamDiscussions::LeftColumnAvatar::Team.new(team) %>

<img class="team-avatar avatar d-block mb-3 mx-auto mx-md-0" src="<%= team.avatar_url %>" alt="@<%= team.combined_slug %>">

<div class="text-center text-md-left">
  <a class="f2 link-gray-dark no-underline lh-condensed" href="<%= team.resource_path %>" data-name="<%= team.name %>">
    <%= team.name %>
  </a>
  <span class="text-gray-light">
    <% if team.privacy == "SECRET" %>
      <span class="Label Label--outline ml-2 d-inline-block v-align-middle mb-1" title="Only visible to its members and owners.">Secret</span>
    <% else %>
      <span class="f6 text-gray-light d-block mt-1">@<%= team.combined_slug %></span>
    <% end %>
  </span>
  <p class="f5 d-block mt-3 mb-0 text-gray js-team-discussions-team-description">
    <span class="description">
      <% if team.description.present? %>
        <%= team.description %>
      <% elsif team.viewer_can_administer %>
        This team has no description
      <% end %>
    </span>
    <% if team.viewer_can_administer %>
      - <button type="button" class="btn-link muted-link js-team-discussions-team-description-toggle">Edit</button>
    <% end %>
  </p>
  <%= form_tag team.resource_path.to_s, :method => :put, :class => "js-team-discussions-team-description-form d-none" do %>
    <textarea class="form-control js-quick-submit js-team-discussions-team-description-field mt-4 mb-2 width-full"
      name="team[description]"
      placeholder="Add a description"
      aria-label="Add a description"><%= team.description %></textarea>
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
    <button type="reset" class="btn btn-sm js-team-discussions-team-description-toggle">Cancel</button>
  <% end %>
</div>
