<%graphql
  fragment Team on Team {
    id
    websocket
    ...Views::Orgs::TeamDiscussions::List::Team
    discussionsPagination: discussions(isPinned: $isPinned, first: $limit, after: $after, before: $before, orderBy: {field: CREATED_AT, direction: DESC}) {
      pageInfo {
        startCursor
      }
    }
  }
%>

<%
  team = Views::Orgs::TeamDiscussions::ListWithMarker::Team.new(team)
  page_info = team.discussions_pagination.page_info
%>

<div id="timeline_marker" class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(team.websocket) %>"
    data-url="<%= show_node_partial_path(
      path: "orgs/team_discussions/node",
      id: "query",
      variables: { id: team.id, before: page_info.start_cursor, limit: Orgs::TeamDiscussionsController::PAGE_SIZE, lastNComments: Orgs::TeamDiscussionsController::DEFAULT_COMMENT_LIMIT }.compact )
    %>"
></div>

<%= render partial: "orgs/team_discussions/list", locals: { team: team, viewer: viewer } %>
