<%graphql
  fragment Root on Query {
    viewer {
      resourcePath
      ...Views::Orgs::TeamDiscussions::TeamDiscussion::Viewer
    }
    organization(login: $login) {
      name
      team(slug: $slug) {
        id
        discussion(number: $number) {
          title
          ...Views::Orgs::TeamDiscussions::TeamDiscussion::TeamDiscussion
        }
        name
        resourcePath
        ...Views::Orgs::TeamDiscussions::LeftColumnAvatar::Team
        ...Views::Orgs::TeamDiscussions::SubscriptionMenu::Team
      }
    }
  }
%>
<%
  data = Views::Orgs::TeamDiscussions::Show::Root.new(data)
  org = data.organization
  team = org.team
  discussion = org.team.discussion
  page_info class: "full-width js-show-discussion",
            title: "#{discussion.title + ' · ' if discussion.title.present?}#{org.team.name} · #{org.name}",
            footer: false,
            dashboard_pinnable_item_id: team.id
%>

<% content_for :left_column do %>
  <%= render partial: "orgs/team_discussions/left_column_avatar", locals: { team: team } %>

  <div class="mt-6 flex-justify-center flex-md-justify-start d-flex">
    <%= render partial: "orgs/team_discussions/subscription_menu",
               locals: { team: team }
    %>
  </div>
<% end %>

<a href="<%= team.resource_path %>" class="btn btn-outline mt-2 mb-4 mt-md-0 mb-md-6" role="button">
  <%= octicon "chevron-left", class: "mr-1" %>
  Return to team
</a>

<%=
  render(
    partial: "orgs/team_discussions/team_discussion",
    locals: {
      from_comment: from_comment,
      discussion: discussion,
      viewer: data.viewer,
    })
%>
