<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% @display_message = @preview_message || @message %>

<div class="container">
  <div class="auth-form">
    <div class="auth-form-header">
      <h1>Account suspended</h1>
    </div>

    <div class="auth-form-body">
      <%= github_simplified_markdown(@display_message) %>
    </div>
  </div>
</div>
