<%# rubocop:disable Lint/InstanceVariable %>
<% page_info class: "page-two-factor-auth session-authentication" %>

<% otp = Rails.env.development? ? @user.two_factor_credential.totp.now : "" %>
<div id="login" class="auth-form px-3">
  <div class="flash flash-notice sms-success">
    <button type="button" class="flash-close js-flash-close" aria-label="Dismiss this message">
      <%= octicon('x') %>
    </button>
    Your authentication code has been sent.
  </div>
  <div class="flash flash-warn sms-error">
    <button type="button" class="flash-close js-flash-close" aria-label="Dismiss this message">
      <%= octicon('x') %>
    </button>
    <span class='js-sms-error'>
      We were unable to send your authentication code. Please try again or <a href="<%= contact_path %>">contact support</a> if the problem persists.
    </span>
  </div>

  <div class="auth-form-header p-0">
    <h1>Two-factor authentication</h1>
  </div>

  <%= render "shared/flash" %>

  <div class="auth-form-body mt-3">
    <%= form_tag two_factor_path do %>
      <label for="otp">
        Authentication code <a href="<%= GitHub.help_url %>/articles/providing-your-2fa-authentication-code" class="label-link" target="_blank">What’s this?</a>
      </label>

      <%= text_field_tag :otp, "", autocomplete: "one-time-code", autofocus: "autofocus", class: "input-block", value: otp, id: "otp", :inputmode => "numeric", :pattern => "([0-9]{6})|([0-9a-fA-F]{5}-?[0-9a-fA-F]{5})", :placeholder => "6-digit code" %>

      <button class="btn btn-primary btn-block" data-disable-with="Verifying…" type="submit">Verify</button>
    <% end %>
  </div>

  <div class="two-factor-help clearfix">
    <% if @user.two_factor_credential.sms_enabled? %>
      <%= octicon('device-mobile') %>
        We just sent you a message via SMS with your authentication code.
        Enter the code in the form above to verify your identity.
        <%= form_tag two_factor_resend_path, :class => "inline-form js-send-auth-code" do %>
          <button type="submit" class="btn-link">Re-send the code</button>
          <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="16" class="u2f-send-code-spinner" alt="">
        <% end %>
    <% else %>
      <%= octicon('device-mobile') %>
      Open the two-factor authentication app on your device to view your authentication code and verify your identity.
    <% end %>
  </div>
  <div>
    <hr>
    <h5 class="mb-2">Having problems?</h5>
    <ul class="ml-3">
      <% if @user.has_registered_security_key? %>
        <li><%= link_to "Use your security key device", u2f_prompt_path %></li>
      <% end %>
      <% if @user.two_factor_credential.fallback_enabled? %>
        <li>
          <%= form_tag two_factor_send_fallback_path, :class => "inline-form js-send-auth-code" do %>
            <button type="submit" class="btn-link">
              Send the code to your backup phone number
            </button>
            <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="16" class="u2f-send-code-spinner" alt="">
          <% end %>
        </li>
      <% end %>
      <li><%= link_to "Enter a two-factor recovery code", two_factor_recover_prompt_path %></li>
      <% unless GitHub.enterprise? %>
        <li>
          <details class="details-reset details-overlay details-overlay-dark">
            <summary class="btn-link ws-normal" style="display: list-item">Can’t access your two-factor device or valid recovery codes?</summary>
            <details-dialog class="anim-fade-in fast Box--overlay rounded-1">
              <div class="px-3 pt-3">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= octicon "x" %>
                </button>
                <div class="f2 text-center mt-4">
                  Recovering your account
                </div>
              </div>
              <div class="Box-body overflow-auto p-0">
                <p class="mb-0 text-center p-3">If you can’t access a trusted device or recovery codes you can request a reset of your
                authentication settings. For security reasons <strong>this can take 3-5 business days</strong>. <a href="<%= GitHub.help_url %>/github/authenticating-to-github/recovering-your-account-if-you-lose-your-2fa- credentials" target="_blank">Learn more</a></p>

                <div class="d-flex border-top text-center p-3 bg-gray">
                  <div class="flex-auto col-4">
                    <%= octicon "mail", class: "text-gray" %>
                    <h5 class="my-2">Step 1</h5>
                    Verify an email associated with this account.
                  </div>
                  <div class="flex-auto col-4">
                    <%= octicon "key", class: "text-gray" %>
                    <h5 class="my-2">Step 2</h5>
                    Verify a device, SSH key or personal access token.
                  </div>
                  <div class="flex-auto col-4">
                    <%= octicon "clock", class: "text-gray" %>
                    <h5 class="my-2">Step 3</h5>
                    GitHub support will review your request <strong>within 3-5 business days</strong>.
                  </div>
                </div>
              </div>
              <div class="Box-footer">
                <%= form_tag two_factor_recovery_request_start_path, method: :post do %>
                  <button type="submit" class="btn btn-primary btn-block mt-0" >I understand, get started</button>
                <% end %>
              </div>
            </details-dialog>
          </details>
        </li>
      <% end %>
    </ul>

  </div>
</div>
