<%# rubocop:disable Lint/InstanceVariable %>
<% page_info class: "page-two-factor-auth session-authentication" %>

<% otp = Rails.env.development? ? @user.two_factor_credential.first_unused_recovery_code : "" %>
<div class="two-factor-container">
  <div id="login" class="auth-form px-3">
    <%= form_tag two_factor_recover_path do %>
      <div class="auth-form-header p-0">
        <h1>Two-factor recovery</h1>
      </div>

      <%= render "shared/flash" %>

      <div class="auth-form-body mt-3">
        <label for="recovery_code" class="clearfix">
          Recovery code
        </label>

        <%= text_field_tag :recovery_code, '', :autocomplete => :off, :autofocus => "autofocus", :class => "input-block", :value => otp %>

        <button class="btn btn-primary btn-block" data-disable-with="Verifying…" type="submit">Verify</button>
      </div>
    <% end %>

  <div class="two-factor-help clearfix">
    <%= octicon('key') %>
    You can enter one of your recovery codes in case you lost access to your mobile device.
  </div>

  <% unless GitHub.enterprise? %>
    <div>
      <hr>
      <h5 class="mb-2">Still having problems?</h5>

      <ul class="ml-3">
        <li>
          <details class="details-reset details-overlay details-overlay-dark">
            <summary class="btn-link ws-normal" style="display: list-item">Can’t access your two-factor device or valid recovery codes?</summary>
            <details-dialog class="anim-fade-in fast Box--overlay rounded-1">
              <div class="px-3 pt-3">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= octicon "x" %>
                </button>
                <div class="f2 text-center mt-4">
                  Recovering your account
                </div>
              </div>
              <div class="Box-body overflow-auto p-0">
                <p class="mb-0 text-center p-3">If you can’t access a trusted device or recovery codes you can request a reset of your
              authentication settings. For security reasons <strong>this can take 3-5 business days</strong>. <a href="<%= GitHub.help_url %>/github/authenticating-to-github/recovering-your-account-if-you-lose-your-2fa-   credentials" target="_blank">Learn more</a></p>

                <div class="d-flex border-top text-center p-3 bg-gray">
                  <div class="flex-auto col-4">
                    <%= octicon "mail", class: "text-gray" %>
                    <h5 class="my-2">Step 1</h5>
                    Verify an email associated with this account.
                  </div>
                  <div class="flex-auto col-4">
                    <%= octicon "key", class: "text-gray" %>
                    <h5 class="my-2">Step 2</h5>
                    Verify a device, SSH key or personal access token.
                  </div>
                  <div class="flex-auto col-4">
                    <%= octicon "clock", class: "text-gray" %>
                    <h5 class="my-2">Step 3</h5>
                    GitHub support will review your request <strong>within 3-5 business days</strong>.
                  </div>
                </div>
              </div>
              <div class="Box-footer">
                <%= form_tag two_factor_recovery_request_start_path, method: :post do %>
                  <button type="submit" class="btn btn-primary btn-block mt-0" >I understand, get started</button>
                <% end %>
              </div>
            </details-dialog>
          </details>
        </li>
      </ul>
    </div>
  <% end %>
  </div>
</div>
