<details class="details-reset details-overlay select-menu d-inline-block">
  <summary class="btn-link select-menu-button" aria-haspopup="menu">
    <%= filter.to_s.titleize %>:

    <strong>
      <% if existing_params[filter].present? %>
        <%= filter_name_for(filter, existing_params[filter]) %>
      <% else %>
        All
      <% end %>
    </strong>
  </summary>

  <details-menu
    class="select-menu-modal position-absolute right-0"
    style="z-index: 1000;"
    aria-label="Sort by"
    role="menu"
  >
    <div class="select-menu-header">
      <span class="select-menu-title">
        <%= filter.to_s.titleize %>
      </span>
    </div>

    <div class="select-menu-list">
      <% filter_list_for(filter, existing_params).each do |list_entry| %>
        <a
          href="<%= list_entry_link_for(filter, list_entry, existing_params) %>"
          class="<%= link_class_for(list_entry.parameterize, existing_params[filter]) %>"
          role="menuitem"
        >
          <%= octicon(
            "check",
            class: octicon_class_for(list_entry.parameterize, existing_params[filter]),
            style: "margin-left: 6px;"
          ) %>
          <%= render Primer::TextComponent.new(font_size: 5) do %><%= list_entry %><% end %>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
