<div class="table-list-header-toggle">
  <%= render(
    "site/customer_stories/filter",
    filter: :region,
    existing_params: permitted_params.slice(:type, :industry, :region)
  ) %>

  <%= render(
    "site/customer_stories/filter",
    filter: :industry,
    existing_params: permitted_params.slice(:type, :industry, :region)
  ) %>

  <%= render(
    "site/customer_stories/filter",
    filter: :type,
    existing_params: permitted_params.slice(:type, :industry, :region)
  ) %>
</div>
