<%# erblint:disable LandmarkHasLabel %>

<%
  showing_team_story = local_assigns[:showing_team_story]
%>

<div class="site-subnav bg-white site-subnav-sticky js-sticky">
  <nav class="d-flex flex-items-center <% if container_xl? %>container-xl<% else %>container-lg<% end %> mx-auto p-responsive">
    <div class="d-flex flex-auto flex-items-center">
      <%= render(Primer::LinkComponent.new(
        classes: "h5-mktg",
        color: :gray_dark,
        data: { ga_click: "Customer stories nav, click, text:Customer stories" },
        href: customer_stories_path,
        mr: 3,
        py: 3,
        underline: false,
      )) do %>
        Customer stories
      <% end %>
    </div>

    <% if showing_team_story %>
      <a
        href="/team"
        class="btn-mktg h5-mktg px-3 py-2 mr-2"
        data-ga-click="Customer stories nav, click, text:Choose a plan"
      >
        Choose a plan
      </a>
    <% else %>
      <a
        href="<%= org_enterprise_plan_path(ref_page: request.fullpath, ref_cta: "Start a free trial", ref_loc: "customer stories nav") %>"
        class="btn-mktg h5-mktg px-3 py-2 mr-2"
        data-ga-click="Create organization, click to set up organization, ref_page:<%= request.fullpath %>;ref_cta:Start a free trial;ref_loc:customer stories nav"
      >
        Start a free trial
      </a>

      <a
        href="<%= ent_contact_url %>?ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("customer stories nav") %>"
        data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Contact Sales;ref_loc:customer stories nav"
        class="btn-mktg btn-outline-mktg h5-mktg px-3 py-2"
      >
        Contact Sales
      </a>
    <% end %>
  </nav>
</div>
