<% page_info(
  class: "f4",
  container_xl: true,
  description: "With collaborative project management, flexible security options,"\
    " and easy admin, thousands of organizations are using GitHub and GitHub"\
    " Enterprise to build better software. Hear what a few of them have to say.",
  marketing_page: true,
  richweb: {
    title: "Customer stories",
    url: request.original_url,
    description: "With collaborative project management, flexible security options,"\
      " and easy admin, thousands of organizations are using GitHub and GitHub"\
      " Enterprise to build better software. Hear what a few of them have to say.",
    image: image_path("modules/site/social-cards/enterprise.png"),
  },
  title: "Customer stories",
) %>

<%= render "site/customer_stories/nav" %>
<%= render(
  "site/customer_stories/featured_customer_stories",
  currently_featured_customer_stories: ExploreFeed::CustomerStory.featured
) %>
<%= render(
  "site/customer_stories/filtered_customer_story_list",
  permitted_params: permitted_params,
) %>
