<%# rubocop:disable Lint/InstanceVariable %>

<%= octolytics_mobile_tag %>
<%= octolytics_repository_tags(current_repository) if current_repository %>
<%= octolytics_user_tags(@user) if @user %>

<%= render "site/analytics_meta_tags_for_desktop_and_mobile" %>
