<% if !current_user.dismissed_notice?("mobile_opt_out") && !current_user.profile_settings.mobile_opt_out_setting_explicitly_set?  %>
  <div class="flash text-normal border rounded-1 mt-3 position-relative js-notice" <%= test_selector("mobile-opt-out") %>>
    <%= form_tag dismiss_notice_path("mobile_opt_out"), class: "position-absolute right-0 mr-3 js-notice-dismiss" do %>
      <button type="submit" data-ga-click="Mobile, tap, Dismiss mobile opt out">
        <%= octicon("x", class: "d-block", :"aria-label" => "Dismiss") %>
      </button>
    <% end %>

    <span class="pr-3">
      Want to always use desktop?
    </span>

    <details class="details-reset details-overlay details-overlay-dark mt-2">
      <summary class="d-block btn">
        Default to desktop
      </summary>

      <details-dialog class="details-dialog Box Box--overlay anim-fade-in fast lh-default rounded-1" role="dialog">
        <div class="Box-header p-3 bg-gray border-bottom d-flex flex-justify-between">
          <h4 class="m-0">Default to desktop</h4>
          <button type="submit" type="button" aria-label="Close dialog" data-close-dialog>
            <%= octicon("x", class: "d-block", :"aria-label" => "Dismiss") %>
          </button>
        </div>
        <div class="p-3">
          <p class="mt-0" id="mobile-opt-out-description">We're working on making more of GitHub responsive. In the meantime you can default to desktop to always see the desktop versions while logged in.</p>
          <p>You can change this by <a href="<%= settings_user_admin_path %>">editing your mobile settings</a>.</p>

          <%= form_for current_user, url: set_mobile_opt_out_user_path(current_user), method: :put do |f| %>
            <input type="hidden" name="user[mobile_opt_out_enabled]" value="1">
            <input type="hidden" name="redirect_back" value="1">
            <button type="submit" class="btn btn-primary btn-block mt-3" aria-describedby="mobile-opt-out-description">Default to desktop</button>
          <% end %>
        </div>
      </details-dialog>
    </details>
  </div>
<% end %>
