<%# erblint:counter TooltipCounter 1 %>
<% enterprise = params[:enterprise] || GitHub.enterprise? %>
<% view = Site::Stats.new(:enterprise => enterprise, :request => request) %>

<ul class="stats">
  <% unless view.enterprise? %>
    <li>
      <strong><%= view.response_time_stats %></strong>
      response total
    </li>

    <% if view.process_stat_tracked?(:cpu) %>
      <li>
        <strong>
          <%= view.cpu_stats %>
        </strong>
        <span>
          unicorn (<%= view.cpu_stats_detail %>)
        </span>
      </li>
    <% end %>

    <% if view.render_stats? %>
      <li <% if !view.render_stats_visible? %>hidden<% end %>>
        <strong><%= view.render_time %></strong>
        template
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:gc) %>
      <li>
        <strong title="<%= view.obj_allocated %>">
          <%= view.gc_time %> / <%= view.gc_info.count %>
        </strong>
        gc
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:redis) %>
      <li <% if !view.process_stat_visible?(:redis) %>hidden<% end %>>
        <strong><%= view.process_stat(:redis_stats) %></strong>
        redis
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:cache) %>
      <li <% if !view.process_stat_visible?(:cache) %>hidden<% end %>>
        <strong><%= view.process_stat(:cache_stats) %></strong>
        cache
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:graphql) %>
      <li <% if !view.process_stat_visible?(:mysql) %>hidden<% end %>>
        <strong><%= view.process_stat(:graphql_stats) %></strong>
        graphql
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:mysql) %>
      <li <% if !view.process_stat_visible?(:mysql) %>hidden<% end %>>
        <strong class="tooltipped tooltipped-s" aria-label='<%= view.ar_objs if view.ar_stats? %>'>
          <%= view.process_stat(:mysql_stats) %>
        </strong>
        sql
      </li>
    <% end %>
  <% end %>
</ul>
