<% possible_assignees ||= issue.assignees.to_a %>
<% single_select ||= false %>

<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input type="text" id="assignee-filter-field" class="form-control js-filterable-field"
           placeholder="Type or choose a name" aria-label="Type or choose a name" autofocus spellcheck="false" autocomplete="off">
  </div>
</div>

<div class="warning mb-0" hidden data-menu-max-options-warning>
  You can only select <%= pluralize issue.assignee_limit, "assignee" %>.
</div>

<div class="select-menu-list">
  <% if possible_assignees.any? %>
    <button class="btn-block select-menu-clear-item select-menu-item"
         role="menuitem"
         type="button" aria-label="Clear assignee" data-clear-assignees>
      <%= octicon('x', :class => 'select-menu-item-icon') %>
      <div class="select-menu-item-text">Clear assignees</div>
    </button>
  <% end %>

  <div class="select-menu-no-results">Nothing to show</div>

  <%# We need this here so that params[:issue][:user_assignee_ids] is always passed back to the server %>
  <input type="hidden" value="" name="issue[user_assignee_ids][]">

  <div
    data-filterable-for="assignee-filter-field"
    data-filterable-type="substring-memory"
    data-filterable-limit="100"
    data-filterable-src="<%= data_source %>">
    <% possible_assignees.each do |assignee| %>
      <input type="hidden" name="issue[user_assignee_ids][]" value="<%= assignee.id %>">
    <% end %>

    <template>
      <label class="select-menu-item text-normal" role="<%= single_select ? "menuitemradio" : "menuitemcheckbox" %>" aria-checked="false" tabindex="0">
        <%= octicon("check", class: "select-menu-item-icon") %>

        <input style="display:none"
               type="<%= single_select ? "radio" : "checkbox" %>"
               value=""
               name="issue[user_assignee_ids][]">

        <div class="select-menu-item-gravatar">
          <img src="" alt="" size="20" class="avatar-small mr-1 js-avatar">
        </div>

        <div class="select-menu-item-text lh-condensed">
          <span class="select-menu-item-heading">
            <span class="js-username"></span>
            <span class="description js-description"></span>
          </span>
        </div>
      </label>
    </template>

    <div class="octocat-spinner m-5"></div>
  </div>
</div>
