<% convert_to_draft_url = pull_request_convert_to_draft_path(current_repository.owner, current_repository, local_assigns[:pull_request]) %>

<div class="py-2">
  <span>Still in progress?</span>
  <details class="details-reset details-overlay d-inline">
    <summary role="button" class="btn-link muted-link">Convert to draft</summary>
    <details-dialog class="Box Box--overlay anim-fade-in fast">
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= octicon "x" %>
        </button>
        <h3 class="Box-title">Convert this pull request to draft?</h3>
      </div>
      <div class="flash flash-full flash-warn">
        People who are already subscribed will not be unsubscribed.
      </div>
      <div class="Box-footer">
        <button type="button" class="js-convert-to-draft btn btn-block btn-danger" data-url="<%= convert_to_draft_url %>">Convert to draft</button>
        <%= csrf_hidden_input_for convert_to_draft_url, class: "js-data-url-csrf" %>
      </div>
    </details-dialog>
  </details>
</div>
