<%# erblint:counter TooltipCounter 1 %>
<%
  partial = if issue.new_record?
    "issues/sidebar/labels_menu"
  else
    "issues/sidebar/labels_menu_content"
  end
%>
<%= form_tag labels_path(current_repository.owner, current_repository, return_label_list_item: true),
  method: :post,
  class: "d-flex flex-column hx_rsm-dialog-content js-new-label-modal-form js-label-preview-container js-label-form" do %>
  <div class="Box-body overflow-auto">
    <input type="hidden" name="context" value="<%= issue.pull_request? ? "pull request" : "issue" %> sidebar">
    <input type="hidden" name="issue_id" value="<%= issue.id %>">
    <div class="flash flash-error js-new-label-error p-2" hidden></div>

    <dl class="form-group mt-0">
      <dt class="text-bold">Preview</dt>
      <dd class="js-label-preview css-truncate css-truncate-target" style="max-width: 100%" data-url-template="/<%= current_repository.nwo %>/labels/preview/" data-default-name="Label preview">
      </dd>
    </dl>

    <dl class="form-group js-characters-remaining-container">
      <dt><label for="new-label-name">Label name</label></dt>
      <dd class="position-relative">
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
          <input
            autofocus
            required
            placeholder="New label name&hellip;"
            type="text"
            id="new-label-name"
            data-maxlength="<%= Label::NAME_MAX_LENGTH %>"
            name="label[name]"
            class="js-new-label-name-input form-control js-characters-remaining-field">
        </text-expander>
      </dd>
      <dd class="mt-1 text-small label-characters-remaining js-characters-remaining" data-suffix="remaining" hidden>
        <%= Label::NAME_MAX_LENGTH %> remaining
      </dd>
    </dl>
    <dl class="form-group js-characters-remaining-container">
      <dt><label for="new-label-description">Description</label></dt>
      <dd>
        <input placeholder="Optional description" type="text" id="new-label-description" name="label[description]" class="form-control js-characters-remaining-field js-new-label-description-input" maxlength="<%= Label::DESCRIPTION_MAX_LENGTH %>">
      </dd>
      <dd class="mt-1 text-small label-characters-remaining js-characters-remaining" data-suffix="remaining" hidden>
        <%= Label::DESCRIPTION_MAX_LENGTH %> remaining
      </dd>
    </dl>
    <dl class="form-group">
      <dt><label for="new-label-color">Color</label></dt>
      <dd class="d-flex flex-items-start">
        <button type="button" aria-label="Get a new color" class="btn-link rounded-1 mr-2 tooltipped tooltipped-ne js-new-label-color" style="min-width: 34px; height: 34px;">
          <%= octicon(:sync, class: "js-new-label-color-icon") %>
        </button>
        <div class="width-full">
          <input required type="text" name="label[color]" id="new-label-color" class="form-control input-monospace mr-0 width-full pb-1 new-label-color-input js-new-label-color-input" maxlength="7" autocomplete="off" spellcheck="off" pattern="#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})" title="Hex colors should only contain numbers and letters from a-f">
          <div class="js-new-label-swatches" hidden>
            <p class="f6 text-gray mt-2 mb-2">Choose from default colors:</p>
            <div class="d-flex flex-justify-between mb-2">
              <% Label::DARK_COLORS.each do |color| %>
                <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-1 labelstyle-<%= color %>" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
              <% end %>
            </div>
            <div class="d-flex flex-justify-between">
            <% Label::LIGHT_COLORS.each do |color| %>
              <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-1 labelstyle-<%= color %>" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
            <% end %>
          </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="Box-footer">
    <button data-disable-invalid type="submit" data-disable-with="Saving..." class="btn btn-primary mt-2">Save</button>
  </div>
<% end %>
