<label class="select-menu-item label-select-menu-item text-normal" role="menuitemcheckbox" aria-checked="<%= selected %>" tabindex="0">
  <%= octicon("check", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    <input hidden
           type="checkbox"
           data-label-name="<%= label.name %>"
           value="<%= label.id %>"
           name="issue[labels][]"
           <% if selected %>checked<% end %>>

     <div class="float-left color mr-2" style="margin-top: 2px; background-color: #<%= label.color %>"></div>
       <div>
         <%= octicon("x", class: "ml-2") %>
         <div data-name="<%= label.id %>" class="css-truncate">
           <span class="name"><%= label.name_html %></span>
           <% if label.description.present? %>
             <div class="description d-block text-gray css-truncate-target m-0">
               <%= label.description %>
             </div>
           <% end %>
        </div>
      </div>
  </div>
</label>
