<%
  locals = {
    issue: issue,
    title: "Labels",
    menu_title: "Apply labels to this #{issue.pull_request? ? "pull request" : "issue"}",
    menu_class: "label-select-menu",
    menu_id: "labels-select-menu",
    menu_attributes: "data-multiple",
    hotkey: "l",
    deferred_content_path: issue_show_partial_path(issue: issue, partial: "issues/sidebar/labels_menu_content"),
    readonly: !issue_sidebar_permissions(issue, current_user, :labelable) || issue.repository.locked?
  }
  locals[:deferred_content] = deferred_content if local_assigns.key?(:deferred_content)
%>

<% locals[:menu_filter_content] = capture do %>
  <div class="select-menu-filters">
    <div class="select-menu-text-filter">
      <input type="text" id="label-filter-field" class="form-control js-label-filter-field js-filterable-field"
             placeholder="Filter labels" aria-label="Filter labels" autocomplete="off" autofocus>
    </div>
  </div>
<% end %>

<% if locals[:deferred_content] && issue.new_record? %>
  <% locals[:deferred_menu_initial_content] = capture do %>
    <%# Support labels query param since selected inputs won't be present when content is deferred %>
    <% issue.labels.each do |label| %>
      <input class="d-none" type="checkbox" value="<%= label.id %>" name="issue[labels][]" checked>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "issues/sidebar/menu", locals: locals do %>
  <%= render "issues/sidebar/labels_menu_content", issue: issue %>
<% end %>
