<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input type="text" id="memexes-sidebar-filter-field" class="form-control js-filterable-field"
           placeholder="Filter memexes" aria-label="Filter memexes" autofocus autocomplete="off">
  </div>
</div>

<div>
  <div class="select-menu-list">
    <div data-filterable-for="memexes-sidebar-filter-field" data-filterable-type="substring">
      <% issue_memex_items.each do |item| %>
        <label class="select-menu-item d-flex text-normal css-truncate" aria-checked="true" role="menuitemcheckbox" tabindex="0">
          <div class="select-menu-item-text flex-auto">
          <div><%= octicon("check", class: "select-menu-item-icon") %></div>
            <input hidden
                   type="checkbox"
                   name="memex_ids_to_keep[]"
                   value="<%= item.memex_project.id %>"
                   checked>

            <strong class="css-truncate-target" style="max-width:240px;">
              <%= item.memex_project.display_title %>
            </strong>
            <div class="description">
              <span>
                Added <span title="<%= item.created_at %>"><%= time_ago_in_words(item.created_at) %> ago</span>
              </span>
            </div>
          </div>
        </label>
      <% end %>
      <% possible_memexes.each do |memex| %>
        <label class="select-menu-item d-flex text-normal css-truncate" aria-checked="false" role="menuitemcheckbox" tabindex="0" >
          <div><%= octicon("check", class: "select-menu-item-icon") %></div>
          <div class="select-menu-item-text">
            <input hidden
                   type="checkbox"
                   name="memex_ids_to_add[]"
                   value="<%= memex.id %>">

            <strong class="css-truncate-target" style="max-width:240px;">
              <%= memex.display_title %>
            </strong>
            <div class="description">
              <span>
                Updated <span title="<%= memex.updated_at %>"><%= time_ago_in_words(memex.updated_at) %> ago</span>
              </span>
            </div>
          </div>
        </label>
      <% end %>
    </div>
    <div class="select-menu-no-results">No results</div>
  </div>
</div>
