<%
  content = issue.pull_request || issue
  locals = {
      issue: issue,
      title: "Tables",
      menu_attributes: "data-multiple",
      menu_title: "Tables",
      menu_id: "memexes-select-menu",
      hotkey: "", # TODO: Set the hotkey value once the final name for Memexes/Tables is decided!
      deferred_content_path: content_suggested_memexes_path(org: issue.repository.owner, content_type: content.class.name, content_id: content.id),
      readonly: issue.repository.locked? || !show_memexes_ui?(issue.repository, issue)
   }
   locals[:deferred_content] = local_assigns.key?(:deferred_content) ? deferred_content : true
%>

<%= render layout: "issues/sidebar/menu", locals: locals do %>
  <%= render "issues/sidebar/memexes_menu_content", issue: issue %>
<% end %>
