<%
  deferred_content = local_assigns.fetch(:deferred_content, true) && local_assigns[:deferred_content_path].present?
  readonly = local_assigns.key?(:readonly) ? local_assigns[:readonly] : true
%>
<% if readonly %>
  <div class="discussion-sidebar-heading text-bold">
    <%= title %>
  </div>
<% else %>
  <details class="details-reset details-overlay select-menu hx_rsm <%= local_assigns[:menu_class] %>"
    id="<%= local_assigns[:menu_id] %>">

    <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle hx_rsm-trigger"
             aria-haspopup="menu"
             data-hotkey="<%= hotkey %>">
      <%= octicon('gear') %>
      <%= title %>
    </summary>

    <details-menu
      <% if deferred_content %>
        src="<%= local_assigns[:deferred_content_path] %>"
      <% end %>
      class="select-menu-modal position-absolute right-0 hx_rsm-modal js-discussion-sidebar-menu"
      style="z-index: 99; overflow: visible;"
      <%= local_assigns[:menu_attributes] %>>
      <div class="select-menu-header">
        <span class="select-menu-title"><%= menu_title %></span>
        <button class="hx_rsm-close-button btn-link close-button" type="button" data-toggle-for="<%= local_assigns[:menu_id] %>"><%= octicon("x", :"aria-label" => "Close menu") %></button>
      </div>
      <%= local_assigns[:menu_filter_content] %>

      <div class="hx_rsm-content" role="menu">
        <% if deferred_content %>
          <!-- when data is loaded as HTML via details-menu[src] -->
          <include-fragment>
            <div class="anim-pulse hx_rsm-loading text-center p-6">
              <%= octicon('octoface', height: 32) %>
            </div>
            <%= local_assigns[:deferred_menu_initial_content].presence %>
          </include-fragment>
        <% else %>
          <!-- when content is passed via block (ex: reviwers/assignees loads content via substring-memory in the block) -->
          <%= yield %>
        <% end %>
      </div>

    </details-menu>
  </details>
<% end %>
