<% locals = {
      issue: issue,
      title: "Milestone",
      menu_title: "Set milestone",
      menu_id: "milestone-select-menu",
      hotkey: "m",
      deferred_content_path: issue_show_partial_path(issue: issue, partial: "issues/sidebar/milestone_menu_content"),
      readonly: !issue_sidebar_permissions(issue, current_user, :milestoneable) || issue.repository.locked?
   }
   locals[:deferred_content] = deferred_content if local_assigns.key?(:deferred_content)
%>

<%= render layout: "issues/sidebar/menu", locals: locals do %>
  <%= render "issues/sidebar/milestone_menu_content", issue: issue %>
<% end %>
