<% if milestone = issue.milestone %>
  <%= render(Primer::ProgressBar::Component.new(mt: 1, mb: 2)) do |component| %>
    <% component.slot(:item, percentage: milestone.progress_percentage) %>
  <% end %>
  <a title="<%= milestone.title %>" href="<%= gh_milestone_path(milestone) %>" class="link-gray mt-1 d-block text-bold css-truncate">
    <strong class="css-truncate-target width-fit"><%= truncate(milestone.title, :length => 20) %></strong>
  </a>
<% else %>
  No milestone
<% end %>
