<div class="select-menu-list" role="tabpanel" <% if hidden %>hidden<% end %>>
  <div data-filterable-for="project-sidebar-filter-field" data-filterable-type="substring">
    <%
      issue_project_ids = issue.project_ids
      # Fallback to issue.cards for new records since project_ids won't be set
      if !issue_project_ids.present? && issue.new_record?
        issue_project_ids = issue.cards.map(&:project_id).uniq
      end
    %>
    <% projects.each do |project| %>
      <% selected = issue_project_ids.include?(project.id) %>
      <input type="hidden" name="issue_project_ids[<%= project.id %>]">
      <label class="select-menu-item text-normal" aria-checked="<%= selected %>" role="menuitemcheckbox" tabindex="0">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">
          <input type="checkbox"
            class="js-project-menu-checkbox d-none"
            name="issue_project_ids[<%= project.id %>]"
            <% if selected %>checked<% end %>>

          <strong class="css-truncate css-truncate-target"><%= truncate project.name, length: 35 %></strong>

          <div class="mt-1 description">
            <% if project.owner_type == "Organization" %>
              <%= avatar_for(project.owner, 20, class: "v-align-middle") %>
              <%= project.owner.safe_profile_name %>
            <% elsif project.owner_type == "Repository" %>
              <%= project.owner.name_with_owner %>
            <% elsif project.owner_type == "User" %>
              <%= project.owner.login %>
            <% end %>
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <div class="select-menu-no-results">No projects</div>
</div>
