<%
  project_cards ||= issue.visible_cards_for(current_user).to_a
  show_columns_menu ||= false
%>

<span class="css-truncate sidebar-progress-bar">
  <% if project_cards.any? %>
    <% open_cards, closed_cards = project_cards.partition { |c| c.project.open? } %>

    <% open_cards.each do |card| %>
      <%= render partial: "issues/sidebar/project_card_move", locals: { card: card, show_columns_menu: show_columns_menu } %>
    <% end %>

    <% if closed_cards.any? %>
      <div class="Details js-details-container">
        <button type="button" class="btn-link text-gray-light js-details-target no-underline" aria-expanded="false">
          <span><%= closed_cards.size %> closed <%= "project".pluralize(closed_cards.size) %></span>
          <span class="Details-content--hidden"><%= octicon "triangle-up", width: 8 %></span>
          <span class="Details-content--shown"><%= octicon "triangle-down", width: 8 %></span>
        </button>

        <div class="Details-content--hidden mt-1">
          <% closed_cards.each do |card| %>
            <%= render partial: "issues/sidebar/project_card_move", locals: { card: card, show_columns_menu: show_columns_menu } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    None yet
  <% end %>
</span>
