<%
  locals = {
      issue: issue,
      title: "Projects",
      hotkey: "p",
      menu_attributes: "data-multiple",
      menu_title: "Projects",
      menu_id: "projects-select-menu",
      deferred_content_path: issue_show_partial_path(issue: issue, partial: "issues/sidebar/projects_menu_content"),
      readonly: !current_user_can_push? || issue.repository.locked?
   }
   locals[:deferred_content] = deferred_content if local_assigns.key?(:deferred_content)
%>

<%= render layout: "issues/sidebar/menu", locals: locals do %>
  <%= render "issues/sidebar/projects_menu_content", issue: issue %>
<% end %>
