<%
  display_assignees = issue.assignees.any?
  display_labels = show_labels_ui?(current_repository) && issue.labels.any?
  display_projects = show_projects_ui?(current_repository) && project_cards.any?
  display_milestones = show_milestones_ui?(current_repository) && issue.milestone.present?
%>
<% if [display_assignees, display_labels, display_projects, display_milestones].any? %>
  <div class="d-block d-md-none border-bottom mb-4 f6">
    <% if display_assignees %>
      <div class="d-flex mb-3">
        <span class="text-bold text-gray col-3 col-sm-2 flex-shrink-0">Assignees</span>
        <div class="min-width-0">
          <% issue.assignees.each do |assignee| %>
            <%= profile_link assignee, class: "no-underline" do %>
              <%= avatar_for assignee, 20, class: "avatar" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_labels %>
      <div class="d-flex mb-3">
        <span class="text-bold text-gray col-3 col-sm-2 flex-shrink-0">Labels</span>
        <div class="min-width-0 d-flex flex-wrap mt-n1">
          <% issue.labels.each do |label| %>
            <%= label_with_description(label, truncate: true, url: gh_label_path(label), data_attrs: { name: label.name },
                                      link_classes: "mt-1 mr-1") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_projects %>
      <div class="d-flex mb-3">
        <span class="text-bold text-gray col-3 col-sm-2 flex-shrink-0">Projects</span>
        <div class="min-width-0">
          <% project_cards.each do |card| %>
            <% project = card&.project %>
            <%= link_to project_path(project, anchor: "card-#{card&.id}"), "data-skip-pjax": true, class: "link-gray-dark text-bold no-underline mr-2", data: hovercard_data_attributes_for_project(project: project) do %>
              <% if card.archived? %>
                <%= octicon "archive", class: "text-gray p-0" %>
              <% elsif project.public? %>
                <%= octicon "project", class: "text-gray p-0" %>
              <% else %>
                <%= octicon "lock", class: "text-gray p-0" %>
              <% end %>

              <span class="css-truncate css-truncate-target" style="max-width: 160px;"><%= truncate project.name, length: 40 %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_milestones %>
      <div class="d-flex mb-3">
        <span class="text-bold text-gray col-3 col-sm-2 flex-shrink-0">Milestone</span>
        <div class="min-width-0">
          <a title="<%= issue.milestone.title %>" href="<%= gh_milestone_path(issue.milestone) %>" class="link-gray-dark text-bold no-underline">
            <%= octicon "milestone", class: "text-gray" %>
            <span class="css-truncate css-truncate-target"><%= truncate(issue.milestone.title, :length => 20) %></span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
