No reviews<%- if show_pull_request_reviews_hint?(pull_request) -%>—at least <%= pluralize(pull_request.protected_base_branch.required_approving_review_count, "approving review") %> <%= "is".pluralize(pull_request.protected_base_branch.required_approving_review_count) %> required.
<%- end -%>
