<%
  menu_attributes = "data-multiple data-menu-max-options=#{pull_request.manual_review_requests_limit}" unless pull_request.single_manual_review_request?

  if current_repository.pull_request_revisions_enabled? && pull_request.open? && (revisions_count = pull_request.revisions.count) > 0
    title = render(partial: "issues/sidebar/show/review_title", locals: { revisions_count: revisions_count, draft: pull_request.draft? })
  else
    title = "Reviewers"
  end

  locals = {
      issue: pull_request.issue,
      title: title,
      menu_title: "Request up to #{pluralize(pull_request.manual_review_requests_limit, "reviewer")}",
      menu_id: "reviewers-select-menu",
      menu_attributes: menu_attributes,
      hotkey: "q",
      readonly: !pull_request.can_request_review?(current_user) || pull_request.repository.locked?
   }
%>

<%= render layout: "issues/sidebar/menu", locals: locals do %>
  <%= render "issues/sidebar/reviewers_menu_content",
    issue: pull_request.issue,
    single_select: pull_request.single_manual_review_request?,
    data_source: data_source %>
<% end %>
