<%# erblint:counter TooltipCounter 10 %>
<span class="css-truncate">
  <% requests = pull_request.pending_review_requests %>
  <%# Eager-load the deferred values, which are currently backed by GitHub.kv. %>
  <% if pull_request.repository.pull_request_revisions_enabled? %>
    <% ReviewRequest.load_deferred_values(requests) %>
  <% else %>
    <% requests.each { |req| req.deferred = false } %>
  <% end %>
  <% if pull_request.visible_sidebar_reviews(current_user).any? || requests.any? %>
    <%

    reviews = pull_request.visible_sidebar_reviews(current_user)

    review_by_writer = {}

    Promise.all([
      Promise.all(reviews.map { |review|
        review.async_author_can_push_to_repository?.then { |made_by_writer|
          review_by_writer[review] = made_by_writer
        }
      }),

      Promise.all(reviews.map { |review|
        if review.commented?
          review.async_user.then { |user|
            if enforced_review = pull_request.latest_enforced_review_for(user)
              enforced_review.async_author_can_push_to_repository?.then { |made_by_writer|
                review_by_writer[enforced_review] = made_by_writer
              }
            end
          }
        end
      })
    ]).sync
    %>

    <% reviews.each do |review| %>
      <% if review.user %>
        <p>
          <%= render "issues/sidebar/user", user: review.user %>

          <% if review.commented? && enforced_review = pull_request.latest_enforced_review_for(review.user) %>
            <% review = enforced_review %>
          <% end %>

          <a href="<%= pull_request_files_with_range_path(pull_request.repository.owner, pull_request.repository, pull_request.number, "files", review.head_sha) %>">
          <% if review.approved? %>
            <% if review_by_writer[review] %>
              <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="<%= review.user %> approved these changes">
              <%= octicon("check", :class => "text-green") %>
              </span>
            <% else %>
              <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="<%= review.user %> approved these changes">
                <%= octicon("check", :class => "text-gray") %>
              </span>
            <% end %>
          <% elsif review.changes_requested? %>
            <% if review_by_writer[review] %>
              <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="<%= review.user %> requested changes">
                <%= review_state_icon("changes_requested", :class => "text-red") %>
              </span>
            <% else %>
              <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="<%= review.user %> requested changes">
                <%= review_state_icon("changes_requested", :class => "text-gray") %>
              </span>
            <% end %>
          <% else %>
            <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="<%= review.user %> left review comments">
              <%= octicon("comment", :class => "text-gray") %>
            </span>
          <% end %>
          </a>

          <% if pull_request.open? && pull_request.can_re_request_review?(current_user) %>
            <% hydro_tracking = hydro_click_tracking_attributes("rerequest_review.sidebar", { pull_request_id: pull_request.id, subject_id: review.user.id, actor_id: current_user.id, action: "REREQUESTED" }) %>
            <%= button_tag(name: "re_request_reviewer_id", value: review.user_id, type: "submit", class: "float-right d-block text-center mr-2 btn-link muted-icon", data: hydro_tracking) do %>
              <span class="reviewers-status-icon tooltipped tooltipped-nw" aria-label="Re-request review">
                <%= octicon("sync") %>
              </span>
            <% end %>
          <% end %>

          <% if pull_request.codeowners.include?(review.user) %>
            <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center mr-2" aria-label="<%= review.user %> is a code owner">
              <%= octicon("shield-lock", :class => "text-gray-light") %>
            </span>
          <% end %>
        </p>
      <% end %>
    <% end %>
    <% requests.each do |req| %>
      <p>
        <% if req.reviewer.is_a?(Team) && current_repository.in_organization? %>
            <%= avatar_for req.reviewer, 20, :class => "avatar" %>
            <%= content_tag(:span,
              class: "text-bold v-align-middle text-gray js-team-mention tooltipped",
              "data-url": team_members_path(req.reviewer),
              "data-id": req.reviewer.id,
              "data-error-text": "Failed to load team members",
              "data-permission-text": "Team members are private",
              data: hovercard_data_attributes_for_team(req.reviewer)
            ) do %>
              <span class="css-truncate-target">
                <%= req.reviewer.name %>
              </span>
            <% end %>
        <% elsif req.reviewer.is_a?(User) %>
          <%= render "issues/sidebar/user", user: req.reviewer %>
        <% end %>

        <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center" aria-label="Awaiting requested review from <%= req.reviewer %>">
          <%= octicon("primitive-dot", :class => "color-yellow-7") %>
        </span>

        <% if req.deferred? %>
          <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center mr-2" aria-label="<%= req.reviewer %> will be requested when the pull request is marked ready for review">
            <%= octicon("moon", :class => "text-gray-light") %>
          </span>
        <% elsif pull_request.codeowners.include?(req.reviewer) %>
          <span class="reviewers-status-icon tooltipped tooltipped-nw float-right d-block text-center mr-2" aria-label="<%= req.reviewer %> is a code owner">
            <%= octicon("shield-lock", :class => "text-gray-light") %>
          </span>
        <% end %>
      </p>
    <% end %>

    <% if pull_request.suggested_reviewers_available? && local_assigns[:suggested_reviewers] %>
      <%= render partial: "pull_requests/suggested_reviewers", locals: {
        pull_request: pull_request,
        suggestions: suggested_reviewers
      } %>
    <%- else -%>
      <%= render "issues/sidebar/reviewers_hint", pull_request: pull_request %>
    <% end %>
  <% elsif pull_request.can_request_review?(current_user) && current_repository_writable? %>
    <% if pull_request.suggested_reviewers_available? %>
      <include-fragment src="<%= gh_suggested_reviewers_path(pull_request) %>">
        Loading suggestions…
      </include-fragment>
    <% else %>
      <%= render "issues/sidebar/reviewers_none", pull_request: pull_request %>
    <% end %>
  <% else %>
    No reviews
  <% end %>
</span>
