<% tracking_data = {"octo-click": "hovercard-link-click", "octo-dimensions": "link_type:self"} %>

<%= content_tag(:span, { class: "js-hovercard-left", data: hovercard_data_attributes_for_user(user, tracking: false), "data-assignee-name": user&.login }) do %>
  <%= profile_link user, class: "no-underline", skip_hovercard: true, data: tracking_data do %>
    <%= avatar_for user, 20, class: "avatar" %>
  <% end %>
  <%= profile_link user, class: "assignee link-gray-dark", skip_hovercard: true, data: tracking_data do %>
    <span class="css-truncate-target"><%= user.to_s %></span>
  <% end %>
<% end %>
