<div class="dropdown-header">Move card to column</div>
<div class="select-menu-list js-project-column-menu-container" role="tabpanel">
  <div role="menu">
    <% project_column_ids = project.column_ids %>
    <% columns.each do |column| %>
      <%
        selected = column == card_column
        selected_classes = selected ? 'visible' : 'hidden'
        project_column_cards_path = project_column_cards_path(project, column)
      %>
      <div class="js-project-column-menu-item">
        <button type="button" class="btn-link select-menu-item <% if selected %> selected<% end %>" role="menuitem" style="border:none; width: 100%;" data-card-id="<%= card.id %>" data-url="<%= project_column_cards_path %>" data-column-name="<%= column.name %>">
          <%= octicon "check", class: "select-menu-item-icon", style: "visibility: #{selected_classes} !important;" %>
          <div class="select-menu-item-text">
            <div class="f6 css-truncate css-truncate-target"><%= truncate column.name, length: 40 %></div>
          </div>
        </button>
        <%= csrf_hidden_input_for project_column_cards_path, method: :put, class: "js-data-url-csrf" %>
      </div>
    <% end %>
  </div>

  <% if columns.blank? %>
    <div class="f6 pl-2 m-2">No columns</div>
  <% end %>
</div>
