<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Hooks & Services", :selected_link => :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Manage environments",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="boxed-group">
    <h3>
      <a href="<%= installations_path(GitHub.global_business) %>" class="boxed-group-breadcrumb">Pre-receive hooks /</a>
      Manage environments
    </h3>
    <div class="boxed-group-inner settings-next text-gray-dark pre-receive-bucket">

      <p>
        When a push occurs, each script runs in an <a href="<%= GitHub.enterprise_admin_help_url %>/guides/developer-workflow/creating-a-pre-receive-hook-environment">isolated environment</a> and determines whether the push is accepted or rejected. An environment can include custom libraries and dependencies needed to run the script. You can upload your environment from a URL or via the command line.
      </p>

      <a href="<%= new_enterprise_pre_receive_environment_path(GitHub.global_business) %>" class="btn pre-receive-button">Add environment</a>

      <div>
        <ul class="listgroup">
          <% @environments.each do |environment| %>
            <li class="listgroup-item pre-receive-hook-list">

              <%= render "businesses/pre_receive_environments/environment_actions", environment: environment %>
              <div class="content no-status">
                <span>
                  <strong><%= environment.name %></strong>
                </span>

                <ul class="details">
                  <% unless environment.default_environment? %>
                  <li>
                    <span class="title">Location: </span>
                    <span><%= environment.image_url %></span>
                  </li>
                  <li>
                    <span class="title">Status: </span>
                    <span class="js-socket-channel js-hook-environment-channel" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pre_receive_environment_state(environment)) %>">
                      <%= environment.download_display_message %>
                    </span>

                  </li>
                  <% end %>
                  <li>
                    <span class="title">Used by: </span>
                    <span><%= environment.hooks.count %> pre-receive hooks</span>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
