<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Hooks & Services", :selected_link => :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Manage environments",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="boxed-group">
    <h3>
      <a href="<%= installations_path(GitHub.global_business) %>" class="boxed-group-breadcrumb">Pre-receive hooks /</a>
      <a href="<%= enterprise_pre_receive_environments_path(GitHub.global_business) %>" class="boxed-group-breadcrumb">Manage environments /</a>
      Add environment
    </h3>
    <div class="boxed-group-inner settings-next text-gray-dark pre-receive-bucket">
      <p>An <a href="<%= GitHub.enterprise_admin_help_url %>/guides/developer-workflow/creating-a-pre-receive-hook-environment">environment</a> can include custom libraries and dependencies needed to run the script. You can upload your environment from a URL or via the command line.</p>
      <div>
        <%= form_for @environment, url: enterprise_pre_receive_environments_path(GitHub.global_business), method: :post do |f| %>
          <%= f.text_group "Environment name", :name, :value => @environment.name, :error => error_for(@environment, :name) %>

          <%= f.text_group "Upload environment from a URL", :image_url, :value => @environment.image_url, :error => error_for(@environment, :image_url) %>

          <button class="btn btn-primary form-action-spacious" type="submit" data-disable-with="Saving changes…" aria-label="Save changes">
            Add environment
          </button>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
