<h3>
  <%= link_to "Billing /", billing_stafftools_user_path(view.target),
    :class => "boxed-group-breadcrumb", "data-pjax" => true %>
  Change billing date
</h3>

<div class="boxed-group-inner">
  <%= form_tag stafftools_user_billing_date_change_path, :method => view.change.present? ? :post : :get do %>
    <dl class="form-group">
      <dt><strong>Current billing date</strong></dt>
      <dd><%= view.current_billing_date %></dd>
    </dl>

    <dl class="form-group">
      <dt><label for="billed_on">New billing date</label></dt>
      <dd><%= text_field_tag :billed_on, params[:billed_on] || view.current_billing_date,
                         :class => 'shorter textfield js-billing-date-change-field',
                         :required => true %></dd>
    </dl>

    <% if view.change.present? %>
      <p>
        <%= octicon("info") %>
        <%= view.short_description %>
        &mdash; <strong><%= view.amount_due.abs.format %></strong>
      </p>

      <dl class="form-group">
        <dt><label for="reason">Log reason</label></dt>
        <dd>
          <%= text_field_tag :reason, nil, :class => "short", :required => true,
                :placeholder => "Link to Zendesk thread"
          %>
        </dd>
      </dl>
    <% end %>

    <p>
      <button type="submit" class="btn btn-primary">
        <%= view.change.present? ? "Update" : "Preview" %> billing date
      </button>

      <%= link_to "Cancel", billing_stafftools_user_path(view.target),
                  :class => "btn",
                  "data-pjax" => true %>
    </p>

  <% end %>
</div>
