<h3>
  <%= link_to "Billing /", billing_stafftools_user_path(view.target),
    :class => "boxed-group-breadcrumb", "data-pjax" => true %>
  Change billing date
</h3>

<div class="boxed-group-inner">
  <p><b><%= view.target.name %></b> does not have a billing date yet.</p>
</div>
