<h3>
  <%= link_to "Billing /", billing_stafftools_user_path(view.target),
    :class => "boxed-group-breadcrumb", "data-pjax" => true %>
  Change billing date
</h3>

<div class="boxed-group-inner">
  <%= form_tag update_billing_date_stafftools_user_plan_subscription_path, :method => :put do %>
    <dl class="form-group">
      <dt><strong>Current billing date</strong></dt>
      <dd><%= view.current_billing_date %></dd>
    </dl>

    <dl class="form-group">
      <dt><label for="billed_on">New billing date. Note: This date must be in the future.</label></dt>
      <dd><%= text_field_tag :billed_on, params[:billed_on] || view.current_billing_date,
                         :class => 'shorter textfield',
                         :required => true %></dd>
    </dl>

    <dl class="form-group">
      <dt><label for="reason">Log reason</label></dt>
      <dd>
        <%= text_field_tag :reason, nil, :class => "short", :required => true,
              :placeholder => "Link to Zendesk thread"
        %>
      </dd>
    </dl>

    <p>
      <button type="submit" class="btn btn-primary">
        Update billing date
      </button>

      <%= link_to "Cancel", billing_stafftools_user_path(view.target),
                  :class => "btn",
                  "data-pjax" => true %>
    </p>

  <% end %>
</div>
