<% page_info title: "Credential authorized to access #{view.organization.safe_profile_name}" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

      <h1 class="sso-title m-0">
        Credential authorized to access
        <strong><%= view.organization.safe_profile_name %></strong>
      </h1>
    </div>

    <p class="text-gray-light mt-2 mb-4">
      Your <%= view.credential_type %>,
      <%= link_to view.credential_description, view.credential_link %>,
      is now authorized to access this organization.
    </p>

    <%= link_to "Continue", view.return_to, class: "btn btn-primary btn-block" %>
  </div>
</div>
