<%# `view` is an Orgs::IdentityManagement::SingleSignOnView %>

<div class="org-sso text-center">
  <div class="org-sso-panel">

    <div class="sso-prompt-default">
      <div class="position-relative mt-2">
        <h1 class="sso-title m-0">
          Your single sign-on session has expired
        </h1>
      </div>

      <p class="text-gray-light mt-2 mb-4">
        Click below to authenticate in a new window.
      </p>

      <%= form_tag view.initiate_sso_url, target: "_blank" do %>
        <input type="hidden" name="meta" value="1">
        <button type="submit" class="btn btn-primary btn-block">Continue</button>
      <% end %>
    </div>

    <div class="sso-prompt-success">
      <div class="position-relative mt-2">
        <h1 class="sso-title m-0">
          You’re good to go
        </h1>
      </div>

      <p class="text-gray-light mt-2 mb-4">
        You are now signed in to <strong><%= view.organization %></strong>.
      </p>

      <button type="button" class="btn btn-primary btn-block" data-close-dialog>Continue</button>
    </div>

    <div class="sso-prompt-error">
      <div class="position-relative mt-2">
        <h1 class="sso-title m-0">
          Your single sign-on session has expired
        </h1>
      </div>

      <p class="flash flash-error mt-3 mb-4">
        There was a problem authenticating with your SSO provider. Please try again or contact an organization owner.
      </p>

      <%= link_to "Try again", view.initiate_sso_url, target: "_blank", class: "btn btn-primary btn-block" %>
    </div>


  </div>
</div>
