<% page_info :title => "#{current_account.login} - Site admin", :selected_link => :users %>

<%= render layout: "biztools/biztools" do %>
  <%= render \
        partial: "biztools/accounts/landing_info",
        locals: {
          account: current_account,
          counts: counts
        } %>

  <% if GitHub.billing_enabled? %>
    <%= render \
          partial: "biztools/accounts/landing_billing",
          locals: {account: current_account, last_transaction: last_transaction} %>
  <% end %>

  <%= render \
        partial: "biztools/accounts/landing_repositories",
        locals: {account: current_account, counts: counts} %>

  <div class="site-admin-box">
    <h4>
      <%= octicon("jersey") %>
      Members &amp; Teams
    </h4>
    <ul class="site-admin-detail-list">
      <li>
        <%= octicon("organization") %>
        <%= pluralize(counts[:admins], "owner") %>
      </li>
      <li>
        <%= octicon("jersey") %>
        <%= pluralize(number_with_delimiter(counts[:teams]), "team") %>
      </li>
      <li>
        <%= octicon("person") %>
        <%= pluralize(number_with_delimiter(counts[:members]), "member") %>
      </li>
      <li>
        <%= octicon("credit-card") %>
        <%= pluralize(number_with_delimiter(counts[:billing_managers]), "billing manager") %>
      </li>
    </ul>
  </div>

  <% if marketplace_enabled? %>
    <div class="site-admin-box">
      <h4>
        <%= octicon(:plug) %>
        Marketplace Listings
      </h4>
      <ul class="site-admin-detail-list">
        <li>
          <a href="<%= biztools_marketplace_path(admin_id: current_account.global_relay_id, admin_type: current_account.class.name) %>">
            <%= octicon(:lock) %>
            <%= pluralize(counts[:owned_marketplace_listings], "owned listing") %>
          </a>
        </li>
      </ul>
    </div>

    <div class="site-admin-box">
      <h4>
        <%= octicon(:law) %>
        Marketplace Agreements
      </h4>
      <ul class="site-admin-detail-list">
        <% if counts[:marketplace_agreement_signatures] < 1 %>
          <li>
            <%= octicon("x") %>
            No signed agreements.
          </li>
        <% else %>
          <% marketplace_agreement_signatures.each do |signature| %>
            <% agreement = signature.agreement %>
            <li>
              <%= octicon("pencil") %>
              <a class="no-wrap" href="/biztools/users/<%= signature.signatory.login %>">
                <%= avatar_for(signature.signatory, 16, class: "avatar") %>
                <%= signature.signatory.login %>
              </a>
              signed <strong><%= agreement.name %></strong>
              <em><%= agreement.version %></em> for this organization<br>
              <span class="text-gray">&mdash; <%= signature.created_at.to_date %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="site-admin-box">
    <h4>
      <%= octicon("link") %>
      OAuth applications
    </h4>
    <ul class="site-admin-detail-list">
      <% if GitHub.oauth_application_policies_enabled? %>
        <li>
          <% if current_account.restricts_oauth_applications? %>
            <%= octicon("thumbsup") %>
            App restrictions enabled
          <% else %>
            <%= octicon("x") %>
            App restrictions disabled
          <% end %>
        </li>
      <% end %>
      <% if counts[:owned_apps] > 0 %>
        <li>
          <%= octicon("squirrel") %>
          <%= pluralize(number_with_delimiter(counts[:owned_apps]), "owned application") %>
        </li>
      <% else %>
        <li>
          <%= octicon("x") %>
          Owns no applications
        </li>
      <% end %>

      <% if GitHub.hookshot_enabled? %>
        <% if counts[:webhooks] > 0 %>
          <li>
            <%= octicon("plug") %>
            <%= pluralize(number_with_delimiter(counts[:webhooks]), "webhook") %>
          </li>
        <% else %>
          <li>
            <%= octicon("x") %>
            No webhooks
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

<% end %>
