<%
  # NOTE: `view` is an instance of Sponsors::Accounts::ShowView
  page_info(title: "GitHub Sponsors accounts")
%>

<div class="p-3 d-none d-sm-flex flex-items-center border-bottom">
  <%= octicon "heart", height: 25, class: "mr-2 text-pink hover-grow" %>
  <span class="text-bold">GitHub Sponsors accounts</span>
</div>

<div class="container-lg clearfix p-4 mb-4">
  <% if view.accepted_accounts.any? %>
    <div class="Subhead mt-8 mb-5 mx-auto col-12 col-lg-9">
      <div class="Subhead-heading">GitHub Sponsors dashboards</div>
    </div>
    <% view.accepted_accounts.each do |account| %>
      <%= render partial: "sponsors/accounts/card", locals: { account: account } %>
    <% end %>
  <% end %>

  <% if view.submitted_accounts.any? %>
    <div class="Subhead mt-8 mb-5 mx-auto col-12 col-lg-9">
      <div class="Subhead-heading">GitHub Sponsors applications</div>
    </div>
    <% view.submitted_accounts.each do |account| %>
      <%= render partial: "sponsors/accounts/card", locals: { account: account } %>
    <% end %>
  <% end %>

  <% if view.unsubmitted_accounts.any? %>
    <div class="Subhead mt-8 mb-5 mx-auto col-12 col-lg-9">
      <div class="Subhead-heading">GitHub Sponsors eligible accounts</div>
    </div>
    <% view.unsubmitted_accounts.each do |account| %>
      <%= render partial: "sponsors/accounts/card", locals: { account: account } %>
    <% end %>
  <% end %>
</div>
