<%= form_tag gh_settings_app_path(integration), :method => :delete do %>
  <div class="flash flash-full flash-warn">
    Unexpected bad things will happen if you don’t read this!
  </div>

  <div class="Box-body">
    <p>
      This action <strong>CANNOT</strong> be undone. This will permanently delete
      the <strong><%= integration.name %></strong> GitHub App.
    </p>

    <% if integration.installations.any? %>
      <p>
        This will also uninstall the GitHub App from
        <strong><%= pluralize(number_with_delimiter(integration.installations.count), "account") %></strong>.
      </p>
    <% end %>

    <p><label for="confirm-delete-app">Please type in the name of the GitHub App to confirm.</label></p>

    <input type="text" class="input-block" autofocus required
      id="confirm-delete-app"
      pattern="<%= case_insensitive_pattern integration.name %>"
      name="verify">
  </div>
  <div class="Box-footer">
    <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>
      I understand the consequences, delete this GitHub App
    </button>
  </div>
<% end %>
