<%# view is instance of Integrations::PermissionsView %>

<div class="col-6 float-left mb-3">
  <label class="position-relative d-block pl-4 mt-2">
    <%= check_box_tag "integration[#{category}][]",
      event.event_type,
      view.event_selected?(event),
      :readonly => readonly,
      :id       => nil,
      :class    => "js-integration-hook-event",
      :style    => "position: absolute; left: 0; top: 5px;",
      :"data-resource" => data_resources %>

    <%= event.event_type.humanize %>

    <%= link_to view.event_docs_url(event), class: "link-small link-gray pl-1", "aria-label": "Info" do %>
      <%= octicon("info") %>
    <% end %>

    <span class=" d-block text-small text-gray text-normal">
      <%= view.human_event_description(event) %>
    </span>
  </label>
</div>
