<%# view is instance of Integrations::PermissionsView %>
<div class="gutter">
  <%= render_partial_view "integrations/settings/event", view, nil, locals: { event: event, data_resources: "", category: "integrator_events", readonly: false } %>
</div>
