<nav class="menu" aria-label="GitHub App settings">
  <%= selected_link_to "General",       gh_settings_app_path(view.integration),               :class => "menu-item" %>
  <%= selected_link_to "Permissions & events",   gh_settings_app_permissions_path(view.integration),   :class => "menu-item" %>
  <% unless view.hide_install_app_section? %>
    <%= selected_link_to "Install App", gh_settings_app_installations_path(view.integration), :class => "menu-item" %>
  <% end %>
  <% if view.integration.owner.organization? && org_admin? %>
    <%= selected_link_to "App managers",  settings_org_permissions_integrations_managers_path(view.integration.owner, view.integration),  :class => "menu-item" %>
  <% end %>
  <%= selected_link_to "Advanced",      gh_settings_app_advanced_path(view.integration),      :class => "menu-item" %>

  <% if view.beta_features? %>
    <%= selected_link_to "Beta Features", gh_settings_app_beta_features_path(view.integration),      :class => "menu-item" %>
  <% end %>
</nav>

<nav class="menu" aria-label="External links">
  <a href="<%= gh_app_url(view.integration) %>" class="menu-item">Public page <%= octicon("link-external", :class => "float-right text-gray-light pt-1") %></a>
</nav>
