<div class="py-3 d-flex flex-auto flex-items-center border-bottom">
  <div class="CircleBadge CircleBadge--small position-relative flex-shrink-0" style="background-color: #<%=integration.preferred_bgcolor %>;">
    <%= link_to gh_settings_app_path(integration), class: "CircleBadge-icon" do %>
      <%= oauth_application_logo(integration, 30, :alt => integration.name) %>
    <% end %>
  </div>
  <div class="TableObject-item TableObject-item--primary pl-3">
    <span class="text-bold"><%= integration.name %></span><br>
    <% if integration.description? %>
      <div class="text-small text-gray ws-normal"><%= truncate(integration.description, :length => 40) %></div>
    <% end %>
  </div>
  <div class="Subhead-actions">
    <%= link_to "Edit", gh_settings_app_path(integration), :class => "btn btn-sm", 'data-pjax' => true %>
  </div>
</div>
