<%# erblint:counter TooltipCounter 1 %>
<%# erblint:disable ButtonHasType %>
<%# view is an instance of Integrations::ShowView %>

<div class="container-md mx-auto py-6 integration-key-management-wrapper js-integration-key-management-wrapper js-integration-key-multi <%= view.keys_classes %>">

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, font_size: 3) do %>Private keys<% end %>
    <% component.slot(:actions, classes: "integration-key-list") do %>
      <%= button_to "Generate a private key", gh_generate_key_settings_app_path(view.integration), class: "btn btn-sm js-generate-integration-key" %>
    <% end %>
  <% end %>

  <div class="integration-key-list">
    <p>
      You need a private key to sign access token requests.
      <%= link_to "Learn more about private keys", "#{GitHub.developer_help_url}/apps/building-github-apps/authentication-options-for-github-apps/#generating-a-private-key" %>.
    </p>

    <div class="Box">
      <div class="flash flash-error flash-full Box-row js-error-container">
        <button class="flash-close js-error-dismiss" type="button"><%= octicon "sync", :"aria-label" => "Reload keys" %></button>
        <span class="js-error-message">There was a problem...</span>
      </div>

      <% view.integration.public_keys.each do |public_key| %>
        <div id="integration-key-<%= public_key.id %>" class="Box-row d-flex flex-items-center integration-key">
          <div class="">
            <span class="js-user-key-icon clearfix d-block text-center">
              <%= octicon "key", height: 32 %>
            </span>
            <span class="Label Label--outline">Private</span>
          </div>
          <div class="flex-auto px-4">
            <h5>Private key <%= public_key.fingerprint %></h5>
            <p class="text-gray mb-0">
              Added <%= time_ago_in_words_js public_key.created_at %>
              by <strong><%= public_key.creator %></strong>
            </p>

          </div>
          <div class="action">
            <div class="deletable">
              <%= render layout: "shared/details_dialog", locals: {
                button_text: "Delete",
                button_class: "btn btn-sm btn-danger",
                title: "Delete private key?"
              } do %>
                <div class="flash flash-warn flash-full">
                  This action cannot be undone. This key will stop working immediately.
                  Are you sure you want to delete this private key?
                </div>
                <div class="Box-footer">
                  <%= form_tag gh_remove_key_settings_app_path(view.integration, public_key), method: :delete,
                    class: "js-remove-integration-key", "data-key-id" => "integration-key-#{public_key.id}" do %>
                    <button type="submit" class="btn btn-block btn-danger">
                      Delete
                    </button>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="undeletable">
              <button class="btn btn-sm btn-danger tooltipped tooltipped-w" disabled
                      aria-label="You cannot delete the only private key. Generate a new key first.">
                Delete
              </button>
            </div>
          </div>
        </div>
      <% end %>

      <div class="integration-key-downloading Box-row">
        <div class="d-flex flex-items-center">
          <div class="">
            <span class="js-user-key-icon clearfix d-block text-center">
              <%= octicon "key", height: 32 %>
            </span>
            <span class="Label Label--outline">Private</span>
          </div>
          <div class="flex-auto px-4">
            <h5>Private key (generating)</h5>
            <p class="text-gray mb-0">
              Added just now
              by <strong><%= current_user %></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blankslate">
    <h3>Generate a private key</h3>
    <p>
      You need a private key to sign access token requests.
      <%= link_to "Learn more about private keys", "#{GitHub.developer_help_url}/apps/building-github-apps/authentication-options-for-github-apps/#generating-a-private-key" %>.
    </p>
    <div class="Subhead-actions">
      <%= button_to "Generate a private key", gh_generate_key_settings_app_path(view.integration), class: "btn btn-primary js-generate-integration-key" %>
    </div>
  </div>

</div>
