<%# view is instance of Integrations::PermissionsView %>
<div class="js-integration-permissions-selector" name="integration_permissions">
  <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
    <% component.slot(:heading, tag: :h2, font_size: 3) do %>Repository permissions<% end %>
  <% end %>

  <%= render_partial_view "integrations/settings/resource_selection", view, nil, collection: view.available_repository_resources, as: :resource %>

  <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
    <% component.slot(:heading, tag: :h2, font_size: 3) do %>Organization permissions<% end %>
  <% end %>

  <%= render_partial_view "integrations/settings/resource_selection", view, nil, collection: view.available_organization_resources, as: :resource %>

  <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
    <% component.slot(:heading, tag: :h2, font_size: 3) do %>User permissions<% end %>
  <% end %>
  <p>
    These permissions are granted on an individual user basis as part of the <%= link_to "User authorization flow", "#{GitHub.developer_help_url}/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/#identifying-and-authorizing-users-for-github-apps" %>.
    They will be also be displayed during account installation for transparency.
  </p>

  <%= render_partial_view "integrations/settings/resource_selection", view, nil, collection: view.available_user_resources, as: :resource %>

  <%= render Primer::SubheadComponent.new(spacious: true, classes: "js-integration-hook-enabled", hidden: !view.active_hook?) do |component| %>
    <% component.slot(:heading, tag: :h2, font_size: 3) do %>Subscribe to events<% end %>
  <% end %>

  <p class="js-integration-hook-enabled" <%= 'hidden' unless view.active_hook? %>>Based on the permissions you’ve selected, what events would you like to subscribe to?</p>

  <div class="clearfix border-bottom js-integration-hook-enabled" <%= 'hidden' unless view.active_hook? %>>
    <%= render_partial_view "integrations/settings/integrator_event_selection", view, nil, collection: view.available_integrator_events, as: :event %>
    <%= render_partial_view "integrations/settings/event_selection",            view, nil, collection: view.event_types_to_resources,    as: :event %>
  </div>
</div>
