<%# view is an instance of Integrations::ShowView %>

<% page_info responsive: false, :title => "GitHub Apps - #{view.integration.name}", :selected_link => view.selected_link %>

<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <% if view.hook.present? %>
          <% hook_view = Hooks::ShowView.new(current_user: current_user, hook: view.hook) %>
          <%= render :partial => 'hooks/deliveries', :locals => { :hook => hook_view.hook,
                                                                  :disabled => hook_view.hook_disabled?,
                                                                  :target => hook_view.hook_target,
                                                                  :hook_deliveries_query => nil,
                                                                  :can_filter_hook_deliveries => false } %>
        <% end %>

        <% unless view.integration.full_trust? %>
          <%= render "integrations/settings/danger_zone", :view => view %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
