<%# view is an instance of Integrations::ShowView %>

<% page_info responsive: false, :title => "GitHub Apps - #{view.integration.name}", :selected_link => view.selected_link %>

<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, font_size: 3) do %>Activate Beta features for <%= view.integration.name %><% end %>
        <% end %>
        <p class="mb-4">Choose a feature to activate for <%= view.integration.name %>:</p>
        <div class="Box">

          <% if view.beta_feature_available?("device_authorization_grant_opt_in") %>
            <div class="Box-row d-flex flex-items-center">
              <div class="flex-auto mr-3">
                <strong class="mb-2">Device authorization flow</strong>
                <p class="note">Allow your application to authorize users using the new device flow. See <a href="<%= "#{GitHub.developer_help_url}/apps/building-github-apps" %>">our developer documentation</a> for more details.</p>
              </div>

              <%= form_tag(gh_settings_app_beta_feature_toggle_path(view.integration), method: :put) do %>
                <input type="hidden" name="beta_feature" value="device_authorization_grant_opt_in">
                <input type="hidden" name="beta_feature_toggle" value="<%= view.beta_feature_toggle_value("device_authorization_grant_opt_in") %>">
                <button type="submit" class="btn btn-default"
                  aria-label="<%= view.beta_feature_toggle_value("device_authorization_grant_opt_in").capitalize %> to use the device flow.">
                  <%= view.beta_feature_toggle_submit_value("device_authorization_grant_opt_in") %>
                </button>
              <% end %>
            </div>
          <% end %>

          <% if view.beta_feature_available?("user_token_expiration_opt_in") %>
            <div class="Box-row d-flex flex-items-center">
              <div class="flex-auto mr-3">
                <strong class="mb-2">User-to-server token expiration</strong>
                <p class="note"> User-to-server access tokens will expire after 8 hours. A Refresh Token will be provided which can be exchanged for a new access token.</p>
              </div>

              <%= form_tag(gh_settings_app_beta_feature_toggle_path(view.integration), method: :put) do %>
                <input type="hidden" name="beta_feature" value="user_token_expiration_opt_in">
                <input type="hidden" name="beta_feature_toggle" value="<%= view.beta_feature_toggle_value("user_token_expiration_opt_in") %>">
                <button type="submit" class="btn btn-default"
                  aria-label="<%= view.beta_feature_toggle_value("user_token_expiration_opt_in").capitalize %> user-to-server token expiration for this app.">
                  <%= view.beta_feature_toggle_submit_value("user_token_expiration_opt_in") %>
                </button>
              <% end %>
            </div>
          <% end %>

          <% if view.beta_feature_available?("github_apps_brown_out_opt_out") %>
            <div class="Box-row ">
              <%= form_tag(gh_settings_app_beta_feature_toggle_path(view.integration), method: :put) do %>
                <input type="hidden" name="beta_feature" value="github_apps_brown_out_opt_out">
                <input type="hidden" name="beta_feature_toggle" value="<%= view.beta_feature_toggle_value("github_apps_brown_out_opt_out") %>">

                <div class="d-flex flex-justify-between flex-items-center">
                  <div class="pr-3">
                    <label for="brown_out_opt_out" class="mb-2">Deprecated events brown-out</label>
                    <p class ="note">
                      Disable the brown-out of deprecated GitHub App events for the <code>machine-man</code> preview. These events will be removed soon, please migrate to supported events:
                    </p>

                    <p class="note">
                      <%= octicon "chevron-right", class: "mr-2" %><code>IntegrationInstallationEvent</code> - moved to <a href="<%= GitHub.developer_help_url %>/v3/activity/events/types/#installationevent"><code>InstallationEvent</code></a>
                      <br>
                      <%= octicon "chevron-right", class: "mr-2" %><code>IntegrationInstallationRepositoriesEvent</code> - moved to <a href="<%= GitHub.developer_help_url %>/v3/activity/events/types/#installationrepositoriesevent"><code>InstallationRepositoriesEvent</code></a>
                    </p>
                  </div>

                  <button type="submit" id="brown_out_opt_out" class="btn"
                    aria-label="<%= view.beta_feature_toggle_value("github_apps_brown_out_opt_out").capitalize %> machine-man preview deprecation opt-out for this app.">
                    <%= view.beta_feature_toggle_submit_value("github_apps_brown_out_opt_out") %>
                  </button>
                </div>
              <% end %>
            </div>
          <% end %>

          <% unless view.beta_features? %>
            <div class="Box-row">
              <p>There's nothing here yet, check back later!</p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
