<%# view is an instance of Integrations::ShowView %>

<% page_info responsive: false, :title => "GitHub Apps - #{view.integration.name}", :selected_link => view.selected_link %>

<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, font_size: 3) do %>Permissions<% end %>
        <% end %>

        <p class="mb-4">Changes to permissions will be applied to all future installations. Current users will be prompted to accept any changes and enable the new permissions on their installation.</p>

        <%= render partial: 'integrations/settings/permission_fields_form', locals: { integration: view.integration } %>
      </div>
    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
