<% page_info title: "Continue setting up your GitHub App" %>

<div class="container-md px-3">
  <div class="blankslate mt-5">
    <%= octicon("link-external", height: 32, class: "blankslate-icon") %>
    <h3>You are being redirected to continue setup of your GitHub App.</h3>

    <p>
      If your browser does not redirect you automatically, please <%= link_to("click here", redirect_url, id: "redirect") %> to continue.
    </p>
  </div>
</div>
