<%# view is an instance of Integrations::FormView %>
<% page_info :title => view.page_title, :selected_link => view.selected_link %>

<div class="container-lg px-3 pt-6">
  <div class="col-9 mx-auto">

    <% content = capture do %>
      <div class="settings-next">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, tag: :h2, font_size: 3) do %><%= view.page_title %><% end %>
        <% end %>

        <%= render "integrations/settings/form", :view => view, :form_action => gh_settings_apps_path(current_context) %>
      </div>
    <% end %>

    <% if current_context.organization? %>
      <%= content %>
    <% elsif current_context.user? %>
      <%= content %>
    <% end %>

  </div>
</div>
