<%# view is an instance of Integrations::NewFromManifestView %>
<% page_info :title => view.page_title, :selected_link => view.selected_link %>

<div class="container-lg px-3 py-6 pb-md-10">
    <div class="gutter clearfix">
      <div class="col-6 mx-auto">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading) do %><%= view.page_title %><% end %>
        <% end %>
        <%= form_for view.manifest, url: gh_settings_apps_path(current_context) do |f| %>
          <%= f.text_group "GitHub App name", :name,
          :hint => "Don't worry, you can always change this later.",
          :error => error_for(view.manifest, :name),
          :class => "width-full" %>
          <%= f.hidden_field :data %>
          <%= f.hidden_field :owner_login, value: view.owner_name %>
          <%= f.hidden_field :manifest_token, value: view.manifest_token %>

          <%= f.submit "Create GitHub App for #{view.owner_name}", :class => "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>

  </div>
