<%# view is an instance of Integrations::ShowView %>

<% content = capture do %>

  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <div class="mb-4">
          <a name="oauth-credentials"></a>
          <%= render Primer::SubheadComponent.new do |component| %>
            <% component.slot(:heading, font_size: 3) do %>About<% end %>
          <% end %>

          <p><strong>Owned by:</strong> <%= link_to "@#{view.integration.owner}", user_path(view.integration.owner) %></p>
          <p><strong>App ID:</strong> <%= view.integration.id %></p>
          <p><strong>Client ID:</strong> <%= view.integration.key %></p>
          <p><strong>Client secret:</strong> <%= view.integration.secret %></p>

          <%= render layout: "shared/details_dialog", locals: {
              button_text: "Revoke all user tokens",
              button_class: "btn btn-danger mr-2",
              title: "Revoke all user tokens?",
              details_class: "d-inline-block text-normal"
              } do %>
          <div class="flash flash-full flash-warn">
            Are you sure you want to revoke <strong>all</strong> user tokens for this application?
          </div>
          <div class="Box-body">
            <p>
              All users of this application will be forced back through the
              <a href="<%= GitHub.developer_help_url %>/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/">authorization flow</a>
              before they can use your application again.
            </p>
            <p>All SSH keys created by this application will also be deleted.</p>
            <p class="mb-0">This action is not reversible.</p>
          </div>
          <div class="Box-footer">
            <%= form_tag gh_integration_revoke_all_tokens_path(view.integration) do %>
            <button type="submit" class="btn btn-block btn-danger">
              I understand, revoke all user tokens
            </button>
            <% end %>
          </div>
          <% end %>

          <%= render layout: "shared/details_dialog", locals: {
              button_text: "Reset client secret",
              button_class: "btn btn-danger",
              title: "Reset client secret?",
              details_class: "d-inline-block text-normal"
              } do %>
          <div class="flash flash-full flash-warn">
            Your current client secret will no longer work after reset.
          </div>
          <div class="Box-body">
            Please note that resetting your client secret will not invalidate any user tokens, however you
            will need to update any application configuration using the old secret because it will no longer work.
          </div>
          <div class="Box-footer">
            <%= form_tag gh_integration_reset_secret_path(view.integration) do %>
            <button type="submit" class="btn btn-block btn-danger">
              Reset GitHub application client secret
            </button>
            <% end %>
          </div>
          <% end %>

          <p class="note mt-1">
            GitHub Apps can use OAuth credentials to identify users.  Learn more about identifying users by reading our
            <%= link_to "integration developer documentation", "#{GitHub.developer_help_url}/apps/building-integrations/setting-up-and-registering-github-apps/identifying-users-for-github-apps/" %>.
          </p>

          <% unless view.integration.internal? %>
          <dl class="form-group" style="max-width: 440px;">
            <dt class="input-label">
              <label for="app-public-link">Public link</label>
            </dt>
            <dd>
              <div class="input-group">
                <input id="app-public-link" type="text" class="form-control input-contrast input-monospace" data-autoselect value="<%= gh_app_url(view.integration) %>" readonly>
                <div class="input-group-button">
                  <clipboard-copy for="app-public-link" aria-label="Copy to clipboard" class="btn">
                    <%= octicon("clippy") %>
                  </clipboard-copy>
                </div>
              </div>
            </dd>
          </dl>
          <% end %>
        </div>

        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, font_size: 3) do %>Basic information<% end %>
        <% end %>
        <% form_view = Integrations::FormView.new(:integration => view.integration) %>
        <%= render "integrations/settings/form", :view => form_view, :form_action => gh_settings_app_path(view.integration) %>

        <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
          <% component.slot(:heading, font_size: 3) do %>Display information<% end %>
        <% end %>
        <div class="application-show-group Box p-4 mb-4">
          <div class="d-block">
            <%= render partial: "integrations/uploader", :locals => { :integration => view.integration } %>

            <% if view.allow_editing_bgcolor? %>
              <%= form_for view.integration, url: gh_settings_app_path(view.integration), method: :put, html: { class: "clearfix mt-3 js-app-bgcolor-form", id: "edit_integration_bgcolor_#{view.integration.id}" } do |f| %>
                <div class="col-5 float-left">
                  <dl class="form-group mb-0">
                    <dt><label for="integration_bgcolor">Badge background color</label></dt>
                    <dd>
                      <input required type="text" autocomplete="off" name="integration[bgcolor]" id="integration_bgcolor" maxlength="7" class="form-control js-app-bgcolor-input" value="#<%= view.integration.bgcolor %>" placeholder="Hex color code" pattern="#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})" title="Hex colors should only contain numbers and letters from a-f" aria-describedby="help-text-for-bgcolor">
                      <p class="note mb-0" id="help-text-for-bgcolor">
                        The hex value of the badge background color.
                      </p>
                      <span class="d-inline-block js-app-bgcolor-save-notice marketplace-listing-save-notice text-green f6">
                        <%= octicon("check") %>
                        Saved
                      </span>
                    </dd>
                  </dl>
                </div>
                <div class="col-5 float-left">
                  <div style="background-color: #<%= view.integration.bgcolor %>" class="CircleBadge CircleBadge--large ml-4 js-app-logo-with-bgcolor">
                    <%= integration_avatar(integration: view.integration, size: 70, class: "CircleBadge-icon", force_app_logo: true) %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <% if marketplace_enabled? && view.public? %>

          <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
            <% component.slot(:heading, tag: :h2, font_size: 3) do %>Marketplace<% end %>
          <% end %>
          <% if listing = view.integration.marketplace_listing %>
            <% if listing.allowed_to_edit?(current_user) %>
              <p>
                Edit how your GitHub App is presented in the Marketplace directory,
                including screenshots and links.
              </p>
              <a href="<%= edit_marketplace_listing_path(listing) %>" class="text-bold">
                Edit Marketplace listing
              </a>
            <% end %>
          <% else %>
            <p>
              List your GitHub App in the
              <a href="<%= marketplace_path %>">GitHub Marketplace</a> so that other users can discover
              it.
            </p>
            <a href="<%= new_marketplace_listing_with_integratable_path(MarketplaceListingsController::GITHUB_APP_TYPE, view.integration.id) %>" class="text-bold">
              List in Marketplace
            </a>
          <% end %>

        <% end %>

        <div class="col-12 clearfix">
          <a name="private-key"></a>
          <div class="js-integration-keys-container" data-url="<%= gh_list_keys_settings_app_path(view.integration) %>">
            <%= render "integrations/settings/keys", :view => view %>
          </div>
        </div>

        <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
          <% component.slot(:heading, tag: :h2, font_size: 3) do %>
            IP allow list
            <%= render GitHub::BetaFlagComponent.new(ml: 1, font_size: 6) %>
          <% end %>
        <% end %>
        <p>
          Enter the IP addresses of your GitHub App to allow organizations with
          <%= link_to "IP allow lists",
            "#{GitHub.help_url}/github/setting-up-and-managing-organizations-and-teams/managing-allowed-ip-addresses-for-your-organization" %>
          to selectively inherit the App's IP allow list when installed.
        </p>

        <% ip_whitelist_entries = IpWhitelistEntry.usable_for(view.integration)
          .order(whitelisted_value: :asc)
          .paginate(page: current_page) %>
        <% if !view.integration.new_record? && IpWhitelistEntry.eligible_for_ip_whitelisting?(view.integration) %>
          <div class="Box mb-6">
            <% if ip_whitelist_entries.any? %>
              <ul class="table-list" style="table-layout: auto;">
                <li class="table-list-item bg-gray text-gray-dark">
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 pl-3" style="min-width: 140px;">IP address</span>
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 ">Description</span>
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 pr-3"></span>
                </li>
                <%= render partial: "ip_whitelist_entries/entry",
                  collection: ip_whitelist_entries, as: :entry, locals: { this_owner: view.integration } %>
              </ul>
              <div class="paginate-container hidden-when-empty"><%= will_paginate ip_whitelist_entries %></div>
            <% else %>
              <div class="Box-body text-center text-gray py-6">
                There are no IP addresses on the allow list yet.
              </div>
            <% end %>

            <%= form_for IpWhitelistEntry.new, url: settings_user_apps_ip_whitelist_entries_path(view.integration) do |f| %>
              <div class="Box-footer d-flex">
                <%= render partial: "ip_whitelist_entries/edit_entry",
                  object: IpWhitelistEntry.new, as: :entry, locals: { this_owner: view.integration, f: f } %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
