<%graphql
  fragment Root on Query {
    enabledFeatures
    ...Views::MarketplaceListings::Listing::Root

    marketplaceSearch(first: $first, after: $after, last: $last, before: $before, query: $searchQuery, type: $searchType, verificationState: $verificationState, withFreeTrialsOnly: $withFreeTrialsOnly, categorySlug: $categorySlug) {
      marketplaceCount

      nodes {
        ... on MarketplaceListing {
          databaseId
          globalRelayId:id
          resourcePath
        }

        ... on RepositoryAction {
          databaseId
          globalRelayId:id
          resourcePath
        }

        ... on App {
          databaseId
          globalRelayId:id
          resourcePath: htmlResourcePath
        }

        ...Views::MarketplaceListings::Listing::MarketplaceListing
        ...Views::Marketplace::Actions::ActionLink::RepositoryAction
        ...Views::Marketplace::GitHubApps::GitHubAppLink::App
      }
      pageInfo {
        ...ApplicationHelper::CursorPaginate
      }
    }

    marketplaceCategory(slug: $categorySlug) {
      slug
      name
      descriptionHTML
    }

    ...Marketplace::SideNavView::Query::Root
    ...Views::Marketplace::RecommendedCategoryApps::Root
  }
%>
<%
  data = Views::Marketplace::Searches::Show::Root.new(data)
  search_results = data.marketplace_search.nodes
  category = data.marketplace_category
  github_apps_enabled = data.enabled_features.include?(PlatformTypes::FeatureFlag::GITHUB_APPS_IN_MARKETPLACE_SEARCH)
  search_query = search_options.query
  search_type = search_options.tool_type
  verification_state = search_options.verification_state
  filters_selected = search_type.present? || category.present? || verification_state.present?
  search_params = search_options.as_params

  marketplace_search_page_info(search_type)
%>

<div class="container-lg p-responsive clearfix">
  <div class="py-3 mb-5">
    <%= render(Primer::BreadcrumbComponent.new) do |component| %>
      <% component.slot(:item, href: marketplace_path) do %>Marketplace<% end %>
      <% component.slot(:item, selected: true) do %>Search results<% end %>
    <% end %>
  </div>
</div>

<div class="container-lg p-responsive clearfix">
  <div class="col-lg-9 float-lg-right">
    <%= render partial: "marketplace/search_bar", locals: { data: data, category_slug: category&.slug, search_options: search_options } %>
  </div>

  <%= render_partial_view "marketplace/side_nav",
      Marketplace::SideNavView,
      data: data,
      search_options: search_options,
      use_search_paths: true %>

  <div class="col-lg-9 mt-1 mb-4 float-lg-right">
    <% if search_type == "actions" %>
      <h1 class="h2">Actions</h1>
      <p class="text-gray">An entirely new way to automate your development workflow.</p>
    <% elsif search_type == "apps" %>
      <h1 class="h2">Apps</h1>
      <p class="text-gray">Build on your workflow with apps that integrate with GitHub.</p>
    <% elsif category %>
      <h1 class="h2"><%= category.name %></h1>
      <p class="text-gray"><%= category.description_html %></p>
    <% end %>
    <p class="mb-5">
      <span class="text-bold"><%= pluralize(data.marketplace_search.marketplace_count, "result") %></span>

      <% if search_query.present? %>
        <span class="text-gray">for "<%= search_query %>"</span>
      <% end %>

      <% if filters_selected %>
        <span class="text-gray">filtered by</span>

        <% if category.present? %>
          <span class="topic-tag-action topic-tag-contrast f6">
            <%= category.name %>
            <%= link_to "×", marketplace_search_path(search_params.except(:category)), class: "delete-topic-link f5", tabindex: "-1" %>
          </span>
        <% end %>

        <% if search_type.present? %>
          <span class="topic-tag-action topic-tag-contrast f6">
            <%= search_type.capitalize %>
            <%= link_to "×", marketplace_search_path(search_params.except(:type)), class: "delete-topic-link f5", tabindex: "-1" %>
          </span>
        <% end %>

        <% if verification_state.present? %>
          <span class="topic-tag-action topic-tag-contrast f6">
            <%= verification_state.capitalize %>
            <%= link_to "×", marketplace_search_path(search_params.except(:verification)), class: "delete-topic-link f5", tabindex: "-1" %>
          </span>
        <% end %>
      <% end %>
    </p>

    <div class="d-md-flex flex-wrap mb-4">
      <% search_results.each_with_index do |result, result_index| %>
        <%
          model_name = case result
            when PlatformTypes::MarketplaceListing ; then Marketplace::Listing.to_s
            when PlatformTypes::RepositoryAction   ; then RepositoryAction.to_s
            when PlatformTypes::App                ; then Integration.to_s
          end
          hydro_payload = {
            per_page: results_per_page,
            query: search_query,
            result_position: result_index + 1,
            click_id: result.database_id,
            result: {
              id: result.database_id,
              global_relay_id: result.global_relay_id,
              model_name: model_name,
              url: result.resource_path.to_s,
            }
          }
          hydro_data = hydro_click_tracking_attributes("search_result.click", hydro_payload)
        %>

        <% if result.is_a?(PlatformTypes::MarketplaceListing) %>
          <%= render partial: "marketplace_listings/listing", locals: { data: data, listing: result, hydro_data: hydro_data } %>
        <% elsif result.is_a?(PlatformTypes::RepositoryAction) %>
          <%= render partial: "marketplace/actions/action_link", locals: { data: result, hydro_data: hydro_data } %>
        <% elsif result.is_a?(PlatformTypes::App) && github_apps_enabled %>
          <%= render partial: "marketplace/github_apps/github_app_link", locals: { data: result, hydro_data: hydro_data } %>
        <% end %>
      <% end %>
    </div>

    <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
      <%= cursor_paginate(data.marketplace_search.page_info, previous_label: "Previous", next_label: "Next") %>
    </div>

    <% if category %>
      <%= render partial: "marketplace/recommended_category_apps", locals: { data: data, category: category.slug } %>
    <% end %>
  </div>
</div>

<%= render "marketplace/submit_app_cta" %>
