<div class="table-list-header" id="js-issues-toolbar">
  <% if current_user_can_push? && current_repository_writable? %>
    <label class="float-left pl-4 py-2 pr-3">
      <input type="checkbox" class="mt-2" data-check-all aria-label="Select all issues" autocomplete="off">
    </label>
  <% end %>


  <div class="table-list-filters">
    <div class="table-list-header-toggle states float-left">
      <a href="<%= view.milestone_path %>" class="btn-link <%= 'selected' if view.showing_open? %>">
        <%= octicon("issue-opened") %>
        <%= number_with_delimiter view.milestone.open_issue_count %> Open
      </a>

      <a href="<%= view.milestone_path(closed: 1) %>" class="btn-link <%= 'selected' if view.showing_closed? %>">
        <%= octicon('check') %>
        <%= number_with_delimiter view.milestone.closed_issue_count %> Closed
      </a>
    </div>
  </div>

  <% if current_user_can_push? && current_repository_writable? %>
    <div class="table-list-triage js-issues-toolbar-triage">
      <span class="table-list-header-meta">
        <span data-check-all-count>0</span> selected
      </span>

      <div class="table-list-header-toggle float-right">
        <img class="v-align-middle js-issue-triage-spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="Saving" width="16" height="16" hidden>
        <span class="text-red f6 js-issue-triage-error" hidden>Something went wrong</span>
        <%= render partial: "issues/triage/actions" %>
        <%= render partial: "issues/triage/labels" %>
        <%= render partial: "issues/triage/milestones" %>
        <%= render partial: "issues/triage/assigns" %>
        <template class="js-triage-loader-template">
          <include-fragment>
            <div class="select-menu-loading-overlay anim-pulse">
              <%= octicon(:octoface, height: 32) %>
            </div>
          </include-fragment>
        </template>
      </div>
    </div>
  <% end %>
</div>
