<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    selected_link: :repo_issues,
    container_xl: true,
    responsive: false,
    title: "Milestones - #{current_repository.name_with_owner}"
%>

<%= render layout: "issues/issues" do %>
  <%= render :partial => 'navigation/milestones' %>

  <div class="table-list-header">
    <div class="table-list-filters">
      <div class="table-list-header-toggle states float-left">
        <%= link_to(milestones_path(:state => "open"), :class => "btn-link "+((!params[:state] || params[:state] == 'open') ? 'selected' : '')) do %>
          <%= octicon('milestone') %>
          <%= @counts[:open] %>
          Open
        <% end %>

        <%= link_to(milestones_path(:state => "closed"), :class => "btn-link "+(params[:state] == 'closed' ? 'selected' : '')) do %>
          <%= octicon('check') %>
          <%= @counts[:closed] %>
          Closed
        <% end %>
      </div>

      <div class="table-list-header-toggle float-right">
        <details class="details-reset details-overlay select-menu">
          <summary class="btn-link select-menu-button icon-only">
            Sort
          </summary>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index:99;">
            <div class="select-menu-header">
              <span class="select-menu-title">Sort</span>
            </div>
            <div class="select-menu-list">
              <a class="select-menu-item" href="<%= milestones_path(state: params[:state]) %>" aria-checked="<%= params[:sort].blank? %>" role="menuitemradio">
                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text">Recently updated</div>
              </a>
              <%
                  state = params[:state] || "open"
                  sorts = [
                    ["due_date", "desc"],
                    ["due_date", "asc"],
                    ["completeness", "asc"],
                    ["completeness", "desc"],
                    ["title", "asc"],
                    ["title", "desc"],
                    ["count", "desc"],
                    ["count", "asc"],
                  ]
              %>
              <% sorts.each do |sort, direction| %>
                <a class="select-menu-item" href="<%= milestones_path(sort: sort, direction: direction, state: state) %>" aria-checked="<%= params[:sort] == sort && params[:direction] == direction %>" role="menuitemradio">
                  <%= octicon("check", class: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= milestone_sort_label(sort, direction) %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      </div>
    </div>
  </div>

  <% if @milestones.any? %>
    <ul class="table-list table-list-bordered table-list-milestones js-navigation-container js-active-navigation-container">
      <% @milestones.each do |milestone| %>
        <%= render :partial => "milestones/milestone",
                   :locals => {
          :counts => @counts,
          :view => Milestones::MilestoneView.new(current_repository, milestone)
        } %>
      <% end %>
    </ul>
  <% else %>
    <% if current_repository.milestones.count == 0 %>
      <div class="blankslate blankslate-large">
        <%= octicon("milestone", :height => 40, :class => "blankslate-icon") %>
        <% if current_user_can_push? && current_repository_writable? %>
          <h3>You haven’t created any Milestones.</h3>
          <p>Use Milestones to create collections of Issues and Pull Requests for a particular release or project.</p>
          <p>
            <a href="<%= new_milestone_path(current_repository.owner, current_repository) %>" class="btn btn-primary">Create a Milestone</a>
          </p>
        <% else %>
          <h3>No Milestones found!</h3>
          <p>If this project had milestones, we’d show you them here. Promise!</p>
        <% end %>
      </div>
    <% else %>
      <div class="blankslate blankslate-large">
        <%= octicon("milestone", :height => 40, :class => "blankslate-icon") %>
        <h3>We couldn’t find anything!</h3>
        <p>There aren’t any milestones that match. Give it another shot above.</p>
      </div>
    <% end %>
  <% end %>
<% end %>
