<%= include_staff_bar(view_id: "project-activity") %>

<% activities.each do |activity| %>
  <li class="p-3 border-bottom d-flex flex-row">
    <%= linked_avatar_for(activity.safe_actor, 20, img_class: "avatar", link_class: "pr-2") %>
    <p class="m-0 lh-condensed flex-auto min-width-0">
      <a href="<%= user_path(activity.safe_actor) %>" class="text-bold"> @<%= activity.safe_actor %></a>
      <%=
        case activity.event_namespace
        when "project"
          render partial: "projects/activity/project", locals: { activity: activity }
        when "project_column"
          render partial: "projects/activity/project_column", locals: { activity: activity }
        when "project_card"
          render partial: "projects/activity/project_card", locals: { activity: activity }
        when "project_workflow"
          render partial: "projects/activity/project_workflow", locals: { activity: activity }
        end
      %>
      <span class="mt-1 mb-0 f6 d-block text-gray-light"><%= time_ago_in_words_js(activity.created_at) %></span>
    </p>

  </li>
<% end %>

<% if activities.empty? %>
  <li class="text-center text-gray-light py-3 m-3">
    No activity
  </li>
<% end %>

<% if activities.has_next_page? %>
  <li class="p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag project_activity_path(activities.project), method: :get do %>
      <input name="page" type="hidden" value="<%= activities.next_page %>">
      <input name="after" type="hidden" value="<%= activities.after_cursor %>">
      <input name="latest_allowed_entry_time" type="hidden" value="<%= activities.latest_allowed_entry_time %>">
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <button type="submit" class="btn btn-outline btn-block" data-disable-with="Loading more...">More</button>
    <% end %>
  </li>
<% else %>
  <% if activities.possible_gaps? %>
    <li class="text-center text-gray-light py-3 m-3 mb-2">
      This project was created before project activity started being fully recorded. There may be gaps in the beginning of this project’s activity.
    </li>
  <% end %>

  <li class="p-3">
    <button type="button" class="btn btn-outline btn-block" disabled>Showing all activity</button>
  </li>
<% end %>
