<% case activity.event_type %>
<% when "create" %>
  added <strong><%= activity.workflow_type %></strong>
  <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: automation") do %>
    automation
  <% end %>
  to the <strong><%= activity.column_name %></strong> column.
<% when "update" %>
  moved <strong><%= activity.workflow_type %></strong>
  <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: automation") do %>
    automation
  <% end %>
  from the <strong><%= activity.previous_column_name %></strong> column to the <strong><%= activity.column_name %></strong> column.
<% when "delete" %>
  deleted <strong><%= activity.workflow_type %></strong>
  <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: automation") do %>
    automation
  <% end %>
  from the <strong><%= activity.column_name %></strong> column.
<% end %>
