<%= activity.past_tense_event_type %> the project

<% if activity.linking_event? %>
  <% if activity.event_type == "link" %>
    to
  <% else %>
    from
  <% end %>

  <% if activity.linked_repository&.readable_by?(current_user) %>
    <a href="<%= repository_path(activity.linked_repository) %>" class="repo-and-owner">
      <span title="<%= activity.linked_repository.owner %>"><%= activity.linked_repository.owner %></span>/<span title="<%= activity.linked_repository.name %>" class="repo-name"><%= activity.linked_repository.name %></span>
    </a>
  <% else %>
    a repository
  <% end %>
<% end %>
