<div class="Box-row d-flex flex-items-center" data-replace-remote-form-target id="<%= dom_id(@organization) %>">
  <div class="flex-auto">
    <input type="checkbox" class="js-bulk-actions-toggle" name="organization_ids[]" value="<%= @organization.id %>" data-check-all-item aria-labelledby="org-name-<%= @organization.id %>" >
    <button href="<%= user_path(@organization) %>" class="Box-btn-octicon btn-octicon m-0">
      <%= render GitHub::AvatarComponent.new(actor: @organization, size: 32) %>
    </button>
    <%= link_to @organization.login, user_path(@organization), id: "org-name-#{@organization.id}" %>
  </div>

  <%= form_tag settings_actions_org_enablement_enterprise_path(@business, organization: @organization),
    "data-replace-remote-form": true,
    method: :put do %>
    <%= render GitHub::MenuComponent.new(items: enablement_options, align: :right) %>
  <% end %>
</div>
