<div class="d-flex flex-column overflow-auto" <%= test_selector("organization-selection-component") %>>
  <filter-input class="flex-1 mb-2" aria-owns="<%= aria_id_prefix %>-list">
    <input type="search" aria-label="Filter organizations" class="form-control width-full" placeholder="Filter organizations">
  </filter-input>
  <ul data-filter-list id="<%= aria_id_prefix %>-list" class="list-style-none position-relative">
  <% @organizations.each do |organization| %>
    <li class="css-truncate d-flex flex-items-center width-full">
      <input
        type="checkbox" name="organization_ids[]"
        value="<%= organization.global_relay_id %>"
        id="<%= aria_id_prefix %>-<%= organization.id %>"
        <% if @selected_organizations.include?(organization.global_relay_id) %>checked<% end %>
        class="mx-2 position-absolute"
        data-targets="selected-item-list.items"
        data-action="click:selected-item-list#updateCount">
      <label class="d-flex flex-items-center width-full text-gray-dark py-1 pr-1 pl-5"
        for="<%= aria_id_prefix %>-<%= organization.id %>"
        title="<%= organization %>">
        <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
          <%= organization %>
        </strong>
      </label>
    </li>
  <% end %>
  </ul>
  <div class="text-gray m-1" data-filter-empty-state hidden>
    No organizations found.
  </div>
</div>
