<details class="details-reset details-overlay d-inline-block position-relative pr-3 pr-sm-0 px-3">
  <summary class="btn-link" aria-haspopup="menu">
    Actor
    <span class="dropdown-caret hide-sm"></span>
  </summary>

  <details-menu
    class="SelectMenu SelectMenu--hasFilter right-0" role="menu"
    src="<%= actions_actors_menu_path query: actions_filtered_query(filters: workflow_run_filters) %>">
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <h3 class="SelectMenu-title">Filter by actor</h3>
      </header>

      <div class="SelectMenu-filter">
        <input type="text"
          id="actor-filter"
          class="SelectMenu-input form-control js-filterable-field"
          type="text"
          autocomplete="off"
          spellcheck="false"
          placeholder="Find a user"
          aria-label="Find a user"
          autofocus>
      </div>
      <include-fragment class="SelectMenu-loading" aria-label="Menu is loading">
        <%= octicon("octoface", class: "anim-pulse", height: 32) %>
      </include-fragment>
    </div>
  </details-menu>
</details>
