<details class="details-reset details-overlay d-inline-block position-relative px-3" id="branch-menu">
  <summary class="btn-link" aria-haspopup="menu">
    Branch
    <span class="dropdown-caret hide-sm"></span>
  </summary>

  <details-menu
    class="SelectMenu SelectMenu--hasFilter right-0" role="menu"
    src="<%= actions_branches_menu_path query: actions_filtered_query(filters: workflow_run_filters) %>">
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <h3 class="SelectMenu-title">Filter by branch</h3>
      </header>

      <div class="SelectMenu-filter">
        <input
          id="branch-filter"
          class="SelectMenu-input form-control js-filterable-field"
          type="text"
          autocomplete="off"
          spellcheck="false"
          placeholder="Find a branch"
          aria-label="Find a branch"
          autofocus>
      </div>
      <include-fragment class="SelectMenu-loading" aria-label="Menu is loading">
        <%= octicon("octoface", class: "anim-pulse", height: 32) %>
      </include-fragment>
    </div>
  </details-menu>
</details>
