<details class="details-reset details-overlay d-inline-block pl-3 pl-sm-0 pr-3" id="event-menu">
  <summary class="btn-link" aria-haspopup="menu">
    Event
    <span class="dropdown-caret hide-sm"></span>
  </summary>

  <details-menu
    class="SelectMenu SelectMenu--hasFilter" role="menu"
    src="<%= actions_events_menu_path query: actions_filtered_query(filters: workflow_run_filters) %>">
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <h3 class="SelectMenu-title">Filter by event</h3>
      </header>

      <div class="SelectMenu-filter">
        <input
          id="event-filter"
          class="SelectMenu-input form-control js-filterable-field"
          type="text"
          autocomplete="off"
          spellcheck="false"
          placeholder="Find an event"
          aria-label="Find an event"
          autofocus>
      </div>
      <include-fragment class="SelectMenu-loading" aria-label="Menu is loading">
        <%= octicon("octoface", class: "anim-pulse", height: 32) %>
      </include-fragment>
    </div>
  </details-menu>
</details>
