<%graphql
  fragment Organization on Organization {
    cursorDiscussion: discussions(first: $perPage, after: $after, before: $before) {
      pageInfo {
        startCursor
      }
    }
  }
%>

<%
  org = Views::Orgs::Announcements::CursorInput::Organization.new(org)
  page_info = org.cursor_discussion.page_info
%>

<input
  id="cursor_input"
  type="hidden"
  name="before"
  value="<%= page_info.start_cursor %>">
