<%graphql
  fragment Viewer on User {
    login
    resourcePath
    ...ApplicationHelper::LinkedAvatar
  }
  fragment OrganizationDiscussion on OrganizationDiscussion {
    id
    isPinned
    isPrivate
    number
    resourcePath
    title
    viewerCanPin

    ... on Comment {
      bodyVersion
      createdViaEmail
      lastEditedAt
      publishedAt
      viewerDidAuthor

      author {
        login
        resourcePath

        ...ApplicationHelper::LinkedAvatar
        ...Views::Comments::Actor::Actor
      }

      ... on PerformableViaApp {
        viaApp {
          name
          htmlUrl
        }
      }

      ... on Updatable {
        viewerCanUpdate
      }

      ...Views::Comments::Reactions::Subject
      ...Views::Comments::CommentHeaderActions::Comment
      ...Views::Comments::CommentEditHistory::Comment
      ...Views::Comments::Edit::Tabnav::Comment
      ...Views::Comments::Edit::WriteContent::Comment
      ...Views::Comments::CommentBody::Comment
    }

    organization {
      name
      login
      ...Views::Orgs::Announcements::NewForm::Organization
    }

    ...CommentsHelper::CommentFragment
  }
%>
<%
  discussion = Views::Orgs::Announcements::Discussion::OrganizationDiscussion.new(discussion)
  viewer = Views::Orgs::Announcements::Discussion::Viewer.new(viewer)
  dom_id = "org-discussion-#{discussion.number}"
  permalink_id = "#{graphql_comment_dom_id(discussion)}-permalink"
  data_preview_url = preview_path(nil, markdown_unsupported: discussion.created_via_email?)
%>

<div class="discussion-post box-shadow rounded-1 timeline-comment-wrapper mt-0 mb-4 pl-0 border-0 js-discussion-post js-comment-container js-comment-delete-container js-quote-selection-container" data-team-hovercards-enabled>
  <div class="timeline-comment">
    <div id="<%= dom_id %>"
         class="comment previewable-edit js-comment js-task-list-container <%= "reorderable-task-lists" if logged_in? %> <% if discussion.viewer_did_author? %>current-user<% else %><%= unread_comment_class %><% end %>"
         data-body-version="<%= discussion.body_version %>">

      <div class="pt-3 border-0 clearfix">
        <div class="edit-comment-hide px-3">
          <div class="timeline-comment-actions mt-n1">
            <%= render layout: "comments/comment_header_actions", locals: {
              comment: discussion,
              form_path: org_announcement_path(discussion.organization.login, discussion.number),
              permalink_id: permalink_id
            } do %>
              <% if discussion.viewer_can_pin? %>
                <%= form_tag discussion.resource_path.to_s, method: :put, class: "inline-form js-comment-pin" do %>
                  <input type="hidden" name="organization_discussion[id]" value="<%= discussion.id %>">
                  <input class="js-pinned-discussion-input" type="hidden" name="organization_discussion[pinned]" value="<%= discussion.is_pinned? ? "0": "1" %>">
                  <button
                      type="submit"
                      class="timeline-comment-action ml-2 btn-link pin-btn <%= "pinned" if discussion.is_pinned? %> <%= "tooltipped tooltipped-n" if discussion.viewer_can_pin? %>"
                      data-alternate-aria-label="<%= discussion.is_pinned? ? "Pin this discussion" : "Unpin this discussion" %>"
                      aria-label="<%= discussion.is_pinned? ? "Unpin this discussion" : "Pin this discussion" %>"
                      <% unless discussion.viewer_can_pin? %>disabled<% end %>>
                    <%= octicon(:pin) %>
                  </button>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="mb-2 d-flex flex-column flex-items-start">
            <% if discussion.is_private? %>
              <%# erblint:counter TooltipCounter 2 %>
              <span class="text-gray f6 mb-1 tooltipped tooltipped-n"
                aria-label="Visible only to organization members.">
                <%= octicon(:lock, class: "mr-1 text-gray") %>
                Private
              </span>
            <% end %>

            <a href="<%= org_announcement_path(discussion.organization.login, discussion.number) %>" class="h2 link-gray-dark no-underline js-comment-title">
              <%= discussion.title %>
            </a>
          </div>

          <div class="d-flex pt-0 pb-0">
            <%= graphql_linked_avatar_for(discussion.author, 28, img_class: "avatar avatar-small") %>

            <div class="post-author ml-2 d-flex flex-column">
              <span class="link-gray-dark text-bold">
                <%= render "comments/actor", actor: discussion.author %>
              </span>

              <div class="post-author-timestamp">
                <a href="<%= org_announcement_path(discussion.organization.login, discussion.number) %>" id="<%= permalink_id %>" class="f6 muted-link">
                  <%= time_ago_in_words_js discussion.published_at %>
                </a>

                <% if discussion.respond_to?(:via_app?) && discussion.via_app? %>
                  &mdash; with <a href="<%= discussion.via_app.html_url %>"><%= discussion.via_app.name %></a>
                <% end %>

                <% if discussion.last_edited_at %>
                  <span class="f6 text-gray"><%= render "comments/comment_edit_history", comment: discussion %></span>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <% if discussion.viewer_can_update? %>
          <%= form_tag org_announcement_path(discussion.organization.login, discussion.number), method: :put, class: "js-comment-update js-discussion-post-update", id: nil do %>
            <div class="mx-3">
              <input type="text"
                     name="organization_discussion[title]"
                     placeholder="Title"
                     aria-label="<%= discussion.title %>"
                     class="previewable-comment-form width-full form-control js-title-field"
                     value="<%= discussion.title %>"
                     required>
            </div>

            <div class="my-2">
              <div class="previewable-comment-form js-previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
                <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
                <%= render partial: "comments/edit/tabnav", locals: { comment: discussion, textarea_id: "#{dom_id}-body", saved_reply_context: "discussion_post", x_padding: "px-3" } %>

                <div class="m-2">
                  <%= render partial: "comments/edit/write_content", locals: { comment: discussion, comment_context: nil, textarea_id: "#{dom_id}-body", required: false } %>
                </div>

                <div class="preview-content">
                  <%= render partial: "comments/preview_comment" %>
                </div>

                <div class="clearfix mx-3 mt-3 mb-2">
                  <div class="float-left">
                    <%# erblint:counter TooltipCounter 2 %>
                    <button disabled class="btn tooltipped tooltipped-n" type="button" aria-label="Announcement visibility cannot be changed once it has been published.">
                      <% if discussion.is_private? %>
                        <%= octicon(:lock, class: "mr-1") %> <%= discussion.organization.name %>
                      <% else %>
                        <%= octicon(:organization, class: "mr-1") %> Public
                      <% end %>
                    </button>
                  </div>

                  <div class="float-right">
                    <button class="btn btn-danger js-comment-cancel-button" type="button"
                            data-confirm-text="Are you sure you want to discard your unsaved changes?">
                      Cancel
                    </button>
                    <button class="btn btn-primary" type="submit" data-disable-with>Update announcement</button>
                  </div>
                </div>

                <div class="comment-form-error js-comment-update-error" hidden></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="edit-comment-hide">
        <%= render partial: "comments/comment_body", locals: {
              comment: discussion,
              form_path: org_announcement_path(discussion.organization.login, discussion.number)
            } %>
      </div>
    </div>
  </div>
</div>
