<%graphql
  fragment Viewer on User {
    ...Views::Orgs::Announcements::Discussion::Viewer
  }
  fragment Organization on Organization {
    login
    discussions(first: $perPage, after: $after, isPinned: $isPinned) {
      nodes {
        ...Views::Orgs::Announcements::Discussion::OrganizationDiscussion
      }
      pageInfo {
        hasNextPage
        endCursor
      }
    }
  }
%>
<%
  org = Views::Orgs::Announcements::List::Organization.new(org)
  viewer = Views::Orgs::Announcements::List::Viewer.new(viewer)
%>

<% org.discussions.nodes.each do |discussion| %>
  <%= render partial: "orgs/announcements/discussion",
             locals: { discussion: discussion, viewer: viewer } %>
<% end %>

<% if org.discussions.page_info.has_next_page? %>
  <%= form_tag org_announcements_path(org.login), method: :get, class: "ajax-pagination-form js-ajax-pagination mt-5" do %>
    <input name="after" type="hidden" value="<%= org.discussions.page_info.end_cursor %>">
    <button type="submit" class="ajax-pagination-btn btn btn-outline border-gray-dark width-full f6 mt-0 py-2" data-disable-with="Loading more&hellip;">
      Show more announcements
    </button>
  <% end %>
<% end %>
