<%graphql
  fragment Organization on Organization {
    ...Views::Orgs::Announcements::List::Organization
  }
%>

<%
  org = Views::Orgs::Announcements::ListWithMarker::Organization.new(org)
%>

<div id="timeline_marker">
  <%= render partial: "orgs/announcements/list", locals: { org: org, viewer: viewer } %>
</div>


