<%graphql
  fragment Organization on Organization {
    login
    name
    viewerCanAdminister
    id
  }
%>
<%
  org = Views::Orgs::Announcements::NewForm::Organization.new(org)
  data_preview_url = preview_path(org: org.login)
%>

<div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
  <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
  <div class="comment-form-head tabnav bg-gray">
    <%= render Comments::GitHubSpecificMarkdownToolbarComponent.new(textarea_id: "org_discussion_form", discussions_enabled: discussions_enabled?) %>
    <div class="tabnav-tabs" role="tablist">
      <button type="button" class="btn-link tabnav-tab write-tab ml-2 js-write-tab selected" role="tab" aria-selected="true">Write</button>
      <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
    </div>
  </div>

  <div class="comment-form-error js-comment-form-error d-none" hidden></div>

  <%= file_attachment_tag(model: :assets, class: "js-upload-markdown-image is-default") do |upload_enabled| %>
    <div class="write-content js-write-bucket mx-3 <%= "upload-enabled" if upload_enabled %>">
      <input type="hidden" name="saved_reply_id" class="js-resettable-field" value="" data-reset-value="">

      <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= suggestions_path(global_id: org.id, mention_suggester: 1) %>">
        <textarea name="input[body]"
                  id="org_discussion_form"
                  placeholder="Post an announcement"
                  aria-label="Announcement body"
                  class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-size-to-fit js-session-resumable"
                  required></textarea>
      </text-expander>
      <%= render partial: "comments/drag_and_drop", locals: { asset_types: :assets } %>
    </div>
  <% end %>

  <div class="preview-content">
    <%= render partial: "comments/preview_comment" %>
  </div>

  <% if local_assigns[:comment] %>
    <div class="clearfix mx-2 mt-2 mb-1">
      <div class="form-actions">
        <button class="btn btn-primary float-right" type="submit" data-disable-invalid data-disable-with disabled>Comment</button>
        <button class="btn float-right js-hide-inline-comment-form" type="reset" data-confirm-cancel-text="Are you sure you want to discard your unsaved changes?">Cancel</button>
      </div>
    </div>
  <% else %>
    <div class="clearfix m-3">
      <% if org.viewer_can_administer? %>
        <div class="float-left">
          <details class="details-reset details-overlay select-menu">
            <summary class="btn select-menu-button">
              <span class="mr-1" data-menu-button><%= octicon(:lock, class: "mr-1") %> Private</span>
            </summary>

            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
              <div class="select-menu-header">
                <span class="select-menu-title">Who can see this announcement?</span>
              </div>
              <div class="select-menu-list">
                <label class="select-menu-item" role="menuitemradio" aria-checked="false" tabindex="0">
                  <input type="radio" name="input[private]" value="0">
                  <%= octicon("check", class: "select-menu-item-icon mt-1") %>
                  <div class="select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-contents><%= octicon(:organization, class: "mr-1") %> Public</span>
                    <span class="description">Visible to everyone.</span>
                  </div>
                </label>
                <label class="select-menu-item" role="menuitemradio" aria-checked="true" tabindex="0">
                  <input type="radio" name="input[private]" value="1" checked>
                  <%= octicon("check", class: "select-menu-item-icon mt-1") %>
                  <div class="select-menu-item-text">
                    <span class="select-menu-item-heading">
                      <%= octicon(:lock, class: "mr-1") %> <%= org.name %>
                      <span class="d-none" data-menu-button-contents>
                        <%= octicon(:lock, class: "mr-1") %> Private
                      </span>
                    </span>
                    <span class="description">Visible only to organization members.</span>
                  </div>
                </label>
              </div>
            </details-menu>
          </details>
        </div>
      <% end %>

      <div class="form-actions d-flex flex-row-reverse">
        <button class="btn btn-primary" type="submit" data-disable-invalid data-disable-with disabled>Post announcement</button>
        <button class="btn-link js-hide-post-form mr-2 link-gray" type="reset" data-confirm-cancel-text="Are you sure you want to discard your unsaved changes?">Cancel</button>
      </div>
    </div>
  <% end %>

  <div class="comment-form-error js-comment-update-error" hidden></div>
</div>
