<%graphql
  fragment Organization on Organization {
    pinnedDiscussions: discussions(isPinned: true) {
      totalCount
    }
  }
%>
<% org = Views::Orgs::Announcements::PinnedPostCounter::Organization.new(org) %>

<%= render Primer::CounterComponent.new(id: "pinned_posts_counter", count: org.pinned_discussions.total_count) %>
