<div class="Box mb-3">
  <div class="Box-body">
    <h4 class="f4 mb-2 text-normal d-flex flex-justify-between flex-items-center">
      Announcements
    </h4>
    <div class="mb-2 d-flex flex-column flex-items-start">
      <p>
        You can post announcements for members of
        <strong><%= organization.safe_profile_name %></strong> or for all of GitHub to see.
      </p>
      <a href="<%= org_announcements_path(organization) %>">
        Post an announcement &rarr;
      </a>
    </div>
  </div>
</div>
