<%# erblint:counter TooltipCounter 1 %>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :sponsors } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>
      Your sponsors
      <%= render Primer::CounterComponent.new(count: sponsorships_total_count, hide_if_zero: true, vertical_align: :middle) %>
    <% end %>
    <% component.slot(:actions) do %>
      <div class="float-right">
        <%= render partial: "sponsors/your_sponsors/tier_filter", locals: {
          sponsorable: sponsorable,
          sponsors_listing: sponsors_listing,
          selected_tier: selected_tier,
          published_tiers: published_tiers,
          retired_tiers: retired_tiers,
          tier_subscription_counts: tier_subscription_counts
        } %>
      </div>
      <div class="float-right mr-1">
        <%= render(Sponsors::Dashboard::YourSponsors::ExportButtonComponent.new(
          sponsorable: sponsorable,
          sponsorships: sponsorships,
        )) %>
      </div>
    <% end %>
  <% end %>

  <div class="d-flex flex-column mb-6">
    <% if sponsorships.empty? %>
      <div class="blankslate blankslate-spacious">
        <%= octicon "heart", height: 32, class: "blankslate-icon" %>
        <h3>
          You don't have any sponsors <%= "on this tier" if params[:tier_id].present? %> yet.
        </h3>
        <div class="mt-1">
          <% if sponsors_listing.approved? %>
            <% unless params[:tier_id].present? %>
              Try sharing your GitHub Sponsors profile: <a href="<%= sponsorable_path(sponsorable) %>"><%= sponsorable_url(sponsorable.login) %></a>
            <% end %>
          <% else %>
            Once you submit your GitHub Sponsors profile and it's approved, others will be able to sponsor you!
          <% end %>
        </div>
      </div>
    <% else %>
      <% sponsorships.each_slice(2) do |sponsorship_slice| %>
        <div class="d-flex flex-wrap flex-justify-between">
          <% sponsorship_slice.each_with_index do |sponsorship, i| %>
            <%
              sponsor = sponsorship.sponsor
              item = sponsorship.subscription_item
              item_monthly_price = item.price(duration: "month", trial_price: false)
            %>
            <div class="d-flex" style="width: 49%; margin-bottom: 2%;">
              <div class="p-3 border border-gray-dark rounded-1 width-full">
                <div class="d-flex">
                  <div>
                    <%= linked_avatar_for(sponsor, 48) %>
                  </div>
                  <div class="pl-3">
                    <p class="m-0 f4 mb-1">
                      <span class="text-bold break-word"><%= sponsor.login %></span>
                      <% if sponsorship.privacy_private? %>
                        <span class="Label Label--outline v-align-middle ml-1 tooltipped tooltipped-ne" aria-label="Private: Only you can see that they're a sponsor">
                          Private
                        </span>
                      <% end %>
                    </p>
                    <p class="m-0 f6"><span class="text-bold ">$<%= item.quantity * item_monthly_price %></span> / month</p>
                    <p class="m-0 f6 text-gray-light">Since <%= time_ago_in_words_js(item.created_at) %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
        <%= will_paginate sponsorships %>
      </div>
    <% end %>
  </div>
<% end %>
