<%# view is an instance of RepositoryTokenScanning::IndexView %>

<details class="details-reset details-overlay select-menu flex-shrink-0 position-relative">
  <summary class="btn-link text-gray no-underline select-menu-button">
    Filter
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;">
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by secret type</span>
    </div>

    <div class="select-menu-filters">
      <filter-input class="select-menu-text-filter" aria-owns="secret-type-list">
        <input
          type="text"
          class="form-control"
          autofocus
          autocomplete="off"
          aria-label="Filter secret types"
          placeholder="Filter secret types">
      </filter-input>
    </div>

    <div class="select-menu-list" id="secret-type-list" data-pjax data-filter-list>
      <a href="<%= view.all_token_types_results_path %>" aria-checked="<%= !view.selected_token_type_filters? %>" class="select-menu-item" role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text text-bold">All secret types</span>
      </a>

      <% view.token_type_filters.each do |filter| %>
        <a href="<%= filter[:url] %>" aria-checked="<%= filter[:selected] %>" class="select-menu-item" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text"><%= filter[:label] %></div>
        </a>
      <% end %>

      <div class="p-2" data-filter-empty-state hidden>No secret types found</div>
    </div>
  </details-menu>
</details>

<details class="ml-3 details-reset details-overlay select-menu flex-shrink-0 position-relative">
  <summary class="btn-link text-gray no-underline select-menu-button">
    Sort
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;">
    <div class="select-menu-header">
      <span class="select-menu-title">Sort by</span>
    </div>
    <div class="select-menu-list" data-pjax>
      <% view.sort_options.each do |sort| %>
        <a href="<%= sort[:url] %>" aria-checked="<%= sort[:selected] %>" class="select-menu-item" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text"><%= sort[:label] %></div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
