<%# view is an instance of RepositoryTokenScanning::ShowView %>

<%
  page_info(
    title: "Secret Scanning · #{view.repository.name_with_owner}",
    container_xl: true,
    selected_link: :token_scanning,
    skip_responsive_padding: true,
  )
%>

<%= render layout: "layouts/repository/security" do %>
  <div class="d-flex flex-column">
    <%= render partial: "repos/token_scanning/show/header", locals: { view: view } %>
    <%= render partial: "repos/token_scanning/show/tabs", locals: { view: view, selected_tab: :files }%>

    <% view.result.included_locations.each do |location| %>
      <% additional_controls = capture do %>
        <div class="file-info pl-2 flex-self-center lh-default text-gray-light">
          <% unless location.start_line.zero? || location.end_line.zero? %>
            <% if location.start_line == location.end_line %>
              Line <%= location.start_line %>
            <% else %>
              Lines <%= location.start_line %> to <%= location.end_line %>
            <% end %>
            in
          <% end %>
          <%= link_to location.commit_oid[0, 7],  view.commit_url(location), class: "link-gray-dark" %>
        </div>
      <% end %>
      <%= render partial: "repos/scanning/location", locals: {
          full_path: location.path,
          path_link: view.location_url(location),
          snippet_helper: view.snippet_helper(location),
          additional_controls: additional_controls,
          missing_blob_description: location.found_in_archive? ? "Previews for this file type are not available." : nil,
        }
      %>
    <% end %>
    <% if view.has_ignored_locations? %>
      <div class="text-gray-light" <%= test_selector("ignored-paths-message") %>>
        <%= octicon "info" %> Does not include secrets found in <%= link_to "ignored paths", preferred_file_path(type: :token_scanning_configuration) %>
      </div>
    <% end %>
  </div>
<% end %>
