<%# view is an instance of RepositoryTokenScanning::IndexView %>

<%
  page_info(
    title: "Secret Scanning · #{view.repository.name_with_owner}",
    container_xl: true,
    selected_link: :token_scanning,
    skip_responsive_padding: true,
  )
%>

<%= render layout: "layouts/repository/security" do %>
  <div class="Subhead d-flex flex-items-center">
    <div class="Subhead-heading flex-auto d-flex flex-items-center">
      <span>Secret scanning</span>
      <%= render GitHub::BetaFlagComponent.new(font_size: 6, font_weight: :normal, ml: 2, mr: 1) %>
      <%= link_to("Give us feedback", view.feedback_link, class: "text-small lh-condensed") %>
    </div>
  </div>

  <% unless view.query.stringify.nil? %>
    <div class="mb-3">
      <%= link_to view.clear_filters_results_path, class: "token-scanning-reset-query link-gray text-bold no-underline", :"data-pjax" => true  do %>
        <%= octicon("x", class: "token-scanning-reset-query-icon text-white text-center rounded-1 mr-1") %>
        Clear current filters and sorting
      <% end %>
    </div>
  <% end %>

  <div class="Box mt-3 js-scanning-alert-list js-check-all-container">
    <% if !view.repository.token_scanning_enabled? %>
      <div class="blankslate blankslate-spacious rounded-0" <%= test_selector("blankslate-result") %>>
        <%= octicon("key", height: 32, class: "blankslate-icon") %>
        <h3>Secret scanning disabled</h3>
        <% if view.repository.adminable_by?(view.current_user) %>
          <p>To scan for secrets, you must first enable secret scanning in <%= link_to "this repository’s settings", security_analysis_settings_path(current_repository) %>.</p>
        <% else %>
          <p>Secret scanning has not yet been enabled by a user with admin permissions for this repository.
            <a href="<%= GitHub.help_url %>/github/administering-a-repository/about-token-scanning" target="_blank">Learn more about secret scanning.</a>
          </p>
        <% end %>
      </div>
    <% else %>
      <% if !view.has_pending_backfill? %>
        <div class="Box-header d-flex flex-items-center">
          <div class="Box-title d-flex flex-auto flex-items-center" data-pjax>
            <label class="text-normal mr-2">
              <input type="checkbox" aria-label="Select all secrets" data-check-all>
            </label>

            <div class="text-normal text-gray js-scanning-alert-bulk-actions d-flex" hidden>
              <div class="mr-3">
                <span data-check-all-count>0</span> selected
              </div>

              <% if view.resolved? %>
                <%= form_tag view.resolve_path(resolution: :reopened), method: :put do %>
                  <input class="btn-link muted-link" type="submit" value="Reopen">
                  <div class="js-scanning-bulk-action-items" hidden></div>
                <% end %>
              <% else %>
                <details class="dropdown details-reset details-overlay flex-self-center">
                  <summary aria-haspopup="true">
                    Close
                    <div class="dropdown-caret"></div>
                  </summary>
                  <ul class="dropdown-menu dropdown-menu-s" style="width: 250px">
                    <% view.resolutions.each do |resolution, label| %>
                      <li>
                        <%= form_tag view.resolve_path(resolution: resolution), method: :put do %>
                          <input class="btn-link dropdown-item text-small" type="submit" value="<%= label %>">
                          <div class="js-scanning-bulk-action-items" hidden></div>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </details>
              <% end %>
            </div>

            <div class="js-scanning-alert-links">
              <a href="<%= view.unresolved_path %>" class="d-inline mr-2 no-underline <%= view.resolved? ? "text-gray text-normal" : "text-gray-dark" %>"><%= octicon("check", class: "mr-1") %><%= number_with_delimiter(view.unresolved_count) %> Open</a>
              <a href="<%= view.resolved_path %>" class="d-inline no-underline <%= !view.resolved? ? "text-gray text-normal" : "text-gray-dark" %>"><%= octicon("x", class: "mr-1") %><%= number_with_delimiter(view.resolved_count) %> Closed</a>
            </div>
          </div>

          <%= render "repos/token_scanning/filters", view: view %>
        </div>
      <% end %>
      <% if view.has_pending_backfill? %>
        <div class="blankslate blankslate-spacious rounded-0" <%= test_selector("blankslate-result") %>>
          <%= octicon("key", height: 32, class: "blankslate-icon") %>
          <h3>Check back soon</h3>
          <p><%= view.no_tokens_found_description %></p>
        </div>
      <% elsif view.results_count > 0 %>
        <ul class="js-navigation-container js-active-navigation-container" data-pjax>
          <% view.results.each do |result| %>
            <li class="Box-row Box-row--focus-gray d-flex flex-shrink-0 mt-0 js-navigation-item" <%= test_selector("token-scan-result") %>>
              <input type="checkbox"
                class="js-scanning-alert-check"
                aria-label="Select token"
                data-check-all-item
                name="id[]"
                value="<%= result.id %>"
              >

              <%= octicon("key", class: "mx-2") %>

              <div class="d-flex flex-column flex-auto">
                <div class="d-flex flex-auto lh-condensed flex-items-center">
                  <a class="h4 lh-condensed-ultra link-gray-dark mr-2 js-navigation-open" href="<%= view.result_path(result) %>">
                    <%= view.token_type_description(result) %>
                  </a>
                </div>

                <div class="text-small text-gray mt-1">
                  <% if view.has_location?(result) %>
                    <%= view.result_filename(result) %><% if !result.found_in_archive? %>#L<%= view.result_line(result) %><% end %>
                    &bull;
                  <% end %>

                  Detected <%= time_ago_in_words_js(result.created_at) %>

                  <% if result.resolved? %>
                    &bull;
                    Closed as
                    <span class="text-bold"><%= view.resolution_description(result.resolution) %></span>
                    <%= time_ago_in_words_js(result.resolved_at) %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="blankslate blankslate-spacious rounded-0" <%= test_selector("blankslate-result") %>>
          <%= octicon("key", height: 32, class: "blankslate-icon") %>
          <h3>No secrets found</h3>
          <p><%= view.no_tokens_found_description %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if view.include_pagination? %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate view.results %>
      </div>
    </div>
  <% end %>

<% end %>
