<%graphql
fragment Tokens on DelegatedRecoveryTokenConnection {
  nodes {
    tokenId
    provider
    createdAt
    id
  }
}
%>
<%
  tokens = Views::DelegatedAccountRecovery::Index::Tokens.new(tokens_connection)
  page_info responsive: false, title: "Delegated account recovery setup for " + provider
%>

<%= render layout: "settings/settings" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>
      <a href="<%= settings_user_security_path %>">Security</a> / Delegated account recovery
    <% end %>
  <% end %>

  <p>If a recovery is initiated by <strong><%= provider %></strong>, it can help prove your identity when trying to recover an account.</p>

  <div class="flash flash-warn">
    <h5>Account recovery tokens:</h5>

    <ul class="list-style-none my-2 pl-2">
      <li class="mb-1"><%= octicon("x", :class => "text-gray mr-1") %> do not grant access to an account</li>
      <li><%= octicon("check", :class => "text-green mr-1") %> can be used to help verify identity when working with our support teams</li>
    </ul>

    <p>Are you sure you want to save this token with <strong><%= provider %></strong>?</p>

    <%= form_tag delegated_account_recovery_create_path, method: :post, class: "js-create-recovery-token-form", "data-remote": true do %>
      <input name="provider_origin" type="hidden" value="<%= provider %>">
    <% end %>
    <%= form_tag(endpoint, method: :post, authenticity_token: false, class: "js-post-recovery-token post-recovery-token", "data-sudo-required": "high") do %>
      <input type="hidden" name="state" value="">
      <input type="hidden" name="token" value="">
      <button type="submit" class="btn js-delegated-account-recovery-submit">Connect with <%= provider %></button>
      <p class="pt-2">
        <%= image_tag "spinners/octocat-spinner-128.gif", :size => "24x24", :class => "octospinner v-align-middle", :alt => "Connecting with Facebook"  %>
        <span class="create-recovery-token-error text-red">Something went wrong while generating your account recovery token.</span>
      </p>
    <% end %>
  </div>

  <% if tokens.nodes.any? %>
    <div class="Box mt-3">
      <div class="Box-header">
        <h3 class="Box-title">Manage recovery tokens</h3>
      </div>

      <% tokens.nodes.each do |token| %>
        <div class="Box-row p-3 d-flex flex-items-center">
          <div class="col-8">
            <div>Provider: <strong><%= Addressable::URI.parse(token.provider).host %></strong></div>
            <div class="note float-left mr-2">
              Token created <%= time_ago_in_words_js token.created_at %>
            </div>
            <% if GitHub.github_as_recovery_provider_enabled? %>
              <%= button_to "Initiate recovery (development only)", Darrrr.recovery_provider(token.provider).recovery_url(token.token_id), class: "btn-link text-small" %>
            <% end %>
          </div>
          <div class="col-4">
            <%= button_to "Revoke token", delegated_account_recovery_destroy_path(token.id), method: :delete, class: "btn btn-sm float-right" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
