<%# view is an instance of CodeScanningBetaMemberships::View %>

<%
  page_info(
    title: "GitHub code scanning and secret scanning · Thanks",
    stafftools: stafftools_code_scanning_beta_signup_path,
  )
%>

<div class="container-md p-responsive">
  <div class="mt-6 pt-3 text-center">
    <h1 class="f00-light lh-condensed">Thanks for registering for the betas!</h1>
    <p class="lead">
      You’re in the queue for the beta—we’ll let you know as soon as you have access.
    </p>
  </div>

  <p class="text-center">
    You’ve agreed to the pre-release terms with <%= view.target_member_description %>.
    No further steps are necessary, but please make sure <%= link_to "your primary email address", settings_user_emails_path %> is up to date.
    If you have any questions, <a href="<%= contact_path %>">let us know</a>.
  </p>
</div>
