<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> mt-3 branch-action mb-0 branch-action-state-dirty">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
    <%= octicon('git-merge', :height => 32) %>
  </span>

  <div class="branch-action-body timeline-comment--caret">
    <div class="branch-action-item">
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
        <%= octicon('alert') %>
      </div>
      <div class="h4 status-heading">At least one pull request has conflicts that must be resolved</div>
      <span class="status-meta">Review the pull requests and resolve conflicts before continuing.</span>
    </div>

    <div class="merge-message">
      <%= render "repos/advisories/merge_button", view: view %>
    </div>
  </div>
</div>
