<poll-include-fragment src="<%= view.merge_box_path %>">
  <div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> mt-3 branch-action mb-0 branch-action-state-unknown">
    <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
      <%= octicon('git-merge', :height => 32) %>
    </span>

    <div class="branch-action-body timeline-comment--caret">
      <div class="branch-action-item">
        <div class="branch-action-item-icon completeness-indicator">
          <%= render :partial => "statuses/loading_circle" %>
        </div>
        <div class="h4 status-heading">Checking for ability to merge automatically&hellip;</div>
        <span class="status-meta">Hang in there while we check each pull request's status.</span>
      </div>

      <div class="merge-message">
        <%= render "repos/advisories/merge_button", view: view %>
      </div>
    </div>
  </div>
</poll-include-fragment>
