<%= render "orgs/enterprise_trial_banner", organization: current_organization %>
<%= render "orgs/free_org_restricted_banner", organization: current_organization %>

<div itemscope itemtype="http://schema.org/Organization">
  <div class="pagehead orghead border-bottom-0 clearfix">
    <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
      <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView, :organization => current_organization_for_member_or_manager %>
    </div>
    <%=
      render_partial_view "orgs/header_nav", Orgs::HeaderView,
        :organization      => current_organization_for_member_or_manager,
        :selected_nav_item => :settings
      %>
  </div>

  <div class="container-lg px-3 d-flex">
    <% if org_admin? %>
      <%= render :partial => "orgs/settings/tabs" %>
    <% elsif org_apps_manager? %>
      <%= render :partial => "orgs/settings/apps_manager_tabs" %>
    <% elsif org_billing_manageable? %>
      <div class="col-3 flex-shrink-0 pr-4">
        <nav class="menu" aria-label="Organization settings">
          <%= render partial: "navigation/settings_context_dropdown", locals: {
            title: "Organization settings",
            current_context: current_organization_for_member_or_billing
          } %>
        </nav>
      </div>
    <% end %>

    <div class="col-9">
      <%= yield %>
    </div>
  </div>
</div>
