<div class="p-3 bg-gray-light border-bottom d-md-flex">
  <% if view.has_repository? %>
    <dl class="m-0 mr-4">
      <dt class="text-bold text-left text-small text-gray no-wrap">Repository</dt>
      <dd data-repository-hovercards-enabled>
        <%= linked_avatar_for(view.repository.owner, 20, img_class: "avatar") %>
        <a href="<%= repository_path(view.repository) %>" class="ml-1 text-bold link-gray-dark text-small" <%= safe_data_attributes(hovercard_data_attributes_for_repository(view.repository)) %>>
          <%= view.repository.name_with_owner %>
        </a>
      </dd>
    </dl>
  <% end %>

  <table>
    <tr>
      <th class="text-bold text-left text-small text-gray no-wrap mb-1 pr-4">Packages</th>
      <th class="text-bold text-left text-small text-gray no-wrap mb-1 pr-4">Affected versions</th>
      <th class="text-bold text-left text-small text-gray no-wrap mb-1 pr-4">Patched versions</th>
    </tr>

    <% view.grouped_vulnerable_verson_ranges.each do |(ecosystem, affects), ranges| %>
      <% ranges.each_with_index do |range, index| %>
        <tr>
          <% if index == 0 %>
            <td class="v-align-top pr-4" rowspan="<%= ranges.count %>">
              <%= octicon("package") %>
              <%= affects %>
              <span class="text-gray">(<%= ecosystem %>)</span>
            </td>
          <% end %>

          <td class="v-align-top pr-4">
            <%= range.requirements %>
          </td>

          <td class="v-align-top pr-4">
            <% if range.fixed_in.present? %>
              <%= range.fixed_in %>
            <% else %>
              <span class="text-gray">No patched versions</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
