<div class="flash flash-full flash-warn">
  <div class="container-lg">
      You have <%= unresolved_abuse_report_count %> unresolved abuse <%= "report".pluralize(unresolved_abuse_report_count) %>.

      <a href="<%= reported_content_path(repository.owner, repository) %>">View <%= "report".pluralize(unresolved_abuse_report_count) %></a>
  </div>
</div>
