<%graphql
  fragment Repository on Repository {
    name
    owner {
      login
    }
    communityContributorsCollection {
      transitiveContributorsCount
    }
  }
%>
<%
  repository = Views::Repositories::CommunityContributorsNav::Repository.new(repository)
  community_contributors = repository.community_contributors_collection
%>

<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Stargazers">
    <%= selected_link_to community_contributors_path(repository.owner.login, repository.name), class: "tabnav-tab", highlight: :community_contributors_main do %>
      All
      <% if community_contributors.present? %>
        <%= render Primer::CounterComponent.new(count: community_contributors.transitive_contributors_count) %>
      <% end %>
    <% end %>
  </nav>
</div>
