<%
  ga_click_location = "Comment" unless local_assigns.key?(:ga_click_location)
  safe_hydro_link_attrs = nil unless local_assigns.key?(:safe_hydro_link_attrs)
%>

<div class="text-small text-gray mx-md-2 my-2">
  <%= octicon :info, class: "mr-1" %>Remember, contributions to this repository should follow
  <% if contributing_file.present? || code_of_conduct_file.present? %>
    its
    <% if contributing_file.present? && code_of_conduct_file.present? %>
      <a href="<%= contributing_file %>" data-ga-click="<%= ga_click_location %>, click contributing link in composer footer, repo:<%= current_repository.nwo %>" <%= safe_hydro_link_attrs %>>contributing guidelines</a>
      and
      <a href="<%= code_of_conduct_file %>" data-ga-click="<%= ga_click_location %>, click code_of_conduct link in composer footer, repo:<%= current_repository.nwo %>" <%= safe_hydro_link_attrs %>>code of conduct</a>.
    <% elsif contributing_file.present? %>
      <a href="<%= contributing_file %>" data-ga-click="<%= ga_click_location %>, click contributing link in composer footer, repo:<%= current_repository.nwo %>" <%= safe_hydro_link_attrs %>>contributing guidelines</a>.
    <% else %>
      <a href="<%= code_of_conduct_file %>" data-ga-click="<%= ga_click_location %>, click code_of_conduct link in composer footer, repo:<%= current_repository.nwo %>" <%= safe_hydro_link_attrs %>>code of conduct</a>.
    <% end %>
  <% else %>
    our
    <a href="<%= GitHub.help_url %>/articles/github-community-guidelines" data-ga-click="<%= ga_click_location %>, click github_community_guidelines link in composer footer, repo:<%= current_repository.nwo %>" <%= safe_hydro_link_attrs %>>GitHub Community Guidelines</a>.
  <% end %>
</div>
