<%# `view` is an instance of Repositories::DetailsView %>
<ul class="pagehead-actions flex-shrink-0 <% if responsive? %>d-none d-md-inline<% end %>" style="padding: 2px 0;">
  <% if view.show_sponsor_button? %>
    <li>
      <details id="funding-links-modal" class="details-reset details-overlay details-overlay-dark d-inline-block float-left" <%= "open" if view.show_fml_modal? %>>
        <summary id="sponsor-button-repo" class="btn btn-sm"
          title="Sponsor <%= current_repository.name_with_owner %>"
          data-ga-click="Repository, show sponsor modal, action:<%= controller_action_slug %>; text:Sponsor"
          <%= test_selector("sponsor-button") %>>
          <%= octicon "heart-outline", class: "text-pink" %>
          Sponsor
        </summary>
        <details-dialog
          class="anim-fade-in fast Box Box--overlay d-flex flex-column"
          <% unless view.show_fml_modal? %>
            src="<%= funding_links_path(current_repository.owner, current_repository, fragment: 1) %>"
            preload
          <% end %>
          >
          <div class="Box-header">
            <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <%= octicon "x" %>
            </button>
            <h3 class="Box-title">
              Sponsor <%= current_repository.name_with_owner %>
            </h3>
          </div>
          <div class="overflow-auto">
            <include-fragment
              <% if view.show_fml_modal? %>
                src="<%= funding_links_path(current_repository.owner, current_repository, fragment: 1) %>"
              <% end %>
              >
              <div class="octocat-spinner my-3" aria-label="Loading..."></div>
            </include-fragment>
          </div>
        </details-dialog>
      </details>
    </li>
  <% end %>

  <li>
    <%= render(Repositories::WatchComponent.new(
      repository: current_repository,
      show_count: true,
      status: subscription_status
    )) %>
  </li>

  <li>
    <%= render(Stars::ButtonComponent.new(
      entity: view.repository,
      show_count: true,
      context: "repository"
    )) %>
  </li>

  <li>
    <% if logged_in? %>
      <% if view.forking_allowed? %>
        <% if current_user.organizations.any? && !current_user.must_verify_email?  && !current_repository.internal? %>
          <div class="float-left">
            <%= render(GitHub::DialogComponent.new(
              title: "Fork #{current_repository.name}",
              src: fork_select_path(current_repository.owner, current_repository, fragment: 1), preload: true)) do |dialog| %>
              <% dialog.with(:summary) do %>
                <summary
                  class="btn btn-sm btn-with-count"
                  title="Fork your own copy of <%= current_repository.name_with_owner %> to your account"
                  <%= safe_data_attributes(fork_button_data_attributes(current_repository, controller_action_slug)) %>>
                  <%= octicon('repo-forked') %>
                  Fork
                </summary>
              <% end %>
              <div class="text-center overflow-auto">
                <include-fragment>
                  <div class="octocat-spinner my-5" aria-label="Loading..."></div>
                  <p class="f5 text-gray">If this dialog fails to load, you can visit <a href="<%= fork_select_path(current_repository.owner, current_repository) %>">the fork page</a> directly.</p>
                </include-fragment>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= form_tag fork_path(current_repository), :class => "btn-with-count" do %>
            <%= content_tag "button",
                class: "btn btn-sm btn-with-count",
                data: fork_button_data_attributes(current_repository, controller_action_slug),
                type: "submit",
                title: "Fork your own copy of #{current_repository.name_with_owner} to your account",
                "aria-label": "Fork your own copy of #{current_repository.name_with_owner} to your account" do
            -%>
              <%= octicon('repo-forked') %>
              Fork
            <% end -%>
          <% end %>
        <% end %>
      <% else %>
        <%= content_tag(:span,
          class: "btn btn-sm btn-with-count disabled tooltipped tooltipped-sw",
          "aria-label": view.forkability_error_message) do %>
          <%= octicon('repo-forked') %>
          Fork
        <% end %>
      <% end %>
    <% else %>
      <%= link_to(
        login_path(return_to: repository_path(current_repository)),
        class: "btn btn-sm btn-with-count tooltipped tooltipped-s",
        "aria-label": "You must be signed in to fork a repository",
        rel: "nofollow",
        data: sign_in_link_data_attributes(location_in_page: "repo details fork button", repository_id: current_repository.id)
      ) do %>
        <%= octicon('repo-forked') %>
        Fork
      <% end %>
    <% end %>

    <a href="<%= gh_fork_network_path(current_repository) %>" class="social-count"
       aria-label="<%= pluralize current_repository.network_count, "user" %> forked this repository">
      <%= social_count current_repository.network_count %>
    </a>
  </li>
</ul>
