<% view = Repositories::ForkSelectView.new(:repository => current_repository, :user => current_user) %>

<% if view.all_existing_forks.any? %>
  <div class="px-4 py-2" <%= test_selector("fork-existing-targets-list") %>>
    <h3 class="h3 text-normal pb-3">
      You've already forked <%= current_repository.name %>
    </h3>

    <div class="d-flex flex-column flex-items-start">
      <% view.all_existing_forks.each do |fork| %>
        <% options = view.fork_button_options(
            is_existing_fork: true,
            currently_viewing_fork: view.is_viewing_current_repository?(owner: fork.owner),
            owner: fork.owner)
        %>
        <%= button_to repository_path(fork), options do %>
          <div class="d-flex flex-items-center">
            <%= octicon("repo-forked", class: "mr-2") %>
            <%= "#{fork.owner.login}/#{fork}" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if view.available_options.any? %>
  <div class="p-4 <%=" border-top" if view.all_existing_forks.any? %>">
    <h3 class="h3 pb-3 text-normal">
      <%= view.fork_options_header %>
    </h3>

    <div class="d-flex flex-column flex-items-start">
      <% view.available_options.each do |owner| %>
        <% options = view.fork_button_options(
            is_existing_fork: false,
            currently_viewing_fork: view.is_viewing_current_repository?(owner: owner),
            owner: owner)
        %>
        <%= button_to fork_path(current_repository), options do %>
          <div class="d-flex flex-items-center">
            <%= avatar_for(owner, 30, class: "avatar avatar-small mr-2") %>
            <%= owner.login %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if view.organizations_disallowing_forks.any? || view.oopf_disallowed_organizations.any? %>
  <div class="p-4 border-top">
    <h3 class="h3 pb-3 text-normal" <%= test_selector("fork-missing-targets-header") %>>
      Can&rsquo;t find what you&rsquo;re looking for?
    </h3>

    <% if view.organizations_disallowing_forks.any? %>

      <p>You don’t have permission to fork to these organizations:</p>

      <ul class="list-style-none" <%= test_selector("fork-disallowed-list") %>>
        <% view.organizations_disallowing_forks.each do |org| %>
          <li class="mb-1">
            <%= link_to user_path(org), class: "d-block" do %>
            <%= avatar_for(org, 20, class: "avatar") %>
            <%= org %>
            <% end %>
          </li>
        <% end %>
      </ul>

    <% elsif view.oopf_disallowed_organizations.any? %>
      <% if view.repository.owner.business.nil? %>
        <p> You cannot fork a private repository to an organization. </p>
      <% else %>
        <p>You cannot fork a private repository into an organization outside the repository's enterprise.</p>
      <% end %>
    <% end %>
  </div>
<% end %>
