<%# erblint:disable DeprecatedCustomCss %>
<div class="border-bottom shelf intro-shelf js-notice mb-0 pb-4">
  <div class="width-full container">
    <div class="width-full mx-auto shelf-content">
      <h2 class="shelf-title">Learn Git and GitHub without any code!</h2>
      <p class="shelf-lead">
          Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.
      </p>
      <%= link_to "Read the guide",
                  "https://guides.github.com/activities/hello-world/",
                  class: "btn btn-primary shelf-cta",
                  target: "_blank",
                  data: repository_hello_world_banner_read_guide_data_attributes(current_repository) %>
    </div>
    <%= form_tag dismiss_bootcamp_path, method: :delete, class: "shelf-dismiss js-notice-dismiss" do %>
      <%= button_tag(type: "submit",
                     class: "mr-1 close-button tooltipped tooltipped-w",
                     "aria-label": "Hide this notice forever",
                     data: repository_hello_world_banner_dismiss_data_attributes(current_repository)) do %>
        <%= octicon("x", "aria-label": "Hide this notice forever", class: "v-align-text-top") %>
      <% end %>
    <% end %>
  </div>
</div>
