<%# erblint:counter TooltipCounter 1 %>
<%#  `view` is an instance of `Repositories::ParticipationGraphView` %>

<%
  stroke_width = 2
  max_height = 0
  points = ""
%>

<%= cache repository_participation_sparkline_cache_key(view.repository), skip_digest: true, ttl: 8.hours do %>
  <span class="tooltipped tooltipped-s" aria-label="Past year of activity">
    <svg width="<%= view.width %>" height="<%= view.height + stroke_width %>">
      <% offset = view.width / (view.weeks.length - 1) %>
      <% view.weeks.each_with_index do |week, ix| -%>
        <% points += "#{ix * offset},#{week.all.height + 1} " %>
        <% max_height = week.all.height if week.all.height > max_height %>
      <% end %>
      <defs>
        <linearGradient id="gradient-<%= view.repository.id %>" x1="0" x2="0" y1="1" y2="0">
          <% [10, 33, 66, 90].zip(Contribution::Calendar::DEFAULT_COLORS).to_h.each do |offset, color| %>
            <stop offset="<%= offset %>%" stop-color="<%= color %>"></stop>
          <% end %>
        </linearGradient>
        <mask id="sparkline-<%= view.repository.id  %>" x="0" y="0" width="<%= view.width %>" height="<%= view.height %>" >
          <polyline transform="translate(0, <%= view.height %>) scale(1,-1)"
                    points="<%= points %>" fill="transparent" stroke="#8cc665" stroke-width="<%= stroke_width %>">
        </mask>
      </defs>

      <g transform="translate(0, <%= (max_height - view.height)/2.ceil + stroke_width %>)">
        <rect x="0" y="<%= -stroke_width %>" width="<%= view.width %>" height="<%= view.height + stroke_width %>"
              style="stroke: none; fill: url(#gradient-<%= view.repository.id %>); mask: url(#sparkline-<%= view.repository.id %>)"></rect>
      </g>
    </svg>
  </span>
<% end %>
