<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Stargazers">
      <%= selected_link_to stargazers_repository_path, :class => "tabnav-tab", :highlight => :stargazers_main do %>
      All <%= render Primer::CounterComponent.new(count: current_repository.stargazer_count) %>
      <% end %>
    <% if !logged_in? %>
      <%= selected_link_to stargazers_you_know_path, :class => "tabnav-tab", :highlight => :stargazers_you_know do %>
      You know
      <% end %>
    <% else %>
      <%= selected_link_to stargazers_you_know_path, :class => "tabnav-tab", :highlight => :stargazers_you_know do %>
      You know <%= render Primer::CounterComponent.new(count: stargazers_you_know_count) %>
      <% end %>
    <% end %>
  </nav>
</div>
