<div class="js-notice border-bottom py-5 flash" data-ga-load="Successors, see-popular-repo-successor-prompt">
  <div class="container-lg d-flex <%= responsive? ? "p-responsive" : "px-3" %>">
    <div class="col-8">
      <p class="f4">Ensure the future of your work!<br>Consider inviting another GitHub user to be your successor.</p>
      <p class="text-gray mb-4">
        Inviting a successor helps ensure the continuity of your work in case you are unable to access your account. <a data-ga-click="Successors, popular-user-owned-repo-view-docs" href="<%= GitHub.help_url %>/github/setting-up-and-managing-your-github-user-account/maintaining-ownership-continuity-of-your-user-accounts-repositories">Learn more</a>
      </p>
      <p>
        <a class="btn btn-primary" data-ga-click="Successors, popular-user-owned-repo-invite-successor" href="<%= settings_user_admin_path %>"><strong>Invite a successor</strong></a>
      </p>
    </div>
    <div class="col-4 text-center">
      <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete, class: "js-notice-dismiss" do %>
        <input type="hidden" name="repository_id" value="<%= repository.id %>">
        <input type="hidden" name="notice_name" value="popular_repo_successor_prompt">
        <button type="submit" class="close-button float-right" aria-label="Hide this notice forever" data-ga-click="Successors, dismiss-popular-repo-successor-prompt">
          <%= octicon(:x, height: 16, class: "text-gray-light") %>
        </button>
      <% end %>
      <%= render partial: "orgs/add_admin_icon" %>
    </div>
  </div>
</div>
