<% template_repos = owner.repository_templates_for(current_user) %>

<% if template_repos.any? %>
  <div class="mt-n2 mb-4">
    <label>Repository template</label>
    <p class="note mt-0 mb-2">
      Start your repository with a template repository's contents.
    </p>
    <details class="d-inline-block position-relative details-reset details-overlay select-menu">
      <summary class="js-template-repository-select btn select-menu-button with-gravatar" data-menu-button>
        No template
      </summary>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99" aria-label="Repository templates">
        <div class="select-menu-list">
          <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="true">
            <input type="radio" name="template_repository_id" value="" checked class="js-template-repository-choice">
            <%= octicon(:check, class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">No template</div>
            <span data-menu-button-contents hidden>
              <div class="d-inline-block mr-1">No template</div>
            </span>
          </label>
          <% template_repos.each do |repo| %>
            <label class="select-menu-item js-template-repository-choice-container" role="menuitemradio" tabindex="0" aria-checked="false">
              <input type="radio" name="template_repository_id" value="<%= repo.id %>" class="js-template-repository-choice" data-owner="<%= repo.owner.login %>">
              <%= octicon(:check, class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <%= avatar_for(repo.owner, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "") %>
                <div class="list-item-title repo-name mr-2 js-template-repository-name"><%= repo.name_with_owner %></div>
              </div>
              <div data-menu-button-contents hidden>
                <div class="d-inline-block mr-4">
                  <%= avatar_for(repo.owner, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "") %>
                  <div class="list-item-title repo-name mr-2"><%= repo.name_with_owner %></div>
                </div>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  </div>

  <div class="form-checkbox js-template-repository-setting mt-n2 mb-4" hidden>
    <label>
      <%= check_box_tag :include_all_branches, 1, false, :"aria-describedby" => "include-all-branches-description" %>
      Include all branches
    </label>
    <span id="include-all-branches-description" class="note">
      Copy all branches from <span class="js-template-repository-name-display"></span> and not
      just the default branch.
    </span>
  </div>

  <hr aria-hidden="true">
<% end %>
