<h1 class="<%= title_class if local_assigns.key?(:title_class) %> d-flex flex-wrap flex-items-center break-word f3 text-normal">
  <% if repository.template? %>
    <% if repository.public? %>
      <%= octicon "repo-template", class: "text-gray" %>
    <% else %>
      <%= octicon "repo-template-private", class: "text-gray" %>
    <% end %>
  <% else %>
    <%= octicon(repository.repo_type_icon, class: "text-gray") %>
  <% end %>
  <span class="author ml-2 flex-self-stretch" itemprop="author">
    <%= profile_link(repository.owner, class: "url fn", rel: "author") %>
  </span>
  <span class="mx-1 flex-self-stretch">/</span>
  <strong itemprop="name" class="mr-2 flex-self-stretch">
    <%= link_to repository, repository_path(repository),
    "data-pjax" => "#js-repo-pjax-container" %>
  </strong>
  <%= repository_label(repository) %>
</h1>

<% if repository.fork? && (parent_repo = repository.parent).present? %>
  <span class="text-small lh-condensed-ultra no-wrap mt-1" data-repository-hovercards-enabled>
    forked from <%= link_to parent_repo.name_with_owner, repository_path(parent_repo), data: hovercard_data_attributes_for_repository(parent_repo) %>
  </span>
<% end %>
<% if show_link_to_template_repository_for?(repository) %>
  <% template_repo = repository.template_repository %>
  <span class="text-small lh-condensed-ultra no-wrap mt-1" data-repository-hovercards-enabled>
    generated from <%= link_to template_repo.name_with_owner, repository_path(template_repo), data: hovercard_data_attributes_for_repository(template_repo) %>
  </span>
<% end %>
<% if repository.mirror %>
  <span class="text-small lh-condensed-ultra no-wrap mt-1">
    mirrored from <%= link_to truncate(repository.mirror.url, length: 100), repository.mirror.url %>
  </span>
<% end %>
<% if repository.advisory_workspace? %>
  <%- upstream = repository.parent_advisory_repository -%>
  <span class="text-small lh-condensed-ultra no-wrap mt-1">
    Parent repository: <%= link_to upstream.nwo, repository_path(upstream) %>
  </span>
<% end %>
