<%graphql
  fragment Repository on Repository {
    id
    name
    nameWithOwner
    owner {
      login
    }

    communityContributorsCollection {
      transitiveContributors(limit: $limit, offset: $offset) {
        ...AvatarHelper::AvatarFragment::Actor
        ...ApplicationHelper::ActorProfileLink::Actor
        ...Views::Users::FollowListGraphql::UserFragment
      }
      transitiveContributorsCount
    }

    ...Views::Repositories::CommunityContributorsNav::Repository
  }
%>

<%
  repository = Views::Repositories::CommunityContributors::Repository.new(repository)
  community_contributors_collection = repository.community_contributors_collection
  community_contributors = community_contributors_collection.transitive_contributors
  total_count = community_contributors_collection.transitive_contributors_count
  title = "Community Contributors · #{repository.name_with_owner}"
  page_info \
    title: title,
    container_xl: true,
    responsive: false,
    dashboard_pinnable_item_id: repository.id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div>
    <div class="d-flex flex-items-center mb-3">
      <h2>
        <%= number_with_delimiter total_count %> <%= "contributor".pluralize(total_count) %> in the
        <a href="<%= network_dependencies_path(repository.owner.login, repository.name) %>">dependency graph</a>
      </h2>
      <%= render GitHub::BetaFlagComponent.new(font_size: 6, font_weight: :normal, ml: 2) %>
    </div>
    <%= render partial: "repositories/community_contributors_nav", locals: { repository: repository } %>
    <% if community_contributors.any? %>
      <ol class="follow-list clearfix">
        <% community_contributors.each do |contributor| %>
          <%= render "users/follow_list_graphql", user: contributor, sponsor_user: community_contributors_enabled? %>
        <% end %>
      </ol>

      <%= raw_paginate(total_count, per_page, current_page) %>
    <% elsif total_count > 0 %>
      <p>
        That’s it. You’ve reached the end of
        <%= repository.name %>&rsquo;s
        community contributors.
      </p>
    <% end %>
  </div>
<% end %>
