<%graphql
  fragment Root on Query {
    node(id: $repo_id) {
      ... on Repository {
        top_part_deployments: deployments(first: 50, environments: $top_ten_environments, orderBy: {field:CREATED_AT, direction:DESC}) {
          nodes {
            state
            latestEnvironment
            ...Views::Repositories::DeploymentsEnvironmentState::EnvironmentState
          }
        }

        activity_log_deployments: deployments(first: 10, environments: $activity_log_environments, orderBy: {field:CREATED_AT, direction:DESC}) {
          pageInfo {
            hasNextPage
          }
          nodes {
            ...Views::Repositories::DeployedBy::DeployedBy
            id
            createdAt
            latestEnvironment
            state
            latestStatus {
              logUrl
              environmentUrl
            }
          }
        }
      }
    }
  }
%>

<% data = Views::Repositories::Deployments::Root.new(data) %>

<% page_info(
    title: "Deployments · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :repo_deployments,
  )
%>

<% top_deployments = data.node.top_part_deployments.nodes %>
<% top_deployments_by_env = top_deployments.group_by(&:latest_environment) %>

<%# Production environments should go first, if available %>
<% sorted_deployments_by_env = top_deployments_by_env.sort_by { |k, v| k == "production" ? 0 :  1.0 / v.length } %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="page">
    <% sorted_deployments_by_env.each do |env, deployments| %>
      <% next unless deployments.present? %>

      <% active_deployments = deployments.select { |deployment| deployment.state == "ACTIVE" } %>
      <% next unless active_deployments.any? %>

      <% deployment = active_deployments.first %>

      <%= render partial: "repositories/deployments_environment_state", locals: { data: deployment } %>
    <% end %>

    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, id: "activity-log") do %>Activity log<% end %>
      <% component.slot(:actions) do %>
        <details class="details-reset details-overlay float-left select-menu position-relative hx_rsm hx_rsm--auto-height">
          <summary class="btn">
            <i>Show:</i>
            <span class="select-menu-button">
              <%= environment_filter.present? ? environment_filter : "All environments" %>
            </span>
          </summary>
          <details-menu class="select-menu-modal position-absolute right-0 py-0 f6 text-gray" style="z-index: 99;">
            <ul>
              <% if environment_filter %>
                <li>
                  <a role="menuitem" href="<%= deployments_path(current_repository.owner, current_repository, anchor: "activity-log") %>" class="select-menu-item">
                    All environments
                  </a>
                </li>
              <% end %>

              <% top_ten_environments.each do |env| %>
                <% next if env == environment_filter %>
                <li>
                  <a role="menuitem" href="<%= deployments_path(current_repository.owner, current_repository, environment: env, anchor: "activity-log") %>" class="select-menu-item">
                    <%= env %>
                  </a>
                </li>
              <% end %>
            </ul>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <div class="my-3">
      <% data.node.activity_log_deployments.nodes.each_with_index do |deployment, i| %>
        <div class="TimelineItem <% if i == 0 %>pt-0 mt-0<% end %>">
          <span class="TimelineItem-badge <%= deployment_icon_classes(deployment.state) %>">
            <%= octicon("rocket") %>
          </span>
          <div class="TimelineItem-body d-flex flex-column flex-md-row">
            <div class="flex-auto">
              <p class="mb-1">
                <span class="text-bold"><%= deployment.latest_environment %></span>

                <span class="ml-1 f6 text-gray-light d-inline-block">
                  <include-fragment src="<%= compact_associated_pulls_path(current_repository.owner, current_repository, deployment_id: deployment.id) %>">
                    Loading information…
                  </include-fragment>
                </span>
              </p>
              <p class="mb-0 text-gray">
                <% if deployment.latest_status&.log_url %>
                  <%= safe_link_to "Deployed", deployment.latest_status.log_url, target: "_blank" %>
                <% else %>
                  Deployed
                <% end %>

                by

                <%= render partial: "repositories/deployed_by", locals: { data: deployment } %>

                <%= time_ago_in_words_js(deployment.created_at) %>

                <%= render Repositories::DeploymentStatusComponent.new(state: deployment.state) %>
              </p>
            </div>
            <% if deployment.latest_status&.environment_url %>
              <%= safe_link_to "View deployment", deployment.latest_status.environment_url, class: "btn btn-outline flex-self-start mt-2 mt-md-0", target: "_blank" %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="TimelineItem-break ml-0"></div>
    </div>
    <% if data.node.activity_log_deployments.page_info.has_next_page %>
      <a class="btn btn-outline" href="<%= deployments_activity_log_path(current_repository.owner, current_repository) %>">
        View full activity log
      </a>
    <% end %>
  </div>
<% end %>
