<%graphql
  fragment Repository on Repository {
    id
    name
    nameWithOwner
    stargazers(first: $first, after: $after, last: $last, before: $before, orderBy:{ field:STARRED_AT, direction:DESC }) {
      totalCount
      pageInfo {
        hasNextPage
        hasPreviousPage
        ...ApplicationHelper::CursorPaginate
      }
      nodes {
        ...Views::Users::FollowListGraphql::UserFragment
      }
    }
  }
%>

<%
  repository = Views::Repositories::Stargazers::Repository.new(repository)
  stargazers = repository.stargazers
  title = "Stargazers · #{repository.name_with_owner}"
  stargazer_page_info = repository.stargazers.page_info
  page_info \
    title: title,
    responsive: false,
    container_xl: true,
    dashboard_pinnable_item_id: repository.id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div id="repos">
    <h2>Stargazers</h2>
    <%= render partial: "repositories/stargazers_nav" %>
    <% if stargazers.nodes.any? %>
      <ol class="follow-list clearfix">
        <% stargazers.nodes.each do |stargazer| %>
          <%= render "users/follow_list_graphql", user: stargazer %>
        <% end %>
      </ol>
      <% if stargazer_page_info.has_next_page? || stargazer_page_info.has_previous_page? %>
        <div class="paginate-container">
          <%= cursor_paginate stargazer_page_info, previous_label: "Previous", next_label: "Next" %>
        </div>
      <% end %>
    <% elsif stargazers.total_count > 0 %>
      <p>
        That’s it. You’ve reached the end of
        <%= repository.name %>&rsquo;s
        stargazers.
      </p>
    <% else %>
      <div class="blankslate">
        <%= octicon("star", height: 32, class: "blankslate-icon") %>
        <h3>Be the first to star this repository.</h3>
        <p><a href="<%= GitHub.help_url %>/articles/about-stars">Learn more</a> about how starring works on GitHub.</p>
      </div>
    <% end %>
  </div>
<% end %>
