<%graphql
  fragment Notification on NotificationThread {
    id
    title
    list {
      ... on Repository {
        nameWithOwner: nameWithOwner
      }
      ... on Team {
        nameWithOwner: combinedSlug
      }
      ... on User {
        nameWithOwner: login
      }
      ... on Organization {
        nameWithOwner: login
      }
    }
    subject {
      ...NotificationsHelper::OcticonFragment::Subject
      ... on CheckSuite {
        url
      }
      ... on Commit {
        url
      }
      ... on Gist {
        url
      }
      ... on Release {
        url
      }
      ... on TeamDiscussion {
        url
      }
      ... on RepositoryInvitation {
        url: permalink
      }
      ... on RepositoryAdvisory {
        url
      }
    }
  }
%>
<% node = Views::Notifications::SavedNotificationThreads::Default::Notification.new(node) %>

<li class="list-group-item js-notification js-navigation-item">
  <span class="list-group-item-name css-truncate">
    <span class="type-icon type-icon-state-none">
      <%= graphql_notification_octicon_for(node.subject) %>
    </span>
    <a class="css-truncate-target js-navigation-open link-gray-dark" href="<%= node.subject.url %>" title="<%= node.title %> - <%= node.list.name_with_owner %>">
      <%= node.title %>

      <span class="f6 d-block text-gray"><%= node.list.name_with_owner %></span>
    </a>
  </span>

  <ul class="notification-actions">
    <li class="delete">
      <%= render :partial => "notifications/saved_notification_threads/delete_saved_notification", locals: {node_id: node.id} %>
    </li>
  </ul>
</li>
