<%# erblint:counter TooltipCounter 1 %>
<%= form_tag graphql_path("DeleteSavedNotificationThread"), class: "js-delete-saved-notification-thread", data: {'is-saved-notification-view'=> true} do %>
  <input type="hidden" name="variables[id]" value="<%= node_id %>">
  <button type="submit" aria-label="Remove saved notification" class="btn-link delete-note tooltipped tooltipped-w">
    <%= octicon("bookmark", :class => 'text-blue') %>
  </button>
<% end %>
