<%graphql
  fragment PullRequest on PullRequest {
    isCrossRepository
  }
%>
<%-
  pull = Views::PullRequests::BranchLabel::PullRequest.new(pull)
  display_login = defined?(login) && login.present? && pull.is_cross_repository?
-%>
<% if display_login %><%= login %>:<% end %><%= ref_name %>
