<%
  collab_state = (pull_request.id && !pull_request.fork_collab_granted?) ? :denied : :allowed
  collab_secrets_warning = GitHub.flipper[:collab_secrets_warning].enabled?(current_user)
  would_expose_secrets = collab_secrets_warning && pull_request.head_repository.actions_app_installed?
%>

<div class="d-inline-flex <% if use_outer_form %>ml-3 mt-2<% end %>">
  <% if !use_outer_form %>
    <%= form_tag pull_request_path(pull_request) + "/set_collab", :class => "js-collab-form inline-form", "data-autosubmit" => true, :method => :post do %>
      <span class="js-collab-option d-flex">
        <label class="d-flex">
          <input type="checkbox" class="mt-1 mr-2 js-collab-checkbox" name="collab_privs" <% if collab_state == :allowed %>checked<% end %>>
          <% unless would_expose_secrets %>
            Allow edits by maintainers
          <% else %>
            Allow edits and access to secrets by maintainers
          <% end %>
        </label>
        <span class="status-indicator js-status-indicator">
          <%= octicon('check', :class => "v-align-bottom") %>
          <%= octicon('x', :class => "v-align-bottom") %>
        </span>
      </span>
    <% end %>
  <% else %>
    <label class="d-inline-flex flex-items-center mr-1">
      <input type="checkbox" name="collab_privs" class="mr-2 js-collab-option" checked>
      <% unless would_expose_secrets %>
        Allow edits by maintainers
      <% else %>
        Allow edits and access to secrets by maintainers
      <% end %>
    </label>
  <% end %>

  <details class="details-reset details-overlay position-relative d-inline-block js-dropdown-details">
    <summary class="btn-link link-gray ml-1 <% if !use_outer_form and collab_secrets_warning %> mt-1 <% end %>" aria-label="View more information" role="button">
      <%= octicon('question') %>
    </summary>

    <details-menu class="dropdown-menu <% if !use_outer_form %> dropdown-menu-sw mr-n2 mt-1 <% else %> dropdown-menu-s mt-2 <% end %> p-3 text-small" role="menu" style="width:320px;">
      <p class="mb-0 text-gray-dark">If checked, <strong>users with write access to <%= pull_request.base_repository.nwo %> can add new commits</strong> to your <span class="commit-sha"><%= pull_request.display_head_ref_name %></span> branch. You can always change this setting later.</p>
      <% if would_expose_secrets %>
        <p class="p-3 border-bottom-0 border-left-0 border-right-0 flash flash-warn mb-n3 ml-n3 mr-n3 mt-3 rounded-bottom-1 rounded-top-0">Maintainers could potentially edit this repository's workflows to reveal values of secrets and gain access to other branches.</p>
      <% end %>
    </details-menu>
  </details>
</div>
