<%# erblint:disable LandmarkHasLabel %>
<%graphql
  fragment PullRequest on PullRequest {
    id
    databaseId
    number

    author {
      ... on User {
        databaseId
      }
      ... on Bot {
        databaseId
      }
      ... on Mannequin {
        databaseId
      }
    }

    repository {
      databaseId

      name

      owner {
        databaseId
        login
      }
    }
  }
%>
<%- pull = Views::PullRequests::CommentFormField::PullRequest.new(pull) -%>

<%- data_preview_url = preview_path(repository: pull.repository.database_id, pull_request: pull.database_id, comment_id: local_assigns[:comment_id]) -%>
<div class="js-previewable-comment-form js-suggested-changes-container previewable-comment-form write-selected<% if defined?(caret) && caret == true %> timeline-comment--caret timeline-comment--caret-nw<% end %>" data-preview-url="<%= data_preview_url %>">
  <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
  <div class="comment-form-head tabnav">
    <%=
      render Comments::GitHubSpecificMarkdownToolbarComponent.new(
        textarea_id: textarea_id,
        allows_suggested_changes: true,
        suggestion_button_path: review_comment_suggestion_button_path(pull.repository.owner.login, pull.repository.name, pull.number),
        pull_request: {
          global_relay_id: pull.id,
          user_id: pull.author&.database_id,
        },
      )
    %>
    <nav class="tabnav-tabs" role="tablist">
      <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
      <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
    </nav>
  </div>

  <%= file_attachment_tag(model: :assets, class: "js-upload-markdown-image is-default", input: "fc-#{textarea_id}", :"data-upload-repository-id=" => pull.repository.database_id) do |upload_enabled| %>
    <div class="write-content js-write-bucket <%= "upload-enabled" if upload_enabled %>">
      <input type="hidden" name="saved_reply_id" id="<%= textarea_id %>_saved_reply_id" class="js-resettable-field" value="" data-reset-value="">

      <text-expander
        keys=": @ #"
        data-issue-url="<%= suggestions_path(user_id: pull.repository.owner.login, repository: pull.repository.name, issue_suggester: "1") %>"
        data-mention-url="<%= suggestions_path(user_id: pull.repository.owner.login, repository: pull.repository.name, mention_suggester: "1") %>"
        data-emoji-url="<%= emoji_suggestions_path %>">
        <textarea
          name="<%= field_name %>"
          id="<%= textarea_id %>"
          placeholder="Leave a comment"
          aria-label="Comment body"
          class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-size-to-fit js-session-resumable"
          <% if defined?(required) && required %>required<% end %>></textarea>
      </text-expander>

      <%= render "comments/drag_and_drop", { asset_types: [:assets, :"repository-files"], file_chooser_id: "fc-#{textarea_id}" } %>
    </div>
  <% end %>

  <div class="preview-content">
    <%= render "comments/preview_comment" %>
  </div>

  <div class="comment-form-error mb-2 js-comment-update-error" hidden></div>
</div>
