<%
  plan_supports_draft = current_repository.plan_supports?(:draft_prs)
%>

<div class="d-flex flex-justify-between <% if responsive? %>flex-column flex-md-row my-2 mx-md-2<% else %>m-2<% end %>">
  <div class="form-checkbox mt-2 mb-0 pl-4">
    <label class="text-gray">
      <input type="hidden" name="ready_for_review" value="off">
      <input type="checkbox" checked name="ready_for_review" value="on" <% if !plan_supports_draft %>disabled<% end %>>
      This pull request is ready for review
    </label>
    <% if !plan_supports_draft %>
      <div class="d-inline-block position-relative">
        <details class="details-reset">
          <summary class="btn-link">
            <%= octicon "question", height: 16, class: "text-gray-light" %>
            <span class="sr-only">Learn more</span>
          </summary>
          <details-menu role="menu">
            <div class="Popover position-absolute ml-n3">
              <div class="Popover-message Popover-message--top-left p-4 mt-2 Box box-shadow-large">
                <article class="text-center">
                  <%= image_tag "icons/marketing/blue/code_review.svg", width: 40, height: 40, alt: "Draft PRs" %>
                  <div class="flex-auto mx-2">
                    <h1 class="h6 text-blue lh-condensed"><a href="<%= GitHub.help_url %>/github/collaborating-with-issues-and-pull-requests/about-pull-requests#draft-pull-requests" data-ga-click="Upgrade, click, location:compare page with a branch;text:Available to Team  and Enterprise organizations">Available to Team  and Enterprise organizations</a></h1>
                  </div>
                  <div class="mt-2">
                    <% if current_repository.owner == current_user %>
                      <%=
                        link_to "Upgrade",
                        plan_upgrade_path,
                        class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-1",
                        data: feature_gate_upsell_click_attrs(:draft_prs, user: current_user),
                        "data-ga-click": "Upgrade, click, location:compare page with a branch;text:Upgrade"
                      %>
                    <% elsif show_free_org_gated_feature_message?(current_repository, current_user) %>
                      <%=
                        link_to "Upgrade",
                        upgrade_path(
                          org: current_repository.owner,
                          plan: "business",
                          target: "organization"
                        ),
                        class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-1",
                        data: feature_gate_upsell_click_attrs(:draft_prs, user: current_user),
                        "data-ga-click": "Upgrade, click, location:compare page with a branch;text:Upgrade"
                      %>
                    <% end %>
                  </div>
                </article>
              </div>
            </div>
          </details-menu>
        </details>
      </div>
    <% end %>
  </div>

  <button type="submit" class="btn btn-primary <% if responsive? %>mt-3 mt-md-0<% end %>" data-disable-invalid data-disable-with>Create pull request</button>
</div>
