<% author_email = current_user.default_author_email(pull.repository, pull.head_sha) %>
<details class="details-reset details-overlay details-overlay-dark lh-default text-gray-dark">
  <summary>
    <div class="btn btn-sm btn-primary flash-action">Commit merge</div>
  </summary>
  <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast d-inline-block text-left" aria-label="Commit merge">
    <div class="Box-header">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= octicon "x" %>
      </button>
      <h3 class="Box-title">
        <%= octicon("alert") %>
        <% if pull.protected_head_branch&.requires_status_checks_or_reviews?(current_user) %>
          Can't update a protected branch.
        <% else %>
          Heads up, this will commit to <%= pull.head_ref_name %>.
        <% end %>
      </h3>
    </div>
    <div class="Box-body overflow-auto">
      <% if pull.head_repository.writable_by?(current_user) %>
        <%= render partial: "pull_requests/conflicted_files_form", locals: {
          pull: pull,
          adjust_pull: true,
          button_class: "btn btn-block"
        } %>
      <% else %>
        <%= render partial: "pull_requests/conflicted_files_form", locals: {
                   pull: pull,
                   button_text: "I understand, update #{pull.head_ref_name}",
                   button_class: "btn btn-block" } %>
      <% end %>
    </div>
  </details-dialog>
</details>
