<% view.instrument_ftc_banner_view(is_pull_requests: true) %>

<div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> mb-4 js-notice">
  <div class="content p-4 text-center rounded-1 border border-gray-light">
    <div class="position-relative">
      <details class="dropdown details-reset text-left details-overlay d-inline-block float-right">
        <summary class="btn-link" aria-haspopup="true">
          Dismiss <span class="ml-1 ellipsis-expander">...</span>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px">
          <%= form_tag dismiss_repository_notice_user_path(current_user), :method => :delete, :class => "js-notice-dismiss" do %>
            <input type="hidden" name="notice_name" value="first_time_contributor_pull_requests_banner">
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for this repository only",
                type: "submit",
                class: "btn-link dropdown-item",
                "data-ga-load": "First-time contributor banner, view:pull request; action:view",
                role: "menuitem",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::PULL_REQUESTS,
                  banner_shows_all_issues: view.repo.has_issues?,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "for repo"
                )
              )
            %>
          <% end %>
          <%= form_tag dismiss_notice_path(UserNotice::FIRST_TIME_CONTRIBUTOR_PULL_REQUESTS_BANNER_NOTICE), :class => "js-notice-dismiss" do %>
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for all repositories",
                type: "submit",
                class: "btn-link dropdown-item",
                role: "menuitem",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::PULL_REQUESTS,
                  banner_shows_all_issues: view.repo.has_issues?,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "forever"
                )
              )
            %>
          <% end %>
        </details-menu>
      </details>

      <div class="col-6 mx-auto">
        <h4 class="mb-2">First time contributing to <%= view.repo.nwo %>?</h4>
        <% if view.repo.has_issues? %>
          <p class="mb-0">
          If you know how to fix an <%=
            link_to(
              "issue",
              issues_path(view.repo.owner, view.repo),
              data: view.first_time_contributor_banner_data_attributes_click_all_issues
            )
          %>,
          consider opening a pull request for it.
          </p>
          <% if view.repo_has_contributing? %>
            <p class="mb-0">
              You can read this repository’s <%=
                link_to(
                  "contributing guidelines",
                  view.contributing_guidelines_path,
                  target: "_blank",
                  title: "A must-read for how to contribute to #{view.repo.nwo}",
                  data: view.first_time_contributor_banner_data_attributes_click_contributing(
                    view: Issues::IndexView::PULL_REQUESTS,
                    banner_shows_all_issues: view.repo.has_issues?,
                    banner_shows_open_source_guide: false,
                    banner_shows_labels: false
                  )
                )
              %>

              <% unless view.user_has_any_pull_requests? %>
                or <%=
                     link_to(
                       "GitHub Help",
                       view.pull_request_help_url,
                       target: "_blank",
                       data: view.first_time_contributor_banner_data_attributes_click_help
                     )
                   %>
              <% end %>
              to learn how to open a good pull request.
            </p>
          <% elsif !view.user_has_any_pull_requests? %>
            <p class="mb-0">
              <%= link_to(
                "Learn more about pull requests",
                view.pull_request_help_url,
                target: "_blank",
                data: view.first_time_contributor_banner_data_attributes_click_learn_more
              ) %>
            </p>
          <% end %>
        <% else %>
          <p class="mb-0">
            If you would like to submit code to this repository, consider opening a pull request.
            <% if view.repo_has_contributing? %>
              You can read this repository’s <%=
                link_to(
                  "contributing guidelines",
                  view.contributing_guidelines_path,
                  target: "_blank",
                  title: "How to contribute to #{view.repo.nwo}",
                  data: view.first_time_contributor_banner_data_attributes_click_contributing(
                    view: Issues::IndexView::PULL_REQUESTS,
                    banner_shows_all_issues: view.repo.has_issues?,
                    banner_shows_open_source_guide: false,
                    banner_shows_labels: false
                  )
                )
              %>
              <% unless view.user_has_any_pull_requests? %>
                or <%=
                  link_to(
                    "GitHub Help",
                    view.pull_request_help_url,
                    target: "_blank",
                    data: view.first_time_contributor_banner_data_attributes_click_help
                  )
                %>
              <% end %>
              to learn how to open a good pull request.
            <% elsif !view.user_has_any_pull_requests? %>
              Learn more about pull requests from <%=
                link_to(
                  "GitHub Help",
                  view.pull_request_help_url,
                  data: view.first_time_contributor_banner_data_attributes_click_help,
                  target: "_blank"
                )
              %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
