<%= form_tag gh_cleanup_pull_request_path(view.pull), :class => "#{ responsive? ? "ml-0 pl-0 ml-md-6 pl-md-3" : "ml-6 pl-3" } my-3 branch-action #{view.action_class} js-immediate-updates js-needs-timeline-marker-header" do %>
  <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
    <%= octicon('git-merge', :height => 32) %>
  </span>
  <div class="branch-action-body timeline-comment--caret">
    <div class="post-merge-message">
      <% if view.head_branch_deleteable? %>
        <div class="d-inline-block float-right">
          <div class="BtnGroup" <%= test_selector("fork-cleanup-split-button") %>>
            <button type="submit" class="btn BtnGroup-item" aria-expanded="false">
              Delete branch
            </button>
          </div>
        </div>
      <% end %>

      <div class="Details">
        <h4 class="merge-branch-heading">
          <% if view.head_branch_unsafely_deleteable? %>
            Closed with unmerged commits
          <% elsif view.head_branch_safely_deleteable? %>
            Pull request successfully merged and closed
          <% else %>
            Pull request closed
          <% end %>
        </h4>
        <p class="merge-branch-description">
          <% if view.head_branch_deleteable? %>
            <% if view.head_branch_safely_deleteable? %>
              You’re all set &mdash; the <%= view.head_label %> branch can be safely deleted.
            <% elsif view.head_branch_unsafely_deleteable? %>
              This pull request is closed, but the <%= view.head_label %> branch has unmerged commits. You can delete this branch if you wish.
            <% end %>

            <% if view.pull.head_repository.adminable_by?(current_user) %>
              <span <%= test_selector("fork-cleanup-single-button") %>>
                <br> If you wish, you can also delete this fork of <strong><%= view.pull.base_repository.nwo %></strong> in the <%= link_to "settings", edit_repository_path(view.pull.head_repository) + "?confirm_delete=yes" %>.
              </span>
            <% end %>
          <% elsif view.pull.head_repository.adminable_by?(current_user) %>
            <span <%= test_selector("fork-cleanup-single-button") %>>
              If you wish, you can delete this fork of <strong><%= view.pull.base_repository.nwo %></strong> in the <%= link_to "settings", edit_repository_path(view.pull.head_repository) + "?confirm_delete=yes" %>.
            </span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
<% end %>
