<%graphql
  fragment PullRequest on PullRequest {
    headRefName
    headRepositoryOwner {
      login
    }

    ...Views::PullRequests::BranchLabel::PullRequest
  }
%>
<%- pull = Views::PullRequests::HeadLabel::PullRequest.new(pull) -%>
<%= render "pull_requests/branch_label",
      pull: pull,
      login: pull.head_repository_owner&.login,
      ref_name: pull.head_ref_name  %>
