<div class="d-flex <% if responsive? %>my-2 mx-md-2 flex-md-justify-end<% else %>flex-justify-end m-2<% end %>">
  <% if GitHub.flipper[:show_draft_prs].enabled?(current_user) %>
    <div class="BtnGroup <% if responsive? %>width-full width-md-auto d-flex d-md-inline-block<% end %>">
      <button type="submit" class="btn btn-primary BtnGroup-item hx_create-pr-button js-sync-select-menu-button flex-auto" data-disable-invalid data-disable-with>Create pull request</button>
      <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
        <summary class="btn btn-primary BtnGroup-item select-menu-button float-none" data-disable-invalid data-disable-with aria-label="Select a type of pull request" <% unless current_repository.plan_supports?(:draft_prs) %>data-ga-load="Upgrade, load, location:compare page with a branch;text:Select a type of pull request" data-ga-click="Upgrade, click, location:compare page with a branch;text:Select a type of pull request"<% end %>></summary>
        <details-menu class="select-menu-modal position-absolute right-0 js-sync-select-menu-text" style="z-index: 99">
          <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="true">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <%= radio_button_tag :draft, "off", true %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading">Create pull request</span>
              <span class="description text-normal">
                <% if current_repository.codeowners? %>
                  Automatically requests reviews from code owners
                <% else %>
                  Open a pull request that is ready for review
                <% end %>
              </span>
              <span data-menu-button-text hidden>
                Create pull request
              </span>
            </div>
          </label>
          <% if current_repository.plan_supports?(:draft_prs) %>
            <label class="select-menu-item" tabindex="0" role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <%= radio_button_tag :draft, "on" %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Create draft pull request</span>
                <span class="description text-normal">
                  <% if current_repository.codeowners? %>
                    Doesn't request code owners review and cannot be merged
                  <% else %>
                    Cannot be merged until marked ready for review
                  <% end %>
                </span>
                <span data-menu-button-text hidden>
                  Draft pull request
                </span>
              </div>
            </label>
          <% elsif current_repository.in_organization? %>
            <div style="padding: 8px 8px 8px 30px;">
              <span class="select-menu-item-heading">Create draft pull request</span>
              <span class="text-normal">
                <% if current_repository.codeowners? %>
                  Doesn't request code owners review and cannot be merged
                <% else %>
                  Cannot be merged until marked ready for review
                <% end %>
              </span>
              <article class="d-flex flex-items-center flex-justify-between my-2 ml-n1">
                <%= image_tag "icons/marketing/blue/code_review.svg", width: 40, height: 40, alt: "Draft PRs" %>
                <div class="flex-auto mx-2">
                  <h1 class="h6 text-blue lh-condensed"><a href="<%= GitHub.help_url %>/github/collaborating-with-issues-and-pull-requests/about-pull-requests#draft-pull-requests" data-ga-click="Upgrade, click, location:compare page with a branch;text:Available to Team  and Enterprise organizations">Available to Team  and Enterprise organizations</a></h1>
                </div>
                <div>
                  <% if current_repository.owner == current_user %>
                    <%=
                      link_to "Upgrade",
                      plan_upgrade_path,
                      class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-1",
                      data: feature_gate_upsell_click_attrs(:draft_prs, user: current_user),
                      "data-ga-click": "Upgrade, click, location:compare page with a branch;text:Upgrade"
                    %>
                  <% elsif show_free_org_gated_feature_message?(current_repository, current_user) %>
                    <%=
                      link_to "Upgrade",
                      upgrade_path(
                        org: current_repository.owner,
                        plan: "business",
                        target: "organization"
                      ),
                      class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-1",
                      data: feature_gate_upsell_click_attrs(:draft_prs, user: current_user),
                      "data-ga-click": "Upgrade, click, location:compare page with a branch;text:Upgrade"
                    %>
                  <% end %>
                </div>
              </article>
            </div>
          <% end %>
        </details-menu>
      </details>
    </div>
  <% elsif current_repository.plan_supports?(:draft_prs) %>
    <div class="BtnGroup <% if responsive? %>width-full width-md-auto d-flex d-md-inline-block<% end %>">
      <button type="submit" class="btn btn-primary BtnGroup-item hx_create-pr-button js-sync-select-menu-button flex-auto" data-disable-invalid data-disable-with>Create pull request</button>
      <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
        <summary class="btn btn-primary BtnGroup-item select-menu-button float-none" data-disable-invalid data-disable-with aria-label="Select a type of pull request"></summary>
        <details-menu class="select-menu-modal position-absolute right-0 js-sync-select-menu-text" style="z-index: 99">
          <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="true">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <%= radio_button_tag :draft, "off", true %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading">Create pull request</span>
              <span class="description text-normal">
                <% if current_repository.codeowners? %>
                  Automatically requests reviews from code owners
                <% else %>
                  Open a pull request that is ready for review
                <% end %>
              </span>
              <span data-menu-button-text hidden>
                Create pull request
              </span>
            </div>
          </label>
          <label class="select-menu-item" tabindex="0" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <%= radio_button_tag :draft, "on" %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading">Create draft pull request</span>
              <span class="description text-normal">
                <% if current_repository.codeowners? %>
                  Doesn't request code owners review and cannot be merged
                <% else %>
                  Cannot be merged until marked ready for review
                <% end %>
              </span>
              <span data-menu-button-text hidden>
                Draft pull request
              </span>
            </div>
          </label>
        </details-menu>
      </details>
    </div>
  <% else %>
    <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>Create pull request</button>
  <% end %>
</div>
