<%# view is an instance of PullRequests::MergeButtonView %>

<%# sometimes we get here via the show_partial method in pull_requests_controller.
    In this case we'll have a pull (as 'merging'), but no view. %>

<% view ||= PullRequests::MergeButtonView.new(:pull => merging, :merge_type => (defined?(merge_type) && merge_type), :current_user => current_user, :commit_title => params[:commit_title], :commit_message => params[:commit_message]) %>
<% head_label = pull_branch_label(view.pull, :head, expandable: false, extra_classes: "commit-ref css-truncate user-select-contain") %>

<div id="partial-pull-merging" class="pull-merging js-pull-merging js-socket-channel js-updatable-content<%= local_assigns[:merging_error] ? " is-error" : ""%>"
     aria-live="polite"
     data-channel="<%= view.channels.map { |name| live_update_view_channel(name) }.join(" ") %>"
     data-url="<%= show_partial_pull_request_path(:id => view.pull, :partial => "pull_requests/merging", :merge_type => view.merge_method, :commit_title => view.commit_title, :commit_message => view.commit_message) %>">

  <% if view.show_merge_area? %>
    <% status = view.pull.combined_status %>
    <h2 class="sr-only">Merge state</h2>
    <div class="merge-pr js-merge-pr js-details-container Details <%= view.merge_area_status_class %>"
      <% if status.any? %>data-favicon-override="<%= site_favicon(status.state) %>"<% end %>>
      <% if view.head_pushable? %>
         <p class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> my-3 text-gray">Add more commits by pushing to the <code><%= link_to(view.display_head_ref, tree_path("", view.head_ref, view.head_repo), :class => "text-emphasized") %></code> branch on <%= link_to(view.head_repo.nwo, repository_path(view.head_repo), :class => "text-emphasized") %>.</p>
      <% end %>

      <%= render :partial => "pull_requests/deployments_box_wrapper", :locals => { :pull => view.pull } %>

      <%= render :partial => "pull_requests/merge_button", :locals => { :view => view } %>
    </div>
  <% else %>
    <%= render :partial => "pull_requests/deployments_box_wrapper", :locals => { :pull => view.pull } %>
  <% end %>

  <% if view.fork_deleteable? %>
    <%= render_partial_view "pull_requests/fork_cleanup", PullRequests::ForkCleanupView, pull: view.pull, head_branch_deleteable: view.head_branch_deleteable?, head_label: head_label %>
  <% elsif view.head_branch_deleteable? %>
    <%= render :partial => "pull_requests/branch_cleanup", :locals => { :pull => view.pull, cleanup_did_error: !!local_assigns[:merging_error], head_label: head_label } %>
  <% end %>

  <%# Hidden state to indicate if the "Restore" button should be visible. See restore_branch.coffee %>
  <% if view.head_branch_restoreable? %>
    <span id="js-pull-restorable" class="d-none"></span>
  <% end %>

  <% merging_error = local_assigns[:merging_error] || Hash.new %>
  <%= render partial: "pull_requests/merging_error", locals: { title: merging_error[:title], message: merging_error[:message], hook_output: merging_error[:hook_output], unretryable: merging_error[:unretryable] } %>
</div>
