<%# view is an instance of PullRequests::MergeButtonView %>
<%
  user ||= current_user
  pull = view.pull
  state = view.merge_state
  user_emails = user.author_emails

  form_class = "merge-branch-form js-merge-pull-request " +
    "js-immediate-updates js-tryable-again js-needs-timeline-marker-header " +
    view.admin_override_classes
%>

<%= form_tag merge_queue_entries_path(user, pull.repository), method: :post, class: form_class do %>
  <input type="hidden" name="commit_title" class="js-merge-title" value="<%= view.default_commit_title %>">
  <input type="hidden" name="pull_number" value="<%= pull.number %>">
  <textarea
    hidden
    name="commit_message"
    id="merge_message_field"
    class="js-merge-message"
    aria-label="Commit message">
      <%= params[:commit_message] || view.default_commit_message %>
  </textarea>
  <%= avatar_for user, 44, :class => "commit-form-avatar float-left rounded-1" %>
  <div class="commit-form position-relative p-3 mb-2 border rounded-1">
    <% if view.admin_override_possible? %>
      <%
        initially_hidden = case view.merge_method
        when :merge
          !view.can_override_merge_commit?
        when :squash
          !view.can_override_squash_merge?
        when :rebase
          !view.can_override_rebase_merge?
        end
      %>
      <p class="js-admin-override" <% if initially_hidden %>hidden<% end %>>
        <label>
          <input type="checkbox" class="js-merge-button-toggle" name="admin_override" value="1">
          Use your administrator privileges to merge this pull request.
        </label>
      </p>
    <% end %>

    <div class="commit-form-actions">

      <% button_verb   = state.has_pre_receive_hooks?   ? "Attempt" : "Confirm" %>
      <% disable_text  = state.has_pre_receive_hooks?   ? "Attempting to merge…" : "Merging…" %>

      <div class="select-menu d-inline-block">
        <div class="BtnGroup btn-group-merge-solo">
          <button
            class="btn btn-primary BtnGroup-item js-merge-commit-button"
            name="merge_method" value="solo"
            data-disable-with="<%= disable_text %>"
            type="<%= view.merge_method == :merge ? "button" : "submit" %>"
            <%= test_selector("solo-merge") %>>
            <%= button_verb %> queue and force solo merge
          </button>
        </div>

        <div class="BtnGroup btn-group-merge-group">
          <button
            class="btn btn-primary BtnGroup-item js-merge-commit-button"
            name="merge_method" value="group"
            data-disable-with="<%= disable_text %>"
            type="<%= view.merge_method == :merge ? "submit" : "button" %>"
            <%= test_selector("group-merge") %>>
            <%= button_verb %> add to merge queue
          </button>
        </div>

        <button
          data-disable-with="Cancel"
          type="button"
          class="btn js-details-target"
          aria-expanded="true"
        >
          Cancel
        </button>
      </div>

      <% if state.has_pre_receive_hooks? %>
        <p class="mt-2 mb-0">
          <strong>Note:</strong> This repository’s pre-receive hooks may prevent merging. We’ll let you know.
        </p>
      <% end %>
    </div>
  </div>
<% end %>
