<%# See Also: merging_error.js %>

<% title ||= "Couldn’t update branch" %>
<% hook_output ||= nil %>

<% message ||= if unretryable %>
  <% "Refresh the page and try again." %>
<% else %>
  <% "Oops, something went wrong." %>
<% end %>

<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> my-3 branch-action branch-action-state-error pull-merging-error">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-block<% end %>">
    <%= octicon('git-merge', :height => 32) %>
  </span>
  <div class="branch-action-body timeline-comment--caret p-3">
    <% unless unretryable %>
      <button class="btn float-right js-merge-box-try-again" type="button">
        <%= octicon('sync') %>
        Try again
      </button>
    <% end %>
    <h4 class="merge-branch-heading"><%= title %></h4>
    <p class="merge-branch-description"><%= message %></p>
    <% if hook_output %><pre class="merge-branch-prh-output"><%= hook_output %></pre><% end %>
  </div>
</div>
