<details class="details-reset details-overlay d-inline-block position-relative">
  <%= content_tag :summary, class: "btn btn-sm float-none",
      data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "EXPAND", client_type: "ANY") do %>
    Open with
    <span class="dropdown-caret"></span>
  <% end %>

  <%-
    active_tab = PullRequestCheckoutPreference.new(current_user, parsed_useragent.platform).get
  -%>

  <%-
    tab_container_width = show_open_with_codespaces_tab? ? "462px" : "310px"
  -%>

  <tab-container class="mt-1 position-absolute Box box-shadow-medium text-gray-dark right-0" style="width:<%= tab_container_width %>; z-index:81">
    <%= form_tag user_update_checkout_preference_path, remote: true do %>
      <div class="UnderlineNav px-3" role="tablist">
        <div class="UnderlineNav-body">
          <%= button_tag class: "UnderlineNav-item flex-1 btn-link js-remove-unless-platform", type: "submit", name: "type", value: "desktop",
              role: "tab", "aria-selected": active_tab == "desktop", "data-platforms": "windows,mac",
              data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "SELECT", client_type: "DESKTOP") do %>
            GitHub Desktop
          <%- end -%>
          <%= button_tag class: "UnderlineNav-item flex-1 btn-link", type: "submit", name: "type", value: "cli",
              role: "tab", "aria-selected": active_tab == "cli",
              data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "SELECT", client_type: "CLI") do %>
            GitHub CLI
            <%= render GitHub::BetaFlagComponent.new(ml: 1) %>
          <% end %>
          <% if show_open_with_codespaces_tab? %>
            <%= button_tag class: "UnderlineNav-item flex-1 btn-link", type: "submit", name: "type", value: "codespaces",
                role: "tab", "aria-selected": active_tab == "codespaces",
                data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "SELECT", client_type: "CODESPACES") do %>
              Codespaces
              <%= render GitHub::BetaFlagComponent.new(ml: 1) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div role="tabpanel" class="p-3 js-remove-unless-platform" <% unless active_tab == "desktop" %>hidden<% end %> data-platforms="windows,mac">
      <p class="text-gray text-small mb-3">
        This will clone the repository (if you haven't already) and check
        out the <code class="text-gray-dark"><%= pull.display_head_ref_name %></code> branch.
      </p>
      <%= link_to app_clone_url(current_repository, pull), class: "btn btn-outline",
          data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "OPEN", client_type: "DESKTOP") do %>
        Open in Desktop
      <% end %>
    </div>

    <div role="tabpanel" class="p-3" <% unless active_tab == "cli" %>hidden<% end %>>
      <p class="text-gray text-small js-show-for-platform" data-platforms="mac" hidden>
        <strong>Step 1:</strong>
        Install GitHub CLI
      </p>
      <div class="copyable-terminal mb-3 js-show-for-platform" data-platforms="mac" hidden>
        <div class="copyable-terminal-button">
          <clipboard-copy for="checkout-cli-help-step-1" aria-label="Copy to clipboard" class="btn btn-sm zeroclipboard-button" data-copy-feedback="Copied!" tabindex="0" role="button">
            <%= octicon "clippy" %>
          </clipboard-copy>
        </div>
        <pre id="checkout-cli-help-step-1" class="copyable-terminal-content">
<span class="user-select-contain">brew install github/gh/gh</span></pre>
      </div>
      <p class="text-gray text-small">
        <strong class="js-show-for-platform" data-platforms="mac" hidden>Step 2:</strong>
        Run in your project repository
      </p>
      <div class="copyable-terminal">
        <div class="copyable-terminal-button">
          <%= content_tag :"clipboard-copy", for: "checkout-cli-help-step-2",
            class: "btn btn-sm zeroclipboard-button", role: "button", tabindex: "0",
            "aria-label": "Copy to clipboard", "data-copy-feedback": "Copied!",
            data: hydro_click_tracking_attributes("pull_request.local_checkout", action: "COPY", client_type: "CLI") do %>
            <%= octicon "clippy" %>
          <% end %>
        </div>
        <pre id="checkout-cli-help-step-2" class="copyable-terminal-content">
<span class="user-select-contain">gh pr checkout <%= pull.number %></span></pre>
      </div>
      <a class="mt-3 text-small d-block js-show-for-platform" data-platforms="mac" href="https://github.com/cli/cli#installation" hidden>
        Install GitHub CLI manually
      </a>
      <a class="btn btn-outline btn-sm mt-3 js-hide-for-platform" data-platforms="mac" href="https://github.com/cli/cli#installation">
        How to install GitHub CLI
      </a>
    </div>
    <% if show_open_with_codespaces_tab? %>
      <div role="tabpanel" <% unless active_tab == "codespaces" %>hidden<% end %>>
        <%
          query = Codespaces::Query.new(
            current_user: current_user,
            repository: current_repository,
            pull_request: pull,
          )
          locations_url = Codespaces::Azure.vso_locations_url(current_user)
          SecureHeaders.append_content_security_policy_directives(
            request,
            connect_src: [locations_url]
          )
        %>
        <% if query.codespaces.any? %>
          <ul class="list-style-none" role="menu">
            <include-fragment src="<%= codespaces_path(
              event_target: "PULL_REQUEST_PAGE_DROPDOWN",
              pr_dropdown: true,
              repo: pull.head_repository.id,
              codespace: {
                pull_request_id: pull.id,
                ref: pull.head_ref
              }
              ) %>" class="SelectMenu-loading" aria-label="Menu is loading">
              <%= octicon("octoface", class: "anim-pulse", height: 32) %>
            </include-fragment>
          </ul>
        <% else %>
          <div class="p-3">
            <p>Open this pull request's branch in Codespaces, a fully-featured dev environment inside of GitHub. <a href="<%= GitHub.help_url %>/en/github/developing-online-with-codespaces/about-codespaces">Learn more</a></p>
            <%= render Codespaces::ForkUpFrontWarningComponent.new(
                user: current_user,
                repository: pull.head_repository,
                ref: pull.head_ref,
                font_size: 6, mb: 3, p: 2) %>
            <%- pr_codespace = current_user.codespaces.build(repository: pull.head_repository, pull_request_id: pull.id) -%>
            <%= render Codespaces::CreateButtonComponent.new(
                codespace: pr_codespace,
                btn_class: "btn btn-outline",
                data: create_codespace_attributes(codespace: pr_codespace, target: "PULL_REQUEST_PAGE_DROPDOWN")
            ) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </tab-container>
</details>
