<%# erblint:counter TooltipCounter 3 %>
<%# Review status displayed in PR list issue meta %>

<% if pull_request.draft? %>
  <span class="d-inline-block">
    &bull;
    <a class="muted-link"
        href="<%= pull_request_path(pull_request) %>#partial-pull-merging">
      Draft
    </a>
  </span>
<% elsif review_decision = pull_request.review_decision(viewer: current_user) %>
  <span class="d-inline-block">
    <% if review_decision == :changes_requested %>&bull;
      <a class="muted-link tooltipped tooltipped-s"
         aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:changes_requested), 'review') %> requesting changes"
         href="<%= pull_request_path(pull_request) %>#partial-pull-merging">
        Changes requested
      </a>
    <% elsif review_decision == :approved %>&bull;
      <a class="muted-link tooltipped tooltipped-s"
         aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:approved), 'review approval') %>"
         href="<%= pull_request_path(pull_request) %>#partial-pull-merging">
        Approved
      </a>
    <% elsif review_decision == :review_required %>&bull;
      <a class="muted-link tooltipped tooltipped-s"
         aria-label="Review required before merging"
         href="<%= pull_request_path(pull_request) %>#partial-pull-merging">
        Review required
      </a>
    <% end %>
  </span>
<% end %>
