<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment PullRequestReview on PullRequestReview {
    id
    authorCanPushToRepository

    pullRequest {
      state
      resourcePath
      headRef { target { oid } }

      viewerDidAuthor

      ...Views::PullRequests::CommentFormField::PullRequest
    }
  }
%>
<%- review = Views::PullRequests::ReviewsSubmitDiscussion::PullRequestReview.new(review) -%>
<div class="TimelineItem-body">
  <div class="review-summary-form-wrapper ml-n3 mb-0">
    <%= form_tag "#{review.pull_request.resource_path}/reviews", method: :put do %>
      <%= hidden_field_tag "head_sha", review.pull_request.head_ref&.target&.oid %>

      <%= render "pull_requests/comment_form_field",
            pull: review.pull_request,
            caret: true,
            field_name: "pull_request_review[body]",
            textarea_id: "pending_pull_request_review_#{review.id}",
            required: false %>

      <% if review.pull_request.state.open? %>
        <div class="form-checkbox mx-3 mb-2 mt-0">
          <label class="d-block">
            <input type="radio" name="pull_request_review[event]" value="comment" checked>
            Comment
            <p class="text-normal text-gray-light">Submit general feedback without explicit approval.</p>
          </label>
        </div>

        <div class="form-checkbox mx-3 my-2">
          <% if review.pull_request.viewer_did_author? %>
            <label class="d-block text-gray-light tooltipped tooltipped-ne tooltipped-no-delay tooltipped-left" aria-label="Pull request authors can’t approve their own pull request">
          <% else %>
            <label class="d-block">
          <% end %>
            <input type="radio" name="pull_request_review[event]" value="approve" <%= "disabled" if review.pull_request.viewer_did_author? %>>
            Approve
            <% if review.author_can_push_to_repository? %>
              <p class="text-normal text-gray-light">Submit feedback and approve merging these changes.</p>
            <% else %>
              <p class="text-normal text-gray-light">Submit feedback approving these changes.</p>
            <% end %>
          </label>
        </div>

        <div class="form-checkbox mx-3 my-2">
          <% if review.pull_request.viewer_did_author? %>
            <label class="d-block text-gray-light tooltipped tooltipped-ne tooltipped-no-delay tooltipped-left" aria-label="Pull request authors can’t request changes on their own pull request">
          <% else %>
            <label class="d-block">
          <% end %>
            <input type="radio" name="pull_request_review[event]" value="reject" <%= "disabled" if review.pull_request.viewer_did_author? %>>
            Request changes
            <% if review.author_can_push_to_repository? %>
              <p class="text-normal text-gray-light">Submit feedback that must be addressed before merging.</p>
            <% else %>
              <p class="text-normal text-gray-light">Submit feedback suggesting changes.</p>
            <% end %>
          </label>
        </div>
      <% else %>
        <input type="hidden" name="pull_request_review[event]" value="comment">
      <% end %>

      <div class="form-actions p-2 m-0 bg-gray-light border-top">
        <button type="submit" class="btn btn-sm btn-primary float-left" data-disable-with>
          Submit review
        </button>

        <button type="submit"
            class="btn btn-sm mr-1 review-cancel-button float-left ml-1" name="cancel" value="1"
            data-confirm="Are you sure you want to cancel? You will lose all your pending comments." data-disable-with>
          Cancel review
        </button>
      </div>
    <% end %>
  </div>
</div>
