<%# rubocop:disable Lint/InstanceVariable %>
<% pull_node = defined?(pull_node) ? pull_node : nil %>

<%= render "issues/sidebar", issue: @pull.issue, issue_node: pull_node, discussion_categories: [] %>
