<% if pull_comparison.range? %>
  <div class="subset-files-tab js-reset-filters">
<% else %>
  <div class="subset-files-tab js-reset-filters" hidden>
<% end %>
  <a class="text-bold text-blue no-underline ml-2" href="<%= pull_request_path(pull_comparison.pull) %>/files">
    <%= octicon "x", class: "text-gray", height: "14"  %> <span>Clear filters</span>
  </a>
</div>
