<%# erblint:disable LandmarkHasLabel %>
<%# erblint:counter TooltipCounter 1 %>
<% lazy_load_diff ||= false %>
<% diffs = pull.historical_comparison.init_diffs unless lazy_load_diff %>

<div class="tabnav tabnav-pr">
  <% if !lazy_load_diff && diffs.summary.available? %>
    <div class="tabnav-extra float-right <% if responsive? %>d-none d-md-block<% end %>">
      <span class="diffstat" id="diffstat">
        <span class="text-green">
          +<%= number_with_delimiter(diffs.additions) %>
        </span>
        <span class="text-red">
          −<%= number_with_delimiter(diffs.deletions) %>
        </span>
        <span class="tooltipped tooltipped-s" aria-label="<%= number_with_delimiter(diffs.changes) %> lines changed">
          <%= format_diffstat_line(diffs, 5) %>
        </span>
      </span>
    </div>
  <% end %>

  <nav class="tabnav-tabs <% if responsive? %>d-flex overflow-auto<% end %>">
    <% if !tab_specified?(:discussion) && !prefetch? && !skip_pjax_container? %>
      <link rel="pjax-prefetch" href="<%= gh_show_pull_request_path(pull) %>">
    <% end %>

    <a href="<%= gh_show_pull_request_path(pull) %>" class="tabnav-tab <% if responsive? %>flex-shrink-0<% end %> <% if tab_specified?(:discussion) %>selected<% end %> js-pjax-history-navigate">
      <%= octicon "comment-discussion", class: class_names("d-none d-md-inline-block" => responsive?) %>
      Conversation

      <%= render Primer::CounterComponent.new(id: "conversation_tab_counter", count: pull.total_comments) %>
    </a>

    <a href="<%= gh_show_pull_request_path(pull) %>/commits" class="tabnav-tab <% if responsive? %>flex-shrink-0<% end %> <% if tab_specified?(:commits) %>selected<% end %> js-pjax-history-navigate">
      <%= octicon "git-commit", class: class_names("d-none d-md-inline-block" => responsive?) %>
      Commits

      <%= render Primer::CounterComponent.new(id: "commits_tab_counter", count: pull.corrupt? ? Float::INFINITY : pull.changed_commits.size, limit: GitHub::Comparison::DEFAULT_COMMIT_LIMIT, classes: "js-updateable-pull-request-commits-count") %>
    </a>

    <% unless current_repository.advisory_workspace? %>
      <a href="<%= gh_show_pull_request_path(pull) %>/checks" class="tabnav-tab <% if responsive? %>flex-shrink-0<% end %> <% if tab_specified?(:checks) %>selected<% end %>" data-skip-pjax>
        <%= octicon "checklist", class: class_names("d-none d-md-inline-block" => responsive?) %>
        Checks

        <%= render Primer::CounterComponent.new(id: "checks_tab_counter", count: pull.corrupt? ? nil : pull.latest_check_runs_count) %>
      </a>
    <% end %>

    <% if !tab_specified?(:files) && !prefetch? && !skip_pjax_container? %>
      <link rel="pjax-prefetch" href="<%= gh_show_pull_request_path(pull) %>/files">
    <% end %>
    <a href="<%= gh_show_pull_request_path(pull) %>/files" class="tabnav-tab <% if responsive? %>flex-shrink-0<% end %> <% if tab_specified?(:files) %>selected<% end %> js-pjax-history-navigate">
      <%= octicon "diff", class: class_names("d-none d-md-inline-block" => responsive?) %>
      Files changed

      <% if !lazy_load_diff %>
        <%= render Primer::CounterComponent.new(id: "files_tab_counter", count: diffs.summary.available? ? diffs.summary.changed_files : Float::INFINITY) %>
      <% end %>
    </a>
  </nav>
</div>
