<%graphql
  fragment PullRequest on PullRequest {
    id
    websocket(channel: UPDATED)

    ...Views::Timeline::FirstPage::TimelineOwner

    timeline: timelineItems(first: 1, visibleEventsOnly: true) {
      updatedAt
    }
  }
%>
<%- pull_request = Views::PullRequests::Timeline::PullRequest.new(pull_request) -%>

<%= render "timeline/first_page",
      timeline_owner: pull_request,
      render_progressive_loader: local_assigns.fetch(:render_progressive_loader, true) %>

<!-- Rendered timeline since <%= pull_request.timeline.updated_at.to_s(:db) %> -->
<div id="partial-timeline"
      class="js-timeline-marker js-socket-channel js-updatable-content"
      data-channel="<%= live_update_view_channel(pull_request.websocket) %>"
      data-url="<%=
        show_node_partial_path(path: "pull_requests/unread_timeline", id: pull_request.id, variables: {
          timelineSince: pull_request.timeline.updated_at.iso8601,
          timelinePageSize: initial_timeline_page_size,
          syntaxHighlightingEnabled: syntax_highlighted_diffs_enabled?,
          hasFocusedReviewThread: "false",
          hasFocusedReviewComment: "false"
        })
      %>"
      data-last-modified="<%= pull_request.timeline.updated_at.httpdate %>"
      data-gid="<%= pull_request.id %>">
  <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-timeline-marker-form" do %>
    <input type="hidden" name="variables[subjectId]" value="<%= pull_request.id %>">
  <% end %>
</div>
