<%graphql
  fragment PullRequest on PullRequest {
    ...Views::PullRequests::Timeline::PullRequest
  }
%>
<%-
  pull_request = Views::PullRequests::UnreadTimeline::PullRequest.new(pull_request)
  mark_comments_as_unread!
-%>
<%= render "pull_requests/timeline", pull_request: pull_request, render_progressive_loader: false %>
