<%= form_tag update_branch_pull_request_path(id: pull), :method => :post, :class => "branch-action-btn float-right js-immediate-updates js-tryable-again js-needs-timeline-marker-header" do %>
  <input type="hidden" name="expected_head_oid" value="<%= pull.head_sha %>">
  <% check_result = pull.updateability.check_mergeability(current_user) %>
  <button type="submit" data-disable-with="Updating branch&hellip;"
    <% if check_result.success? %>
      class="btn"
    <% elsif check_result.failure_reason == "This is a draft pull request." %>
      class="btn"
    <% else %>
      class="btn tooltipped tooltipped-s tooltipped-multiline"
      disabled aria-label="<%= check_result.failure_reason %>"
    <% end %>
  >
    Update branch
  </button>
<% end %>
