<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  attribution = @pull.user ? " by #{@pull.user}" : ""
  page_info \
    title: "Commit range not found · Pull Request ##{@pull.number} · #{current_repository.name_with_owner}",
    container_xl: true,
    responsive: false,
    selected_link: :repo_pulls,
    dashboard_pinnable_item_id: @pull.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="container">
    <%= render :partial => 'comments/title', :locals => {
      :pull         => @pull,
      :comment      => @pull.issue,
      :issue        => @pull.issue,
      :title        => @pull.title.blank? ? "Untitled" : @pull.title,
      :admin        => can_modify_issue?(@pull.issue),
      :form_path    => "/#{current_repository.name_with_owner}/issues/#{@pull.issue.number}",
      :undeleteable => true
    } %>
    <%= render :partial => "pull_requests/tabs", :locals => { :pull => @pull } %>

    <div class="blankslate blankslate-large blankslate-spacious">
      <%= octicon("telescope", :height => 40, :class => "blankslate-icon") %>
      <h3>We went looking everywhere, but couldn’t find those commits.</h3>
      <p>Sometimes commits can disappear after a force-push. Head back to the <a href="<%= "#{pull_request_path(@pull)}/files" %>">latest changes here</a>.</p>
    </div>
  </div>
<% end %>
