<%# rubocop:disable Lint/InstanceVariable %>
<%graphql
  fragment PullRequest on PullRequest {
    timelineWebsocket: websocket(channel: TIMELINE)

    ...PullRequestsHelper::PageInfoFragment::PullRequest
    ...Views::PullRequests::Discussion::PullRequest
  }
%>
<%-
  pull_node = Views::PullRequests::Conversation::PullRequest.new(pull_node)
  pull_request_page_info(pull_node)
-%>

<!-- base sha1: <%= @pull.base_sha.inspect %> -->
<!-- head sha1: <%= @pull.head_sha.inspect %> -->

<%= render layout: "issues/issues" do %>
  <%= render "files/signup_prompt", source: "prompt-pr-show" %>

  <% if @pull.review_requested_for?(current_user) && @pull.open?%>
    <%= render partial: "pull_requests/review_request_banner", locals: { pull: @pull } %>
  <% end %>

  <%= render :partial => 'pull_requests/track_refresh', :locals => { pull_request: @pull, tab_context: :conversation } %>

  <div class="clearfix js-issues-results">
    <%= render :partial => 'comments/title', :locals => {
      :pull         => @pull,
      :comment      => @pull.issue,
      :issue        => @pull.issue,
      :title        => @pull.title.blank? ? "Untitled" : @pull.title,
      :admin        => can_modify_issue?(@pull.issue),
      :form_path    => "/#{current_repository.name_with_owner}/issues/#{@pull.issue.number}",
      :undeleteable => true,
      :sticky       => true
    } %>

    <%= render :partial => "pull_requests/lazy_tabs", :locals => { :pull => @pull } %>

    <h2 class="sr-only">Conversation</h2>
    <div id="discussion_bucket"
          class="pull-request-tab-content is-visible js-socket-channel js-updatable-content"
          data-channel="<%= live_update_view_channel(pull_node.timeline_websocket) %>">
      <%= render "pull_requests/discussion", pull_node: pull_node %>
    </div>
  </div>
  <%= render :partial => "comments/suggested_changes_validation" %>
<% end %>
