<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
    attribution = @pull.user ? " by #{@pull.user}" : ""
    page_info \
    title: "#{@pull.title}#{attribution} · Pull Request ##{@pull.number} · #{current_repository.name_with_owner}",
    container_xl: true,
    responsive: false,
    selected_link: :repo_pulls,
    description: @pull.body_text,
    dashboard_pinnable_item_id: @pull.global_relay_id,
    richweb: {
      title: "#{@pull.title}#{attribution} · Pull Request ##{@pull.number} · #{current_repository.name_with_owner}",
      url: "#{GitHub.url}#{issue_permalink_path(@pull.issue)}",
      description: truncate(@pull.body_text, :length => 240),
      image: avatar_url_for(@pull.safe_user, 400)
    }
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="position-relative" data-pjax>
    <div id="files_bucket" class="files-bucket clearfix pull-request-tab-content is-visible">
      <div class="container">
        <%= render :partial => 'comments/title', :locals => {
          :pull         => @pull,
          :comment      => @pull.issue,
          :issue        => @pull.issue,
          :title        => @pull.title.blank? ? "Untitled" : @pull.title,
          :admin        => can_modify_issue?(@pull.issue),
          :form_path    => "/#{current_repository.name_with_owner}/issues/#{@pull.issue.number}",
          :undeleteable => true
        } %>
        <%= render :partial => "pull_requests/tabs", :locals => { :pull => @pull } %>
      </div>

      <div class="container">
        <div class="blankslate">
          <%= octicon("alert", height: 32, :class => "blankslate-icon") %>
          <h3>Sorry, this diff is unavailable.</h3>
          <p>The repository may be missing relevant data. Please <a href="<%= contact_path %>">contact support</a> for more information.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
