<div class="clearfix col-6 mx-auto pt-3">
  <style>
    .discussion-timeline-dev::before {
      background: none;
    }
  </style>

  <h3>Merge button matrix</h3>

  <div class="discussion-timeline discussion-timeline-dev mb-3 mt-2">
    <% current_repository.pull_requests.each do |pull| %>
      <h4><%= link_to pull.title, pull %></h4>

      <div style="margin-top: 10px; margin-bottom: 10px">
        <%= render_partial_view "pull_requests/merging", PullRequests::MergeButtonView, :pull => pull, :commit_title => params[:commit_title], :commit_message => params[:commit_message] %>
      </div>
    <% end %>
  </div>
</div>
