<%# erblint:counter TooltipCounter 4 %>
<%= form_for pending_vulnerable_version, url: url do |f| %>
  <div class="d-flex">
      <%= f.text_group "Affects", :affects, {
        placeholder: "e.g. rails, express",
        error: error_for(f.object, :affects)
      } %>

    <span class="tooltipped tooltipped-multiline tooltipped-n mt-6" aria-label="The Affects field must not contain whitespace">
      <%= octicon("info", class: "text-gray-light") %>
    </span>
  </div>

  <div class="d-flex">
    <%= f.select_group "Ecosystem", :ecosystem, ::AdvisoryDB::Ecosystems.database_enum,
    { include_blank: true },
    { error: error_for(f.object, :ecosystem) }
    %>

    <span class="tooltipped tooltipped-multiline tooltipped-n ml-2 mt-6" aria-label="Ecosystem is the package manager/language for the package">
      <%= octicon("info", class: "text-gray-light") %>
    </span>
  </div>

  <div class="d-flex">
    <%= f.text_group "Requirements", :requirements, {
      placeholder: "e.g. ~>5.0.5, <5.0.9",
      error: error_for(f.object, :requirements)
    } %>

    <span class="tooltipped tooltipped-multiline tooltipped-n mt-6" aria-label="The Requirements field must strictly follow one of these patterns, including whitespace: `= 1.0`, `< 1.2.3`, `>= 1.0, < 1.5`">
      <%= octicon("info", class: "text-gray-light") %>
    </span>
  </div>

  <div class="d-flex">
    <%= f.text_group "Fixed in", :fixed_in, {
      placeholder: "e.g. 5.1.6.1",
      error: error_for(f.object, :fixed_in)
    } %>

    <span class="tooltipped tooltipped-multiline tooltipped-n mt-6" aria-label="The Fixed in field is optional.  If a patch version is not available, leave it blank, otherwise set to the first patch version for requirements.">
      <%= octicon("info", class: "text-gray-light") %>
    </span>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn">Save</button>
  </div>
<% end %>
