<% page_info \
     title: "Discussion ##{this_discussion.number}",
     selected_link: :discussions %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Discussions",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      <%= link_to \
            "Discussion ##{this_discussion.number}",
            gh_stafftools_repository_discussion_path(this_discussion) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: {record: this_discussion, blacklist: ["body"]} %>
</div>
