<% page_info title: "Discussions" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Discussions</h2>
  </div>

  <% if discussions.any? %>
    <table class="site-admin-table">
      <% discussions.each do |discussion| %>
        <tr>
          <td class="tiny">
            <%= discussion_icon(discussion) %>
          </td>
          <td class="tiny">
            <%= link_to "##{discussion.number}", gh_stafftools_repository_discussion_path(discussion) %>
          </td>
          <td>
            Created by <%= link_to discussion.author, stafftools_user_path(discussion.author) %>
          </td>
          <td class="right-align">
            <%= discussion.created_at %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate discussions, params: { user_id: params[:user_id], repository: params[:repository] } %>
    </div>

  <% else %>
    <p class="site-admin-blankstate">
      No discussions.
    </p>
  <% end %>
</div>
