<%
verb = this_discussion.locked? ? "unlock" : "lock"
next_state = (verb == "unlock" ? "lock" : "unlock")
lock_unlock_path = if verb == "lock"
  gh_database_stafftools_repository_discussion_lock_path(this_discussion)
else
  gh_database_stafftools_repository_discussion_unlock_path(this_discussion)
end
%>

<% page_info \
     title: "Discussion ##{this_discussion.number}",
     selected_link: :discussions %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Discussions",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      Discussion #<%= this_discussion.number %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>State</th>
        <td>
          <%= this_discussion.state %>
          <% if this_discussion.locked? %>
            &ndash; discussion locked
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Creator</th>
        <td>
          <% if this_discussion.user %>
            <%= link_to this_discussion.user, stafftools_user_path(this_discussion.user) %>
            <% if this_discussion.user.spammy? %>
              &ndash;
              <%= octicon(:alert, class: "error") %>
              flagged as spam
            <% end %>
          <% else %>
            account has been deleted
          <% end %>
        </td>
      </tr>
      <% if this_discussion.issue %>
        <tr>
          <th>Created from Issue</th>
          <td>
            <%= link_to \
                  "Issue ##{this_discussion.issue.number}",
                  gh_stafftools_repository_issue_path(this_discussion.issue) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>Comments</th>
        <td>
          <% if this_discussion.comment_count > 0 %>
            <%= link_to \
                  pluralize(this_discussion.comment_count, "comment"),
                  gh_stafftools_repository_discussion_comments_path(this_discussion) %>
          <% else %>
            No comments
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Subscriptions</th>
        <td>
          <%= link_to \
                "View subscriptions and ignores",
                gh_stafftools_repository_discussion_subscriptions_path(this_discussion) %>
        </td>
      </tr>
      <tr>
        <th>Discussion</th>
        <td><%= link_to "View discussion", discussion_url_to_main_site(this_discussion) %></td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_discussion_path(this_discussion),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: audit_log_data[:query],
          logs: audit_log_data[:logs],
          more_results: audit_log_data[:more_results],
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <% if notifications_view.show_splunk_links?(current_user) %>
    <%= render(
        partial: "stafftools/repositories/notifications_splunk_table",
        locals: { view: notifications_view }
      )
    %>
  <% else %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        Notifications
      </h2>
    </div>

    <%= render(
          partial: "stafftools/discussion_comments/notifications",
          locals: { notification_deliveries: notification_deliveries }
        )
    %>
  <% end %>


  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading"><%= verb.capitalize %> discussion</h2>
  </div>

  <p>
    <%= verb.capitalize %> this discussion and its comments.
  </p>

  <% if GitHub.guard_audit_log_staff_actor? %>
    <p>
      This <strong>should not</strong> be used as a tool for content moderation, spam, or abuse
    </p>
  <% end %>

  <%= render layout: "shared/details_dialog", locals: {
    button_text: "#{verb.capitalize} discussion",
    button_class: "btn btn-danger",
    title: "#{verb.capitalize} conversation on this discussion",
  } do %>
    <div class="Box-body overflow-auto">
      <ul class="ml-3 mb-3 ">
        <% if verb == "lock" %>
          <li>Users <strong>won’t be able to add new comments</strong> to this discussion.</li>
          <% if current_repository.in_organization? %>
            <li>
              Members of teams with
              <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">write access</a>
              to this repository <strong>can still leave comments</strong> that others can see.
            </li>
          <% else %>
            <li>
              Collaborators
              <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">with access</a>
              to this repository <strong>can still leave comments</strong> that others can see.
            </li>
          <% end %>
        <% else %>
          <li><strong>Everyone</strong> will be able to comment on this discussion once more.</li>
        <% end %>
        <li>You can always <%= next_state %> this discussion again in the future.</li>
      </ul>

      <%= form_tag lock_unlock_path, method: :put do %>
        <button type="submit" class="btn btn-danger btn-block">
          <%= verb.capitalize %> conversation on this discussion
        </button>
      <% end %>
    </div>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Delete discussion</h2>
  </div>

  <p>
    Delete this discussion and its comments.
    This action <strong>cannot be undone.</strong>
  </p>

  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Delete discussion",
    button_class: "btn btn-danger",
    title: "Delete discussion?",
  } do %>
    <div class="Box-body overflow-auto">
      <p>
        All comments made on this discussion will also be deleted.<br>
        This action <strong>cannot be undone.</strong>
      </p>
      <%= form_tag \
            gh_stafftools_repository_discussion_path(this_discussion),
            method: "delete" do %>
        <button type="submit" class="btn btn-block btn-danger">Delete discussion</button>
      <% end %>
    </div>
  <% end %>
</div>
