<%
  profile_data_attributes = { "octo-click": "hovercard-link-click", "octo-dimensions": "link_type:profile" }

  blocked_by_viewer = user.blocked_by?(current_user)
  viewer_is_sponsoring = user.already_sponsored_by?(current_user)

  blocking_organization = hovercard.blocking_organization

  has_blocks = blocked_by_viewer || blocking_organization.present?
  show_sponsor_indicator = current_user&.already_sponsored_by?(user) || params[:subject]&.start_with?("sponsors_listing")
  hovercard_contexts = hovercard.contexts
  has_context_section = hovercard_contexts.any? || has_blocks || show_sponsor_indicator
%>

<div class="pb-3 px-3">
  <div data-hovercard-tracking="<%= octolytics_tracking_data.to_json %>"></div>
  <div <%= safe_data_attributes(hydro_view_tracking_attributes("user-hovercard-hover", { userId: params[:user_id], subject: params[:subject] })) %>></div>

  <% if (status = user.status_visible_to(current_user)) %>
    <div class="f6 border-bottom mr-n3 ml-n3 user-status-container">
      <%= render partial: "user_statuses/user_status_non_graphql", locals: { status: status, compact: true, truncate: true, force_one_line: true } %>
    </div>
  <% end %>

  <div class="d-flex mt-3">
    <div class="flex-self-start text-center">
      <div class="rounded-1 overflow-hidden">
        <%= profile_link(user, skip_hovercard: true, data: profile_data_attributes) do %>
          <%= avatar_for(user, 60, class: "d-block") %>
        <% end %>
      </div>

      <% if user.show_staff_badge_to?(current_user) %>
        <% if current_user&.employee? %>
          <%= link_to "Staff", user.team_app_url, class: "Label Label--blue text-uppercase mt-2" %>
        <% else %>
          <div class="Label Label--blue text-uppercase mt-2">Staff</div>
        <% end %>
      <% elsif user.has_pro_plan_badge? %>
        <div class="Label Label--purple text-uppercase mt-2" <%= test_selector("pro-badge") %>>Pro</div>
      <% end %>
    </div>

    <div class="overflow-hidden ml-3">
      <%= link_to user.profile_name.presence || user.login, user_path(user), class: "f5 text-bold link-gray-dark no-underline", data: profile_data_attributes %>

      <% if user.profile_name.present? %>
        <%= link_to user.login, user_path(user), class: "link-gray no-underline ml-1", data: profile_data_attributes %>
      <% end %>

      <div class="mt-1">
        <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio) %>
      </div>

      <% if (location = user.profile_location).present? %>
        <div class="mt-2 text-gray text-small">
          <%= octicon :location %>
          <%= location %>
        </div>
      <% end %>
    </div>
  </div>

  <% if has_context_section %>
    <hr class="ml-n3 mr-n3">

    <% if has_blocks %>
      <%
        blockers = []
        blockers << "You" if blocked_by_viewer
        blockers << "the #{blocking_organization.profile_name || blocking_organization.login} organization" if blocking_organization
      %>
      <%= render layout: "hovercards/context", locals: { octicon: "circle-slash", text_class: "text-red blocked-text" } do %>
        <%= blockers.to_sentence.capitalize %> <%= blocking_organization && !blocked_by_viewer ? "has" : "have" %> blocked this user
      <% end %>
    <% end %>

    <% hovercard_contexts.each do |context| %>
      <%= render layout: "hovercards/context", locals: { octicon: context.octicon } do %>
        <% if context.is_a?(UserHovercard::Contexts::OrganizationTeams) %>
          <%= render partial: "hovercards/users/contexts/organization_teams", locals: { context: context } %>
        <% elsif context.is_a?(UserHovercard::Contexts::Organizations) %>
          <%= render partial: "hovercards/users/contexts/organizations", locals: { context: context } %>
        <% else %>
          <%= context.message %>
        <% end %>
      <% end %>
    <% end %>

    <% if show_sponsor_indicator %>
      <%= render layout: "hovercards/context", locals: { octicon: "heart", text_class: "icon-sponsoring text-pink" } do %>
        <span class="text-gray">
          <% if user.sponsorship_as_sponsor_for(current_user)&.privacy_private? %>
            Your private sponsor
          <% else %>
            Your sponsor
          <% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% if viewer_is_sponsoring || user.sponsorable_by?(current_user) %>
    <div class="border-top ml-n3 mr-n3 mt-3 pl-3 d-flex flex-justify-start">
      <%
        sponsors_hydro_sym = viewer_is_sponsoring ? :HOVERCARD_SPONSORING : :HOVERCARD_SPONSOR
        sponsors_button_id = viewer_is_sponsoring ? "sponsoring" : "sponsor"
      %>
      <%=
        sponsor_button_for(user,
          id: "#{sponsors_button_id}-button-hovercard-user",
          class: "btn btn-sm mt-3",
          data: sponsors_button_hydro_attributes(sponsors_hydro_sym, user.login)
        )
      %>
    </div>
  <% end %>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
