<div class="SelectMenu-list" data-filterable-for="branch-filter" data-filterable-type="fuzzy">
  <% branches.each do |branch| %>
    <% selected = workflow_run_filters[:branch] == branch %>
    <a
      href="<%= actions_filtered_path(filters: workflow_run_filters, replace: { branch: !selected ? branch : nil }) %>"
      class="SelectMenu-item"
      aria-checked="<%= selected %>"
      role="menuitemradio">
      <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
      <%= branch %>
    </a>
  <% end %>
</div>
