<%
  # `view` is an instance of Sponsors::FeaturedAccountsView.
  page_info(
    title: "GitHub Sponsors Community",
    class: "f4",
    marketing_page: true,
    richweb: {
      title: "GitHub Sponsors Community",
      url: request.original_url,
      description: "Find new open source contributors to support.",
      image: image_path("modules/site/social-cards/sponsors.png"),
      type: "website",
    },
  )
%>

<%= render(Explore::NavComponent.new) %>

<div class="bg-gray-light border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h0-mktg">GitHub Sponsors Community</h1>
    <p class="f4 text-gray col-md-8 mx-auto">Find new open source contributors to support.</p>
  </div>
</div>

<div class="container-md p-responsive py-6">
  <%= render "sponsors/featured_accounts_box", view: view, accounts_max: 25, organizations_max: 10 %>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "sponsors" %>
<% end %>
