<% page_info title: "#{view.organization.login} - External identities",
             selected_link: :stafftools_user_security %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= view.scope_title %>
    </h2>
  </div>

  <% if view.scoped_members.any? %>
    <table class="site-admin-table">
      <% view.scoped_members.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_external_identity_path(view.organization, user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate view.scoped_members %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No <%= view.scope_title %></p>
  <% end %>
</div>
