<% page_info title: "#{view.organization.login} - #{view.user}’s external identity",
             selected_link: :stafftools_user_security %>
<% if view.external_identity %>
  <div class="boxed-group">
    <h3>
      <a href="<%= stafftools_user_external_identities_path(view.organization) %>" class="boxed-group-breadcrumb" data-pjax="true">External identities /</a>
      <%= view.user %>
    </h3>
    <div class="boxed-group-inner">
      <div class="summary clearfix">
        <dl>
          <dt>SAML user data</dt>
          <dd><pre><%= view.pretty(view.saml_user_data) %></pre></dd>
        </dl>

        <dl>
          <dt>SCIM user data</dt>
          <dd><pre><%= view.pretty(view.scim_user_data) %></pre></dd>
        </dl>

        <dl>
          <dt>Created at</dt>
          <dd><%= time_ago_in_words_js view.external_identity.created_at %></dd>
        </dl>
        <dl>
          <dt>Updated at</dt>
          <dd><%= time_ago_in_words_js view.external_identity.updated_at %></dd>
        </dl>
      </div>
      <hr class="bleed-flush">
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Unlink identity for #{view.user}",
          button_class: "btn btn-danger",
          details_class: "boxed-action",
          title: "Unlink external identity for #{view.user}",
      } do %>
        <div class="flash flash-warn flash-full">
          Be careful &mdash; this will unlink the user's external identity and invalidate their active SAML sessions.
        </div>
        <div class="Box-body overflow-auto">
          <p>
            They will not be removed from the organization, their credentials will remain authorized, and they will be able to link
            their external identity again next time they authenticate with the Identity Provider.
            Unlink the external identity if it has been linked to the wrong GitHub account, or if another problem has occurred.
          </p>
          <%= form_tag stafftools_user_external_identity_path(view.organization, view.user), method: "delete" do %>
            <div class="Box-footer">
              <button type="submit" class="btn btn-danger btn-block">
                Unlink external identity
              </button>
            </div>
          <% end %>
          </div>
      <% end %>
      <h4>Unlink external identity</h4>
      <p>
        Be careful &mdash; this will not remove the user from the organization.
      </p>
    </div>
  </div>

  <%= render Primer::SubheadComponent.new(hide_border: true) do |component| %>
    <% component.slot(:heading) do %>Active SAML sessions<% end %>
  <% end %>

  <div class="Box manage-member-sso-sessions js-user-sessions-container <%= "has-active-sessions" if view.external_identity.sessions.active.any? %>">
    <div class="blankslate">
      <h3>This member does not have any active SAML sessions.</h3>
    </div>
    <% if view.external_identity.sessions.active.any? %>
      <ul>
        <% view.external_identity.sessions.active.each do |session| %>
          <%- user_session = session.user_session -%>
          <li class="Box-row js-user-session">

            <strong>
              <% if user_session.location.any? %>
                <%= user_session.location[:city] || user_session.location[:region_name] || user_session.location[:country_name] %>
                <span><%= user_session.ip %></span>
              <% else %>
                <%= user_session.ip %>
              <% end %>
            </strong>

            <% if user_session.ua %>
              <span class="d-block">
                <strong title="<%= user_session.ua %>"><%= user_session.ua.name %></strong>
                on
                <%= user_agent_platform(user_session.ua) %>
              </span>
            <% end %>

            <span class="note">
              Expires <%= time_ago_in_words_js session.expires_at %> • Last accessed on <time><%= user_session.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %></time>
            </span>

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Linked SSO identity<% end %>
  <% end %>
  <div class="blankslate blankslate-spacious">
    <%= octicon("shield-lock", :height => 32, :class => "blankslate-icon") %>
    <h3>No linked identity</h3>
    <p>
      <%= view.user.login %> has not linked their GitHub account to the identity provider.
    </p>
  </div>
<% end %>

<%= render Primer::SubheadComponent.new(spacious: true, hide_border: view.authorized_tokens.any?) do |component| %>
  <% component.slot(:heading) do %>Authorized credentials<% end %>
<% end %>

<% if view.authorized_tokens.any? %>
  <div class="listgroup">
    <% view.authorized_tokens.each do |token| %>
      <div id="access-token-<%= token.id %>" class="access-token">
        <div class="listgroup-item">
          <small class="last-used float-right"><%= last_access_description(token) %></small>
          <span class="token-description">
              <% if token.is_a?(PublicKey) %>
                <strong><code><%= token.fingerprint %></code></strong>
                <span class="text-gray">
                  &mdash;	SSH Key
                  <%= view.ssh_permissions_text(token) %>
                </span>
              <% else %>
                <strong><code><%= "#{ "*" * 5 }#{ token.token_last_eight }" %></code></strong>
                <span class="text-gray">
                  &mdash;	Personal Access Token
                  <%= scopes_description_tooltip_list(token.scopes) %>
                </span>
              <% end %>
            </span>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="blankslate blankslate-spacious">
    <%= octicon("key", :height => 32, :class => "blankslate-icon") %>
    <h3>No authorized credentials</h3>
    <p>
      <%= view.user.login %> has not authorized any credentials for API and
      Git access to this organization.
    </p>
  </div>
<% end %>
