@<%= @inviter.login %> has invited you to collaborate on the <%= @repository.name_with_owner %> repository.

<%- if @repository.private? %>
Visit <%= @invitation.permalink %> to accept or decline this invitation.

You can also visit <%= @inviter.permalink %> to learn a bit more about @<%= @inviter.login %>.
<%- else %>
Visit <%= @invitation.permalink %> to accept or decline this invitation.

You can also head over to <%= @repository.permalink %> to check out the repository or visit <%= @inviter.permalink %> to learn a bit more about @<%= @inviter.login %>.
<%- end %>

This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.

Some helpful tips:
- If you get a 404 page, make sure you’re signed in as <%= @invitation.email_or_invitee_login %>.
<% unless GitHub.enterprise? %>
- Too many emails from @<%= @inviter.login %>? You can block them by visiting
  <%= settings_user_blocks_url(block_user: @inviter.login) %> or report abuse at
  <%= "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@inviter.login}" %>
<% end %>

---
<%= @signature -%>
