Regarding your <%=raw @repository.name_with_owner %> repository, we have
received a request to block certain content in specific countries because
of the <%= @country_block_description %>. As such, we have disabled public
access to the repository and its forks from the following countries:

<% @countries.each do |abbr| %>
- <%= GitRepositoryBlock::COUNTRY_DESCRIPTIONS[abbr] %>
<% end %>

<% unless @country_block_url.blank? %>
  You can view the details of this request at <%=raw @country_block_url %>.
<% end %>

If you have any questions, <%= GitHub.support_link_text_lowercase %>.
