The following SSH key was added to the <%= @key.repository.name_with_owner %> repository<% if @key.creator -%> by <%= @key.creator.login %><% end -%>:

<%= @key.title %>
<%= @key.fingerprint %>

If you believe this key was added in error, you can remove the key and disable
access at the following location:

<%= GitHub.url %>/<%= @key.repository.name_with_owner %>/settings/keys
