Hello,

We received a DMCA takedown notice regarding your repository <%=raw @repository.name_with_owner %>.
As such, we have disabled public access to the repository.

The notice has been publicly posted at:

<%=raw @takedown_url %>

If you believe that your repository was disabled as a result of mistake or misidentification, you have the right to file a counter notice and have the repository reinstated. Our help articles provide more details about how the DMCA notice-and-takedown process works at GitHub and how to file a counter notice with us if you choose:

<%= GitHub.help_url %>/articles/dmca-takedown-policy
<%= GitHub.help_url %>/articles/guide-to-submitting-a-dmca-counter-notice 

If you have any questions about the process or the risks in filing a counter notice, we suggest that you consult with a lawyer.

Thanks,
The GitHub Team
