Access to the <%=raw @repository.name_with_owner %> repository has been disabled by GitHub Staff as a result of a sensitive data removal request. You may contact GitHub Support for more information or to appeal this decision:

<%= contact_url %>

Read more about GitHub's Sensitive Data Removal Policy here:

<%= GitHub.help_url %>/articles/github-sensitive-data-removal-policy

<%=raw @instructions.to_s %>
