Access to the <%=raw @repository.name_with_owner %> repository has been disabled due to excessive use of resources.

<%- if GitHub.enterprise? -%>
Please contact your site administrator to restore access.
<%- else -%>
Please contact GitHub Support by replying to this email to restore access.
<%- end -%>

<%=raw @instructions.to_s %>
