We noticed that a valid SSH private key of yours was committed to a public GitHub repository. This key is configured as a deploy key for the <%= @repository.name_with_owner %> repository. Publicly disclosing a valid SSH private key would allow other people to interact with this repository, potentially altering data.

As a precautionary measure, we have unverified the SSH key. You should should generate a new SSH key and add it to the repository. We recommend you review you security log to ensure that no malicious activity has occurred: <%= GitHub.help_url %><% if @repository.owner.organization? -%>/articles/reviewing-the-audit-log-for-your-organization/<% else -%>/articles/reviewing-your-security-log/<% end -%>

The commit in question is at <%= @url %>

Please feel free to contact us at <%= contact_url %> if you have any questions or concerns.

Thanks,
GitHub.com
