
Access to the <%=raw @repository.name_with_owner %> repository has been disabled by GitHub staff due to a terms of service violation. You may contact us for more information or to request a review of this decision:

<%= contact_url %>

<%=raw @instructions.to_s %>

You may review our terms of service here:

<%= GitHub.help_url %>/articles/github-terms-of-service

