Access to the <%=raw @repository.name_with_owner %> repository has been disabled by GitHub Staff as a result of a violation of GitHub's Trademark Policy. You may contact GitHub Support for more information or to appeal this decision:

<%= contact_url %>

Read more about GitHub's Trademark Policy here:

<%= GitHub.help_url %>/articles/github-trademark-policy

<%=raw @instructions.to_s %>
