<%# erblint:counter TooltipCounter 1 %>
<span class="card-octicon position-absolute text-gray-light">
  <%= octicon("comment-discussion", "aria-label": "Team Discussion") %>
</span>

<%= link_to discussion.title, discussion.permalink, class: "h5 d-block lh-condensed mb-1 mr-5" %>

<% if discussion.task_list? %>
  <div class="my-1 v-align-middle">
    <%= task_list(discussion, include_left_margin: false) %>
  </div>
<% end %>

<small class="text-gray d-block pr-6">
  #<%= discussion.number %> started by <%= link_to discussion.user, user_path(discussion.user), class: "text-gray-dark" %>
  in <%= link_to discussion.team.slug, team_path(discussion.team), class: "text-gray-dark" %>
</small>

<% avatar_count = discussion.team.primary_avatar ? 2 : 1 %>
<div class="AvatarStack AvatarStack--right <%= avatar_stack_count_class(avatar_count) %> position-absolute bottom-0 right-0 mr-2 mb-2">
  <div class="AvatarStack-body tooltipped tooltipped-nw tooltipped-multiline tooltipped-align-right-1"
       aria-label="Started by <%= discussion.user.login %>">
    <%= avatar_for(discussion.user, 20, class: "avatar") %>
    <% if discussion.team.primary_avatar %>
      <%= avatar_for(discussion.team, 20, class: "avatar") %>
    <% end %>
  </div>
</div>
