<% will_convert_to_issue_card = references.can_add_content? %>
<% if references.issue && references.card %>
  <%= render partial: "projects/cards/note_reference_conflict", locals: { card: references.card } %>
<% elsif references.accessible_reference_count > 0 %>
  <div class="position-relative mt-2">
    <small class="text-gray-light pl-2">
      <%= pluralize(references.accessible_reference_count, "Reference") %>
    </small>
    <% references.issues.each do |issue| %>
      <%= render partial: "projects/cards/card_preview", locals: {
            reference: issue,
            project: project,
            # Only show repository name with owner if this is an issue reference
            # and not a note URL that will be auto-converted to an issue-backed
            # card
            show_repository: !will_convert_to_issue_card
          } %>
    <% end %>
    <% references.projects.each do |project| %>
      <%= render partial: "projects/cards/card_preview", locals: { reference: project } %>
    <% end %>
    <% references.discussions.each do |discussion| %>
      <%= render partial: "projects/cards/card_preview", locals: { reference: discussion } %>
    <% end %>
  </div>
<% end %>
