<span class="card-octicon position-absolute text-gray-light">
  <%= octicon("project") %>
</span>

<%= link_to project.name, project_path(project), class: "h5 d-block lh-condensed mb-1 mr-5" %>

<small class="text-gray d-block project-reference-markdown">
  <% project_body_markdown(project.body) do |full_markdown, truncated_markdown| %>
    <% if truncated_markdown %>
      <%= truncated_markdown %>
    <% else %>
      <%= full_markdown %>
    <% end %>
  <% end %>
</small>

<small class="text-gray d-block mt-1 mr-4">
  #<%= project.number %>
  in
  <% case project.owner_type %>
  <% when "Organization", "User" %>
    <%= link_to project.owner.login, user_path(project.owner), class: "text-gray-dark" %>
  <% when "Repository" %>
    <%= link_to project.owner.name_with_owner, repository_path(project.owner), class: "text-gray-dark" %>
  <% end %>

  <% if project.closed? %>
    closed <%= time_ago_in_words_js project.closed_at %>
  <% else %>
    updated <%= time_ago_in_words_js project.updated_at %>
  <% end %>
</small>

<% if project.progress.enabled? %>
  <div class="my-1 mr-4">
    <%= render partial: "projects/project_progress", locals: { progress: project.progress, tooltip_direction: "n" } %>
  </div>
<% end %>
