<% project = card.references(viewer: current_user).project %>
<div class="pl-5 p-2">
  <%= card_menu(card) do %>
    <button type="button" data-dialog-id="edit-note-<%= card.id %>" role="menuitem" class="dropdown-item btn-link text-left js-project-dialog-button">Edit note</button>
    <%= render partial: "projects/archive_card_button", locals: { card: card } %>
    <%= form_tag project_card_path(card), class: "js-remove-card-after-request", method: :delete do %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <button type="submit" class="dropdown-item btn-link btn-block text-left" data-confirm="This will remove this note from the project" role="menuitem">
        Delete note
      </button>
    <% end %>
  <% end %>

  <span class="card-octicon card-note-octicon position-absolute text-gray-light">
    <%= octicon("note") %>
  </span>
  <div class="mr-4">
    <small class="text-gray-light">Added by <%= link_to card.safe_creator, user_path(card.safe_creator), class: "text-gray-dark" %></small>
  </div>
</div>

<div class="position-relative mx-2 mb-2 p-2 pl-5 rounded-2 box-shadow border">
  <%= render partial: "projects/cards/project_details", locals: { project: project } %>
</div>

<template id="edit-note-<%= card.id %>" class="js-edit-note-template">
  <%= render partial: "projects/note_form", locals: { card: card } %>
</template>
