# frozen_string_literal: true

# Do not require anything here. If you need something else, require it in the method that needs it.
# This makes sure the boot time of our seeds stays low.

module Seeds
  class Objects
    class <%= name.camelize %>
      # TODO
    end
  end
end
