# frozen_string_literal: true

require "test_helper"
require_relative Rails.root.join("script/seeds/runners/<%= name.underscore %>")

class SeedsRunner<%= name.camelize %>Test < GitHub::TestCase
  test "run successfully seeds", skip_enterprise: true do
    differences = {
      # has_verified_email so we only get monalisa, not bot accounts and orgs
      "::User.has_verified_email.count" => 1,
      "::Organization.count" => 1,
      "::Repository.count" => 1,
      # TODO
    }

    options = {}
    capture_io do
      assert_difference(differences) do
        Seeds::Runner::<%= name.camelize %>.execute(options)
      end
    end
  end
end
