<%# view is an instance of RepositoryTokenScanning::ShowView %>

<% if view.resolved? %>
  <%= form_tag view.resolve_path(resolution: :reopened, id: view.result.id), method: :put do %>
    <button type="submit" class="btn btn-sm">
        Reopen
    </button>
  <% end %>
<% else %>
  <details class="dropdown details-reset details-overlay flex-self-center">
    <summary class="btn btn-sm" aria-haspopup="true">
      Close
      <div class="dropdown-caret"></div>
    </summary>
    <ul class="dropdown-menu dropdown-menu-sw" style="width: 300px">
      <% view.resolutions.each do |resolution, label| %>
        <li>
          <%= button_to label,
              view.resolve_path(resolution: resolution, id: view.result.id),
              method: :put,
              class: "btn-link dropdown-item text-small"
            %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>
