<%# view is an instance of RepositoryTokenScanning::ShowView %>

<nav class="UnderlineNav overflow-visible mb-2" aria-label="Tabs" data-pjax>
  <div class="UnderlineNav-body">
    <a href="<%= repository_token_scanning_result_path %>"
       class="UnderlineNav-item"
       <% if selected_tab == :details %>aria-current="page"<% end %>
    >
      Details
    </a>
    <a href="<%= repository_token_scanning_result_files_path %>"
       class="UnderlineNav-item"
       <% if selected_tab == :files %>aria-current="page"<% end %>
    >
      Files
      <%= render Primer::CounterComponent.new(count: view.included_locations_count) %>
    </a>
  </div>
  <div class="UnderlineNav-actions">
    <%= render "repos/token_scanning/show/resolve", view: view %>
  </div>
</nav>
