<% content_for :content do %>
  <%= yield %>
<% end %>

<% content_for :site_header do %>
  <%= render layout: "site/header/gists/header" do %>
    <% if content_for?(:header_title) %>
      <%= yield :header_title %>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/mobile/application" %>
