<div class="Popover d-none d-lg-block mb-2 js-notice" style="bottom: 100%;<% if z_index %>z-index: <%= z_index %><% end %>" <%= test_selector(popover_test_selector) %>>
  <div class="Popover-message Popover-message--bottom-left p-4 Box box-shadow-large mx-auto" style="width: 300px">
    <h4 class="mb-2"><%= title %></h4>
    <p><%= message %></p>
    <%= form_tag dismiss_notice_path(notice_type), class: "mt-2 js-notice-dismiss" do %>
      <button type="submit" class="btn btn-outline text-bold">Got it!</button>
    <% end %>
  </div>
</div>
