<details
  class="details-reset details-overlay d-inline-block position-relative"
  id="details-<%= id %>">
  <%= summary || render(default_summary) %>
  <details-menu
    class="<%= details_menu_class_names %>"
    <% if @src %>
      src="<%= @src %>"
      <% if @preload %>preload<% end %>
    <% end %>
    <% unless @filterable %>
      role="menu"
      <% if @title %>aria-label="<%= @title %>"<% end %>
    <% end %>>
    <div class="SelectMenu-modal">
      <% if @title || header %>
        <header class="SelectMenu-header">
          <% if header %>
            <%= header %>
          <% else %>
            <div class="SelectMenu-title"><%= @title %></div>
          <% end %>
          <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="details-<%= id %>">
            <%= render GitHub::OcticonComponent.new(icon: "x") %>
          </button>
        </header>
      <% else %>
        <button class="SelectMenu-closeButton position-absolute right-0 m-2" type="button" aria-label="Close menu" data-toggle-for="details-<%= id %>">
          <%= render GitHub::OcticonComponent.new(icon: "x") %>
        </button>
      <% end %>
      <% if @filterable %>
        <filter-input aria-owns="filter-menu-<%= id %>" class="SelectMenu-filter">
          <input
            autofocus
            aria-owns="filter-menu-<%= id %>"
            class="width-full form-control"
            type="text"
            aria-label="<%= @title || @text %>"
            placeholder="<%= @filter_placeholder || @title || @text %>"
          >
        </filter-input>
      <% end %>
      <div
        id="filter-menu-<%= id %>"
        class="d-flex flex-column flex-1 overflow-hidden"
        <% if @filterable %>
        role="menu"
        <% if @title %>aria-label="<%= @title %>"<% end %>
        <% end %>>
        <div
          class="SelectMenu-list"
          <% if @filterable %>data-filter-list<% end %>>

          <% if @src.present? %>
            <include-fragment class="SelectMenu-loading" aria-label="Loading">
              <%= octicon('octoface', class: "anim-pulse", height: 32) %>
            </include-fragment>
          <% elsif body %>
            <%= body %>
          <% else %>
            <% @items.each do |item| %>
              <%= render(item) %>
            <% end %>
          <% end %>
          <% if @filterable %>
            <div class="SelectMenu-blankslate" data-filter-empty-state hidden>
              No results found.
            </div>
          <% end %>
        </div>
        <%= extra %>
      </div>
    </div>
  </details-menu>
</details>
