<div class="select-menu-list" data-filterable-for="license-filter-field" data-filterable-type="substring">
  <% selected = !view.contains_qualifier?(:license) %>
  <% license_query = view.build_query(qualifier: :license, remove: selected) %>

  <a href="<%= view.build_path(query: license_query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
    <%= octicon("check", class: "select-menu-item-icon") %>
    <span class="select-menu-item-text text-bold">Any license</span>
  </a>

  <% view.licenses.keys.each do |license| %>
    <% selected = view.contains_qualifier?(:license, license) %>
    <% license_query = view.build_query(qualifier: :license, value: license, remove: selected) %>

    <a href="<%= view.build_path(query: license_query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
      <%= octicon("check", class: "select-menu-item-icon") %>
      <div class="select-menu-item-text"><%= view.license_label(license) %></div>
    </a>
  <% end %>

  <div class="select-menu-no-results">No licenses found.</div>
</div>
