<div data-pjax>
  <button type="button" class="<%= view.organization_filter_link? ? "btn-link text-gray no-underline d-none d-md-block" : "btn btn-sm" %> ml-3 select-menu-button" aria-haspopup="menu" data-toggle-for="dependency-insights-organization-filter">
    <% unless view.organization_filter_link? %>
      <span class="text-normal">Filter:</span>
    <% end %>
    Organization
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="dependency-insights-organization-filter">
    <summary tabindex="-1" aria-label="Organization"></summary>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;">
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by organization</span>
        <button class="hx_rsm-close-button btn-link close-button" type="button" data-toggle-for="dependency-insights-organization-filter"><%= octicon("x", :"aria-label" => "Close menu") %></button>
      </div>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="organization-filter-field" class="form-control js-filterable-field" placeholder="Filter organization" aria-label="Filter organization" autocomplete="off" autofocus>
        </div>
      </div>
      <div class="select-menu-list" data-filterable-for="organization-filter-field" data-filterable-type="substring">
        <% selected = !view.contains_qualifier?(:org) %>
        <% org_query = view.build_query(qualifier: :org, remove: selected) %>

        <a href="<%= view.build_path(query: org_query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <span class="select-menu-item-text text-bold">All organizations</span>
        </a>

        <% view.enabled_orgs.each do |organization| %>
          <% selected = view.contains_qualifier?(:org, organization.login) %>
          <% org_query = view.build_query(qualifier: :org, value: organization.login, remove: selected) %>

          <a href="<%= view.build_path(query: org_query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-gravatar">
              <%= avatar_for organization, 30 %>
            </div>
            <div class="select-menu-item-text"><%= organization.login %></div>
          </a>
        <% end %>

        <div class="select-menu-no-results">No organizations found.</div>
      </div>
    </details-menu>
  </details>
</div>
