<%
  org_header_title(this_organization)
  page_info \
    title: this_organization.safe_profile_name,
    description: this_organization_description,
    dashboard_pinnable_item_id: this_organization.id,
    richweb: {
      title: this_organization.safe_profile_name,
      url: user_url(this_organization),
      description: this_organization_description,
      image: avatar_url_for(this_organization, 280),
      username: this_organization.login,
      type: "profile"
    }
%>

<div itemscope itemtype="http://schema.org/Organization">
  <%=
    render_partial_view "orgs/header", Orgs::HeaderView,
      organization: this_organization, selected_nav_item: :discussions
  %>

  <div class="container-lg p-responsive clearfix">
    <div class="d-flex mb-3 flex-items-center width-full flex-wrap flex-justify-between">
      <%= form_tag(
        discussions_list_path,
        method: :get,
        class: class_names(
          "subnav-search ml-0 mt-3 mt-md-0 width-full width-md-auto flex-auto flex-order-1 flex-md-order-none",
          "mr-md-3" => discussion_reddit_style_sort_enabled?
        ),
        "data-pjax": true,
        role: "search",
        "aria-label": "Discussions",
      ) do %>
        <%= text_field_tag :discussions_q, search_input_value_for(query),
          class: "form-control subnav-search-input input-contrast width-full",
          placeholder: "Search all discussions",
          "aria-label": "Search all discussions",
          "data-hotkey": local_search_hotkey %>
        <%= octicon(:search, class: "subnav-search-icon") %>
      <% end %>

      <% if discussion_reddit_style_sort_enabled? %>
        <div class="BtnGroup" <%= test_selector("reddit_style_sort") %>>
          <a href="<%= discussions_search_path(replace: { sort: nil }) %>"
            class="btn BtnGroup-item <%= "selected" if discussions_current_sort == "latest" %>"
          >
            <span class="d-none d-md-inline-block"><%= octicon "clock" %></span> Latest
          </a>
          <a href="<%= discussions_search_path(replace: { sort: "top" }) %> "
            class="btn BtnGroup-item <%= "selected" if discussions_current_sort == "top" %>"
          >
            <span class="d-none d-md-inline-block"><%= octicon "line-arrow-up" %></span> Top
          </a>
        </div>
      <% end %>
    </div>

    <% if discussions.empty? %>
      <div class="blankslate blankslate-spacious">
        <div class="container-md">
          <%= octicon("comment-discussion", height: 32, class: "blankslate-icon") %>
          <h3>
            No discussions match.
          </h3>
          <p>
            <% if params[:discussions_q].present? %>
              Try <a href="<%= org_discussions_path(this_organization) %>">clearing filters</a> to view
              all this organization's discussions.
            <% else %>
              Discussions are used to ask questions and have open-ended conversations.
            <% end %>
          </p>
        </div>
      </div>
    <% else %>
      <div class="Box Box--responsive js-navigation-container js-active-navigation-container" data-discussion-hovercards-enabled data-repository-hovercards-enabled>
        <div class="Box-header d-flex flex-justify-between">
          <% unless discussions.empty? && type_filter.blank? %>
            <%= render "discussions/filters", discussions: discussions, query: query %>
          <% end %>
        </div>
        <% discussions.each_with_index do |discussion, i| %>
          <%= render "discussions/discussion",
                discussion: discussion,
                index: i,
                participants: participants_by_discussion_id[discussion.id] %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-3">
      <%= render GitHub::BetaFlagComponent.new(mr: 2) %>
      <%= discussions_beta_feedback_link(classes: "d-inline-block") %>
    </div>
  </div>
</div>
