<%# view is an instance of BillingManagers::IndexView %>

<%= render Primer::SubheadComponent.new(spacious: true, hide_border: true) do |component| %>
  <% component.slot(:heading) do %>Billing managers<% end %>
  <% component.slot(:actions) do %>
    <%= render GitHub::MiniButtonComponent.new("data-pjax": true, href: org_new_billing_manager_path(view.organization)) do %>Add a billing manager<% end %>
  <% end %>
<% end %>

<% if !view.current_or_pending_billing_managers? %>
  <%= render Primer::BlankslateComponent.new(
    icon: "person",
    title: "You have not invited any billing managers.",
    mb: 3,
  ) %>
<% else %>
  <div class="Box mb-3">
    <ul>
      <% view.organization.pending_invitations.with_business_role(:billing_manager).each do |invitation| %>
        <li class="Box-row">
          <div class="float-right">
            <% if invitation.invitee == current_user %>
              <%= link_to "View invitation", org_show_pending_billing_manager_invitation_path(view.organization) %>
            <% else %>
              <%= render layout: "shared/details_dialog", locals: {
                button_class: "btn-link",
                button_text: "Re-send invitation",
                title: "Re-send invitation"} do %>
                <div class="Box-body">
                  <p>
                    Are you sure you want to resend <%= invitation.email_or_invitee_name %>’s invitation to become a billing manager?
                  </p>
                  <%= form_tag org_resend_billing_manager_invitation_path(view.organization, invitation.email_or_invitee_login), :method => :post do %>
                    <button type="submit" class="btn btn-primary btn-block" data-disable-with="Re-sending the invitation…">Yes, send this invitation again.</button>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            /

            <%= render layout: "shared/details_dialog", locals: {
              button_class: "btn-link text-red",
              button_text: "Cancel",
              title: "Cancel invitation"} do %>
              <div class="Box-body">
                <p>
                  <strong>Are you sure you want to remove <%= invitation.email_or_invitee_name %>’s invitation to become a billing manager?</strong>
                </p>
                <%= form_tag org_billing_manager_invitation_path(view.organization, invitation.email_or_invitee_login), :method => :delete do %>
                  <button type="submit" class="btn btn-danger btn-block" data-disable-with="Canceling the invitation…">Yes, cancel this invitation.</button>
                <% end %>
              </div>
            <% end %>
          </div>

          <% if invitation.email? %>
            <%= octicon("mail", :height => 16) %>
          <% else %>
            <%= avatar_for invitation.invitee, 20, :class => "avatar mr-2" %>
          <% end %>
          <% if invitation.email? %>
            <%= invitation.email %>
          <% else %>
            <%= link_to invitation.invitee.safe_profile_name, user_path(invitation.invitee) %>
          <% end %>
          |
          <span class="muted">Pending confirmation</span>
        </li>
      <% end %>

      <% view.organization.billing_managers.each do |user| %>
        <li class="Box-row">
          <%= render layout: "shared/details_dialog", locals: {
            button_class: "btn-link text-red",
            details_class: "float-right",
            button_text: "Remove",
            title: "Remove a billing manager"} do %>
            <div class="flash flash-full flash-warn">
              <%= octicon("alert") %>
              Are you sure you want to remove <%= user == current_user ? "yourself" : user.safe_profile_name %> as a billing manager?
            </div>
            <div class="Box-body">
              <% if user == current_user %>
                You’ll still be able to update billing and payment settings for this organization, but you will no longer receive its billing related email.
              <% else %>
                This user will no longer be able to see <%= view.organization.safe_profile_name %>’s billing page, or perform any billing related actions.
              <% end %>
            </div>
            <div class="Box-footer text-center">
              <%= form_tag org_billing_manager_path(view.organization, user), :method => :delete do %>
                <button type="submit" class="btn-block btn text-red">Yes, remove <%= user == current_user ? "me" : "this user" %> as a billing manager.</button>
              <% end %>

              <% if view.show_remove_user_completely?(user) %>
                <div class="f6 mt-2">To remove this user completely, visit the <%= link_to "organization profile page", org_person_path(view.organization, user) %>.</div>
              <% end %>
            </div>
          <% end %>
          <%= avatar_for user, 20, :class => "avatar mr-2"  %>
          <%= link_to user.safe_profile_name, user_path(user) %>
          <%  if user.publicly_visible_email(logged_in: true) %>
            (<%= user.publicly_visible_email(logged_in: true) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="note">
  Receipts are sent to the billing managers for this organization, and
  <%= render layout: "shared/details_dialog", locals: {
    button_class: "btn-link",
    button_icon: "pencil",
    details_class: "text-gray-dark d-inline",
    button_text: "#{view.organization.billing_email}.",
    title: "Edit billing email address"} do %>
    <div class="Box-body f5">
      <%= form_for view.organization, url: update_billing_email_path(view.organization), method: :put do |f| %>
        <dl class="form-group mt-0">
          <% label_html = safe_join(["#{org_contact_email_label} email ", content_tag(:small, "(Private)")]) %>
          <dt><%= f.label :billing_email, label_html %></dt>
          <dd><%= f.text_field :billing_email, type: "email", autofocus: true %></dd>
        </dl>
        <button type="submit" class="btn btn-primary">Update</button>
      <% end %>
    </div>
  <% end %>
</div>
