<%= render layout: "shared/details_dialog", locals: {
  title: "Extra billing information",
  button_class: "btn-link f6",
  button_text: "#{target.billing_extra.present? ? "Change" : "Add"} information"
} do %>
  <%= form_tag target.organization? ? org_extra_update_path(target) : billing_extra_update_path, class: "Box-body overflow-auto" do %>
    <strong id="billing-info-desc">
      This information will appear on all your receipts.
    </strong>
    <p>
    For your security, do not include any confidential or financial
    information (like credit card numbers).
    </p>

    <dl class="form-group">
      <dt><label for="vat_code">VAT/GST ID</label></dt>
      <dd><input id="vat_code" class="form-control short input-vat" type="text" autocomplete="off" name="vat_code" value="<%= target.vat_code %>"></dd>
    </dl>

    <dl class="form-group">
      <dt><label for="billing_extra">Full business name or address of record</label></dt>
      <dd><textarea class="form-control short" name="billing_extra" id="billing_extra" aria-label="Enter extra billing information" autofocus><%= target.billing_extra %></textarea></dd>
    </dl>

    <button class="btn btn-primary btn-block" data-disable-with="Saving contact information…" type="submit">Save contact information</button>
  <% end %>
<% end  %>
