<% custom_role_count = target.organization? ? target.custom_roles.count : 0 %>
<% if target.organization? && target.plan.business_plus? && custom_role_count > 1 %>
  <%= render(Primer::FlashComponent.new(variant: :warning)) do %>
    In order to downgrade your organization, you first need to delete
    <%= custom_role_count - 1 %>
    of the
    <%= custom_role_count %>
    <%= link_to "custom roles", settings_org_repository_roles_path %>
    created for this organization.
  <% end %>
<% end %>
<%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true, new_plan: new_plan %>
<%# this remote form will fetch the counts for the features listed in `downgrade_features_with_counts` %>
<%= form_tag billing_downgrade_features_count_path(id: target.id), class: "js-fetch-downgrade-features-count", method: :get do %>
  <input type="hidden" name="target_type" value="<%= target.organization? ? "organization" : "user" %>">

  <ul class="hanging-icon-list mx-0">
    <% if target.plan.business_plus? %>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        SAML auth
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Enterprise support
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Advanced auditing
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        IP allow list
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Organizational activities
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Required reviewers in private repos
      </li>
    <% end %>

    <% downgrade_features_with_counts.each do |feature, label| %>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %> <%= label %>
        <span class="strong-label mb-0 js-downgrade-count" data-<%= feature %>-count></span>
        <input type="hidden" name="<%= feature %>" value="1">
      </li>
    <% end %>

    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Code owners in private repos
    </li>
    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Multiple issue assignees in private repos
    </li>
    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Multiple PR assignees in private repos
    </li>

    <% if target.plan.business? %>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Code review automatic assignment in private repos
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Scheduled reminders in private repos
      </li>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %>
        Standard support
      </li>
    <% end %>
    <li>
      <%= octicon "line-arrow-down", class: "mt-1 text-red pr-1" %>
      2,000 minutes for GitHub Actions <span class="color-gray-4"><%= target.plan.business_plus? ? "(currently 50,000)" : "(currently 3,000)" %></span>
    </li>
    <li>
      <%= octicon "line-arrow-down", class: "mt-1 text-red pr-1" %>
      500MB of storage for packages <span class="color-gray-4"><%= target.plan.business_plus? ? "(currently 50GB)" : "(currently 2GB)" %></span>
    </li>
    <% if target.organization? && target.plan.business_plus? && GitHub.flipper[:custom_roles].enabled?(target) %>
      <li>
        <%= octicon "line-arrow-down", class: "mt-1 text-red pr-1" %>
        1 custom role <span class="color-gray-4">(currently 3)</span>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_tag cancel_org_seats_path(target), :method => :delete do %>
  <% if downgrade_survey_for(target) %>
    <%=render partial: "billing_settings/downgrade_survey", locals: {
      target: target,
      plan: new_plan,
      survey: downgrade_survey_for(target),
      change: upgrade_or_downgrade(target, new_plan).capitalize
    }%>
  <% end %>

  <div class="my-3">
    <button type="submit" data-disable-with="Downgrading…"
      <%= "disabled" if target.organization? && target.plan.business_plus? && custom_role_count > 1 %>
      class="btn btn-block btn-danger">
      I understand. Downgrade my organization.
    </button>
  </div>
<% end %>
