<div class="Box-body">
  <% if target.has_credit_card? %>
    <%= render :partial => "billing_settings/card_details", :locals => {
      :credit_card => target.payment_method } %>
  <% else %>
    <%= render :partial => "billing_settings/paypal_details", :locals => {
      :payment_method => target.payment_method } %>
  <% end %>

  <p>
    You are about to remove this <%= target.friendly_payment_method_name %>. Are you sure you want to do this?
  </p>
</div>
<div class="Box-footer">
  <%= form_tag target_payment_method_path(target), :method => :delete do %>
    <button type="submit" class="btn btn-danger btn-block">
      Remove <%= target.friendly_payment_method_name %>
    </button>
  <% end %>
</div>
