<%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true, new_plan: GitHub::Plan.free %>
<%# this remote form will fetch the counts for the features listed in `downgrade_features_with_counts` %>
<%= form_tag billing_downgrade_features_count_path(id: target.id), class: "js-fetch-downgrade-features-count", method: :get do %>
  <input type="hidden" name="target_type" value="<%= target.organization? ? "organization" : "user" %>">

  <ul class="hanging-icon-list mx-0">
    <% downgrade_features_with_counts.each do |feature, label| %>
      <li>
        <%= octicon "x", class: "mt-1 text-red" %> <%= label %>
        <span class="strong-label mb-0 js-downgrade-count" data-<%= feature %>-count></span>
        <input type="hidden" name="<%= feature %>" value="1">
      </li>
    <% end %>

    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Code owners in private repos
    </li>
    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Multiple assignees for issues and PRs in private repos
    </li>
    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Multiple PR reviewers in private repos
    </li>
    <li>
      <%= octicon "x", class: "mt-1 text-red" %>
      Standard support
    </li>
    <li>
      <%= octicon "line-arrow-down", class: "mt-1 text-red pr-1" %>
      2,000 minutes for GitHub Actions <span class="color-gray-4">(currently 3,000)</span>
    </li>
    <li>
      <%= octicon "line-arrow-down", class: "mt-1 text-red pr-1" %>
      500MB of storage for packages <span class="color-gray-4">(currently 2GB)</span>
    </li>
  </ul>
<% end %>

<%= form_tag target_cc_update_path(target) do %>
  <%= hidden_field_tag 'plan', GitHub::Plan.free.name, id: nil %>
  <div class="mt-3">
    <button type="submit" data-disable-with="Downgrading…" class="btn btn-block btn-danger" <%= test_selector("billing-user-downgrade-modal") %>>
      I understand. Continue with downgrade.
    </button>
  </div>
<% end %>
