<% cycle_update = Billing::CycleUpdate.new(target, new_cycle) %>

<div class="Box-body">
  <p>
    You are about to switch to <strong><%= new_cycle %>ly</strong> billing.
    <% if target.has_an_active_coupon? && target.free_trial? %>
      You have an active coupon currently, so the new billing cycle will start on
      <%= target.coupon_redemption.expires_at.strftime("%e %B, %Y") %>, when your coupon expires.
    <% else %>
      <% if target.monthly_plan? %>
        You’ve already paid for this month.
      <% elsif cycle_update.refund_in_cents < 0 %>
        You’ll receive a <%= casual_currency cycle_update.refund_in_cents.abs / 100 %>
        refund for the <%= cycle_update.months_left %> months remaining on the old yearly plan.
      <% end %>
      <% if cycle_update.next_billed_on %>
        Your new billing cycle will begin on <%= cycle_update.next_billed_on.strftime("%e %B, %Y")  %>.
      <% end %>
    <% end %>
  </p>

  <p>
    <% if target.has_an_active_coupon? && target.free_trial? %>
      There will be no charge at this time. When your coupon expires, you will be charged $<%= number_with_precision (target.plan.cost * (target.monthly_plan?? 12 : 1)), :precision => 2, :delimiter => "," %>
    <% else %>
      Your next charge will be <%= casual_currency target.payment_amount(duration: new_cycle) %>
    <% end %>
    for a <%= new_cycle %> of GitHub.
    <% if target.has_an_active_coupon? && !target.free_trial? %>
      You are receiving a <%= casual_currency(target.discount) %>/month discount on the <%= casual_currency(target.plan.cost) %>/month plan.
    <% end %>
  </p>

  <%= form_tag target_cycle_update_path(target) do %>
    <%= hidden_field_tag "plan_duration", new_cycle %>
    <button type="submit" class="btn btn-primary btn-block">Switch to <%= new_cycle %>ly billing</button>
  <% end %>
</div>
