<h4 class="f5 text-normal text-gray">Current invoice</h4>
<% if view.invoice.present? %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1">
    <% if view.invoice.paid? %>
      $0
    <% else %>
      $<%= number_with_precision view.invoice.balance, precision: 2, delimiter: "," %>
  <% end %>
  </span>
  <% unless view.invoice.paid? %>
    <%= link_to "Make a one-time payment", invoice_payment_method_url(view.account, view.invoice.number&.downcase), class: "f6" %>
  <% end %>
<% else %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1">&mdash;</span>
<% end %>
