<%
trial = Billing::EnterpriseCloudTrial.new(organization)
buy_enterprise_args = {
  org: organization,
  target: "organization",
  plan: "business_plus",
  source: "trial_upgrade"
}
%>

<div class="pb-3 d-flex flex-items-baseline">
  <div class="col-4 flex-shrink-0">
    <strong>GitHub Enterprise Cloud free trial</strong>
  </div>
  <div class="flex-auto d-flex flex-wrap flex-items-baseline">
    <div class="col-6 pr-2">
      <div>
        <% if is_trial_expired %>
          <strong>Your free trial has expired.</strong>
        <% else %>
          Your free trial expires in <%= pluralize trial.days_remaining, "day" %>.
        <% end %>
      </div>
      <div>
        Questions? <a href="<%= ent_contact_url %>">Contact sales</a>
      </div>
    </div>
    <div class="col-6 pl-2 d-flex flex-justify-end">
      <div class="col-8 text-center">
        <div class="pb-2">
          <a
            class="d-block btn btn-primary"
            href="<%= upgrade_path(buy_enterprise_args) %>"
            data-ga-click="Billing settings, click, text:Buy Enterprise;"
          >
            Buy Enterprise
          </a>
        </div>
        <div>
          <% if is_trial_expired %>
            <a
              class="d-block btn btn-sm btn-outline"
              href="<%= upgrade_path(org: organization, target: "organization", plan: "business") %>"
              data-ga-click="Billing settings, click, text:Upgrade to Team;"
            >
              Upgrade to Team
            </a>
          <% else %>
            <a
              class="d-block btn btn-sm btn-outline"
              href="<%= upgrade_path(org: organization, target: "organization", plan: "business") %>"
              data-ga-click="Billing settings, click, text:Downgrade to Team;"
            >
              Downgrade to Team
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
