<h4 class="f5 text-normal text-gray">Frequent actions</h4>
<ul class="billing-frequentActions-list list-style-none">
  <% if view.account.invoiced? %>
    <li class="no-wrap"><%= link_to "Contact support", contact_path, class: "f6" %></li>
  <% elsif !view.account.has_any_trade_restrictions? %>
    <li>
      <a href="<%= target_payment_method_path(view.account) %>" class="f6 <%= "text-red" if view.payment_needs_update? %>"><%= octicon("alert", class: "mr-1") if view.payment_needs_update? %>Update payment method</a>
    </li>
  <% end %>

  <% view.account.organization? ? history_path = org_payment_history_path : history_path = payment_history_path %>
  <li><%= link_to "Redeem coupon", find_coupon_path, class: "f6" %></li>
  <li><%= link_to "Explore subscription options", pricing_path, class: "f6" %></li>
</ul>
