<div class="Box mb-4">
  <div class="Box-header billing-box-header bg-gray-light d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="GitHub Packages" src="<%= image_path "modules/site/icons/gpr.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>GitHub Packages</div>
      <div class="text-small text-normal text-gray-light">
        Data transfer quota resets in <%= view.days_to_next_metered_billing_date %>
      </div>
    </div>
  </div>
  <div>
    <%
      usage = Billing::PackageRegistryUsage.new(view.account.business, owner: view.account)
    %>

    <div class="Box-row py-2 d-flex flex-items-center flex-justify-between text-gray">
      <div class="pl-6 ml-1 my-1 col-6">
        <div class="d-flex flex-items-baseline mb-1">
          <div class="flex-auto d-inline-block text-bold">Bandwidth</div>
          <div class="text-small d-inline-block">
            <strong><%= number_with_precision(usage.unrounded_paid_gigabytes_used, precision: 2) %></strong> GB used
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
