<%# erblint:counter TooltipCounter 1 %>
<div class="Box mb-4">
  <div class="Box-header billing-box-header bg-gray-light d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="Storage for Actions and Packages" src="<%= image_path "modules/site/icons/hosting.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
    <div>Storage for Actions and Packages</div>
      <div class="text-small text-normal text-gray-light">
        Shared storage between both services
      </div>
    </div>
  </div>

  <%
    usage = view.shared_storage_usage
    estimated_price = view.pricing.estimated_shared_storage_cost
  %>

  <%
    data = OpenStruct.new(
      usage: usage.estimated_monthly_private_gigabytes,
      usage_included: usage.plan_included_megabytes,
      usage_paid: usage.estimated_monthly_paid_gigabytes,
      usage_percentage: usage.paid_usage_percentage,
      included_usage_percentage: usage.included_usage_percentage,
      price: estimated_price,
      plan_included_gigabytes: usage.plan_included_megabytes_in_gigabytes,
      breakdown: [
        OpenStruct.new(
          name: "Shared Storage",
          included: usage.plan_included_megabytes,
          paid: usage.estimated_monthly_paid_gigabytes,
          price_per_gb: Billing::Money.new(::Billing::SharedStorage::ZuoraProduct::UNIT_COST.to_d.round(2) * 100),
          price: estimated_price
        )
      ]
    )
  %>

  <div>
    <details class="Box-row billing-box-accordion details-reset p-0 d-flex flex-items-center text-gray">
      <summary class="Details-element">
        <div class="py-2 pr-3 d-flex user-select-none flex-items-center">
          <!-- collapse / expand -->
          <div class="billing-box-accordion-state col-1 text-center text-gray-light text-small">
            <svg class="octicon" width="8" height="16" fill="#959DA5" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"></svg>
          </div>
          <div class="d-flex flex-auto flex-justify-between flex-items-center">
            <!-- usage -->
            <div class="my-1 col-6 pr-3">
              <div class="d-flex flex-items-baseline mb-1">
                <div class="flex-auto d-inline-block text-bold">Storage</div>
                <div class="text-small d-inline-block">
                  <% if data.usage <= data.plan_included_gigabytes %>
                    <strong><%= number_with_delimiter(data.usage) %></strong>
                    of <%= number_with_delimiter(data.plan_included_gigabytes) %> GB included
                  <% else %>
                    <strong><%= number_with_delimiter(data.usage) %></strong> GB used
                  <% end %>
                </div>
              </div>
              <div class="billing-box-progress tooltipped tooltipped-s tooltipped-no-delay" aria-label="<%= data.usage_included %>GB included + <%= data.usage_paid %>GB paid">
                <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
                  <% component.slot(:item, bg: :blue_4, percentage: data.included_usage_percentage) %>
                  <% component.slot(:item, bg: :blue_7, percentage: data.usage_percentage) %>
                <% end %>
              </div>
            </div>
            <!-- price -->
            <div class="text-right text-gray-dark"><%= data.price.format(no_cents_if_whole: false) %></div>
          </div>
        </div>
      </summary>
      <!-- breakdown -->
      <div class="d-flex pb-4">
        <div class="flex-shrink-0 col-1"></div>
        <div class="flex-auto mb-n2 pr-3 text-small">
          <table class="width-full text-left">
            <thead>
              <tr class="text-gray-light lh-condensed">
                <th class="col-5"></th>
                <th class="text-bold col-2 pt-1 pb-2">Included</th>
                <th class="text-bold col-2 pt-1 pb-2">Paid</th>
                <th class="text-bold col-3 pt-1 pb-2">Price estimate / GB</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody class="lh-condensed">
              <% data.breakdown.each do |line| %>
                <tr>
                  <td class="py-2"><%= line.name %></td>
                  <td class="py-2"><%= line.included %></td>
                  <td class="py-2"><%= line.paid %></td>
                  <td class="py-2"><%= line.price_per_gb.format(:no_cents_if_whole => false) %></td>
                  <td class="py-2 text-right text-gray-dark"><%= line.price.format(:no_cents_if_whole => false) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </details>
  </div>

  <%= render "billing_settings/spending_limit_footer", view: view, amount: estimated_price, budget: view.actions_and_packages_budget %>
</div>
