<% if view.org_is_on_per_seat? %>
  <% if account.over_plan_limit? %>
    <%= render layout: "billing_settings/github_usage_account_disabled_wrapper" do %>
      This account is disabled because it is over its seat limit.<br>
      To resolve this issue, buy more seats or remove members from @<%= account.login %>.
    <% end %>
  <% elsif account.over_billing_attempts_limit? %>
    <%= render layout: "billing_settings/github_usage_account_disabled_wrapper" do %>
      This account is disabled because we have not been able to charge it for another <%= account.plan_duration %>.<br>
      To resolve this issue, <a href="<%= target_payment_method_path(view.account) %>" class="text-red text-bold">update your payment method</a>.
    <% end %>
  <% end %>
<% else %>
  <% if account.over_plan_limit? %>
    <%= render layout: "billing_settings/github_usage_account_disabled_wrapper" do %>
      @<%= account.login %>’s private repositories are locked because they have exceeded the account’s limit.<br>
      To unlock, upgrade your subscription or make repositories public.
    <% end %>
  <% elsif account.over_billing_attempts_limit? %>
    <%= render layout: "billing_settings/github_usage_account_disabled_wrapper" do %>
      This account is disabled because we have not been able to charge it for another <%= account.plan_duration %>.<br>
      To resolve this issue, please <a href="<%= target_payment_method_path(view.account) %>" class="text-red text-bold">update your payment method</a>.
    <% end %>
  <% end %>
<% end %>
