<%# erblint:counter TooltipCounter 2 %>
<div class="Box mb-4">
  <div class="Box-header billing-box-header bg-gray-light d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="GitHub Actions" src="<%= image_path "modules/site/features/actions-icon-actions.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>GitHub Actions</div>
      <div class="text-small text-normal text-gray-light">
        Included minutes quota resets in <%= view.days_to_next_metered_billing_date %>
      </div>
    </div>
  </div>
  <div>

    <%
      plan = view.account.plan
      usage = Billing::ActionsUsage.new(view.account)
      private_price = view.pricing.actions_cost
    %>

    <%
      data = [
        OpenStruct.new(
          repository_visibility: "Private repos",
          usage: usage.total_private_minutes_used.to_i,
          usage_percentage: usage.private_usage_percentage,
          quota: plan.actions_included_private_minutes,
          price: private_price,
          runtimes: [
            OpenStruct.new(
              name: "Linux",
              used_minutes: usage.private_minutes_used["UBUNTU"].to_i,
              duration_multiplier: 1,
            ),
            OpenStruct.new(
              name: "Windows",
              used_minutes: usage.private_minutes_used["WINDOWS"].to_i,
              duration_multiplier: 2,
            ),
            OpenStruct.new(
              name: "macOS",
              used_minutes: usage.private_minutes_used["MACOS"].to_i,
              duration_multiplier: 10,
            )
          ]
        )
      ]
    %>

    <% data.each do |repository_group| %>
      <details class="Box-row billing-box-accordion details-reset p-0 d-flex flex-items-center text-gray">
        <summary class="Details-element">
          <div class="py-2 pr-3 d-flex user-select-none flex-items-center">
            <div class="billing-box-accordion-state col-1 text-center text-gray-light text-small">
              <%= octicon "chevron-right" %>
            </div>
            <div class="flex-auto">
              <div class="d-flex flex-auto flex-justify-between flex-items-center">
                <div class="my-1 col-6 pr-3">
                  <div class="d-flex flex-items-baseline mb-1">
                    <div class="flex-auto d-inline-block text-bold"><%= repository_group.repository_visibility %></div>
                    <div class="text-small d-inline-block">
                      <% if repository_group.usage_percentage <= 100 %>
                        <strong><%= number_with_delimiter(repository_group.usage) %></strong>
                        of <%= number_with_delimiter(repository_group.quota) %> min included
                      <% else %>
                        <strong><%= number_with_delimiter(repository_group.usage) %></strong> min used
                      <% end %>
                    </div>
                </div>
                <% if repository_group.usage_percentage <= 75 %>
                  <div class="billing-box-progress">
                    <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
                      <% component.slot(:item, bg: :blue_4, percentage: repository_group.usage_percentage) %>
                    <% end %>
                  </div>
                <% elsif repository_group.usage_percentage <= 100 %>
                  <div class="billing-box-progress">
                    <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
                      <% component.slot(:item, bg: :yellow_7, percentage: repository_group.usage_percentage) %>
                    <% end %>
                  </div>
                <% else %>
                  <div class="billing-box-progress tooltipped tooltipped-s tooltipped-no-delay" aria-label="<%= "#{number_with_delimiter(repository_group.quota)} min included + #{number_with_delimiter(repository_group.usage - repository_group.quota)} min paid" %>">
                    <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
                      <% included_percentage = (repository_group.quota / repository_group.usage.to_f) * 100 %>
                      <% paid_percentage = 100 - included_percentage %>
                      <% component.slot(:item, bg: :blue_4, percentage: included_percentage) %>
                      <% component.slot(:item, bg: :blue_7, percentage: paid_percentage) %>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="text-right text-gray-dark"><%= repository_group.price.format(:no_cents_if_whole => false) %></div>
            </div>
            <% if view.munich_actions_changes_apply? %>
              <div class="text-small text-normal text-gray-light flex-self-end">
                <% if view.munich_actions_minutes_change_date.future? %>
                  Included Action minutes will reduce to 3,000 per month as of
                  <%= view.next_billing_date_after_munich_limits_change.to_s(:long_ordinal) %>
                <% else %>
                  Included Action minutes have been reduced to 3,000 per month. <%= link_to "Read the announcement", view.munich_announcement_url %>.
                <% end %>
              </div>
            <% end %>
            </div>
          </div>
        </summary>

        <div class="d-flex pb-4">
          <div class="flex-shrink-0 col-1"></div>
          <div class="flex-auto mb-n2 pr-3 text-small">
            <table class="width-full text-left">
              <thead>
                <tr class="text-gray-light lh-condensed">
                  <th class="col-5"></th>
                  <th class="text-bold col-2 pt-1 pb-2">Used Minutes</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="lh-condensed">
                <% repository_group.runtimes.each do |runtime| %>
                  <tr>
                    <td class="py-2"><%= runtime.name %></td>
                    <td class="py-2">
                      <% if runtime.duration_multiplier > 1 %>
                        <span class="billing-tooltip-underline tooltipped tooltipped-s tooltipped-no-delay" aria-label="<%= number_with_delimiter(runtime.used_minutes) %> used minutes = <%= number_with_delimiter(runtime.used_minutes / runtime.duration_multiplier) %> build minutes * <%= runtime.duration_multiplier %> &#10; 1 <%= runtime.name %> minute counts as <%= runtime.duration_multiplier %> regular minutes.">
                          <%= number_with_delimiter(runtime.used_minutes) %>
                        </span>
                      <% else %>
                        <%= number_with_delimiter(runtime.used_minutes) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </details>
    <% end %>
  </div>

  <%= render "billing_settings/spending_limit_footer", view: view, amount: private_price, budget: view.actions_and_packages_budget %>
</div>
