<%# rubocop:disable GraphQL/Overfetch %>
<%# `view` is BillingSettings::OverviewView %>

<%graphql
fragment BillableFragment on Billable {
  subscription {
    pendingCycle {
      activeOn
      dataPacks
      dataPacksPrice
      isChangingDataPacks
      isChangingDuration
      plan {
        displayName
      }
      planDuration
    }
  }
}

fragment AccountFragment on Actor {
  login
}
%>
<%
    billable                    = Views::BillingSettings::LfsUsageSection::BillableFragment.new(account)
    subscription                = billable.subscription
    pending_cycle               = subscription.pending_cycle

    account = Views::BillingSettings::LfsUsageSection::AccountFragment.new(account)

    asset_status = view.account.asset_status || view.account.build_asset_status
%>

<div class="Box mb-4" <%= test_selector("lfs-usage") %>>
  <div class="Box-header billing-box-header bg-gray-light d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <%= octicon "database", height: 32, width: 32 %>
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>Git LFS Data</div>
      <div class="text-small text-normal text-gray-light">
        Bandwidth quota resets in <%= view.days_to_next_lfs_reset_date %>
      </div>
    </div>

    <% if !view.account.invoiced? %>
      <% if view.account.data_packs > 0 %>
        <details class="details-reset details-overlay dropdown">
          <summary class="btn btn-sm select-menu-button">
            Edit
          </summary>

          <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px;">
            <%= link_to target_billing_upgrade_data_plan_path(view.account),  { class: "dropdown-item", "data-pjax": "true", role: "menuitem" } do %>
              Add more data packs
            <% end %>
            <% if view.account.data_packs > 0 && !view.account.invoiced? %>
              <%= link_to "Remove data packs", target_billing_downgrade_data_plan_path(view.account), class: "dropdown-item", role: "menuitem" %>
            <% end %>
          </details-menu>
        </details>
      <% else %>
        <%= link_to target_billing_upgrade_data_plan_path(view.account),  { class: "btn btn-sm", "data-pjax": "true" } do %>
          Add more data
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div>

    <div class="Box-row py-2 d-flex flex-items-center flex-justify-between text-gray">
      <div class="pl-6 ml-1 my-1 col-6">
        <div class="d-flex flex-items-baseline mb-1">
          <div class="flex-auto d-inline-block text-bold">Storage</div>
          <div class="text-small d-inline-block">
            <strong><%= number_with_delimiter(target.asset_status.storage_usage) %> GB</strong> of
            <% if view.account.data_packs == 0 %>
              1 GB included
            <% else %>
              <%= number_with_delimiter(target.asset_status.storage_quota.round) %> GB
              (<strong><%= view.account.data_packs %></strong> <%= "data pack".pluralize(view.account.data_packs) %>)
            <% end %>
          </div>
        </div>
        <div class="billing-box-progress">
          <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
            <% progress_color = asset_status.storage_usage_percentage >= 100 ? :yellow_7 : :blue_4 %>
            <% component.slot(:item, bg: progress_color, percentage: asset_status.storage_usage_percentage) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="Box-row py-2 d-flex flex-items-center flex-justify-between text-gray">
      <div class="pl-6 ml-1 my-1 col-6">
        <div class="d-flex flex-items-baseline mb-1">
          <div class="flex-auto d-inline-block text-bold">Bandwidth</div>
          <div class="text-small d-inline-block">
            <strong><%= number_with_delimiter(target.asset_status.bandwidth_usage) %> GB</strong> of
            <% if view.account.data_packs == 0 %>
              1 GB included
            <% else %>
              <%= number_with_delimiter(target.asset_status.bandwidth_quota.round) %> GB
              (<strong><%= view.account.data_packs %></strong> <%= "data pack".pluralize(view.account.data_packs) %>)
            <% end %>
          </div>
        </div>
        <div class="billing-box-progress">
          <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
            <% progress_color = asset_status.bandwidth_usage_percentage >= 100 ? :yellow_7 : :blue_4 %>
            <% component.slot(:item, bg: progress_color, percentage: asset_status.bandwidth_usage_percentage) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if view.account.business.nil? %>
    <div class="Box-footer py-2">
      <div class="d-flex my-1 flex-items-center">
        <div class="flex-auto"></div>
        <strong>
          <%= view.account.data_pack_price.format(:no_cents_if_whole => false) %>
        </strong>
      </div>
    </div>

    <% if pending_cycle.is_changing_data_packs? || pending_cycle.is_changing_duration? %>
      <div class="Box-footer py-2 pl-0 flash-warn rounded-bottom-1">
        <div class="d-flex my-1 flex-items-baseline">
          <div class="col-1 text-center text-small flex-items-center">
            <%= octicon "clock" %>
          </div>
          <div class="flex-auto text-small">
            <% if pending_cycle.is_changing_data_packs? %>
              <div class="mb-0">
                Downgrade to <%= pluralize pending_cycle.data_packs, "data pack" %>, effective on
                <strong><%= pending_cycle.active_on.strftime("%b %d, %Y") %></strong>
                <%= form_tag update_pending_plan_change_path(account.login), class: "inline-form", method: :put do %>
                  <%= hidden_field_tag :cancel_data_packs, true %>
                  <button type="submit" class="btn-link f6 mr-2" data-confirm="Are you sure you want to cancel this pending LFS pack change?">
                    Cancel
                  </button>
                <% end %>
              </div>
            <% elsif pending_cycle.is_changing_duration? %>
              Price after the change to <%= pending_cycle.plan_duration.downcase %>ly billing
            <% end %>
          </div>
          <strong <%= test_selector("lfs-price") %>><%= pending_cycle.data_packs_price.format(no_cents_if_whole: false) %></strong>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
