<dl class="form-group">
  <dt>
    <%= fields.label :first_name, "First Name" %>
  </dt>
  <dd>
    <%= fields.text_field :first_name, required: true, maxlength: 64 %>
  </dd>
</dl>
<dl class="form-group">
  <dt>
    <%= fields.label :middle_name, "Middle Name (optional)" %>
  </dt>
  <dd>
    <%= fields.text_field :middle_name, required: false, maxlength: 64 %>
  </dd>
</dl>
<dl class="form-group">
  <dt>
    <%= fields.label :last_name, "Last Name" %>
  </dt>
  <dd>
    <%= fields.text_field :last_name, required: false, maxlength: 64 %>
  </dd>
</dl>
<dl class="form-group">
  <dt>
    <%= fields.label :address1, "Address 1" %>
  </dt>
  <dd>
    <%= fields.text_field :address1, required: true, maxlength: 128 %>
  </dd>
</dl>
<dl class="form-group">
  <dt>
    <%= fields.label :address2, "Address 2 (optional)" %>
  </dt>
  <dd>
    <%= fields.text_field :address2, required: false, maxlength: 128 %>
  </dd>
</dl>
<div class="d-flex flex-row">
  <dl class="form-group col-6 pr-3">
    <dt>
      <%= fields.label :city, "City" %>
    </dt>
    <dd>
      <%= fields.text_field :city, required: true %>
    </dd>
  </dl>
  <dl class="form-group col-6 mb-3 pl-3">
    <dt>
      <%= fields.label :region, "State / Province" %>
    </dt>
    <dd>
      <%= fields.text_field :region, required: false %>
    </dd>
  </dl>
</div>
<div class="d-flex flex-row">
  <dl class="form-group col-6 pr-3">
    <dt>
      <%= fields.label :postal_code, "Postal / Zip Code" %>
    </dt>
    <dd>
      <%= fields.text_field :postal_code, required: false %>
    </dd>
  </dl>
  <dl class="form-group col-6 mb-3 pl-3">
    <dt> <%= fields.label :country_code, "Country" %></dt>
    <dd>
      <%= fields.select(:country_code,
                          options_for_select(TradeControls::Countries.currently_unsanctioned.collect { |name, alpha2, _, _| [name, alpha2] }, profile&.country_code),
                          prompt: "Select an option",
                          class: "form-select width-full",
                          required: true
                      ) %>
    </dd>
  </dl>
</div>
