<% profile = target.user_personal_profile %>
<% edit_path = if target.organization?
   settings_org_billing_tab_path(organization_id: target.login, tab: "payment_information")
  else
    settings_user_billing_tab_path(tab: "payment_information")
  end
%>

<div class="pb-3">
  <% if profile.nil? %>
    <%= fields_for :user_personal_profile, profile do |f| %>
      <%= render partial: "billing_settings/name_address_form_inputs", locals: { profile: profile, fields: f } %>
    <% end %>
    <div class="form-group">
      <input type="submit" value="<%= submit_btn_label %>" class="btn btn-primary btn-block" id="submit_personal_profile">
    </div>
  <% else %>
    <div class="d-block clearfix pb-3 mt-3">
      <div class="float-left">
        <ul style="list-style-type:none;" id="name_address_summary">
          <li><%= profile.fullname %></li>
          <li><%= profile.address1 %></li>
          <li><%= profile.address2 %></li>
          <li><%= profile.postal_code %> <%= profile.city %> <%= profile.region %></li>
          <li><%= profile.country.name %></li>
        </ul>
      </div>
      <div class="float-right">
        <a href="<%= edit_path %>" class="btn" id="name_address_edit">
          Edit
        </a>
      </div>
    </div>
  <% end %>
</div>
