<h4 class="f5 text-normal text-gray">Next payment due</h4>
<% if view.account.invoiced? %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1">
    <% if view.invoice.present? && !view.invoice.paid? %>
      <%= Date.parse(view.invoice.due_on).strftime("%B %d") %>
    <% else %>
      &mdash;
    <% end %>
  </span>
<% else %>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1">
    <% unless next_charge_amount == 0 %>
      <% if view.account.next_payment_due_on %>
        <% if view.account.next_billing_date == Date.today %>
          Today
        <% else %>
          <%= view.account.next_billing_date.strftime("%B %d") %>
        <% end %>
      <% else %>
        Immediately
      <% end %>
    <% else %>
      &mdash;
    <% end %>
  </span>
<% end %>
<% view.account.organization? ? history_path = org_payment_history_path : history_path = payment_history_path %>
<%= link_to "View payment history", history_path, class: "f6" %>
