<p>
  <% if defined?(cancellation) %>
    <div class="text-center">
      <% if defined?(new_plan) %>
        <h3>You are downgrading to <%= branded_plan_name(new_plan) %></h3>
      <% end %>
      <div class="color-gray-4">
        After <%= target.next_billing_date.to_s(:long) %>, <%= target.organization? ? target.name : "your account" %> features and limits will change.
      </div>
    </div>
  <% else %>
    Your changes will take effect on <strong><%= target.next_billing_date.to_s(:long) %></strong>
  <% end %>
</p>
