<%# rubocop:disable Lint/InstanceVariable %>
<% payment_amount = target.payment_amount(plan: @plan) %>

<% if payment_amount == 0 && target.has_an_active_coupon? %>
  <% if params[:sponsors].nil? %>
    <p class="note mt-2">
      You have an active coupon. We will only start charging you after your
      coupon expires on <%= target.coupon_redemption.expires_at.strftime("%e %B, %Y") %>
      (<%= distance_of_time_in_words_to_now target.coupon_redemption.expires_at %> from now).
    </p>
  <% end %>
<% elsif target.paying_customer? %>
  <p class="note mt-2">
    <% if target.past_due? %>
      You have a past due balance of <%= casual_currency target.next_charge_amount %>,
      which we will attempt to charge again
      <% unless target.over_billing_attempts_limit? %>
        on <%= target.next_billing_date(with_dunning: true).to_s(:long) %>, or
      <% end %>
      as soon as you update your payment details.
    <% else %>
      Your next charge of <%= casual_currency payment_amount %> will process
      on <%= target.next_billing_date.to_s(:long) %> for another
      <%= target.monthly_plan? ? 'month' : 'year' %> of service.
      <% if target.has_an_active_coupon? && target.coupon.plan_specific? %>
        Your active <strong><%= target.coupon.plan_display_name %></strong> plan coupon will be revoked when you upgrade.
      <% end %>
    <% end %>
  </p>
<% elsif params[:plan].nil? %>
  <p class="note mt-2">
    There are no upcoming charges to your account.
  </p>
<% end %>
