
<!-- Row 1 -->
<div class="border-bottom pb-3 clearfix Details js-details-container">
  <div class="d-block clearfix pb-1">
    <div class="float-left">
      <span class="h4">New <%= view.duration %>ly total</span>
      <% if view.price_prorated? %>
        <span class="text-small text-gray d-block">Starting <%= view.account.next_billing_date %></span>
      <% end %>
    </div>
    <div class="float-right d-inline-block">
      <div class="d-block">
        <span class="f4 d-inline unstyled-renewal-price"><%= view.renewal_list_price.format %></span>
        <span class="text-small d-inline text-right"> / <%= view.duration %></span>
      </div>
        <button class="btn-link text-small d-block float-right Details-content--shown text-right js-details-target" type="button" aria-expanded="false">Show details</button>
    </div>
  </div>
    <div class="mt-1 mb-1 p-2 bg-gray rounded-1 Details-content--hidden">
      <div class="d-block clearfix pb-1 Details-content--hidden">
        <div class="float-left lh-condensed">
          <span class="text-small">
            <%= short_plan_name(view.plan) %>
            <% if view.plan.per_seat? %>
              for <%= pluralize(view.plan_change.seats, "user") %>
              <% if view.using_minimum_seat_count? %>
                <span class="text-small text-gray"> (minimum)</span>
              <% end %>
            <% end %>
          </span>
          <% if view.account.data_packs > 0 %>
            <span class="text-small d-block pl-2">with GitLFS: <%= pluralize view.account.data_packs, "data pack" %></span>
          <% end %>
        </div>
        <p class="float-right mb-0 lh-condensed d-inline-block">
          <span class="text-small d-inline">
            <span class="unstyled-next-plan-price"><%= view.next_plan_price.format %></span>
            &nbsp;/&nbsp;<%= view.duration %>
          </span>
        </p>
      </div>
      <% if view.plan.per_seat? %>
        <% account = view.account %>
        <div class="d-block clearfix pb-1 pl-4">
          <div class="float-left lh-condensed">
            <ul>
              <li class="text-small"><%= pluralize(account.direct_members.size, "member") %></li>
              <% if account.pending_non_manager_invitations.any? %>
                <li class="text-small">
                  <%= render layout: "shared/details_dialog", locals: {
                    button_class: "text-small link-gray-dark",
                    button_text: pluralize(account.pending_non_manager_invitations.size, "pending organization invitation"),
                    details_class: "f5",
                    title: "Pending invitations"} do %>
                    <%= render partial: "orgs/invitations/pending_invitations_list", locals: {
                      invitations: account.pending_non_manager_invitations
                    } %>
                  <% end %>
                </li>
              <% end %>
              <% if account.private_repo_invitee_ids.any? %>
                <li class="text-small">
                  <%= pluralize account.private_repo_invitee_ids.size, "pending private repository invitation" %>
                </li>
              <% end %>
              <% if account.collaborators_on_private_repositories_without_invitations.any? %>
                <li class="text-small">
                  <%= pluralize account.collaborators_on_private_repositories_without_invitations.size, "outside collaborator" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% view.paid_subscription_items.each do |item| %>
        <div class="d-block clearfix pb-1">
          <div class="float-left lh-condensed">
            <span class="text-small"><%= item.listing.name %> (<%= item.subscribable.name %>)</span>
          </div>
          <p class="float-right mb-0 lh-condensed d-inline-block">
            <span class="text-small d-inline"><%= item.price(duration: view.duration).format %>&nbsp;/&nbsp;<%= view.duration %></span>
          </p>
        </div>
      <% end %>
    </div>

    <button class="btn-link text-small float-right d-block Details-content--hidden js-details-target"
    type="button" aria-expanded="false">Hide details</button>

</div>

<!-- Row 3 -->
<div class="border-bottom py-3 d-flex flex-justify-between flex-items-center">
  <div>
    <h4>
      <% if !view.effective_immediately? %>
        Payment due <%= view.account.next_billing_date.strftime("%b %e, %Y") %>
      <% else %>
        Due today
      <% end %>
    </h4>
    <% if view.price_prorated? %>
      <span class="text-small text-gray d-block">Prorated for <%= pluralize view.plan_change.new_subscription.service_days_remaining, "day" %></span>
    <% end %>
  </div>
  <p class="float-right mb-0 lh-condensed">
    <span class="h2 d-block text-right unstyled-payment-due">
      <%= view.changing_duration? ? view.final_price(github_only: false).format : view.final_price(github_only: true).format %>
    </span>
    <% if view.changing_to_business_plus? && view.coupon? %>
      <span class="text-small d-block text-gray">
        Coupons don't apply to <%= GitHub::Plan.business_plus.display_name.humanize %> plan upgrades.
      </span>
    <% end %>
  </p>
</div>

<!-- Billing info -->
<div class="py-3">
  <div class="clearfix mb-2">
    <h4 class="float-left">Billing information</h4>
  </div>
  <div class="clearfix d-sm-flex flex-items-center">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="d-flex flex-items-center">
        <div class="pr-2">
          <%= avatar_for view.account, 48, class: "avatar" %>
        </div>
        <div>
          <ul class="list-style-none lh-condensed mb-0">
            <li>
              <strong><%= view.account.safe_profile_name %></strong>
            </li>
            <li class="text-gray text-small">
              <% if view.account.user? %>
                Personal account
              <% else %>
                Organization account
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-sm-right lh-condensed">
      <% if view.account.payment_method && view.account.has_valid_payment_method? %>
        <ul class="list-style-none">
          <% if view.account.has_paypal_account? %>
            <li>PayPal: <%= view.account.payment_method.paypal_email %></li>
          <% else %>
            <li>
              <%= octicon "credit-card", :class => "mr-1" %>
              <strong><%= view.account.payment_method.card_type %>
                <% if view.account.payment_method.card_type %>ending <%= view.account.payment_method.last_four %><% end %>
              </strong>
            </li>
            <li class="text-gray text-small">expires <%= view.account.payment_method.formatted_expiration_date %></li>
          <% end %>
        </ul>
      <% end %>
      <a href="<%= target_payment_method_path(view.account, {return_to: request.url}) %>" class="text-small">
        <% if view.account.payment_method && view.account.has_valid_payment_method? %>
          Edit...
        <% end %>
      </a>
    </div>
  </div>
</div>
