<%# `view` is BillingSettings::OverviewView %>
<%graphql
  fragment AccountFragment on Billable {
    ...Views::BillingSettings::OverviewHeader::AccountFragment
    ...Views::BillingSettings::OverviewHeader::BillableFragment

    ...Views::BillingSettings::PaymentInformation::AccountFragment
    ...Views::BillingSettings::PaymentInformation::BillableFragment

    ...Views::BillingSettings::Subscriptions::AccountFragment
    ...Views::BillingSettings::Subscriptions::BillableFragment
  }
%>

<%
  account = Views::BillingSettings::Overview::AccountFragment.new(account)
%>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading, tag: :h2) do %><%= view.sub_heading %><% end %>
<% end %>

<%= render "billing_settings/overview_header", view: view, account: account %>

<% if selected_tab.nil? %>
  <%= render "billing_settings/subscriptions",
    view: view,
    account: account,
    target: target %>
<% elsif selected_tab == "payment_information" %>
  <%= render "billing_settings/payment_information",
    view: view,
    account: account %>
<% elsif selected_tab == "cost_management" %>
  <%= render "billing_settings/cost_management",
    view: view,
    account: account %>
<% end %>
