<% if account.personal_plan? && account.plan.free? %>
  The basics of GitHub for every developer
<% elsif account.org_free_plan? %>
  The basics of GitHub for every team
<% elsif view.apple_iap_subscription? %>
  Your GitHub Pro subscription is billed through an App Store subscription.
  <% if view.account.next_payment_due_on %>
    Your subscription is paid through <%= view.account.next_billing_date&.strftime("%B %d, %Y") %>
  <% end %>
<% else %>
  <% if account.over_plan_limit? || account.plan.repos == 0 %>
    <%= pluralize(account.plan.repos, "private repository") %>.
  <% elsif account.plan.pro? %>
    Pages, Wikis, protected branches and more for Pro developers
  <% else %>
    <div <%= test_selector("over-limit") if view.repo_usage_percentage >= 100 %>>
      <strong><%= account.owned_private_repositories.count %> <%= "repository".pluralize(account.owned_private_repositories.count) %></strong> of
      <strong><%= account.plan.repos %></strong> <%= "private repository".pluralize(account.plan.repos) %> used
    </div>
  <% end %>
<% end %>
