<div class="d-flex flex-items-baseline mb-1">
  <div class="flex-auto d-inline-block text-bold">Seats</div>
  <div class="text-small d-inline-block">
    <strong><%= account.filled_seats %></strong> of <%= account.seats %> <%= "seat".pluralize(account.seats) %> used</div>
  </div>
  <div class="billing-box-progress">
    <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
      <% progress_color = view.account.filled_seats_percent >= 100 ? :yellow_7 : :blue_4 %>
      <% component.slot(:item, bg: progress_color, percentage: view.account.filled_seats_percent) %>
    <% end %>
</div>

<div>
  <%= pluralize(view.account.direct_members.size, "member") %>
</div>
<% if view.account.collaborators_on_private_repositories_without_invitations.size > 0 %>
  <div>
    <%= pluralize view.account.collaborators_on_private_repositories_without_invitations.size, "outside collaborator" %>
  </div>
<% end %>
<% if (private_repo_invitee_counts = view.account.private_repo_non_collaborator_invitee_ids.size) > 0 %>
  <div>
    <%= pluralize private_repo_invitee_counts, "private repository pending invitation", "private repository pending invitations"%>
  </div>
<% end %>
<% if view.account.pending_non_manager_invitations.size > 0 %>
  <div>
    <%= render layout: "shared/details_dialog", locals: {
      button_class: "btn-link",
      button_text: pluralize(view.account.pending_non_manager_invitations.size, "pending invitation"),
      title: "Pending invitations"} do %>
        <%= render partial: "orgs/invitations/pending_invitations_list", locals: {
        invitations: view.account.pending_non_manager_invitations
        } %>
      <% end %>
  </div>
<% end %>
