<% if !plan.free? && target.payment_difference(plan) != 0 %>
  Your <%= target.plan_duration %>ly bill will
  <%= increase_or_decrease(target, plan) %>
  from <strong><%= casual_currency target.payment_amount  %></strong>
  to <strong><%= casual_currency target.payment_amount(:plan => plan) %></strong>.

  <% if target.payment_difference(plan) > 0 %>
    <% if target.braintree_subscription? && target.has_credit? %>
      <% if payment_using_balance(target, plan) == 0 %>
        Your credit balance of <strong><%= casual_currency(target.credit) %></strong> will
        fully cover the prorated charge for this upgrade.
      <% elsif payment_using_balance(target, plan) > 0 %>
        Using your credit balance of <strong><%= casual_currency(target.credit) %></strong>,
        you’ll be charged a prorated amount of
        <strong><%= casual_currency target.payment_difference(plan, use_balance: true) %></strong>
        today for this upgrade.
      <% end %>
    <% elsif target.braintree_subscription? || target.yearly_plan? %>
      You’ll be charged a prorated amount of <strong><%= casual_currency target.payment_difference(plan) %></strong>
      today for this upgrade.
    <% end %>
  <% elsif target.braintree_subscription? %>
    <%= render "billing_settings/next_billing_date_cancel", target: target %>
  <% end %>
<% elsif plan.free? && target.braintree_subscription? && target.payment_difference(plan) < 0  %>
  <%= render "billing_settings/next_billing_date_cancel", target: target %>
<% end %>
