<% locals = ensure_local_vars(local_assigns, {
  required: [:feature],
  optional: [:test_selector_string],
  defaults: {}
}) %>

<div class="text-normal d-flex flex-items-start" <%= test_selector(locals[:test_selector_string])%>>
  <%= octicon "check", width: "16", height: "16", class: "text-green text-green-mktg mt-1 mr-2" %>
  <span><%= locals[:feature] %></span>
</div>