<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:counter TooltipCounter 3 %>
<%graphql
fragment Fragment on Query {
  organization(login: $login) {
    ...BillingSettings::PaymentsView::UserFragment
  }
  viewer {
    ...BillingSettings::PaymentsView::UserFragment
  }
}
%>

<%
  page_info responsive: false, :title => "Payment history", :selected_link => :"#{params[:target] || "user"}_billing_settings"
  view_fragment = Views::BillingSettings::PaymentHistory::Fragment.new(data)
  account = view_fragment.organization || view_fragment.viewer
  view = BillingSettings::PaymentsView.new target: account
  apple_iap_subscription_enabled = apple_iap_subscription_enabled? && target.user? && target.apple_iap_subscription?
%>

<% content = capture do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
         / Payment history
    <% end %>
  <% end %>

  <% if apple_iap_subscription_enabled %>
    <%= render "billing_settings/apple_iap_banner",
      button_title: "View subscription",
      message: "Your GitHub Pro subscription is billed through an App Store subscription and receipts are not visible here. View your transaction history on the App Store.",
      user: target
    %>
  <% end %>

  <% if view.has_payment_records? %>
    <div class="Box payment-history mb-3">
      <table class="boxed-group-table" cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th class="no-wrap"></th>
            <th class="no-wrap">ID</th>
            <th class="no-wrap">Date</th>
            <th class="no-wrap">Payment method</th>
            <th class="no-wrap">Amount</th>
            <th class="no-wrap text-center">Receipt</th>
          </tr>
        </thead>
        <tbody>
          <% view.payment_records.each do |record| %>
            <tr class="<%= record.status %>">
              <td class="status">
                <span class="tooltipped tooltipped-w" aria-label="<%= record.status.capitalize %>">
                  <%= octicon(record.status_icon, :class => "status-icon") %>
                </span>
              </td>
              <td class="id">
                <code>
                  <span class="tooltipped tooltipped-w" aria-label="<%= record.transaction_id %>">
                    <%= record.short_transaction_id %>
                  </span>
                </code>
              </td>
              <td class="date"><%= date_with_time_tooltip record.created_at %></td>
              <td class="method <% if record.is_paypal? %>break-all<% end %>">
                <% if record.is_paypal? %>
                  <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" class="paypal-icon">
                <% else %>
                  <%= octicon("credit-card") %>
                <% end %>
                <%= record.payer_identifier %>
              </td>
              <td class="amount">
                <% if record.status == "refunded" && record.amount != record.refund_amount %>
                  <%= record.refund_amount %> refunded from total of
                <% end %>

                <%= record.amount %>
              </td>
              <td class="receipt">
                <% if record.url_for_receipt %>
                  <a href="<%= record.url_for_receipt %>" class="tooltipped tooltipped-n" aria-label="Download receipt">
                    <%= octicon("cloud-download") %>
                  </a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "credit-card",
      title: "You have not made any payments.",
      mb: 3,
    ) %>
  <% end %>

  <p class="note">Amounts shown in USD</p>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
