<%# `view` is an instance of Sponsors::Tiers::IndexView %>
<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: view.sponsorable, selected_tab: :tiers } do %>
  <div class="Subhead d-flex flex-items-center">
    <div class="Subhead-heading">Sponsor tiers</div>
  </div>

  <div class="mb-4">
    You can set sponsor tiers with different prices and rewards. While only one
    published tier is required, adding more tiers gives the community different price
    points to support you at.
    <ul class="mt-2 ml-4">
      <li>You can have a total of <strong><%= view.total_allowed_tier_count %></strong> published tiers.</li>
      <li>The maximum monthly tier amount is <strong><%= view.max_monthly_tier_amount %></strong>.</li>
    </ul>
  </div>

  <% if !view.tiers_exist? && !view.show_new_form? %>
    <div class="Box">
      <div class="blankslate">
        <h3>
          You haven't published any tiers yet
        </h3>
        <div class="mt-1">
          <p class="mb-0">You need at least one published tier to request approval.</p>
          <p>These tiers will be visible on your GitHub Sponsors profile.</p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="Box Box--spacious">
      <% view.active_tiers.each do |tier| %>
        <%= render partial: "sponsors/tiers/tier", locals: {
          view: view,
          tier: tier,
          sponsorable: view.sponsorable,
          sponsor_count: view.sponsor_count(tier),
        } %>
      <% end %>

      <% if view.show_new_form? %>
        <div class="Box-row d-flex">
          <%= form_tag(sponsorable_dashboard_tiers_path(view.sponsorable_login), method: :post, class: "width-full") do %>
            <%= render partial: "sponsors/tiers/form", locals: {
              tier: nil,
              sponsorable: view.sponsorable,
            } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if view.remaining_tier_count.zero? %>
    <div class="pt-4">
      You have published <strong><%= view.published_tier_count %></strong>
      out of <strong><%= view.total_allowed_tier_count %></strong> tiers.
      If you want a new tier — edit an existing tier.
    </div>
  <% else %>
    <div class="pt-4">
      <%= link_to("Add a tier", new_sponsorable_dashboard_tier_path(view.sponsorable_login), class: "btn mr-2") %>
      <span class="text-gray">
        You have <%= view.published_tier_count_string %> and <%= view.draft_tier_count_string %>.
        You can publish up to <strong><%= view.remaining_tier_count %></strong> more tiers.
      </span>
    </div>
  <% end %>

  <% if view.retired_tiers.any? %>
    <div class="Subhead d-flex flex-items-center pt-6">
      <div class="Subhead-heading">Retired tiers</div>
    </div>

    <div class="mb-4">
      Existing sponsors on this retired tier will continue to stay on the tier
      until they update their tier or cancel their sponsorship.
    </div>

    <div class="Box Box--spacious flex-auto">
      <% view.retired_tiers.each do |tier| %>
        <%= render partial: "sponsors/tiers/tier", locals: {
          view: view,
          tier: tier,
          sponsorable: view.sponsorable,
          sponsor_count: view.sponsor_count(tier),
        } %>
      <% end %>
    </div>
  <% end %>

  <div class="mt-6">
    <div class="d-flex flex-justify-between flex-items-center">
      <span>
        <span class="js-sponsors-nudge"><%= octicon("light-bulb", class: "mr-2") %></span>
        <span class="js-sponsors-nudge" hidden><%= emoji_tag(Emoji.find_by_alias("bulb")) %></span>
        <strong>Need ideas?</strong>
      </span>
      <button class="btn btn-invisible float-right text-normal text-small text-gray-light p-0 js-sponsors-nudge-toggle js-sponsors-nudge" type="button">Show</button>
      <button class="btn btn-invisible float-right text-normal text-small text-gray-light p-0 js-sponsors-nudge-toggle js-sponsors-nudge" type="button" hidden>Hide</button>
    </div>
  </div>

  <div class="js-sponsors-nudge" hidden>
    <div class="my-3">
      Here are some themes to help you set tiers. You know your work and community best,
      so set tiers that help them support you in the way that works for you.
    </div>

    <div class="d-flex p-0">
      <div class="p-4 border rounded-2 mr-3">
        <%= emoji_tag(Emoji.find_by_alias("pray"), class: "emoji v-align-text-bottom") %>
        <strong>Acknowledgement</strong>
        <div class="mt-2">
          Some sponsors might be chipping in because they simply like your work and
          <strong>want you to keep doing what you're doing</strong>
          &mdash; so a "thank you" would suffice!
        </div>
      </div>

      <div class="p-4 border rounded-2 mr-3">
        <%= emoji_tag(Emoji.find_by_alias("mega"), class: "emoji v-align-text-bottom") %>
        <strong>Recognition</strong>
        <div class="mt-2">
          This could be a simple thank you or shout out on social media &mdash;
          or, at <strong>higher tiers</strong>, adding a sponsor's name
          and avatar to a readme or website.
        </div>
      </div>

      <div class="p-4 border rounded-2">
        <%= emoji_tag(Emoji.find_by_alias("hugs"), class: "emoji v-align-text-bottom") %>
        <strong>Support</strong>
        <div class="mt-2">
          You could offer weekly support hours for your sponsors. If you decide to
          offer this, consider setting it at a <strong>very high tier</strong>,
          because your time is valuable!
        </div>
      </div>
    </div>
  </div>
<% end %>
