<% if collection.present? %>
  <%# erblint:counter TooltipCounter 1 %>

  <article class="border rounded-1 box-shadow bg-white my-4">
    <div class="f6 text-gray px-3 mt-3">
      <span class="tooltipped tooltipped-ne" aria-label="This recommendation was created by GitHub staff">
        <%= octicon("mark-github", height: 14, class: "mr-1", fill: "#24292e") %>
      </span>
      Collection recommended by GitHub
    </div>
    <div class="text-center text-sm-left p-3">
      <div class="d-sm-flex gutter-sm-condensed">
        <div class="col-4 col-sm-3 mx-auto">
          <%= render(Primer::LinkComponent.new(
            href: collection_path(collection),
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :COLLECTION_CARD,
              click_target: :COLLECTION,
              click_visual_representation: :COLLECTION_IMAGE,
              record_id: collection.id,
              ga_click_text: "Explore, go to collection, location:explore feed; "\
                "text:#{collection.display_name}",
            ),
          )) do %>
            <% if collection.image_url.present? %>
              <img
                src="<%= image_path collection.image_url %>"
                alt="<%= collection.display_name %>"
                class="d-block width-full"
              >
            <% else %>
              <div
                class="bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mx-auto mb-3"
                style="width: 120px; height:120px; line-height:120px;"
              >
                #
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <h1 class="h3-mktg lh-condensed mt-3 mt-sm-1 mb-2">
            <%= render(Primer::LinkComponent.new(
              href: collection_path(collection),
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :COLLECTION_CARD,
                click_target: :COLLECTION,
                click_visual_representation: :COLLECTION_TITLE,
                record_id: collection.id,
                ga_click_text: "Explore, go to collection, location:explore feed; "\
                  "text:#{collection.display_name}",
              ),
            )) do %>
                <%= collection.display_name %>
            <% end %>
          </h1>
          <p class="text-gray">
            <%= collection.description %>
          </p>
          <p>
            <%= render(Primer::LinkComponent.new(
              href: collection_path(collection),
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :COLLECTION_CARD,
                click_target: :COLLECTION,
                click_visual_representation: :SEE_ALL_COLLECTION_ITEMS,
                record_id: collection.id,
                ga_click_text: "Explore, go to collection, location:explore feed; "\
                  "text:#{collection.display_name}",
              ),
            )) do %>
              See the <%= pluralize collection.items.size, "item" %> in this collection
              <%= octicon("chevron-right", height: 16, class: "ml-1") %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </article>
<% end %>
