<% if marketplace_listing.present? %>
  <% screenshot = marketplace_listing.screenshots.first %>

  <%# erblint:counter TooltipCounter 1 %>

  <article class="border rounded-1 box-shadow bg-white my-4">
    <% if screenshot.present? %>
      <%= render(Primer::LinkComponent.new(
        border: :bottom,
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_context: :MARKETPLACE_APP_CARD,
          click_target: :MARKETPLACE_APP,
          click_visual_representation: :MARKETPLACE_APP_IMAGE,
          record_id: marketplace_listing.id,
          ga_click_text: "Explore, go to marketplace app, location:explore feed",
        ),
        href: marketplace_listing_path(marketplace_listing),
        display: :block,
      )) do %>
        <img src="<%= image_path screenshot.storage_external_url %>"  alt="<%= screenshot.alt_text %>" class="d-block width-fit mx-auto">
      <% end %>
    <% end %>

    <div class="p-3">
      <div class="f6 text-gray mb-3">
        <span class="tooltipped tooltipped-ne" aria-label="This recommendation was created by GitHub staff">
          <%= octicon("mark-github", height: 14, class: "mr-1", fill: "#24292e") %>
        </span>
        App recommended by GitHub
      </div>
      <div class="d-flex">
        <div class="mr-4 ml-2">
          <%= render(Primer::LinkComponent.new(
            classes: "CircleBadge CircleBadge--small",
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :MARKETPLACE_APP_CARD,
              click_target: :MARKETPLACE_APP,
              click_visual_representation: :MARKETPLACE_APP_ICON,
              record_id: marketplace_listing.id,
              ga_click_text: "Explore, go to marketplace app, location:explore feed",
            ),
            href: marketplace_listing_path(marketplace_listing),
            style: "background-color: ##{marketplace_listing.bgcolor};"
          )) do %>
            <img
              src="<%= image_path marketplace_listing.logo_url %>"
              alt="<%= marketplace_listing.name %>"
              class="CircleBadge-icon"
            >
          <% end %>
        </div>
        <div class="flex-auto">
          <h1 class="f2-light text-gray-dark lh-condensed mt-1 mb-2">
            <%= render(Primer::LinkComponent.new(
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :MARKETPLACE_APP_CARD,
                click_target: :MARKETPLACE_APP,
                click_visual_representation: :MARKETPLACE_APP_TITLE,
                record_id: marketplace_listing.id,
                ga_click_text: "Explore, go to marketplace app, location:explore feed; "\
                  "text:#{marketplace_listing.name}",
              ),
              href: marketplace_listing_path(marketplace_listing),
            )) do %>
              <%= marketplace_listing.name %>
            <% end %>
          </h1>
          <div class="markdown-body f5 text-gray mb-2">
            <%= marketplace_listing.full_description_html %>
          </div>
        </div>
      </div>
    </div>
  </article>
<% end %>
