<%
  instrument_explore_page_view(
    user: current_user,
    visitor: current_visitor,
    view_context: :TOPIC_RECOMMENDATION_LIST,
    visible_record_ids: { visible_recommended_topic_ids: topics.map(&:id) },
  )
%>
<% if topics.present? %>
  <aside class="d-flex my-6" aria-label="Star Topics">
    <div class="col-2 pr-lg-3 mr-3 mr-lg-0">
      <img
        src="<%= image_path "email/explore/explore-gradient-icon.png" %>"
        alt="Explore topics"
        class="width-full"
      >
    </div>

    <div class="col-10">
      <h2 class="h2-mktg lh-condensed mt-1 mb-2">
        Star topics that interest you

        <div class="f4 text-gray text-normal">
          and we'll show you the latest from the octoverse.
        </div>
      </h2>

      <div class="d-flex flex-wrap flex-items-center">
        <% topics.each do |topic| %>
          <%=
            render(Topics::TagComponent.new(
              font_size: 6,
              href: topic_show_path(topic.name),
              my: 1,
              name: topic.name,
              title: "Topic: #{topic.name}",
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :TOPIC_RECOMMENDATION_LIST,
                click_target: :TOPIC,
                click_visual_representation: :TOPIC_TAG,
                record_id: topic.id,
                ga_click_text: "Explore, go to topic, location:star topics callout;"\
                  "text:#{topic.name}",
              ),
            ))
          %>
        <% end %>

        <%= render(Primer::LinkComponent.new(
          href: topics_path,
          font_size: 6,
          my: 2,
          ml: 2,
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_context: :TOPIC_RECOMMENDATION_LIST,
            click_target: :TOPICS,
            click_visual_representation: :EXPLORE_MORE_TOPICS,
            ga_click_text: "Explore, go to Topics, location:star topics callout",
          ),
        )) do %>
          Explore more topics <%= render(GitHub::OcticonComponent.new(
            icon: "chevron-right",
            ml: 2,
            vertical_align: :middle
          )) %>
        <% end %>
      </div>
    </div>
  </aside>
<% end %>
