<div class="d-md-flex d-lg-block">
  <div class="col-md-6 col-lg-12 px-4 px-lg-5 pt-4 pt-lg-5 pb-md-4 pb-lg-0">
    <h2 class="lh-condensed">
      <a
        href="<%= signup_path %>"
        class="h1-mktg"
        data-ga-click="Explore, sign up, location:explore feed"
      >
        Join GitHub
      </a>
      <a
        href="<%= login_path %>"
        class="d-lg-block h3-mktg text-gray text-normal mb-lg-1"
        data-ga-click="Explore, sign in, location:explore feed"
      >
        (or sign in)
      </a>
      <span class="d-block f4 text-normal">
        to find projects, people, and topics catered to your interests.
      </span>
    </h2>
  </div>
  <div
    class="d-md-flex flex-column flex-justify-center col-md-6 col-lg-12 pt-3 pt-md-0 pt-lg-3 pb-6 pb-md-0 pb-lg-8"
    style="background-repeat: no-repeat; background-position: right bottom; background-image: url('<%= image_path("modules/site/heroes/octocat-building-hubot.svg") %>');"
  >
    <div class="mx-4 mx-lg-5 mb-4 mb-md-0 mb-lg-4">
      <a
        href="<%= signup_path %>"
        class="btn btn-primary"
        data-ga-click="Explore, sign up, location:explore feed"
      >
        Sign up for free
      </a>
    </div>
  </div>
</div>
