<div class="d-flex d-lg-block flex-items-center">
  <div class="col-3 col-sm-2 col-md-1 col-lg-4 m-3 mx-lg-auto mb-lg-0">
    <%= avatar_for(user, "100%", class: :avatar) %>
  </div>
  <div class="col-9 col-sm-10 col-md-11 col-lg-12 text-left text-lg-center py-3 px-lg-3">
    <h2 class="lh-condensed">
      <% if user.profile_name.present? %>
        <%= user.profile_name %>
      <% end %>
      <span class="d-block f3 text-gray text-normal"><%= user.login %></span>
    </h2>
  </div>
</div>

<div class="border-top px-3">
  <h3 class="h4-mktg my-3"><a href="<%= stars_path(filter: "topics") %>">
    <%= pluralize user.starred_topics_count, "starred topic" %></a>
  </h3>

  <ul class="f4 list-style-none">
    <%
      user.starred_topics(limit: ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT).each do |starred_topic|
    %>
      <li class="my-3">
        <a
          href="<%= topic_show_path(starred_topic) %>"
          class="d-flex flex-items-center"
          data-ga-click="Explore, go to topic, location:explore user summary"
        >
          <% if starred_topic.logo_url %>
            <img
              src="<%= image_path starred_topic.logo_url %>"
              alt="<%= starred_topic.safe_display_name %> logo"
              class="d-block mr-3"
              width="24"
            >
          <% else %>
            <div
              class="bg-blue-light f5 text-gray-light text-bold rounded-1 flex-shrink-0 text-center no-underline mr-3"
              style="width:24px; height:24px; line-height:24px;"
            >
              #
            </div>
          <% end %>

          <span><%= starred_topic.safe_display_name %></span>
        </a>
      </li>
    <% end %>
  </ul>

  <% if user.starred_topics_count > ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT %>
    <p class="f6">
      <a
        href="<%= stars_path(filter: "topics") %>"
        data-ga-click="Explore, go to starred topics, location:explore user summary"
      >
        <%= user.starred_topics_count - ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT %> more
        <%= octicon("chevron-right", height: 14, class: "ml-1") %>
      </a>
    </p>
  <% end %>
</div>
<div class="border-top p-3">
  <h3 class="h4-mktg">
    <a
      href="<%= stars_path %>"
      data-ga-click="Explore, go to starred repositories, location:explore user summary"
    >
      <%= pluralize user.starred_repositories.size, "starred repository" %>
    </a>
  </h3>
</div>
