<% page_info(
  title: "Explore GitHub",
  description: "Explore is your guide to finding your next project, catching up "\
    "with what’s trending, and connecting with the GitHub community.",
  container_xl: true,
  selected_link: :explore_main,
  stafftools: stafftools_explore_path,
  richweb: {
    title: "Explore GitHub",
    url: request.original_url,
    description: "Explore is your guide to finding your next project, catching "\
      "up with what’s trending, and connecting with the GitHub community.",
    image: image_path('modules/explore/social.jpg'),
  },
) %>

<% content_for :analytics do %>
  <meta class="js-ga-set" name="<%= GoogleAnalytics::Dimensions::EXPLORE_VERSION %>" content="feed">
<% end %>

<%= render(Explore::NavComponent.new(show_spacer: true)) %>

<!--// START: "Feed" layout //-->
<div class="border-bottom border-gray-light" style="background-color: #fcfdfd;">
  <div class="container-xl p-responsive">
    <div class="d-md-flex flex-wrap flex-lg-nowrap gutter-md">
      <!--// User //-->
      <div class="col-md-12 col-lg-3 position-md-relative pt-4 pt-lg-0 mt-lg-n6" style="z-index:22;">
        <div class="border rounded-1 box-shadow-medium bg-white">
          <% if logged_in?  %>
            <%= render "explore/feed/user_summary", user: current_user %>
          <% elsif GitHub.signup_enabled? %>
            <%= render "explore/feed/signup_prompt"%>
          <% end %>
        </div>
      </div>

      <!--// Feed //-->
      <div class="col-md-8 col-lg-6 py-4">
        <% if logged_in? %>
          <%= render(
            "explore/feed/logged_in_feed",
            featured_collection: featured_collection,
            marketplace_listings: marketplace_listings,
            repository_recommendations: repository_recommendations,
            recommended_developers: recommended_developers,
            spotlights: spotlights,
            featured_event: featured_event,
            featured_topic: featured_topic,
            non_spotlight_topics: non_spotlight_topics,
          ) %>
        <% else %>
          <%= render(
            "explore/feed/logged_out_feed",
            featured_collection: featured_collection,
            marketplace_listings: marketplace_listings,
            trending_repositories: trending_repositories,
            spotlight: spotlights.first,
            featured_topic: featured_topic,
            featured_event: featured_event,
          ) %>
       <% end %>
      </div>

      <!--// Octoverse //-->
      <div class="col-md-4 col-lg-3 py-4">
        <% if logged_in? %>
          <%= render(
            "explore/feed/trending_repositories",
            repositories: trending_repositories.limit(4),
          ) %>
        <% end %>

        <%= render(
          "explore/feed/trending_developers",
          trending_developers: ExploreFeed::Trending::Developer.all.limit(4),
        ) %>
      </div>
    </div>
  </div>
</div>
