<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 1 %>
<% view = Stafftools::KeyView.new(key: key) %>

<li class="stafftools-auditlog ssh-key">
  <%= octicon("key", height: 32) %>

  <div class="js-details-container Details audit-log-entry">
    <% if GitHub.auth.ssh_keys_managed_externally? %>
      <span class="team-label-ldap text-small text-gray header-label-ldap tooltipped tooltipped-s" aria-label="SSH key managed externally"><%= GitHub.auth.name %></span>
    <% end %>
    <strong class="audit-log-title">
      <%= view.key.title %>
    </strong>
    <p>
      <code><%= view.key.fingerprint %></code>
      <br>

      <%= view.key.read_only? ? "Read only" : "Read/write" %>
      &ndash;
      <% if view.key.accessed_at %>
        <span>Last used within <%= distance_of_time_in_words(PublicKey::ACCESS_THROTTLING) %> of <%= view.key.last_access_date %></span>
      <% else %>
        <span class="ssh-key-no-activity">No recent activity</span>
      <% end %>
      <br>

      <% unless GitHub.auth.ssh_keys_managed_externally? %>
        <% if view.key.verified? %>
          Key was verified by <span><%= view.verifier_user_link %></span> at <%= timestamp(view.key.verified_at) %>
          <% unless GitHub.enterprise? %>
            <% unless view.key.can_verify_account_ownership? %>
              <br>
              <%= octicon("alert", :class => "error") %>
              This key cannot be used to verify account ownership because it was created by an OAuth application.
            <% end %>
          <% end %>
        <% else %>
          <%= octicon("alert") %>
          Key has not been verified: <%= view.key.unverification_explanation %>
          <% unless GitHub.enterprise? %>
            <% unless view.key.unverification_reason == "stale" %>
              <br>
              <%= octicon("alert", :class => "error") %>
              This key cannot be used to verify account ownership because it has not been verified.
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span>
    </p>
    <div class="log-more-info">
      <table>
        <tr>
          <th>Database ID:</th>
          <td>
            <%= view.key.id %>
          </td>
        </tr>
        <tr>
          <th>Accessed:</th>
          <td>
            <% if view.key.accessed_at? %>
              <%= timestamp(view.key.accessed_at) %>
            <% else %>
              <% if last_accessed_after_cutoff?(key) %>
                No recent activity
              <% else %>
                <%= "No activity has been logged since #{access_cutoff_date(key)}" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Created:</th>
          <td>
            <% if view.key.created_at? %>
              <%= timestamp(view.key.created_at) %>
            <% else %>
              nil
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Created by:</th>
          <td>
            <% if view.key.creator %>
              <%= link_to view.key.creator.login, gh_stafftools_user_path(view.key.creator), :class => 'name' %>
            <% else %>
              nil
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Fingerprint:</th>
          <td>
            <code><%= view.key.fingerprint %></code>
          </td>
        </tr>
        <% if !GitHub.auth.ssh_keys_managed_externally? %>
          <tr>
            <th>Verified:</th>
            <td>
              <% if view.key.verified? %>
                <%= timestamp(view.key.verified_at) %>
              <% else %>
                nil
              <% end %>
            </td>
          <tr>
          <tr>
            <th>Verified by:</th>
            <td>
              <% if view.key.verified? %>
                <%= view.verifier_user_link %>
              <% else %>
                nil
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</li>
