<% view = Stafftools::MemberView.new(:member => member) %>

<li class="clearfix">
  <%= avatar_for member, 20, class: "avatar" %>
  <%= link_to member, stafftools_user_path(member) %>
  <% if view.has_name? %>
    &ndash; <%= member.profile_name %>
  <% end %>
</li>
