<% page_info :selected_link => :stafftools %>

<%= render layout: "stafftools/stafftools" do %>
  <% if GitHub.licensed_mode? %>
    <p class="welcome mb-3">
      Welcome to the administration section! You can debug users and repositories from here.<br>
      <% if display_management_console_link? %>
        If you need to manage things like the domain, authentication and SSL, you should use the <a href="/setup">Management Console</a>.
      <% end %>
      You can access your GitHub Enterprise license details in the <%= link_to("enterprise account settings", settings_license_enterprise_path(GitHub.global_business.to_param)) %>
    </p>
  <% end %>

  <div class="boxed-group">
    <h3>
      <label for="query">Search users, organizations,
        <%= "enterprises," unless GitHub.single_business_environment? %>
        teams, repositories, gists and applications</label>
    </h3>
    <div class="boxed-group-inner">
      <p>
        Users are found by login, email, SSH key MD5 fingerprint, GPG key,
        <% if GitHub.billing_enabled? %>
          coupon code, encoded billing ID,
        <% end %>
        or database ID.
      </p>
      <p>
        Organizations are found by login, email,
        <% if GitHub.billing_enabled? %>
          coupon code, encoded billing ID,
        <% end %>
        or database ID.
      </p>
      <% unless GitHub.single_business_environment? %>
        <p>
          Enterprises are found by slug, name, or database ID.
        </p>
      <% end %>
      <p>
        Teams are found by organization/team, GraphQL object ID, or database ID.
      </p>
      <p>
        Repositories are found by name, "username/repository", deploy key
        MD5 fingerprint, or database ID.
      </p>
      <p>
        Gists are found by name or "username/repository".
      </p>
      <p>
        OAuth applications are found by name, client ID or application ID.
      </p>
      <p>
        GitHub Apps are found by name or integration ID. GitHub App installations are found by installation ID.
      </p>
      <%= form_tag "/stafftools/search", :method => :get do %>
        <div class="form-group">
          <%= text_field_tag :query, nil, :class => "short",
                             :autofocus => true %>
          <button type="submit" class="btn">Search</button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="boxed-group">
    <h3><label for="audit_log_query">Search audit log</label></h3>

    <div class="boxed-group-inner">
      <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <%= form_tag stafftools_audit_log_path, :method => :get do %>
        <div class="form-group">
          <%= text_field_tag :query, nil, :class => "short",
                             :placeholder => "username, username/repository, or IP",
                             :id => "audit_log_query" %>
          <button type="submit" class="btn">Search</button>
        </div>
      <% end %>
      <% else %>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </div>
  </div>

  <% if !GitHub.enterprise? %>
    <div class="boxed-group">
      <h3><label for="cname_query">Search pages by CNAME</label></h3>

      <div class="boxed-group-inner">
        <%= form_tag stafftools_search_cname_path, :method => :get do %>
          <div class="form-group">
            <%= text_field_tag :query, nil, :class => "short",
                               :placeholder => "www.example.com",
                               :id => "cname_query" %>
            <button type="submit" class="btn">Search</button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3><label for="user_asset_query">Search image attachments</label></h3>

    <div class="boxed-group-inner">
      <%= form_tag stafftools_search_user_assets_path, :method => :get do %>
        <div class="form-group">
          <%= text_field_tag :query, nil, :class => "short",
                             :placeholder => "image attachment URL",
                             :id => "user_asset_query" %>
          <button type="submit" class="btn">Search</button>
        </div>
      <% end %>
    </div>
  </div>

  <% if GitHub.lockouts_enabled? %>
    <div class="boxed-group">
      <h3><label for="lockouts_query">Search Locked IPs</label></h3>

      <div class="boxed-group-inner">
        <%= form_tag stafftools_locked_ip_path, :method => :get do %>
          <div class="form-group">
            <%= text_field_tag :ip_address, nil, :class => "short",
                               :placeholder => "exact IP required",
                               :id => "lockouts_query" %>
            <button type="submit" class="btn">Search</button>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if GitHub.billing_enabled? %>
    <%= render "stafftools/billing_transactions/form" %>
  <% end %>
<% end %>
