<%# view is an instance of GlobalAdvisories::ShowView %>

<div class="p-3">
  <div class="mb-2">
    Published <%= time_ago_in_words_js(view.advisory.published_at) %>
  </div>

  <div class="d-flex">
    <div class="mr-2" title="<%= view.advisory.severity.capitalize %> severity">
      <%= render Repos::Alerts::SeverityIconComponent.new(severity: view.advisory.severity, withdrawn: view.advisory.withdrawn?) %>
    </div>
    <div>
      <a
        title="<%= view.advisory.identifier %>"
        class="no-underline link-gray-dark d-block h5"
        href="<%= global_advisory_path(view.advisory.ghsa_id) %>">
        <%= view.advisory.identifier %>
      </a>
      <div class="text-gray mb-2">
        <%= view.advisory_title %>
      </div>
      <div class="d-flex flex-items-center mb-1">
        <%= octicon("package", class: "text-gray mr-1") %> <%= view.first_vulnerable_version_range.affects %>
        <span class="circle d-inline-block p-1 ml-2 mr-1" style="background-color: <%= ecosystem_color(view.first_vulnerable_version_range.ecosystem.upcase) %>;"></span>
        <span class="text-gray"><%= ecosystem_label(view.first_vulnerable_version_range.ecosystem.upcase) %></span>
      </div>
      <div class="d-flex flex-items-center text-small">
        <span class="mr-2">
          <%= octicon("x", class: "text-red") %> <%= view.first_vulnerable_version_range.requirements %>
        </span>
        <% if view.first_vulnerable_version_range.fixed_in.present? %>
          <span>
            <%= octicon("check", class: "text-green") %> <%= view.first_vulnerable_version_range.fixed_in %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
