<div
  class="TimelineItem pt-0 js-comment-container discussion-timeline-item"
  data-gid="<%= timeline.discussion_graphql_id %>"
  data-url="<%= body_discussion_path(
    timeline.repo_owner,
    timeline.repo_name,
    timeline.discussion,
  ) %>"
>
  <%= render(
    "discussions/comment",
    comment: timeline.discussion,
    timeline: timeline,
    form_path: discussion_path(timeline.discussion),
    dom_id: "discussion-#{timeline.discussion.id}",
    top_level_comment: true
  ) %>
</div>
