<li class="mt-1">
  <%= link_to path, class: class_names(
      "py-1 px-3 no-underline rounded-2 d-flex flex-items-center width-full",
      "link-gray" => !selected,
      "bg-blue text-white" => selected) do %>
    <div class="mr-1" style="flex: 0 0 1.5em"><%= icon %></div>
    <div>
      <%= title %>
    </div>
  <% end %>
</li>
