<% copy_button = capture do %>
  <clipboard-copy
    class="dropdown-item btn-link"
    for="<%= permalink_id %>"
    role="menuitem"
    <%= test_selector("comment-header-copy-link") %>
    <%= safe_discussion_view_click_attrs(discussion_or_comment, target: :COPY_LINK_MENU_ITEM) %>>
    Copy link
  </clipboard-copy>
<% end %>

<% quote_reply_button = capture do %>
  <% if discussion_or_comment.body.present? %>
    <button
      type="button"
      class="dropdown-item btn-link d-none js-comment-quote-reply"
      role="menuitem"
      <%= safe_discussion_view_click_attrs(discussion_or_comment, target: :QUOTE_REPLY_MENU_ITEM) %>>
      Quote reply
    </button>
  <% end %>
<% end %>

<% edit_button = capture do %>
  <% if !timeline.archived_repo? %>
    <% if timeline.can_update?(discussion_or_comment) %>
      <button
        type="button"
        class="dropdown-item btn-link js-comment-edit-button js-discussions-comment-edit-button"
        role="menuitem"
        aria-label="Edit <%= discussion_or_comment.is_a?(DiscussionComment) ? "comment" : "discussion" %>"
        <%= test_selector("edit-#{discussion_or_comment.class.name.underscore}-#{discussion_or_comment.id}") %>>
        Edit
      </button>
    <% elsif timeline.show_edit_button_requiring_email_verification?(discussion_or_comment) %>
      <button
        type="button"
        class="dropdown-item disabled btn-link"
        title="You need to verify your email address before you can edit this comment."
        role="menuitem"
        disabled>
        Edit
      </button>
    <% end %>
  <% end %>
<% end %>

<% open_new_issue_button = capture do %>
  <% if discussion_or_comment.body.present? && timeline.can_open_issue_from_discussion? %>
    <%= render layout: "shared/details_dialog", locals: {
        title: "Reference in new issue",
        button_text: "Reference in new issue",
        button_class: "dropdown-item",
        details_class: "",
        dialog_class: "Box-overlay--wide",
        safe_toggle_button_data_attributes: safe_discussion_view_click_attrs(discussion_or_comment, target: :REFERENCE_IN_NEW_ISSUE_MENU_ITEM),
        deferred_loading_url: discussion_or_comment_open_new_issue_modal_path(discussion_or_comment, repo_owner: timeline.repo_owner, repo_name: timeline.repo_name, discussion: timeline.discussion)
      } do %> <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
    <% end %>
  <% end %>
<% end %>

<% report_button = capture do %>
  <% if discussion_or_comment.body.present? && timeline.can_report?(discussion_or_comment) %>
    <% if timeline.can_report_to_maintainer?(discussion_or_comment) %>
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Report content",
          title: "Report content",
          button_class: "dropdown-item",
          details_class: "width-full",
          dialog_class: "Box-overlay--wide"
      } do %>
        <div class="container-lg clearfix d-flex ws-normal">
          <div class="col-lg-6 p-3">
            <%= form_tag report_content_path(timeline.repo_owner, timeline.repo_name, comment_id: discussion_or_comment.global_relay_id), method: :post, class: "inline-form" do %>
              <div class="d-flex flex-column flex-justify-between">
                <p>This content violates @<%= profile_link(timeline.repo_owner, class: "link-gray-dark text-bold") %>'s Code of Conduct and should be submitted to the maintainers of this repository for review.</p>
                <p>This report, as well as your username as the reporter, will be viewable by all admins of this repository.</p>

                <dl class="form-group">
                  <dt>Choose a reason for reporting this content</dt>
                  <dd>
                    <select name="reason" class="form-select mr-2" aria-label="Reason" required>
                      <option value>
                      Choose a reason
                      </option>
                      <% classifier_enums = Platform::Enums::AbuseReportReason.values.keys - ["UNSPECIFIED"] %>
                      <%= options_for_select(classifier_enums.map { |s| [s.titleize, s] }) %>
                    </select>
                  </dd>
                </dl>

                <p class="text-small text-gray">
                  Learn more about <%= link_to "requesting that maintainers moderate content.", "#{GitHub.help_url}/en/articles/reporting-abuse-or-spam" %>
                </p>

                <button type="submit" class="btn btn-block btn-danger">Report to repository admins</button>
              </div>
            <% end %>
          </div>
          <div class="col-lg-6 p-3">
            <div class="d-flex flex-column flex-justify-between height-full">
              <p>Contact GitHub Support about this user’s spammy or abusive behavior.</p>

              <div>
                <p class="text-small text-gray mt-3">
                  Learn more about <%= link_to "reporting abuse to GitHub Support", "#{GitHub.help_url}/en/articles/reporting-abuse-or-spam" %>
                </p>

                <a href="<%= flavored_contact_path(flavor: "report-content", report: "#{discussion_or_comment.author} (user)", content_url: discussion_timeline_comment_url(discussion_or_comment, timeline: timeline)) %>"
                  class="btn btn-block btn-danger"
                  <%= safe_discussion_view_click_attrs(discussion_or_comment, target: :REPORT_CONTENT_MENU_ITEM) %>
                >Report abuse to GitHub Support</a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <a href="<%= flavored_contact_path(flavor: "report-content", report: "#{discussion_or_comment.author} (user)", content_url: discussion_timeline_comment_url(discussion_or_comment, timeline: timeline)) %>"
        aria-label="Report abusive content"
        role="menuitem"
        class="dropdown-item btn-link"
        data-ga-click="Report content, reported by <%= timeline.viewer_relationship_to_discussion %>"
        <%= safe_discussion_view_click_attrs(discussion_or_comment, target: :REPORT_CONTENT_MENU_ITEM) %>
      >Report content</a>
    <% end %>
  <% end %>
<% end %>

<% delete_button = capture do %>
  <% if discussion_or_comment.is_a?(DiscussionComment) && timeline.can_delete?(discussion_or_comment) %>
    <%= form_tag form_path, method: :delete, class: "width-full inline-form #{"js-comment-delete" if delete_discussion_or_comment_async?(discussion_or_comment)}" do %>
      <button
        type="submit"
        class="dropdown-item menu-item-danger btn-link"
        aria-label="Delete comment"
        role="menuitem"
        data-confirm="Are you sure you want to delete this?">
        Delete
      </button>
    <% end %>
  <% end %>
<% end %>

<% hide_button = capture do %>
  <% if discussion_or_comment.is_a?(DiscussionComment) && timeline.can_toggle_minimize? %>
    <% if is_comment_minimized %>
      <%= form_tag unminimize_discussion_comment_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, discussion_or_comment), :method => :post, :class => "inline-form width-full js-discussion-comment-unminimize", "data-remote" => true do %>
        <button
          type="submit"
          class="dropdown-item btn-link"
          role="menuitem"
          aria-label="Unhide comment">
          Unhide
        </button>
      <% end %>
    <% else %>
      <%= render layout: "shared/details_dialog", locals: {
        title: "Choose a reason for hiding this comment",
        button_text: "Hide",
        button_class: "dropdown-item",
        details_class: "",
        dialog_class: "Box-overlay--narrow d-flex flex-column anim-fade-in fast",
        deferred_loading_url: minimize_form_discussion_comment_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, discussion_or_comment)
      } do %>
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% block_button = capture do %>
  <% if timeline.can_block?(discussion_or_comment) %>
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="dropdown-item" role="menuitem">Block user</summary>
      <details-dialog
        class="Box Box-overlay--wide d-flex flex-column anim-fade-in fast"
        src="<%= block_from_comment_modal_discussion_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, comment_id: discussion_or_comment.is_a?(Discussion) ? nil : discussion_or_comment.id) %>"
        preload>
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
  <% elsif timeline.can_unblock?(discussion_or_comment) %>
    <%= form_tag destroy_org_user_block_path(timeline.repo_owner, login: discussion_or_comment.author.login),
      method: "delete",
      class: "inline-form width-full" do %>
      <button class="dropdown-item btn-link"
              type="submit"
              role="menuitem"
              data-confirm="Are you sure you want to unblock this user from the organization?">
        Unblock user
      </button>
    <% end %>
  <% end %>
<% end %>

<% stafftools_button = capture do %>
  <% if logged_in? && current_user.site_admin? %>
    <%
      href = if discussion_or_comment.is_a?(DiscussionComment)
        gh_stafftools_repository_discussion_comment_path(discussion_or_comment)
      else
        gh_stafftools_repository_discussion_path(discussion_or_comment)
      end
      text = GitHub.enterprise? ? "Site Admin" : "Stafftools"
    %>
    <a href="<%= href %>" class="dropdown-item btn-link" role="menuitem">View in <%= text %></a>
  <% end %>
<% end %>

<% divider_tag = capture do %>
  <div role="none" class="dropdown-divider"></div>
<% end %>

<%
  button_groups = [
    [copy_button, quote_reply_button, open_new_issue_button],
    [edit_button, hide_button, delete_button],
    [report_button, block_button],
    [stafftools_button]
  ].map { |group| group.compact.presence }.compact

  dividers = [divider_tag] * [button_groups.length - 1, 0].max
%>

<%= yield if block_given? %>

<details class="details-overlay details-reset position-relative d-inline-block">
  <summary
    class="<%= class_names(
      "btn-link timeline-comment-action link-gray",
      "py-0" => discussion_or_comment_nested?(discussion_or_comment),
      "js-discussions-comment-actions-rendered-button" => discussion_or_comment.is_a?(DiscussionComment),
    ) %>"
  >
    <%= octicon("kebab-horizontal", "aria-label" => "Show options") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in" style="width: 185px" role="menu">
    <% button_groups.zip(dividers).flatten.each do |menu_item| %>
      <%= menu_item %>
    <% end %>
  </details-menu>
</details>
