<%# erblint:counter TooltipCounter 2 %>
<%
  comment_is_nested = discussion_or_comment_nested?(discussion_or_comment)
  click_profile_hydro_data = discussion_view_click_attrs(discussion_or_comment, target: :USER_PROFILE_LINK)
  show_top_wrapper_bar = show_discussion_mark_answer_header_bar?(discussion_or_comment, timeline: timeline)
%>

<% if show_top_wrapper_bar %>
  <%= render "discussions/mark_answer", comment: discussion_or_comment,
        timeline: timeline, dom_id: dom_id %>
<% end %>
<div class="<%= class_names(
  "clearfix d-flex px-3 pt-md-1 flex-row-reverse flex-items-center",
  "border-bottom-0 bg-gray-light" => comment_is_nested
) %>">
  <div class="timeline-comment-actions flex-shrink-0">
    <% if discussion_or_comment.is_a?(DiscussionComment) %>
      <details
        class="js-discussions-comment-actions-container details-overlay details-reset position-relative
          d-inline-block"
        data-comment-actions-url="<%= discussion_comment_actions_menu_path(
          timeline.repo_owner,
          timeline.repo_name,
          timeline.discussion_number,
          discussion_or_comment,
          form_path: form_path,
          permalink_id: permalink_id,
        ) %>"
      >
        <summary
          class="<%= class_names(
            "btn-link timeline-comment-action link-gray",
            "py-0" => discussion_or_comment_nested?(discussion_or_comment),
            "js-discussions-comment-actions-button" => discussion_or_comment.is_a?(DiscussionComment),
          ) %>"
        >
          <%= octicon("kebab-horizontal", "aria-label": "Show options") %>
        </summary>
      </details>
    <% else %>
      <%= render(
        "discussions/comment_actions",
        timeline: timeline,
        discussion_or_comment: discussion_or_comment,
        form_path: form_path,
        permalink_id: permalink_id,
        href: href,
        is_comment_minimized: false,
      ) %>
    <% end %>
  </div>

  <div class="d-none d-sm-flex flex-items-center">
    <% if show_discussion_or_comment_edit_history?(discussion_or_comment) %>
      <span class="d-inline-block js-comment-edit-history">
        <% if timeline.last_edited_at_for(discussion_or_comment) %>
          <%= render "discussion_edits/edit_history", discussion_or_comment: discussion_or_comment,
                timeline: timeline %>
        <% end %>
      </span>
    <% end %>

    <% if show_datestamp %>
      <a href="<%= href %>" id="<%= permalink_id %>" class="link-gray js-timestamp d-inline-block ml-3">
        <%= time_ago_js discussion_or_comment.created_at, micro: true %>
      </a>
    <% end %>

  </div>

  <h3 class="<%= class_names(
    "timeline-comment-header-text f5 text-normal d-flex pb-0 flex-items-center",
    "py-0" => comment_is_nested,
    "pt-2" => !comment_is_nested
  ) %>">
    <% if discussion_or_comment.created_via_email? %>
      <span class="comment-type-icon tooltipped tooltipped-n" aria-label="This comment was left via email reply.">
        <%= octicon("mail-read") %>
      </span>
    <% end %>

    <% if logged_in? && current_user.site_admin? && (report_count = timeline.report_count_for(discussion_or_comment)) > 0 %>
      <span class="tooltipped tooltipped-ne mr-1" aria-label="<%= abuse_report_tooltip(report_count, timeline.top_report_reason_for(discussion_or_comment), timeline.last_reported_at_for(discussion_or_comment)) %>">
        <%= octicon(:report, class: "text-red") %>
      </span>
    <% end %>

    <% unless comment_is_nested %>
      <%= linked_avatar_for(discussion_or_comment.author, 30, link_class: "mr-2",
        img_class: "avatar rounded-1",
        link_data: click_profile_hydro_data,
      ) %>
    <% end %>

    <a href="<%= user_path(discussion_or_comment.author) %>" class="author text-bold link-gray-dark css-truncate css-truncate-target width-fit lh-condensed"
      <%= safe_data_attributes(click_profile_hydro_data.merge(hovercard_data_attributes_for_user_login(discussion_or_comment.author.login)))
      %>
    >
      <%= discussion_or_comment.author %>
    </a>
    <%= bot_identifier(discussion_or_comment.author) %>

    <% if discussion_or_comment.author.bot? && is_deltaforce?(discussion_or_comment.author) %>
      <span class="d-inline-block mx-1">
        on behalf of <strong><%= GitHub.dependabot_github_app.owner.login %></strong>
      </span>
    <% end %>

    <% if discussion_or_comment.respond_to?(:via_app?) && discussion_or_comment.via_app? %>
      <span class="d-inline-block mx-1">
        &mdash; with
        <a href="<%= discussion_or_comment.via_app.html_url %>"><%= discussion_or_comment.via_app.name %></a>
      </span>
    <% end %>

    <%= render "discussions/author_badges", discussion_or_comment: discussion_or_comment, timeline: timeline %>
  </h3>
</div>
