<task-lists disabled sortable>
  <%# Fixing Markdown rendering problem with table hack; see https://github.com/github/github/pull/65253 %>
  <table class="d-block" data-paste-markdown-skip>
    <tbody class="d-block">
      <tr class="d-block">
        <td
          class="<%= class_names(
            "d-block text-gray-dark comment-body markdown-body js-comment-body",
            "email-format" => discussion_or_comment.created_via_email?,
            "px-3 pt-1" => discussion_or_comment_nested?(discussion_or_comment) && !discussion_or_comment.try(:minimized?),
            "p-0 pt-1" => discussion_or_comment.try(:minimized?),
          ) %>"
          <%= test_selector("#{discussion_or_comment.class.name.underscore}_body_#{discussion_or_comment.id}") %>
        >
          <% if (body_html = timeline.body_html_for(discussion_or_comment)).present? %>
            <%= body_html %>
          <% else %>
            <p class="text-gray">
              <em>
                <% if discussion_or_comment.is_a?(Discussion) %>
                  No description provided.
                <% else %>
                  This comment was deleted.
                <% end %>
              </em>
            </p>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</task-lists>
