<%# erblint:counter TooltipCounter 1 %>

<template id="<%= "emoji-reaction-button-template-#{emotion.content}" %>">
  <button
    class="btn-link reaction-summary-item tooltipped tooltipped-multiline js-reaction-group-button
      js-optimistic-reaction-render-button mb-1 mb-md-3 user-has-reacted"
    name="input[content]"
    type="submit"
    value="<%= emotion.platform_enum %> unreact"
    aria-label="<%= reaction_count_tooltip_for_model(emotion, [current_user&.login], 1) %>"
    data-button-index-position="<%= index %>"
    data-reaction-content="<%= emotion.content %>"
  >
    <%= emoji_tag(emotion.emoji_character, alias: emotion.content, class: "emoji mr-1") %>
    <span class="js-discussion-reaction-group-count">1</span>
  </button>
</template>
