<%
  click_profile_hydro_data = discussion_view_click_attrs(timeline.discussion,
    target: :USER_PROFILE_LINK)
%>

<div class="TimelineItem-badge <%= discussion_event_badge_color(group.event_type) %>">
  <%= discussion_event_badge_icon(group.event_type) %>
</div>

<div class="TimelineItem-body" <%= test_selector("event-group-#{group.id}") %>>
  <%= linked_avatar_for(group.safe_actor, 20, img_class: "avatar rounded-1", link_data: click_profile_hydro_data) %>

  <strong class="css-truncate">
    <a href="<%= user_path(group.safe_actor) %>" class="author link-gray-dark css-truncate-target width-fit" <%= safe_data_attributes(click_profile_hydro_data) %>>
      <%= group.safe_actor %>
    </a>
    <%= bot_identifier(group.safe_actor) %>
  </strong>

  <%= discussion_event_group_verb(group) %>

  <% if group.comment_id %>
    <% if comment_author = group.comment_author %>
      <% if comment_author == group.safe_actor %>
        their
      <% else %>
        <a href="<%= user_path(comment_author) %>" class="author link-gray-dark css-truncate-target width-fit" <%= safe_data_attributes(click_profile_hydro_data) %> class="link-gray-dark"><%= comment_author %></a>'s
      <% end %>
    <% end %>
    <a href="<%= discussion_comment_show_path_from(discussion: timeline.discussion, comment_id: group.comment_id) %>" class="link-gray-dark" <%= safe_discussion_view_click_attrs(timeline.discussion, target: :DISCUSSION_LINK) %>>
      comment
    </a>
  <% elsif group.marked_or_unmarked_answer? %>
    <%# Comment that was (un)marked as the answer has since been deleted, so can't link to it %>
    a comment
  <% end %>

  <% if group.marked_or_unmarked_answer? %>
    as the answer
  <% elsif group.locked? %>
    and limited conversation to collaborators
  <% elsif group.unlocked? %>
    this discussion
  <% end %>

  <a href="#event-<%= group.id %>" class="link-gray"><%= time_ago_in_words_js group.created_at %></a>
</div>
