<% community_file_hydro_attrs = safe_new_discussion_click_attrs(target: :COMMUNITY_LINK) %>

<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <div class="text-bold mb-2">Helpful resources</div>
  <ul class="list-style-none">
    <% if contributing_file %>
      <li>
        <a href="<%= contributing_file %>" data-ga-click="New discussion, click contributing link in sidebar (helpful resources), repo:<%= current_repository.nwo %>" <%= community_file_hydro_attrs %>>Contributing</a>
      </li>
    <% end %>
    <% if code_of_conduct_file %>
      <li>
        <a href="<%= code_of_conduct_file %>" data-ga-click="New discussion, click code_of_conduct link in sidebar (helpful resources), repo:<%= current_repository.nwo %>" <%= community_file_hydro_attrs %>>Code of conduct</a>
      </li>
    <% end %>
    <% if security_policy_file %>
      <li>
        <a href="<%= security_policy_file %>" data-ga-click="New discussion, click security link in sidebar (helpful resources), repo:<%= current_repository.nwo %>" <%= community_file_hydro_attrs %>>Security policy</a>
      </li>
    <% end %>
    <% if support_file %>
      <li>
        <a href="<%= support_file %>" data-ga-click="New discussion, click support link in sidebar (helpful resources), repo:<%= current_repository.nwo %>" <%= community_file_hydro_attrs %>>Support</a>
      </li>
    <% end %>
    <% unless GitHub.enterprise? %>
      <li>
        <a href="<%= GitHub.help_url %>/articles/github-community-guidelines" data-ga-click="New discussion, click github_community_guidelines link in sidebar (helpful resources), repo:<%= current_repository.nwo %>" <%= community_file_hydro_attrs %>>GitHub Community Guidelines</a>
      </li>
    <% end %>
  </ul>
</div>
