<table class="timeline-inline-comments">
  <tr class="js-inline-comments-container">
    <td class="js-line-comments" colspan="3">
      <div class="review-thread-reply pl-3">
        <div class="inline-comment-form-container js-inline-comment-form-container">
          <div class="inline-comment-form-actions">
            <div class="d-table width-full">
              <div class="d-table-cell">
                <%= linked_avatar_for(
                  current_user,
                  30,
                  img_class: "avatar",
                ) %>
              </div>
              <div class="d-table-cell col-12">
                <button
                  type="button"
                  class="<%= class_names(
                    "review-thread-reply-button",
                    "width-full",
                    "text-gray",
                    "text-left",
                    "form-control",
                    "js-toggle-inline-comment-form",
                    "js-discussions-previewable-comment-form",
                  ) %>"
                >
                  Reply
                </button>
              </div>
            </div>
          </div>
          <div
            class="inline-comment-form discussion-nested-comment-inline-form js-teams-reply-to-post
              js-discussions-previewable-comment-form-container"
            data-parent-comment-id="<%= parent_comment_id %>"
          >
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
