<%
  if timeline.can_comment? &&
    !timeline.locked_discussion? &&
    !timeline.blocked_from_commenting?
%>
  <template id="js-new-comment-template">
    <%= form_tag(
      discussion_comments_path(timeline.repo_owner, timeline.repo_name, timeline.discussion_number),
      class: "js-new-comment-form",
    ) do %>
      <input
        type="hidden"
        name="comment[parent_comment_id]"
        value="template_comment_id_placeholder"
        data-replace-attribute="value"
        data-replace-attribute-template="$id"
      >
      <div class="comment-form-error js-comment-form-error" role="alert" hidden></div>
      <%= previewable_comment_form "", {
        required: true,
        toolbar_below: local_assigns[:toolbar_below],
        autofocus: local_assigns[:autofocus],
        textarea_id: "new_comment_template_comment_id_placeholder_field",
        repository: timeline.repository,
        responsive: true,
        comment_class: DiscussionComment,
        placeholder: "Leave a reply"
      }.compact %>
      <div class="form-actions float-none m-0 mx-md-2 my-md-2 p-0">
        <%= render "discussions/form_actions", timeline: timeline, is_inline_comment: true %>
      </div>
    <% end %>
  </template>
<% end %>
