<div class="Box-body overflow-auto">
  <%= render partial: "comments/convert_to_issue_form", locals: {
      text: comment.body.presence || comment.title.presence || "",
      id: comment.id,
      user_id: timeline.repo_owner.login,
      repository: timeline.repo_name,
      repository_id: timeline.repository.id,
      author: comment.author.login,
      original_reference: "#{base_url}#{discussion_path(timeline.discussion)}#{"##{comment_dom_id(comment)}" if comment.is_a?(DiscussionComment)}"
    } %>
</div>
