<div class="d-flex mb-3 flex-items-center width-full flex-wrap flex-justify-between">
  <%= form_tag(
    discussions_list_path,
    method: :get,
    class: "subnav-search ml-0 mt-3 mt-md-0 mr-md-3 width-full width-md-auto flex-auto flex-order-1 flex-md-order-none",
    "data-pjax": true,
    role: "search",
    "aria-label": "Discussions",
  ) do %>
    <%= text_field_tag :discussions_q, search_input_value_for(query), class: "form-control subnav-search-input input-contrast width-full", placeholder: "Search all discussions", "aria-label" => "Search all discussions", "data-hotkey" => local_search_hotkey %>
    <%= octicon(:search, class: "subnav-search-icon") %>
  <% end %>

  <% if discussion_reddit_style_sort_enabled? %>
    <div class="BtnGroup mr-3" <%= test_selector("reddit_style_sort") %>>
      <a href="<%= discussions_search_path(replace: { sort: nil }) %>"
        class="btn BtnGroup-item <%= "selected" if discussions_current_sort == "latest" %>"
        <%= safe_data_attributes(hydro_discussions_filter_tracking_data(filter: nil, sort: discussion_sort_option_tracking_name("latest"))) %>
      >
        <span class="d-none d-md-inline-block"><%= octicon "clock" %></span> Latest
      </a>
      <a href="<%= discussions_search_path(replace: { sort: "top" }) %> "
        class="btn BtnGroup-item <%= "selected" if discussions_current_sort == "top" %>"
        <%= safe_data_attributes(hydro_discussions_filter_tracking_data(filter: nil, sort: discussion_sort_option_tracking_name("top"))) %>
      >
        <span class="d-none d-md-inline-block"><%= octicon "line-arrow-up" %></span> Top
      </a>
    </div>
  <% end %>

  <% if logged_in? && current_user.can_create_discussion?(current_repository) %>
    <div>
      <% path = if discussion_categories_enabled?
          discussions_category_choices_path(current_repository.owner, current_repository)
        else
          new_discussion_path(current_repository.owner, current_repository)
        end
      %>
      <a href="<%= path %>"
        class="btn btn-primary"
        role="button"
        data-hotkey="c"
        data-skip-pjax <%= new_discussion_hydro_attrs %>
      >
        New discussion
      </a>
    </div>
  <% elsif could_create_discussion_if_verified? %>
    <div>
      <span class="d-block d-md-inline-block mb-1 mb-md-0 mr-md-2 text-small text-gray">
        <%= link_to "Verify your email address", settings_user_emails_path, class: "link-gray-dark text-bold" %>
        to start a discussion.
      </span>
      <button type="button" class="btn btn-primary" aria-disabled="true">New discussion</button>
    </div>
  <% end %>
</div>
