<div id="partial-discussion-sidebar"
  class="mt-3 mt-md-0 js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.discussion(discussion)) %>"
  data-gid="<%= timeline.discussion_graphql_id %>"
  data-url="<%= sidebar_discussion_path(timeline.repo_owner, timeline.repo_name, discussion) %>"
  data-project-hovercards-enabled>

  <%= render "discussions/participants", discussion: discussion %>

  <% if discussion.converted_from_issue? %>
    <div class="discussion-sidebar-item" <%= test_selector("issue-conversion-message") %>>
      <div class="d-flex flex-items-center" title="This discussion was originally issue #<%= discussion.number %>.">
        <%= octicon "issue-opened", class: "mr-2" %>
        Converted from issue
      </div>
    </div>
  <% end %>

  <%= render "discussions/subscription", discussion: discussion %>

  <% if logged_in? %>
    <% if discussion.lockable_by?(current_user) %>
      <div class="discussion-sidebar-item">
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="text-bold link-gray-dark lock-toggle-link">
            <%= octicon(:lock) %>
            <strong>Lock conversation</strong>
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay text-gray-dark f5" aria-labelledby="lock-dialog-title">
            <%= form_tag lock_discussion_path(discussion.repository.owner, discussion.repository, discussion), method: :put do %>
              <div class="Box-header">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= octicon :x %>
                </button>
                <h3 id="lock-dialog-title" class="Box-title">
                  Lock conversation on this discussion
                </h3>
              </div>
              <div class="Box-body">
                <ul class="ml-3">
                  <li>Other users <strong>can’t add new comments</strong> to this discussion.</li>
                  <% if current_repository.in_organization? %>
                    <li>
                      You and other members of teams with
                      <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">write access</a>
                      to this repository <strong>can still leave comments</strong> that others can see.
                    </li>
                  <% else %>
                    <li>
                      You and other collaborators
                      <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">with access</a>
                      to this repository <strong>can still leave comments</strong> that others can see.
                    </li>
                  <% end %>
                  <li>You can always unlock this discussion again in the future.</li>
                </ul>
              </div>
              <div class="Box-footer">
                <button type="submit" class="btn btn-block">
                  Lock conversation on this discussion
                </button>
              </div>
            <% end %>
          </details-dialog>
        </details>
      </div>
    <% elsif discussion.unlockable_by?(current_user) %>
      <div class="discussion-sidebar-item">
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="text-bold link-gray-dark lock-toggle-link">
            <%= octicon(:key) %>
            <strong>Unlock conversation</strong>
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay text-gray-dark f5" aria-labelledby="lock-dialog-title">
            <%= form_tag unlock_discussion_path(discussion.repository.owner, discussion.repository, discussion), method: :put do %>
              <div class="Box-header">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= octicon :x %>
                </button>
                <h3 id="lock-dialog-title" class="Box-title">
                  Unlock conversation on this discussion
                </h3>
              </div>
              <div class="Box-body">
                <ul class="ml-3">
                  <li><strong>Everyone</strong> will be able to comment on this discussion once more.</li>
                  <li>You can always lock this discussion again in the future.</li>
                </ul>
              </div>
              <div class="Box-footer">
                <button type="submit" class="btn btn-block">
                  Unlock conversation on this discussion
                </button>
              </div>
            <% end %>
          </details-dialog>
        </details>
      </div>
    <% end %>

    <% if discussion.transferrable_by?(current_user) %>
      <%= render "discussions/transfer", discussion: discussion %>
    <% end %>

    <% if logged_in? && discussion_spotlights_enabled? %>
      <%= render "discussions/manage_spotlight", discussion: discussion %>
    <% end %>

    <% if discussion.deletable_by?(current_user) %>
      <div class="discussion-sidebar-item border-top-0 mt-0" <%= test_selector("sidebar_delete_discussion") %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary aria-describedby="delete-discussion-text">
            <span class="text-bold link-gray-dark lock-toggle-link">
              <%= octicon("trashcan") %> <strong id="delete-discussion-text">Delete discussion</strong>
            </span>
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay text-gray-dark f5">
            <div class="Box-body p-3 text-center">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>

              <%= octicon "circle-slash", class: "text-red ml-1", height: 40, width: 40 %>

              <%= form_for discussion, method: :delete do %>
                <h4 class="mt-4">Are you sure you want to delete this discussion?</h4>
                <div class="col-9 mx-auto mt-1 mb-4">
                  <ul class="text-left">
                    <li>The discussion will be deleted permanently</li>
                    <li>You will not be able to restore the discussion or its comments</li>
                  </ul>
                </div>

                <button type="submit" name="verify_delete" value="1" class="btn btn-danger input-block float-none" data-disable-with="Deleting discussion…">
                  Delete this discussion
                </button>
              <% end %>
            </div>
          </details-dialog>
        </details>
      </div>
    <% end %>
  <% end %>

  <div class="discussion-sidebar-item">
    <%= render GitHub::BetaFlagComponent.new(color: :gray_dark, mr: 2) %>
    <% if logged_in? %>
      <%= discussions_beta_feedback_link %>
    <% end %>
  </div>
</div>
