<%= link_to href, class: "text-gray-dark link-hover-blue no-underline overflow-hidden rounded-2 border border-gray d-flex col-4 #{container_class if defined?(container_class)}" do %>
  <div class="d-flex flex-column width-full">
    <div class="width-full border-bottom" style="height: 10em; background-image: url(<%= image_path(thumbnail) %>); background-size: 100% auto;">
    </div>
    <div class="d-flex flex-column p-2">
      <h5><%= title %></h5>
    </div>
  </div>
<% end %>
