<% if logged_in? %>
  <div class="discussion-sidebar-item sidebar-notifications">
    <%= render_partial_view(
      "notifications/thread_subscription",
      Notifications::ThreadSubscriptionView,
      thread: discussion.notifications_thread,
      list: discussion.notifications_list,
      display_explanation_text: true
    ) %>
  </div>
<% end %>
