<% items.each do |item| %>
  <% is_comment = item.is_a?(DiscussionComment) %>
  <div
    class="js-timeline-item js-timeline-progressive-focus-container"
    <% if item.respond_to?(:global_relay_id) %>data-gid="<%= item.global_relay_id %>" id="<%= item.global_relay_id %>"<% end %>
    <%= test_selector("comment-#{item.id}") if is_comment %>>
    <div <% unless is_comment %>id="event-<%= item.id %>"<% end %> class="<%= class_names(
      "TimelineItem discussion-timeline-item",
      "js-comment-container" => is_comment,
      "pl-3" => !is_comment
    ) %>">
      <% if is_comment %>
        <%= render "discussions/comment",
          timeline: timeline,
          comment: item,
          form_path: discussion_comment_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, item),
          dom_id: comment_dom_id(item) %>
      <% elsif item.is_a?(DiscussionEvent) %>
        <%= render "discussions/event", timeline: timeline, event: item %>
      <% elsif item.is_a?(DiscussionEventGroup) %>
        <%= render "discussions/event_group", timeline: timeline, group: item %>
      <% end %>
    </div>
  </div>
<% end %>
