<%
  caret_location = nil unless local_assigns.key?(:caret_location)
  nested_discussion_comment = !local_assigns[:top_level_comment]
  viewer_did_author = discussion_or_comment.author == current_user
  comment_is_answer = discussion_or_comment.respond_to?(:answer?) && timeline.question? && discussion_or_comment.answer?
  show_child_comments_container = show_discussion_child_comments_thread_for?(discussion_or_comment)
  can_modify = timeline.can_update?(discussion_or_comment)
  comment_classes = class_names(
    "js-comment",
    "current-user" => viewer_did_author,
    "#{unread_comment_class}" => !viewer_did_author,
    "editable-comment" => can_modify,
    "reorderable-task-lists" => logged_in?,
    "timeline-chosen-answer" => comment_is_answer,
    "border-0 bg-gray-light nested-discussion-timeline-comment" => comment_is_nested,
    "js-nested-discussion-comment" => nested_discussion_comment
  )
%>

<div
  class="<%= class_names(
    "discussion-comment ml-n3 timeline-comment unminimized-comment comment previewable-edit js-task-list-container",
    comment_classes,
  ) %>"
  data-body-version="<%= discussion_or_comment.body_version %>"
  data-unfurl-hide-url="<%= unfurl_hide_path %>"
>
  <%= csrf_hidden_input_for unfurl_hide_path, class: "js-data-unfurl-hide-url-csrf" %>

  <%= render(
        "discussions/discussion_or_comment_header",
        dom_id: dom_id,
        timeline: timeline,
        discussion_or_comment: discussion_or_comment,
        form_path: form_path,
        show_datestamp: show_datestamp,
        permalink_id: permalink_id,
        href: href,
  ) %>

  <div class="<%= class_names(
    "bg-white rounded-bottom-1 border-bottom position-relative" =>
        !comment_is_nested &&
        show_child_comments_container &&
        timeline.child_comments(discussion_or_comment).any?,
  ) %>">
    <div class="edit-comment-hide">
      <%= render "discussions/discussion_or_comment_body", discussion_or_comment: discussion_or_comment, timeline: timeline %>

      <div class="d-flex flex-items-end flex-wrap d-md-block">
        <%= render "discussions/reactions", discussion_or_comment: discussion_or_comment, timeline: timeline %>
      </div>
    </div>

    <% if can_modify %>
      <%= form_tag form_path, method: :put, class: "js-comment-update", id: nil do %>
        <%= render(
          "discussions/edit_form",
          discussion_or_comment: discussion_or_comment,
          comment_context: comment_context,
          timeline: timeline,
          textarea_id: "#{dom_id}-body"
        ) %>
      <% end %>
    <% end %>
  </div>

  <% if show_child_comments_container %>
    <%= render "discussions/child_comments", timeline: timeline, parent_comment: discussion_or_comment %>
  <% end %>

  <% if timeline.can_reply_to_comment?(discussion_or_comment) %>
    <%= render(
      "discussions/inline_reply_form",
      timeline: timeline,
      parent_comment_id: discussion_or_comment.id
    ) %>
  <% end %>
</div>
