<% wrap_text = true unless local_assigns.key?(:wrap_text) %>
<li class="overflow-hidden" <%= test_selector(test_id) %>>
  <%= link_to href, :class => "link-gray py-1 d-inline-flex flex-nowrap no-underline width-full", :"data-ga-click" => ga_click_event do %>
    <span style="width: 1.5em" class="d-inline-block flex-shrink-0 mr-2 text-center">
      <%= octicon(icon) %>
    </span>
    <span class="<%= class_names(
      "d-inline-block flex-auto",
      "no-wrap css-truncate css-truncate-target" => !wrap_text
    ) %>"<% unless wrap_text %> style="max-width: 100%"<% end %>><%= text %></span>
  <% end %>
</li>
