<%
  page_info title: discussion_page_title, container_xl: true, selected_link: :repo_discussions
  new_discussion_hydro_attrs = safe_discussions_list_click_attrs(nil, target: :NEW_DISCUSSION_LINK)
  show_spotlights = show_discussion_spotlights?
%>

<% contents = capture do %>
  <div class="d-flex flex-items-start">
    <% if discussions_leaderboard_enabled? || discussion_categories_enabled? || discussions_zeit_enabled? %>
      <%= render "discussions/index_sidebar", categories: discussion_categories,
            show_spotlights: show_spotlights %>
    <% end %>

    <div class="d-flex flex-column width-full">
      <% if show_spotlights %>
        <%= render "discussions/spotlights", spotlights: spotlights %>
      <% end %>
      <%= render "discussions/search_and_create",
          query: query,
          new_discussion_hydro_attrs: new_discussion_hydro_attrs %>
      <%= render "discussions/table",
          discussions: discussions,
          type_filter: type_filter,
          query: query,
          new_discussion_hydro_attrs: new_discussion_hydro_attrs,
          participants_by_discussion_id: participants_by_discussion_id %>
      <div class="d-flex flex-justify-between">
        <div class="d-flex flex-items-center py-4">
          <%= render GitHub::BetaFlagComponent.new(mr: 2) %>
          <% if logged_in? %>
            <%= discussions_beta_feedback_link(classes: "d-inline-block") %>
          <% end %>
        </div>

        <% if discussions.total_pages > 1 %>
          <div class="paginate-container">
            <div class="pagination">
              <%= will_paginate discussions %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if render_layout? %>
  <%= render layout: "issues/issues" do %>
    <%= contents %>
  <% end %>
<% else %>
  <%= contents %>
<% end %>
