<%
  page_info title: "New Discussion · #{current_repository.nwo}",
    container_xl: true,
    selected_link: :repo_discussions
%>

<%= render layout: "issues/issues" do %>
  <%= form_for discussion do |f| %>
    <%= spamurai_form_signals %>
    <%= render(Primer::LayoutComponent.new(
        responsive: true,
        "data-discussion-hovercards-enabled": true,
        "data-issue-and-pr-hovercards-enabled": true,
        "data-project-hovercards-enabled": true)) do |component| %>
      <% component.with(:sidebar) do %>
        <% unless current_user.must_verify_email? %>
          <% if show_first_time_contributor_discussions_sidebar? %>
            <%= render "discussions/first_time_contributor" %>
          <% elsif has_community_guidelines_files? %>
            <%= render "discussions/helpful_resources" %>
          <% end %>
        <% end %>
        <div class="discussion-sidebar-item">
          <%= render GitHub::BetaFlagComponent.new(mr: 2, color: :gray_dark) %>
          <%= discussions_beta_feedback_link %>
        </div>
        <% if welcome_message %>
          <%= render "discussions/welcome_message" %>
        <% end %>
      <% end %>
      <% component.with(:main) do %>
        <% if category && discussion_categories_enabled? %>
          <%= hidden_field_tag :category_id, category.id %>
          <h2 class="border-bottom pb-2 mb-2">
            <%= discussion_category_emoji_tag(category, classes: "mr-1") %>
            <%= category %>
          </h2>
          <p class="mb-3" <%= test_selector("category-banner") %>>
            <%= category.description %><%= "." if category.description =~ /\w\z/ %>
            If this doesn’t look right,
            <a href="<%= discussions_category_choices_path(current_repository.owner, current_repository) %>">
              choose a different discussion type.
            </a>
          </p>
        <% end %>

        <% if current_user.must_verify_email? %>
          <%= render partial: "issues/no_verified_email_message" %>
        <% else %>
          <div class="timeline-comment-wrapper timeline-new-comment composer composer-responsive">
            <%= timeline_comment_avatar_for(user: current_user, responsive_hidden: responsive?) %>

            <% if User::InteractionAbility.interaction_allowed?(current_user.id, current_repository) %>
              <div class="timeline-comment">
                <div class="discussion-topic-header p-0 p-md-2 mb-3 mb-md-0">
                  <%= f.text_field(:title,
                    class: class_names(
                      "input-lg input-block input-contrast required title js-session-resumable",
                      "valid" => f.object.title.present?
                    ),
                    :required => true,
                    :autofocus => true,
                    :autocomplete => "off",
                    :placeholder => "Title",
                    "aria-label" => "Title"
                  ) %>
                </div>

                <% if f.object.errors[:body].any? %>
                  <div class="comment-form-error js-comment-form-error" role="alert">Comment <%= f.object.errors[:body].first %></div>
                <% end %>

                <%= previewable_comment_form discussion.body, {
                  field_name: "discussion[body]",
                  textarea_id: "discussion_body",
                  required: true,
                  hide_tip: true,
                  session_resumable: true,
                  placeholder: "Ask a question or start a conversation"
                } %>

                <div class="flex-items-center flex-justify-end mx-md-2 mb-2 px-0 d-md-flex">
                  <%= comment_markdown_link_box %>
                  <div>
                    <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>
                      Start a discussion
                    </button>
                  </div>
                </div>
              </div>
            <% else %>
              <%= render(Primer::FlashComponent.new(variant: :warning)) do %>
                <%= interaction_ban_copy(current_repository, current_user, "open a discussion") %>
              <% end %>
            <% end %>

            <% if show_contributor_footer? %>
              <%= render partial: "repositories/contributor_footer", locals: {
                ga_click_location: "Discussion",
                safe_hydro_link_attrs: safe_new_discussion_click_attrs(target: :COMMUNITY_LINK)
              } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
