<%
  page_info title: discussion_page_title(discussion),
    container_xl: true,
    selected_link: :repo_discussions,
    richweb: {
      title: discussion_page_title(discussion)
    },
    stafftools: gh_stafftools_repository_discussion_path(discussion)
%>

<% if discussion.transferring? %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="5">
  <% end %>
<% end %>

<% contents = capture do %>
  <div class="clearfix js-issues-results">
    <%= render "discussions/title", discussion: discussion, timeline: timeline %>
  </div>
  <%= render(Primer::LayoutComponent.new(responsive: true, id: "discussion_bucket")) do |component| %>
    <% component.with(:sidebar) do %>
      <%= render "discussions/sidebar", discussion: discussion, timeline: timeline %>
    <% end %>

    <% component.with(:main) do %>
      <div class="js-quote-selection-container"
        data-quote-markdown=".js-comment-body"
        data-issue-and-pr-hovercards-enabled
        data-discussion-hovercards-enabled
        data-team-hovercards-enabled>

        <div class="<%= class_names(
          "discussion js-discussion js-socket-channel js-updatable-content",
          "answered" => discussion.answered?,
        ) %>"
          data-discussion-hovercards-enabled
          data-repository-hovercards-enabled
          data-commit-hovercards-enabled
          data-channel="<%= live_update_view_channel(timeline.discussion_channel) %>"
        >
          <%= render "discussions/body", discussion: discussion, timeline: timeline %>
          <h2 class="sr-only">Replies</h2>
          <%= render "discussions/timeline", timeline: timeline %>
        </div>

        <% if discussion.transferring? %>
          <div class="timeline-comment-wrapper">
            <div class="flash flash-warn" <%= test_selector("discussion-transferring") %>>
              This discussion is being transferred. The timeline may not be complete until it finishes.
            </div>
          </div>
        <% end %>

        <span id="issue-comment-box"></span>

        <div class="discussion-timeline-actions">
          <% if !logged_in? %>
            <%= render "comments/signed_out_comment", commentable_type: :repo,
                  repository_id: discussion.repository_id %>
          <% elsif !current_repository_locked_for_migration? %>
            <%= render "discussions/new_comment_input", timeline: timeline %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if render_layout? %>
  <%= render layout: "issues/issues" do %>
    <%= contents %>
  <% end %>
<% else %>
  <%= contents %>
<% end %>

<%= render "discussions/new_comment_template", timeline: timeline %>
<%= render "discussions/markdown_toolbar_template" %>

<% Emotion.all.each_with_index do |emotion, index| %>
  <%= render "discussions/emoji_button_reaction_template", emotion: emotion, index: index %>
<% end %>
