<% discussion_deleted = false unless local_assigns.key?(:discussion_deleted) %>

<%= render layout: "issues/issues" do %>
  <%= render Primer::BlankslateComponent.new(
    icon: "comment-discussion",
    title: "Discussion has moved",
    description: "This discussion has been moved to a repository you don't have access to" + (discussion_deleted ? " or has been deleted since being transferred" : "") + ".",
    test_selector: "discussion-transfer-no-access",
  ) %>
<% end %>
