<%graphql
  fragment BiztoolsInfo on BiztoolsInfo {
    sponsorsMemberships(
      filterBy: $filter,
      orderBy: $order,
      query: $query,
      first: $first,
      after: $after,
      last: $last,
      before: $before
    ) {
      totalCount
      pageInfo {
        ...ApplicationHelper::CursorPaginate
      }

      edges {
        ...Views::Stafftools::Sponsors::Waitlist::UserMembership::MembershipEdge
      }
    }
  }
%>
<%
  biztools_info = Views::Stafftools::Sponsors::Waitlist::MembershipsList::BiztoolsInfo.new(biztools_info)
  membership_count = biztools_info.sponsors_memberships.total_count
  query ||= ""
  filter ||= {}
  order ||= { field: "CREATED_AT", direction: "ASC" }
%>

<%= render partial: "stafftools/sponsors/waitlist/filter_bar", locals: { query: query, filter: filter, order: order } %>

<div class="d-flex mb-2 mt-4">
  <div class="flex-shrink-0 mr-3 mt-1">
    <span class="text-bold">
      Showing <%= pluralize(membership_count, "user") %>
    </span>

    <% if query.present? %>
      <span class="text-gray ml-1">for "<%= query %>"</span>
    <% end %>
  </div>

  <% unless filter.blank? %>
    <%= render partial: "stafftools/sponsors/waitlist/applied_filters", locals: { query: query, filter: filter, order: order } %>
  <% end %>
</div>

<div class="Box Box--condensed">
  <div class="Box-header d-flex flex-auto text-bold">
    <div class="col-5">Login</div>
    <div class="col-5">Name</div>
    <div class="col-2">Waitlisted on</div>
  </div>
  <% if membership_count > 0 %>
    <% biztools_info.sponsors_memberships.edges.each do |edge| %>
      <%= render partial: "stafftools/sponsors/waitlist/user_membership", locals: { edge: edge } %>
    <% end %>
  <% else %>
    <div class="blankslate blankslate-clean-background">
      <h3>No waitlist entries found.</h3>
      <p class="mt-2">
        <% if query.present? %>
          Couldn't find any wailist entries matching <strong><%= query %></strong>.
        <% else %>
          <% if filter.blank? %>
            It doesn't look like anyone has signed up yet.
          <% else %>
            There weren't any results for the current filter.
            Maybe try <a href="?">viewing all</a>?
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
  <%= cursor_paginate(biztools_info.sponsors_memberships.page_info, previous_label: "Previous", next_label: "Next") %>
</div>
