<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment MembershipEdge on SponsorsMembershipEdge {
    cursor
    node {
      createdAt
      isIgnored
      sponsorable {
        ... on Actor {
          login
          name
          ...AvatarHelper::AvatarFragment::Actor
        }
      }
      adminInfo {
        isAccepted
      }
    }
  }
%>
<%
  edge = Views::Stafftools::Sponsors::Waitlist::UserMembership::MembershipEdge.new(edge)
  membership = edge.node
  show_queue_link = params[:filter].present? &&
                    params[:filter][:states] == "SUBMITTED" &&
                    params[:filter][:suspended] == "false" &&
                    params[:filter][:spammy] == "false"
%>

<div class="Box-row d-flex flex-auto" <%= test_selector "membership-#{membership.sponsorable.login}" %>>
  <div class="col-5 d-flex flex-items-center">
    <% if membership.admin_info.is_accepted? %>
      <%= octicon "check", class: "text-green mr-2" %>
    <% else %>
      <%= octicon "primitive-dot", class: "color-yellow-7 mr-2" %>
    <% end %>

    <%= graphql_avatar_for(membership.sponsorable, 20, class: "avatar mr-2") %>
    <a href="<%= stafftools_sponsors_member_path(membership.sponsorable.login) %>" class="text-bold">
      <%= membership.sponsorable.login %>
    </a>

    <% if membership.is_ignored? %>
      <span class="bg-yellow py-1 px-2 text-gray-dark d-inline-block h6 rounded-1 ml-2" <%= test_selector "ignored-tag" %>>
        Ignored
      </span>
    <% end %>
  </div>
  <div class="col-5"><%= membership.sponsorable.name %></div>
  <div class="col-2 text-right">
    <%= membership.created_at.strftime("%b %-d, %Y") %>
    <% if show_queue_link %>
      <a href="<%= stafftools_sponsors_waitlist_queue_index_path(after: edge.cursor) %>"
         class="tooltipped tooltipped-s"
         aria-label="Go to waitlist queue after this point"
         <%= test_selector("waitlist-queue-link") %>>
        <%= octicon "zap" %>
      </a>
    <% end %>
  </div>
</div>
