<div class="overflow-auto">
  <div class="Box-header">
    <h3 class="Box-title">Confirm editing custom role</h3>
  </div>
    <div class="flash flash-warn flash-full">
      Editing a role will change the permissions for the persons and teams who have been assigned that role.
    </div>
  <div class="Box-body overflow-auto">
    <p class="pt-2 f4 text-bold">
      You are editing <%= view.role.name %> role.
    </p>

    <p class="pt-2 m-0">
      This is currently assigned to:
      <ul class="m-0 p-0 list-style-none">
        <li class="d-flex">
          <span class="mx-1"><%= octicon("person", width: 16, height: 16) %></span>
          <div class="d-flex flex-column ml-1">
            <div>
              <span class="text-bold"><%= view.role_user_count %></span>
              <span class="text-gray">(total)</span>
            </div>
            <span class="text-gray"><%= view.role_org_member_count %></span>
            <span class="text-gray"><%= view.role_collaborator_count %></span>
          </div>
        </li>
        <li class="text-bold">
          <span class="m-1"><%= octicon("people", width: 16, height: 16) %></span>
          <%= view.role_team_count %>
        </li>
        <li class="text-bold">
          <span class="m-1"><%= octicon("mail", width: 16, height: 16) %></span>
          <%= view.role_invitation_count %>
        </li>
      </ul>
    </p>

    <% if view.show_org_base_role_warning? %>
      <p class="mt-3 mb-2">
        If the new base role is lower than the pre-defined repository role
        <span class="text-bold"><%= view.org_base_role.capitalize %></span>,
        all organization members with the <span class="text-bold"><%= view.role.name %></span>
        role will be assigned the role:
      </p>
      <div class="Box mb-2">
        <div class="Box-body text-gray p-2">
          <h5><%= view.org_base_role.capitalize %></h5>
          <%= view.system_role_description(view.org_base_role) %>
        </div>
      </div>
    <% end %>

    <p class="mt-3 mb-4">
      Upon confirmation, the changes will be applied immediately.
    </p>
    <button type="submit" class="btn btn-danger btn-block">Edit role</button>
  </div>
</div>
