<%# view is an instance of Settings::Organization::Roles::IndexView %>
<%# erblint:counter TooltipCounter 1 %>
<% page_info responsive: false, :title => "Repository Roles" %>

<%= render layout: "orgs/settings/layout" do %>
  <div class="Subhead">
    <div class="Subhead-heading">Repository Roles</div>
    <div class="float-right mt-2">
      <%= render GitHub::BetaFlagComponent.new(font_size: 6, font_weight: :normal) %>
    </div>
  </div>

  <p class="Subhead-description">
    Roles are use to grant access and permissions for teams and members.
    In addition to the available pre-defined roles, you can create up to
    <%= pluralize(Role.custom_role_limit_for_org(view.organization), "custom role") %>
    to fit your needs.
    <a href="<%= GitHub.help_url %>/github/articles/managing-custom-repository-roles-for-an-organization" target="_blank">
      Learn more
    </a>
  </p>

  <div class="border rounded-2 mb-2 d-flex flex-column">
    <div class="clearfix p-3 bg-gray rounded-top-2">
      <div>
        <h3 class="text-bold h5"> Pre-defined roles </h3>
        <div class="text-small text-gray">
          You can
          <%= link_to "set the base role", settings_org_member_privileges_path %>
          for this organization from one of these roles.
        </div>
      </div>
    </div>

    <% view.system_roles.each do |role| %>
      <div class="border-top d-flex <% if view.is_disabled?(role) %>bg-gray<% end %>">
        <div class="py-4 px-3 text-gray-light flex-items-center">
          <%= octicon view.icon(role.name) %>
        </div>
        <div class="css-truncate css-truncate-overflow flex-1 my-3">
          <h4 class="h5">
            <%= role&.name.capitalize %>
            <% if view.is_disabled?(role) %>
              <span class="tooltipped tooltipped-e p-1" aria-label="This role can only be assigned to outside collaborators">
                <%= octicon "info"%>
              </span>
            <% end %>
            <% if view.show_base_role_badge?(role.name) %>
              <span class="Label bg-blue ml-1 js-base-role-badge"> Base Role </span>
            <%end%>
          </h4>
          <span class="text-gray-light">
            <%= view.system_role_description(role.name) %>
            <% if role.admin? %>
              <%= link_to "Modify Admin Role", settings_org_member_privileges_path(anchor: "admin-repository-permissions") %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <% if view.custom_roles_supported? %>
    <div class="border <%= "border-dashed" unless view.custom_roles_present? %> rounded-2 mb-2 mt-5 d-flex flex-column">
      <div class="clearfix p-3 bg-gray rounded-top-2">
        <div class="float-right mt-2">
          <% if view.is_org_role_limit_max? || view.org_base_role_admin? %>
            <button type="button" class="btn btn-primary disabled">
              Create a Role
            </button>
          <% else %>
            <%= button_to "Create a Role",
              new_settings_org_repository_roles_path,
              method: :get,
              class: "btn btn-primary"
            %>
          <% end %>
        </div>
        <div>
          <h3 class="text-bold h5"> Custom roles </h3>
          <div class="text-small text-gray">
            <%= view.custom_role_message %>
          </div>
        </div>
      </div>

      <% if view.custom_roles_present? %>
        <% view.custom_roles.each do |custom_role| %>
          <div class="border-top d-flex">
            <div class="py-4 px-3 text-gray-light d-flex flex-items-center">
              <%= octicon "person" %>
            </div>
            <div class="d-flex flex-column flex-justify-center flex-1 my-3">
              <h4 class="css-truncate css-truncate-overflow h5" title="<%= custom_role.name %>" style="max-width: 560px">
                <%= custom_role.name %>
              </h4>
              <% if view.has_description?(custom_role) %>
                <span class="css-truncate css-truncate-target text-gray-light" title="<%= custom_role.description %>" style="max-width: 560px">
                  <%= custom_role.description %>
                </span>
              <% end %>
            </div>

            <div class="p-4 timeline-comment-actions">
              <details class="details-overlay details-reset position-relative d-inline-block">
                <summary class="btn-link timeline-comment-action link-gray" aria-label="Show custom role actions">
                  <%= octicon "kebab-horizontal"%>
                </summary>

                <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in">
                  <%= link_to "Edit role",
                    edit_settings_org_repository_roles_path(view.organization, custom_role),
                    method: :get,
                    class: "dropdown-item btn-link", role: "menuitem"
                  %>
                  <details class="details-reset details-overlay details-overlay-dark">
                    <summary class="dropdown-item menu-item-danger btn-link" aria-haspopup="dialog">Delete role</summary>
                    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast">
                      <div class="Box-header">
                        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                          <%= octicon "x" %>
                        </button>
                        <h3 class="Box-title">Confirm deleting role</h3>
                      </div>
                      <div class="flash flash-warn flash-full">
                        Deleting a custom role may result in downgrade of permissions for all the persons and teams who have been assigned that role.
                      </div>
                      <div class="overflow-auto">
                        <div class="Box-body overflow-auto">
                          <p class="pt-2 f4 text-bold">
                            You are deleting <strong><%= custom_role.name %></strong> role
                          </p>

                          <p class="pt-2 m-0">
                            The role is currently assigned to:
                            <ul class="m-0 p-0 list-style-none">
                              <li class="d-flex">
                                <span class="mx-1"><%= octicon("person", width: 16, height: 16) %></span>
                                <div class="d-flex flex-column ml-1">
                                  <div>
                                    <span class="text-bold"><%= view.role_user_count(custom_role) %></span>
                                    <span class="text-gray">(total)</span>
                                  </div>
                                  <span class="text-gray"><%= view.role_org_member_count(custom_role) %></span>
                                  <span class="text-gray"><%= view.role_collaborator_count(custom_role) %></span>
                                </div>
                              </li>
                              <li class="text-bold">
                                <span class="m-1"><%= octicon("people", width: 16, height: 16) %></span>
                                <%= view.role_team_count(custom_role) %>
                              </li>
                              <li class="text-bold">
                                <span class="m-1"><%= octicon("mail", width: 16, height: 16) %></span>
                                <%= view.role_invitation_count(custom_role) %>
                              </li>
                            </ul>
                          </p>

                          <p class="mt-3 mb-2">
                            When deleted, all persons and teams with <span class="text-bold"><%= custom_role.name %></span> role will
                            be assigned the pre-defined repository role it inherits from:
                          </p>
                          <div class="Box mb-2">
                            <div class="Box-body text-gray p-2">
                              <h5><%= custom_role.base_role.name.capitalize %></h5>
                              <%= view.system_role_description(custom_role.base_role.name) %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="Box-footer pt-0 border-top-0">
                      <%= form_tag view.delete_organisation_repository_role_path(custom_role), method: :delete do |f| %>
                        <button type="submit" class="btn btn-danger btn-block" data-close-dialog>Delete role</button>
                      <% end %>
                      </div>
                    </details-dialog>
                  </details>
                </details-menu>
              </details>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="border-0 border-top border-dashed d-flex">
          <div class="flex-1 m-3">
            <span class="text-gray">You do not have any custom roles yet.</span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
