<% if view.show_first_time_contributor_sidebar? %>
  <%= render_partial_view "issues/sidebar/new/first_time_contributor", Community::ContributorSidebarView, { current_repository: current_repository, issue: view.issue } %>
<% elsif view.show_prior_contributor_sidebar? %>
  <%= render_partial_view "issues/sidebar/new/prior_contributor", Community::ContributorSidebarView, { current_repository: current_repository, issue: view.issue } %>
<% elsif view.show_helpful_resources? %>
  <%= render_partial_view "issues/sidebar/new/helpful_resources", Community::ContributorSidebarView, { current_repository: current_repository, issue: view.issue } %>
<% end %>
