<div class="discussion-sidebar-item sidebar-labels js-discussion-sidebar-item">
  <%
    partial_url = issue_show_partial_path(partial: "issues/sidebar/new/labels")
    deferred_content = local_assigns.fetch(:deferred_content, true)
  %>
  <div class="js-issue-sidebar-form" data-url="<%= partial_url %>">
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>
    <%= render partial: "issues/sidebar/labels_menu",
               locals: { issue: issue, deferred_content: deferred_content } %>
    <%= render :partial => "issues/sidebar/labels", :locals => { :issue => issue } %>
  </div>
</div>
