<div class="discussion-sidebar-item sidebar-progress-bar js-discussion-sidebar-item">
  <%
    partial_url = issue_show_partial_path(partial: "issues/sidebar/new/milestone")
    deferred_content = local_assigns.fetch(:deferred_content, true)
  %>
  <div class="js-issue-sidebar-form" data-url="<%= partial_url %>">
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>
    <%# Support milestone query param since selected input won't be present when content is deferred %>
    <% if deferred_content && issue.milestone %>
      <%= radio_button_tag "milestone", issue.milestone.id, true, class: "d-none" %>
    <% end %>

    <%= render partial: "issues/sidebar/milestone_menu", locals: { issue: issue, deferred_content: deferred_content } %>
    <%= render partial: "issues/sidebar/milestone", locals: { issue: issue } %>
  </div>
</div>
