<div id="prior-contributor" class="Popover js-prompt" style="top: 28%;">
  <div class="Popover-message Popover-message--left-top Box box-shadow-large">
    <button type="button" class="btn-octicon float-right p-2 js-prompt-dismiss" aria-label="Close" data-ga-click="<%= view.ga_string("dismiss", "prior") %>"><%= octicon("x") %></button>
    <div class="p-4">
      <p class="mb-0">Documentation has changed since you last contributed
        <strong><%= time_ago_in_words_js(view.last_contribution_date) %></strong>.
        Take a look before submitting <%= view.contribution_type %>:</p>

      <ul class="list-style-none mb-0">
        <% if !!view.contributing_file %>
        <li class="Box-row px-0"><%= link_to("Contributing guidelines", view.contributing_file, class: "text-bold", ga_click: view.ga_string("contributing", "prior")) %>
          <br><span class="text-gray text-small">Last updated <%= time_ago_in_words_js(view.contributing_last_updated_date) %></span>
        </li>
        <% end %>

        <% if !!view.code_of_conduct_file %>
        <li class="Box-row px-0">
          <%= link_to("Code of conduct", view.code_of_conduct_file, class: "text-bold", ga_click: view.ga_string("code_of_conduct", "prior")) %>
          <% if view.code_of_conduct_last_updated_date %>
            <br><span class="text-gray text-small">Last updated <%= time_ago_in_words_js(view.code_of_conduct_last_updated_date) %></span>
          <% end %>
        </li>
        <% end %>

        <% if !!view.security_policy_file && !view.issue.pull_request? %>
        <li class="Box-row px-0">
          <%= link_to("Security policy", view.security_policy_file, class: "text-bold", ga_click: view.ga_string("security_policy", "prior")) %>
          <% if view.security_policy_file_last_updated_date %>
            <br><span class="text-gray text-small">Last updated <%= time_ago_in_words_js(view.security_policy_file_last_updated_date) %></span>
          <% end %>
        </li>
        <% end %>

        <% if !!view.support_file && !view.issue.pull_request? %>
        <li class="Box-row px-0">
          <%= link_to("Support guidelines", view.support_file, class: "text-bold", ga_click: view.ga_string("support", "prior")) %>
          <br><span class="text-gray text-small">Last updated <%= time_ago_in_words_js(view.support_last_updated_date) %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
