<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <%
    partial_url = new_repo_project_issues_path(issue.repository.owner, issue.repository)
    deferred_content = local_assigns.fetch(:deferred_content, true)
  %>
  <div class="js-issue-sidebar-form" data-url="<%= partial_url %>">
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>
    <%# Support projects query param since selected inputs won't be present when content is deferred %>
    <% if deferred_content %>
      <% projects.each do |project| %>
        <input type="checkbox" class="d-none" name="issue_project_ids[<%= project.id %>]" checked>
      <% end %>
    <% end %>

    <%= render partial: "issues/sidebar/projects_menu", locals: { issue: issue, deferred_content: deferred_content } %>

    <span class="css-truncate">
      <% if projects.any? %>
        <% projects.each do |project| %>
          <p>
            <%= link_to project.name, project_path(project), class: "css-truncate-target", data: hovercard_data_attributes_for_project(project: project) %>
          </p>
        <% end %>
      <% else %>
        None yet
      <% end %>
    </span>
  </div>
</div>
