<div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item">
  <%
    partial_url = create_review_request_new_path(current_repository.owner, current_repository, params[:range])
    content_params = pull.review_requests.map(&:reviewer).each_with_object({}) do |reviewer, opt|
      param = reviewer.is_a?(Team) ? :reviewer_team_ids : :reviewer_user_ids
      (opt[param] ||= []) << reviewer.id
    end
    data_source = reviewers_menu_content_new_path(current_repository.owner, current_repository, params[:range], content_params)
  %>
  <div class="js-issue-sidebar-form" data-url="<%= partial_url %>" data-team-hovercards-enabled>
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>
    <%= render partial: "issues/sidebar/reviewers_menu", locals: {
          pull_request: pull,
          deferred_content: deferred_content,
          data_source: data_source
        } %>
    <%= render partial: "issues/sidebar/reviewers", locals: {
          pull_request: pull,
          suggested_reviewers: local_assigns[:suggested_reviewers]
        } %>
  </div>
</div>
