<%graphql
  fragment Actor on Actor {
    ...ApplicationHelper::ActorProfileLink::Actor
  }
%>

<%
actor = Views::Comments::Actor::Actor.new(actor)
show_full_name = local_assigns.fetch(:show_full_name, false)
link_options = {
  class: "author link-gray-dark css-truncate-target #{local_assigns.fetch(:link_class, "")}",
  show_full_name: show_full_name
}
%>

<% if actor %>
  <%= graphql_profile_link(actor, link_options) %>
  <%= bot_identifier(actor) %>
<% else %>
  <%= profile_link(User.ghost, class: "author text-inherit") %>
<% end %>
