<%# erblint:disable LandmarkHasLabel %>
<div class="previewable-comment-form">
  <div class="comment-form-head tabnav">
    <nav class="tabnav-tabs">
      <span class="tabnav-tab write-tab selected">Write</span>
      <span class="tabnav-tab preview-tab ">Preview</span>
    </nav>
  </div>
  <div class="blankslate conversation-limited">
    <%= octicon(blocked_from_commenting_octicon, height: 32, class: "blankslate-icon #{blocked_from_commenting_class}") %>
    <p class="<%= blocked_from_commenting_class %> mx-3"><%= blocked_from_commenting_message %></p>
  </div>
</div>
