<%graphql
fragment Comment on Comment {
  id

  ... on Minimizable {
    viewerCanMinimize
  }

  ... on IssueComment {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

  ... on PullRequestReview {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

  ... on PullRequestReviewComment {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

  ... on Issue {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

  ... on PullRequest {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

  ... on CommitComment {
    url
    repository {
      id
      owner {
        ... on Organization {
          id
          name
          login
          email
        }
      }
      codeOfConduct {
        name
        url
      }
    }

    author {
      login
    }
  }

}
%>
<% comment = Views::Comments::BlockFromCommentModal::Comment.new(comment) %>

<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
  <h3 class="Box-title">Block <%= comment.author.login %> from <%= comment.repository.owner.name %></h3>
</div>

  <%= form_tag org_user_block_notify_path(comment.repository.owner.login), method: :post do %>
    <input type="hidden" name="login" value="<%= comment.author.login %>">
    <input type="hidden" name="content_id" value="<%= comment.id %>">
    <div class="Box-body overflow-auto">
      <p>
        Blocking a user prevents them from interacting with repositories of this organization, such as opening or commenting on pull requests or issues. Learn more about <a href="<%= GitHub.help_url %>/articles/blocking-a-user-from-your-organization/">blocking a user</a>.
      </p>
      <details class="position-relative details-reset details-overlay select-menu">
        <summary class="btn select-menu-button">
          <i>Block user:</i>
          <span data-menu-button>Until I unblock them</span>
        </summary>
        <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-label="Block options">
          <div class="select-menu-header">
            <span class="select-menu-title">Block options</span>
          </div>
          <div class="select-menu-list">
            <label class="select-menu-item"
                   tabindex="0"
                   role="menuitemradio"
                   aria-checked="false">
              <input type="radio" name="duration" value="1">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <span class="select-menu-item-text" data-menu-button-text>For 1 day</span>
            </label>
            <label class="select-menu-item"
                   tabindex="0"
                   role="menuitemradio"
                   aria-checked="false">
              <input type="radio" name="duration" value="3">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <span class="select-menu-item-text" data-menu-button-text>For 3 days</span>
            </label>
            <label class="select-menu-item"
                   tabindex="0"
                   role="menuitemradio"
                   aria-checked="false">
              <input type="radio" name="duration" value="7">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <span class="select-menu-item-text" data-menu-button-text>For 7 days</span>
            </label>
            <label class="select-menu-item"
                   tabindex="0"
                   role="menuitemradio"
                   aria-checked="false">
              <input type="radio" name="duration" value="30">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <span class="select-menu-item-text" data-menu-button-text>For 30 days</span>
            </label>
            <label class="select-menu-item"
                   tabindex="0"
                   role="menuitemradio"
                   aria-checked="false">
              <input type="radio" name="duration" value="0" checked>
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <span class="select-menu-item-text" data-menu-button-text>Until I unblock them</span>
            </label>
          </div>
        </details-menu>
      </details>

      <p class="h4 border-top mt-3 pt-3">More options</p>

      <div class="form-checkbox">
        <label>
          <input type="checkbox" name="send_notification" aria-describedby="help-text-for-notification" checked>
          Send user a notification and show activity in timeline
        </label>
        <p class="note" id="help-text-for-notification">
          You can notify <b><%= comment.author.login %></b> as to why they're being blocked. A public timeline entry will show that this user was blocked. They will receive an email notification and a notice when they try to comment with the following message:
        </p>
        <div class="markdown-body mt-2 f6">
          <blockquote>
            <%= blocked_notification_html(comment.repository.owner.login, comment.repository.owner.email, comment.url, comment.repository.code_of_conduct&.url) %>
          </blockquote>
        </div>
      </div>

      <% if comment.is_a?(PlatformTypes::Minimizable) && comment.viewer_can_minimize? %>
        <div class="form-checkbox">
          <label>
            <input type="checkbox" name="hide_comments" aria-describedby="help-text-for-hide">
            Hide this user's comments
          </label>
          <p class="note mb-1" id="help-text-for-hide">
            All of their comments in this organization <a href="<%= "#{GitHub.help_url}/articles/managing-disruptive-comments/#hiding-a-comment" %>">will be hidden</a> to all users and will display a reason.
          </p>
          <select class="form-select" aria-label="Hidden reason" name="hidden_reason">
            <option>Choose a reason</option>
            <%= options_for_select(Platform::Enums::ReportedContentClassifiers.values.keys.map { |s| [s.titleize, s] }) %>
          </select>
        </div>
      <% end %>

    </div>
    <div class="Box-footer">
      <button type="submit" class="btn btn-block btn-danger" autofocus data-close-dialog>Block user from organization</button>
    </div>
  <% end %>
