<%graphql
  fragment Subject on Reactable {
    viewerCanReact
    ...Views::Comments::ReactionPopover::Subject
  }
%>
<% subject = Views::Comments::CommentHeaderReactionButton::Subject.new(subject) %>

<% if subject.viewer_can_react? %>
  <details class="details-overlay details-reset position-relative js-reaction-popover-container js-comment-header-reaction-button <% if responsive? %>d-none d-md-inline-block<% else %>d-inline-block<% end %>">
    <summary class="btn-link link-gray timeline-comment-action" aria-label="Add your reaction">
      <%= octicon("smiley") %>
    </summary>
    <%= render partial: "comments/reaction_popover", locals: { subject: subject } %>
  </details>
<% end %>
