<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
  <div class="pr-3">
    <div class="d-flex flex-justify-between flex-items-center mr-3">
      <div class="mr-3">
        <% if user_content_edit.editor %>
          <img src="<%= user_content_edit.editor.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(user_content_edit.editor) %> avatar-small v-align-middle" alt="@<%= user_content_edit.editor.login %>">
          <span class="css-truncate-target v-align-middle text-bold text-small"><%= user_content_edit.editor.login %></span> <%= bot_identifier(user_content_edit.editor) %>
        <% end %>
        <span class="v-align-middle text-small">edited <%= time_ago_in_words_js user_content_edit.created_at %></span>
      </div>

      <% if (site_admin? || can_delete_user_content_edit?(user_content_edit)) %>
        <details class="details-reset details-overlay select-menu select-menu-modal-right">
          <summary class="btn-link select-menu-button no-underline text-gray">
            Options
          </summary>
          <details-menu class="select-menu-modal subscription-menu-modal position-absolute" style="z-index: 99;">
            <div class="select-menu-header">
              <span class="select-menu-title">More options</span>
            </div>
            <div class="select-menu-list">
              <% if user_content_edit.newest? %>
                <div class="Box">
                  <div class="Box-row Box-row--yellow">
                    <div class="select-menu-item-text">
                      The most recent revision cannot be deleted. Need to delete sensitive information? Go to the specific edit where the information was added.
                    </div>
                  </div>
                  <div class="Box-row" style="opacity: 0.5">
                    <div class="select-menu-item-text">
                      <span class="select-menu-item-heading text-small text-red">Delete revision from history</span>
                      <span class="description">This edit’s content will no longer be visible</span>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= form_tag user_content_edit_path(id: user_content_edit.global_relay_id), method: :delete do %>
                  <button class="select-menu-item menu-item-danger width-full selected" role="menuitem" data-confirm="Are you sure you want to delete this edit’s contents from the history?" type="submit">
                    <div class="select-menu-item-text">
                      <span class="select-menu-item-heading text-small">Delete revision from history</span>
                      <span class="description">This edit’s content will no longer be visible</span>
                    </div>
                  </button>
                <% end %>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>
  </div>
</div>
<div class="Box-body overflow-auto">
  <div class="js-rich-diff rich-diff prose-diff d-block">
    <article class="markdown-body entry-content comment-body p-0">
      <%=
        GitHub::HTML::Diff.new(
          GitHub::Goomba::MarkdownPipeline.to_html(user_content_edit.diff_before),
          GitHub::Goomba::MarkdownPipeline.to_html(user_content_edit.diff)
        ).html
      %>
    </article>
  </div>
</div>
