<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Comment on Comment {
    bodyVersion
    viewerDidAuthor
    id

    ... on Updatable {
      viewerCanUpdate
    }

    ... on Minimizable {
      isMinimized
      viewerCanMinimize
    }

    ... on MayBeInternal {
      isInternal
    }

    ...Views::Comments::CommentHeader::Comment
    ...Views::Comments::EditForm::Comment
    ...Views::Comments::Reactions::Subject
    ...Views::Comments::MinimizeCommentForm::Comment
    ...Views::Comments::CommentBody::Comment
    ...Views::Comments::MinimizedComment::Comment
    ...CommentsHelper::CommentFragment
  }
%>
<%
  comment = Views::Comments::Comment::Comment.new(comment)
  first_comment = false unless local_assigns.key?(:first_comment)
  legacy_commit_comment = nil unless local_assigns.key?(:legacy_commit_comment)
  comment_context = nil unless local_assigns.key?(:comment_context)
  caret_location = nil unless local_assigns.key?(:caret_location)
  form_path = nil unless local_assigns.key?(:form_path)
  delete_enabled = local_assigns.fetch(:delete_enabled, true)
  show_datestamp = true unless local_assigns.key?(:show_datestamp)
  prerender_all_comment_versions = true unless local_assigns.key?(:prerender_all_comment_versions)

  can_update = comment.is_a?(PlatformTypes::Updatable) && comment.viewer_can_update? && form_path

  minimizable_comment = comment.is_a?(PlatformTypes::Minimizable)
  comment_is_minimized = minimizable_comment && comment.is_minimized?
  can_minimize = minimizable_comment && !comment.is_a?(PlatformTypes::GistComment) && comment.viewer_can_minimize?

  comment_is_internal = comment.is_a?(PlatformTypes::MayBeInternal) && comment.is_internal

  render_minimized_comment = prerender_all_comment_versions || comment_is_minimized
  render_unminimized_comment = prerender_all_comment_versions || !comment_is_minimized

  comment_classes = class_names({
    "d-none": comment_is_minimized,
    "editable-comment": can_update,
    "js-comment": !comment_is_minimized,
    "timeline-comment--caret": !legacy_commit_comment || (legacy_commit_comment && first_comment),
    "timeline-comment--caret-nw": caret_location == "nw",
    "reorderable-task-lists": logged_in?,
    "current-user": comment.viewer_did_author?,
    "#{unread_comment_class}": !comment.viewer_did_author?,
    "is-internal": comment_is_internal,
  })
%>
<div class="timeline-comment-group js-minimizable-comment-group js-targetable-element<% if legacy_commit_comment %> mb-3<% if first_comment %> ml-n5<% end %><% else %> TimelineItem-body my-0<% end %> " id="<%= dom_id %>">
  <% if minimizable_comment && render_minimized_comment %>
    <div class="<% if !legacy_commit_comment %>ml-n3<% end %> minimized-comment position-relative <%= " d-none" unless comment_is_minimized %> <%= "js-comment" if comment_is_minimized %>">
      <%= render partial: "comments/minimized_comment", locals: {
            comment: comment,
            dom_id: dom_id,
            comment_context: comment_context,
            form_path: form_path,
            action_text: action_text
          } %>
    </div>
  <% end %>
  <% if render_unminimized_comment %>
    <div class="<% if !legacy_commit_comment %>ml-n3<% end %> timeline-comment unminimized-comment comment previewable-edit js-task-list-container <%= comment_classes %>"
        data-body-version="<%= comment.body_version %>"
        data-unfurl-hide-url="<%= unfurl_hide_path %>">
      <%= csrf_hidden_input_for unfurl_hide_path, class: "js-data-unfurl-hide-url-csrf" %>

      <%= render :partial => "comments/comment_header", :locals => {
            comment: comment,
            action_text: action_text,
            dom_id: dom_id,
            form_path: form_path,
            permalink: local_assigns[:permalink],
            show_datestamp: show_datestamp,
            delete_enabled: delete_enabled,
          } %>

      <div class="edit-comment-hide">
        <% if can_minimize %>
          <div class="js-minimize-comment d-none <%= prerender_all_comment_versions ? "" : "js-update-minimized-content" %>">
            <%= render partial: "comments/minimize_comment_form", locals: { comment: comment } %>
          </div>
        <% end %>

        <%= render partial: "comments/comment_body", locals: { comment: comment } %>

        <% if comment.is_a?(PlatformTypes::Reactable) %>
          <%= render partial: "comments/reactions", locals: { subject: comment } %>
        <% end %>
      </div>

      <% if can_update %>
        <%= form_tag form_path, :method => :put, :class => "js-comment-update", :id => nil do %>
          <%= render partial: "comments/edit_form", locals: {
                comment: comment,
                comment_context: comment_context,
                textarea_id: "#{dom_id}-body"
              } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
