<%# erblint:counter TooltipCounter 6 %>
<%# erblint:disable ButtonHasType %>
<%graphql
  fragment Comment on Comment {

    author {
      login
    }

    ... on RepositoryNode {
      repository {
        owner {
          login
        }
      }
    }

    ... on Blockable {
      viewerCanBlock
      viewerCanUnblock
    }

    ...Comments::ReviewCommentView::CommentFragment
    ...Views::Comments::CommentHeaderReactionButton::Subject
    ...Views::Comments::RepositoryAuthorAssociation::Comment
    ...Views::Comments::MinimizedComment::Comment
    ...Views::Comments::MinimizeCommentForm::Comment
    ...Views::Comments::Reactions::Subject
    ...Views::Comments::EditForm::Comment
    ...Views::Comments::CommentEditHistory::Comment
    ...CommentsHelper::CommentFragment
    ...Views::Comments::BlockUser::Comment
  }
%>

<%
  comment = Views::Comments::ReviewComment::Comment.new(comment)
  comment_context ||= :discussion
  dom_id ||= graphql_comment_dom_id(comment)
  comment_href = local_assigns[:permalink] || "##{dom_id}"
  permalink_id = "#{dom_id}-permalink"
  is_resolved = defined?(resolved) && resolved
  view = Comments::ReviewCommentView.new(comment, params[:tab])
  display_commenter_full_name = view.display_commenter_full_name_enabled_for_org? &&
    view.can_see_commenter_full_name? && !view.viewer_did_author?
  can_block = comment.is_a?(PlatformTypes::Blockable) && comment.viewer_can_block?
  can_unblock = comment.is_a?(PlatformTypes::Blockable) && comment.viewer_can_unblock?
%>
<% if local_assigns[:first_comment] %>
  <% if review_thread.start_diff_line.present? %>
    <div class="f6 py-2 px-3 border-bottom d-flex flex-justify-between">
      <%= render partial: "pull_request_review_threads/range_info", locals: {
        start_line: review_thread.start_diff_line.current,
        start_line_type: review_thread.start_line_type,
        end_line: review_thread.end_diff_line.current,
        end_line_type: review_thread.end_line_type
      } %>
    </div>
  <% end %>
<% end %>

<div class="review-comment js-minimizable-comment-group js-targetable-element <% if local_assigns[:review_thread] && review_thread.start_diff_line&.current %>is-multiline<% end %>"
      id="<%= dom_id %>"
      data-gid="<%= "#{view.comment_id}" %>"
      data-url="<%= show_node_partial_path(path: "comments/review_comment", id: view.comment_id) %>">
  <% if view.minimizable? %>
    <div class="minimized-comment position-relative <%= "d-none" unless view.minimized? %>">
      <%= render partial: "comments/minimized_comment", locals: {
            comment: comment,
            dom_id: dom_id,
            comment_context: comment_context,
            form_path: view.update_resource_path
          } %>
    </div>
  <% end %>

  <div class="<%= view.previewable_comment_classes(unread_comment_class, logged_in?) %>"
       data-body-version="<%= view.body_version %>"
       data-thread-side="<%= view.side %>">
    <div class="edit-comment-hide">
      <div class="timeline-comment-actions">
        <% if logged_in? && view.reactable? %>
          <%= render partial: "comments/comment_header_reaction_button", locals: { subject: comment } %>
        <% end %>
        <details class="details-overlay details-reset position-relative d-inline-block" id="<%= "details-#{dom_id}" unless view.minimized? %>">
          <summary class="btn-link timeline-comment-action" aria-label="Show more options">
            <%= octicon("kebab-horizontal") %>
          </summary>

          <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in" style="width:185px; z-index: 99;">

          <% if view.submitted? %>
            <clipboard-copy
              class="dropdown-item btn-link"
              for="<%= permalink_id %>"
              role="menuitem">
              Copy link
            </clipboard-copy>

            <button
              type="button"
              role="menuitem"
              class="dropdown-item btn-link d-none js-comment-quote-reply">
              Quote reply
            </button>

            <% if logged_in? && view.can_open_new_issue? %>
              <%= render layout: "shared/details_dialog", locals: {
                title: "Reference in new issue",
                button_text: "Reference in new issue",
                button_class: "dropdown-item",
                button_role: "menuitem",
                details_class: ""
                } do %>
                <div class="Box-body scrollable-overlay">
                  <%= render partial: "comments/convert_to_issue_form", locals: {
                    text: view.body,
                    id: view.comment_id,
                    user_id: view.repository_owner_login,
                    repository: view.repository_name,
                    repository_id: view.repository_id,
                    author: view.author_login,
                    original_reference: "#{base_url}#{request.path}#{local_assigns[:href]}"
                    } %>
                </div>
              <% end %>
            <% end %>

            <% if view.display_dropdown_divider? %>
              <div role="none" class="dropdown-divider"></div>
            <% end %>
          <% end %>

          <% if view.archived? %>
          <% elsif view.can_update? %>
            <button
              type="button"
              role="menuitem"
              class="dropdown-item btn-link js-comment-edit-button"
              aria-label="Edit comment">
              Edit
            </button>
          <% elsif view.must_verify_email? %>
            <button
              type="button"
              role="menuitem"
              class="dropdown-item btn-link disabled"
              title="You need to verify your email address before you can edit this comment."
              disabled>
              Edit
            </button>
          <% end %>

          <% if view.can_minimize? %>
            <button
                type="button"
                role="menuitem"
                class="dropdown-item btn-link js-comment-hide-button"
                aria-label="Hide comment">
              Hide
            </button>
          <% end %>

          <% if view.can_delete? %>
            <%= form_tag view.update_resource_path, method: :delete, class: "width-full inline-form js-comment-delete" do %>
              <input type="hidden" name="input[id]" value="<%= view.comment_id %>">
              <button
                  type="submit"
                  role="menuitem"
                  class="dropdown-item menu-item-danger btn-link"
                  aria-label="Delete comment"
                  data-confirm="Are you sure you want to delete this?">
                Delete
              </button>
            <% end %>
          <% end %>

          <% if view.can_report? %>
            <div role="none" class="dropdown-divider"></div>
            <%= link_to(flavored_contact_path(
                  flavor: "report-content",
                  report: "#{view.author_login} (user)",
                  content_url: view.content_url
                ), {
                  'aria-label' => "Report content",
                  :class => "dropdown-item btn-link",
                  :role => "menuitem",
                  'data-ga-click' => "Report content, reported by #{view.viewer_relationship}"
                }) do %>
              Report
            <% end %>
          <% end %>

          <% if can_block %>
            <%= render partial: "comments/block_user", locals: { comment: comment } %>
          <% elsif can_unblock %>
            <%= form_tag destroy_org_user_block_path(comment.repository.owner.login, login: comment.author.login),
                         method: "delete",
                         class: "inline-form width-full" do %>
              <button class="dropdown-item btn-link"
                      type="submit"
                      role="menuitem"
                      data-confirm="Are you sure you want to unblock this user from the organization?">
                Unblock user
              </button>
            <% end %>
          <% end %>

          <% if view.can_view_in_stafftools? %>
            <% text = GitHub.enterprise? ? "Site Admin" : "Stafftools" %>
            <div role="none" class="dropdown-divider"></div>
            <a href="<%= view.stafftools_url %>" class="dropdown-item btn-link" role="menuitem">View in <%= text %></a>
          <% end %>

          </details-menu>
        </details>
      </div>

    <% if view.author %>
      <span class="float-left mt-1">
        <%= graphql_linked_avatar_for(view.author, 28, img_class: "avatar") %>
      </span>
    <% else %>
      <%# TODO: Remove links to the ghost user profile %>
      <%= linked_avatar_for(User.ghost, 28, img_class: "avatar", link_class: "float-left mt-1") %>
    <% end %>

      <div class="review-comment-contents js-suggested-changes-contents" data-thread-side="<%= view.side %>">
        <h4 class="f5 text-normal d-inline">
          <strong>
            <% if view.show_abuse_reports? %>
              <span class="tooltipped tooltipped-ne mr-1" aria-label="<%= view.abuse_report_tooltip %>">
                <%= octicon("report", class: "text-red") %>
              </span>
            <% end %>
            <% if view.author %>
              <%= render "comments/actor", actor: view.author, show_full_name: display_commenter_full_name %>
            <% else %>
              <%# TODO: Remove links to the ghost user profile %>
              <%= link_to GitHub.ghost_user_login, "/#{GitHub.ghost_user_login}", class: "author link-gray-dark" %>
            <% end %>
          </strong>
          <span class="text-gray">
            <% if view.created_via_email? %>
              via email
            <% end %>

            <% if view.submitted? && view.published_at %>
              <a href="<%= comment_href %>" id="<%= permalink_id %>" class="js-timestamp link-gray d-inline-block">
                <%= time_ago_in_words_js view.published_at %>
              </a>
            <% end %>

            <% if view.last_edited_at %>
              <%= render "comments/comment_edit_history", comment: comment %>
            <% end %>
          </span>
        </h4>

        <%= render(partial: "comments/subject_author_badge", locals: { viewer_did_author: view.viewer_did_author?, subject_type: "pull request" }) if view.authored_by_subject_author? %>
        <%= render partial: "comments/repository_author_association", locals: { comment: comment } %>

        <% if view.can_minimize? %>
          <div class="js-minimize-comment d-none">
            <%= render partial: "comments/minimize_comment_form", locals: { comment: comment, review_comment: true } %>
          </div>
        <% end %>

        <% if view.spammy? %>
          <span class="timeline-comment-label timeline-comment-label-spammy tooltipped tooltipped-multiline tooltipped-s"
                aria-label="This user is marked as spammy. Their comments will only show in staff mode.">
            Spammy
          </span>
        <% end %>

        <% if view.pending? %>
          <span class="timeline-comment-label Label--outline bg-yellow-light is-pending position-relative">Pending</span>
        <% end %>

        <task-lists disabled sortable>
          <div class="comment-body markdown-body soft-wrap <% if view.created_via_email? %>email-format<% end %> js-comment-body">
            <%= view.body_html %>
          </div>
        </task-lists>

        <% if view.suggested_changes_enabled? %>
          <% if view.viewer_can_apply_suggestion? %>
            <template class="js-suggested-changes-template" data-comment-pending="<%= view.pending? %>" data-outdated-comment="<%= view.outdated? %>">
              <div class="p-2 border-top d-flex flex-justify-end flex-items-center suggested-change-form-container js-suggested-change-form-container" data-comment-pending="<%= view.pending? %>" data-outdated-comment="<%= view.outdated? %>" data-resolved-comment="<%= is_resolved %>">
                <button class="btn btn-sm js-suggestion-applied d-none" disabled>
                  <%= octicon "check", height: 16 %>
                  Suggestion applied
                </button>
                <button class="btn btn-sm js-disabled-apply-suggestion-button d-none tooltipped tooltipped-multiline tooltipped-n" data-pull-is-open="<%= view.pull_request_open? %>" aria-label="" disabled>
                  Commit suggestion
                  <%= octicon "triangle-down", class: "v-align-text-bottom", height: 14 %>
                </button>

                <% if view.pull_request_open? %>
                  <span class="timeline-comment-label pending-batched-suggestion-label d-none Label--outline mt-0">Pending in batch</span>

                  <button class="btn btn-sm btn-danger ml-2 d-none js-batched-suggested-changes-remove tooltipped tooltipped-multiline tooltipped-n" aria-label="Remove this suggestion from those to be applied in batch">
                    Remove from batch
                  </button>
                  <button class="btn btn-sm ml-2 d-none js-focus-commit-suggestions-form-button tooltipped tooltipped-multiline tooltipped-n" aria-label="Apply all batched suggestions as a single commit">
                    Commit suggestions
                    <%= render Primer::CounterComponent.new(count: 0, classes: "js-pending-batched-suggested-changes-count") %>
                  </button>
                  <details class="details-reset details-overlay position-relative ml-2 mb-0 js-apply-single-suggestion">
                    <%= content_tag(:summary, class: "btn btn-sm js-apply-suggestion-button", data: suggested_changes_click("apply_suggestion")) do %>
                      Commit suggestion
                      <%= octicon "triangle-down", class: "v-align-text-bottom", height: 14 %>
                    <% end %>
                    <div class="Popover right-0 mt-2 pt-1">
                      <div class="Popover-message Popover-message--large Popover-message--top-right left-0 p-3 mx-auto Box box-shadow-large" style="min-width: 420px;">
                        <%= form_tag(view.apply_suggested_changes_path, method: :post, class: "js-single-suggested-change-form") do %>
                          <input type="hidden" name="comment_id" value="<%= view.comment_id %>">
                          <input type="hidden" name="path" value="<%= view.thread_path %>">
                          <input type="hidden" name="current_oid" value="<%= view.head_ref_oid %>">
                          <input type="text" name="commit_title" class="form-control input-block input-contrast merge-commit-title js-suggestion-commit-title mb-2" aria-label="Commit title" value="Update <%= view.thread_path %>" placeholder="Commit title">
                          <textarea
                            rows="2"
                            aria-label="Commit message"
                            autocomplete="off"
                            class=" js-quick-submit form-control input-block mb-2"
                            type="text"
                            name="commit_message"
                            placeholder="Add an optional extended description…"
                            style="resize: vertical"></textarea>
                          <div class="form-actions">
                            <% data = suggested_changes_click("commit_changes").merge("disable-invalid": true) %>
                            <%= content_tag(:button, type: "submit", class: "btn btn-sm btn-primary js-suggested-changes-submit", data: data.merge(disable_with: "Applying commit...")) do %>
                              Commit changes
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </details>
                  <%
                    disabled = !view.files_tab? || view.selection_contains_deletions?
                    label = if !view.files_tab?
                              "Batching suggestions must be done from the files tab."
                            elsif view.selection_contains_deletions?
                              "Applying suggestions on deleted lines is not supported."
                            else
                              "Add this suggestion to a batch that can be applied as a single commit."
                            end
                  %>
                  <button class="btn btn-sm ml-2 js-batched-suggested-changes-add tooltipped tooltipped-multiline tooltipped-n" <%= disabled ? "disabled" : "" %> aria-label="<%= label %>">
                    Add suggestion to batch
                  </button>
                <% end %>
              </div>
            </template>

            <div class="form-group flex-auto warn m-0 text-orange js-error-message-placeholder" hidden>
              <div class="position-relative warning m-0" style="max-width: inherit;">
                <span class="js-error-message"></span>
                <span class="text-bold btn-link js-refresh-after-suggestion">Refresh and try again.</span>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if view.reactable? %>
          <%= render partial: "comments/reactions", locals: { subject: comment } %>
        <% end %>
      </div>
    </div>

    <% if view.can_update? %>
      <%= form_tag view.update_resource_path, method: :put, class: "js-comment-update", id: nil, "data-type" => "json" do %>
        <%= render partial: "comments/edit_form", locals: {
              comment: comment,
              comment_context: comment_context,
              textarea_id: "#{dom_id}-body"
            } %>
      <% end %>
    <% end %>
  </div>
</div>
