<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Comment on Comment {
    body
    bodyVersion
    createdViaEmail

    ...Views::Comments::Edit::Tabnav::Comment
    ...Views::Comments::Edit::WriteContent::Comment

    ... on IssueComment {
      pullRequest
    }

    ... on RepositoryNode {
      repository {
        databaseId
      }
    }

    ... on PullRequestReviewComment {
      databaseId
      pullRequest {
        databaseId
      }
      diffHunk
      path
      thread {
        originalLine
        diffSide
        originalStartLine
        startDiffSide
      }
      originalCommit {
        oid
      }
    }
  }
%>
<%
  required = false unless defined?(required)
  comment = Views::Comments::EditForm::Comment.new(comment)
  data_preview_url = preview_path(
    repository: comment.is_a?(PlatformTypes::RepositoryNode) ? comment.repository.database_id : nil,
    pull_request: comment.is_a?(PlatformTypes::PullRequestReviewComment) ? comment.pull_request.database_id : nil,
    markdown_unsupported: comment.created_via_email?)
  saved_reply_context = if comment.is_a?(PlatformTypes::PullRequest)
    "pull_request"
  elsif comment.is_a?(PlatformTypes::IssueComment)
    comment.pull_request ? "pull_request_comment" : "issue"
  end
  if comment.is_a?(PlatformTypes::PullRequestReviewComment)
    diff_hunk_lines = comment.diff_hunk.scrub!.split("\n")
    commented_line = diff_hunk_lines.last
    commented_path = comment.path
    line_number = comment.thread.original_line
    start_line_number = comment.thread.original_start_line
    diff_side = comment.thread.diff_side
    start_diff_side = comment.thread.start_diff_side
    commit_id = comment.original_commit&.oid
    comment_id = comment.database_id
  end
%>
<div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
  <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
  <%= render partial: "comments/edit/tabnav", locals: { comment: comment, saved_reply_context: saved_reply_context, textarea_id: textarea_id } %>

  <div class="clearfix"></div>

  <p class="comment-form-error comment-show-stale">
    <%= octicon("alert") %> The content you are editing has changed. Please try again.
  </p>

  <%= render partial: "comments/edit/write_content", locals: { comment: comment, comment_context: comment_context, required: required, textarea_id: textarea_id } %>

  <div class="preview-content">
    <%= render :partial => "comments/preview_comment", locals: { side: defined?(comment.thread) && comment.thread.diff_side } %>
  </div>

  <div class="clearfix">
    <% if comment.created_via_email? %>
      <div class="float-left comment-md-support-link">
        <span class="tabnav-extra">
          <%= octicon("mail-read") %>
          Email replies do not support Markdown
        </span>
      </div>
    <% end %>

    <input type="hidden" name="comment_id" value="<%= comment_id %>" class="js-comment-id">
    <div class="form-actions comment-form-actions">
      <button class="btn btn-primary" type="submit" data-disable-with>Update comment</button>
      <button class="btn btn-danger js-comment-cancel-button" type="button"
              data-confirm-text="Are you sure you want to discard your unsaved changes?">
        Cancel
      </button>
    </div>
  </div>

  <div class="comment-form-error mb-2 js-comment-update-error" hidden></div>
</div>
