<%# erblint:disable LandmarkHasLabel %>
<% reason ||= nil %>

<div class="previewable-comment-form">
  <div class="comment-form-head tabnav">
    <nav class="tabnav-tabs">
      <span class="tabnav-tab write-tab selected">Write</span>
      <span class="tabnav-tab preview-tab">Preview</span>
    </nav>
  </div>
  <div class="blankslate conversation-limited">
    <%= octicon("lock", :height => 32, :class => "blankslate-icon") %>
    <p>This conversation has been locked <% if reason %>as <strong><%= reason.downcase&.gsub("_", " ") %></strong> <% end %>and limited to collaborators.</p>
  </div>
</div>
