<%# erblint:counter TooltipCounter 1 %>
<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Comment on Comment {
    id
    bodyHTML
    bodyVersion
    publishedAt
    createdViaEmail
    spammy
    authoredBySubjectAuthor
    viewerDidAuthor
    subjectType

    ... on Updatable {
      viewerCanUpdate
    }

    ... on Minimizable {
      minimizedReason
      isMinimized
    }

    ... on PullRequestReviewComment {
      resourcePath
    }

    ... on CommitComment {
      resourcePath
    }

    author {
      login
      resourcePath
      # TODO: Work around an arguments clash with `avatarUrl` in `Views::Comments::Comment::Comment`
      smallAvatarURL: avatarUrl(size: 56)
      ...ApplicationHelper::LinkedAvatar
      ...Views::Comments::Actor::Actor
    }

    ...Views::Comments::EditForm::Comment
    ...Views::Comments::RepositoryAuthorAssociation::Comment
    ...Views::Comments::CommentHeaderActions::Comment
  }
%>

<%
  comment = Views::Comments::MinimizedCommentLoggedIn::Comment.new(comment)
  permalink_id = "#{dom_id}-minimized-permalink"
  legacy_commit_comment = nil unless local_assigns.key?(:legacy_commit_comment)
  pull_request_review_comment = comment.is_a?(PlatformTypes::PullRequestReviewComment)
  can_update = comment.is_a?(PlatformTypes::Updatable) && comment.viewer_can_update? && form_path
%>

  <details class="Details-element details-reset <%= "border rounded-1 bg-white" unless pull_request_review_comment %>"
       data-body-version="<%= comment.body_version %>">
<% if comment.is_a?(PlatformTypes::PullRequestReviewComment) %>
    <summary class="text-gray f6">
      <div class="d-flex flex-justify-between flex-items-center">
        <h3 class="review-comment-contents bg-white f5 text-normal text-italic" style="margin-left:38px">
          <div class="discussion-item-icon discussion-item-icon-gray text-gray">
            <%= octicon("fold") %>
          </div>
          <div class="d-inline-block">
            <%= render partial: "comments/minimized_comment_header", locals: {
                  minimized_reason: comment.minimized_reason,
                  spammy: comment.spammy?
            } %>
          </div>
        </h3>
        <div class="Details-content--closed btn-link text-gray"><%= octicon("unfold", :class => "mr-1") %>Show comment</div>
        <div class="Details-content--open btn-link text-gray"><%= octicon("fold", :class => "mr-1") %>Hide comment</div>
      </div>
    </summary>
<% else %>
    <summary class="bg-gray border-bottom-0 py-0 px-2">
      <div class="d-flex flex-justify-between flex-items-center">
        <h3 class="timeline-comment-header-text f5 text-gray text-normal text-italic">
          <%= render partial: "comments/minimized_comment_header", locals: {
                minimized_reason: comment.minimized_reason,
                spammy: comment.spammy?
          } %>
        </h3>
        <div class="Details-content--closed text-gray f6 no-wrap"><%= octicon("unfold", :class => "position-relative mr-1") %>Show comment</div>
        <div class="Details-content--open text-gray f6 no-wrap"><%= octicon("fold", :class => "position-relative mr-1") %>Hide comment</div>
      </div>
    </summary>
<% end %>
    <div class="<%= pull_request_review_comment ? "py-2 pl-6 pr-0" : "review-comment border-top pt-3" %>">
      <div class="previewable-edit <%= "js-comment" if comment.is_minimized? %> js-task-list-container <%= "reorderable-task-lists" if logged_in? %>">
        <div class="edit-comment-hide">
          <div class="timeline-comment-actions">
            <%= render partial: "comments/comment_header_actions",
              locals: {
                comment: comment,
                form_path: form_path,
                permalink_id: permalink_id,
                minimized_comment_partial: true
              }
            %>
          </div>
          <% if comment.author %>
            <%= graphql_linked_avatar_for(comment.author, 28, img_class: "avatar", link_class: "float-left mt-1") %>
          <% else %>
            <%# TODO: Remove links to the ghost user profile %>
            <%= linked_avatar_for(User.ghost, 28, img_class: "avatar", link_class: "float-left mt-1") %>
          <% end %>
          <div class="review-comment-contents">
            <h4 class="f5 text-normal d-inline text-gray-dark">
              <strong class="text-gray">
                <%= render "comments/actor", actor: comment.author %>
              </strong>
              <span class="text-gray">
                <% if comment.published_at %>
                  <a href="<%= "##{dom_id}" %>" id="<%= permalink_id %>" class="link-gray"><%= time_ago_in_words_js comment.published_at %></a>
                <% end %>
              </span>
              <% if comment.spammy? %>
                <span class="timeline-comment-label timeline-comment-label-spammy tooltipped tooltipped-multiline tooltipped-s"
                      aria-label="This user is marked as spammy. Their comments will only show in staff mode.">
                  Spammy
                </span>
              <% end %>
            </h4>
            <%= render partial: "comments/repository_author_association", locals: { comment: comment } %>
            <%= render(partial: "comments/subject_author_badge", locals: { viewer_did_author: comment.viewer_did_author, subject_type: comment.subject_type }) if comment.authored_by_subject_author %>
            <task-lists disabled sortable>
              <div class="comment-body markdown-body p-0 pt-1 js-comment-body <%= "email-format" if comment.created_via_email? %>">
                <% if comment.body_html.present? %>
                  <%= comment.body_html %>
                <% else %>
                  <p class="text-gray">
                    <em>No description provided.</em>
                  </p>
                <% end %>
              </div>
            </task-lists>
          </div>
        </div>

        <% if can_update %>
          <%= form_tag form_path, :method => :put, :class => "js-comment-update", :id => nil, "data-type" => "json" do %>
            <%= render partial: "comments/edit_form", locals: {
                  comment: comment,
                  comment_context: comment_context,
                  textarea_id: "#{dom_id}-minimize-comment-body"
                } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </details>
