<% if minimized_reason == "spam" && spammy %>
    This comment and user was marked as spammy.
<% else %>
  <% case minimized_reason %>
  <% when "spam" %>
    This comment was marked as spam.
  <% when "abuse" %>
    This comment was marked as disruptive content.
  <% when "off-topic" %>
    This comment was marked as off-topic.
  <% when "outdated" %>
    This comment was marked as outdated.
  <% when "resolved" %>
    This comment was marked as resolved.
  <% else %>
    This comment has been minimized.
  <% end %>
<% end %>
