<%# erblint:counter TooltipCounter 1 %>
<%# rubocop:disable GitHub/DeprecatedViewHelpers %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  required   = true if !defined?(required)
  field_name ||= if view.try(:persisted?)
                   "#{comment.class.name.underscore}[body]"
                 else
                   "comment[body]"
                 end
  subject = (view && view.gist) || @pull || @issue || @post || @discussion || @job_posting || @custom_messages || current_commit
  saved_reply_context = if subject.respond_to?(:new_record?) && subject.new_record?
    "new_#{subject.class.name.underscore}"
  elsif subject.is_a?(PullRequest)
    comment ? "pull_request_comment" : "pull_request"
  elsif subject.is_a?(Issue)
    "issue"
  end
  toolbar_below = local_assigns.fetch(:toolbar_below, false)
  subject_name = local_assigns.fetch(:subject_name, subject.class)
  preview_repo = local_assigns.fetch(:preview_repository) { view.repository }
  size_to_fit = local_assigns.fetch(:size_to_fit, true)
  placeholder = local_assigns.fetch(:placeholder, "Leave a comment")
  session_resumable = local_assigns.fetch(:session_resumable, true)
  allow_attachments = local_assigns.fetch(:allow_attachments, true)
  hide_nav = local_assigns.fetch(:hide_nav, false)
  hide_tip = local_assigns.fetch(:hide_tip, false)
  disabled = local_assigns.fetch(:disabled, false)
  autofocus = local_assigns.fetch(:autofocus, false)
  original_line = local_assigns.fetch(:original_line, "")
  line_number = local_assigns[:line_number]
  comparison_start_oid = local_assigns[:comparison_start_oid]
  comparison_end_oid = local_assigns[:comparison_end_oid]
  comparison_base_oid = local_assigns[:comparison_base_oid]
  comment_id = local_assigns[:comment_id]
  comment_path = local_assigns.fetch(:path, "")
  markdown_unsupported = comment.try(:formatter) == :email
  data_preview_url = preview_path(:repository => preview_repo.try(:id),
                                  :subject => subject,
                                  :subject_type => subject.class.name,
                                  :comment => comment,
                                  :markdown_unsupported => markdown_unsupported)
  is_responsive_form = local_assigns.fetch(:responsive_form, responsive?)

  structured_issue_comment_templates_enabled = local_assigns.fetch(:structured_issue_comment_templates_enabled, false)
  structured_issue_comment_templates = local_assigns.fetch(:structured_issue_comment_templates, [])

  if subject.is_a?(PullRequest) && allows_suggested_changes
    suggestion_button_path = review_comment_suggestion_button_path(subject.repository.owner, subject.repository, subject)
  end
%>
<tab-container class="js-previewable-comment-form<%= " js-suggested-changes-container" if allows_suggested_changes %> previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
  <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
  <div class="comment-form-head tabnav d-flex flex-justify-between <% unless toolbar_below %>mb-2<% end %> <% if is_responsive_form %>p-0 tabnav--responsive d-flex flex-column border-bottom-0 mb-0 mb-lg-2 flex-items-stretch border-lg-bottom border-gray-dark flex-lg-items-center flex-lg-row<% end %>">
    <% unless hide_nav %>
      <div class="tabnav-tabs <%= "mx-0 mx-md-2 mt-0 mt-md-2 no-wrap d-flex flex-auto d-md-block" if is_responsive_form %>" role="tablist">
        <button type="button" class="btn-link tabnav-tab write-tab js-write-tab  <%= "px-3 px-sm-6 px-md-3 flex-1 flex-md-auto" if is_responsive_form %>" role="tab" aria-selected="true">Write</button>
        <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab <%= "flex-1 flex-md-auto" if is_responsive_form %>" role="tab">Preview</button>
      </div>
    <% end %>
    <% if !markdown_unsupported && !toolbar_below %>
      <%= render Comments::GitHubSpecificMarkdownToolbarComponent.new(textarea_id: textarea_id, discussions_enabled: discussions_enabled?, saved_reply_context: saved_reply_context, hide_saved_replies: subject.is_a?(Gist), allows_suggested_changes: allows_suggested_changes, responsive: is_responsive_form, suggestion_button_path: suggestion_button_path, pull_request: @pull, structured_issue_comment_templates: structured_issue_comment_templates) %>
    <% end %>
  </div>
  <% if !markdown_unsupported && toolbar_below %>
    <%= render Comments::GitHubSpecificMarkdownToolbarComponent.new(textarea_id: textarea_id, discussions_enabled: discussions_enabled?, saved_reply_context: saved_reply_context, hide_saved_replies: subject.is_a?(Gist), allows_suggested_changes: allows_suggested_changes, responsive: is_responsive_form, suggestion_button_path: suggestion_button_path, pull_request: @pull, structured_issue_comment_templates: structured_issue_comment_templates) %>
  <% end %>
  <% if view.admin? %>
    <p class="comment-form-error comment-show-stale">
      <%= octicon("alert") %> The content you are editing has changed. Please try again.
    </p>
  <% end %>

  <% show_errors_inline = local_assigns.fetch(:show_errors, subject && subject.errors && subject.errors.any?) %>
  <div class="comment-form-error js-comment-form-error" role="alert" <% if !show_errors_inline %>hidden<% end %>>
    There was an error creating your <%= subject_name %><%= ": " + subject.errors.full_messages.join(", ").downcase if show_errors_inline %>.
  </div>

  <% attachment_opts = current_repository ? { :"data-upload-repository-id" => current_repository.id } : {} %>
  <%= file_attachment_tag(
    enabled: allow_attachments,
    model: :assets,
    class: "js-upload-markdown-image is-default",
    input: "fc-#{textarea_id}",
    role: "tabpanel",
    "data-tab-container-no-tabstop": true,
    "data-replace-attribute": "input",
    "data-replace-attribute-template": "fc-new_comment_$id_field",
    **attachment_opts
  ) do |upload_enabled| %>
    <div class="write-content js-write-bucket tooltipped tooltipped-ne tooltipped-no-delay tooltipped-align-left-1 hide-reaction-suggestion<% if upload_enabled %> upload-enabled<% end %><% if is_responsive_form %> mx-0 mt-2 mb-2 mx-md-2 hx_sm-hide-drag-drop<% end %><% unless gist_request? %> js-reaction-suggestion<% end %>" <% unless gist_request? %>data-reaction-markup="Would you like to leave a reaction instead?"<% end %>>
      <% if view.try(:persisted?) %>
        <input type="hidden" name="context" value="<%= view.comment_context %>">
      <% end %>

      <% unless subject.is_a?(Gist) %>
        <input
          type="hidden"
          name="saved_reply_id"
          id="<%= textarea_id %>_saved_reply_id"
          class="js-resettable-field"
          value=""
          data-reset-value=""
          data-replace-attribute="id"
          data-replace-attribute-template="new_comment_$id_field_saved_reply_id"
        >
      <% end %>

      <text-expander
        keys="<%= [
          ":",
          structured_issue_comment_templates_enabled ? "/" : nil,
          preview_repo ? "@ #" : nil
        ].compact.join(" ") %>"
        <% if preview_repo %>
          data-issue-url="<%= suggestions_url(preview_repo, subject) + "&issue_suggester=1" %>"
          data-mention-url="<%= suggestions_url(preview_repo, subject) + "&mention_suggester=1" %>"
        <% end %>
        <% if structured_issue_comment_templates_enabled %>
          data-slash-command-url="<%= issue_comments_template_suggestions_path %>"
        <% end %>
        data-emoji-url="<%= view.gist ? suggestions_user_gist_path(view.gist.user_param, view.gist) : emoji_suggestions_path %>"
        >
        <textarea name="<%= field_name %>"
                  id="<%= textarea_id %>"
                  <% if disabled %>disabled<% end %>
                  <% if autofocus %>autofocus<% end %>
                  placeholder="<%= placeholder %>"
                  aria-label="Comment body"
                  data-replace-attribute="id"
                  data-replace-attribute-template="new_comment_$id_field"
                  class="form-control input-contrast comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit<% if size_to_fit %> js-size-to-fit<% end %> <%= "js-session-resumable" if session_resumable %> <%= "js-saved-reply-shortcut-comment-field" unless subject.is_a?(Gist) %>"
                  <% if required %>required<% end %>><%= view.body %></textarea>
      </text-expander>
      <% if allow_attachments %>
        <%= render :partial => "comments/drag_and_drop", locals: { asset_types: asset_types, file_chooser_id: "fc-#{textarea_id}" } %>
      <% end %>
    </div>
  <% end %>

  <div role="tabpanel" class="js-preview-panel overflow-auto border-bottom <% if is_responsive_form %>mx-0 my-3 mx-md-2 mb-md-2<% else %>mx-2 mb-2<% end %>" hidden>
    <input type="hidden" name="path" value="<%= comment_path %>" class="js-path">
    <input type="hidden" name="line" value="<%= line_number %>" class="js-line-number">
    <input type="hidden" name="start_line" value="" class="js-start-line-number">
    <input type="hidden" name="preview_side" value="" class="js-side">
    <input type="hidden" name="preview_start_side" value="" class="js-start-side">
    <input type="hidden" name="start_commit_oid" value="<%= comparison_start_oid %>" class="js-start-commit-oid">
    <input type="hidden" name="end_commit_oid" value="<%= comparison_end_oid %>" class="js-end-commit-oid">
    <input type="hidden" name="base_commit_oid" value="<%= comparison_base_oid %>" class="js-base-commit-oid">
    <input type="hidden" name="comment_id" value="<%= comment_id %>" class="js-comment-id">
    <%= render partial: "comments/preview_comment", locals: { allows_suggested_changes: allows_suggested_changes, size_to_fit: size_to_fit } %>
  </div>

  <% unless hide_tip %>
    <% if view.show_allow_maintainer_edits_option? %>
      <div class="float-left <%= "m-0 mx-md-3 my-md-2" if is_responsive_form %>">
        <%= render :partial => "pull_requests/collab",  :locals => { :pull_request => view.pull_request, :use_outer_form => true } %>
      </div>
    <% elsif markdown_unsupported %>
      <div class="float-left <%= "m-0 mx-md-3 my-md-2" if is_responsive_form %>">
        <span class="tabnav-extra <%= "p-0 m-0" if is_responsive_form %>">
          <%= octicon("mail-read") %>
          Email replies do not support Markdown
        </span>
      </div>
    <% end %>
  <% end %>

  <% if view.try(:persisted?) %>
    <div class="form-actions">
      <button class="btn btn-primary" type="submit" data-disable-with>Update comment</button>
      <button class="btn btn-danger js-comment-cancel-button" type="button"
              data-confirm-text="Are you sure you want to discard your unsaved changes?">
        Cancel
      </button>
    </div>
  <% end %>

  <div class="comment-form-error mb-2 js-comment-update-error" hidden></div>
</tab-container>
