<%# erblint:counter TooltipCounter 7 %>
<%graphql
  fragment Comment on Comment {
    authorAssociation
    viewerDidAuthor
    showFirstContributionPrompt
    ... on RepositoryNode {
      repository {
        isPrivate
        name
        owner {
          ... on Organization {
            name
          }
        }
      }
    }
    ...Views::Comments::FirstContributionPrompt::Comment
  }
%>
<% comment = Views::Comments::RepositoryAuthorAssociation::Comment.new(comment) %>

<% if comment.is_a?(PlatformTypes::RepositoryNode) && !comment.repository.is_private? %>
  <% case comment.author_association %>
  <% when "MEMBER" %>
    <span class="timeline-comment-label text-bold tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>You are<% else %>This user is<% end %> a member of the <%= comment.repository.owner.name %> organization.">
      Member
    </span>
  <% when "OWNER" %>
    <span class="timeline-comment-label text-bold tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>You are<% else %>This user is<% end %> the owner of the <%= comment.repository.name %> repository.">
      Owner
    </span>
  <% when "MANNEQUIN" %>
    <span class="timeline-comment-label tooltipped tooltipped-multiline tooltipped-s" aria-label="This is a mannequin user.">
      Mannequin
    </span>
  <% when "COLLABORATOR" %>
    <span class="timeline-comment-label tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>You have<% else %>This user has<% end %> been invited to collaborate on the <%= comment.repository.name %> repository.">
      Collaborator
    </span>
  <% when "CONTRIBUTOR" %>
    <span class="timeline-comment-label tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>You have<% else %>This user has<% end %> previously committed to the <%= comment.repository.name %> repository.">
      Contributor
    </span>
  <% when "FIRST_TIME_CONTRIBUTOR" %>
    <span class="timeline-comment-label tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>You are<% else %>This user is<% end %> a first-time contributor to the <%= comment.repository.name %> repository.">
      First-time contributor
    </span>
    <% if comment.show_first_contribution_prompt? %>
      <%= render partial: "comments/first_contribution_prompt", locals: { comment: comment } %>
    <% end %>
  <% when "FIRST_TIMER" %>
    <span class="timeline-comment-label tooltipped tooltipped-multiline tooltipped-s" aria-label="<% if comment.viewer_did_author? %>This is your<% else %>This user’s<% end %> first pull request on GitHub.">
      First-time GitHub contributor
    </span>
  <% end %>
<% end %>
