<% repository_id = nil unless local_assigns.key?(:repository_id) %>

<div class="flash flash-warn mt-3">
  <% if GitHub.signup_enabled? %>
    <% source_label = commentable_type == :gist ? "comment-gist" : "comment-repo" %>
    <%= link_to(
      "Sign up for free",
      signup_path(source: source_label),
      rel: "nofollow",
      class: "btn btn-primary",
      data: sign_up_link_data_attributes(location_in_page: "signed out comment", repository_id: repository_id)
    ) %>
    <strong>to join this conversation on GitHub</strong>.
    Already have an account?
    <%= link_to(
      "Sign in to comment",
      login_path_with_return,
      rel: "nofollow",
      data: sign_in_link_data_attributes(location_in_page: "signed out comment", repository_id: repository_id)
    ) %>
  <% else %>
    <%= link_to(
      "Sign in",
      login_path_with_return,
      rel: "nofollow",
      class: "btn btn-primary",
      data: sign_in_link_data_attributes(location_in_page: "signed out comment", repository_id: repository_id)
    ) %>
    <strong>to join this conversation on GitHub</strong>.
  <% end %>
</div>
