<%# erblint:counter TooltipCounter 1 %>

<%graphql
  fragment Comment on Comment {
    sponsorship: authorSponsorshipForSubjectOwner {
      createdAt
      sponsorable {
        ... on Organization {
          login
        }
      }
    }
  }
%>

<% comment = Views::Comments::SponsorsBadge::Comment.new(comment) %>

<% if comment.sponsorship %>
  <%
    sponsorable = comment.sponsorship.sponsorable
    label = if sponsorable.is_a?(PlatformTypes::User)
      "Your sponsor"
    else
      "#{sponsorable.login}'s sponsor"
    end
  %>

  <span
    class="timeline-comment-label no-wrap tooltipped tooltipped-multiline tooltipped-s"
    aria-label="<%= label %> since <%= comment.sponsorship.created_at.strftime("%b %e, %Y") %>"
    <%= test_selector("sponsors-comment-badge") %>
  >
  <%= label %>
  </span>
<% end %>
