<%# rubocop:disable GraphQL/Overfetch %>
<%graphql

fragment Comment on Comment {
  author {
    resourcePath

    ... on Bot {
      isDeltaforce
    }

    ...ApplicationHelper::LinkedAvatar
  }

  ... on PerformableViaApp {
    viaApp {
      htmlUrl
      name
      logoUrl(size: 40)
    }
  }
}

%>

<%
  comment = Views::Comments::TimelineAvatar::Comment.new(comment)
%>
<div class="avatar-parent-child TimelineItem-avatar <% if responsive? %>d-none d-md-block<% end %>">
  <% if comment.author %>
    <%= graphql_linked_avatar_for(
      comment.author,
      40,
      img_class: "avatar rounded-1",
    ) %>
  <% else %>
    <%= linked_avatar_for(
      User.ghost,
      40,
      img_class: "avatar rounded-1",
    ) %>
  <% end %>

  <% if comment.respond_to?(:via_app?) && comment.via_app? %>
    <a href="<%= comment.via_app.html_url %>">
      <img src="<%= comment.via_app.logo_url.to_s %>" alt="<%= comment.via_app.name %>" width="20" height="20" class="avatar avatar-child rounded-1">
    </a>
  <% elsif comment.author.is_a?(PlatformTypes::Bot) && comment.author.is_deltaforce %>
    <%= avatar_for(GitHub.dependabot_github_app.owner, 20, class: "avatar avatar-child rounded-1") %>
  <% end %>
</div>
