<%# view is an instance of RepositoryAdvisories::ShowView %>
<%# this list is used by repository advisories and global advisories %>
<% if view.show_credits? %>
  <div class="Box-row py-2 bg-gray-light" <%= test_selector("advisory-credits") %>>
    <h3 class="h5 py-2 text-gray" aria-label="Advisory credits">Credits</h3>
    <ul class="list-style-none advisory-credit-window-max">
      <% view.credits.each do |credit| %>
        <%= render partial: "repos/advisories/credits/row", locals: { view: credit } %>
      <% end %>
    </ul>
  </div>
<% end %>
