<%= render layout: "sponsors/dashboards/layout",
      locals: { sponsorable: sponsorable, selected_tab: :webhooks } do %>
  <div class="Subhead d-flex flex-items-center">
    <div class="Subhead-heading">Edit webhook</div>
  </div>

  <%= render partial: "sponsors/webhooks/form", locals: { hook: hook, sponsorable: sponsorable } %>

  <% unless hook.new_record? %>
    <div class="mt-5">
      <%=
        render partial: "hooks/deliveries", locals: {
          hook: hook,
          disabled: false,
          target: hook.installation_target.class.name.humanize,
          hook_deliveries_query: nil,
          can_filter_hook_deliveries: false,
        }
      %>
    </div>
  <% end %>
<% end %>
