<a href="<%= url_for(q: "created:#{1.day.ago.strftime("%Y-%m-%d")}") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon('calendar', class: 'select-menu-item-icon') %>

  <div class="select-menu-item-text">
    Yesterday’s activity
  </div>
</a>

<a href="<%= url_for(q: "action:repo.create action:repo.destroy action:repo.access action:team.add_repository action:team.remove_repository") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon('repo', class: 'select-menu-item-icon') %>
  <div class="select-menu-item-text">
    Repository management
  </div>
</a>

<% if GitHub.billing_enabled? %>
  <a href="<%= url_for(q: "action:payment_method action:billing.change_email") %>"
     class="select-menu-item"
     role="menuitem"
     data-pjax>

    <%= octicon('credit-card', class: 'select-menu-item-icon') %>
    <div class="select-menu-item-text">
      Billing updates
    </div>
  </a>
<% end %>
