<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-action-suggestions">
  <% view.actions.each do |action| %>
    <li role="option" id="action-<%= action %>" data-value="<%= action %>">
      <%= action %>
    </li>
  <% end %>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-repo-suggestions">
  <% view.repositories.each do |repository| %>
    <li role="option" id="repository-<%= repository.nwo %>" data-value="<%= repository.nwo %>">
      <%= repository.nwo %>
    </li>
  <% end %>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-country-suggestions">
  <% Braintree::Address::CountryNames.each do |country_name, alpha_2_code, alpha_3_code, _| %>
    <li role="option" id="country-<%= alpha_2_code %>" data-value="<%= alpha_2_code %>">
      <%= country_name %>
    </li>
  <% end %>
</ul>
