<% page_info title: "Press", class: "f4", container_xl: true %>

<div class="container-xl p-responsive">
  <%= render(Primer::BreadcrumbComponent.new(pt: 4, font_size: 5)) do |component| %>
    <% component.slot(:item, href: "/about") do %>About<% end %>
    <% component.slot(:item, selected: true) do %>Press<% end %>
  <% end %>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h1 class="h00-mktg mb-4 text-center">
      Press
    </h1>

    <div class="col-md-8 mx-auto mb-4">
      <%= render "about/press/side_menu" %>
    </div>

    <div class="d-flex flex-wrap p-4 gutter gutter-lg-spacious mb-6">
      <% current_or_past_entries.each do |press_entry| %>
        <div class="col-sm-6 col-md-4 mb-6">
          <a class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 pb-9 link-gray-dark" href="<%= press_entry.article_url %>">
            <div class="lh-condensed mb-2">
              <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2"><%= press_entry.publication %></h4>
              <h3 class="h3-mktg"><%= press_entry.article_title %></h3>
            </div>
            <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed"><%= press_entry.formatted_date %></date>
          </a>
        </div>
      <% end %>
    </div>

  </div>
</div>
