<%# erblint:counter TooltipCounter 2 %>
<%#
  `view` is an instance of Statuses::CombinedStatusView
%>

<% if view.statuses.count >= 1 %>
  <div class="branch-action-item js-details-container Details
              <% if view.list_checks? %>open<% end %>
              <% if view.simple_view %>branch-action-item-simple<% end %>">
    <% unless view.simple_view %>
      <div class="branch-action-item-icon completeness-indicator
                 <% if view.combined_status.green? %> completeness-indicator-success
                 <% elsif view.all_failing? %>completeness-indicator-error
                 <% end %>">
        <% if view.all_succeeded? %>
          <%= octicon('check') %>
        <% elsif view.all_failing? %>
          <%= octicon('x') %>
        <% else %>
          <%= donut_svg view.status_counts_by_context %>
        <% end %>
      </div>
    <% end %>

    <div class="<% status_state_text_class(view.state) %>">
      <% unless view.simple_view %>
        <button type="button" class="btn-link float-right js-details-target" aria-expanded="<%= view.list_checks? ? 'false' : 'true' %>">
          <span class="statuses-toggle-opened">Hide all checks</span>
          <span class="statuses-toggle-closed">Show all checks</span>
        </button>
      <% end %>

      <% if view.all_succeeded? %>
        <h3 class="h4 status-heading">All checks have passed</h3>
        <span class="status-meta"><%= status_summary_of_check_totals(view.statuses) %></span>
      <% else %>
        <% if view.all_failing? %>
          <h3 class="h4 status-heading text-red">All checks have failed</h3>
        <% elsif view.pending? %>
          <h3 class="h4 status-heading text-yellow">Some checks haven’t completed yet</h3>
        <% else # All checks are complete, but some were unsuccessful %>
          <h3 class="h4 status-heading text-red">Some checks were not successful</h3>
        <% end %>
        <span class="status-meta">
          <%=
            render partial: "statuses/merge_commit_status_message", locals: {
              commit: view.required_status_decision_basis_commit,
              head_sha: view.pull&.head_sha
            }
          %>
          <%= status_summary_of_check_totals(view.statuses) %>
        </span>
      <% end %>
    </div>

    <div class="merge-status-list js-updatable-content-preserve-scroll-position" data-updatable-content-scroll-position-id="merge-status-list">
      <% view.statuses.each do |status| %>
        <div class="merge-status-item d-flex flex-items-baseline">
          <div class="merge-status-icon flex-self-center">
            <%= octicon(icon_symbol_for_state(status.state), :class => "mx-auto d-block #{status_state_text_class(status.state)}") %>
          </div>

          <% if status.application %>
            <a href="<%= status.application.url %>" class="d-inline-block tooltipped tooltipped-e muted-link mr-2 rounded-1" aria-label="<%= status.application.name %> (@<%= status.application.user.login %>) generated this status." style="background-color: #<%= status.application.preferred_bgcolor %>">
              <%= oauth_application_logo status.application, 20, :class => "avatar" %>
            </a>
          <% elsif status.creator %>
            <a href="<%= user_path(status.creator) %>" class="d-inline-block tooltipped tooltipped-e muted-link mr-2 rounded-1" aria-label="@<%= status.creator.login.chomp(Bot::LOGIN_SUFFIX) %> generated this status." style="background-color: #ffffff">
              <%= avatar_for status.creator, 20, :class => "avatar" %>
            </a>
          <% end %>

          <% target_url = if status.respond_to?(:permalink) %>
            <% view.pull.present? ? status.permalink(pull: view.pull) : status.permalink %>
          <% else %>
            <% status.target_url %>
          <% end %>

          <%=
            render partial: "statuses/status_check_item_body", locals: {
              context: status.contextual_name,
              state: status.state,
              description: status.description || default_status_check_description(status.state),
              additional_context: additional_status_check_context(status.state, status.duration_in_seconds),
              is_required_for_pull_request: view.status_required?(status),
              target_url: target_url,
            }
          %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
