<%graphql
  fragment Status on StatusCheckRollup {
    id
    state
    contexts(first: 100) {
      nodes {
        ... on StatusContext {
          context
          state
        }
        ... on CheckRun {
          context: name
          state: conclusion
          status
        }
      }
    }
  }
%>
<%
  status = Views::Statuses::Icon::Status.new(status)

  # conclusion can be `nil`, we need to default to the status for a check run
  contexts_with_state = status.contexts.nodes.map do |c|
    if c.state.nil?
      [c.context, c.status]
    else
      [c.context, c.state]
    end
  end
  contexts_helper = Statuses::ContextsHelper.new(contexts_with_state)

  dropdown_direction = local_assigns[:dropdown_direction] || "e"
  state = status.state || status.status
%>

<% if mobile? %>
  <div class="commit-build-statuses">
    <span class="<%= status_state_text_class(state) %>" aria-label="<%= contexts_helper.short_text %>">
      <%= octicon(icon_symbol_for_state(state), class: "v-align-middle") %>
    </span>
  </div>
<% else %>
  <details class="commit-build-statuses details-overlay details-reset js-dropdown-details"
    data-deferred-details-content-url="<%= show_node_partial_path(path: "statuses/combined_branch_status", id: status.id) %>">
    <summary class="<%= status_state_text_class(state) %>">
      <%= octicon(icon_symbol_for_state(state), "aria-label": contexts_helper.short_text) %>
    </summary>
    <div <%=test_selector("statuses_dropdown") %> class="dropdown-menu <%= dropdown_menu_class(dropdown_direction) %> overflow-hidden">
      <include-fragment class="m-4 d-flex flex-column flex-items-center">
        <div class="anim-pulse"><%= octicon('octoface', height: 32) %></div>
        <div class="text-gray no-wrap">Loading status checks&hellip;</div>
      </include-fragment>
    </div>
  </details>
<% end %>

