<%
  merge_entry_exists = current_repository.default_merge_queue.entry_for(pull_request: pull).present?
%>

<div class="select-menu d-inline-block" <%= test_selector("merge-queue-status") %>>
  <% if merge_entry_exists %>
    <button type="button" class="btn-primary btn mr-2" disabled>Queued to merge...</button>
    <a href="<%= merge_queue_path %>" class="btn">View merge queue</a>
  <% else %>
    <div class="BtnGroup position-relative">
      <button type="button"
        class="btn-group-merge-group btn-primary btn BtnGroup-item js-details-target"
        aria-expanded="false"
        <% if merge_entry_exists %>disabled<% end %>
        data-details-container=".js-merge-pr">
        Add to merge queue
      </button>

      <button type="button"
        class="btn-group-merge-solo border-right-0 rounded-left-1 btn btn-primary BtnGroup-item js-details-target"
        aria-expanded="false"
        <% if merge_entry_exists %>disabled<% end %>
        data-details-container=".js-merge-pr">
        Queue and force solo merge
      </button>

      <details class="details-reset details-overlay BtnGroup-parent">
        <summary
          class="btn btn-primary select-menu-button BtnGroup-item js-merge-method-menu-button"
          data-merge-button-class="btn-primary"
          aria-label="Select merge queue method"></summary>

        <details-menu
          class="select-menu-modal select-menu-merge-method js-merge-method-menu position-absolute left-0"
          style="top: 100%; z-index: 99;">
          <div class="select-menu-list">
            <button class="width-full select-menu-item"
              aria-checked="true"
              role="menuitemradio"
              value="group"
              type="button"
              data-input-title-value="<%= pull.default_merge_commit_title %>"
              data-input-message-value="<%= pull.title %>">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Queue and merge in a group</span>
                <span class="description">
                  This pull request will be automatically grouped with other pull requests
                  and merged into master.
                </span>
              </div>
            </button>

            <button class="width-full select-menu-item"
              aria-checked="false"
              role="menuitemradio"
              value="solo"
              type="button"
              data-input-title-value="<%= pull.default_squash_commit_title %>"
              data-input-message-value="<%= pull.default_squash_commit_message %>">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Queue and force solo merge</span>
                <span class="description">
                  This pull request will be merged into master by itself.
                </span>
              </div>
            </button>
          </div>
        </details-menu>
      </details>
    </div>
  <% end %>
</div>
