<% if show_marketplace_ci_cta?(view.pull.repository) %>
  <%
    GitHub.instrument("marketplace_cta.view") do |payload|
      payload[:user] = current_user
      payload[:dimensions] = { category: view.ci_category, location: "pull_request" }
    end
  %>

  <div class="branch-action-item marketplace-product-callout">
    <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
      <%= octicon("hubot") %>
    </div>
    <h4 class="status-heading text-gray">
      <% if view.ci_category == "container-ci" %>
        A build service has not been set up
      <% else %>
        Continuous integration has not been set up
      <% end %>
    </h4>
    <p class="status-meta mb-0">
      <% if view.ci_category == "container-ci" %>
        We have detected a top-level <code class="status-meta-file-name">Dockerfile</code>. Pick from
        <a data-ga-click="Marketplace listing, setupCI github marketplace ci cta click, location:pull request"
           data-octo-click="user_experiment_marketplace_setup_ci_cta_click"
           data-octo-dimensions="location:pull_request category:<%= view.ci_category %>"
           href="<%= marketplace_category_path(view.ci_category) %>">apps that can perform automatic builds.</a>
      <% else %>
        <% if GitHub.actions_enabled? %>
          <a data-ga-click="setupCI, actions, github actions ci cta click, location:pull request"
             data-octo-click="pull_request_setup_ci_actions_cta_click"
             data-octo-dimensions="location:pull_request"
             href="<%= actions_onboarding_path %>">GitHub Actions</a>
          and
          <a data-ga-click="Marketplace listing, setupCI github marketplace ci cta click, location:pull request"
             data-octo-click="user_experiment_marketplace_setup_ci_cta_click"
             data-octo-dimensions="location:pull_request category:<%= view.ci_category %>"
             href="<%= marketplace_category_path(view.ci_category) %>">several other apps</a> can be used to automatically catch bugs and enforce style.
        <% else %>
          <a data-ga-click="Marketplace listing, setupCI github marketplace ci cta click, location:pull request"
             data-octo-click="user_experiment_marketplace_setup_ci_cta_click"
             data-octo-dimensions="location:pull_request category:<%= view.ci_category %>"
             href="<%= marketplace_category_path(view.ci_category) %>">Several apps are available</a> to automatically catch bugs and enforce style.
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>
