<% faqs = [
    {
      question: "Is Codespaces available to everyone?",
      answer: "Codespaces will be available to a small group of GitHub users while in limited beta. Over time, more users will have access to the beta based on availability and sign up date.",
    },
    {
      question: "How do I start using Codespaces?",
      answer: "If you’re in the Codespaces beta, you’ll see a “Code” button in the Code tab of all supported repositories.",
    },
    {
      question: "Is Codespaces available for all repositories?",
      answer: "While in limited beta, Codespaces will be available for repositories you own and public repositories. Additional support will be available as the beta progresses, but for now, Codespaces will not be available for private repositories that belong to organizations.",
    },
    {
      question: "Can I leave a codespace open?",
      answer: "When you create a codespace, you can leave it open for as long as you wish but it will suspend automatically after 30 minutes of inactivity. You can reconnect at any time through Codespaces in the browser or VS Code.",
    },
    {
      question: "What if I don’t want to develop in a browser?",
      answer: "If you prefer, you can open a codespace in GitHub and then <a href='https://marketplace.visualstudio.com/items?itemName=ms-vsonline.vsonline'>connect to it in VS Code</a>.",
    },
    {
      question: "How much does Codespaces cost?",
      answer: "Pricing for Codespaces has not yet been finalized. Code-editing functionality in GitHub will always be free. We plan to offer simple pay-as-you-go pricing for Codespaces cloud environments. Codespaces is free during the limited beta.",
    },
    {
      question: "How is Codespaces different from VS Code?",
      answer: 'Codespaces sets up a cloud-hosted, containerized, and customizable VS Code environment. After set up, you can connect to a codespace through the browser or through VS Code.',
    },
    {
      question: "How can I configure a codespace?",
      answer: "Inside of a codespace, you’ll have access to the <a href='https://marketplace.visualstudio.com/vscode'>Visual Studio Code Marketplace</a>, and you can preload any extensions you want loaded at launch using a <a href='#{GitHub.help_url}/en/github/developing-online-with-github-codespaces/configuring-github-codespaces-for-your-project'>devcontainer configuration file</a>. You can also <a href='#{GitHub.help_url}/en/github/developing-online-with-github-codespaces/personalizing-github-codespaces-for-your-account'>personalize your codespace</a> by pulling in dotfiles.",
    },
  ]
%>

<div class="bg-gray pt-6-fluid pb-2-fluid" id="faq">
  <div class="container-xl mx-auto p-responsive-fluid text-left">
    <div class="d-md-flex flex-wrap gutter-fluid my-6-fluid flex-justify-center">

      <% faqs.each_with_index do |faq, i| %>
        <div class="d-flex col-md-5 pb-6-fluid">
          <div class="d-flex flex-column p-3-fluid p-md-5-fluid width-full">
            <h3 class="h3-mktg-fluid mb-3-fluid"><%= faq[:question] %></h3>
            <p class="text-gray-light f4-mktg-fluid"><%= raw faq[:answer] %></p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
