<div class="position-relative pt-8 pb-6 pt-md-10 pb-md-12">
  <div class="pattern-container position-absolute z-n1 width-full left-0 overflow-hidden" style="top: -50px;">
    <div class="container-xl position-relative height-full">
      <img alt="" class="codespaces-bg-pattern position-absolute top-0" src="<%= image_path "modules/site/codespaces/code-bg.svg" %>" style="left: -190px;">
    </div>
  </div>
  <div class="container-xl text-center text-md-left d-flex flex-column flex-md-row flex-wrap flex-md-nowrap py-5-fluid flex-justify-center flex-items-center section-codespaces-code target-codespaces-code">
    <div class="codespaces-feature-illustration col-12 col-md-6 mr-md-5-fluid position-relative">
      <div class="codespaces-code-window mx-auto col-10 box-shadow-mktg-xl rounded-2 overflow-hidden">
        <%= render "site/codespaces/browser_chrome" %>
        <video class="codespaces-hero-video js-codespaces-hero-video bg-white d-block width-full" alt="codespaces demo" muted loop autoplay playsinline poster="<%= image_path "modules/site/codespaces/code.png" %>">
          <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/codespaces/code.hevc.mp4" %>">
          <source type="video/mp4; codecs=av01.0.05M.08,opus" src="<%= image_path "modules/site/codespaces/code.av1.mp4" %>">
          <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/codespaces/code.h264.mp4" %>">
        </video>
      </div>
      <img src="<%= image_path "modules/site/codespaces/code-zoom.png" %>" class="position-absolute  codespaces-code-zoom js-codespaces-code-zoom circle box-shadow-mktg-xl" alt="Debugging icon in codespaces" loading="lazy">
      <img src="<%= image_path "modules/site/codespaces/code-explore-zoom.png" %>" class="position-absolute codespaces-code-explore-zoom js-codespaces-code-explore-zoom circle box-shadow-mktg-xl" alt="Debugging icon in codespaces" loading="lazy">
    </div>
    <div class="codespaces-code-text col-12 col-md-5 px-3 px-md-0 mt-3 mb-4 mb-md-0 d-flex flex-column flex-justify-center">
      <h4 class="h2-mktg-fluid mb-3-fluid">Code without compromise</h4>
      <p class="text-gray f3-mktg-fluid">Code, build, test, debug, and deploy with a complete development environment in your&nbsp;browser.</p>
    </div>
  </div>
</div>

<div class="position-relative py-6 pt-md-12 pb-md-12">
  <div class="pattern-container position-absolute z-n1 width-full top-0 left-0 overflow-hidden">
    <div class="container-xl position-relative height-full">
      <img alt="" class="codespaces-bg-pattern position-absolute top-0" style="right: -220px" src="<%= image_path "modules/site/codespaces/workflow-bg.svg" %>" loading="lazy">
    </div>
  </div>
  <div class="container-xl text-center text-md-left d-flex flex-md-row flex-wrap flex-md-nowrap pb-5-fluid flex-justify-center flex-items-center section-codespaces-simplify target-codespaces-simplify animate-codespaces-simplify">
    <div class="codespaces-simplify-text col-12 col-md-4 px-3 px-md-0 mt-3 mb-4 mb-md-0 d-flex flex-column flex-justify-center">
      <h4 class="h2-mktg-fluid mb-3-fluid">Simplify your workflow</h4>
      <p class="text-gray f3-mktg-fluid">Automatically set up dependencies and SSH keys. Go from code to commit faster on any&nbsp;project.</p>
    </div>
    <div class="codespaces-feature-illustration col-12 col-md-5 position-relative text-left">
      <div class="position-relative">
        <img src="<%= image_path "modules/site/codespaces/workflow-view.png" %>" class="col-7 box-shadow-mktg-xl codespaces-illo-source-control d-block mx-auto position-relative" alt="codespaces source control" loading="lazy">
        <div class="position-absolute f5-mktg-fluid codespaces-illo-commit-msg js-codespaces-illo-commit-msg"></div>
      </div>
      <div class="col-6 position-absolute js-codespaces-notif codespaces-notif" style="top: 40%; right: 30px;">
        <div class="codespaces-notif-message width-full position-relative">
          <img src="<%= image_path "modules/site/codespaces/commit-workflow.png" %>" class="rounded-2 box-shadow-mktg-xl d-block width-full" alt="codespaces source control" loading="lazy">
          <div class="codespaces-notif-hash js-codespaces-notif-hash position-absolute text-mono f6-mktg-fluid">c0d3sp5</div>
        </div>
        <img src="<%= image_path "modules/site/codespaces/workflow-commit-icon.png" %>" class="position-absolute circle box-shadow-mktg-xl codespaces-notif-icon" alt="Commit icon" style="top: -24px; right: -24px;" width="48" loading="lazy">
      </div>
    </div>
  </div>
</div>

<div class="position-relative pt-6 pb-10 pt-md-12 pb-md-12">
  <div class="pattern-container position-absolute z-n1 width-full top-0 left-0 overflow-hidden">
    <div class="container-xl position-relative height-full">
      <img alt="" class="codespaces-bg-pattern position-absolute" style="left: -100px; top: 40px;" src="<%= image_path "modules/site/codespaces/extensions-bg.svg" %>" loading="lazy">
    </div>
  </div>
  <div class="container-xl text-center text-md-left d-flex flex-column flex-md-row flex-wrap flex-md-nowrap py-5-fluid flex-justify-center flex-items-center section-codespaces-extensions target-codespaces-extensions">
    <div class="codespaces-feature-illustration col-12 col-md-6 mr-md-5 ml-md-5">
      <div class="width-full position-relative">
        <img src="<%= image_path "modules/site/codespaces/extensions-1.png" %>" class="codespaces-extensions-window col-10 mx-auto d-block box-shadow-mktg-xl rounded-2 position-relative" alt="codespaces source control" style="right: -20px;" loading="lazy">
        <img src="<%= image_path "modules/site/codespaces/extensions-2.png" %>" class="codespaces-extensions-view col-5 position-absolute box-shadow-mktg-xl rounded-1 top-0 bottom-0" style="left: 20px;" alt="codespaces extensions list" loading="lazy">

        <div class="codespaces-extension-container codespaces-extension-1 position-absolute">
          <img alt="Workspace extension" class="circle width-full box-shadow-mktg-xl codespaces-extension" src="<%= image_path "modules/site/codespaces/extension-1.png" %>" loading="lazy">
        </div>
        <div class="codespaces-extension-container codespaces-extension-2 position-absolute">
          <img alt="Workspace extension" class="circle width-full box-shadow-mktg-xl codespaces-extension" src="<%= image_path "modules/site/codespaces/extension-2.png" %>" loading="lazy">
        </div>
        <div class="codespaces-extension-container codespaces-extension-3 position-absolute">
          <img alt="Workspace extension" class="circle width-full box-shadow-mktg-xl codespaces-extension" src="<%= image_path "modules/site/codespaces/extension-3.png" %>" loading="lazy">
        </div>
        <div class="codespaces-extension-container codespaces-extension-4 position-absolute">
          <img alt="Workspace extension" class="circle width-full box-shadow-mktg-xl codespaces-extension" src="<%= image_path "modules/site/codespaces/extension-4.png" %>" loading="lazy">
        </div>
      </div>
    </div>
    <div class="codespaces-extensions-text col-12 col-md-4 px-3 px-md-0 mt-3 mb-6 mb-sm-8 mb-md-0 d-flex flex-column flex-justify-center">
      <h4 class="h2-mktg-fluid mb-3-fluid">Extend and customize</h4>
      <p class="text-gray f3-mktg-fluid">Configure your editor with dotfiles and VS Code extensions to create a consistent environment in every&nbsp;codespace.</p>
    </div>
  </div>
</div>