<%graphql
  fragment PullRequestReviewThread on PullRequestReviewThread {
    id
    databaseId

    path
    discussionDiffResourcePath
    viewerCannotReplyReasons
    viewerCanResolve
    viewerCanUnresolve
    resolveUrl
    unresolveUrl
    isResolved
    resolvedBy {
      login
    }

    pullRequest {
      viewerHasPendingReview
    }

    comments(first: 5, skipIfCollapsed: $deferCollapsedThreads) {
      nodes {
        resourcePath

        ...Views::Comments::ReviewComment::Comment
      }

      totalCount
      pageCount
      pageInfo {
        endCursor
      }
    }

    focusedComment: comments(first: 1, focus: $focusedReviewComment) @include(if: $hasFocusedReviewComment) {
      beforeFocusCount
      afterFocusCount

      pageInfo {
        startCursor
        endCursor
      }

      nodes {
        resourcePath

        ...Views::Comments::ReviewComment::Comment
      }
    }

    lastComments: comments(skip: 5, last: 5, skipIfCollapsed: $deferCollapsedThreads) {
      nodes {
        resourcePath

        ...Views::Comments::ReviewComment::Comment
      }

      pageCount
      pageInfo {
        startCursor
      }
    }

    startLine: originalStartLine
    startLineType
    endLine: originalLine
    endLineType
    areDiffLinesTruncated

    ...Views::PullRequestReviewThreads::DiscussionReplyForm::PullRequestReviewThread
    ...Views::PullRequestReviewThreads::DiffLines::PullRequestReviewThread
  }
%>

<%-
  thread = Views::PullRequestReviewThreads::Discussion::PullRequestReviewThread.new(pull_request_review_thread)

  focused_comment = thread.focused_comment&.nodes&.first
  render_focused_comment = focused_comment &&
    thread.focused_comment.before_focus_count >= thread.comments.page_count &&
    thread.focused_comment.after_focus_count >= thread.last_comments.page_count
-%>
<div class="blob-wrapper border-bottom">
  <table id="<%= thread.discussion_diff_resource_path.fragment %>" class="diff-table<% if soft_wrap?(thread.path) %> soft-wrap<% end %>" data-paste-markdown-skip>
    <%= render "pull_request_review_threads/diff_lines", pull_request_review_thread: thread %>
  </table>
</div>

<div class="js-inline-comments-container <% if thread.start_line.present? %>is-multiline<% end %>">
  <% if thread.start_line.present? %>
    <div class="f6 py-2 px-3 border-bottom d-flex flex-justify-between">
      <%= render partial: "pull_request_review_threads/range_info", locals: {
        start_line: thread.start_line,
        start_line_type: thread.start_line_type,
        end_line: thread.end_line,
        end_line_type: thread.end_line_type,
        diff_lines_truncated: thread.are_diff_lines_truncated
      }
      %>
    </div>
  <% end %>
  <div class="js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body">
    <div class="js-comments-holder">
      <% thread.comments.nodes.each do |comment| %>
        <%= render "comments/review_comment", {
              comment: comment,
              dom_id: comment.resource_path.fragment,
              comment_context: :discussion,
              resolved: thread.is_resolved?
        } %>
      <% end %>

      <% if focused_comment %>
        <% if thread.focused_comment.before_focus_count > 5 %>
          <%= render "pull_request_review_threads/comments_loader", {
                id: thread.id,
                after: thread.comments.page_info.end_cursor,
                before: thread.focused_comment.page_info.start_cursor
          } %>
        <% end %>

        <% if render_focused_comment %>
          <%= render "comments/review_comment", {
                comment: focused_comment,
                dom_id: focused_comment.resource_path.fragment,
                comment_context: :discussion
          } %>
        <% end %>

        <% if thread.focused_comment.after_focus_count > 5 %>
          <%= render "pull_request_review_threads/comments_loader", {
                id: thread.id,
                after: thread.focused_comment.page_info.end_cursor,
                before: thread.last_comments.page_info.start_cursor
          } %>
        <% end %>
      <% elsif thread.comments.total_count > 10 %>
        <%= render "pull_request_review_threads/comments_loader", {
              id: thread.id,
              after: thread.comments.page_info.end_cursor,
              before: thread.last_comments.page_info.start_cursor
        } %>
      <% end %>

      <% thread.last_comments.nodes.each do |comment| %>
        <%= render "comments/review_comment", {
              comment: comment,
              dom_id: comment.resource_path.fragment,
              comment_context: :discussion
        } %>
      <% end %>
    </div>

    <%-
      show_reply_form = thread.viewer_cannot_reply_reasons.empty? &&
                       !thread.pull_request.viewer_has_pending_review?
    -%>
    <% if show_reply_form %>
      <div class="review-thread-reply border-bottom">
        <%= render "pull_request_review_threads/discussion_reply_form", thread: thread %>
      </div>
    <% end %>
  </div>

  <% if thread.viewer_can_resolve? %>
    <%= form_tag thread.resolve_url.path, class: "js-resolvable-timeline-thread-form", method: :put do %>
      <% hydro_tracking = hydro_click_tracking_attributes("resolvable_threads.resolve", { thread_id: thread.database_id, user_id: current_user.id }) %>
      <%= button_tag(type: "submit", class: "btn m-3", data: { "disable-with" => "Resolving conversation…" }.merge(hydro_tracking)) do %>
        Resolve conversation
      <% end %>
    <% end %>
  <% end %>

  <% if thread.viewer_can_unresolve? %>
    <%= form_tag thread.unresolve_url.path, class: "js-resolvable-timeline-thread-form", method: :delete do %>
      <% hydro_tracking = hydro_click_tracking_attributes("resolvable_threads.unresolve", { thread_id: thread.database_id, user_id: current_user.id }) %>
      <%= button_tag(type: "submit", class: "btn m-3", data: { "disable-with" => "Unresolving conversation…" }.merge(hydro_tracking)) do %>
        Unresolve conversation
      <% end %>

      <% if thread.resolved_by %>
        <strong><%= thread.resolved_by.login %></strong> marked this conversation as resolved.
      <% end %>
    <% end %>
  <% end %>
</div>

