<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment PullRequestReviewThread on PullRequestReviewThread {
    currentDiffResourcePath
    originalDiffResourcePath

    firstComment: comments(first: 1) {
      nodes {
        databaseId
        publishedAt

        ...Views::Comments::TimelineAvatar::Comment

        author {
          ...Views::Comments::Actor::Actor
        }
      }
    }

    ...Views::PullRequestReviewThreads::DiscussionShow::PullRequestReviewThread
  }
%>

<%-
  thread = Views::PullRequestReviewThreads::LegacyShow::PullRequestReviewThread.new(thread)
  first_comment = thread.first_comment.nodes.first
-%>
<div id="diff-for-comment-<%= first_comment.database_id %>" class="TimelineItem js-comment">
  <%= render "comments/timeline_avatar", comment: first_comment %>
  <div class="TimelineItem-badge">
    <%= octicon("eye") %>
  </div>
  <div class="TimelineItem-body">
    <strong>
      <%= render "comments/actor", actor: first_comment.author %>
    </strong>

    reviewed

    <a href="#discussion-diff-<%= first_comment.database_id %>" class="link-gray">
      <%= time_ago_in_words_js first_comment.published_at %>
    </a>

    <div class="float-right">
      <%- resource_path = thread.original_diff_resource_path ||
                          thread.current_diff_resource_path -%>
      <% if resource_path %>
        <a class="btn btn-sm btn-outline" href="<%= resource_path %>">View changes</a>
      <% else %>
        <span class="btn btn-sm btn-outline tooltipped tooltipped-multiline tooltipped-s disabled" aria-label="The full changes referenced by this comment are no longer available.">View changes</span>
      <% end %>
    </div>
  </div>
</div>
<div class="TimelineItem pt-0">
  <div class="TimelineItem-body mt-0">
    <div class="ml-4">
      <%= render "pull_request_review_threads/discussion_show", thread: thread %>
    </div>
  </div>
</div>
