<% if start_line.present? || local_assigns[:preview] %>
  <div class="f6 text-gray">
    <% if local_assigns[:preview] %>
      Commenting on lines
    <% else %>
      Comment on lines
    <% end %>
    <%
      if start_line_type == "+"
        start_color = "color-green-6"
      elsif start_line_type == "-"
        start_color = "text-red"
      end

      if end_line_type == "+"
        end_color = "color-green-6"
      elsif end_line_type == "-"
        end_color = "text-red"
      end
    %>

    <span class="js-multi-line-preview-start <%= start_color %>">
      <%= start_line_type %><%= start_line %>
    </span> to <span class="js-multi-line-preview-end <%= end_color %>">
      <%= end_line_type %><%= end_line %>
    </span>

    <% if local_assigns[:diff_lines_truncated] %>
      <span class="text-italic">(Truncated to <%= PullRequestReviewComment::MAX_MULTI_LINE_EXCERPT_LINES %> lines)</span>
    <% end %>
  </div>
<% end %>
