<%graphql
  fragment PullRequestReviewComment on PullRequestReviewComment {
    resourcePath

    ...Views::Comments::ReviewComment::Comment

    thread {
      path
      discussionDiffResourcePath

      ...Views::PullRequestReviewThreads::DiffLines::PullRequestReviewThread
    }
  }
%>
<%-
  pull_request_review_comment = Views::PullRequestReviewThreads::Reply::PullRequestReviewComment.new(pull_request_review_comment)
-%>


<div class="blob-wrapper border-bottom">
  <table id="<%= pull_request_review_comment.thread.discussion_diff_resource_path.fragment %>" class="diff-table<% if soft_wrap?(pull_request_review_comment.thread.path) %> soft-wrap<% end %>" data-paste-markdown-skip>
    <%= render "pull_request_review_threads/diff_lines", pull_request_review_thread: pull_request_review_comment.thread %>
  </table>
</div>

<div class="js-inline-comments-container">
  <div class="js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body">
    <div class="js-comments-holder">
      <%= render "comments/review_comment", {
            comment: pull_request_review_comment,
            dom_id: pull_request_review_comment.resource_path.fragment,
            comment_context: :discussion
      } %>
    </div>
  </div>
</div>
