<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
    :title => "#{this_user} - direct members",
    :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      /
      Direct members
    </h2>
  </div>

  <p>
    Direct members are fully fledged members of an organization, similar to an
    employee of a company.  They can view, create and be members of teams, view
    all other members of the organization, and collaborate on content which they
    have been granted access.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Direct members
    </h2>
  </div>

  <% if users.any? %>
    <table class="site-admin-table">
      <% users.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
            <% role = Organization::Role.new(this_user, user) %>
            <% if role.admin? %>
              Owner
            <% else %>
              <%= link_to pluralize(this_user.teams_for(user).size, "team"),
                            stafftools_user_organization_membership_path(user, this_user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No direct members</p>
  <% end %>
</div>
