<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Organization on Organization {
    pendingCollaboratorInvitations {
      totalCount
    }
  }
%>
<% org = Views::Stafftools::Teams::Index::Organization.new(org)%>
<% page_info title: "#{this_user.login} - Teams" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Members
    </h2>
  </div>

  <table class="site-admin-table">
    <tr>
      <td>
        <%= link_to "Owners", owners_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_admins, "user" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Direct members", members_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_members, "user" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to "Outside collaborators", outside_collaborators_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_outside_collaborators, "user" %>
      </td>
    </tr>
    <% if GitHub.repo_invites_enabled? %>
      <tr>
        <td>
          <%= link_to \
                "Pending collaborators",
                pending_collaborators_stafftools_user_path(this_user) %>
        </td>
        <td class="right-align">
          <%= pluralize org.pending_collaborator_invitations.total_count, "pending collaborators" %>
        </td>
      </tr>
    <% end %>
    <% unless GitHub.bypass_org_invites_enabled? %>
      <tr>
        <td>
          <%= link_to \
                "Pending invitations",
                invitations_stafftools_user_path(this_user) %>
        </td>
        <td class="right-align">
          <%= pluralize num_invitations, "invitation" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to \
                "Invitation opt outs",
                invitation_opt_outs_stafftools_user_path(this_user) %>
        </td>
        <td class="right-align">
          <%= pluralize num_opted_out_invitations, "opt out" %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Teams
    </h2>
  </div>

  <% if teams.empty? %>
    <p class="site-admin-blankstate">
      This organization has no teams.
    </p>
  <% else %>
    <table class="site-admin-table">
      <% teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, gh_stafftools_team_path(team) %>
          </td>
          <td>
            <% if team.legacy_admin? %>
              <span class="tooltipped tooltipped-s"
                    aria-label="Members can create new repositories">
                Legacy admin team
              </span>
            <% end %>
          </td>
          <td>
            <% if team.pending_team_membership_requests.any? %>
              <%= pluralize \
                    team.pending_team_membership_requests.size,
                    "pending request" %>
              to join
            <% end %>
          </td>
          <td class="right-align">
            <% if team.externally_managed? %>
              <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: external groups") do %>
                external groups
              <% end %>
              <%= render Primer::LabelComponent.new(scheme: team.mapping_sync_status_label, title: "Label: #{team.mapping_sync_status}") do %>
                <%= team.mapping_sync_status %>
              <% end %>
            <% end %>
           <td class="right-align">
            <% if team.externally_managed? %>
              <%= form_tag gh_stafftools_sync_team_path(team), method: :put do %>
                <button type="submit" class="btn btn-sm">Sync</button>
              <% end %>
            <% end %>
          </td>
         </td>

          <td class="right-align">
            <%= pluralize team.num_members, "user" %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate teams %>
    </div>
  <% end %>
</div>
