<% page_info \
     :title => "#{this_user.login} - #{this_team.name} team members",
     :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / Members
      <% if current_page_of_members.any? %>
        <clipboard-copy
            class="btn btn-sm zeroclipboard-button float-right"
            value="<%= members_as_copyable_text(all_members) %>"
            aria-label="Copy member list to clipboard">
          <%= octicon("clippy") %>
        </clipboard-copy>
      <% end %>
    </h2>
  </div>

  <% if current_page_of_members.any? %>
    <table class="site-admin-table">
      <% current_page_of_members.each do |member| %>
        <tr>
          <td>
            <%= avatar_for member, 20, class: :avatar %>
            <%= link_to member, stafftools_user_path(member) %>
          </td>
          <td>
            <%= member.profile_name %>
          </td>

          <td class="column-width-sm">
            <% if team_maintainers.include? member %>
              <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: team maintainer") do %>
                team maintainer
              <% end %>
            <% elsif org_admins.include? member %>
              <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: owner") do %>
                owner
              <% end %>
            <% end %>
          </td>

          <td class="column-width-sm">
            <% unless direct_members.include? member %>
              <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: child team member") do %>
                child team member
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate current_page_of_members %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No members</p>
  <% end %>
</div>
