<% page_info \
    :title => "#{this_user} - outside collaborators",
    :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      /
      Outside collaborators
    </h2>
  </div>

  <p>
    Outside collaborators are users that have access to
    this organization’s repositories but are not members of the organization.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Outside collaborators
    </h2>
  </div>

  <% if users.any? %>
    <table class="site-admin-table">
      <% users.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
            <%= pluralize this_user.teams_for(user).size, "team" %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No outside collaborators</p>
  <% end %>
</div>
