<%graphql
  fragment Organization on Organization {
    login
    pendingCollaboratorInvitations(isOccupyingSeat: $isOccupyingSeat, first: $first, after: $after, last: $last, before: $before) {
      totalCount
      edges {
        node {
          email
          invitee {
            login
            avatarUrl(size: 40)
          }
          repository {
            nameWithOwner
            isPrivate
            isFork
            isMirror
          }
        }
      }
      pageInfo {
        ...ApplicationHelper::CursorPaginate
      }
    }
  }
%>
<% org = Views::Stafftools::Teams::PendingCollaborators::Organization.new(org)%>
<% edges = org.pending_collaborator_invitations.edges %>
<% page_info \
     title: "#{org.login} - Pending collaborators",
     selected_link: :org_teams %>
<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">
    <%= link_to "Members", stafftools_user_teams_path(org.login) %>
    / Pending collaborators
  </h2>
</div>
<p>
  These users have pending collaborator invitations for repositories owned by <strong><%= org.login %></strong>.
</p>
<% if view.show_filter? %>
  <div class="mb-1 clearfix">
    <a href="<%= view.filter_link %>" class="text-bold text-gray mt-1 mr-2 float-right">
      <%= view.filter_icon %> <%= view.filter_text %>
    </a>
  </div>
<% end %>
<% if edges.count > 0 %>
  <div class="Box Box--condensed"> 
    <div class="Box-header d-flex flex-items-center">
      <h3 class="Box-title flex-auto">
        <%= view.list_title %>
        <%= render Primer::CounterComponent.new(count: org.pending_collaborator_invitations.total_count, scheme: :gray) %>
      </h3>
      <clipboard-copy value="<%= view.collaborators_json %>" aria-label="Copy to clipboard" class="btn btn-sm">
        <%= octicon("clippy") %>
      </clipboard-copy>
    </div>
    <ul id="pending-collborators-list">
      <% edges.each do |edge| %>
        <% collaborator_invitation = edge.node %>
        <li class="Box-row clearfix">
          <% if collaborator_invitation.email %>
            <%= octicon("mail", height: 20, width: 20, class: "avatar-small text-gray") %>
            <%= collaborator_invitation.email %>
          <% else %>
            <img src="<%= image_path collaborator_invitation.invitee.avatar_url %>" class="<%= avatar_class_names(collaborator_invitation) %> avatar-small" alt="<%= collaborator_invitation.invitee.login %>" width="20" height="20">
            <%= link_to collaborator_invitation.invitee.login, stafftools_user_path(collaborator_invitation.invitee.login) %>
          <% end %>
          <% repo = collaborator_invitation.repository %>
          <div class="float-right">
            <% if repo.is_fork %>
              <%= octicon('repo-forked', :class => 'repo-icon', :'aria-label' => "Forked repository") %>
            <% elsif repo.is_mirror %>
              <%= octicon(repo.is_private ? "lock" : "mirror", :class => 'repo-icon', :'aria-label' => "Repository") %>
            <% else %>
              <%= octicon(repo.is_private ? "lock" : "repo", :class => 'repo-icon', :'aria-label' => "Repository") %>
            <% end %>
            <a href="<%= stafftools_path %>/<%= repo.name_with_owner %>">
              <%= repo.name_with_owner %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="blankslate">
    <p><%= view.blankslate_text %></p>
  </div>
<% end %>

<div class="paginate-container">
  <%= cursor_paginate(org.pending_collaborator_invitations.page_info, previous_label: "Previous", next_label: "Next") %>
</div>
