<% page_info \
     title: "#{this_user.login} - #{this_team.name} team repositories",
     selected_link: :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / Repositories
    </h2>
  </div>

  <% if repos.any? %>
    <table class="site-admin-table">
      <% repos.each do |repo| %>
        <tr>
          <td class="repo-name">
            <%= octicon(repo.repo_type_icon) %>
            <%= link_to gh_stafftools_repository_path(repo) do %>
              <%= repo.name_with_owner %>
              <%= "(DELETED)" unless repo.active? %>
            <% end %>
          </td>
          <td>
            <% if repo.fork? %>
              <% if repo.parent.nil? %>
                Fork parent missing
              <% else %>
                Forked from <%= repo.parent.name_with_owner %>
              <% end %>
            <% end %>
          </td>

          <td class="column-width-xs">
            <% if repo.is_inherited  %>
              <%= render Primer::LabelComponent.new(scheme: :gray, title: "Permissions inherited from the #{repo.ability_origin} team") do %>
                inherited
              <% end %>
            <% end %>
          </td>

          <td class="column-width-xs">
            <%= render Primer::LabelComponent.new(scheme: :gray, title: "Label: #{repo.ability.action}") do %>
              <%= repo.ability.action %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate repos %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      This team does not have access to any repositories.
    </p>
  <% end %>
</div>
