<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::TeamView.new(:team => this_team, :page => params[:page]) %>

<% page_info \
     :title => "#{this_user.login} - #{this_team.name} team",
     :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= this_team.name %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Privacy
        </th>
        <td>
          <%= this_team.privacy %>
        </td>
      </tr>
      <tr>
        <th>
          Legacy permission
        </th>
        <td>
          <%= this_team.permission %>
        </td>
      </tr>
      <tr>
        <th>
          Members
        </th>
        <td>
          <%= link_to gh_members_stafftools_team_path(this_team) do %>
            <%= pluralize num_members, "member" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Join requests
        </th>
        <td>
          <%= link_to gh_requests_stafftools_team_path(this_team) do %>
            <%= pluralize num_requests, "join request" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Repositories
        </th>
        <td>
          <%= link_to gh_repositories_stafftools_team_path(this_team) do %>
            <%= pluralize num_repos, "repository" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Ancestry
        </th>
        <td>
          /
          <% ancestors.each do |ancestor| %>
            <%= link_to ancestor.name, gh_stafftools_team_path(ancestor) %>
            /
          <% end %>
          <%= this_team.name %>
        </td>
      </tr>
      <tr>
        <th>
          Child Teams
        </th>
        <td>
          <%= link_to gh_child_teams_stafftools_team_path(this_team) do %>
            <%= pluralize child_teams_count, "child team", "child teams" %>
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to \
          "View database record",
          gh_database_stafftools_team_path(this_team),
          class: "more" %>
  </div>

  <% unless GitHub.enterprise? %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        Team Synchronization
      </h2>
    </div>
    <% if this_team.externally_managed? %>
      <% group_mapping = this_team.group_mappings.take %>
      <div class="site-admin-table">
        <table>
          <tr>
            <th>
              External Groups
            </th>
            <td>
              <%= link_to gh_external_groups_stafftools_team_path(this_team) do %>
                <%= pluralize external_groups_count, "external group", "external groups" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              Status
            </th>
            <td>
              <%= link_to splunk_search_url(%Q!index=catchall app=group-syncer team_id="#{this_team.global_relay_id}"!), target: "_blank", rel: "noopener noreferrer" do %>
                <%= group_mapping&.status %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>
              Synced At
            </th>
            <td>
              <%= group_mapping&.synced_at %>
            </td>
        </table>
    <% else %>
      <p class="site-admin-blankstate">No external groups</p>
    <% end %>
    </div>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <%= render_partial_view \
        "stafftools/users/ldap_sync",
        Stafftools::User::TeamSyncView,
        user: this_user,
        subject: this_team %>
</div>
