<%= render Primer::SubheadComponent.new(spacious: true, mb: 3) do |component| %>
  <% component.slot(:heading, font_size: 3) do %><%= title %><% end %>
  <% if block_given? %>
    <% component.slot(:actions) do %>
      <%= yield %>
    <% end %>
  <% end %>
<% end %>
