<% plan = GitHub::Plan.free %>

<% unlimited_icon = capture do %>
  <%= svg("modules/signup/infinity.svg", width: "16", height: "16", class: "mt-2 mr-2") %>
<% end %>

<%= render partial: "shared/plan_selection", locals: {
    plan_display_name: plan.titleized_display_name,
    price: money(plan.cost_in_cents, "USD"),
    plan_description: "The basics of GitHub for every developer",
    plan_name: plan.name,
    price_subtitle: "per month",
    selection_text: "Choose #{plan.titleized_display_name}",
    features: [["Unlimited repositories", unlimited_icon], ["Unlimited collaborators", unlimited_icon], "2,000 Action minutes/month", "500MB of GitHub Packages", "Dependabot security updates"],
    data: {ga_click: "Signup funnel plan selection, click,#{referral_labels("text: Choose Free; meta: user_id: #{current_user&.analytics_tracking_id};")}"}
  }
%>
