<div class="m-1">
  <div class="mb-1 <%= "text-red" if logged_in? %>"><%= error_message %>
  <% unless GitHub.enterprise? %>
    <% if logged_in? && error_message.include?(User::NOT_UNIQUE_LOGIN_MESSAGE) %>
      Please choose another. To submit a trademark claim, please see our <a href="<%= GitHub.help_url %>/articles/github-trademark-policy/" target="_blank">Trademark Policy</a>.
    <% end %>
  <% end %>
  </div>
  <% if suggested_usernames.present? %>
    <div class="js-suggested-usernames-container <%= "text-gray" if source == "homepage"%>">
      <% suggested_usernames.each_with_index do |suggestion, i| %>
        <%= "or" if i == suggested_usernames.count - 1 %>
        <span <%= test_selector("suggested-username") %>>
          <%= suggestion %><%= "," if i != suggested_usernames.count - 1 %>
        </span>
        <input type="hidden" class="js-suggested-username" name="suggested_usernames[]" value="<%= suggestion %>">
      <% end %>
      are available.
    </div>
  <% end %>
</div>
