<dl class="form-group <%= signup_form_group_class %>" <%= test_selector("signup-form-marketing-opt-in")%>>
  <dt class="input-label mb-n2">
    <label>Email preferences</label>
  </dt>
  <dd>
    <div class="form-checkbox">
      <label class="text-normal mt-2 text-gray" data-ga-click="Sign up, send email">
        <%= check_box_tag "all_emails", true, user_can_opt_out_consent?, "data-ga-click" => "Signup funnel entrance, click, select checkbox marketing opt-in"%>
        Send me occasional product updates, announcements, and offers.
      </label>
    </div>
  </dd>
</dl>
