<div class="mb-7" <%= test_selector("plan-summary-#{plan.name}") %>>
  <%= render partial: "signup/billing_heading", locals: { title: "Monthly subscription" } %>

  <div class="d-flex mt-6">
    <div class="col-8 pr-4">
      <%= signup_plan_summary_subhead("Plan") %>
      <%= plan.titleized_display_name %>
    </div>
    <div class="col-4">
      <%= signup_plan_summary_subhead("Price / month") %>
      <div><%= money(plan.cost_in_cents, "USD") %></div>

      <div class="mt-6">
        <%= signup_plan_summary_subhead("Total") %>
        <div class="text-bold"><%= money(plan.cost_in_cents, "USD") %></div>
      </div>
    </div>
  </div>
</div>
