<%# view is an instance of Signup::CustomizeView %>
<% page_info \
    container_xl: true
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<div class="py-3 px-4 border-bottom">
  Selected plan: <%= current_user.plan.titleized_display_name %>
</div>

<%= render layout: "signup/container",
  locals: {
    title: "Welcome to GitHub",
    description: "Woohoo! You've joined millions of developers who are doing their best work on GitHub. Tell us what you're interested in. We'll help you get there."
  } do %>
  <div class="user-identification-questions redesign">
    <%= form_tag user_identification_survey_response_path, :class => "setup-form" do %>
      <% view.questions.each do |question| %>
        <div <%= test_selector("signup-survey-question")%>>
          <% if question.multiple_choice? %>
            <fieldset class="clearfix mb-7 ml-n2 mr-n2 js-question">
              <h3 class="mb-4 ml-2">
                <%= survey_question_text(question) %>
                <% if question.accept_multiple_answers? %>
                  <div class="f5 text-gray text-normal">
                    <%= multiple_answer_description(question) %>
                  </div>
                <% end %>
              </h3>
              <div class="response-group">
                <% question.choices.each do |choice| %>
                  <% next if hide_survey_choice?(choice) %>
                  <div class="js-answer float-left <%= survey_question_classes(question) %>">
                    <%= label_tag "answers_#{question.id}_choice_#{choice.id}" do %>
                      <%= survey_selection_tag_for_question_and_choice(question, choice) %>
                      <div style="<%= survey_question_styles(question) %>" class="hx_focus-target d-flex flex-column flex-justify-center flex-items-center border border-black-fade bg-white rounded-1 m-2 p-2 text-center position-relative cursor-pointer js-answer-choice">
                        <% if title = survey_choice_title(choice) %>
                          <h4 class="text-blue text-normal"><%= title %></h4>
                        <% end %>

                        <div>
                          <%= case choice.short_text
                              when "learn_coding"
                                svg "signup/survey/learn-to-code"
                              when "learn_github"
                                svg "signup/survey/learn-git-and-github"
                              when "host_project"
                                svg "signup/survey/host-project"
                              when "github_pages"
                                svg "signup/survey/create-a-website"
                              when "team_collaborate"
                                svg "signup/survey/collaborate-with-team"
                              when "contribute"
                                svg "signup/survey/find-and-contribute"
                              when "school_work"
                                svg "signup/survey/school-work"
                              when "github_api"
                                svg "signup/survey/api"
                              when "other"
                                svg "signup/survey/other"
                              end
                          %>
                        </div>

                        <span class="<%= survey_choice_description_text_class(question) %> text-gray f6">
                          <%= survey_choice_description(choice) %>
                        </span>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <% if question.other_choice && question.short_text == "user_role" %>
              <fieldset class="mt-n3 mb-7 clearfix js-other-input-box" data-other-input-for="<%= question.short_text %>" hidden>
                <span class="h4 my-2">
                  How would you best describe your role?
                </span>
                <input type="text" id="question-input-<%= question.id %>" name="answers[<%= question.id %>][other][<%= question.other_choice_id %>]" class="text-mono width-full tag-input-inner form-control d-block p-2 my-2">
              </fieldset>
            <% end %>
          <% else %>
            <fieldset class="mb-8 clearfix">
              <h3>
                <label for="question-input-<%= question.id %>" class="d-block"><%= survey_question_text(question) %></label>
              </h3>
              <div class="mt-2 response-group">

                <div class="topic-input-container js-tag-input-container">
                  <div class="p-0 js-tag-input-wrapper clearfix position-relative">
                    <ul class="js-tag-input-selected-tags">
                      <li class="d-none topic-tag-action f6 js-tag-input-tag js-template">
                        <span class="js-placeholder-tag-name"></span>
                        <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                          <%= octicon "x", height: "12px", "aria-label": "Remove topic" %>
                        </button>
                        <input type="hidden" name="answers[<%= question.id %>][selections][]" class="js-topic-input" value="">
                      </li>
                    </ul>

                  <auto-complete src="<%= user_identification_survey_response_autocomplete_path %>" for="tag-popup">
                    <input type="text" id="question-input-<%= question.id %>" class="text-mono width-full tag-input-inner form-control d-block p-2 my-2" autocomplete="off" placeholder="languages, frameworks, industries">
                    <ul class="suggester border width-full bg-white left-0 mt-0 position-absolute overflow-auto" id="tag-popup" style="top: 100%; max-height: 200px;"></ul>
                  </auto-complete>

                    <%= hidden_field_tag "answers[#{question.id}][choice]", question.other_choice_id %>
                  </div>
                </div>

                <p class="note">We'll connect you with communities and projects that fit your interests.</p>
                <p class="note">
                  For example:

                  <% view.example_topics.each do |topic| %>
                    <span class="d-inline-block mr-1 text-mono bg-gray p-1 rounded-1"><%= topic %></span>
                  <% end %>
                </p>
              </div>
            </fieldset>
          <% end %>
        </div>
      <% end %>

      <%= render partial: "signup/button", locals: {
        text: "Complete setup",
        type: "submit",
        disabled_with: "Completing setup",
        data: {ga_click: "User identification, survey submit" }.merge(test_selector_hash("signup-survey-submit"))
      } %>
    <% end %>
  </div>
<% end %>
