<%
page_info container_xl: true
container_class = "container-xl"
container_locals = {}

unless mobile?
  container_locals[:subtitle] = "Choose a plan"
  container_locals[:container_class] = container_class
  container_locals[:yield_container_class] = container_class
end
%>

<%= render layout: "signup/container", locals: container_locals do %>
  <%= form_for :customer, url: select_plan_path, html: { autocomplete: "off" } do |f| %>
    <div class="mb-6">
      <div class="d-flex d-md-none flex-items-center flex-column">
        <%= render partial: "signup/plan_toggle_mobile" %>

        <div class="js-plan-card-section">
          <%= render partial: "signup/plan_cards" %>
        </div>

        <div class="js-plan-card-section" hidden>
          <%= render partial: "organizations/signup/plans", locals: {
            free_pricing_model: free_pricing_model,
            business_pricing_model: business_pricing_model,
            business_plus_pricing_model: business_plus_pricing_model
          } %>
        </div>
      </div>
      <tab-container class="subnav d-none d-md-flex flex-items-center flex-column mt-md-n6">
        <%= render partial: "signup/plan_toggle" %>

        <div role="tabpanel">
          <%= render partial: "signup/plan_cards" %>
        </div>

        <div role="tabpanel" hidden>
          <%= render partial: "organizations/signup/plans", locals: {
            free_pricing_model: free_pricing_model,
            business_pricing_model: business_pricing_model,
            business_plus_pricing_model: business_plus_pricing_model
          } %>
        </div>
      </tab-container>
    </div>
  <% end %>
<% end %>
