<%# erblint:disable ProperTagNesting %>
<details class="details-reset details-overlay details-overlay-dark">
  <summary class="btn btn-primary"
           data-hashchange-activated="reattribute_mannequin">
    Reattribute
  </summary>
  <details-dialog class="anim-fade-in fast Box p-6 Box-overlay--wide">
    <button class="btn-octicon position-absolute right-0 top-0 p-4"
            type="button"
            aria-label="Close dialog"
            data-close-dialog>
      <%= octicon "x" %>
    </button>
    <div class="text-center">
      <%= octicon('organization', height: 32, class: 'text-gray-light') %>
      <h1 class="add-to-org-title">
        Reattribute <%= mannequin.source_login %>'s contributions
      </h1>
      <%= form_tag create_org_attribution_invitation_path(current_organization) do %>
        <%= hidden_field_tag :source_login, mannequin.login, id: "source-#{mannequin.login}" %>
        <div class="input-group mt-3">
          <%= render "settings/organization/import_export/target_auto_complete" %>
          <div class="input-group-button">
            <button type="submit"
                    class="btn btn-primary js-auto-complete-button">
              Invite
            </button>
          </div>
        </div>
      <% end %>
  </details-dialog>
</details>
