<%
    page_info responsive: false, title: "Import/Export",
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true,
    selected_link: :organization_import_export_settings
  %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render layout: "settings/organization/import_export/layout" do %>
    <p class="mt-3 mb-3">
    Mannequins represent users from other source control systems from which metadata
    has been imported. They do not have profile pages and cannot log in, but if
    you'd like to reattribute a mannequin's contributions to a user currently in
    your organization, you can click the "Reattribute" button on any mannequin's row.
    </p>

    <% if mannequins.any? %>
      <div>
        <table class="Box width-full">
          <thead class="Box-header">
            <tr>
              <th class="Box-title text-left border-bottom p-3">Source Login</th>
              <th class="Box-title text-left border-bottom p-3">Source Email</th>
              <th class="Box-title text-left border-bottom p-3"></th>
            </tr>
          </thead>
          <tbody>
            <% mannequins.each do |mannequin| %>
              <%= render "settings/organization/import_export/mannequin_row", mannequin: mannequin %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if mannequins.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate mannequins %>
        </div>
      <% end %>
    <% else %>
      <div class="blankslate blankslate-large">
        There are no mannequins in this organization
      </div>
    <% end %>
  <% end %>
<% end %>
