<% if diff.timed_out? %>
  <%= render Primer::BlankslateComponent.new(
    icon: "watch",
    title: "Sorry, this diff is taking too long to generate.",
    description: "It may be too large to display on GitHub.",
  ) %>
<% elsif diff.too_busy? %>
  <%= render Primer::BlankslateComponent.new(
    icon: "watch",
    title: "Sorry, this diff is temporarily unavailable due to heavy server load.",
    description: "Please try again later.",
  ) %>
<% elsif diff.corrupt? || diff.missing_commits? %>
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "Sorry, this diff is unavailable.",
    description: "The repository may be missing relevant data.",
    link_text: "Please contact support for more information",
    link_url: contact_path,
  ) %>
<% end %>
