<button type="button" class="btn-octicon js-details-target" aria-label="Toggle diff contents" aria-expanded="true" style="width: 22px;">
  <%= octicon("chevron-down", class: "Details-content--hidden") %>
  <%= octicon("chevron-right", class: "Details-content--shown") %>
</button>
