<%# view is an instance of Diff::ContextPartialView %>
<% last_right = view.right_start %>
<% last_left  = view.left_start %>
<% view.lines.each_with_index do |line, position| %>
  <%
    left = view.left_start + position
    right = view.right_start + position
    last_right = right
    last_left = left
  %>
  <tr class="blob-expanded">
    <% if split_diff? %>
      <td id="<%= view.anchor %>L<%= left %>" class="blob-num js-linkable-line-number" data-line-number="<%= left %>"></td>
      <td class="blob-code blob-code-inner blob-code-marker" data-code-marker=" "><%= line %></td>
      <td id="<%= view.anchor %>R<%= right %>" class="blob-num js-linkable-line-number" data-line-number="<%= right %>"></td>
      <td class="blob-code blob-code-inner blob-code-marker" data-code-marker=" "><%= line %></td>
    <% else %>
      <td id="<%= view.anchor %>L<%= left %>" class="blob-num js-linkable-line-number" data-line-number="<%= left %>"></td>
      <td id="<%= view.anchor %>R<%= right %>" class="blob-num js-linkable-line-number" data-line-number="<%= right %>"></td>
      <td class="blob-code blob-code-inner blob-code-marker " data-code-marker=" "><%= line %></td>
    <% end %>
  </tr>
<% end %>
