<% file_views.each do |file_view| %>
  <%= render :partial => "diff/diff_entry", :locals => {
        :sticky => local_assigns.fetch(:sticky, false),
        :view => file_view,
        :file_list_view => file_list_view,
        :base_repository => base_repository,
        :head_repository => head_repository,
        :disable_render => false } %>
<% end %>

<% if batched_file_list_view.load_more? %>
  <%= render :partial => 'diff/diff_loading', :locals => {
        :sticky => local_assigns.fetch(:sticky, false),
        :file_list_view => file_list_view,
        :base_repository => base_repository,
        :head_repository => head_repository,
        :start_entry => batched_file_list_view.next_start_entry_index } %>
<% end %>
