<%# erblint:counter TooltipCounter 7 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%# view is an instance of Diff::FileView %>
<%
  view.prepare_for_rendering!
  diff = view.diff

  text_only          = local_assigns.fetch(:text_only, false)
  short_path         = params[:short_path]
  diff_blob          = view.diff_blob

  display_rich_diff  = view.toggleable? && short_path && short_path == diff_short_path(diff)
  loadable           = !display_rich_diff && diff.text.blank? && diff.changes > 0

  use_render         = if disable_render
                         false
                       elsif view.toggleable?
                         display_rich_diff && diff_blob.render_file_type_for_display(:diff)
                       else
                         !view.hidden_render_diff? && diff_blob.render_file_type_for_display(:diff)
                        end
  codeowners = if file_list_view.pull.present?
                 codeowner = file_list_view.pull.codeowners.owners_for_path(diff.path)
                 codeowner += [current_user] if file_list_view.pull.codeowners.owned_by?(owner: current_user, path: diff.path)
               end
  filter_owner = logged_in? && (params["owned-by"] || []).include?(current_user.login) && !codeowners
  viewed = view.reviewed?(@pull) && params[:tab] != "commits"

  filtered = file_filtered?(path: diff.path, deleted: diff.deleted?, valid_file_types: file_list_view.valid_file_types, codeowners: filter_owner, viewed: viewed)
  annotations = file_list_view.annotations.path(diff.path)

%>

<% unless text_only %>
<div id="<%= view.anchor %>"
     class="file js-file js-details-container js-targetable-element Details
             <%= ' Details--on open' if !filtered %>
             <%= ' soft-wrap' if soft_wrap?(diff_blob.name) %>
             <%= ' file-type-prose' if view.prose_diff? %>
             <%= ' display-rich-diff' if display_rich_diff %>
             <% if file_list_view.has_comments?(diff) %>has-inline-notes<% end %>
             <% if loadable %>hide-file-notes-toggle<% end %>
             <%= ' show-inline-notes' unless display_rich_diff %>
           "
          <% if file_list_view.pull.present? && codeowners %>
            data-codeowners="<%= codeowners.join(",") %>"
          <% end %>
          <% if viewed %>
            data-file-user-viewed
          <% end %>
          data-file-type="<%= get_file_type(diff.path) %>"
          data-file-deleted="<%= diff.deleted? %>"
      >
  <%
    # NOTE: Unfortunately the file-header div relies heavily on server side string truncation to ensure the path name doesn't overflow.
    # If you are adding child elements to this div make sure to update DiffHelper#diff_file_label to account for the width of the new children.
  %>
  <div class="file-header d-flex <% if responsive? %>flex-md-row flex-column flex-md-items-center<% else %>flex-items-center<% end %> file-header--expandable js-file-header <%= ' sticky-file-header js-position-sticky' if local_assigns.fetch(:sticky, false) %>"
    data-path="<%=h diff.path %>"
    data-short-path="<%= diff_short_path(diff) %>"
    data-anchor="<%= view.anchor %>"
    data-file-type="<%= get_file_type(diff.path) %>"
    data-file-deleted="<%= diff.deleted? %>"
    >
    <div class="file-info flex-auto <% if responsive? %>min-width-0 mb-md-0 mb-2<% end %>">
      <%= render partial: "diff/diff_entry_contents_toggler" %>

      <% if @pull.present? %>
        <%= render partial: "blob/blob_codeowners", locals: { codeowners: @pull.codeowners, path: diff.path } %>
      <% end %>

      <% if view.show_full_diff_bar? %>
        <span class="diffstat tooltipped tooltipped-e" aria-label="<%= diff_file_type(diff) %> file <%= diff.status_label %>">
          <%= diff_label(diff) %>
          <% if view.display_diff_size? %>
            <% diff_size = view.binary_diff_size %>
            <span class="<%= diff_size < 0 ? "text-red" : "text-green" %>">
              <%= diff_size >= 0 ? "+" : "-" %><%= number_to_human_size(diff_size.abs) %>

              <% if view.display_diff_size_percentage?  %>
                (<%= number_to_percentage(view.binary_diff_percentage, precision: 2, significant: true) %>)
              <% end %>
            </span>
          <% else %>
            <% diffstat_block_class = diff.deleted? ? "diffstat-block-deleted" : "diffstat-block-added" %>
            <span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span>
          <% end %>
        </span>
      <% elsif view.simple_rename? %>
        <span class="diffstat tooltipped tooltipped-e">
          <%= diff_label(diff) %>
          <span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span>
        </span>
      <% else %>
        <span class="diffstat tooltipped tooltipped-e" aria-label="<%= pluralize(number_with_delimiter(diff.changes), 'change') %>: <%= pluralize(number_with_delimiter(diff.additions), 'addition') %> &amp; <%= pluralize(number_with_delimiter(diff.deletions), 'deletion') %>"><%= number_with_delimiter diff.changes %> <%= view.formatted_diffstat %></span>
      <% end %>

      <%=
        render partial: "diff/diff_entry_path", locals: {
          full_path_string: diff_file_label(diff, false),
          truncated_path_string: diff_file_label(diff, true, toggleable: view.toggleable?, review_dismissed: view.dismissed?(@pull)),
          path_link_target: "##{diff_file_anchor(diff.path)}",
          test_selector_name: "diff-entry-copy-path",
        }
      %>

      <%= diff_mode_label diff %>
    </div>

    <div class="file-actions pt-0 <% if responsive? %>mb-md-0 mb-2 ml-md-2 flex-shrink-0 flex-md-justify-end<% end %>">
      <div class="d-flex <% if responsive? %>flex-justify-end<% else %>flex-items-stretch<% end %>">
        <% show_comments = capture do %>
          <% unless display_rich_diff %>
            <label role="menuitemradio" class="dropdown-item btn-link text-normal d-block pl-5" tabindex="0" aria-checked="true">
              <span class="position-absolute" style="margin-left: -20px;"><%= octicon("check") %></span>
              <input type="checkbox" checked class="d-none js-toggle-file-notes">
              Show comments
            </label>
          <% end %>
        <% end %>

        <% show_check_annotations = capture do %>
          <% if !display_rich_diff && annotations.any? %>
            <%= render partial: "diff/entry_actions/show_annotations", locals: { non_diff: false, pull_request: @pull, repository: current_repository || file_list_view.repository } %>
          <% end %>
        <% end %>

        <% view_file = capture do %>
          <% if view.display_diff_blob_action_buttons? %>
            <%=
              render partial: "diff/entry_actions/view_file", locals: {
                view_file_path: @pull&.open? ? diff_blob_path(diff) : view.diff_blob_path(base_repository, head_repository),
                test_selector_prefix: "diff-entry",
              }
            %>
          <% end %>
        <% end %>

        <% if !diff.submodule? %>
          <% edit_file = capture do %>
            <% if current_repository %>
              <%=
                render partial: "diff/entry_actions/edit_file", locals: {
                  edit_file_path: @pull ? diff_blob_branch_path(diff, :edit, {pr: gh_show_pull_request_path(@pull)}) : diff_blob_branch_path(diff, :edit),
                  uneditable_type: diff_uneditable_type(diff),
                }
              %>
            <% end %>
          <% end %>

          <% delete_file = capture do %>
            <% if current_repository %>
              <%=
                render partial: "diff/entry_actions/delete_file", locals: {
                  delete_file_path: @pull ? diff_blob_branch_path(diff, :delete, {pr: gh_show_pull_request_path(@pull)}) : diff_blob_branch_path(diff, :delete),
                  uneditable_type: diff_uneditable_type(diff),
                }
              %>
            <% end %>
          <% end %>
        <% end %>

        <% open_desktop = capture do %>
          <%=
            render partial: "diff/entry_actions/open_desktop", locals: {
              path_string: diff.path,
              pull_request: @pull,
            }
          %>
        <% end %>

        <% secret_edit_mode_button = capture do %>
          <% if can_edit_in_secret_edit_mode?(diff) %>
            <a class="pl-5 dropdown-item btn-link"
               role="menuitem"
               href="<%= noodle_workspace_path(current_repository.owner, current_repository, current_ref, diff_file_path(diff)) %>"
               aria-label="Open this file in GitHub Desktop">
               Secret edit mode
            </a>
          <% end %>
        <% end %>

        <% divider_tag = capture do %>
          <div role="none" class="dropdown-divider"></div>
        <% end %>

        <%
          button_groups = [
            [show_comments, show_check_annotations],
            [view_file, edit_file, delete_file, secret_edit_mode_button],
            [open_desktop],
          ].map { |group| group.compact.presence }.compact

          dividers = [divider_tag] * [button_groups.length - 1, 0].max
        %>

        <% if view.toggleable? %>
          <span class="BtnGroup <% if responsive? %>flex-auto<% end %>">
            <%
              if display_rich_diff
                source_selected = false
                rich_selected = true
              else
                source_selected = true
                rich_selected = false
              end
            %>
            <% if !file_list_view.display_diff_ajax_enabled? %>
              <%
                if display_rich_diff
                  source_base = url_with(file_list_view.prose_url_hints.merge(:short_path => nil))
                  rich_base = ""
                else
                  source_base = ""
                  rich_base = url_with(file_list_view.prose_url_hints.merge(:short_path => diff_short_path(diff)))
                end
              %>
              <a class="btn btn-sm BtnGroup-item tooltipped tooltipped-w source<% if source_selected %> selected<% end %>"
                <% if source_selected %>aria-current="true"<% end %>
                 href="<%= source_base %>#<%= view.anchor %>"
                 aria-label="Display the source diff"><%= octicon('code')%></a>
              <a class="btn btn-sm BtnGroup-item tooltipped tooltipped-w rendered<% if rich_selected %> selected<% end %>"
                <% if rich_selected %>aria-current="true"<% end %>
                 href="<%= rich_base %>#<%= view.anchor %>"
                 aria-label="Display the rich diff"><%= octicon('file') %></a>
            <% else %>
              <%
                diffs_paths_options = {
                  :file_list_view => file_list_view,
                  :base_repository => base_repository,
                  :head_repository => head_repository,
                  :entry => view.diff_number,
                  :whitespace => params[:w],
                }
              %>
              <%= form_tag diff_path_for(**diffs_paths_options), :method => "get", :class => "BtnGroup-parent js-prose-diff-toggle-form" do -%>
                <button class="btn btn-sm BtnGroup-item tooltipped tooltipped-w source js-source<% if source_selected %> selected<% end %>"
                  <% if source_selected %>aria-current="true"<% end %>
                        aria-label="Display the source diff" type="submit" data-disable-with>
                        <%= octicon('code')%>
                </button>
              <% end %>
              <%= form_tag diff_path_for(**diffs_paths_options.merge(:short_path => diff_short_path(diff))), :method => "get", :class => "BtnGroup-parent js-prose-diff-toggle-form" do -%>
                <button class="btn btn-sm BtnGroup-item tooltipped tooltipped-w rendered js-rendered<% if rich_selected %> selected<% end %>"
                  <% if rich_selected %>aria-current="true"<% end %>
                        aria-label="Display the rich diff" type="submit" data-disable-with>
                        <%= octicon('file')%>
                </button>
              <% end %>
            <% end %>
          </span>
        <% end %>

        <% if @pull && !@pull.new_record? && params[:tab] != "commits" %>
          <%= render_partial_view("diff/file_review", view.file_review_view(@pull)) %>
        <% end %>

        <details class="js-file-header-dropdown dropdown details-overlay details-reset pr-2 pl-2">
          <summary class="height-full">
            <div class="height-full d-flex flex-items-center link-gray">
              <%= octicon("kebab-horizontal", "aria-label": "Show options") %>
            </div>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark position-absolute f5" style="width:185px; z-index:99; right: -4px;">
            <% button_groups.zip(dividers).flatten.each do |menu_item| %>
              <%= menu_item %>
            <% end %>
          </details-menu>
        </details>
      </div>
    </div>
  </div>
  <div class="js-file-content Details-content--hidden"
    <%= safe_data_attributes(
      hydro_view_tracking_attributes(
        "pull_request.select_diff_range",
        actor_id: current_user&.id,
        pull_request_id: @pull&.id,
        repository_id: @pull&.repository_id,
        diff_type: split_diff? ? "SPLIT" : "UNIFIED",
        whitespace_ignored: diff.whitespace_ignored
      )
    ) %>>
<% end %>
    <% if view.prose_diff? && display_rich_diff %>
      <%= render 'diff/prose', {
            diff: diff,
            diff_blob: diff_blob,
            timeout: 5,
            repository: view.repository,
            prose_url_hints: file_list_view.prose_url_hints
          } %>
    <% end %>
    <% if use_render %>
      <% if diff.similarity == 100 %>
        <div class="data highlight empty">
          <% if diff.renamed? %>
            File renamed without changes
          <% elsif diff.copied? %>
            File copied without changes
          <% end %>
        </div>
      <% elsif diff.deleted? %>
        <div class="data highlight empty">
          Deleted file not rendered
        </div>
      <% else %>
        <%= render "blob/blob_render",
                   display_type: :diff,
                   blob: diff_blob,
                   url: URI.parse(
                     rich_diff_url(
                       diff,
                       diff_blob.render_file_type_for_display(:diff),
                       git_repo: (current_repository || file_list_view.repository),
                       file_view: view,
                       file_list_view: file_list_view,
                     )
                   )
        %>
      <% end %>
    <% elsif diff.submodule? %>
      <%= render_partial_view "diff/submodule", view.submodule_file_view %>
    <% elsif diff.text && !diff.text.empty? %>
      <% if diff.binary? %>
        <div class="data highlight empty">
          Binary file not shown
        </div>
      <% elsif diff.lfs_pointer? %>
        <div class="data highlight empty">
          Git LFS file not shown
        </div>
      <% else %>
        <div class="data highlight js-blob-wrapper<% if display_rich_diff %> Details-content--shown<% end %> <%= "position-absolute width-full height-full" if blob_fullwidth? %>" style="overflow-x: auto">
          <table class="diff-table js-diff-table tab-size <%= 'symlink' if diff.symlink? %> <% if split_diff? %>file-diff-split js-file-diff-split<% end %>" data-tab-size="<%= tab_size(diff.path) %>" data-diff-anchor="<%= view.anchor %>" data-paste-markdown-skip>
            <% if split_diff? %>
              <colgroup>
                <col width="<%= view.diff.col_width %>">
                <col>
                <col width="<%= view.diff.col_width %>">
                <col>
              </colgroup>
            <% elsif soft_wrap?(diff_blob.name) %>
              <colgroup>
                <col width="<%= view.diff.col_width %>">
                <col width="<%= view.diff.col_width %>">
                <col>
              </colgroup>
            <% end %>
            <% diff_mode = split_diff? ? "sidebyside" : "unified" %>
            <% GitHub.dogstats.time("diff", tags: ["action:highlight_words.render_lines", "type:#{diff_mode}"]) do %>
              <% view = create_view_model(Diff::CodeLinesPartialView, {
                :repository => (current_repository || file_list_view.repository),
                :diff_entry => diff,
                :blob => diff_blob,
                :syntax_highlighted_diffs_enabled => syntax_highlighted_diffs_enabled?,
                :commentable => file_list_view.commentable?,
                :bottom_expander => file_list_view.expandable?,
                :expandable => file_list_view.expandable?,
                :threads => file_list_view.threads.path(diff.path),
                :annotations => annotations,
                :in_wiki_context => file_list_view.in_wiki_context,
                :pull_request => file_list_view.pull,
              }) %>

              <% if split_diff? %>
                <%= render 'diff/split_diff_lines', view: view %>
              <% else %>
                <%= render 'diff/diff_lines', view: view %>
              <% end %>
            <% end %>
          </table>
        </div>
      <% end %>
    <% elsif diff.text.blank? %>
      <% if view.render_diff? && view.hidden_render_diff? %>
        <%# Render is disabled or we've exceeded our rendered file limit for this page %>
        <div class="data highlight empty">
          Diff not rendered.
        </div>
      <% elsif diff.binary? %>
        <div class="data highlight empty">
          Binary file not shown.
        </div>
      <% elsif diff.renamed? && diff.changes == 0 %>
        <div class="data highlight empty">
          File renamed without changes.
        </div>
      <% elsif diff.copied? && diff.changes == 0 %>
        <div class="data highlight empty">
          File copied without changes.
        </div>
      <% elsif diff.changes > 0 %>
        <% if file_list_view.progressive? %>
          <div class="js-diff-load-container">
            <include-fragment data-fragment-url="<%= diff_path_for(
              :file_list_view => file_list_view,
              :base_repository => base_repository,
              :head_repository => head_repository,
              :entry => view.diff_number,
              :whitespace => params[:w])
            %>" class="js-diff-entry-loader px-3 py-4 position-relative">
              <% if comments = file_list_view.comments_for(diff.path) %>
                <div>
                  <% comments.each do |comment| %>
                    <div id="diff-with-comment-<%= comment.id %>"></div>
                  <% end %>
                </div>
              <% end %>

              <div data-hide-on-error>
                <svg aria-hidden="true" class="width-full" style="max-width: 340px;" height="84" viewBox="0 0 340 84" xmlns="http://www.w3.org/2000/svg" class="d-block">
                  <path class="js-diff-placeholder" clip-path="url(#diff-placeholder)" d="M0 0h340v84H0z" fill="#eee" fill-rule="evenodd"></path>
                </svg>

                <button type="button" class="load-diff-button btn-link width-full
                  position-absolute top-0 left-0 height-full f4 no-underline js-diff-load" data-disable-with="Loading…" aria-describedby="hidden-diff-reason-<%= view.identifier %>">
                  <div class="text-bold f4 mb-3 js-button-text">Load diff</div>
                </button>
                <% if view.hidden_diff_reason %>
                  <div class="d-flex flex-items-center flex-justify-center position-absolute top-0 left-0 height-full width-full">
                    <p id="hidden-diff-reason-<%= view.identifier %>" class="hidden-diff-reason text-gray-light f6 mt-4 mb-0 text-center">
                      <% case view.hidden_diff_reason %>
                      <% when :too_big %>
                        Large diffs are not rendered by default.
                      <% when :generated %>
                        Some generated files are not rendered by default. <a class="js-ignore-this" href="https://github.com/github/linguist">Learn more</a>.
                      <% when :deleted %>
                        This file was deleted.
                      <% end %>
                    </p>
                  </div>
                <% end %>
              </div>

              <div class="load-diff-retry text-center p-1" data-show-on-error hidden>
                <%= octicon("alert", class: "text-red mr-1") %>
                Oops, something went wrong.
                <button type="button" class="btn-link" data-retry-button>Retry</button>
              </div>
            </include-fragment>
          </div>
        <% else %>
          <div class="data highlight empty">
            <%= pluralize(number_with_delimiter(diff.additions), 'addition') %>,
            <%= pluralize(number_with_delimiter(diff.deletions), 'deletion') %>
            not shown because the diff is too large. Please use a local Git client to view these changes.
          </div>
        <% end %>
      <% elsif diff.mode_changed? %>
        <div class="data highlight empty">
          File mode changed.
        </div>
      <% elsif diff.truncated_reason.present? %>
        <div class="data highlight empty">
          <%= render :partial => "diff/truncated", :locals => { :diff_entry => diff } %>
        </div>
      <% elsif diff.changes == 0 %>
        <div class="data highlight empty">
          <% if diff.whitespace_ignored? %>
            Whitespace-only changes.
          <% else %>
            No changes.
          <% end %>
        </div>
      <% end %>
    <% end %>
<% unless text_only %>

  </div>
</div>
<% end %>
