<%# erblint:counter TooltipCounter 1 %>
<%# view is an instance of Diff::CodeLinesPartialView %>
<% hunk_id = local_assigns[:hunk_id] %>
<tr <% if hunk_id %>data-hunk="<%= hunk_id %>"<% end %>>
  <% if line.type == :addition %>
    <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
  <% else %>
    <td id="<%= view.anchor %>L<%= line.left %>" data-line-number="<%= line.left %>"
        class="blob-num blob-num-<%= line.type %> js-linkable-line-number"></td>
  <% end %>

  <% if line.type == :deletion %>
    <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
  <% else %>
    <td id="<%= view.anchor %>R<%= line.right %>" data-line-number="<%= line.right %>"
        class="blob-num blob-num-<%= line.type %> js-linkable-line-number"></td>
  <% end %>

  <td class="blob-code blob-code-<%=line.type %>">
    <% if view.commentable && !line.injected_context? %>
      <button class="btn-link add-line-comment js-add-line-comment js-add-single-line-comment"
        data-path="<%= view.path %>"
        data-anchor="<%= view.anchor %>"
        data-position="<%= line.position %>"
        data-side="<%= line.deletion? ? 'left' : 'right' %>"
        data-line="<%= line.current %>"
        data-original-line="<%= line.text %>"
        type="button"
        aria-label="Add line comment">
        <%= octicon("plus") %>
      </button>
    <% end %>
    <span class='blob-code-inner blob-code-marker' data-code-marker="<%= view.code_marker_for(line.type) %>"><%= view.highlighted_line(line) %></span><%#
      Eliminate space to fix copy/paste issues. See https://github.com/github/github/pull/95667 for more information.
    %><% if line.nonewline? %>
      <span class="no-nl-marker tooltipped tooltipped-n" aria-label="No newline at end of file">
        <%= octicon('no-newline') %>
      </span>
    <% end %><%#
    %></td>
</tr>
