<%# view is an instance of Diff::DirectionalHunkHeaderView %>
<% if view.expandable? %>
  <tr class="js-expandable-line" data-position="<%= view.position %>">
    <td class="blob-num blob-num-expandable" colspan="2">
      <% if view.condensed_expander? %>
        <a href="#<%= view.anchor %>"
              class="js-expand directional-expander single-expander" title="Expand All" aria-label="Expand All"
              data-url="<%= view.expand_url(direction: :down) %>"
              data-left-range="<%= view.down_left_range %>" data-right-range="<%= view.down_right_range %>">
          <%= octicon('unfold') %>
        </a>
      <% else %>
        <% if view.expandable_down? %>
          <a href="#<%= view.anchor %>"
                class="js-expand directional-expander<%= view.single_expander? ? " single-expander" : "" %>" title="Expand Down" aria-label="Expand Down"
                data-url="<%= view.expand_url(direction: :down) %>"
                data-left-range="<%= view.down_left_range %>" data-right-range="<%= view.down_right_range %>">
            <%= octicon('fold-down') %>
          </a>
        <% end %>
        <% if view.expandable_up? %>
          <a href="#<%= view.anchor %>"
              class="js-expand directional-expander<%= view.single_expander? ? " single-expander" : "" %>" title="Expand Up" aria-label="Expand Up"
              data-url="<%= view.expand_url(direction: :up) %>"
              data-left-range="<%= view.up_left_range %>" data-right-range="<%= view.up_right_range %>">
            <%= octicon('fold-up') %>
          </a>
        <% end %>
      <% end %>
    </td>
    <td class="blob-code blob-code-inner blob-code-hunk"><%= view.header_text %></td>
  </tr>
<% elsif view.lines_elided? || view.first_expander? %>
  <tr data-position="<%= view.position %>">
    <td id="<%= view.anchor %>HL<%= view.left %>" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
    <td id="<%= view.anchor %>HR<%= view.right %>" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
    <td class="blob-code blob-code-inner blob-code-hunk"><%= view.header_text %></td>
  </tr>
<% end %>
