<%# view is an instance of Diff::HunkHeaderPartialView %>
<% if view.expandable? %>
  <tr class="js-expandable-line" data-position="<%= view.position %>">
    <td class="blob-num blob-num-expandable" colspan="2">
      <a href="#<%= view.anchor %>"
            class="diff-expander js-expand" title="Expand" aria-label="Expand"
            data-url="<%= diff_blob_excerpt_url(view.blob_sha, view.path, view.mode, diff: :unified, left_hunk_size: view.left_hunk_size, right_hunk_size: view.right_hunk_size, prev_line_num_left: view.last_left, prev_line_num_right: view.last_right, next_line_num_left: view.left_hunk_start, next_line_num_right: view.right_hunk_start, in_wiki_context: view.in_wiki_context ) %>"
            data-left-range="<%= view.last_left.to_i+1 %>-<%= view.left_hunk_start-1 %>" data-right-range="<%= view.last_right.to_i+1 %>-<%= view.right_hunk_start-1 %>">
        <%= octicon('unfold') %>
      </a>
    </td>
    <td class="blob-code blob-code-inner blob-code-hunk"><%= view.hunk_text %></td>
  </tr>
<% else %>
  <tr data-position="<%= view.position %>">
    <td id="<%= view.anchor %>HL<%= view.left %>" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
    <td id="<%= view.anchor %>HR<%= view.right %>" class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
    <td class="blob-code blob-code-inner blob-code-hunk"><%= view.hunk_text %></td>
  </tr>
<% end %>
