<%
  if current_repository&.show_code_scanning_annotations_ui?(current_user)
    code_scanning_alerts = CodeScanningAlert.results_by_id(
      repository: current_repository,
      annotations: annotations.map(&:id),
    )
  end
%>
<tr class="js-inline-annotations">
  <td class="border-top border-bottom px-2" colspan="3" style="max-width: 0">
    <% annotations.each do |annotation|  %>
      <%= render partial: "diff/inline_annotation", locals: {
            annotation: annotation,
            pull_request: pull_request,
            end_line_text: end_line_text,
            code_scanning_alerts: code_scanning_alerts,
          }
      %>
    <% end %>
  </td>
</tr>
