<% colspan ||= 3 %>
<% type ||= nil %>

<tr class="inline-comments js-inline-comments-container">
  <td class="line-comments <%= type %> js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="<%= colspan %>">
    <%= render :partial => "diff/review_threads", :object => threads %>
  </td>
</tr>
