<%# erblint:counter TooltipCounter 1 %>
<%
  if local_assigns[:code_scanning_alerts].present?
    code_scanning_alert = local_assigns[:code_scanning_alerts][annotation.id]
  end
%>

<div class="Details js-details-container Box position-relative check-annotation check-annotation-<%= annotation.warning_level %> my-2" id="annotation_<%= annotation.id %>">
  <p class="text-small pl-3 my-2">
    <span class="annotation-octicon text-center d-inline-block">
      <% if annotation.warning_level == "failure" %>
        <%= octicon("x", :class => "text-red") %>
      <% elsif annotation.warning_level == "warning" %>
        <%= octicon("alert") %>
      <% else %>
        <%= octicon("info", :class => "text-gray") %>
      <% end %>
    </span>
    <span class="text-gray-light d-inline-block ml-1">
      Check <%= annotation.warning_level %>
      <% if annotation.filename != ".github" %>
        on line <%= annotation.end_line %> in <%= annotation.filename %>
      <% end %>
    </span>
  </p>

  <div class="annotation-actions position-absolute">
    <%
      href = annotation.check_suite&.workflow_run ? workflow_run_path(workflow_run_id: annotation.check_suite.workflow_run.id, pull: pull_request) : annotation.check_run.permalink(pull: pull_request)
      parent_type = annotation.check_suite ? "check suite" : "check run"
    %>
    <a href="<%= href %>" class="tooltipped tooltipped-w d-inline-block ml-2" aria-label="View <%= parent_type %> for this annotation" annotation-skip-pjax>
      <%= octicon("checklist", :class => "text-gray-light") %>
    </a>
  </div>

  <% unless code_scanning_alert.present? %>
    <p class="ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center" <%= test_selector("annotation_app") %>>
      <% parent_name = annotation.check_suite ? annotation.check_suite.workflow_name : annotation.check_run.visible_name %>
      <%= integration_avatar(integration: annotation.github_app, size: 20, class: "#{avatar_class_names(annotation.github_app)} mr-2 flex-shrink-0") %>
        <span class="mr-1 text-bold"> <%= annotation.github_app.name %> </span> / <%= parent_name %>
    </p>

    <p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-center">
      <span class="annotation-title flex-auto pr-2">
        <%= annotation.title %>
      </span>
    </p>

    <div class="py-2 pl-4 ml-3 overflow-scroll">
      <code><pre><%= annotation.message %></pre></code>
    </div>

    <% if annotation.raw_details.present? %>
      <details>
        <summary class="btn btn-sm btn-outline mt-2 mb-3 ml-6">Raw output</summary>
        <div class="border-top py-2 px-3 bg-gray-light overflow-scroll">
          <code>
            <pre><%= annotation.raw_details %></pre>
          </code>
        </div>
      </details>
    <% end %>

    <% if annotation.suggested_change && GitHub.flipper[:suggested_change_in_annotations].enabled?(current_user) %>
      <% deletions, additions = DiffGenerator.new(end_line_text.sub(/\A[+-]/, ""), annotation.suggested_change, annotation.path).generate_diff %>
      <%# TODO: Extract into dedicated partial instead of filter_partial %>
      <%= render partial: "filter_partials/suggested_change", locals: { for_email: false, line_number: annotation.end_line, deletions: deletions, additions: additions } %>
    <% end %>
  <% else %>
    <%= render_partial_view "repos/code_scanning/annotation", RepositoryCodeScanning::AnnotationView, { response: code_scanning_alert, repository: current_repository, pull: pull_request } %>
  <% end %>
</div>
