<%
form_path ||= update_thread_line_comment_path(comment)

view = create_view_model(Comments::ShowView,
  :comment     => comment,
  :repository  => comment.repository,
  :type        => 'commit',
  :action_text => "added a line comment",
  :admin       => can_modify_commit_comment?(comment),
  :form_path   => form_path,
  :dom_id      => diff_comment_id(comment, comment_context),
  :comment_context => comment_context
)

graphql_comment = preloaded_platform_object(comment)
graphql_comment = Views::CommitComments::Thread::Comment.new(graphql_comment)

%>

<%= render partial: "comments/comment", locals: {
      comment: graphql_comment,
      form_path: view.form_path,
      dom_id: view.dom_id,
      action_text: view.action_text,
      comment_context: view.comment_context
    }
%>
