<div class="js-diff-progressive-container">
  <include-fragment src="<%= unchanged_files_with_annotations_path(
    :file_list_view => file_list_view)
  %>" class="diff-progressive-loader js-diff-progressive-loader mb-4 d-flex flex-items-center flex-justify-center"
    <%= test_selector("load-unchanged-files-with-annotations") %>
  >
    <img src="<%= image_path "spinners/octocat-spinner-128.gif" %>" width="64" height="64" alt="" data-hide-on-error>

    <div data-show-on-error hidden>
      <%= octicon("alert", class: "text-red mr-1") %>
      Oops, something went wrong.
      <button type="button" class="btn-link" data-retry-button>Retry</button>
    </div>
  </include-fragment>
</div>
