<div class="file-header js-file-header sticky-file-header js-position-sticky">
  <div class="file-actions">
    <div class="mt-1">

      <% show_check_annotations = capture do %>
        <%= render partial: "diff/entry_actions/show_annotations", locals: { non_diff: true, pull_request: pull_request, repository: repository } %>
      <% end %>

      <% view_file = capture do %>
        <%=
          render partial: "diff/entry_actions/view_file", locals: {
            view_file_path: view.non_diff_blob_path,
            test_selector_prefix: "non-diff-entry",
          }
        %>
      <% end %>

      <% edit_file = capture do %>
        <%=
          render partial: "diff/entry_actions/edit_file", locals: {
            edit_file_path: view.non_diff_blob_branch_path("edit", {pr: gh_show_pull_request_path(pull_request)}),
            uneditable_type: nil,
          }
        %>
      <% end %>

      <% delete_file = capture do %>
        <%=
          render partial: "diff/entry_actions/delete_file", locals: {
            delete_file_path: view.non_diff_blob_branch_path("delete", {pr: gh_show_pull_request_path(pull_request)}),
            uneditable_type: nil,
          }
        %>
      <% end %>

      <% open_desktop = capture do %>
        <%=
          render partial: "diff/entry_actions/open_desktop", locals: {
            path_string: path_string,
            pull_request: pull_request,
          }
        %>
      <% end %>

      <% divider_tag = capture do %>
        <div role="none" class="dropdown-divider"></div>
      <% end %>

      <%
        button_groups = [
          [show_check_annotations],
          [view_file, edit_file, delete_file],
          [open_desktop],
        ].map { |group| group.compact.presence }.compact

        dividers = [divider_tag] * [button_groups.length - 1, 0].max
      %>

      <details class="js-file-header-dropdown dropdown details-overlay details-reset d-inline-block pr-2 pl-2">
        <summary class="btn-link v-align-middle">
          <%= octicon("kebab-horizontal", :class => "text-gray", "aria-label": "Show options") %>
        </summary>
        <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark position-absolute f5" style="width:185px; z-index:99; right: -4px;">
          <% button_groups.zip(dividers).flatten.each do |menu_item| %>
            <%= menu_item %>
          <% end %>
        </details-menu>
      </details>

    </div>
  </div>

  <div class="file-info">
    <%= render partial: "diff/diff_entry_contents_toggler" %>
    <%=
      render partial: "diff/diff_entry_path", locals: {
        full_path_string: path_string,
        truncated_path_string: reverse_truncate(path_string, length: DiffHelper::DIFF_FILE_LABEL_TRUNCATION_LENGTH),
        path_link_target: "##{diff_file_anchor(path_string)}",
        test_selector_name: "non-diff-entry-copy-path",
      }
    %>
  </div>
</div>
