<%
  url_params = Diff::ProseDiffView.to_unsafe_params(params)
                                  .merge(prose_url_hints)
                                  .merge(Diff::ProseDiffView::FOLD_KEY => "expanded", short_path: diff_short_path(diff))
%>

<div class="js-rich-diff rich-diff prose-diff <%= " collapsed" if params[Diff::ProseDiffView::FOLD_KEY] != "expanded" %>">
  <%= rescue_with_timeout_message("Sorry, this diff is taking too long to pre-render.", :timeout => 5) do %>

    <%
        view = Diff::ProseDiffView.new(
          :repository => repository,
          :diff => diff,
          :render_url_base => url_for(url_params),
          :markup_helper => self.method(:markup_blob_content_if_successful),
          :format_helper => self.method(:formatted_blob_content)
        )
    %>

    <% if view.before_blob && view.after_blob && view.large_blobs? %>
      <%= render :partial => "site/timeout",
                 :locals => {
                   :message => "Sorry, we’re unable to render diffs of documents this large.",
                   :style => ""
                 }
      %>
    <% elsif view.before_html.nil? %>
      <%= render :partial => "site/timeout",
                 :locals => {
                   :message => "Sorry... we’re unable to render the document prior to diffing.",
                   :style => ""
                 }
      %>
    <% elsif view.after_html.nil? %>
      <%= render :partial => "site/timeout",
                 :locals => {
                   :message => "We’re unable to render the document prior to diffing, sorry.",
                   :style => ""
                 }
      %>
    <% elsif view.html.nil? %>
      <%= render :partial => "site/timeout",
                 :locals => {
                   :message => "Sorry, we’re unable to render a diff of this document.",
                   :style => ""
                 }
      %>
    <% elsif view.has_visible_changes? %>
      <%= view.html %>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        icon: "alert",
        title: "No visible changes here.",
        classes: "js-warn-no-visible-changes",
      ) do %>
        <p>But you can <span class="js-show-rich-diff show-rich-diff">view the diff</span> anyway.</p>
      <% end %>
      <div class="js-no-rich-changes d-none">
        <%= view.html %>
      </div>
    <% end %>
  <% end %>
</div>
