<%graphql
  fragment ReviewThread on PullRequestReviewThread {
    id
    databaseId
    viewerCanResolve
    viewerCanUnresolve
    isResolved
    resolvedBy {
      login
    }
  }
%>

<%
  graphql_review_thread =
    if GitHub.flipper[:use_review_thread_ar_model].enabled?(review_thread.repository)
      Views::Diff::ReviewThread::ReviewThread.new(preloaded_platform_object(review_thread.activerecord_pull_request_review_thread))
    else
      Views::Diff::ReviewThread::ReviewThread.new(preloaded_platform_object(review_thread))
    end
%>

<div class="js-resolvable-timeline-thread-container" data-resolved="<%= graphql_review_thread.is_resolved? %>">
  <div class="border rounded-1 comment-holder js-line-comments  <%= local_assigns.fetch(:thread_class, "") %>"
    <%= test_selector('review-thread') %>>

    <% if graphql_review_thread.is_resolved? %>
      <div class="bg-gray p-2 js-resolvable-thread-toggler-container clearfix">
        This conversation was marked as resolved
        <% if graphql_review_thread.resolved_by %>
          by <strong><%= graphql_review_thread.resolved_by.login %></strong>
        <% end %>

        <button type="button" class="btn-link float-right text-gray js-resolvable-thread-toggler" aria-expanded="false">
          <%= octicon("unfold", class: "position-relative mr-1") %> Show conversation
        </button>
        <button type="button" class="btn-link float-right text-gray js-resolvable-thread-toggler d-none" aria-expanded="true">
          <%= octicon("fold", class: "position-relative mr-1") %> Hide conversation
        </button>
      </div>
    <% end %>

    <div class="js-resolvable-thread-contents <% if graphql_review_thread.is_resolved? %>d-none<% end %>">
      <div class="js-comments-holder">
        <% review_thread.comments_for(current_user).each.with_index do |comment, i| %>
          <%= render partial: "comments/review_comment", formats: [:html], locals: {
              first_comment: i == 0,
              review_thread: review_thread,
              comment: preloaded_platform_object(comment),
              dom_id: "r#{comment.id}",
              comment_context: :diff,
              resolved: graphql_review_thread.is_resolved?
            } %>
        <% end %>
      </div>

      <% if logged_in? && current_repository.writable? && !review_thread.locked_for?(current_user) %>
        <div class="review-thread-reply pt-2 px-3">
          <%= render :partial => "diff/inline_comment_form", formats: [:html], :locals => {
                :thread => review_thread,
                :comment_context => :diff,
                :replying => true
              } %>

          <% if graphql_review_thread.viewer_can_unresolve? %>
            <div class="bg-white p-2 mt-2 ml-n3 mb-n2 mr-n3 border-top">
              <%= form_tag unresolve_review_thread_path(review_thread.repository.owner, review_thread.repository, review_thread.pull, review_thread.global_relay_id), class: "js-resolvable-timeline-thread-form", method: :delete do %>
                <input type="hidden" name="resolve_partial" value="diff">
                <% hydro_tracking = hydro_click_tracking_attributes("resolvable_threads.unresolve", { thread_id: graphql_review_thread.database_id, user_id: current_user.id }) %>
                <%= button_tag(type: "submit", class: "btn", data: { "disable-with" => "Unresolving conversation…" }.merge(hydro_tracking)) do %>
                  Unresolve conversation
                <% end %>
              <% end %>
            </div>
          <% elsif graphql_review_thread.viewer_can_resolve? %>
            <div class="bg-white p-2 mt-2 ml-n3 mr-n3 mb-n2 border-top">
              <%= form_tag resolve_review_thread_path(review_thread.repository.owner, review_thread.repository, review_thread.pull, review_thread.global_relay_id), class: "js-resolvable-timeline-thread-form", method: :put do %>
                <input type="hidden" name="resolve_partial" value="diff">
                <% hydro_tracking = hydro_click_tracking_attributes("resolvable_threads.resolve", { thread_id: graphql_review_thread.database_id, user_id: current_user.id }) %>
                <%= button_tag(type: "submit", class: "btn", data: { "disable-with" => "Resolving conversation…" }.merge(hydro_tracking)) do %>
                  Resolve conversation
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
