<% review_threads.each_with_index do |review_thread, index| %>
  <% if review_thread.is_a?(DeprecatedPullRequestReviewThread) %>
    <%= render partial: "diff/review_thread", locals: {
      review_thread: review_thread,
      thread_class: index > 0 ? "mt-3" : ""
    } %>
  <% else %>
    <%= render partial: "diff/commit_thread", locals: {
      commit_thread: review_thread,
      thread_class: index > 0 ? "mt-3" : ""
    } %>
  <% end %>
<% end %>

<% if review_threads.last.supports_multiple_threads_per_line? && !review_threads.last.legacy_thread? && logged_in? %>
  <div class="js-line-comments">
    <%= render partial: "diff/inline_comment_form", locals: {
          thread: review_threads.last.clone_without_comments,
          comment_context: :diff
        } %>
  </div>
<% end %>
