<%#
Show inline comment threads on split diffs.

  - A comment thread has a reply form
  - At the end of the thread itself, a "new conversation" form appears

Comments on split diffs can appear in three places:

  - Context lines around the diff lines (ie. lines that have not changed, neither added nor removed lines)
  - Left threads
  - Right threads

This partial is also used to display split diff *commit* comment threads.
%>

<% if left_type == :deletion || right_type == :addition %>
  <tr class="inline-comments js-inline-comments-container">
    <% if left_threads.any? %>
      <% colspan = 2 %>
      <% type = "js-deletion" %>

      <td class="line-comments <%= type %> js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="<%= colspan %>">
        <%= render :partial => "diff/review_threads", :object => left_threads %>
      </td>
    <% else %>
      <td class="blob-num empty-cell js-deletion"></td>
      <td class="empty-cell js-deletion"></td>
    <% end %>

    <% if right_threads.any? %>
      <% colspan = 2 %>
      <% type = "js-addition" %>

      <td class="line-comments <%= type %> js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="<%= colspan %>">
        <%= render :partial => "diff/review_threads", :object => right_threads %>
      </td>
    <% else %>
      <td class="blob-num empty-cell js-addition"></td>
      <td class="empty-cell js-addition"></td>
    <% end %>
  </tr>
<% else # Context lines around diff lines %>
  <tr class="inline-comments js-inline-comments-container">
    <td class="line-comments js-line-comments js-quote-selection-container" data-quote-markdown=".js-comment-body" colspan="4">
      <%= render :partial => "diff/review_threads", :object => left_threads %>
    </td>
  </tr>
<% end %>
