<%# erblint:counter TooltipCounter 2 %>
<% hunk_id = local_assigns[:hunk_id] %>
<tr <% if hunk_id %>data-hunk="<%= hunk_id %>"<% end %>>
  <% if left_line.type && left_line.position %>
    <% js_comment_class = left_line.type == :context ? "js-add-single-line-comment" : "js-add-split-line-comment" %>
    <td class="blob-num blob-num-<%= left_line.type %> js-linkable-line-number"
        id="<%= view.anchor %>L<%= left_line.left %>"
        data-line-number="<%= left_line.left %>"></td>

    <td class="code-review blob-code blob-code-<%= left_line.type %> ">
      <% if view.commentable %>
        <button class="btn-link add-line-comment js-add-line-comment <%= js_comment_class %>"
           data-type="deletion"
           data-path="<%= view.path %>"
           data-anchor="<%= view.anchor %>"
           data-position="<%= left_line.position %>"
           data-original-line="<%= left_line.text %>"
           data-line="<%= left_line.deletion? ? left_line.left : left_line.right %>"
           data-side="<%= left_line.deletion? ? 'left' : 'right' %>"
           type="button" aria-label="Add line comment">
           <%= octicon("plus") %>
         </button>
      <% end %>

      <span class="blob-code-inner blob-code-marker" data-code-marker="<%= code_marker_for(left_line.type) %>"><%= view.highlighted_line(left_line) %></span>

      <% if left_line.nonewline? %>
        <span class="no-nl-marker tooltipped tooltipped-n" aria-label="No newline at end of file">
          <%= octicon('no-newline') %>
        </span>
      <% end %>
    </td>
  <% else %>
    <td class="blob-num blob-num-<%= left_line.type %> empty-cell"></td>
    <td class="blob-code blob-code-<%= left_line.type %> empty-cell"></td>
  <% end %>

  <% if right_line.type && right_line.position %>
    <% js_comment_class = right_line.type == :context ? "js-add-single-line-comment" : "js-add-split-line-comment" %>
    <td class="blob-num blob-num-<%= right_line.type %> js-linkable-line-number"
        id="<%= view.anchor %>R<%= right_line.right %>"
        data-line-number="<%= right_line.right %>"></td>

    <td class="code-review blob-code blob-code-<%= right_line.type %>">
      <% if view.commentable %>
        <button class="btn-link add-line-comment js-add-line-comment <%= js_comment_class %>"
           data-type="addition"
           data-path="<%= view.path %>"
           data-anchor="<%= view.anchor %>"
           data-position="<%= right_line.position %>"
           data-original-line="<%= right_line.text %>"
           data-line="<%= right_line.right %>"
           data-side="right"
           type="button"
           aria-label="Add line comment">
           <%= octicon("plus") %>
         </button>
      <% end %>

      <span class="blob-code-inner blob-code-marker" data-code-marker="<%= code_marker_for(right_line.type) %>"><%= view.highlighted_line(right_line) %></span>

      <% if right_line.nonewline? %>
        <span class="no-nl-marker tooltipped tooltipped-n" aria-label="No newline at end of file">
          <%= octicon('no-newline') %>
        </span>
      <% end %>
    </td>
  <% else %>
    <td class="blob-num blob-num-<%= right_line.type %> empty-cell"></td>
    <td class="blob-code blob-code-<%= right_line.type %> empty-cell"></td>
  <% end %>
</tr>
