<%graphql
  fragment Label on Label {
    color
    description
    nameHTML
  }
%>
<%
  label = Views::Hovercards::IssuesAndPullRequests::Label::Label.new(label)
  show_description = label.description.present?
%>

<span class="IssueLabel d-inline-block mt-1"
      <% if show_description %>title="<%= label.description %>"<% end %>
      style="background-color: #<%= label.color %>">
  <span class="css-truncate css-truncate-target d-inline-block" style="color: #<%= text_color(label.color) %>">
    <%= label.name_html %>
  </span>
</span>
