<%graphql
  fragment Repository on Repository {
    issueOrPullRequest(number: $issue_number) {
      ... on Issue {
        __typename
      }

      ... on PullRequest {
        __typename
      }
    }

    owner {
      ... on Organization {
        name
      }
    }
  }
%>

<%
  repo = Views::Hovercards::IssuesAndPullRequests::IpWhitelisting::Repository.new(repository)
  org = repo.owner
  card_type = repo.issue_or_pull_request.__typename == "Issue" ? "issue" : "pull request"
%>

<div class="p-3" <%= test_selector("issue-ip-whitelisting-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= octicon("shield-lock", height: 36, class: "text-gray") %>
    <div class="ml-3">
      Connect from an allowed IP address to view this
      <%= card_type %> within the <strong><%= org.name %></strong> organization.
   </div>
  </div>
</div>
