<%graphql
  fragment Repository on Repository {
    issueOrPullRequest(number: $issue_number) {
      ... on Issue {
        __typename
      }

      ... on PullRequest {
        __typename
      }
    }

    owner {
      ... on Organization {
        name
        ssoResourcePath
      }
    }
  }
%>

<%
  repo = Views::Hovercards::IssuesAndPullRequests::SSO::Repository.new(repository)
  org = repo.owner
  card_type = repo.issue_or_pull_request.__typename == "Issue" ? "issue" : "pull request"
  sso_url = org_sso_path(path: org.sso_resource_path, return_to: return_to_path)
%>

<div class="p-3" <%= test_selector("issue-sso-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= octicon("shield-lock", height: 36, class: "text-gray") %>
    <div class="ml-3">
      <a class="d-inline-block no-underline" href="<%= sso_url %>">Single sign-on</a>
      to view this <%= card_type %> within the <strong><%= org.name %></strong> organization.
   </div>
  </div>
</div>
