<%graphql
  fragment Issue on Issue {
    id
    databaseId
    number
    websocket: websocket(channel: UPDATED)

    repository {
      nameWithOwner
    }

    timeline: timelineItems(first: 1, visibleEventsOnly: true, itemTypes: $scopedItemTypes) {
      totalCount
    }

    ...Views::Comments::TimelineAvatar::Comment
    ...Views::Comments::Comment::Comment
  }
%>
<%-
  issue = Views::Issues::Body::Issue.new(issue)
  display_scoping_menu = scoped_issue_timeline_enabled? && issue.timeline.total_count > 0
-%>

<div class="TimelineItem pt-0 js-comment-container js-socket-channel js-updatable-content <%= display_scoping_menu ? "pb-0" : "" %>"
  data-gid="<%= issue.id %>"
  data-url="<%= show_node_partial_path(path: "issues/body", id: issue.id) %>"
  data-channel="<%= live_update_view_channel(issue.websocket) %>">

  <%= render "comments/timeline_avatar", comment: issue %>
  <%= render "comments/comment", {
        comment: issue,
        form_path: "/#{issue.repository.name_with_owner}/issues/#{issue.number}",
        dom_id: "issue-#{issue.database_id}",
        action_text: "commented",
  } %>
</div>
