<%
  view ||= Issues::ComposerView.new(issue, current_user)

  title_field_options = {
    class: "input-lg input-block input-contrast required#{' valid' unless f.object.title.blank?} title js-session-resumable js-quick-submit",
    required: true,
    autofocus: true,
    autocomplete: 'off',
    placeholder: 'Title',
    "aria-label": "Title",
    "data-repository-id": issue.repository.global_relay_id
  }
%>

<% if issue.template.present? %>
  <h2 class="border-bottom pb-2 mb-2">Issue: <%= issue.template.name %></h2>
  <p class="mb-3">
    <%= issue.template.about %><%= "." if issue.template.about =~ /\w\z/ %>
    If this doesn’t look right,
    <a href="<%= choose_issue_path(issue.repository.owner, issue.repository) %>">
      choose a different type.
    </a>
  </p>
<% end %>

<div class="timeline-comment-wrapper timeline-new-comment composer composer-responsive">
  <%= timeline_comment_avatar_for(user: current_user, responsive_hidden: responsive?) %>

  <% if User::InteractionAbility.interaction_allowed?(current_user.id, current_repository) %>
    <div class="timeline-comment">
      <div class="discussion-topic-header p-0 p-md-2">
        <%= f.text_field(:title, title_field_options) %>
      </div>

      <%= hidden_field_tag "issue[body_template_name]", issue.body_template_name %>

      <% if view.show_body_errors? %>
        <div class="comment-form-error js-comment-form-error" role="alert">Comment <%= view.body_errors %></div>
      <% end %>

      <%= previewable_comment_form view.issue_body, {
        field_name: "issue[body]",
        textarea_id: "issue_body",
        required: false,
        hide_tip: true,
        session_resumable: issue.template.blank?
      } %>

      <div class="flex-items-center flex-justify-end mx-2 mb-2 px-0 d-none d-md-flex">
        <div class="d-flex flex-items-center flex-auto">
          <a class="tabnav-extra p-0 m-0" href="<%= GitHub.guides_url %>/features/mastering-markdown/" target="_blank" data-ga-click="Markdown Toolbar, click, help">
            <%= octicon("markdown", class: "v-align-bottom") %>
            Styling with Markdown is supported
          </a>
        </div>
        <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>
          Submit new issue
        </button>
      </div>
    </div>
  <% else %>
    <div class="flash flash-warn">
      <%= interaction_ban_copy(current_repository, current_user, "open an issue") %>
    </div>
  <% end %>

  <% if show_contributor_footer? %>
    <%= render partial: "repositories/contributor_footer",
               locals: { ga_click_location: "Issue" } %>
  <% end %>
</div>
