<% if issue.can_be_converted_by?(current_user) %>
  <div class="discussion-sidebar-item border-top-0 mt-0">
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="btn-link text-bold link-gray-dark no-underline">
        <%= octicon("comment-discussion") %>
        Convert to discussion
      </summary>
      <details-dialog class="details-dialog rounded-1 anim-fade-in fast Box Box--overlay" role="dialog" tabindex="-1">
        <%= form_tag convert_issue_path(current_repository.owner, current_repository, issue), class: "full-button", method: :put do %>
          <div class="Box-header">
            <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <%= octicon :x %>
            </button>
            <h3 class="Box-title">
              Convert issue to a discussion
            </h3>
          </div>
          <div class="flash flash-full flash-warn">
            <%= octicon :alert %>
            Warning: this is a destructive action. Once an issue is converted to a discussion, the issue will be deleted.
          </div>
          <div class="Box-body overflow-auto">
            <p>Are you sure you want to convert this issue to a discussion?</p>
            <p>What happens when an issue is converted into a discussion:</p>
            <ul class="ml-3 list-style-none">
              <li>
                <%= octicon :check, class: "text-green" %>
                Title, description, and author will be the same as the issue
              </li>
              <li class="my-1">
                <%= octicon :check, class: "text-green" %>
                Existing links will redirect to the new discussion
              </li>
              <% if issue.comments.any? || issue.reactions.any? %>
                <li class="my-1">
                  <%= octicon :check, class: "text-green" %>
                  All comments and reactions will be the same as the issue
                </li>
              <% end %>
              <li class="my-1">
                <%= octicon :check, class: "text-green" %>
                Bumping will be enabled
              </li>
              <% if issue.milestone || issue.labels.any? %>
                <li class="my-1">
                  <%= octicon :x, class: "text-red" %>
                  Discussions do not have milestones or labels
                </li>
              <% end %>
              <% if issue.assignees.any? %>
                <li class="my-1">
                  <%= octicon :x, class: "text-red" %>
                  Discussions do not have assignees
                </li>
              <% end %>
              <% if issue.projects.any? %>
                <li class="my-1">
                  <%= octicon :x, class: "text-red" %>
                  Discussions cannot be added to projects
                </li>
              <% end %>
            </ul>
            <% if discussion_categories.any? %>
              <p class="mt-2">
                You must choose a category for the discussion to belong to. You
                will be able to change this after the conversion is complete.
              </p>
              <p>
                <%= render "issues/discussion_category_select", discussion_categories: discussion_categories %>
              </p>
            <% end %>
          </div>
          <div class="Box-body" style="border-color: transparent">
            <button type="submit" class="btn btn-block btn-danger" <%= "data-disable-invalid" if discussion_categories.any? %>>
              I understand, convert this issue to a discussion.
            </button>
          </div>
        <% end %>
      </details-dialog>
    </details>
  </div>
<% end %>
