<% view.instrument_ftc_banner_view(is_pull_requests: false) %>

<div class="mb-4 js-notice">
  <pager-flow class="content p-4 text-center rounded-1 border border-gray-light d-block">
    <div class="position-relative">
      <details class="dropdown details-reset text-left details-overlay d-inline-block float-right" data-targets="pager-flow.showOnLastPage" hidden>
        <summary class="btn-link link-gray-dark" aria-haspopup="true">
          Dismiss <span class="dropdown-caret"></span>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px">
          <%= form_tag dismiss_repository_notice_user_path(current_user), :method => :delete, :class => "js-notice-dismiss" do %>
            <input type="hidden" name="notice_name" value="first_time_contributor_issues_banner">
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for this repository only",
                type: "submit",
                class: "btn-link dropdown-item",
                role: "menuitem",
                "data-ga-load": "First-time contributor banner, view:issue; action:view",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::ISSUES,
                  banner_shows_all_issues: false,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "for repo"
                )
              )
            %>
          <% end %>
          <%= form_tag dismiss_notice_path(UserNotice::FIRST_TIME_CONTRIBUTOR_ISSUES_BANNER_NOTICE), :class => "js-notice-dismiss" do %>
            <input type="hidden" name="notice_name" value="first_time_contributor_issues_banner">
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for all repositories",
                type: "submit",
                class: "btn-link dropdown-item",
                role: "menuitem",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::ISSUES,
                  banner_shows_all_issues: false,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "forever"
                )
              )
            %>
          <% end %>
        </details-menu>
      </details>

      <button type="button" class="btn-link right-0 position-absolute top-0" data-targets="pager-flow.hideOnLastPage" data-action="click:pager-flow#next" hidden>Next</button>

      <div class="col-8 mx-auto">
        <% unless view.user_has_any_contributions? %>
          <div data-targets="pager-flow.pages" hidden>
            <%= render partial: "issues/first_time_contributor/no_contributions", locals: { view: view } %>
          </div>
        <% end %>
        <div data-targets="pager-flow.pages">
          <%= render partial: "issues/first_time_contributor/contributing_prompt", locals: { view: view } %>
        </div>
      </div>
    </div>
  </pager-flow>
</div>
