<%graphql
  fragment FormActionFragment on IssueOrPullRequest {
    ... on Issue {
      stateWebsocket: websocket(channel: STATE)
      number
      repository {
        name
        owner {
          login
        }
      }
    }
    ... on PullRequest {
      stateWebsocket: websocket(channel: STATE)
      number
      repository {
        name
        owner {
          login
        }
      }
    }
    ...Issues::FormButtonsView::FormButtonClosable

  }
%>
<%- issue_node = Views::Issues::FormActions::FormActionFragment.new(issue_node) %>
<% if scoped_issue_timeline_enabled? %>
  <% input_value = (defined?(scope_timeline) && scope_timeline) ? "0" : "1" %>
  <input type="hidden" class="js-scope-issue-timeline-input" name="scope_timeline" value="<%= input_value %>">
<% end %>
<div id="partial-new-comment-form-actions"
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(issue_node.state_websocket) %>"
    <% if issue_node.is_a?(PlatformTypes::PullRequest) %>
      data-url="<%= show_partial_pull_request_path(user_id: issue_node.repository.owner.login, repository: issue_node.repository.name, id: issue_node.number, partial: "pull_requests/form_actions") %>"
    <% else %>
      data-url="<%= show_partial_issue_path(user_id: issue_node.repository.owner.login, repository: issue_node.repository.name, id: issue_node.number, partial: "issues/form_actions") %>"
    <% end %>
  >

  <div class="d-flex flex-justify-end">
    <div class="bg-gray-light">
      <% if issue.respond_to?(:closed?) %>
        <%= render "issues/form_buttons", issue: issue, issue_node: issue_node %>
      <% end %>
    </div>
    <div class="bg-gray-light ml-1">
      <button type="submit" class="btn btn-primary" data-disable-with data-disable-invalid>
          Comment
      </button>
    </div>
  </div>
</div>
