<%
  capped ||= false
%>
<div class="blankslate blankslate-spacious blankslate-large border-0<%= ' rounded-top-0' if capped %>">
  <div class="container-md">
    <%= octicon(icon, :height => 40, :class => "blankslate-icon") %>
    <h3><%= title %></h3>
    <p><%= copy %></p>
  </div>
</div>
