<% if current_user_can_push? && current_repository_writable? %>
  <template class="js-label-creation-template">
    <div class="Box-header">
      <h3 class="Box-title">Create new label</h3>
    </div>
    <%= render "issues/sidebar/label_creation_modal", issue: issue %>
  </template>
<% end %>
