<% labels.each do |label| %>
  <%= label_with_description(label, truncate: true, url: gh_label_path(label), data_attrs: { name: label.name },
                             link_classes: "sidebar-labels-style box-shadow-none width-full d-block") %>
<% end %>
