<% view.instrument_maintainer_label_education_banner %>

<div class="mb-4 js-notice">
  <div class="content p-4 text-center rounded-1 border border-gray-light">
    <div class="position-relative">
      <%= form_tag dismiss_notice_path("maintainer_label_education_banner"), :class => "js-notice-dismiss" do %>
        <%= button_tag(
          "Dismiss",
          type: "submit",
          class: "position-absolute top-0 right-0 btn-link text-blue",
          data: view.maintainer_label_education_banner_data_attributes_click_dismiss
        )%>
      <% end %>

      <div class="col-9 mx-auto">
        <h4 class="mb-1">
          Label issues and pull requests for new contributors
        </h4>
        <p style="margin-bottom: 0px;" class="mb-1">
          Now, GitHub will help potential first-time contributors
          <a
            href="<%= contribute_page_path(repository: current_repository.name, user_id: current_repository.owner.login) %>"
            data-ga-click="Explore, go to Contribute, location:Maintainer label education banner"
          >
            discover issues
          </a> labeled with
          <% label = view.repo_good_first_issue_label || Label.default_for(Label::GOOD_FIRST_ISSUE_NAME) %>
          <%= label_with_description(label, data_attrs: view.maintainer_label_education_banner_data_attributes_click_label(label_name: label.name)) %>
        </p>
        <% if view.show_maintainer_label_education_banner_cta? %>
          <%= link_to("Go to Labels", gh_labels_path(view.repo),
            data: view.maintainer_label_education_banner_data_attributes_click_go_to_labels,
            class: "btn btn-outline mt-3"
          )%>
        <% end %>
      </div>
    </div>
  </div>
</div>
