<%
  pulls_only = local_assigns[:pulls_only]
  selected_link = :repo_issues
  if pulls_only
    selected_link = :repo_pulls
  elsif current_page?(labels_path)
    selected_link = :repo_labels
  elsif controller_name == "milestones"
    selected_link = :repo_milestones
  end
%>

<nav class="subnav-links float-left d-flex no-wrap" aria-label="Issue">
  <%= selected_link_to labels_path, highlight: :repo_labels, selected_link: selected_link, class: "subnav-item" do %>
    <%= octicon("tag") %>
    Labels
    <% if local_assigns.has_key? :labels_count %>
      <%= render Primer::CounterComponent.new(count: labels_count, display: responsive? ? ["none", nil, "inline"] : nil, test_selector: "labels-counter") %>
    <% end %>
  <% end %>
  <%= selected_link_to milestones_path, highlight: :repo_milestones, selected_link: selected_link, class: "subnav-item" do %>
    <%= octicon("milestone") %>
    Milestones
    <% if local_assigns.has_key? :milestones_count %>
      <%= render Primer::CounterComponent.new(count: milestones_count, display: responsive? ? ["none", nil, "inline"] : nil, test_selector: "milestones-counter") %>
    <% end %>
  <% end %>
</nav>
