<%
  issue ||= sidebar
  project_cards ||= issue.visible_cards_for(current_user).to_a
%>

<div id="partial-discussion-sidebar"
  class="js-socket-channel js-updatable-content"
  <% if issue.pull_request? %>
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request(issue.pull_request)) %>"
  data-gid="<%= issue.pull_request.global_relay_id %>"
  <% else %>
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue(issue)) %>"
  data-gid="<%= issue.global_relay_id %>"
  <% end %>
  data-url="<%= show_partial_issue_path(:id => issue, :partial => "issues/sidebar") %>"
  data-project-hovercards-enabled>

  <% if pull_request = issue.pull_request %>
    <% if current_repository.pull_request_revisions_enabled? && pull_request.can_mark_ready_for_review?(current_user) && pull_request.author_or_committer?(current_user) && (revisions_count = pull_request.revisions.count) > 0 %>
      <%= render partial: "issues/sidebar/show/ready_for_review", locals: { pull_request: pull_request, revisions_count: revisions_count } %>
    <% end %>

    <%= render :partial => "issues/sidebar/show/reviewers", :locals => {
          :pull_request => pull_request,
          :deferred_content => true
        } %>
  <% end %>
  <% if logged_in? && show_preview_pages_toggle_ui?(current_user, current_repository, issue) %>
      <%= render :partial => "issues/sidebar/show/pages_preview_toggle", :locals => { :issue => issue } %>
  <% end %>

  <%= render :partial => "issues/sidebar/show/assignees", :locals => { :issue => issue } %>
  <% if show_labels_ui?(current_repository) %>
    <%= render :partial => "issues/sidebar/show/labels",    :locals => { :issue => issue } %>
  <% end %>
  <% if show_projects_ui?(current_repository) %>
    <%= render :partial => "issues/sidebar/show/projects",  :locals => { :issue => issue, project_cards: project_cards, show_columns_menu: true } %>
  <% end %>
  <% if show_memexes_ui?(current_repository, issue) %>
    <%= render :partial => "issues/sidebar/show/memexes", locals: { issue: issue } %>
  <% end %>
  <% if show_milestones_ui?(current_repository) %>
    <%= render :partial => "issues/sidebar/show/milestone", :locals => { :issue => issue } %>
  <% end %>
  <% if show_references_ui?(current_repository) %>
    <%= render partial: "issues/sidebar/show/references", locals: { issue: issue } %>
  <% end %>
  <%= render :partial => "issues/subscription",           :locals => { :issue => issue } %>
  <%= render :partial => "issues/participants",           :locals => { :issue => issue } %>
  <%= render :partial => "issues/locking",                :locals => { :issue => issue } %>
  <%= render :partial => "issues/pinning",                :locals => { :issue => issue } %>

  <% if issue.transferrable_by?(current_user) %>
    <%= render partial: "issues/transfer", locals: { issue: issue } %>
  <% end %>

  <% if logged_in? && current_repository.show_discussions? %>
    <%= render "issues/convert_to_discussion", issue: issue,
          discussion_categories: discussion_categories %>
  <% end %>

  <%= render "issues/delete", issue: issue %>

  <% if logged_in? && issue.pull_request&.fork_collab_available_for_user?(current_user) %>
    <div class="discussion-sidebar-item">
      <%= render :partial => "pull_requests/collab", :locals => { :pull_request => issue.pull_request, :use_outer_form => false } %>
    </div>
  <% end %>
</div>
