<%
# This file exists for the sole purpose of rendering comment open/close
# buttons independent of context.
%>
<%graphql
  fragment StateButtonFragment on IssueOrPullRequest {
    ... on Issue {
      stateWebsocket: websocket(channel: STATE)
      number
    }
    ... on PullRequest {
      stateWebsocket: websocket(channel: STATE)
      number
    }
    ...Issues::FormButtonsView::FormButtonClosable
  }
%>
<%
  issue_node = Views::Issues::StateButtonWrapper::StateButtonFragment.new(issue_node)
  issue = local_assigns[:pull].present? ? pull.issue : issue
  url = if issue_node.is_a?(PlatformTypes::PullRequest)
          show_partial_pull_request_path(id: issue_node.number, partial: "pull_requests/state_button_wrapper")
        else
          show_partial_issue_path(id: issue_node.number, partial: "issues/state_button_wrapper")
        end
%>
<div id="issue-state-button-wrapper"
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(issue_node.state_websocket) %>"
    data-url="<%= url %>"
  >
  <%= render "issues/form_buttons", issue: issue, issue_node: issue_node, addl_btn_classes: ["width-full", "mt-2"] %>
</div>
