<% if logged_in? %>
  <div class="discussion-sidebar-item sidebar-notifications">
    <%= render_partial_view(
      'notifications/thread_subscription',
      Notifications::ThreadSubscriptionView,
      thread: issue,
      list: issue.repository,
      display_explanation_text: true
    ) %>
  </div>
<% end %>
