<%graphql
  fragment Issue on Issue {
    id
    websocket(channel: UPDATED)

    ...Views::Timeline::FirstPage::TimelineOwner

    timeline: timelineItems(first: 1, visibleEventsOnly: true, itemTypes: $scopedItemTypes) {
      updatedAt
    }
  }
%>
<%-
  issue_node ||= issue
  issue = Views::Issues::Timeline::Issue.new(issue_node)

  node_partial_variables = {
    timelineSince: issue.timeline.updated_at.iso8601,
    timelinePageSize: initial_timeline_page_size,
    syntaxHighlightingEnabled: syntax_highlighted_diffs_enabled?,
    hasFocusedReviewThread: "false",
    hasFocusedReviewComment: "false",
  }

  if defined?(scope_timeline) && scope_timeline.present?
    node_partial_variables[:scopedItemTypes] = TimelineHelper::SCOPED_TIMELINE_EVENTS
  end
-%>

<div class="js-issue-timeline-container">

  <%= render "timeline/first_page",
        timeline_owner: issue,
        render_progressive_loader: local_assigns.fetch(:render_progressive_loader, true) %>

  <!-- Rendered timeline since <%= issue.timeline.updated_at.to_s(:db) %> -->
  <div class="js-timeline-marker js-socket-channel js-updatable-content"
        id="partial-timeline"
        data-channel="<%= live_update_view_channel(issue.websocket) %>"
        data-url="<%=
          show_node_partial_path(path: "issues/unread_timeline", id: issue.id, variables: node_partial_variables)
        %>"
        data-last-modified="<%= issue.timeline.updated_at.httpdate %>"
        data-gid="<%= issue.id %>">
    <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-timeline-marker-form" do %>
      <input type="hidden" name="variables[subjectId]" value="<%= issue.id %>">
    <% end %>
  </div>

</div>
