<%graphql
fragment Issue on Issue {
  possibleTransferRepositoriesForViewer(first: 10, query: $query) {
    nodes {
      id
      name
      description
      isPrivate
    }
  }
}
%>
<% issue = Views::Issues::TransferFormPossibleRepositories::Issue.new(issue) %>
<div id="transfer-possible-repositories-menu" class="select-menu-list">
  <% issue.possible_transfer_repositories_for_viewer.nodes.each do |repository| %>
    <label class="select-menu-item" role="menuitemradio" tabindex="0">
      <input type="radio" name="repository_id" value="<%= repository.id %>" required>
      <%= octicon("check", :class => "select-menu-item-icon") %>
      <div class="select-menu-item-text">
        <div>
          <span data-menu-button-contents>
            <%= repository.name %>
          </span>
          <% if repository.is_private? %>
            <%= octicon("lock", class: "float-right mr-3") %>
          <% end %>
        </div>
        <% if repository.description.present? %>
          <small class="text-normal"><%= repository.description %></small>
        <% end %>
      </div>
    </label>
  <% end %>

  <% if issue.possible_transfer_repositories_for_viewer.nodes.empty? %>
    <div class="p-3">
      No repositories match.
    </div>
  <% end %>

</div>
