<%graphql
  fragment Issue on Issue {
    ...Views::Issues::Timeline::Issue
  }
%>
<%-
  issue = Views::Issues::UnreadTimeline::Issue.new(issue)
  mark_comments_as_unread!
-%>

<%= render "issues/timeline", issue: issue, scope_timeline: params.dig("variables", "scopedItemTypes").present?, render_progressive_loader: false %>
