<%
  view = Issues::IndexView.new(
    :query => query,
    :issues => issues,
    :repo => current_repository,
    :pulls_only => pulls_only,
    :current_user => current_user)

  target = (pulls_only ? "Pull Requests" : "Issues")
  page_info \
    title: target
  tips = Issues::TipView.new(:user => current_user, :parsed_issues_query => parsed_issues_query, :pulls_only => pulls_only)
  nav  = Issues::DashboardNavigationView.new(:query => query)
%>

  <div class="page-content position-relative <% if container_xl? %>container-xl<% else %>container-lg<% end %> p-responsive">
    <% if unauthorized_ip_whitelisting_targets.any? || unauthorized_saml_targets.any? %>
      <div class="Box mb-3 bg-gray-light">
        <% unauthorized_ip_whitelisting_targets.each do |restricted_target| %>
          <div class="border-bottom px-3 py-2 d-flex flex-items-center">
            <div>
              <%= octicon "shield-lock", height: 16, class: "text-gray mr-3" %>
            </div>
            <p class="note">
              <%= restricted_ip_whitelisting_target_hint(restricted_target, text: "to search for results") %>
            </p>
          </div>
        <% end %>

        <% unauthorized_saml_targets.each do |restricted_target| %>
          <div class="border-bottom px-3 py-2 d-flex flex-items-center">
            <div>
              <%= octicon "shield-lock", height: 16, class: "text-gray mr-3" %>
            </div>
            <p class="note">
              <%= restricted_sso_target_link(restricted_target, return_to: request.url, text: "to search for results") %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="subnav d-flex mb-3 flex-column flex-md-row" data-pjax>
      <nav class="subnav-links d-flex d-sm-block" aria-label="<%= target %>">
        <% if logged_in? %>
          <%= selected_link_to "Created",
            issues_search_query(replace: { assignee: nil, mentions: nil, "review-requested": nil }, append: [[:author, current_user.login]], pulls_only: pulls_only),
            :class => "subnav-item flex-1 text-center",
            :"aria-label" => "#{target} created by you",
            :highlight => :dashboard_created,
            :selected_link => nav.selected_link
          %>
          <%= selected_link_to "Assigned",
            issues_search_query(replace: { author: nil, mentions: nil, "review-requested": nil }, append: [[:assignee, current_user.login]], pulls_only: pulls_only),
            :class => "subnav-item flex-1 text-center",
            :"aria-label" => "#{target} assigned to you",
            :highlight => :dashboard_assigned,
            :selected_link => nav.selected_link
          %>
          <%= selected_link_to "Mentioned",
            issues_search_query(replace: { assignee: nil, author: nil, "review-requested": nil }, append: [[:mentions, current_user.login]], pulls_only: pulls_only),
            :class => "subnav-item flex-1 text-center",
            :title => "#{target} mentioning you",
            :highlight => :dashboard_mentioned,
            :selected_link => nav.selected_link
          %>
          <% if pulls_only %>
            <%= selected_link_to "Review requests",
              issues_search_query(replace: { assignee: nil, author: nil, mentions: nil }, append: [[:"review-requested", current_user.login]], pulls_only: pulls_only),
              :class => "subnav-item flex-1 text-center no-wrap hide-sm",
              :title => "#{target} requesting your review",
              :highlight => :dashboard_review_requested,
              :selected_link => nav.selected_link
            %>
          <% end %>
        <% end %>
      </nav>
      <div class="flex-auto min-width-0">
        <%= form_tag "/#{pulls_only ? :pulls : :issues}", :method => :get, :class => "subnav-search ml-0 ml-md-3 mt-3 mt-md-0", role: "search", "aria-label": "Issues" do %>
          <input type="text" name="q" value="<%= query.rstrip %> " id="js-issues-search" class="form-control subnav-search-input subnav-search-input-wide input-contrast width-full" placeholder="Search all issues" aria-label="Search all issues">
          <%= octicon('search', :class => 'subnav-search-icon') %>
        <% end %>
      </div>
    </div>

    <div class="d-block d-md-none no-wrap mb-3">
      <%= render partial: "issues/filters/states", locals: { issues: issues, pulls_only: pulls_only, open_count: open_count, closed_count: closed_count } %>
    </div>

    <div class="Box Box--responsive hx_Box--firstRowRounded0" id="js-issues-toolbar" data-pjax>
      <div class="Box-header d-flex flex-justify-between">
        <div class="table-list-filters flex-auto d-none d-md-block no-wrap">
          <%= render partial: "issues/filters/states", locals: { issues: issues, pulls_only: pulls_only, open_count: open_count, closed_count: closed_count } %>
        </div>

        <div class="table-list-header-toggle width-full d-flex flex-justify-between flex-sm-justify-start flex-md-justify-end">
          <%= render partial: "issues/filters/visibility", locals: { pulls_only: pulls_only } if logged_in? %>
          <%= render partial: "issues/filters/orgs", locals: { query: query, pulls_only: pulls_only } if logged_in? %>
          <%= render partial: "issues/filters/sorts", locals: { pulls_only: pulls_only } %>
        </div>
      </div>

      <% if issues.empty? %>
        <%= render partial: "issues/issues_blankslate", locals: { icon: "issue-opened", title: view.blankslate_title, copy: view.blankslate_copy, capped: true } %>
      <% else %>
        <div class="js-navigation-container js-active-navigation-container" data-issue-and-pr-hovercards-enabled data-repository-hovercards-enabled>
          <% view.issues.each do |issue| %>
            <%= render_partial_view "issues/issue", Issues::IssueListItem,
              issue: issue,
              global: true,
              reference_location: "DASHBOARD_ISSUES_INDEX" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if !issues.empty? %>
      <div class="paginate-container">
        <%= will_paginate issues, params: { q: query } %>
      </div>
    <% end %>

    <div class="protip">
      <%= octicon('light-bulb', :class => 'text-gray') %>
      <strong>ProTip!</strong>
      <%= tips.selected_tip %>
    </div>
  </div>
