<%
  view = Issues::IndexView.new :query => query, :issues => issues,
                               :repo => current_repository, :pulls_only => pulls_only,
                               :current_user => current_user
  page_info \
    title: view.title,
    container_xl: true,
    selected_link: view.selected_link,
    stafftools: gh_stafftools_repository_issues_path(current_repository)

  tips = Issues::TipView.new(:current_user => current_user, :repo => current_repository, :parsed_issues_query => parsed_issues_query, :pulls_only => pulls_only)

  show_filter_bar = !view.new_repo?

  blankslate = nil
  if query_error
    blankslate = {
      icon: view.query_error_icon,
      title: view.query_error_title,
      copy: view.query_error_copy
    }
  elsif issues.empty?
    blankslate = {
      icon: view.blankslate_icon,
      title: view.blankslate_title,
      copy: view.blankslate_copy
    }
  end
%>

<%= render layout: "issues/issues" do %>
  <%# never show both banners. in the case where both banner would potentially show, prioritize maintainer label education banner %>
  <% if show_maintainer_label_education_banner? %>
    <%= render partial: "issues/maintainer_label_education_banner", locals: { view: view } %>
  <% elsif view.show_first_time_contributor_banner?(is_pull_requests: pulls_only) %>
    <% if pulls_only %>
      <%= render partial: "pull_requests/first_time_contributor_banner", locals: { view: view } %>
    <% else %>
      <%= render partial: "issues/first_time_contributor_banner", locals: { view: view } %>
    <% end  %>
  <% end %>

  <% if view.display_recently_touched_branches_list? %>
    <include-fragment src="<%= show_partial_tree_path(:partial => "tree/recently_touched_branches_list") %>"></include-fragment>
  <% end %>

  <% if !view.pulls_only && view.pinned_issues.any? %>
    <div class="js-pinned-issues-reorder-container">
      <h2 class="f4 mb-2 text-normal">
        Pinned issues
        <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>"
             width="13" class="spinner pinned-items-spinner js-pinned-issues-spinner" alt="">
      </h2>
      <% if current_repository.can_pin_issues?(current_user) %>
        <%= form_for current_repository, :url => prioritize_pinned_issue_path(current_repository.owner, current_repository), :html => {:class => "js-pinned-issues-reorder-form", :id => "user-#{current_repository.id}-pinned-issues-reorder-form"}, :method => :put do |f| %>
          <%= render partial: "issues/pinned_issues",
                    locals: { pinned_issues: view.pinned_issues, can_pin: current_repository.can_pin_issues?(current_user) } %>
        <% end %>
      <% else %>
        <%= render partial: "issues/pinned_issues",
                   locals: { pinned_issues: view.pinned_issues, can_pin: current_repository.can_pin_issues?(current_user) } %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "issues/search_bar", locals: { pulls_only: pulls_only, query: query, milestones_count: milestones_count, labels_count: labels_count } %>

  <div class="d-block d-lg-none no-wrap">
    <%= render partial: "issues/filters/states", locals: { issues: issues, pulls_only: pulls_only, open_count: open_count, closed_count: closed_count } %>
  </div>

  <div class="Box mt-3 Box--responsive hx_Box--firstRowRounded0">
    <% if show_filter_bar %>
      <%= render partial: "issues/filter_bar", locals: { issues: issues, pulls_only: pulls_only, query: query, open_count: open_count, closed_count: closed_count } %>
    <% end %>
    <% if blankslate %>
      <%= render partial: "issues/issues_blankslate", locals: blankslate.merge!(capped: show_filter_bar) %>
    <% else %>
      <div aria-label="Issues" role="group" data-issue-and-pr-hovercards-enabled>
        <div class="js-navigation-container js-active-navigation-container">
          <% view.issues.each do |issue| %>
            <%= render_partial_view "issues/issue", Issues::IssueListItem,
              issue: issue,
              repo: current_repository,
              reference_location: "REPO_ISSUES_INDEX" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="paginate-container d-none d-sm-flex flex-sm-justify-center">
    <% if !issues.empty? %>
      <%= will_paginate issues, :params => { :q => query } %>
    <% end %>
  </div>

  <div class="paginate-container d-sm-none mb-5">
    <% if !issues.empty? %>
      <%= will_paginate issues, page_links: false, :params => { :q => query } %>
    <% end %>
  </div>

  <div class="protip">
    <%= octicon('light-bulb', :class => 'text-gray') %>
    <strong>ProTip!</strong>
    <%= tips.selected_tip %>
  </div>
<% end %>
