<%# rubocop:disable Lint/InstanceVariable %>
<%
  highlight ||= :default

  page_info(
    selected_link: :repo_issues,
    container_xl: true,
    title: "New Issue · #{current_repository.name_with_owner}"
  )
%>

<%= render layout: "issues/issues" do %>
  <%= form_for @issue do |f| %>
    <div class="mt-3"
      <%= test_selector("new-issue-form") %>
      <%= "data-discussion-hovercards-enabled" if discussions_enabled? %>
      data-issue-and-pr-hovercards-enabled
      data-project-hovercards-enabled>

      <%= spamurai_form_signals %>

      <% if params[:blob_oid].present? %>
        <input type="hidden" name="blob_oid" value="<%= params[:blob_oid] %>">
      <% end %>
      <% if params[:range_start].present? %>
        <input type="hidden" name="range_start" value="<%= params[:range_start] %>">
      <% end %>
      <% if params[:range_end].present? %>
        <input type="hidden" name="range_end" value="<%= params[:range_end] %>">
      <% end %>
      <%= render(Primer::LayoutComponent.new(responsive: true)) do |component| %>
        <% component.with(:main) do %>
          <% if current_user.must_verify_email? %>
            <%= render "issues/no_verified_email_message" %>
          <% else %>
            <%= render "issues/composer", issue: @issue, f: f %>
          <% end %>
        <% end %>

        <% component.with(:sidebar) do %>
          <div class="position-relative">
            <% if current_user_can_push? %>
              <%= render "issues/sidebar/new/assignees", issue: @issue %>
              <%= render "issues/sidebar/new/labels", issue: @issue %>

              <% if show_projects_ui?(current_repository) %>
                <%# We use @issue.projects instead of @issue.visible_projects_for here, because @issue is an unsaved record and @issue.projects has been manually set with proper visibility checking in IssuesController#new. %>
                <%= render "issues/sidebar/new/projects",  issue: @issue, projects: @issue.projects %>
              <% end %>

              <% if show_memexes_ui?(current_repository, @issue) %>
                <%= render :partial => "issues/sidebar/new/memexes" %>
              <% end %>

              <%= render "issues/sidebar/new/milestone", issue: @issue %>

              <%= render "issues/sidebar/new/references", issue: @issue %>
            <% end %>
            <%= render_partial_view(
              "issues/sidebar/new/contributor_sidebar",
              Community::ContributorSidebarView,
              issue: @issue,
              current_repository: current_repository
            ) %>

            <button
              type="submit"
              class="btn btn-primary btn-block d-md-none mt-4"
              data-disable-invalid
              data-disable-with
            >
              Submit new issue
            </button>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "issues/label_creation_modal", locals: { issue: @issue } %>
<% end %>
