<%# rubocop:disable Lint/InstanceVariable %>
<%graphql
  fragment Issue on Issue {
    number
    timelineWebsocket: websocket(channel: TIMELINE)
    isTransferInProgress

    timeline: timelineItems(first: 1, visibleEventsOnly: true, itemTypes: $scopedItemTypes) {
      totalCount
    }

    ...Views::Comments::Comment::Comment
    ...Views::Comments::TimelineAvatar::Comment
    ...Views::Conversations::NewCommentInput::NewComment
    ...Views::Issues::Timeline::Issue
    ...Views::Issues::Body::Issue
  }
%>
<%- issue_node = Views::Issues::Show::Issue.new(issue_node) -%>
<%
  page_description = issue_page_description(@issue)
  page_info(
    title: "#{@issue.title} · Issue ##{@issue.number} · #{current_repository.nwo}",
    container_xl: true,
    selected_link: :repo_issues,
    stafftools: gh_stafftools_repository_issue_path(@issue),
    description: page_description,
    dashboard_pinnable_item_id: @issue.global_relay_id,
    richweb: {
      title: "#{@issue.title} · Issue ##{@issue.number} · #{current_repository.nwo}",
      url: "#{GitHub.url}#{issue_permalink_path(@issue)}",
      description: page_description,
      image: repository_open_graph_image_url(current_repository),
      card: repository_twitter_image_card(current_repository)
    }
  )

  view = Issues::ShowView.new(:repo => current_repository)
  project_cards = @issue.visible_cards_for(current_user).to_a
  timeline_items_range = count_to_range(issue_node.timeline.total_count)
%>

<%= render layout: "issues/issues" do %>
  <% track_render_partial("files/signup_prompt") do %>
    <%= render "files/signup_prompt", source: "prompt-issue-show" %>
  <% end %>

  <% if current_discussion_for_issue %>
    <% track_render_partial("issues/discussion_conversion_banner") do %>
      <%= render "issues/discussion_conversion_banner", discussion: current_discussion_for_issue %>
    <% end %>
  <% end %>

  <div id="show_issue"
        class="js-issues-results js-socket-channel js-updatable-content"
        data-channel="<%= live_update_view_channel(issue_node.timeline_websocket) %>">

  <% track_render_partial("comments/title") do %>
    <%= render :partial => 'comments/title', :locals => {
      :issue_node   => issue_node,
      :comment      => @issue,
      :issue        => @issue,
      :title        => @issue.title? ? @issue.title : "Untitled",
      :admin        => can_modify_issue?(@issue),
      :form_path    => "/#{current_repository.name_with_owner}/issues/#{@issue.number}",
      :undeleteable => true,
      :sticky       => true
    } %>
  <% end %>

    <% track_render_partial("issues/sidebar/responsive_meta_info") do %>
      <%= render partial: 'issues/sidebar/responsive_meta_info', locals: { issue: @issue, project_cards: project_cards } %>
    <% end %>


    <h2 class="sr-only">Comments</h2>
    <div id="discussion_bucket">
      <%= render(Primer::LayoutComponent.new(responsive: true)) do |component| %>
        <% component.with(:sidebar) do %>
          <% track_render_partial("issues/sidebar") do %>
            <%=
              render "issues/sidebar",
                issue: @issue,
                issue_node: issue_node,
                project_cards: project_cards,
                discussion_categories: discussion_categories
            %>
          <% end %>
        <% end %>

        <% component.with(:main) do %>
          <div class="js-quote-selection-container"
            data-quote-markdown=".js-comment-body"
            <%= "data-discussion-hovercards-enabled" if discussions_enabled? %>
            data-issue-and-pr-hovercards-enabled
            data-team-hovercards-enabled>

            <div
              class="js-discussion <% if logged_in? %>js-socket-channel<% end %> ml-0 pl-0 ml-md-6 pl-md-3"
              <% if logged_in? %>
              data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.marked_as_read(current_user)) %>"
              data-channel-target="<%= @issue.global_relay_id %>"
              <% end %>
            >
              <% track_render_partial("issues/body") do %>
                <%= render "issues/body", issue: issue_node %>
              <% end %>

              <% if scoped_issue_timeline_enabled? && issue_node.timeline.total_count > 0 %>
                <% track_render_partial("issues/timeline_scoping_menu") do %>
                  <%= render "issues/timeline_scoping_menu", issue: @issue, scope_timeline: scope_timeline %>
                <% end %>
              <% end %>

              <% track_render_partial("issues/timeline", ["range:#{timeline_items_range}"]) do %>
                <%= render "issues/timeline", issue: issue_node, scope_timeline: scope_timeline %>
              <% end %>

              <% if @issue.closed? %>
                <%# we don't want to do this for pull requests that have a closed event. %>
                <%# anything older than 2011-03-16 doesn't have events though. %>
                <% if !@issue.closed_by %>
                  <div class="TimelineItem">
                    <div class="TimelineItem-badge text-white bg-red">
                      <%= octicon('circle-slash') %>
                    </div>
                    <div class="TimelineItem-body">
                      This issue was <strong>closed</strong>.
                    </div>
                  </div>
                  <div class="TimelineItem-break"></div>
                <% end %>
              <% end %>
            </div>

            <% if issue_node.is_transfer_in_progress? %>
              <div class="timeline-comment-wrapper">
                <div class="flash flash-warn">
                  This issue is being transferred. Timeline may not be complete until it finishes.
                </div>
              </div>
            <% end %>

            <span id="issue-comment-box"></span>
            <div class="discussion-timeline-actions">
              <% if show_issue_comment_box? %>
                <% track_render_partial("conversations/new_comment_input") do %>
                  <%= render "conversations/new_comment_input", item: @issue, item_node: issue_node %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
