<% is_updatable = view.pull.issue.editable_by?(current_user) %>
<div class="js-comment">
  <div class="discussion-header">
    <% if dependency_update = view.dependency_update  %>
      <%= render partial: "pull_requests/dependency_update", locals: { dependency_update: dependency_update, mobile_view: true } %>
    <% end %>

    <div class="clearfix">
      <a href="#bottom" class="float-right py-1 js-smoothscroll-anchor">Jump to bottom</a>
      <%= render PullRequests::StateComponent.new(state: view.pull.state.to_sym, is_draft: view.is_draft?, revision: view.pull.current_revision&.number, float: :left) %>
    </div>

    <h1 class="discussion-title">
      <%=h view.title %>
      <span class="text-gray text-normal">#<%= view.pull.number %></span>
    </h1>

    <div class="pull-request-description-toggle js-details-container Details">
      <p class="branches pull-request-description js-details-target">
        <span class="branch-name">
          <%= octicon("git-branch") %>
          <%= pull_branch_label(view.pull, :head) %>
        </span>
      </p>

      <p class="branches pull-request-description-full">
        <span class="branch-name">
          <%= octicon("git-branch") %>
          <%= pull_branch_label(view.pull, :base) %>
        </span>

        <%= octicon("arrow-up") %>

        <span class="branch-name">
          <%= octicon("git-branch") %>
          <%= pull_branch_label(view.pull, :head) %>
        </span>
      </p>
    </div>

    <div class="hide-when-editing">
      <div class="d-flex flex-row discussion-block-title">
        <div class="flex-auto">
          <div class="avatar-parent-child float-left">
            <%= avatar_for(view.author, 32, class: "avatar") %>

            <% if view.author_is_dependabot? %>
              <%= avatar_for(GitHub.dependabot_github_app.owner, 16, class: "avatar avatar-child rounded-1") %>
            <% end %>
          </div>

          <div class="discussion-block-meta">
            <strong><%= link_author view.author, :class => "username" %></strong>
            <% if view.edited? %>
              opened this pull request <%= time_ago_in_words(view.issue.created_at) %> ago
              <% if view.editor == view.author.login %>
                &#8226; edited <%= time_ago_in_words view.edited_at %> ago
              <% else %>
                &#8226; <a href="/<%= view.editor_link %>" class="editor"><%= view.editor %></a> edited <%= time_ago_in_words view.edited_at %> ago
              <% end %>
            <% else %>
              opened this pull request
              <% if view.author_is_dependabot? %>
                on behalf of <strong><%= GitHub.dependabot_github_app.owner.login %></strong>
              <% end %>
              <br>
              <%= time_ago_in_words(view.issue.created_at) %> ago
            <% end %>
          </div>
        </div>

        <%=
        render partial: "mobile/discussions/comment_actions", locals: {
          path: "/#{view.pull.repository.name_with_owner}/issues/#{view.pull.number}",
          is_updatable: is_updatable,
          is_deletable: false
        }
        %>
      </div>
    </div>
  </div>

  <%= render partial: "mobile/pull_requests/sidebar_metadata", locals: { pull: view.pull, pull_node: view.pull_node } %>

  <%
    GitHub.dogstats.histogram("pull_request.full_timeline.item_count", view.timeline_items.size) if view.showing_full_timeline
    start = GitHub::Dogstats.monotonic_time
  %>

  <div class="discussion-starting-comment">
    <div class="discussion-comment markdown-body hide-when-editing">
      <%= view.body_html %>
      <%= render partial: "mobile/discussions/reactions", locals: { subject: view.pull_node, subject_dom_id: graphql_comment_dom_id(view.pull_node) } %>
    </div>

    <% if is_updatable %>
      <%=
        render(
            :partial => "mobile/discussions/comment_edit_form",
            :locals => {
                :path => "/#{view.pull.repository.name_with_owner}/issues/#{view.pull.number}",
                :container_class => "p-3",
                :input_name => "issue",
                :body => view.pull.body,
                :body_version => view.pull.body_version
            }
        )
      %>
    <% end %>
  </div>
</div>

<%= render :partial => "mobile/discussions/timeline", :locals => {
  # The first timeline item is the PR body, which we already rendered above.
  :timeline_items => view.timeline_items.drop(1),
  :subject        => view.pull
} %>

<a name="bottom" id="bottom"></a>

<% GitHub.dogstats.timing_since("pullrequest.full_timeline.mobile_render_time", start) if view.showing_full_timeline %>

<% if view.pull.head_ref_safely_deleteable_by?(current_user) %>
  <div class="branch-action">
    <%= form_tag gh_cleanup_pull_request_path(view.pull) do %>
      <button class="btn btn-block" type="submit" data-disable-with>
        <%= octicon("git-branch") %>
        Delete branch
      </button>
    <% end %>
  </div>
<% end %>

<%=
  render_partial_view(
    "mobile/discussions/merge_form",
    Mobile::PullRequests::DiscussionView,
    :pull => view.pull
  )
%>

<%=
render(:partial => "mobile/discussions/comment_form", :locals => {
  :form_path         => "/#{view.pull.repository.name_with_owner}/pull/#{view.pull.number}/comment",
  :discussion        => view.pull.issue,
  :discussion_type   => "pull request",
  :discussion_number => view.pull.number,
  :closeable         => true,
  :issue_node        => view.pull_node
})
%>

<%=
if logged_in?
  render_partial_view(
    "mobile/notifications/thread_subscription",
    Mobile::Notifications::ThreadSubscriptionView,
    list: view.issue.repository,
    thread: view.issue
  )
end
%>
