<%= rescue_with_timeout_message("Sorry, this file list is taking too long to generate.") do %>
  <% simulate_timeout_error_if_param!(GitRPC::Timeout) %>

  <%
    file_list_view = Diff::FileListView.new(
      pull:            pull,
      diffs:           diffs,
      pull_comparison: pull_comparison,
      params:          params,
      current_user:    current_user,
      # Highlighting was already performed by the controller.
      highlight:       false,
    )
  %>

  <% if pull_comparison %>
    <% if pull_comparison.range? %>
      <div class="subset-files-tab f5 text-blue py-3 px-4">
        Viewing a subset of changes. <a class="text-bold" href="<%= pull_request_path(pull_comparison.pull) %>/files">View all</a>
      </div>
    <% end %>

    <% review = logged_in? && pull.latest_pending_review_for(current_user) %>
    <div class="<%= pull_request_review_state_classes(review) if review %>">
      <%= render partial: "mobile/diff/show", locals: { file_list_view: file_list_view } %>
      <% if logged_in? %>
        <%= render partial: "mobile/diff/review", locals: { pull: pull } %>
      <% end %>
    </div>
  <% else %>
    <div class="bubble bubble-disabled">
      <h3 class="bubble-title"><%= octicon "alert" %> Sorry, this diff is unavailable.</h3>
      <div class="bubble-content">The repository may be missing relevant data. Please <a href="<%= contact_path %>">contact support</a> for more information.</div>
    </div>
  <% end %>
<% end %>
