<%graphql
  fragment PullRequest on PullRequest {
    databaseId
    closingIssuesReferences(first: 5) {
      nodes {
        databaseId
        url
        state
        title
      }
    }
  }
%>
<%
  if defined?(pull_node)
    pull_node = Views::Mobile::PullRequests::SidebarMetadata::PullRequest.new(pull_node)
    closing_issue_references = pull_node.closing_issues_references.nodes
  else
    pull_node = nil
    closing_issue_references = []
  end
  reference_location ||= "PULL_REQUEST_SIDEBAR"
  display_separator = pull.issue.labels.any? || closing_issue_references.any?
%>

<% if pull.issue.labels.any? %>
  <span class="labels discussion-labels position-relative d-block pb-2">
    <p class="h6 my-1">Labels</p>
    <% pull.issue.labels.each do |label| %>
      <a href="<%= gh_label_path(label) %>" class="IssueLabel d-inline-block"
            style="background-color: #<%=label.color %>; color: #<%= label.text_color %>;">
        <%= html_label_name(label.name) %>
      </a>
    <% end %>
  </span>
<% end %>

<% if closing_issue_references.any? %>
  <span class="discussion-issue-references position-relative d-block pb-2">
    <p class="h6 my-1">Linked issues</p>
    <% closing_issue_references.each do |issue| %>
      <span class="css-truncate d-block f6 my-1">
        <% hydro_data = xrefs_hydro_attributes(issue_id: issue.database_id, pull_request_id: pull_node.database_id, reference_location: reference_location) %>
        <%= content_tag(:a, href: issue.url, data: hydro_data, class: "link-gray-dark text-bold css-truncate-target", style: "max-width: 100%;") do %>
          <%= issue_pr_state_octicon(issue, issue.state) %>
          <%= issue.title %>
        <% end %>
      </span>
    <% end %>
  </span>
<% end %>

<% if display_separator %>
  <div class="discussion-sidebar-metadata-separator">
    <div class="discussion-sidebar-metadata">
    </div>
  </div>
<% end %>
