<%# erblint:disable LandmarkHasLabel %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: issue_page_title(view.pull),
             selected_link: :repo_pulls %>

<%= render partial: "mobile/repositories/header" %>

<%= render partial: "notifications/v2/top_shelf" %>

<nav class="tabs">
  <a href="<%= pull_request_path(view.pull) %>" class="<%= view.tab_selected_class('discussion') %>">Conversation</a>
  <a href="<%= pull_request_path(view.pull) %>/commits" class="<%= view.tab_selected_class('commits') %>">Commits</a>
  <a href="<%= pull_request_path(view.pull) %>/files" class="<%= view.tab_selected_class('files') %>">Changes</a>
</nav>

<% case view.current_tab %>
<% when 'discussion' %>
  <%=
  render_partial_view(
    'mobile/pull_requests/discussion',
    Mobile::PullRequests::DiscussionView,
    pull: view.pull,
    visible_timeline_items: view.visible_timeline_items,
    pull_node: view.pull_node,
    showing_full_timeline: view.showing_full_timeline
  )
  %>
<% when 'commits' %>
  <%= render partial: "mobile/pull_requests/commit_list", locals: { commits: load_mobile_pull_request_commits } %>
<% when 'files' %>
  <%=
  render partial: "mobile/pull_requests/files", locals: {
    pull: view.pull,
    diffs: view.diffs,
    pull_comparison: @pull_comparison
  }
  %>
<% end %>
