<div class="blankslate blankslate-spacious Box border-gray-light">
  <%= octicon("stop", height: 48, class: "blankslate-icon") %>
  <h3 class="mb-1">Dependabot is currently unavailable</h3>
  <p>We've been notified of the problem, and are working to fix it. Please try again later.</p>
</div>
