<div class="blankslate blankslate-spacious Box border-gray-light">
  <%= octicon "versions", :height => 32, :class => "blankslate-icon" %>
  <%= octicon "package", :height => 32, :class => "blankslate-icon" %>
  <%= octicon "hubot", :height => 32, :class => "blankslate-icon" %>

  <h3 class="mb-1">Dependabot version updates aren't configured yet</h3>
  <p>
    Dependabot creates pull requests to keep your dependencies up-to-date.
  </p>
  <p>
  <a href="<%= new_file_path(name: current_repository.default_branch, dependabot_template: 1, filename: ".github/dependabot.yml") %>" class="btn btn-sm btn-primary">Create config file</a>
  </p>
  <p>
    <a href="<%= GitHub.dependabot_beta_help_url %>" target="_blank">Learn more</a> or
    <a href="<%= GitHub.dependabot_beta_feedback_url %>" target="_blank">give us feedback</a>
  </p>
</div>
