<% page_info \
  container_xl: true,
  responsive: false,
  selected_link: :dependabot_updates,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% page_title "Dependabot · #{current_repository.name_with_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <div id="dependabot-updates">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Dependency graph<% end %>
    <% end %>

    <%= render partial: "network/dependency_tabs" %>

    <% if !current_repository.dependabot_installed? %>
      <%= render partial: "network/install_dependabot" %>
    <% elsif dependabot_error %>
      <%= render partial: "network/dependabot/dependabot_error" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif dependabot_unavailable %>
      <%= render partial: "network/dependabot/dependabot_unavailable" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif config_file&.error %>
      <div class="Box">
        <div class="Box-header timeline-comment-header py-0 clearfix">
          <h3 class="Box-title timeline-comment-header-text text-normal">
            <%= octicon "alert", class: "mr-1" %>
            <%= config_file.error.msg %>
          </h3>
        </div>
        <div class="Box-body p-3">
          <div class="markdown-body my-2">
            <%= github_flavored_markdown(config_file.error.details) %>
          </div>
          <p class="f4">
            <a href="<%= GitHub.dependabot_beta_help_url %>" target="_blank">Learn more</a>
            or
            <a href="<%= GitHub.dependabot_beta_feedback_url %>" target="_blank">give us feedback</a>
          </p>
        </div>
      </div>
    <% elsif update_configs.any? %>
      <% update_configs.each do |update_config| %>
          <div class="Box mb-3" id="">
            <div class="Box-header clearfix border-bottom-0">
              <div class="table-list-filters">
                <div class="table-list-header-toggle states pl-0 text-gray-dark position-relative d-flex flex-justify-between flex-items-center">
                  <div>
                    <%= render(Dependabot::PackageEcosystemIconComponent.new(package_ecosystem: update_config.package_ecosystem.name)) %>
                    <% manifest = update_config.monitored_manifest_files&.first&.path&.sub(/\A\//, "") %>
                    <% target_branch = update_config.target_branch&.present? ? update_config.target_branch : current_repository.default_branch %>
                    <% if manifest %>
                      <%= link_to Dependabot.short_manifest_file_path(manifest), blob_view_path(manifest, target_branch), {
                        class: "ml-2 link-gray-dark text-bold",
                        'data-octo-click': "dep_graph_manifest",
                        title: manifest
                      } %>
                    <% else %>
                      <span class="ml-2 text-gray-dark text-bold">
                        <%= Dependabot.serialize_package_ecosystem(package_ecosystem: update_config.package_ecosystem.name) %>
                      </span>
                    <% end %>

                    <% if update_config.monitored_manifest_files&.any? %>
                      <details class="details-overlay details-reset position-relative d-inline-block ">
                        <summary class="btn-link pl-1 pr-2" aria-haspopup="menu">
                          <%= octicon("kebab-horizontal", "aria-label": "Show monitored") %>
                        </summary>

                        <div class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in" style="width: 200px">
                          <div class="dropdown-header">
                            Monitored dependency files
                          </div>

                          <ul class="overflow-y-auto d-block" style="max-height: 130px;">
                            <% update_config.monitored_manifest_files.each do |manifest| %>
                              <% path = manifest.path&.sub(/\A\//, "") || "" %>
                              <li class="css-truncate">
                                <%= link_to Dependabot.short_manifest_file_path(path), blob_view_path(path, target_branch), {
                                  class: "dropdown-item d-block css-truncate-target",
                                  'data-octo-click': "dep_graph_manifest",
                                  title: path,
                                  style: "max-width: 200px"
                                } %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </details>
                    <% end %>
                  </div>

                  <div class="text-small">
                    <% if update_config.last_full_update_run&.last_error %>
                      <%= octicon "alert", class: "text-red mr-1" %>
                    <% end %>
                    <% if update_config.last_full_update_run&.finished_at %>
                      <%= link_to network_dependabot_show_path(update_job_id: update_config.last_full_update_run.id) do %>
                       Last checked <%= time_ago_in_words_js Time.at(update_config.last_full_update_run.finished_at.seconds) %>
                      <% end %>
                    <% else %>
                      Checking now
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <%= render partial: "network/dependabot/dependabot_footer" %>
    <% else %>
      <%= render partial: "network/dependabot/dependabot_empty" %>
    <% end %>
  </div>
<% end %>
