<%# erblint:counter TooltipCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>

<% page_info :title => "Repository networks" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <details class="select-menu details-reset details-overlay">
      <summary class="btn btn-sm select-menu-button boxed-group-action">
        <span data-menu-button><%= @show_status.tr('_', ' ').titleize %></span>
      </summary>

      <details-menu class="select-menu-modal position-absolute right-0 mt-6" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Maintenance status</span>
        </div>

        <div class="select-menu-list">
          <% @status_names.each do |label| %>
            <a href="<%= stafftools_networks_path(:maintenance_status => label) %>" class="select-menu-item" role="menuitemradio" aria-checked="<%= @show_status == label %>" data-pjax>
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text" data-menu-button-text><%= label.tr('_', ' ').titleize %></div>
            </a>
          <% end %>
        </div>
      </details-menu>
    </details>

    <% if @show_status == "failed" && @networks.any? %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Schedule maintenance for all",
        button_class: "btn btn-sm",
        details_class: "boxed-group-action",
        title: "Schedule maintenance for failed networks"
      } do %>
        <div class="Box-body">
          <p>
            Are you sure that you want to schedule maintenance for
            <%= pluralize(@networks.size, "failed network") %>?
          </p>
        </div>
        <div class="Box-footer">
          <%= form_tag schedule_maintenance_for_failed_stafftools_networks_path do %>
            <button type="submit" class="btn btn-block">
              Schedule maintenance for <%= pluralize(@networks.size, "network") %>
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <h3>Repository networks</h3>

    <div class="boxed-group-inner clearfix">
      <% if @networks.any? %>
        <ul class="boxed-group-list standalone">
          <%
            @networks.each do |network|
              root = network.root
          %>

          <li class="clearfix">
            <%= octicon("repo-forked") %>
            <strong>
              <% if root %>
                <%= link_to network.name, gh_stafftools_repository_path(root), "data-pjax" => true %>
              <% else %>
                <%= octicon("alert") %> No root repository for network (<%= network.id.to_s %>)
              <% end %>
            </strong>

            Last maintenance: <%= network.last_maintenance_at || 'never' %>

            <% if root&.owner %>
              <div class="BtnGroup">
                <%= form_tag schedule_maintenance_stafftools_repository_network_path(root.owner, root),
                             :class => "inline-form BtnGroup-parent" do %>
                  <button type="submit"
                          class="btn-link tooltipped tooltipped-n BtnGroup-item"
                          aria-label="Schedule maintenance">
                    <%= octicon("sync") %>
                  </button>
                <% end %>

                <% if stafftools_action_authorized?(controller: Stafftools::NetworksController, action: :mark_as_broken) %>
                  <%= form_tag mark_as_broken_stafftools_repository_network_path(root.owner, root),
                              :class => "inline-form BtnGroup-parent" do %>
                    <button type="submit"
                      class="btn-link text-red tooltipped tooltipped-n BtnGroup-item"
                      aria-label="Mark as broken"
                      data-confirm="Are you sure? The repository will be disabled for end users.">
                      <%= octicon("alert") %>
                    </button>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            </li>
          <% end %>
          </ul>
        <% else %>
          <p>No repository networks found with maintenance status <strong><%= @show_status.tr('_', ' ').titleize %></strong>.</p>
        <% end %>
      </div>
    </div>

  <div class="paginate-container">
	 <%= will_paginate(@networks, 'data-pjax' => true) %>
  </div>
<% end %>
