<%# rubocop:disable Lint/InstanceVariable %>
<dl class="form-group">
  <dt>
    <label for="environment-filter-field">Environment</label>
    <p class="note">
      Choose the default or a <a href="<%= GitHub.enterprise_admin_help_url %>/guides/developer-workflow/creating-a-pre-receive-hook-environment">pre-configured environment</a> in which to execute the hook.
    </p>
  </dt>

  <dd>
    <details class="select-menu details-reset details-overlay">
      <summary class="btn select-menu-button details-reset details-overlay">
        <%= octicon('server') %>
        <% button_text = (@target.hook.environment) ? @target.hook.environment.name : "Select hook environment" %>
        <span data-menu-button><%= button_text %></span>
      </summary>

      <details-menu class="position-absolute" style="z-index:99" data-menu-input="pre_receive_hook_target_hook_attributes_environment_id">
        <div class="select-menu-modal">
          <div class="select-menu-header">
            <span class="select-menu-title">Select environment</span>
          </div>

          <div class="select-menu-filters">
            <div class="select-menu-text-filter">
              <input type="text" id="environment-filter-field" class="js-filterable-field" placeholder="Filter environments" aria-label="Filter environments" autocomplete="off" autofocus>
            </div>
          </div>

          <div class="select-menu-list" role="menu">
            <div data-filterable-for="environment-filter-field" data-filterable-type="substring">
              <% view.environments.each do |env| %>
                <% selected = env == @target.hook.environment %>
                <button type="button" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" value="<%= env.id %>">
                  <%= octicon('check', :class => 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text>
                    <%= env.name %>
                  </div>
                </button>
              <% end %>
            </div>

            <div class="select-menu-no-results">No environments found. Sorry about that.</div>
          </div>
        </div>
      </details-menu>
    </details>
  </dd>
</dl>
