<%# erblint:disable DeprecatedCustomCss %>
<div class="boxed-group hooks-listing">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Pre-receive hooks<% end %>
    <% component.slot(:actions) do %>
      <%= link_to "Add pre-receive hook", new_enterprise_pre_receive_hook_target_path(GitHub.global_business), class: "btn btn-sm", "data-pjax" => true %>
      <%= link_to "Manage environments", enterprise_pre_receive_environments_path(GitHub.global_business), class: "btn btn-sm", "data-pjax" => true %>
    <% end %>
  <% end %>
  <p>
    Pre-receive hooks are scripts that run on the GitHub Enterprise server to enforce policy. When a push occurs, each script runs in an <a href="<%= GitHub.enterprise_admin_help_url %>/guides/developer-workflow/creating-a-pre-receive-hook-environment">isolated environment</a> to determine whether the push is accepted or rejected.
  </p>

  <% if pre_receive_targets_with_hook.empty? %>
    <%= render(Primer::BlankslateComponent.new(
      icon: "circle-slash",
      title: "No pre-receive hooks",
      description: "No pre-receive hooks have been created yet.",
    )) %>
  <% else %>
    <ul class="listgroup">
      <% pre_receive_targets_with_hook.each do |target_with_hook| %>
        <li class="listgroup-item pre-receive-hook-list <%= view.enforcement_class(target_with_hook) %>">
          <span class="item-status">
            <%= link_to enterprise_pre_receive_hook_target_path(GitHub.global_business, target_with_hook), class: "tooltipped tooltipped-n", 'aria-label':  view.enforcement_class(target_with_hook).camelcase do %>
              <%= octicon("primitive-dot", class: "icon-for-enabled") %>
              <%= octicon("primitive-dot", class: "icon-for-disabled") %>
              <%= octicon("primitive-dot", class: "icon-for-testing") %>
            <% end %>
          </span>

          <div class="content">
            <div class="float-right">
              <a href="<%= enterprise_pre_receive_hook_target_path(GitHub.global_business, target_with_hook) %>"
                class="btn btn-sm" data-pjax>
                Edit
              </a>

              <%= render layout: "shared/details_dialog", locals: {
                button_text: "Delete",
                button_class: "btn btn-sm btn-danger",
                title: "Delete #{target_with_hook.hook.name}?"
              } do %>
                <div class="flash flash-full flash-warn">
                  This action cannot be undone.
                </div>
                <div class="Box-body">
                  <%= button_to "Yes, delete #{target_with_hook.hook.name}",
                    enterprise_pre_receive_hook_path(GitHub.global_business, target_with_hook.hook.id),
                    class: "btn btn-block btn-danger", method: :delete %>
                </div>
              <% end %>
            </div>

            <span class="css-truncate-target">
              <strong><%= target_with_hook.hook.name %></strong>
            </span>

            <ul class="details">
            <% repo = target_with_hook.hook.repository %>
            <% if repo.present? %>
              <li>
                <span class="title">Hook: </span>
                <span><%= view.repository_display(repo) %>/<%= target_with_hook.hook.script %></span>
                |
                <span><%=link_to "Audit log", stafftools_audit_log_path(query: view.audit_log_query(target_with_hook)) %></span>
              </li>
              <li>
                <span class="title">Enforced: </span>
                <span><%= view.enforcement_class(target_with_hook).camelcase %></span>
              </li>
              <li>
                <span class="title">Environment: </span>
                <span><%= target_with_hook.hook.environment.name if target_with_hook.hook.environment %></span>
              </li>
            <% else %>
              <li>
                <span class="pre-receive-hook-error-color">Hook is disabled. The repository containing the hook no longer exists.</span>
              </li>
            <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
