<%# erblint:disable DeprecatedCustomCss %>
<% page_info responsive: false, :title => "Hooks & Services", :selected_link => :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Add pre-receive hook",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="boxed-group">
    <h3>
      <a href="<%= installations_path(GitHub.global_business) %>" class="boxed-group-breadcrumb" data-pjax="true">Pre-receive hooks /</a>
      Add pre-receive hook
    </h3>
    <div class="boxed-group-inner settings-next text-gray-dark pre-receive-bucket">
      <%= render :partial => 'businesses/pre_receive_hook_targets/form', locals: { view: view, form_url: enterprise_pre_receive_hook_targets_path(GitHub.global_business), :button_text => "Add pre-receive hook"} %>
    </div>
  </div>
<% end %>
