<%= include_staff_bar(view_id: "column-#{column.id}") %>

<% cards.each do |card| %>
  <%= render partial: "projects/card", locals: { card: card } %>
<% end %>

<% if next_after %>
  <include-fragment src="<%= project_column_cards_path(project, column, after: next_after) %>">
    <div class="text-center pt-4">
      <%= image_tag "spinners/octocat-spinner-64-grey.gif", size: "32x32", alt: "" %>
    </div>
  </include-fragment>
<% end %>
