<%graphql
  fragment ProjectColumn on ProjectColumn {
    databaseId
    name
    resourcePath
  }
%>
<% project_column = Views::ProjectColumns::Delete::ProjectColumn.new(project_column) %>

<div class="Box-header">
  <h3 class="Box-title">Delete <%= project_column.name %></h3>
</div>
<div class="Box-body border-0 rounded-0 m-0 pb-0 overflow-auto">
  <p>This action will remove any cards and automation preset associated with the column.</p>
  <%= form_tag project_column.resource_path.to_s,
      "data-column-id": project_column.database_id,
      method: :delete,
      class: "pb-3 js-delete-project-column d-flex flex-column d-sm-block" do %>
    <button class="btn btn-danger flex-auto"
            type="submit"
            data-disable-with="Deleting column...">
      Delete column
    </button>
    <button type="button" class="btn flex-auto mt-2 mt-sm-0" data-close-dialog>Cancel</button>
    <input type="hidden" name="client_uid" class="js-client-uid-field">
  <% end %>
</div>
