<%# erblint:disable ButtonHasType %>
<%graphql
  fragment ProjectColumn on ProjectColumn {
    databaseId

    ...Views::ProjectColumns::Delete::ProjectColumn
    ...Views::ProjectColumns::Archive::ProjectColumn
    ...Views::ProjectColumns::Edit::ProjectColumn
    ...Views::ProjectWorkflows::Edit::ProjectColumn
    ...ProjectsHelper::ProjectColumnAnchorUrl::ProjectColumn
  }

  fragment Project on Project {
    viewerCanUpdate
    ...Views::ProjectWorkflows::Edit::Project
  }
%>
<% project_column = Views::ProjectColumns::Menu::ProjectColumn.new(project_column) %>
<% project = Views::ProjectColumns::Menu::Project.new(project) %>


<details class="details-reset details-overlay column-menu-container dropdown float-right position-static hide-sm">
  <summary class="text-gray-light btn-octicon p-1" aria-label="Column menu">
    <%= octicon('kebab-horizontal') %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw top-0 mt-5">
    <% if project.viewer_can_update? %>
      <button data-dialog-id="edit-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false">
        Edit column
      </button>
      <button data-dialog-id="edit-column-automation-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false">
        Manage automation
      </button>
      <button data-dialog-id="archive-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false">
        Archive all cards
      </button>
      <hr class="p-0 mt-2 mb-2">
    <% end %>
    <clipboard-copy
      class="dropdown-item text-left btn-link"
      value="<%= project_column_anchor_url(project_column) %>"
      role="menuitem">
      Copy column link
    </clipboard-copy>
    <% if project.viewer_can_update? %>
      <hr class="p-0 mt-2 mb-2">
      <button data-dialog-id="delete-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false">
        Delete column
      </button>
    <% end %>
  </details-menu>
</details>

<% if project.viewer_can_update? %>
  <template id="archive-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/archive", locals: { project_column: project_column } %>
  </template>
  <template id="delete-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/delete", locals: { project_column: project_column } %>
  </template>
  <template id="edit-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/edit", locals: { project_column: project_column } %>
  </template>
  <template id="edit-column-automation-<%= project_column.database_id %>">
    <%= render partial: "project_workflows/edit", locals: { project_column: project_column, project: project } %>
  </template>
<% end %>
