<% if view.delete_repo_access? %>
<div class="px-0 border-bottom-0 oauth-delete-repo-permissions oauth-permissions-details js-details-container Details <%= !view.delete_repo_access? ? 'd-none' : '' %>">

  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request" aria-expanded="false">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("repo", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Delete repositories</strong>
    <small class="access-details">
      <span>Ability to delete any adminable repository</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to delete any repository to which you have admin rights.</p>

      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
