<% if view.devtools_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details">

  <button type="button" aria-expanded="false"
    class="btn-link pr-0 oauth-details-toggle js-details-target" aria-label="More information about this request">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("tools", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Developer Tools</strong>
    <small class="access-details">
      Access developer tools.
    </small>
  </div>
  <div class="content">
    <p>This application will be able to access GitHub developer tools.</p>
    <div class="permission-help pt-2">
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
