<% if view.gist_access? %>
<div class="px-0 border-bottom-0 oauth-gist-permissions oauth-permissions-details js-details-container Details <%= view.gist_access_value %> <%= !view.gist_access?? 'd-none' : '' %>">

  <button type="button" aria-expanded="false" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("gist", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Gists</strong>
    <small class="access-details">
      <span class="no-access"><em class="highlight">No</em> access</span>
      <span class="full-access"><em class="highlight">Read and write</em> access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to read and write your public and secret gists.</p>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- /.content -->
</div> <!-- /.details-container -->
<% end %>
