<% if view.notifications_access? %>
<div class="px-0 border-bottom-0 oauth-notifications-permissions oauth-permissions-details js-details-container Details <%= view.notifications_access_value %> <%= !view.notifications_access?? 'd-none' : '' %>">

  <button type="button" aria-expanded="false" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("broadcast", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Notifications</strong>
    <small class="access-details">
      <span class="no-access">No access</span>
      <span class="read-access">Read access</span>
      <span class="via-public-access">via requested public repository access</span>
      <span class="via-full-access">via requested repository access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to read your notifications (no code access).</p>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
