<% unless view.no_org_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details <%= view.org_access_value %> <%= view.no_org_access?? 'd-none' : '' %>">

  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request" aria-expanded="false">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("organization", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Organizations and teams</strong>
    <small class="access-details">
      <span class="no-access">No access</span>
      <span class="read-access"><em class="highlight">Read-only</em> access</span>
      <span class="write-access"><em class="highlight">Read and write</em> access</span>
      <span class="full-access"><em class="highlight">Admin</em> access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>
      <% if view.org_admin_access? %>
        This application will be able to create and manage organizations, teams, and private project boards.
      <% elsif view.org_write_access? %>
        This application will be able to read and modify your organization, team membership, and private project boards.
      <% elsif view.org_read_access? %>
        This application will be able to read your organization, team membership, and private project boards.
      <% else %>
        This application will be able to read public organization membership.
      <% end %>
      </p>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- /.content -->
</div> <!-- /.details-container -->
<% end %>
