<% unless view.no_repo_hook_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details <%= view.repo_hook_access_value %> <%= view.no_repo_hook_access?? 'd-none' : '' %>">

  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request" aria-expanded="false">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("plug", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Repository webhooks and services</strong>
    <small class="access-details">
      <span class="no-access"><em class="highlight">No</em> access</span>
      <span class="read-access"><em class="highlight">Read-only</em> access</span>
      <span class="write-access"><em class="highlight">Read and write</em> access</span>
      <span class="full-access"><em class="highlight">Admin</em> access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>
        <% if view.repo_hook_admin_access? %>
          This application will have full access to repository webhooks and services
        <% elsif view.repo_hook_write_access? %>
          This application will be able to read and modify repository webhooks and services
        <% elsif view.repo_hook_read_access? %>
          This application will be able to list and read repository webhooks and services
        <% else %>
          This application will have no access to repository webhooks and services
        <% end %>
        (no direct code access).
      </p>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- /.content -->
</div> <!-- /.details-container -->
<% end %>
