<% if view.repo_status_access? %>
<div class="px-0 oauth-repo-status-permissions oauth-permissions-details js-details-container Details <%= view.repo_status_access_value %> <%= !view.repo_status_access? ? 'd-none' : '' %>">

  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-expanded="false" aria-label="More information about this request">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("git-commit", :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Commit statuses</strong>
    <small class="access-details">
      <span class="no-access"><em class="highlight">No</em> access</span>
      <span class="full-access"><em class="highlight">Read and write</em> access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to read and write commit statuses (no direct code access).</p>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
