<% unless view.no_user_access? %>
<div class="px-0 border-bottom-0 oauth-user-permissions oauth-permissions-details js-details-container Details <%= view.user_access_value %> <%= view.no_user_access?? 'd-none' : '' %>">
  <button type="button" class="btn-link pr-0 oauth-details-toggle js-details-target"
    aria-label="More information about this request" aria-expanded="false">
    <%= octicon("chevron-down", :height => 24) %>
    <%= octicon("chevron-up", :height => 24) %>
  </button>

  <%= octicon("person", :height => 32, :class => "text-gray-light") %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Personal user data</strong>
    <small class="access-details">
      <span class="full-access">Full access</span>
      <span class="limited-access">Follow users, profile information (read-only), email addresses (read-only)</span>
      <span class="limited-access-emails-followers">Follow users, email addresses (read-only)</span>
      <span class="limited-access-emails-profile">Email addresses (read-only), profile information (read-only)</span>
      <span class="limited-access-followers-profile">Follow users, profile information (read-only)</span>
      <span class="limited-access-profile">Profile information (read-only)</span>
      <span class="limited-access-followers">Follow users</span>
      <span class="limited-access-emails">Email addresses (read-only)</span>
      <span class="no-access">No access</span>
    </small>
  </div>

  <div class="content">
    <div class="permission-help pt-2">
      <% if view.full_user_access? %>
        <p>This application will be able to <strong>read and write all user data</strong>. This includes the following:</p>
        <ul>
          <li>Private email addresses</li>
          <li>Private profile information</li>
          <li>Followers</li>
        </ul>
      <% elsif view.user_follow_access? && view.user_email_access? && view.user_read_access? %>
        <p>This application will be able to read your private email addresses, read your private profile information, and follow other GitHub users.</p>
      <% elsif view.user_follow_access? && view.user_email_access? %>
        <p>This application will be able to read your private email addresses and follow other GitHub users.</p>
      <% elsif view.user_follow_access? && view.user_read_access? %>
        <p>This application will be able to follow other GitHub users and read your private profile information.</p>
      <% elsif view.user_email_access? && view.user_read_access? %>
        <p>This application will be able to read your private email addresses and read your private profile information.</p>
      <% elsif view.user_follow_access? %>
        <p>This application will be able to follow other GitHub users.</p>
      <% elsif view.user_email_access? %>
        <p>This application will be able to read your private email addresses.</p>
      <% elsif view.user_read_access? %>
        <p>This application will be able to read your private profile information.</p>
      <% else %>
        <p>none</p>
      <% end %>
      <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps/"><%= octicon("question", :class => "mr-1") %> Learn more</a>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
