<% users = blacklisted_payment_method.users %>
<% user_links = users.map { |u| link_to u.login, stafftools_user_path(u) } %>

<tr>
  <td><%= blacklisted_payment_method.payment_identifier%></td>
  <td><%= users.size %> users &mdash; <%= safe_join(user_links, ", ") %></td>
  <td><%= time_ago_js blacklisted_payment_method.created_at %></td>
</tr>
