<%# erblint:disable DeprecatedCustomCss %>
<% page_info :title => "Blacklisted Payment Methods" %>

<% content_for :pagehead_path do %>
  / <%= link_to "Spamurai Central", devtools_spamurai_path %>
  / <strong>Blacklisted Payment Methods</strong>
<% end %>

<% show_breadcrumb ||= false %>
<div class="boxed-group spamurai">
  <h3>
    <% if show_breadcrumb %>
      <%= link_to "Spamurai Central /", devtools_spamurai_path, :class => "boxed-group-breadcrumb", "data-pjax" => true %>
    <% end %>
    <%= blacklisted_payment_methods.total_pages %> Blacklisted Payment Methods
  </h3>

  <div class="boxed-group-inner seamless">
    <table class="security-history-detail boxed-group-table">
      <thead>
        <tr>
          <td colspan="3">
            <%= form_tag("/devtools/spamurai/blacklists", :method => "post") do %>
              <input name="login" type="text" class="form-control long" placeholder="User login" aria-label="Blacklist User">
              <button class="btn btn-danger" type="submit" data-confirm="Are you SURE you want to blacklist and suspend this user?">Blacklist and Suspend User</button>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>Payment Identifier</th>
          <th>Users</th>
          <th>Blacklisted</th>
        </tr>
      </thead>

      <tbody>
        <% blacklisted_payment_methods.each do |blacklisted_payment_method| %>
          <%= render "devtools/spamurai/blacklists/blacklisted", :blacklisted_payment_method => blacklisted_payment_method %> 
        <% end %>
      </tbody>
    </table>
      <div class="paginate-container">
        <%= will_paginate blacklisted_payment_methods %>
      </div>
  </div>
</div>
