<%graphql
  fragment RepositoryAction on RepositoryAction {
    globalRelayId:id
    name
    description
    color
    iconName
    iconColor
    resourcePath
    hasVerifiedOwner
    repository {
      stargazerCount
      owner {
        login
      }
    }
  }
%>
<%
  action = Views::Marketplace::Actions::ActionLink::RepositoryAction.new(data)

  default_hydro_payload = {
    repository_action_id: action.global_relay_id,
    source_url: request.url,
    location: controller.controller_name + "#" + controller.action_name
  }
  hydro_data ||= hydro_click_tracking_attributes("marketplace.action.click", default_hydro_payload)

  hide_social_proof ||= false
  show_social_proof = show_marketplace_social_proof_part_2? &&
    action.repository.stargazer_count >= ::RepositoryAction::MIN_STARS_FOR_SOCIAL_PROOF &&
    !hide_social_proof

  action_owner_login = action.repository.owner.login
%>

<%= content_tag(:a, href: action.resource_path, data: hydro_data, class: "col-md-6 mb-4 d-flex no-underline") do -%>
  <div>
    <div style ="background-color: #<%= action.color %>" class="CircleBadge CircleBadge--small">
      <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, owner: action_owner_login) %>
    </div>
  </div>
  <div class="px-3">
    <h3 class="h4"><%= action.name %></h3>
    <% if action&.repository&.owner.present? %>
      <p class="text-gray-light text-small lh-condensed mb-1">By <span class="text-gray"><%= action_owner_login %></span>
        <% if action.has_verified_owner? %>
          <%# erblint:counter TooltipCounter 1 %>
          <span class="tooltipped tooltipped-s" aria-label="Creator verified by GitHub">
            <%= octicon('verified', class: 'hx_text-blue-light') %>
          </span>
        <% end %>
      </p>
    <% end %>
    <p class="text-gray-light lh-condensed break-word mb-0"><%= action.description %></p>
    <% if show_social_proof %>
      <span class="text-small text-gray text-bold"><%= social_count(action.repository.stargazer_count) %> stars</span>
    <% end %>
  </div>
<% end %>
