<%graphql
fragment RepositoryAction on RepositoryAction {
  id
  slug

  repository {
    viewerCanAdminister
  }
}
%>

<%
  action = Views::Marketplace::Actions::DelistButton::RepositoryAction.new(action)
  repo = action.repository
  hydro_payload = {
    repository_action_id: action.id,
    source_url: request.url,
    location: controller.controller_name + "#" + controller.action_name
  }
  hydro_attrs = hydro_click_tracking_attributes("marketplace.action.delist", hydro_payload)
%>

<% if repo.viewer_can_administer? %>
  <%= button_to delete_marketplace_action_path(action.slug),
    method: :delete,
    class: "btn btn-outline btn-sm",
    data: hydro_attrs.merge({
      confirm: "Are you sure you want to delist this Action from the Marketplace? Note: This Action will still be installable as long as the repository is public.",
      disable_with: "Delisting..."
    }) do %>
    <%= octicon "x", class: "mr-1" %>Delist
  <% end %>
<% end %>
