<%# erblint:disable ProperTagNesting %>
<%# erblint:disable LandmarkHasLabel %>
<%graphql
fragment Root on Query {
  repositoryAction: repositoryActionBySlug(slug: $slug) {
    name
    resourcePath
    hasVerifiedOwner

    regularCategories {
      slug
      name
      isFilter
    }
    filterCategories {
      slug
      name
      isFilter
    }

    repository {
      ...Views::Stars::GraphqlStarButton::Repository
      hasIssuesEnabled
      name
      nameWithOwner
      url
      owner {
        login
        resourcePath
        ...HovercardHelper::DataAttributesFragment::RepositoryOwner
      }
      topContributors(limit: $contributorsCount) {
        resourcePath
        ...AvatarHelper::AvatarFragment::Actor
        ...HovercardHelper::DataAttributesFragment::User
      }
      issues(states: OPEN) {
        totalCount
      }
      pullRequests(states: OPEN) {
        totalCount
      }
    }
  }
}
%>
<%
  data = Views::Marketplace::Actions::Sidebar::Root.new(data)
  action = data.repository_action
  repo = action.repository
  categories = action.regular_categories + action.filter_categories
  action_owner_login = action.repository.owner.login
%>

<aside class="col-lg-3 col-md-4 float-md-left mt-6">
  <% if action.has_verified_owner? %>
    <div class="py-3">
      <h5 class="mb-2 text-mono text-normal text-gray-light">
        <%= octicon('verified', class: 'text-blue-light') %>
        Verified creator
      </h5>

      <p class="text-small text-gray">
        GitHub has verified that this action was created by
        <%= link_to action_owner_login, action.repository.owner.resource_path.to_s, class: "link-gray-dark text-bold", data: hovercard_data_attributes_for_repository_owner(action.repository.owner) %>.
      </p>

      <p class="text-small"><a href="<%= "#{GitHub.help_url}/actions/automating-your-workflow-with-github-actions/using-github-marketplace-actions" %>">Learn more about verified Actions</a>.
    </div>
  <% end %>

  <div class="pb-3">
    <h5 class="mb-2 text-mono text-normal text-gray-light">Stars</h5>
    <%= render partial: "stars/graphql_star_button", locals: { star_context: "marketplace_action", repo: repo, show_count: true } %>
  </div>

  <div class="pb-3">
    <h5 class="mb-2 text-mono text-normal text-gray-light">Contributors</h5>
    <div class="ml-n1 clearfix">
      <% repo.top_contributors.each do |user| %>
        <%= link_to user.resource_path.to_s do %>
          <%= graphql_avatar_for(user, 32, class: "avatar ml-1 mt-1 float-left", data: hovercard_data_attributes_for_user(user)) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if categories.any? %>
    <div class="py-3">
      <h5 class="mb-2 text-mono text-normal text-gray-light">Categories</h5>
      <div class="ml-n1 clearfix">
        <% categories.each do |category| %>
          <%= render(Topics::TagComponent.new(
            name: category.name,
            href: marketplace_category_path(category.slug),
            font_size: 6,
            outline: category.is_filter?,
            title: "Category: #{category.name}"
          )) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="py-3 border-bottom border-gray-light">
    <h5 class="text-mono text-normal text-gray-light mb-2">Links</h5>

    <a href="<%= repo.url %>" class="d-block mb-2">
      <%= octicon("repo", class: "text-gray-dark mr-2", width: 14, height: 16) %><%= repo.name_with_owner %>
    </a>

    <% if repo.has_issues_enabled? %>
      <%= link_to issues_path(repo.owner.login, repo.name), class: "d-block mb-2" do %>
        <%= octicon("issue-opened", class: "text-gray-dark mr-2", width: 14, height: 16) %>Open issues
        <%= render Primer::CounterComponent.new(count: repo.issues.total_count, limit: 5_000, float: :right) %>
      <% end %>
    <% end %>

    <%= link_to pull_requests_path(repo.owner.login, repo.name), class: "d-block mb-2" do %>
      <%= octicon("git-pull-request", class: "text-gray-dark mr-2", width: 14, height: 16) %>Pull requests
      <%= render Primer::CounterComponent.new(count: repo.pull_requests.total_count, limit: 5_000, float: :right) %>
    <% end %>

    <%= link_to flavored_contact_path(report: "#{action.name} (GitHub Action)", flavor: "report-abuse"), class: "d-block mb-2" do %>
      <%= octicon("report", class: "text-gray-dark mr-2", width: 14, height: 16) %>Report abuse
    <% end %>
  </div>

  <% unless repo.owner.login == RepositoryAction::ACTIONS_ORG_NAME %>
    <p class="text-gray text-small mt-3" <%= test_selector("certified-notice") %>>
      <strong><%= action.name %></strong> is not certified by GitHub. It is provided by a third-party and is governed by separate terms of service, privacy policy, and support documentation.
    </p>
  <% end %>
</aside>
