<%graphql
fragment on RepositoryAction {
  resourcePath

  releases(first: 10, orderBy: { field: CREATED_AT, direction: DESC }, published: true) {
    nodes {
      tagName
      name
    }
  }
}
%>
<%
  action = Views::Marketplace::Actions::VersionSwitcher.new(action)
  releases = action.releases.nodes
%>

<details class="BtnGroup-parent select-menu select-menu-modal-right position-relative details-reset details-overlay">
  <summary class="BtnGroup-item btn btn-primary btn-large text-left d-block">
    <%= octicon("triangle-down", :"aria-label" => "Choose a version") %>
  </summary>

  <details-menu class="select-menu-modal select-menu-modal-right position-absolute right-0" style="z-index: 99; top: 45px;">
    <div class="select-menu-header">
      <span class="select-menu-title">Choose a version</span>
    </div>

    <div class="select-menu-list" id="versions-filter-results">
      <% releases.each do |release| %>
        <%= link_to "#{action.resource_path}?version=#{release.tag_name}",
          class: "select-menu-item #{'selected' if release.tag_name == selected_version}",
          role: "menuitem" do %>
          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <div class="select-menu-item-heading"><%= release.tag_name %></div>
            <% if release.name.present? %>
              <div class="description css-truncate css-truncate-target" title="<%= release.name %>">
                <%= release.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </details-menu>
</details>
