<%graphql
fragment Root on Query {
  repositoryAction: repositoryActionBySlug(slug: $slug) {
    databaseId
    slug
    name
    description
    color
    iconName
    iconColor
    resourcePath
    readme(tagName: $selectedVersion)
    ...Views::Marketplace::Actions::VersionSwitcher

    latestRelease(published: true) {
      resourcePath
      name
      isPrerelease
      tagName
    }

    selectedRelease: release(tagName: $selectedVersion) {
      resourcePath
      name
      isPrerelease
      tagName
    }

    repository {
      openGraphImageUrl
      owner {
        login
      }
    }
    ...Views::Marketplace::Actions::DelistButton::RepositoryAction
    ...Views::Marketplace::Actions::CodeSnippet::RepositoryAction
  }
  ...Views::Marketplace::Actions::Sidebar::Root
}
%>
<%
  data = Views::Marketplace::Actions::Show::Root.new(data)
  action = data.repository_action
  selected_release = action.selected_release
  latest_release = action.latest_release
  current_release = selected_release || latest_release
  selected_release_is_latest = selected_release&.tag_name == latest_release.tag_name
  action_owner_login = action.repository.owner.login
%>

<% page_info \
  title: "#{action.name} · Actions · GitHub Marketplace",
  stafftools: biztools_repository_action_path(action.database_id),
  description: action.description,
  canonical_url: marketplace_action_url(action.slug),
  container_xl: true,
  richweb: {
    title: "#{action.name} - GitHub Marketplace",
    url: request.original_url,
    description: action.description,
    image: action.repository.open_graph_image_url
  }
%>

<div class="pb-6">
  <div class="container-lg p-responsive">
    <div class="py-3 d-flex">
      <%= render(Primer::BreadcrumbComponent.new(classes: 'flex-auto')) do |component| %>
        <% component.slot(:item, href: marketplace_path) do %>Marketplace<% end %>
        <% component.slot(:item, href: marketplace_path(type: "actions")) do %>Actions<% end %>
        <% component.slot(:item, selected: true) do %><%= action.name %><% end %>
      <% end %>
      <%= render partial: "marketplace/actions/delist_button", locals: { action: action } %>
    </div>

    <% if selected_release.present? && !selected_release_is_latest %>
      <div class="flash flash-warn">
        <div class="container-lg">
          <%= octicon "alert" %>
          You're viewing an older version of this GitHub Action. Do you want to see the <%= link_to "latest version", action.resource_path.to_s %> instead?
        </div>
      </div>
    <% end %>

    <div class="clearfix d-md-flex flex-md-items-center pt-6 ">
      <div class="col-lg-9 col-md-8 pr-lg-6 pr-md-5 d-flex flex-column flex-md-row flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left">
        <div class="CircleBadge CircleBadge--medium box-shadow-large mb-4 mb-md-0" style="background-color: #<%= action.color %>; min-width: 96px;">
          <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, size: "43%", owner: action_owner_login) %>
        </div>
        <div class="pl-md-3 lh-default">
          <h3 class="text-mono f4 text-normal text-gray-light">GitHub Action</h3>
          <h1 class="f1 text-normal mb-1"><%= action.name %></h1>
          <div class="d-flex flex-items-center flex-justify-center flex-md-justify-start">

            <%= octicon("tag") %>
            <span class="mx-2"><%= current_release.tag_name %></span>

            <% if current_release.is_prerelease? %>
              <span class="Label Label--outline mx-2 Label--prerelease">Pre-release</span>
            <% elsif selected_release.nil? || selected_release_is_latest %>
              <span class="Label Label--outline mx-2 Label--outline-green">Latest version</span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-8 mx-auto m-md-0 pt-4 pt-md-0">
        <div class="BtnGroup d-flex width-full">
          <%= render partial: "marketplace/actions/code_snippet", locals: { action: action, selected_version: selected_version } %>

          <%= render "marketplace/actions/version_switcher", action: action, selected_version: selected_version %>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-lg-9 col-md-8 float-md-left pr-lg-6 pr-md-5 mt-6 mb-6 mb-md-0">
        <% if action.readme %>
          <div class="markdown-body">
            <%= action.readme %>
          </div>
        <% else %>
          <div class="blankslate blankslate-spacious mb-3">
            <h2 class="f3 lh-condensed mb-2">No description</h2>
            <p>This GitHub Action has no README in the repository. If <a href="<%= GitHub.help_url %>/articles/about-readmes/">one is added</a>, it will appear here.</p>
          </div>
        <% end %>

      </div>

      <%= render partial: "marketplace/actions/sidebar", locals: local_assigns %>
    </div>
  </div>
</div>
