<%= form_for vulnerability, url: url do |f| %>

  <%= f.text_group "GHSA ID", :ghsa_id, disabled: true, class: "input-sm" %>

  <%= f.text_group "CVE ID", :cve_id, {
    placeholder: "CVE-2016-4738",
    error: error_for(f.object, :cve_id)
  } %>

  <%= f.text_group "WhiteSource ID", :white_source_id, {
    placeholder: "WS-2020-1234",
    error: error_for(f.object, :white_source_id)
  } %>

  <%= f.text_group "External Identifier (deprecated)", :identifier, {
    placeholder: "use CVE ID or WhiteSource ID instead",
    error: error_for(f.object, :identifier)
  } %>

  <%= f.text_group "External reference", :external_reference, {
    placeholder: "e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-4738",
    error: error_for(f.object, :external_reference)
  } %>

  <%= f.select_group "Severity", :severity, Vulnerability::SEVERITIES,
    { include_blank: true },
    { error: error_for(f.object, :severity) }
  %>

  <%= f.text_group "Summary", :summary, {
    error: error_for(f.object, :summary)
  } %>

  <%= f.text_area_group "Description", :description, {
    placeholder: "Markdown is 👌",
    error: error_for(f.object, :description)
  } %>

  <%= f.text_group "Classification", :classification, {
    placeholder: "e.g. Cross-site Scripting (XSS), Arbitrary Code Injection",
    autofocus: true,
    error: error_for(f.object, :classification)
  } %>

  <%
  simulation_disabled = case vulnerability
                        when Vulnerability
                          !vulnerability.pending?
                        when PendingVulnerability
                          vulnerability.vulnerability && !vulnerability.vulnerability.pending?
                        end
  %>
  <div class="form-checkbox">
    <%= f.check_box :simulation, disabled: simulation_disabled %>
    <%= f.label :simulation, "Internal testing only", class: ("text-gray-light" if simulation_disabled) %>
    <p class="note">Exclude this vulnerability from public disclosure. Once published, this value cannot be changed.</p>
  </div>

  <% if vulnerability.is_a?(PendingVulnerability) %>
    <%= f.text_area_group "Review notes", :review_notes, {
      placeholder: "notes for sharing amongst reviewers",
      error: error_for(f.object, :review_notes)
    } %>
  <% end %>

  <div class="form-actions">
    <button type="submit" class="btn">Save <%= vulnerability.class.to_s.titleize %></button>
  </div>
<% end %>
