<% page_info title: "Edit Vulnerability" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box Box--condensed">
    <div class="Box-header">
      <h5>Edit vulnerability</h5>
    </div>

    <div class="Box-body">
      <%= render "stafftools/vulnerabilities/form", {
        vulnerability: vulnerability,
        url: stafftools_vulnerability_path(vulnerability.id)
      } %>
    </div>
  </div>
<% end %>
