<% page_info title: "Vulnerability #{vulnerability.ghsa_id}", selected_link: :vulnerabilities %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render Stafftools::Vulnerabilities::ShowComponent.new(vulnerability: vulnerability) %>
<% end %>
