<%# erblint:counter TooltipCounter 1 %>
<% if logged_in? && (can_star? || is_starred?) %>
  <div class="js-toggler-container js-social-container starring-container <% if is_starred? %>on<% end %>">
    <%= form_tag(gh_unstar_path(@entity), 'class' => 'starred js-social-form') do %>
      <input type="hidden" name="context" value="<%= @context %>"></input>
      <%= content_tag "button",
        type: "submit",
        class: "btn btn-sm #{'btn-with-count' if @show_count} #{'btn-block' if @button_block} js-toggler-target",
        "aria-label": "Unstar this #{@entity.human_name}",
        title: "Unstar #{@entity.name_with_owner}",
        data: unstar_button_data_attributes(@repository, controller_action_slug) do
      -%>
        <%= render GitHub::OcticonComponent.new(icon: "star-fill") %>
        Unstar
      <% end -%>
      <% if @show_count %>
        <a class="social-count js-social-count" href="<%= gh_stargazers_path(@entity) %>"
           aria-label="<%= pluralize @entity.stargazer_count, "user" %> starred this repository">
           <%= helpers.social_count @entity.stargazer_count %>
        </a>
      <% end %>
    <% end %>

    <%= form_tag(gh_star_path(@entity), 'class' => 'unstarred js-social-form') do %>
      <input type="hidden" name="context" value="<%= @context %>"></input>
      <%= content_tag "button",
        type: "submit",
        class: "btn btn-sm #{'btn-with-count' if @show_count} #{'btn-block' if @button_block} js-toggler-target",
        "aria-label": "Unstar this #{@entity.human_name}",
        title: "Star #{@entity.name_with_owner}",
        data: star_button_data_attributes(@repository, controller_action_slug) do
      -%>
        <%= render GitHub::OcticonComponent.new(icon: "star") %>
        Star
      <% end -%>
      <% if @show_count %>
        <a class="social-count js-social-count" href="<%= gh_stargazers_path(@entity) %>"
           aria-label="<%= pluralize @entity.stargazer_count, "user" %> starred this repository">
          <%= helpers.social_count @entity.stargazer_count %>
        </a>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if logged_in? %>
    <button type="button" disabled
          class="btn btn-sm tooltipped tooltipped-s <% if @show_count %>btn-with-count<% end%> <% if @button_block %>btn-block<% end %>"
          aria-label="You can't star at this time">
      <%= octicon('star', class: 'v-align-text-bottom') %>
      Star
    </button>
  <% else %>
    <%= link_to(
      login_path(return_to: polymorphic_path(@entity)),
      class: "btn btn-sm #{"btn-with-count" if @show_count} #{'btn-block' if @button_block} tooltipped tooltipped-s",
      "aria-label": "You must be signed in to star a repository",
      rel: "nofollow",
      data: sign_in_link_data_attributes(location_in_page: "star button", repository_id: @entity.is_a?(Repository) ? @entity.id : nil)
    ) do %>
      <%= render GitHub::OcticonComponent.new(icon: "star", vertical_align: :text_bottom) %>
      Star
    <% end %>
  <% end %>

  <% if @show_count %>
    <a class="social-count js-social-count" href="<%= gh_stargazers_path(@entity) %>"
      aria-label="<%= pluralize @entity.stargazer_count, "user" %> starred this repository">
      <%= helpers.social_count @entity.stargazer_count %>
    </a>
  <% end %>
<% end %>
