<%= form_with url: update_url,
              method: :put,
              class: "mt-2" do %>
  <auto-check src="<%= settings_user_default_branch_check_name_path %>" class="form-group" required>
    <input type="text" name="default_branch_name" class="form-control" autofocus aria-label="custom default branch"
      value="<%= current_default if has_custom_default %>">
    <%= csrf_hidden_input_for settings_user_default_branch_check_name_path %>
  </auto-check>
  <button type="submit" class="btn mr-2" data-disable-invalid data-disable-with="Updating…">Update</button>
  <% unless has_custom_default %>
    <button type="button" class="btn-link js-details-target js-close-menu">Cancel</button>
  <% end %>
<% end %>
