<% if disabled? %>
  <button
    type="button"
    class="<%= btn_class %> <%= tooltip_class %>"
    aria-label="<%= disabled_text %>"
    disabled
    <%= test_selector("codespaces-create-button-disabled") %>>
    <%= render GitHub::OcticonComponent.new(icon: button_icon) if button_icon %>
    <%= text %>
  </button>
<% elsif content %>
  <%= content %>
<% elsif prompt? %>
  <%# Renders a view with all of the currently accessible codespaces in a modal for management. %>
  <%= render(GitHub::DialogComponent.new(title: "Codespace Limit Reached", src: accessible_codespaces_url)) do |dialog| %>
    <% dialog.with(:summary) do %>
      <summary class="<%= btn_class %>"
          <%= test_selector("codespaces-create-button-limit-prompt") %>>
        <%= render GitHub::OcticonComponent.new(icon: button_icon) if button_icon %>
        <%= text %>
      </summary>
    <% end %>

    <p class="mb-0 p-3 border-bottom"><%= LIMIT_TEXT %></p>
    <include-fragment class="SelectMenu-loading" aria-label="Menu is loading">
      <%= render GitHub::OcticonComponent.new(icon: "octoface", size: :medium, class: "anim-pulse") %>
    </include-fragment>
  <% end %>
<% else %>
 <%= form_for(codespace, html: {
   class: ["js-prefetch-codespace-location", "js-toggle-hidden-codespace-form", form_class].join(" ").strip,
   "data-codespace-locations-url": prefetch_location,
   role: "form",
   data: data
  }.merge(test_selector_data_hash("codespaces-create-form"))) do |f| %>
      <%= f.hidden_field(:repository_id) %>
      <%= f.hidden_field(:ref, value: codespace.ref_for_display) %>
      <%= f.hidden_field(:pull_request_id) %>
      <%= hidden_field_tag(:vscs_target, vscs_target) if vscs_target.present? %>
      <%= f.hidden_field(:location) %>
      <%= f.button({class: "#{btn_class} js-toggle-hidden"}.merge(test_selector_data_hash("codespaces-create-button"))) do %>
        <%= render GitHub::OcticonComponent.new(icon: button_icon, class: icon_class) if button_icon %>
        <%= text %>
      <% end %>
      <%= f.button class: "#{btn_class} js-toggle-hidden", disabled: true, hidden: true do %>
        <span class="<%= class_names(["octocat-spinner d-inline-block", icon_class]) %>" style="background-size: 16px;width: 16px;min-height: 16px;background-position-y: 2px;"></span>
        <%= disabled_button_text %>
      <% end %>
  <% end %>
<% end %>
