<%= content_tag(container_element, {
        class: class_names(["d-flex flex-column", container_class]),
        role: wide? ? nil : "menuitem"
      }.merge(
        test_selector_data_hash("codespaces-list-item-component")
      ).merge(
        test_selector_data_hash(codespace.id, name: "codespace-id")
      )
    ) do %>
  <div class="d-flex">
    <% if wide? %>
      <div class="pt-2 pl-2">
        <%= render GitHub::OcticonComponent.new(icon: "device-desktop", class: "text-gray-light") %>
      </div>
    <% end %>
    <div class="<%= class_names(["flex-1 lh-condensed", link_container_class, "p-2": wide?]) %>" style="min-width: 0px">
      <div class="d-flex">
        <% if wide? %>
          <a href="<%= repository_path(codespace.repository) %>" class="v-align-middle muted-link h4 pr-1" <%= safe_data_attributes(hovercard_data_attributes_for_repository(codespace.repository)) %>>
            <%= codespace.repository.nwo %>
          </a>
        <% end %>
        <a href="<%= codespace_path(codespace) %>"
           class="d-block link-gray-dark"
           style="min-width: 0px"
           role="link"
           aria-label="Open codespace <%= codespace.name %>"
           <%= safe_data_attributes(open_codespace_attributes(codespace: codespace, target: :REPO_PAGE_DROPDOWN))  %>>
          <h5 class="<%= class_names(["css-truncate css-truncate-overflow", "h4": wide?]) %>" title="<%= codespace.name %>">
            <%= codespace.name %>
          </h5>
        </a>
      </div>
      <div class="text-small<%= " text-gray d-block mt-1" if wide? %>">
        Last used <%= time_ago_in_words_js codespace.last_used_at %>
        &middot;
        Created <%= time_ago_in_words_js codespace.created_at %>
      </div>
    </div>

    <% if wide? && codespace.pull_request %>

      <div class="p-2 mr-4 ln-condensed">
        <a href="<%= gh_show_pull_request_path(codespace.pull_request) %>" class="muted-link v-align-middle no-underline h5 pr-2">
          <%= "##{codespace.pull_request.number}" %>
        </a>

        <%= render(PullRequests::StateComponent.new(state: codespace.pull_request.state.to_sym, is_draft: codespace.pull_request.draft?, size: :small)) %>
      </div>
    <% end %>

    <% unless show_unpushed_warning? %>
      <%= render Codespaces::DeleteFormComponent.new(
            codespace: codespace,
            repository_id: repository_id,
            ref: ref,
            pull_request_id: pull_request_id,
            delete_class: wide ? "btn btn-danger btn-sm m-2 js-toggle-disabled" : class_names(["btn-octicon text-gray-light js-toggle-hidden", delete_button_class]),
            codespaces_context: codespaces_context,
            pr_dropdown: pr_dropdown,
            wide: wide
      ) do |component| %>
        <% component.with(:delete_button) do %>
          <%= wide ? "Delete" : render(GitHub::OcticonComponent.new(icon: "trashcan")) %>
        <% end %>
        <% unless wide? %>
          <div class="<%= class_names(["octocat-spinner js-toggle-hidden", delete_spinner_class]) %>" style="background-size: 16px 16px; width: 16px; min-height: 16px;" hidden></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if show_unpushed_warning? %>
    <div class="d-flex flex-shrink-0 Box Box--danger <%= wide ? "m-2" : "mx-3 mt-0 mb-3" %>"
        <%= test_selector("codespaces-unpushed-warning") %>>
      <div class="Box-body d-flex flex-items-center <%= wide ? "" : "p-2" %>" style="width: 100%">
        <div class="flex-1 mr-1">
          This codespace has <strong>uncommitted</strong> or <strong>unpushed</strong> changes. Are you sure you want to delete it?
        </div>
        <div>
          <%= render Codespaces::DeleteFormComponent.new(
                codespace: codespace,
                repository_id: repository_id,
                ref: ref,
                pull_request_id: pull_request_id,
                delete_class: "btn btn-danger btn-sm js-toggle-disabled",
                codespaces_context: codespaces_context,
                pr_dropdown: pr_dropdown,
                wide: wide
          ) do |component| %>
            <input type="hidden" name="force_destroy_id" value="<%= codespace.id %>">
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
