<div data-target="get-repo.codespaceList"
     data-replace-remote-form-target
     <%= test_selector("codespaces-list-component") %>
     data-url="<%= codespaces_path(
                          event_target: event_target,
                          repo: query.repository.id,
                          codespace: { ref: query.ref, pull_request_id: query.pull_request_id})
        %>"
  >
  <ul class="list-style-none"
      role="menu">
    <% if show_unauthorized_saml_targets_warning? %>
      <div class="border-bottom">
        <%= render Codespaces::UnauthorizedSamlTargetsComponent.new(unauthorized_saml_targets: unauthorized_saml_targets) %>
      </div>
    <% end %>

    <% dividers_and_items.each do |divider_or_item| %>
      <% if divider_or_item.class == Hash %>
        <div class="SelectMenu-divider"><%= divider_or_item[:nwo] %></div>
      <% else %>
        <%= render Codespaces::ListItemComponent.new(
          codespace: divider_or_item,
          repository_id: query.repository.id,
          ref: query.ref,
          pull_request_id: query.pull_request_id,
          show_unpushed_warning: show_unpushed_warning?(divider_or_item),
          pr_dropdown: pr_dropdown,
          codespaces_context: codespaces_context,
          container_element: "li",
          container_class: "border-bottom",
          link_container_class: "py-3 pl-3",
          delete_button_class: "py-2 px-3 mt-3",
          delete_spinner_class: "py-3 px-4 mt-3"
        ) %>
      <% end %>
    <% end %>
  </ul>

  <%= render Codespaces::ForkUpFrontWarningComponent.new(
    user: current_user,
    repository: repository,
    ref: query.ref,
    font_size: 6, m: 3, p: 2
  ) %>
  <div class="m-3 d-flex">
    <%= render Codespaces::CreateButtonComponent.new(
        codespace: build_codespace,
        prompt_at_limit: prompt_at_limit,
        text: pr_dropdown ? "Open in codespace" : "New codespace",
        btn_class: class_names(["btn", "btn-outline": pr_dropdown, "btn-sm": !pr_dropdown]),
        button_icon: "plus",
        data: create_codespace_attributes(codespace: build_codespace, target: "#{event_target}_DROPDOWN")
    ) %>
  </div>
</div>
