<%# erblint:disable DeprecatedCustomCss %>
<div class="container">
  <div class="sidebar">
    <svg class="logo" height="26" viewBox="0 0 16 16" version="1.1" width="26" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
  </div>
  <div class="tree">
    <div class="l"></div>
    <ul class="lines">
      <li class="l" style="width:60%"></li>
      <li class="l" style="width:70%"></li>
      <li class="l" style="width:50%"></li>
      <li class="l" style="width:64%"></li>
      <li class="l" style="width:83%"></li>
      <li class="l" style="width:81%"></li>
      <li class="l" style="width:40%"></li>
      <li class="l" style="width:55%"></li>
      <li class="l" style="width:50%"></li>
      <li class="l" style="width:68%"></li>
      <li class="l" style="width:60%"></li>
      <li class="l" style="width:75%"></li>
      <li class="l" style="width:77%"></li>
      <li class="l" style="width:40%"></li>
    </ul>
  </div>
  <ul class="tabs-code tabs">
    <li class="tab1">
      <div class="l"></div>
    </li>
    <li class="tab2">
      <div class="l"></div>
    </li>
  </ul>
  <ul class="tabs-steps tabs">
    <li class="tab1">
      <div class="l"></div>
    </li>
    <li class="tab2"></li>
  </ul>
  <div class="code">
    <ul class="lines">
      <li class="l" style="width:30%"></li>
      <li class="l" style="width:70%"></li>
      <li class="l" style="width:50%"></li>
      <li class="l" style="width:25%"></li>
      <li class="l" style="width:0%"></li>
      <li class="l" style="width:15%"></li>
      <li class="l" style="width:40%"></li>
      <li class="l" style="width:55%"></li>
      <li class="l" style="width:15%"></li>
      <li class="l" style="width:0%"></li>
      <li class="l" style="width:60%"></li>
      <li class="l" style="width:75%"></li>
      <li class="l" style="width:77%"></li>
      <li class="l" style="width:40%"></li>
    </ul>
  </div>
  <div class="steps js-codespace-loading-steps" data-current-state="<%= loading_state %>">
    <h4>Preparing your Codespace</h4>
    <ul>
      <li class="initializing">
        <div class="step-header">
          <span class="status status-icon status-icon-progress status-icon-black">
            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="progress" transform="translate(1.000000, 0.000000)" fill-rule="nonzero"><path d="M7.25925926,0.870789 C7.43750519,0.870789 7.60493481,0.905896852 7.76157926,0.976112556 C7.91821333,1.04092633 8.05594222,1.13274559 8.17476593,1.25157967 C8.2936,1.37040337 8.38541926,1.50813226 8.45023407,1.66476633 C8.52045185,1.82141078 8.55555556,1.98884041 8.55555556,2.16708633 C8.55555556,2.34532189 8.52045185,2.51276189 8.45023407,2.66939596 C8.38541926,2.82604041 8.2936,2.9637693 8.17476593,3.082593 C8.05594222,3.2014167 7.91821333,3.29594263 7.76157926,3.36616041 C7.60493481,3.43097522 7.43750519,3.46338263 7.25925926,3.46338263 C7.08101333,3.46338263 6.9135837,3.43097522 6.75693926,3.36616041 C6.60030519,3.29594263 6.4625763,3.2014167 6.34375259,3.082593 C6.22491852,2.9637693 6.13040296,2.82604041 6.06018519,2.66939596 C5.99537037,2.51276189 5.96296296,2.34532189 5.96296296,2.16708633 C5.96296296,1.98884041 5.99537037,1.82141078 6.06018519,1.66476633 C6.13040296,1.50813226 6.22491852,1.37040337 6.34375259,1.25157967 C6.4625763,1.13274559 6.60030519,1.04092633 6.75693926,0.976112556 C6.9135837,0.905896852 7.08101333,0.870789 7.25925926,0.870789 Z M1.69328444,3.99000041 C1.69328444,3.82796337 1.72299556,3.67673226 1.78240741,3.5362967 C1.84181926,3.39586115 1.92284296,3.27434115 2.02545778,3.17171596 C2.13348593,3.06368781 2.25771259,2.97996781 2.39814815,2.92055596 C2.5439763,2.85574115 2.69791407,2.82333374 2.85995111,2.82333374 C3.02198815,2.82333374 3.17322963,2.85574115 3.31365481,2.92055596 C3.45409037,2.97996781 3.57562074,3.06368781 3.67824593,3.17171596 C3.7862637,3.27434115 3.8699837,3.39586115 3.92939556,3.5362967 C3.99421037,3.67673226 4.02661778,3.82796337 4.02661778,3.99000041 C4.02661778,4.15203744 3.99421037,4.30597522 3.92939556,4.45180337 C3.8699837,4.59223893 3.7862637,4.71646559 3.67824593,4.82449374 C3.57562074,4.92711893 3.45409037,5.00813226 3.31365481,5.06754411 C3.17322963,5.12696633 3.02198815,5.15666707 2.85995111,5.15666707 C2.69791407,5.15666707 2.5439763,5.12696633 2.39814815,5.06754411 C2.25771259,5.00813226 2.13348593,4.92711893 2.02545778,4.82449374 C1.92284296,4.71646559 1.84181926,4.59223893 1.78240741,4.45180337 C1.72299556,4.30597522 1.69328444,4.15203744 1.69328444,3.99000041 Z M1.03703704,7.35227152 C1.18286519,7.35227152 1.31789778,7.37927596 1.44212444,7.43328485 C1.56636148,7.48730411 1.67437926,7.56291448 1.76619852,7.6601367 C1.86343111,7.75196633 1.93904148,7.85998411 1.99306074,7.98421078 C2.04706963,8.10844781 2.07407407,8.24347004 2.07407407,8.38930856 C2.07407407,8.5351367 2.04706963,8.6701693 1.99306074,8.79439596 C1.93904148,8.918633 1.86343111,9.02935744 1.76619852,9.12657967 C1.67437926,9.21839893 1.56636148,9.291313 1.44212444,9.34532189 C1.31789778,9.39934115 1.18286519,9.42634559 1.03703704,9.42634559 C0.891203704,9.42634559 0.756173185,9.39934115 0.631944444,9.34532189 C0.507715704,9.291313 0.396990222,9.21839893 0.299768,9.12657967 C0.207947704,9.02935744 0.135030519,8.918633 0.0810185185,8.79439596 C0.0270062074,8.6701693 0,8.5351367 0,8.38930856 C0,8.24347004 0.0270062074,8.10844781 0.0810185185,7.98421078 C0.135030519,7.85998411 0.207947704,7.75196633 0.299768,7.6601367 C0.396990222,7.56291448 0.507715704,7.48730411 0.631944444,7.43328485 C0.756173185,7.37927596 0.891203704,7.35227152 1.03703704,7.35227152 Z M1.9525437,12.7886374 C1.9525437,12.6644004 1.97685185,12.5482523 2.02545778,12.440193 C2.07407407,12.3268449 2.13888889,12.2295708 2.21990222,12.1485782 C2.30092593,12.0675856 2.39545185,12.0027708 2.50346963,11.9541337 C2.61690074,11.9054967 2.73572444,11.88123 2.85995111,11.88123 C2.98417778,11.88123 3.10030519,11.9054967 3.20833333,11.9541337 C3.32175407,12.0027708 3.41898667,12.0675856 3.5,12.1485782 C3.58101333,12.2295708 3.64582815,12.3268449 3.69444444,12.440193 C3.74306074,12.5482523 3.76735852,12.6644004 3.76735852,12.7886374 C3.76735852,12.9128745 3.74306074,13.0317189 3.69444444,13.1450671 C3.64582815,13.2531263 3.58101333,13.3476004 3.5,13.4286967 C3.41898667,13.5096893 3.32175407,13.5745041 3.20833333,13.6231411 C3.10030519,13.6716745 2.98417778,13.6960449 2.85995111,13.6960449 C2.73572444,13.6960449 2.61690074,13.6716745 2.50346963,13.6231411 C2.39545185,13.5745041 2.30092593,13.5096893 2.21990222,13.4286967 C2.13888889,13.3476004 2.07407407,13.2531263 2.02545778,13.1450671 C1.97685185,13.0317189 1.9525437,12.9128745 1.9525437,12.7886374 Z M7.25925926,13.8337634 C7.47530519,13.8337634 7.65895407,13.9093634 7.81018519,14.0605634 C7.9614163,14.2118671 8.03703704,14.3955263 8.03703704,14.6115411 C8.03703704,14.827556 7.9614163,15.0112152 7.81018519,15.1624152 C7.65895407,15.3137189 7.47530519,15.3893189 7.25925926,15.3893189 C7.04321333,15.3893189 6.85956444,15.3137189 6.70833333,15.1624152 C6.55710222,15.0112152 6.48148148,14.827556 6.48148148,14.6115411 C6.48148148,14.3955263 6.55710222,14.2118671 6.70833333,14.0605634 C6.85956444,13.9093634 7.04321333,13.8337634 7.25925926,13.8337634 Z M11.0104296,12.7886374 C11.0104296,12.6049782 11.0725481,12.4510819 11.1967852,12.3268449 C11.3210222,12.2026078 11.4749185,12.1404893 11.6585778,12.1404893 C11.842237,12.1404893 11.9961333,12.2026078 12.1203704,12.3268449 C12.2446074,12.4510819 12.3067259,12.6049782 12.3067259,12.7886374 C12.3067259,12.9722967 12.2446074,13.126193 12.1203704,13.25043 C11.9961333,13.3746671 11.842237,13.4367856 11.6585778,13.4367856 C11.4749185,13.4367856 11.3210222,13.3746671 11.1967852,13.25043 C11.0725481,13.126193 11.0104296,12.9722967 11.0104296,12.7886374 Z M13.4814815,7.87079004 C13.6218963,7.87079004 13.743437,7.92210263 13.8461037,8.02472781 C13.9486667,8.12734263 14,8.248873 14,8.38930856 C14,8.52974411 13.9486667,8.65126411 13.8461037,8.7538893 C13.743437,8.85651448 13.6218963,8.90782707 13.4814815,8.90782707 C13.3410667,8.90782707 13.2195259,8.85651448 13.1168593,8.7538893 C13.0142963,8.65126411 12.962963,8.52974411 12.962963,8.38930856 C12.962963,8.248873 13.0142963,8.12734263 13.1168593,8.02472781 C13.2195259,7.92210263 13.3410667,7.87079004 13.4814815,7.87079004 Z M11.6585778,2.56407448 C11.8530222,2.56407448 12.0366815,2.60188485 12.2094519,2.67750559 C12.3823259,2.75311596 12.5335259,2.85574115 12.6631556,2.98537078 C12.7927852,3.11500041 12.8954519,3.26623152 12.9710519,3.43907448 C13.0466519,3.61191744 13.0845037,3.79555596 13.0845037,3.99000041 C13.0845037,4.18444485 13.0466519,4.36808337 12.9710519,4.54092633 C12.8954519,4.7137693 12.7927852,4.86500041 12.6631556,4.99463004 C12.5335259,5.12425967 12.3823259,5.22688485 12.2094519,5.30250559 C12.0366815,5.37811596 11.8530222,5.41592633 11.6585778,5.41592633 C11.4641333,5.41592633 11.2804741,5.37811596 11.1076,5.30250559 C10.9348296,5.22688485 10.7835259,5.12425967 10.6538963,4.99463004 C10.5242667,4.86500041 10.4217037,4.7137693 10.3460622,4.54092633 C10.2704519,4.36808337 10.2326415,4.18444485 10.2326415,3.99000041 C10.2326415,3.79555596 10.2704519,3.61191744 10.3460622,3.43907448 C10.4217037,3.26623152 10.5242667,3.11500041 10.6538963,2.98537078 C10.7835259,2.85574115 10.9348296,2.75311596 11.1076,2.67750559 C11.2804741,2.60188485 11.4641333,2.56407448 11.6585778,2.56407448 Z" id="Shape"></path></g></svg>
          </span>
          <span class="title">Initialize Codespace</span>
        </div>
      </li>
      <li class="failed">
        <div class="step-header">
          <span class="status status-icon-red">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">  <path fill-rule="evenodd" logp-rule="evenodd" d="M3.72 3.72C3.86062 3.57955 4.05125 3.50066 4.25 3.50066C4.44875 3.50066 4.63937 3.57955 4.78 3.72L8 6.94L11.22 3.72C11.2887 3.64631 11.3715 3.58721 11.4635 3.54622C11.5555 3.50523 11.6548 3.48319 11.7555 3.48141C11.8562 3.47963 11.9562 3.49816 12.0496 3.53588C12.143 3.5736 12.2278 3.62974 12.299 3.70096C12.3703 3.77218 12.4264 3.85702 12.4641 3.9504C12.5018 4.04379 12.5204 4.14382 12.5186 4.24452C12.5168 4.34523 12.4948 4.44454 12.4538 4.53654C12.4128 4.62854 12.3537 4.71134 12.28 4.78L9.06 8L12.28 11.22C12.3537 11.2887 12.4128 11.3715 12.4538 11.4635C12.4948 11.5555 12.5168 11.6548 12.5186 11.7555C12.5204 11.8562 12.5018 11.9562 12.4641 12.0496C12.4264 12.143 12.3703 12.2278 12.299 12.299C12.2278 12.3703 12.143 12.4264 12.0496 12.4641C11.9562 12.5018 11.8562 12.5204 11.7555 12.5186C11.6548 12.5168 11.5555 12.4948 11.4635 12.4538C11.3715 12.4128 11.2887 12.3537 11.22 12.28L8 9.06L4.78 12.28C4.63782 12.4125 4.44977 12.4846 4.25547 12.4812C4.06117 12.4777 3.87579 12.399 3.73837 12.2616C3.60096 12.1242 3.52225 11.9388 3.51882 11.7445C3.51539 11.5502 3.58752 11.3622 3.72 11.22L6.94 8L3.72 4.78C3.57955 4.63938 3.50066 4.44875 3.50066 4.25C3.50066 4.05125 3.57955 3.86063 3.72 3.72Z"></path></svg>
          </span>
          <span class="title">Initializing environment failed</span>
          <span class="action"><a href="https://github.com">Go back to GitHub</a></span>
        </div>
      </li>
    </ul>
  </div>
  <div class="bottom"></div>
</div>
