<%= render Codespaces::CreateButtonComponent.new(
    codespace: nil,
    text: text,
    btn_class: "btn btn-primary",
    prompt_at_limit: false,
    tooltip_class: "tooltipped tooltipped-w"
) do %>
  <details
    class="details-reset details-overlay select-menu select-menu-inline mt-3"
    data-deferred-details-content-url="<%= new_codespace_path %>"
    <%= test_selector("codespaces-create-button-repo-prompt") %>>
    <summary class="btn btn-primary">
      <%= text %>
    </summary>

    <div class="Popover <%= popover_classes %>">
      <div class="Popover-message Popover-message--large text-left p-4 mt-2 Box box-shadow-large <%= popover_msg_classes %>">
        <include-fragment aria-label="Form is loading" class="d-flex flex-column flex-items-center">
          <%= render GitHub::OcticonComponent.new(icon: "octoface", size: :medium, class: "anim-pulse") %>
          <div class="text-gray no-wrap">Loading&hellip;</div>
        </include-fragment>
      </div>
    </div>
  </details>
<% end %>
