<label class="select-menu-item <%= "selected" if selected %> <%= "disabled opaque" if disabled %>" tabindex="0" role="menuitemradio">
  <%= octicon("check", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    <input type="radio" name="repo" value="<%= repository.id %>" <%= "checked" if selected %> <%= "disabled" if disabled %> data-autosubmit>
    <span class="select-menu-item-text" data-menu-button-contents><%= repository.nwo %></span>
  </div>
</label>
