<%= render Codespaces::LoadingComponent.new(codespace: codespace) %>

<!-- Will render Codespaces::WorkbenchFormComponent either immediately or after the provision path polling responds successfully -->
<% if codespace.provisioned? %>
  <%= render Codespaces::WorkbenchFormComponent.new \
    codespace: codespace,
    github_token: github_token,
    user: user
  %>
<% elsif codespace.provisioning? || codespace.pending? %>
  <poll-include-fragment src="<%= provisioned_codespace_path(codespace) %>"></poll-include-fragment>
<% end %>
