<div data-target="get-repo.codespaceList"
     data-replace-remote-form-target
     <%= test_selector("codespaces-wide-list-component") %>
     data-url="<%= codespaces_path %>">

  <% if codespaces.any? %>
    <div class="d-flex flex-row-reverse">
      <div class="position-relative mb-2">
        <%= render Codespaces::PromptCreateButtonComponent.new(
              text: "New codespace",
              popover_classes: "right-0",
              popover_msg_classes: "Popover-message--top-right"
            ) %>
      </div>
    </div>

    <div class="Box">
      <% if show_unauthorized_saml_targets_warning? %>
        <%= render Codespaces::UnauthorizedSamlTargetsComponent.new(unauthorized_saml_targets: unauthorized_saml_targets) %>
      <% end %>

      <% codespaces.each do |codespace| %>
        <%= render Codespaces::ListItemComponent.new(
              codespace: codespace,
              show_unpushed_warning: show_unpushed_warning?(codespace),
              codespaces_context: Codespaces::Query::ACCESSIBLE_CODESPACES,
              container_class: "Box-row p-1 mt-0",
              wide: true
            ) %>
      <% end %>
    </div>
  <% else %>
    <div class="blankslate" <%= test_selector("codespaces-blankslate") %>>
      <%= render GitHub::OcticonComponent.new(
            icon: "code-square",
            size: :medium,
            class: "blankslate-icon text-blue"
      ) %>
      <h3>No active codespaces</h3>
      <p>
        Codespaces let you develop on the cloud, as if you're running a local
        environment.
      </p>
      <%= render Codespaces::PromptCreateButtonComponent.new(
            text: "Create your first codespace",
            popover_classes: "right-0 left-0"
          ) %>

      <% if show_unauthorized_saml_targets_warning? %>
        <div class="Box mt-4 text-left">
          <%= render Codespaces::UnauthorizedSamlTargetsComponent.new(unauthorized_saml_targets: unauthorized_saml_targets) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
