<div class="js-workbench-form-container">
  <%= form_tag service_url, method: :post do %>
    <!-- The cascade token value is fetched async by the form tag below +
    javascript observers for both cascade token and partner info-->
    <%= hidden_field_tag "cascadeToken", "", class: "js-cascade-token" %>
    <%= hidden_field_tag "partnerInfo", partner_info, class: "js-partner-info" %>
  <% end %>
</div>
<%= form_tag mint_cascade_token_codespaces_path(codespace), method: :post, class: "js-fetch-cascade-token" %>
