<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{this_user} - Organizations" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Organizations
    </h2>
  </div>

  <h3 class="site-admin-subhead-heading">
    Audit log
  </h3>
  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <% unless GitHub.single_business_environment? %>
    <h3 class="site-admin-subhead-heading" name="enterprise-memberships">
      Enterprise account membership
    </h3>
    <p>
      These are the Enterprise accounts this user account is a member of. Does not
      include pending invitations or repository collaborator access.
    </p>

    <% if businesses.none? %>
      <p class="site-admin-blankstate">
        This user is not affiliated with any Enterprise accounts.
      </p>
    <% else %>
      <table class="site-admin-table">
        <% businesses.each do |business| %>
          <tr class="text-small text-normal text-gray">
            <td>
              <%= avatar_for business, 24, class: "avatar" %>
              <%= link_to business.slug, people_stafftools_enterprise_path(business.slug) %>
            </td>
            <td><%= GitHub::Plan.business_plus.titleized_display_name if business.plan.business_plus? %></td>
            <td><%= business.name %></td>
            <td><%= "Owner" if business.owner?(this_user) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>

  <h3 class="site-admin-subhead-heading" name="organization-affiliations">
    Organization affiliations
  </h3>

  <p>
    These are the organizations that this user is associated with.
    Organizations are listed whether this user is a direct member,
    <% unless GitHub.enterprise? %>billing manager,<% end %>
    or only holds "outside collaborator" rights on the
    organization’s repositories. Those repositories are listed on
    <%= link_to "collaborating repositories",
                collab_repos_stafftools_user_path(this_user) %>.
  </p>

  <% if orgs.none? %>
    <p class="site-admin-blankstate">
      This user is not a member of any organizations.
    </p>
  <% else %>
    <div class="site-admin-table org-affiliations-table">
      <table>
        <% orgs.each do |org, org_permissions| %>
          <tr class="text-small text-normal text-gray">
            <td>
              <%= avatar_for org, 20, class: :avatar %>
              <%= link_to org, stafftools_user_path(org) %>
            </td>

            <td>
              <% if org.spammy? %>
                <%= link_to "spammy", admin_stafftools_user_path(org) %>
              <% elsif org.disabled? %>
                <%= link_to "disabled", billing_stafftools_user_path(org) %>
              <% elsif org.billing_attempts > 0 %>
                <%= link_to "card declined", billing_stafftools_user_path(org) %>
              <% end %>
            </td>

            <td>
              <%= GitHub::Plan.business_plus.titleized_display_name if org.plan.business_plus? %>
            </td>

            <td>
              <% if org_permissions.include?(:admin) || org_permissions.include?(:member) %>
                Member of <br>
                <%= link_to pluralize(team_counts[org], "team"),
                            stafftools_user_organization_membership_path(this_user, org) %>
              <% end %>
            </td>

            <td>
              <%=
                org_permissions.map do |perm|
                  Organization::Role.name_for_type perm
                end.join(", ")
              %>
            </td>

            <td>
              <%= "2FA Required" if org.two_factor_requirement_enabled? %>
            </td>

            <td class="right-align">
              <%= button_to "Remove",
                            stafftools_user_remove_from_org_path(this_user, org),
                            :form_class => "inline-form float-right",
                            :class => "btn btn-sm",
                            "data-confirm" => "Are you sure you want to remove #{this_user} from #{org}? They will lose access to all repositories and teams." %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

  <% if GitHub.auth.two_factor_authentication_enabled? %>
    <h3 class="site-admin-subhead-heading">
      Organization security
    </h3>

    <p>
      These are the organizations on which this user has security privileges.

      Note that enabling two-factor authentication requirement for an organization
      will also remove the member, manager, or outside collaborator status of any
      affiliated user who doesn’t have two-factor authentication enabled on their
      account. These can be
      <%= link_to "reinstated within three months, however",
                  "#{GitHub.help_url}/articles/reinstating-a-former-member-of-your-organization" %>.
    </p>

    <% if orgs_owned.none? %>
      <p class="site-admin-blankstate">
        This user is not an owner of any organizations.
      </p>
    <% else %>
      <div class="site-admin-table org-affiliations-table">
        <table>
          <% orgs_owned.each do |org| %>
            <tr class="text-small text-normal text-gray">
              <td>
                <%= avatar_for org, 20, class: :avatar %>
                <%= link_to org, stafftools_user_path(org) %>
              </td>

              <td>
                <%= "2FA Required" if org.two_factor_requirement_enabled? %>
              </td>

              <td class="right-align">
                <% if org.two_factor_requirement_enabled? %>
                  <%= button_to "Disable 2FA requirement",
                                stafftools_user_disable_two_factor_requirement_path(this_user, org),
                                :form_class => "inline-form float-right",
                                :class => "btn btn-sm",
                                :method => :put,
                                "data-confirm" => "Are you sure you want to disable 2FA requirement on #{org}?" %>
                <% else %>
                  <% if org.can_two_factor_requirement_be_enabled? %>
                    <% count = org.affiliated_users_with_two_factor_disabled_count %>
                    <%
                      count_string = if count == Organization::TWO_FA_USER_COUNT_LIMIT
                        "more than #{Organization::TWO_FA_USER_COUNT_LIMIT - 1} users"
                      else
                        pluralize(count, 'user', 'users')
                      end
                    %>


                    <% warning = <<~STR
                                  \n
                                  Doing so will remove #{count_string} affiliated
                                  with the organization without two-factor authentication enabled on their account.
                                STR
                    %>
                    <%= button_to "Enable 2FA requirement",
                                  stafftools_user_enable_two_factor_requirement_path(this_user, org),
                                  :form_class => "inline-form float-right",
                                  :class => "btn btn-sm",
                                  :method => :put,
                                  "data-confirm" => "Are you sure you want to enable 2FA requirement on #{org}? #{warning if count > 0}" %>
                  <% else %>
                    2FA requirement cannot be enabled. No admins have 2FA enabled.
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
