<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: "#{this_user} - #{org} membership",
     selected_link: :orgs %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Organizations",
            stafftools_user_organization_memberships_path(this_user) %>
      / <%= org %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Organization
        </th>
        <td>
          <%= link_to org, stafftools_user_path(org) %>
        </td>
      </tr>
      <tr>
        <th>
          Owner?
        </th>
        <td>
          <%= octicon(org.adminable_by?(this_user) ? "check" : "x") %>
          <%= org.adminable_by? this_user %>
        </td>
      </tr>
      <% if GitHub.billing_enabled? %>
        <tr>
          <th>
            Billing manager?
          </th>
          <td>
            <%= octicon(org.billing_manager?(this_user) ? "check" : "x") %>
            <%= org.billing_manager? this_user %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          Direct member?
        </th>
        <td>
          <%= octicon(org.direct_member?(this_user) ? "check" : "x") %>
          <%= org.direct_member? this_user %>
        </td>
      </tr>
    </table>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Team memberships
    </h2>
  </div>

  <% if teams.any? %>
    <div class="site-admin-table">
      <table>
        <% teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, gh_stafftools_team_path(team) %>
          </td>
          <td class="right-align">
            <% if team.legacy_admin? %>
              Legacy admin team
            <% end %>
            <% if team.maintainer?(this_user) %>
              Team maintainer
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      This user is not a member of any teams in this organization.
    </p>
  <% end %>
</div>
