<%# view is an instance of Stafftools::RepositoryViews::RepositoryNotificationsView %>

<div class="site-admin-table f6">
  <table>
    <tbody>
      <% view.reflog_entries.each do |entry| %>
        <%# it's possible for there to be multiple targets for a push, render a separate row for each %>
        <% view.valid_push_targets(entry.targets).each do |target| %>
          <tr>
            <td>
              <code><%= timestamp(entry.time) if entry.time %></code>
            </td>

            <td>
              <% if view.show_splunk_links? %>
                <%= link_to splunk_search_url(view.splunk_message_id_query(ref: target.ref, before: target.before, after: target.after)),
                      class: "tooltipped tooltipped-s", :"aria-label" => "Search for this message in splunk" do %>
                  <code><%= target.before.slice(0, 6) %>&nbsp;&rarr;&nbsp;<%= target.after.slice(0, 6) %> <%= target.ref %></code>
                <% end %>
              <% else %>
                  <code><%= target.before.slice(0, 6) %>&nbsp;&rarr;&nbsp;<%= target.after.slice(0, 6) %> <%= target.ref %></code>
              <% end %>
              <br>
              <% if via = entry.via %>
                <span class="via"><%= via %></span>
              <% end %>

              <% if pull = entry.pull_request %>
                for <%= link_to "##{pull.number}", pull_request_path(pull), :title => pull.title %>
              <% end %>
            </td>

            <td>
              <% if entry.deploy_key? -%>
                <%= link_to current_repository.name, gh_stafftools_repository_path(current_repository), :class => 'name' %>’s
                <%= link_to "deploy key", gh_deploy_keys_stafftools_repository_path(current_repository) %>
              <% elsif user = entry.user -%>
                <%= link_to user, stafftools_user_path(user), :class => 'name' %>
              <% else -%>
                <span class="name"><%= entry.user_login %></span>
              <% end -%>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
