<%
  page_info title: "Codespaces",
            responsive: false,
            selected_link: :organization_codespaces_settings
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::FlexComponent.new(class: "Subhead", style: "align-items: center;") do %>
    <%= render Primer::HeadingComponent.new(tag: :h2, class: "Subhead-heading", style: "flex: 0 1 auto;") do %>
      Codespaces
    <% end %>
    <%= render GitHub::BetaFlagComponent.new(color: :green, font_size: 6, font_weight: :normal, ml: 2, px: 2, style: "position: relative; top: 2px;") %>
  <% end %>

  <%= render Primer::FlexComponent.new(mt: 2, direction: :column) do %>
    <%= render Primer::TextComponent.new do %>
      Codespaces are development environments in the cloud, powered by Visual Studio Code.
    <% end %>
    <%= render partial: "settings/organization/codespaces/settings", locals: { users: users, max_users: max_users } %>
  <% end %>
<% end %>