<div class="text-gray-light text-small text-uppercase">
  Estimated Next Payout
  <% if needs_tax_form? %>
    <%= render GitHub::OcticonComponent.new(icon: "alert", class: "text-orange") %>
  <% end %>
</div>
<% if balance? %>
  <p>
    <span class="f2" <%= test_selector("balance") %>>
      <%= balance %>
    </span>

    <% if needs_tax_form? %>
      <p class="text-small text-orange mb-0" <%= test_selector("needs-tax-form") %>>
        To enable payouts, fill out your
        <%= link_to("tax documentation", tax_form_path, class: "text-inherit text-bold") %>.
      </p>
    <% elsif next_payout_date? %>
      <span class="f2 text-gray-dark mb-0" <%= test_selector("next-payout-date") %>>
        <%= next_payout_date %>
      </span>
    <% else %>
      <p <%= test_selector("probation-days") %>>
        <%= probation_days %> days after the first person sponsors you.
      </p>
    <% end %>
  </p>

  <p class="text-small text-gray mb-0">
    This is your current balance acrued since last payout.
    <br><a class="Bump-link no-underline" href="<%= help_link %>">Learn more <span class="Bump-link-symbol">&rarr;</span></a>
  </p>

<% elsif error? %>
  <p <%= test_selector("error") %>>We're having trouble connecting to Stripe. Please check again later.</p>
  <% if Rails.env.development? %>
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="btn btn-sm" aria-haspopup="dialog">View Error</summary>
      <details-dialog class="Box Box--overlay p-2">
        <h4>Stripe Error</h4>
        <code><%= error %></code>
      </details-dialog>
    </details>
  <% end %>
<% else %>
  <%= image_tag "spinners/octocat-spinner-64-grey.gif", class: "d-inline-block mt-2", alt: "", width: 32 %>
<% end %>
