<div class="text-center pt-6 mt-6 px-4">
  <% if view.selected_tab?(:saved) %>
    <img src="<%= image_path "modules/notifications/saved-blank.svg" %>" alt="Save a notification" class="py-2" style="width: 330px; max-width: 90%; height: auto;">
    <h3 class="py-2">Save something important</h3>
    <p>Notifications you save will appear here to read later</p>
  <% elsif view.selected_tab?(:done) %>
    <img src="<%= image_path "modules/notifications/done-blank.svg" %>" alt="Mark as done" class="py-2" style="width: 330px; max-width: 90%; height: auto;">
    <h3 class="py-2">Mark as done</h3>
    <p>Mark notifications as done so you can move on with your work.<br>New activity appears in your inbox.</p>
  <% elsif view.selected_tab?(:inbox) %>
    <img src="<%= image_path "modules/notifications/inbox-zero.svg" %>" alt="Inbox zero" class="py-2" style="width: 480px; max-width: 90%; height: auto;">
    <h3 class="py-2">All caught up!</h3>
    <p>Take a break, write some code, do what you do best.</p>
  <% elsif view.filter_tab_selected? %>
    <img src="<%= image_path "modules/notifications/filters-zero.svg" %>" alt="Filter zero" class="py-2" style="width: 480px; max-width: 90%; height: auto;">
    <h3 class="py-2">All done here!</h3>
    <p>You're caught up on this filter.</p>
  <% else %>
    <%= octicon("search", height: 32, class: "blankslate-icon") %>
    <h3>No results</h3>
    No notifications matched your query.
  <% end %>
</div>
