<div
  class="js-bulk-action-toasts mb-md-3"
  data-job-url="<%= view.bulk_job_path(viewer_id) %>"
  <% if view.bulk_action_job_running?(viewer_id) %>data-job-in-progress<% end %>
>
  <template class="js-bulk-actions-processing-toast">
    <%= render partial: "shared/toast", locals: { text: "Bulk actions currently being processed.", state: "loading", icon: "sync", dismissable: false } %>
  </template>

  <template class="js-bulk-actions-already-processing-toast">
    <%= render partial: "shared/toast", locals: { text: "We're still processing your last request. Please wait for that to complete before submitting a new request.", state: "loading", icon: "sync", dismissable: false } %>
  </template>

  <template class="js-bulk-actions-failed-toast">
    <%= render partial: "shared/toast", locals: { text: "Bulk action processing failed, please try again.", state: "error", icon: "stop" } %>
  </template>

  <template class="js-bulk-actions-succeeded-toast">
    <%= render partial: "shared/toast", locals: { text: "Bulk action processing complete.", state: "success", icon: "check" } %>
  </template>

  <template class="js-bulk-actions-unsupported-query-toast">
    <%= render partial: "shared/toast", locals: { text: "Bulk actions are not currently supported for this query.", state: "error", icon: "stop" } %>
  </template>
</div>
