<%
  details_dialog_arguments =\
    if button_location == :sidebar
      {
        button_text: "",
        button_icon: "gear",
        button_aria_label: "Customize filters",
        button_class: "btn-link f6 ml-2 d-block",
        details_class: "js-custom-inbox-details d-none d-md-block"
      }
    else
      {
        button_text: "Save",
        button_aria_label: "Save as new filter",
        button_class: "btn btn-outline",
        details_class: "js-custom-inbox-details js-save-search-details ml-2 d-none d-md-block"
      }
    end

  details_dialog_arguments = details_dialog_arguments.merge({
    title: "Filters",
    dialog_class: "Box-overlay--wide js-custom-inbox-dialog",
    deferred_loading_url: notifications_beta_custom_inboxes_dialog_path
  })
%>

<%= render(layout: "shared/details_dialog", locals: details_dialog_arguments) do %>
  <div class="overflow-y-auto js-custom-inbox-dialog-spinner">
    <div class="octocat-spinner my-3" aria-label="Loading..."></div>
  </div>
  <div class="js-custom-inbox-dialog-content overflow-y-auto"></div>
<% end %>
