<% # view is an instance of Notification::V2::IndexView %>

<%graphql
  fragment on User {
    notifications: notificationThreads(first: $first, last: $last, before: $before, after: $after, filterBy: $filterBy, query: $query) {
      totalCount
      nodes {
        ...Views::Notifications::V2::NotificationsItem
        id

        list {
          ... on User {
            id
          }

          ... on Organization {
            id
          }

          ... on Repository {
            id
            nameWithOwner
          }

          ... on Team {
            id
          }
        }

        subject {
          __typename
        }
      }
    }

    repositoryCounts: notificationListsWithThreadCount(first: $notificationListsWithThreadCountFirst, statuses: [UNREAD, READ], listTypes: [REPOSITORY]) {
      nodes {
        list {
          ... on Repository {
            id
          }
        }
        count
        unreadCount
      }
    }
  }
%>

<% viewer = Views::Notifications::V2::NotificationsGroupedList.new(viewer) %>

<%
  repositories = {}
  grouped_notifications = viewer.notifications.nodes.group_by do |notification|
    if notification.list.__typename == "Repository"
      repositories[notification.list.id] = notification.list
      notification.list.id
    else
      notification.subject.__typename
    end
  end

  repository_total_notification_counts = viewer.repository_counts.nodes.inject({}) do |hash, node|
    if node.list.present?
      hash[node.list.id] = view.unread_only? ? node.unread_count : node.count
    end
    hash
  end
%>

<% if viewer.notifications.total_count == 0 %>
  <div
    class="js-notifications-list js-socket-channel js-notifications-blankslate"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.notifications_changed(current_user)) %>"
    data-url="<%= notifications_beta_notifications_exist_path(query: params[:query]) %>"
  >
    <%= render partial: "notifications/v2/blankslate", locals: { view: view } %>
  </div>
<% else %>
  <% view.unauthorized_ip_whitelisting_targets.each do |target| %>
    <div class="Box p-2 mb-2" <%= test_selector("notification-list-ip-whitelisting-target") %>>
      <p class="note">
        <%= octicon("shield-lock", height: 14, class: "text-gray mx-1") %>
        <%= restricted_ip_whitelisting_target_hint(target, text: "to see your notifications", join_word: "within") %>
      </p>
    </div>
  <% end %>

  <% view.unauthorized_saml_targets.each do |target| %>
    <div class="Box p-2 mb-2" <%= test_selector("notification-list-saml-target") %>>
      <p class="note">
        <%= octicon("shield-lock", height: 14, class: "text-gray mx-1") %>
        <%= restricted_sso_target_link(target, return_to: request.url, text: "to see your notifications", join_word: "within") %>
      </p>
    </div>
  <% end %>

  <div <%= test_selector("notifications-grouped-list-view") %>>
    <div class="Box mx-0 mt-0 border-0">
      <% unless view.selected_tab?(:saved) %>
        <div class="Box-header d-flex flex-items-center py-2 pl-md-0 pl-3 rounded-1" style="height: 52px;">
          <label class="h6 pl-0 pl-md-4">
            <input class="mr-1 js-notifications-mark-all-prompt" type="checkbox" data-check-all autocomplete="off">

            <span class="js-select-all-text">
              Select all
            </span>
            <span class="js-count-selected-text" hidden>
              <span data-check-all-count>0</span> selected
            </span>
            <span class="js-all-count-selected-text" hidden>
              <%= viewer.notifications.total_count %> selected
            </span>
          </label>

          <%= render partial: "notifications/v2/actions/bulk_actions", locals: { view: view, mark_all: false, total_count: viewer.notifications.total_count } %>
          <%= render partial: "notifications/v2/actions/bulk_actions", locals: { view: view, mark_all: true, total_count: viewer.notifications.total_count} %>
        </div>
      <% end %>
    </div>

    <div class="js-navigation-container js-active-navigation-container">
      <% grouped_notifications.each do |(group_key, notifications)| %>
        <%
          repository = repositories[group_key]
          total_repository_count = repository_total_notification_counts[group_key] if repository.present?
          title = if repository
                    repository.name_with_owner
                  else
                    group_key.titlecase.pluralize
                  end
        %>

        <div class="Box mt-3 js-notifications-group">
          <div class="Box-header d-flex flex-items-center p-2 pl-3">
            <h6 class="flex-auto m-0" <%= test_selector("notifications-group-header") %>>
              <%= title %>
            </h6>
            <%= form_tag notifications_beta_mark_as_archived_path, class: "d-none d-md-block js-grouped-notifications-mark-all-read-button" do %>
              <% notifications.each do |notification| %>
                <input type="hidden" name="notification_ids[]" value="<%= notification.id %>">
              <% end %>

              <button type="submit" title="Mark as done"
                      class="btn btn-sm">
                <span class="text-center d-inline-block" style="width:16px"><%= octicon("check") %></span>
                Mark as done
              </button>
            <% end %>
          </div>
          <div class="Box-body p-0">
            <ul class="list-style-none bg-gray <%= "mixed-notifications-tab" if view.show_all_notification_states? %> <%= "archived-notifications-tab" if view.show_only_archived_notifications? %>">
              <% notifications.each do |notification| %>
                <%= render partial: "notifications/v2/notifications_item", locals: {
                  notification: notification,
                  view: view
                } %>
              <% end %>
            </ul>
            <% if total_repository_count && total_repository_count > notifications.size %>
              <%= render partial: "notifications/v2/notifications_group_view_all", locals: {
                  href: view.notifications_repository_tab_path(repository.name_with_owner, true),
                  text: "View all #{pluralize(number_with_delimiter(total_repository_count), "notification")}"
              } %>
            <% elsif group_key == "Gist" %>
              <%= render partial: "notifications/v2/notifications_group_view_all", locals: {
                  href: view.notifications_gists_path,
                  text: "View all gist notifications"
              } %>
            <% elsif group_key == "TeamDiscussion" %>
              <%= render partial: "notifications/v2/notifications_group_view_all", locals: {
                  href: view.notifications_team_discussions_path,
                  text: "View all team discussion notifications"
              } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex flex-items-center text-gray mt-4 mb-6 f6 flex-justify-center">
      <%= octicon('light-bulb', :class => 'text-gray') %>
      <div class="ml-1">
        <strong>ProTip!</strong>
        <%= view.protip %>
      </div>
    </div>
  </div>
<% end %>
