<%# erblint:disable DeprecatedCustomCss %>
<%
  # `view` is an instance of `Notifications::V2::IndexView`
  query = query&.rstrip
%>

<%= form_tag view.notifications_path,
      method: :get,
      class: "js-notification-search-form ml-0 subnav-search flex-auto js-navigation-container",
      role: "search",
      :"data-pjax" => true do
%>
  <input
    type="text"
    name="query"
    value="<%= query.blank? ? "" : query + " " %>"
    class="form-control subnav-search-input width-full subnav-search-input-wide input-contrast js-navigation-enable js-notification-search-input"
    placeholder="Filter notifications"
    aria-label="Filter notifications"
    autocomplete="off"
    data-initial-value="<%= query %>"
    data-suggested-repositories-path="<%= notifications_beta_suggested_repositories_path %>"
    data-suggestable-qualifiers="<%= view.suggestable_qualifiers.to_json %>"
    data-suggestable-reasons="<%= view.suggestable_reasons.to_json %>"
    data-suggestable-types="<%= view.suggestable_types.to_json %>"
    <% if view.notification_search_enabled? %>data-elasticsearch-enabled<% end %>
    <% if view.selected_tab?(:saved) %>disabled<% end %>
    <%= test_selector("notifications-search-input") %>
  >
  <%= octicon('filter', class: 'subnav-search-icon') %>
  <button
    type="button"
    class="position-absolute top-0 right-0 mt-2 mr-1 btn-link issues-reset-query js-notification-search-clear"
    aria-label="Clear filters"
    <%= "hidden" if query.blank? %>>
    <%= octicon("x", class: "issues-reset-query-icon") %>
  </button>

  <div
    class="js-notification-search-autocomplete-dropdown card-filter-autocomplete-dropdown bg-white boxed-group-list border boxed-group-standalone rounded-1 mt-1 position-absolute overflow-auto bg-white hide-sm width-full"
    <%= test_selector("notifications-autocomplete-dropdown") %>
    data-filter-support-url="<%= "#{GitHub.help_url}/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox#custom-filter-limitations" %>"
    hidden
  >
    <div class="px-2 py-1">
      <div class="js-notification-search-autocomplete-results"></div>
    </div>
  </div>
<% end %>
