<div class="flash js-notice js-unwatch-suggestions"
  <%= test_selector("unwatch-suggestions-alert-repo") %>
  <% repo = view.selected_repositories.first %>
  <%= safe_data_attributes(hydro_view_tracking_attributes("notifications.unwatch_suggestion_event.shown_alert", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))) %>
>
  <%= form_tag notifications_beta_dismiss_unwatch_suggestion_alert_path, :class => "js-notice-dismiss", :"data-replace-remote-form" => true do %>
    <button
      class="flash-close"
      type="submit"
      name="dismiss"
      <%= test_selector("unwatch-suggestions-alert-repo-dismiss") %>
      <%= safe_data_attributes(hydro_click_tracking_attributes("notifications.unwatch_suggestion_event.dismissed_alert", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))) %>
    >
      <%= octicon("x", :"aria-label" => "Dismiss") %>
    </button>
  <% end %>
  <%=
    render(
      partial: 'notifications/subscription_menu',
      locals: {
        repository: {
          id: repo.id,
          name: repo.name,
          owner: repo.owner.login,
          public: repo.public,
        },
        subscription_type: :watching,
        show_watcher_count: false,
        inside_flash_alert: true,
        unwatch_hydro_tracking_attributes: hydro_click_tracking_attributes("notifications.unwatch_suggestion_event.unwatch_repository", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))
      }
    )
  %>
  We've noticed that you rarely interact with this repository, are you sure you need notifications?
</div>
