<%graphql

fragment PullRequestCommitCommentThread on PullRequestCommitCommentThread {
  id

  comments(first: 20, after: $after, before: $before) {
    pageInfo {
      hasNextPage
      endCursor
    }

    nodes {
      databaseId
      updateResourcePath
      ...CommitCommentsHelper::CommitCommentActionTextFragment
      ...Views::Comments::Comment::Comment
    }
  }
}

%>
<%- pull_request_commit_comment_thread = Views::PullRequestCommitCommentThreads::MoreComments::PullRequestCommitCommentThread.new(pull_request_commit_comment_thread) -%>

<% pull_request_commit_comment_thread.comments.nodes.each do |comment| %>
  <%= render "comments/comment", {
        comment: comment,
        legacy_commit_comment: true,
        form_path: comment.update_resource_path.to_s,
        dom_id: "commitcomment-#{comment.database_id}",
        action_text: graphql_commit_comment_action_text(comment, reply: true)
      } %>
<% end %>

<% if pull_request_commit_comment_thread.comments.page_info.has_next_page %>
  <%= render "pull_request_commit_comment_threads/comments_loader", {
        id: pull_request_commit_comment_thread.id,
        after: pull_request_commit_comment_thread.comments.page_info.end_cursor,
        before: params[:variables][:before]
      } %>
<% end %>
