<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 3 %>

<%= outdated_slack_installation_warning %>
<%= render partial: "reminders/header", locals: { title: "Scheduled reminders" } %>

<% if view.slack_workspaces.empty? %>
  <% if view.can_add_slack_workspace? %>
    <div class="blankslate">
      <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 40, class: "mb-3" %>
      <h3 class="mb-1">No scheduled reminders created.</h3>
      <p>To keep projects moving, you can now remind your teams about pull requests they need to review.</p>

      <% if view.slack_installation_outdated? %>
        <span class="btn btn-primary my-3 disabled">Connect a Slack workspace to get started</span>
      <% else %>
        <a href="<%= authorize_reminder_slack_workspace_path(view.organization) %>" class="btn btn-primary my-3">Connect a Slack workspace to get started</a>
      <% end %>
    </div>
  <% else %>
    <div class="blankslate">
      <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 40, class: "mb-3" %>
      <h3 class="mb-1">To get started, ask an organization owner to connect a Slack workspace.</h3>
      <p>This feature reminds your team about pull requests they need to review.</p>
    </div>
  <% end %>
<% else %>
  <% view.slack_workspaces.each do |slack_workspace| %>
    <% if !view.grouped_reminders[slack_workspace].empty? %>
      <div class="Box mb-3">
        <div class="menu-heading d-flex flex-items-center">
          <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 16, class: "pr-2" %>
          <%= slack_workspace.name %>
        </div>
        <% view.grouped_reminders[slack_workspace].each do |reminder| %>
          <div class="Box-row d-flex flex-justify-between flex-items-center">
            <div class="pr-1">
              <% if view.can_edit_reminder?(reminder) %>
                <%= link_to "##{reminder.slack_channel}", reminders_url_for(:show, id: reminder.id) %>
              <% else %>
                <span class="tooltipped tooltipped-se tooltipped-multiline" aria-label="This reminder is setup for multiple teams on the Slack Channel #<%= reminder.slack_channel %>. An org admin for <%= reminder.remindable.name %> needs to edit it">#<%= reminder.slack_channel %></span>
              <% end %>
              <span class="text-small text-gray-light pl-1" title="Delivering to <%= reminder.teams.to_sentence %>">
                <%= reminder.delivery_times_text %>
              </span>
              <p class="text-gray-light m-0"><%= reminder.description(include_team: view.locked_to_team.nil?) %></p>
            </div>
            <div class="BtnGroup mr-2" style="min-width: 75px">
              <%= button_to reminders_url_for(:reminder_test, id: reminder.id), form_class: "d-inline", style: "border-right-width: 0px;", class: "btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline", "aria-label": "Send a test reminder" do %>
                <%= octicon "megaphone" %>
              <% end %>
              <% if view.can_edit_reminder?(reminder) %>
                <a href="<%= reminders_url_for(:show, id: reminder.id) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder">
                  <%= octicon "pencil" %>
                </a>
              <% else %>
                <span class="btn BtnGroup-item btn-sm disabled tooltipped tooltipped-sw tooltipped-multiline" aria-label="This reminder is setup for multiple teams on the Slack Channel #<%= reminder.slack_channel %>. An org admin for <%= reminder.remindable.name %> needs to edit it">
                  <%= octicon "pencil" %>
                <span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end -%>
  <% end -%>
  <% if view.reminders_present? %>
    <div>
      <% if view.slack_installation_outdated? %>
        <span class="btn disabled">Add reminder</span>
      <% else %>
        <a href="<%= reminders_url_for(:new) %>" class="btn" role="button">Add reminder</a>
      <% end %>
    </div>
  <% else %>
    <div class="blankslate">
      <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 40, class: "mb-3" %>
      <h3 class="mb-1">No scheduled reminders created.</h3>
      <p>To keep projects moving, you can now remind your <%= view.can_add_slack_workspace? ? "team" : "teams" %> about pull requests they need to review.</p>
      <% if view.slack_installation_outdated? %>
        <span class="btn btn-primary my-3 disabled">Add your first reminder</span>
      <% else %>
        <a href="<%= reminders_url_for(:new) %>" class="btn btn-primary my-3">Add your first reminder</a>
      <% end %>
    </div>
  <% end -%>
<% end -%>
