<%# view is an instance of Repositories::SecurityOverviewView %>

<%
  page_info(
    title: "Security Overview · #{view.repository.name_with_owner}",
    container_xl: true,
    selected_link: :overview,
    skip_responsive_padding: true,
  )
%>
<%= render layout: "layouts/repository/security" do %>
  <div class="Subhead d-none d-md-block">
    <h2 class="Subhead-heading">Security overview</h2>
  </div>
  <div class="my-md-4">
    <ul class="Box Box--responsive" data-pjax>
      <li class="Box-row d-flex flex-items-center">
        <img alt="Code alert" width="56px" height="auto" src="<%= image_path "modules/site/icons/security-admin.svg" %>" class="mr-3 flex-self-start flex-shrink-0">
        <div>
          <% if view.read_only_viewer? %>
            <div class="h4">View security details for this repository</div>
            <div class="text-gray-dark">See security announcements from this repository's maintainers</div>
          <% else %>
            <div class="h4">Set up security features for your repository</div>
            <div class="text-gray-dark">Keep your work safe with security features from GitHub</div>
          <% end %>
        </div>
      </li>
      <% if !GitHub.enterprise? %>
        <li class="Box-row d-flex">
          <span class="flex-shrink-0">
            <%= octicon(view.security_policy_indicators[:octicon], class: view.security_policy_indicators[:class], "aria-label": view.security_policy_indicators[:label]) %>
          </span>

          <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
            <div class="flex-auto mr-2">
              <div>
                <div>
                  <span class="text-bold">Security policy</span>
                  <% if view.security_policy_exists? %>
                    <span class="text-gray">&mdash; Active</span>
                  <% end %>
                </div>
                <span class="text-gray-light">
                  <% if view.security_policy_exists? %>
                    View how to securely report security vulnerabilities for this repository
                  <% elsif view.security_policy_editable? %>
                    Define how users should report security vulnerabilities for this repository
                  <% else %>
                    Suggest how users should report security vulnerabilities for this repository
                  <% end %>
                </span>
              </div>
            </div>
            <% if view.security_policy_exists? %>
              <a class="flex-shrink-0" href="<%= view.security_policy_path %>">View security policy</a>
            <% else %>
              <a class="btn btn-sm flex-grow-0 text-center mt-2 mt-md-0" href="<%= view.security_policy_path %>">
                <% if view.security_policy_editable? %>
                  Set up a security policy
                <% else %>
                  Suggest a security policy
                <% end %>
              </a>
          <% end %>
          </div>
        </li>

        <% if view.security_advisories_show? %>
          <li class="Box-row d-flex">
            <span class="flex-shrink-0">
              <%= octicon(view.security_advisories_indicators[:octicon], class: view.security_advisories_indicators[:class], "aria-label": view.security_advisories_indicators[:label]) %>
            </span>

            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <div>
                  <div>
                    <span class="text-bold">Security advisories</span>
                  </div>
                  <span class="text-gray-light">
                    View<%= " or disclose" if view.security_advisories_creatable? %> security advisories for this repository
                  </span>
                </div>
              </div>

              <a class="flex-shrink-0" href="<%= view.security_advisories_view_path %>">View security advisories</a>
            </div>
          </li>
        <% end %>

        <% if view.dependency_alerts_show? %>
          <li class="Box-row d-flex">
            <span class="flex-shrink-0">
              <%= octicon(view.dependency_alerts_indicators[:octicon], class: view.dependency_alerts_indicators[:class], "aria-label": view.dependency_alerts_indicators[:label]) %>
            </span>

            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <div>
                  <span class="text-bold">Dependabot alerts</span>
                  <% if view.dependency_alerts_configured? %>
                    <span class="text-gray">&mdash; Active</span>
                  <% end %>
                </div>
                <span class="text-gray-light">
                  Get notified when one of your dependencies has a vulnerability
                </span>
              </div>

              <div class="d-flex d-md-block flex-shrink-0">
                <% if view.dependency_alerts_configured? %>
                  <a href="<%= view.dependency_alerts_view_path %>">View Dependabot alerts</a>
                <% elsif view.dependency_alerts_configurable? %>
                  <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= security_analysis_settings_path(current_repository) %>">Enable Dependabot alerts</a>
                <% else %>
                  <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="You don't have permission to enable this feature">Enable Dependabot alerts</span>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>

      <% if view.code_scanning_show? %>
        <li class="Box-row d-flex" <%= test_selector("code-scanning-overview-item") %>>
          <span class="flex-shrink-0">
            <%= octicon(view.code_scanning_indicators[:octicon], class: view.code_scanning_indicators[:class], "aria-label": view.code_scanning_indicators[:label]) %>
          </span>

          <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
            <div class="flex-auto mr-2">
              <div>
                <span class="text-bold">Code scanning alerts</span>
                <% if view.code_scanning_configured? %>
                  <span class="text-gray">&mdash; Active</span>
                <% end %>
              </div>
              <span class="text-gray-light">
                <% if view.code_scanning_public_but_needs_private? %>
                  Code scanning for private repositories is part of GitHub Advanced Security
                <% else %>
                  Automatically detect common vulnerability and coding errors
                <% end %>
              </span>
            </div>

            <div class="d-flex d-md-block flex-shrink-0">
              <% if view.code_scanning_configured? %>
                <a href="<%= view.code_scanning_view_path %>" <%= test_selector("code-scanning-overview-view-alerts") %>>
                  View alerts
                </a>
              <% elsif !GitHub.enterprise? && view.code_scanning_public_but_needs_private? %>
                <a href="<%= ent_contact_url %>" <%= test_selector("code-scanning-overview-got-public-need-private") %>>
                  Contact sales
                </a>
              <% elsif !GitHub.enterprise? && !view.code_scanning_enrolled? %>
                <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= view.code_scanning_beta_enrolment_path %>"
                  <%= test_selector("code-scanning-overview-beta-signup") %>>
                  Sign up for the beta
                </a>
              <% elsif view.code_scanning_configurable? %>
                <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= view.code_scanning_configure_path %>"
                  <%= test_selector("code-scanning-overview-set-up") %>>
                  Set up code scanning
                </a>
              <% else %>
                <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="You don't have permission to enable code scanning"
                  <%= test_selector("code-scanning-overview-set-up-disabled") %>>
                  Set up code scanning
                </span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>

      <% if view.token_scanning_show? %>
        <li class="Box-row d-flex">
          <span class="flex-shrink-0">
            <%= octicon(view.token_scanning_indicators[:octicon], class: view.token_scanning_indicators[:class], "aria-label": view.token_scanning_indicators[:label]) %>
          </span>

          <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
            <div class="flex-auto mr-2">
              <div>
                <span class="text-bold">Detected secrets</span>
                <% if view.token_scanning_configured? %>
                  <span class="text-gray">&mdash; Active</span>
                <% end %>
              </div>
              <span class="text-gray-light">
                Get notified when a secret is pushed to this repository
              </span>
            </div>

            <div class="d-flex d-md-block flex-shrink-0">
              <% if view.token_scanning_configured? %>
                <a href="<%= view.token_scanning_view_path %>">View detected secrets</a>
              <% elsif view.token_scanning_configurable? %>
                <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= security_analysis_settings_path(current_repository) %>">Enable secret scanning</a>
              <% else %>
                <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="You don't have permission to enable secret scanning">Enable secret scanning</span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
