<%# erblint:counter TooltipCounter 1 %>

<%
  page_info(
    title: "Security Policy · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :policy,
    skip_responsive_padding: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<%= render layout: "layouts/repository/security" do %>
  <% if security_policy.exists? %>
    <div class="Box Box--condensed">
      <div class="Box-header d-flex flex-items-center">
        <h3 class="Box-title flex-auto">
          <%= security_policy.path %>
        </h3>
        <% if blob_view.edit_enabled? %>
          <%= form_tag file_edit_path(repository: security_policy.repository, user_id: security_policy.repository.owner, name: security_policy.default_branch, path: security_policy.path), class: "inline-form js-update-url-with-hash" do %>
            <button class=" Box-btn-octicon btn-octicon tooltipped tooltipped-nw" type="submit" aria-label="<%= blob_view.file_action_tooltip(action: :edit) %>" data-disable-with <%= test_selector("edit-link") %>>
              <%= octicon("pencil") %>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="Box-body">
        <%= format_readme(security_policy.file) %>
      </div>
    </div>
  <% elsif new_file_view.new_file_action_enabled? %>
    <div class="blankslate blankslate-spacious Box border-gray-light mb-2">
      <h3 class="mb-1 h3">Set up a security policy</h3>

      Help your community understand how to securely report security vulnerabilities for your project.

      <%= form_tag new_file_path(name: current_repository.default_branch), method: :post do %>
        <input hidden name="security_policy" value="1">
        <%= submit_tag "Start setup", class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  <% else %>
    <div class="blankslate blankslate-spacious mb-2">
      <h3 class="mb-1 h3">No security policy detected</h3>

      This project has not set up a <span class="text-mono">SECURITY.md</span> file yet.
    </div>
  <% end %>
<% end %>
