<%# `view` is an instance of Businesses::OrganizationInvitations::SuggestionsView %>

<% if view.suggestions? %>
  <% view.suggested_organizations.each do |org, suggested_org| %>
    <li class="js-suggested-org member-suggestion typeahead-result
      <%= "disabled" unless suggested_org.item_enabled? %>"
      <%= %Q{aria-disabled="true"} unless suggested_org.item_enabled? %>
      role="option"
      data-autocomplete-value="<%= org %>">

      <%= avatar_for org, 24, class: "avatar" %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= org %></strong>
        <span class="member-name">
          <%= org.profile_name %>
        </span>
      </p>

      <% unless suggested_org.invitable? %>
        <p class="non-member-note text-small text-gray"><%= suggested_org.uninvitable_reason_text %></p>
        <p class="non-member-action text-small text-gray"><%= suggested_org.uninvitable_reason_text %></p>
      <% end %>

      <% if suggested_org.invitable? %>
        <%= octicon "plus", class: "float-right" %>
      <% end %>

      <div class="d-none js-suggested-org-details-source">
        <div class="p-3 ml-4 mt-3 border rounded-1">
          <div class="d-flex">
            <%= avatar_for org, 56, class: "avatar mr-3" %>
            <div>
              <div class="text-bold mt-2">
                <%= org.profile_name || org.login %>
              </div>
              <div class="text-gray-light f6">
                <% org_seats = org.filled_seats %>
                <%= number_with_delimiter org_seats %>
                <%= pluralize_without_number org_seats, "unique seat" %>
              </div>
            </div>
          </div>
          <div class="f6">
            <hr>
            <%= view.business.name %> will have
            <% business_available_seats = view.business.available_licenses %>
            <% seats_left = business_available_seats - org_seats %>
            <%= number_with_delimiter seats_left %>
            <%= pluralize_without_number seats_left, "user license" %>
            left
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% else %>
  <li class="non-member-result disabled typeahead-result"
      data-autocomplete-value="<%= view.query %>"
      role="option"
      aria-disabled="true">
    <%= view.query %> isn’t an organization
  </li>
<% end %>
