<% page_info :title => "Image attachment"  %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Image attachment</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        <div class="summary">
          <%= render "stafftools/user_assets/summary", :asset => this_asset %>
        </div>
      </p>
    </div>
  </div>

  <% if GitHub.flipper[:schaefer_send_for_scanning].enabled?(current_user) %>
    <% unless GitHub.enterprise? %>
      <div class="boxed-group">
        <h3>Automated content classification</h3>
        <div class="boxed-group-inner d-flex">
          <div class="pr-3">
            <h4>Submit for automated content classification</h4>
            <p>
             If you suspect that this image contains Child Sexual Exploitation Imagery or Extreme Terrorism content,
             submit this image for classification and potential flagging. <strong>Do not delete the asset.</strong>
            </p>
          </div>
          <div class="full-button">
            <%= form_tag stafftools_user_asset_scan_path(this_asset), :method => 'post' do %>
              <button type="submit" class="btn btn-danger">Submit for classification</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="boxed-group dangerzone">
    <h3>Danger Zone</h3>
    <div class="boxed-group-inner">
      <a href="#delete_user_asset_confirmation" rel="facebox[.dangerzone]"
                                          class="btn btn-danger boxed-action">
        Delete image attachment
      </a>
      <h4>Delete image attachment</h4>
      <p>Delete this image attachment. This is not reversible.</p>

      <div id="delete_user_asset_confirmation" style="display:none">
        <div class="facebox-header" id="facebox-header">
          Delete image attachment
        </div>
        <p id="facebox-description">
          This will delete the image attachment.
          <strong>Are you certain?</strong>
        </p>

        <div class="full-button">
          <%= form_tag stafftools_user_asset_path(this_asset), :method => 'delete' do %>
            <button type="submit" class="btn btn-danger">Delete image attachment</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
