<% page_info :selected_link => :account_billing %>

<% content_for :nav_sidebar do %>
  <nav class="menu">
    <%= link_to billing_stafftools_user_path(this_user), class: "menu-heading" do %>
      <%= octicon("rocket") %>
      Billing
    <% end %>
    <%= selected_link_to \
          "Summary",
          billing_stafftools_user_path(this_user),
          highlight: :stafftools_user_billing,
          class: "menu-item" %>
    <%= selected_link_to \
          "Payment history",
          stafftools_user_billing_history_path(this_user),
          class: "menu-item" %>
  </nav>

  <% if this_user.plan_metered_billing_eligible? %>
    <nav class="menu">
      <div class="menu-heading">
        <%= octicon("dashboard") %>
        Metered Billing
      </div>
      <%= selected_link_to("Actions", stafftools_user_metered_billing_actions_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Packages Bandwidth", stafftools_user_metered_billing_packages_bandwidth_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Shared Storage Usage", stafftools_user_metered_billing_shared_storage_usage_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Actions Artifact Expirations", stafftools_user_metered_billing_actions_artifact_expirations_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Metered Usage Exports", stafftools_user_metered_exports_path(this_user), class: "menu-item") %>
    </nav>
  <% end %>
<% end %>

<%= render template: "layouts/stafftools/user" %>
