<%# erblint:disable LandmarkHasLabel %>
<% page_info :selected_link => :account_collaboration unless @selected_link %>

<% content_for :nav_sidebar do %>
  <nav class="menu">
    <%= selected_link_to \
          "Organizations",
          stafftools_user_organization_memberships_path(this_user),
          class: "menu-item",
          highlight: :orgs %>
    <%= selected_link_to \
          "Collaborating repositories",
          collab_repos_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Watched & Ignored repositories",
          watching_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Starred repositories",
          starred_repos_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Contributing repositories",
          contributing_repos_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Recent comments",
          stafftools_user_comments_path(this_user),
          :class => "menu-item" %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to \
            "Arctic Code Vault Contributions",
            acv_contributions_stafftools_user_path(this_user),
            :class => "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
