<%# erblint:disable LandmarkHasLabel %>
<% page_info :selected_link => :account_admin %>

<% content_for :nav_sidebar do %>
  <nav class="menu">
    <%= stafftools_selected_link_to "Overview",
          overview_stafftools_user_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to "Admin",
          admin_stafftools_user_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to "Emails",
          stafftools_user_emails_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to "Avatars",
          stafftools_user_avatars_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to "Feature & Beta Enrollments",
          stafftools_user_feature_enrollments_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to GitHub.user_abuse_mitigation_enabled? ? "Blocked & Followed users" : "Followed users",
          user_interactions_stafftools_user_path(this_user),
          class: "menu-item" %>
    <% if GitHub.user_abuse_mitigation_enabled? %>
      <%= stafftools_selected_link_to "Abuse reports",
            abuse_reports_stafftools_user_path(this_user),
            class: "menu-item" %>
    <% end %>
    <%= stafftools_selected_link_to "Search",
          search_stafftools_user_path(this_user),
          class: "menu-item" %>
    <%= stafftools_selected_link_to "Database",
          database_stafftools_user_path(this_user),
          class: "menu-item" %>
    <% if GitHub.rate_limiting_enabled? && !GitHub.enterprise? %>
      <%= stafftools_selected_link_to "Rate limits",
            rate_limits_stafftools_user_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.retired_namespaces_enabled? %>
      <%= stafftools_selected_link_to "Retired namespaces",
            retired_namespaces_stafftools_user_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <% if stafftools_action_authorized?(controller: Stafftools::UsersController, action: :successors) %>
        <%= stafftools_selected_link_to "Account Successor",
              successors_stafftools_user_path(this_user),
              class: "menu-item" %>
      <% end %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
