<%# erblint:disable LandmarkHasLabel %>
<% page_info :selected_link => :account_security %>

<% content_for :nav_sidebar do %>
  <nav class="menu">
    <%= selected_link_to \
          "Security",
          security_stafftools_user_path(this_user),
          :highlight => :stafftools_user_security,
          :class => "menu-item" %>
    <%= selected_link_to \
          "SSH keys",
          keys_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "GPG keys",
          stafftools_user_gpg_keys_path(this_user),
          :highlight => :gpg_keys,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Owned applications",
          developers_stafftools_user_applications_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Authorized GitHub owned apps",
          github_stafftools_user_applications_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Authorized OAuth applications",
          stafftools_user_applications_path(this_user),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Personal access tokens",
          stafftools_user_oauth_tokens_path(this_user),
          :highlight => :personal_tokens,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Owned GitHub Apps",
          stafftools_user_apps_path(this_user),
          :highlight => :integrations,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Installed GitHub Apps",
          stafftools_user_installations_path(this_user),
          :highlight => :installations,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Authorized GitHub apps",
          authorizations_stafftools_user_apps_path(this_user),
          :class => "menu-item" %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
