<%# erblint:disable LandmarkHasLabel %>
<% page_info :selected_link => :account_admin %>

<% content_for :nav_sidebar do %>
  <nav class="menu">
    <%= stafftools_selected_link_to \
          "Overview",
          overview_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= stafftools_selected_link_to \
          "Admin",
          admin_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= stafftools_selected_link_to \
          "Emails",
          stafftools_user_emails_path(this_user),
          :class => "menu-item" %>
    <%= stafftools_selected_link_to \
          "Avatars",
          stafftools_user_avatars_path(this_user),
          :class => "menu-item" %>
    <% if GitHub.user_abuse_mitigation_enabled? %>
      <%= stafftools_selected_link_to \
            "Blocked users",
            user_interactions_stafftools_user_path(this_user),
            :class => "menu-item" %>
    <% end %>
    <%= stafftools_selected_link_to \
          "Search",
          search_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <%= stafftools_selected_link_to \
          "Database",
          database_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <% if GitHub.retired_namespaces_enabled? %>
    <%= stafftools_selected_link_to \
          "Retired namespaces",
          retired_namespaces_stafftools_user_path(this_user),
          :class => "menu-item" %>
    <% end %>
    <% if GitHub.domain_verification_enabled? %>
      <%= stafftools_selected_link_to \
            "Domains",
            domains_stafftools_user_path(this_user),
            class: "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/organization" %>
