<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="-2 0 62 62">
  <g stroke-linecap="round" stroke-width="2" fill="none" fill-rule="evenodd">
    <g stroke="#005cc5">
      <path d="M35 25c-.716-2.865-3.578-5-7-5-3.423 0-6.287 2.14-7 5" stroke-linejoin="round"></path>
      <path d="M28 10a5 5 0 110 10 5 5 0 010-10z"></path>
      <path d="M28.565 5C35.18 5 41 10.82 41 18.565 41 25.18 35.18 31 28.565 31 20.82 31 15 25.18 15 18.565 15 10.82 20.82 5 28.565 5z" stroke-linejoin="round"></path>
    </g>
    <g stroke="#2188ff" stroke-linejoin="round">
      <path d="M18 46c-.267-1.727-1.973-3-4-3-2.08 0-3.787 1.318-4 3m4-9a3 3 0 100 6 3 3 0 000-6z"></path>
      <path d="M14 33a9 9 0 110 18 9 9 0 110-18z"></path>
    </g>
    <g stroke="#2188ff" stroke-linejoin="round">
      <path d="M46 46c-.267-1.727-1.973-3-4-3-2.08 0-3.787 1.318-4 3m4-9a3 3 0 100 6 3 3 0 000-6z"></path>
      <path d="M42 33a9 9 0 110 18 9 9 0 110-18z"></path>
    </g>
    <path stroke="#2188ff" stroke-linejoin="round" d="M17.025 31.008l-1.391 2.077M39.001 31.008l1.391 2.077"></path>
  </g>
</svg>
