<% if should_show_enterprise_trial_banner?(organization) %>
  <% upgrade_path_args = {
    org: organization,
    target: "organization",
    plan: "business_plus",
    source: "trial_upgrade"
  } %>
  <% trial = Billing::EnterpriseCloudTrial.new(organization)
  case which_trial_banner(organization)
  when :warning_banner %>
    <% if display_organization_notice?(organization, current_user, :enterprise_trial_warning_banner) %>
      <div class="p-2 bg-gray js-notice" <%= test_selector('enterprise-trial-warning-banner') %>>
        <div class="flash flash-warn d-flex flex-justify-between flex-items-center width-full text-gray-dark py-2">
          <div>
            <strong>Your GitHub Enterprise trial will expire in <%= pluralize trial.days_remaining, "day" %>.</strong>
            <a href="<%= upgrade_path(upgrade_path_args) %>">
            Buy Enterprise
            </a>
            for your team or
            <a href="<%= ent_contact_url %>">contact sales</a>. See
            <a href="<%= settings_org_billing_path(organization) %>">Billing for details</a>.
          </div>
          <div>
            <%= link_to "Buy Enterprise", upgrade_path(upgrade_path_args), class: "btn btn-sm btn-primary" %>

            <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss float-right mt-1 ml-2" do %>
              <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
              <input type="hidden" name="input[notice]" value="<%= User::ORGANIZATION_NOTICES[:enterprise_trial_warning_banner] %>">
              <button type="submit" class="close-button float-right" aria-label="Hide this notice forever">
                <%= octicon("x", :height => 16, :class => 'text-gray-light') %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% when :expired_banner %>
    <% if display_organization_notice?(organization, current_user, :enterprise_trial_expired_banner) %>
      <div class="p-2 bg-gray js-notice" <%= test_selector('enterprise-trial-expired-banner') %>>
        <div class="flash flash-error d-flex flex-justify-between flex-items-center width-full text-gray-dark py-2">
          <div>
            <strong>Your GitHub Enterprise trial period has expired.</strong>
            <a href="<%= upgrade_path(upgrade_path_args) %>">
            Buy Enterprise
            </a>
            for your team or
            <a href="<%= ent_contact_url %>">contact sales</a>. See
            <a href="<%= settings_org_billing_path(organization) %>">Billing for details</a>.
          </div>
          <div>
            <%= link_to "Buy Enterprise", upgrade_path(upgrade_path_args), class: "btn btn-sm btn-primary" %>

            <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss float-right mt-1 ml-2" do %>
              <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
              <input type="hidden" name="input[notice]" value="<%= User::ORGANIZATION_NOTICES[:enterprise_trial_expired_banner] %>">
              <button type="submit" class="close-button float-right" aria-label="Hide this notice forever">
                <%= octicon("x", :height => 16, :class => 'text-gray-light') %>
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% when :countdown_banner %>
    <div class="countdown-clock bg-gray pt-1 pr-3 d-none d-sm-block" <%= test_selector("countdown-banner")%>>
      <div class="bg-blue text-white p-1 px-3" style="border-radius:15px">
        <details class="details-overlay details-reset">
          <summary
            aria-label="Trial countdown"
            data-ga-click="<%= ga_label_with_analytics_tracking_id("Enterprise Cloud trial notification,click,text:Trial ends;") %>"
          >
            Trial ends
            <%= trial.time_remaining.utc.strftime("%d") %><span class="clock-blink">:</span><%= trial.time_remaining.utc.strftime("%H") %><span class="clock-blink">:</span><%= trial.time_remaining.utc.strftime("%M") %>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-sw mr-3" style="width: 220px">
            <div class="text-gray-dark p-3">
              <%= svg("orgs/enterprise") %>
              <h4 class="py-3">Enterprise trial</h4>
              Your trial expires in
              <%= pluralize trial.days_remaining, "day" %>.
              <%= link_to "Contact sales", ent_contact_url, data: { ga_click: ga_label_with_analytics_tracking_id("Enterprise Cloud trial notification,click,text:Contact sales;") } %> for questions.
              <%= link_to "Visit billing", settings_org_billing_path(organization), data: { ga_click: ga_label_with_analytics_tracking_id("Enterprise Cloud trial notification,click,text:Visit billing;") } %> for more options.

              <%= link_to "Buy Enterprise", upgrade_path(upgrade_path_args), class: "btn btn-sm btn-outline mt-4", data: { ga_click: ga_label_with_analytics_tracking_id("Enterprise Cloud trial notification,click,text:Buy Enterprise;") } %>
            </div>
          </details-menu>
        </details>
      </div>
    </div>

  <% end %>
<% end %>
