<%# `view` is an instance of `Orgs::OverviewView` %>
<div>
  <nav class="js-profile-tab-count-container UnderlineNav hx_UnderlineNav" data-url="<%= user_tab_counts_path(view.organization) %>" aria-label="Organization">
    <ul class="<%= class_names(
      "list-style-none UnderlineNav-body width-full p-responsive",
      "container-lg" => !container_xl?,
      "container-xl" => container_xl?
    ) %>">
      <li class="d-flex">
        <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:repos) %>" href="<%= user_path(view.organization) %>">
          <%= octicon('repo', class: "UnderlineNav-octicon") %>
          Repositories
          <%= render Primer::CounterComponent.new(count: nil, classes: "js-profile-repository-count") %>
        </a>
      </li>

      <% if view.show_packages? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:packages) %>" href="<%= org_packages_path(view.organization) %>">
            <%= octicon("package", class: "UnderlineNav-octicon") %>
            Packages
            <%= render Primer::CounterComponent.new(count: nil, classes: "js-profile-package-count") %>
          </a>
        </li>
      <% end %>

      <% unless view.hide_people? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:members) %>" href="<%= org_people_path(view.organization) %>">
            <%= octicon('person', class: "UnderlineNav-octicon") %>
            People
            <%= render Primer::CounterComponent.new(count: nil, classes: "js-profile-member-count") %>
          </a>
        </li>
      <% end %>

      <% if view.show_teams? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:teams) %>" href="<%= teams_path(view.organization) %>">
            <%= octicon('jersey', class: "UnderlineNav-octicon") %>
            Teams
            <%= render Primer::CounterComponent.new(count: nil, classes: "js-profile-team-count") %>
          </a>
        </li>
      <% end %>

      <% if view.show_projects? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:projects) %>" href="<%= projects_path(owner: view.organization) %>" data-hotkey="g b">
            <%= octicon("project", class: "UnderlineNav-octicon") %>
            Projects
            <%= render Primer::CounterComponent.new(count: nil, classes: "js-profile-project-count") %>
          </a>
        </li>
      <% end %>

      <% if view.show_discussions? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:discussions) %>" href="<%= org_discussions_path(view.organization) %>">
            <%= octicon("comment-discussion", class: "UnderlineNav-octicon") %>
            Discussions
          </a>
        </li>
      <% end %>

      <% if view.organization.member?(current_user) && view.organization.insights_enabled? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:insights) %>" href="<%= org_insights_path(view.organization) %>">
            <%= octicon('graph', class: "UnderlineNav-octicon") %>
            Insights
          </a>
        </li>
      <% end %>

      <% if view.show_policies? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:policies) %>" href="<%= org_policies_path(view.organization) %>">
            <%= octicon('tasklist', class: "UnderlineNav-octicon") %>
            Policies
          </a>
        </li>
      <% end %>

      <% if view.show_admin_stuff? %>
        <li class="position-relative float-left d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:settings) %>" href="<%= settings_org_profile_path(view.organization) %>">
            <%= octicon('gear', class: "UnderlineNav-octicon") %>
            Settings
          </a>
        </li>
      <% elsif view.show_manager_stuff? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:settings) %>" href="<%= view.manager_org_settings_path %>">
            <%= octicon("gear", class: "UnderlineNav-octicon") %>
            Settings
          </a>
        </li>
      <% elsif view.show_apps_manager_stuff? %>
        <li class="d-flex">
          <a class="UnderlineNav-item <%= view.selected_class_for_nav_item(:settings) %>" href="<%= view.manage_org_apps_settings_path %>">
            <%= octicon("gear", class: "UnderlineNav-octicon") %>
            Settings
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
