<%# `view` is an instance of Orgs::HeaderView %>

<% page_info stafftools: stafftools_user_path(view.organization) %>

<div class="<%= class_names(
  "pagehead orghead border-bottom-0",
  "pt-0 pt-lg-3" => responsive?
) %>">
  <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
    <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView,
          organization: view.organization %>
  </div>
  <%= render_partial_view "orgs/header_nav", Orgs::HeaderView,
        organization: view.organization,
        selected_nav_item: view.selected_nav_item || :members %>
</div>
