<%= issues_triage_menu_hidden_fields(params[:issues]) %>

<div class="select-menu-list">
  <div data-filterable-for="triage-label-filter-field" data-filterable-type="substring">
    <% issues_triage_menu_label_counts(current_repository.sorted_labels, params[:issues]) do |label, count, total| %>
      <% selected = count > 0 %>
      <% indeterminate = selected && count < total %>
      <label
        role="menuitemcheckbox"
        aria-checked="<%= indeterminate ? "mixed" : selected %>"
        class="select-menu-item text-normal"
        data-name="labels[<%= label.id %>]"
        data-value="1"
        tabindex="0">

        <input
          type="checkbox"
          hidden
          <% if indeterminate %>data-indeterminate<% elsif selected %>checked<% end %>>

        <%= octicon(:check, class: "select-menu-item-icon") %>
        <%= octicon(:dash, class: "select-menu-item-icon") %>

        <div class="select-menu-item-text css-truncate">
          <div class="css-truncate-target">
            <span class="color" style="background-color: #<%= label.color %>">&nbsp;</span>
            <span class="name"><%= html_label_name(label.name) %></span>
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <div class="select-menu-no-results">No labels found. Sorry about that.</div>
</div>
