<details class="details-reset details-overlay select-menu d-inline-block js-issue-triage-menu" data-url="<%= show_menu_content_issues_path(partial: "issues/triage/milestones_content") %>">
  <summary class="btn-link select-menu-button">
    Milestone
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <%= form_tag "#{issues_path}/triage", method: :put do %>
      <div class="select-menu-header">
        <span class="select-menu-title">Set milestone</span>
      </div>

      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input
            type="text"
            id="triage-milestones-filter-field"
            class="form-control js-filterable-field"
            placeholder="Filter milestones"
            aria-label="Filter milestones"
            autocomplete="off"
            autofocus>
        </div>
      </div>

      <div class="js-triage-deferred-content"></div>
    <% end %>
  </details-menu>
</details>
