<%= issues_triage_menu_hidden_fields(params[:issues]) %>

<div class="select-menu-list">
  <div data-filterable-for="triage-milestones-filter-field" data-filterable-type="substring">
    <button type="button" role="menuitem" class="select-menu-item width-full" name="milestone" value="0">
      <%= octicon(:check, class: "select-menu-item-icon") %>
      <div class="select-menu-item-text">No milestone</div>
    </button>

    <% issues_triage_menu_milestone_counts(current_repository.milestones.open_milestones, params[:issues]) do |milestone, count, total| %>
      <% selected = count > 0 %>
      <% indeterminate = selected && count < total %>
      <button
        type="button"
        role="menuitemradio"
        class="select-menu-item width-full"
        aria-checked="<%= indeterminate ? "mixed" : selected %>"
        name="milestone"
        value="<%= milestone.id %>">

        <%= octicon(:check, class: "select-menu-item-icon") %>
        <%= octicon(:dash, class: "select-menu-item-icon") %>

        <div class="select-menu-item-text"><%= milestone.title %></div>
      </button>
    <% end %>
  </div>

  <div class="select-menu-no-results">Nothing to show</div>
</div>
