<hr class="bleed-flush">

<%= form_tag sponsorable_country_of_residence_path(@sponsorable.login), method: :put do %>
  <dl class="form-group" <%= test_selector "country-residence-form" %>>
    <dt>
      <label for="country"><%= country_label %></label>
      <p class="note" id="country-description">
        This is required for tax purposes.
      </p>
    </dt>
    <dd>
      <%= select_tag(:country_of_residence, options_for_select(
            TradeControls::Countries.currently_unsanctioned.map do |country_name, alpha2, _, _|
              [country_name, alpha2]
            end,
            country_of_residence
          ),
            id: "country",
            name: "country_of_residence",
            class: "form-select form-select",
            required: true,
            'aria-describedby': "country-description",
            prompt: "Select a country or region",
        ) %>
      <% if @return_to.present? %>
        <input type="hidden" name="return_to" value="<%= @return_to %>" <%= test_selector "country-residence-return-to" %>>
      <% end %>
      <button class="btn" type="submit">Save</button>
    </dd>
  </dl>
<% end %>
