<%= form_with model: @membership, url: sponsorable_legal_name_path(@sponsorable.login), method: :put do |f| %>
  <dl class="form-group">
    <dt>
      <%= f.label(:legal_name, legal_name_label, for: "legal-name") %>
      <p class="note" id="legal-name-description">
        <% if @sponsorable.user? %>
          This information is for GitHub's internal use only, so we can make payments to your bank account.
          It will not be shared publicly nor with your sponsors.
        <% else %>
          The name of your organization so we can make payments to your organization's bank account.
        <% end %>
      </p>
    </dt>
    <dd>
      <%=
        f.text_field(
          :legal_name,
          required: true,
          'aria-describedby': "legal-name-description",
          data: test_selector_hash("legal-name-input"),
          id: "legal-name",
          class: "form-control",
        )
      %>
      <%= f.submit("Save", class: "btn") %>
    </dd>
  </dl>

  <hr class="bleed-flush">
<% end %>
