<hr class="bleed-flush">

<dl class="form-group">
  <dt>
    <span class="text-bold d-block">Payouts email</span>
    <p class="note">
      The email address used to contact you about payouts from Stripe Connect.
    </p>
  </dt>
  <dd>
    <span class="text-bold" <%= test_selector "stripe-payout-email" %>>
      <%= @listing.stripe_connect_account.stripe_account_details["email"] %>
    </span> &mdash;
    <a href="<%= new_sponsorable_stripe_account_path(@sponsorable.login, path: "/account") %>" target="_blank">
      Edit in Stripe Connect account settings <%= octicon "link-external" %>
    </a>
  </dd>
</dl>
