<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 1 %>
<% if view.two_factor_partial_sign_in? %>
  <p class="flash flash-full flash-warn">
    Two-factor authentication prevented the sign in attempt from being successful. Your password was entered correctly, but an authentication code was not entered correctly.
  <p>
<% end %>

<div class="Box-row p-3 session-device">
  <!-- Activity indicator -->
  <%= view.session_status_indicator %>

  <!-- Revoke button -->
  <% if view.revoked? %>
    <button type="button" disabled class="btn btn-sm btn-danger btn-state-alternate text-center">Revoke session</button>
  <% elsif view.revokable_session? %>
    <%= form_tag user_sessions_revoke_path(view.session_id), :method => :delete, "data-sudo-required" => "low" do %>
      <button type="submit" class="btn btn-sm btn-danger btn-state-alternate text-center">Revoke session</button>
    <% end %>
  <% end %>

  <!-- Device type (Desktop/Mobile) -->
  <span class="session-icon tooltipped tooltipped-s" aria-label="<%= view.device_display_name %>">
    <% if view.mobile? %>
      <%= octicon("device-mobile", :height => 32) %>
    <% else %>
      <%= octicon("device-desktop", :height => 32) %>
    <% end %>
  </span>

  <!-- Details -->
  <div class="session-details js-details-container">
    <!-- Location -->
    <strong class="d-block">
      <% if view.location.any? %>
        <%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %>
      <% end %>
      <span><%= view.ip_address %></span>
    </strong>

    <% if view.revoked? %>
      <small class="text-orange">
        This session has been logged out and is no longer active.
      </small>
    <% end %>

    <!-- Gimme those dates -->
    <small class="text-gray d-block">
      <% if view.current_session? %>
        Your current session
      <% else %>
        <%= view.accessed_text %>
        <time>
          <%= view.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %>
        </time>
      <% end %>
    </small>

    <!-- Country List -->
    <% if view.location_information? %>
      <small class="text-gray">
        Seen in <%= view.country_history %>
      </small>
    <% end %>

    <div class="sessions-more-info position-relative">
      <% if view.device_display_name %>
        <p>
          <strong>Device:</strong><br>
          <%= view.device_display_name %>
        </p>
      <% end %>

      <% if view.location.any? %>
        <p>
          <strong>Last location:</strong><br>
          <%= view.location_description(view.location) %>
        <p>
      <% end %>

      <p>
        <strong><%= view.sign_in_text %></strong><br>
        <time><%= view.created_at.in_time_zone(Time.zone).strftime('%B %d, %Y') %></time>
        <br><%= view.location_description(view.sign_in_location) %>
      </p>
    </div>
  </div>

  <% if view.show_saml_section? %>
    <div class="session-details js-user-sessions-container">
      <ul class="list-style-none">
        <% view.external_identity_sessions.each do |external_session| %>
          <% if identity = external_session.external_identity %>
            <li class="border-top mt-3 pt-3 js-user-session js-details-container Details">
              <%= form_tag external_identity_target_sso_revoke_path(identity.target),
                method: :delete, class: "js-user-sessions-revoke" do %>
                <button type="submit" class="btn btn-sm">Revoke SAML</button>
              <% end %>

              You signed in to
              <%= link_to identity.target, external_identity_target_resource_path(identity.target) %>
              via <%= link_to "your SAML IdP", external_identity_target_sso_path(identity.target),
                :class => "tooltipped tooltipped-e",
                :"aria-label" => "Issuer: #{identity.provider.issuer}"
              %>.
              <br>
              Your session expires
              <%= time_ago_in_words_js external_session.expires_at %>.

              <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false" aria-label="Toggle identity details">&hellip;</button></span>

              <div class="sessions-more-info position-relative Details-content--hidden">
                <strong>NameID</strong>: <%= identity.saml_user_data.name_id %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if view.location_information? %>
    <div class="js-map-data"
      data-country="<%= view.location[:country_code] %>"
      data-map-data='<%= view.map_data %>'>
    </div>
    <div class="map-container position-relative mt-4">
      <div class="js-sessions-map map bg-blue overflow-hidden rounded-1 box-shadow">
        <div class="activity position-absolute d-none text-center">
          <img class="graph-loading dots"
               src="<%= image_path "spinners/octocat-spinner-blue-128.gif" %>"
               width="64"
               alt="">
        </div>
        <div class="js-map-country-info map-country-info position-absolute rounded-1 p-2 bg-gray-light">
        </div>
      </div>
    </div>
  <% end %>
</div>
