<% page_info responsive: false, title: "Sessions" %>

<% content_for :scripts do %>
  <%= javascript_bundle "graphs" %>
<% end %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Session details<% end %>
  <% end %>

  <div class="Box bg-gray-light">
    <%= render_partial_view "settings/user/sessions/session_details",
      UserSessions::ShowView, current_user_session: user_session, session_or_auth_record: session_or_auth_record %>
  </div>

  <div class="mt-2">
    <%= link_to "View all sessions", settings_user_security_path %>
  </div>
<% end %>
