<%# erblint:disable DeprecatedCustomCss %>
<div class="boxed-group">
<% if !view.paths_data_present? %>
  <h3>
    <a href="<%= gh_traffic_path(current_repository) %>">Domains</a> /
    There was an error
  </h3>
  <p class="flash-error flash">
    We tried to fetch all that exciting traffic information, but it looks like something went wrong.
    You can refresh the page or <a href="<%= contact_path %>?form[subject]=Traffic%20Graphs">contact a human</a> in support.
  </p>
<% else %>
<h3>
  <a href="<%= gh_traffic_path(current_repository) %>" class="js-pjax-history-navigate" data-pjax-preserve-scroll>Domains</a> /
  <%= view.referrer_domain %>
  <%= image_tag(view.referrer_favicon, :class => "top-domains-icon", :width => "16", :height => "16", :alt => view.referrer_domain) %>
</h3>
<table class="capped-list boxed-group-inner">
  <thead>
    <th>Path</th>
    <th class="middle">Visits</th>
    <th class="middle">Unique Visits</th>
  </thead>
  <tbody>
  <% view.referrer_paths.each do |path| %>
  <tr>
    <td class="capped-list-label">
      <a title="<%= path['path'] %>" href="http://<%= view.referrer_domain %><%= path['path'] %>" rel="nofollow">
        <%= octicon('link-external') %>
        <%= path['path'] %>
      </a>
    </td>
    <td class="middle"><%= number_with_delimiter(path['total'], :delimiter => ',') %></td>
    <td class="middle"><%= number_with_delimiter(path['unique'], :delimiter => ',') %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
</div>
