<%# erblint:disable DeprecatedCustomCss %>
<%# "view" is an instance of Repositories::Graph::TrafficView %>
<% if view.fetch_data %>
  <%- if view.data_present? %>
    <div class="gutter d-flex">
      <%# Left column %>
      <div id="top-domains" class="col-6 top-domains" data-pjax-container data-pjax>
        <% if !view.show_referrer_paths? %>
          <%= render :partial => "graphs/referring_sites", :locals => { :view => view } %>
        <% else %>
          <%= render :partial => "graphs/referrer_paths", :locals => { :view => view } %>
        <% end %>
      </div>

      <%# Right column %>
      <div class="col-6 top-content boxed-group">
        <h3>Popular content</h3>
        <table class="capped-list boxed-group-inner">
          <thead>
            <th>Content</th>
            <th class="middle">Views</th>
            <th class="middle">Unique visitors</th>
          </thead>
          <tbody>
          <% view.cleaned_content.each do |content| %>
          <tr>
            <td class="capped-list-label"><%= octicon('file') %><a title="<%=h content['title'] %>" href="<%=h content['path'] %>"><%=h content['title'] %></a></td>
            <td class="middle"><%= number_with_delimiter(content['total'], :delimiter => ',') %></td>
            <td class="middle"><%= number_with_delimiter(content['unique'], :delimiter => ',') %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <%- else %>
    <div class="flash-messages">
      <div class="flash">
        It looks like traffic to your repository is a little light. Go spread
        the word and check back later!
      </div>
    </div>
  <%- end %>
<% else %>
  <div class="flash-messages">
    <div class="flash-error flash">
      We tried to fetch all that exciting traffic information, but it looks like something went wrong.
      You can refresh the page or <a href="<%= contact_path %>?form[subject]=Traffic%20Graphs">contact a human</a> in support.
    </div>
  </div>
<% end %>
