<% page_info \
    selected_link: :repo_graphs,
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-spacious blankslate-large">
    <%= octicon("graph", height: 40, class: "blankslate-icon") %>
    <h3>Welcome to the <%= current_repository.name %> graphs!</h3>

    <p>Once code is added to this repository, you’ll be able to see graphs for the contributors, commit timeline, forking activity, and the number of people looking at <%= current_repository.name %>.</p>
  </div>
<% end %>
