<ul class="flex-md-1">
  <% if icons.any? %>
    <% icons.each do |icon_name| %>
      <% bg_color = RepositoryActions::Colors.generate_default_color(icon_name) %>
      <li class="Box-row d-flex flex-justify-between">
        <div class="d-flex flex-auto">
          <div class="CircleBadge CircleBadge--small mr-2" style="background-color: #<%= bg_color[:color_hex] %>">
            <%= action_icon(name: icon_name, icon_name: icon_name, color: bg_color[:icon_color_hex]) %>
          </div>
          <div class="px-3 flex-self-center">
            <h4><%= icon_name.titleize %></h4>
            <code id="action-icon-label-<%= icon_name %>" class="text-small"><%= icon_name %></code>
          </div>
        </div>
        <clipboard-copy
            for="action-icon-label-<%= icon_name %>"
            data-copy-feedback="Copied!"
            aria-label="Copy icon label to clipboard"
            class="ClipboardButton btn btn-sm js-clipboard-copy flex-self-center">
            <%= octicon("clippy", class: "js-clipboard-clippy-icon") %>
            <span class="js-clipboard-check-icon d-none text-green">
              <%= octicon("check") %>
            </span>
        </clipboard-copy>
      </li>
    <% end %>
  <% else %>
    <li class="Box-row d-flex">
      No icons match this term.
    </li>
  <% end %>
</ul>
