<% case type %>
<% when SVG %>
  <div <%= "hidden" if @hidden %>>
    <% case name %>
    <% when "code-to-cloud" %>
      <%= svg("signup/survey/code-to-cloud", options) %>
    <% when "school-work" %>
      <%= svg("signup/survey/school-work", options) %>
    <% when "new-user" %>
      <%= svg("signup/survey/new-user", options) %>
    <% when "see-project-activity" %>
      <%= svg("signup/survey/see-project-activity", options) %>
    <% when "github" %>
      <%= svg("signup/survey/github", options) %>
    <% when "gitlab" %>
      <%= svg("signup/survey/gitlab", options) %>
    <% when "bitbucket" %>
      <%= svg("signup/survey/bitbucket", options) %>
    <% when "sourceforge" %>
      <%= svg("signup/survey/sourceforge", options) %>
    <% end %>
  </div>
<% when OCTICON %>
  <%= octicon(name, options) %>
<% end %>
