<% page_info title: "#{view.project.name} - Permissions" %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="site-admin-unboxed">
    <div class="site-admin-subhead">
      <h2 class="site-admin-subhead-heading">
        Visiblity
      </h2>
    </div>

    <p>This project is <strong><%= view.project.public? ? "public" : "private" %></strong></p>

    <% if view.project.owner.is_a?(Organization) %>
      <div class="site-admin-subhead">
        <h2 class="site-admin-subhead-heading">
          Organization member permission
        </h2>
      </div>

      <% if view.project.org_permission %>
        All <a href="<%= members_stafftools_user_path(view.project.owner.login) %>">members</a> of the <%= view.project.owner.safe_profile_name %> organization have at least <strong><%= view.project.org_permission %></strong> access on this project.
      <% else %>
        This project does not have an organization member permission set.
      <% end %>
    <% end %>

    <div class="site-admin-subhead">
      <h2 class="site-admin-subhead-heading">
        Individual permissions
      </h2>
    </div>

    <% if view.users_with_access.any? %>
      <p>
        These users have been given access to this project via a direct
        collaborator grant, through a team membership, or because they are an
        owner on the organization.  If a user has multiple grants, the
        <strong>most permissive</strong> one is listed.
      </p>

      <table class="site-admin-table">
        <% view.users_with_access.each do |user| %>
          <tr id="user-permission-<%= user.id %>">
            <td>
              <%= link_to user, stafftools_user_path(user) %>
            </td>
            <td>
              <%= user.profile_name %>
            </td>
            <td class="float-right">
              <small>
                <% if ability = view.ability_for(user) %>
                  <%= ability.action %> via
                  <% if ability.grandparent %>
                    <% subject = ability.grandparent.subject %>
                    <% if subject.is_a? Team %>
                      <%= link_to "@#{subject}", gh_stafftools_team_path(subject) %>
                    <% else %>
                      <%= ability.grandparent.subject %>
                    <% end %>
                  <% elsif ability.actor == user && ability.subject == view.project %>
                    direct collaborator
                  <% else %>
                    <strong>unknown ability</strong>
                  <% end %>
                <% else %>
                  <strong>no ability found</strong>
                <% end %>
              </small>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="paginate-container">
        <%= will_paginate view.users_with_access, params: { user_id: params[:user_id], id: params[:id]} %>
      </div>
    <% else %>
      <p class="site-admin-blankstate">
        No users have access to this project.
      </p>
    <% end %>
  </div>
<% end %>
