<%
  show_gh1 = true if local_assigns[:show_gh1].nil?
  show_pro = false if local_assigns[:show_pro].nil?
%>

<div class="mt-2 bg-gray-light fade-img-to-white-bg" style="background-image: url('<%= image_path "modules/site/patterns/contribution-graph.svg" %>');">
  <h2 class="h00-mktg text-center mb-2">Get started</h2>
  <div class="d-flex container-xl d-md-none px-3 f5">
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab pricing-plan-tab-active p-3 rounded-1 border-0 flex-1 mr-2">Free</button>
    <% if show_pro %>
      <button type="button" class="js-pricing-plan-tab pricing-plan-tab p-3 rounded-1 border-0 flex-1 mr-2">Pro</button>
    <% end %>
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab p-3 rounded-1 border-0 flex-1 mr-2">Team</button>
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab p-3 rounded-1 border-0 flex-1 mr-2">Enterprise</button>
    <% if show_gh1 %>
      <button type="button" class="js-pricing-plan-tab pricing-plan-tab p-3 rounded-1 border-0 flex-1">GitHub One</button>
    <% end %>
  </div>

  <div class="d-flex container-xl mx-auto overflow-x-scroll pricing-plans-container js-pricing-plans-container flex-md-justify-<% if show_pro %>between<% else %>center<% end %> py-4">
    <%= render "site/pricing/pricing_plans", show_features: true, show_pro: show_pro, end_of_page: true, page_placement: "Features", show_gh1: show_gh1 %>
  </div>
</div>
