<div class="position-absolute height-full width-full overflow-hidden" style="top: 0">
	<div class="position-absolute height-full container-xl width-full mx-auto" style="top: 0; left: 0; right: 0">
		<span class="pricing-confetti bg-gray-2 rounded-1" style="top: 65px; left: 275px; width: 10px; height: 10px"></span>
		<span class="pricing-confetti d-none d-md-block" style="top: 110px; left: 100px; width: 55px; height: 56px; animation-duration: 7s"><%= image_tag "modules/site/pricing/confetti/commit.svg", size: "56x55", alt: "" %></span>
		<span class="pricing-confetti bg-gray-2 rounded-1" style="top: 290px; left: -35px; width: 25px; height: 25px; animation-duration: 10s"></span>
		<span class="pricing-confetti bg-gray-2 circle d-none d-md-block" style="top: 530px; left: 0; width: 20px; height: 20px"></span>
		<span class="pricing-confetti bg-gray-2 circle" style="bottom: 300px; left: 350px; width: 20px; height: 20px"></span>
		<span class="pricing-confetti" style="bottom: 20px; left: 10px; width: 47px; height: 54px"><%= image_tag "modules/site/pricing/confetti/branch.svg", size: "47x54", alt: "" %></span>
		<span class="pricing-confetti bg-gray-2 circle" style="bottom: 105px; left: 20vw; width: 10px; height: 10px; animation-duration: 7s"></span>

		<span class="pricing-confetti bg-gray-2 circle" style="top: 75px; right: -20px; width: 42px; height: 42px; animation-duration: 7s"></span>
		<span class="pricing-confetti d-none d-md-block" style="top: 115px; right: 225px; width: 32px; height: 34px"><%= image_tag "modules/site/pricing/confetti/pr.svg", size: "32x34", alt: "" %></span>
		<span class="pricing-confetti bg-gray-2 circle" style="top: 155px; right: 345px; width: 12px; height: 12px"></span>
		<span class="pricing-confetti bg-gray-2 rounded-1" style="top: 390px; right: 0; width: 20px; height: 20px; animation-duration: 10s"></span>
		<span class="pricing-confetti bg-gray-2 circle" style="top: 660px; right: -40px; width: 20px; height: 20px"></span>
		<span class="pricing-confetti bg-gray-2 circle" style="bottom: 310px; right: 360px; width: 12px; height: 12px; animation-duration: 10s"></span>
		<span class="pricing-confetti" style="bottom: 90px; right: 150px; width: 36px; height: 40px"><%= image_tag "modules/site/pricing/confetti/fork.svg", size: "36x40", alt: "" %></span>
	</div>
</div>
