<%
  ec_payload = JSON.dump([
    ['ec:addImpression', {
      'name': 'Team',
      'category': 'Plan',
      'position': 2,
    }]
  ])

  event_category = "Pricing comparison" if local_assigns[:event_category].nil?
  event_source = "pricing-comparison" if local_assigns[:event_source].nil?
  referring_page = "Pricing" if local_assigns[:referring_page].nil?
%>
<% if logged_in? %>
  <% if local_assigns[:context] == "organization_plan" %>
    <%= link_to(
      "Continue with Team",
      new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Create a new organization"), "ref_loc": url_encode(event_source)),
      class: "btn-outline-mktg mx-1 ws-normal #{classes}",
      "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Create a new organization;ref_loc:#{event_source}",
      data: organization_plan_comparison_data_attributes(text: "continue with Team")
    ) %>
  <% elsif current_user.billing_manageable_per_repo_orgs.any? %>
    <details class="select-menu details-reset details-overlay mx-1">
      <summary class="select-menu-button select-menu-button-large btn-block <%= classes %>"
        data-ga-click="<%= event_category %>,click,text:Upgrade;card:Team;ref_page:<%= referring_page %>">
        Upgrade
      </summary>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" >
          <div class="select-menu-list">
            <% current_user.billing_manageable_per_repo_orgs.each do |org| %>
              <a href="<%= upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("<org-name>"), "ref_loc": url_encode(event_source)) %>"
                class="select-menu-item select-menu-item-text"
                role="menuitem"
                data-ga-click="Change organization, click to upgrade to Team, ref_page:<%= request.fullpath %>;ref_cta:<org-name>;ref_loc:<%= event_source %>" data-ga-deferred="<%= ec_payload %>">
                <%= avatar_for(org, 20, :class => "select-menu-item-gravatar") %>
                <%= org.safe_profile_name %>
              </a>
            <% end %>
            <a href="<%= new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Create organization"), "ref_loc": url_encode(event_source)) %>"
              class="select-menu-item select-menu-item-text"
              data-ga-deferred="<%= ec_payload %>"
              role="menuitem"
              data-ga-click="Create organization, click to set up organization, ref_page:<%= request.fullpath %>;ref_cta:Create organization;ref_loc:<%= event_source %>">
              <%= octicon("plus", :class => "select-menu-item-icon") %>
              Create organization
            </a>
          </div>
      </details-menu>
    </details>
  <% else %>
    <a href="<%= new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Continue with Team"), "ref_loc": url_encode(event_source)) %>" class="mx-1 <%= classes %>" data-ga-deferred="<%= ec_payload %>" data-ga-click="Create organization, click to set up organization, ref_page:<%= request.fullpath %>;ref_cta:Continue with Team;ref_loc:<%= event_source %>">
      Continue with Team
    </a>
  <% end %>
<% else %>
  <%= link_to(
    "Continue with Team",
    signup_path(source: "#{event_source}-team", plan: GitHub::Plan.business, setup_organization: true, "ref_page": request.fullpath, "ref_cta": url_encode("Continue with Team"), "ref_loc": url_encode(event_source)),
    class: "mx-1 #{classes}",
    "data-ga-deferred": ec_payload,
    "data-ga-click": "Sign up, click to sign up for account, ref_page:#{request.fullpath};ref_cta:Continue with Team;ref_loc:#{event_source}",
    data: sign_up_link_data_attributes(location_in_page: "continue with team")
  ) %>
<% end %>
