<div id="github-one">
  <div class="border box-shadow-large js-pricing-github-one-container pricing-github-one-container-hidden">
    <div class="container-lg">
      <div class="bg-white rounded-2 col-12 mx-auto text-center pt-4">
        <h6 class="h2-mktg text-bold mt-1 px-3">GitHub One</h6>
        <p class="lh-condensed mb-5 px-3 h5-mktg text-gray">The best from GitHub.</p>
        <%= image_tag "modules/site/icons/github-one.svg", alt: "GitHub One", :height => "128", class: "mx-auto mb-2 px-3" %>
        <p class="f2 col-md-8 mb-4 mx-auto px-3 lh-condensed">Build with the world’s most innovative communities, backed by our best tools, support,&nbsp;and&nbsp;services.</p>
        <ul class="f4 mb-3 px-3 text-left text-md-center js-pricing-learn-more-gh1" style="cursor: pointer">
          <li class="d-block d-md-inline-block mb-2 mr-4"><img src="<%= image_path "modules/site/icons/checkmark-circle.svg" %>" alt="✓" class="mb-n1 d-inline mr-2">Community-powered security</li>
          <li class="d-block d-md-inline-block mb-2 mr-4"><img src="<%= image_path "modules/site/icons/checkmark-circle.svg" %>" alt="✓" class="mb-n1 d-inline mr-2">Actionable metrics</li>
          <li class="d-block d-md-inline-block mb-2 mr-4"><img src="<%= image_path "modules/site/icons/checkmark-circle.svg" %>" alt="✓" class="mb-n1 d-inline mr-2">Continuous learning</li>
          <li class="d-block d-md-inline-block mb-2"><img src="<%= image_path "modules/site/icons/checkmark-circle.svg" %>" alt="✓" class="mb-n1 d-inline mr-2">24/7 support</li>
        </ul>
        <a href="https://enterprise.github.com/contact?referrer=github_one" class="btn-mktg h4-mktg mb-4 mx-3" data-ga-click="GitHub One contact sales, click, text:Contact sales">Contact Sales</a>
        <div class="js-pricing-learn-more-container pricing-learn-more-container">
          <button class="btn-mktg btn-outline-mktg h4-mktg p-3 border-0 border-top width-full rounded-0 rounded-bottom-2 js-pricing-learn-more-gh1" type="button">Learn more</button>
        </div>

        <div class="text-left pricing-github-one-details js-pricing-github-one-details pricing-github-one-details-collapsed overflow-hidden">
          <div class="col-12 col-md-11 mx-auto pt-6 pb-5">
            <div class="d-md-flex flex-wrap flex-justify-around">
              <div class="mx-3 mx-md-0 mb-6 col-md-5">
                <%= image_tag "modules/site/icons/security.svg", alt: "Advanced Security", :size => "64x64", class: "d-block mb-2" %>
                <h3 class="h3-mktg mb-1">Community-powered security</h3>
                <p class="text-gray-light f4">Build safer code faster with automated code scanning and suggested fixes from top security researchers.</p>
                <p>
                  <a href="/features/security" class="Bump-link text-bold">Learn more about built-in security&nbsp;<span class="Bump-link-symbol">→</span></a>
                </p>
              </div>

              <div class="mx-3 mx-md-0 mb-6 col-md-5">
                <%= image_tag "modules/site/icons/dependency-insights-dashboard.png", alt: "Advanced Security", :size => "64x64", class: "d-block mb-2" %>
                <h3 class="h3-mktg mb-1">Actionable metrics</h3>
                <p class="text-gray-light f4">Set goals, track KPIs, and accelerate innovation with insights validated by the GitHub community.</p>
                <p>
                  <a href="/features/insights" class="Bump-link text-bold">See what we measure&nbsp;<span class="Bump-link-symbol">→</span></a>
                </p>
              </div>

              <div class="mx-3 mx-md-0 mb-6 col-md-5">
                <%= image_tag "modules/site/icons/premium-support.png", alt: "Premium Plus support", :size => "64x64", class: "d-block mb-2" %>
                <h3 class="h3-mktg mb-1">24/7 support</h3>
                <p class="text-gray-light f4">Critical issues don’t wait for business hours. Get help whenever you need it from our always-available support team.</p>
                <p>
                  <a href="/premium-support" class="d-block Bump-link text-bold">Compare support options <span class="Bump-link-symbol">→</span></a>
                </p>
              </div>

              <div class="mx-3 mx-md-0 mb-6 col-md-5">
                <%= image_tag "modules/site/icons/learning-lab.png", alt: "Learning Lab", :size => "64x64", class: "d-block mb-2" %>
                <h3 class="h3-mktg mb-1">Continuous learning</h3>
                <p class="text-gray-light f4">Create custom courses and help your team level up their skills—on the same platform they code.</p>
                <p>
                  <a href="https://lab.github.com/" class="Bump-link text-bold">Explore Learning Lab courses&nbsp;<span class="Bump-link-symbol">→</span></a>
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
