<div class="position-relative mb-7 mb-md-0" id="faq">
  <div class="pricing-dot-bg" style="right: 0; top: -80px; height: 160px; width: 30%"></div>
  <div class="container-xl mx-auto position-relative pb-0 pt-6 py-md-9">
    <h2 class="h00-mktg mb-4 mb-md-7 px-3 text-md-center text-left">FAQs</h2>
    <%= svg("site/pricing/octocat-faq", width: "912", class: "mb-2 mx-auto d-block width-fit") %>
    <div class="col-12 col-md-8 mx-auto">
      <div class="pl-3 pr-8 py-7 p-md-9 rounded-2 bg-gray">
        <details>
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              Are prices listed only in US&nbsp;dollars?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            Yes, all prices shown are in US dollars.
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              What changes can I expect to my plan from the announcement of GitHub Free for organizations?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            <a href="<%= GitHub.help_url %>/github/getting-started-with-github/faq-about-changes-to-githubs-plans" class="link-mktg">Read our FAQ</a> for more information about the plan changes announced on April 14.
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              How long will GitHub Free allow unlimited collaborators?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            Forever! This change is permanent.
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              What does GitHub&nbsp;One&nbsp;include?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            With GitHub One, you get access to GitHub Enterprise, <a href="/features/security" class="link-mktg">Advanced Security</a>, <a href="/features/insights" class="link-mktg">Insights</a>, <a href="https://lab.github.com" class="link-mktg">Learning Lab</a>, and <a href="/premium-support" class="link-mktg">Premium Plus Support</a>.
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              What are my organization’s deployment options?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            GitHub Enterprise comes with flexible deployment options at one per-seat price: cloud-hosted with Enterprise Cloud, self-hosted with Enterprise Server, or a hybrid of both.
          </p>
          <p class="ml-4 text-gray text-bold">
            <a href="<%= GitHub.help_url %>/en/github/getting-started-with-github/githubs-products#github-enterprise" class="Bump-link">Learn more about GitHub Enterprise<span class="ml-1 Bump-link-symbol">&rarr;</span></a>
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              Which plans include access to GitHub Actions and Packages?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            GitHub Actions and Packages are free for public repositories and packages on all plans, while private repositories and packages receive a set amount of free minutes, storage, and data transfer depending on plan.
          </p>
          <p class="ml-4 text-gray text-bold">
            <a href="/features/actions#pricing-details" class="Bump-link">Learn more about billing for Actions<span class="ml-1 Bump-link-symbol">&rarr;</span></a><br>
            <a href="/features/packages#pricing" class="Bump-link">Learn more about billing for Packages<span class="ml-1 Bump-link-symbol">&rarr;</span></a>
          </p>
        </details>

        <details class="mt-7">
          <summary class="text-gray-light">
            <h3 class="d-inline-block v-align-top col-11 ml-1 h3-mktg text-gray-dark">
              What if I want to change my plan?
            </h3>
          </summary>
          <p class="ml-4 mt-2 text-gray">
            When you upgrade your plan, changes are applied immediately. When you downgrade your plan, changes are applied at the end of your current billing cycle.</p>
          <p class="ml-4 text-gray text-bold">
            <a href="<%= GitHub.help_url %>/en/github/setting-up-and-managing-billing-and-payments-on-github/how-does-upgrading-or-downgrading-affect-the-billing-process" class="Bump-link">Learn more about managing your GitHub plan<span class="ml-1 Bump-link-symbol">&rarr;</span></a>
          </p>
        </details>
      </div>
    </div>
  </div>
</div>
