<div class="d-none d-md-flex pricing-matrix-row width-full flex-wrap flex-md-nowrap js-toggle-pricing-details js-pricing-matrix-row">
  <div class="pricing-matrix-column-feature position-relative text-gray-light lh-condensed-ultra text-normal text-left">
    <div class="pricing-matrix-row-text position-relative pl-3 py-3 rounded-left-1">
      <button class="border-0 d-block text-bold pricing-matrix-row-button js-toggle-pricing-details text-left text-gray" type="button"><span class="js-pricing-expand-arrow pricing-expand-arrow"><%= octicon("chevron-right") %></span> <%= title %></button>
      <p class="ml-3 my-0 lh-default js-pricing-matrix-details pricing-matrix-details"><%= description %></p>
    </div>
  </div>

  <div class="pricing-matrix-column-tier lh-condensed py-3">
    <%= render "site/pricing/pricing_icon_for_text", text: free %>
    <% if !local_assigns[:footnote].nil? %>
      <span class="d-block f6 text-gray-light" id="footnote"><%= footnote %></span>
    <% end %>
  </div>

  <div class="pricing-matrix-column-tier lh-condensed border-left py-3">
    <%= render "site/pricing/pricing_icon_for_text", text: team %>
    <% if !local_assigns[:footnote].nil? %>
      <span class="d-block f6 text-gray-light" id="footnote"><%= footnote %></span>
    <% end %>
  </div>

  <div class="pricing-matrix-column-tier lh-condensed border-left py-3">
    <%= render "site/pricing/pricing_icon_for_text", text: enterprise %>
    <% if !local_assigns[:footnote].nil? %>
      <span class="d-block f6 text-gray-light" id="footnote"><%= footnote %></span>
    <% end %>
  </div>

  <% unless local_assigns[:context] == "organization_plan" %>
    <div class="pricing-matrix-column-tier lh-condensed border-left py-3">
      <%= render "site/pricing/pricing_icon_for_text", text: gh1 %>
      <% if !local_assigns[:footnote].nil? %>
        <span class="d-block f6 text-gray-light" id="footnote"><%= footnote %></span>
      <% end %>
    </div>
  <% end %>
</div>

<!-- mobile -->

<div class="flex-order-1 d-md-none text-left col-6 mb-4">
  <h5 class="pricing-matrix-mobile-feature-header f6 text-normal text-uppercase pr-2"><%= title %></h5>
  <div class="f4 text-bold">
    <%= render "site/pricing/pricing_icon_for_text", text: free %>
  </div>
</div>

<div class="flex-order-1 d-md-none text-left col-6 mb-4">
  <h5 class="pricing-matrix-mobile-feature-header f6 text-normal text-uppercase pr-2"><%= title %></h5>
  <div class="f4 text-bold">
    <%= render "site/pricing/pricing_icon_for_text", text: team %>
    <% if !local_assigns[:footnote].nil? %>
      <span class="d-block f6 p-md-2 text-gray-light"><%= footnote %></span>
    <% end %>
  </div>
</div>

<div class="flex-order-2 d-md-none text-left col-6 mb-4 <% if local_assigns[:context] == "organization_plan" %> width-full<% end %>">
  <h5 class="pricing-matrix-mobile-feature-header f6 text-normal text-uppercase"><%= title %></h5>
  <div class="f4 text-bold">
    <%= render "site/pricing/pricing_icon_for_text", text: enterprise %>
  </div>
</div>

<% unless local_assigns[:context] == "organization_plan" %>
  <div class="flex-order-2 d-md-none text-left col-6 mb-4">
    <h5 class="pricing-matrix-mobile-feature-header f6 text-normal text-uppercase"><%= title %></h5>
    <div class="f4 text-bold">
      <%= render "site/pricing/pricing_icon_for_text", text: gh1 %>
    </div>
  </div>
<% end %>
