<% testimonials = [
    {
      id: "pinterest",
      company: "Pinterest",
      logo: image_path("modules/site/logos/pinterest.svg"),
      logoHeight: "71",
      image: image_path("modules/site/pricing/testimonials/pinterest.jpg"),
      alt: "Pinterest office",
      quote: "GitHub is where the developer community is, and that’s where we want to be.",
      attribution: "Jon Parise, Engineering Architect, Pinterest",
      url: "https://github.com/customer-stories/pinterest"
    },
    {
      id: "americanairlines",
      company: "American Airlines",
      logo: image_path("modules/site/pricing/logos/american-airlines.svg"),
      logoHeight: "85",
      image: image_path("modules/site/pricing/testimonials/american-airlines.jpg"),
      alt: "American Airlines office",
      quote: "GitHub keeps us up to speed with the industry’s best tools. We want new hires to know GitHub is in our toolchain—it makes them excited to join us.",
      attribution: "Spencer Kaiser, Principal Architect of Emerging Tech, American Airlines",
      url: "https://github.com/customer-stories/american-airlines"
    },
    {
      id: "sap",
      company: "SAP",
      logo: image_path("modules/site/logos/sap.svg"),
      logoHeight: "63",
      image: image_path("modules/site/pricing/testimonials/sap.jpeg"),
      alt: "SAP meeting",
      quote: "This collaborative way of building software is unstoppable. It isn’t going away—and GitHub has its place in that. We can make the whole company rethink how they build software.",
      attribution: "Ingo Sauerzapf, SAP Cloud Development Tools Manager",
      url: "https://github.com/customer-stories/sap"
    },
    {
      id: "spotify",
      company: "Spotify",
      logo: image_path("modules/site/pricing/logos/spotify.svg"),
      logoHeight: "65",
      image: image_path("modules/site/pricing/testimonials/spotify.jpg"),
      alt: "Spotify studio",
      quote: "People know what a pull request is because it’s how they contribute to open source projects. We have many developers who are well-versed with GitHub, either for personal development or previous roles. With GitHub Enterprise, no one has to relearn the wheel.",
      attribution: "Laurent Ploix, Product Manager, Spotify",
      url: "https://github.com/customer-stories/spotify"
    },
    {
      id: "stripe",
      company: "Stripe",
      logo: image_path("modules/site/logos/stripe.png"),
      logoHeight: "73",
      image: image_path("modules/site/pricing/testimonials/stripe.jpg"),
      alt: "Stripe office",
      quote: "I have seen some truly revolutionary actions happen in communities on GitHub. People are collaborating on code but they’re also having foundational conversations on best practices and how software, as a whole, is built. More and more, GitHub is an internet archive. It’s a deeply social and critical piece of our infrastructure.",
      attribution: "Michael Glukhovsky, Developer, Stripe",
      url: "https://github.com/customer-stories/stripe"
    },
    {
      id: "ford",
      company: "Ford",
      logo: image_path("modules/site/pricing/logos/ford.png"),
      logoHeight: "64",
      image: image_path("modules/site/pricing/testimonials/ford.jpg"),
      alt: "Ford car interior",
      quote: "When we started talking about code reuse, we felt like we already had the perfect platform in place: GitHub.",
      attribution: "Timothy Carmean, Software Processes and Tools Supervisor, Ford",
      url: "https://github.com/customer-stories/ford"
    },
    {
      id: "nubank",
      company: "Nubank",
      logo: image_path("modules/site/pricing/logos/nubank.png"),
      logoHeight: "78",
      image: image_path("modules/site/pricing/testimonials/nubank.jpg"),
      alt: "Nubank office",
      quote: "Using GitHub Enterprise Cloud removes the burden of managing infrastructure, and we don’t need to worry about the availability of our versioning code, source code and versioning tools. It lets us focus on what’s important for our business, and that’s our customers.",
      attribution: "Victor Gomes, Infosec Tech Manager, Nubank",
      url: "https://github.com/customer-stories/nubank"
    },
    {
      id: "qualcomm",
      company: "Qualcomm",
      logo: image_path("modules/site/pricing/logos/qualcomm.svg"),
      logoHeight: "55",
      image: image_path("modules/site/pricing/testimonials/qualcomm.jpg"),
      alt: "Nubank office",
      quote: "We were able to create a culture around using GitHub as a tool, not just a place to store code.",
      attribution: "Craig Northway, Director of Engineering, Qualcomm",
      url: "https://github.com/customer-stories/qualcomm"
    },
  ]
%>

<div class="bg-gray mt-4" id="testimonials">
  <div class="container-xl mx-auto pt-6 pt-md-8">
    <div class="col-12 mx-auto d-flex flex-justify-between flex-items-center overflow-x-scroll overflow-y-hidden pl-3 pl-md-0 pricing-testimonial-container">
      <% testimonials.each_with_index do |testimonial, i| %>
        <button class="border-0 mb-3 mr-2 mr-md-0 pricing-testimonial-logo <% if i == 0 %>pricing-testimonial-logo-active<% end %> js-pricing-testimonial-logo" type=button><img src="<%= testimonial[:logo]%>" alt="<%= testimonial[:company] %>" height="<%= testimonial[:logoHeight] %>" class="p-3 z-1"></button>
      <% end %>
    </div>

    <div class="d-flex flex-justify-between mt-5 flex-wrap flex-md-nowrap flex-column-reverse flex-md-row overflow-hidden pricing-testimonial-img-container">
      <div class="mb-n6 col-md-6 position-relative pr-5 pr-md-9 pb-5">
        <div class="mb-n6 pricing-testimonial-img position-relative">
          <% testimonials.each_with_index do |testimonial, i|
            imageClass = "pricing-testimonial-content js-pricing-testimonial-img z-1 width-full width-fit"
            if i == 0
              imageClass += " pricing-testimonial-content-active"
            end
            %>

            <img src="<%= testimonial[:image] %>" alt="<%= testimonial[:alt] %>" width="568" class="<%= imageClass %>" loading="lazy">
          <% end %>
        </div>
      </div>

      <div class="col-md-6 px-md-0 px-3 pb-6">
        <% testimonials.each_with_index do |testimonial, i| %>
          <div class="js-pricing-testimonial-quote pricing-testimonial-content <% if i == 0 %>pricing-testimonial-content-active<% end %>">
            <p class="h1-mktg text-normal lh-condensed pr-3">
              <span class="pricing-hanging-quote">“</span><%= testimonial[:quote] %>”
            </p>
            <p class="f5 text-mono text-bold text-gray mb-5">— <%= testimonial[:attribution] %></p>
            <a class="Bump-link f3" href="<%= testimonial[:url] %>">Read the case study<span class="Bump-link-symbol ml-1">→</span></a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
