<% if logged_in? %>
  <% if local_assigns[:context] == "organization_plan" %>
    <%= link_to(
      "Join for free",
      new_organization_path(plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Join for free"), "ref_loc": url_encode("pricing comparison")),
      class: "btn-mktg btn-block btn-outline-mktg #{classes}",
      "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Join for free;ref_loc:pricing comparison",
      data: organization_plan_comparison_data_attributes(text: "Join for free")
    ) %>
  <% else %>
    <%= link_to "Create a free organization",
      new_organization_path(plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Create a free organization"), "ref_loc": url_encode("pricing comparison")),
      class: "btn-mktg btn-block ws-normal #{classes}",
      "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Create a free organization;ref_loc:pricing comparison"
    %>
  <% end %>
<% else %>
  <%= link_to(
    "Join for free",
    signup_path(source: "pricing-comparison-free", "ref_page": request.fullpath, "ref_cta": url_encode("Join for free"), "ref_loc": url_encode("pricing comparison")),
    class: "btn-mktg btn-block #{classes}",
    "data-ga-click": "Sign up, click to sign up for account, ref_page:#{request.fullpath};ref_cta:Join for free;ref_loc:pricing comparison",
    data: sign_up_link_data_attributes(location_in_page: "choose free")
  ) %>
<% end %>
