<%
  pricing_show_pro = false if local_assigns[:show_pro].nil?
%>

<div class="bg-white position-relative">
  <div class="mx-auto pb-0 pb-4 pt-8 text-center">
    <h1 class="h4 text-mono text-normal text-gray-light mb-1 d-none d-md-block">Pricing</h1>
    <p class="h00-mktg lh-condensed-ultra d-none d-md-block">Plans for all developers</p>
    <p class="h00-mktg lh-condensed-ultra text-left d-md-none mb-0 pl-3">Pricing</p>
  </div>

  <div class="container-xl mb-3 mb-md-0 mt-5 p-responsive">
    <%= render "site/promo_banner" %>
  </div>

  <div class="d-flex container-xl d-md-none px-3 f5">
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab pricing-plan-tab-active py-3 px-2 rounded-1 border-0 flex-1 mr-1">Free</button>
    <% if pricing_show_pro %>
      <button type="button" class="js-pricing-plan-tab pricing-plan-tab px-2 py-3 rounded-1 border-0 flex-1 mr-1">Pro</button>
    <% end %>
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab px-2 py-3 rounded-1 border-0 flex-1 mr-1">Team</button>
    <button type=button class="js-pricing-plan-tab pricing-plan-tab px-2 py-3 rounded-1 border-0 flex-1 mr-1">Enterprise</button>
    <button type="button" class="js-pricing-plan-tab pricing-plan-tab px-2 py-3 rounded-1 border-0 flex-1">GitHub&nbsp;One</button>
  </div>

  <div class="fade-img-to-white-bg mb-2" style="background-image: url('<%= image_path "modules/site/patterns/contribution-graph.svg" %>');">
    <div class="d-flex container-xl mx-auto overflow-x-scroll pricing-plans-container js-pricing-plans-container flex-md-justify-center pt-2 pb-4">
      <%= render "site/pricing/pricing_plans", end_of_page: false %>
    </div>
  </div>

  <% if logged_in? %>
    <% if current_user.plan.pro? %>
      <div class="container-md text-center mx-auto mt-md-n5 px-3 px-md-6 pb-5">
        <div class="d-flex flex-justify-center flex-items-center">
          <span title="NEW" class="Label Label--outline Label--outline-green mr-2">NEW</span>
          <h2 class="mb-1">GitHub Pro is now $4/month</h2>
        </div>
        <div class="text-gray">
          <p>As a GitHub Pro developer, you get advanced tools for your private repositories, including 3,000 Actions minutes/month, 2GB GitHub Packages storage, and email support.</p>
          <p><a href="<%= GitHub.help_url %>/github/getting-started-with-github/githubs-products#github-pro">Learn more</a> or <a href="<%= billing_path %>">manage your subscription</a></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
