<% view = Repositories::CreateUpsellView.new(org, current_user, request: request) %>

<% if view.show_upgrade? %>
  <div class="upgrade-upsell js-upgrade" data-login="<%= org %>">
    <div class="form-checkbox">
      <label>
        <em class="highlight">No more private repositories</em>
      </label>
      <span class="note">
        You have reached your plan's limit of <%= org.private_repositories.count %>.
        In order to make this repository private you'll need to contact an administrator or billing manager about upgrading.
      </span>
    </div>
  </div>
<% end %>
