<%# `view` is an instance of `Repositories::CreateView` %>
<%# erblint:counter TooltipCounter 1 %>
<%= render(GitHub::MenuComponent.new(
  text: configurable_repo_default_branch_enabled? ? "License:" : "Add a license:",
  title: configurable_repo_default_branch_enabled? ? "License" : "Licenses",
  items: view.licenses_menu_items,
  filter_placeholder: configurable_repo_default_branch_enabled? ? "Filter licenses..." : nil,
  filterable: true)) %>

<% unless configurable_repo_default_branch_enabled? %>
  <a href="https://choosealicense.com" target="_blank" class="v-align-middle ml-2 tooltipped tooltipped-s" aria-label="Need help picking a license? We’ve built a site just for you.">
    <%= octicon("info") %>
  </a>
<% end %>
