<div class="select-menu-list">
  <label class="select-menu-item"
         tabindex="0"
         role="menuitemradio"
         data-default="<%= current_user.default_repo_visibility %>"
         data-user-show-trade-controls= "<%= current_user.has_any_trade_restrictions? %>"
         <% if configurable_repo_default_branch_enabled? %>
           data-default-new-repo-branch="<%= current_user.default_new_repo_branch %>"
           data-owner-settings-link-prefix="your"
           data-owner-settings-url="<%= settings_user_repositories_path %>"
         <% end %>
         data-permission="yes"
         aria-checked="<%= owner == current_user %>">
    <input
      type="radio"
      name="owner"
      value="<%= current_user %>"
      class="js-repository-owner-choice js-repository-owner-is-viewer"
      <%= "checked" if owner == current_user %>>
    <%= octicon("check", class: "select-menu-item-icon") %>
    <template class="js-quick-install-list-template" hidden>
      <%= render partial: "repositories/new/marketplace_apps_list", locals: {
            listings: installable_marketplace_apps[current_user],
            account: current_user,
            instrument_listings: current_user != owner
          } %>
    </template>
    <div class="select-menu-item-text" data-menu-button-contents>
      <%= avatar_for(current_user, 20, class: "avatar select-menu-item-gravatar", alt: "") %>
      <%= current_user %>
    </div>
  </label>

  <% organizations_info.each do |organization, info| %>
    <% disabled = info[:access] == :read %>
    <label class="select-menu-item <%= "disabled" if disabled %>"
           role="menuitemradio"
           data-viewer-is-org-admin="<%= organization.adminable_by?(current_user) %>"
           data-default="<%= organization.default_repo_visibility %>"
           data-permission="<%= disabled ? "no" : "yes" %>"
           data-org-allow-public-repos="<%= info[:allow_public_repos] %>"
           data-org-allow-private-repos= "<%= info[:allow_private_repos] && organization.can_add_private_repo? && organization.restriction_tier_allows_feature?(type: :repository) %>"
           data-org-allow-internal-repos="<%= info[:allow_internal_repos] %>"
           data-org-name="<%= organization.name %>"
           data-org-show-upgrade= "<%= organization.at_private_repo_limit? && organization.adminable_by?(current_user) %>"
           data-org-show-trade-controls= "<%= organization.has_any_trade_restrictions? %>"
           data-user-show-trade-controls= "<%= current_user.has_any_trade_restrictions? %>"
           data-org-private-restricted-by-plan="<%= !organization.can_add_private_repo? %>"
           <% if configurable_repo_default_branch_enabled? %>
             data-default-new-repo-branch="<%= organization.default_new_repo_branch %>"
             data-owner-settings-link-prefix="<%= organization.safe_profile_name %>'s"
             <% if show_default_branch_settings_link_for?(organization) %>
              data-owner-settings-url="<%= settings_org_repo_defaults_path(organization) %>"
             <% end %>
           <% end %>
           <% if organization.business.present? %>data-business-id="<%= organization.business.id %>"<% end %>
           aria-checked="<%= owner == organization %>"
           <%= "aria-disabled=true" if disabled %>
           <%= "tabindex=0" unless disabled %>>
      <% unless disabled %>
        <input
          type="radio"
          name="owner"
          value="<%= organization %>"
          class="js-repository-owner-choice"
          <%= "checked" if owner == organization %>>

        <%= octicon("check", class: "select-menu-item-icon") %>
        <template class="js-quick-install-list-template" hidden>
          <%= render partial: "repositories/new/marketplace_apps_list", locals: {
                listings: installable_marketplace_apps[organization],
                account: organization,
                instrument_listings: organization != owner
              } %>
        </template>
      <% end %>
      <div class="select-menu-item-text" data-menu-button-contents>
        <%= avatar_for(organization, 20, class: "avatar select-menu-item-gravatar", alt: "") %>
        <%= organization %><% if disabled %> (insufficient permission)<% end %>
      </div>
    </label>
  <% end %>
</div>
