<%# `view` is Repositories::CreateView %>

<details class="js-owner-container position-relative details-reset details-overlay select-menu">
  <summary id="repository-owner" class="btn select-menu-button with-gravatar js-owner-select" data-menu-button aria-describedby="repository-owner-label">
    <%= render(GitHub::AvatarComponent.new(actor: owner, mr: 1)) %>
    <%= owner %>
  </summary>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= user_organizations_info_path(current_user, owner_id: owner.id) %>" preload aria-labelledby="repository-owner-label">
    <% if view.defer_organizations_load? %>
      <include-fragment class="select-menu-loading-overlay anim-pulse" aria-label="Loading">
        <%= octicon("octoface", height: 32) %>
        <input
          class="d-none"
          type="radio"
          name="owner"
          value="<%= owner %>"
          checked
        >
      </include-fragment>
    <% else %>
      <%= render partial: "repositories/new/orgs_select_menu", locals: {
            organizations_info: view.organizations_info,
            installable_marketplace_apps: view.installable_marketplace_apps_info,
            owner: owner
          } %>
    <% end %>
  </details-menu>
</details>
