<% view = Repositories::CreateUpsellView.new(user, current_user, request: request) %>

<% if view.show_upgrade? %>
  <% if view.can_upgrade_while_creating_repo? %>
    <div class="upgrade-upsell js-upgrade" data-login="<%= view.target.login %>">
      <% if view.current_user.has_any_trade_restrictions? %>
        <%= render partial: "notices/ofac_sanctioned" %>
      <% else %>
        <div class="form-checkbox">
          <label>
            <input name="confirm_upgrade" type="checkbox" class="js-confirm-upgrade-checkbox" <%= "hidden" unless view.show_upgrade_checkbox? %>>
            <em class="highlight">Upgrade my account</em>
          </label>
          <span class="note">
            <% if view.per_seat_plan_only? %>
              In order to make this repository private, you’ll need to upgrade
              <strong><%= view.target.login %></strong>’s plan.<br>

              This will cost <%= view.per_seat_pricing_model.final_price.format %> for
              <%= pluralize view.per_seat_pricing_model.seats, "seats" %>.
              <%= link_to "See all of your upgrade options", upgrade_path(org: view.target, target: "organization") %>.
            <% elsif view.target.can_change_plan_to?(GitHub::Plan.pro, actor: view.current_user) %>
              In order to make this repository private, you’ll need to upgrade
              your account. <br>
              This will cost <strong><%= money(GitHub::Plan.pro.cost_in_cents, "USD") %> / month</strong>
              and you’ll get unlimited private repositories. You can cancel anytime.
            <% else %>
              In order to make this repository private, you’ll need to upgrade
              <% if view.organization? %>
                the <strong><%= view.target.login %></strong> organization
              <% else %>
                your account
              <% end %>
              from <strong><em><%= view.target.plan.display_name.humanize %></em></strong>
              to <strong><em><%= view.upsell_plan.display_name.humanize %></em></strong>.<br>
              <% if view.target.free_plan? %>
                This will cost <%= view.upsell_cost %>.
              <% else %>
                This will cost an extra <%= view.upsell_cost %>.
                You’ll be billed <%= view.upselled_cost %> starting your next billing cycle (<%= view.target.next_billing_date %>).
              <% end %>
              <% if view.target.coupon && view.target.coupon.plan_specific? %>
                And your active <strong><%= view.target.coupon.plan_display_name %></strong> plan coupon will be revoked upon upgrade.
              <% end %>
              <% if view.show_per_seat_callout? %>
                <br>
                <%= link_to upgrade_path(org: view.target, target: "organization", plan: GitHub::Plan.business), :"data-ga-click" => "New Pricing, upgrade org click, upsell" do %>
                  <% if view.price_diff_for_per_seat.zero? %>
                    <strong>Or, for the same price of <%= view.per_seat_pricing_model.total_seats_price.format %> / <%= view.target.plan_duration %></strong>, you can pay per user and get <strong>unlimited private repositories</strong>.
                  <% else %>
                    <strong>Or, save <%= view.price_diff_for_per_seat.format %> / <%= view.target.plan_duration %></strong> when you pay per user, and get <strong>unlimited private repositories</strong> for <%= view.per_seat_pricing_model.total_seats_price.format %> / <%= view.target.plan_duration %>.
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </span>
        </div>

        <% if view.show_cc_upgrade? %>
          <div
            class="cc-upgrade js-billing-section
                  PaymentMethod--creditcard
                  zuora-billing-section"
          >
            <%= fields_for :billing do |billing_form| %>
              <%=
                render :partial => "payment_method/fields", :locals => {
                  :owner => view.target,
                  :form  => billing_form
                }
              %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <% if view.largest_plan_reached? %>
      <div class="upgrade-upsell js-upgrade" data-login="<%= view.target.login %>">
        Whoops, you’ve already reached your plan’s limit of <%= user.private_repositories.count %> private repositories.
        Since you are already on our largest plan, you’ll have to <a href="<%= contact_path %>">contact support</a> to request more.
      </div>
    <% else %>
      <div class="upgrade-upsell js-upgrade" data-login="<%= view.target.login %>">
        <% upsell_content = lambda do |link_data| %>
          <% capture do %>
            You have reached your plan's limit of <%= user.private_repositories.count %>.
            To make this repository private you'll need to upgrade to
            <%= link_to view.per_seat_plan_callout_url, data: link_data do %>
              unlimited private repositories.
            <%end%>
          <% end %>
        <% end %>
        <%= upsell_content.call(
              view.per_seat_plan_callout_link_data(
                callout_location: "under private repo checkbox",
                callout_text: view.strip_tags_and_collapse_whitespace(upsell_content.call({}))
              )
            )
        %>
      </div>
    <% end %>
  <% end %>
<% end %>
