<div class="footer-links" style="margin-top: 32px;">
  <p class="footer-text"><a href="<%= email_link_with_tracking(url: @view.unsubscribe_link, email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">Unsubscribe</a> &bull; <a href="<%= email_link_with_tracking(url: settings_user_emails_url, email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">Email preferences</a></p>
  <p class="footer-text"><a href="<%= email_link_with_tracking(url: "#{GitHub.help_url}/articles/github-terms-of-service", email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">Terms</a> &bull; <a href="<%= email_link_with_tracking(url: "#{GitHub.help_url}/articles/github-privacy-policy", email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">Privacy</a> &bull; <a href="<%= email_link_with_tracking(url: "https://github.com/login", email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">Log in to GitHub</a></p>
</div>
<div class="content center-text">
  <a href="<%= email_link_with_tracking(url: "https://github.com/explore", email_source: "explore", auto_subscribed: @view.auto_subscribed) %>">
    <img class="logo-invertocat" src="<%= GitHub.mailer_asset_host_url %>/images/email/global/invertocat-mark.png" width="40" height="38">
  </a>
</div>
<div class="content">
  <p class="footer-text">GitHub, Inc.</p>
  <p class="footer-text">88 Colin P Kelly Jr St.<br> San Francisco, CA 94107</p>
</div>
