<!--// Marketplace app //-->
<% if marketplace_listing.present? %>
  <% screenshot = marketplace_listing.screenshots.first %>

  <div class="feed-item">
    <% if screenshot.present? %>
      <a
        href="<%= email_link_with_tracking(
          url: marketplace_listing_url(marketplace_listing),
          email_source: "explore",
        ) %>"
        style="display:block"
      >
        <img
          src="<%= image_path screenshot.storage_external_url %>"
          alt="<%= screenshot.alt_text %>"
          width="530"
          style="display:block; max-width: 100%!important;"
        >
      </a>
    <% end %>

    <div style="margin-bottom:8px">
      <table>
        <tr>
          <td width="14px" valign="middle !important">
            <img
              src="<%= GitHub.mailer_asset_host_url %>/images/email/explore/octocat.v2.png"
              height="14"
              style="vertical-align:middle; margin-right:4px;"
            >
          </td>
          <td width="4"></td>
          <td style="font-size: 12px">
            App recommended by GitHub
          </td>
        </tr>
      </table>
    </div>

    <h3 style="margin-bottom:4px;">
      <a href="<%= marketplace_listing_url(marketplace_listing) %>" class="a-style-2 a-style-font">
        <%= marketplace_listing.name %>
      </a>
    </h3>

    <div style="color: #586069;">
      <p><%= marketplace_listing.full_description_html %></p>
    </div>
  </div>
<% end %>
