<div style="margin-bottom:16px;">
  <table>
    <tr>
      <td width="24px" style="padding-bottom:0" valign="middle">
        <img
          src="<%= GitHub.mailer_asset_host_url %>/images/email/explore/octicon-repo.png"
          height="16"
          alt="repository"
          style="margin-top:4px;"
        >
      </td>
      <td width="4"></td>
      <td style="padding-bottom:0" valign="middle">
        <h3>
          <a
            href="<%= email_link_with_tracking(
              url: @view.github_url(repo.owner.login),
              email_source: "explore",
              auto_subscribed: @view.auto_subscribed,
            ) %>"
          >
            <%= repo.owner.login %> /
          </a>
          <a
            href="<%= email_link_with_tracking(
              url: @view.github_url(repo.name_with_owner),
              email_source: "explore",
              auto_subscribed: @view.auto_subscribed,
            ) %>"
            class="text-bold"
          >
            <%= repo.name %>
          </a>
        </h3>
      </td>
    </tr>
  </table>
  <div style="color: #586069;">
    <%= repo.description %>
  </div>
</div>
