<%
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="assignees-select-menu">
  <summary class="btn-link" title="Assignees" data-hotkey="a" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Assignee">
    Assignee
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter <% if responsive? %>right-lg-0<% else %>right-0<% end %>" role="menu" src="<%= show_menu_content_issues_path(partial: "issues/filters/assigns_content", q: query) %>" preload>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by who’s assigned</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="assignees-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </header>
      <div class="SelectMenu-filter">
        <input type="text" id="assigns-filter-field" class="SelectMenu-input form-control js-filterable-field" placeholder="Filter users" aria-label="Filter users" autocomplete="off" autofocus>
      </div>
      <include-fragment class="SelectMenu-loading">
        <%= octicon "octoface", class: "anim-pulse", width: 32 %>
      </include-fragment>
    </div>
  </details-menu>
</details>
