<%
  url = show_menu_content_issues_path(partial: "issues/filters/labels_content", q: query)
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="label-select-menu">
  <summary class="btn-link" title="Label" data-hotkey="l" aria-haspopup="true" <%= test_selector("labels-select-menu") %> data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Label">
    Label
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-lg-0" role="menu" src="<%= url %>" preload>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by label</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="label-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </header>
      <div class="SelectMenu-filter">
        <input type="text" id="label-filter-field" class="SelectMenu-input form-control js-filterable-field" placeholder="Filter labels" aria-label="Filter labels" autocomplete="off" autofocus>
      </div>
      <include-fragment class="SelectMenu-loading">
        <%= octicon "octoface", class: "anim-pulse", width: 32 %>
      </include-fragment>
      <footer class="SelectMenu-footer">
        <span>Use <kbd class="js-modifier-key">alt</kbd> + <kbd>click/return</kbd> to exclude labels.</span>
      </footer>
    </div>
  </details-menu>
</details>
