<% return if !current_repository %>
<%
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="milestones-select-menu">
  <summary class="btn-link" data-hotkey="m" aria-haspopup="true" <%= test_selector("milestones-select-menu") %> data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Milestones">
    Milestones
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter <% if responsive? %>right-lg-0<% else %>right-0<% end %>" role="menu" src="<%= show_menu_content_issues_path(partial: "issues/filters/milestones_content", q: query) %>" preload>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by milestone</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="milestones-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </header>
      <div class="SelectMenu-filter">
        <input class="SelectMenu-input form-control js-filterable-field" id="milestones-filter-field" type="text" placeholder="Filter milestones" aria-label="Filter milestones" autocomplete="off" autofocus>
      </div>
      <include-fragment class="SelectMenu-loading">
        <%= octicon "octoface", class: "anim-pulse", width: 32 %>
      </include-fragment>
    </div>
  </details-menu>
</details>
