<div class="SelectMenu-list select-menu-list">
  <div data-filterable-for="milestones-filter-field" data-filterable-type="substring">
    <% filtered_milestones = issues_search_term_values(:milestone) %>

    <% selected = filtered_milestones.include?(:missing) %>
    <% url = issues_search_query(replace: { no: selected ? nil : "milestone", milestone: nil }, pulls_only: pulls_only) %>
    <a class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
      <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
      <strong>Issues with no milestone</strong>
    </a>

    <%
      milestones = current_repository.milestones.open_milestones.partition do |milestone|
        filtered_milestones.include?(milestone.title)
      end.flatten
    %>
    <% milestones.each do |milestone| %>
      <% selected = filtered_milestones.include?(milestone.title) %>
      <% url = issues_search_query(replace: { milestone: selected ? nil : milestone.title }, pulls_only: pulls_only) %>

      <a class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
        <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
        <strong><%= milestone.title %></strong>
      </a>
    <% end %>
  </div>

  <div class="select-menu-no-results">No milestones found. Sorry about that.</div>
</div>
