<% if logged_in? %>
  <div class="SelectMenu-list select-menu-list" data-filter="org">
    <div data-filterable-for="orgs-filter-field" data-filterable-type="substring">
      <% filtered_orgs = issues_search_term_values(:user) %>

      <%
        orgs = current_user.organizations.by_login.partition do |org|
          filtered_orgs.include?(org.login)
        end.flatten

        selected = filtered_orgs.include?(current_user.login)
        url = issues_search_query(replace: { user: !selected ? current_user.login : nil }, pulls_only: pulls_only)
      %>
      <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemcheckbox">
        <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
        <%= avatar_for current_user, 20, class: "avatar mr-2" %>
        <strong class="mr-2"><%= current_user.display_login %></strong>
        <span class="text-gray-light"><%= current_user.profile_name %></span>
      </a>
      <% orgs.each do |org| %>
        <% selected = filtered_orgs.include?(org.login) %>
        <% url = issues_search_query(replace: { user: !selected ? org.login : nil }, pulls_only: pulls_only) %>
        <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemcheckbox">
          <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
          <%= avatar_for org, 20, class: "avatar mr-2" %>
          <span><%= org.login %></span>
        </a>
      <% end %>
    </div>

    <%= form_tag issues_search_query(pulls_only: pulls_only), class: "select-menu-new-item-form js-new-item-form", method: :get do %>
      <%
        components = Search::Queries::IssueQuery.parse(query)
        components.delete_if { |component| component.first == :user }
        new_query  = Search::Queries::IssueQuery.stringify(components)
      %>
      <input type="hidden" name="q" value="<%= new_query %>">
      <button class="SelectMenu-item d-block js-new-item-value" type="submit" name="user" role="menuitem">
        <div class="text-bold f5">user:<span class="js-new-item-name"></span></div>
        <div class="text-gray-light">Filter by this organization</div>
      </button>
    <% end %>
  </div>
<% else %>
  <div class="SelectMenu-list">
    <div class="SelectMenu-blankslate">
      <%= link_to(
        "Sign in to use this filter.",
        login_path_with_return,
        rel: "nofollow",
        "data-skip-pjax": true,
        data: sign_in_link_data_attributes(location_in_page: "org filter")
      ) %>
    </div>
  </div>
<% end %>
