<% return unless current_repository %>
<%
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="project-select-menu">
  <summary class="btn-link" data-hotkey="p" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Projects">
    Projects
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-lg-0" role="menu" src="<%= show_menu_content_issues_path(partial: "issues/filters/projects_content", q: query, pulls_only: pulls_only) %>" preload>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by project</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="project-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </header>
      <include-fragment class="SelectMenu-loading">
        <%= octicon "octoface", class: "anim-pulse", width: 32 %>
      </include-fragment>
     </div>
  </details-menu>
</details>
