<%
  queried_slugs = issues_search_term_values(:project)
  slug = project_search_slug_owner_type(queried_slugs.first)
  active_tab =
    case slug
      when "Repository" then :repo
      when "Organization" then :org
      else current_repository.projects_enabled? ? :repo : :org
    end
%>

<div class="SelectMenu-filter">
  <input class="SelectMenu-input form-control js-filterable-field" id="projects-filter-field"  type="text"  placeholder="Filter projects" aria-label="Filter projects" autocomplete="off" autofocus>
</div>

<tab-container>
  <div class="SelectMenu-tabs" role="tablist" aria-label="Filter tabs">
    <% if current_repository.projects_enabled? %>
      <button class="SelectMenu-tab" type="button" role="tab" aria-selected="<%= active_tab == :repo %>">Repository</button>
    <% end %>
    <% if show_organization_projects_ui?(current_repository) %>
      <button class="SelectMenu-tab" type="button" role="tab" aria-selected="<%= active_tab == :org %>">Organization</button>
    <% end %>
  </div>

  <% if current_repository.projects_enabled? %>
    <%= render partial: "issues/filters/projects_tab", locals: {
      pulls_only: pulls_only,
      hidden: active_tab != :repo,
      projects: current_repository.projects.open_projects.order(:name),
      queried_slugs: queried_slugs
    } %>
  <% end %>

  <% if show_organization_projects_ui?(current_repository) %>
    <%= render partial: "issues/filters/projects_tab", locals: {
      pulls_only: pulls_only,
      hidden: active_tab != :org,
      projects: current_repository.owner.visible_projects_for(current_user).open_projects.order(:name),
      queried_slugs: queried_slugs
    } %>
  <% end %>
</tab-container>
