<%
  sort = params[:sort]
  direction = params[:direction]
  sort_label = issues_sort_labels[[sort, direction]]
  filtered_sorts = issues_search_term_values(:sort)[0] || 'created-desc'
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative pr-3 pr-sm-0 px-3" id="sort-select-menu">
  <summary class="btn-link" title="Sort" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Sort">
    Sort<span><%= sort_label %></span>
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-0" role="menu" aria-label="Sort by">
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Sort by</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="sort-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </header>

      <div class="SelectMenu-list">
        <% issues_sort_menu_options.each do |description, sort| %>
          <% selected = filtered_sorts == sort %>
          <% url = issues_search_query(replace: { sort: !selected ? sort : nil }, pulls_only: pulls_only) %>
          <a class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            <span><%= description %></span>
          </a>
        <% end %>

        <div class="SelectMenu-divider">Most reactions</div>
        <% reactions_selected = Emotion.all.any? { |emotion| "reactions-#{emotion.content}-desc" == filtered_sorts } %>
        <div class="clearfix ws-normal p-3 p-sm-2">
          <% Emotion.all.each do |emotion| %>
            <% sort = "reactions-#{emotion.content}-desc" %>
            <% selected = filtered_sorts == sort %>
            <% url = issues_search_query(replace: { sort: !selected ? sort : nil }, pulls_only: pulls_only) %>
            <a class="reaction-sort-item width-auto m-0 px-3 py-2" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
              <%= emoji_tag(emotion.emoji_character, alias: emotion.content, class: "emoji m-0 v-align-baseline") %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </details-menu>
</details>
