<%
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="visiblity-select-menu">
  <summary class="btn-link" data-hotkey="v" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Visibility">
    Visibility
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-0" role="menu" aria-label="Filter by Repository Visiblity">
    <div class="SelectMenu-modal">
      <div class="SelectMenu-header">
        <span class="SelectMenu-title">Repository visibility</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="visiblity-select-menu">
          <%= octicon("x", "aria-label": "Close menu") %>
        </button>
      </div>
      <div class="SelectMenu-list">
        <% filters = issues_search_term_values(:is) %>

        <%
          url = if selected = filters.include?("private")
            # TODO: This should be happening elsewhere.
            parsed_issues_query.delete_if { |component| component == [:is, "private"] }
            issues_search_query(pulls_only: pulls_only)
          else
            issues_search_query(append: [[:is, "private"]], pulls_only: pulls_only)
          end
        %>
        <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio">
          <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
          <span>Private repositories only</span>
        </a>

        <%
          url = if selected = filters.include?("public")
            # TODO: This should be happening elsewhere.
            parsed_issues_query.delete_if { |component| component == [:is, "public"] }
            issues_search_query(pulls_only: pulls_only)
          else
            issues_search_query(append: [[:is, "public"]], pulls_only: pulls_only)
          end
        %>
        <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio">
          <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
          <span>Public repositories only</span>
        </a>
      </div>
    </div>
  </details-menu>
</details>
