<div class="container-sm mx-auto mt-6 settings-next">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Two-factor recovery codes<% end %>
  <% end %>
  <p class="two-factor-lead">
    Recovery codes can be used to access your account in the event you
    lose access to your device and cannot receive two-factor authentication
    codes.
  </p>
  <div class="two-factor-steps">
    <h3>Recovery codes</h3>
    <p class="note">
      Treat your recovery codes with the same level of attention as you would your password!
      We recommend saving them with a password manager such as
      <a href="https://lastpass.com/" target="_blank" rel="noopener noreferrer">Lastpass</a>,
      <a href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>, or
      <a href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
    </p>
    <div class="flash flash-warn flash-full recovery-codes-warning mt-3">
      <%= octicon("alert", class: "recovery-codes-warning-octicon float-left") %>
      <b>Put these in a safe spot.</b>
      If you lose your device and don’t have the recovery codes you will lose access to your account.
    </div>
    <ul class="two-factor-recovery-codes">
      <% recovery_codes = current_user.two_factor_credential.formatted_recovery_codes %>
      <% recovery_codes.each do |code| %>
        <li class="two-factor-recovery-code"><%= code %></li>
      <% end %>
    </ul>
    <div class="recovery-codes-saving-options mb-4">
      <%= form_tag settings_auth_download_recovery_codes_path, :class => "d-inline" do -%>
        <button class="btn recovery-code-save-button" type="submit" data-ga-click="2FA, download recovery codes, view 2fa recovery codes form">
          <%= octicon("desktop-download") %>
          Download
        </button>
      <% end -%>

      <a href="<%= settings_auth_print_recovery_codes_path %>"
        target="_new"
        class="btn recovery-code-save-button"
        data-ga-click="2FA, print recovery codes, view 2fa recovery codes form">
        <%= octicon("file") %>
        Print
      </a>

      <clipboard-copy
          value="<%= recovery_codes.join("\s\n") %>"
          data-ga-click="2FA, copy recovery codes, view 2fa recovery codes form"
          class="btn recovery-code-save-button">
        <%= octicon("clippy") %>
        Copy
      </clipboard-copy>
    </div>
  </div>
  <strong>Generate new recovery codes</strong>
  <p class="note mb-3">
    When you generate new recovery codes, you must download or print the
    new codes. Your old codes won’t work anymore.
  </p>
  <%= form_tag settings_auth_regenerate_recovery_codes_path, :method => :put do %>
    <button type="submit" class="btn">Generate new recovery codes</button>
  <% end %>
  <hr>
  <p>
    <a href="<%= settings_user_two_factor_authentication_configuration_path %>">Back to settings</a>
  </p>
</div>
