<%graphql
  fragment Repository on Repository {
    autocompletedTopicNames(query: $query)
  }
%>
<% repository = Views::Topics::Autocomplete::Repository.new(repository) %>

<% repository.autocompleted_topic_names.each do |name| %>
  <li role="option" class="border-bottom text-bold py-1 px-3" data-autocomplete-value="<%= name %>"><%= name %></li>
<% end %>
