<% if topic.created_by.present? || topic.released.present? %>
  <% if topic.created_by.present? %>
    <p class="mb-1">
      <span class="text-gray">Created by</span> <%= topic.created_by %>
    </p>
  <% end %>

  <% if topic.released.present? %>
    <p class="mb-1">
      <span class="text-gray">Released</span> <%= topic.released %>
    </p>
  <% end %>

  <% if topic.latest_release %>
    <p class="mb-1">
      <span class="text-gray">Latest release</span>
      <a href="<%= "#{topic.github_url}/releases/latest" %>" alt="Latest release">
        <%= topic.formatted_days_since_latest_release %>
      </a>
    </p>
  <% end %>
<% end %>

<dl class="my-4">
  <% if topic.github_url.present? %>
    <dt class="d-none">
      <% if topic.github_url_is_repository? %>
        Repository
      <% else %>
        Organization
      <% end %>
    </dt>
    <dd class="mb-1">
      <% if topic.github_url_is_repository? %>
        <%= octicon("repo", class: "text-gray-light mr-1") %>
      <% else %>
        <%= octicon("organization", class: "text-gray-light mr-1") %>
      <% end %>
      <a
        href="<%= topic.github_url %>"
        data-ga-click="Explore, go to <%= formatted_url_path(topic.github_url) %>, location:topic page"
      >
        <span
          class="css-truncate css-truncate-target"
          title="<%= formatted_url_path(topic.github_url) %>"
        >
          <%= formatted_url_path(topic.github_url) %>
        </span>
      </a>
    </dd>
  <% end %>

  <% if topic.url.present? %>
    <dt class="d-none">
      Website
    </dt>
    <dd class="mb-1">
      <%= octicon("link", class: "text-gray-light mr-1") %>
      <a
        href="<%= topic.url %>"
        data-ga-click="Explore, go to external url, location:topic page"
      >
        <span
          class="css-truncate css-truncate-target"
          title="<%= url_without_scheme(topic.url.to_s) %>"
        >
          <%= url_without_scheme(topic.url.to_s) %>
        </span>
      </a>
    </dd>
  <% end %>

  <% if topic.wikipedia_url.present? %>
    <dt class="d-none">
      Wikipedia
    </dt>
    <dd class="mb-1">
      <%= octicon("link", class: "text-gray-light mr-1") %>
      <a
        href="<%= topic.wikipedia_url %>"
        data-ga-click="Explore, go to Wikipedia entry, location:topic page"
      >
        <span
          class="css-truncate css-truncate-target"
          title="<%= url_without_scheme(topic.wikipedia_url.to_s) %>"
        >
          Wikipedia
        </span>
      </a>
    </dd>
  <% end %>
</dl>

<% if topic.related_topics.present? %>
  <h2 class="h4-mktg mb-2">
    Related Topics
  </h2>
<% end %>

<% topic.related_topics.each do |related_topic| %>
  <%=
    render(Topics::TagComponent.new(
      font_size: 6,
      href: topic_show_path(related_topic.name),
      my: 1,
      name: related_topic.name,
      title: "Topic: #{related_topic.name}",
      data: {
        ga_click: "Explore, go to topic, location:star topics callout;text:#{related_topic.name}"
      }
    ))
  %>
<% end %>
