<%
  page_info(
    title: "#{topic.safe_display_name} · GitHub Topics",
    stafftools: stafftools_topic_path(topic.name)
  )
%>

<div class="container-lg d-sm-flex flex-items-center p-responsive py-5">
  <div class="col-sm-10 d-flex flex-items-center mb-3 mb-sm-0">
    <div
      class="border border-black-fade bg-blue-light f4 text-gray-light text-bold rounded-1 flex-shrink-0 text-center mr-3"
      style="width: 48px; height: 48; line-height: 48px;"
    >
      #
    </div>

    <h1 class="h1-mktg">
      <%= topic.safe_display_name %>
    </h1>
  </div>

  <div class="col-sm-2 text-sm-right">
    <%= render "stars/star_topic_button", star_context: "topic", topic: topic %>
  </div>
</div>
