<ul class="list-style-none">
  <% topic_results.each do |topic| %>
    <li class="py-4 border-bottom">
      <a
        href="<%= topic_show_path(topic) %>"
        class="d-flex no-underline"
        data-ga-click="Explore, go to <%= topic.name %>, location:All featured topics"
      >
        <% if topic.logo_url %>
          <img
            src="<%= topic.logo_url %>"
            class="rounded-1 mr-3"
            width="64"
            height="64"
            alt="<%= topic.name %>"
          >
        <% else %>
          <div
            class="bg-blue-light f4 text-gray-light text-bold rounded-1 mr-3 flex-shrink-0 text-center"
            style="width:64px; height:64px; line-height:64px;"
          >
            #
          </div>
        <% end %>
        <div class="d-sm-flex flex-auto">
          <div class="flex-auto">
            <p class="f3 lh-condensed mb-0 mt-1 link-gray-dark"><%= topic.safe_display_name %></p>
            <p class="f5 text-gray mb-0 mt-1">
              <%= truncate(topic.short_description, length: 160) %>
            </p>
          </div>

          <%= render "stars/star_topic_button", star_context: "topics", topic: topic %>
        </div>
      </a>
    </li>
  <% end %>
</ul>
<% if topic_results.next_page.present? %>
  <%= form_tag topics_path, method: :get, class: "ajax-pagination-form js-ajax-pagination" do %>
    <input name="page" type="hidden" value="<%= topic_results.next_page %>">
    <button
      type="submit"
      class="ajax-pagination-btn btn mt-4 py-2 btn-outline border-gray-dark f6 width-full"
      data-disable-with="Loading more&hellip;"
    >
      Load more&hellip;
    </button>
  <% end %>
<% end %>
