<%graphql
  fragment Repository on Repository {
    repositoryTopics(first: 20) {
      nodes {
        resourcePath
        topic {
          name
        }
      }
    }
  }
%>
<% repository = Views::Topics::List::Repository.new(repository) %>
<% if repository.repository_topics.nodes.any? %>
  <div class="f6">
    <% repository.repository_topics.nodes.each do |repo_topic| %>
      <%= render(Topics::TagComponent.new(
        name: repo_topic.topic.name,
        href: repo_topic.resource_path,
        data: {
          ga_click: "Topic, repository page",
          octo_click: "topic_click",
          octo_dimensions: "topic:#{repo_topic.topic.name}"
        }
      )) %>
    <% end %>
  </div>
<% end %>
