<% repositories = repository_results.results.map { |result| result["_model"] } %>

<% repositories.each do |repository| %>
  <%=
    render(Explore::Feed::RepositoryComponent.new(
      repository: repository,
      current_visitor: current_visitor
    ))
  %>
<% end %>

<% if repository_results.current_page == 1 && repository_results.empty? %>
  <div class="f3 text-gray lh-condensed">
    The <strong class="h3 text-gray-dark"><%= topic.name %></strong> topic hasn't been used on
    any public repositories, yet.
  </div>

  <a
    href="<%= topics_path %>"
    class="btn btn-primary mt-3"
    data-ga-click="Explore, go to Topics, location:blankslate; text:Explore topics"
  >
    Explore topics
  </a>
<% end %>

<% if repository_results.next_page.present? %>
  <%= form_tag request.url, method: :get, class: "ajax-pagination-form js-ajax-pagination" do %>
    <input name="page" type="hidden" value="<%= repository_results.next_page %>">
    <button
      type="submit"
      class="ajax-pagination-btn btn btn-outline border-gray-dark f6 mt-0 width-full"
      data-disable-with="Loading more&hellip;"
    >
      Load more&hellip;
    </button>
  <% end %>
<% end %>
