<div class="border rounded-1 box-shadow bg-white p-4 mb-5">
  <% if topic.logo_url.present? %>
    <div class="float-sm-right ml-sm-4 mb-4 text-center">
      <img src="<%= topic.logo_url %>" width="100" height="100" alt="<%= "#{topic.name} logo" %>">
    </div>
  <% end %>

  <div class="markdown-body f5 mb-2">
    <%= topic_feed_flavored_markdown(topic.description) %>
  </div>
</div>

