<%
  instrument_explore_page_view(user: current_user, visitor: current_visitor)
  page_info(title: "Topics on GitHub", stafftools: biztools_topics_path)
%>

<%= render(Explore::NavComponent.new) %>

<div class="bg-gray-light border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h0-mktg">Topics</h1>
    <p class="f4 text-gray col-md-6 mx-auto">Browse popular topics on GitHub.</p>
  </div>
</div>

<% if featured_topics_sample.any? %>
  <div class="container-lg p-responsive mt-6">
    <ul class="d-flex flex-wrap flex-justify-start flex-items-stretch list-style-none gutter my-4">
      <% featured_topics_sample.each do |topic| %>
        <%= render "topics/topic_box", topic: topic %>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="d-lg-flex container-lg p-responsive <%= "py-4" if featured_topics_sample.empty? %>">
  <div class="col-lg-9 position-relative pr-lg-5 mb-6 mr-lg-5">
    <h2 class="h2-mktg">All featured topics</h2>
    <%= render "topics/featured_topics", topic_results: topic_results %>
  </div>

  <div class="col-lg-3">
    <% if popular_topics.any? %>
      <h2 class="h4-mktg mb-2">Popular topics</h2>
      <ul class="col-sm-6 col-md-4 col-lg-12 list-style-none flex-wrap">
        <% popular_topics.each do |topic| %>
          <li class="d-inline-block">
            <%= render(Topics::TagComponent.new(
              name: topic.name,
              href: topic_show_path(topic),
              data: { ga_click: "Topics, go to #{topic.name}, location:popular topics" },
              font_size: 6, my: 1
            )) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
