<div class="mb-5 js-org-runner-permissions-selection">
  <div class="d-flex">
    <p class="mb-0">Self-hosted runners are permitted to be used on
      <span class="text-bold" <%= test_selector("runner-policy") %>>
        <% if access_policy.permission_type == :SELECTED_REPOSITORIES%>
          <%= access_policy.selected_repositories.size %> selected <%= "repository".pluralize(access_policy.selected_repositories.size).downcase %>
        <% else %>
          <%= permissions[access_policy.permission_type][:label] %>
        <% end %>
      </span> in this organization.
    </p>
    <details class="details-overlay details-reset details-overlay-dark position-relative d-inline-block ml-3">
      <summary class="btn" aria-haspopup="menu">
        Manage repository permissions
      </summary>
      <details-dialog
        class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide js-repository-items-dialog"
        aria-label="Select repositories"
        aria-modal="true"
        src="<%= org_actions_runner_policies_path %>">
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
  </div>
  <% if access_policy.permission_type == :ALL_REPOSITORIES %>
    <%= render Actions::Runners::VisibilityWarningComponent.new %>
  <% end %>
</div>
