<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon :x %>
  </button>
  <h3>Repository permissions</h3>
</div>
<%= form_tag org_actions_update_runner_policies_path,
  class: "d-flex flex-column overflow-hidden",
  method: :put do %>
  <div class="Box-body border-bottom-0">
    <p>
      Choose which repositories have access to the organizations runners.
    </p>
    <%= render(Organizations::Settings::RepositoryPermissionsComponent.new(access_policy: access_policy)) %>
  </div>
  <div class="js-org-runner-repository-selection Box-body border-top border-bottom-0 pb-0 d-flex flex-column overflow-hidden" <%= " hidden" if access_policy.permission_type != :SELECTED_REPOSITORIES %>>
    <%= render(Organizations::Settings::RepositorySelectionComponent.new(
      organization: organization,
      repositories: repositories,
      selected_repositories: selected_repositories,
      policy_type: Orgs::ActionsSettings::RepositoryItemsController::RUNNERS_POLICY)) %>
  </div>

  <div class="Box-footer text-right">
    <span class="js-selected-repositories-count-container float-left text-small float-left pt-3 lh-condensed-ultra" <%= " hidden" unless access_policy.permission_type == :SELECTED_REPOSITORIES %>>
      <span class="js-selected-repositories-count">
        <%= access_policy.selected_repositories.size %>
      </span>
      <span class="js-multiple-repositories-text" <%= " hidden" if access_policy.selected_repositories.size == 1 %>>
        selected repositories
      </span>
      <span class="js-single-repository-text" <%= " hidden" unless access_policy.selected_repositories.size == 1 %>>
        selected repository
      </span>
    </span>
    <button type="submit" class="btn btn-primary">
      Save permissions
    </button>
  </div>
<% end %>
