<%
  page_info title: "Actions",
            responsive: false,
            selected_link: :organization_actions_settings
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      <a href="<%= settings_org_actions_path(current_organization) %>">Actions</a> / Add self-hosted runner
    <% end %>
  <% end %>
  <p>
    Adding a self-hosted runner requires that you download, configure, and execute the
    GitHub Actions Runner. By downloading and configuring the GitHub Actions Runner, you
    agree to the <a href="<%= GitHub.help_url %>/github/site-policy/github-terms-of-service">GitHub Terms of Service</a>
    or <a href="<%= GitHub.help_url %>/github/site-policy/github-corporate-terms-of-service">GitHub Corporate Terms of Service</a>, as applicable.
  </p>

  <% if downloads.empty? # Waiting on background job to setup Actions tenants %>
    <poll-include-fragment src="<%= settings_org_actions_add_runner_instructions_path %>" class="octocat-spinner mb-3"></poll-include-fragment>
  <% else %>
    <%= render partial: "actions/settings/add_runner_instructions", locals: {
        platform: platform,
        os: os,
        architecture: architecture,
        downloads: downloads,
        platform_options: platform_options,
        token: token,
        selected_download: selected_download,
        registration_url: "#{GitHub.url}/#{current_organization}"
      }
    %>
  <% end %>
  <a class="btn btn-primary mt-2" href="<%= settings_org_actions_path(current_organization) %>" role="button">Back to self-hosted runners listing</a>
<% end %>
