<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    databaseId
    slug
    heroCardBackgroundUrl
    heroCardBackgroundImageDatabaseID
    resourcePath
    isLightText
    logoBackgroundColor
    logoUrl(size: 106)
    owner {
      databaseId
      name
    }
    ...Views::MarketplaceListings::FeaturedListing::MarketplaceListing
    ...Views::MarketplaceListings::FeaturedListingLink::MarketplaceListing
  }
%>
<% listing = Views::MarketplaceListings::Edit::LogoAndFeatureCard::MarketplaceListing.new(listing) %>

<div class="p-6 bg-gray-dark rounded-2 text-center">
  <div class="d-inline-flex flex-justify-center mx-auto" style="width: 304px;">
      <%= render partial: "marketplace_listings/featured_listing", locals: { listing: listing, break_logo_cache: true } %>
  </div>
</div>

<div class="clearfix gutter">
  <div class="col-5 float-left">
    <%= file_attachment_tag(
      model: :avatars,
      class: "js-upload-avatar-image is-default",
      input: "logo-uploader",
      "data-alambic-owner-id": listing.database_id,
      "data-alambic-owner-type": Marketplace::Listing.name,
      "data-alambic-organization": listing.owner.is_a?(PlatformTypes::Organization) ? listing.owner.database_id : nil
    ) do %>
      <dl class="form-group required">
        <dt>
          <label for="logo-uploader">Logo</label>
        </dt>
        <dd>
          <div class="avatar-upload">
            <div class="clearfix">
              <input type="file" id="logo-uploader" class="form-control d-none">
              <label for="logo-uploader" class="btn btn-outline">Upload file</label>

              <div class="upload-state loading">
                <button type="button" class="btn-link mt-3 ml-3 width-full text-center" disabled>
                  <%= image_tag "spinners/octocat-spinner-32.gif", width: 16, height: 16, alt: "", class: "v-align-text-bottom" %> Uploading...
                </button>
              </div>
            </div>

            <div class="upload-state text-red file-empty">
              This file is empty.
            </div>

            <div class="upload-state text-red too-big">
              Please upload a picture smaller than 1 MB.
            </div>

            <div class="upload-state text-red bad-dimensions">
              Please upload a picture smaller than 10,000x10,000.
            </div>

            <div class="upload-state text-red bad-file">
              We only support PNG, GIF, or JPG pictures.
            </div>

            <div class="upload-state text-red failed-request">
              Something went really wrong and we can’t process that picture.
            </div>

            <div class="upload-state text-red bad-format">
              File contents don’t match the file extension.
            </div>
          </div>
        </dd>
      </dl>
    <% end %>

    <%= file_attachment_tag(
      model: :marketplace_listing_images,
      input: "upload-hero-card-background",
      class: "js-upload-marketplace-listing-hero-card-background is-default",
      "data-marketplace-listing-id": listing.database_id
    ) do %>
      <dl class="form-group required">
        <dt>
          <label for="upload-hero-card-background">Background image</label>
        </dt>
        <dd class="avatar-upload-container">
          <div class="avatar-upload">
            <input type="file" id="upload-hero-card-background" class="form-control d-none">
            <label for="upload-hero-card-background" class="btn btn-outline">Upload file</label>

            <div class="upload-state loading">
              <button type="button" class="btn mt-3 width-full text-center" disabled>
                <%= image_tag "spinners/octocat-spinner-32.gif", width: 16, height: 16, alt: "", class: "v-align-text-bottom" %> Uploading...
              </button>
            </div>

            <div class="upload-state text-red file-empty">
              This file is empty.
            </div>

            <div class="upload-state text-red too-big">
              Please upload an image smaller than 1 MB.
            </div>

            <div class="upload-state text-red bad-file">
              We only support PNG, GIF, and JPG images.
            </div>

            <div class="upload-state text-red failed-request">
              Something went really wrong and we can’t process that image.
            </div>

            <div class="upload-state text-red bad-format">
              File contents don’t match the file extension.
            </div>
          </div>
        </dd>
      </dl>
    <% end %>

    <%= form_tag listing.resource_path.to_s, method: :put, class: "js-marketplace-listing-form" do %>
      <input id="marketplace_listing_hero_card_background_id" class="js-marketplace-listing-hero-card-background-id" type="hidden" value="<%= listing.hero_card_background_image_database_id %>" name="marketplace_listing[heroCardBackgroundImageDatabaseID]" class="form-control">

      <dl class="form-group required">
        <dt>
          <label for="marketplace_listing_bgcolor">Badge background color</label>
        </dt>
        <dd>
          <input required type="text" autocomplete="off" name="marketplace_listing[logoBackgroundColor]" id="marketplace_listing_bgcolor" maxlength="6" class="form-control js-marketplace-listing-logo-background-color" value="<%= listing.logo_background_color %>" aria-describedby="help-text-for-bgcolor">
          <p class="note" id="help-text-for-bgcolor">
            The hex value of the badge background color.
          </p>
        </dd>
      </dl>
      <dl class="form-group required">
        <dt>
          <label for="marketplace_listing_is_light_text">Text color</label>
        </dt>
        <dd>
          <select class="form-control form-select js-marketplace-listing-light-text" id="marketplace_listing_is_light_text" name="marketplace_listing[isLightText]" value="<%= listing.is_light_text? %>">
            <option value="true" <%= "selected" if listing.is_light_text? %>>Light text</option>
            <option value="false" <%= "selected" unless listing.is_light_text? %>>Dark text</option>
          </select>
        </dd>
      </dl>

      <input type="hidden" value="description" name="page" class="form-control">

      <button data-disable-invalid type="submit" class="btn btn-primary">Save logo and feature card</button>
      <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice d-inline-block text-green f6">
        <%= octicon("check") %> Saved
      </span>
    <% end %>
  </div>

  <div class="col-7 float-left">
    <p class="mt-3 text-small">Changes may take a few moments to update across the entire site.</p>

    <p class="mt-3 text-small">Guidelines for your feature card:</p>

    <ul class="ml-3 mb-3 text-small">
      <li>Background image measures 965px by 482px (width x height).</li>
      <li>Text shows up clearly over the art.</li>
      <li>Background image contains a bit of texture.</li>
      <li>Feature card captures your brand personality.</li>
    </ul>

    <p class="text-small">For examples, see the <a href="<%= marketplace_path %>" target="_blank">Marketplace homepage</a>.</p>
  </div>
</div>
