<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
fragment Root on Query {
  enabledFeatures
  marketplaceCategories(excludeFilterCategories: true) {
    name
  }
  marketplaceListing(slug: $listingSlug) {
    name
    resourcePath
    shortDescription
    viewerCanEditCategories
    resourcePath
    companyUrl
    supportUrl
    statusUrl
    termsOfServiceUrl
    documentationUrl
    privacyPolicyUrl
    installationUrl
    integratableIsOauthApplication
    primaryCategory {
      name
    }
    secondaryCategory {
      name
    }
    languages(first: $languageCount) {
      nodes {
        name
      }
    }
  }
}
%>

<%
  data = Views::MarketplaceListings::Edit::NamingAndLinks::Root.new(data)
  listing = data.marketplace_listing
  supported_language_names = listing.languages.nodes.map(&:name)
%>

<%= form_tag(listing.resource_path.to_s, method: :put, class: "js-marketplace-listing-form", "data-warn-unsaved-changes": "") do %>
  <dl class="form-group required">
    <dt><label for="marketplace_listing_name">Listing name</label></dt>
    <dd class="js-listing-characters-remaining-container">
      <input required type="text" name="marketplace_listing[name]" value="<%= listing.name %>" class="form-control js-listing-characters-remaining-field" id="marketplace_listing_name" aria-describedby="help-text-for-name" maxlength="<%= Marketplace::Listing::NAME_MAX_LENGTH %>">
      <p class="text-gray text-small" id="help-text-for-name">
        Limit <%= Marketplace::Listing::NAME_MAX_LENGTH %> characters.
        <span class="js-listing-characters-remaining" data-suffix="remaining.">
          <%= Marketplace::Listing::NAME_MAX_LENGTH - (listing.name || "").length %> remaining.
        </span>
      </p>
      <p class="text-gray text-small">A human-friendly name for your listing. Changing this name will change the URL for your listing.</p>
    </dd>
  </dl>

  <dl class="form-group required">
    <dt><label for="marketplace_listing_short_description">Very short description</label></dt>
    <dd class="js-listing-characters-remaining-container">
      <input required type="text" name="marketplace_listing[shortDescription]" value="<%= listing.short_description %>"
                                                                               class="form-control js-listing-characters-remaining-field js-marketplace-short-description-field"
                                                                               id="marketplace_listing_short_description"
                                                                               aria-describedby="help-text-for-description"
                                                                               pattern="<%= Marketplace::Listing::NO_ENDING_PUNCTUATION_REGEX_JS.source %>"
                                                                               maxlength="<%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH %>">

      <p class="error">Cannot end with punctuation</p>

      <p class="text-gray text-small" id="help-text-for-description">
        Limit <%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH %> characters.
        <span class="js-listing-characters-remaining" data-suffix="remaining.">
          <%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH - (listing.short_description || "").length %> remaining.
        </span>
      </p>
      <p class="text-gray text-small">
        This description will be shown under your listing’s name in search results, the home page and category pages.
      </p>
    </dd>
  </dl>

  <dl class="form-group required">
    <% if listing.viewer_can_edit_categories? %>
      <dt><label for="marketplace_listing_primary_category">Primary category</label></dt>
      <dd>
      <select name="marketplace_listing[primaryCategoryName]" class="form-select" id="marketplace_listing_primary_category">
        <% data.marketplace_categories.each do |category| %>
          <% is_selected = category.name == listing.primary_category.name %>
          <option value="<%= category.name %>"<% if is_selected %> selected<% end %>>
          <%= category.name %>
          </option>
        <% end %>
      </select>
      </dd>
    <% else %>
      <dt><strong>Primary category</strong></dt>
      <dd class="topic-tag"><%= listing.primary_category.name %></dd>
    <% end %>
  </dl>
  <dl class="form-group">
    <% if listing.viewer_can_edit_categories? %>
      <dt>
      <label for="marketplace_listing_secondary_category">Secondary category</label>
      </dt>
      <dd>
      <select name="marketplace_listing[secondaryCategoryName]" class="form-select" id="marketplace_listing_secondary_category">
        <option value="none">None</option>
        <% data.marketplace_categories.each do |category| %>
          <% is_selected = listing.secondary_category && category.name == listing.secondary_category.name %>
          <option value="<%= category.name %>"<% if is_selected %> selected<% end %>>
          <%= category.name %>
          </option>
        <% end %>
      </select>
      </dd>
    <% else %>
      <dt><strong>Secondary category</strong></dt>
      <dd class="topic-tag">
      <%= listing.secondary_category ? listing.secondary_category.name : "none" %>
      <input type="hidden" name="marketplace_listing[secondaryCategoryName]" value="<%= listing.secondary_category ? listing.secondary_category.name : nil %>">
      </dd>
    <% end %>
  </dl>
  <% unless listing.viewer_can_edit_categories? %>
    <p class="note">Categories can no longer be edited for this listing.</p>
  <% end %>

  <div class="form-group">
    <div class="text-bold">Supported languages</div>
    <%= render partial: "marketplace_listings/supported_languages",
               locals: { selected_language_names: supported_language_names } %>
  </div>

  <dl class="form-group required">
    <dt><label for="marketplace_listing_support_url">Customer support URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[supportUrl]" value="<%= listing.support_url %>" class="form-control" id="marketplace_listing_support_url">
    </dd>
  </dl>
  <dl class="form-group required">
    <dt><label for="marketplace_listing_privacy_policy_url">Privacy policy URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[privacyPolicyUrl]" value="<%= listing.privacy_policy_url %>" class="form-control" id="marketplace_listing_privacy_policy_url">
    </dd>
  </dl>
  <% if listing.integratable_is_oauth_application? %>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_installation_url">Installation URL</label>
        <p class="note">
          The URL we'll redirect to after they install the app on GitHub. More information on this can be
          found in <a href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/writing-github-marketplace-listing-descriptions/#listing-urls" target="_blank">our developer documentation</a>.
        </p>
      </dt>
      <dd>
      <input type="text" name="marketplace_listing[installationUrl]" value="<%= listing.installation_url %>" class="form-control" id="marketplace_listing_installation_url">
      </dd>
    </dl>
  <% end %>
  <dl class="form-group">
    <dt><label for="marketplace_listing_company_url">Company URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[companyUrl]" value="<%= listing.company_url %>" class="form-control" id="marketplace_listing_company_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_status_url">Status URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[statusUrl]" value="<%= listing.status_url %>" class="form-control" id="marketplace_listing_status_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_tos_url">Terms of service URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[termsOfServiceUrl]" value="<%= listing.terms_of_service_url %>" class="form-control" id="marketplace_listing_tos_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_documentation_url">Documentation URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[documentationUrl]" value="<%= listing.documentation_url %>" class="form-control" id="marketplace_listing_documentation_url">
    </dd>
  </dl>

  <input type="hidden" value="description" name="page" class="form-control">

  <button data-disable-invalid data-disable-with type="submit" class="btn btn-primary">Save naming and links</button>
  <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice d-inline-block text-green f6 ml-2">
    <%= octicon("check") %>
    Saved
  </span>
<% end %>
