<%# helper is an instance of RepositoryScanning::CodeSnippetHelper %>

<div itemprop="text" class="blob-wrapper data-type-<%= helper.blob.language ? helper.blob.language.name.parameterize : "text" %>">
  <% load_blob_editor_configs!(helper.commit, helper.blob) %>
  <table
     class="tab-size js-highlight-code-snippet-columns"
     data-tab-size="<%= tab_size(helper.blob.path) %>"
     data-start-line="<%= helper.location.start_line %>"
     data-end-line="<%= helper.location.end_line %>"
     data-start-column="<%= helper.location.start_column %>"
     data-end-column="<%= helper.location.end_column %>"
     data-paste-markdown-skip
  >
    <%
      helper.lines.each_with_index do |line, i|
        # Line numbers are 1-indexed.
        i += 1

        # Give browsers some text to copy so blank lines get preserved in
        # copy-paste.
        line = "\n" if line.empty?
    %>
      <% if helper.lines_to_include.include?(i) %>
        <tr>
          <td id="L<%= i %>" style="pointer-events: none;" class="blob-num <%= helper.line_highlight_classes(i) %>" data-line-number="<%= i %>"></td>
          <td id="LC<%= i %>" class="blob-code blob-code-inner <%= helper.line_highlight_classes(i) %>"><%= line %></td>
        </tr>
        <% if helper.last_line_to_highlight?(i) && helper.message_text.present? %>
          <tr>
            <td colspan="2" class="border-top border-bottom p-1">
              <div class="comment-holder">
                <%= render partial: "repos/scanning/location_message", locals: {
                      helper: helper,
                      tool_display_name: local_assigns[:tool_display_name],
                    }
                %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
