<div class="Box rounded-1 m-1">
  <div class="d-inline-block border px-3 py-2 text-small <%= helper.message_classes %>" style="border-width: 0 0 0 3px !important;">
    <div class="text-mono">
      <%= helper.message_text %>
    </div>

    <% if local_assigns[:tool_display_name].present? %>
      <div class="mt-2">
        <span class="text-bold text-gray-light">
          <%= local_assigns[:tool_display_name] %>
        </span>
      </div>
    <% end %>
  </div>
</div>
