<div class="file js-file js-details-container js-file-line-container Details Details--on open mt-2" <%= test_selector("scanning-location") %>>
  <div class="d-flex file-header js-file-header">
    <div class="file-info d-flex flex-auto min-width-0">
      <div class="flex-self-center lh-default py-1">
        <% file_path, file_name = split_file_path_and_name(reverse_truncate(full_path, length: DiffHelper::DIFF_FILE_LABEL_TRUNCATION_LENGTH)) %>
        <% if local_assigns[:snippet_helper].blob? %>
          <a href="<%= path_link %>" title="<%= full_path %>" class="link-gray-dark">
            <%= file_path %><b><%= file_name %></b>
          </a>
        <% else %>
          <%= file_path %><b><%= file_name %></b>
        <% end %>
        <clipboard-copy
          value="<%= full_path %>"
          data-copy-feedback="Copied!"
          aria-label="Copy"
          class="js-clipboard-copy zeroclipboard-link text-gray link-hover-blue"
          <%= test_selector("code-scanning-copy-path") %>
        >
          <%= octicon("clippy", class: "d-inline-block mx-1 js-clipboard-clippy-icon") %>
          <%= octicon("check", class: "js-clipboard-check-icon mx-1 d-inline-block d-none text-green") %>
        </clipboard-copy>
      </div>
    </div>

    <%= local_assigns[:additional_controls] if local_assigns[:additional_controls].present? %>
  </div>
  <% if local_assigns[:snippet_helper].blob? %>
    <% if local_assigns[:snippet_helper].blob.text? %>
      <%= render partial: "repos/scanning/code_snippet", locals: {
            helper: local_assigns[:snippet_helper],
            tool_display_name: local_assigns[:tool_display_name],
          }
      %>
    <% else %>
      <div class="pt-4 pb-2 px-2">
        <%= render partial: "repos/scanning/missing_blob", locals: {
              helper: local_assigns[:snippet_helper],
              tool_display_name: local_assigns[:tool_display_name],
              description: "Previews for binary files can not be displayed.",
            }
        %>
      </div>
    <% end %>
  <% else %>
    <div class="pt-4 pb-2 px-2">
      <%= render partial: "repos/scanning/missing_blob", locals: {
            helper: local_assigns[:snippet_helper],
            tool_display_name: local_assigns[:tool_display_name],
            description: local_assigns[:missing_blob_description],
          }
      %>
    </div>
  <% end %>
</div>
