<div class="TimelineItem TimelineItem--condensed" <%= test_selector("code-scanning-missing-timeline-commit")%>>
  <div class="TimelineItem-badge"><%= octicon("git-commit") %></div>
  <div class="TimelineItem-body d-flex flex-items-center">
    <div class="AvatarStack flex-shrink-0">
      <div class="AvatarStack-body">
        <%= avatar_for(User.ghost, 20, class: "avatar") %>
      </div>
    </div>
    <code class="commit-message flex-auto pr-1">Commit no longer found in repository</code>
    <code><a href="<%= commit_url(commit_oid) %>" class="text-mono flex-shrink-0 link-gray"><%= commit_oid[0..7] %></a></code>
  </div>
</div>
