<div class="blankslate blankslate-narrow mt-4">
  <%= render GitHub::OcticonComponent.new(icon: "alert", size: :medium, classes: "blankslate-icon") %>
  <p>
    This secret gist has been disabled. <br>
    <%= trade_controls_secret_gist_restricted %>
  </p>
 <% if gist.adminable_by?(current_user) %>
    <%= render GitHub::DialogComponent.new(title: "Make this gist public") do |dialog| %>
        <% dialog.with(:summary) do %>
        <summary class="btn btn-sm btn-danger">
            <%= render GitHub::OcticonComponent.new(icon: "gist") %>
            Make public
        </summary>
        <% end %>
        <% dialog.with(:alert) do %>
        Please note: you will not be able to undo this action.
        <% end %>
        <% dialog.with(:body) do %>
        <ul class="ml-3" style="list-style-type: none;">
            <li>The code will be visible to everyone who can visit <%= GitHub.gist_url %></li>
            <li><%= trade_controls_restricted_public_abilities_for_gist %></li>
        </ul>
        <% end %>
        <% dialog.with(:footer) do %>
        <%= form_tag make_public_user_gist_path(gist.user_param, gist), method: :put do %>
            <button class="btn btn-danger btn-toggle-visibility" type="submit">
            I understand, make this gist public.
            </button>
        <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
