<%= hidden_field_tag "sponsors_listing[featured_users_selection][]", "" %>
<ul class="overflow-auto js-sponsors-featured-item-selection-list" data-featured-items-limit="<%= featured_users_limit %>">
  <% members.each do |member| %>
    <% selected = current_featured_users.include?(member) %>
    <li class="Box-row border-0" <%= test_selector("sponsors-featured-users-search-#{member.login}") %>>
      <input
        name="sponsors_listing[featured_users_selection][]"
        value="<%= member.id %>"
        type="checkbox"
        <%= "disabled" if current_featured_users.size == featured_users_limit && !selected %>
        <%= "checked" if selected %>
        aria-label="Highlight <%= member.login %> as a member of <%= sponsorable.login %>"
        class="mr-2">
      <%= linked_avatar_for(member, 34, img_class: "avatar") %>
      <strong class="ml-1"><%= member.profile&.name %></strong>
      <span class="ml-1 text-gray"><%= member.login %></span>
    </li>
  <% end %>
</ul>
