<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ project_title }} by {{ owner_name }}</title>

    <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/styles.css">
    <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/github-dark.css">
    <script src="{{asset_path_prefix}}javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header{{^project_tagline}} class="without-description"{{/project_tagline}}>
        <h1>{{ project_title }}</h1>
        {{#project_tagline}}<p>{{ project_tagline }}</p>{{/project_tagline}}
        <p class="view"><a href="{{ github_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {{#show_downloads?}}
        <ul>
          <li><a href="{{ zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ github_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {{/show_downloads?}}
        {{^show_downloads?}}
        <ul>
          <li class="single"><a href="{{ repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {{/show_downloads?}}
      </header>
      <section>
        {{{ main_content }}}
      </section>
    </div>
    <footer>
    {{#project_page?}}
      <p>Project maintained by <a href="{{ owner_url }}">{{ owner_name }}</a></p>
    {{/project_page?}}
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {{! Don't remove. Keep this before the /body tag }}
    {{{google_analytics}}}
  </body>
</html>
