<div id="privileged-access" class="boxed-group dangerzone">
  <h3>Privileged access</h3>
  <div class="boxed-group-inner">
    <% if GitHub.enterprise? %>
      <%= render layout: "shared/details_dialog", locals: {
          details_class: "boxed-action",
          button_text: "Unlock",
          button_class: "btn btn-danger boxed-action",
          title: "Unlock #{current_repository.name_with_owner}?"
          } do %>
        <%= render partial: "stafftools/repositories/security/unlock_dialog", locals: { placeholder_text: view.log_placeholder, current_repository: current_repository, method: :put }%>
      <% end %>

      <p id="access-warning-message">
        Be careful - you will have full access to this repository and its settings.
      </p>
    <% elsif view.active_access_grant %>
    <%= render layout: "shared/details_dialog", locals: {
        details_class: "boxed-action",
        button_text: "Unlock",
        button_class: "btn btn-danger boxed-action",
        title: "Unlock #{current_repository.name_with_owner}?"

        } do %>
      <%= render partial: "stafftools/repositories/security/unlock_dialog", locals: { placeholder_text: view.log_placeholder, current_repository: current_repository, method: :put } %>
    <% end %>

      <p id="access-granted-message">
        GitHub staff have been granted temporary access to this private repository.
        This grant will expire on <%= view.active_access_grant.expires_at.strftime("%m/%d/%Y at %H:%M %Z") %>. Be careful!
      </p>
    <% elsif view.active_access_request %>
      <%= button_to "Cancel request", gh_cancel_access_request_stafftools_repository_path(current_repository), method: :delete, class: "btn boxed-action", id: "cancel-request" %>

      <p id="pending-request-message">
        Staff access to this repository has already been requested.
        The current access request will automatically expire on <%= view.active_access_request.expires_at.strftime("%m/%d/%Y at %H:%M %Z") %>.
      </p>
    <% else %>

      <%= render layout: "shared/details_dialog", locals: {
        details_class: "boxed-action",
        button_text: "Request Access",
        button_class: "btn btn-danger boxed-action",
        title: "Request Access to #{current_repository.name_with_owner}?"
        } do %>
          <div class="Box-body overflow-auto">
            <%= form_tag gh_request_access_stafftools_repository_path(current_repository), :class => "stafftools-form" do %>
            Please choose at least one repo administrator to email requesting access:

              <div class="form-group scrollable-checklist js-check-all-container">
              <label><input type="checkbox" data-check-all> Select all admins</label>
              <br>
                <% view.repo_admin_logins.each do |admin| %>
                  <input type="checkbox" id="<%= admin %>" name="admins[]" value="<%= admin %>" data-check-all-item>
                  <%= label_tag admin, admin %>
                  <br>
                <% end %>
              </div>
              <dl class="form-group">
                <dt><label for="private-unlock-request-reason">Reason (internal)</label></dt>
                <dd>
                  <input class="form-control" type="text" id="private-unlock-request-reason"
                       name="reason" placeholder="<%= view.log_placeholder %>"
                       autofocus aria-label="reason">
                </dd>
              </dl>

              <div class="Box-footer">
                <button type="submit" class="btn btn-block">Request Repo Access</button>
              </div>
            <% end %>
          </div>
        <% end %>

      <p id="grant-required-message">
        <% if current_repository.in_organization? %>
          Owner or admin confirmation is required to unlock this repository.
        <% else %>
          Owner confirmation is required to unlock this repository.
        <% end %>
        <br>
        <% if current_repository.fork? %>
          <span id="forked-repo-message">
            <b>This repository is a fork of <%= link_to current_repository.root.name_with_owner, gh_stafftools_repository_path(current_repository.root) %>.</b>
            Acquire written consent from <%= link_to current_repository.root.owner, stafftools_user_path(current_repository.root.owner) %> before requesting access from <%= current_repository.owner %>!
          </span>
        <% end %>
      </p>

      <% if current_user.can_unlock_repos_without_owners_permission? %>
        </div>
        <div class="boxed-group-inner">
        <%= render layout: "shared/details_dialog", locals: {
            details_class: "boxed-action",
            button_text: "Unlock with Override",
            button_class: "btn btn-danger boxed-action",
            title: "Unlock #{current_repository.name_with_owner}?"
            } do %>
          <%= render partial: "stafftools/repositories/security/override_unlock_dialog", locals: { placeholder_text: view.log_placeholder, current_repository: current_repository } %>
        <% end %>

        <p id="permission-override-message">
          You may unlock this repository without permission ONLY for <%= link_to "legal or security purposes", "#{GitHub.help_url}/articles/github-terms-of-service/#3-access" %>.
        </p>
      <% end %>

    <% end %>
  </div>
</div>
