<div class="bubble bubble-disabled">
  <h3 class="bubble-title"><%= octicon(diff.timed_out? || diff.too_busy? ? "watch" : "alert") %> Sorry, this diff is unavailable.</h3>
  <% if diff.timed_out? %>
    <div class="bubble-content">The diff is taking too long to generate. It may be too large to display on GitHub.</div>
  <% elsif diff.too_busy? %>
    <div class="bubble-content">The diff is temporarily unavailable due to heavy server load. Please try again later.</div>
  <% elsif diff.corrupt? || diff.missing_commits? %>
    <div class="bubble-content">The repository may be missing relevant data. Please <a href="<%= contact_path %>">contact support</a> for more information.</div>
  <% end %>
</div>
