<tr class="inline-comments">
  <td class="js-line-comments line-comments" colspan="3">
    <div class="comment-holder js-comments-holder">
      <% thread.comments_for(current_user).each do |comment| %>
        <%= render "mobile/discussions/comment", comment: preloaded_platform_object(comment) %>
      <% end %>
    </div>

    <div class="inline-comment-form-container js-inline-comment-form-container">
      <div class="inline-comment-form-actions">
        <button type="button" class="btn btn-block js-toggle-inline-comment-form">
          <% if thread.supports_multiple_threads_per_line? %>
            Add an additional review comment
          <% else %>
            Add a line note
          <% end %>
        </button>
      </div>

      <%= render :partial => "mobile/diff/comment_form", :locals => { :thread => thread, :comment_context => :diff } %>
    </div>
  </td>
</tr>
