<% replying = local_assigns.fetch(:replying, false) %>

<div class="inline-comment-form">
  <% if logged_in? %>
    <% if current_user.must_verify_email? %>
      <div class="discussion-reply inline-note-reply">
        <div class="bubble bubble-disabled no-margin">
          <div class="bubble-content">
            <%= octicon("mail-read", :height => 32) %>
            <p>You need to <%= link_to "verify your email address", settings_user_emails_path %> before you can join the conversation.</p>
          </div>
        </div>
      </div>
    <% elsif thread.is_a?(DeprecatedPullRequestReviewThread) && !thread.pull_comparison %>
      <%# Prevent new comments if commit objects are missing %>
    <% else %>
      <%= form_tag create_line_comment_thread_path(thread), :class => "js-inline-comment-form" do %>
        <input type="hidden" name="comment_context" value="<%= comment_context %>">
        <% case thread %>
        <% when CommitCommentThread %>
          <input type="hidden" name="commit_id" value="<%= thread.commit_id %>">
          <input type="hidden" name="line">
          <input type="hidden" name="side">
        <% when DeprecatedPullRequestReviewThread %>
          <%# commit_id is deprecated %>
          <input type="hidden" name="commit_id" value="<%= thread.pull_comparison.end_commit.oid %>">
          <input type="hidden" name="comparison_start_oid" value="<%= thread.pull_comparison.start_commit.oid %>">
          <input type="hidden" name="comparison_end_oid" value="<%= thread.pull_comparison.end_commit.oid %>">
          <input type="hidden" name="comparison_base_oid" value="<%= thread.pull_comparison.base_commit.oid %>">
          <input type="hidden" name="line" value="<%= thread.line %>">
          <input type="hidden" name="side" value="<%= thread.side %>">
          <% if thread.reply_to_id %>
            <input type="hidden" name="in_reply_to" value="<%= thread.reply_to_id %>">
          <% end %>
        <% else %>
          <% raise TypeError, "unexpected thread type: #{thread.class}" %>
        <% end %>
        <input type="hidden" name="path" value="<%= thread.path %>">
        <input type="hidden" name="position" value="<%= thread.position %>">

        <% if thread.supports_multiple_threads_per_line? %>
          <div class="discussion-reply inline-note-reply">
            <textarea class="form-control js-comment-field" name="comment[body]" placeholder="Leave a comment" rows="5" style="width: 100%"></textarea>
            <div>
              <button type="button" class="btn js-hide-inline-comment-form">Cancel</button>

              <% if !thread.new_record? && !thread.pull.pending_review_by?(current_user) %>
                <button name="single_comment" type="submit" value="1" class="btn">Add reply</button>
              <% end %>

              <% unless replying %>
                <button type="submit" class="btn btn-primary" data-disable-with>
                  <span class="add-comment-label">Add comment</span>
                  <span class="start-review-label">Start a review</span>
                </button>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="discussion-reply inline-note-reply">
            <textarea class="form-control js-comment-field" name="comment[body]" placeholder="Leave a line note" rows="5" style="width: 100%"></textarea>
            <div>
              <button type="button" class="btn js-hide-inline-comment-form">Cancel</button>
              <button type="submit" class="btn btn-primary" data-disable-with="Commenting…">Leave line note</button>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="inline-note-sign-in-container">
      <%= render :partial => "mobile/discussions/comment_sign_in" %>
    </div>
  <% end %>
</div>
