<%# erblint:counter TooltipCounter 1 %>
<%# view is an instance of Diff::CodeLinesPartialView %>
<%
  last_right = nil
  last_left  = nil
%>

<%# We use loop and Enumerator#next so we can peek at the next line within the loop %>
<%# TODO: Remove this #to_enum call once line_enumerator is a real Enumerator %>
<% line_enumerator = view.line_enumerator.to_enum %>
<% loop do %>
  <% line = line_enumerator.next %>
  <% if line.type == :hunk %>
    <%=
      render_partial_view 'diff/hunk_header', Diff::HunkHeaderPartialView,
        lines_view_model: view,
        hunk_text:        line.text,
        position:         line.position,
        left:             line.left,
        right:            line.right,
        last_right:       last_right,
        last_left:        last_left
    %>
  <% else %>
    <tr class="add-inline-comment js-add-inline-comment" data-path="<%= view.path %>"
        data-position="<%= line.position %>" data-line="<%= line.current %>"
        data-side="<%= line.deletion? ? 'left' : 'right' %>">
      <% if line.type == :addition %>
        <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
      <% else %>
        <td id="<%= view.anchor %>L<%= line.left %>" data-line-number="<%= line.left %>"
            class="blob-num blob-num-<%= line.type %> js-linkable-line-number"></td>
      <% end %>

      <% if line.type == :deletion %>
        <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
      <% else %>
        <td id="<%= view.anchor %>R<%= line.right %>" data-line-number="<%= line.right %>"
            class="blob-num blob-num-<%= line.type %> js-linkable-line-number"></td>
      <% end %>

      <td class="blob-code blob-code-<%= line.type %>">
        <span class="blob-code-inner"><%= view.highlighted_line(line) %></span>

        <% if line.nonewline? %>
          <span class="no-nl-marker tooltipped tooltipped-n" aria-label="No newline at end of file">
            <%= octicon("no-newline") %>
          </span>
        <% end %>
      </td>
    </tr>

    <% if view.show_comments %>
      <% annotations = view.annotations.end_line(line.right) %>
      <% if annotations.any? %>
        <tr class="inline-comments">
          <td class="border-top border-bottom pb-3" colspan="3">

              <% annotations.each do |annotation|  %>
                <div class="annotation-block px-3 pt-3 border-right border-gray-dark">
                  <div class="Details js-details-container position-relative check-annotation check-annotation-<%= annotation.warning_level %> bg-white border border-dark-gray rounded-1">

                    <p class="text-small pl-2 ml-1 mb-2">
                      <span class="annotation-octicon text-center d-inline-block">
                        <% if annotation.warning_level == "failure" %>
                          <%= octicon("x", class: "text-red") %>
                        <% elsif annotation.warning_level == "warning" %>
                          <%= octicon("alert", class: "text-orange-light") %>
                        <% else %>
                          <%= octicon("info", class: "text-gray") %>
                        <% end %>
                      </span>
                      <% permalink = "#{view.anchor}L#{annotation.end_line}A#{annotation.id}" %>
                      <a href="#<%= permalink %>" id="<%= permalink %>" class="text-gray-light d-inline-block ml-1">Check <%= annotation.warning_level %> on line <%= annotation.end_line %></a>
                    </p>

                    <p class="ml-5 mb-0 pl-1 text-bold">
                      <%= integration_avatar(integration: annotation.github_app, size: 20, class: "avatar") %>
                      <span class="d-inline-block ml-1 mr-2">
                        <%= annotation.github_app.name %>
                      </span>
                    </p>

                    <p class="mt-1 mb-0 ml-5 pl-1 pr-2 text-bold">
                      <span class="annotation-title">
                        <%= annotation.title %>
                      </span>
                    </p>

                    <div class="py-2 ml-5 px-1 text-small">
                      <code><pre><%= annotation.message %></pre></code>
                    </div>

                  </div>
                </div>

              <% end %>
          </td>
        </tr>
      <% end %>
      <% if (threads = view.threads.position(line.position)).any? %>
        <%= render partial: "mobile/diff/inline_comments", locals: { threads: threads } %>
      <% end %>
    <% end %>
  <% end %>
  <% last_right = line.right %>
  <% last_left  = line.left %>
<% end %>
