<div class="discussion-block-header">Submit your review</div>

<div class="branch-action">
  <%= form_tag update_review_path(pull.repository.owner, pull.repository, pull.number), :method => "put" do %>
    <%= hidden_field_tag "head_sha", pull.head_sha %>
    <textarea class="form-control input-block input-contrast mb-3 js-comment-and-field" name="pull_request_review[body]" placeholder="Leave a comment" rows="4"></textarea>

    <% if pull.open? && current_user != pull.user %>
      <div class="bubble merge-options">
        <div class="list list-options">
          <label for="review_comment" class="list-item">
            <input checked class="merge-option-radio" id="review_comment" name="pull_request_review[event]" type="radio" value="comment">
            Comment
            <small class="byline">Submit general feedback without explicit approval.</small>
          </label>

          <label for="review_approve" class="list-item">
            <input class="merge-option-radio" id="review_approve" name="pull_request_review[event]" type="radio" value="approve">
            Approve
            <small class="byline">
              <% if pull.repository.writable_by?(current_user) %>
                Submit feedback and approve merging these changes.
              <% else %>
                Submit feedback approving these changes.
              <% end %>
            </small>
          </label>

          <label for="review_reject" class="list-item">
            <input class="merge-option-radio" id="review_reject" name="pull_request_review[event]" type="radio" value="reject">
            Request changes
            <small class="byline">
              <% if pull.repository.writable_by?(current_user) %>
                Submit feedback that must be addressed before merging.
              <% else %>
                Submit feedback suggesting changes.
              <% end %>
            </small>
          </label>
        </div>
      </div>
    <% end %>

    <div class="text-right">
      <% unless pull.open? && current_user != pull.user %>
        <input type="hidden" name="pull_request_review[event]" value="comment">
      <% end %>
      <button type="button" class="btn review-cancel-button" name="cancel" value="1"
        data-confirm="Are you sure you want to cancel? You will lose all your pending comments">
        Cancel review
      </button>
      <button type="submit" class="btn btn-primary btn-block submit-review-button" data-disable-with="Submitting review…">Submit review</button>
    </div>
  <% end %>
</div>
