<div id="toc" class="switcher mobile-toc js-details-container Details">
  <button type="button" class="text-left width-full btn-link text-gray-dark switcher-toggle js-details-target" aria-expanded="false">
    <%= octicon("chevron-down", :class => "switcher-icon-open") %>
    <%= octicon("chevron-up", :class => "switcher-icon-close") %>
    <%= octicon("diff", :class => "switcher-icon") %>
    <%= pluralize number_with_delimiter(file_list_view.changed_files), "changed file" %>
    <span class="switcher-toggle-meta text-gray">
      <span class="text-green"><%= pluralize number_with_delimiter(file_list_view.total_additions), "addition" %></span>
      and
      <span class="text-red"><%= pluralize number_with_delimiter(file_list_view.total_deletions), "deletion" %></span>
    </span>
  </button>

  <div class="switcher-options">
    <% file_list_view.restricted_each_diff do |diff_view| %>
      <% diff = diff_view.diff %>
      <a class="switcher-option" href="#<%= diff_view.anchor %>">
        <%= octicon(diff_view.octicon, :title => diff.status_label) %>
        <%= diff.path %>
      </a>
    <% end %>
  </div>
</div>
