<div class="container-xl text-left mb-12-fluid pb-3-fluid px-3-fluid">
  <div class="col-12 d-flex flex-wrap flex-md-nowrap flex-justify-around mt-12-fluid">
    <div class="col-12 col-sm-5 mr-sm-3 mb-5-fluid mb-md-0-fluid">
      <h4 class="h4-mktg-fluid pb-2 mb-2 border-bottom border-blue-light">Plan</h4>
      <p class="text-gray f4-mktg-fluid">Coordinate and track work with GitHub project boards and issues.</p>
    </div>
    <div class="col-12 col-sm-5 mr-sm-3 mb-6-fluid mb-md-0-fluid">
      <h4 class="h4-mktg-fluid pb-2 mb-2 border-bottom border-blue">Code</h4>
      <p class="text-gray f4-mktg-fluid">Collaborate on code with <a href="/enterprise">GitHub Enterprise</a> and <a href="/features/codespaces">Codespaces</a>.</p>
    </div>
    <div class="col-12 col-sm-5 mr-sm-3 mb-6-fluid mb-md-0-fluid">
      <h4 class="h4-mktg-fluid pb-2 mb-2 border-bottom border-blue">Build</h4>
      <p class="text-gray f4-mktg-fluid">Build code using <a href="/features/actions">Actions with CI/CD</a> and publish in <a href="/features/packages">Packages</a>.</p>
    </div>
    <div class="col-12 col-sm-5 mr-sm-3 mb-6-fluid mb-md-0-fluid">
      <h4 class="h4-mktg-fluid pb-2 mb-2 border-bottom border-blue">Deploy</h4>
      <p class="text-gray f4-mktg-fluid">Use <a href="/features/actions">Actions</a> to trigger deployments from any GitHub event.</p>
    </div>
    <div class="col-12 col-sm-5 mr-sm-3">
      <h4 class="h4-mktg-fluid pb-2 mb-2 border-bottom border-blue-light">Monitor & operate</h4>
      <p class="text-gray f4-mktg-fluid">Deploy in the same place you manage code—locally, in the cloud, or both.</p>
    </div>

  </div>
</div>