<% page_meta = {
    title: "Security",
    name: "learn_security",
    description: "Build securely without slowing down innovation"
  }

  page_info \
  title: page_meta[:title],
  description: page_meta["description"],
  html_class: "html-fluid",
  class: "body-fluid",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: page_meta["title"],
    url: request.original_url,
    description: page_meta["description"],
    image: image_path("modules/site/social-cards/security-hub.jpg"),
  }

  cta_params = request.query_parameters.merge({ ref_page: request.fullpath })
%>

<style>html { scroll-behavior: smooth }</style>

<div class="font-mktg">
  <%
    demo_cta_params = cta_params.merge({
      ref_cta: url_encode('Sechedule a security demo'),
      ref_loc: "#{page_meta[:name]}_header",
      utm_campaign: "#{page_meta[:name]}_demo"
    })
  %>

  <%= render "site/components/header",
    header: "Build securely without slowing down innovation",
    body: "Protect your code from day one with end-to-end security.",
    cta: "Schedule a security demo",
    cta_url: append_query_parameters(ent_contact_url, demo_cta_params),
    page_meta: page_meta
  %>

  <%= render "site/components/text_image_right",
    header: "Secure development at every step",
    body: "Never make the same mistake twice. GitHub Advanced Security helps your security team protect every step of the DevOps process—and ship more secure code with confidence.",
    image: image_path("modules/site/learn/security.svg")
  %>

 <%= render "site/components/text_image_center",
    slug: "ghasebook",
    subheader: "Get the guide",
    header: "Developer-first security: The next step for DevSecOps",
    src: "https://resources.github.com/whitepapers/Application-security-guide/",
    placeholder: image_path("modules/site/learn/resource-security-4.png"),
    page_meta: page_meta
  %>

  <% resources = [
    {
      slug: "dowjones",
      image: image_path("modules/site/learn/resource-security-1.png"),
      title: "Security in action: Dow Jones and GitHub",
      body: "See how Dow Jones finds and fixes vulnerabilities as part of their DevOps pipeline.",
      url: "https://github.com/customer-stories/dow-jones"
    },
    {
      slug: "ossguide",
      image: image_path("modules/site/learn/resource-security-2.png"),
      title: "The GitHub guide to using open source securely",
      body: "Learn how to keep open source components secure and compliant.",
      url: "https://resources.github.com/whitepapers/How-GitHub-secures-open-source-software/"
    },
    {
      slug: "supplychain",
      image: image_path("modules/site/learn/resource-security-3.png"),
      title: "Securing the software supply chain, together",
      body: "Watch the get-started guide to securing your code and its dependencies.",
      url: "https://www.youtube.com/watch?v=XwKTUji5HtY&feature=youtu.be",
      cta: "Watch the video"
    }
  ] %>

  <%= render "site/components/resources",
    subheader: "Resources",
    header: "Best practices for more secure software",
    resources: resources,
    page_meta: page_meta
  %>

  <% events = [
    {
      date: "August 14, 2020",
      title: "Empowering developers with GHAS",
      google: "http://www.google.com/calendar/event?action=TEMPLATE&dates=20200814T180000Z%2F20200814T190000Z&text=Demo%20Days%20-%20Empowering%20Developers%20with%20GHAS&location=https%3A%2F%2Fwww.twitch.tv%2Fgithubenterprise&details=Join%20us%20on%20Twitch%20for%20a%20technical%20demo%20%E2%80%94%20Empowering%20Developers%20with%20GHAS%0A%0AEnterprise%20Solutions%20Engineer%20Kevin%20Alwell%20will%20lead%20you%20through%20the%20enablement%20of%20native%20application%20security%20features%20with%20fully%20integrated%20CI%2FCD%20on%20GitHub.%20Join%20us%20to%20continue%20exploring%20GitHub%20Actions%2C%20Code%20Scanning%2C%20Software%20Composition%20Analysis%2C%20Secret%20detection%20and%20policy%20enforcement.%0A%0A%0ABring%20your%20questions%3A%20Our%20principal%20solutions%20engineers%20will%20be%20sharing%20tips%20and%20answers%20via%20live%20chat.%0A",
    },
    {
      date: "August 28, 2020",
      title: "Using Dependabot to keep your dependencies secure & updated",
      google: "http://www.google.com/calendar/event?action=TEMPLATE&dates=20200828T180000Z%2F20200828T190000Z&text=Demo%20Days%20-%20%20Using%20Dependabot%20to%20keep%20your%20dependencies%20secure%20%26%20updated&location=https%3A%2F%2Fwww.twitch.tv%2Fgithubenterprise&details=Join%20us%20on%20Twitch%20for%20a%20technical%20demo%20%E2%80%94%20Using%20Dependabot%20to%20keep%20your%20dependencies%20secure%20%26%20updated%0A%0ABring%20your%20questions%3A%20Our%20principal%20solutions%20engineers%20will%20be%20sharing%20tips%20and%20answers%20via%20live%20chat.%0A",
    }
  ] %>

  <%= render "site/components/event_list",
    header: "Coming to a screen near you",
    body: "Tune in  for more tips, insights, and expert&nbsp;how-tos.",
    events: events,
    page_meta: page_meta
  %>

  <%= render "site/components/report",
    slug: "forrester",
    subheader: "Forrester Report",
    header: "The Total Economic Impact™ of GitHub",
    body: "Dive into GitHub’s real-world impact on developer productivity, compliance, and application security.",
    url: "https://resources.github.com/forrester/",
    page_meta: page_meta
  %>

  <% logos = [
    {
      image: image_path("modules/site/logos/nasa-logo.png"),
      alt: "NASA",
      width: "66",
      height: "54.6"
    },
    {
      image: image_path("modules/site/logos/stripe.png"),
      alt: "Stripe",
      width: "74",
      height: "43"
    },
    {
      image: image_path("modules/site/logos/dowjones.svg"),
      alt: "Dow Jones",
      width: "51",
      height: "51"
    },
    {
      image: image_path("modules/site/logos/netdata.png"),
      alt: "Netdata",
      width: "153.6",
      height: "30"
    },
    {
      image: image_path("modules/site/logos/uber.svg"),
      alt: "Uber",
      width: "93.75",
      height: "32,55"
    },
    {
      image: image_path("modules/site/logos/twilio.svg"),
      alt: "Twilio",
      width: "100",
      height: "30"
    }
  ]

  secondary_logos = [
    {
      image: image_path("modules/site/logos/blackline.svg"),
      alt: "Blackline",
      width: "140",
      height: "30"
    },
    {
      image: image_path("modules/site/logos/pinterest.svg"),
      alt: "Pinterest",
      width: "43",
      height: "43"
    },
    {
      image: image_path("modules/site/logos/arduino.svg"),
      alt: "Arduino",
      width: "80",
      height: "60"
    },
    {
      image: image_path("modules/site/logos/decathlon.svg"),
      alt: "Decathlon",
      width: "141.75",
      height: "35.25"
    },
    {
      image: image_path("modules/site/logos/deliveryhero.svg"),
      alt: "Decathlon",
      width: "162",
      height: "24"
    },
    {
      image: image_path("modules/site/logos/ca-gov.png"),
      alt: "State of California",
      width: "142",
      height: "50"
    }
  ] %>

  <%= render "site/components/testimonial",
    header: "Join the world’s best teams",
    logos: logos,
    secondary_logos: secondary_logos,
    page_meta: page_meta
  %>

  <%
    contact_sales_cta_params = cta_params.merge({
      ref_cta: url_encode("Contact Sales"),
      ref_loc: "#{page_meta[:name]}_footer",
      utm_campaign: "#{page_meta[:name]}_contact"
    })
  %>
  <%= render "site/components/footer",
    header: "Secure your software from the start",
    cta: "Contact Sales",
    cta_url: append_query_parameters(ent_contact_url, contact_sales_cta_params),
    page_meta: page_meta
  %>

</div>
