<%graphql
  fragment Repository on StaffAccessedRepository {
    id
    name
    nameWithOwner
    owner {
      login
    }
    isPrivate
    stafftoolsInfo {
      canBeRecommended
      isOwnerHidden
    }
  }
%>
<%
  repository = Views::Stafftools::RepositoryRecommendations::Index::Repository.new(repository)
  page_info \
    title: "Repository Recommendations: #{repository.name_with_owner}",
    dashboard_pinnable_item_id: repository.id
  show_opt_out = repository.stafftools_info.can_be_recommended?
  show_opt_in = !repository.stafftools_info.is_owner_hidden? && !repository.is_private?
%>

<div class="boxed-group">
  <h3>Recommendations</h3>
  <div class="boxed-group-inner">
    <p>
      <% if repository.stafftools_info.can_be_recommended? %>
        <span class="text-green mr-1"><%= octicon(:check) %></span>
        Users <strong>can</strong> have this repository recommended to them via the
        <a href="<%= explore_path %>">"Explore repositories" page</a>.
      <% else %>
        <span class="text-red mr-1"><%= octicon("circle-slash") %></span>
        This repository <strong>will not</strong> be recommended to users via the
        <a href="<%= explore_path %>">"Explore repositories" page</a>
        <% if repository.stafftools_info.is_owner_hidden? %>
          because <a href="<%= stafftools_user_path(repository.owner.login) %>">the owner</a> is
          spammy.
        <% elsif repository.is_private? %>
          because it’s private. Only public repositories can be recommended.
        <% else %>
          because it has been opted out.
        <% end %>
      <% end %>
    </p>
  </div>
</div>
<% if show_opt_out %>
  <div class="boxed-group dangerzone">
    <h3>Opt out of being recommended</h3>
    <div class="boxed-group-inner">
      <%= form_tag opt_out_stafftools_repository_recommendations_path(repository.owner.login, repository.name) do %>
        <input type="hidden" name="repository_graphql_id" value="<%= repository.id %>">
        <button type="submit" class="btn btn-danger boxed-action">
          Opt out
        </button>
        <p>
          Ensure no users see <strong><%= repository.name_with_owner %></strong> in their list of
          recommendations.
        </p>
      <% end %>
    </div>
  </div>
<% elsif show_opt_in %>
  <div class="boxed-group">
    <h3>Opt into being recommended</h3>
    <div class="boxed-group-inner">
      <%= form_tag opt_in_stafftools_repository_recommendations_path(repository.owner.login, repository.name) do %>
        <input type="hidden" name="repository_graphql_id" value="<%= repository.id %>">
        <button type="submit" class="btn boxed-action">
          Opt in
        </button>
        <p>
          Allow users to see <strong><%= repository.name_with_owner %></strong> in their list of
          recommendations.
        </p>
      <% end %>
    </div>
  </div>
<% end %>
