<div class="section-packages-actions target-packages-actions container-xl mx-auto p-responsive pb-6-fluid">
  <h2 class="h2-mktg-fluid mb-4-fluid col-7-max mx-auto text-center">Code to cloud automation</h2>

  <div class="mt-6-fluid d-flex flex-wrap flex-justify-center">
    <div class="packages-action-item text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-publish.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Simplify publishing</h3>
      <p class="text-gray-light">Use Actions to automatically publish new package versions to GitHub Packages.</p>
    </div>

    <div class="packages-action-item text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-trigger.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Trigger package installs</h3>
      <p class="text-gray-light">Run your CI/CD with Actions, and install packages and images hosted on GitHub Packages or your preferred registry of record.</p>
    </div>

    <div class="packages-action-item text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-workflow.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Streamline your workflow</h3>
      <p class="text-gray-light">Use the same GITHUB_TOKEN for all automated package uploads and downloads through Actions.</p>
    </div>
  </div>

  <p class="text-center bg-white p-3-fluid">
    <a class="f3-mktg-fluid btn-mktg-fluid btn-invisible-mktg-fluid Bump-link text-blue-mktg" href="/features/actions" style="white-space:normal;" data-ga-click="Packages Actions link, click, text: Learn more about GitHub Actions; location: Actions section; ref_cta: packages_actions_learn_more; ref_loc: packages_actions_section">Learn more about GitHub Actions <span class="Bump-link-symbol"><%= svg("site/enterprise/launchpad/icons/arrow-right", width: "20", height: "20") %></span></a>
  </p>
</div>
