<div class="position-relative width-full">
  <div class="pattern-container position-absolute z-n1 width-full top-0 left-0 overflow-hidden events-none">
    <div class="container-xl position-relative height-full">
      <img src="<%= image_path "modules/site/packages/bg-top.svg" %>" alt="" class="top-0 top-md-5 position-absolute" width="1910" height="1321" style="left: -285px;">
    </div>
  </div>

  <div class="container-xl mx-auto px-3-fluid">
    <div class="mx-auto col-12 col-md-10 col-lg-8 pt-12-fluid mb-11-fluid text-center">
      <h4 class="text-gray-light h5-mktg-fluid mb-1-fluid">GitHub Packages</h4>
      <h1 class="h1-mktg-fluid h0-md-mktg-fluid mb-4-fluid">Your packages,<br class="d-none d-lg-inline"> at home with their&nbsp;code</h1>
      <p class="text-normal f3-mktg-fluid text-gray-light mb-4">With GitHub Packages, you can safely publish and consume packages within your organization or with the entire&nbsp;world.</p>
      <div>
        <a class="mr-2 lh-condensed-ultra btn-mktg-fluid mktg-cta-padding mb-3-fluid" href="<%= GitHub.help_url %>/en/packages" data-ga-click="Packages Get started, click, text: Get Started; location: Packages header; ref_cta: packages_header_get_started; ref_loc: packages_header">Get started</a>
        <a class="mr-2 lh-condensed-ultra btn-mktg-fluid btn-outline-mktg-fluid mktg-cta-padding mb-3-fluid" href="#pricing" data-ga-click="Packages See pricing, click, text: See pricing; location: Packages header; ref_cta: packages_header_see_pricing; ref_loc: packages_header">See pricing</a>
      </div>
    </div>
  </div>

  <div class="container-xl mx-auto px-3 <% if site_packages_update_enabled? %>pb-9-fluid<% else %>pb-5-fluid<% end%> mb-8-fluid">  
    <%= render :partial => "site/packages/cli" %>
  </div>

</div>
