<div class="position-relative pt-10-fluid pb-6 pb-md-12 mb-10-fluid">
  <div class="pattern-container position-absolute z-n1 width-full top-0 left-0 overflow-hidden events-none">
    <div class="container-xl position-relative height-full">
      <img src="<%= image_path "modules/site/packages/bg-install.svg" %>" alt="" class="top-7 position-absolute" width="955" height="452" style="left: -150px;" loading="lazy">
    </div>
  </div>

  <div class="section-packages-install target-packages-install container-xl text-center text-md-left d-flex flex-column flex-md-row flex-wrap flex-md-nowrap py-5-fluid flex-justify-center flex-items-center flex-column-reverse flex-md-row">
    <div class="col-11 mt-5-fluid mt-md-0-fluid col-md-6 mr-md-6-fluid mr-lg-9-fluid position-relative d-flex flex-column">
      <div class="packages-install-item position-relative col-7 z-1">
        <div class="packages-float-container">
          <img src="<%= image_path "modules/site/packages/icon-private.png" %>" alt="Locked icon" loading="lazy" width="62" height="62" class="packages-install-item-icon height-auto z-1 circle position-absolute top-n3 right-n2 box-shadow-card-border-mktg bg-radial-white">
        </div>
        <div style="max-width: 341px;" class="packages-float-container packages-float-container-2 position-relative z-n1">
          <img src="<%= image_path "modules/site/packages/package-docker.png" %>" alt="autoscaler repository" loading="lazy" width="341" height="151" class="packages-install-item-repo rounded-2 box-shadow-mktg-xl width-full height-auto">
        </div>
      </div>
      <div class="packages-install-item position-relative col-7 flex-self-end top-n3">
        <div class="packages-float-container packages-float-container-3">
          <img src="<%= image_path "modules/site/packages/icon-public.png" %>" alt="Locked icon" loading="lazy" width="62" height="62" class="packages-install-item-icon height-auto z-2 circle position-absolute top-n3 right-n2 box-shadow-card-border-mktg bg-radial-gray">
        </div>
        <div style="max-width: 341px;" class="packages-float-container packages-float-container-4 position-relative z-n1">
          <img src="<%= image_path "modules/site/packages/package-npm.png" %>" alt="autoscaler repository" loading="lazy" width="341" height="151" class="packages-install-item-repo rounded-2 box-shadow-card-border-mktg width-full height-auto">
        </div>
      </div>
      <div class="packages-install-item position-relative col-7 z-1 ml-5-fluid">
        <div class="packages-float-container packages-float-container-5">
          <img src="<%= image_path "modules/site/packages/icon-public.png" %>" alt="Locked icon" loading="lazy" width="62" height="62" class="packages-install-item-icon height-auto z-1 circle position-absolute top-n3 right-n2 box-shadow-card-border-mktg bg-radial-gray">
        </div>
        <div style="max-width: 341px;" class="packages-float-container packages-float-container-6 position-relative z-n1">
          <img src="<%= image_path "modules/site/packages/package-ruby.png" %>" alt="autoscaler repository" loading="lazy" width="341" height="151" class="packages-install-item-repo rounded-2 box-shadow-mktg-xl width-full height-auto">
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 px-3 px-md-0 mt-3 mb-4 mb-md-0 d-flex flex-column flex-justify-center">
      <h4 class="h2-mktg-fluid mb-3-fluid">Trusted sources</h4>
      <p class="text-gray f3-mktg-fluid">Understand and safely install package contents. Get packages directly from the community on GitHub, and use only what’s been approved for your organization.</p>
    </div>
  </div>
</div>
