<div class="section-packages-pillars target-packages-pillars container-xl mx-auto p-responsive">
  <h2 class="h2-mktg-fluid mb-4-fluid col-6-max mx-auto text-center">Speed and security, native to&nbsp;GitHub</h2>

  <div class="mt-6-fluid d-flex flex-wrap flex-justify-center">
    <div class="packages-pillar text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-secure-login.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Use the same secure login for your code and packages</h3>
      <p class="text-gray-light">Store your packages in the same secure environment as your source code, all protected by your GitHub credentials.</p>
    </div>

    <div class="packages-pillar text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-integration.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Integrate packages with your workflows</h3>
      <p class="text-gray-light">With a full API and webhooks support, you can extend your workflows to work with GitHub Packages.</p>
    </div>

    <div class="packages-pillar text-center col-12 col-md-6 col-lg-4 p-3-fluid">
      <%= render "site/components/feature_icon", image: image_path("modules/site/packages/icon-cdn.png") %>
      <h3 class="h4-mktg-fluid mb-2-fluid">Get fast and reliable downloads via a global CDN</h3>
      <p class="text-gray-light">GitHub Packages is built with the latest edge caching via a global CDN to deliver great performance, no matter where your builds run.</p>
    </div>
  </div>
</div>
