<div class="position-relative mt-12-fluid pt-4-fluid pt-md-11-fluid">
  <div class="position-absolute z-n1 width-full top-n10 left-0 overflow-hidden events-none" style="height: 200%">
    <div class="container-xl position-relative height-full">
      <img src="<%= image_path "modules/site/packages/bg-quote-1.svg" %>" alt="" class="top-0 position-absolute" width="1014" height="564" style="left: -200px;" loading="lazy">
    </div>
  </div>

  <div class="container-xl mx-auto p-responsive">
    <div class="section-packages-quote-1 target-packages-quote-1 position-relative col-9-max mb-12-fluid pb-9-fluid pl-md-10-fluid right-lg-n6 pt-4-fluid pt-md-0-fluid">
      <blockquote class="packages-quote lh-condensed mb-4-fluid" style="font-weight: normal !important"><span class="packages-pullquote position-absolute left-0 top-n8 text-shadow-mktg-xl" style="color: #f9826c">“</span>Packages gives us an automated and secure path to continuous integration and deployment, testing, and delivering products to our customers and users.</blockquote>
      <div class="packages-quote-attr d-flex">
        <div>
          <span class="f3-mktg-fluid">Shehzan Mohammed</span>
          <p class="f4-mktg-fluid text-gray">Director of Product Management, Cesium</p>
        </div>
      </div>
      <img src="<%= image_path("modules/site/packages/cesium.png") %>" alt="Cesium" width="140" height="30" loading="lazy" class="mt-2-fluid packages-quote-logo">
    </div>
  </div>

</div>

<div class="position-relative">
  <div class="position-absolute d-none d-md-block z-n1 width-full top-n10 left-0 overflow-hidden events-none" style="height: 200%; top: -120px;">
    <div class="container-xl position-relative height-full">
      <img src="<%= image_path "modules/site/packages/bg-quote-2.svg" %>" alt="" class="top-0 position-absolute" width="823" height="472" style="right: -180px;" loading="lazy">
    </div>
  </div>
  <div class="container-xl mx-auto p-responsive">

    <div class="d-flex flex-justify-end">
      <div class="section-packages-quote-2 target-packages-quote-2 position-relative col-9-max mb-12-fluid pb-9-fluid left-md-n5 pr-md-10-fluid pt-4-fluid pt-md-0-fluid">
        <blockquote class="packages-quote lh-condensed mb-4-fluid" style="font-weight: normal !important"><span class="packages-pullquote position-absolute left-0 left-md-auto right-md-0 top-n8 text-shadow-mktg-xl" style="color: #768ff7">“</span>As a Yarn maintainer I’m excited to see GitHub offer a new package registry solution, and I’m looking forward to leverage its capabilities in our future releases.</blockquote>
        <div class="packages-quote-attr d-flex flex-justify-end">
          <div>
            <span class="f3-mktg-fluid">Maël Nison</span>
            <p class="f4-mktg-fluid text-gray">Yarn maintainer</p>
          </div>
        </div>
        <div class="d-flex flex-justify-end">
          <div>
            <img src="<%= image_path("modules/site/packages/yarn.svg") %>" alt="Yarn" width="90" height="40" loading="lazy" class="mt-2-fluid packages-quote-logo">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="position-relative mb-12-fluid pb-9-fluid">
  <div class="position-absolute z-n1 width-full top-n6 left-0 overflow-hidden events-none" style="height: 200%">
    <div class="container-xl position-relative height-full">
      <img src="<%= image_path "modules/site/packages/bg-quote-3.svg" %>" alt="" class="top-0 position-absolute" width="714" height="506" style="left: -170px;" loading="lazy">
    </div>
  </div>

  <div class="container-xl mx-auto p-responsive">
    <div class="section-packages-quote-3 target-packages-quote-3 position-relative col-9-max pl-md-10-fluid pt-4-fluid pt-md-0-fluid">
      <blockquote class="packages-quote lh-condensed mb-4-fluid"><span class="packages-pullquote position-absolute left-0 top-n8 text-shadow-mktg-xl" style="color: #58de82">“</span>Since GPR uses the same permissions and security as the rest of GitHub, we can spend less time managing multiple accounts, ACLs and on-premise infrastructure, and more time coding what matters!</blockquote>
      <div class="packages-quote-attr d-flex">
        <div>
          <span class="f3-mktg-fluid">Chief Information Security Officer</span>
          <p class="f4-mktg-fluid text-gray">Providence Health & Services</p>
        </div>
      </div>
      <img src="<%= image_path("modules/site/packages/providence-health.svg") %>" alt="Providence Health" width="147" height="30" loading="lazy" class="mt-2-fluid packages-quote-logo">
    </div>

  </div>
</div>
