<% if asset_path %>
  <%= svg(asset_path, width: @size, height: @size, class: Primer::Classify.call(**@args)) %>
<% else %>
  <%= render GitHub::OcticonComponent.new(**{icon: :package, height: @size}.merge(@args)) %>
<% end %>
