
   <details class="details-reset details-overlay select-menu position-relative">
    <summary class="btn-link text-gray select-menu-button">
      Sort
    </summary>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
      <div class="select-menu-header">
        <span class="select-menu-title">Sort</span>
      </div>
      <div class="select-menu-list">
        <% sorts = [
             ["name", "asc"],
             ["name", "desc"],
             ["count", "desc"],
             ["count", "asc"]
           ]
        %>
        <% sorts.each do |sort, direction| %>
          <a class="select-menu-item" href="?sort=<%= sort %>-<%= direction %>" aria-checked="<%= params[:sort] == "#{sort}-#{direction}"%>" role="menuitemradio">
            <%= octicon(:check, class: "select-menu-item-icon") %>
            <div class="select-menu-item-text"><%= label_sort(sort, direction) %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>

