<div class="d-md-flex flex-wrap flex-items-center">
  <div class="col-md-6">
    <img src="<%= image_path "modules/about/diversity/gender_2018_technical.svg" %>" class="col-10 mx-auto" alt="">
  </div>
  <div class="col-md-6 f5">
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#ffea7f" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Male</span>
        <span class="text-mono">74.6%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#f9c513" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Female</span>
        <span class="text-mono">25.4%</span>
      </p>
    </div>
    <p class="col-8 mt-4 pt-2 f6 text-gray-light-ultra border-top border-gray-light">
      <span style="margin-left: -6px">“</span>Technical roles” include employees in our Technology and Product organizations.
    </p>
  </div>
</div>
