<%# erblint:disable LinkHasHref %>
<ul class="list-style-none mb-4 f5 SegmentedNav js-segmented-nav">
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="selected js-segmented-nav-button" href="#" data-selected-tab="gender-overall-2018">
      Overall
    </a>
  </li>
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="js-segmented-nav-button" href="#" data-selected-tab="gender-technical-2018">
      Technical roles
    </a>
  </li>
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="js-segmented-nav-button" href="#" data-selected-tab="gender-management-2018">
      Management
    </a>
  </li>
</ul>
<div class="js-selected-nav-tab gender-overall-2018 SegmentedContent active">
  <%= render "about/diversity_report/data/gender_2018_overall" %>
</div>
<div class="js-selected-nav-tab gender-technical-2018 SegmentedContent">
  <%= render "about/diversity_report/data/gender_2018_technical" %>
</div>
<div class="js-selected-nav-tab gender-management-2018 SegmentedContent">
  <%= render "about/diversity_report/data/gender_2018_management" %>
</div>
