<div class="d-sm-flex flex-wrap flex-items-start flex-md-items-center">
  <div class="col-sm-6">
    <img src="<%= image_path "modules/about/diversity/race_2018_mgmt.svg" %>" class="col-10 mx-auto" alt="">
  </div>
  <div class="col-sm-6 f5">
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#e6dcfd" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">White</span>
        <span class="text-mono">70.4%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#d1bcf9" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Asian</span>
        <span class="text-mono">14.5%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#b392f0" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Hispanic/Latinx</span>
        <span class="text-mono">5.3%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#8a63d2" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">African-American/Black</span>
        <span class="text-mono">4.6%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#6f42c1" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Multiracial</span>
        <span class="text-mono">5.3%</span>
      </p>
    </div>
    <div class="mb-2 mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#5a32a3" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">Native Hawaiian/Pacific Islander</span>
        <span class="text-mono">0.0%</span>
      </p>
    </div>
    <div class="mr-3 d-flex flex-items-center">
      <svg class="mr-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke="#4c2889" d="M0 0h14v14H0z"></svg>
      <p class="m-0">
        <span class="text-gray">American Indian/Alaska Native</span>
        <span class="text-mono">0.0%</span>
      </p>
    </div>
    <p class="col-8 mt-4 pt-2 f6 text-gray-light-ultra border-top border-gray-light">
      <span style="margin-left: -5px">“</span>Managers” are defined as anyone who manages employees at GitHub.
    </p>
  </div>
</div>
