<%# erblint:disable LinkHasHref %>
<ul class="list-style-none mb-4 f5 SegmentedNav js-segmented-nav">
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="selected js-segmented-nav-button" href="#" data-selected-tab="race-overall-2019">
      Overall
    </a>
  </li>
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="js-segmented-nav-button" href="#" data-selected-tab="race-technical-2019">
      Technical roles
    </a>
  </li>
  <li class="d-inline-block mr-2 mr-md-3">
    <a class="js-segmented-nav-button" href="#" data-selected-tab="race-management-2019">
      Management
    </a>
  </li>
  <li class="d-inline-block">
    <a class="js-segmented-nav-button" href="#" data-selected-tab="race-women-2019">
      Women
    </a>
  </li>
</ul>
<div class="js-selected-nav-tab race-overall-2019 SegmentedContent active">
  <%= render "about/diversity_report/data/race_2019_overall" %>
</div>
<div class="js-selected-nav-tab race-technical-2019 SegmentedContent">
  <%= render "about/diversity_report/data/race_2019_technical" %>
</div>
<div class="js-selected-nav-tab race-management-2019 SegmentedContent">
  <%= render "about/diversity_report/data/race_2019_management" %>
</div>
<div class="js-selected-nav-tab race-women-2019 SegmentedContent">
  <%= render "about/diversity_report/data/race_2019_women" %>
</div>
