<%# erblint:disable FlexbugNumberNine %>
<%
  selected_emoji = emoji_for(status&.emoji)
%>

<emoji-picker class="js-emoji-picker emoji-picker-container mt-2 box-shadow-medium position-absolute Box bg-white rounded-1 border" <% unless show_picker %> hidden<% end %>>
  <tab-container>
    <div class="select-menu-filters bg-gray border-bottom-0 mb-0">
      <nav class="UnderlineNav border-bottom d-flex pt-1 px-1" aria-label="Emoji categories" role="tablist">
        <div class="UnderlineNav-body d-flex">
          <% emoji_categories.each do |category| %>
            <% is_selected_category = selected_emoji_category?(selected_emoji, category) %>
            <button type="button" class="<%= "js-original-emoji-category" if is_selected_category %> UnderlineNav-item btn-link f5 js-emoji-tab v-align-middle emoji-tab p-1" aria-label="<%= category %>" role="tab" <% if is_selected_category %>aria-selected="true"<% end %>>
              <%= emoji_category_icon_for(category) %>
            </button>
          <% end %>
          <button type="button" class="UnderlineNav-item btn-link emoji-tab p-1 f5" aria-label="Search results" role="tab" hidden data-target="emoji-picker.filterTabButton" data-emoji-picker-filter-tab-button>
            <%= emoji_icon_for("mag") %>
          </button>
        </div>
      </nav>
      <% unless mobile? %>
        <div class="p-2 bg-white">
          <input type="text" autocomplete="off" placeholder="Filter emoji" aria-label="Filter emoji" class="form-control width-full input-sm js-emoji-picker-filter" data-target="emoji-picker.filterInput" data-action="input:emoji-picker#filter">
        </div>
      <% end %>
      <% emoji_category_index.each do |category, emoji_in_category| %>
        <% is_selected_category = selected_emoji_category?(selected_emoji, category) %>
        <div aria-label="<%= category %> Emoji" role="tabpanel" class="<%= "js-original-emoji-category-tab" if is_selected_category %> px-1 pb-1 overflow-auto emoji-picker-tab select-menu-list bg-white d-flex flex-wrap flex-items-start flex-content-start f5" <%= "hidden" unless is_selected_category %>>
          <% emoji_in_category.each do |emoji| %>
            <button type="button" class="<%= "selected-emoji js-originally-selected-emoji" if selected_emoji?(status&.emoji, emoji) %> f5 emoji-picker-emoji-width d-flex flex-justify-end p-1 border-0 btn-outline js-user-status-emoji-button js-emoji-button rounded-1" value=":<%= emoji.name %>:" data-filter-value="<%= emoji_filter_value(emoji.name) %>" title="<%= emoji.name %>">
              <%= render_emoji(emoji) %>
            </button>
          <% end %>
        </div>
      <% end %>
      <div aria-label="Search results" role="tabpanel" class="p-1 overflow-auto emoji-picker-tab select-menu-list bg-white" hidden>
        <h4 class="f6 text-gray text-normal mb-1 mx-1" data-target="emoji-picker.resultsHeader">Search results</h4>
        <div class="text-gray-dark mx-1" data-target="emoji-picker.noResults" hidden>
          No results found.
        </div>
        <fuzzy-list class="d-flex flex-wrap f5" data-target="emoji-picker.emojiList" data-action="fuzzy-list-sorted:emoji-picker#onFuzzyListSorted">
          <ul class="emoji-picker-list d-flex flex-wrap">
            <% user_status_emoji.each do |emoji| %>
              <li data-value="<%= emoji_aliases(emoji) %>">
                <button type="button" class="f5 emoji-picker-emoji-width d-flex flex-justify-end px-1 border-0 btn-outline js-user-status-emoji-button js-emoji-button rounded-1" value=":<%= emoji.name %>:" title="<%= emoji.name %>">
                  <%= emoji_tag(emoji) %>
                </button>
              </li>
            <% end %>
          </ul>
        </fuzzy-list>
      </div>
    </div>
  </tab-container>
</emoji-picker>
