<div class="d-inline-block f5 mr-2 pt-3 pb-2" <%= test_selector("test-user-status-expiration") %>>
  <div class="d-inline-block mr-1<% if mobile? %> mb-1<% end %>">
    Clear status
  </div>

  <details class="js-user-status-expire-drop-down f6 dropdown details-reset details-overlay d-inline-block<% unless mobile? %> mr-2<% end %>">
    <summary class="btn btn-sm v-align-baseline" aria-haspopup="true">
      <div class="js-user-status-expiration-interval-selected d-inline-block v-align-baseline">
        <%= expires_at ? current_user_status_expires_at(expires_at) : "Never" %>
      </div>
      <div class="dropdown-caret"></div>
    </summary>

    <ul class="dropdown-menu dropdown-menu-se pl-0 overflow-auto" style="width: 220px; max-height: 15.5em">
      <li>
        <button type="button" class="btn-link dropdown-item js-user-status-expire-button ws-normal<% if mobile? %> link-gray-dark px-2<% end %>" title="Never">
          <span class="d-inline-block text-bold mb-1">Never</span>
          <div class="f6 lh-condensed">Keep this status until you clear your status or edit your status.</div>
        </button>
      </li>
      <li class="dropdown-divider" role="none"></li>
      <% UserStatusesHelper.expiration_intervals.each do |time_data| %>
        <li>
          <button type="button" class="btn-link dropdown-item ws-normal js-user-status-expire-button<% if mobile? %> link-gray-dark px-2<% end %>" title="<%= time_data[:words] %>" value="<%= time_data[:time] %>">
            <%= time_data[:words] %>
          </button>
        </li>
      <% end %>
    </ul>
  </details>
  <input class="js-user-status-expiration-date-input" type="hidden" name="expires_at" value="">
</div>
