<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment MemberStatusable on MemberStatusable {
    memberStatuses(first: $statusesPerPage, after: $statusesCursor, orderBy: { field: UPDATED_AT, direction: DESC }) {
      nodes {
        messageHTMLWithoutMentions: messageHTML(linkMentions: false)
        emojiHTML
        updatedAt
        indicatesLimitedAvailability
        user {
          login
          avatarUrl(size: 32)
          resourcePath
          ...HovercardHelper::DataAttributesFragment::User
        }
      }
      pageInfo {
        hasPreviousPage
        hasNextPage
        endCursor
      }
    }
  }
%>
<%
  member_statusable = Views::UserStatuses::MemberStatuses::MemberStatusable.new(member_statusable)
  page_info = member_statusable.member_statuses.page_info
  member_statuses = member_statusable.member_statuses.nodes
%>

<% if !page_info.has_previous_page? && member_statuses.any? %>
  <h4 class="<%= "mt-6" if member_statusable.is_a?(PlatformTypes::Team) %> mb-2 f5 text-bold">Member statuses</h4>
<% end %>

<% member_statuses.each do |status| %>
  <div class="mt-1 user-status-container">
    <%= link_to status.user.resource_path.to_s, class: "link-gray-dark d-inline-block v-align-middle text-bold no-underline f6 mr-1", data: hovercard_data_attributes_for_user(status.user) do %>
      <img src="<%= image_path status.user.avatar_url %>" class="<%= avatar_class_names(status.user) %> mr-1" alt="" width="16" height="16">
      <%= status.user.login %>
    <% end %>
    <% if status.indicates_limited_availability? %>
      <span class="circle user-status-limited-availability-compact mr-1 d-inline-block f6 tooltipped tooltipped-n v-align-middle" aria-label="Busy"></span>
    <% end %>
    <div title="<%= status.updated_at %>" class="css-truncate css-truncate-target v-align-middle user-status-message-wrapper f6 text-gray lh-condensed">
      <%= status.message_html_without_mentions || status.emoji_html %>
    </div>
  </div>
<% end %>

<% if page_info.has_next_page? %>
  <div class="text-center d-block ajax-pagination-form js-ajax-pagination">
    <%= form_tag member_statuses_path(id: member_statusable_id), method: :get do %>
      <input name="after" type="hidden" value="<%= page_info.end_cursor %>">
      <button type="submit" class="ajax-pagination-btn btn mt-3 py-2 btn-outline border-gray-dark f6 width-full" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
