<%graphql
  fragment User on User {
    status {
      organization {
        id
        avatarUrl(size: 32)
        login
        name
      }
    }
    organizations(last: 100) {
      nodes {
        id
        avatarUrl(size: 32)
        login
        name
      }
    }
  }
%>
<%
  viewer = Views::UserStatuses::OrgPicker::User.new(viewer)
  selected_org = viewer.status&.organization
  organizations = viewer.organizations.nodes.sort_by { |org| org.name.downcase }
%>

<% if organizations.any? %>
  <div class="d-inline-block f5">
    <div class="d-inline-block mr-1<% if mobile? %> mb-1<% end %>">
      Visible to
    </div>
    <details class="f6 dropdown details-reset details-overlay d-inline-block js-user-status-org-details">
      <summary class="btn btn-sm v-align-baseline" aria-haspopup="true">
        <div class="js-user-status-selected-org d-inline-block v-align-baseline">
          <% if selected_org %>
            <img src="<%= selected_org.avatar_url %>" class="<%= avatar_class_names(selected_org) %> mr-1 mb-1 position-relative left-0 top-0" width="16" height="16" alt="">
            <span><%= truncate(selected_org.name, length: 20) %></span>
            <% unless selected_org.name == selected_org.login %>
              <span class="text-gray ml-1"><%= truncate(selected_org.login, length: 20) %></span>
            <% end %>
          <% else %>
            Everyone
          <% end %>
        </div>
        <div class="dropdown-caret"></div>
      </summary>

      <ul class="dropdown-menu dropdown-menu-se pl-0" style="width: 220px; max-height: 15.5em; overflow: auto">
        <li>
          <button type="button" class="<% unless mobile? %>btn-link<% else %>width-full text-left<% end %> user-status-org-button dropdown-item js-user-status-org-button ws-normal <%= "selected" unless selected_org %><% if mobile? && selected_org %> link-gray-dark<% end %>" value="">
            <span class="d-inline-block text-bold mb-1">Everyone</span>
            <div class="user-status-org-detail f6 lh-condensed">Your status will be visible to everyone</div>
            <div class="js-user-status-org-display" hidden>Everyone</div>
          </button>
        </li>
        <li class="dropdown-divider" role="none"></li>
        <% organizations.each do |org| %>
          <% show_login = org.login != org.name %>
          <li>
            <button type="button" class="<%= "selected " if selected_org&.id == org.id %><% unless mobile? %>btn-link<% else %>width-full text-left<% end %> user-status-org-button dropdown-item js-user-status-org-button ws-normal" title="<%= org.name %> <%= org.login if show_login %>" value="<%= org.id %>" data-org="<%= org.login %>">
              <div class="js-user-status-org-display">
                <img src="<%= org.avatar_url %>" class="<%= avatar_class_names(org) %> mr-1 mb-1 position-relative left-0 top-0" width="16" height="16" alt="">
                <span<% if show_login %> class="mr-1"<% end %>>
                  <%= truncate(org.name, length: 20) %>
                </span>
              </div>
            </button>
          </li>
        <% end %>
      </ul>
    </details>
  </div>
  <p class="f6 <% unless mobile? %> mt-2<% end %> js-user-status-org-message" <%= "hidden" unless selected_org %> data-none="" data-prefix="Only members of " data-suffix=" will be able to see your status.">
    <% if selected_org %>
      Only members of <%= selected_org.login %> will be able to see your status.
    <% end %>
  </p>
<% end %>
