<div class="link">
  <a href="<%= email_link_with_tracking(url: url, email_source: "welcome") %>">
    <%= text %>
  </a>
  <img src="<%= GitHub.mailer_asset_host_url %>/images/icons/chevron-right-octicon.png" height="16" alt="chevron-right" class="link-chevron">
</div>
