Hi @<%= @user.login %>,

You recently used version <%= @app_current_version %> of <%= @app_name %> to access GitHub. After November 13th, 2020, version <%= @app_current_version %> of <%= @app_name %> may no longer work with GitHub.com.<% unless @current_sessions_affected %> Existing installations of <%= @app_name %> where you are already signed in will continue to work after November 13th.<% end %> Please update to version <%= @app_patched_version %> (or later) to ensure you can continue to use <%= @app_name %> with GitHub.com.

Visit <%= "#{GitHub.blog_url}/2020-07-30-token-authentication-requirements-for-api-and-git-operations/" %> for more information around suggested workarounds and removal dates.

Thanks,
The GitHub Team
