Hi @<%=@user.login%>,

On <%= @time %> you used a password to access an endpoint through the GitHub API<% unless @user_agent.blank? %> using <%= @user_agent %><% end %>:

<%= @url %>

Basic authentication using a password to the API is deprecated and will soon no longer work. Visit <%= "#{GitHub.developer_blog_url}/2020-02-14-deprecating-password-auth/" %> for more information around suggested workarounds and removal dates.

Thanks,
The GitHub Team
