Hi <%= @target.safe_profile_name %>,

<%= @inviter.safe_profile_name %> (@<%= @inviter.login %>) has invited you to claim contributions you made as @<%= @source.display_login %> in the @<%= @org.login %> organization on GitHub.

You can view and respond to your pending attribution invitations within @<%= @org.login %> at this link:

<%= org_attribution_invitations_url(@org) %>

Thanks,
The GitHub Team
