Hi @<%=@user.login%>,

On <%= @time %> you or an application you used recently accessed the deprecated <%= @route %> endpoint on the GitHub API<% unless @user_agent.blank? %> with the useragent <%= @user_agent %><% end %>.

We will remove the <%= @route %> API endpoint on November 13, 2020. If you accessed the API via password authentication, then we recommend you use the web flow to authenticate. Please check that your app uses the web flow for authentication <%= GitHub.developer_help_url %>/apps/building-oauth-apps/authorizing-oauth-apps/#web-application-flow

You can learn more about these changes by visiting our developer blog <%= "#{GitHub.developer_blog_url}/#{@blog_endpoint}" %>

Thanks,
The GitHub Team
