
<div class="org-content-header">
  <%= avatar_for @org, 60, class: "avatar" %>
</div>

<p>
  <%= blocked_notification_html(@org.login, @org.profile_email, @content_url, @coc_url) %>
</p>

<hr class="rule">

<% if @coc_url %>
  <p class="email-text-small email-text-gray">
    Link not working? Paste the following link into your browser:<br>
    <a href="<%= @coc_url %>"><%= @coc_url %></a>
  </p>
<% end %>

<p class="email-text-small email-text-gray">
  You’re receiving this email because you have been blocked by an organization on GitHub.
</p>
