This email is to confirm that you’ve deleted your account ‘<%= @user %>’ from GitHub. Your repositories and content have been deleted from the system. If you were on a paid plan, you will not be billed again.

We’re sorry to see you go. You can reply directly to this email if you have any questions or feedback, we’d love to hear from you.
