Hi there, @<%= @sender %>!

You recently replied to the following discussion via email:
<%= @target.permalink %>

Unfortunately, we couldn’t process your email reply to the discussion
<% case @reason %>
<% when :must_verify_email %>
because you must verify at least one email address to create comments.

You can verify your email address from the email settings page:
<%= settings_user_emails_url %>
<% when :locked_issue %>
because that issue has been locked and limited to collaborators.

Learn more about locked conversations:
<%= "#{GitHub.help_url}/articles/locking-conversations/" %>
<% when :blank_body %>
because the body of the email was blank.

<% when :disabled %>
<% if GitHub.enterprise? %>
because access to this repository has been disabled by your site administrator.

Contact them to restore access to this repository.
<% else %>
because access to this repository has been disabled by GitHub staff.

Contact support to restore access to this repository:
https://github.com/contact
<% end %>
<% end %>
