<% if @target.organization? %>
Hello <%= @target.login %> Owner,
<% else %>
Hello <%= @target.login %>,
<% end %>

@<%= @requester %> has transferred the <%= @nwo_was %> repository to <%= @repo.nwo %>.

No further action is required at this time.

Questions? Problems? <%= GitHub.support_link_text %> any time.

Thanks,
Your friends at GitHub
