Hi <%= @user.safe_profile_name %>,

<% if @invitation.show_inviter? %>@<%= @inviter.login %> has invited you<% else %>You’re invited<% end %> to join the @<%= @org.login %> organization on GitHub. Head over to <%= user_url @org %> to check out @<%= @org.login %>’s profile.

To join @<%= @org.login %>, follow this link:

<%= org_show_invitation_url(@org, via_email: "1") %>

<% if @invitation.can_expire? %>
  This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.
<% end %>

Some helpful tips:

- If you get a 404 page, make sure you’re signed in as <%= @user.login %>.
- You can also accept the invitation by visiting the organization page directly at <%= user_url @org %>

If you were not expecting this invitation, you can ignore this email.
<% if GitHub.user_abuse_mitigation_enabled? %>
  If @<%= @login_to_block %> is sending you too many emails, you can <% if @invitation.show_inviter? %>block them by visiting <%= settings_user_blocks_url(block_user: @login_to_block) %> or <% end %>report them for abuse at <%= "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@login_to_block}" %>.
<% end %>

Thanks,
The GitHub Team


To opt out of future invitations from @<%= @org.login %>, follow this link:

<%= show_org_invitation_opt_out_confirmation_url(@org, invitation_token: @invitation_token) %>
