<div class="org-content-header">
  <%= avatar_for @org, 60, :class => "avatar" %>
  <img class="content-header-octicon" alt="plus" src="<%= GitHub.mailer_asset_host_url %>/images/email/organization/octicon-plus.png" height="60">
  <%= avatar_for @user, 60, :class => "avatar" %>
</div>

<h1 class="primary-heading"><% if @invitation.show_inviter? %>@<%= @inviter.login %> has invited you<% else %>You’re invited<% end %> to join the<br> <strong>@<%= @org.login %></strong> organization</h1>

<hr class="rule">

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>!
</p>
<p>
  <% if @invitation.show_inviter? %>@<%= link_to @inviter.login, user_url(@inviter) %> has invited you<% else %>You’re invited<% end %> to join the @<%= @org.login %> organization on GitHub. Head over to <a href="<%= user_url @org %>"><%= user_url @org %></a> to check out @<%= @org.login %>’s profile.
</p>
<% if @invitation.can_expire? %>
  <p>
    This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.
  </p>
<% end %>
<%= render :partial => "mailers/global/cta_button",
  locals: {
    text: "Join  @#{ @org.login }",
    center: true,
    url: org_show_invitation_url(@org, via_email: "1")
  } %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as <strong><%= @user.login %></strong>. You can also accept the invitation by visiting the organization page directly at <a href="<%= user_url @org %>"><%= user_url @org %></a>.
  <% if GitHub.user_abuse_mitigation_enabled? %>
    If @<%= @login_to_block %> is sending you too many emails, you can <% if @invitation.show_inviter? %><a href="<%= settings_user_blocks_url(block_user: @login_to_block) %>">block them</a> or <% end %><a href="<%= "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@login_to_block}" %>">report them for abuse</a>.
  <% end %>
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to org_show_invitation_url(@org, via_email: "1"), org_show_invitation_url(@org, via_email: "1").to_s %>
</p>

<p class="email-text-small email-text-gray">
  You’re receiving this email because <% if @invitation.show_inviter? %>@<%= @inviter.login %><% else %>someone<% end %> invited you to an organization on GitHub.
</p>
