A <%= @application_owner %> OAuth application (<%= @authorization.safe_app.name %>) with <%= html_safe_to_sentence(@authorization.scopes) %> <%= pluralize_without_number(@authorization.scopes.count, "scope") %> was recently authorized to access your account.
Visit <%= settings_oauth_authorization_url(@authorization.application.key) %> for more information.
