Some of your invitations didn’t reach their recipients

There’s been a hold up in getting some of your teammates onboarded, but don’t let it stop you. See what the problem was and how you can fix it.

Check out the steps you can take to fix any errors on your organization page and forge ahead—your best work is yet to come.

See why your invites weren’t sent:
<%= org_people_url(@org)>
