Hi <%= @invitation.email_or_invitee_name %>,

Your invitation to the <%= @org.safe_profile_name %> organization on GitHub has been canceled. Links to the invitation in previous emails will no longer work.

Thanks,
The GitHub Team
