<p>
  Hello people of <strong>@<%= @organization %></strong>!
</p>
<p>
  <strong>@<%= @requested_by %></strong> has requested to use this email address
  (<%= mail_to @email.email, @email.email, :class => "plaintext" %>)
  for the <strong>@<%= @organization %></strong> organization.
</p>
<p>
  Verifying this email address will make it available when installing GitHub Apps
  and if selected will be shared with the selected GitHub App owners.
</p>

<%= render :partial => "mailers/global/cta_button",
  :locals => {
    :text => "Verify email address",
    :center => true,
    :url => @cta_tracking_url
  } %>

<hr>

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @cta_url, @cta_tracking_url.to_s %>
</p>

<p class="email-text-small email-text-gray">
  You’re receiving this email because <strong>@<%= @requested_by %></strong> recently
  requested to verify a new email address. If you don’t want this email address
  used for communication with the <strong>@<%= @organization %></strong> organization,
  please ignore this email.
</p>
