Hello people of @<%= @organization %>!

@<%= @requested_by %> has requested to use this email address (<%= @email %>) for the @<%= @organization %> organization.

Verifying this email address will make it available when installing GitHub Apps and if selected will be shared with the selected GitHub App owners.

Click the link below to verify this email address:
<%= @cta_url %>

You’re receiving this email because @<%= @requested_by %> recently requested to verify a new email address.

If you don’t want this email address used for communication with the @<%= @organization %> organization, please ignore this email.

---
Sent with <3 by GitHub.
<%= GitHub.physical_address(multiline: true).join("\n") %>
