Hello <%= @user.login %>,

We wanted to let you know that your <%= GitHub.flavor %> password <%= @explanation %>.

If you did not perform this action, you can recover access by entering <%= @raw_address %> into the form at <%= password_reset_url %>

To see this and other security events for your account, visit <%= settings_user_security_url %>

If you run into problems, please contact support by visiting <%= contact_url %>

Please do not reply to this email with your password. We will never ask for your password, and we strongly discourage you from sharing it with anyone.
