Hi @<%= @user.login %>,

On <%= @time %> your personal access token (<%= @oauth_access.description %>)<%= unless @user_agent.blank?; " using #{@user_agent}"; end %> was used as part of a query parameter to access an endpoint through the GitHub API:

<%= @url %>

Please use the Authorization HTTP header instead, as using the `access_token` query parameter is deprecated. If this token is being used by an app you don't have control over, be aware that it may stop working as a result of this deprecation.

Depending on your API usage, we'll be sending you this email reminder on a monthly basis for each token and User-Agent used in API calls made on your behalf.
Just one URL that was accessed with a token and User-Agent combination will be listed in the email reminder, not all.

Visit <%= "#{GitHub.developer_blog_url}/2020-02-10-deprecating-auth-through-query-param" %> for more information about suggested workarounds and removal dates.

Thanks,
The GitHub Team
