A personal access token (<%= @authorization.safe_app.name %>) with <%= html_safe_to_sentence(@authorization.scopes) %> <%= pluralize_without_number(@authorization.scopes.count, "scope") %> was recently regenerated for your account. Visit <%= settings_user_tokens_url %> for more information.
