A phone number (<%= @previous_number %>) was removed from your account. A fallback SMS number would have allowed GitHub to send your two-factor authentication codes to an alternate device if you lose your primary device. Visit <%= settings_user_two_factor_authentication_configuration_url %> for more information.
