Hello <%= @user %>,

We noticed that a valid SSH private key of yours was committed to a public GitHub repository. Publicly disclosing a valid SSH private key would allow other people to interact with GitHub on your behalf, potentially altering data.

As a precautionary measure, we have unverified the SSH key. You should should generate a new SSH key and add it to your account. We recommend you review you security log to ensure that no malicious activity has occured: <%= GitHub.help_url %>/articles/reviewing-your-security-log/

The commit in question is at <%= @url %>

Please feel free to contact us at <%= contact_url %> if you have any questions or concerns.

Thanks,
GitHub.com
