<%-
  view = RepositoryTokenScanning::MailerView.new(repository: @repo, results: @results)
-%>
GitHub secret scanning report for  <%= @repo.name_with_owner %>:

<% if @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:commit_scoped] %>
  We noticed that a recent commit to this repository contained secrets.
<% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:config_change_scoped] %>
  Someone recently changed the secret scanning configuration file in this repo. As a result, we found some additional secrets. View the configuration file at <%= GitHub.url %><%= preferred_file_path(type: :token_scanning_configuration, repository: @repo) %>.
<% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:config_deleted_scoped] %>
  Someone recently deleted the secret scanning configuration file in this repo. As a result, we found some additional secrets.
<% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:reconciliation_scoped] %>
  After an initial scan for secrets, deeper analysis revealed additional filepaths containing copies of secrets.
<% else %>
  We found some secrets in this repository.
<% end %>

We recommend you review the secrets we found, then rotate and revoke any that are valid.
Committed secrets can be discovered by anyone with read access to your code, potentially resulting in unauthorized access to the services you use.

Review these secrets at <%= GitHub.url %><%= view.results_path %>

<%- view.token_groups.each do |(token_type, results_per_type, additional_results)| -%>
<%- if results_per_type.first.first_location.present? -%>
- <%= view.humanize_token_type(token_type) %>
<%- results_per_type.each do |result| -%>
<%- if result.first_location.present? -%>
  - <%= view.result_filename(result) %><%- if !result.found_in_archive? -%>:L<%= view.result_line(result) %><%- end -%> found in commit <%= result.first_location.commit_oid[0..6] %>
    - <%= GitHub.url %><%= view.result_path(result) %>
<%- end -%>
<%- if additional_results > 0 -%>
  - Plus <%= additional_results %> others
<%- end -%>
<%- end -%>
<%- end -%>
<%- end -%>

Thanks,
GitHub.com
