<%# erblint:disable DeprecatedCustomCss %>
<%-
  view = RepositoryTokenScanning::MailerView.new(repository: @repo, results: @results)
-%>
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Secret scanning on GitHub</title>
  </head>

  <body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; height: 100% !important; line-height: 1.5; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">
    <table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
      <tr>
        <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
        <td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 24px; width: 580px;" width="580" valign="top">
          <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">
            <div style="box-sizing: border-box; color: #0366d6; border: 0; text-decoration: underline; margin-bottom: 10px;">
              <img src="<%= @image_url %>/vulnerability/vulnerability-gradient-icon.png" width="72" height="61" alt="GitHub secret scanning alerts" style="-ms-interpolation-mode: bicubic; max-width: 100%; border: 0;">
            </div>

            <h1 class="h0" style="color: #323232 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; line-height: 1.25; margin: 10px 0 10px; font-size: 32px;">
              <a href="<%= GitHub.url %>" style="box-sizing: border-box; color: #0366d6; text-decoration: underline; margin: 0 2px 0 0; border: 0;"><img src="<%= @image_url %>/global/wordmark.png" width="92" height="25" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%; border: 0;"></a>&nbsp;secret scanning report
            </h1>

            <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
              <tr>
                <td class="v-align-middle" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: middle !important; width: 28px;" width="28" valign="middle !important">
                    <%= avatar_for @repo.owner, 28, class: "rounded-1 d-inline-block" %>
                </td>
                <td class="v-align-middle px-2 lh-condensed" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: middle !important; padding-right: 8px !important; padding-left: 8px !important; line-height: 1.25 !important;" valign="middle !important">
                  <a href="<%= @repo.permalink %>" class="h5 mb-0" style="box-sizing: border-box; color: #0366d6; text-decoration: none; margin-bottom: 0 !important; font-size: 14px !important; font-weight: 600 !important;">
                    <%= @repo.name_with_owner %>
                  </a>
                </td>
              </tr>
            </table>

            <p class="padding: 20px 0 !important">
              <% if @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:commit_scoped] %>
                We noticed that a recent commit to this repository contained secrets.
              <% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:config_change_scoped] %>
                Someone recently changed the
                <a href="<%= GitHub.url %><%= preferred_file_path(type: :token_scanning_configuration, repository: @repo) %>" style="box-sizing: border-box; color: #0366d6; text-decoration: none; margin-bottom: 0 !important; font-size: 14px !important; font-weight: 600 !important;">
                  secret scanning configuration file
                </a>
                in this repo. As a result, we found some additional secrets.
              <% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:config_deleted_scoped] %>
                Someone recently deleted the secret scanning configuration file in this repo. As a result, we found some additional secrets.
              <% elsif @scope == AccountMailer::TOKEN_SCANNING_SCOPE[:reconciliation_scoped] %>
                After an initial scan for secrets, deeper analysis revealed additional filepaths containing copies of secrets.
              <% else %>
                We found some secrets in this repository.
              <% end %>
              <br><br>
              We recommend you review the secrets we found, then rotate and revoke any that are valid.
              Committed secrets can be discovered by anyone with read access to your code, potentially resulting in unauthorized access to the services you use.
            </p>

            <table class="button button-primary" cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
              <tr>
                <td align="" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top">
                  <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                    <tr>
                      <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; background-color: #0366d6; border-radius: 5px; text-align: center;" valign="top" bgcolor="#0366d6" align="center">
                        <a href="<%= GitHub.url %><%= view.results_path %>" style="box-sizing: border-box; border-color: #0366d6; text-decoration: none; background-color: #0366d6; border: solid 1px #0366d6; border-radius: 5px; color: #ffffff; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; cursor: pointer;">Review secrets</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <ul style="list-style: none !important; padding: 20px 0 !important; margin: 0 !important">
              <% view.token_groups.each do |(token_type, results_for_type, additional_results)| %>
                <% if results_for_type.first.first_location.present? %>
                  <li>
                    <h2 class="h2" style="color: #323232 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 600; line-height: 1.25; margin: 10px 0 10px; font-size: 14px;">
                      <%= view.humanize_token_type(token_type) %>
                    </h2>

                    <ul style="list-style: none !important; padding: 0px 0px 0px 16px !important">
                      <% results_for_type.each do |result| %>
                        <% if result.first_location.present? %>
                          <li>
                            <a href="<%= GitHub.url %><%= view.result_path(result) %>" style="box-sizing: border-box; color: #0366d6; text-decoration: none; margin-bottom: 0 !important; font-size: 14px !important; font-weight: 600 !important;">
                              <%= view.result_filename(result) %>
                              <% if !result.found_in_archive? %>
                                :L<%= view.result_line(result) %>
                              <% end %>
                            </a>
                            found in commit <%= result.first_location.commit_oid[0..6] %>
                          </li>
                        <% end %>
                      <% end %>
                      <% if additional_results > 0 %>
                        <li>
                          Plus <%= additional_results %> others&hellip;
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
