Someone has tried to sign in to your GitHub account but was unable to provide a valid two-factor authentication code. If you recently tried to sign in, no further action is required. If you did not attempt to authenticate, your password may be compromised.

Visit <%= settings_user_security_url %> to create a new and strong password for your GitHub account.

For more information, see <%= GitHub.help_url %>/articles/keeping-your-account-and-data-secure/ in the GitHub Help.
