Hey <%= @user.login %>,

It looks like you disabled two-factor authentication on your
GitHub account.

If you want to re-enable two-factor authentication, head on
over to: <%= settings_user_security_url %>

Thanks,
Your friends at GitHub
