Hey <%= @user.login %>!

You’ve just <%= @reconfiguring ? "re-configured" : "enabled" %> two-factor authentication.

<% if @reconfiguring %>
If you’ve already saved your recovery codes they are still valid, but please
take a moment to check that you have saved them in a safe place. You can
download your recovery codes<% if GitHub.two_factor_sms_enabled? && !@credential.fallback_enabled? %> and set a fallback SMS phone number<% end %> at:
<% else %>
Please take a moment to download your recovery codes<% if GitHub.two_factor_sms_enabled? %> and set a fallback SMS phone number<% end %> at:
<% end %>

<%= settings_auth_recovery_codes_url %>

Recovery codes are the only way to access your account again. By saving your
recovery codes, you’ll be able to regain access if you:

* Lose your phone
* Delete your authenticator application
* Change your phone number

<% unless GitHub.enterprise? %>
GitHub Support will not be able to restore access to your account.

<% end %>
To disable two-factor authentication, visit
<%= settings_user_security_url %>

More information about two-factor authentication can be found on GitHub Help at
<%= GitHub.help_url %>/articles/about-two-factor-authentication

If you have any questions, <%= GitHub.support_link_text_lowercase %>.

Thanks,
Your friends at GitHub
