Your GitHub account was successfully signed in to but we did not recognize the <%= @reason %>. You can review this sign in attempt by visiting <%= settings_show_auth_record_url(@authentication_record) %>.

If you recently signed in to your account, you do not need to take any further action.

If you did not sign in to your account, your password may be compromised. Visit <%= settings_user_security_url %> to create a new, strong password for your GitHub account.

For more information, see "<%= GitHub.help_url %>/articles/keeping-your-account-and-data-secure/" in the GitHub Help.
