Hey <%= @user.login %>!

A sign in attempt requires further verification because we did not recognize your device. To complete the sign in, enter the verification code on the unrecognized device.

Device: <%= @device_name %>
Verification code: <%= @verification_code %>

If you did not attempt to sign in to your account, your password may be compromised. Visit <%= settings_user_security_url %> to create a new, strong password for your GitHub account.

If you'd like to automatically verify devices in the future, consider enabling two-factor authentication on your account. Visit <%= GitHub.help_url %>/articles/configuring-two-factor-authentication learn about two-factor authentication.

If you decide to enable two-factor authentication, ensure you retain access to one or more account recovery methods. See <%= GitHub.help_url %>/articles/configuring-two-factor-authentication-recovery-methods in the GitHub Help.

Thanks,
The GitHub Team
