You recently accessed GitHub using <%= @client %> or an application <% unless @user_agent.blank? %>using <%= @user_agent %> <% end %>with a password that is in a list of passwords commonly used on other websites.

Visit <%= settings_user_security_url %> to create a new, strong password for your GitHub account. We will no longer accept your password using <%= @client %> <% if @deadline.blank? %>soon<% else %><%= @deadline %><% end %>. You will continue to periodically receive this email until you change your password.

If you have already changed your password, no further action is required.

For more information on creating a strong password, visit <%= GitHub.help_url %>/articles/creating-a-strong-password/ in the GitHub Help.
