<div class="form-checkbox">
  <label aria-live="polite">
    <input
      class="form-checkbox-details-trigger"
      type="radio"
      aria-describedby="<%= label_id %>"
      name="visibility"
      value="<%= new_visibility %>"
      <% if same_visibility? %>
        checked
      <% end %>
    />
    Make <%= new_visibility %>
    <p id="<%= label_id %>" class="text-grey text-normal"><%= label_help_text %></p>
    <% if show_warnings? %>
      <span class="form-checkbox-details text-normal">
        <ul class="ml-3" <%= test_selector("visibility-option-warnings") %>>
          <% if changing_from_public? %>
            <li class="mb-1" <%= test_selector("visibility-option-lose-public-feature-warnings") %>>
              You will <strong>permanently</strong> lose:
            </li>
            <ul class="ml-3 mb-3">
              <li class="mb-1">All <strong>stars and watchers</strong> of this repository.</li>
              <% if will_lose_pages? %>
                <li class="mb-1" <%= test_selector("visibility-option-does-not-support-pages-warning") %>>
                  All <strong>pages</strong> published from this repository.
                </li>
              <% end %>
              <% if will_lose_actions? %>
                <li class="mb-1" <%= test_selector("visibility-option-does-not-support-actions-warning") %>>
                  All <strong>GitHub Actions</strong> associated with this repository will no longer be available to other users.
                </li>
              <% end %>
              <% if will_lose_anonymous_git_access? %>
                <li class="mb-1" <%= test_selector("visibility-option-does-not-support-anonymous-git-access") %>>
                  Unauthenticated Git operations will no longer be able to read this repository<% if will_detach_from_network? %> or its forks<% end %>.
                </li>
              <% end %>
            </ul>
            <% if can_upgrade_plan? %>
              <li class="my-3" <%= test_selector("visibility-option-can-upgrade-plan") %>>
                You can <%= link_to "upgrade your plan", settings_user_billing_path, data: feature_gate_upsell_click_attrs %> to also avoid losing access to:
              </li>
              <ul class="ml-3">
                <li class="mb-1"><strong>Codeowners</strong> functionality.</li>
                <li class="mb-1">Any existing <strong>wikis.</strong></li>
                <li class="mb-1"><strong>Pulse, Contributors, Community, Traffic, Commits, Code Frequency</strong> and <strong>Network</strong> on the <strong>Insights page.</strong></li>
                <li class="mb-1"><strong>Draft</strong> PRs</li>
                <li class="mb-1"><strong>Multiple assignees</strong> for issues and PRs</li>
                <li class="mb-1"><strong>Multiple reviewers</strong> for PRs</li>
                <li>Branch protection rules.</li>
              </ul>
            <% end %>
            <% if profile_readme_will_become_hidden? %>
              <li class="mb-1" <%= test_selector("visibility-option-will-hide-readme") %>>
                The README in this repository will no longer be shown on your public profile once this repository is private.
              </li>
            <% end %>
          <% elsif changing_to_public? %>
            <li class="mb-1">The code will be visible to everyone who can visit <%= GitHub.url %></li>
            <li class="mb-1">Anyone can fork your repository.</li>
            <li class="mb-1">Your changes will be published as activity.</li>
            <% if profile_readme_will_become_visible? %>
              <li class="mb-1" <%= test_selector("visibility-option-will-show-readme") %>>
                The README in this repository will be shown on your public profile.
              </li>
            <% end %>
            <% if will_have_restricted_public_abilities? %>
              <li class="mb-1" <%= test_selector("visibility-option-will-have-restricted-public-abilities") %>>
                <%= trade_controls_restricted_public_abilities_for_repository %>
              </li>
            <% end %>
          <% elsif changing_from_private_to_internal? %>
            <li class="mb-1">All members of <%= owner_name %> will be given read access.</li>
            <li class="mb-1">Outside collaborators can no longer be added to forks unless they're added to the root.</li>
          <% elsif changing_from_internal_to_private? %>
            <li class="mb-1">Members of <%= owner_name %> who do not have explicit collaborator access will no longer be able to see this repository.</li>
          <% end %>
          <% if will_detach_from_network? %>
            <li class="my-3" <%= test_selector("visibility-option-detach-warning") %>>
              Current forks will remain <%= current_visibility %> and will be separated from this repository.
            </li>
          <% end %>
        </ul>
      </span>
    <% end %>
  </label>
</div>
