<div class="overflow-hidden position-relative bg-gray-0">
  <div class="position-absolute top-0 bottom-0 bg-gray-dark" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive-fluid pb-9-fluid">
    <div class="bg-gray-0 py-6-fluid mt-6-fluid text-center">
      <h4 class="text-normal text-mono text-uppercase text-gray-light mb-2-fluid f4-mktg-fluid">Collaboration</h4>
      <h2 class="h1-mktg-fluid col-sm-10 col-md-8 col-lg-6 mx-auto mb-2-fluid">Manage everything in one&nbsp;place</h2>
    </div>

    <div class="my-9-fluid">
  
      <div class="d-md-flex flex-row-reverse flex-justify-center flex-items-center my-9-fluid section-team-collaboration target-team-collaboration">
        <div class="d-flex flex-1 flex-justify-start team-collaboration--img-right">
          <div class="d-flex flex-wrap">
            <div class="col-6 p-2-fluid ml-3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-1.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 p-2-fluid mr-n3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-2.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 p-2-fluid ml-n3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-3.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 p-2-fluid mr-3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-4.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 p-2-fluid ml-3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-5.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
            <div class="col-6 p-2-fluid mr-n3-fluid team-integration">
              <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-left p-2-fluid p-lg-3-fluid">
                <img src="<%= image_path "modules/site/team/integrations-6.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot">
          <div class="circle flex-shrink-0 bg-gray-dark mx-4-fluid mt-3-fluid mt-md-6-fluid mb-6-fluid" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-end flex-1 team-collaboration--text-left">
          <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-center text-md-left col-10 mx-auto mx-md-0 p-5-fluid team-collaboration-box team-collaboration-box--left">
            <h3 class="h5-mktg-fluid mb-1-fluid">Connect your favorite tools</h3>
            <p class="f4-mktg-fluid text-gray-light mb-0">Build the way that works best for you with support  for all your go-to integrations, including <a href="https://slack.github.com/">Slack</a>, <a href="https://github.com/marketplace/jira-software-github">Jira</a>,  and more.</p>
          </div>
        </div>
      </div>

      <div class="d-md-flex flex-row flex-justify-center flex-items-center my-9-fluid section-team-collaboration target-team-collaboration">
        <div class="d-flex flex-1 flex-justify-end team-collaboration--img-left">
          <img src="<%= image_path "modules/site/team/access.png" %>" class="width-fit mt-9-fluid mt-md-0-fluid flex-self-center" alt="Add your team in a few clicks" loading="lazy">
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot">
          <div class="circle flex-shrink-0 bg-gray-dark mx-4-fluid mt-3-fluid mt-md-6-fluid mb-6-fluid" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-start flex-1 team-collaboration--text-right">
          <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-center text-md-left col-10 mx-auto mx-md-0 p-5-fluid team-collaboration-box team-collaboration-box--right">
            <h3 class="h5-mktg-fluid mb-1-fluid">Add your team in a click</h3>
            <p class="f4-mktg-fluid text-gray-light mb-0">Seamlessly update permissions and add new users as you build, whether you’re on a team of two or two thousand.</p>
          </div>
        </div>
      </div>

      <div class="d-md-flex flex-row-reverse flex-justify-center flex-items-center my-9-fluid section-team-collaboration target-team-collaboration">
        <div class="d-flex flex-1 flex-justify-start team-collaboration--img-right">
          <img src="<%= image_path "modules/site/team/code-review.png" %>" class="width-fit mt-9-fluid mt-md-0-fluid flex-self-center" alt="Speed up code review" style="transform: translateY(17%) scale(1.25)"  loading="lazy">
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot">
          <div class="circle flex-shrink-0 bg-gray-dark mx-4-fluid mt-3-fluid mt-md-6-fluid mb-6-fluid" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-end flex-1 team-collaboration--text-left">
          <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-center text-md-left col-10 mx-auto mx-md-0 p-5-fluid team-collaboration-box team-collaboration-box--left">
            <h3 class="h5-mktg-fluid mb-1-fluid">Speed up code review</h3>
            <p class="f4-mktg-fluid text-gray-light mb-0">Step up your code quality with code review tools that fit right into your workflow.</p>
          </div>
        </div>
      </div>
      
      <div class="d-md-flex flex-row flex-justify-center flex-items-center my-9-fluid section-team-collaboration target-team-collaboration">
        <div class="d-flex flex-1 flex-justify-end team-collaboration--img-left">
          <img src="<%= image_path "modules/site/team/projects.png" %>" class="width-fit flex-self-center" alt="Plan together" style="transform:translateY(10%);" loading="lazy">
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot">
          <div class="circle flex-shrink-0 bg-gray-dark mx-4-fluid mt-3-fluid mt-md-6-fluid mb-6-fluid" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-start flex-1 team-collaboration--text-right">
          <div class="bg-white box-shadow-card-border-mktg rounded-2-fluid text-center text-md-left col-10 mx-auto mx-md-0 p-5-fluid team-collaboration-box team-collaboration-box--right">
            <h3 class="h5-mktg-fluid mb-1-fluid">Plan together</h3>
            <p class="f4-mktg-fluid text-gray-light mb-0">Make it easy for project managers and developers to coordinate, track, and update their work in one place—so projects stay on schedule.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-8-max mx-auto">
      <div class="testimonial position-relative text-center px-6-fluid px-lg-8-fluid py-6-fluid py-lg-8-fluid rounded-2-fluid box-shadow-default-mktg overflow-hidden section-team-testimonial target-team-testimonial" style="background: radial-gradient(100.19% 164.67% at 50% 100%, #9E7BFF 31.77%, #3D8BD3 100%);">
        <img src="<%= image_path "modules/site/team/testimonials/peakmoney-bg-flat.jpg" %>" alt="" class="width-full height-full testimonial-image-blend position-absolute top-0 left-0 z-n1" loading="lazy">
        <%= svg("site/team/logos/logo-peakmoney", class: "mb-4-fluid text-white", height: "3rem") %>
        <blockquote class="col-5-max mx-auto text-white f2-mktg-fluid mb-5-fluid">“As a team, we’re way more confident that we’re in tune. We can all see our work, feedback, and roadmap going through GitHub.”</blockquote>
        <div class="d-inline-block bg-white circle mb-2-fluid box-shadow-default-mktg position-relative z-1 testimonial-avatar">
          <img src="<%= image_path "modules/site/team/testimonials/peak-money.jpg" %>" alt="Lee Adkins, Head of Engineering at Peak Money" class="circle width-full">
        </div>
        <h4 class="h5-mktg-fluid text-white">Lee Adkins, Head of Engineering</h4>
        <p class="f4-mktg-fluid text-white-fade mb-0">Peak Money</p>
      </div>
    </div>

  </div>
</div>
