<div class="bg-gray py-6-fluid">
  <div class="container-xl mx-auto p-responsive-fluid text-left">
    <h2 class="h4-mktg-fluid mb-2-fluid">Related resources</h2>

    <div class="d-md-flex gutter-fluid my-6-fluid">

      <div class="d-flex col-md-4 pb-6-fluid pb-md-0-fluid">
        <a href="https://resources.github.com/whitepapers/GitHub-Actions-Cheat-sheet/" class="d-flex flex-column flex-justify-between p-5-fluid no-underline bg-white box-shadow-card-border-mktg rounded-2 width-full team-resource">
          <div class="mb-1-fluid">
            <p class="f6-mktg-fluid text-mono text-normal text-uppercase mb-3-fluid" style="letter-spacing: 0.05em; opacity: 0.75">Whitepaper</p>
            <h3 class="h5-mktg-fluid mb-2-fluid">GitHub Actions  cheat sheet </h3>
            <p class="mb-4 text-gray-light f4-mktg-fluid">Everything you need to know about getting started with GitHub Actions.</p>
          </div>
          <div class="f1-mktg-fluid Bump-link-symbol">&rarr;</div>
        </a>
      </div>

      <div class="d-flex col-md-4 pb-6-fluid pb-md-0-fluid">
        <a href="https://resources.github.com/whitepapers/Collaboration-DevOps-success/" class="d-flex flex-column flex-justify-between p-5-fluid no-underline bg-white box-shadow-card-border-mktg rounded-2 width-full team-resource">
          <div class="mb-1-fluid">
            <p class="f6-mktg-fluid text-mono text-normal text-uppercase mb-3-fluid" style="letter-spacing: 0.05em; opacity: 0.75">Whitepaper</p>
            <h3 class="h5-mktg-fluid mb-2-fluid">Collaboration is the key to DevOps success</h3>
            <p class="mb-4 text-gray-light f4-mktg-fluid">In a recent TechTarget study, 70 percent of organizations reported they had adopted DevOps.</p>
          </div>
          <div class="f1-mktg-fluid Bump-link-symbol">&rarr;</div>
        </a>
      </div>

      <div class="d-flex col-md-4">
        <a href="https://resources.github.com/webcasts/Culture-matters-CET/" class="d-flex flex-column flex-justify-between p-5-fluid no-underline bg-white box-shadow-card-border-mktg rounded-2 width-full team-resource">
          <div class="mb-1-fluid">
            <p class="f6-mktg-fluid text-mono text-normal text-uppercase mb-3-fluid" style="letter-spacing: 0.05em; opacity: 0.75">Whitepaper</p>
            <h3 class="h5-mktg-fluid mb-2-fluid">How healthy teams build better software</h3>
            <p class="mb-4 text-gray-light f4-mktg-fluid">Your culture is key to recruiting and retaining the talent you need to ship exceptional customer experiences.</p>
          </div>
          <div class="f1-mktg-fluid Bump-link-symbol">&rarr;</div>
        </a>
      </div>

    </div>

  </div>
</div>
