<div class="overflow-hidden position-relative section-team-security target-team-security">
  <div class="position-absolute top-0 bg-gray-dark" style="bottom:75px; left:50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive-fluid">
    <div class="col-12 mx-auto py-6-fluid">
      <div class="bg-white text-center py-6-fluid">
        <h4 class="text-normal text-mono text-uppercase text-gray-light f5-mktg-fluid">Security</h4>
        <h2 class="h1-mktg-fluid col-md-10 text-center mx-auto mb-2-fluid">Stay focused on development</h2>
      </div>
      <div class="col-md-10 col-lg-9 mx-auto mb-9-fluid">
        <img src="<%= image_path "modules/site/team/security.svg" %>" class="d-block col-9" alt="Security background" style="transform: translateY(33%);" loading="lazy">
        <img src="<%= image_path "modules/site/team/security-overlay.png" %>" class="position-relative d-block col-8 offset-4 box-shadow-default-mktg rounded-2-fluid team-security-overlay" alt="Security overlay" style="border:1px solid rgba(115,92,15,0.3)" loading="lazy">
      </div>

      <div class="d-flex flex-wrap gutter-fluid gutter-lg-spacious-fluid bg-white my-6-fluid py-4-fluid text-md-center section-team-pillars target-team-pillars">

        <div class="col-12 col-md-4 mb-6-fluid team-pillar">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed-fluid gutter-md-0">
            <div class="px-2-fluid px-md-0-fluid">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3-fluid">
                <img src="<%= image_path "modules/site/primer-neue/icons/access-and-permission.svg" %>" alt="Grant the right access to  your team" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12 team-pillar-text">
              <h3 class="h5-mktg-fluid mb-1-fluid">Grant the right access to  your team</h3>
              <p class="f4-mktg-fluid text-gray-light mb-0 mb-md-2-fluid">Easily grant, limit, or revoke access  for collaborators inside and outside  your&nbsp;company.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-6-fluid team-pillar">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed-fluid gutter-md-0">
            <div class="px-2-fluid px-md-0-fluid">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3-fluid">
                <img src="<%= image_path "modules/site/primer-neue/icons/status-check.svg" %>" alt="Keep secrets safe" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12 team-pillar-text">
              <h3 class="h5-mktg-fluid mb-1-fluid">Keep secrets safe</h3>
              <p class="f4-mktg-fluid text-gray-light mb-0 mb-md-2-fluid">Get alerts when secrets are committed to your repositories—and notify over 30&nbsp;cloud service providers automatically.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 team-pillar">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed-fluid gutter-md-0">
            <div class="px-2-fluid px-md-0-fluid">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3-fluid">
                <img src="<%= image_path "modules/site/primer-neue/icons/dependency-insight.svg" %>" alt="Find vulnerable dependencies" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12 team-pillar-text">
              <h3 class="h5-mktg-fluid mb-1-fluid">Find vulnerable dependencies</h3>
              <p class="f4-mktg-fluid text-gray-light mb-0 mb-md-2-fluid">Scan your dependencies automatically. When a vulnerability is found, we’ll open a pull request with suggested&nbsp;fixes.</p>
            </div>
          </div>
        </div>
      </div>

      <p class="f4-mktg-fluid text-center bg-white py-3-fluid mb-6-fluid">
        <a class="btn-mktg-fluid btn-invisible-mktg-fluid Bump-link text-blue-mktg" href="/features/security" style="white-space:normal;">See how GitHub helps secure your applications <span class="Bump-link-symbol"><%= octicon "arrow-right" %></span></a>
      </p>

      <div class="col-8-max mx-auto">
        <div class="testimonial position-relative text-center px-6-fluid px-lg-8-fluid py-6-fluid py-lg-8-fluid rounded-2-fluid box-shadow-default-mktg overflow-hidden section-team-testimonial target-team-testimonial" style="background: radial-gradient(100.19% 164.67% at 50% 100%, #9E7BFF 31.77%, #3D8BD3 100%);">
          <img src="<%= image_path "modules/site/team/testimonials/trayio-bg-flat.jpg" %>" alt="" class="width-full height-full testimonial-image-blend position-absolute top-0 left-0 z-n1" loading="lazy">
          <%= svg("site/team/logos/logo-trayio", class: "mb-4-fluid text-white", height: "3rem") %>
          <blockquote class="col-5-max mx-auto text-white f2-mktg-fluid mb-5-fluid">“GitHub’s Dependabot security updates are smarter than any  other vulnerability tracking tools  we’ve used.”</blockquote>
          <div class="d-inline-block bg-white circle mb-2-fluid box-shadow-default-mktg p-1-fluid position-relative z-1 testimonial-avatar">
            <img src="<%= image_path "modules/site/team/testimonials/tray-io.jpg" %>" alt="Alberto Giorgi, Director of Engineering at Tray.io" class="circle width-full">
          </div>
          <h4 class="h5-mktg-fluid text-white">Alberto Giorgi, Director of Engineering</h4>
          <p class="f4-mktg-fluid text-white-fade mb-0">Tray.io</p>
        </div>
      </div>

    </div>

    <div class="circle d-flex flex-justify-center flex-items-center flex-shrink-0 mx-auto my-6-fluid p-3-fluid section-team-rocket target-team-rocket" style="width:70px; height:70px; border:5px solid #fff; background:linear-gradient(135deg, #44d071 10.73%, #aaf0c1 118.05%);">
      <%= svg("site/primer-neue/octicons/rocket", class: "text-white width-full", style: "height:auto;") %>      
    </div>
  </div>
</div>
