<% if logged_in? && current_user.admin_or_manager_organizations.any? %>
  <%
    org_threshold = 4
    org_count = current_user.admin_or_manager_organizations.count
    org_threshold_passed = org_count > org_threshold
    org_tabs_show = org_threshold_passed && (current_user.billing_manageable_non_business_plus_orgs.any? && current_user.billing_manageable_business_plus_orgs.any?)
  %>
  <div class="container-xl overflow-hidden position-relative p-responsive-fluid py-6">
    <div class="position-absolute top-0 bottom-0 bg-gray-dark" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>

    <div id="organizations" class="position-relative bg-white py-4 my-6">
      <h2 class="h2-mktg-fluid text-center mb-6">Manage your organizations</h2>

      <div class="col-md-10 col-lg-8 mx-auto">
        <tab-container>
          <% if org_tabs_show %>
            <div class="d-flex flex-justify-center">
              <div role="tablist" class="subnav mx-auto mb-3">
                <button type="button" role="tab" class="subnav-item h6-mktg-fluid" aria-selected="true">GitHub Free</button>
                <button type="button" role="tab" class="subnav-item h6-mktg-fluid" tabindex="-1">GitHub Team</button>
              </div>
            </div>
          <% else %>
            <div class="d-sm-flex flex-wrap gutter-fluid gutter-lg-spacious-fluid text-center pb-5">
              <div class="col-sm-6 pb-5 pb-sm-0">
                <h3 class="h4-mktg-fluid mb-3-fluid">GitHub Free</h3>
                <ul class="list-style-none text-gray">
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories &amp; members</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2,000 Action minutes/month</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">500MB of GitHub Packages storage</li>
                </ul>
              </div>

              <div class="col-sm-6">
                <h3 class="h4-mktg-fluid mb-3-fluid">GitHub Team</h3>
                <ul class="list-style-none text-gray">
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">3,000 Action minutes/month</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2GB of GitHub Packages storage</li>
                </ul>
              </div>
            </div>
          <% end %>

          <% if current_user.billing_manageable_non_business_plus_orgs.any? %>
            <div role="tabpanel">
              <% if org_threshold_passed %>
                <div class="text-center mb-4">
                  <ul class="d-flex flex-justify-center list-style-none text-gray">
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories &amp; members</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2,000 Action minutes/month</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">500MB of GitHub Packages storage</li>
                  </ul>
                </div>
              <% end %>

              <% current_user.billing_manageable_non_business_plus_orgs.each do |org| %>
                <%= render "site/team/organization", org: org, plan: "free" %>
              <% end %>
            </div>
          <% end %>

          <% if current_user.billing_manageable_business_plus_orgs.any? %>
            <div role="tabpanel" <%= org_tabs_show ? "hidden" :"" %>>
              <% if org_threshold_passed %>
                <div class="text-center mb-4">
                  <ul class="d-flex flex-justify-center list-style-none text-gray">
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">3,000 Action minutes/month</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2GB of GitHub Packages storage</li>
                  </ul>
                </div>
              <% end %>

              <% current_user.billing_manageable_business_plus_orgs.each do |org| %>
                <%= render "site/team/organization", org: org, plan: "team" %>
              <% end %>
            </div>
          <% end %>
        </tab-container>

        <div class="text-center pt-2 pb-6">
          <%= link_to "Create a new organization for free",
            new_organization_path(plan: GitHub::Plan.free),
            class: "btn-mktg btn-block btn-outline-mktg btn-mktg-fluid btn-block d-inline text-white",
            "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Create a new organization for free;ref_loc:Manage your organizations"
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
