<div class="overflow-hidden position-relative">
  <div class="position-absolute top-0 bottom-0 bg-gray-dark" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive-fluid">
    <div class="col-8-max text-center mx-auto pt-0 pb-6-fluid">
      <ul class="d-flex flex-justify-center flex-items-center flex-wrap list-style-none bg-white py-3-fluid">
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-peakmoney", class: "px-2-fluid my-3-fluid text-gray-light", height: "3rem") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-trustpilot", class: "px-2-fluid my-3-fluid text-gray-light", height: "2.5rem") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-gatsby", class: "px-2-fluid my-3-fluid text-gray-light", height: "2rem") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-trayio", class: "px-2-fluid my-3-fluid text-gray-light", height: "3rem") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-kubernetes", class: "px-2-fluid my-3-fluid text-gray-light", height: "2rem") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-frontapp", class: "px-2-fluid my-3-fluid text-gray-light", height: "1.75rem") %></li>
      </ul>
    </div>
  </div>
</div>
