<div class="container-xl mx-auto p-responsive-fluid height-full">
  <div class="text-center mx-auto py-6-fluid">
    <h2 class="h1-mktg-fluid col-10 mx-auto mb-2-fluid">You’re in good company</h2>
    <div class="d-md-flex gutter-md-fluid my-6-fluid text-left">

      <div class="col-md-6 flex-shrink-0 my-6-fluid my-md-0-fluid">
        <div class="customer-story customer-story--team active position-relative rounded-2-fluid">
          <a href="/customer-stories/front" class="customer-story-overlay position-absolute top-0 right-0 bottom-0 left-0 px-4-fluid px-lg-6-fluid pt-5-fluid pb-3-fluid no-underline z-1 overflow-hidden Bump-link">
            <div class="d-flex flex-column flex-items-center flex-justify-between height-full text-center">
              <div>
                <h6 class="text-normal text-mono text-uppercase text-white-fade f6-mktg-fluid mb-2-fluid">Customer Story</h6>
                <%= svg("site/team/logos/logo-frontapp", class: "mb-4-fluid text-white", height: "2rem") %>
              </div>
              <div>
                <span class="btn-mktg-fluid btn-invisible-mktg-fluid text-white customer-story-cta">Read story <span class="Bump-link-symbol"><%= octicon "arrow-right" %></span></span>
              </div>
            </div>
          </a>
          <img src="<%= image_path "modules/site/team/customer-stories/frontapp.jpg" %>" alt="Tray.io" class="customer-story-bg d-block width-full rounded-2-fluid" loading="lazy">
        </div>
      </div>

      <div class="col-md-6 flex-shrink-0 my-6-fluid my-md-0-fluid">
        <div class="customer-story customer-story--team active position-relative rounded-2-fluid">
          <a href="/customer-stories/trayio" class="customer-story-overlay position-absolute top-0 right-0 bottom-0 left-0 px-4-fluid px-lg-6-fluid pt-5-fluid pb-3-fluid no-underline z-1 overflow-hidden Bump-link">
            <div class="d-flex flex-column flex-items-center flex-justify-between height-full text-center">
              <div>
                <h6 class="text-normal text-mono text-uppercase text-white-fade f6-mktg-fluid mb-2-fluid">Customer Story</h6>
                <%= svg("site/team/logos/logo-trayio", class: "mb-4-fluid text-white", height: "3rem") %>
              </div>
              <div>
                <span class="btn-mktg-fluid btn-invisible-mktg-fluid text-white customer-story-cta">Read story <span class="Bump-link-symbol"><%= octicon "arrow-right" %></span></span>
              </div>
            </div>
          </a>
          <img src="<%= image_path "modules/site/team/customer-stories/trayio.jpg" %>" alt="Tray.io" class="customer-story-bg d-block width-full rounded-2-fluid" loading="lazy">
        </div>
      </div>
    </div>

    <p class="text-center bg-white pb-6-fluid mb-6-fluid">
      <a class="btn-mktg-fluid btn-invisible-mktg-fluid Bump-link" href="/customer-stories?type=team">Read more customer stories <span class="Bump-link-symbol"><%= octicon "arrow-right" %></span></a>
    </p>

  </div>
</div>
