<dl class="form-group">
  <dt><label for="billing_email">Contact email</label></dt>
  <dd>
    <%= text_field_tag(:billing_email, billing_email,
        id: "billing_email",
        class: "form-control width-full",
        disabled: true,
        'aria-describedby': "billing_email_description",
    ) %>
    <p class="note" id="billing_email_description">
      The organization billing email where we will contact you about your GitHub Sponsors profile.
      This will not be shared publicly. Change it in the
      <%= link_to "organization profile page", settings_org_profile_path(sponsorable.login) %>.
    </p>
  </dd>
</dl>

<dl class="form-group">
  <dt class="text-bold">Organization bank account</dt>
  <dd>
    <div class="form-checkbox mt-2">
      <label for="organization_bank_account" aria-live="polite" class="text-normal">
        <input id="organization_bank_account"
          class="radio-input form-checkbox-details-trigger js-sponsors-required-input-trigger"
          type="radio"
          name="fiscal_option"
          value="bank"
          required>

        This organization has an organization bank account

        <p class="note" id="organization_bank_account_description">
          You'll need to provide an <strong>organization bank account</strong> in order
          to join. GitHub Sponsors does not support organization
          payouts to individuals' personal bank accounts.
          <%= link_to "Learn more", "#{GitHub.help_url}/github/supporting-the-open-source-community-with-github-sponsors/setting-up-github-sponsors-for-your-organization#submitting-your-bank-information" %>.
        </p>

        <div class="form-checkbox-details mb-4 mt-2 js-waitlist-countries-container">
          <label for="billing_country" class="f5 text-normal d-block">
            Country or region where your organization bank account is located:
          </label>

          <%= render "sponsors/waitlists/country_select",
            field: :billing_country,
            country: billing_country,
            is_org: true,
            options: {
              required: false,
              "data-sponsors-trigger-values": "bank"
            },
            classes: "text-normal mt-1 js-waitlist-countries-select js-sponsors-required-input-target" %>

          <div class="Box mt-3 f5 js-waitlist-country-unsupported-warning" hidden>
            <div class="flash flash-full border-0 m-0 d-flex">
              <div class="mr-3 flex-self-center"><%= octicon :info %></div>
              <div>
                <%= render "sponsors/waitlists/unsupported_region_explanation", action: "complete signup" %>
              </div>
            </div>
          </div>
        </div>
      </label>
    </div>

    <div class="form-checkbox">
      <label for="organization_fiscal_sponsor" aria-live="polite" class="text-normal">
        <input id="organization_fiscal_sponsor"
          class="radio-input form-checkbox-details-trigger js-sponsors-required-input-trigger"
          type="radio"
          name="fiscal_option"
          value="host"
          required>

        This organization is using a fiscal host

        <p class="note" id="organization_fiscal_sponsor_description">
          Organizations can use a fiscal host to join GitHub Sponsors in lieu
          of having their own business bank account and legal status. <a href="https://github.blog/2020-03-24-getting-started-with-github-sponsors/#orgnobank">Learn more</a>.
          <%# TODO: add fiscal host documentation
          \<%= link_to "Learn more", "#" %\> about fiscal hosts.
          %>
        </p>

        <div class="form-checkbox-details mb-4 mt-2">
          <label for="fiscal_host" class="f5 text-normal d-block">
            Fiscal host you are using:
          </label>

          <% # remove "none" and "other" because they are special 💖 %>
          <% fiscal_host_values = (::SponsorsMembership.fiscal_hosts.keys - ["none", "other"]) %>
          <select id="fiscal_host"
            class="form-select text-normal mt-1 js-waitlist-fiscal-host-select js-sponsors-required-input-trigger js-sponsors-required-input-target"
            name="fiscal_host"
            data-sponsors-trigger-values="<%= (fiscal_host_values + ["host", "other"]).join(",") %>">
            <option value>Select a fiscal host</option>
            <% fiscal_host_values.each do |host| %>
              <option value="<%= host %>"><%= host.titleize %></option>
            <% end %>
            <option value="other">Other</option>
          </select>

          <div class="js-sponsors-other-fiscal-host-inputs" hidden>
            <div class="form-group">
              <label for="fiscal_host_name" class="text-normal d-block">Name your fiscal host</label>
              <input
                type="text"
                name="fiscal_host_name"
                class="form-control mt-1 width-auto js-sponsors-required-input-target"
                data-sponsors-trigger-values="other"
                aria-label="Fiscal host name">
            </div>

            <div class="form-group js-waitlist-countries-container">
              <label for="fiscal_host_billing_country" class="f5 text-normal d-block">
                Country or region where the fiscal host bank account is located:
              </label>
              <%= render "sponsors/waitlists/country_select",
                field: :fiscal_host_billing_country,
                country: billing_country,
                is_org: true,
                options: {
                  required: false,
                  "data-sponsors-trigger-values": "other"
                },
                classes: "js-waitlist-countries-select mt-1 js-sponsors-required-input-target" %>

              <div class="Box mt-3 f5 js-waitlist-country-unsupported-warning" hidden>
                <div class="flash flash-full border-0 m-0 d-flex">
                  <div class="mr-3 flex-self-center"><%= octicon :info %></div>
                  <div>
                    <%= render "sponsors/waitlists/unsupported_region_explanation", action: "complete signup" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </label>
    </div>
  </dd>
</dl>
