<p>
  Your region is <%= link_to "not supported", GitHub.trade_controls_faq_url %>
  or may be in <%= link_to "beta", sponsors_path(anchor: "countries") %>.
</p>

<p>
  Use another bank account where GitHub Sponsors is available or <%= action %>
  to receive a notification if your region becomes available.
</p>
