<%= image_tag "email/sponsors/mona.png", height: 140, alt: "Mona, the queen" %>
<div class="col-sm-8 mx-auto">
  <h1 class="col-sm-8 mb-3 f1-light"><%= title %></h1>

  <div class="f3">
    <!-- Confirmation for Stripe Connect individuals -->
    <% if is_user && membership.eligible_for_stripe_connect? %>
      <p>Your application has been received. You’ll get an email from us when your application has been reviewed.</p>
    <% else %>
      <p>
        Look out for an email from GitHub letting you know you're off the <%= survey.title %> and in the program. We'll move waitlisted
        <%= is_user ? "developers" : "organizations" %>
        into the program on a rolling basis.
      </p>
      <!-- Confirmation for non-Stripe Connect individuals -->
      <% if is_user %>
        <p>
          Right now, <a href="<%= GitHub.help_url %>/articles/becoming-a-sponsored-developer#submitting-your-bank-and-tax-information">30 countries</a> are generally available and out of beta. We'll continue to roll out general availability to more countries soon.
        </p>
        <p>
          If you have a bank account in <a href="<%= GitHub.help_url %>/articles/becoming-a-sponsored-developer#submitting-your-bank-and-tax-information">a country or region where GitHub Sponsors is generally available</a>: change it below.
        </p>
      <% end %>
    <% end %>
    <%= form_tag sponsorable_waitlist_path(sponsorable.login), method: :put do %>
      <input type="hidden" name="membership_id" value="<%= membership.id %>">
      <p>
        <% if membership.contact_email.present? || billing_email.present? %>
          <dl class="form-group">
            <dt>
              <label for="<%= membership.contact_email.present? ? :contact_email : :billing_email %>" class="f4">
                Contact email
              </label>
            </dt>
            <dd>
              <% if membership.contact_email.present? %>
                <%= select_tag(:contact_email_id, options_for_select(
                    possible_emails.map { |email| [email.email, email.id] },
                    membership.contact_email.id
                  ),
                    id: "contact_email",
                    class: "form-select width-full",
                    required: true,
                    'aria-describedby': "email-description",
                ) %>
                <p class="note" id="email-description">
                  The email address where we will contact you about your GitHub Sponsors profile.
                  This will not be shared publicly.
                </p>
              <% else %>
                <%= text_field_tag(:billing_email, billing_email,
                    id: "billing_email",
                    class: "form-control width-full",
                    disabled: true,
                    'aria-describedby': "billing-email-description",
                ) %>
                <p class="note" id="billing-email-description">
                  The organization billing email address where we will contact you about your GitHub Sponsors profile.
                  This will not be shared publicly. Change it in the
                  <%= link_to "organization profile page", settings_org_profile_path(sponsorable.login) %>.
                </p>
              <% end %>
            </dd>
          </dl>
        <% else %>
          Make sure your
          <%= link_to "primary email address is up-to-date", settings_user_emails_url %>
          so we can get a hold of you.
        <% end %>
      </p>
      <p>
        <dl class="form-group">
          <dt>
            <label for="billing_country" class="f4">
              <% if is_user %>
                Bank account country or region
              <% elsif membership.fiscal_host_none? %>
                Organization bank account country or region
              <% else %>
                Organization fiscal host
              <% end %>
            </label>
          </dt>
          <dd class="js-waitlist-countries-container">
            <% if is_user || membership.fiscal_host_none? %>
              <%= render "sponsors/waitlists/country_select",
                field: :billing_country,
                country: billing_country,
                is_org: sponsorable.organization?,
                classes: "js-waitlist-countries-select width-full",
                options: { 'aria-describedby': "country-description" } %>
              <p class="note" id="country-description">
                The country or region where your <%= "organization" unless is_user %> bank account for payouts is located.
              </p>
              <div class="Box m-0 mt-3 f5 js-waitlist-country-unsupported-warning" <%= "hidden" if supported_country %>>
                <div class="flash flash-full border-0 m-0 d-flex">
                  <div class="mr-3 flex-self-center"><%= octicon :info %></div>
                  <div>
                    <%= render "sponsors/waitlists/unsupported_region_explanation", action: "remain on the waitlist" %>
                  </div>
                </div>
              </div>
            <% else %>
              <% if membership.fiscal_host_other? %>
                <div class="form-group mt-0">
                  <input type="text" class="form-control" value="<%= membership.fiscal_host_name %>" aria-label="fiscal host name" disabled>
                  <p class="note">
                    The name of your organization's fiscal host.
                  </p>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" value="<%= billing_country_name %>" aria-label="fiscal host country" disabled>
                  <p class="note">
                    The country or region where your fiscal host bank account is located.
                  </p>
                </div>
              <% else %>
                <div class="form-group mt-0">
                  <input type="text" class="form-control" value="<%= membership.fiscal_host.titleize %>" aria-label="fiscal host name" disabled>
                  <p class="note">
                    The name of your organization's fiscal host.
                  </p>
                </div>
              <% end %>
            <% end %>
          </dd>
        </dl>
        <% if is_user %>
          <dl class="form-group">
            <dt>
              <label for="country_of_residence" class="f4">
                Country or region of residence
              </label>
            </dt>
            <dd>
              <%= render "sponsors/waitlists/country_select",
                field: :country_of_residence,
                country: country_of_residence,
                is_org: sponsorable.organization?,
                classes: "js-waitlist-countries-select width-full",
                options: { 'aria-describedby': "country_of_residence-description" } %>
              <p class="note" id="country_of_residence-description">
                The country or region where you reside. This is required for tax purposes.
              </p>
            </dd>
          </dl>
        <% end %>
      </p>

      <% if is_user || membership.fiscal_host_none? %>
        <div class="no-wrap f5 mt-4">
          <button class="btn" type="submit">Update</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
