<%
  is_user = sponsorable.user?
  on_waitlist = membership.present?
  title = if on_waitlist && is_user && membership.eligible_for_stripe_connect?
    "Thank you for applying to GitHub Sponsors!"
  elsif on_waitlist
    "You're on the GitHub Sponsors waitlist!"
  else
    "Join the waitlist"
  end

  page_info(
    title: "GitHub Sponsors · #{title}",
    class: "f4",
  )

  billing_country = membership&.billing_country
  billing_country_name = membership&.full_billing_country
  country_of_residence = membership&.country_of_residence
%>

<div class="container-md p-responsive mt-7 <%= "d-flex" if on_waitlist %>">
  <% if on_waitlist %>
    <%= render "sponsors/waitlists/update",
               title: title,
               is_user: is_user,
               survey: survey,
               survey_questions: survey_questions,
               membership: membership,
               sponsorable: sponsorable,
               billing_email: billing_email,
               possible_emails: possible_emails,
               billing_country: billing_country,
               billing_country_name: billing_country_name,
               country_of_residence: country_of_residence,
               supported_country: membership.eligible_for_stripe_connect? %>
  <% else %>
    <%= render "sponsors/waitlists/create",
               title: title,
               is_user: is_user,
               survey: survey,
               survey_questions: survey_questions,
               membership: membership,
               sponsorable: sponsorable,
               billing_email: billing_email,
               possible_emails: possible_emails,
               billing_country: billing_country %>
  <% end %>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "sponsors" %>
<% end %>
