<% page_info title: "Advanced security beta signup", selected_link: :code_scanning_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Advanced security beta waitlist<% end %>
  <% end %>

  <%= form_tag stafftools_code_scanning_beta_signup_path, method: :get, class: "d-flex mb-3" do %>
    <div class="subnav-search flex-auto d-flex mx-0">
      <input aria-label="Search waitlist members&hellip;"
             placeholder="Search waitlist members&hellip;"
             autocapitalize="off"
             autocomplete="off"
             class="form-control input-block flex-auto input-lg subnav-search-input"
             spellcheck="false"
             type="text"
             name="query"
             value="<%= params[:query] %>">
      <%= octicon "search", class: "subnav-search-icon" %>
      <% if params[:query].present? %>
        <a href="<%= stafftools_code_scanning_beta_signup_path %>"
           class="issues-reset-query position-absolute top-0 right-0 mt-2 mr-1 rounded-1 text-center btn-link muted-link"
           aria-label="Clear filter"
        >
          <%= octicon("x", class: "issues-reset-query-icon") %>
        </a>
      <% end %>
    </div>

    <button class="btn ml-md-2 mt-2 mt-md-0 d-lg-none flex-shrink-0" type="submit">Search</button>
  <% end %>

  <table class="Box Box--condensed width-full">
    <tr>
      <th class="Box-header">Member</th>
      <th class="Box-header">Submitted by</th>
      <th class="Box-header">Waitlisted</th>
      <th class="Box-header">Members</th>
      <th class="Box-header">
        <div>Public repos enabled?</div>
        <hr>
        <%= form_tag stafftools_toggle_code_scanning_beta_path, class: "js-setting-toggle", "data-autosubmit" => true, method: :post do %>
          <label for="all_toggle">Enabled for all on this page?</label>
          <input id="all_toggle" type="checkbox" name="enable" aria-label="all_toggle_status" <%= "checked" if memberships.all? { |membership| membership.member.advanced_security_public_beta_enabled? }%>>
          <% memberships.map do |membership| %>
            <input type="hidden" name="user_ids[]" value="<%= membership.member.id %>">
          <% end %>
          <span class="status-indicator js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
        <% end %>
      </th>
      <th class="Box-header">Private repos enabled?</th>
      <th class="Box-header">Interested in private repos?</th>
    </tr>
    <% memberships.each do |membership| %>
      <%
        member = membership.member
        submitter = membership.actor || User.ghost
      %>
      <tr <%= test_selector("advanced-security-waitlist-member") %>>
        <td class="Box-row border no-wrap">
          <%= avatar_for(member, 22, class: "avatar avatar-small mr-1") %>
          <%= link_to member.login, user_path(member) %>
        </td>
        <td class="Box-row border no-wrap">
          <%= avatar_for(submitter, 22, class: "avatar avatar-small mr-1") %>
          <%= link_to submitter.login, user_path(submitter) %>
          <% if submitter.employee? %>
            <a href="<%= submitter.team_app_url %>"><span class="label bg-blue text-uppercase">Staff</span></a>
          <% end %>
        </td>
        <td class="Box-row border no-wrap"><%= membership.created_at.to_date.iso8601 %></td>
        <td class="Box-row border text-center"><%= member.members_count if member.organization? %></td>
        <td class="Box-row border text-center">
          <%= form_tag stafftools_toggle_code_scanning_beta_path, class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="checkbox" name="enable" aria-label="toggle_<%= member.login %>_status" <%= "checked" if member.advanced_security_public_beta_enabled? %>>
            <input type="hidden" name="user_ids[]" value="<%= member.id %>">
            <span class="status-indicator js-status-indicator">
              <%= octicon("check") %>
              <%= octicon("x") %>
            </span>
          <% end %>
        </td>

        <td class="Box-row border text-center">
          <%= form_tag stafftools_toggle_code_scanning_beta_path, class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="checkbox" name="enable" aria-label="toggle_<%= member.login %>_status" <%= "checked" if member.advanced_security_private_beta_enabled? %> <% unless member.organization?%>disabled<% end %>>
            <input type="hidden" name="private" value="1">
            <input type="hidden" name="user_ids[]" value="<%= member.id %>">
            <span class="status-indicator js-status-indicator">
              <%= octicon("check") %>
              <%= octicon("x") %>
            </span>
          <% end %>
        </td>

        <td class="Box-row border text-center">
          <%= membership.survey.questions.find_by(short_text: "private_repositories").answers.find_by(user_id: member.id)&.choice&.short_text %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate memberships %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
