<%= cache community_contributors_cache_key, skip_digest: true do %>
  <%graphql
    fragment Repository on Repository {
      databaseId
      name
      owner {
        login
      }

      contributors(first: $first) {
        nodes {
          ...AvatarHelper::AvatarFragment::Actor
          ...ApplicationHelper::ActorProfileLink::Actor
        }
        totalCount
      }

      communityContributorsCollection {
        directContributors(limit: $first) {
          ...AvatarHelper::AvatarFragment::Actor
          ...ApplicationHelper::ActorProfileLink::Actor
        }
        transitiveContributorsCount
      }
    }
  %>

  <%
    repository = Views::Hovercards::Repositories::CommunityContributorsList::Repository.new(repository)
    contributors = repository.contributors.nodes
    community_contributors_collection = repository.community_contributors_collection
    community_contributors = community_contributors_collection.direct_contributors
    total_direct_contributors_count = repository.contributors.total_count
    total_community_contributors_count = community_contributors_collection.transitive_contributors_count
    profile_data_attributes = { "octo-click": "hovercard-link-click", "octo-dimensions": "link_type:profile" }
  %>

  <template class="js-hovercard-include-fragment">
    <div class="p-3">
      <%= content_tag :div, "", data: hydro_view_tracking_attributes(
                                        "community-contributors-hovercard-hover",
                                        repositoryId: repository.database_id) %>

      <div class="d-flex flex-column flex-items-baseline">
        <div class="d-flex flex-auto flex-column">
          <div class="f5 mb-1">
            <%= octicon(:people, class: "mr-1 text-gray") %>
            <span class="text-bold"><%= number_with_delimiter(total_direct_contributors_count) %></span> direct <%= "contributor".pluralize(total_direct_contributors_count) %>
          </div>
          <div class="d-flex flex-wrap flex-items-center">
            <% contributors.each do |contributor| %>
              <div class="rounded-1 overflow-hidden mr-1 mt-1">
                <%= graphql_profile_link(contributor, skip_hovercard: true, data: profile_data_attributes) do %>
                  <%= graphql_avatar_for(contributor, 24, class: "d-block") %>
                <% end %>
              </div>
            <% end %>
            <% if total_direct_contributors_count > default_count %>
              <a class="mt-1" href="<%= contributors_graph_path(repository.owner.login, repository.name) %>">
                + <%= number_with_delimiter total_direct_contributors_count - default_count %>
              </a>
            <% end %>
          </div>
        </div>

        <% if total_community_contributors_count > 0 %>
          <div class="d-flex flex-auto flex-column pt-3 mt-3 border-top" style="width: 100%;">
            <div class="f5 mb-1">
              <%= octicon(:globe, class: "mr-1 text-gray") %>
              <span class="text-bold"><%= number_with_delimiter(total_community_contributors_count) %></span>
              <%= "contributor".pluralize(total_community_contributors_count) %> in the
              <a href="<%= network_dependencies_path(repository.owner.login, repository.name) %>">dependency graph</a>
            </div>
            <div class="d-flex flex-wrap flex-items-center">
              <% community_contributors.each do |contributor| %>
                <div class="rounded-1 overflow-hidden mr-1 mt-1">
                  <%= graphql_profile_link(contributor, skip_hovercard: true, data: profile_data_attributes) do %>
                    <%= graphql_avatar_for(contributor, 18, class: "d-block") %>
                  <% end %>
                </div>
              <% end %>
              <% if total_community_contributors_count > default_count %>
                <a class="mt-1" href="<%= community_contributors_path(repository.owner.login, repository.name) %>">
                    + <%= number_with_delimiter total_community_contributors_count - default_count %>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </template>
<% end %>
