<div class="p-3">
  <%= include_cached_fragment cache_key: community_contributors_cache_key,
                                    src: list_community_contributors_hovercard_path,
                                  class: "text-center pt-2" do %>
    <div>
      <%= image_tag "spinners/octocat-spinner-64.gif", width: 32, height: 32, alt: "Loading...", class: "my-0" %>
      <p class="pt-1 f5 text-gray-light">
        Loading contributors...
      </p>
    </div>
  <% end %>
</div>
