<%graphql
  fragment Repository on Repository {
    name
    pushedAt
    createdAt
    resourcePath
    networkResourcePath
    networkCount
    stargazerCount
    primaryLanguage {
      name
    }
    databaseId
    isArchived
    isFork
    isTemplate
    isMirror
    mirrorUrl
    isPrivate
    visibility
    parent {
      nameWithOwner
      resourcePath
    }
    shortDescriptionHTML
    owner {
      login
    }
    ...RepositoriesHelper::RepositoryLabelFragment
  }
%>
<%
  repository = Views::Hovercards::Repositories::Show::Repository.new(repository)
  repo_type = user_repositories_type(visibility: repository.visibility, is_mirror: repository.is_mirror?, is_archived: repository.is_archived?, is_template: repository.is_template?)
  max_title_length = 45 - repo_type.length
  owner_length_limit = max_title_length / 3
  name_length_limit = (max_title_length / 3) * 2
%>

<div class="p-3" <%= test_selector("repository-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes(
                                    "repository-hovercard-hover",
                                    repositoryId: repository.database_id,
                                    subject: params[:subject]) %>
  <div class="d-flex flex-items-baseline">
    <h1 class="f5">
      <% if repository.is_private? %>
        <% if repository.is_template? %>
          <%= octicon "repo-template-private", class: "repo-private-icon mr-1 v-align-middle" %>
        <% else %>
          <%= octicon(:lock, class: "repo-private-icon mr-1") %>
        <% end %>
      <% else %>
        <% if repository.is_template? %>
          <%= octicon "repo-template", class: "text-gray-light mr-1 v-align-middle" %>
        <% else %>
          <%= octicon(:repo, class: "text-gray-light mr-1") %>
        <% end %>
      <% end %>
      <a class="link-gray-dark no-underline" href="<%= repository.resource_path %>" itemprop="name codeRepository">
        <%= truncate(repository.owner.login, length: owner_length_limit) %>/<%= truncate(repository.name, length: name_length_limit) %>
      </a>
    </h1>
    <%= graphql_repository_label(repository, classes: "ml-1 mb-1") %>
  </div>

  <% if repository.is_fork? && repository.parent %>
    <span class="f6 text-gray my-1">
      Forked from
      <a class="muted-link" href="<%= repository.parent.resource_path %>">
        <%= truncate(repository.parent.name_with_owner, length: 60) %>
      </a>
    </span>
  <% end %>

  <% if repository.is_mirror? %>
    <p class="f6 text-gray mb-1">
      Mirrored from
      <a class="muted-link" href="<%= repository.mirror_url %>">
        <%= truncate(repository.mirror_url.to_s, length: 60) %>
      </a>
    </p>
  <% end %>

  <% if repository.short_description_html.present? %>
    <div class="lh-condensed text-gray my-2">
      <p itemprop="description">
        <%= repository.short_description_html %>
      </p>
    </div>
  <% end %>

  <div class="f6 text-gray mt-2">
    <% if repository.primary_language %>
      <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name, ml: 0, mr: 3)) %>
    <% end %>

    <% if repository.stargazer_count > 0 %>
      <a class="muted-link mr-3" href="<%= stargazers_repository_path(repository.owner.login, repository.name) %>">
        <%= octicon("star", :"aria-label" => "star") %>
        <%= number_with_delimiter repository.stargazer_count %>
      </a>
    <% end %>

    <% if repository.network_count > 0 %>
      <a class="muted-link mr-3" href="<%= repository.network_resource_path.to_s %>">
        <%= octicon("repo-forked", :"aria-label" => "fork") %>
        <%= number_with_delimiter repository.network_count %>
      </a>
    <% end %>

    <div class="d-inline-block">
      <% if repository.pushed_at %>
        Updated <%= time_ago_in_words_js repository.pushed_at %>
      <% else %>
        Created <%= time_ago_in_words_js repository.created_at %>
      <% end %>
    </div>
  </div>
</div>
