<% page_info :title => view.page_title %>

<%# view is an instance of Mobile::Users::RepositoriesView %>
<div class="list repo-list colored-icons">
  <% if view.has_gists? %>
    <% view.gists.each do |gist| %>
      <%= render "mobile/gists/gists/list_item", :gist => gist %>
    <% end %>
    <div class="paginate-container">
      <%= simple_paginate(view.gists, :next_label => "Older", :previous_label => "Newer")%>
    </div>
  <% else %>
    <div class="list-item no-repo"><%= view.user %> doesn’t have any public gists yet.</div>
  <% end %>
</div>
