<%# rubocop:disable Lint/InstanceVariable %>

<div class="blankslate">
  <% if params[:q].present? %>
    <h3>Sorry, we couldn’t find any matching starred <%= stars %>.</h3>

    <p>
      You might find what you’re looking for by
      <%= link_to "searching all of GitHub", search_path(q: params[:q]), data: { pjax: true } %>
      for <strong>“<%= params[:q] %>”</strong>.
    </p>
  <% elsif @star_user == current_user %>
    <h3>You don’t have any starred <%= stars %>, yet.</h3>

    <p>
      As you <%= link_to "explore GitHub", explore_path, data: { pjax: true } %>,
      star <%= stars %> to save them for later and they’ll show up here.
    </p>
  <% else %>
    <h3><%= @star_user %> doesn’t have any starred <%= stars %> yet.</h3>
  <% end %>
</div>
