<%graphql
  fragment Repository on Repository {
    name
    owner {
      login
    }
    stargazerCount
  }
%>
<%
  repo = Views::Stars::GraphqlStarCount::Repository.new(repo)
%>
<a class="social-count js-social-count"
   href="<%= stargazers_repository_path(repo.owner.login, repo.name) %>"
   aria-label="<%= pluralize repo.stargazer_count, "user" %> starred this repository">
  <%= social_count repo.stargazer_count %>
</a>
