<% stars.each do |star| %>
  <% if star.for_repository? %>
    <% repo = star.try(:starrable) || star %>

    <li class="py-4 border-bottom <%= css_for(repo) %>">
      <div class="d-inline-block mb-1">
        <h3>
          <%= link_to repository_path(repo) do %>
            <span class="text-normal"><%= repo.owner %> / </span>
            <%= repo.name %>
          <% end %>
          <% if repo.private? %>
            <span class="Label Label--outline"><%= type_for(repo) %></span>
          <% end %>
        </h3>
      </div>

      <div class="float-right">
        <%= render(Stars::ButtonComponent.new(
          entity: repo,
          starred: starred_by_viewer.include?(repo.id),
          show_count: false,
          context: "repo_stargazers"
        )) %>
      </div>

      <div class="py-1">
        <% if repo.description.present? %>
          <p class="col-9 d-inline-block text-gray m-0 pr-4">
            <%= formatted_repo_description repo %>
          </p>
        <% end %>
      </div>

      <div class="f6 text-gray mt-2">
        <% if repo.primary_language.present? %>
          <%= render(Languages::BadgeComponent.new(name: repo.primary_language.name, display: :inline_block, ml: 0, mr: 3)) %>
        <% end %>

        <% if repo.stargazer_count > 0 %>
          <%= link_to gh_stargazers_path(repo), class: "muted-link mr-3" do %>
            <%= octicon("star", "aria-label": "star") %>
            <%= number_with_delimiter repo.stargazer_count %>
          <% end %>
        <% end %>

        <% if repo.network_count > 0 %>
          <%= link_to gh_fork_network_path(repo), class: "muted-link mr-3" do %>
            <%= octicon("repo-forked", "aria-label": "fork") %>
            <%= number_with_delimiter repo.network_count %>
          <% end %>
        <% end %>

        <span class="float-right"><%= sort_info_for(params[:sort], star) %></span>
      </div>
    </li>
  <% elsif star.for_topic? %>
    <% topic = star.try(:starrable) || star %>

    <li class="d-md-flex flex-justify-between py-4 border-bottom">
      <a href="<%= topic_show_path(topic) %>" class="d-flex flex-md-items-center flex-auto no-underline" data-ga-click="Explore, go to topic, text:<%= topic.name %>">
        <% if topic.logo_url %>
          <img src="<%= topic.logo_url %>" class="rounded-1 mr-3" width="64" height="64" alt="<%= topic.name %>">
        <% else %>
          <div class="bg-blue-light f4 text-gray-light text-bold rounded-1 mr-3 flex-shrink-0 text-center" style="width:64px; height:64px; line-height:64px;">#</div>
        <% end %>
        <div class="d-flex flex-column">
          <p class="f3 lh-condensed mt-1 mt-md-0 mb-0"><%= topic.safe_display_name %></p>
          <p class="f5 text-gray mb-0 mt-1"><%= truncate(topic.short_description, length: 160) %></p>
        </div>
      </a>

      <div class="d-md-flex flex-column flex-justify-between flex-items-end mt-3 mt-md-0 ml-md-5">
        <% if topic %>
          <%= render "stars/star_topic_list_item_button", topic: topic %>
        <% end %>

        <div class="f6 text-gray text-md-right no-wrap mt-2">
          <%= sort_info_for(params[:sort], star) %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
