<% if logged_in? %>
  <div class="mt-3 mt-sm-0 ml-sm-3 js-toggler-container starring-container d-inline-block <%= "on" if current_user.starred?(topic) %>">
    <%= button_to(
      unstar_topic_path(topic.name),
      class: "btn btn-sm js-toggler-target starred",
      "aria-label": "Unstar #{topic.safe_display_name}",
      method: :delete,
      remote: true) do %>
      <%= octicon "star-fill", class: "mr-1" %>Unstar
    <% end %>

    <%= button_to(
      star_topic_path(topic.name),
      class: "btn btn-sm js-toggler-target unstarred",
      "aria-label": "Star #{topic.safe_display_name}",
      method: :post,
      remote: true) do %>
      <%= octicon "star", class: "mr-1" %>Star
    <% end %>
  </div>
<% else %>
  <div>
    <%= link_to(
      login_path(return_to: topic_show_path(topic)),
      class: "btn btn-sm tooltipped tooltipped-s",
      "aria-label": "You must be signed in to star a topic",
      rel: "nofollow",
      data: sign_in_link_data_attributes(location_in_page: "star topic button")
    ) do %>
      <%= octicon('star', class: 'v-align-text-bottom') %>
      Star
    <% end %>
  </div>
<% end %>
