<% ga_location = local_assigns[:ga_location] %>

<div
  class="<%= class_names(
    "d-inline-block js-toggler-container starring-container",
    "on" => current_user&.starred?(topic),
  ) %>"
>
  <% if logged_in? %>
    <%= form_tag(
      unstar_topic_path(topic.name),
      class: "starred",
      remote: true,
      method: :delete,
    ) do %>
      <input type="hidden" name="context" value="<%= star_context %>">
      <button
        class="<%= class_names(
          "btn",
          "d-flex flex-items-center js-toggler-target",
          "btn-sm" => star_context != "topic",
        ) %>"
        type="submit"
        value="Unstar"
        aria-label="Unstar this topic"
        title="Unstar <%= topic.name %>"
        data-ga-click="Explore, click unstar button, action:<%= controller_action_slug %>;
          text:Unstar<% if ga_location %>; location:<%= ga_location %><% end %>"
      >
        <%= octicon("star-fill", class: "mr-1") %>Unstar
      </button>
    <% end %>

    <%= form_tag(star_topic_path(topic.name), class: "unstarred", remote: true) do %>
      <input type="hidden" name="context" value="<%= star_context %>">
      <button
        class="<%= class_names(
          "btn",
          "d-flex flex-items-center js-toggler-target",
          "btn-sm" => star_context != "topic",
        ) %>"
        type="submit"
        value="Star"
        aria-label="Star this topic"
        title="Star <%= topic.name %>"
        data-ga-click="Explore, click star button, action:<%= controller_action_slug %>;
          text:Star<% if ga_location %>; location:<%= ga_location %><% end %>"
      >
        <%= octicon("star", class: "mr-1") %>Star
      </button>
    <% end %>
  <% else %>
    <a
      class="btn <% unless star_context == 'topic' %>btn-sm<% end %> d-flex flex-items-center"
      href="<%= login_path(return_to: topic_show_path(topic.name)) %>"
      aria-label="You must be signed in to star a topic"
      title="You must be signed in to star a topic"
      data-ga-click="Explore, click star button when signed out,
        action:<%= controller_action_slug %>;
        text:Star<% if ga_location %>; location:<%= ga_location %><% end %>"
    >
      <%= octicon("star", class: "mr-1") %>Star
    </a>
  <% end %>
</div>
