<%# rubocop:disable Lint/InstanceVariable %>

<% if @hidden_repo_stars %>
  <div class="mt-2 mb-0 flash-messages">
    <div class="flash flash-warn">
      <%= octicon('alert') %>
      <% if @star_user == current_user %>
        You have many starred repositories - we’re only showing a subset.
      <% else %>
        This user has many starred repositories - we’re only showing a subset.
      <% end %>
    </div>
  </div>
<% end %>

<% if @starred_repositories.any? %>
  <ul class="repo-list list-style-none js-navigation-container js-active-navigation-container">
    <%= render(
      partial: "stars/list",
      locals: {
        stars: @starred_repositories,
        starred_by_viewer: starred_by_viewer,
        sort: params[:sort],
      }
    )%>
  </ul>

  <% if @page == "overview" %>
    <div class="mt-2 mb-6">
      <div class="pagination">
        <a href="<%= users_stars_repositories_path(user: @star_user, filter: 'all', page: nil)%>">See all starred repositories</a>
      </div>
    </div>
  <% else %>
    <div class="paginate-container" data-pjax>
      <%= simple_paginate @starred_repositories, params: params.slice(:q, :language, :sort, :direction, :user, :filter) %>
    </div>
  <% end %>
<% else %>
  <%= render partial: "stars/blank_stars", locals: { stars: "repositories" } %>
<% end %>
