<%# rubocop:disable Lint/InstanceVariable %>

<% if @star_user == current_user %>
  <% page_info \
      title: "Your starred topics"
  %>
<% else %>
  <%
    profile_name = @star_user.profile_name
    page_info \
      title: "#{@star_user} #{"(#{profile_name})" if profile_name.present?} / starred topics"
  %>
<% end %>

<div class="bg-gray-light border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="f0-light">
      <% if @star_user == current_user %>Your <% end %>Starred Topics
    </h1>
    <p class="f4 text-gray col-md-6 mx-auto">
      Browse <% if @star_user == current_user %>your <% end %>starred topics
    </p>
  </div>
</div>

<%= render partial: "stars/star_content", locals: { starred_by_viewer: starred_by_viewer } %>
