<% audit_query = "repo_id:#{current_repository.id} (action:protected_branch*.* OR action:required_status_check.*)" %>

<% page_info title: "#{current_repository.name_with_owner} - Protected Branches" %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>Protected Branches<% end %>
<% end %>

<% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
  <p>
    <%= link_to "Search audit log", stafftools_audit_log_path(query: audit_query) %>
    for branch protection events
  </p>
<% else %>
  <p>Search audit log</p>
  <p><%= stafftools_not_authorized_html %></p>
<% end %>

<div class="Box">
  <% if branches.any? %>
    <% branches.each do |branch| %>
      <%= render_partial_view "stafftools/protected_branches/branch",
        Stafftools::ProtectedBranches::BranchView, branch: branch %>
    <% end %>
  <% else %>
    <div class="Box-row">
      No branches have been protected in this repository.
    </div>
  <% end %>
</div>
