<% page_info \
    title: "Confirm your subscription",
    class: "page-responsive min-width-0 f4",
    marketing_page: true %>

<div class="py-6 py-sm-8 py-lg-10 py-xl-12">
  <div class="container-sm mx-auto p-responsive text-center">
    <h1 class="h00-mktg mb-3">Confirm your subscription</h1>
    <p class="h3-mktg">Subscribe if you’d like to hear about new features, community events, and tips and tricks for developers using GitHub.</p>
    <%= form_tag email_optin_path do %>
      <button type="submit" class="btn btn-primary">Subscribe to updates</button>
    <% end %>
  </div>
</div>
