<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: "Unsubscribe from email"
%>

<div class="container-md p-responsive pt-6">
  <div class="d-md-flex flex-items-center gutter-md">
    <div class="col-6 col-md-4 mx-auto">
      <%= image_tag "modules/octocats/supportcat.jpg", alt: "Octocat", class: "width-fit" %>
    </div>
    <div class="col-md-8">
      <div class="js-email-unsubscribe-message">
        <h1>Unsubscribed</h1>
        <p class="lead">
          <% kind = @subscription.kind == "notification" ? "notifications" : "emails" %>
          No worries, you won’t receive any more <%= @subscription.name.humanize %> <%= kind %> from us.
        </p>

        <%= form_tag email_subscribe_path, class: "js-email-unsubscribe-form", "data-remote": true do %>
          <input type="hidden" name="name" value="<%= @subscription.name %>">
          <input type="hidden" name="kind" value="<%= @subscription.kind %>">
          <button type="submit" data-disable-with="Resubscribing&hellip;" class="btn btn-primary">
            Resubscribe, I’ve changed my mind
          </button>
        <% end %>
      </div>

      <div class="js-email-unsubscribe-message d-none">
        <h1>Subscribed</h1>
        <p class="lead">
          You’ve been resubscribed to <%= @subscription.kind %> <%= @subscription.human_name.capitalize %> emails.
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
