<div class="Box">
  <% if successor_invite.nil? || successor_invite.canceled? %>
    <div class="blankslate blankslate-clean-background">
      You have not designated a successor.
    </div>
  <% else %>
    <div>
      <%= render partial: "settings/successor/successor", locals: { successor_invite: successor_invite } %>
    </div>
  <% end %>
</div>
