<%# erblint:disable ProperTagNesting %>
<% user = successor_invite.invitee %>
<div class="Box-row">
  <a class="no-underline" href="<%= user_path(user) %>">
    <%= avatar_for user, 28, :class => "avatar v-align-middle" %>
    <%= user.login %>
  </a>

  <% if successor_invite.accepted? %>
    <div class="text-small text-red text-bold float-right m-1 pr-1">
      <%= form_tag unset_successor_path(login: user.login),
                   :method => "put",
                   :class => "inline-form v-align-middle float-right" do %>
        <input class="btn btn-sm btn-danger" type="submit" value="Revoke"></input>
      <% end %>
    </div>
  <% end%>

  <% if successor_invite.pending? %>
    <%= form_tag cancel_successor_invitation_path(login: user.login),
                 :method => "put",
                 :class => "inline-form v-align-middle float-right" do %>
      <input class="btn btn-sm btn-danger" type="submit" value="Cancel"></input>
    <% end %>

    <div class="collaborators collab-list-cell float-right mr-3">
      <details class="details-overlay details-reset js-dropdown-details position-relative float-right">
        <summary class="btn btn-sm">
          Copy invite link
          <span class="dropdown-caret"></span>
        </summary>

        <div class="copy-invite-modal dropdown-menu dropdown-menu-sw p-3 mt-2">
          <h4 class="mt-0 mb-1 text-gray-dark">Copy invite link</h4>
          <p class="mt-0 mb-1 text-gray-dark">
            This link will only work for <%= user.login %>.
          </p>
          <div class="input-group">
            <input type="text" class="form-control input-monospace input-sm" data-autoselect value="<%= successor_invite.permalink %>" aria-label="Copy and share invite link <%= successor_invite.permalink %>" readonly autofocus>
            <div class="input-group-button">
              <clipboard-copy value="<%= successor_invite.permalink %>" aria-label="Copy to clipboard" class="btn btn-sm">
                <%= octicon("clippy") %>
              </clipboard-copy>
            </div>
          </div>
        </div>
      </details>
    </div>

    <div class="text-small text-red text-bold float-right m-1 pr-1">
      <div id="successor-pending" class="text-small text-orange text-bold float-right m-1 pr-1">
        Pending
      </div>
    </div>
  <% end %>

  <% if successor_invite.declined? %>
    <div class="text-small text-red text-bold float-right m-1 pr-1">
      <div id="successor-pending" class="text-small text-red text-bold float-right m-1 pr-1">
        Declined
      </div>
    </div>
  <% end %>
</div>
