<%graphql
fragment Root on Query {
  ...Views::MarketplaceListings::Listing::Root

  featuredCategories: featuredMarketplaceCategories {
    ...Views::Marketplaces::FeaturedCategory::Category
  }

  marketplaceStories: marketplaceStories(first: 1, featuredOnly: true) {
    nodes {
      databaseId
      title
      description
      url
    }
  }

  ...Marketplace::SideNavView::Query::Root
  ...Views::Marketplaces::Trending::Root
  ...Views::Marketplaces::RecommendedApps::Root
}
%>
<%
  data = Views::Marketplaces::Show::Root.new(data)

  marketplace_story = data.marketplace_stories.nodes.first
%>

<% page_info \
  title: "Marketplace · Tools to improve your workflow",
  description: "Find the tools that help your team build better, together.",
  container_xl: true,
  stafftools: biztools_marketplace_path,
  selected_link: marketplace_path,
  class: "bg-gray-light",
  richweb: {
    title: "GitHub Marketplace: tools to improve your workflow",
    url: request.original_url,
    description: "Find the tools that help your team build better, together.",
    image: image_path("modules/site/social-cards/marketplace.png"),
  }
%>

<% content_for :head do %>
  <meta name="description" content="GitHub integrates with hundreds of tools that help you and your team build software better, together." >
<% end %>

<div class="MarketplaceHeader pt-6 pt-lg-10 position-relative bg-white">
  <%= render partial: "marketplaces/home_header" %>
  <div class="MarketplaceBackground-wrapper pt-12">
    <div class="container-xl p-responsive position-relative">
      <div class="col-md-7 col-lg-12 mx-auto">
        <div class="MarketplaceBackground-recommendations mx-auto">
          <img src="<%= image_path "modules/marketplace/marketplace-illustration-01.svg" %>" alt="">
        </div>
      </div>
    </div>
    <div class="MarketplaceBackground-buffer"></div>
  </div>
</div>

<div class="MarketplaceBody">
  <div class="container-lg p-responsive clearfix">
    <div class="col-lg-9 float-lg-right">
      <%= render partial: "marketplace/search_bar", locals: { data: data } %>
    </div>

    <%= render_partial_view "marketplace/side_nav", Marketplace::SideNavView, data: data %>

    <div class="col-lg-9 mt-1 mb-4 float-lg-right">
      <% if marketplace_story %>
        <div class="MarketplaceAnnouncement rounded-1 d-sm-flex flex-items-center py-6 px-3 px-md-6 mb-3 position-relative text-center text-md-left">
          <div>
            <img src="<%= image_path "modules/marketplace/documentation.png" %>" alt="" class="MarketplaceAnnouncement-icon">
          </div>
          <div class="flex-auto px-4">
            <h3><%= marketplace_story.title %></h3>
            <p class="MarketplaceAnnouncement-description"><%= marketplace_story.description.truncate_words(30) %></p>
          </div>
          <div class="d-block text-center">
            <%= link_to "Read more", marketplace_story.url.to_s, class: "btn-mktg btn-outline-mktg", target: "_blank", data: { octo_click: "marketplace_blog_cta.clicked", octo_dimensions: "id:#{marketplace_story.database_id},title:#{marketplace_story.title}" } %>
          </div>
        </div>
      <% else %>
        <div class="MarketplaceAnnouncement rounded-1 d-sm-flex flex-items-center py-6 px-3 px-md-6 mb-6 position-relative text-center text-md-left">
          <div>
            <img src="<%= image_path "modules/marketplace/action-icon-white.png" %>" alt="" class="MarketplaceAnnouncement-icon">
          </div>
          <div class="flex-auto px-4">
            <h3>Introducing GitHub Actions</h3>
            <p class="MarketplaceAnnouncement-description">An entirely new way to automate your development workflow.</p>
          </div>
          <div class="d-block text-center">
            <%= link_to "Explore Actions", marketplace_actions_path, class: "btn-mktg btn-outline-mktg" %>
          </div>
        </div>
      <% end %>

      <%= render partial: "marketplaces/recommended_apps", locals: { data: data } %>

      <%= render partial: "marketplaces/trending", locals: { data: data } %>

      <% data.featured_categories.each do |category| %>
        <%= render partial: "marketplaces/featured_category", locals: {
          data: data,
          category: category,
          number_of_featured_items: number_of_featured_items,
        } %>
      <% end %>

    </div>

  </div>
  <%= render "marketplace/submit_app_cta" %>
</div>
