<%
options = ReminderDeliveryTime.days.keys.each_with_object({}) do |day, acc|
  acc[day] = {
    selected: selected.include?(day),
    css_class: ReminderDeliveryTime::WEEKDAYS.key?(day) ? "js-delivery-day-weekday" : "js-delivery-day-weekend"
  }
end
%>

<details class="details-reset details-overlay js-orgs-reminders-day-menu" id="delivery-day-menu" data-weekdays="Weekdays" data-weekends="Weekends" data-everyday="Every day" <%= "data-allow-blank " if local_assigns[:allow_blank] %>>
  <summary class="btn js-delivery-day-summary" data-default-label="None" title="None">
    <span class="js-delivery-day-summary-text"><%= summary_text || "None" %></span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu" role="menu">
    <div class="SelectMenu-modal">
      <div class="SelectMenu-list">
        <% options.each do |day, day_attrs| %>
          <label tabindex="0" class="SelectMenu-item" role="menuitemcheckbox" aria-checked="<%= day_attrs[:selected] %>">
            <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
            <input type="checkbox"
                   name="<%= form.object_name %>[days][]"
                   class="js-delivery-day-input <%= day_attrs[:css_class] %>"
                   <% if day_attrs[:selected] %>checked<% end %>
                   value="<%= day %>"
                   hidden> <%= day %>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
