<div class="js-repository-picker-result">
  <input type="hidden" name="reminder[tracked_repository_ids][]" value="<%= repository.id %>" class="js-selected-repository-field">
  <div class="mini-repo-list-item css-truncate pr-3">
    <%= octicon(repository.repo_type_icon, :class => 'repo-icon') %>
    <button type="button" value="<%= repository.id %>" class="float-right js-repository-picker-remove btn-link muted-link" aria-label="Remove <%= repository %>">
      <%= octicon("x") %>
    </button>
    <span class="repo-and-owner css-truncate-target">
      <span class="owner css-truncate-target" title="<%= repository.owner %>"><%= repository.owner %></span>/<span class="repo" title="<%= repository %>"><%= repository %></span>
    </span>
  </div>
</div>
