<%
if slack_workspaces.length == 1
  selected_slack_workspace ||= slack_workspaces.first
end
%>
<details class="details-reset details-overlay <%= local_assigns[:class] if local_assigns[:class].present? %>" id="orgs-slack-workspaces-menu">
  <summary class="btn" title="<%= selected_slack_workspace&.name || "Select workspace" %>">
    <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 16, class: "v-align-middle pr-1" %>
    <span data-menu-button>
      <%= selected_slack_workspace&.name || "Select workspace" %>
    </span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu" role="menu">
    <div class="SelectMenu-modal">
      <div class="SelectMenu-list">
        <% slack_workspaces.each do |slack_workspace| %>
          <label
            tabindex="0"
            class="SelectMenu-item"
            role="menuitemradio"
            aria-checked="<%= selected_slack_workspace&.id == slack_workspace.id %>"
          >
            <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
            <input
              type="radio"
              name="<%= personal ? "personal_reminder" : "reminder"%>[reminder_slack_workspace_id]"
              class="js-reminders-slack-workspace"
              <% if selected_slack_workspace&.id == slack_workspace.id %>
              checked
              <% end %>
              value="<%= slack_workspace.id %>"
              hidden
              data-title="<%= slack_workspace.name %>"
            >
            <span data-menu-button-text><%= slack_workspace.name %></span>
          </label>
        <% end %>
        <% if can_add_slack_workspace %>
          <a
            class="SelectMenu-item"
            href="<%= authorize_reminder_slack_workspace_path(remindable, personal: personal) %>"
          >
            <%= octicon "plus-small", width: 16, height: 16, class: "mr-2" %>
            <b>Add Slack workspace</b>
          </a>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
