<%graphql
  fragment Organization on Organization {
    teams(first: 25, query: $query, privacy: VISIBLE) {
      nodes {
        databaseId
        name
        description
      }
    }
  }
%>

<%
  org = org && Views::Reminders::Form::TeamAutocomplete::Organization.new(org)
%>

<% if has_errors %>
  <div class="select-menu-item disabled" data-empty="true">
    Error loading teams
  </div>
<% elsif org.teams.nodes.empty? %>
  <div class="select-menu-item disabled" data-empty="true">
    No teams found <% if query.present? %>matching <%= query %><% end %>
  </div>
<% else %>
  <% org.teams.nodes.each do |team| %>
    <%= render "reminders/form/team_selection", name: team.name, description: team.description, database_id: team.database_id, checked: false %>
  <% end %>
<% end %>
