<label class="SelectMenu-item js-team-selection" data-name="<%= name %>" tabindex="0" aria-checked="<%= checked %>" role="menuitemcheckbox">
  <%= octicon('check', class: 'SelectMenu-icon SelectMenu-icon--check', style: "min-width: 16px") %>
  <div class="select-menu-item-text">
    <input class="d-none js-team-selection-input" data-display-name="<%= name %>" <% if checked %>checked<% end %> type="checkbox" value="<%= database_id %>" name="reminder[team_ids][]">
    <div class="select-menu-item-heading"><%= name %></div>
    <div style="font-weight: 400"><%= description %></div>
  </div>
</label>
