<%
# Sort times from 6:00 AM to 5:30 AM.
display_times = ReminderDeliveryTime.times.sort_by { |_time, order| order }
display_times = display_times[12..-1] + display_times[0..12]
options = display_times.each_with_object({}) do |(time_name, _order), acc|
  acc[time_name] = {
    selected: selected.include?(time_name)
  }
end
%>

<details class="details-reset details-overlay js-orgs-reminders-time-menu" id="delivery-time-menu" <%= "data-allow-blank " if local_assigns[:allow_blank] %> >
  <summary class="btn js-delivery-time-summary" data-default-label="Select a time" title="Times">
    <span class="css-truncate css-truncate-target js-delivery-time-summary-text"
          style="max-width: 225px;">Select a time</span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu" role="menu">
    <div class="SelectMenu-modal">
      <div class="SelectMenu-list">
        <% options.each do |time, time_attrs| %>
          <label tabindex="0" class="SelectMenu-item" role="menuitemcheckbox" aria-checked="<%= time_attrs[:selected] %>">
            <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
            <input type="checkbox"
                  name="<%= form.object_name %>[times][]"
                  class="js-delivery-time-input"
                  <% if time_attrs[:selected] %>checked<% end %>
                  value="<%= time %>"
                  hidden> <%= time %>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
