<%
selected_timezone = ReminderScheduling.timezone_for(selected)
options = ReminderScheduling.timezone_options.map do |timezone|
  {
    text: "(GMT #{timezone.now.formatted_offset}) #{timezone.name}",
    value: timezone.name,
    selected: timezone == selected_timezone,
    browser_name: timezone.tzinfo.name,
  }
end
%>
<details class="details-reset details-overlay js-orgs-reminders-time-zone-menu pl-2" id="delivery-time-zone-menu">
  <summary class="btn" data-default-label="Time Zone" title="Time Zone">
    <span class="js-delivery-time-zone-summary-text">Select Time Zone</span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter">
    <div class="SelectMenu-modal">
      <div class="SelectMenu-filter">
        <input class="SelectMenu-input form-control js-filterable-field"
               id="time-zone-select-filter"
               type="text"
               placeholder="Filter"
               autocomplete="off"
               aria-label="Time Zone Filter">
      </div>
      <div role="menu" class="SelectMenu-list" data-filterable-for="time-zone-select-filter" data-filterable-type="fuzzy">
        <% options.each do |zone_attrs| %>
          <label tabindex="0" class="SelectMenu-item" role="menuitemcheckbox" aria-checked="<%= zone_attrs[:selected] %>">
            <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
            <input type="radio"
                  name="<%= form.object_name %>[time_zone_name]"
                  class="js-delivery-time-zone-input"
                  <% if zone_attrs[:selected] %>checked<% end %>
                  value="<%= zone_attrs[:value] %>"
                  data-display-name="<%= zone_attrs[:text] %>"
                  data-browser-name="<%= zone_attrs[:browser_name] %>"
                  hidden> <%= zone_attrs[:text] %>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
