<div class="form-checkbox integrations-install-target mb-4">
  <input
    id="reminder[repositories_target][all]"
    name="reminder[repositories_target]"
    value="all"
    type="radio"
    class="js-installation-repositories-radio"
    <%= "checked=\"checked\"" if view.repositories_target_selected?(:all) %>
  >
  <label for="reminder[repositories_target][all]">
    All repositories
    <p class="note text-small m-0 text-gray">
      <% if view.reminder.supports_private_repos? %>
        This applies to all current <i>and</i> future repositories.
      <% else %>
        This applies to all current <i>and</i> future public repositories.
      <% end %>
    </p>
  </label>
</div>

<div class="form-checkbox integrations-install-target clearfix">
  <input
    id="reminder[repositories_target][selected]"
    name="reminder[repositories_target]"
    value="selected"
    type="radio"
    class="js-select-repositories-radio js-installation-repositories-radio float-left"
    <%= "checked=\"checked\"" if view.repositories_target_selected?(:selected) %>
  >
  <label for="reminder[repositories_target][selected]">
    Only select repositories
  </label>

  <div class="integrations-repository-picker mt-2 position-relative js-integrations-install-repo-selection <% unless view.repositories_target_selected?(:selected) %>has-removed-contents<% end %>">
    <details class="select-menu js-apps-install-select-repositories-container details-reset details-overlay mb-3">
      <summary class="btn select-menu-button">
        <%= octicon('repo') %>
        <span>Select repositories</span>
      </summary>
      <details-menu class="select-menu-modal width-full position-absolute js-apps-install-select-repositories-menu" style="z-index: 99;">
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <remote-input
              aria-owns="repository-menu-list"
              src="<%= reminders_url_for(:repository_suggestions, id: view.reminder) %>">
              <input
                type="text"
                class="form-control"
                placeholder="Search for a repository"
                aria-label="Search for a repository"
                autocomplete="off"
                autofocus>
            </remote-input>
          </div>
        </div>
        <div class="select-menu-list" id="repository-menu-list"></div>
      </details-menu>
    </details>

    <div class="js-integration-total-repos text-small text-gray mb-3" <% if view.reminder.tracked_repositories.length == 0 %>hidden<% end %>>
      <% if view.reminder.tracked_repositories.length > 0 %>
        Selected <%= pluralize(view.reminder.tracked_repositories.length, "repository") %>.
      <% end %>
    </div>
    <div class="flash flash-warn js-max-repository-warning my-3 p-2" hidden>
      Finish installing to select more than
      <strong><%= IntegrationInstallationsController::MAX_REPOSITORIES_ON_INITIAL_INSTALL %></strong>
      repositories.
    </div>

    <div class="js-min-repository-error flash-error text-small" hidden>
      Select at least one repository.
    </div>

    <div class="integrations-select-repos js-integrations-install-repo-picked">
      <%= render partial: "reminders/form/repository_suggestion_selection", collection: view.reminder.tracked_repositories, as: :repository %>
    </div>
  </div>
</div>
