<% page_info \
    title: "Processing your files…",
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-clean-background blankslate-large blankslate-spacious js-manifest-ready-check"
      data-poll-url="<%= job_status_path(status.id) %>"
      data-redirect-url="<%= redirect_url %>">
    <h3>Processing your files…</h3>
    <p>This may take a few minutes to complete.</p>
    <%= image_tag "spinners/octocat-spinner-128.gif", :size => "64x64", :alt => "" %>
  </div>

  <div class="blankslate blankslate-clean-background blankslate-large blankslate-spacious js-manifest-ready-check-failed" hidden>
    <h3>Commit failed</h3>
    <p>Committing the files to the repository failed.</p>
    <a href="<%= repo_uploads_path(current_repository.owner, current_repository) %>" class="btn btn-primary">Try again</a>
  </div>
<% end %>
