<%graphql
  fragment Organization on Organization {
    team(slug: $slug) {
      name
      repositoriesResourcePath
      teamRepositoriesSuggestionsResourcePath
      repositoryToolbarActionsResourcePath
      viewerCanAdminister
      isLegacyAdminTeam
      repositoriesForCount: repositories(first: $first) {
        totalCount
      }
      ...Views::Orgs::TeamRepositories::List::Team
      ...Views::Orgs::Teams::RepositoriesToolbarActions::Team
    }
  }
%>

<% org = Views::Orgs::TeamRepositories::Container::Organization.new(org) %>
<% team = org.team %>

<div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= team.repository_toolbar_actions_resource_path.to_s %>" data-bulk-actions-parameter="repository_names">

  <%#= render :partial => "orgs/teams/team_banner", :locals => { :view => view }  %>
  <%# Probably want some sort of banner for when there are no repositories %>

  <div class="subnav org-toolbar org-toolbar-next">
    <%= form_tag team.repositories_resource_path.to_s, :method => :get,
          :class => "subnav-search float-left",
          :"data-autosearch-results-container" => "org-team-repositories" do %>
      <div class="auto-search-group">
        <input  class="form-control subnav-search-input input-contrast auto-search-input js-team-search-field" value="<%= params[:query] %>" type="text" name="query" placeholder="Find a repository…" aria-label="Find a repository" autocomplete="off" data-throttled-autosubmit>
        <%= octicon('search') %>
        <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
      </div>
    <% end %>
    <% if team.viewer_can_administer && !team.is_legacy_admin_team %>
      <%= render layout: "shared/details_dialog", locals: {
        button_class: "btn btn-primary float-right",
        button_text: "Add repository",
        ga_click: "Team, add repository, location:team repositories; text:Add repository",
        title: "Add repository to #{team.name}"
      } do %>
        <%= render partial: "orgs/team_repositories/add_repository_dialog",
            locals: {
            name: team.name,
            team_repo_path: team.repositories_resource_path.to_s,
            team_suggestion_path: team.team_repositories_suggestions_resource_path
          }
        %>
      <% end %>
    <% end %>
  </div>

  <div class="table-list-header table-list-header-next bulk-actions-header <% if team.viewer_can_administer %> js-sticky<% end %>">
    <div class="table-list-filters d-flex">
      <% if team.viewer_can_administer %>
        <div class="table-list-header-select-all">
          <input id="select-all-checkbox" type="checkbox" name="select-all-checkbox" data-check-all>
        </div>
        <div class="select-all-dropdown js-bulk-actions flex-auto">
          <%=
            render "orgs/teams/repositories_toolbar_actions",
              team: team,
              selected_repository_names: [],
              selected_repositories: []
          %>
        </div>
      <% else %>
        <span class="table-list-heading table-list-header-meta flex-auto">
          <%= "#{pluralize(team.repositories_for_count.total_count, "repository", "repositories")} in the #{team.name} team"  %>
        </span>
      <% end %>
    </div>
  </div>

  <div id="org-team-repositories" data-pjax-container>
    <%= render partial: "orgs/team_repositories/list", locals: { team: team } %>
  </div>
</div>
