<%graphql
  fragment Team on Team {
    name
    removeTeamRepositoriesResourcePath
  }
%>

<% team = Views::Orgs::TeamRepositories::DestroyTeamRepositoriesDialog::Team.new(team) %>

<% if inherited_selected %>
  <div class="flash flash-full flash-warn">
    <% if repositories.any? %>
      Access to repositories inherited from parent teams will not be affected by this action.
    <% else %>
      Access to repositories inherited from parent teams must be removed from those parent teams.
    <% end %>
  </div>
<% end %>

<% if repositories.any? %>
  <div class="Box-body overflow-auto">
    <p>The following repositories will be removed:</p>
    <ul class="border rounded-2 list-style-none">
      <% repositories.each do |repository| %>
        <li class="confirm-removal-list-item">
          <%= repository.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="Box-footer">
    <%= form_tag team.remove_team_repositories_resource_path.to_s, :method => :post do %>
      <% repositories.each do |repository| %>
        <input type="hidden" name="repository_ids[]" value="<%= repository.id %>">
      <% end %>
      <button type="submit" class="btn btn-block btn-danger">Remove repositories</button>
    <% end %>
  </div>
<% end %>
