<%# `view` is an instance of Orgs::TeamRepositories::SuggestionsView %>

<% view.suggestions.each do |repository| %>
  <li class="typeahead-result" role="option" data-autocomplete-value="<%= repository.name_with_owner %>">
    <%= octicon(repository.repo_type_icon) %>
    <strong class="repo-name"><%= repository.owner %> / <%= repository.name %></strong>
    <span class="repo-desc"><%= repository.description.presence || 'no description' %></span>
  </li>
<% end %>
