<%# erblint:disable DeprecatedCustomCss %>
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Verify email address</title>
<style media="all" type="text/css">
@media (min-width: 544px) {
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-justify-start {
    justify-content: flex-start !important;
  }
  .flex-sm-justify-end {
    justify-content: flex-end !important;
  }
  .flex-sm-justify-center {
    justify-content: center !important;
  }
  .flex-sm-justify-between {
    justify-content: space-between !important;
  }
  .flex-sm-justify-around {
    justify-content: space-around !important;
  }
  .flex-sm-items-start {
    align-items: flex-start !important;
  }
  .flex-sm-items-end {
    align-items: flex-end !important;
  }
  .flex-sm-items-center {
    align-items: center !important;
  }
  .flex-sm-items-baseline {
    align-items: baseline !important;
  }
  .flex-sm-items-stretch {
    align-items: stretch !important;
  }
  .flex-sm-content-start {
    align-content: flex-start !important;
  }
  .flex-sm-content-end {
    align-content: flex-end !important;
  }
  .flex-sm-content-center {
    align-content: center !important;
  }
  .flex-sm-content-between {
    align-content: space-between !important;
  }
  .flex-sm-content-around {
    align-content: space-around !important;
  }
  .flex-sm-content-stretch {
    align-content: stretch !important;
  }
  .flex-sm-auto {
    flex: 1 1 auto !important;
  }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-sm-self-auto {
    align-self: auto !important;
  }
  .flex-sm-self-start {
    align-self: flex-start !important;
  }
  .flex-sm-self-end {
    align-self: flex-end !important;
  }
  .flex-sm-self-center {
    align-self: center !important;
  }
  .flex-sm-self-baseline {
    align-self: baseline !important;
  }
  .flex-sm-self-stretch {
    align-self: stretch !important;
  }
  .flex-sm-item-equal {
    flex-grow: 1;
    flex-basis: 0;
  }
}


@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-justify-start {
    justify-content: flex-start !important;
  }
  .flex-md-justify-end {
    justify-content: flex-end !important;
  }
  .flex-md-justify-center {
    justify-content: center !important;
  }
  .flex-md-justify-between {
    justify-content: space-between !important;
  }
  .flex-md-justify-around {
    justify-content: space-around !important;
  }
  .flex-md-items-start {
    align-items: flex-start !important;
  }
  .flex-md-items-end {
    align-items: flex-end !important;
  }
  .flex-md-items-center {
    align-items: center !important;
  }
  .flex-md-items-baseline {
    align-items: baseline !important;
  }
  .flex-md-items-stretch {
    align-items: stretch !important;
  }
  .flex-md-content-start {
    align-content: flex-start !important;
  }
  .flex-md-content-end {
    align-content: flex-end !important;
  }
  .flex-md-content-center {
    align-content: center !important;
  }
  .flex-md-content-between {
    align-content: space-between !important;
  }
  .flex-md-content-around {
    align-content: space-around !important;
  }
  .flex-md-content-stretch {
    align-content: stretch !important;
  }
  .flex-md-auto {
    flex: 1 1 auto !important;
  }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-md-self-auto {
    align-self: auto !important;
  }
  .flex-md-self-start {
    align-self: flex-start !important;
  }
  .flex-md-self-end {
    align-self: flex-end !important;
  }
  .flex-md-self-center {
    align-self: center !important;
  }
  .flex-md-self-baseline {
    align-self: baseline !important;
  }
  .flex-md-self-stretch {
    align-self: stretch !important;
  }
  .flex-md-1 {
    flex: 1 !important;
  }
}


@media (min-width: 1012px) {
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-justify-start {
    justify-content: flex-start !important;
  }
  .flex-lg-justify-end {
    justify-content: flex-end !important;
  }
  .flex-lg-justify-center {
    justify-content: center !important;
  }
  .flex-lg-justify-between {
    justify-content: space-between !important;
  }
  .flex-lg-justify-around {
    justify-content: space-around !important;
  }
  .flex-lg-items-start {
    align-items: flex-start !important;
  }
  .flex-lg-items-end {
    align-items: flex-end !important;
  }
  .flex-lg-items-center {
    align-items: center !important;
  }
  .flex-lg-items-baseline {
    align-items: baseline !important;
  }
  .flex-lg-items-stretch {
    align-items: stretch !important;
  }
  .flex-lg-content-start {
    align-content: flex-start !important;
  }
  .flex-lg-content-end {
    align-content: flex-end !important;
  }
  .flex-lg-content-center {
    align-content: center !important;
  }
  .flex-lg-content-between {
    align-content: space-between !important;
  }
  .flex-lg-content-around {
    align-content: space-around !important;
  }
  .flex-lg-content-stretch {
    align-content: stretch !important;
  }
  .flex-lg-auto {
    flex: 1 1 auto !important;
  }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-lg-self-auto {
    align-self: auto !important;
  }
  .flex-lg-self-start {
    align-self: flex-start !important;
  }
  .flex-lg-self-end {
    align-self: flex-end !important;
  }
  .flex-lg-self-center {
    align-self: center !important;
  }
  .flex-lg-self-baseline {
    align-self: baseline !important;
  }
  .flex-lg-self-stretch {
    align-self: stretch !important;
  }
  .flex-lg-item-equal {
    flex-grow: 1;
    flex-basis: 0;
  }
}


@media (min-width: 1280px) {
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-justify-start {
    justify-content: flex-start !important;
  }
  .flex-xl-justify-end {
    justify-content: flex-end !important;
  }
  .flex-xl-justify-center {
    justify-content: center !important;
  }
  .flex-xl-justify-between {
    justify-content: space-between !important;
  }
  .flex-xl-justify-around {
    justify-content: space-around !important;
  }
  .flex-xl-items-start {
    align-items: flex-start !important;
  }
  .flex-xl-items-end {
    align-items: flex-end !important;
  }
  .flex-xl-items-center {
    align-items: center !important;
  }
  .flex-xl-items-baseline {
    align-items: baseline !important;
  }
  .flex-xl-items-stretch {
    align-items: stretch !important;
  }
  .flex-xl-content-start {
    align-content: flex-start !important;
  }
  .flex-xl-content-end {
    align-content: flex-end !important;
  }
  .flex-xl-content-center {
    align-content: center !important;
  }
  .flex-xl-content-between {
    align-content: space-between !important;
  }
  .flex-xl-content-around {
    align-content: space-around !important;
  }
  .flex-xl-content-stretch {
    align-content: stretch !important;
  }
  .flex-xl-auto {
    flex: 1 1 auto !important;
  }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-xl-self-auto {
    align-self: auto !important;
  }
  .flex-xl-self-start {
    align-self: flex-start !important;
  }
  .flex-xl-self-end {
    align-self: flex-end !important;
  }
  .flex-xl-self-center {
    align-self: center !important;
  }
  .flex-xl-self-baseline {
    align-self: baseline !important;
  }
  .flex-xl-self-stretch {
    align-self: stretch !important;
  }
  .flex-xl-item-equal {
    flex-grow: 1;
    flex-basis: 0;
  }
}


@media (min-width: 544px) {
  .float-sm-left {
    float: left !important;
  }
  .float-sm-right {
    float: right !important;
  }
  .float-sm-none {
    float: none !important;
  }
}


@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }
  .float-md-right {
    float: right !important;
  }
  .float-md-none {
    float: none !important;
  }
}


@media (min-width: 1012px) {
  .float-lg-left {
    float: left !important;
  }
  .float-lg-right {
    float: right !important;
  }
  .float-lg-none {
    float: none !important;
  }
}


@media (min-width: 1280px) {
  .float-xl-left {
    float: left !important;
  }
  .float-xl-right {
    float: right !important;
  }
  .float-xl-none {
    float: none !important;
  }
}


@media (min-width: 544px) {
  .direction-sm-rtl {
    direction: rtl !important;
  }
  .direction-sm-ltr {
    direction: ltr !important;
  }
}


@media (min-width: 768px) {
  .direction-md-rtl {
    direction: rtl !important;
  }
  .direction-md-ltr {
    direction: ltr !important;
  }
}


@media (min-width: 1012px) {
  .direction-lg-rtl {
    direction: rtl !important;
  }
  .direction-lg-ltr {
    direction: ltr !important;
  }
}


@media (min-width: 1280px) {
  .direction-xl-rtl {
    direction: rtl !important;
  }
  .direction-xl-ltr {
    direction: ltr !important;
  }
}


@media (min-width: 544px) {
  .m-sm-0 {
    margin: 0 !important;
  }
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mr-sm-0 {
    margin-right: 0 !important;
  }
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .ml-sm-0 {
    margin-left: 0 !important;
  }
  .mt-sm-n0 {
    margin-top: -0 !important;
  }
  .mr-sm-n0 {
    margin-right: -0 !important;
  }
  .mb-sm-n0 {
    margin-bottom: -0 !important;
  }
  .ml-sm-n0 {
    margin-left: -0 !important;
  }
  .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


@media (min-width: 544px) {
  .m-sm-1 {
    margin: 4px !important;
  }
  .mt-sm-1 {
    margin-top: 4px !important;
  }
  .mr-sm-1 {
    margin-right: 4px !important;
  }
  .mb-sm-1 {
    margin-bottom: 4px !important;
  }
  .ml-sm-1 {
    margin-left: 4px !important;
  }
  .mt-sm-n1 {
    margin-top: -4px !important;
  }
  .mr-sm-n1 {
    margin-right: -4px !important;
  }
  .mb-sm-n1 {
    margin-bottom: -4px !important;
  }
  .ml-sm-n1 {
    margin-left: -4px !important;
  }
  .mx-sm-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .my-sm-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}


@media (min-width: 544px) {
  .m-sm-2 {
    margin: 8px !important;
  }
  .mt-sm-2 {
    margin-top: 8px !important;
  }
  .mr-sm-2 {
    margin-right: 8px !important;
  }
  .mb-sm-2 {
    margin-bottom: 8px !important;
  }
  .ml-sm-2 {
    margin-left: 8px !important;
  }
  .mt-sm-n2 {
    margin-top: -8px !important;
  }
  .mr-sm-n2 {
    margin-right: -8px !important;
  }
  .mb-sm-n2 {
    margin-bottom: -8px !important;
  }
  .ml-sm-n2 {
    margin-left: -8px !important;
  }
  .mx-sm-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
  }
  .my-sm-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}


@media (min-width: 544px) {
  .m-sm-3 {
    margin: 16px !important;
  }
  .mt-sm-3 {
    margin-top: 16px !important;
  }
  .mr-sm-3 {
    margin-right: 16px !important;
  }
  .mb-sm-3 {
    margin-bottom: 16px !important;
  }
  .ml-sm-3 {
    margin-left: 16px !important;
  }
  .mt-sm-n3 {
    margin-top: -16px !important;
  }
  .mr-sm-n3 {
    margin-right: -16px !important;
  }
  .mb-sm-n3 {
    margin-bottom: -16px !important;
  }
  .ml-sm-n3 {
    margin-left: -16px !important;
  }
  .mx-sm-3 {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
  .my-sm-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}


@media (min-width: 544px) {
  .m-sm-4 {
    margin: 24px !important;
  }
  .mt-sm-4 {
    margin-top: 24px !important;
  }
  .mr-sm-4 {
    margin-right: 24px !important;
  }
  .mb-sm-4 {
    margin-bottom: 24px !important;
  }
  .ml-sm-4 {
    margin-left: 24px !important;
  }
  .mt-sm-n4 {
    margin-top: -24px !important;
  }
  .mr-sm-n4 {
    margin-right: -24px !important;
  }
  .mb-sm-n4 {
    margin-bottom: -24px !important;
  }
  .ml-sm-n4 {
    margin-left: -24px !important;
  }
  .mx-sm-4 {
    margin-right: 24px !important;
    margin-left: 24px !important;
  }
  .my-sm-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}


@media (min-width: 544px) {
  .m-sm-5 {
    margin: 32px !important;
  }
  .mt-sm-5 {
    margin-top: 32px !important;
  }
  .mr-sm-5 {
    margin-right: 32px !important;
  }
  .mb-sm-5 {
    margin-bottom: 32px !important;
  }
  .ml-sm-5 {
    margin-left: 32px !important;
  }
  .mt-sm-n5 {
    margin-top: -32px !important;
  }
  .mr-sm-n5 {
    margin-right: -32px !important;
  }
  .mb-sm-n5 {
    margin-bottom: -32px !important;
  }
  .ml-sm-n5 {
    margin-left: -32px !important;
  }
  .mx-sm-5 {
    margin-right: 32px !important;
    margin-left: 32px !important;
  }
  .my-sm-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}


@media (min-width: 544px) {
  .m-sm-6 {
    margin: 40px !important;
  }
  .mt-sm-6 {
    margin-top: 40px !important;
  }
  .mr-sm-6 {
    margin-right: 40px !important;
  }
  .mb-sm-6 {
    margin-bottom: 40px !important;
  }
  .ml-sm-6 {
    margin-left: 40px !important;
  }
  .mt-sm-n6 {
    margin-top: -40px !important;
  }
  .mr-sm-n6 {
    margin-right: -40px !important;
  }
  .mb-sm-n6 {
    margin-bottom: -40px !important;
  }
  .ml-sm-n6 {
    margin-left: -40px !important;
  }
  .mx-sm-6 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .my-sm-6 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}


@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }
  .mt-md-0 {
    margin-top: 0 !important;
  }
  .mr-md-0 {
    margin-right: 0 !important;
  }
  .mb-md-0 {
    margin-bottom: 0 !important;
  }
  .ml-md-0 {
    margin-left: 0 !important;
  }
  .mt-md-n0 {
    margin-top: -0 !important;
  }
  .mr-md-n0 {
    margin-right: -0 !important;
  }
  .mb-md-n0 {
    margin-bottom: -0 !important;
  }
  .ml-md-n0 {
    margin-left: -0 !important;
  }
  .mx-md-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-md-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


@media (min-width: 768px) {
  .m-md-1 {
    margin: 4px !important;
  }
  .mt-md-1 {
    margin-top: 4px !important;
  }
  .mr-md-1 {
    margin-right: 4px !important;
  }
  .mb-md-1 {
    margin-bottom: 4px !important;
  }
  .ml-md-1 {
    margin-left: 4px !important;
  }
  .mt-md-n1 {
    margin-top: -4px !important;
  }
  .mr-md-n1 {
    margin-right: -4px !important;
  }
  .mb-md-n1 {
    margin-bottom: -4px !important;
  }
  .ml-md-n1 {
    margin-left: -4px !important;
  }
  .mx-md-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .my-md-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}


@media (min-width: 768px) {
  .m-md-2 {
    margin: 8px !important;
  }
  .mt-md-2 {
    margin-top: 8px !important;
  }
  .mr-md-2 {
    margin-right: 8px !important;
  }
  .mb-md-2 {
    margin-bottom: 8px !important;
  }
  .ml-md-2 {
    margin-left: 8px !important;
  }
  .mt-md-n2 {
    margin-top: -8px !important;
  }
  .mr-md-n2 {
    margin-right: -8px !important;
  }
  .mb-md-n2 {
    margin-bottom: -8px !important;
  }
  .ml-md-n2 {
    margin-left: -8px !important;
  }
  .mx-md-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
  }
  .my-md-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}


@media (min-width: 768px) {
  .m-md-3 {
    margin: 16px !important;
  }
  .mt-md-3 {
    margin-top: 16px !important;
  }
  .mr-md-3 {
    margin-right: 16px !important;
  }
  .mb-md-3 {
    margin-bottom: 16px !important;
  }
  .ml-md-3 {
    margin-left: 16px !important;
  }
  .mt-md-n3 {
    margin-top: -16px !important;
  }
  .mr-md-n3 {
    margin-right: -16px !important;
  }
  .mb-md-n3 {
    margin-bottom: -16px !important;
  }
  .ml-md-n3 {
    margin-left: -16px !important;
  }
  .mx-md-3 {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
  .my-md-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}


@media (min-width: 768px) {
  .m-md-4 {
    margin: 24px !important;
  }
  .mt-md-4 {
    margin-top: 24px !important;
  }
  .mr-md-4 {
    margin-right: 24px !important;
  }
  .mb-md-4 {
    margin-bottom: 24px !important;
  }
  .ml-md-4 {
    margin-left: 24px !important;
  }
  .mt-md-n4 {
    margin-top: -24px !important;
  }
  .mr-md-n4 {
    margin-right: -24px !important;
  }
  .mb-md-n4 {
    margin-bottom: -24px !important;
  }
  .ml-md-n4 {
    margin-left: -24px !important;
  }
  .mx-md-4 {
    margin-right: 24px !important;
    margin-left: 24px !important;
  }
  .my-md-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}


@media (min-width: 768px) {
  .m-md-5 {
    margin: 32px !important;
  }
  .mt-md-5 {
    margin-top: 32px !important;
  }
  .mr-md-5 {
    margin-right: 32px !important;
  }
  .mb-md-5 {
    margin-bottom: 32px !important;
  }
  .ml-md-5 {
    margin-left: 32px !important;
  }
  .mt-md-n5 {
    margin-top: -32px !important;
  }
  .mr-md-n5 {
    margin-right: -32px !important;
  }
  .mb-md-n5 {
    margin-bottom: -32px !important;
  }
  .ml-md-n5 {
    margin-left: -32px !important;
  }
  .mx-md-5 {
    margin-right: 32px !important;
    margin-left: 32px !important;
  }
  .my-md-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}


@media (min-width: 768px) {
  .m-md-6 {
    margin: 40px !important;
  }
  .mt-md-6 {
    margin-top: 40px !important;
  }
  .mr-md-6 {
    margin-right: 40px !important;
  }
  .mb-md-6 {
    margin-bottom: 40px !important;
  }
  .ml-md-6 {
    margin-left: 40px !important;
  }
  .mt-md-n6 {
    margin-top: -40px !important;
  }
  .mr-md-n6 {
    margin-right: -40px !important;
  }
  .mb-md-n6 {
    margin-bottom: -40px !important;
  }
  .ml-md-n6 {
    margin-left: -40px !important;
  }
  .mx-md-6 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .my-md-6 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-0 {
    margin: 0 !important;
  }
  .mt-lg-0 {
    margin-top: 0 !important;
  }
  .mr-lg-0 {
    margin-right: 0 !important;
  }
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }
  .ml-lg-0 {
    margin-left: 0 !important;
  }
  .mt-lg-n0 {
    margin-top: -0 !important;
  }
  .mr-lg-n0 {
    margin-right: -0 !important;
  }
  .mb-lg-n0 {
    margin-bottom: -0 !important;
  }
  .ml-lg-n0 {
    margin-left: -0 !important;
  }
  .mx-lg-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-lg-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-1 {
    margin: 4px !important;
  }
  .mt-lg-1 {
    margin-top: 4px !important;
  }
  .mr-lg-1 {
    margin-right: 4px !important;
  }
  .mb-lg-1 {
    margin-bottom: 4px !important;
  }
  .ml-lg-1 {
    margin-left: 4px !important;
  }
  .mt-lg-n1 {
    margin-top: -4px !important;
  }
  .mr-lg-n1 {
    margin-right: -4px !important;
  }
  .mb-lg-n1 {
    margin-bottom: -4px !important;
  }
  .ml-lg-n1 {
    margin-left: -4px !important;
  }
  .mx-lg-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .my-lg-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-2 {
    margin: 8px !important;
  }
  .mt-lg-2 {
    margin-top: 8px !important;
  }
  .mr-lg-2 {
    margin-right: 8px !important;
  }
  .mb-lg-2 {
    margin-bottom: 8px !important;
  }
  .ml-lg-2 {
    margin-left: 8px !important;
  }
  .mt-lg-n2 {
    margin-top: -8px !important;
  }
  .mr-lg-n2 {
    margin-right: -8px !important;
  }
  .mb-lg-n2 {
    margin-bottom: -8px !important;
  }
  .ml-lg-n2 {
    margin-left: -8px !important;
  }
  .mx-lg-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
  }
  .my-lg-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-3 {
    margin: 16px !important;
  }
  .mt-lg-3 {
    margin-top: 16px !important;
  }
  .mr-lg-3 {
    margin-right: 16px !important;
  }
  .mb-lg-3 {
    margin-bottom: 16px !important;
  }
  .ml-lg-3 {
    margin-left: 16px !important;
  }
  .mt-lg-n3 {
    margin-top: -16px !important;
  }
  .mr-lg-n3 {
    margin-right: -16px !important;
  }
  .mb-lg-n3 {
    margin-bottom: -16px !important;
  }
  .ml-lg-n3 {
    margin-left: -16px !important;
  }
  .mx-lg-3 {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
  .my-lg-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-4 {
    margin: 24px !important;
  }
  .mt-lg-4 {
    margin-top: 24px !important;
  }
  .mr-lg-4 {
    margin-right: 24px !important;
  }
  .mb-lg-4 {
    margin-bottom: 24px !important;
  }
  .ml-lg-4 {
    margin-left: 24px !important;
  }
  .mt-lg-n4 {
    margin-top: -24px !important;
  }
  .mr-lg-n4 {
    margin-right: -24px !important;
  }
  .mb-lg-n4 {
    margin-bottom: -24px !important;
  }
  .ml-lg-n4 {
    margin-left: -24px !important;
  }
  .mx-lg-4 {
    margin-right: 24px !important;
    margin-left: 24px !important;
  }
  .my-lg-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-5 {
    margin: 32px !important;
  }
  .mt-lg-5 {
    margin-top: 32px !important;
  }
  .mr-lg-5 {
    margin-right: 32px !important;
  }
  .mb-lg-5 {
    margin-bottom: 32px !important;
  }
  .ml-lg-5 {
    margin-left: 32px !important;
  }
  .mt-lg-n5 {
    margin-top: -32px !important;
  }
  .mr-lg-n5 {
    margin-right: -32px !important;
  }
  .mb-lg-n5 {
    margin-bottom: -32px !important;
  }
  .ml-lg-n5 {
    margin-left: -32px !important;
  }
  .mx-lg-5 {
    margin-right: 32px !important;
    margin-left: 32px !important;
  }
  .my-lg-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}


@media (min-width: 1012px) {
  .m-lg-6 {
    margin: 40px !important;
  }
  .mt-lg-6 {
    margin-top: 40px !important;
  }
  .mr-lg-6 {
    margin-right: 40px !important;
  }
  .mb-lg-6 {
    margin-bottom: 40px !important;
  }
  .ml-lg-6 {
    margin-left: 40px !important;
  }
  .mt-lg-n6 {
    margin-top: -40px !important;
  }
  .mr-lg-n6 {
    margin-right: -40px !important;
  }
  .mb-lg-n6 {
    margin-bottom: -40px !important;
  }
  .ml-lg-n6 {
    margin-left: -40px !important;
  }
  .mx-lg-6 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .my-lg-6 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-0 {
    margin: 0 !important;
  }
  .mt-xl-0 {
    margin-top: 0 !important;
  }
  .mr-xl-0 {
    margin-right: 0 !important;
  }
  .mb-xl-0 {
    margin-bottom: 0 !important;
  }
  .ml-xl-0 {
    margin-left: 0 !important;
  }
  .mt-xl-n0 {
    margin-top: -0 !important;
  }
  .mr-xl-n0 {
    margin-right: -0 !important;
  }
  .mb-xl-n0 {
    margin-bottom: -0 !important;
  }
  .ml-xl-n0 {
    margin-left: -0 !important;
  }
  .mx-xl-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .my-xl-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-1 {
    margin: 4px !important;
  }
  .mt-xl-1 {
    margin-top: 4px !important;
  }
  .mr-xl-1 {
    margin-right: 4px !important;
  }
  .mb-xl-1 {
    margin-bottom: 4px !important;
  }
  .ml-xl-1 {
    margin-left: 4px !important;
  }
  .mt-xl-n1 {
    margin-top: -4px !important;
  }
  .mr-xl-n1 {
    margin-right: -4px !important;
  }
  .mb-xl-n1 {
    margin-bottom: -4px !important;
  }
  .ml-xl-n1 {
    margin-left: -4px !important;
  }
  .mx-xl-1 {
    margin-right: 4px !important;
    margin-left: 4px !important;
  }
  .my-xl-1 {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-2 {
    margin: 8px !important;
  }
  .mt-xl-2 {
    margin-top: 8px !important;
  }
  .mr-xl-2 {
    margin-right: 8px !important;
  }
  .mb-xl-2 {
    margin-bottom: 8px !important;
  }
  .ml-xl-2 {
    margin-left: 8px !important;
  }
  .mt-xl-n2 {
    margin-top: -8px !important;
  }
  .mr-xl-n2 {
    margin-right: -8px !important;
  }
  .mb-xl-n2 {
    margin-bottom: -8px !important;
  }
  .ml-xl-n2 {
    margin-left: -8px !important;
  }
  .mx-xl-2 {
    margin-right: 8px !important;
    margin-left: 8px !important;
  }
  .my-xl-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-3 {
    margin: 16px !important;
  }
  .mt-xl-3 {
    margin-top: 16px !important;
  }
  .mr-xl-3 {
    margin-right: 16px !important;
  }
  .mb-xl-3 {
    margin-bottom: 16px !important;
  }
  .ml-xl-3 {
    margin-left: 16px !important;
  }
  .mt-xl-n3 {
    margin-top: -16px !important;
  }
  .mr-xl-n3 {
    margin-right: -16px !important;
  }
  .mb-xl-n3 {
    margin-bottom: -16px !important;
  }
  .ml-xl-n3 {
    margin-left: -16px !important;
  }
  .mx-xl-3 {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
  .my-xl-3 {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-4 {
    margin: 24px !important;
  }
  .mt-xl-4 {
    margin-top: 24px !important;
  }
  .mr-xl-4 {
    margin-right: 24px !important;
  }
  .mb-xl-4 {
    margin-bottom: 24px !important;
  }
  .ml-xl-4 {
    margin-left: 24px !important;
  }
  .mt-xl-n4 {
    margin-top: -24px !important;
  }
  .mr-xl-n4 {
    margin-right: -24px !important;
  }
  .mb-xl-n4 {
    margin-bottom: -24px !important;
  }
  .ml-xl-n4 {
    margin-left: -24px !important;
  }
  .mx-xl-4 {
    margin-right: 24px !important;
    margin-left: 24px !important;
  }
  .my-xl-4 {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-5 {
    margin: 32px !important;
  }
  .mt-xl-5 {
    margin-top: 32px !important;
  }
  .mr-xl-5 {
    margin-right: 32px !important;
  }
  .mb-xl-5 {
    margin-bottom: 32px !important;
  }
  .ml-xl-5 {
    margin-left: 32px !important;
  }
  .mt-xl-n5 {
    margin-top: -32px !important;
  }
  .mr-xl-n5 {
    margin-right: -32px !important;
  }
  .mb-xl-n5 {
    margin-bottom: -32px !important;
  }
  .ml-xl-n5 {
    margin-left: -32px !important;
  }
  .mx-xl-5 {
    margin-right: 32px !important;
    margin-left: 32px !important;
  }
  .my-xl-5 {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
  }
}


@media (min-width: 1280px) {
  .m-xl-6 {
    margin: 40px !important;
  }
  .mt-xl-6 {
    margin-top: 40px !important;
  }
  .mr-xl-6 {
    margin-right: 40px !important;
  }
  .mb-xl-6 {
    margin-bottom: 40px !important;
  }
  .ml-xl-6 {
    margin-left: 40px !important;
  }
  .mt-xl-n6 {
    margin-top: -40px !important;
  }
  .mr-xl-n6 {
    margin-right: -40px !important;
  }
  .mb-xl-n6 {
    margin-bottom: -40px !important;
  }
  .ml-xl-n6 {
    margin-left: -40px !important;
  }
  .mx-xl-6 {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .my-xl-6 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-0 {
    padding: 0 !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .pr-sm-0 {
    padding-right: 0 !important;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pl-sm-0 {
    padding-left: 0 !important;
  }
  .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


@media (min-width: 544px) {
  .p-sm-1 {
    padding: 4px !important;
  }
  .pt-sm-1 {
    padding-top: 4px !important;
  }
  .pr-sm-1 {
    padding-right: 4px !important;
  }
  .pb-sm-1 {
    padding-bottom: 4px !important;
  }
  .pl-sm-1 {
    padding-left: 4px !important;
  }
  .px-sm-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  .py-sm-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-2 {
    padding: 8px !important;
  }
  .pt-sm-2 {
    padding-top: 8px !important;
  }
  .pr-sm-2 {
    padding-right: 8px !important;
  }
  .pb-sm-2 {
    padding-bottom: 8px !important;
  }
  .pl-sm-2 {
    padding-left: 8px !important;
  }
  .px-sm-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  .py-sm-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-3 {
    padding: 16px !important;
  }
  .pt-sm-3 {
    padding-top: 16px !important;
  }
  .pr-sm-3 {
    padding-right: 16px !important;
  }
  .pb-sm-3 {
    padding-bottom: 16px !important;
  }
  .pl-sm-3 {
    padding-left: 16px !important;
  }
  .px-sm-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
  .py-sm-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-4 {
    padding: 24px !important;
  }
  .pt-sm-4 {
    padding-top: 24px !important;
  }
  .pr-sm-4 {
    padding-right: 24px !important;
  }
  .pb-sm-4 {
    padding-bottom: 24px !important;
  }
  .pl-sm-4 {
    padding-left: 24px !important;
  }
  .px-sm-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  .py-sm-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-5 {
    padding: 32px !important;
  }
  .pt-sm-5 {
    padding-top: 32px !important;
  }
  .pr-sm-5 {
    padding-right: 32px !important;
  }
  .pb-sm-5 {
    padding-bottom: 32px !important;
  }
  .pl-sm-5 {
    padding-left: 32px !important;
  }
  .px-sm-5 {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }
  .py-sm-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}


@media (min-width: 544px) {
  .p-sm-6 {
    padding: 40px !important;
  }
  .pt-sm-6 {
    padding-top: 40px !important;
  }
  .pr-sm-6 {
    padding-right: 40px !important;
  }
  .pb-sm-6 {
    padding-bottom: 40px !important;
  }
  .pl-sm-6 {
    padding-left: 40px !important;
  }
  .px-sm-6 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .py-sm-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}


@media (min-width: 768px) {
  .p-md-0 {
    padding: 0 !important;
  }
  .pt-md-0 {
    padding-top: 0 !important;
  }
  .pr-md-0 {
    padding-right: 0 !important;
  }
  .pb-md-0 {
    padding-bottom: 0 !important;
  }
  .pl-md-0 {
    padding-left: 0 !important;
  }
  .px-md-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .py-md-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


@media (min-width: 768px) {
  .p-md-1 {
    padding: 4px !important;
  }
  .pt-md-1 {
    padding-top: 4px !important;
  }
  .pr-md-1 {
    padding-right: 4px !important;
  }
  .pb-md-1 {
    padding-bottom: 4px !important;
  }
  .pl-md-1 {
    padding-left: 4px !important;
  }
  .px-md-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  .py-md-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}


@media (min-width: 768px) {
  .p-md-2 {
    padding: 8px !important;
  }
  .pt-md-2 {
    padding-top: 8px !important;
  }
  .pr-md-2 {
    padding-right: 8px !important;
  }
  .pb-md-2 {
    padding-bottom: 8px !important;
  }
  .pl-md-2 {
    padding-left: 8px !important;
  }
  .px-md-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  .py-md-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}


@media (min-width: 768px) {
  .p-md-3 {
    padding: 16px !important;
  }
  .pt-md-3 {
    padding-top: 16px !important;
  }
  .pr-md-3 {
    padding-right: 16px !important;
  }
  .pb-md-3 {
    padding-bottom: 16px !important;
  }
  .pl-md-3 {
    padding-left: 16px !important;
  }
  .px-md-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
  .py-md-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
}


@media (min-width: 768px) {
  .p-md-4 {
    padding: 24px !important;
  }
  .pt-md-4 {
    padding-top: 24px !important;
  }
  .pr-md-4 {
    padding-right: 24px !important;
  }
  .pb-md-4 {
    padding-bottom: 24px !important;
  }
  .pl-md-4 {
    padding-left: 24px !important;
  }
  .px-md-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  .py-md-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}


@media (min-width: 768px) {
  .p-md-5 {
    padding: 32px !important;
  }
  .pt-md-5 {
    padding-top: 32px !important;
  }
  .pr-md-5 {
    padding-right: 32px !important;
  }
  .pb-md-5 {
    padding-bottom: 32px !important;
  }
  .pl-md-5 {
    padding-left: 32px !important;
  }
  .px-md-5 {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }
  .py-md-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}


@media (min-width: 768px) {
  .p-md-6 {
    padding: 40px !important;
  }
  .pt-md-6 {
    padding-top: 40px !important;
  }
  .pr-md-6 {
    padding-right: 40px !important;
  }
  .pb-md-6 {
    padding-bottom: 40px !important;
  }
  .pl-md-6 {
    padding-left: 40px !important;
  }
  .px-md-6 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .py-md-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-0 {
    padding: 0 !important;
  }
  .pt-lg-0 {
    padding-top: 0 !important;
  }
  .pr-lg-0 {
    padding-right: 0 !important;
  }
  .pb-lg-0 {
    padding-bottom: 0 !important;
  }
  .pl-lg-0 {
    padding-left: 0 !important;
  }
  .px-lg-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .py-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-1 {
    padding: 4px !important;
  }
  .pt-lg-1 {
    padding-top: 4px !important;
  }
  .pr-lg-1 {
    padding-right: 4px !important;
  }
  .pb-lg-1 {
    padding-bottom: 4px !important;
  }
  .pl-lg-1 {
    padding-left: 4px !important;
  }
  .px-lg-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  .py-lg-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-2 {
    padding: 8px !important;
  }
  .pt-lg-2 {
    padding-top: 8px !important;
  }
  .pr-lg-2 {
    padding-right: 8px !important;
  }
  .pb-lg-2 {
    padding-bottom: 8px !important;
  }
  .pl-lg-2 {
    padding-left: 8px !important;
  }
  .px-lg-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  .py-lg-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-3 {
    padding: 16px !important;
  }
  .pt-lg-3 {
    padding-top: 16px !important;
  }
  .pr-lg-3 {
    padding-right: 16px !important;
  }
  .pb-lg-3 {
    padding-bottom: 16px !important;
  }
  .pl-lg-3 {
    padding-left: 16px !important;
  }
  .px-lg-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
  .py-lg-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-4 {
    padding: 24px !important;
  }
  .pt-lg-4 {
    padding-top: 24px !important;
  }
  .pr-lg-4 {
    padding-right: 24px !important;
  }
  .pb-lg-4 {
    padding-bottom: 24px !important;
  }
  .pl-lg-4 {
    padding-left: 24px !important;
  }
  .px-lg-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  .py-lg-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-5 {
    padding: 32px !important;
  }
  .pt-lg-5 {
    padding-top: 32px !important;
  }
  .pr-lg-5 {
    padding-right: 32px !important;
  }
  .pb-lg-5 {
    padding-bottom: 32px !important;
  }
  .pl-lg-5 {
    padding-left: 32px !important;
  }
  .px-lg-5 {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }
  .py-lg-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}


@media (min-width: 1012px) {
  .p-lg-6 {
    padding: 40px !important;
  }
  .pt-lg-6 {
    padding-top: 40px !important;
  }
  .pr-lg-6 {
    padding-right: 40px !important;
  }
  .pb-lg-6 {
    padding-bottom: 40px !important;
  }
  .pl-lg-6 {
    padding-left: 40px !important;
  }
  .px-lg-6 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .py-lg-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-0 {
    padding: 0 !important;
  }
  .pt-xl-0 {
    padding-top: 0 !important;
  }
  .pr-xl-0 {
    padding-right: 0 !important;
  }
  .pb-xl-0 {
    padding-bottom: 0 !important;
  }
  .pl-xl-0 {
    padding-left: 0 !important;
  }
  .px-xl-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .py-xl-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-1 {
    padding: 4px !important;
  }
  .pt-xl-1 {
    padding-top: 4px !important;
  }
  .pr-xl-1 {
    padding-right: 4px !important;
  }
  .pb-xl-1 {
    padding-bottom: 4px !important;
  }
  .pl-xl-1 {
    padding-left: 4px !important;
  }
  .px-xl-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  .py-xl-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-2 {
    padding: 8px !important;
  }
  .pt-xl-2 {
    padding-top: 8px !important;
  }
  .pr-xl-2 {
    padding-right: 8px !important;
  }
  .pb-xl-2 {
    padding-bottom: 8px !important;
  }
  .pl-xl-2 {
    padding-left: 8px !important;
  }
  .px-xl-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  .py-xl-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-3 {
    padding: 16px !important;
  }
  .pt-xl-3 {
    padding-top: 16px !important;
  }
  .pr-xl-3 {
    padding-right: 16px !important;
  }
  .pb-xl-3 {
    padding-bottom: 16px !important;
  }
  .pl-xl-3 {
    padding-left: 16px !important;
  }
  .px-xl-3 {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
  .py-xl-3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-4 {
    padding: 24px !important;
  }
  .pt-xl-4 {
    padding-top: 24px !important;
  }
  .pr-xl-4 {
    padding-right: 24px !important;
  }
  .pb-xl-4 {
    padding-bottom: 24px !important;
  }
  .pl-xl-4 {
    padding-left: 24px !important;
  }
  .px-xl-4 {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  .py-xl-4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-5 {
    padding: 32px !important;
  }
  .pt-xl-5 {
    padding-top: 32px !important;
  }
  .pr-xl-5 {
    padding-right: 32px !important;
  }
  .pb-xl-5 {
    padding-bottom: 32px !important;
  }
  .pl-xl-5 {
    padding-left: 32px !important;
  }
  .px-xl-5 {
    padding-right: 32px !important;
    padding-left: 32px !important;
  }
  .py-xl-5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}


@media (min-width: 1280px) {
  .p-xl-6 {
    padding: 40px !important;
  }
  .pt-xl-6 {
    padding-top: 40px !important;
  }
  .pr-xl-6 {
    padding-right: 40px !important;
  }
  .pb-xl-6 {
    padding-bottom: 40px !important;
  }
  .pl-xl-6 {
    padding-left: 40px !important;
  }
  .px-xl-6 {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .py-xl-6 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}


@media (min-width: 544px) {
  .p-responsive {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
}


@media (min-width: 1012px) {
  .p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}


@media (min-width: 768px) {
  .h1 {
    font-size: 32px !important;
  }
}


@media (min-width: 768px) {
  .h2 {
    font-size: 24px !important;
  }
}


@media (min-width: 768px) {
  .h3 {
    font-size: 20px !important;
  }
}


@media (min-width: 768px) {
  .f1 {
    font-size: 32px !important;
  }
}


@media (min-width: 768px) {
  .f2 {
    font-size: 24px !important;
  }
}


@media (min-width: 768px) {
  .f3 {
    font-size: 20px !important;
  }
}


@media (min-width: 768px) {
  .f4 {
    font-size: 16px !important;
  }
}


@media (min-width: 768px) {
  .f00-light {
    font-size: 48px !important;
  }
}


@media (min-width: 768px) {
  .f0-light {
    font-size: 40px !important;
  }
}


@media (min-width: 768px) {
  .f1-light {
    font-size: 32px !important;
  }
}


@media (min-width: 768px) {
  .f2-light {
    font-size: 24px !important;
  }
}


@media (min-width: 768px) {
  .f3-light {
    font-size: 20px !important;
  }
}


@media (min-width: 544px) {
  .text-sm-right {
    text-align: right !important;
  }
  .text-sm-left {
    text-align: left !important;
  }
  .text-sm-center {
    text-align: center !important;
  }
}


@media (min-width: 768px) {
  .text-md-right {
    text-align: right !important;
  }
  .text-md-left {
    text-align: left !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}


@media (min-width: 1012px) {
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}


@media (min-width: 1280px) {
  .text-xl-right {
    text-align: right !important;
  }
  .text-xl-left {
    text-align: left !important;
  }
  .text-xl-center {
    text-align: center !important;
  }
}


@media (min-width: 544px) {
  .d-sm-table {
    display: table !important;
  }
  .d-sm-table-cell {
    display: table-cell !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .d-sm-inline {
    display: inline !important;
  }
  .d-sm-inline-block {
    display: inline-block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
  .d-sm-none {
    display: none !important;
  }
}


@media (min-width: 768px) {
  .d-md-table {
    display: table !important;
  }
  .d-md-table-cell {
    display: table-cell !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-inline {
    display: inline !important;
  }
  .d-md-inline-block {
    display: inline-block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
  .d-md-none {
    display: none !important;
  }
}


@media (min-width: 1012px) {
  .d-lg-table {
    display: table !important;
  }
  .d-lg-table-cell {
    display: table-cell !important;
  }
  .d-lg-block {
    display: block !important;
  }
  .d-lg-inline {
    display: inline !important;
  }
  .d-lg-inline-block {
    display: inline-block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  .d-lg-none {
    display: none !important;
  }
}


@media (min-width: 1280px) {
  .d-xl-table {
    display: table !important;
  }
  .d-xl-table-cell {
    display: table-cell !important;
  }
  .d-xl-block {
    display: block !important;
  }
  .d-xl-inline {
    display: inline !important;
  }
  .d-xl-inline-block {
    display: inline-block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
  .d-xl-none {
    display: none !important;
  }
}


@media (max-width: 544px) {
  .hide-sm {
    display: none !important;
  }
}


@media (min-width: 544px) and (max-width: 768px) {
  .hide-md {
    display: none !important;
  }
}


@media (min-width: 768px) and (max-width: 1012px) {
  .hide-lg {
    display: none !important;
  }
}


@media (min-width: 1012px) {
  .hide-xl {
    display: none !important;
  }
}


@media only screen and (max-width: 620px) {
  table[class=body] h1,
  table[class=body] h2,
  table[class=body] h3,
  table[class=body] h4 {
    font-weight: 600 !important;
  }
  table[class=body] h1 {
    font-size: 24px !important;
  }
  table[class=body] h2 {
    font-size: 20px !important;
  }
  table[class=body] h3 {
    font-size: 16px !important;
  }
  table[class=body] .lead {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  table[class=body] .container {
    padding: 16px !important;
    width: 100% !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    display: block !important;
  }
  table[class=body] .header-padded,
  table[class=body] .body-padded {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
</head>

<body style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #24292e; height: 100% !important; line-height: 1.5; font-size: 14px; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
	<tr>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
		<td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 24px; width: 580px;" width="580" valign="top">
			<div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">


<span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">To secure your GitHub account, we just need to verify your email address: <%= mail_to @email.email, @email.email, :class => "plaintext" %>.</span>

<h1 class="text-normal" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; line-height: 1.25; margin: 0 0 10px; margin-bottom: 30px; font-size: 20px; font-weight: 400 !important; color: #586069; word-break: normal;">
  Almost done, <strong class="text-gray-dark" style="color: #24292e !important;">@<%= @user %></strong>!
  <% if @user.must_verify_email? %>
    To complete your GitHub sign up,
  <% else %>
    To secure your GitHub account,
  <% end %>
  we just need to verify your email address: <strong class="text-gray-dark" style="color: #24292e !important;"><%= @email.email %></strong>.
</h1>

<table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; margin: 0; margin-bottom: 30px;" width="100%">
  <tr>
    <td align="" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top">
      <table cellpadding="0" cellspacing="0" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
        <tr>
          <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; background-color: #0366d6; border-radius: 5px; text-align: center;" valign="top" bgcolor="#0366d6" align="center">
            <%= link_to 'Verify email address', @cta_tracking_url, style: 'box-sizing: border-box; border-color: #0366d6; text-decoration: none; background-color: #0366d6; border: solid 1px #0366d6; border-radius: 5px; color: #ffffff; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; cursor: pointer;' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
  <% if @user.must_verify_email? %>
    Once verified, you can start using all of GitHub's features to explore, build, and share projects.
  <% else %>
    This will let you receive notifications and password resets from GitHub.
  <% end %>
</p>

<p class="f6 text-gray" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px; color: #586069 !important; font-size: 12px !important;">Button not working? Paste the following link into your browser: <%= link_to @cta_url, @cta_tracking_url.to_s, style: 'box-sizing: border-box; color: #0366d6; text-decoration: none; word-break: break-all;' %></p>

<p class="f6 text-gray" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px; color: #586069 !important; font-size: 12px !important;">You’re receiving this email because you recently created a new GitHub account or added a new email address. If this wasn’t you, please ignore this email.</p>


				<div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
					<hr class="footer-hr" style="height: 0; overflow: visible; margin-top: 24px; border: 0; border-top: 1px solid #e1e4e8; color: #959da5; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
		      <div class="footer-links" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px;">
		        <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #959da5; font-size: 12px; line-height: 18px;">
							<a href="https://github.com/settings/emails" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Email preferences</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-privacy-policy/" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a> &middot;
							<a href="https://github.com/login" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Sign into GitHub</a>
						</p>
		      </div>
				</div>
			</div>

		</td>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
	</tr>
</table>

</body>
</html>
