<%# erblint:disable DeprecatedCustomCss %>
<table style="width: 100%;">
  <tr>
    <td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block;">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">
        <h1 class="h0" style="color: #323232 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 1.25; margin: 10px 0 10px; font-size: 24px; margin-bottom: 24px;">
          Your usage report for <%= @export.billable_owner.name %> is ready
        </h1>

        <div style="border: 1px solid #E1E4E8; border-radius: 3px; padding: 40px;">

          <div style="width: 100%;text-align: center;">
            <img src="<%= @image_url %>/billing/document.png" width="56" height="56" alt="GitHub export" style="-ms-interpolation-mode: bicubic; max-width: 100%; border: 0; display: block; margin: 0 auto; margin-bottom: 24px; float: none;">
          </div>

          <h1 class="h0 center" style="color: #323232 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; line-height: 1.25; margin: 10px 0 10px; font-size: 20px; margin-bottom: 18px;">
            Usage report for <%= @export.starts_on.strftime("%D") %> - <%= @export.ends_on.strftime("%D") %>
          </h1>

          <p class="center" style="text-align: center; margin-bottom: 24px;">
            This report features the usage of GitHub Actions, GitHub Packages and their shared storage.
          </p>

          <a href="<%= GitHub.url %><%= path_for_export %>" style="box-sizing: border-box; border-color: #0366d6; text-decoration: none; background-color: #0366d6; border: solid 1px #0366d6; border-radius: 5px; color: #ffffff; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 13px 20px; cursor: pointer; color: #fff !important; width: 40%; text-align: center; display: block; margin: 0 auto;">
            Download report
          </a>
        </div>
      </div> <!-- END "border" div -->

      <div style="color: #6A737D; margin-top: 24px;line-height: 1.6;">
        You are receiving this because you requested a report of usage from Billing on the <strong><%= @export.billable_owner.name %></strong> GitHub account.
      </div>
    </td>
  </tr>
</table>
