<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Third-party application access policy" %>

<%= render layout: "orgs/settings/layout" do %>
  <div class="boxed-group oauth-application-whitelist <%= org_whitelist_selectable_class %>">
    <h3>Third-party application access policy</h3>
    <div class="boxed-group-inner">
      <% if current_organization.restricts_oauth_applications? %>
        <p>
          Policy: <strong>Access restricted</strong> <%= octicon("check") %>
        </p>
        <p>
          Only approved applications can access data in this organization. Applications owned by <strong><%= current_organization %></strong> always have access.
        </p>
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Remove restrictions",
          button_class: "btn btn-danger",
          title: "Are you sure?",
        } do %>
          <div class="flash flash-full flash-warn">
            You’re about to remove all third-party application restrictions. Please read this carefully.
          </div>
          <div class="Box-body">
            <p>Removing third-party application restrictions will immediately give member authorized applications access to private data in the <strong><%= current_organization %></strong> organization.</p>
            <p class="mb-0">Please be sure you want to do this.</p>
          </div>
          <div class="Box-footer">
            <%= form_tag org_application_access_path(current_organization), "method" => :put do %>
              <%= hidden_field_tag "restrict_access", "off" %>
              <button type="submit" class="btn btn-block btn-danger">
                Yes, remove application restrictions
              </button>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>
          Policy: <strong>No restrictions</strong> <%= octicon("alert") %>
        </p>
        <p>
          All applications authorized by organization members have access to <strong><%= current_organization %></strong>’s data.
        </p>
        <%= link_to "Setup application access restrictions", oauth_application_policy_confirm_path(current_organization), :class => "btn" %>
      <% end %>
      <% if current_organization.restricts_oauth_applications? %>
        <% if @pending_requests.blank? && @approved_requests.blank? && @denied_requests.blank? %>
          <hr class="bleed-flush">
          <h4>No pending requests</h4>
          <p>
            As members request access for specific applications, those requests will be listed here for your approval.
            <% if current_user.oauth_accesses.third_party.any? %>
              You can start by browsing <a href="<%= settings_user_applications_path %>#authorized">your own authorized applications</a>.
            <% end %>
          </p>
        <% else %>
          <ul class="boxed-group-list">
            <% @pending_requests.each do |request| %>
            <li>
              <div class="float-right request-indicator">
                <% if request.requestor.present? %>Approval requested by <%= link_to request.requestor, user_path(request.requestor), :class => "requestor" %> &#8212; <% end %>
                <%= link_to "Review", org_application_approval_path(current_organization, request.application) %>
              </div>
              <%= oauth_application_logo(request.application, 20, :class => "avatar float-left") %>
              <span class="request-info js-details-container Details">
                <strong title="<%= request.application.name %>"><%= truncate(request.application.name, length: 140) %></strong><% unless request.application.description.blank? %> <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span> <span class="application-description"><%= request.application.description %></span><% end %>
              </span>
            </li>
            <% end %>
            <% @approved_requests.each do |request| %>
            <li>
              <span class="float-right request-indicator">
                <span class="approved-request">
                  <%= octicon("check") %> Approved</span> &#8212; <%= link_to org_application_approval_path(current_organization, request.application), :class => "edit-link" do %>
                    <%= octicon("pencil", :"aria-label" => "Update policy") %>
                  <% end %>
              </span>
              <%= oauth_application_logo(request.application, 20, :class => "avatar float-left") %>
              <span class="request-info js-details-container Details">
                <strong title="<%= request.application.name %>"><%= truncate(request.application.name, length: 140) %></strong><% unless request.application.description.blank? %> <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span> <span class="application-description"><%= request.application.description %></span><% end %>
              </span>
            </li>
            <% end %>
            <% @denied_requests.each do |request| %>
            <li>
              <span class="float-right request-indicator">
                <span class="denied-request">
                  <%= octicon("x") %> Denied</span> &#8212; <%= link_to org_application_approval_path(current_organization, request.application), :class => "edit-link" do %>
                    <%= octicon("pencil", :"aria-label" => "Update policy") %>
                  <% end %>
              </span>
              <%= oauth_application_logo(request.application, 20, :class => "avatar float-left") %>
              <span class="request-info js-details-container Details">
                <strong title="<%= request.application.name %>"><%= truncate(request.application.name, length: 140) %></strong><% unless request.application.description.blank? %> <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span> <span class="application-description"><%= request.application.description %></span><% end %>
              </span>
            </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
      <p class="help">
        <%= octicon("question") %>
        When authorized, applications can act on behalf of organization members. Your access policy determines which applications can access data in your organization. <a href="<%= GitHub.help_url %>/articles/about-third-party-application-restrictions/">Read more about third-party access and organizations.</a>
      </p>
    </div>
  </div>
<% end %>
