<% page_info :title => "Third-party application access policy" %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render_partial_view "orgs/header", Orgs::HeaderView,
  :organization => current_organization,
  :selected_nav_item => :settings %>

  <div class="container-md px-3">
    <p class="restrict-oauth-access-info"><a href="<%= GitHub.help_url %>/articles/about-third-party-application-restrictions/">Third-party application restrictions</a> create an extra layer of security that allows owners to better control how applications access data in their organization.</p>
    <div class="gutter d-flex flex-shrink-0">
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-1.png", :width => "234", alt: "Whitelisted applications" %>
        <p>Organization owners maintain a whitelist of trusted applications.</p>
        <p>Applications owned by <strong><%= current_organization %></strong> are always trusted.</p>
      </div>
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-2.png", :width => "234", alt: "Requesting approval" %>
        <p>Members can request organization approval for an application.</p>
        <p>Approval requests notify organization owners, allowing them to deny or approve application access.</p>
      </div>
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-3.png", :width => "234", alt: "Trusted application permissions" %>
        <p>Only trusted applications can:</p>
        <ul class="restrict-oauth-access-list">
          <li>Access private organization data via the API or SSH.</li>
          <li>Change public organization data.</li>
          <li>Receive webhooks for private events.</li>
        </ul>
      </div>
    </div>
    <hr>
    <%= form_tag org_application_access_path(current_organization), method: :put, class: "d-flex flex-items-center"  do %>
    <%= hidden_field_tag "restrict_access", "on" %>
    <button class="btn btn-primary restrict-oauth-access-button" type="submit">Restrict third-party application access</button>
    <p class="note">Restricting access will immediately block all unapproved applications and will disable SSH keys created before February 2014. <a href="<%= GitHub.help_url %>/articles/about-third-party-application-restrictions/#setting-up-third-party-application-restrictions">Read more at GitHub Help.</a></p>
    <% end %>
  </div>
</div>
