<div class="d-flex flex-justify-center mb-4">
  <%= render GitHub::OcticonComponent.new(icon: "check", size: :large, color: "green") %>
</div>

<h2 class="text-center mb-2">Congratulations, you're all set!</h2>
<p class="text-center">Your device is now connected.</p>
