<%= form_tag bootstrap_instance_configuration_path(:policies), { method: :patch }.merge(test_selector_data_hash("policies_form")) do %>
  <%= render "bootstrap_instance/policies_form", business: business %>
  <div class="mt-3">
    <%= button_tag "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", bootstrap_instance_configuration_path, class: "btn" %>
  </div>
<% end %>
