<%= form_for(:saml, url: settings_saml_provider_enterprise_path(this_business.slug, anchor: "saml-settings"),
  method: :put, html: { class: "js-business-saml-provider-settings-form", novalidate: true }.merge(test_selector_data_hash("saml_idp_form"))) do |f| %>
  <%= render "bootstrap_instance/saml_idp_form", business: business, f: f, params: params %>
  <div class="mt-3">
    <%= button_tag "Save", name: "save_settings", value: "1", class: "btn btn-primary" %>
    <%= link_to "Cancel", bootstrap_instance_configuration_path, class: "btn" %>
  </div>
<% end %>
