<%# rubocop:disable Lint/InstanceVariable %>
<%= render layout: "stafftools/stafftools" do %>
  <% unless GitHub.private_instance? %>
    <div class="boxed-group">
      <h3 <%= test_selector "storage-section" %>>Storage</h3>
      <div class="boxed-group-inner clearfix">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th>Host</th>
              <th>Online</th>
              <th>Embargoed</th>
              <th>Non voting</th>
              <th>Disk free</th>
              <th>Disk used</th>
            </tr>
          </thead>
          <tbody>
          <% @fileservers.each do |fileserver| -%>
            <% partition = @partitions[fileserver.id] -%>
            <tr>
              <td><%= fileserver.host %></td>
              <td><%= fileserver.online? ? :yes : :no %></td>
              <td><%= fileserver.embargoed? ? :yes : :no %></td>
              <td><%= fileserver.non_voting? ? :yes : :no %></td>
            <% if partition -%>
              <td><%= number_to_human_size partition.disk_free %></td>
              <td><%= number_to_human_size partition.disk_used %></td>
            <% else -%>
              <td>-</td>
              <td>-</td>
            <% end -%>
            </tr>
          <% end -%>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3><label for="oid">Find object</label></h3>
    <div class="boxed-group-inner clearfix">
      <%= form_tag "", method: :get do %>
        <div class="form-group">
          <%= text_field_tag :oid, nil, class: "short", placeholder: "Find by OID" %>
          <button type="submit" class="btn">Search</button>
        </div>
      <% end %>
    </div>
  </div>

    <div class="boxed-group">
      <h3>Repository LFS management</h3>
      <% if @media_blobs.empty? %>
          <div class="boxed-group-inner">
            <p>We couldn’t find any LFS objects in any repository</p>
          </div>
      <% else %>
          <div class="boxed-group-inner seamless">
            <table class="es-index-management boxed-group-table">
              <tr>
                <th>Repository name</th>
                <th>Disk usage</th>
                <th>Link</th>
              </tr>
              <% @media_blobs.each do |media_blob| %>
                <tr>
                  <td><%= media_blob.repository_network.root.name_with_owner %></td>
                  <td><%= number_to_human_size(media_blob.total_size) %></td>
                  <td><%= link_to("View stats", stafftools_repository_large_files_path(media_blob.repository_network.root.owner.login, media_blob.repository_network.root.name)) %></td>
                </tr>
              <% end %>
            </table>
          </div>
      <% end %>
    </div>
<% end -%>
