<%graphql
  fragment TeamDiscussion on TeamDiscussion {
    id
    number
    websocket
    comments(
      fromComment: $fromComment,
      first: $firstNComments,
      last: $lastNComments,
      after: $afterComment,
      before: $beforeComment) {

      pageInfo {
        endCursor
      }
    }
  }
%>
<%
  discussion = Views::Orgs::TeamDiscussionComments::CursorInput::TeamDiscussion.new(team_discussion)
%>

<input
  id="cursor_input_<%= discussion.number %>"
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(discussion.websocket) %>"
  data-url="<%= show_node_partial_path(path: "orgs/team_discussion_comments/cursor_input", id: discussion.id, variables: { after: discussion.comments.page_info.end_cursor } ) %>"
  type="hidden"
  name="after_comment"
  value="<%= discussion.comments.page_info.end_cursor %>">
