<%graphql
  fragment TeamDiscussion on TeamDiscussion {
    number
    websocket
    commentsResourcePath
    comments(
      fromComment: $fromComment,
      first: $firstNComments,
      last: $lastNComments,
      after: $afterComment,
      before: $beforeComment) {

      edges {
        node {
          ...Views::Orgs::TeamDiscussionComments::TeamDiscussionComment::TeamDiscussionComment
        }
      }
      pageInfo {
        endCursor
        hasNextPage
      }
    }
  }
%>
<%
  discussion = Views::Orgs::TeamDiscussionComments::List::TeamDiscussion.new(discussion)
  page_info = discussion.comments.page_info
%>

<% discussion.comments.edges.each do |edge| %>
  <%= render partial: "orgs/team_discussion_comments/team_discussion_comment", locals: { comment: edge.node } %>
<% end %>

<% unless page_info.has_next_page? %>
  <div
    id="comment_timeline_marker_<%= discussion.number.to_s %>"
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(discussion.websocket) %>"
    data-url="<%= discussion.comments_resource_path.to_s %>?after_comment=<%= page_info.end_cursor %>">
  </div>
<% end %>
