<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:counter TooltipCounter 1 %>

<% if index_view.failed? -%>
  <%= render partial: "notifications/unavailable" %>
<% elsif index_view.inbox_zero? && !display_saved_threads %>
  <%= render partial: "notifications/inbox_zero" %>
<% else -%>
  <div class="notifications-list">

  <% if display_saved_threads %>
    <% if index_view.unauthorized_ip_whitelisting_targets.any? || index_view.unauthorized_saml_targets.any? %>
      <% if index_view.unauthorized_ip_whitelisting_targets.any? %>
        <div class="Box mb-3 bg-gray-light" <%= test_selector("saved-threads-ip-whitelisting-box") %>>
          <% index_view.unauthorized_ip_whitelisting_targets.each do |restricted_target| %>
            <div class="border-bottom p-3 d-flex flex-items-center">
              <div>
                <%= octicon "shield-lock", height: 16, class: "text-gray mr-3" %>
              </div>
              <p class="note">
                <%= restricted_ip_whitelisting_target_hint(restricted_target, text: "to view saved notification threads") %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if index_view.unauthorized_saml_targets.any? %>
        <div class="Box mb-3 bg-gray-light" <%= test_selector("saved-threads-sso-box") %>>
          <% index_view.unauthorized_saml_targets.each do |restricted_target| %>
            <div class="border-bottom p-3 d-flex flex-items-center">
              <div>
                <%= octicon "shield-lock", height: 16, class: "text-gray mr-3" %>
              </div>
              <p class="note">
                <%= restricted_sso_target_link(restricted_target, return_to: request.url, text: "to view saved notification threads") %>
              </p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: "notifications/saved", locals: { viewer: viewer, index_view: index_view } %>
    <% end %>
  <% end %>

  <% unless index_view.filter.saved %>
    <% index_view.each_list_view do |list_view| -%>
      <% if list_view.is_a?(Notifications::AllowedIpNeededView) %>
        <%= render "notifications/allowed_ip_needed", view: list_view %>
      <% elsif list_view.is_a?(Notifications::ExternalIdentitySessionNeededView) %>
        <%= render "notifications/external_identity_session_needed", view: list_view %>
      <% else %>
        <div class="boxed-group flush js-notifications-browser">
          <% if !index_view.display_read? %>
            <%= form_tag mark_notifications_path, class: "boxed-group-action js-mark-visible-as-read" do -%>
              <% list_view.each do |view| -%>
                <%= hidden_field_tag "ids[]", view.summary_id, id: nil %>
              <% end -%>
              <p class="text-green js-mark-visible-as-read-success notification-success">Marked <strong><%= pluralize list_view.size, 'notification' %></strong> as read.</p>

              <button type="submit" class="mark-all-as-read css-truncate tooltipped tooltipped-w" aria-label="Mark all <%= list_view.name %> notifications as read">
                <%= octicon("check") %>
              </button>
            <% end -%>
          <% end %>
          <h3>
            <%= link_to display_list_name(list_view.list), list_view.path, title: list_view.name_with_owner, class: "css-truncate css-truncate-target notifications-repo-link" %>
          </h3>
          <ul class="boxed-group-inner list-group notifications"
            <%= "data-discussion-hovercards-enabled" if discussions_enabled? %>
            data-issue-and-pr-hovercards-enabled>
            <% if list_view.more? -%>
              <li class="list-group-item confirmation js-mark-as-read-confirmation">
                  <%= form_tag mark_list_notifications_path(list_view.list_owner, list_view.list, list_type: list_view.list.class.name.downcase), class: 'js-mark-remaining-as-read' do -%>
                    <p>
                      <button type="submit" class="btn btn-sm">
                        Mark remaining <%= pluralize number_with_delimiter(list_view.unshown_count), 'notification' %> as read?
                      </button>
                    </p>
                    <%= hidden_field_tag :mark_by, index_view.mark_time, id: nil %>
                  <% end -%>
                  <p class="js-mark-remaining-as-read-confirmation d-none">
                    Marked remaining <strong><%= pluralize number_with_delimiter(list_view.unshown_count), 'notification' %></strong> as read.
                  </p>
              </li>
            <% end -%>

            <% list_view.each do |view| -%>
              <%= render partial: "notifications/summary", locals:
              { view: view,
                saved: index_view.saved_summary?(view.summary_id)
              }  %>
            <% end -%>

            <% if list_view.more? && !index_view.current_list?(list_view.list) %>
              <li class="list-group-item notifications-more js-navigation-item">
                <a href="<%= list_view.more_url %>">
                  <%= pluralize(number_with_delimiter(list_view.unshown_count), "more notification") %> for <%= display_list_name(list_view.list) %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="paginate-container">
          <% if list_view.show_pagination_links? %>
            <%= raw_paginate(list_view.total_count, GitHub.newsies.web.per_page, index_view.filter.page) %>
          <% end %>
        </div>
      <% end %>
    <% end -%>
  <% end %>
  </div>
<% end -%>
