<div class="Box mb-md-4 mb-3">
  <div class="Box-header d-flex py-2">
    <div class="Box-title flex-auto">
      <%= subscription_type.to_s.humanize(capitalize: true) %>
      <%= render Primer::CounterComponent.new(count: total_repository_count) %>
    </div>

    <% if subscription_type == :watching && total_repository_count > NotificationsController::SUBSCRIPTIONS_PER_PAGE %>
      <%= render(layout: "shared/details_dialog", locals: { button_class: "btn btn-sm btn-danger", button_text: "Unwatch all", title: "Are you sure?" }) do %>
        <div class="Box-body">
          <p>You will stop receiving notifications for the <%= pluralize(number_with_delimiter(total_repository_count), "repository") %> you are watching.</p>
          <%= form_tag unwatch_all_path do %>
            <button type="submit" class="btn btn-block btn-danger" autofocus>Stop watching all repositories</button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <ul class="standalone repo-list">
    <% repositories.each do |repo| %>
      <li class="Box-row py-2 d-flex flex-items-center">
        <div class="d-flex flex-items-center flex-1">
          <%= octicon(repo.public? ? "repo" : "lock", class: "repo-icon flex-shrink-0") %>
          <a class="ml-1 wb-break-all pr-lg-0 pr-3" href="<%= repository_path(repo) %>" title="<%= repo.nwo %>"><%= repo.nwo %></a>
        </div>

        <div class="float-right position-relative">
          <%=
            render(
              partial: 'notifications/subscription_menu',
              locals: {
                repository: {
                  id: repo.id,
                  name: repo.name,
                  owner: repo.owner.login,
                  public: repo.public,
                },
                subscription_type: subscription_type,
                show_watcher_count: false,
                inside_flash_alert: false
              }
            )
          %>
        </div>
      </li>
    <% end %>
  </ul>

  <% if total_repository_count > NotificationsController::SUBSCRIPTIONS_PER_PAGE %>
    <div class="Box-footer text-center">
      <%= paginate_subscriptions total_repository_count, class: "d-inline-block v-align-middle pagination" %>
    </div>
  <% end %>
</div>
