<%# erblint:counter TooltipCounter 2 %>
<%= form_tag graphql_path("DeleteSavedNotificationThread"), class: "js-delete-saved-notification-thread", hidden: !saved do %>
    <button type="submit" aria-label="Remove saved notification" class="btn-link tooltipped tooltipped-w">
      <%= octicon("bookmark", :class => 'text-blue') %>
    </button>
    <input type="hidden" name="variables[id]" value="<%= notification_thread_global_relay_id %>">
<% end %>

<%= form_tag graphql_path("CreateSavedNotificationThread"), class: "js-create-saved-notification-thread", hidden: saved do %>
  <button type="submit" aria-label="Save for later" class="btn-link tooltipped tooltipped-w">
    <%= octicon("bookmark", class: 'unsaved-notification') %>
  </button>
  <input type="hidden" name="variables[id]" value="<%= notification_thread_global_relay_id %>">
<% end %>
