<%
  # `view` is an instance of `Notifications::ThreadSubscriptionView`
  channels = [
  GitHub::WebSocket::Channels.list_subscription(current_user, view.list),
  GitHub::WebSocket::Channels.thread_subscription(current_user, view.list, view.thread_id)
] %>
<div class="thread-subscription-status js-socket-channel js-updatable-content"
  data-replace-remote-form-target
  data-channel="<%= channels.map { |c| live_update_view_channel(c) }.join(" ") %>"
  data-url="<%= view.websocket_url %>"
>
  <% if view.custom_notifications_supported_for_thread? %>
    <%= render partial: "notifications/configure_thread_subscription_dialog", locals: { view: view } %>
  <% elsif view.show_notifications_header? %>
    <div class="discussion-sidebar-heading text-bold mt-n1 py-1 mb-1">
      Notifications
    </div>
  <% end %>
  <% if view.notifications_disabled_for_thread? %>
    <div class="thread-subscribe-form">
      <span class="disabled btn btn-block btn-sm thread-subscribe-button">
        <%= octicon(:unmute) %> Subscribe
      </span>
    </div>
  <% else %>
    <%= form_tag view.form_path, "data-replace-remote-form": true, class: "thread-subscribe-form" do -%>
      <input type="hidden" name="repository_id" value="<%= view.list.id %>">
      <input type="hidden" name="thread_id" value="<%= view.thread_id %>">
      <input type="hidden" name="thread_class" value="<%= view.thread_class %>">
      <input type="hidden" name="id" value="<%= view.form_action %>">
      <button type="submit" class="btn btn-block btn-sm thread-subscribe-button" data-disable-with <% if view.thread_status == :ignoring_list %>disabled<% end %>>
        <%= octicon(view.octicon_symbol) %> <%= view.button_text %>
      </button>
    <% end %>
  <% end %>
  <% if view.display_explanation_text %>
    <p class="reason text-small text-gray"><%= view.explanation_text %></p>
  <% end %>
</div>
