<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<div class="container">
  <div class="boxed-group page-content">
    <% if @view.success? -%>
    <h3>Unsubscribed</h3>

    <div class="boxed-group-inner markdown-body">
      <p>You’ve been unsubscribed from the thread.</p>
    </div>
    <% else -%>
      <%= render "notifications/unavailable" %>
    <% end -%>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "notifications" %>
<% end %>
