<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Notifications status · #{current_repository.name_with_owner}" %>

<div class="container-md my-4 px-md-6 px-3">
<% if @subscription_response.failed? %>
  <%= render "notifications/unavailable" %>
<% else %>
  <h2>
    Your
    <%= link_to current_repository.name_with_owner, repository_path(current_repository) %>
    notifications status
  </h2>

  <p>A notification is created every time someone discusses something inside of the repository — Pull Requests, Issues, Comments, and Commit discussions. Whether you are watching the repository, not watching it, or ignoring it determines which notifications you receive.</p>

  <hr>

  <%= form_tag notifications_subscribe_path, 'data-autosubmit' => true, :class => 'js-notifications-subscription' do -%>
    <%= hidden_field_tag :repository_id, current_repository.id %>

    <%= image_tag "spinners/octocat-spinner-64.gif", :size => "32x32", :class => "spinner js-spinner", :style => "display:none", :alt => "" %>

    <div class="form-checkbox">
      <label class="d-inline-block" <%= test_selector("repo-subscription-label") %>>
        <%= radio_button_tag :do, 'included', @subscription.participation_only? %>
        Not watching
        <span class="note">
          You will only receive notifications when you participate or are @mentioned.
        </span>
      </label>
    </div>

    <div class="form-checkbox">
      <label class="d-inline-block" <%= test_selector("repo-subscription-label") %>>
        <%= radio_button_tag :do, 'release_only', @subscription.thread_type_only?(Release) %>
        Releases only
        <span class="note">
          You will only receive notifications for new releases, or when you participate or are @mentioned.
        </span>
      </label>
    </div>

    <div class="form-checkbox">
      <label class="d-inline-block" <%= test_selector("repo-subscription-label") %>>
        <%= radio_button_tag :do, 'subscribed', @subscription.subscribed? %>
        Watching
        <span class="note">
          You will receive all notifications for this repository.
        </span>
      </label>
    </div>

    <div class="form-checkbox">
      <label class="d-inline-block" <%= test_selector("repo-subscription-label") %>>
        <%= radio_button_tag :do, 'ignore', @subscription.ignored? %>
        Ignored
        <span class="note">
          You will not receive any notifications for this repository.
        </span>
      </label>
    </div>

    <noscript>
      <button class="btn btn-primary" type="submit">Save subscription</button>
    </noscript>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "notifications" %>
<% end %>
