<%# erblint:disable LinkHasHref %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "PR ##{this_pull.number}", :selected_link => :issues %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Pull requests",
            gh_stafftools_repository_issues_path(current_repository) %>
      / Pull request #<%= this_pull.number %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>State</th>
        <td>
          <%= this_pull.state %>
          <% if this_pull.locked? %>
            &ndash; discussion locked
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Creator</th>
        <td>
          <% if this_pull.user %>
            <%= link_to this_pull.user, stafftools_user_path(this_pull.user) %>
            <% if this_pull.user.spammy? %>
              &ndash;
              <%= octicon("alert", :class => "error") %>
              flagged as spam
            <% end %>
          <% else %>
            account has been deleted
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>
          <%= link_to \
                pluralize((this_pull.issue_comments_count + 1), "comment"),
                gh_stafftools_repository_issue_comments_path(this_pull) %>
        </td>
      </tr>
      <tr>
        <th>Review Comments</th>
        <td>
          <%= link_to \
                pluralize(this_pull.review_comments_count, "review comment"),
                gh_stafftools_repository_pull_request_review_comments_path(this_pull) %>
        </td>
      </tr>
      <tr>
        <th>Subscriptions</th>
        <td>
          <%= link_to \
                "View subscriptions and ignores",
                gh_stafftools_repository_pull_request_subscriptions_path(this_pull) %>
        </td>
      </tr>
      <tr>
        <th>Discussion</th>
        <td>
          <%= link_to "View pull request", pull_request_url_to_main_site(this_pull) %>
        </td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_pull_request_path(this_pull),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%=stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Synchronize pull request</h2>
  </div>

  <% if this_pull.merged? %>
    <p>
      Merged pull requests cannot be synchronized.
    </p>
    <a class="btn disabled">
      Synchronize pull request
    </a>
  <% elsif this_pull.closed? %>
    <p>
      Closed pull requests cannot be synchronized.
    </p>
    <a class="btn disabled">
      Synchronize pull request
    </a>
  <% else %>
    <p>
      Clear the ref caches for this pull request and synchronize it against the
      underlying git repository.
    </p>
    <p>
      This action is not inherently destructive, but may have a number of
      side effects:
      <ul class="site-admin-descriptive-list">
        <li>
          Hiding commits and comments that have been removed via a force-push
        </li>
        <li>
          Marking the pull request as "merged" if its commits have been merged
          into the upstream branch
        </li>
        <li>
          Closing the pull request if it no longer contains unique commits
        </li>
        <li>
          Changing the internal reference branches in the repository to align
          with the current state of the source branches
        </li>
      </ul>
    </p>
    <%= form_tag gh_sync_stafftools_repository_pull_request_path(this_pull) do %>
      <button type="submit" class="btn">Synchronize pull request</button>
    <% end %>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Delete pull request</h2>
  </div>

  <p>
    Delete this pull request and its comments as well as branch references
    from the Git repository.  Garbage collection will not be performed, the
    commits <strong>will remain in the repository</strong>.
  </p>
  <% if this_pull.merged? %>
    <p>
      Because this pull request has been merged, further actions including
      force-pushing the destination branch may be required to dereference the
      commits.
    </p>
  <% end %>
  <p>
    This action <strong>cannot be undone.</strong>
  </p>
  <a href="#delete_confirm" rel="facebox"
     class="btn btn-danger">
    Delete pull request
  </a>

  <div id="delete_confirm" style="display:none">
    <h2 class="facebox-header" data-facebox-id="facebox-header">
      Delete pull request?
    </h2>
    <p>
      All comments made on this pull request will also be deleted.<br>
      This action <strong>cannot be undone.</strong>
    </p>
    <%= form_tag \
          gh_stafftools_repository_pull_request_path(this_pull),
          :method => "delete" do %>
      <button type="submit" class="btn btn-block btn-danger">
        Delete pull request
      </button>
    <% end %>
  </div>
</div>
