<%
  page_info title: "GitHub Sponsors dashboard · #{selected_tab.to_s.titleize.capitalize}", class: "full-width", stafftools: stafftools_sponsors_member_path(sponsorable)
  sponsors_listing = sponsorable.sponsors_listing
  sponsors_membership = sponsorable.sponsors_membership
  bio_set = sponsors_listing.full_description.present?
  goal_set = sponsors_listing.active_goal.present?
  tiers_set = sponsors_listing.sponsors_tiers.any?
  sponsorable_has_stripe_account = sponsors_listing.stripe_connect_account.present?
  sponsorable_stripe_connect_eligible = sponsors_membership.eligible_for_stripe_connect?
  show_payouts_tab = sponsorable_stripe_connect_eligible ? sponsorable_has_stripe_account : true
  latest_payout = sponsors_listing.stripe_connect_account&.latest_payout
  staff_view = !sponsors_listing.adminable_by?(current_user) && current_user&.can_admin_sponsors_listings?
%>

<% if staff_view %>
<div class="flash flash-warn" <%= test_selector("sponsors-staff-view-banner") %> >
  <div class="container-lg p-responsive">
    <%= octicon "eye", class: "mr-1" %>
    This is a staff view of <%= sponsorable.login %>’s GitHub Sponsors dashboard.
  </div>
</div>
<% end %>

<div class="p-3 d-none d-sm-flex flex-justify-between flex-items-center border-bottom">
  <div class="TableObject">
    <div class="TableObject-item TableObject-item--primary">

      <%= octicon "heart", height: 16, class: "mr-1 text-pink hover-grow" %>
      <%= render(Primer::BreadcrumbComponent.new(display: 'inline-block')) do |component| %>
        <% if current_user.potential_sponsor_accounts.size > 1 %>
          <% component.slot(:item, href: sponsors_accounts_path) do %>GitHub Sponsors accounts<% end %>
        <% else %>
          <% component.slot(:item, href: sponsorable_dashboard_path(sponsorable)) do %>GitHub Sponsors dashboard<% end %>
        <% end %>
        <% component.slot(:item, selected: true) do %><%= sponsorable.login %><% end %>
      <% end %>
    </div>
  </div>

  <div class="position-relative">
    <a class="btn btn-outline f6" href="<%= sponsorable_path(sponsorable.login) %>?preview=true" role="button" target="_blank">
      <%= octicon("link-external", class: "ml-1") %> Preview profile
    </a>
    <% if sponsors_listing.full_description.present? && sponsors_listing.sponsors_tiers.with_published_state.any? && !current_user.dismissed_notice?(::User::PREVIEW_SPONSORS_PROFILE_BANNER) %>
      <div class="Popover position-absolute js-notice" style="top: 65px; right: 1px" <%= test_selector("preview-sponsors-profile-banner") %>>
        <div class="Popover-message Popover-message--large Popover-message--top-right p-4 Box box-shadow-large">
          <h4 class="d-flex flex-items-baseline mb-2"><%= emoji_tag(Emoji.find_by_alias("eyes"), class: "emoji emoji-icon mr-2") %>Take a look at your page</h4>
          <p class="text-gray">Preview your sponsorship to see how your introduction and tiers look together.</p>

          <%= form_tag dismiss_notice_path(::User::PREVIEW_SPONSORS_PROFILE_BANNER), class: "js-notice-dismiss" do %>
            <button type="submit" class="btn btn-outline mt-2 text-bold">Got it!</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if responsive_sidenav_enabled? %>
  <div class="d-flex flex-justify-center">
    <div class="d-lg-none container-md flex-auto mt-3 mx-3 pb-2">
      <details class="details-reset details-overlay dropdown position-relative">
        <summary class="btn width-full text-center">
          Sponsors dashboard menu
          <div class="dropdown-caret"></div>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-se project-small-menu-dropdown width-full right-0" style="min-width: 170px !important; left: auto !important;">
          <ul>
            <li class="text-gray text-small px-3 pt-3 pb-1">
              Manage profile
            </li>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Overview
              </a>
            </li>
            <% if sponsorable.fiscal_host? %>
              <li class="py-1">
                <a href="<%= sponsorable_dashboard_fiscal_host_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                  Fiscal host
                </a>
              </li>
            <% end %>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_profile_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Profile details
              </a>
            </li>
            <li class="py-1" <%= test_selector("sponsors-goals-tab") %>>
              <a href="<%= sponsorable_dashboard_goals_path(sponsorable) %>"
                 class="btn-link dropdown-item"
                 role="menuitem"
                 aria-expanded="false">
                 Your goals
               </a>
            </li>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_tiers_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Sponsor tiers
              </a>
            </li>
            <li class="text-gray text-small border-top mt-3 px-3 pt-3 pb-1">
              Manage sponsorship
            </li>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_your_sponsors_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Your sponsors
              </a>
            </li>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_updates_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Updates
              </a>
            </li>
            <li class="py-1" <%= test_selector("sponsors-activity-tab") %>>
              <a href="<%= sponsorable_dashboard_activity_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Activity
              </a>
            </li>
            <li class="py-1" <%= test_selector("sponsors-webhooks-tab") %>>
              <a href="<%= sponsorable_dashboard_webhooks_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Webhooks
              </a>
            </li>
            <% if sponsorable_has_stripe_account %>
              <li class="py-1" <%= test_selector("sponsors-payouts-tab") %>>
                <a href="<%= sponsorable_dashboard_payouts_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                  Payouts <% if latest_payout&.status == "failed" %><%= octicon "alert", class: "text-red float-right" %><% end %>
                </a>
              </li>
            <% end %>
            <li class="py-1">
              <a href="<%= sponsorable_dashboard_settings_path(sponsorable.login) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">
                Settings
              </a>
            </li>
          </ul>
        </details-menu>
      </details>
    </div>
  </div>
<% end %>

<div class="MarketplaceEdit-body d-lg-flex flex-lg-items-stretch border-bottom mb-lg-n6" style="flex-direction: row-reverse;">
  <div class="pt-4 px-3 px-md-4 pb-6 d-flex flex-auto flex-justify-center">
    <div class="col-12 col-lg-10 container-md">
      <% if !sponsors_listing.approved? && !sponsorable_stripe_connect_eligible && !current_user.dismissed_notice?("welcome_to_sponsors") %>
        <div class="js-notice border rounded-2 p-3 mb-3" <%= test_selector("sponsors-welcome-notice") %>>
          <span class="d-flex flex-items-center f6 mb-2">
            <span class="flex-auto">
              <h4 class="mr-2 d-inline"><%= emoji_tag(Emoji.find_by_alias("wave")) %> Welcome to GitHub Sponsors</h4>
            </span>
              <%= form_tag dismiss_notice_path("welcome_to_sponsors"), class: "js-notice-dismiss" do %>
                <%= button_tag(type: "submit", class: "btn-link link-gray", 'aria-label': "Dismiss") do %>
                  <%= octicon("x") %>
                <% end %>
              <% end %>
          </span>
          <p class="mb-0 text-gray">
            Thanks for submitting your contact information. We'll be in touch with you shortly to connect your bank account for payouts. Keep an eye out for an email from <a href="mailto:invoices@github.com">invoices@github.com</a>.
          </p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="d-none d-lg-block bg-gray-light border-right" style="min-width:320px;" <%= test_selector("sponsors-dashboard-sidebar") %>>
    <div class="p-4">
      <%= profile_avatar_using(sponsorable.primary_avatar_url(140), size: 70, class: "mx-auto mb-2 d-block") %>
      <h2 class="f4 text-normal text-center"><%= sponsorable.login %></h2>
    </div>
    <nav class="menu mb-0" style="border-right: 0; border-left: 0; border-radius:0;" aria-label="Sponsors dashboard navigation">
      <div class="border-bottom border-gray-dark position-relative">
        <%= marketplace_edit_menu_item(sponsorable_dashboard_path(sponsorable), selected_tab == :overview) do %>
          Overview
          <% if sponsors_listing.approved? %>
            <span class="Label Label--outline float-right border-green text-green">
              Active
            </span>
          <% else %>
            <span class="Label Label--outline float-right border-yellow text-yellow">
              Pending
            </span>
          <% end %>
        <% end %>

        <% if sponsorable.fiscal_host? %>
          <%= marketplace_edit_menu_item(sponsorable_dashboard_fiscal_host_path(sponsorable), selected_tab == :fiscal_host) do %>
            Fiscal host
          <% end %>
        <% end %>

        <%= marketplace_edit_menu_item(sponsorable_dashboard_profile_path(sponsorable), selected_tab == :profile) do %>
          Profile details
          <span class="float-right">
            <% if bio_set %>
              <%= octicon "check", class: "text-green" %>
            <% else %>
              <%= octicon "primitive-dot", class: "color-yellow-7" %>
            <% end %>
          </span>
        <% end %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_goals_path(sponsorable), selected_tab == :goals) do %>
          <span <%= test_selector("sponsors-goals-tab") %>>
            Your goals
          </span>
          <span class="float-right">
            <% if goal_set %>
              <%= octicon "check", class: "text-green" %>
            <% else %>
              <%= octicon "primitive-dot", class: "color-yellow-7" %>
            <% end %>
          </span>
        <% end %>
        <%= render(Sponsors::Dashboard::Goals::DismissibleBannerComponent.new(selected_tab: selected_tab)) %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_tiers_path(sponsorable), selected_tab == :tiers) do %>
          Sponsor tiers
          <span class="float-right">
            <% if tiers_set %>
              <%= octicon "check", class: "text-green" %>
            <% else %>
              <%= octicon "primitive-dot", class: "color-yellow-7" %>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="border-top border-gray-dark position-relative">
        <%= marketplace_edit_menu_item(sponsorable_dashboard_your_sponsors_path(sponsorable), selected_tab == :sponsors) do %>
          Your sponsors
        <% end %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_updates_path(sponsorable), selected_tab == :updates) do %>
          Updates
        <% end %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_activity_path(sponsorable), selected_tab == :activity) do %>
          <span <%= test_selector("sponsors-activity-tab") %>>
            Activity
          </span>
        <% end %>
        <% if selected_tab != :activity && !current_user.dismissed_notice?(::User::SPONSORS_ACTIVITY_BANNER) %>
          <div class="Popover position-absolute js-notice" style="top: 92px; left: 100px">
            <div class="Popover-message Popover-message--large Popover-message--left-top p-4 Box box-shadow-large">
              <h4 class="d-flex flex-items-baseline mb-2"><%= emoji_tag(Emoji.find_by_alias("sparkles"), class: "emoji emoji-icon mr-2") %>New: Activity feed</h4>
              <p class="text-gray">You can now see sponsorships, changes, and cancellations here.</p>

              <%= form_tag dismiss_notice_path(::User::SPONSORS_ACTIVITY_BANNER), class: "js-notice-dismiss" do %>
                <button type="submit" class="btn btn-outline mt-2 text-bold">Got it!</button>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_webhooks_path(sponsorable), selected_tab == :webhooks) do %>
          <span <%= test_selector("sponsors-webhooks-tab") %>>
            Webhooks
          </span>
        <% end %>
        <% if sponsorable_has_stripe_account %>
          <%= marketplace_edit_menu_item(sponsorable_dashboard_payouts_path(sponsorable.login), selected_tab == :payouts) do %>
            <span <%= test_selector("sponsors-payouts-tab") %>>
              Payouts <% if latest_payout&.status == "failed" %><%= octicon "alert", class: "text-red float-right" %><% end %>
            </span>
          <% end %>
        <% end %>
        <%= marketplace_edit_menu_item(sponsorable_dashboard_settings_path(sponsorable.login), selected_tab == :settings) do %>
           Settings
        <% end %>
      </div>
    </nav>
  </div>
</div>

<% unless responsive_sidenav_enabled? %>
  <%# Responsive menu for small and medium size screens %>
  <div class="d-flex d-lg-none position-fixed bottom-0 width-full border-top bg-white p-3 box-shadow-large" style="z-index: 35;">
    <div class="flex-auto">
      <details class="details-reset details-overlay dropdown position-relative">
        <summary class="btn width-full text-center">
        Sponsors dashboard menu
        <div class="dropdown-caret"></div>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-ne project-small-menu-dropdown width-full right-0" style="min-width: 170px !important; left: auto !important;">
          <ul>
          <li class="py-1"><a href="<%= sponsorable_dashboard_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Overview</a></li>
          <% if sponsorable.fiscal_host? %>
            <li class="py-1"><a href="<%= sponsorable_dashboard_fiscal_host_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Fiscal host</a></li>
            <% end %>
            <li class="py-1"><a href="<%= sponsorable_dashboard_profile_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Profile details</a></li>
            <li class="py-1" <%= test_selector("sponsors-goals-tab") %>>
            <a href="<%= sponsorable_dashboard_goals_path(sponsorable) %>"
             class="btn-link dropdown-item"
             role="menuitem"
             aria-expanded="false">
             Your goals
            </a>
            </li>
            <li class="py-1"><a href="<%= sponsorable_dashboard_tiers_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Sponsor tiers</a></li>
            <li class="py-1"><a href="<%= sponsorable_dashboard_your_sponsors_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Your sponsors</a></li>
            <li class="py-1"><a href="<%= sponsorable_dashboard_updates_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Updates</a></li>
            <li class="py-1" <%= test_selector("sponsors-activity-tab") %>><a href="<%= sponsorable_dashboard_activity_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Activity</a></li>
            <li class="py-1" <%= test_selector("sponsors-webhooks-tab") %>><a href="<%= sponsorable_dashboard_webhooks_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Webhooks</a></li>
            <% if sponsorable_has_stripe_account %>
            <li class="py-1" <%= test_selector("sponsors-payouts-tab") %>>
            <a href="<%= sponsorable_dashboard_payouts_path(sponsorable) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Payouts <% if latest_payout&.status == "failed" %><%= octicon "alert", class: "text-red float-right" %><% end %></a>
            </li>
            <% end %>
            <li class="py-1"><a href="<%= sponsorable_dashboard_settings_path(sponsorable.login) %>" class="btn-link dropdown-item" role="menuitem" aria-expanded="false">Settings</a></li>
          </ul>
        </details-menu>
      </details>
    </div>
  </div>
<% end %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :scripts do %>
  <%= javascript_bundle "sponsors" %>
<% end %>
