<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :overview } do %>
  <%= render(Sponsors::Dashboard::Overview::WelcomeComponent.new(sponsorable: sponsorable)) %>

  <%= render(Sponsors::Dashboard::Overview::TransitionStripeAccountComponent.new(sponsorable: sponsorable)) %>

  <%= render(Sponsors::Dashboard::Overview::NextStepsComponent.new(sponsorable: sponsorable)) %>

  <%= render(Sponsors::Dashboard::Overview::StatusComponent.new(
    sponsorable: sponsorable,
    stripe_request_domain: stripe_request_domain,
    docusign_event: docusign_event,
  )) %>
<% end %>
