<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Change data plan",
             :selected_link => :stafftools_user_billing %>

<div class="boxed-group">
  <h3>
    <%= link_to "Billing /", billing_stafftools_user_path(this_user), :class => "boxed-group-breadcrumb", "data-pjax" => true %>
    Change data plan
  </h3>

  <div class="boxed-group-inner seamless billing-addon-items">

    <%= form_for @data_pack_change.asset_status,
        :method => "put",
        :url => stafftools_user_update_large_file_storage_path(this_user) do |f| %>

      <table class="boxed-group-table packs-table">
        <tbody>
          <tr>
            <td class="desc"><%= pluralize(this_user.data_packs, "data pack") %></td>
            <td class="text-center">→</td>
            <td>
              <%= f.text_field :total_packs,
                :value            => @data_pack_change.total_packs,
                :class            => "shorter textfield js-addon-purchase-field",
                :type             => "number",
                :min              => "0",
                :max              => Billing::DataPackUpdater::MAXIMUM_PACKS.to_s,
                :autocomplete     => "off",
                :required         => "required",
                "data-url"        => stafftools_user_edit_large_file_storage_path(this_user),
                "data-item-name"  => "packs",
                "data-item-count" => @data_pack_change.total_packs
              %>
              <span class="unstyled-total-data-packs-label"><%= "data pack".pluralize(@data_pack_change.total_packs) %></span>
              <span class="addon-cost js-payment-summary">
                @ <%= @data_pack_change.human_data_pack_unit_price %><% if @data_pack_change.service_days_remaining > 0 %>
                <% end %>
              </span>
            </td>
          </tr>
          <%= render partial: "asset_status/usage", locals: { data_pack_change: @data_pack_change, target: this_user } %>
          <% if this_user.has_credit? %>
            <tr>
              <td class="desc" colspan="2">Credit</td>
              <td><%= casual_currency(this_user.balance) %></td>
            </tr>
          <% end %>
          <tr class="total-row">
            <td class="desc" colspan="2">
              <b>Charge/Refund today</b>
              <% if @data_pack_change.service_days_remaining > 0 %>
                <i>(charges prorated for <%= pluralize @data_pack_change.service_days_remaining, "day" %>)</i>
              <% end %>
            </td>
            <td>
              <b class="unstyled-total-price"><%= @data_pack_change.total_price.format(:sign_before_symbol => true) %></b>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="form-submit">
        <button type="submit" class="btn btn-danger js-downgrade-button">Save changes</button>
        <%= link_to "Cancel", billing_stafftools_user_path(this_user), :class => "btn", "data-pjax" => true %>

        <span class="payment-method js-payment-summary">
          <% payment_method = this_user.payment_method %>
          <% if this_user.has_paypal_account? %>
            <b>Charges will be made to</b>
            <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" valign="middle"> <%= payment_method.paypal_email %>
          <% elsif this_user.has_credit_card? %>
            <%= octicon("credit-card") %>
            <b>Charges will be made to <%= payment_method.card_type %></b> <%= payment_method.formatted_number %>
          <% else %>
            <%= octicon("credit-card") %>
            <strong>No payment method on file.</strong>
          <% end %>
        </span>
      </p>

    <% end %>

    <div class="payment-summary">
      <p class="help">
        <%= octicon("info") %>
        Upgrades are charged immediately based on days remaining in the billing cycle.
        Downgrades are reflected on the next bill.
        You can also <%= link_to "manage large file storage for this user", stafftools_user_large_file_storage_path(this_user) %>.
      </p>
    </div>

  </div>
</div>
