<div class="org-content-header">
  <%= avatar_for @business, 60, class: "avatar" %>
  <img class="content-header-octicon" alt="plus" src="<%= GitHub.mailer_asset_host_url %>/images/email/organization/octicon-plus.png" height="60">
  <%= avatar_for @user, 60, class: "avatar" %>
</div>

<h1 class="primary-heading">
  You’ve been added as <%= @role_for_email %> of the<br> <strong><%= @business.name %></strong> enterprise
</h1>

<hr class="rule">

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>!
</p>
<p>
  You’ve been added as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub.
</p>

<%= render :partial => "mailers/global/cta_button",
  locals: {
    text: "Visit #{@business.name} on GitHub",
    center: true,
    url: enterprise_url(@business)
  } %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as <strong><%= @user.login %></strong>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  You’re receiving this email because you were added as <%= @role_for_email %> of an enterprise on GitHub.
</p>
