Hi <%= @organization.name %>,

<% if @invitation.show_inviter? %>@<%= @inviter.login %> has invited <%= @organization.name %><% else %><%= @organization.name %> has been invited<% end %> to join <%= @business.name %> enterprise on GitHub. Head over to <%= enterprise_url @business %> to check out @<%= @business.name %>’s profile.

To join <%= @business.name %>, follow this link:

<%= pending_enterprise_organization_invitation_url(@business, @organization) %>

Some helpful tips:

- If you get a 404 page, make sure you’re signed in as an admin of <%= @organization.name %>.
- You can also accept the invitation by visiting the enterprise page directly at <%= enterprise_url @business %>

If you were not expecting this invitation, you can ignore this email.

Thanks,
The GitHub Team
