<div class="org-content-header">
  <%= avatar_for @business, 60, class: "avatar" %>
  <img class="content-header-octicon" alt="plus" src="<%= GitHub.mailer_asset_host_url %>/images/email/organization/octicon-plus.png" height="60">
  <%= avatar_for @organization, 60, class: "avatar" %>
</div>

<h1 class="primary-heading"><% if @invitation.show_inviter? %>@<%= @inviter.login %> has invited <%= @organization.name %><% else %><%= @organization.name %> has been invited<% end %> to join<br> <strong><%= @business.name %></strong> enterprise</h1>

<hr class="rule">

<p>
  Hi <strong><%= @organization.name %></strong>!
</p>
<p>
  <% if @invitation.show_inviter? %>@<%= link_to @inviter.login, user_url(@inviter) %> has invited <%= @organization.name %><% else %><%= @organization.name %> has been invited<% end %> to join the <%= @business.name %> enterprise on GitHub. Head over to <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a> to check out <%= @business.name %>’s profile.
</p>

<%= render :partial => "mailers/global/cta_button",
  locals: {
    text: "Join #{@business.name}",
    center: true,
    url: pending_enterprise_organization_invitation_url(@business, @organization)
  } %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an admin of <strong><%= @organization.name %></strong>. You can also accept the invitation by visiting the enterprise page directly at <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to pending_enterprise_organization_invitation_url(@business, @organization), pending_enterprise_organization_invitation_url(@business, @organization).to_s %>
</p>

<p class="email-text-small email-text-gray">
  You’re receiving this email because <% if @invitation.show_inviter? %>@<%= @inviter.login %><% else %>someone<% end %> invited <%= @organization.name %> to join an enterprise on GitHub.
</p>
