<div class="org-content-header">
  <%= avatar_for @business, 60, class: "avatar" %>
  <img class="content-header-octicon" alt="plus" src="<%= GitHub.mailer_asset_host_url %>/images/email/organization/octicon-plus.png" height="60">
  <%= avatar_for @user, 60, class: "avatar" %>
</div>

<h1 class="primary-heading">
  You’ve been removed as <%= @role_for_email %> of the<br> <strong><%= @business.name %></strong> enterprise
</h1>

<hr class="rule">

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>!
</p>

<% case @reason %>
<% when :two_factor_requirement_non_compliance %>
  <p>
    You’ve been removed as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub
    because you don’t have two-factor authentication on your user account. The
    <%= @business.name %> enterprise requires all members to have two-factor
    authentication enabled.
  </p>

  <%= render :partial => "mailers/global/cta_button",
             :locals => {
               :text => "Turn on two-factor authentication",
               :center => true,
               :url => settings_user_security_url(:via_email => "1") } %>

  <p>
    <strong>What happens after that?</strong>
  </p>

  <p>
    After you’ve enabled two-factor authentication, contact a member of your
    enterprise to let them know you want your access restored. Only a person
    with owner permissions in your enterprise can restore your membership and
    previous privileges directly.
  </p>

  <hr class="rule">

  <p class="email-text-small email-text-gray">
    Trouble with the button above? Copy and paste the following link into your
    browser:
    <br>
    <%= link_to settings_user_security_url,
                settings_user_security_url(:via_email => "1") %>
  </p>
<% else %>
  <p>
    You’ve been removed as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub.
  </p>
<% end %>
