<% if @user.present? %>
Hi @<%= @user.login %>,

<% end %>
You’ve been removed as a collaborator from <%= @repo_count %> <%= "repository".pluralize(@repo_count) %> in the organizations that are part of the <%= @business.name %> enterprise because you don’t have two-factor authentication on your user account. The <%= @business.name %> enterprise requires all affiliated users to have two-factor authentication enabled.

What happens after that?

After you’ve enabled two-factor authentication, contact a member of each of your organizations to let them know you want your access restored.

You no longer have access to the following repositories:

<%= @repository_names.join("\n") %>


Only a person with owner permissions in each organization can restore your previous privileges directly. If the person you contact isn’t an organization owner, they can look up an organization owner (<%= @lookup_org_owner_help_doc_url %>) and forward your request to them.

Visit <%= settings_user_security_url %> to enable two-factor authentication on your account.


Cheers & Octocats,
GitHub Support
