<h1 class="primary-heading">
  You have been removed from <%= @repo_count %> <%= "repository".pluralize(@repo_count) %> in
  the <strong><%= @business.name %></strong> enterprise
</h1>

<hr class="rule">

<% if @user.present? %>
  <p>
    Hi @<strong><%= @user.login %></strong>,
  </p>
<% end %>

<p>
  <strong>You’ve been removed as a collaborator from
  <%= @repo_count %> <%= "repository".pluralize(@repo_count) %></strong>
  in the organizations that are part of the <%= @business.name %> enterprise because you don’t
  have two-factor authentication on your user account. The
  <%= @business.name %> enterprise requires all affiliated users to have
  two-factor authentication enabled.
</p>

<%= render :partial => "mailers/global/cta_button",
:locals => {
  :text => "Turn on two-factor authentication",
  :center => true,
  :url => settings_user_security_url(:via_email => "1") } %>

<p>
  <strong>What happens after that?</strong>
</p>

<p>
  After you’ve enabled two-factor authentication, contact a member of each of your
  organizations to let them know you want your access restored.
</p>

<p>
  Repositories you have been removed from:
</p>

<p>
  <% @repository_names.each do |repo_name_with_owner| %>
    <%= repo_name_with_owner %><br>
  <% end %>
</p>

<p>
  Only a person with owner permissions in each organization can restore your
  previous privileges directly. If the person you contact isn’t an
  organization owner, <a href="<%= @lookup_org_owner_help_doc_url %>">they can
  look up an organization owner</a> and forward your request to them.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Trouble with the button above? Copy and paste the following link into your
  browser:
  <br>
  <%= link_to settings_user_security_url,
              settings_user_security_url(:via_email => "1") %>
</p>
