Hi <%= @user.safe_profile_name %>,

You’ve been removed as <%= @roles.to_sentence %> in the <%= @business.name %> enterprise on GitHub.

<% if @org_count > 0 %>
You can no longer access resources in these <%= @org_count %> <%= "organization".pluralize(@org_count) %> organizations:

<%= @organizations.map { |org| "#{org.safe_profile_name} (@#{org.login})" }.join("\n") %>

Only a person with owner permissions in each organization can restore your membership and
previous privileges. If you feel like this happened in error, contact a member of each of
these organizations to let them know you need your access restored. If the person you contact isn’t an
organization owner they can look up an organization owner at:

<%= @lookup_org_owner_help_doc_url %>

and forward your request to them.

<% end %>
Thanks,
The GitHub Team
