Hi <%= @user.safe_profile_name %>,

<% case @reason %>
<% when :two_factor_requirement_non_compliance %>
You’ve been removed as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub because you don’t have two-factor authentication on your user account. The <%= @business.name %> enterprise requires all members to have two-factor authentication enabled.

What happens after that?

After you’ve enabled two-factor authentication, contact a member of your enterprise to let them know you want your access restored. Only a person with owner permissions in your enterprise can restore your membership and previous privileges directly.

Visit <%= settings_user_security_url %> to enable two-factor authentication on your account.
<% else %>
You’ve been removed as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub.
<% end %>

Thanks,
The GitHub Team
