<%
  body_length = if comment
    100
  else
    250
  end
  comment_body_length = 150
%>

<div class="p-3" <%= test_selector("discussion-hovercard") %>>
  <div class="f6 text-gray-light mb-1">
    <a title="<%= current_repository.name_with_owner %>" class="d-inline-block no-underline link-gray" href="<%= repository_path(current_repository) %>">
      <%= current_repository.name_with_owner.truncate(32) %>
    </a>
    on
    <span>
      <%= full_month_date(discussion.created_at, omit_current_year: true) %>
    </span>
  </div>

  <div class="d-flex mt-2">
    <span class="lh-condensed py-1 pr-2">
      <%= octicon "comment-discussion" %>
    </span>

    <div class="d-flex flex-column f5 lh-condensed mt-1">
      <a href="<%= discussion_path(discussion) %>" class="no-underline link-gray-dark d-block">
        <h5 class="d-inline dashboard-break-word"><%= discussion.title %></h5>
        <span class="text-gray-light">#<%= discussion.number %></span>
      </a>
      <% if discussion.body.present? %>
        <div class="lh-condensed text-gray mt-1 mb-0 dashboard-break-word">
          <%= discussion.async_truncated_body_html(body_length).sync %>
        </div>
      <% end %>
    </div>
  </div>

  <% if comment %>
    <div class="border-top mr-n3 ml-n3 mt-3 pt-3" <%= test_selector("comment-#{comment.id}") %>>
      <div class="mx-3">
        <div class="d-flex mb-2 f6 <%= "flex-items-center flex-justify-between" if comment.answer? %>">
          <div class="d-flex flex-items-center">
            <div class="hovercard-icon mr-2 mb-1">
              <%= avatar_for(comment.author, 16, class: "avatar") %>
            </div>
            <span class="text-bold mr-1"><%= comment.author %></span>
            <span class="text-gray">replied</span>
          </div>
          <% if discussion.question? && comment.answer? %>
            <div class="text-green text-bold">
              <%= octicon :check, class: "mr-1" %>Answer
            </div>
          <% end %>
        </div>
        <div class="markdown-body f6 lh-condensed text-gray">
          <%= comment.async_truncated_body_html(comment_body_length).sync %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
