<div class="p-3" <%= test_selector("discussion-sso-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= octicon("shield-lock", height: 36, class: "text-gray") %>
    <div class="ml-3">
      <a class="d-inline-block no-underline" href="<%= org_sso_path(path: "/orgs/#{current_repository.owner}/sso", return_to: return_to_path) %>">Single sign-on</a>
      to view this discussion within the <strong><%= current_repository.owner %></strong> organization.
    </div>
  </div>
</div>
