<a class="list-item repo-list-item<% if gist.secret? %> secret<% end %>" href="<%= user_gist_path(gist.user_param, gist) %>">
  <strong class="meta">
    <%= social_count(gist.stargazer_count) %> <%= octicon("star") %>
  </strong>
  <div class="list-item-title repo-name"><%= gist.user_param %> / <%= gist.title %></div>
</a>
