<% page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.gist.global_relay_id
%>

<% content_for :analytics do %>
  <%= octolytics_gist_tag(view.gist) %>

  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::HAS_ACCOUNT %>"
    content="<%= view.gist.visibility %>"
  >
  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::MARKETPLACE_LISTINGS %>"
    content="<%= view.gist.ownership %>"
  >
<% end %>

<% content_for :header_title do %>
  <% if view.gist.secret? %>
    <span class="Label Label--outline text-white border-gray-dark m-0">Secret</span>
  <% end %>
  <%= gist_author_link(view.gist, class: "Header-link") %>
  /
  <%= link_to view.gist.title, user_gist_path(view.user_param, view.gist), class: "Header-link" %>
<% end %>

<%= render partial: "notifications/v2/top_shelf" %>

<% if view.show_description? %>
  <div class="gist-meta repository-meta">
    <%= view.formatted_description %>
  </div>
<% end %>

<% view.files.each do |blob| %>
  <%= render_partial_view "mobile/gists/gists/blob", Gists::BlobView,
    :blob => blob, :gist => view.gist, :revision => view.revision,
    :short_path => params[:short_path] %>
<% end %>

<%= render :partial => "mobile/discussions/timeline", :locals => {
  :timeline_items => view.gist.timeline_for(current_user),
  :subject        => view.gist
} %>

<%= render :partial => "mobile/discussions/comment_form", :locals => {
  :form_path         => user_gist_comments_path(view.gist.user_param, view.gist),
  :discussion        => view.gist,
  :discussion_type   => "gist"
} %>

<%=
  if logged_in?
    render_partial_view('mobile/notifications/thread_subscription', Mobile::Notifications::ThreadSubscriptionView,
      list: view.gist.notifications_list,
      thread: view.gist,
      form_path: subscribe_gist_path
    )
  end
%>
