<%graphql
  fragment Repository on Repository {
    collaborators(first: $first, after: $after, last: $last, before: $before, affiliation: $affiliation, query: $query) {
      totalCount
      edges {
        ...Views::Repositories::People::Person::Collaborator
      }
      pageInfo {
        ...ApplicationHelper::CursorPaginate
      }
    }
    ...Views::Repositories::People::Person::Repository
  }
%>
<%
  repository = Views::Repositories::People::PeopleTable::Repository.new(repository)
  collaborators = repository.collaborators
  outside_selected = params[:affiliation] == "OUTSIDE"
  person_type = outside_selected ? "outside collaborator" : "person"
%>
<% if collaborators.total_count > 0 %>
  <div class="Box">
    <div class="Box-header">
      <span class="text-gray">
        <%= number_with_delimiter collaborators.total_count %>
        <%= pluralize_without_number(collaborators.total_count, person_type) %>
        <%= "matching your filter" if params[:query].present? %>
        <%= pluralize_without_number(collaborators.total_count, "has") %> access to this repository
      </span>
    </div>

    <% collaborators.edges.each do |collaborator| %>
      <%= render partial: "repositories/people/person", locals: { repository: repository, collaborator: collaborator } %>
    <% end %>
  </div>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
     <%= cursor_paginate(collaborators.page_info, previous_label: "Previous", next_label: "Next") %>
  </div>
<% elsif params[:query].present? %>
  <div class="blankslate">
    <%= octicon "search", height: 32 %>
    <h3>There aren’t any users matching '<%= params[:query] %>'.</h3>
  </div>
<% else %>
  <div class="blankslate">
    <h3>No <%= outside_selected ? "outside collaborators" : "users" %> with access to this repository.</h3>
  </div>
<% end %>
