<%graphql
  fragment Repository on Repository {
    name
    owner {
      login
      ... on Organization {
        displayDomainEmailsSupported: planSupports(feature: DISPLAY_VERIFIED_DOMAIN_EMAILS)
        termsOfServiceType
        organizationDomains(isVerified: true) {
          totalCount
        }
      }
    }
  }

  fragment Collaborator on RepositoryCollaboratorEdge {
    permission
    node {
      id
      login
      name
      organizationVerifiedDomainEmails(login: $owner)
      ...ApplicationHelper::LinkedAvatar
      ...ApplicationHelper::ActorProfileLink::Actor
    }
  }
%>
<%
  repository = Views::Repositories::People::Person::Repository.new(repository)
  collaborator = Views::Repositories::People::Person::Collaborator.new(collaborator)
  org = repository.owner
  user = collaborator.node
  on_corporate_tos = org.terms_of_service_type == "CORPORATE"
  has_verified_domains = org.organization_domains.total_count > 0
  domain_emails = user.organization_verified_domain_emails
  show_verified_domain_emails = org.display_domain_emails_supported? &&
                                on_corporate_tos &&
                                has_verified_domains
%>
<div class="Box-row d-flex flex-justify-between" id="person-<%= user.login %>">
  <div class="col-6 d-flex flex-items-center">
    <%= graphql_linked_avatar_for user, 48, img_class: "avatar", url: org_person_path(org.login, user.login) %>
    <div class="pl-3">
      <%= graphql_profile_link user, class: "css-truncate-target f4", style: "max-width: 180px", id: "member-#{user.id}", url: org_person_path(org.login, user.login) do %>
        <%= user.name.present? ? user.name : user.login %>
      <% end %>
      <% if user.name.present? %>
        <span class="d-block css-truncate-target f5 text-gray-dark" itemprop="name"><%= user.login %></span>
      <% end %>
    </div>
  </div>

  <div class="col-5 d-flex flex-items-center flex-justify-end text-gray">
    <% if show_verified_domain_emails %>
      <div id="emails-<%= user.login %>">
        <% if domain_emails.any? %>
          <%= domain_emails.first %>
          <% if domain_emails.count > 1 %>
            (<a href="<%= org_person_path(org.login, user.login) %>"><%= domain_emails.count - 1 %> more</a>)
          <% end %>
        <% else %>
          <span class="text-italic">No verified domain email</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-1 d-flex flex-items-center flex-justify-end text-gray">
      <a href="<%= repository_permissions_path(org.login, user.login, org.login, repository.name) %>" id="permission-<%= user.login %>" data-ga-click="Orgs, manage repo access, location:manage member repo list; text:Manage access">
        <%= collaborator.permission.capitalize %>
      </a>
  </div>
</div>
