<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:disable LandmarkHasLabel %>
<%graphql
  fragment Repository on Repository {
    id
    nameWithOwner
    name
    repoAccessExportSupported: planSupports(feature: REPO_ACCESS_EXPORT)
    allCollaborators: collaborators {
      totalCount
    }
    owner {
      login
    }
    ...Views::Repositories::People::PeopleTable::Repository
  }
%>

<%
  repository = Views::Repositories::People::Index::Repository.new(repository)
  page_info \
    title: "People · #{repository.name_with_owner}",
    container_xl: true,
    responsive: false,
    selected_link: :people,
    dashboard_pinnable_item_id: repository.id
  outside_selected = params[:affiliation] == "OUTSIDE"
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="container">
    <%= render(Primer::BreadcrumbComponent.new) do |component| %>
      <% component.slot(:item, href: pulse_path(repository.owner.login, repository.name)) do %>Insights<% end %>
      <% component.slot(:item, selected: true) do %>People<% end %>
    <% end %>

    <div class="my-4 clearfix">
      <%= form_tag repo_people_index_path(repository.owner.login, repository.name, affiliation: params[:affiliation]),
        method: :get,
        class: "subnav-search ml-0 float-left", "data-autosearch-results-container" => "repo-access-list" do %>
        <div class="auto-search-group">
          <input class="width-full form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a user…"
            aria-label="Find a user…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= octicon('search') %>
          <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
        </div>
      <% end %>
      <div class="subnav-links ml-4 float-left" role="navigation">
        <a href="<%= repo_people_index_path(repository.owner.login, repository.name, affiliation: "ALL") %>"
          class="subnav-item <%= "selected" unless outside_selected %>">Everyone</a>
        <a href="<%= repo_people_index_path(repository.owner.login, repository.name, affiliation: "OUTSIDE") %>"
          class="subnav-item <%= "selected" if outside_selected %>">Outside collaborators</a>
      </div>
      <% if repository.repo_access_export_supported? && repository.all_collaborators.total_count > 0 %>
        <div class="float-right">
          <a class="btn" href="<%= repo_people_export_path(repository.owner.login, repository.name) %>" id="export-button">
            <%= octicon("cloud-download") %> Export CSV
          </a>
        </div>
      <% end %>
    </div>
    <div id="repo-access-list" data-pjax-container>
      <%= render partial: "repositories/people/people_table", locals: { repository: repository } %>
    </div>
  </div>
<% end %>
