<% matched_workflows.each do |workflow| %>
  <% if workflow.disabled? %>
    <div class="flash flash-warn mt-2 mb-4" <%= test_selector("disabled_workflow_banner") %>>
      <%= octicon "alert", class: "mr-2" %>
      <% if workflow.state == "disabled_fork" %>
        This scheduled workflow is disabled because scheduled workflows are disabled by default in forks.
      <% elsif workflow.state == "disabled_inactivity" %>
        This scheduled workflow is disabled because there hasn't been git activity in this repository for at least 28 days.
      <% elsif workflow.state == "disabled_manually" %>
        This workfow was disabled manually.
      <% end %>
      <% if current_repository.writable_by?(current_user) %>
        <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post, class: "float-right" do %>
          <button type="submit" class="btn btn-sm">Enable workflow</button>
        <% end %>
      <% end %>
    </div>
  <% elsif workflow.churning? %>
    <div class="flash flash-warn mt-2 mb-4" <%= test_selector("disabled_workflow_banner") %>>
      <%= octicon "alert", class: "mr-2" %>
      This workflow will be disabled soon because there's no recent activity in the repository.
      <% if current_repository.writable_by?(current_user) %>
        <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post, class: "float-right" do %>
          <button type="submit" class="btn btn-sm">Continue running workflow</button>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
