<%# erblint:disable DeprecatedCustomCss %>
<%= form_tag actions_path,
  method: :get,
  class: "ml-0 subnav-search flex-auto js-workflow-runs-filter-form",
  role: "search",
  enforce_utf8: false,
  :"data-pjax" => true do
%>
  <input
    role="combobox"
    aria-owns="workflow-runs-filter-results"
    type="search"
    autocomplete="off"
    aria-expanded="false"
    spellcheck="false"
    name="query"
    class="form-control subnav-search-input width-full f5 pr-5 flex-auto js-workflow-runs-filter-input"
    value="<%= actions_filtered_query(filters: workflow_run_filters) %>"
    aria-label="Filter workflows"
    placeholder="Filter workflows"
    data-hotkey="<%= local_search_hotkey %>"
    data-suggested-branches-path="<%= actions_branches_menu_path %>"
    data-suggested-actors-path="<%= actions_actors_menu_path %>"
    data-suggested-events-path="<%= actions_events_menu_path %>"
    data-suggested-statuses-path="<%= actions_statuses_menu_path %>">
  <%= octicon "search", class: "subnav-search-icon" %>
  <button
    type="button"
    class="position-absolute top-0 right-0 mt-2 mr-1 rounded-1 d-block text-center btn-link muted-link js-workflow-runs-filter-clear"
    aria-label="Clear filters"
    <%= "hidden" unless !workflow_run_filters.empty? %>>
    <%= octicon("x", class: "issues-reset-query-icon") %>
  </button>

  <div class="card-filter-autocomplete-dropdown box-shadow-medium width-full boxed-group-list border boxed-group-standalone rounded-1 mt-1 position-absolute overflow-auto bg-white hide-sm js-workflow-runs-filter-autocomplete-dropdown" hidden>
    <div class="px-2">
      <div class="width-full text-normal bg-white text-gray-light py-2">
        Narrow your search
      </div>
      <ul class="js-workflow-runs-filter-autocomplete-results" role="listbox" id="workflow-runs-filter-results"></ul>
    </div>
    <div class="border-top f6 text-gray bg-yellow-light text-normal p-2 js-workflow-runs-filter-ignore-container" hidden>
      <span class="text-gray-dark text-bold js-workflow-runs-filter-ignore-message"></span>
      will be ignored since log searching is not yet available
    </div>
  </div>
<% end %>
