<div class="d-flex flex-items-center flex-justify-center" style="margin-top:2px;">
  <% if workflow_run.conclusion %>
    <% view = Notifications::CheckSuiteConclusionView.new(workflow_run.conclusion) %>
    <%= octicon view.icon, class: view.text_color %>
  <% else %>
    <% if workflow_run.check_suite.in_progress? %>
      <svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#dbab0a" class="position-absolute js-check-step-icon-animation anim-rotate">
        <g fill="none" fillRule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
            <circle opacity=".5" cx="8" cy="8" r="7"></circle>
            <path d=" M 15 8 A 7 7 0 0 1 8 15"></path>
          </g>
        </g>
      </svg>
    <% end %>
    <%= octicon "primitive-dot", class: "color-yellow-7" %>
  <% end %>
</div>
