<div class="Box-header">
  <button
    class="Box-btn-octicon btn-octicon float-right"
    type="button"
    aria-label="Close dialog"
    data-close-dialog>
    <%= octicon "x" %>
  </button>
  <h3 class="Box-title">Delete workflow run</h3>
</div>

<div class="Box-body pt-0 overflow-y-auto">
  <div class="Box container-md my-1 mt-3 mx-auto text-left border-0">
    <p>Are you sure you want to delete this workflow run? <strong>This action cannot be undone</strong>.</p>

    <% if pull_requests.any? %>
      <p>The following pull requests may not be able to be merged if this run is deleted:</p>

      <% for pull_request in pull_requests %>
        <p>
          <%= octicon("git-pull-request", class: "type-icon #{pull_request.open? ? 'open' : 'closed'}") %>
          <strong><%= link_to pull_request.title, pull_request_path(pull_request) %></strong>
          <span class="text-gray-light">#<%= pull_request.number %></span>
        </p>
      <% end %>
    <% end %>

    <%= form_tag delete_workflow_run_path(workflow_run_id: workflow_run.id, user_id: current_repository.owner, repository: current_repository),
      method: "delete", class: "mt-4" do %>
        <button
          type="submit"
          class="btn btn-block btn-danger">Yes, permanently delete this workflow run</button>
    <% end %>
  </div>
</div>
