<%
  grouped_workflows = workflows.group_by { |workflow| workflow.visible_name }
  workflow_names = grouped_workflows.keys
%>
<div class="hx_actions-sidebar col-12 col-lg-3 pr-lg-4 pr-xl-5">
  <div class="d-flex flex-justify-between flex-items-center mt-1 mb-2">

    <h3 class="f5 text-gray d-none d-lg-block">Workflows</h3>

    <select class="d-block d-lg-none form-select f5 text-bold flex-auto mr-3 js-mobile-select-goto" aria-label="Select a workflow">
      <option value="<%= actions_workflow_path(filters: workflow_run_filters) %>" <% unless selected_workflow %>selected<% end %>>All workflows</option>
      <% workflow_names.each do |workflow_name| %>
        <option value="<%= actions_workflow_path(filters: workflow_run_filters, workflow: workflow_name) %>"
          <% if workflow_name == selected_workflow %>selected<% end %>><%= workflow_name %></option>
      <% end %>
    </select>

    <% if current_repository.writable_by?(current_user) %>
      <%= link_to "New workflow", new_workflow_path, class: "d-none d-lg-block btn btn-sm btn-outline" %>
      <%= link_to "New workflow", new_workflow_path, class: "d-none d-md-block d-lg-none btn btn-outline" %>
      <%= link_to "New", new_workflow_path, class: "d-block d-md-none btn btn-outline" %>
    <% end %>
  </div>

  <ul class="d-none d-lg-block filter-list">
    <li>
      <a href="<%= actions_workflow_path(filters: workflow_run_filters) %>"
        class="filter-item <% unless selected_workflow %>selected<% end %>">
        All workflows
      </a>
    </li>
    <% workflow_names.each do |workflow_name| %>
      <% disabled = grouped_workflows[workflow_name].any?(&:disabled?) %>
      <li>
        <a href="<%= actions_workflow_path(filters: workflow_run_filters, workflow: workflow_name) %>"
          class="filter-item <% if workflow_name == selected_workflow %>selected<% end %>">
          <% if disabled && GitHub.flipper[:actions_disabled_workflows].enabled?(current_user) %>
            <%= octicon 'stop', class: 'mr-2 text-yellow' %>
          <% else %>
            <%= octicon 'workflow', class: 'mr-2' %>
          <% end %>
          <%= workflow_name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
