<% page_info \
    title: "Actions · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :repo_actions,
    skip_pjax_container: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix py-3">
    <div class="col-lg-8 col-md-7 col-sm-12 float-left">
      <p class="f1">Automate your workflow from idea to production</p>
      <p>GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD. Build, test, and deploy your code right from GitHub.</p>
    </div>
    <div class="col-lg-4 col-md-5 col-sm-12 float-left text-lg-right text-md-right text-sm-left py-3">
      <a href="<%= GitHub.help_url %>/articles/getting-started-with-github-actions" class="btn btn-outline">Learn More</a>
    </div>
  </div>

  <hr>

  <div class="d-flex flex-wrap">
    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-linux-and-containers.svg") %>" alt="Operating systems and containers" height="45px">
      <h4 class="mb-2">Linux, macOS, Windows, ARM, and containers</h4>
      <p class="text-gray">Hosted runners for every major OS make it easy to build and test all your projects. Run directly on a VM or inside a container. Use your own VMs, in the cloud or on-prem, with self-hosted runners.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-matrix.svg") %>" alt="Matrix builds" height="45px">
      <h4 class="mb-2">Matrix builds</h4>
      <p class="text-gray">Save time with matrix workflows that simultaneously test across multiple operating systems and versions of your runtime.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-any-lang.svg") %>" alt="Any language" height="45px">
      <h4 class="mb-2">Any language</h4>
      <p class="text-gray">GitHub Actions supports Node.js, Python, Java, Ruby, PHP, Go, Rust, .NET, and more. Build, test, and deploy applications in your language of choice.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-live-logs.svg") %>" alt="Live logs" height="45px">
      <h4 class="mb-2">Live logs</h4>
      <p class="text-gray">See your workflow run in realtime with color and emoji. It’s one click to copy a link that highlights a specific line number to share a CI/CD failure.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-secret-store.svg") %>" alt="Secret store" height="45px">
      <h4 class="mb-2">Built-in secret store</h4>
      <p class="text-gray">Automate your software development practices with workflow files embracing the Git flow by codifying it in your repository.</p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 p-4 text-center">
      <img class="mb-2" src="<%= image_path("modules/actions/actions-multi-container-testing.svg") %>" alt="Multi-container testing" height="45px">
      <h4 class="mb-2">Multi-container testing</h4>
      <p class="text-gray">Test your web service and its DB in your workflow by simply adding some <code>docker-compose</code> to your workflow file.</p>
    </div>
  </div>
<% end %>
