<%
  instrument_actions_onboarding_page_view
  fullscreen = params["fullscreen"] && params["fullscreen"] == "true"
  page_classes = class_names("full-width full-width-p0 height-full", { "actions-full-screen": fullscreen })
%>

<% page_info \
    title: "Actions · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :repo_actions,
    skip_pjax_container: true,
    footer: false,
    class: page_classes,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="px-3">
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>

    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/features/actions-icon-actions.svg",
      image_alt: "GitHub Actions",
      title: "No workflows have been created",
      description: "GitHub Actions compose end-to-end workflows. Workflows can be triggered by GitHub Platform events like push, new issue, or new release.",
      style: "max-width: 560px;",
    ) do %>
      <p class="text-small text-gray my-3">Only repository collaborators may create workflows.</p>
    <% end %>

  </div>
<% end %>
