<%
  instrument_actions_v2_page_view

  workflow_runs = local_assigns[:workflow_runs]
  grouped_workflows = workflows.group_by { |workflow| workflow.visible_name }
  matched_workflows = grouped_workflows[selected_workflow_name] || []

  user_has_push_access = current_repository.writable_by?(current_user)
%>

<% page_info \
    title: "Actions · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :repo_actions,
    skip_pjax_container: true,
    footer: false,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="d-flex flex-column width-full">
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
    <div class="d-flex flex-column flex-lg-row width-full">
      <%= render partial: "actions/workflow_nav", locals: { selected_workflow: selected_workflow_name, workflow_run_filters: workflow_run_filters, workflows: workflows } %>
      <div class="flex-auto col-12 col-lg-8">
        <% if GitHub.flipper[:actions_emergency_shut_off].enabled? %>
          <div class="flash flash-error mt-2 mb-4">
            <%= octicon "alert", class: "mr-2" %>
            We are currently experiencing problems with GitHub Actions. <a href="https://www.githubstatus.com/">Learn more</a>.
          </div>
        <% end %>

        <% if current_user&.action_invocation_blocked? %>
          <div class="flash flash-error mt-2 mb-4" <%= test_selector("actions-invocation-blocked-user")%>>
            <%= octicon "alert", class: "mr-2" %>
            Actions are currently disabled for your account. Please reach out to GitHub Support for assistance.
          </div>
        <% end %>

        <% if show_survey_prompt %>
          <div class="p-3 border rounded-1 box-shadow d-flex mx-0 mb-4 js-notice" <%= test_selector("actions-survey")%>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-1">
              <%= image_tag "modules/site/features/actions-icon-actions.svg", alt: "GitHub Actions", class: "mr-3 flex-self-start flex-shrink-0" %>
              <div class="flex-auto pr-lg-6 p-1">
                <p class="m-0">Tell us how to make GitHub Actions work better for you with three quick questions.</p>
              </div>
              <div class="d-flex mt-lg-0 mr-4">
                <%= render layout: "shared/details_dialog", locals: {
                  dialog_class: "Box-overlay--wide",
                  title: "Share your GitHub Actions feedback",
                  button_text: "Give feedback",
                  deferred_loading_url: actions_survey_path
                } do %>
                  <include-fragment class="octocat-spinner"></include-fragment>
                <% end %>
              </div>
            </div>
            <div class="d-flex">
              <%= form_tag actions_survey_dismiss_path, class: "js-notice-dismiss" do %>
                <button class="flash-close" type="submit">
                  <%= octicon("x", :"aria-label" => "Close") %>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="d-flex flex-column flex-lg-row flex-items-center mb-2">
          <div class="col-12 col-lg-6 d-flex flex-nowrap">
            <h1 class="d-none d-lg-block f3 mb-2">
              <%= selected_workflow_name || "All workflows" %>
            </h1>
          </div>
        </div>

        <% if GitHub.flipper[:actions_disabled_workflows].enabled?(current_user) %>
          <%= render partial: "actions/disabled_workflow_banner", locals: { matched_workflows: matched_workflows } %>
        <% end %>

        <div class="d-flex flex-row flex-lg-row">
          <div class="d-flex d-sm-block flex-auto">
            <%= render partial: "actions/filter_input", locals: { workflow_run_filters: workflow_run_filters } %>
          </div>


          <% if selected_workflow %>
            <details class="details-overlay details-reset position-relative pl-3">
              <summary class="btn">
                <%= render GitHub::OcticonComponent.new(icon: "kebab-horizontal", "aria-label": "Show workflow options") %>
              </summary>
              <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in" style="width:185px">
                <%=
                  render partial: "checks/workflow_status_badge_url_builder", locals: {
                    workflow_name: selected_workflow_name
                  }
                %>

                <% if GitHub.flipper[:actions_disabled_workflows].enabled?(current_user) &&
                  current_repository.writable_by?(current_user) &&
                  matched_workflows.size == 1 &&
                  !matched_workflows.first.disabled?
                  %>
                    <div role="none" class="dropdown-divider"></div>
                    <%= form_tag disable_workflow_path(workflow_id: matched_workflows.first.id), method: :post do %>
                      <button type="submit" class="dropdown-item btn-link" role="menuitem">
                        Disable workflow
                      </button>
                    <% end %>
                <% end %>
              </details-menu>
            </details>
          <% end %>
        </div>

        <div class="Box Box--responsive mt-3" data-issue-and-pr-hovercards-enabled>
          <div class="Box-header d-flex flex-justify-between">
            <div class="table-list-header-toggle states flex-auto" data-test-selector="workflow-results">
              <strong><%= pluralize number_with_delimiter(workflow_runs.total_entries), "Result" %></strong>
            </div>
            <div class="table-list-header-toggle states d-flex flex-lg-justify-end">
              <%= render partial: "actions/filters/event", locals: { workflow_run_filters: workflow_run_filters } %>
              <%= render partial: "actions/filters/status", locals: { workflow_run_filters: workflow_run_filters } %>
              <%= render partial: "actions/filters/branch", locals: { workflow_run_filters: workflow_run_filters } %>
              <%= render partial: "actions/filters/actor", locals: { workflow_run_filters: workflow_run_filters } %>
            </div>
          </div>

          <% if user_has_push_access && selected_workflow&.has_workflow_dispatch_trigger? && !selected_workflow.disabled? %>
          <div class="flash flash-full bg-blue-light" <%= test_selector("actions-manual-run")%>>
            <details
              class="js-dropdown-details details-overlay position-relative details-reset d-inline-block flash-action"
              data-deferred-details-content-url="<%= actions_manual_run_partial_path workflow: selected_workflow.path %>"
              data-details-no-preload-on-hover
              >
              <summary class="btn btn-sm primary">
                Run workflow
                <div class="dropdown-caret"></div>
              </summary>
              <div class="Popover position-relative">
                <div class="position-absolute Popover-message Popover-message--large Popover-message--top-right mt-2 right-0 text-left p-3 mx-auto Box box-shadow-large">
                  <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
                </div>
              </div>
            </details>

            <span>This workflow has a <span class="text-mono p-1 f6" style="background: #DBEDFF">workflow_dispatch</span> event trigger.</span>
          </div>
          <% end %>

          <%= render partial: "actions/workflow_runs", locals: { workflow_runs: workflow_runs } %>
        </div>

        <div class="paginate-container">
          <div class="pagination">
            <%= will_paginate workflow_runs, "page_links": false %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "actions" %>
<% end %>
