<%# view object is Actions::StarterWorkflowsView %>
<%
  instrument_actions_onboarding_page_view
  workflows_exist = workflows.any?
%>

<% page_info \
  title: "Actions · #{current_repository.name_with_owner}",
  container_xl: true,
  selected_link: :repo_actions,
  skip_pjax_container: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="repo-actions-hero position-absolute d-none d-lg-block right-0"></div>
  <div class="d-flex flex-column width-full">
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
    <div class="d-flex flex-column flex-lg-row width-full <% if !workflows_exist %>px-lg-5 px-xl-6<% end %>">
      <div class="flex-auto col-12 col-lg-8">
        <div class="flex-auto">
          <div class="d-flex flex-justify-between">

              <div class="d-flex flex-column flex-md-row flex-justify-between width-full">
                <div class="col-12 col-lg-6 pr-0 pr-md-3 my-1 my-md-2 my-lg-6">
                  <% if workflows_exist %>
                    <h1 class="mb-2">Choose a workflow template</h1>
                  <% else %>
                    <h1 class="mb-2 lh-condensed">Get started with GitHub Actions</h1>
                  <% end %>
                  <p class="text-gray-light">Build, test, and deploy your code. Make code reviews, branch management, and issue triaging work the way you want. Select a workflow template to get started.</p>
                  <p class="text-gray-light">Skip this and
                    <a href="<%= new_file_path(current_repository.owner, current_repository, current_branch_or_tag_name, filename: ".github/workflows/main.yml", workflow_template: "blank") %>">
                    set up a workflow yourself
                    <%= octicon "line-arrow-right" %>
                    </a>
                  </p>
                </div>
              </div>
          </div>
          <% if view.show_filter? %>
            <h2 class="f3 my-3 lh-condensed">
              <%= view.category_filter %> workflows
            </h2>
            <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-filtered-templates") %>>
              <%= render partial: "repository_actions/workflow_template_large", collection: view.filtered_templates(view.category_filter)%>
            </div>
          <% else %>
            <div class="d-flex flex-column flex-md-row flex-justify-between">
              <h2 class="f3 my-3 lh-condensed">
                Workflows made for your <%= view.primary_language %> repository
                <%= render Primer::LabelComponent.new(ml: 2, vertical_align: :middle, scheme: :green, title: "Label: Suggested") do %>
                  Suggested
                <% end %>
              </h2>
            </div>
            <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-featured-templates") %>>
              <%= render partial: "repository_actions/workflow_template_large", collection: view.suggested_templates %>
            </div>

            <% if view.show_owner_templates? %>
              <h2 class="f3 my-3 lh-condensed">
                Workflows created by <%= current_repository.owner.safe_profile_name %>
              </h2>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-owner-templates") %>>
                <%= render partial: "repository_actions/workflow_template", collection: view.owner_templates.first(Actions::StarterWorkflowsView::NUM_TEMPLATES_BEFORE_EXPANSION) %>
              </div>

              <% if view.owner_templates.length > Actions::StarterWorkflowsView::NUM_TEMPLATES_BEFORE_EXPANSION %>
                <details class="border-bottom my-3 text-center details-reset Loadmore-workflows">
                  <summary class="btn btn-sm btn-outline position-relative" style="bottom: -14px">
                    More <%= current_repository.owner.safe_profile_name %> workflows...<%= octicon("chevron-down", class: "ml-1") %>
                  </summary>

                  <div class="text-left anim-fade-in pb-4 mt-n3">
                    <div class="d-flex flex-items-stretch ml-n2 mr-n2 mb-2 flex-wrap">
                      <%= render partial: "repository_actions/workflow_template", collection: view.owner_templates.drop(Actions::StarterWorkflowsView::NUM_TEMPLATES_BEFORE_EXPANSION) %>
                    </div>
                  </div>
                </details>
              <% end %>
            <% end %>

            <% unless GitHub.enterprise? %>
              <h2 class="f3 my-3 lh-condensed">Deploy your code with these popular services</h2>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-popular-templates") %>>
                <%= render partial: "repository_actions/workflow_template", collection: view.partner_templates %>
              </div>
            <% end %>

            <h2 class="f3 my-3 lh-condensed">Continuous integration workflows</h2>
            <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-ci-templates") %>>
              <%= render partial: "repository_actions/workflow_template", collection: view.ci_templates.first(Actions::StarterWorkflowsView::NUM_TEMPLATES_BEFORE_EXPANSION) %>
            </div>

            <details class="border-bottom my-3 text-center details-reset Loadmore-workflows">
              <summary class="btn btn-sm btn-outline position-relative" style="bottom: -14px">
                More continuous integration workflows...<%= octicon("chevron-down", class: "ml-1") %>
              </summary>

              <div class="text-left anim-fade-in pb-4 mt-n3">
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 mb-2 flex-wrap">
                  <%= render partial: "repository_actions/workflow_template", collection: view.ci_templates.drop(Actions::StarterWorkflowsView::NUM_TEMPLATES_BEFORE_EXPANSION) %>
                </div>
              </div>
            </details>

            <% if view.show_automation_section? %>
              <div class="py-2">
                <h2 class="f3 my-3">Automate every step in your process</h2>
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap">
                  <%= render partial: "repository_actions/workflow_template", collection: view.automation_templates %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="<%= view.show_automation_section? ? "mt-4" : "mt-6" %> py-6 mb-n5 border-top">
            <h2 class="text-center lh-condensed">Learn more about GitHub Actions</h2>

            <div class="d-flex flex-column flex-md-row my-4 flex-justify-center col-12 col-lg-10 mx-auto">
              <a href="<%= GitHub.help_url %>/actions/getting-started-with-github-actions" class="bg-gray link-gray-dark no-underline mb-2 m-md-2 p-4 rounded-1 col-12 col-lg-4">
                <%= inline_svg("docs-marketing-icon.svg", width: "56", height: "56", class: "float-right ml-2") %>
                <h3 class="f4 mt-1 mb-2">Getting started and core concepts</h3>
                <p class="text-gray-light">New to Actions? Start here. Learn the core concepts and how to get started.</p>
              </a>

              <a href="<%= GitHub.help_url %>/actions/configuring-and-managing-workflows/configuring-and-managing-workflow-files-and-runs" class="bg-gray link-gray-dark no-underline mb-2 m-md-2 p-4 rounded-1 col-12 col-lg-4">
                <%= inline_svg("site/icons/projects-activity", width: "56", height: "56", class: "float-right ml-2") %>
                <h3 class="f4 mt-1 mb-2">Configuring and managing workflows</h3>
                <p class="text-gray-light">Create custom workflows to control your project's life cycle processes.</p>
              </a>

              <a href="<%= GitHub.help_url %>/actions/language-and-framework-guides" class="bg-gray link-gray-dark no-underline mb-2 m-md-2 p-4 rounded-1 col-12 col-lg-4">
                <%= image_tag "modules/site/features/actions-any-lang.svg", width: "56", height: "56", alt: "Any language", class: "float-right ml-2" %>
                <h3 class="f4 mt-1 mb-2">Language and framework guides</h3>
                <p class="text-gray-light">Guides for projects written in many programming languages.</p>
              </a>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
