<%= render Primer::SubheadComponent.new(spacious: spacious, id: "automated-security-fixes") do |component| %>
  <% component.slot(:heading, tag: :h2, display: :flex, align_items: :center) do %>Dependabot security updates<% end %>
<% end %>

<p class="mb-3">
  Dependabot security updates will attempt to create pull requests to update vulnerable dependencies.
  <% if current_user.vulnerability_updates_enabled? %>
    We'll enable automatic security updates in all of your active repositories that use
    Dependabot alerts and the dependency graph over the next few months.
  <% end %> <a href="<%= GitHub.dependabot_help_url %>" target="_blank">Learn more</a>.
</p>

<%= form_tag settings_secure_development_update_automated_security_fixes_opt_out_path(current_user), method: :put do |f| %>
  <div class="form-checkbox">
    <input type="checkbox" name="automated_security_fixes_opt_out" id="automated-security-fixes-opt-out-checkbox"
            aria-describedby="automated-security-fixes-opt-out-description"<% unless current_user.vulnerability_updates_enabled? %> checked<% end %>>
    <label for="automated-security-fixes-opt-out-checkbox">Opt out of Dependabot security updates</label>
    <span class="note" id="automated-security-fixes-opt-out-description">
      This will disable Dependabot security updates on all of your repositories.
    </span>
  </div>
  <button type="submit" class="btn">Save</button>
<% end %>
