<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading, tag: :h2) do %>Change password<% end %>
<% end %>

<% if flash[:session_revoked] %>
  <%= render(Primer::FlashComponent.new(variant: :warning)) do %>
    You recently revoked a session. If you believe your password may have
    been compromised, we strongly recommend that you change your password
    and setup two-factor authentication. Changing your password will sign
    you out of all devices.
  <% end %>
<% end %>

<!-- Change Password -->
<%= form_for current_user, url: change_password_path, method: :put, html: { id: "change_password", "aria-label": "Change password" } do |f| %>
  <%= hidden_field_tag :session_revoked, !!flash[:session_revoked] %>
  <dl class="form-group password-confirmation-form">
    <dt><%= f.label :old_password %></dt>
    <dd><%= password_field_tag 'user[old_password]', nil, :id => "user_old_password", :required => true %></dd>
  </dl>
  <password-strength
    minimum-character-count="<%= minimum_password_character_count(current_user) %>"
    <%= "passphrase-length=#{User::PASSPHRASE_LENGTH}" unless current_user.enhanced_employee_password_requirements? %>
    invalid-message="Password is invalid."
    error-class="text-red text-bold"
    pass-class="text-green"
  >
    <dl class="form-group password-confirmation-form">
      <dt><%= f.label :new_password %></dt>
      <dd>
        <%= auto_check_tag(:password) do %>
          <%= password_field_tag 'user[password]', nil, id: 'user_new_password', required: true %>
        <% end %>
      </dd>
    </dl>
    <dl class="form-group password-confirmation-form">
      <dt><%= f.label :confirm_new_password, "Confirm new password" %></dt>
      <dd><%= password_field_tag 'user[password_confirmation]', nil, id: 'user_confirm_new_password', required: true %></dd>
    </dl>
    <p class="note"><%= password_strength_sentence(current_user) %></p>
  </password-strength>
  <%= spamurai_form_signals %>
  <p>
    <button class="btn mr-2" type="submit">Update password</button>
    <span><%= link_to "I forgot my password", password_reset_path %></span>
  </p>
<% end %>
