<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
fragment Tokens on DelegatedRecoveryTokenConnection {
  nodes {
    tokenId
    provider
    createdAt
    id
  }
}
%>

<% if GitHub.delegated_recovery_enabled? %>
  <% tokens = Views::Settings::User::Security::DelegatedAccountRecoveryRow::Tokens.new(tokens_connection) %>

  <% Darrrr.recovery_providers.each do |provider| %>
    <%= render layout: "/settings/user/security/two_factor_summary_row", locals: { title: "Recovery tokens", button_label: tokens.nodes.any? ? "Edit" : "Add", button_path: delegated_account_recovery_index_path(provider_origin: provider), tooltip: "Account recovery with Facebook is a simple way to recover your account.", show_button: show_button } do %>
      <% if tokens.nodes.any? %>
        Account recovery enabled
      <% else %>
        <span class="text-italic">No recovery tokens</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
