<%# erblint:counter TooltipCounter 1 %>
<% intro_text = "Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in." %>

<div class="Subhead <% if spacious %> Subhead--spacious <% end %>">
  <div class="Subhead-heading">Two-factor authentication</div>
  <% if current_user.two_factor_authentication_enabled? %>
    <div class="float-right mt-1">

      <% if current_user.two_factor_auth_can_be_disabled? %>
        <div class="btn-states btn-two-factor-state">
          <span class="btn btn-sm btn-primary btn-state-default">Enabled</span>
          <%= button_to "Disable", settings_user_two_factor_authentication_disable_path, class: "btn btn-sm btn-danger btn-state-alternate width-full text-center" %>
        </div>
      <% else %>
        <span class="btn btn-sm btn-primary disabled tooltipped tooltipped-sw tooltipped-align-right-2 tooltipped-multiline tooltipped-no-delay"
          aria-label="Two-factor authentication is required for at least one organization or enterprise account you're affiliated with.">
          Enabled
        </span>
      <% end %>
    </div>
  <% end %>
</div>

<% if current_user.two_factor_authentication_enabled? %>
  <p class="mb-3">
    <%= intro_text %> <a href="<%= GitHub.help_url %>/articles/about-two-factor-authentication/">Learn more</a>.
  </p>

  <%= render partial: "settings/user/security/two_factor_summary_box", locals: { tokens_connection: tokens_connection, show_buttons: show_buttons } %>
<% else %>
  <div class="blankslate">
    <%= octicon("lock", height: 32, class: "blankslate-icon") %>

    <h3>Two factor authentication is not enabled yet.</h3>

    <p class="mb-4">
      <%= intro_text %>
      <a href="<%= GitHub.help_url %>/articles/about-two-factor-authentication/">Learn more</a>.
    </p>

    <%= link_to 'Enable two-factor authentication', settings_user_two_factor_authentication_intro_path, class: "btn btn-primary" %>
  </div>
<% end %>
