<%# erblint:counter TooltipCounter 2 %>
<% row_id = "gpg-key-#{gpg_key.id}" %>
<li class="Box-row" id="<%= row_id %>">
  <span class="user-key-type TableObject-item">
    <%= octicon("key", :height => 32) %>
    <span class="user-key-badge text-gray">GPG</span>
  </span>

  <span class="user-key-details TableObject-item TableObject-item--primary js-details-container Details">
    <strong>
      Email <%= gpg_key.emails.size > 1 ? "address".pluralize : "address" %>:
    </strong>
    <% gpg_key.emails.each do |email| %>
      <% verified_email = gpg_key.allowed_email?(email.email) %>
      <span class="user-key-email-badge">
        <span class="user-key-email <%= "unverified" unless verified_email %>">
          <%= email.email %>
        </span>

        <% if !verified_email %>
          <span class="user-key-email-unverified tooltipped tooltipped-multiline tooltipped-s"
                aria-label="Signed commits authored by this email address will be unverified until the email address is verified.">
            Unverified
          </span>
        <% end %>
      </span>
    <% end %><br>
    <strong>Key ID:</strong> <code><%= gpg_key.hex_key_id %></code><br>

    <% if gpg_key.subkeys.any? %>
      <strong>Subkeys:</strong>
      <% gpg_key.subkeys.each do |subkey| %>
        <code><%= subkey.hex_key_id %></code><%= ", " unless subkey == gpg_key.subkeys.last %>
      <% end %>
    <% end %>
    <span class="text-gray d-block"><%= key_created_at_description(gpg_key) %></span>
  </span>

  <span class="TableObject-item">
    <% if !current_user.change_gpg_key_enabled? %>
      <span class="team-label-ldap text-small text-gray tooltipped tooltipped-s" aria-label="This GPG key is managed in your Identity Provider"><%= GitHub.auth.name %></span>
    <% else %>
      <%= render layout: "shared/details_dialog", locals: {
        button_class: "btn btn-sm btn-danger",
        button_text: "Delete",
        details_class: "ws-normal text-gray-dark lh-default d-inline-block",
        title: "Are you sure you want to delete this GPG key?"
      } do %>
        <div class="Box-body overflow-auto">
          <p>This action <strong>cannot</strong> be undone. This will permanently delete the GPG key, and if you’d like to use it in the future, you will need to upload it again.</p>
          <p><strong>Any commits you signed with this key will become unverified after removing it.</strong></p>
          <%= form_tag gpg_key_path(gpg_key), method: :delete do %>
            <button type="submit" class="btn btn-danger btn-block mt-4" data-disable-with>I understand, delete this GPG key</button>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </span>
</li>
