<details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column">
  <%= form_tag settings_user_two_factor_authentication_add_backup_path, class: "js-two-factor-set-sms-fallback" do %>
    <div class="js-configure-sms-fallback">
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= octicon "x" %>
        </button>
        <h3 class="Box-title">Add fallback SMS number</h3>
      </div>
      <div class="flash flash-full flash-warn" hidden></div>
      <div class="Box-body">
        <p>
          Please note that SMS deliverability is only available in
          <a href="<%= GitHub.help_url %>/articles/countries-where-sms-authentication-is-supported#supported-countries-for-sms-authentication" target="_blank">certain countries</a>.
        </p>
        <dl class="form-group">
          <dt><label for="countrycode">Country code</label></dt>
          <dd>
            <select class="form-select input-block" autocomplete="tel-country-code" name="countrycode" id="countrycode">
              <option value="+1">United States +1</option>
              <% sms_supported_countries(backup_country_code).each do |code, name| %>
                <option value="<%= code %>" <%= 'selected' if backup_country_code == code %> ><%= name + " " + code.to_s %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group">
          <dt><label for="number">Phone number</label></dt>
          <dd>
            <input class="form-control" type="text" name="number" id="number" value="<%= backup_national_number %>" placeholder="2345556789" autocomplete="tel-national" required>
          </dd>
        </dl>
      </div>
      <div class="Box-footer">
        <button type="submit" data-disable-with="Setting fallback…" class="btn btn-block primary" <%= "disabled" if current_user.employee? %>>
          Set fallback
        </button>
      </div>
    </div>

    <div class="js-verify-sms-fallback" hidden>
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= octicon "x" %>
        </button>
        <h3 class="Box-title">Verify your fallback number</h3>
      </div>
      <div class="flash flash-full flash-warn" hidden></div>
      <div class="Box-body">
        <dl class="form-group">
          <dt><label for="otp">Verification code</label></dt>
          <dd>
            <input type="text" name="otp" id="otp" class="form-control js-fallback-otp" placeholder="<%= Rails.env.development? ? otp : '' %>">
            <p class="note">We sent a verification code to your phone.</p>
          </dd>
        </dl>
      </div>
      <div class="Box-footer">
        <button type="submit" data-disable-with="Verifying…" class="btn btn-block btn-primary">
          Verify
        </button>
      </div>
    </div>
  <% end %>
</details-dialog>
