<%# erblint:counter TooltipCounter 1 %>
<div class="u2f-registration js-u2f-registration">
  <%= octicon("key", :class => "u2f-registration-icon") %>
  <%= form_tag u2f_destroy_path(registration), :method => :delete, :class => "float-right ml-2 js-u2f-registration-delete" do %>
    <button type="submit" class="btn-link u2f-registration-delete tooltipped tooltipped-e" aria-label="Remove this device" data-sudo-required="high">
      <%= octicon("trashcan", :class => "text-red") %>
    </button>
    <%= image_tag "spinners/octocat-spinner-32.gif", :size => "16x16", :alt => "", :class => "spinner" %>
  <% end %>
  <span class="u2f-registration-nickname"><%= registration.nickname %></span>
  &mdash; registered on <local-time datetime="<%= registration.created_at.utc.iso8601 %>"><%= registration.created_at.strftime("%b %-d, %Y") %></local-time>
</div>
