<% page_info responsive: false, :title => "GitHub Connect", :class => "page-dotcom-user" %>

<%= render layout: "settings/settings" do %>
  <!-- Dotcom Connection -->
  <h2 class="Subhead-heading mb-2">GitHub Connect</h2>

  <div class="Box Box--spacious f4 text-center">
    <div class="Box-body">
      <% if DotcomUser.user_connected?(current_user) %>
        <% dotcom_user = DotcomUser.for(current_user) %>
        <p class="f4">
          Your GitHub enterprise account is <b>connected</b> to your GitHub.com profile
          (<%= link_to dotcom_user.login, dotcom_user.github_profile_url %>).
        </p>

        <%= button_to "Disconnect from GitHub.com",
              settings_dotcom_user_destroy_path,
              method: :delete,
              form_class: "inline-form",
              class: "btn btn-danger mt-2 mb-3" %>

        <% if GitHub::Connect.unified_private_search_enabled? %>
          <p class="note text-left">
            You can search public content on GitHub.com. If your connected
            GitHub.com profile has access to the connected organization, then you can
            also search private repositories, code, commits, issues, and topics
            from the connected organization that you have access to.
          </p>
        <% end %>
      <% else %>
        <p class="f4">
          Your GitHub enterprise account is <b>not yet</b> connected to GitHub.com.
        </p>

        <%= button_to "Connect to GitHub.com",
              settings_dotcom_user_create_path,
              form_class: "inline-form",
              class: "btn btn-primary mt-2 mb-3" %>

        <p class="note text-left">
          By clicking "Connect to GitHub.com", you will be redirected to
          GitHub.com, which will allow you to share contribution counts from
          this GitHub Enterprise environment to your GitHub.com profile and
          include private repositories from this organization in your search
          results (when authorized by this environment's administrator). When
          you link your GitHub enterprise account with a GitHub.com account, you
          send identifying information to GitHub.com, which will be governed by
          <%= link_to "GitHub’s Privacy Statement", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement/" %>,
          and your GitHub Enterprise administrators. By enabling this
          configuration, you agree that you will be responsible for the actions
          performed on or through your account, subject to the terms of your
          <%= link_to "GitHub.com Terms of Service", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-terms-of-service/" %>.
        </p>
      <% end %>
    </div>
  </div>

  <% if GitHub::Connect.unified_contributions_enabled? && DotcomUser.user_connected?(current_user) %>
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Contributions<% end %>
    <% end %>
    <%= form_for current_user, :url => settings_dotcom_user_change_contributions_path(current_user), :html => { :method => :post, :id => "user_profile_contributions_#{current_user.id}" } do |f| %>
      <div class="form-checkbox mt-0">
        <%= f.check_box :show_enterprise_contribution_counts_on_dotcom %>
        <%= f.label :show_enterprise_contribution_counts_on_dotcom, "Send my contribution counts to GitHub.com" %>
        <span class="note">
          Get credit for all your work from this GitHub Enterprise environment
          by sending the contribution counts to your GitHub.com profile. GitHub
          Enterprise contribution counts are considered private contributions.
          Learn how to
          <%= link_to "publicize your private contributions on GitHub.com",
                GitHub.help_url(skip_enterprise: true) +
                "/articles/publicizing-or-hiding-your-private-contributions-on-your-profile/" %>
          and how we
            <%= link_to "count contributions",
                  GitHub.help_url + "/articles/viewing-contributions-on-your-profile-page/" %>.
        </span>
        <% last_sync_date = DotcomUser.for(current_user)&.last_contributions_sync %>
        <% if last_sync_date %>
          <p>
            Contributions last updated on GitHub.com <%= time_ago_in_words(last_sync_date) %> ago.
          </p>
        <% end %>
      </div>
      <button type="submit" class="btn">Update contributions</button>
    <% end %>
  <% end %>
<% end %>
