<%# erblint:counter TooltipCounter 2 %>
<% page_info responsive: false, title: "Email settings", class: "page-account" %>

<%
   view = Settings::EmailsView.new(:user => current_user)
   visible_emails = current_user.author_emails
-%>

<% if flash[:prompt_notification_email] %>
  <%= render layout: "shared/flash_container" do %>
    <%= form_tag save_notification_emails_path do -%>
      <p>
        Your primary email was changed to <strong><%= current_user.primary_user_email %></strong>.
        Your default notification email address is still set to <strong><%= view.global_notifications_email %></strong>.
        Would you like to update that as well?
      </p>
      <%= hidden_field_tag :redirect_path, "email_settings", :id => nil %>
      <%= hidden_field_tag :email, current_user.primary_user_email, :id => nil %>
      <div class="mt-3">
        <button type="submit" class="btn btn-sm">Yes, update my notification email</button>
      </div>
    <% end -%>
  <% end %>
<% end %>

<% if flash[:toggle_visibility_notice] %>
  <%= render layout: "shared/flash_container" do %>
    <% if current_user.primary_user_email.private? %>
      Your primary email address is now private. If you previously made your email public, we’ve removed it from your profile.
    <% else %>
      Your primary email address is now public. To select which email to display on your profile, visit <a href="<%= settings_user_profile_path %>">profile settings.</a>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Emails<% end %>
  <% end %>

  <% if view.verification_enabled? && current_user.emails.verified.size == 0 %>
    <p>
      <% if current_user.must_verify_email? %>
        <strong>Please verify an email address</strong> to collaborate on GitHub,
        receive notifications, and help us protect your account.
      <% else %>
        You have not verified any email addresses.
        We recommend you verify at least one email for password reset.
      <% end %>
    </p>
  <% end %>

  <ul id="settings-emails" class="Box list-style-none">
  <% current_user.emails.user_entered_emails.ordered_by_id.each_with_index do |email, i| -%>
    <li class="Box-row">
      <div class="d-flex flex-justify-between">
        <div class="d-flex flex-items-center">
          <h4 class="css-truncate-target h4" style="max-width: 300px"
              title="<%= h email %>"><%= h email %></h4>
          <%= render partial: "settings/user/email/main_badge", locals: { email: email } %>
        </div>

        <div class="text-right">
          <% if !current_user.change_email_enabled? %>
            <span class="team-label-ldap text-small text-gray tooltipped tooltipped-s"
                  aria-label="Your email addresses are managed in your Identity Provider"><%= GitHub.auth.name %></span>
          <% else %>
            <%= form_tag user_email_path(email.user, email), method: :delete do %>
              <button class="btn-link px-2 ml-1 <% if view.deletion_disabled?(email) %>d-block text-gray-light tooltipped tooltipped-nw<% else %>text-red<% end %>"
                      type="submit"
                      <% if view.deletion_disabled?(email) %>disabled<% end %>
                      aria-label="<%= view.deletion_tooltip(email) %>"
                      data-confirm="<%= view.deletion_message(email) %>">
                <%= octicon("trashcan") %>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= render partial: "settings/user/email/badges",
                 locals: { email: email, view: view } %>
    </li>
  <% end -%>
  </ul>

  <% if !current_user.change_email_enabled? %>
    <p class="help">
      <%= octicon("question") %>
      Email addresses are managed via your external Identity Provider,
      <%= contact_support_snippet(true) %> to request changes. Your primary
      email address is the first one assigned to you in your Identity Provider.
    </p>
  <% else %>
    <%= form_for UserEmail.new, url: user_emails_path(current_user), html: { "aria-labelledby" => "email_label" } do |f| %>
    <dl class="form-group">
      <% if current_user.emails.size == 0 %>
        <dt><label id="email_label" for="email">Add an email address</label></dt>
      <% else %>
        <dt><label id="email_label" for="email">Add email address</label></dt>
      <% end %>
      <dd>
        <%= f.text_field :email, id: "email", class: "short", required: true, type: "email", placeholder: "Email address" %>
        <button type="submit" class="btn">Add</button>
      </dd>
    </dl>
    <% end %>
  <% end %>

  <hr class="bleed-flush">

  <%= form_tag set_primary_user_email_path(current_user), method: :put, "aria-labelledby": "primary_email_select_label" do %>
  <dl class="form-group">
    <dt>
      <label id="primary_email_select_label" for="primary_email_select">Primary email address</label>
      <p class="mt-2">
        <% if view.has_emails? && view.primary_email_address_is_public? %>
          <code><%= view.primary_email_address %></code> will be used for account-related notifications and can be used for password resets.
        <% elsif view.has_emails? %>
          Because you have email privacy enabled,
          <code><%= view.primary_email_address %></code> will be used for account-related notifications as well as password resets. <code><%= view.stealth_email_display %></code> will be used for web-based Git operations, e.g., edits and merges.
        <% else %>
          Because you have no emails configured, you won’t receive notifications through
          email and <code><%= view.user.anonymous_user_email %></code> will be used for web-based
          Git operations, e.g. edits and merges.
        <% end %>
      </p>
    </dt>
    <dd>
      <select id="primary_email_select" name="id" class="form-select">
        <%=
          options_for_select(view.primary_email_select_options, selected: view.primary_email_default_selection)
        %>
      </select>

      <button type="submit" class="btn">Save</button>
    </dd>
  </dl>
  <% end %>

  <hr class="bleed-flush">

  <%= form_tag set_backup_user_email_path(current_user), method: :put, :"aria-labelledby" => "backup_email_select_label" do %>
  <dl class="form-group">
    <dt>
      <label id="backup_email_select_label" for="backup_email_select">Backup email address</label>
      <p class="mt-2">Your backup <%= GitHub.flavor %> email address will be used as an additional destination for security-relevant account notifications and can also be used for password resets.</p>
    </dt>
    <dd>
      <select id="backup_email_select" name="id" class="form-select">
        <%=
          options_for_select(view.backup_email_select_options, selected: view.backup_email_default_selection)
        %>
      </select>
      <button type="submit" class="btn">Save</button>
      <% if view.emails_for_backup.empty? %>
        <p class="note">Please add <%= view.verification_enabled? ? "a verified " : "an " %>email, in addition to your primary email, in order to choose a backup email address.</p>
      <% end %>
    </dd>
  </dl>
  <% end %>

  <hr class="bleed-flush">

  <% stealth_email = StealthEmail.new(current_user) %>
  <% if stealth_email.valid? %>
    <div class="form-checkbox">
      <%= form_tag toggle_visibility_user_emails_path(current_user), :method => :put, "data-autosubmit" => true, :"aria-label" => "Keep email address private", :"aria-describedby" => "toggle_visibility_note" do %>
        <label>
          <%= check_box_tag "toggle_visibility", false, current_user.emails.with_role("primary").private? %>
          Keep my email addresses private
        </label>

        <p id="toggle_visibility_note" class="note">
          We’ll remove your public profile email and use <strong><%= view.stealth_email_display %></strong> when performing web-based Git operations (e.g. edits and merges) and
          sending email on your behalf. If you want command line Git operations to use your private email you must
          <a href="<%= GitHub.help_url %>/articles/setting-your-email-in-git">set your email in Git</a>.
        </p>

        <noscript>
          <p><button class="btn btn-sm btn-primary" type="submit">Save changes</button></p>
        </noscript>
      <% end %>
    </div>

    <% if current_user.emails.with_role("primary").private? %>
      <div class="form-checkbox">
        <%= form_tag toggle_email_visibility_warning_user_emails_path(current_user), :method => :put, "data-autosubmit" => true, :"aria-label" => "Block command line pushes that expose email", :"aria-describedby" => "toggle_warning_note" do %>
          <label>
            <%= check_box_tag 'toggle_warning', false, current_user.warn_private_email? %>
            Block command line pushes that expose my email
          </label>

          <p id="toggle_warning_note" class="note">
            If you push commits that use a private email as your author email we will block the push and warn you about exposing your private email.
          </p>

          <noscript>
            <p><button class="btn btn-sm btn-primary" type="submit">Save changes</button></p>
          </noscript>
        <% end %>
      </div>
    <% end %>
  <% end -%>

  <% if GitHub.email_preference_center_enabled? %>
    <%= render partial: "settings/user/email/preferences" %>
  <% end %>
<% end %>
