<% page_info responsive: false, :title => "Add new SSH keys" %>

<%= render layout: "settings/settings" do %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>
      <a href="<%= settings_user_keys_path%>" data-pjax="true">SSH keys</a>
      / Add new
    <% end %>
  <% end %>
  <%= form_for current_user.public_keys.build, :html => { :id => 'new_key', :"aria-label" => "Add a new SSH key" } do |f| %>
    <%= render :partial => 'public_keys/form_fields', :locals => { :public_key => f.object } %>
    <p class="mb-0"><button type="submit" class="btn btn-primary" data-disable-with>Add SSH key</button></p>
  <% end %>
<% end %>
