<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Your Profile", :class => "page-account" %>

<% if flash[:profile_updated] %>
  <% flash_rendered! %>
  <%= render layout: "shared/flash_container" do %>
      Profile updated successfully
      &mdash;
      <a href="<%= user_path(current_user) %>">view your profile.</a>
  <% end %>
<% end %>

<%= render layout: "settings/settings" do %>
  <!-- Public Profile -->
  <%= render Primer::SubheadComponent.new(mt: 0, mb: 0) do |component| %>
    <% component.slot(:heading, tag: :h2, id: "public-profile-heading") do %>Public profile<% end %>
  <% end %>
  <div class="clearfix gutter d-flex flex-shrink-0">
    <div class="col-8">
      <%= form_for current_user, url: real_user_path(current_user), method: :put, html: {"aria-labelledby": "public-profile-heading"} do |f| %>
        <div>
          <% if !current_user&.change_profile_name_enabled? %>
            <strong><%= current_user.profile_name %></strong>
            <p class="note">
              Your account is synced via <%= GitHub.auth.name %>, so you can’t change your name here.<br>
              <%= contact_support_snippet %> if you have questions.
            </p>
          <% else %>
            <dl class="form-group">
              <dt><%= f.label :profile_name, "Name" %></dt>
              <dd>
                <%= f.text_field :profile_name %>
                <div class="note">
                  Your name may appear around GitHub where you contribute or are mentioned.
                  You can remove it at any time.
                </div>
              </dd>
            </dl>
          <% end %>
          <dl class="form-group">
            <dt><%= f.label :profile_email, "Public email" %></dt>
            <dd class="d-inline-block">
              <div>
                <% verified = GitHub.email_verification_enabled? ? "a verified" : "an" %>
                <% blank_message = @emails.empty? ? "Please add #{verified} email address" : "Select #{verified} email to display" %>
                <% if current_user.emails.any? && current_user.existing_primary_email_role.public? %>
                  <%= f.select(:profile_email, @emails, { :include_blank => blank_message }, { :class => "form-select" }) %>
                  <% if current_user.profile_email.present? %>
                    <button type="submit" class="btn-link text-gray text-small ml-2" form="unset_profile_email">
                      <%= octicon("x") %>
                      Remove
                    </button>
                  <% end %>
                  <p class="note">You can manage <%= GitHub.email_verification_enabled? ? "verified " : "" %>
                    email addresses in your <%= link_to "email settings", settings_user_emails_path %>.
                  </p>
                <% elsif current_user.emails.any? %>
                  <%= f.select(:profile_email, [], { :include_blank => blank_message }, { :class => "form-select text-gray-light", disabled: "disabled" }) %>
                  <p class="note">
                    You have set your email address to private. To toggle email privacy,
                    go to <%= link_to "email settings", settings_user_emails_path %>
                    and uncheck "Keep my email address private."
                  </p>
                <% end %>
              </div>
            </dd>
          </dl>
          <dl class="form-group">
            <dt><%= f.label :profile_bio, "Bio" %></dt>
            <dd class="user-profile-bio-field-container js-length-limited-input-container">
              <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= user_suggestions_path %>">
                <%= f.text_area :profile_bio,
                  class: "user-profile-bio-field js-length-limited-input",
                  placeholder: "Tell us a little bit about yourself",
                  "data-input-max-length": Profile::BIO_MAX_LENGTH,
                  "data-warning-text": "{{remaining}} remaining"
                %>
              </text-expander>
              <p class="note">
                You can <strong>@mention</strong> other users and
                organizations to link to them.
              </p>
              <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
            </dd>
          </dl>

          <dl class="form-group">
            <dt><%= f.label :profile_blog, "URL" %></dt>
            <dd><%= f.text_field :profile_blog %></dd>
          </dl>

          <dl class="form-group">
            <dt><%= f.label :profile_twitter_username, "Twitter username" %></dt>
            <dd><%= f.text_field :profile_twitter_username, data: test_selector_hash("profile-twitter-username-edit") %></dd>
          </dl>

          <% if !enterprise? %>
            <dl class="form-group">
              <dt><%= f.label :profile_company, "Company" %></dt>
              <dd class="user-profile-company-field-container">
                <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= organization_suggestions_path %>">
                  <%= f.text_field :profile_company, autocomplete: "off" %>
                </text-expander>
                <p class="note">
                  You can <strong>@mention</strong> your company’s GitHub
                  organization to link it.
                </p>
                <% if current_user.employee? && !GitHub.hidden_teamster?(current_user) %>
                  <p class="note">
                    This field will not be displayed on your profile because you’re <span class="label bg-blue text-uppercase">Staff</span>.
                  </p>
                <% end %>
              </dd>
            </dl>
          <% end %>
          <hr>
          <dl class="form-group">
            <dt><%= f.label :profile_location, "Location" %></dt>
            <dd><%= f.text_field :profile_location %></dd>
          </dl>

          <%= spamurai_form_signals %>

          <% unless GitHub.enterprise? %>
            <p class="note mb-2">
              All of the fields on this page are optional and can be deleted at any
              time, and by filling them out, you're giving us consent to share this
              data wherever your user profile appears. Please see our
              <%= link_to "privacy statement", site_privacy_url(:host => GitHub.urls.host_name) %>
              to learn more about how we use this information.
            </p>
          <% end %>

          <p><button type="submit" class="btn btn-primary">Update profile</button></p>
        </div>
      <% end %>
      <% if current_user.profile_email.present? %>
        <%= form_tag settings_unset_profile_email_path, method: :put, id: "unset_profile_email" do %>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 d-inline-block">
      <%= render partial: "settings/avatar", locals: { owner: current_user } %>
    </div>
  </div>

  <% show_acv_badge_setting = GitHub.flipper[:acv_badge].enabled?(current_user) && current_user.can_have_acv_badge? %>

  <% if current_user.can_have_pro_badge? || show_acv_badge_setting %>
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, tag: :h2, id: "profile-settings-heading") do %>Profile settings<% end %>
    <% end %>
    <%= form_for current_user, url: set_profile_badges_preference_user_path(current_user), method: :put, html: {id: "", "aria-labelledby": "profile-settings-heading"} do |f| %>
      <% if current_user.can_have_pro_badge? %>
        <div class="form-checkbox mt-0">
          <input type="hidden" name="user[pro_badge_enabled]" value="0">
          <input type="checkbox" name="user[pro_badge_enabled]" value="1" id="user_pro_badge_enabled"<% if pro_badge_enabled? %> checked<% end %>>
          <label for="user_pro_badge_enabled">Display PRO badge</label>
          <span class="note">
            This will display the
            <%= render partial: "users/pro_badge", locals: { show_octicon: false } %>
            badge on your public profile page.
          </span>
        </div>
      <% end %>
      <% if show_acv_badge_setting %>
        <div class="form-checkbox mt-0">
          <input type="hidden" name="user[acv_badge_enabled]" value="0">
          <input type="checkbox" name="user[acv_badge_enabled]" value="1" id="user_acv_badge_enabled" <% if acv_badge_enabled? %>checked<% end %>>
          <label for="user_acv_badge_enabled">Display Arctic Code Vault badge</label>
          <span class="note">
            This will display the
            <span class="label text-gray-light"><%= octicon("north-star") %>Arctic Code Vault Contributor</span>
            badge on your public profile page.
          </span>
        </div>
      <% end %>
      <button type="submit" class="btn">Update preferences</button>
    <% end %>
  <% end %>

  <% if current_user.employee? %>
    <div class="d-inline-block">
      <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
        <% component.slot(:heading, tag: :h2, id: "staff-profile-settings-heading") do %>Staff profile settings<% end %>
      <% end %>
      <%= form_for current_user, :url => real_user_path(current_user), :html => { :method => :put, :id => "staff_badge_#{current_user.id}", :"aria-labelledby" => "staff-profile-settings-heading" } do |f| %>
        <div class="form-checkbox mt-0">
          <%= f.check_box :profile_display_staff_badge %>
          <%= f.label :profile_display_staff_badge, "Display staff badge" %>
          <span class="note">Uncheck this box to hide the <span class="label bg-blue text-uppercase">Staff</span> badge on your public profile page.
          Other employees can always see your badge, and users may still be able to determine that you're an employee via the API.</span>
        </div>
        <button type="submit" class="btn">Update staff preferences</button>
      </div>
    <% end %>
  <% end %>
  <div class="d-inline-block">
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, tag: :h2, id: "contributions-heading") do %>Contributions<% end %>
    <% end %>
    <%= form_for current_user, :url => set_private_contributions_preference_user_path(current_user), :html => { :method => :put, :id => "user_profile_contributions_#{current_user.id}", :"aria-labelledby" => "contributions-heading" } do |f| %>
      <div class="form-checkbox mt-0">
        <input type="hidden" name="user[show_private_contribution_count]" value="0">
        <input type="checkbox" name="user[show_private_contribution_count]" value="1" id="user_show_private_contribution_count"<% if show_private_contribution_count? %> checked<% end %>>
        <label for="user_show_private_contribution_count">Include private contributions on my profile</label>
        <span class="note"> Get credit for all your work by showing the number of contributions to private repositories on your profile without any repository or
          organization information. <%= link_to "Learn how we count contributions", GitHub.help_url + "/articles/viewing-contributions-on-your-profile-page/", class: custom_profile_color_class %>.</span>
      </div>
      <button type="submit" class="btn">Update contributions</button>
    <% end %>
    <%= render :partial => "settings/developer_program", :locals => { :current_context => current_user } %>
    <% if !GitHub.enterprise? %>
      <!-- Jobs Profile -->
      <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
        <% component.slot(:heading, tag: :h2, id: "jobs-profile-heading") do %>Jobs profile<% end %>
      <% end %>
      <%= form_for current_user, :url => real_user_path(current_user), :html => { :method => :put, :id => "jobs_profile_#{current_user.id}", :"aria-labelledby" => "jobs-profile-heading" } do |f| %>
        <p>
          <%= f.check_box :profile_hireable %>
          <label for="user_profile_hireable">Available for hire</label>
        </p>
        <span class="success" style="display: none"><%= octicon("check") %> Saved</span>
        <button type="submit" class="btn">Save jobs profile</button>
      <% end %>
    <% end %>

    <% if !GitHub.enterprise? && explore_settings_enabled? %>
      <!-- Trending Settings -->
      <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
        <% component.slot(:heading, tag: :h2, id: "trending-settings-heading") do %>Trending settings<% end %>
      <% end %>

      <%= form_for(
        current_user,
        url: real_user_path(current_user),
        html: {
          method: :put,
          id: "trending_settings_#{current_user.id}",
          "aria-labelledby": "trending-settings-heading",
        },
      ) do |f| %>
        <dl class="form-group">
          <dt>
            <label for="user_profile_spoken_language_preference_code">
              <%= render Primer::TextComponent.new(font_weight: :bold) do %>
                Preferred spoken language
              <% end %>
            </label>
          </dt>

          <dd>
            <%= f.select(
              :profile_spoken_language_preference_code,
              Trending::SpokenLanguageFinder.preference_selections,
              class: "form form-select",
            ) %>
          </dd>
        </dl>

        <p class="note">
          We'll use this language preference to filter the trending repository lists on
          <a href="<%= explore_path %>">Explore</a> and
          our <a href="<%= trending_index_path %>">Trending Repositories</a> page.
        </p>

        <%= f.submit "Save Trending settings", class: "btn" %>
      <% end %>
    <% end %>
  </div>
  <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
    <% component.slot(:heading, tag: :h2, id: "emoji-heading") do %>Emoji<% end %>
  <% end %>
  <%= form_tag set_emoji_skin_tone_user_path(current_user), method: :put, "aria-labelledby": "emoji-heading" do %>
    <div class="text-bold mb-2">Preferred default emoji skin tone</div>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="0" <% if current_user.profile_settings.preferred_emoji_skin_tone == 0 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave") %><span class="sr-only">Neutral</span>
    </label>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="1" <% if current_user.profile_settings.preferred_emoji_skin_tone == 1 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave"), tone: 1 %><span class="sr-only">Light Skin Tone</span>
    </label>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="2" <% if current_user.profile_settings.preferred_emoji_skin_tone == 2 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave"), tone: 2 %><span class="sr-only">Medium-Light Skin Tone</span>
    </label>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="3" <% if current_user.profile_settings.preferred_emoji_skin_tone == 3 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave"), tone: 3 %><span class="sr-only">Medium Skin Tone</span>
    </label>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="4" <% if current_user.profile_settings.preferred_emoji_skin_tone == 4 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave"), tone: 4 %><span class="sr-only">Medium-Dark Skin Tone</span>
    </label>
    <label class="mr-2">
      <input type="radio" name="user[emoji_skin_tone_preference]" value="5" <% if current_user.profile_settings.preferred_emoji_skin_tone == 5 %>checked<% end %>>
      <%= emoji_tag Emoji.find_by_alias("wave"), tone: 5 %><span class="sr-only">Dark Skin Tone</span>
    </label>
    <button type="submit" class="btn mt-3 d-block">Update preference</button>
  <% end %>
<% end %>
