<% page_info responsive: false, title: "Repositories", class: "page-account" -%>

<%= render layout: "settings/settings" do %>
  <% if configurable_repo_default_branch_enabled? %>
    <div class="mb-4">
      <%= render "settings/default_branch_names/index" %>
    </div>
  <% end %>

  <%= render Primer::SubheadComponent.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Repositories<% end %>
  <% end %>

  <div class="Box">
    <% unless GitHub.enterprise? %>
      <div class="Box-header pl-0">
        <%= render partial: "navigation/settings_repositories" %>
      </div>
    <% end %>
    <% all_repositories = current_user.all_repositories_by_name %>
    <div class="Box-body text-center py-6 js-collaborated-repos-empty" <% if all_repositories.any? %>hidden<% end %>>
      You don’t have any repositories yet. Would you like to <a href="/new">create one</a>?
    </div>

    <% grouped_repos = all_repositories.group_by(&:owner) %>
    <% grouped_repos.each do |owner, repositories| %>
      <div class="js-collab-repo-owner Box-header rounded-0" data-owner-id="<%= owner.id %>">
        <% if grouped_repos.length >= 1 %>
          <h4 class="Box-title"><%= owner.login %></h4>
        <% end %>
      </div>

      <div class="js-collaborated-repos">
        <% repositories.each do |repo| %>
          <% css = []
            css << "simple" if repo.owner == current_user
            css << (repo.public? ? "public" : "private")
            css << "fork" if repo.fork?
            css << "mirror" if repo.mirror
            css = css.join(" ")
          %>

            <div class="Box-row <%= css %> js-collab-repo" data-repo-id="<%= repo.id %>" data-owner-id="<%= owner.id %>">

              <% if repo.owner != current_user %>
                <%= render layout: "shared/details_dialog", locals: {
                  button_class: "btn btn-sm",
                  button_text: "Leave",
                  details_class: "float-right",
                  title: "Are you sure you want to leave #{repo.name_with_owner}?"
                } do %>
                  <% if repo.private? %>
                    <% user_has_fork = repo.find_fork_for_user(current_user) %>

                    <% if user_has_fork %>
                      <div class="flash flash-error flash-full">You will lose push and pull access, and your fork will be deleted.</div>
                    <% else %>
                      <div class="flash flash-warn flash-full">You will lose push and pull access.</div>
                    <% end %>

                    <div class="Box-body">
                      <ul class="ml-4">
                        <li>Your commits won’t be lost</li>
                        <li>You will not be able to view this repository anymore</li>
                        <% if user_has_fork %>
                          <li><strong>Your fork of this repository will be deleted</strong></li>
                        <% end %>
                        <li>You can always ask <strong><%= repo.owner %></strong> for access again</li>
                      </ul>
                    </div>
                  <% else %>
                    <div class="flash flash-warn flash-full">You will lose push access.</div>
                    <div class="Box-body">
                      <ul class="ml-4">
                        <li>Your commits won’t be lost</li>
                        <li>You will still be able to view this repository</li>
                        <li>You can always ask <strong><%= repo.owner %></strong> for access again</li>
                      </ul>
                    </div>
                  <% end %>
                  <div class="Box-footer">
                    <%= form_tag leave_repo_path(repo.id), class: "js-leave-collaborated-repo", "data-repo-id": repo.id, "data-owner-id": owner.id do %>
                      <button type="submit" class="btn btn-block btn-danger" data-disable-with>I understand, leave this repository</button>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

              <%= octicon("#{(repo.public? ? "repo" : "lock")}", class: "mr-1") %>
              <%= link_to repo.name_with_owner, repository_path(repo), class: "mr-1" %>

              <span class="text-small">
                <%= repo.human_disk_usage %>
                <% if repo.owner == current_user %>
                  <span class="ml-2">
                    <%= octicon("people") %>
                    <%= link_to pluralize(repo.filled_seats, "collaborator"), repository_access_management_path(current_user, repo) %>
                  </span>
                <% end %>
              </span>

              <% if repo.fork? && repo.parent %>
                <p class="text-small mb-0">
                  <%= octicon "repo-forked" %> <%= link_to repo.parent.name_with_owner, repository_path(repo.parent) %>
                </p>
              <% end %>
            </div>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
