<% page_info responsive: false, title: security_and_privacy_section_title %>

<% if flash[:session_not_found] %>
  <%= render layout: "shared/flash_container", locals: { type: "warn" } do %>
    The session you are looking for has expired and is no longer accessible.
  <% end %>
<% end %>

<% if flash[:toggle_third_party_analytics_notice] %>
  <%= render layout: "shared/flash_container" do %>
    <% if current_user.report_third_party_analytics? %>
      We will now report third-party analytics for your account.
    <% else %>
      We will no longer report third-party analytics for your account.
    <% end %>
  <% end %>
<% end %>

<%= render layout: "settings/settings" do %>
  <% spacious = false %>
  <% if password_reset_enabled? %>
    <%= render partial: "settings/user/security/change_password", context: current_user %>
    <% spacious = true %>
  <% end %>

  <% if GitHub.auth.two_factor_authentication_enabled? %>
    <%= render partial: "settings/user/security/two_factor_summary", locals: { tokens_connection: tokens_connection, show_buttons: true, spacious: spacious } %>
    <% spacious = true %>
  <% end %>

  <% if third_party_analytics_setting_enabled? %>
    <%= render partial: 'settings/user/security/privacy', locals: { spacious: spacious } %>
    <% spacious = true %>
  <% end %>

  <% if GitHub.dependabot_enabled? %>
    <%= render partial: "settings/user/security/automated_security_fixes_opt_out", context: current_user, locals: { spacious: spacious } %>
    <% spacious = true %>
  <% end %>

  <%= render partial: "settings/user/sessions/sessions", context: current_user, locals: { sessions: current_user.sessions.user_facing, spacious: spacious } %>
<% end %>
