<% page_info responsive: false, title: "Security & analysis" %>

<%= render layout: "settings/settings" do %>
  <%= render partial: "shared/security_analysis_form", locals: { owner: current_user} %>
<% end %>
