<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% is_personal_key = @public_key.user.present? %>

<% if is_personal_key %>
<% page_info responsive: false, :title => "Please audit your SSH key" %>
<% else %>
<% page_info responsive: false, :title => "Please audit #{ @public_key.repository.name_with_owner }’s deploy key" %>
<% end %>

<div class="container">
  <div class="boxed-group mt-5">
  <% if is_personal_key %>
  <h3><%= octicon("stop") %> Please audit your SSH key</h3>
  <% else %>
  <h3><%= octicon("stop") %> Please audit <%= @public_key.repository.name_with_owner %>’s deploy key</h3>
  <% end %>
  <div class="boxed-group-inner clearfix">
    <div class="boxed-group-warning mb-0 border-0">
      <%
        if is_personal_key
          help_url_for_uploading_new_key = "#{GitHub.help_url}/articles/generating-ssh-keys"
        else
          help_url_for_uploading_new_key = "#{GitHub.developer_help_url}/guides/managing-deploy-keys/#deploy-keys"
        end
      %>
      <p>
        One of your organizations has blocked access for SSH keys created by untrusted third-party applications.
        Your SSH key will be considered untrusted if you added it before February 2014, since GitHub didn’t track the origin of SSH keys before that date.
        If you created and imported this key yourself, you can approve it for access to your organization repositories.
        <strong>If you have any doubts about this key, you should delete it and <a href="<%= help_url_for_uploading_new_key %>" target="_blank">upload a new one</a>.</strong>
      </p>
      <p>
        <a href="<%= GitHub.help_url %>/articles/keeping-your-ssh-keys-and-application-access-tokens-safe#reviewing-your-ssh-keys">Get help verifying fingerprints.</a>
      </p>
    </div>
    <ul class="boxed-group-list">
      <li class="py-3 TableObject">
        <span class="user-key-type TableObject-item">
          <%= octicon("key", :height => 32, :class => ("recent-user-key" if @public_key.recent?)) %>
          <span class="user-key-badge text-gray">SSH</span>
        </span>

        <span class="user-key-details TableObject-item TableObject-item--primary js-details-container Details">
          <% if is_personal_key %>
            <%= button_to "Delete", public_key_path(@public_key), :method => :delete, :class => "btn btn-sm btn-danger", :form_class => "mt-3 float-right" %>
            <%= button_to "Approve", verify_public_key_path(@public_key, params[:token]), :class => "btn btn-sm btn-primary", :form_class => "mt-3 float-right" %>
          <% else %>
            <%= button_to "Delete", deploy_key_path(@public_key.repository.owner, @public_key.repository, @public_key), :method => :delete, :class => "btn btn-sm btn-danger", :form_class => "mt-3 float-right" %>
            <%= button_to "Approve", verify_deploy_key_path(@public_key.repository.owner, @public_key.repository, @public_key, params[:token]), :class => "btn btn-sm btn-primary", :form_class => "mt-3 float-right" %>
          <% end %>

          <strong class="d-block"><%= @public_key.title %></strong>
          <strong>Fingerprint:</strong> <code><%= @public_key.fingerprint %></code>
          <span class="text-gray d-block">
            <%= key_created_at_description(@public_key) %>
            <span class="<%= "recent-user-key-access" if @public_key.recent? %>"><%= last_access_description(@public_key, "key", "tooltipped-se") %></span>
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>

  <p>
    If you have any questions at all, please don’t hesitate to <a href="<%= contact_path %>">contact support</a>.
  </p>

</div>
