<div class="branch-action-item-icon completeness-indicator completeness-indicator-error">
  <%= octicon("x") %>
</div>
<div class="h4 status-heading">Required advisory information</div>
<span class="status-meta">We need to know a few more details before we can publish this advisory.</span>

<ul class="merge-status-list list-style-none border-bottom" style="max-height: none;">
  <% if view.missing_affected_versions? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-affected-versions") %>>
      <div class="merge-status-icon flex-self-center">
        <%= octicon('x', class: "text-red mx-auto d-block") %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="text-gray">&mdash; Please edit the advisory and list affected version(s).</span>
      </div>
    </li>
  <% end %>

  <% if view.missing_description? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-description") %>>
      <div class="merge-status-icon flex-self-center">
        <%= octicon('x', class: "text-red mx-auto d-block") %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="text-gray">&mdash; Please edit the advisory and add a description.</span>
      </div>
    </li>
  <% end %>
</ul>
