<noscript>
<p class="u2f-message js-u2f-message text-center">Enable JavaScript to use one of your security keys.</p>
</noscript>
<p class="u2f-message js-u2f-message text-center u2f-disabled">
  Use a different browser/device to use one of your security keys.
</p>

<p class="u2f-message js-u2f-message js-webauthn-auth-error mt-3 text-center" hidden>
  <%= octicon('alert', :class => 'text-red') %>
  Security key authentication failed.
</p>

<p class="u2f-message js-u2f-message js-webauthn-auth-success mt-3 text-center" hidden>
  Success!
</p>
