<%# erblint:disable ProperTagNesting %>
<% page_info :title => "Banned IP Address", :selected_link => :banned_ips %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Banned status</h3>
    <div class="boxed-group-inner">
      <%= form_tag search_stafftools_banned_ip_addresses_path do %>
        <p>
          <input class="form-control" type="text" required placeholder="IP Address" name="ip_address" value="" aria-label="IP Address">
          <button class="btn" type="submit">Search</button>
        </p>
      <% end %>
    </div>
  </div>

  <div class="boxed-group">
    <h3>IP addresses</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        In general, when someone complains that they are being blocked we should
        "Forget" them without question. If they continue the proxying they will
        just get banned again.
      </p>

      <p>
        If the IP address absolutely needs to be unblocked permanantly, use the
        "Whitelist" feature. This should be a very rare event.
      </p>

      <%= form_tag stafftools_banned_ip_addresses_path, method: :post do %>
        <p>
          <textarea class="form-control" type="text" required placeholder="Reason for banning IP (required)" required name="reason" value="" aria-label="Reason for banning IP" cols="95" rows="4"></textarea>
        </p>
        <p>
          <input class="form-control" type="text" required placeholder="IP Address (required)" name="ip_address" value="" required aria-label="IP Address">
          <button class="btn btn-danger js-confirm" type="submit" data-confirm="Are you absolutely sure you want to ban this IP address?">Ban</button>
        </p>
      <% end %>

      <hr></hr>

      <%= render :partial => "stafftools/banned_ip_addresses/ip_table_item", :collection => ip_addresses %>
      <% if ip_addresses.any? && ip_addresses.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate ip_addresses %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render :partial => "stafftools/banned_ip_addresses/facebox" %>

<% end %>
