<% page_info :title => "Banned IP Address", :selected_link => :banned_ips %>

<%= render layout: "stafftools/stafftools" do %>

  <div class="boxed-group">
    <h3>Banned IP: <%= params[:ip_address] %></h3>
    <div class="boxed-group-inner">
      <% if banned_ip %>
        <ul class="boxed-group-list standalone">
          <%= render :partial => "stafftools/banned_ip_addresses/ip_table_item", :object => banned_ip %>
        </ul>
      <% else %>
        <h3> <%= params[:ip_address] %> is not banned.</h3>
      <% end %>
    </div>
  </div>


  <%= render :partial => "stafftools/banned_ip_addresses/facebox" %>
<% end %>
