<%graphql
  fragment UserFragment on User {
    viewerCanFollow
    viewerIsFollowing
    isViewer
    login
  }
%>
<% user = view.nil? ? Views::Users::FollowButton::UserFragment.new(user) : view %>

<% if logged_in? && !user.is_viewer? %>
  <% if user.viewer_can_follow? %>
    <span class="user-following-container js-form-toggle-container">
      <%= form_tag(follow_user_path(target: user.login), {class: 'js-form-toggle-target', hidden: user.viewer_is_following?}) do %>
        <%= submit_tag "Follow",
              style: style,
              class: "#{classes} #{"btn-primary" if make_primary == true}",
              title: "Follow #{user.login}",
              "aria-label": "Follow this person",
              data: profile_click_tracking_attrs(:FOLLOW_BUTTON) %>
      <% end %>

      <%= form_tag(unfollow_user_path(target: user.login), {class: 'js-form-toggle-target', hidden: !user.viewer_is_following?}) do %>
        <%= submit_tag "Unfollow",
              style: style,
              class: classes,
              title: "Unfollow #{user.login}",
              "aria-label": "Unfollow this person" %>
      <% end %>
    </span>
  <% end %>
<% elsif !logged_in? %>
  <span class="user-following-container">
    <span class="follow">
      <%= link_to(
        "Follow",
        site_nav_login_path,
        class: "#{classes} #{"btn-primary" if make_primary == true}",
        data: sign_in_link_data_attributes(location_in_page: "follow button")
      ) %>
    </span>
  </span>
<% end %>
