<% if user %>
  <div class="d-table table-fixed col-12 width-full py-4 border-bottom border-gray-light" <%= test_selector("follow_user") %>>
    <div class="d-table-cell col-2 col-lg-1 v-align-top">
      <%= linked_avatar_for(user, 50, img_class: "avatar") %>
    </div>

    <div class="d-table-cell col-9 v-align-top pr-3">
      <%= profile_link(user, class: "d-inline-block no-underline mb-1") do %>
        <span class="f4 link-gray-dark"><%= user.profile_name %></span>
        <span class="link-gray<% if user.profile_name.present? %> pl-1<% end %>"><%= user.login %></span>
      <% end %>

      <% if user.suspended? || user.spammy? %>
        <div class="label bg-red ml-1">
          <%= user.suspended? ? "Suspended" : "Spammy" %>
        </div>
      <% end %>

      <% if user.profile_bio.present? %>
        <div class="text-gray text-small mb-2">
          <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio, {}) %>
        </div>
      <% end %>

      <% if user.profile_company.present? || user.profile_location.present? %>
        <p class="text-gray text-small mb-0">
        <% if user.profile_company.present? %>
          <span class="mr-3">
            <%= octicon("organization") %> <%= user.profile_company %>
          </span>
        <% end %>
        <% if user.profile_location.present? %>
          <%= octicon("location") %> <%= user.profile_location %>
        <% end %>
        </p>
      <% end %>
    </div>

    <div class="d-table-cell col-2 v-align-top text-right">
      <%= follow_button user %>
    </div>
  </div>
<% end %>
