<%# rubocop:disable Lint/InstanceVariable %>
<% view = Users::GlobalAddView.new(
     repository: current_repository,
     organization: current_organization || @this_organization,
     this_user: current_user
   ) %>

<a role="menuitem" class="dropdown-item" href="/new" data-ga-click="Header, create new repository">
  New repository
</a>

<% if view.show_repository_import_link? %>
  <a role="menuitem" class="dropdown-item" href="/new/import" data-ga-click="Header, import a repository">
    Import repository
  </a>
<% end %>

<a role="menuitem" class="dropdown-item" href="<%= gist_root_url %>" data-ga-click="Header, create new gist">
  New gist
</a>

<% if user_can_create_organizations? %>
  <a role="menuitem" class="dropdown-item" href="/organizations/new" data-ga-click="Header, create new organization">
    New organization
  </a>
<% end %>

<% if view.show_org_links? %>
  <div role="none" class="dropdown-divider"></div>
  <div class="dropdown-header">
    <span title="<%= view.organization %>">This organization</span>
  </div>
  <a role="menuitem" class="dropdown-item" href="<%= org_people_path(view.organization, :anchor => "invite-member") %>" data-ga-click="Header, invite someone">
    <%= invite_or_add_action_word %> someone
  </a>
  <a role="menuitem" class="dropdown-item" href="<%= new_team_path(view.organization) %>" data-ga-click="Header, create new team">
    New team
  </a>
  <a role="menuitem" class="dropdown-item" href="<%= new_organization_repository_path(view.organization) %>" data-ga-click="Header, create new organization repository, icon:repo">
    New repository
  </a>
<% end %>

<% if current_repository_writable? && view.show_this_repository? %>
  <div role="none" class="dropdown-divider"></div>
  <div class="dropdown-header">
    <span title="<%= view.repository.name_with_owner %>">This repository</span>
  </div>
  <% if view.show_new_issue_link? %>
    <a role="menuitem" class="dropdown-item" href="<%= choose_issue_path(view.repository.owner, view.repository) %>" data-ga-click="Header, create new issue" data-skip-pjax>
      New issue
    </a>
  <% end %>
  <% if view.show_new_collaborator_link? %>
    <a role="menuitem" class="dropdown-item" href="<%= repository_access_management_path(view.repository.owner, view.repository) %>" data-ga-click="Header, create new collaborator">
      New collaborator
    </a>
  <% end %>
<% end %>

<% if logged_in? && !view.show_this_repository? && !view.organization %>
  <a role="menuitem" class="dropdown-item" href="<%= new_project_path %>" data-ga-click="Header, create new project">
    New project
  </a>
<% end %>
