<% view.instrument_notice_displayed_event! %>
<div class="Popover mt-n2 js-notice">
  <div class="Popover-message Popover-message--large Popover-message--top-left text-gray-dark p-4 mx-auto mb-2 text-left Box box-shadow-large">
    <%= form_tag dismiss_notice_path(view.notice_name), :class => "js-notice-dismiss position-absolute top-0 right-0 m-2 mr-3" do %>
      <%= button_tag nil, type: "submit", class: "btn-link text-gray", "aria-label" => "Dismiss", data: view.hydro_dismissed_attrs do %>
        <%= octicon("x") %>
      <% end %>
    <% end %>
    <p class="text-normal">
      We noticed you started setting up <%= featured_items_string(view.listing_names, truncate_after: 3) %> but didn’t finish.
    </p>
    <%= link_to marketplace_pending_orders_path, class: "btn btn-outline mt-2 text-bold", data: view.hydro_click_attrs do %>
      Finish setup
    <% end %>
  </div>
</div>
