<%# rubocop:disable Lint/InstanceVariable %>

<%
  if !@hide_marketplace_retargeting_notice &&
    view.retargeting_notice_displayable?
%>
  <div class="d-none d-lg-block">
    <%=
      render_partial_view "users/marketplace_retargeting_notice",
        Users::MarketplaceRetargetingNoticeView
    %>
  </div>
<%
  elsif marketplace_pending_installations_notice_enabled? &&
    !@hide_marketplace_pending_installations_notice &&
    view.pending_installations_notice_displayable?
%>
  <div class="d-none d-lg-block">
    <%=
      render_partial_view "users/marketplace_pending_installations_notice",
        Users::MarketplacePendingInstallationsNoticeView
    %>
  </div>
<% end %>
