<%graphql
  fragment User on User {
    mutualFollowers: mutualFollowers(first: 3) {
      totalCount
      nodes {
        ...AvatarHelper::AvatarFragment::Actor
      }
    }
    ...ProfilesHelper::MutualFollowerLoginFragment::User
  }
%>

<%
  user = Views::Users::MutualFollowers::User.new(user)
  GitHub.dogstats.histogram("user.mutual_followers.total_count", user.mutual_followers.total_count)
%>

<% if user.mutual_followers.total_count > 0 %>
  <div class="d-flex mb-3">
    <div class="mr-3 d-flex">
      <% user.mutual_followers.nodes.each do |follower| %>
        <%= graphql_avatar_for(follower, 20, class: "avatar mr-n2 border-white-fade-85 border-left") %>
      <% end %>
    </div>

    <div class="d-flex">
      <div class="text-gray"> Followed by
        <%= mutual_followers_logins(user: user) %>
      </div>
    </div>
  </div>
<% end %>
