<div id="partial-users-participants" class="discussion-sidebar-item">
  <div class="participation">
    <% count = participants_count || participants.size %>
    <%
      max ||= 21
      capped ||= participants[0...max]
    %>

    <div class="discussion-sidebar-heading text-bold">
      <%= number_with_delimiter(count) %> participant<%= 's' unless count == 1 %>
    </div>
    <div class="participation-avatars d-flex flex-wrap">
      <% capped.each do |user| %>
        <%= profile_link user, class: "participant-avatar" do %>
          <%= avatar_for user, 26, class: "avatar" %><%= " " %><%# leave this space for copy/paste username strings %>
        <% end %>
      <% end %>
      <% if count > capped.size %>
        <span class="participation-more">and others</span>
      <% end %>
    </div>
  </div>
</div>
