<% show_octicon = local_assigns.fetch(:show_octicon, true) %>
<% if show_octicon %>
  <%= octicon("star", class: "text-gray-light") %>
<% end %>
<span class="label bg-purple text-uppercase" <%= test_selector("pro-badge") %>>Pro</span>
