<%graphql
  fragment User on User {
    bio
    company
    isPrimaryEmailRolePublic
    location
    websiteUrl
    updateResourcePath
    email
    possibleProfileEmails
    canHaveProBadge
    twitterUsername
  }
%>

<%
  user = Views::Users::ProfileInlineEdit::User.new(user)
%>

<%= form_tag user.update_resource_path.to_s, method: :put, hidden: true, class: "position-relative flex-auto js-profile-editable-form" do %>
  <% if user.can_have_pro_badge? %>
    <%# pro badge %>
    <div class="form-checkbox mt-0">
      <input type="hidden" name="user[pro_badge_enabled]" value="0">
      <input type="checkbox" name="user[pro_badge_enabled]" value="1" id="user_pro_badge_enabled"<% if pro_badge_enabled? %> checked<% end %>>
      <label for="user_pro_badge_enabled">
        Display
        <%= render partial: "users/pro_badge", locals: { show_octicon: false } %>
        badge.
      </label>
    </div>
  <% end %>

  <%# bio %>
  <div class="js-length-limited-input-container">
    <textarea
      class="form-control js-length-limited-input mb-1 width-full js-user-profile-bio-edit"
      name="user[profile_bio]"
      placeholder="Add a bio"
      aria-label="Add a bio"
      rows="3"
      data-input-max-length="<%= Profile::BIO_MAX_LENGTH %>"
      data-warning-text="{{remaining}} remaining"><%= user.bio %></textarea>
    <div class="d-none js-length-limited-input-warning user-profile-bio-message text-right m-0"></div>
  </div>

  <%# company %>
  <div class="text-gray-light mt-2 d-flex flex-items-center">
    <%= octicon(:organization, style: "width: 16px;") %>
    <input class="ml-2 form-control flex-auto input-sm" placeholder="Company" aria-label="Company" name="user[profile_company]" value="<%= user.company %>">
  </div>

  <%# location %>
  <div class="text-gray-light mt-2 d-flex flex-items-center">
    <%= octicon(:location, style: "width: 16px;") %>
    <input class="ml-2 form-control flex-auto input-sm" placeholder="Location" aria-label="Location" name="user[profile_location]" value="<%= user.location %>">
  </div>

  <%# email %>
  <% if user.possible_profile_emails.any? && user.is_primary_email_role_public? %>
    <div class="text-gray-light mt-2 d-flex flex-items-center">
      <% emails = [nil, *user.possible_profile_emails] %>
      <%= octicon(:mail, style: "width: 16px;") %>
      <%= select_tag "user[profile_email]", options_for_select(emails.map { |e| [e, e] }, user.email), class: "form-control ml-2 flex-auto select-sm" %>
    </div>
  <% end %>

  <%# website %>
  <div class="text-gray-light mt-2 d-flex flex-items-center">
    <%= octicon(:link, style: "width: 16px;") %>
    <input class="ml-2 form-control flex-auto input-sm" placeholder="Website" aria-label="Website" name="user[profile_blog]" value="<%= user.website_url %>">
  </div>

  <div class="text-gray-light mt-2 d-flex flex-items-center" >
    <%= svg("site/icons/twitter", height: 16, width: 16, alt: "Twitter") %>
    <input
      class="ml-2 form-control flex-auto input-sm"
      placeholder="Twitter username"
      aria-label="Twitter username"
      name="user[profile_twitter_username]"
      value="<%= user.twitter_username %>"
      <%= test_selector("profile-twitter-username-edit") %>>
  </div>

  <div class="my-3">
    <div class="js-profile-editable-error text-red my-3"></div>
    <button type="submit" class="btn btn-sm btn-primary">Save</button>
    <button type="reset" class="btn btn-sm js-profile-editable-cancel">Cancel</button>
  </div>

<% end %>
