<%# NOTE: A GraphQL version of this partial has been made: quick_info_graphql.html.erb. As pages using this are switched to graphQL, that partial should be used %>

<% if user.profile_company.present? %>
<p class="follow-list-info mb-0"><%= octicon("organization", :class => "text-gray") %> <span class="css-truncate css-truncate-target" title="Works for <%= user.profile_company %>"><%= user.profile_company %></span></p>
<% elsif user.profile_location.present? %>
<p class="follow-list-info mb-0"><%= octicon("location", :class => "text-gray") %> <span class="css-truncate css-truncate-target" title="Is from <%= user.profile_location %>"><%= user.profile_location %></span></p>
<% else %>
<p class="follow-list-info mb-0"><%= octicon("clock", :class => "text-gray") %> Joined on <%= user.created_at.strftime("%b %-d, %Y") %></p>
<% end %>
