<% if !logged_in? && GitHub.signup_enabled? %>
  <signup-prompt class="signup-prompt-bg rounded-1" data-prompt="signup" hidden>
    <div class="signup-prompt p-4 text-center mb-4 rounded-1">
      <div class="position-relative">
        <button
          type="button"
          class="position-absolute top-0 right-0 btn-link link-gray"
          data-action="click:signup-prompt#dismiss"
          data-ga-click="(Logged out) Sign up prompt, clicked Dismiss, text:dismiss"
        >
          Dismiss
        </button>
        <h3 class="pt-4 pt-lg-2">Create your own GitHub profile</h3>
        <p class="col-8 mx-auto">Sign up for your own profile on GitHub, the best place to host code, manage projects, and build software alongside <%= GitHub.mktg_stat_user %> million developers.</p>
        <%= link_to(
          "Sign up",
          signup_path(source: source),
          class: "btn btn-primary",
          "data-ga-click": "Sign up, click to sign up for account, text:Sign up",
          data: sign_up_link_data_attributes(location_in_page: "sign up prompt")
        ) %>
      </div>
    </div>
  </signup-prompt>
<% end %>
