<%= form_tag url_with(before: nil, after: nil, q: view.phrase),
  method: :get, data: { pjax: true }, class: "" do %>
  <div class="d-md-none">
    <input type="search" name="q" value="<%= view.phrase %>"
           class="form-control width-full"
           placeholder="Find repositories&hellip;"
           aria-label="Find repositories&hellip;"
           autocapitalize="off"
           autocomplete="off">
    <button type="submit" class="btn mt-1">
      <%= octicon(:search) %>
      Search
    </button>
  </div>
  <div class="input-group d-none d-md-table">
    <input type="search" name="q" value="<%= view.phrase %>"
           class="form-control"
           placeholder="Find repositories&hellip;"
           aria-label="Find repositories&hellip;"
           autocapitalize="off"
           autocomplete="off">
    <span class="input-group-button">
      <button type="submit" class="btn" aria-label="Search">
        <%= octicon(:search) %>
      </button>
    </span>
  </div>
<% end %>

<h4 class="h5 mt-4 mb-2">Sort</h4>
<ul class="filter-list">
  <% Users::StarsView::SORT_OPTIONS.each do |title, (sort, direction)| %>
    <li>
      <a
        role="menuitem"
        class="filter-item <% if view.selected?(direction, sort) %>selected<% end %>"
        aria-current="<%= view.selected?(direction, sort) %>"
        href="<%= url_with(sort: sort, direction: direction) %>"
      >
        <%= title %>
      </a>
    </li>
  <% end %>
</ul>

<% if view.show_language_filter? %>
  <h4 class="h5 mt-4 mb-2">Languages</h4>
  <ul class="filter-list">
    <% all_languages_url = url_with(language: nil, before: nil, after: nil, direction: nil, sort: nil) %>

    <li>
      <a
        role="menuitem"
        href="<%= all_languages_url %>"
        class="filter-item <% if params[:language].blank? %>selected<% end %>"
        aria-current="<%= params[:language].blank? %>"
      >
        All languages
      </a>
    </li>
    <% view.user_languages.each do |language| %>
      <% language_url = url_with(language: language.downcase, before: nil, after: nil, direction: nil, sort: nil) %>

      <li>
        <a
          role="menuitem"
          href="<%= language_url %>"
          class="filter-item <% if params[:language] == language.downcase %>selected<% end %>"
          aria-current="<%= params[:language] == language.downcase %>"
        >
          <%= language %>
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
