<%graphql
  fragment ContributionsCollection on ContributionsCollection {
    user {
      login
    }
    isSingleDay
    startedAt
    doesEndInCurrentMonth
    mostRecentCollectionWithActivity {
      ...Views::Users::TimeRangeWithActivity::ContributionsCollection
    }
    mostRecentCollectionWithoutActivity {
      hasActivityInThePast
      ...Views::Users::ShowMoreButton::ContributionsCollection
    }
    ...ProfilesHelper::DateRangeFragment::ContributionsCollection
  }
  fragment Organization on Organization {
    name
    ...Views::Users::ShowMoreButton::Organization
    ...Views::Users::TimeRangeWithActivity::Organization
  }
%>
<%
  contrib_collection = Views::Users::TimeRangeWithoutActivity::ContributionsCollection.new(contrib_collection)
  org = Views::Users::TimeRangeWithoutActivity::Organization.new(org)
  date_range = prior_activity_date_range(contrib_collection)
%>

<div class="contribution-activity-listing float-left col-12 <%= "col-lg-10" unless activity_overview_enabled? %>">
  <div class="profile-timeline discussion-timeline width-full pb-4">
    <h3 class="profile-timeline-month-heading bg-white d-inline-block h6 pr-2 py-1">
      <% if contrib_collection.is_single_day? %>
        <%= time_range_with_activity_header(started_at: contrib_collection.started_at, is_single_day: true) %>
      <% else %>
        <%= timeline_month_range(contrib_collection) %> <span class="text-gray"><%= date_range.end.year %></span>
      <% end %>
    </h3>

    <div class="text-center text-gray pt-3">
      <span class="text-gray m-0">
        <% if contrib_collection.does_end_in_current_month %>
          <%= contrib_collection.user.login %> has no activity
          <% if org %>
            in <%= org.name %>
          <% end %>
          yet for this period.
        <% else %>
          <%= contrib_collection.user.login %> had no activity
          <% if org %>
            in <%= org.name %>
          <% end %>
          during this period.
        <% end %>
      </span>
    </div>
  </div>
</div>

<% if contrib_collection.most_recent_collection_with_activity %>
  <%= render partial: "users/time_range_with_activity",
             locals: { contrib_collection: contrib_collection.most_recent_collection_with_activity, org: org,
                       collector: most_recent_collector_with_activity(local_assigns[:collector]) } %>

<% elsif contrib_collection.most_recent_collection_without_activity&.has_activity_in_the_past? %>
  <%= render partial: "users/show_more_button",
             locals: { contrib_collection: contrib_collection.most_recent_collection_without_activity, org: org } %>
<% end %>
