<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Account flagged" %>

<% content_for :head do %>
  <%= octolytics_user_tags(@user) %>
<% end %>

<div class="container-md py-5 px-3">
  <%= render(Primer::BlankslateComponent.new(
      icon: "stop",
      title: "Account flagged",
      description: "Your account has been flagged. If you believe this is a mistake, contact support",
      button_text: "Contact support",
      button_url: contact_path
  )) %>
</div>
