Hello <%= @owner.login %><%= @owner.organization? ? " owners," : "," %>

GitHub has recently implemented new measures to identify and block insecurely generated <%= @key.repository_key? ? "repository deploy" : "SSH" %> keys from being added to <%= @key.repository_key? ? "repositories" : "accounts" %>. GitHub has also analyzed all existing keys that were added before this additional validation was in place.

As a result of these new measures the following key was identified and removed from <%= @key.repository_key? ? @key.repository.nwo : "your account" %>:

<%= @key.title %>
<%= @key.fingerprint %>

The above key was determined to be insecurely generated, possibly due to recently vulnerability in some hardware based SSH key generation and storage technology. We have removed it from your <%= @key.repository_key? ? "repository" : "account" %> to ensure that it cannot be used by any malicious users.

If you have any questions, please contact support by visiting <%= GitHub.url %>/contact or replying to this email. Reference #2868.
