Hello <%= @user %>,

We noticed that an attempt to recovery account access with an account recovery token from <%= @provider_origin %> was unsuccessful.

If you did not perform this action, please contact support by visiting <%= GitHub.url %>/contact or replying to this email.

You can review your tokens at <%= GitHub.url %>/settings/security.

If you need any additional help recovering accounts, please check out our documentation:

<%= GitHub.help_url %><%= DelegatedAccountRecoveryMailer::ACCOUNT_RECOVERY_HELP_URL %>

Thanks,
GitHub.com
