<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Create a takedown</h3>
    <div class="boxed-group-inner">
      <p>Takedowns can be bulk created by uploading the takedown notice and the url to the public takedown on GitHub</p>
      <a href="<%= stafftools_bulk_dmca_takedown_parse_notice_path %>" class="btn">Go To Takedown Creation</a>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Past Takedowns</h3>
    <div class="boxed-group-inner">
      <table class="d-table width-full site-admin-table">
        <thead class="text-left">
          <tr>
            <th>Created At</th>
            <th>Public Notice URL</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>

        <% bulk_dmca_takedowns.each do |takedown| %>
          <tr>
            <td><%= link_to takedown.created_at.strftime("%b %-d, %Y"), stafftools_bulk_dmca_takedown_path(takedown) %></td>
            <td><%= link_to takedown.notice_public_url %></td>
            <td><%= takedown.status %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="paginate-container">
        <%= will_paginate bulk_dmca_takedowns %>
      </div>

    </div>
  </div>
<% end %>
