<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Bulk DMCA Takedown Status</h3>
    <div class="boxed-group-inner">

      <p>Takedown URL: <%= link_to bulk_dmca_takedown.notice_public_url %></p>
      <table class="d-table width-full site-admin-table">
        <thead class="text-left">
          <tr>
            <th>Repo Name</th>
            <th>Job Status</th>
          </tr>
        </thead>
        <tbody class="js-bulk-takedown-status-channel"  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.bulk_takedown_status(bulk_dmca_takedown)) %>">

            <% bulk_dmca_takedown.repositories.each do |repo| %>
              <tr>
                <td><a href="<%= gh_stafftools_repository_path(repo) %>" class="stafftools-repository">
                <%= repo.name_with_owner %></a></td>
                <td id="takedown-status-<%= repo.id %>">
                  <div class="js-disable-repository-access-status" data-repo-id="<%= repo.id %>">
                    <%= bulk_dmca_takedown.takedown_status[repo.id][:user_display_status] %>
                  </div>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
