<%-
  # @comment is an AdvisoryCredit
  # @message is a Newsies::Emails::AdvisoryCredit
-%>
The maintainer of a GitHub respository would like to give you credit for your contributions to a Security Advisory.
<br>
<a href="<%= @message.permalink %>">Review the advisory</a> and accept or decline the credit. 

<%= @message.footer_html %>
<%= @message.json_ld_html %>
