@<%= @message.user.login %> pushed <%= @message.commits.size %> <%= "commit".pluralize(@message.commits.size) %>.

<%- @message.commits.each do |commit| -%>
<%= commit.oid %>  <%= commit.short_message %>
<%- end -%>

<%- if @message.show_diff? -%>
<%- @message.diff_entries.each do |entry| -%>
<%= entry.status_label %> <%= entry.path %>
<%= entry.text && GitHub::Encoding.try_guess_and_transcode(entry.text).gsub(/^/, "> ") %>

<%- end -%>
<%- end -%>

<%= @message.footer %>
