<%- if alert = @message.dependency_update_alert -%>
<%- severity = alert.vulnerability.severity.humanize -%>
This automated pull request fixes a security vulnerability (<%= severity.downcase %> severity):
<%= alert.permalink %>

Learn more about Dependabot security updates:
<%= GitHub.dependabot_help_url %>

--

<%- end -%>
<%= @comment.body -%>

You can view, comment on, or merge this pull request online at:

  <%= @comment.permalink %>

-- Commit Summary --

<%- @comment.changed_commits.each do |commit| -%>
  * <%= commit.short_message %>
<%- end -%>

-- File Changes --

<%- @comment.historical_comparison.diffs.each do |diff| -%>
    <%= diff.status -%> <%= diff.path -%> (<%= diff.changes -%>)
<%- end -%>

-- Patch Links --

<%= @comment.permalink -%>.patch
<%= @comment.permalink -%>.diff

<%= @message.footer %>
