<%graphql
  fragment Sponsorable on Actor {
    avatarUrl(size: 100)
    login
    name
    ...ApplicationHelper::ActorProfileLink::Actor
    ... on Sponsorable {
      viewerIsSponsoring
      viewerCanSponsor
      ...ApplicationHelper::SponsorButton::Sponsorable
    }
    ... on User {
      viewerCanSee: isViewer
    }
    ... on Organization {
      viewerCanSee: viewerCanAdminister
    }
  }
%>

<%
  sponsorable = Views::FundingLinks::LoneSponsorable::Sponsorable.new(sponsorable)
  mobile = local_assigns.fetch(:mobile, false)
  show_sponsors_button = sponsorable.viewer_is_sponsoring? || sponsorable.viewer_can_sponsor? || sponsorable.viewer_can_see?
%>

<div class="Box box-shadow col-12 <%= mobile ? "p-2" : "p-3" %>">
  <div class="d-flex flex-items-center">
    <%= graphql_profile_link(sponsorable, skip_hovercard: true) do %>
      <img src="<%= sponsorable.avatar_url %>" class="<%= avatar_class_names(sponsorable) %> flex-shrink-0 mr-2" width="40" height="40" alt="@<%= sponsorable.login %>">
    <% end %>
    <div class="flex-auto">
      <p class="m-0 h5 <%= "text-small" if mobile %>">
        <%= graphql_profile_link(sponsorable, skip_hovercard: true, class: "text-gray-dark") do %>
          <%= sponsorable.name %>
        <% end %>
      </p>
      <p class="m-0 f6">
        <%= graphql_profile_link(sponsorable, skip_hovercard: true, class: "text-gray-dark") do %>
          <%= sponsorable.login %>
        <% end %>
      </p>
    </div>
    <% if previewing %>
      <span class="btn btn-sm" aria-label="Sponsor @<%= sponsorable.login%>">
        <%= octicon "heart-outline", class: "icon-sponsor text-pink v-align-middle" %>
        <span class="ml-1">Sponsor</span>
      </span>
    <% else %>
      <% if show_sponsors_button %>
        <%
          hydro_button_name = if sponsorable.viewer_is_sponsoring?
            :REPOSITORY_FUNDING_MODAL_SPONSORING
          else
            :REPOSITORY_FUNDING_MODAL_SPONSOR
          end
        %>
        <%=
          graphql_sponsor_button_for(
            sponsorable,
            data: sponsors_button_hydro_attributes(hydro_button_name, sponsorable.login),
          )
        %>
      <% end %>
    <% end %>
  </div>
</div>
