<section class="mr-4 mb-3 no-wrap">
  <header class="h6 text-gray">
    <span <% if label_id %>id="<%= label_id %>"<% end %>><%= label %></span>

    <% if help_content %>
      <details class="dropdown details-reset details-overlay d-inline-block position-relative">
        <summary aria-haspopup="true">
          <%= octicon("question") %>
          <span class="sr-only">What is <%= label %>?</span>
        </summary>
        <div
          class="dropdown-menu dropdown-menu-ne p-3 f5 text-normal ws-normal text-gray-dark"
          style="width: 300px; margin-bottom: 8px; margin-left: -10px"
        >
          <%= help_content %>
        </div>
      </details>
    <% end %>
  </header>

  <% if value_content %>
    <%= value_content %>
  <% elsif value.present? %>
    <% if icon && color %>
      <%= octicon(icon, class: color_class, style: color_style) %>
    <% elsif icon %>
      <%= octicon(icon) %>
    <% elsif color %>
      <%= octicon("primitive-dot", class: "#{color_class} ml-n1", style: color_style) %>
    <% end %>

    <% if link? %>
      <%= link_to value, value %>
    <% else %>
      <span class="user-select-contain <%= "text-mono" if mono? %>"><%= value %></span>
      <% if show_clippy? %>
        <clipboard-copy
          class="btn-link"
          aria-label="Click to copy <%= label %> to clipboard"
          value="<%= value %>"
          data-copy-feedback="Copied!"
          data-tooltip-direction="ne"
          <%= test_selector("clipboard-copy") %>
        >
          <%= octicon("clippy") %>
        </clipboard-copy>
      <% end %>
    <% end %>
    </span>
  <% else %>
    <span class="text-italic text-gray-light"><%= blank_value %></span>
  <% end %>
</section>
