<span
  <%= test_selector("progress-component") %>
  role="progressbar"
  class="Progress d-inline-flex"
  style="<%= bar_style %>"
  title="<%= bar_title %>"
  <% if loading? %>
    aria-label="Progress: loading"
  <% else %>
    aria-labelledby="<%= aria_labelledby %>"
  <% end %>
  aria-valuenow="<%= value %>"
  aria-valuemin="0"
  aria-valuemax="<%= max_value %>"
>
  <div class="bg-<%= color %>" style="width: <%= width_percentage %>%" <%= test_selector(width_percentage, name: "progress-component-percentage") %>></div>
</span>
