<div class="Subhead d-flex">
  <h1 class="Subhead-heading flex-1">
    <% if summary.present? %>
      <%= summary %>
    <% else %>
      <span class="text-gray-light text-italic">No vulnerability summary</span>
    <% end %>
  </h1>

  <% if writable? %>
    <div class="Subhead-actions ml-4 flex-grow-0 flex-shrink-0 flex-self-start">
      <%= link_to octicon("pencil"), edit_path,
          class: "btn-octicon",
          aria: { label: "Edit vulnerability" },
          title: "Edit vulnerability"
      %>

      <% if pending? %>
        <%= button_to "Publish", publish_path,
            method: :put,
            class: "btn btn-primary ml-2",
            form_class: "d-inline",
            data: { confirm: "Are you sure you want to publish this vulnerability? Alerts will be automatically processed for new pushes." }
        %>
      <% elsif published? %>
        <%= button_to "Withdraw", withdraw_path,
            method: :delete,
            class: "btn btn-danger ml-2",
            form_class: "d-inline",
            data: { confirm: "Are you sure you want to withdraw this vulnerability? All associated alerts will be automatically resolved." }
        %>
      <% end %>
    </div>
  <% end %>

  <div class="Subhead-description width-full my-2">
    <% if pending? %>
      <%= render Primer::StateComponent.new(title: "Vulnerability status") do %>
        <%= octicon("shield") %>
        Pending
      <% end %>
    <% elsif published? %>
      <%= render Primer::StateComponent.new(title: "Vulnerability status", color: :green) do %>
        <%= octicon("shield-check") %>
        Published
      <% end %>
    <% elsif withdrawn? %>
      <%= render Primer::StateComponent.new(title: "Vulnerability status", color: :red) do %>
        <%= octicon("shield-x") %>
        Withdrawn
      <% end %>
    <% end %>

    <%= render Repos::Alerts::SeverityLabelComponent.new(severity: severity, title: "Vulnerability severity", variant: :large) %>

    <% if pending? %>
      created
      <%= time_ago_in_words_js(created_at) %>
      by
      <%= profile_link(created_by, class: "text-bold link-gray-dark") %>
    <% elsif published? %>
      published
      <%= time_ago_in_words_js(published_at) %>
      by
      <%= profile_link(published_by, class: "text-bold link-gray-dark") %>
    <% elsif withdrawn? %>
      withdrawn
      <%= time_ago_in_words_js(withdrawn_at) %>
      by
      <%= profile_link(withdrawn_by, class: "text-bold link-gray-dark") %>
    <% end %>
  </div>
</div>

<div class="Box">
  <div class="Box-header pb-0 bg-gray-light d-flex flex-wrap">
    <%= render Stafftools::Vulnerabilities::MetadataPairComponent.new(label: "Visibility", value: visibility, icon: visibility_icon) %>

    <%= render Stafftools::Vulnerabilities::MetadataPairComponent.new(label: "GHSA ID", value: ghsa_id, show_clippy: true) %>

    <%= render Stafftools::Vulnerabilities::MetadataPairComponent.new(label: "CVE ID", value: cve_id, show_clippy: true) %>

    <% if white_source_id.present? %>
      <%= render Stafftools::Vulnerabilities::MetadataPairComponent.new(label: "WhiteSource ID", value: white_source_id) %>
    <% end %>

    <% if external_reference.present? %>
      <%= render Stafftools::Vulnerabilities::MetadataPairComponent.new(label: "External Reference", value: external_reference, link: true) %>
    <% end %>
  </div>

  <div class="Box-body">
    <div class="markdown-body"><%= description_html %></div>
  </div>
</div>

<%= render Stafftools::Vulnerabilities::TimelineItemComponent.new(
      actor: created_by,
      action: "created this vulnerability",
      timestamp: created_at,
      icon: "plus",
    ) do |item| %>
  <% if source.present? %>
    <% item.with(:suffix) do %>
      via <%= source %>
    <% end %>
    <% if repository_advisory %>
      <% item.with(:float) do %>
        <%= link_to "See advisory", repository_advisory.permalink, class: "btn btn-sm btn-outline" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if published_at %>
  <%= render Stafftools::Vulnerabilities::TimelineItemComponent.new(
        actor: published_by,
        action: "published this vulnerability",
        timestamp: published_at,
        icon: "check",
        color: "green",
      ) %>
<% end %>
<% alerting_events.each do |alerting_event| %>
  <% range_count = alerting_event.vulnerable_version_range_alerting_processes.count %>
  <% if alerting_event.processed_at %>
    <%= render Stafftools::Vulnerabilities::TimelineItemComponent.new(
          actor: alerting_event.actor,
          action: "processed alerts for #{pluralize(range_count, "range")}",
          timestamp: alerting_event.processed_at,
          icon: "alert",
        ) %>
  <% else %>
    <%= render Stafftools::Vulnerabilities::TimelineItemComponent.new(
          actor: alerting_event.actor,
          action: "started processing alerts for #{pluralize(range_count, "range")}",
          timestamp: alerting_event.created_at,
          icon: "alert",
        ) %>
  <% end %>
<% end %>
<% if withdrawn_at %>
  <%= render Stafftools::Vulnerabilities::TimelineItemComponent.new(
        actor: withdrawn_by,
        action: "withdrew this vulnerability",
        timestamp: withdrawn_at,
        icon: "x",
        color: "red",
      ) %>
  <div class="TimelineItem-break ml-0"></div>
<% end %>
<div class="discussion-timeline-actions"></div>

<%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
  <% component.slot(:heading, tag: :h2) do %>Vulnerable version ranges<% end %>
  <% if writable? %>
    <% component.slot(:actions) do %>
      <%= link_to octicon("plus"), new_vulnerable_version_range_path,
          class: "btn-octicon",
          aria: { label: "Add vulnerable version range" },
          title: "Add vulnerable version range"
      %>

      <% if alert_processing_disabled? %>
        <span class="btn ml-2 disabled">
          Process all alerts
          <span class="dropdown-caret"></span>
        </span>
      <% else %>
        <details class="details-reset details-overlay d-inline-block position-relative">
          <summary class="btn ml-2">
            Process all alerts
            <span class="dropdown-caret"></span>
          </summary>
          <details-menu class="SelectMenu right-0" role="menu">
            <div class="SelectMenu-modal">
              <div class="SelectMenu-list border-top-0">
                <%= button_to(process_alerts_path,
                      method: :put,
                      class: "SelectMenu-item d-block",
                      role: "menuitem",
                      data: { confirm: "Are you sure you want to process alerts for all ranges of this vulnerability with email notifications?" },
                    ) do
                %>
                  <h5 class="text-gray-dark">
                    <%= octicon("bell") %>
                    Deliver email notifications
                  </h5>
                  <div>Users will receive web and email notifications.</div>
                <% end %>

                <%= button_to(process_alerts_path,
                      method: :put,
                      class: "SelectMenu-item d-block",
                      role: "menuitem",
                      data: { confirm: "Are you sure you want to process alerts for all ranges of this vulnerability without email notifications?" },
                      params: { skip_email: true },
                    ) do
                %>
                  <h5 class="text-red">
                    <%= octicon("bell-slash") %>
                    Skip email notifications
                  </h5>
                  <div>Users will only receive web notifications.</div>
                <% end %>
              </div>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="Box">
  <% if vulnerable_version_ranges.any? %>
    <% vulnerable_version_ranges.each do |vulnerable_version_range| %>
      <%= render Stafftools::Vulnerabilities::VulnerableVersionRangeComponent.new(
        vulnerable_version_range: vulnerable_version_range,
      ) %>
    <% end %>
  <% else %>
    <div class="Box-body">
      <div class="blankslate">
        <%= octicon "alert", class: "blankslate-icon", height: 32 %>
        <%= octicon "package", class: "blankslate-icon", height: 32 %>
        <%= octicon "versions", class: "blankslate-icon", height: 32 %>
        <h3>There are no vulnerable version ranges</h3>
        <% if writable? %>
          <%= link_to "Add a vulnerble version range", new_vulnerable_version_range_path, class: "btn btn-outline mt-3" %>
        <% end %>
      <div>
    </div>
  <% end %>
</div>
