<div class="TimelineItem" <%= test_selector("timeline-item-component") %>>
  <% if color %>
    <div class="TimelineItem-badge bg-<%= color %> text-white"><%= octicon(icon) %></div>
  <% else %>
    <div class="TimelineItem-badge"><%= octicon(icon) %></div>
  <% end %>

  <div class="TimelineItem-body">
    <%= linked_avatar_for(actor, 20, img_class: "avatar") %>
    <%= profile_link(actor, class: "author link-gray-dark text-bold") %>
    <%= bot_identifier(actor) %>
    <%= action %>
    <%= time_ago_in_words_js(timestamp) %>
    <%= suffix %>

    <% if float %>
      <div class="float-right">
        <%= float %>
      </div>
    <% end %>
  </div>
</div>
