<% _check_run_name, line_items = line_item_group %>
<% if line_items.count > 1 %>
  <%# This happens when a job has re-runs. So we display as a group using Details/Summary %>
  <details class="details-reset text-small">
    <summary>
      <div class="d-inline-flex pb-1 width-full">
        <div class="col-6 text-bold">
          <%= line_items.first.check_run.display_name %>
          <span class="text-gray-light text-normal">(<%= line_items.count %> runs)</span>
          <span class="dropdown-caret"></span>
        </div>
        <div class="col-2"><%= line_items.first.job_runtime_environment %></div>
        <div class="col-2 text-right">
          <%= precise_duration(line_items.sum { |line_item| line_item.check_run.duration }) %>
        </div>
        <div class="col-2 text-right">
          <%= precise_duration(line_items.sum { |line_item| line_item.duration_in_seconds }) %>
        </div>
      </div>
    </summary>
    <% line_items.each_with_index do |line_item, index| %>
      <div class="d-flex flex-row width-full text-gray-light pb-1 text-small">
        <div class="col-6"><span class="pl-3 text-normal">Run <%= index + 1 %></span></div>
        <div class="col-2"></div>
        <div class="col-2 text-right">
          <%= precise_duration(line_item.check_run.duration) %>
        </div>
        <div class="col-2 text-right">
          <%= precise_duration(line_item.duration_in_seconds) %>
        </div>
      </div>
    <% end %>
  </details>
<% else %>
  <% line_item = line_items.first %>
  <div class="d-flex flex-row width-full pb-1 text-small">
    <div class="col-6 text-bold"><%= line_item.check_run.display_name %></div>
    <div class="col-2"><%= line_item.job_runtime_environment %></div>
    <div class="col-2 text-right">
      <%= precise_duration(line_item.check_run.duration) %>
    </div>
    <div class="col-2 text-right">
      <%= precise_duration(line_item.duration_in_seconds) %>
    </div>
  </div>
<% end %>
