Your listing "<%= @listing.name %>" has been rejected for Works with GitHub.

<%- if @message.present? -%>
-------------------

A note from GitHub:

<%= @message %>

-------------------

<%- end -%>
Please feel free to contact us at <%= GitHub.partnerships_email %> if you have any questions or concerns.

Thanks,
GitHub Team
