<% filter_field_id = "saved-reply-filter-field-#{SecureRandom.hex(4)}" %>
<% default_replies = replies.select(&:default?) %>
<% user_replies = replies - default_replies %>

<fuzzy-list>
  <div class="select-menu-filters border-bottom p-2">
    <input
      type="text"
      id="<%= filter_field_id %>"
      class="form-control js-saved-reply-filter-input width-full"
      placeholder="Filter replies&hellip;"
      aria-label="Choose a saved reply"
      autofocus>
  </div>

  <div class="select-menu-list">
    <ul role="none">
      <% index = 0 %>
      <% user_replies.each do |reply| %>
        <% index += 1 %>
        <%= render partial: "settings/user/replies/reply", locals: { reply: reply, index: index } %>
      <% end %>

      <% if default_replies.any? %>
        <div class="select-menu-divider js-divider" role="none">Default replies</div>
      <% end %>
      <% default_replies.each do |reply| %>
        <% index += 1 %>
        <%= render partial: "settings/user/replies/reply", locals: { reply: reply, index: index } %>
      <% end %>
    </ul>

    <a href="<%= saved_replies_path return_to: 1 %>" class="select-menu-item select-menu-action" role="menuitem">
      <span class="select-menu-item-text">Create a new saved reply…</span>
    </a>
  </div>
  <!-- Temporary workaround for .select-menu-item having no border because they
       are all .select-menu-list:last-child .select-menu-item:last-child -->
  <div class="select-menu-list"></div>
</fuzzy-list>
