<%= form_for reply, method: reply.persisted? ? :put : :post, html: {"aria-label": "Add a saved reply"} do %>
  <% if defined?(return_to) && return_to.present? %>
    <input type="hidden" name="return_to" value="<%= return_to %>">
  <% end %>

  <dl class="form-group">
    <dt><label for="saved-reply-title-field">Saved reply title</label></dt>
    <dd><input id="saved-reply-title-field" class="input-block form-control" type="text" required autofocus placeholder="Add a short title to your reply" name="title" value="<%= reply.title %>"></dd>
  </dl>

  <div class="saved-reply-form">
    <%= previewable_comment_form reply.body, {
          :field_name => "body",
          :required => true,
          :allow_attachments => true,
          :current_commit => nil,
          :placeholder => "Add your saved reply",
          :session_resumable => false
        }
    %>

    <div class="form-actions">
      <% if reply.title.nil? %>
        <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>Add saved reply</button>
      <% else %>
        <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>Update saved reply</button>
        <%= link_to "Cancel", :back, :class => "btn" %>
      <% end %>
    </div>
  </div>
<% end %>
