<% page_info responsive: false, :title => 'Saved replies' %>

<%= render layout: "settings/settings" do %>
  <div class="settings-next">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Saved replies<% end %>
    <% end %>
  </div>

  <p>
    Saved replies are re-usable text snippets that you can use throughout GitHub comment fields.
    Saved replies can save you time if you’re often typing similar responses.
    <a href="<%= GitHub.help_url %>/articles/working-with-saved-replies/">Learn more</a>.
  </p>
  <div class="saved-reply-settings-container mt-4 js-saved-reply-container <%= "has-replies" if replies.any? %>">
    <div class="listgroup">
      <% replies.each_with_index do |reply, index| %>
        <div class="listgroup-item listgroup-item-preview js-saved-reply-list-item">
          <div class="BtnGroup float-right">
            <%= form_tag edit_saved_reply_path(reply), :method => :get, :class => "BtnGroup-parent" do %>
              <button type="submit" class="btn btn-sm BtnGroup-item" aria-label="Edit reply">
                <%= octicon("pencil") %>
              </button>
            <% end %>
            <%= form_tag saved_reply_path(reply), :method => :delete, :class => "js-saved-reply-delete BtnGroup-parent" do %>
              <button type="submit" class="btn btn-sm BtnGroup-item btn-danger" aria-label="Delete reply">
                <%= octicon("x") %>
              </button>
            <% end %>
          </div>
          <span class="listgroup-item-title css-truncate">
            <span class="text-gray-dark css-truncate-target">
              <%= reply.title %>
            </span>
          </span>
          <span class="listgroup-item-body css-truncate">
            <span class="css-truncate-target"><%= reply.body %></span>
          </span>
        </div>
      <% end %>
    </div>

    <div class="blankslate text-gray">
      No saved replies yet.
    </div>
  </div>

  <div class="settings-next">
    <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Add a saved reply<% end %>
    <% end %>
  </div>

  <%= render :partial => 'settings/user/replies/reply_form', :locals => { :reply => reply, :return_to => return_to }  %>
<% end %>
