<% new_setup_recovery_codes ||= [] %>
<% new_setup = new_setup_recovery_codes.any? %>
<%
  recovery_codes = if new_setup
    new_setup_recovery_codes
  else
    this_business.saml_provider.formatted_recovery_codes
  end
%>

<div class="container-sm mx-auto mt-6">
  <div class="Box mb-3">
    <h3 class="Box-row">
      SAML SSO Recovery codes
      <%= octicon "mark-github", class: "float-right two-factor-recovery-code-mark" %>
    </h3>
    <ul class="Box-row two-factor-recovery-codes">
      <% recovery_codes.each do |code| %>
        <li class="two-factor-recovery-code"><%= code %></li>
      <% end %>
    </ul>
    <div class="Box-footer Box-row--gray">
      <%= GitHub.flavor %> SAML SSO recovery codes for the <%= this_business.name %> enterprise.
    </div>
  </div>
</div>
