<% new_setup_recovery_codes ||= [] %>
<% new_setup_saml_params ||= {} %>
<% new_setup = new_setup_recovery_codes.any? %>
<%
  recovery_codes = if new_setup
    new_setup_recovery_codes
  else
    this_business.saml_provider.formatted_recovery_codes
  end
%>
<div class="container-sm mx-auto mt-6">
  <div class="settings-next">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Single sign-on recovery codes<% end %>
    <% end %>
    <p class="two-factor-lead">
      <strong>Put these in a safe spot.</strong> If your identity provider is unavailable and
      you don’t have a recovery code you will lose access. A recovery code grants access
      for 24 hours and can only be used once.
    </p>
    <div class="two-factor-steps">
      <h3>Recovery codes</h3>
      <p class="note">
        Treat your recovery codes with the same level of attention as you would your password!
        We recommend saving them with a password manager such as
        <a href="https://lastpass.com/" target="_blank" rel="noopener noreferrer">Lastpass</a>,
        <a href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>, or
        <a href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
      </p>

      <ul class="two-factor-recovery-codes">
        <% recovery_codes.each do |code| %>
          <li class="two-factor-recovery-code"><%= code %></li>
        <% end %>
      </ul>

      <div class="recovery-codes-saving-options mb-4">
        <%= form_tag settings_saml_provider_download_recovery_codes_enterprise_path(this_business), class: "d-inline" do -%>
          <button class="btn btn-outline mr-3 js-enable-enable-saml-provider-button recovery-code-save-button" type="submit">
            <%= octicon "desktop-download" %>
            Download
          </button>
        <% end -%>

        <a href="<%= settings_saml_provider_print_recovery_codes_enterprise_path(this_business) %>"
          target=""
          class="btn btn-outline js-enable-enable-saml-provider-button recovery-code-save-button">
          <%= octicon "file" %>
          Print
        </a>

        <clipboard-copy
            value="<%= recovery_codes.join("\s\n") %>"
            class="btn btn-outline js-enable-enable-saml-provider-button recovery-code-save-button">
          <%= octicon("clippy") %>
          Copy
        </clipboard-copy>
      </div>
    </div>
    <% if new_setup %>
      <div class="d-flex flex-items-center">
        <div>
        <%= form_tag settings_saml_provider_enterprise_path(this_business), method: :put do %>
          <%= hidden_field_tag "saml[sso_url]", new_setup_saml_params[:sso_url] %>
          <%= hidden_field_tag "saml[issuer]", new_setup_saml_params[:issuer] %>
          <%= hidden_field_tag "saml[idp_certificate]", new_setup_saml_params[:idp_certificate] %>
          <%= hidden_field_tag "saml[digest_method]", new_setup_saml_params[:digest_method] %>
          <%= hidden_field_tag "saml[signature_method]", new_setup_saml_params[:signature_method] %>
          <%= hidden_field_tag "saml[recovery_secret]", new_setup_saml_params[:recovery_secret] %>
          <%= hidden_field_tag "recovery_codes_viewed", true %>
          <button type="submit" class="btn btn-primary js-enable-saml-provider-button" disabled>
            Enable SAML authentication
          </button>
        <% end %>
        </div>
        <div class="note ml-2 js-enable-saml-provider-instruction">
          You must save the recovery codes above first.
        </div>
      </div>
    <% else %>
      <strong>Generate new recovery codes</strong>
      <p class="note mb-3">
        When you generate new recovery codes, you must download or print the
        new codes. Your old codes won’t work anymore.
      </p>
      <%= form_tag settings_saml_provider_regenerate_recovery_codes_enterprise_path(this_business), method: :put do %>
        <button type="submit" class="btn">Generate new recovery codes</button>
      <% end %>
    <% end %>
    <hr>
    <p>
      <a href="<%= settings_security_enterprise_path(this_business) %>">Back to settings</a>
    </p>
  </div>
</div>
