<%
  feedback_event = "feature_preview.clicks.feedback"
%>

<div>
  <div class="d-flex mb-3">
    <h3 class="text-gray-dark flex-auto"><%= feature.public_name %></h3>
    <%= render "feature_preview/on_off", on: enrollments[feature.id][:enabled], feature_id: feature.id, feature_slug: feature.slug %>
  </div>

  <% if enrollments[feature.id][:opted_out] %>
    <div class="mt-3 mb-3 flash flash-warn">
      <strong>Feature disabled.</strong> Please
      <% hydro_attributes = hydro_click_tracking_attributes(feedback_event, { feature_slug: feature.slug, display_location: "callout" }) %>
      <a href="<%= feature.feedback_url %>" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">give feedback</a> so we can improve it!
    </div>
  <% end %>

  <% unless feature.image_link.blank? %>
    <img src="<%= feature.image_link %>" class="width-fit border border-black-fade rounded-2" width="100%" alt="<%= feature.slug %>">
  <% end %>

  <% unless feature.description.blank? %>
    <p class="mt-3 mb-0">
      <%= feature.description %>
    </p>
  <% end %>
  <div class="mt-3">
    <% unless feature.documentation_link.blank? %>
      <% hydro_attributes = hydro_click_tracking_attributes("feature_preview.clicks.documentation", { feature_slug: feature.slug }) %>
      <a href="<%= feature.documentation_link.to_s %>" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">Documentation</a>
      <span class="text-gray">&bull;</span>
    <% end %>
    <% hydro_attributes = hydro_click_tracking_attributes(feedback_event, { feature_slug: feature.slug, display_location: "permanent" }) %>
    <a href="<%= feature.feedback_url %>" class="text-bold" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">Give feedback</a>
  </div>
</div>
