<div>
  <% if on %>
    <%= form_tag feature_previews_unenroll_path(feature_id: feature_slug), class: "js-feature-preview-unenroll", method: :patch, "data-replace-remote-form": true do %>
      <input type="hidden" class="js-feature-preview-slug" name="selected_slug" value="<%= feature_slug %>">
      <button type="submit" class="btn">Disable</button>
    <% end %>
  <% else %>
    <%= form_tag feature_previews_enroll_path(feature_id: feature_slug), class: "js-feature-preview-enroll", method: :patch, "data-replace-remote-form": true do %>
      <input type="hidden" class="js-feature-preview-slug" name="selected_slug" value="<%= feature_slug %>">
      <button type="submit" class="btn">Enable</button>
    <% end %>
  <% end %>
</div>
