<%graphql
fragment Dependent on DependencyGraphDependent {
  name
  repository {
    name
    resourcePath
    ...HovercardHelper::DataAttributesFragment::Repository
    owner {
      login
      resourcePath
      avatarUrl(size: 40)
      ...HovercardHelper::DataAttributesFragment::RepositoryOwner
    }
    forks {
      totalCount
    }
    stargazers {
      totalCount
    }
  }
}
%>

<%
  dependent            = Views::Network::Dependent::Dependent.new(dependent)
  dependent_repository = dependent.repository
  owner                = dependent_repository&.owner
%>

<% if dependent_repository %>
  <div class="Box-row d-flex flex-items-center">
    <%= image_tag(owner.avatar_url.to_s, width: 20, height: 20, class: "#{avatar_class_names(owner)} mr-2", alt: "") %>

    <span class="f5 text-gray-light" data-repository-hovercards-enabled>
      <%= link_to owner.login, owner.resource_path.to_s, data: hovercard_data_attributes_for_repository_owner(owner) %> /
      <%= link_to dependent_repository.name, dependent_repository.resource_path.to_s, class: "text-bold", data: hovercard_data_attributes_for_repository(dependent_repository) %>
      <% if dependent_repository.name != dependent.name %>
        <small><%= dependent.name %></small>
      <% end %>
    </span>
    <div class="d-flex flex-auto flex-justify-end">
      <span class="text-gray-light text-bold pl-3">
        <%= octicon("star") %>
        <%= number_with_delimiter(dependent_repository.stargazers.total_count) %>
      </span>
      <span class="text-gray-light text-bold pl-3">
        <%= octicon("repo-forked") %>
        <%= number_with_delimiter(dependent_repository.forks.total_count) %>
      </span>
    </div>
  </div>
<% elsif dependent.name.present? %>
  <div class="Box-row d-flex flex-items-center">
    <%= avatar_for(nil, 20, class: "avatar mr-2") %>

    <span class="f5 text-gray-light text-bold">
      <%= dependent.name %>
    </span>
  </div>
<% end %>
