<div class="tabnav">
  <nav class="tabnav-tabs" aria-label="Dependency graph menu">
    <%= selected_link_to "Dependencies", network_dependencies_path, :class => "tabnav-tab" %>
    <%= selected_link_to "Dependents", network_dependents_path, :class => "tabnav-tab" %>
    <% if current_repository.automated_dependency_updates_visible_to?(current_user) %>
      <%= selected_link_to network_dependabot_path, :highlight => [:dependabot_updates],  :class => "tabnav-tab" do %>
        Dependabot <%= render GitHub::BetaFlagComponent.new(font_weight: :normal, font_size: 6) %>
      <% end %>
    <% end %>
  </nav>
</div>
