<div class="blankslate blankslate-spacious">
  <%= octicon "versions", :height => 32, :class => "blankslate-icon" %>
  <%= octicon "package", :height => 32, :class => "blankslate-icon" %>
  <%= octicon "hubot", :height => 32, :class => "blankslate-icon" %>

  <% if current_repository.adminable_by?(current_user) %>
    <h3>Enable Dependabot</h3>
    <p class="text-small">
    <% if current_repository.fork? %>
      Dependabot isn't enabled on forks by default
    <% else %>
      Dependabot isn't enabled
    <% end %>

    <%= form_tag network_enable_dependabot_path, :method => :put do %>
      <button class="btn btn-primary" type="submit">Enable Dependabot</button>
    <% end %>
    </p>
  <% elsif current_repository.owner.is_a?(Organization) %>
    <h3>Dependabot is not enabled</h3>
    <p class="text-small">
      Dependabot has not yet been enabled by an organization owner
      or a user with admin permissions for this repository. Once enabled, you will
      automatically receive pull requests for outdated dependencies.
    </p>
  <% else %>
    <h3>Dependabot is not enabled</h3>
    <p class="text-small">
      The owner of this repository has not enabled dependabot yet. Once enabled, you will
      automatically receive pull requests for outdated dependencies.
    </p>
  <% end %>
</div>
