<%
  num_manifests = manifests.count
  num_max_allowed_manifests = current_repository.max_manifest_files

  num_max_visible_manifests = NetworkController::MANIFESTS_PER_PAGE

  high_limit_enabled = num_max_allowed_manifests == Repository::DependenciesDependency::MAX_MANIFEST_FILES_HIGH
  has_invisible_manifests = num_manifests >= num_max_visible_manifests
  manifest_limit_reached = num_manifests >= num_max_allowed_manifests
%>

<% if high_limit_enabled %>
  <% if has_invisible_manifests %>
    <div class="flash mb-4">
      <p>You have reached the maximum number of visible manifests (<%= num_max_visible_manifests %>), however we will parse up to <%= num_max_allowed_manifests %> manifest files for this repository. Although they won't be displayed in this page, you will still receive Dependabot alerts and notifications.</p>
    </div>
  <% end %>
<% else %>
  <% if manifest_limit_reached %>
    <div class="flash mb-4">
      <p>You have reached the maximum number of allowed manifest files (<%= num_max_allowed_manifests %>) for this repository.</p>
    </div>
  <% end %>
<% end %>
