<%graphql
fragment Manifests on Repository {
  nameWithOwner
  defaultBranch

  manifests: dependencyGraphManifests(
    first: $first,
    includeDependencies: true,
    dependenciesFirst: $dependenciesFirst,
    dependenciesAfter: $dependenciesAfter,
    dependenciesPrefers: $dependenciesPrefers
  ) {
    nodes {
      filename
      parseable
      dependenciesCount
      ...Views::Network::DependenciesList::Manifest
    }
  }
}
%>

<%
  repository = Views::Network::Dependencies::Manifests.new(repository)
  manifests = repository.manifests.nodes
  no_manifests = manifests.none?
  no_dependencies = manifests.none?
  current_repo = current_repository
%>
<% page_info \
    container_xl: true,
    responsive: false,
    selected_link: :dependency_graph,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Dependencies · #{repository.name_with_owner}" %>

<%= render layout: "layouts/repository/insights" do %>

  <div id="dependencies">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Dependency graph<% end %>
    <% end %>

    <%= render partial: "network/dependency_tabs" %>

    <% if !current_repo.dependency_graph_enabled? %>
      <%= render partial: "network/dependency_graph_disabled" %>
    <% else %>
      <% if current_repo.show_vulnerability_alerts_banner?(user) %>
        <div class="mb-3">
          <%= render "files/dependency_alert", { commit: commit, parent_page: "network/dependencies" } %>
        </div>
      <% end %>

      <% if dependencies_loading %>
        <div class="blankslate blankslate-spacious blankslate-large js-loading-manifest-dependencies Box border-gray-light">
          <div class="LoadingDependencies">
            <%= octicon "versions", :height => 32, :class => "blankslate-icon" %>
            <%= octicon "package", :height => 32, :class => "blankslate-icon" %>
            <%= octicon "hubot", :height => 32, :class => "blankslate-icon" %>
          </div>
          <div class="LoadingDependencies--loading">
            <%= octicon "package", :height => 48, :class => "blankslate-icon" %>
            <%= octicon "package", :height => 48, :class => "blankslate-icon" %>
          </div>
          <h3 class="mb-4">Loading <%= current_repo %>’s dependencies...</h3>
        </div>
      <% elsif dependencies_timedout %>
        <div class="blankslate blankslate-spacious blankslate-large Box border-gray-light">
          <%= octicon("watch", height: 48, class: "blankslate-icon") %>
          <h3>The dependency graph is taking too long to respond</h3>
          <p>We’re working on fixing this issue as soon
            as possible. Please try again later.</p>
        </div>
      <% elsif dependencies_unavailable %>
        <div class="blankslate blankslate-spacious blankslate-large Box border-gray-light">
          <%= octicon("hubot", height: 32, class: "blankslate-icon") %>
          <%= octicon("file-code", height: 32, class: "blankslate-icon") %>
          <%= octicon("stop", height: 32, class: "blankslate-icon") %>
          <h3>We couldn’t load your dependencies</h3>
          <p>
            We tried to load the dependencies from your manifest files, but were
            not successful. To use the dependency graph, your repository must define dependencies in
            <a href="<%= GitHub.help_url %>/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems"
              target="_blank">one of the supported manifest file types</a> with standard formatting.</p>
        </div>
      <% elsif no_manifests %>
        <div class="blankslate blankslate-spacious blankslate-large Box border-gray-light">
          <%= octicon("hubot", height: 32, class: "blankslate-icon") %>
          <%= octicon("file-code", height: 32, class: "blankslate-icon") %>
          <%= octicon("stop", height: 32, class: "blankslate-icon") %>
          <h3>No manifest files found</h3>
          <p>
            To enable the dependency graph, your repository must define dependencies in
            <a href="<%= GitHub.help_url %>/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems"
              target="_blank">one of the supported manifest file types</a>, like <code>package.json</code> or <code>Gemfile</code>.
          </p>
        </div>
      <% elsif no_dependencies %>
        <div class="blankslate blankslate-spacious blankslate-large Box border-gray-light">
          <%= octicon("hubot", height: 32, class: "blankslate-icon") %>
          <%= octicon("code", height: 32, class: "blankslate-icon") %>
          <%= octicon("stop", height: 32, class: "blankslate-icon") %>
          <h3>No dependencies found</h3>
          <p>
            To enable the dependency graph, your repository must define dependencies in
            <a href="<%= GitHub.help_url %>/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems"
              target="_blank">one of the supported manifest file types</a>, like <code>package.json</code> or <code>Gemfile</code>.
          </p>
        </div>
      <% else %>
        <p class="mb-3">These dependencies are defined in <strong><%= current_repo %></strong>’s
          manifest files, such as
          <% links = manifests.first(3).map { |m| link_to_network_dependencies_from_path(m.filename, class: "text-bold") } %>
          <%= html_safe_to_sentence(links) %>.
        </p>

        <% if current_repo.adminable_by?(user) %>
          <%= render partial: "network/manifest_limits", locals: { manifests: manifests }  %>
        <% end %>

        <% manifests.each do |manifest| %>
          <div class="Box mb-3" id="<% manifest_file_path_anchor(manifest.filename) %>">
            <div class="Box-header clearfix border-bottom-0">
              <div class="table-list-filters">
                <div class="table-list-header-toggle states float-left pl-0 text-gray-dark">
                  <%= octicon "package", class: "mr-2 text-gray-light" %>
                  Dependencies defined in
                  <%= link_to short_manifest_file_path(manifest.filename), blob_view_path(manifest.filename, repository.default_branch), {
                    class: "link-gray-dark text-bold",
                    'data-octo-click': "dep_graph_manifest",
                    title: manifest.filename
                  } %>
                  <% if manifest.parseable? %>
                    <%= render Primer::CounterComponent.new(count: manifest.dependencies_count, hide_if_zero: true, vertical_align: :middle) %>
                  <% end %>
                </div>
              </div>
            </div>
            <%= render partial: "network/dependencies_list", locals: { manifest: manifest, current_repository: current_repository, default_branch: repository.default_branch }%>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "graphs" %>
<% end %>
