<%graphql
  fragment Packages on Repository {
    name
    isPrivate
    packageNames: dependencyGraphPackages(first: 100) {
      edges {
        node {
          packageId
          name
          packageManagerHumanName
        }
      }
    }

    packages: dependencyGraphPackages(
      first: 1,
      packageId: $packageId,
      includeDependents: true,
      dependentType: $dependentType,
      dependentsFirst: $dependentsFirst,
      dependentsAfter: $dependentsAfter,
      dependentsLast: $dependentsLast,
      dependentsBefore: $dependentsBefore,
    ) {
      edges {
        node {
          packageId
          name
          repositoryDependentsCount
          packageDependentsCount
          dependents {
            ...Views::Network::Dependent::Dependent
          }
          dependentsPageInfo {
            ...ApplicationHelper::CursorPaginate
          }
        }
      }
    }
  }
%>

<%
  repository                  = Views::Network::Dependents::Packages.new(repository)
  package                     = repository.packages.edges[0]&.node
  package_dependent_type      = PlatformTypes::DependencyGraphDependentType::PACKAGE
  repo_dependent_type         = PlatformTypes::DependencyGraphDependentType::REPOSITORY
  package_dependents_selected = dependent_type == package_dependent_type
  repo_dependents_selected    = dependent_type == repo_dependent_type
  package_dependents_path     = network_dependents_path(package_id: package_id, dependent_type: package_dependent_type)
  repo_dependents_path        = network_dependents_path(package_id: package_id, dependent_type: repo_dependent_type)
%>

<%
  page_info \
    container_xl: true,
    responsive: false,
    selected_link: :dependency_graph,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  page_title "Network Dependents · #{current_repository.name_with_owner}"
%>

<%= render layout: "layouts/repository/insights" do %>
  <div id="dependents">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Dependency graph<% end %>
    <% end %>
    <%= render partial: "network/dependency_tabs" %>
    <% if repository.package_names&.edges&.many? %>
      <details class="select-menu float-right position-relative details-reset details-overlay">
        <summary class="btn btn-sm select-menu-button">
          <i>Package:</i> <%= package&.name %>
        </summary>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
          <div class="select-menu-header">
            <span class="select-menu-title">Packages</span>
          </div>
          <div class="select-menu-list">
            <% names = repository.package_names.edges.map(&:node).map(&:name) %>
            <% repository.package_names.edges.each_with_index do |edge, i| %>
              <%
                disambiguation = if names.grep(edge.node.name).many?
                   content_tag(:small, class: "text-gray-light") do
                     " - #{edge.node.package_manager_human_name}"
                   end
                end
              %>
              <% selected = package&.package_id == edge.node.package_id %>
              <a
                href="<%= network_dependents_path(package_id: edge.node.package_id) %>"
                class="select-menu-item" role="menuitemradio"
                aria-checked="<%= selected %>">
                <%= octicon("check", class: "select-menu-item-icon") %>
                <span class="select-menu-item-text">
                  <%= edge.node.name %>
                  <%= disambiguation %>
                </span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <% if package %>
      <p class="mb-4">Repositories that depend on <strong><%= package.name %></strong></p>
    <% end %>

    <% if dependents_unavailable %>
      <div class="blankslate blankslate-spacious blankslate-large bg-white Box border-gray-light">
        <div class="border-bottom bg-gray-light p-3 position-absolute top-0 left-0 width-full">
          <div class="table-list-filters">
            <div class="table-list-header-toggle states float-left pl-0">
              <%= link_to repo_dependents_path, class: "btn-link #{"selected" if repo_dependents_selected}" do %>
                <%= octicon("gist") %>
                ? Repositories
              <% end %>
              <%= link_to package_dependents_path, class: "btn-link #{"selected" if package_dependents_path}" do %>
                <%= octicon("package") %>
                ? Packages
              <% end %>
            </div>
          </div>
        </div>

        <% if package_dependents_selected %>
          <%= octicon("package", height: 48, class: "blankslate-icon mt-4") %>
          <h3>Packages dependents are currently unavailable.</h3>
          <p>Please try again later.</p>
        <% elsif repo_dependents_selected %>
          <%= octicon("gist", height: 48, class: "blankslate-icon mt-4") %>
          <h3>Repository dependents are currently unavailable.</h3>
          <p>Please try again later.</p>
        <% end %>
      </div>
    <% elsif !package || package.dependents.none? %>
      <div class="blankslate blankslate-spacious blankslate-large bg-white Box border-gray-light">
        <div class="border-bottom bg-gray-light p-3 position-absolute top-0 left-0 width-full">
          <div class="table-list-filters">
            <div class="table-list-header-toggle states float-left pl-0">
              <%= link_to repo_dependents_path, class: "btn-link #{"selected" if repo_dependents_selected}" do %>
                <%= octicon("gist") %>
                <% if package %>
                  <%= number_with_delimiter(package.repository_dependents_count) %>
                  <%= 'Repository'.pluralize(package.repository_dependents_count) %>
                <% else %>
                  0 Repositories
                <% end %>
              <% end %>
              <%= link_to package_dependents_path, class: "btn-link #{"selected" if package_dependents_selected}" do %>
                <%= octicon("package") %>
                <% if package %>
                  <%= number_with_delimiter(package.package_dependents_count) %>
                  <%= 'Package'.pluralize(package.package_dependents_count) %>
                <% else %>
                  0 Packages
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <%= octicon(package_dependents_selected ? "package" : "gist", height: 48, class: "blankslate-icon mt-4") %>
        <% if repository.is_private? %>
          <p>GitHub does not currently determine the dependents of private repositories</p>
        <% else %>
          <h3>We haven’t found any dependents for this repository yet.</h3>
          <p>We’ll keep looking!</p>
        <% end %>
      </div>
    <% else %>
      <div class="Box">
        <div class="Box-header clearfix">
          <div class="table-list-filters">
            <div class="table-list-header-toggle states float-left pl-0">
              <%= link_to repo_dependents_path, class: "btn-link #{"selected" if repo_dependents_selected}" do %>
                <%= octicon("gist") %>
                <%= number_with_delimiter(package.repository_dependents_count) %>
                <%= 'Repositories'.pluralize(package.repository_dependents_count) %>
              <% end %>
              <%= link_to package_dependents_path, class: "btn-link #{"selected" if package_dependents_selected}" do %>
                <%= octicon("package") %>
                <%= number_with_delimiter(package.package_dependents_count) %>
                <%= 'Package'.pluralize(package.package_dependents_count) %>
              <% end %>
            </div>

            <details class="details-reset float-right details-overlay js-dropdown-details position-relative">
              <summary aria-label="Warning" class="d-block px-1"><%= octicon("info") %></summary>
              <div class="Popover mt-2 right-0 mr-n2">
                <div class="Popover-message Popover-message--large Box box-shadow-large p-3 Popover-message--top-right">
                  This count is approximate and may not exactly match the dependents shown below.
                </div>
              </div>
            </details>
          </div>
        </div>

        <% package.dependents.each do |dependent| %>
          <%= render "network/dependent", {dependent: dependent} %>
        <% end %>
      </div>

      <div class="paginate-container">
        <%= cursor_paginate(package.dependents_page_info,
          previous_label: "Previous",
          next_label: "Next",
          previous_param: :dependents_before,
          next_param: :dependents_after
        ) %>
      </div>
    <% end %>
  </div>
<% end %>
