<%graphql
fragment PackageRelease on DependencyGraphPackageRelease {
  dependencies {
    ...Views::Network::Dependency::Dependency
  }
}
%>

<% release = Views::Network::SubDependencies::PackageRelease.new(release) %>

<div class="Details-content--hidden">
  <% release.dependencies.each do |dependency| %>
    <%= render "network/dependency", dependency: dependency, indent: indent.to_i + 1, user: user %>
  <% end %>

  <%# TODO: Need a "load more" button %>
</div>
