<%graphql
  fragment Root on Query {
    repositoryActions(first: $perPage, after: $cursor, filterBy: $filterBy, orderBy: { field: RANK, direction: DESC }) {
      pageInfo {
        hasNextPage
        endCursor
      }
      nodes {
        ...Views::Biztools::RepositoryActions::Action::RepositoryAction
      }
    }
  }
%>
<%
  data = Views::Biztools::RepositoryActions::Actions::Root.new(data)
  repository_actions = data.repository_actions.nodes
  page_info = data.repository_actions.page_info
%>
<div class="Box-body">
  <ul>
    <%= render partial: "biztools/repository_actions/action", collection: repository_actions, locals: { filters: filters } %>
  </ul>
</div>
<% if page_info.has_next_page? %>
  <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
    <%= form_tag biztools_repository_actions_path, :method => :get do %>
      <input name="cursor" type="hidden" value="<%= page_info.end_cursor %>">
      <button type="submit" class="btn-link" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
