<% page_info title: "Creators · Repository Actions · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <%= render partial: "biztools/repository_actions/creator_search" %>

  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <h3 class="Box-title">
        <% if params[:query] %>
          Creators matching "<%= params[:query] %>"
        <% else %>
          Verified Creators
          <span title="<%= creators.total_entries %> total creators" class="Label Label--gray-darker"><%= creators.total_entries %></span>
        <% end %>
      </h3>
    </div>

    <% if creators.empty? %>
      <div class="Box-body"><p class="mb-0">No Results</p></div>
    <% else %>
      <ul>
        <% creators.each do |creator| %>
          <li class="Box-row d-flex flex-justify-between">
            <%= render partial: "biztools/repository_actions/creator_listing", locals: { creator: creator }%>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if params[:query].blank? && creators.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate creators, class: "d-flex d-md-inline-block pagination" %>
    </div>
  <% end %>
<% end %>
