<%# `view` is an instance of Biztools::RepositoryActions::EditView %>

<%
  page_info \
    title:         "Edit #{view.action_name} · Repository Actions · Biztools",
    selected_link: :actions
%>

<%= render layout: "biztools/biztools" do %>
  <div class="Box Box--condensed">
    <%= form_tag biztools_repository_action_path(view.action_id), method: :put do %>
      <div class="Box-header d-flex flex-items-center">
        <h3 class="Box-title overflow-hidden flex-auto">
          Edit <%= view.action_name %>
        </h3>
        <button class="btn btn-primary btn-sm" type="submit">
          Save
        </button>
      </div>
      <div class="Box-body">
        <dl class="form-group d-inline-block mr-3">
          <dt><label for="primary-category">Primary Category</label></dt>
          <dd>
            <select
              id="primary-category"
              name="repository_action[primaryCategoryName]"
              class="form-select"
              required
            >
              <% view.regular_categories.each do |category| %>
                <option
                  <% if view.action_primary_category == category %>selected<% end %>
                  value="<%= category %>"
                >
                  <%= category %>
                </option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group d-inline-block mr-3">
          <dt><label for="secondary-category">Secondary Category</label></dt>
          <dd>
            <select
              id="secondary-category"
              name="repository_action[secondaryCategoryName]"
              class="form-select"
            >
              <option value="">None</option>
              <% view.regular_categories.each do |category| %>
                <option
                  <% if view.action_secondary_category == category %>selected<% end %>
                  value="<%= category %>"
                >
                  <%= category %>
                </option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group d-inline-block mr-3">
          <dt><label for="filter-categories">Filter Categories</label></dt>
          <dd>
            <input name="repository_action[filterCategories][]" type="hidden">
            <details class="position-relative details-reset select-menu">
              <summary class="btn select-menu-button" aria-haspopup="menu">
                Select filters
              </summary>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu">
                <div id="filter-categories" class="select-menu-list">
                  <% view.filter_categories.each do |category| %>
                    <label class="select-menu-item">
                      <input
                        type="checkbox"
                        name="repository_action[filterCategories][]"
                        value="<%= category %>"
                        <% if view.selected_filter_categories.include? category %>
                          checked
                        <% end %>
                      >
                      <span class="ml-2"><%= category %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          </dd>
        </dl>
      </div>
    <% end %>
  </div>
  <% if view.action.is_listed? %>
    <div class="boxed-group dangerzone mt-3">
      <h3>Delist <%= view.action_name %></h3>
      <div class="boxed-group-inner">
        <%= button_to "Delist",
              biztools_repository_action_listing_path(repository_action_id: view.action_id),
              method: :delete,
              class: "btn btn-danger boxed-action",
              data: {
                confirm: "Are you sure you want to delist #{view.action_name} from the Marketplace?",
                disable_with: "Delisting...",
              } %>
        <p>
          Are you sure you want to delist <%= view.action_name %> from the Marketplace?<br>
          <strong>Note:</strong> This GitHub Action will still be installable as long as its repository is public.
        </p>
      </div>
    </div>
  <% end %>
<% end %>
