<%graphql
  fragment Root on Query {
    repositoryActions(first: $perPage, after: $cursor, filterBy: $filterBy, orderBy: { field: RANK, direction: DESC }) {
      totalCount
    }
    ...Views::Biztools::RepositoryActions::Actions::Root
  }
%>
<%
  data = Views::Biztools::RepositoryActions::Index::Root.new(data)
  name_filter = filters[:name]
  featured_filter = filters[:featured]
%>

<% page_info title: "Repository Actions · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <strong><%= octicon("info", class: "mr-2") %>How this works</strong>
    </div>
    <div class="Box-row">
      This page shows both Public and Private actions that are visible to <strong>you</strong>.
    </div>
    <div class="Box-row">
      Featuring a Public action will make it appear in the Editor side bar.
    </div>
    <div class="Box-row">
      Featuring a Private action will only make it appear in the side bar <strong>when the repo is made public</strong>.
    </div>
    <div class="Box-row">
      Rank determines how highly the Action is shown on Marketplace and the Workflow editor sidebar. Bigger number == higher rank.
    </div>
  </div>

  <%= render partial: "biztools/repository_actions/creator_search" %>

  <div class="Box mb-4">
    <div class="Box-header">
      <h3 class="Box-title">Search Repository Actions</h3>
    </div>
    <div class="Box-body">
      <%= form_tag biztools_repository_actions_path, method: :get do %>
        <% if name_filter.present? %>
          <a href="<%= biztools_repository_actions_path %>" class="d-block ml-2 float-right">Clear</a>
        <% end %>
        <button type="submit" class="btn float-right">Search</button>
        <input class="form-control" type="search" name="filters[name]" aria-label="Search name" value="<%= name_filter %>" placeholder="Search name">
        <select name="filters[featured]" class="form-select ml-2" aria-label="Search by Featured">
          <option <%= "selected" unless featured_filter.present? %> value="">Featured and unfeatured actions</option>
          <option <%= "selected" if featured_filter == "FEATURED" %> value="FEATURED">Only featured actions</option>
          <option <%= "selected" if featured_filter == "UNFEATURED" %> value="UNFEATURED">Only unfeatured actions</option>
        </select>
      <% end %>
    </div>
  </div>
  <div class="Box">
    <div class="Box-header">
      <h3 class="Box-title">
        Repository Actions (<%= data.repository_actions.total_count %>)
      </h3>
    </div>
    <%= render partial: "biztools/repository_actions/actions", locals: { data: data, filters: filters } %> 
  </div>
<% end %>
