<%# `view` is an instance of Biztools::RepositoryActions::ShowView %>

<%
  page_info \
    title:         "#{view.action_name} · Repository Actions · Biztools",
    selected_link: :actions
%>

<%= render layout: "biztools/biztools" do %>
  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <strong><%= octicon("info", class: "mr-2") %>How this works</strong>
    </div>
    <div class="Box-row">
      This page will be used to manage different aspects of Actions including
      how they interact with <strong>Marketplace</strong>.
    </div>
  </div>

  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <h4>
        <div class="CircleBadge CircleBadge--small mr-1" style="float: left; width: 20px; height: 20px; background-color: #<%= view.action_color %>;">
          <%= action_icon(
            name: view.action_name,
            icon_name: view.action_icon_name,
            color: view.action_icon_color,
            title: view.action_name,
            owner: view.action_owner_login
          ) %>
        </div>
        Listing Info
      </h4>
    </div>
    <ul>
      <li class="Box-row">
        <%= octicon(:link) %>
        <a href="<%= view.action_repository_url %>">View repository</a>
      </li>
      <li class="Box-row"><strong>ID:</strong> <%= view.action_id %></li>
      <li class="Box-row"><strong>Name:</strong> <%= view.action_name %></li>
      <li class="Box-row"><strong>Security Email:</strong> <%= view.action_security_email %></li>
      <li class="Box-row"><strong>Description:</strong> <%= view.action_description %></li>
      <li class="Box-row"><strong>Color:</strong> <code>#<%= view.action_color %></code></li>
      <li class="Box-row"><strong>Icon:</strong> <%= view.action_icon_name %></li>
      <li class="Box-row"><strong>Icon Color:</strong> <code>#<%= view.action_icon_color %></code></li>
      <li class="Box-row"><strong>Path:</strong> <%= view.action_path %></li>
      <li class="Box-row"><strong>Rank Multiplier:</strong> <%= view.action_rank_multiplier %></li>
      <li class="Box-row"><strong>Verified Owner:</strong> <%= view.owner_verified? %></li>
      <li class="Box-row">
        <div class="d-flex flex-justify-between">
          <div>
            <strong>Featured:</strong> <%= view.action_featured? %>
            <p class="note">Featuring makes this Action available in the Workflow editor sidebar <% if view.action_listed? %>and Marketplace homepage<% end %></p>
          </div>
          <% if view.action_featured? %>
            <%= button_to "Unfeature", biztools_repository_action_path(view.action_node_id, "repository_action[featured]": false), method: :put,
              class: "btn btn-sm",
              data: { confirm: 'Are you sure you want to unfeature this Action?', disable_with: "Updating..." } %>
          <% else %>
            <%= button_to "Feature", biztools_repository_action_path(view.action_node_id, "repository_action[featured]": true), method: :put,
              class: "btn btn-sm",
              data: { confirm: 'Are you sure you want to feature this Action?', disable_with: "Updating..." } %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>

  <div class="Box Box--condensed mb-4">
    <div class="Box-header d-flex flex-justify-between">
      <h4>
        <%= octicon(:info) %>
        Publishing checklist
      </h4>
    </div>

    <div class="px-3 py-2">
      <%= render(Primer::FlashComponent.new) do %>
        Note: Publishing users must have signed the Marketplace agreement and have two factor authentication active.
      <% end %>
    </div>

    <ul>
      <li class="Box-row"><strong>Public repository:</strong> <%= view.repository_public_icon %></li>
      <li class="Box-row"><strong>Repository has action at root:</strong> <%= view.repository_has_action_icon %></li>
      <li class="Box-row"><strong>Metadata:</strong> <%= view.metadata_icon %></li>
      <% if view.owned_by_org? %>
        <li class="Box-row"><strong>Integrator Agreement Signed</strong> <%= view.agreement_icon %></li>
      <% end %>
    </ul>
  </div>

  <div class="Box Box--condensed mb-4">
    <div class="Box-header d-flex flex-justify-between">
      <h4>
        <%= octicon(:info) %>
        Marketplace
      </h4>
      <a href="<%= edit_biztools_repository_action_path(view.action_id) %>" class="btn btn-sm">
        Edit
      </a>
    </div>
    <% if view.action_listed? %>
      <ul>
        <li class="Box-row">
          <%= link_to marketplace_action_path(view.action_slug) do %>
            <%= octicon(:eye) %>
            View listing
          <% end %>
          <li class="Box-row"><strong>Slug:</strong>
            <% if view.action_slug %><code><%= view.action_slug %></code>
            <% else %><span class="text-gray-light">(not yet listed)</span>
            <% end %>
          </li>
        </li>
        <li class="Box-row">
          <details>
            <summary>View Index Entry</summary>
            <pre style="white-space: pre-wrap"><%= JSON.pretty_generate(view.elasticsearch_entry) %></pre>
          </details>
        </li>
      </ul>
    <% else %>
      <div class="Box-body"><span class="text-gray-light">No listing</span></div>
    <% end %>
  </div>
<% end %>
