<article class="Box p-3">
  <div class="d-flex">
    <div class="mr-3">
      <%= profile_link(sponsorable, target: "_top") do %>
        <%= avatar_for(sponsorable, 48, class: "rounded-1") %>
      <% end %>
    </div>

    <div class="d-sm-flex flex-auto">
      <div class="flex-sm-auto mr-sm-3">
        <div class="h3 mb-2">
          Sponsor <%= sponsorable %> on GitHub Sponsors
        </div>
        
        <div class="mb-2">
          <%= sponsorable.sponsors_membership&.featured_description %>
        </div>
      </div>

      <div>
        <%=
          link_to(
            sponsorable_url(
              sponsorable,
              **Sponsors::TrackingParameters.new(
                origin: Sponsors::TrackingParameters::EMBEDDED_SPONSOR_CARD_ORIGIN,
              ).to_h
            ),
            class: "btn",
            'aria-label': "Sponsor @#{sponsorable}",
            target: "_top",
          ) do
        %>
          <%=
            render GitHub::OcticonComponent.new(
              icon: "heart-outline",
              class: "icon-sponsor text-pink mr-2",
            )
          %>
          <span>Sponsor</span>
        <% end %>
      </div>
    </div>
  </div>
</article>
