<%# view is an instance of RepositoryCodeScanning::AnnotationView %>

<p class="ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center">
  <%= octicon("mark-github") %>
  <span class="mx-1 text-bold">Code scanning</span><%= " / #{view.tool_display_name}" if view.tool_display_name.present? %>
</p>

<p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-center">
  <span class="annotation-title flex-auto pr-2" <%= test_selector("code-scanning-annotation-title") %>><%= view.result_title(view.result) %></span>
</p>

<div class="pt-2 pl-4 ml-3 overflow-auto">
  <%= view.rich_result_message_text %>
</div>

<% if view.alerts_readable_by_current_user? %>
  <div class="ml-3 pl-4">
    <a href="<%= view.result_path(view.result, ref_name: view.head_ref) %>" class="f6" <%= test_selector("code-scanning-annotation-link") %>>
      Show more details
    </a>

    <div class="my-1 d-flex">
      <% if view.has_code_paths %>
        <details class="details-reset details-overlay details-overlay-dark js-dropdown-details my-2 mr-2" data-deferred-details-content-url="<%= view.code_paths_url %>">
          <summary class="btn btn-sm" aria-haspopup="dialog">Show paths</summary>
          <details-dialog class="Box Box--overlay Box-overlay--wide d-flex flex-column anim-fade-in fast overflow-auto" style="width: 800px">
            <include-fragment class="my-6">
              <div class="text-center" data-show-on-error hidden>
                <%= octicon :alert %>
                Error loading code paths
              </div>
              <div class="octocat-spinner text-center" aria-label="Loading" data-hide-on-error></div>
            </include-fragment>
          </details-dialog>
        </details>
      <% end %>

      <% if view.result_resolved?(view.result) && view.alerts_writable_by_current_user? %>
        <%= button_to "Reopen", view.reopen_path(number: view.result.number), method: :put, class: "btn btn-sm", form_class: "my-2" %>
      <% elsif view.alerts_writable_by_current_user? %>
        <details class="dropdown details-reset details-overlay my-2">
          <summary class="btn btn-sm" aria-haspopup="true">
            Close
            <div class="dropdown-caret"></div>
          </summary>
          <ul class="dropdown-menu dropdown-menu-ne" style="width: 250px">
            <% view.closure_reasons.each do |reason, label| %>
              <li>
                <%= button_to label, view.close_path(number: view.result.number, reason: reason), method: :put, class: "btn-link dropdown-item text-small" %>
              </li>
            <% end %>
          </ul>
        </details>
      <% end %>
    </div>
  </div>
<% end %>
