<%# view is an instance of RepositoryCodeScanning::IndexView %>

<div
  class="blankslate blankslate-spacious blankslate-large blankslate-capped"
  <%= test_selector("code-scanning-no-results") %>
>
  <%= svg("site/icons/security.svg", height: "75") %>
  <% no_results_text = view.no_results_messages.sample %>
  <h3 class="h3 my-2"><%= no_results_text[:heading] %></h3>
  <p><%= no_results_text[:text] %></p>
</div>
