<details class="d-inline details-reset details-overlay js-dropdown-details"
    data-deferred-details-content-url="<%= view.related_location_path(commit_oid: commit_oid, related_location: related_location) %>"
    <%= test_selector("related-location-link")%>>
  <summary class="btn-link" ><%= link_text %></summary>
  <div class="dropdown-menu dropdown-menu-s mt-2 width-full" style="top: auto">
    <include-fragment class="m-2">
      <div class="text-center" data-show-on-error hidden>
        <%= octicon :alert %>
        Error loading related location
      </div>
      <div class="octocat-spinner text-center" aria-label="Loading" data-hide-on-error></div>
    </include-fragment>
  </div>
</details>
