<%# erblint:disable DeprecatedCustomCss %>
<%# view is an instance of RepositoryCodeScanning::IndexView %>

<%= form_tag view.index_path,
  method: :get,
  class: "js-alert-search-form ml-0 subnav-search flex-auto js-navigation-container",
  role: "search",
  :"data-pjax" => true do
%>
  <div class="d-none d-md-flex">
    <details class="details-reset details-overlay subnav-search-context" id="filters-select-menu">
      <summary class="btn" aria-haspopup="menu" role="button">
        Filters
        <span class="dropdown-caret"></span>
      </summary>
      <details-menu class="SelectMenu" role="menu">
        <div class="SelectMenu-modal">
          <div class="SelectMenu-header">
            <h3 class="SelectMenu-title">Filter alerts</h3>
            <button class="SelectMenu-closeButton" type="button" data-toggle-for="filters-select-menu">
              <%= octicon("x", "aria-label": "Close menu") %>
            </button>
          </div>
          <div class="SelectMenu-list">
            <% view.search_filters.each do |filter| %>
              <a class="SelectMenu-item" role="menuitem" href="<%= filter[:url] %>">
                <%= filter[:label] %>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </details>

    <div class="subnav-search flex-auto">
      <input
        type="text"
        name="query"
        value="<%= view.suggestable_input_value %>"
        class="form-control subnav-search-input width-full subnav-search-input-wide input-contrast js-navigation-enable js-alert-search-input"
        placeholder="Filter alerts"
        aria-label="Filter alerts"
        autocomplete="off"
        data-initial-value="<%= view.suggestable_input_value %>"
        data-suggestable-qualifiers="<%= view.suggestable_qualifiers.to_json %>"
        data-suggestable-tools="<%= view.suggestable_tools.to_json %>"
        data-suggestable-severities="<%= view.suggestable_severities.to_json %>"
        data-suggestable-sorts="<%= view.suggestable_sorts.to_json %>"
        data-suggestable-states="<%= view.suggestable_states.to_json %>"
        data-suggestable-closure-reasons="<%= view.suggestable_closure_reasons.to_json %>"
        data-suggestable-refs-path="<%= view.refs_path(format: :json) %>"
        data-suggestable-rules-path="<%= view.rules_path(format: :json) %>"
        data-suggestable-tags-path="<%= view.tags_path(format: :json) %>"
      >
      <%= octicon("search", class: 'subnav-search-icon') %>
      <button
        type="button"
        class="position-absolute top-0 right-0 mt-2 mr-1 btn-link issues-reset-query js-alert-search-clear"
        aria-label="Clear filters"
        <%= "hidden" if view.suggestable_input_value.blank? %>>
        <%= octicon("x", class: "issues-reset-query-icon") %>
      </button>

      <div
        class="js-alert-search-autocomplete-dropdown card-filter-autocomplete-dropdown bg-white boxed-group-list border boxed-group-standalone rounded-1 mt-1 position-absolute overflow-auto bg-white hide-sm width-full"
        <%= test_selector("alert-autocomplete-dropdown") %>
        hidden
      >
        <div class="px-2 py-1">
          <div class="js-alert-search-autocomplete-results"></div>
        </div>
      </div>
    </div>
  </div>
<% end %>
