<%# view is an instance of RepositoryCodeScanning::IndexView %>

<div class="select-menu-header">
  <span class="select-menu-title">Filter by tag</span>
  <button class="hx_rsm-close-button btn-link close-button" type="button" data-toggle-for="code-scanning-tag-filter"><%= octicon("x", :"aria-label" => "Close menu") %></button>
</div>

<div class="select-menu-filters">
  <filter-input class="select-menu-text-filter" aria-owns="tag-list">
    <input
      type="text"
      class="form-control"
      autofocus
      autocomplete="off"
      aria-label="Filter tags"
      placeholder="Filter tags">
  </filter-input>
</div>

<div class="select-menu-list" id="tag-list" data-pjax data-filter-list>
  <% view.tag_filters.each do |filter| %>
    <a href="<%= filter[:url] %>" aria-checked="<%= filter[:selected] %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
      <%= octicon("check", class: "select-menu-item-icon") %>
      <div class="select-menu-item-text ml-2"><%= filter[:label] %></div>
    </a>
  <% end %>

  <div class="p-2" data-filter-empty-state hidden>No tags found</div>
</div>
