<%# view is an instance of RepositoryCodeScanning::ShowView %>

<%
  page_info(
    title: view.page_title,
    container_xl: true,
    selected_link: :code_scanning,
    skip_responsive_padding: true,
  )
%>

<%= render layout: "layouts/repository/security", locals: { code_scanning_tool_filters: view.tool_names_and_filter_urls } do %>
  <% if view.turboscan_unavailable? %>
    <div class="blankslate blankslate-spacious blankslate-large blankslate-capped">
      <%= octicon("alert", height: 32, class: "blankslate-icon mb-0") %>
      <h3>Loading alert failed</h3>
      <% if GitHub.enterprise? %>
        If the problem persists <%= contact_support_snippet(true) %>.
      <% else %>
        <p>We track these errors automatically, but if the problem persists feel free to <a href="<%= contact_path %>">contact us</a>.</p>
      <% end %>
    </div>
  <% else %>
    <div class="Subhead">
      <div class="Subhead-heading lh-condensed">
        <span><%= view.result_title(view.result) %></span>
        <%= render GitHub::BetaFlagComponent.new(font_weight: :normal, font_size: 6, ml: 2, mr: 1, vertical_align: :middle) %>
        <%= link_to("Give us feedback", view.feedback_link, class: "text-small lh-condensed v-align-middle")%>
      </div>
      <% if view.result.rule_full_description.present? %>
        <div class="Subhead-description lh-condensed mt-1"><%= view.result.rule_full_description %></div>
      <% end %>

      <div class="Subhead-description">
        <span class="mt-2 mr-1 d-inline-block">
          <%= render Primer::StateComponent.new(title: view.status_badge_title, color: view.status_badge_color, tag: :span) do %><%= view.status_badge_label %><% end %>
        </span>

        <span class="mt-2 mr-1 State <%= view.severity_state_badge_css(view.result.rule_severity) %>" title="Severity: <%= view.result.rule_severity.capitalize %>">
          <%= octicon(view.severity_octicon(view.result.rule_severity)) %>
          <%= view.result.rule_severity.capitalize %>
        </span>

        <% view.rule_tags.each do |rule_tag| %>
          <%= link_to view.tag_path(rule_tag), class: "mt-2 mr-1 State bg-blue-light text-normal text-gray no-underline", data: view.rule_tag_hovercard_attributes(rule_tag) do %>
            <%= octicon("tag", class: "v-align-middle") %>
            <%= view.rule_tag_label(rule_tag) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="d-flex">
      <details class="details-reset details-overlay mr-2 flex-self-center">
        <summary class="btn btn-sm" aria-haspopup="true">
          <span class="text-gray">Branch:</span>
          <span class="css-truncate css-truncate-target" <%= test_selector("code-scanning-selected-branch-name") %>><%= view.display_ref_name(view.commit_location.ref_name) %></span>
          <div class="dropdown-caret"></div>
        </summary>

        <details-menu class="SelectMenu" data-pjax>
          <div class="SelectMenu-modal">
            <header class="SelectMenu-header">
              <h3 class="SelectMenu-title">Branch locations</h3>
            </header>
            <div class="SelectMenu-list" role="menu">
              <% view.ref_commit_locations.each do |commit_location| %>
                <a href="<%= view.result_path(view.result, ref_name: commit_location.ref_name) %>"
                  class="SelectMenu-item d-flex"
                  role="menuitemradio"
                  aria-checked="<%= view.ref_selected?(commit_location.ref_name) %>"
                >
                  <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                  <span class="flex-auto" data-menu-button-text><%= view.display_ref_name(commit_location.ref_name) %></span>

                  <% if commit_location.is_fixed %>
                    <span class="Label Label--outline flex-shrink-0 ml-2">Fixed</span>
                  <% else %>
                    <span class="flex-shrink-0 text-gray ml-2">Line <%= commit_location.location.start_line %></span>
                  <% end %>
                </a>
              <% end %>
            </div>
          </div>
        </details-menu>
      </details>

      <div style="margin-left: auto">
        <% if view.result_resolved?(view.result) && view.alerts_writable_by_current_user? %>
          <%= button_to "Reopen",
            view.reopen_path(number: view.result.number),
            method: :put,
            class: "btn btn-sm ml-2",
            data: {"test-selector" => "code-scanning-reopen-alert"}
          %>
        <% elsif view.alerts_writable_by_current_user? %>
          <details
              class="dropdown details-reset details-overlay ml-2"
              <%= test_selector("code-scanning-close-alert") %>>
            <summary class="btn btn-sm" aria-haspopup="true">
              Close
              <div class="dropdown-caret"></div>
            </summary>
            <ul class="dropdown-menu dropdown-menu-sw" style="width: 250px">
              <% view.closure_reasons.each do |reason, label| %>
                <li>
                  <%= button_to label,
                      view.close_path(number: view.result.number, reason: reason),
                      method: :put,
                      class: "btn-link dropdown-item text-small"
                    %>
                </li>
              <% end %>
            </ul>
          </details>
        <% end %>
      </div>
    </div>

    <% additional_controls = capture do %>
      <% if view.has_code_paths %>
        <div class="d-flex flex-shrink-0 flex-self-start py-1">
          <details class="details-reset details-overlay details-overlay-dark js-dropdown-details ml-2"
                  data-deferred-details-content-url="<%= view.code_paths_url %>">
            <summary class="btn btn-sm" aria-haspopup="dialog">Show paths</summary>
            <details-dialog class="Box Box--overlay Box-overlay--wide d-flex flex-column anim-fade-in fast overflow-auto" style="width: 800px">
              <include-fragment class="my-6">
                <div class="text-center" data-show-on-error hidden>
                  <%= octicon :alert %>
                  Error loading code paths
                </div>
                <div class="octocat-spinner text-center" aria-label="Loading" data-hide-on-error></div>
              </include-fragment>
            </details-dialog>
          </details>
        </div>
      <% end %>
    <% end %>

    <%= render partial: "repos/scanning/location", locals: {
          full_path: view.commit_location.location.file_path,
          path_link: view.code_snippet_path_link,
          snippet_helper: view.snippet_helper(view.commit_location.location, view.commit_location.commit_oid),
          tool_display_name: view.tool_display_name,
          additional_controls: additional_controls,
        }
    %>

    <div class="Box Box--condensed mt-3 Details js-details-container">
      <div class="Box-header p-3 d-md-flex">
        <% if view.tool_display_name.present? %>
          <div class="mr-md-5" <%= test_selector("code-scanning-tool-name") %>>
            <h3 class="Box-title mb-1">Tool</h3>
            <div class="f6"><%= view.tool_display_name %></div>
          </div>
        <% end %>
        <div class="mr-md-5 mt-3 mt-md-0">
          <h3 class="Box-title mb-1">Rule ID</h3>
          <div class="text-mono f6"><%= view.result.rule_id %></div>
        </div>
        <% if view.rule_query_uri.present? %>
          <div class="mr-5 mt-3 mt-md-0" <%= test_selector("code-scanning-query-source") %>>
            <h3 class="Box-title mb-1">Query</h3>
            <a class="link-gray-dark d-block f6" href="<%= view.rule_query_uri %>" target="_blank" rel="noopener noreferrer">View source</a>
          </div>
        <% end %>
      </div>

      <% if view.has_rule_help? %>
        <div class="Box-body markdown-body comment-body position-relative Details-content--shown" <%= test_selector("code-scanning-rule-intro") %>>
          <%= view.rule_intro %>
        </div>
        <div class="Box-body markdown-body comment-body position-relative Details-content--hidden" <%= test_selector("code-scanning-rule-description") %>>
          <%= view.rule_description %>
        </div>

        <% if view.rule_help_expandable? %>
          <div class="Box-footer py-2">
            <button type="button" class="btn-link btn-block muted-link Details-content--shown js-details-target" aria-expanded="true">Show more <%= octicon("chevron-down") %></button>
            <button type="button" class="btn-link btn-block muted-link Details-content--hidden js-details-target" aria-expanded="false">Show less <%= octicon("chevron-up") %></button>
          </div>
        <% end %>
      <% else %>
        <div class="Box-body markdown-body comment-body">
          <p class="text-gray f5"><em>No rule help available for this alert.</em></p>
        </div>
      <% end %>
      </div>

    <% view.filtered_timeline_events.each_with_index do |timeline_event, index| %>
      <%#
        The "raw" commit is needed so the abbreviated OID can be retrieved
      %>
      <% commit = view.commit_for(timeline_event.commit_oid) %>

      <%# display timeline event itself %>
      <div class="TimelineItem pb-1" <%= test_selector("code-scanning-timeline-item") %>>
        <% icon_name, icon_classes, badge_classes = view.timeline_event_icon_details(timeline_event) %>
        <div class="TimelineItem-badge <%= badge_classes %>">
          <%= octicon(icon_name, class: icon_classes) %>
        </div>
        <div class="TimelineItem-body d-md-flex flex-items-center">
          <div>
            <% case timeline_event.type %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_APPEARED_IN_BRANCH %>
              <b>Appeared in branch</b>
              <%= view.display_ref_name(timeline_event.ref_name) %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_CLOSED_BECAME_FIXED %>
              <b>Fixed in branch</b>
              <%= view.display_ref_name(timeline_event.ref_name) %>
              <b>with commit</b> <%= commit&.abbreviated_oid %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_CLOSED_BY_USER %>
              <%= linked_avatar_for(view.safe_user(timeline_event.user_id), 20, img_class: "avatar") %>
              <%= profile_link(view.safe_user(timeline_event.user_id), class: "link-gray-dark text-bold") %>
              closed this
              <% if timeline_event.resolution != :NO_RESOLUTION %>
                as
                <b><%= view.closure_reason_description(timeline_event) %></b>
              <% end %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_CREATED %>
              <b>First appeared in commit</b> <%= commit&.abbreviated_oid %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_REAPPEARED %>
              <b>Reappeared in branch</b>
              <%= view.display_ref_name(timeline_event.ref_name) %>
              <b>with commit</b> <%= commit&.abbreviated_oid %>
            <% when :TIMELINE_EVENT_TYPE_ALERT_REOPENED_BY_USER %>
              <%= linked_avatar_for(view.safe_user(timeline_event.user_id), 20, img_class: "avatar") %>
              <%= profile_link(view.safe_user(timeline_event.user_id), class: "link-gray-dark text-bold") %>
              reopened this
            <% end %>
            <%= time_ago_in_words_js(view.timestamp_to_time(timeline_event.timestamp)) %>
          </div>
          <% if timeline_event.type == :TIMELINE_EVENT_TYPE_ALERT_CREATED && timeline_event.tool_version.present? %>
            <span class="Label Label--outline" style="margin-left: auto">Tool version <%= timeline_event.tool_version %></span>
          <% elsif view.tool_version_updated?(timeline_event) %>
            <span class="Label Label--outline" style="margin-left: auto">Tool upgraded to <%= timeline_event.tool_version %></span>
          <% end %>
        </div>
      </div>

      <%# display supplementary information below the event in the timeline %>
      <% if view.show_timeline_commit?(timeline_event) %>
        <% if graphql_commit = view.graphql_commit_for(timeline_event.commit_oid) %>
          <%= render "repos/scanning/commit", commit: graphql_commit %>
        <% else %>
          <%= render "repos/scanning/missing_commit", commit_oid: timeline_event.commit_oid %>
        <% end %>
      <% end %>

      <% if view.show_path?(timeline_event) %>
        <div class="TimelineItem TimelineItem--condensed pl-5 f6 d-block" <%= test_selector("code-scanning-timeline-item") %>>
          <% if timeline_event.file_path.present? %>
            <% file_path, file_name = view.split_file_path_and_name(timeline_event.file_path) %>
            <%= file_path %><b><%= file_name %></b><%- if timeline_event.start_line -%><b>#L<%= timeline_event.start_line %></b><% end %>
            <% if timeline_event.ref_name.present? %>
              <span class="text-gray">on branch</span>
            <% end %>
          <% end %>

          <b class="branch-name">
            <%= view.display_ref_name(timeline_event.ref_name) %>
          </b>
        </div>
      <% elsif timeline_event.type == :TIMELINE_EVENT_TYPE_ALERT_APPEARED_IN_BRANCH %>
        <% workflow_run = view.workflow_run_for_timeline_event(timeline_event) %>
        <div class="TimelineItem TimelineItem--condensed pl-5 f6 d-flex" <%= test_selector("code-scanning-timeline-item") %>>
          <% if workflow_run %>
            <div <%= test_selector("code-scanning-timeline-workflow-run") %>>
              <% if workflow_run.conclusion %>
                <% conclusion_view = Notifications::CheckSuiteConclusionView.new(workflow_run.conclusion) %>
                <%= octicon conclusion_view.icon, class: conclusion_view.text_color %>
              <% else %>
                <%= octicon "primitive-dot", class: "color-yellow-7" %>
              <% end %>
            </div>
          <% end %>
          <div class="text-gray pl-2">
            <% if workflow_run %>
              <%= link_to "#{workflow_run.name} ##{workflow_run.run_number}:", workflow_run_path(workflow_run_id: workflow_run.id), class: "link-gray-dark text-bold"%>
            <% end %>
            <% if timeline_event.commit_oid %>
              Commit
              <a href="<%= commit_url(timeline_event.commit_oid) %>" class="text-mono flex-shrink-0 link-gray"><%= timeline_event.commit_oid[0..7] %></a>
            <% end %>
            <% if timeline_event.environment.any? %>
              <span <%= test_selector("code-scanning-timeline-environment-data") %>>
                (<% timeline_event.environment.each do |environment| %>
                  <%= environment.key %>: <%= environment.value %>
                <% end %>)
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if blob_supports_code_navigation?(view.blob) %>
      <%= render partial: "code_navigation/popover", locals: { tree_name: tree_name, blob: view.blob } %>
    <% end %>
  <% end %>
<% end %>
