<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:disable LandmarkHasLabel %>
<% page_info :title => "All Activity on #{GitHub.flavor}", :selected_link => :explore_activity %>

<div class="pagehead" role="navigation">
  <div class="container">
    <%= render(Navigation::ExploreComponent.new(integrations_directory_enabled: integrations_directory_enabled?)) %>
    <h1>All Activity on <%= GitHub.flavor %></h1>
  </div>
</div><!-- /.pagehead -->

<div class="explore-pjax-container container">
  <%= render :partial => "dashboards/overview/metrics", locals: { graphs: graphs, period: period.to_s, url_base: "/dashboards/overview/count/", show_period_summary: true } %>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "graphs" %>
<% end %>
