<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<%= render :partial => "billing_settings/signup_customer_form",
      :locals => { :return_to => redeem_coupon_url(@coupon.code), :redeeming_coupon => true } %>

<%= form_tag session_path do %>
  <h2 class="f2-light mt-3 mb-1">Or, sign in to an existing account</h3>
  <dl class="form-group">
    <dt>
      <label for="login">Username or email</label>
    </dt>
    <dd>
      <%= text_field_tag "login", "" %>
    </dd>
  </dl>

  <dl class="form-group">
    <dt>
      <label for="login">Password</label>
    </dt>
    <dd>
      <%= password_field_tag "password", GitHub.default_password %>
    </dd>
  </dl>
  <p class="note">Did you <%= link_to "forget your password", password_reset_path %>?</p>

  <%= hidden_field_tag :return_to, redeem_coupon_url(@coupon.code) %>

  <% if GitHub.default_password %>
    <p class="note">
      <strong>Tip:</strong>
      The default password for all users in development is
      <strong><%= GitHub.default_password %></strong>
    </p>
  <% end %>

  <button type="submit" class="btn mt-2" id="signup_button" data-disable-with="Signing In…">Sign in</button>
<% end %>
