<% view = BillingSettings::PlanTableView.new :selected_account => selected_account, :selected_plan => selected_plan, :coupon => coupon, :request => request %>
<% html_options = local_assigns[:html_options] || {} %>

<div class="currency-container js-details-container Details js-billing-plans <%= html_options[:class] %>" <%= view.plan_table_data(account) %>>
  <% if account.plan.per_repository? %>
    <%= render :partial => "coupons/plan_row", :locals => { :view => view, :account => account, :plan => account.plan, :coupon => coupon, :position => "top" } %>
    <%= render :partial => "coupons/plan_row", :locals => { :view => view, :account => account, :plan => (coupon&.plan || view.unlimited_plan_for_account(account)), :coupon => coupon, :position => "bottom" } %>
  <% else %>
    <%= render :partial => "coupons/plan_row", :locals => { :view => view, :account => account, :plan => (coupon&.plan || view.unlimited_plan_for_account(account)), :coupon => coupon, :position => "only" } %>
  <% end %>
</div>
