<% if suggestions.any? %>
  <div class="d-inline-flex flex-items-baseline js-topic-suggestions-box">
    <span class="f6 text-gray mr-2">
      Suggested:
    </span>

    <div class="d-inline-block">
      <% suggestions.each do |topic| %>
        <div class="topic-tag-action f6 js-topic-suggestion">
          <%= topic %>
          <%= render partial: "topic_suggestions/accept_decline_buttons",
                     locals: { name: topic, repository: repository, async_topics: local_assigns[:async_topics], decline_forms_only: local_assigns[:decline_forms_only] } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
