<%# erblint:disable ProperTagNesting %>
<% page_info :title => "#{current_repository} collaborators" %>

<div class="site-admin-unboxed">
  <% if current_repository.anonymous_git_access_available? %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        Anonymous Git read access
      </h2>
    </div>

    <% if current_repository.anonymous_git_access_enabled? %>
      <p>Unauthenticated Git operations <strong>can</strong> read the contents of this repository.</p>
      <p>Anyone with network access to GitHub Enterprise will be able to read the code in this repository.</p>
    <% else %>
      <p>Unauthenticated Git operations <strong>cannot</strong> read the contents of this repository.</p>
      <p>Authenticaticated access to GitHub Enterprise is required to read the code in this repository.</p>
    <% end %>

    <% if current_repository.fork? %>
      <p>Forks inherit the anonymous Git read access settings of the upstream or parent repository.<p>
    <% else %>
      <% if current_repository.anonymous_git_access_locked? %>
        <p>
          The anonymous Git read access setting is <strong>locked</strong> and can only be changed by site administrators.
        <p>
      <% end %>
      <p>
        The anonymous Git read access setting can be changed from the <a href="<%= admin_stafftools_repository_path(current_repository.owner, current_repository) %>">admin page</a>.
      </p>
    <% end %>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Collaborators
    </h2>
  </div>

  <% if collaborators.any? || invites.any? %>
    <table class="site-admin-table">
      <% invites.each do |invite| %>
        <% invitee = invite.invitee  %>
        <tr>
          <td>
            <% if invite.email? %>
              <%= render GitHub::OcticonComponent.new(icon: "mail") %>
              <%= invite.email %>
            <% else %>
              <%= avatar_for invitee, 20, class: :avatar %>
              <%= link_to invitee, stafftools_user_path(invitee) %>
            <% end %>
          </td>
          <td>
            <%= invitee.profile_name unless invite.email? %>
          </td>
          <td class="right-align">
            Pending invite
          </td>
        </tr>
      <% end %>
      <% collaborators.each do |collaborator| %>
        <tr>
          <td>
            <%= avatar_for collaborator, 20, class: :avatar %>
            <%= link_to collaborator, stafftools_user_path(collaborator) %>
          </td>
          <td>
            <%= collaborator.profile_name %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate collaborators %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      No users have been added as collaborators on this repository.
    </p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>
  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: query,
          logs: logs,
          more_results: more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
</div>
