<div class="boxed-group">
  <h3>Metered Billing</h3>
  <div class="boxed-group-inner">
    <p><b>Spending Limits</b></p>
    <div class="mt-2">
      <%= octicon("graph", class: "lfs-data-icon dark") %>
      <b>Price</b> –
      Using
      <%= number_to_currency(metered_billing_permissions.total_usage / 100) %> of
      <% if metered_billing_permissions.usage_limit.infinite? %>
        unlimited
      <% else %>
        <%= number_to_currency(metered_billing_permissions.usage_limit / 100) %>
      <% end %>

      <div class="usage-bar">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% component.slot(:item, bg: "blue", percentage: (metered_billing_permissions.total_usage / metered_billing_permissions.usage_limit.to_f) * 100) %>
        <% end %>
      </div>
    </div>
    <hr class="bleed-flush">
    <p><b>Actions Usage</b></p>
    <div class="mt-2">
      <%= octicon("graph", class: "lfs-data-icon dark") %>
      <b>Minutes</b> –
      Using
      <%= number_with_delimiter(actions_usage.total_private_minutes_used) %> of
      included <%= number_with_delimiter(actions_usage.included_private_minutes) %> minutes

      <div class="usage-bar">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% component.slot(:item, bg: "blue", percentage: (actions_usage.included_private_minutes_used / actions_usage.included_private_minutes.to_f) * 100) %>
        <% end %>
      </div>
    </div>
    <hr class="bleed-flush">
    <p><b>Package Registry Usage</b></p>
    <div class="mt-2">
      <%= octicon("graph", :class => "lfs-data-icon dark") %>
      <b>Bandwidth</b> –
      Using
      <%= number_with_delimiter(package_registry_usage.paid_gigabytes_used) %>GB of
      included <%= number_with_delimiter(package_registry_usage.plan_included_bandwidth) %>GB

      <div class="usage-bar">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% component.slot(:item, bg: "blue", percentage: (package_registry_usage.total_gigabytes_used / package_registry_usage.plan_included_bandwidth.to_f) * 100) %>
        <% end %>
      </div>
    </div>
    <hr class="bleed-flush">
    <p><b>Shared Storage</b></p>
    <div class="mt-2">
      <div>
        <%= octicon("graph", :class => "lfs-data-icon dark") %>
        <b>Estimated Storage for the Month</b> –
        Using
        <%= number_with_delimiter((shared_storage_usage.estimated_monthly_private_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB of
        included <%= number_with_delimiter((shared_storage_usage.plan_included_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB

        <div class="usage-bar">
          <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
            <% component.slot(:item, bg: "blue", percentage: (shared_storage_usage.estimated_monthly_private_megabytes / shared_storage_usage.plan_included_megabytes.to_f) * 100) %>
          <% end %>
        </div>
      </div>

      <div class="mt-2">
        <%= octicon("graph", :class => "lfs-data-icon dark") %>
        <b>Current Storage</b> –
        Using
        <%= number_with_delimiter((shared_storage_usage.latest_private_billable_stored_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB of
        included <%= number_with_delimiter((shared_storage_usage.plan_included_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB

        <div class="usage-bar">
          <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
            <% component.slot(:item, bg: "blue", percentage: (shared_storage_usage.latest_private_billable_stored_megabytes / shared_storage_usage.plan_included_megabytes.to_f) * 100) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
