
<div class="site-admin-box">
  <h4>
    <%= octicon("credit-card") %>
    Billing
  </h4>
  <ul class="site-admin-detail-list">
    <li>
      <%= octicon("gear") %>
      <%= account.plan.to_s.titleize %> plan
    </li>
    <% if account.yearly_plan? %>
      <li>
        <%= octicon("calendar") %>
        Paying yearly
      </li>
    <% end %>
    <% if account.disabled? %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        This account’s billing is locked
      </li>
    <% end %>
    <li>
      <% if account.has_credit_card? %>
        <%= octicon("credit-card") %>
        Card on file
      <% elsif account.has_paypal_account? %>
        <%= octicon("credit-card") %>
        PayPal account linked
      <% else %>
        <%= octicon("x") %>
        No payment method on file
      <% end %>
    </li>
    <% if (coupon = account.coupon) %>
      <li>
        <%= octicon("gift") %>
        Active coupon
        <% unless coupon.plan_specific? %>
          <br>
          <small>
            <%= coupon.human_discount %> off for <%= coupon.human_duration %>
          </small>
        <% end %>
      </li>
    <% end %>
    <% if last_transaction %>
      <% if last_transaction.charged_back? %>
        <li>
          <%= octicon("stop", :class => "alert") %>
          Disputed charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.was_refunded? %>
        <li>
          <%= octicon("reply", :class => "highlight") %>
          Refunded charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.voided? %>
        <li>
          <%= octicon("history", :class => "highlight") %>
          Voided charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.success? %>
        <li>
          <%= octicon("zap") %>
          Paid $<%= last_transaction.amount %> on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% else %>
        <li>
          <%= octicon("alert", :class => "alert") %>
          Card declined on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
