<% page_info :title => "Reports" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Users</h3>
    <div class="boxed-group-inner">
      <div class="js-report-container">
        <button type="submit" class="btn boxed-action js-report"
          data-url="<%= all_users_stafftools_reports_path(:format => 'js') %>">Download</button>
        <span class="js-report-progress status-report d-none"></span>
        <h4>All users</h4>
        <p>
          All users on the installation.
        </p>
      </div>

      <hr class="full-bleed">

      <div class="js-report-container">
        <button type="submit" class="btn boxed-action js-report"
          data-url="<%= active_users_stafftools_reports_path(:format => 'js') %>">Download</button>
        <span class="js-report-progress status-report d-none"></span>
        <h4>Active users</h4>
        <p>
          All users who have been active within the last <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>.
        </p>
      </div>

      <hr class="full-bleed">

      <div class="js-report-container">
        <button type="submit" class="btn boxed-action js-report"
          data-url="<%= dormant_users_stafftools_reports_path(:format => 'js') %>">Download</button>
        <span class="js-report-progress status-report d-none"></span>
        <h4>Dormant users</h4>
        <p>
          All users who have been inactive for <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %> or more.
        </p>
      </div>

      <hr class="full-bleed">

      <div class="js-report-container">
        <button type="submit" class="btn boxed-action js-report"
          data-url="<%= suspended_users_stafftools_reports_path(:format => 'js') %>">Download</button>
        <span class="js-report-progress status-report d-none"></span>
        <h4>Suspended users</h4>
        <p>
          All users who have been suspended.
        </p>
      </div>
    </div>
  </div>

  <div class="boxed-group js-report-container">
    <h3>Organizations</h3>
    <div class="boxed-group-inner">
      <button type="submit" class="btn boxed-action js-report"
        data-url="<%= all_organizations_stafftools_reports_path(:format => 'js') %>">Download</button>
      <span class="js-report-progress status-report d-none"></span>
      <h4>All organizations</h4>
      <p>
        All organizations on the installation.
      </p>
    </div>
  </div>

  <div class="boxed-group js-report-container">
    <h3>Repositories</h3>
    <div class="boxed-group-inner">
      <button type="submit" class="btn boxed-action js-report"
        data-url="<%= all_repositories_stafftools_reports_path(:format => 'js') %>">Download</button>
      <span class="js-report-progress status-report d-none"></span>
      <h4>All repositories</h4>
      <p>
        All repositories on the installation.
      </p>
    </div>
  </div>

  <% if developer_report_enabled? %>
    <div class="boxed-group js-report-container">
      <h3>Developers &amp; Non-Developers</h3>
      <div class="boxed-group-inner">
        <button type="submit" class="btn boxed-action js-report"
          data-url="<%= developers_stafftools_reports_path(:format => 'js') %>"
        >Calculate</button>
        <span class="js-report-progress status-report d-none"></span>
        <h4>Calculate developer and non-developer users</h4>
        <p>
          Developers are counted as users that make changes to code, propose changes, etc. It is only an approximation.
        </p>
        <div class="js-report-results"></div>
      </div>
    </div>
  <% end %>
<% end %>
