<div class="boxed-group">
  <%= link_to 'New showcase', new_biztools_showcase_collection_path,
              :class => 'btn btn-sm boxed-group-action' %>
  <h3>Featured showcases</h3>
  <div class="boxed-group-inner clearfix">
    <p>There should always be <strong>9</strong> featured repositories, currently there are <strong><%= collections.count %></strong>. There is a job that will run and update the featured repositories with new ones every Monday.</p>
    <ul class="boxed-group-list">
      <% collections.each do |collection| %>
        <li>
          <%= link_to 'Edit', [:edit, :biztools, collection], :class => 'btn btn-sm' %>
          <%= button_to "Remove feature", featured_biztools_showcase_collection_path(collection),
                                 :class => "btn btn-sm",
                                 :method => :delete %>
          <%= link_to collection.name, [:biztools, collection] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
