<%
  placeholder_text = if package.owner.is_a?(Organization)
    "Search by team name, username, full name, or email"
  else
    "Search by username, full name, or email"
  end
%>

<div class="Box-body text-center border-bottom-0">
  <p><%= octicon "package", height: 32, class: "text-gray-light" %></p>

  <div class="f3">Invite teams or people to <strong><%= package.name %></strong></div>
</div>

<%= form_tag add_package_collaborator_path, class: "d-flex flex-column min-height-0" do %>
  <div id="repo-add-access-selector" class="d-flex flex-column min-height-0">
    <auto-complete src="<%= package_collaborator_suggestions_path %>" for="repo-add-access-search-results" class="d-block position-relative">
      <div class="form-group auto-search-group">
        <input type="text" id="repo-add-access-search-member" class="form-control input-block subnav-search-input position-relative d-block" placeholder="<%= placeholder_text %>" aria-label="<%= placeholder_text %>" autocomplete="off" autofocus required>
        <%= octicon "search" %>
        <%= image_tag "spinners/octocat-spinner-64-grey.gif", class: "spinner", size: "32x32", alt: "Loading..." %>
      </div>
      <div class="autocomplete-results Box" id="repo-add-access-search-results" role="listbox"></div>
    </auto-complete>
  </div>
<% end %>
