<div class="pagehead orghead <% if responsive? %>pt-0 pt-lg-3<% end %> <% if full_height? %>mb-0<% end %>">
  <div class="<%= responsive? ? "container-lg p-responsive d-none d-lg-block clearfix" : "container" %>">
    <h1>
      <a class="link-gray-dark no-underline" href="<%= user_path(user) %>" data-name="<%= user.name %>">
        <%= avatar_for(user, 30, class: "avatar float-left") %>
        <%= user.login %>
      </a>
    </h1>

    <nav class="orgnav" aria-label="User">
      <a class="pagehead-tabs-item" href="<%= user_path(user) %>?tab=repositories">
        <%= octicon("repo") %>
        Repositories
        <%= render Primer::CounterComponent.new(count: user.visible_repositories_for(current_user).size) %>
      </a>

      <a class="pagehead-tabs-item" href="<%= user_projects_path(user) %>" data-hotkey="g b">
        <%= octicon("project") %>
        Projects
        <%= render Primer::CounterComponent.new(count: user.visible_projects_for(current_user).size) %>
      </a>

      <a class="pagehead-tabs-item selected" href="<%= packages_two_path(owner_type: "users", owner_id: user) %>">
        <%= octicon("package") %>
        Packages
        <%= render Primer::CounterComponent.new(count: user.packages.size) %>
      </a>
    </nav>
  </div>
</div>
