<%# erblint:counter TooltipCounter 3 %>

<%
  sidebar_icon_width = "width: 16px;"

  page_info(
    title: %{Package #{package.name}},
    skip_pjax_container: true
  )

  show_repository_source = package.repository_url.present?
%>

<% if package.owner.is_a?(Organization) %>
<div itemscope itemtype="http://schema.org/Organization">
  <%= render partial: "orgs/packages/header", locals: { organization: package.owner } %>
<% else %>
<div itemscope itemtype="http://schema.org/User">
  <%= render partial: "registry_two/package_settings/user_header", locals: { user: package.owner } %>
<% end %>

  <div class="container-lg p-responsive clearfix">

    <%# Title %>
    <div class="mb-4 mt-1 clearfix">
      <a href="<%= package_two_path(version: package.latest_version.id) %>"><%= package.name %></a>
      /
      <strong>Package settings</strong>
    </div>

    <div class="container-lg d-flex">
      <div class="col-3 flex-shrink-0 pr-4">
        <nav class="menu" aria-label="Organization settings">
          <a class="js-selected-navigation-item selected menu-item" aria-current="page" href="">Options</a>
          <a class="js-selected-navigation-item menu-item" href="<%= package_versions_two_path %>">Manage versions</a>
        </nav>
      </div>

      <div class="col-9">
        <div class="d-flex flex-column flex-md-row flex-md-row mt-n1">
          <div class="col-12">
            <%# Repository Source %>
            <% if show_repository_source %>
              <%= render Primer::SubheadComponent.new(mt: 0) do |component| %>
                <% component.slot(:heading, tag: :h2) do %>Repository source<% end %>
              <% end %>
              <p class="text-gray-light mb-3">The repository where this container's source is stored. This is defined as the <code><a target=“_blank” href="https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys">org.opencontainers.image.source</a></code> label in the Dockerfile that you have published.</p>
              <div class="border rounded-1 p-3">

                <h3 class="f5 mb-2">
                  <div class="d-flex flex-items-center">
                    <%= octicon "repo", height: 16, class: "text-gray-dark mr-2 text-center d-flex flex-shrink-0 position-relative" %>
                    <%= link_to package.repository_name_with_owner, package.repository_url, class: "link-gray-dark" %>

                    <% if package.repository&.owner == package.owner %>
                      <%# Package references a GitHub repository owned by the package owner %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="A GitHub repository has been identified as the source for this package. This package will be displayed in this repositories package list.">
                        <%= octicon "verified", height: 16, class: "text-blue ml-2" %>
                      </span>
                    <% elsif package.repository %>
                      <%# Package references a GitHub repository not owned by the package owner %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="You have referenced a GitHub repository that is not part of the namespace that published this package. Packages and repository sources must be in the same namespace to be verfied.">
                        <%= octicon "question", height: 16, class: "text-gray-light ml-2" %>
                      </span>
                    <% else %>
                      <%# Package references a non-GitHub repository %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="You have referenced a non-GitHub source for this package that cannot be verified.">
                        <%= octicon "question", height: 16, class: "text-gray-light ml-2" %>
                      </span>
                    <% end %>
                  </div>
                </h3>

                <div class="rounded-1">
                  <div class="Box bg-gray border-0 text-left p-2">
                    <code class="d-block bg-gray border-0 rounded-2 f6 lh-default">
                      <clipboard-copy
                        class="js-clipboard-copy rounded-1 d-block CopyBlock position-relative px-2 py-1 tooltipped-no-delay"
                        aria-label="Copy"
                        data-copy-feedback="Copied!"
                        data-tooltip-direction="e"
                        role="button"
                        tabindex="0"
                        value="org.opencontainers.image.source = &quot;<%= package.repository_url %>&quot;">
                        org.opencontainers.image.source = "<span class="text-purple"><%= package.repository_url %></span>"
                        <%= octicon(:clippy, class: "js-clipboard-clippy-icon text-blue right-0 mr-1 position-absolute", style: "top: 5px;") %>
                        <%= octicon(:check, class: "js-clipboard-check-icon text-green position-absolute d-none", style: "top: 6px; right: 5px;") %>
                      </clipboard-copy>
                    </code>
                  </div>
                </div>
              </div>
            <% end %>

            <%# Manage access %>
            <div class="clearfix">
              <%= render Primer::SubheadComponent.new(spacious: show_repository_source) do |component| %>
                <% component.slot(:heading, tag: :h2) do %>Manage access<% end %>
                <% component.slot(:actions) do %>
                  <div>
                  <%= render layout: "shared/spacious_details_dialog", locals: {
                    button_text: "Invite teams or people",
                    title: "Invite teams or people",
                    hide_title: true,
                    id: "add-access-dialog",
                    button_class: "btn btn-sm btn-primary",
                    dialog_class: "",
                    container_class: "p-4 min-height-0"
                  } do %>
                    <%= render partial: "registry_two/package_settings/add_access_form", locals: { package: package } %>
                  <% end %>
                  </div>
                <% end %>
              <% end %>
              <div class="d-flex flex-items-center mb-3">
                <div class="text-gray pr-6">Define which users and teams have access to this package.</div>
              </div>
            </div>

            <%= render partial: "registry_two/package_settings/access_management", locals: { package: package, members_to_roles: members_to_roles } %>
          </div>
        </div>

        <%= render Primer::SubheadComponent.new(spacious: true, hide_border: true) do |component| %>
          <% component.slot(:heading, tag: :h2, id: "danger-zone") do %>Danger Zone<% end %>
        <% end %>
        <div class="Box Box--danger">
          <ul>
            <% unless package.public? %>
            <li class="Box-row">
              <%= render :partial => 'registry_two/package_settings/danger_zone/edit_visibility', locals: { package: package } %>
            </li>
            <% end %>
            <li class="Box-row">
              <%= render :partial => 'registry_two/package_settings/danger_zone/delete_package', locals: { package: package } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
