<% if trade_controls_read_only %>
  <% unless trade_notice_dismissed %>
    <div class="js-notice flash flash-warn flash-full border-0 text-left py-2">
      <div class="container-lg d-flex <%= responsive? ? "p-responsive" : "px-3" %>">
        <% if can_admin %>
          <span>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_admin_notice %>
            </p>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_cta_for_admins %>
            </p>
          </span>
        <% else %>
          <span>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_non_admins_notice %>
            </p>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_cta_for_non_admins %>
            </p>
          </span>
        <% end %>
        <%= form_tag dismiss_notice_path(Billing::OFACCompliance::TRADE_CONTROLS_READ_ONLY), class: "js-notice-dismiss" do %>
          <button type="submit" class="close-button" aria-label="Hide this notice">
            <%= octicon("x") %>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="flash flash-warn flash-full border-top-0 text-center text-bold py-2">
    <%# TODO: add [Learn more](link to docs) before public ship.%>
    This repository has been archived by the owner. It is now read-only.
  </div>
<% end %>
