<div class="<%= signup_form_margin("y") %>" <%= test_selector("signup-form-captcha")%>>
  <%= signup_h2("Verify your account", class: signup_form_margin("b")) %>

  <div class="js-octocaptcha-spinner d-flex flex-justify-center flex-items-center width-full">
    <%= image_tag "spinners/octocat-spinner-128.gif", size: "64x64", alt: "Waiting for verification." %>
  </div>

  <div class="js-octocaptcha-success d-none d-flex flex-justify-center flex-items-center width-full">
    <%= octicon("check", height: 64, class: "text-green", "aria-label": "Account has been verified. Please continue.") %>
  </div>
  <div class="js-octocaptcha-frame-container width-full v-hidden zero-height"
    data-ga-event-category="Signup funnel entrance"
  >
    <iframe src="<%= GitHub.urls.octocaptcha_url_with_src_params(origin_page) %>" class="js-octocaptcha-frame width-full octocaptcha-frame d-block border-0" title="Please verify by completing this captcha."></iframe>
  </div>
  <input type="hidden" name="octocaptcha-token" class="js-octocaptcha-token" data-octocaptcha-url="<%= GitHub.urls.octocaptcha_url %>">
</div>
