<% organization_prefix ||= "the" %>

<ul class="pl-4 my-2">
  <li> They are an admin of <%= organization_prefix %> organization, </li>
  <li> They are a member of <%= organization_prefix %> organization (except if they have the role of billing manager), </li>
  <li> They are an outside collaborator on a private repository owned by <%= organization_prefix %> organization (except forks), </li>
  <li> They have a pending invitation to <%= organization_prefix %> organization (except if the invitation is for a role of billing manager), and/or </li>
  <li> They have a pending invitation to a private repository owned by <%= organization_prefix %> organization (except forks). </li>
</ul>
