<% locals = ensure_local_vars(local_assigns, {
  required: [:plan_display_name, :plan_description, :plan_name, :selection_text],
  optional: [:price, :price_subtitle, :is_last_item, :features, :data, :disabled, :button_value, :custom_button, :style, :card_as_link],
  defaults: {
    disabled: false
  }
}) %>


<div
  class="currency-container col-12 signup-plan-column js-details-container<% unless locals[:is_last_item] %> mr-sm-2 <% end %>"
  <%= test_selector(plan_name) %>
>

  <div class="d-none d-sm-block height-full">
    <%= render partial: "shared/plan_selection_large", locals: {
      plan_name: locals[:plan_name],
      plan_display_name: locals[:plan_display_name],
      price: locals[:price],
      price_subtitle: locals[:price_subtitle],
      plan_description: locals[:plan_description],
      selection_text: locals[:selection_text],
      disabled: locals[:disabled],
      data: locals[:data],
      button_value: locals[:button_value],
      features: locals[:features],
      custom_button: locals[:custom_button],
      style: locals[:style],
      card_as_link: locals[:card_as_link]
    } %>
  </div>

  <div class="d-block d-sm-none">
    <%= render partial: "shared/plan_selection_small", locals: {
      plan_name: locals[:plan_name],
      plan_display_name: locals[:plan_display_name],
      price: locals[:price],
      price_subtitle: locals[:price_subtitle],
      plan_description: locals[:plan_description],
      selection_text: locals[:selection_text],
      disabled: locals[:disabled],
      data: locals[:data],
      button_value: locals[:button_value],
      features: locals[:features],
      custom_button: locals[:custom_button],
      card_as_link: locals[:card_as_link]
    } %>
  </div>
</div>
