<%
  feature, icon = feature
%>
<li class="d-flex m-1">
  <%= icon ||= octicon( "check", width: "16", height: "16", class: "text-green text-green-mktg my-1 mr-2") %>
  <div class="f5 text-left signup-plan-card-light-text width-full">
    <%= feature %>
  </div>
</li>
