<% locals = ensure_local_vars(local_assigns, {
  required: [:plan_display_name, :plan_description, :plan_name, :selection_text],
  optional: [:price, :price_subtitle, :is_last_item, :features, :data, :disabled, :button_value, :custom_button, :card_as_link],
  defaults: {
    disabled: false
  }
})

free_plan = plan_display_name == "Free"
%>

<!-- Responsive/Mobile Card -->
<%= wrap_as_link_if(locals[:card_as_link].present?, locals.dig(:card_as_link, :link), locals.dig(:card_as_link, :attr)) do %>
  <div class="p-4 mb-3 rounded-1 signup-plan-card d-flex color-gray-9">
    <label class="d-flex flex-auto flex-self-stretch flex-row text-normal flex-justify-between <% if locals[:card_as_link].present? %>cursor-pointer<% end %>">

      <!-- Plan Card Info -->
      <div class="d-flex flex-auto flex-column">
        <!-- Plan Name -->
        <div class="h2 lh-condensed" <%= test_selector("plan-display-name-#{locals[:plan_name]}") %>>
          <%= locals[:plan_display_name] %>
        </div>

        <!-- Plan Description -->
        <div class="f4 mt-2" <%= test_selector("plan-description-#{locals[:plan_name]}") %>>
          <%= locals[:plan_description] %>
        </div>

        <!-- Feature List -->
        <% if locals[:features] %>
          <div class="my-3">
            <ul class="list-style-none" <%= test_selector("plan-displayed-features-#{locals[:plan_name]}") %>>
            <% locals[:features].each do |item| %>
                <%= render partial: "shared/plan_list_item", locals: { feature: item } %>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if !free_plan && (locals[:price] || locals[:price_subtitle] || locals[:price_detail]) %>
          <div class="mb-4">
            <!-- Plan Main Price -->
            <% if locals[:price] %>
              <div class="text-bold lh-condensed d-flex flex-justify-start flex-items-end">
                <span class="h0-mktg lh-condensed-ultra" <%= test_selector("plan-price-#{locals[:plan_name]}") %>>
                  <%= locals[:price] %>
                </span>

                <!-- Plan Price Subtitle -->
                <% if locals[:price_subtitle] %>
                  <span class="h4-mktg text-bold ml-2" <%= test_selector("plan-subtitle-#{locals[:plan_name]}") %>>
                    <%= locals[:price_subtitle] %>
                  </span>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <% unless locals[:card_as_link] %>
          <!-- Plan CTA button -->
          <% if locals[:custom_button] %>
            <%= locals[:custom_button]  %>
          <% else %>
            <%= render partial: "signup/button", locals: {
              text: locals[:selection_text],
              type: "submit",
              disabled: locals[:disabled],
              data_disabled: false,
              data: locals[:data],
              name: "plan",
              custom_classes: "ws-normal signup-plan-card-light-text f4",
              value: locals[:button_value] || locals[:plan_name],
              test_selector: "plan-input-#{locals[:plan_name]}"
            } %>
          <% end %>
        <% end %>
      </div>

    </label>
  </div>
  <% end %>
