<details class="d-inline details-overlay details-reset dropdown">
  <summary aria-haspopup="true">
    <%= octicon("question", "aria-label" => "More information") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-s p-3">
    For more detailed information see <a href="<%= consumed_licenses_path %>">the <%= entity %>'s licensing page</a>
  </details-menu>
</details>
