<%# rubocop:disable Lint/InstanceVariable %>
<%# erblint:counter TooltipCounter 1 %>

<div class="flash flash-full <%= weak_password_used_for_sign_in? ? "flash-error" : "flash-warn" %>">
  <div class="container-lg <% responsive? ? "p-responsive" : "px-3" %>">
      <p>
        <%= octicon("alert") %> <%= weak_password_used_for_creation_or_change? ? "The new password " : "The password " %> you provided is in a list of passwords commonly used on other websites.
        <% if weak_password_used_for_creation_or_change? %>
          Your password was not saved. Please choose a stronger password.
        <% elsif logged_in? %>
          To increase your security, you must update your password. <b>After <%= current_user.block_deadline %> we will automatically reset your password.</b> Change your password on <%= link_to "the settings page", settings_user_security_path %>.
        <% else %>
          To increase your security, <b>you will be unable to sign in using your current password after <%= current_user&.block_deadline || @user&.block_deadline || "September 1st, 2019" %></b>. Please complete your two factor authentication process and change your password as soon as possible.
        <% end %>
      </p>
      <p class="text-small">Read our documentation on <a href="<%= GitHub.help_url %>/articles/creating-a-strong-password" class="tooltipped tooltipped-s" aria-label="Learn more about strong passwords">safer password practices</a>.</p>
  </div>
</div>
