<%graphql
  fragment Repository on StaffAccessedRepository {
    owner {
      login
    }
    name
    nameWithOwner
    usesCustomOpenGraphImage
    openGraphImageUrl
    openGraphImage {
      databaseId
      contentType
      size
      name
      updatedAt
      uploader {
        login
      }
    }
    isPrivate
  }
%>
<%
  repository = Views::Stafftools::RepositoryImages::Index::Repository.new(repository)
  page_info title: "#{repository.owner.login} - #{repository.name} - Images"
%>

<div class="boxed-group">
  <h3>Open Graph image</h3>

  <div class="boxed-group-inner">
    <p>
      <em>The Open Graph image for a repository is used in the <code>og:image</code> and
      <code>twitter:image:src</code> meta tags to provide social networks with an image that
      represents the repository. It appears on Twitter, Facebook, and other external sites when
      someone links to the repository, its issues, or its pull requests.</em>
    </p>
    <hr class="bleed-flush">
    <div class="d-flex<%= "flex-column" if repository.uses_custom_open_graph_image? %>">
      <% if repository.uses_custom_open_graph_image? %>
        <p>
          <strong><%= repository.name_with_owner %></strong> has a custom social card image<%= ", however because the repository is private, its custom image is not publicly visible" if repository.is_private? %>.
        </p>
        <%= link_to repository.open_graph_image_url.to_s, target: "_blank", class: "d-block", rel: "noopener noreferrer", "aria-label": "Repository image" do %>
          <div class="border rounded-2 repository-og-image" style="background-image: url('<%= repository.open_graph_image_url %>')"></div>
        <% end %>
        <div class="mt-3">
          <p>
            Content type: <%= repository.open_graph_image.content_type %><br>
            Size: <%= number_to_human_size repository.open_graph_image.size %><br>
            File name: <%= repository.open_graph_image.name %><br>
            Uploaded by: <%= link_to repository.open_graph_image.uploader.login, stafftools_user_path(repository.open_graph_image.uploader.login) %><br>
            Last modified: <%= time_ago_in_words repository.open_graph_image.updated_at %> ago
          </p>
          <%= link_to repository.open_graph_image_url, repository.open_graph_image_url.to_s, target: "_blank", rel: "noopener noreferrer" %>
        </div>
      <% else %>
        <%= link_to image_tag(repository.open_graph_image_url.to_s, size: "125x125", alt: "", class: "avatar"), repository.open_graph_image_url.to_s, target: "_blank", rel: "noopener noreferrer", "aria-label": "Repository image" %>
        <div class="ml-3">
          <p>
            <strong><%= repository.name %></strong> does not have a custom social card image, so the owner <%= link_to repository.owner.login, stafftools_user_path(repository.owner.login) %>'s avatar is used instead.
          </p>
          <%= link_to repository.open_graph_image_url, repository.open_graph_image_url.to_s, target: "_blank", rel: "noopener noreferrer" %>
        </div>
      <% end %>
    </div>

    <% if repository.uses_custom_open_graph_image? %>
      <hr class="bleed-flush">
      <div class="clearfix pb-1">
        <%= stafftools_button_to "Delete image", stafftools_repository_image_path(repository.owner.login, repository.name, repository.open_graph_image.database_id), method: :delete, class: "btn btn-danger", form_class: "boxed-action", data: { :confirm => "Are you sure you want to delete the custom image for #{repository.name_with_owner}?", "disable-with" => "Deleting..." } %>
      </div>
    <% end %>
  </div>
</div>
