<div class="p-3" <%= test_selector("cwe-hovercard") %>>
  <div class="f6 text-gray-light mb-2">
    <%= octicon("alert", class: "mr-1") %>
    <span class="text-gray">CWE-<%= cwe[:id] %></span>
  </div>

  <div class="f5 lh-condensed mb-2 text-bold">
    <%= cwe[:name] %>
  </div>

  <div class="f5 lh-condensed mb-2">
    <%= cwe[:description] %>
  </div>

  <a href="https://cwe.mitre.org/data/definitions/<%= cwe[:id] %>.html" class="f6 muted-link" target="_blank" rel="noopener noreferrer">
    <%= octicon("link-external", class: "mr-1") %>
    Learn more on MITRE
  </a>
</div>
