<%graphql
  fragment User on User {
    subscription {
      duration
    }
  }

  fragment Organization on Organization {
    subscription {
      duration
    }
  }
%>

<%
  viewer        = Views::MarketplacePurchases::CurrentPlan::User.new(view.viewer)
  organization  = Views::MarketplacePurchases::CurrentPlan::Organization.new(view.organization)
  account = organization || viewer
%>


<div class="border-bottom pb-3 clearfix">
  <div class="float-left lh-condensed">
    <h4>Current plan</h4>
    <span class="text-small text-gray d-block">
      <%= view.current_plan_description %>
    </span>
  </div>
  <% if view.show_current_plan_price? %>
    <p class="float-right mb-0 lh-condensed"><span class="f4 d-block"><%= view.current_plan_formatted_total_price %></span><span class="text-small text-gray d-block text-right">/ <%= account.subscription.duration.downcase %></span></p>
  <% end %>
</div>
