<%graphql
  fragment Root on Query {
    marketplaceEndUserAgreement {
      name
      version
      bodyHTML
      signature {
        createdAt
      }
    }
  }
  fragment MarketplaceListing on MarketplaceListing {
    name
    privacyPolicyUrl
    termsOfServiceUrl
    hasTermsOfService
    viewerHasSignedLatestEndUserAgreement
  }
%>
<%
  data = Views::MarketplacePurchases::TermsOfServiceNotice::Root.new(data)
  agreement = data.marketplace_end_user_agreement
  listing = Views::MarketplacePurchases::TermsOfServiceNotice::MarketplaceListing.new(listing)
%>
<div class="text-small text-gray text-center mb-0 lh-condensed">
  <% if listing.has_terms_of_service? %>
    By clicking "<%= btn_text %>", you are agreeing to
    <% unless listing.viewer_has_signed_latest_end_user_agreement? %>
      the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
        button_text: agreement.name,
        button_class: "btn-link",
        agreement_title: "GitHub #{agreement.name} #{agreement.version}",
        agreement_body_html: agreement.body_html } %>,
    <% end %>
    <%= listing.name %>’s <a target="_blank" rel="noopener noreferrer" href="<%= listing.terms_of_service_url %>">Terms of Service</a> and
    the <a target="_blank" rel="noopener noreferrer" href="<%= listing.privacy_policy_url %>">Privacy Policy</a>.
  <% else %>
    By clicking "<%= btn_text %>", you agree to
    <% unless listing.viewer_has_signed_latest_end_user_agreement? %>
      the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
        button_text: agreement.name,
        button_class: "btn-link",
        agreement_title: "GitHub #{agreement.name} #{agreement.version}",
        agreement_body_html: agreement.body_html } %> and
    <% end %>
    <%= listing.name %>’s <a target="_blank" rel="noopener noreferrer" href="<%= listing.privacy_policy_url %>">Privacy Policy</a>.
  <% end %>

  <% if listing.viewer_has_signed_latest_end_user_agreement? %>
    You previously agreed to the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
      button_text: "#{agreement.name}.",
      button_class: "btn-link",
      agreement_title: "GitHub #{agreement.name} #{agreement.version}",
      signature_created_at: agreement.signature.created_at,
      agreement_body_html: agreement.body_html } %>
  <% end %>
</div>
