<% page_info :title => "Accounting Reports" %>

<% date_select = capture do %>
  <%
    default_month = (Time.now - 1.month).month
    year_range    = 2007..Date.today.year
    default_year  = (Time.now - 1.month).year
  %>
  <%= select_tag :month, options_for_select(1..12, default_month) %>
  <%= select_tag :year, options_for_select(year_range, default_year) %>
<% end %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Accounting Reports</h3>
    <div class="boxed-group-inner">
      <%= form_tag yearly_transactions_biztools_accounting_path, :class => "boxed-action" do |f| %>
        <%= date_select %>
        <button type="submit" class="btn">Download</button>
      <% end %>
      <h4>Yearly transactions</h4>
      <p>
        Sales transactions from accounts on yearly billing.
      </p>

      <hr>

      <%= form_tag yearly_refunds_biztools_accounting_path, :class => "boxed-action" do |f| %>
        <%= date_select %>
        <button type="submit" class="btn">Download</button>
      <% end %>
      <h4>Yearly refunds</h4>
      <p>
        Transactions refunding yearly sales transactions.
      </p>

    </div>
  </div>

  <div class="boxed-group">
    <h3>Invoiced Accounts</h3>
    <div class="boxed-group-inner">
      <p>
        View all <%= link_to "invoiced accounts", invoiced_stafftools_users_path %>
      </p>
    </div>
  </div>
<% end %>
