<%# `view` is an instance of EditRepositories::AdminScreen::MemberSuggestionsView %>
<% if view.suggested_members.any? %>
  <% view.suggested_members.each do |suggestion| %>
    <% case suggestion %>
    <% when User %>
      <%
        org_member = view.org_member_ids.include?(suggestion.id)
        repo_member = view.repo_member_ids.include?(suggestion.id)
        invited = view.invitees.include?(suggestion)
        disabled = repo_member || invited
        org_admin = view.admin_ids.include?(suggestion.id)
      %>
      <li role="option" class="p-2 autocomplete-item js-autocomplete-item <%= "disabled text-gray bg-gray" if disabled %>" <% if disabled %>aria-disabled="true"<% end %> data-autocomplete-value="user/<%= suggestion.id %>" data-autocomplete-label="<%= suggestion.login %>" data-type="<%= org_member ? "org-member" : "outside-collab" %>" <%= "data-admin" if org_admin %>>
        <div class="d-flex flex-items-center">
          <div class="col-1 mr-1 text-center">
            <%= avatar_for(suggestion, 28, class: "avatar") %>
          </div>
          <div class="f6">
            <strong><%= suggestion.safe_profile_name %></strong>
            <span class="d-block text-normal text-gray">
              <%= suggestion.login if suggestion.profile_name.present? %>
              <% if !org_member || repo_member %>
                <% if suggestion.profile_name.present? %>&bull;<% end %>
                <% if repo_member %>
                  Already has access to this repository
                <% elsif invited %>
                  Has a pending invitation to this repository
                <% elsif !org_member && current_repository.in_organization? %>
                  Invite outside collaborator
                <% elsif !org_member && !current_repository.in_organization? %>
                  Invite collaborator
                <% end %>
              <% end %>
            </span>
          </div>
        </div>

        <div class="js-selection-badge" hidden>
          <div class="d-flex flex-items-center p-2 rounded-2 text-blue bg-blue-light border border-blue-light">
            <div class="col-1 mr-2 text-center">
              <%= avatar_for(suggestion, 28, class: "avatar") %>
            </div>
            <div class="col-10 mr-2">
              <h5 class="css-truncate css-truncate-overflow"><%= suggestion.safe_profile_name %></h5>
              <span class="d-block f6">
                <%= suggestion.login if suggestion.profile_name.present? %>
              </span>
            </div>
            <button class="js-cancel-selection mr-2 btn-link" type="button" aria-label="Cancel selection">
              <%= octicon "x" %>
            </button>
          </div>
        </div>

      </li>
    <% when Team %>
      <% disabled = repo_team = view.repo_team_ids.include?(suggestion.id) %>
      <li role="option" class="p-2 Box-row autocomplete-item js-autocomplete-item <%= "disabled" if disabled %>" <% if disabled %>aria-disabled="true"<% end %> data-autocomplete-value="team/<%= suggestion.id %>" data-autocomplete-label="<%= suggestion.combined_slug %>" data-type="team">
        <div class="d-flex flex-items-center">
          <div class="d-flex flex-items-center flex-justify-center col-1 mr-1 text-center" style="height:28px">
            <%= octicon("jersey", class: "text-gray") %>
          </div>
          <div class="f6">
            <strong><%= suggestion.combined_slug %></strong>
            <% if repo_team %>
              <span class="d-block text-normal text-gray">Already has access to this repository</span>
            <% end %>
          </div>
        </div>
        <div class="js-selection-badge" hidden>
          <div class="d-flex flex-items-center p-2 rounded-2 text-blue bg-blue-light border border-blue-light">
            <div class="col-1 mr-2 text-center">
              <%= octicon("jersey") %>
            </div>
            <div class="col-10 mr-2">
              <h5 class="css-truncate css-truncate-overflow"><%= suggestion.name %></h5>
              <span class="d-block f6">
                <%= suggestion.slug %>
              </span>
            </div>
            <button class="js-cancel-selection mr-2 btn-link" type="button" aria-label="Cancel selection">
              <%= octicon "x" %>
            </button>
          </div>
        </div>

      </li>
    <% end %>
  <% end %>
<% elsif view.email_invitation? %>
  <li role="option" class="p-2 autocomplete-item js-autocomplete-item" data-autocomplete-value="user/<%= view.query %>" data-autocomplete-label="<%= view.query %>" data-type="email">
    <div class="d-flex flex-items-center">
      <div class="col-1 mr-1 text-center">
        <%= octicon("mail", :height => 20, :class => "mt-n3") %>
      </div>
      <div class="f6">
        <strong><%= view.query %></strong>
        <span class="d-block text-normal text-gray">
          Invite to <%= view.repository.name %>
        </span>
      </div>
    </div>

    <div class="js-selection-badge" hidden>
      <div class="d-flex flex-items-center p-2 rounded-2 text-blue bg-blue-light border border-blue-light">
        <div class="col-1 text-center">
          <%= octicon("mail-read", :height => 18) %>
        </div>
        <div class="flex-auto">
          <h5><%= view.query %></h5>
        </div>
        <button class="js-cancel-selection mr-2 btn-link" type="button" aria-label="Cancel selection">
          <%= octicon "x" %>
        </button>
      </div>
    </div>
  </li>
<% else %>
  <li class="Box-row autocomplete-item disabled p-2" data-autocomplete-value="<%= view.query %>" aria-disabled="true" role="option">
    <% if view.cannot_invite_outside_collaborators? %>
      Could not find <%= view.query %> in your organization
    <% else %>
      Could not find a GitHub account matching <%= view.query %>
    <% end %>
  </li>
<% end %>
