<div class="mx-3">
  <a href="<%= user_path(member) %>">
    <%= avatar_for member, 32, class: "avatar", data: hovercard_data_attributes_for_user(member) %>
  </a>
</div>

<div class="d-flex flex-column flex-auto col-6">
  <a href="<%= user_path(member) %>"><strong><%= view.member_name(member) %></strong></a>
  <span class="f6 text-gray">
    <% if secondary_name = view.member_secondary_name(member) %>
      <%= secondary_name %>
    <% end %>
    <% if view.show_collaborator_label?(member) %>
      <% if secondary_name %>&bull;<% end %>
      <%= "Outside" if current_repository.in_organization? %>
      Collaborator
    <% end %>
  </span>
</div>

<div class="d-flex flex-items-center col-3">
    <% if mixed_roles = view.mixed_roles(member) %>
    <%# erblint:counter TooltipCounter 1 %>
    <a href="<%= repository_permissions_path(view.organization, member, current_repository.owner, current_repository) %>"
       role="button" aria-label="<%= mixed_roles %>"
        class="btn-octicon tooltipped tooltipped-n muted-link">
      <%= octicon("alert", class: "color-yellow-7 mr-1") %>
      <span class="f6">Mixed roles</span>
    </a>
  <% end %>
</div>

<div class="col-3 d-flex flex-justify-end pr-3">
  <% if view.show_individual_role_select? %>
    <%= render_partial_view "edit_repositories/admin_screen/access_management/permission_select",
      Orgs::Repositories::PermissionSelectView,
      repository:       current_repository,
      selected_action:  view.direct_role_for(member).to_s,
      submit_path:      repository_update_member_path(current_repository.owner, current_repository, member),
      base_role:        view.organization.default_repository_permission,
      is_org_member:    view.org_member?(member),
      is_org_owner:     view.org_owner?(member)
    %>
  <% end %>
</div>

<div class="d-flex flex-grow-0">
  <% if view.show_individual_remove_access_button?(member) %>
    <%= render layout: "shared/details_dialog", locals: {
      button_icon: "trashcan",
      button_text: "",
      title: "Confirm you want to remove this member",
      button_class: "close-button btn-octicon-danger",
      button_aria_label: "remove access to user from this repository"
    } do %>
      <%= form_tag settings_remove_member_url(member: member),
          "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
          "data-skip-remote":    member == current_user,
          method:               :delete do %>
      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Once removed,
          <span class="text-bold"><%= member.name %></span>
          will no longer have access to the
          <span class="text-bold"><%= current_repository.name %></span>
          repository.
        </p>
        <button type="submit" class="btn btn-danger btn-block mt-3" data-close-dialog>
          Remove <%= member.name %> from <%= current_repository.name %>
        </button>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
