<div itemscope itemtype="http://schema.org/Repository" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= members_toolbar_actions_path(repository: view.repository, user_id: view.repository.owner) %>">
  <div class="Box rounded-0 rounded-top-1 border-bottom-0">
    <div class="Box-header d-flex flex-items-center">
      <% if view.show_admin_stuff? %>
        <div class="pr-3">
          <input type="checkbox" id="select-all-checkbox" data-check-all>
        </div>
        <div class="select-all-dropdown js-bulk-actions flex-auto">
          <%=
            render_partial_view "edit_repositories/pages/members_toolbar_actions",
              EditRepositories::Pages::MemberToolbarActionsView,
              repository: view.repository
          %>
        </div>
      <% else %>
        <label class="flex-auto table-list-header-meta py-1">
          <%= view.direct_access_headcount %> with direct access
        </label>
      <% end %>
      <%=
        render_partial_view "edit_repositories/admin_screen/access_management/filter_pulldown", view
      %>
      <% if view.repository.in_organization? %>
     <%=
        render_partial_view "edit_repositories/admin_screen/access_management/role_pulldown", view
      %>
      <% end %>
    </div>
    <div class="Box-row">
      <%= render_partial_view "edit_repositories/admin_screen/access_management/search_bar", view %>
    </div>
  </div>

  <div id="repository-access-table" data-pjax-container>
    <%= render_partial_view "edit_repositories/admin_screen/access_management/members_table_body", view %>
  </div>
</div>
