<details class="d-inline-block details-reset details-overlay position-relative text-gray" data-filter-on="role">
    <summary aria-haspopup="true">
    Role
    <div class="dropdown-caret"></div>
    </summary>
    <details-menu class="SelectMenu right-0">
    <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
        <div class="SelectMenu-title">Filter by role</div>
        </header>
        <div class="SelectMenu-list">
        <a
            href="<%= url_for(query: "") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter=""
            aria-checked="<%= view.selected_role_filter?(:all) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            All
        </a>
        <a
            href="<%= url_for(query: "role:read") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter="role:read"
            aria-checked="<%= view.selected_role_filter?(:read) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            Read
        </a>
        <a
            href="<%= url_for(query: "role:triage") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter="role:triage"
            aria-checked="<%= view.selected_role_filter?(:triage) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            Triage
        </a>
        <a
            href="<%= url_for(query: "role:write") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter="role:write"
            aria-checked="<%= view.selected_role_filter?(:write) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            Write
        </a>
        <a
            href="<%= url_for(query: "role:maintainer") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter="role:maintain"
            aria-checked="<%= view.selected_role_filter?(:maintain) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            Maintain
        </a>
        <a
            href="<%= url_for(query: "role:admin") %>"
            class="SelectMenu-item js-member-search-filter"
            data-filter="role:admin"
            aria-checked="<%= view.selected_role_filter?(:admin) %>"
            role="menuitemradio">

            <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
            Admin
        </a>
        <% if view.show_custom_roles? %>
          <% view.org_custom_roles.each do |role| %>
            <a
                href="<%= url_for(query: "role:'#{role.name}'") %>"
                class="SelectMenu-item js-member-search-filter"
                data-filter="role:'<%= role.name %>'"
                aria-checked="<%= view.selected_role_filter?(role.name) %>"
                role="menuitemradio">

                <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
                <%= role.name %>
            </a>
          <% end %>
        <% end %>
        </div>
    </div>
    </details-menu>
</details>