<div class="d-flex mb-2">
  <div class="flex-1">
    <h6 class="ml-3 text-gray">
      Choose a role
    </h6>
  </div>

  <% if view.show_role_details? %>
    <div class="flex-justify-end mr-3">
      <h6>
        <%= link_to "View role details", settings_role_details_path(current_repository.organization.name) %>
      </h6>
    </div>
  <% end %>
</div>

<div class="Box rounded-0 border-0 border-top overflow-auto min-height-0">
  <div class="Box-row Box-row--hover-gray border-top p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="pull" class="js-role-pull" <% if view.disabled_role?("read")%>data-disable-org-role<% end %> data-disable-org-admin required>
        </span>
        <div>
          <h5 class="d-flex flex-items-center">Read <% if view.show_base_role_badge?(:read) %> <span class="label Label--gray-darker ml-1 js-base-role-badge"> Base Role </span> <% end %></h5>
          <span class="f6 text-normal text-gray">
            Recommended for non-code contributors who want to view or discuss your project.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if view.plan_supports_fgp? %>
    <div class="Box-row Box-row--hover-gray p-0">
      <div class="d-flex js-role-checkbox">
        <label class="d-flex flex-auto px-3 py-2 lh-condensed">
          <span class="mr-3">
            <input name="role" type="radio" value="triage" <%= "data-disable-org-role" if view.disabled_role?("triage")%> data-disable-org-admin required>
          </span>
          <div>
            <h5 class="d-flex flex-items-center">Triage <% if view.show_base_role_badge?(:triage) %> <span class="label Label--gray-darker ml-1 js-base-role-badge"> Base Role </span> <% end %></h5>
            <span class="f6 text-normal text-gray">
              Recommended for contributors who need to manage issues and pull requests without write access.
            </span>
          </div>
        </label>
      </div>
    </div>
  <% end %>

  <div class="Box-row Box-row--hover-gray p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="push" <% if view.disabled_role?("write")%>data-disable-org-role<% end %> data-disable-org-admin required>
        </span>
        <div>
          <h5 class="d-flex flex-items-center">Write <% if view.show_base_role_badge?(:write) %> <span class="label Label--gray-darker ml-1 js-base-role-badge"> Base Role </span> <% end %> </h5>
          <span class="f6 text-normal text-gray">
            Recommended for contributors who actively push to your project.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if view.plan_supports_fgp? %>
    <div class="Box-row Box-row--hover-gray p-0">
      <div class="d-flex js-role-checkbox">
        <label class="d-flex flex-auto px-3 py-2 lh-condensed">
          <span class="mr-3">
            <input name="role" type="radio" value="maintain" <%= "data-disable-org-role" if view.disabled_role?("maintain")%> data-disable-org-admin required>
          </span>
          <div>
            <h5 class="d-flex flex-items-center">Maintain <% if view.show_base_role_badge?(:maintain) %> <span class="label Label--gray-darker ml-1 js-base-role-badge"> Base Role </span> <% end %></h5>
            <span class="f6 text-normal text-gray">
              Recommended for project managers who need to manage the repository without access to sensitive or destructive actions.
            </span>
          </div>
        </label>
      </div>
    </div>
  <% end %>

  <div class="Box-row Box-row--hover-gray p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="admin" class="js-role-admin" <% if view.disabled_role?("admin")%>data-disable-org-role<% end %> required>
        </span>
        <div>
          <h5 class="d-flex flex-items-center">Admin <% if view.show_base_role_badge?(:admin) %> <span class="label Label--gray-darker ml-1 js-base-role-badge"> Base Role </span> <% end %></h5>
          <span class="f6 text-normal text-gray">
            Recommended for people who need full access to the project, including sensitive and destructive actions like managing security or deleting a repository.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if view.show_custom_roles? %>
    <% view.org_custom_roles.each do |role| %>
      <div class="Box-row Box-row--hover-gray p-0">
        <div class="d-flex js-role-checkbox">
          <label class="d-flex flex-auto px-3 py-2 lh-condensed">
            <span class="mr-3">
              <input name="role" type="radio" value="<%= role.name %>" <%= "data-disable-org-role" if view.disabled_role?(role.name)%> data-disable-org-admin required>
            </span>
            <div>
              <h5 class="d-flex flex-items-center"><%= role.name.capitalize %></h5>
              <span class="f6 text-normal text-gray">
                <%= role.description %>
              </span>
            </div>
          </label>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
