<%= form_with url: repository_access_management_path(view.repository.owner, view.repository),
              method: :get,
              data: { "autosearch-results-container": "repository-access-table" },
              class: "subnav-search ml-0 d-flex",
              id: "manage-access-form",
              role: "search" do %>

  <div class="flex-auto auto-search-group">
    <input type="search"
           name="query"
           class="form-control input-block subnav-search-input width-full input-contrast auto-search-input js-member-filter-field"
           value="<%= params[:query] %>"
           placeholder="<%= view.search_placeholder %>&hellip;"
           aria-label="<%= view.search_placeholder %>&hellip;"
           autocomplete="off"
           data-throttled-autosubmit>
      <%= octicon "search", class: "subnav-search-icon" %>
      <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
  </div>
<% end %>
