<div class="mx-3">
  <a href="<%= team_path(team) %>">
    <%= avatar_for team, 32, class: "avatar", data: hovercard_data_attributes_for_team(team) %>
  </a>
</div>

<div class="d-flex flex-column flex-auto col-6">
  <a class="" href="<%= team_path(team) %>"><strong><%= view.member_name(team) %></strong></a>
  <div class="f6 text-gray">@<%= view.member_secondary_name(team) %> &bull; <%= pluralize team.members_scope.count, 'member' %></div>
</div>

<div class="d-flex flex-items-center col-3">
    <% if mixed_roles = view.mixed_roles(team) %>
    <%# erblint:counter TooltipCounter 1 %>
    <a href="<%= team_repositories_path(view.first_team_giving_mixed_role(team)) %>"
       role="button" aria-label="<%= mixed_roles %>"
        class="btn-octicon tooltipped tooltipped-n muted-link">
      <%= octicon("alert", class: "color-yellow-7 mr-1") %>
      <span class="f6">Mixed roles</span>
    </a>
  <% end %>
</div>

<div class="col-3 d-flex flex-justify-end pr-3">
  <%= render_partial_view "edit_repositories/admin_screen/access_management/permission_select",
    Orgs::Repositories::PermissionSelectView,
    repository:       view.repository,
    selected_action:  view.direct_role_for(team).to_s,
    submit_path:      team_repository_path(team, view.repository),
    base_role:        view.organization.default_repository_permission
  %>
</div>

<div class="d-flex flex-auto flex-justify-end flex-items-center">
  <div class="d-flex flex-grow-0">
    <%= render layout: "shared/details_dialog", locals: {
      button_icon: "trashcan",
      button_text: "",
      title: "Confirm you want to remove this team",
      button_class: "close-button btn-octicon-danger",
      button_aria_label: "remove team access to this repository"
    } do %>
      <%= form_tag url_for(action: :remove_team, team: team.id),
          "data-error-message": "Sorry, we couldn’t remove access. Please try again.",
          method: :delete do %>
      <div class="Box-body overflow-auto">
        <p class="mb-0">
          Once removed,
          <span class="text-bold"><%= team.name %></span>
          team will no longer have access to the
          <span class="text-bold"><%= current_repository.name %></span>
          repository.
        </p>
      </div>
      <div class="Box-footer">
        <button type="submit" class="btn btn-danger btn-block css-truncate css-truncate-overflow" data-close-dialog>
          Remove <%= team.name %> from <%= current_repository.name %>
        </button>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
