<%
  page_info(
    title: view.page_title
  )
%>

<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(view.organization) %>"><%= view.organization.to_s %></a>
<% end %>

<%= render "orgs/enterprise_trial_banner", organization: view.organization %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render_partial_view "orgs/packages/header", Orgs::OverviewView, { organization: view.organization }, locals: { organization: view.organization } %>

  <div class="container-lg p-responsive clearfix js-pinned-items-reorder-container">
    <% if view.organization.spammy? && current_user.site_admin? %>
      <div class="flash flash-error mb-4">
        This organization is flagged <strong>spammy</strong>.
      </div>
    <% end %>

    <%= render partial: "registry/packages/list", locals: { owner: view.organization, packages: packages, params: params } %>
  </div>
</div>
