<%# erblint:disable ProperTagNesting %>
<%# erblint:disable ButtonHasType %>
<button class="btn js-minimize-target" id="minimize-comment">
  <span class="js-minimize-toggle <%= "text-red" if comment.minimized? %>">
    <% if comment.minimized? %>
      <%= comment.minimized_audit_log.present? ? "Minimized as #{comment.minimized_reason}" : "Minimized" %>
    <% else %>
      Minimize
    <% end %>
  </span>
  <span class="js-minimize-toggle d-none"><%= octicon("x", class: "text-gray") %></span>
</button>
</div>

<div class="js-minimize-toggle d-none">
  <% if comment.minimized? %>
    <%= form_tag stafftools_unminimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="minimize_<%= comment.id %>">Why are you showing this comment again?</label></dt>
        <dd>
        <input type="text" class="form-control short js-filterable-field" name="minimized_reason" id="minimize_<%= comment.id %>" placeholder="Additional context (optional)">
          <button type="submit" class="btn">Undo minimize</button>
        </dd>
      </dl>
    <% end %>
  <% else %>
    <%= form_tag stafftools_minimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="minimize_<%= comment.id %>">Why are you minimizing this comment?</label></dt>
        <%= select_tag(:classifier, options_for_select(minimize_reasons_for_select),
                    :prompt => "Choose a reason",
                    :name => "classifier",
                    :class => "form-select mr-2",
                    :'aria-label' => "Reason",
                    :required => "required"
                  ) %>
        <input type="text" class="form-control js-filterable-field" name="minimized_reason" id="minimize_<%= comment.id %>" placeholder="Additional context (optional)">
        <button type="submit" class="btn">Minimize</button>
      <% end %>
    </dl>
  <% end %>
</div>
