<%# rubocop:disable Lint/InstanceVariable %>
<%
  is_pr = this_issue.pull_request?
  title = is_pr ? "Pull request" : "Issue"
  page_info \
    :title => "#{title} ##{this_issue.number} initial post",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "#{title}s",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "#{title} ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_issue_comments_path(this_issue) %>
      / Initial post
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_issue.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Commenter
        </th>
        <td>
          <% issue_path = stafftools_user_path(this_issue.user) if this_issue.user %>
          <%= link_to_if this_issue.user, this_issue.safe_user, issue_path %>
        </td>
      </tr>
    </table>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <% if notifications_view.show_splunk_links?(current_user) %>
    <%= render(
        partial: "stafftools/repositories/notifications_splunk_table",
        locals: { view: notifications_view }
      )
    %>
  <% else %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        Notifications
      </h2>
    </div>

    <%= render(
          partial: "stafftools/issue_comments/notifications",
          locals: { notification_deliveries: notification_deliveries }
        )
    %>
  <% end %>
</div>
