<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Application access policy", :selected_link => :organization_oauth_application_policy %>

<%= render layout: "orgs/settings/layout" do %>
  <div class="settings-next">

    <div class="oauth-application-whitelist js-oauth-application-whitelist">

      <%= render :partial => "oauth_applications/application_header", :locals => { :view => view }  %>

      <%= render Primer::SubheadComponent.new(spacious: true, hide_border: true) do |component| %>
        <% component.slot(:heading, tag: :h2) do %>Access<% end %>
      <% end %>

      <div class="listgroup">

        <% if current_organization %>
          <div class="listgroup-item">
            <strong class="text-gray-dark">Currently:</strong>
            <% if current_organization.approval_denied_for_oauth_application?(view.application) || current_organization.approval_pending_for_oauth_application?(view.application) %>
              <span class="app-denied text-gray ml-2"><%= octicon("x", :class => "text-red mr-1") %>No private access</span>
            <% end %>
            <% if current_organization.allows_oauth_application?(view.application) %>
              <span class="app-approved text-gray ml-2"><%= octicon("check", :class => "mr-1") %>Approved</span>
            <% end %>
          </div>
        <% end %>

        <div class="listgroup-item lh-default">
          <%= form_tag org_set_application_approval_state_path(current_organization, @application.id, :flash => true), "method" => :put, "class" => "js-org-application-access-form float-right" do %>
            <% if current_organization.approval_pending_for_oauth_application?(@application) %>
              <button type="button" class="btn js-deny-this-request mr-2">Deny this request</button>
            <% end %>
            <% if current_organization.allows_oauth_application?(@application) %>
              <%= hidden_field_tag "state", "denied" %>
              <button type="submit" class="btn btn-danger">Deny access</button>
            <% end %>
            <% if view.show_grant_access_button? %>
              <%= hidden_field_tag "state", "approved" %>
              <button type="submit" class="btn btn-danger">Grant access</button>
            <% end %>
          <% end %>
          <strong class="text-gray-dark">
            Review third-party application access request
          </strong>
          <% if current_organization.allows_oauth_application?(@application) %>
            <div class="text-gray">
              Denying access will remove this application’s ability to request access to private data in the <strong><%= current_organization %></strong> organization.
            </div>
          <% else %>
            <div class="text-gray">
              Granting access will give this application the ability to request access to private data in the <strong><%= current_organization %></strong> organization.
            </div>
          <% end %>
        </div>

      </div>

      <p class="note mt-4">
        <%= octicon("question") %>
        Applications act on your behalf to access your data based on the permissions you grant them. Organizations control which applications are allowed to access their private data. Applications authorized by members will always have access to public data in your organization. <a href="<%= GitHub.help_url %>/articles/about-third-party-application-restrictions/">Read about third-party access.</a>
      </p>
    </div>
  </div>
<% end %>
