<% head = proc do %>
  <title><%= @page_title %></title>

  <%= stylesheet_bundle "workspaces-fullscreen" %>

  <%= javascript_bundle "compat" %>
  <%= javascript_bundle "environment" %>
  <%= javascript_bundle "vendor" %>
  <%= javascript_bundle "frameworks" %>
  <%= javascript_bundle "development" if Rails.env.development? && !performance_testing? %>
  <%= javascript_bundle "github" %>
  <%= controller_javascript_bundles %>
<% end %>

<%= render layout: "layouts/document", locals: { head: head } do %>
  <main>
    <%= yield %>
  </main>
<% end %>
