<%# We need a separate fragment to deal with events that use the Actor interface
  # instead of the User type. So here it is. %>
<%graphql
  fragment Actor on Actor {
    ...ApplicationHelper::ActorProfileLink::Actor
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%-
  actor = Views::Issues::Events::ActorLink::Actor.new(actor)
  css_class = local_assigns.fetch(:css_class, "link-gray-dark text-bold")
-%>
<% if actor.nil? %>
  <span class="text-bold text-gray-dark"><%= GitHub.ghost_user_login %></span><% else %>
  <%= graphql_profile_link(actor, class: css_class) %> <%= bot_identifier(actor) %><% end %>