<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment TimelineEvent on TimelineEvent {
    ... on HeadRefDeletedEvent {
      pullRequest {
        restoreHeadRefResourcePath
        viewerCanRestoreHeadRef
      }
    }

    ... on MarkedAsDuplicateEvent {
      viewerCanUndo
      unmarkAsDuplicateResourcePath
      canonical {
        ... on PullRequest {
          id
        }
        ... on Issue {
          id
        }
      }
      duplicate {
        __typename
      }
    }
  }
%>
<%- event = Views::Issues::Events::Actions::TimelineEvent.new(event) -%>
<% if event.is_a?(PlatformTypes::HeadRefDeletedEvent) && event.pull_request.viewer_can_restore_head_ref? %>
  <%= form_tag event.pull_request.restore_head_ref_resource_path.to_s, method: :post, class: "pull-request-ref-restore js-immediate-updates js-needs-timeline-marker-header float-right" do %>
    <button type="submit" data-disable-with="Restoring&hellip;" class="btn btn-sm btn-outline pull-request-ref-restore-text">
      Restore branch
    </button>
  <% end %>
<% elsif event.is_a?(PlatformTypes::MarkedAsDuplicateEvent) && event.viewer_can_undo? %>
  <% duplicate_type = event.duplicate.__typename.titleize.downcase %>
  <%= form_tag event.unmark_as_duplicate_resource_path.to_s, method: :post, class: "float-right js-undo-issue-event-form" do %>
    <input type="hidden" value="<%= event.canonical.id %>" name="issue_id">
    <button type="submit" aria-label="Undo marking this <%= duplicate_type %> as a duplicate" data-disable-with="Undoing&hellip;" class="btn btn-sm btn-outline tooltipped tooltipped-sw">
      Undo
    </button>
  <% end %>
<% end %>
