<%graphql

fragment on Actor {
  ...ApplicationHelper::ActorProfileLink::Actor
  ...ApplicationHelper::LinkedAvatar
}

%>
<%- actor = Views::Issues::Events::Actor.new(actor) -%>
<% if actor %>
  <%= graphql_linked_avatar_for(actor, 20, img_class: "avatar") %>
  <%= graphql_profile_link(actor, class: "author link-gray-dark text-bold") %>
  <%= bot_identifier(actor) %>
<% else %>
  <%
    # TODO figure out a way to retrieve Ghost avatar w/o ActiveRecord
    # so we can `enforce_platform_access` on callers
    # See: https://github.com/github/github/issues/76653
  %>
  <img src="<%= User.ghost.primary_avatar_url(32) %>" alt="@<%= GitHub.ghost_user_login %>" height="20" width="20" class="<%= avatar_class_names(User.ghost) %>">
  <strong class="author"><%= GitHub.ghost_user_login %></strong>
<% end %>
