<%graphql
  fragment on ClosedEvent {
    ...IssuesHelper::CloserReferenceTextFragment
    closer {
      ... on Commit {
        resourcePath
      }
      ... on PullRequest {
        resourcePath
        ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
      }
    }
  }
%>
<% event = Views::Issues::Events::Closed.new(event) %>

closed this
<% if event.closer %>
  in
  <% if event.closer.is_a?(PlatformTypes::Commit) %>
    <code>
      <% commit_url = event.closer.resource_path.to_s %>
      <%= link_to closer_reference_text(event), commit_url, data: hovercard_data_attributes_for_commit(commit_url: commit_url) %>
    </code>
  <% else %>
    <%= content_tag(:a, href: event.closer.resource_path, data: hovercard_data_attributes_for_issue_or_pr(event.closer)) do %>
      <%= closer_reference_text(event) %>
    <% end %>
  <% end %>
<% end %>
