<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment on ReferencedEvent {
    actor {
      ...Views::Issues::Events::ActorLink::Actor
    }
    willCloseSubject
    hasClosedSubject
    isCrossRepository
    isDirectReference
    isAuthoredByPusher
    createdAt
    commit {
      oid
      abbreviatedOid
      repository {
        isPrivate
        nameWithOwner
      }
      ...Views::Commit::Condensed::Commit
    }
    subject {
      ... on Issue {
        state
        repository {
          defaultBranchRef {
            name
          }
        }
      }
      ... on PullRequest {
        mergeCommit {
          oid
        }
        state
        repository {
          defaultBranchRef {
            name
          }
        }
      }
    }
  }
%>
<%-
  event = Views::Issues::Events::CommitReference.new(event)

  if event.commit? && !event.has_closed_subject?
    was_merge_buttoned = (event.subject.respond_to?(:merge_commit) &&
                         event.subject.merge_commit&.oid == event.commit.oid)

    if !was_merge_buttoned
      short_oid           = event.commit.abbreviated_oid
      noun                = event.subject.is_a?(PlatformTypes::PullRequest) ? "pull request" : "issue"
      anchor              = "ref-commit-#{short_oid}"
      default_branch_name = event.subject.repository.default_branch_ref&.name
      open_subject        = event.subject.state.open? || event.subject.state.open?
-%>
<div class="TimelineItem">
  <span class="TimelineItem-badge">
    <%= octicon('cross-reference') %>
  </span>
  <div class="TimelineItem-body" id="<%= anchor %>">
    <%= render "issues/events/actor_link", actor: event.actor, css_class: "author link-gray-dark text-bold" %>

    <% if event.is_direct_reference? %>
      <%= event.is_authored_by_pusher? ? "added" : "pushed" %> a commit
      <% if event.is_cross_repository? %>
        to <%= event.commit.repository.name_with_owner %>
      <% end %>
      that referenced
      this <%= noun %>
    <% else %>
      referenced
      this <%= noun %>
      <% if event.is_cross_repository? %>
        in <%= event.commit.repository.name_with_owner %>
      <% end %>
    <% end %>

    <a href="#<%= anchor %>" class="link-gray">
      <%= time_ago_in_words_js event.created_at %>
    </a>
    <% if default_branch_name && open_subject && event.will_close_subject? %>
      <a class="link-gray tooltipped tooltipped-s"
         href="<%= GitHub.help_url %>/articles/closing-issues-via-commit-messages"
         aria-label="This <%= noun %> will close once commit <%= short_oid %> is merged into the '<%= default_branch_name %>' branch.">
        <%= octicon('info') %>
      </a>
    <% end %>
    <% if event.is_cross_repository? && event.commit.repository.is_private? %>
      <span class="discussion-item-private tooltipped tooltipped-s"
            aria-label="<%= explain_viewable_reference event.commit.repository.name_with_owner %>"><%= octicon('lock') %></span>
    <% end %>
    <div class="mt-3">
      <%= render "commit/condensed", commit: event.commit %>
    </div>
  </div>
</div>
<%- end -%>
<%- end -%>
