<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment on CrossReferencedEvent {
    actor {
      ...Views::Issues::Events::Actor
    }
    referencedAt
    isCrossRepository
    resourcePath
    source {
      ... on Issue {
        title
        number
        state
        repository {
          isPrivate
          nameWithOwner
        }
        resourcePath
      }
      ... on PullRequest {
        databaseId
        title
        number
        state
        repository {
          isPrivate
          nameWithOwner
        }
        isDraft
        resourcePath
      }
      ...Views::Issues::Events::TaskList::IssueOrPullRequest
      ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
    }
    target {
      ... on Issue {
        __typename
      }
      ... on PullRequest {
        __typename
      }
    }
  }
%>
<%
  event = Views::Issues::Events::CrossReference.new(event)
  source_repo = event.source.repository
  target_noun = event.target.__typename.titleize.downcase
  source_noun = event.source.__typename.titleize.downcase
  target_issue = defined?(current_issue) ? current_issue : nil
%>
<div <%= test_selector("cross_reference_header") %>>
<% if !rollup %>
  <%= render "issues/events/actor", actor: event.actor %>
  <% if event.source.is_a?(PlatformTypes::PullRequest) && event.source.state == "OPEN" && target_issue && target_issue.may_be_closed_by?(event.source.database_id) %>
    linked a <%= source_noun %> that will
    <span
      class="issue-keyword tooltipped tooltipped-se"
      aria-label="This <%= target_noun %> will close when <%= event.source.number %> is merged">close</span>
    this <%= target_noun %>
  <% else %>
    mentioned this <%= target_noun %>
  <% end %>

  <a class="link-gray" href="#<%= event.resource_path.fragment %>" <%= test_selector("cross_reference_anchor") %>>
    <%= time_ago_in_words_js event.referenced_at %>
  </a>
<% elsif first %>
  This was referenced <%= time_ago_in_words_js event.referenced_at %>
<% end %>
</div>

<div class="<% if rollup %>my-2<% else %>mt-2<% end %> d-flex flex-items-start">
  <div class="flex-auto break-word" id="<%= event.resource_path.fragment %>" <%= test_selector("cross_reference_title") %>>
    <%= content_tag(:a, href: event.source.resource_path, class: "link-gray-dark f4 text-bold", data: hovercard_data_attributes_for_issue_or_pr(event.source)) do %>
      <%= event.source.title %>
      <span class="text-gray text-normal" <%= test_selector("issue_num") %>><%= source_repo.name_with_owner if event.is_cross_repository? %>#<%= event.source.number %></span>
    <% end %>
  </div>

  <% if event.is_cross_repository? && source_repo.is_private? %>
    <span class="ml-3 tooltipped tooltipped-multiline tooltipped-n" aria-label="<%= explain_viewable_reference source_repo.name_with_owner %>">
      <%= octicon('lock') %>
    </span>
  <% end %>

  <div class="flex-shrink-0 ml-3">
    <% if event.source.is_a?(PlatformTypes::PullRequest) %>
      <%= render(PullRequests::StateComponent.new(is_draft: event.source.is_draft?, state: event.source.state.downcase.to_sym, size: :small)) %>
    <% else %>
      <%= render(Issues::StateComponent.new(state: event.source.state.downcase.to_sym, size: :small)) %>
    <% end %>
  </div>
</div>

<%= render "issues/events/task_list", issue_or_pull_request: event.source unless rollup %>
