<%graphql
  fragment LabelLink on Label {
    description
    color
    resourcePath
    nameHTML
  }
%>
<%
  label = Views::Issues::Events::LabelLink::LabelLink.new(label)
  show_description = label.description.present?
%>

<span class="IssueLabel d-inline-block v-align-middle" <% if show_description %>title="<%= label.description %>"<% end %> style="background-color: #<%= label.color %>;">
  <a class="lh-condensed-ultra" href="<%= label.resource_path %>" style="color: #<%= text_color(label.color) %>;"><%= label.name_html %></a>
</span>
