<%graphql
  fragment on TimelineEvent {
    ... on LabeledEvent {
      label {
        id
        ...Views::Issues::Events::LabelLink::LabelLink
      }
    }
    ... on UnlabeledEvent {
      label {
        id
        ...Views::Issues::Events::LabelLink::LabelLink
      }
    }
  }
%>

<% events = events.map { |ev| Views::Issues::Events::Labels.new(ev) } %>

<% if events.length == 1 %>
  <% event = events.first %>
  <% if event.is_a?(PlatformTypes::LabeledEvent) %>added<% else %>removed<% end %>
  the <%= render "issues/events/label_link", label: event.label %> label
<% else %>
  <%-
    labeled, unlabeled = events.partition { |event| event.is_a?(PlatformTypes::LabeledEvent) }
    labeled.uniq! { |event| event.label.id }
    unlabeled.uniq! { |event| event.label.id }
  -%>
  <% if labeled.any? %>
    added
    <% labeled.each do |event| %>
      <%= render("issues/events/label_link", label: event.label) %>
    <% end %>
  <% end %>
  <% if unlabeled.any? %>
    <%= labeled.any? ? "and removed" : "removed" %>
    <% unlabeled.each do |event| %>
      <%= render("issues/events/label_link", label: event.label) %>
    <% end %>
  <% end %>
  labels
<% end %>
