<%graphql
  fragment Mannequin on Mannequin {
    login
      ...ApplicationHelper::ActorProfileLink::Actor
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%- mannequin = Views::Issues::Events::MannequinLink::Mannequin.new(mannequin) -%>
<%- if mannequin.nil? -%>
  <span class="text-bold text-gray-dark"><%= GitHub.ghost_user_login %></span>
<%- else -%>
  <%= graphql_profile_link(mannequin) do -%><span class="link-gray-dark text-bold"><%= mannequin.login -%></span><%- end -%>
<%- end -%>