<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Link on Milestone {
    resourcePath
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<% if milestone -%>
  <% milestone = Views::Issues::Events::MilestoneLink::Link.new(milestone) %>
  <a href="<%= milestone.resource_path %>" class="link-gray-dark text-bold"><%= title %></a><% else -%>
  <span class="tooltipped tooltipped-n text-bold text-gray-dark" aria-label="This milestone has been deleted."><%= title %></span><% end -%>