<%graphql
  fragment on RenamedTitleEvent {
    currentTitle
    previousTitle
  }
%>
<% event = Views::Issues::Events::RenamedTitle.new(event) %>

changed the title
<del class="text-bold"><%= event.previous_title %></del>

<ins class="text-bold no-underline"><%= event.current_title %></ins>
