<%graphql
  fragment RequestedReviewer on RequestedReviewer {
    ... on User {
      ...Views::Issues::Events::UserLink::User
    }
     ... on Mannequin {
       ...Views::Issues::Events::MannequinLink::Mannequin
     }
    ... on Team {
      ...Views::Issues::Events::TeamLink::Team
    }
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%- reviewer = Views::Issues::Events::ReviewerLink::RequestedReviewer.new(reviewer) -%>
<%- if reviewer&.is_a?(PlatformTypes::User) -%>
  <%= render "issues/events/user_link", user: reviewer -%>
<%- elsif reviewer&.is_a?(PlatformTypes::Mannequin) -%>
  <%= render "issues/events/mannequin_link", mannequin: reviewer -%>
<%- elsif reviewer -%>
  <%= render "issues/events/team_link", team: reviewer -%>
<%- elsif team_name -%>
  <span class="link-gray-dark text-bold"><%= team_name -%></span><%- end -%>