<%graphql
  fragment on TimelineEvent {
    __typename
    databaseId
    createdAt
    actor {
      login
      ...Views::Issues::Events::Actor
    }

    ...Views::Issues::Events::Actions::TimelineEvent

    ... on ProjectEvent {
      wasAutomated
      project {
        ...Views::Issues::Events::WorkflowAutomationActor::Project
      }
    }

    ... on PerformableViaApp {
      viaApp {
        ...Views::Issues::Events::ViaApp::App
      }
    }

    ...Views::Issues::Events::Assignments
    ...Views::Issues::Events::Closed
    ...Views::Issues::Events::Labels
    ...Views::Issues::Events::Milestones
    ...Views::Issues::Events::CommentDeleted
    ...Views::Issues::Events::RenamedTitle
    ...Views::Issues::Events::MarkedAsDuplicates
    ...Views::Issues::Events::ProjectEvents
    ...Views::Issues::Events::Locked
    ...Views::Issues::Events::Transferred
    ...Views::Issues::Events::UserBlocked

    ...Views::PullRequests::Events::BaseRefChanged
    ...Views::PullRequests::Events::HeadRefs
    ...Views::PullRequests::Events::ReviewRequests
    ...Views::PullRequests::Events::ForcePushes
  }
%>
<%
  events = events.map { |e| Views::Issues::Events::SimpleEvents.new(e) }
  event = events.first
  event_name = platform_type_to_event_name(event.__typename)
  badge_color = ""
  if event_name == "closed"
    badge_color = "text-white bg-red"
  elsif event_name == "reopened"
    badge_color = "text-white bg-green"
  elsif event_name == "locked" || event_name == "unlocked"
    badge_color = "text-white bg-gray-dark"
  end
%>
<div class="TimelineItem js-targetable-element" <%= test_selector("discussion-item-#{event_name}") %> data-team-hovercards-enabled  id="event-<%= event.database_id %>">
  <div class="TimelineItem-badge <%= badge_color %>">
    <%= octicon(icon_for_event(event_name)) %>
  </div>
  <div class="TimelineItem-body">

    <%= render "issues/events/actions", event: event %>

    <% if !event.is_a?(PlatformTypes::AddedToProjectEvent) && event.respond_to?(:was_automated?) && event.was_automated? %>
      <%= render "issues/events/workflow_automation_actor", project: event.project %>
    <% elsif event.actor && event.actor.login == "ghost" %>
        Repository owner
    <% else %>
      <%= render "issues/events/actor", actor: event.actor %>
    <% end %>

    <% case event %>
    <% when PlatformTypes::LabeledEvent, PlatformTypes::UnlabeledEvent %>
      <%= render "issues/events/labels", events: events %>
    <% when PlatformTypes::AssignedEvent, PlatformTypes::UnassignedEvent %>
      <%= render "issues/events/assignments", events: events %>
    <% when PlatformTypes::MilestonedEvent, PlatformTypes::DemilestonedEvent %>
      <%= render "issues/events/milestones", events: events %>
    <% when PlatformTypes::MarkedAsDuplicateEvent, PlatformTypes::UnmarkedAsDuplicateEvent %>
      <%= render "issues/events/marked_as_duplicates", events: events %>
    <% when PlatformTypes::ClosedEvent %>
      <%= render "issues/events/closed", event: event %>
    <% when PlatformTypes::CommentDeletedEvent %>
      <%= render "issues/events/comment_deleted", event: event %>
    <% when PlatformTypes::ProjectEvent %>
      <%= render "issues/events/project_events", event: event %>
    <% when PlatformTypes::RenamedTitleEvent %>
      <%= render "issues/events/renamed_title", event: event %>
    <% when PlatformTypes::HeadRefDeletedEvent, PlatformTypes::HeadRefRestoredEvent %>
      <%= render "pull_requests/events/head_refs", event: event %>
    <% when PlatformTypes::BaseRefChangedEvent %>
      <%= render "pull_requests/events/base_ref_changed", event: event %>
    <% when PlatformTypes::BaseRefForcePushedEvent, PlatformTypes::HeadRefForcePushedEvent %>
      <%= render "pull_requests/events/force_pushes", events: events %>
    <% when PlatformTypes::ReviewRequestedEvent, PlatformTypes::ReviewRequestRemovedEvent %>
      <%= render "pull_requests/events/review_requests", events: events %>
    <% when PlatformTypes::ReopenedEvent %>
      reopened this
    <% when PlatformTypes::LockedEvent %>
      <%= render "issues/events/locked", event: event %>
    <% when PlatformTypes::UnlockedEvent %>
      unlocked this conversation
    <% when PlatformTypes::TransferredEvent %>
      <%= render "issues/events/transferred", event: event %>
    <% when PlatformTypes::ReadyForReviewEvent %>
      <%= render "issues/events/ready_for_review", event: event %>
    <% when PlatformTypes::ConvertToDraftEvent %>
      <%= render "issues/events/convert_to_draft", event: event %>
    <% when PlatformTypes::PinnedEvent %>
      <%= render "issues/events/pinned", event: event %>
    <% when PlatformTypes::UnpinnedEvent %>
      <%= render "issues/events/unpinned", event: event %>
    <% when PlatformTypes::UserBlockedEvent %>
      <%= render "issues/events/user_blocked", event: event %>
    <% end %>

    <a href="#event-<%= event.database_id %>" class="link-gray"><%= time_ago_in_words_js event.created_at %></a>

    <% if event.via_app.present? %>
      <%= render "issues/events/via_app", app: event.via_app %>
    <% end %>
  </div>
</div>

<% if event.is_a?(PlatformTypes::ClosedEvent) %>
  <div class="TimelineItem-break"></div>
<% end %>
