<%# erblint:disable DeprecatedCustomCss %>
<%graphql

fragment IssueOrPullRequest on IssueOrPullRequest {
  ... on PullRequest {
    taskListItemCount
    completeTaskListItemCount: taskListItemCount(statuses: [COMPLETE])
  }

  ... on Issue {
    taskListItemCount
    completeTaskListItemCount: taskListItemCount(statuses: [COMPLETE])
  }
}

%>

<%
  issue_or_pull_request = Views::Issues::Events::TaskList::IssueOrPullRequest.new(issue_or_pull_request)
  count = issue_or_pull_request.task_list_item_count
  complete_count = issue_or_pull_request.complete_task_list_item_count
%>

<% if count > 0 %>
  <% ratio = complete_count / count.to_f %>
  <% percentage = number_to_percentage(ratio * 100, precision: 0) %>
  <div class="issue-meta-section task-progress">
    <%= octicon('checklist') %><span class="task-progress-counts"><%= complete_count %> of <%= pluralize(count, 'task') %> complete</span>
    <span class="progress-bar v-align-middle">
      <span class="progress" style="width: <%= percentage %>"></span>
    </span>
  </div>
<% end %>
