<%graphql
  fragment Team on Team {
    combinedSlug
    resourcePath
    ...HovercardHelper::DataAttributesFragment::Team
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%- team = Views::Issues::Events::TeamLink::Team.new(team) -%>
<% if team.nil? %>
  <span class="text-bold text-gray-dark"><%= GitHub.ghost_user_login %></span><% else %>
  <%= link_to content_tag(:span, team.combined_slug, class: "link-gray-dark text-bold"), team.resource_path.to_s, data: hovercard_data_attributes_for_team(team) %><% end %>