<%graphql
  fragment User on User {
    login
    ...ApplicationHelper::ActorProfileLink::Actor
  }

  fragment Organization on Organization {
    login
    ...ApplicationHelper::ActorProfileLink::Actor
  }

  fragment Bot on Bot {
    login
    ...ApplicationHelper::ActorProfileLink::Actor
  }
%>
<%# formatting of conditions is weird in this partial so that when the results of multiple calls
  # are joined together there is no trailing space preceeding the comma.
  #
  # NOTE: Lack of trailing newline is intentional for the same reason. If you forget this,
  #   tests will fail 😼 %>
<%- user = Views::Issues::Events::UserLink::User.new(user) -%>
<%- if user.nil? -%>
  <span class="text-bold text-gray-dark"><%= GitHub.ghost_user_login %></span>
<%- else -%>
  <%= graphql_profile_link(user) do -%><span class="link-gray-dark text-bold"><%= user.login -%></span><%- end -%><%- end -%>