Your GitHub Sponsors profile is live

-------------------

🎉 Now that your profile is complete, it’s time to start sharing! Here are some next steps for your sponsorship page:

-------------------

Share your sponsorship page

It’s important to let your community know that they can sponsor you through GitHub Sponsors. We’ve provided a few examples of how to share your sponsorship page—check it out!

<%= sponsorable_dashboard_url(@sponsorable, anchor: "next-steps") %>

<%- if @sponsorable.sponsors_listing&.goals&.none? -%>
-------------------

Create a goal

Setting small goals early on helps create momentum for your sponsorship page. Whether it’s reaching your first 10 sponsors, $20 a month, or $5,000 a month, let your community know how to help push you forward.

<%= sponsorable_dashboard_goals_url(@sponsorable) %>
<%- end -%>
