<%# `view` is an instance of Stafftools::Abilities::ParticipantView. %>

<% if view.actor? %>
  <%= render_partial_view "stafftools/abilities/list",
        Stafftools::Abilities::ListView.new(
          :abilities => view.abilities,
          :only      => :subject,
          :title     => "Abilities of #{view.description}") %>
<% end %>

<% if view.subject? %>
  <%= render_partial_view "stafftools/abilities/list",
        Stafftools::Abilities::ListView.new(
          :abilities => view.grants,
          :only      => :actor,
          :title     => "Grants on #{view.description}") %>
<% end %>
