<%# `view` is an instance of Site::ContactView or Site::MacAppContactView %>

<hr>
<h4 class="mb-3 mt-4">FAQs - Need help with one of our most common requests?</h4>

<div class="ml-3">
  <h5 class="mb-2">Projects hosted on GitHub</h5>
  <details class="mb-3">
    <summary>Do you have a question about a project that's hosted on GitHub?</summary>
    <div class="ml-3 mt-3">
      <p>GitHub hosts millions of projects, each with their own unique
      workflows. While we can help with issues related to GitHub.com, we aren't
      able to answer questions about projects that are hosted on GitHub. To get
      help with your project-specific questions, check the project's README file
      for an official website or contact information. You can also use the
      GitHub project's issue tracker, contact the project's mailing list (if it
      has one), or contact the project owner directly by checking their GitHub
      profile for contact details.</p>
  </div>
  </details>

  <h5 class="mb-2">GitHub Pages</h5>
  <details class="mb-3">
  <summary>Are you seeing a GitHub Pages error?</summary>
  <div class="ml-3 mt-3">
    <p>One of the most common problems GitHub Pages users run into is not seeing
    changes that they've made to their site. After you push a new commit to your
    repository, it can take up to 10 minutes for the GitHub Pages build process
    to complete and for your changes to appear. If it's been over 10 minutes and
    your changes still haven't appeared, your browser may be serving a cached
    version of the page. To fix this, you can reset your browser's cache or
    visit your site in incognito or in a private browsing window. If you need
    help with other GitHub Pages errors, see our <a
    href="<%= GitHub.help_url %>/articles/troubleshooting-github-pages-builds/">official
    help documentation</a>.</p>
  </div>
  </details>
   <h5 class="mb-2">Billing</h5>
  <details class="mb-3">
  <summary>Are you wondering why your credit card was declined?</summary>
  <div class="ml-3  mt-3">
    <p>If your credit card was declined, please contact your credit card
    company. GitHub does not have information about why your card was
    declined.</p>
  </div>
  </details>
</div>

<hr>
<h4 class="mt-4">Need help with GitHub Enterprise?</h4>
<p>
  Submit a request in our <a href="<%= view.business_plus_link %>">Enterprise Support Portal</a>.
  Premium Support customers should log in to the <a href="<%= view.premium_support_link %>">Premium Support Portal</a> for priority assistance.
</p>

<hr>
<h4 class="mt-4">Need help with GitHub?</h4>
<p data-ga-load="Support, view">
  Find answers to your questions about GitHub and connect with the community
  with our learning resources.
</p>
<ul class="mb-3 ml-4">
  <li class="my-1"><a href="<%= GitHub.help_url %>">GitHub Help documentation</a></li>
  <li class="my-1"><a href="<%= GitHub.developer_help_url %>">GitHub Developer documentation</a></li>
  <li class="my-1"><a href="https://lab.github.com/">GitHub Learning Lab</a></li>
  <li class="my-1"><a href="https://github.community">GitHub Community Forum</a></li>
</ul>
<p>
  Does your question have to do with your personal data, account, or anything
  you wouldn’t want shared in a public forum? Send a message to our Support
  staff using the form below.
</p>

<hr>
<h4 class="mt-4">What’s in a great support request?</h4>
<ul class="mb-3 ml-4">
  <% if view.from_api_docs? %>
    <li class="my-1">
      <a href="<%= GitHub.developer_help_url %>/guides/getting-started/">A cURL example</a>
      highlighting your problem.
    </li>
    <li class="my-1">Please, don’t send your password or authentication token!</li>
    <li class="my-1">
      For issues with hooks, include the name of the repository you’re
      having troubles with.
    </li>
  <% else %>
    <li class="my-1">Provide us with as much essential information as possible.</li>
    <% if logged_in? %>
    <li class="my-1">Include any screenshots or links that are related to your problem.</li>
    <% else %>
    <li class="my-1">Include any links that are related to your problem.</li>
    <% end %>
  <% end %>
</ul>
