<h4>What is the DMCA?</h4>
<p>The Digital Millennium Copyright Act (DMCA) creates a standardized process for copyright holders (including software developers) to ask GitHub to take down infringing content. You can find more information about the DMCA at the <a href="http://www.copyright.gov">U.S. Copyright Office’s official website</a>. For more information about how GitHub handles DMCA requests, please read our <a href="<%= GitHub.help_url %>/articles/dmca-takedown-policy">DMCA takedown policy</a>.</p>
<p>As with all legal matters, it is always best to consult with a professional about your specific questions or situation. We strongly encourage you to do so before taking any action that might impact your rights. Our guides aren’t legal advice and shouldn’t be taken as such.</p>

<div class="d-md-flex gutter-md-spacious">
  <div class="col-md-6 my-4">
    <h3 class="f3-light">Submit a DMCA takedown notice</h3>
    <p>If someone else is using your copyrighted content in an unauthorized manner on GitHub, fill out the form below to submit a DMCA takedown notice and request that the infringing content be changed or removed. Before you begin, please read GitHub’s <a href="<%= GitHub.help_url %>/articles/guide-to-submitting-a-dmca-takedown-notice">guide to submitting a takedown notice</a>.</p>
    <p><%= link_to "Submit a takedown notice", { :action => :contact, :flavor => 'dmca-notice'}, { :class => 'btn btn-outline' } %></p>
  </div>
  <div class="col-md-6 my-4">
    <h3 class="f3-light">Submit a DMCA counter notice</h3>
    <p>If you believe your content on GitHub was mistakenly disabled by a DMCA takedown request, you have the right to contest the takedown by submitting a counter notice. Before you begin, please read GitHub’s <a href="<%= GitHub.help_url %>/articles/guide-to-submitting-a-dmca-counter-notice">guide to submitting a counter notice</a>.</p>
    <p><%= link_to "Submit a counter notice", { :action => :contact, :flavor => 'dmca-counter-notice'}, { :class => 'btn btn-outline' } %></p>
  </div>
</div>
