<p>
  Code collaboration should be safe for everyone, so we take abuse and harassment
  seriously at GitHub. We want to hear about harmful behavior on the site that
  violates GitHub’s <a href="<%= site_terms_path %>">Terms of Service</a>.
  Let us know the name of the user you’re concerned with. Rest assured, we’ll
  keep your identifying information private.
</p>

<h4>Want to block a user?</h4>
<p>
  You can hide a user’s content and notifications. Read more about blocking a
  user from your <a href="<%= GitHub.help_url %>/articles/blocking-a-user-from-your-personal-account">personal account</a>
  or <a href="<%= GitHub.help_url %>/articles/blocking-a-user-from-your-organization">organization</a>.
</p>
