<%= form_for [:stafftools, collection] do |f| %>
  <dl class="form-group">
    <dt><%= f.label :name %> <i>(max 40 characters)</i></dt>
    <dd><%= f.text_field :name, :class => 'textfield', :placeholder => "Collection name" %></dd>
  </dl>

  <dl class="form-group">
    <dt><%= f.label :body %> <i>(best results, somewhere between 50 - 280 characters, you can use markdown)</i></dt>
    <dd>
      <%= f.text_area :body, :class => 'js-comment-field js-quick-submit' %>
    </dd>
  </dl>

  <div class="form-checkbox">
    <label>
      <%= f.check_box :published %>
      Published
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.check_box :featured %>
      Feature this showcase on /explore
    </label>

  </div>

  <%= f.hidden_field :owner, :value => current_user.id %>

  <p>
    <button type="submit" class="btn btn-primary">Save</button>
  </p>
<% end %>
