<% page_info :selected_link => :explore_stafftools %>


<%= render layout: "stafftools/stafftools" do %>

  <div class="boxed-group">
    <h3>Edit showcase</h3>
    <div class="boxed-group-inner">
      <%= render "stafftools/showcase_collections/form", collection: collection %>

      <hr class="full-bleed">

      <%= form_tag stafftools_showcase_collection_path(collection),
                   :method => "delete" do %>
        <button type="submit"
                class="btn btn-danger boxed-action"
                data-confirm="Are you sure you want to delete this showcase?">
          Delete
        </button>
      <% end %>
      <h4>Delete showcase</h4>
      <p>
        Delete this showcase
      </p>
    </div>
  </div>

<% end %>
