<% page_info :selected_link => :explore_stafftools %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render :partial => "stafftools/explore/featured_showcases", :locals => { :collections => featured_collections } %>
  <%= render :partial => "stafftools/explore/showcases", :locals => { :collections => collections } %>
<% end %>
