<% page_info :selected_link => :explore_stafftools %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <div class="boxed-group-action">
      <%= link_to "Edit", [:edit, :stafftools, collection], :class => "btn btn-sm" %>
    </div>
    <h3>
      Showcase
      <%= link_to showcase_collection_path(collection) do %>
        <%= octicon("link-external") %>
      <% end %>
    </h3>
    <div class="boxed-group-inner clearfix">
      <h4><%= collection.name %></h4>
      <%= collection.body_html %>
      <p>
        <small>created by <%= avatar_for collection.owner, 20, :class => "avatar" %> <strong><%= collection.owner %></strong></small>
      </p>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Repositories</h3>
    <div class="boxed-group-inner clearfix">

      <ul class="boxed-group-list standalone">
        <% items.each do |item| %>
          <% repo = item.item %>
          <li>
            <%= form_tag [:stafftools, collection, item],
                         :method => "delete", :class => "inline-form float-right" do %>
              <button type="submit" class="btn btn-sm btn-danger"
                      data-confirm="Are you sure you want remove this repo from the collection?">
                Remove
              </button>
            <% end %>

            <%= link_to 'Edit', [:edit, :stafftools, collection, item], :class => 'btn btn-sm' %>

            <% if repo.present? %>
              <%= link_to repo.name_with_owner, repo %>
            <% else %>
              <em>Repository deleted</em>
            <% end %>
          </li>
        <% end %>
      </ul>

      <hr class="bleed-flush">

      <h4>Add repository</h4>
      <%= render "stafftools/showcase_items/form", collection: collection, item: items.build %>
    </div>
  </div>

<% end %>
