<%= form_tag show_node_partial_path(
      path: "mobile/discussions/comment_thread/more_comments",
      id: id,
      variables: {
        after: after,
        before: before
      }),
      method: :get,
      class: "ajax-pagination-form js-ajax-pagination review-comment-loader",
      "data-remote" => true do %>
  <button type="submit" class="ajax-pagination-btn mt-0 border-right-0 border-left-0 border-top-0 rounded-0 bg-gray-light" data-disable-with>
    Load more…
  </button>
<% end %>
