<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
fragment Thread on Node {
  id

  ... on PullRequestReviewThread {
    comments(first: 20, after: $after, before: $before) {
      pageInfo {
        hasNextPage
        endCursor
      }

      nodes {
        resourcePath

        ...Views::Mobile::Discussions::InlineComment::Comment
      }
    }
  }

  ... on PullRequestCommitCommentThread {
    comments(first: 20, after: $after, before: $before) {
      pageInfo {
        hasNextPage
        endCursor
      }

      nodes {
        resourcePath

        ...Views::Mobile::Discussions::InlineComment::Comment
      }
    }
  }
}
%>

<% thread = Views::Mobile::Discussions::CommentThread::MoreComments::Thread.new(thread) %>

<% thread.comments.nodes.each do |comment| %>
  <%= render partial: "mobile/discussions/inline_comment", locals: { comment: comment } %>
<% end %>

<% if thread.comments.page_info.has_next_page %>
  <%= render "mobile/discussions/comment_thread/comments_loader", {
        id: thread.id,
        after: thread.comments.page_info.end_cursor,
        before: params[:variables][:before]
  } %>
<% end %>
