<% primary_name = member.name.present? ? member.name : member.login
   secondary_name = member.name.present? ? member.login : nil %>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="text-gray f2-light"><%= secondary_name %></span>
  <% end %>
  <% if member.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info responsive: false, title: "#{this_business.name} - #{primary_name}",
  stafftools: business_stafftools_resource_path(this_business),
  selected_link: :business_people %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: people_enterprise_path(this_business.slug),
    back_to_link_text: "members"
  } do %>
  <div class="gutter d-flex">
    <%= render_partial_view "business_user_accounts/sidebar", BusinessUserAccounts::SidebarView,
      {
        business: this_business,
        user: member,
        business_user_account: view.business_user_account,
        organization_count: view.organization_count,
        installation_count: view.installation_count,
        collab_repo_count: view.collaborator_repo_count
      }
    %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <div class="d-flex">
          <nav aria-label="Enterprise Invitation type">
            <% unless GitHub.bypass_org_invites_enabled? %>
              <%= selected_link_to "Member",
                                   member_invitations_enterprise_path(this_business, member),
                                   highlight: %i(member collaborator administrator),
                                   class: "subnav-item" %>
            <% end %>
            <%= selected_link_to "Collaborator",
                                 collaborator_invitations_enterprise_path(this_business, member),
                                 highlight: %i(member collaborator administrator),
                                 class: "subnav-item" %>
            <%= selected_link_to "Administrator",
                                 admin_invitations_enterprise_path(this_business, member),
                                 highlight: %i(member collaborator administrator),
                                 class: "subnav-item" %>
          </nav>
        </div>
      </div>

      <div>
        <div class="d-flex table-list-header table-list-header-next">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= number_with_delimiter invitations.count %>
            pending member
            <%= pluralize_without_number invitations.count, "invitation" %>
          </span>
        </div>

        <% if invitations.count > 0 %>
          <ul>
            <% invitations.each do |invitation| %>
              <% organization = invitation.organization %>
              <li class="d-flex flex-items-center flex-justify-between border border-top-0 p-3">
                <div class="d-flex">
                  <div class="mr-3">
                    <%= link_to user_path(organization.login) do %>
                      <%= avatar_for(organization, 48, class: "avatar") %>
                    <% end %>
                  </div>

                  <div>
                    <% if organization.name.present? %>
                      <%= link_to user_path(organization.login), class: "f4 d-block width-fit" do %>
                        <%= organization.name %>
                      <% end %>
                      <span class="d-block f5 text-gray" itemprop="name"><%= organization.login %></span>
                    <% else %>
                      <%= link_to user_path(organization.login), class: "f4 d-block " do %>
                        <%= organization.login %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="text-gray-light f5 text-right mr-1">
                  <%= member_role(invitation.role) %>
                </div>
              </li>
            <% end %>
          </ul>

          <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
            <%= will_paginate(invitations) %>
          </div>
        <% else %>
          <%= render(Primer::BlankslateComponent.new(
            icon: "mail",
            title: "No invitations",
            description: "There aren’t any pending member invitations in this enterprise for '#{member.login}'.",
          )) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
