<% primary_name = member.name.present? ? member.name : member.login
   secondary_name = member.name.present? ? member.login : nil %>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="text-gray f2-light"><%= secondary_name %></span>
  <% end %>
  <% if member.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info responsive: false, title: "#{this_business.name} - #{primary_name}",
  stafftools: business_stafftools_resource_path(this_business),
  selected_link: :business_people %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: outside_collaborators_enterprise_path(this_business.slug),
    back_to_link_text: "outside collaborators"
  } do %>
  <div class="gutter d-flex">
    <% invitations_view = Businesses::InvitationsView.new(business: this_business, user: member) %>
    <%= render_partial_view "business_user_accounts/sidebar", BusinessUserAccounts::SidebarView,
      {
        business: this_business,
        user: member,
        business_user_account: invitations_view.business_user_account,
        organization_count: invitations_view.organization_count,
        installation_count: invitations_view.installation_count,
        collab_repo_count: invitations_view.collaborator_repo_count
      }
    %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <div class="d-flex">
          <nav aria-label="Enterprise Invitation type">
            <% unless GitHub.bypass_org_invites_enabled? %>
              <%= selected_link_to "Member",
                                   member_invitations_enterprise_path(this_business, member),
                                   highlight: %i(member collaborator administrator),
                                   class: "subnav-item" %>
            <% end %>
            <%= selected_link_to "Collaborator",
                                 collaborator_invitations_enterprise_path(this_business, member),
                                 highlight: %i(member collaborator administrator),
                                 class: "subnav-item" %>
            <%= selected_link_to "Administrator",
                                 admin_invitations_enterprise_path(this_business, member),
                                 highlight: %i(member collaborator administrator),
                                 class: "subnav-item" %>
          </nav>
        </div>
      </div>

      <div>
        <% repositories = invitations.map &:repository %>
        <div class="d-flex table-list-header table-list-header-next">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= number_with_delimiter repositories.size %>
            pending outside collaborator
            <%= pluralize_without_number repositories.size, "invitation" %>
          </span>
        </div>

        <% if repositories.any? %>
          <ul class="table-list table-list-bordered">
            <% repositories.each do |repository| %>
              <li class="d-flex flex-justify-between border border-top-0 p-3">
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <div class="d-flex f4">
                      <% if repository.private? %>
                        <%= octicon "lock", height: 18, class: "text-gray mr-2 mt-1" %>
                      <% else %>
                        <%= octicon "repo", height: 18, class: "text-gray mr-2 mt-1" %>
                      <% end %>
                      <%= repository.name_with_owner %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= render(Primer::BlankslateComponent.new(
            icon: "mail",
            title: "No invitations",
            description: "There aren’t any pending outside collaborator invitations in this enterprise for '#{member.login}'.",
          )) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
