<svg class="<%= component_class_names %>" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2 1H14C14.55 1 15 1.45 15 2V10C15 10.55 14.55 11 14 11H7.5L4 14.5V11H2C1.45 11 1 10.55 1 10V2C1 1.45 1.45 1 2 1ZM7 10H14V2H2V10H5V12L7 10ZM7 8.5L11 4.28947L10.25 3.5L7 6.92105L5.75 5.60526L5 6.39474L7 8.5Z" fill="#1B1F23"></path>
</svg>
