<% if feature_flag.boolean_value == true %>
  <div class="flash flash-full">This feature is fully enabled</div>
<% elsif feature_flag.fully_disabled? %>
  <div class="flash flash-full flash-warn">This feature is fully disabled</div>
<% else %>
  <% if feature_flag.percentage_of_actors_value > 0 %>
    <div class="flash flash-full flash-warn">This feature is enabled for <strong><%= feature_flag.percentage_of_actors_value.to_i %>% of actors</strong></div>
  <% end %>

  <% if feature_flag.percentage_of_time_value > 0 %>
    <div class="flash flash-full flash-warn">This feature is enabled for <strong><%= feature_flag.percentage_of_time_value.to_i %>% of <code>enabled?</code> calls</strong></div>
  <% end %>
<% end %>
