<%# erblint:disable DeprecatedCustomCss %>

<ul class="boxed-group-list">
  <% entries.each do |entry| %>
    <li>
      <%= entry["action"].sub(/\Afeature\./, "").downcase %> for
      <%= FlipperFeature.get_subject_label(gate_name: entry["data"]["gate_name"]&.to_sym, subject: entry["data"]["subject"]) %>
      <%= time_ago_in_words_js(Timestamp.to_time(entry["@timestamp"])) %> by <strong><%= entry["actor"] %></strong>
    </li>
  <% end %>
</ul>
