<div class="form-group">
  <div class="form-group-header">
    <label>Owning team</label>
  </div>
  <div class="form-group-body">
    <details class="select-menu details-reset details-overlay">
      <summary class="btn btn-sm select-menu-button" data-menu-button>
        <%= feature.github_org_team.blank? ? "Choose a team" : feature.github_org_team.name %>
      </summary>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
        <div class="select-menu-header">
          <span class="select-menu-title">Choose a team</span>
        </div>
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <remote-input src="<%= devtools_feature_flags_team_autocomplete_path %>" aria-owns="team-filter-results">
              <input type="text" id="search-teams" class="form-control" aria-label="Search for a team" autofocus>
            </remote-input>
          </div>
        </div>
        <div class="select-menu-list" id="team-filter-results"></div>
      </details-menu>
    </details>
    <p class="note">This is the team within the GitHub org that owns this feature. It will be displayed in devtools to let people know which team to talk to about this feature flag.</p>
  </div>
  <% if feature.errors[:github_org_team_id] %>
    <p class="text-red"><%= feature.errors[:github_org_team_id].join %></p>
  <% end %>
</div>
