<%# erblint:disable DeprecatedCustomCss %>
<% page_info :title => "New feature" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a>
  / <strong>New feature</strong>
<% end %>

<div class="boxed-group">
  <h3>New feature</h3>

  <div class="boxed-group-inner clearfix">
    <%= form_for feature, url: devtools_feature_flags_path, :method => :post do |f| %>
      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :name %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :name, size: 30, autofocus: true %>
          <p class="note">This will be the slug for your feature flag. No spaces allowed, use "-" or "_" for multi-word names.</p>
        </div>
        <% if feature.errors[:name] %>
          <p class="text-red"><%= feature.errors[:name].join %></p>
        <% end %>
      </div>

      <div class="form-checkbox">
        <label>
          <%= f.check_box :long_lived %>
          Long lived
          <p class="note">Indicates whether this flag will be used as a circuit breaker or will be needed for a long time.</p>
        </label>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :description %>
        </div>
        <div class="form-group-body">
          <%= f.text_area :description %>
        </div>
      </div>

      <% if GitHub::ServiceCatalog.enabled? %>
        <hr>

        <p class="h4">If this flag is for a specific service from the Service Catalog please select it. Otherwise select which team owns this flag.</p>

        <%= render partial: "devtools/feature_flags/service_autocomplete_field", locals: { feature: feature } %>
      <% end %>


      <%= render partial: "devtools/feature_flags/team_autocomplete_field", locals: { feature: feature } %>

      <% if GitHub::ServiceCatalog.enabled? %><hr><% end %>

      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :slack_channel %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :slack_channel %>
          <p class="note">This will be displayed on the feature flag devtools page and is the Slack channel you'd like people to use if they have questions about this flag.</p>
        </div>
      </div>

      <hr>
      <p>Feature flags can also be created from the command line in development.</p>
      <code>
        $ bin/toggle-feature-flag enable pinterest_integration
      </code>
      <hr>

      <p class="form-actions">
        <%= submit_tag "Add feature", :class => "btn btn-primary" %>
        <a href="<%= devtools_feature_flags_path %>" class="btn">Cancel</a>
      </p>
    <% end %>
  </div>
</div>
