<%
  view = Reminders::IndexView.new(
    locked_to_team: locked_to_team,
    current_user: current_user,
    slack_workspaces: slack_workspaces,
    organization: organization
  )
%>
<% page_info title: "Scheduled reminders - #{view.locked_to_team.name}" %>

<%= render layout: "orgs/teams/team_settings_sidebar", locals: { org_login: view.organization.login, team_slug: view.locked_to_team.slug, selected: "Scheduled reminders" } do %>
  <%= render "reminders/index", view: view %>
<% end %>
