<div class="mb-4" <%= test_selector("#{product}-cost-management") %>>
  <h4 class="h4 mb-2"><%= title %></h4>
  <div class="Box" <% if disabled? %>style="pointer-events:none; opacity:0.5"<% end %>>
    <%= form_tag form_action do %>
      <input type="hidden" name="product" value="<%= product %>" <%= disabled_attribute %>>
      <div class="Box-row my-0 pl-5 form-checkbox">
        <label class="ml-1 d-block">
          <input type="radio" name="enforce_spending_limit" value="true" class="form-checkbox-details-trigger" name="setup" <%= disabled_attribute %> <% if enforce_spending_limit %>checked<% end %>>
          Limit spending
          <div class="note ml-1">
            <p class="mb-1">Set up a spending limit on a monthly basis</p>
            <div class="form-checkbox-details">
              <div class="mt-3 pt-1 mb-2 d-block position-relative">
                <span class="position-absolute f5 pl-2" style="line-height: 34px">$</span>
                <input class="form-control col-4 pl-4" type="number" name="spending_limit" step=".01" min="0" placeholder="$0.00" aria-label="$0.00"
                  value="<%= spending_limit_value %>"
                  <%= disabled_attribute %>>
                <button class="btn btn-primary ml-1" type="submit" <%= disabled_attribute %>>Update limit</button>
              </div>
              <p class="pt-1 mb-2 lh-condensed-ultra">Leaving it at $0.00 will avoid any extra expenses</p>
            </div>
          </div>
        </label>
      </div>
      <div class="Box-row my-0 pl-5 form-checkbox">
        <label class="ml-1 d-block">
          <input type="radio" name="enforce_spending_limit" value="false" class="form-checkbox-details-trigger" name="setup"
            <%= disabled_attribute %>
            <% unless enforce_spending_limit %>checked<% end %>>
          Unlimited spending
          <div class="note ml-1">
            <p class="mb-1">Pay as much as needed to keep <%= title %> running</p>
            <% if enforce_spending_limit %>
              <div class="form-checkbox-details">
                <p class="mt-1 mb-1 text-yellow">
                  <%= octicon "alert" %>
                  <span class="ml-1"><strong>Important</strong>: you will be <strong>paying all the costs</strong> through the usage of <%= title %>.</span>
                  <button class="btn mt-2 btn-primary ml-1" type="submit" <%= disabled_attribute %>>Update to unlimited</button>
                </p>
              </div>
            <% end %>
          </div>
        </label>
      </div>
    <% end %>
  </div>
</div>
