<%# rubocop:disable Lint/InstanceVariable %>
<% view = Wiki::PagesSidebarView.new(:wiki => @unsullied_wiki) %>

<div class="Box Box--condensed box-shadow">
  <div class="Box-header js-wiki-toggle-collapse" style="cursor: pointer">
    <h3 class="Box-title">
      <%= octicon("triangle-down", class: "js-wiki-sidebar-toggle-display #{'d-none' if collapsed}") %>
      <%= octicon("triangle-right", class: "js-wiki-sidebar-toggle-display #{'d-none' unless collapsed}") %>
      Pages <%= render Primer::CounterComponent.new(count: view.page_count, scheme: :gray) %>
    </h3>
  </div>
  <div class="<%= "d-none" if collapsed %> js-wiki-sidebar-toggle-display">
    <div class="filter-bar">
      <input type="text" id="wiki-pages-filter" class="form-control input-sm input-block js-filterable-field" placeholder="Find a Page…" aria-label="Find a Page…">
    </div>

    <ul class="m-0 p-0 list-style-none" data-filterable-for="wiki-pages-filter" data-filterable-type="substring">
      <% view.initial_pages.each do |page| -%>
        <li class="Box-row">
          <strong><%= link_to page.title, wiki_page_path(page), :class => "d-block" %></strong>
        </li>
      <% end -%>
      <% view.more_pages.each do |page| -%>
        <li class="Box-row wiki-more-pages">
          <strong><%= link_to page.title, wiki_page_path(page), :class => "d-block" %></strong>
        </li>
      <% end -%>
      <% if view.filter? %>
        <li class="Box-row wiki-more-pages-link">
          <button type="button" class="f6 mx-auto btn-link muted-link js-wiki-more-pages-link">
            Show <%= pluralize view.more_count, 'more pages' %>…
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
