<%# erblint:disable ProperTagNesting %>
<%# erblint:disable LinkHasHref %>
<%
  page_info(
    selected_link: :repo_wiki,
    title: "Compare Revisions · #{current_repository.name_with_owner} Wiki",
    container_xl: true,
    skip_pjax_container: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
-%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div id="wiki-wrapper">

  <div class="d-flex flex-column flex-md-row gh-header">
    <h1 class="flex-auto min-width-0 mb-2 mb-md-0 mr-0 mr-md-2 gh-header-title"><%= view.page_title %></h1>

    <div class="flex-shrink-0 gh-header-actions">
      <% if view.comparison.revertable_by?(current_user) -%>
        <%= form_tag wiki_revert_path(view.comparison.page, "#{CGI.escape(view.comparison.old_revision)}/#{CGI.escape(view.comparison.new_revision)}"), :method => :post,
              name: "gollum-revert", id: "gollum-revert-form", class: "d-inline-block float-left" do %>
          <button type="submit" class="ml-0 btn btn-sm gollum-revert-button">Revert Changes</button>
        <% end %>
      <% end -%>

      <% if view.show_new_button? %>
        <%= render GitHub::MiniButtonComponent.new(button_type: :primary, href: new_wiki_path) do %>New Page<% end %>
      <% end %>
    </div>
  </div>

  <div id="compare-content" class="mt-4">
    <div id="files_bucket" class="files-bucket">
      <% if !view.comparison.comparable? %>
        <div class="blankslate">
          <h3>There isn’t anything to compare.</h3>
          <p>
            You’ll need to select one or more revisions in the
            <%= link_to "history", view.comparison.page ? wiki_history_path(view.comparison.page) : wiki_history_path %>
            to get a valid comparison.
          </p>
        </div>
      <% elsif view.comparison.missing_commits? %>
        <div class="blankslate">
          <h3>There isn’t anything to compare.</h3>
          <p>We couldn’t figure out how to compare these references, do they point to valid commits?</p>
        </div>
      <% elsif view.comparison.diff_available? %>
        <div id='diff' class="uncommentable">
          <% if params[:toc] && !view.comparison.page %>
            <%= render :partial => "diff/tree_toc", :locals => {
                         :diffable => GitHub::Unsullied::Comparison.new(view.comparison.wiki, view.comparison.old_revision, view.comparison.new_revision),
                         :tree_diff => view.comparison.tree_diff
                       } %>
          <% else %>
            <%
              file_list_view = Wiki::FileListView.new(:diffs => view.comparison.diffs, :params => params, :current_user => current_user, :commentable => false, :in_wiki_context => true)

              if syntax_highlighted_diffs_enabled?
                shd = SyntaxHighlightedDiff.new(view.comparison.wiki)
                shd.highlight!(view.comparison.diffs,
                               attributes_commit_oid: file_list_view.attributes_commit_oid)
              end
            %>
            <%= render :partial => 'diff/toc', :locals => { :file_list_view => file_list_view, :force_prose => true } %>
            <%= render :partial => 'diff/diff', :locals => { :file_list_view => file_list_view, :force_prose => true } %>
          <% end %>
        </div>
      <% else %>
        <div class="markdown-body">
          <h3>Sorry, this diff is taking too long to generate.</h3>
        </div>
      <% end %>
    </div>
  </div>

  <div id="gollum-footer">
    <ul class="d-block p-0 mb-3 overflow-hidden list-style-none">
      <% if view.comparison.revertable_by?(current_user) %>
        <li>
          <%= form_tag wiki_revert_path(view.comparison.page, "#{CGI.escape(view.comparison.old_revision)}/#{CGI.escape(view.comparison.new_revision)}"), :method => :post,
                :name => "gollum-revert", :id => "gollum-revert-form" do %>
            <button type="submit" class="btn btn-sm gollum-revert-button">Revert Changes</button> <a href="#" class="btn btn-sm">Back to Top</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>

  </div><!-- #wiki-wrapper -->
<% end %>

<% content_for :scripts do -%>
  <%= javascript_bundle 'wiki' %>
<% end -%>
