<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    selected_link: :repo_wiki,
    container_xl: true,
    skip_pjax_container: true,
    title: "Editing #{@page.title} · #{current_repository.name_with_owner} Wiki",
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <input type="hidden" id="wiki-current-version"
         value="<%= @page.latest_revision.oid %>"
         data-url="<%= wiki_current_path(current_repository.owner, current_repository, @page) %>">

  <div id="wiki-wrapper" class="edit outer">
    <div class="d-flex flex-column flex-md-row gh-header">
      <h1 class="flex-auto min-width-0 mb-2 mb-md-0 mr-0 mr-md-2 gh-header-title">Editing <%= @page.title %></h1>
      <div class="flex-shrink-0 gh-header-actions">
        <%= render GitHub::MiniButtonComponent.new(href: wiki_history_path(@page), ml: 0) do %>Page History<% end %>
        <%= render GitHub::MiniButtonComponent.new(button_type: :primary, href: new_wiki_path) do %>New Page<% end %>

        <% if wiki_page_deletable?(@page) %>
          <%= form_tag wiki_page_path(@page), :method => :delete, :class => "inline-form" do %>
            <button type="submit" class="btn btn-sm btn-danger"
                    data-confirm="Are you sure you want to delete this page?">
              Delete Page
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="wiki-content">
      <div id="gollum-editor" class="pt-2 mt-2 mb-6 edit gollum-editor">
        <%= form_tag gh_wiki_path(@page, current_repository), :name => 'gollum-editor', :method => :put, "data-warn-unsaved-changes": "Your changes will be lost." do -%>
          <%= render :partial => 'editors/gollum',
              :locals => { :editor => @editor } %>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do -%>
<%= javascript_bundle 'wiki' %>
<% end -%>
