<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    selected_link: :repo_wiki,
    container_xl: true,
    skip_pjax_container: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<% if @page %>
  <% page_title "History for #{@page.title} · #{current_repository.name_with_owner} Wiki" %>
<% else %>
  <% page_title "History · #{current_repository.name} Wiki" %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div id="wiki-wrapper">

  <div class="d-flex flex-column flex-md-row gh-header">
    <% if @page %>
      <h1 class="flex-auto min-width-0 mb-2 mb-md-0 mr-0 mr-md-2 gh-header-title"> <%= link_to "History", wiki_history_path %> <span class="divider">/</span> <%= @page.title %></h1>
    <% else %>
      <h1 class="flex-auto min-width-0 mb-2 mb-md-0 mr-0 mr-md-2 gh-header-title">History</h1>
    <% end %>
    <% if writable_wiki? %>
      <div class="flex-shrink-0 gh-header-actions">
        <% if @page -%>
          <%= render GitHub::MiniButtonComponent.new(href: wiki_page_path(@page, '_edit'), ml: 0) do %>Edit Page<% end %>
        <% end -%>
        <%= render GitHub::MiniButtonComponent.new(button_type: :primary, href: new_wiki_path, classes: "#{"ml-0" unless @page}") do %>New Page<% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form_tag wiki_compare_path(@page), :method => :post,
          :name => "compare-versions", :id => "version-form" do %>
     <div class="Box Box--condensed">
       <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title overflow-hidden flex-auto">Revisions</h3>
          <% if  @versions.length > 1 %>
            <button type="submit" class="btn btn-sm">Compare Revisions</button>
          <% end %>
        </div>
        <ul>
          <% @versions.each do |version| -%>
            <li class="Box-row d-flex js-wiki-history-revision">
              <div class="flex-shrink-0 mr-3">
                <%= check_box_tag 'versions[]', version.oid, false, id: "versions_#{version.oid}", class: "js-wiki-history-checkbox" %>
              </div>
              <div class="d-flex flex-column flex-auto min-width-0">
                <p class="h5 mb-1 text-gray-dark">
                  <% if version.message.blank? %>
                    No commit message
                  <% else %>
                    <%= version.message %>
                  <% end %>
                </p>
                <div class="mt-1 f6">
                  <% author = user_for_email(version.author_email) -%>
                  <a href="/<%= author.to_s %>" class="muted-link">
                    <%= author ? avatar_for(author, 16, class: "mr-1 rounded-1 v-align-text-bottom") : gravatar_for_email(version.author_email, 16, class: "mr-1 rounded-1 v-align-text-bottom") %>
                    <span class="text-bold"><%=h author || version.author_name %></span>
                  </a>
                  committed
                  <%= time_ago_in_words_js(version.committed_date) %>
                </div>
              </div>
              <div class="flex-shrink-0 text-mono f6 pl-2">
                <% if @page -%>
                <%= link_to version.oid[0..6],
                     wiki_page_path(@page, version.oid), class: "muted-link" %>
                <% else %>
                <%= version.oid[0..6] %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  </div>

  <% if @versions.present? && @versions %>
    <div class="paginate-container" data-pjax>
      <%= simple_paginate(@versions, :next_label => "Older", :previous_label => "Newer") %>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do -%>
  <%= javascript_bundle 'wiki' %>
<% end %>
