<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    selected_link: :repo_wiki,
    title: "Pages · #{current_repository.name_with_owner} Wiki",
    container_xl: true,
    skip_pjax_container: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
-%>
<% view = Wiki::PagesView.new(:wiki => @unsullied_wiki) %>

<%
  if !defined?(pushable)
    pushable = current_repository.unsullied_wiki.pushable_by?(current_user)
  end
-%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="gh-header">
    <% if current_repository_writable? %>
      <div class="gh-header-actions">
        <%= render GitHub::MiniButtonComponent.new(button_type: :primary, href: new_wiki_path) do %>New Page<% end %>
      </div>
    <% end %>
    <h1 class="gh-header-title">Pages</h1>
  </div>

  <div id="wiki-wrapper" class="edit">
    <div id="wiki-content">
      <div class="Box mt-4">
        <ul>
          <% view.pages.each do |page| -%>
            <li class="Box-row">
              <div class="d-flex">
                <div class="flex-shrink-0 mr-3"><%= octicon("file") %></div>
                <div class="d-flex flex-column flex-md-row flex-auto min-width-0">
                  <div class="flex-auto min-width-0 col-12 col-md-8"><%= link_to page.title, wiki_page_path(page) %></div>
                  <div class="ml-md-2 col-12 col-md-4"><%  if page.updated_at %>Last updated <%= time_ago_in_words_js(page.updated_at) %><% end %></div>
                </div>
              </div>
            </li>
          <% end -%>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% content_for :scripts do -%>
  <%= javascript_bundle 'wiki' %>
<% end %>
