<hr class="full-bleed">
<%= form_tag path, method: "put" do %>
  <dl class="form-group">
    <dt><label for="rate-limit">Set rate limit</label></dt>
    <dd>
      <p>Rate limits indicate <strong>requests per hour</strong>.
        Before setting rate limits for third party integrations or applications,
        please encourage them to cache locally and use
        <a href="<%= GitHub.developer_help_url %>/v3/#conditional-requests">conditional requests</a>.
        The levels for API rate limits are:</p>
      <table class="formatted-data">
        <tr>
          <th>Default</th>
          <td><%= GitHub.api_default_rate_limit %></td>
          <td><em>The default limit for all applications.</em></td>
        </tr>
        <% unless GitHub.enterprise? %>
        <tr>
          <th>Tier one</th>
          <td><%= GitHub.api_tier_one_rate_limit %></td>
          <td><em>Use sparingly for apps that need a bump.</em></td>
        </tr>
        <tr>
          <th>Tier two</th>
          <td><%= GitHub.api_tier_two_rate_limit %></td>
          <td><em>Super high tier for partners and grandfathered whitelisted apps.</em></td>
        </tr>
        <% end %>
      </table>
      <p>
        <input type="checkbox" checked name="temporary" aria-label="Temporary rate-change chckbox">
        Reset this rate limit setting in <input type="number" name="duration" maxlength="2" value="3" min="1" max="30" aria-label="Duration in days"> days.
        <em>Great for imports, class projects, and other temporary needs.</em>
      </p>
    </dd>
    <dd>
      <input type="text" class="form-control short js-filterable-field" name="rate_limit" id="rate-limit"
             value="<%= view.rate_limit %>"
             autocomplete="off">
      <button type="submit" class="btn">Apply</button>
   </dd>
  </dl>
<% end %>
