<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Owned Applications", :highlight => :developers_stafftools_user_apps %>

<div class="boxed-group">
  <h3>Content creation limit</h3>
  <div class="boxed-group-inner">
    <%= form_with url: update_creation_limit_stafftools_user_applications_path(this_user), method: :put, local: true do %>
      <dl class="form-group">
        <dt><%= label_tag :creation_limit, "Content creation limit" %></dt>
        <dd>
          <%= text_field_tag :creation_limit, this_user.applications_creation_limit(OauthApplication.new) %>
        </dd>
      </dl>
      <p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Owned Applications</h3>
  <div class="boxed-group-inner">
    <% if @owned_apps.any? %>
      <ul class="boxed-group-list standalone">
        <% @owned_apps.each do |app| %>
          <li>
            <span class="time">Updated <%= time_ago_in_words app.updated_at %> ago</span>
            <%= link_to app.name, stafftools_user_application_path(app.user, app.id) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account does not own any applications.</p>
    <% end %>
  </div>
</div>
<div class="paginate-container">
  <%= will_paginate @owned_apps %>
</div>
