<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::Application::ShowView.new(:user => @user, :app => @app) %>

<% page_info :title => view.page_title, :selected_link => :applications %>

<div class="boxed-group">
  <h3>
    <a href="<%= stafftools_user_applications_path(@user) %>" class="boxed-group-breadcrumb" data-pjax="true">Applications /</a>
    <%= @app.name %>
  </h3>
  <div class="boxed-group-inner">
    <p> </p>
    <div class="summary clearfix">
      <dl>
        <dt>ID</dt>
        <dd>
          <%= @app.id %>
            &ndash;
            <%= stafftools_selected_link_to "Search audit logs for this application",
                        stafftools_audit_log_path(:query => @app.audit_log_query) %>
        </dd>
      </dl>

      <% ["Name", "Description"].each do |field| %>
        <dl>
          <dt><%= field %></dt>
          <dd><%= val = view.field(field) %></dd>
        </dl>
      <% end %>

      <dl>
        <dt>Owner</dt>
        <dd><%= link_to @app.user.login, stafftools_user_path(@app.user.login), "data-pjax" => true %></dd>
      </dl>
      <dl>
        <dt>URL</dt>
        <dd><%= link_to @app.url, @app.url %></dd>
      </dl>

      <% ["Callback URL", "Client ID", "State", "Created", "Total Users"].each do |field| %>
        <dl>
          <dt><%= field %></dt>
          <dd><%= view.field(field) %></dd>
        </dl>
      <% end %>

      <dl>
        <dt>Marketplace Listing</dt>
        <% if view.has_marketplace_listing? %>
          <dd><a href="<%= biztools_marketplace_listing_path(view.listing.slug) %>">View in Biztools</a></dd>
        <% else %>
          <dd class="text-italic">No listing</dd>
        <% end %>
      </dl>

      <% if GitHub.rate_limiting_enabled? %>
        <dl>
          <dt>Rate Limit</dt>
          <dd><%= view.rate_limit %></dd>
        </dl>
        <% if @app.owner.is_a?(Organization) %>
          <dl>
            <dt>GHEC Rate Limit</dt>
            <% if @app.owner.plan.business? || @app.owner.plan.business_plus? %>
              <dd><%= view.ghec_rate_limit %> (runway: <%= view.ghec_rate_limit_runway %>)</dd>
            <% else %>
              <dd>Only applies to apps owned by GHEC organizations</dd>
            <% end %>
          </dl>
        <% end %>
        <dl>
          <dt>Using Temporary Rate Limit</dt>
          <dd><%= view.using_temporary_rate_limit? %></dd>
        </dl>
      <% end %>
    </div>

    <% unless GitHub.enterprise? %>
      <hr class="full-bleed">

      <% if view.full_trust? %>
        <%= form_tag disable_full_trust_stafftools_user_application_path(view.user, view.app), :class => "js-setting-toggle", "data-remote" => true, "data-autosubmit" => true do %>
          <dl>
            <dt>
              <label for="disable-full-trust">Disable "Full Trust" cabilities</label>
              <p>Once you do this it cannot be undone as we are no longer permitting full trust OAuth Applications. Please see our <a href="https://githubber.com/article/technology/dotcom/internal-apps">Internal Apps documentation</a> for more information.</p>
            </dt>

            <dd><button id="disable-full-trust" type="submit" class="btn btn-danger">Disable "Full Trust"</button></dd>
          </dl>
        <% end %>
      <% else %>
        <p><strong>OAuth Applications are not longer permitted to be full trust.</strong></p>
        <p>If you would like your application to have capabilities like locked in scopes or auto authorization check out our <a href="https://githubber.com/article/technology/dotcom/internal-apps">Internal Apps documentation</a>.</p>
      <% end %>
    <% end %>

    <% if GitHub.rate_limiting_enabled? %>
      <%= render partial: "stafftools/applications/rate_limit_form", locals: {
        view: view,
        path: stafftools_user_application_path(@user, @app)
      } %>
    <% end %>

    <hr class="full-bleed">
    <%= form_tag view.suspend_form do %>
      <h3 class="f5"><%= view.suspend_title %></h3>
      <p>
        Suspended applications cannot register new users or make requests on behalf of their users.
      </p>
      <button type="submit" class="btn"><%= view.suspend_title %></button>
    <% end %>
  </div>
</div>

<% if integrations_directory_enabled? %>
  <div class="boxed-group">
    <h3>
      <a href="<%= stafftools_user_applications_path(@user) %>" class="boxed-group-breadcrumb" data-pjax="true">Applications /</a>
      <a href="#integration-group" id="integration-group" class="boxed-group-breadcrumb"><%= @app.name %> /</a>
      Directory listing
    </h3>
    <div class="boxed-group-inner">
      <%= render "stafftools/integration_listings/form",
        :integration => @app,
        :url => stafftools_user_application_app_listing_path(@user, @app)
      %>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
