<% title = application_type == "integration" ? "Authorized GitHub apps" : "Authorized OAuth applications" %>
<% page_info title: title %>

<div class="boxed-group">
  <h3><%= title %></h3>
  <div class="boxed-group-inner">
    <% if authorized_apps.any? %>
      <ul class="boxed-group-list standalone">
        <% authorized_apps.each do |authorization| %>
          <li class="oauth-access js-details-container Details">
            <% if authorization.accessed_at %>
              <span class="time">Last accessed <%= time_ago_in_words authorization.accessed_at %> ago</span>
            <% else %>
              <span class="time">Never accessed</span>
            <% end %>

            <span class="application-name css-truncate css-truncate-target">
              <% if application_type == "integration" %>
                <%= link_to(authorization.application.name, stafftools_user_app_path(authorization.application.owner, authorization.application)) %>
              <% else %>
                <%= link_to(authorization.application.name, stafftools_user_application_authorization_path(authorization.user, authorization.application)) %>
              <% end %>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account has not authorized any applications.</p>
    <% end %>
  </div>
</div>

<div class="paginate-container">
  <%= will_paginate authorized_apps %>
</div>
