<!-- commit_comment -->
<div class="d-flex border-bottom py-3">
  <%= link_to_event_avatar(event) %>
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-justify-between flex-items-baseline mb-2">
        <div>
          <%= link_to_event_actor(event) %>
          <%= bot_identifier(event.sender_record) %>
          commented on commit
          <%= link_to_event_commit_comment(event) %>
        </div>
        <span class="f6 text-gray-light ml-4 no-wrap">
          <%= time_ago_in_words_js(event.created_at) %>
        </span>
      </div>
    </div>
    <div class="message markdown-body Box p-3 wb-break-all">
      <div class="f6 mb-1">
        <%= link_to_event_commit_comment_with_actor(event) %>
      </div>
      <% if event.show_formatted_comment? %>
        <%= event.formatted_comment %>
      <% else %>
        <p>The comment has since been removed.</p>
      <% end %>
    </div>
  </div>
</div>
