<%
  include_avatar = true unless local_assigns.key?(:include_avatar)
  always_include_title = true unless local_assigns.key?(:always_include_title)
  include_repo_in_title = true unless local_assigns.key?(:include_repo_in_title)
  show_details = event.show_event_details?(viewer: current_user)
  include_separator = local_assigns.fetch(:include_separator, true)
  include_pusher_in_title = true unless local_assigns.key?(:include_pusher_in_title)
  include_space_above_title = false unless local_assigns.key?(:include_space_above_title)
  include_title = always_include_title || !event.repository_ref_type? || !show_details
%>

<!-- create -->
<div class="d-flex flex-items-baseline <% if include_separator %>border-bottom border-gray py-3<% end %>">
  <% if include_avatar %>
    <%= link_to_event_avatar(event) %>
  <% end %>
  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <% if include_pusher_in_title %>
        <div class="d-flex flex-items-baseline">
          <div>
            <%= link_to_event_pusher(event) %>
            <%= event_pusher_bot_identifier(event) %>
            created a
            <%= h(event.object) %>
            <%= "in" unless event.repository? %>
            <%= link_to_event_repo(event, hovercard: !event.repository?) %>
            <span class="f6 text-gray-light no-wrap ml-1">
              <%= time_ago_in_words_js(event.created_at) %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="Box p-3 mt-2">
      <div>
        <div class="f4 lh-condensed text-bold text-gray-dark">
          <% if event.repository? %>
            <%= link_to_event_repo(event, hovercard: false) %>
          <% else %>
            <%= link_to_event_created_object_and_repo(event) %>
          <% end %>
          <% if include_event_star_button? %>
            <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids %>
          <% end %>
        </div>

        <% if show_details %>
          <div class="dashboard-break-word text-gray mt-1 repo-description">
            <p><%= event.formatted_repo_description %></p>
          </div>
        <% end %>

        <% if event.repo_updated_on.present? %>
          <p class="f6 text-gray mt-2 mb-0">
            <span>Updated <%= event.repo_updated_on %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
