<!-- delete -->
<div class="d-flex flex-items-baseline border-bottom py-3">
  <%= link_to_event_avatar(event) %>

  <div class="d-flex flex-column width-full">
    <div>
      <%= link_to_event_pusher(event) %>
      <%= bot_identifier(event.sender_record) %>
      deleted
      <%= h(event.ref_type) %>
      <%= content_tag(:span, event.ref, class: "branch-name") %>
      at
      <%= link_to_event_repo(event) %>
      <span class="f6 text-gray-light no-wrap ml-1">
        <%= time_ago_in_words_js(event.created_at) %>
      </span>

      <div class="Box p-3 mt-2">
        <div>
          <div class="f4 lh-condensed text-bold text-gray-dark">
            <%= link_to_event_repo(event) %>
            <% if include_event_star_button? %>
              <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids %>
            <% end %>
          </div>

          <% if event.show_event_details?(viewer: current_user) %>
            <div class="dashboard-break-word text-gray mt-1 repo-description">
              <p><%= event.formatted_repo_description %></p>
            </div>
          <% end %>

          <% if event.repo_updated_on.present? %>
            <p class="f6 text-gray mt-2 mb-0">
              <span>Updated <%= event.repo_updated_on %></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
