<!-- gollum -->
<div class="d-flex border-bottom py-3">
  <%= link_to_event_avatar(event) %>
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-items-baseline">
        <div>
          <%= link_to_event_actor(event) %>
          <%= h(event.action) %>
          a wiki page in
          <%= link_to_event_repo(event) %>
          <span class="f6 text-gray-light no-wrap ml-1">
            <%= time_ago_in_words_js(event.created_at) %>
          </span>
        </div>
      </div>
    </div>
    <div class="Box p-3 mt-2">
      <div>
        <ul class="list-style-none">
          <% event.pages.each do |page| %>
            <li class="text-gray">
              <%= octicon("book", :height => 16, :'aria-label' => "Wiki", :class => "text-gray-light mr-1 v-align-middle") %>
              <%= page.capital_action %>
              <%= link_to_event_wiki_page(page, event) %>
              <% if page.created? %>
                <blockquote><%= page.summary %></blockquote>
              <% else %>
                <div class="mt-2">
                  <%= link_to_event_wiki_compare(page, event) %>
                </div>
              <% end %>
            </li>
          <% end %>
          <% if event.more_pages? %>
            <li class="more">
              <%= link_to_more_event_pages(event) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
