<%
  include_avatar = local_assigns.fetch(:include_avatar, true)
  include_separator = local_assigns.fetch(:include_separator, true)
  include_title = local_assigns.fetch(:include_title, true)
%>

<!-- issue_comment -->
<div class="d-flex <% if include_separator %>border-bottom border-gray py-3<% else %>mt-2<% end %>">
  <% if include_avatar %>
    <%= link_to_event_avatar(event) %>
  <% end %>
  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <div class="d-flex flex-items-baseline mb-2">
        <div>
          <%= link_to_event_actor(event) %>
          <%= bot_identifier(event.sender_record) %>
          commented on
          <%= event.object %>
          <%= link_to_event_issue_comment_issue(event) %>
          <span class="f6 text-gray-light ml-1">
            <%= time_ago_in_words_js(event.created_at) %>
          </span>
        </div>
      </div>
    <% end %>
    <div class="message markdown-body Box p-3 wb-break-all">
      <div class="f6 mb-1">
        <%= link_to_event_issue_comment(event) %>
      </div>
      <% if event.comment_body %>
        <%= event.formatted_comment %>
      <% else %>
        <p>The comment has since been removed.</p>
      <% end %>
    </div>
  </div>
</div>
