<%= form_tag dashboard_news_feed_next_page_path, method: :get, class: "ajax-pagination-form js-ajax-pagination" do %>
  <button type="submit" class="ajax-pagination-btn" data-ga-click="News feed, load more, Load more newsfeed events - page:<%= current_page + 1 %>" data-disable-with="Loading more&hellip;">
    More
  </button>
<% end %>
