<%# erblint:counter TooltipCounter 1 %>
<!-- pull_request -->
<div class="d-flex border-bottom py-3">
  <%= link_to_event_avatar(event) %>
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-items-baseline">
        <div>
          <% if event.labeled_event? %>
            <%= link_to_event_actor(event) %>
            <%= bot_identifier(event.sender_record) %>
            <%= h(event.action) %>
            a pull request with
            <%= formatted_event_label_name(event) %>
            in
            <%= link_to_event_repo(event) %>
          <% else %>
            <%= link_to_event_actor(event) %>
            <%= bot_identifier(event.sender_record) %>
            <%= h(event.action) %>
            a pull request in
            <%= link_to_event_repo(event) %>
          <% end %>
          <span class="f6 text-gray-light no-wrap ml-1">
            <%= time_ago_in_words_js(event.created_at) %>
          </span>
        </div>
      </div>
    </div>

    <div class="Box p-3 my-2">
      <%= octicon("git-pull-request", :height => 16, :'aria-label' => "Pull request", :class => " d-inline-block mt-1 float-left".prepend(event.octicon_class)) %>

      <div class="ml-4">
        <div>
          <span class="f4 lh-condensed text-bold text-gray-dark"><%= link_to_event_pull(event) %></span>
          <span class="f4 text-gray-light ml-1">#<%= event.pull_request_number %></span>
          <% unless event.pull_request_body.blank? %>
            <div class="lh-condensed mb-2 mt-1">
              <%= event.formatted_pull_request_body %>
            </div>
          <% end %>
        </div>

        <% if event.total_additions != 0 || event.total_deletions != 0 %>
          <div class="diffstat d-inline-block mt-1 tooltipped tooltipped-se" aria-label="<%= number_with_delimiter(event.total_commits) %> <%= event.commit_text %> with <%= number_with_delimiter(event.total_additions) %> <%= event.addition_text %> and <%= number_with_delimiter(event.total_deletions) %> <%= event.deletion_text %>">
            <span class="text-green">+<%= number_with_delimiter(event.total_additions) %></span>
            <span class="text-red">-<%= number_with_delimiter(event.total_deletions) %></span>
          </div>
        <% end %>

        <% if event.pull_request_comments_count && event.pull_request_comments_count > 0 %>
          <div class="d-inline-block f6 text-gray ml-3">
            <%= pluralize(number_with_delimiter(event.pull_request_comments_count), "comment") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
