<!-- release -->
<div class="d-flex border-bottom py-3">
  <%= link_to_event_avatar(event) %>
  <div class="d-flex flex-items-baseline width-full">
    <div>
      <%= link_to_event_actor(event) %>
      <%= bot_identifier(event.sender_record) %>
      released
      <%= link_to_event_release(event) %>
      at
      <%= link_to_event_repo(event) %>
      <span class="f6 text-gray-light no-wrap ml-1">
        <%= time_ago_in_words_js(event.created_at) %>
      </span>
      <ul>
        <% links_to_event_assets(event).each do |asset_link| %>
          <li class="list-style-none mt-1">
            <span class="f6 text-gray-light">
              <%= octicon("cloud-download") %>
              <blockquote><%= asset_link %></blockquote>
            </span>
          </li>
        <% end %>

        <% if (link = link_to_more_event_assets(event)) %>
          <li class="more">
            <span><%= link %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
