<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 1 %>
<% if event.repo_owner.present? && event.repository.present? && !starred_repo_ids.nil? %>
  <div class="float-right d-inline-block js-toggler-container starring-container <% if starred_repo_ids.include?(event.repo_id) %>on<% end %>">
    <% if logged_in? && (current_user.can_star?(event.repository) || current_user.starred?(event.repository)) %>
      <%= form_tag(unstar_repository_path(event.repo_owner.login, event.repository), :class => "starred", :"data-remote" => true) do %>
        <input type="hidden" name="context" value="news_feed"></input>
        <%= button_tag class: "btn btn-sm ml-2 mb-2 js-toggler-target", type: "submit", value: "Unstar", "aria-label" => "Unstar this repository", title: "Unstar #{event.repository.name_with_owner}", data: event_analytics_attributes(event, "unstar") do %>
          <%= octicon(:'star-fill', class: "mr-1") %>Unstar
        <% end %>
      <% end %>
      <%= form_tag(star_repository_path(event.repo_owner.login, event.repository), :class => "unstarred", :"data-remote" => true) do %>
        <input type="hidden" name="context" value="news_feed"></input>
        <%= button_tag class: "btn btn-sm ml-2 mb-2 js-toggler-target", type: "submit", value: "Star", "aria-label" => "Star this repository", title: "Star #{event.repository.name_with_owner}", data: event_analytics_attributes(event, "star") do %>
          <%= octicon(:star, class: "mr-1") %>Star
        <% end %>
      <% end %>
    <% else %>
      <button type="button" disabled class="btn btn-sm tooltipped tooltipped-s" aria-label="You can't star at this time">
        <%= octicon(:star, class: "mr-1 v-align-text-bottom") %>Star
      </button>
    <% end %>
  </div>
<% end %>
