<%
  include_avatar = local_assigns.fetch(:include_avatar, true)
  include_title = local_assigns.fetch(:include_title, true)
  include_separator = local_assigns.fetch(:include_separator, true)
%>

<!-- watch -->
<div class="d-flex flex-items-baseline <% if include_separator %>border-bottom border-gray py-3<% end %>">
  <% if include_avatar %>
    <%= link_to_event_avatar(event) %>
  <% end %>

  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <div>
        <div class="d-flex flex-items-baseline">
          <div>
            <%= link_to_event_actor(event) %>
            starred
            <%= link_to_event_repo(event, hovercard: false) %>
            <span class="f6 text-gray-light no-wrap ml-1">
              <%= time_ago_in_words_js(event.created_at) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>

    <% if event.show_event_details?(viewer: current_user) %>
      <div class="Box p-3 mt-2">
        <div>
          <div class="f4 lh-condensed text-bold text-gray-dark">
            <%= link_to_event_repo(event, hovercard: false) %>
            <% if include_event_star_button? %>
              <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids %>
            <% end %>
          </div>
          <div class="dashboard-break-word text-gray mt-1 mb-0 repo-description">
            <p><%= event.formatted_repo_description %></p>
          </div>

          <p class="f6 text-gray mt-2 mb-0">
            <% if event.repo_language.present? %>
              <span class="d-inline-block text-gray mr-3">
                <%= render(Languages::BadgeComponent.new(name: event.repo_language_name, ml: 0)) %>
              </span>
            <% end %>

            <% if event.repo_stargazers_count > 0 %>
              <span class="d-inline-block mr-3">
                <% if event.repo_stargazers_path %>
                  <%= link_to_event_repo_stargazers(event) %>
                <% else %>
                  <%= event_repo_stargazers_with_icon(event) %>
                <% end %>
              </span>
            <% end %>

            <% if event.repo_help_wanted_issues_count > 0 %>
              <span class="mr-3">
                <%= link_to_event_help_wanted_issues(event) || event_help_wanted_issues_description(event) %>
              </span>
            <% end %>

            <% if event.repo_updated_on.present? %>
              <span>Updated <%= event.repo_updated_on %></span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
