<div>
  <p>
  Support entitlements allow specified members to view and comment on all Enterprise tickets submitted
  by colleagues and members to the <a href="https://support.github.com/">GitHub Support portal</a>.
  Enterprise administrators and Billing administrators are automatically entitled, and you may specify
  up to twenty additional members to have a support entitlement.
  </p>
</div>

<div <%= test_selector "support-entitlements-settings" %>>
  <div class="d-flex table-list-header table-list-header-next">
    <span class="table-list-heading table-list-header-meta flex-auto">
      Support members
    </span>
  </div>
  <% if entitlees.count.nonzero? %>
    <ul>
    <% entitlees.each do |member| %>
      <%= render layout: "businesses/user_list_card", locals: {
        user: member,
        user_link: member.spammy? ? nil : user_path(member),
        user_link_data_options: hovercard_data_attributes_for_user(member),
        primary_name: member.name.present? ? member.name : member.login,
        secondary_name: member.name.present? ? member.login : nil,
        login: member.login
      } do %>
        <%= form_tag settings_support_entitlee_delete_enterprise_path(this_business, member.id), method: :delete do %>
          <button class="btn-link px-2 ml-1 text-red"
                  type="submit"
                  aria-label="remove support entitlement">
            <%= octicon("trashcan") %>
          </button>
        <% end %>
      <% end %>
    <% end %>
    </ul>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "people",
      title: "No users selected",
      description: "There aren’t any users selected for the support portal entitlement in this enterprise.",
    ) %>
  <% end %>
</div>

<div>
  <div class="Subhead Subhead--spacious pt-3">
    <h3>Add support member</h3>
  </div>
  <%= form_tag settings_support_entitlee_create_enterprise_path(this_business), method: :post do %>
    <auto-complete src="<%= settings_support_entitlee_suggestions_enterprise_path(this_business) %>"
      for="support-entitlee-complete-results"
      class="auto-search-group d-block">
      <input type="text" name="user" aria-label="Search by username, full name or email address"
        class="form-control input-block input-contrast auto-search-input new-member-field"
        autofocus required
        placeholder="Search by name">
      <%= octicon "person" %>
      <ul id="support-entitlee-complete-results" class="m-0 autocomplete-results"></ul>
    </auto-complete>
    <div class="input-group-button"><button type="submit" class="btn mt-2 btn-primary js-auto-complete-button">Add support entitlement</button></div>
  <% end %>
</div>
