<div class="form-checkbox">
  <%= label_tag(:internal_support_contact_url, class: "text-bold d-block", "aria-live": "polite") do %>
    URL
    <%= radio_button_tag(:internal_support_contact_type, "url",
      support_link_type == "url",
      required: true, "aria-label": "Contact Type URL",
      disabled: disable_form,
      class: "form-checkbox-details-trigger") %>
     <span class="form-checkbox-details mt-2">
       <%= url_field_tag(:internal_support_contact_url,
        support_url,
        disabled: disable_form,
        placeholder: "https://support.example.com", class: "col-11") %>
     </span>
  <% end %>
</div>

<div class="form-checkbox">
  <%= label_tag(:internal_support_contact_email, class: "text-bold d-block") do %>
    E-mail
    <%= radio_button_tag(:internal_support_contact_type, "email",
      support_link_type == "email",
      required: true, "aria-label": "Contact Type E-mail",
      disabled: disable_form,
      class: "form-checkbox-details-trigger") %>
    <span class="form-checkbox-details mt-2">
      <%= email_field_tag(:internal_support_contact_email,
        support_email,
        disabled: disable_form,
        placeholder: "support@example.com", class: "col-11") %>
    </span>
  <% end %>
</div>
