<div id="switch_payment_types_confirm" style="display:none">
  <h2 class="facebox-header" data-facebox-id="facebox-header">Confirm payment type switch</h2>
  <div class="facebox-alert" data-facebox-id="facebox-description">
    Woah there!
  </div>
  <% if user.invoiced? %>
    <p>
      This customer is currently paying via invoice. Moving a customer back
      to self serve billing will let them ride out their current
      billing cycle after which they will have to enter a valid credit card or PayPal account
      to continue accessing their private repositories.
    </p>

    <p>
      Are you sure you want to do this?
    </p>
    <%= form_tag pay_by_credit_card_stafftools_user_path(user) do %>
      <div class="facebox-footer">
        <button type="submit" class="btn btn-block btn-danger">Switch to self serve billing</button>
      </div>
    <% end %>

  <% else %>

    <p>
      This customer is currently on self serve billing.
      This will switch this user to invoices and <strong>delete all payment methods associated with this account</strong>. Are you sure you want to do this?
    </p>
    <%= form_tag pay_by_invoice_stafftools_user_path(user) do %>
      <dl class="form-group">
        <dt><label>Plan</label></dt>
        <dd><%= select_tag :plan, options_for_select(view.available_plans, user.plan.to_s) %></dd>
      </dl>
      <dl class="form-group">
        <dt><label>Invoice term end date</label> (YYYY-MM-DD)</dt>
        <dd><%= text_field_tag "new_term_end_date", view.current_term_end_date, :required => true %></dd>
      </dl>
      <div class="facebox-footer">
        <button type="submit" class="btn btn-block btn-danger">Switch to invoices</button>
      </div>
    <% end %>

  <% end %>
</div>
