<% if view.user.plan.per_seat? %>
  <div class="facebox-alert">
    Changing seats for an <strong>invoiced</strong> account.
  </div>
  <dl class="form-group">
    <dt><label>Total seats</label></dt>
    <dd>
      <%= f.text_field :seats, name: "seats" %>
    </dd>
  </dl>
<% else %>
  <div class="facebox-alert">
    Changing plan for an <strong>invoiced</strong> account.
  </div>
  <dl class="form-group">
    <dt><label>Plan</label></dt>
    <dd>
    <%= select_tag :plan,
        options_for_select(view.available_plans, view.user.plan.to_s) %>
    </dd>
  </dl>
<% end %>
