<% action = if user.plan.per_seat?
             "Add / Remove seats"
           else
             "Change plan"
           end
%>
<%= render layout: "shared/details_dialog", locals: { button_text: action, button_class: "btn-link", title: action, } do %>
  <div class="Box-body overflow-auto">
    <div id="change_plan_or_seats">
      <%= form_for user, url: change_plan_stafftools_user_path, method: :put do |f| %>
        <% if user.invoiced? %>
          <%= render partial: "stafftools/users/change_plan_invoice_fields", locals: { view: view, f: f } %>
        <% else %>
          <%= render partial: "stafftools/users/change_plan_card_fields", locals: { view: view, f: f } %>
        <% end %>

        <div class="form-actions">
          <button type="submit" class="btn btn-block"><%= action %></button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
