<div class="Box-body">
  <p class="mb-2">
    <strong><%= domain.domain %></strong> is the only verified domain in <strong><%= domain.organization.login %></strong>.
    Because at least one verified domain is required to restrict email notifications
    to domain emails, unverifying this domain will also disable that restriction.
  </p>

  <p class="text-red">
    <strong>
      Deleting this domain will immediately allow organization members to receive notifications for this organization at
      any email address.
    </strong>
  </p>
</div>


<div class="Box-footer">
  <%= button_to "Unverify this domain and disable notification restrictions", unverify_stafftools_user_domain_path(domain.organization.login, domain.global_relay_id),
      class: "btn btn-danger btn-block mt-2",
      method: :put %>
</div>
