<%
  plan_subscription = user.plan_subscription
  synchronized = plan_subscription.synchronized?
  external_subscription = plan_subscription.fetched_external_subscription
  subscription_type = plan_subscription.external_subscription_type
%>

<% if external_subscription.past_due? %>
  <%= octicon("history") %>
<% else %>
  <% if synchronized %>
    <%= octicon("check") %>
    <span>Synchronized</span>
  <% else %>
    <%= octicon("alert") %>
    <a href="#synchronization_status" rel="facebox">Out of sync</a>
  <% end %>

  |

  <% if external_subscription.pending? %>
    <%= octicon("clock") %>
  <% elsif external_subscription.active? %>
    <%= octicon("check") %>
  <% end %>
<% end %>
<span><%= external_subscription.status.capitalize %></span>
&ndash;
<%= link_to "View on #{subscription_type.capitalize}", external_subscription.dashboard_url %>

<% unless synchronized %>
  <div id="synchronization_status" style="display: none">
    <h2 class="facebox-header" data-facebox-id="facebox-header">
      <%= "#{subscription_type.capitalize} Subscription Out of Sync" %>
    </h2>
    <table class="boxed-group-table" data-facebox-id="facebox-description">
      <thead>
        <tr>
          <th></th>
          <th>GitHub</th>
          <th><%= subscription_type.capitalize %></th>
        </tr>
      </thead>
      <tr class="<%= "text-red" unless plan_subscription.plan_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.plan_synchronized? %>
          Plan
        </th>
        <td><%= user.plan.display_name.humanize %></td>
        <td>
          <% if external_subscription.plan %>
            <%= external_subscription.plan.display_name.humanize %>
          <% else %>
            <%= GitHub::Plan.free.display_name.humanize %>
          <% end %>
        </td>
      </tr>
      <tr class="<%= "text-red" unless plan_subscription.plan_duration_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.plan_duration_synchronized? %>
          Plan Duration
        </th>
        <td><%= user.plan_duration.capitalize %></td>
        <td>
          <%= external_subscription.plan_duration.capitalize %>
        </td>
      </tr>
      <% if user.plan.per_seat? || external_subscription.seats > 0 %>
        <%# Only show this if we're on the per seat plan or there
            are seats on the BT Sub when there shouldn't be  %>
        <tr class="<%= "text-red" unless plan_subscription.seats_synchronized? %>">
          <th>
            <%= octicon("alert") unless plan_subscription.seats_synchronized? %>
            Seats
          </th>
          <td><%= user.plan.per_seat? ? plan_subscription.seat_count : "" %></td>
          <td><%= external_subscription.seats %></td>
        </tr>
      <% end %>
      <tr class="<%= "text-red" unless plan_subscription.asset_packs_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.asset_packs_synchronized? %>
          Asset Packs
        </th>
        <td><%= user.data_packs %></td>
        <td>
          <%= external_subscription.data_packs %>
        </td>
      </tr>
      <tr class="<%= "text-red" unless plan_subscription.discount_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.discount_synchronized? %>
          Discount
        </th>
        <td><%= user.discount * user.plan_duration_in_months %></td>
        <td>
          <%= external_subscription.discount %>
        </td>
      </tr>
      <tr class="<%= "text-red" unless plan_subscription.balance_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.balance_synchronized? %>
          Balance
        </th>
        <td><%= user.balance %></td>
        <td>
          <%= external_subscription.balance %>
        </td>
      </tr>
      <tr class="<%= "text-red" unless plan_subscription.next_billing_date_synchronized? %>">
        <th>
          <%= octicon("alert") unless plan_subscription.next_billing_date_synchronized? %>
          Next Billing Date
        </th>
        <td><%= user.billed_on %></td>
        <td>
          <%= external_subscription.next_billing_date %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
