<%# `view` is subclass of Stafftools::LdapSyncView, either User::SyncView or User::TeamSyncView %>

<% if view.show_ldap? %>
  <div class="boxed-group">
    <h3>LDAP</h3>
    <div class="boxed-group-inner">
      <h4>Entry mapping</h4>
      <p>
        LDAP DN that maps <%= view.subject_label %> with an LDAP entry.
        Change this DN only if the entry has been moved in the tree.
      </p>

      <%= form_tag view.change_ldap_dn_path, :method => "put" do %>
        <dl class="form-group">
          <dt><label for="ldap_dn">LDAP DN</label></dt>
          <dd>
            <input class="form-control" type="text" id="ldap_dn" name="ldap_dn" value="<%= view.ldap_map.dn %>">
            <button type="submit" class="btn">Update</button>
          </dd>
        </dl>
      <% end %>

      <% if view.show_ldap_sync? %>
        <hr class="bleed-flush">

        <h4>Synchronize</h4>

        <%= form_tag view.sync_path, :method => "put" do %>
          <button type="submit" class="btn boxed-action">Sync now</button>
        <% end %>
        <p>
          Schedule a job to immediately synchronize <%= view.subject_label %>
          with the mapped <%= view.ldap_map_label %>.
        </p>
        <p>
          <%= link_to view.sync_status_label, view.audit_log_path %>
          <% if view.last_sync_at %>
            Last synced <%= time_ago_in_words_js view.last_sync_at %>
            (<%= view.last_sync_duration %>ms runtime)
          <% end %>
        </p>
        <% if view.ldap_map.gone? %>
          <p>
            <%= octicon("alert", :class => "error") %>
            The LDAP entry could not be found. Try updating the DN and syncing again.
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
