<%# erblint:disable ProperTagNesting %>
<% pending_cycle = account.pending_cycle %>
<% if pending_cycle.has_changes?(including_free_trials: false) %>
  <div class="boxed-group">
    <h3>Pending changes</h3>
    <div class="boxed-group-inner seamless clearfix">
      <table class="boxed-group-table">
        <thead>
          <tr>
            <th>Action</th>
            <th>Effective Date</th>
            <th>Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if pending_cycle.changing_duration? %>
            <tr>
              <td>
                <%= octicon("clock") %>
                Change to <%= pending_cycle.plan_duration.downcase %>ly duration
              <td><%= pending_cycle.active_on.to_s :date %></td>
              <td>
                N/A
              </td>
              <td>
                <%= form_tag update_pending_plan_change_path(account.login), class: "inline-form", method: :put do %>
                  <%= hidden_field_tag :cancel_plan_duration, true %>
                  <button type="submit" class="btn-link text-small link-gray mr-2" data-confirm="Are you sure you want to cancel this pending plan duration change?">
                    Cancel
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if pending_cycle.changing_plan? || pending_cycle.changing_seats? %>
            <tr>
              <td>
                <%= octicon("clock") %>
                Downgrade to <%= pending_cycle.plan.display_name.humanize %> plan
                <% if pending_cycle.changing_seats? %>
                  with <%= pluralize pending_cycle.seats, "seat" %>
                <% end %>
              </td>
              <td><%= pending_cycle.active_on.to_s :date %></td>
              <td>
                <%= pending_cycle.discounted_plan_price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
              </td>
              <td>
                <%= form_tag update_pending_plan_change_path(account.login), class: "inline-form", method: :put do %>
                  <%= hidden_field_tag :cancel_plan, true %>
                  <%= hidden_field_tag :cancel_seats, true %>
                  <button type="submit" class="btn-link text-small link-gray mr-2" data-confirm="Are you sure you want to cancel these pending plan changes?">
                    Cancel
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>

          <% if pending_cycle.changing_data_packs? %>
            <tr>
              <td>
                <%= octicon("clock") %>
                Downgrade to <%= pluralize pending_cycle.data_packs, "LFS pack" %>
              </td>
              <td><%= pending_cycle.active_on.to_s :date %></td>
              <td>
                <%= pending_cycle.discounted_data_packs_price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
              </td>
              <td>
                <%= form_tag update_pending_plan_change_path(account.login), class: "inline-form", method: :put do %>
                  <%= hidden_field_tag :cancel_data_packs, true %>
                  <button type="submit" class="btn-link text-small link-gray mr-2" data-confirm="Are you sure you want to cancel this pending LFS pack change?">
                    Cancel
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% pending_cycle.pending_subscription_item_changes.non_free_trial.each do |change| %>
            <tr>
              <td>
                <%= octicon("clock") %>
                <abbr title="<%= view.pending_cycle_abbr_title(change) %>"><%= view.pending_cycle_abbr_prefix(change) %></abbr>:
                <% if change.cancellation? %>
                  Cancelling <%= change.subscribable.listing.name %> <%= change.subscribable.name %>
                <% else %>
                  Downgrade <%= change.subscribable.listing.name %> to <%= change.subscribable.name %>
                <% end %>
                <% if change.subscribable.per_unit? && !change.cancellation? %>
                  with <%= pluralize change.quantity, change.subscribable.unit_name %>
                <% end %>
              </td>
              <td><%= pending_cycle.active_on.to_s :date %></td>
              <td>
                <%= change.price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
              </td>
              <td>
                <%= form_tag pending_subscription_item_change_path(change.id), class: "inline-form", method: :delete do %>
                  <button type="submit" class="btn-link text-small link-gray mr-2" data-confirm="Are you sure you want to cancel this pending marketplace change?">
                    Cancel
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>
              <b>&#42;Total for next billing cycle</b>
            </td>
            <td><%= pending_cycle.active_on.to_s :date %></td>
            <td>
              <b><%= pending_cycle.payment_amount.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %></b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
