<% page_info :title => "Account renamed" %>

<div class="blankslate blankslate-clean-background blankslate-large blankslate-spacious">
  <%= octicon("person", height: "64") %>
  <h2 class="mb-3">Successfully renamed account to <%= user.login %>.</h2>
  <a href="<%= admin_stafftools_user_path(user) %>" class="btn btn-primary">
    Continue
  </a>
</div>
