<%# erblint:counter TooltipCounter 4 %>
<li class="table-list-item member-list-item">
  <div class="table-list-cell stafftools-member-info">
    <%= link_to stafftools_user_path(user_list) do %>
      <%= avatar_for user_list, 48, :class => "avatar member-list-avatar" %>
    <% end %>
    <span class="stafftools-member-info-content">
      <strong><%= link_to user_list.to_s, stafftools_user_path(user_list), :class => "member-username" %></strong>
      <% unless user_list.profile_name.blank? %>
        <span class="member-fullname"><%= user_list.profile_name %></span><br>
      <% end %>
      <% if view.show_email? %><span class="member-email text-small text-gray"><%= user_list.email %></span><% end %>
    </span>
  </div>

  <% if view.show_last_repo? %>
  <div class="member-meta table-list-cell">
  <% if (repo = user_list.repositories.last) %>
    <span class="tooltipped tooltipped-s" aria-label="Last repository"><%= octicon("repo") %> <%= link_to repo.name, gh_stafftools_repository_path(repo) %></span>
  <% end %>
  </div>
  <% end %>

  <% if view.show_staffnote? %>
    <div class="member-meta table-list-cell">
      <% if (staffnote = view.staffnote(user_list)) %>
      <%= avatar_for staffnote.user, 20, :class => "avatar" %> <span class="tooltipped tooltipped-multiline tooltipped-sw" aria-label="<%= staffnote.note %>"><%= octicon("comment") %></span>
      <% end %>
    </div>
  <% end %>

  <% if view.show_spam_reason? %>
  <div class="table-list-cell-checkbox table-list-cell">
    <% if user_list.spammy? %>
      <span class="tooltipped tooltipped-multiline tooltipped-sw" aria-label="Spammy, <%= user_list.spammy_reason || "no reason given." %>"><%= octicon("flame") %></span>
    <% end %>
  </div>
  <% end %>

  <% if view.show_last_ip? %>
  <div class="member-meta table-list-cell">
    <% if user_list.last_ip %>
      <span class="tooltipped tooltipped-s" aria-label="Last IP">
        <%= link_to user_list.last_ip,
                  by_ip_stafftools_users_path(:last_ip => user_list.last_ip) %>
      </span>
    <% else %>
      Last IP unknown
    <% end %>
  </div>
  <% end %>
</li>
