<% page_info title: view.page_title %>

<%= render_partial_view \
      "stafftools/abilities/participant",
      Stafftools::Abilities::ParticipantView.new(participant: view.user, grants: view.grants) %>
