<%# erblint:counter TooltipCounter 1 %>
<%# erblint:disable LinkHasHref %>
<%graphql
  fragment Account on Actor {
    ...Views::Stafftools::Users::InteractionSettings::Organization
  }
%>
<%
  page_info title: view.page_title
  user = view.user
  graphql_account = Views::Stafftools::Users::Admin::Account.new(graphql_account)
%>
<%= render_partial_view 'stafftools/users/ldap_sync', Stafftools::User::SyncView.new(subject: user) %>

<div class="boxed-group">
  <h3>Contributions</h3>
  <div class="boxed-group-inner clearfix">
    <%= form_tag rebuild_commit_contributions_stafftools_user_path, method: 'post' do %>
      <button type="submit" class="btn boxed-action">Rebuild</button>
    <% end %>
    <h4>Rebuild commit contributions data</h4>
    <p>
      Update <%=h user.login %>’s contribution calendar with missing commits
      from the repositories they own or have access to via organizations.
    </p>

    <hr class="full-bleed">
    <%= form_tag toggle_large_scale_contributor_stafftools_user_path, method: "post" do %>
      <% if user.large_scale_contributor? %>
        <button type="submit" class="btn boxed-action">Remove flag</button>
      <% else %>
        <button type="submit" class="btn boxed-action">Flag contributor</button>
      <% end %>
    <% end %>
    <h4>Flag as large-scale contributor</h4>
    <% if user.large_scale_contributor? %>
      <p>This user is <strong>currently flagged</strong> as a large-scale contributor.</p>
    <% end %>
    <p>
      Flag user to only show contributions from public repositories
      they own in their contribution graph, in order to prevent timeouts.
    </p>

    <hr class="full-bleed">
    <h4>Flagged Contribution Types</h4>

    <p>
      Select contribution types to ignore to prevent timeouts:
    </p>

    <%= form_tag flag_contribution_classes_stafftools_user_path, method: "post" do %>
      <% view.contribution_classes.each do |contribution_class| %>
        <input type="checkbox" id="<%= contribution_class.short_name %>" name="contribution_classes[]" value="<%= contribution_class.name %>" <% if contribution_class.flagged? %>checked<% end %>>
        <%= label_tag contribution_class.short_name, contribution_class.short_name %>
        <br>
      <% end %>

      <button type="submit" class="btn boxed-action">Update</button>
    <% end %>
  </div>
</div>

<% if user != current_user %>
  <% if view.show_spam? %>
    <div class="boxed-group">
      <h3>Spam</h3>
      <div class="boxed-group-inner">
        <% if user.spammy? %>
          <%= form_for user, url: stafftools_user_spam_path(this_user),
                       method: :delete do |f| %>
            <button type="submit" class="btn boxed-action">
              Clear spam flag
            </button>
          <% end %>
          <%= form_for user,
                       url: whitelist_stafftools_user_spam_path(this_user),
                       method: :post do |f| %>
            <button type="submit" class="btn boxed-action">
              Clear and whitelist
            </button>
          <% end %>
          <h4>Spam flag</h4>
          <p>
            This user is currently marked as <strong>spammy</strong>
            <% if spam_flag_timestamp %>
              [<%= time_ago_in_words spam_flag_timestamp %> ago].
            <% end %>
            <div>Reason: <%= autolink_spammy_reason(user.spammy_reason) %></div>
            <br>
            <%= link_to "View in Spamurai", Spam.url_for_account_id(user.id) %>
          </p>
          <p>
            Users flagged as spam will have their Pages, Gists and comments
            hidden from other users and will not generate notifications.
          </p>
        <% elsif user.employee? %>
          <button type="submit" class="btn boxed-action disabled" disabled>
            Flag as spam
          </button>
          <h4>Spam flag</h4>
          <p>
            This user is currently marked as <strong>not spammy</strong>.
          </p>
          <p>
            Site admins cannot be flagged as spam.
          </p>
        <% else %>
          <a href="#confirm_flag_spam" rel="facebox"
             class="btn boxed-action">
            Flag as spam
          </a>
          <h4>Spam flag</h4>
          <div id="confirm_flag_spam" hidden>
            <h2 class="facebox-header" data-facebox-id="facebox-header">
              Flag <%= user.login %> as spam
            </h2>
            <%= form_for \
                  user,
                  url: stafftools_user_spam_path(user),
                  method: :post do |f| %>
              <% if user.paid_plan? %>
                <p>
                  This account is currently on a paid plan, please be
                  certain that they are posting spammy content.  For other
                  issues consider using a TOS violation or account
                  suspension instead.
                </p>
                <p>
                  This action will only hide the account’s content and
                  prevent notifications.  Refunds and voids will not be
                  automatically created, future charges will still be
                  processed, and the account’s billing plan be not be
                  changed.
                </p>
                <%= hidden_field_tag "paid_confirm", true %>
              <% end %>
              <p>
                Please provide a reason for flagging this user as spam.
              </p>
              <dl class="form-group">
                <dt><label data-facebox-for="spammy_reason">Reason for flagging as spam</label></dt>
                <dd>
                  <input class="form-control" type="text" name="reason" data-facebox-id="spammy_reason" placeholder="Any relevant links are helpful" autofocus>
                </dd>
              </dl>
              <div class="facebox-footer">
                <button type="submit" class="btn btn-block">
                  Flag as spam
                </button>
              </div>
            <% end %>
          </div>
          <p>
            This user is currently marked as <strong>not spammy</strong>.
            <% if user.spam_whitelisted? %>
              They have also been <strong>whitelisted</strong> from
              automatically being flagged as spam.
            <% end %>
          </p>
          <p>
            Users flagged as spam will have their Pages, Gists and comments
            hidden from other users and will not generate notifications.
          </p>
        <% end %>

        <hr class='full-bleed'>

        <% if user.last_ip && view.same_ip_count > 1 %>
          <%= form_for user, url: flag_all_stafftools_user_spam_path(user),
                       method: :post do |f| %>
            <button type="submit" class="btn boxed-action">
              Flag all as spam
            </button>
          <% end %>
          <h4>Other users on this IP</h4>
          <p>
            <%= link_to "View #{view.same_ip_count} users",
                        by_ip_stafftools_users_path(last_ip: user.last_ip) %>
            who last connected from <%= user.last_ip %>.
          </p>
        <% else %>
          <button type="submit" class="btn boxed-action disabled">
            Flag all as spam
          </button>
          <h4>Other users on this IP</h4>
          <p>
            <% if user.last_ip %>
              No other users share <%= user.last_ip %>.
            <% else %>
              User IP unknown.
            <% end %>
          </p>
        <% end %>

        <% if user.spammy? %>
          <hr class="full-bleed">
            <%= form_for user, url: toggle_renaming_or_deleting_stafftools_user_spam_path(user),
                        method: :post do |f| %>
              <%= hidden_field_tag :toggle_type, :deleting %>
              <button type="submit" class="btn boxed-action">
                  <% if !view.spammy_rename_delete_overridden?(:deleting) %>
                    Allow deleting abilities
                  <% else %>
                    Revoke deleting abilities
                  <% end %>
              </button>
            <% end %>
            <%= form_for user, url: toggle_renaming_or_deleting_stafftools_user_spam_path(user),
                        method: :post do |f| %>
              <%= hidden_field_tag :toggle_type, :renaming %>
              <button type="submit" class="btn boxed-action">
                  <% if !view.spammy_rename_delete_overridden?(:renaming) %>
                    Allow renaming abilities
                  <% else %>
                    Revoke renaming abilities
                  <% end %>
              </button>
            <% end %>
          <h4>Renaming or deleting abilities</h4>
          <p>Grant ability for spammy <% if user.user? %>users<% else %>orgs<% end %> to rename or delete themselves.</p>
        <% end %>

        <% if view.show_spammy_org_override? %>
          <hr class="full-bleed">
          <%= form_for user, url: toggle_override_for_owned_orgs_stafftools_user_spam_path(user),
                      method: :post do |f| %>
            <%= hidden_field_tag :toggle_type, :deleting %>
            <button type="submit" class="btn boxed-action">
                <% if !view.spammy_orgs_rename_delete_overridden?(:deleting) %>
                  Allow deleting abilities
                <% else %>
                  Revoke deleting abilities
                <% end %>
            </button>
          <% end %>

          <%= form_for user, url: toggle_override_for_owned_orgs_stafftools_user_spam_path(user),
                      method: :post do |f| %>
            <%= hidden_field_tag :toggle_type, :renaming %>
            <button type="submit" class="btn boxed-action">
                <% if !view.spammy_orgs_rename_delete_overridden?(:renaming) %>
                  Allow renaming abilities
                <% else %>
                  Revoke renaming abilities
                <% end %>
            </button>
          <% end %>

          <h4>Renaming or deleting abilities for orgs</h4>
          <p>Grant ability for users to rename or delete all their spammy organizations.</p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% if view.batch_scannable?(current_user) %>
  <div class="boxed-group">
    <h3>Automated content classification</h3>
    <div class="boxed-group-inner clearfix">
      <%= form_tag stafftools_user_asset_batch_scan_path(user_id: user.login), method: 'post' do %>
        <% count_to_scan = view.number_of_images_to_scan %>
        <p>
          <button type="submit" class="btn boxed-action" <%= "disabled" if count_to_scan == 0 %>>Submit uploads for automated content classification</button>
        </p>
        <p>
          If you suspect that this user's images contain Child Sexual Exploitation Imagery or Extreme
          Terrorism content, submit all images for classification and potential flagging.

          <strong>Note: For now, please check with the Slack channel #schaefer before clicking this button.</strong>

          This will trigger <%= count_to_scan %> scans.
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% if view.show_interaction_ban? %>
  <div class="boxed-group">
    <h3>Interactions</h3>
    <div class="boxed-group-inner clearfix">
      <% if stafftools_action_authorized?(action: :user_interactions) %>
        <%= form_tag toggle_interaction_ban_stafftools_user_path, method: 'post' do %>
          <% if view.interaction_disallowed? %>
            <p>
              This user is banned from making comments, opening pull requests, and
              opening issues  on other people’s repositories until <%= view.interaction_ban_expiry %>.
            </p>
            <button type="submit" class="btn boxed-action">Allow Interactions</button>
          <% else %>
            <p>
              Prevent this user from commenting on or opening pull requests, issues,
              and reviews for <%= pluralize view.interaction_ban_duration, "hour" %>.
            </p>
            <button type="submit" class="btn boxed-action">Disallow Interactions</button>
          <% end %>
        <% end %>
      <% else %>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if !user.organization? && Organization.transforming?(user) %>
  <div class="boxed-group dangerzone">
    <h3>Organization transformation</h3>
    <div class="boxed-group-inner">
      <%= form_tag remove_transform_lockout_stafftools_user_path, method: "post" do %>
        <button type="submit" class="btn boxed-action">Clear lock</button>
      <% end %>
      <h4>Transform in progress</h4>
      <p>
        This user account is currently locked because it is being converted
        into an organization. The account may still be locked if it failed to
        be converted into an organization. You should be able to clear the
        lock if you know the job has failed.
      </p>
      <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
        <p>
          <%= link_to "Search audit logs",
              stafftools_audit_log_path(query: view.audit_query) %>
          for organization transform events.
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% if user == current_user %>
  <div class="boxed-group dangerzone">
    <h3>Nothing to see here…</h3>
    <div class="boxed-group-inner">
      <p>You can’t use this section on your own account!  Move along…</p>
    </div>
  </div>
<% else %>
  <div class="boxed-group dangerzone">
    <h3>Danger Zone</h3>
    <div class="boxed-group-inner">
      <% if stafftools_action_authorized?(action: :rename) %>
        <% if user.system_account? %>
          <h4>Rename account</h4>
          <p>
            This account cannot be renamed because it is a system account that
            is important for <%= GitHub.flavor %> to function properly.
          </p>
        <% elsif user.renaming? %>
          <h4>Rename account</h4>
          <p><%= user %> is in the process of being renamed…</p>
        <% elsif GitHub.enterprise? %>
          <%= form_tag rename_stafftools_user_path do %>
            <dl class="form-group mt-0">
              <dt><label for="user_rename_login">Rename account</label></dt>
              <dd>
                <%= text_field_tag :login, user.login, class: "short", id: "user_rename_login" %>
                <button type="submit" class="btn">Change name</button>
              </dd>
            </dl>
          <% end %>

        <% elsif user.dormant? %>

          <div class="js-details-container Details">
            <a href="#" class="btn btn-danger boxed-action js-details-target" aria-expanded="false">
              Rename
            </a>

            <h4>Rename account</h4>
            <p>
              This account appears to be inactive.<br>
              Please double-check against the
              <a target="_blank"
              href="https://githubber.com/article/crafts/support/accounts/releasing-dormant-usernames">
              dormancy policy</a> before renaming.
            </p>

            <div class="inline-confirm">
              <%= form_tag rename_stafftools_user_path do %>
                <dl class="form-group">
                  <dt><label for="user_rename_login">Rename account</label></dt>
                  <dd>
                    <%= text_field_tag :login, user.login, class: "short", id: "user_rename_login" %>
                    <button type="submit" class="btn">Change name</button>
                  </dd>
                </dl>
              <% end %>
            </div>
          </div>

        <% else %>

          <div class="js-details-container Details">
            <a href="#" class="btn btn-danger boxed-action js-details-target" aria-expanded="false">
              Rename
            </a>

            <h4>Rename account</h4>
            <p>
              <%= octicon("alert", class: "error") %>
              This account may not be dormant.
              <%= link_to "View activity status", activity_stafftools_user_path %>.
              <br>
              Check the
              <a target="_blank"
                href="https://githubber.com/article/crafts/support/accounts/releasing-dormant-usernames">
                dormancy policy</a> before renaming this account.
            </p>

            <div class="inline-confirm">
              <%= form_tag rename_stafftools_user_path do %>
                <dl class="form-group">
                  <dt><label for="user_rename_login">Rename account</label></dt>
                  <dd>
                    <%= text_field_tag :login, user.login, class: "short", id: "user_rename_login" %>
                    <button type="submit" class="btn">Change name</button>
                  </dd>
                </dl>
              <% end %>
            </div>

          </div>
        <% end %>
      <% else %>
        <h4>Rename account</h4>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>

      <hr class="full-bleed">

      <% if view.show_role? %>
        <% if GitHub.single_business_environment? %>
          <h4>Privileged access</h4>
          <p>
            Manage administrators of this <%= GitHub.flavor %> installation using the
            <%= link_to "enterprise administrators", admins_enterprise_path(GitHub.global_business) %>
            page.
          </p>
          <hr class="full-bleed">
        <% else %>
          <% if !view.normal_user_or_employee? %>
            <div class="js-details-container Details">
              <button type="button" data-facebox="#confirm_set_normal_user" data-facebox-class="dangerzone"
                class="btn btn-danger boxed-action"
                <%= "disabled" if !stafftools_action_authorized?(action: :revoke_privileged_access) %>
                aria-label="<%= stafftools_not_authorized_text if !stafftools_action_authorized?(action: :revoke_privileged_access) %>">
                Make normal user
              </button>
              <h4>
                Privileged access
              </h4>
              <p>This account is currently a <strong><%= view.account_type %></strong></p>
              <div id="confirm_set_normal_user" hidden>
                <h2 class="facebox-header" data-facebox-id="facebox-header">
                  Change <%= user.login %> to a normal user
                </h2>

                <%= form_tag revoke_privileged_access_stafftools_user_path, method: :delete do %>
                  <input type="hidden" name="id" value="<%= user.name %>">
                  <label data-facebox-for="revoke_privileged_reason">For the record, why is this person being changed to a normal user?</label>
                  <%= hidden_field_tag "reason_preamble", "Changed gh_role" %>
                  <p><input type="text" name="reason" data-facebox-id="revoke_privileged_reason" class="form-control input-block" autofocus></p>
                  <div class="facebox-footer">
                    <% if !stafftools_action_authorized?(action: :revoke_privileged_access) %>
                      <button class="btn btn-danger boxed-action disabled tooltipped tooltipped-nw" disabled type="submit" aria-label="<%= stafftools_not_authorized_text %>">Demote <%= user.login %></button>
                    <% else %>
                      <button type="submit" class="btn btn-block btn-danger">Demote <%= user.login %></button>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <hr class="full-bleed">
          <% end %>

          <% if GitHub.billing_enabled? && !view.biztools_user? %>
            <div class="js-details-container Details">
              <% if stafftools_action_authorized?(action: :set_github_biztools_user) %>
                <a href="#confirm_set_github_biztools_user" rel="facebox[.dangerzone]" class="btn btn-danger boxed-action">
                  Make Biztools User
                </a>
                <h4>Biztools Access</h4>
                <p>
                  Biztools users are able to create/manage coupons and apply them to accounts.
                </p>

                <div id="confirm_set_github_biztools_user" hidden>
                  <h2 class="facebox-header" data-facebox-id="facebox-header">
                    Change <%= user.login %> to Biztools user
                  </h2>
                  <%= form_tag set_github_biztools_user_stafftools_user_path do %>
                    <input type="hidden" name="id" value="<%= user.name %>">
                    <label data-facebox-for="biztools_reason">For the record, why is this person being given access to biztools?</label>
                    <%= hidden_field_tag "reason_preamble", "Changed gh_role" %>
                    <p><input type="text" name="reason" data-facebox-id="biztools_reason" class="form-control input-block" autofocus></p>
                    <div class="facebox-footer">
                      <button type="submit" class="btn btn-block btn-danger">Promote <%= user.login %></button>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <h4>Biztools Access</h4>
                <p><%= stafftools_not_authorized_html %></p>
              <% end %>
            </div>
            <hr class="full-bleed">
          <% end %>

          <% if !view.github_developer? && GitHub.devtools_enabled? %>
            <div class="js-details-container Details">
              <% if stafftools_action_authorized?(action: :set_github_developer) %>
                <a href="#confirm_set_github_developer" rel="facebox[.dangerzone]" class="btn btn-danger boxed-action">
                  Make GitHub developer
                </a>
                <h4>Developer Tools Access</h4>
                <p>
                  GitHub developers have access to Devtools, but not Stafftools.
                </p>

                <div id="confirm_set_github_developer" hidden>
                  <h2 class="facebox-header" data-facebox-id="facebox-header">
                    Change <%= user.login %> to GitHub developer
                  </h2>
                  <%= form_tag set_github_developer_stafftools_user_path do %>
                    <input type="hidden" name="id" value="<%= user.name %>">
                    <label data-facebox-for="devtools_reason">For the record, why is this person being made a GitHub developer?</label>
                    <%= hidden_field_tag "reason_preamble", "Changed gh_role" %>
                    <p><input type="text" name="reason" data-facebox-id="devtools_reason" class="form-control input-block" autofocus></p>
                    <div class="facebox-footer">
                      <button type="submit" class="btn btn-block btn-danger">Promote <%= user.login %></button>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <h4>Developer Tools Access</h4>
                <p><%= stafftools_not_authorized_html %></p>
              <% end %>
            </div>
            <hr class="full-bleed">
          <% end %>

          <% if !view.site_admin? %>
            <div class="js-details-container Details">
              <% if stafftools_action_authorized?(action: :set_site_admin) %>
                <button type="button" data-facebox="#confirm_set_site_admin" data-facebox-class="dangerzone"
                  class="btn btn-danger boxed-action">
                  Make site admin
                </button>
                <h4>Site admin access</h4>
                <p>
                  Site admins have full access to all user accounts and repositories
                  <% if GitHub.devtools_enabled? %> in addition to Devtools.<% end %>
                </p>
                <div id="confirm_set_site_admin" hidden>
                  <h2 class="facebox-header" data-facebox-id="facebox-header">
                    Change <%= user.login %> to site admin
                  </h2>
                  <%= form_tag set_site_admin_stafftools_user_path do %>
                    <input type="hidden" name="id" value="<%= user.name %>">
                    <label data-facebox-for="site_admin_reason">For the record, why is this person being made a site admin?</label>
                    <%= hidden_field_tag "reason_preamble", "Changed gh_role" %>
                    <p><input type="text" name="reason" data-facebox-id="site_admin_reason" class="form-control input-block" autofocus></p>
                    <div class="facebox-footer">
                      <button type="submit" class="btn btn-block btn-danger">Promote <%= user.login %></button>
                    </div>
                  <% end %>
                </div>
              <% else %>
                <h4>Site admin access</h4>
                <p><%= stafftools_not_authorized_html %></p>
              <% end %>
            </div>
            <hr class="full-bleed">
          <% end %>
        <% end %>
      <% end %>

      <% if !user.deceased? %>
        <div class="d-flex flex-justify-between">
          <div>
            <h4>Deceased User</h4>
            <div class="pr-2">
              This will record that the user is confirmed as deceased.

              <a href="https://githubber.com/article/crafts/legal/deceased-user-policy">View our deceased user policy.</a>
            </div>
          </div>

          <%= render layout: "shared/details_dialog", locals: {
                button_text: "Mark user as deceased",
                button_class: "btn btn-block btn-danger",
                title: "Are you sure you want to mark #{user} as deceased?",
              } do %>
            <div class="Box-body overflow-auto">
              <p>
                This action is irreversible.
              </p>
              <%= form_tag mark_deceased_stafftools_user_path do %>
                <input type="hidden" name="id" value="<%= user.id %>">
                <button type="submit" class="btn btn-block btn-danger mt-2" data-close-dialog autofocus>
                  Mark as deceased
                </button>
              <% end %>
            </div>
          <% end %>
        </div>
        <hr class="full-bleed">
      <% end %>


      <% if user.suspendable? %>
        <% if stafftools_action_authorized?(action: :toggle_suspension) %>
          <a href="#confirm_suspend" rel="facebox[.dangerzone]"
            class="btn btn-danger boxed-action">
            <%= view.suspension_action %>
          </a>
          <h4>
            Account suspension
          </h4>

          <p>
            Suspended users are prevented from logging in, pushing, and pulling
            code.
            <% if enterprise? %>
              Suspended users do not consume license seats.
            <% end %>
            <br>
            This account is currently
            <strong><%= view.suspension_status %></strong>
          </p>

          <div id="confirm_suspend" hidden>
            <h2 class="facebox-header" data-facebox-id="facebox-header"><%= view.suspension_action %> <%= user.login %></h2>
            <p data-facebox-id="facebox-description">
              Please provide a reason for the audit log.
              <% unless GitHub.enterprise? %>
                If you have a support ticket, a link is usually sufficient.
              <% end %>
            </p>

            <%= form_for user, url: toggle_suspension_stafftools_user_path,
                      method: :put do |f| %>
              <input type="hidden" name="id" value="<%= user.name %>">
              <dl class="form-group">
                <dt><label data-facebox-for="suspension_reason">Log reason</label></dt>
                <dd>
                  <input class="form-control" type="text" name="reason" data-facebox-id="suspension_reason" autofocus>
                </dd>
              </dl>
              <div class="facebox-footer">
                <button type="submit" class="btn btn-block btn-danger">
                  <%= view.suspension_action %>
                </button>
              </div>
            <% end %>
          </div>
        <% else %>
          <h4>Account suspension</h4>
          <p><%= stafftools_not_authorized_html %></p>
        <% end %>

        <hr class="full-bleed">
      <% end %>

      <% if stafftools_action_authorized?(action: :toggle_suspension) %>
        <% if !user.has_any_trade_restrictions? %>
          <% if user.organization? %>
            <h4>
              Trade Controls Restrictions
            </h4>
            <p>
              Manage trade controls restrictions for this organization.
            </p>
            <div class="Box mt-3 mb-3">
              <ul>
                <li class="Box-row">
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <label for="time-limit"> Enforce restrictions</label>
                      <p class="note"> Setting the trade controls flag for this organization will severely limit functionality and schedule an account downgrade.
                      This account currently has a <strong><%= view.plan %></strong> plan.
                      </p>
                    </div>
                    <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Enforce restrictions",
                      title: "Enforce restrictions for #{user.login}",
                      button_class: "btn btn-danger boxed-action",
                      details_class: "text-left",

                    } do %>

                      <%= form_for user, url: trade_controls_restrictions_enforce_stafftools_user_path,
                        method: :post, html: { class: "m-3", }, namespace: "trade_controls" do |f| %>
                        <input type="hidden" name="id" value="<%= user.name %>">
                        <label class="mt-3" for="restriction_reason">Log reason</label>
                        <input class="form-control input-block mt-1 mb-1" type="text" name="reason" id="restriction_reason" autofocus>
                        <label class="mt-3" for="restriction_type">Select level of restriction</label>
                        <select id="restriction_type" name="restriction_type" class="form-select input-block mt-1 mb-2" required>
                          <option value="" selected disabled hidden></option>
                          <% view.trade_controls_restriction_events.each do |event| %>
                            <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                          <% end %>
                        </select>

                        <button type="submit" class="btn btn-block btn-danger">
                          Enforce restrictions
                        </button>
                      <% end %>
                    <% end %>
                  </div>
                </li>
                <%= render partial: "stafftools/users/trade_controls_violations", locals: { user: user, type: "organization" } %>
              </ul>
            </div>
          <% else %>
            <h4>
              Trade Controls Restrictions
            </h4>
            <p>
              Manage trade controls restrictions for this user.
            </p>
            <div class="Box mt-3 mb-3">
              <ul>
                <li class="Box-row">
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <label for="time-limit"> Enforce restrictions</label>
                      <p class="note"> Setting the trade controls flag for this user will severely limit functionality and schedule an account downgrade.
                      This account currently has a <strong><%= view.plan %></strong> plan.
                      </p>
                    </div>
                    <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Enforce restrictions",
                      title: "Enforce restrictions for #{user.login}",
                      button_class: "btn btn-danger boxed-action",
                      details_class: "text-left",

                    } do %>

                      <%= form_for user, url: trade_controls_restrictions_enforce_stafftools_user_path,
                                  method: :post, html: { class: "m-3", }, namespace: "trade_controls" do |f| %>
                        <input type="hidden" name="id" value="<%= user.name %>">
                        <label class="mt-3" for="restriction_reason">Log reason</label>
                        <input class="form-control input-block mt-1 mb-1" type="text" name="reason" id="restriction_reason" autofocus>
                        <label class="mt-3" for="restriction_type">Select level of restriction</label>

                        <select id="restriction_type" name="restriction_type" class="form-select input-block mt-1 mb-2" required>
                          <option value="" selected disabled hidden></option>
                          <% view.trade_controls_restriction_events.each do |event| %>
                            <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                          <% end %>
                        </select>

                        <button type="submit" class="btn btn-block btn-danger">
                          Enforce restrictions
                        </button>
                      <% end %>
                    <% end %>
                  </div>
                </li>
                <%= render partial: "stafftools/users/trade_controls_violations", locals: { user: user, type: "user" } %>
              </ul>
            </div>
          <% end %>
        <% else %>
          <% if user.organization? %>
            <h4>
              Trade Controls Restrictions
            </h4>
            <div class="Box mt-3">
              <ul>
                <li class="Box-row">
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <label for="time-limit">Override Enforcement</label>
                      <p class="note">Clearing the <%= view.trade_controls_restriction_type %> trade controls restriction on this organization will
                        restore lost functionality and cancel any pending downgrade.
                        If the downgrade has already been run, certain features may not be automatically reinstated.
                      </p>
                    </div>
                    <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Override enforcement",
                      title: "Override restrictions enforcement for #{user.login}",
                      button_class: "btn btn-danger boxed-action",
                      details_class: "text-left",

                    } do %>
                      <%= form_tag trade_controls_restrictions_override_stafftools_user_path(user), method: :post, class: "m-3" do %>
                        <label class="mt-3" for="reason">Log reason</label>
                        <input class="form-control input-block mt-1 mb-1" type="text" name="reason" id="reason" autofocus>
                        <button type="submit" class="btn btn-block btn-danger" data-confirm="Are you sure you want to unflag this organization's trade restriction?">
                          Override restrictions
                        </button>
                      <% end %>
                    <% end %>
                  </div>
                </li>
                <%= render partial: "stafftools/users/trade_controls_violations", locals: { user: user, type: "organization" } %>
                <% if user.has_tiered_trade_restrictions? %>
                  <li class="Box-row">
                    <div class="d-flex flex-justify-between flex-items-center">
                      <div class="pr-2">
                        <label for="time-limit">Update Restriction Level</label>
                        <p class="note">Update the trade restriction level for this organization.</p>
                      </div>
                      <%= render layout: "shared/details_dialog", locals: {
                        button_text: "Update restriction",
                        title: "Update restriction level for #{user.login}",
                        button_class: "btn btn-danger boxed-action",
                        details_class: "text-left",

                      } do %>
                        <%= form_tag trade_controls_restrictions_update_stafftools_user_path(user), method: :post, class: "m-3" do %>
                          <label class="mt-3" for="update-reason">Log reason</label>
                          <input class="form-control input-block mt-1 mb-3" type="text" name="reason" id="update-reason" autofocus>

                          <label class="mt-3" for="restriction_type">Select level of restriction</label>

                          <select id="restriction_type" name="restriction_type" class="form-select input-block mt-1 mb-2" required>
                            <option value="" selected disabled hidden></option>
                            <% view.trade_controls_restriction_events.select { |evt| evt[0] != :unrestricted }.each do |event| %>
                              <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                            <% end %>
                          </select>

                          <button type="submit" class="btn btn-block btn-danger" data-confirm="Are you sure you want to update this organization's trade restriction level?">
                            Update
                          </button>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <h4>
              Trade Controls Restrictions
            </h4>

            <div class="Box mt-3">
              <ul>
                <li class="Box-row">
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <h4>OFAC Sanction Override</h4>
                      <p>
                        This user has been <%= view.trade_controls_restriction_type %> trade controls restricted.
                        <br>
                        <% if user.scheduled_ofac_downgrade %>
                          A downgrade has been scheduled to be executed on <%= user.scheduled_ofac_downgrade.downgrade_on %>.
                          <br>
                        <% end %>
                        To unrestrict the user and cancel the downgrade, override the trade controls restriction.
                      </p>
                    </div>
                    <%= form_tag ofac_sanction_override_stafftools_user_path(user), method: :post do %>
                      <div class="boxed-action">
                        <dl>
                          <dt><label for="reason">Reason</label></dt>
                          <dd><input class="form-control width-full" type="text" name="reason" aria-label="reason"></dd>
                        </dl>
                        <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to unflag this user's trade restriction?">
                          Override OFAC Sanctions
                        </button>
                      </div>
                    <% end %>
                  </div>
                </li>
                <%= render partial: "stafftools/users/trade_controls_violations", locals: { user: user, type: "user" } %>
              </ul>
            </div>
          <% end %>

            <hr class="full-bleed">
          <% end %>
      <% else %>
        <h4>Trade Controls Enforcements</h4>
        <p><%= stafftools_not_authorized_html %></p>
        <hr class="full-bleed">
      <% end %>

      <% if stafftools_action_authorized?(action: :toggle_suspension) %>
        <% if user.has_any_pending_trade_restriction? %>
          <% if user.organization? %>
            <h4>
            Pending Trade Controls Restriction
            </h4>
            <p>
              This organization has a scheduled trade restriction enforcement.
            </p>
            <div class="Box">
              <ul>
                <li class="Box-row">
                <%= form_tag pending_trade_controls_restrictions_cancel_stafftools_user_path(user) do %>
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <label for="time-limit">Cancel Enforcement</label>
                      <p class="note">Cancel scheduled trade restriction enforcement for this organization.</p>
                    </div>
                    <button type="submit" class="btn btn-danger boxed-action" data-confirm="A pending trade controls restriction should only be cancelled due to a successful appeal. Are you sure you want to cancel this organization's scheduled trade restriction enforcement?">Cancel</button>
                  </div>
                <% end %>
                </li>
                <li class="Box-row">
                <%= form_tag pending_trade_controls_restrictions_extend_stafftools_user_path(user) do %>
                  <div class="d-flex flex-justify-between flex-items-center">
                    <div class="pr-2">
                      <label for="time-limit">Extend Enforcement</label>
                      <p class="note">Extend scheduled trade restriction enforcement for this organization by 14 days.</p>
                    </div>
                    <button type="submit" class="btn btn-danger boxed-action" data-confirm="Are you sure you want to extend this organization's scheduled trade restriction enforcement by 14 days?">Extend</button>
                  </div>
                <% end %>
                </li>
              </ul>
            </div>
            <hr class="full-bleed">
          <% end %>
        <% end %>
      <% else %>
        <h4>Pending Trade Controls Enforcements</h4>
        <p><%= stafftools_not_authorized_html %></p>
        <hr class="full-bleed">
      <% end %>

      <% if !GitHub.enterprise? && view.downgradable? %>
        <% if stafftools_action_authorized?(controller: Stafftools::Users::DataPacksController, action: :delete) %>
          <a href="#confirm_downgrade" rel="facebox[.dangerzone]"
            class="btn btn-danger boxed-action">
            <%= view.downgrade_action %>
          </a>
          <h4>
            Downgrade account
          </h4>

          <p>
            Downgrading this account will <% if user.data_packs > 0 %>remove LFS data subcriptions and <% end %>downgrade the account to a <strong>Free</strong> plan.
            <br>
            This account currently has a
            <strong><%= view.plan %></strong> plan.
          </p>

          <div id="confirm_downgrade" hidden>
            <h2 class="facebox-header" data-facebox-id="facebox-header"><%= view.downgrade_action %></h2>

            <p data-facebox-id="facebox-description">
              <% if view.has_subscriptions? %>
                <%= user.login %> has marketplace integrations that need to be removed.
                <br>
                <strong><%= link_to "View marketplace integrations", "billing" %></strong>
              <% elsif view.plan != "Free" %>
                <% if user.data_packs > 0 %>
                  This will remove <%= user.login %>'s data pack subscriptions, and downgrade their account to <strong>Free</strong>.
                  <br>
                  <span class="payment-method js-payment-summary">
                    <strong>Charges will be prorated for the remainder of the billing cycle.</strong>
                  </span>
                <% else %>
                  Downgrade <%= user.login %> to a <strong>Free</strong> account.
                <% end %>

                <%= form_tag stafftools_user_data_packs_path(user), method: :delete do %>
                  <p class="form-submit">
                    <button type="submit" class="btn btn-danger">Save changes</button>
                  </p>
                <% end %>

              <% end %>
            </p>
          </div>
        <% else %>
          <h4>Downgrade account</h4>
          <p><%= stafftools_not_authorized_html %></p>
        <% end %>
        <hr class="full-bleed">
      <% end %>

      <% if view.show_revoke_employee_access? && stafftools_action_authorized?(action: :revoke_employee_access)%>
        <div class="js-details-container Details">
          <%= render layout: "shared/details_dialog", locals: {
            details_class: "boxed-action",
            button_text: "Revoke employee access",
            button_class: "btn btn-danger",
            title: "Revoke all access for #{user.login}",
          } do %>
            <%= form_tag revoke_employee_access_stafftools_user_path do %>
              <div class="Box-body">
                <input type="hidden" name="id" value="<%= user.name %>">
                <label for="reason_input">For the record, why are we revoking this user's access?</label>
                <input id="reason_input" type="text" name="reason" class="form-control input-block" autofocus>
              </div>
              <div class="Box-footer">
                <button type="submit" class="btn btn-block btn-danger">Revoke access for <%= user.login %></button>
              </div>
            <% end %>
          <% end %>
          <h4>Revoke Employee Access</h4>
          <p>
            Revoke all access an employee has to GitHub.com. Use only when absolutely necessary, as this will revoke all of the user's OAuth authorizations, unverify their SSH keys, remove them from the GitHub org, reset all their web sessions, and scramble their password.
          </p>
        </div>
        <hr class="full-bleed">
      <% end %>

      <% if !stafftools_action_authorized?(action: :destroy) %>
        <h4>Delete account</h4>
        <p><%= stafftools_not_authorized_html %></p>
      <% elsif user.system_account? %>
        <button type="submit" class="btn btn-danger boxed-action" disabled>
          Delete this account
        </button>
        <h4>Delete account</h4>
        <p>
          This account cannot be deleted because it is a system account that
          is important for <%= GitHub.flavor %> to function properly.
          <% if GitHub.enterprise? && user.user? %>
          This account does not consume a license seat.
          <% end %>
        </p>
      <% elsif view.owned_orgs_preventing_deletion? %>
        <button type="submit" class="btn btn-danger boxed-action" disabled>
          Delete this account
        </button>
        <h4>Delete account</h4>
        <p id="deletion-disallowed-reason">
          <%= view.deletion_disallowed_orgs_reason %>
          <strong><%= view.deletion_disallowed_orgs_list %></strong>
        </p>
        <p id="deletion-disallowed-message">
          This user must leave or transfer ownership of these organizations before being deleted.
        </p>
        <% elsif !GitHub.enterprise? && view.downgradable? %>
            <button type="submit" class="btn btn-danger boxed-action" disabled>
              Delete this account
            </button>
            <h4>Delete account</h4>
            <p id="deletion-disallowed-reason">
              <%= view.deletion_disallowed_plan_reason %>
            </p>
            <p id="deletion-disallowed-message">
              <% if view.has_subscriptions? %>
                <%= link_to "View marketplace integrations", "billing" %>
              <% else %>
                The users account must be downgraded before being deleted.
              <% end %>
            </p>
      <% elsif deletable_user?(user) %>
        <a href="#confirm_deletion" rel="facebox[.dangerzone]"
           class="btn btn-danger boxed-action">
          Delete this account
        </a>
        <h4>Delete account</h4>
        <p>
          Deleting this account will remove all its content including
          repositories, gists, and comments.
        </p>
      <% else %>
        <button type="button" class="btn btn-danger boxed-action" disabled>
          Delete this account
        </button>
        <h4>Delete account</h4>
        <p>
          This account cannot be deleted because it is on a paid plan or a
          member of a paid organization.
        </p>
      <% end %>

      <% if user.last_ip && view.same_ip_count > 1 && stafftools_action_authorized?(action: :destroy) %>
        <p>
          <%= link_to "View #{view.same_ip_count} users",
                      by_ip_stafftools_users_path(last_ip: user.last_ip) %>
          who last connected from <%= user.last_ip %>.
        </p>
      <% end %>

      <div id="confirm_deletion" hidden>
        <h2 class="facebox-header" data-facebox-id="facebox-header">Delete account</h2>
        <div class="facebox-alert" data-facebox-id="facebox-description">Make sure you want to do this.</div>
        <% if view.has_repos? %>
          <p>
            Please note that deleting this account will also delete
            <strong><%= pluralize(user.repositories.size, "repository") %></strong>
            owned by this user.
          </p>
        <% end %>
        <p>
          The user <strong>will not</strong> be notified of this deletion.
        </p>

        <hr>

        <label data-facebox-for="deletion_confirmation">Please enter the username you would like to delete to confirm.</label>

        <div class="facebox-footer">
          <%= form_tag stafftools_user_path(user), method: :delete, id: 'cancel_plan' do %>
            <p>
              <input type="text" data-facebox-id="deletion_confirmation" class="form-control input-block" pattern="<%= case_insensitive_pattern user.login %>" required autofocus>
            </p>

            <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>
              Delete this account
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="boxed-group">
  <h3>Repository default settings</h3>
  <div class="boxed-group-inner clearfix">
    <% if stafftools_action_authorized?(action: :change_allow_force_push) %>
      <h4>Force pushes</h4>
      <% if user.force_push_rejection_writable? %>
        <p>
          <% if user.organization? %>
            Allow or block force pushes made to repositories within this organization.
          <% else %>
            Allow or block force pushes made to this user’s repositories.
          <% end %>

          <% if user.force_push_rejection_inherited? %>
            <br>
            The current value is inherited from <strong><%= view.setting_source_detail_text(user.force_push_rejection_source) %></strong>.
          <% end %>
        </p>

        <%= form_tag change_allow_force_push_stafftools_user_path do %>
          <details class="select-menu block-force-push details-reset details-overlay">
            <summary class="btn btn-sm select-menu-button">
              <%= octicon("repo-force-push") %>
              <span data-menu-button><%= view.force_detail_text %></span>
            </summary>

            <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
              <div class="select-menu-header">
                <span class="select-menu-title">Force Push</span>
              </div>

              <div class="select-menu-list">
                <% view.force_rejection_choices.each do |label, value| %>
                  <button type="submit" class="select-menu-item width-full" role="menuitemradio" value="<%= value %>" name="value" aria-checked="<%= view.force_selected?(value) %>">
                    <%= octicon('check', class: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>

          <div class="block-force-push-policy-buttons">
            <%= check_box_tag :policy, "policy", view.force_rejection_local_policy? %>
            <%= label_tag :policy, 'Enforce on all repositories' %>
          </div>
        <% end %>
      <% else %>
        <p>
          Force pushes are currently <strong><%= view.force_detail_text.downcase %></strong>.
          This is a policy set at <strong><%= view.setting_source_detail_text(user.force_push_rejection_source) %></strong> and cannot be changed here.
        </p>
      <% end %>
    <% else %>
      <h4>Force pushes</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  </div>
</div>

<% if view.show_rate_limit_whitelisting? %>
  <div class="boxed-group">
    <h3>Rate limit whitelisting</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        <a href="https://githubber.com/article/crafts/support/accounts/abuse-rate-limits">What are abuse rate limits?</a>
      </p>
      <p>
        <% if view.user_whitelisted? %>
          <%= user.login %> was <%= "temporarily" if view.user_temporarily_whitelisted? %> whitelisted from the issue and comment rate
          limit by <%= view.whitelisting_user %>
          <%= time_ago_in_words_js(view.whitelisted_at) %>. Removing
          them from the whitelist will restrict them to creating comments and
          issues within the normal user rate limit.
        <% else %>
          <%= user.login %> is currently not whitelisted from the issue and comment rate limit.
          Whitelisting this user will allow them to create comments and issues at any speed.
        <% end %>
      </p>
      <p>
        <% if view.last_rate_limit_violation %>
          <%= user.login %> last violated the rate limit on
          <%= view.last_rate_limit_violation.created_at %>
          (<%= link_to time_ago_in_words_js(view.last_rate_limit_violation.created_at),
                stafftools_audit_log_path(view.rate_limit_audit_log_link_arguments) %>).
        <% else %>
          <%= user.login %> has never reached the rate limit.
        <% end %>
      </p>
      <p>
      <%= form_tag toggle_rate_limit_whitelisted_stafftools_user_path, class: "inline-form" do %>
          <button type="submit" class="btn" value="permanently">
            <%= view.whitelist_button_text %>
          </button>
        <% end %>
        <% if view.display_temporary_whitelist_button? %>
          <%= form_tag temporary_rate_limit_whitelist_stafftools_user_path, class: "inline-form" do %>
            <button type="submit" class="btn" value="temporary">
              <%= view.temporary_whitelist_button_text %>
            </button>
          <% end %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>


<% if porter_admin_url = view.porter_admin_url %>
  <div class="boxed-group">
    <h3>Importer</h3>
    <div class="boxed-group-inner">
      <p>
        Visit <a href="<%= porter_admin_url %>">Porter’s stafftools</a>
        to see details about imports started by this user.
      </p>
    </div>
  </div>
<% end %>

<% if GitHub.git_lfs_config_enabled? %>
  <div class="boxed-group">
    <h3>Git LFS</h3>
    <div class="boxed-group-inner">
      <% if user.git_lfs_enabled? %>
        <%= form_tag preview_lfs_stafftools_user_path(user), method: :delete do %>
          <button type="submit" class="btn boxed-action">Disable</button>
        <% end %>
      <% else %>
        <%= form_tag preview_lfs_stafftools_user_path(user) do %>
          <button type="submit" class="btn boxed-action">
            Enable
          </button>
        <% end %>
      <% end %>
      <h4>Toggle Git LFS access</h4>
      <p>
        <%= user.git_lfs_enabled? ? :Disable : :Enable %>
        Git LFS for all of this
        <%= user.organization? ? "organization’s" : "user’s" %>
        repositories.
      </p>
    </div>
  </div>
<% end %>

<% if user.site_admin? %>
  <div class="boxed-group">
    <h3>Git operator mode</h3>
    <div class="boxed-group-inner">
        <%= form_tag toggle_operator_mode_stafftools_user_path(user) do %>
          <button type="submit" class="btn boxed-action"><%= user.operator_mode_enabled? ? :Disable : :Enable %></button>
        <% end %>
        <h4>Toggle Git operator mode</h4>
      <p>
        <%= user.operator_mode_enabled? ? :Disable : :Enable %>
        Git operator mode for this user. This gives a much more verbose <br>
        output and is useful for debugging Git issues.
      </p>
    </div>
  </div>
<% end %>

<% if GitHub.can_disable_git_ssh_access? %>
  <div class="boxed-group">
    <h3>Git SSH access</h3>
    <div class="boxed-group-inner clearfix">
      <h4>Git SSH Access</h4>
      <% if user.ssh_writable? %>
        <p>
          Enable or disable Git SSH access for all of this
          <%= user.organization? ? "organization’s" : "user’s" %>
          repositories.

          <% if user.ssh_inherited? %>
            <br>
            The current value is inherited from <strong><%= view.setting_source_detail_text(user.ssh_source) %></strong>.
          <% end %>
        </p>
        <%= form_tag change_ssh_access_stafftools_user_path do %>
          <details class="select-menu disable-ssh details-reset details-overlay">
            <summary class="btn btn-sm select-menu-button">
              <%= octicon('key') %>
              <span data-menu-button><%= user.ssh_enabled? ? "Enabled" : "Disabled"  %></span>
            </summary>

            <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
              <div class="select-menu-header">
                <span class="select-menu-title">Git SSH Access</span>
              </div>

              <div class="select-menu-list">
                <% view.ssh_choices.each do |label, value| %>
                  <button type="submit" class="select-menu-item width-full" role="menuitemradio" name="value" value="<%= value %>" aria-selected="<%= user.ssh_enabled?.to_s == value %>">
                    <%= octicon('check', class: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>
          <div class="disable-ssh-policy-buttons">
            <%= check_box_tag :ssh_local_policy, "policy", view.ssh_local_policy? %>
            <%= label_tag :ssh_local_policy, 'Enforce on all repositories' %>
          </div>
        <% end %>
      <% else %>
        <p>
          Git SSH access is currently <strong><%= user.ssh_enabled? ? "enabled" : "disabled" %></strong>.
          This is a policy set at <strong><%= view.setting_source_detail_text(user.ssh_source) %></strong> and cannot be changed here.
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% unless GitHub.enterprise? || user.user? %>
  <div class="boxed-group">
    <h3>EU Standard Contractual Clauses</h3>
    <div class="boxed-group-inner">
      <%= form_tag toggle_standard_contractual_clauses_stafftools_user_path, method: "post" do %>
        <% if user.standard_contractual_clauses? %>
          <button type="submit" class="btn boxed-action">Remove</button>
        <% else %>
          <button type="submit" class="btn boxed-action">Add</button>
        <% end %>
      <% end %>
      <p>
        Standard Contractual Clauses <% unless user.standard_contractual_clauses? %><strong>do not</strong> <% end %> apply to this organization.
      </p>
    </div>
  </div>
<% end %>

<% if GitHub.actions_enabled? %>
  <div class="boxed-group">
    <h3>Action Invocation</h3>
    <div class="boxed-group-inner">
      <% if user.action_invocation_blocked? %>
        <%= form_tag action_invocation_stafftools_user_path(user) do %>
          <button type="submit" class="btn boxed-action">Unblock</button>
        <% end %>
      <% else %>
        <%= form_tag action_invocation_stafftools_user_path(user), method: :delete do %>
          <button type="submit" class="btn boxed-action">Block</button>
        <% end %>
      <% end %>

      <p>Action invocation for this user is <strong><%= user.action_invocation_blocked? ? "blocked" : "not blocked" %></strong>.</p>
    </div>
  </div>
<% end %>


<div class="boxed-group">
    <h3>Legal Hold</h3>
    <div class="boxed-group-inner">
  <%= form_tag toggle_legal_hold_stafftools_user_path(user), method: :post do |f| %>
      <button type="submit" class="btn boxed-action">
    <%= view.legal_hold_action_text %>
      </button>
        <% end %>
  <h4>Toggle Legal Hold</h4>
  <p>
          A legal hold means that no repositories owned by this user or organization will be
    purged after deletion.
  </p>
    </div>
</div>

<% if user.organization? &&  user.insights_enabled? && GitHub.eventer_enabled? %>
  <div class="boxed-group">
    <h3>Schedule Backfill of Org Insights data</h3>
    <div class="boxed-group-inner container-md clearfix">
      <div class="col-4 float-right">
        <%= form_tag(backfill_org_insights_stafftools_user_path(user), method: :post) do %>
          <%= label_tag(:metric_name, "Metric to backfill") %>
          <%= select_tag(:metric_name, options_for_select(dropdown_metrics, "all")) %>
          <%= submit_tag("Backfill", class: "btn mt-2") %>
        <% end %>
      </div>
      <p class="col-7 float-left">
      Use this button to reset the insights data, for all metrics, or your chosen metric, on this business org.
      This will affect the graphs shown in insights tab for this business organization.
      </p>
    </div>
  </div>
<% end %>

<% if GitHub.interaction_limits_enabled? && graphql_account.is_a?(PlatformTypes::Organization) %>
  <div class="boxed-group" id="interaction-limits">
    <h3>Temporary interaction limits</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        Temporarily restrict which users can interact with all of this organization's public repositories (comment, open issues, or create pull requests) for a <strong>1 week</strong> period. This may be used to force a "cool-down" period during heated discussions.
      </p>
      <%= render partial: "stafftools/users/interaction_settings", locals: { organization: graphql_account } %>
    </div>
  </div>
<% end %>


<% if user.organization? && user.token_scanning_stafftools_available? %>
  <div class="boxed-group">
    <h3>Data Services</h3>
    <div class="boxed-group-inner">
      <%= form_tag start_org_token_scan_backfill_stafftools_user_path(user), method: :post do |f| %>
        <button type="submit" class="btn boxed-action">
            Start backfill scan
        </button>
      <% end %>

      <%= form_tag clear_org_token_scan_backfill_stafftools_user_path(user), method: :post do |f| %>
        <button type="submit" class="btn boxed-action">
            Clear backfill scan results
        </button>
      <% end %>

    <h4>Start or clear back-fill secret scans</h4>
    <p>Starts secret scans on all eligible private repos in the organization. This mechanism will move from stafftools to organization admin UI, based on sign ups for advanced security services.</p>
    <p>Clear mechanism allows for removing previous scan results, allowing for re-run of scans for test purposes. </p>
    </div>
  </div>
<% end %>
