<% page_info title: "#{user} - billing managers" %>

<div class="boxed-group <%= "flush" if billing_managers.any? %>">
  <h3>
    <%= link_to "Billing /", billing_stafftools_user_path(user),
          "data-pjax": true, class: "boxed-group-breadcrumb" %>
    Billing Managers
  </h3>
  <div class="boxed-group-inner">
    <% if billing_managers.any? %>
      <ul class="member-listing table-list adminable">
        <% billing_managers.each do |user| %>
          <li class="table-list-item member-list-item">
            <div class="table-list-cell stafftools-member-info">
              <%= link_to stafftools_user_path(user) do %>
                <%= avatar_for user, 48, class: "avatar member-list-avatar" %>
              <% end %>
              <div class="stafftools-member-info-content">
                <strong><%= link_to user.to_s, stafftools_user_path(user), class: "member-username" %></strong>
                <% unless user.profile_name.blank? %>
                  <span class="member-fullname"><%= user.profile_name %></span><br>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <% if billing_managers.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate billing_managers %>
        </div>
      <% end %>
    <% else %>
      <p>No billing managers</p>
    <% end %>
  </div>
</div>
