<% page_info :title => "#{this_user.login} - collaborating repositories" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Collaborating repositories
    </h2>
  </div>

  <% if repos.any? || invites.any? %>
    <table class="site-admin-table">
      <% invites.each do |invite| %>
        <% repo = invite.repository %>
        <tr>
          <td class="repo-name">
            <%= octicon(repo.repo_type_icon) %>
            <%= link_to gh_stafftools_repository_path(repo) do %>
              <%= repo.name_with_owner %>
              <%= "(DELETED)" unless repo.active? %>
            <% end %>
          </td>
          <td>
            <% if repo.fork? %>
              <% if repo.parent.nil? %>
                Fork parent missing
              <% else %>
                Forked from <%= repo.parent.name_with_owner %>
              <% end %>
            <% end %>
          </td>
          <td class="right-align">
            pending invite
          </td>
        </tr>
      <% end %>
      <% repos.each do |repo| %>
        <tr>
          <td>
            <%= octicon(repo.repo_type_icon) %>
            <%= link_to gh_stafftools_repository_path(repo) do %>
              <%= repo.name_with_owner %>
              <%= "(DELETED)" unless repo.active? %>
            <% end %>
          </td>
          <td>
            <% if repo.fork? %>
              <% if repo.parent.nil? %>
                Fork parent missing
              <% else %>
                Forked from <%= repo.parent.name_with_owner %>
              <% end %>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate repos %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      This user is not collaborating on any repositories.
    </p>
  <% end %>
</div>
