<% page_info title: view.page_title %>

<div class="boxed-group">
  <h3>Current DMCA Disabled Repos</h3>
  <% if view.repos? %>
    <div class="boxed-group-inner seamless">
      <table class="boxed-group-table">
        <thead>
          <tr>
            <th>Repo</th>
            <th>Disabled at</th>
            <th>Created at</th>
          </tr>
        </thead>
        <tbody>
          <% view.repos.each do |repo| %>
            <tr>
              <td>
                <%= octicon(view.span_symbol(repo)) %>
                <a href="<%= gh_stafftools_repository_path repo %>" class="stafftools-repository"><%= repo.name_with_owner %></a>
              </td>
              <td><%= date_with_time_tooltip repo.disabled_at %></td>
              <td><%= date_with_time_tooltip repo.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="boxed-group-inner">
      <p><%= view.no_repos_message %></p>
    </div>
  <% end %>
</div>

<div class="paginate-container">
  <%= will_paginate view.repos, :param_name => :repo_page %>
</div>


<div class="boxed-group">
  <h3>DMCA Audit Logs</h3>
  <div class="boxed-group-inner">
    <% if view.has_takedowns? %>
      <p>
        Earliest takedown: <%= date_with_time_tooltip view.first_takedown_date %> on <%= view.first_takedown_nwo %>
      </p>
    <% else %>
      <p>
        No takedowns found in the audit log
      </p>
    <% end %>
    <p>
      Takedown events: <%= Stafftools::DisabledRepositories.dmca_takedowns(view.user).size %>
      <%= link_to "(search)", stafftools_audit_log_path(query: view.takedown_query) %>
    </p>
    <p>
      Restore events: <%= Stafftools::DisabledRepositories.dmca_restores(view.user).size %>
      <%= link_to "(search)", stafftools_audit_log_path(query: view.restore_query) %>
    </p>
    <p>
    <%= link_to "Search for all takedown and restore events", stafftools_audit_log_path(query: view.all_events_query) %>
    </p>
  </div>
</div>
