<%
  audit_log_query = "data.organization_domain_id:#{domain.id} action:organization_domain.* OR action:staff.*verify_domain"
  host_name_found = domain.host_name_found?
  verification_token_found = domain.verification_token_found?
%>

<div class="d-flex flex-justify-between flex-items-center">
  <div>
    <span class="text-bold"><%= domain.domain %></span>
    <% if domain.verified? %>
      <%= render Primer::LabelComponent.new(mx: 1, scheme: :green, title: "Label: Verified") do %>
        Verified
      <% end %>
    <% elsif domain.verification_token %>
      <%= render Primer::LabelComponent.new(mx: 1, scheme: :yellow, title: "Label: Pending verification") do %>
        Pending verification
      <% end %>
    <% else %>
      <%= render Primer::LabelComponent.new(mx: 1, scheme: :gray, title: "Label: Unverified") do %>
        Unverified
      <% end %>
    <% end %>

    <%= link_to "View audit log", stafftools_audit_log_path(query: audit_log_query) %>
  </div>
  <% if domain.verified? %>
    <% if domain.required_for_policy_enforcement? %>
      <%= render layout: "shared/details_dialog", locals: {
          button_class: "btn btn-sm",
          button_text: "Unverify",
          title: "Confirm unverifying #{domain.domain}" } do %>
        <%= render partial: "stafftools/users/domain_unverify_confirmation", locals: { domain: domain } %>
      <% end %>
    <% else %>
      <%= button_to "Unverify", unverify_stafftools_user_domain_path(domain.organization.login, domain.global_relay_id), method: "put", class: "btn btn-sm", 'data-confirm': "Are you sure you want to unverify this domain?" %>
    <% end %>
  <% else %>
    <%= button_to "Verify", verify_stafftools_user_domain_path(domain.organization.login, domain.global_relay_id), method: "put", class: "btn btn-sm", disabled: !host_name_found || !verification_token_found %>
  <% end %>
</div>
<% unless domain.verified? %>
  <ul class="list-style-none mt-1">
    <li class="mb-1">
      <% if verification_token_found && host_name_found %>
        <span class="text-green">Hostname and code are both <strong>valid</strong> and can be safely verified.</span>
      <% elsif host_name_found && !verification_token_found %>
        <span class="text-red"><strong>Invalid verification code</strong>: the expected code can't be found in the TXT record.</span>
      <% else %>
        <span class="text-red"><strong>Invalid hostname</strong>: the DNS may not be properly configured.</span>
      <% end %>
    </li>
    <li>
      <% if host_name_found %>
        <%= octicon("check", class: "text-green") %>
      <% else %>
        <%= octicon("x", class: "text-red") %>
      <% end %>
      <strong>Hostname:</strong>
      <span class="text-mono text-small"><%= domain.dns_host_name %></span>
    </li>
    <li>
      <% if !host_name_found %>
        <%= octicon("primitive-dot", class: "color-yellow-7", width: 12, height: 16) %>
      <% elsif verification_token_found %>
        <%= octicon("check", class: "text-green") %>
      <% else %>
        <%= octicon("x", class: "text-red") %>
      <% end %>
      <strong>Verification code:</strong>
      <% if domain.verification_token %>
        <span class="text-mono text-small"><%= domain.verification_token %></span>
      <% else %>
        <span class="text-small">The verification token expired or was revoked by a staff member.</span>
      <% end %>
    </li>
  </ul>
<% end %>
