<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <% if users.any? %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Suspend all",
        button_class: "btn btn-sm btn-danger",
        details_class: "boxed-group-action",
        title: "Suspend all dormant users"
      } do %>
        <div class="flash flash-full flash-warn">
          <strong>
            There is no way to unsuspend these users in bulk after performing this operation.
          </strong>
        </div>
        <div class="Box-body">
          This will suspend all users who have no registered activity for the
          last <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>.
          Suspended users cannot sign in to the installation
          nor perform any Git operations on it. Their repository data will
          remain available. All seats these users were consuming will become
          available again once these users are suspended.
        </div>
        <div class="Box-footer">
          <%= form_tag suspend_dormant_stafftools_users_path do %>
            <button type="submit" class="btn btn-block btn-danger">
              Suspend
            </button>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <h3>
      <%= view.title %>
    </h3>
    <div class="boxed-group-inner">
      <p>
        Users are considered dormant if they’ve existed for longer than
        <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>,
        haven’t used any personal access tokens or SSH keys within the last
        <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>
        and haven’t generated any activity within the last
        <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>
        and are not site admins.
        Activity is defined as commenting on issues or pull requests,
        creating issues / pull requests / repositories, making any commits on
        any repositories, or owning any repositories that have been pushed to
        recently.
      </p>
      <% if users.empty? %>
        <p>No accounts found.</p>
      <% else %>

        <hr class="full-bleed">

        <ul class="boxed-group-list standalone">
          <% users.each do |user| %>
            <li>
              <span class="float-right">
                <strong>Last active:</strong>
                <%= user.last_active %>
              </span>

              <%= avatar_for user, 20 %>
              <%= link_to user.to_s, stafftools_user_path(user) %>
              <% unless user.profile_name.blank? %>
                <span class='description'>
                  &ndash; <%= user.profile_name %>
                </span>
              <% end %>

            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="paginate-container">
    <%= will_paginate users, params: {last_ip: params[:last_ip]} %>
  </div>
<% end %>
