<% page_info title: "Admin - Invite" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Invite user</h3>
    <div class="boxed-group-inner">
      <% if enterprise_license.reached_seat_limit? %>
        <p>
          You have reached your license limit for seats.
          Please upgrade your license to invite more users.
        </p>
      <% else %>
        <div>
          <% if GitHub.smtp_enabled? %>
            <p>
              Create a new user and send them an e-mail to set their password.
            </p>
          <% else %>
            <p class="flash flash-warn">
              <% if GitHub.private_instance? %>
                To send an invitation via e-mail, SMTP must be configured on your instance.
                Please
                <%= link_to "contact the GitHub Private Instance support team", GitHub.private_instance_support_request_url %>.
                for help.
              <% else %>
                To send an invitation via e-mail, SMTP must be configured from the
                <%= link_to "Management Console", "/setup" %>.
              <% end %>
            </p>
            <p>
              Generate a password reset link. This link must be manually sent to
              the new user.
            </p>
          <% end %>
          <%
            email_error = nil
            if new_user && new_user.errors && new_user.errors[:emails].any?
              email_error = "Email is invalid or already taken"
            end
          %>
          <%= form_for new_user, url: invite_stafftools_users_path, method: :post do |f| %>
          <dl class="form-group">
            <auto-check src="<%= username_check_path %>">
              <%= f.text_group "Username", :login, { error: error_for(new_user, :login) } %>
              <%= csrf_hidden_input_for username_check_path %>
            </auto-check>
            <auto-check src="<%= email_check_path %>">
              <%= f.text_group "Email", :email, { error: email_error } %>
              <%= csrf_hidden_input_for email_check_path %>
            </auto-check>

            <button type="submit" class="btn first-in-line">
              <% if GitHub.smtp_enabled? %>
                Send an e-mail invitation
              <% else %>
                Generate a password reset link
              <% end %>
            </button>
          </dl>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
