<% view = Stafftools::User::AbilitiesView.new(user: this_user) %>

<% page_info title: view.page_title %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>Unlock user site admin page<% end %>
<% end %>
<div class="flash flash-warn mb-3">Caution - this user is a staff member</div>
<%= render partial: "stafftools/users/hubber_prompt_form", locals: { this_user: this_user } %>
