<%# erblint:counter TooltipCounter 2 %>
<%# erblint:disable LinkHasHref %>
<%# `view` is an instance of Stafftools::User::ShowView %>
<% page_info title: view.page_title %>
<% user = view.user %>
<% if error_states[:spammy] %>
  <div class="flash flash-error">
    <%= octicon("stop") %>
    <%= link_to "This account is flagged as spam", Spam.url_for_account_id(user.id) %>
    <% if spam_flag_timestamp %>
      &ndash; <%= time_ago_in_words spam_flag_timestamp %> ago
    <% end %>
    <div class="small-spam-reason"><%= autolink_spammy_reason(this_user.spammy_reason) %></div>
  </div>
<% end %>

<% if error_states[:suspended] %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    This account has been suspended
  </div>
<% end %>

<% if error_states[:org_transform] %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    This account is currently being converted into an organization
  </div>
<% end %>

<% if error_states[:no_primary_email] %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    No primary email address
  </div>
<% end %>

<% if error_states[:no_verified_email] %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    No verified email addresses
  </div>
<% end %>

<% if error_states[:unverified_keys] %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    This account's SSH keys have not been verified by the user
  </div>
<% end %>

<% if user.organization? && user.deleted? %>
  <div class="flash flash-error">
    <%= octicon("alert") %>
    This organization is queued for deletion
  </div>
  <br>
<% end %>

<% if user.deceased? %>
  <div class="flash flash-warn">
    This user is deceased
  </div>
<% end %>

<% if view.show_user_notes? %>
  <div class="flash flash-warn">
    <ul class="status-check-list simple">
      <%= view.staff_note_dormancy %>
      <%= view.dupe_login %>
      <%= view.dupe_email %>
      <%= view.no_primary_email %>
      <%= view.disabled_repos %>
      <%= view.blacklisted_login %>
    </ul>
  </div>
<% end %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= view.account_type_title %> information
    <% if view.show_dormant_indicator? %>
      <span class="Subhead-actions f6">
        <% if user.dormant? %>
          <%= octicon("primitive-dot", class: "text-red") %>
        <% else %>
          <%= octicon("primitive-dot", class: "text-green") %>
        <% end %>
        <%= view.dormant_title %>
      </span>
    <% end %>
  <% end %>
<% end %>

<table class="stafftools-table mb-6">
  <tr>
    <th>Created</th>
    <td><%= view.created_at %></td>
  </tr>
  <tr>
    <th>Last active</th>
    <td><%= user.last_active %> &ndash;
        <%= link_to "Check active status", activity_stafftools_user_path(user) %>
    </td>
  </tr>
  <tr>
    <th>Public profile</th>
    <td><%= link_to "View profile", user_url_to_main_site(user) %></td>
  </tr>
  <% unless user.profile_name.blank? %>
    <tr>
      <th>Name</th>
      <td><%= user.profile_name %></td>
    </tr>
  <% end %>
  <% unless user.profile_email.blank? %>
    <tr>
      <th>Profile email</th>
      <td><%= user.profile_email %></td>
    </tr>
  <% end %>
  <% if user.organization? %>
    <tr>
      <th>Org dashboard</th>
      <td><%= link_to "View dashboard", organization_path(user) %></td>
    </tr>
    <% if GitHub.billing_enabled? %>
      <tr>
        <th>Company Name</th>
        <td><%= view.company_name %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <th>Gists</th>
      <td><%= link_to "View gists", user_gists_url(user) %></td>
    </tr>
  <% end %>
  <% if GitHub.storage_cluster_enabled? %>
    <tr>
      <th>Disk use</th>
      <td><%= view.total_disk_usage %></td>
    </tr>
    <tr>
      <th>&nbsp; Git</th>
      <td>&nbsp; <%= view.git_disk_usage %></td>
    </tr>
    <tr>
      <th>&nbsp; Avatars</th>
      <td>&nbsp; <%= view.avatar_disk_usage %></td>
    </tr>
    <tr>
      <th>&nbsp; Issue image uploads</th>
      <td>&nbsp; <%= view.user_asset_disk_usage %></td>
    </tr>
  <% else %>
    <tr>
      <th>Disk use</th>
      <td><%= view.git_disk_usage %></td>
    </tr>
  <% end %>
  <% unless user.organization? %>
  <tr>
    <th>Using GitHub Mac</th>
    <td>
      <% if user.mac_app_enabled? %>
        <%= octicon("check", class: "success") %>
      <% else %>
        <%= octicon("x", class: "error") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Using GitHub Win</th>
    <td>
      <% if user.windows_app_enabled? %>
        <%= octicon("check", class: "success") %>
      <% else %>
        <%= octicon("x", class: "error") %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Using GitHub Desktop</th>
    <td>
      <% if user.desktop_app_enabled? %>
        <%= octicon("check", class: "success") %>
      <% else %>
        <%= octicon("x", class: "error") %>
      <% end %>
    </td>
  </tr>
<% end %>
<% unless GitHub.enterprise? %>
  <tr>
    <th>Exceptions</th>
    <td><a href="<%= view.sentry_link %>">Search Sentry</a></td>
  </tr>
  <tr>
    <th>Halp</th>
    <td>
      <%= link_to "Search by username", view.halp_user_url %> &ndash;
      <% unless user.organization? %>
        <%= link_to "by email", view.halp_email_url %> &ndash;
        <%= link_to "Start a discussion", view.halp_user_new_discussion_url,
          target: "_blank" %>
      <% end %>
    </td>
  </tr>
    <tr>
      <th>Zendesk</th>
      <td>
        <%= link_to "Search by username", view.zendesk_user_url %> &ndash;
        <% unless user.organization? %>
          <%= link_to "by email", view.zendesk_email_url %> &ndash;
        <% end %>
      </td>
    </tr>
  <tr>
    <th>Education</th>
    <td><%= link_to "Search in education admin", view.education_app_user_url, target: "_blank" %></td>
  </tr>
  <tr>
    <th>Vertical</th>
    <td><%= view.vertical.to_s.humanize %></td>
  </tr>
  <tr>
    <th>Pre-release?</th>
    <td>
      <% if view.prerelease_agreement? %>
        Yes &ndash; agreement signed
        <% if this_user.organization? && view.prerelease_agreement.actor.present? %>
          by
          <%= link_to \
                view.prerelease_agreement.actor,
                stafftools_user_path(view.prerelease_agreement.actor)
          %>
        <% end %>
        on <%= view.prerelease_agreement.created_at.to_date %>
        &ndash;
        <small>
          <%= link_to \
                "view agreement changelog",
                "https://github.com/github/help-docs/commits/master/content/dotcom/articles/github-pre-release-program.md"
          %>
        </small>
      <% else %>
        No
      <% end %>
    </td>
  </tr>
  <tr>
    <th>GDP Member?</th>
    <td><%= view.developer_program_member %></td>
  </tr>
  <tr>
    <th>Git LFS?</th>
    <td>
      <% if user.git_lfs_enabled? %>
        Yes
      <% else %>
        No
      <% end %>
      &ndash;
      <%= link_to "Manage", stafftools_user_large_file_storage_path(user) %>
    </td>
  </tr>
  <tr>
    <th>Actions &amp; Packages</th>
    <td>
      Yes
      &ndash;
      <%= link_to "Manage", stafftools_user_actions_packages_usage_path(user) %>
    </td>
  </tr>
  <tr>
    <th>Action Invocation?</th>
    <td>
      <% if user.action_invocation_blocked? %>
        No
      <% else %>
        Yes
      <% end %>
    </td>
  </tr>
<% end %>
<%= render partial: "stafftools/enabled_features", locals: { view: view, actor: user } %>
</table>

<% unless user.organization? %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2, danger: true) do %>Activity feed<% end %>
    <% component.slot(:actions) do %>
      <% if stafftools_action_authorized?(action: :clear_public_activity) %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Clear public activity",
            button_class: "btn btn-danger",
            title: "Clear public activity feed?",
        } do %>
          <div class="Box-body overflow-auto">
            <p>
              This will clear <strong>public</strong> events from <%= user %>’s feed completely.
              There’s no going back. Are you sure you want to do this?
            </p>
          </div>
          <div class="Box-footer">
            <%= form_tag clear_public_activity_stafftools_user_path(user),
              method: :delete do %>
              <button type="submit" class="btn btn-block btn-danger">Clear public activity</button>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <a
          class="btn btn-danger boxed-action disabled tooltipped tooltipped-nw" aria-label="<%= stafftools_not_authorized_text %>">
          Clear public activity
        </a>
      <% end %>
      <% if stafftools_action_authorized?(action: :clear_all_activity) %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Clear all activity",
            button_class: "btn btn-danger",
            title: "Clear activity feed?",
        } do %>
          <div class="Box-body overflow-auto">
            <p>
              This will clear <strong>public and private</strong> events from <%= user %>’s feed completely.
              There’s no going back. Are you sure you want to do this?
            </p>
          </div>
          <div class="Box-footer">
            <%= form_tag clear_all_activity_stafftools_user_path(user),
              method: :delete do %>
              <button type="submit" class="btn btn-block btn-danger">Clear all activity</button>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <a
          class="btn btn-danger disabled tooltipped tooltipped-nw" aria-label="<%= stafftools_not_authorized_text %>">
          Clear all activity
        </a>
      <% end %>
    <% end %>
  <% end %>

  <% if stafftools_action_authorized?(action: :clear_all_activity) || stafftools_action_authorized?(action: :clear_public_activity) %>
    <% if view.clear_log_disabled? %>
      <p class="mb-6">
        This user has no activity.
      </p>
    <% end %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
<% end %>

<% if this_user.organization? %>
<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>Organization member privileges<% end %>
<% end %>

<table class="mb-6 stafftools-table">
  <tr>
    <th>Repository creation</th>
    <td>
      <% if this_user.members_can_create_public_repositories? %>
        Public and private - Members of this organization are allowed to create public and private repositories.
      <% elsif this_user.members_can_create_repositories? %>
        Private — Members of this organization can only create private repositories.
      <% else %>
        Off — Only owners of this organization can create repositories.
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Default repository permission</th>
    <td>
      <%= view.default_repository_permission %>
    </td>
  </tr>
  <tr>
    <th>Allow private repository forking</th>
    <td>
      <% if this_user.allow_private_repository_forking? %>
        On — This organization's private repositories can be forked by users with access.
      <% else %>
        Off - This organization's private repositories cannot be forked.
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<div class="js-details-container Details staffnotes">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Staff notes<% end %>
    <% component.slot(:actions) do %>
      <button class="Details-content--shown btn btn-sm js-details-target" aria-expanded="false" type="button">Add note</button>
    <% end %>
  <% end %>

  <div class="Details-content--hidden mb-3">
    <%= form_for view.new_note,
                url: add_note_stafftools_user_path(user),
                html: {method: :put, id: "new_note"} do |f| %>
      <dl class="form-group mt-0 mb-2">
        <dt><label for="staff_note_note">New Note</label></dt>
        <dd>
          <%= f.text_area "note", autofocus: "", class: "js-quick-submit",
            cols: 40, rows: 20, :'aria-label' => "staff note"
          %>
        </dd>
      </dl>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add note</button>
        <button type="submit" class="btn js-details-target" aria-expanded="true">Cancel</button>
      </div>
    <% end %>
  </div>
</div>

<div class="Box mb-6 js-details-container Details">
  <% if view.staff_notes? %>
    <% view.staff_notes.each_with_index do |note, i| %>
      <div class="Box-row <%= "Details-content--hidden" if i != 0 %>">
        <div class="mb-1">
          <%= avatar_for note.user, 20, class: "v-align-middle mr-1" %>
          <strong><%= note.user %></strong>
          <%= time_ago_in_words_js note.created_at %>
        </div>
        <div class="markdown-body">
          <%= note.body_html %>
        </div>
      </div>
    <% end %>
    <% if view.staff_notes.size > 1 %>
      <div class="Box-footer Details-content--shown">
        <button type="button" class="btn-link js-details-target notes-expander" aria-expanded="false">
          <%= view.staff_notes.size - 1 %> more
          <% if (view.staff_notes.size - 1) == 1 %>
            note
          <% else %>
            notes
          <% end %>
          for <%= this_user %>
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="Box-row">There are no staff notes on this account.</div>
  <% end %>
</div>

<% if !user.organization? %>
  <%= render_partial_view "stafftools/users/impersonation", Stafftools::User::ImpersonationView, user: view.user %>
<% end %>
