<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Public Repositories</h3>

  <%= render :partial => 'stafftools/users/repos',
             :locals => {:view => view} %>
</div>
