<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Rate limits</h3>
  <div class="boxed-group-inner">
    <table class="stafftools-table">
      <% view.columns.each do |column| %>
        <tr>
          <th><%= column.humanize %></th>
          <td class="tiny"><%= number_with_delimiter(view.value(column)) %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<%= form_tag reset_rate_limits_stafftools_user_path(view.user), :method => "post" do %>
  <button type="submit" class="btn boxed-action">Reset all</button>
<% end %>
