<% page_info title: view.page_title %>

<% if view.user.organization? -%>
  <div class="boxed-group">
    <h3>Plan Usage</h3>
    <div class="boxed-group-inner">
      <p>Private + Internal repositories <%= view.plan_usage %></p>
    </div>
  </div>
<% end -%>

<div class="boxed-group">
  <% if view.user.organization? -%>
    <h3>Private repositories</h3>
  <% else -%>
    <h3>Owned private repositories <%= view.plan_usage %></h3>
  <% end -%>

  <%= render partial: 'stafftools/users/repos',
             locals: { view: view } %>
</div>

<div class="boxed-group">
  <h3>Private forks</h3>

  <%= render partial: 'stafftools/users/repos',
             locals: { view: private_forks_view } %>
</div>
