<%# erblint:disable ProperTagNesting %>
<%graphql
  fragment RetiredNamespace on Query {
    repositoryOwner(login: $login) {
      login
      retiredNamespaces(first: $first, last: $last, before: $before, after: $after) {
        pageInfo {
          ...ApplicationHelper::CursorPaginate
        }
        nodes {
          name
          nameWithOwner
        }
      }
    }
  }
%>

<% data = Views::Stafftools::Users::RetiredNamespaces::RetiredNamespace.new(data) %>

<% page_info :title => "#{data.repository_owner.login} - Retired namespaces" %>

<div class="boxed-group">
  <h3>Retired namespaces</h3>

  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone">
      <% if data.repository_owner.retired_namespaces.nodes.empty? %>
        <div class="text-center">No retired namespaces</div>
      <% else %>
        <% data.repository_owner.retired_namespaces.nodes.each do |namespace| %>
          <li>
            <%= namespace.name_with_owner %>
            <%= form_tag unretire_namespace_stafftools_user_path(user, name: namespace.name),
                         class: "inline-form float-right" do %>
              <%= submit_tag "Unretire", class: "btn btn-sm" %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<%= form_for "retire_namespace", url: retire_namespace_stafftools_user_path(user) do |f| %>
  <%= text_field_tag "name", nil, placeholder: "Repo name to retire", "aria-label": "User to block" %>
  <%= f.submit "Retire", class: "btn btn-sm" %>
<% end %>

<div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
  <%= cursor_paginate(data.repository_owner.retired_namespaces.page_info, previous_label: "Previous Page", next_label: "Next Page") %>
</div>
