<% page_info title: view.page_title %>

<div class="boxed-group">
  <h3>Actions</h3>
  <div class="boxed-group-inner">
    <% if stafftools_action_authorized?(action: :reindex) %>
      <%= form_tag reindex_stafftools_user_path do %>
        <button type="submit" class="btn boxed-action" class="disabled" >Reindex user</button>
      <% end %>
      <h4>Reindex</h4>
      <p>Recalculate user's primary language, and reindex user for global search.</p>
    <% else %>
      <h4>Reindex</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Search record</h3>
  <div class="boxed-group-inner">
    <% if view.search_record_exists? %>
      <ul class="boxed-group-list standalone">
        <% view.each_entry do |k, v| %>
          <li>
            <strong><%= k %></strong>
            <%= v %>
          </li>
        <% end %>
      </ul>
    <% elsif GitHub.elasticsearch_access_ignored? %>
      <p>Search is currently unavailable.</p>
    <% else %>
      <p>No search record.</p>
    <% end %>
  </div>
</div>
