<%# erblint:disable ProperTagNesting %>
<% page_info title: view.page_title %>

<div class="boxed-group">
  <h3>Audit log</h3>
  <div class="boxed-group-inner">
    <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <h4>Search audit log</h4>
      <p>
        <%= link_to "Search logs",
          stafftools_audit_log_path(query: view.audit_query) %>
          for actions involving <strong>@<%= view.user %></strong>.
      </p>

      <% if view.show_legacy_log? %>
        <hr class="bleed-flush">

        <h4>Legacy log</h4>
        <p>
          View this account’s
          <%= link_to "legacy activity log", log_stafftools_user_path %>.
          This log contains events that occured before the current audit log
          system was implemented.
        </p>
      <% end %>
    <% else %>
    <h4>Search audit log</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  </div>
</div>

<% unless view.user.organization? %>
  <% if GitHub.auth.two_factor_authentication_enabled? %>
    <div class="boxed-group">
      <h3>Two-factor authentication</h3>
      <div class="boxed-group-inner clearfix">
        <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :sms_log) %>
          <ul class="status-check-list">
            <%= view.two_factor_status %>
            <%= view.two_factor_recovery_status %>
            <%= view.two_factor_fallback_status %>
          </ul>

          <div class="summary">
            <dl>
              <dt>2FA mode</dt>
              <dd><%= view.two_factor_type %></dd>
            </dl>
            <% if view.show_two_factor_sms_numbers? %>
              <% if view.two_factor_sms? %>
                <dl>
                  <dt>2FA primary number</dt>
                  <dd>
                    <%= view.user.two_factor_credential.sms_number %>
                    <%= stafftools_button_to "Test", send_test_sms_stafftools_user_two_factor_credential_path(view.user),
                            method: :put,
                            class: "btn-link",
                            form_class: "inline-form" %>
                    |
                    <a href="<%= sms_log_stafftools_user_two_factor_credential_path(view.user) %>">
                      Log
                    </a>
                  </dd>
                </dl>
              <% end %>
              <dl>
                <dt>2FA fallback number</dt>
                <dd>
                  <%= view.fallback_number %>
                  <% if view.fallback_number? %>
                    <%= stafftools_button_to "Test", send_test_sms_stafftools_user_two_factor_credential_path(view.user, backup: 1),
                            method: :put,
                            class: "btn-link",
                            form_class: "inline-form" %>
                    |
                    <a href="<%= sms_log_stafftools_user_two_factor_credential_path(view.user, backup: 1) %>">
                      Log
                    </a>
                  <% end %>
                </dd>
              </dl>
              <dl>
                <dt>SMS provider</dt>
                <dd>
                  <% if view.sms_provider_set? %>
                    <%= view.sms_provider.humanize %>
                  <% else %>
                    Not set. <%= view.sms_provider.humanize %> will be used
                    by default.
                  <% end%>
                </dd>
              </dl>
            <% end %>
            <dl>
              <dt>Security keys</dt>
              <dd>
                <% if view.security_keys.any? %>
                  <% view.security_keys.each do |key| %>
                    <strong><%= key.nickname %></strong> &mdash; registered
                    <%= time_ago_in_words_js key.created_at %>
                    <br>
                  <% end %>
                <% else %>
                  none
                <% end %>
              </dd>
            </dl>
          </div>

          <hr class="bleed-flush">

          <% if view.show_two_factor_sms_numbers? %>
            <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :change_sms_provider) %>
              <%= form_tag change_sms_provider_stafftools_user_two_factor_credential_path(view.user), method: :post do %>
                <button class="btn boxed-action" type="submit">
                  Switch to <%= view.other_sms_provider.humanize %>
                </button>
                <input type="hidden" name="provider" value="<%= view.other_sms_provider %>"></input>
              <% end %>
              <h4>Switch SMS provider</h4>
              <p>
                SMS messages will be sent by <strong><%= view.sms_provider.humanize %></strong>
                for this user. If the user is experiencing deliverability issues,
                you can try switching their provider to <strong><%= view.other_sms_provider.humanize %></strong>
                instead.
              </p>
            <% else %>
              <h4>Switch SMS provider</h4>
              <p><%= stafftools_not_authorized_html %></p>
            <% end %>

            <hr class="bleed-flush">
          <% end %>

          <% if view.user.two_factor_authentication_enabled? %>
            <% unless GitHub.enterprise? %>
              <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :check_otp) %>
                <%= form_tag check_otp_stafftools_user_two_factor_credential_path(view.user), method: "put" do %>
                  <dl class="form-group">
                    <dt><label for="otp_code">Test 2FA token</label></dt>
                    <dd>
                      <input type="text" class="form-control short" name="otp_code" id="otp_code"
                            placeholder="123456" autocomplete="off">
                      <button type="submit" class="btn">Test code</button>
                    </dd>
                  </dl>
                <% end %>
              <% else %>
                <h4>Test 2FA token</h4>
                <p><%= stafftools_not_authorized_html %></p>
              <% end %>
              <hr class="bleed-flush">
            <% end %>

            <% if view.is_recovery_request_enabled? %>
              <% if view.current_2fa_recovery_request.present? %>
                <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :review_2fa_removal_request) %>
                  <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Approve",
                      button_class: "btn btn-danger js-two-factor-recovery-review-btn #{'disabled' unless view.recovery_request_ready_for_review?}",
                      details_class: "boxed-action",
                      title: "Approve two factor recovery request",
                    } do %>
                    <div class="flash flash-warn flash-full" id="two-factor-approval-warning">
                      <%= view.two_factor_recovery_request_actionable? ? "Please be sure you have reviewed the information provided by the requesting user." : "This request to restore access cannot be completed by the user. Please contact them to address the following issues." %>
                    </div>
                    <div class="flash flash-warn flash-full" id="two-factor-approval-email-warning" hidden>
                      <strong>You must select at least one email address.</strong>
                    </div>
                    <div class="Box-body overflow-auto">
                      <% if view.recovery_request_ready_for_review? %>
                        <% if view.last_admin_of_orgs.present? %>
                          <strong><%= view.user.login %></strong> is the last admin of the following organizations which require 2FA:
                          <% view.last_admin_of_orgs.each do |org| %>
                            <ul class="boxed-group-list">
                              <li><%= link_to org.login, stafftools_user_path(org.login) %></li>
                            </ul>
                          <% end %>
                        <% end %>
                        <% if view.businesses_with_2fa_req.present? %>
                          <%= view.user.login %> is an owner or billing manager of these enterprises which require 2FA:
                            <% view.businesses_with_2fa_req.each do |business| %>
                            <ul class="boxed-group-list">
                              <li><%= business.owner?(view.user) ? "Owner of" : "Billing manager for" %> <%= link_to business.name, stafftools_enterprise_path(business) %></li>
                            </ul>
                          <% end %>
                        <% end %>
                      <% else %>
                        This request is not ready for review. Please review any information the user has provided.
                      <% end %>

                      <%= form_tag approve_2fa_removal_request_stafftools_user_two_factor_credential_path(view.user), method: :post do %>
                        <input type="hidden" name="request_id" value="<%= view.current_2fa_recovery_request.id %>">
                        <% if view.show_two_factor_recovery_email_list? %>
                          <dl class="form-group" id="js-2fa-recovery-emails-list">
                            <dt><h4>Which emails would you like to send the approval to?</h4></dt>
                            <% view.two_factor_recovery_emails.each do |email| %>
                              <% verified = email.verified? %>
                              <dd class="mt-1 mb-2">
                                <input type="checkbox"
                                       name="emails[]"
                                       value="<%= email.email %>"
                                       id="<%= email.email %>"
                                       aria-checked="<%= verified %>">
                                <% if email.primary_role? || email.backup_role? %>
                                  <%= verified ? octicon("check", class: "text-green") : octicon("alert", class: "text-red") %>
                                <% else %>
                                  <%= verified ? octicon("question", class: "text-yellow") : octicon("alert", class: "text-red") %>
                                <% end %>
                                <label for="<%= email.email %>" ><%= email.email %><% if email.primary_role? %>, primary<% elsif email.backup_role? %>, backup<% end %>, <%= verified ? "verified" : "unverified" %></label>
                              </dd>
                            <% end %>
                          </dl>
                          <% if view.user.password_reset_with_primary_email_only? %>
                            <%= octicon "alert" %> <strong>User only allows password resets to their primary email.</strong>
                          <% elsif view.user.has_backup_email? %>
                            <%= octicon "alert" %> <strong>User only allows password resets to their <strong>primary and backup emails.</strong>
                          <% end %>
                          <hr>
                        <% end %>

                        <dl class="form-group">
                          <dt><label for="two_factor_recovery_approve_reason">Reason for approval</label></dt>
                          <dd>
                            <input class="form-control" type="text" name="two_factor_recovery_approve_reason" id="two_factor_recovery_approve_reason"
                            placeholder="Please provide an explanation for the audit log."
                            required
                            <%= "disabled" unless view.two_factor_recovery_request_actionable? %>
                            autofocus>
                          </dd>
                        </dl>
                        <button class="btn btn-block btn-danger" id="two-factor-approve-btn" type="submit" <%= "disabled" unless view.two_factor_recovery_request_actionable? %>>
                          Approve
                        </button>
                      <% end %>
                    </div>
                  <% end %>

                  <%= render layout: "shared/details_dialog", locals: {
                      button_text: "Decline",
                      button_class: "btn #{'disabled' if view.current_2fa_recovery_request.review_state == :reviewed_by_staff}",
                      details_class: "boxed-action",
                      title: "Decline two factor recovery request",
                    } do %>
                    <div class="flash flash-warn flash-full">
                      Please be sure you have reviewed the information provided by the requesting user.
                    </div>
                    <div class="Box-body overflow-auto">
                      <%= form_tag decline_2fa_removal_request_stafftools_user_two_factor_credential_path(view.user), method: :post do %>
                        <input type="hidden" name="request_id" value="<%= view.current_2fa_recovery_request.id %>">
                        <dl class="form-group">
                          <dt><label for="two_factor_recovery_decline_reason">Reason for declining</label></dt>
                          <dd>
                            <input class="form-control" type="text" name="two_factor_recovery_decline_reason" id="two_factor_recovery_decline_reason"
                            placeholder="Please provide an explanation for the audit log." required
                            autofocus>
                          </dd>
                        </dl>
                        <button class="btn btn-block btn-danger" type="submit" <%= "disabled" unless view.recovery_request_ready_for_review? %>>
                          Decline
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                  <h4>Review Account Recovery request</h4>
                  <% review_state = view.current_2fa_recovery_request.review_state %>
                  <% if review_state == :reviewed_by_staff %>
                    <p>
                      <% if view.current_2fa_recovery_request.approved_at.present? %>
                        Approved <%= time_ago_in_words view.current_2fa_recovery_request.approved_at %> ago by <%= view.current_2fa_recovery_request.reviewer.login %>
                      <% else %>
                        Declined <%= time_ago_in_words view.current_2fa_recovery_request.declined_at %> ago by <%= view.current_2fa_recovery_request.reviewer.login %>
                      <% end %>
                    </p>
                  <% elsif review_state == :ready_for_review %>
                    <p><%= view.user.login %> is requesting a review.</p>
                    <p><%= view.recovery_request_verified_details %> was verified by <%= view.user.login %></p>
                  <% elsif review_state == :evidence_missing %>
                    <p><%= view.current_2fa_recovery_request.secondary_evidence_method %> was provided by <%= view.user.login %> but has since been removed</p>
                  <% else %>
                    <p><%= view.user.login %> has not completed their recovery request.</p>
                  <% end %>
                <% else %>
                  <h4>Review 2FA Account Recovery Request</h4>
                  <p><%= stafftools_not_authorized_html %></p>
                <% end %>
                <hr class="bleed-flush">
              <% end %>
            <% end %>

            <h4>Disable two-factor authentication</h4>
            <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :destroy) %>
              <% if view.two_factor_auth_can_be_disabled? %>
                <a href="#2fa_disable_confirm" rel="facebox" class="btn btn-danger boxed-action">
                  Disable 2FA for <%= view.user %>
                </a>
                <p id="disable-2fa-message">
                  Be careful &mdash; this will completely disable 2FA for
                  <strong>@<%= view.user %></strong>.
                </p>
              <% else %>
                <button type="submit" class="btn btn-danger boxed-action" disabled>
                  Disable 2FA for <%= view.user %>
                </button>
                <p id="disable-2fa-message">
                  At least one organization or enterprise account
                  <strong>@<%= view.user %></strong> is affiliated with requires two-factor authentication.
                  To disable 2FA for this user, first remove them from any enterprise accounts or
                  <%= link_to "orgs that require two-factor authentication",
                    stafftools_user_organization_memberships_path(view.user) %>.
                </p>
              <% end %>
            <% else %>
              <p><%= stafftools_not_authorized_html %></p>
            <% end %>
          <% else %>
            <% if stafftools_action_authorized?(controller: Stafftools::TwoFactorCredentialsController, action: :destroy) %>
              <button type="submit" class="btn btn-danger boxed-action" disabled>
                Disable 2FA for <%= view.user %>
              </button>
              <p id="disable-2fa-message">
                Two-factor authentication isn’t enabled for <%= view.user %>.
              </p>
            <% else %>
              <p><%= stafftools_not_authorized_html %></p>
            <% end %>
          <% end %>

          <div id="2fa_disable_confirm" style="display:none">
            <h2 class="facebox-header" data-facebox-id="facebox-header">Disable 2FA</h2>
            <p data-facebox-id="facebox-description">2FA provides a much more secure experience for interacting with GitHub, and we strongly recommend it for every user. Disabling 2FA should only be done when absolutely necessary.</p>
            <%= form_tag stafftools_user_two_factor_credential_path(view.user), method: "delete" do %>
              <dl class="form-group">
                <dt><label for="reason">Reason for disabling</label></dt>
                <dd>
                  <input class="form-control" type="text" name="reason" id="reason"
                      placeholder="Please provide an explanation for the audit log."
                      autofocus>
                </dd>
              </dl>
              <div class="facebox-footer">
                <button type="submit" class="btn btn-danger btn-block">
                  Disable 2FA
                </button>
              </div>
            <% end %>
          </div>
        <% else %>
          <p><%= stafftools_not_authorized_html %></p> <%# this is the end of conditional set on line 37 %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

  <% if view.show_external_authentication_attributes? %>
    <div class="boxed-group">
      <h3><%= GitHub.auth.name %> authentication</h3>
      <div class="boxed-group-inner clearfix">
        <div class="summary">
          <% view.external_authentication_attributes.each do |name, value| %>
            <dl>
              <dt><%= name %></dt>
              <dd><%= value %></dd>
            </dl>
          <% end %>
        </div>
        <% if view.show_name_id_edit? %>
          <hr class="fullbleed">
          <%= render layout: "shared/details_dialog", locals: {
            button_class: "btn",
            "button_text": "Edit",
            "details_class": "boxed-action",
            title: "Edit NameID",
          } do %>
            <%= form_tag stafftools_user_saml_mapping_path(view.user), method: :patch do %>
              <div class="Box-body overflow-auto">
                <%= label_tag :name_id, "NameID", class: "mt-3" %>
                <%= text_field_tag :name_id, view.name_id, class: "form-control input-block mt-1 mb-1", autofocus: true %>
              </div>
              <div class="Box-footer">
                <button type="submit" class="btn btn-block">Update NameID</button>
              </div>
            <% end %>
          <% end %>
          <h4>Update SAML NameID</h4>
          <p>Update this user's NameID. This is useful if the NameID has changed in the external authentication provider and the user is no longer able to log into their GitHub Enterprise account.</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if GitHub.stafftools_sessions_enabled? %>
    <div class="boxed-group flush">
      <h3>Sessions</h3>
      <div class="boxed-group-inner">
        <% if view.sessions? %>
          <table class="stafftools-table">
            <% view.grouped_sessions.each do |group_name, sessions| %>
              <tr class="table-section-heading">
                <td colspan="3">
                  <%= group_name.to_s.titleize %> sessions
                </td>
              </tr>

              <% sessions.each do |session| %>
                <tr>
                  <td>
                    <% if session.mobile? %>
                      <%= octicon("device-mobile") %>
                    <% else %>
                      <%= octicon("device-desktop") %>
                    <% end %>
                    <strong>
                      <a href="#session-<%= session.id %>" rel="facebox" class="text-gray-dark">
                        <%= session.session&.ua&.name %>
                        <%= session.short_os %>
                      </a>
                    </strong>

                    <div id="session-<%= session.id %>" style="display:none">
                      <h2 class="facebox-header" data-facebox-id="facebox-header">Session #<%= session.id %></h2>
                      <div class="markdown-body" data-facebox-id="facebox-description">
                        <table class="security-history-detail">
                          <% session.details.each do |key, value| %>
                            <tr>
                              <th><%= key %></th>
                              <td><%= value %></td>
                            </tr>
                          <% end %>
                        </table>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= session.ip %> &ndash;
                    <%= session.time_zone_name %>
                  </td>
                  <td class="float-right">
                    <%= time_ago_in_words_js session.created_at %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% else %>
          <p class="unflush">No sessions found.</p>
        <% end %>
      </div>
    </div>
  <% end %>

<% if GitHub.lockouts_enabled? %>
  <div class="boxed-group">
    <h3>Login lockout</h3>
    <div class="boxed-group-inner clearfix">
      <% if stafftools_action_authorized?(action: :remove_lockout) %>

      <% if AuthenticationLimit.at_any?(**AuthenticationLimit.all_data_for_login(view.user.name)) %>
        <a href="#lockout_remove_confirm" rel="facebox"
           class="btn btn-danger boxed-action">
          Remove lockout for <%= view.user %>
        </a>
        <h4>Remove login lockout</h4>
        <p>
          Lockout for <%= view.user %> will automatically unlock <%= time_ago_in_words_js(view.expiration(AuthenticationLimit.all_data_for_login(view.user.name))) %>.
          <br>
          This will remove the lockout for this user and allow them to login.
        </p>
      <% else %>
        <button type="submit" class="btn btn-danger boxed-action" disabled>
          Remove lockout for <%= view.user %>
        </button>
        <h4>Remove login lockout</h4>
        <p>
          There is no account lockout for <%= view.user %>.
        </p>
      <% end %>

      <% if (locked_sessions = view.sessions_with_locked_ip).size > 0 %>
        <table class="stafftools-table">
          <% locked_sessions.each do |session| %>
          <tr>
            <td>
              Locked IP expiration for recent sessions
            </td>
            <td>
              <%= link_to(session.ip, stafftools_locked_ip_path(ip_address: session.ip)) if AuthenticationLimit.at_any?(web_ip: session.ip) %>
              &ndash;
              <%= session.time_zone_name %>
            </td>
            <td class="float-right">
              <%= time_ago_in_words_js(view.expiration(ip: session.ip)) %>
            </td>
          </tr>
          <% end %>
        </table>
      <% end %>
      <div id="lockout_remove_confirm" style="display:none">
        <div class="facebox-alert">
          Hold it!
        </div>
        <p>
          Removing this lockout should only be done after verifying audit log
          activity for
          <%= link_to view.user, stafftools_audit_log_path(query: view.user) %>.
          Please use the audit log to help determine whether there are
          recurring attempts to brute force the user’s password to compromise
          this account.
        </p>
        <%= form_tag lockout_stafftools_user_path(view.user), method: :delete, class: 'stafftools-form' do %>
          <div class="facebox-footer">
            <button type="submit" class="btn">
              Remove lockout
            </button>
          </div>
        <% end %>
      </div>
      <% else %>
        <h4>Remove login lockout</h4>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </div>
  </div>
<% end %>

<% if view.show_password_randomization? %>
  <div class="boxed-group">
    <h3>Password</h3>
    <div class="boxed-group-inner clearfix">
      <% if stafftools_action_authorized?(controller: Stafftools::PasswordsController, action: :randomize) %>
        <a href="#randomize_password_confirm" rel="facebox"
          class="btn btn-danger boxed-action">
          Randomize password
        </a>
        <h4>Randomize password</h4>
        <p>
          Randomize this user’s password, requiring them to reset it to regain
          access.  If you want to lock the user completely out of the account,
          you should suspend the user instead.
        </p>
      <% else %>
        <h4>Randomize Password</h4>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </div>
  </div>

  <div id="randomize_password_confirm" style="display:none">
    <h2 class="facebox-header">Randomize password?</h2>
    <div class="facebox-alert">
      Woah there!
    </div>
    <p>
      This will randomize <%= view.user.login %>’s password, requiring them to
      reset it to regain access. There’s no going back. Are you sure you want
      to do this?
    </p>
    <%= form_tag randomize_stafftools_user_password_path(view.user), method: :put do %>
      <button class="btn btn-block" type="submit">Randomize password</button>
    <% end %>
  </div>

<% end %>

<% if view.show_org_application_policy? %>
  <div class="boxed-group org-application-policy">
    <h3>Application Access Policy</h3>
    <div class="boxed-group-inner clearfix">
      <h4>Application restrictions</h4>
      <% if view.org_restricts_oauth_applications? %>
        <p>
        Allows only <%= link_to "organization-owned applications", stafftools_user_applications_path(view.user) %>,
        full trust GitHub-owned applications, and those approved below.
        </p>
        <h5>Approved applications</h5>
        <%= render partial: "stafftools/users/application_approvals", locals: { applications: view.org_approved_applications } %>
        <h5>Applications pending approval</h5>
        <%= render partial: "stafftools/users/application_approvals", locals: { applications: view.org_applications_pending_approval } %>
        <h5>Denied applications</h5>
        <%= render partial: "stafftools/users/application_approvals", locals: { applications: view.org_denied_applications } %>
      <% else %>
        <p>Does not restrict applications.</p>
      <% end %>
      <h4>Search audit log</h4>
      <p>
        <%= link_to "Search logs for Application Access Policy actions",
              stafftools_audit_log_path(query: view.application_access_policy_audit_query) %>
         involving <strong>@<%= view.user %></strong>.
      </p>
    </div>
  </div>
<% end %>

<% if view.show_saml_provider? %>
  <% saml_view = create_view_model Stafftools::Organization::SamlSettingsView, organization: view.user %>
  <div class="boxed-group" name="saml-settings">
    <h3>SAML Identity Provider settings</h3>
    <div class="boxed-group-inner clearfix">

      <% if view.business_saml_configured? %>
        <div class="flash flash-warn" id="warn-org-uses-business-saml-settings">
          <%= octicon "alert" %> This organization belongs to the
          <strong><%= view.user.business.name %></strong> enterprise, which has SAML
          single sign-on configured. This organization uses the
          <%= link_to "enterprise SAML Identity Provider settings",
            security_stafftools_enterprise_path(view.user.business.slug) %>.
          <% if view.show_linked_saml_identity? %>
            <%= link_to "View linked organization identity",
              stafftools_enterprise_external_identity_path(view.user.business.slug, view.user.login) %>
          <% end %>

          <% if view.user.saml_sso_enabled? %>
            The organization SAML Identity Provider settings are not in use, but
            are shown below for reference only.
          <% end %>
        </div>
      <% end %>

      <% if view.user.saml_sso_enabled? %>
        <h4>Sign on URL</h4>
        <p><pre><%= view.user.saml_provider.sso_url %></pre></p>
        <h4>Issuer</h4>
        <p><pre><%= view.user.saml_provider.issuer %></pre></p>
        <h4>Public certificate</h4>
        <p><pre><%= view.user.saml_provider.idp_certificate %></pre></p>
        <h4>Signature method</h4>
        <p><pre><%= view.user.saml_provider.signature_method %></pre></p>
        <h4>Digest method</h4>
        <p><pre><%= view.user.saml_provider.digest_method %></pre></p>

        <% unless view.business_saml_configured? %>
          <hr class="bleed-flush">

          <% if stafftools_action_authorized?(controller: Stafftools::Orgs::SamlProvidersController, action: :destroy) %>
            <%= render layout: "shared/details_dialog", locals: {
                button_text: "Disable SAML SSO for #{view.user}",
                button_class: "btn btn-danger",
                details_class: "boxed-action",
                title: "Disable SAML SSO",
            } do %>
              <div class="flash flash-warn flash-full">
                Please ensure appropriate authorization has been obtained before disabling SAML SSO.
              </div>
              <div class="Box-body overflow-auto">
                <p>
                  When disabling SAML SSO, the SAML identify provider configuration will be removed,
                  and will need to be re-entered by an organization owner should SAML wish to be re-enabled.
                </p>
                <%= form_tag stafftools_user_saml_provider_path(view.user), method: "delete" do %>
                  <dl class="form-group">
                    <dt><label for="reason">Reason for disabling</label></dt>
                    <dd>
                      <input class="form-control" type="text" name="reason" id="reason"
                          placeholder="Please provide an explanation for the audit log."
                          autofocus>
                    </dd>
                  </dl>
                  <div class="Box-footer">
                    <button type="submit" class="btn btn-danger btn-block">
                      Disable SAML SSO
                    </button>
                  </div>
                <% end %>
              </div>
            <% end %>
            <h4>Remove SAML Identity Provider</h4>
            <p>
              Be careful &mdash; this will completely disable and remove the SAML identify provider configuration for
              <strong><%= view.user %></strong>.
            </p>
          <% else %>
            <button type="button" class="btn btn-danger boxed-action" disabled>Disable SAML SSO</button>
            <h4>Remove SAML Identity Provider</h4>
            <p><%= stafftools_not_authorized_html %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if !view.business_saml_configured? && view.user.saml_sso_enabled? %>
    <div class="boxed-group">
      <h3>SAML members</h3>

      <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
          <li>
            <%= link_to pluralize(saml_view.linked_members.count, "linked member"), stafftools_user_external_identities_path(view.user) %>
          </li>

          <li>
            <%= link_to pluralize(saml_view.unlinked_members.count, "unlinked member"), stafftools_user_external_identities_path(view.user, scope: "unlinked") %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<% if view.show_team_sync_settings? %>
  <div class="boxed-group">
    <h3> Team synchronization </h3>
    <div class="boxed-group-inner clearfix">
      <% if view.team_sync_enabled? %>
        <% if view.business_team_sync_enabled? %>
          <div class="flash flash-warn" id="warn-org-uses-business-team-sync-settings">
            <%= octicon "alert" %> This organization belongs to the
            <strong><%= view.user.business.name %></strong> enterprise, which has Team synchronization enabled. This organization uses the
            <%= link_to "enterprise Team Synchronization configuration",
              security_stafftools_enterprise_path(view.user.business.slug) %>.
          </div>
          <% if view.missing_team_sync_integration? %>
            <div class="flash flash-error" id="warn-org-in-business-with-bad-setup">
              <%= octicon "alert" %>
              Team Sync for organizations that belong to an enterprise requires
              an integration app that isn't installed on this organization.
              <% if view.org_with_no_admins? %>
                However, the app can't be installed because the org doesn't have
                any admins (possibly due to external provisioning). Please add
                at least one admin, then re-run the configuration job here.
              <% else %>
                This may be a configuration failure, which can be fixed by
                re-running the configuration job.
              <% end %>
            </div>
            <%= stafftools_button_to "Re-run configuration for #{view.user}", run_team_sync_configuration_stafftools_user_path(view.user),
                    method: :post,
                    class: "btn boxed-action" %>
          <% end %>
        <% else %>
          Team Sync is enabled for the this organization.

          <div class="Box">
            <div class="Box-row">
              <div class="text-small pr-3 d-inline">
                <strong><%= view.team_sync_provider_type_label %></strong>
                <code class="text-gray-light"><%= view.team_sync_provider_id %></code><br>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <% if view.business_team_sync_enabled? %>
          <div class="flash flash-error" id="warn-org-in-business-with-bad-setup">
            <%= octicon "alert" %>
            Team Sync is enabled for <strong><%= view.user.business.name%></strong>,
            but not for this member organization. This may be a configuration failure,
            which can be fixed by re-running the configuration job.
          </div>
          <%= stafftools_button_to "Re-run configuration for #{view.user}", run_team_sync_configuration_stafftools_user_path(view.user),
                  method: :post,
                  class: "btn boxed-action" %>
        <% else %>
            Team Sync is not enabled for this organization.
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
