<% page_info :title => "#{organization.login} - Terms of Service" %>
<% view = Stafftools::Organization::ShowView.new(organization: organization) %>

<div class="boxed-group">
  <h3>
    Terms of Service
  </h3>
  <div class="boxed-group-inner">
    <%= link_to "See all previous changes", view.terms_of_service_audit_log_path %>
    <%= form_for organization, url: set_terms_of_service_stafftools_user_path(organization), :method => :put do |f| %>
      <dl class="form-group boxed-group-content">
        <dt><%= f.label "company_name", "Company Name" %></dt>
        <dd><%= f.text_field :company_name, value: organization.company.try(:name) %></dd>

        <dt><%= f.label "terms_of_service_type", "Terms of Service Type" %></dt>
        <% Organization::TermsOfService::TERMS_OF_SERVICE_TYPES.each do |tos_type| %>
          <dd>
            <%= f.radio_button :terms_of_service_type, tos_type, checked: organization.terms_of_service.name == tos_type %>
            <%= f.label "terms_of_service_type_#{tos_type.downcase}", tos_type %>
          </dd>
        <% end %>

        <dt>
          <%= f.label "terms_of_service_change_note", "Terms of Service Change Note" %>
          <p class="note">
            Explanation of why this change was made (required). You should probably include something like a link to a Slack or Zendesk discussion.
          </p>
        </dt>
        <dd><%= f.text_field :terms_of_service_change_note, value: nil, class: "required", required: true %></dd>
      </dl>
      <%= f.submit "Update", class: "btn", disable_with: "Updating..." %>
    <% end %>
  </div>
</div>
