<%# erblint:disable ProperTagNesting %>
<%# `view` is Blob::EditorView %>
<%# Depends on Javascript modules `blob-edit`, `blob-editor` %>
<%
  fullscreen = params["fullscreen"] && params["fullscreen"] == "true"
  resource_path = "#"
%>

<% if blob_fullwidth? %>
  <div class="d-flex flex-items-center file-commit-form--full border-top border-lg-0 p-responsive">
    <% if fullscreen %>
      <a href="<%= fullscreen_param_url(request.url, fullscreen: false) %>" class="render-fullscreen muted-link mr-3 no-underline no-wrap f6" aria-label="Enter fullscreen mode">
        <%= render GitHub::OcticonComponent.new(icon: "screen-normal") %> <span class="hide-md">Exit fullscreen</span>
      </a>
    <% elsif !workflow_yaml_file? %>
      <a href="<%= fullscreen_param_url(request.url, fullscreen: true) %>" class="render-fullscreen muted-link mr-3 no-underline no-wrap f6" aria-label="Enter fullscreen mode">
        <%= render GitHub::OcticonComponent.new(icon: "screen-full") %> <span class="hide-md">Fullscreen</span>
      </a>
    <% end %>

    <details class="js-file-commit-form Details border-top border-lg-0 details-reset details-overlay js-dropdown-details" id="commit-menu-dropdown">
<% else %>
  <div class="<%= responsive? ? "d-flex flex-column d-md-block col-lg-11 offset-lg-1 pr-lg-3": "file-commit-form" %> js-file-commit-form">
<% end %>

<% if blob_fullwidth? %>
  <summary class="btn btn-primary float-right">
    Start commit <div class="dropdown-caret d-none d-lg-inline-block"></div>
  </summary>
<% end %>

<%= conditional_tag(:div, blob_fullwidth?, class: "bg-white p-4 mt-6 mr-lg-3 dropdown-menu dropdown-menu-sw file-commit-form-dropdown") do %>

  <% if blob_fullwidth? %>
    <button class="Box-btn-octicon btn-octicon float-right d-lg-none position-relative" type="button" aria-label="Close this dialog" style="z-index: 99" data-toggle-for="commit-menu-dropdown">
      <%= render GitHub::OcticonComponent.new(icon: "x") %>
    </button>
  <% end %>

  <span class="commit-form-avatar <%= "hide-sm hide-md" if responsive? %> <%= "d-none" if blob_fullwidth? %>">
    <%= linked_avatar_for current_user, 48, img_class: "float-left rounded-1" %>
  </span>

  <div class="commit-form position-relative <% unless blob_fullwidth? %> mb-2 p-3 <%= responsive? ? "border-0 border-lg-top border-lg-right border-lg-left border-lg-bottom": "border" %> rounded-1<% end %>">
    <h3><%= view.commit_button_copy %></h3>

    <div class="text-orange js-too-long-error d-none">
      <%= render GitHub::OcticonComponent.new(icon: "light-bulb") %>
      <strong>ProTip!</strong> Great commit summaries contain fewer than 50 characters. Place extra information in the extended description.
    </div>

    <label for="commit-summary-input" class="sr-only">
      Commit summary
    </label>
    <input id="commit-summary-input" type="text" class="form-control input-block input-contrast js-new-blob-commit-summary"
      placeholder="<%= commit_message_placeholder(view.action) %>"
      name="message" value="<%= params[:message] %>" autocomplete="off">
    <input type="hidden" class="js-commit-message-fallback" name="placeholder_message"
      value="<%= commit_message_placeholder(view.action) %>">

    <label for="commit-description-textarea" class="sr-only">
      Optional extended description
    </label>

    <div class="position-relative">
      <text-expander
        keys=": @ #"
        data-issue-url="<%= suggestions_path(repository: view.parent_repo, user_id: view.parent_repo.owner, issue_suggester: 1) %>"
        data-mention-url="<%= suggestions_path(repository: view.parent_repo, user_id: view.parent_repo.owner, mention_suggester: 1) %>"
        data-emoji-url="<%= emoji_suggestions_path %>">
        <textarea
          id="commit-description-textarea"
          name="description"
          class="form-control input-block input-contrast comment-form-textarea js-quick-submit"
          placeholder="Add an optional extended description…"
          ><%= params[:description] %></textarea>
      </text-expander>
    </div>

    <% if current_user.author_emails.any? %>
      <% selected_email = current_user.default_author_email(view.parent_repo, view.current_oid) %>
      <div class="<%= "d-flex d-sm-inline-block flex-items-start mt-3 mt-sm-2" if responsive? %>">
        <% if responsive? %>
          <span class="d-lg-none commit-form-avatar ml-0 mr-2 lh-0 <%= "d-none" if blob_fullwidth? %>">
            <%= linked_avatar_for current_user, 36, img_class: "rounded-1 d-block" %>
          </span>
        <% end %>
        <div class="d-flex flex-column">
          <select class="form-select <%= "flex-auto" if responsive? %>" id="commit-author-email" name="author_email">
            <% current_user.author_emails.each do |email| %>
              <option <% if email == selected_email %>selected<% end %> value="<%= email %>">
                <%= email %>
              </option>
            <% end %>
          </select>
          <p class="my-1 f6 text-gray">
            <label for="commit-author-email" class="text-normal">
              Choose which email address to associate with this commit
            </label>
          </p>
        </div>
      </div>
    <% end %>

    <%= render "web_commit/quick_pull", view: view if view.quick_pull_choice? %>

  </div>

  <input type="hidden" name="commit" class="js-commit-oid" value="<%= view.last_commit %>">
  <% if view.forked_repo? %>
    <input type="hidden" name="quick_pull" value="<%= view.quick_pull_base %>">
  <% elsif view.quick_pull_choice? %>
    <input type="hidden" name="same_repo" value="1">
  <% end %>
  <%# pull request to return to after successful edit %>
  <input type="hidden" name="pr" value="<%= params[:pr] %>">

  <button type="submit" class="btn btn-primary js-blob-submit <%= "flex-auto mx-3 ml-md-3 mr-md-0 ml-lg-0 mb-3 mb-md-0" if responsive? %>"
    id="submit-file"
    data-edit-text="<%= view.direct_edit_submit_message %>"
    data-pull-text="<%= view.quick_pull_submit_message %>"
    <%= "disabled" unless view.action == "delete" %>>
    <%= view.commit_button_copy %>
  </button>

  <% unless blob_fullwidth? %>
    <%= link_to "Cancel", view.cancel_url, class: "btn btn-danger #{"flex-auto text-center mx-3 mx-md-0" if responsive?}" %>
  <% end %>

  <% if view.forked_repo? %>
    <poll-include-fragment src="<%= check_repo_path(view.forked_repo.owner, view.forked_repo) %>" class="ml-2 d-inline-block js-check-for-fork">
      <div data-hide-on-error>
        <%= image_tag "spinners/octocat-spinner-32-EAF2F5.gif", :size => "16x16", :class => "v-align-text-bottom", :alt => "" %>
        Waiting for your fork…
      </div>
      <div data-show-on-error hidden>
        <%= render GitHub::OcticonComponent.new(icon: "alert") %>
        Something went wrong. Please fork the project, then try from your fork.
      </div>
    </poll-include-fragment>
  <% end %>
<% end %>

<% if blob_fullwidth? %>
    </details>
  </div>
<% else %>
  </div>
<% end %>
