<%# `view` is Blob::EditorView %>
<%# Depends on Javascript module `blob-editor` %>

<div class="form-group mb-0" role="radiogroup" aria-label="Commit choice">
  <div class="form-checkbox pl-4 mt-0 mb-2">
    <label class="text-normal">
      <input type="radio" class="js-quick-pull-choice-option" name="commit-choice" value="direct" autocomplete="off"
        <% unless view.will_create_branch? %>
          checked
        <% end %>

        <% unless view.can_commit_to_branch? %>
          disabled
        <% end %>
      >
      <% if view.can_commit_to_branch? %>
        <%= render GitHub::OcticonComponent.new(icon: "git-commit", class: "text-gray mr-1 text-center") %>
        Commit directly to the <strong class="branch-name"><%= view.quick_pull_base %></strong> branch.
      <% else %>
        <%= render GitHub::OcticonComponent.new(icon: "shield-lock", class: "text-gray mr-1 text-center") %>
        You can’t commit to <span class="branch-name"><%= view.quick_pull_base %></span> because it is a <a href="<%= GitHub.help_url %>/articles/about-protected-branches/">protected branch</a>.
      <% end %>
    </label>
  </div>
  <div class="form-checkbox pl-4 my-0">
    <label class="text-normal" aria-live="polite">
      <input type="radio" class="form-checkbox-details-trigger js-quick-pull-choice-option" name="commit-choice" value="quick-pull" autocomplete="off"
        <% if view.will_create_branch? %>
          checked
        <% end %>
      >
      <%= render GitHub::OcticonComponent.new(icon: "git-pull-request", class: "text-gray mr-1 text-center") %>
      Create a <strong>new branch</strong> for this commit and start a pull request.
      <a href="<%= GitHub.help_url %>/articles/using-pull-requests" target="_blank">
        Learn more about pull requests.
      </a>

      <div class="form-checkbox-details mt-2<% responsive? ? " ml-1 ml-md-3": " ml-3" %>">
        <div class="position-relative mt-2 <% responsive? ? 'ml-4': 'ml-2' %>">
          <%= render GitHub::OcticonComponent.new(icon: "git-branch", class: "quick-pull-new-branch-icon text-gray-light position-absolute text-center") %>
          <%
            data_check_url = ref_check_url(current_repository.owner, current_repository)
          %>
          <input type="text" value="<%= view.new_branch_field_value %>"
            class="form-control input-contrast mr-1 pl-5 input-monospace js-quick-pull-new-branch-name"
            placeholder="New branch name"
            aria-label="New branch name"
            aria-describedby="quick-pull-normalization-info"
            data-generated-branch="<%= view.temp_branch %>"
            data-check-url="<%= data_check_url %>">
          <%= csrf_hidden_input_for data_check_url, class: "js-data-check-url-csrf" %>
          <span class="text-gray js-quick-pull-normalization-info" id="quick-pull-normalization-info"></span>
        </div>
      </div>
    </label>
  </div>
</div>

<input type="hidden" name="target_branch" class="js-quick-pull-target-branch" value="<%= view.target_branch_field_value %>" data-default-value="<%= view.active_branch %>" autocomplete="off">
<input type="hidden" name="quick_pull" class="js-quick-pull-choice-value" value="<%= view.quick_pull_field_value %>" autocomplete="off">
