<% page_info title: this_business.name %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>License Use High Watermark Report<% end %>
<% end %>

<%= form_tag(stafftools_enterprise_watermark_reports_path(this_business.slug), method: :get) do %>
  <%= label_tag(:range_start) %>
  <%= date_field_tag(:range_start,
                     params[:range_start] || (GitHub::Billing.today - Business::LicenseWatermarkReport::DEFAULT_RANGE),
                     required: true) %>

  <%= label_tag(:range_end) %>
  <%= date_field_tag(:range_end,
                     params[:range_end] || GitHub::Billing.today,
                     required: true) %>

  <%= submit_tag("Generate report", class: "btn btn-primary") %>
<% end %>

<table class="stafftools-table border my-4">
  <tr class="border">
    <th>Date</th>
    <th>Watermark - enterprise</th>
    <th>Watermark - volume</th>
  </tr>

  <% if watermark_report.present? %>
    <% watermark_report.rows.each do |row| %>
      <tr class="border">
        <td>
          <%= row["day"] %>
        </td>
        <td>
          <%= row["enterprise_watermark"] %>
        </td>
        <td>
          <%= row["volume_watermark"] %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
