<div class="mb-2">
  <div class="boxed-group flush">
    <h3>Transactions (<%= @transactions.count %>)</h3>
    <% if @transactions.empty? %>
      <div class="boxed-group-inner seamless">
        <div class="Box-row">No transactions for this GitHub Sponsors member</div>
      </div>
    <% else %>
      <div class="boxed-group-inner seamless">
        <table class="stafftools-table">
          <thead>
            <th class="no-wrap billing-table-cell">Timestamp</th>
            <th class="no-wrap billing-table-cell">Action</th>
            <th class="no-wrap billing-table-cell">Previous Tier</th>
            <th class="no-wrap billing-table-cell">Current Tier</th>
            <th class="no-wrap billing-table-cell">Sponsor</th>
          </thead>
          <% @transactions.each do |transaction| %>
            <%= render Stafftools::Sponsors::Members::Transactions::TransactionComponent.new(transaction: transaction) %>
          <% end %>
        </table>
      </div>
      <% if @transactions.total_pages > 1 %>
        <div class="paginate-container">
          <div class="pagination">
            <%= will_paginate @transactions, params: {
              member_id: @sponsorable.login,
              controller: "stafftools/sponsors/members/transactions",
            } %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
