<tr>
  <td class="tiny no-wrap">
    <%= "#{timestamp}" %>
  </td>

  <td class="tiny no-wrap">
    <%= "#{action}" %>
  </td>

  <td class="tiny no-wrap">
    <%= "#{old_tier_string}" %>
  </td>

  <td class="tiny no-wrap" <%= test_selector("transaction-current-tier") %>>
    <%= "#{current_tier_string}"%>
  </td>

  <td class="tiny no-wrap">
    <% if sponsor_login %>
      <a href="<%= stafftools_user_path(sponsor_login) %>"><%= sponsor_login %></a>
    <% end %>
  </td>
</tr>
