<%graphql
  fragment on Commit {
    committedViaWeb
    authoredByCommitter
    abbreviatedOid
    resourcePath
    authors(first: 100, uniqueUsers: true) {
      totalCount
      nodes {
        date
        ...Views::Commit::ContributorLink
      }
    }
    committer {
      date
      ...Views::Commit::ContributorLink
    }
    repository {
      resourcePath
      nameWithOwner
      useRevListOrdering: isFeatureEnabled(name: "use_rev_list_ordering")
    }
    ...CommitHelper::AttributionFragment
  }
%>
<%-
  include_verbs = local_assigns.fetch(:include_verbs, true)
  include_sha = local_assigns.fetch(:include_sha, false)
  sha_class = local_assigns.fetch(:sha_class, "")
  if include_verbs
    committed_word = "committed"
    authored_word = "authored"
    authors_word = "people"
  else
    authors_word = "authors"
  end

  commit = Views::Commit::AttributionInfo.new(commit)

  committer_attribution = !commit.authored_by_committer && !commit.committed_via_web?
  inline_author_names = commit.authors.total_count == 1 || (commit.authors.total_count == 2 && !committer_attribution)
  last_author_index = commit.authors.nodes.count - 1
-%>

<% if inline_author_names %>
  <% commit.authors.nodes.each_with_index do |author, i| %>
    <%= render "commit/contributor_link", git_actor: author %><%= " and " if i != last_author_index %>
  <% end %>
<% else %>
  <span class="text-bold" title="<%= attribution(commit) %>">
    <%= commit.authors.total_count %> <%= authors_word %>
  </span>
<% end %>

<% if !committer_attribution %>
  <%= committed_word %>
<% else %>
  <%= authored_word %> and <%= render "commit/contributor_link", git_actor: commit.committer %>
  <%= committed_word %>
<% end %>
<% if local_assigns.fetch(:display_repository, false) %>
  to <a href="<%= commit.repository.resource_path %>"><%= commit.repository.name_with_owner %></a>
<% end %>
<% if include_sha %>
  <a href="<%= commit.resource_path %>" class="link-gray text-mono <%= sha_class %>"><%= commit.abbreviated_oid %></a>
<% end %>
<% if include_verbs %>
  <% commit_date = commit.repository.use_rev_list_ordering ? commit.committer.date : commit.authors.nodes.first.date %>
  <%= time_ago_in_words_js commit_date %>
<% end %>
