<%# view is `Commits::BranchListView` %>

<%= cache commit_branches_cache_key(view.commit) do %>
  <% if view.branches_with_pull_requests.any? %>
    <%= octicon('git-branch') %>
    <ul class="branches-list">
      <% view.branches_with_pull_requests.each do |branch, pulls| %>
        <li class="branch"><%= link_to_branch_compare current_repository, branch %></li>
        <% if pulls.any? %>
          <%
            pulls.map! do |pr|
              state = pr.merged? ? "Merged" : "Open"
              pr_prefix = view.pr_prefix(pr, current_repository)
              link_to "#{pr_prefix}##{pr.number}", pull_request_path(pr), :title => "#{state} Pull Request: #{pr.title}"
            end
          %>
          <li class="pull-request">(<%= safe_join(pulls, ", ") %>)</li>
        <% end %>
        <% if view.pr_search_problem %>
          <li class="pull-request pull-request-error"><span class="tooltipped tooltipped-se" aria-label="<%= view.pr_search_problem %>"><%= octicon('alert') %></span></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <%= octicon('git-branch') %>
    <ul class="branches-list">
        <li class="branch">This commit does not belong to any branch on this repository.</li>
    </ul>
  <% end %>
  <% if view.tags.any? %>
    <%= octicon('tag') %>
    <ul class="branches-tag-list js-details-container">
      <li><%= link_to view.tags.first.dup.force_encoding('UTF-8').scrub!, release_path(view.tags.first, current_repository) %></li>
      <% if view.abbrev_tags? %>
        <li class="abbrev-tags"><span class="hidden-text-expander"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span></li>
        <% view.hidden_tags.each do |tag| %>
          <li class="more-commit-details"><%= link_to tag.dup.force_encoding('UTF-8').scrub!, release_path(tag, current_repository) %></li>
        <% end %>
      <% end %>
      <% if view.tags.size >= 2 %>
        <li><%= link_to view.tags.last.dup.force_encoding('UTF-8').scrub!, release_path(view.tags.last, current_repository) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
