<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment on Commit {
    oid
    abbreviatedOid
    authoredByCommitter
    authoredDate
    committedViaWeb
    resourcePath
    message
    messageBodyHTML
    messageHeadlineHTML
    comments {
      totalCount
    }
    author {
      avatarUrl(size: 40)
      name
      user {
        resourcePath
        login
      }
      ...Views::Commit::CommitActorLink::CommitActorLink
    }
    authors(first: 100, uniqueUsers: true) {
      nodes {
        date
        ...Views::Commit::ContributorLink
      }
    }
    committer {
      date
      ...Views::Commit::CommitActorLink::CommitActorLink
    }
    repository {
      useRevListOrdering: isFeatureEnabled(name: "use_rev_list_ordering")
    }
    ...Views::Commit::AvatarStack
    ...Views::Commit::AttributionInfo
  }
%>
<%
  commit = Views::Commit::CommitTease.new(commit)
  commit_date = commit.repository.use_rev_list_ordering ? commit.committer.date : commit.authors.nodes.first.date
  show_checks_status ||= false
%>
<%= cache tree_commit_key, skip_digest: true do %>
  <div class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1 hx_avatar_stack_commit">
    <%= render "commit/avatar_stack", commit: commit, size: 24 %>
  </div>
  <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
    <div class="css-truncate css-truncate-overflow text-gray">
      <%= render "commit/attribution_info", commit: commit, include_sha: false, include_verbs: false, sha_class: "d-none d-md-inline text-small" %>
      <% if commit.message.blank? %>
        <a href="<%= commit.resource_path %>" data-pjax="true" class="muted-link text-inherit d-none d-sm-inline">No commit message</a>
      <% else %>
        <span class="d-none d-sm-inline">
          <%= link_markup_to commit.message_headline_html, commit.resource_path,
                "data-pjax": true, title: commit.message.rstrip, class: "link-gray-dark" %>
        </span>
      <% end %>
    </div>
    <span class="hidden-text-expander ml-2 d-inline-block <% unless commit.message_body_html.present? %>d-inline-block d-lg-none<% end %>">
      <button type="button" class="hx_bg-black-fade-15 text-gray-dark ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button>
    </span>
    <div class="d-flex flex-auto flex-justify-end ml-3 flex-items-baseline">
      <% if commit.comments.total_count > 0 %>
        <a class="no-wrap link-gray no-underline mr-2 text-inherit d-none d-lg-inline" href="<%= commit.resource_path %>" anchor="comments" data-pjax>
          <%= octicon('comment') %>
          <%= number_with_delimiter(commit.comments.total_count) %>
        </a>
      <% end %>
      <% if show_checks_status %>
        <include-fragment accept="text/fragment+html" src="<%= checks_statuses_rollup_path(ref: commit.oid, direction: "e") %>" class="d-inline"></include-fragment>
      <% end %>
      <a href="<%= commit.resource_path %>" class="f6 link-gray text-mono ml-2 d-none d-lg-inline" data-pjax><%= commit.abbreviated_oid %></a>
      <a href="<%= commit.resource_path %>" class="link-gray ml-2" data-pjax>
        <%= time_ago_in_words_js commit_date %>
      </a>
    </div>
  </div>
  <div class="pl-0 pl-md-5 flex-order-1 width-full Details-content--hidden">
    <% if commit.message.blank? %>
      <a href="<%= commit.resource_path %>" data-pjax="true" class="muted-link text-inherit mt-2 d-inline-block d-lg-none">No commit message</a>
    <% else %>
      <div class="mt-2">
        <%= link_markup_to commit.message_headline_html, commit.resource_path,
              "data-pjax": true, class: "link-gray-dark text-bold" %>
      </div>
    <% end %>

    <% if commit.message_body_html.present? %>
      <pre class="mt-2 text-mono text-gray text-small ws-pre-wrap"><%= commit.message_body_html %></pre>
    <% end %>
    <div class="d-flex flex-items-center">
      <span class="text-gray-dark text-mono d-lg-none hx_bg-black-fade-15 px-1 rounded-1 text-small mt-2"><%= commit.abbreviated_oid %></span>
      <% if commit.comments.total_count > 0 %>
        <a class="no-wrap link-gray no-underline ml-2 mt-2 text-inherit d-lg-none" href="<%= commit.resource_path %>" anchor="comments" data-pjax>
          <%= octicon('comment') %>
          <%= number_with_delimiter(commit.comments.total_count) %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
