<div class="commit-branches">
  <%= include_cached_fragment cache_key: commit_branches_cache_key(commit),
                                    src: commit_branches_path(commit) do %>
    <%= octicon("git-branch") %>
    <ul class="branches-list">
      <li class="loading">Loading branch information<span class="AnimatedEllipsis"></span></li>
    </ul>
  <% end %>
</div>
