<%graphql
  fragment Commit on Commit {
    resourcePath
    ...Views::Commit::CondensedDetails
  }
%>
<%-
  commit = Views::Commit::Condensed::Commit.new(commit)
  live_update_url = "#{commit.resource_path}/_render_node/commit/condensed"
-%>

<%= render "commit/condensed_details", commit:          commit,
                                       live_update_url: live_update_url,
                                       resource_path:   commit.resource_path %>
