<% if logged_in? && current_repository_writable? && commit.lockable_by?(current_user) %>
  <%
    verb = commit.locked? ? "unlock" : "lock"
    next_state = (verb == "unlock" ? "lock" : "unlock")
  %>

  <%= render layout: "shared/details_dialog", locals: {
    button_class: "btn-link link-gray-dark text-bold lock-toggle-link f6",
    button_icon: verb == "lock" ? "lock" : "key",
    button_text: "#{verb.capitalize} conversation",
    title: "#{verb.capitalize} conversation on this commit"
  } do %>
    <div class="Box-body overflow-auto f5">
      <p><%= verb.capitalize %>ing the conversation means:</p>

      <ul class="ml-4">
        <% if verb == "lock" %>
          <li>Other users <strong>can’t add new comments</strong> to this commit.</li>
          <% if current_repository.in_organization? %>
            <li>
              You and other members of teams with
              <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">write access</a>
              to this repository <strong>can still leave comments</strong> that others can see.
            </li>
          <% else %>
            <li>
              You and other collaborators
              <a href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">with access</a>
              to this repository <strong>can still leave comments</strong> that others can see.
            </li>
          <% end %>
        <% else %>
          <li><strong>Everyone</strong> will be able to comment on this commit once more.</li>
        <% end %>
      </ul>
      <p class="mb-0 mt-2">You can always <%= next_state %> this commit again in the future.</p>
    </div>

    <div class="Box-footer">
      <%= form_tag commit_path(commit) + "/#{verb}", :method => :put do %>
        <button type="submit" class="btn btn-danger btn-block">
          <%= verb.capitalize %> conversation on this commit
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>
