<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment on Commit {
    ...Views::Commit::AvatarStack
    ...Views::Commit::AttributionInfo
    signature {
      ...Views::Commits::SignedCommitBadge::GitSignature
    }
    statusCheckRollup {
      ...Views::Statuses::Icon::Status
    }
  }
%>

<%
  commit_node = Views::Commit::PullCommitDetail.new(commit_node)
  show_checks_status ||= false
%>
<% raise ArgumentError, "missing keyword: pull_comparison" if !local_assigns[:pull_comparison] %>
<% raise ArgumentError, "missing keyword: commit" if !local_assigns[:commit] %>
<% view = Commit::ShowView.new(:commit => commit, :repository => commit.repository, :current_user => current_user) %>
<% if responsive? %><div class="clearfix py-2"></div><% end %>
<div class="commit full-commit prh-commit px-2 pt-2 <% if commit.merge_commit? %>merge-commit<% end %>">
  <% unless pull_comparison.total_commits_size == 1 %>
    <div class="BtnGroup float-right" data-pjax>
      <% if next_commit = pull_comparison.commit_before(commit) %>
        <a href="<%= pull_request_commit_path(pull_comparison.pull, next_commit) %>" class="btn btn-sm btn-outline BtnGroup-item" data-hotkey="p">
          <%= octicon "chevron-left" %> Prev
        </a>
      <% else %>
        <button type="button" class="btn btn-sm btn-outline BtnGroup-item tooltipped tooltipped-s" aria-label="You are viewing the earliest commit" disabled>
          <%= octicon "chevron-left" %> Prev
        </button>
      <% end %>

      <% if previous_commit = pull_comparison.commit_after(commit) %>
        <a href="<%= pull_request_commit_path(pull_comparison.pull, previous_commit) %>" class="btn btn-sm btn-outline BtnGroup-item" data-hotkey="n">
          Next <%= octicon "chevron-right" %>
        </a>
      <% else %>
        <button type="button" class="btn btn-sm btn-outline BtnGroup-item tooltipped tooltipped-s" aria-label="You are viewing the latest commit" disabled>
          Next <%= octicon "chevron-right" %>
        </button>
      <% end %>
    </div>
  <% end %>

  <% if show_checks_status && commit_node.status_check_rollup %>
    <span class="mr-1 mt-1 float-left">
      <%= render "statuses/icon", status: commit_node.status_check_rollup, dropdown_direction: "se" %>
    </span>
  <% end %>

  <% if commit.empty_message? %>
    <p class="commit-title blank">
      No commit message
    </p>
  <% else %>
    <p class="commit-title">
      <%= commit.short_message_html %>
    </p>
  <% end %>

  <% if commit.message_body_html? %>
    <div class="commit-desc"><pre><%= commit.message_body_html %></pre></div>
  <% end %>

  <%= render partial: "commit/commit_branches_tags", locals: { commit: commit } %>

  <div class="commit-meta clearfix p-2 no-wrap d-flex <% if responsive? %>flex-column flex-md-row flex-md-items-center<% else %>flex-items-center<% end %>">
    <div class="flex-auto <% if responsive? %>pb-2 pb-md-0<% else %>pb-0<% end %>">
      <% if responsive? %>
        <div class="float-left"><%= render "commit/avatar_stack", commit: commit_node %></div>
      <% else %>
        <%= render "commit/avatar_stack", commit: commit_node %>
      <% end %>
      <%= render "commit/attribution_info", commit: commit_node %>
      <%= render partial: "commits/signed_commit_badge", locals: { signature: commit_node.signature, badge_size: 'medium', item_type: "commit" } %>
    </div>
    <span>
      <span class="text-small text-gray text-mono">commit <span class="sha user-select-contain"><%= commit.oid %></span></span>
    </span>
  </div>
</div>
