<%graphql
  fragment RootFragment on Query {
    node(id: $id) {
      ... on User {
        ...Views::Users::Tabs::ActivityOverview::Teams::UserFragment
        ...Views::Users::Tabs::OrganizationSelector::UserFragment
        isViewer
        contributionsCollection(organizationID: $selected_organization_id, from: $from, to: $to) {
          ...Views::Users::Tabs::ActivityOverview::ContributionSpiderGraph::ContributionsCollection
          contributionCounts {
            ...ProfilesHelper::ContributionCountFragment
          }
          repositoryContributionCounts(first: 8) {
            nodes {
              ...Views::Users::Tabs::ActivityOverview::MostActiveRepositories::RepositoryContributionCountFragment
            }
          }
        }
        organizationsContributedTo(first: 100, to: $to, from: $from, selectedOrganizationID: $selected_organization_id) {
          totalCount
        }
        teams(first: 3, organizationID: $selected_organization_id) @include(if: $show_teams) {
          totalCount
        }
      }
    }
    selectedOrganization: organization(login: $selected_organization_login) @include(if: $organization_selected) {
      ...Views::Users::Tabs::OrganizationSelector::SelectedOrganizationFragment
      databaseId
      name
    }
    viewer @include(if: $logged_in) {
      hasDismissedActivityOverviewNotice: hasDismissedNotice(notice: "feature_tutorial_org_scoped_highlights")
      hasDismissedBetaSettingNotice: hasDismissedNotice(notice: "org_scoped_activity_opt_in")
    }
  }
%>
<%
  data = Views::Users::Tabs::ActivityOverview::RootFragment.new(data)
  user = data.node
  viewer = data.viewer
  selected_org = data.selected_organization
  contributions_collection = user.contributions_collection
  repos_with_counts = contributions_collection.repository_contribution_counts.nodes
  org_count = user.organizations_contributed_to.total_count
  team_count = user.teams&.total_count || 0
  contribution_counts = contributions_collection.contribution_counts
  no_contribution_percentages = contribution_percentages_by_type(contribution_counts).values.all?(&:zero?)
  no_contributions = team_count.zero? && repos_with_counts.blank? && no_contribution_percentages
%>

<% if viewer && !user.is_viewer? && !viewer.has_dismissed_beta_setting_notice? && !viewer.has_dismissed_activity_overview_notice? %>
  <div class="Popover js-notice" style="bottom: 100%; z-index: 1">
    <div class="Popover-message Popover-message--large Popover-message--bottom-left p-4 Box box-shadow-large">
      <h4 class="d-flex flex-items-baseline mb-2"><%= emoji_tag(Emoji.find_by_alias("wave"), class: "emoji emoji-icon mr-2") %>Introducing activity overview</h4>
      <p class="text-gray">
        Now you can see an overview of a GitHub user&rsquo;s activity and filter activity by
        organization.
      </p>

      <%= form_tag dismiss_notice_path("feature_tutorial_org_scoped_highlights"), class: "js-notice-dismiss" do %>
        <button type="submit" class="btn btn-outline mt-2 text-bold">Got it!</button>
      <% end %>
    </div>
  </div>
<% end %>

<% if org_count > 0 || !no_contributions %>
  <div class="Box mb-5 p-3 activity-overview-box border-top border-xl-top-0">
    <%= render partial: "users/tabs/organization_selector",
               locals: { user: user, selected_org: selected_org } %>

    <% if no_contributions %>
      <div class="blankslate">
        <h5>No activity overview available.</h5>
      </div>
    <% else %>
      <div class="d-flex flex-column flex-lg-row">
        <div class="col-12 col-lg-6 d-flex flex-column pr-lg-5">
          <h5 class="mb-3 text-normal">
            Activity
            <% if selected_org %>
              in <span class="text-bold"><%= selected_org.name %></span>
            <% else %>
              overview
            <% end %>
          </h5>
          <%= render partial: "users/tabs/activity_overview/most_active_repositories",
                     locals: { repo_contrib_counts: repos_with_counts,
                               include_owner: selected_org.nil?,
                               selected_org_database_id: selected_org&.database_id } %>

          <%= render partial: "users/tabs/activity_overview/teams",
                     locals: { user: user, selected_org_database_id: selected_org&.database_id } %>
        </div>

        <div class="pl-lg-3 col-6 border-lg-left">
          <%= render partial: "users/tabs/activity_overview/contribution_spider_graph",
                     locals: { contributions_collection: contributions_collection } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
