<%graphql
  fragment User on User {
    showPrivateContributionCount
    activityOverviewEnabled
  }
%>
<% user = Views::Users::Tabs::ContributionSettings::User.new(user) %>

<details class="details-reset details-overlay dropdown float-right mt-1">
  <summary class="pinned-items-setting-link muted-link <%= custom_profile_hover_color_class %>">
    Contribution settings
    <div class="dropdown-caret"></div>
  </summary>

  <details-menu class="dropdown-menu dropdown-menu-sw contributions-setting-menu">
    <%= form_for current_user, url: set_private_contributions_preference_user_path(current_user), method: :put, html: {id: nil} do |f| %>
      <%= hidden_field_tag "return_to", "profile" %>
      <button name="user[show_private_contribution_count]" value="<% if user.show_private_contribution_count? %>0<% else %>1<% end %>" type="submit" class="dropdown-item ws-normal btn-link text-left pl-5 <%= custom_profile_hover_background_class %>" role="menuitem">
        <% if user.show_private_contribution_count? %>
          <%= octicon(:check, class: "select-menu-item-icon mt-1") %>
        <% end %>
        <div class="text-bold">Private contributions</div>
        <span class="f6 mt-1">
          <% if user.show_private_contribution_count? %>
            Turning off private contributions will show only
            public activity on your profile.
          <% else %>
            Turning on private contributions will show anonymized
            private activity on your profile.
          <% end %>
        </span>
      </button>
    <% end %>
    <div role="none" class="dropdown-divider"></div>
    <%= form_for current_user, url: set_activity_overview_preference_user_path(current_user), method: :put, html: {id: nil} do |f| %>
      <button type="submit" name="user[activity_overview_enabled]" value="<% if user.activity_overview_enabled? %>0<% else %>1<% end %>" class="dropdown-item ws-normal btn-link text-left pl-5 <%= custom_profile_hover_background_class %>" role="menuitem">
        <% if user.activity_overview_enabled? %>
          <%= octicon(:check, class: "select-menu-item-icon mt-1") %>
        <% end %>
        <div class="d-flex flex-items-center text-bold">
          Activity overview
        </div>
        <span class="f6 mt-1">
          <% if user.activity_overview_enabled? %>
            Turning off the activity overview will hide the section on your profile.
          <% else %>
            Turning on the activity overview will show an overview of your activity
            across organizations and repositories.
          <% end %>
        </span>
      </button>
    <% end %>
  </details-menu>
</details>
