<%graphql
  fragment User on User {
    isLargeBotAccount
    ...Views::Users::ContributionGraph::User
    ...Views::Users::Tabs::ContributionActivity::User
  }
  fragment Organization on Organization {
    ...Views::Users::Tabs::ContributionActivity::Organization
    ...Views::Users::Tabs::YearlyContributions::Organization
  }
%>
<%
  user = Views::Users::Tabs::Contributions::User.new(user)
  org = Views::Users::Tabs::Contributions::Organization.new(org)
%>

<%= render partial: "users/tabs/yearly_contributions",
           locals: { data: data, user: user, org: org } %>

<% unless user.is_large_bot_account? %>
  <div id="js-contribution-activity" class="activity-listing contribution-activity" data-pjax-container>
    <%=
      GitHub.dogstats.time("contributions", tags: ["action:contribution_activity"]) do
        render partial: "users/tabs/contribution_activity",
               locals: { user: user, org: org, collector: local_assigns[:collector] }
      end
    %>
  </div>
<% end %>
