<%graphql
  fragment User on User {
    timelineContributions: contributionsCollection(organizationID: $selected_organization_id, from: $timelineFrom, to: $timelineTo, contributionTypes: $timelineContributionTypes) {
      hasAnyContributions
      ...Views::Users::TimeRangeWithActivity::ContributionsCollection
      ...Views::Users::TimeRangeWithoutActivity::ContributionsCollection
      ...Views::Users::YearList::ContributionsCollection
    }
  }
  fragment Organization on Organization {
    name
    ...Views::Users::YearList::Organization
    ...Views::Users::TimeRangeWithActivity::Organization
    ...Views::Users::TimeRangeWithoutActivity::Organization
  }
%>
<%
  user = Views::Users::Tabs::ContributionActivity::User.new(user)
  org = Views::Users::Tabs::ContributionActivity::Organization.new(org)
  include_header = true unless local_assigns.key?(:include_header)
  contrib_collection = user.timeline_contributions
  collector = nil unless local_assigns.key?(:collector)
%>

<% if include_header %>
  <% unless activity_overview_enabled? %>
    <%= render partial: "users/year_list",
               locals: { activity_overview_enabled: false,
                         contrib_collection: contrib_collection, org: org } %>
  <% end %>

  <h2 class="f4 text-normal mb-2">
    <%= contribution_activity_title(org_name: org&.name) %>
  </h2>
<% end %>

<% if contrib_collection.has_any_contributions? || collector&.any_contribution? %>
  <%= render partial: "users/time_range_with_activity",
             locals: { contrib_collection: contrib_collection, org: org, collector: collector } %>
<% else %>
  <%= render partial: "users/time_range_without_activity",
             locals: {
               contrib_collection: contrib_collection,
               org: org,
               collector: collector
             } %>
<% end %>
