<%
  user_is_viewer = user == current_user

  page_info title: user_followers_title(login: user.login, name: user.profile_name, is_viewer: user_is_viewer)
%>

<% if followers.any? %>
  <% followers.each do |follow| %>
    <%= render partial: "users/follow_user", locals: {user: follow.user} %>
  <% end %>

  <div class="paginate-container" <%= test_selector("pagination") %>>
    <%= simple_paginate followers %>
  </div>

<% elsif followers.total_entries > 0 %>
  <p class="mt-4">That’s it. You’ve reached the end of
  <%= user_is_viewer ? "your" : "#{user.login}’s" %> followers.</p>

<% else %>
  <div class="blankslate mt-4">
    <%= octicon("people", height: 32, class: "blankslate-icon") %>
    <h3>
      <%= user_is_viewer ? "You don’t" : "#{user.login} doesn’t" %>
      have any followers yet.
    </h3>
    <p><a href="https://guides.github.com/activities/socialize/">Learn more</a> about being social on GitHub.</p>
  </div>
<% end %>
