<% readme = this_user.profile_readme %>
<div class="Box mt-4" <%= test_selector("profile-readme") %>>
  <div class="Box-body <%= "p-4" if readme.language %>">
    <div class="d-flex">
      <div class="text-mono text-small mb-3 flex-auto">
        <%= octicon("smiley") %>
        <% config_repo_url = "/#{this_user.login}/#{this_user.config_repo_name}" %>
        <a href="<%= config_repo_url %>" class="no-underline link-gray-dark"><%= this_user.config_repo_name %></a><span class="text-gray-light d-inline-block" style="padding:0px 2px;">/</span>README<span class="text-gray-light">.md</span>
      </div>
      <% if this_user == current_user %>
        <% config_repo = this_user.configuration_repository %>
        <span class="pr-2">
          <a class="btn btn-sm btn-outline" href="https://support.github.com/contact/feedback?category=profile&subject=Profile+README">Send feedback</a>
        </span>
        <a href="<%= file_edit_path(current_user, config_repo, config_repo.default_branch, this_user.profile_readme.path) %>"
            class="Box-btn-octicon btn-octicon pr-3"
            aria-label="Edit this file"
            <%= test_selector("edit-profile-readme") %>>
            <%= octicon("pencil") %>
        </a>
      <% end %>
    </div>
    <%= format_readme(readme, classes: "f5") %>
  </div>
</div>
