<%graphql
  fragment User on User {
    ...Views::ProfilePins::PinnedItems::ProfileOwner
    databaseId
    isViewer
    login
    itemShowcase {
      hasPinnedItems
      items(first: $pinned_item_limit) {
        nodes {
          ...Views::ProfilePins::PinnedItems::PinnableItem
          ...Views::Users::Tabs::PopularRepos::Repository
        }
      }
    }
    anyPinnableItems
    viewerCanChangePinnedItems
  }
%>
<%
  user = Views::Users::Tabs::RepositoriesOverview::User.new(user)
  showcase_items = user.item_showcase.items.nodes
  has_pinned_items = user.item_showcase.has_pinned_items?
%>

<div class="js-pinned-items-reorder-container">
  <% if user.is_viewer? && user.any_pinnable_items? %>
    <details class="details-reset details-overlay details-overlay-dark"
      id="choose-pinned-repositories">
      <%= content_tag :summary, "Customize your pins", class: "btn-link muted-link float-right js-pinned-items-dialog mt-1 pinned-items-setting-link #{custom_profile_hover_color_class}", data: profile_click_tracking_attrs(:CUSTOMIZE_PINS_LINK) %>
      <details-dialog
        class="anim-fade-in fast Box Box--overlay d-flex flex-column"
        src="<%= user_pinned_items_modal_path(user.login) %>"
        preload>
        <include-fragment class="py-5 text-center" tabindex="0" autofocus>
          <div data-hide-on-error><div class="octocat-spinner mb-3"></div>Loading&hellip;</div>
          <div data-show-on-error hidden>
            Something went wrong.
            <button data-retry-button class="btn-link" type="submit">Retry.</button>
          </div>
        </include-fragment>
      </details-dialog>
    </details>
  <% end %>
  <h2 class="f4 mb-2 text-normal">
    <% if has_pinned_items %>
      Pinned
    <% else %>
      Popular repositories
    <% end %>
    <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>"
         width="13" class="spinner pinned-items-spinner js-pinned-items-spinner" alt="">
    <span class="ml-2 text-gray f6 js-pinned-items-reorder-message"
      role="status" aria-live="polite"
      data-error-text="Something went wrong."
      data-success-text="Order updated."></span>
  </h2>

  <% if has_pinned_items %>
    <% if user.viewer_can_change_pinned_items? %>
      <%= form_tag user_reorder_pinned_items_path(user.login), class: "js-pinned-items-reorder-form", id: "user-#{user.database_id}-pinned-items-reorder-form", method: :put  do |f| %>
        <%= render partial: "profile_pins/pinned_items",
                   locals: { pinned_items: showcase_items, profile_owner: user } %>
      <% end %>
    <% else %>
      <%= render partial: "profile_pins/pinned_items",
                 locals: { pinned_items: showcase_items, profile_owner: user } %>
    <% end %>
  <% elsif showcase_items.any? %>
    <%= render partial: "users/tabs/popular_repos",
               locals: { popular_repositories: showcase_items } %>
  <% else %>
    <div class="blankslate mb-4">
      <h5>
        <% if user.is_viewer? %>
          You don’t have any public repositories yet.
        <% else %>
          <%= user.login %> doesn’t have any public repositories yet.
        <% end %>
      </h5>
    </div>
  <% end %>
</div>
