<%graphql
  fragment RepositoryOwner on RepositoryOwner {
    ... on User {
      isViewer
      name
    }
    login
    repositories(first: $first, last: $last, before: $before, after: $after, query: $query, type: $type, language: $language, ownerAffiliations: [OWNER], orderBy: { field: PUSHED_AT, direction: DESC }) {
      nodes {
        ...Views::Repositories::RepositoryGraphql::Repository
      }
      pageInfo {
        hasNextPage
        hasPreviousPage
        ...ApplicationHelper::CursorPaginate
      }
      totalCount
    }
  }
%>
<%
  user = Views::Users::Tabs::Repositories::RepositoryOwner.new(user)
  page_info title: user_repositories_title(login: user&.login, name: user&.name, is_viewer: user&.is_viewer?)
  repo_page_info = user.repositories.page_info
  repos = user.repositories.nodes
  type_filter = params[:type]
  phrase = params[:q]
  language = params[:language]
%>

<div id="user-repositories-list">
  <% if user_repositories_filtering?(phrase: phrase, language: language, type_filter: type_filter) %>
    <div class="TableObject border-bottom border-gray-light py-3">
      <div class="user-repo-search-results-summary TableObject-item TableObject-item--primary v-align-top">
        <strong><%= number_with_delimiter user.repositories.total_count %></strong>
        <%= "result".pluralize(user.repositories.total_count) %>
        for
        <% if type_filter.present? %>
          <strong><%= type_filter_description(type_filter) %></strong>
        <% end %>
        repositories
        <% if phrase.present? %>
          matching
          <strong><%= phrase %></strong>
        <% end %>
        <% if language.present? %>
          written in <strong><%= get_selected_language(language) %></strong>
        <% end %>
      </div>
      <div class="TableObject-item text-right v-align-top">
        <%= link_to url_with(:q => nil, :type => nil, :language => nil),
                :class => "issues-reset-query text-normal d-inline-block ml-3" do %>
          <%= octicon("x", :class => "issues-reset-query-icon mt-1") %>
          Clear filter
        <% end %>
      </div>
    </div>
  <% end %>

  <% if repos.any? %>
    <ul data-filterable-for="your-repos-filter" data-filterable-type="substring">
      <% repos.each do |repository| %>
        <%= render partial: "repositories/repository_graphql", locals: {repository: repository} %>
      <% end %>
    </ul>
    <% if repo_page_info.has_next_page? || repo_page_info.has_previous_page? %>
      <div class="paginate-container">
        <%= cursor_paginate(repo_page_info, previous_label: "Previous", next_label: "Next") %>
      </div>
    <% end %>
  <% elsif user_repositories_filtering?(phrase: phrase, language: language, type_filter: type_filter) %>
    <div class="blankslate mt-5">
      <h4><%= user.login %> doesn’t have any repositories that match.</h4>
    </div>
  <% else %>
    <div class="blankslate mt-5">
      <h4><%= user.login %> doesn’t have any public repositories yet.</h4>
    </div>
  <% end %>
</div>
