<%graphql
  fragment User on User {
    login
    name
    isViewer
    paginatedSponsoring: sponsorshipsAsSponsor(first: $first, last: $last, before: $before, after: $after) {
      totalCount
      nodes {
        createdAt
        tier {
          monthlyPriceInDollars
        }
        sponsorable {
          viewerIsSponsoring
          viewerCanSponsor
          isSponsoringViewer
          sponsorshipForViewerAsMaintainer {
            privacyLevel
          }
          ... on Actor  {
            name
            login
          }
          ...ApplicationHelper::LinkedAvatar
          ...ApplicationHelper::ActorProfileLink::Actor
          ...ApplicationHelper::SponsorButton::Sponsorable
        }
      }
      pageInfo {
        hasNextPage
        hasPreviousPage
        ...ApplicationHelper::CursorPaginate
      }
    }
  }
%>
<%
  user = Views::Users::Tabs::Sponsoring::User.new(user)
  sponsorships_count = user.paginated_sponsoring.total_count
  sponsorships = user.paginated_sponsoring.nodes
  sponsoring_page_info = user.paginated_sponsoring.page_info
  show_sponsorships = sponsorships_count > 0
  page_info title: user_sponsoring_title(login: user.login, name: user.name, is_viewer: user.is_viewer?)
%>
<% if show_sponsorships %>
  <div class="d-lg-flex gutter-lg mt-4">
    <div class="col-lg-12">
      <h2 class="text-gray text-small text-normal">
        <%= user.login %> is sponsoring
        <strong><%= sponsorships_count %></strong> <%= "developer".pluralize(sponsorships_count) %>
      </h2>

      <% sponsorships.each do |sponsorship| %>
        <% sponsorable = sponsorship.sponsorable %>
        <div class="d-table table-fixed col-12 width-full py-4 border-bottom border-gray-light" <%= test_selector("sponsorable-#{sponsorable.login}") %>>
          <div class="d-table-cell col-2 col-lg-1 v-align-top">
            <%= graphql_linked_avatar_for(sponsorable, 50, img_class: "avatar") %>
          </div>

          <div class="d-table-cell col-8 v-align-top pr-3">
            <%= graphql_profile_link(sponsorable, class: "d-inline-block no-underline mb-1") do %>
              <span class="f4 link-gray-dark"><%= sponsorable.name %></span>
              <span class="link-gray<% if sponsorable.name.present? %> pl-1<% end %>"><%= sponsorable.login %></span>
            <% end %>
            <div>
              <span class="text-gray text-small">
                Sponsoring since <%= sponsorship.created_at.strftime("%B %e, %Y") %>
                <% if user.is_viewer? %>
                  &bull;
                  <span <%= test_selector("sponsorable-#{sponsorable.login}-tier") %>>
                    $<%= sponsorship.tier.monthly_price_in_dollars %> tier
                  </span>
                <% end %>
              </span>
              <% if sponsorable.is_sponsoring_viewer? %>
                <span class="text-gray text-small ml-2">
                  <%= octicon "heart", class: "icon-sponsoring text-pink v-align-middle" %>
                  <% if sponsorable.sponsorship_for_viewer_as_maintainer.privacy_level == "PRIVATE" %>
                    Your private sponsor
                  <% else %>
                    Your sponsor
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>

          <div class="d-table-cell col-2 v-align-top text-right" <%= test_selector("sponsorable-#{sponsorable.login}-button") %>>
            <% if user.is_viewer? %>
              <a href="<%= sponsorable_path(sponsorable.login) %>" class="btn btn-sm">
                Manage
              </a>
            <% else %>
              <% if sponsorable.viewer_is_sponsoring? || sponsorable.viewer_can_sponsor? %>
                <% hydro_sym = sponsorable.viewer_is_sponsoring? ? :PROFILE_SPONSORING_TAB_SPONSORING : :PROFILE_SPONSORING_TAB_SPONSOR %>
                <%= graphql_sponsor_button_for(sponsorable,
                  data: sponsors_button_hydro_attributes(hydro_sym, sponsorable.login)
                ) %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if sponsoring_page_info.has_next_page? || sponsoring_page_info.has_previous_page? %>
        <div class="paginate-container" data-pjax>
          <%= cursor_paginate(sponsoring_page_info, previous_label: "Previous", next_label: "Next") %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="d-lg-flex gutter-lg">
    <div class="col-lg-12">
      <div class="blankslate mt-5">
        <% if user.is_viewer? %>
          <h4>You haven&rsquo;t sponsored any users yet.</h4>
        <% else %>
          <h4><%= user.login %> hasn&rsquo;t sponsored any users yet.</h4>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
