<%graphql
  fragment Organization on Organization {
    ...Views::Users::ContributionGraph::Organization
  }
%>
<% org = Views::Users::Tabs::YearlyContributions::Organization.new(org) %>

<div class="js-yearly-contributions">
  <%= render partial: "users/contribution_graph",
             locals: { user: user, org: org } %>

  <% if activity_overview_enabled? %>
    <div class="position-relative" id="user-activity-overview">
      <%= render partial: "users/tabs/activity_overview", locals: { data: data } %>
    </div>
  <% end %>
</div>
