<tr class="Box-row">
  <td class="p-3"><%= invitation.source.source_login %></td>
  <td class="p-3"><%= invitation.creator.login %></td>
  <td class="p-3"><%= invitation.created_at %></td>
  <td class="p-3">
    <div class="float-right">
      <% if invitation.invited? %>
        <%= button_to "Accept",
          accept_attribution_invitation_path(invitation),
          { method: :put, class: "btn btn-primary", form_class: "d-inline-block"}
        %>
      <%= button_to "Reject",
        reject_attribution_invitation_path(invitation),
        { method: :put, class: "btn btn-danger", form_class: "d-inline-block"}
      %>
  <% else %>
    <em><%= invitation.display_state %></em>
  <% end %>
    </div>
  </td>
</tr>
