<%= render Primer::SubheadComponent.new(spacious: true, hide_border: view.whitelisted_credentials.any?) do |component| %>
  <% component.slot(:heading, tag: :h2) do %>Authorized credentials<% end %>
<% end %>
<% if view.whitelisted_credentials.any? %>

  <p>
    Personal access tokens and SSH keys this member has authorized for API and Git access to this organization.
    <%= link_to "See the documentation", GitHub.sso_credential_authorization_help_url %>
    for more about authorizing API and Git access to this organization.
  </p>

  <%= render "shared/sso/authorized_credentials", view: view %>
<% else %>

  <div class="blankslate blankslate-spacious">
    <%= octicon("key", :height => 32, :class => "blankslate-icon") %>
    <h3>No authorized credentials</h3>
    <p>
      <%= view.member.login %> has not authorized any credentials for API and
      Git access to this organization.
      <%= link_to "See the documentation", GitHub.sso_credential_authorization_help_url %>
      for more about authorizing API and Git access to this organization.
    </p>
  </div>

<% end %>
