<% page_info title: "Edit Pending Vulnerability" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box Box--condensed">
    <div class="Box-header">
      <h5>Edit pending vulnerability</h5>
    </div>

    <div class="Box-body">
      <%= render "stafftools/vulnerabilities/form", {
        vulnerability: pending_vulnerability,
        url: stafftools_pending_vulnerability_path(pending_vulnerability.id)
      } %>
    </div>
  </div>
<% end %>
