<%graphql
  fragment PendingVulnerability on PendingVulnerability {
    ... on PendingVulnerability {
      databaseId
      ghsaId
      classification
      summary
      descriptionHtml
      externalIdentifier
      cveId
      whiteSourceId
      status
      severity
      reviewNotesHtml
      createdAt
      createdBy {
        login
        resourcePath
      }
      source
      sourceIdentifier
      reviewAAt
      reviewerA {
        login
        resourcePath
      }
      reviewBAt
      reviewerB {
        login
        resourcePath
      }
      externalReference
      pendingVulnerableVersionRanges {
        databaseId
        affects
        ecosystem
        requirements
        fixedIn
      }
      isReviewable
      isSubmittable
      isRejectable
      vulnerability {
        databaseId
        externalIdentifier
      }
      isSimulation
    }
  }
%>

<% page_info title: "Pending Vulnerability", selected_link: :pending_vulnerabilities %>

<%
  data         = Views::Stafftools::PendingVulnerabilities::Show::PendingVulnerability.new(data)
  status_class = "text-yellow"
%>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box mb-2">
    <div class="Box-header">
      <h5>
        <% if data.external_identifier.present? %>
          <%= content_tag(:i, data.external_identifier, class: "text-gray") %>
        <% else %>
          <i class: "text-yellow">No external ID</i>
        <% end %>
        <%= link_to edit_stafftools_pending_vulnerability_path(data.database_id), class: "float-right ml-2" do %>
          <%= octicon("pencil", class: "text-gray-light") %> Edit
        <% end %>
      </h5>

      <% if data.is_simulation %>
        <h6 class="text-red">Simulation - Internal testing Vulnerability</h6>
      <% end %>
    </div>

    <div class="Box-body vulnerability-details p-3">
      <dl class="mt-0">

        <dt>Status</dt>
        <dd>
          <%= octicon("primitive-dot", class: status_class) %>
          <%= data.status.capitalize %>
        </dd>

        <dt>GitHub Security ID</dt>
        <dd>
          <% if data.ghsa_id.present? %>
            <%= data.ghsa_id %>
          <% else %>
            <i>none</i>
          <% end %>
        </dd>

        <dt>CVE ID</dt>
        <dd>
          <% if data.cve_id.present? %>
            <%= data.cve_id %>
          <% else %>
            <i>none</i>
          <% end %>
        </dd>

        <dt>WS ID</dt>
        <dd>
          <% if data.white_source_id.present? %>
            <%= data.white_source_id %>
          <% else %>
            <i>none</i>
          <% end %>
        </dd>

        <dt>External Ref</dt>
        <dd>
          <% if data.external_reference.present? %>
            <%= link_to data.external_reference, data.external_reference.to_s %>
          <% else %>
            <i>none</i>
          <% end %>
        </dd>

        <dt>Severity</dt>
        <dd><%= data.severity %></dd>

        <dt>Summary</dt>
        <dd>
          <% if data.summary.present? %>
            <%= data.summary %>
          <% else %>
            <i>none</i>
          <% end %>
        </dd>

        <dt>Description</dt>
        <dd class="p-3 markdown-body"><%= data.description_html %></dd>

        <dt>Classification</dt>
        <dd><%= data.classification %></dd>

        <dt class="mt-3">Created</dt>
        <dd class="mt-3"><%= timestamp data.created_at %> by
        <%= link_to "@#{data.created_by.login}", data.created_by.resource_path.to_s, class: "user-mention" %></dd>

        <dt>Source</dt>
        <dd class="f6" >
          <%= vulnerability_source_octicon(data.source) %>
          <%= data.source.to_s + " " %>
          <% if data.source == RepositoryAdvisory::SOURCE_IDENTITY %>
            <% source_advisory = RepositoryAdvisory.find_by(id: data.source_identifier) %>
            <% if source_advisory && source_advisory.repository %>
              <%= link_to "#{source_advisory.nwo}##{source_advisory.id}", gh_repository_advisory_path(source_advisory) %>
            <% else %>
              Source advisory not available
            <% end %>
          <% end %>
        </dd>

        <dt>Reviewer A</dt>
        <% if data.reviewer_a.present? %>
          <dd><%= timestamp data.review_a_at %> by
          <%= link_to "@#{data.reviewer_a.login}", data.reviewer_a.resource_path.to_s, class: "user-mention" %></dd>
        <% end %>

        <dt>Reviewer B</dt>
        <% if data.reviewer_b.present? %>
          <dd><%= timestamp data.review_b_at %> by
          <%= link_to "@#{data.reviewer_b.login}", data.reviewer_b.resource_path.to_s, class: "user-mention" %></dd>
        <% end %>

        <dt>Vulnerability</dt>
        <dd>
          <% if !data.vulnerability.nil? %>
            <%= link_to data.vulnerability.external_identifier, stafftools_vulnerability_path(data.vulnerability.database_id) %>
          <% else %>
            <p>This must be reviewed and submitted</p>
          <% end %>
        </dd>

        <dt>Visibility</dt>
        <dd>
          <% if data.is_simulation %>
            <%= octicon("beaker") %> Internal
          <% else %>
            <%= octicon("globe") %> Public
          <% end %>
        </dd>

        <dt>Review notes</dt>
        <dd class="p-3"><%= data.review_notes_html %></dd>
      </dl>

      <div>
        <table>
          <tr>

            <td>
              <% submit_enabled = data.is_submittable? %>
              <%= button_to "Submit as Vulnerability", submit_stafftools_pending_vulnerability_path(data.database_id), {
                method: :put,
                class: "btn btn-primary",
                disabled: !submit_enabled
              } %>
            </td>

            <td>
              <% review_enabled = data.is_reviewable? %>
              <%= button_to "Mark Reviewed", review_stafftools_pending_vulnerability_path(data.database_id), {
                method: :put,
                class: "btn btn-primary",
                disabled: !review_enabled
              } %>
            </td>

            <td>
              <% reject_enabled = data.is_rejectable? %>
              <%= button_to "Reject", reject_stafftools_pending_vulnerability_path(data.database_id), {
                method: :put,
                class: "btn btn-danger",
                disabled: !reject_enabled
              } %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="Box mt-3 mb-3 border-bottom-0 border-top-0">
    <div class="Box-header">
      <h5>Pending vulnerable versions</h5>
    </div>

    <div class="Box-body vulnerability-details">
      <% if data.pending_vulnerable_version_ranges.any? %>
        <ul class="list-style-none">
          <% data.pending_vulnerable_version_ranges.each do |range| %>
            <li class="Box-row">
              <div class="float-right" style="width: 250px">

                <%= button_to "Preview", preview_alert_stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id, range.database_id), {
                  method: :get,
                  class: "btn btn-sm float-left mr-2"
                } %>

                <%= button_to "Edit", edit_stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id, range.database_id), {
                  method: :get,
                  class: "btn btn-sm float-left mr-2"
                } %>

                <%= button_to "Copy", new_stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id), {
                  method: :get,
                  params: { pending_vulnerable_version_range: { affects: range.affects, requirements: range.requirements, fixed_in: range.fixed_in }},
                  class: "btn btn-sm mr-2"
                } %>

                <%= button_to "Remove", stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id, range.database_id), {
                  method: :delete,
                  class: "btn btn-sm btn-danger float-left mr-2 mt-2",
                  confirm: "Are you sure you want to delete this range?",
                } %>
              </div>

              <dl class="m-0">
                <dt>Affects</dt>
                <dd>
                  <strong><%= range.affects %></strong>
                  <%= range.requirements %>
                </dd>
                <dt>Ecosystem</dt>
                <dd>
                  <strong><%= range.ecosystem %></strong>
                </dd>
                <dt>Fixed in</dt>
                <dd>
                  <% if range.fixed_in.present? %>
                    <%= range.fixed_in %>
                  <% else %>
                    <i>No fix</i>
                  <% end %>
                </dd>
                <dt>Affected Public Repo Estimate</dt>
                <dd>
                  <include-fragment src="<%= dependent_count_stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id, range.database_id) %>">
                    <%= image_tag "spinners/octocat-spinner-64.gif", :size => "16x16", :alt => "" %>
                  </include-fragment>
                </dd>
              </dl>
            </li>
          <% end %>
        </ul>
      <% else %>
        No vulnerable versions yet.
      <% end %>
    </div>
  </div>

  <%= link_to "Add pending vulnerable version", new_stafftools_pending_vulnerability_pending_vulnerable_version_path(data.database_id), {
    class: "btn btn-primary"
  } %>
<% end %>
