<%
locals = ensure_local_vars(local_assigns, {
  required: [:owner],
  optional: [:avatar_size, :input_id],
  defaults: {
    avatar_size: 200
  }
})

owner = locals[:owner]
%>

<dl>
  <dt><label class="d-block mb-2">Profile picture</label></dt>
  <dd class="avatar-upload-container clearfix position-relative">
    <%
       # load the primary avatar so we can build the unique avatar signature
       owner.primary_avatar
    -%>

    <% if action_name == "user_profile" %>
      <%= form_for owner, url: real_user_path(owner), method: :put,
        html: {
          id: "",
          novalidate: "novalidate",
          "aria-label": "Profile picture"
        } do |f| %>
        <%= file_attachment_tag(
            model: :avatars,
            input: "avatar_upload",
            class: "js-upload-avatar-image is-default",
            :"data-alambic-owner-id" => owner.id,
            :"data-alambic-owner-type" => owner.class.base_class.name) do %>
          <input type="file" id="avatar_upload" class="manual-file-chooser width-full ml-0" hidden>
          <%= render partial: "settings/avatar_error"%>
        <% end %>
      <% end %>
      <div class="avatar-upload">
        <details class="dropdown details-reset details-overlay">
          <summary>
            <%= avatar_for owner, locals[:avatar_size], class: "avatar rounded-2" %>
            <div class="position-absolute bg-gray-dark rounded-2 text-white px-2 py-1 left-0 bottom-0 ml-2 mb-2">
              <%= octicon("pencil", height: 16, width: 16) %>
              Edit
            </div>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-se" style="z-index: 99">
            <label for="avatar_upload" class="dropdown-item text-normal" style="cursor: pointer;" role="menuitem" tabindex="0">
              Upload a photo&hellip;
            </label>
            <% if has_primary_avatar_to_reset? %>
              <%= form_tag settings_reset_avatar_path, method: :put do -%>
                <button
                  class="btn-link dropdown-item <%= "js-detect-gravatar" if GitHub.gravatar_enabled? %>"
                  type="submit"
                  name="op"
                  value="reset"
                  role="menuitem"
                  data-disable-with
                  data-confirm="Are you sure you want to reset your current avatar?"
                  data-gravatar-text="Revert to Gravatar"
                  data-url="/settings/user_has_gravatar">
                  Remove photo
                </button>
              <% end -%>
            <% end %>
          </details-menu>
        </details>

        <div class="upload-state loading position-absolute bg-gray-light rounded-2" style="top: 0; right: 0; opacity: 0.25; width: 200px; height: 200px;">
          <%= image_tag "spinners/octocat-spinner-128.gif", class: "position-absolute", style: "top: 40px; left: 35px;", alt: "Loading" %>
        </div>
      </div>
    <% else %>
      <%= avatar_for owner, locals[:avatar_size], class: "avatar rounded-1" %>

      <div class="avatar-upload">
        <label class="position-relative btn button-change-avatar mt-3">
          Upload new picture
          <input
            type="file"
            <% if locals[:input_id] %>id="<%= locals[:input_id] %>"<% end %>
            class="manual-file-chooser width-full height-full ml-0 left-0 top-0 position-absolute">
        </label>

        <div class="upload-state loading">
          <button type="button" class="btn mt-3" disabled>
            <%= image_tag "spinners/octocat-spinner-32.gif", width: 16, height: 16, alt: "", class: "v-align-text-bottom" %> Uploading...
          </button>
        </div>
      </div> <!-- /.avatar-upload -->
      <%= render partial: "settings/avatar_error"%>
    <% end %>
  </dd>
</dl>
