<div class="avatar-upload">
  <div class="upload-state text-red file-empty">
    This file is empty.
  </div>

  <div class="upload-state text-red too-big">
    Please upload a picture smaller than 1 MB.
  </div>

  <div class="upload-state text-red bad-dimensions">
    Please upload a picture smaller than 10,000x10,000.
  </div>

  <div class="upload-state text-red bad-file">
    We only support PNG, GIF, or JPG pictures.
  </div>

  <div class="upload-state text-red failed-request">
    Something went really wrong and we can’t process that picture.
  </div>

  <div class="upload-state text-red bad-format">
    File contents don’t match the file extension.
  </div>
</div>
