<%# erblint:disable DeprecatedCustomCss %>
<%= stylesheet_bundle "site" %>

<div class="border-bottom">
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-4 float-left">
        <%= render(Primer::BreadcrumbComponent.new(py: 3)) do |component| %>
          <% component.slot(:item, href: settings_user_profile_path) do %>Settings<% end %>
          <% component.slot(:item, selected: true) do %>Developer settings<% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-content container clearfix">
  <%= render_partial_view "navigation/developer_settings", Settings::NavigationView %>
  <div class="col-9 float-left">
    <%= yield %>
  </div>
</div>
