<%= stylesheet_bundle "site" %>

<% page_info responsive: false, title: "OAuth application settings", class: 'page-account' %>

<div class="border-bottom">
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-12 float-left">
        <%= render(Primer::BreadcrumbComponent.new(py: 3)) do |component| %>
          <% if current_context.is_a?(Organization) %>
            <% component.slot(:item, href: settings_org_profile_path(current_context)) do %><%= current_context.name %> settings<% end %>
            <% component.slot(:item, href: settings_org_applications_path(current_context)) do %>OAuth Apps<% end %>
          <% else %>
            <% component.slot(:item, href: settings_user_profile_path) do %>Settings<% end %>
            <% component.slot(:item, href: settings_user_developer_applications_path) do %>Developer settings<% end %>
          <% end %>
          <% component.slot(:item, selected: true) do %><%= current_application.name %><% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-content container-lg px-3 clearfix">
  <%= render_partial_view "navigation/oauth_application", Settings::NavigationView %>
  <div class="col-9 float-left">
    <%= yield %>
  </div>
</div>
