<%# erblint:counter TooltipCounter 1 %>
<% page_info :title => "#{view.name_with_owner}: Importing" %>

<div class="container-sm my-5">
  <div class="Subhead mt-3 mb-3">
    <h2 class="Subhead-heading">We found some files suitable for Git LFS</h2>
    <p class="Subhead-description">
      This has billing implications so we need to ask if you would like to opt-in or opt-out.
    </p>
  </div>
  <div id="lfs-file-list" data-pjax-container>
    <%= render :partial => "repository_imports/large_files/lfs_file_list", :locals => { :view => view } %>
  </div>
  <div class="my-4 js-repository-import-lfs-container">
    <div class="mb-2">
      <%= octicon "database", :class => "lfs-data-icon dark" %>
      <b>Storage</b> –
      Using <span class="js-usage-text"><%= number_with_delimiter(view.asset_status.storage_usage) %></span> of <%= number_with_delimiter(view.asset_status.storage_quota.round) %> GB
      <div class="usage-bar js-usage-bar <%= "exceeded" if view.asset_status.storage_usage_percentage >= 100 %> tooltipped tooltipped-e" aria-label="<%= view.asset_status.storage_usage_percentage %>%">
        <div class="progress js-repository-import-lfs-progress" style="width: <%= view.asset_status.storage_usage_percentage %>%"></div>
      </div>
    </div>

    <%= form_tag repository_import_large_files_path(view.url_params), :method => :put do %>
      <div class="form-checkbox">
        <label>
          <input type="radio" checked name="gitlfs" value="opt-out" class="js-repository-import-lfs-opt" data-percent-used="<%= view.ceiling_percentage %>" data-used="<%= view.asset_status.storage_usage %>">
          Exclude large files
        </label>
        <p class="note">
          This <strong>will not</strong> import any of your large files from your old repository.
        </p>
      </div>
      <div class="form-checkbox">
        <label>
          <input type="radio" name="gitlfs" value="opt-in" class="js-repository-import-lfs-opt" data-percent-used="<%= view.percentage_used_with_lfs %>" data-used="<%= view.storage_usage_with_lfs %>">
          Include large files
        </label>
        <p class="note">
          We will store your files using <a href="https://git-lfs.github.com/" target="_blank">git-lfs</a>, but this may increase your billing.
        </p>
        <p class="flash flash-warn mt-2 p-3 d-none js-repository-import-lfs-warn">
          Git LFS access has been disabled because
          <% if view.repository.owner.organization? %>
            this organization
          <% else %>
            your personal account
          <% end %>
          is over its data quota.
          <% unless GitHub.enterprise? %>
            <%= link_to "Purchase additional data to re-enable.", target_billing_upgrade_data_plan_path(view.repository.owner) %>
          <% end %>
        </p>
      </div>
      <button type="submit" class="btn">Continue</button>
    <% end %>
  </div>
</div>
