<%= fields_for gpg_key do |f| %>
  <dl class="form-group">
    <dt><label for="gpg_key_public_key">Key</label></dt>
    <dd><%= f.text_area :public_key, :class => "key_value", :placeholder => "Begins with '-----BEGIN PGP PUBLIC KEY BLOCK-----'" %></dd>
  </dl>
<% end %>
