<% page_info title: view.page_title %>
<% user = view.user %>

<% unless GitHub.enterprise? %>
<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>Prerelease<% end %>
<% end %>

<table class="stafftools-table mb-6">
  <tr>
    <th>Pre-release?</th>
    <td>
      <% if view.prerelease_agreement_signed? %>
        Yes &ndash; agreement signed
        <% if this_user.organization? %>
          by
          <%= link_to \
                view.prerelease_agreement.actor,
                stafftools_user_path(view.prerelease_agreement.actor)
          %>
        <% end %>
        on <%= view.prerelease_agreement.created_at.to_date %>
        &ndash;
        <small>
          <%= link_to \
                "view agreement changelog",
                "https://github.com/github/help-docs/commits/master/content/dotcom/articles/github-pre-release-program.md"
          %>
        </small>
      <% else %>
        No
      <% end %>
    </td>
  </tr>
</table>
<% end %>


<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>Feature & beta enrollments<% end %>
<% end %>


<div class="boxed-group">
  <h3>Available features</h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone">
      <% view.feature_enrollments.each do |feature| %>
        <li class="clearfix">
          <span class="float-right">
            <%= view.enrolled?(feature, this_user) ? "Enrolled" : "Not Enrolled" %>
            <%= button_to "Toggle",
            toggle_stafftools_user_feature_enrollments_path(this_user, params: { feature: feature.slug }),
              :form_class => "inline-form float-right",
              :class => "btn btn-sm" %>
          </span>

          <span>
            <strong><%= feature.slug %></strong>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="boxed-group">
  <h3>Beta features (deprecated)</h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone">
    <% view.beta_enrollments.each do |enrollment| %>
      <li class="clearfix">
        <span class="float-right">
          <%= enrollment[:enabled] ? "Enrolled" : "Not Enrolled" %>
          <%= button_to "Toggle",
          toggle_stafftools_user_feature_enrollments_path(this_user, params: { feature: enrollment[:feature] }),
            :form_class => "inline-form float-right",
            :class => "btn btn-sm" %>
        </span>

        <span>
          <strong><%= enrollment[:feature] %></strong>
        </span>
      </li>
    <% end %>
    </ul>
  </div>
</div>
