<%
  view = NavigationHelper::RepositoryNavigationView.new(current_user, current_repository)
  nav_classes = "SideNav border rounded-1 overflow-hidden"
  menu_item_class = "SideNav-item"
%>

<div class="d-none d-md-block col-3 pr-4 flex-shrink-0">
  <nav class="<%= nav_classes %>" aria-label="Security" data-pjax>

    <%= selected_link_to repository_security_overview_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :overview do %>
      <span class="flex-1">Overview</span>
    <% end %>

    <% if !GitHub.enterprise? %>
      <%= selected_link_to repository_security_policy_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :policy do %>
        <span class="flex-1">Security policy</span>
      <% end %>

      <%= selected_link_to repository_advisories_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :security do %>
        <span class="flex-1">Security advisories</span>
        <%= render Primer::CounterComponent.new(count: view.security_advisories_count, limit: 5_000) %>
      <% end %>

      <% if view.show_alerts? %>
        <%= selected_link_to network_alerts_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :alerts do %>
          <span class="flex-1">Dependabot alerts</span>
          <%= render Primer::CounterComponent.new(count: view.security_network_alerts_count, hide_if_zero: true, limit: 5_000) %>
        <% end %>
      <% end %>
    <% end %>

    <% if view.show_code_scanning? %>
      <%= selected_link_to repository_code_scanning_results_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :code_scanning do %>
        <span class="flex-1">Code scanning alerts</span>
        <%= render Primer::CounterComponent.new(count: view.security_code_scanning_count, hide_if_zero: true, limit: 5_000, test_selector: "code-scanning-count") %>
      <% end %>

      <% if local_assigns[:code_scanning_tool_filters].present? %>
        <nav class="SideNav bg-white border-top py-1 pl-6" aria-label="Tools">
          <% code_scanning_tool_filters.each do |tool| %>
            <a href="<%= tool[:url] %>"
                class="SideNav-subItem d-flex flex-items-center py-2"
                <% if tool[:selected] %>aria-current="page"<% end %>
                <%= test_selector("code-scanning-tool-link") %>
            >
              <span class="flex-1"><%= tool[:name] %></span>
              <%# TODO add counts once relevant Turbo-Scan endpoint implemented %>
            </a>
          <% end %>
        </nav>
      <% end %>
    <% end %>

    <% if view.show_token_scanning? %>
      <%= selected_link_to repository_token_scanning_results_path, class: "#{menu_item_class} d-flex flex-items-center", highlight: :token_scanning do %>
        <span class="flex-1">Detected secrets</span>
        <% if current_repository.show_token_scanning_results?(current_user) %>
          <%= render Primer::CounterComponent.new(count: view.security_token_scanning_count, limit: 5_000) %>
        <% end %>
      <% end %>
    <% end %>
  </nav>
</div>

<div class="col-12 d-md-none flex-shrink-0 mt-n4">
  <nav class="UnderlineNav" aria-label="Security" data-pjax>
    <div class="UnderlineNav-body">
      <%= selected_link_to repository_security_overview_path, class: "UnderlineNav-item flex-shrink-0", highlight: :overview do %>
        Overview
      <% end %>

      <% if !GitHub.enterprise? %>
        <%= selected_link_to repository_security_policy_path, class: "UnderlineNav-item flex-shrink-0", highlight: :policy do %>
          Security policy
        <% end %>

        <%= selected_link_to repository_advisories_path, class: "UnderlineNav-item flex-shrink-0", highlight: :security do %>
          Security advisories
          <%= render Primer::CounterComponent.new(count: view.security_advisories_count, limit: 5_000) %>
        <% end %>

        <% if view.show_alerts? %>
          <%= selected_link_to network_alerts_path, class: "UnderlineNav-item flex-shrink-0", highlight: :alerts do %>
            Dependabot alerts
            <%= render Primer::CounterComponent.new(count: view.security_network_alerts_count, limit: 5_000) %>
          <% end %>
        <% end %>

        <% if view.show_code_scanning? %>
          <%= selected_link_to repository_code_scanning_results_path, class: "UnderlineNav-item flex-shrink-0", highlight: :code_scanning do %>
            Code scanning alerts
            <%= render Primer::CounterComponent.new(count: view.security_code_scanning_count, limit: 5_000) %>
          <% end %>
        <% end %>
      <% end %>

      <% if view.show_token_scanning? %>
        <%= selected_link_to repository_token_scanning_results_path, class: "UnderlineNav-item flex-shrink-0", highlight: :token_scanning do %>
          Detected secrets
          <% if current_repository.show_token_scanning_results?(current_user) %>
            <%= render Primer::CounterComponent.new(count: view.security_token_scanning_count, limit: 5_000) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
</div>
