<% page_info :title => "Dependency Graph", :selected_link => :dependency_graph %>
  <%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3> Package Search and Mapper </h3>
    <div class="boxed-group-inner">
      <p>
        This tool helps to query for packages that exist on GitHub. The search has two modes; either searching for all packages or for unmapped ones.
        Searches can be based on package managers alone or the combination of package name and manager.
        Package results are returned in order of most dependents per package. Packages can be assigned to repositories once they have been found.
      </p>
      <br>
      <%= form_tag stafftools_dependency_graph_package_results_path do %>
        <div class="d-flex">
          <div class="col-4 pr-3">
            <label for="query_name" class="d-block mb-2">Package Name</label>
            <%= text_field_tag :query_name, nil , class: "form-control width-full" %>
          </div>
          <div class="col-4 pr-3">
            <label for="query_manager" class="d-block mb-2">Package Manager</label>
            <%= select_tag :query_manager, options_for_select(Platform::Enums::VulnerabilityPlatform.graphql_values, "RUBYGEMS"), class: "form-select width-full" %>
          </div>
          <div class="col-4">
            <label for="query_all" class="d-block mb-2">Search Type</label>
            <%= select_tag(:query_all, options_for_select([['All Packages', "true"], ['Unmapped Packages', "false"]], "true"), class: "form-select width-full")%>
          </div>
        </div>
        <hr>
        <button class="btn" type="submit">Search</button>
      <% end %>
    </div>
  </div>
<% end %>
