<% page_info title: "#{query_all ? 'All' : 'Unmapped'} Packages - Dependency Graph", :selected_link => :dependency_graph %>

<%graphql
  fragment Packages on Query {
    dependencyGraphPackages(names: $names, packageManager: $packageManager, limit: $limit, first: $first) {
      nodes {
        name
        packageManager
        packageManagerHumanName
        repositoryId
      }
    }
  }

  fragment UnmappedPackages on Query {
    dependencyGraphUnmappedPackages(names: $names, packageManager: $packageManager, limit: $limit, first: $first) {
      nodes {
        name
        packageManagerHumanName
        packageManager
        repositoryId
      }
    }
  }
%>

<% if query_all %>
  <% packages = Views::Stafftools::DependencyGraph::Packages::Packages.new(data) %>
  <% packages = packages.dependency_graph_packages.nodes %>
<% else %>
  <% packages = Views::Stafftools::DependencyGraph::Packages::UnmappedPackages.new(data) %>
  <% packages = packages.dependency_graph_unmapped_packages.nodes %>
<% end %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="Box mb-3">
    <div class="Box-header">
      <h5>Package Results</h5>
    </div>

    <div class="Box-body">
      <% if packages.empty? %>
        <p class="text-bold m-0">No associated packages found</p>
      <% else %>
        <p class="Box-row p-0">
          Packages are algorithmically linked to repositories. Some packages below
          have been assigned to a specific repository. If any of the assignments is
          incorrect, reassign them as appropriate. If a package is unmapped and you know
          the repository to map it to, click the assign button to map it to the respective
          repository.
        </p>
        <hr>
        <ul>
          <% packages.each do |package| %>
            <li class="Box-row pl-0 pr-0">
              <span class="float-right">
                <div>
                  <%= render layout: "shared/details_dialog", locals: {
                    button_text: "Assign this package",
                    title: "Assign package: #{package.name}",
                    button_class: "btn btn-danger btn-sm"
                  } do %>
                    <div class="Box-body overflow-auto">
                      <%= form_tag({controller: "dependency_graph", action: "assign_package"}, method: "post",  class: "stafftools-form") do %>
                        <%= hidden_field_tag :package_manager, package.package_manager %>
                        <%= hidden_field_tag :package_name, package.name %>
                        <%# Specify existing search query for redirect after assignment %>
                        <%= hidden_field_tag :query_all, query_all %>
                        <%= hidden_field_tag :query_manager, query_manager %>
                        <%= hidden_field_tag :query_name, query_name %>
                        <dl class="form-group">
                          <p> Assign package to an existing repository on GitHub. </p>
                          <dt><label for="target-repository">Assign to:</label></dt>
                          <dd>
                            <input type="text" name="target_repository" class="form-control" id="target-repository" aria-label="assign package" placeholder="Enter repository in format owner/name" autofocus>
                          </dd>
                        </dl>
                        <button type="submit" class="btn btn-block btn-danger mt-2" data-close-dialog autofocus>
                          Assign
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </span>
              <div class="summary">
                <dl class="m-0 flattened">
                  <dt class="text-emphasized">Package Name:</dt>
                  <dd><%= package.name %></dd>

                  <dt class="text-emphasized">Package Manager: </dt>
                  <dd><%= package.package_manager_human_name %></dd>

                  <dt class="text-emphasized">Associated Repository: </dt>
                  <dd><%= package.repository_id ? link_to_nwo_from_repository_id(package.repository_id) : "None" %></dd>
                </dl>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
