<div class="boxed-group">
  <h3>Dependency graph</h3>
  <div class="boxed-group-inner clearfix">
    <%= form_tag clear_org_dependencies_stafftools_dependency_graph_path(this_user)  do %>
      <button type="submit" class="btn boxed-action">Clear</button>
    <% end %>
    <h4>Clear dependencies</h4>
    <p>
      Clears this orgs's manifests and dependencies from the dependency graph.
    </p>

    <hr class="full-bleed">
    <%= form_tag redetect_org_dependencies_stafftools_dependency_graph_path(this_user) do %>
      <button type="submit" class="btn boxed-action">Redetect</button>
    <% end %>
    <h4>Redetect dependencies</h4>
    <p>
      Queue background jobs to detect this orgs’s manifest files.
    </p>
  </div>
</div>
