<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :updates } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Email updates<% end %>
    <% component.slot(:actions) do %>
      <a href="<%= new_sponsorable_dashboard_update_path(sponsorable) %>" class="btn" role="button">Draft a new update</a>
    <% end %>
  <% end %>

  <% if newsletters.none? %>
    <div class="blankslate blankslate-spacious">
      <%= octicon "mail-read", height: 32, class: "blankslate-icon" %>
      <h3>
        You haven't created any email updates yet
      </h3>
      <div class="mt-1">
        You can let your sponsors know what you've been working on with email updates.
      </div>
    </div>
  <% else %>
    <% newsletters.each do |newsletter| %>
      <div class="mb-6">
        <div class="d-flex flex-items-center">
          <p class="mb-1 flex-auto f2">
            <span <%= test_selector("update-subject")%>><%= newsletter.subject %></span>
            <% if newsletter.draft? %>
              <span title="Label: draft" class="Label Label--outline border-yellow text-yellow v-align-middle ml-2">Draft</span>
            <% else %>
              <span title="Label: published" class="Label Label--outline border-green text-green v-align-middle ml-2">Published</span>
            <% end %>
          </p>
          <% if newsletter.draft? %>
            <a href="<%= edit_sponsorable_dashboard_update_path(sponsorable, newsletter) %>" class="btn btn-sm">Edit</a>
          <% end %>
        </div>
        <div class="d-flex flex-items-center mb-3 text-gray">
          <p class="mb-0">
            <strong><a href="<%= user_path(newsletter.author.login) %>" class="text-gray-dark"><%= newsletter.author.login %></a></strong>
            <% if newsletter.draft? %>
              updated this draft <%= time_ago_in_words_js newsletter.updated_at %>
            <% else %>
              published an update <%= time_ago_in_words_js newsletter.updated_at %>
            <% end %>
            for
            <% if newsletter.sponsors_tiers.size > 0 %>
              <%= render partial: "sponsors/updates/tiers_with_access",
                locals: { newsletter: newsletter } %>
            <% else %>
              all sponsors
            <% end %>
          </p>
        </div>
        <div class="markdown-body comment-body mt-2 mb-4 p-0">
          <%= github_flavored_markdown(newsletter.body) %>
        </div>
      </div>
    <% end %>

    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate newsletters %>
      </div>
    </div>
  <% end %>
<% end %>
