<label for="select-all-checkbox" class="table-list-header-meta py-0 <% if selected_ids.present? %>sr-only<% end %>">
  <div class="text-gray-light">
    <%= octicon "person" %>
    <%= pluralize selected_count, "member" %>
  </div>
</label>

<% if selected_ids.present? %>
  <details class="dropdown details-reset details-overlay d-inline-block">
    <summary class="btn btn-sm mr-3" aria-haspopup="true" id="manage-access-dropdown"
      data-ga-click="Orgs, selected, location:member list bulk; text:selected">
      <%= pluralize selected_count, "member" %> selected…
      <div class="dropdown-caret"></div>
    </summary>

    <button class="SelectMenu-closeButton" type="button">
      <%= octicon "x" %>
    </button>

    <details-menu class="dropdown-menu dropdown-menu-se">
      <div>
        <%= render layout: "shared/details_dialog", locals: {
            details_class: "width-full",
            button_class: "dropdown-item",
            button_text: "Change role",
            button_role: "menuitem",
            ga_click: "Orgs, change member role, location:member list bulk; text:Change role...",
            title: "Change the role of #{pluralize selected_count, "member"}?"
          } do %>
          <%= render partial: "registry_two/package_settings/access_management/bulk_update_form",
            locals: { selected_count: selected_count, selected_ids: selected_ids } %>
        <% end %>
      </div>
    </details-menu>
  </details>
<% end %>
