<%# erblint:counter TooltipCounter 1 %>

<%
  package_roles = {
    "package_reader" => { name: "Read", description: "Can download this package and read package metadata." },
    "package_writer" => { name: "Write", description: "Can upload and download this package. Can read and write package metadata." },
    "package_admin" => { name: "Admin", description: "Can upload, download, and manage this package. Can read and write package metadata. Can grant package permissions." },
  }
%>

<%= form_tag update_package_collaborator_path, method: :post, class: "select-menu js-select-repo-permission d-flex flex-items-center" do %>
    <input name="collaborator" type="hidden" value="<%= member.class.name.downcase %>/<%= member.id %>">

    <details class="dropdown details-reset details-overlay">
    <summary class="btn btn-sm" aria-haspopup="true">
      <span class="text-normal text-gray">Role: </span>
      <span data-menu-button><%= package_roles[role.name][:name] %></span>
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="SelectMenu right-0">
      <div class ="SelectMenu-modal" style="width:320px;max-height:545px;">
        <header class="SelectMenu-header d-flex flex-justify-between">
          <span class="SelectMenu-title">Choose role</span>
        </header>
        <div class="SelectMenu-list">
          <% package_roles.each do |role_slug, r| %>
            <label role="menuitemradio" class="SelectMenu-item" aria-checked="<%= role_slug == role.name %>" tabindex="0">
              <%= radio_button_tag "permission", role_slug, false, {"data-autosubmit": true , hidden: true, id: nil} %>
              <div class="d-flex">
                <span class="SelectMenu-icon SelectMenu-icon--check mt-1"><%= octicon "check" %></span>
                <span>
                  <h5 data-menu-button-text><%= r[:name] %></h5>
                  <span class="f6 text-normal"><%= r[:description] %></span>
                </span>
              </div>
            </label>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
  <span class="js-permission-success" hidden aria-label="Save successful">
    <%= octicon("check", class: "text-green ml-3") %>
  </span>
  <span class="js-permission-error ml-3 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again">
    <%= octicon("alert", class: "text-red") %>
  </span>
<% end %>
