<div class="d-flex flex-grow-0">
  <%= render layout: "shared/details_dialog", locals: {
    button_icon: "trashcan",
    button_text: "",
    title: "Confirm you want to remove this user",
    button_class: "close-button btn-octicon-danger",
    button_aria_label: "remove access to user from this package"
  } do %>
    <%= form_tag remove_package_collaborator_path,
        "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
        method: :delete do %>
      <input name="collaborator" type="hidden" value="<%= member.class.name.downcase %>/<%= member.id %>">

      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Once removed,
          <span class="text-bold"><%= member.name %></span>
          will no longer have access to the
          <span class="text-bold"><%= package.name %></span>
          package.
        </p>
        <button type="submit" class="btn btn-danger btn-block mt-3" data-close-dialog>
          Remove <%= member.name %> from <%= package.name %>
        </button>
      </div>
    <% end %>
  <% end %>
</div>
