<a href="<%= team_path(team) %>">
  <%= avatar_for team, 32, class: "avatar mx-3", data: hovercard_data_attributes_for_team(team) %>
</a>

<div class="d-flex flex-column flex-auto col-6">
  <a class="" href="<%= team_path(team) %>"><strong><%= team.name %></strong></a>
  <span class="f6 text-gray">
    @<%= team.slug %> &bull; <%= pluralize team.members_scope.count, 'member' %>
  </span>
</div>
