<a href="<%= user_path(user) %>">
  <%= avatar_for user, 32, class: "avatar mx-3", data: hovercard_data_attributes_for_user(user) %>
</a>

<div class="d-flex flex-column flex-auto col-6">
  <a href="<%= user_path(user) %>"><strong><%= user.safe_profile_name %></strong></a>
  <span class="f6 text-gray">
    <%= user.name %>
  </span>
</div>
