<%
  page_info \
    :title => "Pull Request ##{this_issue.number} comment ##{this_comment.id} database record",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Pull Requests",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "Pull Requests ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      /
      <%= link_to \
            "Review Comments",
            gh_stafftools_repository_pull_request_review_comments_path(this_pull) %>
      /
      <%= link_to \
            "Comment ##{this_comment.id}",
            gh_stafftools_repository_pull_request_review_comment_path(this_comment) %>
      / Database
    </h2>
  </div>

  <%= render \
        :partial => "stafftools/database",
        :locals => {:record => this_comment, :blacklist => %w(body diff_hunk)} %>
</div>
