<% if current_repository_writable? && can_edit_pull_request_blobs? && !uneditable_type %>
  <a href="<%= delete_file_path %>" role="menuitem" class="pl-5 dropdown-item menu-item-danger btn-link" rel="nofollow" data-skip-pjax aria-label="Delete this file" data-ga-click="Delete file, click, location:files_changed_dropdown">
    Delete file
  </a>
<% else %>
  <button type="button" disabled role="menuitem" class="pl-5 dropdown-item btn-link" aria-label="You must be signed in and have push access to delete this file.">
    Delete file
  </button>
<% end %>
