<a href="<%= view_file_path %>"
   class="pl-5 dropdown-item btn-link"
   rel="nofollow"
   role="menuitem"
   data-ga-click="View file, click, location:files_changed_dropdown"
   <%= test_selector("#{test_selector_prefix}-view-file") %>>
   View file
</a>
