<%
collection = changeset.collection
slug = collection.slug.present? ? collection.slug : changeset.to_h["slug"]
%>

<h4 class="f3-light mb-2">
  <input type="checkbox" class="js-import-explore-item-checkbox" id="collection_<%= slug %>" value="<%= slug %>" name="collections[]" aria-label="Import collection <%= slug %>">
  <label for="collection_<%= slug %>"><%= slug %></label>
  <a href="/collections/<%= slug %>" class="float-right text-small text-gray" target="_blank">
    View collection page
  </a>
</h4>
<table class="boxed-group-table">
  <tbody>
    <% changeset.each do |field, value| %>
      <tr>
        <th class="no-wrap"><%= field.humanize %></th>
        <td>
          <% if field == "items" %>
            <% if value["old"].present? %>
              <div class="blob-code-deletion p-2 rounded-1">
                <%= value["old"] %>
              </div>
            <% end %>
            <% if value["new"].present? %>
              <div class="blob-code-addition p-2 rounded-1">
                <%= value["new"] %>
              </div>
            <% end %>
          <% else %>
            <% if value.present? %>
              <div class="blob-code-deletion p-2 rounded-1">
                <% if field.ends_with?("url") %><a href="<%= value %>" target="_blank" class="d-flex flex-items-center wb-break-all"><% end %>
                <% if field == "image_url" %>
                  <img src="<%= value %>" width="36" height="36" class="border rounded-2 p-1 d-block mr-2 bg-white" alt="<%= collection.slug %> old logo">
                <% end %>
                <%= value %>
                <% if field.ends_with?("url") %></a><% end %>
              </div>
            <% end %>
            <% if (new_value = collection.send(field)).present? %>
              <div class="blob-code-addition p-2 rounded-1">
                <% if field.ends_with?("url") %><a href="<%= new_value %>" target="_blank" class="d-flex flex-items-center wb-break-all"><% end %>
                <% if field == "image_url" %>
                  <img src="<%= new_value %>" width="36" height="36" class="border rounded-2 p-1 d-block mr-2 bg-white" alt="<%= collection.slug %> new logo">
                <% end %>
                <%= new_value %>
                <% if field.ends_with?("url") %></a><% end %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
