<% collection = changeset.collection %>

<h4 class="f3-light mb-2">
  <input type="checkbox" class="js-import-explore-item-checkbox" id="collection_<%= collection.slug %>" value="<%= collection.slug %>" name="collections[]" aria-label="Import collection <%= collection.slug %>">
  <label for="collection_<%= collection.slug %>">
    <%= collection.slug %>
  </label>
</h4>

<table class="boxed-group-table">
  <tbody>
    <tr>
      <th class="no-wrap">Image URL</th>
      <td>
        <% if collection.image_url %>
          <div class="blob-code-addition p-2 rounded-1">
            <a href="<%= collection.image_url %>" class="d-flex flex-items-center wb-break-all">
              <img src="<%= collection.image_url %>" width="36" height="36" alt="" class="border rounded-2 p-1 d-block mr-2 bg-white">
              <%= collection.image_url %>
            </a>
          </div>
        <% end %>
      </td>
    </tr>


    <tr>
      <th class="no-wrap">
        Items
      </th>
      <td>
        <div class="blob-code-addition p-2 rounded-1">
          <%= changeset.new_items %>
        </div>
      </td>
    </tr>

    <% attributes = %i(created_by description display_name) %>
    <% attributes.each do |attribute| %>
      <tr>
        <th class="no-wrap">
          <%= attribute.to_s.titleize %>
        </th>

        <td>
          <% if collection.send(attribute).present? %>
            <div class="blob-code-addition p-2 rounded-1">
              <%= collection.send(attribute) %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
