<%# erblint:disable ButtonHasType %>
<%graphql
  fragment Repository on Repository {
    resourcePath
    nameWithOwner
  }
%>

<%
  explore_repository = Views::Biztools::Collections::Import::Repository.new(explore_repository)
%>

<% page_info title: "Collections Import Preview · Biztools", selected_link: :collections %>

<%= render layout: "biztools/biztools" do %>
  <h1 class="f1-light mb-2">Collection Import Preview</h1>
  <p>
    If you see anything that needs to be changed, make those changes in
    <a href="<%= explore_repository.resource_path %>"><%= explore_repository.name_with_owner %></a>,
    then re-run the import.
  </p>
  <p class="mb-4">Select some collections to import:</p>

  <%= form_tag import_biztools_collections_path, method: :post do %>
    <% if importer.errors.any? %>
      <div class="boxed-group dangerzone" id="import-errors">
        <h3>Import errors</h3>
        <div class="boxed-group-inner">
          <ul class="boxed-group-list standalone">
            <% importer.errors.each do |error_message| %>
              <li class="text-red"><%= error_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if import_result.any_new? %>
      <div class="boxed-group">
        <h3>New collections (<%= import_result.new_count %>)</h3>
        <div class="boxed-group-inner">
          <ul class="boxed-group-list standalone">
            <% new_changesets.each_with_index do |changeset, i| %>
              <li class="<%= "mt-3" if i > 0 %> <%= "pb-4" if i < import_result.new_count - 1 %>">
                <%= render partial: "biztools/collections/new_collection", locals: { changeset: changeset } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if import_result.any_updates? %>
      <div class="boxed-group">
        <h3>Updates (<%= import_result.updated_count %>)</h3>
        <div class="boxed-group-inner">
          <ul class="boxed-group-list standalone">
            <% updated_changesets.each_with_index do |changeset, i| %>
              <li class="<%= "mt-3" if i > 0 %> <%= "pb-4" if i < import_result.updated_count - 1 %>">
                <%= render partial: "biztools/collections/changed_collection",
                           locals: { changeset: changeset } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% if importer.errors.empty? %>
      <div class="boxed-group">
        <h3>Confirm import</h3>
        <div class="boxed-group-inner clearfix">
          <input type="hidden" name="write_mode" value="1">
          <button type="submit" disabled class="btn boxed-action js-explore-item-import-button">
            Import <span class="js-explore-item-import-count" data-suffix-singular="Collection" data-suffix-plural="Collections">0 Collections</span>
          </button>
          <p>Confirm that you want to import these collections:</p>
          <div class="js-explore-item-import-summary"></div>
        </div>
      </div>
    <% else %>
      <div class="boxed-group dangerzone">
        <h3>Import errors</h3>

        <div class="boxed-group-inner">
          <button disabled class="btn boxed-action">
            Import Collections
          </button>

          <p class="text-red">
            The importer encountered <a href="#import-errors">errors</a> reading collection data.
            Please fix these errors in the
            <a href="<%= explore_repository.resource_path %>"><%= explore_repository.name_with_owner %></a>
            repository and try again.
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
