<%graphql
  fragment Root on Query {
    repository(owner: $owner, name: $name) {
      resourcePath
      nameWithOwner
      isPrivate
    }

    ...Views::Biztools::Collections::CuratedCollections::Root
  }
%>

<%
  data = Views::Biztools::Collections::Index::Root.new(data)

  collections_repository = data.repository
%>

<% page_info title: "Explore Collections · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <% if collections_repository && !collections_repository.is_private? %>
    <div class="boxed-group">
      <h3>Import from <%= collections_repository.name_with_owner %></h3>

      <%= form_tag import_biztools_collections_path, method: :post, class: "boxed-group-inner clearfix" do %>
        <button type="submit" class="btn boxed-action">
          Import Collections
        </button>

        Import the latest collections from the
        <a href="<%= collections_repository.resource_path %>"><%= collections_repository.name_with_owner %></a>
        repository. The community contributes descriptions, images, and relevant URLs for
        collections via <%= collections_repository.name_with_owner %>. Import their contributions so they
        appear on GitHub pages.
      <% end %>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3>Curated Collections</h3>
    <div class="boxed-group-inner py-0">
      <div class="my-2">
        Collections that appear here will appear on <%= link_to collections_path %>. Collections
        that are featured appear at the top of the collections page and get additional callouts.
      </div>
      <div id="curated-collections" class="js-curated-explore-items-container" data-pjax-container>
        <%= render partial: "biztools/collections/curated_collections",
                   locals: { data: data, featured: featured, query: query } %>
      </div>
    </div>
  </div>
<% end %>
