<%# erblint:counter TooltipCounter 3 %>
<% if actor.is_a?(Team) %>
  <div class="table-list-item js-authorized-user-or-team" data-user-or-team-name="team/<%= actor.id %>">
    <div class="table-list-cell">
      <a href="<%= team_path(actor) %>" aria-label="<%= actor %>" class="muted-link">
        <%= octicon("jersey", :height => 32, :class => "float-left") %>
      </a>
      <div class="float-left">
        <a href="<%= team_path(actor) %>" class="muted-link protected-branch-pusher js-protected-branch-pusher"><strong><%= actor %></strong></a>
        <div><%= pluralize(actor.members_scope.count, "member") %></div>
      </div>
    </div>
    <div class="table-list-cell">
      <%= hidden_field_tag "#{form_field_name}_team_ids[]", actor.id, :id => nil %>
      <button type="button" class="float-right btn-link muted-link tooltipped tooltipped-nw tooltipped-multiline js-remove-authorized-user-or-team" aria-label="Revoke <%= actor %>’s <%= form_field_name %> access to this branch">
        <%= octicon("x") %>
      </button>
    </div>
  </div>
<% elsif actor.is_a?(User) %>
  <div class="table-list-item js-authorized-user-or-team" data-user-or-team-name="user/<%= actor.id %>">
    <div class="table-list-cell">
      <%= linked_avatar_for(actor, 36, img_class: "avatar float-left", link_class: "muted-link") %>
      <div class="float-left">
        <a href="<%= user_path(actor) %>" class="protected-branch-pusher js-protected-branch-pusher"><strong><%= actor %></strong></a>
        <div><%= actor.safe_profile_name %></div>
      </div>
    </div>
    <div class="table-list-cell">
      <%= hidden_field_tag "#{form_field_name}_user_ids[]", actor.id, :id => nil %>
      <button type="button" class="float-right btn-link muted-link tooltipped tooltipped-nw tooltipped-multiline js-remove-authorized-user-or-team" aria-label="Revoke <%= actor %>’s <%= form_field_name %> access to this branch">
        <%= octicon("x") %>
      </button>
    </div>
  </div>
<% elsif actor.is_a?(IntegrationInstallation) %>
  <% integration = actor.integration %>
  <div class="table-list-item js-authorized-user-or-team" data-user-or-team-name="app/<%= integration.id %>">
    <div class="table-list-cell">
      <%= oauth_application_logo(integration, 36, class: "avatar float-left") %>
      <div class="float-left">
        <a href="<%= gh_edit_app_installation_path(integration, actor) %>" class="protected-branch-pusher js-protected-branch-pusher"><strong><%= integration.slug %></strong></a>
        <div><%= integration.name %></div>
      </div>
    </div>
    <div class="table-list-cell">
      <%= hidden_field_tag "#{form_field_name}_integration_ids[]", integration.id, :id => nil %>
      <button type="button" class="float-right btn-link muted-link tooltipped tooltipped-nw tooltipped-multiline js-remove-authorized-user-or-team" aria-label="Revoke <%= integration.name %>’s <%= form_field_name %> access to this branch">
        <%= octicon("x") %>
      </button>
    </div>
  </div>
<% end %>
