<%# rubocop:disable Lint/InstanceVariable %>

<%
  page_info(
    title: "Contribute to #{repository.name_with_owner}"
  )

  @disable_branch_selector = true
  instrument_explore_page_view(
    user: current_user,
    visitor: current_visitor,
    view_context: :CONTRIBUTE_PAGE,
    record_id: repository.id,
    visible_record_ids: { visible_good_first_issue_ids: issues.map(&:id) },
  )
%>

<div class="position-relative bg-gray-light pt-3 mb-5">
  <div class="d-flex mb-3 px-3 px-md-4 px-lg-5">
    <%= render "repositories/title", repository: repository %>
  </div>
  <%= render "navigation/repository/main", repository: repository, current_user: current_user %>
</div>

<div class="container-xl px-3 px-md-4 px-lg-5">
  <div class="d-md-flex flex-justify-between">
    <div class="flex-auto mr-md-5">
      <h2 class="f1 text-normal mb-1">
        Contribute to <strong class="text-bold"><%= repository.name_with_owner %></strong>
      </h2>
      <p class="text-gray mb-0">
        Make your first contribution to this repository by tackling one of the issues listed below.
      </p>
    </div>
    <% if repository.preferred_contributing.present? %>
      <article class="col-md-6 col-lg-4 mt-3 mt-md-0 mb-3">
        <%= render(Primer::LinkComponent.new(
          display: :block,
          classes: "hover-grow border rounded-1 box-shadow",
          underline: false,
          bg_color: :white,
          p: 3,
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_context: :CONTRIBUTE_PAGE,
            click_target: :CONTRIBUTING_MD,
            click_visual_representation: :READ_THE_CONTRIBUTING_GUIDELINES,
          ),
          href: blob_path(
            repository.preferred_contributing.path,
            repository.default_branch,
            repository,
          ),
        )) do %>
          <h1 class="d-flex flex-items-center h4 lh-condensed mb-1">
            <%= octicon("file", height: 18, class: "text-gray mr-2") %> Read the contributing guidelines
          </h1>

          <div class="f6 text-gray">
            <%= repository.name %> / <%= repository.preferred_contributing.name %>
          </div>
        <% end %>
      </article>
    <% end %>
  </div>

  <% if issues.size.positive? %>
    <p class="text-gray">Each issue displayed here is a "good first issue," selected for its relative approachability for first-time contributors.</p>

    <div class="Box Box--condensed my-5">
      <div class="Box-header d-flex flex-items-center flex-justify-between">
        <h3 class="Box-title">Good first issues</h3>
      </div>

      <div aria-label="Issues" role="group" data-issue-and-pr-hovercards-enabled>
        <% issues.each do |issue| %>
          <article class="Box-row">
            <div class="d-flex">
              <div class="mr-2" style="margin-top: 2px;">
                <%= octicon("issue-opened", height: 16, class: "text-green") %>
              </div>

              <div class="flex-auto">
                <div class="mb-1">
                  <%= render(Primer::LinkComponent.new(
                    vertical_align: :middle,
                    underline: false,
                    classes: "link-gray-dark h4 js-navigation-open",
                    data: explore_click_tracking_attributes(
                      actor: current_user,
                      click_context: :CONTRIBUTE_PAGE,
                      click_target: :ISSUE,
                      click_visual_representation: :GOOD_FIRST_ISSUE,
                      record_id: issue.id,
                    ).merge(hovercard_data_attributes_for_issue_or_pr(issue.original_issue)),
                    id: "issue_#{issue.number}_link",
                    href: issue_permalink_path(issue.original_issue),
                  )) do %>
                    <%= issue.title %>
                  <% end %>

                  <span class="labels lh-default">
                    <% issue.labels.each do |label| %>
                      <span class="d-inline-block IssueLabel v-align-text-top">
                        <%= label_with_description(
                          label,
                          data_attrs: explore_click_tracking_attributes(
                            actor: current_user,
                            click_context: :CONTRIBUTE_PAGE,
                            click_target: :LABEL_SCOPED_ISSUE_SEARCH,
                            click_visual_representation: :LABEL_TAG,
                            record_id: label.id,
                          ),
                        ) %>
                      </span>
                    <% end %>
                  </span>
                </div>
                <div class="mt-1 text-small text-gray">
                  <span class="opened-by">
                    #<%= issue.number %>
                    opened <%= time_ago_in_words_js(issue.created_at) %> by
                    <%= profile_link(
                      issue.safe_user,
                      class: "muted-link",
                      title: "#{issue.title}",
                      url: issues_path(
                        repository.owner,
                        repository,
                        q: " is:issue is:open author:#{issue.safe_user}",
                      ),
                      data: explore_click_tracking_attributes(
                        actor: current_user,
                        click_context: :CONTRIBUTE_PAGE,
                        click_target: :OWNER,
                        click_visual_representation: :ISSUE_AUTHOR,
                        record_id: issue.safe_user.id,
                      ),
                    ) %>
                    <%= bot_identifier(issue.safe_user) %>
                  </span>
                </div>
              </div>

              <% if issue.comments.size.positive? %>
                <div class="f6 text-gray text-right no-wrap ml-3"> <%= octicon("comment", height: 14, class: "text-gray") %>
                  <%= issue.comments.size %>
                </div>
              <% end %>
            </div>
          </article>
        <% end %>
      </div>
    </div>

    <div class="d-sm-flex flex-justify-center">
      <%= render(Primer::LinkComponent.new(
        classes: "btn btn-outline",
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_context: :CONTRIBUTE_PAGE,
          click_target: :REPOSITORY_ISSUES,
          click_visual_representation: :SEE_ALL_ISSUES,
        ),
        href: issues_path,
      )) do %>
        See all issues
      <% end %>
    </div>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "issue-opened",
      title: "This repo doesn't have any good first issues, yet",
      description: "Once its maintainers label issues and pull requests for new contributors, they will begin to appear here.",
      link_text: "All issues in this repository",
      link_url: issues_path,
      my: 5,
    ) %>
  <% end %>
</div>
