<%# erblint:counter TooltipCounter 2 %>

<% if email.primary_role? %>
  <span class="text-gray mx-2">&ndash;</span>
  <span>
    <span class="text-green text-bold">Primary</span>
    <span aria-label="This email will be used for account-related notifications and can also be used for password resets."
          class="tooltipped tooltipped-multiline tooltipped-s">
      <%= octicon :info, class: "ml-1 text-gray" %>
    </span>
  </span>
<% elsif email.backup_role? %>
  <span class="text-gray mx-2">&ndash;</span>
  <span>
    <span class="text-green text-bold">Backup</span>
    <span aria-label="This email will be used as an additional destination for security-relevant account notifications and can also be used for password resets."
          class="tooltipped tooltipped-multiline tooltipped-s">
      <%= octicon :info, class: "ml-1 text-gray" %>
    </span>
  </span>
<% end -%>
