<% view = Settings::EmailPreferencesView.new(user: current_user) %>

<%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
  <% component.slot(:heading, tag: :h2, id: "preferences") do %>Email preferences<% end %>
<% end %>

<div class="email-preferences <%= 'transactional-only' if view.wants_transactional_email? %>">
  <%= form_tag email_preferences_path, method: :put, class: "js-email-global-unsubscribe-form", "aria-labelledby": "preferences" do -%>
    <div class="form-checkbox">
      <label>
        <%= radio_button_tag 'type', 'marketing', view.wants_marketing_email?, class: "js-email-global-unsubscribe" %>
        Receive all emails, except those I unsubscribe from.
      </label>
      <p class="note">
        We’ll occasionally contact you with the latest news and happenings from the GitHub Universe.
        <a href="<%= GitHub.help_url %>/articles/types-of-emails-github-sends">Learn more</a>.
      </p>
      <% if view.unsubscribed_list.any? %>
        <div class="email-preference-exceptions opt-out-list">
          <h5>You’ve unsubscribed from:</h5>
          <ul class="exception-list">
            <% view.unsubscribed_list.each do |subscription| %>
              <li class="exception">
                <% if subscription.kind == "notification" %>
                  <%= subscription.name.humanize %> notifications
                <% else %>
                  <%= subscription.name.humanize %> newsletter
                <% end %>
                <details class="details-reset details-overlay details-overlay-dark float-right">
                  <summary class="btn-link">Resubscribe</summary>
                  <details-dialog class="anim-fade-in fast Box Box--overlay">
                    <div class="Box-header">
                      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                        <%= octicon "x" %>
                      </button>
                      <% if subscription.kind == "notification" %>
                        <h2 class="Box-title">Resubscribe to <%= subscription.name.humanize %> notifications</h2>
                      <% else %>
                        <h2 class="Box-title">Resubscribe to the <%= subscription.human_name.capitalize %> <%= subscription.kind %> newsletter</h2>
                      <% end %>
                    </div>
                    <div class="Box-body">
                      <p>Are you sure you want to resubscribe?</p>
                      <button type="submit" name="resubscribe_id" value="<%= subscription.id %>" class="btn btn-block btn-primary" data-disable-with="Resubscribing…">Resubscribe</button>
                    </div>
                  </details-dialog>
                </details>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form-checkbox">
      <label>
        <%= radio_button_tag 'type', 'transactional', view.wants_transactional_email?, class: "js-email-global-unsubscribe" %>
        Only receive account related emails, and those I subscribe to.
      </label>

      <p class="note">
        We’ll only send you legal or administrative emails, and any emails you’re specifically subscribed to.
      </p>
      <% if view.subscription_list.any? && !view.wants_marketing_email? %>
        <div class="email-preference-exceptions opt-in-list">
          <h5>You’re subscribed to:</h5>
          <ul class="exception-list">
            <% view.subscription_list.each do |subscription| %>
              <li class="exception">
                <% if subscription.kind == "notification" %>
                  <%= subscription.name.humanize %> notifications
                <% else %>
                  <%= subscription.name.humanize %> newsletter
                <% end %>
                <details class="details-reset details-overlay details-overlay-dark float-right">
                  <summary class="btn-link">Unsubscribe</summary>
                  <details-dialog class="anim-fade-in fast Box Box--overlay">
                    <div class="Box-header">
                      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                        <%= octicon "x" %>
                      </button>
                      <% if subscription.kind == "notification" %>
                        <h2 class="Box-title">Unsubscribe from <%= subscription.name.humanize %> notifications</h2>
                      <% else %>
                        <h2 class="Box-title">Unsubscribe from the <%= subscription.human_name.capitalize %> <%= subscription.kind %> newsletter</h2>
                      <% end %>
                    </div>
                    <div class="Box-body">
                      <p>Are you sure you want to unsubscribe?</p>
                      <button type="submit" name="unsubscribe_id" value="<%= subscription.id %>" class="btn btn-block btn-primary" data-disable-with="Unsubscribing…">Unsubscribe</button>
                    </div>
                  </details-dialog>
                </details>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= submit_tag "Save email preferences", class: "btn js-email-global-unsubscribe-submit" %>
  <% end -%>
  <p class="note mt-3"><%= octicon(:question) %> Looking for activity notification controls? Check the <a href="<%= settings_user_notifications_path %>">Notification center</a>.</p>
</div>
