<%# rubocop:disable Lint/InstanceVariable %>
<% active_subscription = @subscription && @subscription.active? %>


<% if logged_in? && current_user.primary_user_email.present? %>
  <aside data-replace-remote-form-target
    aria-label="Explore newsletter"
    class="col-lg-8 col-xl-6 <% if !active_subscription %>d-md-flex flex-wrap flex-justify-center flex-items-center<% end %> border rounded-1 bg-white p-3 mx-auto"
    id="newsletter">
    <% if active_subscription %>
      <h2 class="f2 text-normal text-center text-md-left lh-condensed mb-2"><%= octicon("check", :height => 32, :class => 'd-block d-md-inline-block text-green v-align-middle mx-auto mr-md-2') %> <span class="v-align-middle">You’re subscribed to the Explore newsletter</span></h2>
      <p class="d-md-inline-block text-gray text-center text-md-left mr-md-1 mb-0">We’ll send you an email</p>
    <% else %>
      <h2 class="f2 text-normal text-center text-md-left lh-condensed mr-md-3 mb-2 mb-md-0"><%= octicon("mail", :height => 32, :class => 'd-block d-md-inline-block text-gray v-align-middle mx-auto mr-md-2') %> <span class="v-align-middle">Want Explore delivered to your inbox?</span></h2>
    <% end %>

    <%= form_tag email_subscribe_path, "data-replace-remote-form": true, class: "d-block #{active_subscription ? 'd-md-inline-block mt-md-n1': ''} v-align-middle text-center text-md-left" do -%>
      <%= hidden_field_tag :name, 'explore' %>
      <details class="details-reset details-overlay d-inline-block position-relative select-menu hx_rsm hx_rsm--auto-height" id="select-menu-subscribe">
        <summary class="<% if active_subscription %>btn-link<% else %>btn btn-blue<% end %> select-menu-button">
          <span data-menu-button><%= active_subscription ? @subscription.kind.capitalize : 'Subscribe' %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
          <div class="select-menu-list">
            <div class="select-menu-header d-flex text-left">
              <span class="select-menu-title flex-auto">How often do you want to receive emails?</span>
              <button class="hx_rsm-close-button ml-2 btn-link close-button" type="button" data-toggle-for="select-menu-subscribe"><%= octicon("x", :"aria-label" => "Close menu") %></button>
            </div>

            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="daily"
              aria-checked="<%= active_subscription && @subscription.kind == "daily" %>"
              data-ga-click="Explore, subscribe to daily newsletter">
              <%= octicon("check", :class => "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Daily</span>
            </button>
            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="weekly"
              aria-checked="<%= active_subscription && @subscription.kind == "weekly" %>"
              data-ga-click="Explore, subscribe to weekly newsletter">
              <%= octicon("check", :class => "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Weekly</span>
            </button>
            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="monthly"
              aria-checked="<%= active_subscription && @subscription.kind == "monthly" %>"
              data-ga-click="Explore, subscribe to monthly newsletter">
              <%= octicon("check", :class => "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Monthly</span>
            </button>
            <% if active_subscription %>
              <a href="<%= mailers_unsubscribe_path(:token => @subscription.unsubscribe_token) %>"
                role="menuitem"
                class="select-menu-clear-item select-menu-item" data-ga-click="Explore, unsubscribe from newsletter">
                <span class="select-menu-item-text" data-menu-button-text>Don’t send me any messages</span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  </aside>
<% else %>
  <aside aria-label="Explore newsletter" class="col-lg-8 col-xl-7 d-md-flex flex-wrap flex-justify-center flex-items-center border rounded-1 bg-white p-3 mx-auto">
    <h2 class="f2 text-normal text-center text-md-left lh-condensed mr-md-3 mb-2 mb-md-0">
      <%= octicon(
        "mail",
        height: 32,
        class: "d-block d-md-inline-block text-gray v-align-middle mx-auto mr-md-2"
      ) %>
      <span class="v-align-middle">Want Explore delivered to your inbox?</span>
     </h2>

    <div class="v-align-middle text-center text-md-left">
      <%= link_to(
        "Sign up for GitHub",
        signup_path(return_to: explore_subscribe_path),
        class: "btn btn-blue mr-1",
        data: sign_up_link_data_attributes(location_in_page: "explore email")
      ) %>
      or
      <%= link_to(
        "Sign in",
        login_path(return_to: explore_subscribe_path),
        rel: "nofollow",
        data: sign_in_link_data_attributes(location_in_page: "explore email")
      ) %>
    </div>
  </aside>
<% end %>
