<% page_info title: "Okta team synchronization beta signup", selected_link: :okta_team_sync_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Okta team synchronization beta signups</h2>
  </div>
  <table class="site-admin-table">
    <tr>
      <th>Organization/Business</th>
      <th>Created at</th>
      <th>Actor</th>
    </tr>
    <% memberships.each do |membership| %>
      <% unless membership.member.nil? %>
        <tr>
          <td class="tiny">
            <%= form_tag stafftools_toggle_okta_team_sync_beta_path(membership_id: membership.id), :class => "js-setting-toggle", "data-autosubmit" => true do %>
              <div class="form-checkbox mt-0">
                <label for="org_beta_status">
                  <input type="checkbox" name="org_beta_status" <%= %( checked) if membership.member.okta_team_sync_beta_enabled? %>>
                  <% if membership.member.is_a? Business %>
                    <a href="<%= enterprise_path membership.member.slug %>"><%= membership.member %></a>
                  <% else %>
                    <a href="<%= user_path membership.member.login %>"><%= membership.member %></a>
                  <% end %>
                  <span class="status-indicator js-status-indicator">
                    <%= octicon("check") %>
                    <%= octicon("x") %>
                  </span>
                </label>
              </div>
            <% end %>
          </td>
          <td>
            <%= membership.created_at.to_date %>
          </td>
          <td>
            <% unless membership.actor.nil? %>
              <%= membership.actor.login %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate memberships %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
