<ul class="boxed-group-list standalone">
  <% if error_message.present? %>
    <li class="clearfix">
      <%= link_to "#{error_message}, click to retry", sms_log_stafftools_user_two_factor_credential_path, class: "btn" %>
    </li>
  <% elsif log.blank? %>
    <li class="clearfix">
      No logs found for <%= sms_number %>
    </li>
  <% else %>
    <% log.each do |entry| %>
      <li class="clearfix">
        <%= time_ago_in_words_js entry[:date] %>
        <%= entry[:body] %>
      </li>
    <% end %>
  <% end %>
</ul>
