<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{@user} - SMS log",
             :selected_link => :stafftools_user_security %>

<div class="boxed-group">
  <h3>
    <%= link_to 'Security /', security_stafftools_user_path(@user),
                :class => 'boxed-group-breadcrumb' %>
    SMS Log
  </h3>
  <div class="boxed-group-inner">
    <include-fragment src="<%= sms_logs_stafftools_user_two_factor_credential_path %>">
      <ul class="boxed-group-list standalone" data-hide-on-error>
        <li class="clearfix">
          Loading logs...
        </li>
      </ul>

      <ul class="boxed-group-list standalone" data-show-on-error hidden>
        <li class="clearfix">
          <%= link_to "Could not load SMS logs, click to retry", sms_log_stafftools_user_two_factor_credential_path, class: "btn" %>
        </li>
      </ul>
    </include-fragment>
  </div>
</div>
