<%# erblint:disable DeprecatedCustomCss %>
<% if current_repository.archived? %>
  <% if !current_repository.trade_controls_read_only? %>
    <%= render GitHub::DialogComponent.new(title: "Unarchive repository") do |dialog| %>
      <% dialog.with(:summary) do %>
        <summary class="btn btn-danger boxed-action">Unarchive this repository</summary>
      <% end %>
      <% dialog.with(:alert) do %>
        Unexpected bad things will happen if you don’t read this!
      <% end %>
      <% dialog.with(:body) do %>
        <p>
          This will make the <strong><%= current_repository.name_with_owner %></strong> repository, issues,
          pull requests, labels, milestones, projects, wiki, releases, commits, tags, branches, reactions and
          comments read-write and allow future comments.
        </p>
      <% end %>
      <% dialog.with(:footer) do %>
        <p>Please type <strong><%= current_repository.name_with_owner %></strong> to confirm.</p>

        <%= form_for 'unarchive_repository_path',
           :url  => unarchive_repository_path(current_repository),
           :html => { :method => :post } do %>
          <p>
            <input type="text" class="form-control input-block" autofocus required
                   pattern="<%= case_insensitive_pattern current_repository.name_with_owner %>"
                   aria-label="Type in the name of the repository to confirm that you want to unarchive this repository."
                   name="verify"
                   autocomplete="off">
          </p>
          <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand the consequences, unarchive this repository</button>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <button type="button" class="btn btn-danger boxed-action" disabled>Unarchive this repository</button>
  <% end %>
  <strong>Unarchive this repository</strong>
  <p>Mark this repository as unarchived and read-write.</p>
<% else %>
  <%= render GitHub::DialogComponent.new(title: "Archive repository") do |dialog| %>
    <% dialog.with(:summary) do %>
      <summary class="btn btn-danger boxed-action">Archive this repository</summary>
    <% end %>
    <% dialog.with(:alert) do %>
      Unexpected bad things will happen if you don’t read this!
    <% end %>
    <% dialog.with(:body) do %>
      <p>
        This will make the <strong><%= current_repository.name_with_owner %></strong> repository, issues,
        pull requests, labels, milestones, projects, wiki, releases, commits, tags, branches, reactions and
        comments read-only and disable any future comments. The repository can still be forked.
      </p>
      <p>Ensure you’ve changed any repository settings, considered closing all open issues and pull requests and updated your README before you archive this repository.</p>
      <p>Once archived, you can unarchive the repository at any time.</p>
      <% if show_billing_notice_when_archiving?(repository: current_repository) %>
        <p>You will still be charged for this repository. This will not change your billing plan. If you want to downgrade, you can do so in your Billing Settings.</p>
      <% end %>
    <% end %>
    <% dialog.with(:footer) do %>
      <p>Please type <strong><%= current_repository.name_with_owner %></strong> to confirm.</p>

      <%= form_for 'archive_repository_path',
         :url  => archive_repository_path(current_repository),
         :html => { :method => :post } do %>
        <p>
          <input type="text" class="form-control input-block" autofocus required
                 pattern="<%= case_insensitive_pattern current_repository.name_with_owner %>"
                 aria-label="Type in the name of the repository to confirm that you want to archive this repository."
                 name="verify"
                 autocomplete="off">
        </p>
        <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand the consequences, archive this repository</button>
      <% end %>
    <% end %>
  <% end %>
  <strong>Archive this repository</strong>
  <p class="mb-0">Mark this repository as archived and read-only.</p>
<% end %>
