<div class="border-top bg-gray-light p-3">
  <div class="d-sm-flex flex-items-center">
    <div>
      <%= image_tag "modules/organizations/github_for_teams.png", :width => 60, :height => 60, :class => "d-block mr-3", :alt => "GitHub for Teams" %>
    </div>
    <div class="d-flex flex-items-center flex-justify-between">
      <div>
        <h4 class="text-gray-dark lh-condensed">Get team access controls and discussions for your contributors in an organization.</h4>
        <% unless current_user.dismissed_notice?("munich") %>
          <div>
            <p class="text-gray mt-1 mb-0"><span class="Label Label--orange text-uppercase mr-1">New</span> Private repos and unlimited members are free.</p>
          </div>
        <% end %>
      </div>
      <div>
        <a href="/organizations/new" class="btn" data-ga-click="Repository, click create org, location:collaborators;text:Create an organization">Create an organization</a>
      </div>
    </div>
  </div>
</div>
