<%# erblint:disable DeprecatedCustomCss %>
<%# view is an instance of EditRepositories::Pages::CollaborationPageView %>

<div class="collaborators boxed-group flush">
  <h3>
    Collaborators

    <% if GitHub.billing_enabled? && current_repository.in_organization? && on_per_seat_pricing?(current_repository.organization) %>
      <small class="access-sub-heading">
        <span id="available-seats">
          <%= pluralize current_repository.organization.available_seats, seat_or_license(current_repository.organization)  %>
        </span> left
        <% if current_repository.organization.billing_manageable_by?(current_user) %>
          &mdash; <%= more_seats_link_for_organization(current_repository.organization, self_serve_return_to: repository_access_management_path) %>
          <%= render_seats_more_info(current_repository.organization) %>
        <% end %>
      </small>
    <% end %>

    <% unless current_repository.in_organization? %>
      <small class="access-sub-heading">Push access to the repository</small>
    <% end %>
  </h3>

  <div class="boxed-group-inner repo-access-group js-repo-access-group <%= 'is-empty' unless view.collaborators.any? || view.invitations.any? %>" id="collaborators">
    <ul class="table-list collab-list js-repo-access-list <%= 'border-bottom' if view.collaborators.any? && view.invitations.any? %>">
      <%= render_partial_view "edit_repositories/admin_screen/member", view, {}, :collection => view.collaborators %>
    </ul>
    <ul class="table-list collab-list js-repo-access-list-invites">
      <%= render_partial_view "edit_repositories/admin_screen/invitation", view, {}, :collection => view.invitations %>
    </ul>

    <%= render Primer::BlankslateComponent.new(
      title: "This repository doesn’t have any collaborators yet.",
      description: "Use the form below to add a collaborator.",
    ) %>

    <%= form_tag invite_member_path, class: "js-add-repo-access-form", method: :post do %>
      <div class="access-form-wrapper">
        <label for="search-member">Search by username, full name or email address</label>
        <p class="note">
          <% if view.cannot_invite_outside_collaborators? %>
            <% autocomplete_src = autocomplete_org_users_path(org: current_repository.organization) %>

            You’ll only be able to <%= view.member_invitation_action %>members
            of <strong><%= view.organization.name %></strong>. Please contact
            your organization administrator if you want to invite outside
            collaborators.
          <% else %>
            <% autocomplete_src = autocomplete_users_path %>

            You’ll only be able to find a GitHub user by their email address
            if they’ve chosen to list it publicly. Otherwise, use their
            username instead.
            <% if view.show_public_collaborators_text? %>
              Inviting collaborators to public repositories does not impact your seat count.
            <% elsif view.show_private_collaborators_text? %>
              Inviting collaborators to private repositories impacts your seat count.
            <% end %>
          <% end %>
        </p>

        <div class="js-collab-limit" data-collab-limit="<%= current_repository.seats %>">
          <div class="js-over-limit mt-2 <%= "d-none" unless current_repository.at_seat_limit? %>">
            <%= render "plans/plan_support", repository: current_repository, feature_name: "inviting more collaborators" %>
          </div>
          <div class="input-group mt-2 js-under-limit <%= "d-none" if current_repository.at_seat_limit? %>">
            <auto-complete src="<%= autocomplete_users_path %>" for="repo-collab-complete-results" class="position-relative d-block">
              <input type="text" name="member" id="search-member" class="form-control js-add-repo-access-field">
              <ul id="repo-collab-complete-results" class="autocomplete-results"></ul>
            </auto-complete>
            <span class="input-group-button">
              <button type="submit" class="btn js-add-new-collab js-auto-complete-button">Add collaborator</button>
            </span>
          </div>
        </div>
      </div>

      <div class="access-flash flash flash-error error js-repo-access-error d-none"></div>
    <% end %>

    <% listed_users_count = view.collaborators.count + view.invitations.count %>
    <% if !current_repository.in_organization? && (listed_users_count >= 3) %>
      <%= render "edit_repositories/admin_screen/callout_create_org" %>
    <% end %>
  </div>
</div>
