<%= form_for current_repository,
url: update_repository_default_branch_path(current_repository.owner, current_repository),
method: :put,
html: { id: nil } do |f| %>
<details class="select-menu details-overlay details-reset d-inline-block">
  <summary class="btn select-menu-button css-truncate">
    <span class="css-truncate-target" data-menu-button><%= current_repository.default_branch %></span>
  </summary>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
    <fuzzy-list max-matches="15" mark-selector=".select-menu-item-text">
      <div class="select-menu-header">
        <span class="select-menu-title">Switch default branch</span>
      </div>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="default-branch-filter" class="form-control"
            autofocus placeholder="Filter branches" aria-label="Filter branches"
            spellcheck="off" autocomplete="off">
        </div>
      </div>
      <ul class="select-menu-list">
        <% for branch in current_repository.heads %>
          <li>
            <% selected = current_repository.default_branch == branch.name %>
            <label tabindex="0" class="select-menu-item text-normal" role="menuitemradio" aria-checked="<%= selected %>">
              <%= octicon('check', class: 'select-menu-item-icon') %>
              <%= radio_button_tag "name", branch.name_for_display, selected %>
              <span class="select-menu-item-text" data-menu-button-text>
                <%= branch.name_for_display %>
              </span>
            </label>
          </li>
        <% end %>
      </ul>
      <!-- Temporary workaround for .select-menu-item having no border because they
           are all .select-menu-list:last-child .select-menu-item:last-child -->
      <div class="select-menu-list"></div>
    </fuzzy-list>
  </details-menu>
</details>

<%= render layout: "shared/details_dialog", locals: {
    button_text: "Update",
    button_class: "btn",
    details_class: "d-inline-block",
    title: "Update default branch"
  } do %>
  <div class="Box-body overflow-auto">
    <a href="<%= GitHub.help_url %>/articles/setting-the-default-branch/">Changing your default branch</a>
    can have unintended consequences that can affect new pull requests and clones.
  </div>
  <div class="Box-footer">
    <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand, update the default branch.</button>
  </div>
<% end %>
<% end %>
