<%# erblint:disable DeprecatedCustomCss %>
<%
  error = current_repository.cannot_delete_repository_reason(current_user)
  fork_count = current_repository.repository_and_dependents.size - 1
  warn_forks = fork_count > 0 && current_repository.private?
  is_open ||= false
%>

<% unless error %>
  <details class="details-reset details-overlay details-overlay-dark" <%= test_selector("confirm-delete") %> <%= "open" if is_open %>>
    <summary class="btn btn-danger boxed-action">
      Delete this repository
    </summary>
    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" aria-label="Delete repository">
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog="">
          <%= octicon "x" %>
        </button>
        <div class="Box-title">Are you absolutely sure?</div>
      </div>
      <div class="flash flash-warn flash-full">
        Unexpected bad things will happen if you don’t read this!
      </div>
      <div class="Box-body overflow-auto">
        <p>
          This action <strong>cannot</strong> be undone. This will permanently delete the <strong><%= current_repository.name_with_owner %></strong>
          repository, wiki, issues, comments, <% if !GitHub.enterprise? %>packages, <% end %> <% if GitHub.actions_enabled? %>secrets, workflow runs, <% end %> and remove all <%= current_repository.in_organization? ? "team" : "collaborator" %> associations.
        </p>

        <% if warn_forks %>
          <p>This will also delete <strong><%= 'all ' if fork_count > 1 %><%= pluralize(number_with_delimiter(fork_count), 'fork') %></strong> since this is a private repository.</p>
        <% end %>

        <% if GitHub.billing_enabled? && current_repository.private? %>
          <p>This will not change your billing plan. If you want to downgrade, you can do so in your Billing Settings.</p>
        <% end %>

        <p>Please type <strong><%= current_repository.name_with_owner %></strong> to confirm.</p>

        <%= form_for 'delete_repository_path',
          :url  => delete_repository_path(current_repository),
          :html => { :method => :delete } do %>
          <p>
          <input type="text" class="form-control input-block" autofocus required
                 pattern="<%= case_insensitive_pattern current_repository.name_with_owner %>"
                 aria-label="Type in the name of the repository to confirm that you want to delete this repository."
                 name="verify"
                 autocomplete="off">
          </p>
          <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand the consequences, delete this repository</button>
        <% end %>
      </div>
    </details-dialog>
  </details>
<% end %>

<strong>Delete this repository</strong>

<% case error %>
<% when :cant_delete_repos_on_this_appliance %>
  <p class="mb-0">Users cannot delete repositories on this appliance.</p>
<% when :members_cant_delete_repositories %>
  <p class="mb-0">Organization members cannot delete repositories.</p>
<% when :ofac_trade_restricted %>
  <button type="button" class="btn btn-danger boxed-action" disabled>Delete this repository</button>
  <p class="mb-0">
    Once you delete a repository, there is no going back. Please be certain.
    <% if warn_forks %>
      <br>We will also <strong class="yell">delete <%= 'all ' if fork_count > 1 %><%= pluralize(number_with_delimiter(fork_count), 'fork') %></strong> since this is a private repository.
    <% end %>
  </p>
<% else %>
  <p class="mb-0">
    Once you delete a repository, there is no going back. Please be certain.
    <% if warn_forks %>
      <br>We will also <strong class="yell">delete <%= 'all ' if fork_count > 1 %><%= pluralize(number_with_delimiter(fork_count), 'fork') %></strong> since this is a private repository.
    <% end %>
  </p>
<% end %>
