<% has_wiki = current_repository.has_wiki? %>
<% wiki_enabled = current_repository.plan_supports?(:wikis) %>
<% organization = current_repository.organization %>

<div class="Box">
  <%= form_tag update_repository_path(current_repository), :method => :put, :class => "js-repo-features-form", "data-autosubmit" => true do %>
    <% if current_repository.errors.any? %>
      <div class="flash flash-warn mb-3">
        <%= current_repository.errors.full_messages.to_sentence %>
      </div>
    <% end %>
    <div class="Box-row py-0">
      <% if wikis_visible_by_default? %>
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="has_wiki" value="0">
          <input
            type="checkbox"
            name="has_wiki"
            value="1"
            id="wiki-feature" <%= has_wiki ? 'checked' : '' %>
          >
          <label for="wiki-feature">Wikis</label>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
        </div>
      <% else %>
        <div class="form-checkbox js-repo-option" <%= wiki_enabled ? '' : 'style="opacity: 0.5"'%>>
          <input type="hidden" name="has_wiki" value="0">
          <input
            type="checkbox"
            name="has_wiki"
            value="1"
            id="wiki-feature" <%= has_wiki && wiki_enabled ? 'checked' : '' %>
            <% if !wiki_enabled %>disabled<% end %>
          >
          <label for="wiki-feature">Wikis</label>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
        </div>
      <% end %>
      <% if !wiki_enabled %>
        <% if organization && current_user.org_in_billing_trouble?(org: organization) %>
          <div class="flash flash-error mb-4" <%= test_selector("wikis-billing-trouble-org-error") %>>
            We are having a problem billing the <%= organization %> organization. To enable Wikis, Please <%= link_to("update your payment method", settings_org_billing_path(organization)) %>
            or call your payment provider for details on why the transaction failed. You can always <a href="<%= contact_path %>">contact support</a> with any questions.
          </div>
        <% elsif organization && current_user.billingless_org?(org: organization) %>
          <div class="flash flash-error mb-4" <%= test_selector("wikis-billingless-org-error") %>>
            Please <%= link_to("enter a billing email", settings_org_profile_path(organization)) %> for your <em><%= organization %></em> organization to enable Wikis.
          </div>
        <% elsif organization && current_user.disabled_org?(org: organization) %>
          <div class="flash flash-error mb-4" <%= test_selector("wikis-disabled-org-error") %>>
            <% if organization.invoiced? %>
              We have not received payment for the most recent invoice for <%= organization %>. To enable Wikis, please <a href="<%= contact_path %>">contact support</a> to resolve.
            <% else %>
              We are having a problem billing the <%= organization %> organization. To enable Wikis, please <%= link_to('update your payment information', settings_org_billing_path(organization)) %> or call your payment provider for details on why the transaction failed. You can <a href="<%= contact_path %>">contact support</a> with any questions.
            <% end %>
          </div>
        <% else %>
          <article class="d-flex mb-4" <%= test_selector("wikis-normal-description") %>>
            <%= image_tag "icons/marketing/blue/documentation.svg", height: 60, class: "mr-3", alt: "wikis" %>
            <div>
              <h1 class="h4">Upgrade or make this repository public to <% if wikis_visible_by_default? %>create your first Wiki page<% else %>enable Wikis<% end %></h1>
              <p class="text-gray">GitHub Wikis is a simple way to let others contribute content. Any GitHub user can create and edit pages to use for documentation, examples, support, or anything you wish.</p>

              <% if current_repository.owner == current_user %>
                <% if current_repository.fork? %>
                  <p class="text-gray">This repository is a fork, and inherits the features of the parent repository. Contact the owner of the root repository to enable GitHub Wikis.</p>
                <% else %>
                  <div class="d-flex flex-items-center">
                    <%=
                      link_to "Upgrade",
                      plan_upgrade_path,
                      class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-3",
                      "data-ga-click": "Change individual, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:features",
                      data: feature_gate_upsell_click_attrs(:wikis, user: current_user)
                    %>
                    <a href="<%= GitHub.help_url %>/github/building-a-strong-community/about-wikis" class="f6" data-ga-click="Upgrade, click, location:wikis;text:learn more">Learn more</a>
                  </div>
                <% end %>
              <% elsif show_free_org_gated_feature_message?(current_repository, current_user) %>
                <div class="d-flex flex-items-center">
                  <%=
                    link_to "Upgrade",
                    upgrade_path(
                      org: current_repository.owner,
                      plan: "business",
                      target: "organization"
                    ),
                    class: "btn btn-outline f6 text-white bg-blue px-2 py-1 mr-3",
                    "data-ga-click": "Change organization, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:features",
                    data: feature_gate_upsell_click_attrs(:wikis, user: current_user)
                  %>
                  <a href="<%= GitHub.help_url %>/github/building-a-strong-community/about-wikis" class="f6" data-ga-click="Upgrade, click, location:wikis;text:learn more">Learn more</a>
                </div>
              <% else %>
                <p class="text-gray">Contact the owner of the repository to enable GitHub Wikis.</p>
              <% end %>
            </div>
          </article>
        <% end %>
      <% end %>
    </div>

    <% if wiki_enabled %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="wiki_access_to_pushers" value="0">
          <input type="checkbox" name="wiki_access_to_pushers" value="1" id="wiki-pusher-access" <%= current_repository.wiki_access_to_pushers? ? 'checked' : '' %>>
          <% if current_repository.in_organization? %>
            <label for="wiki-pusher-access">Restrict editing to users in teams with push access only</label>
          <% else %>
            <label for="wiki-pusher-access">Restrict editing to collaborators only</label>
          <% end %>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <% if current_repository.public? %>
            <p class="note">Public wikis will still be readable by everyone.</p>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="Box-row py-0">
      <div class="form-checkbox js-repo-option">
        <input type="hidden" name="has_issues" value="0">
        <input type="checkbox" name="has_issues" value="1" id="issue-feature" <%= current_repository.has_issues? ? 'checked' : '' %>>
        <label for="issue-feature">Issues</label>
        <span class="status-indicator ml-1 js-status-indicator">
          <%= octicon("check") %>
          <%= octicon("x") %>
        </span>
        <p class="note">
          Issues integrate lightweight task tracking into your repository.
          Keep projects on track with issue labels and milestones, and reference them in commit messages.
        </p>

        <% if current_repository.writable_by?(current_user) && current_repository.has_issues? && current_repository.can_create_issue_templates? %>
          <div class="bg-blue-light border border-blue-light rounded-1 p-3 my-3">
            <div class="d-flex flex-items-center">
              <div>
                <strong class="mb-2">Get organized with issue templates</strong>
                <p class="pr-6 mb-0">Give contributors issue templates that help you cut through the noise and help them push your project forward.</p>
              </div>
              <div>
                <a href="<%= edit_issue_templates_path(current_repository.owner, current_repository) %>" class="btn btn-primary">
                  Set up templates
                </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if current_repository.in_organization? && current_repository.private_repository_forking_configurable? %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="allow_private_repository_forking" value="0">
          <input type="checkbox" name="allow_private_repository_forking" value="1" id="allow_private_repository_forking" <%= current_repository.allow_private_repository_forking? ? "checked" : "" %> <%= "disabled" if current_repository.allow_private_repository_forking_disabled_by_inherited_policy? %>>
          <label for="allow_private_repository_forking" class="<%= "text-gray" if current_repository.allow_private_repository_forking_disabled_by_inherited_policy? %>">Allow forking</label>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <p class="note">If disabled, existing forks will be unaffected.</p>
        </div>
      </div>
    <% end %>

    <% if current_repository.can_enable_repository_funding_links? %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="enable_repository_funding_links" value="0">
          <input type="checkbox" name="enable_repository_funding_links" id="repository-funding-links-feature" value="1" <%= 'checked' if current_repository.repository_funding_links_enabled? %>>
          <label for="repository-funding-links-feature">Sponsorships</label>
          &nbsp;
          <span class="status-indicator v-align-top ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <p class="note">
            Sponsorships help your community know how to financially support this repository.
          </p>
          <% if current_repository.funding_links_stafftools_disabled? %>
            <div class="warning mt-2 px-5 border rounded-1">
              Your repository funding links have been disabled by GitHub Support.
              <%= link_to contact_path(report: "#{current_repository.nwo} (Repository Funding Links Disabled)") do %>
                Contact GitHub Support.
              <% end %>
            </div>
          <% end %>
          <% if current_repository.can_write_funding_file? %>
            <div class="bg-blue-light border border-blue-light rounded-1 p-3 my-3">
              <div class="d-flex flex-items-center">
                <div>
                  <% if current_repository.inheriting_global_funding_file? %>
                    <strong class="mb-2">
                      "Sponsor" button is using the
                      <%= link_to "organization funding file.", global_preferred_funding_path(current_repository) %>
                    </strong>
                    <p class="pr-6 mb-0">
                      You can add a <code>.github/FUNDING.yml</code> file to this repository to override the
                      <%= link_to "organization funding file", global_preferred_funding_path(current_repository) %>
                    </p>
                  <% elsif current_repository.overriding_global_funding_file? %>
                    <strong class="mb-2">
                      "Sponsor" button is using the repository funding file.
                    </strong>
                    <p class="pr-6 mb-0">
                      This repository is using a <code>.github/FUNDING.yml</code> file to override the
                      <%= link_to "organization funding file.", global_preferred_funding_path(current_repository) %>
                    </p>
                  <% else %>
                    <strong class="mb-2">
                      Display a "Sponsor" button
                    </strong>
                    <p class="pr-6 mb-0">
                      Add links to GitHub Sponsors or third-party methods your repository accepts for financial contributions to your project.
                    </p>
                  <% end %>
                </div>

                <div>
                  <% if current_repository.inheriting_global_funding_file? %>
                    <%= link_to "Override funding links", blob_new_path('', tree_name) + '?repository_funding=1', class: "btn btn-primary", data: funding_button_attrs %>
                  <% elsif current_repository.has_funding_file? || current_repository.overriding_global_funding_file? %>
                    <%= link_to "Edit funding links", blob_edit_path(current_repository.funding_links_path, tree_name), class: "btn btn-primary", data: funding_button_attrs %>
                  <% else %>
                    <%= link_to "Set up sponsor button", blob_new_path('', tree_name) + '?repository_funding=1', class: "btn btn-primary", data: funding_button_attrs %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if current_repository.can_enable_projects? %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="projects_enabled" value="0">
          <input type="checkbox" name="projects_enabled" id="projects-feature" value="1" <%= current_repository.repository_projects_enabled? ? 'checked' : '' %>  <%= "disabled" unless current_repository.can_enable_projects? %>>
          <label for="projects-feature">Projects</label>
          <span class="status-indicator v-align-top ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <p class="note">
            Project boards on GitHub help you organize and prioritize your work.
            You can create project boards for specific feature work,
            comprehensive roadmaps, or even release checklists.
          </p>
        </div>
      </div>
    <% elsif current_repository.owner.organization? %>
      <div class="Box-row py-0">
        <div class="form-checkbox">
          <input type="checkbox" id="projects-feature" disabled>
          <label for="projects-feature" class="text-gray-light">Projects</label>
          <p class="note text-gray-light">
            Projects are disabled for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

            <% if current_repository.owner.adminable_by?(current_user) %>
              You can change this in the organization’s <a href="<%= settings_org_projects_path(current_repository.owner) %>">settings</a>.
            <% else %>
              Contact an <a href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable projects.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% if show_archive_program_settings? %>
      <div class="Box-row py-0" <%= test_selector("features-archive-program-opt-out-setting") %>>
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="archive_program_opt_out_enabled" value="1">
          <input type="checkbox" name="archive_program_opt_out_enabled" value="0"
            id="archive-program-opt-out-feature"
            <%= test_selector("archive-program-checkbox") %>
            <%= current_repository.archive_program_opt_out_enabled? ? '' : 'checked' %>>
          <label for="archive-program-opt-out-feature">
            Preserve this repository
          </label>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <p class="note text-gray-light">
            Include this code in the <%= link_to "GitHub Archive Program", "https://archiveprogram.github.com/faq/" %>.
          </p>
        </div>
      </div>
    <% end %>

    <noscript>
      <button class="btn btn-primary" type="submit">Save changes</button>
    </noscript>
  <% end %>

  <% if discussions_enabled? %>
    <%= form_tag update_repository_discussions_settings_path(current_repository.owner, current_repository), :method => :put, :class => "border-top js-repo-features-form", "data-autosubmit" => true do %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="has_discussions" value="0">
          <input
            type="checkbox"
            name="has_discussions"
            value="1"
            id="discussions-feature"
            <%= "checked" if current_repository.has_discussions? %>
          >
          <label for="discussions-feature">Discussions</label>
          <span class="status-indicator ml-1 js-status-indicator">
            <%= octicon("check") %>
            <%= octicon("x") %>
          </span>
          <p class="note">
            Discussions allow users to start conversations and ask questions
            without opening issues. Discussions can be bumped by the community
            and have replies marked as the correct answer.
          </p>
        </div>
      </div>
    <% end %>
    <% if current_repository.writable_by?(current_user) && current_repository.discussions.empty? %>
      <div class="bg-blue-light border border-blue-light rounded-1 p-3 ml-5 mr-3 my-3">
        <div class="d-flex flex-items-center">
          <div>
            <h5 class="h5 mb-2">Get started with Discussions</h5>
            <p class="pr-6 mb-0">Engage your community by having discussions right in your repository, where your community already lives</p>
          </div>
          <div>
            <%= button_to "Set up discussions", discussions_welcome_templates_path(current_repository.owner, current_repository), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
