<% if invitee = invitation.invitee %>

  <li class="table-list-item collab-list-item js-repo-access-entry">
    <a class="table-list-cell collab-list-cell collab-team-link" href="<%= user_path(invitee) %>">
      <div class="collab-info">
        <%= avatar_for invitee, 32, class: "avatar", data: hovercard_data_attributes_for_user(invitee) %>
        <strong class="collab-name"><%= invitee.profile_name %></strong>
        <div class="<%= invitee.profile_name.nil? ? 'collab-message' : '' %>">Awaiting <%= invitee.login %>’s response</div>
      </div>
    </a>

    <span class="table-list-cell collab-list-cell permission-level-cell">
      <% if current_repository.in_organization? && invitee != current_user %>
          <%= render_partial_view "orgs/repositories/permission_select", Orgs::Repositories::PermissionSelectView,
                :repository      => current_repository,
                :selected_action => invitation.permission_string,
                :submit_path     => repository_invitation_permissions_path(invitation.id)
          %>
      <% end %>
    </span>

    <div class="table-list-cell collab-list-cell">
      <details class="details-overlay details-reset js-dropdown-details position-relative float-right">
        <summary class="btn btn-sm">
          Copy invite link
          <span class="dropdown-caret"></span>
        </summary>

        <div class="copy-invite-modal dropdown-menu dropdown-menu-sw p-3 mt-2">
          <h4 class="mt-0 mb-1 text-gray-dark">Copy invite link</h4>
          <p class="mt-0 mb-1 text-gray-dark">
            <%= invitee.login %>’s shareable invitation link.
          </p>
          <div class="input-group">
            <input type="text" class="form-control input-monospace input-sm" data-autoselect value="<%= invitation.permalink %>" aria-label="Copy and share invite link <%= invitation.permalink %>" readonly autofocus>
            <div class="input-group-button">
              <clipboard-copy value="<%= invitation.permalink %>" aria-label="Copy to clipboard" class="btn btn-sm">
                <%= octicon("clippy") %>
              </clipboard-copy>
            </div>
          </div>
        </div>
      </details>
    </div>

    <span class="table-list-cell collab-list-cell cancel-invite-cell">
      <%= button_to "Cancel invite", uninvite_member_path(member: invitee), :class => "btn btn-sm btn-danger boxed-group-action flush" %>
    </span>

  </li>
<% end %>
