<%# view is an instance of EditRepositories::AdminScreen::PagesSourceView %>

<div class="Box-row">
  <%= form_tag pages_source_path, :method => :put do %>
    <strong>Source</strong>
    <% if view.pages_any_branch_enabled? %>
      <%= render GitHub::BetaFlagComponent.new(ml: 1) %>
    <% end %>
    <p>
      <% if view.button_text == "None" %>
        GitHub Pages is currently disabled.
        <% if view.repository.heads.count > 0 %>
          Select a source below to enable GitHub Pages for this repository.
        <% else %>
          You must first add content to your repository before you can publish a GitHub Pages site.
        <% end %>
      <% else %>
        Your GitHub Pages site is currently being built from
        <% if view.subdir_source? %>
          the <code>/docs</code> folder in
        <% end %>
        the <code><%= view.safe_pages_branch %></code> branch.
      <% end %>
      <a href="<%= GitHub.help_url %>/articles/configuring-a-publishing-source-for-github-pages/">Learn more</a>.
    </p>
    <% if view.is_user_pages_repo? && !view.pages_any_branch_enabled? %>
      <p class="note">User pages must be built from the <code>master</code> branch.</p>
    <% elsif !view.plan_supports_pages? %>
      <p class="note">Your plan does not support GitHub Pages.</p>
    <% else %>
      <% if !view.pages_any_branch_enabled? %>
        <%# Legacy source menu %>
        <%= render(GitHub::MenuComponent.new(
          title: "Select source",
          items: view.select_list.map { |item|
            GitHub::Menu::ButtonComponent.new(
              type: "submit",
              name: "source",
              value: item[:value],
              text: item[:heading],
              disabled: item[:disabled],
              checked: item[:selected],
              description: item[:description],
              replace_text: item[:heading]
            )
          }
        )) do |menu| %>
          <%= menu.with(:summary) do %>
            <%= render(GitHub::MenuSummaryComponent.new(classes: "btn select-menu-button", menu: menu)) %>
          <% end %>
        <% end %>
      <% else %>
        <%# New source menu (independent branch and folder) %>
        <div>
          <span class="js-select-branch">
            <%= render(GitHub::MenuComponent.new(
              title: "Select branch",
              filterable: true,
              items: view.pages_branch_names.map { |item|
                GitHub::Menu::RadioComponent.new(
                  name: "source",
                  value: item[:value],
                  text: item[:heading],
                  checked: item[:selected],
                  replace_text: item[:heading]
                )
              }
            )) do |menu| %>
              <%= menu.with(:summary) do %>
                <summary class="btn select-menu-button" aria-haspopup="menu">
                  <span class="js-branch-icon text-gray" <% if view.should_hide_component? %>hidden<% end %>><%= render GitHub::OcticonComponent.new(icon: "git-branch") %>Branch:</span>
                  <span class="css-truncate-target" data-menu-button><%= view.selected_branch_text %></span>
                </summary>
              <% end %>
            <% end %>
          </span>
          <span class="js-select-source-dir ml-1" <% if view.should_hide_component? %>hidden<% end %>>
            <%= render(GitHub::MenuComponent.new(
              title: "Select folder",
              items: view.select_dir.map { |item|
                GitHub::Menu::RadioComponent.new(
                  name: "source_dir",
                  value: item[:value],
                  text: item[:heading],
                  checked: item[:selected],
                  replace_text: item[:heading]
                )
              }
            )) do |menu| %>
              <%= menu.with(:summary) do %>
                <summary class="btn select-menu-button" aria-haspopup="menu">
                  <%= render GitHub::OcticonComponent.new(icon: "file-directory") %>
                  <span class="css-truncate-target" data-menu-button><%= view.dir_button_text %></span>
                </summary>
              <% end %>
            <% end %>
          </span>
          <button class="btn ml-2 js-update-page-source-btn" type="submit" disabled>Save</button>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% if view.is_user_pages_repo? || !view.is_user_pages_repo? && view.has_gh_pages_branch? %>
    <p>
        <div class="flash flash-warn js-disable-page-warning" <%= test_selector("cannot-disable-page-flash-banner") %> hidden>
          <%= octicon "alert" %>
          <%= view.is_user_pages_repo? ? "You can't disable GitHub Pages for this repository" : GitHub::HTML::SimplePipeline.to_html("You can't disable GitHub Pages while having a <code>gh-pages</code> branch in this repository") %>. Read more on how to  <a href="<%= view.unpublish_documentation_url%>">unpublish your GitHub Pages site</a>.
        </div>
      </p>
  <% end %>
  <% if view.show_theme_chooser? %>
    <strong class="d-block mt-3">Theme Chooser</strong>
    <div>
      Select a theme to publish your site with a Jekyll theme<% if view.button_text == "None" %> using the <code><%= view.default_source[:value] %></code> branch<% end %>.
      <a href="<%= GitHub.help_url %>/articles/creating-a-github-pages-site-with-the-jekyll-theme-chooser/">Learn more</a>.
      <% if view.migrate_apg? %>
        <p class="note">
          Content from your existing Automatic Page Generator site will be migrated to use a Jekyll theme.
          <% if view.tainted_apg? %>
            <br><%= octicon("alert", class: "mr-1 text-red") %>Your site appears to have been modified manually. This migration may overwrite your changes.
          <% end %>
        </p>
      <% elsif view.theme_name %>
        <p class="note">Your site is currently using the <code><%= view.theme_name %></code> theme.</p>
      <% end %>
    </div>
    <a
      class="btn mt-2"
      href="<%= pages_themes_path(select: view.choosable_theme && view.choosable_theme.slug, source: view.default_source[:value] ) %>">
      <% if view.migrate_apg? %>
        Choose a theme and migrate your content
      <% elsif view.theme_name %>
        Change theme
      <% else %>
        Choose a theme
      <% end %>
    </a>
  <% end %>
</div>
