<%# view is an instance of EditRepositories::AdminScreen::PagesSourceView %>

<%graphql
fragment Fragment on Query {
  viewer {
    isSpammy
    noVerifiedEmail
  }
}
%>
<% view_fragment = Views::EditRepositories::AdminScreen::PagesSourceFgp::Fragment.new(view.data)
  viewer = view_fragment.viewer
%>

<%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
  <% component.slot(:heading, tag: :h2) do %>GitHub Pages<% end %>
<% end %>
<p><a href="https://pages.github.com">GitHub Pages</a> is designed to host your personal, organization, or project pages from a GitHub repository.</p>

<% if view.plan_supports_pages? %>
  <% if view.private_repository?  %>
    <div class="Box-row flash flash-full flash-warn mt-0">
      <%= octicon("alert") %>
      <strong>Caution:</strong>
      This repository is private but the published site will be public.
    </div>
  <% end %>

  <% if view.has_gh_pages? %>
    <% if viewer.is_spammy? %>
      <div class="flash flash-full flash-warn border-top-0 m-0">
        <%= octicon("alert") %>
        Your account has been flagged.
        Because of that, <% if view.spammy_owner? %>
          your GitHub Pages site has been disabled.
        <% elsif viewer.is_spammy? %>
          pushes to this GitHub Pages site will not build.
        <% end %>
        If you believe this is a mistake, please <%= link_to "contact support", contact_path %>.
      </div>
    <% elsif viewer.no_verified_email? %>
      <div class="flash flash-full flash-warn border-top-0 m-0">
        <%= octicon("alert") %>
        You need a verified email address to use GitHub Pages.
        You can verify your email on <%= link_to "the email settings page", :settings_user_emails %>.
      </div>
    <% elsif view.build_error? %>
      <div class="flash flash-full flash-warn border-top-0 m-0">
        <%= octicon("alert") %>
        Your site is having problems building:
        <%= view.build_error_message %>
      </div>
    <% elsif view.cname_error? %>
      <div class="flash flash-full flash-warn border-top-0 m-0">
        <%= octicon("alert") %>
        <%= view.cname_error_message %>
      </div>
    <% else %>
      <div class="flash flash-full flash-success border-top-0 m-0">
        <%= octicon("check") %>
        Your site is published at <a href="<%= view.gh_pages_url %>"><%= view.gh_pages_url %></a>
      </div>
    <% end %>
  <% end %>

  <div class="Box">
    <div class="Box-row">
      <%= form_tag pages_source_path, :method => :put do %>
        <strong>Source</strong>
        <% if view.pages_any_branch_enabled? %>
          <%= render GitHub::BetaFlagComponent.new(ml: 1) %>
        <% end %>
        <p>
          <% if view.button_text == "None" %>
            GitHub Pages is currently disabled.
            <% if view.repository_has_heads? %>
              Select a source below to enable GitHub Pages for this repository.
            <% else %>
              You must first add content to your repository before you can publish a GitHub Pages site.
            <% end %>
          <% else %>
            Your GitHub Pages site is currently being built from the <code><%= view.source_dir %></code> folder in
            the <code><%= view.source %></code> branch.
          <% end %>
          <a href="<%= GitHub.help_url %>/articles/configuring-a-publishing-source-for-github-pages/">Learn more</a>.
        </p>
        <% if view.is_user_pages_repo? && !view.pages_any_branch_enabled? %>
          <p class="note">User pages must be built from the <code>master</code> branch.</p>
        <% elsif !view.plan_supports_pages? %>
          <p class="note">Your plan does not support GitHub Pages.</p>
        <% else %>
          <% if !view.pages_any_branch_enabled? %>
            <%# Legacy source menu %>
            <%= render(GitHub::MenuComponent.new(
              title: "Select source",
              items: view.select_list.map { |item|
                GitHub::Menu::ButtonComponent.new(
                  type: "submit",
                  name: "source",
                  value: item[:value],
                  text: item[:heading],
                  disabled: item[:disabled],
                  checked: item[:selected],
                  description: item[:description],
                  replace_text: item[:heading]
                )
              }
            )) do |menu| %>
              <%= menu.with(:summary) do %>
                <%= render(GitHub::MenuSummaryComponent.new(classes: "btn select-menu-button", menu: menu)) %>
              <% end %>
            <% end %>
          <% else %>
            <%# New source menu (independent branch and folder) %>
            <div>
              <span class="js-select-branch">
                <%= render(GitHub::MenuComponent.new(
                  title: "Select branch",
                  filterable: true,
                  items: view.pages_branch_names.map { |item|
                    GitHub::Menu::RadioComponent.new(
                      name: "source",
                      value: item[:value],
                      text: item[:heading],
                      checked: item[:selected],
                      replace_text: item[:heading]
                    )
                  }
                )) do |menu| %>
                  <%= menu.with(:summary) do %>
                    <summary class="btn select-menu-button" aria-haspopup="menu">
                      <span class="js-branch-icon text-gray" <% if view.should_hide_component? %>hidden<% end %>><%= render GitHub::OcticonComponent.new(icon: "git-branch") %>Branch:</span>
                      <span class="css-truncate-target" data-menu-button><%= view.selected_branch_text %></span>
                    </summary>
                  <% end %>
                <% end %>
              </span>
              <span class="js-select-source-dir ml-1" <% if view.should_hide_component? %>hidden<% end %>>
                <%= render(GitHub::MenuComponent.new(
                  title: "Select folder",
                  items: view.select_dir.map { |item|
                    GitHub::Menu::RadioComponent.new(
                      name: "source_dir",
                      value: item[:value],
                      text: item[:heading],
                      checked: item[:selected],
                      replace_text: item[:heading]
                    )
                  }
                )) do |menu| %>
                  <%= menu.with(:summary) do %>
                    <summary class="btn select-menu-button" aria-haspopup="menu">
                      <%= render GitHub::OcticonComponent.new(icon: "file-directory") %>
                      <span class="css-truncate-target" data-menu-button><%= view.dir_button_text %></span>
                    </summary>
                  <% end %>
                <% end %>
              </span>
              <button class="btn ml-2 js-update-page-source-btn" type="submit" disabled>Save</button>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if view.is_user_pages_repo? || !view.is_user_pages_repo? && view.has_gh_pages_branch? %>
        <p>
          <div class="flash flash-warn js-disable-page-warning" <%= test_selector("cannot-disable-page-flash-banner") %> hidden>
            <%= octicon "alert" %>
          <%= view.is_user_pages_repo? ? "You can't disable GitHub Pages for this repository" : GitHub::HTML::SimplePipeline.to_html("You can't disable GitHub Pages while having a <code>gh-pages</code> branch in this repository") %>. Read more on how to  <a href="<%= view.unpublish_documentation_url%>">unpublish your GitHub Pages site</a>.
          </div>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
