<%# erblint:counter TooltipCounter 1 %>
<li class="table-list-item collab-list-item js-repo-access-entry" data-team-id="<%= team.id %>">

  <a class="table-list-cell collab-list-cell collab-team-link
    <%= "disabled" unless team.organization.direct_or_team_member?(current_user) %>"
    href="<%= team_path(team) %>">
    <div class="collab-info">
      <strong class="collab-name"><%= team.name %></strong>
      <% if team.description.present? %>
        <p class="description"><%= team.description %></p>
      <% end %>
      <span><%= pluralize team.members_scope.count, 'member' %></span>
    </div>
  </a>

  <span class="table-list-cell collab-list-cell permission-level-cell">
    <%= render_partial_view "orgs/repositories/permission_select", Orgs::Repositories::PermissionSelectView,
          repository: repository,
          selected_action: action.to_s,
          submit_path: team_repository_path(team, repository) %>
  </span>
  <span class="table-list-cell collab-list-cell collab-meta collab-remove">

    <%= form_tag url_for(action: :remove_team, team: team.id),
          "data-error-message" => "Sorry, we couldn’t remove access. Please try again.",
          :method => :delete, :class => "js-remove-repo-access-form" do %>
      <button type="submit" class="btn-link remove-link tooltipped tooltipped-s" aria-label="Revoke this team’s access to  '<%= repository.name_with_owner %>'">
        <%= octicon("x") %>
      </button>
    <% end %>
  </span>
</li>
