<%# erblint:disable DeprecatedCustomCss %>
<%# view is an instance of EditRepositories::Pages::CollaborationPageView %>

<div class="collaborators boxed-group flush">
  <% if view.organization.can_create_team?(current_user) %>
    <a href="<%= new_team_path(view.organization) %>" class="btn btn-sm <%= 'btn-primary' unless view.show_add_team_form? %> boxed-group-action">
      <%= octicon("plus") %>
      Create new team
    </a>
  <% end %>

  <h3>Teams</h3>
  <div class="boxed-group-inner repo-access-group js-repo-access-group
      <%= 'is-empty' if view.repository_teams.empty? %>
      <%= 'no-form' unless view.show_add_team_form? %>" id="teams">
    <ul class="collab-list table-list js-repo-access-list">
      <% view.repository_teams.each do |team| %>
        <%= render partial: "edit_repositories/admin_screen/team", locals: {
            organization: team.organization,
            team:         team,
            repository:   view.repository,
            action:       view.most_capable_action_for_team(team)
          }
        %>
      <% end %>
    </ul>
    <%= render Primer::BlankslateComponent.new(
      title: "No teams have been given access to this repository yet.",
      description: ("Use the form below to add a team." if view.show_add_team_form?),
    ) %>
    <%= form_tag url_for(:action => :add_team), :class => "js-add-repo-access-form", :method => :post do %>
      <div class="access-form-wrapper add-team-form">
        <%= render partial: "edit_repositories/admin_screen/add_team_select",
              locals: {
                organization: view.organization,
                teams: view.addable_teams,
                repository_team_ids: view.repository_teams.map(&:id) } %>
      </div>

      <div class="access-flash flash flash-error error js-repo-access-error d-none"></div>
    <% end %>
  </div>
</div>
