<% has_wiki = current_repository.has_wiki? %>
<% wiki_enabled = current_repository.plan_supports?(:wikis) %>

<%= form_tag update_repository_path(current_repository), method: :put, class: "js-repo-features-form", data: { autosubmit: true } do %>
  <% if current_repository.errors.any? %>
    <div class="flash flash-warn mb-3">
      <%= current_repository.errors.full_messages.to_sentence %>
    </div>
  <% end %>
  <div class="form-checkbox js-repo-option">
    <input type="hidden" name="template" value="0">
    <input type="checkbox" name="template" value="1" id="template-feature"<%= " checked" if current_repository.template? %>>
    <label for="template-feature">Template repository</label>
    <span class="status-indicator ml-1 js-status-indicator">
      <%= octicon(:check) %>
      <%= octicon(:x) %>
    </span>
    <p class="note">
      Template repositories let users generate new repositories with the same directory structure and files.
      <a href="<%= GitHub.help_url %>/articles/creating-a-repository-from-a-template/">Learn more</a>.
    </p>
  </div>
  <noscript>
    <button class="btn btn-primary" type="submit">Save changes</button>
  </noscript>
<% end %>
