<%# view is an instance of EditRepositories::AdminScreen::PagesHTTPSView %>

<div class="Box-row">
<%= form_tag pages_https_redirect_path, :method => :put, :class => "js-repo-features-form", "data-autosubmit" => true do %>
  <div class="form-checkbox my-0 js-repo-option">
    <input type="hidden" name="pages_https_redirect" value="0">
    <input type="checkbox" name="pages_https_redirect" value="1" id="pages-https-redirect-feature"
      <%= "disabled" unless view.https_redirect_toggleable? %>
      <%= view.https_redirect_enabled? ? "checked" : "" %>
    >
    <label for="pages-https-redirect-feature">
      Enforce HTTPS
      <% if view.custom_domains_enabled? %>
        <% if !view.lets_encrypt_enabled? %>
          <span class="note d-inline">
            &mdash; Unavailable for your site because you have a custom domain configured
            (<a href="<%= view.pages_url %>"><code><%= view.pages_host_name %></code></a>)
          </span>
        <% elsif view.https_redirect_required? %>
          <span class="note">
            &mdash; Required for your site because you are using the default domain
            (<code><%= view.pages_host_name %></code>)
          </span>
        <% elsif !view.https_available? && (view.certificate_issued? && !view.certificate_usable?) %>
          <span class="note d-inline">
            &mdash; Not yet available for your site because the certificate has not finished being issued.<br>
            Please allow 24 hours for this process to complete.
            (<a href="<%= view.pages_url %>"><code><%= view.pages_host_name %></code></a>)
          </span>
        <% elsif !view.https_available? && view.eligible_for_certificate? %>
        <span class="note d-inline">
          &mdash; Unavailable for your site because a certificate has not yet been issued for your domain
          (<a href="<%= view.pages_url %>"><code><%= view.pages_host_name %></code></a>)
        </span>
        <% elsif !view.https_available? && !view.eligible_for_certificate? %>
          <span class="note d-inline">
            &mdash; Unavailable for your site because your domain is not properly configured to support HTTPS
            (<a href="<%= view.pages_url %>"><code><%= view.pages_host_name %></code></a>)
            &mdash; <a href="<%= view.https_dns_help_url %>">Troubleshooting custom domains</a>
          </span>
        <% end %>
      <% elsif view.https_redirect_required? %>
        <span class="note">
          &mdash; Required for your site because you are using the default domain
          (<code><%= view.pages_host_name %></code>)
        </span>
      <% elsif !view.https_available? && GitHub.enterprise? %>
        <span class="note">
          &mdash; Unavailable because HTTPS support is not enabled
          (<code><%= view.pages_host_name %></code>)
        </span>
      <% end %>
      <span class="status-indicator js-status-indicator">
        <%= octicon("check") %>
        <%= octicon("x") %>
      </span>
    </label>
    <p class="note">
      HTTPS provides a layer of encryption that prevents others from snooping on or tampering with traffic to your site.<br>
      When HTTPS is enforced, your site will only be served over HTTPS.
      <a href="<%= view.help_url %>">Learn more</a>.
    </p>
  </div>
<% end %>
</div>
