<%# erblint:disable DeprecatedCustomCss %>
<%# view is an instance of EditRepositories::AdminScreen::PagesSourceView %>
<% page_info responsive: false, :title => "Choose a theme" %>

<% content_for :content do %>
<theme-picker class="theme-picker">
  <div class="container">

    <div class="theme-picker-thumbs" data-target="theme-picker.fullPicker">
      <button type="button" class="theme-toggle theme-toggle-full-left" aria-label="Previous"
        data-target="theme-picker.scrollBackwardsLink"
        data-action="click:theme-picker#prevPage" value="-1">
        <%= octicon("arrow-left", :height => 32) %>
      </button>

      <div class="overflow-hidden no-wrap theme-selector d-flex" data-target="theme-picker.themeLinksContainer">
        <% view.choosable_themes.each do |theme| %>
          <a href="<%= theme.url %>" data-theme-name="<%= theme.name %>" data-theme-slug="<%= theme.slug %>" data-theme-gem="<%= theme.gem %>"
            data-targets="theme-picker.themeLinks"
            data-action="click:theme-picker#onThemeLinkClick"
            class="d-inline-block mx-2 rounded-1 theme-selector-thumbnail<% if theme == view.choosable_theme %> selected<% end %>">
            <%= image_tag theme.thumbnail_path, :alt => theme.name, :class => "d-block theme-selector-img" %>
            <%= content_tag :span, theme.name, :hidden => "hidden" %>
          </a>
        <% end %>
      </div>

      <button type="button" class="theme-toggle theme-toggle-full-right" aria-label="Next"
        data-target="theme-picker.scrollForwardsLink"
        data-action="click:theme-picker#nextPage" value="-1">
        <%= octicon("arrow-right", :height => 32) %>
      </button>

    </div>

    <div class="position-relative pb-3">
      <img class="theme-picker-spinner" data-target="theme-picker.spinner" src="<%= image_path "spinners/octocat-spinner-64-grey.gif" %>" width="32px" height="32px" alt="">

      <div class="theme-picker-controls" data-target="theme-picker.miniPicker" hidden>
        <button type="button" class="theme-toggle theme-picker-prev" aria-label="Previous"
          data-action="click:theme-picker#prevTheme">
          <%= octicon("arrow-left", :height => 32) %>
        </button>
        <span class="theme-name" data-target="theme-picker.themeName"></span>
        <button type="button" class="theme-toggle theme-picker-next" aria-label="Next"
          data-action="click:theme-picker#nextTheme">
          <%= octicon("arrow-right", :height => 32) %>
        </button>
      </div>

      <div class="pt-3 text-right clearfix open">
        <div class="theme-picker-view-toggle open" data-action="click:theme-picker#toggleFullPicker">
          <button type="button" class="btn btn-outline for-hiding">
            Hide thumbnails
          </button>
          <button type="button" class="btn btn-outline for-showing">
            Show thumbnails
          </button>
        </div>

        <%= form_tag pages_theme_path, :method => "put", :class => "d-inline-block ml-2", :id => "page-publish-form", "data-target" => "theme-picker.publishForm" do %>
          <input type="hidden" name="page[theme_slug]" value="" data-target="theme-picker.publishThemeSlugInput">
          <input type="hidden" name="source" value="<%= view.params[:source] %>">
          <button class="btn btn-primary" type="submit" id="page-publish" data-action="click:theme-picker#onPublishClick">Select theme</button>
        <% end %>
      </div>
    </div>
  </div>
  <iframe id="page-preview" class="page-preview" name="page-preview" scrolling="no" sandbox="allow-same-origin allow-scripts"
   data-target="theme-picker.pagePreview" data-action="load:theme-picker#hideSpinner"></iframe>
</theme-picker>

<% end %>
