<% page_info \
  container_xl: true,
  responsive: false,
  title: "Unpublish Page",
  selected_link: :unpublish_page_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Unpublish GitHub Pages<% end %>
  <% end %>

  <p>
    Your subscription, GitHub Free, does not support GitHub Pages sites for
    private repositories. After we introduced free private repositories in
    January, we found a limited number of sites connected to private
    repositories were mistakenly left active. If you’d like to keep updating
    this site, you can make its repository public or upgrade to <a
    href="/account/upgrade?plan=pro">GitHub Pro</a>. You can also unpublish it
    below.

    <% if current_repository&.page&.cname.present? %>
      This site is using a custom CNAME: <a href="<%= GitHub.help_url %>/adding-or-removing-a-custom-domain-for-your-github-pages-site">
      Secure your domain name</a> before unpublishing this site.
    <% end %>
  </p>

  <p>
    If you don’t take one of those actions before then, this site will be
    unpublished on May 10, 2019.
  </p>

  <p>
    <a href="<%= GitHub.help_url %>/articles/managing-your-disabled-github-pages-site">
      Learn more
    </a>
  </p>

  <%= form_tag unpublish_page_path, method: :delete do %>
    <button type="submit" class="btn btn-sm mt-3">Unpublish GitHub Pages</button>
  <% end %>
<% end %>
