<% case view.entry.action %>
<% when "account_recovery_token.confirm" %><%= render_partial_view "audit_log/actions/account_recovery_token_confirm", view %>
<% when "account_recovery_token.create" %><%= render_partial_view "audit_log/actions/account_recovery_token_create", view %>
<% when "account_recovery_token.destroy" %><%= render_partial_view "audit_log/actions/account_recovery_token_destroy", view %>
<% when "account_recovery_token.recover_error" %><%= render_partial_view "audit_log/actions/account_recovery_token_recover_error", view %>
<% when "account_recovery_token.recover" %><%= render_partial_view "audit_log/actions/account_recovery_token_recover", view %>
<% when "account.billing_date_change" %><%= render_partial_view "audit_log/actions/account_billing_date_change", view %>
<% when "account.plan_change" %><%= render_partial_view "audit_log/actions/account_plan_change", view %>
<% when "account.seats_changed" %><%= render_partial_view "audit_log/actions/account_seats_changed", view %>
<% when "advisory_credit.accept" %><%= render_partial_view "audit_log/actions/advisory_credit_accept", view %>
<% when "advisory_credit.create" %><%= render_partial_view "audit_log/actions/advisory_credit_create", view %>
<% when "advisory_credit.decline" %><%= render_partial_view "audit_log/actions/advisory_credit_decline", view %>
<% when "advisory_credit.destroy" %><%= render_partial_view "audit_log/actions/advisory_credit_destroy", view %>
<% when "artifact.destroy" %><%= render_partial_view "audit_log/actions/artifact_destroy", view %>
<% when "billing.change_billing_type" %><%= render_partial_view "audit_log/actions/billing_change_billing_type", view %>
<% when "billing.change_email" %><%= render_partial_view "audit_log/actions/billing_change_email", view %>
<% when "billing.lock" %><%= render_partial_view "audit_log/actions/billing_lock", view %>
<% when "billing.unlock" %><%= render_partial_view "audit_log/actions/billing_unlock", view %>
<% when "billing.metered_usage_email_sent" %><%= render_partial_view "audit_log/actions/billing_metered_usage_email_sent", view %>
<% when "braintree.create" %><%= render_partial_view "audit_log/actions/braintree_create", view %>
<% when "braintree.update" %><%= render_partial_view "audit_log/actions/braintree_update", view %>
<% when "business.add_admin" %><%= render_partial_view "audit_log/actions/business_add_admin", view %>
<% when "business.add_billing_manager" %><%= render_partial_view "audit_log/actions/business_add_billing_manager", view %>
<% when "business.add_organization" %><%= render_partial_view "audit_log/actions/business_add_organization", view %>
<% when "business.audit_log_git_event_export" %><%= render_partial_view "audit_log/actions/business_audit_log_git_event_export", view %>
<% when "business.cancel_admin_invitation" %><%= render_partial_view "audit_log/actions/business_cancel_admin_invitation", view %>
<% when "business.cancel_billing_manager_invitation" %><%= render_partial_view "audit_log/actions/business_cancel_billing_manager_invitation", view %>
<% when "business.clear_actions_settings" %><%= render_partial_view "audit_log/actions/business_clear_actions_settings", view %>
<% when "business.clear_default_repository_permission" %><%= render_partial_view "audit_log/actions/business_clear_default_repository_permission", view %>
<% when "business.clear_members_can_create_repos" %><%= render_partial_view "audit_log/actions/business_clear_members_can_create_repos", view %>
<% when "business.clear_members_can_invite_outside_collaborators" %><%= render_partial_view "audit_log/actions/org_clear_members_can_invite_outside_collaborators", view %>
<% when "business.create" %><%= render_partial_view "audit_log/actions/business_create", view %>
<% when "business.delete" %><%= render_partial_view "audit_log/actions/business_delete", view %>
<% when "business.disable_saml" %><%= render_partial_view "audit_log/actions/business_disable_saml", view %>
<% when "business.disable_two_factor_requirement" %><%= render_partial_view "audit_log/actions/business_disable_two_factor_requirement", view %>
<% when "business.enable_saml" %><%= render_partial_view "audit_log/actions/business_enable_saml", view %>
<% when "business.enable_two_factor_requirement" %><%= render_partial_view "audit_log/actions/business_enable_two_factor_requirement", view %>
<% when "business.enterprise_server_license_download" %><%= render_partial_view "audit_log/actions/business_enterprise_server_license_download", view %>
<% when "business.import_license_usage" %><%= render_partial_view "audit_log/actions/business_import_license_usage", view %>
<% when "business.invite_admin" %><%= render_partial_view "audit_log/actions/business_invite_admin", view %>
<% when "business.invite_billing_manager" %><%= render_partial_view "audit_log/actions/business_invite_billing_manager", view %>
<% when "business.members_can_update_protected_branches.clear" %><%= render_partial_view "audit_log/actions/business_members_can_update_protected_branches_clear", view %>
<% when "business.members_can_update_protected_branches.disable" %><%= render_partial_view "audit_log/actions/business_members_can_update_protected_branches_disable", view %>
<% when "business.members_can_update_protected_branches.enable" %><%= render_partial_view "audit_log/actions/business_members_can_update_protected_branches_enable", view %>
<% when "business.remove_admin" %><%= render_partial_view "audit_log/actions/business_remove_admin", view %>
<% when "business.remove_billing_manager" %><%= render_partial_view "audit_log/actions/business_remove_billing_manager", view %>
<% when "business.remove_member" %><%= render_partial_view "audit_log/actions/business_remove_member", view %>
<% when "business.remove_organization" %><%= render_partial_view "audit_log/actions/business_remove_organization", view %>
<% when "business.rename_slug" %><%= render_partial_view "audit_log/actions/business_rename_slug", view %>
<% when "business.revoke_external_identity" %><%= render_partial_view "audit_log/actions/business_revoke_external_identity", view %>
<% when "business.revoke_sso_session" %><%= render_partial_view "audit_log/actions/business_revoke_sso_session", view %>
<% when "business.set_fork_pr_workflows_policy" %><%= render_partial_view "audit_log/actions/business_set_fork_pr_workflows_policy", view %>
<% when "business.update_actions_settings" %><%= render_partial_view "audit_log/actions/business_update_actions_settings", view %>
<% when "business.update_default_repository_permission" %><%= render_partial_view "audit_log/actions/business_update_default_repository_permission", view %>
<% when "business.update_member_repository_creation_permission" %><%= render_partial_view "audit_log/actions/business_update_member_repository_creation_permission", view %>
<% when "business.update_member_repository_invitation_permission" %><%= render_partial_view "audit_log/actions/business_update_member_repository_invitation_permission", view %>
<% when "business.update_saml_provider_settings" %><%= render_partial_view "audit_log/actions/business_update_saml_provider_settings", view %>
<% when "checks.auto_trigger_disabled" %><%= render_partial_view "audit_log/actions/checks_auto_trigger_disabled", view %>
<% when "checks.auto_trigger_enabled" %><%= render_partial_view "audit_log/actions/checks_auto_trigger_enabled", view %>
<% when "checks.delete_logs" %><%= render_partial_view "audit_log/actions/checks_delete_logs", view %>
<% when "commit_comment.destroy" %><%= render_partial_view "audit_log/actions/commit_comment_destroy", view %>
<% when "commit_comment.update" %><%= render_partial_view "audit_log/actions/commit_comment_update", view %>
<% when "dependabot_alerts.enable" %><%= render_partial_view "audit_log/actions/dependabot_alerts_enable", view %>
<% when "dependabot_alerts.disable" %><%= render_partial_view "audit_log/actions/dependabot_alerts_disable", view %>
<% when "dependabot_alerts_new_repos.enable" %><%= render_partial_view "audit_log/actions/dependabot_alerts_new_repos_enable", view %>
<% when "dependabot_alerts_new_repos.disable" %><%= render_partial_view "audit_log/actions/dependabot_alerts_new_repos_disable", view %>
<% when "dependabot_security_updates.enable" %><%= render_partial_view "audit_log/actions/dependabot_security_updates_enable", view %>
<% when "dependabot_security_updates.disable" %><%= render_partial_view "audit_log/actions/dependabot_security_updates_disable", view %>
<% when "dependabot_security_updates_new_repos.enable" %><%= render_partial_view "audit_log/actions/dependabot_security_updates_new_repos_enable", view %>
<% when "dependabot_security_updates_new_repos.disable" %><%= render_partial_view "audit_log/actions/dependabot_security_updates_new_repos_disable", view %>
<% when "dependency_graph.enable" %><%= render_partial_view "audit_log/actions/dependency_graph_enable", view %>
<% when "dependency_graph.disable" %><%= render_partial_view "audit_log/actions/dependency_graph_disable", view %>
<% when "dependency_graph_new_repos.enable" %><%= render_partial_view "audit_log/actions/dependency_graph_new_repos_enable", view %>
<% when "dependency_graph_new_repos.disable" %><%= render_partial_view "audit_log/actions/dependency_graph_new_repos_disable", view %>
<% when "discussion.destroy" %><%= render_partial_view "audit_log/actions/discussion_destroy", view %>
<% when "discussion.update" %><%= render_partial_view "audit_log/actions/discussion_update", view %>
<% when "discussion_comment.destroy" %><%= render_partial_view "audit_log/actions/discussion_comment_destroy", view %>
<% when "discussion_comment.update" %><%= render_partial_view "audit_log/actions/discussion_comment_update", view %>
<% when "discussion_post_reply.destroy" %><%= render_partial_view "audit_log/actions/discussion_post_reply_destroy", view %>
<% when "discussion_post_reply.update" %><%= render_partial_view "audit_log/actions/discussion_post_reply_update", view %>
<% when "discussion_post.destroy" %><%= render_partial_view "audit_log/actions/discussion_post_destroy", view %>
<% when "discussion_post.update" %><%= render_partial_view "audit_log/actions/discussion_post_update", view %>
<% when "dotcom_connection.create" %><%= render_partial_view "audit_log/actions/dotcom_connection_create", view %>
<% when "dotcom_connection.destroy" %><%= render_partial_view "audit_log/actions/dotcom_connection_destroy", view %>
<% when "dotcom_connection.token_updated" %><%= render_partial_view "audit_log/actions/dotcom_connection_token_updated", view %>
<% when "dotcom_connection.upload_license_usage" %><%= render_partial_view "audit_log/actions/dotcom_connection_upload_license_usage", view %>
<% when "enterprise_installation.create" %><%= render_partial_view "audit_log/actions/enterprise_installation_create", view %>
<% when "enterprise_installation.destroy" %><%= render_partial_view "audit_log/actions/enterprise_installation_destroy", view %>
<% when "enterprise_installation.token_updated" %><%= render_partial_view "audit_log/actions/enterprise_installation_token_updated", view %>
<% when "enterprise.config.disable_anonymous_git_access" %><%= render_partial_view "audit_log/actions/enterprise_config_disable_anonymous_git_access", view %>
<% when "enterprise.config.enable_anonymous_git_access" %><%= render_partial_view "audit_log/actions/enterprise_config_enable_anonymous_git_access", view %>
<% when "enterprise.config.lock_anonymous_git_access" %><%= render_partial_view "audit_log/actions/enterprise_config_lock_anonymous_git_access", view %>
<% when "enterprise.config.unlock_anonymous_git_access" %><%= render_partial_view "audit_log/actions/enterprise_config_unlock_anonymous_git_access", view %>
<% when "enterprise.register_self_hosted_runner" %><%= render_partial_view "audit_log/actions/enterprise_register_self_hosted_runner", view %>
<% when "enterprise.remove_self_hosted_runner" %><%= render_partial_view "audit_log/actions/enterprise_remove_self_hosted_runner", view %>
<% when "enterprise.runner_group_created" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_created", view %>
<% when "enterprise.runner_group_removed" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_removed", view %>
<% when "enterprise.runner_group_renamed" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_renamed", view %>
<% when "enterprise.runner_group_runner_removed" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_runner_removed", view %>
<% when "enterprise.runner_group_runners_added" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_runners_added", view %>
<% when "enterprise.runner_group_runners_updated" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_runners_updated", view %>
<% when "enterprise.runner_group_visiblity_updated" %><%= render_partial_view "audit_log/actions/enterprise_runner_group_visiblity_updated", view %>
<% when "gpg_key.create" %><%= render_partial_view "audit_log/actions/gpg_key_create", view %>
<% when "gpg_key.destroy" %><%= render_partial_view "audit_log/actions/gpg_key_destroy", view %>
<% when "hook.config_changed" %><%= render_partial_view "audit_log/actions/hook_config_changed", view %>
<% when "hook.create" %><%= render_partial_view "audit_log/actions/hook_create", view %>
<% when "hook.destroy" %><%= render_partial_view "audit_log/actions/hook_destroy", view %>
<% when "hook.events_changed" %><%= render_partial_view "audit_log/actions/hook_events_changed", view %>
<% when "hook.active_changed" %><%= render_partial_view "audit_log/actions/hook_active_changed", view %>
<% when "integration_installation_request.close" %><%= render_partial_view "audit_log/actions/integration_installation_request_close", view %>
<% when "integration_installation_request.create" %><%= render_partial_view "audit_log/actions/integration_installation_request_create", view %>
<% when "integration_installation.contact_email_changed" %><%= render_partial_view "audit_log/actions/integration_installation_contact_email_changed", view %>
<% when "integration_installation.create" %><%= render_partial_view "audit_log/actions/integration_installation_create", view %>
<% when "integration_installation.destroy" %><%= render_partial_view "audit_log/actions/integration_installation_destroy", view %>
<% when "integration_installation.repositories_added" %><%= render_partial_view "audit_log/actions/integration_installation_repositories_added", view %>
<% when "integration_installation.repositories_removed" %><%= render_partial_view "audit_log/actions/integration_installation_repositories_removed", view %>
<% when "integration_installation.version_updated" %><%= render_partial_view "audit_log/actions/integration_installation_version_updated", view %>
<% when "integration_installation.suspend" %><%= render_partial_view "audit_log/actions/integration_installation_suspend", view %>
<% when "integration_installation.unsuspend" %><%= render_partial_view "audit_log/actions/integration_installation_unsuspend", view %>
<% when "integration.create" %><%= render_partial_view "audit_log/actions/integration_create", view %>
<% when "integration.destroy" %><%= render_partial_view "audit_log/actions/integration_destroy", view %>
<% when "integration.manager_added" %><%= render_partial_view "audit_log/actions/integration_manager_added", view %>
<% when "integration.manager_removed" %><%= render_partial_view "audit_log/actions/integration_manager_removed", view %>
<% when "integration.transfer" %><%= render_partial_view "audit_log/actions/integration_transfer", view %>
<% when "invoice.download" %><%= render_partial_view "audit_log/actions/invoice_download", view %>
<% when "invoice.pay" %><%= render_partial_view "audit_log/actions/invoice_pay", view %>
<% when "ip_allow_list_entry.create" %><%= render_partial_view "audit_log/actions/ip_allow_list_entry_create", view %>
<% when "ip_allow_list_entry.destroy" %><%= render_partial_view "audit_log/actions/ip_allow_list_entry_destroy", view %>
<% when "ip_allow_list_entry.update" %><%= render_partial_view "audit_log/actions/ip_allow_list_entry_update", view %>
<% when "ip_allow_list.disable" %><%= render_partial_view "audit_log/actions/ip_allow_list_disable", view %>
<% when "ip_allow_list.enable" %><%= render_partial_view "audit_log/actions/ip_allow_list_enable", view %>
<% when "issue_comment.destroy" %><%= render_partial_view "audit_log/actions/issue_comment_destroy", view %>
<% when "issue_comment.pinned" %><%= render_partial_view "audit_log/actions/issue_comment_pinned", view %>
<% when "issue_comment.unpinned" %><%= render_partial_view "audit_log/actions/issue_comment_unpinned", view %>
<% when "issue_comment.update" %><%= render_partial_view "audit_log/actions/issue_comment_update", view %>
<% when "issue.destroy" %><%= render_partial_view "audit_log/actions/issue_destroy", view %>
<% when "issue.pinned" %><%= render_partial_view "audit_log/actions/issue_pinned", view %>
<% when "issue.transfer" %><%= render_partial_view "audit_log/actions/issue_transfer", view %>
<% when "issue.unpinned" %><%= render_partial_view "audit_log/actions/issue_unpinned", view %>
<% when "issues.deletes_disabled" %><%= render_partial_view "audit_log/actions/issues_deletes_disabled", view %>
<% when "issues.deletes_enabled" %><%= render_partial_view "audit_log/actions/issues_deletes_enabled", view %>
<% when "issues.deletes_policy_cleared" %><%= render_partial_view "audit_log/actions/issues_deletes_policy_cleared", view %>
<% when "job_posting.create" %><%= render_partial_view "audit_log/actions/job_posting_create", view %>
<% when "marketplace_agreement_signature.create" %><%= render_partial_view "audit_log/actions/marketplace_agreement_signature_create", view %>
<% when "marketplace_listing_plan.create" %><%= render_partial_view "audit_log/actions/marketplace_listing_plan_create", view %>
<% when "marketplace_listing_plan.publish" %><%= render_partial_view "audit_log/actions/marketplace_listing_plan_publish", view %>
<% when "marketplace_listing_plan.retire" %><%= render_partial_view "audit_log/actions/marketplace_listing_plan_retire", view %>
<% when "marketplace_listing_plan.update" %><%= render_partial_view "audit_log/actions/marketplace_listing_plan_update", view %>
<% when "marketplace_listing.approve" %><%= render_partial_view "audit_log/actions/marketplace_listing_approve", view %>
<% when "marketplace_listing.change_category" %><%= render_partial_view "audit_log/actions/marketplace_listing_change_category", view %>
<% when "marketplace_listing.create" %><%= render_partial_view "audit_log/actions/marketplace_listing_create", view %>
<% when "marketplace_listing.delist" %><%= render_partial_view "audit_log/actions/marketplace_listing_delist", view %>
<% when "marketplace_listing.redraft" %><%= render_partial_view "audit_log/actions/marketplace_listing_redraft", view %>
<% when "marketplace_listing.reject" %><%= render_partial_view "audit_log/actions/marketplace_listing_reject", view %>
<% when "members_can_delete_repos.clear" %><%= render_partial_view "audit_log/actions/members_can_delete_repos_clear", view %>
<% when "members_can_delete_repos.disable" %><%= render_partial_view "audit_log/actions/members_can_delete_repos_disable", view %>
<% when "members_can_delete_repos.enable" %><%= render_partial_view "audit_log/actions/members_can_delete_repos_enable", view %>
<% when "members_can_view_dependency_insights.clear" %><%= render_partial_view "audit_log/actions/members_can_view_dependency_insights_clear", view %>
<% when "members_can_view_dependency_insights.disable" %><%= render_partial_view "audit_log/actions/members_can_view_dependency_insights_disable", view %>
<% when "members_can_view_dependency_insights.enable" %><%= render_partial_view "audit_log/actions/members_can_view_dependency_insights_enable", view %>
<% when "message.destroy" %><%= render_partial_view "audit_log/actions/message_destroy", view %>
<% when "metered_billing_configuration.create" %><%= render_partial_view "audit_log/actions/metered_billing_configuration_create", view %>
<% when "metered_billing_configuration.update" %><%= render_partial_view "audit_log/actions/metered_billing_configuration_update", view %>
<% when "migration.create" %><%= render_partial_view "audit_log/actions/migration_create", view %>
<% when "migration.destroy_file" %><%= render_partial_view "audit_log/actions/migration_destroy_file", view %>
<% when "migration.download" %><%= render_partial_view "audit_log/actions/migration_download", view %>
<% when "non_marketplace_listing.approve" %><%= render_partial_view "audit_log/actions/non_marketplace_listing_approve", view %>
<% when "non_marketplace_listing.create" %><%= render_partial_view "audit_log/actions/non_marketplace_listing_create", view %>
<% when "non_marketplace_listing.delist" %><%= render_partial_view "audit_log/actions/non_marketplace_listing_delist", view %>
<% when "non_marketplace_listing.reject" %><%= render_partial_view "audit_log/actions/non_marketplace_listing_reject", view %>
<% when "oauth_application.create" %><%= render_partial_view "audit_log/actions/oauth_application_create", view %>
<% when "oauth_application.destroy" %><%= render_partial_view "audit_log/actions/oauth_application_destroy", view %>
<% when "oauth_application.reset_secret" %><%= render_partial_view "audit_log/actions/oauth_application_reset_secret", view %>
<% when "oauth_application.revoke_tokens" %><%= render_partial_view "audit_log/actions/oauth_application_revoke_tokens", view %>
<% when "oauth_application.suspend" %><%= render_partial_view "audit_log/actions/oauth_application_suspend", view %>
<% when "oauth_application.transfer" %><%= render_partial_view "audit_log/actions/oauth_application_transfer", view %>
<% when "oauth_application.unsuspend" %><%= render_partial_view "audit_log/actions/oauth_application_unsuspend", view %>
<% when "oauth_authorization.create" %><%= render_partial_view "audit_log/actions/oauth_authorization_create", view %>
<% when "oauth_authorization.destroy" %><%= render_partial_view "audit_log/actions/oauth_authorization_destroy", view %>
<% when "oauth_authorization.update" %><%= render_partial_view "audit_log/actions/oauth_authorization_update", view %>
<% when "org_credential_authorization.deauthorize" %><%= render_partial_view "audit_log/actions/org_credential_authorization_deauthorize", view %>
<% when "org_credential_authorization.grant" %><%= render_partial_view "audit_log/actions/org_credential_authorization_grant", view %>
<% when "org_credential_authorization.revoke" %><%= render_partial_view "audit_log/actions/org_credential_authorization_revoke", view %>
<% when "org.accept_business_invitation" %><%= render_partial_view "audit_log/actions/org_accept_business_invitation", view %>
<% when "org.add_billing_manager" %><%= render_partial_view "audit_log/actions/org_add_billing_manager", view %>
<% when "org.add_member" %><%= render_partial_view "audit_log/actions/org_add_member", view %>
<% when "org.async_delete" %><%= render_partial_view "audit_log/actions/org_async_delete", view %>
<% when "org.audit_log_export" %><%= render_partial_view "audit_log/actions/org_audit_log_export", view %>
<% when "org.audit_log_git_event_export" %><%= render_partial_view "audit_log/actions/org_audit_log_git_event_export", view %>
<% when "org.block_user" %><%= render_partial_view "audit_log/actions/org_block_user", view %>
<% when "org.cancel_business_invitation" %><%= render_partial_view "audit_log/actions/org_cancel_business_invitation", view %>
<% when "org.cancel_invitation" %><%= render_partial_view "audit_log/actions/org_cancel_invitation", view %>
<% when "org.clear_actions_settings" %><%= render_partial_view "audit_log/actions/org_clear_actions_settings", view %>
<% when "org.clear_default_repository_permission" %><%= render_partial_view "audit_log/actions/org_clear_default_repository_permission", view %>
<% when "org.clear_member_team_creation_permission" %><%= render_partial_view "audit_log/actions/org_clear_member_team_creation_permission", view %>
<% when "org.clear_reader_discussion_creation_permission" %><%= render_partial_view "audit_log/actions/org_clear_reader_discussion_creation_permission", view %>
<% when "org.clear_members_can_create_repos" %><%= render_partial_view "audit_log/actions/org_clear_members_can_create_repos", view %>
<% when "org.clear_members_can_invite_outside_collaborators" %><%= render_partial_view "audit_log/actions/org_clear_members_can_invite_outside_collaborators", view %>
<% when "org.clear_new_repository_default_branch_setting" %><%= render_partial_view "audit_log/actions/org_clear_new_repository_default_branch_setting", view %>
<% when "org.config.disable_collaborators_only" %><%= render_partial_view "audit_log/actions/disable_collaborators_only", view %>
<% when "org.config.disable_contributors_only" %><%= render_partial_view "audit_log/actions/disable_contributors_only", view %>
<% when "org.config.disable_sockpuppet_disallowed" %><%= render_partial_view "audit_log/actions/disable_sockpuppet_disallowed", view %>
<% when "org.config.enable_collaborators_only" %><%= render_partial_view "audit_log/actions/enable_collaborators_only", view %>
<% when "org.config.enable_contributors_only" %><%= render_partial_view "audit_log/actions/enable_contributors_only", view %>
<% when "org.config.enable_sockpuppet_disallowed" %><%= render_partial_view "audit_log/actions/enable_sockpuppet_disallowed", view %>
<% when "org.confirm_business_invitation" %><%= render_partial_view "audit_log/actions/org_confirm_business_invitation", view %>
<% when "org.create" %><%= render_partial_view "audit_log/actions/org_create", view %>
<% when "org.create_actions_secret" %><%= render_partial_view "audit_log/actions/org_create_actions_secret", view %>
<% when "org.delete" %><%= render_partial_view "audit_log/actions/org_delete", view %>
<% when "org.disable_member_team_creation_permission" %><%= render_partial_view "audit_log/actions/org_disable_member_team_creation_permission", view %>
<% when "org.disable_reader_discussion_creation_permission" %><%= render_partial_view "audit_log/actions/org_disable_reader_discussion_creation_permission", view %>
<% when "org.disable_oauth_app_restrictions" %><%= render_partial_view "audit_log/actions/org_disable_oauth_app_restrictions", view %>
<% when "org.disable_saml" %><%= render_partial_view "audit_log/actions/org_disable_saml", view %>
<% when "org.disable_two_factor_requirement" %><%= render_partial_view "audit_log/actions/org_disable_two_factor_requirement", view %>
<% when "org.display_commenter_full_name_disabled" %><%= render_partial_view "audit_log/actions/org_display_commenter_full_name_disabled", view %>
<% when "org.display_commenter_full_name_enabled" %><%= render_partial_view "audit_log/actions/org_display_commenter_full_name_enabled", view %>
<% when "org.enable_member_team_creation_permission" %><%= render_partial_view "audit_log/actions/org_enable_member_team_creation_permission", view %>
<% when "org.enable_reader_discussion_creation_permission" %><%= render_partial_view "audit_log/actions/org_enable_reader_discussion_creation_permission", view %>
<% when "org.enable_oauth_app_restrictions" %><%= render_partial_view "audit_log/actions/org_enable_oauth_app_restrictions", view %>
<% when "org.enable_saml" %><%= render_partial_view "audit_log/actions/org_enable_saml", view %>
<% when "org.enable_two_factor_requirement" %><%= render_partial_view "audit_log/actions/org_enable_two_factor_requirement", view %>
<% when "org.integration_manager_added" %><%= render_partial_view "audit_log/actions/org_integration_manager_added", view %>
<% when "org.integration_manager_removed" %><%= render_partial_view "audit_log/actions/org_integration_manager_removed", view %>
<% when "org.invite_member" %><%= render_partial_view "audit_log/actions/org_invite_member", view %>
<% when "org.invite_to_business" %><%= render_partial_view "audit_log/actions/org_invite_to_business", view %>
<% when "org.members_can_update_protected_branches.clear" %><%= render_partial_view "audit_log/actions/org_members_can_update_protected_branches_clear", view %>
<% when "org.members_can_update_protected_branches.disable" %><%= render_partial_view "audit_log/actions/org_members_can_update_protected_branches_disable", view %>
<% when "org.members_can_update_protected_branches.enable" %><%= render_partial_view "audit_log/actions/org_members_can_update_protected_branches_enable", view %>
<% when "org.oauth_app_access_approved" %><%= render_partial_view "audit_log/actions/org_oauth_app_access_approved", view %>
<% when "org.oauth_app_access_denied" %><%= render_partial_view "audit_log/actions/org_oauth_app_access_denied", view %>
<% when "org.oauth_app_access_requested" %><%= render_partial_view "audit_log/actions/org_oauth_app_access_requested", view %>
<% when "org.register_self_hosted_runner" %><%= render_partial_view "audit_log/actions/org_register_self_hosted_runner", view %>
<% when "org.recreate" %><%= render_partial_view "audit_log/actions/org_recreate", view %>
<% when "org.remove_actions_secret" %><%= render_partial_view "audit_log/actions/org_remove_actions_secret", view %>
<% when "org.remove_billing_manager" %><%= render_partial_view "audit_log/actions/org_remove_billing_manager", view %>
<% when "org.remove_member" %><%= render_partial_view "audit_log/actions/org_remove_member", view %>
<% when "org.remove_outside_collaborator" %><%= render_partial_view "audit_log/actions/org_remove_outside_collaborator", view %>
<% when "org.remove_self_hosted_runner" %><%= render_partial_view "audit_log/actions/org_remove_self_hosted_runner", view %>
<% when "org.rename" %><%= render_partial_view "audit_log/actions/org_rename", view %>
<% when "org.restore_member" %><%= render_partial_view "audit_log/actions/org_restore_member", view %>
<% when "org.revoke_external_identity" %><%= render_partial_view "audit_log/actions/org_revoke_external_identity", view %>
<% when "org.revoke_sso_session" %><%= render_partial_view "audit_log/actions/org_revoke_sso_session", view %>
<% when "org.runner_group_created" %><%= render_partial_view "audit_log/actions/org_runner_group_created", view %>
<% when "org.runner_group_removed" %><%= render_partial_view "audit_log/actions/org_runner_group_removed", view %>
<% when "org.runner_group_renamed" %><%= render_partial_view "audit_log/actions/org_runner_group_renamed", view %>
<% when "org.runner_group_runner_removed" %><%= render_partial_view "audit_log/actions/org_runner_group_runner_removed", view %>
<% when "org.runner_group_runners_added" %><%= render_partial_view "audit_log/actions/org_runner_group_runners_added", view %>
<% when "org.runner_group_runners_updated" %><%= render_partial_view "audit_log/actions/org_runner_group_runners_updated", view %>
<% when "org.runner_group_visiblity_updated" %><%= render_partial_view "audit_log/actions/org_runner_group_visiblity_updated", view %>
<% when "org.set_fork_pr_workflows_policy" %><%= render_partial_view "audit_log/actions/org_set_fork_pr_workflows_policy", view %>
<% when "org.transform" %><%= render_partial_view "audit_log/actions/org_transform", view %>
<% when "org.unblock_user" %><%= render_partial_view "audit_log/actions/org_unblock_user", view %>
<% when "org.update_actions_secret" %><%= render_partial_view "audit_log/actions/org_update_actions_secret", view %>
<% when "org.update_actions_settings" %><%= render_partial_view "audit_log/actions/org_update_actions_settings", view %>
<% when "org.update_default_repository_permission" %><%= render_partial_view "audit_log/actions/org_update_default_repository_permission", view %>
<% when "org.update_member_repository_creation_permission" %><%= render_partial_view "audit_log/actions/org_update_member_repository_creation_permission", view %>
<% when "org.update_member_repository_invitation_permission" %><%= render_partial_view "audit_log/actions/org_update_member_repository_invitation_permission", view %>
<% when "org.update_member" %><%= render_partial_view "audit_log/actions/org_update_member", view %>
<% when "org.update_new_repository_default_branch_setting" %><%= render_partial_view "audit_log/actions/org_update_new_repository_default_branch_setting", view %>
<% when "org.update_saml_provider_settings" %><%= render_partial_view "audit_log/actions/org_update_saml_provider_settings", view %>
<% when "organization_default_label.create" %><%= render_partial_view "audit_log/actions/organization_default_label_create", view %>
<% when "organization_default_label.destroy" %><%= render_partial_view "audit_log/actions/organization_default_label_destroy", view %>
<% when "organization_default_label.update" %><%= render_partial_view "audit_log/actions/organization_default_label_update", view %>
<% when "organization_projects_change.clear" %><%= render_partial_view "audit_log/actions/organization_projects_change_clear", view %>
<% when "organization_projects_change.disable" %><%= render_partial_view "audit_log/actions/organization_projects_change_disable", view %>
<% when "organization_projects_change.enable" %><%= render_partial_view "audit_log/actions/organization_projects_change_enable", view %>
<% when "payment_method.clear" %><%= render_partial_view "audit_log/actions/payment_method_clear", view %>
<% when "payment_method.create" %><%= render_partial_view "audit_log/actions/payment_method_create", view %>
<% when "payment_method.remove" %><%= render_partial_view "audit_log/actions/payment_method_remove", view %>
<% when "payment_method.update" %><%= render_partial_view "audit_log/actions/payment_method_update", view %>
<% when "plan_subscription.synchronize" %><%= render_partial_view "audit_log/actions/plan_subscription_synchronize", view %>
<% when "prepaid_metered_refill.create" %><%= render_partial_view "audit_log/actions/prepaid_metered_refill_create", view %>
<% when "private_repository_forking.clear" %><%= render_partial_view "audit_log/actions/private_repository_forking_clear", view %>
<% when "private_repository_forking.disable" %><%= render_partial_view "audit_log/actions/private_repository_forking_disable", view %>
<% when "private_repository_forking.enable" %><%= render_partial_view "audit_log/actions/private_repository_forking_enable", view %>
<% when "profile_picture.update" %><%= render_partial_view "audit_log/actions/profile_picture_update", view %>
<% when "project.access" %><%= render_partial_view "audit_log/actions/project_access", view %>
<% when "project.close" %><%= render_partial_view "audit_log/actions/project_close", view %>
<% when "project.create" %><%= render_partial_view "audit_log/actions/project_create", view %>
<% when "project.delete" %><%= render_partial_view "audit_log/actions/project_delete", view %>
<% when "project.link" %><%= render_partial_view "audit_log/actions/project_link", view %>
<% when "project.open" %><%= render_partial_view "audit_log/actions/project_open", view %>
<% when "project.rename" %><%= render_partial_view "audit_log/actions/project_rename", view %>
<% when "project.unlink" %><%= render_partial_view "audit_log/actions/project_unlink", view %>
<% when "project.update_org_permission" %><%= render_partial_view "audit_log/actions/project_update_org_permission", view %>
<% when "project.update_team_permission" %><%= render_partial_view "audit_log/actions/project_update_team_permission", view %>
<% when "project.update_user_permission" %><%= render_partial_view "audit_log/actions/project_update_user_permission", view %>
<% when "protected_branch.create" %><%= render_partial_view "audit_log/actions/protected_branch_create", view %>
<% when "protected_branch.destroy" %><%= render_partial_view "audit_log/actions/protected_branch_destroy", view %>
<% when "protected_branch.dismiss_stale_reviews" %><%= render_partial_view "audit_log/actions/protected_branch_dismiss_stale_reviews", view %>
<% when "protected_branch.dismissal_restricted_users_teams" %><%= render_partial_view "audit_log/actions/protected_branch_dismissal_restricted_users_teams", view %>
<% when "protected_branch.policy_override", "protected_branch.required_status_override", "protected_branch.review_policy_override", "protected_branch.review_policy_and_required_status_override" %><%= render_partial_view "audit_log/actions/policy_override", view %>
<% when "protected_branch.rejected_ref_update" %><%= render_partial_view "audit_log/actions/protected_branch_rejected_ref_update", view %>
<% when "protected_branch.update_admin_enforced" %><%= render_partial_view "audit_log/actions/protected_branch_update_admin_enforced", view %>
<% when "protected_branch.update_linear_history_requirement_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_linear_history_requirement_enforcement_level", view %>
<% when "protected_branch.update_pull_request_reviews_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_pull_request_reviews_enforcement_level", view %>
<% when "protected_branch.update_require_code_owner_review" %><%= render_partial_view "audit_log/actions/protected_branch_update_require_code_owner_review", view %>
<% when "protected_branch.update_required_approving_review_count" %><%= render_partial_view "audit_log/actions/protected_branch_update_required_approving_review_count", view %>
<% when "protected_branch.update_required_status_checks_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_required_status_checks_enforcement_level", view %>
<% when "protected_branch.update_signature_requirement_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_signature_requirement_enforcement_level", view %>
<% when "protected_branch.update_linear_history_requirement_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_linear_history_requirement_enforcement_level", view %>
<% when "protected_branch.update_allow_force_pushes_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_allow_force_pushes_enforcement_level", view %>
<% when "protected_branch.update_allow_deletions_enforcement_level" %><%= render_partial_view "audit_log/actions/protected_branch_update_allow_deletions_enforcement_level", view %>
<% when "protected_branch.update_strict_required_status_checks_policy" %><%= render_partial_view "audit_log/actions/protected_branch_update_strict_required_status_checks_policy", view %>
<% when "public_key.create" %><%= render_partial_view "audit_log/actions/public_key_create", view %>
<% when "public_key.delete" %><%= render_partial_view "audit_log/actions/public_key_delete", view %>
<% when "public_key.unverification_failure" %><%= render_partial_view "audit_log/actions/public_key_unverification_failure", view %>
<% when "public_key.unverify" %><%= render_partial_view "audit_log/actions/public_key_unverify", view %>
<% when "public_key.update" %><%= render_partial_view "audit_log/actions/public_key_update", view %>
<% when "public_key.verification_failure" %><%= render_partial_view "audit_log/actions/public_key_verification_failure", view %>
<% when "public_key.verify" %><%= render_partial_view "audit_log/actions/public_key_verify", view %>
<% when "repo.access" %><%= render_partial_view "audit_log/actions/repo_access", view %>
<% when "repo.actions_enabled" %><%= render_partial_view "audit_log/actions/repo_actions_enabled", view %>
<% when "repo.add_member" %><%= render_partial_view "audit_log/actions/repo_add_member", view %>
<% when "repo.add_topic" %><%= render_partial_view "audit_log/actions/repo_add_topic", view %>
<% when "repo.archived" %><%= render_partial_view "audit_log/actions/repo_archived", view %>
<% when "repo.change_merge_setting" %><%= render_partial_view "audit_log/actions/repo_change_merge_setting", view %>
<% when "repo.clear_actions_settings" %><%= render_partial_view "audit_log/actions/repo_clear_actions_settings", view %>
<% when "repo.config.disable_anonymous_git_access" %><%= render_partial_view "audit_log/actions/repo_config_disable_anonymous_git_access", view %>
<% when "repo.config.disable_collaborators_only" %><%= render_partial_view "audit_log/actions/repo_config_disable_collaborators_only", view %>
<% when "repo.config.disable_contributors_only" %><%= render_partial_view "audit_log/actions/repo_config_disable_contributors_only", view %>
<% when "repo.config.disable_sockpuppet_disallowed" %><%= render_partial_view "audit_log/actions/repo_config_disable_sockpuppet_disallowed", view %>
<% when "repo.config.enable_anonymous_git_access" %><%= render_partial_view "audit_log/actions/repo_config_enable_anonymous_git_access", view %>
<% when "repo.config.enable_collaborators_only" %><%= render_partial_view "audit_log/actions/repo_config_enable_collaborators_only", view %>
<% when "repo.config.enable_contributors_only" %><%= render_partial_view "audit_log/actions/repo_config_enable_contributors_only", view %>
<% when "repo.config.enable_sockpuppet_disallowed" %><%= render_partial_view "audit_log/actions/repo_config_enable_sockpuppet_disallowed", view %>
<% when "repo.config.lock_anonymous_git_access" %><%= render_partial_view "audit_log/actions/repo_config_lock_anonymous_git_access", view %>
<% when "repo.config.unlock_anonymous_git_access" %><%= render_partial_view "audit_log/actions/repo_config_unlock_anonymous_git_access", view %>
<% when "repo.config" %><%= render_partial_view "audit_log/actions/repo_config", view %>
<% when "repo.create" %><%= render_partial_view "audit_log/actions/repo_create", view %>
<% when "repo.create_actions_secret" %><%= render_partial_view "audit_log/actions/repo_create_actions_secret", view %>
<% when "repo.destroy" %><%= render_partial_view "audit_log/actions/repo_destroy", view %>
<% when "repo.disable" %><%= render_partial_view "audit_log/actions/repo_disable", view %>
<% when "repo.disk_archive" %><%= render_partial_view "audit_log/actions/repo_disk_archive", view %>
<% when "repo.enable" %><%= render_partial_view "audit_log/actions/repo_enable", view %>
<% when "repo.pages_cname" %><%= render_partial_view "audit_log/actions/repo_pages_cname", view %>
<% when "repo.pages_create" %><%= render_partial_view "audit_log/actions/repo_pages_create", view %>
<% when "repo.pages_destroy" %><%= render_partial_view "audit_log/actions/repo_pages_destroy", view %>
<% when "repo.pages_https_redirect_disabled" %><%= render_partial_view "audit_log/actions/repo_pages_https_redirect_disabled", view %>
<% when "repo.pages_https_redirect_enabled" %><%= render_partial_view "audit_log/actions/repo_pages_https_redirect_enabled", view %>
<% when "repo.pages_source" %><%= render_partial_view "audit_log/actions/repo_pages_source", view %>
<% when "repo.pages_private" %><%= render_partial_view "audit_log/actions/repo_pages_private", view %>
<% when "repo.pages_public" %><%= render_partial_view "audit_log/actions/repo_pages_public", view %>
<% when "repo.register_self_hosted_runner" %><%= render_partial_view "audit_log/actions/repo_register_self_hosted_runner", view %>
<% when "repo.remove_actions_secret" %><%= render_partial_view "audit_log/actions/repo_remove_actions_secret", view %>
<% when "repo.remove_member" %><%= render_partial_view "audit_log/actions/repo_remove_member", view %>
<% when "repo.remove_self_hosted_runner" %><%= render_partial_view "audit_log/actions/repo_remove_self_hosted_runner", view %>
<% when "repo.remove_topic" %><%= render_partial_view "audit_log/actions/repo_remove_topic", view %>
<% when "repo.rename" %><%= render_partial_view "audit_log/actions/repo_rename", view %>
<% when "repo.set_fork_pr_workflows_policy" %><%= render_partial_view "audit_log/actions/repo_set_fork_pr_workflows_policy", view %>
<% when "repo.staff_unlock" %><%= render_partial_view "audit_log/actions/repo_staff_unlock", view %>
<% when "repo.transfer_start" %><%= render_partial_view "audit_log/actions/repo_transfer_start", view %>
<% when "repo.transfer" %><%= render_partial_view "audit_log/actions/repo_transfer", view %>
<% when "repo.unarchived" %><%= render_partial_view "audit_log/actions/repo_unarchived", view %>
<% when "repo.update_actions_secret" %><%= render_partial_view "audit_log/actions/repo_update_actions_secret", view %>
<% when "repo.update_actions_settings" %><%= render_partial_view "audit_log/actions/repo_update_actions_settings", view %>
<% when "repo.update_member" %><%= render_partial_view "audit_log/actions/repo_update_member", view %>
<% when "repository_advisory.close" %><%= render_partial_view "audit_log/actions/repository_advisory_close", view %>
<% when "repository_advisory.cve_request" %><%= render_partial_view "audit_log/actions/repository_advisory_cve_request", view %>
<% when "repository_advisory.github_broadcast" %><%= render_partial_view "audit_log/actions/repository_advisory_github_broadcast", view %>
<% when "repository_advisory.github_withdraw" %><%= render_partial_view "audit_log/actions/repository_advisory_github_withdraw", view %>
<% when "repository_advisory.open" %><%= render_partial_view "audit_log/actions/repository_advisory_open", view %>
<% when "repository_advisory.publish" %><%= render_partial_view "audit_log/actions/repository_advisory_publish", view %>
<% when "repository_advisory.reopen" %><%= render_partial_view "audit_log/actions/repository_advisory_reopen", view %>
<% when "repository_advisory.update" %><%= render_partial_view "audit_log/actions/repository_advisory_update", view %>
<% when "repository_content_analysis.disable" %><%= render_partial_view "audit_log/actions/repository_content_analysis_disable", view %>
<% when "repository_content_analysis.enable" %><%= render_partial_view "audit_log/actions/repository_content_analysis_enable", view %>
<% when "repository_dependency_graph.disable" %><%= render_partial_view "audit_log/actions/repository_dependency_graph_disable", view %>
<% when "repository_dependency_graph.enable" %><%= render_partial_view "audit_log/actions/repository_dependency_graph_enable", view %>
<% when "repository_image.create" %><%= render_partial_view "audit_log/actions/repository_image_create", view %>
<% when "repository_image.destroy" %><%= render_partial_view "audit_log/actions/repository_image_destroy", view %>
<% when "repository_invitation.accept" %><%= render_partial_view "audit_log/actions/repository_invitation_accept", view %>
<% when "repository_invitation.create" %><%= render_partial_view "audit_log/actions/repository_invitation_create", view %>
<% when "repository_invitation.reject" %><%= render_partial_view "audit_log/actions/repository_invitation_reject", view %>
<% when "repository_projects_change.clear" %><%= render_partial_view "audit_log/actions/repository_projects_change_clear", view %>
<% when "repository_projects_change.disable" %><%= render_partial_view "audit_log/actions/repository_projects_change_disable", view %>
<% when "repository_projects_change.enable" %><%= render_partial_view "audit_log/actions/repository_projects_change_enable", view %>
<% when "repository_secret_scanning.disable" %><%= render_partial_view "audit_log/actions/repository_secret_scanning_disable", view %>
<% when "repository_secret_scanning.enable" %><%= render_partial_view "audit_log/actions/repository_secret_scanning_enable", view %>
<% when "repository_visibility_change.clear" %><%= render_partial_view "audit_log/actions/repository_visibility_change_clear", view %>
<% when "repository_visibility_change.disable" %><%= render_partial_view "audit_log/actions/repository_visibility_change_disable", view %>
<% when "repository_visibility_change.enable" %><%= render_partial_view "audit_log/actions/repository_visibility_change_enable", view %>
<% when "repository_vulnerability_alert.create" %><%= render_partial_view("audit_log/actions/repository_vulnerability_alert_create", view) %>
<% when "repository_vulnerability_alert.dismiss" %><%= render_partial_view("audit_log/actions/repository_vulnerability_alert_dismiss", view) %>
<% when "repository_vulnerability_alert.resolve" %><%= render_partial_view("audit_log/actions/repository_vulnerability_alert_resolve", view) %>
<% when "repository_vulnerability_alerts.authorized_users_teams" %><%= render_partial_view "audit_log/actions/repository_vulnerability_alerts_authorized_users_teams", view %>
<% when "repository_vulnerability_alerts.disable" %><%= render_partial_view "audit_log/actions/repository_vulnerability_alerts_disable", view %>
<% when "repository_vulnerability_alerts.enable" %><%= render_partial_view "audit_log/actions/repository_vulnerability_alerts_enable", view %>
<% when "required_status_check.create" %><%= render_partial_view "audit_log/actions/required_status_check_create", view %>
<% when "required_status_check.destroy" %><%= render_partial_view "audit_log/actions/required_status_check_destroy", view %>
<% when "secret_scanning.enable" %><%= render_partial_view "audit_log/actions/secret_scanning_enable", view %>
<% when "secret_scanning.disable" %><%= render_partial_view "audit_log/actions/secret_scanning_disable", view %>
<% when "secret_scanning_new_repos.enable" %><%= render_partial_view "audit_log/actions/secret_scanning_new_repos_enable", view %>
<% when "secret_scanning_new_repos.disable" %><%= render_partial_view "audit_log/actions/secret_scanning_new_repos_disable", view %>
<% when "security_key.register" %><%= render_partial_view "audit_log/actions/security_key_register", view %>
<% when "security_key.remove" %><%= render_partial_view "audit_log/actions/security_key_remove", view %>
<% when "sponsors.repo_funding_links_file_action" %><%= render_partial_view "audit_log/actions/sponsors_repo_funding_links_file_action", view %>
<% when "sponsors.sponsor_sponsorship_cancel" %><%= render_partial_view "audit_log/actions/sponsors_sponsor_sponsorship_cancel", view %>
<% when "sponsors.sponsor_sponsorship_create" %><%= render_partial_view "audit_log/actions/sponsors_sponsor_sponsorship_create", view %>
<% when "sponsors.sponsor_sponsorship_preference_change" %><%= render_partial_view "audit_log/actions/sponsors_sponsor_sponsorship_preference_change", view %>
<% when "sponsors.sponsor_sponsorship_tier_change" %><%= render_partial_view "audit_log/actions/sponsors_sponsor_sponsorship_tier_change", view %>
<% when "sponsors.sponsored_developer_approve" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_approve", view %>
<% when "sponsors.sponsored_developer_create" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_create", view %>
<% when "sponsors.sponsored_developer_profile_update" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_profile_update", view %>
<% when "sponsors.sponsored_developer_request_approval" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_request_approval", view %>
<% when "sponsors.sponsored_developer_redraft" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_redraft", view %>
<% when "sponsors.sponsored_developer_tier_description_update" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_tier_description_update", view %>
<% when "sponsors.sponsored_developer_update_newsletter_send" %><%= render_partial_view "audit_log/actions/sponsors_sponsored_developer_update_newsletter_send", view %>
<% when "sponsors.waitlist_invite_sponsored_developer" %><%= render_partial_view "audit_log/actions/sponsors_waitlist_invite_sponsored_developer", view %>
<% when "sponsors.waitlist_join" %><%= render_partial_view "audit_log/actions/sponsors_waitlist_join", view %>
<% when "sponsors_memberships_ban.create" %><%= render_partial_view "audit_log/actions/sponsors_memberships_ban_create", view %>
<% when "sponsors_memberships_ban.destroy" %><%= render_partial_view "audit_log/actions/sponsors_memberships_ban_destroy", view %>
<% when "ssh_certificate_authority.create" %><%= render_partial_view "audit_log/actions/ssh_certificate_authority_create", view %>
<% when "ssh_certificate_authority.destroy" %><%= render_partial_view "audit_log/actions/ssh_certificate_authority_destroy", view %>
<% when "ssh_certificate_requirement.disable" %><%= render_partial_view "audit_log/actions/ssh_certificate_requirement_disable", view %>
<% when "ssh_certificate_requirement.enable" %><%= render_partial_view "audit_log/actions/ssh_certificate_requirement_enable", view %>
<% when "successor_invitation.accept" %><%= render_partial_view "audit_log/actions/successor_invitation_accept", view %>
<% when "successor_invitation.cancel" %><%= render_partial_view "audit_log/actions/successor_invitation_cancel", view %>
<% when "successor_invitation.create" %><%= render_partial_view "audit_log/actions/successor_invitation_create", view %>
<% when "successor_invitation.decline" %><%= render_partial_view "audit_log/actions/successor_invitation_decline", view %>
<% when "successor_invitation.destroy" %><%= render_partial_view "audit_log/actions/successor_invitation_destroy", view %>
<% when "successor_invitation.revoke" %><%= render_partial_view "audit_log/actions/successor_invitation_revoke", view %>
<% when "team_discussions.clear" %><%= render_partial_view "audit_log/actions/team_discussions_clear", view %>
<% when "team_discussions.disable" %><%= render_partial_view "audit_log/actions/team_discussions_disable", view %>
<% when "team_discussions.enable" %><%= render_partial_view "audit_log/actions/team_discussions_enable", view %>
<% when "team_group_mapping.create" %><%= render_partial_view "audit_log/actions/team_group_mapping_created", view %>
<% when "team_group_mapping.destroy" %><%= render_partial_view "audit_log/actions/team_group_mapping_destroyed", view %>
<% when "team_group_mapping.update" %><%= render_partial_view "audit_log/actions/team_group_mapping_updated", view %>
<% when "team_sync_tenant.disabled" %><%= render_partial_view "audit_log/actions/team_sync_tenant_disabled", view %>
<% when "team_sync_tenant.enabled" %><%= render_partial_view "audit_log/actions/team_sync_tenant_enabled", view %>
<% when "team_sync_tenant.update_okta_credentials" %><%= render_partial_view "audit_log/actions/team_sync_tenant_update_okta_credentials", view %>
<% when "team.add_member" %><%= render_partial_view "audit_log/actions/team_add_member", view %>
<% when "team.add_repository" %><%= render_partial_view "audit_log/actions/team_add_repository", view %>
<% when "team.change_parent_team" %><%= render_partial_view "audit_log/actions/team_change_parent_team", view %>
<% when "team.change_privacy" %><%= render_partial_view "audit_log/actions/team_change_privacy", view %>
<% when "team.create" %><%= render_partial_view "audit_log/actions/team_create", view %>
<% when "team.delete" %><%= render_partial_view "audit_log/actions/team_delete", view %>
<% when "team.destroy" %><%= render_partial_view "audit_log/actions/team_destroy", view %>
<% when "team.ldap_sync" %><%= render_partial_view "audit_log/actions/team_ldap_sync", view %>
<% when "team.ldap_sync_error" %><%= render_partial_view "audit_log/actions/team_ldap_sync_error", view %>
<% when "team.remove_member" %><%= render_partial_view "audit_log/actions/team_remove_member", view %>
<% when "team.remove_repository" %><%= render_partial_view "audit_log/actions/team_remove_repository", view %>
<% when "team.rename" %><%= render_partial_view "audit_log/actions/team_rename", view %>
<% when "team.update_permission" %><%= render_partial_view "audit_log/actions/team_update_permission", view %>
<% when "team.update_repository_permission" %><%= render_partial_view "audit_log/actions/team_update_repository_permission", view %>
<% when "two_factor_account_recovery.abort" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_abort", view %>
<% when "two_factor_account_recovery.complete" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_complete", view %>
<% when "two_factor_account_recovery.staff_approve" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_staff_approve", view %>
<% when "two_factor_account_recovery.staff_decline" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_staff_decline", view %>
<% when "two_factor_account_recovery.start" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_start", view %>
<% when "two_factor_account_recovery.two_factor_destroy" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_two_factor_destroy", view %>
<% when "two_factor_account_recovery.ignore" %><%= render_partial_view "audit_log/actions/two_factor_account_recovery_ignore", view %>
<% when "two_factor_authentication.disabled" %><%= render_partial_view "audit_log/actions/two_factor_authentication_disabled", view %>
<% when "two_factor_authentication.enabled" %><%= render_partial_view "audit_log/actions/two_factor_authentication_enabled", view %>
<% when "two_factor_authentication.password_reset_fallback_sms" %><%= render_partial_view "audit_log/actions/two_factor_authentication_password_reset_fallback_sms", view %>
<% when "two_factor_authentication.recovery_codes_regenerated" %><%= render_partial_view "audit_log/actions/two_factor_authentication_recovery_codes_regenerated", view %>
<% when "two_factor_authentication.sign_in_fallback_sms" %><%= render_partial_view "audit_log/actions/two_factor_authentication_sign_in_fallback_sms", view %>
<% when "two_factor_authentication.update_fallback" %><%= render_partial_view "audit_log/actions/two_factor_authentication_update_fallback", view %>
<% when "user_email.confirm_verification" %><%= render_partial_view "audit_log/actions/user_email_confirm_verification", view %>
<% when "user_email.request_verification" %><%= render_partial_view "audit_log/actions/user_email_request_verification", view %>
<% when "user_license.create" %><%= render_partial_view "audit_log/actions/user_license_create", view %>
<% when "user_license.destroy" %><%= render_partial_view "audit_log/actions/user_license_destroy", view %>
<% when "user_license.update" %><%= render_partial_view "audit_log/actions/user_license_update", view %>
<% when "user_session.country_change" %><%= render_partial_view "audit_log/actions/user_session_country_change", view %>
<% when "user_status.destroy" %><%= render_partial_view "audit_log/actions/user_status_destroy", view %>
<% when "user_status.update" %><%= render_partial_view "audit_log/actions/user_status_update", view %>
<% when "user.add_email" %><%= render_partial_view "audit_log/actions/user_add_email", view %>
<% when "user.async_delete" %><%= render_partial_view "audit_log/actions/user_async_delete", view %>
<% when "user.audit_log_export" %><%= render_partial_view "audit_log/actions/user_audit_log_export", view %>
<% when "user.block_user" %><%= render_partial_view "audit_log/actions/user_block_user", view %>
<% when "user.change_password" %><%= render_partial_view "audit_log/actions/user_change_password", view %>
<% when "user.clear_new_repository_default_branch_setting" %><%= render_partial_view "audit_log/actions/user_clear_new_repository_default_branch_setting", view %>
<% when "user.correct_password_from_unrecognized_device_and_location" %><%= render_partial_view "audit_log/actions/user_correct_password_from_unrecognized_device_and_location", view %>
<% when "user.correct_password_from_unrecognized_device" %><%= render_partial_view "audit_log/actions/user_correct_password_from_unrecognized_device", view %>
<% when "user.correct_password_from_unrecognized_location" %><%= render_partial_view "audit_log/actions/user_correct_password_from_unrecognized_location", view %>
<% when "user.create" %><%= render_partial_view "audit_log/actions/user_create", view %>
<% when "user.creation_rate_limit_exceeded" %><%= render_partial_view "audit_log/actions/user_creation_rate_limit_exceeded", view %>
<% when "user.delete" %><%= render_partial_view "audit_log/actions/user_delete", view %>
<% when "user.demote" %><%= render_partial_view "audit_log/actions/user_demote", view %>
<% when "user.destroy" %><%= render_partial_view "audit_log/actions/user_destroy", view %>
<% when "user.device_verification_failure" %><%= render_partial_view "audit_log/actions/user_device_verification_failure", view %>
<% when "user.device_verification_requested" %><%= render_partial_view "audit_log/actions/user_device_verification_requested", view %>
<% when "user.device_verification_success" %><%= render_partial_view "audit_log/actions/user_device_verification_success", view %>
<% when "user.device_unverification" %><%= render_partial_view "audit_log/actions/user_device_unverification", view %>
<% when "user.failed_login" %><%= render_partial_view "audit_log/actions/user_failed_login", view %>
<% when "user.forgot_password" %><%= render_partial_view "audit_log/actions/user_forgot_password", view %>
<% when "user.grant_github_developer" %><%= render_partial_view "audit_log/actions/user_grant_github_developer", view %>
<% when "user.hide_private_contributions_count" %><%= render_partial_view "audit_log/actions/user_hide_private_contributions_count", view %>
<% when "user.ldap_sync_error" %><%= render_partial_view "audit_log/actions/user_ldap_sync_error", view %>
<% when "user.ldap_sync" %><%= render_partial_view "audit_log/actions/user_ldap_sync", view %>
<% when "user.lockout" %><%= render_partial_view "audit_log/actions/user_lockout", view %>
<% when "user.login" %><%= render_partial_view "audit_log/actions/user_login", view %>
<% when "user.minimize_comment" %><%= render_partial_view "audit_log/actions/user_minimize_comment", view %>
<% when "user.enable_open_messages" %><%= render_partial_view "audit_log/actions/user_enable_open_messages", view %>
<% when "user.disable_open_messages" %><%= render_partial_view "audit_log/actions/user_disable_open_messages", view %>
<% when "user.opt_into_messages" %><%= render_partial_view "audit_log/actions/user_opt_into_messages", view %>
<% when "user.opt_out_of_messages" %><%= render_partial_view "audit_log/actions/user_opt_out_of_messages", view %>
<% when "user.promote" %><%= render_partial_view "audit_log/actions/user_promote", view %>
<% when "user.recreate" %><%= render_partial_view "audit_log/actions/user_recreate", view %>
<% when "user.remove_email" %><%= render_partial_view "audit_log/actions/user_remove_email", view %>
<% when "user.rename" %><%= render_partial_view "audit_log/actions/user_rename", view %>
<% when "user.report_abuse" %><%= render_partial_view "audit_log/actions/user_report_abuse", view %>
<% when "user.report_content" %><%= render_partial_view "audit_log/actions/user_report_content", view %>
<% when "user.reset_password" %><%= render_partial_view "audit_log/actions/user_reset_password", view %>
<% when "user.security_checkup_confirmed" %><%= render_partial_view "audit_log/actions/user_security_checkup_confirmed", view %>
<% when "user.security_checkup_postponed" %><%= render_partial_view "audit_log/actions/user_security_checkup_postponed", view %>
<% when "user.security_checkup_updated" %><%= render_partial_view "audit_log/actions/user_security_checkup_updated", view %>
<% when "user.security_checkup_viewed" %><%= render_partial_view "audit_log/actions/user_security_checkup_viewed", view %>
<% when "user.show_private_contributions_count" %><%= render_partial_view "audit_log/actions/user_show_private_contributions_count", view %>
<% when "user.suspend" %><%= render_partial_view "audit_log/actions/user_suspend", view %>
<% when "user.toggle_warn_private_email" %><%= render_partial_view "audit_log/actions/user_toggle_warn_private_email", view %>
<% when "user.two_factor_challenge_failure" %><%= render_partial_view "audit_log/actions/user_two_factor_challenge_failure", view %>
<% when "user.two_factor_challenge_success" %><%= render_partial_view "audit_log/actions/user_two_factor_challenge_success", view %>
<% when "user.two_factor_recover" %><%= render_partial_view "audit_log/actions/user_two_factor_recover", view %>
<% when "user.two_factor_recovery_codes_downloaded" %><%= render_partial_view "audit_log/actions/user_two_factor_recovery_codes_downloaded", view %>
<% when "user.two_factor_recovery_codes_printed" %><%= render_partial_view "audit_log/actions/user_two_factor_recovery_codes_printed", view %>
<% when "user.two_factor_recovery_codes_viewed" %><%= render_partial_view "audit_log/actions/user_two_factor_recovery_codes_viewed", view %>
<% when "user.two_factor_requested" %><%= render_partial_view "audit_log/actions/user_two_factor_requested", view %>
<% when "user.unblock_user" %><%= render_partial_view "audit_log/actions/user_unblock_user", view %>
<% when "user.unminimize_comment" %><%= render_partial_view "audit_log/actions/user_unminimize_comment", view %>
<% when "user.unsuspend" %><%= render_partial_view "audit_log/actions/user_unsuspend", view %>
<% when "user.update_new_repository_default_branch_setting" %><%= render_partial_view "audit_log/actions/user_update_new_repository_default_branch_setting", view %>
<% when "role.create" %><%= render_partial_view "audit_log/actions/role_create", view %>
<% when "role.destroy" %><%= render_partial_view "audit_log/actions/role_destroy", view %>
<% when "role.update" %><%= render_partial_view "audit_log/actions/role_update", view %>
<% when "workflows.delete_workflow_run" %><%= render_partial_view "audit_log/actions/workflows_delete_workflow_run", view %>
<% when "workflows.enable_workflow" %><%= render_partial_view "audit_log/actions/workflows_enable_workflow", view %>
<% when "workflows.disable_workflow" %><%= render_partial_view "audit_log/actions/workflows_disable_workflow", view %>
<% else %><%= render_partial_view "audit_log/actions/default", view %>
<% end %>
