<%
  # `view` is an instance of Sponsors::FeaturedAccountsView.
%>
<div class="js-featured-accounts">
  <% view.featured_accounts.each do |account| %>
    <article class="Box-row d-flex" id="pa-<%= account %>" <%= test_selector("sponsors-featured-account") %>>
      <div class="ml-0 mr-3 ml-lg-3">
        <%= linked_avatar_for(account, 48, img_class: "rounded-1") %>
      </div>

      <div class="d-sm-flex flex-auto">
        <div class="col-sm-9 d-md-flex">
          <div class="col-md-5 pr-3">
            <h1 class="h3 lh-condensed">
              <a href="<%= user_path(account) %>"><%= account.name %></a>
            </h1>
          </div>

          <div class="col-md-7">
            <%= view.description_for(account) %>
          </div>
        </div>

        <div class="col-sm-3 d-flex flex-items-start flex-sm-justify-end ml-sm-3 mt-3 mt-sm-0">
          <a href="<%= sponsorable_path(account) %>">
            <btn class="btn px-2 py-1" aria-label="<%= view.label_for(account) %>">
              <%= octicon view.icon_name_for(account), class: "#{view.icon_class_for(account)} v-align-middle" %>
              <span class="ml-1 mr-1"><%= view.sponsor_text_for(account) %></span>
            </btn>
          </a>
        </div>
      </div>
    </article>
  <% end %>
</div>
