<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Sponsorable on Actor {
    login
    resourcePath
    ... on Sponsorable {
      sponsorshipsAsMaintainer(first: 14, includePrivate: true) {
        totalCount
        nodes {
          privacyLevel
          sponsor: sponsorEntity {
            ...ApplicationHelper::LinkedAvatar
          }
        }
      }
      sponsorshipsAsSponsor(first: 14) {
        totalCount
        nodes {
          sponsorable {
            ...ApplicationHelper::LinkedAvatar
          }
        }
      }
    }
  }
%>

<%
  sponsorable = Views::Sponsors::SponsorableProfileSponsors::Sponsorable.new(sponsorable)

  sponsorships_as_maintainer = sponsorable.sponsorships_as_maintainer.nodes.presence
  sponsorships_as_maintainer ||= []

  sponsorships_as_sponsor = sponsorable.sponsorships_as_sponsor.nodes.presence if show_sponsoring
  sponsorships_as_sponsor ||= []
%>

<% if sponsorships_as_maintainer.present? || sponsorships_as_sponsor.present? %>
<div <%= test_selector("profile-sponsorships") %>>
  <% if box_wrapper %><div class="Box"><ul><% end %>
  <% if sponsorships_as_maintainer.present? %>
    <% sponsorships, overflow_count = truncated_sponsors_list(sponsorships_as_maintainer, sponsorable.sponsorships_as_maintainer.total_count) %>
    <% if box_wrapper %><li class="Box-row"><% end %>
    <div class="<%= section_class %>" <%= test_selector("profile-sponsors") %>>
      <h2 class="<%= title_class %>">Sponsors</h2>
      <% sponsorships.each do |sponsorship| %>
        <% sponsor = sponsorship.sponsor %>
        <% if sponsorship.privacy_level == "PUBLIC" %>
          <%= graphql_linked_avatar_for(sponsor, 35, link_class: "avatar-group-item", img_class: "avatar") %>
        <% else %>
          <div class="d-inline-block no-underline border text-center text-gray rounded-1 v-align-middle text-small bg-gray-2 tooltipped tooltipped-n avatar-user" aria-label="Private sponsor" style="width:35px;height:35px;line-height:33px;">
            <%= octicon "person" %>
          </div>
        <% end %>
      <% end %>
      <% if overflow_count > 0 %>
        <div class="d-inline-block border text-center rounded-1 v-align-middle" style="width:35px;height:35px;line-height:33px;">
          <a href="<%= sponsorable_path(sponsorable.login) %>#sponsors" class="no-underline text-small text-gray">
            +<%= social_count(overflow_count + 1) %>
          </a>
        </div>
      <% end %>
    </div>
    <% if box_wrapper %></li><% end %>
  <% end %>

  <% if sponsorships_as_sponsor.any? %>
    <% sponsorships, overflow_count = truncated_sponsors_list(sponsorships_as_sponsor, sponsorable.sponsorships_as_sponsor.total_count) %>
    <% if box_wrapper %><li class="Box-row"><% end %>
    <div class="<%= section_class %>" <%= test_selector("profile-sponsoring") %>>
      <div class="d-flex flex-justify-between flex-items-center">
        <h2 class="<%= title_class %>">Sponsoring</h2>
      </div>
      <% sponsorships.each do |sponsorship| %>
        <%= graphql_linked_avatar_for(sponsorship.sponsorable, 35, link_class: "avatar-group-item", img_class: "avatar") %>
      <% end %>
      <% if overflow_count > 0 %>
        <div class="d-inline-block border text-center rounded-1 v-align-middle" style="width:35px;height:35px;line-height:33px;">
          <a href="<%= sponsorable.resource_path %>?tab=sponsoring" class="no-underline text-small text-gray">
            +<%= social_count(overflow_count + 1) %>
          </a>
        </div>
      <% end %>
    </div>
    <% if box_wrapper %></li><% end %>
  <% end %>
  <% if box_wrapper %></ul></div><% end %>
</div>
<% end %>
