<%
  # `view` is an instance of Sponsors::FeaturedAccountsView.
  page_info(
    title: "GitHub Sponsors",
    class: "f4",
    container_xl: true,
    marketing_page: true,
    richweb: {
      title: "GitHub Sponsors",
      url: request.original_url,
      description: "Financially support the people behind your favorite open source projects with GitHub Sponsors.",
      image: image_path("modules/site/social-cards/sponsors.png"),
      type: "website",
    },
  )
  view_your_eligible_accounts_button = if logged_in?
    dropdowns_enabled_count = 0
    dropdowns_enabled_count += 1 if current_user_listing_accounts.any?
    dropdowns_enabled_count += 1 if current_user_unlisted_accounts.any?
    dropdowns_enabled_count += 1 if current_user_unjoined_accounts.any?
    dropdowns_enabled_count != 1
  else
    false
  end
  view_your_eligible_accounts_url = proc { sponsors_accounts_path }
%>

<div class="mx-auto py-6 py-lg-8 mb-5 position-relative">
  <div class="container-xl p-responsive mx-auto d-md-flex flex-wrap position-relative">
    <div class="col-12 col-lg-7 text-center text-lg-left pb-4 pb-lg-6 pb-xl-9">
      <% if GitHub.flipper[:sponsored_orgs_ga_banner].enabled?(current_user) %>
      <div
        class="Box p-3 rounded-2 mb-5 mb-xl-6 mr-lg-2 mr-xl-6 box-shadow-large bg-white anim-scale-in"
        style="border-color: #ec6cb9; animation-duration: .2s;">
          <div class="d-flex flex-wrap flex-items-center flex-justify-between pl-sm-3 text-sm-left">
            <img src="<%= image_path "modules/site/sponsors/pixel-mona-heart.gif" %>" alt="Pixel Mona heart" width="64"
            height="64">
            <div class="col-12 col-md-10">
              <h3 class="h3-mktg mb-1">
                GitHub Sponsors for organizations is now generally available in <a href="/sponsors#countries">32 regions</a>!
              </h3>
              <p class="text-gray">Keep an eye out as we keep rolling out new features. Sign up individually or as an organization for GitHub Sponsors below.</p>
            </div>
          </div>
        </div>
      <% end %>

      <h4 class="f4 text-mono text-normal text-gray-light mb-3">
        <span class="v-align-middle">GitHub Sponsors</span>
      </h4>
      <h1 class="h000-mktg lh-condensed mb-3">Fund your work. <br class="d-none d-md-inline">Build what matters.</h1>
      <p class="col-12 col-md-9 col-lg-10 mt-2 mt-lg-0 mx-auto mx-lg-0 mb-4 f3 text-gray-light">Connect with the community that depends on your work. <br class="d-none d-lg-inline-block">Receive recurring funds to build our shared digital&nbsp;infrastructure.</p>
      <div class="mt-4">
        <% if view_your_eligible_accounts_button %>
          <%= render "sponsors/dropdown_button",
                     accounts: [current_user],
                     button_url_helper: view_your_eligible_accounts_url,
                     button_text: "View your eligible accounts" %>
          <p class="f5 mt-3 text-gray">View the GitHub Sponsors status for all your accounts.</p>
        <% elsif current_user_listing_accounts.any? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_listing_accounts,
                     button_url_helper: method(:sponsorable_dashboard_path),
                     button_text: "View your Sponsors dashboard" %>
          <p class="f5 mt-3 text-gray">Check on your funds and see who sponsors you.</p>
        <% elsif current_user_unlisted_accounts.any? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_unlisted_accounts,
                     button_url_helper: method(:sponsorable_signup_path),
                     button_text: "Join GitHub Sponsors" %>
          <p class="f5 mt-3 text-gray">Received an invite to become a sponsored developer? Sign up to get started.</p>
        <% elsif logged_in? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_unjoined_accounts,
                     button_url_helper: method(:sponsorable_waitlist_path),
                     button_text: "Join the waitlist" %>
          <p class="f5 mt-3 text-gray Bump-link">Questions? <a class="no-underline" href="<%= GitHub.help_url %>/articles/about-github-sponsors" data-ga-click="Sponsors, click, text:Read the FAQ">Read the FAQ <span class="Bump-link-symbol">&rarr;</span></a></p>
        <% else %>
          <span class="f4 btn-mktg mr-2 lh-condensed-ultra disabled" <%= test_selector(:sponsorable_button) %>>
            Join the waitlist
          </span>
          <p class="f5 mt-3 text-gray"><a class="no-underline" href="<%= login_path(return_to: sponsors_path) %>">Log in</a> to join.</p>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-5 position-relative position-lg-absolute top-0 right-0 pt-xl-7">
      <div class="d-flex flex-justify-center">
        <div class="d-inline-block flex-self-center position-relative">
          <div class="bg-white box-shadow-large rounded-2 text-center position-relative mx-lg-0 mx-auto pt-4" style="width: 310px;">
            <div class="mx-auto position-relative width-full sponsors-mona-frame" style="max-width: 260px; height: 260px; background-color: #F1F8FF;">
              <img src="<%= image_path "modules/site/sponsors/logo-mona-2.svg" %>" alt="Mona holding hearts" class="sponsors-mona-profile position-absolute left-n2 top-3" style="width: 105%;">
            </div>
            <div class="px-4 py-3 text-left">
              <h3 class="h3-mktg lh-condensed">Mona Lisa</h3>
              <p class="f4 text-gray-light mb-3">octocat</p>
              <div class="btn btn-block mb-3" style="cursor: initial; z-index: 2;"><%= octicon "heart", class: "icon-sponsoring text-pink v-align-middle mr-1" %> Sponsoring</div>
              <p class="text-gray-light f5" style="z-index: 2;">Hi, I'm Mona, the GitHub Octocat!<br>I love to code and tinker. Best friends with Hubot.</p>
            </div>
          </div>

          <svg class="sponsors-particle-1 position-absolute top-11 left-n8" width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path d="M11.7 3.2l-1.3 12.2-7.2 8.8 12 .9 8.8 7.6 1.2-11.5 6.8-9.4-11.3-1-9-7.6z" stroke="#FCCF77" stroke-width="6.3" stroke-miterlimit="10" stroke-linejoin="round"></g><defs><clipPath><path fill="#fff" d="M0 0h35.2v35.9H0z"></clipPath></defs></svg>
          <svg class="sponsors-particle-2 position-absolute left-n5" style="top: 330px;" width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#a)" stroke="#F46A23" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><path d="M2.376 18.623l4.816-4.303m8.67-7.835l4.56-4.11-4.56 4.11z"></path><path d="M18.43 10.724c1.542.064-7.32 8.091-7.256 6.55-.065 1.541-8.092-7.32-6.55-7.257-1.542-.064 7.32-8.027 7.256-6.55.064-1.477 8.092 7.385 6.55 7.257z"></path></g><defs><clipPath id="a"><path fill="#fff" transform="translate(0 -.001)" d="M0 0h22.798v21H0z"></path></clipPath></defs></svg>
          <svg class="sponsors-particle-3 position-absolute right-0 right-md-n7" style="top: 200px;" width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.892 7.56c-2.05-3.943-4.75-5.556-8.23-4.873-5.22 1.024-6.203 6.748-6.069 8.227.168 2.342.658 9.168 9.212 14.846 9.533-.77 13.875-5.763 15.72-8.442 1.285-1.903 2.592-6.822-.806-9.862-2.688-2.398-5.979-2.39-9.827.103z" stroke="#EA4AAA" stroke-width="4" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></svg>
          <svg class="sponsors-particle-1 position-absolute d-none d-md-block right-n6 right-lg-n8" style="bottom: -180px;" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8 16.265c3.755 0 6.8-2.919 6.8-6.519s-3.045-6.518-6.8-6.518C7.044 3.228 4 6.146 4 9.746c0 3.6 3.044 6.519 6.8 6.519z" stroke="#78D1E5" stroke-width="6.3" stroke-miterlimit="10"></path></svg>
          <svg class="sponsors-particle-2 position-absolute d-none d-lg-block left-n12" style="bottom: -280px;" width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3 26.794c5.524 0 10-4.291 10-9.586 0-5.294-4.476-9.586-10-9.586-5.522 0-10 4.292-10 9.586 0 5.295 4.478 9.586 10 9.586z" stroke="#FCCF77" stroke-width="6.3" stroke-miterlimit="10"></path><path d="M25.7 10.019l7-6.806M4 31.108l7.5-7.285" stroke="#FCCF77" stroke-width="6.3" stroke-miterlimit="10" stroke-linecap="round"></path></svg>
        </div>

      </div>
      <img src="<%= image_path "modules/site/sponsors/confetti-1.svg" %>" class="position-absolute top-0 right-0 right-md-12 right-lg-0 z-n1" width="150%" style="max-width: 760px;" alt="decorative confetti">
    </div>

  </div>

  <div class="d-none d-lg-block col-12 col-lg-7 bg-gray-light position-absolute top-0 left-0 height-full" style="z-index:-1;"></div>
  <div class="d-none d-lg-block col-6 bg-dots-gray position-absolute left-0 bottom-n5" style="z-index:-2; height: 40px;"></div>
</div>

<div class="overflow-hidden">
  <div class="container-xl p-responsive mx-auto pb-6 py-lg-6 position-relative">
    <div class="d-sm-flex flex-wrap flex-items-center flex-justify-between mt-3">

      <div class="col-12 col-lg-5 bg-white" style="z-index: 1">
        <div class="pb-6 pb-lg-7 text-center text-lg-left mb-lg-4">
          <h3 class="h0-mktg lh-condensed mb-6 mb-lg-0 bg-white">And support<br class="d-md-none">
          <ul class="list-style-none d-inline-block overflow-hidden v-align-bottom position-relative Slots text-center text-lg-left">
            <li class="Slots-item pt-1 d-block">developers</li>
            <li class="Slots-item pt-1 d-block">projects</li>
            <li class="Slots-item pt-1 d-block">maintainers</li>
            <li class="Slots-item pt-1 d-block">writers</li>
            <li class="Slots-item pt-1 d-block">teachers</li>
          </ul>
          <br> you depend on, too.</h3>
        </div>

        <div class="pt-md-6 pt-lg-1 pb-lg-8 text-center text-lg-left">
          <h4 class="f4 text-mono text-normal text-gray-light mb-2">100% to developers</h4>
          <h2 class="h1-mktg mb-2">Zero fees</h2>
          <p class="col-sm-9 col-lg-12 mx-auto text-gray-light mb-4">GitHub does not charge fees for GitHub Sponsors. We cover payment processing costs, so one-hundred percent of your sponsorship goes to the developers and organizations you fund.</p>
          <a class="text-blue-mktg Bump-link no-underline" href="<%= GitHub.help_url %>/articles/about-github-sponsors" data-ga-click="Sponsors, click, text:Learn more">Learn more <span class="Bump-link-symbol">&rarr;</span></a>
        </div>
      </div>

      <div class="d-none d-lg-block col-lg-6 col-xl-5">
        <img src="<%= image_path "modules/site/sponsors/fml-links-org.png" %>" class="width-fit" alt="funding model links modal">
      </div>
    </div>
  </div>

  <div class="container-xl p-responsive mx-auto mb-lg-6 pb-6 py-lg-6 position-relative" id="countries">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mb-3 mx-auto text-center">
      <h2 class="h1-mktg mb-6">Generally available in <%= Sponsors::SUPPORTED_REGIONS_COUNT %> regions<br class="d-none d-lg-inline"> for individuals and organizations</h2>
    </div>
    <%= render "sponsors/country_list" %>

    <!-- Sponsors GA promo video -->
    <div class="rounded-2 bg-blue-light p-3 col-12 col-sm-10 col-md-8 col-lg-6 mb-3 mt-8 mx-auto text-center js-video-container togglevideo clearfix">
      <div class="togglevideo-hidewhenexpanded">
        <div
          class="position-relative d-block mx-auto float-sm-left mb-3 mb-sm-0 col-5 col-sm-3 rounded-1 js-video-play"
          style="background-image: url(<%= image_path "modules/site/sponsors/ga-video-thumbnail.jpg" %>); background-size: cover; background-position: center; height:100px; cursor: pointer;"
          data-ga-click="Video, play, What is GitHub Video">
          <div class="position-absolute bottom-0 left-0 mb-2 ml-2">
            <span class="d-inline-block rounded-1 p-2 mx-auto" style="background-color: rgba(0,0,0,0.5);">
              <%= octicon "device-camera-video", class: "text-white" %>
            </span>
          </div>
        </div>
        <div class="float-left col-sm-9 pl-sm-4 text-sm-left f3">
          Hear just a few of the talented developers who participated in the beta describe what GitHub Sponsors means to them.
        </div>
      </div>
      <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded">
        <button class="btn-link js-video-close mb-3 mt-n3" type="button"
                data-ga-click="Video, close, What is GitHub Video"
                aria-label="Close video">
          <%= octicon "x", class: "mr-1" %>Close
        </button>
        <div class="video-responsive">
          <iframe class="js-video-iframe" data-src="https://www.youtube.com/embed/e_zhHQXTwVo?autoplay=1&amp;rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div><!-- Sponsors GA promo video -->

    <div class="col-12 col-sm-10 col-md-6 mx-auto mt-8 text-center">
      <h4 class="f4 text-normal text-mono text-gray-light mb-2">Don't see your region?</h4>
      <p class="f3 mb-4">
        Join the waitlist to receive updates when we expand
      </p>
      <% if view_your_eligible_accounts_button %>
        <%= render "sponsors/dropdown_button",
                   accounts: [current_user],
                   button_url_helper: view_your_eligible_accounts_url,
                   button_text: "View your eligible accounts" %>
      <% elsif current_user_listing_accounts.any? %>
        <%= render "sponsors/dropdown_button",
                   accounts: current_user_listing_accounts,
                   button_url_helper: method(:sponsorable_dashboard_path),
                   button_text: "View your Sponsors dashboard" %>
      <% elsif current_user_unlisted_accounts.any? %>
        <%= render "sponsors/dropdown_button",
                   accounts: current_user_unlisted_accounts,
                   button_url_helper: method(:sponsorable_signup_path),
                   button_text: "Join GitHub Sponsors" %>
      <% elsif logged_in? %>
        <%= render "sponsors/dropdown_button",
                   accounts: current_user_unjoined_accounts,
                   button_url_helper: method(:sponsorable_waitlist_path),
                   button_text: "Join the waitlist" %>
      <% else %>
        <span class="f4 btn-mktg mr-2 lh-condensed-ultra disabled" <%= test_selector(:sponsorable_button) %>>
          Join the waitlist
        </span>
        <p class="f5 mt-3 text-gray"><a class="no-underline" href="<%= login_path(return_to: sponsors_path) %>">Log in</a> to join.</p>
      <% end %>
    </div>
  </div>


  <div class="clearfix bg-gray mb-8 mb-lg-12 position-relative">
    <div class="d-none d-lg-block col-6 bg-dots-gray position-absolute right-0 top-n5" style="z-index:-2; height: 40px;"></div>

    <div class="container-xl mx-auto py-8 px-3 px-md-6 position-relative">
      <svg class="sponsors-particle-1 d-none d-lg-block position-absolute top-n11 right-n8" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8 16.265c3.755 0 6.8-2.919 6.8-6.519s-3.045-6.518-6.8-6.518C7.044 3.228 4 6.146 4 9.746c0 3.6 3.044 6.519 6.8 6.519z" stroke="#78D1E5" stroke-width="6.3" stroke-miterlimit="10"></path></svg>
      <svg class="sponsors-particle-2 d-none d-lg-block position-absolute right-n5 top-n2" width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#b)" stroke="#F46A23" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><path d="M2.376 18.623l4.816-4.303m8.67-7.835l4.56-4.11-4.56 4.11z"></path><path d="M18.43 10.724c1.542.064-7.32 8.091-7.256 6.55-.065 1.541-8.092-7.32-6.55-7.257-1.542-.064 7.32-8.027 7.256-6.55.064-1.477 8.092 7.385 6.55 7.257z"></path></g><defs><clipPath id="b"><path fill="#fff" transform="translate(0 -.001)" d="M0 0h22.798v21H0z"></path></clipPath></defs></svg>

      <div class="d-flex flex-wrap flex-justify-between flex-items-center">
        <div class="col-12 col-lg-6 mb-6">
          <div class="d-flex flex-column position-relative mx-auto" style="max-width: 580px;">
            <!-- popover -->
            <div class="sponsors-popover Popover-message Popover-message--bottom-left p-3 mb-2 Box box-shadow-large d-flex flex-row width-full position-relative left-n3 left-md-8 mr-4" style="max-width: 370px;">
              <img class="d-none d-sm-block avatar avatar-user rounded-1 mr-3" height="48" width="48" alt="example user profile image" src="<%= image_path "modules/site/sponsors/example-user-photo.png" %>">
              <div class="d-flex flex-column flex-items-start">
                <h5 class="mb-2 text-normal"><strong>Jessica S. Loona</strong> <span class="text-gray ml-1">itsbagpack</span></h5>
                <div class="sponsors-popover"></div>
                <svg class="mb-1" style="max-width: 270px; width: 100%;" width="270" height="10" viewBox="0 0 270 10" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="270" height="10" rx="5" fill="#F6F8FA"></svg>
                <svg class="mb-2" style="max-width: 239px; width: 100%;" width="239" height="10" viewBox="0 0 239 10" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="239" height="10" rx="5" fill="#F6F8FA"></svg>
                <div class="btn px-2 py-1" style="cursor: initial;">
                  <%= octicon "heart", class: "icon-sponsoring text-pink v-align-middle" %>
                  <span class="ml-1 mr-1">Sponsoring</span>
                </div>
              </div>
            </div>
            <!-- visible comment -->
            <div class="sponsors-discussion position-relative d-flex mb-md-4 z-2">
              <img class="avatar avatar-user rounded-1 mr-3" height="48" width="48" alt="example user profile image" src="<%= image_path "modules/site/sponsors/example-user-photo.png" %>">
              <div class="Box rounded-2 width-full">
                <div class="Box-header text-gray" style="padding: 10px 15px;">
                  <h3 class="f5 text-normal p-0">
                    <strong class="author">itsbagpack</strong> <span class="text-normal">commented 3 days ago</span>
                  </h3>
                </div>
                <div class="Box-body f5" style="padding: 15px;">
                  Nice implementation here! Let’s get it into our next release.
                </div>
              </div>
            </div>
          </div>
          <!-- faded comment -->
          <div class="d-none d-md-flex position-relative mx-auto" style="max-width: 580px;">
            <div class="position-absolute width-full z-2" style="height: 100%; background: linear-gradient(to bottom, rgba(246,248,250,0.5) 0%,rgba(246,248,250,1) 100%);"></div>
            <img class="avatar avatar-user rounded-1 mr-3" height="48" width="48" alt="example user profile image" src="<%= image_path "modules/site/sponsors/example-user-photo-2.png" %>">
            <div class="Box rounded-2 width-full">
              <div class="Box-header text-gray" style="padding: 10px 15px;">
                <h3 class="f5 text-normal p-0">
                  <strong class="author">gladwearefriends</strong> <span class="text-normal">commented an hour ago</span>
                </h3>
              </div>
              <div class="Box-body f5" style="padding: 15px;">
                Sounds good!
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-9 col-lg-5 mx-auto mx-lg-0 text-center text-lg-left position-relative">
          <h2 class="h1-mktg mb-2 lh-condensed">A new way to<br class="d-none d-lg-inline"> contribute on GitHub</h2>
          <p class="text-gray-light mb-0">Funding developers and organizations through GitHub Sponsors is one more way to contribute to open source projects you appreciate. Help projects get the resources they need, and recognize contributors working behind the scenes to make open source better for everyone.</p>
          <p class="text-gray-light mb-0 mt-3">With Sponsors, any GitHub user can sponsor any open source developer or organization in the program.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg p-responsive mb-12" id="community">
    <div class="mb-5">
      <h4 class="f4 text-mono text-normal text-gray-light mb-3">
        <span class="v-align-middle">Community</span>
      </h4>
      <h2 class="h1-mktg mb-1">Explore the GitHub Sponsors community</h2>
      <p class="f3 text-gray-light mt-1 mb-3">Find new open source contributors to support.</p>
    </div>

    <%= render "sponsors/featured_accounts_box", view: view %>
  </div>

  <div class="container-xl mx-auto pb-6 pb-lg-8 p-responsive">
    <div class="col-12 mx-auto d-flex flex-wrap flex-justify-between flex-items-center">
      <div class="col-12 col-sm-9 col-lg-5 mx-auto text-center text-lg-left ml-lg-0">
        <h2 class="h1-mktg mb-2 lh-condensed">Get funded as a sponsored developer or organization</h2>
        <p class="text-gray-light">Anyone who contributes to open source—whether through code, documentation, leadership, mentorship, design, or beyond—is eligible for sponsorship. Tell us about your open source work, and join the program.</p>
        <p class="text-gray-light mb-3">GitHub Sponsors is generally available to developers with bank accounts in <a href="<%= GitHub.help_url %>/articles/becoming-a-sponsored-developer#submitting-your-bank-and-tax-information"><%= Sponsors::SUPPORTED_REGIONS_COUNT %> regions</a>, and growing.</p>

        <% if view_your_eligible_accounts_button %>
          <%= render "sponsors/dropdown_button",
                     accounts: [current_user],
                     button_url_helper: view_your_eligible_accounts_url,
                     button_text: "View your eligible accounts" %>
          <p class="f5 mt-3 text-gray">View the GitHub Sponsors status for all your accounts.</p>
        <% elsif current_user_listing_accounts.any? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_listing_accounts,
                     button_url_helper: method(:sponsorable_dashboard_path),
                     button_text: "View your Sponsors dashboard" %>
          <p class="f5 mt-3 text-gray">Check on your funds and see who sponsors you.</p>
        <% elsif current_user_unlisted_accounts.any? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_unlisted_accounts,
                     button_url_helper: method(:sponsorable_signup_path),
                     button_text: "Join GitHub Sponsors" %>
          <p class="f5 mt-3 text-gray">Received an invite to become a sponsored developer? Sign up to get started.</p>
        <% elsif logged_in? %>
          <%= render "sponsors/dropdown_button",
                     accounts: current_user_unjoined_accounts,
                     button_url_helper: method(:sponsorable_waitlist_path),
                     button_text: "Join the waitlist" %>
        <% else %>
          <span class="f4 btn-mktg mr-2 lh-condensed-ultra disabled" <%= test_selector(:sponsorable_button) %>>
            Join the waitlist
          </span>
          <p class="f5 mt-3 text-gray"><a class="no-underline" href="<%= login_path(return_to: sponsors_path) %>">Log in</a> to join.</p>
        <% end %>
      </div>

      <div class="col-12 col-sm-9 col-lg-6 mx-auto text-center text-lg-left mt-6 mt-lg-0 mr-lg-0 mb-6 ml-lg-0">
        <div class="offset-lg-2 bg-blue-8 rounded-1 p-7 sponsors-questions position-relative">
          <svg class="sponsors-particle-3 position-absolute right-n7 top-n5" width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.892 7.56c-2.05-3.943-4.75-5.556-8.23-4.873-5.22 1.024-6.203 6.748-6.069 8.227.168 2.342.658 9.168 9.212 14.846 9.533-.77 13.875-5.763 15.72-8.442 1.285-1.903 2.592-6.822-.806-9.862-2.688-2.398-5.979-2.39-9.827.103z" stroke="#EA4AAA" stroke-width="4" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></svg>

          <h4 class="f4 text-normal text-mono text-white-fade mb-2">Questions?</h4>
          <p class="text-white f4 mb-6">Learn more about GitHub Sponsors, including details about region support, payouts, the matching fund, and more.</p>
          <a class="Bump-link no-underline text-blue-light" href="<%= GitHub.help_url %>/articles/about-github-sponsors" data-ga-click="Sponsors, click, text:Read the FAQ">Read the FAQ <span class="Bump-link-symbol">&rarr;</span></a>
        </div>
      </div>
      <div class="col-12 position-relative">
        <svg class="sponsors-particle-2 position-absolute left-0 left-lg-n8 bottom-9" width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#c)" stroke="#F46A23" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"><path d="M2.376 18.623l4.816-4.303m8.67-7.835l4.56-4.11-4.56 4.11z"></path><path d="M18.43 10.724c1.542.064-7.32 8.091-7.256 6.55-.065 1.541-8.092-7.32-6.55-7.257-1.542-.064 7.32-8.027 7.256-6.55.064-1.477 8.092 7.385 6.55 7.257z"></path></g><defs><clipPath id="c"><path fill="#fff" transform="translate(0 -.001)" d="M0 0h22.798v21H0z"></path></clipPath></defs></svg> <svg class="sponsors-particle-1 position-absolute right-12 top-6" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#d)" stroke="#78D1E5" stroke-width="5.67" stroke-miterlimit="10" stroke-linecap="round"><path d="M12.207 6.038l5.154 17.559M23.433 12.33L6.066 17.428"></path></g><defs><clipPath id="d"><path fill="#fff" transform="rotate(-16.357 23.317 3.351)" d="M0 0h23.8v23.9H0z"></path></clipPath></defs></svg> <img src="<%= image_path "modules/site/sponsors/confetti-2.svg" %>" alt="confetti" class="width-full">
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "sponsors" %>
<% end %>
