<% if show_sponsorships? %>
  <p class="f4 mb-4 text-gray">
    <span class="text-bold text-gray-dark"><%= @sponsor.login %></span> is sponsoring <%= sponsorships_count %> <%= sponsoring_overview_text %>
  </p>

  <ul class="d-flex flex-wrap list-style-none gutter-condensed mb-4">
    <% sponsorships.each do |sponsorship| %>
      <% sponsorable = sponsorship.sponsorable %>
      <li class="col-12 col-lg-6 mb-3" <%= test_selector("sponsoring-#{sponsorable.login}") %>>
        <div class="border rounded-2 d-flex flex-column height-full flex-justify-between">
          <div class="d-flex flex-justify-between pt-3 px-3 pb-1">
            <div class="d-flex flex-items-center">
              <%= linked_avatar_for(sponsorable, 35, img_class: "avatar") %>
              <div class="pl-3">
                <p class="m-0 mb-1">
                  <% if sponsorable.profile_name %>
                    <span class="text-bold break-word d-block"><%= sponsorable.profile_name %></span>
                    <span class="text-small text-gray break-word d-block"><%= sponsorable.login %></span>
                  <% else %>
                    <span class="text-bold break-word d-block"><%= sponsorable.login %></span>
                  <% end %>
                </p>
              </div>
            </div>
            <div <%= test_selector("sponsoring-#{sponsorable.login}-button") %>>
              <% if current_user_is_sponsor_admin? %>
                <a href="<%= sponsorable_path(sponsorable.login, sponsor: @sponsor.login) %>" class="btn btn-sm">
                  Manage
                </a>
              <% else %>
                <% if sponsorable.already_sponsored_by?(current_user) || sponsorable.sponsorable_by?(current_user) %>
                  <%
                    hydro_sym = sponsorable.already_sponsored_by?(current_user) ? :PROFILE_SPONSORING_TAB_SPONSORING : :PROFILE_SPONSORING_TAB_SPONSOR
                    button_id = sponsorable.already_sponsored_by?(current_user) ? "sponsoring" : "sponsor"
                  %>
                  <%= sponsor_button_for(sponsorable,
                    id: "#{button_id}-#{sponsorable.id}-button-profile-org",
                    class: "btn btn-sm",
                    data: sponsors_button_hydro_attributes(hydro_sym, sponsorable.login)
                  ) %>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="px-3 pb-2" <%= test_selector("sponsoring-#{sponsorable.login}-bio") %>>
            <p class="text-small my-2"><%= sponsorable_bio(sponsorable) %></p>
          </div>

          <div class="p-3 width-full border-top">
            <div class="text-gray text-small" <%= test_selector("sponsoring-#{sponsorable.login}-info") %>>
              Sponsoring
              <% if sponsorship.privacy_private? %>
                <span class="text-bold text-gray-dark">privately</span>
              <% end %>
              since <%= sponsorship.created_at.strftime("%b %e, %Y") %>
              <% if current_user_is_sponsor_admin? %>
                &bull;
                <span <%= test_selector("sponsoring-#{sponsorable.login}-tier-info") %>>
                  $<%= sponsorship.tier.monthly_price_in_dollars %> tier
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="d-lg-flex gutter-lg">
    <div class="col-lg-12">
      <div class="blankslate mt-5" <%= test_selector("sponsoring-blank-slate")%>>
        <% if current_user_is_sponsor_admin? %>
          <h4>You haven&rsquo;t sponsored any users yet.</h4>
        <% else %>
          <h4><%= @sponsor.login %> hasn&rsquo;t sponsored any users yet.</h4>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
