<% page_info title: "Codespaces beta signup", selected_link: :codespaces_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Codespaces beta waitlist<% end %>
  <% end %>

  <%= form_tag stafftools_codespaces_beta_signup_path, method: :get, class: "d-flex mb-3" do %>
    <p class="note">
      Note: only exact match search is supported for user logins.
    </p>
    <div class="subnav-search flex-auto d-flex mx-0">
      <input aria-label="Search waitlist members&hellip;"
             placeholder="Search waitlist members&hellip;"
             autocapitalize="off"
             autocomplete="off"
             class="form-control input-block flex-auto input-lg subnav-search-input"
             spellcheck="false"
             type="text"
             name="query"
             value="<%= params[:query] %>">
      <%= octicon "search", class: "subnav-search-icon" %>
      <% if params[:query].present? %>
        <a href="<%= stafftools_codespaces_beta_signup_path %>"
           class="issues-reset-query position-absolute top-0 right-0 mt-2 mr-1 rounded-1 text-center btn-link muted-link"
           aria-label="Clear filter"
        >
          <%= octicon("x", class: "issues-reset-query-icon") %>
        </a>
      <% end %>
    </div>
    <button class="btn ml-md-2 mt-2 mt-md-0 d-lg-none flex-shrink-0" type="submit">Search</button>
  <% end %>


  <table class="Box width-full">
    <tr>
      <th class="Box-header">User</th>
      <th class="Box-header">Waitlisted</th>
      <th class="Box-header">Enabled?</th>
    </tr>
    <% memberships.each do |membership| %>
      <%
        user = membership.actor || User.ghost
      %>
      <tr class="Box-row" <%= test_selector("workspaces-waitlist-member") %>>
        <td class="p-3">
          <%= avatar_for(user, 22, class: "avatar avatar-small mr-2") %>
          <%= link_to user.login, user_path(user) %>
        </td>
        <td class="p-3"><%= user.created_at.to_date.iso8601 %></td>
        <td class="p-3 text-center">
          <%= form_tag stafftools_toggle_codespaces_beta_path(user_id: user.id), class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="checkbox" name="user_beta_status" aria-label="toggle_<%= user.login %>_status" <%= "checked" if GitHub.flipper[:workspaces].enabled?(user) %>>

            <span class="status-indicator js-status-indicator">
              <%= octicon("check") %>
              <%= octicon("x") %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate memberships %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
