<div id="next-steps" class="Box my-3 js-details-container open" <%= test_selector("next-steps") %>>
  <div class="Box-row">
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="text-bold">Next steps</div>
      <%=
        content_tag(
          :button,
          class: "btn-octicon js-details-target",
          type: "button",
          'aria-label': "toggle",
          'aria-expanded': true,
          data: sponsors_button_hydro_attributes(
            :DASHBOARD_NEXT_STEPS_TOGGLE,
            sponsorable.login
          ).merge(test_selector_hash("next-steps-toggle")),
        ) do
      %>
        <span class="sponsors-foldable-opened"><%= render(GitHub::OcticonComponent.new(icon: "fold")) %></span>
        <span class="sponsors-foldable-closed"><%= render(GitHub::OcticonComponent.new(icon: "unfold")) %></span>
      <% end %>
    </div>
    <div>
      Here are some things you can do to grow your sponsorship
    </div>
  </div>

  <div class="sponsors-foldable">
    <div class="border-top"></div>
    <div class="Box-row bg-gray-light d-flex">
      <div class="mr-2">
        <%= render GitHub::OcticonComponent.new(icon: "repo", width: 16) %>
      </div>
      <div>
        <div class="text-bold mb-1">Enable the sponsor button</div>
        <p>
          The sponsor button is now live on
          <%= profile_link(sponsorable, class: "text-bold") do %>@<%= sponsorable.login %><% end %>’s
          <%= sponsorable_type %> profile!

          You can also <%= funding_file_enabled? ? "customize" : "enable" %> the sponsor button on all
          <%= profile_link(sponsorable, class: "text-bold") do %>@<%= sponsorable.login %><% end %>’s
          repositories by

          <% if funding_file_enabled? %>
            <a href="<%= funding_yml_edit_url %>">editing the <code>.github/FUNDING.yml</code> file in <%= funding_file_repo.nwo %></a>.
          <% else %>
            <a href="<%= Sponsors::FUNDING_YML_DOCS_URL %>">creating and enabling a <code>.github/FUNDING.yml</code> file</a>.
          <% end %>
        </p>
        <div class="text-mono text-gray text-small mb-1">
          Preview
        </div>
        <%= sponsor_button_for(sponsorable) %>
      </div>
    </div>

    <div class="Box-row bg-gray-light d-flex">
      <div class="mr-2">
        <%= render GitHub::OcticonComponent.new(icon: "broadcast", width: 16) %>
      </div>
      <div>
        <div class="text-bold mb-1">Share it out</div>
        <p>
          Let others know that your Sponsors profile is now live by embedding the
          Sponsors widget on your personal websites or sharing out on social media.
        </p>
        <%= render Sponsors::TwitterButtonComponent.new(
          sponsorable: sponsorable,
          text: twitter_default_text,
          url_params: Sponsors::TrackingParameters.new(
            origin: Sponsors::TrackingParameters::SPONSORS_DASHBOARD_ORIGIN,
          ).to_h,
          data: sponsors_button_hydro_attributes(
            :DASHBOARD_TWEET_IT,
            sponsorable.login,
          ),
        ) %>
        <%=
          render GitHub::DialogComponent.new(
            title: "Embed a link to GitHub Sponsors",
            variant: :wide,
            details_classes: "d-inline-block"
          ) do |dialog|
        %>
          <% dialog.with(:summary) do %>
            <%=
              content_tag(
                :summary,
                data: sponsors_button_hydro_attributes(
                  :DASHBOARD_EMBED_IT,
                  sponsorable.login
                ).merge(test_selector_hash("embed-it-button")),
              ) do
            %>
              <div class="btn btn-outline text-normal d-inline-flex flex-items-center">
                <%= render GitHub::OcticonComponent.new(icon: "code", mr: 2) %>
                <span>Embed it</span>
              </div>
            <% end %>
          <% end %>
          <% dialog.with(:body) do %>
            <h4 class="mb-1">Embed a Sponsor button</h4>
            <div class="input-group mb-2">
              <input type="text"
                class="form-control input-monospace input-sm"
                data-autoselect
                value="<%= sponsor_button_code_snippet %>"
                aria-label="Code snippet for embedding a Sponsor button"
                readonly
              >
              <div class="input-group-button">
                <%= content_tag(
                  "clipboard-copy",
                  octicon(:clippy),
                  value: sponsor_button_code_snippet,
                  "aria-label": "Copy to clipboard",
                  class: "btn btn-sm",
                  data: sponsors_button_hydro_attributes(
                    :COPY_SPONSOR_BUTTON_SNIPPET,
                    sponsorable.login
                  ).merge(test_selector_hash("copy-sponsor-button-snippet-button")),
                ) %>
              </div>
            </div>
            <div class="text-mono text-gray text-small mb-2">
              Preview
            </div>
            <iframe
              src=<%= sponsorable_button_url(sponsorable) %>
              title="Sponsor <%= sponsorable %> button"
              height="35"
              width="107"
              style="border: 0;"
            >
            </iframe>

            <hr>

            <h4 class="mb-1">Embed a Sponsor card</h4>
            <div class="input-group mb-2">
              <input type="text"
                class="form-control input-monospace input-sm"
                data-autoselect
                value="<%= sponsor_card_code_snippet %>"
                aria-label="Code snippet for embedding a Sponsor card"
                readonly
              >
              <div class="input-group-button">
                <%= content_tag(
                  "clipboard-copy",
                  octicon(:clippy),
                  value: sponsor_card_code_snippet,
                  "aria-label": "Copy to clipboard",
                  class: "btn btn-sm",
                  data: sponsors_button_hydro_attributes(
                    :COPY_SPONSOR_CARD_SNIPPET,
                    sponsorable.login
                  ).merge(test_selector_hash("copy-sponsor-card-snippet-button")),
                ) %>
              </div>
            </div>
            <div class="text-mono text-gray text-small mb-2">
              Preview
            </div>
            <iframe
              src=<%= sponsorable_card_url(sponsorable) %>
              title="Sponsor <%= sponsorable %> card"
              class="sponsor-card"
            >
            </iframe>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
