<div class="js-stripe-onboarding-container bg-gray-light border-top" <%= test_selector "stripe-status" %>>
  <%= render Sponsors::StripeAccounts::EditComponent.new(
        stripe_connect_url: stripe_connect_url,
        sponsorable: @sponsorable) %>
</div>
