<div class="Box Details js-details-container <% unless listing.approved? %>open<% end %>">
  <div class="Box-row d-flex flex-justify-between flex-items-center">
    <div>
      <span class="<%= header_class_names %>" <%= test_selector "status" %>><%= header_title %></span>
      <strong><%= header_text %></strong>
      <% if listing.approved? %>
        <a href="<%= sponsorable_path(@sponsorable.login) %>"><%= sponsorable_url(@sponsorable.login) %></a>
      <% end %>
    </div>

    <% if listing.approved? %>
      <button
        class="btn-octicon js-details-target"
        type="button"
        aria-label="toggle"
        aria-expanded="<%= !listing.approved? %>"
      >
        <span class="sponsors-foldable-opened"><%= render(GitHub::OcticonComponent.new(icon: "fold")) %></span>
        <span class="sponsors-foldable-closed"><%= render(GitHub::OcticonComponent.new(icon: "unfold")) %></span>
      </button>
    <% end %>
  </div>

  <div class="sponsors-foldable">
    <div class="border-top"></div>
    <%= render(Sponsors::Dashboard::Overview::StatusProfileComponent.new(sponsorable: @sponsorable)) %>
    <%= render(Sponsors::Dashboard::Overview::StatusTiersComponent.new(sponsorable: @sponsorable)) %>
    <%= render(Sponsors::Dashboard::Overview::StatusTwoFactorComponent.new(sponsorable: @sponsorable)) %>
    <%= render(Sponsors::Dashboard::Overview::StatusStripeConnectComponent.new(
      sponsorable: @sponsorable,
      stripe_request_domain: @stripe_request_domain,
    )) %>
    <%= render(Sponsors::Dashboard::Overview::StatusDocusignComponent.new(
      sponsorable: @sponsorable,
      docusign_event: @docusign_event,
    )) %>
    <%= render(Sponsors::Dashboard::Overview::StatusSubmitComponent.new(sponsorable: @sponsorable)) %>
  </div>
</div>
