<div class="bg-gray-light border-top" <%= test_selector("sponsors-docusign") %>>
  <div id="tax-form" class="Box-body d-flex border-bottom-0" <%= test_selector "tax-form-status" %>>
    <div class="mr-1" style="width: 20px;">
      <%= render GitHub::OcticonComponent.new(icon: tax_form_status_icon, color: tax_form_status_color) %>
    </div>
    <div class="flex-auto">
      Fill out a tax form
    </div>
  </div>
  <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("country-status") %>>
    <div class="mr-1" style="width: 20px;">
      <%= render GitHub::OcticonComponent.new(icon: residence_status_icon, color: residence_status_color) %>
    </div>
    <div class="flex-auto">
      Enter your <a href="<%= sponsorable_dashboard_settings_path(@sponsorable, return_to: sponsorable_dashboard_path(@sponsorable)) %>">country or region of residence in Settings</a>
    </div>
  </div>
  <% if has_country_of_residence? %>
    <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("docusign-form-link") %>>
      <div class="mr-1" style="width: 20px;">
        <%= render GitHub::OcticonComponent.new(icon: docusign_status_icon, color: docusign_status_color) %>
      </div>
      <div class="flex-auto">
        <%= docusign_next_step %>
        <% if listing.adminable_by?(current_user) %>
          <%= form_tag sponsorable_docusign_envelope_path(@sponsorable.login), method: :post, class: "d-inline", data: test_selector_hash("docusign-link") do %>
            <button type="submit" class="btn-link" data-disable-with>tax form <%= render GitHub::OcticonComponent.new(icon: "link-external") %></button>
          <% end %>
        <% else %>
          <span <%= test_selector("not-docusign-link") %>>tax form</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
