<div class="Box-row bg-gray-light d-flex">
  <div class="mr-1" style="width: 20px;">
    <%= render GitHub::OcticonComponent.new(icon: tier_status_icon, color: tier_status_color) %>
  </div>
  <div class="flex-auto">
    Set up <a href="<%= sponsorable_dashboard_tiers_path(@sponsorable.login) %>">sponsorship tiers</a>
  </div>
</div>
