<div class="flash flash-warn mb-3">
  <span class="text-bold d-block mb-2">
    <%= render GitHub::OcticonComponent.new(icon: "alert", mr: 1) %>
    Stripe Connect account is already in use
  </span>
  <p>
    The Stripe Connect account that is linked to <strong><%= sponsorable.login %></strong>'s profile is already linked to another Sponsors profile.
    You must transition your profile to a new Stripe Connect account.
  </p>
  <div class="mt-2">
    <% if pending_transition? %>
      <poll-include-fragment src="<%= sponsorable_stripe_account_transition_path(sponsorable) %>" class="d-flex flex-items-center">
        <%= image_tag "spinners/octocat-spinner-32.gif", size: "16x16", alt: "", class: "mr-1" %>
        <span <%= test_selector("transition-pending") %>>Account transition in progress...</span>
      </poll-include-fragment>
    <% else %>
      <a href="<%= stripe_connect_url %>" class="btn" <%= test_selector("transition-button") %>>
        Transition to a new Stripe Connect account
      </a>
    <% end %>
  </div>
</div>
