<article class="border rounded-1 box-shadow bg-white mb-4">
  <%= render(Primer::LinkComponent.new(
    classes: "flex-items-center rounded-top-1 overflow-hidden",
    data: { ga_click: "Explore, go to spotlight, location:dashboard" },
    display: :flex,
    href: "#{@spotlight.external_url}",
    style: "max-height:100px",
  )) do %>
    <img
      src="<%= @spotlight.image %>"
      alt="<%= @spotlight.heading %>"
      class="d-block width-fit mx-auto"
    >
  <% end %>

  <div class="border-top bg-white p-3">
    <% if @spotlight.content_type.present? %>
      <div class="f6 text-gray mb-2">
        <%= render(Primer::TextComponent.new(
          aria: { label: "This is a recommendation by GitHub staff" },
          classes: "tooltipped tooltipped-ne",
        )) do %>
          <%= render GitHub::OcticonComponent.new(icon: "mark-github", mr: 1, color: :gray_9) %>
        <% end %>
        <%= @spotlight.content_type %>
      </div>
    <% end %>

    <div class="d-flex">
      <h1 class="h4-mktg text-gray-dark lh-condensed mb-2">
        <%= render(Primer::LinkComponent.new(
          data: {
            ga_click: "Explore, go to spotlight, location:dashboard; text:#{@spotlight.heading}",
          },
          href: @spotlight.external_url,
        )) do %>
          <%= @spotlight.heading %>
        <% end %>
      </h1>
    </div>

    <div class="markdown-body f6 text-gray mb-2">
      <%= @spotlight.description %>
    </div>
  </div>
</article>
