<%# erblint:counter TooltipCounter 1 %>

<article class="border rounded-1 bg-white my-3 mt-md-0">
  <%= render(Primer::LinkComponent.new(
    classes: "rounded-top-1 overflow-hidden",
    data: explore_click_tracking_attributes(
      actor: current_user,
      click_target: :SPOTLIGHT_URL,
      click_visual_representation: :SPOTLIGHT_IMAGE,
      ga_click_text: "Explore, go to spotlight, location:spotlight",
    ),
    display: :block,
    href: @spotlight.external_url,
  )) do %>
    <img
      src="<%= @spotlight.image %>"
      alt="<%= @spotlight.heading %>"
      class="d-block width-fit mx-auto"
    >
  <% end %>

  <div class="border-top bg-white">
    <div class="Spotlight-text p-4">
      <% if @spotlight.content_type.present? %>
        <div class="f6 text-gray mb-3">
          <%= render(Primer::TextComponent.new(
            aria: { label: "This is a recommendation by GitHub staff" },
            classes: "tooltipped tooltipped-ne",
          )) do %>
            <%= render GitHub::OcticonComponent.new(icon: "mark-github", mr: 1, color: :gray_9) %>
          <% end %>

          <%= @spotlight.content_type %>
        </div>
      <% end %>

      <h1 class="h3-mktg text-gray-dark lh-condensed mb-2">
        <% if @spotlight.repository? %>
          <%= render GitHub::OcticonComponent.new(icon: "repo", height: 24, mr: 2, color: :gray_9) %>
        <% end %>

        <%= render(Primer::LinkComponent.new(
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :SPOTLIGHT_URL,
            click_visual_representation: :SPOTLIGHT_TITLE,
            ga_click_text: "Explore, go to spotlight, location:spotlight; "\
              "text:#{@spotlight.heading}",
          ),
          href: @spotlight.external_url,
        )) do %>
          <% if @spotlight.github_repo.present? && @spotlight.github_user.present? %>
            <%= render Primer::TextComponent.new(font_weight: :normal) do %>
              <%= "#{@spotlight.github_user} /" %>
            <% end %>

            <%= @spotlight.github_repo %>
          <% else %>
            <%= @spotlight.heading %>
          <% end %>
        <% end %>
      </h1>

      <div class="markdown-body f5 text-gray mb-2">
        <%= @spotlight.description %>
      </div>
    </div>
  </div>
</article>
