<%graphql
  fragment on ComposableComment {
    ...Views::ComposableComments::Show::ComposableComment
  }
%>
<%
  composable_comment = Views::Timeline::ComposableComment.new(composable_comment)
%>

<%= render partial: "composable_comments/show", locals: {
  composable_comment: composable_comment
} %>
