<%graphql
  fragment on TimelineEvent {
    ...IssueEventsHelper::EventsCanRollup

    ...Views::PullRequests::Events::DismissedReviews
    ...Views::PullRequests::Events::Deployed
    ...Views::PullRequests::Events::DeploymentEnvironmentChanged
    ...Views::PullRequests::Events::Merge
    ...Views::PullRequests::Events::AutomaticBaseChangeSucceeded
    ...Views::PullRequests::Events::AutomaticBaseChangeFailed
    ...Views::PullRequests::Events::AddedToMergeQueue
    ...Views::PullRequests::Events::RemovedFromMergeQueue
    ...Views::Issues::Events::CommitReference
    ...Views::Issues::Events::SimpleEvents
    ...Views::Issues::Events::CrossReferences
    ...Views::Issues::Events::Connections
  }
%>
<%- events = events.map { |e| Views::Timeline::Events.new(e) } -%>
<%- rollup_issue_event_nodes(events).each do |rollup_events| %>
  <%=
    case rollup_events.first
    when PlatformTypes::ReviewDismissedEvent
      render "pull_requests/events/dismissed_reviews", events: rollup_events
    when PlatformTypes::DeployedEvent
      render "pull_requests/events/deployed", event: rollup_events.first
    when PlatformTypes::DeploymentEnvironmentChangedEvent
      render "pull_requests/events/deployment_environment_changed", event: rollup_events.first
    when PlatformTypes::MergedEvent
      render "pull_requests/events/merge", event: rollup_events.first
    when PlatformTypes::ReferencedEvent
      render "issues/events/commit_reference", event: rollup_events.first
    when PlatformTypes::CrossReferencedEvent
      render "issues/events/cross_references", events: rollup_events
    when PlatformTypes::ConnectedEvent, PlatformTypes::DisconnectedEvent
      render "issues/events/connections", events: rollup_events
    when PlatformTypes::AutomaticBaseChangeSucceededEvent
      render "pull_requests/events/automatic_base_change_succeeded", event: rollup_events.first
    when PlatformTypes::AutomaticBaseChangeFailedEvent
      render "pull_requests/events/automatic_base_change_failed", event: rollup_events.first
    when PlatformTypes::AddedToMergeQueueEvent
       render "pull_requests/events/added_to_merge_queue", event: rollup_events.first
    when PlatformTypes::RemovedFromMergeQueueEvent
        render "pull_requests/events/removed_from_merge_queue", event: rollup_events.first
    else
      render "issues/events/simple_events", events: rollup_events
    end
  %>
<%- end %>
