<%graphql
  fragment TimelineOwner on Node {
    ... on Issue {
      id

      repository {
        nameWithOwner
      }

      timelineStart: timelineItems(first: $timelinePageSize, visibleEventsOnly: true, since: $timelineSince, itemTypes: $scopedItemTypes) {
        nodes {
          ...Views::Timeline::Groups::Item
        }

        totalCount
        filteredCount
        pageCount

        pageInfo { endCursor }
      }

      timelineEnd: timelineItems(last: $timelinePageSize, skip: $timelinePageSize, visibleEventsOnly: true, since: $timelineSince, itemTypes: $scopedItemTypes) {
        nodes {
          ...Views::Timeline::Groups::Item
        }

        pageCount
        pageInfo { startCursor }
      }
    }

    ... on PullRequest {
      id

      repository {
        nameWithOwner
      }

      timelineStart: timelineItems(first: $timelinePageSize, visibleEventsOnly: true, since: $timelineSince) {
        nodes {
          ...Views::Timeline::Groups::Item
          ...Views::Timeline::Groups::PullRequestRevisionMarker
        }

        totalCount
        filteredCount
        pageCount

        pageInfo { endCursor }
      }

      timelineEnd: timelineItems(last: $timelinePageSize, skip: $timelinePageSize, visibleEventsOnly: true, since: $timelineSince) {
        nodes {
          ...Views::Timeline::Groups::Item
          ...Views::Timeline::Groups::PullRequestRevisionMarker
        }

        pageCount
        pageInfo { startCursor }
      }
    }
  }
%>
<%-
  timeline_owner = Views::Timeline::FirstPage::TimelineOwner.new(timeline_owner)

  rendered_items_count = timeline_owner.timeline_start.page_count + timeline_owner.timeline_end.page_count
  remaining_count = timeline_owner.timeline_start.filtered_count - rendered_items_count
  has_hidden_items = remaining_count > 0

  render_progressive_loader = local_assigns.fetch(:render_progressive_loader, true)

  record_timeline_size_metric(timeline_owner.timeline_start.total_count)
-%>

<%- if render_progressive_loader %>
  <%-
    timeline_params = {
      id: timeline_owner.id,
      variables: { first: timeline_page_size }
    }

    timeline_params[:variables][:after] = timeline_owner.timeline_start.page_info.end_cursor if timeline_owner.timeline_start.page_info.end_cursor
    timeline_params[:variables][:before] = timeline_owner.timeline_end.page_info.start_cursor if timeline_owner.timeline_end.page_info.start_cursor

    timeline_params["_features"] = params[:_features] if params[:_features]
  -%>
  <div id="js-timeline-progressive-loader" data-timeline-item-src="<%= "#{timeline_owner.repository.name_with_owner}/timeline?#{timeline_params.to_param}" %>" ></div>
<%- end %>

<%= render "timeline/groups", {
      id: timeline_owner.id,
      filtered_count: timeline_owner.timeline_start.filtered_count,
      start_nodes: timeline_owner.timeline_start.nodes,
      end_nodes: timeline_owner.timeline_end.nodes,
      has_next_page: has_hidden_items,
      after: timeline_owner.timeline_start.page_info.end_cursor,
      before: timeline_owner.timeline_end.page_info.start_cursor,
      next_page_size: timeline_page_size,
      render_progressive_loader: render_progressive_loader,
} %>
