<%= form_tag show_node_partial_path(
      path: "timeline/more_items",
      id: id,
      variables: {
        after: after,
        before: before,
        first: first,
        hasFocusedReviewComment: false,
        hasFocusedReviewThread: false
      },
      "_features": params[:_features]
    ),
    method: :get,
    class: "ajax-pagination-form js-ajax-pagination pagination-loader-container mt-4 mb-4 ml-0 text-center" do %>
  <div class="discussion-item-header pt-0">
    <div class="Box d-inline-flex flex-column">
      <button type="submit" class="text-gray pt-2 pb-0 px-4 bg-white border-0">
        <%= pluralize(hidden_items_count, "hidden item") %>
      </button>
      <button type="submit" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 bg-white border-0" data-disable-with="Loading…">
        Load more…
      </button>
    </div>
  </div>
<% end %>
