<% page_info(responsive: false) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    title: "Actions",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <div class="col-10">
    <% if GitHub.flipper[:actions_enterprise_runners].enabled?(current_user) || GitHub.enterprise? %>
      <nav class="UnderlineNav mb-4" aria-label="Actions">
        <div class="UnderlineNav-body" role="tablist">
          <%= selected_link_to "Policies",
            settings_actions_enterprise_path(business.slug),
            highlight: :business_actions_settings,
            class: "UnderlineNav-item",
            data: test_selector_hash("underline-nav-item") %>
          <%= selected_link_to "Self-hosted runners",
            settings_actions_self_hosted_runners_enterprise_path(business.slug),
            highlight: %i(
              business_actions_settings_self_hosted_runners,
              business_actions_settings_add_new_runner),
            class: "UnderlineNav-item",
            data: test_selector_hash("underline-nav-item") %>
        </div>
      </nav>
    <% end %>

    <%= yield %>
  </div>
<% end %>
