<div id="org-list" data-pjax-container data-replace-remote-form-target>
  <%= form_tag settings_actions_enterprise_path(view.business.slug), method: :get, class: "subnav-search ml-0 mt-4 mb-2", role: "search", "aria-label": "Organizations", "data-pjax" => "#org-list" do %>
    <input type="text" name="q" value="<%= view.query %>" <% if view.query.present? %> autofocus <% end %> class="form-control subnav-search-input subnav-search-input-wide input-contrast width-full" placeholder="Filter organizations" aria-label="Filter organizations">
    <%= octicon('search', class: 'subnav-search-icon') %>
  <% end %>

  <div class="Box Box--condensed border-top-0 js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= settings_actions_bulk_orgs_enterprise_path(view.business, page: view.current_page, q: view.query) %>">
    <div class="Box-header position-sticky top-0 d-flex flex-items-center" style="z-index: 1;">
      <input type="checkbox" aria-label="Select all organizations" data-check-all autocomplete="off">
      <div class="pl-3 py-2 d-flex flex-items-center flex-auto">
        <h3 class="Box-title overflow-hidden flex-auto">
          Select organizations (<span data-check-all-count>0</span>)
        </h3>
      </div>
      <span class="float-right js-bulk-actions"></span>
    </div>

    <div data-filter-list>
      <% view.orgs.each do |org| %>
        <%= render Businesses::Actions::OrgRowComponent.new(business: view.business, organization: org, enabled: view.actions_allowed?(org)) %>
      <% end %>
      <% if view.query && view.orgs.empty? %>
        <%= render(Primer::BlankslateComponent.new(
          icon: "search",
          title: "No organizations",
          description: "No organizations matched your search.",
        )) %>
      <% end %>
    </div>
  </div>

  <div class="paginate-container" data-pjax="#orgs-section" data-html-cleaner-suppress-children>
    <%= will_paginate view.orgs, params: { controller: "/businesses/actions_settings", action: "show" } %>
  </div>
</div>
