<%
  page_info title: "Actions",
            selected_link: :business_actions_settings_self_hosted_runners,
            stafftools: business_stafftools_resource_path(this_business)
%>

<%= render layout: "businesses/settings/actions/layout",
  locals: {
    business: this_business
  } do %>
  <%= render(Actions::RunnerGroupsComponent.new(
    owner: this_business,
    owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: this_business, current_user: current_user),
    runner_groups: runner_groups,
  )) do |component| %>
    <% component.with(:description) do %>
      <p class="mb-0">
        Host your own runners and customize the environment used to run jobs in your GitHub Actions workflows. Runners added to this enterprise account can be used to process jobs in multiple organizations in your enterprise.
        <a href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/about-self-hosted-runners">Learn more about self-hosted runners</a>
      </p>
    <% end %>
  <% end %>
<% end %>
