<% page_info responsive: false, title: "New SSH certificate authority", selected_link: :ssh_certificate_authorities %>

<% render_layout = \
  case ca.owner
  when Business
    ->(&blk) {
      render(layout: "businesses/layout", locals: {
        business: ca.owner,
        title: "Security",
        container_attributes: "itemscope itemtype='http://schema.org/Business'"
      }, &blk)
    }
  when Organization
    ->(&blk) { render(layout: "orgs/settings/layout", &blk) }
  end
%>

<%= render_layout.call do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>
      <a href="<%= owner_security_settings_path %>" data-pjax="true">SSH Certificate Authorities</a>
      / Add new
    <% end %>
  <% end %>
  <%= form_for ca, url: ssh_certificate_authorities_path do |f| %>
    <dl class="form-group">
      <dt><label for="ssh_certificate_authority_openssh_public_key">Key</label></dt>
      <dd><%= f.text_area :openssh_public_key, placeholder: "Begins with 'ssh-rsa', 'ssh-dss', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384', or 'ecdsa-sha2-nistp521'" %></dd>
    </dl>

    <p class="mb-0"><button type="submit" class="btn btn-primary" data-disable-with>Add CA</button></p>
  <% end %>
<% end %>
