<div class="my-4 pt-4 border-top" <%= test_selector("sponsors-goals-completed-list") %>>
  <div class="mb-2">
    <h2 class="f4">Completed goals</h2>
    <p class="text-gray">
      To date, your sponsors have helped you reach <%= pluralize(@completed_goals.total_entries, "goal") %>!
    </p>
  </div>

  <% @completed_goals.each_with_index do |goal, index| %>
    <div class="<%= index < (@completed_goals.size - 1) ? "border-bottom" : "" %> py-3">
      <div class="d-flex flex-justify-between flex-items-center mb-2">
        <h3 class="f5">Goal reached: <%= goal.title %></h3>
        <p class="text-gray text-small mb-0">
          <%= pluralize(goal.contributions.count, "sponsor") %>
          on <%= goal.completed_at.strftime("%b %e, %Y") %>
        </p>
      </div>

      <div class="d-flex flex-justify-between flex-items-center mb-2">
        <p class="pl-3 py-1 text-gray border-left mb-0" style="border-left-width: 3px !important;">
          <%= goal.description %>
        </p>

        <div class="position-relative d-flex flex-row-reverse" >
          <% sponsors_to_render_for_goal(goal).each_with_index do |sponsor, index| %>
            <span class="ml-n2" style="z-index: <%= SPONSORS_STACK_LIMIT - index %>;">
              <%= linked_avatar_for(sponsor, 24, link_class: "avatar sponsors-goals-avatar-border") %>
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(@completed_goals) %>
    </div>
  </div>
</div>
