<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::User::EmailsView.new(:user => @user) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Duplicate emails</h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list user-emails">
      <li>
        <span class="stafftools-email css-truncate">
          <span class="css-truncate-target" title="<%= this_user.login %>">
            <%= this_user.login %>
          </span>
        </span>

        <%= this_user.email %>
      </li>
      <% @emails.each do |email| %>
        <li>
          <span class="stafftools-email css-truncate">
            <span class="css-truncate-target" title="<%= email.user.login %>">
              <%= link_to email.user.login, stafftools_user_path(email.user) %>
            </span>
          </span>

          <%= email %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
