<%# erblint:disable ProperTagNesting %>
<% integration = installation_request.integration %>
<div class="TableObject py-3 border-top">
  <div class="TableObject-item">
    <div class="CircleBadge CircleBadge--small" style="background-color: #<%= integration.preferred_bgcolor %>">
      <%= oauth_application_logo(integration, 30, class: "CircleBadge-icon", alt: integration.name) %>
    </div>
  </div>
  <div class="TableObject-item TableObject-item--primary px-3">
    <span class="text-bold text-gray-dark"><%= integration.name %>
  </div>
  <div class="TableObject-item">
    <div class="BtnGroup flex-auto">
      <%= link_to "Review request", view.review_request_path_for(installation_request), class: "btn iconbutton BtnGroup-item float-right" %>
    </div>
  </div>
</div>
