<%# erblint:counter TooltipCounter 2 %>
<%# view is an instance of IntegrationInstallations::IndexView %>
<% integration = installation.integration %>

<div class="TableObject py-3 border-top">
  <div class="TableObject-item">
    <div class="CircleBadge CircleBadge--small" style="background-color: #<%= integration.preferred_bgcolor %>">
      <%= oauth_application_logo(integration, 30, :class => "CircleBadge-icon", :alt => integration.name) %>
    </div>
  </div>
  <div class="TableObject-item TableObject-item--primary px-3">
    <span class="text-bold text-gray-dark"><%= integration.name %></span>
    <% if installation.installed_automatically? %>
      <span aria-label="<%= view.automatic_installation_reason(installation) %>" class="Label Label--outline ml-2 tooltipped tooltipped-n">Automatic</span>
    <% end %>
    <% if installation.outdated? && view.can_update_installation_permissions?(installation) %>
      <p class="text-gray text-normal mb-0"><span class="color-yellow-7"><%= octicon("primitive-dot")  %></span> Permission updates requested. <%= link_to "Review request", view.update_permissions_path_for(installation) %>.</p>
    <% end %>
  </div>
  <div class="TableObject-item">
    <div class="BtnGroup flex-auto">
      <% if view.can_configure_installation?(installation) %>
        <% case view.configure_installation_as(installation) %>
        <% when :is_admin %>
          <%= link_to "Configure", gh_settings_installation_path(installation), class: "btn iconbutton BtnGroup-item float-right" %>
        <% when :admin_on_selected_repos, :admin_on_subset %>
          <%= link_to "Configure", gh_edit_app_installation_path(installation.integration, installation), class: "btn iconbutton BtnGroup-item float-right" %>
        <% end %>
      <% else %>
        <button class="btn iconbutton BtnGroup-item float-right tooltipped tooltipped-n disabled"
                aria-label="You must be an admin on the account that owns this repository"
                type="button">
          Configure
        </button>
      <% end %>
    </div>
  </div>
</div>
