<%# erblint:counter TooltipCounter 1 %>
<span class="float-right text-gray tooltipped tooltipped-w" aria-label="Install <%= view.integration_name %> on <%= target == current_user ? 'your account' : target.safe_profile_name %>"><%= octicon("chevron-right", :class => "ml-1") %></span>
