<%# erblint:disable ProperTagNesting %>
<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>

<div class="blankslate blankslate-clean-background">
  <% case reason
     when :spammy_target %>
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>

    <h3>Permission denied</h3>
    <p><% view.target.safe_profile_name %> has been flagged as spam and therefore cannot have new GitHub App installations.</p>
  <% when :spammy_actor %>
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>

    <h3>Permission denied</h3>
    <p>Your account has been marked as spam and thereforce cannot install or request GitHub Apps on any account.</p>
  <% else %>
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>

    <h3>Permission denied</h3>
    <p>You are not authorized to install or request this app on <%= view.target.safe_profile_name %>.
  <% end %>
</div>
