<%# access_group_view is an Integration or IntegrationInstallation ::AccessGroupingsView %>
<% ul_class = defined?(list_class) ? list_class : "" %>
<% li_class = defined?(row_class) ? row_class : "integrations-permission" %>
<ul class="<%= ul_class %>">
  <% if access_group_view.single_file_access? %>
    <li class="<%= li_class %>">
      <%= access_group_view.single_file_access %>
    </li>
  <% end %>

  <% if access_group_view.read_access %>
    <li class="<%= li_class %>"><%= octicon("check", :class => "text-green mr-1") %>
      <%= access_group_view.read_access %>
    </li>
  <% end -%>

  <% if access_group_view.write_access -%>
    <li class="<%= li_class %>"><%= octicon("check", :class => "text-green mr-1") %>
      <%= access_group_view.write_access %>
    </li>
    <% if access_group_view.content_references.any? %>
      <li class="<%= li_class %>"><%= octicon("check", :class => "text-green mr-1") %>
      <strong>Write</strong> access to attach content to the following external <%= "domain".pluralize(access_group_view.content_references.length) %>:
      <% access_group_view.content_references.each do |domain| %>
        <ul class="my-1 mx-4">
          <li><strong><%= domain %></strong></li>
        </ul>
      <% end %>
    </li>
    <% end -%>
  <% end -%>

  <% if access_group_view.admin_access -%>
    <li class="<%= li_class %>"><%= octicon("check", :class => "text-green mr-1") %>
      <%= access_group_view.admin_access %>
    </li>
  <% end -%>
</ul>
