<%# view is an instance of IntegrationInstallations::ShowView %>
<% index_view = IntegrationInstallations::IndexView.new(current_user: current_user, target: view.installation.target) %>

<div class="flash flash-warn">
  <%= link_to "Review request", index_view.update_permissions_path_for(view.installation), :class => "btn btn-sm flash-action mt-2" %>
  <p class="mb-0"><strong><%= view.integration.name %> is requesting an update to its permissions.</strong></p>

  <% count = view.permissions_changed_count %>
  <p>There <%= "is".pluralize(count) %> <%= pluralize(count, "permission") %> <%= "change".pluralize(count) %> that needs your review.</p>
</div>
