<%# view is instance of IntegrationInstallations::SuggestionsView %>
<% repository_target_switching_disabled = local_assigns.fetch(:repository_target_switching_disabled, false) %>

<% unless repository_target_switching_disabled %>
<div class="form-checkbox integrations-install-target mb-4">
  <label for="all">
    <%=
      radio_button_tag(
        "install_target",
        "all",
        nil,
        checked: view.install_target_radio_checked?(:all),
        class: "js-installation-repositories-radio",
        disabled: !view.can_target_all_repositories?
      )
    %>
    All repositories
  </label>
  <p class="note text-small m-0 text-gray">
    This applies to all <% if view.installable_repositories? || view.requestable_repositories? %> current <i>and</i><% end %> future repositories.
  </p>
</div>
<% end %>

<% if view.installable_repositories? || view.requestable_repositories? %>
  <div class="form-checkbox integrations-install-target clearfix">
    <label for="selected">
      <%=
        radio_button_tag(
          "install_target",
          "selected",
          nil,
          checked: view.install_target_radio_checked?(:selected),
          class: "js-select-repositories-radio js-installation-repositories-radio float-left",
          readonly: repository_target_switching_disabled
        )
      %>
      Only select repositories
    </label>

    <div class="integrations-repository-picker mt-2 position-relative js-integrations-install-repo-selection
      <% unless view.install_target_radio_checked?(:selected) %>has-removed-contents<% end %>">
      <details class="select-menu js-apps-install-select-repositories-container details-reset details-overlay mb-3">
        <summary class="btn select-menu-button">
          <%= octicon('repo') %>
          <span>Select repositories</span>
        </summary>
        <details-menu class="select-menu-modal width-full position-absolute js-apps-install-select-repositories-menu" style="z-index: 99;">
          <div class="select-menu-filters">
            <div class="select-menu-text-filter">
              <remote-input
                aria-owns="repository-menu-list"
                src="<%= gh_app_installations_suggestions_path(view.integration, target_id: view.target.id) %>">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search for a repository"
                  aria-label="Search for a repository"
                  autocomplete="off"
                  autofocus>
              </remote-input>
            </div>
          </div>
          <div class="select-menu-list" id="repository-menu-list"></div>
        </details-menu>
      </details>

      <div class="js-integration-total-repos text-small text-gray mb-3" <% if view.initial_repository_ids.length == 0 %>hidden<% end %>>
        <% if view.initial_repository_ids.length > 0 %>
          Selected <%= pluralize(view.initial_repository_ids.length, "repository") %>.
        <% end %>
      </div>
      <div class="flash flash-warn js-max-repository-warning my-3 p-2" hidden>
        Finish installing to select more than
        <strong><%= IntegrationInstallationsController::MAX_REPOSITORIES_ON_INITIAL_INSTALL %></strong>
        repositories.
      </div>

      <div class="js-min-repository-error flash-error text-small" hidden>
        Select at least one repository.
        <%# repository admins get the option to uninstall an app from all repositories that they manage %>
        <% if repository_target_switching_disabled %>
          <button class="btn btn-danger mt-2" type="submit">Uninstall integration on all my repositories</button>
        <% end %>
      </div>
      <div class="integrations-select-repos js-integrations-install-repo-picked">
        <% if view.edit_installed_repositories? %>
          <% view.installed_repositories.each do |repo| %>
            <%= render :partial => "integration_installations/suggestion_selection", locals: {repository: repo, label: {}} %>
          <% end %>
        <% end %>

        <% if view.installation_request_available? %>
          <% view.installation_request.repositories.each do |repo| %>
            <%= render :partial => "integration_installations/suggestion_selection", locals: {repository: repo, label: {text: view.installation_request_verb, title: view.label_title}} %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
