<div class="js-repository-picker-result">
  <input type="hidden" name="repository_ids[]" value="<%= repository.id %>" class="js-selected-repository-field">
  <div class="mini-repo-list-item css-truncate pr-3">
    <%= octicon(repository.repo_type_icon, :class => 'repo-icon') %>
    <button type="button" value="<%= repository.id %>" class="float-right js-repository-picker-remove btn-link muted-link" aria-label="Remove <%= repository %>">
      <%= octicon("x") %>
    </button>
    <span class="repo-and-owner css-truncate-target">
      <span class="owner css-truncate-target" title="<%= repository.owner %>"><%= repository.owner %></span>/<span class="repo" title="<%= repository %>"><%= repository %></span>
      <% if label[:text].present? %>
        <span title="<%= label[:title] %>" class="Label bg-yellow text-gray-dark"><%= label[:text] %></span>
      <% end %>
    </span>
  </div>
</div>
