<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>
<%= render_partial_view "integration_installations/suggestion", view, nil, collection: view.suggestions, as: :repository %>
<div class="p-3 js-no-repository-found" hidden>No repositories found.</div>
