<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>
<% label = view.suggestion_label(repository) %>
<% label_title = view.label_title(label) %>

<button
  type="button"
  role="menuitem"
  class="width-full select-menu-item"
  value="<%= repository.id %>">
  <%= octicon(repository.repo_type_icon, class: "select-menu-item-icon") %>
  <span class="select-menu-item-text"><%= repository.owner %><strong>/<%= repository.name %></strong></span>
  <span class="repo-desc"><%= repository.description.presence || 'no description' %></span>
  <% if label.present? %>
    <span title="<%= label_title %>" class="Label bg-yellow text-gray-dark"><%= label %></span>
  <% end %>
  <template>
    <%= render :partial => "integration_installations/suggestion_selection", locals: {repository: repository, label: {text: label, title: label_title}} %>
  </template>
</button>
