<%# view is an instance of IntegrationInstallations::ShowView %>

<% if view.installation.suspended? %>
  <div class="flash-messages">
    <% if view.installation.integrator_suspended? %>
      <div class="flash flash-error">Your installation was suspended on <%= view.installation.integrator_suspended_at.to_s(:deprecation_mailer) %>.</div>
    <% else %>
      <div class="flash flash-warn">
        <% if view.installation.user_suspended_by != current_user %>
          Your installation was suspended by <strong>@<%= view.installation.user_suspended_by %></strong>
        <% else %>
          Your installation was suspended by you
        <% end %>

        on <%= view.installation.user_suspended_at.to_s(:deprecation_mailer) %>.

      </div>
    <% end %>
  </div>
<% end %>
