<%# view is instance of IntegrationInstallations::ShowView %>
<% page_info \
  :title => "Update #{view.integration.name}'s repository access", :class => "bg-gray", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="integrations-auth-wrapper">
  <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="<%= view.logo_background_color_style_rule %>">
    <%= oauth_application_logo(view.integration, 50, :class => "CircleBadge-icon" )%>
  </div>

  <h2 class="f2 mb-4 text-center text-normal">Update <%= view.integration.name %>'s repository access</h2>

  <div class="Box p-4 box-shadow">
    <p class="f4 border-bottom pb-2 mb-4">
      <%= view.integration.name %> has access to the following repositories
      <% if view.target == current_user %>
        personal account
        <%= account %>
        <%= avatar_for(view.target, 20, :class => 'target-avatar avatar float-right position-relative', :style => 'top:3px;' ) %>
      <% else %>
        organization
        <%= view.target.safe_profile_name %>
        <%= avatar_for(view.target, 20, :class => 'target-avatar avatar float-right position-relative' ) %>
      <% end %>
    </p>

    <%= render Primer::SubheadComponent.new(spacious: true, mb: 0) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Repository access<% end %>
    <% end %>

    <%= form_for view.installation, url: gh_update_app_installation_path(view.integration, view.installation), method: :put, html: {class: "js-integrations-install-form"} do %>
      <%= hidden_field_tag "target_id", view.target.id %>
      <%= hidden_field_tag "integration_fingerprint", view.integration.fingerprint %>

      <div class="form-group settings-next my-0">
        <% if !view.repository_installation_required? %>
          <div class="form-checkbox integrations-install-target my-0">
            <label>
              <%= radio_button_tag "install_target", "none", view.installed_on_no_repositories?, :class => "js-installation-repositories-radio" %>
              No repositories
            </label>
            <p class="note text-small m-0 text-gray">
              This App does not require access to your repositories.
            </p>
          </div>
        <% end %>
        <% if view.repository_installation_required? %>
          <div class="mt-4">
          <%= render_partial_view(
            "integration_installations/select_repositories",
            view.suggestions_view,
            {},
            locals: { repository_target_switching_disabled: true } # Repo admins are currently unable to request installation on "All" repositories from the Edit view
          ) %>
          </div>
        <% end %>

        <% access_group_view = IntegrationInstallations::AccessGroupingsView.new(integration_installation: view.installation) %>
        <%= render Primer::SubheadComponent.new(spacious: true, mb: 0) do |component| %>
          <% component.slot(:heading, tag: :h2) do %>Permissions<% end %>
        <% end %>

        <%= render partial: "integration_installations/requested_permissions_list",
          locals: {
            access_group_view: access_group_view,
            row_class: "Box-row border-bottom px-0"
          }
         %>

        <div class="mt-4">
          <button class="btn btn-primary js-integrations-install-form-submit" type="submit">Update access</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
