<%# erblint:disable ProperTagNesting %>
<%# view is an instance of IntegrationInstallations::PermissionsUpdateRequestView %>
<% page_info \
  :title => "#{view.integration.name} permissions", :class => "bg-gray", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="container-lg px-3 pt-6">
  <div class="col-md-8 mx-auto">
    <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="background-color: #<%= view.integration.preferred_bgcolor %>">
      <%= integration_avatar(integration: view.integration, size: 64, width: 50, height: 50, class: "CircleBadge-icon", alt: view.integration.name) %>
    </div>
    <h2 class="f2 text-center text-normal mb-3"><%= view.integration_title %> by <%= profile_link(view.integration.owner) %> is requesting updated permissions</h2>

    <% permissions_view = Integrations::PermissionsView.new(integration: view.integration, form: nil) %>
  </div>
  <div class="col-lg-6 col-md-8 mx-auto">

    <div class="Box box-shadow my-4">
      <% view.permissions_added.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= permissions_view.permission_text(value) %></strong>
          access to
          <strong><%= permissions_view.human_name(permission) %></strong>

          <span class="Label Label--outline float-sm-none float-md-right">New request</span>

          <% if permission == "single_file" %>
            <p style="margin-bottom: 0px;">Path: <strong><%= view.new_single_file %></strong></p>
          <% end %>
        </div>
        <% if permission == "content_references" %>
          <div class="Box-row">
            <strong>Write</strong> access to attach content to the following <%= "domain".pluralize(view.new_content_references.length) %>:
            <span class="Label Label--outline float-sm-none float-md-right">New request</span>
            <ul class="my-1 mx-4">
              <% view.new_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% view.permissions_upgraded.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= permissions_view.permission_text(value) %></strong>
          access to
          <strong><%= permissions_view.human_name(permission) %></strong>

          <span class="text-small text-gray float-right"><em>Was <strong><%= permissions_view.permission_text(:read).downcase %></strong></em></span>

          <% if permission == "single_file" %>
            <p style="margin-bottom: 0px;">
              Path: <strong><%= view.new_single_file %></strong>
              <% if view.single_file_changed? %>
                <span class="text-small text-gray float-right"><em>Was <strong><%= view.old_single_file %></strong></em></span>
              <% end %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% view.permissions_downgraded.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= permissions_view.permission_text(value) %></strong>
          access to
          <strong><%= permissions_view.human_name(permission) %></strong>

          <span class="text-small text-gray float-right"><em>Was <strong><%= permissions_view.permission_text(:write).downcase %></strong></em></span>

          <% if permission == "single_file" %>
            <p style="margin-bottom: 0px;">
              Path: <strong><%= view.new_single_file %></strong>
              <% if view.single_file_changed? %>
                <span class="text-small text-gray float-right"><em>Was <strong><%= view.old_single_file %></strong></em></span>
              <% end %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% view.permissions_removed.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= permissions_view.permission_text(value) %></strong>
          access to
          <strong><%= permissions_view.human_name(permission) %></strong>
          <span class="text-small text-gray float-right"><em>no longer required</strong></em></span>
        </div>
      <% end %>

      <% if view.permissions_unchanged.key?("single_file") && view.single_file_changed? %>
        <div class="Box-row">
          <strong>Single file</strong> access to <strong><%= view.new_single_file %></strong>
          <span class="text-small text-gray float-right"><em>Was <strong><%= view.old_single_file %></strong></em></span>
        </div>
      <% end %>

      <% if view.permissions_unchanged.key?("content_references") && view.updated_content_references? %>
        <div class="Box-row">
          <strong>Updated content references</strong>
          <span class="Label Label--outline float-sm-none float-md-right">New request</span>
        </div>
        <div class="Box-row">
          <% if view.added_content_references? %>
            Added <%= "domain".pluralize(view.new_content_references.length) %>:
            <ul class="my-1 mx-4">
              <% view.new_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="Box-row">
          <% if view.removed_content_references? %>
            Removed <%= "domain".pluralize(view.old_content_references.length) %>:
            <ul class="my-1 mx-4">
              <% view.old_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <% unless view.permissions_unchanged.empty? %>
        <div class="Details js-details-container">
          <button class="Box-row Box-row--gray Box-row--hover-blue text-center border-top muted-link d-block js-details-target btn-block border-0" aria-expanded="false" aria-label="Expand and collapse" type="button">
            <span class="Details-content--shown"><%= octicon("unfold") %> Show unchanged permissions</span>
            <span class="Details-content--hidden"><%= octicon("fold") %> Hide unchanged permissions</span>
          </button>

          <div class="Details-content--hidden">
            <% view.permissions_unchanged.each do |permission, value| %>
              <% next if permission == "single_file" && view.single_file_changed? %>

              <div class="Box-row bg-gray-light border-top text-gray">
                <strong><%= permissions_view.permission_text(value) %></strong>
                access to
                <strong><%= permissions_view.human_name(permission) %></strong>

                <% if permission == "single_file" %>
                  <p style="margin-bottom: 0px;">Path: <strong><%= view.new_single_file %></strong></p>
                <% end %>
              </div>
              <% if permission == "content_references" %>
                <div class="Box-row bg-gray-light border-top text-gray">
                  <strong>Write</strong> access to attach content to the following <%= "domain".pluralize(view.old_content_references.length) %>:
                  <ul class="my-1 mx-4">
                    <% view.old_content_references.each do |domain| %>
                      <li><strong><%= domain %></strong></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= form_tag view.update_permissions_path, class: "js-integrations-install-form", method: :put do %>
      <%= hidden_field_tag "version_id", view.integration.latest_version.id %>
      <%= hidden_field_tag "integration_fingerprint", view.integration.fingerprint %>
      <% if view.repository_installation_required? %>
        <div class="Box box-shadow my-4">
          <div class="Box-row">
            <p class="text-small text-gray">
              <%= view.integration.name %> now requires access to one or more repositories
            </p>

            <%=
              render_partial_view "integration_installations/select_repositories", IntegrationInstallations::SuggestionsView,
                integration: view.integration,
                target: view.target
            %>
          </div>
        </div>
      <% end %>

      <% if view.note.present? %>
        <div class="border rounded-1 p-3 text-gray mt-3 my-4">
          <h4 class="f4 text-normal pb-2 border-bottom mb-2">Developer note</h4>
          <div class="markdown-body">
            <%= view.latest_version.body_html %>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <% if view.repo_admin_cannot_accept? %>
          <div class="flash flash-warn my-2">An administrator is required to accept these permissions</div>
          <button type="submit" disabled class="btn btn-primary btn-block">
            Accept new permissions
          </button>
        <% else %>
          <button type="submit" <% unless view.allow_accept_new_permissions? %>disabled<% end %> class="btn btn-primary btn-block js-integrations-install-form-submit">
            Accept new permissions
          </button>
        <% end %>
      </div>

      <p class="note">
        The <%= view.integration.name %> app will retain its current permissions if you choose not to accept the new permissions.
      </p>
    <% end %>

  </div>
</div>
