<%# rubocop:disable Lint/InstanceVariable %>
<%# view is instance of IntegrationInstallations::SuggestionsView %>
<% page_info \
  :title => "Installing #{@integration.name}", :class => "bg-gray", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="integrations-auth-wrapper">
  <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="<%= view.logo_background_color_style_rule %>">
    <%= oauth_application_logo(@integration, 50, :class => "CircleBadge-icon" )%>
  </div>

  <h2 class="f2 mb-4 text-center text-normal"><%= view.caption %> <%= @integration.name %></h2>

  <div class="Box p-4 box-shadow">
    <p class="f4 border-bottom pb-2 mb-4">
      <%= view.caption %> on your <%= view.account_type %> <%= view.target.safe_profile_name %>
      <%= avatar_for(@target, 20, :class => 'target-avatar avatar float-right position-relative', :style => 'top:3px;' ) %>
    </p>

    <% if view.installation_request_available? %>
      <div class="flash flash-warn">
        <%= profile_link(view.installation_request.requester) %>
        <%= view.installation_request_verb %> installation of this GitHub App
        <%= time_ago_in_words_js(view.installation_requested_at) %>
      </div>
    <% end %>

    <div>
      <%= form_tag gh_app_installations_path(@integration), class: "js-integrations-install-form", :'data-max-repos' => IntegrationInstallationsController::MAX_REPOSITORIES_ON_INITIAL_INSTALL do %>
        <%= hidden_field_tag "target_id", @target.id %>
        <%= hidden_field_tag "target_type", @target.class.to_s %>
        <%= hidden_field_tag "request_id", @installation_request.id if view.installation_request_available? %>
        <%= hidden_field_tag "version_id", view.integration.latest_version.id %>
        <%= hidden_field_tag "integration_fingerprint", view.integration.fingerprint %>

        <div class="form-group">
          <% if !view.installable? && !view.requestable? %>
            <%= render_partial_view "integration_installations/not_actionable_reason", view, nil, locals: { reason: view.not_actionable_reason } %>
          <% else %>
            <% if view.repository_installation_required? %>
              <%= render_partial_view "integration_installations/select_repositories", view %>
            <% else %>
              <%= hidden_field_tag "install_target", "none" %>
            <% end %>
          <% end %>
        </div>

        <% if view.installable? || view.requestable? %>
          <p class="f4 border-bottom pb-2 mb-4">
            ...with these permissions:
          </p>

          <% access_group_view = Integrations::AccessGroupingsView.new(integration: @integration, target: @target) %>
          <div class="form-group integrations-permissions-group settings-next">
            <%= 
              render partial: "integration_installations/requested_permissions_list",
                locals: {
                  access_group_view: access_group_view,
                }
            %>
          </div>

          <hr class="my-4">

          <% if access_group_view.user_permissions.any? %>
            <div class="f4">User permissions</div>
            <% if view.integration.can_request_oauth_on_install? %>
              <p class="text-small pb-2 mb-2">
                Installing and authorizing <%= @integration.name %> immediately grants these permissions on your account: <strong><%= current_user.login %></strong>.
              </p>
              <% if view.multi_user_install? %>
                <p class="text-small border-bottom pb-2 mb-4">
                  These permissions will also be requested and authorized as needed on an individual-user basis.
                </p>
              <% end %>
            <% else %>
              <p class="text-small border-bottom pb-2 mb-4">
                <%= @integration.name %> can also request users' permission to the following resources. These permissions will be requested and authorized on an individual-user basis.
              </p>
            <% end %>


            <div class="form-group integrations-permissions-group settings-next">
              <ul>
                <% if access_group_view.read_access(user_permissions_only: true) %>
                  <li class="integrations-permission"><%= octicon("check", :class => "text-green mr-1") %>
                    <%= access_group_view.read_access(user_permissions_only: true) %>
                  </li>
                <% end -%>

                <% if access_group_view.write_access(user_permissions_only: true) -%>
                  <li class="integrations-permission"><%= octicon("check", :class => "text-green mr-1") %>
                    <%= access_group_view.write_access(user_permissions_only: true) %>
                  </li>
                <% end -%>
              </ul>
            </div>

            <hr class="my-4">
          <% end %>
        <% end %>

        <% if view.installable? || view.requestable? %>
          <button data-octo-click="install_integration" data-octo-dimensions="marketplace_listing_id:<%= view.marketplace_listing_id %>,came_from_marketplace:<%= view.came_from_marketplace? %>,paid_marketplace_plan_purchased:<%= view.paid_marketplace_plan_purchased? %>" data-ga-click="Integrations, integration installed, marketplace_listing_id:<%= view.marketplace_listing_id %>;came_from_marketplace:<%= view.came_from_marketplace? %>;paid_marketplace_plan_purchased:<%= view.paid_marketplace_plan_purchased? %>" class="btn btn-primary px-4 float-left mr-2 js-integrations-install-form-submit" data-disable-with="<%= view.disabled_caption %>" type="submit">
            <%= view.caption %>
          </button>
        <% end %>
      <% end %>

      <% if view.installation_request_available? %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Reject",
            title: "Are you sure you want to reject this installation request?",
            button_class: "btn btn-danger"
        } do %>
          <div class="Box-body">
          <p>
            <%= profile_link(view.installation_request.requester) %>
            requested installation of <%= @integration.name %>. Are you sure you want to reject this request?
          </p>
          <% unless view.installation_suggestion_available? %>
            <%= button_to('Reject', gh_cancel_app_integration_installation_request_url(@installation_request), method: "delete", class: "btn btn-block btn-danger mt-2") %>
          <% end %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Cancel", view.cancel_path, :class => "btn btn-invisible" %>
      <% end %>
    </div>

    <% if view.installable? %>
      <% if view.integration.can_request_oauth_on_install? %>
        <p class="integrations-setup-note text-gray text-small">
          Next: you'll be redirected to <strong class="text-gray-dark"><%= view.integration.callback_url %></strong>
        </p>
      <% elsif view.integration.additional_setup_required? %>
        <p class="integrations-setup-note text-gray text-small">
          Next: you’ll be directed to the GitHub App’s site to complete setup.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
