<%# view is instance of Integrations::SelectTargetView  %>
<% page_info \
  :title => "Installing #{view.integration_name}", :class => "bg-gray", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="integrations-auth-wrapper">
  <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="background-color: #<%= view.integration.preferred_bgcolor %>">
    <%= oauth_application_logo(view.integration, 50, class: "CircleBadge-icon") %>
  </div>
  <h2 class="f2 text-center text-normal">Install <%= view.integration_name %></h2>
  <p class="text-gray text-center mb-4">Where do you want to install <%= view.integration_name %>?</p>

  <div class="Box box-shadow">
    <div class="js-navigation-container js-active-navigation-container">
      <% view.accounts.each do |target| %>
        <% if view.integration_installed_on?(target) %>
          <%= link_to view.configure_url_for(target), :class => "Box-row muted-link d-block clearfix bg-gray-light" do %>
            <%= render :partial => "integration_installations/installed", :locals => {:view => view, :target => target} %>
            <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
            <span class="text-bold text-gray-dark"><%= target %></span>
          <% end %>
        <% else %>
          <% if (target_request = view.request_on_target(target)) %>
            <div class="Box-row Box-row--hover-gray js-navigation-item d-block clearfix">
              <details class="details-reset details-overlay details-overlay-dark">
                <summary class="muted-link d-block btn-link">
                  <%= render :partial => "integration_requests/requested", :locals => {:view => view, :target => target} %>
                  <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
                  <span class="text-bold text-gray-dark"><%= target %></span>
                </summary>
                <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" aria-label="Cancel Request">
                  <div class="Box-header">
                    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                      <%= octicon "x" %>
                    </button>
                    <h3 class="Box-title">Cancel Request</h3>
                  </div>
                  <div class="Box-body">
                    <p class="text-gray-dark">
                      Are you sure you want to cancel installation request of <%= view.integration_name %> to <%= target %>?
                    </p>
                    <%= form_tag gh_cancel_app_integration_installation_request_url(target_request), method: :delete do %>
                      <button type="submit" class="btn btn-block btn-danger mt-2" autofocus>Cancel</button>
                    <% end %>
                  </div>
                </details-dialog>
              </details>
            </div>
          <% else %>
            <%= link_to gh_app_installation_permissions_url(view.integration, target_id: target.id), :class => "Box-row Box-row--hover-gray muted-link js-navigation-item d-block clearfix" do %>
              <%= render :partial => "integration_installations/install", :locals => {:view => view, :target => target} %>
              <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
              <span class="text-bold text-gray-dark"><%= target %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="paginate-container">
    <%= will_paginate view.accounts %>
  </div>
</div>
