<div class="Box-body d-flex border-bottom-0" <%= test_selector("stripe-connect-onboarding") %>>
  <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
    <%= render GitHub::OcticonComponent.new(icon: aggregate_status_icon, color: aggregate_status_icon_color) %>
  </div>
  <div class="flex-auto">
    Fill out identity and bank information. Approvals can take up to a week.
  </div>
</div>
<div class="d-flex" style="padding:0px 16px 16px 42px">
  <% if fetching_account? %>
    <div class="mr-1 mt-1 js-loading-stripe-account-details" style="width: <%= STATUS_ICON_WIDTH %>;" data-url="<%= check_stripe_account_details_link %>">
      <%= image_tag "spinners/octocat-spinner-32.gif", class: "d-inline-block", alt: "", width: 16 %>
    </div>
    <div class="flex-auto" <%= test_selector("stripe-edit-fetching-account") %>>
      Fetching Stripe Connect account information
    </div>
  <% else %>
    <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
      <%= render GitHub::OcticonComponent.new(icon: stripe_account_status_icon, color: stripe_account_status_icon_color) %>
    </div>
    <div class="flex-auto" <%= test_selector("stripe-edit-account-created") %>>
      Create a
      <a href="<%= stripe_account_link %>" <% if viewer_has_stripe_account? %>target="_blank"<% end %>>
        Stripe Connect account <%= render GitHub::OcticonComponent.new(icon: "link-external") %>
      </a>

      <% if show_stripe_link_error? %>
        <span class="d-block text-red text-small mt-1" <%= test_selector("stripe-link-error") %>>
          <%= stripe_link_error_message %>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
<% if viewer_has_stripe_account? %>
  <% if !account_has_details? %>
    <div class="d-flex js-loading-stripe-account-details" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-fetch-details") %> data-url="<%= check_stripe_account_details_link %>">
      <div class="mr-1 mt-1" style="width: <%= STATUS_ICON_WIDTH %>;">
        <%= image_tag "spinners/octocat-spinner-32.gif", class: "d-inline-block", alt: "", width: 16 %>
      </div>
      <div class="flex-auto">
        Fetching Stripe Connect account details
      </div>
    </div>
  <% else %>
    <% if items_past_due? %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-items-past-due") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "sync", class: "text-red" %>
        </div>
        <div class="flex-auto">
          <span class="text-red">
            <strong>There was a problem verifying your identity.</strong>
            Please update the info in
            <a href="<%= stripe_account_link %>" <% if viewer_has_stripe_account? %>target="_blank"<% end %>>
              your Stripe dashboard <%= octicon("link-external") %>
            </a>
          </span>
        </div>
      </div>
    <% elsif items_currently_due? %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-items-currently-due") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "primitive-dot", class: "color-yellow-7" %>
        </div>
        <div class="flex-auto">
          Complete the <a href="<%= stripe_account_link %>" target="_blank">required documentation</a>
          <% if current_deadline %>
            by <strong><%= current_deadline %></strong>
          <% end %>
          to receive payouts
        </div>
      </div>
    <% elsif items_eventually_due? %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-items-eventually-due") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "primitive-dot", class: "color-yellow-7" %>
        </div>
        <div class="flex-auto">
          Complete the <a href="<%= stripe_account_link %>" target="_blank">required documentation</a>
          to receive payouts
        </div>
      </div>
    <% else %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-required-documentation") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= render GitHub::OcticonComponent.new(icon: stripe_identity_status_icon, color: stripe_identity_status_icon_color) %>
        </div>
        <div class="flex-auto">
          <% if stripe_account_verified? %>
            Complete the required documentation
          <% else %>
            Complete the required documentation, pending approval
          <% end %>
        </div>
      </div>
    <% end %>

    <% if payouts_enabled? %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-payouts-enabled") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "check", class: "text-green" %>
        </div>
        <div class="flex-auto">
          Add <%= "business" if @sponsorable.organization? %> payout details to Stripe
          <% if @sponsorable.organization? %>
            <p class="note">
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% elsif viewer_has_unverified_payout_option? %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-payouts-unverified") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "clock", class: "color-yellow-7" %>
        </div>
        <div class="flex-auto">
          Add <a href="<%= stripe_account_link %>">
            <%= "business " if @sponsorable.organization? %>
            payout details
            <%= octicon("link-external") %>
          </a> to Stripe, pending approval
          <% if @sponsorable.organization? %>
            <p class="note">
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-edit-payouts-missing") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= octicon "primitive-dot", class: "color-yellow-7" %>
        </div>
        <div class="flex-auto">
          Add <a href="<%= stripe_account_link %>">
            <%= "business " if @sponsorable.organization? %>
            payout details
            <%= octicon("link-external") %>
          </a> to Stripe
          <% if @sponsorable.organization? %>
            <p>
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
