<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Shared Storage Usage</h3>
  </div>
  <ul>
    <% aggregated_usage_records.each_with_index do |usage, idx| %>
      <li class="Box-row <%= idx.odd? ? "Box-row--gray" : "" %>">
        <div class="js-details-container Details">
          <strong><%= usage.repo_name || "N/A" %></strong>
          <%= visibility_octocon(usage.repo_visibility) %>
          <p>
            <small>Total Size: <%= number_to_human_size(usage.total_usage_in_bytes) %></small>
            <span class="hidden-text-expander inline">
              <button type="button" aria-expanded="false" class="ellipsis-expander js-details-target">&hellip;</button>
            </span>
          </p>
          <div class="Details-content--hidden">

            <% if mismatched_aggregation_and_breakdown?(usage) %>
              <div class="flash flash-warn mb-2">
                The posted sum does not match the total size. Either of these numbers may be
                inaccurate and additional investigation could be required to draw usage conclusions.
              </div>
            <% end %>

            <div class="Box">
              <table class="stafftools-table">
                <thead>
                  <th class="no-wrap billing-table-cell" colspan=2>Posted</th>
                  <th class="no-wrap billing-table-cell" colspan=2>Pending</th>
                </thead>
                <tbody>
                  <tr class="Box-row">
                    <td>Packages</td>
                    <td>Actions</td>
                    <td>Packages</td>
                    <td>Actions</td>
                  </tr>
                  <tr class="Box-row">
                    <td><%= number_to_human_size(usage.aggregated_gpr_usage) %></td>
                    <td><%= number_to_human_size(usage.aggregated_actions_usage) %></td>
                    <td><%= formatted_usage_breakdown(usage.unaggregated_gpr_usage) %></td>
                    <td><%= formatted_usage_breakdown(usage.unaggregated_actions_usage) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
