<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto mr-3">
    <strong class="mb-2"><%= title %></strong>
    <p class="note"><%= note %></p>
  </div>

  <%= form_tag(toggle_path, method: toggle_method) do %>
    <input type="hidden" name="feature_flag" value="<%= @feature_flag %>">
    <button type="submit" class="btn btn-default" aria-label="<%= toggle_value %> to use the this feature.">
      <%= submit_value %>
    </button>
  <% end %>
</div>
