<%# `view` is an instance of Businesses::AuditLog::IndexPageView %>

<% if view.active_search? %>
  <div class="audit-results-actions">
    <div class="audit-search-clear">
      <a class="issues-reset-query" href="<%= view.search_path %>" data-pjax>
        <%= octicon("x", class: "issues-reset-query-icon") %>
        Clear current search query
      </a>
    </div>
  </div>
<% end %>

<div class="js-map-data"
  data-country="<%= view.selected_country %>"
  data-search-path="<%= view.search_path(country: nil) %>"
  data-map-data="<%= view.country_data.to_json %>">
</div>

<div class="Box">
  <div class="Box-header <%= "text-red" unless view.valid_query? %>">
    <strong><%= view.search_title %></strong>
  </div>
  <% if view.audit_logs? %>
    <%= render partial: "businesses/audit_log/audit_log_entry",
      collection: view.audit_logs, as: :entry, locals: { view: view } %>
  <% elsif GitHub.elasticsearch_access_ignored? %>
    <%= render Primer::BlankslateComponent.new(
      icon: "stop",
      title: "Audit logs are currently unavailable.",
    ) do %>
      <p>We track these errors automatically, but if the problem persists feel
        free to <a href="<%= contact_path %>">contact us</a>. We will update any
        status on our <a href="<%= GitHub.site_status_url %>">status site.</a></p>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "search",
      title: "We couldn’t find any events matching your search.",
    ) %>
  <% end %>
</div>

<% if view.audit_logs? %>
  <%= render partial: "audit_log/driftwood_pagination", locals: { view: view } %>

  <div class="protip">
    <%= octicon("light-bulb", class: "text-gray") %>
    <strong>ProTip!</strong>
    <%= view.tips.selected_tip %>
  </div>
<% end %>
