<%# `view` is an instance of Businesses::AuditLog::IndexPageView %>

<a href="<%= url_for(q: "created:#{1.day.ago.strftime("%Y-%m-%d")}") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("calendar", class: "select-menu-item-icon") %>

  <div class="select-menu-item-text">
    Yesterday’s activity
  </div>
</a>

<a href="<%= url_for(q: "action:business") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("briefcase", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    Enterprise account management
  </div>
</a>

<a href="<%= url_for(q: "action:org.invite_member") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("organization", class: "select-menu-item-icon") %>

  <div class="select-menu-item-text">
    Organization membership
  </div>
</a>

<a href="<%= url_for(q: "action:team.create action:team.destroy action:team.add_member action:team.remove_member") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("jersey", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    Team management
  </div>
</a>

<a href="<%= url_for(q: "action:repo.create action:repo.destroy action:repo.access action:team.add_repository action:team.remove_repository") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("repo", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    Repository management
  </div>
</a>

<% if GitHub.billing_enabled? %>
  <a href="<%= url_for(q: "action:payment_method action:billing.change_email") %>"
     class="select-menu-item"
     role="menuitem"
     data-pjax>

    <%= octicon("credit-card", class: "select-menu-item-icon") %>
    <div class="select-menu-item-text">
      Billing updates
    </div>
  </a>
<% end %>

<a href="<%= url_for(q: "action:hook action:pre_receive_hook") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("plug", class: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    Hook activity
  </div>
</a>

<a href="<%= url_for(:q => "action:public_key action:security_key action:two_factor_authentication") %>"
   class="select-menu-item"
   role="menuitem"
   data-pjax>

  <%= octicon("key", :class => "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    Security management
  </div>
</a>
