<%# `view` is an instance of Businesses::AuditLog::IndexPageView %>

<% page_info responsive: false, title: "Audit log", selected_link: :business_audit_log_settings,
  stafftools: business_stafftools_resource_path(view.business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: view.business,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div id="audit-log-search" class="audit-log-search">
    <div class="map-container position-relative">
      <div class="js-audit-log-map map bg-blue overflow-hidden rounded-1 box-shadow">
        <div class="activity position-absolute d-none text-center">
          <img class="graph-loading dots"
               src="<%= image_path "spinners/octocat-spinner-blue-128.gif" %>"
               width="64"
               alt="">
        </div>
        <div class="js-map-country-info map-country-info position-absolute rounded-1 p-2 bg-gray-light">
        </div>
      </div>
    </div>
    <%= render_partial_view "businesses/audit_log/search_form", view %>
    <%= render_partial_view "businesses/audit_log/search_results", view %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "graphs" %>
<% end %>
