<% view = @view %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
  #body {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 13px;
    width: 480px;
  }
  #body a {
    text-decoration: none;
    color: #4183c4;
  }

  h3 {
    margin-top: 25px;
  }
  h3:first {
    margin-top: 0;
  }

  .issue-list,
  .milestone-list,
  .repository-list {
    margin-left: 20px;
  }
  .issue-list p,
  .milestone-list p {
    margin-top: 4px;
  }
  .issue-title,
  .milestone-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .repository-title {
    margin: 0;
    padding: 4px;
    font-size: 14px;
  }

  .repository-header {
    margin: 15px 0 4px 0;
    color: #999;
    font-weight: normal;
  }

  .last-activity {
    color: #999;
  }

  .footer {
    margin-top: 20px;
    color: #333;
    font-size: 11px;
    -webkit-text-size-adjust: none;
  }
</style>

<div id="body">
  <% if view.working_on_issues.any? %>
    <h3>Working on</h3>

    <p>Recent pulls and issues you just created, were assigned to, or pushed code to.</p>

    <div class="issue-list">
      <% for issue in view.working_on_issues %>
        <h5 class="repository-header"><%= issue.repository.name_with_owner %></h5>
        <h4 class="issue-title"><a href="<%= issue.permalink %>"><%= issue.title %></a></h4>
        <p><%= view.reason_for_issue_involvement issue %></p>
      <% end %>
    </div>
  <% end %>

  <% if view.looking_for_response_issues.any? %>
    <h3>Looking for a response</h3>

    <p>Issues or pulls you were mentioned on, but no one has replied yet.</p>

    <div class="issue-list">
      <% for issue in view.looking_for_response_issues %>
        <h5 class="repository-header"><%= issue.repository.name_with_owner %></h5>
        <h4 class="issue-title"><a href="<%= issue.permalink %>"><%= issue.title %></a></h4>
        <p><%= view.reason_for_issue_involvement issue %></p>
      <% end %>
    </div>
  <% end %>

  <% if view.involved_milestones.any? %>
    <h4>Milestone Involvement</h4>

    <p>Milestones you’ve been interacting with over the past week.</p>

    <div class="milestone-list">
      <% for milestone in view.involved_milestones %>
        <h5 class="repository-header"><%= milestone.repository.name_with_owner %></h5>
        <h4 class="milestone-title"><a href="<%= milestone.url %>"><%= milestone.title %></a></h4>
      <% end %>
    </div>
  <% end %>

  <% if view.failing_repositories.any? %>
    <h3>Failing Repositories</h3>

    <p>Repositories that have a failing build status.</p>

    <div class="repository-list">
      <% for repository in view.failing_repositories %>
        <h4 class="repository-title"><a href="<%= repository.permalink %>"><%= repository.name_with_owner %></a></h4>
      <% end %>
    </div>
  <% end %>

  <% if view.old_pull_requests.any? %>
    <h3>Sinking Ships</h3>

    <p>Your open pulls that are falling behind. Ship or sink.</p>

    <div class="issue-list">
      <% for issue in view.old_pull_requests %>
        <h5 class="repository-header"><%= issue.repository.name_with_owner %></h5>
        <h4 class="issue-title"><a href="<%= issue.permalink %>"><%= issue.title %></a></h4>
        <p><span class="last-activity"><%= time_ago_in_words issue.updated_at %> ago</span></p>
      <% end %>
    </div>
  <% end %>

  <% if view.random_stale_issues.any? %>
    <h3>Stale Issues</h3>

    <p>A few issues that haven’t been touched in a couple months that you might be familar with. Might be worth poking at or just closing out.</p>

    <div class="issue-list">
      <% for issue in view.random_stale_issues %>
        <h5 class="repository-header"><%= issue.repository.name_with_owner %></h5>
        <h4 class="issue-title"><a href="<%= issue.permalink %>"><%= issue.title %></a></h4>

        <p>
          <%= view.reason_for_issue_involvement issue %>
          <span class="last-activity"><%= time_ago_in_words issue.updated_at %> ago</span>
        </p>
      <% end %>
    </div>
  <% end %>

  <p class="footer">For more infomation see <a href="https://github.com/github/github/issues/756">https://github.com/github/github/issues/756</a>.</p>
</div>
