<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{project_title}} by {{owner_name}}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{project_title}}</h1>
          <h2>{{project_tagline}}</h2>
        </header>

        <section id="downloads" class="clearfix">
          {{#show_downloads?}}
          <a href="{{zip_url}}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{tar_url}}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {{/show_downloads?}}
          <a href="{{github_url}}" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          {{{main_content}}}
        </section>

        <footer>
        {{#project_page?}}
          {{project_title}} is maintained by <a href="{{owner_url}}">{{owner_name}}</a><br>
        {{/project_page?}}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        {{{google_analytics}}}
      </div>
    </div>
  </body>
</html>
