<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render(Primer::LayoutComponent.new(side: :left, responsive: responsive?)) do |component| %>
    <% component.with(:sidebar) do %>
      <%= render "navigation/repository/graphs" %>
    <% end %>

    <% component.with(:main) do %>
      <% if flash[:plan_upgrade] %>
        <div class="mb-2">
          <%= render "plans/plan_support", repository: current_repository, feature: :insights, feature_name: "all insights" %>
        </div>
      <% end %>

      <%= yield %>
    <% end %>
  <% end %>
<% end %>
