<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{asset_path_prefix}}stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{project_title}} by {{owner_name}}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>{{project_title}}</h1>
        <h2>{{project_tagline}}</h2>
        {{#project_page?}}
        <a href="{{github_url}}" class="button"><small>View project on</small> GitHub</a>
        {{/project_page?}}
        {{#user_page?}}
        <a href="{{github_url}}" class="button"><small>Follow me on</small> GitHub</a>
        {{/user_page?}}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{{main_content}}}
        </section>

        <aside id="sidebar">
          {{#show_downloads?}}
          <a href="{{zip_url}}" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="{{tar_url}}" class="button">
            <small>Download</small>
            .tar.gz file
          </a>
          {{/show_downloads?}}

          {{#project_page?}}
          <p class="repo-owner"><a href="{{github_url}}">{{repository_name}}</a> is maintained by <a href="{{owner_url}}">{{owner_name}}</a>.</p>
          {{/project_page?}}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  {{{google_analytics}}}
  </body>
</html>
