<%= form_tag project_search_archived_cards_path(project), method: :get, class: "js-project-archived-cards-search-form" do %>
  <div class="p-3 position-relative border-bottom bg-gray-light Details <%= "Details--on" if params[:card_id].blank? %> js-details-container">
    <button type="button" class="btn-link Details-content--shown js-details-target js-project-show-all-archived-cards" aria-expanded="false">
      Show all archived cards
    </button>

    <div class="Details-content--hidden">
      <input class="form-control width-full mb-2" type="text" name="query" placeholder="Filter by note or issue title" aria-label="Filter by note or issue title">

      <div class="d-flex">
        <details class="flex-1 pr-1 details-reset details-overlay select-menu position-relative">
          <summary class="btn width-full text-center css-truncate css-truncate-target select-menu-button" style="max-width: 159px;" aria-label="Filter by column">
            <i>Column:</i>
            <span data-menu-button>All</span>
          </summary>
          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-label="Sort options">
            <div class="select-menu-list">
              <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="true">
                <%= radio_button_tag "column_id", "all", true %>
                <%= octicon("check", class: "select-menu-item-icon") %>
                <span class="text-normal select-menu-item-text" data-menu-button-text>All</span>
              </label>

              <% project.columns.each do |column| %>
                <label class="select-menu-item" tabindex="0" role="menuitemradio">
                  <%= radio_button_tag "column_id", column.id, false %>
                  <%= octicon("check", class: "select-menu-item-icon") %>
                  <span class="text-normal select-menu-item-text" data-menu-button-text><%= column.name %></span>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
        <div class="flex-1 pl-1">
          <button class="btn width-full" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="js-project-column-cards <% if enable_dragging?(project) %>js-project-search-results-drag-container<% end %> <% if enable_drag_by_handle? %>js-drag-by-handle<% end %> js-project-search-cards bg-white p-3">
  <%= render partial: "projects/archived_cards_list", locals: { project: project, cards: cards, current_page: 1, next_page: next_page, query: query, column_id: column_id, filters_present: false } %>
</div>
