<div class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue(issue)) %>"
    data-url="<%= show_partial_issue_path(id: issue, partial: "projects/card_issue_details_title") %>">
  <% noun = issue.pull_request? ? "Pull Request" : "Issue" %>

  <div class="Details-content--shown">
    <%= link_to issue_or_pull_request_path(issue), class: "link-gray-dark js-project-card-details-external-link", target: "_blank", rel: "noopener", tabindex: 0 do %>
      <span class="text-bold js-issue-title"><%= issue.title %></span>
      <span class="text-gray-light">#<%= issue.number %></span>
    <% end %>

    <div class="text-small pt-1">
      <span class="text-gray-light">Opened in</span>
      <%= link_to current_repository.name_with_owner, repository_path(current_repository), class: "text-gray text-bold" %>
    </div>
  </div>

  <% if can_modify_issue?(issue) %>
    <%= form_for issue, method: :put, html: { class: "d-flex flex-column px-2 py-1 Details-content--hidden js-project-card-issue-details-title" } do |f| %>
      <%= f.text_field :title, class: "flex-auto js-quick-submit", autofocus: true, autocomplete: "off", "aria-label": "#{noun} title" %>
      <div class="pt-2">
        <button class="btn btn-primary" type="submit" data-disable-with="Updating">Save</button>
        <button class="btn js-details-target" type="button" aria-expanded="true">Cancel</button>
      </div>
    <% end %>
  <% end %>
</div>
