<%# erblint:disable LandmarkHasLabel %>
<%graphql
  fragment Project on Project {
    columns(first: $maxColumns) {
      edges {
        node {
          databaseId
          name

          cards(archivedStates: $archivedStates) {
            totalCount
          }
        }
      }
    }
  }
%>
<% project = Views::Projects::ColumnNav::Project.new(project) %>
<div class="reponav-wrapper d-sm-none">
  <nav class="reponav js-reponav js-project-column-nav text-center no-wrap" itemscope itemtype="http://schema.org/BreadcrumbList">
    <% project.columns.edges.map(&:node).each_with_index do |column, index| %>
      <span itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
        <a data-column-id="<%= column.database_id %>" data-column-name="<%= column.name %>" itemprop="url" class="reponav-item js-project-column-navigation-item js-selected-navigation-item" href="#column-<%= column.database_id %>">
          <span class="js-column-nav-name" itemprop="name"><%= column.name %></span>
          <%= render Primer::CounterComponent.new(count: column.cards.total_count, "aria-label": "Contains" + pluralize(column.cards.total_count, "item"),  classes: "js-column-nav-card-count") %>
          <meta class="js-column-nav-index" itemprop="position" content="<%= index + 1 %>">
        </a>
      </span>
    <% end %>
    <template class="js-column-nav-template">
      <span itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
        <a itemprop="url" class="reponav-item js-project-column-navigation-item js-selected-navigation-item" href="#url">
          <span class="js-column-nav-name" itemprop="name"></span>
          <%= render Primer::CounterComponent.new(count: nil, classes: "js-column-nav-card-count") %>
          <meta class="js-column-nav-index" itemprop="position" content="">
        </a>
      </span>
    </template>
  </nav>
</div>
