<%# erblint:disable NestedInteractiveElements %>
<% title, body = card.note.strip.split(/\n/, 2).map(&:strip) %>

<div class="d-flex flex-column flex-auto overflow-hidden">
  <div class="Box-header">
    <h3 class="Box-title">Convert note to issue</h3>
  </div>
  <div class="Box-body border-0 rounded-0 m-0 py-0 overflow-auto">
    <%= form_tag project_convert_note_to_issue_path(card),
      class: "pb-3 js-project-update-card js-convert-note-to-issue-form" do %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">

      <div class="js-convert-note-error-container"></div>

      <% if is_account_project?(card.project) %>
        <dl class="form-group">
          <dt><strong>Repository</strong></dt>
          <dd>
            <details class="details-reset details-overlay select-menu">
              <summary class="btn select-menu-button">
                <span data-menu-button>
                  Choose a repository for this issue
                  <input type="text" class="d-none" data-required-change required>
                </span>
              </summary>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                <div class="select-menu-header" tabindex="-1">
                  <span class="select-menu-title">Repositories</span>
                </div>
                <tab-container class="js-project-picker-tabs">
                  <remote-input class="select-menu-filters" src="<%= project_repository_results_path(card.project, search_in: "suggestions") %>" aria-owns="convert-note-project-picker-results-suggestions">
                    <div class="auto-search-group pt-2 px-2 pb-0">
                      <input type="text" id="repository-filter-field"
                        class="form-control"
                        placeholder="Find a repository"
                        aria-label="Type to filter"
                        autofocus
                        autocomplete="off">
                        <img class="spinner chooser-spinner position-absolute" height="16" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="Loading">
                    </div>
                  </remote-input>
                  <div class="select-menu-filters select-menu-tabs" role="tablist">
                    <ul class="mb-0 ml-0">
                      <li class="select-menu-tab">
                        <button type="button" role="tab" class="select-menu-tab-nav" aria-selected="true">Suggested</button>
                      </li>
                      <li class="select-menu-tab">
                        <button type="button" role="tab" class="select-menu-tab-nav">All</button>
                      </li>
                    </ul>
                  </div>
                  <div class="select-menu-list" id="convert-note-project-picker-results-suggestions" data-filter-url="<%= project_repository_results_path(card.project, search_in: "suggestions") %>" role="tabpanel">
                    <div class="select-menu-list">
                      <div class="p-3 text-center">
                        Loading&hellip;
                      </div>
                    </div>
                  </div>
                  <div class="select-menu-list" id="convert-note-project-picker-results-all" data-filter-url="<%= project_repository_results_path(card.project, search_in: "all") %>" role="tabpanel" hidden>
                    <div class="select-menu-list">
                      <div class="p-3 text-center">
                        Loading&hellip;
                      </div>
                    </div>
                  </div>
                </tab-container>
              </details-menu>
            </details>
          </dd>
        </dl>
      <% end %>
      <dl class="form-group">
        <dt><label for="convert-card-title">Title</label></dt>
        <dd><input id="convert-card-title" class="form-control js-quick-submit" type="text" name="title" value="<%= title %>" autofocus required></dd>
      </dl>
      <dl class="form-group">
        <dt><label for="convert-card-body">Body</label></dt>
        <dd><textarea id="convert-card-body" name="body" class="form-control js-quick-submit"><%= body %></textarea></dd>
      </dl>

      <div class="d-flex d-sm-block">
        <button type="submit" class="btn btn-primary flex-auto" data-disable-with="Converting to issue..." data-disable-invalid
         <% if is_account_project?(card.project) %> disabled<% end %>>
          Convert to issue
        </button>
      </div>
    <% end %>
  </div>
</div>
