<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment ProjectOwner on ProjectOwner {
    projectsResourcePath

    ... on Repository {
      id
      name
      repoTypeIcon
      owner {
        login
      }

      resourcePath
    }

    ... on Organization {
      id
      login
    }

    ... on User {
      id
      login
    }

    project(number: $projectNumber) {
      name
      publicProjectOrOwner
      metadataWebsocket
      number
      lockedForResyncBy
      resourcePath

      ...Views::Projects::ShowProgress::Project
      ...HovercardHelper::ProjectAttributesFragment::Project
    }
  }
%>
<% project_owner = Views::Projects::FullscreenHeader::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>
<div class="d-none d-flex d-sm-flex flex-auto f6 min-width-0 js-updatable-content js-socket-channel"
     data-channel="<%= live_update_view_channel(project.metadata_websocket) %>"
     data-url="<%= show_node_partial_path(path: "projects/fullscreen_header", id: project_owner.id, variables: { projectNumber: project.number }) %>">
  <h3 class="d-flex flex-items-center f5 min-width-0">
    <a class="header-logo-invertocat project-header-link" href="/" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
      <%= octicon("mark-github", height: 28) %>
    </a>
    <div class="d-flex flex-items-center min-width-0 text-normal v-align-bottom">
      <% case project_owner %>
      <% when PlatformTypes::Repository %>
        <span class="d-none d-lg-inline mr-2">
          <%= octicon(project_owner.repo_type_icon, class: "v-align-middle") %>
        </span>
        <span class="author d-none d-lg-inline">
          <a href="<%= user_path(project_owner.owner.login) %>" class="muted-link project-header-link"><%= project_owner.owner.login %></a>
        </span>
        <span class="path-divider d-none d-lg-inline mx-2">/</span>
        <span class="author d-none d-lg-inline">
          <span itemprop="name">
            <a href="<%= project_owner.resource_path %>" class="url fn muted-link project-header-link"><%= project_owner.name %></a>
          </span>
        </span>
      <% when PlatformTypes::Organization, PlatformTypes::User %>
        <span class="author d-none d-lg-inline">
          <a href="<%= user_path(project_owner.login) %>" class="muted-link project-header-link">
            <%= project_owner.login %>
          </a>
        </span>
      <% end %>

      <span class="mx-2 text-gray-light d-none d-lg-inline"><%= octicon("chevron-right") %></span>
      <span class="d-none d-lg-inline">
        <a href="<%= project_owner.projects_resource_path %>" class="muted-link project-header-link">Projects</a>
      </span>
      <span class="mx-2 text-gray-light d-none d-lg-inline"><%= octicon("chevron-right") %></span>
      <span class="mr-1 mr-lg-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: none;">
        <span class="d-inline-block">
          <% if project.locked_for_resync_by %>
            <%= image_tag "spinners/octocat-spinner-128.gif", class: "octicon", size: "16x16", alt: "Waiting for project resync to complete" %>
          <% end %>
        </span>
        <span>
          <% if !project.public_project_or_owner? %>
            <span class="tooltipped tooltipped-e mr-2" aria-label="This project is private.">
              <%= octicon "lock", class: "text-gray" %>
            </span>
          <% end %>
          <%= content_tag(:span, { data: hovercard_data_attributes_for_project(project: project_owner.project), style: "cursor: pointer;" }) do %>
            <%= project.name %>
          <% end %>
        </span>
        <% if project.locked_for_resync_by %>
          <span>Re-syncing automation...</span>
          <%= render partial: "projects/lock_popover", locals: { message: "Re-syncing automation", description: "re-syncing outdated automation events", user: project.locked_for_resync_by } %>
        <% end %>
      </span>
    </div>
    <div class="ml-3 d-none d-lg-block">
      <%= render partial: "projects/show_progress", locals: { project: project } %>
    </div>
  </h3>
</div>
