<%# erblint:disable ProperTagNesting %>
<%graphql
  fragment ProjectOwner on ProjectOwner {
    projectsResourcePath

    paginatedProjects: projects(first: $first, after: $after, search: $query) {
      pageInfo {
        hasNextPage
        endCursor
      }
      nodes {
        id
        resourcePath
        updateStateResourcePath
        settingsResourcePath
        name
        bodyHTML
        updatedAt
        state
        viewerCanUpdate
        viewerCanAdminister
        editResourcePath
        closedAt
        publicProjectOrOwner

        progress {
          enabled

          ...Views::Projects::ProjectProgress::ProjectProgress
        }

        linkedRepositories {
          name
          resourcePath
        }
      }
    }
  }
%>
<% project_owner = Views::Projects::List::ProjectOwner.new(project_owner) %>
<% state_filter = projects_search_term_values(:is)[0] %>

<% if project_owner.paginated_projects.nodes.any? %>
  <% project_owner.paginated_projects.nodes.each do |project| %>
    <% next if hide_project?(state_filter, project.state) %>
    <div class="Box-row clearfix position-relative pr-6" data-filter-value="<%= project.name %>" <%= test_selector("projects-results") %>>
      <% if project.viewer_can_update? %>
        <details class="details-reset details-overlay dropdown position-static">
          <summary class="text-gray position-absolute right-0 top-0 mt-3 px-3" aria-label="Project menu">
            <%= octicon("kebab-horizontal") %>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-sw mt-6 mr-1 top-0">
            <a href="<%= project.edit_resource_path %>" class="btn-link dropdown-item" role="menuitem">
              Edit
            </a>
            <%= form_tag project.update_state_resource_path.to_s, method: :put do %>
              <input type="hidden" name="global_id" value="<%= project.id %>">
              <input type="hidden" name="client_uid" class="js-client-uid-field">
              <input type="hidden" name="redirect_back" value="true">
              <button type="submit" class="btn-link dropdown-item" name="state" value="<%= project.state == "OPEN" ? "closed" : "open" %>" role="menuitem">
                <%= project.state == "OPEN" ? "Close" : "Reopen" %>
              </button>
            <% end %>

            <% if !project_owner.is_a?(PlatformTypes::Repository) && project.viewer_can_administer? %>
              <div role="none" class="dropdown-divider"></div>

              <a href="<%= project.settings_resource_path %>" class="btn-link dropdown-item" role="menuitem">
                Settings
              </a>
            <% end %>
          </details-menu>
        </details>
      <% end %>

      <div class="col-12 col-md-6 col-lg-4 pr-2 float-left">
        <h4 class="mb-1">
          <a href="<%= project.resource_path %>" class="link-gray-dark mr-1"><%= project.name %></a>
          <div class="d-inline no-wrap">
            <% unless project.public_project_or_owner? %>
              <span class="Label Label--outline v-align-middle mr-1 mb-1">Private</span>
            <% end %>
            <% if project.state == "CLOSED" %>
              <%= render Primer::LabelComponent.new(mr: 1, mb: 1, vertical_align: :middle, scheme: :red, title: "Closed on #{full_month_date project.closed_at}") do %>
                Closed
              <% end %>
            <% end %>
          </div>
        </h4>

        <div class="f6 pr-sm-5 mb-2 mb-md-0 text-gray-light">
          <%= octicon('clock') %> Updated <%= time_ago_in_words_js project.updated_at %>
        </div>

        <% if project.progress.enabled %>
          <div class="mt-1 pr-5 mb-2 mb-md-0">
            <%= render partial: "projects/project_progress", locals: { progress: project.progress } %>
          </div>
        <% end %>
      </div>

      <div class="col-12 col-md-6 col-lg-8 float-left markdown-body">
        <% if project.body_html.present? %>
          <%= project.body_html %>
        <% else %>
          <p class="text-gray-light">No description</p>
        <% end %>

        <% if project.linked_repositories.any? %>
          <p class="f5">
            <%= octicon("link") %> Linked repositories:
            <% project.linked_repositories.each do |repo| %>
              <a href="<%= repo.resource_path %>"><%= repo.name %></a><% unless repo == project.linked_repositories.last %>,<% end %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="blankslate blankslate-spacious blankslate-large blankslate-capped border-0">
    <%= octicon("project", width: 40, class: "blankslate-icon") %>
    <% if search_includes_name? || !state_filter.present?  %>
      <h3>No projects matched your search</h3>
      <p>Use the links above to find what you’re looking for, or try a new search query.</p>
    <% else %>
      <h3>No <%= state_filter %> projects</h3>
      <p>
      <% if state_filter == "open" %>
        <p>There are no open projects. You can reopen
      <% else %>
        <p>No projects have been <%= state_filter %> yet. You can close
      <% end %>
      projects from the <a href="<%= project_owner.projects_resource_path %>">projects list</a> or a project’s menu.</p>
    <% end %>
  </div>
<% end %>

<% page_info = project_owner.paginated_projects.page_info %>
<% if page_info.has_next_page? %>
  <div class="text-center d-block p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag project_owner.projects_resource_path.to_s, method: :get do %>
      <input name="cursor" type="hidden" value="<%= page_info.end_cursor %>">
      <input name="sort" type="hidden" value="<%= params[:sort] %>">
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <input type="hidden" name="query" value="<%= query %>">
      <button type="submit" class="btn-link" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
