<% cards.each do |card| %>
  <%= render partial: "projects/card", locals: { card: card, status_direction: "w", include_add_link: true } %>
<% end %>
<% if cards.any? && next_page %>
  <div class="pt-2 ajax-pagination-form js-ajax-pagination">
    <%= form_tag project_search_results_path(project),
        method: :get,
        class: "js-more-search-cards-form" do %>
      <input class="js-search-cards-next-page" name="page" type="hidden" value="<%= next_page %>">
      <input name="q" type="hidden" value="<%= query %>">
      <input name="more" type="hidden" value="1">
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <button type="submit" class="btn btn-outline btn-block" data-disable-with="Loading more...">More</button>
    <% end %>
  </div>
<% end %>
