<% if results.any? %>
  <% results.each do |target_owner| %>

      <% case target_owner %>
      <% when Repository %>
        <% avatar_owner = target_owner.owner %>
        <% display_name = target_owner.nwo %>
        <% owner_type = "repository" %>
      <% when Organization %>
        <% avatar_owner = target_owner %>
        <% display_name = target_owner.login %>
        <% owner_type = "organization" %>
      <% when User %>
        <% avatar_owner = target_owner %>
        <% display_name = target_owner.login %>
        <% owner_type = "user" %>
      <% end %>

    <% if target_owner == suggested_owner %>
      <div class="select-menu-divider js-divider-suggestions">
        Suggested
      </div>
    <% end %>

    <label class="select-menu-item js-project-target-owner" tabindex="0" role="menuitemradio" data-owner-type="<%= owner_type %>" aria-checked="false">
      <input type="radio" name="project[global_target_owner_id]" value="<%= target_owner.global_relay_id %>" hidden required>
      <%= octicon("check", class: "select-menu-item-icon") %>

      <span class="select-menu-item-text text-normal" data-menu-button-contents>
        <span class="select-menu-item-gravatar">
          <%= avatar_for(avatar_owner, 20) %>
        </span>
        <%= display_name %>
      </span>
    </label>

    <% if target_owner == suggested_owner && results.length > 1 %>
      <div class="select-menu-divider js-divider-rest">
        Everything else
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="p-3 text-center">
    No matching organizations or repositories.
  </div>
<% end %>
