<%# erblint:disable ButtonHasType %>
<div class="Box-header">
  <h3 class="Box-title">Error</h3>
</div>
<div class="Box-body border-0 rounded-0 m-0 overflow-auto">
  <p>
    We ran into an error while trying to process your request. Please <button class="btn-link js-refresh-project">refresh</button> and try again.
  </p>
</div>
