<%-
  guid ||= SimpleUUID::UUID.new.to_guid
  title = type == :head ? "Choose a head ref" : "Choose a base ref"
  repository = type == :head ? comparison.head_repo : comparison.base_repo
  repository ||= comparison.repo
  selected = type == :head ? comparison.head_revision : comparison.base_revision
  branches_id = "commitish-filter-field-branches-#{guid}"
  tags_id = "commitish-filter-field-tags-#{guid}"
-%>

<div class="select-menu-header">
  <span class="select-menu-title"><%= title %></span>
</div>

<tab-container class="js-branches-tags-tabs">
  <div class="select-menu-filters">
    <filter-input class="select-menu-text-filter" aria-owns="<%= branches_id %>" data-controls-ref-menu-id="<%= branches_id %>">
      <input
        type="text"
        id="commitish-filter-field-<%= guid %>"
        class="form-control"
        autofocus
        autocomplete="off"
        placeholder="Find a branch"
        aria-label="Type or choose a branch">
    </filter-input>

    <remote-input class="select-menu-text-filter"
      src="<%= compare_tag_list_path(tag_name: selected, range: params[:range], type: type || :head) %>"
      aria-owns="<%= tags_id %>"
      data-controls-ref-menu-id="<%= tags_id %>"
      hidden>
      <input type="text" class="form-control" aria-label="Find a tag" placeholder="Find a tag" autofocus>
    </remote-input>

    <div class="select-menu-tabs" role="tablist">
      <ul>
        <li class="select-menu-tab">
          <button type="button" class="select-menu-tab-nav" data-filter-placeholder="Find a branch" role="tab" aria-selected="true">Branches</button>
        </li>

        <li class="select-menu-tab">
          <button type="button" class="select-menu-tab-nav" data-filter-placeholder="Find a tag" role="tab">Tags</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="select-menu-list" role="tabpanel" id=<%= branches_id %> data-pjax>
    <div data-filter-list>
      <% branches = repository.heads.refs_with_default_first %>
      <% default_branch = repository.heads.default %>

      <% branches.each do |branch| %>
        <% if type == :base %>
          <% url = base_ref_comparison_path(comparison, branch.name, expand: expand) %>
        <% else %>
          <% url = head_ref_comparison_path(comparison, branch.name, expand: expand) %>
        <% end %>
        <a
          href="<%= url %>"
          class="select-menu-item"
          aria-checked="<%= branch.name == selected %>"
          role="menuitemradio"
          rel="nofollow">

          <% if branch.name == selected %>
            <%= octicon("check", class: "select-menu-item-icon") %>
          <% end %>
          <% if branch.name == default_branch %>
            <span class="d-flex">
              <span class="select-menu-item-text flex-auto break-word" data-menu-button-text data-filter-item-text><%= branch.name_for_display %></span>
              <span class="Label Label--gray flex-self-start">default</span>
            </span>
          <% else %>
            <span class="select-menu-item-text break-word" data-menu-button-text data-filter-item-text><%= branch.name_for_display %></span>
          <% end %>
        </a>
      <% end %>
    </div>

    <%= form_tag comparison.to_path, class: "select-menu-new-item-form d-block", "data-filter-new-item": true, hidden: true, method: :get do %>
      <input type="hidden" name="new_compare_type" value="<%= type %>">
      <button type="submit" role="menuitem" class="select-menu-item width-full" name="new_compare_ref" data-filter-new-item-value>
        <%= octicon("history", class: "select-menu-item-icon") %>
        <span data-filter-new-item-text></span>
      </button>
    <% end %>
  </div>

  <div class="select-menu-list" role="tabpanel" id=<%= tags_id %> hidden>
    <div class="p-2">Search for a tag</div>
  </div>
</tab-container>
