<%
  title = type == :head ? "Choose a Head Repository" : "Choose a Base Repository"
%>
<details class="select-menu fork-suggester details-reset details-overlay <% if responsive? %>hx_rsm<% end %>">
  <summary class="btn btn-sm select-menu-button">
    <i><%= type %> repository:</i>
    <span class="css-truncate css-truncate-target" data-menu-button title="<%= type %>: <%= selected.try(:name_with_owner) %>"><%= selected.try(:name_with_owner) %></span>
  </summary>

  <details-menu class="position-absolute" style="z-index: 99;">
    <div class="select-menu-modal">
      <div class="select-menu-header">
        <span class="select-menu-title"><%= title %></span>
      </div>

      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="pull-repo-filter-field-<%= type %>" class="form-control js-filterable-field" placeholder="Filter repos" aria-label="Type or choose a repository" autocomplete="off" autofocus>
        </div>
      </div>

      <div class="select-menu-list">
        <div data-filterable-for="pull-repo-filter-field-<%= type %>" data-filterable-type="substring">
          <% available_repositories_for(comparison, type).each do |repo| %>
            <% if type == :base %>
              <% url = base_repo_comparison_path(comparison, repo, expand: params[:expand]) %>
            <% else %>
              <% url = head_repo_comparison_path(comparison, repo, expand: params[:expand]) %>
            <% end %>
            <a href="<%= url %>" class="select-menu-item" aria-checked="<%= selected == repo %>" role="menuitemradio">
              <%= octicon('check', :class => 'select-menu-item-icon') %>
              <div class="select-menu-item-text" data-menu-button-text>
                <%= repo.name_with_owner %>
              </div>
            </a>
          <% end %>
        </div>

        <div class="select-menu-no-results">Nothing to show</div>
      </div>

    </div>
  </details-menu>
</details>
