<%# erblint:disable LandmarkHasLabel %>
<%# rubocop:disable Lint/InstanceVariable %>
<%graphql

fragment on Comparison {
  commitComments(last: 100) {
    totalCount
    nodes {
      databaseId
      commit {
        abbreviatedOid
        url
      }
      ...Views::Comments::TimelineAvatar::Comment
      ...Views::Comments::Comment::Comment
    }
  }

  commits(last: 250) {
    authorCount
    nodes {
      ...Views::Compare::Commit
      ...CommitsHelper::AvatarCountFragment
      ...CommitsHelper::GroupedCommitsFragment
    }
  }
}

%>
<% comparison_node = Views::Compare::Show.new(comparison_node) %>
<% page_info \
      title: "Comparing #{comparison_base_ref_label(@comparison)}#{@comparison.dots}#{comparison_head_ref_label(@comparison)} · #{current_repository.name_with_owner}",
      container_xl: true,
      responsive: feature_enabled_globally_or_for_current_user?(:responsive_compare),
      selected_link: :repo_source,
      dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% @diffs = @comparison.diffs %>

<% content_for :head do %>
  <link data-pjax-transient rel='alternate' type='text/x-diff' href='<%=h request.path + '.diff' %>'>
  <link data-pjax-transient rel='alternate' type='text/x-patch' href='<%=h request.path + '.patch' %>'>

  <%# Normalize path for new PR form across any branch %>
  <meta name="session-resume-id"
        content="<%= compare_start_path(:user_id => current_repository.root.owner, :repository => current_repository.root) %>"
        data-pjax-transient>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= link_to 'Permalink', h(@comparison.to_permalink_url), :class => 'd-none js-permalink-shortcut', 'data-hotkey' => 'y' %>

  <div class="compare-show-header Subhead">
    <h1 class="Subhead-heading">Comparing changes</h1>
    <div class="Subhead-description">
      <% if @comparison.direct_compare? %>
        <% three_dot_compare = GitHub::Comparison.from_range(@comparison.repo, "#{@comparison.base}...#{@comparison.head}") %>
        This is a direct comparison between two commits made in this repository or its related repositories.
        View the default comparison for this range <a href="<%= three_dot_compare.to_path %>">here</a>.
      <% else %>
        Choose two branches to see what’s changed or to start a new pull request.
        <%- unless @comparison.cross_network? %>
          If you need to, you can also <button type="button" class="btn-link js-toggle-range-editor-cross-repo">compare across forks</button>.
        <%- end %>
      <% end %>
    </div>
  </div>
  <div class="compare-pr-header Subhead">
    <h1 class="Subhead-heading">Open a pull request</h1>
    <div class="Subhead-description">
      <% if @comparison.cross_network? %>
        Create a new pull request by comparing changes across two branches.
      <% elsif params[:quick_pull] %>
        <% if @comparison.cross_repository? %>
          Your changes have been made in a new branch, <span class="branch-name"><%= @comparison.display_head_ref %></span>, in your fork of this project. Create a pull request below to propose these changes in the original project.
        <% else %>
          The change you just made was written to a new branch named <span class="branch-name"><%= @comparison.display_head_ref %></span>. Create a pull request below to propose these changes.
        <% end %>
      <% else %>
        Create a new pull request by comparing changes across two branches. If you need to, you can also <button type="button" class="btn-link js-toggle-range-editor-cross-repo">compare across forks</button>.
      <% end %>
    </div>
  </div>
  <%= render :partial => "compare/range_editor", :locals => { :comparison => @comparison, :check_mergeability => true } %>

  <% if @existing_pulls.any? && !@comparison.direct_compare? %>
    <div class="my-3 Box">
      <ul>
        <% @existing_pulls.each do |existing_pull| %>
          <li class="Box-row <% if responsive? %>d-block d-md-flex<% else %>d-flex<% end %> flex-items-center">
            <div class="flex-auto mr-3 min-width-0 <% if responsive? %>mb-3 mb-md-0<% end %>">
              <div class="h4 ml-4 mb-1">
                <%= octicon("git-pull-request", :class => "ml-n4 mr-1 #{ existing_pull.open? ? 'open' : 'closed'}") %>
                <%= link_to existing_pull.title, pull_request_path(existing_pull), :class => "link-gray-dark" %>
                <span class="text-gray-light text-normal">#<%= existing_pull.number %></span>
              </div>
              <div class="css-truncate css-truncate-target width-fit pl-4 lh-condensed"><%=
                if existing_pull.body.blank?
                  content_tag(:div, link_to("No description available", pull_request_path(existing_pull), :class => "link-gray"))
                elsif existing_pull.task_list?
                  summary_view = TaskLists::SummaryView.new(existing_pull.task_list_summary)
                  link_to summary_view.text, pull_request_path(existing_pull), class: "link-gray-dark"
                else
                  link_to existing_pull.async_body_text.sync[0..200], pull_request_path(existing_pull), class: "link-gray-dark"
                end
              %></div>
            </div>
            <%= link_to pull_request_path(existing_pull),
              :class => "btn btn-primary" do %>
              <%= octicon("git-pull-request") %>
              View pull request
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @comparison.empty? %>
    <%= render Primer::BlankslateComponent.new(
      icon: "git-compare",
      title: "There isn’t anything to compare.",
    ) do %>
      <% if !@comparison.cross_repository? && @comparison.base_ref == @comparison.head_ref %>
        <p>
          You’ll need to use two different branch names to get a valid comparison.<br>
          Check out some of these sample comparisons.
        </p>
        <div class="Box Box--condensed text-left container-sm">
          <%= render :partial => "compare/sample_comparisons" %>
        </div>
      <% elsif @comparison.base_sha == @comparison.head_sha || @comparison.direct_compare? %>
        <p>
          <strong><%= comparison_base_ref_label @comparison %></strong> and
          <strong><%= comparison_head_ref_label @comparison %></strong> are identical.
        </p>
      <% elsif !@comparison.common_ancestor? %>
        <p>
          <strong><%= comparison_base_ref_label @comparison %></strong> and
          <strong><%= comparison_head_ref_label @comparison %></strong> are
          entirely different commit histories.
        </p>
      <% else %>
        <p>
          <strong><%= comparison_base_ref_label @comparison %></strong> is up to date with
          all commits from <strong><%= comparison_head_ref_label @comparison %></strong>.
          Try <%= link_to compare_path(@comparison.repo, "#{@comparison.head}...#{@comparison.base}") do %>switching the base<% end %>
          for your comparison.
        </p>
      <% end %>

      <%
        # Used to preserve drafted discussions when switching comparisons
      %>
      <% if params[:pull_request] && logged_in? %>
        <div class="d-none">
          <%= render :partial => 'pull_requests/composer',
            :object => PullRequests::Composer.new(@pull, @comparison) %>
        </div>
      <% end %>
    <% end %>
  <% else %>

    <% if logged_in? && !@existing_pulls.any?(&:open?) && @comparison.pull_requestable? %>
      <%= render :partial => 'pull_requests/composer',
            :object => PullRequests::Composer.new(@pull, @comparison) %>
    <% end %>

    <% if !@comparison.direct_compare? %>
      <% unless render_tabs_on_compare?(@comparison) %>
        <div class="Box mb-3">
          <ul class="<% if responsive? %>d-block d-sm-flex<% else %>d-flex<% end %> list-style-none px-2">
            <li class="flex-1 <% if responsive? %>text-left text-sm-center px-2 px-sm-0<% else %>text-center<% end %> my-2">
              <%= octicon("git-commit", class: "text-gray") %>
              <span class="text-emphasized">
                <%= number_with_delimiter(@comparison.total_commits) %>
              </span>
              <span class="text-gray-light">commit<%= 's'  unless @comparison.total_commits == 1 %></span>
            </li>

            <li class="flex-1 <% if responsive? %>text-left text-sm-center px-2 px-sm-0<% else %>text-center<% end %> my-2">
              <%= octicon("diff", class: "text-gray") %>
              <span class="text-emphasized">
                <% if !@diffs.available? %>
                  &#8734;
                <% else %>
                  <%= number_with_delimiter(@diffs.changed_files) %>
                <% end %>
              </span>
              <span class="text-gray-light"><%= "file".pluralize(@diffs.changed_files) %> changed</span>
            </li>

            <li class="flex-1 <% if responsive? %>text-left text-sm-center px-2 px-sm-0<% else %>text-center<% end %> my-2">
              <%= octicon("comment", class: "text-gray") %>
              <span class="text-emphasized">
                <%= comparison_node.commit_comments.total_count %>
              </span>
              <span class="text-gray-light"><%= "comment".pluralize(comparison_node.commit_comments.total_count) %></span>
            </li>

            <li class="flex-1 <% if responsive? %>text-left text-sm-center px-2 px-sm-0<% else %>text-center<% end %> my-2">
              <%= octicon("people", class: "text-gray") %>
              <span class="text-emphasized">
                <%= comparison_node.commits.author_count %>
              </span>
              <span class="text-gray-light"><%= "contributor".pluralize(comparison_node.commits.author_count) %></span>
            </li>
          </ul>
        </div>
      <% else %>
        <% @selected_tab = params[:commit_comments_page] && params[:commit_comments_page].to_i > 1 ? :commit_comments_bucket : :commits_bucket %>
        <div class="tabnav">
          <div class="tabnav-extra float-right">
            <%= octicon("organization") %>
            <%= number_with_delimiter(comparison_node.commits.author_count) %>
            <%= "contributor".pluralize(comparison_node.commits.author_count) %>
          </div>

          <nav class="tabnav-tabs">
            <a href="#commits_bucket" class="tabnav-tab js-compare-tab<% if @selected_tab == :commits_bucket %> selected<% end %>" data-ga-click="Compare, tabs, commits">
              <%= octicon("git-commit") %>
              Commits
              <%= render Primer::CounterComponent.new(count: @comparison.total_commits) %>
            </a>
            <a href="#files_bucket" class="tabnav-tab js-compare-tab<% if @selected_tab == :files_bucket %> selected<% end %>" data-ga-click="Compare, tabs, files">
              <%= octicon("diff") %>
              Files changed
              <%= render Primer::CounterComponent.new(count: @diffs.available? ? @diffs.changed_files : Float::INFINITY) %>
            </a>
            <a href="#commit_comments_bucket" class="tabnav-tab js-compare-tab<% if @selected_tab == :commit_comments_bucket %> selected<% end %>" data-ga-click="Compare, tabs, comments">
              <%= octicon("comment") %>
              Commit comments
              <%= render Primer::CounterComponent.new(count: comparison_node.commit_comments.total_count) %>
            </a>
          </nav>
        </div>
      <% end %>

      <div id="commits_bucket" class="<% if @selected_tab && @selected_tab != :commits_bucket %>d-none<% end %>">

      <% if @comparison.commit_limit_exceeded? %>
        <div class="diff-cutoff">
          This comparison is big! We’re only showing the most recent
          <%= number_with_delimiter(@comparison.limit) %>
          commits
        </div>
      <% end %>
      <div>
      <% grouped_commits(comparison_node.commits.nodes).each do |date, commit_group|%>
        <div>
          <div class="TimelineItem pb-1">
            <div class="TimelineItem-badge">
              <%= octicon('repo-push') %>
            </div>
            <div class="TimelineItem-body">
              Commits on <%= date.strftime("%b %d, %Y") %>
            </div>
          </div>
          <% commit_group.each do |commit| %>
            <div class="TimelineItem TimelineItem--condensed">
              <div class="TimelineItem-badge">
                <%= octicon "git-commit" %>
              </div>
              <div class="TimelineItem-body">
                <%= render "compare/commit", commit: commit %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="<% if split_diff? %>full-width px-4<% else %>container-xl px-3 px-md-4 px-lg-5<% end %>">
  <div id="files_bucket" class="files-bucket <% if @selected_tab && @selected_tab != :files_bucket %>d-none<% end %>">
    <div id='diff' class="uncommentable">
      <% if params[:toc] %>
        <% tree_diff = current_repository.rpc.read_tree_diff(@comparison.base_sha, @comparison.head_sha) %>
        <%= render :partial => "diff/tree_toc", :locals => {
                      :diffable => @comparison,
                      :tree_diff => tree_diff
                    } %>
      <% else %>
        <% file_list_view = Diff::FileListView.new(
            :diffs => @diffs,
            :params => params,
            :current_user => current_user,
            :commentable => false,
            :progressive => true
        ) %>
        <%= render :partial => 'diff/toc', :locals => { :file_list_view => file_list_view } %>
        <%= render :partial => 'diff/diff', :locals => { :file_list_view => file_list_view } %>
      <% end %>
    </div>
  </div>

  <% if !@comparison.direct_compare? %>
    <div id="commit_comments_bucket" class="compare-tab-comments <% if @selected_tab && @selected_tab != :commit_comments_bucket %>d-none<% end %>">
      <% comment_count = comparison_node.commit_comments.nodes.count %>
      <% if comment_count > 0 %>
        <% if comparison_node.commit_comments.total_count > comment_count %>
          <p class="explain">Showing you the latest <%= comment_count %> comments on commits in this
            comparison.</p>
        <% else %>
          <p class="explain">Showing you all comments on commits in this comparison.</p>
        <% end %>
        <div class="ml-6 pl-3">
          <% comparison_node.commit_comments.nodes.each_with_index do |comment, i| %>
            <div class="TimelineItem <% if i == 0 %>pt-0<% end %>">
              <%= render partial: "comments/timeline_avatar", locals: { comment: comment } %>
              <% link = link_to(comment.commit.abbreviated_oid, comment.commit.url.to_s) %>
              <%= render partial: 'comments/comment', locals: {
                    comment: comment,
                    dom_id: "commitcomment-#{comment.database_id}",
                    action_text: safe_join(["commented on ", content_tag(:code, link)])
                  } %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= render Primer::BlankslateComponent.new(
          icon: "git-commit",
          title: "No commit comments for this range",
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
