<% if owner.is_a?(Business) %>
  <p>
    To ensure your service isn't disrupted, please contact sales.
  </p>

  <%= render(Mail::SpacerComponent.new) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(text: "Contact sales", url: GitHub.enterprise_web_url + "/contact", classes: "btn-primary btn-large")) %>
  <% end %>
<% else %>
  <p>
    To ensure your service isn't disrupted, make sure you increase your monthly spending limit.
  </p>

  <%= render(Mail::SpacerComponent.new) %>

  <% if owner.organization? %>
    <% cta_url = settings_org_billing_tab_url(organization_id: owner.login, tab: "cost_management") %>
  <% else %>
    <% cta_url = settings_user_billing_tab_url(tab: "cost_management") %>
  <% end %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(text: "Manage spending limit", url: cta_url, classes: "btn-primary btn-large")) %>
  <% end %>
<% end %>
