<% if owner.is_a?(Business) %>
To ensure your service isn't disrupted, please contact sales <%= GitHub.enterprise_web_url + "/contact" %>.
<% else %>
<% if owner.organization? %>
  <% cta_url = settings_org_billing_tab_url(organization_id: owner.login, tab: "cost_management") %>
<% else %>
  <% cta_url = settings_user_billing_tab_url(tab: "cost_management") %>
<% end %>
To ensure your service isn't disrupted, make sure you increase your monthly spending limit.
Visit <%= cta_url %> to find out how.
<% end %>
