<%
  help_url     = @user.organization? ? GitHub.org_cc_help_url : GitHub.personal_cc_help_url
  settings_url = @user.organization? ? "#{GitHub.url}/organizations/#{@user}/settings/billing" : "#{GitHub.url}/settings/billing"
%>
Greetings <%= @user %>,

We tried to bill your account, but it appears that your credit card has expired. Please take a moment to update your card here: <%= settings_url %>. <%= @metered_billing_failure_text %>

If you need a guide to updating your payment method, our handy article at <%= help_url %> can help you out.

If you feel there’s been a mistake or have any questions, visit <%= contact_url %>.

Thanks,
The GitHub Team
