<%
  help_url     = @user.organization? ? GitHub.org_cc_help_url : GitHub.personal_cc_help_url
  settings_url = @user.organization? ? "#{GitHub.url}/organizations/#{@user}/settings/billing" : "#{GitHub.url}/settings/billing"
%>
Greetings <%= @user %>,

We’re sorry to say that your coupon for <%= branded_plan_name(GitHub::Plan.pro).titleize %> has expired.

<% if @education_coupon %>
If you are still a student or teacher, you may apply for a new academic discount coupon at https://education.github.com.

<% end %>

If you’d like to renew GitHub, just head to <%= settings_url %> and click the "update payment method" button. If you need a guide to updating your payment method, our handy article at <%= help_url %> can help you out.

If you decide not to renew, you can switch to <%= branded_plan_name(GitHub::Plan.free).titleize %> and access your private repositories with limited review and collaboration features. If you have any feedback about this service, we’d love to hear what we could have done better.

If you feel there’s been a mistake or have any questions, visit <%= contact_url %>.

Thanks,
The GitHub Team
