Dear @<%= @user %><%= @user.organization? ? " owner" : "" %>:

Just a friendly reminder that the credit card<%= @card_info %> <%= @on_file_text %> is about to expire. Please take a moment to update your card here:

<%= @user.organization? ? "#{GitHub.url}/organizations/#{@user}/settings/billing/payment" : "#{GitHub.url}/account/billing/payment" %>

If you have any questions visit <%= contact_url %>.

Thanks,

The GitHub Team
