<%= @notifier.error_resources_threshold_text %> for the <%= account_description(@owner) %>.
<%= @notifier.usage_reset_date_text %>.
<%= render("mailers/billing_notifications/resource_usage_action", owner: @owner) unless @owner.try(:has_any_trade_restrictions?) %>
