Your free trial for <%= @marketplace_listing_name %> <%= @marketplace_listing_plan_name %> is ending on <%= @subscription_item_change.active_on.strftime("%B %d, %Y") %>, after which you will be charged for this plan. If you’d like to make any changes in your subscription you can do so by going to Settings.

<% if @user.organization? %>
<%= settings_org_billing_url(@user) %>
<% else %>
<%= settings_user_billing_url %>
<% end %>

Questions? Visit <%= contact_url %>.
