<%
  help_url     = @user.organization? ? GitHub.org_cc_help_url : GitHub.personal_cc_help_url
  settings_url = @user.organization? ? "#{GitHub.url}/organizations/#{@user}/settings/billing" : "#{GitHub.url}/settings/billing"
  sponsorships = @user.active_sponsor? ? "or active sponsorships " : ""
%>
Greetings <%= @user %>,

This email is to inform you that we’ve received the following error trying to bill your <%= @user.friendly_payment_method_name("account") %>:

<%= @message %>

Any marketplace subscriptions <%= sponsorships %>have been reverted to their previous state. Please resolve this issue and attempt your purchase again.

If you need to update your payment information, please head to <%= settings_url %>. If you need a guide to updating your payment method, our handy article at <%= help_url %> can help you out.


If you feel there’s been a mistake or have any questions, please contact support <%= contact_url %>.

Thanks,
The GitHub Team
