<%
  help_url     = @user.organization? ? GitHub.org_paypal_help_url : GitHub.personal_paypal_help_url
  settings_url = @user.organization? ? "#{GitHub.url}/organizations/#{@user}/settings/billing" : "#{GitHub.url}/settings/billing"
%>
Greetings <%= @user %>,

This email is to inform you that we’ve received the following error trying to bill your <%= @user.friendly_payment_method_name("account") %>:

<%= @message %>

PayPal payments can fail for a number of reasons. Please login to https://www.paypal.com/ and verify the following:

- Make sure your PayPal account balance has enough funds to cover the subscription amount, USD <%= Money.new(@user.payment_amount * 100).format %>. If not, please transfer funds from your funding source into your PayPal account.

OR

- Make sure you have a default payment method on your PayPal account.
- If your default payment method in PayPal is a credit card, make sure your details are up-to-date and that the card is not expired.
- If your default payment method in PayPal is a bank account, add a backup payment method.

We’ll try billing your <%= @user.friendly_payment_method_name("account") %> again over the next two weeks. <%= @metered_billing_failure_text %>

If you need to update your payment information, please head to <%= settings_url %>. If you need a guide to updating your payment method, our handy article at <%= help_url %> can help you out.

If you feel there’s been a mistake or have any questions, visit <%= contact_url %>.

Thanks,
The GitHub Team
