<% if @receipt.sponsorship_only_transaction? && @receipt.sponsorship_line_items_displayable? %>
<%= @receipt.sponsorship_only_text %>
<% elsif @receipt.prorated_charge? || (@receipt.respond_to?(:job_posting?) && @receipt.job_posting?) %>
Thanks for your GitHub.com purchase!
<% else %>
We received payment for your GitHub.com subscription. Thanks for your business!
<% end %>

Questions? Visit <%= contact_url %>.

------------------------------------
<%= @receipt.receipt_header %>

<%= @receipt.plan_summary %>
<% if @receipt.plan_renewal_with_data_packs? %>
<%= @receipt.data_packs_addon_text %>
<% end %>
<% if @receipt.marketplace_line_items.any? || @receipt.sponsorship_line_items_displayable? %>
Plan Amount: <%= @receipt.plan_amount.format(with_currency: true) %>
<% end %>
<% if @receipt.marketplace_line_items.any? %>

Marketplace Apps:
<%= @receipt.marketplace_line_items_text %>

Marketplace Amount: <%= @receipt.marketplace_amount.format(with_currency: true) %>

<% end %>
<% if @receipt.sponsorship_line_items_displayable? %>

Sponsorships:
<%= @receipt.sponsorship_line_items_text %>

Sponsorship Amount: <%= @receipt.sponsorship_amount.format(with_currency: true) %>

<% end %>
<% if @receipt.actions_line_items.any? %>

GitHub Actions:
<%= @receipt.actions_line_items_text %>
<% end %>
<% if @receipt.package_registry_transfer_line_items.any? %>

GitHub Packages:
<%= @receipt.packages_transfer_line_items_text %>
<% end %>
<% if @receipt.shared_storage_line_items.any? %>

Storage for Actions and Packages:
<%= @receipt.shared_storage_line_items_text %>
<% end %>

Total: <%= @receipt.amount.format(with_currency: true) %>*

Charged to: <%= @receipt.payment_type %> (<%= @receipt.payment_identifier %>)
Transaction ID: <%= @receipt.transaction_id %>
Date: <%= @receipt.purchased_at.strftime("%d %b %Y %I:%M%p %Z") %>
<% if @receipt.service_ends_on %>
For service through: <%= @receipt.service_ends_on %>
<% end %>
<% if @receipt.extra.present? %>
Extra billing information:
<%= raw @receipt.extra %>
<% end %>


GitHub, Inc.
88 Colin P. Kelly Jr. Street
San Francisco, CA 94107
------------------------------------

* VAT/GST paid directly by GitHub, where applicable
