Your annual subscription for GitHub.com is set to renew on <%= @billing_date %>.

If you would like to make any changes to your account, please do so before then.

<% if @user.organization? %>
<%= settings_org_billing_url(@user) %>
<% else %>
<%= settings_user_billing_url %>
<% end %>

Questions? Visit <%= contact_url %>.
