<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Root on Query {
    marketplaceIntegratorAgreement @include(if: $loggedIn) {
      name
      version
      bodyHTML
    }
    marketplaceListing(slug: $listingSlug) {
      name
      slug
      isPublic
      viewerCanSignIntegratorAgreement
      viewerCanRedraft
      listingDescriptionIsCompleted
      contactInfoIsCompleted
      plansAndPricingAreCompleted
      webhookIsCompleted
      integratorAgreementSignature {
        createdAt
        agreement {
          bodyHTML
          name
          version
        }
        signatory {
          login
          name
        }
        organization {
          login
          name
        }
      }

      ...Views::MarketplaceListings::RequestButtons::MarketplaceListing
    }
    ...Views::MarketplaceListings::IntegratorAgreement::Root
    ...Marketplace::Listings::OnboardingPageView::Query::Root

    viewer {
      isSpammy
      hasTwoFactorAuthenticationEnabled
    }
  }
%>

<%
  data = Views::MarketplaceListings::CompletionStatuses::Root.new(data)
  listing = data.marketplace_listing
  viewer = data.viewer
  agreement = data.marketplace_integrator_agreement
  signature = listing.integrator_agreement_signature
  signature_owner = signature&.signatory
%>

<div class="Box mb-4">
  <div class="Box-row p-3 d-flex flex-items-center" href="<%= edit_description_marketplace_listing_path(listing.slug) %>">
    <% if listing.is_public? %>
      <div class="CircleIcon bg-green mr-3">
        <%= octicon("eye", width: 16, height: 16, class: "text-white") %>
      </div>
      <div class="flex-auto">
        <h3 class="Box-title d-inline-block">This listing has been published to Marketplace.</h3>
        <div class="text-small text-gray">
          <%= listing.name %> is publicly visible on the Marketplace.
          <%= link_to "View listing", marketplace_listing_path(listing.slug) %>
        </div>
      </div>
    <% else %>
      <div class="CircleIcon mr-3" style="background: #959da5">
        <%= octicon("eye-closed", width: 16, height: 16, class: "text-white") %>
      </div>
      <div class="flex-auto">
        <h3 class="Box-title d-inline-block">This listing has not been published to Marketplace.</h3>
        <div class="text-small text-gray">This listing is a draft and has not yet been published on GitHub Marketplace.</div>
      </div>
    <% end %>
  </div>

  <div class="Box-row bg-gray-light clearfix">
    <%= link_to edit_contact_info_marketplace_listing_path(listing.slug), class: "muted-link" do %>
      <span class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(listing.contact_info_is_completed?) %>
      </span>
      <span class="overflow-hidden pl-3">Add your contact info</span>
    <% end %>
  </div>
  <div class="Box-row bg-gray-light clearfix">
    <%= link_to edit_description_marketplace_listing_path(listing.slug), class: "muted-link" do %>
      <span class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(listing.listing_description_is_completed?) %>
      </span>
      <span class="overflow-hidden pl-3">Fill out your listing description</span>
    <% end %>
  </div>
  <div class="Box-row bg-gray-light clearfix">
    <%= link_to marketplace_listing_plans_path(listing.slug), class: "muted-link" do %>
      <span class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(listing.plans_and_pricing_are_completed?) %>
      </span>
      <span class="overflow-hidden pl-3">Create plans</span>
    <% end %>
  </div>
  <div class="Box-row bg-gray-light clearfix">
    <%= link_to marketplace_listing_hook_path(listing.slug), class: "muted-link" do %>
      <span class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(listing.webhook_is_completed?) %>
      </span>
      <span class="overflow-hidden pl-3">Set up webhook</span>
    <% end %>
  </div>
  <div class="Box-row bg-gray-light clearfix">
    <span class="Box-btn-octicon btn-octicon float-left">
      <%= marketplace_onboarding_status_icon(signature.present?) %>
    </span>
    <div class="overflow-hidden pl-3 text-gray">
      Sign
      <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
        button_class: "btn-link",
        button_text: "GitHub #{agreement.name}",
        agreement_title: "GitHub #{agreement.name} #{agreement.version}",
        agreement_body_html: agreement.body_html } %>

      <% if signature.present? %>
        <p class="text-small text-gray mb-0" >
          <%= link_to (signature_owner.name.presence || signature_owner.login), user_path(signature.signatory.login) %>
          signed the GitHub <%= signature.agreement.name %> version <%= signature.agreement.version %>
          <% if org = signature.organization %>
            on behalf of <%= link_to (org.name.presence || org.login), user_path(org.login) %>
          <% end %>
          <%= time_ago_in_words_js signature.created_at %>.
        </p>
      <% end %>
    </div>
  </div>
  <div class="Box-row bg-gray-light clearfix">
    <%= link_to settings_user_two_factor_authentication_intro_path, class: "muted-link", target: "_blank" do %>
      <span class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(viewer.has_two_factor_authentication_enabled?) %>
      </span>
      <span class="overflow-hidden pl-3">Enable two-factor authentication</span>
    <% end %>
  </div>
</div>

<% if listing.viewer_can_sign_integrator_agreement? %>
  <%= render partial: "marketplace_listings/integrator_agreement", locals: { data: data } %>
<% end %>

<% if listing.viewer_can_redraft? %>
  <%= form_tag redraft_marketplace_listing_path(listing.slug), class: "d-inline-block" do %>
    <button type="submit" class="btn btn-outline tooltipped tooltipped-s" aria-label="Withdraw approval request so you can make additional changes">
      Withdraw request for review
    </button>
  <% end %>
<% end %>

<% if viewer.is_spammy? %>
  <div class="d-flex flex-items-center pt-3">
    <div class="text-gray text-small">
      <%= octicon("lock") %>
      You cannot submit your app for review because your account has been flagged.
      If you believe this is a mistake, <%= link_to "contact support", contact_path %> to have your account status reviewed.
    </div>
  </div>
<% end %>

<%= render partial: "marketplace_listings/request_buttons", locals: { listing: listing } %>
