<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    shortDescription
    ...Views::MarketplaceListings::FeaturedListingLink::MarketplaceListing
  }
%>

<%
  listing = Views::MarketplaceListings::FeaturedListing::MarketplaceListing.new(listing)
%>

<div class="MarketplaceFeature col-3 flex-auto px-2 anim-fade-in">
  <%= render partial: "marketplace_listings/featured_listing_link", locals: local_assigns.slice(:listing, :break_logo_cache) %>
  <p class="MarketplaceFeature-text text-white text-center px-3 lh-condensed js-hero-listing-description"><%= listing.short_description %></p>
</div>
