<%graphql
  fragment Root on Query {
    marketplaceIntegratorAgreement @include(if: $loggedIn) {
      id
      name
      version
      bodyHTML
    }
    marketplaceListing(slug: $listingSlug) {
      id
      slug
      owner {
        name
        login
        avatarUrl(size: 36)
      }
    }
  }
%>
<%
  data = Views::MarketplaceListings::IntegratorAgreement::Root.new(data)
  listing = data.marketplace_listing
  agreement = data.marketplace_integrator_agreement
%>

<div class="Box p-4 bg-gray-light mb-4">
  <h2 class="f4 mt-0">Accept the <%= agreement.name %> prior to submitting your listing</h2>
  <%= form_tag marketplace_agreement_signatures_path(listing.slug), method: :post do %>
    <div class="form-checkbox mb-0">
      <input type="hidden" name="accept" value="0">
      <input type="hidden" name="marketplace_agreement_id" value="<%= agreement.id %>">
      <input type="hidden" name="marketplace_listing_id" value="<%= listing.id %>">
      <label class="text-normal d-block mb-3" for="accept_marketplace_agreement">
        <input required type="checkbox" name="accept" value="1" id="accept_marketplace_agreement">
        By clicking &ldquo;Accept Terms&rdquo; below, you agree to the
        <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
          button_class: "btn-link",
          button_text: "GitHub #{agreement.name}",
          agreement_title: "GitHub #{agreement.name} #{agreement.version}",
          agreement_body_html: agreement.body_html } %>
        on behalf of
        <% case listing.owner %>
        <% when PlatformTypes::Organization %>
          the
          <a href="<%= user_path(listing.owner.login) %>" class="d-inline-block no-wrap text-gray-dark text-bold no-underline">
            <%= image_tag listing.owner.avatar_url.to_s, alt: "@#{listing.owner.login}", width: 16, height: 16, class: avatar_class_names(listing.owner) %>
            <%= listing.owner.name %>
          </a>
          organization.
        <% when PlatformTypes::User %>
          <a href="<%= user_path(listing.owner.login) %>" class="d-inline-block no-wrap text-gray-dark text-bold no-underline">
            <%= image_tag listing.owner.avatar_url.to_s, alt: "@#{listing.owner.login}", width: 16, height: 16, class: avatar_class_names(listing.owner) %>
            <%= listing.owner.name %>.
          </a>
        <% end %>
        Please check to make sure that you are agreeing to these terms on behalf of the
        correct account.
      </label>
      <button type="submit" data-disable-with="Saving..." data-disable-invalid class="btn btn-primary">
        Accept Terms
      </button>
    </div>
  <% end %>
</div>
