<%graphql
  fragment Root on Query {
    ...Views::MarketplaceListings::Plan::Root
    marketplaceListing(slug: $listingSlug) {
      defaultPlan {
        id
        ...Views::MarketplaceListings::Plan::MarketplaceListingPlan
      }
      ...Views::MarketplaceListings::PlansList::MarketplaceListing
      ...Views::MarketplaceListings::Plan::MarketplaceListing
    }
    selectedPlan: node(id: $planId) @include(if: $planSelected) {
      ... on MarketplaceListingPlan {
        id
        ...Views::MarketplaceListings::Plan::MarketplaceListingPlan
      }
    }
    viewer @include(if: $loggedIn) {
      orderPreview(listingSlug: $listingSlug) {
        listingPlan {
          id
          ...Views::MarketplaceListings::Plan::MarketplaceListingPlan
        }
        ...Views::MarketplaceListings::Plan::MarketplaceOrderPreview
      }
      ...Views::MarketplaceListings::Plan::User
    }
  }
%>
<%
  data = Views::MarketplaceListings::PlansAndSelectedPlan::Root.new(data)
  viewer = data.viewer
  listing = data.marketplace_listing
  selected_plan = data.selected_plan
  if !selected_plan
    order_preview = data.viewer&.order_preview
    selected_plan = order_preview&.listing_plan || listing.default_plan
  end
%>

<div class="col-md-6 float-md-left pr-md-6 mb-4 mb-md-0">
  <%= render partial: "marketplace_listings/plans_list",
             locals: { data: data, listing: listing, selected_plan_id: selected_plan.id } %>
</div>
<div class="MarketplacePlan--sticky col-md-6 float-md-left pl-md-6">
  <%= render partial: "marketplace_listings/plan",
             locals: { data: data, listing: listing, selected_plan: selected_plan, order_preview: order_preview, viewer: data.viewer } %>
</div>
