<% page_info title: "Redirecting" %>

<div class="container-md px-3">
  <div class="blankslate mt-5">
    <%= octicon("flame", height: 32, class: "blankslate-icon") %>
    <h3>You are being redirected.</h3>
    <p>
      If your browser does not redirect you back, please <%= link_to("click here", redirect_url, id: "redirect") %> to continue.
    </p>
  </div>
</div>
