<% page_info title: "Scheduled reminders beta signup", selected_link: :reminders_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Scheduled reminders waitlist<% end %>
  <% end %>

  <table class="boxed-group-table">
    <tr>
      <th>Organization</th>
      <th>Submitted by</th>
      <th>Waitlisted</th>
      <th>Members</th>
      <th>Slack</th>
      <th>Pull Panda</th>
      <th>Enabled?</th>
    </tr>
    <% view.signups.each do |signup| %>
      <tr>
        <td>
          <%= avatar_for(signup.organization, 22, class: "avatar avatar-small mr-2") %>
          <%= link_to signup.organization.login, user_path(signup.organization) %>
        </td>
        <td>
          <%= avatar_for(signup.submitter, 22, class: "avatar avatar-small mr-2") %>
          <%= link_to signup.submitter.login, user_path(signup.submitter) %>
        </td>
        <td><%= signup.submitted_at %></td>
        <td><%= signup.organization.members_count %></td>
        <td>
          <% if signup.slack_installation %>
            <%= link_to signup.slack_installation.outdated? ? "Out-of-date" : "Latest version", stafftools_user_installation_path(signup.organization, signup.slack_installation) %>
          <% else %>
            -
          <% end -%>
        </td>
        <td>
          <% if signup.pull_panda_installation %>
            <%= link_to signup.pull_panda_installation.outdated? ? "Out-of-date" : "Latest version", stafftools_user_installation_path(signup.organization, signup.pull_panda_installation) %>
          <% else %>
            -
          <% end -%>
        </td>
        <td>
          <%= form_tag stafftools_toggle_reminders_beta_path(user_id: signup.organization.id), class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="checkbox" name="user_beta_status" aria-label="toggle_<%= signup.organization.login %>_status" <%= "checked" if signup.organization.reminders_enabled? %>>

            <span class="status-indicator js-status-indicator">
              <%= octicon("check") %>
              <%= octicon("x") %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate view.memberships %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
