<%# rubocop:disable Lint/InstanceVariable %>
<% page_title "Create GitHub Pages site · #{current_repository.name_with_owner}" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="Subhead">
  <% if current_repository.is_user_pages_repo? %>
    <h1 class="Subhead-heading">New user site</h1>
    <p class="Subhead-description">Create a new GitHub Users Pages site for your account.</p>
  <% else %>
    <h1 class="Subhead-heading">New project site</h1>
    <p class="Subhead-description">Create a new GitHub Pages site for your project.</p>
  <% end %>
  </div>

  <%= form_for :page, :url => generated_pages_themes_path do |f| %>
    <div id="pages-composer" class="pb-2 mb-4 border-bottom">
      <% if @readme %>
        <div id="editor-body-buffer" class="d-none"><%=h try_guess_and_transcode(@readme.data.to_s) %></div>
      <% end %>

      <%= f.label(:name, current_repository.is_user_pages_repo? ? "Page name" : "Project name", class: "d-inline-block f4 mb-2") %>
      <%= f.text_field :name, value: @page_params[:name], class: "input-lg input-block input-contrast mb-3" %>

      <%= f.label :tagline, class: "d-inline-block f4 mb-2" %>
      <%= f.text_field :tagline, value: @page_params[:tagline], class: "input-block input-contrast mb-3" %>

      <%= f.label :body, for: "gollum-editor-body", class: "d-inline-block f4 mb-2" %>
      <div id="pages-composer-wrapper">
        <div id="gollum-editor" class="create gollum-editor">
          <a class="muted-link float-right" href="<%= GitHub.guides_url %>/features/mastering-markdown/" target="_blank">
            <%= octicon("markdown") %>
            Markdown supported
          </a>
          <%= render :partial => "editors/pages", :locals => { :editor => @editor } %>
        </div>
      </div>

      <% if @page_params[:google] %>
        <%= f.label :google, "Google Analytics" %>
        <p>Add Google Analytics to your Pages site by adding a tracking ID number (it looks something like <code class="commit-sha">UA-000000-01</code>). <a href="https://support.google.com/analytics/answer/1032385?hl=en" target="_blank" rel="noopener noreferrer">Need help finding your tracking ID?</a></p>
        <%= f.text_field :google, :value => @page_params[:google], :class => "input-contrast col-3" %>
      <% end %>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Continue to layouts
      </button>
      <%= link_to "Cancel", edit_repository_path(current_repository), :class => "btn btn-danger" %>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle 'wiki' %>
<% end -%>
