<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Choose a theme" %>

<% content_for :content do %>
<theme-picker class="theme-picker">
  <div class="container">

    <div class="theme-picker-thumbs" data-target="theme-picker.fullPicker">
      <button type="button" class="theme-toggle theme-toggle-full-left" aria-label="Previous"
        data-target="theme-picker.scrollBackwardsLink"
        data-action="click:theme-picker#prevPage">
        <%= octicon("arrow-left", :height => 32) %>
      </button>

      <div class="overflow-hidden no-wrap theme-selector d-flex" data-target="theme-picker.themeLinksContainer">
        <% @themes.each do |theme| %>
          <%= link_to_theme theme, @page, :class => "d-inline-block mx-2 rounded-1 theme-selector-thumbnail",
            "data-targets" => "theme-picker.themeLinks",
            "data-action" => "click:theme-picker#onThemeLinkClick" do %>
            <%= image_tag theme.thumbnail_path(:web), :alt => "", :class => "d-block theme-selector-img" %>
            <%= content_tag :span, theme.name, :hidden => "hidden" %>
          <% end %>
        <% end %>
      </div>

      <button type="button" class="theme-toggle theme-toggle-full-right" aria-label="Next"
        data-target="theme-picker.scrollForwardsLink"
        data-action="click:theme-picker#nextPage">
        <%= octicon("arrow-right", :height => 32) %>
      </button>

      <%= form_tag generated_pages_preview_path, :method => "post", :target => "page-preview" , "data-target" => "theme-picker.previewForm" do %>
        <% params[:page].each do |key, val| %>
          <input type="hidden" name="<%= key %>" value="<%= val %>">
        <% end %>
        <input type="hidden" name="theme_slug" value="" data-target="theme-picker.themeSlugInput">
      <% end %>
    </div>

    <div class="position-relative pb-3">
      <img class="theme-picker-spinner" data-target="theme-picker.spinner" src="<%= image_path "spinners/octocat-spinner-64-grey.gif" %>" width="32px" height="32px" alt="">

      <div class="theme-picker-controls" data-target="theme-picker.miniPicker" hidden>
        <button type="button" class="theme-toggle theme-picker-prev" aria-label="Previous"
          data-action="click:theme-picker#prevTheme">
          <%= octicon("arrow-left", :height => 32) %>
        </button>
        <span class="theme-name" data-target="theme-picker.themeName"></span>
        <button type="button" class="theme-toggle theme-picker-next" aria-label="Next"
          data-action="click:theme-picker#nextTheme">
          <%= octicon("arrow-right", :height => 32) %>
        </button>
      </div>

      <div class="pt-3 text-right clearfix open">
        <div class="theme-picker-view-toggle open" data-action="click:theme-picker#toggleFullPicker">
          <button type="button" class="btn btn-outline for-hiding">
            Hide thumbnails
          </button>
          <button type="button" class="btn btn-outline for-showing">
            Show thumbnails
          </button>
        </div>

        <%= form_tag generated_pages_new_path, :method => "post", :class => "d-inline-block ml-2", :id => "page-edit-form", "data-target" => "theme-picker.editForm" do %>
          <% params[:page].each do |key, val| %>
            <input type="hidden" name="page[<%= key %>]" value="<%= val %>">
          <% end %>
          <button class="btn btn-outline" type="submit" id="page-edit" data-action="click:theme-picker#onEditClick">Edit</button>
        <% end %>

        <%= form_tag generated_pages_create_path, :method => "post", :class => "d-inline-block ml-2", :id => "page-publish-form", "data-target" => "theme-picker.publishForm" do %>
          <% params[:page].each do |key, val| %>
            <input type="hidden" name="page[<%= key %>]" value="<%= val %>">
          <% end %>
          <input type="hidden" name="page[theme_slug]" value="" data-target="theme-picker.publishThemeSlugInput">
          <button class="btn btn-primary" type="submit" id="page-publish" data-action="click:theme-picker#onPublishClick">Publish page</button>
        <% end %>
      </div>
    </div>
  </div>

  <iframe id="page-preview" class="page-preview" name="page-preview" scrolling="no" sandbox="allow-same-origin"
    data-target="theme-picker.pagePreview" data-action="load:theme-picker#hideSpinner"></iframe>

</theme-picker>

<% end %>
