<% page_info responsive: false, :title => "Transfer GitHub App", :class => 'page-account', :selected_link => :integrations %>

<% content = capture do %>
  <div class="integrations-auth-header border-bottom clearfix text-left">
    <%= integration_avatar(:integration => view.integration, :size => 56, :class => "avatar mb-3 mr-3 float-left") %>
    <p class="mb-1 mt-1">
      Transfer <strong><%= view.integration.name %></strong>
    </p>
    <p class="integration-meta-head">
      to your
      <% if view.target == current_user %>
        personal account
        <%= avatar_for(view.target, 20, :class => 'target-avatar avatar' ) %>
        <strong class="text-gray-dark"><%= account %></strong>
      <% else %>
        organization
        <%= avatar_for(view.target, 20, :class => 'target-avatar avatar' ) %>
        <strong class="text-gray-dark"><%= view.target.safe_profile_name %></strong>
      <% end %>
    </p>
  </div>

  <% access_group_view = Integrations::AccessGroupingsView.new(:integration => view.integration) %>
  <dl class="form-group integrations-permissions-group settings-next">
    <dt class="mb-3"><label>With these permissions:</label></dt>
    <dd>
      <%= render partial: "integration_installations/requested_permissions_list",
        locals: {
          access_group_view: access_group_view
        }
      %>
    </dd>
  </dl>

  <hr>

  <% if view.events.any? %>
    <dl class="form-group settings-next">
      <dt class="mb-3"><label>Events</label></dt>
      <dd>
        <p>
          <%= view.integration.name %> will receive events for <%= view.events.to_sentence %>.
        </p>
      </dd>
    </dl>

    <hr>
  <% end %>

  <%= button_to "Complete transfer", gh_accept_settings_app_transfer_path(view.transfer),
        :method => :put,
        :class => "btn btn-danger float-left" %>

  <%= button_to "Cancel", gh_settings_app_transfer_path(view.target, view.transfer.id),
        :method => :delete,
        :class  => "btn btn-invisible" %>
<% end %>

<% if current_context.organization? %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
