<% GitHub.instrument("repo.dependabot_configuration_banner", dimensions: {
  object: "banner",
  action: "view",
  user_id: current_user.id,
  repo_id: current_repository.id,
}) %>

<% if !view.default_branch? %>
  <div class="flash flash-warn mt-3 <%= "d-flex flex-justify-between flex-column flex-md-row flex-md-items-center" if responsive? %>" id="dependabot_configuration_error_default_branch">
    <div <% if responsive? %>class="flex-column mb-md-0 mr-0 pr-md-4"<% end %>>
      <h5 class="mb-1">
        <%= octicon "alert", height: 18,  class: "mr-1" %>Cannot configure Dependabot.
      </h5>

      <p class="text-small">
        To configure Dependabot, you must use <%= link_to "this repository’s default branch", tree_path("", current_repository.default_branch, current_repository) %>.
      </p>
    </div>
  </div>
<% elsif !current_user.dismissed_notice?(UserNotice::DEPENDABOT_CONFIGURATION_NOTICE) %>
  <div class="position-relative d-flex flex-justify-center">
    <div class="Popover mt-2 js-notice" id="dependabot_configuration_notice">
      <div class="Popover-message Box box-shadow-large p-3 text-left ws-normal" style="width: 275px;">
        <div class="d-flex">
          <div class="flex-auto">
            <h5 class="mb-1">Dependabot <%= render GitHub::BetaFlagComponent.new(ml: 1, font_size: 6, font_weight: :normal) %></h5>
            <p class="mb-3 f6">Dependabot creates pull requests to keep your dependencies secure and up-to-date.</p>
            <p class="mb-3 f6">You can opt out at any time by removing the <code><%= view.dependabot_config_file_path %></code> config file.</p>

            <%= form_tag dismiss_notice_path(UserNotice::DEPENDABOT_CONFIGURATION_NOTICE), class: "d-inline-block js-notice-dismiss" do %>
              <%= link_to "View update status", network_dependabot_path(current_repository.owner, current_repository), class: "btn btn-sm btn-outline" %>
              <button type="submit" class="btn-link f6 ml-3 muted-link">Dismiss</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
