<%
  dependencies_page = (parent_page == "network/dependencies")
  alerts = current_repository.visible_vulnerability_alerts
  alert = alerts.first
  vulnerability = alert.vulnerability
  dedicated_alerts_ui_enabled = GitHub.dedicated_alerts_ui_enabled?
%>

<% GitHub.instrument("repository_vulnerability_alert.alert_seen", dimensions: {
        action: "view",
        user_id: current_user.id,
        repo_id: current_repository.id,
        vulnerability_id: vulnerability.id,
        view: parent_page
      }) %>

<div class="flash flash-warn mb-3">
  <% unless dedicated_alerts_ui_enabled %>
    <details class="float-right text-small dropdown ml-2 details-reset details-overlay pb-2">
      <summary class="btn-link">Dismiss</summary>
      <details-menu class="dropdown-menu dropdown-menu-sw" style="width:260px;">
        <% if alerts.count == 1 %>
          <%= button_to("A fix has already been started", vulnerability_alert_dismiss_path(
                        reason: "A fix has already been started"),
                        method: :put,
                        class: "btn-link dropdown-item text-small",
                        role: "menuitem"
                       ) %>
        <% end %>
        <%= button_to("This project is no longer maintained", vulnerability_alert_dismiss_path(
                      reason: "This project is no longer maintained"),
                      method: :put, class: "btn-link dropdown-item text-small",
                      role: "menuitem"
                     ) %>
        <%= button_to("No bandwidth to fix this", vulnerability_alert_dismiss_path(
                      reason: "No bandwidth to fix this"),
                      method: :put,
                      class: "btn-link dropdown-item text-small",
                      role: "menuitem"
                     ) %>
        <%= button_to("Risk is tolerable to this project", vulnerability_alert_dismiss_path(
                      reason: "Risk is tolerable to this project"),
                      method: :put,
                      class: "btn-link dropdown-item text-small",
                      role: "menuitem"
                     ) %>
        <% if alerts.count == 1 %>
          <%= button_to("This alert is inaccurate or incorrect", vulnerability_alert_dismiss_path(
                        reason: "This alert is inaccurate or incorrect"),
                        method: :put,
                        class: "btn-link dropdown-item text-small",
                        role: "menuitem"
                       ) %>
        <% end %>
        <%= button_to("Vulnerable code is not actually used", vulnerability_alert_dismiss_path(
                      reason: "Vulnerable code is not actually used"),
                      method: :put,
                      class: "btn-link dropdown-item text-small",
                      role: "menuitem"
                     ) %>
        <div role="none" class="dropdown-divider"></div>
        <a role="menuitem" href="<%= settings_user_notifications_path %>" class="dropdown-item text-small">Manage Dependabot alerts...</a>
      </details-menu>
    </details>
  <% end %>

  <% if alerts.count == 1 %>
    <h5 class="mb-1">
      <%= octicon "alert", height: 18,  class: "mr-1" %>We found a potential security vulnerability in one of your dependencies.
    </h5>
    <p>
      A dependency defined in
      <%= link_to_network_dependencies_from_alerts(alerts, class: "link-gray-dark text-bold") %>
      has known security vulnerabilities <span class="no-wrap">and should be updated</span>.
    </p>

  <% elsif alerts.count > 1 %>
    <h5 class="mb-1"><%= octicon "alert", height: 18,  class: "mr-1" %>We found potential security vulnerabilities in your dependencies.</h5>

    <% if dependencies_page %>
      <p>Dependencies defined in these manifest files have known security vulnerabilities and should be updated: </p>
      <ul class="list-style-none mb-2">
        <% alerts.group_by(&:vulnerable_manifest_path).each do |path, manifest_alerts| %>
          <li class="">
            <%= link_to_network_dependencies_from_path(path, class: "link-gray-dark text-bold") %>
            <em><%= pluralize(manifest_alerts.count, "vulnerability") %> found</em>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>
        Some of the dependencies defined in
        <%= link_to_network_dependencies_from_alerts(alerts, class: "link-gray-dark text-bold") %>
        have known security vulnerabilities <span class="no-wrap">and should be updated</span>.
      </p>

    <% end %>
  <% end %>

  <% if dedicated_alerts_ui_enabled %>
    <%= link_to "View Dependabot alerts", network_alerts_path, class: "btn mb-2", data: { octo_click: "see_all_alerts" } %>
  <% elsif !dependencies_page %>
    <a href="<%= network_dependencies_path %>" class="btn mb-2" data-octo-click="vuln_alert_review">Review vulnerable <%= "dependency".pluralize(alerts.count) %></a>
  <% end %>

  <p class="text-small">
    <% if current_repository.adminable_by?(current_user) && current_repository.owner.is_a?(Organization) %>
      Only users who have been granted
        <a href="<%= repository_alert_path %>">access to Dependabot alerts for this repository</a>
    <% else %>
      Only the owner of this repository
    <% end %>
    can see this message.
  </p>
</div>
