<%
  dependencies_page = (parent_page == "network/dependencies")
  alerts = current_repository.visible_vulnerability_alerts
  vulnerability = alerts.first.vulnerability
%>

<% GitHub.instrument("repository_vulnerability_alert.alert_seen", dimensions: {
        action: "view",
        user_id: current_user.id,
        repo_id: current_repository.id,
        vulnerability_id: vulnerability.id,
        view: parent_page
      }) %>

<div class="flash flash-warn mb-3 <%= "d-flex flex-justify-between flex-column flex-md-row flex-md-items-center" if responsive? %>">
  <% if !responsive? %>
    <div class="float-right">
      <a href="<%= network_alerts_path %>" class="btn mb-2 float-right" data-octo-click="vuln_alert_review">View Dependabot <%= "alert".pluralize(alerts.count) %></a>
    </div>
  <% end %>
  <div <% if responsive? %>class="flex-column mb-2 mb-md-0 mr-0 pr-md-4"<% end %>>
    <% if alerts.count == 1 %>
      <h5 class="mb-1">
        <%= octicon "alert", height: 18,  class: "mr-1" %>We found a potential security vulnerability in one of your dependencies.
      </h5>
    <% elsif alerts.count > 1 %>
      <h5 class="mb-1" style="display-inline"><%= octicon "alert", height: 18,  class: "mr-1" %>We found potential security vulnerabilities in your dependencies.</h5>
    <% end %>
    <p class="text-small">
      <% if current_repository.adminable_by?(current_user) && current_repository.owner.is_a?(Organization) %>
        You can see this message because you have been granted <a href="<%= repository_alert_path %>">access to Dependabot alerts for this repository</a>.
      <% else %>
        Only the owner of this repository can see this message.
      <% end %>
    </p>
  </div>
  <% if responsive? %>
    <div>
      <a href="<%= network_alerts_path %>" class="btn mt-2 mt-md-0" data-octo-click="vuln_alert_review">See Dependabot <%= "alert".pluralize(alerts.count) %></a>
    </div>
  <% end %>
</div>
