<div class="file-navigation mb-3 d-flex flex-items-start">
  <%= render :partial => "refs/list" %>

  <div class="flex-self-center ml-3 flex-self-stretch d-none d-lg-flex flex-items-center lh-condensed-ultra">
    <a data-pjax href="<%= branches_path(current_repository) %>" class="link-gray-dark no-underline">
      <% branch_count = current_repository.heads.size %>
      <%= render GitHub::OcticonComponent.new(icon: "git-branch", text: "gray") %>
      <strong><%= number_with_delimiter(branch_count) %></strong>
      <span class="text-gray-light"><%= "branch".pluralize(branch_count) %></span>
    </a>
    <a data-pjax href="<%= tags_path(current_repository.owner, current_repository) %>" class="ml-3 link-gray-dark no-underline">
      <%= render GitHub::OcticonComponent.new(icon: "tag", text: "gray") %>
      <strong><%= number_with_delimiter(view.release_count) %></strong>
      <span class="text-gray-light"><%= "tag".pluralize(view.release_count) %></span>
    </a>
  </div>

  <div class="flex-auto"></div>

  <%= link_to tree_find_path(current_repository.owner, current_repository, tree_name),
    class: class_names(
      "btn ml-2",
      "d-none d-md-block" => logged_in?
    ),
    data: find_file_data_attributes(current_repository) do %>
    Go to file
  <% end %>

  <% if logged_in? %>
    <%
      dropdown_view = create_view_model(Files::NewFileActionView, {
          :repo => current_repository,
          :tree_name => tree_name
        })
    %>
    <%= render Primer::DetailsComponent.new(overlay: :default, button: :reset, position: :relative, display: dropdown_view.new_file_action_enabled? ? "block" : ["block", nil, "none"]) do |component| %>
      <% component.with(:summary) do %>
        <span class="ml-2 btn d-none d-md-flex flex-items-center">
          Add file
          <span class="dropdown-caret ml-1"></span>
        </span>
        <span class="ml-2 btn d-inline-block d-md-none">
          <%= render GitHub::OcticonComponent.new(icon: "kebab-horizontal", "aria-label": "More options") %>
        </span>
      <% end %>
      <% component.with(:body) do %>
        <ul class="dropdown-menu dropdown-menu-sw">
          <li class="d-block d-md-none">
            <%= link_to tree_find_path(current_repository.owner, current_repository, tree_name),
              class: "dropdown-item",
              data: find_file_data_attributes(current_repository) do %>
              Go to file
            <% end %>
          </li>
          <% if dropdown_view.new_file_action_enabled? %>
            <li class="d-block d-md-none dropdown-divider" role="none"></li>
            <%= render "files/new_file_button", view: dropdown_view %>
            <%= render "files/upload_files_button", view: dropdown_view %>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>


  <% if !current_repository.offline? && !current_repository.empty? %>
    <%
      view = Repositories::ProtocolSelectorView.new(
        :context => :repo_header,
        :repository => current_repository,
        :user => current_user
      )
    %>

    <span class="<%= class_names(
        "d-none d-md-flex",
        "ml-2" => !mobile?
      ) %>">
      <% unless mobile? %>
        <%= render :partial => "files/open_in_dropdown", :locals => { view: view, ref: tree_name } %>
      <% end %>

      <%= render partial: "files/use_this_template_button", locals: { view: view } %>
    </span>
  <% end %>
</div>
