<% if show_use_this_template_button?(current_repository) %>
  <%= link_to "Use this template", clone_template_repository_path(current_repository.owner, current_repository),
    class: class_names(
      "btn",
      "btn-primary",
      "ml-2")
  %>
<% end %>
