<%
  full_page_title view.page_title
  page_info \
    selected_link: :repo_source,
    container_xl: true,
    canonical_url: repository_url(current_repository, current_ref, path_string),
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% content_for :responsive_meta do %>
  <div class="d-block d-md-none mb-2 px-3 px-md-4 px-lg-5">
    <% if view.show_description? %>
      <p class="f4 mb-3">
        <%= view.formatted_description %>
      </p>
    <% end %>
    <% if view.show_website? %>
      <div class="mb-2 d-flex flex-items-center">
        <%= render GitHub::OcticonComponent.new(icon: "link", mr: 2, classes: "flex-shrink-0") %>
        <span class="flex-auto min-width-0 css-truncate css-truncate-target width-fit">
          <%= safe_link_to(view.website.downcase.sub(/https?:\/\//, "").strip, view.website, title: view.website, role: "link", target: "_blank", class: "text-bold") || view.website %>
        </span>
      </div>
    <% end %>
    <% if view.show_open_source_license? %>
      <div class="mb-2">
        <a href="<%= preferred_file_path(type: :license, repository: current_repository) %>" class="muted-link">
          <%= render GitHub::OcticonComponent.new(icon: "law", mr: 1) %>
          <% if current_repository.license.other? %>
            View license
          <% else %>
            <%= current_repository.license.spdx_id %> License
          <% end %>
        </a>
      </div>
    <% end %>
    <div class="mb-3">
      <%= link_to gh_stargazers_path(current_repository), class: "link-gray no-underline mr-3" do %>
        <%= render GitHub::OcticonComponent.new(icon: :star, mr: 1) %>
        <span class="text-bold"><%= social_count current_repository.stargazer_count %></span>
        <%= "star".pluralize(current_repository.stargazer_count) %>
      <% end %>
      <%= link_to gh_fork_network_path(current_repository), class: "link-gray no-underline" do %>
        <%= render GitHub::OcticonComponent.new(icon: :"repo-forked", mr: 1) %>
        <span class="text-bold"><%= social_count current_repository.network_count %></span>
        <%= "fork".pluralize(current_repository.network_count) %>
      <% end %>
    </div>
    <div class="d-flex">
      <div class="flex-1 mr-2">
        <%= render(Stars::ButtonComponent.new(
            entity: current_repository,
            button_block: true,
            context: "repository"
          )) %>
      </div>
      <div class="flex-1">
        <%= render(Repositories::WatchComponent.new(
            repository: current_repository,
            button_block: true,
            status: subscription_status
          )) %>
      </div>
    </div>
  </div>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>

  <div class="d-none d-lg-block mt-6 mr-3 Popover top-0 right-0 box-shadow-medium col-3">
    <%= render(Dashboard::Sponsors::EligibleOrgsBannerComponent.new(repo: current_repository)) %>
  </div>

  <%= render "files/signup_prompt", source: "prompt-code" %>

  <% if view.blocked_contributors.any? %>
    <%= render partial: "files/blocked_contributors", locals: { view: view } %>
  <% end %>

  <%= render(Primer::LayoutComponent.new(responsive: true)) do |component| %>
    <% component.with(:sidebar) do %>
      <%= render(Repositories::ConfigurationRepositoryCallToActionComponent.new(
        user: current_user,
        repository: current_repository,
        tree_name: tree_name)) %>

      <div class="BorderGrid BorderGrid--spacious" data-pjax>
        <div class="BorderGrid-row hide-sm hide-md">
          <div class="BorderGrid-cell">
            <%= render partial: "files/sidebar/about", locals: { view: view } %>
          </div>
        </div>
        <% if view.releases_sidebar_section_enabled? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/releases", locals: { view: view } %>
            </div>
          </div>
        <% end %>
        <% if current_repository.show_sponsor_button? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/sponsors", locals: { view: view } %>
            </div>
          </div>
        <% end %>
        <% if view.show_packages_sidebar? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/packages", locals: { view: view } %>
            </div>
          </div>
        <% end %>
        <% if view.show_used_by_sidebar? && !hide_used_by_section? %>
          <div class="BorderGrid-row" <%= "hidden" if read_fragment(used_by_sidebar_cache_key).nil? %>>
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/used_by", locals: { view: view } %>
            </div>
          </div>
        <% end %>
        <% if view.contributor_count > 1 %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/contributors", locals: { count: view.contributor_count } %>
            </div>
          </div>
        <% end %>
        <% if view.show_environments_sidebar? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/environments", locals: { environments: current_repository.ranked_deployment_environments } %>
            </div>
          </div>
        <% end %>
        <% if view.show_languages? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/languages", locals: { view: view } %>
            </div>
          </div>
        <% end %>
        <% if view.show_community_profile? %>
          <div class="BorderGrid-row">
            <div class="BorderGrid-cell">
              <%= render partial: "files/sidebar/community", locals: { view: view } %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% component.with(:main) do %>
      <% if view.show_interaction_limits_banner? %>
        <%= render partial: 'community/org_interaction_limits_banner', locals: { data: view.repository_data } %>
      <% end %>

      <% if view.show_publish_action_banner? %>
        <div class="flash mb-3 d-flex flex-justify-between flex-items-center js-notice">
          <div class="flex-auto">
            <h5 class="d-inline mb-1"><%= octicon "play", height: 18, class: "mr-1" %> Publish this Action to Marketplace</h5>
            <p class="text-small">Make your Action discoverable on GitHub Marketplace and in GitHub search.</p>
          </div>
          <%= link_to "Draft a release", new_release_path_helper(query_params: { marketplace: true }), class: "btn btn-sm" %>
          <%= form_tag dismiss_notice_path(UserNotice::PUBLISH_ACTION_FROM_REPO_NOTICE), class: "js-notice-dismiss ml-3" do %>
            <button type="submit" class="btn-link text-gray" aria-label="Dismiss"><%= octicon("x") %></button>
          <% end %>
        </div>
      <% end %>

      <% if view.show_use_action_banner? %>
        <div class="flash mb-3 d-flex flex-justify-between flex-items-center">
          <div class="flex-auto">
            <h5 class="d-inline mb-1"><%= octicon "play", height: 18, class: "mr-1" %> Use this GitHub Action with your project</h5>
            <p class="text-small">Add this Action to an existing workflow or create a new one.</p>
          </div>
          <%= link_to "View on Marketplace", marketplace_action_path(slug: view.action_slug), data: view.action_link_hydro_attrs, class: "btn btn-sm" %>
        </div>
      <% end %>

      <% if current_repository.show_vulnerability_alerts_banner?(current_user) %>
        <% if GitHub.dedicated_alerts_ui_enabled? %>
          <%= render partial: "files/security_alert_banner", locals: { parent_page: "files/overview" } %>
        <% else %>
          <%= render partial: "files/dependency_alert", locals: { commit: commit, parent_page: "files/overview" } %>
        <% end %>
      <% end %>

      <% if logged_in? %>
        <include-fragment src="<%= show_partial_tree_path(:partial => "tree/recently_touched_branches_list") %>"></include-fragment>
      <% end %>

      <%= render :partial => "files/toolbar", :locals => { :view => view } %>

      <%= render :partial => "files/directory", :locals => { repository_data: view.repository_data, tag_count: view.release_count } %>
    <% end %>
  <% end %>
<% end %>
