<%= render layout: "shared/details_dialog", locals: {
  button_class: "btn btn-sm mt-1",
  button_text: "Redeliver",
  details_class: "floar-right",
  title: "Redeliver payload?",
  sudo_required: "low"
} do %>
  <% redelivery_path = redeliver_hook_delivery_path(hook, delivery_view.delivery_guid) %>
  <%= form_tag redelivery_path,
      class: "js-redeliver-hook-form redelivery-dialog" do %>
    <div class="flash-full flash flash-warn">
      <p class="pending-message">The payload will be delivered to <em><%= hook.url %></em> using the current webhook configuration.</p>
      <p class="failure-message">Oops, there was an error while trying to redeliver this payload.</p>
    </div>
    <div class="Box-footer">
      <button type="submit" class="btn btn-block" data-disable-with="Delivering payload…">Yes, redeliver this payload</button>
    </div>
  <% end %>
<% end %>
