<div class="subnav" data-pjax>

  <div class="float-left pl-2">
    <% value = hook_deliveries_query.blank? ? "" : "#{hook_deliveries_query.rstrip} " %>
    <%= form_tag url_for(:deliveries_q => hook_deliveries_query), :method => :get, :class => "ml-0 subnav-search float-left position-relative", :"data-pjax" => true, role: "search", "aria-label": "Hook deliveries" do %>
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
        <%= text_field_tag :deliveries_q, value,
          id: "js-issues-search",
          class: "form-control subnav-search-input input-contrast",
          placeholder: "Search hook deliveries",
          autocomplete: "off",
          "aria-label": "Search deliveries",
          "data-hotkey": global_search_hotkey %>
      </text-expander>
      <%= octicon("search", class: "subnav-search-icon") %>
      <% unless GitHub.enterprise? %>
        <a href="https://githubber.com/article/technology/dotcom/hooks#filtering-webhook-deliveries-in-the-stafftools-ui"><%= octicon('info') %> Learn more about filtering webhook deliveries.</a>
      <% end %>
    <% end %>
  </div>
</div>

<% if hook_deliveries_query.present? %>
  <div class="issues-reset-query-wrapper">
    <a href="<%= url_for %>" class="issues-reset-query">
      <%= octicon("x", class: "issues-reset-query-icon") %>
      Clear current search
    </a>
  </div>
<% end %>
