<%# erblint:disable LandmarkHasLabel %>
<% if delivery_view.has_response? %>
  <div class="tabnav">
    <div class="float-right">
      <div class="tabnav-extra">
        <%= octicon('clock') %>
        Completed in <%= pluralize delivery_view.duration, 'second' %>.
      </div>
    </div>
    <% unless delivery_view.payload_empty? %>
      <%= render :partial => "hook_deliveries/redeliver_button", :locals => {:hook => current_hook, :delivery_view => delivery_view} %>
    <% end %>

    <nav class="tabnav-tabs" role="tablist">
      <button type="button" role="tab" class="tabnav-tab" aria-selected="true">Request</button>
      <button type="button" role="tab" class="tabnav-tab" aria-selected="false">
        <span class="hook-delivery-response-status Counter float-right" data-response-status="<%= delivery_view.response_status %>"><%= delivery_view.response_status %></span>
        Response
      </button>
    </nav>
  </div>

  <div role="tabpanel">
    <label>Headers</label>
    <%= pre_ignoring_indentation do %>
      <% if delivery_view.can_view_url? %><strong>Request URL:</strong> <%= delivery_view.url %><% end %>
      <strong>Request method:</strong> POST
      <%= delivery_view.request_headers_html(delivery_view) %>
    <% end %>

    <label>Payload</label>
    <%= delivery_view.highlighted_delivery_payload %>
  </div>

  <div role="tabpanel" hidden>
    <% if delivery_view.connection_error?(delivery_view) %>
      <p>We had a problem connecting to the server. The most common problem with these types of errors is a misconfigured SSL certificate. Try <a href="<%= delivery_view.ssl_verification_url %>">verifying your certificate chain</a>.
      </p>
    <% else %>
      <label>Headers</label>
      <pre><%= delivery_view.response_headers_html(delivery_view) %></pre>

      <label>Body</label>
      <%= delivery_view.delivery_response_body(delivery_view) %>
    <% end %>
  </div>
<% else %>
  <div class="tabnav">
    <% unless delivery_view.payload_empty? %>
      <%= render :partial => "hook_deliveries/redeliver_button", :locals => {:hook => current_hook, :delivery_view => delivery_view} %>
    <% end %>

    <nav class="tabnav-tabs" role="tablist">
      <button type="button" class="tabnav-tab" aria-selected="true" role="tab">Request</button>
    </nav>
  </div>

  <div role="tabpanel">
    <p class="flash flash-warn">
      We couldn’t deliver this payload: <strong><%= delivery_view.hook_response %></strong>
    </p>

    <label>Payload</label>
    <%= delivery_view.highlighted_delivery_payload %>
  </div>
<% end %>
