<%# rubocop:disable Lint/InstanceVariable %>
<tab-container class="hook-delivery-container" >
  <% if current_hook.webhook? %>
    <%= render :partial => "hook_deliveries/webhook_delivery", :locals => {:delivery_view => @delivery_view} %>
  <% else %>
    <%# TODO do we even have service deliveries/non webhooks anymore %>
    <%= render :partial => "hook_deliveries/service_delivery", :locals => {:delivery_view => @delivery_view} %>
  <% end %>
</tab-container>
