<%# erblint:disable LinkHasHref %>
<div class="project-pane js-project-pane js-project-card-details-pane d-none border-left border-bottom position-relative bottom-0 top-0 right-0 bg-white overflow-auto ws-normal hide-sm height-full width-full project-touch-scrolling">
  <template class="js-project-card-details-loader-template">
    <div class="d-flex flex-auto flex-column">
      <div class="p-3 d-flex f4 lh-condensed project-comment-title-hover border-bottom">
        <div class="pr-2 flex-shrink-0 js-project-card-details-loader-octicon"></div>
        <div class="flex-auto overflow-hidden lh-default">
          <a href="#" class="link-gray-dark js-project-card-details-external-link" target="_blank" rel="noopener">
            <span class="text-bold js-issue-title"></span>
            <span class="text-gray-light js-issue-number"></span>
          </a>

          <div class="text-small pt-1">
            <span class="text-gray-light">Opened in</span>
            <a href="#" class="text-gray text-bold js-issue-repository"></a>
          </div>
        </div>
        <div class="d-flex flex-shrink-0">
          <div class="v-hidden">
            <button type="button" class="mr-2 px-2 btn-link comment-action muted-link" aria-expanded="false"><%= octicon("pencil") %></button>
          </div>
          <div>
            <button class="btn-link project-pane-close js-hide-project-menu js-hide-project-card-details" aria-label="Hide details" type="button">
              <%= octicon("x") %>
            </button>
          </div>
        </div>
      </div>

      <div class="flex-auto d-flex flex-column flex-items-center pt-4 js-project-card-details-loader">
        <%= image_tag "spinners/octocat-spinner-64.gif", size: "32x32", alt: "" %>
        <br>
        Loading details…
      </div>

      <div class="flex-auto d-none d-flex flex-column flex-items-center pt-4 js-project-card-details-error">
        Failed to load details.
        <br>
        <button type="button" class="btn-link js-project-card-details-retry">Retry</button>
      </div>

      <div class="border-top flex-shrink-0 text-center p-3 box-shadow-medium">
        <a href="#" class="btn btn-outline width-full js-project-card-details-external-link" target="_blank" rel="noopener">
          <span class="pr-1">Go to <span class="js-issue-type"></span> for full details</span>
          <%= octicon("link-external") %>
        </a>
        <button type="button" class="btn width-full mt-2 disabled" disabled>
          <span class="js-issue-state"></span> <span class="js-issue-type"></span>
        </button>
      </div>
    </div>
  </template>
  <template class="js-project-card-details-back-template">
    <button class="btn-link link-gray mr-2 js-project-card-details-back-link js-hide-project-card-details" aria-label="Hide details" type="button">
      <%= octicon("chevron-left") %>
    </button>
    Back to <span class="js-project-card-details-back-to-title"></span>
  </template>
  <div class="d-flex flex-column height-full">
    <div class="py-2 border-bottom bg-gray flex-shrink-0 d-none js-project-card-details-header">
      <button class="btn-link position-absolute top-0 right-0 pt-2 pr-3 pb-1 link-gray js-hide-project-menu js-hide-project-card-details" aria-label="Hide details" type="button">
        <%= octicon("x") %>
      </button>
      <h4 class="pl-3 f5 js-project-card-details-back-container"></h4>
    </div>
    <div class="d-flex flex-column flex-auto js-project-card-details"></div>
  </div>
</div>
