<%graphql
  fragment Root on Query {
    viewer {
      pendingMarketplaceInstallations(first: 25) {
        nodes {
          ...Views::Marketplace::PendingInstallations::PendingInstallation::PendingInstallation
        }
      }
    }
    ...Marketplace::SideNavView::Query::Root
  }
%>

<%
  data = Views::Marketplace::PendingInstallations::Index::Root.new(data)
  pending_installations = data.viewer&.pending_marketplace_installations&.nodes
%>

<% page_info \
  title: "Pending installations · GitHub Marketplace",
  container_xl: true,
  richweb: {
    title: "Pending installations - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive clearfix">
  <div class="py-3 mb-5">
    <%= render(Primer::BreadcrumbComponent.new) do |component| %>
      <% component.slot(:item, href: marketplace_path) do %>Marketplace<% end %>
      <% component.slot(:item, selected: true) do %>Pending installations<% end %>
    <% end %>
  </div>
</div>

<div class="container-lg p-responsive clearfix">
  <div class="col-9 float-lg-right">
    <%= render partial: "marketplace/search_bar", locals: { data: data } %>
  </div>

  <%= render_partial_view "marketplace/side_nav", Marketplace::SideNavView, data: data, viewing_pending_installations: true %>

  <div class="col-lg-9 mt-1 mb-4 float-lg-right">
    <% if pending_installations&.any? %>
      <h2>Pending installations</h2>

      <p class="text-gray mb-4">
        We noticed you’ve purchased some apps but didn't finish installing them. You can
        review and install them below.
      </p>

      <% pending_installations.each do |pending_installation| %>
        <%= render partial: "marketplace/pending_installations/pending_installation", locals: { pending_installation: pending_installation } %>
      <% end %>
    <% else %>
      <div class="blankslate">
        <h3>No pending Marketplace installations.</h3>
        <%= link_to "Explore and find tools to improve your workflow.", marketplace_path %>
      </div>
    <% end %>
  </div>

</div>

<%= render "marketplace/submit_app_cta" %>
