<%
  sponsors_listing = sponsorable.sponsors_listing
  sponsors_membership = sponsorable.sponsors_membership
  stripe_eligible = sponsors_membership.eligible_for_stripe_connect?
  stripe_connect_account = sponsors_listing.stripe_connect_account
  billing_country = if stripe_eligible && stripe_connect_account
    stripe_connect_account.billing_country
  elsif sponsors_membership
    sponsors_membership.full_billing_country
  end
  in_matching_fund = sponsors_listing.matchable? || sponsors_listing.reached_match_limit?
  column_size_class = in_matching_fund ? "col-md-8 mr-md-3" : "col-12"
%>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :payouts } do %>
  <div class="Subhead d-flex flex-items-center">
    <div class="Subhead-heading">Payouts overview</div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <% if stripe_eligible %>
      <div class="<%= column_size_class %> d-flex box-shadow rounded-1" style="border: 1px solid #e6dcfd">
        <div class="col-md-6 p-3">
          <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle bg-purple-1 text-purple mb-3">
            <%= octicon "clock", width: 16, height: 16 %>
          </div>
          <%= render Sponsors::Payouts::LastPayoutComponent.new(sponsorable: sponsorable, payout: payout) %>
        </div>
        <div class="col-md-6 p-3">
          <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle bg-purple-1 text-purple mb-3">
            <%= octicon "clock", width: 16, height: 16 %>
          </div>
          <div class="js-fetch-stripe-details" data-url="<%= sponsorable_dashboard_payouts_balance_path(sponsorable) %>">
            <%= render Sponsors::Payouts::NextPayoutComponent.new(sponsorable: sponsorable) %>
          </div>
        </div>
      </div>
      <% if in_matching_fund %>
        <div class="col-md-4 rounded-1 box-shadow p-3" style="border: 1px solid #fedbf0">
          <div class="d-flex flex-justify-center flex-items-center circle bg-pink-1 text-pink mb-3" style="width:32px; height:32px">
            <span class="text-bold text-small">2x</span>
          </div>
          <%= render Sponsors::Payouts::MatchingFundStatusComponent.new(sponsorable: sponsorable) %>
        </div>
      <% end %>
    <% else %>
      <p>For a list of transactions, view your bank statements.</p>
    <% end %>
  </div>

  <div class="Subhead d-flex flex-items-center pt-6">
    <div class="Subhead-heading">Payouts information</div>
  </div>
  <div class="d-flex">
    <div class="col-md-6 mr-6">
      <p class="text-gray-light text-small text-uppercase">Payout bank country or region</p>
      <p class="text-bold">
        <%= billing_country.blank? ? "N/A" : billing_country %>
      </p>
      <% if stripe_eligible %>
        <a href="<%= new_sponsorable_stripe_account_path(sponsorable) %>">
          Edit your bank information <%= octicon("link-external") %>
        </a>
      <% else %>
        <p>
          If you’d like to change your bank information, please
          <a href="https://support.github.com/contact?form%5Bsubject%5D=GitHub%20Sponsors:%20Update%20bank%20information&tags=sponsors">
            contact support
          </a>
        </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <p class="text-gray-light text-small text-uppercase">Questions?</p>
      <a href="<%= "#{GitHub.help_url}/articles/about-github-sponsors" %>">Read our payments FAQ</a>
    </div>
  </div>
<% end %>
