<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment TeamFragment on Team {
    name
    moveChildTeamResourcePath
    childSearchResourcePath
    importantChangesSummaryResourcePath
    newChildTeamResourcePath

    outboundRequests: pendingTeamChangeParentRequests(first: $firstRequests, direction: OUTBOUND_PARENT_INITIATED) @include(if: $isMaintainer) {
      totalCount
      edges {
        node {
          cancelResourcePath
          requestedTeam {
            name
          }
        }
      }
    }
  }
%>

<%
  graphql_team = Views::Orgs::Teams::AddChildFormModal::TeamFragment.new(team)
%>

<div class="js-add-team-container">
  <div class="js-add-child-team-loading-state width-full text-center mt-3" hidden>
    <%= image_tag "spinners/octocat-spinner-128.gif", :size => "64x64", :alt => "" %>
  </div>

  <div class="js-add-child-team-modal-content">
    <%= form_tag graphql_team.move_child_team_resource_path.to_s, method: :put,
          class: "input-block js-add-child-team-form",
          'data-change-parent-summary-path' => graphql_team.important_changes_summary_resource_path do %>

      <div class="js-add-team-search m-3">
        <div class="text-center">
          <%= octicon("jersey", height: 32, class: "text-gray") %>
          <h1 class="add-to-org-title mt-3 pb-2">Add a team to <strong><%= graphql_team.name %></strong></h1>
          <p class="text-gray mb-0">
            Teams will become a child of <%= graphql_team.name %>.
            <%= link_to 'Learn more', "#{GitHub.help_url}/articles/requesting-to-add-a-child-team/" %>
          </p>
        </div>

        <auto-complete class="auto-search-group d-block mt-4 js-add-child-team-completer" src="<%= graphql_team.child_search_resource_path %>" for="child-team-results">
          <input
            type="text"
            name="child_team[id]"
            autofocus
            required
            class="form-control input-block input-contrast auto-search-input"
            aria-label="Search by team name or create a new team"
            placeholder="Search by team name or create a new team">
          <%= octicon("jersey") %>
          <ul id="child-team-results" class="invite-member-results autocomplete-results"></ul>
        </auto-complete>
      </div>

      <div class="js-add-team-warning"></div>
    <% end %>
  </div>
</div>

<% if graphql_team.outbound_requests.total_count > 0 %>
  <div class="overflow-auto">
    <h5 class="ml-3 mt-4 mb-2">Pending approval</h5>
    <div class="Box mx-3 mb-3">
      <ul class="ml-0 mb-0 p-0">
        <% graphql_team.outbound_requests.edges.each do |request_edge| %>
          <% request = request_edge.node %>
          <li class="Box-row d-flex flex-items-center flex-justify-between">
            <strong>
              <%= request.requested_team.name %>
            </strong>
            <%= button_to "Cancel", request.cancel_resource_path.to_s,
              method: "delete",
              class: "btn btn-sm",
              form_class: "BtnGroup-parent"
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
