<%# `view` is an instance of Orgs::Teams::ChangeTeamsVisibilityDialogView %>
<% teams = view.teams_to_change_visibility %>
<details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column confirm-removal-container">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Change visibility of teams</h3>
  </div>

  <% if view.cant_change_visibility_for_all_teams? %>
    <div class="flash flash-warn flash-full">
      At this time, the visibility of teams with parents or children cannot be changed. To change the visibility of these teams, first remove their children and remove them from their parents.
    </div>
  <% end %>

  <%= form_tag teams_set_visibility_path, method: :put, class: "overflow-auto" do %>
    <div class="Box-body">
      <% if teams.size > 0 %>
        <p>The visibility of the following teams will be changed:</p>
        <div class="confirm-removal-list-container">
          <ul class="list-style-none">
            <% teams.each do |team| %>
              <li class="confirm-removal-list-item">
                <%= team.name %>
              </li>
            <% end %>
          </ul>
        </div>

        <p>Select a new visibility</p>
        <div class="form-group">
          <div>
          <div class="form-checkbox">
            <label>
              <input name="privacy" type="radio" value="closed" required>
              Visible <span class="Label Label--outline">Recommended</span>
            </label>
            <p class="note">
            A visible team can be seen and <a href="<%= GitHub.blog_url %>/2012-05-09-introducing-team-mentions/">@mentioned</a> by every member of this organization.
            </p>
          </div>
          </div>
          <div>
          <div class="form-checkbox">
            <label>
              <input name="privacy" type="radio" value="secret" required>
              Secret
            </label>
            <p class="note">
            A secret team can only be seen by its members.
            </p>
          </div>
          </div>
        </div>
      </div>

      <div class="Box-footer">
        <% teams.each do |team| %>
          <input type="hidden" name="team_ids[]" value="<%= team.id %>">
        <% end %>
        <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>
          Change visibility of <%= teams.size > 1 ? "these teams" : "this team" %>
        </button>
      </div>
    <% end %>
  <% end %>
</details-dialog>
