<%graphql
   fragment Team on Team {
     childTeamsResourcePath
     childTeams(first: $first, after: $after, orderBy: { field: NAME, direction: ASC }) {
       pageInfo {
         endCursor
         hasNextPage
       }
       edges {
         node {
           ...Views::Orgs::Teams::Team::Team
         }
       }
     }
   }
 %>

<%
  graphql_team = Views::Orgs::Teams::ChildTeams::Team.new(graphql_team)
  child_teams = graphql_team.child_teams.edges
  page_info = graphql_team.child_teams.page_info
%>

<% if child_teams.present? %>
  <% child_teams.each do |g_child_team| %>
    <%=
      g_child_team = g_child_team.node
      render_partial_view "orgs/teams/team", Orgs::Teams::TeamView, {
        indent_level: child_indent,
        parent_team_slug: parent_team_slug,
        graphql_team: g_child_team,
        show_bulk_actions: show_bulk_actions,
      }
    %>
  <% end %>

  <% if page_info.has_next_page %>
    <li class="table-list-item js-team-row js-child-team" data-parent-team-slug="<%= parent_team_slug %>">
      <div class="team-show-more-cell table-list-cell d-block text-center bg-gray-light">
        <span data-child-team-url="<%= "#{graphql_team.child_teams_resource_path}?parent_team_slug=#{parent_team_slug}&parent_indent=#{parent_indent}&after=#{page_info.end_cursor}" %>" class="d-inline-block p-1 btn-link no-underline js-show-more-child-teams" <%= test_selector("team-show-more") %>>
          Show more teams
        </span>
      </div>
    </li>
  <% end %>
<% end %>
