<%# `view` is an instance of Orgs::Teams::DeleteTeamsDialogView %>

<details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column confirm-removal-container">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Delete teams</h3>
  </div>
  <div class="flash flash-warn flash-full">
    <%= view.delete_teams_text %>
  </div>

  <% if view.selected_teams.size > 0 %>
    <div class="Box-body overflow-auto">
      <p>The following teams will be deleted:</p>
      <div class="confirm-removal-list-container">
        <ul class="list-style-none">
          <% view.selected_teams.each do |team| %>
            <li class="confirm-removal-list-item">
              <%= team.name %>
              <% if team.descendants.any? %>
                and <%= link_to "#{pluralize team.descendants.count, "child team", "child teams"}", team_teams_path(team) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="Box-footer">
      <%= form_tag view.destroy_teams_path, method: :delete do %>
        <% view.selected_teams.each do |team| %>
          <input type="hidden" name="team_ids[]" value="<%= team.id %>">
        <% end %>
        <button type="submit" class="btn btn-block btn-danger">
          I understand, delete <%= view.selected_teams.size > 1 ? "these teams" : "this team" %>
        </button>
      <% end %>
    </div>
  <% end %>
</details-dialog>
