<%# rubocop:disable GraphQL/Overfetch %>
<%# `view` is an instance of Orgs::Teams::FormView %>

<%graphql
  fragment Team on Team {
    slug
    resourcePath
    hasChildTeams
    childTeams(first: 20) {
      edges {
        node {
          name
          teamsResourcePath
          hasChildTeams
          childTeams {
            totalCount
          }
        }
      }
    }
  }
%>
<% team = Views::Orgs::Teams::DeleteTeamDialog::Team.new(view.team) %>

<% if view.show_specific_destruction_warnings %>
  <div class="flash flash-warn flash-full"><%= view.destruction_warnings %></div>

  <% if team.has_child_teams? %>
    <ul class="list-style-none overflow-auto Box m-3">
    <% team.child_teams.edges.map(&:node).each do |child| %>
      <li class="Box-row">
        <%= child.name %>
        <% if child.has_child_teams? %>
          and <%= link_to "#{pluralize child.child_teams.total_count, "child team"}", child.teams_resource_path.to_s %>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  <div class="flash flash-full flash-warn">
    Once deleted, it will be gone forever.
  </div>
<% end %>

<div class="Box-footer">
  <%= form_tag team.resource_path.to_s, :method => :delete do %>
    <button type="submit" class="btn btn-block btn-danger">
      I understand, delete this team
    </button>
  <% end %>
</div>
