<%graphql
  fragment Team on Team {
    membersResourcePath
    viewerCanAdminister
    hasLdapMapping
    locallyManaged
    ...Views::Orgs::TeamMembers::BulkDestroyMembersModal::Team
  }
%>

<% team = Views::Orgs::Teams::MembersToolbarActions::Team.new(team) %>

<% if selected_team_members.any? %>
  <details class="details-overlay details-reset">
    <summary class="btn btn-sm mr-3" data-ga-click="Teams, selected, location:team member list bulk; text:selected">
      <%= pluralize selected_team_members.count, 'member', 'members' %> selected
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se">
      <% if team.viewer_can_administer %>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary
            class="dropdown-item"
            role="menuitem"
            data-ga-click="Teams, change role, location:team member list bulk; text:Change role">
            Change role…
          </summary>
          <%= render "orgs/team_members/change_role_modal",
            members: selected_team_members,
            member_ids: selected_team_members.map(&:id)
          %>
      </details>
      <% end %>
      <% if !team.has_ldap_mapping && team.viewer_can_administer && team.locally_managed %>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary
            class="dropdown-item"
            role="menuitem"
            data-ga-click="Teams, remove team member, location:team member list bulk; text:Remove from team">
            Remove from team…
          </summary>
          <%= render "orgs/team_members/bulk_destroy_members_modal",
            members: selected_team_members,
            team: team,
            redirect_to_path: team.members_resource_path.to_s
          %>
      </details>
      <% end %>
    </details-menu>
  </details>
<% end %>
