<%# `view` is an instance of Orgs::Teams::TeamsPageView %>
<%graphql
  fragment on Team {
    inboundParentRequests: pendingTeamChangeParentRequests(first: $first, direction: INBOUND_PARENT_INITIATED) @include(if: $isMaintainer) {
      ...Views::Orgs::Teams::InboundRequests
    }
    inboundChildRequests: pendingTeamChangeParentRequests(first: $first, direction: INBOUND_CHILD_INITIATED) @include(if: $isMaintainer) {
      ...Views::Orgs::Teams::InboundRequests
    }
  }
%>
<% team = Views::Orgs::Teams::PendingTeamRequestsModal.new(view.graphql_team) %>
<div class="text-center px-3 pt-3">
  <%= octicon('jersey', :height => '32', :class => 'text-gray') %>
  <h1 class="add-to-org-title mt-3 pb-2">Pending team requests</h1>
</div>

<%= render 'orgs/teams/inbound_requests', collection: team.inbound_parent_requests, prompt: 'Teams requesting to become the parent team', view: view %>
<%= render 'orgs/teams/inbound_requests', collection: team.inbound_child_requests, prompt: 'Teams requesting to become a child team', view: view %>
