<%# `view` is an instance of Orgs::Teams::ToolbarActionsView %>
<% selected_teams ||= view.selected_teams %>
<% if selected_teams.any? %>
  <details class="details-overlay details-reset">
    <summary class="btn btn-sm mr-3" data-ga-click="Orgs, selected, location:team list bulk; text:selected">
      <%= pluralize view.selected_teams.count, 'team' %> selected
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se">
      <% if view.show_change_visibility_button? %>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="dropdown-item" role="menuitem" data-ga-click="Orgs, change team visibility, location:team list bulk; text:Change visibility">Change visibility…</summary>
          <%= render_partial_view "orgs/teams/change_teams_visibility_dialog",
                Orgs::Teams::ChangeTeamsVisibilityDialogView,
                organization: view.organization,
                selected_teams: view.selected_teams
          %>
        </details>
      <% end %>
      <% if view.show_remove_button? %>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="dropdown-item" role="menuitem" data-ga-click="Orgs, delete team, location:team list bulk; text:Delete">Delete…</summary>
          <%= render_partial_view "orgs/teams/delete_teams_dialog",
                Orgs::Teams::DeleteTeamsDialogView,
                organization: view.organization,
                selected_teams: view.selected_teams,
                destroy_teams_path: view.destroy_teams_path
          %>
        </details>
      <% end %>
    </details-menu>
  </details>
<% else %>
  <label for="select-all-checkbox" class="table-list-header-meta py-1">
    <span class="none-selected">Select all</span>
  </label>
<% end %>
