<% if show_team_settings_sidebar? %>
  <% menu_items = team_settings_options(org_login: org_login, team_slug: team_slug, selected: selected) %>
  <nav class="UnderlineNav UnderlineNav--full d-md-none mb-2" aria-label="Team settings">
    <div class="UnderlineNav-container">
      <div class="UnderlineNav-body p-responsive overflow-auto">
        <% menu_items.each do |name, args| %>
          <a class="<% if args[:selected] %>selected<% end %> UnderlineNav-item flex-shrink-0" href="<%= args[:url] %>"><%= name %></a>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="p-responsive d-flex flex-wrap container-lg px-md-2 mt-md-4">
    <div class="d-none d-md-block d-flex col-12 col-md-3 px-md-2">
      <nav class="menu border" aria-label="Team settings">
        <h3 class="menu-heading">Team settings</h3>
        <% menu_items.each do |name, args| %>
          <a class="<% if args[:selected] %>selected<% end %> menu-item" href="<%= args[:url] %>"><%= name %></a>
        <% end %>
      </nav>
    </div>
    <div class="col-12 col-md-9 px-2 pt-2 pt-3 pt-md-0">
      <%= yield %>
    </div>
  </div>
<% else %>
  <div class="p-responsive d-flex flex-wrap container-lg px-md-2 mt-md-4">
    <%= yield %>
  </div>
<% end %>
