<%# erblint:counter TooltipCounter 2 %>
<%# `view` is an instance of Orgs::Teams::TeamView %>

<%graphql
   fragment Team on Team {
     name
     slug
     resourcePath
     childTeamsResourcePath
     description
     locallyManaged
     viewerCanAdminister
     hasLdapMapping
     ldapMappingIsGone
     privacy
     membersResourcePath
     hasChildTeams

     members(membership: $membership, first: 10) {
       totalCount
       edges {
         node {
           login
           avatarUrl(size: 50)
           ...ApplicationHelper::ActorProfileLink::Actor
         }
       }
     }

     descendants: childTeams(immediateOnly: false) {
       totalCount
     }

     ...Views::Orgs::Teams::MembershipToggle::Team
     ...Views::Orgs::Teams::DeleteTeamDialog::Team
   }
 %>

<% team = Views::Orgs::Teams::Team::Team.new(view.graphql_team) %>
<% truncated_team_members = team.members.edges.map { |m| m.node } %>

<%
  team_row_classes = %w(table-list-item js-team-row js-bulk-actions-item)
  team_row_classes << "adminable" if view.show_bulk_actions?
  team_row_classes << view.parent_team_class
  team_row_classes << view.bg_color_class if view.bg_color_class.present?
%>
<li
  class="<%= team_row_classes.join(" ") %>"
  data-bulk-actions-id="<%= team.slug %>"
  data-team-slug="<%= team.slug %>"
  <%= "data-parent-team-slug=#{view.parent_team_slug}" if view.parent_team_slug.present? %>
  itemprop="team"
  itemtype="http://schema.org/Organization">
  <div class="nested-team-info table-list-cell v-align-middle">
    <div class="d-flex flex-items-center">
    <div class="nested-teams-checkbox <%= "show" if view.show_bulk_actions?%> <%= view.checkbox_indent %>">
        <% if view.show_bulk_actions?%>
          <input type="checkbox" name="teams[]" value="<%= team.slug %>" class="js-bulk-actions-toggle" data-check-all-item aria-labelledby="team-<%= team.slug %>">
        <% end %>
      </div>
      <div class="css-truncate nested-team-name">
        <%= link_to content_tag(:span, team.name, itemprop: "name",
                                class: "css-truncate-target nested-team-name"),
                    team.resource_path.to_s,
                    id: "team-#{team.slug}",
                    class: "lh-condensed f4",
                    itemprop: :url %>

        <% if team.privacy == "SECRET" %>
          <span class="Label Label--outline v-align-middle" title="Only visible to its members.">Secret</span>
        <% end %>
        <% if team.description %>
          <span class="d-block"><%= team.description.truncate(80) %></span>
        <% end %>
      </div>
      <% visible_users_range = view.avatar_range %>
      <% if visible_users_range.present? %>
        <div class="shortened-teams-avatars text-right <%= view.avatar_width %>">
          <% if team.members.total_count > 0 %>
            <% truncated_team_members[visible_users_range].each do |member| %>
              <%= graphql_profile_link(member, class: "d-inline-block v-align-middle", itemscope: true, itemprop: "member", itemtype: "http://schema.org/Person") do %>
                <img src="<%= member.avatar_url %>" width="25" height="25" class="<%= avatar_class_names(member) %>" alt="<%= member.login %>">
              <% end %>
            <% end %>
            <% if team.members.total_count > visible_users_range.count %>
              <a class="d-inline-block v-align-middle no-underline team-member-ellipsis border text-center text-gray rounded-1" href="<%= team.members_resource_path.to_s %>" aria-label="View all members in <%= team.name %>">&#8230;</a>
            <% end %>
          <% elsif team.has_ldap_mapping %>
            <% if team.ldap_mapping_is_gone %>
              <span class="team-label-ldap text-small text-gray tooltipped tooltipped-s" aria-label="This team is missing from LDAP">
                <%= octicon('alert', :class => 'error') %>
                LDAP
              </span>
            <% else %>
              <a class="btn btn-sm disabled tooltipped tooltipped-s" aria-label="Team members are managed in LDAP" data-ga-click="Orgs, add member ldap, location:team view; text:Add member" href="<%= team.members_resource_path.to_s %>">Add members</a>
            <% end %>
          <% elsif team.viewer_can_administer && team.locally_managed? %>
            <a class="btn btn-sm" data-ga-click="Orgs, invite member, location:team view; text:Add member" href="<%= team.members_resource_path.to_s %>">Add members</a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-list-cell team-members-count f5 text-right v-align-middle">
    <%= pluralize team.members.total_count, 'member', 'members' %>
  </div>

  <div class="table-list-cell team-buttons pr-3 f5 text-right v-align-middle">
    <% if view.indent_level.present? && team.has_child_teams? %>
      <button type="button"
              data-child-team-url="<%= "#{team.child_teams_resource_path}?parent_team_slug=#{team.slug}&parent_indent=#{view.indent_level}" %>"
              class="expand-nested-team btn-link muted-link js-open-child-team"
              data-parent-team-slug="<%= team.slug %>"
              aria-expanded="false">
        <%=
          pluralize(team.descendants.total_count, 'team', 'teams')
        %>
        <span class="octicon-wrapper d-inline-block ml-2">
          <%= octicon('chevron-down') %>
        </span>
      </button>
    <% else %>
      <span class="mr-2">
        <%=
          pluralize(team.descendants.total_count, 'team', 'teams')
        %>
      </span>
      <span class="octicon-wrapper d-inline-block"></span>
    <% end %>
  </div>
</li>
