<%# rubocop:disable Lint/InstanceVariable %>
<%# `view` is an instance of Orgs::Teams::TeamsPageView %>
<%graphql
  fragment TeamFragment on Team {
    id
    name
    slug
  }
%>

<%
  this_team = Views::Orgs::Teams::Edit::TeamFragment.new(team)

  page_info \
    title: "#{this_team.name} Team · Edit · General",
    dashboard_pinnable_item_id: this_team.id
  %>

<%= render layout: "orgs/teams/team_settings_sidebar", locals: { org_login: @organization.login, team_slug: this_team.slug, selected: "General" } do %>
  <%=
    render_partial_view "orgs/teams/form", Orgs::Teams::FormView,
      organization: @organization,
      team: team,
      team_params: defined?(team_params) ? team_params : {},
      org: graphql_org,
      team_entity: team_entity
  %>
<% end %>
