<%# rubocop:disable Lint/InstanceVariable %>
<div class="pagehead orghead border-bottom-0">
  <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
    <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView, organization: @organization %>
  </div>
  <%=
  render_partial_view "orgs/header_nav", Orgs::HeaderView,
    organization: @organization,
    selected_nav_item: :teams
  %>
</div>

<div class="container-lg clearfix px-3">
  <%=
    render_partial_view "orgs/teams/form", Orgs::Teams::FormView,
      organization: @organization,
      team: local_assigns[:team],
      org: org,
      team_params: local_assigns[:team_params],
      making_new_team: true
  %>
</div>
