<%graphql
  fragment Team on Team {
    slug
    members {
      totalCount
    }
    repositoryCounter: repositories {
      totalCount
    }
  }
%>

<% team = Views::Orgs::Teams::OwnersTeam::Team.new(team) %>

<% page_info :title => "Owners · #{organization.safe_profile_name} Team" %>

<div itemscope itemtype="http://schema.org/Organization">
  <div class="pagehead orghead border-bottom-0">
    <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
      <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView, :organization => organization %>
    </div>
    <%=
    render_partial_view "orgs/header_nav", Orgs::HeaderView,
      :organization      => organization,
      :selected_nav_item => :teams
    %>
  </div>

  <div class="container-lg clearfix px-3 position-relative" style="min-height: 550px">
    <div class="px-6 mt-4 text-center js-rename-owners-team-about-content">
      <h1 class="f0-light">Owner is now a role, not a team.</h1>
      <p class="lead mb-3 px-6 mx-6">Owner is now a unique <a href="<%= org_owners_path(organization) %>#">administrative role</a> given to individuals, which means the Owners team no longer gives special administrative privileges.</p>
      <button type="button" class="btn btn-primary js-rename-owners-team-next-btn">Okay, got it</button>
    </div> <!-- /Step 1 -->

    <div class="mx-auto js-rename-owners-team-rename-form" style="width: 520px" hidden>
      <h1 class="f0-light">You should rename the team.</h1>
      <p class="lead">Now that the Owners team no longer grants the owner role, renaming this team will help avoid any confusion.</p>
      <div class="Box mb-3">
        <%= form_tag org_rename_owners_team_path(organization), :method => :put do %>
          <div class="Box-body">
            <% check_url = check_team_name_path(organization, team_slug: team.slug) %>
            <auto-check required src="<%= check_url %>">
              <dl class="form-group">
                <dt class="input-label">
                  <label for="new-team-name">New team name</label>
                </dt>
                <dd>
                  <input
                    id="new-team-name"
                    type="text"
                    name="name"
                    class="form-control input-block input-contrast f2 text-bold"
                    value="Owners"
                    data-required-change
                    required
                    autofocus>
                  <p class="note">
                    Try something like <strong>Employees</strong> or <strong>Core</strong>. Avoid misleading names like <del>Admins</del>.
                  </p>
                </dd>
              </dl>
              <%= csrf_hidden_input_for check_url %>
            </auto-check>

            <div class="team-stats">
              <div class="stats-group">
                <div class="stats-group-stat no-link">
                  <strong class="stat-number">
                    <%= team.members.total_count %>
                  </strong>
                  Team <%= "Member".pluralize(team.members.total_count) %>
                </div>
                <div class="stats-group-stat no-link">
                  <strong class="stat-number">
                    <%= team.repository_counter.total_count %>
                  </strong>
                  <%= "Repository".pluralize(team.repository_counter.total_count) %>
                </div>
              </div>
            </div>
          </div>
          <div class="Box-footer Box-row--gray">
            <button type="submit" data-disable-invalid class="btn btn-primary" data-ga-click="Organization Permissions, save, location:migration rename owners; text:Save and continue">Save and continue</button>
          </div>
        <% end %>
      </div>

      <p>If you’d like, you can also delete the team. However, some members may lose access to the repositories that the team currently grants.</p>

      <%= render layout: "shared/details_dialog", locals: {
        title: "Are you sure you want to delete this team?",
        button_text: "Delete the owners team",
        button_class: "btn btn-sm btn-danger"
      } do %>
        <div class="flash flash-full flash-warn">
          <%= octicon "alert" %>
          Once deleted, it can’t be undone.
        </div>
        <div class="Box-footer">
          <%= button_to "Delete the owners team", org_destroy_owners_team_path(organization), method: :delete, class: "btn btn-block btn-danger", :"data-ga-click" => "Organization Permissions, delete, location:migration rename owners; text:Delete the Owners team" %>
        </div>
      <% end %>
    </div> <!-- /Step 2 -->
  </div>
</div>
