<%graphql
  fragment TeamFragment on Team {
    id
    name
    slug
    reviewRequestDelegationEnabled
    reviewRequestDelegationAlgorithm
    reviewRequestDelegationMemberCount
    reviewRequestDelegationNotifyTeam
    organization {
      login
    }
  }
%>

<%
  this_team = Views::Orgs::Teams::ReviewAssignment::TeamFragment.new(graphql_team)

  page_info \
    title: "#{this_team.name} Team · Edit · Code Review Assignment",
    dashboard_pinnable_item_id: this_team.id
  %>

<%= render layout: "orgs/teams/team_settings_sidebar", locals: { org_login: this_team.organization.login, team_slug: this_team.slug, selected: "Code review assignment" } do %>
  <%= form_tag update_team_review_assignment_path, class: "width-full", method: :put do %>
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Code review assignment<% end %>
    <% end %>

    <div class="js-toggler-container review_assignment_toggler <%= this_team.review_request_delegation_enabled ? "on" : "" %>">
      <div class="form-checkbox">
        <label>
          <input type="checkbox" name="review_assignment" class="js-toggler-target" aria-describedby="review_assignment_desc" <%= this_team.review_request_delegation_enabled ? "checked" : "" %>>
          Enable auto assignment
        </label>
        <span class="note" id="review_assignment_desc">
          This will automatically route this team's code review requests to individual team members.
        </span>
      </div>
      <div class="assignment_form">
        <hr class="form-hr">
        <dl class="form-group js-toggler-container team-member-exclusion-toggler <%= team.review_request_delegation_excluded_members.count > 0 ? "on" : "" %>">
          <dt>
            <label>
              How many team members should be assigned to review?
            </label>
          </dt>
          <% current_team_member_count = this_team.review_request_delegation_member_count || 1 %>
          <dd>
            <details class="select-menu details-reset details-overlay">
              <summary class="btn select-menu-button">
                <span data-menu-button><%= current_team_member_count %></span>
              </summary>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu">
                <div class="select-menu-list">
                  <% (1..3).each do |i| %>
                  <% selected = i == current_team_member_count %>
                  <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="<%= selected %>">
                    <%= radio_button_tag "team_member_count", i, selected %>
                    <%= octicon('check', :class => 'select-menu-item-icon') %>
                    <span data-menu-button-text><%= i %></span>
                  </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          </dd>
          <dt class="mt-4">
            <label>
              Routing algorithm
            </label>
          </dt>

          <% current_algorithm = this_team.review_request_delegation_algorithm || PlatformTypes::TeamReviewAssignmentAlgorithm::ROUND_ROBIN %>
          <dd>
            <details class="select-menu details-reset details-overlay">
              <summary class="btn select-menu-button">
                <span data-menu-button><%= current_algorithm.humanize %></span>
              </summary>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu">
                <div class="select-menu-list">
                  <% selected = current_algorithm == PlatformTypes::TeamReviewAssignmentAlgorithm::ROUND_ROBIN %>
                  <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="<%= selected %>">
                    <%= radio_button_tag "algorithm", PlatformTypes::TeamReviewAssignmentAlgorithm::ROUND_ROBIN, selected %>
                    <%= octicon('check', :class => 'select-menu-item-icon') %>
                    <h5 data-menu-button-text>Round robin</h5>
                    Alternate reviews between each team member
                  </label>

                  <% selected = current_algorithm == PlatformTypes::TeamReviewAssignmentAlgorithm::LOAD_BALANCE %>
                  <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="<%= selected %>">
                    <%= radio_button_tag "algorithm", PlatformTypes::TeamReviewAssignmentAlgorithm::LOAD_BALANCE, selected %>
                    <%= octicon('check', :class => 'select-menu-item-icon') %>
                    <h5 data-menu-button-text>Load balance</h5>
                    Balance review load across the entire team
                  </label>
                </div>
              </details-menu>
            </details>
          </dd>
          <dt class="mt-2">
            <div>
                <label class="text-normal">
                  <input type="checkbox" class="js-toggler-target" name="exclude_team_members" <%= team.review_request_delegation_excluded_members.count > 0 ? "checked" : "" %>>
                  Never assign certain team members
                </label>
            </div>
          </dt>
          <dd class="member-exclusion ml-3">
            <details class="select-menu details-overlay details-reset d-inline-block js-team-member-picker">
              <summary class="btn select-menu-button js-team-member-summary" data-default-label="Select team members">
                <span class="js-team-member-summary-text">Select team members</span>
              </summary>

              <details-menu class="select-menu-modal position-absolute js-team-member-menu" style="z-index: 99;" role="menu">
                <ul class="select-menu-list">
                  <% team.members.each do |member| %>
                    <li>
                      <% selected_ids = team.review_request_delegation_excluded_members.pluck(:user_id) %>
                      <% checked = selected_ids.include?(member.id) %>
                      <label tabindex="0" class="select-menu-item text-normal" role="menuitemcheckbox" aria-checked="<%= checked %>">
                        <%= octicon("check", class: "select-menu-item-icon") %>
                        <input hidden
                               class="js-team-member"
                               type="checkbox"
                               value="<%= member.global_relay_id %>"
                               name="excluded_members[]"
                               <%= checked ? "checked" : "" %>
                               data-team-member-text="<%= member.login %>"
                               >
                        <span class="select-menu-item-text">
                          <%= member.login %>
                        </span>
                      </label>
                    </li>
                  <% end %>
                </ul>
              </details-menu>
            </details>
          </dd>
          <dt class="mt-4 mb-0">
            <label>
              Notifications
            </label>
          </dt>
          <dd>
            <label class="text-normal">
              <input type="checkbox" name="disable_notify_team" <%= !this_team.review_request_delegation_notify_team ? "checked" : "" %>>
              If assigning team members, don't notify the entire team.
            </label>
          </dd>
        </dl>
      </div>
      <button class="btn btn-primary mt-3" type="submit">Save changes</button>
      <p class="note mt-2">
        Note: this won't assign members who have committed to the pull request or have set their status to Busy.
      </p>
    </div>
  <% end %>
<% end %>
