<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "GitHub Actions scheduled workflow", icon: "actions.png")) %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>Scheduled workflows are disabled automatically after <%= @threshold %> days of repository inactivity.</p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>If you would like the <b><%= @workflow.name %></b> workflow to continue running, click the button below.</p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(Mail::ButtonComponent.new(text: "Continue running workflow", url: @url, classes: "btn-primary btn-large")) %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
