Scheduled workflows are disabled automatically after <%= @threshold %> days of repository inactivity.

If you would like the "<%= @workflow.name %>" workflow to continue running, click the link bellow.

<%= @url %>
