<nav class="reponav js-repo-nav" aria-label="Gist tab">
  <%= selected_link_to user_gists_path(view.user),
          :highlight => view.highlights_for_all,
          :class => "reponav-item",
          :"aria-label" => "All gists" do %>
    <%= octicon("gist") %>
    All gists
    <%= render Primer::CounterComponent.new(count: view.all_count) %>
  <% end %>

  <% if view.show_forked_tab? %>
    <%= selected_link_to user_forked_gists_path(view.user),
            :highlight => view.highlights_for_forked,
            :class => "reponav-item",
            :"aria-label" => "Forked" do %>
      <%= octicon("git-branch") %>
      Forked
      <%= render Primer::CounterComponent.new(count: view.forked_count) %>
    <% end %>
  <% end %>

  <% if view.show_starred_tab? %>
    <%= selected_link_to user_starred_gists_path(view.user),
            :highlight => view.highlights_for_starred,
            :class => "reponav-item",
            :"aria-label" => "Starred" do %>
      <%= octicon("star") %>
      Starred
      <%= render Primer::CounterComponent.new(count: view.starred_count) %>
    <% end %>
  <% end %>
</nav>
