<%graphql
  fragment User on User {
    id
    isBlockedByViewer
    ...Views::Users::Profile::UserFragment
  }
%>
<%
  user = Views::Gists::Users::Profile::User.new(user)

  page_info dashboard_pinnable_item_id: user.id
%>

<div class="h-card col-3" itemscope itemtype="http://schema.org/Person">
  <% unless this_user.hide_from_user?(current_user) %>
    <%= render partial: "users/profile", locals: { user: user, blocking: logged_in? && user.is_blocked_by_viewer?, gists_profile: true } %>
  <% end %>

  <a class="btn btn-outline width-full text-center mt-3" href="<%= "#{GitHub.url}/#{this_user.to_param}" %>">
    View GitHub Profile
  </a>
</div>
