<%= form_tag dashboard_pin_url, method: dashboard_pin_form_method do %>
  <button type="submit" class="btn btn-block px-1 f6" data-ga-click="Header, button to pin or unpin item" data-test-selector="pin-to-dashboard-link">
    <%= pinning_button_text %>
  </button>
<% end %>
