<% view = Site::HeaderView.new(
      current_user: current_user,
      current_repository: current_repository,
      current_organization: current_organization,
      currently_viewed_user: currently_viewed_user,
      is_mobile_request: mobile?,
      params: params)
%>
<div class="header-search header-search-prototype js-header-search-prototype flex-auto <% if responsive? %> flex-self-stretch flex-md-self-auto mr-0 mr-md-3 mb-3 mb-md-0<% else %> mr-3<% end %> <%= "scoped-search" if view.search_scoped? %> <%= "site-scoped-search" if view.search_scoped? %> js-site-search position-relative <%= "js-jump-to js-header-search-prototype-jump-to" if view.jump_to_enabled? %>"
  <% if view.jump_to_enabled? %>
  role="combobox"
  aria-owns="jump-to-results"
  aria-label="Search or jump to"
  aria-haspopup="listbox"
  aria-expanded="false"
  data-should-ignore="false"
  <% else %>
  role="search"
  <% end %>
>
  <div class="position-relative">
    <%= form_tag view.search_path,
        :method => :get,
        :class => "js-site-search-form",
        :role => "search",
        "aria-label" => "Site",
        "data-scope-type" => view.scope&.class&.name,
        "data-scope-id" => view.scope&.id,
        "data-scoped-search-url" => view.scoped_search_path,
        "data-unscoped-search-url" => view.unscoped_search_path do %>
      <text-expander keys=":" class="form-control input-sm header-search-wrapper p-0 js-filter-text-expander <%= "header-search-wrapper-jump-to position-relative d-flex flex-justify-between flex-items-center" if view.jump_to_enabled? %> js-chromeless-input-container">
        <% unless view.jump_to_enabled? %>
          <% if params["controller"] == "repository_search" %>
            <%= link_to view.current_repository.nwo, view.current_repository, :class => "header-search-scope truncate-repo-scope no-underline" %>
          <% elsif view.current_organization || view.current_repository %>
            <%= link_to view.search_scope_badge_text, view.current_organization, :class => "header-search-scope no-underline" %>
          <% elsif view.current_topic %>
            <%= link_to view.search_scope_badge_text, "/topics/#{view.current_topic}", :class => "header-search-scope no-underline" %>
          <% end %>
        <% end %>
        <div class="search-input-field d-flex flex-row">
          <input type="text"
            class="form-control input-sm js-header-search-input header-search-input <%= "jump-to-field js-jump-to-field" if view.jump_to_enabled? %> js-site-search-focus <%= "js-site-search-field" if view.search_scoped? %><%= " is-clearable" if view.search_scoped? && !view.query %>"
            data-hotkey="s,/"
            name="q"
            value="<%= view.query %>"
            placeholder="<%= view.search_placeholder_text %>"
            default-placeholder="<%= view.search_placeholder_text %>"
            data-unscoped-placeholder="<%= view.unscoped_search_placeholder_text %>"
            data-scoped-placeholder="<%= view.scoped_search_placeholder_text %>"
            data-refined-search-placeholder="Search... (type ':' to filter)"
            autocapitalize="off"
            <% if view.jump_to_enabled? %>
            aria-autocomplete="list"
            aria-controls="jump-to-results"
            aria-label="<%= view.search_placeholder_text %>"
            data-jump-to-suggestions-path="<%= graphql_path("GetSuggestedNavigationDestinations") %>"
            spellcheck="false"
            autocomplete="off"
            <% else %>
            aria-label="<%= view.search_aria_label_text %>"
            <% end %>
            >
          <div class="d-flex flex-items-center">
            <div class="js-site-search-filter-item d-flex flex-row flex-items-center d-none">
              <details class="d-inline-block details-reset details-overlay js-site-search-refine-details">
                <summary tabindex="0" class="btn btn-invisible site-search-filter-button js-site-search-filter-button">
                  <div class="search-filter-button-contents">
                    <span class="js-data-menu-button"><%= view.initial_result_type == "All" ? "Filter" : view.initial_result_type %></span>
                    <span class="dropdown-caret"></span>
                  </div>
                </summary>
                <details-menu class="SelectMenu site-search-refine-details-menu js-site-search-refine-details-menu">
                  <div class="SelectMenu-modal ems-refine-details-dialog">
                    <div class="d-flex flex-row">
                      <div class="d-flex flex-column flex-1 ems-result-types">
                        <header class="SelectMenu-header search-refine-dropdown-header">
                          Result type
                        </header>
                        <% view.result_types.each do |type, name| %>
                          <label tabindex="0" role="menuitemradio" class="SelectMenu-item ems-result-type-item js-ems-code-search-result-type" aria-checked="<%= name == view.initial_result_type ? "true" : "false" %>">
                            <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check" %>
                            <input type="radio" name="search-type" value="<%= type %>" filters="<%= view.filters[type].to_json %>" scopes="<%= view.scopes[type].to_json %>" hidden>
                            <span data-menu-button-text><%= name %></span>
                          </label>
                        <% end %>
                      </div>
                      <div class="d-flex flex-column flex-1">
                        <div class="js-ems-scope-section">
                          <header class="SelectMenu-header js-ems-scope-header search-refine-dropdown-header">
                            Add scope
                          </header>
                          <div class="js-ems-refine-scope-container">
                            <% view.scopes[:all].each do |scope| %>
                              <label tabindex="0" role="menuitem" value="<%= scope %>" class="SelectMenu-item ems-menu-item js-ems-scope-item"><%= scope %><span class="text-normal">&nbsp;(<%= "organization" if scope == "org" %><%= "repository" if scope == "repo" %>)</span></label>
                            <% end %>
                            <label tabindex="0" role="menuitem" value="scope" class="SelectMenu-item ems-menu-item js-ems-scope-item js-ems-scope-item-template" hidden></label>
                          </div>
                        </div>
                        <header class="SelectMenu-header js-ems-filter-header search-refine-dropdown-header" hidden>
                          Add filter
                        </header>
                        <div class="js-ems-refine-filter-container">
                          <label tabindex="0" role="menuitem" value="filter" class="SelectMenu-item ems-menu-item js-ems-filter-item js-ems-filter-item-template" hidden></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </details-menu>
              </details>
            </div>
            <button type="button" aria-label="Exit Code Search" class="mr-2 p-0 site-search-close-button js-site-search-close-button" hidden>
              <div class="d-flex flex-justify-center flex-items-center">
                <%= octicon('x', height: 12, width: 12, class: "site-search-close-x") %>
              </div>
            </button>
          </div>
        </div>
        <%= csrf_hidden_input_for graphql_path("GetSuggestedNavigationDestinations"), class: "js-data-jump-to-suggestions-path-csrf" %>
        <input type="hidden" class="js-site-search-type-field" name="type" <%# The value is plucked from URL params by JS on submit %>>
        <% if view.jump_to_enabled? %>
          <img src="<%= image_path "search-key-slash.svg" %>" alt="" class="mr-2 js-header-search-key-slash header-search-key-slash">
          <div class="Box position-absolute overflow-hidden d-none jump-to-suggestions js-jump-to-suggestions-container">
            <%= render partial: "jump_to_prototype/client_templates", locals: {
              scoped_search_badge_text: view.jump_to_search_scope_badge_text,
              scoped_search_badge_aria_label: view.jump_to_search_scope_badge_aria_label,
              global_search_badge_text: view.jump_to_search_global_badge_text,
              global_search_badge_aria_label: view.jump_to_search_scope_badge_aria_label_global
            } %>
          </div>
        <% end %>
        <ul class="js-code-search-filter-text-expander code-search-filter-text-expander suggester position-absolute" style="z-index: 1;" hidden>
          <div class="d-flex flex-auto flex-items-center search-filter-header js-ems-colon-filter-header px-2 py-1">
            Add filter
          </div>
          <div class="js-ems-filter-option-container">
            <li role="option" class="ems-filter-option js-ems-filter-option js-ems-filter-option-template" hidden></li>
          </div>
          <div class="d-flex flex-auto flex-items-center search-filter-header js-ems-colon-scope-header px-2 py-1">
            Add scope
          </div>
          <div class="js-ems-scope-option-container">
            <li role="option" class="ems-filter-option js-ems-scope-option js-ems-scope-option-template" hidden></li>
          </div>
        </ul>
      </text-expander>
    <% end %>
  </div>
</div>
