<% if comments_with_info.length > 0 %>
  <div class="Box">
    <% comments_with_info.each do |comment_with_info| %>
      <% report_count = comment_with_info[:report_count] %>
      <% comment = comment_with_info[:comment] %>
      <div class="Box-row p-3 pl-3">
        <div class="d-flex flex-justify-between">
          <div class="note text-gray-light">
            Reported
            <% unless comment_with_info[:top_reason] == "unspecified" %>
              as <strong><%= comment_with_info[:top_reason].humanize(capitalize: false) %></strong>
            <% end %>
            <%= report_count %> <%= "time".pluralize(report_count) %>, last report was <%= time_ago_in_words_js comment_with_info[:last_reported] %>
          </div>
          <details class="details-overlay details-reset position-relative d-inline-block">
            <summary class="btn-link link-gray">
              <%= octicon("kebab-horizontal", "aria-label": "Show options") %>
            </summary>
            <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover text-gray-dark anim-scale-in" style="width:185px">
              <a href="<%= comment.url %>" class="dropdown-item btn-link" role="menuitem">View content</a>
              <div role="none" class="dropdown-divider"></div>
              <%= form_tag toggle_resolved_path(resolved_filter, current_repository), :method => :put, :class => "width-full inline-form" do %>
                <input type="hidden" name="id" value="<%= comment.id %>">
                <input type="hidden" name="type" value="<%= comment.class %>">
                <input type="hidden" name="resolved_filter" value="<%= resolved_filter %>">
                <button
                  type="submit"
                  class="dropdown-item btn-link"
                  role="menuitem">
                  Mark as <%= resolve_action_word(resolved_filter) %>
                </button>
              <% end %>
            </details-menu>
          </details>
        </div>
        <div class="d-flex">
          <%= linked_avatar_for(comment.user, 20) %>
          <div class="pl-2">
            <%= profile_link(comment.user, class: "text-gray-dark text-bold") %>
            <a href="<%= comment.url %>" class="text-gray ml-1"><%= time_ago_in_words_js comment.created_at %></a>
          </div>
        </div>
        <div>
          <%= comment.body %>
        </div>
        <div class="note text-gray-light">
          <details class="details-reset dropdown js-dropdown-details mt-1">
            <summary class="text-gray" aria-haspopup="menu" style="padding-right: 14px">
              Reported by <%= report_count %> <%= "user".pluralize(report_count) %> <span class="dropdown-caret"></span>
            </summary>
            <details-menu src="<%= abuse_reporters_path(type: comment.class, id: comment.id) %>" role="list">
              <include-fragment class="octocat-spinner" style="background-size: 24px 24px;"></include-fragment>
            </details-menu>
          </details>
        </div>
      </div>
    <% end %>
  </div>
  <% if paginated_reports.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate paginated_reports, "data-pjax" => true %>
    </div>
  <% end %>
<% else %>
  <div class="blankslate">
    <h3>There aren't any <%= resolved_filter.downcase %> content reports for this repository.</h3>
  </div>
<% end %>
