<%# `view` is an instance of Community::CommunityIndexView %>
<li class="Box-row d-flex flex-wrap flex-items-baseline">
  <div class="flex-auto">
    <%= octicon(view.issue_template_indicator[:octicon], class: view.issue_template_indicator[:class], "aria-label": view.issue_template_indicator[:label]) %>
    Issue templates
  </div>
  <% if view.issue_template_editable_by?(current_user) %>
    <%= view.issue_template_edit_link %>
  <% end %>
</li>
<li class="Box-row d-flex flex-wrap flex-items-baseline">
  <div class="flex-auto">
    <%= octicon(view.pull_request_template_indicator[:octicon], class: view.pull_request_template_indicator[:class], "aria-label": view.pull_request_template_indicator[:label]) %>
    <% if view.has_pull_request_template? %>
      <%= view.link_to_pull_request_template %>
    <% else %>
      Pull request template
    <% end %>
  </div>
  <% if !view.has_pull_request_template? && view.pull_request_template_editable_by?(current_user) %>
    <% if view.has_empty_pull_request_template? %>
      <%= form_tag url_for({ action: "edit", name: tree_name, path: view.pr_template_file.path, controller: "blob" }), method: :post do %>
        <button type="submit" class="btn btn-sm" data-ga-click="Community profile, add pull request template" aria-label="Pull Request Template">
          Edit
        </button>
      <% end %>
    <% else %>
      <%= form_tag blob_new_path(params[:path], tree_name), :method => :post do %>
        <input hidden name="pull_request_template" value="1">
        <button type="submit" class="btn btn-sm" data-ga-click="Community profile, add pull request template" aria-label="Pull Request Template">
          Add
        </button>
      <% end %>
    <% end %>
  <% end %>
</li>
