<%# erblint:counter TooltipCounter 1 %>
<%
  page_info title: "Add a license to #{current_repository.name_with_owner}",
  license: params[:license],
  container_xl: true,
  class: "full-width-p0",
  skip_pjax_container: true,
  selected_link: :community,
  dashboard_pinnable_item_id: current_repository.global_relay_id

  branch = params[:branch] || current_repository.default_branch
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="mb-4 px-4 bg-white clearfix">
  <%= selected_link_to("Add a license to your project", license_tool_path, class: "float-left text-bold link-gray-dark no-underline") %>
</div>

<div class="d-table col-12 bg-gray-light js-templates">
  <div class="SideNav col-3 pt-0 d-table-cell v-align-top border-top border-bottom">
    <% License.sorted_list.each_with_index do |license, i| %>
      <%= selected_link_to(license_tool_path(template: license.key, branch: branch), class: "SideNav-item pl-4") do %>
        <%= content_tag(:span, license.name, class: license.featured? ? "text-bold" : "") %>
      <% end %>
    <% end %>

  </div>

  <div class="<% params[:template].nil? ? "col-9 " : "col-6 " %>d-table-cell v-align-top bg-white border">

    <%= content_tag(:div, class: "CommunityTemplate-markdown px-5 py-4") do %>
      <% if license %>
          <%= render :partial => "community/license_overview", :locals => { :license => license } %>
      <% end %>

      <%= content_tag(:div, class: "markdown-body") do %>
        <% if license %>
          <%= rendered_community_template(license) %>
        <% else %>
          <div class="pt-4 text-center">
            <%= octicon("law", class: "text-gray", width: 60) %>
            <p class="mt-3 f1-light">Choose a license to add to your project</p>
            <p class="f3-light">Select a template on the left to get started.
            <br>Learn more about <a href="https://opensource.guide/legal/#which-open-source-license-is-appropriate-for-my-project">which license best fits your project</a>.</p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% unless license.nil? %>
    <div class="col-3 d-table-cell v-align-top px-4 py-3 border-top border-bottom">
      <p class="text-small">
        <% unless license.fields.empty? %>
          To adopt <strong><%= license.name %></strong>, enter your details.
        <% end %>
        You’ll have a chance to review before committing a <em>LICENSE</em> file to a new branch or the root of your project.
      </p>

      <%= form_for :license, :url => community_generator_form_path("LICENSE", branch), html: { class: "mt-3", id: "license-form" } do |f| -%>
        <%= hidden_field(:license, :license, value: license.key) %>
        <% field_values = license.field_values_for_repository(current_repository) %>
          <% license.fields.uniq.each do |field| %>
            <dl class="d-block my-2">
                <dt class="mb-1">
                  <label for="license[<%= field.key %>]"><%= field.label.humanize %>
                    <span class="tooltipped tooltipped-n" aria-label="<%= field.description %>">
                      <%= octicon "info", class: "text-gray" %>
                    </span>
                  </label>
                </dt>
                <dd>
                  <input class="form-control input-sm width-full js-template-form-input" required name="license[<%= field.key %>]" id="license[<%= field.key %>]" data-fieldname="<%= field.key %>" value="<%= field_values[field.key] %>">
                </dd>
            </dl>
          <% end %>
          <button type="submit" class="btn btn-primary mt-3" id="license-add" data-ga-click="Community template tool, add a license, review and submit">Review and submit</button>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
