<%# erblint:counter TooltipCounter 1 %>
<%
  page_info title: "Add a code of conduct to #{current_repository.name_with_owner}",
    coc: params[:coc],
    container_xl: true,
    class: "full-width-p0",
    skip_pjax_container: true,
    selected_link: :community,
    dashboard_pinnable_item_id: current_repository.global_relay_id

  branch = params[:branch] || current_repository.default_branch
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="mb-4 px-4 bg-white clearfix">
    <%= selected_link_to("Add a code of conduct to your project", code_of_conduct_tool_path, class: "float-left text-bold link-gray-dark no-underline") %>
  </div>

  <div class="d-table col-12 bg-gray-light js-templates">
    <div class="SideNav col-3 pt-0 d-table-cell v-align-top border-top border-bottom">
      <% CodeOfConduct.recommended.each do |code_of_conduct| %>
        <%= selected_link_to(code_of_conduct_tool_path(template: code_of_conduct.family), class: "SideNav-item pl-4", data: { octo_click: "community-template-tool_add_code_of_conduct", octo_dimensions: "user_id:#{current_user.id},coc:#{code_of_conduct}", ga_click: "Community template tool, add a code of conduct, view #{code_of_conduct.family.humanize}" }) do %>
          <strong><%= code_of_conduct.name_without_version %></strong>
          <p class="text-normal mb-0">
            <%= code_of_conduct.description %>
          </p>
        <% end %>
      <% end %>
    </div>

    <div class="<% params[:template].nil? ? "col-9 " : "col-6 " %>d-table-cell v-align-top bg-white border">
      <%= content_tag(:div, class: "CommunityTemplate-markdown markdown-body p-5 px-xl-6") do %>

        <% if code_of_conduct %>
          <%= rendered_community_template(code_of_conduct) %>
        <% else %>
          <div class="pt-4 text-center">
            <%= octicon("checklist", class: "text-gray", width: 60) %>
            <p class="mt-3 f1-light">Choose a code of conduct to add to your project</p>
            <p class="f3-light">Select a template on the left to get started.
            <br>Learn more about <a href="https://opensource.guide/code-of-conduct">what a code of conduct is</a> and how to enforce it.</p>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if code_of_conduct %>
      <div class="col-3 d-table-cell v-align-top p-4 border-top border-bottom bg-gray-light">
        <p class="text-small">To adopt <strong><%= code_of_conduct.name %></strong>, enter your details. You’ll have a chance to review before committing a <em>CODE_OF_CONDUCT.md</em> file to a new branch or the root of your project.</p>

        <%= form_for :code_of_conduct, :url => community_generator_form_path("CODE_OF_CONDUCT.md", branch), html: { class: "mt-3" } do |f| -%>
        <%= hidden_field :code_of_conduct, :code_of_conduct, value: code_of_conduct.family %>
        <% code_of_conduct.unique_fields.each do |field| %>
          <dl class="d-block my-2">
            <dt class="mb-1">
              <label for="code_of_conduct[<%= field.key %>]"><%= field.label %>
                <% if field.description.present? %>
                  <span class="tooltipped tooltipped-multiline tooltipped-s" aria-label="<%= field.description %>">
                    <%= octicon("info", :class => "text-gray") %>
                  </span>
                <% end %>
              </label>
            </dt>
            <dd>
              <input class="form-control input-sm width-full js-template-form-input"
                name="code_of_conduct[<%= field.key %>]" id="code_of_conduct[<%= field.key %>]"
                data-fieldname="<%= field.key %>" value="<%= local_assigns[field.key.to_sym] %>">
            </dd>
          </dl>
        <% end %>
        <button type="submit" class="btn btn-primary mt-3" id="code-of-conduct-add" data-ga-click="Community template tool, add a code of conduct, review and submit">Review and submit</button>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>
