<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:counter TooltipCounter 1 %>
<%
  # `view` is an instance of Community::CommunityIndexView
  page_info \
    container_xl: true,
    title: "Community",
    skip_pjax_container: true,
    selected_link: :community
  percent = 100 - view.health_percentage
%>

<%= render layout: "layouts/repository/insights" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Community profile<% end %>
  <% end %>

  <div class="community-checklist mt-4">
    <div class="text-md-center my-5">
      <p class="f3-light">Here’s how this project compares to <a href="https://opensource.guide">recommended community standards</a>.</p>
    </div>

    <div class="mb-4">
      <p class="mb-2">
        <span class="f4 text-bold">Checklist</span>
      </p>

      <ul class="Box">
        <li class="bg-gray d-block border-bottom">
          <div class="progress-bar-small progress-bar rounded-0 anim-grow-x">
            <span class="progress" style="width: <%= percent %>%">&nbsp;</span>
          </div>
        </li>
        <li class="Box-row d-flex flex-items-center">
          <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
            <span>
              <%= octicon(view.description_indicators[:octicon], class: view.description_indicators[:class], "aria-label": view.description_indicators[:label]) %>
              Description
              <% if !view.description? %>
                <span class="tooltipped tooltipped-n tooltipped-multiline" aria-label="Add a description to your repository so people understand the goals of your project.">
                  <%= octicon("question", class: "text-gray-light") %>
                </span>
              <% end %>
            </span>
          </div>
          <% if !view.description? && view.can_add_description? %>
            <a class="btn btn-sm" href="<%= "#{view.repository.permalink}?focus_description=true" %>">Add</a>
          <% end %>
        </li>
        <li class="Box-row d-flex flex-items-center">
          <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
            <span>
              <%= octicon(view.readme_indicators[:octicon], class: view.readme_indicators[:class], "aria-label": view.readme_indicators[:label]) %>
              <% if view.readme? %>
                <%= link_to "README", blob_view_url(view.readme_file.path, view.repository.default_branch) %>
              <% else %>
                README
              <% end %>
            </span>
            <% if !view.readme? %>
              <a class="text-small mr-2 mt-1 mt-md-0" href="<%= GitHub.help_url %>/articles/about-readmes/" data-ga-click="Community profile, view docs: README">Writing a README</a>
            <% end %>
          </div>
          <% if !view.readme? %>
            <% if view.has_empty_readme? %>
              <%= form_tag url_for({ action: "edit", name: tree_name, path: view.readme_file.path, controller: "blob" }), method: :post do %>
                <%= submit_tag "Edit", class: "btn btn-sm", id: "readme-add", data: { ga_click: "Community profile, add README" } %>
              <% end %>
            <% else %>
              <%= form_tag blob_new_path(params[:path], tree_name), :method => :post do %>
                <input hidden name="readme" id="readme" value="1">
                <%= submit_tag view.button_copy, class: "btn btn-sm", id: "readme-add", data: { ga_click: "Community profile, add README" } %>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <li class="Box-row d-flex flex-items-center">
          <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
            <span>
              <%= octicon(view.code_of_conduct_indicators[:octicon], class: view.code_of_conduct_indicators[:class], "aria-label": view.code_of_conduct_indicators[:label]) %>
              <% if view.code_of_conduct? %>
                <%= link_to "Code of conduct", view.code_of_conduct_path.to_s %>
              <% else %>
                Code of conduct
              <% end %>
            </span>
            <% if !view.readme? %>
              <a class="text-small mr-2 mt-1 mt-md-0" href="<%= GitHub.help_url %>/articles/adding-a-code-of-conduct-to-your-project/" data-ga-click="Community profile, view docs: code of conduct">What is a code of conduct?</a>
            <% end %>
          </div>
          <% if !view.code_of_conduct? %>
            <a class="btn btn-sm" href="<%= code_of_conduct_tool_path %>" data-octo-click="community-profile_add_code_of_conduct" data-octo-dimensions="user_id:<%= current_user.id %>" data-ga-click="Community profile, add code of conduct">
              <% if view.has_empty_code_of_conduct? %>
                Edit
              <% else %>
                <%= view.button_copy %>
              <% end %>
            </a>
          <% end %>
        </li>
        <li class="Box-row d-flex flex-items-center">
          <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
            <span>
              <%= octicon(view.contributing_indicators[:octicon], class: view.contributing_indicators[:class], "aria-label": view.contributing_indicators[:label]) %>
              <% if view.contributing? && contributing_file = view.contributing_file %>
                <%= link_to "Contributing", blob_view_url(contributing_file.path, contributing_file.repository.default_branch, contributing_file.repository) %>
              <% else %>
                Contributing
              <% end %>
            </span>
            <% unless view.contributing? && contributing_file = view.contributing_file %>
              <% if !view.contributing_file %>
                <a class="text-small mr-2 mt-1 mt-md-0" href="<%= GitHub.help_url %>/articles/setting-guidelines-for-repository-contributors/" data-ga-click="Community profile, view docs: contributing">Writing contributing guidelines</a>
              <% end %>
            <% end %>
          </div>
          <% unless view.contributing? %>
            <% if view.has_empty_contributing? %>
              <%= form_tag url_for({ action: "edit", name: tree_name, path: view.contributing_file.path, controller: "blob" }), method: :post do %>
                <%= submit_tag "Edit", class: "btn btn-sm", data: { ga_click: "Community profile, add contributing" } %>
              <% end %>
            <% elsif !view.contributing_file %>
              <%= form_tag blob_new_path(params[:path], tree_name), :method => :post do %>
                <input hidden name="contributing" value="1" >
                <%= submit_tag view.button_copy, class: "btn btn-sm", data: { ga_click: "Community profile, add contributing" } %>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <li class="Box-row d-flex flex-items-center">
          <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
            <span>
              <%= octicon(view.license_indicators[:octicon], class: view.license_indicators[:class], "aria-label": view.license_indicators[:label]) %>
              <% if view.license? && preferred_license = view.repository.preferred_license %>
                <%= link_to "License", blob_view_url(preferred_license.path, view.repository.default_branch) %>
              <% else %>
                License
              <% end %>
            </span>
            <% if !preferred_license %>
              <a class="text-small mr-2 mt-1 mt-md-0" href="<%= GitHub.help_url %>/articles/adding-a-license-to-a-repository/" data-ga-click="Community profile, view docs: license">Choosing a license</a>
            <% end %>
          </div>
          <% if !preferred_license %>
            <a class="btn btn-sm" href="<%= license_tool_path(branch: view.repository.default_branch) %>" data-ga-click="Community profile, add license"><%= view.button_copy %></a>
          <% end %>
        </li>
        <%= render partial: "community/templates", locals: { view: view } %>
        <% if current_repository.eligible_for_tiered_reporting? && GitHub.flipper[:tiered_reporting_community_profile].enabled? %>
          <li class="Box-row d-flex flex-items-center">
            <div class="d-flex flex-auto flex-justify-between flex-column flex-sm-row flex-items-baseline">
              <span>
                <%= octicon(view.tiered_reporting_indicator[:octicon], class: view.tiered_reporting_indicator[:class], "aria-label": view.tiered_reporting_indicator[:label]) %>
                Repository admins accept content reports
              </span>
            </div>
            <% if !view.tiered_reporting_enabled? && view.can_enable_tiered_reporting? %>
              <a class="btn btn-sm" href="<%= reported_content_path(current_repository.owner, current_repository) %>">Enable</a>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <p class="mb-4 text-small float-right">What is <a href="<%= GitHub.help_url %>/articles/viewing-your-community-profile">the community profile</a>?</p>
  </div>
<% end %>
