<% if view.enforcing_two_factor_requirement? %>
  <poll-include-fragment src="<%= settings_org_two_factor_enforcement_status_path(view.organization) %>"
                         class="js-two-factor-enforcement-poller">
    <%= image_tag "spinners/octocat-spinner-32.gif", :alt => "", :width => 16, :height => 16, :class => "loading-spinner" %>
    Require two-factor authentication for everyone in the
    <%= view.organization.safe_profile_name %> organization.
  </poll-include-fragment>
<% else %>
  <label>
    <input type="checkbox"
           name="two_factor_requirement"
           class="<%= "js-two-factor-needs-enforced" if view.two_factor_requirement_disabled_and_needs_enforced? %>"
           <%= 'checked' if view.two_factor_requirement_enabled? %>
           <%= 'disabled' if view.two_factor_requirement_form_disabled? %>>
    Require two-factor authentication for everyone in the
    <%= view.organization.safe_profile_name %> organization.
  </label>
<% end %>
