<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<% page_info responsive: false, :title => "Security" %>
<% ip_whitelist_entries = IpWhitelistEntry.usable_for(view.organization)
  .order(whitelisted_value: :asc)
  .paginate(page: current_page) %>

<%= render layout: "orgs/settings/layout" do %>
  <div id="" class="settings-next">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Two-factor authentication<% end %>
      <% component.slot(:actions) do %>
        <% if view.two_factor_requirement_form_disabled? %>
            <div class="text-gray note">
              <%= octicon("shield-lock") %>
              <%= view.disabled_form_reason %>
            </div>
        <% end %>
      <% end %>
    <% end %>

    <p>
      Requiring an additional authentication method adds another level of
      security for your organization.
    </p>

    <%= form_tag settings_org_two_factor_enforcement_update_path(view.organization),
      :class => "mt-3 two-factor-enforcement-form", :method => :put do %>

      <div class="form-checkbox">

        <%= render_partial_view "orgs/security_settings/two_factor_enforcement_checkbox", view %>

        <% if view.organization.members_without_2fa_allowed? %>
          <div class="flash mt-2">
            Members<% if GitHub.billing_enabled? %>, billing managers,<% end %>
            and outside collaborators who do not have two-factor authentication
            enabled for their personal account will be asked to enable it when accessing the organization.
            Requiring two-factor authentication will not remove them from the organization.
            <%= link_to "Learn more.", "#{GitHub.help_url}/en/github/authenticating-to-github/configuring-two-factor-authentication" %>
          </div>
        <% else %>
          <div class="flash flash-warn mt-2">
            Members<% if GitHub.billing_enabled? %>, billing managers,<% end %>
            and outside collaborators who do not have two-factor authentication
            enabled for their personal account will be removed from the
            organization and will receive an email notifying them about the change.
            <%= link_to "Learn more.", "#{GitHub.help_url}/en/github/authenticating-to-github/configuring-two-factor-authentication" %>
          </div>
        <% end %>
      </div>

      <button type="submit"
              class="btn js-2fa-save-button ml-3"
              <%= 'disabled' if view.two_factor_requirement_form_disabled? || view.enforcing_two_factor_requirement? %>>
        Save
      </button>
    <% end %>

    <% if !view.organization.members_without_2fa_allowed? && view.two_factor_requirement_disabled_and_needs_enforced? %>
      <%= render layout: "shared/details_dialog", locals: {
        details_class: "js-confirm-2fa-modal d-none",
        dialog_class: "overflow-auto",
        button_text: "Save",
        button_class: "btn ml-3",
        title: "Confirm two-factor enforcement"
        } do %>
        <%= render_partial_view "orgs/security_settings/two_factor_enforcement_confirmation",
          Orgs::SecuritySettings::TwoFactorEnforcementConfirmationView,
          :organization => view.organization
        %>
      <% end %>
    <% end %>

    <% if view.organization.business_plus? %>

      <div class="Subhead Subhead--spacious" id="saml-settings">
        <h2 class="Subhead-heading">SAML single sign-on</h2>

        <% if view.business_saml_configured? %>
          <div class="text-gray note pt-2">
            <%= octicon("shield-lock") %>
            This has been
            <%= link_to "required by enterprise administrators", GitHub.business_accounts_help_url %>.
          </div>
        <% end %>
      </div>

      <p>
        Manage your organization’s membership while adding another level of security with SAML. <a href="<%= GitHub.help_url %>/articles/about-identity-and-access-management-with-saml-single-sign-on">Learn more</a>
      </p>

      <template id="disable-saml-confirmation">
        <div class="Box-header"><h3 class="Box-title">Are you sure you want to disable SAML?</h3></div>
        <div class="Box-body">
          Disabling SAML authentication for the <%= view.organization.safe_profile_name %> organization will not remove existing members.
        </div>

        <%= form_tag(settings_org_saml_provider_path(view.organization), method: :delete, class: "Box-footer") do %>
          <button type="submit" class="btn btn-block btn-danger">Disable SAML authentication</button>
        <% end %>
      </template>

      <div class="saml-settings-form" data-warn-unsaved-changes="Changes to your SAML provider settings may not be saved">
        <%= form_for(:saml, url: settings_org_saml_provider_path(view.organization, anchor: "saml-settings"), method: :put, html: { class: "js-saml-provider-settings-form", novalidate: true }) do |f| %>
          <div class="form-checkbox">
            <% if view.business_saml_configured? %>
              <input type="checkbox" checked aria-label="enable-saml-checkbox" disabled>
            <% else %>
              <input id="enable-saml-checkbox" type="checkbox" name="enable-saml-checkbox" class="js-org-enable-saml" <%= "checked" if view.show_saml_settings? %>>
              <input type="hidden" name="saml-currently-enabled" class="js-org-saml-currently-enabled" value="<%= view.organization_saml_settings_saved? ? 1 : 0 %>">
            <% end %>

            <label for="enable-saml-checkbox">Enable SAML authentication</label>

            <template id="enforce-saml-confirmation" class="d-none">
              <div class="Box-header"><h3 class="Box-title">Confirm SAML SSO enforcement</h3></div>
              <div class="Box-body overflow-auto">
                <p>Requiring SAML SSO will remove all members in the <strong><%= view.organization.safe_profile_name %></strong> organization who have not authenticated via your identity provider.</p>
                <p class="text-red"><strong><%= view.unlinked_members_count %> members will be removed from this organization</strong></p>

                <% if view.show_unlinked_members? %>
                  <div class="confirm-removal-list-container">
                    <ul class="list-style-none">
                      <% view.unlinked_saml_members.each do |member| %>
                        <li class="confirm-removal-list-item">
                          <%= avatar_for(member, 30, :class => 'avatar mr-1') %>
                          <%= member.safe_profile_name %>
                          <span class="ml-1 text-gray-light text-small text-normal"><%= member.login %></span>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
              <div class="Box-footer">
                <button type="submit" class="btn btn-block btn-danger js-org-saml-confirm-enforce-button">Remove members and require SAML single sign-on</button>
              </div>
            </template>

            <p class="note <%= "text-gray-light" if view.business_saml_configured?%>">
              Enable SAML authentication for your organization through an identity
              provider like Azure, Okta, Onelogin, Ping Identity or your custom SAML 2.0 provider.
            </p>

            <div class="js-saml-form-inputs <%= "d-none" unless view.show_saml_settings? %>">
              <% if view.organization_saml_settings_saved? %>
                <div class="Box my-4 bg-gray-light">

                  <% unless view.business_saml_settings_saved? %>
                    <div class="border-bottom p-3 d-flex flex-items-center">
                      <div>
                        <%= octicon "shield-lock", :height => 16, :class => "text-gray mr-3" %>
                      </div>
                      <p class="note">
                        <%= link_to "Save your recovery codes", settings_org_saml_provider_recovery_codes_path(view.organization) %>
                        in a safe place. If your IdP is unavailable you can use a
                        recovery code to skip single sign-on and access
                        the <%= view.organization.safe_profile_name %> organization.
                      </p>
                    </div>
                  <% end %>

                  <div class="p-3 d-flex flex-items-center">
                    <div>
                      <%= octicon "link", :height => 16, :class => "text-gray mr-3" %>
                    </div>
                    <p class="note">
                      <% if view.business_saml_configured? %>
                        The <%= view.organization.safe_profile_name %> organization single sign-on URL through the <%= view.business.name %> enterprise is
                        <%= link_to business_idm_sso_enterprise_url(view.business), business_idm_sso_enterprise_path(view.business) %>
                      <% else %>
                        The <%= view.organization.safe_profile_name %> organization single sign-on URL is <%= link_to org_idm_sso_url(view.organization), org_idm_sso_path(view.organization) %>.
                      <% end %>
                    </p>
                  </div>

                </div>
              <% end %>

              <%= f.text_group "Sign on URL", :sso_url,
                value: view.sso_url,
                error: view.sso_url_error,
                placeholder: "https://yourapp.example.com/apps/appId",
                hint: "Members will be forwarded here when signing in to your organization",
                type: :url,
                autocomplete: :off,
                disabled: view.business_saml_settings_saved? %>

              <%= f.text_group "Issuer", :issuer,
                value: view.issuer,
                error: view.issuer_error,
                placeholder: "https://example.com",
                hint: "Typically a unique URL generated by your SAML identity provider",
                type: :url,
                autocomplete: :off,
                disabled: view.business_saml_settings_saved? %>

              <%= f.text_area_group "Public certificate", :idp_certificate,
                for: "saml_idp_certificate",
                value: view.idp_certificate,
                error: view.idp_certificate_error,
                placeholder: "Paste your x509 certificate here",
                rows: 20,
                cols: 40,
                class: "saml-certificate-field",
                disabled: view.business_saml_settings_saved? %>

              <p class="note pb-2 mb-2 border-bottom js-details-container Details details-container">
                Your SAML provider is using the
                <strong class="method-value"><%= view.signature_method_label %></strong>
                <%= select_tag "saml[signature_method]", options_for_select(view.saml_signature_method_options, view.signature_method), :class => "form-select select-sm method-field" %>
                <label for="saml_signature_method" class="method-label">Signature Method</label>
                and the
                <strong class="method-value"><%= view.digest_method_label %></strong>
                <%= select_tag "saml[digest_method]", options_for_select(view.saml_digest_method_options, view.digest_method), :class => "form-select select-sm method-field" %>
                <label for="saml_digest_method" class="method-label">Digest Method</label>.
                <button type="button" class="btn-link js-details-target details-target ml-1" aria-label="Modify Signature and Digest Methods" aria-expanded="true">
                  <%= octicon "pencil" %>
                </button>
              </p>

              <p class="note">
                The assertion consumer service URL is
                <% if view.business_saml_configured? %>
                  <%= link_to "#{enterprise_url(view.business.slug)}/saml/consume", "#{enterprise_path(view.business.slug)}/saml/consume" %>.
                <% else %>
                  <%= link_to org_idm_saml_consume_url(view.organization), org_idm_saml_consume_url(view.organization) %>.
                <% end %>
              </p>

              <% unless view.business_saml_settings_saved? %>
                <div class="d-flex flex-items-baseline my-5">
                  <button id="test-saml-settings" name="test_settings" value="1" class="btn js-saml-submit" type="submit">Test SAML configuration</button>
                  <div class="d-inline-block ml-3">
                    <% if view.saml_test_failure? %>
                      <div class="test-status-indicator test-status-indicator-error d-inline-block mr-3 text-center float-left"><%= octicon("x", :class => "mx-auto") %></div>
                      <strong>Failed</strong>:
                      <%= view.saml_test_errors %>
                    <% elsif view.saml_test_success? %>
                      <div class="test-status-indicator test-status-indicator-success d-inline-block mr-3 text-center float-left"><%= octicon("check", :class => "mx-auto") %></div>
                      <strong>Passed</strong>:
                      Successfully authenticated your SAML SSO identity
                    <% else %>
                      <span class="text-small">Before enabling test your SAML SSO configuration</span>
                    <% end %>
                  </div>
                </div>

                <div class="form-checkbox <%= view.disallow_saml_enforcement? ? "saml-enforcement-disabled" : "" %>">
                  <label>
                    <%= check_box "saml", "enforced", { class: "js-org-saml-enforce", checked: view.saml_enforced?, disabled: view.disallow_saml_enforcement? } %>
                    Require SAML SSO authentication for all members of the <%= view.organization.safe_profile_name %> organization.
                  </label>
                  <input type="hidden" name="confirm-saml-enforcement" class="js-org-saml-confirm-enforcement-hidden" value="0">
                  <input type="hidden" name="saml-already-enforced" class="js-org-saml-previously-enforced" value="<%= view.saml_enforced? ? 1 : 0 %>">
                  <input type="hidden" name="org-has-unlinked-saml-members" class="js-org-has-unlinked-saml-members" value="<%= view.unlinked_saml_members.any? ? 1 : 0 %>">
                  <span class="note">
                    Requiring SAML SSO will remove all members (excluding outside collaborators) who have not authenticated their accounts. Members will receive an email notifying them about the change. Leaving this option unchecked will allow you to test before requiring.
                  </span>
                </div>

                <% if view.disallow_saml_enforcement? %>
                  <div class="mb-3 d-flex flex-items-center">
                    <div>
                      <%= octicon "info", :height => 16, :class => "text-gray mr-2" %>
                    </div>
                    <p class="note">
                    You must
                    <%= link_to "single sign-on", org_idm_sso_path(view.organization, return_to: settings_org_security_path(view.organization)) %>
                    before you can require SAML SSO for all members of the
                    <%= view.organization.safe_profile_name %> organization.
                    </p>
                  </div>
                <% end %>
                <hr class="my-4">
              <% end %>
            </div>
          </div>
          <button id="save-saml-settings" name="save_settings" value="1" class="btn js-saml-submit ml-3" type="submit" <%= "disabled" if view.saml_test_failure? || view.business_saml_configured? %>>Save</button>
        <% end %>
      </div>

      <% if view.show_team_sync_settings? %>
        <%= render_partial_view "orgs/security_settings/team_sync/settings", view %>
      <% end %>

    <% end %>
    <% if view.show_ssh_cas? %>
      <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
        <% component.slot(:heading) do %>SSH Certificate Authorities<% end %>
        <% if SshCertificateAuthority.eligible_for_feature?(view.organization) %>
          <% component.slot(:actions) do %>
            <a href="<%= ssh_certificate_authorities_new_organization_path %>" class="btn btn-sm btn-primary">New CA</a>
          <% end %>
        <% end %>
      <% end %>
      <% if !SshCertificateAuthority.eligible_for_feature?(view.organization) %>
          <p>
            This organization doesn't support SSH certificates. Upgrade to <a href="<%= GitHub.url %>/enterprise">GitHub Enterprise Cloud</a> to use SSH certificates.
          </p>
      <% elsif view.ssh_cas.any? %>
        <p>
          This is a list of SSH certificate authorities associated with this organization.
        </p>
        <ul class="Box border-bottom-0 mb-3">
          <%= render partial: "ssh_certificate_authorities/listing", collection: view.ssh_cas, as: :ca, locals: {this_owner: view.organization} %>
        </ul>

        <%= form_tag settings_org_security_ssh_cert_requirement_path(view.organization) do |f| %>
          <div class="form-checkbox">
            <input id="enable_ssh_cert_requirement_checkbox" type="checkbox" name="enable_ssh_cert_requirement" <%= "disabled" if view.organization.ssh_certificate_requirement_policy? %> <%= "checked" if view.organization.ssh_certificate_requirement_enabled? %> >

            <label for="enable_ssh_cert_requirement_checkbox">Require SSH Certificates</label>

            <p class="note text-gray-light">
              <% if GitHub.single_business_environment? %>
                Require members and collaborators to use SSH certificates for accessing this organizations's repositories. Members and collaborators will only be able to use passwords or personal access tokens if SSH access has been disabled for the repository. For more information, see <a href="<%= GitHub.help_url %>/enterprise/admin/installation/disabling-git-ssh-access-on-github-enterprise-server#disabling-git-ssh-access-to-a-specific-repository">"Disabling Git SSH access on GitHub Enterprise Server."</a> Access by authorized third-party integrations will not be affected.
              <% else %>
                Require members and collaborators to use SSH certificates for accessing this organizations's repositories. This will disable access using passwords and personal access tokens. Access by authorized third-party integrations will not be affected.
              <% end %>
            </p>
            <% if view.organization.ssh_certificate_requirement_policy? %>
              <p class="note text-gray-light">
                <strong>This requirement is enabled for the <%= view.organization.business.name %> enterprise and cannot be disabled for this organization.</strong>
              </p>
            <% end %>
          </div>
          <button type="submit" class="btn" <%= "disabled" if view.organization.ssh_certificate_requirement_policy? %>>Save</button>
        <% end %>
      <% else %>
        <p>There are no SSH certificate authorities associated with this organization.</p>
      <% end %>
    <% end %>

    <% if view.show_ip_whitelisting? %>
      <div class="Subhead Subhead--spacious">
        <div class="Subhead-heading d-flex flex-items-center">
          IP allow list
        </div>
      </div>
      <p>
        An IP allow list lets your organization limit access based on the IP address a person is accessing from.
        <%= link_to \
          "Learn more.",
          "#{GitHub.help_url}/github/setting-up-and-managing-organizations-and-teams/managing-allowed-ip-addresses-for-your-organization" %>
      </p>

      <% if !IpWhitelistEntry.eligible_for_ip_whitelisting?(view.organization) %>
        <p>
          This organization doesn't support an IP allow list. Upgrade to
          <a href="<%= GitHub.url %>/enterprise">GitHub Enterprise Cloud</a>
          to use an IP allow list.
        </p>
      <% else %>
        <div class="mb-3">
          <%= form_tag settings_org_security_update_ip_whitelisting_enabled_path(view.organization), method: :put do |f| %>
            <div class="form-checkbox">
              <input id="enable_ip_whitelisting_checkbox" type="checkbox" name="enable_ip_whitelisting"
                <%= "disabled" if view.organization.ip_whitelisting_enabled_policy? %>
                <%= "checked" if view.organization.ip_whitelisting_enabled? %> >
              <label for="enable_ip_whitelisting_checkbox">Enable IP allow list</label>
              <p class="note text-gray-light">
                Enabling will allow you to restrict access by IP address to resources owned by this organization.
              </p>
              <% if view.organization.ip_whitelisting_enabled_policy? %>
                <p class="note text-gray-light">
                  <strong>
                    IP allow list is enabled for the
                    <strong><%= view.organization.business.name %></strong>
                    enterprise and cannot be disabled for this organization.
                  </strong>
                </p>
              <% end %>
            </div>
            <button type="submit" class="btn ml-3"
              <%= "disabled" if view.organization.ip_whitelisting_enabled_policy? %>>Save</button>
          <% end %>
        </div>

        <div class="mb-3">
          <%= form_tag settings_org_security_update_ip_whitelisting_app_access_enabled_path(view.organization), method: :put do |f| %>
            <div class="form-checkbox">
              <input id="enable_ip_whitelisting_app_access_checkbox" type="checkbox" name="enable_ip_whitelisting_app_access"
                <%= "disabled" if view.organization.ip_whitelisting_app_access_enabled_policy? %>
                <%= "checked" if view.organization.ip_whitelisting_app_access_enabled? %> >
              <label for="enable_ip_whitelisting_app_access_checkbox">Enable automatic IP allow list configuration for GitHub Apps</label>
              <p class="note text-gray-light">
                Enabling will automatically set up IP allow list entries for installed GitHub Apps.
                <%= view.installed_app_ip_whitelist_entries_info %>
              </p>
              <% if view.organization.ip_whitelisting_app_access_enabled_policy? %>
                <p class="note text-gray-light">
                  <strong>
                    Automatic IP allow list configuration for GitHub Apps is enabled for the
                    <strong><%= view.organization.business.name %></strong>
                    enterprise and cannot be disabled for this organization.
                  </strong>
                </p>
              <% end %>
            </div>
            <button type="submit" class="btn ml-3"
              <%= "disabled" if view.organization.ip_whitelisting_app_access_enabled_policy? %>>Save</button>
          <% end %>
        </div>

        <% if IpWhitelistEntry.eligible_for_ip_whitelisting?(view.organization) %>
          <div class="Box mb-6 ml-3">
            <% if ip_whitelist_entries.any? || view.installed_app_ip_whitelist_entries.any? %>
              <ul class="table-list" style="table-layout: auto;">
                <li class="table-list-item bg-gray text-gray-dark">
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 pl-3" style="min-width: 140px;">IP address</span>
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 ">Description</span>
                  <span class="table-list-cell border-top-0 text-bold f5 py-3 pr-3"></span>
                </li>
                <%= render partial: "ip_whitelist_entries/entry",
                  collection: view.installed_app_ip_whitelist_entries, as: :entry, locals: { this_owner: view.organization, override_disabled: !view.organization.ip_whitelisting_app_access_enabled? } %>
                <%= render partial: "ip_whitelist_entries/entry",
                  collection: ip_whitelist_entries, as: :entry, locals: { this_owner: view.organization } %>
              </ul>
              <div class="paginate-container hidden-when-empty"><%= will_paginate ip_whitelist_entries %></div>
            <% else %>
              <div class="Box-body text-center text-gray py-6">
                There are no IP addresses on the allow list yet.
              </div>
            <% end %>

            <%= form_for IpWhitelistEntry.new, url: organization_ip_whitelist_entries_path(view.organization) do |f| %>
              <div class="Box-footer d-flex">
                <%= render partial: "ip_whitelist_entries/edit_entry",
                  object: IpWhitelistEntry.new, as: :entry, locals: { this_owner: view.organization, f: f } %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if view.show_automated_security_fix_settings? %>
      <div class="Subhead Subhead--spacious" id="automated-security-fixes">
        <h2 class="Subhead-heading d-flex flex-items-center">
          Dependabot security updates
        </h2>
      </div>
      <p class="mb-3">
        Dependabot security updates will attempt to create pull requests to update vulnerable dependencies.
        <% if view.organization.vulnerability_updates_enabled? %>
          We'll enable Dependabot security updates in every active repository associated
          with this organization that uses Dependabot alerts and the dependency
          graph over the next few months.
        <% end %> <a href="<%= GitHub.dependabot_help_url %>" target="_blank">Learn more</a>.
      </p>

      <%= form_tag settings_org_security_update_automated_security_fixes_opt_out_path(view.organization), method: :put do |f| %>
        <div class="form-checkbox">
          <input type="checkbox" name="automated_security_fixes_opt_out" id="automated-security-fixes-opt-out-checkbox"
                aria-describedby="automated-security-fixes-opt-out-description"<% unless view.organization.vulnerability_updates_enabled? %> checked<% end %>>
          <label for="automated-security-fixes-opt-out-checkbox">Opt out of Dependabot security updates</label>
          <span class="note" id="automated-security-fixes-opt-out-description">
            This will disable Dependabot security updates on all repositories associated with this organization.
          </span>
        </div>
        <button type="submit" class="btn ml-3">Save</button>
      <% end %>
    <% end %>
  </div>
<% end %>
