<%= hidden_field_tag "sponsors_listing[featured_repos_selection][]", "" %>
<ul class="overflow-auto js-sponsors-featured-item-selection-list" data-featured-items-limit="<%= featured_repos_limit %>">
  <% repositories.each do |repo| %>
    <% selected = current_featured_repos.include?(repo) %>
    <li class="Box-row border-0" <%= test_selector("sponsors-featured-repos-search-#{repo.id}") %>>
      <input
        name="sponsors_listing[featured_repos_selection][]"
        value="<%= repo.id %>"
        type="checkbox"
        <%= "disabled" if current_featured_repos.size == featured_repos_limit && !selected %>
        <%= "checked" if selected %>
        aria-label="Showcase <%= repo.name %> in your Sponsors profile"
        class="mr-2">

      <%= render GitHub::OcticonComponent.new(icon: "repo", aria: { label: repo.name }) %>
      <strong class="ml-1"><%= repo.name_with_owner %></strong>
      <%= render(Primer::LinkComponent.new(
        href: gh_stargazers_path(repo),
        muted: true,
        float: :right,
      )) do %>
        <%= number_with_delimiter repo.stargazer_count %>
        <%= render(GitHub::OcticonComponent.new(icon: "star")) %>
      <% end %>
    </li>
  <% end %>
</ul>
