<div class="form-checkbox bg-gray rounded-2 mt-5 p-3">
  <label class="d-flex">
    <%= check_box "sponsors_listing", "featured_state", checked: !@sponsorable.sponsors_membership.featured_disabled?, "aria-describedby": "featured-opt-in-description", "class": "mr-2 ml-0" %>
    <div>
      Opt-in to potentially being featured on <%= link_to "github.com/sponsors", sponsors_path %>
      <p class="note" id="featured-opt-in-description">
        This is another way for potential sponsors to find you. We'll show your avatar and short bio on the Sponsors page.
      </p>
    </div>
  </label>
</div>
