<%= form_tag(sponsorable_dashboard_profile_meet_the_team_path(@sponsorable),
      method: :get,
      id: "sponsors-featured-users-search-form",
      "data-autosearch-results-container": "sponsors-featured-users-search-container",
      data: test_selector_hash("sponsors-meet-the-team-form")) do
%>
<% end %>
