<div class="d-flex flex-justify-between mt-5 mb-3" <%= test_selector("sponsors-dashboard-meet-the-team") %>>
  <div class="mr-1">
    <label class="f4">Meet the team <span class="f5 text-gray text-normal">(optional)</span></label>
    <p class="note">
      Highlight members of the <%= @sponsorable.login %> organization on your GitHub Sponsors profile
    </p>
  </div>
  <div class="ml-1">
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="btn btn-outline px-4" aria-haspopup="dialog">Edit</summary>
      <details-dialog
        class="Box Box--overlay anim-fade-in fast"
        src="<%= edit_sponsorable_dashboard_profile_meet_the_team_path(@sponsorable) %>"
        preload>
        <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </details-dialog>
    </details>
  </div>
</div>

<ol class="list-style-none js-sponsors-sortable-list mb-4">
  <% featured_users.each do |item| %>
    <% user = item.featureable %>
    <li class="Box col-12 d-flex rounded-2 mb-2 p-3 sponsors-listing-featured-item js-sponsors-sortable-item" <%= test_selector("sponsors-featured-user-#{user.login}") %>>
      <%= linked_avatar_for(user, 50, img_class: "avatar mr-3") %>
      <div class="flex-auto position-relative">
        <p>
          <strong><%= user.profile&.name %></strong>
          <span class="text-gray"><%= user.login %></span>
        </p>
        <%= hidden_field_tag "sponsors_listing[featured_users][][id]", item.id, id: "featured_item_#{item.id}" %>
        <%= hidden_field_tag "sponsors_listing[featured_users][][featureable_id]", user.id, id: "featured_user_#{user.login}" %>
        <input type="text" name="sponsors_listing[featured_users][][description]" value="<%= item.description %>" class="input-block form-control" aria-label="Featured member description" placeholder="Add a description (optional)">

        <div class="position-absolute top-0 right-0">
          <span class="item-handle js-sponsors-sortable-item-handle pl-2" title="Drag to reorder">
            <%= octicon(:grabber) %>
          </span>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="up"><%= octicon "chevron-up", "aria-label": "Move #{user.login} up" %></button>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="down"><%= octicon "chevron-down", "aria-label": "Move #{user.login} down" %></button>
        </div>
      </div>
    </li>
  <% end %>
</ol>
