<div class="clearfix">
  <dl class="form-group mt-0 mb-0">
    <dt class="mb-3">
      <label class="f4" for="sponsors-short-bio">
        Short bio (<%= SponsorsMembership::MAX_FEATURED_DESCRIPTION_LENGTH %> characters)
      </label>
      <p class="note mt-0" id="help-text-for-short-bio">
        This is used where your sponsorship is shared
        (e.g., social cards and <%= link_to "github.com/sponsors", sponsors_path %> if you opt-in to be featured).
      </p>
    </dt>
    <dd class="js-length-limited-input-container width-full col-12 col-lg-8">
      <textarea rows="3"
                maxlength="<%= SponsorsMembership::MAX_FEATURED_DESCRIPTION_LENGTH %>"
                class="form-control js-length-limited-input"
                style="height: 80px; min-height: 80px;"
                name="sponsors_listing[short_description]"
                id="sponsors-short-bio"
                data-input-max-length="<%= SponsorsMembership::MAX_FEATURED_DESCRIPTION_LENGTH %>"
                data-warning-text="{{remaining}} remaining"
                aria-describedby="help-text-for-short-bio"
                <%= test_selector "sponsors-short-bio-input" %>><%= @sponsorable.sponsors_membership.featured_description %></textarea>
      <div class="d-flex flex-justify-end mr-2">
        <p class="v-hidden">remaining characters</p>
        <p class="js-length-limited-input-warning d-none text-red"></p>
      </div>
    </dd>
  </dl>
</div>
