<div class="boxed-group-inner">
  <% if coupons.empty? %>
    <p>No coupons found.</p>
  <% else %>
    <ul class="boxed-group-list standalone">
      <% coupons.each do |coupon| %>
        <li>
          <%= link_to biztools_coupon_path(coupon) do %>
            <%= coupon.code %>
            <span class='text-gray'>
              &ndash; <%= view.human_details coupon %>
            </span>
            <strong class='float-right'><%= view.expiration coupon %></strong>
          <% end %>
          <p class='small'>
            <% if view.single_use? coupon %>
              <% if (user = coupon.users.first) %>
                Used by
                <% if site_admin? %>
                  <%= link_to(user.to_s, stafftools_user_path(user)) %>
                <% else %>
                  <%= user.to_s %>
                <% end %>
              <% else %>
                <% if coupon.business_plus_only_coupon? %>
                  Unused - <%= link_to("Trial", business_try_url(:code => coupon.code)) %>
                <% else %>
                  Unused
                <% end %>
              <% end %>
            <% else %>
              <%= view.usage(coupon) %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
