<div class="boxed-group">
  <h3>Search For Accounts</h3>
  <div class="boxed-group-inner">
    <p><label for="account-search">Search account redemption history</label></p>
    <%= form_tag "", :id => "account-redemption-lookup", :method => :get do %>
      <p>
        <input class="form-control" type="text" required placeholder="account name" id="account-search" value="<%= params[:user_id] %>">
        <button class="btn" type="submit">Search</button>
      </p>
    <% end %>
    <hr>
    <%= form_tag "", :id => "account-opensource-lookup", :method => :get do %>
    <p><label for="account-opensource-search">Search open source coupon eligibility</label></p>
      <p>
        <input class="form-control" type="text" required placeholder="account name" id="account-opensource-search" value="<%= params[:user_id] %>">
        <button class="btn" type="submit">Search</button>
      </p>
    <% end %>
  </div>
</div>
