<%# rubocop:disable Lint/InstanceVariable %>

<%= f.text_group "Code", :code, :value => @coupon.try(:code),
                 :error => error_for(@coupon, :code),
                 :hint => "A string users can enter to redeem this coupon." %>

<div class="form-checkbox">
  <label>
    <%= check_box_tag :business_plus %>
    Apply to GHEC
  </label>
  <p class="note">Does this coupon apply to GitHub Enterprise Cloud?</p>
</div>

<div class="form-checkbox">
  <label>
    <%= f.check_box :staff_actor_only %>
    Applicable by staff only
  </label>
  <p class="note">Users will not be able to redeem this coupon themselves.</p>
</div>

<dl class="form-group">
  <dt><label for="coupon_duration">Duration</label></dt>
  <dd>
    <%= f.select :duration, @coupon.fun_durations %>
    <p class="note">How long is this discount applied to the account?</p>
  </dd>
</dl>

<dl class="form-group">
  <dt class="input-label">
    <label for="coupon_expires_at">Expiration date</label>
  </dt>
  <dd>
    <input type="date" class="form-control" id="coupon_expires_at" name="coupon[expires_at]" size="30" value="<%= @coupon&.form_expires_at %>">
    <p class="note">When does this coupon expire? Expired coupons can no longer be redeemed.</p>
  </dd>
</dl>

<%= f.text_group "Limit", :limit, :value => @coupon.try(:limit),
                 :error => error_for(@coupon, :limit),
                 :hint => "How many times can this coupon be redeemed?" %>

<%= f.select_group "Group", :group, Coupon::GROUP_NAMES,
                   {:include_blank => ''},
                   :error => error_for(@coupon, :group),
                   :hint => "A simple label to help organization."%>

<%= f.text_area_group "Notes", :note, :value => @coupon.try(:note),
                      :class => 'short', :error => error_for(@coupon, :note),
                      :placeholder => "Any information that may help other hubbies figure out why you created this coupon. Links to support emails are handy!" %>
