<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Edit coupon #{@coupon}", :selected_link => :admin_coupons %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>
      Edit coupon <%= @coupon %>
    </h3>

    <div class="boxed-group-inner">
      <%= form_for([:biztools, @coupon], :method => :put) do |f| %>

        <%= f.text_group "Monthly discount", :discount,
                         :placeholder => '$7 or 10%',
                         :hint => "To grant $600 off over one year, enter '$50' here",
                         :value => @coupon.try(:human_discount),
                         :error => error_for(@coupon, :discount) %>

        <%= render :partial => "biztools/coupons/shared_form_fields", :locals => {:f => f} %>

        <div class="form-actions">
          <button type="submit" class="btn">Update coupon</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
