<%# erblint:disable DeprecatedCustomCss %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= message.subject %></title>

    <%# Start with Ink by ZURB. See http://zurb.com/ink/ for docs %>
    <style>
      <%= render :partial => "mailers/layouts/ink", :formats => [:scss] %>
    </style>

    <%# General styles for this email layout %>
    <style>
      <%= render :partial => "mailers/layouts/styles/html_email_styles", :formats => [:css] %>
      .email-body {
        border: none !important;
        box-shadow: none;
        width: 100%;
      }
    </style>

    <% if yield(:email_styles) && !yield(:email_styles).empty? %>
      <%# Email specific styles %>
      <style>
        <%= yield :email_styles %>
      </style>
    <% end %>

  </head>
  <body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="">

    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>

            <table class="container">
              <tr>
                <td>
                  <table class="wrapper email-body">
                    <tr>
                      <td>
                        <div class="email-content">
                          <div class="wordmark">
                            <img src="<%= GitHub.mailer_asset_host_url %>/images/email/global/wordmark.png" width="102" height="28">
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-pad">

                        <div class="email-content">

                          <%= yield %>

                        </div>

                      </td>
                    </tr>
                  </table>

                  <table class="email-footer" style="margin-top: 24px;" >
                    <tr>
                      <td class="center" align="center">
                        <center>
                          <p class="footer-text">
                            Sent with &lt;3 by <strong>GitHub</strong>.<br>
                            <%= github_physical_address(multiline: true) %>
                          </p>
                        </center>
                      </td>
                      <td class="expander"></td>
                    </tr>
                  </table>

                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>

  </body>
</html>
