<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= @subject %></title>
    <%= primer_email_stylesheet_tag %>
  </head>
  <body>
    <table align="center" class="container-sm width-full" width="100%">
      <tr>
        <td class="center p-3" align="center" valign="top">
          <center>
            <%= render(Mail::ContainerComponent.new(classes: "container-md")) do %>
              <%= render(Mail::SpacerComponent.new(size: 16)) %>
              <table border="0" cellspacing="0" cellpadding="0" align="left" width="100%">
                <tr>
                  <td class="text-left">
                    <img src="<%= GitHub.mailer_asset_host_url %>/images/email/global/octocat-logo.png" alt="GitHub" width="32">
                    <h2 class="lh-condensed mt-2 text-normal">
                      <%= yield :header %>
                    </h2>
                  </td>
                </tr>
              </table>
              <%= render(Mail::SpacerComponent.new(size: 16)) %>
            <% end %>
            <table width="100%" class="width-full">
              <tr>
                <td class="border rounded-2 d-block">
                  <table align="center" class="width-full text-center">
                    <tr>
                      <td class="p-3 p-sm-4">
                        <%= render(Mail::ContainerComponent.new) do %>
                          <%= yield %>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <%= render(Mail::ContainerComponent.new(classes: "text-center")) do %>
              <%= render(Mail::SpacerComponent.new(size: 16)) %>
                <% if @footer_links %>
                  <p class="f6">
                    <% @footer_links.each_with_index do |link, index| %>
                      <a href="<%= link[:url] %>" class="d-inline-block"><%= link[:text] %></a> <% unless index == @footer_links.size - 1 %>・<% end %>
                    <% end %>
                  </p>
                <% end %>
              <%= render(Mail::SpacerComponent.new(size: 16)) %>
              <p class="f5 text-gray-light"><%= yield :footer_text %></p>
            <% end %>
            <%= render partial: "mailers/shared/footer_mailing_address" %>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>
