<li>
  <button type="submit" name="author" value="" class="select-menu-item width-full" role="option" data-autocomplete-value=" ">
    <div class="select-menu-item-text">
      <span class="select-menu-item-heading">
        Clear selected author
      </span>
    </div>
  </button>
</li>
<% view.suggestions.each do |user| %>
  <li>
    <button type="submit" name="author" value="<%= user.login %>" class="select-menu-item width-full" role="option" data-autocomplete-value="<%= user.login %>">
      <div class="select-menu-item-gravatar">
        <%= avatar_for user, 20 %>
      </div>

      <div class="select-menu-item-text">
        <span class="select-menu-item-heading">
          <%= user.login %>
          <span class="description"><%= user.name %></span>
        </span>
      </div>
    </button>
  </li>
<% end %>
<% if view.map_by_email? %>
  <li>
    <button type="submit" name="author" value="<%= view.query %>" class="select-menu-item width-full" role="option" data-autocomplete-value="<%= view.query %>">
      <div class="select-menu-item-text">
        <span class="select-menu-item-heading">
          <div><%= view.query %></div>
          <span class="description">Attribute without linking to GitHub user</span>
        </span>
      </div>
    </button>
  </li>
<% end %>
