<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:disable DeprecatedInPrimer %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= message.subject %></title>

    <%# General styles for this email layout %>
    <style>
      <%= render :partial => "mailers/layouts/styles/invitation_email_styles", :formats => [:css] %>
    </style>

    <% if content_for?(:email_styles) %>
      <%# Email specific styles %>
      <style>
        <%= yield :email_styles %>
      </style>
    <% end %>

  </head>
<body bgcolor="#fafafa" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>
        <!--email content-->

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <div class="mark" style="text-align: center;">
                                <!-- add UTM params to URL -->
                                <a href="<%= GitHub.url %>">
                                  <img alt="GitHub, Inc." class="center logo-wordmark" src="<%= GitHub.mailer_asset_host_url %>/images/email/global/wordmark.png" width="102" height="28">
                                </a>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table><!--/.twelve.columns-->

                      </td>
                    </tr>
                  </table><!--/.container-->

                </center>
              </td>
            </tr>
          </table><!--/.row.header-->

          <table class="container">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <div class="panel">

                        <table class="twelve columns">
                          <tr>
                            <td style="padding-bottom: 0;">

                              <div class="email-content">

                                <%= yield %>

                              </div><!--/.content-->

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table><!--/.twelve-columns-->

                      </div><!--/.panel-->

                    </td>
                  </tr>
                </table><!--/.row-->

              </td>
            </tr>
          </table><!--/.container-->

          <table class="row layout-footer">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>
                              <div class="footer-links">
                                <!-- links need UTM params -->
                                <% if @invitation %>
                                  <p class="footer-text"><%= link_to "Opt out", show_org_invitation_opt_out_confirmation_url(@org, invitation_token: @invitation_token) %> of future invitations from this organization.</p>
                                <% end %>
                                <p class="footer-text"><%= link_to "Manage your #{GitHub.flavor} email preferences", settings_user_emails_url %></p>
                                <p class="footer-text">
                                  <% unless GitHub.enterprise? %>
                                    <a href="<%= GitHub.help_url %>/articles/github-terms-of-service/">Terms</a> &bull;
                                    <a href="<%= GitHub.help_url %>/articles/github-privacy-policy/">Privacy</a> &bull;
                                  <% end %>
                                  <a href="<%= GitHub.url %>/login">Log in to <%= GitHub.flavor %></a>
                                </p>
                              </div>
                              <div class="content">
                                <!-- add UTM params to URL -->
                                <a href="<%= GitHub.url %>">
                                  <img class="logo-invertocat" src="<%= GitHub.mailer_asset_host_url %>/images/email/global/footer-mark.png" width="40" height="38">
                                </a>
                              </div>
                              <div class="content">
                                <p class="footer-text">GitHub, Inc.</p>
                                <p class="footer-text">88 Colin P Kelly Jr Street</p>
                                <p class="footer-text">San Francisco, CA 94107</p>
                              </div>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table><!--/.twelve.columns-->

                      </td>
                    </tr>
                  </table><!--/.container-->

                </center>
              </td>
            </tr>
          </table><!--/.row.footer-->

        <!--/email content-->
        </center>
      </td>
    </tr>
  </table><!--/.body-->
</body>
</html>
