<div class="col-12 col-md-6 col-lg-4 col-xl-4 d-flex flex-column px-2" <%= test_selector("workflow-template-partner") if workflow_template.partner%>>
  <div class="Box rounded-2 d-flex flex-column overflow-hidden width-full flex-auto mb-4">
    <div class="d-flex flex-justify-between px-4 pt-3 pb-4" style="min-height: 136px">
      <div class="pr-4">
        <h4 class="lh-condensed mb-1"><%= workflow_template.name %></h4>

        <p class="text-gray-light f6">
          <% if workflow_template.from_owner? %>
            <span class="v-align-middle"><%= avatar_for(current_repository.owner, 16, class: "rounded-1") %></span>
          <% end %>
          By
          <% if workflow_template.creator_name.present? %>
            <%= workflow_template.creator_name %>
          <% else %>
            <%= profile_link(current_repository.owner, class: "link-gray-dark") do %><%= current_repository.owner.safe_profile_name %><% end %>
          <% end %>
        </p>

        <p class="text-gray-light f6 mb-2">
          <%= workflow_template.description %>
        </p>

        <% path = new_file_path(current_repository.owner, current_repository, current_branch_or_tag_name, filename: workflow_template.default_file_name, workflow_template: workflow_template.id) %>

        <%
          hydro_tracking = hydro_click_tracking_attributes("actions.onboarding_setup_workflow_click", {
            repository_id: current_repository.id,
            workflow_template: workflow_template.id
          })
        %>
        <%= link_to "Set up this workflow", path, class: "btn btn-sm", "data-hydro-click": hydro_tracking["hydro-click"], "data-hydro-click-hmac": hydro_tracking["hydro-click-hmac"] %>
      </div>
      <div>
        <div class="CircleBadge CircleBadge--small bg-white" style="color: <%= workflow_template.lang_color %>">
          <% if workflow_template.icon_name.include? "octicon" %>
            <% icon = workflow_template.icon_name.split[1].split(".").first %>
            <%= octicon("#{icon}", width: "22px", height: "22px") %>
          <% else %>
            <% if workflow_template.icon_raw_url.blank? %>
              <img class="CircleBadge-icon" src="<%= image_path "icons/actions/#{workflow_template.icon_name}" %>" alt="<%= workflow_template.name %> logo">
            <% else %>
              <img class="CircleBadge-icon" src="<%= workflow_template.icon_raw_url %>" alt="<%= workflow_template.name %> logo">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-auto flex-justify-end">
      <div class="d-flex flex-justify-between flex-items-center pt-2 pb-3 px-4">
        <a href="<%= workflow_template.template_url %>" class="d-flex flex-items-center text-small muted-link no-wrap overflow-hidden">
          <%= octicon("repo", class: "mr-1 flex-shrink-0") %>
          <span class="mr-1 width-full overflow-hidden" style="text-overflow: ellipsis;">
            <%= workflow_template.source_repository %>
          </span>
        </a>
        <div class="d-flex flex-items-center flex-auto flex-justify-end no-wrap overflow-hidden">
          <% if workflow_template.partner %>
            <span
                class="text-gray-light text-small overflow-hidden width-full text-right"
                style="text-overflow: ellipsis;"
              >
                Deployment
              </span>
          <% elsif workflow_template.language %>
            <% if workflow_template.show_filter %>
              <a
                class="text-gray-light text-small overflow-hidden width-full text-right"
                href="<%= actions_onboarding_path(category: workflow_template.language) %>"
                style="text-overflow: ellipsis;"
              >
                <%= workflow_template.language %>
              </a>
            <% else %>
              <span
                class="text-gray-light text-small overflow-hidden width-full text-right"
                style="text-overflow: ellipsis;"
              >
                <%= workflow_template.language %>
              </span>
            <% end %>
          <% end %>
          <span class="repo-language-color ml-2 top-0 flex-shrink-0" style="background-color: <%= workflow_template.lang_color %>"></span>
        </div>
      </div>
    </div>
  </div>
</div>
