<% view = BusinessUserAccounts::MemberView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to organizations_enterprise_user_account_path(user_account), class: "issues-reset-query" do %>
      <%= octicon "x", class: "issues-reset-query-icon" %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= pluralize organizations.total_entries, "organization" %>
  </span>

  <div class="table-list-header-toggle pl-0">
    <details class="details-reset details-overlay select-menu d-inline-block">
      <summary class="btn-link select-menu-button">
        Role
      </summary>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by role</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= organizations_enterprise_user_account_path(user_account, query: view.apply_query_filters(role: nil)) %>"
             class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["OWNER"].value %>
          <a href="<%= organizations_enterprise_user_account_path(user_account, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Owner</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["MEMBER"].value %>
          <a href="<%= organizations_enterprise_user_account_path(user_account, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Member</div>
          </a>
        </div>
      </details-menu>
    </details>
  </div>
</div>

<% if organizations.total_entries > 0 %>
  <ul>
    <% organizations.each do |organization| %>
      <li class="d-flex flex-items-center flex-justify-between border border-top-0 p-3">
        <%= render partial: "business_user_accounts/organization_membership",
          locals: { organization: organization } %>

        <div class="text-gray-light f5 text-right mr-1">
          <%= organization.adminable_by?(user_account&.user) ? "Owner" : "Member" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate organizations %>
  </div>
<% elsif query.present? %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "search",
    title: "No organizations found",
    description: "This user isn't a member of any enterprise organizations matching '#{query}'.",
  )) %>
<% else %>
  <%= render(Primer::BlankslateComponent.new(
    icon: "person",
    title: "No organizations found",
    description: "This user isn't a member of any enterprise organizations.",
  )) %>
<% end %>
