<div class="d-flex">
  <div class="mr-3">
    <%= link_to user_path(organization) do %>
      <%= avatar_for(organization, 48, class: "avatar") %>
    <% end %>
  </div>

  <div>
    <% if organization.profile_name.present? %>
      <%= link_to user_path(organization), class: "f4 d-block width-fit" do %>
        <%= organization.profile_name %>
      <% end %>
      <span class="d-block f5 text-gray" itemprop="name"><%= organization.login %></span>
    <% else %>
      <%= link_to user_path(organization), class: "f4 d-block " do %>
        <%= organization.login %>
      <% end %>
    <% end %>
  </div>
</div>
