<%# erblint:counter TooltipCounter 1 %>
<div class="col-4">
  <div class="Box mb-3">
    <div class="Box-row">
      <div class="d-flex flex-items-center">
        <% if view.user&.spammy? %>
          <%= business_user_avatar(view.user, 32, class: "avatar-small mr-2 mt-1") %>
        <% else %>
          <a href="<%= user_path(view.user) %>" class="text-bold"
            <%= safe_data_attributes(hovercard_data_attributes_for_user(view.user)) %>>
            <%= business_user_avatar(view.user, 32, class: "avatar-small mr-2 mt-1") %>
          </a>
        <% end %>
        <div>
          <% unless view.user&.spammy? %>
           <%= profile_link(view.user, class: "css-truncate css-truncate-target text-bold d-block") %>
          <% end %>
         <span class="css-truncate css-truncate-target<% if view.user&.spammy? %> text-bold<% end %>" title="<%= view.primary_name %>" itemprop="name"><%= view.primary_name %></span>
        </div>
      </div>
    </div>
    <div class="Box-row position-relative">
      <% view.user_roles.each do |role| %>
        <div>
            <span class="tooltipped tooltipped-s float-right" aria-label="<%= role[:description] %>">
              <%= octicon('question') %>
            </span>
          <%= role[:name] %>
        </div>
      <% end %>
    </div>
    <ul class="Box-footer Box-row--gray manage-member-meta">
      <% unless view.business_user_account.nil? %>
        <li class="manage-member-meta-item">
          <%= octicon('organization') %>
          <a class="btn-link" href="<%= organizations_enterprise_user_account_path(view.business_user_account.id) %>">
            <%= pluralize view.organization_count, "organization" %>
          </a>
        </li>
      <% end %>
      <% if view.role.types.include?(:outside_collaborator) %>
        <li class="manage-member-meta-item">
          <%= octicon('repo') %>
          <a class="btn-link" href="<%= outside_collaborator_enterprise_path(view.business.slug, view.user.login) %>">
            <%= pluralize view.collab_repo_count, "collaborator repository" %>
          </a>
        </li>
      <% end %>
      <% unless view.business_user_account.nil? %>
        <li class="manage-member-meta-item">
          <%= octicon('server') %>
          <a class="btn-link" href="<%= enterprise_installations_enterprise_user_account_path(view.business_user_account.id) %>">
            <%= pluralize view.installation_count, "installation" %>
          </a>
        </li>
      <% end %>
      <% if view.show_two_factor_status? %>
        <li class="manage-member-meta-item">
          <% if view.user.two_factor_authentication_enabled? %>
            <%= octicon("lock") %>
            Two-factor security <strong>enabled</strong>
          <% else %>
            <%= octicon("alert") %>
            <span class="text-red">
                Two-factor security <strong>disabled</strong>
              </span>
          <% end %>
        </li>
      <% end %>
      <% if view.show_sso_status? %>
        <li class="manage-member-meta-item">
          <%= octicon("shield-lock") %>
          <% if view.business_user_account.nil? %>
            No SAML identity linked
          <% else %>
            <a class="btn-link" href="<%= sso_enterprise_user_account_path(view.business_user_account.id) %>">
              <%= view.sso_status %>
            </a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
