<%
  primary_name = user_account.name.present? ? user_account.name : user_account.login
  secondary_name = user_account.name.present? ? user_account.login : nil
  business = user_account.business
%>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="text-gray f2-light"><%= secondary_name %></span>
  <% end %>
  <% if user_account&.user&.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info responsive: false, title: "#{business.name} - #{primary_name}",
  selected_link: :business_people,
  stafftools: business_stafftools_resource_path(business) %>

<%= render layout: "businesses/layout", locals: {
    business: business,
    title: title,
    back_to_link_path: people_enterprise_path(business),
    back_to_link_text: "members"
  } do %>

  <div class="gutter d-flex">
    <%= render_partial_view "business_user_accounts/sidebar", BusinessUserAccounts::SidebarView,
      {
        business: user_account.business,
        user: user_account.user,
        business_user_account: user_account,
        organization_count: organizations.total_entries,
        installation_count: installation_count,
        collab_repo_count: outside_collaborator_repositories_count
      }
    %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <div class="d-flex">
          <%= form_tag organizations_enterprise_user_account_path(user_account), method: :get,
            class: "subnav-search float-left ml-0", "data-autosearch-results-container" => "organizations-list" do %>
            <div class="auto-search-group mr-2">
              <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field"
                type="text"
                name="query"
                value="<%= params[:query] %>"
                placeholder="Find an organization…"
                aria-label="Find an organization…"
                autocomplete="off"
                data-throttled-autosubmit>
              <%= octicon('search') %>
              <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
            </div>
          <% end %>

          <% unless GitHub.single_business_environment? %>
            <nav aria-label="Enterprise Membership type">
              <%= selected_link_to "Cloud",
                organizations_enterprise_user_account_path(user_account),
                highlight: %i(cloud server),
                class: "subnav-item" %>
              <%= selected_link_to "Server",
                enterprise_installations_enterprise_user_account_path(user_account),
                highlight: %i(cloud server),
                class: "subnav-item" %>
            </nav>
          <% end %>
        </div>

        <% if pending_invitations_count > 0 %>
          <div class="d-flex">
            <%= link_to "#{pending_invitations_count} pending",
              member_invitations_enterprise_path(business.slug, user_account.login),
              class: "btn btn-outline",
              title: "Pending invitations" %>
          </div>
        <% end %>
      </div>

      <div id="organizations-list" data-pjax-container>
        <%= render "business_user_accounts/organizations_list",
          user_account: user_account,
          organizations: organizations,
          query: query %>
      </div>
    </div>
  </div>
<% end %>
