<%# `view` is an instance of Sso::ShowView %>

<%
  primary_name = user_account.name.present? ? user_account.name : user_account.login
  secondary_name = user_account.name.present? ? user_account.login : nil
  business = user_account.business
%>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="text-gray f2-light"><%= secondary_name %></span>
  <% end %>
  <% if user_account&.user&.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info responsive: false, title: "#{business.name} - #{view.page_title}",
  selected_link: :business_people,
  stafftools: business_stafftools_resource_path(business) %>

<%= render layout: "businesses/layout", locals: {
  business: business,
  title: title,
  back_to_link_path: people_enterprise_path(business),
  back_to_link_text: "members"
} do %>
  <div class="gutter d-flex">
    <%= render_partial_view "business_user_accounts/sidebar", BusinessUserAccounts::SidebarView,
      {
        business: user_account.business,
        user: user_account.user,
        business_user_account: user_account,
        organization_count: organization_count,
        installation_count: installation_count,
        collab_repo_count: outside_collaborator_repositories_count
      }
    %>

    <div class="col-9">
      <% if view.external_identity %>
        <%= render "shared/sso/user_data", view: view %>

        <%= render "shared/sso/sessions", view: view %>
      <% else %>
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading) do %>Linked SSO identity<% end %>
        <% end %>
        <%= render Primer::BlankslateComponent.new(
          icon: "link",
          title: "No linked account",
          description: "It doesn’t look like #{view.member} has linked their account to your enterprise account's SAML identity provider.",
        ) %>
      <% end %>

      <% if view.cloud_member? %>
        <%= render "business_user_accounts/authorized_credentials", view: view %>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
