<%# rubocop:disable Lint/InstanceVariable %>
<% view = OauthTokens::ScopeView.new(scope: scope.name) %>

<% if  (current_user.preview_features? || Api::AccessControl.grantable?(scope.name)) %>
  <% checked ||= Array(@access.scopes).include?(scope.name) %>
  <li
    class="personal-access-tokens js-check-scope-container"
    data-scope-for="<%= scope.name %>">
    <label>
      <div class="token-scope">
        <% unless view.related_scope_families(scope.name).empty? %>
          <%= check_box_tag "oauth_access[scopes][]", scope.name, checked, {
            id: nil,
            class: 'js-checkbox-scope',
            "data-check-related-scopes": view.related_scope_families(scope.name).join(" ")
          } %>
        <% else %>
          <%= check_box_tag "oauth_access[scopes][]", scope.name, checked, :id => nil, :class => 'js-checkbox-scope' %>
        <% end %>
        <%= scope.name %>
      </div>

      <p class="text-gray">
        <%= scope.description.to_s.capitalize %>
        <%= link_to("(Developer Preview)", preview_docs_url, :target => "_blank") if local_assigns[:preview_docs_url] %>
      </p>
    </label>

    <% if scope.send(:children).any? %>
      <% child_scopes = Api::AccessControl.child_scopes(scope) %>
      <ul class="child-scopes">
        <%= render :partial => "oauth_tokens/scope", :collection => child_scopes, :as => :scope, :locals => { :checked => checked } %>
      </ul>
    <% end %>
  </li>
<% end %>
