<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% f = token_form %>
<%=
  f.text_group  "Note", :description,
    :autofocus   => true,
    :hint        => "What’s this token for?",
    :error       => error_for(@access, :note),
    :class       => "wide"
%>

<div class="form">
  <dl class="form-group">
    <dt><strong>Select scopes</strong></dt>
    <dd>
      <p>
        Scopes define the access for personal tokens. <a href="<%= GitHub.developer_help_url %>/apps/building-oauth-apps/scopes-for-oauth-apps/" target="_blank">Read more about OAuth scopes.</a>
      </p>
      <div class="listgroup personal-access-tokens-group">
        <ul class="boxed-group-list personal-access-tokens">
          <%
            display_scopes = %w(
              repo
              write:packages
              read:packages
              delete:packages
              admin:org
              admin:public_key
              admin:repo_hook
              admin:org_hook
              gist
              notifications
              user
              delete_repo
              write:discussion
              admin:enterprise
            )
            display_scopes.push("workflow") unless GitHub.enterprise?
            display_scopes.push("admin:pre_receive_hook") if GitHub.enterprise?
            display_scopes.push("site_admin") if current_user.site_admin?
          %>
          <% scopes = Api::AccessControl.scopes.slice(*display_scopes).values %>
          <%= render :partial => "oauth_tokens/scope", :collection => scopes, :as => :scope %>
          <%= render(
            :partial => "oauth_tokens/scope",
            :locals => {
              :scope => Api::AccessControl.scopes["admin:gpg_key"],
              :preview_docs_url => "#{GitHub.developer_help_url}/changes/2016-04-04-git-signing-api-preview/",
            }
          ) %>
        </ul>
    </div>
    </dd>
  </dl>
  </div>
