<% page_info responsive: false, :title => 'Personal Access Tokens', :selected_link => :oauth_tokens %>

<% content = capture do %>
  <%= render "oauth_tokens/tokens", view: view %>
<% end %>

<%= render layout: "settings/developer_settings" do %>
  <%= content %>
<% end %>
