<%# `view` is an instance of Stafftools::User::ShowView %>
<div class="site-admin-box">
  <h4>
    <%= octicon("info") %>
    <%= avatar_for(view.user, 50) %>
    <%= link_to "#{view.user.class} info", overview_stafftools_user_path(view.user) %>
  </h4>
  <ul class="site-admin-detail-list">
    <li>
      <%= octicon("octoface") %>
      <% if view.user.profile %>
        <%= view.user.profile.name %>
      <% else %>
        <%= view.user.login %>
      <% end %>
      <small>
        &ndash;
        <%= link_to "View profile", user_url_to_main_site(view.user) %>
      </small>
    </li>
    <% if view.show_business_plus_flag? %>
      <li>
        <%= octicon("megaphone") %>
        <%= view.business_plus_flag %>
      </li>
    <% end %>
    <% if view.show_owning_business? %>
      <li>
        <%= octicon("briefcase") %>
        Belongs to <%= link_to view.user.business.name, stafftools_enterprise_path(view.user.business) %>
      </li>
    <% end %>
    <% if view.user.is_a?(Organization) && !GitHub.enterprise? %>
      <li>
        <%= octicon("law") %>
        <%= view.user.terms_of_service.name %> terms of service
        <% if view.user.company.try(:name) %>
          through <%= view.user.company.name %>
        <% end %>
        <small>
          &ndash;
          <%= link_to "Edit", terms_of_service_stafftools_user_path(view.user) %>
        </small>
      </li>
    <% end %>
    <% if view.user.legal_hold? %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        Legal Hold
      </li>
    <% end %>
    <% if error_states[:blacklisted_login] %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        Blacklisted username
      </li>
    <% end %>
    <% if error_states[:no_primary_email] %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        <%= link_to \
              "No primary email",
              stafftools_user_emails_path(view.user) %>
      </li>
    <% elsif counts[:emails] %>
      <li>
        <%= octicon("mail") %>
        <%= view.user.email %>
        <small>
          <br>
          <%= link_to \
                "and #{counts[:emails] - 1} more",
                stafftools_user_emails_path(view.user) %>
        </small>
      </li>
      <% if obfuscated_dupe_emails > 0 %>
        <li>
          <%= octicon('mail-read', :class => 'highlight') %>
          Email used by
          <%= link_to duplicates_stafftools_user_emails_path(this_user) do %>
            <%= obfuscated_dupe_emails %> other
            <%= "account".pluralize(obfuscated_dupe_emails) %>
          <% end %>
        </li>
      <% end %>
    <% end %>
    <% if error_states[:no_verified_email] %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        No verified email addresses
      </li>
    <% end %>
    <% if error_states[:dupe_email] %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        Duplicate email address
      </li>
    <% end %>

    <% if error_states[:suspended] %>
      <li>
        <%= octicon("alert", :class => "alert") %>
        Account suspended
      </li>
    <% elsif view.show_dormant_indicator? %>
      <li>
        <% if view.user.dormant? %>
          <%= octicon("primitive-dot", :class => "text-red") %>
          <%= link_to "Dormant", activity_stafftools_user_path(view.user) %>
        <% else %>
          <%= octicon("primitive-dot", :class => "text-green") %>
          <%= link_to "Active", activity_stafftools_user_path(view.user) %>
        <% end %>
      </li>
    <% end %>

    <% if view.user.deceased? %>
      <li>
        <%= octicon(:heart, class: "highlight") %>
        User is deceased
      </li>
    <% end %>

    <% unless GitHub.enterprise? %>
      <li>
        <%= octicon("watch") %>
        <% if view.user.last_active_timestamp %>
          Last active on
          <%= link_to \
                view.user.last_active_timestamp.to_date,
                activity_stafftools_user_path(view.user) %>
        <% else %>
          <%= link_to \
                "No activity",
                activity_stafftools_user_path(view.user) %>
        <% end %>
      </li>
    <% end %>

    <% unless GitHub.enterprise? %>
      <li>
        <%= octicon("graph") %>
        <a href="<%= view.sentry_link %>">Search Sentry</a>
      </li>
      <li>
        <%= octicon("question") %>
        <% if view.user.user? %>
          Search halp
          &ndash;
          <%= link_to "username", view.halp_user_url %>
          &ndash;
          <%= link_to "email", view.halp_email_url %>
        <% else %>
          <%= link_to "Search halp", view.halp_user_url %>
        <% end %>
        <br>
        <small>
          <% if view.user.user? %>
            <%= link_to \
                  "Start a discussion in halp",
                  view.halp_user_new_discussion_url,
                  :target => "_blank" %>
          <% else %>
            Start a discussion
            &ndash;
            <%= link_to \
                  "admin",
                  view.halp_user_new_discussion_url,
                  :target => "_blank" %>
            &ndash;
            <%= link_to \
                  "billing",
                  view.halp_org_new_billing_discussion_url,
                  :target => "_blank" %>
          <% end %>
        </small>
      </li>
      <li>
        <%= octicon("question") %>
        Search Zendesk
        &ndash;
        <%= link_to "username", view.zendesk_user_url %>
        &ndash;
        <% if view.user.user? %>
          <%= link_to "email", view.zendesk_email_url %>
        <% end %>
      </li>
    <% end %>
    <% if view.user.spammy? %>
      <li>
        <%= octicon("stop", :class => "alert") %>
        <%= link_to \
              "Flagged as spammy",
              Spam.url_for_account_login(view.user.login) %>
        <br>
        <small>
          <%= autolink_spammy_reason(view.user.spammy_reason) %>
          <% if spam_flag_timestamp %>
            <%= time_ago_in_words spam_flag_timestamp %> ago
          <% end %>
        </small>
      </li>
    <% end %>
    <% if counts[:recent_abuse_reports] && counts[:recent_abuse_reports] != 0 %>
      <li>
        <%= octicon("stop", :class => "alert") %>
        <strong><%= counts[:recent_abuse_reports] %></strong>
        <%= link_to "recent abuse report".pluralize(counts[:recent_abuse_reports]),
          stafftools_audit_log_path(:query => view.user.recent_abuse_reports_query) %>
      </li>
    <% end %>
    <% if view.user.recent_staff_note? %>
      <li>
        <%= octicon("comment", :class => "highlight") %>
        <%= link_to \
              "Recent staff note",
              overview_stafftools_user_path(view.user) %>
        <br>
        <small>
          <strong>
            @<%= view.user.staff_notes.last.creator_name %>:
          </strong>
          <%= view.user.staff_notes.last.body %>
        </small>
      </li>
    <% end %>
  </ul>
</div>
