<%graphql
  fragment Root on Query {
    marketplaceListing(slug: $listingSlug) {
      slug
    }
    ...Views::MarketplaceListings::AdminLayout::Root
    ...Views::MarketplaceListingPlans::Form::Root
  }
%>
<%
  data = Views::MarketplaceListingPlans::New::Root.new(data)
  listing = data.marketplace_listing
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { data: data, selected_tab: :pricing_new } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>New draft plan<% end %>
  <% end %>
  <p>
    More information can be found in
    <a href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/setting-a-github-marketplace-listing-s-pricing-plan/" target="_blank">our developer documentation</a>.
  </p>
  <%= form_tag marketplace_listing_plans_path(listing.slug), method: :post do %>
    <%= render partial: "marketplace_listing_plans/form", locals: { data: data } %>
  <% end %>
  <div class="border-top mt-3 pt-3">
    <a href="<%= marketplace_listing_plans_path(listing.slug) %>" class="btn btn-outline mb-3">
      <%= octicon("chevron-left") %> Return to all plans
    </a>
  </div>
<% end %>
