<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Root on Query {
    marketplaceListing(slug: $listingSlug) {
      slug
      isPublic
      isDraft
      hasReachedMaximumPlanCount
      arePublishedPaidPlansAllowed
    }
    node(id: $id) {
      ... on MarketplaceListingPlan {
        id
        state
        canPublish
        canBeRetired
        hasFreeTrial
        isPaid
        number
      }
    }
    ...Views::MarketplaceListingPlans::Form::Root
    ...Views::MarketplaceListingPlans::Detail::Root
    ...Views::MarketplaceListings::AdminLayout::Root
  }
%>
<%
  data = Views::MarketplaceListingPlans::Show::Root.new(data)
  listing = data.marketplace_listing
  plan = data.node
  publish_plan_confirm_message = "Are you sure you want to publish this plan? You will not be able to adjust pricing once this plan is published."
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { data: data, selected_tab: :pricing_plan } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Edit plan<% end %>
  <% end %>
  <p>
    More information can be found in
    <a href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/setting-a-github-marketplace-listing-s-pricing-plan/" target="_blank">our developer documentation</a>.
  </p>
  <% if plan.state == "DRAFT" %>
    <%= form_tag marketplace_listing_plan_path(listing.slug, plan.id), method: :put, class: "pb-2" do %>
      <%= render partial: "marketplace_listing_plans/form", locals: { data: data } %>
    <% end %>
    <div class="Box my-2">
      <div class="Box-body">
        <div class="d-inline-flex flex-items-center">
          <%=
            button_to publish_marketplace_listing_plan_path(listing.slug, plan.id),
              method: :put,
              form_class: "d-inline",
              class: "btn",
              data: { confirm: listing.is_public? && plan.can_publish? ? publish_plan_confirm_message : nil },
              disabled: !plan.can_publish? do
          %>
            <%= octicon("eye") %><span class="pl-1">Publish this plan</span>
          <% end %>
          <% unless plan.can_publish? %>
            <div class="text-gray pl-3">
              <% if listing.has_reached_maximum_plan_count? %>
                You’ve reached the maximum number of published plans.
              <% elsif plan.is_paid? && !listing.are_published_paid_plans_allowed? %>
                Your listing must be verified before you can publish paid plans.
              <% end %>
            </div>
          <% end %>
        </div>
        <% if listing.is_draft? %>
          <%= form_tag marketplace_listing_plan_path(listing.slug, plan.id), id: "marketplace_remove_plan_form", class: "float-right", method: :delete do %>
            <button type="submit" form="marketplace_remove_plan_form" class="btn-link text-small link-gray" data-confirm="Are you sure you want to remove this plan from the listing?">
              <%= octicon "trashcan", class: "mr-1 mt-2" %>
              Remove this plan
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif plan.state == "PUBLISHED" %>
    <p>
      The
      <a href="<%= GitHub.developer_help_url %>/marketplace/integrating-with-the-github-marketplace-api/upgrading-and-downgrading-plans/#about-upgrade-urls" target="_blank">upgrade URL</a>
      for this plan, where the customer’s account ID from the API replaces <code class="p-1 border rounded-1 bg-gray">CUSTOMER_ACCOUNT_ID</code>, is:
    </p>
    <pre class="p-2 mb-3 border rounded-1 bg-gray overflow-x-auto d-block"><code><%= marketplace_plan_upgrade_url(listing_slug: listing.slug, plan_number: plan.number, account_id: "CUSTOMER_ACCOUNT_ID") %></code></pre>
    <%= form_tag marketplace_listing_plan_path(listing.slug, plan.id), method: :put, class: "pb-2" do %>
      <%= render partial: "marketplace_listing_plans/form", locals: { data: data } %>
    <% end %>
    <% if listing.is_draft? %>
      <div class="Box my-2">
        <div class="Box-body">
          <div class="d-inline-flex flex-items-center">
            <%= form_tag marketplace_listing_plan_path(listing.slug, plan.id), id: "marketplace_remove_plan_form", class: "float-right", method: :delete do %>
              <button type="submit" form="marketplace_remove_plan_form" class="btn-link text-small link-gray" data-confirm="Are you sure you want to remove this plan from the listing?">
                <%= octicon "trashcan", class: "mr-1 mt-2" %>
                Remove this plan
              </button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <span class="d-block text-small text-gray text-center">
      <% if listing.is_public? && plan.can_be_retired? %>
        <%= form_tag retire_marketplace_listing_plan_path(listing.slug, plan.id), class: "d-inline", method: :put do %>
          <button type="submit" class="btn-link text-small" data-confirm="Are you sure you want to retire this plan?">
            Retire this plan.
          </button>
        <% end %>
      <% end %></span>
  <% elsif plan.state == "RETIRED" %>
    <div class="border rounded-1 p-4 mb-3 text-small text-gray">
      <%= render partial: "marketplace_listing_plans/detail", locals: { data: data } %>
      This plan has been retired.
    </div>
  <% end %>
  <div class="border-top mt-3 pt-3">
    <a href="<%= marketplace_listing_plans_path(listing.slug) %>" class="btn btn-outline mb-3">
      <%= octicon("chevron-left") %> Return to all plans
    </a>
  </div>
<% end %>
