<%# erblint:disable ProperTagNesting %>
<% page_info :title => "Bulk Ticketer", :selected_link => :bulk_ticketer %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">

    <% if rejected.any? %>
      <%= render Primer::SubheadComponent.new(hide_border: true) do |component| %>
        <% component.slot(:heading, tag: :h3, danger: true) do %>Unprocessable Repos<% end %>
      <% end %>
      <div class="Box Box--danger overflow-scroll"  style="max-height: 200px">
        <div class="Box-body">
          <% rejected.each do |url| %>
            <%= url %> </br>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render Primer::SubheadComponent.new(hide_border: true) do |component| %>
      <% component.slot(:heading, tag: :h3) do %>JSON<% end %>
    <% end %>
    <div class="Box overflow-scroll" style="max-height: 300px">
      <div class="Box-body">
        <clipboard-copy class="btn btn-sm zeroclipboard-button" for="json-cartridge" aria-label="copy JSON"><%= octicon("clippy")%></clipboard-copy>
        <pre id="json-cartridge"><%= "---BEGIN JSON ~ DO NOT WRITE BELOW THIS LINE---\n#{JSON.pretty_generate(cartridge)}" %></pre>
      </div>
    </div>

  </div>
<% end %>
