<div class="boxed-group">
  <h3>Dependabot</h3>
  <div class="boxed-group-inner clearfix">
    <% if this_user.vulnerability_updates_enabled? %>
      <div class="clearfix">
        <div class="float-left">
          <p>Dependabot Security Updates are enabled by default on Repositories when they have dependency changes pushed, <strong><%= this_user.name %></strong> may be opted out of this process.</p>

          <p><strong>Note:</strong> Opting out will not disable Security Updates on any Repositories it has already been enabled on.</p>
        </div>

        <div class="float-right">
          <%= form_tag disable_rollout_stafftools_dependabot_path(owner), method: :post do %>
            <button type="submit" class="action-button btn btn-sm btn-danger">Opt out</button>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="clearfix">
        <div class="float-left">
          <p>Dependabot Security Updates are enabled by default on Repositories but <strong><%= this_user.name %></strong> has been opted out.</p>

          <p><strong>Note:</strong> Opting in will not enable Security Updates on their existing Repositories immediately, it will take affect when they next push a dependency change.</p>
        </div>

        <div class="float-right">
          <%= form_tag enable_rollout_stafftools_dependabot_path(owner), method: :post do %>
            <button type="submit" class="action-button btn btn-sm btn-primary">Opt in</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
