<%# rubocop:disable Lint/InstanceVariable %>
<% view = IdentityManagement::SignupFormView.new(user: @user) %>

<%= form_for :user, :url => view.form_url,
      :html => {
        :autocomplete        => "off",
        :id                  => "signup-form",
        :class               => "setup-form js-signup-form",
      } do |f| -%>


  <% if view.user_errors? %>
    <div class="flash flash-error my-3"><%= view.user_error_message %>
    <% if view.error_requires_sys_admin? %>
      <p>Your system administrator is required to resolve the issue.</p>
    <% end %>
    </div>
  <% end %>

  <auto-check src="<%= username_check_path %>">
    <%=
      f.text_group "Pick a username", :login, {
        name:           view.username_field,
        autocapitalize: :off,
        autofocus:      true,
        error:          error_for(@user, :login),
        required:       true,
      }
    %>
    <%= csrf_hidden_input_for username_check_path %>
  </auto-check>

  <auto-check src="<%= email_check_path %>">
    <%=
      f.text_group "Your email address", :email, {
        name:           view.email_field,
        autocapitalize: :off,
        error:          view.email_error,
        required:       true,
      }
    %>
    <%= csrf_hidden_input_for email_check_path %>
  </auto-check>

  <%=
    f.password_group "Password", :password, {
      name:     view.password_field,
      hint:     view.password_hint,
      value:    GitHub.default_password,
      error:    errors_sentence_for(@user, :password),
      required: true,
      class: primary_password_field_confirmation_class
    }
  %>

  <% if GitHub.password_confirmation_required? %>
    <%=
      f.password_group "Confirm your password", :password_confirmation,
        value:    GitHub.default_password,
        error:    error_for(@user, :password_confirmation),
        required: true,
        "data-error-message": "Password confirmation doesn't match the password",
        "data-validity-message": "Does not match password",
        class: "js-password-confirm",
        group_class: "js-form-group"
    %>
  <% end %>

  <% if GitHub.default_password %>
    <p class="note p-0 my-3">
      <strong>Tip:</strong>
      The default password for all users in development:
      <strong><%= GitHub.default_password %></strong>
    </p>
  <% end %>

  <input type="hidden" name="source" class="js-signup-source" value="<%= source %>">
  <%= spamurai_form_signals %>

  <% (hidden_fields ||= {}).each do |name, value| %>
    <%= hidden_field_tag name, value %>
  <% end %>

  <button type="submit" class="btn btn-primary btn-block" id="signup_button" data-disable-invalid data-disable-with="Creating account&hellip;">
    Create account
  </button>

<% end %>
