<% page_info title: "Sign in to #{view.business.name}" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= image_tag "spinners/octocat-spinner-64-grey.gif", class: "d-inline-block mb-2" %>

      <h1 class="sso-title m-0">
        Signed in with <strong><%= view.business.name %></strong>
      </h1>
    </div>

    <p class="text-gray-light mt-2 mb-4">
      You’re now authenticated to work with this enterprise.
    </p>

    <%= form_tag view.form_target, method: view.form_method, class: "js-auto-replay-enforced-sso-request", authenticity_token: false do %>
      <%= hash_to_hidden_fields(view.form_data) if view.form_data %>

      <button type="submit" class="btn btn-primary btn-block" data-disable-with="Redirecting…">Continue</button>
    <% end %>
  </div>
</div>
