<%# `view` is an Businesses::IdentityManagement::SingleSignOnView %>
<% page_info :title => "Sign in to #{view.business.name}" %>

<% content_for(:header_logo) do %>
  <a class="header-logo pb-3" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
    <%= octicon("logo-github", :height => 40) %>
  </a>
<% end %>

<div class="auth-form sign-up-via-invitation px-3">
  <div class="auth-form-body">

    <div class="text-center position-relative">
      <%= avatar_for view.business, 60, :class => "avatar mb-3" %>

      <p class="f3">
        New to GitHub? Create an account to join
        <strong><%= view.business.name %></strong>.
      </p>
    </div>

    <hr class="bleed-flush">

    <div class="mt-4 mb-2">
      <%= render "businesses/identity_management/sign_up_form",
          business: view.business,
          user: current_user,
          source: "business-sso",
          hidden_fields: {
            sso_business: view.business.to_param
          } %>

      <%= link_to(
        "Already have an account? Sign in.",
        login_path(return_to: business_idm_sso_sign_up_enterprise_path(view.business)),
        class: "text-center d-block",
        data: sign_in_link_data_attributes(location_in_page: "iam sso")
      ) %>
    </div>

  </div>

  <% if GitHub.billing_enabled? %>
    <p class="tos-info text-center text-small text-gray mt-4">By clicking &ldquo;Create account and join&rdquo;, you agree to the
    <a href="<%= GitHub.help_url %>/terms" target="_blank">terms of service</a> and
    <a href="<%= GitHub.help_url %>/privacy" target="_blank">privacy statement</a>. We’ll occasionally send you account related emails.</p>
  <% end %>

  <p class="text-center text-small text-gray mt-4">
    <%= octicon('lock') %>
    <% # TODO: mention to docs team about this article? %>
    <a href="<%= GitHub.help_url %>/articles/permission-levels-for-a-business">Owners</a>
    of <%= view.business.name %> will be able to see if you have two-factor authentication enabled or not.
    <br>
    <a href="<%= settings_user_admin_path %>">View two-factor authentication settings</a>
  </p>

</div>
