<% page_info title: "Initiating SAML single sign-on" %>

<div class="container-md px-3">
  <%= render Primer::BlankslateComponent.new(
    icon: "shield-lock",
    title: "You are being redirected to your identity provider in order to authenticate.",
    mt: 5,
  ) do %>
    <p>
      If your browser does not redirect you back, please <%= link_to("click here", redirect_url, id: "redirect") %> to continue.
    </p>
  <% end %>
</div>
