<% if memexes.any? %>
  <% memexes.each do |memex| %>
    <div class="Box-row clearfix position-relative pr-6" <%= test_selector("memex-row") %>>
      <details class="details-reset details-overlay dropdown position-static">
        <summary class="text-gray position-absolute right-0 top-0 mt-3 px-3" aria-label="Memex menu">
          <%= octicon("kebab-horizontal") %>
        </summary>
        <details-menu class="dropdown-menu dropdown-menu-sw mt-6 mr-1 top-0">
          <%= form_tag update_org_memex_path(project_owner, memex.number), method: :put do %>
            <input type="hidden" name="memex_number" value="<%= memex.number %>">
            <input type="hidden" name="closed" value="<%= memex.closed? ? "0" : "1" %>">
            <input type="hidden" name="client_uid" class="js-client-uid-field">
            <button type="submit" class="btn-link dropdown-item" role="menuitem">
              <%= memex.closed? ? "Reopen" : "Close" %>
            </button>
          <% end %>
        </details-menu>
      </details>
      <div class="col-12 col-md-6 col-lg-4 pr-2 float-left">
          <h4 class="mb-1">
              <a href="<%= show_org_memex_path(project_owner, memex.number) %>" class="link-gray-dark mr-1"><%= memex.display_title %></a>
          </h4>
          <div class="f6 pr-sm-5 mb-2 mb-md-0 text-gray-light">
              #<%= memex.number %> created <%= time_ago_in_words_js memex.created_at %>
              <% if memex.creator %>
                by <%= memex.creator.login %>
              <% end %>
          </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="blankslate blankslate-spacious blankslate-large blankslate-capped border-0">
    <%= svg("site/icons/table", height: 40, width: 40, class: "blankslate-icon") %>
    <h3>No tables matched your search</h3>
    <p>Create a <a href="<%= new_org_memex_path(project_owner.login) %>" <%= test_selector("blankslate-create-memex-button") %>>new table</a> or try a different search query.</p>
  </div>
<% end %>

<% if has_next_page %>
  <div class="text-center d-block p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag org_memexes_path(project_owner.login), method: :get do %>
      <input type="hidden" name="cursor" value="<%= cursor %>">
      <input type="hidden" name="query" value="<%= parsed_query.stringify %>">
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <button type="submit" class="btn-link" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
