<%
  new_memex_path = new_org_memex_path(project_owner.login)
  open_memexes_index_path = org_memexes_path(
    project_owner.login,
    query: Search::Queries::MemexProjectQuery.new(
      parsed_query.raw_query + " is:open",
      viewer: current_user
    ).stringify
  )
  closed_memexes_index_path = org_memexes_path(
    project_owner.login,
    query: Search::Queries::MemexProjectQuery.new(
      parsed_query.raw_query + " is:closed",
      viewer: current_user
    ).stringify
  )
  projects_index_path = org_projects_path(project_owner.login)
  viewing_open_memexes = parsed_query.state_filter != "closed"
%>

<%
  page_info(
    title: "Memexes · #{project_owner.login}",
    container_xl: true,
    skip_pjax_container: true,
  )
%>

<div class="clearfix mb-3">
  <nav class="subnav-links d-none d-md-flex float-left no-wrap" aria-label="Project" <%= test_selector("memex-toggle") %>>
    <%= selected_link_to open_memexes_index_path, highlight: "tables", selected_link: "tables", class: "subnav-item" do %>
    Tables
    <% end %>
    <%= selected_link_to projects_index_path, highlight: "projects", selected_link: "tables", class: "subnav-item" do %>
    Projects
    <% end %>
  </nav>
  <div class="float-left pl-2">
    <%= form_tag org_memexes_path(project_owner.login), method: :get, class: "ml-0 subnav-search float-left position-relative", "data-pjax": true, role: "search", "aria-label": "Tables" do %>
      <div class="auto-search-group float-left width-full">
        <%= text_field_tag :query, parsed_query.stringify.present? ? parsed_query.stringify + " " : "", class: "form-control subnav-search-input input-contrast", placeholder: "Search all tables", "aria-label": "Search all tables", "data-hotkey": local_search_hotkey %>
        <%= octicon("search", class: "text-gray-light") %>
      </div>
    <% end %>
  </div>
  <a href="<%= new_memex_path %>" class="btn btn-primary d-block d-md-inline-block float-md-right text-center" <%= test_selector("new-memex-button") %>>
    New table
  </a>
</div>
<% if parsed_query.non_default_query?(viewer: current_user) %>
  <div class="mb-3">
    <%= link_to org_memexes_path(project_owner.login), class: "projects-reset-query link-gray text-bold no-underline" do %>
      <%= octicon("x", class: "projects-reset-query-icon text-white text-center rounded-1 mr-1") %>
      Reset to default query
    <% end %>
  </div>
<% end %>

<div class="Box Box--responsive">
  <div class="Box-header">
    <div class="table-list-header-toggle states">
      <a href="<%= open_memexes_index_path %>" class="btn-link <%= "selected" if viewing_open_memexes %>" <%= test_selector("open-memex-count") %>>
        <%= svg("site/icons/table", class: "v-align-text-bottom mr-1") %><%= open_memex_count %> Open
      </a>
      <a href="<%= closed_memexes_index_path %>" class="btn-link <%= "selected" unless viewing_open_memexes %>" <%= test_selector("closed-memex-count") %>>
        <%= octicon("check") %><%= closed_memex_count %> Closed
      </a>
    </div>
  </div>
  <div id="memexes-results">
    <%=
      render(
        partial: "memexes/list",
        locals: {
          project_owner: project_owner,
          memexes: memexes,
          has_next_page: has_next_page,
          cursor: cursor,
          parsed_query: parsed_query,
        }
      )
    %>
  </div>
</div>
