<div class="position-relative bg-gray-dark text-center pt-12-fluid pb-12-fluid mktg-clip-top mt-12-fluid">
  <div class="container-xl pt-10-fluid pb-8-fluid">
    <% if !local_assigns[:subtitle].nil? %>
      <h4 class="mb-1-fluid h5-mktg-fluid text-gray-light"><%= subtitle %></h4>
    <% end %>
    <h1 class="h0-md-mktg-fluid h1-mktg-fluid mb-4-fluid text-white col-9-max mx-auto px-3"><%= raw header %></h1>
    <% if !local_assigns[:body].nil? %>
      <h4 class="text-normal f2-mktg-fluid col-12 col-md-10 lh-condensed mx-auto text-gray-light"><%= body %></h4>
    <% end %>
    <div class="mt-8-fluid">
      <a class="btn-mktg-fluid mb-3" href="<%= cta_url %>" data-ga-click="<%= page_meta[:title] %> footer, click, text: <%= cta %>; location: Footer; ref_cta: <%= page_meta[:name] %>_primary_cta_footer; ref_loc: <%= page_meta[:name] %>_footer"><%= cta %></a>
      <% if !local_assigns[:secondary_cta].nil? %>
        <a class="btn-mktg-fluid btn-outline-mktg-fluid text-white mb-3" href="<%= secondary_cta_url %>" data-ga-click="<%= page_meta[:title] %> footer, click, text: <%= secondary_cta %>; location: Hero; ref_cta: <%= page_meta[:name] %>_secondary_cta_footer; ref_loc: <%= page_meta[:name] %>_footer"><%= secondary_cta %></a>
      <% end %>
    </div>
  </div>
</div>
