<div class="d-flex flex-justify-around flex-items-center flex-wrap mt-8-fluid">
  <% logos.each_with_index do |logo, i| %>
    <img src="<%= logo[:image] %>" alt="<%= logo[:alt] %>" width="<%= logo[:width] %>" height="<%= logo[:height] %>" loading="lazy" class="filter-grayscale mb-3-fluid mb-md-0 mx-3-fluid mb-3-fluid">
  <% end %>
</div>

<% if !local_assigns[:secondary_logos].nil? %>
    <div class="d-none d-md-flex flex-justify-around flex-items-center mt-3-fluid px-3-fluid mb-7-fluid">
      <% secondary_logos.each_with_index do |logo, i| %>
        <img src="<%= logo[:image] %>" alt="<%= logo[:alt] %>" width="<%= logo[:width] %>" height="<%= logo[:height] %>" loading="lazy" class="filter-grayscale">
      <% end %>
    </div>
<% end %>
