<div class="position-relative js-video-container togglevideo" id="<%= slug %>">
  <div class="container-xl text-center my-12-fluid">
    <% if !local_assigns[:subheader].nil? %>
    	<h4 class="mb-1-fluid h5-mktg-fluid text-gray-light"><%= subheader %></h4>
    <% end %>
    <h1 class="h3-mktg-fluid mb-6-fluid px-3-fluid col-12 col-md-10 mx-auto"><%= header %></h1>

    <div class="col-10 mx-auto box-shadow-card-border-mktg overflow-hidden rounded-2 position-relative">
      <a href="<%= src %>">
        <img src="<%= placeholder %>" class="width-full height-auto d-block" alt="<%= header %>" width="1052" height="592" loading="lazy">
      </a>
    </div>
  </div>

  <div class="overflow-hidden position-absolute width-full height-full z-n1" style="top: -30px">
    <img src="<%= image_path "modules/site/learn/mosaic-right.svg" %>" alt="" loading="lazy" class="top-0 right-0 position-absolute">
    <img src="<%= image_path "modules/site/learn/mosaic-left.svg" %>" alt="" loading="lazy" class="bottom-0 left-0 position-absolute">
  </div>
</div>