<%# erblint:disable LandmarkHasLabel %>
<%graphql
  fragment Root on Query {
    marketplaceCategories(subcategoryCandidatesFor: $slug) {
      name
    }

    marketplaceCategory(slug: $slug) {
      name
      description
      howItWorks
      slug
      isFilter
      isFeatured
      featuredPosition
      isNavigationVisible
      parentCategory {
        slug
        name
      }
      subCategories {
        name
      }
    }
  }
%>

<%
    data = Views::Biztools::MarketplaceCategories::Edit::Root.new(data)
    category = data.marketplace_category
    sub_category_names = category.sub_categories.map(&:name)
    category_names = data.marketplace_categories.map(&:name)

    page_info title: "Marketplace Category #{category.name} · Biztools",
             selected_link: :marketplace_categories
%>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Edit Marketplace Category &ldquo;<%= category.name %>&rdquo;</h3>
    <div class="boxed-group-inner">
      <%= form_tag biztools_marketplace_category_path(category.slug), method: :put do %>
        <dl class="form-group mt-0">
          <dt><label for="cat_name">Category name:</label></dt>
          <dd>
            <input required type="text" name="marketplace_category[name]" id="cat_name" class="form-control" value="<%= category.name %>">
          </dd>
        </dl>
        <dl class="form-group mt-0">
          <dt><label for="cat_description">Description:</label></dt>
          <dd>
            <div class="js-previewable-comment-form previewable-comment-form write-selected pb-2 js-listing-characters-remaining-container" data-preview-url="<%= marketplace_preview_path %>">
              <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
              <div class="comment-form-head tabnav">
                <%= render Comments::MarkdownToolbarComponent.new(textarea_id: "marketplace_listing_full_description") %>
                <nav class="tabnav-tabs" role="tablist">
                  <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
                  <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
                </nav>
              </div>
              <div class="write-content js-write-bucket mb-0">
                <textarea required name="marketplace_category[description]" class="form-control comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-listing-characters-remaining-field" id="cat_description"><%= category.description %></textarea>
              </div>
              <div class="preview-content">
                <div class="comment-body markdown-body js-preview-body">
                  <p>Nothing to preview</p>
                </div>
              </div>
            </div>
          </dd>
        </dl>
        <dl class="form-group mt-0">
          <dt><label for="cat_how_it_works">How it works with GitHub:</label></dt>
          <dd>
            <textarea name="marketplace_category[howItWorks]" id="cat_how_it_works" class="form-control"><%= category.how_it_works %></textarea>
            <p class="note">The technical description of how apps listed in this category work with GitHub</p>
          </dd>
        </dl>
        <dl class="form-group mt-0 mb-3">
          <% if category.parent_category.present? %>
            <dt><label for="cat_parent_category">Parent Category:</label></dt>
            <dd>
              <a id="cat_parent_category" href="<%= biztools_edit_marketplace_category_path(category.parent_category.slug) %>">
                <%= category.parent_category.name %>
              </a>
            </dd>
          <% else %>
            <dt><label for="cat_sub_categories">Subcategories:</label></dt>
            <dd>
              <input name="marketplace_category[subCategories][]" type="hidden">
              <details class="position-relative details-reset select-menu">
                <summary class="btn select-menu-button" aria-haspopup="menu">
                  Choose up to 3 subcategories
                </summary>
                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu">
                  <div id="cat_sub_categories" class="select-menu-list">
                    <% category_names.each do |name| %>
                      <label class="select-menu-item">
                        <input
                          type="checkbox"
                          name="marketplace_category[subCategories][]"
                          value="<%= name %>"
                          <% if sub_category_names.include? name %>
                            checked
                          <% end %>
                        >
                        <span class="ml-2"><%= name %></span>
                      </label>
                    <% end %>
                  </div>
                </details-menu>
              </details>
            </dd>
          <% end %>
        </dl>
        <div class="form-group mt-0">
          <div>
            <input name="marketplace_category[isFilter]" type="hidden" value="false">
            <div class="form-checkbox">
              <label for="cat_is_filter">
                <input
                  id="cat_is_filter"
                  name="marketplace_category[isFilter]"
                  type="checkbox"
                  value="true"
                  <% if category.is_filter? %>
                    checked
                  <% end %>
                >
                Use as filter
              </label>
              <p class="note">Filter-type categories are displayed differently in a listing page and only admins can assign them.</p>
            </div>
          </div>
        </div>
        <div class="form-group mt-0">
          <div>
            <input name="marketplace_category[isNavigationVisible]" type="hidden" value="false">
            <div class="form-checkbox">
              <label for="cat_is_navigation_visible">
                <input
                  id="cat_is_navigation_visible"
                  name="marketplace_category[isNavigationVisible]"
                  type="checkbox"
                  value="true"
                  <% if category.is_navigation_visible? %>
                    checked
                  <% end %>
                >
                Use in navigation
              </label>
              <p class="note">Determines if this category can be displayed in the Marketplace side navigation.</p>
            </div>
          </div>
        </div>
        <div class="form-group mt-0 mb-4">
          <input name="marketplace_category[isFeatured]" type="hidden" value="false">
          <div class="form-checkbox">
            <label>
              <input
                name="marketplace_category[isFeatured]"
                type="checkbox"
                value="true"
                <% if category.is_featured? %>
                  checked
                <% end %>
              >
              Feature on homepage
            </label>
            <p class="note">Featured categories are displayed on the Marketplace homepage, each with a small sample of apps displayed.</p>
            <p class="note">Choose a position below to determine the order in which to display featured categories. 1 is highest.</p>
            Position: <input name="marketplace_category[featuredPosition]" aria-label="Featured Position" type="number" min="1" max="100" step="1" value="<%= category.featured_position %>">
          </div>
        </div>
        <button data-disable-with="Saving..." data-disable-invalid type="submit" class="btn">Save category</button>
        <a class="d-inline-block ml-3" href="<%= biztools_marketplace_categories_path %>">Cancel</a>
      <% end %>
    </div>
  </div>
<% end %>
