<%graphql
  fragment Root on Query {
    marketplaceCategories {
      resourcePath
      name
      description
      slug
      primaryListingCount
      secondaryListingCount
      isFeatured
      featuredPosition
    }
  }
%>
<%
  data = Views::Biztools::MarketplaceCategories::Index::Root.new(data)
  total_categories = data.marketplace_categories.size
%>

<% page_info title: "Marketplace Categories · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <a href="<%= biztools_new_marketplace_category_path %>" class="btn btn-sm boxed-group-action">New category</a>
    <h3>
      Marketplace Categories (<%= total_categories %>)
    </h3>
    <div class="Box Box--condensed">
      <% if total_categories < 1 %>
        <div class="Box-row">No Marketplace categories</div>
      <% else %>
        <% data.marketplace_categories.each do |category| %>
          <div class="Box-row d-flex flex-items-center">
            <div class="flex-auto">
              <h4 class="mb-2">
                <a href="<%= biztools_edit_marketplace_category_path(category.slug) %>">
                  <%= category.name %>
                </a>
              </h4>
              <% if category.description.present? %>
                <p><%= category.description %></p>
              <% end %>
              <div class="text-small text-gray-light">
                <a href="<%= biztools_marketplace_path(category_slug: category.slug) %>">
                  <strong><%= category.primary_listing_count %></strong>
                  primary category <%= "listing".pluralize(category.primary_listing_count) %> /
                  <strong><%= category.secondary_listing_count %></strong>
                  secondary category <%= "listing".pluralize(category.secondary_listing_count) %>
                </a>
              </div>
              <div class="mt-3">
                <%= form_tag biztools_marketplace_category_path(category.slug), method: :put do %>
                  <div class="d-flex flex-items-center">
                    <div class="mr-4">
                      <input name="marketplace_category[isFeatured]" type="hidden" value="false">
                      <label>
                        <input name="marketplace_category[isFeatured]" type="checkbox" value="true" <% if category.is_featured %>checked<% end %>>
                        Feature on homepage
                      </label>
                      <div class="ml-3">
                        Position:
                        <input name="marketplace_category[featuredPosition]" aria-label="Featured Position" type="number" min="1" max="100" step="1" value="<%= category.featured_position %>">
                      </div>
                    </div>
                    <div class="flex-auto">
                      <button type="submit" class="btn btn-sm" data-disable-with="Updating...">
                        Update
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% if category.primary_listing_count < 1 && category.secondary_listing_count < 1 %>
              <span class="no-wrap bg-blue-light py-1 px-2 ml-2 text-gray-dark d-inline-block v-align-middle h6 rounded-1">
                <%= octicon("circle-slash", class: "mr-1") %>Empty
              </span>
            <% end %>
            <a href="<%= category.resource_path %>" class="btn btn-sm ml-2" rel="nofollow">View</a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
