<%graphql
  fragment Organization on Organization {
    team(slug: $slug) {
      name
      projectsResourcePath
      teamProjectsSuggestionsResourcePath
    }
  }
%>
<% organization = Views::Orgs::TeamProjects::AddProjectDialog::Organization.new(organization) %>
<% team = organization.team %>

<%= octicon("project", class: "d-block mx-auto mt-2 text-gray", height: "30") %>

<div class="f3 text-center mt-3">
  Add project to <strong><%= team.name %></strong>
  <p class="px-2 mt-1 mb-0 text-gray f6">Only organization projects you have admin privileges on can be added.</p>
</div>

<%= form_tag team.projects_resource_path.to_s, class: "mt-3 pb-3 px-3 input-block" do %>
  <input type="hidden" name="project_id">
  <div class="input-group">
    <auto-complete class="d-block auto-search-group js-team-project-completer" src="<%= team.team_projects_suggestions_resource_path %>" for="org-team-project-results">
      <input
        type="text"
        class="form-control input-block input-contrast auto-search-input js-team-project-complete-field"
        aria-label="Search by project name"
        placeholder="Search by project name"
        required
        autofocus>
      <%= octicon("project") %>
      <ul id="org-team-project-results" class="invite-member-results autocomplete-results"></ul>
    </auto-complete>
    <span class="input-group-button">
      <button type="submit" class="btn js-auto-complete-button" disabled data-disable-with="Adding…">
        Add
      </button>
    </span>
  </div>
<% end %>
