<%# erblint:counter TooltipCounter 4 %>
<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment TeamProjectEdge on TeamProjectEdge {
    permission
    inheritedPermission
    teamProjectResourcePath

    inheritedPermissionOrigin {
      name
    }

    node {
      id
      viewerCanAdminister
      name
      isPublic
      updatedAt
      resourcePath

      owner {
        ... on Organization {
          login
        }
      }
    }
  }
 %>

<%
  project_edge = Views::Orgs::TeamProjects::Project::TeamProjectEdge.new(project_edge)
  project = project_edge.node
  inherited_permission_level = Ability.actions[project_edge.inherited_permission&.downcase&.to_sym] || -1 # -1 means there is no inherited permission
  inherited_text = " (inherited from #{project_edge.inherited_permission_origin.name})" if project_edge.inherited_permission_origin.present?
%>

<li class="js-team-row p-3 d-flex flex-items-center border-top border-right border-left <%= "adminable" if viewer_can_administer_team %>">
  <div class="flex-auto min-width-0">
    <%= link_to project.resource_path.to_s, class: "f4" do %>
      <span><strong><%= project.name %></strong></span>
    <% end %>
    <% unless project.is_public? %>
      <span class="Label Label--outline v-align-middle ml-1 mb-1" title="Only visible to its members.">Private</span>
    <% end %>
    <div class="text-small">updated <%= time_ago_in_words_js project.updated_at %></div>
  </div>

  <% if viewer_can_administer_team %>
    <% if project.viewer_can_administer? %>
      <%= form_tag project_edge.team_project_resource_path.to_s, method: :put, class: "select-menu select-menu-modal-right js-select-repo-permission" do %>
        <span class="js-permission-success mr-2" hidden aria-label="Save successful">
          <%= octicon("check", class: "text-green") %>
        </span>
        <span class="js-permission-error mr-2 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again">
          <%= octicon("alert", class: "text-red") %>
        </span>
        <details class="details-reset details-overlay permission-level-cell d-inline-block">
          <summary class="btn btn-sm select-menu-button" data-menu-button>
            <%= render partial: "orgs/team_projects/permissions_button", locals: { permission: project_edge.permission } %>
          </summary>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Permission level</span>
            </div>
            <div class="select-menu-list">
              <% disabled = inherited_permission_level >= Ability.actions[:admin] %>
              <button
                type="submit"
                name="permission"
                value="admin"
                class="select-menu-item width-full <% if disabled %>disabled opaque<% end %>"
                <% if disabled %>disabled<% end %>
                aria-checked="<%= project_edge.permission == "ADMIN" %>"
                role="menuitemradio">

                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading select-menu-option-title">Admin<%= inherited_text if inherited_permission_level == Ability.actions[:admin] %></span>
                  <span class="description">Team members can see, make changes to, and add new collaborators to this project.</span>
                </div>
              </button>

              <% disabled = inherited_permission_level >= Ability.actions[:admin] %>
              <button
                type="submit"
                name="permission"
                value="write"
                class="select-menu-item width-full <% if disabled %>disabled opaque<% end %>"
                <% if disabled %>disabled<% end %>
                aria-checked="<%= project_edge.permission == "WRITE" %>"
                role="menuitemradio">

                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading select-menu-option-title">Write<%= inherited_text if inherited_permission_level == Ability.actions[:write] %></span>
                  <span class="description">Team members can see and make changes to this project.</span>
                </div>
              </button>

              <% disabled = inherited_permission_level >= Ability.actions[:write] %>
              <button
                type="submit"
                name="permission"
                value="read"
                class="select-menu-item width-full <% if disabled %>disabled opaque<% end %>"
                <% if disabled %>disabled<% end %>
                aria-checked="<%= project_edge.permission == "READ" %>"
                role="menuitemradio">

                <%= octicon("check", class: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading select-menu-option-title">Read<%= inherited_text if inherited_permission_level == Ability.actions[:read] %></span>
                  <span class="description">Team members can see this project.</span>
                </div>
              </button>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% elsif project_edge.inherited_permission_origin.present? %>
      <button class="btn btn-outline tooltipped tooltipped-nw" aria-label="Permissions inherited from the <%= project_edge.inherited_permission_origin.name %> team" disabled type="button">
        <%= render partial: "orgs/team_projects/permissions_button", locals: { permission: project_edge.permission } %>
      </button>
    <% else %>
      <button class="btn btn-outline tooltipped tooltipped-nw" aria-label="You do not have admin permissions on this project" disabled type="button">
        <%= render partial: "orgs/team_projects/permissions_button", locals: { permission: project_edge.permission } %>
      </button>
    <% end %>
  <% else %>
    <div class="permission-level-cell">
      <button class="btn btn-sm select-menu-button" disabled type="button">
        <%= render partial: "orgs/team_projects/permissions_button", locals: { permission: project_edge.permission } %>
      </button>
    </div>
  <% end %>

  <% if viewer_can_administer_team || project.viewer_can_administer? %>
    <%= form_tag project_edge.team_project_resource_path.to_s, method: :delete do %>
      <button type="submit" class="ml-3 btn-link text-red tooltipped tooltipped-sw" aria-label="Remove this project from this team."><%= octicon("trashcan") %></button>
    <% end %>
  <% end %>
</li>
