<% page_info \
  title: "Git Guides - git init",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Git Guides - git init",
    url: request.original_url,
    description: "Learn about when and how to use git init.",
    image: image_path("modules/site/social-cards/git-guides/git-init.png"),
  }
%>

<%= image_tag "modules/site/git-guides/git-init.png", alt: "Git init illustration", class: "width-full" %>

<% markdown = render(partial: "site/git_guides/md/git-init.md") %>
<%= GitHub::Goomba::GuidesMarkdownPipeline.to_html(markdown, {anchor_icon: octicon("link")}) %>

<%= render "site/git_guides/git_guides_edit", href: "https://github.com/github/training-kit/blob/master/git-guides/git-init.md" %>

<%= render "site/git_guides/git_guides_footer", ref_page: "/git-init" %>
