<% page_info \
  title: "Git Guides - git remote",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Git Guides - git remote",
    url: request.original_url,
    description: "Learn about when and how to use git remote.",
    image: image_path("modules/site/social-cards/git-guides/git-remote.png"),
  }
%>

<%= image_tag "modules/site/git-guides/git-remote.png", alt: "Git remote illustration", class: "width-full" %>

<% markdown = render(partial: "site/git_guides/md/git-remote.md") %>
<%= GitHub::Goomba::GuidesMarkdownPipeline.to_html(markdown, {anchor_icon: octicon("link")}) %>

<%= render "site/git_guides/git_guides_edit", href: "https://github.com/github/training-kit/blob/master/git-guides/git-remote.md" %>

<%= render "site/git_guides/git_guides_footer", ref_page: "/git-remote" %>
