<% page_info \
  title: "Git Guides - install git",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Git Guides - install git",
    url: request.original_url,
    description: "Learn how to install git.",
    image: image_path("modules/site/social-cards/git-guides/install-git.png"),
  }
%>

<%= image_tag "modules/site/git-guides/install-git.png", alt: "Install git illustration", class: "width-full" %>

<% markdown = render(partial: "site/git_guides/md/install-git.md") %>
<%= GitHub::Goomba::GuidesMarkdownPipeline.to_html(markdown, {anchor_icon: octicon("link")}) %>

<%= render "site/git_guides/git_guides_edit", href: "https://github.com/github/training-kit/blob/master/git-guides/install-git.md" %>

<%= render "site/git_guides/git_guides_footer", ref_page: "/install-git" %>
