<% page_info title: this_business.name, selected_link: :business_security %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "Security", security_stafftools_enterprise_path(this_business.slug) %>
    / Linked SAML organizations
  <% end %>
<% end %>

<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= pluralize(orgs.count, "linked organization") %>
    </h3>
  </div>

  <%= render "stafftools/business_external_identities/saml_members",
    business: this_business,
    saml_members: orgs %>
</div>

<div class="paginate-container">
  <%= will_paginate orgs %>
</div>
