<% page_info title: "#{business.name} - #{user.login}’s external identity", selected_link: :business_security %>

<% if external_identity.present? %>
  <% # User linked to the enterprise's SAML IdP %>
  <div class="Box Box--condensed">
    <div class="Box-header">
      <h3 class="Box-title">
        <span class="boxed-group-breadcrumb">External identities /</span>
        <%= user.login %>
      </h3>
    </div>
    <div class="boxed-group-inner border-0">
      <div class="Box-row summary mt-0 border-top-0">
        <dl>
          <dt>SAML user data</dt>
          <dd><pre><%= GitHub::JSON.encode(JSON.parse(external_identity.saml_user_data.to_json), pretty: true) %></pre></dd>
        </dl>

        <dl>
          <dt>SCIM user data</dt>
          <dd><pre><%= GitHub::JSON.encode(JSON.parse(external_identity.scim_user_data.to_json), pretty: true) %></pre></dd>
        </dl>

        <dl>
          <dt>Created at</dt>
          <dd><%= time_ago_in_words_js external_identity.created_at %></dd>
        </dl>
        <dl>
          <dt>Updated at</dt>
          <dd><%= time_ago_in_words_js external_identity.updated_at %></dd>
        </dl>
      </div>
      <hr class="bleed-flush">
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Unlink identity for #{user.login}",
          button_class: "btn btn-danger",
          details_class: "boxed-action",
          title: "Unlink external identity for #{user.login}",
      } do %>
        <div class="flash flash-warn flash-full">
          Be careful &mdash; this will unlink the user's external identity and invalidate their active SAML sessions.
        </div>
        <div class="Box-body overflow-auto">
          <p>
            They will not be removed from the enterprise, their credentials will remain authorized, and they will be able to link
            their external identity again next time they authenticate with the Identity Provider.
            Unlink the external identity if it has been linked to the wrong GitHub account, or if another problem has occurred.
          </p>
          <%= form_tag stafftools_enterprise_external_identity_path(business.slug, user.login), method: "delete" do %>
            <div class="Box-footer">
              <button type="submit" class="btn btn-danger btn-block">
                Unlink external identity
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
      <h4>Unlink external identity</h4>
      <p>
        Be careful &mdash; this will not remove the user from the enterprise.
      </p>
    </div>
  </div>

  <% unless user.organization? %>
    <%= render Primer::SubheadComponent.new(mt: 3) do |component| %>
      <% component.slot(:heading) do %>Active SAML sessions<% end %>
    <% end %>
    <% if external_identity.user_sessions.any? %>
      <ul>
        <% external_identity.user_sessions.each do |user_session| %>
          <li class="Box-row js-user-session">
            <strong>
              <% if user_session.location.present? %>
                <%= user_session.location[:city] || user_session.location[:region_name] || user_session.location[:country_name] %>
                <span><%= user_session.ip %></span>
              <% else %>
                <%= user_session.ip %>
              <% end %>
            </strong>

            <% if user_session.user_agent %>
                <span class="d-block">
                  <strong title="<%= user_session.user_agent %>"><%= user_session.user_agent %></strong>
                </span>
            <% end %>

            <span class="note">
              Expires <%= time_ago_in_words_js user_session.expire_time %> • Last accessed on <time><%= user_session.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %></time>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="blankslate">
        <h3>This member does not have any active SAML sessions.</h3>
      </div>
    <% end %>

    <%= render Primer::SubheadComponent.new(mt: 3) do |component| %>
      <% component.slot(:heading) do %>Authorized credentials<% end %>
    <% end %>

    <% credential_authorizations =
      external_identity.provider.target.credential_authorizations.where(actor: user) %>

    <% if credential_authorizations.any? %>
      <div class="listgroup">
        <% credential_authorizations.each_with_index do |credential_authorization, index| %>
          <% credential_view = Stafftools::Businesses::CredentialView.new(credential_authorization: credential_authorization) %>
          <div id="access-token-<%= index %>" class="access-token">
            <div class="listgroup-item">
              <small class="last-used float-right"><%= credential_view.last_accessed_description %></small>
              <span class="token-description">
                <strong><code><%= credential_view.masked_parts %></code></strong>
                <span class="text-gray">
                  &mdash;	<%= credential_view.display_name %>
                  <%= credential_view.read_only_display %>
                  <%= credential_view.scopes_description_tooltip %>
                </span>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="blankslate blankslate-spacious">
        <%= octicon("key", :height => 32, :class => "blankslate-icon") %>
        <h3>No authorized credentials</h3>
        <p>
          <%= user.login %> has not authorized any credentials for API and
          Git access to organizations in this enterprise.
        </p>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% # User not linked to the enterprise's SAML IdP %>
  <div class="blankslate blankslate-spacious">
    <%= octicon("shield-lock", :height => 32, :class => "blankslate-icon") %>
    <h3>No linked identity</h3>
    <p>
      <%= link_to(user.login, stafftools_user_path(user.login)) %> has not linked their GitHub account to the identity provider.
    </p>
  </div>
<% end %>
