<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "OAuth token - #{this_user}",
             :selected_link => :personal_tokens %>

<div class="boxed-group">
  <h3>
    OAuth Access Token Details
  </h3>
  <div class="boxed-group-inner clearfix">
    <p>
      <div class="clearfix summary">
        <dl>
          <dt>ID</dt>
          <dd>
            <%= @access.id %>
              &ndash;
              <%= stafftools_selected_link_to "Search audit logs",
                        stafftools_audit_log_path(:query => "data.oauth_access_id:#{@access.id}") %>
          </dd>
        </dl>
        <% if @access.personal_access_token? %>
          <dl>
            <dt>Type</dt>
            <dd>Personal token</dd>
          </dl>
          <dl>
            <dt>Description</dt>
            <dd><%= @access.description %></dd>
          </dl>
        <% elsif @access.integration_application_type? %>
          <dl>
            <dt>Type</dt>
            <dd>Third party integration access</dd>
          </dl>
          <dl>
            <dt>Integration</dt>
            <dd>
              <%= link_to @access.safe_app.name, stafftools_user_app_path(@access.safe_app.owner, @access.safe_app) %>
            </dd>
          </dl>
        <% else %>
          <dl>
            <dt>Type</dt>
            <dd>Third party app token</dd>
          </dl>
          <dl>
            <dt>Application</dt>
            <dd>
              <%= link_to @access.safe_app.name,
                          stafftools_user_application_path(@access.safe_app.user, @access.safe_app.id) %>
            </dd>
          </dl>
        <% end %>
        <dl>
          <dt>Token</dt>
          <dd>
            <% if @access.token_last_eight.nil? %>
              nil
            <% else %>
              <code>
                <%= ("*"*32) + @access.token_last_eight %>
              </code>
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Hashed Token</dt>
          <dd>
            <% if @access.token_last_eight.nil? %>
              nil
            <% else %>
              <code>
                <%= @access.hashed_token %>
              </code>
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Created</dt>
          <dd><%= @access.created_at %></dd>
        </dl>
        <dl>
          <dt>Last access</dt>
          <dd>
            <% if @access.accessed_at %>
              within <%= distance_of_time_in_words(OauthAccess::ACCESS_THROTTLING) %> of <%= @access.last_access_date %>
            <% else %>
              never
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Scopes</dt>
          <dd><%= @access.scopes.any? ? @access.access_level.to_sentence : "none" %></dd>
        </dl>
        <dl>
          <dt>Access level</dt>
          <dd><%= descriptions_for_scopes(@access.scopes).join ", " %></dd>
        </dl>
        <dl>
          <dt>Public keys</dt>
          <dd>
            <% if @access.authorization.present? %>
              <%= @access.authorization.public_keys.size %>
            <% else %>
              0
            <% end %>
          </dd>
        </dl>
        <dl>
          <dt>Fingerprint</dt>
          <dd><%= @access.fingerprint || "nil" %></dd>
        </dl>
        <dl>
          <dt>Note</dt>
          <dd><%= @access.note || "nil" %></dd>
        </dl>
        <dl>
          <dt>Note URL</dt>
          <dd><%= @access.note_url || "nil" %></dd>
        </dl>
      </div>
    </p>

    <hr class="full-bleed">

    <h4>Compare</h4>
    <%= form_for @access, :method => :put, :url => compare_stafftools_user_oauth_token_path do |form| %>
      <p>Compare a compromized token to this one to see if they match.</p>
      <div class="hfields">
        <dl class="form-group">
          <dt><%= label_tag :compromized_token, "Compromized Token" %></dt>
          <dd>
            <%= text_field_tag :compromized_token, nil, :class => "input-lg" %>
          </dd>
        </dl>

        <button type="submit" class="btn">Compare</button>
      </div>
    <% end %>

    <hr class="full-bleed">

    <h4>Revoke</h4>
    <a href="#revoke_confirm" rel="facebox"
       class="btn btn-danger boxed-action">
      Revoke
    </a>
    <p>
      Revoke this token.
    </p>

    <div id="revoke_confirm" style="display:none">
      <h2 class="facebox-header" data-facebox-id="facebox-header">Revoke token?</h2>
      <div class="facebox-alert" data-facebox-id="facebox-description">
        Woah there! This action cannot be undone.
      </div>
      <p>
        <% if @access.personal_access_token? %>
          This token will no longer have access to
          <strong>@<%= this_user %></strong>’s data.
        <% else %>
          This token for <strong><%= @access.application.name %></strong> will
          no longer have access to <strong>@<%= this_user %></strong>’s data.
          However, other valid tokens for this application will continue to
          have access unless the application’s authorization is revoked.
        <% end %>
      </p>
      <%= form_tag stafftools_user_oauth_token_path(this_user, @access),
                   :method => :delete do %>
        <button type="submit" class="btn btn-block">Revoke token</button>
      <% end %>
    </div>
  </div>
</div>
