<div id="gollum-editor-function-buttons" class="float-md-left d-none overflow-auto no-wrap gollum-editor-function-buttons">

  <div class="BtnGroup">
    <button type="button" id="function-h1" class="btn btn-sm BtnGroup-item function-button" title="Header 1" tabindex="-1">
      <b>h1</b>
    </button>
    <button type="button" id="function-h2" class="btn btn-sm BtnGroup-item function-button" title="Header 2" tabindex="-1">
      <b>h2</b>
    </button>
    <button type="button" id="function-h3" class="btn btn-sm BtnGroup-item function-button" title="Header 3" tabindex="-1">
      <b>h3</b>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-link" class="btn btn-sm BtnGroup-item function-button" aria-label="Add link" title="Link" tabindex="-1">
      <%= octicon("link") %>
    </button>
    <button type="button" id="function-image" class="btn btn-sm BtnGroup-item function-button" aria-label="Add image" title="Image" tabindex="-1">
      <%= octicon("image") %>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-bold" class="btn btn-sm BtnGroup-item function-button" aria-label="Add bold text" title="Bold" tabindex="-1">
      <b>B</b>
    </button>
    <button type="button" id="function-italic" class="btn btn-sm BtnGroup-item function-button" aria-label="Add italic text" title="Italic" tabindex="-1">
      <em>i</em>
    </button>
    <button type="button" id="function-code" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert code" title="Code" tabindex="-1">
      <%= octicon("code") %>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-ul" class="btn btn-sm BtnGroup-item function-button" aria-label="Add unordered list" title="Unordered List" tabindex="-1">
      <%= octicon("list-unordered") %>
    </button>
    <button type="button" id="function-ol" class="btn btn-sm BtnGroup-item function-button" aria-label="Add ordered list" title="Ordered List" tabindex="-1">
      <%= octicon("list-ordered") %>
    </button>
    <button type="button" id="function-blockquote" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert blockquote" title="Blockquote" tabindex="-1">
      <%= octicon("quote") %>
    </button>
    <button type="button" id="function-hr" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert horizontal rule" title="Horizontal Rule" tabindex="-1">
      <%= octicon("horizontal-rule") %>
    </button>
  </div>

  <button type="button" id="function-help" class="btn btn-sm hide-sm function-button" aria-label="Help" title="Help" tabindex="-1" data-dismiss-help-url="<%= wiki_dismiss_help_path %>">
    <%= octicon("question") %>
  </button>
  <%= csrf_hidden_input_for wiki_dismiss_help_path, method: :delete, class: "js-data-dismiss-help-url-csrf" %>
  <details class="details-reset details-overlay details-overlay-dark js-gollum-button-details">
    <summary></summary>
    <details-dialog class="Box Box--overlay js-gollum-button-dialog"></details-dialog>
  </details>
</div>
