<%# rubocop:disable GitHub/DeprecatedViewHelpers %>
<% load_blob_editor_configs!(current_commit, view.blob) if view.blob %>

<%# `view` is [Blob or Gist]::EditorView %>
<div class="file <% unless view.gist? && view.blob_binary? %>js-code-editor<% end %> container-preview <%= view.default_tab %> <%= "mt-0 position-relative d-flex flex-column flex-auto overflow-hidden" if blob_fullwidth? %> <%= "js-mobile-code-editor" if responsive? && mobile? %><% if view.gist? && responsive? %> mx-0<% else %> <%= "mx-lg-3" unless workflow_yaml_file? %><% end %>"
  data-github-confirm-unload="<%= view.try(:confirm_unload) %>">
  <div class="file-header mb-2<%= " d-flex flex-items-center pr-0" if responsive? %><%= " pr-3 wants-full-width-container flex-shrink-0" if blob_fullwidth? %><%= " mb-4" if responsive? && mobile? %>">
    <%
      navigation = if view.new_file?
        then {
            edit_text: "Edit new file",
            preview_text: "Preview",
        }
        else {
          edit_text: "Edit file",
          preview_text: "Preview changes",
        }
        end
    %>

    <% if view.gist? %>
      <%= render_partial_view "editors/gist_header", view %>
    <% else %>
      <div class="tabnav-tabs js-file-editor-nav <%= responsive? ? "d-flex flex-auto d-md-block": "float-left" %>">
        <button type="button" class="btn-link code <%= "px-3 px-sm-6 px-lg-3 flex-1 flex-md-auto" if responsive? %> <%= "selected" %> tabnav-tab js-blob-edit-code js-blob-edit-tab"
          aria-current="true"
          data-tab="show-code">
          <%= octicon("code") %>
          <%= navigation.fetch(:edit_text) %>
        </button>
        <button type="button" class="<%= "flex-1 flex-md-auto" if responsive? %> btn-link preview tabnav-tab js-blob-edit-preview js-blob-edit-tab"
          data-tab="preview">
          <%= octicon("eye") %>
          <%= navigation.fetch(:preview_text) %>
        </button>
      </div>
    <% end %>

    <% if view.show_file_actions? && !(responsive? && mobile?) %>
      <div class="file-actions d-none d-md-flex<%= " px-3 pr-md-6 px-lg-2" if responsive? %><%= " mr-1" if blob_fullwidth? %>">
        <select id="indent-mode" class="form-select select-sm js-code-indent-mode" aria-label="Indent mode">
          <optgroup label="Indent mode">
            <% selected_indent_style = blob_editor_indent_style(view.blob) if view.blob %>
            <%= options_for_select({
                  "Spaces" => "space",
                  "Tabs" => "tab"
                }, selected_indent_style) %>
          </optgroup>
        </select>

        <select id="indent-size" class="form-select select-sm js-code-indent-width" aria-label="Indent size">
          <optgroup label="Indent size">
            <% selected_indent_size = blob_editor_indent_size(view.blob) if view.blob %>
            <%= options_for_select [2, 4, 8, selected_indent_size].compact.uniq.sort, selected_indent_size %>
          </optgroup>
        </select>

        <select id="line-wrap-mode" class="form-select select-sm js-code-wrap-mode" aria-label="Line wrap mode">
          <optgroup label="Line wrap mode">
            <% selected_wrap_mode = blob_editor_wrap_mode(view.blob) if view.blob %>
            <%= options_for_select({
                  "No wrap" => "off",
                  "Soft wrap" => "on"
                }, selected_wrap_mode) %>
          </optgroup>
        </select>
      </div>
    <% end %>
  </div>

  <input type="hidden" name="content_changed" class="js-blob-contents-changed" value="<%= view.allow_contents_unchanged %>">

  <% if view.gist? && view.blob_binary? %>
    <% blob_view = Gists::BlobView.new :blob => view.blob,
      :gist => view.gist, :revision => view.gist.sha %>
    <%= render :partial => "blob/blob_content", :locals => {
      :blob => blob_view.blob,
      :use_render => blob_view.use_render?,
      :named_anchor_prefix => blob_view.named_anchor_prefix,
      :snippet => blob_view.snippet?,
      :raw_url => raw_user_gist_sha_file_path(blob_view.gist.owner, blob_view.gist, blob_view.revision, blob_view.encoded_blob_name)
      } %>
  <% else %>
  <div class="commit-create <%= "d-flex flex-column flex-auto overflow-hidden pt-1" if blob_fullwidth? %> position-relative <%= "m-2 m-md-0" if responsive? && mobile? %>">
    <textarea
      class="form-control file-editor-textarea js-blob-contents js-code-textarea <%= "flex-auto" if blob_fullwidth? %>"
      rows="<%= view.textarea_rows %>" name="<%= view.textarea_name %>"
      data-filename="<%= view.blob_filename %>"
      data-codemirror-mode="<%= view.codemirror_mode %>"
      data-allow-unchanged="<%= view.allow_contents_unchanged %>"
      placeholder="Enter file contents here"
      aria-label="Enter file contents here"
      spellcheck="false"
      <% if responsive? && mobile? %>
        wrap="off"
        style="-webkit-overflow-scrolling: touch"
      <% end %>
      <% if !view.gist? %>autofocus<% end %>>
<%= view.blob_contents %></textarea>
  </div>

    <% if workflow_yaml_file? %>
      <div class="bg-gray-light text-gray px-3 py-1 m-0 border-top">
        <code id="workflow-editor-help-default">Use <kbd>Control</kbd> + <kbd>Space</kbd> to trigger autocomplete in most situations.</code>
        <code id="workflow-editor-help" hidden>
          <span class="js-workflow-editor-help-placeholder pr-1"></span>
          <span class="js-workflow-editor-help-tab">Use <kbd>Tab</kbd> to navigate to the next placeholder.</span>
        </code>
      </div>
    <% end %>
  <% end %>

  <div class="loading-preview-msg"><p class="preview-msg text-gray">Loading preview&hellip;</p></div>
  <div class="no-changes-preview-msg"><p class="preview-msg text-gray">No changes to display.</p></div>
  <div class="error-preview-msg"><p class="preview-msg text-gray">Unable to load this preview, sorry.</p></div>
  <div class="js-commit-preview commit-preview <%= "d-flex flex-column flex-auto position-relative" if blob_fullwidth? %> <%= "overflow-auto" if view.new_file? && blob_fullwidth? %> ">
  </div>
</div>
