<%# erblint:counter TooltipCounter 1 %>
<div class="input-group gist-filename-input">
  <input type="hidden" name="gist[contents][][oid]" value="<%= view.oid %>">
  <input type="text" class="form-control filename js-gist-filename js-blob-filename"
    aria-label="Filename including extension…"
    name="gist[contents][][name]"
    value="<%= view.filename %>"
    placeholder="Filename including extension…"
    data-default-value="<%= view.default_filename %>"
    data-language-detection-url="<%= detect_gist_language_path %>"
    <% if view.new_file? %>
    autofocus
    <% end %>>
    <input type="hidden" name="new_filename" class="js-new-filename-field" value="<%= view.filename %>">
  <span class="input-group-button">
    <button type="button" class="btn btn-danger js-remove-gist-file tooltipped tooltipped-e d-none" aria-label="Remove file">
      <%= octicon("trashcan") %>
    </button>
  </span>
</div>
