<%# rubocop:disable Lint/InstanceVariable %>

<div id="gollum-editor-function-bar" class="mb-2 pb-2 border-bottom clearfix">

  <%= render :partial => "editors/buttons" %>

  <% if @readme %>
    <div class="d-inline-block ml-2">
      <button class="btn btn-sm" type="button" id="load-readme" data-readme-name="<%=@readme.name%>">
        Load <%= @readme.name %>
      </button>
      <button class="btn btn-sm d-none" type="button" id="undo-load-readme">Undo</button>
    </div>
  <% end %>

</div>

<%= render partial: "editors/help" %>

<%= text_area_tag editor.name_for(:body), editor.value_for(:body),
  editor.options_for(:body, :class => 'mt-2 mb-1 text-mono input-block input-contrast js-size-to-fit gollum-editor-body', :id => 'gollum-editor-body', :'data-markup-lang' => @page.try(:format)) %>

<span class="jaws"><br></span>
