<%
  locals = ensure_local_vars(local_assigns, {
    required: [:button_icon, :button_title, :form_path],
    optional: [:button_disabled, :show_button_text, :classes, :button_classes, :hidden, :hotkey, :notification_id, :octicon_options],
    defaults: {
      classes: "",
      button_classes: "",
      hidden: false,
      form_attributes: {},
      octicon_options: {},
      show_button_text: false,
    }
  })
%>

<%
  octicon_options = locals[:octicon_options]
  octicon_options[:class] ||= ""
  octicon_options[:class] += " v-align-text-bottom"

  button_classes = class_names("btn", locals[:button_classes], {
    "px-2": !show_button_text # narrower padding for list view
  })
%>

<li class="<%= locals[:classes] %>"
    <%= "hidden" if locals[:hidden] %>
>
  <span class="d-flex flex-items-center flex-justify-center height-full width-full">
    <%= form_tag locals[:form_path], **form_attributes do %>
      <% if locals[:notification_id].present? %>
        <input type="hidden" name="notification_ids[]" value="<%= locals[:notification_id] %>">
      <% end %>

      <button type="submit" title="<%= locals[:button_title] %>"
              class="<%= button_classes %>"
              <%= "disabled" if locals[:button_disabled] %>
              <% if locals[:hotkey].present? %>data-hotkey="<%= locals[:hotkey] %>"<% end %>
      >
        <span class="text-center d-inline-block" style="width:16px">
          <%= octicon(locals[:button_icon], locals[:octicon_options]) %>
        </span>
        <%= button_title if locals[:show_button_text]%>
      </button>
    <% end %>
  </span>
</li>
