<%= render partial: "notifications/v2/actions/action", locals: {
    hotkey: local_assigns[:include_hotkeys] ? "I" : nil,
    classes: local_assigns[:classes],
    button_classes: local_assigns[:button_classes],
    hidden: local_assigns[:hidden],
    form_path: notifications_beta_mark_as_unarchived_path,
    form_attributes: {
      "data-status": "read",
      "data-update": true,
      "data-redirect-to-inbox-on-submit": local_assigns[:inbox_redirect]
    },
    button_title: "Move to inbox",
    button_icon: "arrow-right",
    notification_id: local_assigns[:notification_id],
    show_button_text: local_assigns[:show_button_text]
  }
%>
