<%= render partial: "notifications/v2/actions/action", locals: {
    hotkey: local_assigns[:include_hotkeys] ? "U" : nil,
    classes: local_assigns[:classes],
    button_classes: local_assigns[:button_classes],
    hidden: local_assigns[:hidden],
    form_path: notifications_beta_mark_as_unread_path,
    form_attributes: {
      "data-status": "unread",
      "data-redirect-to-inbox-on-submit": local_assigns[:inbox_redirect]
    },
    button_title: "Mark as unread",
    button_icon: "primitive-dot",
    notification_id: local_assigns[:notification_id],
    show_button_text: local_assigns[:show_button_text]
  }
%>
