<%# rubocop:disable Lint/InstanceVariable %>

<div class="pagehead codesearch-head">
  <div class="container-lg p-responsive d-flex flex-column flex-md-row">
    <h1 class="flex-shrink-0" id="search-title">Advanced search</h1>
    <div class="search-form-fluid flex-auto d-flex flex-column flex-md-row pt-2 pt-md-0" id="adv_code_search">
      <div class="flex-auto pr-md-2">
        <label class="form-control search-page-label js-advanced-search-label">
          <input aria-labelledby="search-title" class="form-control input-block search-page-input js-advanced-search-input js-advanced-search-prefix" data-search-prefix="" type="text" value="<%= @search %>">
          <p class="completed-query js-advanced-query"></p>
        </label>
        <input class="js-search-query" type="hidden" name="q" value="<%= @search %>">
        <input class="js-type-value" type="hidden" name="type" value="<%=h @type %>">
        <input type="hidden" name="ref" value="advsearch">
      </div>
      <div class="d-flex d-md-block flex-shrink-0 pt-2 pt-md-0">
        <button class="btn flex-auto" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>

<div class="container-lg p-responsive advanced-search-form">
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Advanced options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_from">From these owners</label></dt>
      <dd><input id="search_from" type="text" class="form-control js-advanced-search-prefix" placeholder="github, atom, electron, octokit" data-search-prefix="user:"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_repos">In these repositories</label></dt>
      <dd><input id="search_repos" type="text" class="form-control js-advanced-search-prefix" value="<%= params[:r] %>" placeholder="twbs/bootstrap, rails/rails" data-search-prefix="repo:"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_date">Created on the dates</label></dt>
      <dd><input id="search_date" type="text" class="form-control js-advanced-search-prefix" value="" placeholder=">YYYY-MM-DD, YYYY-MM-DD" data-search-prefix="created:"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_language">Written in this language</label></dt>
      <dd>
        <select id="search_language" name="l" class="form-select js-advanced-search-prefix" data-search-prefix="language:">
          <option value=''>Any Language</option>
          <optgroup label='Popular'>
            <%= options_for_select(Linguist::Language.popular, @language) %>
          </optgroup>
          <optgroup label="Everything else">
            <%= options_for_select(Linguist::Language.unpopular, @language) %>
          </optgroup>
        </select>
      </dd>
    </dl>
    <% if GitHub::Connect.unified_search_enabled? %>
      <dl class="form-group flattened d-flex d-md-block flex-column">
        <dt><label for="search_environment">From this environment</label></dt>
        <dd>
          <select id="search_environment" class="form-select js-advanced-search-prefix" data-search-prefix="environment:">
            <% if environment == "github" %>
              <option value="">GitHub.com</option>
              <option value="local">GitHub Enterprise</option>
            <% else %>
              <option value="">GitHub Enterprise</option>
              <option value="github">GitHub.com</option>
            <% end %>
          </select>
        </dd>
      </dl>
    <% end %>
  </fieldset>
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Repositories options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_stars">With this many stars</label></dt>
      <dd><input id="search_stars" type="text" class="form-control js-advanced-search-prefix" placeholder="0..100, 200, >1000" data-search-prefix="stars:" data-search-type="Repositories"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_forks">With this many forks</label></dt>
      <dd><input id="search_forks" type="text" class="form-control js-advanced-search-prefix" placeholder="50..100, 200, <5" data-search-prefix="forks:" data-search-type="Repositories"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_size">Of this size</label></dt>
      <dd><input id="search_size" type="text" class="form-control js-advanced-search-prefix" placeholder="Repository size in KB" data-search-prefix="size:" data-search-type="Repositories"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_push">Pushed to</label></dt>
      <dd><input id="search_push" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="<YYYY-MM-DD" data-search-prefix="pushed:" data-search-type="Repositories"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_license">With this license</label></dt>
      <dd>
          <select id="search_license" class="form-select js-advanced-search-prefix" data-search-prefix="license:" data-search-type="Repositories">
          <option value="">Any license</option>
          <optgroup label="Licenses">
            <%= license_options_for_select %>
          </optgroup>
          <optgroup label="License families">
            <%= license_family_options_for_select %>
          </optgroup>
        </select>
      </dd>
    </dl>
    <label>
      Return repositories <select class="form-select js-advanced-search-prefix" data-search-prefix="fork:" data-search-type="Repositories">
      <option value="">not</option>
      <option value="true">and</option>
      <option value="only">only</option>
      </select> including forks.
    </label>
  </fieldset>
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Code options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_extension">With this extension</label></dt>
      <dd><input id="search_extension" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="rb, py, jpg" data-search-prefix="extension:" data-search-type="Code"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_file_size">Of this file size</label></dt>
      <dd><input id="search_file_size" type="text" class="form-control js-advanced-search-prefix" placeholder="100..8000, >10000" data-search-prefix="size:" data-search-type="Code"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_path">In this path</label></dt>
      <dd><input id="search_path" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="/foo/bar/baz/qux" data-search-prefix="path:" data-search-type="Code"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_filename">With this file name</label></dt>
      <dd><input id="search_filename" type="text" class="form-control js-advanced-search-prefix" placeholder="app.rb, footer.erb" data-search-prefix="filename:"></dd>
    </dl>
    <label>
      Return code <select class="form-select js-advanced-search-prefix" data-search-prefix="fork:" data-search-type="Code">
      <option value="">not</option>
      <option value="true">and</option>
      <option value="only">only</option>
      </select> including forks.
    </label>
  </fieldset>
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Issues options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_state">In the state</label></dt>
      <dd><select id="search_state" class="form-select js-advanced-search-prefix" data-search-prefix="state:" data-search-type="Issues">
      <option value="">open/closed</option>
      <option value="open">open</option>
      <option value="closed">closed</option>
      </select></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_comments">With this many comments</label></dt>
      <dd><input id="search_comments" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="0..100, >442" data-search-prefix="comments:" data-search-type="Issues"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_labels">With the labels</label></dt>
      <dd><input id="search_labels" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="bug, ie6" data-search-prefix="label:" data-search-type="Issues"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_author">Opened by the author</label></dt>
      <dd><input id="search_author" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="hubot, octocat" data-search-prefix="author:" data-search-type="Issues"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_mention">Mentioning the users</label></dt>
      <dd><input id="search_mention" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="tpope, mattt" data-search-prefix="mentions:" data-search-type="Issues"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_assignment">Assigned to the users</label></dt>
      <dd><input id="search_assignment" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="twp, jim" data-search-prefix="assignee:" data-search-type="Issues"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_updated_date">Updated before the date</label></dt>
      <dd><input id="search_updated_date" type="text" class="form-control js-advanced-search-prefix" value="" placeholder="<YYYY-MM-DD" data-search-prefix="updated:" data-search-type="Issues"></dd>
    </dl>
  </fieldset>
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Users options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_full_name">With this full name</label></dt>
      <dd><input id="search_full_name" type="text" class="form-control js-advanced-search-prefix" placeholder="Grace Hopper" data-search-prefix="fullname:" data-search-type="Users"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_location">From this location</label></dt>
      <dd><input id="search_location" type="text" class="form-control js-advanced-search-prefix" placeholder="San Francisco, CA" data-search-prefix="location:" data-search-type="Users"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_followers">With this many followers</label></dt>
      <dd><input id="search_followers" type="text" class="form-control js-advanced-search-prefix" placeholder="20..50, >200, <2" data-search-prefix="followers:" data-search-type="Users"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_public_repos">With this many public repositories</label></dt>
      <dd><input id="search_public_repos" type="text" class="form-control js-advanced-search-prefix" placeholder="0, <42, >5"  data-search-prefix="repos:" data-search-type="Users"></dd>
    </dl>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_user_language">Working in this language</label></dt>
      <dd>
        <select id="search_user_language" name="l" class="form-select js-advanced-search-prefix" data-search-prefix="language:">
          <option value=''>Any Language</option>
          <optgroup label='Popular'>
            <%= options_for_select(Linguist::Language.popular, @language) %>
          </optgroup>
          <optgroup label="Everything else">
            <%= options_for_select(Linguist::Language.unpopular, @language) %>
          </optgroup>
        </select>
      </dd>
    </dl>
  </fieldset>
  <fieldset class="pb-3 mb-4 border-bottom min-width-0">
    <h3>Wiki options</h3>
    <dl class="form-group flattened d-flex d-md-block flex-column">
      <dt><label for="search_wiki_updated_date">Updated before the date</label></dt>
      <dd><input id="search_wiki_updated_date" type="text" class="form-control js-advanced-search-prefix" placeholder="<YYYY-MM-DD" data-search-prefix="updated:" data-search-type="Wiki"></dd>
    </dl>
  </fieldset>
  <div class="form-group flattened">
    <div class="d-flex d-md-block"><button class="btn flex-auto" type="submit">Search</button></div>
  </div>
</div>
