<%# rubocop:disable Lint/InstanceVariable %>
<% if results.languages.any? %>
  <div class="border rounded-1 p-3 mb-3 <% if responsive? %>d-none d-md-block<% end %>">
    <h2 class="d-inline-block f5 mb-2">
      Languages
    </h2>

    <ul class="filter-list small" data-pjax>
      <% results.languages.each do |aggregation| %>
        <%- this_link = aggregation.language.to_s.downcase == @language.to_s.downcase -%>
        <li>
          <% if aggregation.percentage > 2 %>
            <span class="bar" style="width: <%= aggregation.percentage %>%;"></span>
          <% else %>
            <span class="bar" style="width: 4px;"></span>
          <% end %>

          <% if this_link %>
            <%= link_to link_to_search(
              :l => nil,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item selected" do %>
              <%= octicon("x", :class => "float-right") %>
              <%= aggregation.language %>
              <% end %>
          <% else %>
            <%= link_to link_to_search(
              :l => aggregation.term,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item" do %>
              <span class="count"><%= number_with_delimiter(aggregation.count) %></span>
              <%= aggregation.language %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Gist search is not responsive so explicitly check the page variable -->
  <% if responsive? %>
    <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
      <label for="codesearch_select_language" class="col-3 text-small px-2">Language</label>
      <select id="codesearch_select_language" class="col-9 form-select mr-2" data-pjax>
        <option
          value="<%= link_to_search(l: nil, p: nil, s: params[:s], o: params[:o]) %>"
          <% unless @language.present? %>selected<% end %>
        >Any</option>
        <% results.languages.each do |aggregation| %>
          <%- this_link = aggregation.language.to_s.downcase == @language.to_s.downcase -%>
          <option
            value="<%= link_to_search(l: aggregation.term, p: nil, s: params[:s], o: params[:o]) %>"
            <% if this_link %>selected<% end %>
          ><%= aggregation.language %></option>
        <% end %>
      </select>
    </div>
  <% end %>
<% end %>
