<!-- Put sort options in filter area on small screens  -->
<% if !elastic_search_down && results.total > 10 %>
  <%
    sort =  params[:s] || commit_search_sort_fields.first
    direction = params[:o] || search_sort_directions.first
    sort_label = commit_search_sort_labels[[sort, direction]]
  %>
  <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
    <label for="codesearch_sort_commits" class="col-3 text-small px-2">Sort</label>
    <select id="codesearch_sort_commits" class="col-9 form-select mr-2" data-pjax>
      <% commit_search_sort_fields.product(search_sort_directions).each do |field, dir| %>
        <% if (option_label = commit_search_sort_labels[[field, dir]]) %>
          <option
            value="<%= link_to_sorted_search([field, dir]) %>"
            <% if sort_label == option_label %>selected<% end %>
          ><%= option_label %></option>
        <% end %>
      <% end %>
    </select>
  </div>
<% end %>
