<%
  # `hit` is an instance of `Search::RepoResultView`
  list_item_classes = ""
  list_item_classes = []
  list_item_classes << (hit.public ? "public" : "private")
  list_item_classes << (hit.fork ? "fork" : "source")
  list_item_classes = list_item_classes.join(" ")

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.repo,
    hit_url: repository_url(hit.repo)
  }
%>

 <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 <%= list_item_classes %>" <%= test_selector("results-ui") %>>
  <div class="flex-shrink-0 mr-2">
    <% if hit.private? %>
      <%= octicon("lock", height: 16, style: "color: #dbab09") %>
    <% elsif hit.forked? %>
      <%= octicon("repo-forked", height: 16, style: "color: #6a737d") %>
    <% elsif hit.mirror? %>
      <%= octicon("mirror", height: 16, style: "color: #6a737d") %>
    <% else %>
      <%= octicon("repo", height: 16, style: "color: #6a737d") %>
    <% end %>
  </div>

  <div class="mt-n1">
    <div class="f4 text-normal">
      <%= link_to_with_hydro_search_tracking(hit.name_with_owner, "/#{hit.owner}/#{hit.name}", click_data, class: "v-align-middle") %>

      <% if hit.private? || hit.archived? || hit.mirror?  %>
        <%= render Primer::LabelComponent.new(ml: 1, vertical_align: :middle, scheme: :gray, title: "Label: #{hit.type}") do %>
          <%= hit.type %>
        <% end %>
      <% end %>
    </div>

    <% if hit.description.present? %>
      <p class="mb-1">
        <%= truncate_html(hit.hl_description, 120) %>
      </p>
    <% end %>

    <div>
      <% if hit.topics.any? %>
        <div>
          <% hit.topics.each do |topic| %>
            <%= render(Topics::TagComponent.new(
              name: topic,
              href: search_result_topic_url(
                topic,
                forked: hit.forked?,
                org: hit.owned_by_organization? ? hit.owner : nil,
              ),
              data: {
                ga_click: "Topic, search results",
                octo_click: "topic_click",
                octo_dimensions: "topic:#{topic},repository_id:#{hit.id},"\
                  "repository_nwo:#{hit.name_with_owner},repository_public:#{hit.public},"\
                  "repository_is_fork:#{hit.fork}"
              },
              font_size: 6,
              px: 2,
              mx: 0,
              test_selector: "repo-topic",
            )) %>
          <% end %>
        </div>
      <% end %>

      <div class="d-flex flex-wrap text-small text-gray">
        <% if hit.forked? %>
          <div class="f6 text-gray mr-3">
            Forked from <%= link_to hit.parent.name_with_owner, repository_path(hit.parent), :class => "muted-link" %>
          </div>
        <% end %>

        <% if hit.followers > 0 %>
          <div class="mr-3">
            <a class="muted-link" href="<%= "/#{hit.owner}/#{hit.name}/stargazers" %>">
              <%= octicon("star", :"aria-label" => "star") %>
              <%= social_count(hit.followers) %>
            </a>
          </div>
        <% end %>

        <% if hit.language %>
          <div class="mr-3">
            <%= render(Languages::BadgeComponent.new(name: hit.language)) %>
          </div>
        <% end %>

        <% if hit.show_license? %>
          <div class="mr-3">
            <%= hit.license_name %> license
          </div>
        <% end %>

        <% if hit.pushed_at %>
          <div class="mr-3">
            Updated <%= time_ago_in_words_js hit.pushed_at %>
          </div>
        <% end %>

        <% if hit.show_issues_needing_help_link? %>
          <% if (issues_count = hit.help_wanted_issues_count) > 0 && (label = hit.help_wanted_label) %>
            <a class="muted-link f6" href="<%= issues_path(hit.owner, hit.name, q: "label:\"#{label.name}\" is:issue is:open") %>">
              <%= pluralize(issues_count, "issue") %>
              need<%= "s" if issues_count == 1 %> help
            </a>

          <% elsif (issues_count = hit.good_first_issue_issues_count) > 0 && (label = hit.good_first_issue_label) %>
            <a class="muted-link f6" href="<%= issues_path(hit.owner, hit.name, q: "label:\"#{label.name}\" is:issue is:open") %>">
              <%= pluralize(issues_count, "issue") %>
              need<%= "s" if issues_count == 1 %> help
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</li>
