<%
  url_prefix = hit.package.owner.is_a?(Organization) ? "orgs" : "users" 
  if hit.package.repository.nil?
    click_data = {
      page_number: page_number,
      per_page: per_page,
      result_position: hit_position,
      hit_object: hit.package,
      hit_url: "#{package_two_path(url_prefix, hit.package.owner.login, hit.package.package_type, hit.package.name, hit.package.latest_version.id)}"
    }
  else
    click_data = {
      page_number: page_number,
      per_page: per_page,
      result_position: hit_position,
      hit_object: hit.package,
      hit_url: "#{base_url}/#{package_path(hit.package.owner, hit.package.repository, hit.package)}"
    }
  end
%>

<div class="py-4 border-top hx_hit-package" <%= test_selector("results-ui") %>>
  <div>
    <% if hit.package.repository.nil? %>
      <%= link_to_with_hydro_search_tracking hit.package.name, package_two_path(url_prefix, hit.package.owner.login, hit.package.package_type, hit.package.name, hit.package.latest_version.id), click_data, class: "h4 text-normal" %>
    <% else %>
      <%= link_to_with_hydro_search_tracking hit.package.name, package_path(hit.package.owner, hit.package.repository, hit.package), click_data, class: "h4 text-normal" %>
    <% end %>
    <% unless hit.public? %>
      <%= render Primer::LabelComponent.new(ml: 1, vertical_align: :middle, scheme: :gray, title: "Label: Private repository") do %>
        Private
      <% end %>
    <% end %>
  </div>

  <p class="mb-1">
    <%= hit.summary %>
  </p>

  <% if hit.topics.any? %>
    <div>
      <% hit.topics.each do |topic| %>
        <%= render Primer::LabelComponent.new(tag: :a, href: search_result_package_topic_url(topic), "data-ga-click": "Topic, package search results", mr: 1, mb: 1, scheme: :gray, title: "Label: #{topic}") do %>
          <%= topic %>
        <% end %>
      <% end %>
    </div>
  <% end%>

  <div class="d-flex flex-wrap text-small text-gray">
    <p class="mr-3 mb-0">
      <% if hit.package.repository.nil? %>
        <span class="d-inline-block position-relative circle v-align-middle" style="background-color:#046fb3; top: -1px; width: 12px; height: 12px;"></span>
      <% else%>
        <span class="d-inline-block position-relative circle v-align-middle" style="background-color:<%= hit.package.color %>; top: -1px; width: 12px; height: 12px;"></span>
      <% end %>
      <%= hit.package.package_type.downcase %>
    </p>

    <p class="mr-3 mb-0">
      <%= hit.latest_version %>
    </p>

    <p class="mr-3 mb-0">
      <% if hit.package.repository.nil? %>
        <%= link_to hit.package.name, package_two_path(url_prefix, hit.package.owner.login, hit.package.package_type, hit.package.name, hit.package.latest_version.id), class: "text-gray"%>
      <% else %>
        <%= link_to hit.repo_name_with_owner, repository_path(hit.repository), class: "text-gray" %>
      <% end %>
    </p>

    <% if hit.updated_at %>
      <p class="mr-3 mb-0">
        Updated <%= time_ago_in_words_js hit.updated_at %>
      </p>
    <% end %>

    <p class="mr-3 mb-0">
      <%= number_to_human(hit.downloads, units: {:thousand => "k"}, format: "%n%u") %>
      downloads
    </p>
  </div>
</div>
