<%
  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.topic,
    hit_url: "#{base_url}/#{hit.url}"
  }
%>

<div class="topic-list-item col-12 py-4 mb-1 d-flex hx_hit-highlighting-wrapper" <%= test_selector("results-ui") %>>
  <div class="flex-shrink-0 mr-2">
    <% if hit.has_logo? %>
      <a href="<%= hit.url %>" title="<%= hit.display_name %>">
        <img src="<%= hit.logo_url %>" width="20" height="20" class="d-block rounded-1" alt="<%= hit.name %> logo">
      </a>
      <% else %>
      <div class="bg-blue-light f4 text-gray-light text-bold rounded-1 text-center" style="width:20px; height:20px; line-height:20px;">#</div>
    <% end %>
  </div>

  <div class="mt-n1 flex-auto">
    <div class="d-flex">
      <div class="f4 text-normal">
        <%= link_to_with_hydro_search_tracking(hit.hl_display_name,
                                               hit.url,
                                               click_data,
                                               title: hit.display_name) %>

      </div>

      <div class="flex-shrink-0 flex-auto text-right">
        <% if hit.topic %>
          <%= render "stars/star_topic_list_item_button", topic: hit.topic %>
        <% end %>
      </div>
    </div>

    <% if hit.curated? %>
      <p><%= hit.hl_short_description %></p>
    <% end %>

    <div>
      <div class="d-flex flex-wrap text-small text-gray">
        <span class="mr-3">
          <%= social_count hit.repository_count %> <%= "repository".pluralize(hit.repository_count) %>
        </span>

      <% if hit.any_related_topics? %>
        <p class="js-hidden-topics-container">
          Related:
          <% hit.visible_related_topic_names.each_with_index do |name, i| %>
            <a href="<%= hit.topic_url(name) %>"><%= name %></a><%= "," if hit.include_comma?(i) %>
          <% end %>
          <% if hit.hidden_related_topic_count > 0 %>

            <button type="button" class="js-reveal-hidden-topics btn-link text-gray" aria-expanded="false">
              and <%= hit.hidden_related_topic_count %> more
            </button>

            <span class="js-hidden-topics d-none">
              <% hit.hidden_related_topic_names.each_with_index do |name, i| %>
                <a href="<%= hit.topic_url(name) %>"><%= name %></a><%= "," if i < hit.hidden_related_topic_names.length - 1 %>
              <% end %>
            </span>
          <% end %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
