<%
  repo_specific ||= false

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.discussion,
    hit_url: hit.discussion.url
  }

  discussion_data_attrs = safe_data_attributes(
    hydro_search_click_tracking_data(click_data).merge(
      hovercard_data_attributes_for_discussion(
        hit.repository_owner, hit.repository_name, hit.number
      )
    )
  )
  user_hovercard_data_attrs = safe_data_attributes(
    hovercard_data_attributes_for_user_login(hit.user_login)
  )
%>

<div class="discussion-list-item d-flex py-4 hx_hit-discussion
  <%= hit.public? ? "public" : "private" %>" data-repository-hovercards-enabled>
    <%= octicon("comment-discussion", height: 16, class: "flex-shrink-0") %>
    <div class="ml-1 flex-auto <%= "mt-n1" if repo_specific %>">
    <% unless repo_specific %>
      <div class="text-small">
        <%= link_to hit.name_with_owner, "/#{hit.name_with_owner}/discussions", class: "muted-link text-bold", data: hovercard_data_attributes_for_repo_owner_and_name(hit.repository_owner, hit.repository_name) %>

        <%= link_to "##{hit.number}", "/#{hit.name_with_owner}/discussions", class: "muted-link text-gray-light", data: hovercard_data_attributes_for_repo_owner_and_name(hit.repository_owner, hit.repository_name) %>

        <% unless hit.public? %>
          <%= render Primer::LabelComponent.new(ml: 1, scheme: :gray, title: "Label: Private repository") do %>
            Private
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="f4 text-normal">
      <a href="<%= hit.url %>" <%= discussion_data_attrs %>>
        <%= hit.hl_title %>
      </a>
      <% if repo_specific %>
        <span class="flex-shrink-0 text-gray-light">
          (#<%= hit.number %>)
        </span>
      <% end %>
    </div>

    <% if hit.hl_text.present? %>
      <p class="mb-0"><%= hit.hl_text %></p>
    <% end %>

    <div class="d-flex mt-1 flex-items-center text-small text-gray flex-wrap position-relative">
      <span class="mr-3">
        <a href="/<%= hit.user_login %>" class="text-bold muted-link" <%= user_hovercard_data_attrs %>>
          <%= hit.user_login %>
        </a>
        posted
        <%= link_to_with_hydro_search_tracking(time_ago_in_words_js(hit.created), hit.url, click_data, class: "link-gray") %>
      </span>

      <% if hit.comments? %>
        <span class="mr-3">
          <%= social_count(hit.comments.size) %>
          <%= (hit.comments.size > 1) ? "comments" : "comment" %>
        </span>
      <% end %>
    </div>
  </div>
</div>
