<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Commit on Commit {
    resourcePath
    oid
    abbreviatedOid

    message
    messageBodyHTML
    messageHeadlineHTML
    treeResourcePath

    repository {
      resourcePath
      nameWithOwner
    }

    comments {
      totalCount
    }

    signature {
      ...Views::Commits::SignedCommitBadge::GitSignature
    }

    statusCheckRollup {
      ...Views::Statuses::Icon::Status
    }

    ...Views::Commit::AttributionInfo
  }
%>
<%-
  commit = Views::Codesearch::HitCommit::Commit.new(commit)

  if defined?(highlighted_message) && highlighted_message
    message_headline = highlighted_message.subject
    message_body = highlighted_message.body_html
  else
    message_headline = commit.message_headline_html
    message_body = commit.message_body_html
  end

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit_repo,
    hit_url: "#{GitHub.url}#{commit.resource_path}"
  }
-%>

<div class="d-flex hx_hit-commit commit commits-list-item js-commits-list-item js-navigation-item js-details-container Details py-4" <%= test_selector("results-ui") %>>
  <div class="mt-n1 flex-auto">
    <%# -- Header -- %>
    <div class="d-flex">
      <%# -- Repo Name -- %>
        <a href="<%= commit.repository.resource_path %>"
          class="link-gray text-bold text-small">
          <%= commit.repository.name_with_owner %>
        </a>
      <%# -- /Repo Name -- %>

      <%# -- Action buttons -- %>
      <div class="flex-shrink-0 flex-auto text-right hide-sm" style="position: relative; margin-top: -12px; top: 6px;">
        <%= render "commits/signed_commit_badge", signature: commit.signature, badge_size: "small", item_type: "commit" %>

        <div class="commit-links-group BtnGroup">
          <clipboard-copy value="<%= commit.oid %>" aria-label="Copy the full SHA" class="btn btn-outline BtnGroup-item zeroclipboard-button btn-sm" style="margin-top: 0;">
            <%= octicon("clippy") %>
          </clipboard-copy>
          <%= link_to_with_hydro_search_tracking(commit.abbreviated_oid, commit.resource_path.to_s, click_data, class: "sha btn btn-outline btn-sm BtnGroup-item text-normal", style: "margin-top: 0;") %>
        </div>
        <a href="<%= commit.tree_resource_path %>" aria-label="Browse the repository at this point in the history" class="btn btn-outline btn-sm tooltipped tooltipped-sw" style="margin-top: 0" rel="nofollow"><%= octicon "code" %></a>
      </div>
      <%# -- / Action buttons -- %>
    </div>
    <%# -- /Header -- %>

    <%# -- Commit title -- %>
    <div class="f4 text-normal">
      <% if commit.message.blank? %>
        <a href="<%= commit.resource_path %>" class="js-navigation-open">No commit message</a>
      <% else %>
        <%= link_markup_to message_headline,
            commit.resource_path,
            class: "message js-navigation-open",
            "aria-label": GitHub::CommitMessage.new(commit.message).tooltip,
            "data-pjax": "true",
            data: hydro_search_click_tracking_data(click_data) %>
      <% end %>

      <% if !message_body.blank? %>
        <span class="hidden-text-expander inline">
          <button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button>
        </span>
      <% end %>
    </div>
    <%# -- /Commit title -- %>

    <%# -- Description -- %>
    <% if !message_body.blank? %>
      <div class="commit-desc">
        <pre class="ws-normal text-small">
          <%= message_body %>
        </pre>
      </div>
    <% end %>
    <%# -- /Description -- %>

    <%# -- META INFO -- %>
    <div class="commit-meta commit-author-section d-flex flex-items-center text-small">
      <div class="min-width-0">
        <%= render "commit/attribution_info", {
          commit: commit,
          display_repository: false
        } %>

        <% if commit.status_check_rollup? %>
          <div class="commit-indicator d-inline-block ml-1">
            <%= render "statuses/icon", status: commit.status_check_rollup %>
          </div>
        <% end %>

        <% if commit.comments.total_count > 0 %>
          <a href="<%= commit.resource_path %>#comments" class="muted-link ml-3 d-inline-block v-align-middle">
            <%= number_with_delimiter commit.comments.total_count %>
            <%= (commit.comments.total_count > 1) ? "comments" : "comment" %>
          </a>
        <% end %>
      </div>
    </div>
    <%# -- /META INFO -- %>
  </div>
</div>
