<% repo_specific ||= false

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.repo,
    hit_url: "#{base_url}/#{wiki_path(hit.repo_owner, hit.repo, hit.page)}"
  }
%>

<div class="hx_hit-wiki py-4 border-top" <%= test_selector("wiki-search-result") %>>
  <%# -- Header -- %>
    <%# -- Repo Name -- %>
    <% unless repo_specific %>
      <%= link_to hit.name_with_owner,
        repository_path(hit.repo), class: "muted-link text-small text-bold" %>
    <% end %>
    <%# -- /Repo Name -- %>

    <%# -- Title -- %>
    <div class="f4 text-normal">
      <%= link_to_with_hydro_search_tracking(hit.hl_title, wiki_path(hit.repo_owner, hit.repo, hit.page), click_data, title: hit.title)%>
    </div>
    <%# -- /Title -- %>
  <%# -- /Header -- %>

  <%# -- Description -- %>
  <p class="mb-1 width-full">
    <%= hit.hl_body %>
  </p>
  <%# -- /Description -- %>

  <%# -- META INFO -- %>
  <div class="f6 text-gray updated-at">
    Last updated <%= time_ago_in_words_js hit.updated_at %>
  </div>
  <%# -- /META INFO -- %>
</div>
