<%# erblint:disable ProperTagNesting %>
<% view = Search::ErrorView.new(local_assigns.fetch(:details, [])) %>

<div class="blankslate">
  <%= octicon("search", height: 32, class: "blankslate-icon") %>
  <% if view.only_query_errors? %>
    <h3>We could not perform this search</h3>
    <div class="p-2 my-2 bg-gray-dark text-mono text-left text-white rounded-1">
      <%- view.query_segments_with_errors(query) do |segment, error| -%><%- if error -%><span class="border border-left-0 border-top-0 border-right-0 border-red"><% end %><%= segment %><%- if error -%></span><% end %><% end %>
    </div>

    <div class="text-left">
      <% view.query_error_messages.each do |message| %>
        <div class="mt-2 flash flash-error">
          <%= octicon "alert" %>
          <%= message %>
        </div>
      <% end %>
    </div>
  <% else %>
      <h3><%= message %></h3>
      <p>
        <% if GitHub.enterprise? %>
          If the problem persists <%= contact_support_snippet(true) %>.
        <% else %>
          We track these errors automatically, but if the problem persists feel
          free to <a href="<%= contact_path %>">contact us</a>. We will update any
          status on our <a href="<%= GitHub.site_status_url %>">status site.</a>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
