<%# rubocop:disable Lint/InstanceVariable %>
<%
  repo_specific = true # Geyser search only valid for repo-scoped search at the moment
  unscoped_search ||= nil
%>
<% if !current_repository.geyser_indexing_enabled? %>
  <%= render partial: "codesearch/results_geyser_not_indexed" %>
<% elsif results.error?  %>
  <%= render partial: "codesearch/results_error", locals: { message: results.error_message, query: @search } %>
<% elsif results.empty? %>
  <%= render partial: "codesearch/results_empty", locals: { message: "We couldn’t find any code matching '#{@search}'", repo_specific: repo_specific, current_repository: current_repository, unscoped_search: unscoped_search } %>
<% else %>
  <div id="code_search_results">
    <div class="code-list">
      <% results.each_with_index do |hit, index| %>
        <%= render partial: "codesearch/hit_code",
          locals: {
            hit: hit,
            repo_specific: repo_specific,
            hit_position: index + 1,
            page_number: results.page || 1,
            per_page: results.per_page
          }
        %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
