<% if results.total > 0 %>
  <%
    sort        = params[:s] || packages_search_sort_fields.first
    direction   = params[:o] || search_sort_directions.first
    sort_label  = packages_search_sort_labels[[sort, direction]]
  %>

  <div class="d-flex flex-column flex-md-row flex-justify-between border-bottom pb-3 position-relative">
    <%= render partial: "codesearch/results_total", locals: { results: results, what: "package result" } %>
    <% if results.total > 10 %>
      <details class="d-none d-md-block mt-2 mt-sm-0 details-reset details-overlay select-menu">
        <summary class="btn btn-sm select-menu-button">
          <i>Sort:</i>
          <span data-menu-button><%= sort_label %></span>
        </summary>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;" aria-label="Sort options">
          <div class="select-menu-header" tabindex="-1">
            <span class="select-menu-title">Sort options</span>
          </div>
          <div class="select-menu-list">
            <% packages_search_sort_fields.product(search_sort_directions).each do |field, dir| %>
              <% if packages_search_sort_labels[[field, dir]] %>
                <%= search_sort_menu_item([field, dir], [sort, direction]) do %>
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <span class="select-menu-item-text" data-menu-button-text><%= packages_search_sort_labels[[field, dir]] %></span>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  </div>
<% end %>
