<% page_info(
  selected_link: :code_search,
  title: "Code Search",
  hide_search: true
)%>

<% content_for :head do %>
  <meta name="description" content="Use GitHub’s code search engine to find repositories, source code, and developers. Results can be filtered by programming languages such as Objective-C, Java, JavaScript, PHP, Ruby, Python and more.">
<% end %>

<% view = CodeSearch::IndexView.new %>

<div class="container-lg">
  <div class="py-6 my-6 px-4 px-md-6 mx-md-6">
    <h2 class="text-normal">
      <%= octicon("search", :height => 24) %>
      <% if GitHub.enterprise? %>
        <% if GitHub::Connect.unified_search_enabled? %>
          Search GitHub Enterprise and GitHub.com
        <% else %>
          Search GitHub Enterprise
        <% end %>
      <% else %>
        Search more than <strong><%= view.model_millions %>M</strong> <%= view.model_name %>
      <% end %>
    </h2>
    <%= form_tag search_path, :method => :get, :id => "search_form", :class => "search_repos my-3" do %>
      <div class="d-flex search-form-fluid flex-column flex-sm-row">
        <div class="flex-auto position-relative">
          <input
            aria-label="Search <%= GitHub.search_flavor %>"
            autocapitalize="off"
            autocomplete="off"
            autofocus
            class="form-control input-block"
            data-hotkey="s"
            name="q"
            placeholder="Search <%= GitHub.search_flavor %>"
            spellcheck="false"
            type="text"
          >
          <input type="hidden" name="ref" value="simplesearch">
        </div>
        <button class="btn ml-sm-2 mt-2 mt-sm-0" type="submit">Search</button>
      </div>
    <% end %>

    <strong>ProTip!</strong>
    For an <%= link_to "advanced search", advanced_search_path %>, use some of our
    <details class="details-reset details-overlay details-overlay-dark d-inline-block">
      <summary class="btn-link">prefixes.</summary>
      <%= render "codesearch/search_cheatsheet" %>
    </details>
  </div>
</div>
