<% if view.show_top_languages? %>
  <%= cache view.top_languages_cache_key, skip_digest: true, ttl: 8.hours do %>
    <div class="Box mb-3">
      <div class="Box-body">
        <h4 class="f4 mb-2 text-normal">Top languages</h4>
        <% view.top_language_names.each do |language_name| %>
          <a class="no-wrap text-gray d-inline-block muted-link mt-2"
             href="<%= view.top_language_path(language_name) %>">
            <%= render(Languages::BadgeComponent.new(name: language_name, ml: 0, mr: 2)) %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
