<%
  listing = preview.listing
  listing_plan = preview.listing_plan
%>

<a href="<%= GitHub::GACampaignURL.new(marketplace_order_url(listing_slug: listing.slug, plan_id: listing_plan.global_relay_id, account: preview.account.login), source: 'marketplace_preview_email', medium: 'email', campaign: 'github-marketplace-retargeting') %>" style="box-sizing: border-box; color: #0366d6; text-decoration: none;">
  <table class="mb-3 border-top pt-3" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-top: 1px #e1e4e8 solid !important; margin-bottom: 16px !important; padding-top: 16px !important;" width="100%">
    <td class="pr-3" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; padding-right: 16px !important;" valign="top">
      <div class="CircleBadge CircleBadge--small box-shadow-none" style="box-sizing: border-box; box-shadow: none !important; display: block !important; text-align: center; border-radius: 50%; width: 56px; height: 56px; background-color: #<%= listing.bgcolor %>;">
        <img src="<%= listing.logo_url %>" alt="" class="CircleBadge-icon" style="-ms-interpolation-mode: bicubic; max-width: 30px !important; height: auto !important; width: 30px !important; max-height: 30px; margin-top: 13px;">
      </div>
    </td>
    <td class="v-align-middle width-full" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: middle !important; width: 100% !important;" width="100% !important" valign="middle !important">
      <div class="text-gray text-small" style="box-sizing: border-box; color: #586069 !important; font-size: 12px !important; line-height: 18px;"><%= listing.name %></div>
      <div class="f4 text-bold" style="box-sizing: border-box; font-size: 16px !important; font-weight: 600 !important;"><%= listing_plan.name %></div>
      <p class="text-gray mb-0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; color: #586069 !important; margin-bottom: 0 !important;"><%= listing_plan.description %></p>
    </td>
  </table>
</a>
