<p class="lead mt-3 mb-0" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; margin: 0; margin-bottom: 0 !important; margin-top: 16px !important; font-size: 18px; font-weight: 300; color: #586069; line-height: 27px;">Complete your orders</p>
<p class="mt" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">Hi <%= @user.name.presence || @user.login %>. We noticed you started to order some apps, but didn't check out. Here's what's waiting for you:</p>
