Hey <%= @user.name.presence || @user.login %>,

We noticed you've started to order some apps, but didn't finish checking out.

Here's what waiting for you: <%= marketplace_pending_orders_url %>

Thanks,
GitHub Marketplace Team

Manage the emails you get from us. <%= settings_user_emails_url %>
Unsubscribe from this email. <%= email_unsubscribe_url(token: @unsubscribe_token) %>

<%= GitHub.physical_address %>
