<%graphql
  fragment Context on HovercardContext {
    message
    octicon
  }
%>
<% context = Views::Hovercards::IssuesAndPullRequests::Contexts::Generic::Context.new(context) %>

<div class="mr-2 flex-shrink-0 hovercard-icon text-center">
  <%= octicon(context.octicon, class: "d-inline-block v-align-top") %>
</div>

<span class="lh-condensed">
  <%= context.message %>
</span>
