<%graphql
  fragment Context on ReviewStatusHovercardContext {
    message
    octicon
    reviewDecision
  }
%>
<% context = Views::Hovercards::IssuesAndPullRequests::Contexts::ReviewStatus::Context.new(context) %>

<div class="mr-2 flex-shrink-0 hovercard-icon text-center">
  <%= octicon(context.octicon, class: "d-inline-block v-align-top #{review_status_octicon_class(context.review_decision) || "color-yellow-7"}") %>
</div>

<span class="lh-condensed">
  <%= context.message %>
</span>
