<%graphql
  fragment Context on ViewerHovercardContext {
    message
    viewer {
      avatarUrl(size: 32)
      login
    }
  }
%>
<% context = Views::Hovercards::IssuesAndPullRequests::Contexts::Viewer::Context.new(context) %>

<div class="mr-2 flex-shrink-0 hovercard-icon">
  <img src="<%= context.viewer.avatar_url %>" alt="@<%= context.viewer.login %>" width="16" height="16" class="<%= avatar_class_names(context.viewer) %> v-align-top">
</div>

<span class="lh-condensed">
  <%= context.message %>
</span>
