<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Root on Query {
    marketplaceListing(slug: $listingSlug) {
      name
      slug
      featuredOrganizations(approvedOnly: false) {
        databaseId
        approved
        organization {
          login
          ...ApplicationHelper::ActorProfileLink::Actor
          ...AvatarHelper::AvatarFragment::Actor
        }
      }
    }
    ...Views::MarketplaceListings::AdminLayout::Root
  }
%>
<%
  data = Views::MarketplaceListingFeaturedCustomers::Index::Root.new(data)
  listing = data.marketplace_listing

  featured_orgs = data.marketplace_listing.featured_organizations
  empty_org_spots = Marketplace::Listing::MAX_FEATURED_ORGANIZATIONS_COUNT - featured_orgs.count
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { data: data, selected_tab: :featured_customers } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Featured customers<% end %>
  <% end %>

  <div>
    <p>Enter up to <%= Marketplace::Listing::MAX_FEATURED_ORGANIZATIONS_COUNT %> organizations that use your product. These organizations will be shown under the "Customers" section on your Marketplace listing.</p>
    <hr>

    <% featured_orgs.each do |featured_org| %>
      <div class="d-flex flex-justify-between flex-items-center">
        <%= graphql_profile_link(featured_org.organization, url: user_path(featured_org.organization.login)) do %>
          <%= graphql_avatar_for(featured_org.organization, 40, class: "avatar mr-1 mb-1") %>
          <%= featured_org.organization.login %>
        <% end %>

        <div class="d-flex flex-items-center">
          <div class="d-block">
          <% if featured_org.approved? %>
            <span title="Approved" class="Label Label--outline Label--outline-green float-right v-align-middle">Approved</span>
          <% else %>
            <span title="Pending approval" class="Label Label--outline float-right v-align-middle">Pending approval</span>
          <% end %>
          </div>

          <%= button_to destroy_featured_customers_marketplace_listing_path(listing.slug, featured_org.database_id),
            method: :delete,
            class: "btn-sm btn-link d-block ml-2 v-align-middle tooltipped tooltipped-n",
            "aria-label": "remove #{featured_org.organization.login}",
            data: {
              confirm: "Are you sure you want to remove this customer from your Marketplace listing?",
              disable_with: "..."
            } do %>
            <%= octicon "x", class: "text-gray" %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= form_tag update_featured_customers_marketplace_listing_path(listing.slug), method: :put do %>
      <% empty_org_spots.times do |index| %>
        <input type="text" class="form-control input-block mt-2 input-hide-webkit-autofill" name="marketplace_listing[featured_organization_login][]" placeholder="Organization username" aria-label="Organization username"></input>
      <% end %>

      <hr>

      <% if empty_org_spots %>
        <button type="submit" class="btn btn-primary mt-2">Save changes</button>
      <% end %>
    <% end %>
  </div>
<% end %>
