<%
  page = (params[:page] || 1).to_i
  orgs = membership.sponsorable.organizations.paginate(
    page: page,
    per_page: Stafftools::Sponsors::Members::ReputableOrgsPartialsController::REPUTABLE_ORGS_PER_PAGE,
  )
  has_next_page = orgs.total_pages > page
%>
<% if orgs.any? %>
  <ul class="list-style-none">
    <% orgs.each do |org| %>
      <li class="mb-2">
        <%= linked_avatar_for(org, 20, img_class: "avatar mr-1") %>
        <%= profile_link(org) %>
      </li>
    <% end %>
  </ul>
  <% if has_next_page %>
    <%= form_tag stafftools_sponsors_member_reputable_orgs_partial_path(membership.sponsorable), method: :get, class: "ajax-pagination-form js-ajax-pagination mt-1" do %>
      <input name="page" type="hidden" value="<%= page + 1 %>">
      <button type="submit" class="btn-link text-gray text-small mt-0" data-disable-with="Loading more&hellip;" <%= test_selector("reputable-orgs-paginate") %>>
        Show more <%= octicon "chevron-down", class: "v-align-middle" %>
      </button>
    <% end %>
  <% end %>
<% end %>
