<%# erblint:disable DeprecatedCustomCss %>
<% show_breadcrumb ||= false %>
<div class="boxed-group spamurai">
  <h3>
    <% if show_breadcrumb %>
      <%= link_to "Spamurai Central /", devtools_spamurai_path, :class => "boxed-group-breadcrumb", "data-pjax" => true %>
    <% end %>
    Current <%= pattern_type.humanize.capitalize %> patterns (<%= patterns.count %>)
  </h3>

  <div class="boxed-group-inner seamless">
    <table class="security-history-detail boxed-group-table">
      <% if patterns.any? %>
        <thead>
          <tr>
            <th>#</th>
            <th>Pattern</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% patterns.each_with_index do |pattern, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td><code><%= pattern %></code></td>
              <td>
                <%= form_tag(remove_queue_pattern_spamurai_patterns_path, :method => "delete") do %>
                  <input  type="hidden" name="key" value = "<%= pattern_type %>">
                  <input  type="hidden" name="pattern" value = "<%= pattern %>">
                  <button class="btn btn-sm btn-danger boxed-action" type="submit">Remove pattern</button>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <td colspan="3">
            <%= form_tag(add_queue_pattern_spamurai_patterns_path, :method => "post") do %>
              <input type="hidden" name="key" value = "<%= pattern_type %>">
              <input name="pattern" type="text" class="form-control long" placeholder="Add <%= pattern_type.humanize.capitalize %> pattern" aria-label="Add <%= pattern_type.humanize.capitalize %> pattern">
              <button class="btn" type="submit">Add pattern</button>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
