<%# erblint:disable DeprecatedCustomCss %>
<% page_info :title => "New Spam Pattern" %>

<% content_for :pagehead_path do %>
  / <%= link_to "Spamurai Central", devtools_spamurai_path %>
  / <%= link_to "Spam Patterns", spamurai_patterns_path %>
  / <strong>New</strong>
<% end %>

<div class="boxed-group">
  <h3>New Spam Pattern</h3>

  <div class="boxed-group-inner clearfix">
    <%= form_for pattern, :url => spamurai_patterns_path do |f| %>
      <%= render "devtools/spamurai/patterns/form", :f => f, :pattern => pattern %>
    <% end %>
  </div>
</div>
