<%# erblint:disable DeprecatedCustomCss %>
<% page_info :title => "Pattern ##{pattern.id}" %>

<% content_for :pagehead_path do %>
  / <%= link_to "Spamurai Central", devtools_spamurai_path %>
  / <%= link_to "Spam Patterns", spamurai_patterns_path %>
  / <strong>#<%= pattern.id %></strong>
<% end %>

<div class="boxed-group">
  <h3>Pattern #<%= pattern.id %></h3>

  <div class="boxed-group-inner clearfix">
    <%= form_for pattern, :url => spamurai_pattern_path(pattern) do |f| %>
      <%= render "devtools/spamurai/patterns/form", :f => f, :pattern => pattern %>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Results from testing last <%= SpamPattern::DEFAULT_TEST_RECORD_COUNT %> <%= pattern.class_name %> records</h3>

  <div class="boxed-group-inner clearfix">
    <table class="boxed-group-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Attribute (<%= pattern.attribute_name %>)</th>
          <th>Match?</th>
        </tr>
      </thead>
      <% pattern.test_records.each do |record| %>
        <% is_match = pattern.matches?(record) %>
        <tr class="<%= "spam-test-match" if is_match %>">
          <td><%= record.id %></td>
          <td><%= record.respond_to?(pattern.attribute_name) ? record.send(pattern.attribute_name) : "Can’t read attribute" %></td>
          <td>
            <%= is_match ? "true" : "false" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
