<%graphql
  fragment Root on Query {
    viewer {
      orderPreviews(first: 50) {
        nodes {
          ...Views::Marketplace::PendingOrders::PendingOrder::MarketplaceOrderPreview
        }
      }
    }
    ...Marketplace::SideNavView::Query::Root
  }
%>

<%
  data = Views::Marketplace::PendingOrders::Index::Root.new(data)
  order_previews = data.viewer&.order_previews.nodes
%>

<% page_info \
  title: "Pending orders · GitHub Marketplace",
  container_xl: true,
  richweb: {
    title: "Pending orders - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive clearfix">
  <div class="py-3 mb-5">
    <%= render(Primer::BreadcrumbComponent.new) do |component| %>
      <% component.slot(:item, href: marketplace_path) do %>Marketplace<% end %>
      <% component.slot(:item, selected: true) do %>Pending orders<% end %>
    <% end %>
  </div>
</div>

<div class="container-lg p-responsive clearfix">
  <div class="col-9 float-lg-right">
    <%= render partial: "marketplace/search_bar", locals: { data: data } %>
  </div>

  <%= render_partial_view "marketplace/side_nav", Marketplace::SideNavView, data: data, viewing_pending_orders: true %>

  <div class="col-lg-9 mt-1 mb-4 float-lg-right">
    <% if order_previews.count == 0 %>
      <div class="blankslate">
        <h3>No pending Marketplace orders</h3>
        <p>Explore the <a href="<%= marketplace_path %>">Marketplace</a> to supercharge your GitHub experience.</p>
      </div>
    <% else %>
      <h2>Pending orders</h2>

      <p class="f3-light text-gray">
        Review and complete your orders
      </p>

      <p class="text-gray mb-4">
        We noticed you started setting up some new plans but didn’t finish. You can
        complete your pending orders below or review any active subscriptions on the
        <%= link_to "billing overview page", settings_user_billing_path %>.
      </p>

      <% order_previews.each do |preview| %>
        <%= render partial: "marketplace/pending_orders/pending_order", locals: { preview: preview } %>
      <% end %>
    <% end %>
  </div>

</div>

<%= render "marketplace/submit_app_cta" %>
