<% unless logged_in? %>
  <div class="gist-detail-intro gist-banner">
    <div class="<% if responsive? %>text-center<% end %> container-lg px-3">
      <p class="lead">
        <%= I18n.t("gists.banner") %>
      </p>
    </div>
  </div>
<% end %>
