<p class="note text-gray-light">
  This option is disabled for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

  <% if current_repository.owner.adminable_by?(current_user) %>
    You can change this in the organization’s <a href="<%= settings_org_member_privileges_path(current_repository.owner) %>">settings</a>.
  <% else %>
    Contact an <a href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable this option.
  <% end %>
</p>
