<%# `view` is an instance of EditRepositories::Pages::MemberToolbarActionsView %>
<label for="select-all-checkbox" class="table-list-header-meta py-0 <% if view.selected_ids.present? %>sr-only<% end %>">
  Select all
</label>
<% if view.selected_ids.present? %>
  <details class="dropdown details-reset details-overlay d-inline-block">
    <summary class="btn btn-sm mr-3" aria-haspopup="true" id="manage-access-dropdown"
      data-ga-click="Orgs, selected, location:member list bulk; text:selected">
      <%= pluralize view.headcount, "member" %> selected…
      <div class="dropdown-caret"></div>
    </summary>

    <details-menu class="dropdown-menu dropdown-menu-se">
      <div>
        <% if view.repository.in_organization? %>
          <%= render layout: "shared/details_dialog", locals: {
              details_class: "width-full",
              button_class: "dropdown-item",
              button_text: "Change role",
              button_role: "menuitem",
              ga_click: "Orgs, change member role, location:member list bulk; text:Change role...",
              title: "Change the role of #{pluralize view.headcount, "member"}?"
            } do %>
            <%= render_partial_view "edit_repositories/pages/update_role_dialog", view %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "width-full",
          button_class: "dropdown-item menu-item-danger",
          button_text: "Remove Access",
          button_role: "menuitem",
          ga_click: "Orgs, remove access, location:member list bulk; text:Remove Access...",
          title: "Confirm you want to remove access"
        } do %>
        <%= render_partial_view "edit_repositories/pages/remove_member_dialog", view %>
      <% end %>
      </div>
    </details-menu>
  </details>
<% end %>
