<% permissions = view.permissions_for(role) %>
<li class="border rounded-1 mb-3">
  <details class="details-reset">
    <summary>
      <div class="d-flex flex-items-center">
        <div class="d-flex circle f3 ml-2 p-2 text-gray custom-role-icon">
          <% if system_role %>
            <%= octicon view.icon(role.name) %>
          <% else %>
            <%= octicon "person" %>
          <% end %>
        </div>
        <div class="d-flex flex-column flex-1 m-3">
          <span class="text-bold"><h3 class="css-truncate css-truncate-overflow f4">
            <%= role.name.capitalize %>
            <% if system_role && view.show_base_role_badge?(role.name) %>
              <span class="Label bg-blue ml-1">Base Role</span>
            <% end %>
          </h3></span>
          <% if system_role %>
            <span class="text-gray-light"><%= view.system_role_description(role.name) %></span>
          <% elsif role.description %>
            <span class="text-gray-light"><%= role.description %></span>
          <% end %>
        </div>
        <% if permissions.any? %>
          <div class="d-flex mr-3">
            <%= octicon "fold" %>
          </div>
        <% end %>
      </div>
    </summary>
    <div class="Box border-0">
      <% permissions.each do |category, permissions| %>
        <div class="Box-header border text-bold text-gray">
          <%= octicon view.icon_for(category), class: "ml-4 mr-2" %>
          <%= category %>
        </div>
        <ul class="list-style-none">
          <% permissions.each do |permission| %>
            <li class="Box-row text-normal">
              <%= octicon "check", class: "text-gray-light ml-6 mr-2" %>
              <span><%= permission %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </details>
</li>
