<%# `view` is an instance of EditRepositories::Pages::MemberToolbarActionsView %>
<%= form_tag update_repository_members_path(repository: current_repository, user_id: current_repository.owner), method: :put do %>
  <div class="Box-body">
    <h6>Select a new role</h6>
    <ul class="form-group list-style-none">
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="pull" class="form-checkbox-details-trigger" required>
            Read
            <p class="f6 text-gray text-normal">
              Recommended for non-code contributors who want to view or discuss your project.
            </p>
            <% if view.below_base_role?(:read) %>
              <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                <strong><% view.role_applied_to_message %></strong>
                Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
              </p>
            <% end %>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="triage" class="form-checkbox-details-trigger" required>
            Triage
            <p class="f6 text-gray text-normal">
              Recommended for contributors who need to manage issues and pull requests without write access.
            </p>
            <% if view.below_base_role?(:triage) %>
              <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                <strong><% view.role_applied_to_message %></strong>
                Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
              </p>
            <% end %>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="push" class="form-checkbox-details-trigger" required>
            Write
            <p class="f6 text-gray text-normal">
              Recommended for contributors who actively push to your project.
            </p>
            <% if view.below_base_role?(:write) %>
              <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                <strong><% view.role_applied_to_message %></strong>
                Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
              </p>
            <% end %>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="maintain" class="form-checkbox-details-trigger" required>
            Maintain
            <p class="f6 text-gray text-normal">
             Recommended for project managers who need to manage the repository without access to sensitive or destructive actions.
            </p>
            <% if view.below_base_role?(:maintain) %>
              <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                <strong><% view.role_applied_to_message %></strong>
                Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
              </p>
            <% end %>
          </label>
        </div>
      </li>
      <li>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input name="role" type="radio" value="admin" class="form-checkbox-details-trigger" required>
            Admin
            <p class="f6 text-gray text-normal">
              Recommended for people who need full access to the project, including sensitive and destructive actions like managing security or deleting a repository.
            </p>
            <% if view.below_base_role?(:admin) %>
              <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                <strong><% view.role_applied_to_message %></strong>
                Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
              </p>
            <% end %>
          </label>
        </div>
      </li>

      <% if view.show_custom_roles? %>
        <% view.org_custom_roles.each do |role| %>
          <li>
            <div class="form-checkbox">
              <label aria-live="polite">
                <input name="role" type="radio" value="<%= role.name %>" class="form-checkbox-details-trigger" required>
                <%= role.name %>
                <p class="f6 text-gray text-normal">
                  <%= role.description %>
                </p>
                <% if view.below_base_role?(role.name) %>
                  <p class="form-checkbox-details flash-warn text-left text-normal border border-yellow my-1 mr-1 p-2 f6">
                    <strong><% view.role_applied_to_message %></strong>
                    Organization Members have a base role of <strong><%= view.capitalized_base_role %></strong>.
                  </p>
                <% end %>
              </label>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="Box-footer">
    <% view.selected_user_ids.each do |id| %>
      <%= hidden_field_tag "user_ids[]", id, id: "user_ids[#{id}]", multiple: true %>
    <% end %>
    <% view.selected_invitation_ids.each do |id| %>
      <%= hidden_field_tag "invitation_ids[]", id, id: "invitation_ids[#{id}]", multiple: true %>
    <% end %>
    <% view.selected_team_ids.each do |id| %>
      <%= hidden_field_tag "team_ids[]", id, id: "team_ids[#{id}]", multiple: true %>
    <% end %>
    <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>
      Change <%= pluralize(view.headcount, "Role") %>
    </button>
  </div>
<% end %>
