<%graphql
  fragment Repository on Repository {
    isArchived
    viewerCanToggleWiki
    viewerCanToggleProjects
    viewerCanTogglePageSettings
    viewerCanToggleMergeTypes
    viewerCanSetSocialPreview
    ...Views::EditRepositories::AdminScreen::WikiFgp::Repository
    ...Views::EditRepositories::AdminScreen::ProjectsFgp::Repository
    ...EditRepositories::AdminScreen::PagesSourceFgpView::RepositoryFragment
    ...Views::EditRepositories::AdminScreen::MergeTypesFGP::Repository
    ...Views::EditRepositories::AdminScreen::OgImage::Repository
  }
%>
<% page_info \
  container_xl: true,
  title: "Options",
  selected_link: :repo_settings %>

<%= render layout: "edit_repositories/fgp_edit", locals: {repository: repository} do %>
  <% repository = Views::EditRepositories::Pages::FgpOptions::Repository.new(repository) %>

  <%
    can_toggle_wiki = repository.viewer_can_toggle_wiki?
    can_toggle_projects = repository.viewer_can_toggle_projects?
    can_toggle_merge_types = repository.viewer_can_toggle_merge_types?
    can_toggle_pages = GitHub.pages_enabled? && repository.viewer_can_toggle_page_settings?
    can_set_social_preview = repository.viewer_can_set_social_preview?

    has_options_fgp = can_toggle_wiki ||
      can_toggle_projects ||
      can_toggle_merge_types ||
      can_toggle_pages ||
      can_set_social_preview
  %>

  <div id="options_bucket">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Options<% end %>
    <% end %>
    <% if repository.is_archived? %>
      <p>
        Most repository settings are hidden for archived repositories. This repository must be unarchived to change them.
      </p>
    <% else %>
      <% if has_options_fgp %>
        <ul>
          <% if can_toggle_wiki %>
            <%= render partial: "edit_repositories/admin_screen/wiki_fgp",
                      locals: { repository: repository } %>
          <% end %>
          <% if can_toggle_projects %>
            <%= render partial: "edit_repositories/admin_screen/projects_fgp",
                      locals: { repository: repository } %>
          <% end %>
        </ul>
        <% if can_toggle_merge_types %>
          <%= render partial: "edit_repositories/admin_screen/merge_types_fgp",
                    locals: { repository: repository } %>
        <% end %>

        <% if can_toggle_pages %>
          <%= render_partial_view "edit_repositories/admin_screen/pages_source_fgp",
                                  EditRepositories::AdminScreen::PagesSourceFgpView,
                                  repository: repository,
                                  data: data
          %>
        <% end %>

        <% if can_set_social_preview %>
          <%= render partial: "edit_repositories/admin_screen/og_image",
                    locals: { repository: repository } %>
        <% end %>
      <% else %>
        <p>
          You don't have access to repository options
        </p>
        <p class="note">
          Check the sidebar for available repository settings.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
