<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment Repository on Repository {
    interactionAbility {
      limit
      origin
      expiresAt
    }
    ...Views::Community::OrgInteractionLimitsBanner::Node
    ...Views::Community::InteractionSettings::Repository
    ...Views::Navigation::FgpEditRepository::Repository
  }
%>
<%
  page_info \
    title: "Temporary interaction limits",
    responsive: false,
    container_xl: true,
    selected_link: :interaction_limits
  data = Views::EditRepositories::Pages::InteractionLimits::Repository.new(data)
  interactions = data.interaction_ability
%>

<% content = capture do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Temporary interaction limits<% end %>
  <% end %>
  <% if interactions.origin == "ORGANIZATION" %>
    <%= render partial: 'community/org_interaction_limits_banner', locals: { data: data } %>
  <% end %>
  <p>
    Temporarily restrict which users can interact with your repository (comment, open issues, or create pull requests) for a <strong>24-hour</strong> period. This may be used to force a "cool-down" period during heated discussions.
  </p>
  <div class="Box">
    <%= render partial: 'community/interaction_settings', locals: { data: data } %>
  </div>
<% end %>

<% if permission == "admin" %>
  <%= render layout: "edit_repositories/edit", locals: {repository: data} do %>
    <%= content %>
  <% end %>
<% else # FGP %>
  <%= render layout: "edit_repositories/fgp_edit", locals: {repository: data} do %>
    <%= content %>
  <% end %>
<% end %>
