<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  title: "Deploy keys",
  responsive: false,
  container_xl: true,
  selected_link: :repo_keys_settings %>
<% view = EditRepositories::AdminScreen::DeployKeysView.new(@public_key) %>

<% content = capture do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Deploy keys<% end %>
    <% component.slot(:actions) do %>
      <a href="<%= repository_new_key_path %>" class="btn btn-sm" data-pjax="true">Add deploy key</a>
    <% end %>
  <% end %>

  <% if current_repository.public_keys.any? %>
    <ul class="Box">
      <% current_repository.public_keys.each do |deploy_key| %>
        <%= render :partial => "edit_repositories/deploy_key", :object => deploy_key, :locals => { :view => view, deploy_key: deploy_key, :selected => deploy_key == view.selected_key } %>
      <% end %>
    </ul>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      title: "There are no deploy keys for this repository",
      mb: 3,
    ) do %>
      <p>
        Check out our <%= link_to "guide on deploy keys", "#{GitHub.developer_help_url}/v3/guides/managing-deploy-keys/#deploy-keys" %> to learn more.
      </p>
    <% end %>
  <% end %>
</div>
<% end %>

<% if current_repository.async_action_or_role_level_for(current_user).sync == :admin %>
  <%= render layout: "edit_repositories/edit" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "edit_repositories/fgp_edit_no_graphql" do %>
    <%= content %>
  <% end %>
<% end %>
