<%# view is an instance of EditRepositories::Pages::ManagedAccessPageView %>

<% page_info \
  title: "Manage access",
  responsive: false,
  container_xl: true,
  selected_link: :repo_settings %>

<%= render layout: "edit_repositories/edit" do %>

  <div class="d-flex mb-3 flex-items-center">
    <h2 class="f2 text-normal flex-auto">Who has access</h2>
  </div>

  <div class="d-flex">
    <div class="bg-gray p-3 col-4 rounded-1 box-shadow mr-3">
      <div class="d-flex mb-2">
        <span class="flex-auto f6 text-mono text-uppercase text-gray">
          <%= view.repository.visibility %>
          repository
        </span>
        <%= octicon view.repo_visibility_icon, class: "text-gray-dark" %>
      </div>
      <p class="f5">
          <%= view.repo_visibility_description %>.
      </p>
      <%= link_to "Manage", edit_repository_path(view.repository.owner, view.repository.name, anchor: "danger-zone") %>
    </div>
    <% if view.repository.in_organization? %>
      <div class="bg-gray p-3 col-4 rounded-1 box-shadow mr-3">
        <div class="d-flex mb-2">
          <span class="flex-auto f6 text-mono text-uppercase text-gray">Base role</span>
          <span title="Label: dark gray label" class="Label Label--gray-darker"><%= view.org_base_role %></span>
        </div>
        <% if view.organization.default_repository_permission == :none %>
          <p class="f5">
            <strong>No base role set.</strong>
            <% if view.repository.public? %>
              All
              <%= link_to "Members", org_people_path(view.organization) %>
              can access this repository.
            <% else %>
              Only
              <%= link_to "Owners", org_people_path(view.organization, query: "role:owner") %>
              and those with direct access can clone this repository.
            <% end %>
          </p>
          <% if view.org_owner?(current_user) %>
            <%= link_to "Set base role", settings_org_member_privileges_path(view.organization.name) %>
          <% end %>
        <% else %>
          <p class="f5">
            All
            <strong>
              <%= view.organization.members_count %>
              <%= view.organization.business&.safe_profile_name %>
              members
            </strong>
            can access this repository.
          </p>
          <% if view.org_owner?(current_user) %>
            <%= link_to "Manage", settings_org_member_privileges_path(view.organization.name) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="bg-gray p-3 col-4 rounded-1 box-shadow">
      <div class="d-flex mb-2">
        <span class="flex-auto f6 text-mono text-uppercase text-gray">Direct access</span>
        <%= octicon "people", class: "text-gray-dark" %>
      </div>
      <p class="f5">
        <% if view.direct_access_headcount > 0 %>
          <strong><%= view.direct_access_headcount %></strong>
          <%= "has".pluralize(view.direct_access_headcount) %> access to this repository.
          <% if view.org_member_count > 0 %>
            <%= link_to pluralize(view.org_member_count, "member"), view.filter_path_for("org_members") %>.
          <% end %>
          <% if view.outside_collab_count > 0 %>
            <% if view.repository.in_organization? %>
              <%= link_to pluralize(view.outside_collab_count, "outside collaborator"), view.filter_path_for("outside_collaborators") %>.
            <% else %>
              <%= link_to pluralize(view.outside_collab_count, "collaborator"), view.filter_path_for("collaborators") %>.
            <% end %>
          <% end %>
          <% if view.team_count > 0 %>
            <%= link_to pluralize(view.team_count, "team"), view.filter_path_for("teams") %>.
          <% end %>
          <% if view.invitation_count > 0 %>
            <%= link_to pluralize(view.invitation_count, "invitation"), view.filter_path_for("pending_invitations") %>.
          <% end %>
        <% else %>
          <% if view.repository.in_organization? %>
            <strong>0</strong>
            teams or members have access this repository. Only
            <%= link_to "Owners", org_people_path(view.organization, query: "role:owner") %>
            can contribute to this repository.
          <% else %>
            <strong>0</strong>
            collaborators have access to this repository. Only you can contribute to this repository.
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="clearfix mt-6">
    <div class="f2 mb-3 text-normal float-left">Manage access</div>
    <% if view.show_admin_stuff? %>
      <div class="float-right js-add-access-form">
        <% if view.repository.in_organization? %>
          <a href="<%= new_team_path(org: view.organization) %>" class="mr-2">Create team</a>
        <% end %>

        <% if view.direct_access_headcount > 0 %>
          <%= render layout: "shared/spacious_details_dialog", locals: {
            button_text: view.add_access_label,
            title: view.add_access_label,
            hide_title: true,
            id: "add-access-dialog",
            button_class: "btn btn-sm btn-primary",
            dialog_class: "",
            container_class: "p-4 min-height-0"
          } do %>
            <%= render_partial_view "edit_repositories/admin_screen/access_management/add_access_form", view %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if view.direct_access_headcount == 0 %>
    <div class="Box text-center px-4 py-6">
      <img src="<%= image_path "icons/permissions.png" %>" alt="user granting permissions" class="mb-3" style="width: 56px; height: 56px;">
      <% if view.repository.in_organization? %>
        <h3 class="mb-3">You haven't added any teams or people yet</h3>
        <p class="text-gray">
          Organization owners can manage individual and team access to the organization's repositories. Team maintainers can also manage a team's repository access.
          <a href="<%= GitHub.help_url %>/github/setting-up-and-managing-organizations-and-teams/managing-access-to-your-organizations-repositories">
            Learn more about organization access
          </a>
        </p>
      <% else %>
        <h3 class="mb-3">You haven't invited any collaborators yet</h3>
      <% end %>

      <% if view.show_admin_stuff? %>
        <div class="js-add-access-form">
          <%= render layout: "shared/spacious_details_dialog", locals: {
            button_text: view.add_access_label,
            title: view.add_access_label,
            hide_title: true,
            button_class: "btn btn-primary mt-3",
            dialog_class: "",
            container_class: "p-4 min-height-0"
          } do %>
            <%= render_partial_view "edit_repositories/admin_screen/access_management/add_access_form", view %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render_partial_view "edit_repositories/admin_screen/access_management/members_table", view %>
  <% end %>
<% end %>
