<%
  page_info \
    container_xl: true,
    responsive: false,
    title: "Reported content",
    selected_link: :reported_content
  resolved_selected = params[:resolved_filter] == "RESOLVED"
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Reported content<% end %>
  <% end %>
  <p>
    Repository collaborators and prior contributors can report abusive or disruptive content for review and moderation. <a href="<%= GitHub.help_url %>/en/github/building-a-strong-community/managing-reported-content-in-your-organizations-repository">Learn more</a>.
  </p>
  <% if current_repository.can_enable_tiered_reporting?(current_user) %>
    <%= render partial: 'community/toggle_tiered_reporting',
        locals: { current_repository: current_repository, report_content_enabled: report_content_enabled } %>
  <% else %>
    <div class="text-center">
      <p> Content reporting cannot be enabled on a private repository. </p>
    </div>
  <% end %>
  <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
    <% component.slot(:heading) do %>Abuse reports<% end %>
  <% end %>

  <p>
    The following content has been reported by repository collaborators and prior contributors:
  </p>

  <div class="d-flex my-4">
    <nav class="subnav-links" aria-label="resolved filter">
      <a href="<%= reported_content_path(current_repository.owner.login, current_repository.name, resolved_filter: "UNRESOLVED") %>"
        class="subnav-item <%= "selected" unless resolved_selected %>">Reported content</a>
      <a href="<%= reported_content_path(current_repository.owner.login, current_repository.name, resolved_filter: "RESOLVED") %>"
        class="subnav-item <%= "selected" if resolved_selected %>">Resolved</a>
    </nav>
  </div>

  <%= render partial: 'community/repo_abuse_reports',
        locals: { current_repository: current_repository, resolved_filter: resolved_filter, comments_with_info: comments_with_info, paginated_reports: paginated_reports } %>
<% end %>
