<% page_info \
  title: "Role Details",
  responsive: false,
  container_xl: true,
  selected_link: :repo_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render(Primer::BreadcrumbComponent.new(mb: 3)) do |component| %>
    <% component.slot(:item, href: repository_access_management_path(view.repository.owner, view.repository)) do %>Manage Access<% end %>
    <% component.slot(:item, selected: true) do %>Role Details<% end %>
  <% end %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Role Details<% end %>
  <% end %>

  <p class="Subhead-description">
    Listed below are all the available roles that can be granted to members and teams in your organization. Expand a role to view the details of the permissions included.
  </p>

  <ul class="list-style-none d-flex flex-column">
    <%= render partial: "/edit_repositories/pages/role", collection: view.system_roles, locals: { view: view, system_role: true } %>

    <% if view.show_custom_roles? %>
      <%= render partial: "/edit_repositories/pages/role", collection: view.custom_roles, locals: { view: view, system_role: false } %>
    <% end %>
  </ul>
<% end %>
