<% page_info \
  container_xl: true,
  responsive: false,
  title: "Secrets",
  selected_link: :secrets_settings %>

<%= render layout: "edit_repositories/edit" do %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Secrets<% end %>
    <% component.slot(:actions) do %>
      <a class="btn" href="<%= repository_new_secret_path %>" role="button" <%= test_selector("new-repo-secret") %>>New secret</a>
    <% end %>
  <% end %>

  <p>
    Secrets are environment variables that are <strong>encrypted</strong> and only exposed to selected actions. Anyone with <b>collaborator</b> access to this repository can use these secrets in a workflow.
  </p>
  <p class="mb-4">
    Secrets are not passed to workflows that are triggered by a pull request from a fork. <a href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more</a>.
  </p>

  <% if integration %>
    <div class="Box mb-6">
      <% if can_use_org_secrets %>
        <div class="Box-header">
          <h3 class="Box-title">
            Repository secrets
          </h3>
        </div>
      <% end %>

      <% if secrets[:repository_secrets].any? %>
        <% secrets[:repository_secrets].each do |credential| %>
          <div class="Box-row d-flex flex-items-center">
            <div class="d-flex mr-3 text-green">
                <%= octicon('lock') %>
            </div>
            <div class="col-6 d-flex flex-column">
              <div>
                <code class="text-green f5"><%= credential[:name] %></code>
              </div>
              <% if can_use_org_secrets && organization_secret_names.include?(credential[:name]) %>
                <div class="text-yellow text-small">
                  This secret overrides an organization secret
                </div>
              <% end %>
            </div>

            <div class="text-gray flex-1">
              <% if credential[:updated_at] %>
                <div>Updated <%= time_ago_in_words_js(credential[:updated_at]) %></div>
              <% end %>
            </div>

            <div class="d-flex flex-justify-end">
            <%= link_to "Update",
                repository_edit_secret_path(secret_name: credential[:name]),
                role: "button",
                class: "btn btn-sm" %>

            <%= render layout: "shared/details_dialog", locals: {
              details_class: "ml-2",
              button_text: "Remove",
              title: "Remove secret",
              button_class: "btn btn-sm btn-danger",
              dialog_class: "ws-normal",
            } do %>
              <div class="Box-body">
                <p class="text-bold mt-2 mb-4">
                  Are you sure you want to delete <code class="text-green"><%= credential[:name] %></code>?
                </p>

                <%= button_to "Yes, remove this secret",
                  repository_remove_secret_path(key: credential[:name]),
                  :method     => :delete,
                  :class      => "btn btn-block btn-danger" %>
              </div>
            <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render Primer::BlankslateComponent.new(
          title: "There are no secrets for this repository.",
          description: "Encrypted secrets allow you to store sensitive information, such as access tokens, in your repository.",
          test_selector: "repository-secrets-blankslate",
        ) %>
      <% end %>
    </div>

    <% if can_use_org_secrets %>
      <p class="mb-4">
        Secrets can also be created at the organization level and authorized for use in this repository.
      </p>

      <div class="Box">
        <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title overflow-hidden flex-auto">
            Organization secrets
          </h3>

          <% if is_owner_admin %>
            <%= link_to(
              "Manage organization secrets",
              settings_org_secrets_path(current_repository.owner),
              class: "btn btn-sm",
              role: "button"
            ) %>
          <% end %>
        </div>


        <% if !repo_can_use_org_secrets %>
          <%= render Primer::BlankslateComponent.new(
            title: "Organization secrets can only be used by public repositories on your plan.",
            description: "If you would like to use organization secrets in a private repository, you will need to upgrade your plan.",
            test_selector: "free-org-no-private-repo-blankslate",
          ) %>
        <% else %>
          <% if secrets[:organization_secrets].any? %>
            <% secrets[:organization_secrets].each do |credential| %>
              <%
                org_text_color = repository_secret_names.include?(credential[:name]) ? "text-gray-light" : "text-green"
              %>

            <div class="Box-row d-flex flex-items-center <%= org_text_color %>">
                <div class="d-flex mr-3 text-green">
                  <%= octicon('lock') %>
                </div>
                <div class="col-6 d-flex flex-column">
                  <div>
                    <code class="text-green f5"><%= credential[:name] %></code>
                  </div>
                  <div>
                  <% if repository_secret_names.include?(credential[:name]) %>
                    <div class="text-small">
                      This secret has been overridden by a repository secret
                    </div>
                  <% end %>
                  </div>
                </div>

                <div class="text-gray flex-1">
                  <% if credential[:updated_at] %>
                    Updated <%= time_ago_in_words_js(credential[:updated_at]) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= render Primer::BlankslateComponent.new(
              title: "No organization secrets have been authorized for this repository.",
            ) do %>
              <p>
                <% if is_owner_admin %>
                  Organization secrets for <%= current_repository.owner.name %> can be managed within
                  <%= link_to "organization settings", settings_org_secrets_path(current_repository.owner) %>.
                <% else %>
                  Only <%= current_repository.owner.name %> administrators may add organization secrets.
                <% end %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      title: "There are no workflows added to this repository.",
    ) %>
  <% end %>
<% end %>
