<% page_info \
  title: "Security & analysis",
  responsive: false,
  container_xl: true,
  selected_link: :repo_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <div id="security_analysis_bucket" class="settings-next" <%= test_selector("security-analysis-settings")%>>
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Configure security and analysis features<% end %>
    <% end %>
    <p>
      Features like <% if current_repository.private? %>dependency graph and<% end %> Dependabot alerts help keep your repository secure and updated.
      By enabling any of these features, you're granting us permission to perform read-only analysis on your repository.
    </p>
    <% if current_repository.private? %>
      <% if GitHub.dependency_graph_enabled? %>
        <div class="TableObject py-3 border-bottom" <%= test_selector("dependency-graph-settings")%>>
          <div class="TableObject-item TableObject-item--primary">
            <h4>Dependency graph</h4>
            <p class="mb-0">Understand your dependencies.</p>
          </div>
          <div class="TableObject-item">
            <div class="BtnGroup flex-auto">
              <%= form_tag update_repository_path(current_repository), method: :put do %>
                <% if current_repository.dependency_graph_enabled? %>
                  <% if current_repository.vulnerability_alerts_enabled? %>
                    <% dialog_text = current_repository.vulnerability_updates_enabled? ?
                    "Disabling the dependency graph will also disable Dependabot alerts and Dependabot security updates." :
                    "Disabling the dependency graph will also disable Dependabot alerts."%>
                    <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                      button_text: "Disable",
                      title: "Disable dependency graph",
                      button_class: "btn btn-danger",
                      dialog_text: dialog_text,
                      input_name: "dependency_graph_enabled",
                      input_value: 0,
                      data_octo_click: "repo_dep_graph",
                      data_octo_dimensions: !current_repository.dependency_graph_enabled?
                    } %>
                  <% else %>
                    <input type="hidden" name="dependency_graph_enabled" value="0">
                    <button
                      type="submit"
                      class="btn btn-danger"
                      data-octo-click="repo_dep_graph"
                      data-octo-dimensions="enabled:<%= !current_repository.dependency_graph_enabled? %>,location:settings">
                      Disable
                    </button>
                  <% end %>
                <% else %>
                  <input type="hidden" name="dependency_graph_enabled" value="1">
                  <button
                    type="submit"
                    class="btn"
                    data-octo-click="repo_dep_graph"
                    data-octo-dimensions="enabled:<%= !current_repository.dependency_graph_enabled? %>,location:settings">
                    Enable
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if GitHub.vulnerability_alerting_and_settings_enabled? %>
        <div class="TableObject py-3 border-bottom" <%= test_selector("vulnerability-alerting-settings")%>>
          <div class="TableObject-item TableObject-item--primary">
            <h4>Dependabot alerts</h4>
            <p class="mb-0">Receive alerts of new vulnerabilities that affect your dependencies.</p>
          </div>
          <div class="TableObject-item">
            <div class="BtnGroup flex-auto">
              <%= form_tag update_repository_path(current_repository), method: :put do %>
                <% if current_repository.vulnerability_alerts_enabled? %>
                  <% if current_repository.vulnerability_updates_enabled? %>
                    <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                      button_text: "Disable",
                      title: "Disable Dependabot alerts",
                      button_class: "btn btn-danger",
                      dialog_text: "Disabling Dependabot alerts will also disable Dependabot security updates.",
                      input_name: "vulnerability_alerts_enabled",
                      input_value: 0,
                      data_octo_click: "repo_vuln_alerts",
                      data_octo_dimensions: !current_repository.vulnerability_alerts_enabled?
                    } %>
                  <% else %>
                    <input type="hidden" name="vulnerability_alerts_enabled" value="0">
                    <button
                      type="submit"
                      class="btn btn-danger"
                      data-octo-click="repo_vuln_alerts"
                      data-octo-dimensions="enabled:<%= !current_repository.vulnerability_alerts_enabled? %>,location:settings">
                      Disable
                    </button>
                  <% end %>
                <% else %>
                  <% if current_repository.dependency_graph_enabled? %>
                    <input type="hidden" name="vulnerability_alerts_enabled" value="1">
                    <button
                      type="submit"
                      class="btn btn-block"
                      data-octo-click="repo_vuln_alerts"
                      data-octo-dimensions="enabled:<%= !current_repository.vulnerability_alerts_enabled? %>,location:settings">
                      Enable
                    </button>
                  <% else %>
                    <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                      button_text: "Enable",
                      title: "Enable Dependabot alerts",
                      dialog_text: "Dependabot alerts need the dependency graph to be enabled, so we'll turn that on too.",
                      input_name: "vulnerability_alerts_enabled",
                      input_value: 1,
                      data_octo_click: "repo_vuln_alerts",
                      data_octo_dimensions: !current_repository.vulnerability_alerts_enabled?
                    } %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="TableObject py-3 border-bottom" <%= test_selector("vulnerability-updates-settings")%>>
        <div class="TableObject-item TableObject-item--primary">
          <h4>Dependabot security updates</h4>
          <p class="mb-0">Easily upgrade to non-vulnerable dependencies.</p>
        </div>
        <div class="TableObject-item">
          <div class="BtnGroup flex-auto">
            <%= form_tag update_repository_path(current_repository), method: :put do %>
              <% if current_repository.vulnerability_updates_enabled? %>
                <input type="hidden" name="vulnerability_updates_enabled" value="0">
                <button type="submit" class="btn btn-danger">Disable</button>
              <% else %>
                <% if current_repository.dependency_graph_enabled? %>
                  <% if current_repository.vulnerability_alerts_enabled? %>
                    <input type="hidden" name="vulnerability_updates_enabled" value="1">
                    <button type="submit" class="btn btn-block" data-close-dialog>Enable</button>
                  <% else %>
                    <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                      button_text: "Enable",
                      title: "Enable Dependabot security updates",
                      dialog_text: "Dependabot security updates need Dependabot alerts to be enabled, so we'll turn that on too.",
                      input_name: "vulnerability_updates_enabled",
                      input_value: 1
                    } %>
                  <% end %>
                <% else %>
                  <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                    button_text: "Enable",
                    title: "Enable Dependabot security updates",
                    dialog_text: "Dependabot security updates need the dependency graph and Dependabot alerts to be enabled, so we'll turn them on too.",
                    input_name: "vulnerability_updates_enabled",
                    input_value: 1
                  } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <% if GitHub.vulnerability_alerting_and_settings_enabled? %>
        <div class="TableObject py-3 border-bottom" <%= test_selector("vulnerability-alerting-settings")%>>
          <div class="TableObject-item TableObject-item--primary">
            <h4>Dependabot alerts</h4>
            <p class="mb-0">Receive alerts of new vulnerabilities that affect your dependencies.</p>
          </div>
          <div class="TableObject-item">
            <div class="BtnGroup flex-auto">
              <%= form_tag update_repository_path(current_repository), method: :put do %>
                <% if current_repository.vulnerability_alerts_enabled? %>
                  <% if current_repository.vulnerability_updates_enabled? %>
                    <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                      button_text: "Disable",
                      title: "Disable Dependabot alerts",
                      button_class: "btn btn-danger",
                      dialog_text: "Disabling Dependabot alerts will also disable Dependabot security updates.",
                      input_name: "vulnerability_alerts_enabled",
                      input_value: 0,
                      data_octo_click: "repo_vuln_alerts",
                      data_octo_dimensions: !current_repository.vulnerability_alerts_enabled?
                    } %>
                  <% else %>
                    <input type="hidden" name="vulnerability_alerts_enabled" value="0">
                    <button
                      type="submit"
                      class="btn btn-danger"
                      data-octo-click="repo_vuln_alerts"
                      data-octo-dimensions="enabled:<%= !current_repository.vulnerability_alerts_enabled? %>,location:settings">
                      Disable
                    </button>
                  <% end %>
                <% else %>
                  <input type="hidden" name="vulnerability_alerts_enabled" value="1">
                  <button
                    type="submit"
                    class="btn btn-block"
                    data-octo-click="repo_vuln_alerts"
                    data-octo-dimensions="enabled:<%= !current_repository.vulnerability_alerts_enabled? %>,location:settings">
                    Enable
                  </button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="TableObject py-3" <%= test_selector("vulnerability-updates-settings")%>>
        <div class="TableObject-item TableObject-item--primary">
          <h4>Dependabot security updates</h4>
          <p class="mb-0">Easily upgrade to non-vulnerable dependencies.</p>
        </div>
        <div class="TableObject-item">
          <div class="BtnGroup flex-auto">
            <%= form_tag update_repository_path(current_repository), method: :put do %>
              <% if current_repository.vulnerability_updates_enabled? %>
                <input type="hidden" name="vulnerability_updates_enabled" value="0">
                <button type="submit" class="btn btn-danger">Disable</button>
              <% else %>
                <% if current_repository.vulnerability_alerts_enabled? %>
                  <input type="hidden" name="vulnerability_updates_enabled" value="1">
                  <button type="submit" class="btn">Enable</button>
                <% else %>
                  <%= render partial: "edit_repositories/pages/security_setting_dialog", locals: {
                    button_text: "Enable",
                    title: "Enable Dependabot security updates",
                    dialog_text: "Dependabot security updates need Dependabot alerts to be enabled, so we'll turn that on too.",
                    input_name: "vulnerability_updates_enabled",
                    input_value: 1
                    } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_repository.show_token_scanning_ui?(current_user) %>
    <div class="TableObject py-3" <%= test_selector("secret-scanning-settings") %>>
      <div class="TableObject-item TableObject-item--primary">
        <h4>Secret scanning</h4>
        <p class="mb-0">Receive alerts when secrets or keys are checked in.</p>
      </div>
      <div class="TableObject-item">
        <div class="BtnGroup flex-auto">
          <%= form_tag update_repository_path(current_repository), method: :put do %>
            <% if current_repository.token_scanning_enabled? %>
              <input type="hidden" name="token_scanning_enabled" value="0">
              <button
                type="submit"
                class="btn btn-danger"
                data-octo-click="token_scan_alerts"
                data-octo-dimensions="enabled:<%= !current_repository.token_scanning_enabled? %>,location:settings">
                Disable
              </button>
            <% else %>
              <input type="hidden" name="token_scanning_enabled" value="1">
              <button
                type="submit"
                class="btn"
                data-octo-click="token_scan_alerts"
                data-octo-dimensions="enabled:<%= !current_repository.token_scanning_enabled? %>,location:settings">
                Enable
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% if current_repository.vulnerability_alerts_enabled? && current_repository.owner.is_a?(Organization) %>
    <%= render :partial => "edit_repositories/admin_screen/vulnerability" %>
  <% end %>
<% end %>
