<%# erblint:counter TooltipCounter 1 %>
<%# `view` is an instance of Orgs::Repositories::TeamSelectionView %>
<div class="add-member-wrapper settings-next">

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Team access<% end %>
  <% end %>

  <p class="mb-4">
    Please select any teams you wish to have access to <strong><%= view.organization.name %>/<%= current_repository.name %></strong>.
  </p>

  <%= form_tag gh_repo_transfer_path(current_repository), :method => "post" do %>
    <input type="hidden" name="new_owner" value="<%= view.organization %>">
    <input type="hidden" name="teams_selection" value="1">
    <input type="hidden" name="team_ids" value="<%= view.selected_team_ids %>">

    <div>
        <ul class="add-member-team-list invite-team-member-list table-list" id="org-member-team-suggestions">
        <% view.teams.each do |team| %>
          <li class="team table-list-item">
            <span class="js-toggler-container team-toggler <%= 'on' if !team.ldap_mapped? && team.member?(current_user) %> table-list-cell table-list-cell-checkbox">
              <% if team.ldap_mapped? && !view.ldap_mapped_teams_selectable %>
                <span class="team-label-ldap text-small text-gray tooltipped tooltipped-s" aria-label="This team’s members are managed in LDAP">LDAP</span>
              <% else %>
                <input id="team-<%= team.id %>" type="checkbox" value="<%= team.id %>" class="js-repo-toggle-team" <%= "checked" if view.is_team_selected?(team.id) %>>
              <% end %>
            </span>

            <label class="team-info table-list-cell" for="team-<%= team.id %>">
              <strong class="team-name"><%= team.name %></strong>
              <p class="team-description note"><%= team.description %></p>
            </label>

            <span class="team-member-count team-meta table-list-cell"><%= pluralize team.members.size, "member" %></span>
            <span class="team-repo-count team-meta table-list-cell"><%= pluralize team.repositories_scope.size, 'repository' %></span>
            <a class="team-link team-meta table-list-cell flush-right" href="<%= team_path(team) %>">View team</a>
          </li>
        <% end %>
        </ul>
        <% if view.paginate? %>
          <div class="pagination">
            <%= will_paginate view.teams, class: "js-repo-team-suggestions-pagination", page_links: true, params: { new_owner: params[:new_owner], page: params[:page] } %>
          </div>
        <% end %>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type="submit">Transfer</button>
    </div>
  <% end %>
</div>
