<%= form_tag showcases_search_path, :method => :get, :class => "subnav-search collection-search-form ml-0" do %>
  <%= text_field_tag 'q', params[:q], :placeholder => 'Search showcases', :'aria-label' => 'Search showcases', :class => "subnav-search-input width-full input-contrast" %>
  <%= octicon('search', :class => 'subnav-search-icon') %>
<% end %>
