<%# erblint:counter TooltipCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: "Showcases",
     selected_link: :showcases,
     stafftools: stafftools_showcase_collections_path,
     biztools: biztools_showcase_collections_path
%>

<%= content_for :head, auto_discovery_link_tag(:atom, showcases_url(format: "atom")) %>

<%= render(Explore::HeadComponent.new(integrations_directory_enabled: integrations_directory_enabled?)) %>

<div class="explore-pjax-container container-lg p-responsive">
  <div class="text-center mt-2 mx-auto mb-5 <%= animating? %>">
    <% unless enterprise? %>
      <h2 class="f1 text-normal mb-1">Open source showcases</h2>
    <% else %>
      <h2 class="f1 text-normal mb-1">Showcases</h2>
    <% end %>
    <p class="lead mt-1 mb-3">Browse popular repositories based on the topic that interests you most.</p>
    <% unless logged_in? %>
      <p>
        <%= link_to "Sign up for free", signup_path_with_return, rel: "nofollow", class: "btn btn-sm btn-primary", data: sign_up_link_data_attributes(location_in_page: "showcases browse") %> to get started
      </p>
    <% end %>
  </div>

  <div class="mb-4 clearfix">
    <% if site_admin? %>
      <% if enterprise?%>
        <%= link_to "New showcase", new_stafftools_showcase_collection_path, :class => "btn btn-primary new-showcase-button float-md-right mb-3 mb-md-0" %>
      <% else %>
        <%= link_to "New showcase", new_biztools_showcase_collection_path, :class => "btn btn-primary new-showcase-button float-md-right mb-3 mb-md-0" %>
      <% end %>
    <% end %>
    <div class="col-md-6 mx-auto">
      <%= render :partial => "showcases/search_form" %>
    </div>
  </div>

  <ul class="exploregrid gutter" data-pjax>
    <% @collections.each do |collection| %>
      <li class="col-12 col-sm-6 col-md-4 mb-5 exploregrid-item-wrap">
        <%= link_to showcase_collection_path(collection), :class => "exploregrid-item d-flex flex-column flex-justify-between px-4 pt-5 pb-4" do %>
          <div>
            <div class="exploregrid-item-header" style="background-image: <%= collection.geo_pattern %>"></div>
            <h3 class="exploregrid-item-title mb-2">
              <%= collection.name %>
              <% unless collection.published? %>
                <span class="label Label--orange">Draft</span>
              <% end %>
            </h3>
            <p><%= truncate(collection.body_text, :length => 300) %></p>
          </div>
          <div class="text-small">
            <% if collection.items.any? %>
              <span class="d-inline-block mr-2">
                <%= octicon("repo", height: 16, :class => "text-center") %>
                <%= pluralize collection.items.length, "repository" %>
              </span>
            <% end %>
            <% if collection.languages.any? %>
              <span class="d-inline-block">
                <%= octicon("code", height: 16, :class => "text-center") %>
                <%= pluralize collection.languages.length, "language" %>
              </span>
            <% end %>
          </div>
        <% end %>
      </li>
      <% end %>
  </ul>


  <a href="/showcases.atom" class="mt-4 p-1 float-right tooltipped tooltipped-w" aria-label="Subscribe to the showcases feed">
    <%= octicon("rss", height: 20) %>
  </a>

  <div class="paginate-container">
    <%= simple_paginate @collections %>
  </div>
</div>
