<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  title: "Explore categories search",
  selected_link: :showcases_search
%>

<%= render(Explore::HeadComponent.new(integrations_directory_enabled: integrations_directory_enabled?)) %>

<div class="container-lg p-responsive explore-pjax-container">

  <div class="mb-4 clearfix">
    <div class="float-md-right mb-3 my-md-1">We’ve found <strong><%= pluralize(@results.total, "category") %></strong>, searching for <strong>'<%= @phrase %>'</strong>.</div>
    <div class="col-md-6">
      <%= render :partial => "showcases/search_form" %>
    </div>
  </div>

  <ol class="collection-search-results" data-pjax>
  <% @results.results.each do |collection| %>
    <li class="list-style-none mb-6">
      <h2>
        <%= link_to collection.name, showcase_collection_path(collection) %>
      </h2>
      <div class="markdown-body collection-search-result-body">
        <%= collection.hl_body %>
      </div>
    </li>
  <% end %>
  </ol>

  <% if @results.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate @results, :params => {:q => @phrase} %>
    </div>
  <% end %>
</div>
