<%# erblint:counter TooltipCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  title: @collection.name,
  canonical_url: showcase_collection_url(@collection),
  selected_link: :showcases_landing,
  stafftools: stafftools_showcase_collection_path(@collection),
  richweb: {
    title: @collection.name,
    url: showcase_collection_url(@collection),
    section: "showcase",
    description: @collection.body_text,
    published: @collection.created_at,
    modified: @collection.updated_at,
    type: "article"
  } %>

<%= render(Explore::HeadComponent.new(integrations_directory_enabled: integrations_directory_enabled?)) %>

<div class="explore-pjax-container">
  <div class="showcase-page-pattern" style="background-image: <%= @collection.geo_pattern %>"></div>

  <div class="border-bottom border-gray-light pb-6 mb-4">
    <div class="container-lg p-responsive">
      <h1 class="f00-light lh-condensed mb-1">
        <%= @collection.name %>
      </h1>
      <div class="markdown-body mb-2" style="max-width: 75%;">
        <%= @collection.body_html %>
      </div>
      <div class="text-gray">
        <span class="d-inline-block mr-4 my-2">
          <%= octicon("repo") %>
          <%= pluralize @items.length, "repository" %>
        </span>
        <% if @collection.languages.any? %>
          <span class="d-inline-block mr-4 my-2 tooltipped tooltipped-s tooltipped-multiline" aria-label="<%= @collection.languages.to_sentence %>.">
            <%= octicon("code") %>
            <%= pluralize @collection.languages.length, "language" %>
          </span>
        <% end %>
          <span class="d-inline-block mr-4 my-2">
            <%= octicon("clock") %>
            Last updated
            <%= time_ago_in_words_js(@collection.updated_at) %>
          </span>
        <% if site_admin? %>
          <span class="d-inline-block mr-4 my-2">
            <%= avatar_for @collection.owner, 20, :class => "avatar" %>
            Created by <strong><%= @collection.owner %></strong>
          </span>
          <% if enterprise? %>
            <%= link_to stafftools_showcase_collection_path(@collection), :class => "muted-link d-inline-block" do %>
              <%= octicon("pencil") %>
              Edit showcase
            <% end %>
          <% else %>
            <%= link_to biztools_showcase_collection_path(@collection), :class => "muted-link d-inline-block" do %>
              <%= octicon("pencil") %>
              Edit showcase
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% unless @collection.published? %>
        <%= link_to stafftools_showcase_collection_path(@collection), :class => "d-inline-block draft-tag mt-2" do %>
          Saved as draft
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container-lg p-responsive clearfix">
    <div class="col-md-8 float-md-left">
      <div class="subnav">
        <% item_order_options.each do |item_order_name|%>
          <a class="subnav-item <%= "selected" if item_order == item_order_name%>" href="<%= url_with(:s => item_order_name, :page => nil) %>">
            <%= item_order_name.humanize %>
          </a>
        <% end %>
      </div>

      <ul class="repo-list showcase-page-repo-list">
        <% @items.each do |item| %>
          <% next unless repo = item.item %>
          <li class="repo-list-item repo-list-item-with-avatar">
            <%= link_to avatar_for(repo.owner, 32, :class => "avatar repo-list-item-hanging-avatar"), "/#{repo.owner.login}" %>
            <h3 class="mb-1">
              <%= link_to repo do %>
                <span class="text-normal"><%= repo.owner %> / </span><%= repo.name %>
              <% end %>
            </h3>

            <div class="float-sm-right mt-2 mt-sm-0">
              <poll-include-fragment
                src="<%= participation_path(repo.owner, repo.name, :w => 155, :h => 28, :type => "sparkline") %>" class="width-full">
              </poll-include-fragment>
            </div>

            <% if repo.description.present? %>
              <div class="col-sm-9 text-gray pr-sm-4">
                <%= item.body_html.presence || formatted_repo_description(repo) %>
              </div>
            <% end %>

            <div class="f6 text-gray mt-2">
              <span class="d-inline-block">
                <% if repo.primary_language.present? %>
                  <%= render(Languages::BadgeComponent.new(
                    name: repo.primary_language.name,
                    color: language_color(Linguist::Language[repo.primary_language.name]),
                    ml: 0, mr: 3
                  )) %>
                <% end %>
              </span>
              <% if repo.stargazer_count > 0 %>
                <a class="muted-link d-inline-block mr-3" href="<%= gh_stargazers_path(repo) %>">
                  <%= octicon("star", :"aria-label" => "star") %>
                  <%= number_with_delimiter(repo.stargazer_count) %>
                </a>
              <% end %>
              <% if repo.network_count > 0 %>
                <a class="muted-link d-inline-block mr-3" href="<%= gh_fork_network_path(repo) %>">
                  <%= octicon("repo-forked", :"aria-label" => "fork") %>
                  <%= number_with_delimiter(repo.network_count) %>
                </a>
              <% end %>

              <span class="d-inline-block">
                <% if repo.pushed_at %>
                  Updated <%= time_ago_in_words_js repo.pushed_at %>
                <% else %>
                  Created <%= time_ago_in_words_js repo.created_at %>
                <% end %>
              </span>

              <% if logged_in? && current_user.following_count > 0 && stargazers_you_know(repo.id).count > 0 %>
                <span class="d-inline-block ml-3">Starred by
                  <%= link_to stargazers_you_know_url(repo.owner, repo), :class => "tooltipped tooltipped-n", "aria-label" => stargazers_you_know(repo.id).limit(5).join("\n") do %>
                    <%= pluralize stargazers_you_know(repo.id).count, "person" %>
                  <% end %>
                  you know
                </span>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>

      <% if !logged_in? %>
        <div class="flash flash-warn mt-3">
          <%= link_to(
            "Sign up for free",
            signup_path,
            rel: "nofollow",
            class: "float-left btn btn-primary mr-3",
            data: sign_up_link_data_attributes(location_in_page: "showcase get involved")
          ) %>
          <strong>Get involved with these projects and more.</strong>
          <p class="m-0">
            Already have an account?
            <%= link_to(
              "Sign in now",
              login_path_with_return,
              rel: "nofollow",
              data: sign_in_link_data_attributes(location_in_page: "showcase get involved")
            ) %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 float-md-left pl-md-6 mt-6 mt-md-0">
      <%= render :partial => "showcases/search_form", locals: {class_name: "width-full ml-0"} %>
      <% if related_collections.any? %>
        <h3 class="f3 text-normal mt-5 mb-2">Related showcases</h3>
        <%= render :partial => "showcases/side_collection_list", :locals => { :collections => related_collections } %>
        <%= link_to "View all", showcases_path, :class => "btn btn-outline", :"data-pjax" => true %>
      <% end %>
      <% if recent_collections.any? %>
        <h3 class="f3 text-normal mt-5 mb-2">New showcases</h3>
        <%= render :partial => "showcases/side_collection_list", :locals => { :collections => recent_collections } %>
        <%= link_to "View all", showcases_path, :class => "btn btn-outline", :"data-pjax" => true %>
      <% end %>
    </div>
  </div>
</div>
