<%= @invitee.login %> has been removed as your account successor.

Visit your settings to appoint a different account successor: <%= settings_user_admin_url %> .

Learn more about account successors: <%= help_link %>
