<h1 class="primary-heading">
  <strong><%= @invitee.login %></strong> is now your account successor.
</h1>

<p>
  As an account successor, they would be able to manage your repositories if you are not able to.
</p>

<p>Didn't mean to do this? <%= link_to "Manage your account settings", settings_user_admin_url %>.</p>

<p class="email-text-small email-text-gray">
  <a href="<%= help_link %>">Learn more about account successors</a>.
</p>
