<%= @invitee.login %> has been added as your account successor. We'll update you when they respond.

As an account successor, they would be able to manage your repositories if you are not able to.

Didn't mean to do this? Manage your account settings at <%= settings_user_admin_url %> .

Learn more about account successors: <%= help_link %>
