Please review this request from @<%= @inviter.login %>.

<%= @inviter.login %> has invited you to be their account successor.

You can this invitation at <%= @invitation.permalink %>.

As an account successor, you would be able to manage <%= @inviter.login %>'s repositories if they're not able to.
Learn more about account successors: <%= help_link %>

Note: This invitation was intended for <%= @invitee.login %>.
If you were not expecting this invitation, you can ignore this email.

Getting a 404 error? Make sure you’re signed in as <%= @invitee.login %>.
