<h1 class="primary-heading">
  <strong><%= @inviter.login %></strong> has invited you to be their account successor
</h1>

<hr class="rule">

<p>
  You can <%= link_to "view this invitation", @invitation.permalink %>.
</p>
<p>
  As an account successor, you would be able to manage <%= @inviter.login %>'s repositories if they're not able to.
  <a href="<%= help_link %>">Learn more about account successors</a>.
</p>
<p class="email-body-subtext">
  <strong>Note:</strong> This invitation was intended for <strong><%= @invitee.login %></strong>.
  If you were not expecting this invitation, you can ignore this email.
  <% unless GitHub.enterprise? %>
    If  @<%= @inviter.login %> is sending you too many emails, you can
    <%= link_to "block them", settings_user_blocks_url(block_user: @inviter.login) %>
    or <%= link_to "report abuse", "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@inviter.login}" %>.
  <% end %>
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  <strong>Getting a 404 error?</strong> Make sure you’re signed in as <strong><%= @invitee.login %></strong>.
</p>

<p class="email-text-small email-text-gray">
  <strong>Link not working?</strong> Copy and paste this link into your browser:
  <br><%= link_to @invitation.permalink, @invitation.permalink %>
</p>
