<%= @invitee.login %> has declined your account succession invitation.

Visit your settings to appoint a different account successor: <%= settings_user_admin_url %> .

Learn more about account successors: <%= help_link %>
