<%= render Primer::BaseComponent.new(**@kwargs) do %>
  <%= render(GitHub::OcticonComponent.new(icon: @icon)) if @icon %>
  <%= content %>
  <% if @dismissible %>
    <button class="flash-close js-flash-close" type="button" aria-label="Close">
      <%= render(GitHub::OcticonComponent.new(icon: "x")) %>
    </button>
  <% end %>
<% end %>
