<!DOCTYPE html>
<html class="{{html_classes}}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {{# theme_font_class}}
      <script type="text/javascript" src="https://use.typekit.com/elu7ncw.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {{/ theme_font_class}}

    {{{asset_tags}}}
    <title>{{project_title}} @ GitHub</title>
  </head>

  <body>
    <a href="{{github_url}}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <h1>{{project_title}}</h1>

    {{# project_tagline}}
      <h2>{{project_tagline}}</h2>
    {{/ project_tagline}}

    <section id="main_content">
      {{{main_content}}}
    </section>

    <h3>Other Stuff</h3>

    <ul>
      <li>Owner URL: {{owner_url}}</li>
      <li>Owner name: {{owner_name}}</li>
      <li>GitHub URL: {{github_url}}</li>
      <li>GitHub name: {{github_name}}</li>
      <li>ZIP URL: {{zip_url}}</li>
      <li>TAR URL: {{tar_url}}</li>
    </ul>

    {{{google_analytics}}}
  </body>
</html>

