<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :settings } do %>
  <div class="Subhead d-flex flex-items-center flex-auto">
    <div class="Subhead-heading">Settings</div>
  </div>

  <%= render Sponsors::Dashboard::Settings::ManualPayoutsNoticeComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::LegalNameComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::ContactEmailComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::StripePayoutsEmailComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::CountryOfResidenceComponent.new(sponsorable: sponsorable, return_to: params[:return_to]) %>
  <%= render Sponsors::Dashboard::Settings::FiscalHostComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::OrganizationOwnersListComponent.new(sponsorable: sponsorable) %>
  <%= render Sponsors::Dashboard::Settings::RedraftComponent.new(sponsorable: sponsorable) %>
<% end %>
