<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <summary class="btn select-menu-button">
    <i>Billing country:</i> <%= filter.key?(:billingCountry) ? filter[:billingCountry].join(", ").titleize : "All" %>
  </summary>

  <details-menu role="menu" class="select-menu-modal position-absolute right-0" style="z-index: 99;" preload>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by billing country or region</span>
    </div>

    <div class="select-menu-list">
      <%
        current_filter = filter.fetch(:billingCountry, [])
        all_params = { query: query, order: order, filter: filter.except(:billingCountry) }
      %>

      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:billingCountry].blank? %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All countries/regions</span>
      </a>

      <%
        supported_selected = current_filter.include?("SUPPORTED")
        supported_filter = supported_selected ? current_filter - ["SUPPORTED"] : current_filter + ["SUPPORTED"]
        supported_params = { query: query, order: order, filter: filter.merge(billingCountry: supported_filter) }
      %>
      <a href="?<%= supported_params.to_query %>" class="select-menu-item <% if supported_selected %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All supported</span>
      </a>

      <%
        unsupported_selected = current_filter.include?("UNSUPPORTED")
        unsupported_filter = unsupported_selected ? current_filter - ["UNSUPPORTED"] : current_filter + ["UNSUPPORTED"]
        unsupported_params = { query: query, order: order, filter: filter.merge(billingCountry: unsupported_filter) }
      %>
      <a href="?<%= unsupported_params.to_query %>" class="select-menu-item <% if unsupported_selected %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All unsupported</span>
      </a>

      <div class="SelectMenu-divider">By Country</div>

      <% Braintree::Address::CountryNames.map do |country_name, alpha2, _, _| %>
        <%
          country_value = alpha2.upcase
          current_filter = filter.fetch(:billingCountry, [])
          currently_selected = current_filter.include?(country_value)

          new_filter = if currently_selected
            current_filter - [country_value]
          else
            current_filter + [country_value]
          end

          country_params = { query: query, order: order, filter: filter.merge(billingCountry: new_filter) }
        %>
        <a href="?<%= country_params.to_query %>" class="select-menu-item <% if currently_selected %>selected<% end%>">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <span class="select-menu-item-text"><%= country_name.titleize %></span>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
