<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <summary class="btn select-menu-button">
    <i>Fiscal host:</i> <%= filter.key?(:fiscalHost) ? filter[:fiscalHost].join(", ").titleize : "All" %>
  </summary>

  <details-menu role="menu" class="select-menu-modal position-absolute right-0" style="z-index: 99;" preload>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by fiscal host</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.except(:fiscalHost) } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:fiscalHost].blank? %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All users</span>
      </a>

      <% ::SponsorsMembership.fiscal_hosts.keys.each do |host| %>
        <%
          host_value = host.upcase
          current_filter = filter.fetch(:fiscalHost, [])
          currently_selected = current_filter.include?(host_value)

          new_filter = if currently_selected
            current_filter - [host_value]
          else
            current_filter + [host_value]
          end

          host_params = { query: query, order: order, filter: filter.merge(fiscalHost: new_filter) }
        %>
        <a href="?<%= host_params.to_query %>" class="select-menu-item <% if currently_selected %>selected<% end%>">
          <%= octicon("check", class: "select-menu-item-icon") %>
          <span class="select-menu-item-text"><%= host.titleize %></span>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
