<details class="details-reset details-overlay select-menu d-inline-block">
  <summary class="select-menu-button pl-0">
    <i>Sort by:</i> <%= order[:direction] == "ASC" ? "Oldest First" : "Most Recent" %>
  </summary>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <div class="select-menu-list">
      <% created_at_asc_params = { query: query, filter: filter, order: { field: "CREATED_AT", direction: "ASC" } } %>
      <a href="?<%= created_at_asc_params.to_query %>" class="select-menu-item <% if order[:direction] == "ASC" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Oldest First</span>
      </a>

      <% created_at_desc_params = { query: query, filter: filter, order: { field: "CREATED_AT", direction: "DESC" } } %>
      <a href="?<%= created_at_desc_params.to_query %>" class="select-menu-item <% if order[:direction] == "DESC" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Most Recent</span>
      </a>
    </div>
  </details-menu>
</details>