<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <summary class="btn select-menu-button">
    <i>State:</i> <%= filter.key?(:states) ? filter[:states].humanize : "All" %>
  </summary>

  <details-menu role="menu" class="select-menu-modal position-absolute right-0" style="z-index: 99;" preload>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by state</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.except(:states) } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:states].blank? %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All users</span>
      </a>

      <% submitted_params = { query: query, order: order, filter: filter.merge(states: "SUBMITTED") } %>
      <a href="?<%= submitted_params.to_query %>" class="select-menu-item <% if filter[:states] == "SUBMITTED" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Submitted</span>
      </a>

      <% accepted_params = { query: query, order: order, filter: filter.merge(states: "ACCEPTED") } %>
      <a href="?<%= accepted_params.to_query %>" class="select-menu-item <% if filter[:states] == "ACCEPTED" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Accepted</span>
      </a>

      <% banned_params = { query: query, order: order, filter: filter.merge(states: "BANNED") } %>
      <a href="?<%= banned_params.to_query %>" class="select-menu-item <% if filter[:states] == "BANNED" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Banned</span>
      </a>
    </div>
  </details-menu>
</details>
