<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <summary class="btn select-menu-button">
    <i>Type:</i> <%= filter.key?(:type) ? filter[:type].humanize : "All" %>
  </summary>

  <details-menu role="menu" class="select-menu-modal position-absolute right-0" style="z-index: 99;" preload>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by type</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.except(:type) } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:type].blank? %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All types</span>
      </a>

      <% user_params = { query: query, order: order, filter: filter.merge(type: "USER") } %>
      <a href="?<%= user_params.to_query %>" class="select-menu-item <% if filter[:type] == "USER" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">User</span>
      </a>

      <% org_params = { query: query, order: order, filter: filter.merge(type: "ORGANIZATION") } %>
      <a href="?<%= org_params.to_query %>" class="select-menu-item <% if filter[:type] == "ORGANIZATION" %>selected<% end%>">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Organization</span>
      </a>
    </div>
  </details-menu>
</details>
