<%= form_tag org_creation_survey_path(@organization), :class => "js-org-survey setup-form d-flex flex-column" do %>
  <% @survey.active_questions.each do |question| %>
    <%= render(
      MarketingSurvey::MarketingQuestionComponent.new(
        question: question,
        hidden: question_initially_hidden?(question),
        question_description: question_description(question),
        container_classes: question_container_classes(question)
      )
    ) do %>
      <div class="response-group <%= choices_container_classes(question) %>">
        <% question.choices.each do |choice| %>
          <%= render(
            MarketingSurvey::MarketingChoiceComponent.new(
              choice: choice,
              question: question,
              type: choice_type(choice),
              questions_with_other: ALLOW_CUSTOM_OTHER_TEXT_INPUT,
              image: choice_image(choice),
              container_classes: choice_container_classes(choice),
              add_input_classes: choices_add_input_classes(choice),
              container_style: choice_container_style(choice),
              input_style: choice_input_style(choice)
            )
          ) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="flex-grow-0 flex-self-center">
    <button
      class="btn-mktg signup-btn"
      type="submit"
      height="64px"
      <%= safe_data_attributes(submit_button_data_attributes) %>
      data-disable-with="Submitting&hellip;"
    >
      Submit
    </button>
  </div>
<% end %>