<table class="indexing-es-cluster">
  <tr class="<%= cluster['status'] %>">
    <th class="name"><%= h cluster['cluster_name'] %></th>
    <th><%= h cluster['status'] %></th>
  </tr>
<% %w[number_of_nodes number_of_data_nodes
      active_primary_shards active_shards
      relocating_shards initializing_shards unassigned_shards].each do |key| %>
  <tr>
    <td class="name"><%= h key.titleize %></td>
    <td><%= h cluster[key] %></td>
  </tr>
<% end %>
</table>
