<%
  stats = repair_job.stats
  job_exists = repair_job.exists?
  job_enabled = repair_job.enabled?
%>
<% if job_exists %>
  <table class="es-index-repair">
    <tr>
      <td class="es-repair-stats-label">Progress:</td>
      <td class="es-repair-progress"><%= progress_bar(repair_job.progress, :percentage => true, :precision => 1) %></td>
    </tr>
    <tr><td class="es-repair-stats-label">Processed:</td><td><%= number_with_delimiter(stats[:total]) %></td></tr>
    <tr><td class="es-repair-stats-label">Added:</td><td><%= number_with_delimiter(stats[:added]) %></td></tr>
    <tr><td class="es-repair-stats-label">Updated:</td><td><%= number_with_delimiter(stats[:updated]) %></td></tr>
    <tr><td class="es-repair-stats-label">Removed:</td><td><%= number_with_delimiter(stats[:removed]) %></td></tr>
  </table>

  <% if stats[:finished] %>
    <p><strong>Repair complete:</strong> <%= stats[:finished] %></p>
  <% else %>
    <p><strong>Active jobs:</strong> <%= repair_job.working %></p>
  <% end %>
<% end %>

<% if !stats[:finished] %>
  <ul class="boxed-group-list indexing-backfill">
    <li class="clearfix">
      <%= form_tag(repair_stafftools_search_index_path(repair_job.index_name), :method => "post") do %>

        <% if repair_job.try(:show_worker_count_input?) %>
          <label>Worker count: <input type="number" value=1 name="workers"></label>
        <% end %>
        <button class="boxed-action btn btn-sm" type="submit">Start</button>
      <% end %>

      <% if job_exists %>
        <p>Start an additional repair job for this index</p>
      <% else %>
        <p>Start a repair job for this index</p>
      <% end %>
    </li>
  <% if job_exists %>
    <li>
      <%= form_tag(pause_repair_stafftools_search_index_path(repair_job.index_name), :method => "put") do %>
        <button class="boxed-action btn btn-sm<%= job_enabled ? nil : ' disabled' %>" type="submit">Pause</button>
      <% end %>
      <% if job_enabled %>
        <p>Pause the repair</p>
      <% else %>
        <p><strong>The repair is paused</strong></p>
      <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
