<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Indexing ∙ Stafftools", :selected_link => :indexing %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <%= button_to "Delete index", stafftools_search_index_path(@index.name), @index.delete_button_options %>

    <h3>Manage the `<%= @index.name %>` index</h3>

    <div class="boxed-group-inner">
      <% if !@index.primary || @kind_has_multiple_primaries %>
        <%= form_for @index, url: make_primary_stafftools_search_index_path(@index.name), method: :put do |f| %>
          <p>Make this index the primary for all <strong><%= @index.kind %></strong> indices.</p>
          <p><button type="submit" class="btn btn-sm btn-primary">Make Primary</button></p>
        <% end %>

        <hr class="fullbleed">
      <% end %>

      <%= form_for @index, url: stafftools_search_index_path(@index.name) do |f| %>
        <%= f.hidden_field :name, value: @index.name %>
        <%= render partial: "stafftools/search_indexes/index_settings", locals: {form: f} %>
        <p><button type="submit" class="btn btn-sm">Update Index</button></p>
      <% end %>
    </div>
  </div>

  <% if @repair_job %>
    <div class="boxed-group">
      <% if @repair_job.exists? %>
        <%= form_tag repair_stafftools_search_index_path(@index.name),
                     method: "delete", class: "boxed-group-action inline-form" do %>
          <button type="submit"
                  class="btn btn-sm btn-danger"
                  data-confirm="All workers will be stopped and all repair progress will be cleared. Are you sure you want to continue?">
            Reset
          </button>
        <% end %>
      <% end %>

      <h3>Repair the `<%= @index.name %>` index</h3>

      <div class="boxed-group-inner" data-index-name="<%= @index.name %>"
           <%= @repair_job.active? ? "id=js-repair-index" : nil %>>
        <%= render partial: "stafftools/search_indexes/repair", locals: {repair_job: @repair_job} %>
      </div>
    </div>
  <% end %>
<% end %>
