<div>
  <details class="details-reset select-menu select-menu-modal-right position-relative">
    <summary class="btn btn-sm select-menu-button">
      <i>Period:</i>
      <span data-menu-button><%= selected_period_title %></span>
    </summary>

    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99">
      <div class="select-menu-header">
        <span class="select-menu-title">Filter Activity</span>
      </div>

      <div class="select-menu-list">
        <% period_menu_options.each do |option| %>
          <a
            href="<%= data_url_helper.call(period: option[:value]) %>"
            class="select-menu-item" aria-checked="<%= selected_period == option[:value] %>" role="menuitemradio">
            <%= octicon('check', class: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text><%= option[:title] %></span>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>
