<% # view is an instance of Businesses::BillingSettings::BillingPrivilegesView %>

<div class="pt-3">
  <h3 class="text-normal pt-5 pb-2">Organization purchases</h3>

  <p>
    If enabled, <strong>organization</strong> admins and billing managers will be able to purchase additional services. If disabled, only <strong>enterprise</strong> owners and billing managers can make purchases.
  </p>

  <%= form_tag billing_settings_members_can_make_purchases_enterprise_path(view.slug), method: :put do %>
    <details class="details-reset details-overlay select-menu mr-2 position-relative">
      <summary class="btn select-menu-button">
        <i>All organizations: </i>
        <span data-menu-button>
          <%= view.menu_button_text %>
        </span>
      </summary>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
        <div class="select-menu-header text-left">
          <span class="select-menu-title">Purchases</span>
        </div>
        <div class="select-menu-list">
          <label class="select-menu-item" role="menuitemradio" aria-checked="<%= view.members_can_make_purchases? %>" tabindex="0">
            <%= radio_button_tag "business[members_can_make_purchases]", "enabled", view.members_can_make_purchases?, :"data-autosubmit" => true %>
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="text-normal select-menu-item-text">
              <span class="select-menu-item-heading" data-menu-button-text>Enabled</span>
              <span class="description">Members with admin privileges will be able to make purchases</span>
            </div>
          </label>
          <label class="select-menu-item" role="menuitemradio" aria-checked="<%= !view.members_can_make_purchases? %>" tabindex="0">
            <%= radio_button_tag "business[members_can_make_purchases]", "disabled", !view.members_can_make_purchases?, :"data-autosubmit" => true %>
            <%= octicon("check", class: "select-menu-item-icon") %>
            <div class="text-normal select-menu-item-text">
              <span class="select-menu-item-heading" data-menu-button-text>Disabled</span>
              <span class="description">Only enterprise admins will be able to make purchases</span>
            </div>
          </label>
        </div>
      </details-menu>
    </details>
  <% end %>
</div>
