<%# `view` is Businesses::BillingSettings::ShowView %>

<h2 class="f3 mb-1 mt-4 text-normal">Monthly spending limit</h2>
<p class="mb-4">
  Set up a monthly spending limit. You can adjust it at any time. Read more information about <a href="<%= GitHub.help_url %>/en/articles/managing-your-github-billing-settings">spending limits</a>.
</p>

<%=
  render(Billing::MeteredBilling::CostManagementComponent.new(
    title: "Actions and Packages",
    product: "shared",
    form_action: metered_billing_costs_enterprise_path(this_business),
    enforce_spending_limit: view.actions_and_packages_budget.enforce_spending_limit,
    spending_limit_in_subunits: view.actions_and_packages_budget.effective_spending_limit_in_subunits
  ))
%>

<% if view.codespaces_enabled? %>
<%=
  render(Billing::MeteredBilling::CostManagementComponent.new(
    title: "Codespaces",
    product: "codespaces",
    form_action: metered_billing_costs_enterprise_path(this_business),
    enforce_spending_limit: view.codespaces_budget.enforce_spending_limit,
    spending_limit_in_subunits: view.codespaces_budget.effective_spending_limit_in_subunits
  ))
%>
<% end %>
