<div class="d-flex pb-6">
  <div class="bg-gray box-shadow flex-1 p-3">
    <label class="text-normal text-small text-gray text-uppercase">Current invoice</label>
    <span class="f2 d-block py-1">
      <span>$<%= number_with_precision view.invoice.balance, precision: 2, delimiter: "," %></span>
    </span>
    <%= link_to "View invoice", show_invoice_enterprise_path(view.business.slug, view.invoice.number&.downcase), class: "text-small" %>
  </div>
  <div class="bg-gray box-shadow flex-1 p-3 mx-3">
    <label class="text-normal text-small text-gray text-uppercase">Payment due</label>
    <span class="f2 d-block py-1">
      <span><%= Date.parse(view.invoice.due_on).to_s(:long) %></span>
    </span>
    <%= link_to "Pay invoice", invoice_payment_method_enterprise_path(view.business.slug, view.invoice.number&.downcase), class: "text-small" %>
  </div>
  <div class="bg-gray box-shadow flex-1 p-3">
    <label class="text-normal text-small text-gray text-uppercase">Quick actions</label>
    <span class="text-small text-gray-light d-block pt-2 pb-1">
      <%= link_to "Download current invoice", show_invoice_enterprise_path(view.business.slug, view.invoice.number&.downcase) %>
    </span>
    <span class="text-small text-gray-light d-block">
      <%= link_to "View past invoices", settings_billing_tab_enterprise_path(view.business.slug, :past_invoices) %>
    </span>
  </div>
</div>
