<% if view.organizations_asset_statuses.length.zero? %>
  <p class="py-4 text-gray-light f5 border-bottom">No LFS usage by any organization yet</p>
<% else %>
  <% view.organizations_asset_statuses.each do |asset_usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(asset_usage.organization) %>
        </div>
        <strong>
          <% if GitHub.flipper[:billing_org_business_view].enabled?(current_user) %>
            <%= link_to asset_usage.organization.name, settings_org_billing_path(asset_usage.organization) %>
          <% else %>  
            <%= asset_usage.organization.name %>
          <% end %>
        </strong>
      </div>
      <div class="col-3">
        <strong><%= asset_usage.bandwidth_usage %> / <%= asset_usage.bandwidth_quota %> GB</strong>
      </div>
      <div class="col-3">
        <strong><%= asset_usage.storage_usage %> / <%= asset_usage.storage_quota %> GB</strong>
      </div>
    </div>
  <% end %>

  <% if view.number_of_organizations_without_asset_usage > 0 %>
    <span class="f5 text-gray-light pt-2 d-block">
      +<%= pluralize(view.number_of_organizations_without_asset_usage, "organization") %> not using LFS.
    </span>
  <% end %>
<% end %>
