<% if view.organizations_packages_usage.length.zero? %>
  <p class="py-4 text-gray-light f5 border-bottom">No packages downloaded by any organization yet</p>
<% else %>
  <% view.organizations_packages_usage.each do |package_usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(package_usage.organization) %>
        </div>
        <strong>
          <% if GitHub.flipper[:billing_org_business_view].enabled?(current_user) %>
            <%= link_to package_usage.organization.name, settings_org_billing_path(package_usage.organization) %>
          <% else %>  
            <%= package_usage.organization.name %>
          <% end %>
        </strong>
      </div>
      <div class="col-3">
        <strong><%= number_with_precision(package_usage.gigabytes_used, precision: 1, strip_insignificant_zeros: true, delimiter: ",") %>GB</strong>
      </div>
    </div>
  <% end %>

  <% if view.number_of_organizations_without_packages_usage > 0 %>
    <span class="f5 text-gray-light pt-2 d-block">
      +<%= pluralize(view.number_of_organizations_without_packages_usage, "organization") %> not using GitHub Packages. Showing total included data transfer out.
    </span>
  <% end %>
<% end %>
