<div class="d-flex border-bottom text-small text-gray-light text-uppercase pt-5 pb-2">
  <span class="flex-1">Date</span>
  <span class="flex-1">Reference</span>
  <span class="flex-1">Amount</span>
  <span class="flex-1">Status</span>
  <span class="flex-1"></span>
</div>
<%= render partial: "businesses/billing_settings/past_invoice_row", collection: view.invoices, as: :invoice %>
