<% business = invitation.business %>
<% page_info title: "Become a billing manager for #{business.name}", class: "min-width-0" %>
<div class="Box mx-auto my-6 p-4 col-lg-6 col-sm-8 col-9">
  <div class="text-center position-relative">
    <%= avatar_for business, 75, class: "avatar mb-4" %>
    <p class="f3">
      Become a billing manager for the
      <a href="<%= enterprise_path(business.slug, invitation_token: params[:invitation_token]) %>"><strong><%= business.name %></strong></a>
      enterprise
    </p>

    <p class="text-gray-light text-small mt-2 mb-3">
      <% if invitation.inviter %>
        <%= invitation.inviter.name.presence || invitation.inviter.login %> has invited you
      <% else %>
        You’ve been invited
      <% end %>
      to be a billing manager for <%= business.name %>.
    </p>

    <% if must_enable_two_factor %>
      <div class="invitation-2fa-banner flash flash-warn flash-full p-3">
        <p class="mb-3">
          <strong><%= business.name %></strong> requires
          all billing managers to have two-factor authentication enabled.
        </p>

        <a href="<%= settings_user_security_path %>" class="btn btn-primary mr-0">
          Enable two-factor authentication
        </a>
      </div>
    <% else %>
      <strong>You will be able to perform the following actions:</strong>
      <ul class="list-style-none text-left my-5 mx-auto col-md-6 col-sm-9">
        <li class="mb-2"><%= octicon("check", class: "mr-2 text-green") %> View the billing usage for the enterprise</li>
      </ul>
    <% end %>

    <div class="mt-4">
      <%= button_to "Accept invitation",
        billing_manager_invitation_enterprise_path(business.slug,
          { invitation_token: params[:invitation_token] }),
          method: "post", class: "btn btn-primary",
          disabled: must_enable_two_factor %>
    </div>
  </div>
</div>
