<% row_id = "ssh-key-#{deploy_key.id}" %>
<li class="Box-row <%= "selected-user-key" if selected %>" id="<%= row_id %>">
  <span class="user-key-type TableObject-item">
    <% if !deploy_key.verified? %>
      <% key_class = "unverified-user-key" %>
    <% elsif deploy_key.recent? %>
      <% key_class = "recent-user-key" %>
    <% end %>
    <span class="js-user-key-icon <%= key_class unless key_class.nil? %>">
      <%= octicon("key", :height => 32) %>
    </span>
    <span class="user-key-badge text-gray">SSH</span>
  </span>

  <span class="user-key-details TableObject-item js-details-container Details">
    <strong class="d-block"><%= deploy_key.title %></strong>
    <strong>Fingerprint:</strong> <code><%= deploy_key.fingerprint %></code>
    <span class="text-gray d-block">
      <%= key_created_at_description(deploy_key) %>
    </span>
    <span class="text-gray d-block">
      <% if !deploy_key.verified? %>
        <span class="unverified-user-key-notice js-unverified-user-key-notice"><%= deploy_key.unverification_explanation %></span>
      <% else %>
        <span class="<%= "recent-user-key-access" if deploy_key.recent? %>"><%= last_access_description(deploy_key, "key", "tooltipped-se") %></span>
      <% end %>
      <%= view.permissions_text(deploy_key) if defined? view %>
    </span>
  </span>

  <span class="TableObject-item border-bottom-0">
    <div class="listgroup-item">
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Delete",
          button_class: "btn btn-sm btn-danger",
          title: "Are you sure you want to delete this SSH key?"
        } do %>
        <div class="Box-body overflow-auto ws-normal">
          <p>
            This action <strong>cannot</strong> be undone. This will permanently delete the SSH key, and if you’d like to use it in the future, you will need to upload it again.
          </p>
        </div>
        <div class="Box-footer">
          <%= form_tag resolve_key_path(deploy_key), method: :delete do %>
            <button type="submit" class="btn btn-danger btn-block" data-disable-with>I understand, delete this SSH key</button>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if !deploy_key.verified? %>
      <%= form_tag resolve_key_verify_path(deploy_key), :class => "js-verify-ssh-key" do %>
        <button type="submit" class="btn btn-sm btn-primary" data-disable-with="Verifying…">Approve</button>
      <% end %>
    <% end %>
  </span>
</li>
