<div class="discussion-block-header">
  Notifications for this thread
</div>
<div id="thread-subscription-status" class="thread-subscription-status">
  <p class="thread-subscription-description">
    <%= octicon("radio-tower", :height => 32) %>
    <%= view.explanation_text %>
  </p>
  <% if view.custom_notifications_supported_for_thread? %>
    <%= render partial: "notifications/configure_thread_subscription_dialog", locals: { view: view } %>
  <% end %>
  <%= form_tag view.form_path, :class => "thread-subscribe-form mt-2" do -%>
    <%= hidden_field_tag :repository_id, view.list.id %>
    <%= hidden_field_tag :thread_id, view.thread_id %>
    <%= hidden_field_tag :thread_class, view.thread_class %>
    <%= hidden_field_tag :id, view.form_action %>
    <button class="btn btn-block" type="submit" data-disable-with="Submitting…">
      <%= octicon(view.octicon_symbol) %>
      <%= view.button_text %>
    </button>
  <% end %>
</div>
