<%# erblint:counter TooltipCounter 1 %>
<div class="oauth-org-item mb-2 m-0 px-0">
  <%= avatar_for(denied, 20, :class => "avatar") %>
  <strong class="text-gray text-small"><%= denied.login %></strong>
  <a href="<%= GitHub.help_url %>/articles/about-third-party-application-restrictions/" class="v-align-middle tooltipped tooltipped-multiline tooltipped-ne" aria-label="The application cannot access this organization’s private data or modify its public data.">
    <%= octicon("x", :class => "org-access-denied ml-1") %>
  </a>
</div>
