<%# erblint:disable ProperTagNesting %>
<%# view is an instance of Oauth::AuthorizeIntegrationView %>

<% page_info title: "Authorize #{view.application.name}" %>

<%= render Oauth::SuggestedSignInComponent.new(application: view.application, original_url: request.original_url, raw_suggestion: params[:login]) %>

<div class="px-3 mx-auto pt-4 container-md">
  <div class="DashedConnection mb-3 mx-auto d-none d-md-block" style="width: 300px;">
    <div class="d-flex flex-justify-between flex-items-center py-4">

      <div class="CircleBadge CircleBadge--medium" style="background-color:#<%= view.preferred_bgcolor %>">
        <%= integration_avatar(integration: view.application, size: 100, height: 50, width: 50, class: "CircleBadge-icon") %>
      </div>
      <div class="position-relative bg-green text-center" style="border-radius: 50%; width:32px; height:32px;">
        <%= octicon "check", class: "text-white mt-2" %>
      </div>
      <div class="CircleBadge CircleBadge--medium box-shadow-none" style="background-color: #fff; overflow: hidden;">
        <%= octicon "mark-github", class: "width-full height-full" %>
      </div>
    </div>
  </div>

  <% if view.rate_limited? %>
    <h2 class="f2 text-normal text-center lh-condensed mb-4">Reauthorization required</h2>
    <p class="text-gray text-center">
      This application has made an unusually high number of requests to access your account. Please reauthorize the application to continue.
    </p>
  <% end %>

  <h2 class="text-center text-normal">
    <%= view.application.name %> by

    <% if GitHub.enterprise? && view.application_github_owned? %>
      <%= view.application_owner %>
    <% else %>
      <strong><%= link_to "#{view.application_owner}", user_path(view.application.owner) %></strong>
    <% end %>

    <% if view.existing_authorization? && view.permissions.any? && !view.rate_limited? %>
      would like to modify their authorized permissions on your account
    <% else %>
      would like permission to:
    <% end %>
  </h2>
</div>

<% if view.include_device_warning? %>
  <div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
    <div class="flash flash-warn">
      <%= octicon :alert, class: "mr-1" %> Make sure you trust this device as it will get access to your account.
    </div>
  </div>
<% end %>

<div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
  <div class="Box box-shadow">
    <div class="Box-body p-3 p-md-4">
      <% if view.existing_integration_version? && view.permissions.any? && !view.rate_limited? %>
        <div class="Box box-shadow my-4">
          <% view.permissions_added.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <span class="Label Label--outline float-sm-none float-md-right">New request</span>

              <% if permission == "single_file" %>
                <p style="margin-bottom: 0px;">Path: <strong><%= view.new_single_file %></strong></p>
              <% end %>
            </div>
          <% end %>

          <% view.permissions_upgraded.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <span class="text-small text-gray float-right"><em>Was <strong><%= view.permission_text(:read).downcase %></strong></em></span>

              <% if permission == "single_file" %>
                <p style="margin-bottom: 0px;">
                  Path: <strong><%= view.new_single_file %></strong>
                  <% if view.single_file_changed? %>
                    <span class="text-small text-gray float-right"><em>Was <strong><%= view.old_single_file %></strong></em></span>
                  <% end %>
                </p>
              <% end %>
            </div>
          <% end %>

          <% view.permissions_downgraded.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <span class="text-small text-gray float-right"><em>Was <strong><%= view.permission_text(:write).downcase %></strong></em></span>
            </div>
          <% end %>

          <% view.permissions_removed.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>
              <span class="text-small text-gray float-right"><em>no longer required</strong></em></span>
            </div>
          <% end %>

          <% unless view.permissions_unchanged.empty? %>
            <div class="Details js-details-container">
              <button class="Box-row Box-row--gray Box-row--hover-blue text-center border-top muted-link d-block js-details-target btn-block border-0" aria-expanded="false" aria-label="Expand and collapse" style="cursor:pointer" type="button">
                <span class="Details-content--shown"><%= octicon("unfold") %> Show unchanged permissions</span>
                <span class="Details-content--hidden"><%= octicon("fold") %> Hide unchanged permissions</span>
              </button>

              <div class="Details-content--hidden">
                <% view.permissions_unchanged.each do |permission, value| %>
                  <% next if permission == "single_file" && view.single_file_changed? %>

                  <div class="Box-row bg-gray-light border-top text-gray">
                    <strong><%= view.permission_text(value) %></strong>
                    access to
                    <strong><%= view.human_name(permission) %></strong>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="mb-4 position-relative lh-default" style="padding-left:45px;">
          <%= octicon("person", :height => 32, :class => "position-absolute mr-3 mt-1 top-0 left-0 text-gray-light") %>
          <strong class="pt-2 d-block text-gray">Verify your GitHub identity (<%= current_user.login %>)</strong>
        </div>
        <div class="mb-4 position-relative lh-default" style="padding-left:45px;">
          <%= octicon("file", :height => 32, :class => "position-absolute ml-1 mt-1 top-0 left-0 text-gray-light") %>
          <strong class="pt-2 d-block text-gray">Know which resources you can access</strong>
        </div>
        <div class="mb-4 position-relative lh-default" style="padding-left:45px;">
          <%= octicon("pulse", :height => 32, :class => "position-absolute mr-3 mt-1 top-0 left-0 text-gray-light") %>
          <strong class="pt-2 d-block text-gray">Act on your behalf</strong>
        </div>

        <% if view.permissions.any? %>
          <p class="h5 pb-1 border-bottom">Resources on your account</p>

          <% view.permissions.each do |resource, access_level| %>
            <div class="mb-4 position-relative lh-default" style="padding-left:45px;">
              <%= octicon(view.octicon_for_permission(resource), :height => 32, :class => "position-absolute ml-1 mt-1 top-0 left-0 text-gray-light") %>
              <strong><%= view.human_name(resource) %> <span class="text-gray text-normal">(<%= access_level %>)</span></strong>
              <small class="d-block text-gray"><%= view.description(resource) %></small>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="text-small text-gray pt-4 border-top">
        <p><%= view.existing_installations_message %></p>
        <p class="mb-0"><%= link_to "Learn more about #{view.application.name}", gh_app_path(view.application) %>
      </div>
    </div>
    <div class="Box-footer p-3 p-md-4 clearfix">
      <div class="col-sm-12">
        <%= form_tag view.form_submission_path do %>
          <% view.oauth_params.each do |param_key, value| %>
            <%= hidden_field_tag param_key, value %>
          <% end %>
          <% if view.application.present? %>
            <%= hidden_field_tag :integration_version_number, view.application.latest_version.number %>
          <% end %>

          <div class="d-flex flex-justify-center">
            <button type="submit" name="authorize" value="0" class="btn width-full mr-2 ws-normal">Cancel</button>

            <button
              type="submit"
              class="btn btn-primary width-full ws-normal"
              data-ga-click="<%= "Integration, integration authorized, integration_id:#{view.application.id}; listing_id:#{view.application.integration_listing.try(:id)};" %>"
              name="authorize"
              id="js-oauth-authorize-btn"
              value="1"
              <% unless oauth_app_whitelisted? %>disabled<% end %>>
              Authorize <%= view.application.name %>
            </button>
          </div>
        <% end %>
      </div>

      <% if view.location_available? %>
        <div class="col-sm-12 mt-2">
          <p class="text-small text-gray mb-0 text-center">
            Requested from <strong><%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %> <span><%= view.ip_address %></span></strong> on <time><%= view.device_code_created_at %></time>
          </p>
        </div>
      <% end %>

      <% unless view.device_authorization? %>
        <div class="col-sm-12 mt-2">
          <p class="text-small text-gray mb-0 mt-2 mt-md-0 text-center">Authorizing will redirect to <br><strong class="text-gray-dark"><%= view.application_redirect_origin %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="Box bg-gray-light mt-3 p-3 px-md-4 text-small text-gray clearfix mb-6">
    <div class="gutter-condensed lh-condensed">
      <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left">
        <% if view.application_github_owned? %>
          <div class="position-relative pl-4"><%= octicon("mark-github", :class => "position-absolute left-0") %> Owned &amp; operated by GitHub</div>
        <% else %>
          <div class="position-relative pl-4"><%= octicon("circle-slash", :class => "position-absolute left-0") %> <strong>Not</strong> owned or operated by GitHub</div>
        <% end %>
      </div>
      <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left ">
        <div class="position-relative pl-4"><%= octicon("clock", :class => "position-absolute left-0") %> Created <strong class="d-inline-block"><%= view.application_creation_time_in_words %> ago</strong></div>
      </div>
      <div class="col-12 col-md-4 float-md-left ">
        <div class="position-relative pl-4"><%= octicon("organization", :class => "position-absolute left-0") %> <strong><%= view.application_user_range %></strong> <span class="d-inline-block">GitHub users</span></div>
      </div>
    </div>
  </div>
</div>
