<%# view is an instance of Oauth::AuthorizeIntegrationView %>

<% page_info title: "Authorize #{view.application.name}" %>

<%= render Oauth::SuggestedSignInComponent.new(application: view.application, original_url: request.original_url, raw_suggestion: params[:login]) %>

<div class="px-3 mx-auto pt-4 container-md">
  <% if view.rate_limited? %>
    <h2 class="f2 text-normal text-center lh-condensed mb-4">Reauthorization required</h2>
    <p class="text-gray text-center">
      This application has made an unusually high number of requests to access your account. Please reauthorize the application to continue.
    </p>
  <% end %>
</div>

<div class="px-3 mt-5 mx-auto" style="max-width: 480px;">
  <div class="text-center mb-3">
    <%= svg("learning-lab-avatar.svg", width: 80) %>
    <h2 class="mb-2"><%= view.application.name %></h2>
    <p>Learn by doing. Bot powered courses help you learn new skills and complete fun projects, directly in GitHub repositories.</p>
  </div>

  <div class="Box box-shadow mx-auto">
    <div class="Box-body p-3 p-md-4">
      <h3 class="f4 mb-3">Installing <%= view.application.name %> will:</h3>

      <p class="d-flex flex-items-center"><%= octicon("repo", height: 20, class: "mr-2") %> Create and modify repositories on your behalf</p>

      <ul class="text-gray list-style-none pl-3">
        <li class="mb-2"><%= octicon("issue-opened", class: "mr-1") %> Open issues and pull requests</li>
        <li class="mb-2"><%= octicon("pulse", class: "mr-1") %> Listen for and respond to activity</li>
        <li class="mb-2"><%= octicon("checklist", class: "mr-1") %> Create, review and test content</li>
        <li><%= octicon("workflow", class: "mr-1") %> Push and edit workflow files</li>
      </ul>

      <p class="text-gray mt-3">You’ll automatically have access to all public courses, and those belonging to organizations that you’re a member of.</p>
    </div>
    <div class="Box-footer p-3 p-md-4 clearfix">
      <div class="col-sm-12">
        <%= form_tag oauth_authorize_path do %>
          <% view.oauth_params.each do |param_key, value| %>
            <%= hidden_field_tag param_key, value %>
          <% end %>
          <% if view.application.present? %>
            <%= hidden_field_tag :integration_version_number, view.application.latest_version.number %>
          <% end %>

          <button type="submit"
            class="btn btn-primary d-block width-full"
            data-ga-click="<%= "Integration, integration authorized, integration_id:#{view.application.id}; listing_id:#{view.application.integration_listing.try(:id)};" %>"
            name="authorize"
            id="js-oauth-authorize-btn"
            value="1"
            <% unless oauth_app_whitelisted? %>disabled<% end %>
            style="white-space: normal"
            >
            Start learning with <%= view.application.name %>
          </button>

        <% end %>
      </div>
      <div class="col-sm-12 mt-2">
        <p class="text-small text-gray mb-0 mt-2 mt-md-0 text-center">You'll be redirected to <strong class="text-gray-dark"><%= view.application_redirect_origin %></strong></p>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= octicon("mark-github", height: 24, class: "text-gray-light mt-3") %>
  </div>
</div>
