<% page_info :title => "OAuth application authorized" %>

    <%= javascript_bundle 'compat' %>
    <%= javascript_bundle 'environment' %>
    <%= javascript_bundle 'vendor' unless gist_request? %>
    <%= javascript_bundle 'frameworks' unless gist_request? %>
    <%= javascript_bundle 'github' unless gist_request? %>

<div class="container-md px-3">
  <div class="blankslate mt-5">
    <%= octicon("flame", :height => 32, :class => "blankslate-icon") %>
    <h3>You are being redirected to the authorized application.</h3>
    <span>
      If your browser does not redirect you back, please <%= link_to("click here", redirect_url, id: "js-manual-authorize-redirect") %> to continue.
    </span>
  </div>
</div>
