<%graphql
  fragment ProjectColumn on ProjectColumn {
    databaseId
    purpose
  }

  fragment Project on Project {
    automationOptionsResourcePath
  }
%>
<% project_column = Views::ProjectWorkflows::Presets::ProjectColumn.new(project_column) %>
<% project = Views::ProjectWorkflows::Presets::Project.new(project) %>
<% errors ||= nil %>

<dl class="form-group <% if errors %>errored<% end %>">
  <dt>
    <% if show_heading %>
      <strong>Automation</strong>
    <% end %>
    <p>
      Choose a preset to enable progress tracking, automation, and better context sharing across your project.
    </p>
  </dt>
  <dd>
    <details class="details-reset details-overlay d-inline-block mr-2 js-column-purpose-details" hidden>
      <summary class="btn flex-auto select-menu-button">
        <i>Preset:</i>
        <span data-menu-button><%= column_purpose_name(project_column&.purpose) %></span>
      </summary>

      <details-menu
        class="select-menu-modal subscription-menu-modal position-absolute"
        style="z-index: 99;">
        <div class="select-menu-header">
          <span class="select-menu-title">Select type</span>
        </div>

        <div class="select-menu-list">
          <% column_purpose_options.each do |key, val| %>
            <label tabindex="0" class="select-menu-item" aria-checked="<%= key == project_column&.purpose %>" role="menuitemradio">
              <%= octicon("check", :class => "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading" data-menu-button-text><%= val[:name] %></span>
                <input class="js-column-purpose-value"
                  type="radio"
                  name="project_column[purpose]"
                  value="<%= key %>"
                  <% if key == project_column&.purpose %>checked<% end %>
                  data-preset-url="<%= project.automation_options_resource_path %>?<%= {id: project_column&.database_id, purpose: key}.to_param  %>"
                  required>
                <span class="description text-normal"><%= val[:description] %></span>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
    <div class="js-project-autmoation-loader">
      <button type="button" disabled class="btn mr-2">Loading&hellip;</button>
      <img src="<%= image_path "spinners/octocat-spinner-64.gif" %>" height="20" width="20" class="v-align-middle" alt="">
    </div>

    <div class="position-relative overflow-auto js-project-column-automation"
         data-src="<%= project.automation_options_resource_path %>?<%= {id: project_column&.database_id}.to_param %>">
      <include-fragment class="js-project-automation-options"></include-fragment>
    </div>
  </dd>
  <dd class="error">
    <%= errors && errors.messages.values.join(", ") %>
  </dd>
</dl>
