<% page_info \
  responsive: false,
  container_xl: true,
  title: "Secrets",
  selected_link: :repository_secrets %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::SubheadComponent.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.slot(:heading, tag: :h2) do %><a href="<%= repository_secrets_path %>">Secrets</a> / Update secret<% end %>
  <% end %>

  <code class="f3 text-green" <%= test_selector("secret-name") %>><%= secret.name %></code>
  <%= form_tag repository_update_secret_path(name: secret.name),
    class: "d-flex flex-column js-encrypt-submit",
    "data-public-key" => public_key[1],
    method: :put do %>
    <div class="form-group">
      <div class="form-group-header">
        <label for="secret_value">Value</label>
      </div>
      <div class="form-group-body">
        <textarea required type="text" name="secret_value" id="secret_value" class="form-control width-full"></textarea>
        <input type="hidden" name="encrypted_value">
        <input type="hidden" name="key_id" value="<%=public_key[0]%>">
      </div>
    </div>
    <div class="form-group">
      <button data-disable-with="Updating…" data-disable-invalid type="submit" class="btn btn-primary">Update secret</button>
    </div>
  <% end %>
<% end %>
