<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment PullRequestReview on PullRequestReview {
    id
    databaseId
    bodyHTML
    state
    spammy
    resourcePath
    diffResourcePath
    authorCanPushToRepository
    submittedAt
    updatedWebsocket: websocket(channel: UPDATED)

    onBehalfOf(first: 5) {
      totalCount
      nodes {
        ...Views::Issues::Events::TeamLink::Team
      }
    }

    author {
      ...Views::Comments::Actor::Actor
    }

    pullRequest {
      number
    }

    repository {
      name
      owner {
        login
      }
    }

    ...Views::Comments::Comment::Comment
    ...Views::Comments::TimelineAvatar::Comment
    ...Views::PullRequests::ReviewsSubmitDiscussion::PullRequestReview
    ...CommentsHelper::CommentFragment
  }
%>

<%
  pull_request_review = Views::PullRequestReviews::Body::PullRequestReview.new(pull_request_review)
  dom_id ||= graphql_comment_dom_id(pull_request_review)
  permalink_id = "#{dom_id}-permalink"
  badge_color = ""
  if pull_request_review.state.approved?
    badge_color = "bg-green text-white"
  elsif pull_request_review.state.changes_requested?
    badge_color = "bg-red text-white"
  end
%>
<div
  id="<%= pull_request_review.resource_path.fragment %>"
  class="js-comment js-updatable-content js-socket-channel js-targetable-element"
  data-gid="<%= pull_request_review.id %>"
  data-channel="<%= live_update_view_channel(pull_request_review.updated_websocket) %>"
  data-url="<%= show_node_partial_path(path: "pull_request_reviews/body", id: pull_request_review.id) %>">

  <div class="TimelineItem">
    <%= render "comments/timeline_avatar", comment: pull_request_review %>

    <div
      class="TimelineItem-badge <% if pull_request_review.author_can_push_to_repository? %><%= badge_color %><% else %>tooltipped tooltipped-ne<% end %>"
      <% unless pull_request_review.author_can_push_to_repository? %>aria-label="Only reviews by reviewers with write access count toward mergeability"<% end %>>

      <% if pull_request_review.state.approved? %>
        <%= octicon("check") %>
      <% elsif pull_request_review.state.changes_requested? && pull_request_review.author_can_push_to_repository? %>
        <%= review_state_icon("changes_requested") %>
      <% else %>
        <%= octicon("eye") %>
      <% end %>
    </div>


    <div class="TimelineItem-body d-flex">
      <div class="flex-auto flex-self-center">
        <strong>
          <%= render "comments/actor", actor: pull_request_review.author %>
        </strong>

        <% if pull_request_review.state.approved? %>
          approved these changes
        <% elsif pull_request_review.state.changes_requested? && pull_request_review.author_can_push_to_repository? %>
          requested changes
        <% elsif pull_request_review.state.changes_requested? %>
          suggested changes
        <% elsif pull_request_review.state.pending? %>
          started a review
        <% else %>
          reviewed
        <% end %>

        <% if pull_request_review.on_behalf_of.total_count > 0 %>
          on behalf of
          <%-
            team_links = pull_request_review.on_behalf_of.nodes.map do |team|
              render "issues/events/team_link", team: team
            end
            if pull_request_review.on_behalf_of.total_count > 5
              other_count = pull_request_review.on_behalf_of.total_count - 5
              team_links << pluralize(other_count, "other team")
            end
          -%>
          <%= html_safe_to_sentence(team_links) %>
        <% end %>

        <span class="text-gray">
          <% if pull_request_review.submitted_at %>
            <a href="#<%= pull_request_review.resource_path.fragment %>" class="js-timestamp link-gray" id="<%= permalink_id %>">
              <%= time_ago_in_words_js pull_request_review.submitted_at %>
            </a>
          <% end %>
        </span>
      </div>

      <div class="ml-2">
        <% if pull_request_review.spammy? %>
          <span class="timeline-comment-label timeline-comment-label-spammy tooltipped tooltipped-multiline tooltipped-s mt-0 ml-0 float-none"
                aria-label="This user is marked as spammy. Their comments will only show in staff mode.">
            Spammy
          </span>
        <% end %>

        <% if pull_request_review.state.pending? %>
          <span class="timeline-comment-label Label--outline is-pending mt-0 float-none">Pending</span>
        <% end %>

        <a class="btn btn-sm btn-outline" href="<%= pull_request_review.diff_resource_path %>">
          View changes
        </a>
      </div>
    </div>

  <% if pull_request_review.state.pending? %>
    </div>
    <div class="TimelineItem pt-0">
      <%= render "pull_requests/reviews_submit_discussion", review: pull_request_review %>
  <% end %>

  <% if pull_request_review.body_html.present? %>
    </div>
    <div class="TimelineItem pt-0">
      <%= render partial: "comments/comment", locals: {
          comment: pull_request_review,
          form_path: pull_request_review_update_path(pull_request_review.repository.owner.login, pull_request_review.repository.name, pull_request_review.pull_request.number, pull_request_review.database_id),
          delete_enabled: false,
          dom_id: dom_id + "-body-html",
          action_text: "left a comment",
          show_datestamp: false,
          caret_location: "nw"
        } %>
  <% end %>
  </div>
</div>
