<%graphql

fragment PullRequestReview on PullRequestReview {
  state

  authorCanPushToRepository

  ...Views::PullRequestReviews::Body::PullRequestReview
}

%>

<%- review = Views::PullRequestReviews::Show::PullRequestReview.new(review) -%>

<div class="<% if review.state.approved? %>is-approved<% end %>
            <% if review.state.changes_requested? %>is-rejected<% end %>
            <% if review.state.pending? %>is-pending<% end %>
            <% if review.author_can_push_to_repository? %>is-writer<% end %>">
  <%= render "pull_request_reviews/body", { pull_request_review: review } %>
  <%= yield %>
</div>
