<%graphql

fragment PullRequestReview on PullRequestReview {
  id

  threadsAndReplies(first: 5) {
    totalCount
    pageCount
    pageInfo { endCursor }

    nodes {
      ... on PullRequestReviewThread {
        ...Views::PullRequestReviewThreads::DiscussionShow::PullRequestReviewThread
      }

      ... on PullRequestReviewComment {
        ...Views::PullRequestReviewComments::DiscussionReply::PullRequestReviewComment
      }
    }
  }

  focusedThread: threadsAndReplies(first: 1, focus: $focusedReviewThread) @include(if: $hasFocusedReviewThread) {
    beforeFocusCount
    afterFocusCount

    pageInfo {
      startCursor
      endCursor
    }

    nodes {
      ... on PullRequestReviewThread {
        ...Views::PullRequestReviewThreads::DiscussionShow::PullRequestReviewThread
      }
    }
  }

  lastThreadsAndReplies: threadsAndReplies(skip: 5, last: 5) {
    pageCount
    pageInfo { startCursor }

    nodes {
      ... on PullRequestReviewThread {
        ...Views::PullRequestReviewThreads::DiscussionShow::PullRequestReviewThread
      }

      ... on PullRequestReviewComment {
        ...Views::PullRequestReviewComments::DiscussionReply::PullRequestReviewComment
      }
    }
  }
}

%>
<%-
  review = Views::PullRequestReviews::Threads::PullRequestReview.new(review)

  focused_thread = review.focused_thread&.nodes&.first
  render_focused_thread = focused_thread &&
    review.focused_thread.before_focus_count >= review.threads_and_replies.page_count &&
    review.focused_thread.after_focus_count >= review.last_threads_and_replies.page_count
-%>

<%- if review.threads_and_replies.total_count > 0 -%>
<div class="TimelineItem py-0 pl-4">
  <div class="TimelineItem-body my-0">
    <% review.threads_and_replies.nodes.each do |thread_or_reply| %>
      <% if thread_or_reply.is_a?(PlatformTypes::PullRequestReviewThread) %>
        <%= render "pull_request_review_threads/discussion_show", thread: thread_or_reply %>
      <% else %>
        <%= render "pull_request_review_comments/discussion_reply", comment: thread_or_reply %>
      <% end %>
    <% end %>

    <% if focused_thread %>
      <% if review.focused_thread.before_focus_count > 5 %>
        <%= render "pull_request_reviews/threads_loader", {
              id: review.id,
              after: review.threads_and_replies.page_info.end_cursor,
              before: review.focused_thread.page_info.start_cursor,
              hidden_count: review.focused_thread.before_focus_count - review.threads_and_replies.page_count
        } %>
      <% end %>

      <% if render_focused_thread %>
        <%= render "pull_request_review_threads/discussion_show", thread: focused_thread %>
      <% end %>

      <% if review.focused_thread.after_focus_count > 5 %>
        <%= render "pull_request_reviews/threads_loader", {
              id: review.id,
              after: review.focused_thread.page_info.end_cursor,
              before: review.last_threads_and_replies.page_info.start_cursor,
              hidden_count: review.focused_thread.after_focus_count - review.last_threads_and_replies.page_count
        } %>
      <% end %>
    <% elsif review.threads_and_replies.total_count > 10 %>
      <%-
        rendered_count = review.threads_and_replies.page_count + review.last_threads_and_replies.page_count
        hidden_count = review.threads_and_replies.total_count - rendered_count
      -%>
      <%= render "pull_request_reviews/threads_loader", {
            id: review.id,
            after: review.threads_and_replies.page_info.end_cursor,
            before: review.last_threads_and_replies.page_info.start_cursor,
            hidden_count: hidden_count
      } %>
    <% end %>

    <% review.last_threads_and_replies.nodes.each do |thread_or_reply| %>
      <% if thread_or_reply.is_a?(PlatformTypes::PullRequestReviewThread) %>
        <%= render "pull_request_review_threads/discussion_show", thread: thread_or_reply %>
      <% else %>
        <%= render "pull_request_review_comments/discussion_reply", comment: thread_or_reply %>
      <% end %>
    <% end %>
  </div>
</div>
<%- end -%>
