<div class="boxed-group">
  <h3>Codespaces Billing</h3>
  <div class="boxed-group-inner">
    <p><b>Spending Limits</b></p>
    <div class="mt-2">
      <%= octicon("graph", class: "lfs-data-icon dark") %>
      <b>Price</b> –
      Using
      <%= number_to_currency(codespaces_permissions.total_usage / 100) %> of
      <% if codespaces_permissions.usage_limit.infinite? %>
        unlimited
      <% else %>
        <%= number_to_currency(codespaces_permissions.usage_limit / 100) %>
      <% end %>

      <div class="usage-bar">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% component.slot(:item, bg: "blue", percentage: (codespaces_permissions.total_usage / codespaces_permissions.usage_limit.to_f) * 100) %>
        <% end %>
      </div>
    </div>
    <hr class="bleed-flush">
    <p><b>Compute Usage</b></p>
    <div class="mt-2">
      <%= octicon("graph", class: "lfs-data-icon dark") %>
      <b>Minutes</b> –
      Using
      <%= number_with_delimiter(compute_usage.total_minutes_used.round(2)) %> of
      included <%= number_with_delimiter(compute_usage.included_minutes) %> minutes

      <div class="usage-bar">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% component.slot(:item, bg: "blue", percentage: (compute_usage.included_minutes_used / compute_usage.included_minutes.to_f) * 100) %>
        <% end %>
      </div>
    </div>
    <hr class="bleed-flush">
    <p><b>Storage Usage</b></p>
    <div class="mt-2">
      <div class="mt-2">
        <%= octicon("graph", :class => "lfs-data-icon dark") %>
        <b>Storage Usage</b> –
        Using
        <%= number_with_delimiter(storage_usage.gigabyte_hours_used.round(2)) %>GB of
        included <%= number_with_delimiter(storage_usage.plan_included_gigabytes) %>GB

        <div class="usage-bar">
          <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
            <% component.slot(:item, bg: "blue", percentage: (storage_usage.gigabyte_hours_used / storage_usage.plan_included_gigabytes.to_f).round(2) * 100) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
