<% page_info title: feature.public_name, selected_link: :toggleable_features %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_toggleable_features_path %>">Toggleable Features</a>
  / <strong><%= feature.public_name %></strong>
<% end %>

<div class="Box">
  <div class="Box-header text-right">
    <a href="<%= edit_devtools_toggleable_feature_path(feature.slug) %>" class="btn btn-primary">Edit</a>
  </div>
  <ul>
    <li class="Box-row">
      <strong>Public name:</strong> <%= feature.public_name %>
    </li>
    <li class="Box-row">
      <strong>Slug:</strong> <%= feature.slug %>
    </li>
    <li class="Box-row">
      <strong>Flipper feature:</strong>
      <% unless feature.flipper_feature.blank? %>
        <a href="<%= devtools_feature_flag_path(feature.flipper_feature.name) %>"><%= feature.flipper_feature.name %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong>Feedback category:</strong> <%= feature.feedback_category %>
      <p class="note">
        This will result in the following feedback link being used:
      </p>
      <p class="note">
        <a href="<%= feature.feedback_url %>" target="_blank" rel="noopener noreferrer">
          <%= feature.feedback_url %>
        </a>
      </p>
    </li>
    <li class="Box-row">
      <strong>Documentation link:</strong>
      <% unless feature.documentation_link.blank? %>
        <a href="<%= feature.documentation_link %>" target="_blank" rel="noopener noreferrer"><%= feature.documentation_link %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong>Image link:</strong>
      <% unless feature.image_link.blank? %>
        <a href="<%= feature.image_link %>" target="_blank" rel="noopener noreferrer"><%= feature.image_link %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong><%= feature.enrolled_by_default ? 'Enrolled by default': 'Not enrolled by default' %></strong>
    </li>
    <li class="Box-row">
      <strong>Description:</strong> <%= feature.description %>
    </li>
  </ul>
</div>

<div class="mt-5">
  <%= render Primer::SubheadComponent.new(hide_border: true) do |component| %>
    <% component.slot(:heading, tag: :h2, danger: true) do %>Danger zone<% end %>
  <% end %>

  <div class="Box Box--danger">
    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto">
        <strong>Delete toggleable feature</strong>
        <div class="text-small text-gray-light">
          Deleting the toggleable feature will delete all user enrollments
        </div>
      </div>
      <%= form_for(feature, url: devtools_toggleable_feature_path(feature.slug), method: "delete", html: { class: "inline-form", id: "delete_feature" }) do %>
        <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to delete <%= feature.public_name %>?">Delete</button>
      <% end %>
    </div>

    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto pr-2">
        <strong>Publish feature</strong>
        <div class="text-small text-gray-light">
          Marking this feature as published will cause the "new feature" indicator to appear for users who haven't seen it in the Feature Preview modal yet.
        </div>
      </div>

      <div class="text-right">
        <% if feature.published_at.nil? %>
          <%= form_for(feature, url: devtools_toggleable_feature_publish_path(feature.slug), method: "post", html: { class: "inline-form", id: "publish_feature" }) do %>
            <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to publish <%= feature.public_name %>?">Publish</button>
          <% end %>
        <% else %>
          <%= form_for(feature, url: devtools_toggleable_feature_unpublish_path(feature.slug), method: "post", html: { class: "inline-form", id: "publish_feature" }) do %>
            <button type="submit" class="btn btn-danger" data-confirm="Are you sure you want to unpublish <%= feature.public_name %>?">Unpublish</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
