<nav class="reponav js-repo-nav" aria-label="Gist tab">
  <%= selected_link_to discover_gists_path,
          :highlight => view.highlights_for_discover,
          :class => "reponav-item",
          :"aria-label" => "All gists" do %>
    <%= octicon("gist") %>
    All gists
  <% end %>

  <%= selected_link_to forked_gists_path,
          :highlight => view.highlights_for_forked,
          :class => "reponav-item",
          :"aria-label" => "Forked" do %>
    <%= octicon("git-branch") %>
    Forked
  <% end %>

  <%= selected_link_to starred_gists_path,
          :highlight => view.highlights_for_starred,
          :class => "reponav-item",
          :"aria-label" => "Starred" do %>
    <%= octicon("star") %>
    Starred
  <% end %>
</nav>
