<% page_info \
  title: view.page_title,
  description: h(view.page_meta_description),
  responsive: responsive_gists_enabled?,
  richweb: {
    title: view.page_title,
    description: h(view.page_meta_description),
    type: "website",
  }
%>

<% content_for :head do %>
  <%= discover_feed :atom, view.atom_feed_path %>
<% end %>

<%= render "gists/banner" %>

<%= render layout: "gists/page_head" do %>
  <div class="mb-3 d-flex">
    <h1 class="float-none flex-auto pl-0 width-fit">
      <%= octicon("gist", :height => 32, :class => "mt-0 position-static v-align-middle") %>
      <%= view.page_title %>
    </h1>
    <ul class="pagehead-actions float-none">
      <li><%= render "gists/gists/sort_options", view: view if view.sorting_enabled?  %></li>
    </ul>
  </div>

  <%= render_partial_view "gists/listings/navigation", view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <% if view.gists.any? %>
    <% view.gists.uniq.each do |gist| %>
      <%= render_partial_view "gists/gists/snippet", Gists::SnippetView, :gist => gist %>
    <% end %>

    <div class="paginate-container">
      <%= simple_paginate(view.gists, :next_label => view.next_label, :previous_label => view.previous_label)%>
    </div>
  <% else %>
    <div class="blankslate">
      <h3>
        <% if view.pagination_info.current_page > 1 %>
          It looks like we’ve ran out of gists! Wanna try <%= link_to "starting at page 1", url_for(:page => 1) %>?
        <% else %>
          Hmm, there don’t appear to be any <%= view.type %> gists yet.
        <% end %>
      </h3>
    </div>
  <% end %>
<% end %>
