<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<div class="gist-quicksearch-result-group">
  <h2 class="gist-quicksearch-result-header">
    Starred
  </h2>
  <div class="gist-quicksearch-hits">
    <% if @starred.any? %>
      <% @starred.each do |gist| %>
        <%= render "gists/searches/quick_hit", :gist => gist %>
      <% end %>
    <% else %>
      <span class="gist-quicksearch-no-results">No results.</span>
    <% end %>
  </div>
</div>

<div class="gist-quicksearch-result-group">
  <h2 class="gist-quicksearch-result-header">
    Yours
  </h2>
  <div class="gist-quicksearch-hits">
    <% if @owned.any? %>
      <% @owned.each do |gist| %>
        <%= render "gists/searches/quick_hit", :gist => gist %>
      <% end %>
    <% else %>
      <span class="gist-quicksearch-no-results">No results.</span>
    <% end %>
  </ul>
</div>
