<%
  page_info title: "Discussion Categories", container_xl: true, selected_link: :repo_discussions
%>

<%= render layout: "issues/issues" do %>
  <div class="ml-0 pl-0 pl-md-3">
    <div class="d-flex flex-justify-between mb-3">
      <h2 class="Subhead-heading">Categories</h2>
      <%= link_to "New Category", "#", class: "btn btn-primary" %>
    </div>

    <div class="Box">
      <% discussion_categories.each do |category| %>
        <div class="Box-row d-flex flex-items-center" <%= test_selector("category-#{category.id}") %>>
          <div class="flex-auto min-width-0 mr-3">
            <strong class="f4">
              <span class="mr-1"><%= discussion_category_emoji_tag(category) %></span>
              <%= category.name %>
            </strong>
            <div class="text-gray-light">
              <%= category.description %>
            </div>
          </div>
          <div class="BtnGroup mr-2">
            <%= link_to "Edit", "#", class: "btn BtnGroup-item btn-outline" %>
            <%= link_to "Delete", "#", class: "btn BtnGroup-item btn-outline" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
