
<div class="Box-row Box-row--hover-gray d-flex flex-items-center py-2 border-top border-gray-dark">
  <div class="flex-auto">
    <div style="margin-top: 1px;" class="d-flex flex-items-center">
      <%= link_to version.name, package_two_path(version: version.id), class: "h4 text-gray-dark mr-2" %>
      <% if version.id == package.latest_version.id %>
        <span class="Label Label--outline Label--outline-green">Latest version</span>
      <% end %>
    </div>
    <div style="margin-top: 6px;" class="mb-1 text-small text-gray d-flex flex-items-center">
      <span class="ml-n1">
        <%= octicon "calendar", height: 16 %>
        <%= time_ago_in_words_js version.updated_at %>
        <% if package.namespace.present? %>
          by <%= package.namespace %>
        <% end %>
        </span>
    </div>
  </div>
  <%# Delete button %>
  <% if viewer_is_admin %>
    <%= render layout: "shared/details_dialog", locals: {
        button_text: "Delete",
        title: "Are you absolutely sure?",
        button_class: "btn btn-sm btn-danger"
    } do %>
      <div class="Box-body overflow-auto">
        <p class="mb-3">
          This cannot be undone. This will permanently delete the version <strong><%= package.name %> <%= version.version %></strong> so users and processes won’t be able to download this version.
        </p>
        <p class="pt-1">Please type <strong><%= package.name %></strong> to confirm:</p>
        <%= form_tag delete_package_version_path(version: version.version), :method => :delete do %>
          <p>
            <input type="text" class="form-control input-block" autofocus required
                   autocomplete="off"
                   pattern="<%= case_insensitive_pattern package.name %>"
                   aria-label="Type in the name of the package to confirm that you want to delete this version."
                   name="verify">
          </p>
          <button type="submit" class="btn btn-block btn-danger" data-disable-invalid>I understand the consequences, delete this version</button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
