Hi <%= @billable_name %> owner,

You’ve exceeded 100% of your monthly spending limit. To purchase more or get additional information on your current data usage, please contact your Sales Representative.

Thank you,
GitHub
