<% topic = changeset.topic %>

<h4 class="f3-light mb-2">
  <input type="checkbox" class="js-import-explore-item-checkbox" id="topic_<%= topic.name %>" value="<%= topic.name %>" name="topics[]" aria-label="Import topic <%= topic.name %>">
  <label for="topic_<%= topic.name %>"><%= topic.name %></label>
  <a href="/topics/<%= topic.name %>" class="float-right text-small text-gray" target="_blank">
    View topic page
  </a>
</h4>
<table class="boxed-group-table">
  <tbody>
    <% changeset.each do |field, value| %>
      <tr>
        <th class="no-wrap"><%= field.humanize %></th>
        <td>
          <% if field == "aliases" %>
            <% if value["old"].present? %>
              <div class="blob-code-deletion p-2 rounded-1">
                <%= link_topic_names(value["old"], delimiter: Topic::ALIAS_DELIMITER) %>
              </div>
            <% end %>
            <% if value["new"].present? %>
              <div class="blob-code-addition p-2 rounded-1">
                <%= link_topic_names(value["new"], delimiter: Topic::ALIAS_DELIMITER) %>
              </div>
            <% end %>
          <% elsif field == "related" %>
            <% if value["old"].present? %>
              <div class="blob-code-deletion p-2 rounded-1">
                <%= link_topic_names(value["old"], delimiter: Topic::RELATED_DELIMITER) %>
              </div>
            <% end %>
            <% if value["new"].present? %>
              <div class="blob-code-addition p-2 rounded-1">
                <%= link_topic_names(value["new"], delimiter: Topic::RELATED_DELIMITER) %>
              </div>
            <% end %>
          <% else %>
            <% if value.present? %>
              <div class="blob-code-deletion p-2 rounded-1">
                <% if field.ends_with?("url") %><a href="<%= value %>" target="_blank" class="d-flex flex-items-center wb-break-all"><% end %>
                <% if field == "logo_url" %>
                  <img src="<%= value %>" width="36" height="36" class="border rounded-2 p-1 d-block mr-2 bg-white" alt="<%= topic.name %> old logo">
                <% end %>
                <%= value %>
                <% if field.ends_with?("url") %></a><% end %>
              </div>
            <% end %>
            <% if (new_value = topic.send(field)).present? %>
              <div class="blob-code-addition p-2 rounded-1">
                <% if field.ends_with?("url") %><a href="<%= new_value %>" target="_blank" class="d-flex flex-items-center wb-break-all"><% end %>
                <% if field == "logo_url" %>
                  <img src="<%= new_value %>" width="36" height="36" class="border rounded-2 p-1 d-block mr-2 bg-white" alt="<%= topic.name %> new logo">
                <% end %>
                <%= new_value %>
                <% if field.ends_with?("url") %></a><% end %>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
