<%graphql
  fragment Root on Query {
    curatedTopics: topics(curated: $curated, featured: $featured, first: $perPage, after: $after, orderBy: { field: UPDATED_AT, direction: DESC }, query: $query) {
      nodes {
        ...Views::Biztools::Topics::CuratedTopic::Topic
      }
      pageInfo {
        endCursor
        hasNextPage
        hasPreviousPage
      }
      totalCount
    }
  }
%>
<%
  data = Views::Biztools::Topics::CuratedTopics::Root.new(data)
  page_info = data.curated_topics.page_info
%>

<div class="my-3">
  <input autofocus type="search" value="<%= query %>" class="js-curated-explore-items-query form-control input-block mb-2 input-sm" aria-label="Search curated topics" placeholder="Search curated topics by name" data-url="<%= url_with(q: nil, after: nil) %>">
  <div class="text-small">
    <strong class="d-inline-block mr-3">Filter:</strong>
    <a class="d-inline-block mr-3 text-gray" data-pjax href="<%= biztools_topics_path %>">
      <%= octicon "check" if featured.nil? %>
      Featured and non-featured
    </a>
    <a class="d-inline-block mr-3 text-gray" data-pjax href="<%= biztools_topics_path(featured: 1) %>">
      <%= octicon "check" if featured %>
      Featured only
    </a>
    <a href="<%= biztools_topics_path(featured: 0) %>" class="text-gray" data-pjax>
      <%= octicon "check" if featured == false %>
      Non-featured only
    </a>
  </div>
</div>
<h4 class="mb-2 f5 clearfix">
  <% if query.present? || !featured.nil? %>
    <a href="<%= biztools_topics_path %>" data-pjax class="text-small text-normal text-gray float-right">
      Clear filters
    </a>
  <% end %>
  <%= pluralize(data.curated_topics.total_count, "matching topic") %>:
</h4>
<ul class="boxed-group-list standalone">
  <% if data.curated_topics.total_count < 1 && !page_info.has_previous_page? %>
    <li>No results</li>
  <% end %>
  <% data.curated_topics.nodes.each do |topic| %>
    <%= render partial: "biztools/topics/curated_topic", locals: { topic: topic } %>
  <% end %>
</ul>
<% if page_info.has_next_page? %>
  <div class="my-2">
    <a href="<%= url_with(after: page_info.end_cursor) %>" class="btn btn-outline border-gray-dark f6 mt-0 py-2" data-pjax>Next page</a>
  </div>
<% end %>
