<% topic = changeset.topic %>

<h4 class="f3-light mb-2">
  <input type="checkbox" class="js-import-explore-item-checkbox" id="topic_<%= topic.name %>" value="<%= topic.name %>" name="topics[]" aria-label="Import topic <%= topic.name %>">
  <label for="topic_<%= topic.name %>"><%= topic.name %></label>
  <a href="/topics/<%= topic.name %>" class="float-right text-small text-gray" target="_blank">
    View topic page
  </a>
</h4>
<table class="boxed-group-table">
  <tbody>
    <tr>
      <th>Aliases</th>
      <td>
        <% if changeset.new_aliases.any? %>
          <div class="blob-code-addition p-2 rounded-1">
            <%= link_topic_names(changeset.new_aliases) %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Created by</th>
      <td>
        <% if topic.created_by %>
          <div class="blob-code-addition p-2 rounded-1"><%= topic.created_by %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
        <% if topic.description %>
          <div class="blob-code-addition p-2 rounded-1"><%= topic.description %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Display name</th>
      <td>
        <% if topic.display_name %>
          <div class="blob-code-addition p-2 rounded-1"><%= topic.display_name %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">GitHub URL</th>
      <td>
        <% if topic.github_url %>
          <div class="blob-code-addition p-2 rounded-1">
            <% if topic.github_url_is_repository? %>
              <%= octicon(:repo) %>
            <% else %>
              <%= octicon(:organization) %>
            <% end %>
            <a href="<%= topic.github_url %>" class="wb-break-all"><%= topic.github_url %></a>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Logo URL</th>
      <td>
        <% if topic.logo_url %>
          <div class="blob-code-addition p-2 rounded-1">
            <a href="<%= topic.logo_url %>" class="d-flex flex-items-center wb-break-all">
              <img src="<%= topic.logo_url %>" width="36" height="36" alt="" class="border rounded-2 p-1 d-block mr-2 bg-white">
              <%= topic.logo_url %>
            </a>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Related topics</th>
      <td>
        <% if changeset.new_related.any? %>
          <div class="blob-code-addition p-2 rounded-1">
            <%= link_topic_names(changeset.new_related) %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Released</th>
      <td>
        <% if topic.released %>
          <div class="blob-code-addition p-2 rounded-1"><%= topic.released %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Short description</th>
      <td>
        <% if topic.short_description %>
          <div class="blob-code-addition p-2 rounded-1"><%= topic.short_description %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>URL</th>
      <td>
        <% if topic.url %>
          <div class="blob-code-addition p-2 rounded-1">
            <a href="<%= topic.url %>" class="wb-break-all"><%= topic.url %></a>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th class="no-wrap">Wikipedia URL</th>
      <td>
        <% if topic.wikipedia_url %>
          <div class="blob-code-addition p-2 rounded-1">
            <a href="<%= topic.wikipedia_url %>" class="wb-break-all"><%= topic.wikipedia_url %></a>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
