<%graphql
  fragment Root on Query {
    repository(owner: $owner, name: $name) {
      resourcePath
      nameWithOwner
      isPrivate
    }
    ...Views::Biztools::Topics::CuratedTopics::Root
  }
%>
<%
  data = Views::Biztools::Topics::Index::Root.new(data)
  topics_repository = data.repository
%>

<% page_info title: "Repository Topics · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <% if topics_repository && !topics_repository.is_private? %>
    <div class="boxed-group">
      <h3>Import from <%= topics_repository.name_with_owner %></h3>
      <%= form_tag import_biztools_topics_path, method: :post, class: "boxed-group-inner clearfix" do %>
        <button type="submit" class="btn boxed-action">
          Import Topics
        </button>
        Import the latest curated topics from the
        <a href="<%= topics_repository.resource_path %>"><%= topics_repository.name_with_owner %></a>
        repository. The community contributes descriptions, images, and relevant URLs for
        topics via <%= topics_repository.name_with_owner %>. Import their contributions so they
        appear on GitHub pages.
      <% end %>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3>Curated Topics</h3>
    <div class="boxed-group-inner py-0">
      <div class="my-2">
        Curated topics are topics that have additional information, such as a description or logo.
        Featured topics are just curated topics that also get search callouts and appear on
        <a href="<%= topics_path %>"><%= topics_path %></a>.
      </div>
      <div id="curated-topics" class="js-curated-explore-items-container" data-pjax-container>
        <%= render partial: "biztools/topics/curated_topics",
                   locals: { data: data, featured: featured, query: query } %>
      </div>
    </div>
  </div>
<% end %>
