<% page_info class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">
      <p>
        <strong>Confirm abort</strong>
      </p>

      <p>Are you sure you want to abort the recovery review for your account?</p>

      <div>
        <%= form_tag two_factor_recovery_confirm_abort_request_path do %>
          <button class="btn btn-block btn-primary" type="submit">Abort account recovery</button>
        <% end %>
      </div>

    </div>
  </div>
</div>
