<% page_info class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "check", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "key", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-gray border border-gray-dark" style="width:28px; height: 28px;"><%= octicon "clock", class: "text-gray-light" %></span>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">

      <div>
        <p>
            <strong>Verify a personal access token</strong> you've used in the past to verify your account.
            The token must have <code>repo</code> scope.
        </p>

        <label for="token" class="mt-3">
          Personal access token
        </label>
        <%= form_tag two_factor_recovery_request_verify_token_path do %>
            <%= text_field_tag :token, '',
                    :autocomplete => :off,
                    :autofocus => "autofocus",
                    :class => "input-block",
                    "aria-label" => 'Personal access token' %>
            <button class="btn btn-primary btn-block" data-disable-with="Verifying…" type="submit">Verify and submit for review</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
