<% page_info class: "page-two-factor-auth session-authentication" %>

<% otp = Rails.env.development? ? session[:one_time_password] : "" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "mail", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-gray border border-gray-dark" style="width:28px; height: 28px;"><%= octicon "key", class: "text-gray-light" %></span>
      <hr class="flex-auto border-gray-dark">
      <span class="d-flex flex-items-center flex-justify-center circle bg-gray border border-gray-dark" style="width:28px; height: 28px;"><%= octicon "clock", class: "text-gray-light" %></span>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">

      <div>
        <%= form_tag two_factor_recovery_request_verify_otp_path do %>
          <label for="otp" class="clearfix">
            One-time password
          </label>

          <%= telephone_field_tag :otp, otp, :required => true, :autocomplete => :off, :autofocus => "autofocus", :class => "input-block" %>

          <button class="btn btn-primary btn-block" data-disable-with="Verifying…" type="submit">Verify email address</button>
        <% end %>
      </div>
    </div>

    <div class="d-flex mt-3">
      <%= octicon "mail", class: "flex-shrink-0 mr-3" %>
      <div>
        <p>
          We sent an email to all addresses associated with this account containing a one-time password.
        </p>
        <%= form_tag two_factor_recovery_request_send_otp_path do %>
          <button type="submit" class="btn-link d-inline">Resend email</button>
          <% end %>
      </div>
    </div>

    <%= render "sessions/recovery/recovery_codes_hint" %>

  </div>
</div>
