<% page_info class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "check", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "key", class: "text-white" %></span>
      <hr class="flex-auto border-gray-dark">
      <span class="d-flex flex-items-center flex-justify-center circle bg-gray border border-gray-dark" style="width:28px; height: 28px;"><%= octicon "clock", class: "text-gray-light" %></span>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">
      <p>
        <strong>Next we need to verify an alternative factor.</strong> This can
        be a trusted device, an SSH key or a personal access token associated
        with this account.
      </p>

      <% if verified_device %>
        <%= form_tag two_factor_recovery_request_verify_device_path do %>
          <button type="submit" class="btn btn-primary btn-block">Verify with this device</button>
        <% end %>
      <% else %>
        <button type="button" disabled class="btn btn-block">Cannot verify this device</button>
      <% end %>

      <div class="my-2 d-flex flex-row flex-items-center">
        <hr class="flex-auto">
        <span class="my-2 mx-3 text-gray">or verify a</span>
        <hr class="flex-auto">
      </div>

      <% if ssh_keys_available %>
        <%= form_tag two_factor_recovery_request_enter_ssh_key_path, method: "get" do %>
          <button type="submit" class="btn btn-block mt-0">SSH key</button>
        <% end %>
      <% else %>
        <button type="button" class="btn btn-block mt-0" disabled title="No valid SSH keys associated with account">SSH key</button>
      <% end %>

      <% if tokens_available %>
        <%= form_tag two_factor_recovery_request_enter_token_path, method: "get" do %>
          <button type="submit" class="btn btn-block mt-3">Personal access token</button>
        <% end %>
      <% else %>
          <button type="button" class="btn btn-block mt-3" disabled title="No valid personal access tokens available">Personal access token</button>
      <% end %>
  </div>

  <div class="border p-3 mt-4 rounded-1 text-center">
    <p>Unable to verify an alternative factor?</p>
    <%= link_to "Contact support", contact_path %>
  </div>
</div>


