<% page_info class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "check", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "check", class: "text-white" %></span>
      <hr class="flex-auto border-blue">
      <span class="d-flex flex-items-center flex-justify-center circle bg-blue" style="width:28px; height: 28px;"><%= octicon "clock", class: "text-white" %></span>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">
      <p>
        <strong>What's next?</strong> A member of GitHub Support will review your account recovery
        request and follow up <strong>within 3-5 business days</strong>.
      </p>
      <br>
      <p>
        Additional requests submitted during this time <strong>will not be reviewed</strong> by GitHub Support.
      </p>
      <a class="btn btn-block" href="<%= GitHub.url %>" role="button">Return to GitHub</a>
    </div>
  </div>
</div>
