<%= view.form.fields_for :billing_address do |ba_form| %>
  <div class="clearfix">
    <dl class="form-group country-form">
      <dt class="input-label">
        <label for="<%= prefix %>_billing_country">Country</label>
      </dt>
      <dd>
        <select id="<%= prefix %>_billing_country" class="form-select select-country js-select-country" name="billing[billing_address][country_code_alpha3]" required>
          <option value disabled selected>Choose your country</option>
          <% view.priority_countries.each do |(country_name, country_alpha2, country_alpha3)| %>
            <option value="<%= country_alpha3 %>" <%= view.selected_country(country_alpha3) %>><%= country_name %></option>
          <% end %>
          <option disabled></option>
          <% view.countries.each do |(country_name, country_alpha2, country_alpha3)| %>
            <option value="<%= country_alpha3 %>" <%= view.selected_country(country_alpha3) %>><%= country_name %></option>
          <% end %>
        </select>
      </dd>
    </dl>
    <dl class="form-group state-form">
      <dt class="input-label">
        <label for="<%= prefix %>_billing_region" class="js-region-label">State</label>
      </dt>
      <dd>
        <select class="form-select select-state js-select-state" name="billing[billing_address][region]" id="<%= prefix %>_billing_region">
          <option></option>
          <% view.us_states.each do |state| %>
            <option <%= view.selected_state(state[0]) %>><%= state[0] %></option>
          <% end %>
        </select>
        <select disabled class="form-select js-select-province d-none" name="billing[billing_address][region]">
          <option></option>
          <%= options_for_select(view.canada_provinces, view.region) %>
        </select>
      </dd>
    </dl>
  </div>

  <dl class="form-group postal-code-form">
    <dt class="input-label">
      <label for="<%= prefix %>_billing_billing_address_postal_code">Postal Code</label>
    </dt>
    <dd>
      <input autocomplete="off" class="form-control input-postal-code js-postal-code-field" id="<%= prefix %>_billing_billing_address_postal_code"
        name="billing[billing_address][postal_code]"
        value="<%= view.postal_code %>"
        required
        size="30"
        type="text">
    </dd>
  </dl>
<% end %>

<dl class="form-group vat-field<%= " prefilled" if view.owner.vat_code.present? %>">
  <dt class="input-label">
    <label for="<%= prefix %>_billing_vat_code">VAT/GST ID <small class="help-text js-vat-help-text"></small></label>
  </dt>
  <dd>
    <input id="<%= prefix %>_billing_vat_code" class="form-control short input-vat" type="text" autocomplete="off" name="billing[vat_code]" value="<%= view.owner.vat_code %>">
  </dd>
</dl>

<p class="vat-field"><strong>Note:</strong> Please provide your VAT/GST number if you are purchasing GitHub for a business purpose.</p>
