<% if show_name_address_form %>
  <%= form_with model: target.user_personal_profile, url: user_profile_update_path, method: :post do |_| %>
    <%= render partial: "billing_settings/name_address_form", locals: { target: target, submit_btn_label: "Save" } %>
  <% end %>
<% end %>
<% if show_payment_form %>
  <div class="payment-methods js-payment-methods <%= "has-paypal-account" if target.has_paypal_account? %>">
    <div class="javascript-disabled-overlay"></div>

    <span class="strong-label pay-with-header">Pay with</span>
    <div class="radio-group clearfix">
      <input name="payment_method" type="radio" value="credit_card" <%= "checked" unless target.has_paypal_account? %>
        class="js-payment-method radio-input"
        data-selected-tab="pay-by-credit-card"
        id="pay-by-credit-card">
      <label for="pay-by-credit-card" class="radio-label">
        Credit card
      </label>
      <input name="payment_method" type="radio" value="paypal" <%= "checked" if target.has_paypal_account? %>
        class="js-payment-method radio-input"
        data-selected-tab="pay-with-paypal"
        id="pay-with-paypal">
      <label for="pay-with-paypal" class="radio-label">
        PayPal account
      </label>
    </div>

    <div class="js-selected-payment-method selected-payment-method pay-by-credit-card <%= "active" unless target.has_paypal_account? %>">
      <%= render :partial => "payment_method/credit_card_form", :locals => { :target => target } %>
    </div>

    <div class="js-selected-payment-method selected-payment-method pay-with-paypal <%= "active" if target.has_paypal_account? %>">
      <%= render :partial => "payment_method/paypal_form", :locals => { :target => target } %>
    </div>
  </div>
<% end %>

<%= render :partial => "billing_settings/next_payment", :locals => { :target => target } %>
