<p class="terms">
  Please review the <a href="/site/terms" tabindex="-1" target="_blank">terms of service</a>,
  and <a href="/site/privacy" target="_blank" tabindex="-1">privacy policy</a>. <strong>All sales are final</strong>.
</p>
