<%# rubocop:disable Lint/InstanceVariable %>
<%#
  This partial renders the fields for PayPal

  target       - The User/Organization that owns the payment method
%>

<%= form_for :billing, url: target_update_credit_card_path(target), html: { autocomplete: "off" } do |f| %>

  <% if @plan.present? %>
    <%= hidden_field_tag "plan", @plan, :id => "paypal_plan" %>
  <% end %>

  <% if params[:return_to].present? %>
    <%= hidden_field_tag "return_to", params[:return_to] %>
  <% end %>

  <%=
    render :partial => "payment_method/paypal_fields", :locals => {
      :view         => BillingSettings::PaymentMethodFieldsView.new(target, f) }
  %>

  <% if @plan.present? %>
    <%= render :partial => "payment_method/legal" %>
  <% end %>

  <% if target.has_credit_card? %>
    <p>
      You are currently paying with a credit card, but you can switch to using PayPal at any time.
    </p>
  <% end %>

  <p class="paypal-form-actions">
    <button type="submit" id="paypal-submit" class="btn btn-primary"
      data-disable-with="<%= @plan.present? ? 'Processing…' : 'Updating…' %>">
      <% if target.has_paypal_account? %>
        Update PayPal account
      <% else %>
        Save PayPal account
      <% end %>
    </button>
    <a href="<%= target_billing_path(target) %>" class="btn" data-pjax>Cancel</a>
  </p>
<% end %>
