<%# rubocop:disable Lint/InstanceVariable %>
<% if @target.has_any_trade_restrictions? %>
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Payment details unavailable</h3>
  </div>
  <div class="Box-body">
    <p class="mb-0">
      <%= @target.organization? ?
        trade_controls_organization_billing_account_restricted :
        trade_controls_user_account_restricted_notice %>
    </p>
  </div>
<% elsif current_user.no_verified_emails? || current_user.spammy? %>
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Payment details unavailable</h3>
  </div>
  <div class="Box-body" <%= test_selector("no-verified-emails") %>>
    <p class="mb-0">
      <% if current_user.no_verified_emails? %>
        Please <%= link_to "verify", settings_user_emails_path %> at least one email to add or update your payment method.
      <% else %>
        You cannot add or update a payment method because your account has been flagged. If you believe this is a mistake, please contact support.
      <% end %>
    </p>
  </div>
<% else %>
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Payment details</h3>
  </div>

  <div class="Box-body overflow-scroll pb-3">
    <div class="billing-credit-card js-billing-payment-methods disabled">
      <%= render partial: "payment_method/form", locals: {
        target: @target,
        show_name_address_form: @show_name_address_form,
        show_payment_form: @show_payment_form
      } %>
    </div>
  </div>
<% end %>
