<% locals = ensure_local_vars(local_assigns, {
  required: [],
  optional: [:send_ga_event, :ga_category, :ga_action, :ga_label, :container_class],
  defaults: {}
}) %>

<%
  div_class = "js-zuora-billing-info"
  div_class += " #{container_class}" if locals[:container_class]
%>
<div
  class="<%= div_class %>"
  <% if locals[:send_ga_event] %>
    data-ga-event
    data-ga-event-category="<%= locals[:ga_category] %>"
    data-ga-event-action="<%= locals[:ga_action] %>"
    data-ga-event-label="<%= locals[:ga_label] %>"
  <% end %>
>
  <%= yield if block_given? %>
  <input type="hidden" name="billing[zuora_payment_method_id]" class="js-zuora-payment-method-id">
  <input type="hidden" name="billing[billing_address][country_code_alpha3]" class="js-zuora-select-country" value="<%=current_user.user_personal_profile&.country&.alpha3 if GitHub.flipper[:name_address_collection].enabled?(current_user)%>">
  <input type="hidden" name="billing[billing_address][region]" class="js-zuora-select-region" value="<%=current_user.user_personal_profile&.region if GitHub.flipper[:name_address_collection].enabled?(current_user)%>">
  <input type="hidden" name="billing[billing_address][postal_code]" class="js-zuora-select-postal-code" value="<%=current_user.user_personal_profile&.postal_code if GitHub.flipper[:name_address_collection].enabled?(current_user) %>">
</div>
