<%graphql
  fragment Issue on Issue {
    id
    repository {
      name
      owner {
        login
      }
      resourcePath
    }
    resourcePath
    safeUser {
      databaseId
      login
    }
    title
    totalCommentsCount
    ...NotificationsHelper::OcticonFragment::Subject
  }
%>
<% issue = Views::Dashboard::UserPins::Issue::Issue.new(issue) %>

<li class="bg-white d-flex flex-row flex-items-start width-full p-3 mb-2 border border-gray-dark rounded-1 js-pinned-item-list-item sortable-button-item <%= "reorderable" if allow_reordering_pins %>" <%= test_selector("user-dashboard-pins-issue") %>>
  <%= graphql_notification_octicon_for(issue, classes: "mr-2 mt-1 flex-shrink-0") %>
  <div class="pinned-item-list-item-content">
    <div class="d-flex width-full flex-items-start position-relative lh-condensed">
      <a href="<%= issue.resource_path %>" class="text-bold flex-auto">
        <% unless owned_by_user?(owner_id: issue.safe_user.database_id, user_id: current_user.id) %><span class="owner text-normal css-truncate css-truncate-target" title="<%= issue.safe_user.login %>"><%= issue.safe_user.login %></span>/<%- end -%><span class="repo css-truncate css-truncate-target" title="<%= issue.title %>"><%= issue.title %></span>
      </a>
      <% if allow_reordering_pins %>
        <%= hidden_field_tag "pinned_item_ids[]", issue.id, id: "pinned-item-reorder-#{issue.id}" %>
        <span class="pinned-item-handle js-pinned-item-reorder pl-2" title="Drag to reorder">
          <%= octicon(:grabber) %>
        </span>
        <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="up"><%= octicon "chevron-up", aria: { label: "Move #{issue.title} up" } %></button>
        <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="down"><%= octicon "chevron-down", aria: { label: "Move #{issue.title} down" } %></button>
      <% end %>
    </div>

    <div class="d-flex flex-justify-between mt-2">
      <div class="f6 text-gray">
        <a href="<%= issue.repository.resource_path %>" class="text-bold pinned-item-meta muted-link">
          <%= octicon(:repo, height: 14, class: "text-gray mr-1") %>
          <% if !owned_by_user?(owner_id: issue.safe_user.database_id, user_id: current_user.id) %><span class="owner text-normal" title="<%= issue.repository.owner.login %>"><%= issue.repository.owner.login %></span>/<%- end -%><span class="repo" title="<%= issue.repository.name %>"><%= issue.repository.name %></span>
        </a>

        <% if issue.total_comments_count > 0 %>
          <a href="<%= issue.resource_path %>" class="muted-link pinned-item-meta" aria-label="<%= pluralize issue.total_comments_count, "comment" %>">
            <%= octicon(:comment, height: 13) %>
            <%= social_count issue.total_comments_count %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</li>
