<%graphql
  fragment Team on Team {
    id
    name
    resourcePath
    discussionsResourcePath
    discussions {
      totalCount
    }
    membersUrl
    members {
      totalCount
    }
  }
%>
<% team = Views::Dashboard::UserPins::Team::Team.new(team) %>

<li class="bg-white d-flex flex-row flex-items-start width-full p-3 mb-2 border border-gray-dark rounded-1 js-pinned-item-list-item sortable-button-item <%= "reorderable" if allow_reordering_pins %>">
  <%= octicon "jersey", class: "mr-2 mt-1 text-gray flex-shrink-0" %>
  <div class="pinned-item-list-item-content">
    <div class="d-flex width-full flex-items-start position-relative lh-condensed">
      <a href="<%= team.resource_path %>" class="text-bold flex-auto">
        <span class="repo" title="<%= team.name %>"><%= truncate(team.name, length: 30) %></span>
      </a>

      <% if allow_reordering_pins %>
        <%= hidden_field_tag "pinned_item_ids[]", team.id, id: "pinned-item-reorder-#{team.id}" %>
        <span class="pinned-item-handle js-pinned-item-reorder pl-2" title="Drag to reorder">
          <%= octicon(:grabber) %>
        </span>
        <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="up"><%= octicon "chevron-up", "aria-label": "Move #{team.name} up" %></button>
        <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="down"><%= octicon "chevron-down", "aria-label": "Move #{team.name} down" %></button>
      <% end %>
    </div>

    <div class="mt-2 d-flex flex-justify-between">
      <div class="f6 text-gray">
        <% if team.members.total_count > 0 %>
          <a href="<%= team.members_url %>" class="pinned-item-meta muted-link" aria-label="<%= pluralize team.members.total_count, "member" %>">
            <%= octicon(:person, height: 13) %>
            <%= social_count team.members.total_count %>
          </a>
        <% end %>

        <% if team.discussions.total_count > 0 %>
          <a href="<%= team.discussions_resource_path %>" class="pinned-item-meta muted-link" aria-label="<%= pluralize team.discussions.total_count, "comment" %>">
            <%= octicon(:comment, height: 13) %>
            <%= social_count team.discussions.total_count %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</li>
