<div class="SelectMenu-list" data-filterable-for="event-filter" data-filterable-type="fuzzy">
  <% events.each do |event| %>
    <% selected = workflow_run_filters[:event] == event %>
    <a
      href="<%= actions_filtered_path(filters: workflow_run_filters, replace: { event: !selected ? event : nil }) %>"
      class="SelectMenu-item"
      aria-checked="<%= selected %>"
      role="menuitemradio">
      <%= octicon("check", class: "SelectMenu-icon SelectMenu-icon--check") %>
      <%= event %>
    </a>
  <% end %>
</div>
