<%graphql
fragment on AutomaticBaseChangeSucceededEvent {
  databaseId
  createdAt
  resourcePath
  oldBase
  newBase
}
%>
<%
  event = Views::PullRequests::Events::AutomaticBaseChangeSucceeded.new(event)
%>
<div class="TimelineItem" id="event-<%= event.database_id %>">
  <div class="TimelineItem-badge bg-green text-white">
    <%= octicon("git-branch") %>
  </div>
  <div class="TimelineItem-body">
    Base automatically changed from <span class="commit-ref user-select-contain">
      <span class="css-truncate-target"><%= event.old_base %></span>
    </span>
    to <span class="commit-ref user-select-contain">
      <span class="css-truncate-target"><%= event.new_base %></span>
    </span>
    <a href="<%= event.resource_path %>" class="link-gray"><%= time_ago_in_words_js(event.created_at) %></a>
  </div>
</div>
