<%graphql
  fragment on BaseRefChangedEvent {
    previousRefName
    currentRefName
    pullRequest {
      repository {
        nameWithOwner
      }
    }
  }
%>

<%
  event = Views::PullRequests::Events::BaseRefChanged.new(event)
  repo = event.pull_request.repository
%>
changed the base branch from
<span class="commit-ref user-select-contain" title="<%= "#{repo.name_with_owner}:#{event.previous_ref_name}" %>">
  <span class="css-truncate-target"><%= event.previous_ref_name %></span>
</span>
to
<span class="commit-ref user-select-contain" title="<%= "#{repo.name_with_owner}:#{event.current_ref_name}" %>">
  <span class="css-truncate-target"><%= event.current_ref_name %></span>
</span>
