<%graphql
fragment on DeployedEvent {
  id
  resourcePath
  createdAt
  actor {
    ...Views::Issues::Events::Actor
  }
  deployment {
    latestStatus {
      logUrl
      description
      environmentUrl
    }
    state
    latestEnvironment
  }
  viaApp {
    ...Views::Issues::Events::ViaApp::App
  }
  pullRequest {
    id
    websocket(channel: UPDATED)
  }
}
%>
<%
  event        = Views::PullRequests::Events::Deployed.new(event)
  deployment   = event.deployment
  status       = deployment.latest_status
  show_env_url = status && !["inactive", "destroyed"].include?(deployment.state) &&
                   status.environment_url.present?
  description  = deployment_description_text(deployment.state)

  if event.pull_request?
%>
<div
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(event.pull_request.websocket) %>"
  data-url="<%= show_node_partial_path(id: event.id, path: "pull_requests/events/deployed") %>"
  data-gid="<%= event.pull_request.id %>">

  <div class="TimelineItem" id="<%= event.resource_path.fragment %>">
    <div class="TimelineItem-badge">
      <%= octicon("rocket") %>
    </div>
    <div class="TimelineItem-body">
      <%= render "issues/events/actor", actor: event.actor %>

      <% if status&.log_url %>
        <%= safe_link_to description, status.log_url, title: status.description, target: "_blank", class: "link-gray" %>
      <% else %>
        <%= description %>
      <% end %>

      to

      <% if show_env_url %>
        <a href="<%= status.environment_url %>" class="link-gray-dark text-bold"><%= deployment.latest_environment %></a>
      <% else %>
        <%= deployment.latest_environment %>
      <% end %>

      <a href="<%= event.resource_path %>" class="link-gray"><%= time_ago_in_words_js(event.created_at) %></a>

      <% if event.via_app.present? %>
        <%= render "issues/events/via_app", app: event.via_app %>
      <% end %>

      <% if deployment.state == "ACTIVE" && show_env_url %>
        <%= safe_link_to "View deployment", status.environment_url, class: "btn btn-sm btn-outline float-right", target: "_blank" %>
      <% else %>
        <%= render Repositories::DeploymentStatusComponent.new(state: deployment.state) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
