<%graphql
  fragment on TimelineEvent {
    ... on HeadRefDeletedEvent {
      pullRequest {
        ...Views::PullRequests::HeadLabel::PullRequest
      }
    }

    ... on HeadRefRestoredEvent {
      pullRequest {
        ...Views::PullRequests::HeadLabel::PullRequest
      }
    }
  }
%>
<%- event = Views::PullRequests::Events::HeadRefs.new(event) -%>
<% if event.is_a?(PlatformTypes::HeadRefDeletedEvent) %>deleted<% else %>restored<% end %> the
<span class="commit-ref user-select-contain width-fit">
  <span class="css-truncate css-truncate-target width-fit">
    <%= render "pull_requests/head_label", pull: event.pull_request %>
  </span>
</span>
branch
