<%# erblint:counter TooltipCounter 2 %>
<%graphql
  fragment on MergedEvent {
    showMergeTip
    createdAt
    resourcePath
    viewerCanRevert
    actor {
      ...Views::Issues::Events::Actor
    }
    commit {
      abbreviatedOid
      resourcePath
    }
    pullRequest {
      baseRefName
      revertResourcePath
      dismissMergeTipResourcePath
      isCrossRepository
      repository {
        nameWithOwner
        owner {
          login
        }
      }
      statusAtMerge {
        combinedContexts(first: 100) {
          nodes {
            ... on StatusContext {
              context
              state
              description
              targetUrl
            }
            ... on CheckRun {
              context: name
              state: conclusion
              status
              description: title
              targetUrl: permalink
            }
          }
        }
      }
    }
  }
%>
<%-
  event = Views::PullRequests::Events::Merge.new(event)
  status_at_merge = event.pull_request.status_at_merge
  context_states = if status_at_merge
                     status_at_merge.combined_contexts.nodes.map { |ctx| ctx.state }
                   else
                     []
                   end
  repo = event.pull_request.repository
-%>
<div class="TimelineItem js-details-container Details" id="<%= event.resource_path.fragment %>" <%= test_selector('merged-timline-event') %>>
  <div class="TimelineItem-badge bg-purple text-white">
    <%= octicon("git-merge") %>
  </div>
  <div class="TimelineItem-body">
    <% if event.viewer_can_revert? %>
      <%= form_tag event.pull_request.revert_resource_path.to_s, method: "post" do %>
        <button type="submit" aria-label="Create a new pull request to revert these changes" class="btn btn-sm btn-outline tooltipped tooltipped-s float-right ml-2"
          data-ga-click="Repository, revert, location:pull request event; text:Revert">
          Revert
        </button>
      <% end %>
    <% end %>

    <% if status_at_merge %>
      <button type="button" class="btn btn-sm btn-outline float-right js-details-target" aria-expanded="false">
        <span class="Details-content--hidden">Hide details</span>
        <span class="Details-content--shown">View details</span>
      </button>
    <% end %>

    <%= render "issues/events/actor", actor: event.actor %>

    <% if event.commit? %>
      merged commit <a href="<%= event.commit.resource_path %>"><code class="link-gray-dark text-bold"><%= event.commit.abbreviated_oid %></code></a>
    <% else %>
      merged this pull request
    <% end %>
    into
    <span class="commit-ref user-select-contain">
      <span class="base-ref" title="<%= "#{repo.name_with_owner}:#{event.pull_request.base_ref_name}" %>">
        <%# This is all intentionally written on one line so that there is no extra
          # space between the ":" and the following span containing the branch name. %>
        <% if event.pull_request.is_cross_repository? %><span class="css-truncate-target user"><%= repo.owner.login %></span>:<% end %><span class="css-truncate-target"><%= event.pull_request.base_ref_name %></span>
      </span>
    </span>
    <a href="<%= event.resource_path %>" class="link-gray"><%= time_ago_in_words_js event.created_at %></a>

    <% if status_at_merge %>
      <div class="f6 Details-content--shown"  <%= test_selector('merged-event-footer') %>>
        <%= merge_status_summary(context_states) %>
      </div>
    <% end %>

    <% if status_at_merge %>
      <div class="text-gray-dark mt-3 Box Box--condensed Details-content--hidden width-fit">
        <div class="Box-header h5" <%= test_selector('merged-details-header') %>>
          <%= merge_status_summary(context_states) %>
        </div>
        <div class="overflow-auto" style="max-height: 296px;">
          <% status_at_merge.combined_contexts.nodes.each do |context| %>
            <div class="d-flex flex-items-baseline Box-row" <%= test_selector('merge-status-item') %>>
              <%-
                state = context.state || context.status
              -%>
              <div class="mr-3 flex-self-center flex-shrink-0 text-center" style="width: 16px;">
                <%= octicon(icon_symbol_for_state(state), class: status_state_text_class(state)) %>
              </div>
              <div class="text-gray flex-auto width-fit mr-3 css-truncate css-truncate-target">
                <strong class="text-emphasized">
                  <%= context.context %>
                </strong>
                <%= context.description %>
              </div>

              <% if context.target_url %>
                <a href="<%= context.target_url %>">Details</a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if event.show_merge_tip? %>
  <div class="Details js-details-container js-notice TimelineItem" <%= test_selector('integrations-callout') %>>
    <div class="TimelineItem-badge bg-blue text-white">
      <%= octicon('light-bulb') %>
    </div>
    <div class="TimelineItem-body">
      <div class="h5 mb-2">Avoid bugs by automatically running your tests.</div>
      <%= form_tag event.pull_request.dismiss_merge_tip_resource_path.to_s, class: "js-notice-dismiss" do %>
        <button data-ga-click="Integrations Directory, integrations directory ci cta dismiss, location:after merge;"
                type="submit"
                class="link-gray p-1 btn-link tooltipped tooltipped-n float-right"
                aria-label="Don’t show this again.">
          <%= octicon('x') %>
        </button>
      <% end %>

      <a data-ga-load="Integrations Directory, integrations directory ci cta shown, location:after merge;" data-ga-click="Integrations Directory, integrations directory ci cta click, location:after merge;" href="<%= ci_url %>" class="float-right mx-3 btn btn-sm btn-outline">
        Learn more
      </a>
      <p>Continuous integration can help catch bugs by running your tests automatically. Merge your code with confidence using one of our continuous integration providers.</p>
    </div>
  </div>
<% end %>
<div class="TimelineItem-break"></div>
