<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title" <%= test_selector("transfers-list-heading") %>>
      Stripe transfers <%= render Primer::CounterComponent.new(text: displayed_count, scheme: :gray) %>
    </h3>
  </div>
  <% if empty_results? %>
    <div class="Box-row" <%= test_selector("transfers-list-empty") %>>
        No transfers to this GitHub Sponsors member
    </div>
  <% else %>
    <table class="stafftools-table" <%= test_selector("transfers-list-table") %>>
      <thead>
        <tr>
          <th class="text-bold billing-table-cell">IDs</th>
          <th class="text-bold billing-table-cell">Amount</th>
          <th class="text-bold billing-table-cell">Match</th>
          <th class="text-bold billing-table-cell">Match reversed</th>
          <th class="text-bold billing-table-cell">Sponsor</th>
          <th class="text-bold billing-table-cell">Transferred at</th>
          <th class="billing-table-cell"></th>
        </tr>
      </thead>
      <tbody>
        <% transfers.each do |transfer| %>
          <%= render Stafftools::Sponsors::Members::Transfers::TransferComponent.new(
            transfer: transfer,
            sponsorable: sponsorable,
            latest_payout: latest_payout,
          ) %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<% if show_pagination? %>
  <nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">
      <% if has_previous_page? %>
        <a class="previous_page" href="<%= previous_page_url %>">Newer</a>
      <% else %>
        <span class="previous_page" aria-disabled="true">Newer</span>
      <% end %>

      <% if has_next_page? %>
        <a class="next_page" href="<%= next_page_url %>">Older</a>
      <% else %>
        <span class="next_page" aria-disabled="true">Older</span>
      <% end %>
    </div>
  </nav>
<% end %>
