<%= render(GitHub::DialogComponent.new(title: "Reverse some/all of this match?")) do |dialog| %>
  <% dialog.with(:summary) do %>
    <summary class="btn-link" <%= test_selector("reverse-match-button") %>>
      Reverse Match
    </summary>
  <% end %>
  <% dialog.with(:body) do %>
    <%= form_tag stafftools_sponsors_member_transfer_match_reversals_path(sponsorable), method: :post do %>
      <div class="form-group ml-4 mr-4">
        <%= label_tag "stripe_transfer_id",
          "Transfer ID",
          class: "form-label",
          for: "transfer-#{transfer.transfer_id}" %>
        <%= text_field_tag "stripe_transfer_id",
          nil,
          class: "form-control input-block",
          id: "transfer-#{transfer.transfer_id}",
          value: transfer.transfer_id,
          readonly: true %>
      </div>

      <div class="form-group ml-4 mr-4">
        <%= label_tag "match_amount_to_reverse",
          "Reversal amount (in USD)",
          class: "form-label",
          for: "amount-#{transfer.transfer_id}" %>
        <%= text_field_tag "match_amount_to_reverse",
          nil,
          class: "form-control input-block",
          id: "amount-#{transfer.transfer_id}",
          value: max_match_amount_to_reverse %>
      </div>

      <div class="form-group ml-4 mr-4">
        <%= button_tag "Submit", type: :submit, class: "btn btn-block btn-primary mb-5" %>
      </div>
    <% end %>
  <% end %>
<% end %>
