<% header = capture do %>
  <% if !this_business.members_can_view_dependency_insights_policy? %>
    Your organizations' current settings are shown below. If you change this setting
    to <span class="text-bold">Enabled</span> or <span class="text-bold">Disabled</span>
    the enterprise policy will override these values.
  <% else %>
    Your organizations' settings without the enterprise policy are shown below.
    If you adjust this setting with <span class="text-bold">No policy</span>,
    then the organizations will use the configuration outlined below.
  <% end %>
<% end %>

<%= render layout: "businesses/organizations/settings/layout",
  locals: { title: "Dependency insights", header: header } do %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_view_dependency_insights_setting_organizations(value: true),
    label: "Enabled",
    description: "Organization members can view dependency insights."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.members_can_view_dependency_insights_setting_organizations(value: false),
    label: "Disabled",
    description: "Organization members cannot view dependency insights."
  } %>
<% end %>
