<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
  <h3 class="Box-title"><%= title %></h3>
</div>
<div class="Box-body border-bottom-0">
  <div class="note pt-2 pb-3 mt-0">
    <%= header %>
  </div>
  <ul class="table-list border-bottom-0">
    <%= yield %>
  </ul>
</div>
