<%= fields_for public_key do |f| %>
  <dl class="form-group">
    <dt><label for="public_key_title">Title</label></dt>
    <dd><%= f.text_field :title %></dd>
  </dl>
  <dl class="form-group">
    <dt><label for="public_key_key">Key</label></dt>
    <dd><%= f.text_area :key, :class => "key_value", :placeholder => "Begins with 'ssh-rsa', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384', or 'ecdsa-sha2-nistp521'" %></dd>
  </dl>
  <% if public_key.repository_key? %>
  <div class="form-checkbox">
    <label>
      <%= f.check_box :read_only, {}, "0", "1" %>
      Allow write access
    </label>
    <span class="note">
      Can this key be used to <strong>push</strong> to this repository? Deploy keys always have pull access.
    </span>
  </div>
  <% end %>
<% end %>
