<label class="select-menu-item" role="menuitemcheckbox" aria-checked="<%= indeterminate? ? "mixed" : selected? %>" data-value="<%= label.id %>" tabindex="0" <%= test_selector("runner-label") %>>
  <input hidden
    class="js-label-input"
    type="checkbox"
    value="<%= label.id %>"
    name="labels[]"
    <% if indeterminate? %>data-indeterminate<% elsif selected? %>checked<% end %>>
  <%= octicon(:check, class: "select-menu-item-icon") %>
  <%= octicon(:dash, class: "select-menu-item-icon") %>
  <span class="select-menu-item-text css-truncate"><%= label.name %></span>
</label>
