<%= render(GitHub::DialogComponent.new(title: title, src: selection_component_path)) do |dialog| %>
  <% dialog.with(:summary) do %>
    <summary role="menuitem" class="dropdown-item"><%= dropdown_title %></summary>
  <% end %>
  <%= form_tag form_path,
    class: "d-flex flex-column overflow-hidden js-runner-group-form",
    method: is_update? ? :put : :post do %>
    <selected-item-list class="d-flex flex-column overflow-hidden">
      <div class="Box-body">
        <% if is_update? && @runner_group.inherited? %>
          <p class="h4 mb-3"><%= @runner_group.name %></p>
        <% else %>
          <div class="form-group mt-0">
            <div class="form-group-header">
              <label for="<%= aria_id_prefix %>-name">Group name</label>
            </div>
            <div class="form-group-body mb-3">
              <input required type="text" name="name" id="<%= aria_id_prefix %>-name" class="form-control" value="<%= @runner_group.name if is_update? %>">
            </div>
          </div>
        <% end %>
        <details class="details-reset details-overlay mb-2">
          <summary class="btn" aria-haspopup="true">
            <span class="text-normal"><%= visibility_menu_title %></span>
            <span data-menu-button><%= visibilities[selected_visibility][:label] %></span>
            <span class="dropdown-caret"></span>
          </summary>
          <details-menu class="SelectMenu js-runner-group-visibility-menu" role="menu">
            <div class="SelectMenu-modal">
              <div class="SelectMenu-list">
              <% visibilities.keys.each do |visibility_type| %>
                <label tabindex="0" class="SelectMenu-item flex-items-start"
                  role="menuitemradio" value="<%= visibility_type %>" aria-checked="<%= selected_visibility == visibility_type %>">
                  <input
                    type="radio"
                    name="visibility"
                    value="<%= visibility_type %>"
                    hidden
                    <% if selected_visibility == visibility_type %>checked <% end %>
                    <% if visibility_type == GitHub::LaunchClient::RunnerGroups::GROUP_VISIBILITY_SELECTED%>
                      data-action="click:selected-item-list#showDescription"
                    <% else %>
                      data-action="click:selected-item-list#hideDescription"
                    <% end %>>
                  <%= octicon "check", class: "SelectMenu-icon SelectMenu-icon--check", style: "margin-top: 2px" %>
                  <div>
                    <div class="h5" data-menu-button-text><%= visibilities[visibility_type][:label] %></div>
                    <span class="text-normal text-gray-light">
                      <%= visibilities[visibility_type][:description] %>
                    </span>
                  </div>
                </label>
              <% end %>
              </div>
            </div>
          </details-menu>
        </details>
      </div>
      <div
        class="d-flex flex-column px-3 py-2 overflow-hidden js-runner-group-targets-selection"
        <% unless show_selected_targets? %>hidden<% end %>>
        <include-fragment data-target="selected-item-list.includeFragment" class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
      </div>
      <div class="Box-footer text-right">
        <span
          class="float-left text-small pt-3 lh-condensed-ultra"
          data-target="selected-item-list.description"
          hidden>
          <span data-target="selected-item-list.selectedCount">
            0
          </span>
          selected
          <span data-target="selected-item-list.singularItemDescription">
            <%= target_type %>
          </span>
          <span data-target="selected-item-list.pluralItemsDescription">
            <%= target_type.pluralize %>
          </span>
        </span>
        <button type="submit" class="btn btn-primary">Save group</button>
      </div>
    </selected-item-list>
  <% end %>
<% end %>
