<div class="pagehead orghead border-bottom-0 pt-0 pt-lg-3 mb-0">
  <div class="container-lg p-responsive d-none d-lg-block clearfix">
    <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView, organization: current_organization %>
  </div>
  <%= render_partial_view "orgs/header_nav", Orgs::HeaderView, organization: current_organization, selected_nav_item: :policies %>
</div>
