<details class="details-reset details-overlay select-menu hx_rsm hx_rsm--auto-height select-menu-modal-right width-full" id="<%= select_menu_id %>">
  <summary class="btn select-menu-button width-full text-center">
    <i>Resource:</i>
    <span data-menu-button>
      <%= view.selected_resource_type_filter %>
    </span>
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <div class="select-menu-header text-left">
      <span class="select-menu-title">Filter by resource type</span>
      <button class="hx_rsm-close-button btn-link close-button" type="button" data-toggle-for="<%= select_menu_id %>"><%= octicon("x", :"aria-label" => "Close menu") %></button>
    </div>
    <div class="select-menu-list">
      <% view.resource_type_filters.each do |filter| %>
        <a
            href="<%= filter[:url] %>"
            class="select-menu-item js-org-insights-period-selector-link"
            aria-checked="<%= filter[:selected] %>"
            role="menuitemradio">

            <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="text-normal select-menu-item-text"><%= filter[:label] %></div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
