<%
  viewer_can_update = project.viewer_can_update?(current_user)
  owner = project.owner
%>

<div class="p-3" <%= test_selector("project-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes("project-hovercard-hover", projectId: project.id) %>

  <div class="d-flex">
    <div class="d-flex flex-items-center mb-2 f6">
      <%- case owner %>
      <%- when Organization, User %>
        <div class="overflow-hidden d-flex flex-items-center">
          <%= link_to "/#{owner}", "aria-label": owner.login, itemprop: "follows", class: "avatar-group-item" do %>
            <img src="<%= owner.primary_avatar_url(32) %>" class="<%= avatar_class_names(owner) %> p-0 m-0 mr-2" width="16" height="16" alt="@<%= owner.login %>">
          <% end %>
          <%= link_to owner.login, "/#{owner}", class: "text-bold link-gray no-underline" %>
        </div>
      <%- when Repository %>
        <% repository = owner %>
        <a class="text-bold link-gray no-underline" href="/<%= repository.nwo %>" itemprop="name codeRepository">
          <%= truncate(repository.owner.login, length: 15) %>/<%= truncate(repository.name, length: 30) %>
        </a>
      <%- end %>
    </div>
  </div>

  <div class="d-flex">
    <div class="d-flex flex-items-start mt-1 mr-2">
      <% if !project.public_project_or_owner? %>
        <%= octicon "lock", class: "text-gray-dark m-0 p-0", width: 16, height: 16 %>
      <% else %>
        <%= octicon "project", class: "text-gray-dark p-0", width: 16 %>
      <% end %>
    </div>
    <div class="d-flex">
      <a class="f5 text-bold link-gray-dark no-underline m-0" href="<%= project_path(project) %>">
        <%= project.name %>
        <% if !project.public_project_or_owner? %>
          <span class="text-gray-light f6 border rounded-1 px-1 ml-1">Private</span>
        <% end %>
      </a>
    </div>
  </div>

  <div class="d-flex flex-auto flex-column ml-4">
    <div class="f6 text-gray">
      <div class="d-inline-block py-1">
        <% if project.closed? %>
          <span class="label box-shadow-none text-red text-normal border border-red rounded-1">Closed</span>
        <% end %>
        <span>
          Updated <%= time_ago_in_words_js(project.updated_at) %>
        </span>
      </div>
    </div>

    <div class="f5 text-gray-dark markdown-body">
      <% if project.body.present? %>
        <% project_body_markdown(project.body) do |full_markdown, truncated_markdown| %>
          <% if truncated_markdown %>
            <%= truncated_markdown %>...
          <% else %>
            <%= full_markdown %>
          <% end %>
        <% end %>
      <% elsif viewer_can_update %>
        <span class="p-0 m-0 text-gray-light f5">No description</span>
        <a href="<%= edit_project_path(project) %>">Edit</a>
      <% end %>
    </div>

    <% if project.progress.enabled? %>
      <div class="mt-2">
        <%= render partial: "projects/project_progress", locals: { progress: project.progress } %>
      </div>
    <% end %>
  </div>

  <% linked_repositories = project.linked_repositories_viewer_can_see(current_user) %>
  <% if linked_repositories.any? %>
    <%
      shown_linked_repository_count = 3
      shown_linked_repositories = linked_repositories.take(shown_linked_repository_count)
      other_linked_repository_count = linked_repositories.count - shown_linked_repository_count
    %>
    <div class="d-flex mt-2 f6">
      <div class="d-flex mr-2 flex-items-start text-gray">
        <%= octicon("link") %>
      </div>

      <div class="d-flex f6 flex-auto flex-wrap flex-items-center">
        <div class="text-gray">
          Linked repositories:&nbsp;
        </div>

        <% shown_linked_repositories.each_with_index do |repo, index| %>
          <div class="d-inline-flex">
            <a class="text-bold link-gray" href="/<%= repo.nwo %>"><%= repo.name %></a>
            <% if index < shown_linked_repositories.count - 1 %>,<% end %>&nbsp;
          </div>
        <% end %>
        <% if other_linked_repository_count > 0 %>
          <div class="text-gray">
            and <%= pluralize other_linked_repository_count, "other repository" %>.
          </div>
        <% end %>
      </div>
    </div>
  <% elsif !project.owner.is_a?(Repository) %>
    <div class="d-flex mt-2 f6">
      <div class="d-flex mr-2 flex-items-start text-gray">
        <%= octicon("link") %>
      </div>

      <div class="d-flex f6 flex-auto flex-wrap flex-items-center">
        <div class="text-gray">
          No linked repositories &nbsp;
        </div>
        <% if viewer_can_update %>
          <a href="<%= project_settings_linked_repositories_path(project) %>">Add</a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
