<%# erblint:disable DeprecatedCustomCss %>
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Account recovery request cancelled</title>
<% render "mailers/account_recovery/styles" %>
</head>

<body style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #24292e; height: 100% !important; line-height: 1.5; font-size: 14px; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
  <tr>
    <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
    <td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 24px; width: 580px;" width="580" valign="top">
      <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">

      <h1 class="text-normal" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; line-height: 1.25; margin: 0 0 10px; margin-bottom: 30px; font-size: 20px; font-weight: 400 !important; color: #586069; word-break: normal;">
        GitHub has detected a successful authentication event for your <strong class="text-gray-dark" style="color: #24292e !important;">@<%= @user %></strong> account.
      </h1>

      <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
        As it appears you've regained access to this account, GitHub Support will now close the pending recovery request.
      </p>

      <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">
        If you have any additional questions about this, please <a href="<%= @support_link %>" target="_blank">contact GitHub Support</a>.
      </p>

        <div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
          <hr class="footer-hr" style="height: 0; overflow: visible; margin-top: 24px; border: 0; border-top: 1px solid #e1e4e8; color: #959da5; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
          <div class="footer-links" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px;">
            <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #959da5; font-size: 12px; line-height: 18px;">
              <a href="https://github.com/login" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Sign into GitHub</a> &middot;
              <a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a> &middot;
              <a href="<%= GitHub.help_url %>/articles/github-privacy-policy/" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a> &middot;
              <a href="https://github.com/contact" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Contact GitHub Support</a>
            </p>
          </div>
        </div>
      </div>

    </td>
    <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
  </tr>
</table>
</body>
</html>
