<%
  # The SecurityAdvisory model inherits from Vulnerability and adds some
  # niceties that are meant for public consumption, so we convert the
  # Vulnerability instance below to a SecurityAdvisory to get access to those
  # methods, like #primary_identifier and #primary_reference.
  advisory = alert.vulnerability.becomes(SecurityAdvisory)
  vulnerable_version_range = alert.vulnerable_version_range
%>
<div class="Box-row">
  <div class="d-flex flex-justify-between flex-items-center pt-2">
    <div>
      <h5 class="h4 mb-2">
        <% if GitHub.global_advisories_enabled? && advisory.globally_available? %>
          <%= link_to advisory.primary_identifier, global_advisory_path(advisory.ghsa_id), class: "link-gray-dark no-underline", data: hovercard_data_attributes_for_advisory(ghsa_id: advisory.ghsa_id) %>
        <% else %>
          <%= advisory.primary_identifier %>
          <% if advisory.primary_reference %>
            <%= link_to advisory.primary_reference, target: "_blank", class: "ml-2" do %>
              <%= octicon("link-external") %>
              <span class="sr-only">More information</span>
            <% end %>
          <% end %>
        <% end %>
      </h5>
    </div>
    <div>
      <%= render Repos::Alerts::SeverityLabelComponent.new(severity: advisory.severity) %>
    </div>
  </div>
  <div>
    <b>Vulnerable versions:</b>
    <span class="text-mono pl-1"><%= vulnerable_version_range.requirements %></span>
  </div>
  <div>
    <b>Patched version:</b>
    <% if vulnerable_version_range.fixed_in? %>
      <span class="text-mono pl-1"><%= vulnerable_version_range.fixed_in %></span>
    <% else %>
      <span class="text-gray text-italic pl-1">No fix</span>
    <% end %>
  </div>
  <div class="mt-2 markdown-body">
    <%= view.render_vulnerability_description(advisory) %>
    <% if advisory.has_whitesource_origin? %>
      <div class="mt-2 border-top pt-2 text-gray text-right f5">
        Vulnerability data by
        <%= link_to "WhiteSource", "https://www.whitesourcesoftware.com/GitHubSecurityAlerts", target: "_blank" %>
      </div>
    <% end %>
  </div>
</div>
