<% unless view.dependency_graph_enabled? %>
  <%= render partial: "repos/alerts/dependency_graph_warning" %>
<% end %>

<div id="dependencies">
  <div class="Subhead <%= "border-bottom-0 border-md-bottom mb-0 mb-md-3 pb-3 pb-md-2 flex-justify-end flex-column flex-md-row" if responsive? %>">
    <h2 class="Subhead-heading <%= "d-none d-md-block" if responsive? %>">Dependabot alerts</h2>

    <% if current_repository.automated_security_updates_configurable_by?(current_user) %>
      <details class="select-menu details-reset details-overlay flex-self-stretch flex-md-self-center <%= "mb-2 mb-md-0 mr-md-2" if view.open? && view.display_alerts? %>">
        <summary class="btn btn-sm select-menu-button width-full text-center">
          <span class="pr-1" data-menu-button>
            <% unless current_repository.vulnerability_updates_enabled? %>
              Off:
            <% end %>
            Dependabot security updates
          </span>
        </summary>
        <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
          <div class="select-menu-list">
            <div class="select-menu-header">
              <span class="select-menu-title">Settings</span>
            </div>
            <%= form_tag view.toggle_vulnerability_updates_path,
              method: :post do %>
              <button type="submit"
                class="select-menu-item width-full"
                role="menuitemradio"
                aria-checked="<%= current_repository.vulnerability_updates_enabled? %>">
                <% if current_repository.vulnerability_updates_enabled? %>
                  <%= octicon("check", :class => "select-menu-item-icon mt-1") %>
                <% end %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading"
                  data-menu-button-text>Dependabot security updates</span>
                  <span class="description">Receive automated pull request updates
                  for vulnerable dependencies</span>
                </div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% elsif current_repository.automated_security_updates_visible_to?(current_user)  %>
      <button type=button class="btn btn-sm flex-self-stretch flex-md-self-center <%= "mb-2 mb-md-0 mr-md-2" if view.open? && view.display_alerts? %>" disabled aria-haspopup="false">
        <% unless current_repository.vulnerability_updates_enabled? %>
          Off:
        <% end %>
        Dependabot security updates
        <div class="dropdown-caret"></div>
      </button>
    <% end %>

    <% if view.open? && view.display_alerts? %>
      <details class="dropdown details-reset details-overlay flex-self-stretch flex-md-self-center">
        <summary class="btn btn-sm width-full text-center" aria-haspopup="true">
          Dismiss all
          <div class="dropdown-caret"></div>
        </summary>
        <ul class="dropdown-menu dropdown-menu-sw" style="width:270px">
          <% view.dismissal_reasons.each do |reason| %>

            <li>
              <%= button_to reason,
                vulnerability_alert_dismiss_path(reason: "Dismiss all: #{reason}"),
                method: :put,
                class: "btn-link dropdown-item text-small",
                disabled: view.alerts.none?,
                data: {
                  confirm: "This action cannot be undone. Are you sure you want to dismiss #{pluralize(view.total_open_count, "alert")}?"
                }
              %>
            </li>
          <% end %>
          <li class="dropdown-divider" role="none"></li>
          <li>
            <%= link_to "Manage repository vulnerability settings",
              edit_repository_path(current_repository),
              class: "dropdown-item text-small"
            %>
          </li>

          <li>
            <%= link_to "Manage account notification settings",
              settings_user_notifications_path,
              class: "dropdown-item text-small"
            %>
          </li>
        </ul>
      </details>
    <% end %>
  </div>
</div>

<% if view.alerts_enabled? %>
  <div class="table-list-header <%= "mt-0" if responsive? %>">
    <div class="table-list-filters">
      <div class="table-list-header-toggle states float-left pl-3">
        <a href="<%= network_alerts_path(q: view.query_string_for("is:open")) %>" class="btn-link <%= 'selected' if view.open? %>">
          <%= octicon("alert") %>
          <%= number_with_delimiter view.total_open_count %> Open
        </a>

        <a href="<%= network_alerts_path(q: view.query_string_for("is:closed")) %>" class="btn-link <%= 'selected' if view.closed? %>">
          <%= octicon('check') %>
          <%= number_with_delimiter view.total_closed_count %> Closed
        </a>
      </div>

      <div class="table-list-header-toggle float-right">
        <details class="details-reset details-overlay select-menu float-left">
          <summary class="btn-link select-menu-button">
            Sort
          </summary>

          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;" aria-label="Sort by">
            <div class="select-menu-header">
              <span class="select-menu-title">Sort by</span>
            </div>
            <div class="select-menu-list">
              <% view.each_sort_option do |description, sort, selected| %>
                <% url = network_alerts_path(q: view.query_string_for("sort:#{sort}")) %>
                <a href="<%= url %>" class="select-menu-item" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= octicon("check", class: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= description %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      </div>
    </div>
  </div>
<% end %>

<% if view.display_alerts? %>
  <div class="border-right border-bottom border-left">
    <ul>
      <% view.alerts.each do |alert| %>
        <%= render partial: 'repos/alerts/row', locals: { manifest_path: alert.vulnerable_manifest_path, package_name: alert.affects, state: view.state, alert: alert, view: view } %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="blankslate blankslate-spacious blankslate-large blankslate-capped Box border-top-0 border-gray-light">
    <%= octicon("alert", :height => 40, :class => "blankslate-icon") %>
    <% if view.alerts_enabled? %>
      <% if view.new_to_alerts? %>
        <h3 class="h3 mb-1 mt-0">Welcome to Dependabot alerts!</h3>
        <p>Dependabot alerts track security vulnerabilities that apply to your repository’s dependencies.<br>
          As alerts are created, they’ll appear here.
        </p>
      <% elsif view.open? %>
        <h3 class="h3 mb-1 mt-0">There aren’t any open alerts.</h3>
        <p>As alerts are created, they’ll appear here.</p>
      <% else %>
        <h3 class="h3 mb-1 mt-0">There aren’t any closed alerts.</h3>
        <p>As alerts are dismissed, they’ll appear here.</p>
      <% end %>
    <% else %>
      <h3 class="h3 mb-1 mt-0">Dependabot alerts are disabled.</h3>
      <p>To receive Dependabot alerts, you must first enable<br>
        Dependabot alerts in <%= link_to "this repository’s settings", security_analysis_settings_path(current_repository) %>.
      </p>
    <% end %>
  </div>
<% end %>

<% if view.display_alerts? %>
  <div class="paginate-container">
    <%= will_paginate view.query, :params => { :q => view.query_string } %>
  </div>
<% end %>

<div class="protip">
  <p>GitHub tracks known security vulnerabilities in some dependency manifest files. <a href="<%= GitHub.help_url %>/articles/about-security-alerts-for-vulnerable-dependencies" target="_blank">Learn more about Dependabot alerts.</a></p>
</div>
