<%
  # view is an instance of RepositoryAlerts::UpdateError
  page_info(
    title: "Update Error · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :alerts,
    responsive: current_repository.advisories_enabled?,
    skip_responsive_padding: current_repository.advisories_enabled?,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<% if current_repository.advisories_enabled? %>
  <%= render layout: "layouts/repository/security" do %>
    <%= render "repos/alerts/blank_state_update_error", view: view %>
  <% end %>
<% else %>
  <%= render layout: "layouts/repository/insights" do %>
    <%= render "repos/alerts/blank_state_update_error", view: view %>
  <% end %>
<% end %>
