<%
  page_info(
    selected_link: :alerts,
    container_xl: true,
    responsive: current_repository.advisories_enabled?,
    skip_responsive_padding: current_repository.advisories_enabled?,
    title: view.page_title,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<% if current_repository.advisories_enabled? %>
  <%= render layout: "layouts/repository/security" do %>
    <%= render "repos/alerts/update_error_detail", view: view %>
  <% end %>
<% else %>
  <%= render layout: "layouts/repository/insights" do %>
    <%= render "repos/alerts/update_error_detail", view: view %>
  <% end %>
<% end %>
