<%
  advance_state = defined?(advance_state) && advance_state
%>

<% if advance_state %>
  <%= render "codespaces/advance_loading_state", state: "provisioned" %>
<% end %>

<div
  class="content js-codespace-iframe-container"
  data-origin="<%= view.origin %>"
  data-owner="<%= view.owner %>"
  data-name="<%= view.name %>"
  data-codespace-url="<%= codespace_url(view.codespace) %>"
  data-guid="<%= view.guid %>"
  data-repository-id="<%= view.repository_id %>"
  data-repository-name="<%= view.repository_name %>"
  data-repository-permalink="<%= view.repository_permalink %>"
  <% if view.github_token %> data-github-token="<%= view.github_token %>" <% end %>
>
  <iframe
    title="Codespace <%= view.name %>"
    src="<%= view.iframe_url %>"
    width="100%"
    height="100%"
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-forms"
  >
    Codespace requires an iframe.
  </iframe>
</div>

<%= form_tag mint_cascade_token_codespaces_path(view.codespace), method: :post, class: "js-fetch-cascade-token" %>
