<% page_info title: "Codespaces", stafftools: stafftools_user_codespaces_path(current_user) %>

<% if should_disable_firefox? %>
  <div class="flash flash-full flash-warn">
    <div class="container-lg px-2">
      Codespace support for Firefox is coming soon! For the best experience we recommend using Chrome.
    </div>
  </div>
<% end %>

<div class="page-content position-relative container-lg clearfix">
  <%= render Codespaces::WideListComponent.new(
        codespaces: codespaces,
        unauthorized_saml_targets: unauthorized_saml_targets,
        unpushed_id: unpushed_id,
  ) %>

  <% if Codespaces::Policy.is_codespaces_developer?(current_user) %>
    <%# Allow feature flagged users (our VSCS friends) to select the feature flags to be enabled. %>
    <div class="m-4 Box Box--condensed" data-test-selector="codespaces-dev-tools">
      <div class="Box-header d-flex text-bold">Codespaces Dev Tools</div>
      <%= form_tag toggle_dev_flags_codespaces_path, "data-autosubmit" => true do %>
            <div class="Box-row">
              <div class="flex-auto clearfix">
                <label class="float-left p-1">
                  <input
                    type="checkbox"
                    name="deiframed-flow-enabled"
                    <%= "checked" if current_user.deiframed_flow_enabled? %>
                    class="mr-1"
                  >
                  Enable de-iframed flow
                </label>
              </div>
            </div>
        <% end %>
    </div>
  <% end %>
</div>
