<% if current_user.deiframed_flow_enabled? %>
  <% page_info title: "Codespaces - #{view.name}", footer: false %>
  <%= render Codespaces::ShowAuthComponent.new \
    codespace: view.codespace,
    github_token: view.github_token,
    user: current_user
  %>
<% else %>
  <%
    SecureHeaders.append_content_security_policy_directives(
      request,
      frame_src: [
        view.origin,
        SecureHeaders::CSP::SELF,
      ]
    )
   %>

  <% page_info title: "Codespaces - #{view.name}", footer: false %>

  <div data-favicon-override="<%= site_favicon("codespacesinsider") %>" style="display:none"></div>

  <div class="js-codespace-loading-container">
    <%= render Codespaces::LoadingComponent.new(codespace: view.codespace) %>
  </div>

  <% if view.codespace.provisioned? %>
    <%= render "codespaces/iframe", view: view %>
  <% elsif view.codespace.provisioning? || view.codespace.pending? %>
    <poll-include-fragment src="<%= provisioned_codespace_path(view.codespace) %>"></poll-include-fragment>
  <% end %>
<% end %>
