<div class="col-12">
  <div class="blankslate">
    <h4 class="mb-2">Unsupported identity provider</h4>
    <p>Currently, team synchronization is only supported for Azure Active Directory. If you've configured SAML single sign-on with Azure AD, please contact support for help. <a href="<%= GitHub.help_url %>/articles/synchronizing-teams-between-your-identity-provider-and-github">Learn more</a></p>
  </div>
</div>
