<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<%# erblint:counter TooltipCounter 1 %>
<button class="btn disabled tooltipped tooltipped-n" type="button" aria-label="You must single sign-on before enabling">
  Enable for <%= view.team_sync_provider_type_label %>
</button>
<div class="text-small text-gray-light d-inline ml-2">
  <%= octicon "info", :height => 16, :class => "text-gray" %>
  You must
  <%= link_to "single sign-on", org_idm_sso_path(view.organization, return_to: settings_org_security_path(view.organization)) %>
  before team synchronization can be enabled.
</div>
