<%# `view` is an instance of Orgs::SecuritySettings::IndexView %>
<div class="Subhead Subhead--spacious" id="team-sync-settings">
  <h2 class="Subhead-heading d-flex flex-items-center">
    Team synchronization
    <% if view.idp_beta? %>
      <span class="border rounded-1 px-1 border-green text-small text-gray-dark ml-2">
        Beta
      </span>
    <% end %>
  </h2>
</div>
<p class="mb-3">
  Team synchronization lets you manage team membership through your configured identity provider.
  <a href="<%= GitHub.help_url %>/articles/synchronizing-teams-between-your-identity-provider-and-github">Learn more</a>
</p>
<% if !view.supported_team_sync_provider? %>
  <%= render_partial_view "orgs/security_settings/team_sync/settings_unsupported", view %>
<% elsif view.disallow_team_sync_setup? %>
  <%= render_partial_view "orgs/security_settings/team_sync/settings_disallowed", view %>
<% elsif view.show_enable_team_sync_button? %>
  <%= render_partial_view "orgs/security_settings/team_sync/settings_new", view %>
<% elsif view.show_team_sync_assignment_review_available? %>
  <%= render_partial_view "orgs/security_settings/team_sync/settings_pending", view %>
<% elsif view.team_sync_enabled? %>
  <%= render_partial_view "orgs/security_settings/team_sync/settings_enabled", view %>
<% end %>
