<%# `view` is an instance of Orgs::SecuritySettings::TeamSync::ReviewPendingAssignmentView %>
<% page_info :title => "Review team synchronization settings" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <h1 class="sso-title m-0">
        Pending <strong><%= view.provider_label %></strong> team synchronization request
      </h1>
    </div>
    <p class="text-gray-light mb-4">
      You are requesting to enable team synchronization by connecting
      <strong><%= view.provider_label %> tenant <%= view.team_sync_provider_id %></strong>
      to this organization.
    </p>
    <div class="container-lg clearfix">
      <%= button_to "Approve", team_sync_approve_path(view.organization),
        method: "post",
        class: "btn border btn-primary btn-block",
        form_class: "col-6 float-left p-1"
      %>
      <%= button_to "Cancel", team_sync_cancel_path(view.organization),
        method: "delete",
        class: "btn border btn-danger btn-block",
        form_class: "col-6 float-left p-1"
      %>
    </div>
  </div>
</div>
