<div class="Box Box--condensed mb-2">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= survey.title %> Survey
    </h3>
  </div>

  <div class="Box-body d-flex p-0">
    <div class="p-2 flex-1 d-flex flex-column text-center text-gray">
      <span class="h3 text-gray-dark">
        <%= survey.respondents_count %>
      </span>
      Users responded
    </div>
    <div class="p-2 flex-1 d-flex flex-column text-center text-gray border-left">
      <span class="h3 text-gray-dark">
        <%= survey.answers.count %>
      </span>
      Total answers made
    </div>
  </div>
</div>

<%= link_to "Download CSV", devtools_survey_path(slug: survey.slug, :format => :csv), class: "btn btn-outline mb-2" %>
