<% if view.installable? %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, font_size: 3) do %>Install <%= view.integration.name %><% end %>
  <% end %>
  <p class="mb-4">Choose an account to install <%= view.integration.name %> on:</p>
  <div class="Box">
    <% view.accounts.each do |account| %>
      <%= content_tag :div, :id => "installation-status-for-#{account}", :class => "Box-row" do %>
        <%= avatar_for(account, 34, :class => "avatar mr-1 v-align-middle") %>
        <span class="text-bold"><%= account %></span>

        <% if view.integration_installed_on?(account) %>
          <div class="float-right BtnGroup">
            <%= content_tag :span, :class => "tooltipped tooltipped-multiline tooltipped-n btn btn-outline BtnGroup-item disabled", :"aria-label" => "#{ view.integration_name } is installed on this account." do %>
              Installed
            <% end %>

            <% installation = view.installation_for_account(account) %>
            <% integration  = installation.integration %>

            <%= link_to gh_edit_app_installation_path(integration, installation), class: "btn btn-default BtnGroup-item" do %>
              <%= octicon("gear", :"aria-label" => "Installation settings") %>
            <% end %>
          </div>
        <% else %>
          <%= link_to gh_app_installation_permissions_path(view.integration, :target_id => account.id), :class => "tooltipped float-right tooltipped-multiline tooltipped-n btn btn-primary", :"aria-label" => "Install #{ view.integration_name } on this account." do %>
            Install
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="paginate-container">
    <%= will_paginate view.accounts %>
  </div>
<% end %>
