<% # view is an instance of Integrations::AuthorizationView %>

<div id="oauth-authorization-<%= view.application_safe_key %>" class="oauth-border js-revoke-item" data-id="<%= view.application_safe_key %>" data-type="application">
  <div class="border-top">
    <div class="TableObject py-3">
      <div class="TableObject-item">
        <%= link_to settings_oauth_authorization_path(view.application.key), class: "CircleBadge CircleBadge--small float-left", style: view.logo_background_color_style_rule do %>
          <%= oauth_application_logo(view.authorization.safe_app, 30, :class => "avatar CircleBadge-icon", :alt => view.authorization.safe_app.name) %>
        <% end %>
      </div>
      <div class="TableObject-item TableObject-item--primary px-3 ">
        <h5>
          <%= link_to view.authorization.safe_app.name, settings_oauth_authorization_path(view.application.key), :class => "developer-app-name" %>
        </h5>
        <p class="text-small text-gray mb-0">
          <%= last_authorization_access_description(view.authorization)%> &middot; Owned by <%= link_author view.application.owner %>
        </p>
      </div>
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Revoke",
          button_class: "btn btn-sm btn-danger",
          title: "Are you sure you want to revoke authorization?"
      } do %>
        <div class="flash flash-warn flash-full">
          <%= view.authorization.safe_app.name %> will no longer be able to access the GitHub API. You cannot undo this action.
        </div>

        <div class="Box-footer">
          <%= form_tag settings_oauth_authorization_path(view.application.key),
                :method => :delete,
                :class => "js-revoke-access-form",
                "data-id" => view.application_safe_key,
                "data-type-name" => "application" do %>
            <button type="submit" class="btn btn-block btn-danger" data-disable-with="Revoking…">
              I understand, revoke access
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
