<%# erblint:disable ProperTagNesting %>
<%# view is an instance of Integrations::AuthorizationsView %>

<% page_info responsive: false, title: "Authorized GitHub Apps", selected_link: :applications_settings %>

<%= render layout: "settings/settings" do %>

  <%= render :partial => "navigation/application_settings" %>

  <% if view.authorizations.empty? %>
    <div class="blankslate">
      <h3 class="mb-2">No authorized applications</h3>
      <p>You have no applications authorized to access your account.</p>
    </div>
  <% else %>

    <div class="mb-4 mt-4">
      You have granted <strong><%= view.authorizations.count %> <%= pluralize_without_number(view.authorizations.count, "application") %></strong> access to your account.
      <div class="table-list-header-toggle float-right">
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "float-right",
          button_class: "btn btn-sm btn-danger",
          button_text: "Revoke all",
          title: "Are you sure you want to revoke access for all GitHub Apps?"
        } do %>
          <div class="flash-warn flash flash-full">
            This will revoke access for <strong>all</strong> GitHub Apps. This action cannot be undone.
          </div>
          <%= form_tag revoke_all_settings_oauth_authorizations_path(type: "github_apps"), :method => :post, :class => 'd-flex flex-column flex-auto' do %>
            <div class="Box-body">
              <label for="confirm-user-name-to-revoke-all">Type your username to confirm<label>
              <input id="confirm-user-name-to-revoke-all" type="text" class="form-control input-block mt-1" autofocus required pattern="<%= case_insensitive_pattern current_user.login %>">
            </div>
            <div class="Box-footer">
              <button type="submit" data-type="application" class="btn btn-block btn-danger" data-disable-invalid>
                I understand, revoke access for everything
              </button>
            </div>
          <% end %>
        <% end %>
        <%= render :partial => "oauth_applications/sorts" %>
      </div>
    </div>

    <% view.authorizations.each do |authorization| %>
    <% application = authorization.application %>
      <%= render_partial_view "integrations/authorization", Integrations::AuthorizationView,
        authorization: authorization, application: application %>
    <% end %>


    <div class="paginate-container">
      <%= will_paginate view.authorizations %>
    </div>

    <p class="protip">
      <%= octicon("info", :class => "notice-icon") %> Read more about connecting with third-party applications at <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps">GitHub Help</a>.
    </p>

  <% end %>
<% end %>
