<% page_info :title => "GitHub Apps - #{view.integration.name}" %>

<div class="container-lg mx-auto px-3 px-sm-4 px-md-5">
  <% if marketplace_enabled? && github_apps_in_marketplace_search_enabled? %>
    <%= render(Primer::BreadcrumbComponent.new(py: 3)) do |component| %>
      <% component.slot(:item, href: marketplace_path) do %>Marketplace<% end %>
      <% component.slot(:item, href: marketplace_path(type: "apps")) do %>Apps<% end %>
      <% component.slot(:item, selected: true) do %><%= view.integration_name %><% end %>
    <% end %>
  <% end %>

  <div class="clearfix gutter-md-spacious mt-6 mb-md-6">
    <div class="col-12 col-md-8 float-md-left">
      <div class="d-md-none text-center">
        <div class="CircleBadge CircleBadge--medium mx-auto box-shadow-large mb-2" style="background-color: #<%= view.integration.preferred_bgcolor %>">
          <%= integration_avatar(integration: view.integration, size: 41) %>
        </div>
        <h3 class="text-mono f4 text-normal text-gray-light">GitHub App</h3>
        <h1 class="f1 text-normal"><%= view.integration_name %></h1>
      </div>
      <div class="TableObject d-none d-md-table">
        <div class="TableObject-item">
          <div class="CircleBadge CircleBadge--medium box-shadow-large" style="background-color: #<%= view.integration.preferred_bgcolor %>">
            <%= integration_avatar(integration: view.integration, size: 41) %>
          </div>
        </div>
        <div class="TableObject-item TableObject-item--primary pl-4">
          <h3 class="text-mono f4 text-normal text-gray-light">GitHub App</h3>
          <h1 class="f1 text-normal"><%= view.integration_name %></h1>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 pb-3 mt-5 pb-md-0 pt-3 float-md-left">
      <% if view.installable? %>
        <% if view.integration_installed? %>
          <%= link_to "Configure", view.configure_url, :class => "btn btn-block btn-default mb-2 px-6 py-2 d-block d-md-inline-block text-center" %>
        <% else %>
          <%= link_to "Install", gh_new_app_installation_path(view.integration), :class => "btn btn-block btn-primary mb-2 px-6 py-2 d-block d-md-inline-block text-center" %>
        <% end %>
      <% end %>
      <p class="text-small text-center text-md-left text-gray-light mb-0 lh-condensed ws-normal">
        <% if view.installable? %>
          <% if view.integration_installed? %>
            Manage your installation settings.
          <% else %>
            Next: Confirm your installation location.
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="clearfix gutter-md-spacious">
    <div class="col-12 col-md-8 mb-3 mb-md-0 float-md-left">
      <% if view.integration.description? %>
        <div class="markdown-body">
          <%= render "integrations/integration_description", :integration => view.integration %>
        </div>
      <% else %>
        <div class="blankslate blankslate-spacious mb-3">
          <h3>No description</h3>
        </div>
      <% end %>

      <% if marketplace_enabled? %>
        <% if view.integration.marketplace_listing.present? %>
          <% if view.integration.marketplace_listing.adminable_by?(current_user) %>
            <div class="mt-3">
              <hr>
              <p><%= link_to "Manage this apps's Marketplace listing", edit_marketplace_listing_path(view.integration.marketplace_listing.slug) %>.</p>
            </div>
          <% elsif view.integration.marketplace_listing.publicly_listed? %>
            <div class="mt-3">
              <hr>
              <p><%= link_to "Read more about this app on the Marketplace", marketplace_listing_path(view.integration.marketplace_listing.slug) %>.</p>
            </div>
          <% end %>
        <% elsif view.integration.public? && view.integration.adminable_by?(current_user) %>
          <div class="mt-3">
            <hr>
            <p>Improve the visibility of your app. <%= link_to "List it on the Marketplace", new_marketplace_listing_with_integratable_path(type: :app, id: view.integration.id) %>.</p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-md-4 float-md-left">
      <% if GitHub.flipper[:show_integration_category].enabled?(current_user) && view.integration.marketplace_category.present? %>
        <h5 class="text-mono text-normal text-gray-light mb-2">Category</h5>
        <ul class="list-style-none">
          <li class="mb-2">
            <a class="topic-tag topic-tag-link f6" href="<%= marketplace_category_path(view.integration.marketplace_category.slug) %>">
              <%= view.integration.marketplace_category.name %>
            </a>
          </li>
        </ul>
      <% end %>
      <h5 class="text-mono text-normal text-gray-light mb-2">Developer</h5>
      <ul class="list-style-none">
        <li class="mb-2">
          <%= avatar_for view.integration_owner, 16, :class => "avatar" %> <%= link_to "#{ view.integration_owner }", user_path(view.integration_owner) %>
        </li>
        <li class="mb-2">
          <% if manages_integration?(user: view.current_user, integration: view.integration) %>
            <span class="mr-3"><%= octicon("gear") %> <%= link_to "App settings", gh_settings_app_path(view.integration) %></span>
          <% end %>
        </li>
        <li class="mb-2">
          <%= octicon("link-external", :class => "mr-1") %> <%= link_to "Website", view.integration_url %>
        </li>
      </ul>
      <p class="py-3 mb-0 text-small text-gray">
        <% if view.integration_github_owned? %>
          <strong><%= view.integration_name %></strong> is owned and operated by GitHub with separate terms of service, privacy policy, and support documentation.
        <% else %>
          <strong><%= view.integration_name %></strong> is provided by a third-party and is governed by separate terms of service, privacy policy, and support documentation.
        <% end %>
      </p>
      <% if GitHub.user_abuse_mitigation_enabled? %>
        <%= link_to flavored_contact_path(report: "#{view.integration_name} (App)", flavor: "report-abuse"), rel: "nofollow", class: "muted-link text-small" do %>
          <%= octicon "report", class: "mr-2" %>Report abuse
        <% end %>
      <% end %>
    </div>
  </div>
</div>
