<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading, tag: :h2) do %>Recent Deliveries<% end %>
<% end %>

<% if disabled %>
  <p class="flash flash-error">
    <%= octicon "alert" %>
    <%= target %> is locked due to billing. Webhooks will not be delivered.
  </p>
<% end %>

<% if hook_deliveries_filter_enabled? && can_filter_hook_deliveries %>
  <%= render partial: "hook_deliveries/search_bar", locals: { hook: hook, hook_deliveries_query: hook_deliveries_query} %>
<% end %>

<include-fragment src="<%= hook_deliveries_path(hook, :deliveries_q => hook_deliveries_query) %>" >
  <p data-hide-on-error>
    <%= image_tag 'spinners/octocat-spinner-32.gif', :size => "16x16", :class => "spinner", :alt => "" %>
    Loading deliveries…
  </p>
  <p class="flash flash-error" data-show-on-error hidden>
    <%= octicon("alert") %>
    Sorry, something went wrong and we weren’t able to fetch the deliveries for this hook.
  </p>
</include-fragment>
