<details-dialog class="anim-fade-in fast Box Box--overlay lh-default">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">Delete <%= hook.display_name %>?</h3>
  </div>
  <div class="flash flash-full flash-warn">
    <% if hook.webhook? %>
      This action cannot be undone. Future events will no longer be delivered to this webhook
      <em>(<%= hook.url %>)</em>.
    <% else %>
      This action cannot be undone. Future events will no longer be delivered to this service.
    <% end %>
  </div>
  <div class="Box-footer">
    <%= button_to "Yes, delete #{hook.display_name}", hook_path(hook),
          class: 'btn btn-block btn-danger',
          method: :delete %>
  </div>
</details-dialog>
