<%# erblint:disable ProperTagNesting %>
<% hooks.each do |hook| %>
  <li class="listgroup-item hook-item clearfix <%= hook.enforcement_label.downcase %>">
    <span class="item-status">
      <%= octicon("primitive-dot", class: "icon-for-enabled") %>
      <%= octicon("primitive-dot", class: "icon-for-disabled") %>
    </span>
    <span class="item-name">
      <%= hook.name %>
    </span>

    <% if hook.hook_repository_exists? %>
      <details class="select-menu float-right select-menu-modal-right details-reset details-overlay">
        <summary class="btn btn-sm select-menu-button">
          <span data-menu-button>
            <%= hook.enforcement_button_label %>
          </span>
        </summary>

        <details-menu class="select-menu-modal position-absolute right-0" style="z-index:99">
          <div class="select-menu-header">
            <span class="select-menu-title">Hook permissions</span>
          </div>

          <div class="select-menu-list">
            <% hook.enforcement_choices.each do |label, value, description, configurable| %>
              <%= form_tag pre_receive_update_hook_path(current_context, hook.hook_id) do %>
                <button type="submit" class="select-menu-item" aria-checked="<%= hook.enforcement_button_value == value && hook.final? == configurable %>" role="menuitemradio" name="enforcement" value="<%= value %>">
                  <%= octicon('check', class: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= label %></span>
                    <span class="description"><%= description %></span>
                  </div>
                </button>
                <% if configurable %>
                  <input name="final" type="hidden" value="true">
                <% end %>
              <% end %>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% else %>
      </br>
      <span class="hook-error-message">Hook is disabled. The repository containing the hook no longer exists.</span>
    <% end %>
  </li>
<% end %>
