<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:counter TooltipCounter 1 %>
<div class="boxed-group hooks-listing">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Pre-receive hooks<% end %>
  <% end %>
  <p>Pre-receive hooks are scripts that run on the GitHub Enterprise server to enforce policy. When a push occurs, each script runs in an <a href="<%= GitHub.enterprise_admin_help_url %>/guides/developer-workflow/creating-a-pre-receive-hook-environment">isolated environment</a> to determine whether the push is accepted or rejected.</p>

  <% if view.enabled_final_hooks.any? || view.enabled_configurable_hooks.any? || view.disabled_configurable_hooks.any? %>

    <div>
      <ul class="listgroup">
      <% view.enabled_final_hooks.each do |hook| %>

        <li class="listgroup-item hook-item clearfix enabled">
          <span class="item-status">
            <%= octicon("primitive-dot", :class => "icon-for-enabled") %>
          </span>
          <span class="item-name">
            <%= hook.name %>
          </span>
          <% if hook.hook_repository_exists? %>
            <span class="tooltipped tooltipped-n float-right" aria-label="Enforced globally by the site administrator.">
              <button class="btn btn-sm select-menu-button" disabled type="button">
                <%= octicon('key') %>
                <%= hook.enforcement_label %>
              </button>
            </span>
          <% else %>
            <br>
            <span class="hook-error-message">Hook is disabled. The repository containing the hook no longer exists.</span>
          <% end %>
        </li>

      <% end %>
      <%= render :partial => "hooks/pre_receive_group", :locals => { :view => view, :hooks => view.enabled_configurable_hooks } %>
      <%= render :partial => "hooks/pre_receive_group", :locals => { :view => view, :hooks => view.disabled_configurable_hooks } %>
      </ul>
    </div>

  <% else %>

    <div class="blankslate">
      <% if current_user.site_admin? %>
        <p>No pre-receive hooks have been created yet.</p>
        <a href="<%= hooks_enterprise_path(GitHub.global_business) %>" class="btn btn-sm">Add pre-receive hook</a>
      <% else %>
        <h3>No pre-receive hooks yet.</h3>
        <p>Pre-receive hooks can only be added by the site administrator.</p>
      <% end %>
    </div>

  <% end %>
</div>
