<%# erblint:counter TooltipCounter 1 %>
<%= render "site/autofill_pw_workaround" %>
<p>
  We’ll send a <code>POST</code> request to the URL below with details of any subscribed events.
  You can also specify which data format you’d like to receive (JSON, <code>x-www-form-urlencoded</code>, <em>etc</em>).
  More information can be found in <a href="<%= GitHub.developer_help_url %>/webhooks/" target="_blank">our developer documentation</a>.
</p>

<hr class="bleed-flush compact">

<dl class="form-group required">
  <dt><%= form.label :url, "Payload URL" %></dt>
  <dd>
    <%= form.text_field :url, :placeholder => "https://example.com/postreceive", :class => "js-hook-url-field", :autocomplete => "off", :type => "url" %>
  </dd>
</dl>

<dl class="form-group">
  <dt><%= form.label :content_type %></dt>
  <dd>
    <%= form.select :content_type, view.content_types, :selected => view.content_type %>
  </dd>
</dl>

<dl class="form-group">
  <dt><%= form.label :secret %></dt>
  <dd>
    <%= render "hooks/secret_field", :field_name => "hook[secret]", :current_value => hook.secret %>
  </dd>
</dl>

<p class="flash flash-warn p-2 js-invalid-url-notice" hidden>
  <%= octicon("alert") %>
  <strong>This doesn’t look like a valid URL.</strong>
</p>

<%= render :partial => "hooks/webhook_ssl_fields", :locals => { :form => form, :hook => hook } %>

<dl class="form-group js-hook-events-field hook-events-field <%= 'is-custom' if view.custom_events %>">
  <dt><strong id="web_hook_event_triggers">Which events would you like to trigger this webhook?</strong></dt>
  <dd>
    <% if view.include_push_option? %>
        <div class="form-checkbox">
          <input type="radio" name="subscription-choice" <%= "checked" if view.push_event_only %>
                 class="js-hook-event-choice" value="push" id="hook-event-choice-push">
          <label class="hook-event-choice" for="hook-event-choice-push">
            Just the <code>push</code> event.
          </label>
        </div>
    <% end %>

    <div class="form-checkbox">
      <input type="radio" name="subscription-choice" <%= "checked" if view.wildcard_event %>
        class="js-hook-event-choice" value="all" id="hook-event-choice-everything">
      <label class="hook-event-choice" for="hook-event-choice-everything">
        Send me <strong>everything</strong>.
      </label>
    </div>

    <div class="form-checkbox">
      <input type="radio" name="subscription-choice" <%= "checked" if view.custom_events %>
        class="js-hook-event-choice" value="custom" id="hook-event-choice-individual">
      <label class="hook-event-choice" for="hook-event-choice-individual">
        Let me select individual events.
      </label>
    </div>

    <div class="hook-event-selector">
      <%= check_box_tag "hook[events][]", Hook::WildcardEvent, hook.events.include?(Hook::WildcardEvent),
            :class => 'd-none js-hook-event-checkbox js-hook-wildcard-event' %>
      <% view.hook_events.each do |event| %>
        <div class="hook-event form-checkbox">
          <label>
            <%= check_box_tag "hook[events][]", event.event_type, hook.events.include?(event.event_type),
                  :class => 'js-hook-event-checkbox', :id => nil %>
            <%= view.human_name(event.display_name) %>

            <% if event.feature_flagged? && event.flagged_actions.blank? %>
              <span class="tooltipped tooltipped-s" aria-label="This event is not yet public. If you would like to receive payloads for this event, you will need to explicitly choose it here.">
                <%= octicon("gist-secret") %>
              </span>
            <% end %>

            <p class="text-small text-gray">
              <%= event.description %>
            </p>
          </label>
        </div>
      <% end %>
    </div>

  </dd>
</dl>

<hr class="bleed-flush compact">

<%= render :partial => "hooks/webhook_active", :locals => { :form => form } %>
