<div class="form-checkbox">
  <label for="hook_active">
    <%= form.check_box :active, class: 'js-hook-active-checkbox' %>
    Active
  </label>
  <p class="note">We will deliver event details when this hook is triggered.</p>
</div>
