<%# rubocop:disable Lint/InstanceVariable %>
<% if GitHub.enterprise? %>
  <% page_info responsive: false, :title => "Hooks & Services", :selected_link => :hooks %>
<% else %>
  <% page_info \
    container_xl: true && current_context.is_a?(Repository),
    responsive: false,
    title: "Webhooks",
    selected_link: :hooks %>
<% end %>

<% content = capture do %>
  <include-fragment src="<%= url_for(:statuses => 1) %>">
    <%= render :partial => "hooks/hooks_bucket", :locals => {:hooks_view => @hooks_view} %>
  </include-fragment>
<% end %>

<% if current_context.is_a?(Repository) %>
  <% if hooks_view.admin_user?(current_context) %>
    <%= render layout: "edit_repositories/edit" do %>
      <%= content %>
    <% end %>
  <% else %>
    <%= render layout: "edit_repositories/fgp_edit_no_graphql" do %>
      <%= content %>
    <% end %>
  <% end %>
<% elsif current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% elsif current_context.is_a?(Business) %>
  <%= render layout: "businesses/layout",
    locals: {
      business: this_business,
      title: "Hooks",
      container_attributes: "itemscope itemtype='http://schema.org/Business'"
    } do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
