<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  container_xl: true,
  responsive: false,
  title: "Add #{@hook_view.hook_type}",
  selected_link: @hook_view.selected_link %>

<% content = capture do %>
  <div class="boxed-group">
    <h3>
      <a href="<%= installations_path(current_context) %>" class="boxed-group-breadcrumb" data-pjax="true"><%= @hook_view.hook_type_title %> /</a>
      Add <%= @hook.display_name %>
    </h3>
    <div class="boxed-group-inner">
      <% if @hook_view.legacy_service? %>
        <%= render partial: "hooks/services_deprecation_notice" %>
      <% end %>

      <%= form_for @hook, :url => hooks_path(current_context) do |f| %>
        <% case @hook_view.hook_type.to_sym %>
        <% when :service %>
          <%= render :partial => "hooks/service_form", :locals => {:form => f, :view => @hook_view, :hook => @hook} %>
        <% when :webhook %>
          <%= render :partial => "hooks/webhook_form", :locals => {:form => f, :view => @hook_view, :hook => @hook} %>
        <% end %>

        <p>
          <button type="submit" class="btn btn-primary">Add <%= @hook_view.hook_type %></button>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_context.is_a?(Repository) %>
    <% if @hook_view.admin_user?(current_context) %>
    <%= render layout: "edit_repositories/edit" do %>
      <%= content %>
    <% end %>
  <% else %>
    <%= render layout: "edit_repositories/fgp_edit_no_graphql" do %>
      <%= content %>
    <% end %>
  <% end %>
<% elsif current_context.is_a?(Business) %>
  <%= render layout: "businesses/layout",
    locals: {
      business: this_business,
      title: "Add new hook",
      container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% end %>
