Hi @<%= @repo.owner %>!

GitHub staff is requesting temporary access to <%= @repo.name_with_owner %>.

If approved, staff access will automatically be revoked after five days.

You may approve or deny this request here:

<%= @approvals_url %>

---
Sent with <3 by GitHub.
<%= GitHub.physical_address(multiline: true).join("\n") %>
