<%= render GitHub::OcticonComponent.new(icon: "rocket") %>
<% if environment.nil? %>
  <%# Fallback when environment can't be fetched.  %>
  <%= link_to environment_name, deployments_activity_log_path(current_repository.owner, current_repository, environment: environment_name), class: "text-bold link-gray-dark" %>
<% else %>
  <%= render Primer::LinkComponent.new(
    href: deployments_activity_log_path(current_repository.owner, current_repository, environment: environment_name),
    text: "bold",
    classes: "link-gray-dark",
    target: "_blank",
    mx: 2) do %>
    <%= environment.environment %>
  <% end %>
  <%= render Repositories::DeploymentStatusComponent.new(state: environment.state) %>
<% end %>
