<%= render Files::SidebarListComponent.new(
  title: "Package",
  href: packages_path(current_repository.owner, current_repository),
  count: view.repository_packages_count) do |component| %>
    <% if view.repository_packages_count == 0 %>
      <div class="text-small">
        No packages published <br>
        <%= link_to "Publish your first package", packages_path(current_repository.owner, current_repository) %>
      </div>
    <% else %>
      <%= include_cached_fragment(
            src: packages_list_path(current_repository: current_repository, items_to_show: component.items_to_show),
            "aria-busy": "true",
            "aria-label": "Loading latest packages") do %>
        <% Array.new(component.items_to_show).each do %>
          <div class="mb-2 d-flex flex-items-center">
            <div class="Skeleton mr-2" style="width:20px;height:20px;"></div>
            <div class="Skeleton Skeleton--text flex-auto">&nbsp;</div>
          </div>
        <% end %>
      <% end %>
    <% end %>
<% end %>
