<h2 class="h4 mb-3">
  <%= render Primer::LinkComponent.new(href: releases_path(current_repository), classes: "link-gray-dark no-underline") do %>
    Releases
    <% if view.latest_release %>
      <%= render Primer::CounterComponent.new(count: view.release_count, hide_if_zero: true) %>
    <% end %>
  <% end %>
</h2>

<% if view.latest_release %>
  <%= link_to release_path(view.latest_release), class: "link-gray-dark d-flex no-underline" do %>
    <%= render GitHub::OcticonComponent.new(icon: "tag", mt: 1, classes: "flex-shrink-0", color: "green") %>
    <div class="ml-2 min-width-0">
      <div class="d-flex">
        <span class="css-truncate css-truncate-target text-bold mr-2" style="max-width: none;"><%= view.latest_release.display_name %></span>
        <span class="flex-shrink-0 Label Label--outline Label--outline-green">
          Latest
        </span>
      </div>
      <div class="text-small text-gray"><%= time_ago_in_words_js view.latest_release_published_at %></div>
    </div>
  <% end %>
  <% if view.release_count > 1 %>
    <%= render Primer::BoxComponent.new(mt: 3) do %>
      <%= render Primer::LinkComponent.new(href: releases_path(current_repository), text: :small) do %>
        + <%= number_with_delimiter(view.release_count - 1) %> <%= "release".pluralize(view.release_count - 1) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if view.release_count > 0 %>
    <%= link_to releases_path(current_repository), class: "link-gray-dark no-underline" do %>
      <%= render GitHub::OcticonComponent.new(icon: "tag") %>
      <span class="text-bold"><%= number_with_delimiter(view.release_count) %></span>
      <span class="text-gray"><%= "tags".pluralize(view.release_count) %></span>
    <% end %>
  <% else %>
    <div class="text-small">No releases published</div>
  <% end %>
  <% if current_repository.writable_by?(current_user) %>
    <div class="<% if view.release_count > 0 %>mt-3<% end %> text-small"><%= link_to "Create a new release", new_release_path_helper %></div>
  <% end %>
<% end %>
