<%graphql
  fragment Root on Query {
    users: nodes(ids: $sponsorableUsersIds) {
      ... on User {
        login
        name
        viewerCanSee: isViewer
        ...ApplicationHelper::ActorProfileLink::Actor
        ...AvatarHelper::AvatarFragment::Actor
        ... on Sponsorable {
          viewerIsSponsoring
          viewerCanSponsor
          ...ApplicationHelper::SponsorButton::Sponsorable
        }
      }
    }

    orgs: nodes(ids: $sponsorableOrgsIds) {
      ... on Organization {
        login
        name
        viewerCanSee: viewerCanAdminister
        ...ApplicationHelper::ActorProfileLink::Actor
        ...AvatarHelper::AvatarFragment::Actor
        ... on Sponsorable {
          viewerIsSponsoring
          viewerCanSponsor
          ...ApplicationHelper::SponsorButton::Sponsorable
        }
      }
    }
  }
%>
<%
  data = Views::Files::Sidebar::SponsorsList::Root.new(data)

  sponsorable = [data.orgs, data.users].flatten
%>
<% if block_button %>
  <% sponsorable.each do |user| %>
    <% show_sponsors_button = user.viewer_is_sponsoring? || user.viewer_can_sponsor? || user.viewer_can_see? %>
    <div class="d-flex mb-3">
      <%= graphql_profile_link(user) do %>
        <%= graphql_avatar_for(user, 32, class: "avatar d-block mr-2") %>
      <% end %>
      <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
        <%= graphql_profile_link(user, skip_hovercard: true, class: "link-gray-dark no-underline") do %>
          <strong><%= user.login %></strong>
          <% if user.name.present? %><span class="text-gray"><%= user.name %></span><% end %>
        <% end %>
      </span>
    </div>
    <% if show_sponsors_button %>
      <%= graphql_sponsor_button_for(user, class: "btn btn-block") %>
    <% end %>
  <% end %>
<% else %>
  <ul class="list-style-none">
    <% sponsorable.each do |user| %>
      <% show_sponsors_button = user.viewer_is_sponsoring? || user.viewer_can_sponsor? || user.viewer_can_see? %>
      <li class="mb-2 d-flex">
        <%= graphql_profile_link(user) do %>
          <%= graphql_avatar_for(user, 32, class: "avatar d-block mr-2") %>
        <% end %>
        <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
          <%= graphql_profile_link(user, skip_hovercard: true, class: "link-gray-dark no-underline") do %>
            <strong><%= user.login %></strong>
            <% if user.name.present? %><span class="text-gray"><%= user.name %></span><% end %>
          <% end %>
        </span>
        <% if show_sponsors_button %>
          <%= graphql_sponsor_button_for(user, class: "btn btn-sm d-flex flex-items-center", hide_text: true) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
