<% external_accounts = current_repository.funding_links.external_funding_accounts %>
<h2 class="h4 mb-3">Sponsor this project</h2>
<%= include_cached_fragment(
      src: sponsors_list_path(current_repository: current_repository, block_button: view.sponsorable_count == 1 && !external_accounts.any?),
      "aria-busy": "true",
      "aria-label": "Loading sponsorable links") do %>
      <% if view.sponsorable_count == 1 && !external_accounts.any? %>
        <div class="d-flex mb-3">
          <div class="Skeleton avatar avatar-user mr-2" style="width:32px;height:32px;"></div>
          <div class="Skeleton Skeleton--text flex-1 flex-self-center f4">&nbsp;</div>
        </div>
        <button type="button" disabled class="btn btn-block">
          <%= render GitHub::OcticonComponent.new(icon: "heart-outline", class: "icon-sponsor text-pink mr-1") %> Sponsor
        </button>
      <% else %>
        <ul class="list-style-none">
          <% Array.new(view.sponsorable_count).each do %>
            <li class="mb-2 d-flex">
              <div class="Skeleton avatar avatar-user mr-2" style="width:32px;height:32px;"></div>
              <div class="Skeleton Skeleton--text flex-1 flex-self-center f4">&nbsp;</div>
            </li>
          <% end %>
        </ul>
      <% end %>
<% end %>
<% if external_accounts.any? %>
  <ul class="list-style-none">
    <% external_accounts.each do |platform, account| %>
      <% Array(account).each do |acc| %>
        <li class="mb-2 d-flex">
          <span class="mr-2 d-flex flex-items-center flex-justify-center" style="min-width:32px;height:32px;">
            <%= funding_platform_icon(platform, size: 32) %>
          </span>
          <span class="flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
            <%= funding_link(platform, acc) %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<div class="text-small mt-3">
  Learn more about <a href="/sponsors">GitHub Sponsors</a>
</div>
