<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :fiscal_host } do %>
  <div class="Subhead d-flex flex-items-center flex-auto">
    <div class="Subhead-heading">Fiscal host</div>
  </div>

  <%= form_with url: sponsorable_dashboard_fiscal_host_transactions_path, class: "d-flex flex-items-end", method: :get do |f| %>
    <dl class="form-group">
      <dt>
        <label>Export Transaction History</label>
        <p class="note" id="legal-name-description">
          Export transactions for the organizations using your fiscal host in the requested timeframe.
        </p>
      </dt>
      <dd>
        <%= f.label(:timeframe, "Timeframe", for: :timeframe, class: "mr-2") %>
        <%= f.select(:timeframe, [["All-time", "all"], ["Past Month", "month"]], {}, class: "form-control", id: "timeframe") %>
        <%= f.submit("Export", class: "btn") %>
      </dd>
    </dl>

    <hr class="bleed-flush">
  <% end %>

  <%= form_with url: sponsorable_dashboard_fiscal_host_payouts_path, class: "d-flex flex-items-end", method: :get do |f| %>
    <dl class="form-group">
      <dt>
        <label>Export Payouts History</label>
        <p class="note" id="legal-name-description">
          Export payouts for the organizations using your fiscal host in the requested timeframe.
        </p>
      </dt>
      <dd>
        <%= f.label(:timeframe, "Timeframe", for: :timeframe, class: "mr-2") %>
        <%= f.select(:timeframe, [["All-time", "all"], ["Past Month", "month"]], {}, class: "form-control", id: "timeframe") %>
        <%= f.submit("Export", class: "btn") %>
      </dd>
    </dl>

    <hr class="bleed-flush">
  <% end %>
<% end%>
