<%# rubocop:disable Lint/InstanceVariable %>
<div class="Box-header"><h3 class="Box-title">Crop your new <%= human_avatar_name(@avatar) %></h3></div>
<%= form_tag nil, method: :post, class: "d-flex flex-column flex-auto", style: "min-height: 0;" do -%>
  <div class="Box-body overflow-auto">
    <image-crop src="<%= @avatar.original_url(current_user) %>" class="image-crop-<%= @avatar.owner.class.name.downcase %>">
      <div
        data-loading-slot
        class="profile-picture-spinner"
        style="height:<%= @avatar.scaled_height(400) %>px">
      </div>
      <input type="hidden" data-image-crop-input="x" name="cropped_x">
      <input type="hidden" data-image-crop-input="y" name="cropped_y">
      <input type="hidden" data-image-crop-input="width" name="cropped_width">
      <input type="hidden" data-image-crop-input="height" name="cropped_height">
    </image-crop>
  </div>

  <div class="Box-footer">
    <button type="submit" name="op" value="save" class="btn btn-primary btn-block" data-disable-with>
      Set new <%= human_avatar_name(@avatar) %>
    </button>
  </div>
<% end -%>
