<%graphql
  fragment Subscription on NotificationThreadSubscription {
    createdAt
    databaseId

    thread {
      ... on Issue {
        author {
          ...ApplicationHelper::ActorProfileLink::Actor
        }
        comments {
          totalCount
        }
        createdAt
        updatedAt
        number
        repository {
          nameWithOwner
          url
          ...HovercardHelper::DataAttributesFragment::Repository
        }
        title
        url
        ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
        ...NotificationsHelper::OcticonFragment::Subject
      }

      ... on PullRequest {
        author {
          ...ApplicationHelper::ActorProfileLink::Actor
        }
        comments {
          totalCount
        }
        createdAt
        updatedAt
        number
        repository {
          nameWithOwner
          url
          ...HovercardHelper::DataAttributesFragment::Repository
        }
        title
        url
        ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
        ...NotificationsHelper::OcticonFragment::Subject
      }
    }
  }
%>
<%
  page_info(title: "Notifications · Subscriptions")
%>

<div class="container-lg px-md-3 px-0 pt-md-3 pt-2">
  <%= render(Primer::BreadcrumbComponent.new(mt: [2, 2, 0, 0], px: [3, 3, 0, 0], mb: 3, font_size: 5)) do |component| %>
    <% component.slot(:item, href: global_notifications_path(:all => nil)) do %>Notifications<% end %>
    <% component.slot(:item, selected: true) do %>Subscriptions<% end %>
  <% end %>

  <div class="px-md-0 px-3 tabnav">
    <%= render partial: "notifications/navigation", locals: { selected_tab: "subscriptions" } %>
  </div>

  <% if view.unauthorized_ip_whitelisting_targets.any? %>
    <div class="Box Box--condensed mb-2">
      <ul>
        <% view.unauthorized_ip_whitelisting_targets.each do |unauthed_target| %>
          <li class="d-flex flex-items-center Box-row p-2">
            <%= octicon("shield-lock", height: 14, class: "text-gray mr-2") %>
            <p class="note">
              <%= restricted_ip_whitelisting_target_hint(unauthed_target, text: "to see subscriptions", join_word: "from") %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if view.unauthorized_saml_targets.any? %>
    <div class="Box Box--condensed mb-2">
      <ul>
        <% view.unauthorized_saml_targets.each do |unauthed_target| %>
          <li class="d-flex flex-items-center Box-row p-2">
            <%= octicon("shield-lock", height: 14, class: "text-gray mr-2") %>
            <p class="note">
              <%= restricted_sso_target_link(unauthed_target, return_to: notification_subscriptions_path, text: "to see subscriptions", join_word: "from") %>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Box js-check-all-container mx-md-0 mx-3">
    <div class="Box-header d-flex top-0 position-sticky position-md-static" style=" z-index: 1;">
      <label class="mr-3 flex-shrink-0">
        <input type="checkbox" data-check-all aria-label="Select all subscriptions">
      </label>

      <div class="Box-title flex-auto">
        Subscriptions
        <%= render Primer::CounterComponent.new(count: view.subscription_count, limit: 1000) %>
      </div>

      <%= render partial: "notification_subscriptions/actions" %>

      <div class="d-md-inline-block d-none">
        <%= render partial: "notification_subscriptions/filters", locals: { view: view } %>
      </div>
    </div>

    <%= render partial: "notification_subscriptions/selected_filters", locals: { reason: view.reason, repository: view.selected_repository } %>

    <% if view.visible_subscriptions.empty? %>
      <div class="Box-body p-0">
        <div class="blankslate rounded-0 border-0 blankslate-spacious blankslate-large">
          <%= octicon("bell", height: 40, class: "blankslate-icon") %>
          <h3>No results matched your search.</h3>
        </div>
      </div>
    <% else %>
      <%= form_tag destroy_notification_subscriptions_path, method: :delete, id: "threads-unsubscribe-form" do %>
        <ul
          <%= "data-discussion-hovercards-enabled" if discussions_enabled? %>
          data-issue-and-pr-hovercards-enabled
          data-repository-hovercards-enabled
          data-team-hovercards-enabled>
          <% view.visible_subscriptions.each do |graphql_subscription| %>
            <%
              subscription = Views::NotificationSubscriptions::Index::Subscription.new(graphql_subscription)
              thread = subscription.thread
              name_with_owner = thread.repository.name_with_owner
              repository_url = thread.repository.url
              repository_hovercard_attributes = hovercard_data_attributes_for_repository(thread.repository)
              thread_hovercard_attributes = hovercard_data_attributes_for_issue_or_pr(thread)
              creation_descriptor = "opened"
            %>
            <li class="Box-row Box-row--hover-gray notification-thread-subscription py-2">
              <div class="d-flex flex-row py-2 no-underline">
                <label class="flex-shrink-0 mr-md-3 mr-2">
                  <input type="checkbox" data-check-all-item class="js-notification-subscriptions-check" name="subscription_ids[]" value="<%= subscription.database_id %>" aria-labelledby="<%= "subscription_link_#{subscription.database_id}" %>">
                </label>

                <span class="mr-2">
                  <%= graphql_notification_octicon_for(thread) %>
                </span>

                <div class="flex-auto mt-n1 pr-md-0 pr-3 min-width-0">
                  <%=
                    link_to(
                      name_with_owner,
                      repository_url.to_s,
                      class: "d-md-inline-block d-block v-align-middle muted-link h4 pr-1",
                      data: repository_hovercard_attributes
                    )
                  %>
                  <%=
                    link_to(
                      thread.title,
                      thread.url.to_s,
                      class: "link-gray-dark v-align-middle no-underline h4",
                      data: thread_hovercard_attributes,
                      id: "subscription_link_#{subscription.database_id}"
                    )
                  %>
                  <p class="text-small mt-1 mb-0 text-gray">
                    <span>#<%= thread.number %></span>
                    <%= creation_descriptor %>
                    <%= time_ago_in_words_js(thread.created_at) %>
                    <% if thread.author %>
                      by <%= graphql_profile_link(thread.author, class: "muted-link") %>
                    <% end %>
                    <% if subscription.created_at %>
                      &bull; subscribed
                      <%= time_ago_in_words_js(subscription.created_at) %>
                    <% end %>
                    &bull; updated
                    <%= time_ago_in_words_js(thread.updated_at) %>
                  </p>
                </div>
                <div class="d-flex flex-row text-gray">
                  <span class="mr-1">
                    <%= octicon("comment", "height" => 16, "width" => 16, "class" => "flex-shrink-0", "aria-label": "Comment") %>
                  </span>
                  <span class="text-small text-gray"><%= thread.comments.total_count %></span>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>

  <% if view.paginate? %>
    <nav class="paginate-container" aria-label="Pagination" data-pjax>
      <%= cursor_paginate(view.page_info, previous_label: "Previous", next_label: "Next") %>
    </nav>
  <% end %>
</div>

<% content_for :scripts do %>
  <%= javascript_bundle "notifications" %>
<% end %>
