<div class="js-actions-runner-instructions">
  <%= render partial: "actions/settings/add_runner_selection", locals: {
      platform: platform,
      os: os,
      architecture: architecture,
      downloads: downloads,
      platform_options: platform_options
    }
  %>

  <h2 class="f5 py-2 mt-3">Download</h2>

  <div class="js-actions-runner-windows-instructions"<% if platform != "Windows" %> hidden<% end %>>
    <p>We recommend configuring the runner under "\actions-runner". This will help avoid issues related to service identity folder permissions and long path restrictions on Windows.</p>
    <%= render partial: "actions/settings/add_runner_code", locals: {
      platform: "win",
      commands: [
        { desc: "Create a folder under the drive root", body: "mkdir actions-runner; cd actions-runner" },
        {
          desc: "Download the latest runner package",
          body_arr: ["Invoke-WebRequest -Uri ", content_tag(:span, selected_download.download_url, class: "js-action-runner-url"), " -OutFile ", content_tag(:span, selected_download.filename, class: "js-action-runner-filename")]
        },
        {
          desc: "Extract the installer",
          body_arr: ["Add-Type -AssemblyName System.IO.Compression.FileSystem ; [System.IO.Compression.ZipFile]::ExtractToDirectory(\"$PWD/", content_tag(:span, selected_download.filename, class: "js-action-runner-filename"), "\", \"$PWD\")"]
        },
      ]
    } %>

      <h2 class="f5 py-2">Configure</h2>

      <%= render partial: "actions/settings/add_runner_code", locals: {
        platform: "win",
        commands: [
          { desc: "Create the runner and start the configuration experience", body: "./config.cmd --url #{registration_url} --token #{token}" },
          { desc: "Run it!", body: "./run.cmd" }
        ]
      } %>
  </div>

  <div class="js-actions-runner-unix-instructions"<% if platform == "Windows" %> hidden<% end %>>
    <%= render partial: "actions/settings/add_runner_code", locals: {
      platform: "unix",
      commands: [
        { desc: "Create a folder", body: "mkdir actions-runner && cd actions-runner" },
        {
          desc: "Download the latest runner package",
          body_arr: ["curl -O -L ", content_tag(:span, selected_download.download_url, class: "js-action-runner-url")]
        },
        {
          desc: "Extract the installer",
          body_arr: ["tar xzf ./", content_tag(:span, selected_download.filename, class: "js-action-runner-filename")]
        },
      ]
    } %>

    <h2 class="f5 py-2">Configure</h2>

    <%= render partial: "actions/settings/add_runner_code", locals: {
      platform: "unix",
      commands: [
        { desc: "Create the runner and start the configuration experience", body: "./config.sh --url #{registration_url} --token #{token}" },
        { desc: "Last step, run it!", body: "./run.sh" }
      ]
    } %>
  </div>

  <h2 class="f5 py-2">Using your self-hosted runner</h2>

  <div class="bg-gray border-0 rounded-2 p-3">
    <code class="f6 p-0 lh-default">
    <span class="text-gray-light px-2"># Use this yaml in your workflow file for each job</span><br>
    runs-on: self-hosted
    </code>
  </div>
  <p class="py-2">
    For additional details about configuring, running, or shutting down the runner please check out our 
    <a href="<%= GitHub.help_url %>/github/automating-your-workflow-with-github-actions/hosting-your-own-runners">product docs</a>.
  </p>
</div>
