<details class="details-reset details-overlay d-inline-block ml-1 js-runner-bulk-menu">
  <summary class="" aria-haspopup="menu">
    <span><%= menu_name %></span>
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter" src="<%= menu_path %>" preload>
    <%= form_tag update_path,
    method: :put,
    hidden: true,
    "data-replace-remote-form": true,
    class: "js-runner-bulk-form" do %>
    <% runner_ids.each do |runner| %>
      <input type="hidden" name="runner_ids[]" value="<%= runner %>">
    <% end %>
    <% end %>
    <div class="SelectMenu-modal">
      <include-fragment class="SelectMenu-loading">
        <%= octicon "octoface", class: "anim-pulse", width: 32 %>
      </include-fragment>
    </div>
  </details-menu>
</details>
