<% if GitHub.flipper[:fork_pr_workflows_policy].enabled?(flag_entity) %>
  <%= form_tag action, method: :put, class: "my-4" do %>
    <h3 class="text-normal">Fork Pull Request Workflows</h3>

    <% unless entity.is_a?(Repository) %>
      <p class="mb-2">These settings apply to private repositories. <%=
      entity.is_a?(Business) ? "Organization and repository" : "Repository"
      %> administrators will only be able to change the settings that are
      <em>enabled</em> here.</p>
    <% end %>

    <div class="form-checkbox">
      <%= check_box_tag "fork_pr_workflows_policy[run_workflows]",
        "1",
        entity.can_run_fork_pr_workflows?,
        class: "form-checkbox-details-trigger",
        disabled: !entity.can_enable_fork_pr_workflows? %>

      <label for="fork_pr_workflows_policy_run_workflows">
        Run workflows from fork pull requests
      </label>

      <p class="note">This tells Actions to run workflows from pull requests
      originating from repository forks. Note that doing so will give
      maintainers of those forks the ability to use tokens with read
      permissions on the source repository.</p>

      <div class="form-checkbox-details" aria-live="polite">
        <div class="form-checkbox">
          <%= check_box_tag "fork_pr_workflows_policy[write_tokens]",
            "1",
            entity.can_run_fork_pr_workflows_with_write_tokens?,
            disabled: !entity.can_enable_fork_pr_workflows_with_write_tokens? %>

          <label for="fork_pr_workflows_policy_write_tokens">
            Send write tokens to workflows from fork pull requests.
          </label>

          <p class="note">This tells Actions to send tokens with
          <strong>write</strong> permissions to workflows from pull requests
          originating from repository forks. Note that doing so will give
          maintainers of those forks <strong>write</strong> permissions
          against the source repository.</p>
        </div>

        <div class="form-checkbox">
          <%= check_box_tag "fork_pr_workflows_policy[send_secrets]",
            "1",
            entity.can_run_fork_pr_workflows_with_secrets?,
            disabled: !entity.can_enable_fork_pr_workflows_with_secrets? %>

          <label for="fork_pr_workflows_policy_send_secrets">
            Send secrets to workflows from fork pull requests.
          </label>

          <p class="note">This tells Actions to send repository secrets to
          workflows from pull requests originating from repository forks.</p>
        </div>
      </div>
    </div>

    <button class="btn ml-3" type="submit">Save</button>
  <% end %>
<% end %>