<li class="Box-row Box-row--hover-gray" <%= test_selector("unknown-group-id") %>>
  <div class="Box">
    <div class="Box-header">
      <h3 class="Box-title" >
        Unable to infer group ID
      </h3>
      <br>
      <small>The group ID was not set during setup but may have been set on initialize</small>
    </div>
    <table class="stafftools-table">
      <thead>
        <th class="no-wrap billing-table-cell">Processor Class</th>
      </thead>
      <tbody>
        <% processors.each do |processor| %>
          <tr class="Box-row">
            <td><span><%= processor.class %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</li>
