<div class="mt-4 border-top pt-4" <%= test_selector("sponsors-goals-impact") %>>
  <div class="position-relative mb-3 js-sponsors-goals-impact">
    <span class="Progress">
      <span
        class="<%= progress_bar_css_class %> js-sponsors-goals-impact-progress-bar"
        style="width: <%= @goal.percent_complete %>%;"
        data-percentage-impact="<%= percentage_impact %>"
      >
      </span>
    </span>

    <% if will_complete? %>
      <div class="position-absolute right-0 js-sponsors-goals-impact-heart" style="top: -16px;" hidden>
        <span class="CircleBadge box-shadow-none" style="width: 40px; height: 40px;"></span>
        <div class="sponsors-goals-heart-anim position-absolute" style="top: -30px; right: -30px;"></div>
      </div>
    <% end %>
  </div>

  <div class="Box Box--spacious bg-gray rounded-2 border-0 mb-3">
    <div class="Box-body d-flex border-0">
      <img
        src="<%= image_path("modules/site/sponsors/pixel-mona-heart.gif") %>"
        alt="Pixel Mona Heart"
        width="32"
        height="32"
      >
      <p class="ml-3 flex-1">
        <% if will_complete? %>
          Wow! You'll push @<%= @sponsorable.login %> over the line to <strong>achieve</strong> their goal!
        <% else %>
          You'll be @<%= @sponsorable.login %>'s <strong><%= (sponsorships_count + 1).ordinalize %></strong> sponsor,
          helping them reach their goal of <strong><%= @goal.title %></strong>.
        <% end %>
      </p>
    </div>
  </div>

  <div class="mt-4 overflow-hidden" style="max-height: 55px;" <%= test_selector("goal-sponsors") %>>
    <% @sponsorships.each do |sponsorship| %>
      <% if sponsorship.privacy_public? %>
        <div class="float-left mb-1 mr-1" style="width:24px;height:24px;" <%= test_selector("goal-sponsor-avatar") %>>
          <%= linked_avatar_for(sponsorship.sponsor, 24, img_class: "avatar avatar-small") %>
        </div>
      <% else %>
        <div class="mr-1 mb-1 no-underline border text-center text-gray rounded-1 v-align-middle text-small bg-gray-2 tooltipped tooltipped-n avatar-user avatar avatar-small float-left"
          aria-label="Private sponsor" style="width:24px;height:24px;line-height:22px;" <%= test_selector("goal-sponsor-avatar") %>>
          <%= octicon "person", width: 11 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
