<div class="Box box-shadow-medium mb-3 anim-scale-in" <%= test_selector("sponsorship-canceled-survey") %>>
  <div class="Box-row">
    <p>
      👋 <strong>Help us improve GitHub Sponsors</strong> by answering a short
      survey about why you canceled your sponsorship:
    </p>
    <%= form_with url: sponsorable_sponsorship_canceled_survey_response_path(@sponsorable), class: "mb-3" do |f| %>
      <fieldset class="mb-2 js-validate-at-least-one-checkbox-checked" data-none-checked-error-message="Please select at least one of these options.">
        <% canceled_reason_question.choices.each do |choice| %>
          <%= f.hidden_field "answers[][question_id]", { value: canceled_reason_question.id } %>
          <label class="text-normal">
            <div class="mb-2 d-flex flex-items-center">
              <%=
                f.check_box(
                  "answers[][choice_id]",
                  { include_hidden: false, class: "mr-2 js-survey-checkbox" },
                  choice.id
                )
              %>
              <span>
                <%= choice.text %>
              </span>
            </div>
          </label>
        <% end %>
      </fieldset>
      <%= f.submit("Submit response", class: "btn btn-primary") %>
    <% end %>
    <p class="text-small text-gray mb-0">
      We will handle any information you provide in accordance with our
      <a href="<%= GitHub.help_url %>/articles/github-privacy-statement/" target="_blank">Privacy Statement</a>
      and we will only use it to improve the Sponsors program.
    </p>
  </div>
</div>
