<%= render(Primer::FlashComponent.new(variant: :warning, p: 3, mt: 3)) do %>
  <span class="text-small text-gray" <%= test_selector("yearly-plan-disclaimer") %>>
    You are on a <%= link_to "yearly billing cycle", settings_user_billing_path %> and
    will be charged <strong><%= formatted_yearly_price %></strong> every year starting
    on <strong><%= formatted_next_billing_date %></strong>.
  </span>
<% end %>
