<%# erblint:counter TooltipCounter 1 %>
<%= form_tag submit_path, method: :put, class: "select-menu select-menu-modal-right d-flex flex-items-center js-select-repo-permission" do %>
  <details class="details-reset details-overlay position-relative">
    <summary class="btn btn-sm select-menu-button" data-menu-button>
      <%= selected_permission.titlecase %>
    </summary>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99; max-width: 70vw;">
      <div class="select-menu-header">
        <span class="select-menu-title">Permission level</span>
      </div>
      <div class="select-menu-list">
        <button
          type="submit"
          name="permission"
          value="admin"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "ADMIN" %>"
          role="menuitemradio">

          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Admin</span>
            <span class="description">Able to see, make changes to, and add new collaborators to this project.</span>
          </div>
        </button>

        <button
          type="submit"
          name="permission"
          value="write"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "WRITE" %>"
          role="menuitemradio">

          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Write</span>
            <span class="description">Able to see and make changes to this project.</span>
          </div>
        </button>

        <button
          type="submit"
          name="permission"
          value="read"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "READ" %>"
          role="menuitemradio">

          <%= octicon("check", class: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Read</span>
            <span class="description">Able to see this project.</span>
          </div>
        </button>
      </div>
    </details-menu>
  </details>
  <span class="js-permission-success" hidden aria-label="Save successful">
    <%= octicon("check", class: "text-green ml-3") %>
  </span>
  <span class="js-permission-error ml-3 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again">
    <%= octicon("alert", class: "text-red") %>
  </span>
  <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="16" alt="">
<% end %>
