<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment ProjectOwner on ProjectOwner {

    ... on Organization {
      login
    }

    ... on User {
      login
    }

    project(number: $projectNumber) {
      id
      linkableRepositoriesResourcePath
      linkedRepositoriesSettingsResourcePath

      linkedRepositories {
        id
        name
        description
        isPrivate
      }
    }
  }
%>

<% project_owner = Views::ProjectSettings::SearchRepositoriesToLink::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<div class="text-center">
  <div class="d-flex flex-items-center flex-justify-center my-3">
    <%= octicon("project", height: 32, class: "blankslate-icon mb-0") %>
    <%= octicon("link", height: 16, class: "mx-3 text-gray") %>
    <%= octicon("repo", height: 32, class: "blankslate-icon mb-0") %>
  </div>
  <h1 class="add-to-org-title mt-3 pb-2">Link a repository</h1>
  <p class="text-gray mb-0">
    Search repositories owned by <span class="text-bold"><%= project_owner.login %></span> to link repositories to this project for more accurate suggestions and better search results.
  </p>
</div>

<%= form_tag project.linked_repositories_settings_resource_path.to_s, method: :post, class: "px-3 pb-3 mt-4 input-block" do %>
  <div class="input-group">
    <auto-complete src="<%= project.linkable_repositories_resource_path.to_s %>" for="project-repository-links-search" class="auto-search-group d-block">
      <input
        type="text"
        name="[project_repository_link]repository_name"
        class="form-control auto-search-input input-block input-contrast"
        aria-label="Search by repository name"
        placeholder="Search by repository name"
        autofocus
        required>
      <%= octicon("repo") %>
      <ul id="project-repository-links-search" class="autocomplete-results"></ul>
    </auto-complete>
    <div class="input-group-button"><button type="submit" class="btn js-auto-complete-button" data-disable-with="Linking…">Link</button></div>
  </div>
<% end %>
