<%# erblint:disable LandmarkHasLabel %>
<%graphql
  # This needs to be on ProjectOwner instead of just Project, so we can check
  # if the owner is an organization.
  fragment ProjectOwner on ProjectOwner {
    project(number: $projectNumber) {
      viewerCanUpdate
      viewerCanAdminister

      settingsResourcePath
      teamsSettingsResourcePath
      usersSettingsResourcePath
      linkedRepositoriesSettingsResourcePath
      adminsSettingsResourcePath
    }
  }
%>
<% project_owner = Views::ProjectSettings::Tabs::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<nav class="UnderlineNav UnderlineNav--full d-lg-none" data-pjax>
  <div class="container-lg UnderlineNav-container">
    <div class="UnderlineNav-body">
      <% if project.viewer_can_administer? %>
        <%= selected_link_to "Options", project.settings_resource_path.to_s, class: "UnderlineNav-item" %>

        <% if project_owner.is_a?(PlatformTypes::Organization) %>
          <%= selected_link_to "Teams", project.teams_settings_resource_path.to_s, class: "UnderlineNav-item" %>
        <% end %>

        <%= selected_link_to "Collaborators", project.users_settings_resource_path.to_s, class: "UnderlineNav-item" %>
      <% else %>
        <%= selected_link_to "Administrators", project.admins_settings_resource_path.to_s, class: "UnderlineNav-item" %>
      <% end %>

      <% if project.viewer_can_update? %>
        <%= selected_link_to "Linked repositories", project.linked_repositories_settings_resource_path.to_s, class: "UnderlineNav-item" %>
      <% end %>
    </div>
  </div>
</nav>

<nav class="menu d-none d-lg-block mr-lg-4" style="width: 225px" data-pjax>
  <% if project.viewer_can_administer? %>
    <%= selected_link_to "Options", project.settings_resource_path.to_s, class: "menu-item" %>

    <% if project_owner.is_a?(PlatformTypes::Organization) %>
      <%= selected_link_to "Teams", project.teams_settings_resource_path.to_s, class: "menu-item" %>
    <% end %>

    <%= selected_link_to "Collaborators", project.users_settings_resource_path.to_s, class: "menu-item" %>
  <% else %>
    <%= selected_link_to "Administrators", project.admins_settings_resource_path.to_s, class: "menu-item" %>
  <% end %>

  <% if project.viewer_can_update? %>
    <%= selected_link_to "Linked repositories", project.linked_repositories_settings_resource_path.to_s, class: "menu-item" %>
  <% end %>
</nav>
