<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment ProjectTeamEdge on ProjectTeamEdge {
    permission

    projectTeamResourcePath

    node {
      databaseId
      name
      description

      resourcePath

      members {
        totalCount
      }
    }
  }
%>
<% team_edge = Views::ProjectSettings::Team::ProjectTeamEdge.new(team_edge) %>

<li class="d-flex flex-items-stretch table-list-item collab-list-item js-repo-access-entry" data-team-id="<%= team_edge.node.database_id %>">
  <div class="col-6 float-left d-flex flex-items-center px-2 py-3 table-list-cell collab-list-cell">
    <a class="flex-auto overflow-hidden collab-team-link" href="<%= team_edge.node.resource_path %>" style="width: auto">
      <div class="collab-info">
        <strong class="collab-name"><%= team_edge.node.name %></strong>
        <% if team_edge.node.description.present? %>
          <p class="description"><%= team_edge.node.description %></p>
        <% end %>
        <span><%= pluralize team_edge.node.members.total_count, "member" %></span>
      </div>
    </a>
  </div>

  <div class="col-4 float-left d-flex flex-items-center px-2 py-3 table-list-cell collab-list-cell permission-level-cell">
    <span class="flex-auto">
      <%= render partial: "project_settings/permission_select", locals: {
            selected_permission: team_edge.permission,
            submit_path: team_edge.project_team_resource_path.to_s
          } %>
    </span>
  </div>

  <div class="col-2 float-left d-flex flex-items-center pl-2 pr-2 pr-md-4 py-3 table-list-cell collab-list-cell">
    <span class="flex-auto collab-meta collab-remove p-0" style="width: auto">
      <%= form_tag team_edge.project_team_resource_path.to_s, "data-error-message": "Sorry, we couldn’t remove access. Please try again.", method: :delete, class: "js-remove-repo-access-form" do %>
        <button type="submit" class="btn-link remove-link tooltipped tooltipped-s" aria-label="Revoke this team’s access to this project.">
          <%= octicon("x") %>
        </button>
      <% end %>
    </span>
  </div>
</li>
