<%# erblint:disable LandmarkHasLabel %>
<%# erblint:counter TooltipCounter 1 %>
<%# erblint:disable ButtonHasType %>
<%graphql
  fragment ProjectOwner on ProjectOwner {
    project(number: $projectNumber) {
      id
      hasMaxLinkedRepositories
      linkedRepositoriesSettingsResourcePath

      suggestedRepositoriesToLink {
        id
        name
        description
        isPrivate
      }

      linkedRepositories {
        id
        name
        description
        isPrivate
        ...RepositoriesHelper::RepositoryLabelFragment
      }
    }

    ...Views::ProjectSettings::Breadcrumbs::ProjectOwner
    ...Views::ProjectSettings::Tabs::ProjectOwner
    ...Views::ProjectSettings::SearchRepositoriesToLink::ProjectOwner
  }
%>

<% project_owner = Views::ProjectSettings::LinkedRepositories::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<% page_info title: "Linked repositories · Project settings" %>

<%= render partial: "project_settings/breadcrumbs", locals: { project_owner: project_owner } %>

<div class="d-flex flex-column flex-lg-row mt-lg-4">
  <div class="mb-lg-0 mb-4" role="navigation">
    <%= render partial: "project_settings/tabs", locals: { project_owner: project_owner } %>
  </div>

  <div class="flex-auto">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading) do %>Linked repositories<% end %>
      <% component.slot(:actions) do %>
        <% if project.has_max_linked_repositories? %>
          <button class="btn btn-sm btn-primary tooltipped tooltipped-s tooltipped-multiline"
              aria-label="Maximum number of <%= pluralize(Project::MAX_REPOSITORY_LINKS, "repository") %> already linked"
              disabled>
            Link a repository
          </button>
        <% else %>
          <%= render layout: "shared/spacious_details_dialog", locals: {
            id: "link-repository",
            button_class: "btn btn-sm btn-primary",
            button_text: "Link a repository",
            dialog_class: " ",
            hide_title: true,
            title: "Link a repository",
            ga_click: "Project, link repository, location:project linked repositories; text:Link repository"
          } do %>
            <%= render partial: "project_settings/search_repositories_to_link", locals: { project_owner: project_owner, project: project } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if project.has_max_linked_repositories? && project.linked_repositories.count < Project::MAX_REPOSITORY_LINKS %>
      <div class="flash flash-notice mb-4">
        <%= octicon("info") %>
        This project has reached its limit of <%= Project::MAX_REPOSITORY_LINKS %> linked <%= "repository".pluralize(Project::MAX_REPOSITORY_LINKS) %>. This includes <%= pluralize(Project::MAX_REPOSITORY_LINKS - project.linked_repositories.count, "repository") %> that you don't have sufficient permissions to view.
      </div>
    <% end %>

    <p>Get more accurate suggestions and better search results by linking up to <%= Project::MAX_REPOSITORY_LINKS %> repositories to this project.</p>

    <div class="table-list-header table-list-header-next">
      <div class="table-list-filters d-flex">
        <span class="table-list-heading ml-0 pl-3 table-list-header-meta flex-auto">
          <%= octicon("repo", height: 16, class: "mr-1") %>
          <%= project.linked_repositories.count %> linked <%= "repository".pluralize(project.linked_repositories.count) %>
        </span>
      </div>
    </div>

    <div>
      <% if project.linked_repositories.any? %>
        <ul class="table-list table-list-bordered adminable border-0">
          <% project.linked_repositories.each do |repo| %>
            <li class="table-list-item js-bulk-actions-item p-3 d-flex flex-items-center border-right border-left border-bottom">
              <%= form_tag project.linked_repositories_settings_resource_path.to_s, method: :delete, class: "width-full" do %>
                <div class="d-flex width-full">
                  <div class="flex-auto min-width-0">
                    <span class="f4 text-bold text-gray-dark">
                      <%= repo.name %>
                    </span>
                    <%= graphql_repository_label(repo, tooltip: true) %>
                    <div class="text-small text-gray-light">
                      <%= repo.description || "No description." %>
                    </div>
                  </div>
                  <div class="flex-shrink-0 ml-2">
                    <input type="hidden" name="project_repository_link[repository_global_id]" value="<%= repo.id %>">
                    <input type="hidden" name="project_repository_link[project_global_id]" value="<%= project.id %>">
                    <button type="submit" class="btn flex-self-center" aria-label="Delete project repository link">Unlink</button>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="blankslate">
          <div class="d-flex flex-items-center flex-justify-center mb-3">
            <%= octicon("project", height: 32, class: "blankslate-icon mb-0") %>
            <%= octicon("link", height: 16, class: "mx-3 text-gray") %>
            <%= octicon("repo", height: 32, class: "blankslate-icon mb-0") %>
          </div>
          <h3>This project doesn’t have any linked repositories yet.</h3>
        </div>
      <% end %>
    </div>

    <% if !project.has_max_linked_repositories? && project.suggested_repositories_to_link.any? %>
      <div class="d-flex flex-wrap flex-items-center mt-2">
        <p class="text-bold mb-0 ml-1 mr-2 text-gray-light f6">
          Suggested repositories:
        </p>
        <% project.suggested_repositories_to_link.each do |repo| %>
          <div class="mr-1 mb-1">
            <%= form_tag project.linked_repositories_settings_resource_path.to_s, method: :post, class: "d-flex" do %>
              <button class="btn btn-outline btn-sm">
                <% if repo.is_private? %>
                  <%= octicon("lock", height: 16, class: "mr-1") %>
                <% end %>
                <%= repo.name %>
                <input type="hidden" name="project_repository_link[repository_name]" value="<%= repo.name %>">
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
