<div class="container-xl p-responsive">
  <% allStories.each_with_index do |story, i| %>
    <div class="border-top pt-6-fluid pb-9-fluid">
      <p class="text-mono text-uppercase text-gray f5-mktg-fluid pb-md-3-fluid"><%= story[:name] %></p>
      <div class="d-md-flex gutter-md-spacious-fluid">
        <div class="col-md-9">
          <a href="<%= story[:url] %>" class="position-relative d-block link-blue-mktg no-underline maintainer-link maintainer-link--story-tease readme-underline--green" style="font-weight:400 !important">
            <h3 class="h2-mktg-fluid lh-condensed-mktg pb-1-fluid font-display-mktg" style="font-weight:400 !important"><span><%= story[:title] %></span></h3>
            <figure class="position-absolute z-n1 col-6 maintainer-link__figure" style="left:100%;top:50%;transform:translateY(-50%);">
              <img src="<%= story[:thumbnail] %>" class="width-fit maintainer-link__img" alt="Picture of <%= story[:name] %>" loading="lazy">
            </figure>
          </a>
        </div>
        <div class="d-flex flex-wrap flex-md-column mt-6-fluid mt-md-0-fluid col-md-3">
          <div class="position-relative col-6 col-md-12 pl-5-fluid mb-4-fluid">
            <%= octicon "repo", :height => 18, class: "position-absolute top-1 left-0" %>
            <p class="h6-mktg-fluid mb-1-fluid">Project</p>
            <p class="text-mono"><%= story[:project] %></p>
          </div>
          <div class="position-relative col-6 col-md-12 pl-5-fluid mb-4-fluid">
            <%= octicon "location", :height => 18, class: "position-absolute top-1 left-0" %>
            <p class="h6-mktg-fluid mb-1-fluid">Location</p>
            <p class="text-mono"><%= story[:location] %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
