<div class="position-relative z-n1 top-0 width-full overflow-hidden" style="height: 80vh">
  <img class="width-full height-full object-fit-cover" src="<%= image %>" alt="">
</div>

<div class="position-relative z-1 bg-white p-responsive px-md-9-fluid py-6-fluid py-lg-9-fluid ml-md-9-fluid ml-lg-12-fluid mt-md-n8-fluid mt-lg-n10-fluid">
  <div class="d-lg-flex flex-items-center gutter-lg-fluid">
    <h1 class="h00-mktg-fluid text-normal col-lg-7 lh-condensed-mktg mb-6-fluid mb-lg-0-fluid maintainer-heading"><%= header %></h1>
    <h2 class="h3-mktg-fluid col-lg-4 offset-lg-1 text-gray-light lh-default" style="font-weight: normal !important"><%= body %></h2>    
  </div>
</div>
