<div class="p-responsive">
  <div class="position-relative bg-gray-dark rounded-2 my-11-fluid mx-auto py-6 py-md-9 px-6" style="max-width: 1600px;">
    <div class="position-absolute top-0 right-0 bottom-0 left-0" style="background:url(<%= image_path "modules/site/readme/readme-bg-pattern.png" %>) repeat; background-size: cover"></div>
    <div class="container-xl mx-auto d-md-flex gutter-md-fluid">
      <div class="col-md-6 col-lg-5">
        <h2 class="h1-mktg-fluid lh-condensed-mktg text-white font-display-mktg" style="font-weight: 400 !important">Nominate a maintainer</h2>
        <p class="f3-mktg-fluid text-white mt-6-fluid">We’re always on the lookout for inspiring maintainers who passionately dedicate themselves to their projects and to the open source community. Know somebody whose story deserves to be told? (It can be yourself!) Let us know, and they could end up being featured here.</p>
      </div>
      <%= form_tag "/", class: "12 col-md-6 col-lg-5 offset-lg-2 mt-6 mt-md-0 text-white" do %>
        <% input_fields = [
          {
            name: "your-name",
            label: "Your name"
          },
          {
            name: "your-github-handle",
            label: "Your GitHub handle"
          },
          {
            name: "nominee-name",
            label: "Nominee’s name"
          },
          {
            name: "nominee-github-handle",
            label: "Nominee’s GitHub handle"
          },
          {
            name: "what-inspires-you",
            label: "What inspires you about their work?"
          }
        ] %>

        <% input_fields.each_with_index do |input, i| %>
          <div class="position-relative maintainer-story-input-container mb-5-fluid">
            <label for="nominate-<%= input[:name] %>" class="text-normal text-mono f5-mktg-fluid d-block text-gray-light maintainer-story-input-label"><%= input[:label] %></label>
            <input id="nominate-<%= input[:name] %>" type="text" class="maintainer-story-input border-top-0 border-left-0 border-right-0 d-block width-full border-bottom text-white pb-2-fluid">
            <span class="maintainer-story-input-border position-relative width-full d-block bg-white z-1"></span>
          </div>
        <% end %>
        <button type="submit" class="maintainer-story-submit rounded-2 border-0 text-bold py-3-fluid px-4-fluid">Submit</button>
      <% end %>
    </div>
  </div>
</div>
