<div class="container-xl p-responsive f3-mktg-fluid mx-auto">
  <div class="col-md-8 offset-md-3">
    <div class="border-top border-blue text-mono text-gray-light f4-mktg-fluid mt-6-fluid pt-6-fluid"><%= sanitize bio %></div>
    <div class="d-md-flex flex-wrap mt-9-fluid">
      <a class="btn-mktg-fluid btn-outline-mktg-fluid mb-3 mr-4-fluid" href="/">Expore <%= project_name %> on GitHub</a>
      <a class="btn-mktg-fluid btn-outline-mktg-fluid mb-3" href="/">Support Dirk on GitHub Sponsors</a>
    </div>
  </div>
</div>
