<% page_info \
  title: "#{maintainer_story.name} · The ReadME Project",
  description: maintainer_story.description,
  class: "body-fluid readme-project",
  marketing_page: true,
  container_xl: true,
  html_class: "html-fluid",
  richweb: {
    title: "#{maintainer_story.name} · The ReadME Project",
    url: request.original_url,
    description: maintainer_story.description,
    image: image_path("modules/site/social-cards/package-registry.png"), # TODO: update this!
    twitter_card_image_url: image_path("modules/site/social-cards/package-registry.png") # TODO: update this!
  }
%>

<% content_for :scripts do %>
  <%= javascript_bundle "marketing" %>
<% end %>

<style>html { scroll-behavior: smooth }</style>

<div class="font-mktg">
  <%= render "site/readme/readme_hero_default",
    image: image_path("modules/site/readme/hero-dlemstra.jpg"),
    hero_header: maintainer_story.hero_header,
    hero_subtitle: maintainer_story.hero_subtitle
  %>
  <% show_hero_fullbleed = false %>
  <%= render "site/readme/readme_hero_fullbleed" if show_hero_fullbleed %>

  <%= render "site/readme/readme_bio",
    bio: maintainer_story.bio,
    name: maintainer_story.name,
    github_handle: maintainer_story.github_handle,
    location: maintainer_story.location,
    twitter_handle: maintainer_story.twitter_handle,
    project_name: maintainer_story.project_name,
    project_url: maintainer_story.project_url,
    forks: "641",
    contributors: "74",
    blog: maintainer_story.blog,
    interests: maintainer_story.interests
  %>

  <div class="">
    <div class="p-responsive container-xl mx-auto mt-6-fluid mt-md-10-fluid pb-md-12-fluid">
      <div class="position-relative z-1 col-md-2 float-md-left mb-10-fluid mb-md-6-fluid pt-4-fluid border-top f5-mktg-fluid text-mono text-gray-light maintainer-about" style="border-color:#4969ED !important;">
        <p><strong class="text-gray-dark">The ReadME Project</strong> amplifies the voices of the open source community: the maintainers, contributors, and developers whose powerful contributions move the world forward every day. <a href="" class="link-blue-mktg" style="font-weight: 400!important">Learn more →</a></p>
      </div>

      <div class="position-md-sticky col-md-2 top-md-n12 maintainer-sharing" style="height:0; overflow:visible; mix-blend-mode:screen;">
        <ul class="list-style-none">
          <li class="my-4-fluid"><a href="<%= user_path(maintainer_story.github_handle) %>" title="GitHub profile" class="d-flex flex-justify-center flex-items-center border border-black-fade circle" style="width:50px;height:50px"><%= octicon("mark-github", height: 25, class: "d-block link-blue-mktg", alt: "GitHub") %></a></li>
          <li class="my-4-fluid"><a href="<%= sponsorable_path(maintainer_story.github_handle) %>" title="Sponsor this developer" class="d-flex flex-justify-center flex-items-center border border-black-fade circle" style="width:50px;height:50px"><%= octicon("heart-fill", height: 25, class: "d-block link-blue-mktg", alt: "Sponsor") %></a></li>
          <li class="my-4-fluid"><a href="" title="Share on Twitter" class="d-flex flex-justify-center flex-items-center border border-black-fade circle" style="width:50px;height:50px"><%= svg("site/icons/twitter", height: 20, class: "d-block link-blue-mktg", alt: "Twitter") %></a></li>
          <li class="my-4-fluid"><a href="" title="Share on Facebook" class="d-flex flex-justify-center flex-items-center border border-black-fade circle" style="width:50px;height:50px"><%= svg("site/icons/facebook", height: 20, class: "d-block link-blue-mktg", alt: "Facebook") %></a></li>
        </ul>
      </div>

      <div class="f3-mktg-fluid maintainer-story-body">
        <%= maintainer_story.content %>

        <%= render "site/readme/readme_sponsor_blockquote",
          blockquote: maintainer_story.blockquote,
          github_handle: maintainer_story.github_handle
        %>
      </div>

      <div class="col-md-8 offset-md-3 mt-6-fluid mb-n6-fluid">
        <%= octicon "mark-github", :height => 36 %>
      </div>

    </div>

    <%= render "site/readme/readme_postscript",
      bio: maintainer_story.bio,
      project_name: maintainer_story.project_name
    %>

  </div>

  <% issues = [
    {
      id: "1967",
      title: "LAB documentation inconsistent or wrong",
      date: "opened 26 days ago",
      author: "fmw42"
    },
    {
      id: "1968",
      title: "Possible Bug: Documentation for LAB colors",
      date: "opened 26 days ago",
      author: "fmw42"
    },
    {
      id: "1812",
      title: "GIF image transcoding speed is too slow and quality is too large",
      date: "opened on Dec 20, 2019 ",
      author: "jackDiscovery"
    },
    {
      id: "1685",
      title: "`-draw` primitives (especially `color`) create alpha channel unnecesarily",
      date: "opened on Sep 2, 2019",
      author: "mfwitten"
    },
    {
      id: "1547",
      title: "Support for Krita KRA and ORA images format",
      date: "opened on Apr 15, 2019",
      author: "cgilles"
    },
    {
      id: "1330",
      title: "Missing information on how to translate this software",
      date: "opened on Sep 26, 2018 ",
      author: "scootergrisen"
    },
    {
      id: "1968",
      title: "Magick++ Low level pixel access documentation is out of date",
      date: "opened 26 days ago",
      author: "fmw42"
    }
  ] %>
  <%= render "site/readme/readme_first_issues", issues: issues %>

  <%= render "site/readme/readme_about" %>

  <% stories = [
    {
      name: "Sonia John",
      thumbnail: image_path("modules/site/readme/thumbnails/sonia-john.jpg"),
      title: "Me, my computer, and the will to act",
      project: "ProtoSchool",
      url: "/"
    },
    {
      name: "Samson Goddy",
      thumbnail: image_path("modules/site/readme/thumbnails/samson-goddy.jpg"),
      title: "Dreaming big to unify Africa’s open source community",
      project: "Sugar Labs",
      url: "/"
    }
  ] %>
  <%= render "site/readme/readme_recirculation", stories: stories %>

  <%= render "site/readme/readme_nominate" %>
</div>
