<% page_info \
  title: "Deleting #{current_repository.name}/#{current_directory.path} at #{h tree_name_for_display} · #{current_repository.name_with_owner}"
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <!-- TODO @github/pe-repos. See https://github.com/github/pe-repos/issues/330 -->
<% end %>
