<% page_info \
    selected_link: :repo_source,
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "File Finder" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <fuzzy-list class="js-tree-finder" max-matches="50" data-url="<%= tree_list_path(current_repository.owner, current_repository, tree_sha) %>" mark-selector=".js-tree-browser-result-path">

    <div class="breadcrumb TableObject">
      <div class="TableObject-item">
        <span class="bold"><%= link_to current_repository, repository_path(current_repository) %></span> /
      </div>
      <input type="text" name="query"
        autocomplete="off" spellcheck="false" autofocus
        id="tree-finder-field"
        aria-label="The name of the file to navigate to."
        class="form-control tree-finder-input js-tree-finder-field js-pjax-restore-captured-input TableObject-item--primary p-0 ml-1 border-0">
    </div>

    <% if finder_newb? %>
      <div class="flash-messages js-notice">
        <div class="flash">
          <%= form_tag dismiss_list_help_path, :class => "flash-close js-notice-dismiss" do %>
            <button type="submit" class="close-button" aria-label="Hide this notice forever">
              <%= octicon("x") %>
            </button>
          <% end %>
          You’ve activated the <em>file finder</em>.
          Start typing to filter the file list. Use <kbd class="text-bold hx_text-body">↑</kbd> and
          <kbd class="text-bold hx_text-body">↓</kbd> to navigate,
          <kbd>enter</kbd> to view files, <kbd>esc</kbd> to exit.
        </div>
      </div>
    <% end %>

    <template class="js-tree-browser-result-template">
      <li class="css-truncate css-truncate css-truncate-overflow" role="presentation">
        <a
          class="js-tree-browser-result-anchor tree-browser-result p-1 py-2 bg-gray-light border-bottom border-gray-dark border-bottom d-block"
          href="<%= blob_path("", tree_name) %>"
          role="option">
          <%= octicon("chevron-right", class: "ml-2 mr-2") %><%= octicon("file", class: "text-gray-light") %>
          <span class="d-inline-block  js-tree-browser-result-path"></span>
        </a>
      </li>
    </template>

    <div class="no-results blankslate blankslate-clean-background" hidden data-fuzzy-list-show-on-empty>
      <h3>No matching files found.</h3>
    </div>

    <ul
      id="tree-browser"
      role="listbox"
      class="js-tree-browser-results tree-browser border-left border-top border-right border-gray-dark list-style-none m-0" hidden></ul>

  </fuzzy-list>
<% end %>
