<div class="position-relative mt-n11 bottom-n11">
  <h2 id="pricing-details" class="h2-mktg mb-4 text-center text-lg-left">Simple, pay-as-you-go pricing</h2>
  <div class="d-flex gutter-spacious flex-items-center flex-wrap flex-lg-nowrap">

    <div class="col-10 col-lg-5 mx-auto mx-lg-0">
      <div class="bg-blue-dark rounded-2 text-center p-6 position-relative">
        <h3 class="h2-mktg text-white mt-5">Public repositories</h3>
        <div class="d-flex flex-items-center flex-justify-center actions-pricing-public">
          <div class="text-center position-relative top-n5">
            <h3 class="h00-mktg text-white">Free</h3>
            <p class="f4 text-white m-0"><span class="animate-float d-inline-block position-relative top-1 mr-2"><%= image_tag "modules/site/features/actions-love.svg", alt: "love", class: "animate-beat" %></span>We love open source</p>
          </div>
        </div>

        <!-- Particles -->
        <span class="particle-square-purple d-block rounded-1 position-absolute z-1" style="top: -5px; left: 30px;"></span>
        <span class="particle-circle-blue circle d-block position-absolute z-1" style="top: 130px; left: 40px;"></span>
        <span class="particle-circle-green circle d-block position-absolute z-1" style="top: 240px; left: -20px;"></span>
        <span class="particle-circle-orange circle d-block position-absolute z-1" style="bottom: 60px; left: 160px;"></span>
        <span class="particle-square-yellow d-block rounded-1 position-absolute z-1" style="bottom: -10px; left: 40px;"></span>

        <span class="particle-circle-orange-2 circle d-block position-absolute z-1" style=" top: 0; right: 140px;"></span>
        <span class="particle-circle-green-2 circle d-block position-absolute z-1" style="top: 170px; right: -15px;"></span>
        <span class="particle-circle-blue-2 circle d-block position-absolute z-1" style="right: 110px; bottom: 130px;"></span>
        <span class="particle-square-purple-2 d-block rounded-1 position-absolute z-1" style="right: 70px; bottom: -20px;"></span>
        <!-- /Particles -->
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-n1 position-relative top-n6 top-lg-0 actions-pricing-private">
      <div class="bg-white card-mktg rounded-2 p-7 position-relative z-1">
        <div class="d-flex gutter-spacious flex-wrap mb-7">
          <h2 class="h2-mktg">Private repositories</h2>
        </div>
        <div class="d-flex gutter-spacious flex-wrap">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <h4 class="h4-mktg mb-1">Included minutes</h4>

            <ul class="list-style-none">
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <h4 class="h4-mktg">Free</h4>
                <div class="text-right">
                  <h4 class="h4-mktg">2,000</h4>
                  <p class="f6 text-gray-light m-0">minutes per month</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <h4 class="h4-mktg">Pro</h4>
                <div class="text-right">
                  <h4 class="h4-mktg">3,000</h4>
                  <p class="f6 text-gray-light m-0">minutes per month</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <h4 class="h4-mktg">Team</h4>
                <div class="text-right">
                  <h4 class="h4-mktg">3,000</h4>
                  <p class="f6 text-gray-light m-0">minutes per month</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between pt-3">
                <h4 class="h4-mktg">Enterprise</h4>
                <div class="text-right">
                  <h4 class="h4-mktg">50,000</h4>
                  <p class="f6 text-gray-light m-0">minutes per month</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h4 class="h4-mktg mb-1">Additional hosted runner minutes</h4>

            <ul class="list-style-none">
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <div>
                  <h4 class="h4-mktg">Linux</h4>
                  <p class="f6 text-gray-light m-0">2 cores, 7GB</p>
                </div>
                <div class="text-right">
                  <h4 class="h4-mktg">$0.008</h4>
                  <p class="f6 text-gray-light m-0">per minute</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <div>
                  <h4 class="h4-mktg">Windows</h4>
                  <p class="f6 text-gray-light m-0">2 cores, 7GB</p>
                </div>
                <div class="text-right">
                  <h4 class="h4-mktg">$0.016</h4>
                  <p class="f6 text-gray-light m-0">per minute</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between py-3 border-bottom border-gray-light">
                <div>
                  <h4 class="h4-mktg">macOS</h4>
                  <p class="f6 text-gray-light m-0">2 cores, 7GB</p>
                </div>
                <div class="text-right">
                  <h4 class="h4-mktg">$0.08</h4>
                  <p class="f6 text-gray-light m-0">per minute</p>
                </div>
              </li>
              <li class="d-flex flex-justify-between pt-3">
                <h4 class="h4-mktg">Self-hosted</h4>
                <div class="text-right">
                  <h4 class="h4-mktg">Free</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <span class="d-block text-gray mt-6 f5">Included, hosted runner minutes are consumed at different rates for each operating system. GitHub Actions is not available for private repos in legacy per-repository plans. <a href="<%= GitHub.help_url %>/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions">Learn more</a></span>
      </div>
    </div>

  </div>
</div>
