<% if GitHub.octolytics_enabled? %>
  <%= octolytics_meta_tag %>
<% end %>

<% if GitHub.anonymized_private_repo_analytics? %>
  <%= analytics_location_meta_tag %>
<% end %>

<% if GitHub.track_ecommerce_analytics? %>
  <%= analytics_ec_meta_tags %>
<% end %>

<%= analytics_event_meta_tags %>

<% if optimizely_enabled? %>
  <%= optimizely_meta_tags %>
  <!-- To prevent page flashing, the optimizely JS needs to be loaded in the
    <head> tag before the DOM renders -->
  <%= javascript_bundle 'optimizely' %>
<% end %>

<% if report_third_party_analytics? %>
  <% if serving_gist3_standalone? %>
    <meta name="google-analytics" content="<%= GitHub.gist_analytics_account %>">
  <% else %>
    <meta name="google-analytics" content="<%= GitHub.analytics_account %>">
  <% end %>
<% end %>

<% if logged_in? && current_user.identify_to_google_analytics? %>
  <meta class="js-ga-set" name="userId" content="<%= current_user.analytics_tracking_id %>">
<% end %>

<meta class="js-ga-set" name="<%= GoogleAnalytics::Dimensions::RESPONSIVE %>" content="<%= responsive? && !show_mobile_view? ? 'Responsive' : 'Not Responsive' %>" data-pjax-transient>

<meta class="js-ga-set" name="<%= GoogleAnalytics::Dimensions::LOGGED_IN %>" content="<%= logged_in? ? 'Logged In' : 'Logged Out' %>">

<% if mobile? %>
  <meta class="js-ga-set" name="<%= GoogleAnalytics::Dimensions::DEVICE_TYPE %>" content="mobile">
<% end %>
