<div class="text-center">
  <ul class="d-flex flex-justify-around flex-wrap list-style-none my-2 my-md-3">
    <li class=""><img src="<%= image_path "modules/site/logos/airbnb-logo.png" %>" alt="Airbnb" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
    <li class=""><img src="<%= image_path "modules/site/logos/ibm-logo.png" %>" alt="IBM" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
    <li class=""><img src="<%= image_path "modules/site/logos/sap-logo.png" %>" alt="SAP" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
    <li class=""><img src="<%= image_path "modules/site/logos/paypal-logo.png" %>" alt="PayPal" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
    <li class=""><img src="<%= image_path "modules/site/logos/spotify-logo.png" %>" alt="Spotify" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
    <li class=""><img src="<%= image_path "modules/site/logos/bloomberg-logo.png" %>" alt="Bloomberg" class="logo-img px-2 px-sm-4 px-md-5 px-lg-0" loading="lazy"></li>
  </ul>
</div>
