<% if sales_chat_enabled? %>
  <div class="position-fixed right-0 bottom-0 m-3" style="z-index:100;">
    <a
      href="<%= contact_url(host: GitHub.urls.host_name) %>"
      class="js-launch-sales-chat d-flex flex-justify-center flex-items-center text-center rounded-2 box-shadow-large bg-blue"
      data-ga-click="Pricing, click, text:Contact Sales;location:Drift"
      style="width:52px; height:52px;"
    >
      <span class="sr-only">Contact GitHub</span>
      <%= octicon("comment", height: 33, class: "text-white mt-1 mx-auto") %>
    </a>
  </div>
<% end %>
