<%# `view` is an instance of Site::ContactView or Site::MacAppContactView %>
<div id="mail-form">

<% view.session = session %>

<%= form_for :form, :url => contact_path, :html => {class: view.form_class} do |f| %>
  <%= f.text_group "Name", :name, :placeholder => "Your name", :value => params[:form][:name] || view.human_name %>

  <% if view.has_emails? %>
    <%= f.select_group "Email", :email, options_for_select(view.emails) %>
  <% else %>
    <dl class="form-group">
      <dt class="input-label">
        <label for="form_email">Email</label>
      </dt>
      <dd>
        <input class="form-control" id="form_email" required name="form[email]" placeholder="Your email address" size="30" type="email" value="<%= params[:form][:email] %>">
      </dd>
    </dl>
  <% end %>

  <%= f.text_group "Subject", :subject, {
    :value => params[:form][:subject] || view.subject, :maxlength => 72
    }.merge(test_selector_data_hash("contact-subject")) %>

  <div class="d-none">
    <%= f.text_group "Phone", :phone, :value => 'Phone' %>
    <%= f.text_group "State", :state %>
  </div>

  <%= f.hidden_field :javascript_enabled, :value => 'false',
        :class => 'js-contact-javascript-flag' %>
  <%= f.hidden_field :referring_url, value: view.referer %>

  <% if view.from_help? %>
    <%= f.hidden_field :referring_article_url, value: view.referer %>
    <%= f.hidden_field :referring_article_title, value: view.help_article_humanized %>
  <% elsif view.from_api_docs? %>
    <%= f.hidden_field :referring_article_url, value: view.referer %>
    <%= f.hidden_field :referring_article_title, value: view.api_article %>
  <% elsif view.from_guides? %>
    <%= f.hidden_field :referring_article_url, value: view.referer %>
    <%= f.hidden_field :referring_article_title, value: view.guides_path %>
  <% end %>

  <% if view.default_inbox? %>
    <%= f.hidden_field :default_inbox, value: view.default_inbox %>
  <% end %>

  <%= f.hidden_field :flavor, value: view.flavor %>

  <% if view.reported_user %>
    <%= f.hidden_field :report, value: view.reported_user.login %>
  <% elsif view.reported_app %>
    <%= f.hidden_field :app_report, value: view.reported_app.name %>
  <% elsif view.reported_action%>
    <%= f.hidden_field :action_report, value: view.reported_action.name %>
  <% end %>

  <% if view.content_report? %>
    <dl class="form-group">
      <dt><%= f.label "Choose a reason for reporting this content", for: "classifier" %></dt>
      <dd>
        <%= f.hidden_field :content_url, value: params[:form][:content_url] %>
        <% classifier_enums = Platform::Enums::AbuseReportReason.values.keys - ["UNSPECIFIED"] %>
        <%= select_tag(:classifier, options_for_select(classifier_enums.map { |s| [s.titleize, s] }),
            :prompt => "Select a reason",
            :name => "form[classifier]",
            :class => "form-select mr-2",
            :'aria-label' => "Reason",
        ) %>
      </dd>
    </dl>
  <% end %>



  <%= file_attachment_tag(enabled: logged_in?, model: :assets, class: "js-upload-markdown-image is-default") do |upload_enabled| %>
    <dl class="form-group">
      <dt><%= f.label view.comment_label, :for => "form_comments" %></dt>
      <dd class="js-write-bucket <%= "upload-enabled" if upload_enabled %>">
        <%= text_area_tag("form[comments]", params[:form][:comments] || view.comment_template,
              :placeholder => view.comment_placeholder, :required => true,
              :class => view.comment_class,
              style: "resize: vertical;") %>
        <%= render :partial => 'comments/drag_and_drop', :locals => { :asset_types => :assets } if upload_enabled %>
      </dd>
    </dl>
  <% end %>

  <div class="form-actions">

    <% if view.show_captcha? %>
      <noscript>
        <p class="flash flash-error">GitHub requires JavaScript enabled for our captcha. Please enable JavaScript temporarily.</p>
      </noscript>
      <%= render partial: "shared/octocaptcha", locals: { origin_page: view.flavor } %>
    <% end %>

    <button type="submit" class="<%= view.form_submit_button_class %>" data-disable-with="Send request" data-ga-click="Support, send request, link:send-button" data-disable-invalid>Send request</button>
    <div class="col-6 col-md-8">
      <% if view.show_generic_support_hint? %>
        <p class="note">GitHub Support can only provide assistance for the GitHub platform.
        <br>For project-specific support, check the project’s README file.</p>
      <% elsif view.content_report? %>
        <p class="note"><%= link_to("The content you are reporting", view.content_url) %> will be included in your report.</p>
      <% end %>
    </div>
  </div>

<% end %>
</div>
