<ul class="ml-0 list-style-none overflow-auto text-mono f6">
  <% event_traces.each do |event_trace| %>
    <li class="Box-row d-block ml-0">
      <span class="float-right"><%= event_trace.milliseconds %>ms</span>
      <code class="text-bold"><%= event_trace.command %></code>
      <pre class="mt-2 border bg-gray rounded-1 p-2"><%= event_trace.pretty_printed_arguments %></pre>
      <details class="mt-2">
        <summary>
          <% location = GitHub::FormattedStackLocation.from_location(event_trace.first_app_location || event_trace.locations.first) %>
          <% if !location.linkable? %>
            <%= location.description %>
          <% else %>
            <%= location.description %>
            <a href="<%= location.view_source_url %>" target="_blank" class="muted-link">
              <%= octicon "link", "aria-label": "View file", class: "ml-2" %>
            </a>
          <% end %>
        </summary>
        <div class="overflow-auto no-wrap">
          <% event_trace.formatted_stack_locations.each do |location| %>
            <% if !location.linkable? %>
              <span class="text-gray"><%= location.description %></span>
            <% else %>
              <a href="<%= location.view_source_url %>" target="_blank" class="muted-link d-block">
                <%= location.description %>
              </a>
            <% end %>
          <% end %>
        </div>
      </details>
    </li>
  <% end %>
  </ul>
