<% border = true if local_assigns[:border].nil? %>

<div class="footer <% if container_xl? %>container-xl<% else %>container-lg<% end %> width-full <% if responsive? %>p-responsive<% else %>px-3<% end %>" role="contentinfo">
  <div class="position-relative d-flex <% if responsive? %>flex-row-reverse flex-lg-row flex-wrap flex-lg-nowrap flex-justify-center flex-lg-justify-between<% else %>flex-justify-between<% end %> pt-6 pb-2 mt-6 f6 text-gray border-top border-gray-light <% unless border %>border-top-0<% end %>">
    <ul class="list-style-none d-flex flex-wrap <% if responsive? %>col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0<% end %>">
      <li class="mr-3<% if responsive? %> mr-lg-0<% end %>">&copy; <%= Time.now.year %> GitHub, Inc.</li>
      <% if enterprise? %>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="<%= GitHub.enterprise_help_landing_page %>">Help</a></li>
        <% if GitHub.support_link_not_enterprise_default? %>
          <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="<%= GitHub.support_link_text_mailto_or_link %>">Support</a></li>
        <% else %>
          <li><a href="<%= contact_path %>">Support</a></li>
        <% end %>
      <% else %>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><%= link_to "Terms", site_terms_url(host: GitHub.urls.host_name), :"data-ga-click" => "Footer, go to terms, text:terms" %></li>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><%= link_to "Privacy", site_privacy_url(host: GitHub.urls.host_name), :"data-ga-click" => "Footer, go to privacy, text:privacy" %></li>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><%= link_to "Security", security_url(host: GitHub.urls.host_name), :"data-ga-click" => "Footer, go to security, text:security" %></li>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="https://githubstatus.com/" data-ga-click="Footer, go to status, text:status">Status</a></li>
        <li><%= link_to "Help", GitHub.help_url, :"data-ga-click" => "Footer, go to help, text:help" %></li>
      <% end %>
      <% if can_toggle_site_admin_and_employee_status? %>
        <li class="ml-3"><%= render :partial => 'site/site_admin_and_employee_toggle_link' %></li>
      <% end %>

    </ul>

    <% footer_mark_title = GitHub.flavor %>
    <% footer_mark_title << " #{GitHub.current_ref}" if GitHub.enterprise? && logged_in? %>
    <%= link_to GitHub.url, :"aria-label" => "Homepage", :title => footer_mark_title, :class => "footer-octicon d-none d-lg-block mx-lg-4" do %>
      <%= octicon("mark-github", :height => 24) %>
    <% end %>

   <ul class="list-style-none d-flex flex-wrap <% if responsive? %>col-12 col-lg-5 flex-justify-center flex-lg-justify-between mb-2 mb-lg-0<% end %>">
      <% if employee? %>
        <li class="mr-3"><%= link_to "Report bug", report_bug_url(host: GitHub.urls.host_name), :"data-hotkey" => "!", :"target" => "_blank" %></li>
      <% end %>
      <% if !enterprise? %>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><%= link_to "Contact GitHub", contact_url(:host => GitHub.urls.host_name), :"data-ga-click" => "Footer, go to contact, text:contact" %></li>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="https://github.com/pricing" data-ga-click="Footer, go to Pricing, text:Pricing">Pricing</a></li>
      <% end %>
      <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="<%= GitHub.developer_help_url %>" data-ga-click="Footer, go to api, text:api">API</a></li>
      <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>
      <% if !enterprise? %>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="<%= GitHub.blog_url %>" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
        <li><%= link_to "About", about_url(:host => GitHub.urls.host_name), :"data-ga-click" => "Footer, go to about, text:about" %></li>
      <% else %>
        <li class="mr-3<% if responsive? %> mr-lg-0<% end %>"><a href="<%= GitHub.blog_url %>/">Blog</a></li>
        <li><a href="https://github.com/about">About</a></li>
      <% end %>
    </ul>
  </div>
  <div class="d-flex flex-justify-center pb-6">
    <span class="f6 text-gray-light"><%= "GitHub Enterprise Server #{GitHub.version_number}" if (enterprise? && !GitHub.private_instance?) %></span>
  </div>
</div>
