<% border = true if local_assigns[:border].nil? %>

<div class="d-flex flex-items-between footer container-lg my-5 <% if responsive? %>px-0<% else %>border-top py-3 mx-3<% end %>" role="contentinfo">
  <div class="col-lg-4 list-style-none mr-lg-5">
    <% footer_mark_title = GitHub.flavor %>
    <% footer_mark_title << " #{GitHub.current_ref}" if GitHub.enterprise? && logged_in? %>
    <%= link_to GitHub.url, :title => "Home page", :class => "d-none d-lg-flex footer-octicon footer-octicon no-underline" do %>
      <div>
        <%= octicon("mark-github", height: 24, class: "d-block mr-2 float-left") %>
      </div>

      <div>
        <span class="f6 text-gray-light">
          &copy; <%= Time.now.year %> GitHub, Inc.
        </span>
        <% if enterprise? && !GitHub.private_instance? %>
          <div class="f6 text-gray-light">
            GitHub Enterprise Server <%= GitHub.version_number %>
          </div>
        <% end %>

      </div>
    <% end %>
    <% if can_toggle_site_admin_and_employee_status? %>
      <div class="d-none d-lg-flex footer-octicon no-underline">
        <span class="<%= show_mobile_link? ? "ml-3" : "m-0" %>">
          <%= render :partial => 'site/site_admin_and_employee_toggle_link' %>
        </span>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-justify-start flex-row flex-auto">
    <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 text-gray pl-lg-4">
      <% if !enterprise? %>
        <li class="mb-1"><a class="link-gray" href="<%= GitHub.blog_url %>" data-ga-click="Footer, go to blog, text:blog">Blog</a></li>
        <li class="mb-1"><%= link_to "About", about_url(:host => GitHub.urls.host_name), class: "link-gray", :"data-ga-click" => "Footer, go to about, text:about" %></li>
      <% else %>
        <li class="mb-1"><a class="link-gray" href="<%= GitHub.blog_url %>/">Blog</a></li>
        <li class="mb-1"><a class="link-gray" href="https://github.com/about">About</a></li>
      <% end %>
      <li class="mb-1"><a class="link-gray" href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Shop</a></li>
      <% if !enterprise? %>
        <li class="mb-1"><%= link_to "Contact GitHub", contact_url(:host => GitHub.urls.host_name), class: "link-gray", :"data-ga-click" => "Footer, go to contact, text:contact" %></li>
        <li class="mb-1"><a href="/pricing" data-ga-click="Footer, go to Pricing, text:Pricing" class="link-gray">Pricing</a></li>
      <% end %>
      <% if employee? %>
        <li class="mb-1"><%= link_to "Report bug", report_bug_url(host: GitHub.urls.host_name), class: "link-gray", :"data-hotkey" => "!", :"target" => "_blank" %></li>
      <% end %>
    </ul>

    <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 text-gray pl-lg-4">
      <li class="mb-1"><a class="link-gray" href="<%= GitHub.developer_help_url %>" data-ga-click="Footer, go to api, text:api">API</a></li>
      <li class="mb-1"><a class="link-gray" href="https://training.github.com" data-ga-click="Footer, go to training, text:training">Training</a></li>

      <% if enterprise? %>
        <li class="mb-1">
          <a class="link-gray" class="link-gray" href="<%= GitHub.enterprise_help_landing_page %>">Help</a>
        </li>
        <% if GitHub.support_link_not_enterprise_default? %>
          <li class="mb-1">
            <a class="link-gray" href="<%= GitHub.support_link_text_mailto_or_link %>">Support</a>
          </li>
        <% else %>
          <li class="mb-1">
            <a class="link-gray" href="<%= contact_path %>">Support</a>
          </li>
        <% end %>
      <% else %>
        <li class="mb-1">
          <a class="link-gray" href="https://githubstatus.com/" data-ga-click="Footer, go to status, text:status">Status</a>
        </li>
        <li class="mb-1">
          <a class="link-gray" href="<%= GitHub.help_url %>/articles/github-security/" data-ga-click="Footer, go to security, text:security">Security</a>
        </li>
      <% end %>
    </ul>

    <% if !enterprise? %>
      <ul class="col-4 col-sm-4 col-lg-4 col-xl-3 list-style-none f6 text-gray pl-lg-4">
        <li class="mb-1">
          <%= link_to "Terms", site_terms_url(host: GitHub.urls.host_name), class: "link-gray", :"data-ga-click" => "Footer, go to terms, text:terms" %>
        </li>
        <li class="mb-1">
          <%= link_to "Privacy", site_privacy_url(host: GitHub.urls.host_name), class: "link-gray", :"data-ga-click" => "Footer, go to privacy, text:privacy" %>
        </li>
        <li class="mb-1">
          <%= link_to "Help", GitHub.help_url, class: "link-gray", :"data-ga-click" => "Footer, go to help, text:help" %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
