<%# erblint:disable LinkHasHref %>
<%
  node_path = node.path.join(".")
%>
<div
  class="graphql-query-trace-node js-graphql-query-trace-node"
  data-graphql-node-path="<%= node_path %>"
  data-graphql-node-name="<%= node.name %>"
  data-graphql-node-ms="<%= node.total_ms %>"
  >
  <div class="graphql-query-trace-node-row">
    <span class="graphql-query-trace-node-name">
      <% if node.children.any? %>
        <a role="button" class="btn-link js-graphql-toggle-children graphql-toggle-children">
          <%= node.name %>
        </a>
      <% else %>
        <%= node.name %>
      <% end %>
    </span>
    <span class="graphql-query-trace-total-time">
      <%= render_graphql_ms(node.total_ms) %>
    </span>
    <span class="graphql-query-trace-own-time">
      <%= render_graphql_ms(node.own_ms) %>
    </span>
    <span class="graphql-query-trace-child-time">
      <% if node.children.any? %>
        <%= render_graphql_ms(node.children_ms) %>
      <% end %>
    </span>
    <span class="graphql-query-trace-gc">
      <%= node.total_allocated_objects %>
    </span>
    <span class="graphql-query-trace-external-calls" title="Not profiled">
      n/a
    </span>
  </div>
  <% if node.children.any? %>
    <%= render partial: "site/graphql_stats_children", locals: { children: node.children.values, sort: true } %>
  <% end %>
</div>
