<header class="Header-old header-logged-out <% if responsive? %>js-details-container Details<% end %> position-relative f4 py-2" role="banner">
  <div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> <% if responsive? %>d-lg-flex flex-items-center p-responsive<% else %>d-flex px-3<% end %>">
    <div class="d-flex flex-justify-between flex-items-center">
      <% if responsive? %>
        <a class="mr-4" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
          <%= octicon("mark-github", :height => 32, :class => "text-white") %>
        </a>

        <% if block_given? %>
          <div class="d-lg-none css-truncate css-truncate-target width-fit p-2">
            <%= yield %>
          </div>
        <% end %>

        <div class="d-flex flex-items-center">
          <% if GitHub.signup_enabled? %>
            <% unless params["controller"] == "signup" %>
              <% source_label = current_repository ? "header-repo" : home_page? ? "header-home" : "header" %>
              <a href="<%= signup_path("source": source_label, "ref_page": analytics_location, "ref_cta": "Sign up", "ref_loc": "header logged out") %>"
                class="d-inline-block d-lg-none f5 text-white no-underline border border-gray-dark rounded-2 px-2 py-1 mr-3 mr-sm-5"
                <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header")) %>
                data-ga-click="Sign up, click to sign up for account, ref_page:<%= analytics_location %>;ref_cta:Sign up;ref_loc:header logged out">
                Sign&nbsp;up
              </a>
            <% end %>
          <% end %>

          <button class="btn-link d-lg-none mt-1 js-details-target" type="button" aria-label="Toggle navigation" aria-expanded="false">
            <%= octicon("three-bars", :height => 24, :class => "text-white") %>
          </button>
        </div>
      <% else %>
        <a class="mr-4" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
          <%= octicon("mark-github", :height => 32, :class => "text-white") %>
        </a>
      <% end %>
    </div>

    <div class="HeaderMenu HeaderMenu--logged-out <% if responsive? %>position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex<% else %>d-flex<% end %> flex-justify-between flex-items-center flex-auto">
      <div class="<% if responsive? %>d-flex d-lg-none flex-justify-end border-bottom bg-gray-light p-3<% else %>d-none<% end %>">
        <button class="btn-link js-details-target" type="button" aria-label="Toggle navigation" aria-expanded="false">
          <%= octicon("x", :height => 24, :class => "text-gray") %>
        </button>
      </div>

      <% if show_search_and_nav? %>
        <nav class="<% if responsive? %>mt-0 px-3 px-lg-0 mb-5 mb-lg-0<% else %>mt-0<% end %>" aria-label="Global">
          <ul class="<% if responsive? %>d-lg-flex<% else %>d-flex<% end %> list-style-none">
            <% if !GitHub.enterprise? %>
              <li class="<% if responsive? %>d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ">
                <details class="HeaderMenu-details details-overlay details-reset width-full">
                  <summary class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap <% if responsive? %>d-block d-lg-inline-block<% else %> d-inline-block<% end %>">
                    Why GitHub?
                    <svg x="0px" y="0px" viewBox="0 0 14 8" xml:space="preserve" fill="none" class="icon-chevon-down-mktg <% if responsive? %>position-absolute position-lg-relative<% else %>position-relative<% end %>">
                      <path d="M1,1l6.2,6L13,1"></path>
                    </svg>
                  </summary>
                  <div class="dropdown-menu flex-auto rounded-1 bg-white px-0 mt-0 <% if responsive? %>pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4<% else %> p-4 left-n4 position-absolute<% end %>">
                    <a href="/features" class="py-2 lh-condensed-ultra d-block link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Features">Features <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a>
                    <ul class="list-style-none f5 pb-3">
                      <li class="edge-item-fix"><a href="/features/code-review/" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Code review">Code review</a></li>
                      <li class="edge-item-fix"><a href="/features/project-management/" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Project management">Project management</a></li>
                      <li class="edge-item-fix"><a href="/features/integrations" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Integrations">Integrations</a></li>
                      <li class="edge-item-fix"><a href="/features/actions" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Actions">Actions</a></li>
                      <li class="edge-item-fix"><a href="/features/packages" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to GitHub Packages">Packages</a></li>
                      <li class="edge-item-fix"><a href="/features/security" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Security">Security</a></li>
                      <li class="edge-item-fix"><a href="/features#team-management" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Team management">Team management</a></li>
                      <li class="edge-item-fix"><a href="/features#hosting" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Code hosting">Hosting</a></li>
                      <li class="edge-item-fix hide-xl"><a href="/mobile" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Mobile">Mobile</a></li>
                    </ul>

                    <ul class="list-style-none mb-0 border-lg-top pt-lg-3">
                      <li class="edge-item-fix"><a href="/customer-stories" class="py-2 lh-condensed-ultra d-block no-underline link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Customer stories">Customer stories <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a></li>
                      <li class="edge-item-fix"><a href="/security" class="py-2 lh-condensed-ultra d-block no-underline link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Security">Security <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a></li>
                    </ul>
                  </div>
                </details>
              </li>
              <li class="<% if responsive? %>border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3">
                <a href="/team" class="HeaderMenu-link no-underline py-3 d-block d-lg-inline-block" data-ga-click="(Logged out) Header, go to Team">Team</a>
              </li>
              <li class="<% if responsive? %>border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3">
                <a href="/enterprise" class="HeaderMenu-link no-underline py-3 d-block d-lg-inline-block" data-ga-click="(Logged out) Header, go to Enterprise">Enterprise</a>
              </li>
            <% end %>

            <% unless GitHub.private_mode_enabled? %>
              <li class="<% if responsive? %>d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ">
                <details class="HeaderMenu-details details-overlay details-reset width-full">
                  <summary class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap <% if responsive? %>d-block d-lg-inline-block<% else %> d-inline-block<% end %>">
                    Explore
                    <svg x="0px" y="0px" viewBox="0 0 14 8" xml:space="preserve" fill="none" class="icon-chevon-down-mktg <% if responsive? %>position-absolute position-lg-relative<% else %>position-relative<% end %>">
                      <path d="M1,1l6.2,6L13,1"></path>
                    </svg>
                  </summary>

                  <div class="dropdown-menu flex-auto rounded-1 bg-white px-0 pt-2 pb-0 mt-0 <% if responsive? %>pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4<% else %> p-4 left-n4 position-absolute<% end %>">
                    <ul class="list-style-none mb-3">
                      <li class="edge-item-fix"><a href="/explore" class="py-2 lh-condensed-ultra d-block link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Explore">Explore GitHub <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a></li>
                    </ul>

                    <h4 class="text-gray-light text-normal text-mono f5 mb-2 <% if responsive? %>border-lg-top pt-lg-3<% else %> border-top pt-3<% end %>">Learn &amp; contribute</h4>
                    <ul class="list-style-none mb-3">
                      <li class="edge-item-fix"><a href="/topics" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Topics">Topics</a></li>
                      <% unless GitHub.enterprise? %>
                        <li class="edge-item-fix"><a href="/collections" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Collections">Collections</a></li>
                      <% end %>
                      <li class="edge-item-fix"><a href="/trending" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Trending">Trending</a></li>
                      <li class="edge-item-fix"><a href="https://lab.github.com/" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Learning lab">Learning Lab</a></li>
                      <li class="edge-item-fix"><a href="https://opensource.guide" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Open source guides">Open source guides</a></li>
                    </ul>

                    <h4 class="text-gray-light text-normal text-mono f5 mb-2 <% if responsive? %>border-lg-top pt-lg-3<% else %> border-top pt-3<% end %>">Connect with others</h4>
                    <ul class="list-style-none mb-0">
                      <li class="edge-item-fix"><a href="https://github.com/events" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Events">Events</a></li>
                      <li class="edge-item-fix"><a href="https://github.community" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Community forum">Community forum</a></li>
                      <li class="edge-item-fix"><a href="<%= GitHub.education_url %>" class="py-2 pb-0 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to GitHub Education">GitHub Education</a></li>
                    </ul>
                  </div>
                </details>
              </li>
            <% end %>

            <% if !GitHub.enterprise? %>
              <li class="<% if responsive? %>border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3">
                <a href="/marketplace" class="HeaderMenu-link no-underline py-3 d-block d-lg-inline-block" data-ga-click="(Logged out) Header, go to Marketplace">Marketplace</a>
              </li>

              <li class="<% if responsive? %>d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0<% else %> mr-3<% end %> mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ">
                <details class="HeaderMenu-details details-overlay details-reset width-full">
                  <summary class="HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap <% if responsive? %>d-block d-lg-inline-block<% else %> d-inline-block<% end %>">
                    Pricing
                    <svg x="0px" y="0px" viewBox="0 0 14 8" xml:space="preserve" fill="none" class="icon-chevon-down-mktg <% if responsive? %>position-absolute position-lg-relative<% else %>position-relative<% end %>">
                       <path d="M1,1l6.2,6L13,1"></path>
                    </svg>
                  </summary>

                  <div class="dropdown-menu flex-auto rounded-1 bg-white px-0 pt-2 pb-4 mt-0 <% if responsive? %>p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4<% else %> p-4 left-n4 position-absolute<% end %>">
                    <a href="/pricing" class="pb-2 lh-condensed-ultra d-block link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Pricing">Plans <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a>

                    <ul class="list-style-none mb-3">
                      <li class="edge-item-fix"><a href="/pricing#feature-comparison" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Compare plans">Compare plans</a></li>
                      <li class="edge-item-fix"><a href="<%= ent_contact_url %>" class="py-2 lh-condensed-ultra d-block link-gray no-underline f5" data-ga-click="(Logged out) Header, go to Contact Sales">Contact Sales</a></li>
                    </ul>

                    <ul class="list-style-none mb-0 <% if responsive? %>border-lg-top pt-lg-3<% else %> border-top pt-3<% end %>">
                      <li class="edge-item-fix"><a href="/nonprofit" class="py-2 lh-condensed-ultra d-block no-underline link-gray-dark no-underline h5 Bump-link--hover" data-ga-click="(Logged out) Header, go to Nonprofits">Nonprofit <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a></li>
                      <li class="edge-item-fix"><a href="<%= GitHub.education_url %>" class="py-2 pb-0 lh-condensed-ultra d-block no-underline link-gray-dark no-underline h5 Bump-link--hover"  data-ga-click="(Logged out) Header, go to Education">Education <span class="Bump-link-symbol float-right text-normal text-gray-light">&rarr;</span></a></li>
                    </ul>
                  </div>
                </details>
              </li>
            <% end %>
          </ul>
        </nav>
      <% end %>

      <div class="<% if responsive? %>d-lg-flex flex-items-center px-3 px-lg-0 text-center text-lg-left<% else %>d-flex flex-items-center px-0 text-center text-left<% end %>">
        <% unless hide_search? || GitHub.private_mode_enabled? %>
          <div class="d-lg-flex <% if responsive? %>mb-3 mb-lg-0<% end %>">
            <%= render partial: "site/header/search" %>
          </div>
        <% end %>

        <a href="<%= site_nav_login_path %>"
          class="HeaderMenu-link no-underline mr-3"
          <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
          data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">
          Sign&nbsp;in
        </a>
        <% if GitHub.signup_enabled? %>
          <% unless params["controller"] == "signup" %>
            <% source_repo = current_repository.name_with_owner if current_repository %>
            <a href="<%= signup_path("source": source_label, "source_repo": source_repo, "ref_page": analytics_location, "ref_cta": "Sign up", "ref_loc": "header logged out") %>"
              class="HeaderMenu-link d-inline-block no-underline border border-gray-dark rounded-1 px-2 py-1"
              <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
              data-ga-click="Sign up, click to sign up for account, ref_page:<%= analytics_location %>;ref_cta:Sign up;ref_loc:header logged out">
              Sign&nbsp;up
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
