<div class="fakelogin">
  <div class="container-lg px-3">
    <% if serving_gist3_standalone? %>
      You are signed in to Gist as <%= user_session.user %> in <%= Rails.env %>.
      You can only return to your mundane life as <%= user_session.impersonator %> on <%= link_to "GitHub", GitHub.url, :class => "cancel-impersonation" %>.
    <% else %>
      You are signed in to GitHub as <%= user_session.user %> in <%= Rails.env %>.
      <%= form_tag stafftools_deimpersonate_path, :method => :delete, :class => "inline-form" do %>
        <button type="submit" class="btn-link cancel-impersonation">
          Return to your mundane life as <%= user_session.impersonator %>
        </button>
      <% end %>
    <% end %>
  </div>
</div><!-- /#fakelogin -->
