<% if is_open %>
  <div class="Box Box--condensed m-4">
    <div class="Box-header">
      <h3 class="Box-title">
        <%= title %>
      </h3>
    </div>

    <ul>
      <% shortcuts.each do |shortcut| %>
        <li class="Box-row d-flex flex-row">
          <div class="flex-auto"><%= shortcut[:label] %></div>

          <div class="ml-2 no-wrap">
            <% shortcut[:keys].each_with_index do |key, i| %>
              <kbd class="js-modifier-key"><%= key %></kbd>

              <% if shortcut[:join] && i < shortcut[:keys].length - 1 %>
                <%= shortcut[:join] %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
