<div class="mobile-device-screen mobile-device-nightmode container-xl position-fixed top-0 right-0 bottom-0 left-0 d-flex flex-lg-justify-center flex-items-center p-responsive">
  <div class="phone-sizer p-4">
    <div class="d-flex flex-justify-center position-relative">
      <div class="mobile-image-cropper rounded-2">
        <%= image_tag "modules/site/mobile/nightmode.png", alt: "Notifications list", class: "d-block position-relative width-fit" %>
      </div>
      <%= image_tag "modules/site/mobile/nightmode-overlay-1.png", alt: "", class: "mobile-icon--nightmode d-block position-absolute width-fit" %>
      <%= image_tag "modules/site/mobile/nightmode-overlay-2.png", alt: "", class: "mobile-icon--nightmode d-block position-absolute width-fit" %>
    </div>
  </div>
</div>
