<div class="d-flex flex-column col-10 col-sm-8 flex-lg-row mx-auto mx-lg-0" data-ga-load="GitHub Mobile landing page hero, view, Hero CTAs">
  <a href="https://play.google.com/store/apps/details?id=com.github.android" class="mb-3 mb-lg-0 mr-lg-3" aria-label="Get it on Google Play" data-ga-click="GitHub Mobile landing page hero, click, Get it on Google Play"><%= svg("site/mobile/badge-google.svg", width: "202", height: "60") %></a>
  <a href="https://apps.apple.com/app/github/id1477376905?ls=1" aria-label="Download on the App Store" data-ga-click="GitHub Mobile landing page hero, click, Download on the App Store"><%= svg("site/mobile/badge-appstore.svg", width: "180", height: "60") %></a>
</div>
