<div class="mobile-device-screen mobile-device-work container-xl position-fixed top-0 right-0 bottom-0 left-0 d-flex flex-lg-justify-center flex-items-center p-responsive">
  <div class="phone-sizer p-4">
    <div class="d-flex flex-justify-center position-relative">
      <div class="mobile-image-cropper rounded-2">
      <%= image_tag "modules/site/mobile/work.png", alt: "Pull request comment", class: "d-block position-relative width-fit" %>
      </div>

      <div class="mobile-work-overlay d-flex flex-row flex-wrap position-absolute bg-white rounded-2 box-shadow-large flex-justify-between">
        <div class="f2 px-4 py-2 m-2">
          🚀
        </div>
        <div class="f2 px-4 py-2 m-2">
          🎉
        </div>
        <div class="f2 px-4 py-2 m-2 position-relative mobile-work-overlay-heart">
          ❤️
          <div class="mobile-work-overlay-bluetap width-full position-absolute top-0 left-0 rounded-1 z-n1"></div>
        </div>
        <div class="f2 px-4 py-2 m-2">
          👀
        </div>
        <div class="f2 px-4 py-2 m-2">
          😕
        </div>
        <div class="f2 px-4 py-2 m-2">
          😄
        </div>
        <div class="f2 px-4 py-2 m-2">
          👍
        </div>
        <div class="f2 px-4 py-2 m-2">
          👎
        </div>
      </div>
	  </div>
  </div>
</div>
