<div class="d-md-flex flex-items-center">
  <div class="col-md-6 pr-md-4 text-center">
    <img src="<%= image_path "modules/site/os-guide.png?sn" %>" alt="" class="featurette-illo img-responsive">
  </div>
  <div class="col-md-6 text-center text-md-left">
    <h3 class="h3-mktg mb-2">Learn how to run a successful project</h3>
    <p class="text-gray mb-4">Open source is made by people just like you. Learn how to contribute, launch a new project, and build a healthy community of contributors.</p>

    <p>
      <a class="btn-mktg btn-outline-mktg" href="https://opensource.guide">Read Open Source Guides</a>
    </p>
  </div>
</div>
