<% if !logged_in? %>
<h3 class="h4-mktg">How many private repositories do I need?</h3>
<p class="f5 text-gray">
  Generally, each repository corresponds to a project. Private repositories are
  needed for each project you don’t want to make open source and publicly
  available. Note that repositories can be <a href="<%= GitHub.help_url %>/articles/making-a-private-repository-public">changed from private to public</a>
  (and <a href="<%= GitHub.help_url %>/articles/making-a-public-repository-private">vice versa</a>),
  and that <a href="<%= GitHub.help_url %>/articles/fork-a-repo">forks</a> of
  private repositories don’t count against the number your plan allows.
</p>
<hr>
<h3 class="h4-mktg">What if I need a larger plan?</h3>
<p class="f5 text-gray">
  If you need a plan larger than Platinum, <a href="<%= contact_path %>">contact us</a>
  for details. We also offer a platform that runs on your own servers called
  <a href="<%= enterprise_web_url %>">GitHub Enterprise</a>.
</p>
<hr>
<h3 class="h4-mktg">Do you offer education discounts?</h3>
<p class="f5 text-gray">
  Yes, we offer free and discounted plans to students, teachers, and schools.
  You can find more information and apply on our
  <a href="https://education.github.com/">education site</a>.
</p>
<hr>
<% end %>
<h3 class="h4-mktg">What’s different about an organization account?</h3>
<p class="f5 text-gray">
  A GitHub organization is a profile on GitHub that is managed from your
  personal account.  Organizations are best suited for businesses who need
  to manage permissions for many employees. For more information, please
  read our
  <a href="<%= GitHub.help_url %>/articles/what-s-the-difference-between-user-and-organization-accounts" target=_blank>Help article</a>.
</p>
<hr>
<h3 class="h4-mktg">Why don’t I see any disk space limits?</h3>
<p class="f5 text-gray">
  See our <a href="<%= GitHub.help_url %>/articles/what-is-my-disk-quota" target=_blank>Help article</a>.
</p>
