<%
  page_placement = "Pricing" if local_assigns[:page_placement].nil?
%>

<div class="bg-blue-7 text-white rounded-2 box-shadow-large mx-md-2 position-relative promo-banner-bg">
  <div class="position-relative d-lg-flex flex-justify-between px-4 px-md-6 py-4 py-md-5 gutter-md-spacious z-2">
    <div class="col-lg-9 d-lg-flex">
      <div class="mt-0 mr-0 mt-md-1 mr-md-3 mb-2 mb-md-0">
        <span title="NEW" class="Label Label--outline Label--outline-green">NEW</span>
      </div>
      <div>
        <h2 class="mb-1 lh-condensed lh-md-default">
          GitHub is now free for teams
        </h2>
        <p class="mb-3 mb-lg-0 f4">
         GitHub Free gives teams private repositories with unlimited collaborators at no cost. GitHub Team is now reduced to $4 per user/month.
        </p>
      </div>
    </div>
    <p class="col-lg-3 mb-0 flex-md-self-center">
      <% if logged_in? %>
        <%= link_to "Create a free organization",
          new_organization_path(plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Create a free organization"), "ref_loc": url_encode("top banner")),
          class: "btn-mktg btn-block h4-mktg",
          "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Create a free organization;ref_loc:top banner"
        %>
      <% else %>
        <%= link_to(
          "Try GitHub Free",
          signup_path(source: "pricing-card-free", plan: GitHub::Plan.free),
          class: "btn-mktg btn-block h4-mktg",
          "data-ga-click": "Sign up, click to sign up for account, ref_page:#{request.fullpath};ref_cta:Try GitHub Free;ref_loc:top banner"
        ) %>
      <% end %>
    </p>
  </div>
</div>
