<div class="mx-auto col-sm-8 col-md-6 hide-sm">
  <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
    <%# Hide Sign up form on on small screens %>
    <%= form_for :user, :url => signup_path, html: { class: "home-hero-signup text-gray-dark js-signup-form js-signup-form-submit", autocomplete: "off" } do |f| -%>
      <input type="hidden" name="ga_id" class="js-octo-ga-id-input">
      <input type="hidden" name="ref_page" value="<%= request.fullpath %>">
      <input type="hidden" name="ref_loc" value="hero">

      <auto-check src="<%= username_check_path(suggest_usernames: true, source: "homepage") %>">
        <dl class="form-group mt-0">
          <dt class="input-label">
            <label class="form-label h5" for="user[login]">Username</label>
          </dt>
          <dd>
            <input type="text" name="user[login]" id="user[login]" class="form-control form-control-lg input-block">
          </dd>
        </dl>
        <%= csrf_hidden_input_for username_check_path %>
      </auto-check>
      <auto-check src="<%= email_check_path %>">
        <dl class="form-group">
          <dt class="input-label">
            <label class="form-label h5" for="user[email]">Email</label>
          </dt>
          <dd>
            <input type="text" name="user[email]" id="user[email]" class="form-control form-control-lg input-block js-email-notice-trigger">
          </dd>
        </dl>
        <%= csrf_hidden_input_for email_check_path %>
      </auto-check>
      <password-strength
        minimum-character-count="<%= PasswordStrengthHelper::MINIMUM_VALID_CHARACTERS %>"
        passphrase-length="<%= User::PASSPHRASE_LENGTH %>"
        invalid-message="Password is invalid."
        error-class="text-red text-bold"
        pass-class="text-green"
      >
      <dl class="form-group">
        <dt class="input-label">
          <label class="form-label h5" for="user[password]">Password</label>
        </dt>
        <dd>
          <%= auto_check_tag(:password) do %>
            <input type="password" name="user[password]" id="user[password]" class="form-control form-control-lg input-block" autocomplete="new-password">
          <% end %>
        </dd>
      </dl>
      <p class="form-control-note text-gray-dark"><%= password_strength_sentence %></p>
      </password-strength>
      <input type="hidden" name="source" class="js-signup-source" value="form-home" data-ga-label=";ref_page:<%= request.fullpath %>;ref_cta:Sign up for GitHub;ref_loc:hero">
      <%= hidden_field_tag :return_to, return_to if return_to %>
      <%= spamurai_form_signals %>
      <button type="submit" class="btn-mktg btn-primary-mktg btn-large-mktg f4 btn-block my-3" data-ga-click="Sign up, Attempt, ref_page:<%= request.fullpath %>;ref_cta:Sign up for GitHub;ref_loc:hero">Sign up for GitHub</button>
      <p class="form-control-note mb-0 mt-3">
        By clicking &ldquo;Sign up for GitHub&rdquo;, you agree to our
        <a class="" href="<%= GitHub.help_url %>/terms" target="_blank">Terms of Service</a> and
        <a class="" href="<%= GitHub.help_url %>/privacy" target="_blank">Privacy Statement</a>. <span class="js-email-notice">We’ll occasionally send you account related emails.</span>
      </p>
    <% end %>
  </div>
  <%# Hide single CTA on phablet and up screens %>
  <div class="d-sm-none text-center">
    <%= link_to "Sign up for GitHub",
        signup_path("source": "button-home", "ref_page": request.fullpath, "ref_cta": "Sign up for GitHub", "ref_loc": "hero small screen"),
        rel:  "nofollow",
        class: "btn-mktg btn-primary-mktg btn-large-mktg",
        "data-ga-click": "Sign up, click to sign up for account, ref_page:#{request.fullpath};ref_cta:Sign up for GitHub;ref_loc:hero small screen"
    %>
  </div>
</div>
