<%= form_tag toggle_site_admin_path, :class => "js-stats-toggle" do %>
  <button type="submit" class="btn-link" data-hotkey="`,S">
    Site admin mode
    <% if site_admin? || employee? %>
      on
    <% else %>
      off
    <% end %>
  </button>
<% end %>
