<%# erblint:counter TooltipCounter 13 %>
<%# erblint:disable ButtonHasType %>
<% view ||= Site::Stats.new(:request => request) %>

<ul class="stats js-stats">
  <% if response_time_stats = view.response_time_stats %>
    <li>
      <span class="stat-toggle">
        <strong title="<%= GitHub.local_host_name %>: <%= RUBY_DESCRIPTION %>">
          <%= response_time_stats %>
        </strong>
        response total
      </span>
    </li>
  <% end %>

  <% if view.exceptions? %>
    <li>
      <span class="stat-toggle">
        <a href="/devtools/exceptions">
          <%= time_ago_in_words_js view.most_recent_exception %>
        </a>
        exception
      </span>
    </li>
  <% end %>

  <% if view.job_stats? %>
    <li>
      <span class="stat-toggle">
        <strong aria-label="Pending Jobs" class="tooltipped tooltipped-s">
          <%= view.pending_jobs %>
        </strong>
        <span><%= "job".pluralize(view.pending_jobs_raw) %></span>
      </span>
    </li>
  <% end %>

  <% if view.enterprise? %>
    <li>
      <span class="stat-toggle">
        <strong><%= view.server_status(:elasticsearch) %></strong>
        elasticsearch
      </span>
    </li>

    <li>
      <span class="stat-toggle">
        <strong><%= view.server_status(:redis2) %></strong>
        redis
      </span>
    </li>

    <li>
      <span class="stat-toggle">
        <strong><%= view.server_status(:memcached) %></strong>
        cache
      </span>
    </li>
  <% end %>
</ul>

<ul class="stats more-stats js-more-stats">
  <% if GitHub.stats_ui_enabled? %>
    <% if view.flamegraph_enabled? %>
      <li>
        <a href="<%= view.flamegraph_wall_path %>" target="_blank" class="text-white tooltipped tooltipped-s" aria-label="Flamegraph">
          <%= octicon('graph') %>
        </a>
      </li>

      <li>
        <a href="<%= view.flamegraph_object_path %>" target="_blank" class="text-white tooltipped tooltipped-s" aria-label="Object Flamegraph">
          <%= octicon('trashcan') %>
        </a>
      </li>
    <% end %>

    <% if view.line_profiler_enabled? %>
      <li>
        <a href="?lineprofiler=app&lineprofiler_mode=cpu" class="text-white tooltipped tooltipped-s" aria-label="View lineprof">
          <% if params[:lineprofiler].present? %>
            <%= octicon('sync') %>
          <% else %>
            <%= octicon('beaker') %>
          <% end %>
        </a>
      </li>
    <% end %>

    <% if view.allocation_tracer_enabled? %>
      <li>
        <% if request.GET.has_key?("allocation_tracer") %>
          <details class="details-reset details-overlay details-overlay-dark" open>
          <summary class="stat-toggle">
        <% end %>

          <a href="?allocation_tracer=<%= view.allocation_interval %>" class="text-white tooltipped tooltipped-s" aria-label="Enable allocation tracer">
            <%= octicon('package') %>
          </a>

        <% if request.GET.has_key?("allocation_tracer") %>
            </summary>
            <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column container-xl width-full" aria-label="Allocations">
              <div class="Box-header">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= octicon "x" %>
                </button>
                <h3>Allocations</h3>
                <p class="text-gray mb-0">
                  <%= GitHub::AllocationTracerMiddleware::SUMMARY %>
                </p>
              </div>
              <div class="Box-body overflow-auto">
                <%= GitHub::AllocationTracerMiddleware::TOKEN %>
              </div>
            </details-dialog>
          </details>
        <% end %>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:cpu) %>
      <li>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong><%= view.cpu_stats %></strong> unicorn
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Processor time">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Processor time</h3>
              <p class="text-gray mb-0">
                <%= view.cpu_stats_detail %>
              </p>
            </div>
            <div class="Box-body overflow-auto">
              <table class="width-full">
                <tr>
                  <th>Event</th>
                  <th class="text-right">Duration (ms)</th>
                  <th class="text-right">Count</th>
                </tr>
                <% GitHub.request_timer.stats.sort_by { |name, stat| -stat.duration }.each do |name, stat| %>
                  <tr>
                    <td><%= name %></td>
                    <td class="text-right"><%= stat.duration.round %></td>
                    <td class="text-right"><%= stat.count %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if view.render_stats? %>
      <li <% if !view.render_stats_visible? %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong><%= view.render_time %></strong> render
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Rendering">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Rendering</h3>
              <p class="text-gray mb-0">
                <%= view.render_time %> total
              </p>
            </div>
            <div class="Box-body overflow-auto render-trace">
              <%= view.render_trace_html %>
            </div>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:gc) %>
      <li>
        <span class="stat-toggle">
          <strong class="tooltipped tooltipped-s" aria-label="<%= view.obj_allocated %>">
            <%= view.gc_time %> / <%= view.gc_info.count %>
          </strong>
          gc
        </span>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:redis) %>
      <li <% if !view.process_stat_visible?(:redis) %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong><%= view.process_stat(:redis_stats) %></strong> redis
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Redis">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Redis</h3>
              <p class="text-gray mb-0">
                <%= view.process_stat(:redis_stats) %> total
              </p>
            </div>
            <%= render partial: "site/event_trace", locals: { event_traces: view.redis_trace } %>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:memcached) %>
      <% cache_visible = view.process_stat_visible?(:memcached) || (view.process_stat_tracked?(:cache) && view.process_stat_visible?(:cache)) %>
      <li <% if !cache_visible %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong
              <% if view.process_stat_tracked?(:cache) %>
                class="tooltipped tooltipped-s" aria-label='<%= view.process_stat(:cache_stats) %> GitHub::Cache ops'
              <% end %>
            ><%= view.process_stat(:memcached_stats) %></strong> cache
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Cache">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Cache</h3>
              <p class="text-gray mb-0">
                <%= view.process_stat(:memcached_stats) %> total
              </p>
            </div>
            <div class="Box-body overflow-auto">
              <table class="width-full">
                <tr>
                  <th>Key</th>
                  <th class="text-right">Count</th>
                </tr>
                <% GitHub::Cache::Client.query_keys.sort_by { |key, count| [-count, key] }.each do |key, count| %>
                  <tr>
                    <td><%= key.inspect %></td>
                    <td class="text-right"><%= count %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:es) %>
      <li <% if !view.process_stat_visible?(:es) %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong class="tooltipped tooltipped-s preformatted-tooltip" aria-label='<%= view.es_loader_stats if view.es_loader_stats? %>'>
              <%= view.process_stat(:es_stats) %>
            </strong> es
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Elasticsearch">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Elasticsearch</h3>
              <p class="text-gray mb-2">
                <strong><%= view.process_stat(:es_stats) %></strong> total
              </p>
            </div>
            <div class="Box-body overflow-auto">
              <% Elastomer::QueryStats.instance.each do |stat| %>
                <div class="Box-row">
                  <h5 class="mb-1">Request took <%= stat.time %> ms, matching <%= stat.total %> documents</h5>
                  <div class="input-group">
                    <input id="site-es-query-curl" type="text" value="<%= stat.curl %>" class="form-control input-sm" data-autoselect readonly aria-label="Curl command">
                    <span class="input-group-button">
                      <clipboard-copy for="site-es-query-curl" aria-label="Copy to clipboard" class="btn btn-sm zeroclipboard-button">
                        <%= octicon("clippy") %>
                      </clipboard-copy>
                    </span>
                  </div>
                  <details class="mb-3">
                    <summary class="mt-3"><%= stat.url %></summary>
                    <%= stat.hl_body %>
                  </details>
                </div>
              <% end %>
            </div>
            <div class="Box-footer">
              <button class="btn btn-block" data-close-dialog>Close</button>
            </div>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:graphql) %>
      <li <% if !view.process_stat_visible?(:graphql) %>hidden<% end %>>
        <% graphql_css_class = params[:graphql_query_trace] ? "js-graphql-performance-pane-toggle" : "" %>

        <span class="stat-toggle">
          <%= link_to(url_with(graphql_query_trace: true, mysql_query_trace: nil, xhr_stats: view.xhr_stats), class: graphql_css_class) do %>
            <strong class="tooltipped tooltipped-s preformatted-tooltip" aria-label='<%= view.graphql_loader_stats if view.graphql_loader_stats? %>'>
              <%= view.process_stat(:graphql_stats) %>
            </strong>
          <% end %>
          graphql
        </span>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:mysql) %>
      <li <% if !view.process_stat_visible?(:mysql) %>hidden<% end %>>
        <% mysql_css_class = params[:mysql_query_trace] ? "js-mysql-performance-pane-toggle" : "" %>

        <span class="stat-toggle">
          <%= link_to(url_with(mysql_query_trace: true, graphql_query_trace: nil, xhr_stats: view.xhr_stats), class: mysql_css_class) do %>
            <strong class="tooltipped tooltipped-s preformatted-tooltip" aria-label='<%= view.ar_objs if view.ar_stats? %>'>
              <%= view.process_stat(:mysql_stats) %>
              / <span style="color: #774aa2">
                <%= GitHub::MysqlInstrumenter.primary_query_count %>
              </span>
              <% if view.ar_stats? %>
                / <%= view.query_cache_hits %>
              <% end %>
            </strong>
          <% end %>
          sql
        </span>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:gitrpc) %>
      <li <% if !view.process_stat_visible?(:gitrpc) %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong class="tooltipped tooltipped-s preformatted-tooltip" aria-label="<%= view.gitrpc_call_stats %>">
              <%= view.process_stat(:gitrpc_stats) %>
            </strong> gitrpc
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="GitRPC">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>GitRPC</h3>
              <p class="text-gray mb-0">
                <%= view.process_stat(:gitrpc_stats) %> total
              </p>
            </div>
            <%= render partial: "site/event_trace", locals: { event_traces: view.gitrpc_trace } %>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if GitHub.flipper_ui_enabled? && view.process_stat_tracked?(:tested_features) %>
      <% enabled_features, disabled_features = FlipperSubscriber.tested_features.keys.partition { |feature| FlipperSubscriber.tested_features[feature] } %>
      <li <% if FlipperSubscriber.tested_features.empty? %>hidden<% end %>>
        <details class="details-reset details-overlay details-overlay-dark">
          <summary class="stat-toggle">
            <strong>
              <%= number_with_delimiter enabled_features.size %>
              /
              <%= number_with_delimiter FlipperSubscriber.tested_features.size %>
            </strong> features
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Features">
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <h3>Features</h3>
            </div>
            <div class="Box-body overflow-auto">
              <% if enabled_features.size %>
                <h4>Enabled features</h4>
                <ul class="list-style-none mb-3">
                  <% enabled_features.each do |feature| %>
                    <li class="d-block"><a href="<%= devtools_feature_flag_path(feature) %>"><%= feature %></a></li>
                  <% end %>
                </ul>
              <% end %>

              <% if disabled_features.size %>
                <h4>Disabled features</h4>
                <ul class="list-style-none">
                  <% disabled_features.each do |feature| %>
                    <li class="d-block"><a href="<%= devtools_feature_flag_path(feature) %>"><%= feature %></a></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </details-dialog>
        </details>
      </li>
    <% end %>

    <% if GitHub.external_identity_session_enforcement_enabled? &&
          current_external_identity_sessions.any? %>
      <li>
        <%
          tooltip = ""
          current_external_identity_sessions.each do |session|
            identity = session.external_identity
            tooltip << "#{identity.saml_user_data.name_id}@#{identity.target} expires #{session.expires_at}\n"
          end
        %>
        <span class="stat-toggle">
          <strong class="tooltipped tooltipped-s" aria-label="<%= tooltip %>">
            <%= number_with_delimiter current_external_identity_sessions.size %>
          </strong>
          external <%= "identity".pluralize(current_external_identity_sessions.size) %>
        </span>
      </li>
    <% end %>

    <% if view.process_stat_tracked?(:glb) %>
      <li>
        <span class="stat-toggle">
          <strong href="#glb_performance" class="tooltipped tooltipped-s preformatted-tooltip" aria-label="<%= view.glb_hosts %>">
            <%= view.glb_regions %>
          </strong>
          glb
        </span>

        <div id="glb_performance" hidden></div>
      </li>
    <% end %>
  <% end %>
</ul>
