<% view = Settings::EmailPreferencesView.new(user: current_user) %>

<% unless view.wants_marketing_email? %>
  <h5 class="h5-mktg mt-4" id="subscribe-to-newsletter">Subscribe to our newsletter</h5>
  <p class="f5 text-gray mb-3">Get product updates, company news, and more.</p>

  <%= form_tag newsletter_preferences_path, method: :put do -%>
    <%= hidden_field_tag :type, :marketing %>
    <%= hidden_field_tag :source, :footer %>

    <button class="btn-mktg btn-outline-mktg mb-4" type="submit"  style="padding: 8px 12px !important;">
      Subscribe
    </button>
  <% end %>
<% end %>
