<%# erblint:disable LandmarkHasLabel %>
<div class="site-subnav bg-white site-subnav-sticky js-sticky">
  <nav class="d-flex <% if container_xl? %>container-xl<% else %>container-lg<% end %> mx-auto p-responsive">

    <div class="d-flex flex-auto flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left">
      <%= selected_link_to "/security", :class => "subnav-primary f5 py-0 py-md-3 mt-2 mt-md-0 mr-0 mr-md-5 no-underline subnav-link", :highlight => "/security" do %>
        Security
      <% end %>

      <%= selected_link_to "/security/trust", :class => "py-2 py-md-3 mr-3 mr-md-5 no-underline subnav-link", :highlight => "/security/trust" do %>
        Trust and privacy
      <% end %>

      <%= selected_link_to "/security/team", :class => "py-2 py-md-3 mr-3 mr-md-5 no-underline subnav-link", :highlight => "/security/team" do %>
        Team
      <% end %>

      <%= selected_link_to "/security/incident-response", :class => "py-2 py-md-3 no-underline subnav-link", :highlight => "/security/incident-response" do %>
        Incident response
      <% end %>
    </div>
  </nav>
</div>
