<% page_info title: "Please check your email settings" %>
<div class="container-lg px-3">
  <div class="blankslate blankslate-clean-background">
    <%= image_tag "modules/octocats/supportcat.jpg", alt: "supportocat holding envelope" %>
    <h1 class="f1-light lh-condensed mb-2">Please check your email settings</h1>
    <p class="f3 lead">
      Before you can contribute on GitHub, we need you to verify your email address.
    </p>
    <p class="f3 lead">
      <% if current_user.emails.all_bouncing.count == 1 %>
        The mailserver for <%= current_user.emails.all_bouncing[0].domain %> is not accepting our messages to <%= current_user.emails.all_bouncing[0].email %>. Please check the spelling of your email address and make sure email from GitHub is not rejected by any (spam) filter.
      <% else %>
        Our messages to the following addresses are not accepted by their mailservers: <%= current_user.emails.all_bouncing.join(', ') %>. Please check the spelling of these addresses and make sure email from GitHub is not rejected by any (spam) filter.
      <% end %>
    </p>

    <div class="d-flex flex-column flex-md-row flex-md-justify-center">
      <%= form_tag request_verification_user_email_path(current_user, current_user.primary_user_email), class: "mr-md-1 d-flex" do %>
        <button type="submit" class="btn btn-outline flex-auto">Resend verification email</button>
      <% end %>
      <%= link_to "Change your email settings", settings_user_emails_path, class: "btn btn-outline ml-md-1 mt-2 mt-md-0" %>
    </div>
  </div>
</div>
