<% page_info \
    title: "Team: a GitHub plan for growing businesses",
    marketing_page: true,
    class: "choose-team-lp",
    richweb: {
      title: "Team: a GitHub plan for growing businesses",
      url: request.original_url,
      image: image_path("modules/site/social-cards/team-landing-page.png"),
      description: "Get the collaboration, security, and automation tools small teams need to deliver better software, faster."
    }
%>

<nav class="position-relative top-4 left-3 left-md-4 d-inline-block" aria-label="Link to homepage" style="z-index: 2;">
  <a
   href="<%= home_url %>"
   aria-label="Homepage"
   data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark"
   class="header-link"
 >
    <%= octicon("mark-github", class: "text-gray-dark") %>
  </a>
</nav>

<%
  ec_payload = JSON.dump([
    ['ec:addImpression', {
      'name': 'Team',
      'category': 'Plan',
      'position': 2,
    }]
  ])
%>
<header class="hero position-relative logged-in" style="z-index: 1" id="hero">
  <div class="container-xl hero-container p-responsive pt-7 pt-md-8 d-flex flex-column flex-md-row flex-md-items-center">
    <div class="col-md-7 col-lg-6 mb-6 mr-4">
      <h3 class="text-mono f4 text-normal text-gray-light mb-1 mb-md-2">
        GitHub Team
      </h3>
      <h1 class="hero-h1 h000-mktg text-bold mb-4">Say hello to smarter teamwork</h1>
      <h4 class="text-normal lead-mktg">
        Small business or growing software team?<br class="d-none d-lg-inline">
        Meet the GitHub plan that’s just your size.
      </h4>
    </div>

    <div class="py-4 px-3 p-sm-4 float-md-right col-md-5 col-lg-4 offset-lg-2 hero-form rounded-1 box-shadow-medium mb-6 position-relative">
      <h2 class="mb-4 h2-mktg text-bold">$9 per user / month</h2>
      <% if logged_in? %>
        <% if current_user.billing_manageable_per_repo_orgs.any? %>
          <details class="select-menu details-reset details-overlay">
            <summary
              class="btn-block btn-mktg h4-mktg px-4 px-md-0 select-menu-button select-menu-button-large"
              data-ga-click="Team landing page hero, click, text:Upgrade"
            >
              Upgrade
            </summary>
            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
              <div class="select-menu-list">
                <% current_user.billing_manageable_per_repo_orgs.each do |org| %>
                  <a
                    href="<%= upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business) %>"
                    class="select-menu-item select-menu-item-text"
                    role="menuitem"
                    data-ga-click="Team landing page hero, click, upgrade organization, text:org-name"
                    data-ga-deferred="<%= ec_payload %>"
                    >
                      <%= avatar_for(org, 20, :class => "select-menu-item-gravatar") %>
                      <%= org.safe_profile_name %>
                  </a>
                <% end %>
                <a
                  href="<%= new_organization_path(plan: GitHub::Plan.business) %>"
                  class="select-menu-item select-menu-item-text "
                  role="menuitem"
                  data-ga-deferred="<%= ec_payload %>"
                  data-ga-click="Team landing page hero, click, text:Create organization"
                >
                  <%= octicon("plus", class: "select-menu-item-icon") %>
                  Create organization
                </a>
              </div>
            </details-menu>
          </details>
        <% else %>
          <%= form_tag new_organization_path(plan: GitHub::Plan.business), method: :get do %>
            <dl class="form-group">
              <dt class="input-label">
                <label class="form-label h5" for="user_email">Email</label>
              </dt>
              <dd>
                <input class="form-control form-control form-control-lg input-block" type="email" name="user_email" id="user_email" autocomplete="off" spellcheck="false">
              </dd>
            </dl>
            <button class="btn-block btn-mktg h4-mktg" type="submit" data-ga-deferred="<%= ec_payload %>" data-ga-click="Team landing page hero, click, text:Get started">Get started</button>
          <% end %>
        <% end %>
      <% else %>
        <%= form_tag signup_path(source: "pricing-card-team", plan: GitHub::Plan.business, setup_organization: true), method: :get do %>
          <dl class="form-group">
            <dt class="input-label">
              <label class="form-label h5" for="user_email">Email</label>
            </dt>
            <dd>
              <input class="form-control form-control form-control-lg input-block" type="email" name="user_email" id="user_email" autocomplete="off" spellcheck="false">
            </dd>
          </dl>
          <button class="btn-block btn-mktg h4-mktg" type="submit" data-ga-deferred="<%= ec_payload %>" data-ga-click="Team landing page hero, click, text:Get started">Get started</button>
        <% end %>
      <% end %>
    </div>
  </div>
</header>

<section class="landing-page-section features pt-10 py-md-12 pb-8 position-relative" aria-label="Feature lists">
  <div class="container-xl customer-container p-responsive pt-md-10 position-relative">
    <h2 class="h2-mktg text-bold mb-4 mb-md-8 position-relative">Collaboration and security tools with room to grow</h2>
    <div class="d-md-flex position-relative" style="z-index: 1;">
      <div class="p-4 py-md-6 px-md-4 box-shadow-medium rounded-1 text-center mb-4 mr-md-2 mr-lg-5 flex-1 bg-white">
        <%= svg("site/icons/teams.svg", height: "100") %>
        <h3 class="h3-mktg text-bold text-left my-3">Create a shared workspace for your organization</h3>
        <ul class="list-style-none text-left feature-list">
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Issues</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Pull requests</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Project board</span>
            s</li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Team discussions</span>
            </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Repository insights</span>
          </li>
        </ul>
      </div>
      <div class="p-4 py-md-6 px-md-4 box-shadow-medium rounded-1 text-center mb-4 flex-1 mx-md-2 mx-lg-5 bg-white">
        <%= svg("site/icons/security.svg", height: "100") %>
        <h3 class="h3-mktg text-bold text-left my-3">Keep your team and code secure</h3>
        <ul class="list-style-none text-left feature-list">
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Dependabot alerts</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Secret scanning</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Enforced 2FA</span>
          </li>
        </ul>
      </div>
      <div class="p-4 py-md-6 px-md-4 box-shadow-medium rounded-1 text-center mb-4 flex-1 ml-md-2 ml-lg-5 bg-white">
        <%= svg("site/icons/devops-workflow.svg", height: "100", width: "auto") %>
        <h3 class="h3-mktg text-bold text-left my-3">Focus on shipping, we’ll do the rest</h3>
        <ul class="list-style-none text-left feature-list">
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Automated workflows with CI/CD</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>GitHub Packages</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>Hosted runner minutes on Windows, macOS, and Linux</span>
          </li>
          <li class="feature-list-item d-flex flex-items-center pb-2">
            <img
              src="<%= image_path "modules/site/icons/checkmark-circle-outline.svg" %>"
              alt="✓"
              class="mr-2 mr-md-3 feature-bullet"
            >
            <span>GitHub API</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="landing-page-section customers position-relative" aria-label="Customers">
  <div class="container-xl customer-container p-responsive py-8 position-relative" style="z-index: 1;">
    <h2 class="text-center h2-mktg text-bold mb-4 mb-md-8 mx-auto col-md-6">Join thousands of teams building on GitHub</h2>
    <ul class="d-flex flex-wrap flex-justify-between mb-4 flex-items-center list-style-none mb-md-4 col-md-9 mx-auto">
      <li class="py-3 customer-logo-bar-item flex-md-1 mr-md-3">
        <img
          src="<%= image_path "modules/site/team-landing-page/customer-logos/logo-zendesk.svg" %>"
          alt="zendesk"
          class="customer-logo"
          style="width: 150px;"
        >
      </li>
      <li class="py-3 customer-logo-bar-item flex-md-1 mx-md-3">
        <img
          src="<%= image_path "modules/site/team-landing-page/customer-logos/logo-mailchimp.svg" %>"
          alt="Mailchimp"
          class="customer-logo"
        >
      </li>
      <li class="py-3 customer-logo-bar-item flex-md-1 mx-md-3">
        <img
          src="<%= image_path "modules/site/team-landing-page/customer-logos/logo-braintree.svg" %>"
          alt="Braintree: A PayPal Company"
          class="customer-logo"
        >
      </li>
      <li class="py-3 customer-logo-bar-item flex-md-1 ml-md-3">
        <img
          src="<%= image_path "modules/site/team-landing-page/customer-logos/logo-hubspot.svg" %>"
          alt="Hubspot"
          class="customer-logo"
        >
      </li>
    </ul>
    <figure class="p-5 customer-quote bg-white rounded-1 col-md-9 mx-auto position-relative">
      <blockquote class="mb-4 mb-md-6 f2 pl-7">
        We almost take for granted what we get from our GitHub Team account for the price we pay for it.
        It’s the perfect fit for our small team—and as the system grows, we get the same level of quality
        and security as we’d expect from any GitHub product.
      </blockquote>
      <figcaption class="text-mono d-flex flex-items-start">
        <img
          src="<%= image_path "modules/site/team-landing-page/customer-logos/logo-peak-money.svg" %>"
          alt="Peak Money logo"
          class="pr-4 width-full flex-1"
          style="max-width: 50px;"
        >
        <span>
          <strong>Lee Adkins</strong><br>
          Head of Engineering, Peak Money
        </span>
      </figcaption>
    </figure>
  </div>
</section>

<footer class="landing-page-footer text-center">
  <div class="container-xl p-responsive py-8 py-10">
    <h2 class="text-center h2-mktg text-bold mb-6 mb-sm-4 mb-md-6 col-md-6 mx-auto">Ready to get your team on board?</h2>
    <% if logged_in? %>
      <% if current_user.billing_manageable_per_repo_orgs.any? %>
        <div class="position-relative col-sm-6 col-md-3 mx-auto">
          <details class="select-menu details-reset details-overlay">
            <summary
              class="btn-block btn-mktg h4-mktg px-4 select-menu-button select-menu-button-large"
              data-ga-click="Team landing page hero, click, text:Upgrade"
            >
              Upgrade
            </summary>
            <details-menu class="select-menu-modal position-absolute width-full" style="z-index: 99;">
              <div class="select-menu-list">
                <% current_user.billing_manageable_per_repo_orgs.each do |org| %>
                  <a
                    href="<%= upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business) %>"
                    class="select-menu-item select-menu-item-text"
                    role="menuitem"
                    data-ga-click="Team landing page hero, click, upgrade organization, text:org-name"
                    data-ga-deferred="<%= ec_payload %>"
                  >
                    <%= avatar_for(org, 20, class: "select-menu-item-gravatar") %>
                    <%= org.safe_profile_name %>
                  </a>
                <% end %>
                <a
                  href="<%= new_organization_path(plan: GitHub::Plan.business) %>"
                  class="select-menu-item select-menu-item-text "
                  role="menuitem"
                  data-ga-deferred="<%= ec_payload %>"
                  data-ga-click="Team landing page hero, click, text:Create organization"
                >
                  <%= octicon("plus", class: "select-menu-item-icon") %>
                  Create organization
                </a>
              </div>
            </details-menu>
          </details>
        </div>
      <% else %>
        <%= link_to "Get started", new_organization_path(plan: GitHub::Plan.business),
          :class => "btn-mktg col-md-3 mx-auto",
          "data-ga-deferred" => ec_payload,
          "data-ga-click" => "Team landing page footer, click, text:Get started" %>
      <% end %>
    <% else %>
      <%= link_to(
        "Get started",
        signup_path(source: "pricing-card-team", plan: GitHub::Plan.business, setup_organization: true),
        class: "btn-mktg col-md-3 mx-auto",
        "data-ga-deferred": ec_payload,
        "data-ga-click": "Team landing page footer, click, text:Get started",
        data: sign_up_link_data_attributes(location_in_page: "pricing teams choose team")
      ) %>
    <% end %>
  </div>
  <div class="py-3 p-responsive landing-page-sub-footer text-mono">
    <div class="container-xl d-sm-flex flex-items-center">
      <ul class="col-sm-6 list-style-none d-flex flex-justify-between flex-md-justify-start flex-wrap pb-3 pb-sm-0">
        <li class="pr-md-6">
          &copy; <%= Time.now.year %> GitHub, Inc.
        </li>
        <li class="pr-md-4">
          <a href="" class="footer-link">Terms</a>
        </li>
        <li>
          <a href="" class="footer-link">Privacy</a>
        </li>
      </ul>
      <ul class="col-sm-6 list-style-none text-center d-flex flex-justify-between flex-md-justify-end flex-wrap flex-items-center">
        <li class="mr-3">
          <a
            href="https://twitter.com/github"
            data-ga-click="Footer, go to Twitter, text:twitter"
            title="GitHub on Twitter"
            class="footer-link"
          >
          <%= svg("site/icons/twitter", height: 18, class: "d-block", alt: "Twitter") %></a>
        </li>
        <li class="mr-3">
          <a
            href="https://www.facebook.com/GitHub"
            data-ga-click="Footer, go to Facebook, text:facebook"
            title="GitHub on Facebook"
            class="footer-link"
          >
            <%= svg("site/icons/facebook", height: 18, class: "d-block", alt: "Facebook") %>
          </a>
        </li>
        <li class="mr-3">
          <a
            href="https://www.youtube.com/github"
            data-ga-click="Footer, go to YouTube, text:youtube"
            title="GitHub on YouTube"
            class="footer-link"
          >
            <%= svg("site/icons/youtube", height: 16, class: "d-block", alt: "YouTube") %>
          </a>
        </li>
        <li class="mr-3 flex-self-start">
          <a
            href="https://www.linkedin.com/company/github"
            data-ga-click="Footer, go to Linkedin, text:linkedin"
            title="GitHub on Linkedin"
            class="footer-link"
          >
            <%= svg("site/icons/linkedin", height: 18, class: "d-block", alt: "LinkedIn") %>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/github"
            data-ga-click="Footer, go to github's org, text:github"
            title="GitHub's organization"
            class="footer-link"
          >
            <%= octicon("mark-github", height: 20, class: "d-block", alt: "GitHub") %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
