<% page_info \
  title: "Coming soon",
  description: "This page is coming soon.",
  html_class: "html-fluid",
  class: "body-fluid",
  marketing_page: true,
  container_xl: true
  %>

<style>html { scroll-behavior: smooth }</style>

<div class="font-mktg" style="min-height: 50vh">
  <h1 class="h0-mktg-fluid my-12-fluid text-center">Coming soon</h1>
</div>
