<%# erblint:disable LandmarkHasLabel %>
<%# rubocop:disable Lint/InstanceVariable %>

<% view = Site::ContactView.new(:subject => params[:form][:subject],
     :current_user => current_user,
     :flavor => params[:flavor],
     :content_url => params[:form][:content_url],
     :classifer => params[:form][:classifier],
     :reported_user => @reported_user,
     :reported_app => @reported_app,
     :reported_action => @reported_action,
     :referer => request.env['HTTP_REFERER'],
     :from_desktop_app => @from_desktop_app) %>

<% if GitHub.show_site_status? %>
  <% content_for :head do %>
    <meta name="site-status-api-url"
      content="<%= GitHub.site_status_url %>/api/v2/status.json">
  <% end %>
<% end %>

<% page_info title: "Contact GitHub", class: "marketing", container_xl: true, canonical_url: contact_url %>

<div class="container-lg p-responsive py-4">
  <div class="d-md-flex">
    <div class="col-md-3 mb-6">
      <% if !GitHub.enterprise? %>
        <nav class="menu">
          <span class="menu-heading">Contact GitHub</span>

          <%= selected_link_to GitHub.contact_form_flavors["default"], contact_path, :class => "menu-item" %>
          <% %w(report-abuse report-content dmca privacy).each do |flavor| %>
            <%= selected_link_to GitHub.contact_form_flavors[flavor], flavored_contact_path(flavor: flavor), { class: "menu-item" } %>
          <% end %>

          <span class="menu-item"><a href="<%= view.premium_support_link %>">Premium Support Portal</a></span>
          <span class="menu-item"><a href="<%= view.business_plus_link %>">Enterprise Support Portal</a></span>
        </nav>
      <% end %>

      <% if view.show_contact_hint? %>
        <p class="note mt-4">
          <% if view.from_help? %>
            <strong>Help docs didn’t cover everything?</strong>
            <br>Your human will be informed that you were reading "<%= link_to view.help_article_humanized, view.referer %>" before you asked for help.
          <% elsif view.from_api_docs? %>
            <strong>Troubles with the API?</strong>
            <br>You may find our <a href="<%= GitHub.developer_help_url %>/v3/troubleshooting/">API troubleshooting guide</a> useful for common issues.
          <% elsif view.from_desktop_app? %>
            <strong>Troubles with <a href="https://desktop.github.com/">GitHub Desktop</a>?</strong>
            <br>Your human will be informed that you’re using GitHub Desktop v<%= @version %>.
          <% end %>
        </p>
      <% end %>

      <% unless GitHub.enterprise? %>
        <p class="note mt-4">
          Reporting a security vulnerability? Please review our <a href="<%= GitHub.help_url %>/articles/responsible-disclosure-of-security-vulnerabilities/" data-ga-click="Support, go to Responsible Disclosure Policy, link:responsible-disclosure-of-security-vulnerabilities">Responsible Disclosure Policy</a>.
        </p>
      <% end %>
    </div>

    <div class="col-md-9 pl-md-5">
      <% if !GitHub.enterprise? %>
        <% if GitHub.show_site_status? %>
          <div class="flash-messages js-site-status-container" hidden>
            <div class="flash">
              <%= octicon("alert") %>

              <b>Updated <relative-time class="js-site-status-time"></relative-time>:</b>
              <span class="js-site-status-message"></span>

              <p>
                Check our <a href="<%= GitHub.site_status_url %>">status site</a> and
                <a href="https://twitter.com/githubstatus">@githubstatus on Twitter</a>
                for updates.
              </p>
            </div>
          </div>
        <% end %>

        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, tag: :h2) do %><%= view.title %><% end %>
        <% end %>

        <% case view.flavor %>
        <% when "report-abuse" %>
          <%= render :partial => "site/contact/report_abuse", :locals => {:view => view} %>
        <% when "report-content" %>
          <%= render :partial => "site/contact/report_content", :locals => {:view => view} %>
        <% when "dmca" %>
          <%= render :partial => "site/contact/dmca", :locals => {:view => view} %>
        <% when "sales" %>
          <%= render :partial => "site/contact/sales", :locals => {:view => view} %>
        <% else %>
          <%= render :partial => "site/contact/default", :locals => {:view => view} %>
        <% end %>

        <% unless view.flavor == "dmca" %>
          <%= render :partial => "site/contact_form", :locals => {:view => view} %>
        <% end %>

      <% else %>
        <h2 class="Subhead-heading mb-3">Contact support</h2>
        <p><%= contact_support_snippet %>.</p>
        <p>If you need help with a <strong>project hosted on <%= view.project_host_name %></strong>, please contact the project’s owner.</p>
      <% end %>
    </div>
  </div>
</div>
