<%# erblint:disable ProperTagNesting %>
<% page_info \
  :title => "Developer Stories · Alicia Carr",
  :description => "Alicia Carr is a mentor, a grandma, and a developer",
  :class => "page-responsive min-width-0 f4",
  :marketing_page => true,
  container_xl: true,
  richweb: {
    title: "Developer Stories - Alicia Carr",
    url: request.original_url,
    description: "Alicia Carr is a mentor, a grandma, and a developer",
    image: image_path("modules/site/customer-stories/developers/imadeveloper/social.jpg"),
  }
%>

<article class="js-video-container togglevideo">
  <div class="position-relative d-block height-full" style="background-image: url(<%= image_path "modules/site/customer-stories/developers/imadeveloper/alicia-video.jpg" %>); background-size: contain;">
    <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
      <iframe class="js-video-iframe"
        data-src="https://www.youtube.com/embed/u4tq9Ef5czw?rel=0&autoplay=1"
        frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div class="video-responsive togglevideo-hidewhenexpanded width-full">
      <img src="<%= image_path "modules/site/customer-stories/developers/imadeveloper/alicia-video.jpg" %>" class="d-md-none width-fit" alt="screenshot">
      <a class="d-block position-absolute hover-grow js-video-play DeveloperVideoData-play" href="https://www.youtube.com/embed/qwLDACQeWBI?autoplay=1">
        <%= svg("site/icons/play-button", class: "text-white", width: "80") %>
      </a>
    </div>
    <div class="DeveloperVideo-data position-md-absolute togglevideo-hidewhenexpanded-md">
      <div class="container-lg p-responsive d-md-flex py-4 py-md-6">
        <div class="col-md-6 col-lg-8">
          <h1 class="text-white h00-mktg lh-condensed pr-md-4 mt-2">Alicia Carr</h1>
          <p class="lead-mktg text-white-fade pb-4 pr-md-4">is a mentor, a grandma, and a developer</p>
        </div>
        <div class="col-md-6 col-lg-4 border-top border-md-top-0 border-md-left border-white-fade-70 pt-4 pt-md-0 pl-md-4">
          <p class="h4 text-mono text-normal text-white-fade mb-1">Creator of</h1>
          <a href="http://www.pevo.us/" class="d-block h3-mktg text-white mb-2">PEVO</a>
          <p class="text-white f5">
            An app for domestic violence survivors to find information, shelters, and local laws when resources are needed most
          </p>
        </div>
      </div>
    </div>
  </div>
</article>

<div class="bg-gray-dark py-4 py-md-6">
  <div class="container-lg p-responsive py-4 py-md-6 text-white">
    <div class="mb-2">
      <h2 class="h4 text-mono text-normal underline-dashed mb-4">More developers</h3>
    </div>
    <div class="d-md-flex gutter-md flex-items-stretch text-center">
      <a href="/developer-stories/mario" class="d-block col-md-4 mb-3 hover-grow text-white no-underline overflow-hidden">
        <div class="p-4 height-full position-relative" style="background-image: url(<%= image_path "modules/site/customer-stories/developers/imadeveloper/mario-video.jpg" %>); background-size: cover;">
          <h3 class="position-relative h2-mktg mt-3" style="z-index:1;">Mario Ponce</h3>
          <p class="position-relative text-mono text-white-fade" style="z-index:1;">is a builder</p>
          <div class="position-absolute top-0 right-0 bottom-0 left-0 bg-gray-dark" style="z-index:0; opacity: 0.5;"></div>
        </div>
      </a>
      <a href="/developer-stories/lisa" class="d-block col-md-4 mb-3 hover-grow text-white no-underline overflow-hidden">
        <div class="p-4 height-full position-relative" style="background-image: url(<%= image_path "modules/site/customer-stories/developers/imadeveloper/lisa-video.jpg" %>); background-size: cover;">
          <h3 class="position-relative h2-mktg mt-3" style="z-index:1;">Lisa Lang</h3>
          <p class="position-relative text-mono text-white-fade" style="z-index:1;">is a fashion designer</p>
          <div class="position-absolute top-0 right-0 bottom-0 left-0 bg-gray-dark" style="z-index:0; opacity: 0.5;"></div>
        </div>
      </a>
      <a href="/developer-stories/amy" class="d-block col-md-4 mb-3 hover-grow text-white no-underline overflow-hidden">
        <div class="p-4 height-full position-relative" style="background-image: url(<%= image_path "modules/site/customer-stories/developers/imadeveloper/amy-video.jpg" %>); background-size: cover;">
          <h3 class="position-relative h2-mktg mt-3" style="z-index:1;">Amy Dickens</h3>
          <p class="position-relative text-mono text-white-fade" style="z-index:1;">is a student</p>
          <div class="position-absolute top-0 right-0 bottom-0 left-0 bg-gray-dark" style="z-index:0; opacity: 0.5;"></div>
        </div>
      </a>
    </div>
  </div>
</div>
