<% page_info \
    title: "Enterprise · A smarter way to work together",
    description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
    html_class: "html-fluid",
    class: "body-fluid header-black overflow-x-hidden",
    marketing_page: true,
    container_xl: true,
    richweb: {
      title: "GitHub Enterprise: a smarter way to work together",
      url: request.original_url,
      description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
      image: image_path("modules/site/social-cards/enterprise.png"),
    }
%>

<% content_for :scripts do %>
  <%= javascript_bundle 'marketing' %>
<% end %>

<div class="font-mktg">
  <%= render "site/enterprise/launchpad/enterprise_hero" %>

  <%= render "site/enterprise/launchpad/enterprise_nav" %>
  <div class="overflow-x-hidden">
    <%= render "site/enterprise/launchpad/enterprise_security" %>

    <%= render "site/enterprise/launchpad/enterprise_devops" %>

    <%= render "site/enterprise/launchpad/enterprise_collaboration" %>

    <%= render "site/enterprise/launchpad/enterprise_talent" %>

    <%= render "site/enterprise/launchpad/enterprise_services" %>

    <%= render "site/enterprise/launchpad/enterprise_transformation" %>

    <%= render "site/enterprise/launchpad/enterprise_stories" %>

    <%= render "site/enterprise/launchpad/enterprise_plans" %>
  </div>
</div>

<%= render "site/button_sales_chat" %>
