<% page_info \
    title: "Start your GitHub Enterprise Cloud trial",
    class: "f4 bg-gray",
    marketing_page: true,
    richweb: {
      title: "Start your GitHub Enterprise Cloud trial",
      url: request.original_url,
      image: image_path("modules/site/social-cards/cloud-trial.png"),
      description: "Build better software, faster using the tools you love—all on the world’s go-to developer platform. GitHub, built for developers."
    }
%>


<div class="bg-white text-center pt-4 pb-md-6 pt-lg-6 pb-lg-9">
  <div class="container-xl p-responsive pb-lg-10">
    <a href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
      <%= octicon("mark-github", height: 50, class: "text-gray-dark") %>
    </a>
    <div class="col-8 mx-auto col-md-6 col-lg-4 mr-lg-2 d-lg-none">
      <%= svg("site/BlogHeaders_final_COMPANY_515x365") %>
    </div>
  </div>
</div>

<div class="container-xl p-responsive pt-1 pb-12 mt-lg-n6">

  <div class="d-lg-flex">

    <div class="col-12 col-sm-10 mx-auto col-md-9 ml-md-0 mr-md-0 col-lg-6 mt-n6 mb-4 z-1">
      <div class="position-relative bg-blue-dark text-white px-4 py-6 p-md-6 pb-md-9 p-lg-9 rounded-2 text-center text-md-left">
        <h1 class="h00-mktg lh-condensed">Ready. <br class="d-none d-lg-block">Set. <br class="d-none d-lg-block">Build.</h1>
        <div class="col-lg-10">
          <p class="f2 text-white-fade my-3 mb-md-6">Experience the platform software teams love—for&nbsp;free.</p>
          <a href="<%= enterprise_trial_redirect_path %>" class="btn-mktg d-block text-center mt-3 mt-md-6 py-4" data-ga-click="Enterprise Cloud Trial landing page, click, text:Start 14-day trial">Start 14-day trial</a>
          <p class="text-white-fade f5 mt-2">Need to host on your own? <a href="<%= ent_trial_url %>" class="link-white-mktg d-inline-block d-md-inline" data-ga-click="Enterprise Cloud Trial landing page, click, text:Try GitHub Enterprise Server">Try GitHub Enterprise&nbsp;Server</a></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-10 mx-auto col-md-9 mr-md-0 col-lg-6 mt-md-n6 ml-lg-n6 mt-lg-12 position-relative z-2">
      <div class="d-none d-lg-block overflow-hidden position-absolute top-0 right-0" style="z-index: 0;transform: translateY(-100%);width:460px">
        <%= svg("site/BlogHeaders_final_COMPANY_515x365") %>
      </div>
      <div class="bg-white rounded-2 box-shadow-large px-4 py-6 p-md-6 p-lg-8 d-flex flex-column flex-justify-center">
        <h2 class="h1-mktg mb-6">A platform with&nbsp;perks.</h2>
        <div class="d-sm-flex mb-4">
          <%= svg("site/icons/api", width: "50", height: "50", class: "flex-shrink-0 mb-2 mr-3") %>
          <div>
            <h3>Quick setup</h3>
            <p>You’re just a few form fields away from giving your team a new and improved workflow, no credit card required.</p>
          </div>
        </div>
        <div class="d-sm-flex mb-4">
          <%= svg("site/icons/community-forum", width: "50", height: "50", class: "flex-shrink-0 mb-2 mr-3") %>
          <div>
            <h3>The future of your workflow</h3>
            <p>Power custom, automated workflows with GitHub Actions plus world-class CI/CD—and GitHub Package Registry.</p>
          </div>
        </div>
        <div class="d-sm-flex mb-4">
          <%= svg("site/icons/security", width: "50", height: "50", class: "flex-shrink-0 mb-2 mr-3") %>
          <div>
            <h3>Your most secure code&nbsp;yet</h3>
            <p>From Dependabot alerts to role-based user permissions, we’ve got lots of ways to keep your code safe.</p>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block d-lg-none position-absolute bg-dots-gray col-4" style="height: 90%; right: -30px; top: -30px; z-index: -1;"></div>
      <div class="d-none d-lg-block position-absolute bg-dots-gray col-8" style="height: 100%; right: -33px; top: -4%; z-index: -1;"></div>
      <p class="position-absolute bottom-0 left-0 right-0 f5 py-4 text-center" style="transform: translateY(100%);">Already have an account? <a href="<%= site_nav_login_path %>" data-ga-click="Enterprise Cloud Trial landing page, click, text:Sign in">Sign in</a></p>
    </div>

  </div>

</div>
