<div class="container-lg px-3">
  <div class="ghe-license-status">
    <img src="<%= image_path "modules/home_fi/octocat-support-big.png" %>" class="octocat" alt="">
    <h1>License Expired</h1>
    <p>
      Sorry, your GitHub Enterprise license expired
      <strong><%= time_ago_in_words enterprise_license.expire_at %> ago</strong>.
      <% if GitHub.private_instance? %>
        Please
        <a href="<%= GitHub.private_instance_support_request_url %>">contact the GitHub Private Instance support team</a>
        to have your license renewed.
      <% else %>
        Please
        <a href="<%= enterprise_web_url('/expired') %>">renew your license</a>
        before continuing.
      <% end %>
    </p>
    <p>
      <% unless GitHub.private_instance? %>
        Once you have an updated license, you can upload it using the
        <%= link_to "upgrade page", "/setup/upgrade" %>.
      <% end %>
    </p>
  </div>
</div>
