<% page_info \
  title: "Features · Security",
  class: "overflow-x-hidden",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Features • Security",
    url: request.original_url,
    description: "The safest place for development teams to work together—and secure the open source software from fork to finish.",
    image: image_path("modules/site/social-cards/advanced-security.png"),
  }
%>

<% content_for :scripts do %>
  <%= javascript_bundle "marketing" %>
<% end %>

<div class="overflow-hidden">
  <div class="container-xl mx-auto p-responsive height-full">
    <div class="section-security-hero d-md-flex gutter-spacious flex-items-center position-relative">
      <div class="actions-hero-bg position-absolute z-n2"></div>
      <%= svg("site/features/security-hero", class: "width-full position-absolute z-n1 security-hero") %>

      <div class="col-12 text-center text-lg-left mx-auto mx-lg-0 pt-lg-7 pb-lg-8 position-relative" style="top: -5%">
        <h3 class="text-mono f4 text-normal text-gray-light mb-2">Security</h3>
        <h1 class="h00-mktg lh-condensed mb-2 mx-auto">Securing software, together</h1>
        <p class="text-gray-light f4 mx-auto mx-lg-0" style="max-width: 520px;">We all play a role in securing the world’s code—developers, maintainers, researchers, and security teams. On GitHub, teams work together to secure the world’s software at every&nbsp;step.
</p>

        <hr class="mx-auto mx-lg-0 border-gray-dark" style="width: 32px;">

        <p class="text-gray-light f5 mb-4 mx-auto mx-lg-0" style="max-width: 520px;">Ready to talk about advanced security features for GitHub Enterprise?</p>
        <a href="https://enterprise.github.com/contact?utm_source=github&utm_medium=site&utm_campaign=adv-security&ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("hero") %>" class="btn-mktg lh-condensed-ultra f4 py-3 px-4" data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Contact Sales;ref_loc:hero">Contact Sales</a>
      </div>
    </div>
  </div>
</div>

<div class="d-none d-md-block border-bottom border-gray-light js-sticky site-subnav-sticky bg-white">
  <div class="container-xl text-center">
    <div class="d-md-flex flex-items-end flex-wrap flex-justify-between flex-md-nowrap mx-auto lh-condensed v-align-bottom">
      <a href="#security-identify" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Identify">
        <span class="security-nav-item d-block px-1 py-4">Identify</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </a>
      <a href="#security-disclose" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Disclose">
        <span class="security-nav-item d-block px-1 py-4">Disclose</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </a>
      <a href="#security-fix" class="h5-mktg px-4 position-relative position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Fix">
        <span class="security-nav-item d-block px-1 py-4">Fix</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </a>
      <a href="#security-alert" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Alert">
        <span class="security-nav-item d-block px-1 py-4">Alert</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </a>
      <a href="#security-update" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Update">
        <span class="security-nav-item d-block px-1 py-4">Update</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </a>
      <a href="#security-prevent" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Security features, click hero icon, text:Prevent">
        <span class="security-nav-item d-block px-1 py-4">Prevent</span>
      </a>
    </div>
  </div>
</div>

<div class="overflow-x-hidden">
  <div class="container-xl mx-auto p-responsive py-9">
    <div class="js-section section-security-anchor target-security-anchor" id="security-identify"></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center mx-auto mb-9">
      <h4 class="f5 text-normal text-gray-light text-mono mb-2">Identify</h4>
      <h2 class="h1-mktg lh-condensed mb-2">Find security issues as you code</h2>
      <p class="f4 text-gray-light">Write safer code from day one with end-to-end security. GitHub helps you address vulnerabilities earlier and ship secure applications.</p>
    </div>

    <div class="d-flex flex-wrap gutter-condensed gutter-lg-spacious flex-column flex-md-row mb-6 section-security-vulnerability target-security-vulnerability position-relative">
      <div class="col-12 col-sm-10 col-lg-8 mb-6 mb-lg-0 mx-auto mx-lg-0">
        <div class="position-relative">
          <%= image_tag "modules/site/security/vulnerability-inline.png", alt: "Security vulnerability", class: "width-full", loading: "lazy" %>
          <%= image_tag "modules/site/security/vulnerability-alert.png", alt: "Security vulnerability alert", class: "security-vulnerability-alert width-full position-absolute left-0", loading: "lazy" %>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-12 col-lg-4 ">
        <div class="d-flex flex-wrap flex-row flex-lg-column gutter-condensed text-center text-md-left mx-auto mx-md-0">

          <div class="col-12 col-md-4 col-lg-12 mb-4 d-lg-flex flex-items-start flex-lg-row text-center text-lg-left px-lg-0">
            <%= image_tag "modules/site/features/security-code-data-icon.svg", alt: "Treating code as data", class: "mb-2", loading: "lazy" %>
            <div class="pl-lg-3">
              <h3 class="h4-mktg mb-1">Shift security left</h3>
              <p class="f5 text-gray-light">Build securely without slowing down innovation. Automated security always works for you by scanning code as it's created.</p>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-12 mb-4 d-lg-flex flex-items-start flex-column flex-lg-row text-center text-lg-left px-lg-0">
            <%= image_tag "modules/site/features/security-engine-icon.svg", alt: "A revolutionary engine", class: "mb-2", loading: "lazy" %>
            <div class="pl-lg-3">
              <h3 class="h4-mktg mb-1">Code as data</h3>
              <p class="f5 text-gray-light">While fuzzing or inspecting code manually is great for finding specific vulnerabilities, this approach doesn’t scale to cover your entire codebase. <a href="https://securitylab.github.com/tools/codeql" class="text-blue-mktg">CodeQL</a> treats code as data and encodes vulnerabilities as queries—making it possible to find every instance of a bug in a codebase, a portfolio, or the entire open source software ecosystem.</p>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-12 d-lg-flex flex-items-start flex-lg-row text-center text-lg-left px-lg-0">
            <%= image_tag "modules/site/features/security-community-approach-icon.svg", alt: "Community-led approach", class: "mb-2", loading: "lazy" %>
            <div class="pl-lg-3">
              <h3 class="h4-mktg mb-1">Community-led approach</h3>
              <p class="f5 text-gray-light">CodeQL ships with thousands of queries written by GitHub and the world’s leading security researchers. Code scanning queries are open source so developers, maintainers, and security teams can build on existing queries or create their own.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="js-section section-security-anchor target-security-anchor" id="security-disclose"></div>
    <div class="d-flex flex-wrap gutter gutter-lg-spacious mb-11 flex-column-reverse flex-lg-row">
      <div class="col-12 col-lg-4 offset-lg-1">
        <div class="col-12 col-sm-10 col-md-8 col-lg-12 mb-4 mb-lg-0 mx-lg-0 mx-auto text-center text-lg-left">
          <h4 class="f5 text-normal text-gray-light text-mono mb-2">Disclose</h4>
          <h2 class="h2-mktg mb-2 lh-condensed">Defining the open source security workflow</h2>
          <p class="f4 text-gray-light mb-5">Open source powers the world’s software. GitHub provides the infrastructure security researchers and open source maintainers need to report and disclose security vulnerabilities.</p>
        </div>

        <div class="d-flex flex-wrap flex-row flex-lg-column gutter-condensed col-12 col-sm-8 col-md-12 text-center text-md-left mx-auto mx-md-0">
          <div class="col-12 col-md-6 col-lg-12 mb-4 d-lg-flex flex-items-start flex-column flex-lg-row text-center text-lg-left">
            <%= image_tag "modules/site/features/security-report-icon.svg", alt: "Responsible vulnerability reporting", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Organization-wide security policies</h3>
              <p class="f5 text-gray-light">A repository’s `SECURITY.MD` file describes everything researchers and users need to report a potential vulnerability. Maintainers can create per-project policies or automatically apply one security policy to every repository in their organization.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 d-lg-flex flex-items-start flex-lg-row text-center text-lg-left">
            <%= image_tag "modules/site/features/security-policies-icon.svg", alt: "Security policy", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Responsible vulnerability reporting</h3>
              <p class="f5 text-gray-light">Open source maintainers set security policies for their projects, letting their communities know the best way to responsibly report vulnerabilities. </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-lg-6 mb-4 mb-md-0 mx-auto mx-lg-0 section-security-policy target-security-policy position-relative">
        <%= image_tag "modules/site/security/policy.png", alt: "Security policy", class: "width-full", loading: "lazy" %>
      </div>
    </div>

    <div class="js-section section-security-anchor target-security-anchor" id="security-fix"></div>
    <div class="d-flex flex-wrap flex-items-start gutter gutter-lg-spacious flex-column-reverse flex-lg-row mb-6">
      <div class="col-12 col-sm-10 col-lg-8 mb-6 mb-md-0 mx-auto mx-lg-0">
        <div class="section-security-workspace target-security-workspace position-relative mt-lg-n6">
          <%= image_tag "modules/site/security/workspace-bg.png", alt: "Security workspace", class: "width-full mb-9", loading: "lazy" %>
          <div class="security-workspace-content position-absolute">
            <%= image_tag "modules/site/security/workspace-comment-1.png", alt: "Security workspace comment", class: "width-full", loading: "lazy" %>
            <%= image_tag "modules/site/security/workspace-comment-2.png", alt: "Security workspace comment", class: "width-full", loading: "lazy" %>
            <%= image_tag "modules/site/security/workspace-changes.png", alt: "Security workspace queued changes", class: "width-full", loading: "lazy" %>
            <%= image_tag "modules/site/security/workspace-merge.png", alt: "Security workspace merge", class: "width-full", loading: "lazy" %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mx-auto mx-lg-0">
        <div class="col-12 col-sm-10 col-md-8 col-lg-12 mb-4 mb-lg-0 mx-lg-0 mx-auto text-center text-lg-left">
          <h4 class="f5 text-normal text-gray-light text-mono mb-2">Fix</h4>
          <h2 class="h2-mktg mb-2 lh-condensed">GitHub Security Advisories</h2>
          <p class="f4 text-gray-light mb-5">Open source maintainers have a secure and private space to work through vulnerabilities together. They collaborate on fixes and publish security advisories to the developer community that relies on their projects without leaving GitHub—or tipping off would-be hackers.</p>
        </div>

        <div class="d-flex flex-wrap flex-row flex-lg-column gutter-condensed col-12 col-sm-8 col-md-12 text-center text-md-left mx-auto mx-md-0">
          <div class="col-12 col-md-6 col-lg-12 mb-4 d-lg-flex flex-items-start flex-column flex-lg-row text-center text-lg-left">
            <%= image_tag "modules/site/features/security-collaboration-icon.svg", alt: "Private collaboration for maintainers", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Private collaboration for maintainers</h3>
              <p class="f5 text-gray-light">Before they send out public advisories, maintainers privately discuss the impact of a vulnerability in draft advisories. They collaborate in temporary private forks, and then publish advisories to alert and update the entire ecosystem.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 mb-4 d-lg-flex flex-items-start flex-column flex-lg-row text-center text-lg-left">
            <%= image_tag "modules/site/features/security-dependents-icon.svg", alt: "Securing repositories and their dependents", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Securing repositories and their dependents</h3>
              <p class="f5 text-gray-light"><a href="https://github.com/advisories" class="text-blue-mktg">The GitHub Advisory Database</a> serves as the single source of truth for open source security issues with 1800-plus advisories reported so far. Since launching the database in 2019, open source projects have relied on GitHub to publish security advisories and notify all dependent repositories.</p>
            </div>
          </div>
          <div class="d-md-flex flex-items-start mb-4">
            <%= image_tag "modules/site/features/security-cve-icon.svg", alt: "New CVE records from GitHub", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">CVEs issued by GitHub</h3>
              <p class="f5 text-gray-light">Common Vulnerabilities and Exposures (CVEs) allow anyone to reference a vulnerability and its fix anywhere, including the <a href="https://github.com/advisories" class="text-blue-mktg">GitHub Advisory Database</a> and the <a href="https://nvd.nist.gov">National Vulnerability Database</a>. GitHub can now issue CVEs for any public repository, making it easier for security researchers and maintainers to create CVEs and keep our community safe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="js-section section-security-anchor target-security-anchor" id="security-alert"></div>
    <div class="d-flex flex-wrap gutter gutter-lg-spacious">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-1">

        <div class="col-12 col-sm-10 col-md-12 mb-4 mx-lg-0 mx-auto text-center text-md-left">
          <h4 class="f5 text-normal text-gray-light text-mono mb-2">Alert</h4>
          <h2 class="h2-mktg mb-2 lh-condensed">Dependabot alerts</h2>
          <p class="f4 text-gray-light mb-5">GitHub reviews every security vulnerability to identify and alert affected repositories. For project owners, we’ll always share the details you need to understand and remediate risks with confidence.</p>
        </div>

        <div class="d-flex flex-wrap flex-row flex-lg-column gutter-condensed col-12 col-sm-8 col-md-12 text-center text-md-left mx-auto mx-md-0">
          <div class="mb-4 d-md-flex flex-items-start">
            <%= image_tag "modules/site/features/security-research-icon.svg", alt: "Research-driven vulnerability data", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Rich vulnerability data</h3>
              <p class="f5 text-gray-light">GitHub tracks vulnerabilities in packages from <a class="text-blue-mktg" href="<%= GitHub.help_url %>/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems">supported package managers</a> using data from security researchers, maintainers, and <a class="text-blue-mktg" href="https://nvd.nist.gov">the National Vulnerability Database</a>&mdash; including release notes, changelog entries, and commit details. All discoverable in the GitHub Advisory Database.</p>
            </div>
          </div>
          <div class="d-md-flex flex-items-start mb-4 mb-md-0" style="background: #fff; box-shadow: 0 10px 50px 30px #fff;">
            <%= image_tag "modules/site/features/security-analysis-icon.svg", alt: "Expert analysis on every alert", class: "mb-2", loading: "lazy" %>
            <div class="pl-md-3">
              <h3 class="h4-mktg mb-1">Helping everyone stay secure</h3>
              <p class="f5 text-gray-light">GitHub continuously scans security advisories for popular languages. We send Dependabot alerts to maintainers of affected repositories with details on the severity level and a link to relevant files.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-6 mx-auto mx-md-0 mt-5 section-security-alerts target-security-alerts position-relative">
        <%= svg("site/features/security-alert-ui", class: "width-full") %>
        <div class="section-security-alerts-graph target-security-alerts-graph">
          <%= svg("site/features/security-alert-graph", class: "security-alerts-graph position-relative z-n1") %>
        </div>
      </div>
    </div>

    <div class="py-9">
      <div class="js-section section-security-anchor target-security-anchor" id="security-update"></div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto mb-4 mb-md-6 text-center">
        <h4 class="f5 text-normal text-gray-light text-mono mb-2">Update</h4>
        <h2 class="h1-mktg lh-condensed mb-2">Update vulnerable<br class="d-none d-md-block"> dependencies, automatically</h2>
        <p class="f4 text-gray-light">Identifying security vulnerabilities is only half the challenge—but project owners can update vulnerable dependencies faster than ever with Dependabot security updates.</p>
      </div>

      <div class="d-flex flex-wrap gutter-spacious mb-9">
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 offset-lg-1 mb-4 mb-md-0 mx-auto mr-md-0 text-center text-md-left">
          <h2 class="h2-mktg mb-2 lh-condensed">Automated pull requests for security updates </h2>
          <p class="f4 text-gray-light mb-5">Dependabot security updates keep your projects secure and up to date by monitoring them for vulnerable components. If a vulnerability is found, we’ll automatically open a pull request with suggested fixes—and share compatibility scores based on community tests so you can see the impact of proposed changes before merging.</p>
        </div>

        <div class="col-12 col-md-6 col-lg-7 text-center section-security-dependabot target-security-dependabot position-relative">
          <%= image_tag "modules/site/security/dependabot.png", alt: "Dependabot comment", class: "width-full position-relative", style: "max-width: 658px; left: -2%;", loading: "lazy" %>
          <%= image_tag "modules/site/security/merge-pr.png", alt: "Merge Pull Request", class: "width-full position-relative mt-n10 security-pr-merge", loading: "lazy" %>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center mb-6 mx-auto position-relative section-security-patches-graph target-security-patches-graph">
        <%= svg("site/features/security-patches-graph-l.svg", class: "security-patches-graph-l position-absolute z-n1") %>
        <%= svg("site/features/security-patches-graph-r.svg", class: "security-patches-graph-r position-absolute z-n1") %>

        <%= image_tag "modules/site/features/security-icon.svg", alt: "GitHub Security", class: "mb-2", loading: "lazy" %>
        <h2 class="h2-mktg mb-2 lh-condensed">Protecting codebases from new vulnerabilities</h2>
        <p class="f4 text-gray-light">Keeping code up to date isn’t enough to secure open source for everyone. We’re working with security researchers, maintainers, and developers to prevent new vulnerabilities from entering software projects.</p>
      </div>
    </div>

    <div class="pt-9 pb-11">
      <div class="js-section section-security-anchor target-security-anchor" id="security-prevent"></div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
        <h4 class="f5 text-normal text-gray-light text-mono mb-2">Prevent</h4>
        <h2 class="h1-mktg mb-2 lh-condensed">Secret scanning</h2>
        <p class="f4 text-gray-light mb-5">Every developer has to manage credentials. Secret scanning watches public and private repositories for known secret formats and immediately notifies either the secret provider or private repository admins when secrets are found.</p>
      </div>
      <div class="d-flex flex-wrap flex-items-center gutter gutter-lg-spacious section-security-token-scanning target-security-token-scanning">
        <div class="col-12 col-sm-10 col-lg-7 mx-auto mx-lg-0 mb-6 mb-md-0 position-relative">
          <%= image_tag "modules/site/features/security-token-scanning-alert.svg", alt: "Alert exposed token", class: "position-absolute width-full security-token-scanning-alert", loading: "lazy" %>
          <%= image_tag "modules/site/features/security-token-scanning-patch.svg", alt: "Patched exposed token", class: "position-absolute width-full security-token-scanning-patch", loading: "lazy" %>

          <%= image_tag "modules/site/security/token-scanning.png", alt: "Code with exposed token", class: "width-full", loading: "lazy" %>
        </div>

        <div class="col-12 col-sm-10 col-md-8 col-lg-5 text-center text-lg-left mx-auto mx-lg-0">
          <h2 class="h2-mktg mb-2 lh-condensed">Collaborating with service providers</h2>
          <p class="f4 text-gray-light mb-3">We work closely with more than 24 leading service providers to revoke or replace exposed secrets, so you can continue using secrets securely.</p>

          <div class="py-2">
            <h3 class="h4-mktg">Keeping GitHub secrets safe</h3>
            <p class="f4 text-gray-light">When a valid GitHub secret is pushed to a public repository, we’ll revoke it and notify the repository owner within seconds.</p>
          </div>

          <div class="py-2">
            <h3 class="h4-mktg mb-3">Growing support for popular service providers</h3>
            <%= image_tag "modules/site/features/security-popular-providers.svg", alt: "Popular provider logos", class: "mb-2", loading: "lazy" %>
            <p class="f4 text-gray-light">Secret scanning supports tokens from Alibaba Cloud, Atlassian, AWS, Azure, Dropbox, Discord, Google Cloud, Mailgun, npm, Proctorio, Pulumi, Slack, Stripe, and Twilio, with <a href="<%= GitHub.help_url %>/en/github/administering-a-repository/about-token-scanning" class="text-blue-mktg">more added all of the time</a>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-blue-dark rounded-2 px-10 pt-9 mr-n10 ml-n10 mb-md-9">
      <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
        <h2 class="h1-mktg mb-2 text-white lh-condensed">Eradicate vulnerabilities and their variants before they become a problem</h2>
        <p class="f4 text-white-fade mb-5">Never make the same mistake twice. Security teams leverage GitHub Advanced Security to build security into DevOps processes, scaling secure development to all engineers.</p>
      </div>

      <div class="d-flex gutter gutter-lg-spacious flex-items-center flex-wrap section-security-lgtm target-security-lgtm">
        <div class="col-12 col-md-10 col-lg-8 mb-3 mb-lg-0 position-relative mx-auto mx-lg-0">
          <%= image_tag "modules/site/security/lgtm-vulnerability.png", alt: "Vulnerability found with LGTM", class: "width-full", loading: "lazy" %>
          <%= image_tag "modules/site/features/security-lgtm-alert.svg", alt: "Deserializing user-controlled data may allow attackers to execute arbitrary code.", class: "position-absolute width-full security-lgtm-alert", loading: "lazy" %>
        </div>

        <div class="col-12 col-sm-8 col-lg-4 d-flex gutter-condensed flex-column mx-auto mx-lg-0 text-center text-md-left">
          <div class="mb-md-4 mb-4 d-md-flex flex-items-start">
            <div>
              <h3 class="h3-mktg text-white mb-1">Find and eliminate all variants</h3>
              <p class="f5 text-white-fade">Scan across multiple codebases at scale. By building on existing queries and automating variant analysis, teams find critical vulnerabilities and their variants faster, even in the largest codebases.</p>
            </div>
          </div>
          <div class="mb-4 d-md-flex flex-items-start">
            <div>
              <h3 class="h3-mktg text-white mb-1">Analyze changes to prevent mistakes from reaching production</h3>
              <p class="f5 text-white-fade">Code scanning helps prevent vulnerabilities from reaching production by analyzing every pull request, commit, and merge—recognizing vulnerable code as soon as it’s created.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex gutter gutter-lg-spacious flex-items-center flex-column-reverse flex-lg-row position-relative mt-lg-n8">
        <div class="col-12 col-sm-8 col-lg-4 offset-lg-1 position-relative top-lg-5 text-center text-md-left">
          <div class="d-md-flex flex-items-start mb-9 mb-lg-4">
            <div>
              <h3 class="h3-mktg text-white mb-1">Secure development at every step</h3>
              <p class="f5 text-white-fade">Advanced Security brings consistent analysis to every step of the development process by integrating with the development workflow.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-10 col-lg-7 position-relative mx-auto mx-lg-0 mb-3 mb-lg-n8">
          <%= image_tag "modules/site/security/lgtm-query.png", alt: "Query language for LGTM", class: "width-full", loading: "lazy" %>
        </div>
      </div>
    </div>

    <div class="py-9 mb-4 mb-md-6">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center">
        <h2 class="h1-mktg mb-2 lh-condensed">Compare plans</h2>
        <p class="f4 text-gray-light mb-3">Whether you’re contributing to an open source project or choosing new tools for your team, your security needs are covered. Interested in learning more about secure development in your organization?</p>
        <a class="btn-mktg lh-condensed-ultra py-3 px-4 mb-5" href="https://enterprise.github.com/contact?utm_source=github&utm_medium=site&utm_campaign=adv-security&ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("compare plans") %>" data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Contact Sales;ref_loc:compare plans">Contact Sales</a>
      </div>

      <div class="overflow-x-scroll rounded-1 border">
        <table class="width-full" style="min-width: 800px">
          <thead>
            <tr class="text-center">
              <th class="h4-mktg border-bottom border-right p-3 text-left col-4">Feature</th>
              <th class="h4-mktg border-bottom border-right px-2 py-3 col-2">Free</th>
              <th class="h4-mktg border-bottom border-right px-2 py-3 col-2">Pro</th>
              <th class="h4-mktg border-bottom border-right px-2 py-3 col-2">Team</th>
              <th class="h4-mktg border-bottom px-2 py-3 col-2">Enterprise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Code scanning</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap"><a class="h5-mktg" href="https://enterprise.github.com/contact?utm_source=github&utm_medium=site&utm_campaign=adv-security">Contact us</a></td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.dependabot_help_url %>">Dependabot security updates</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.help_url %>/articles/about-maintainer-security-advisories">GitHub Security Advisories</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.help_url %>/articles/about-security-alerts-for-vulnerable-dependencies">Dependabot alerts</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.help_url %>/articles/adding-a-security-policy-to-your-repository">Security policies</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="/pricing">Secret scanning</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "mb-1 text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
                <span class="d-block">Private repositories <span class="border border-orange h6-mktg rounded-1 text-orange-light lh-condensed-ultra" style="padding: 2px 3px;">Beta</span></span>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.help_url %>/articles/viewing-insights-for-your-organization">Dependency insights</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Two-factor Authentication <span class="text-normal text-gray-light">(2FA)</span></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">WebAuthn & security keys</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Required 2FA for organizations</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Delegated Account Recovery</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap"><%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %></td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Git over Secure Shell (SSH) and HTTPS</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Git over Secure Shell with Enterprise issued certificate authentication</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">GPG commit-signing verification</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Security audit log</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">SAML</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">LDAP</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">IP allow list</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "x", width: "18", height: "18", class: "text-red", alt: "Not included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Enterprise Cloud</span>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3"><a href="<%= GitHub.help_url %>/en/articles/about-protected-branches">Protected branches</a></td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-bottom border-right h5-mktg p-3">Required reviews</td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-bottom p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
            <tr>
              <td class="border-right h5-mktg p-3">Required status checks</td>
              <td class="border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
                <span class="d-block">Public repositories</span>
              </td>
              <td class="border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="border-right p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
              <td class="p-3 text-gray-light text-center no-wrap">
                <%= octicon "check", width: "18", height: "18", class: "text-green-mktg", alt: "Included" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex flex-justify-between flex-wrap flex-items-center flex-row-reverse mb-10 gutter-spacious">
      <div class="col-12 col-sm-10 col-md-6 col-lg-5 mx-auto mx-md-0">
        <div class="rounded-2 p-6 border no-underline mb-6 mb-lg-0">
          <h3 class="h3-mktg text-gray-dark mb-1">Learn more about GitHub Security Lab</h3>
          <p class="text-gray-light mb-5 f4">Security Lab makes dozens of disclosures every year. Learn more about their security discoveries—or join the Advanced Security Cloud beta.</p>

          <a href="https://securitylab.github.com/disclosures" class="btn-mktg btn-outline-mktg lh-condensed-ultra f5 py-3 px-4 mr-1">Explore recent disclosures</a>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-6 mx-auto mx-md-0">
        <h2 class="h1-mktg mb-2 lh-condensed">Sign up for GitHub Advanced Security</h2>
        <p class="h4-mktg text-gray mb-3 pr-md-6">Get our best security tools for teams with Advanced Security, available now for GitHub Enterprise customers.</p>
        <a href="https://enterprise.github.com/contact? <%= { utm_source: "github", utm_medium: "site", utm_campaign: "adv-security", ref_page: request.fullpath, ref_cta: "Contact Sales", ref_loc: "footer" }.to_query %>" class="btn-mktg lh-condensed-ultra f4 py-3 px-4" data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Contact Sales;ref_loc:footer">Contact Sales</a>

        <h2 class="h1-mktg mt-8 mb-2 lh-condensed">Join our beta program</h2>
        <p class="h4-mktg text-gray mb-3 pr-md-6">Try our beta features: code scanning and secret scanning, available now as part of Advanced Security for Enterprise Cloud and free for public&nbsp;repositories.</p>
        <a href="https://github.com/features/security/advanced-security/signup" class="btn-mktg lh-condensed-ultra f4 py-3 px-4 mb-5" data-ga-click="Security features, click, text:Sign up for the beta">Sign up for the beta</a>
      </div>
    </div>

  </div>
</div>
