<% page_info \
  title: "GitHub Packages: Your packages, at home with their code",
  description: "With GitHub Packages you can safely publish and consume packages within your organization or with the entire world.",
  class: "body-fluid",
  marketing_page: true,
  container_xl: true,
  html_class: "html-fluid",
  richweb: {
    title: "GitHub Packages: Your packages, at home with their code",
    url: request.original_url,
    description: "With GitHub Packages you can safely publish and consume packages within your organization or with the entire world.",
    image: image_path("modules/site/social-cards/package-registry.png"),
    twitter_card_image_url: image_path("modules/site/social-cards/package-registry.png")
  }
%>

<% content_for :scripts do %>
  <%= javascript_bundle "marketing" %>
<% end %>

<style>html { scroll-behavior: smooth }</style>

<div class="font-mktg">
  <%= render :partial => "site/packages/header" %>
  <%= render :partial => "site/packages/publish" %>
  <%= render :partial => "site/packages/install" %>
  <%= render :partial => "site/packages/pillars" %>
  <%= render :partial => "site/packages/testimonials" %>
  <%= render :partial => "site/packages/actions" %>
  <%= render :partial => "site/packages/packages_pricing" %>
  <%= render :partial => "site/packages/resources" %>
</div>
