<% page_info \
  title: "Forrester",
  description: "Read the Forrester report",
  html_class: "html-fluid",
  class: "body-fluid",
  marketing_page: true,
  container_xl: true
  %>

<style>html { scroll-behavior: smooth }</style>

<div class="font-mktg text-center" style="min-height: 50vh">
  <h1 class="h0-mktg-fluid mt-12-fluid mb-4-fluid">Forrester</h1>
  <h4 class="text-normal f2-mktg-fluid mb-12-fluid lh-condensed text-gray-light"><a href="https://resources.github.com/forrester/">You can find the report here</a>.</h4>
</div>
