<%graphql
  fragment Root on Query {
    viewer @include(if: $loggedIn) {
      teams {
        totalCount
      }
    }
  }
%>
<%
  data = Views::Site::Index::Root.new(data)

  team_count = data&.viewer&.teams&.total_count
  show_team_tickets = team_count.present? && team_count > 0
%>

<%# erblint:counter TooltipCounter 7 %>
<% page_info \
    title: "The world’s leading software development platform",
    description: "GitHub brings together the world’s largest community of developers to discover, share, and build better software. From open source projects to private team repositories, we’re your all-in-one platform for collaborative development.",
    class: "f4",
    marketing_page: true,
    container_xl: true,
    canonical_url: home_url
%>

<% if !logged_in? %>
  <% content_for :site_banner do %>
    <%= render partial: "site/unsupported_browser" %>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle 'unsupported' %>
<% end %>

<div class="py-6 py-sm-8 jumbotron-codelines">
  <div class="p-responsive position-relative container-lg">
    <div class="d-md-flex flex-items-center gutter-md-spacious">
      <div class="col-md-7 text-center text-md-left <%= "col-md-10 mx-auto text-md-center" if logged_in? %>">
        <h1 class="h000-mktg text-white lh-condensed-ultra mb-3">Built for developers</h1>
        <p class="lead-mktg mb-4">
          GitHub is a development platform inspired by the way you work. From <a href="/open-source" class="text-white jumbotron-link">open source</a> to <a href="/business" class="text-white jumbotron-link">business</a>, you can host and review code, manage projects, and build software alongside <%= GitHub.mktg_stat_user %> million developers.
        </p>
      </div>
      <% if !logged_in? %>
        <%= render partial: "site/signup_form" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "site/home-contact-sales" %>

<div class="container-xl p-responsive py-5 py-md-6 py-lg-7">
  <%= render "site/promo_banner", page_placement: "Home" %>
</div>

<div class="container-lg p-responsive">
  <div class="text-center py-5 py-md-6 py-lg-7">
    <h3 class="h3-mktg text-normal text-gray-light mb-4 lh-condensed">
      More than <%= GitHub.mktg_stat_organization %> million businesses and organizations use GitHub
    </h3>
    <ul class="d-flex flex-justify-center flex-items-center flex-wrap list-style-none mt-2 mt-md-3 grayscale">
      <li><%= image_tag "modules/site/logos/airbnb-logo.png", alt: "Airbnb", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/sap-logo.png", alt: "SAP", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/ibm-logo.png", alt: "IBM", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/google-logo.png", alt: "Google", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/paypal-logo.png", alt: "PayPal", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/bloomberg-logo.png", alt: "Bloomberg", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/spotify-logo.png", alt: "Spotify", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/swift-logo.png", alt: "Swift", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/facebook-logo.png", alt: "Facebook", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/node-logo.png", alt: "Node.js", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/nasa-logo.png", alt: "NASA", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
      <li><%= image_tag "modules/site/logos/walmart-logo.png", alt: "Walmart", class: "logo-img-sm px-2 px-sm-4 px-md-5 my-md-3", loading: "lazy" %></li>
    </ul>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive pb-6">
    <h2 class="h4 text-mono text-normal text-gray text-center">
      GitHub for teams
    </h2>
    <p class="h00-mktg lh-condensed mt-3 mb-2 text-center">
      A better way to work together
    </p>
    <p class="lead-mktg text-gray text-center col-md-8 mx-auto mb-4">
      GitHub brings teams together to work through problems, move ideas forward, and learn from each other along&nbsp;the&nbsp;way.
    </p>
    <div class="text-center">
      <% if logged_in? %>
        <% if current_user.billing_manageable_non_business_plus_orgs.any? %>
          <details class="d-inline-block select-menu details-reset details-overlay">
            <summary class="btn-mktg btn-large-mktg btn-outline-mktg select-menu-button select-menu-button-large"
              data-ga-click="Home upgrade teams, click, text:Upgrade your team">
              Upgrade your team
            </summary>
            <details-menu class="select-menu-modal position-absolute" style="z-index: 99">
              <div class="select-menu-list">
                <% current_user.billing_manageable_non_business_plus_orgs.each do |org| %>
                  <a href="<%= upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business) %>"
                    class="select-menu-item select-menu-item-text"
                    role="menuitem"
                    data-ga-click="Change organization, click to upgrade to Team, ref_page:<%= request.fullpath %>;ref_cta:<org-name>;ref_loc:GitHub for teams dropdown">
                    <%= avatar_for(org, 20, :class => "select-menu-item-gravatar") %>
                    <%= org.safe_profile_name %>
                  </a>
                <% end %>
                <a href="<%= new_organization_path(plan: GitHub::Plan.business) %>"
                  class="select-menu-item select-menu-item-text"
                  role="menuitem"
                  data-ga-click="Create organization, click to set up organization, ref_page:<%= request.fullpath %>;ref_cta:Create organization;ref_loc:GitHub for teams dropdown">
                  <%= octicon("plus", :class => "select-menu-item-icon") %>
                  Create organization
                </a>
              </div>
            </details-menu>
          </details>
        <% else %>
          <%= link_to new_organization_path(plan: GitHub::Plan.business, ref_page: request.fullpath, ref_cta: "Sign up your team", ref_loc: "GitHub for teams"), class: "btn-mktg btn-large-mktg btn-outline-mktg Bump-link", "data-ga-click": "Create organization, click to set up organization, ref_page:#{request.fullpath};ref_cta:Sign up your team;ref_loc:GitHub for teams" do %>
            Sign up your team <span class="Bump-link-symbol">&rarr;</span>
          <% end %>
        <% end %>
      <% else %>
        <a href="<%= signup_path(source: "home", plan: GitHub::Plan.business, setup_organization: true, ref_page: request.fullpath, ref_cta: "Sign up your team", ref_loc: "GitHub for teams") %>"
          class="btn-mktg btn-large-mktg btn-outline-mktg Bump-link"
          <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "sign up your team")) %>
          data-ga-click="Sign up, click to sign up for account, text:Sign up your team;ref_page:<%= request.fullpath %>;ref_cta:Sign up your team;ref_loc:GitHub for teams">
          Sign up your team <span class="Bump-link-symbol">&rarr;</span>
        </a>
      <% end %>
    </div>
  </div>

  <div class="container-xl p-responsive">
    <div class="position-relative overflow-hidden d-lg-flex pt-6">
      <div class="col-10 col-sm-7 mx-auto mx-lg-6 mb-sm-3">
        <img src="<%= image_path "modules/site/home/team.svg" %>" alt="" class="d-block width-fit mx-auto">
      </div>
      <div class="col-lg-5">
        <a href="/features/code-review" class="summarylink">
          <div class="summarylink-illustration">
            <img src="<%= image_path "modules/site/home/team-code.svg" %>" alt="" class="width-fit mx-auto" loading="lazy">
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4 my-4 my-sm-0">
            <div class="col-10">
              <h3 class="h3-mktg text-normal mb-1">Write better code</h3>
              <p class="mb-0">Collaboration makes perfect. The conversations and code reviews that happen in pull requests help your team share the weight of your work and improve the software you build. <span class="link-mktg text-blue">Learn about code review.</span></p>
            </div>
            <%= octicon("triangle-right", :class => "text-blue") %>
          </div>
        </a>
        <a href="/features/project-management" class="summarylink">
          <div class="summarylink-illustration">
            <img src="<%= image_path "modules/site/home/team-chaos.svg" %>" alt="" class="width-fit mx-auto" loading="lazy">
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4 my-4 my-sm-0">
            <div class="col-10">
              <h3 class="h3-mktg text-normal mb-1">Manage your chaos</h3>
              <p class="mb-0">Take a deep breath. On GitHub, project management happens in issues and project boards, right alongside your code. All you have to do is mention a teammate to get them involved. <span class="link-mktg text-blue">Learn about project management.</span></p>
            </div>
            <%= octicon("triangle-right", :class => "text-blue") %>
          </div>
        </a>
        <a href="/features/integrations" class="summarylink">
          <div class="summarylink-illustration">
            <img src="<%= image_path "modules/site/home/team-tools.svg" %>" alt="" class="width-fit mx-auto" loading="lazy">
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4 my-4 my-sm-0">
            <div class="col-10">
              <h3 class="h3-mktg text-normal mb-1">Find the right tools</h3>
              <p class="mb-0">Browse and buy apps from GitHub Marketplace with your GitHub account. Find the tools you like or discover new favorites—then start using them in minutes. <span class="link-mktg text-blue">Learn about integrations.</span></p>
            </div>
            <%= octicon("triangle-right", :class => "text-blue") %>
          </div>
        </a>
      </div>
    </div>
  </div>

  <% if !GitHub.enterprise? %>
    <h3 class="lead-mktg text-gray text-center col-md-8 mt-6 mx-auto">
      See how the world's leading companies use GitHub Enterprise.
    </h3>
    <div class="d-flex flex-wrap flex-items-stretch flex-justify-center container-xl gutter-sm-condensed gutter-md mx-auto p-responsive">
      <% ExploreFeed::CustomerStory.site_index_customers.each do |customer_story| %>
        <%= render(
          "site/customer_stories/small_card_customer_story",
          small_card_customer_story: customer_story,
        ) %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h4 text-mono text-normal text-gray text-center">
      Security and administration
    </h2>
    <p class="h00-mktg mt-3 mb-2 text-center">
      Your business needs, met
    </p>
    <p class="lead-mktg text-gray text-center col-md-8 mx-auto mb-4">
       From flexible hosting to granular access controls, we’ve got your security requirements&nbsp;covered.
    </p>
    <p class="text-center mb-5">
      <a href="/enterprise" class="btn-mktg btn-large-mktg btn-outline-mktg mx-auto Bump-link" data-ga-click="Home Enterprise, click, text:Learn how GitHub Enterprise works">
        <span class="d-sm-none">How GitHub Enterprise works <span class="Bump-link-symbol">&rarr;</span></span>
        <span class="d-none d-sm-inline">Learn how GitHub Enterprise works <span class="Bump-link-symbol">&rarr;</span></span>
      </a>
    </p>

    <div class="d-md-flex flex-items-center flex-row-reverse mt-6 mb-3">
      <div class="col-md-6 mx-auto px-5 pr-md-0 text-center">
        <img src="<%= image_path "modules/site/home/business.png" %>" alt="Security and administration" class="width-fit mb-4" loading="lazy">
      </div>
      <div class="col-md-6 mx-auto text-md-left f5 p-sm-6">
        <h3 class="h3-mktg text-normal mb-1">Code security</h3>
        <p class="text-gray mb-3 mb-md-5">
          Prevent problems before they happen. Protected branches, signed commits, and required status checks protect your work and help you maintain a high standard for your code.
        </p>
        <h3 class="h3-mktg text-normal mb-1 mt-sm-6">Access controlled</h3>
        <p class="text-gray mb-3 mb-md-5">
          Encourage teams to work together while limiting access to those who need it with granular permissions and authentication through SAML/SSO and LDAP.
        </p>
      </div>
    </div>

    <div class="col-md-7 mx-auto Tile Tile--dots clearfix p-4 border pt-5 bg-white" style="min-height: 0">
      <div class="float-left">
        <%= svg("site/icons/1clr-code-hosting.svg", class: "mr-4", width: "64px") %>
      </div>
      <div class="overflow-hidden">
        <h3 class="h4-mktg">Hosted where you need it</h3>
        <p class="f5 text-gray mr-2">Securely and reliably host your work on GitHub using GitHub Enterprise Cloud. Or deploy GitHub Enterprise Server in your own data centers or in a private cloud using Amazon Web Services, Azure, or Google Cloud Platform.</p>

        <a href="/pricing" class="d-block no-underline Bump-link" data-ga-click="Home Enterprise, click, text:Compare plans">Compare plans <span class="Bump-link-symbol">&rarr;</span></a>
        <a href="<%= ent_contact_url %>" class="d-block no-underline Bump-link" data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Sign up your team;ref_loc:GitHub for teams">Contact Sales for more information <span class="Bump-link-symbol">&rarr;</span></a>
      </div>
    </div>

  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive text-center">
    <div class="col-md-8 py-md-6 mx-auto">
      <h2 class="h4 text-mono text-normal text-gray">
        Integrations
      </h2>
      <p class="h00-mktg lh-condensed mt-3 mb-2">
        Build on GitHub
      </p>
      <p class="lead-mktg text-gray mb-4 px-md-3">
        Customize your process with GitHub apps and an intuitive API. Integrate the tools you already use or discover new favorites to create a happier, more efficient way of working.
      </p>
      <p class="f4 text-center mb-6">
        <a href="/features/integrations" class="btn-mktg btn-large-mktg btn-outline-mktg mx-auto Bump-link">Learn about integrations <span class="Bump-link-symbol">&rarr;</span></a>
      </p>
    </div>

    <div class="apps-cluster d-flex flex-wrap flex-justify-center pb-6">
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #4A154B;" aria-label="Slack"><img src="<%= image_path "modules/site/integrators/slackhq.png" %>" alt="Slack" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #364e98;" aria-label="ZenHub"><img src="<%= image_path "modules/site/integrators/zenhubio.png" %>" alt="ZenHub" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #eff9f9;" aria-label="Travis CI"><img src="<%= image_path "modules/site/integrators/travis-ci.png" %>" alt="Travis CI" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #5fb57d;" aria-label="Atom"><img src="<%= image_path "modules/site/integrators/atom.png" %>" alt="Atom" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #022531;" aria-label="Circle CI"><img src="<%= image_path "modules/site/integrators/circleci.png" %>" alt="Circle CI" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #f2f2f2;" aria-label="Google"><img src="<%= image_path "modules/site/integrators/google.png" %>" alt="Google" class="CircleBadge-icon" loading="lazy"></div>
      <div class="CircleBadge CircleBadge--medium CircleBadge--feature hide-sm tooltipped tooltipped-s tooltipped-no-delay" style="background-color: #303030;" aria-label="Code Climate"><img src="<%= image_path "modules/site/integrators/codeclimate.png" %>" alt="Code Climate" class="CircleBadge-icon" loading="lazy"></div>
    </div>

    <div class="col-md-8 py-md-6 mx-auto">
      <p class="my-2 f5 col-sm-8 col-md-6 mx-auto text-gray">
        Sometimes, there’s more than one tool for the job. Why not try something new?
      </p>
      <p>
        <a href="/marketplace" class="no-underline Bump-link" data-ga-click="Marketplace, click, text:Browse GitHub Marketplace">
          Browse GitHub Marketplace <span class="Bump-link-symbol">&rarr;</span>
        </a>
      </p>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h4 text-mono text-normal text-gray text-center">
      Community
    </h2>
    <p class="h00-mktg mt-3 mb-4 lh-condensed text-center">
      Welcome home, <br>developers
    </p>
    <% if !GitHub.enterprise? %>
      <p class="lead-mktg text-gray text-center col-md-8 mx-auto">
        GitHub is home to the world’s largest community of developers and their&nbsp;projects...
      </p>
    <% end %>
  </div>

  <% if !GitHub.enterprise? %>
    <div class="d-flex flex-wrap flex-items-stretch flex-justify-center container-xl gutter-sm-condensed gutter-md mx-auto mb-3 p-responsive">
      <% ExploreFeed::CustomerStory.site_index_developers.each do |customer_story| %>
        <%= render(
          "site/customer_stories/small_card_customer_story",
          small_card_customer_story: customer_story,
        ) %>
      <% end %>
    </div>
  <% end %>

  <div class="container-lg p-responsive">
    <% if !GitHub.enterprise? %>
      <p class="lead-mktg text-gray text-center col-md-8 mx-auto pb-md-6">
        ...whether you’re making your first commit or sending a Rover to Mars, there’s room for you here, too.
      </p>
    <% end %>

    <div class="gutter-md">
      <div class="communitystats position-relative">
        <a href="/open-source" class="d-inline-block summarylink">
          <div class="circle summary-circle d-flex flex-column flex-justify-center text-center p-4 mx-auto mt-6 mb-3 m-md-3 bg-orange box-shadow-extra-large">
            <span class="d-block h0-mktg text-normal text-white lh-condensed-ultra mb-1"><%= GitHub.mktg_stat_repository %>M<sup class="f2-light">*</sup></span>
            <span class="h5 text-white lh-condensed">repositories worldwide</span>
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4">
            <p class="col-10 mb-0">GitHub’s users create and maintain influential technologies alongside the world’s largest <span class="text-orange">open source&nbsp;community</span>.</p>
            <%= octicon("triangle-right", :class => "text-orange-light") %>
          </div>
        </a>

        <a href="/personal" class="d-inline-block summarylink">
          <div class="circle summary-circle d-flex flex-column flex-justify-center text-center p-4 mx-auto mt-6 mb-3 m-md-3 bg-blue box-shadow-extra-large">
            <span class="d-block h0-mktg text-normal text-white lh-condensed-ultra mb-1"><%= GitHub.mktg_stat_user %>M<sup class="f2-light">*</sup></span>
            <span class="h5 text-white lh-condensed">developers worldwide</span>
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4">
            <p class="col-10 mb-0"><span class="text-blue">Developers</span> use GitHub for personal projects, from experimenting with new programming languages to hosting their life’s work.</p>
            <%= octicon("triangle-right", :class => "text-blue") %>
          </div>
        </a>

        <a href="/business" class="d-inline-block summarylink">
          <div class="circle summary-circle d-flex flex-column flex-justify-center text-center p-4 mx-auto mt-6 mb-3 m-md-3 bg-purple box-shadow-extra-large">
            <span class="d-block h1-mktg text-normal text-white lh-condensed-ultra my-1"><%= GitHub.mktg_stat_organization %>M<sup class="f3-light">*</sup></span>
            <span class="h5 text-white lh-condensed">businesses & organizations worldwide</span>
          </div>
          <div class="summarylink-btn d-flex flex-justify-between flex-items-center f5 text-gray-dark rounded-1 p-sm-4">
            <p class="col-10 mb-0"><span class="text-purple">Businesses</span> of all sizes use GitHub to support their development process and to securely build software.</p>
            <%= octicon("triangle-right", :class => "text-purple") %>
          </div>
        </a>

        <div class="mt-6 ml-md-4 text-gray-light f6">
          * As of <%= GitHub.mktg_stat_last_updated %>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render partial: "site/featurette_signup" %>
