<% page_info \
  title: "GitHub Logos and Usage",
  class: "marketing f5",
  container_xl: true,
  marketing_page: true %>

<div class="container-lg p-responsive py-6">
  <h1 class="h00-mktg lh-condensed text-center">GitHub Logos and Usage</h1>

  <p class="lead-mktg text-gray text-center col-8 mx-auto">We’ve put together some assets for those times when you want to show off your GitHub integration or link back to us. Happy shipping!</p>

  <div class="clearfix gutter-md mt-6">
    <div class="float-md-left col-12 col-sm-8 col-md-4 mx-auto mb-5">
      <div class="d-flex flex-column flex-justify-end"
        style="height: 290px;">
        <div class="d-flex flex-items-center flex-justify-center flex-auto Box border-bottom-0"
          style="border-radius: 3px 3px 0 0;">
          <%= image_tag 'modules/logos_page/GitHub-Logo.png', :width => '200', :alt => 'GitHub Logotype' %>
        </div>
        <a class="btn btn-outline p-3 h4-mktg text-center"
          style="border-top-right-radius: 0; border-top-left-radius: 0;"
          href="https://github-media-downloads.s3.amazonaws.com/GitHub-Logos.zip">
          <%= octicon("cloud-download", :class => "mr-1") %>
          Download logo
        </a>
      </div>
    </div>
    <div class="float-md-left col-12 col-sm-8 col-md-4 mx-auto mb-5">
      <div class="d-flex flex-column flex-justify-end"
        style="height: 290px;">
        <div class="d-flex flex-items-center flex-justify-center flex-auto Box border-bottom-0"
          style="border-radius: 3px 3px 0 0;">
          <%= image_tag 'modules/logos_page/GitHub-Mark.png', :width => '200', :alt => 'GitHub Logomark' %>
        </div>
        <a class="btn btn-outline p-3 h4-mktg text-center"
          style="border-top-right-radius: 0; border-top-left-radius: 0;"
          href="https://github-media-downloads.s3.amazonaws.com/GitHub-Mark.zip">
          <%= octicon("cloud-download", :class => "mr-1") %>
          Download mark
        </a>
      </div>
    </div>
    <div class="float-md-left col-12 col-sm-8 col-md-4 mx-auto">
      <div class="d-flex flex-column flex-justify-end"
        style="height: 290px;">
        <div class="d-flex flex-items-center flex-justify-center flex-auto Box border-bottom-0"
          style="border-radius: 3px 3px 0 0;">
          <%= image_tag 'modules/logos_page/Octocat.png', :width => '220', :class => 'p-2', :alt => 'GitHub Octocat' %>
        </div>
        <a class="btn btn-outline p-3 h4-mktg text-center"
          style="border-top-right-radius: 0; border-top-left-radius: 0;"
          href="https://github-media-downloads.s3.amazonaws.com/Octocats.zip">
          <%= octicon("cloud-download", :class => "mr-1") %>
          Download Octocat
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix gutter-sm mt-6">
    <div class="float-sm-left col-12 col-sm-6">
      <h3 class="h3-mktg">Do these awesome things</h3>
      <ul class="hanging-icon-list">
        <li><%= octicon("check") %> Use the Octocat or GitHub logo to link to GitHub</li>
        <li><%= octicon("check") %> Use the Mark in social buttons to link to your GitHub profile or project</li>
        <li><%= octicon("check") %> Use the Octocat or GitHub logo to advertise that your product has built-in GitHub integration</li>
        <li><%= octicon("check") %> Use the Octocat or GitHub logo in a blog post or news article about GitHub</li>
      </ul>
    </div>
    <div class="float-sm-left col-12 col-sm-6 mt-6 mt-sm-0">
      <h3 class="h3-mktg">Please don’t do these things</h3>
      <ul class="hanging-icon-list">
        <li><%= octicon("x") %> Use the Octocat or GitHub logo for your application’s icon</li>
        <li><%= octicon("x") %> Create a modified version of the Octocat or GitHub logo</li>
        <li><%= octicon("x") %> Integrate the Octocat or GitHub logo into your logo</li>
        <li><%= octicon("x") %> Use any GitHub artwork without permission</li>
        <li><%= octicon("x") %> Sell any GitHub artwork without permission</li>
        <li><%= octicon("x") %> Change the colors, dimensions or add your own text/images</li>
      </ul>
    </div>
  </div>

  <div class="clearfix gutter-sm mt-6">
    <div class="float-sm-left col-12 col-sm-6 mt-lg-4">
      <h3 class="h3-mktg">Please contact us</h3>
      <ul class="ml-3">
        <li class="my-2">If you want to use artwork not included in this repository</li>
        <li class="my-2">If you want to use these images in a video/mainstream media</li>
      </ul>
    </div>
    <div class="float-sm-left col-12 col-sm-6 mt-6 mt-sm-0 mt-lg-4">
      <h3>Naming projects and products</h3>
      <p class="mt-2">Please avoid naming your projects anything that implies GitHub’s endorsement. This also applies to domain names.</p>
    </div>
  </div>

  <div class="gutter-sm mt-6">
    <div class="col-12 col-sm-6 mt-lg-4">
      <h3 class="h3-mktg">Legal</h3>
      <div class="mt-2">
        In short, the GitHub logos and Octocat represent only GitHub and should not be used to represent your products. You may also
        <%= render layout: "shared/details_dialog", locals: {
          button_class: "btn-link",
          button_text: "read the official legal terms,",
          title: "Logo and Octocat terms of use"
        } do %>
          <div class="Box-body overflow-auto">
            <p>GITHUB®, the GITHUB® logo design, OCTOCAT® and the OCTOCAT® logo design are exclusive trademarks registered in the United States by GitHub, Inc.</p>
            <p>The OCTOCAT design is the exclusive property of GitHub, Inc and has been federally registered with the United States Copyright Office. All rights reserved.</p>
            <p>No adaptation or use of any kind of any of our registered trademarks or copyrights, or any other contents of this website, is allowed without the express written permission of GitHub, Inc.</p>
            <p>For more information regarding the authorized uses of these items please <a href="<%= contact_path %>">contact us</a>.</p>
          </div>
        <% end %> if you’re into that.</div>
    </div>
  </div>

</div>
