<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 11 %>
<% page_info \
    title: "Where open source communities live",
    class: "f4",
    container_xl: true,
    marketing_page: true %>

<div class="py-6 py-sm-8 py-lg-10 py-xl-12 jumbotron-codelines">
  <div class="container-lg p-responsive position-relative text-white text-center">
    <h1 class="h00-mktg lh-condensed mb-3 col-md-9 mx-auto">The largest open&nbsp;source community in the&nbsp;world</h1>
    <p class="lead-mktg text-white-fade mb-5 col-md-8 mx-auto">There are millions of open source projects on GitHub. Join&nbsp;one or start your own.</p>
    <% if !logged_in? %>
      <a href="<%= signup_path(source: "hero-opensource") %>"
        rel="nofollow"
        class="btn-mktg btn-large-mktg"
        <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "signup top")) %>
        data-ga-click="Signup top, Attempt, text:Sign up for GitHub">
        Sign up for GitHub
      </a>
    <% end %>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h00-mktg lh-condensed-ultra mb-4 text-center col-md-8 mx-auto">
      Get the most out of open&nbsp;source
    </h2>
    <p class="lead-mktg text-gray text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Open source software is free for you to use and explore. Get involved to perfect your craft and be part of something big.
    </p>
    <div class="clearfix gutter-md-spacious">
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/community-actions.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h4-mktg mb-2">Shape the future of&nbsp;software</h3>
            <p class="f5 text-gray">Your contributions help make technology better for everyone, developers and non-developers&nbsp;alike.</p>
          </div>
        </div>
      </div>
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/trophy.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h4-mktg mb-2">Work with the best in the&nbsp;field</h3>
            <p class="f5 text-gray">Amazing developers use GitHub. Contribute code to projects that change how software&nbsp;is&nbsp;built.</p>
          </div>
        </div>
      </div>
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/grow.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h4-mktg mb-2">Grow your skills and help&nbsp;others</h3>
            <p class="f5 text-gray">Whatever your skill level, working on open source software is a great way to learn new&nbsp;things.</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-5 my-md-7">

    <%= render "site/open_source_guides_feature" %>

    <hr class="my-5 my-md-7">

    <%= render "site/open_source_friday_feature" %>

    <hr class="my-5 my-md-7">

    <div class="d-md-flex flex-items-center">
      <div class="col-md-6 pr-md-4 text-center">
        <img src="<%= image_path "modules/site/os-survey.png" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="col-md-6 text-center text-md-left">
        <h3 class="h3-mktg mb-2">Learn how others use and contribute to open source</h3>
        <p class="text-gray mb-4">Browse data from over 3,800 projects on the experiences and backgrounds of those who use and build open source software.</p>

        <p class="f5">
          <a class="btn-mktg btn-outline-mktg" href="http://opensourcesurvey.org/">Read Open Source Survey</a>
        </p>
      </div>
    </div>


  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 border-top">
  <div class="container-lg p-responsive">
    <h2 class="h00-mktg lh-condensed-ultra mb-4">Join the community</h2>
    <p class="lead-mktg mb-2 pb-md-4 col-md-8">Whether you are new to code or ready to start a big project, there are a few ways to get involved in open source.</p>

    <div class="d-md-table direction-md-rtl">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source-ill-watch.png?sn1" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left direction-md-ltr">
        <h3 class="h3-mktg mb-2">Follow open source projects</h3>
        <p class="text-gray">Learn how developers build and maintain open source software. You can watch a project that interests you to see its progress as it happens.</p>
      </div>
    </div>

    <hr class="my-5 my-md-7">

    <div class="d-md-table">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source-ill-experiment.png?sn1" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left">
        <h3 class="h3-mktg mb-2">Build on great ideas</h3>
        <p class="text-gray">You don’t have to build everything from scratch. Make copies of your favorite projects, experiment in private repositories, and tailor tools and features to meet your needs.</p>
      </div>
    </div>

    <hr class="my-5 my-md-7">

    <div class="d-md-table direction-md-rtl">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source-ill-giveback.png?sn1" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left direction-md-ltr">
        <h3 class="h3-mktg mb-2">Contribute your skills</h3>
        <p class="text-gray">Make a suggestion, fix a bug, improve documentation, or contribute code to a project. Even asking questions helps.</p>
      </div>
    </div>

  </div>
</div>

<hr class="my-5 my-md-7">

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h00-mktg lh-condensed-ultra text-center mb-4">The people behind the code</h2>
    <p class="lead-mktg text-gray text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Open source software is made by people just like you. Here’s how they got&nbsp;started.
    </p>
  </div>

  <div class="container-xl p-responsive">
    <div class="d-md-flex mb-5">
      <div class="col-md-4 dots-4 bg-white p-5 p-md-6">
        <h3 class="h3-mktg mb-2">Katrina Owen</h3>
        <p class="my-4">
          Katrina Owen created Exercism, a platform to gain fluency in programming languages, to solve her own needs. Today, Exercism supports more than 50 programming languages, written and used by developers in over 190 countries.
        </p>
      </div>
      <div class="col-md-8 p-0 bg-gray-dark">
        <div class="video-responsive">
          <iframe title="Video titled: 'Maintainer Stories - Katrina Owen'" src="https://www.youtube.com/embed/MjKwvdF7SrA?rel=0&amp;showinfo=0&amp;end=300;" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg p-responsive">
    <div class="d-md-flex flex-justify-center gutter-md-spacious mb-3">
      <% ExploreFeed::CustomerStory.open_source.each do |customer_story| %>
        <%= render(
          "site/customer_stories/small_card_customer_story",
          small_card_customer_story: customer_story,
        ) %>
      <% end %>
    </div>

    <p class="text-center mb-3">
      <a class="btn-mktg btn-large-mktg btn-outline-mktg" href="/customer-stories/developers"><%= octicon("comment", :class => "mr-2 v-align-middle") %>Read more developer stories</a>
    </p>
  </div>
</div> <!--end meet the people-->

<div class="py-7 py-md-8 py-lg-9 bg-shade-gradient">
  <div class="container-lg p-responsive">
    <h2 class="h00-mktg lh-condensed-ultra mb-4 text-center">Explore millions of projects</h2>
    <p class="lead-mktg text-gray text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Whatever your interest—whether it’s mobile apps or astrophysics—there’s an open source project for&nbsp;you.
    </p>
    <div class="mb-4 text-center">
      <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/microsoft/vscode" aria-label="github.com/microsoft/vscode"><img src="<%= image_path "modules/site/logos/visualstudio-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/facebook" aria-label="github.com/facebook"><img src="<%= image_path "modules/site/logos/facebook-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/emberjs" aria-label="github.com/emberjs"><img src="<%= image_path "modules/site/logos/ember-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg tooltipped-s tooltipped-logo"></a>
      <span class="d-inline-block">
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/apple/swift" aria-label="github.com/apple/swift"><img src="<%= image_path "modules/site/logos/swift-logo.png?sn?sn" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/nasa" aria-label="github.com/nasa"><img src="<%= image_path "modules/site/logos/nasa-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/google" aria-label="github.com/google"><img src="<%= image_path "modules/site/logos/google-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      </span>
      <span class="d-inline-block">
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/rails" aria-label="github.com/rails"><img src="<%= image_path "modules/site/logos/rails-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/jquery" aria-label="github.com/jquery"><img src="<%= image_path "modules/site/logos/jquery-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg tooltipped-s tooltipped-logo"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/twbs" aria-label="github.com/twbs"><img src="<%= image_path "modules/site/logos/bootstrap-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg tooltipped-s tooltipped-logo"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/docker" aria-label="github.com/docker"><img src="<%= image_path "modules/site/logos/docker-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg tooltipped-s tooltipped-logo"></a>
        <a class="tooltipped tooltipped-s tooltipped-logo mb-3" href="//github.com/nodejs" aria-label="github.com/nodejs"><img src="<%= image_path "modules/site/logos/node-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      </span>
    </div>
    <p class="h4-mktg text-center">
      <a href="/explore" class="btn-mktg btn-outline-mktg mb-4"> <%= octicon("telescope", :height => 22, :class => "mr-1") %>Start exploring now</a>
    </p>

    <hr class="my-5 my-md-7">
      <div class="clearfix gutter-md-spacious mt-6">
        <div class="float-left col-md-6 mb-6 text-center text-md-left">
          <h3 class="lead-mktg text-gray mb-3"><%= octicon("code", :height => 40, :class => "mr-1 mb-2 v-align-middle") %>  with <%= octicon("heart", :height => 40, :class => "mr-1 mb-2 v-align-middle") %> by <%= octicon("logo-github", :height => 35, :class => "ml-1 mb-2 v-align-middle") %></h3>
          <p class="text-gray">We’re building developer tools alongside you. We hope they help you perfect your process, work on projects of any size, and share ideas with your friends and coworkers. Take them for a spin or <a href="//github.com/github" class="text-orange-light no-wrap">help us build them</a>.</p>
        </div>
        <div class="float-left col-md-6 mt-2">
          <div class="clearfix">
            <div class="float-left featurette-benefit-img"><img src="<%= image_path "modules/site/logos/atom-logo.png" %>" alt="" loading="lazy" class="featurette-icon"></div>
            <div class="overflow-hidden pb-4 pl-4">
              <h4 class="h4-mktg"><a href="//atom.io" class="text-orange-light" target="_blank">Atom</a></h4>
              <p class="f5 text-gray">Atom is a hackable text editor for the 21st century, built on Electron, and based on everything we love about our favorite editors.</p>
            </div>
          </div>
          <div class="clearfix">
            <div class="float-left featurette-benefit-img"><img src="<%= image_path "modules/site/logos/hubot-logo.png" %>" alt="" loading="lazy" class="featurette-icon"></div>
            <div class="overflow-hidden pb-4 pl-4">
              <h4 class="h4-mktg"><a href="//hubot.github.com" class="text-orange-light" target="_blank">Hubot</a></h4>
              <p class="f5 text-gray">Hubot is a chat bot, modeled after GitHub’s Campfire bot, hubot. He’s pretty cool. He’s extendable with scripts and can work on many different chat services.</p>
            </div>
          </div>
          <div class="clearfix">
            <div class="float-left featurette-benefit-img"><img src="<%= image_path "modules/site/logos/lfs-logo.png" %>" alt="" loading="lazy" class="featurette-icon"></div>
            <div class="overflow-hidden pl-4 pb-0">
              <h4 class="h4-mktg"><a href="//git-lfs.github.com" class="text-orange-light" target="_blank">Git Large File Storage</a></h4>
              <p class="f5 text-gray">Git LFS is a command line extension and specification for managing large files with Git. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="py-7 py-md-8 py-lg-9 border-top border-bottom">
  <div class="container-lg p-responsive">
    <div class="text-center mx-auto">
      <% if !logged_in? %>
      <h2 class="h1-mktg lh-condensed mb-2">
        Get started for free
      </h2>
      <p class="lead-mktg text-gray text-center mb-2 pb-md-4 col-md-8 mx-auto">
        Public and open source projects are free to start, maintain, and contribute to. Add advanced collaboration tools to your private repositories for $7/month.
      </p>
      <p class="f3 mb-6">
        <a href="<%= signup_path(source: "button-opensource") %>"
          rel="nofollow"
          class="btn-mktg btn-large-mktg"
          <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "signup bottom")) %>
          data-ga-click="Signup bottom, Attempt, text:Sign up for GitHub">
          Sign up for GitHub
        </a>
      </p>
      <% end %>

      <h2 class="h1-mktg lh-condensed pt-6 mb-2">Stay in touch</h2>
      <p class="lead-mktg text-gray text-center mb-2 col-md-8 mx-auto">
        Be the first to hear about GitHub’s latest open source tips and resources.
      </p>
      <div class="col-md-8 col-lg-6 col-xl-5 mx-auto my-5 p-5 bg-gray-light Box" id="mc_embed_signup">
        <%= form_tag "//github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=b514344ba3",
              :method => :post,
              :id => "mc-embedded-subscribe-form",
              :name => "mc-embedded-subscribe-form",
              :target => "_blank",
              :novalidate => "novalidate" do %>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="d-inline-block mb-2 h4-mktg">Your email address</label>
            <input type="email" placeholder="email@example.com" value="" name="EMAIL" class="form-control input-block input-contrast f4 mb-3 bg-white" id="mce-EMAIL">
            <input type="checkbox" value="8" name="group[9617][8]" id="mce-group[9617]-9617-3" checked style="display:none">
            <input type="submit" value="Sign up for updates" name="subscribe" id="mc-embedded-subscribe" class="btn-mktg" data-ga-click="Email updates, click, text:Sign up for updates">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
