<%# erblint:disable ProperTagNesting %>
<%# erblint:disable LinkHasHref, ButtonHasType %>
<% page_info \
title: "Styles",
description: "This is for staff only.",
class: "",
marketing_page: true,
container_xl: true
%>

  <div class="container-xl mx-auto py-6 p-responsive gutter gutter-lg-spacious">
    <div class="col-6">
      <article class="mb-6">
        <h1 class="h000-mktg mb-3">h000-mktg</h1>

        <h1 class="h00-mktg mb-3">h00-mktg</h1>

        <h1 class="h0-mktg mb-3">h0-mktg</h1>

        <h1 class="h1-mktg mb-3">h1-mktg</h1>

        <h2 class="h2-mktg mb-3">h2-mktg</h2>

        <h3 class="h3-mktg mb-3">h3-mktg</h3>

        <h4 class="h4-mktg mb-3">h4-mktg</h4>

        <h5 class="h5-mktg mb-3">h5-mktg</h5>

        <h6 class="h6-mktg mb-3">h6-mktg</h6>

        <p class="lead-mktg">lead-mktg</p>

        <h1 class="f1 text-normal text-mono mb-3">h1 mono</h1>

        <h2 class="f2 text-normal text-mono mb-3">h2 mono</h2>

        <h3 class="f3 text-normal text-mono mb-3">h3 mono</h3>

        <h4 class="f4 text-normal text-mono mb-3">h4 mono</h4>

        <h5 class="f5 text-normal text-mono mb-3">h5 mono</h5>

        <h6 class="f6 text-normal text-mono mb-3">h6 mono</h6>
      </article>

      <article class="mb-6">
        <h1 class="h000-mktg lh-condensed">Headline h000</h1>
        <p class="f3 text-gray">Text f3 that supports the headline with additional information</p>
      </article>

      <article class="mb-6">
        <h1 class="h00-mktg lh-condensed">Headline h00</h1>
        <p class="f3 text-gray">Text f3 that supports the headline with additional information</p>
      </article>

      <article class="mb-6">
        <h1 class="h0-mktg lh-condensed">Headline h0</h1>
        <p class="f4 text-gray">Text f4 that supports the headline with additional information</p>
      </article>

      <article class="mb-6">
        <h1 class="h0-mktg lh-condensed">Headline h0 <em class="text-gray-light-ultra">with emphasis</em></h1>
      </article>

      <div class="mb-4">
        <h2 class="h4 underline-dashed text-mono text-normal">Mono h4 subhead</h2>
      </div>

      <div class="mb-4">
        <p>Paragraph text lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. <a href="#" class="link-mktg">Example inline</a> link dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
      </div>
    </div>

    <div class="d-flex p-4 gutter gutter-lg-spacious mb-6">
      <div class="col-3">
        <a class="Tile Tile--symbol no-underline height-full p-4 pb-9 link-gray-dark" href="#">
          <h4 class="text-gray-light-ultra pr-4 h5 text-normal lh-condensed text-mono mb-2">The Wall Street Journal</h4>
          <h3 class="h3-mktg">Microsoft Is Buying GitHub for $7.5 Billion in Stock</h3>
          <p class="position-absolute bottom-4 left-4 h5 text-normal text-mono text-gray-light-ultra lh-condensed">June 4, 2018</p>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile Tile--symbol no-underline height-full p-4 pb-9 link-gray-dark" href="#">
          <h4 class="text-gray-light-ultra pr-4 h5 text-normal lh-condensed text-mono mb-2">Business Insider</h4>
          <h3 class="h3-mktg">The old CEO of GitHub and the new CEO of GitHub lay out the master plan after Microsoft buys it for $7.5 billion</h3>
          <p class="position-absolute bottom-4 left-4 h5 text-normal text-mono text-gray-light-ultra lh-condensed">June 4, 2018</p>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile Tile--symbol no-underline height-full p-4 pb-9 link-gray-dark" href="#">
          <h4 class="text-gray-light-ultra pr-4 h5 text-normal lh-condensed text-mono mb-2">The Inquirer</h4>
          <h3 class="h3-mktg">Happy 10th birthday GitHub, it's been eventful</h3>
          <p class="position-absolute bottom-4 left-4 h5 text-normal text-mono text-gray-light-ultra lh-condensed">April 11, 2018</p>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile Tile--symbol no-underline height-full p-4 pb-9 link-gray-dark" href="#">
          <h4 class="text-gray-light-ultra pr-4 h5 text-normal lh-condensed text-mono mb-2">WIRED</h4>
          <h3 class="h3-mktg">GitHub Survived the Biggest DDoS Attack Ever Recorded</h3>
          <p class="position-absolute bottom-4 left-4 h5 text-normal text-mono text-gray-light-ultra lh-condensed">April 11, 2018</p>
        </a>
      </div>
    </div>

    <div class="d-flex p-4 gutter gutter-lg-spacious mb-6">
      <div class="col-3">
        <a class="Tile no-underline height-full d-flex flex-justify-between flex-column p-4" href="#">
          <div style="width: 60px; height: 60px;" class="bg-gray-dark circle"></div>

          <div>
            <h4 class="text-gray-light-ultra pr-4 h5-mktg lh-condensed text-mono">Seemless review work</h4>
            <h3 class="h4 text-normal text-gray-dark">Code review</h3>
          </div>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile p-4 no-underline height-full d-flex flex-justify-between flex-column" href="#">
          <div style="width: 60px; height: 60px;" class="bg-gray-dark circle"></div>

          <div>
            <h4 class="text-gray-light-ultra pr-4 h5-mktg lh-condensed text-mono">Manage your idea</h4>
            <h3 class="h4-mktg text-normal text-gray-dark">Project management</h3>
          </div>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile p-4 no-underline height-full d-flex flex-justify-between flex-column Tile--dots" href="#">
          <div style="width: 60px; height: 60px;" class="bg-gray-dark circle"></div>

          <div>
            <h4 class="text-gray-light-ultra pr-4 h5-mktg lh-condensed text-mono">Seemless review work</h4>
            <h3 class="h4-mktg text-normal text-gray-dark">Code review</h3>
          </div>
        </a>
      </div>

      <div class="col-3">
        <a class="Tile p-4 no-underline height-full d-flex flex-justify-between flex-column Tile--dots" href="#">
          <div style="width: 60px; height: 60px;" class="bg-gray-dark circle"></div>

          <div>
            <h4 class="text-gray-light-ultra pr-4 h5-mktg lh-condensed text-mono">Manage your idea</h4>
            <h3 class="h4-mktg text-normal text-gray-dark">Project management</h3>
          </div>
        </a>
      </div>
    </div>

    <div class="col-6 mb-6">
      <div class="bg-white rounded-1 p-6 dots-4">
        <a href="#" class="Bump-link--hover no-underline link-gray-dark">
          <p class="text-mono text-gray-light">Webcast</p>
          <h1 class="h1-mktg text-normal lh-condensed mb-2">Practical guide to CI with Jenkins and GitHub<span class="Bump-link-symbol">&rarr;</span></h1>
          <p class="f4 text-gray">Financial institutions regard their data as equally important as the money they transact. In order to protect this data, it is crucial that software developed by banks have security at the forefront.</p>
        </a>
      </div>
    </div>

    <div class="col-4 mb-6">
      <div class="bg-white rounded-1 p-4 dots-3">
        <a href="#" class="Bump-link--hover no-underline link-gray-dark">
          <p class="text-mono text-gray-light">April 26</p>
          <h1 class="h3-mktg text-normal lh-condensed mb-2">Practical guide to CI with Jenkins and GitHub<span class="Bump-link-symbol">&rarr;</span></h1>
          <p class="f4 text-gray-light">7PM EST</p>
        </a>
      </div>
    </div>

    <div class="col-6 mb-6">
      <a href="#" class="Bump-link--hover no-underline link-gray-dark d-flex py-4">
        <p class="text-mono text-gray-light pr-6 mb-0">Webcast</p>
        <div>
          <h1 class="h3-mktg text-normal lh-condensed mb-2">Practical guide to CI with Jenkins and GitHub<span class="Bump-link-symbol">&rarr;</span></h1>
          <p class="f4 text-gray mb-0">Financial institutions regard their data as equally important as the money they transact. </p>
        </div>
      </a>
    </div>

    <div class="d-flex p-4 gutter gutter-lg-spacious mb-6">
      <div class="col-4">
        <a class="pt-4 no-underline Bump-link Point" href="#">
          <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4"></hr>
          <h3 class="h3-mktg text-gray-dark mb-1">Point pairing</h3>
          <p class="text-gray mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <span class="h5-mktg text-blue-mktg">Link to more <span class="Bump-link-symbol">&rarr;</span></span>
        </a>
      </div>

      <div class="col-4">
        <div class="bg-blue-dark rounded-1 p-6">
          <a class="no-underline Bump-link d-block rounded-1 Point" href="#">
            <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4"></hr>
            <h3 class="h3-mktg text-white mb-1">Point pairing</h3>
            <p class="text-white mb-4 text-white-fade">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            <span class="h5-mktg text-blue-light">Link to more <span class="Bump-link-symbol">&rarr;</span></span>
          </a>
        </div>
      </div>

      <div class="col-4">
        <a class="pt-4 link-hover-blue no-underline Bump-link Point" href="#">
          <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4"></hr>
          <h3 class="h3-mktg text-gray-dark mb-1">Point pairing</h3>
          <p class="text-gray mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
          <span class="h5-mktg text-blue-mktg">Link to more <span class="Bump-link-symbol">&rarr;</span></span>
        </a>
      </div>

    </div>

    <div class="col-12 mb-6">
      <a href="#" class="btn-mktg Bump-link mr-4">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></a>
      <button class="btn-mktg Bump-link mr-4">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></button>

      <a href="#" class="btn-mktg btn-outline-mktg Bump-link mr-4">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></a>
      <button class="btn-mktg btn-outline-mktg Bump-link">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></button>
    </div>

    <div class="col-12 mb-6">
      <a href="#" class="btn-mktg btn-large-mktg Bump-link mr-4">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></a>

      <a href="#" class="btn-mktg btn-large-mktg btn-outline-mktg Bump-link">Explore the GitHub Community <span class="Bump-link-symbol">&rarr;</span></a>
    </div>

  </div>
