<%# erblint:disable ProperTagNesting %>
<%# erblint:disable LandmarkHasLabel %>
<% page_info \
  title: "Trust and privacy at GitHub",
  description: "We go beyond industry standards to keep your projects safe. Find the policies and processes that keep your code secure, including audits, assessments, and compliance.",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Trust and privacy at GitHub",
    url: request.original_url,
    description: "We go beyond industry standards to keep your projects safe. Find the policies and processes that keep your code secure, including audits, assessments, and compliance.",
    image: image_path("modules/site/social-cards/security-trust.png"),
  }
  %>

<%= render "site/subheader_security" %>

  <div class="container-xl px-3 px-md-5 overflow-hidden">
    <!-- Hero -->
    <section class="d-md-flex flex-column flex-md-row flex-justify-between py-7 py-md-8 py-lg-12 gutter-md-spacious">
      <div class="col-md-6 col-lg-7 mb-8 mb-md-0">
        <h2 class="f5 text-mono text-normal text-gray-light mb-3">Trust and privacy</h2>
        <h1 class="h000-mktg lh-condensed mb-3">Build on a foundation you can&nbsp;trust</h1>
        <p class="f2 text-gray-light-ultra">To earn your trust, we build security, audit, and compliance solutions with the customer in mind.</p>
      </div>
      <div class="col-md-6 col-lg-5 offset-xl-1">
        <img src="<%= image_path "modules/site/site-relaunch/feature/security-trust.svg" %>" alt="Trust and privacy - two people build a castle together" class="pl-lg-3">
      </div>
    </section>

    <!-- Data privacy and protection -->
    <section class="position-relative d-md-flex mb-10 mb-md-12 py-4">
      <div class="bg-dots-big d-none d-md-block right-0" style="width: 28%; height: 80%; top: 336px; bottom: -416px;"></div>
      <div class="col-md-8 col-lg-6">
        <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Data privacy and protection</span></h2>
        <h3 class="mt-4 h00-mktg lh-condensed">Your data<br><em class="text-gray-light-ultra">is our highest priority</em></h3>
        <div class="d-sm-flex flex-wrap gutter-sm-spacious">
          <div class="col-sm-6 mt-6 mt-md-9">
            <h4 class="mb-2">Data privacy</h4>
            <p class="text-gray">We’re GDPR compliant and adhere to the <a href="https://www.privacyshield.gov/participant?id=a2zt000000001K2AAI&status=Active" class="link-mktg">Privacy Shield Framework</a>, certified January 26, 2017.</p>
            <a href="<%= GitHub.help_url %>/articles/github-privacy-statement/" class="h5-mktg text-blue-mktg no-underline Bump-link">Read our Privacy Policy&nbsp;<span class="Bump-link-symbol">→</span></a>
          </div>

          <div class="col-sm-6 mt-6 mt-md-9">
            <h4 class="mb-2">SaaS and on-premise solutions</h4>
            <p class="text-gray">Find a plan for your business that meets the unique needs of your engineers—and your information security professionals.</p>
            <a href="https://github.com/pricing" class="h5-mktg text-blue-mktg no-underline Bump-link">Compare plans for business&nbsp;<span class="Bump-link-symbol">→</span></a>
          </div>

          <div class="col-sm-6 mt-6 mt-md-8">
            <h4 class="mb-2">Account security</h4>
            <p class="text-gray">Because GitHub encrypts all data in transit, all login information and credentials are always protected. GitHub stores a one-way hash of all user passwords using <i>bcrypt</i>. Your account login is protected from brute force attack with rate limiting.</p>
          </div>

          <div class="col-12 col-sm-6 mt-6 mt-md-8">
            <h4 class="mb-2">Stay informed</h4>
            <p class="text-gray">Stay up to date on outages and availability statistics at our <a href="https://githubstatus.com" class="link-mktg">Status Page</a>, <a href="<%= GitHub.blog_url %>" class="link-mktg">Blog</a>, and <a href="<%= GitHub.blog_url %>/2018-05-11-2017-transparency-report/" class="link-mktg">Transparency Report</a>.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Callouts -->
    <div class="mx-auto d-flex flex-column flex-md-row flex-items-start mb-8 pb-md-10">
      <div class="col-md-7 offset-md-2 col-lg-4  ml-md-0 ml-xl-0 ">
        <aside class="position-relative bg-blue-dark rounded-1 px-5 py-8 mb-10">
          <img src="<%= image_path "modules/site/site-relaunch/shapes/cluster-2.svg" %>" alt="decorative shapes" class="z-n1 d-none d-md-block position-absolute top-n4 right-n11" style="width: 144px;">
          <a class="px-lg-4 link-hover-blue no-underline Bump-link d-block rounded-1 Point mb-2" href="https://government.github.com">
            <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4">
            <h3 class="h3-mktg text-white mb-1">GitHub is FedRAMP LI-Saas Approved</h3>
            <p class="text-white mb-5 text-white-fade">Government users can host projects on GitHub with the confidence that our platform meets the low impact software-as-a-service (SaaS) baseline of security standards set by our U.S. federal government partners.</p>
            <span class="h5-mktg text-blue-light">Learn more&nbsp;<span class="Bump-link-symbol">→</span></span>
          </a>
        </aside>

        <aside class="position-relative bg-blue-dark rounded-1 px-5 py-8 mb-10">
          <div class="px-lg-4 link-hover-blue rounded-1 Point mb-2">
            <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4">
            <h3 class="h3-mktg text-white mb-3">GitHub has SOC 1 and SOC 2 Type 2 audit reports, available now through your support&nbsp;team.</h3>
            <p class="text-white mb-3 text-white-fade">
              GitHub Enterprise Cloud is compliant with <a href="https://www.aicpa.org/about.html" class="text-blue-light">AICPA</a> Service Organization (SOC) 1 Type 2 and SOC 2 Type 2—and with <a href="https://www.iaasb.org/about-iaasb" class="text-blue-light">IAASB</a> International Standards on Assurance Engagements, ISAE 2000, and ISAE 3402.
            </p>
            <p class="text-white mb-3 text-white-fade">If you’re currently using GitHub Enterprise Cloud, you can request a copy of these audit reports through your Support team.</p>

            <p>
              <a href="<%= GitHub.blog_url %>/2019-08-27-github-has-soc-1-and-soc-2-type-2-reports" class="Bump-link h5-mktg no-underline text-blue-light">Learn more&nbsp;<span class="Bump-link-symbol">→</span></a>
            </p>

            <hr class="border-gray-dark col-2 mt-6">
            <h4 class="h4-mktg text-white mt-4 mt-md-6 mb-2">
              What’s the difference between a SOC 1 or 2 report and a SOC 3 report?
            </h4>
            <p class="text-white mb-3 text-white-fade">
              AICPA governs the use of SOC 1, 2 and 3 reports and has stipulated <a href="https://www.aicpa.org/interestareas/frc/assuranceadvisoryservices/serviceorganization-smanagement.html" class="text-blue-light">intended use and audiences for each type of report</a>. Whereas SOC 1 and 2 reports are designed to meet the needs of users who need specific assurance about controls at a service organization related to internal controls over financial reporting (ICOFR - SOC 1) or security, availability, processing integrity, confidentiality and/or privacy (trust services criteria - SOC 2), SOC 3 reports are designed as general use reports and can be freely distributed to any interested user.
            </p>
          </div>
          <img src="<%= image_path "modules/site/site-relaunch/shapes/cluster-1.svg" %>" alt="decorative shapes" class="z-n1 d-none d-lg-block position-absolute bottom-n8 right-n12" style="width: 148px;">
        </aside>
      </div>

      <!-- Auditing controls & certifications -->
      <section class="position-relative col-12 col-md-8 offset-md-1 col-lg-6 mt-md-10 pt-md-12">
        <div class="bg-dots-big d-none d-lg-block" style="width: 140%; height: 24%; right: -280px; bottom: -380px;"></div>
        <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Auditing controls and certifications</span></h2>
        <h3 class="mt-4 h00-mktg lh-condensed">Transparency<br><em class="text-gray-light-ultra">builds trust</em></h3>
        <div class="gutter-spacious d-flex flex-column flex-sm-row flex-wrap">
          <div class="col-12 col-sm-6 mt-6 mt-md-9">
            <h4 class="mb-2">External audits</h4>
            <p class="text-gray">GitHub offers the risk management information customers need to assess our commitments to security and compliance. We’ve shipped our SOC 1 and SOC 2 Type 2 audit reports—and as of 2018, GitHub Enterprise Cloud is authorized via the FedRAMP Tailored baseline of security controls.</p>
          </div>

          <div class="col-12 col-sm-6 mt-6 mt-md-9">
            <h4 class="mb-2">Cloud security self-assessment</h4>
            <p class="text-gray">Learn how we support industry-leading control considerations with the Cloud Security Alliance CSA-CAIQ Assessment.</p>
            <a href="https://cloudsecurityalliance.org/star/registry/github-inc/" class="h5-mktg text-blue-mktg no-underline Bump-link">Download our self assessment from <span class="no-wrap">CSA <span class="Bump-link-symbol">→</span></span></a>
          </div>

          <div class="col-12 col-sm-6 mt-6 mt-md-8">
            <h4 class="mb-2">PCI compliance</h4>
            <p class="text-gray">We partner with PCI-compliant credit card processors to keep your payment information secure. Our payment processing is compliant with PCI DSS c3.2.</p>
          </div>

          <div class="col-sm-6 mt-6 mt-md-8">
            <h4 class="mb-2">External security testing</h4>
            <p class="text-gray">We’ve engaged independent security firms for in-depth application security assessment, source code audit, and penetration testing since 2011. Ask your customer service team for more information on third-party application security testing.</p>
          </div>

          <div class="col-sm-12 mt-6 mt-md-8">
            <hr class="col-sm-12">
            <h3 class="h3-mktg mb-3 mt-6 mt-md-8">
              GitHub Enterprise SOC 3 report available to the public
            </h3>
            <p class="text-gray">
              In an effort to continue serving the open source community and the general public, we are pleased to be able to make GitHub’s <a href="https://drive.google.com/file/d/1pJl7EvddyiJhBh3vIJC9LPIdL1xR3rrs/view" class="link-mktg">Service Organization Controls (SOC) 3 report</a> for Enterprise Cloud available to the general public.
            </p>
            <a href="<%= GitHub.blog_url %>/2018-12-17-soc-reports/#what-is-soc" class="h5-mktg text-blue-mktg no-underline Bump-link">
              Learn more about Service Organization Controls reporting at GitHub
              <span class="Bump-link-symbol">→</span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Third party security -->
  <section class="container-xl mb-9 mb-lg-12 pb-lg-8 px-3 px-md-5 d-md-flex flex-justify-between flex-items-start">
    <div class="col-md-6 mb-5">
      <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Third-party security</span></h2>
      <h3 class="mt-4 h00-mktg lh-condensed">Security-first<br><em class="text-gray-light-ultra">partners and vendors</em></h3>
      <div class="d-sm-flex flex-wrap gutter-sm-spacious">
        <div class="col-sm-6 mt-6 mt-md-9">
          <h4 class="mb-2">Third-party partners</h4>
          <p class="text-gray">We assess third-party partners and vendors for fit and security risk based on the services they provide. We also make sure the right technical and contractual commitments are in place.</p>
        </div>
        <div class="col-sm-6 mt-6 mt-md-9">
          <h4 class="mb-2">Production data centers</h4>
          <p class="text-gray">We use N+1, Tier 3 data center vendors with your availability and security in mind—and with physical security and environmental controls that meet our high standards.</p>
        </div>
      </div>
    </div>
    <aside class="col-md-5 col-lg-4 bg-blue-dark rounded-1 px-5 py-8 mb-10 mt-lg-8">
      <a class="px-lg-4 link-hover-blue no-underline Bump-link d-block rounded-1 Point" href="https://bounty.github.com/">
        <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4">
        <h3 class="h3-mktg text-white mb-1">The GitHub Bug Bounty</h3>
        <p class="text-white mb-5 text-white-fade">Software security researchers are increasingly working with internet companies to find and resolve vulnerabilities. Our bounty program compensates researchers who help keep our products safe.</p>
        <span class="h5-mktg text-blue-light">Learn more&nbsp;<span class="Bump-link-symbol">→</span></span>
      </a>
    </aside>
  </section>
</div>
