<%# erblint:disable LandmarkHasLabel %>
<% page_info \
  title: "Meet the GitHub Security Team",
  description: "The GitHub Security Team is here to protect your data and address your concerns, from systems to incident response.",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "Meet the GitHub Security Team",
    url: request.original_url,
    description: "The GitHub Security Team is here to protect your data and address your concerns, from systems to incident response.",
    image: image_path("modules/site/social-cards/security-team.png"),
  }
  %>

<%= render "site/subheader_security" %>

<div class="overflow-hidden">
  <div class="container-xl px-3 px-md-5">
    <!-- Hero -->
    <section class="py-7 py-md-8 py-xl-12 gutter-spacious d-flex flex-column flex-md-row flex-items-center flex-wrap">
      <div class="col-12 col-md-6 mb-9 mb-md-0">
        <h2 class="f5 text-mono text-normal text-gray-light mb-3">Teams</h2>
        <h1 class="h000-mktg lh-condensed mr-3 mb-3">Security experts you can&nbsp;trust</h1>
        <p class="f3 text-gray-light-ultra">Our security experts keep the lights on—and design them, too. The GitHub Security Team is here to protect your data and address your concerns.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-xl-1 mt-lg-n6">
        <img src="<%= image_path "modules/site/site-relaunch/feature/security-team.svg" %>" alt="Security team - three people build a puzzle together">
      </div>
    </section>

    <!-- Teams -->
    <section class="position-relative pb-xl-12 mx-auto mb-10 mb-lg-8 d-flex flex-column flex-md-row">
      <div class="bg-dots-big z-n1 d-none d-lg-block right-n11" style="width: 26%; height: 80%; top: -384px;"></div>
      <div class="col-md-8">
        <h3 class="mt-4 h0-mktg lh-condensed">Our teams</h3>
        <div class="gutter-spacious d-flex flex-column flex-sm-row flex-wrap mt-6">
          <div class="col-12 col-sm-6">
            <h4 class="mb-2">Application Security</h4>
            <p class="text-gray">We identify, fix, and prevent security issues across the GitHub platform through security design review, automated and manual code assessment, and developer education.</p>
          </div>

          <div class="col-12 col-sm-6">
            <h4 class="mb-2">Governance Risk and Compliance</h4>
            <p class="text-gray">Our audit, compliance, and risk efforts focus on your experience. We work with Legal, Sales, Support, and Engineering to address your team’s risk considerations.</p>
          </div>

          <div class="col-12 col-sm-6 mt-sm-8">
            <h4 class="mb-2">Incident Response</h4>
            <p class="text-gray">Our comprehensive threat detection program provides investigation, response, and coordination for all security incidents at GitHub.</p>
          </div>

          <div class="col-12 col-sm-6 mt-sm-8">
            <h4 class="mb-2">Platform Health</h4>
            <p class="text-gray">The systems and tools we build and manage keep GitHub spam-free, detect problems, and help us stay one step ahead of abuse.</p>
          </div>

          <div class="col-12 col-sm-6 mt-sm-8">
            <h4 class="mb-2">Product Security</h4>
            <p class="text-gray">We build the security features and services GitHub engineers need to build secure systems—and mitigate the severity of security issues when they occur.</p>
          </div>

          <div class="col-12 col-sm-6 mt-sm-8">
            <h4 class="mb-2">Security Operations</h4>
            <p class="text-gray">We develop and manage systems and tools to protect GitHub infrastructure and systems—and most importantly, user data.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bug Bounty callout -->
    <aside class="position-relative col-sm-7 offset-sm-4 col-md-5 offset-md-5 col-xl-4 offset-xl-6 bg-blue-dark rounded-1 px-5 py-8 mb-8">
      <div class="bg-dots-big top-n10 top-lg-n11" style="width: 725px; height: 348px;"></div>
      <div class="px-lg-4 link-hover-blue no-underline Bump-link d-block rounded-1 Point">
        <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4">
        <h3 class="h3-mktg text-white mb-1">The GitHub Bug Bounty</h3>
        <p class="text-white mb-5 text-white-fade">Software security researchers are increasingly working with internet companies to find and resolve vulnerabilities. Our bounty program compensates researchers who help keep our products safe. Find more information in the program <a href="https://bounty.github.com/#rules" class="text-blue-light text-underline">rules</a> and <a href="https://bounty.github.com/#faqs" class="text-blue-light text-underline">FAQs</a>.</p>
        <a class="btn-mktg mr-4" href="https://bounty.github.com/">Learn more</a>
      </div>
    </aside>

  </div>
</div>
