<%# erblint:disable ProperTagNesting %>
<%# erblint:disable LandmarkHasLabel %>
<% page_info \
  title: "GitHub Incident Response",
  description: "Security incidents happen. We have a plan for when they do.",
  marketing_page: true,
  container_xl: true,
  richweb: {
    title: "GitHub Incident Response",
    url: request.original_url,
    description: "Security incidents happen. We plan for when they do.",
    image: image_path("modules/site/social-cards/security-incident-response.png"),
  }
  %>

<%= render "site/subheader_security" %>

<div class="overflow-hidden">
  <div class="container-xl px-3 px-md-5">
    <!-- Hero -->
    <section class="py-7 py-md-8 py-lg-10 mx-auto gutter-md-spacious d-md-flex flex-items-center">
      <div class="col-md-6 mb-8 mb-md-0 mt-lg-8">
        <h2 class="f5 text-mono text-normal text-gray-light mb-3">Incident Response</h2>
        <h1 class="h000-mktg lh-condensed mb-3">Incidents happen. We plan for when they do.</h1>
        <p class="f3 text-gray-light-ultra">Despite everyone’s best efforts, security incidents are inevitable in an increasingly connected world.</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="<%= image_path "modules/site/site-relaunch/feature/security-incident.svg" %>" alt="Trust and privacy - two people build a castle together">
      </div>
    </section>

    <!-- Callouts -->
    <aside class="py-7 py-md-8 py-lg-9 d-flex flex-wrap gutter-md-spacious">
      <div class="col-sm-6 col-lg-4 mb-8 mb-sm-0 pr-4 pr-md-5">
        <a class="pt-4 link-hover-blue no-underline Bump-link Point" href="/security/team">
          <hr class="Point-symbol border-gray-dark col-1 col-sm-2 mt-0 mb-4">
          <h3 class="h3-mktg text-gray-dark mb-1">A team of experts </h3>
          <p class="text-gray mb-4">Our Security Incident Response Team (SIRT) identifies, triages, and responds to security events quickly and effectively. SIRT monitors internal systems and resources before incidents happen and responds to security concerns reported by our users or by third parties.</p>
          <span class="h5-mktg text-blue-mktg">Meet our team <span class="Bump-link-symbol">→</span></span>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 mb-8 mb-sm-0 pr-4 pr-md-5">
        <a class="pt-4 link-hover-blue no-underline Bump-link Point" href="/security/trust">
          <hr class="Point-symbol border-gray-dark col-1 col-sm-2 mt-0 mb-4">
          <h3 class="h3-mktg text-gray-dark mb-1">Proactive threat detection</h3>
          <p class="text-gray mb-4">Thorough threat detection and incident response processes allow SIRT to quickly understand and remediate security events, and then communicate them with the right people. If a security incident needs additional resources, GitHub works alongside a first-class incident response organization with specialized forensic and investigative expertise.  </p>
          <span class="h5-mktg text-blue-mktg">See how we keep GitHub safe <span class="Bump-link-symbol">→</span></span>
        </a>
      </div>
      <div class="col-sm-6 col-lg-4 mb-8 mb-sm-0">
        <hr class="Point-symbol border-gray-dark col-1 col-sm-2 mt-0 mb-4">
        <h3 class="h3-mktg text-gray-dark mb-1">Security that learns</h3>
        <p class="text-gray mb-4">Comprehensive post-incident assessments make sure every incident is an opportunity to learn, improve, and better secure GitHub. We archive and record incidents in an internal database based on the <a href="https://github.com/vz-risk/veris" class="link-mktg">Vocabulary for Event Recording and Incident Sharing (VERIS)</a>.</p>
      </div>
    </aside>

    <div class="gutter-spacious mx-auto position-relative">
      <!-- Contact GitHub callout -->
      <img src="<%= image_path "modules/site/site-relaunch/spot/security.svg" %>" alt="Hand unlocking lock" class="position-absolute d-none d-sm-block top-n9 right-n10 right-md-n12" style="width: 426px; z-index: 1;">
      <aside class="position-relative col-10 col-sm-7 col-md-5 offset-md-4 col-xl-4 offset-xl-6 bg-blue-dark rounded-1 py-8 mb-8 mt-lg-8">
        <div class="bg-dots-big top-n10 top-lg-n11" style="width: 725px; height: 348px;"></div>
        <div class="px-lg-4 rounded-1">
          <hr class="border-gray-dark col-1 col-sm-2 mt-0 mb-4">
          <h3 class="h3-mktg text-white mb-1">Questions about security?</h3>
          <p class="text-white mb-5 text-white-fade">Have a question, concern, or comment about GitHub security? Please contact GitHub Support.</p>
          <a class="btn-mktg mr-4" href="<%= contact_path %>">Contact GitHub Support</a>
        </div>
      </aside>
    </div>

    <!-- Our approach -->
    <section class="position-relative py-7 py-md-8 mx-auto mt-lg-n6">
      <div class="col-md-8 col-lg-6">
        <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Our commitment</span></h2>
        <h3 class="mt-4 h00-mktg lh-condensed">Your security<br><em class="text-gray-light-ultra">is important to us</em></h3>
        <p class="col-md-10 mt-4 mb-5 f4 text-gray-light">GitHub is committed not only to its own security but that of its users and customers. We continue to maintain a culture of transparency and openness and this extends to our security incident reporting philosophy. Should a serious security incident occur, GitHub will:</p>
        <ul class="col-md-8 ml-3 text-gray-light">
          <li class="mt-3">
            Mobilize all appropriate internal and external resources, under the coordination of GitHub’s SIRT, to rapidly resolve the incident.
          </li>
          <li class="mt-3">
            If the incident represents a risk to external users or customers, GitHub is committed to communicating that risk, along with an incident summary, to all affected parties as quickly and comprehensively as possible.
          </li>
        </ul>
      </div>
    </section>

      <!-- Account safety -->
      <section class="position-relative py-7 py-md-8 py-lg-12 mx-auto d-flex flex-column flex-md-row">
        <div class="bg-dots-big d-none d-md-block" style="width: 28%; height: 80%;"></div>
        <div class="col-md-7 offset-md-4 offset-lg-5">
          <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Account safety</span></h2>
          <h3 class="mt-4 h00-mktg lh-condensed">How you can help</h3>
          <p class="mt-4 f4 text-gray-light">As we explain in our <a href="<%= site_terms_path %>" class="link-mktg">Terms of Service</a>, we do our best to make sure GitHub stays secure. Here are a few things you can do to keep your account safe—and protect the work of other developers and teams in the GitHub community.</p>

          <div class="d-flex flex-wrap mt-3 ml-0 ml-sm-2 text-gray-light gutter-spacious">
            <ul class="col-sm-6">
              <li class="mt-3">
                Moderate all content posted and activity that occurs under your account.
              </li>
              <li class="mt-3">
                Maintain control over your organization and moderating content as necessary—if you are an organization owner or a repository administrator.
              </li>
            </ul>
            <ul class="col-sm-6 pl-0 pl-sm-6">
              <li class="mt-3">
                Keep your GitHub password safe.
              </li>
              <li class="mt-3">
                <a class="link-mktg" href="https://github.com/contact">Notify GitHub</a> if you notice any unauthorized use of or access to our platform through your account, including any unauthorized use of your password.
              </li>
            </ul>
          </div>

          <div class="gutter-spacious d-flex">
            <div class="col-md-8 col-lg-6 mt-6 mt-md-9">
              <a class="pt-4 link-hover-blue no-underline Bump-link Point" href="/security#features">
                <hr class="Point-symbol border-gray-dark col-2 mt-0 mb-4">
                <h3 class="h4-mktg text-gray-dark mb-1">How else can you keep your account safe?</h3>
                <span class="h5-mktg text-blue-mktg">See what features are available to help lock it&nbsp;<span class="no-wrap">down&nbsp;<span class="Bump-link-symbol">→</span></span></span>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- Report a vulnerability -->
      <div class="py-7 py-md-8 py-lg-12 mx-auto">
        <section class="col-md-8 col-lg-6">
          <h2><span class="h5 underline-dashed text-mono text-normal text-gray pb-2">Have something to report?</span></h2>
          <h3 class="mt-4 h00-mktg lh-condensed">Report a security event or&nbsp;vulnerability<br><em class="text-gray-light-ultra">to the GitHub Team</em></h3>
          <div class="gutter-spacious d-flex flex-wrap">
            <div class="col-sm-6 mt-6 mt-md-9">
              <h4 class="mb-2">Report an incident to GitHub Support</h4>
              <p class="text-gray"><a class="link-mktg" href="/contact">Please notify GitHub support</a> to report a security event, like unauthorized account usage or a suspected data breach.</p>
            </div>

            <div class="col-sm-6 mt-6 mt-md-9">
              <h4 class="mb-2">Report a vulnerability</h4>
              <p class="text-gray">To report a security vulnerability related to GitHub.com or find out more about responsible disclosure, please visit our <a href="https://bounty.github.com/"  class="link-mktg">Bug Bounty</a> site.</p>
            </div>

            <div class="col-sm-6 mt-6 mt-md-9">
              <h4 class="mb-2">Request data or logs</h4>
              <p class="text-gray">Need to make a formal legal request associated with GitHub user data or logs? Check out our <a href="<%= GitHub.help_url %>/articles/guidelines-for-legal-requests-of-user-data/"  class="link-mktg">Guidelines for Legal Requests of User Data</a>.</p>
            </div>

            <div class="col-sm-6 mt-6 mt-md-9">
              <h4 class="mb-2">Remove sensitive data</h4>
              <p class="text-gray">Need sensitive data removed from a public GitHub profile or repository?  See our <a href="<%= GitHub.help_url %>/articles/github-sensitive-data-removal-policy/"  class="link-mktg">GitHub Sensitive Data Removal Policy</a>.</p>
            </div>
          </section>
        </div>
      </div>

  </div>
</div>
