<% page_info :title => "Contact GitHub", :class => 'marketing' %>

<div class="container-md pt-5">
  <%= link_to "< Back to Contact GitHub", contact_path %>

  <div class="py-5 text-center">
    <div class="mb-3">
      <%= octicon("mail-read", :height => "32", :class => "text-gray-light mr-2") %>
      <%= octicon("verified", :height => "32", :class => "text-green") %>
    </div>

    <h1 class="f1-light">
      Thanks for getting in touch with us!
    </h1>
    <p class="f4 text-gray mb-4">
      Your message has been successfully submitted.
    </p>
    <p>
      You can find answers to frequently asked questions
      <a href="<%= GitHub.help_url %>" data-ga-click="Contact form, go to help, from:thank-you">
        in our support documentation
      </a>
      or the
      <a href="https://github.community/?utm_source=thank-you-page&utm_medium=website" data-ga-click="Contact form, go to Community forum, from:thank-you">
        GitHub Community Forum</a>.
    </p>
  </div>

    <% if view.show_block_user_prompt? %>
      <div class="Box mt-5 p-4 text-center">
        <h1 class="f2-light">
          Block this user
        </h1>
        <p class="mt-3">
          You can block <%= link_to_user view.reported_user %> to deny them access
          to your activity and repositories, and to prevent them from sending you
          notifications. Learn more about blocking a user from your
          <%= link_to "personal account",
          "#{GitHub.help_url}/articles/blocking-a-user-from-your-personal-account/" %>
          or
          <%= link_to "organization",
          "#{GitHub.help_url}/articles/blocking-a-user-from-your-organization/" %>
        </p>

        <p class="mt-3">
          <% block_path = ignore_user_path(view.reported_user) %>
          <%= form_tag block_path, :method => :post, :class => "inline-form js-navigation-open" do %>
            <button type="submit" class="btn btn-block btn-danger">Block <%= view.reported_user.login %></button>
          <% end %>
        </p>
      </div>
    <% end %>

</div>
