<% page_info \
  title: "GitHub Site Map",
  html_class: "html-fluid",
  class: "body-fluid",
  container_xl: true,
  marketing_page: true %>

<div class="font-mktg">

  <div class="container-xl p-responsive py-6">
    <h1 class="h2-mktg-fluid mt-3-fluid mb-9-fluid">Site Map</h1>

    <h2 class="h3-mktg-fluid border-bottom pb-2-fluid mb-2-fluid">Explore GitHub</h2>

    <div class="d-md-flex gutter-md-fluid mb-9-fluid">

      <div class="col-md-6">
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/join?source=seo-sitelink">Create GitHub Account</a></h3>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/login">GitHub Login</a></h3>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/pricing">GitHub Pricing</a></h3>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/git-guides">What is Git?</a></h3>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/team">GitHub Teams</a></h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="https://slack.github.com/">Slack Integration</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/marketplace/jira-software-github">Jira + GitHub</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/marketplace?type=actions">CI/CD workflows - GitHub Actions</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/join?plan=free&setup_organization=true&source=seo-sitelink">Sign Up Teams Free</a></li>
        </ul>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/enterprise">GitHub for Enterprise</a></h3>
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid">GitHub Platform</h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="<%= GitHub.developer_help_url %>">Developer API</a></li>
          <li class="mb-1-fluid"><a href="http://partner.github.com/">Partners</a></li>
          <li class="mb-1-fluid"><a href="https://atom.io/">Atom</a></li>
          <li class="mb-1-fluid"><a href="http://electronjs.org/">Electron</a></li>
          <li class="mb-1-fluid"><a href="https://desktop.github.com/">GitHub Desktop</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/features/">Features</a></h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="https://github.com/features/code-review/">Code Review</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/features/codespaces/">Codespaces</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/features/project-management/">Project Management</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/features/integrations">Integration - Apps to Custom Tools</a></li>
          <li class="mb-1-fluid">
            <a href="https://github.com/features/actions">Action - workflows</a>
            <ul class="pl-4-fluid mt-2-fluid mb-3-fluid">
              <li class="mb-1-fluid"><a href="https://github.com/features/actions">Push</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/actions">Issue Creation</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/actions">New release</a></li>
            </ul>
          </li>
          <li class="mb-1-fluid">
            <a href="https://github.com/features/packages">Packages</a>
            <ul class="pl-4-fluid mt-2-fluid mb-3-fluid">
              <li class="mb-1-fluid"><a href="https://github.com/features/packages">Privately</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/packages">Team</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/packages">Publicly (open source)</a></li>
            </ul>
          </li>
          <li class="mb-1-fluid">
            <a href="https://github.com/features/security">Security</a>
            <ul class="pl-4-fluid mt-2-fluid mb-3-fluid">
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-identify">Identify</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-disclose">Disclose</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-fix">Fix</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-alert">Alert</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-update">Update</a></li>
              <li class="mb-1-fluid"><a href="https://github.com/features/security#security-prevent">Prevent</a></li>
            </ul>
          </li>
          <li class="mb-1-fluid"><a href="https://pages.github.com/">Hosting</a></li>
        </ul>
      </div>
    </div>

    <h2 class="h3-mktg-fluid border-bottom pb-2-fluid mb-2-fluid">Additional Resources</h2>

    <div class="d-md-flex gutter-md-fluid mb-9-fluid">

      <div class="col-md-6">
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid">Support</h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="<%= GitHub.help_url %>">Help</a></li>
          <li class="mb-1-fluid"><a href="https://github.community/">Community Forum</a></li>
          <li class="mb-1-fluid"><a href="https://services.github.com/">Professional Services</a></li>
          <li class="mb-1-fluid"><a href="https://lab.github.com/">Learning Lab</a></li>
          <li class="mb-1-fluid"><a href="https://githubstatus.com/">Status</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/contact">Contact GitHub</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid">GitHub</h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="https://github.com/about">About</a></li>
          <li class="mb-1-fluid"><a href="https://github.blog/">Blog</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/about/careers">Careers</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/about/press">Press</a></li>
          <li class="mb-1-fluid"><a href="https://socialimpact.github.com/">Social Impact</a></li>
          <li class="mb-1-fluid"><a href="https://shop.github.com/">Shop</a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <h3 class="f3-mktg-fluid mt-5-fluid mb-1-fluid"><a href="https://github.com/learn">Learn</a></h3>
        <ul class="pl-4-fluid">
          <li class="mb-1-fluid"><a href="https://github.com/learn/security">Security</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/learn/devops">Development Operations</a></li>
          <li class="mb-1-fluid"><a href="https://github.com/learn/forrester">Forrester Research</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>
