<details class="select-menu details-reset details-overlay <%= classes %>">
  <summary class="btn-block btn-mktg h4-mktg px-4 px-md-0 select-menu-button select-menu-button-large"
    data-ga-click="<%= ga_source %>, click, text:Choose Enterprise">
    Choose Enterprise
  </summary>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;width:290px">
    <!-- Enterprise CTA options including Cloud Trial -->
    <div class="select-menu-list">
      <% if logged_in? %>
        <a href="<%= new_organization_path(plan: GitHub::Plan.business_plus, ref_page: request.fullpath, ref_cta: "Start a free Enterprise Cloud trial", ref_loc: "Choose Enterprise dropdown") %>"
          data-ga-click="Create organization, click to set up Enterprise Cloud trial, ref_page:<%= request.fullpath %>;ref_cta:Start a free Enterprise Cloud trial;ref_loc:Choose Enterprise dropdown"
          class="select-menu-item select-menu-item-text Bump-link p-md-3"
          role="menuitem">
          <h4 class="h5-mktg">Start a free Enterprise Cloud trial <span class="Bump-link-symbol">&rarr;</span></h4>
          <p class="mb-0">Leave the hosting to us.</p>
        </a>
      <% else %>
        <a href="<%= signup_path(plan: GitHub::Plan.business_plus, setup_organization: true, ref_page: request.fullpath, ref_cta: "Start a free Enterprise Cloud trial", ref_loc: "Choose Enterprise dropdown") %>"
          data-ga-click="Sign up, click to sign up for account, ref_page:<%= request.fullpath %>;ref_cta:Start a free Enterprise Cloud trial;ref_loc:Choose Enterprise dropdown"
          class="select-menu-item select-menu-item-text Bump-link p-md-3"
          role="menuitem">
          <h4 class="h5-mktg">Start a free Enterprise Cloud trial <span class="Bump-link-symbol">&rarr;</span></h4>
          <p class="mb-0">Leave the hosting to us.</p>
        </a>
      <% end %>
      <a href="https://enterprise.github.com/trial?ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Start a free Enterprise Server trial") %>&ref_loc=<%= url_encode("Choose Enterprise dropdown") %>"
        data-ga-click="Start Enterprise Server trial, click to set up Enterprise Server trial, ref_page:<%= request.fullpath %>;ref_cta:Start a free Enterprise Server trial;ref_loc:Choose Enterprise dropdown"
        class="select-menu-item select-menu-item-text Bump-link p-md-3"
        role="menuitem">
        <h4 class="h5-mktg">Start a free Enterprise Server trial <span class="Bump-link-symbol">&rarr;</span></h4>
        <p class="mb-0">Deploy to your own servers, AWS, Azure, or&nbsp;GCP.</p>
      </a>
      <a href="https://enterprise.github.com/contact?ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Start a free Enterprise Server trial") %>&ref_loc=<%= url_encode("Choose Enterprise dropdown") %>"
        class="select-menu-item select-menu-item-text Bump-link p-md-3"
        data-ga-click="Contact Sales, click to Contact Sales, ref_page:<%= request.fullpath %>;ref_cta:Contact Sales;ref_loc:Choose Enterprise dropdown"
        role="menuitem">
        <h4 class="h5-mktg">Contact Sales <span class="Bump-link-symbol">&rarr;</span></h4>
        <p class="mb-0">Have more questions? Our Sales Team is ready to help.</p>
      </a>
      <% if learn_more == "true" %>
        <a href="/enterprise"
          data-ga-click="<%= ga_source %>, click, text:Learn more about Enterprise; loc:dropdown"
          class="select-menu-item select-menu-item-text Bump-link pr-4 p-md-3"
          role="menuitem">
          <p class="f6 mb-0">Learn more about Enterprise <span class="Bump-link-symbol">&rarr;</span></p>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
