<%# erblint:disable ProperTagNesting %>
<div class="site-subnav bg-white site-subnav-sticky d-none d-md-block js-sticky section-enterprise-nav target-enterprise-nav">
  <nav class="d-flex flex-items-stretch flex-justify-between lh-condensed <% if container_xl? %>container-xl<% else %>container-lg<% end %> mx-auto p-responsive text-center" aria-label="Enterprise">
    <a href="#enterprise-security" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise sticky nav, click, text:Get end-to-end security">
      <span class="security-nav-item d-flex px-1 height-full">
        <span class="flex-self-center width-full">Get end-to-end security</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </span>
    </a>
    <a href="#enterprise-collaboration" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise sticky nav, click, text:Boost collaboration">
      <span class="security-nav-item d-flex px-1 height-full">
        <span class="flex-self-center width-full">Boost collaboration</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </span>
    </a>
    <a href="#enterprise-workflow" class="h5-mktg px-4 position-relative position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise sticky nav, click, text:Automate your workflows">
      <span class="security-nav-item d-flex px-1 height-full">
        <span class="flex-self-center width-full">Automate your workflows</span>
        <%= svg("site/icons/chevron-right.svg", class: "security-nav-icon position-absolute") %>
      </span>
    </a>
    <a href="#enterprise-hosting" class="h5-mktg px-4 position-relative no-underline text-gray-light d-block flex-md-1 js-scrollnav-item js-smoothscroll-anchor" data-ga-click="Enterprise sticky nav, click, text:Deploy your way">
      <span class="security-nav-item d-flex px-1 height-full">
        <span class="flex-self-center width-full">Deploy your way</span>
    </a>
    <a href="<%= ent_contact_url %>"
      data-ga-click="Enterprise sticky nav, click, text:Contact Sales"
      class="subnav-link btn-mktg py-0 py-md-2 px-0 px-md-3 subnav-btn flex-md-justify-end my-3 flex-self-center">
      Contact Sales
    </a>
  </nav>
</div>