<%graphql
  fragment RepositoryContributionCountFragment on RepositoryContributionCount {
    repository {
      nameWithOwner
      name
      resourcePath
      ...HovercardHelper::DataAttributesFragment::Repository
    }
  }
%>
<%
  repo_contrib_counts = repo_contrib_counts.map do |cc|
    Views::Users::Tabs::ActivityOverview::MostActiveRepositories::RepositoryContributionCountFragment.new(cc)
  end
  total_repos_to_list = 3
  visible_repo_contrib_counts = repo_contrib_counts.take(total_repos_to_list).compact
  hidden_repo_contrib_counts = repo_contrib_counts.drop(total_repos_to_list)
%>

<% if repo_contrib_counts.any? %>
  <div class="d-flex mb-2">
    <%= octicon(:repo, class: "text-gray mt-1 mr-2 flex-shrink-0") %>
    <div class="profile-break-word" data-repository-hovercards-enabled>
      Contributed to
      <% visible_repo_contrib_counts.each_with_index do |repo_contrib_count, i| %>
        <%
          is_last = i == visible_repo_contrib_counts.size - 1
          repo = repo_contrib_count.repository
          link_text = include_owner ? repo.name_with_owner : repo.name
        %>
        <a href="<%= repo.resource_path %>"
          <%= safe_data_attributes(activity_overview_link_hydro_attrs(selected_org_database_id: selected_org_database_id, path: repo.resource_path, type: :REPOSITORY)) %>
          <%= safe_data_attributes(hovercard_data_attributes_for_repository(repo)) %>
          class="text-bold css-truncate css-truncate-target <%= custom_profile_color_class %>"
          style="max-width: 228px;"><%= link_text %></a><%= "," unless is_last %>
      <% end %>
      <% if hidden_repo_contrib_counts.any? %>
        <span class="no-wrap">
          and <%= hidden_repo_contrib_counts.size %> other
          <%= "repository".pluralize(hidden_repo_contrib_counts.size) %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
