<div class="Box col-8 mb-3">
  <div class="Box-header">
    <h3 class="Box-title">Generate a receipt for <%= sponsorable.login %></h3>
  </div>
  <div class="Box-body">
    <%= form_with scope: :receipt, url: stafftools_sponsors_member_receipts_path(sponsorable), class: "d-flex flex-justify-between flex-items-end" do |f| %>
      <div class="d-flex flex-justify-between">
        <dl class="form-group">
          <dt><%= f.label(:start_date, "Start Date", for: :start_date) %></dt>
          <dd>
            <%= f.date_field(:start_date,
              id: :start_date,
              class: "form-control width-full",
              required: true,
              pattern: '\d\d\d\d-\d\d-\d\d',
              placeholder: "yyyy-mm-dd",
            ) %>
          </dd>
        </dl>

        <dl class="form-group ml-3">
          <dt><%= f.label(:end_date, "End Date", for: :end_date) %></dt>
          <dd>
            <%= f.date_field(:end_date,
              id: :end_date,
              class: "form-control width-full",
              required: true,
              pattern: '\d\d\d\d-\d\d-\d\d',
              placeholder: "yyyy-mm-dd",
            ) %>
          </dd>
        </dl>
      </div>

      <%= f.submit("Generate receipt", class: "btn btn-primary mb-3") %>
    <% end %>
  </div>
</div>
