<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsorable: sponsorable, membership: membership } do %>
  <div class="mb-2">
    <%= render partial: "stafftools/sponsors/members/transfers/generate_receipt", locals: { sponsorable: sponsorable } %>

    <% if current_page == 1 %>
      <div class="col-8 mb-3">
        <div class="Box">
          <div class="Box-header">
            <h3 class="Box-title">Know the transaction you wish to reverse match for?</h3>
          </div>
          <div class="Box-body">
            <%= form_tag stafftools_sponsors_member_transfer_match_reversals_path(sponsorable), method: :post do %>
              <div class="form-group mt-0 mb-0">
                <%= label_tag "stripe_transfer_id", "Transfer ID", class: "form-label" %>
                <%= text_field_tag "stripe_transfer_id", nil, class: "form-control input-block" %>
              </div>

              <div class="form-group mt-2 mb-0">
                <%= label_tag "match_amount_to_reverse", "Reversal amount", class: "form-label" %>
                <%= text_field_tag "match_amount_to_reverse", nil, class: "form-control input-block" %>
              </div>

              <div class="form-group">
                <%= button_tag "Submit", type: :submit, class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render Stafftools::Sponsors::Members::Transfers::ListComponent.new(
      sponsorable: sponsorable,
      stripe_account: stripe_account,
      page: current_page,
      starting_after: params[:starting_after],
      ending_before: params[:ending_before],
    ) %>
  </div>
<% end %>
