Dear <%= @billable_name %> owner,

We wanted to let you know that you have reached <%= @threshold %>% of your prepaid usage.

For more information on your current data usage and to manage spending, please visit your cost management center (<%= @billing_page_url %>) or contact your GitHub Sales Representative.

Thank you,
GitHub
