<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: @billable_name, icon: "enterprise.png")) %>

<%= render partial: "mailers/shared/progress_bar", locals: { color: "red", percentage: @threshold, label: "Prepaid usage", amount: "#{@threshold}%" } %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
  <p>
    Dear <%= @billable_name %> owner,
  </p>

  <p>
    We wanted to let you know that you have reached <b><%= @threshold %>% of your prepaid usage</b> for GitHub Actions and Packages.
  </p>

  <p>
    For more information on your current data usage and to manage spending, please visit your <a href="<%= @billing_page_url %>">cost management center</a> or contact your GitHub Sales Representative.
  </p>

  <%= render(Mail::SpacerComponent.new) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(text: "Cost management center", url: @billing_page_url, classes: "btn-primary btn-large")) %>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>

  <p>
    Thank you,<br>
    GitHub
  </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
