Hello <%= @user.login %>,

I’m Elizabeth from GitHub’s Community Team. It’s great to meet you!

As you may know, the Ada Initiative has chosen to end its formal partnership with GitHub. Our records show that you have a repository within the Ada Initiative organization account. Rest assured, you will still have access to your repository, and it will still remain private. We’ll just need you to transfer your repository from the Ada organization to your personal GitHub user account.

To make this transition a little easier for you, we have applied a coupon for a Micro account to your personal account. This provides you with 5 private repositories, and the coupon will expire on April 15, 2015 (the date of the original Ada partnership expiration).  If you were already on a paid plan, the coupon will grant you a $7/month discount until it expires.

Instructions for transfering ownership from an organization to a user can be found in our Help documentation here:

<%= GitHub.help_url %>/articles/how-to-transfer-a-repository.

If you have any questions or problems whatsoever, please don’t hesitate to reply to this email.  Our team of Supportocats are happy to help.

We hope you are enjoying writing code on GitHub!

May the Octocats be with you,
Elizabeth Naramore
