<% contribs_by_repo.each do |node| %>
  <% repo = node.repository %>
  <div
    class="<%= class_names(
      "profile-rollup-summarized",
      "js-details-container",
      "Details",
      "py-2",
      "open" => total_repos < 2 && node.contributions.size < 5,
    ) %>"
    data-repository-hovercards-enabled
    data-discussion-hovercards-enabled
  >
    <button type="button"
            class="js-details-target btn-link muted-link no-underline lh-condensed text-left width-full <%= custom_profile_hover_color_class %>"
            aria-expanded="false">
      <div class="d-flex flex-items-baseline">
        <div class="d-inline-block col-6">
          <%= content_tag(
            :span,
            repo.name_with_owner,
            class: "css-truncate css-truncate-target",
            data: hovercard_data_attributes_for_repository(repo),
          ) %>
        </div>
      </div>
    </button>

    <ul class="mt-1 profile-rollup-content list-style-none">
      <% contributions = node.contributions %>
      <% contributions.take(ProfilesController::CONTRIBS_PER_REPO_LIMIT).each do |contribution| %>
        <li class="py-1 ml-0" <%= test_selector("discussion-comment-#{contribution.comment_id}") %>>
          <span class="css-truncate css-truncate-target">
            <span class="profile-rollup-icon">
              <%= discussion_icon(contribution.discussion) %>
            </span>
            <%= link_to(
              discussion_comment_show_path_from(
                discussion: contribution.discussion,
                comment_id: contribution.comment_id,
              ),
              class: "content-title no-underline",
              data: hovercard_data_attributes_for_discussion(
                repo.owner.login,
                repo.name,
                contribution.number,
              ),
            ) do %>
              <span class="link-gray-dark-underline link-gray-dark <%= custom_profile_hover_color_class %>">
                <%= contribution.title %>
              </span>
            <% end %>
          </span>
          <time title="This contribution was made on <%= short_date = contribution_short_date(contribution.occurred_at) %>"
                class="float-right f6 text-gray-light pt-1">
            <%= short_date %>
          </time>
        </li>
      <% end %>
      <% if contributions.size > ProfilesController::CONTRIBS_PER_REPO_LIMIT %>
        <li class="py-1 ml-0 text-gray">
          Some discussions not shown.
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
