<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment CommitContributionsByRepository on CommitContributionsByRepository {
    resourcePath
    repository {
      nameWithOwner
      resourcePath
      ...HovercardHelper::DataAttributesFragment::Repository
    }
    contributions(first: $contribsPerRepoLimit) {
      totalCount
    }
  }
  fragment ContributionCalendar on ContributionCalendar {
    colors
  }
%>
<%
  contrib_calendar = Views::Users::Timeline::CreatedCommits::ContributionCalendar.new(contrib_calendar)
  contribs_by_repo = contribs_by_repo.map do |node|
    Views::Users::Timeline::CreatedCommits::CommitContributionsByRepository.new(node)
  end
%>

<% contribs_by_repo.each do |node| %>
  <li class="ml-0 py-1">
    <div class="d-inline-block col-8 css-truncate css-truncate-target lh-condensed">
      <% repo_link_data = hovercard_data_attributes_for_repository(node.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
      <%= link_to node.repository.name_with_owner, node.repository.resource_path.to_s, data: repo_link_data, class: custom_profile_color_class %>
      <%= link_to node.resource_path.to_s, class: "f6 muted-link ml-lg-1 mt-1 mt-lg-0 d-block d-lg-inline #{custom_profile_hover_color_class}", data: profile_click_tracking_attrs(:TIMELINE_COMMIT_RANGE) do %>
        <%= pluralize(number_with_delimiter(node.contributions.total_count), "commit") %>
      <% end %>
    </div>

    <div class="col-3 d-inline-block float-right">
      <% percent = commit_percentage_for_repo(repo_commit_count: node.contributions.total_count, total_commit_count: total_commits) %>
      <div class="tooltipped tooltipped-n"
           style="width: <%= percent %>%"
           aria-label="<%= percent %>% of commits in <%= commit_contribution_month(started_at) %> were made to <%= node.repository.name_with_owner %> ">
        <span class="d-flex anim-grow-x progress-bar mt-1" style="background-color: <%= commit_percentage_color(percent, contrib_calendar.colors) %>"></span>
      </div>
    </div>
  </li>
<% end %>
