<%# erblint:disable FlexbugNumberNine %>
<%graphql
  fragment PullRequestContributionsByRepository on PullRequestContributionsByRepository {
    repository {
      nameWithOwner
      ...HovercardHelper::DataAttributesFragment::Repository
    }
    contributionsByState {
      state
      totalContributions
    }
    contributions(first: $contribsPerRepoLimit) {
      totalCount
      pageInfo {
        hasNextPage
      }
      nodes {
        occurredAt
        pullRequest {
          state
          title
          resourcePath
          ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
        }
      }
    }
  }
%>
<%
  contribs_by_repo = contribs_by_repo.map do |node|
    Views::Users::Timeline::CreatedPullRequests::PullRequestContributionsByRepository.new(node)
  end
%>

<% contribs_by_repo.each do |node| %>
  <div class="profile-rollup-summarized js-details-container Details py-2 <%= "open" if total_repos < 2 && node.contributions.total_count < 5 %>" data-repository-hovercards-enabled data-issue-and-pr-hovercards-enabled>
    <button type="button"
            data-octo-click="profile_timeline_toggle_rollup_created_pull_requests"
            class="js-details-target d-flex flex-items-baseline btn-link no-underline lh-condensed text-left width-full <%= custom_profile_hover_color_class %>"
            aria-expanded="false">
      <div class="d-inline-block col-6">
        <%= content_tag(:span, node.repository.name_with_owner, class: "css-truncate css-truncate-target", data: hovercard_data_attributes_for_repository(node.repository)) %>
      </div>
      <span class="col-6 d-inline-block f6 text-gray link-hover-blue float-right text-right">
        <% node.contributions_by_state.each do |contribs_by_state| %>
          <span class="text-white <%= state_css_class(contribs_by_state.state) %> rounded-1 ml-2 px-1"><%= social_count(contribs_by_state.total_contributions) %></span>
          <%= contribs_by_state.state.humanize.downcase %>
        <% end %>
      </span>
    </button>

    <ul class="mt-1 profile-rollup-content list-style-none">
      <% node.contributions.nodes.each do |contribution| %>
        <li class="py-1 ml-0">
          <span class="css-truncate css-truncate-target">
            <span class="profile-rollup-icon">
              <% if contribution.pull_request.state == PlatformTypes::PullRequestState::OPEN %>
                <%= octicon("git-pull-request", class: "open", title: "Open") %>
              <% elsif contribution.pull_request.state == PlatformTypes::PullRequestState::MERGED %>
                <%= octicon("git-merge", class: "merged", title: "Merged") %>
              <% else %>
                <%= octicon("git-pull-request", class: "closed", title: "Closed") %>
              <% end %>
            </span>
            <% link_data = profile_click_tracking_attrs(:TIMELINE_PR_LINK).merge(hovercard_data_attributes_for_issue_or_pr(contribution.pull_request)) %>
            <%= link_to contribution.pull_request.resource_path.to_s, class: "content-title no-underline", data: link_data do %>
              <span class="link-gray-dark-underline link-gray-dark <%= custom_profile_hover_color_class %>"><%= contribution.pull_request.title %></span>
            <% end %>
          </span>
          <time title="This contribution was made on <%= short_date = contribution_short_date(contribution.occurred_at) %>" class="float-right f6 text-gray-light pt-1">
            <%= short_date %>
          </time>
        </li>
      <% end %>
      <% if node.contributions.page_info.has_next_page? %>
        <li class="py-1 ml-0 text-gray">
          Some pull requests not shown.
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
