<%
  contribs_by_repo = collector.discussion_contributions_by_repository
  total_repos = collector.discussion_contribution_repo_count
  total_discussions = collector.total_discussion_contributions
%>

<% if contribs_by_repo.any? %>
  <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details <%= "open" if expand_repo_rollup?(total_repos) %>">
    <span class="discussion-item-icon">
      <%= octicon("comment-discussion") %>
    </span>
    <button type="button" class="btn-link f4 muted-link no-underline lh-condensed width-full js-details-target <%= custom_profile_hover_color_class %>" aria-expanded="false">
      <span class="float-left ws-normal text-left">
        Started <%= number_with_delimiter total_discussions %>
        <%= "discussion".pluralize(total_discussions) %>
        in <%= number_with_delimiter total_repos %>
        <%= "repository".pluralize(total_repos) %>
      </span>
      <span class="d-inline-block float-right">
        <%= profile_rollup_fold_button(type: "CATEGORY") %>
        <%= profile_rollup_unfold_button(type: "CATEGORY") %>
      </span>
    </button>
    <div class="profile-rollup-content">
      <%= render partial: "users/timeline/created_discussions", locals: {
        contribs_by_repo: contribs_by_repo,
        total_repos: total_repos
      } %>
      <% if (count = repo_count_not_shown_in_rollup(total_repos: total_repos)) > 0 %>
        <div class="profile-rollup-summarized py-2 text-gray">
          <%= number_with_delimiter(count) %>
          <%= "repository".pluralize(count) %> not shown
        </div>
      <% end %>
    </div>
  </div>
<% end %>
