<%graphql
  fragment CreatedPullRequestOrRestrictedContribution on CreatedPullRequestOrRestrictedContribution {
    ... on CreatedPullRequestContribution {
      resourcePath
      occurredAt
      isRestricted
      user {
        isViewer
        name
      }
      pullRequest {
        resourcePath
        title
        repository {
          nameWithOwner
          resourcePath
          ...HovercardHelper::DataAttributesFragment::Repository
          ...RepositoriesHelper::RepositoryLabelFragment
        }
        ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
      }
    }
    ... on RestrictedContribution {
      resourcePath
      occurredAt
      isRestricted
      user {
        isViewer
        name
      }
    }
  }
%>
<%
  contribution = Views::Users::Timeline::FirstPullRequest::CreatedPullRequestOrRestrictedContribution.new(contribution)
  short_date = contribution_short_date(contribution.occurred_at)
%>

<div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3" data-repository-hovercards-enabled data-issue-and-pr-hovercards-enabled>
  <span class="discussion-item-icon"><%= octicon(:rocket) %></span>
  <div class="d-flex flex-justify-between flex-items-baseline mb-3">
    <h4 class="text-normal text-gray lh-condensed my-0 pr-3">
      Opened their first pull request on GitHub in
      <% if contribution.is_restricted? %>
        a private repository
      <% else %>
        <span class="no-wrap">
          <% repo_link_data = hovercard_data_attributes_for_repository(contribution.pull_request.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
          <%= link_to contribution.pull_request.repository.name_with_owner, contribution.pull_request.repository.resource_path.to_s, class: "link-gray-dark", data: repo_link_data %>
          <%= graphql_repository_label(contribution.pull_request.repository) %>
        </span>
      <% end %>
    </h4>

    <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
    <%= link_to contribution.resource_path.to_s, class: "f6 text-gray-light muted-link no-wrap", data: link_data do %>
      <time class="no-wrap"><%= short_date %></time>
    <% end %>
  </div>
  <div class="profile-timeline-card-wrapper">
    <div class="profile-timeline-card bg-white border border-gray-dark rounded-1 p-3">
      <div class="text-center px-6">
        <%= image_tag "modules/profile/profile-first-pr.png", class: "text-center width-fit", alt: first_pull_request_image_alt(user_is_viewer: contribution.user.is_viewer?, user_name: contribution.user.name) %>
        <div class="contribution-first-pull-request text-center">
          <h4 class="text-green mt-3">
            First pull request
          </h4>
          <% unless contribution.is_restricted? %>
            <%= link_to truncate(contribution.pull_request.title, length: 140), contribution.pull_request.resource_path.to_s, class: "d-inline-block f4 my-2", data: hovercard_data_attributes_for_issue_or_pr(contribution.pull_request) %>
            <%= graphql_repository_label(contribution.pull_request.repository) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
