<%graphql
  fragment ContributionsCollection on ContributionsCollection {
    joinedGitHubContribution {
      resourcePath
      occurredAt
    }
  }
%>
<% contrib_collection = Views::Users::Timeline::JoinedGitHub::ContributionsCollection.new(contrib_collection) %>

<% if contribution = contrib_collection.joined_github_contribution %>
  <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3">
    <span class="discussion-item-icon"><%= octicon(:octoface) %></span>
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <h4 class="text-normal text-gray lh-condensed pr-3 my-0">
        Joined GitHub
      </h4>
    </div>

    <div class="profile-timeline-card-wrapper">
      <div class="profile-timeline-card bg-white border border-gray-dark rounded-1 p-3">
        <div class="text-center px-6">
          <%= image_tag "modules/profile/profile-joined-github.png", class: "text-center width-fit pt-4", alt: "Joined GitHub!" %>
          <div class="contribution-joined-github">
            <h4 class="text-green">Joined GitHub</h4>
            <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
            <%= link_to contribution.resource_path.to_s, class: "f6 text-gray-light muted-link no-wrap", data: link_data do %>
              <time class="d-inline-block mb-2">on <%= contribution_long_date(contribution.occurred_at) %></time>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
