<%graphql
  fragment ContributionsCollection on ContributionsCollection {
    joinedOrganizationContributions(first: 10) {
      pageInfo {
        hasNextPage
      }
      nodes {
        occurredAt
        resourcePath
        organization {
          resourcePath
          description
          name
          login
          ...AvatarHelper::AvatarFragment::Actor
        }
      }
    }
  }
%>
<%
  contrib_collection = Views::Users::Timeline::JoinedOrganizations::ContributionsCollection.new(contrib_collection)
  contributions = contrib_collection.joined_organization_contributions.nodes
%>

<% contributions.each do |contribution| %>
  <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3" <%= test_selector("joined-#{contribution.organization.login}") %>>
    <span class="discussion-item-icon"><%= octicon(:organization) %></span>
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <h4 class="text-normal text-gray lh-condensed my-0 pr-3">
        Joined the <a href="<%= contribution.organization.resource_path %>" class="link-gray-dark <%= custom_profile_hover_color_class %>"><%= contribution.organization.name %></a> organization
      </h4>

      <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
      <%= link_to contribution.resource_path.to_s, class: "f6 text-gray-light muted-link no-wrap #{custom_profile_hover_color_class}", data: link_data do %>
        <time>on <%= contribution_short_date(contribution.occurred_at) %></time>
      <% end %>
    </div>

    <div class="profile-timeline-card-wrapper">
      <div class="profile-timeline-card border bg-white border-gray-dark rounded-1 p-3">
        <div class="d-flex">
          <%= link_to contribution.organization.resource_path.to_s, "aria-label" => contribution.organization.login, :class => "tooltipped tooltipped-n mr-3 #{custom_profile_hover_color_class}" do %>
            <%= graphql_avatar_for(contribution.organization, 80, class: "rounded-1") %>
          <% end %>
          <div class="wb-break-all">
            <a href="<%= contribution.organization.resource_path %>" class="f3 lh-condensed link-gray-dark no-underline text-bold <%= custom_profile_hover_color_class %>"><%= contribution.organization.name %></a>
            <% if contribution.organization.description.present? %>
              <p class="mt-1 mb-0"><%= contribution.organization.description %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if contrib_collection.joined_organization_contributions.page_info.has_next_page? %>
  <p class="py-1 ml-0 text-gray">
    Some organizations not shown.
  </p>
<% end %>
