<%# erblint:disable DeprecatedCustomCss %>
<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment CreatedIssueContribution on CreatedIssueContribution {
    resourcePath
    occurredAt
    isRestricted
    user {
      isViewer
      name
    }
    issue {
      state
      resourcePath
      shortBodyHTML(limit: 150)
      title
      taskListSummary {
        hasItems
        itemCount
        completeCount
      }
      ...HovercardHelper::DataAttributesFragment::IssueOrPullRequest
      totalCommentsCount
      repository {
        nameWithOwner
        isPrivate
        resourcePath
        ...HovercardHelper::DataAttributesFragment::Repository
      }
    }
  }
%>
<%
  contribution = Views::Users::Timeline::PopularIssue::CreatedIssueContribution.new(contribution)
  short_date = contribution_short_date(contribution.occurred_at)
%>

<div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3" data-repository-hovercards-enabled data-issue-and-pr-hovercards-enabled>
  <span class="discussion-item-icon"><%= octicon(:flame) %></span>
  <div class="d-flex flex-justify-between flex-items-baseline mb-3">
    <h4 class="text-normal text-gray lh-condensed my-0 pr-3">
      Created an issue in
      <% repo_link_data = hovercard_data_attributes_for_repository(contribution.issue.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
      <%= link_to contribution.issue.repository.name_with_owner, contribution.issue.repository.resource_path.to_s, class: "link-gray-dark #{custom_profile_hover_color_class}", data: repo_link_data %>
      that received <%= number_with_delimiter(contribution.issue.total_comments_count) %>
      <%= "comment".pluralize(contribution.issue.total_comments_count) %>
    </h4>
    <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
    <%= link_to contribution.resource_path.to_s, class: "f6 text-gray-light muted-link no-wrap", data: link_data do %>
      <time class="no-wrap"><%= short_date %></time>
    <% end %>
  </div>

  <div class="profile-timeline-card bg-white border border-gray-dark rounded-1 p-3">
    <% if contribution.issue.state == PlatformTypes::IssueState::OPEN %>
      <%= octicon("issue-opened", class: "open d-inline-block mt-1 float-left", title: "Open") %>
    <% else %>
      <%= octicon("issue-closed", class: "closed d-inline-block mt-1 float-left", title: "Closed") %>
    <% end %>
    <div class="ml-4">
      <h3 class="lh-condensed my-0">
        <%= link_to contribution.issue.title, contribution.issue.resource_path.to_s, class: "text-gray-dark", data: hovercard_data_attributes_for_issue_or_pr(contribution.issue) %>
      </h3>

      <% unless contribution.issue.short_body_html.blank? %>
        <div class="text-gray mb-0 mt-2 <%= custom_profile_markdown_class %>">
          <%= contribution.issue.short_body_html %>
        </div>
      <% end %>

      <div class="f6 text-gray mt-2">
        <% if contribution.issue.task_list_summary && (summary = contribution.issue.task_list_summary).has_items? %>
          <span class="issue-meta-section task-progress">
            <%= octicon(:checklist) %>
            <span class="task-progress-counts"><%= summary.complete_count %> of <%= summary.item_count %></span>
            <span class="progress-bar v-align-middle">
              <span class="progress" style="width: <%= number_to_percentage(((summary.complete_count / summary.item_count.to_f) * 100), precision: 0) %>"></span>
            </span>
          </span>
          <span class="text-gray-light mx-1">&#8226;</span>
        <% end %>
        <%= number_with_delimiter(contribution.issue.total_comments_count) %>
        <%= "comment".pluralize(contribution.issue.total_comments_count) %>
      </div>
    </div>
  </div>
</div>
