<%graphql
  fragment ContributionsCollection on ContributionsCollection {
    totalPullRequestReviewContributions
    totalRepositoriesWithContributedPullRequestReviews
    pullRequestReviewContributionsByRepository(maxRepositories: $reposPerRollupLimit) {
      ...Views::Users::Timeline::CreatedPullRequestReviews::PullRequestReviewContributionsByRepository
    }
  }
%>
<%
  contrib_collection = Views::Users::Timeline::PullRequestReviewRollup::ContributionsCollection.new(contrib_collection)
  contribs_by_repo = contrib_collection.pull_request_review_contributions_by_repository
  total_repos = contrib_collection.total_repositories_with_contributed_pull_request_reviews
  total_reviews = contrib_collection.total_pull_request_review_contributions
%>

<% if contribs_by_repo.any? %>
  <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details <%= "open" if expand_repo_rollup?(total_repos) %>">
    <span class="discussion-item-icon">
      <%= octicon(:eye) %>
    </span>
    <button type="button" class="btn-link f4 muted-link no-underline lh-condensed width-full js-details-target" aria-expanded="false">
      <span class="float-left ws-normal text-left">
        Reviewed <%= number_with_delimiter total_reviews %>
        pull <%= "request".pluralize(total_reviews) %> in
        <%= number_with_delimiter total_repos %>
        <%= "repository".pluralize(total_repos) %>
      </span>
      <span class="d-inline-block float-right">
        <%= profile_rollup_fold_button(type: "CATEGORY") %>
        <%= profile_rollup_unfold_button(type: "CATEGORY") %>
      </span>
    </button>
    <div class="profile-rollup-content" data-repository-hovercards-enabled data-issue-and-pr-hovercards-enabled>
      <%= render partial: "users/timeline/created_pull_request_reviews", locals: {
            contribs_by_repo: contribs_by_repo,
            total_repos: total_repos
          } %>
      <% if (count = repo_count_not_shown_in_rollup(total_repos: total_repos)) > 0 %>
        <div class="profile-rollup-summarized py-2 text-gray">
          <%= number_with_delimiter(count) %>
          <%= "repository".pluralize(count) %> not shown
        </div>
      <% end %>
    </div>
  </div>
<% end %>
