<%graphql
  fragment ContributionsCollection on ContributionsCollection {
    user {
      login
    }
    totalRepositoryContributions(excludeFirst: true)
    repositoryContributions(excludeFirst: true, first: $reposPerRollupLimit) {
      nodes {
        occurredAt
        repository {
          ...HovercardHelper::DataAttributesFragment::Repository
          nameWithOwner
          isFork
          isMirror
          isTemplate
          isPrivate
          parent
          primaryLanguage {
            name
          }
          resourcePath
          topContributors(limit: 5) {
            avatarUrl(size: 30)
            resourcePath
            login
          }
        }
      }
    }
  }
%>
<%
  contrib_collection = Views::Users::Timeline::RepositoryRollup::ContributionsCollection.new(contrib_collection)
  contributions = contrib_collection.repository_contributions.nodes
  total_repos = contrib_collection.total_repository_contributions
%>

<% if contributions.any? %>
  <div class="profile-rollup-wrapper py-4 pl-4 position-relative ml-3 js-details-container Details <%= "open" if expand_repo_rollup?(total_repos) %>">
    <span class="discussion-item-icon"><%= octicon(:repo) %></span>
    <button type="button" class="btn-link f4 muted-link no-underline lh-condensed width-full js-details-target <%= custom_profile_hover_color_class %>" aria-expanded="false">
      <span class="float-left ws-normal text-left">
        Created
        <% if total_repos > Contribution::CreatedRepository::REPO_LIMIT %>
          <%= "#{number_with_delimiter(Contribution::CreatedRepository::REPO_LIMIT)}+" %>
        <% else %>
          <%= number_with_delimiter(total_repos) %>
        <% end %>
        <%= "other" if any_special_contrib %>
        <%= "repository".pluralize(total_repos) %>
      </span>
      <span class="d-inline-block float-right">
        <%= profile_rollup_fold_button(type: "REPO") %>
        <%= profile_rollup_unfold_button(type: "REPO") %>
      </span>
    </button>
    <ul class="profile-rollup-content mt-1" data-repository-hovercards-enabled>
      <% contributions.each do |contribution| %>
        <%
          contributors = contribution.repository.top_contributors
          show_contributors = show_repo_rollup_contributors?(profile_login: contrib_collection.user.login, contributor_logins: contributors.map(&:login))
        %>
        <li class="d-block mt-1 py-1" <%= test_selector("created-repository-#{contribution.repository.name_with_owner}") %>>
          <span class="css-truncate css-truncate-target">
            <span class="profile-rollup-icon">
              <% icon_class = "v-align-middle text-gray-light mr-1" %>
              <% if contribution.repository.is_fork? && contribution.repository.parent %>
                <% if contribution.repository.is_template? %>
                  <% if contribution.repository.is_private? %>
                    <%= octicon "repo-template-private", class: icon_class %>
                  <% else %>
                    <%= octicon "repo-template", class: icon_class %>
                  <% end %>
                <% else %>
                  <%= octicon("repo-forked", class: icon_class) %>
                <% end %>
              <% elsif contribution.repository.is_private? %>
                <% if contribution.repository.is_template? %>
                  <%= octicon "repo-template-private", class: icon_class %>
                <% else %>
                  <%= octicon(:lock, class: icon_class) %>
                <% end %>
              <% elsif contribution.repository.is_mirror? %>
                <%= octicon(:mirror, class: icon_class) %>
              <% else %>
                <% if contribution.repository.is_template? %>
                  <%= octicon "repo-template", class: icon_class %>
                <% else %>
                  <%= octicon(:repo, class: icon_class) %>
                <% end %>
              <% end %>
            </span>
            <% repo_link_data = hovercard_data_attributes_for_repository(contribution.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
            <%= link_to contribution.repository.name_with_owner, contribution.repository.resource_path.to_s, class: "mr-2 #{custom_profile_color_class}", data: repo_link_data %>
          </span>
          <span class="f6 text-gray d-block mt-1 d-lg-inline mt-lg-0">
            <% if contribution.repository.primary_language %>
              <%= render(Languages::BadgeComponent.new(name: contribution.repository.primary_language.name, ml: 0)) %>
              <% if show_contributors %>
                <span class="text-gray-light mx-1">&#8226;</span>
              <% end %>
            <% end %>
            <% if show_contributors %>
              Built by
              <% contributors.each do |user| %>
                <%= link_to user.resource_path.to_s, class: "d-inline-block", data: hovercard_data_attributes_for_user_login(user.login) do %>
                  <img src="<%= user.avatar_url %>" class="<%= avatar_class_names(user) %> mb-1" alt="@<%= user.login %>" width="15" height="15">
                <% end %>
              <% end %>
            <% end %>
          </span>
          <time title="This contribution was made on <%= short_date = contribution_short_date(contribution.occurred_at) %>"
                class="float-right f6 text-gray-light pt-1">
            <%= short_date %>
          </time>
        </li>
      <% end %>
    </ul>
    <% if (count = contrib_count_not_shown_in_rollup(total_repos)) > 0 %>
      <div class="profile-rollup-summarized py-2 text-gray">
        <%= number_with_delimiter(count) %>
        <%= "repository".pluralize(count) %> not shown
      </div>
    <% end %>
  </div>
<% end %>
