<%# erblint:counter TooltipCounter 1 %>
<div class="float-right">
  <% if GitHub.site_admin_role_managed_externally? %>
    <% tooltip = if GitHub.auth.ldap?
      "Add owners by adding them to the LDAP admin group '#{GitHub.ldap_admin_group}'."
    elsif GitHub.auth.saml?
      "Add owners by setting their SAML 'administrator' attribute to 'true'."
    end %>
    <button type="button" class="btn btn-primary disabled tooltipped tooltipped-sw"
      aria-label="<%= tooltip %>" disabled>
      Add admin
    </button>
  <% else %>
    <% invitations_enabled = !GitHub.bypass_business_member_invites_enabled? %>
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="btn btn-primary">
        <% if invitations_enabled %>
          Invite admin
        <% else  %>
          Add owner
        <% end %>
      </summary>

      <details-dialog class="anim-fade-in fast Box p-3 Box--overlay">
        <button class="btn-octicon position-absolute right-0 top-0 p-4" type="button" aria-label="Close dialog" data-close-dialog>
          <%= octicon "x" %>
        </button>
        <div class="text-center">
          <%= octicon "organization", class: "text-gray-light" %>
          <h4>
            <% if invitations_enabled %>
              Invite
            <% else  %>
              Add
            <% end %>
            an enterprise administrator
          </h4>
          <% unless GitHub.single_business_environment? %>
            <p class="f6">
              <strong><%= business.name %></strong> has
              <strong><%= number_with_delimiter business.available_licenses %></strong>
              <%= pluralize_without_number business.available_licenses, "available license" %>.
            </p>
          <% end %>
        </div>

        <% post_path = invitations_enabled ?
          invite_admin_enterprise_path(business.slug) :
          admins_enterprise_path(business.slug) %>
        <%= form_tag post_path, class: "input-block", method: :post do %>
          <div class="mt-3 <%= 'input-group' if !invitations_enabled %>">
            <auto-complete src="<%= admin_suggestions_enterprise_path(business.slug) %>"
                for="bus-admins-complete-results"
                class="auto-search-group d-block">
              <input type="text" name="admin" aria-label="Search by username, full name or email address"
                class="form-control input-block input-contrast auto-search-input new-member-field"
                autofocus required
                placeholder="Search by name">
              <%= octicon "person" %>
              <ul id="bus-admins-complete-results" class="m-0 autocomplete-results"></ul>
            </auto-complete>
            <% if invitations_enabled %>
              <div class="form-group">
                <div class="form-checkbox">
                  <label>
                    <input name="role" type="radio" value="<%= Business::ADMIN_ROLES[:owner] %>" required>
                    Owner
                  </label>
                  <p class="note">
                    Has full administrative rights to the enterprise but not to organizations.
                  </p>
                </div>
                <div class="form-checkbox">
                  <label>
                    <input name="role" type="radio" value="<%= Business::ADMIN_ROLES[:billing_manager] %>" required>
                    Billing manager
                  </label>
                  <p class="note">
                    Can only view and manage billing.
                  </p>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block js-auto-complete-button">
                Send invitation
              </button>
            <% else %>
              <div class="input-group-button">
                <button type="submit" class="btn btn-primary js-auto-complete-button">
                  Add
                </button>
              </div>
            <% end %>
          </div>
        <% end %>
      </details-dialog>
    </details>
  <% end %>
</div>
