<% invitee = pending_invite.invitee %>

<% cancel_invite = capture do %>
  <%= form_tag cancel_admin_invitation_enterprise_path(business.slug, pending_invite.id),
               method: :put, class: "flex-self-center" do %>
    <button type="submit" class="btn btn-sm btn-danger">
      Cancel
    </button>
  <% end %>
<% end %>

<% if invitee.present? %>
  <%= render layout: "businesses/user_list_card", locals: {
    user: invitee,
    user_link: admin_invitations_enterprise_path(this_business, invitee),
    user_link_data_options: hovercard_data_attributes_for_user(invitee),
    primary_name: invitee.name.present? ? invitee.name : invitee.login,
    secondary_name: invitee.name.present? ? invitee.login : nil,
    subtitle: admin_role_for(pending_invite.role),
    login: invitee.login,
    spammy: invitee.spammy?
  } do %>
    <%= cancel_invite %>
  <% end %>
<% else %>
  <%= render layout: "businesses/user_list_card", locals: {
             octicon: "mail",
             primary_name: pending_invite.email,
             subtitle: admin_role_for(pending_invite.role)
  } do %>
    <%= cancel_invite %>
  <% end %>
<% end %>
