<details class="details-reset details-overlay details-overlay-dark lh-default text-gray-dark width-full">
  <summary class="dropdown-item btn-link" data-sudo-required="high" role="menuitem">
   Change role...
  </summary>
  <details-dialog aria-label="Change Role..." class="Box Box--overlay d-flex flex-column anim-fade-in fast">
    <div class="Box-header border-0 bg-white">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= octicon "x" %>
      </button>
    </div>
    <%= form_tag set_role_enterprise_path(business_slug), method: :put do %>
      <input type="hidden" name="login" value="<%= admin.login %>">
      <div class="Box-body f5 text-center border-0">
        <%= octicon("organization", width: "48") %>
        <p class="h2">Change <%= admin.login %>'s role</p>
        <div class="form-checkbox text-left">
          <label>
            <input type="radio"
                   name="role"
                   value="<%= Business::ADMIN_ROLES[:owner] %>"
                   <%= "checked" if role == :owner %>
                   aria-describedby="<%= admin.login %>-owner-description">
            Owner
          </label>
          <p class="note" id="<%= admin.login %>-owner-description">
            Has full administrative rights to the enterprise but not to organizations.
          </p>
        </div>
        <div class="form-checkbox text-left">
          <label>
            <input type="radio"
                   name="role"
                   value="<%= Business::ADMIN_ROLES[:billing_manager] %>"
                   <%= "checked" if role == :billing_manager %>
                   aria-describedby="<%= admin.login %>-manager-description">
            Billing manager
          </label>
          <p class="note" id="<%= admin.login %>-manager-description">
            Can only view and manage billing.
          </p>
        </div>
      </div>
      <div class="Box-footer text-center border-0">
        <button type="submit" class="btn btn-block btn-primary" data-disable-with="Please wait...">
          Change role
        </button>
      </div>
    <% end %>
  </details-dialog>
</details>
