<% page_info responsive: false, title: "Pending administrators · #{this_business.name}",
   stafftools: business_stafftools_resource_path(this_business),
   selected_link: :business_pending_admins %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Pending administrators",
    back_to_link_path: admins_enterprise_path(this_business.slug),
    back_to_link_text: "administrators"
  } do %>
    <div class="d-flex flex-items-center flex-justify-between mb-4">
      <%= form_tag pending_admins_enterprise_path(this_business.slug),
        method: :get, class: "subnav-search float-left ml-0",
        "data-autosearch-results-container": "business-pending-admins-list" do %>
        <div class="auto-search-group">
          <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= query %>"
            placeholder="Find a pending administrator…"
            aria-label="Find a pending administrator…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= octicon('search') %>
          <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
        </div>
      <% end %>

      <%= render "businesses/admins/add_admin", business: this_business %>
    </div>

    <div id="business-pending-admins-list" class="js-repo-access-group" data-pjax-container>
      <%= render "businesses/admins/pending_list",
                  query: query,
                  pending_admins: pending_admins %>
    </div>
<% end %>
