<% business = invitation.business %>
<% page_info title: "Invitation to become an owner of #{business.name}", class: "min-width-0" %>

<div class="container-md">
  <div class="Box mx-auto my-6 p-4 col-11">
    <div class="text-center position-relative">
      <%= avatar_for business, 75, class: "avatar mb-4" %>

      <p class="f3">
        You’ve been invited to become an owner of the
        <a href="<%= enterprise_path(business.slug, invitation_token: params[:invitation_token]) %>"><strong><%= business.name %></strong></a>
        enterprise!
      </p>

      <% if invitation.inviter %>
        <p class="text-gray-light text-small mb-4">
          Invited by <%= invitation.inviter.name.presence || invitation.inviter.login %>
        </p>
      <% end %>

      <% if must_enable_two_factor %>
        <div class="invitation-2fa-banner flash flash-warn flash-full p-3">
          <p class="mb-3">
            <strong><%= business.name %></strong> requires
            all owners to have two-factor authentication enabled.
          </p>

          <a href="<%= settings_user_security_path %>" class="btn btn-primary mr-0">
            Enable two-factor authentication
          </a>
        </div>
      <% end %>

      <div class="mt-4">
        <%= button_to "Accept invitation",
          admin_invitation_enterprise_path(business.slug, invitation_token: params[:invitation_token]),
          method: "post", class: "btn btn-primary",
          disabled: must_enable_two_factor %>
      </div>
    </div>
  </div>
</div>
