<%graphql
  fragment Comment on Comment {
    publishedAt
    ...Views::Mobile::Discussions::EditedInfo::Comment
  }
%>
<% comment = Views::Mobile::Discussions::Comment::PublishedAt::Comment.new(comment) %>

<% if comment.published_at.present? %>
  <span class="text-gray">
    &#8226; <a href="#<%= subject_dom_id %>" class="text-gray" id="<%= local_assigns.fetch(:permalink_dom_id, "#{subject_dom_id}-permalink") %>">
      <time class="link-gray no-wrap" datetime="<%= comment.published_at %>"><%= time_ago_in_words comment.published_at %> ago</time>
    </a>
    <%= render partial: "mobile/discussions/edited_info", locals: { comment: comment } %>
  </span>
<% end %>
