<%# erblint:counter TooltipCounter 1 %>
<% if view.any? %>
  <div class="Box js-check-all-container">
    <div class="Box-header">
      <h3 class="Box-title">
        <input type="checkbox" data-check-all aria-label="check all">
        <%= view.title %>
      </h3>
    </div>

    <ul class="standalone repositories settings-repos">
      <% view.sort(view.repos).each do |repo| %>
        <li id="purgatory-repository-<%= repo.id %>"
          class="<%= view.repo_li_css repo %> Box-row clearfix js-repository-purgatory"
          data-restore-partial="<%= stafftools_restore_repo_partial_path(:id => repo.id) %>"
          data-bulk-job-status="<%= job_status_path(:id => BulkRepositoryRestoreJob.job_id([repo.id])) %>">
          <% if repo %>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Purge",
              button_class: "btn btn-sm",
              details_class: "boxed-action",
              title: "Purge repository data"
            } do %>
              <div class="Box-body">
                <p>
                  Are you sure that you want to purge data for <%= repo.name_with_owner %>
                  This operation is not reversable and repository will no longer be recoverable.
                </p>
              </div>
              <div class="Box-footer">
                <%= form_tag stafftools_purge_repo_path(:id => repo.id), :class => "js-purgatory-purge" do %>
                  <button type="submit" class="btn btn-block btn-danger">
                    Purge Repository Data
                  </button>
                <% end %>
              </div>
            <% end %>

            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Restore",
              button_class: "btn btn-sm",
              details_class: "boxed-action",
              title: "Restore repository data"
            } do %>
              <div class="Box-body">
                <p>
                  Are you sure you want to restore repository <%= repo.name_with_owner %>?
                </p>
                <% if view.private_fork?(repo) %>
                  <p>
                    <b>This repo is a private fork. Please ensure the owner has
                    the necessary permissions before restoring.</b>
                  </p>
                <% end %>
              </div>
              <div class="Box-footer">
                <%= form_tag stafftools_restore_repo_path(:id => repo.id), :class => "js-purgatory-restore" do %>
                  <div class="form-checkbox">
                    <label>
                      <input name="lock" type="checkbox" value="true">
                      Lock repository
                      <span class="tooltipped tooltipped-multiline tooltipped-e p-1"
                            aria-label="Block access to this repository to allow network extraction, visibility changes, etc." >
                        <%= octicon("info") %>
                      </span>
                    </label>
                  </div>
                  <button type="submit" class="btn btn-block btn-danger">
                    Restore
                  </button>
                <% end %>
              </div>
            <% end %>

            <% if repo.deleted_at %>
              <span class="js-repository-status float-right timetext">
                Deleted <%= time_ago_in_words_js repo.deleted_at %>
              </span>
            <% end %>

            <input type="checkbox" title="<%= view.repo_checkbox_title(repo) %>" name="ids[]" value="<%= repo.id %>" data-check-all-item aria-label="select <%= repo.name_with_owner %>">
            <%= octicon(view.repo_span_symbol(repo)) %>
            <%= repo.name_with_owner %>
            <small>
                <%= stafftools_selected_link_to \
                    octicon("rocket"),
                    stafftools_repository_path({:user_id => "#{repo.owner.login}", :id => "#{repo.name}"}),
                    :class => "tooltipped tooltipped-n v-hidden js-stafftools-repository-link",
                    "aria-label" => "View repository in stafftools" %>
                &ndash;
                <%= stafftools_selected_link_to \
                    "##{repo.id}",
                    stafftools_audit_log_path(:query => "repo_id:#{repo.id}"),
                    :class => "tooltipped tooltipped-n",
                    "aria-label" => "Search audit log" %>
            </small>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="Box-footer d-flex">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Restore",
        button_class: "btn btn-sm btn-primary m1",
        details_class: "boxed-action flex-auto text-right js-purgatory-restore-bulk-details",
        title: "Restore repository data"
      } do %>
        <div class="Box-body text-left" id="js-purgatory-restore-bulk-status"
             data-started-message="Started"
             data-failure-message="Something went wrong"
             data-nonselected-message="You didn't select any repositories">
            Are you sure you want to restore the <span data-check-all-count>0</span> selected repositories?
            <p class="js-purgatory-restore-bulk-private-fork-message" hidden>
              <b>Some of the selected repositories (highlighted yellow) are private forks.</b>
              Please ensure the owner has the necessary permissions before restoring. For example,
              are they on a team that can read the parent repository?
            </p>
        </div>
        <div class="Box-footer">
          <%= form_tag stafftools_restore_repo_bulk_path, :class => "js-purgatory-restore-bulk" do %>
            <button type="button" class="btn btn-block btn-danger js-purgatory-restore-bulk">
              Restore
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="boxed-group">
    <h3>Deleted repositories</h3>
    <div class="boxed-group-inner">
      <p>This user has no deleted repositories.</p>
    </div>
  </div>
<% end %>
