<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    id
    slug
    name
    isUnverifiedPending
  }
%>
<%
  listing = Views::Biztools::MarketplaceListings::ApproveListing::MarketplaceListing.new(listing)
  verification_type = listing.is_unverified_pending? ? "unverified" : "verified"
%>

<div class="boxed-group">
  <h3>Approve <%= verification_type.titleize %> Listing</h3>
  <div class="boxed-group-inner clearfix">
    <% if listing.is_unverified_pending? %>
      <p>
        Is this listing ready to be shown publicly as an unverified listing in the Marketplace?
        Unverified listings may not have paid plans and do not require stringent security verification.
        There are no minimum install or user count requirements for unverified apps.
      </p>
    <% else %>
      <p>
        Is this listing ready to be shown publicly as a verified listing in the Marketplace?
        Verified listings may have paid plans and require stringent security verification.
        To become verified, <span class="no-wrap">GitHub Apps</span> should have a
        minimum of 100 installs and <span class="no-wrap">OAuth Apps</span> should
        have a minimum of 200 users.
      </p>
    <% end %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Approve this listing",
      button_class: "btn btn-primary",
      title: "Approve #{verification_type} listing",
    } do %>
      <div class="Box-body overflow-auto">
        <%= form_tag biztools_approve_marketplace_listing_path(listing.id) do %>
          <input type="hidden" name="slug" value="<%= listing.slug %>">
          <p>Are you sure you want to approve <strong><%= listing.name %></strong> for display as <%= verification_type %> in the GitHub Marketplace?</p>
          <dl class="form-group">
            <dt><label for="listing_approval_message">Message for the integrator (optional)</label></dt>
            <dd>
              <textarea autofocus name="message" id="listing_approval_message" class="form-control"></textarea>
            </dd>
          </dl>
          <button type="submit" class="btn btn-block btn-primary mt-2" data-disable-with="Updating..." autofocus>
            Approve this listing
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
