<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    slug
    name
    resourcePath
    shortDescription
    logoUrl(size: 100)
    viewerCanEdit
    isFeatured
    isFeaturable
    installationCount
    ...Views::MarketplaceListings::ListingStatus::MarketplaceListing
  }
%>
<% listing = Views::Biztools::MarketplaceListings::Listing::MarketplaceListing.new(listing) %>

<div class="Box-row d-flex flex-items-center js-listing-container">
  <div class="flex-auto">
    <a href="<%= biztools_marketplace_listing_path(listing.slug) %>" class="d-block float-left mr-2" aria-label="<%= listing.name %>">
      <img src="<%= image_path listing.logo_url %>" alt="" width="50" height="50">
    </a>
    <h4 class="mb-2">
      <a href="<%= biztools_marketplace_listing_path(listing.slug) %>">
        <%= listing.name %> (<%= listing.installation_count %> installs)
      </a>
    </h4>
    <div class="text-small text-gray-light">
      <%= listing.short_description %>
    </div>
  </div>
  <%= render partial: "marketplace_listings/listing_status", locals: { marketplace_listing: listing } %>
  <% if listing.viewer_can_edit %>
    <a href="<%= edit_marketplace_listing_path(listing.slug) %>" class="btn btn-sm ml-2" rel="nofollow">Edit listing</a>
  <% end %>

  <% if listing.is_featurable? %>
    <% if listing.is_featured? %>
      <%= button_to "Unfeature", biztools_unfeature_marketplace_listing_path(listing.slug), method: :put, 
        class: "btn btn-sm ml-2", 
        form_class: "js-feature-listing-form",
        data: { confirm: 'Are you sure you want to unfeature this listing?', disable_with: "Updating..." } %>
    <% else %>
      <%= button_to "Feature", biztools_feature_marketplace_listing_path(listing.slug), method: :put, 
        class: "btn btn-sm ml-2", 
        form_class: "js-feature-listing-form",
        data: { confirm: 'Are you sure you want to feature this listing?', disable_with: "Updating..." } %>
    <% end %>
  <% end %>

  <a href="<%= listing.resource_path %>" class="btn btn-sm ml-2" rel="nofollow">View listing</a>
</div>
