<%graphql
  fragment MarketplaceListing on MarketplaceListing {
      featuredOrganizations(approvedOnly: false) {
        databaseId
        approved
        organization {
          login
          ...ApplicationHelper::ActorProfileLink::Actor
          ...AvatarHelper::AvatarFragment::Actor
        }
      }
  }
%>
<%
  listing = Views::Biztools::MarketplaceListings::ManageFeaturedCustomers::MarketplaceListing.new(listing)
%>

<div class="boxed-group">
  <h3>Manage Featured Customers</h3>
  <div class="boxed-group-inner">
    <% if listing.featured_organizations.any? %>
      <div class="d-flex flex-wrap mt-2">
        <% listing.featured_organizations.each do |featured_org| %>
          <%= form_tag biztools_marketplace_featured_customers_path(featured_org.database_id), method: :put do %>
            <input name="featured_customers[approved]" type="hidden" value="<%= featured_org.approved? ? "0" : "1" %>">
            <div class="mr-6 mb-3 d-flex flex-column flex-justify-center flex-items-center">
              <%= graphql_profile_link(featured_org.organization, url: user_path(featured_org.organization.login)) do %>
                <%= graphql_avatar_for(featured_org.organization, 84, class: "avatar d-block mb-2") %>
              <% end %>
              <button class="btn" type="submit"><%= featured_org.approved? ? "Unapprove" : "Approve" %></button>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= render(Primer::BlankslateComponent.new(
        icon: "people",
        title: "No orgs selected",
        description: "Ask the integrator to select orgs to feature!",
      )) %>
    <% end %>
  </div>
</div>
