<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    databaseId
  }
%>
<% listing = Views::Biztools::MarketplaceListings::ReindexListing::MarketplaceListing.new(listing) %>

<hr>
<div class="clearfix">
  <p>Add or remove this app from the search index. Changes may take a few minutes to show up.</p>
  <%= form_tag biztools_reindex_marketplace_listing_path(listing.database_id) do %>
    <button type="submit" name="reindex" value="add" class="btn btn-danger">
      Add to the search index
    </button>
    <button type="submit" name="reindex" value="remove" class="btn btn-danger">
      Remove from the search index
    </button>
  <% end %>
</div>
