<%# erblint:disable ProperTagNesting %>
<%graphql
  fragment Root on Query {
    marketplaceListing(slug: $slug) {
      slug
      isByGithub
      name
      integrationType
      isFeaturable
      featuredAt
      hasDirectBilling
      categories {
        name
        isFilter
      }
      primaryCategory {
        name
      }
      secondaryCategory {
        name
      }
      ...Views::Biztools::MarketplaceListings::ManageFeaturedCustomers::MarketplaceListing
    }
    marketplaceCategories {
      name
      isFilter
    }
  }
%>
<%
  data = Views::Biztools::MarketplaceListings::Edit::Root.new(data)
  listing = data.marketplace_listing

  normal_categories = data.marketplace_categories.reject(&:is_filter)
  filter_categories = data.marketplace_categories.select(&:is_filter)
  selected_filter_names = listing.categories.select(&:is_filter).map(&:name)
%>

<% page_info \
  title: "Edit #{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group" role="main">
    <h3>Edit Listing &ldquo;<%= listing.name %>&rdquo;</h3>
    <div class="boxed-group-inner">
      <%= form_tag biztools_marketplace_listing_path(listing.slug), method: :put do %>
        <dl class="form-group mr-3 d-inline-block">
          <dt><label for="new-primary-cat">Primary category:</label></dt>
          <dd>
            <select required id="new-primary-cat" class="form-select" name="marketplace_listing[primaryCategoryName]">
              <% normal_categories.each do |category| %>
                <option <% if listing.primary_category.name == category.name %>selected<% end %> value="<%= category.name %>"><%= category.name %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group mr-3 d-inline-block">
          <dt><label for="new-secondary-cat">Secondary category:</label></dt>
          <dd>
            <select id="new-secondary-cat" class="form-select" name="marketplace_listing[secondaryCategoryName]">
              <option value="none">None</option>
              <% normal_categories.each do |category| %>
                <option <% if listing.secondary_category && listing.secondary_category.name == category.name %>selected<% end %> value="<%= category.name %>"><%= category.name %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group d-inline-block">
          <dt><label for="filter_categories">Filter Categories:</label></dt>
          <dd>
            <input name="marketplace_listing[filterCategories][]" type="hidden">
            <details class="position-relative details-reset select-menu">
              <summary class="btn select-menu-button" aria-haspopup="menu">
                Select filters
              </summary>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu">
                <div id="filter_categories" class="select-menu-list">
                  <% filter_categories.each do |filter| %>
                    <label class="select-menu-item">
                      <input
                        type="checkbox"
                        name="marketplace_listing[filterCategories][]"
                        value="<%= filter.name %>"
                        <% if selected_filter_names.include? filter.name %>
                          checked
                        <% end %>
                      >
                      <span class="ml-2"><%= filter.name %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          </dd>
        </dl>
        <% if listing.is_featurable? %>
          <dl class="form-group">
            <dt><label for="featured_at">Feature this listing at:</label></dt>
            <dd>
              <% if listing.featured_at? %>
                <input id="featured_at" name="marketplace_listing[featuredAt]" type="datetime-local" value="<%= listing.featured_at.in_time_zone.strftime("%Y-%m-%dT%T") %>"></input> <%= listing.featured_at.in_time_zone.strftime("%Z") %>
              <% else %>
                <input id="featured_at" name="marketplace_listing[featuredAt]" type="datetime-local"></input> <%= Time.now.in_time_zone.strftime("%Z") %>
              <% end %>
            </dd>
          </dl>
        <% else %>
          <p>This app is not featureable. To be featured it <b>must</b>: be approved and have a background hero image.</p>
        <% end %>
        <div class="form-checkbox border-bottom pb-3">
          <input name="marketplace_listing[isByGithub]" type="hidden" value="0">
          <label>
            <input id="is_by_github" name="marketplace_listing[isByGithub]" type="checkbox" value="1" <%= "checked" if listing.is_by_github? %>>
            Display “by GitHub” icon
          </label>
          <span class="note">Check this box to show an Octocat icon on the listing’s logo to indicate that this app is owned or created by GitHub.</span>
        </div>
        <fieldset>
          <legend>
            <b>Direct billing:</b>
            <p class="note" id="help-text-for-direct-billing">
              Enabling this allows the integrator to create plans where billing is handled directly by them rather than GitHub. <a href="https://github.com/github/marketplace/issues/new?template=direct-billing.md">Complete the steps in a new issue</a> before turning this on.
            </p>
          </legend>
          <div class="form-checkbox">
            <label>
              <input type="radio" <%= "checked" if listing.has_direct_billing? %> name="marketplace_listing[hasDirectBilling]" value="true">
              Enabled
            </label>
          </div>
          <div class="form-checkbox pb-3 border-bottom">
            <label>
              <input type="radio" name="marketplace_listing[hasDirectBilling]" <%= "checked" if !listing.has_direct_billing? %> value="false">
              Disabled
            </label>
          </div>
        </fieldset>
        <button data-disable-with="Saving..." data-disable-invalid type="submit" class="btn">Save listing</button>
        <a class="d-inline-block ml-3" href="<%= biztools_marketplace_listing_path(listing.slug) %>">Cancel</a>
      <% end %>
    </div>
  </div>

  <%= render partial: "biztools/marketplace_listings/manage_featured_customers", locals: { listing: listing } %>

  <div class="boxed-group dangerzone">
    <h3>Change Listed Product</h3>
    <div class="boxed-group-inner">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Change #{ listing.name }'s Product",
        title: "Change #{ listing.name }'s Product",
      } do %>
        <div class="Box-body overflow-auto">
          <%= form_tag biztools_marketplace_listing_path(listing.slug), method: :put do %>
            <p>Choose one of:</p>
            <dl class="form-group">
              <dt><label for="replacement-integration-id">Integration:</label></dt>
              <dd>
                <select <% if integrations.empty? %>disabled<% end %> id="replacement-integration-id" class="form-select" name="marketplace_listing[appID]">
                  <option value=""></option>
                  <% integrations.each do |integration| %>
                    <option value="<%= integration.global_relay_id %>"><%= integration.name %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
            <dl class="form-group">
              <dt><label for="replacement-oauth-app-id">OAuth application:</label></dt>
              <dd>
                <select <% if oauth_apps.empty? %>disabled<% end %> id="replacement-oauth-app-id" class="form-select" name="marketplace_listing[oauthApplicationDatabaseID]">
                  <option value=""></option>
                  <% oauth_apps.each do |app| %>
                    <option value="<%= app.id %>"><%= app.name %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
            <div class="Box-footer">
              <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
                Change Product
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
      <p>
        You can change the
        <% if listing.integration_type == "OAUTH" %>
          OAuth application
        <% elsif listing.integration_type == "GITHUB_APP" %>
          GitHub App
        <% end %>
        for this listing to another OAuth application or GitHub App.
      </p>
    </div>
  </div>
<% end %>
