<% page_info \
  title: "#{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%= render layout: "biztools/biztools" do %>
  <div class="mb-4">
    <%= render Primer::SubheadComponent.new do |component| %>
	    <% component.slot(:heading, tag: :div) do %>Webhook details<% end %>
    <% end %>

    <div class="mb-2">
      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">URL</span>
        <span class="d-block col-8"><code><%= hook.url %></code></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Active?</span>
        <span class="d-block col-8"><%= hook.active? %></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Content type</span>
        <span class="d-block col-8"><%= hook.content_type %></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Creator</span>
        <span class="d-block col-8">
          <%= link_to hook.creator, stafftools_user_path(hook.creator) %>
        </span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Audit log</span>
        <span class="d-block col-8">
        <%= link_to "Search logs", stafftools_audit_log_path(query: "data.hook_id:#{hook.id}") %>
        for actions involving this webhook.
        </span>
      </div>
    </div>
  </div>

  <%=
    render partial: "hooks/deliveries", locals: {
      hook: hook,
      disabled: false,
      target: hook.installation_target.class.name.humanize,
      hook_deliveries_query: hook_deliveries_query,
      can_filter_hook_deliveries: true,
    }
  %>
<% end %>
