<%# erblint:disable ProperTagNesting %>
<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    ...Views::Biztools::MarketplaceListings::ApproveListing::MarketplaceListing
    ...Views::Biztools::MarketplaceListings::DelistListing::MarketplaceListing
    ...Views::Biztools::MarketplaceListings::ReindexListing::MarketplaceListing
    ...Views::Biztools::MarketplaceListings::RejectListing::MarketplaceListing
    ...Views::MarketplaceListings::FeaturedListing::MarketplaceListing
    ...Views::MarketplaceListings::FeaturedListingLink::MarketplaceListing
    name
    databaseId
    resourcePath
    slug
    isVerified
    shortDescription
    featuredAt
    fullDescription
    extendedDescription
    isPendingApproval
    isFeatured
    isRejected
    isArchived
    isDraft
    isPublic
    installationCount
    viewerCanApprove
    viewerCanDelist
    viewerCanReject
    logoUrl(size: 106)
    privacyPolicyUrl
    supportEmail
    supportUrl
    companyUrl
    documentationUrl
    installationUrl
    pricingUrl
    statusUrl
    termsOfServiceUrl
    hasTermsOfService
    technicalEmail
    financeEmail
    marketingEmail
    securityEmail
    isLightText
    logoBackgroundColor
    categories {
      name
      resourcePath
      isFilter
    }
    app {
      name
      logoUrl(size: 100)
      databaseId
      url
      slug
    }
    plans(first: 5) {
      totalCount
      nodes {
        name
        state
        priceModel
        isPerUnit
        unitName
        yearlyPriceInDollars
        monthlyPriceInDollars
        hasFreeTrial
      }
    }
    owner {
      login
    }
    adminInfo {
      state
      oauthApplication {
        name
        logoUrl(size: 100)
        databaseId
        url
      }
    }
  }
%>
<%
  listing = Views::Biztools::MarketplaceListings::Show::MarketplaceListing.new(listing)
  integratable = listing.app || listing.admin_info.oauth_application
  owner = listing.owner

  stafftools_url = if listing.app
                     stafftools_user_app_url(user_id: owner.login, id: integratable.slug)
                   else
                     stafftools_user_application_url(user_id: owner.login, id: integratable.database_id)
                   end
%>

<% page_info \
  title: "#{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%= render layout: "biztools/biztools" do %>
  <div class="site-admin-box">
    <h4>
      <%= octicon(:info) %>
      <img src="<%= image_path listing.logo_url %>" alt="" width="50" height="50">
      Listing Info
    </h4>
    <ul class="site-admin-detail-list">
      <li><%= listing.name %></li>
      <li><code><%= listing.slug %></code>
      <li>ID: <%= listing.database_id %></li>
      <li>
        <% if listing.is_verified? %>
          <%= octicon(:check) %>
        <% elsif listing.is_rejected? || listing.is_archived? %>
          <%= octicon("circle-slash") %>
        <% elsif listing.is_pending_approval? %>
          <%= octicon(:eye) %>
        <% elsif listing.is_draft? %>
          <%= octicon(:pencil) %>
        <% end %>
        State: <%= listing.admin_info.state %>
      </li>
      <li>
        <%= octicon(:tag) %>
        <% listing.categories.each do |category| %>
          <a class="d-block" href="<%= category.resource_path %>">
            <%= category.name %> <% if category.is_filter %>(filter)<% end %>
          </a>
        <% end %>
      </li>
      <li>
        <a href="<%= listing.resource_path %>">
          <%= octicon(:link) %>
          View <%= "public" if listing.is_public? %> listing
        </a>
      </li>
      <li>
        <%= link_to marketplace_listing_insights_transactions_path(listing.slug) do %>
          <%= octicon(:eye) %>
          Transactions
        <% end %>
      </li>
      <li>
        <%= link_to biztools_marketplace_listing_hook_path(listing.slug) do %>
          <%= octicon(:rss) %>
          Webhook
        <% end %>
      </li>
      <li>
        <code class="f5">#<%= listing.logo_background_color %></code>
        <span class="d-inline-block ml-3 v-align-middle border border-gray-dark rounded-1 py-2 px-4" style="background-color: #<%= listing.logo_background_color %>"></span>
        <span class="d-inline-block ml-3"><%= listing.is_light_text? ? "Light" : "Dark" %> text</span>
      </li>
      <li>
        Technical Lead Email: <%= listing.technical_email %>
      </li>
      <li>
        Finance Lead Email: <%= listing.finance_email %>
      </li>
      <li>
        Marketing Lead Email: <%= listing.marketing_email %>
      </li>
      <li>
        Security Lead Email: <%= listing.security_email %>
      </li>
    </ul>
  </div>
  <div class="site-admin-box">
    <h4>
      <%= octicon(:plug) %>
      <img src="<%= image_path integratable.logo_url %>" alt="" width="50" height="50">
      <%= listing.app ? "GitHub App" : "OAuth Application" %>
    </h4>
    <ul class="site-admin-detail-list">
      <li><%= integratable.name %></li>
      <li>
        <a href="/biztools/users/<%= listing.owner.login %>">
          <%= octicon(:octoface) %>
          <%= listing.owner.login %>
        </a>
      </li>
      <li>ID: <%= integratable.database_id %></li>
      <li>
        <span class="tooltipped tooltipped-ne tooltipped-align-left-1" aria-label="Total includes installs outside of Marketplace.">
          <%= octicon(:info) %>
        </span>
        Total install count: <%= number_with_delimiter(listing.installation_count) %>
      </li>
      <li>
        <a href="<%= integratable.url %>"><%= octicon(:link) %> <%= integratable.url %></a>
      </li>
      <li>
        <a href="<%= stafftools_url %>"><%= octicon(:rocket) %> View in Stafftools</a>
      </li>
    </ul>
  </div>
  <div class="site-admin-box">
    <h4>
      <%= octicon(:briefcase) %>
      Plans (<%= listing.plans.total_count %>)
    </h4>
    <% if listing.plans.total_count < 1 %>
      <p>This listing has no plans.</p>
    <% end %>
    <ul class="site-admin-detail-list">
      <% listing.plans.nodes.each do |plan| %>
        <li class="pr-1 pl-3">
          <div>&ldquo;<%= plan.name %>&rdquo; &mdash; <%= plan.price_model.humanize %><br></div>
          <% unless plan.price_model == "free" %>
            <div>
              <strong><%= casual_currency plan.monthly_price_in_dollars %></strong> / month
              <% if plan.is_per_unit? %>
                / <%= plan.unit_name %>
              <% end %><br>
              <strong><%= casual_currency plan.yearly_price_in_dollars %></strong> / year
              <% if plan.is_per_unit? %>
                / <%= plan.unit_name %>
              <% end %>
            </div>
          <% end %>
          <div class="text-small text-gray-light"><%= plan.state.humanize %></div>
          <% if plan.has_free_trial? %>
            <div class="text-small text-gray-light">Free Trial Enabled</div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="site-admin-box">
    <h4>
      <%= octicon(:link) %>
      Links
    </h4>
    <ul class="site-admin-detail-list">
      <li>
        <a href="<%= listing.privacy_policy_url %>">
          <%= octicon(:link) %> Privacy policy
          <span class="marketplace-url-link">&lt;<%= listing.privacy_policy_url %>&gt;</span>
        </a>
      </li>
      <li>
        <% if listing.support_email.present? %>
          <a href="mailto:<%= listing.support_email %>">
            <%= octicon(:mail) %> <%= listing.support_email %>
          </a>
        <% else %>
          <a href="<%= listing.support_url %>">
            <%= octicon(:link) %> Support
            <span class="marketplace-url-link">&lt;<%= listing.support_url %>&gt;</span>
          </a>
        <% end %>
      </li>
      <li>
        <% if listing.company_url.present? %>
          <a href="<%= listing.company_url %>">
            <%= octicon(:link) %> Company
            <span class="marketplace-url-link">&lt;<%= listing.company_url %>&gt;</span>
          </a>
        <% else %>
          No company URL
        <% end %>
      </li>
      <li>
        <% if listing.documentation_url.present? %>
          <a href="<%= listing.documentation_url %>">
            <%= octicon(:link) %> Documentation
            <span class="marketplace-url-link">&lt;<%= listing.documentation_url %>&gt;</span>
          </a>
        <% else %>
          No documentation URL
        <% end %>
      </li>
      <li>
        <% if listing.installation_url.present? %>
          <a href="<%= listing.installation_url %>">
            <%= octicon(:link) %> Install
            <span class="marketplace-url-link">&lt;<%= listing.installation_url %>&gt;</span>
          </a>
        <% else %>
          No installation URL
        <% end %>
      </li>
      <li>
        <% if listing.pricing_url.present? %>
          <a href="<%= listing.pricing_url %>">
            <%= octicon(:link) %> Pricing
            <span class="marketplace-url-link">&lt;<%= listing.pricing_url %>&gt;</span>
          </a>
        <% else %>
          No pricing URL
        <% end %>
      </li>
      <li>
        <% if listing.status_url.present? %>
          <a href="<%= listing.status_url %>">
            <%= octicon(:link) %> Status
            <span class="marketplace-url-link">&lt;<%= listing.status_url %>&gt;</span>
          </a>
        <% else %>
          No status URL
        <% end %>
      </li>
      <li>
        <% if listing.has_terms_of_service? %>
          <a href="<%= listing.terms_of_service_url %>">
            <%= octicon(:link) %> Terms of service
            <span class="marketplace-url-link">&lt;<%= listing.terms_of_service_url %>&gt;</span>
          </a>
        <% else %>
          No terms of service URL
        <% end %>
      </li>
    </ul>
  </div>
  <div class="boxed-group">
    <h3>Feature card</h3>
    <div class="boxed-group-inner">
      <strong>Currently featured:</strong> <%= listing.is_featured? %></br>
      <% if listing.featured_at? %>
        <strong>Will be featured at:</strong> <%= listing.featured_at.in_time_zone.strftime("%m/%d/%Y %I:%M:%S %p %z") %>
      <% end %>

      <div class="MarketplaceJumbotron col-6 d-flex pt-md-4 py-lg-6">
        <%= render partial: "marketplace_listings/featured_listing", locals: { listing: listing } %>
      </div>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Very short description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.short_description %></pre>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Introductory description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.full_description %></pre>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Detailed description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.extended_description %></pre>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Edit Listing</h3>
    <div class="boxed-group-inner clearfix">
      <a href="<%= biztools_edit_marketplace_listing_path(listing.slug) %>" class="boxed-action btn">
        Advanced edit
      </a>
      <p>
        Change this listing’s categories and the app that is listed.
      </p>
    </div>
  </div>

  <% if listing.viewer_can_approve? %>
    <%= render partial: "biztools/marketplace_listings/approve_listing",
               locals: { listing: listing } %>
  <% end %>

  <% if listing.viewer_can_delist? %>
    <div class="boxed-group dangerzone">
      <h3>Delist or change search index</h3>
      <div class="boxed-group-inner clearfix">
        <%= render partial: "biztools/marketplace_listings/delist_listing",
                   locals: { listing: listing } %>
        <%= render partial: "biztools/marketplace_listings/reindex_listing",
                   locals: { listing: listing } %>
      </div>
    </div>
  <% end %>

  <% if listing.viewer_can_reject? %>
    <%= render partial: "biztools/marketplace_listings/reject_listing",
               locals: { listing: listing } %>
  <% end %>
<% end %>
