<% verification_type = listing.unverified_and_pending_approval? ? "unverified" : "verified" %>

<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong>Approve listing</strong>
    <div class="text-small text-gray-light">
      Approve this listing and publish it to the public.
    </div>
  </div>
  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Approve",
    button_class: "btn btn-primary",
    title: "Approve #{verification_type} maintainer",
  } do %>
    <div class="Box-body overflow-auto">
      <%= form_tag stafftools_sponsors_member_listing_approval_path(listing.sponsorable.login) do %>
        <p>Are you sure you want to approve <strong><%= listing.sponsorable.login %></strong> for display as <%= verification_type %> in GitHub Sponsors?</p>
        <button type="submit" class="btn btn-block btn-primary mt-2" data-disable-with="Updating..." autofocus>
          Approve
        </button>
      <% end %>
    </div>
  <% end %>
</div>
