<%
  resetable = listing.active_docusign_envelope.nil? || listing.docusign_voidable?
  label = listing.docusign_voidable? ? "Reassign" : "Assign"
%>

<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong><%= label %> tax template</strong>
    <div class="text-small text-gray-light">
      <%= label %> the DocuSign tax template. <% if listing.docusign_voidable? %> Note: this action will notify the recipient.<% end %>
      <% unless resetable %>
        <br><strong>This document cannot be <%= label.downcase %>ed.</strong>
      <% end %>
      <br>Learn <%= link_to "more", "https://support.docusign.com/en/guides/ndse-user-guide-void-documents" %>.
    </div>
  </div>
  <%= render layout: "shared/details_dialog", locals: {
    button_text: label,
    button_class: "btn btn-danger",
    title: "#{label} DocuSign tax template",
    hidden: !resetable,
  } do %>
    <div class="Box-body overflow-auto">
      <%= form_tag stafftools_sponsors_member_listing_docusign_envelope_path(listing.sponsorable.login), method: :put do %>
        <p>Are you sure you want to <%= label.downcase %> <strong><%= listing.sponsorable.login %></strong>'s DocuSign tax template?</p>
        <dl class="form-group">
          <dt><label for="template_id">Tax Template</label></dt>
          <dd>
            <select class="form-select" name="template_id" id="template_id" required>
              <option value="" disabled selected hidden>Choose a template</option>
              <option value="<%= ::Sponsors::Docusign::Document::W9.template_id %>">
                <%= ::Sponsors::Docusign::Document::W9.type.to_s.humanize %>
              </option>
              <option value="<%= ::Sponsors::Docusign::Document::W_8BEN.template_id %>">
                <%= ::Sponsors::Docusign::Document::W_8BEN.type.to_s.humanize %>
              </option>
              <option value="<%= ::Sponsors::Docusign::Document::W_8BEN_E.template_id %>">
                <%= ::Sponsors::Docusign::Document::W_8BEN_E.type.to_s.humanize %>
              </option>
            </select>
          </dd>

          <% if listing.docusign_voidable? %>
            <dt><label for="reason">Reason</label></dt>
            <dd>
              <textarea required name="reason" id="reason" class="form-control"></textarea>
            </dd>
          <% end %>
        </dl>
        <button type="submit" class="btn btn-block btn-danger mt-4" data-disable-with="Updating..." autofocus>
          <%= label %> tax template
        </button>
      <% end %>
    </div>
  <% end %>
</div>
