<div class="mb-5">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Feature on landing page<% end %>
  <% end %>
  <div class="col-8">
    <%= form_tag(stafftools_sponsors_member_feature_path(sponsorable.login), method: :put) do %>
      <div class="form-checkbox">
        <label>
          <input type="checkbox" name="is_featured" <%= "checked" if membership.featured_active? %> <%= "disabled" if membership.featured_disabled? %> aria-describedby="is-featured-help-text">
          Feature on landing page?
        </label>
        <p class="note" id="is-featured-help-text">
          <% if membership.featured_disabled? %>
            <%= sponsorable.login %> has <strong>not allowed</strong> their profile to be featured.
          <% else %>
            Enable <%= sponsorable.login %> to <strong>be featured</strong> on the <%= link_to("Sponsors landing page", sponsors_path) %>.
          <% end %>
        </p>
      </div>
      <dl class="form-group mt-1">
        <dt><label for="featured-description">Featured Description</label></dt>
        <dd>
          <input
            class="form-control"
            type="text"
            placeholder="Add a description to show on the landing page"
            value="<%= membership.featured_description %>"
            id="featured-description"
            name="featured_description">
        </dd>
      </dl>
      <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    <% end %>
  </div>
</div>
