<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    Health checks
    <% if automated_criteria.any? { |criterion| !criterion.met? } %>
      <%= octicon "alert", class: "text-orange v-align-middle" %>
    <% else %>
      <%= octicon "check", class: "text-green v-align-middle" %>
    <% end %>
  <% end %>
<% end %>
<div>
  <% automated_criteria.each do |check| %>
    <%= render_partial_view "stafftools/sponsors/members/health_check",
      Stafftools::Sponsors::Members::HealthCheckView, check: check %>
  <% end %>
</div>
