<%- # `view` is an instance of Stafftools::Sponsors::Members::HealthCheckView %>
<div class="d-flex flex-justify-start mb-2">
  <span class="d-block col-4 text-bold mr-2"><%= view.description %></span>
  <span class="d-block col-8 <%= view.text_class %>" <%= test_selector(view.slug) %>>
    <%= view.text %>
  </span>
</div>
