<%graphql
  fragment BiztoolsInfo on BiztoolsInfo {
    sponsorsListings(first: $perPage, query: $query, after: $cursor, filterBy: $filterBy) {
      pageInfo {
        hasNextPage
        endCursor
      }
      nodes {
        ...Views::Stafftools::Sponsors::Members::Listing::Listing
      }
    }
  }
%>
<%
  data = Views::Stafftools::Sponsors::Members::Listings::BiztoolsInfo.new(data)
  page_info = data.sponsors_listings.page_info
  sponsors_listings = data.sponsors_listings.nodes
%>

<% sponsors_listings.each do |listing| %>
  <%= render partial: "stafftools/sponsors/members/listing", locals: { listing: listing } %>
<% end %>

<% if page_info.has_next_page? %>
  <div <%= test_selector("pagination") %> class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination border-top">
    <%= form_tag stafftools_sponsors_members_path, :method => :get do %>
      <input name="cursor" type="hidden" value="<%= page_info.end_cursor %>">
      <input name="state" type="hidden" value="<%= current_state %>">
      <input name="type" type="hidden" value="<%= current_type %>">
      <input name="query" type="hidden" value="<%= query %>">
      <button type="submit" class="btn-link d-block width-full py-2" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
