<% # `view` is an instance of Stafftools::Sponsors::Members::ShowView %>
<div class="mb-2">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Sponsors listing<% end %>
    <% component.slot(:actions) do %>
      <%= sponsors_listing_state_badge_for(listing) %>
      <a href="<%= sponsorable_path(listing.sponsorable.login) %>" class="btn btn-sm" rel="nofollow">View</a>
    <% end %>
  <% end %>

  <% if listing.duplicate_stripe_account? %>
    <div class="flash flash-warn mb-3">
      <%= octicon("alert") %>
      <span>Stripe Connect account is linked to multiple listings!</span>
    </div>
  <% end %>

  <div class="mb-2">
    <div class="d-flex flex-justify-start mb-2">
      <span class="d-block col-4 text-bold">Stripe Connect status</span>
      <span class="d-block col-8" <%= test_selector("stripe-status") %>>
        <% if view.stripe_account %>
          <a href="<%= view.stripe_account_url %>" target="_blank">
            <%= view.stripe_verification_status %>
            <% if view.stripe_disabled_reason %>
              <span class="text-red">(<%= view.stripe_disabled_reason %>)</span>
            <% end %>
            <%= octicon "link-external", class: "ml-1" %>
          </a>
          <%= form_tag stafftools_sponsors_member_listing_stripe_sync_path(listing.sponsorable.login), method: :post, class: "d-inline-block" do %>
            <%= button_tag type: :submit, class: "btn-link ml-3" do %>
              Sync <%= octicon "sync", class: "ml-1" %>
            <% end %>
          <% end %>
        <% else %>
          No Stripe account
        <% end %>
      </span>
    </div>

    <% if view.stripe_account %>
      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Stripe balance</span>
        <div class="col-8">
          <include-fragment src="<%= stafftools_sponsors_member_listing_stripe_balance_partial_path(listing.sponsorable.login) %>" class="d-flex flex-items-center">
            <%= image_tag "spinners/octocat-spinner-32.gif", size: "16x16", alt: "", class: "mr-1" %>
            <span class="text-gray">Loading balance...</span>
          </include-fragment>
        </div>
      </div>
    <% end %>

    <div class="d-flex flex-justify-start mb-2">
      <span class="d-block col-4 text-bold">DocuSign status</span>
      <div class="col-8">
        <div>
          <%= view.docusign_status_octicon %>
          <%= view.docusign_status_text %>
          <%= view.docusign_document_type %>
        </div>
        <span class="text-small text-gray">
          <%= view.docusign_status_subtext %>
        </span>
      </div>
    </div>

    <div class="d-flex flex-justify-start mb-2">
      <span class="d-block col-4 text-bold">Matching status</span>
      <span class="d-block col-8">
        <%= render Stafftools::Sponsors::Members::MatchingStatusComponent.new(listing: listing) %>
      </span>
    </div>

    <div class="d-flex flex-justify-start mb-2">
      <span class="d-block col-4 text-bold">Payout probation</span>
      <span class="d-block col-8">
        <%= render Stafftools::Sponsors::Members::PayoutProbationStatusComponent.new(listing: listing) %>
      </span>
    </div>

    <% if listing.published_at.present? %>
      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Published on</span>
        <span class="d-block col-8">
          <%= listing.published_at.strftime("%b %-d, %Y") %>
        </span>
      </div>
    <% end %>

    <div class="d-flex flex-justify-start mb-2">
      <span class="d-block col-4 text-bold">Webhooks</span>
      <span class="d-block col-8">
        <% if hooks.present? %>
          <% hooks.each do |hook| %>
            <% hook_view = Hooks::ShowView.new(hook: hook, current_user: current_user) %>
            <div class="hook-item <%= hook_view.status_class %> mb-1 ml-n1">
              <span class="item-status">
                <%= link_to stafftools_sponsors_member_listing_webhook_path(listing.sponsorable.login, hook.id), class: "tooltipped tooltipped-n", 'aria-label' => hook_view.status_message do %>
                  <%= octicon("check", class: "icon-for-success") %>
                  <%= octicon("alert", class: "icon-for-failure") %>
                  <%= octicon("primitive-dot", class: "icon-for-pending") %>
                  <%= octicon("primitive-dot", class: "icon-for-inactive") %>
                <% end %>
              </span>
              <span class="hook-url css-truncate css-truncate-target ml-n1">
                <%= link_to hook.url, stafftools_sponsors_member_listing_webhook_path(listing.sponsorable.login, hook.id) %>
              </span>
            </div>
          <% end %>
        <% else %>
          <%= octicon("primitive-dot", class: "text-gray mr-1") %> None created
        <% end %>
      </span>
    </div>
  </div>

  <div class="Box my-4">
    <% if view.can_approve_listing? %>
      <%= render partial: "stafftools/sponsors/members/approve_listing",
                  locals: { listing: listing } %>
    <% end %>
    <% if view.can_unpublish_listing? %>
      <%= render partial: "stafftools/sponsors/members/repending_listing",
                  locals: { listing: listing } %>
    <% end %>
    <% if view.stripe_account %>
      <%= render Stafftools::Sponsors::TogglePayoutsComponent.new(
        sponsors_listing: listing
      ) %>
    <% end %>

    <%= render Stafftools::Sponsors::ToggleMatchComponent.new(
      sponsorable: listing.sponsorable,
      listing: listing,
      membership: membership,
    ) %>

    <%= render Stafftools::Sponsors::DisableMatchForSponsorsComponent.new(
      sponsorable: listing.sponsorable,
      listing: listing,
      membership: membership,
    ) %>

    <%= render Stafftools::Sponsors::ResetDocusignEnvelopeComponent.new(
      sponsorable: listing.sponsorable,
      envelope: view.docusign_envelope
    ) %>
    <%= render partial: "stafftools/sponsors/members/docusign_assign_tax_template",
                locals: { listing: listing } %>
  </div>

  <% if view.stripe_account %>
    <div class="mb-2">
      <%= render Primer::SubheadComponent.new do |component| %>
        <% component.slot(:heading) do %>Recent payouts<% end %>
        <% component.slot(:actions) do %>
          <a href="<%= view.stripe_account.stripe_dashboard_url %>">
            View all payouts in Stripe
          </a>
        <% end %>
      <% end %>
      <include-fragment src="<%= stafftools_sponsors_member_payouts_preview_partial_url(listing.sponsorable) %>" class="octocat-spinner"></include-fragment>
    </div>
  <% end %>
</div>
