<% # `view` is an instance of Stafftools::Sponsors::Members::ShowView %>
<% if view.stripe_account %>
  <div class="mb-2">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading) do %>Recent transfers<% end %>
      <% component.slot(:actions) do %>
        <a href="<%= stafftools_sponsors_member_transfers_path(listing.sponsorable) %>">
          View all transfers
        </a>
      <% end %>
    <% end %>
  <include-fragment src="<%= stafftools_sponsors_member_transfers_preview_partial_url(listing.sponsorable) %>" class="octocat-spinner"></include-fragment>
  </div>
<% end %>

<div class="d-flex flex-justify-between mb-5">
  <div class="col-8 mr-3">
    <h3 class="f3-light mb-3">Listing description</h3>
    <%= GitHub::Goomba::SponsorsListingPipeline.to_html(listing.full_description, {}) %>
  </div>
  <div class="col-4">
    <h3 class="f3-light mb-3">Published tiers</h3>
    <div class="Box">
      <% listing.sponsors_tiers.with_published_state.each do |tier| %>
        <div class="Box-row">
          <h4><%= tier.name %></h4>
          <div class="mt-2">
            <%= GitHub::Goomba::SponsorsListingPipeline.to_html(tier.description, {}) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
