<%# erblint:counter TooltipCounter 1 %>
<div class="mb-2 text-bold">Info</div>

<% if membership.banned? %>
  <div class="mb-2">
    <span class="d-block text-bold text-red">Banned from program</span>
    <span class="d-block">
      <relative-time datetime="<%= membership.banned_at %>"></relative-time>
      by <%= membership.banned_by.login %>
    <span class="ml-1 tooltipped tooltipped-s tooltipped-multiline v-align-middle"
          aria-label="<%= membership.banned_reason %>">
        <%= octicon("info", class: "text-gray mr-1") %>
      </span>
    </span>
  </div>
<% end %>

<% if membership.ignored? %>
  <div class="mb-2">
    <span class="d-block text-bold text-orange">Ignored on</span>
    <span class="d-block"><%= membership.ignored_at.strftime("%b %-d, %Y") %></span>
  </div>
<% end %>

<% if membership.reviewed_at.present? %>
  <div class="mb-2">
    <span class="d-block text-bold">Last reviewed</span>
    <span class="d-block">
      <relative-time datetime="<%= membership.reviewed_at %>"></relative-time>
      <% if membership.reviewer.present? %>
        by <%= profile_link(membership.reviewer) %>
      <% end %>
    </span>
  </div>
<% end %>

<div class="mb-2">
  <span class="d-block text-bold">Waitlisted on</span>
  <span class="d-block"><%= membership.created_at.strftime("%b %-d, %Y") %></span>
  <% if membership.sponsorable.user? %>
    <span class="d-block text-small text-gray">
      <%
        match_deadline_eligible = membership.joined_waitlist_before_match_deadline?
        match_icon_class = match_deadline_eligible ? "text-green" : ""
      %>
      <%= octicon("primitive-dot", size: "16", class: match_icon_class) %>
      <%= match_deadline_eligible ? "Before" : "After" %> match cutoff
    </span>
  <% end %>
</div>
<div class="mb-2">
  <% if membership.sponsorable.organization? %>
    <span class="d-block text-bold">Contact email</span>
    <% if membership.sponsorable.billing_email.present? %>
      <span class="d-block"><%= membership.sponsorable.billing_email %></span>
    <% else %>
      <span class="text-gray text-italic">Not set</span>
    <% end %>
  <% else %>
    <details id="contact-email-edit" class="Details-element details-reset js-dropdown-details">
      <summary class="d-block">
        <div class="Details-content--closed">
          <span class="d-block text-bold">Contact email</span>
          <div>
            <% if membership.contact_email.present? %>
              <span><%= membership.contact_email %></span>
            <% else %>
              <span class="text-gray text-italic">Not set</span>
            <% end %>
            &mdash;
            <span class="btn-link">Edit</span>
          </div>
        </div>
        <div class="Details-content--open sr-only">Cancel edit contact email</div>
      </summary>
      <%= form_tag stafftools_sponsors_member_path(membership.sponsorable), method: :put do %>
        <dl class="form-group">
          <dt><label for="contact_email">Contact email</label></dt>
          <dd>
            <% possible_emails = membership.possible_emails.pluck(:email, :id) %>
            <%= select_tag(
              :contact_email,
              options_for_select(possible_emails, membership.contact_email&.id),
              include_blank: "Remove email",
              id: "contact_email",
              name: "contact_email_id",
              class: "form-select form-select",
              required: true,
              prompt: "Select a contact email",
            ) %>
          </dd>
        </dl>
        <div class="no-wrap">
          <button class="btn" type="submit">Save</button>
          or <button type="button" class="btn-link" data-toggle-for="contact-email-edit">Cancel</button>
        </div>
      <% end %>
    </details>
  <% end %>
</div>
<div class="mb-2">
  <details id="billing-country-edit" class="Details-element details-reset js-dropdown-details">
    <summary class="d-block">
      <div class="Details-content--closed">
        <span class="d-block text-bold">Billing country or region</span>
        <div>
          <% if membership.full_billing_country.present? %>
            <span><%= membership.full_billing_country %></span>
          <% else %>
            <span class="text-gray text-italic">Not set</span>
          <% end %>
          &mdash;
          <span class="btn-link">Edit</span>
        </div>
      </div>
      <div class="Details-content--open sr-only">Cancel edit billing country or region</div>
    </summary>
    <%= form_tag stafftools_sponsors_member_path(membership.sponsorable), method: :put do %>
      <dl class="form-group">
        <dt><label for="country">Billing country or region</label></dt>
        <dd>
          <div class="flash flash-warn mb-2">
            <%= octicon "alert" %>
            Changing the billing country or region could decide if a user should be on Stripe Connect or use manual payouts.
            Please only change this if you know <strong>exactly</strong> what you're doing!
          </div>
          <%= select_tag(:billing_country, options_for_select(
              Braintree::Address::CountryNames.map do |country_name, alpha2, _, _|
                [country_name, alpha2]
              end,
              membership.billing_country
            ),
              id: "country",
              name: "billing_country",
              class: "form-select form-select",
              required: true,
              prompt: "Select a country or region",
          ) %>
        </dd>
      </dl>
      <div class="no-wrap">
        <button class="btn" type="submit">Save</button>
        or <button type="button" class="btn-link" data-toggle-for="billing-country-edit">Cancel</button>
      </div>
    <% end %>
  </details>
</div>

<% if sponsorable.organization? %>
  <div class="mb-2">
    <details id="fiscal-host-edit" class="Details-element details-reset js-dropdown-details">
      <summary class="d-block">
        <div class="Details-content--closed">
          <span class="d-block text-bold">Fiscal host</span>
          <div>
            <span><%= membership.fiscal_host.titleize %></span>
            &mdash;
            <span class="btn-link">Edit</span>
          </div>
        </div>
        <div class="Details-content--open sr-only">Cancel edit fiscal host</div>
      </summary>
      <%= form_tag stafftools_sponsors_member_path(membership.sponsorable), method: :put do %>
        <dl class="form-group">
          <dt><label for="fiscal_host">Fiscal host</label></dt>
          <dd>
            <div class="flash flash-warn mb-2">
              <%= octicon "alert" %>
              Changing the fiscal host might also change the billing country or region, which decides if a
              user should be on Stripe Connect or use manual payouts.
              Please only change this if you know <strong>exactly</strong> what you're doing!
            </div>
            <select class="form-select mt-1" id="fiscal_host" name="fiscal_host" required>
              <% ::SponsorsMembership.fiscal_hosts.keys.each do |host| %>
                <option value="<%= host %>" <%= "selected" if membership.fiscal_host == host %>><%= host.titleize %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <div class="no-wrap">
          <button class="btn" type="submit">Save</button>
          or <button type="button" class="btn-link" data-toggle-for="fiscal-host-edit">Cancel</button>
        </div>
      <% end %>
    </details>
  </div>
<% end %>

<%= render Stafftools::Sponsors::Members::SponsoringOthersComponent.new(sponsorable: sponsorable) %>

<div class="mt-3">
  <ul class="site-admin-detail-list">
    <li>
      <%= octicon("history") %>
      <a href="<%= stafftools_audit_log_path(query: "#{sponsorable.audit_log_query} action:sponsors.*") %>">
        Search audit logs
      </a>
    </li>
    <li>
      <%= octicon("rocket") %>
      <a href="<%= overview_stafftools_user_path(sponsorable) %>">
        View in Stafftools
      </a>
    </li>
    <li>
      <%= octicon("credit-card") %>
      <a href="<%= stafftools_sponsors_member_transactions_path(sponsorable) %>">
        View Transactions
      </a>
    </li>
    <% if sponsorable.sponsors_listing&.stripe_connect_account.present? %>
      <li>
        <%= octicon("flame") %>
        <a href="<%= stafftools_sponsors_member_transfers_path(sponsorable) %>">
          View Transfers
        </a>
      </li>
    <% end %>
  </ul>
</div>
