<%
  balance = response.result
  sponsorable_has_balance = balance && balance.available.any?
  if sponsorable_has_balance
    amount = balance.available.sum { |b| b[:amount] }
    currency = balance.available.first&.currency
  end
%>

<% if sponsorable_has_balance %>
  <span <%= test_selector("balance-amount") %>>
    <%= Billing::Money.new(amount, currency).format %>
  </span>
<% else %>
  <span class="text-red">Unable to retrieve balance.</span>
<% end %>
