<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsorable: sponsorable, membership: membership } do %>
  <div class="mb-4">
    <%= render partial: "stafftools/sponsors/members/staff_notes", locals: { membership: membership } %>
  </div>

  <% if listing.present? %>
    <%= render partial: "stafftools/sponsors/members/listing_preview", locals: {
      view: view,
      listing: listing,
      membership: membership,
      hooks: hooks,
    } %>
  <% end %>

  <div class="mb-5">
    <%= render partial: "stafftools/sponsors/members/health_checks" , locals: {
      automated_criteria: automated_criteria,
    } %>
  </div>

  <% if listing.present? %>
    <%= render partial: "stafftools/sponsors/members/listing_description", locals: {
      view: view,
      listing: listing,
    } %>
  <% end %>

  <% if manual_criteria.any? %>
    <div class="mb-5">
      <%= render Primer::SubheadComponent.new do |component| %>
        <% component.slot(:heading) do %>Needs manual review<% end %>
      <% end %>
      <div class="col-12">
        <% manual_criteria.each do |check| %>
          <%= render_partial_view "stafftools/sponsors/members/manual_criterion",
            Stafftools::Sponsors::Members::ManualCriterionView,
            { check: check },
            locals: { membership: membership } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if listing.present? %>
    <% if membership.accepted? && listing.approved? %>
      <%= render partial: "stafftools/sponsors/members/feature", locals: {
        sponsorable: listing.sponsorable,
        membership: membership,
      } %>
    <% end %>
  <% end %> 

  <div class="mb-5">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading) do %>Survey answers<% end %>
    <% end %>
    <%= render partial: "stafftools/sponsors/members/survey_answers", locals: {
      membership: membership,
    } %>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle :settings %>
<% end %>
