<%# erblint:counter TooltipCounter 1 %>
<div class="d-flex border-bottom mt-4 py-3 flex-justify-between">
  <div class=""><%= pluralize(target.data_packs, "data pack") %></div>
  <div>
    <%= f.text_field :delta_packs,
      :value           => data_pack_change.delta_packs,
      :class           => "lfs-data-pack-field mr-2 js-addon-purchase-field",
      :type            => "number",
      :min             => "0",
      :max             => Billing::DataPackUpdater::MAXIMUM_PACKS.to_s,
      :autocomplete    => "off",
      :required        => "required",
      "aria-label"     => "New data packs",
      "data-url"       => target_billing_upgrade_data_plan_path(target),
      "data-item-name" => "packs"
    %>
    <span class="new-addon-items">new <span class="unstyled-delta-data-packs-label"><%= "data pack".pluralize(data_pack_change.delta_packs) %></span></span>
    <span class="addon-cost js-payment-summary">
      @ <%= data_pack_change.human_data_pack_unit_price %>
    </span>
  </div>
</div>

<%= render partial: "asset_status/usage", locals: { data_pack_change: data_pack_change, target: target } %>

<% if target.has_credit? %>
  <div class="d-flex border-bottom py-3 flex-justify-between js-payment-summary">
    <div>Credit</div>
    <div><%= casual_currency(target.balance) %></div>
  </div>
<% end %>

<div class="d-flex border-bottom py-3 flex-justify-between js-payment-summary">
  <div>
    <b>Charge today</b>
    <% if data_pack_change.service_days_remaining > 0 %>
      <i>(prorated for <%= pluralize data_pack_change.service_days_remaining, "day" %>)</i>
    <% end %>
  </div>
  <div>
    <% if data_pack_change.discount_applied? %>
      <b class="unstyled-original-price discounted-original-price"><%= data_pack_change.undiscounted_price.format(:sign_before_symbol => true) %></b>
    <% end %>
    <b class="unstyled-total-price"><%= data_pack_change.total_price.format(:sign_before_symbol => true) %></b>
    <% if data_pack_change.discount_applied? %>(coupon applied)<% end %>
  </div>
</div>

<%= render :partial => "billing_settings/contact_us" %>

<div class="payment-summary my-4 js-payment-summary">
  <p class="note">
    You will be charged
    <b class="unstyled-total-price"><%= data_pack_change.total_price.format %></b>
    today for
    <b class="unstyled-delta-data-packs"><%= data_pack_change.delta_packs %></b>
    additional
    <span class="unstyled-delta-data-packs-label"><%= "pack".pluralize(data_pack_change.delta_packs) %></span>
    bringing you up to a total of
    <b class="unstyled-total-data-packs"><%= data_pack_change.total_packs %></b>
    <b class="unstyled-total-data-packs-label"><%= "pack".pluralize(data_pack_change.total_packs) %></b>.

    Each data pack gives you an additional <%= data_pack_change.data_pack_storage_size.round %>
    GB storage,
    <%= data_pack_change.data_pack_bandwidth_size.round %>
    GB/month bandwidth.
  </p>
</div>

<div class="form-submit mt-4">
  <button type="submit"
    <% enable_btn = target.business.present? || can_purchase_data_packs?(target) %>
    class="btn btn-primary js-purchase-button <%= "disabled tooltipped tooltipped-s" unless enable_btn %>"
    <%= "disabled" if !enable_btn %>
    aria-label="<%= purchase_button_aria_label(target) %>"
    data-disable-with="Purchasing…">
      Purchase
      <span class="unstyled-delta-data-packs"><%= data_pack_change.delta_packs %></span>
      <span class="unstyled-delta-data-packs-label"><%= "data pack".pluralize(data_pack_change.delta_packs) %></span>
    </button>
  <%= link_to "Cancel", target_billing_path(target), :class => "btn mr-3" %>
  <%= render :partial => "billing_settings/payment_method_summary", :locals => { :target => target } %>
</div>
