<%# erblint:counter TooltipCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  responsive: false,
  :title => "Downgrade data plan",
  :selected_link => :"#{params[:target] || "user"}_billing_settings" %>

<% content = capture do %>
  <% if target.invoiced? %>
    <%= render(Primer::FlashComponent.new(variant: :warning, mb: 4)) do %>
      Please contact your sales representatives or <a href="mailto:sales@github.com">sales@github.com</a> to remove data packs from your plan.
    <% end %>
  <% elsif target.in_a_sales_managed_business? %>
    <%= render(Primer::FlashComponent.new(variant: :warning, mb: 4)) do %>
      Please contact your GitHub Enterprise administrator to remove data packs from your plan.
    <% end %>
  <% else %>

    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading) do %>
        <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
         / Downgrade data plan
      <% end %>
    <% end %>

    <%= form_for @data_pack_change.asset_status,
        :method => :put,
        :url => target_billing_data_plan_path(target) do |f| %>

      <div class="d-flex border-bottom pb-3 flex-justify-between">
        <div><%= pluralize(target.data_packs, "data pack") %></div>
        <div>
          <%= select_tag "asset_status[total_packs]",
            options_for_select(@data_pack_change.downgrade_options, @data_pack_change.total_packs),
            :class            => "lfs-data-pack-field mr-2 js-addon-downgrade-field",
            :required         => "required",
            :autofocus        => "autofocus",
            "data-url"        => target_billing_downgrade_data_plan_path(target),
            "data-item-name"  => "packs",
            "data-item-count" => target.data_packs
          %>
          <span class="new-addon-items"><span class="unstyled-total-data-packs-label"><%= "data pack".pluralize(@data_pack_change.total_packs) %></span></span>
          <span class="addon-cost">
            @ <%= @data_pack_change.human_data_pack_unit_price %>
          </span>
          <% if @data_pack_change.min_packs_to_cover_usage > 0 %>
            <span class="tooltipped tooltipped-s tooltipped-multiline" aria-label="You’ll need to reduce your usage before being able to downgrade below <%= pluralize @data_pack_change.min_packs_to_cover_usage, "data pack" %>">
              <%= octicon('info') %>
            </span>
          <% end %>
        </div>
      </div>

      <%= render :partial => "asset_status/usage", locals: { data_pack_change: @data_pack_change, target: target } %>

      <p class="note mt-4">
        Changes will be reflected on your next bill.
        You are currently paying <b><%= target.data_pack_price.format(:no_cents_if_whole => true) %></b> per
        <%= target.plan_duration %> for
        <b><%= pluralize target.data_packs, "data pack" %></b>.

        Each data pack gives you an additional <%= @data_pack_change.data_pack_storage_size.round %>
        GB storage,
        <%= @data_pack_change.data_pack_bandwidth_size.round %>
        GB/month bandwidth.

        <%= link_to "Looking to purchase additional data packs instead?", target_billing_upgrade_data_plan_path(target) %>
      </p>

      <p class="form-submit mt-4">
        <button type="submit"
          class="btn btn-danger js-downgrade-button"
          aria-label="Downgrade data plan"
          data-disable-with="Downgrading…">Downgrade data plan</button>
        <%= link_to "Cancel", target_billing_path(target), :class => "btn" %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
