<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  :title => "Upgrade data plan",
  responsive: false,
  :selected_link => :"#{params[:target] || "user"}_billing_settings" %>

<% content = capture do %>
  <% if target.invoiced? %>
     <%= render(Primer::FlashComponent.new(variant: :warning, mb: 4)) do %>
      Please contact your sales representatives or <a href="mailto:sales@github.com">sales@github.com</a> to add more data packs to your plan.
    <% end %>
  <% elsif target.in_a_sales_managed_business? %>
    <%= render(Primer::FlashComponent.new(variant: :warning, mb: 4)) do %>
      Please contact your GitHub Enterprise administrator to add more data packs to your plan.
    <% end %>
  <% else %>

    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>
        <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
         / Upgrade data plan
      <% end %>
    <% end %>

    <p>A data plan is only necessary if you are using
    <%= link_to "Git Large File Storage (Git LFS)", "https://git-lfs.github.com?utm_source=github_site&utm_medium=billing_upgrade_link&utm_campaign=gitlfs" %>.</p>

    <%= form_for @data_pack_change.asset_status,
        :method => :put,
        :url => target_billing_data_plan_path(target),
        :html => {"aria-label": "Upgrade data plan"} do |f| %>

        <%= render "asset_status/upgrade_form_fields",
          f: f,
          data_pack_change: @data_pack_change,
          target: target
        %>
    <% end %>
  <% end %>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
