<span class="d-block" <%= test_selector("probation-status-title") %>>
  <%= render GitHub::OcticonComponent.new(
    icon: probation_status_icon,
    color: probation_status_color,
    mr: 1,
  ) %>
  <%= probation_status_text %>
</span>
<% if probation_date_text.present? %>
  <span class="d-block text-small text-gray" <%= test_selector("probation-status-subtitle") %>>
    <%= probation_date_text %>
  </span>
<% end %>
