<div class="blankslate blankslate-narrow">
  <%= octicon("octoface", :height => 32, :class => "blankslate-icon") %>
  <h3>This repository is empty.</h3>

  <p>
    Care to check out the <%= link_to 'GitHub Channel on YouTube', 'https://youtube.com/GitHub' %> while you wait?
  </p>
</div>
