<div class="blankslate blankslate-narrow">
  <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
  <h3>This repository has been disabled.</h3>

  <% if GitHub.enterprise? %>
    <p>
      Access to this repository has been disabled by your site administrator due
      to excessive use of resources.
      <%= contact_support_snippet %> to restore access to this repository.
    </p>
  <% else %>
    <p>
      Access to this repository has been disabled by GitHub staff due to excessive use
      of resources, in violation of our <a href="/site/terms">Terms of Service</a>.
      Please <a href="<%= contact_path %>">contact support</a> to restore access
      to this repository. <a href="<%= GitHub.help_url %>/articles/what-is-my-disk-quota">Read here</a>
      to learn more about decreasing the size of your repository.
    </p>
  <% end %>
</div>
