<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-narrow">
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
    <h3>This repository has been archived by the owner. It is now read-only.</h3>
  </div>
<% end %>
