<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<div class="blankslate blankslate-narrow">
  <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
  <h3>There is a problem with this repository on disk.</h3>
  <p>
    Please <a href="<%= contact_path %>">contact support</a> for additional information or help.
  </p>
</div>
