<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<% unless current_repository.clone_errored? %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="5">
  <% end %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-clean-background">
    <% if current_repository.clone_errored? %>
      <h1 class="text-red" <%= test_selector("clone-error") %>>We're sorry, something went wrong.</h1>
      <p class="lead text-red">
        <% if template = current_repository.template_repository %>
          We were unable to clone <%= link_to template.name_with_owner, repository_path(template) %>'s contents
        <% else %>
          We were unable to clone the selected template
        <% end %>
        into <strong><%= current_repository.name_with_owner %></strong>.
        <% if current_repository.clone_error_reason_code == "file_too_large" %>
          The template you used includes files that are larger than <%= RepositoryClone::MAX_TEMPLATE_FILE_SIZE_IN_MEGABYTES %> megabytes.
          <% if current_repository.clone_owner && current_repository.clone_owner != current_user %>
          Please ask <%= profile_link(current_repository.clone_owner) %> to
          <% else %>
          Please
          <% end %>
          remove those files from the template and try again.
        <% else %>
          Please delete this repository and try again.
        <% end %>
      </p>
    <% else %>
      <h1 <%= test_selector("cloning") %>>Generating your repository...</h1>
      <p class="lead">It should only take a few seconds.</p>
      <p><a href="" class="btn btn-sm"><%= octicon(:sync) %> Refresh</a></p>
      <%= image_tag "spinners/octocat-spinner-128.gif", width: 128, class: "d-block mt-6 mb-4 mx-auto", alt: "" %>
    <% end %>
  </div>
<% end %>
