<div class="blankslate blankslate-narrow text-left">
  <h3 class="mb-3">Repository unavailable due to DMCA takedown.</h3>
  <p>
    This repository is currently disabled due to a DMCA takedown notice. We have disabled public access to the repository. The notice has been <%= link_to "publicly posted", current_repository.access.dmca_url %>.
  </p>
  <p>
    If you are the repository owner, and you believe that your repository was disabled as a result of mistake or misidentification, you have the right to file a counter notice and have the repository reinstated. Our help articles provide more details on our <%= link_to "DMCA takedown policy", "#{GitHub.help_url}/articles/dmca-takedown-policy" %> and <%= link_to "how to file a counter notice", "#{GitHub.help_url}/articles/guide-to-submitting-a-dmca-counter-notice" %>. If you have any questions about the process or the risks in filing a counter notice, we suggest that you consult with a lawyer.
  </p>
</div>
