<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <% if current_repository.adminable_by?(current_user) &&
        current_repository.in_organization? &&
        current_repository.members_count == 0 %>
    <div class="Box Box--spacious mb-3">
      <div class="Box-body">
        <h3>Give access to the people you work with</h3>
        <p>You should give access to the collaborators and teams you need to work with.</p>
        <a href="<%= repository_access_management_path(current_repository.owner, current_repository) %>" class="btn btn-sm btn-primary" <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :add_teams_and_collaborators)) %>>
          Add teams and collaborators
        </a>
      </div>
    </div>
  <% end %>

  <% if current_user_can_push? %>
    <% if current_repository.parent_id? %>
      <% content_for :head do %>
        <meta http-equiv="refresh" content="5">
      <% end %>

      <div class="blankslate blankslate-clean-background">
        <h1>Forking <%= current_repository.parent.name_with_owner %></h1>
        <p class="lead">It should only take a few seconds.</p>

        <p><a href="" class="btn btn-sm"><%= octicon("sync") %> Refresh</a></p>

        <%= image_tag "spinners/fork.gif", class: "d-block mt-6 mb-4 mx-auto", alt: "", style: "width: 250px; height: 145px" %>
      </div>
    <% elsif current_repository.mirror %>
      <% content_for :head do %>
        <meta http-equiv="refresh" content="5">
      <% end %>

      <div class="blankslate blankslate-clean-background">
        <h1>Mirroring your repository</h1>
        <p class="lead">
          We’re currently mirroring this repository. It should take anywhere
          from a few minutes to a couple of hours depending on the size of the
          repository.
        </p>
        <%= image_tag "spinners/octocat-spinner-128.gif", :size => "64x64", :alt => "" %>
      </div>

    <% else %>
      <%
        view = Repositories::ProtocolSelectorView.new(
          :context => :empty_repo,
          :repository => current_repository,
          :user => current_user
        )

        # this must be wrapped in quotation marks for *nix systems and
        # peculiarities between various Windows shells
        echo_phrase = "# #{current_repository.name}"
        echo_phrase = ['"', echo_phrase, '"'].join
        echo_phrase += " >> README.md"
      %>

        <git-clone-help class="Box Box--spacious d-block">

          <div class="Box-header Box-header--blue">
            <h3><strong>Quick setup</strong> — if you’ve done this kind of thing before</h3>

            <div class="TableObject my-2">
              <div class="TableObject-item">
                <a href="<%= app_clone_url %>" class="btn btn-sm primary js-remove-unless-platform" data-platforms="windows,mac" data-ga-click="Empty repo, click, Clicked Set up in Desktop" <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :set_up_in_desktop)) %>>
                  <%= octicon("desktop-download") %> Set up in Desktop
                </a>
              </div>

              <div class="TableObject-item">
                <strong class="mx-3">or</strong>
              </div>

              <div class="TableObject-item">
                <div class="BtnGroup d-flex mr-2">
                  <% view.each_protocol_view do |protocol_view| %>
                      <%= form_tag protocol_view.sticky_url, :class => "BtnGroup-parent", "data-remote" => true do %>
                        <button type="submit" class="BtnGroup-item btn btn-sm js-git-protocol-clone-url<% if protocol_view.is_default %> selected<% end %>"
                                data-action="click:git-clone-help#updateURL"
                                data-targets="git-clone-help.cloneURLButtons"
                                data-url="<%= protocol_view.url %>"
                                data-ga-click="Empty repo, click, Clicked <%= protocol_view.protocol  %> protocol"
                                <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, "copy_url_#{protocol_view.protocol}".downcase.to_sym)) %>>
                          <%= protocol_view.protocol %>
                        </button>
                      <% end %>
                    <% end %>
                </div>
              </div>

              <div class="TableObject-item TableObject-item--primary">
                <div>
                  <span class="input-group width-full">
                    <input id="empty-setup-clone-url" type="text" readonly spellcheck="false" class="form-control input-sm input-monospace" data-target="git-clone-help.helpField" value="<%= view.default_url %>" aria-label="Clone URL">
                    <span class="input-group-button">
                      <clipboard-copy
                          for="empty-setup-clone-url"
                          aria-label="Copy to clipboard"
                          class="btn btn-sm zeroclipboard-button"
                          data-ga-click="Empty repo, click, Clicked copy URL"
                          <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :copy_url)) %>>
                        <%= octicon("clippy") %>
                      </clipboard-copy>
                    </span>
                  </span>
                </div>
              </div>
            </div>

            <p class="mb-0">
              Get started by
              <%= link_to "creating a new file",
                  blob_new_path('', tree_name), 'data-ga-click' => "Empty repo, click, Clicked create new file link",
                  data: repo_empty_state_click_attributes(current_repository, :creating_new_file) %>
              or
              <%= link_to "uploading an existing file",
                  repo_uploads_path(current_repository.owner, current_repository), 'data-ga-click' => "Empty repo, click, Clicked upload file link",
                  data: repo_empty_state_click_attributes(current_repository, :uploading_existing_file) %>.

              We recommend every repository include a
              <%= link_to "README",
                blob_new_path('', tree_name) + '?readme=1', 'data-ga-click' => "Empty repo, click, Clicked README link",
                data: repo_empty_state_click_attributes(current_repository, :readme) %>,
              <%= link_to "LICENSE",
                blob_new_path('', tree_name) + '?filename=LICENSE.md', 'data-ga-click' => "Empty repo, click, Clicked LICENSE link",
                data: repo_empty_state_click_attributes(current_repository, :license) %>,
              and <%= link_to ".gitignore",
                blob_new_path('', tree_name) + '?filename=.gitignore', 'data-ga-click' => "Empty repo, click, Clicked .gitignore link",
                data: repo_empty_state_click_attributes(current_repository, :gitignore) %>.
            </p>
          </div>

          <div><!-- Ensure box rows behave properly -->
            <div class="Box-row">
              <h3>…or create a new repository on the command line</h3>

              <div class="copyable-terminal">
                <div class="copyable-terminal-button">
                  <clipboard-copy
                      for="empty-setup-new-repo-echo"
                      aria-label="Copy to clipboard"
                      class="btn btn-sm zeroclipboard-button"
                      data-ga-click="Empty repo, click, Clicked copy new repo commands"
                      <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :copy_commands_for_creating_repo)) %>>
                    <%= octicon("clippy") %>
                  </clipboard-copy>
                </div>
                <pre id="empty-setup-new-repo-echo" class="copyable-terminal-content f5"><span class="user-select-contain">echo <%= echo_phrase %></span>
<span class="user-select-contain">git init</span>
<span class="user-select-contain">git add README.md</span>
<span class="user-select-contain">git commit -m "first commit"</span>
<% if configurable_repo_default_branch_enabled? %>
<span class="user-select-contain">git branch -M <%= current_repository.default_branch %></span>
<% end %>
<span class="user-select-contain">git remote add origin <span data-target="git-clone-help.helpTexts"><%= view.default_url %></span></span>
<span class="user-select-contain mb-0">git push -u origin <%= current_repository.default_branch %></span>
                </pre>
              </div>
            </div>

            <div class="Box-row">
              <h3>…or push an existing repository from the command line</h3>

              <div class="copyable-terminal">
                <div class="copyable-terminal-button">
                  <clipboard-copy
                      for="empty-setup-push-repo-echo"
                      aria-label="Copy to clipboard"
                      class="btn btn-sm zeroclipboard-button"
                      data-ga-click="Empty repo, click, Clicked copy existing repo commands"
                      <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :copy_commands_for_uploading_repo)) %>>
                    <%= octicon("clippy") %>
                  </clipboard-copy>
                </div>
                <pre id="empty-setup-push-repo-echo" class="copyable-terminal-content f5"><span class="user-select-contain">git remote add origin <span data-target="git-clone-help.helpTexts"><%= view.default_url %></span></span>
<% if configurable_repo_default_branch_enabled? %>
<span class="user-select-contain">git branch -M <%= current_repository.default_branch %></span>
<% end %>
<span class="user-select-contain">git push -u origin <%= current_repository.default_branch %></span></pre>
              </div>
            </div>

            <% if GitHub.porter_available? %>
            <div class="Box-row">
              <h3>…or import code from another repository</h3>
              <p>You can initialize this repository with code from a Subversion, Mercurial, or TFS project.</p>
              <a href="<%= repository_import_path(:repository => current_repository) %>" class="btn btn-sm" data-ga-click="Empty repo, click, Clicked Import code" <%= safe_data_attributes(repo_empty_state_click_attributes(current_repository, :import_code)) %>>
                Import code
              </a>
            </div>
            <% end %>
          </div>
        </git-clone-help>

        <div class="protip">
          <%= octicon("light-bulb", :class => "text-gray") %>
          <strong>ProTip!</strong> Use the URL for this page when adding GitHub as a remote.
        </div>
    <% end %>


  <% else %>

    <%= render :partial => "repositories/states/nothing_partial" %>

  <% end %>
<% end %>
