<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-clean-background">
    <h1>Forking <%= current_repository.parent.name_with_owner %></h1>
    <p class="lead">It should only take a few seconds.</p>

    <p><a href="" class="btn btn-sm"><%= octicon("sync") %> Refresh</a></p>

    <%= image_tag "spinners/fork.gif", class: "d-block mt-6 mb-4 mx-auto", alt: "", style: "width: 250px; height: 145px"  %>
  </div>
<% end %>
