<%# erblint:disable ProperTagNesting %>
<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div id="next_step">
    <% if current_user_can_push? %>

      <div  class="blankslate blankslate-narrow">
        <%= image_tag "spinners/octocat-spinner-64-grey.gif", :size => "40x40", :alt => "" %>
        <h3>Renaming your repository.</h3>

        <p>Your repository is being renamed. It should only take a few seconds.</p>
        <p><a href="" class="btn btn-sm">Refresh at will</a></p>
        </p>
      </div>

    <% else %>

      <div class="blankslate blankslate-narrow">
        <%= image_tag "spinners/octocat-spinner-64-grey.gif", :size => "40x40", :alt => "" %>
        <h3>This repository is locked.</h3>

        <p>This repository has been locked until it’s finished being renamed. This page will refresh automatically.</p>
      </div>

    <% end %>
  </div>
<% end %>
