<%
  exported_to_url = repo.get_repository_exported_to_url
%>
<div class="blankslate blankslate-narrow">
  <%= octicon("alert", height: 32, class: "blankslate-icon") %>
  <% if exported_to_url.present? %>
    <h3>This repository has been migrated to another deployment of GitHub.</h3>
    <p>You can now access it at <strong><%= link_to exported_to_url, exported_to_url %></strong>.</p>
  <% else %>
    <h3>Access to this repository has been disabled while it is being migrated.</h3>
  <% end %>
  <p>Please contact the repository’s owner, <strong><%= profile_link(repo.owner) %></strong>, for more information.</p>
</div>
