<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<% content_for :head do %>
  <meta http-equiv="refresh" content="5">
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-narrow">
    <%= image_tag "spinners/octocat-spinner-64-grey.gif", :size => "40x40", :alt => "" %>
    <h3>Mirroring your repository.</h3>

    <p>
      We’re currently mirroring this repository. It should take anywhere
      from a few minutes to a couple of hours depending on the size of repository
      you are mirroring.
    </p>
  </div>
<% end %>
