<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render :partial => "repositories/states/nothing_partial" %>
<% end %>
