<% page_info \
    title: "#{current_repository.name_with_owner}",
    container_xl: true
  %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="blankslate blankslate-narrow">
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
    <h3>This repository is currently offline.</h3>
    <% if GitHub.enterprise? %>
      <p>
        <%= contact_support_snippet %> if the problem persists.
      </p>
    <% else %>
      <p>
        Please <a href="<%= contact_path %>">contact support</a> if the problem persists
        and <a href="<%= GitHub.site_status_url %>">check our status site</a> for updates.
      </p>
    <% end %>
  </div>
<% end %>
