<div class="blankslate blankslate-narrow">
    <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
    <h3>This repository has been disabled</h3>
    <% if current_repository.adminable_by? current_user %>
      <p align="left">
        Access to this repository has been disabled by GitHub Staff as a result
        of a sensitive data removal request. You may contact <%= link_to "GitHub Support", contact_url %>
        for more information or to appeal this decision.
      </p>
      <p align="left">
        Read more about GitHub's Sensitive Data Removal Policy <%= link_to "here", "#{GitHub.help_url}/en/github/site-policy/github-sensitive-data-removal-policy" %>.
      </p>
    <% else %>
      <p align="left">
        Access to this repository has been disabled by GitHub Staff due to a violation of 
        <%= link_to "GitHub's Terms of Service", "#{GitHub.help_url}/en/github/site-policy/github-terms-of-service" %>.
        If you are the owner of the repository, you may reach out to GitHub Support for more
        information.
      </p>
    <% end %>
</div>
