<div class="blankslate blankslate-narrow">
  <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
  <h3>This repository has been disabled.</h3>

  <p align="left">
    <% if GitHub.enterprise? %>
        Access to this repository has been disabled by your site administrator.
        <%= contact_support_snippet %> to restore access to this repository.
    <% elsif current_repository.access.tos_violation? %>
      <% if current_repository.adminable_by?(current_user)%>
        Access to this repository has been disabled by GitHub Staff due to a violation
        of GitHub's terms of service. <%= contact_support_snippet %> for more information
        or to request a review of this decision.
      <% else %>
        Access to this repository has been disabled by GitHub Staff due to a
        violation of GitHub's terms of service. If you are the owner of the
        repository, you may reach out to GitHub Support for more information.
      <% end %>
    <% else %>
      Access to this repository has been disabled by GitHub staff.
      <a href="<%= contact_path %>">Contact support</a> to restore access to this repository.
    <% end %>
  </p>
</div>
