<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ project_title }} by {{ owner_name }}</title>
    <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/styles.css">
    <link rel="stylesheet" href="{{asset_path_prefix}}stylesheets/github-dark.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{asset_path_prefix}}javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1>{{ project_title }}</h1>
        <p>{{ project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

        <a href="{{ github_url }}" class="button fork"><strong>View On GitHub</strong></a>
        {{#show_downloads?}}
        <div class="downloads">
          <span>Downloads:</span>
          <ul>
            <li><a href="{{ zip_url }}" class="button">ZIP</a></li>
            <li><a href="{{ tar_url }}" class="button">TAR</a></li>
          </ul>
        </div>
        {{/show_downloads?}}
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section>
        {{{ main_content }}}
      </section>
      <footer>
        {{#project_page?}}
        <p>Project maintained by <a href="{{ owner_url }}">{{ owner_name }}</a></p>
        {{/project_page?}}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {{! Don't remove. Keep this before the /body tag }}
    {{{google_analytics}}}
  </body>
</html>
