<script type="text/html" id="js-gist-file-template">
  <div class="js-gist-file">
    <%= render_partial_view "editors/file", Gists::EditorView,
      :gist => view.gist,
      :allow_contents_unchanged => view.allow_contents_unchanged,
      :default_filename => view.default_filename,
      :contents => nil,
      :new_filename => params[:new_filename],
      :confirm_unload => "Your changes will be lost."
    %>
  </div>
</script>
