<details class="details-reset details-overlay select-menu">
  <summary class="btn btn-sm select-menu-button">
    <i>Type:</i>
    <span data-menu-button><%= view.visibility_name(params[:visibility]) %></span>
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;" aria-label="Filter options">
    <div class="select-menu-header">
      <span class="select-menu-title">Filter options</span>
    </div>
    <div class="select-menu-list">
      <%= selected_link_to view.visibility_prefix_path, :class => "select-menu-item", role: "menuitem" do %>
        <%= octicon("check", :class => "select-menu-item-icon") %>
        <span class="select-menu-item-text" data-menu-button-text><%= view.visibility_name(nil) %></span>
      <% end %>

      <%= selected_link_to view.public_visibility_path, :class => "select-menu-item", role: "menuitem" do %>
        <%= octicon("check", :class => "select-menu-item-icon") %>
        <span class="select-menu-item-text" data-menu-button-text><%= view.visibility_name("public") %></span>
      <% end %>

      <%= selected_link_to view.secret_visibility_path, :class => "select-menu-item", role: "menuitem" do %>
        <%= octicon("check", :class => "select-menu-item-icon") %>
        <span class="select-menu-item-text" data-menu-button-text><%= view.visibility_name("secret") %></span>
      <% end %>
    </div>
  </details-menu>
</details>
