<div class="<% if responsive? %>pl-0 pl-md-6 ml-md-3 ml-0 <% end %>timeline-comment-wrapper timeline-new-comment js-comment-container width-fit">
  <% if responsive? %><div class="d-md-block d-none"><% end %>
    <%= timeline_comment_avatar_for(user: current_user) %>
  <% if responsive? %></div><% end %>

  <%= form_tag user_gist_comments_path(view.user_param, view.gist), :class => 'js-new-comment-form js-needs-timeline-marker-header' do %>
    <div class="<% if responsive? %>border-md border-0 timeline-comment<% else %>timeline-comment<% end %>">
      <%= previewable_gist_comment_form view.gist, "", :required => false, :textarea_id => "new_comment_field" %>
      <%= spamurai_form_signals %>
      <div class="<% if responsive? %>pr-0 pr-md-2 <% end %>form-actions">
        <%= render "gists/gists/form_actions" %>
      </div>
    </div>
  <% end %>
</div>
