<%= rescue_with_timeout_partial("gists/gists/snippet_timeout", :timeout => 1, :gist => view.gist) do %>
  <% cache gist_snippet_cache_key(view.gist, view.blob) do %>
    <div class="gist-snippet">
      <div class="gist-snippet-meta d-inline-block width-full">
        <ul class="float-right h6">
          <li class="d-inline-block mr-3">
            <a class="muted-link" href="<%= user_gist_path(view.user_param, view.gist) %>">
              <%= octicon("gist") %>
              <%= view.file_count_info %>
            </a>
          </li>
          <li class="d-inline-block mr-3">
            <a class="muted-link" href="<%= forks_user_gist_path(view.user_param, view.gist) %>">
              <%= octicon("repo-forked") %>
              <%= view.fork_count_info %>
            </a>
          </li>
          <li class="d-inline-block mr-3">
            <a class="muted-link" href="<%= user_gist_path(view.user_param, view.gist, :anchor => "comments") %>">
              <%= octicon("comment") %>
              <%= view.comment_count_info %>
            </a>
          </li>
          <li class="d-inline-block">
            <a class="muted-link" href="<%= stargazers_gist_path(view.user_param, view.gist) %>">
              <%= octicon("star") %>
              <%= view.star_count_info %>
            </a>
          </li>
        </ul>
        <div class="float-left">
          <div class="d-inline-block v-align-top mt-1">
            <% if view.anonymous? %>
              <%= anonymous_gist_avatar %>
            <% else %>
              <%= linked_avatar_for(view.owner, 30) %>
            <% end %>
          </div>
          <div class="d-inline-block">
            <span>
              <% if view.anonymous? %>
                <strong>anonymous</strong>
              <% else %>
                <%= profile_link(view.owner) %>
              <% end %>
                / <a href="<%= user_gist_path(view.user_param, view.gist) %>"><strong class="css-truncate-target"><%= view.gist.title %></strong></a>
              <% if view.gist.secret? %>
                <span class="Label Label--outline">Secret</span>
              <% end %>
            </span>
            <div class="text-gray" style="font-size:11px;">
              <%= view.date_info %>
              <% if view.gist.parent.present? %>
                <span class="text">&mdash; forked from <%= link_to "#{view.gist.parent.user_param}/#{view.gist.parent.title}", user_gist_path(view.gist.parent.user_param, view.gist.parent) %></span>
              <% end %>
            </div>
            <% if view.formatted_description.present? %>
              <span class="f6 text-gray">
                <%= view.formatted_description %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% if view.can_show_snippet? %>
        <%= render_partial_view "gists/gists/blob", Gists::BlobView,
          :blob => view.blob, :gist => view.gist, :show_header => false %>
      <% else %>
        <div class="file-box">
          <div id="file-readme-md" class="file">
            <div id="readme" class="readme blob">
              <article class="markdown-body entry-content" itemprop="mainContentOfPage">
              We couldn’t find that file to show.
              </article>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
