<%
  sort = params[:sort] || view.search_sort_fields.first
  direction = params[:direction] || view.search_sort_directions.first
  sort_label = view.search_sort_labels[[sort, direction]]
%>

<details class="details-reset details-overlay select-menu">
  <summary class="btn btn-sm select-menu-button">
    <i>Sort:</i>
    <span data-menu-button><%= sort_label %></span>
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;" aria-label="Sort options">
    <div class="select-menu-header">
      <span class="select-menu-title">Sort options</span>
    </div>
    <div class="select-menu-list">
      <% view.search_sort_fields.product(search_sort_directions).each do |field, dir| %>
        <% if view.search_sort_labels[[field, dir]] %>
          <a class="select-menu-item <% if [sort, direction] == [field, dir] %>selected<% end %>"
            aria-checked="<%= [sort, direction] == [field, dir] %>"
            role="menuitemradio"
            href="<%= url_with(:sort => field, :direction => dir, :page => nil) %>">
            <%= octicon("check", :class => "select-menu-item-icon") %>
            <span class="select-menu-item-text" data-menu-button-text><%= view.search_sort_labels[[field, dir]] %></span>
          </a>
        <% end %>
      <% end %>
    </div>
  </details-menu>
</details>
