<%graphql
  fragment GistComment on Node {
    ... on Minimizable {
      isMinimized
    }

    ...Views::Comments::Comment::Comment
    ...Views::Comments::TimelineAvatar::Comment
  }
%>
<%-
  gist = timeline_marker
  comments = gist.timeline_for(current_user, since: discussion_last_modified_at)
-%>

<% comments.each do |comment| %>
  <%- comment_node = Views::Gists::Gists::TimelineMarker::GistComment.new(preloaded_platform_object(comment)) -%>
  <div class="TimelineItem js-comment-container">
    <% unless comment_node.is_minimized? %>
      <%= render "comments/timeline_avatar", comment: comment_node %>
    <% end %>

    <%= render "comments/comment", {
        comment: comment_node,
        form_path: delete_user_gist_comment_path(comment.gist.user_param, comment.gist, comment),
        dom_id: comment.anchor,
        action_text: "commented",
    } %>
  </div>
<% end %>

<% updated_at = gist.timeline_updated_at_for(current_user) %>
<!-- Rendered timeline since <%= updated_at.to_s(:db) %> -->
<div id="partial-timeline-marker"
      class="js-timeline-marker js-updatable-content"
      data-last-modified="<%= updated_at.httpdate %>"
      <% if flash[:ga_gist_comment] %>
        data-ga-load="Gist, Comment, <%= gist.visibility %> <%= gist.ownership %>"
      <% end %>
      >
</div>
