<% page_info \
    title: view.page_title,
    class: view.page_class,
    dashboard_pinnable_item_id: view.gist.global_relay_id,
    responsive: responsive_gists_enabled?
%>

<% content_for :analytics do %>
  <%= octolytics_gist_tag(view.gist) %>

  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::HAS_ACCOUNT %>"
    content="<%= view.gist.visibility %>"
  >
  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::MARKETPLACE_LISTINGS %>"
    content="<%= view.gist.ownership %>"
  >
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle 'gist-editor' %>
<% end %>

<%= render layout: "gists/page_head" do %>
  <%= render "gists/gists/edit_page_head", view: view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <%= render "gists/gists/file_template", :view => view %>

  <% if view.show_site_admin_edit_warning? %>
    <div class="gist-site-admin-edit-warning flash flash-error">
      <%= octicon("alert") %>
      You can edit this Gist because you are a site admin.
    </div>
  <% end %>

  <%= form_for view.form_objects, html: {
    class: "js-blob-form", method: :put } do |f| %>

  <div>
    <div id="gists" class="js-gist-files">
      <%= render_partial_view "gists/gists/form_header", view %>

      <% view.files_for_view.each do |name, value, oid, blob| %>
        <div class="js-gist-file">
          <%- unless oid.blank? %>
            <div class="js-gist-deleted">
              <input type="hidden" name="gist[contents][][name]"
                value="<%= name %>" disabled>
              <input type="hidden" name="gist[contents][][oid]"
                value="<%= oid %>" disabled>
              <input type="hidden" name="gist[contents][][value]"
                value="" disabled>
              <input type="hidden" name="gist[contents][][delete]"
                value="true" disabled>
            </div>
          <%- end %>
          <%= render_partial_view "editors/file", Gists::EditorView,
            :gist => view.gist,
            :blob => blob,
            :filename => name,
            :allow_contents_unchanged => view.allow_contents_unchanged,
            :default_filename => view.default_filename,
            :contents => value,
            :oid => oid,
            :confirm_unload => 'Your changes will be lost.'
          %>
        </div>
      <% end %>
    </div>

    <button type="button" class="btn float-left js-add-gist-file">Add file</button>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        Update <%= view.visibility_text %> gist
      </button>
      <%= link_to "Cancel", user_gist_path(view.user_param, view.gist), :class => "btn btn-danger" %>
    </div>
  </div>
  <% end %>
<% end %>
