<%
  page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.gist.global_relay_id,
    responsive: responsive_gists_enabled?
%>

<% content_for :analytics do %>
  <%= octolytics_gist_tag(view.gist) %>

  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::HAS_ACCOUNT %>"
    content="<%= view.gist.visibility %>"
  >
  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::MARKETPLACE_LISTINGS %>"
    content="<%= view.gist.ownership %>"
  >
<% end %>

<%= render "gists/banner" %>

<%= render layout: "gists/page_head" do %>
  <%= render "gists/gists/page_head", view: view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <div>
    <h2>Forks</h2>

    <div class="tabnav">
      <nav class="tabnav-tabs" aria-label="Forks">
        <%= selected_link_to "", :class => "tabnav-tab", :highlight => :forks_main do %>
          All
          <% if view.has_forks? %>
            <%= render Primer::CounterComponent.new(count: view.fork_count) %>
          <% end %>
        <% end %>
      </nav>
    </div>

    <% if view.has_forks? %>
      <ol class="user-list">
      <% view.active_forks.each do |fork| %>
        <li>
          <%= linked_avatar_for(fork.owner, 26, link_class: "avatar") %>
          <%= profile_link(fork.owner) %>
          <% if fork.owner.profile_name %>
            <em>(<%= fork.owner.profile_name %>)</em>
          <% end %>
          <span class="actions">
            <span class="status-modified">Modified</span>
            <a href="<%= user_gist_path(fork.user_param, fork) %>" class="btn btn-sm">
              <%= octicon("git-branch") %>
              View fork
            </a>
          </span>
        </li>
      <% end %>
      <% view.stale_forks.each do |fork| %>
        <li>
          <%= linked_avatar_for(fork.owner, 26, link_class: "avatar") %>
          <%= profile_link(fork.owner) %>
          <% if fork.owner.profile_name %>
            <em>(<%= fork.owner.profile_name %>)</em>
          <% end %>
          <span class="actions">
            <a href="<%= user_gist_path(fork.user_param, fork) %>" class="btn btn-sm">
              <%= octicon("git-branch") %>
              View fork
            </a>
          </span>
        </li>
      <% end %>
      </ol>
    <% else %>
      <div class="blankslate">
        <%= octicon("star", :height => 32, :class => "blankslate-icon") %>
        <h3>Be the first to fork this gist.</h3>
        <p><a href="<%= GitHub.help_url %>/articles/forking-and-cloning-gists">Learn more</a> about how forking works on GitHub.</p>
      </div>
    <% end %>
  </div>
<% end %>
