document.write('<link rel="stylesheet" href="<%= gist_embed_stylesheet_url %>">')
document.write('<%= escape_javascript(render(:partial => "gists/gists/embed_content", :formats => [:html], :locals => { :view => view }).scrub!) %>')
