<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  title: view.page_title,
  description: h(view.page_meta_description),
  selected_link: :gist_code,
  stafftools: stafftools_user_gist_path(view.user_param, view.gist),
  dashboard_pinnable_item_id: view.gist.global_relay_id,
  responsive: responsive_gists_enabled?,
  richweb: {
    title: view.page_title,
    url: user_gist_url(view.user_param, view.gist),
    image: gist_open_graph_image_url(view.gist),
    description: h(view.page_meta_description),
    type: "article",
  }
  @current_branch_or_tag_name = "master"
%>

<% content_for :head do %>
  <%= discover_feed(:atom, user_gists_path(view.owner, :format => :atom)) if view.owner %>
<% end %>

<% content_for :analytics do %>
  <%= octolytics_gist_tag(view.gist) %>

  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::HAS_ACCOUNT %>"
    content="<%= view.gist.visibility %>"
  >
  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::MARKETPLACE_LISTINGS %>"
    content="<%= view.gist.ownership %>"
  >
  <meta
    class="js-ga-set"
    name="<%= GoogleAnalytics::Dimensions::EXPLORE %>"
    content="<%= view.languages.join(" ") %>"
  >
<% end %>

<%= render "gists/banner" %>

<%= render layout: "gists/page_head" do %>
  <%= render "gists/gists/page_head", view: view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <%= content_tag(:div, view.analytics_tracking_options(flash)) do %>
    <%= render "gists/gists/description", :view => view %>
    <% if view.files.blank? %>
      <div class="file-box">
        <div id="file-readme-md" class="file">
          <div id="readme" class="readme blob">
            <article class="markdown-body entry-content" itemprop="mainContentOfPage">
              We couldn’t find any files to show.
            </article>
          </div>
        </div>
      </div>
    <% else %>
      <% if view.files_limited? %>
        <div class="flash flash-warn">
          <%= octicon("alert") %>
          This gist exceeds the recommended number of files (~10).

          <% if view.gist_adminable_by_current_user? %>
            To access all files, please clone this gist. To share more,
            <%= link_to "create a repository", "#{GitHub.help_url}/articles/create-a-repo/" %>.
          <% else %>
            To access all files, please clone this gist.
          <% end %>
        </div>
      <% end %>

      <% view.files.each do |blob| %>
        <%= render_partial_view "gists/gists/blob", Gists::BlobView,
          :blob => blob, :gist => view.gist, :revision => view.revision,
          :short_path => params[:short_path] %>
      <% end %>
    <% end %>

    <a name="comments"></a>
    <div class="js-quote-selection-container" data-quote-markdown=".js-comment-body">
      <div class="js-discussion <% if logged_in? %>js-socket-channel<% end %>"
      <% if logged_in? %>
           data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.marked_as_read(current_user)) %>"
           data-channel-target="<%= view.gist.global_relay_id %>"
      <% end %>
      >
        <div class="<% if responsive? %>ml-md-6 pl-md-3 ml-0 pl-0 <% else %>ml-6 pl-3<% end %>">
          <%= render :partial => "gists/gists/timeline_marker", :object => view.gist %>
        </div>

        <div class="discussion-timeline-actions">
          <% if logged_in? %>
            <%= render_partial_view "gists/gists/new_comment_input", view %>
          <% else %>
            <%= render "comments/signed_out_comment", commentable_type: :gist %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
