<%graphql
  fragment on CheckRun {
    databaseId
    ...Views::Checks::ChecksAnnotation::CheckRun
    annotations(first: $annotationsLimit, after: $after) {
      pageInfo {
        hasNextPage
        endCursor
      }
      nodes {
        databaseId
        ...Views::Checks::ChecksAnnotation::CheckAnnotation
      }
    }
  }
%>

<%
  check_run = Views::Checks::ChecksAnnotations.new(graphql_check_run)

  if current_repository&.show_code_scanning_annotations_ui?(current_user)
    code_scanning_alerts = CodeScanningAlert.results_by_id(
      repository: current_repository,
      annotations: check_run.annotations.nodes.map(&:database_id),
    )
  end
%>

<% check_run.annotations.nodes.each do |annotation| %>
  <%= render partial: "checks/checks_annotation", locals: {
    check_run: check_run,
    annotation: annotation,
    pull: pull,
    commit: commit,
    code_scanning_alerts: code_scanning_alerts,
  } %>
<% end %>

<% if check_run.annotations.page_info.has_next_page? %>
  <div class="text-center p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag checks_annotations_path(ref: commit.oid, id: check_run.database_id), :method => :get do %>
      <input name="after" type="hidden" value="<%= check_run.annotations.page_info.end_cursor %>">
      <input name="pull" type="hidden" value="<%= pull&.id %>">
      <button type="submit" class="btn btn-outline" data-disable-with="Loading more...">Load more annotations...</button>
    <% end %>
  </div>
<% end %>
