<span class="d-block f6 js-socket-channel js-updatable-content <%= check_run.can_have_steps? ? "CheckRun-header-timestamp" : "text-gray-light" %>"
  data-channel="<%= live_update_view_channel(check_run.channel) %>"
  data-url="<%= check_run_show_header_partial_path(id: check_run.id) %>">
  <% if check_run.seconds_to_completion %>
    <%= StatusCheckRollup.verb_state(check_run.conclusion) %>
    <%= time_ago_in_words_js check_run.completed_at %>
    in
    <%= precise_duration(check_run.seconds_to_completion) %>
  <% elsif check_run.started_at %>
    <em>
      started
      <precise-time-ago datetime="<%= check_run.started_at.iso8601 %>">
        <%= timestamp(check_run.started_at) %>
      </precise-time-ago>
      ago
    </em>
  <% end %>
</span>


