<%
  outer_radius ||= 15
  inner_radius ||= 9
%>
<% if contexts_helper.state_counts.empty? %>
  <%= donut_svg({ "neutral" => 1 }, outer_radius, inner_radius) %>
<% elsif contexts_helper.all_succeeded? %>
  <span class="checks-summary-conclusion text-center text-white bg-green float-left mt-1">
    <%= octicon('check') %>
  </span>
<% elsif contexts_helper.all_failing? %>
  <span class="checks-summary-conclusion text-center text-white bg-red float-left mt-1">
    <%= octicon('x') %>
  </span>
<% else %>
  <%= donut_svg contexts_helper.state_counts.transform_keys(&:downcase), outer_radius, inner_radius %>
<% end %>
