<% viewing_check_suite = selected_check_run&.check_suite == check_suite || check_suite_selected %>

<div id="check_suite_<%= check_suite.id %>" class="js-socket-channel js-updatable-content"
  data-retain-focus
  data-channel="<%= live_update_view_channel(check_suite.channel) %>"
  data-url="<%= check_suite_show_partial_path(id: check_suite.id, repository: current_repository, selected_check_run_id: selected_check_run&.id, pull_id: pull&.id, check_suite_selected: check_suite_selected, check_suite_focus: check_suite_focus) %>">

  <% if check_suite.user_visible? %>
    <% check_runs = check_suite.latest_check_runs.sort_by(&:sort_order) %>
    <details class="checks-list-item Details-element details-reset" id="sidebar_check_suite_<%= check_suite.id %>" <%= "open" if viewing_check_suite %>>

      <% if viewing_check_suite && logged_in? %>
        <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-mark-cs-notification-form" do %>
          <input type="hidden" name="variables[subjectId]" value="<%= check_suite.global_relay_id %>">
        <% end %>
      <% end %>

      <summary class="summary-reset checks-list-item pl-3 border-right-0 border-left-0 border-top-0 border-bottom f6 text-left width-full <% if check_suite_selected %> selected bg-blue text-white <% else %> bg-white<% end %>">
        <div class="d-flex pr-4">
          <% check_suite_name = check_suite.name.present? ? check_suite.name : check_suite.github_app_name %>
          <span class="my-1 mr-1 ml-2 pt-3">
            <span class="Details-content--open" aria-label="hide"><%= octicon("chevron-down", class: "mr-1 selected-color-white") %></span>
            <span class="Details-content--closed" aria-label="show"><%= octicon("chevron-right", class: "mr-1 selected-color-white") %></span>
          </span>
          <span class="d-inline-block flex-auto h5 <% if check_suite_selected %> text-white <% else %> text-gray-dark <% end %>">
            <% if check_suite.workflow_run %>
              <a href="<%= workflow_run_path(workflow_run_id: check_suite.workflow_run.id) %>"
                 class="d-block width-full css-truncate css-truncate-target v-align-middle f5 link-gray-dark selected-color-white no-underline py-3"
                 style="max-width:290px"
                 >
                <%= check_suite_name %>
                <% if check_suite.event %>
                  <span class="f6 text-normal css-truncate d-block <% if check_suite_selected %> text-white <% else %> text-gray-light <% end %> mr-3" <%= test_selector("check_suite_event") %>>
                    on: <%= check_suite.event %>
                  </span>
                <% end %>
              </a>
            <% else %>
              <span class="css-truncate css-truncate-target v-align-middle f5 py-3" style="max-width:290px"><%= check_suite_name %></span>
              <% if check_suite.event %>
                <span class="f6 text-normal css-truncate d-block <% if check_suite_selected %> text-white <% else %> text-gray-light <% end %> mr-3" <%= test_selector("check_suite_event") %>>
                  on: <%= check_suite.event %>
                </span>
              <% end %>
            <% end %>

          </span>
        </div>
      </summary>

      <div class="border-bottom bg-gray-light">
        <% check_runs.each do |check_run| %>

          <div class="d-flex position-relative checks-list-item <%= "selected" if check_run == selected_check_run %>"
            <% if check_run == selected_check_run %> id="js-selected-check-run" data-failed="<%= check_run.failed? %>"<% end %>>

            <div class="checks-list-item-name width-full pl-3">
              <div class="flex-auto mb-0 ml-1 text-gray-light">
                <span class="checks-list-item-icon d-inline-block text-center mx-1 v-align-middle selected-color-white" title="<%= check_run_state_description(check_run) %>">
                  <%= render partial: "checks/checks_icon", locals: { check_run: check_run } %>
                </span>
                <span class="f5 text-normal" title="<%= check_run.visible_name %>">
                  <%= link_to check_run.permalink(pull: pull, check_suite_focus: check_suite_focus), class: "d-inline-block SideNav-subItem v-align-middle text-left py-2 selected-color-white", style: "width:280px" do %>
                    <span class="css-truncate css-truncate-target" style="max-width:215px;"><%= check_run.visible_name %></span>
                  <% end %>
                </span>
              </div>
            </div>

            <% if current_repository.writable_by?(current_user) %>
              <% if (check_run.failure? || check_run.timed_out?) %>
                <% if check_suite.check_runs_rerunnable %>
                  <%= form_tag rerequest_check_run_path(check_run, user_id: current_repository.owner, repository: current_repository), method: "put", class: "position-absolute right-0 js-check-run-rerequest-form" do %>

                    <template class="js-check-run-rerequest-form-success">
                      <%= render layout: "shared/flash_container", locals: { type: "notice" } do %>
                        You have successfully requested <%= check_run.visible_name %> be rerun.
                      <% end %>
                    </template>

                    <template class="js-check-run-rerequest-form-error">
                      <%= render layout: "shared/flash_container", locals: { type: "error" } do %>
                        There was a problem requesting <%= check_run.visible_name %> to be rerun.
                      <% end %>
                    </template>

                    <button class="btn-link link-gray no-underline text-right mr-3 mt-1 py-2 f6 lh-condensed selected-color-white" type="submit">
                      Re-run
                    </button>

                  <% end %>
                <% end %>
              <% elsif (check_run.action_required?) %>
                <% hydro_tracking = hydro_click_tracking_attributes("check_suite.external_click", { check_suite_id: check_suite.id, check_run_id: check_run.id, link_url: check_run.details_url, link_text: "Resolve" }) %>
                <%= link_to check_run.details_url, class: "btn-link link-gray no-underline position-absolute right-0 text-right text-small lh-condensed mr-3 mt-1 py-2 selected-color-white", target: "_blank", rel: "noopener noreferrer", data: hydro_tracking do %>
                  Resolve<%= octicon("link-external", :class => "ml-1 v-align-middle") %>
                <% end %>
              <% end %>
            <% end %>

          </div>

        <% end %>
      </div>

    </details>
  <% end %>
</div>
