<% steps.each do |step| %>
  <% details_disabled = !logged_in? || step.completed_without_logs? %>
  <details class="CheckStep px-3 rounded-1 <%= details_disabled ? "details-reset ml-3" : "js-checks-log-details" %>"
    id="check-step-<%= step.number %>"
    data-step-number="<%= step.number %>"
    data-conclusion="<%= step.conclusion ? step.conclusion.downcase : "null" %>"
    data-external-id="<%= step.external_id %>"
    <% if logged_in? && step.completed_log_url %>
      data-log-url="<%= check_step_logs_path(ref: check_run.head_sha, id: check_run.id, step: step.number) %>"
    <% end %>
    >

    <%= render partial: "checks/checks_step_summary_button", locals: { step: step } %>

    <% unless details_disabled %>
      <div class="js-checks-log-display">
        <div class="d-flex flex-items-center mt-1 text-small text-mono text-white js-checks-log-display-loader">
          <div style="opacity:0.5; width:48px;">
            <%= image_tag "spinners/octocat-spinner-64.gif", size: "16x16", alt: "Loading", class: "float-right" %>
          </div>
          <div class="ml-3">Loading…</div>
        </div>
        <div class="text-mono text-small my-1 overflow-auto js-checks-log-display-error log-line-error"
          data-message-log-download-failed="We are currently unable to download the log. Please try again later."
          hidden></div>
        <div class="text-mono text-small my-1 overflow-auto js-checks-log-display-container" style="max-height: 500px;" hidden></div>
        <div class="d-flex flex-items-center mt-1 text-small text-mono text-white js-checks-log-display-truncated" hidden>
          <div class="ml-3">This file has been truncated. View the full logs in the <%= octicon("kebab-horizontal", class: "v-align-middle") %> menu once the check is completed.</div>
        </div>
      </div>
    <% end %>
  </details>
<% end %>

<!-- Rendered steps since <%= check_run.updated_at.to_s(:db) %> -->
<%# Listens for updates to CheckRun. When updated, if any new CheckSteps were created after check_run.updated_at. We render them. %>
<div class="js-socket-channel js-updatable-content"
     id="partial-check-steps-timeline"
     data-channel="<%= live_update_view_channel(check_run.channel) %>"
     data-url="<%= check_run_unseen_steps_partial_path(id: check_run.id, check_steps_since: check_run.updated_at.iso8601) %>">
</div>
