<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment CheckRun on CheckRun {
    databaseId
    name
    creator {
      login
      avatarUrl
    }
  }

  fragment CheckAnnotation on CheckAnnotation {
    databaseId
    annotationLevel
    rawDetails
    location {
      end {
        line
      }
    }
    title
    message
    path
  }
%>

<%
  check_run = Views::Checks::ChecksAnnotation::CheckRun.new(check_run)
  annotation = Views::Checks::ChecksAnnotation::CheckAnnotation.new(annotation)

  annotation_level = annotation.annotation_level.downcase

  if local_assigns[:code_scanning_alerts].present?
    code_scanning_alert = local_assigns[:code_scanning_alerts][annotation.database_id]
  end
%>

<div class="Details js-details-container Box position-relative check-annotation check-annotation-<%= annotation_level %> my-2">
  <p class="text-small pl-3 my-2">
    <span class="annotation-octicon text-center d-inline-block">
      <% if annotation_level == "failure" %>
        <%= octicon("x", :class => "text-red") %>
      <% elsif annotation_level == "warning" %>
        <%= octicon("alert") %>
      <% else %>
        <%= octicon("info", :class => "text-gray") %>
      <% end %>
    </span>

    <%
      annotation_url = pull.present? ? "#{pull_request_path(pull)}/files#annotation_" : "#{commit_path(commit)}#annotation_"
      annotation_url = "#{annotation_url}#{annotation.database_id}"
    %>
    <a href="<%= annotation_url %>" class="text-gray-light d-inline-block ml-1">Check <%= annotation_level %> on line <%= annotation.location.end.line %> in <%= annotation.path %></a>
  </p>

  <div class="annotation-actions position-absolute">
    <a href="<%= annotation_url %>" class="tooltipped tooltipped-w d-inline-block ml-2" aria-label="See this annotation in the file changed.">
      <%= octicon("file-code", :class => "text-gray-light") %>
    </a>
  </div>

  <% unless code_scanning_alert.present? %>
    <p class="ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center">
      <img src="<%= check_run.creator.avatar_url %>" width="20" height="20" alt="@<%= check_run.creator.login %>" class="<%= avatar_class_names(check_run.creator) %> mr-2 flex-shrink-0">
      <span class="mr-1 text-bold"> <%= check_run.creator.login %> </span> / <%= check_run.name %>
    </p>

    <p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-center">
      <span class="annotation-title flex-auto pr-2">
        <%= annotation.title %>
      </span>
    </p>

    <div class="py-2 pl-4 ml-3 overflow-scroll">
      <code><pre><%= annotation.message %></pre></code>
    </div>

    <% if annotation.raw_details.present? %>
      <details>
        <summary class="btn btn-sm btn-outline mt-2 mb-3 ml-6">Raw output</summary>
        <div class="border-top py-2 px-3 bg-gray-light overflow-scroll">
          <code>
            <pre><%= annotation.raw_details %></pre>
          </code>
        </div>
      </details>
    <% end %>
  <% else %>
    <%= render_partial_view "repos/code_scanning/annotation", RepositoryCodeScanning::AnnotationView, { response: code_scanning_alert, repository: current_repository, pull: pull } %>
  <% end %>
</div>
