<details class="d-inline-block select-menu details-reset details-overlay ml-2">
  <summary class="btn-link muted-link select-menu-button" data-hotkey="c">
    <code class="mr-1 text-gray-light"><%= selected_commit.abbreviated_oid%></code>
  </summary>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
    <div class="select-menu-header">
      <span class="select-menu-title">Select commit</span>
    </div>
    <div class="select-menu-list">
      <% pull.changed_commits.each_with_index do |commit, index| %>
        <a href="<%= gh_show_pull_request_path(pull) %>/checks?sha=<%= commit.oid %>" class="select-menu-item pl-5" aria-checked="<%= commit.oid == selected_commit.oid %>" role="menuitemradio">
          <div class="float-left mr-1 text-red select-menu-item-icon">
            <% if commit.combined_status&.any? %>
              <span class="<%= status_state_text_class(commit.combined_status.state) %>">
                <%= octicon(icon_symbol_for_state(commit.combined_status.state)) %>
              </span>
            <% end %>
          </div>
          <div class="select-menu-item-text">
            <code class="float-right"><%= commit.abbreviated_oid %></code>
            <div class="text-bold css-truncate css-truncate-target" style="max-width: 200px;">
              <%= commit.short_message_text %>
            </div>
            <span class="description">
              <%= commit.author %> <%= time_ago_in_words_js commit.authored_date %>
            </span>
          </div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
