<%# `view` is an instance of Checks::ChecksToolbarView %>

<%
  selected_check_run = view.selected_check_run
  check_suite = view.check_suite
  commit = view.commit
  pull = view.pull
  contexts_helper = view.contexts_helper
%>

<% if selected_check_run %>
  <div class="d-flex flex-items-center height-full js-socket-channel js-updatable-content"
       data-channel="<%= view.check_suites.map { |c| live_update_view_channel(c.channel) }.join(" ") %>"
       data-url="<%= check_run_show_toolbar_partial_path(id: selected_check_run.id, pull_id: pull&.id) %>">
<% else %>
  <div class="d-flex flex-items-center height-full">
<% end %>

  <%# Update the favicon based on build status %>
  <span data-favicon-override="<%= site_favicon(view.rollup_state) %>"></span>

  <%= render partial: "checks/checks_donut", locals: { contexts_helper: contexts_helper } %>

  <div class="flex-auto">
    <% if pull %>
      <h2 class="f5 text-bold text-gray pl-2 d-inline-block css-truncate css-truncate-target" style="max-width: 500px;" title="<%= commit.message %>">
        <%= commit.short_message_text %>
      </h2>
      <%= render partial: "checks/checks_range_menu", locals: {
        pull: pull,
        selected_commit: commit
      }
      %>

      <%= render partial: "checks/checks_latest_run_link", locals: { selected_check_run: selected_check_run, pull: pull } %>
    <% else %>
      <div class="d-flex flex-column pl-3">
        <h2 class="f3 text-normal css-truncate css-truncate-target" style="max-width: 500px;" title="<%= commit.message %>">
          <%= commit.short_message_text %>
        </h2>

        <div>
          <% view.branches.each do |branch| %>
            <span class="commit-ref css-truncate user-select-contain expandable mr-2" title="<%= branch %>">
              <span class="css-truncate-target">
                <%= link_to_branch_compare(current_repository, branch) %>
              </span>
            </span>
          <% end %>
          <span class="mr-2">
            <% if commit.author&.login %>
              <%= avatar_for(commit.author, 24, :class => "avatar") %>
            <% else %>
              <span class="text-bold text-gray-dark"><%= commit.author_name %></span>
            <% end %>
          </span>
          <%= octicon("git-commit", { class: "mr-1 text-gray-light" }) %>
          <code><%= link_to commit.abbreviated_oid, commit_path(commit), class: "muted-link no-underline d-inline text-normal" %></code>

          <%= render partial: "checks/checks_latest_run_link", locals: { selected_check_run: selected_check_run, pull: pull } %>
        </div>
      </div>
    <% end %>
  </div>

  <% if !logged_in? && check_suite&.actions_app? %>
    <%= link_to(
      "Sign in for the full log view",
      login_path_with_return,
      rel: "nofollow",
      class: "btn btn-outline",
      data: sign_in_link_data_attributes(location_in_page: "workflow logs")
    ) %>
  <% end %>

  <% if logged_in? && selected_check_run %>
    <div>
      <%= render partial: "checks/artifacts", locals: { check_run: selected_check_run } %>
      <%= render partial: "checks/checks_rerun", locals: { check_suite: check_suite } %>
    </div>
  <% elsif logged_in? && view.check_suite %>
    <div>
      <%= render partial: "checks/checks_rerun", locals: { check_suite: check_suite } %>
    </div>
  <% end %>
</div>
