<%
  path = check_suite.workflow_file_path
  blob = current_repository.blob(check_suite.commit.oid, path) if path.present?
%>

<% if blob.present? %>
  <div class="Box my-4">
    <div class="Box-header text-mono f6">
      <%= path %>

      <% if check_suite.head_branch && current_repository.heads.exist?(check_suite.head_branch)%>
        <div class="float-right">
          <%= link_to file_edit_path(current_repository.owner, current_repository, check_suite.head_branch, path), title: "Edit", class: "link-gray-dark" do %>
            <%= octicon "pencil" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="Box-body p-0 blob-wrapper">
      <%= render :partial => "blob/blob_code", locals: {
        blob: blob,
        show_toolbar: false
      } %>
    </div>
  </div>
<% else %>
  <%= render(Primer::FlashComponent.new(variant: :danger, my: 4)) do %>
    The workflow file associated with this workflow run could not be found
  <% end %>
<% end %>
