<%graphql
  fragment on CheckSuite {
    databaseId
    workflowFilePath
    conclusion
    duration
    hasReruns
    branch {
      name
    }
    commit {
      oid
    }
    checkRuns(first: 100) {
      nodes {
        name
        conclusion
        status
        annotations(first: $annotationsLimit, after: $after) {
          nodes {
            databaseId
          }
        }
        ...Views::Checks::ChecksAnnotations
        ...Views::Checks::ChecksAnnotation::CheckRun
      }
    }
    artifacts(first: 100) {
      nodes {
        databaseId
        name
        size
        expired
      }
    }
  }
%>

<%
  check_suite = Views::Checks::WorkflowRun.new(graphql_check_suite)

  if check_suite.workflow_file_path.present?
    workflow_annotations = all_annotations.select { |annotation| annotation.path == check_suite.workflow_file_path }
    paths = workflow_annotations.map { |annotation| annotation.path }
  else
    paths = all_annotations.map { |annotation| annotation.path }
  end
  failed_workflows = current_repository.workflow_contents(sha: check_suite.commit.oid, paths: paths)
  non_workflow_check_suite_annotations = all_annotations.select do |annotation|
    annotation.check_suite.present? && !paths.include?(annotation.path)
  end

  # Donut
  check_runs_with_state = check_suite.check_runs.nodes.map do |c|
    [c.name, (c.conclusion || c.status).upcase]
  end
  # If not completed, create a dummy queued state to prevent showing the icon that would indicate a completed state
  # since there might be pending check runs not created yet
  if check_suite.conclusion.nil?
    check_runs_with_state.push ["", "QUEUED"]
  end
  contexts_helper = Statuses::ContextsHelper.new(check_runs_with_state)
  statuses = check_suite.check_runs.nodes.map { |c| OpenStruct.new(state: c.status) }

  channel = GitHub::WebSocket::Channels.check_suite(OpenStruct.new(id: check_suite.database_id))
%>
<div
  class="js-updatable-content js-socket-channel mb-4"
  data-url="<%= workflow_run_partial_path(repository: current_repository, pull_id: pull&.id) %>"
  data-channel="<%= live_update_view_channel(channel) %>">
  <div class="d-flex mt-6 flex-justify-end">
    <% if workflow_run&.check_suite&.started_at %>
      <span class="text-gray-light">
        <% if workflow_run.check_suite.completed? %>
          Ran
        <% elsif workflow_run.check_suite.status == "queued" %>
          Queued
        <% else %>
          Started
        <% end %>
        <%= time_ago_js workflow_run.started_at %>
      </span>
    <% end %>
  </div>
  <div class="d-flex flex-items-center">
    <div class="flex-self-start">
      <%= render partial: "checks/checks_donut", locals: { contexts_helper: contexts_helper } %>
    </div>
    <div class="ml-2 f4 flex-auto">
      <% if statuses.any? %>
        <span class="text-bold"><%= status_summary_of_check_totals(statuses, "job") %></span>
        <% unless check_suite.conclusion.nil? %>

          <% if current_repository.private? %>
            in <%= precise_duration(check_suite.duration) %>
            <% if check_suite.has_reruns %>(last re-run)<% end %>
            <% if workflow_run.has_billing_data? %>
              <details class="details-reset" <%= test_selector("timing-details") %> data-deferred-details-content-url="<%= workflow_run_timing_details_partial_path(workflow_run_id: workflow_run.id) %>">
                <summary class="text-small text-gray-light">Run and billable time details <span class="dropdown-caret"></span></summary>
                <div class="d-flex flex-column width-full">
                  <include-fragment class="octocat-spinner my-6" aria-label="Loading">
                  </include-fragment>
                </div>
              </details>
            <% elsif workflow_run.check_suite.completed? && !GitHub.enterprise? %>
              <div class="text-small text-gray" <%= test_selector("timing-details-not-available") %>>
                <% if workflow_run.billing_data_unavailable? %>
                  Timing details not available
                <% else %>
                  Timing details not available yet
                <% end %>
              </div>
            <% end %>
          <% else %>
            <details class="details-overlay details-reset position-relative d-inline-block" title="Run duration">
              <summary class="text-gray-light">
                in
                <span class="<%= "issue-keyword" unless GitHub.enterprise? %>">
                  <%= precise_duration(check_suite.duration) %>
                </span>
                <% if check_suite.has_reruns %>(last re-run)<% end %>
              </summary>

              <% unless GitHub.enterprise? %>
                <details-menu <%= test_selector("billing-popover") %> class="dropdown-menu dropdown-menu-s p-3 lh-condensed text-small" style="width: 220px;" role="menu">
                  <div class="text-bold mb-2">Run duration</div>
                  <p class="text-gray-light">This is the workflow execution time which may be different than the billed time.</p>
                  <p class="mb-0">
                    <a href="<%= "#{GitHub.help_url}/github/setting-up-and-managing-billing-and-payments-on-github/managing-billing-for-github-actions" %>" target="_blank">Learn more</a>
                  </p>
                </details-menu>
              <% end %>
            </details>
          <% end %>
        <% end %>
      <% else %>
        <span class="text-bold text-gray">No jobs were run</span>
      <% end %>
    </div>
  </div>


  <% if failed_workflows.any? %>
    <% failed_workflows.each do |path, blob| %>
      <div class="Box my-4">
        <div class="Box-header text-mono f6">
          <%= path %>

          <% if check_suite.branch %>
            <div class="float-right">
              <%= link_to file_edit_path(current_repository.owner, current_repository, check_suite.branch.name, path), title: "Edit", class: "link-gray-dark" do %>
                <%= octicon "pencil" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="Box-body p-0 blob-wrapper">
          <%= render :partial => "blob/blob_code", :locals => {
            blob: blob,
            lines_to_include: (1..blob.lines.length).to_a,
            annotations: DiffAnnotations.new(all_annotations.select { |annotation| annotation.path == path }),
            show_toolbar: false,
            pull_request: pull
          } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <h2 class="f5 mb-2 mt-4">Artifacts</h2>

  <% if failed_workflows.empty? && check_suite.artifacts.nodes.any? %>
    <% expired = check_suite.artifacts.nodes.any?(&:expired) %>
    <% if !logged_in? || expired %>
      <% if expired %>
        <p class="f6 text-gray-light">The following artifacts have expired and are no longer able to be downloaded.</p>
      <% end %>

      <div class="Box Box--condensed">
        <% check_suite.artifacts.nodes.each do |artifact| %>
          <div class="Box-row d-flex flex-justify-between">
            <span>
              <%= octicon("package", class: "float-left mr-3 text-gray-light") %>
              <span class="text-bold text-gray-light"><%= artifact.name %></span>
            </span>
            <span class="text-right text-gray-light">
              <%= number_to_human_size(artifact.size) %>
            </span>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="Box Box--condensed">
        <% check_suite.artifacts.nodes.each do |artifact| %>
          <div class="Box-row d-flex">
            <span class="flex-auto">
              <%= octicon("package", class: "float-left mr-3 text-gray-light") %>
              <%= link_to artifact.name,
                download_artifact_path(id: check_suite.database_id, user_id: current_repository.owner, repository: current_repository, artifact_id: artifact.database_id),
                class: "text-bold" %>
            </span>
            <span class="text-right text-gray-light">
              <%= number_to_human_size(artifact.size) %>
            </span>
            <% if current_repository.writable_by?(current_user) %>
              <%= form_tag delete_artifact_path(id: check_suite.database_id, user_id: current_repository.owner, repository: current_repository, artifact_id: artifact.database_id),
                    method: "delete", class: "inline-form float-right ml-6" do %>
                <button type="submit" data-confirm="Are you sure?"
                        class="btn-link text-red"
                        aria-label="Delete artifact">
                  <%= octicon("trashcan") %>
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="border rounded-1">
      <%= render(Primer::BlankslateComponent.new(
        icon: "package",
        title: "No artifacts",
        description: "No artifacts were generated.",
      )) %>
    </div>
  <% end %>

  <h2 class="f5 mb-2 mt-4">Annotations</h2>

  <%
    has_check_run_annotations = check_suite.check_runs.nodes.any? { |check_run| check_run.annotations.nodes.any? }
    has_annotations = non_workflow_check_suite_annotations.any? || has_check_run_annotations
  %>
  <% if has_annotations %>
    <% if non_workflow_check_suite_annotations.any? %>
      <%= render partial: "diff/inline_annotations", locals: {
          annotations: non_workflow_check_suite_annotations,
          pull_request: pull,
          end_line_text: ""
        }
      %>
    <% end %>
    <% check_suite.check_runs.nodes.each do |check_run| %>
      <%=
        render :partial => "checks/checks_annotations", locals: {
          graphql_check_run: check_run,
          pull: pull,
          commit: commit
        }
      %>
    <% end %>
  <% else %>
    <div class="border rounded-1 mb-4">
      <%= render(Primer::BlankslateComponent.new(
        icon: "report",
        title: "No annotations",
        description: "No annotations were created.",
      )) %>
    </div>
  <% end %>
</div>
