<%graphql
  fragment on CheckRun {
    ...Views::Checks::ChecksSummary
  }
%>

<%
  pull = local_assigns[:pull]
  selected_check_suite = local_assigns[:selected_check_suite]
  check_suite_focus = selected_check_suite.present? || params[:check_suite_focus] == "true"
  graphql_check_run = Views::Checks::Show.new(graphql_check_run)
  workflows_loading = local_assigns.fetch(:workflows_loading, false)
%>

<% if pull # we are rendering from the pull requests page %>
  <%
    attribution = pull.user ? " by #{pull.user}" : ""
    page_info title: "#{pull.title}#{attribution} · Pull Request ##{pull.number} · #{current_repository.name_with_owner}",
      selected_link: :checks,
      class: "full-width full-width-p-0",
      description: pull.body_text,
      skip_pjax_container: true,
      full_height: true,
      full_height_scrollable: true,
      footer: false,
      responsive: responsive_pull_requests_enabled?,
      richweb: {
        title: "#{pull.title}#{attribution} · Pull Request ##{pull.number} · #{current_repository.name_with_owner}",
        url: "#{GitHub.url}#{issue_permalink_path(pull.issue)}",
        description: truncate(pull.body_text, length: 240),
        image: avatar_url_for(pull.safe_user, 400)
      }
  %>

<% else # this is coming from the commit view (detached from a pull)%>
  <%
    title = "#{commit.short_message} · #{current_repository.name_with_owner}@#{commit.abbreviated_oid} "
    page_info \
      title: title,
      container_xl: true,
      selected_link: :repo_actions,
      class: "full-width full-width-p-0",
      skip_pjax_container: true,
      full_height: true,
      full_height_scrollable: true,
      footer: false,
      responsive: false
  %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>

  <div class="d-flex flex-column width-full">

    <% if pull # we are rendering from the pull requests page %>

      <%= render :partial => 'pull_requests/track_refresh', :locals => { pull_request: pull, tab_context: :checks } %>

      <div class="px-4 mt-4">
        <%= render :partial => 'comments/title', :locals => {
          :pull         => pull,
          :comment      => pull.issue,
          :issue        => pull.issue,
          :title        => pull.title.blank? ? "Untitled" : pull.title,
          :admin        => can_modify_issue?(pull.issue),
          :form_path    => "/#{current_repository.name_with_owner}/issues/#{pull.issue.number}",
          :undeleteable => true
        } %>
      </div>

      <%= render :partial => "pull_requests/lazy_tabs", :locals => { :pull => pull } %>
    <% end %>

    <% if blankslate %>
      <%= render :partial => "checks/checks_blankslate" %>
    <% elsif pull&.closed? && !pull.merged? && pull.changed_commits.count == 0 %>
      <div class="container-lg p-responsive">
        <div class="col-10 text-center my-4 py-4 mx-auto">
          <h3><%= pull.head_label %> was force-pushed and no longer has any new commits.</h3>
          <p>Pushing new commits will allow the pull request to be re-opened.</p>
        </div>
      </div>
    <% elsif pull&.corrupt? %>
      <div class="container-lg p-responsive">
        <div class="col-10 text-center my-4 py-4 mx-auto">
          <%= octicon("alert", class: "blankslate-icon") %>
          <h3>Sorry, commit information is not available for this pull request.</h3>
          <p>The repository may be missing relevant data. Please <a href="<%= contact_path %>">contact support</a> for more information.</p>
        </div>
      </div>
    <% elsif commit.nil? %>
      <div class="container-lg p-responsive">
        <div class="col-10 text-center my-4 py-4 mx-auto">
          <h3>No checks information is available</h3>
          <p>There are no new commits between the base branch and the head branch.</p>
        </div>
      </div>
    <% else %>
      <div class="d-flex flex-column width-full flex-auto">
        <div class="pt-1" <% unless pull %>style="height: 70px;"<% end %>>
          <div class="pr-toolbar mx-0 <% unless pull %>mt-0<% end %>">
            <%= render_partial_view "checks/checks_toolbar", Checks::ChecksToolbarView, { check_suites: check_suites, selected_check_suite: selected_check_suite, commit: commit, selected_check_run: selected_check_run, pull: pull, commit_check_runs: commit_check_runs, graphql_check_run: graphql_check_run  } %>
          </div>
          <% if pull %>
            <div class="gh-header">
              <div class="js-sticky js-sticky-offset-scroll top-0 gh-header-sticky px-4">
                <div class="sticky-content">
                  <div class="d-flex flex-items-center flex-justify-between mt-2">
                    <div class="d-flex flex-row flex-items-center min-width-0">
                      <div class="mr-2 flex-shrink-0">
                        <%= render PullRequests::StateComponent.new(state: pull.state.to_sym, is_draft: pull.draft?) %>
                      </div>
                      <div class="min-width-0">
                        <%= render partial: "comments/title/sticky_title", locals: { title: pull.title.blank? ? "Untitled" : pull.title, number: pull.number } %>

                        <div class="meta text-gray-light css-truncate css-truncate-target d-block" style="max-width: none">
                          <span class="d-inline-block text-gray text-bold css-truncate css-truncate-target" style="max-width: 500px;" title="<%= commit.message %>">
                            <%= commit.short_message_text %>
                          </span>
                          <%= render partial: "checks/checks_range_menu", locals: {
                            pull: pull,
                            selected_commit: commit
                          }
                          %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="gh-header-shadow box-shadow js-notification-shelf-offset-top"></div>
            </div>
          <% end %>
        </div>

        <div class="d-flex flex-items-stretch flex-auto">
          <div class="d-flex flex-items-stretch flex-auto overflow-x-scroll">
            <aside class="d-flex flex-column bg-gray-light border-top" aria-label="Check suites" style="min-width:340px; max-width:340px;">
              <% check_suites.each do |check_suite| %>
                <%= render :partial => "checks/checks_sidebar_item", locals: {
                  check_suite: check_suite,
                  selected_check_run: selected_check_run,
                  check_suite_selected: check_suite == selected_check_suite,
                  check_suite_focus: check_suite_focus,
                  pull: pull
                } %>
              <% end %>
            </aside>

            <% if selected_check_suite %>
              <%= render :partial => "checks/workflow_overview", locals: {
                check_suite: selected_check_suite,
                graphql_check_suite: graphql_check_suite,
                pull: pull,
                commit: commit,
                all_annotations: all_annotations
              } %>
            <% elsif selected_check_run %>
              <% checks_name = selected_check_run.check_suite.actions_app? ? "jobs" : "checks" %>
              <section aria-label="Check run summary" class="js-selected-check-run d-flex flex-auto min-width-0 <% if selected_check_run.can_have_steps? %>bg-gray-dark<% else %>border-top border-left<% end %>">
                <div class="flex-auto min-width-0">
                  <%= render :partial => "checks/checks_summary", locals: { check_suite: selected_check_run.check_suite, check_run: selected_check_run, commit: commit, pull: pull, graphql_check_run: graphql_check_run, commit_check_runs: commit_check_runs } %>
                </div>
              </section>
              <section aria-label="Check run summary" class="js-zen-blankslate d-flex flex-auto bg-gray-dark" hidden>
                <div class="d-flex flex-items-stretch flex-auto">
                  <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "Re-running #{checks_name}...", loading: true } %>
                </div>
              </section>
            <% else %>
              <section aria-label="Check run summary" class="d-flex flex-auto bg-gray-dark">
                <div class="d-flex flex-items-stretch flex-auto">
                  <% if commit_check_runs.any? %>
                    <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "Select a check to view from the sidebar", loading: false } %>
                  <% elsif workflows_loading %>
                    <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "Starting your workflow runs...", loading: true } %>
                  <% elsif check_suites.all? { |check_suite| check_suite.completed? } %>
                    <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "Workflow runs completed with no jobs", loading: false } %>
                  <% elsif check_suites.any? %>
                    <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "Waiting for checks information...", loading: true } %>
                  <% else %>
                    <%= render partial: "checks/zen_blankslate", locals: { icon: "octoface", message: "There are no checks for this commit", loading: false } %>
                  <% end %>
                </div>
              </section>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
