<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :goals } do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Your goals<% end %>
  <% end %>

  <p class="mb-4">
    Set a goal to share with your community! You can set a target number of sponsors or the
    amount of money you aim to earn each month. You can also describe what those sponsorships will
    help you achieve.
  </p>

  <% if active_goal %>
    <div class="border rounded-2 width-full p-4" <%= test_selector("sponsors-dashboard-active-goal") %>>
      <div class="d-flex flex-justify-between flex-items-center mb-3">
        <h2 class="f4">
          Current goal: <%= active_goal.formatted_current_value %> out of <%= active_goal.title %>
        </h2>
        <%= link_to("Edit", edit_sponsorable_dashboard_goal_path(sponsorable), class: "btn btn-outline") %>
      </div>

      <span class="Progress mb-3">
        <span class="sponsors-goal-progress-bar" style="width: <%= active_goal.percent_complete %>%;"></span>
      </span>

      <%= render(Sponsors::Profile::ActiveGoalComponent.new(sponsorable: sponsorable, goal: active_goal)) %>
    </div>
  <% else %>
    <div class="mb-3" <%= test_selector("sponsors-dashboard-no-active-goal") %>>
      <%= link_to("Set a goal", new_sponsorable_dashboard_goal_path(sponsorable), class: "btn mr-2") %>
      <span class="text-gray">
        You can set <strong>1</strong> goal at a time. If you reach your goal,
        you'll be able to set a new one.
      </span>
    </div>
  <% end %>

  <%= render(Sponsors::Dashboard::Goals::CompletedListComponent.new(
    sponsorable: sponsorable,
    completed_goals: completed_goals,
  )) %>

  <%= render(Sponsors::Dashboard::Goals::ExamplesComponent.new(sponsorable: sponsorable)) %>
<% end %>
