<% page_info \
  responsive: false,
  container_xl: true,
  title: "Actions", selected_link: :repo_actions_settings %>

<%= render layout: "edit_repositories/edit" do %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      <a href="<%= repository_actions_settings_path %>">Actions</a> / Add self-hosted runner
    <% end %>
  <% end %>
  <p>
    Adding a self-hosted runner requires that you download, configure, and execute the
    GitHub Actions Runner. By downloading and configuring the Github Actions Runner, you
    agree to the <a href="<%= GitHub.help_url %>/github/site-policy/github-terms-of-service">GitHub Terms of Service</a>
    or <a href="<%= GitHub.help_url %>/github/site-policy/github-corporate-terms-of-service">GitHub Corporate Terms of Service</a>, as applicable.
  </p>

  <%= render partial: "actions/settings/add_runner_instructions", locals: {
      platform: platform,
      os: os,
      architecture: architecture,
      downloads: downloads,
      platform_options: platform_options,
      token: token,
      selected_download: selected_download,
      registration_url: repository_url(current_repository)
    }
  %>
  <a class="btn btn-primary mt-2" href="<%= repository_actions_settings_path %>" role="button">Back to Actions settings</a>
<% end %>
