<div class="container-md p-responsive">
  <div class="mt-6 pt-3 text-center">
    <h6 class="h5 text-mono text-normal text-gray mb-3">
      GitHub scheduled reminders
    </h6>
    <h1>Sign up for the scheduled reminders beta</h1>
    <p class="lead">
      Review and merge pull requests faster with Slack reminders and notifications.
    </p>
  </div>

  <% if logged_in? %>
    <div class="mx-auto col-md-8 pb-6">
      <% if view.adminable_accounts.present? %>
        <%= form_for view.membership, url: reminders_beta_agree_path do |f| %>
          <%= spamurai_form_signals %>

          <dl class="form-group developer-select-account text-center">
            <dt><label for="user_id">Select an organization</label></dt>
            <dd>
              <details class="select-menu details-reset details-overlay position-relative d-inline-block">
                <summary class="btn select-menu-button with-gravatar" data-menu-button>
                  <span class="select-menu-button-gravatar"><%= avatar_for(view.selected_account, 20, class: "mr-1") %></span>
                  <span><%= view.selected_account %></span>
                </summary>

                <details-menu class="position-absolute right-0" style="z-index:99">
                  <div class="select-menu-modal">
                    <div class="select-menu-list">
                      <% view.adminable_accounts.each do |account| %>
                        <a href="?account=<%= account.login %>" class="select-menu-item" role="menuitemradio" aria-checked="<%= view.selected?(account) %>">
                          <%= octicon('check', :class => 'select-menu-item-icon') %>
                          <div data-menu-button-contents>
                            <span class="select-menu-item-gravatar"><%= avatar_for(account, 20) %></span>
                            <span><%= account %></span>
                          </div>
                        </a>
                      <% end %>
                    </div>
                  </div>
                </details-menu>
              </details>
              <input type="hidden" id="user_id" name="user_id" value="<%= view.selected_account.id %>" checked>
              <input type="hidden" name="member_type" value="<%= view.member_type(account) %>">
            </dd>
          </dl>

          <% unless EarlyAccessMembership.reminders_waitlist.exists?(member: view.selected_account) %>
            <div class="mt-6 text-center">
              <p class="tos-info">By clicking &ldquo;Register for scheduled reminders Beta&rdquo; below, you agree to the
                <a href="<%= GitHub.help_url %>/articles/github-pre-release-program" target="_blank">pre-release program terms of service</a> and the
                <a href="<%= site_privacy_path %>" target="_blank">privacy statement</a>.
              </p>
              <% if params[:redirect_back].present? %>
                <input type="hidden" name="redirect_back" value="<%= params[:redirect_back] %>">
              <% end %>
              <input type="submit" value="Register for scheduled reminders Beta" class="btn btn-primary">
            </div>
          <% else %>
            <div class="mt-4 text-center">
              <% if view.already_enabled? %>
                 Scheduled reminders is already enabled on your account!

                 Test it out on one of your teams today.
              <% else %>
                This account is already on the waitlist for the scheduled reminders beta! We'll notify you when we've enabled it on your account.

                Make sure your <%= link_to "primary email address is up-to-date", settings_user_emails_url %> so we can get a hold of you.
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>Beta sign ups are only available to organization owners. If you'd like to use scheduled reminders in an organization, ask your organization owner.</p>
      <% end -%>
    </div>
  <% else %>
    Please login to signup.
  <% end %>
</div>
