<div class="container-md p-responsive">
  <div class="mt-6 pt-3 text-center">
    <h6 class="h5 text-mono text-normal text-gray mb-3">
      Okta team synchronization
    </h6>
    <h1 class="f00-light lh-condensed">Thanks for signing up for Okta team synchronization!</h1>
    <p class="lead">
      You’ve signed the pre-release agreement for
      <%= view.target_member_description %>.
    </p>
  </div>

  <p>
    You’ve been added to the queue for the beta and you will be notified when you've gained access. There’s nothing more you need to do at the moment but please make sure <%= link_to "your primary email address", settings_user_emails_path %> is up-to-date. If you have any questions, <a href="<%= contact_path %>">let us know</a>.
  </p>
</div>
