<%# view is an instance of TeamSync::SignupAgreementView %>
<div class="container-md p-responsive">
  <div class="mt-6 pt-3 text-center">
    <h1 class="f00-light lh-condensed">Register for Okta team synchronization Beta</h1>
    <p class="lead">Get early access to team synchronization with Okta on GitHub</p>
  </div>

  <% if logged_in? %>
    <% if view.adminable_accounts.any? %>
      <div class="mx-auto col-sm-10 col-sm-8 border-sm-top border-sm-right border-sm-bottom border-sm-left rounded-1 p-sm-4 text-center">
        <%= form_for view.membership, url: okta_team_sync_beta_agree_path do |f| %>

          <dl class="form-group developer-select-account mt-0">
            <dt><label for="user_id">Select an organization or enterprise account</label></dt>
            <dd>
              <details class="details-reset details-overlay d-inline-block select-menu select-menu-modal-right">
                <summary class="btn select-menu-button with-gravatar" data-menu-button>
                  <%= avatar_for(view.selected_account, 20, class: "avatar select-menu-item-gravatar mr-1", alt: "") %>
                  <%= view.selected_account %>
                </summary>

                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
                  <div class="select-menu-list">
                    <% view.adminable_accounts.each do |account| %>
                      <%
                        refresh_params = "?#{view.field_name(account)}=#{view.field_value(account)}"
                        refresh_params += "&redirect_back=#{params[:redirect_back]}" if params[:redirect_back].present?
                      %>
                      <a href="<%= refresh_params%>" class="select-menu-item" role="menuitemradio" aria-checked="<%= view.selected?(account) %>">
                        <%= octicon('check', :class => 'select-menu-item-icon') %>
                        <div data-menu-button-contents>
                          <span class="select-menu-item-gravatar"><%= avatar_for(account, 20) %></span>
                          <span><%= account %></span>
                        </div>
                      </a>
                    <% end %>
                  </div>
                </details-menu>
              </details>
              <input type="hidden" name="<%= view.field_name(view.selected_account) %>" value="<%= view.field_value(view.selected_account) %>" checked>
            </dd>
          </dl>

          <div>
            <div class="mt-6">

              <% unless view.opted_in_for_marketing_emails?(current_user) %>
                <div class="mb-3">
                  <input id="email_optin" type="checkbox" name="email_optin" value="email_optin">
                  <label for="email_optin" class="text-small">
                    Please email me from time to time about GitHub and team synchronization.
                  </label>
                </div>
              <% end %>

              <p class="tos-info">By clicking &ldquo;Register&rdquo; below, you agree to the
                <a href="<%= GitHub.help_url %>/articles/github-pre-release-program" target="_blank">pre-release program terms of service</a> and the
                <a href="<%= site_privacy_path %>" target="_blank">privacy statement</a>.
              </p>
              <% if params[:redirect_back].present? %>
                <input type="hidden" name="redirect_back" value="<%= params[:redirect_back] %>">
              <% end %>
              <input type="submit" value="Register" class="btn btn-primary">
            </div>
          </div>

          <% if view.registered?(view.selected_account) %>
              <div class="mt-4">
              <% if view.enabled?(view.selected_account) %>
                Okta team synchronization is already enabled on your account!

                Go test it out on <%= view.target_member_description %> organization today.
              <% else %>
                This account is already on the waitlist for the Okta team synchronization beta! We'll notify you when we've enabled it on your account.

                Make sure your <%= link_to "primary email address is up-to-date", settings_user_emails_url %> so we can get a hold of you.
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div>
        <%= link_to new_organization_path(plan: GitHub::Plan.business_plus), class: "btn btn-primary" do %>
          New organization
        <% end %>
      </div>
    <% end %>
  <% else %>
    Please login to signup.
  <% end %>
</div>
