<% content = capture do %>
  <%= render "integrations/settings/integration_header", view: view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", view: view %>
      </div>
      <div class="col-9 float-left">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading) do %>App managers<% end %>
        <% end %>

        <p class="mb-3">These people can manage settings, permissions and webhooks for <%= view.integration.name %>.</p>

        <div class="border-top">
          <% view.this_app_managers.each do |user| %>
            <div class="d-flex flex-items-center flex-justify-between py-3 border-bottom">
              <div class="d-flex flex-items-center">
                <%= avatar_for(user, 48, class: "avatar") %>
                <div class="ml-2">
                  <%= profile_link user, url: org_person_path(view.organization, user), class: "f4 d-block" %>
                  <span class="text-gray-dark"><%= user.login %></span>
                </div>
              </div>
              <div>
                <%= form_tag settings_org_permissions_integrations_managers_revoke_path(view.organization, view.integration), method: :delete do %>
                  <%= hidden_field_tag "user_login", user.login %>
                  <button class="btn-link text-red" type="submit" aria-label="Revoke permission to manage this App">
                    Revoke
                  </button>
                <% end %>
              </div>
            </div>
          <% end %>

          <% view.all_app_managers.each do |user| %>
            <div class="d-flex flex-items-center flex-justify-between py-3 border-bottom">
              <div class="d-flex flex-items-center">
                <%= avatar_for(user, 48, class: "avatar") %>
                <div class="ml-2">
                  <%= profile_link user, url: org_person_path(view.organization, user), class: "f4 d-block" %>
                  <span class="text-gray-dark"><%= user.login %></span>
                </div>
              </div>
              <div>
                Manages <strong>all</strong> Apps
              </div>
            </div>
          <% end %>

          <% view.organization_owners.each do |user| %>
            <div class="d-flex flex-items-center flex-justify-between py-3 border-bottom">
              <div class="d-flex flex-items-center">
                <%= avatar_for(user, 48, class: "avatar") %>
                <div class="ml-2">
                  <%= profile_link user, url: org_person_path(view.organization, user), class: "f4 d-block" %>
                  <span class="text-gray-dark"><%= user.login %></span>
                </div>
              </div>
              <div>
                Organization owner
              </div>
            </div>
          <% end %>
        </div>

        <%=
          render_partial_view(
            "orgs/permissions/integrations/grant_permission",
            Settings::Organization::ManageIntegrationView,
            organization: view.organization,
            integration: view.integration
          )
        %>

    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
