<%
  top_answer_counts = leaderboard.top_answer_counts(limit: 5)
  top_question_counts = leaderboard.top_question_counts(limit: 5)
%>

<div class="bg-blue-light px-3 py-2 rounded-2">
  <%= render(Discussions::LeaderboardSectionComponent.new(
    title: "Most answers",
    counts_by_user: top_answer_counts,
  )) do |component| %>
    <% component.with(:count_icon) do %>
      <%= render "discussions/answered_icon" %>
    <% end %>
  <% end %>

  <% if top_answer_counts.empty? %>
    <p class="text-gray-light mb-0" <%= test_selector("no_top_answers_message") %>>
      Be sure to mark someone&rsquo;s comment as an answer if it helps you resolve your question &mdash; they deserve the credit!
      <%= emoji_tag(Emoji.find_by_alias("two_hearts"), class: "emoji f5") %>
    </p>
  <% end %>
</div>

<div class="bg-blue-light px-3 py-2 rounded-2 mt-3">
  <%= render(Discussions::LeaderboardSectionComponent.new(
    title: "Most questions",
    counts_by_user: top_question_counts,
  )) do |component| %>
    <% component.with(:count_icon) do %>
      <%= render(Discussions::IconUnansweredComponent.new) %>
    <% end %>
  <% end %>

  <% if top_question_counts.empty? %>
    <p class="text-gray-light mb-0" <%= test_selector("no_top_questions_message") %>>
      Posting a well-written question that has not yet been answered helps your community learn and grow.
      <%= emoji_tag(Emoji.find_by_alias("seedling"), class: "emoji f5") %>
    </p>
  <% end %>
</div>
