The page build failed <% if git_ref_name = @build&.deployment&.ref_name %>for the `<%= git_ref_name %>` branch<% end %> with the following error:

<%= raw @error %>

For information on troubleshooting Jekyll see:

  <%= GitHub.help_url %>/articles/troubleshooting-jekyll-builds

If you have any questions you can submit a request on the Contact GitHub page at https://support.github.com/contact?repo_id=<%= @repository&.id %>&page_build_id=<%= @build&.id %>
