The page build completed successfully, but returned the following warning <% if git_ref_name = @build&.deployment&.ref_name %>for the `<%= git_ref_name %>` branch<% end %>:

<%= raw @warning %>

For information on troubleshooting Jekyll see:

  <%= GitHub.help_url %>/articles/troubleshooting-jekyll-builds

If you have any questions you can submit a request on the Contact GitHub page at https://support.github.com/contact?repo_id=<%= @repository&.id %>&page_build_id=<%= @build&.id %>
