<li class="clearfix">
  <%= octicon("repo") %>
  <a href="<%= stafftools_user_app_path(integration.user, integration) %>"><%= integration.name %></a>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= integration.flipper_id %>">
      <button type="submit" class="btn-link text-red" title="Remove access for <%= integration.name %>">
        <%= octicon("trashcan") %>
      </button>
    <% end %>
  </span>
</li>
