<li class="clearfix">
  <%= octicon("squirrel") %>
  <%= actor.flipper_id %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= actor.flipper_id %>">
      <button type="submit" class="btn-link text-red" title="Remove access for <%= actor.flipper_id %>">
        <%= octicon("trashcan") %>
      </button>
    <% end %>
  </span>
</li>
