<li class="clearfix">
  <%= octicon("server") %>
  <%= role.id %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= role.flipper_id %>">
      <button type="submit" class="btn-link text-red" title="Disable feature on <%= role.id %>">
        <%= octicon("trashcan") %>
      </button>
    <% end %>
  </span>
</li>
