<li class="clearfix">
  <%= octicon("people") %>

  <a href="<%= gh_stafftools_team_path(team) %>"><%= team.organization.login %>/<%= team.slug %></a> &ndash; <%= team.name %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= team.flipper_id %>">
      <button type="submit" class="btn-link text-red" title="Remove access for <%= team.slug %>">
        <%= octicon("trashcan") %>
      </button>
    <% end %>
  </span>
</li>
