<%# rubocop:disable Lint/InstanceVariable %>
<% f = application_form %>

<% if field_has_errors?(@application, :user) %>
  <div class="flash flash-error mb-4">
    <%= octicon "alert" %>
    <%= error_for(@application, :user, human_field: "") %>
  </div>
<% end %>

<% if allow_editing_oauth_bgcolor?(@application) %>
  <div class="clearfix">
    <div class="col-5 float-left mr-4">
      <dl class="form-group">
        <dt><label for="oauth_app_bgcolor">Badge background color</label></dt>
        <dd>
          <input required autofocus type="text" autocomplete="off" name="oauth_application[bgcolor]" id="oauth_app_bgcolor" maxlength="7" class="form-control js-app-bgcolor-input" placeholder="Hex color code" value="#<%= @application.bgcolor %>" pattern="#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})" title="Hex colors should only contain numbers and letters from a-f" aria-describedby="help-text-for-bgcolor">
          <p class="note" id="help-text-for-bgcolor">
            The hex value of the badge background color.
          </p>
        </dd>
      </dl>
    </div>
    <div class="col-4 float-left">
      <div style="background-color: #<%= @application.bgcolor %>" class="CircleBadge CircleBadge--large js-app-logo-with-bgcolor">
        <%= oauth_application_logo(@application, 70, class: "CircleBadge-icon",
                                                     force_app_logo: true) %>
      </div>
    </div>
  </div>
<% end %>

<%= f.text_group  'Application name', :name, oauth_app_name_options(@application) %>

<%=
  f.text_group  'Homepage URL', :url,
    :class => 'wide',
    :hint => 'The full URL to your application homepage.',
    :required => true,
    :error => error_for(@application, :url)
%>

<%=
  f.text_area_group  "Application description", :description,
    :for         => "oauth_application_description",
    :value       => @application.description,
    :class       => "short",
    :hint        => "This is displayed to all users of your application.",
    :placeholder => "Application description is optional",
    :error       => error_for(@application, :description)
%>

<%
  # We expose the multiple callback URL functionality no matter what if >1
  # callback URL has been configured. If we don't, saving the application's
  # configuration will remove callback URLs depending on whether the feature is
  # enabled/disabled between users.
%>
<% if oauth_registered_callback_urls_enabled? || @application.try(:strict_callback_url_validation?) %>

<h4>Authorization callback URLs</h4>

<div class="callback-urls js-callback-urls <%= @application.callback_urls && @application.callback_urls.length > 1 ? 'has-many' : '' %>">
  <% if @application.callback_urls && @application.callback_urls.any? %>
    <%= render :partial => "oauth_applications/callback_url", :collection => @application.callback_urls %>
  <% else %>
    <%= render :partial => "oauth_applications/callback_url", :locals => { :callback_url => nil } %>
  <% end %>

  <button type="button" class="btn js-new-callback">Add more</button>

  <p class="callback-description">
    <%= octicon("question") %>
    Your application’s callback URLs. The <code>redirect_uri</code> used in the OAuth process should
    exactly match one of the provided callback URLs
    (including the scheme, case, trailing slash, and request parameters). For backward
    compatibility, <code>redirect_uri</code> may reference a subdirectory of the first callback URL
    listed. However, this may change in the future; please register multiple URLs rather than rely
    on legacy support for subdirectories.
    Read our <a href="<%= GitHub.developer_help_url %>/apps/building-integrations/setting-up-and-registering-oauth-apps/registering-oauth-apps/" target="_blank">OAuth documentation</a> for more information
  </p>
</div>

<% else %>

<% hint_html = safe_join(["Your application’s callback URL. Read our ", link_to("OAuth documentation", "#{GitHub.developer_help_url}/v3/oauth/", :target =>"_blank"), " for more information."]) %>
<%=
  f.text_group  'Authorization callback URL', :callback_url,
    :class => 'wide',
    :hint => hint_html,
    :error => error_for(@application, :callback_url),
    :required => true,
    :value => @application.callback_url
%>

<% end %>
