<% application = application_transfer_row.application %>
<li class="table-list-item developer-app-item <%= application.pending_deletion? ? "oauth-pending-deletion-list-item" : "" %>">
  <div class="table-list-cell developer-app-avatar-cell">
    <% if current_context.organization? %>
      <%= link_to settings_org_application_transfer_path(current_context, application_transfer_row) do %>
        <%= oauth_application_logo(application, 40, :class => "avatar") %>
      <% end %>
    <% else %>
      <%= link_to settings_user_application_transfer_path(current_context, application_transfer_row) do %>
        <%= oauth_application_logo(application, 40, :class => "avatar") %>
      <% end %>
    <% end %>
  </div>
  <div class="table-list-cell developer-app-info-cell">
    <% if current_context.organization? %>
      <%= link_to application.name, settings_org_application_transfer_path(current_context, application_transfer_row), :class => "developer-app-name" %>
    <% else %>
      <%= link_to application.name, settings_user_application_transfer_path(current_context, application_transfer_row), :class => "developer-app-name" %>
    <% end %>

    <p class="developer-app-list-meta">
      Application transfer requested by <strong><%= application_transfer_row.requester %></strong>
    </p>
    <div class="oauth-pending-deletion">
      <%= application.name %>
      <span class="muted-link">(<%= application.url %>)</span>
      <em class="float-right">Pending deletion</em>
    </div>
  </div>
</li>
