<%= render layout: "settings/oauth_application" do %>
  <% if beta_features_available? %>
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, font_size: 3) do %>Activate Beta features for <%= current_application.name %><% end %>
    <% end %>

    <p class="mb-4">Choose a feature to activate for <%= current_application.name %>:</p>

    <div class="Box">
      <%= render(Apps::BetaFeatureComponent.new(application: current_application, feature_flag: :device_authorization_grant_opt_in)) do |component| %>
        <% component.with(:note) do %>
          Allow your application to authorize users using the new device flow. See <a href="<%= "#{GitHub.developer_help_url}/apps/building-github-apps" %>">our developer documentation</a> for more details.
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render Primer::BlankslateComponent.new(icon: "hubot", title: "There don't seem to be an beta features to try.") do %>
      Keep an eye on the <a href="<%= GitHub.blog_url %>">the blog</a> for updates.
    <% end %>
  <% end %>
<% end %>
