<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Developer applications", :selected_link => :settings_user_developer_applications %>

<% content = capture do %>
  <% unless @pending_transfers.blank? %>
    <div class="flash flash-warn">
      <%= octicon("alert") %> You have <%= @pending_transfers.count %> pending application transfer <%= pluralize_without_number(@pending_transfers.count, 'request') %>. You can review those below.
    </div>
    <h4>Pending transfer requests</h4>
    <ul class="table-list org-transfer-requests">
      <% @pending_transfers.each do |transfer| -%>
      <%= render :partial => 'oauth_applications/application_transfer_row', :object => transfer, :locals => { :counts => @authorization_counts } %>
      <% end -%>
    </ul>
  <% end %>

  <% if @applications.empty? %>
    <div class="blankslate">
      <h3 class="mb-2">No OAuth applications</h3>
      <p class="">OAuth applications are used to access the GitHub API. <a href="<%= GitHub.developer_help_url %>">Read the docs</a> to find out more.</p>
      <%= link_to "Register a new application", new_oauth_application_path, :class => "btn btn-primary", 'data-pjax' => true -%>
    </div>

  <% else %>
    <div class="settings-next">
      <%= render Primer::SubheadComponent.new do |component| %>
        <% component.slot(:heading, tag: :h2, font_size: 3) do %>OAuth Apps<% end %>
        <% component.slot(:actions) do %>
          <%= link_to_new_oauth_app("New OAuth App") -%>
        <% end %>
      <% end %>
    </div>

    <div class="gutter clearfix">
      <% @applications.each do |app| -%>
        <%= render :partial => 'oauth_applications/developer_application_row', :object => app, :locals => { :counts => @authorization_counts } %>
      <% end -%>
    </div>

    <div class="paginate-container">
      <%= will_paginate @applications %>
    </div>

    <p class="text-small text-gray">These are applications you have registered to use the <a href="<%= GitHub.developer_help_url %>">GitHub API</a>.</p>

  <% end %>
<% end %>

<%= render layout: "settings/developer_settings" do %>
  <%= content %>
<% end %>
