<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "New OAuth Application", :selected_link => (current_context.class.name.downcase == "organization" ? :applications_settings : :settings_user_developer_applications) %>

<div class="container-lg px-3 pt-6">
  <div class="col-9 mx-auto">

    <% content = capture do %>
      <div class="settings-next">
        <%= render Primer::SubheadComponent.new do |component| %>
          <% component.slot(:heading, tag: :h2, id: "oauth_application_form_label") do %>Register a new OAuth application<% end %>
        <% end %>

          <%= form_for @application,
              :url => oauth_applications_path, \
              :html => { :"aria-labelledby" => "oauth_application_form_label" } \
             do |f| -%>

          <%= render :partial => "oauth_applications/application_form", :object => f %>

          <hr class="form-hr">
          <p>
            <button type="submit" class="btn btn-primary">Register application</button>
            <% if current_context.is_a?(Organization) %>
              <%= link_to "Cancel", settings_org_applications_path(current_organization), :class => "btn btn-invisible" %>
            <% else %>
              <%= link_to "Cancel", settings_user_developer_applications_path, :class => "btn btn-invisible" %>
            <% end %>
          </p>

          <% end -%>

      </div>
    <% end %>

    <%= content %>
  </div>
</div>
