<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, title: "Authorized OAuth Apps", selected_link: :applications_settings %>

<%= render layout: "settings/settings" do %>

  <%= render :partial => "navigation/application_settings" %>

    <% if @authorizations.empty? %>
      <div class="blankslate">
        <h3 class="mb-2">No authorized applications</h3>
        <p>You have no applications authorized to access your account.</p>
      </div>
    <% else %>

    <div class="mb-4 mt-4">
      You have granted <strong><%= @authorizations.count %> <%= pluralize_without_number(@authorizations.count, "application") %></strong> access to your account.
      <div class="table-list-header-toggle float-right">
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Revoke all",
          button_class: "btn btn-sm btn-danger",
          title: "Are you sure you want to revoke access for all applications?",
          details_class: "float-right"
        } do %>
          <div>
            <div class="flash flash-full flash-warn">
              This will revoke access for <strong>all third-party</strong> OAuth applications. This action cannot be undone.
            </div>

            <%= form_tag revoke_all_settings_oauth_authorizations_path, :method => :post do %>
              <div class="Box-body">
                <p>
                  Any SSH keys created on your behalf by applications will also be deleted.
                </p>

                <dl class="form-group mb-0">
                  <dt><label for="revoke-all-settings-oauth">Type your username to confirm.</label></dt>
                  <dd>
                    <input type="text"
                      id="revoke-all-settings-oauth"
                      class="form-control input-block"
                      pattern="<%= case_insensitive_pattern current_user.login %>"
                      autofocus
                      required>
                  </dd>
                </dl>
              </div>

              <div class="Box-footer">
                  <button type="submit" data-type="application" class="btn btn-block btn-danger" data-disable-invalid>
                    I understand, revoke access for everything
                  </button>
              </div>
            <% end %>
          </div>
        <% end %>
        <%= render :partial => "oauth_applications/sorts" %>
      </div>
    </div>

    <div class="border-bottom">
      <% @authorizations.each do |authorization| %>
      <% application = authorization.application %>

      <%# https://github.com/github/github/issues/70370 applications are deleted in background %>
      <% next if application.nil? %>

          <div id="oauth-authorization-<%= application.key %>" class="js-revoke-item" data-id="<%= application.key %>" data-type="application">

            <div class="border-top">

              <div class="TableObject py-3">
                <div class="TableObject-item">
                  <%= link_to settings_oauth_authorization_path(application.key), class: "CircleBadge CircleBadge--small float-left", style: "background-color: ##{application.preferred_bgcolor}" do %>
                    <%= oauth_application_logo(authorization.safe_app, 30, :class => "CircleBadge-icon", :alt => authorization.safe_app.name) %>
                  <% end %>
                </div>
                <div class="TableObject-item TableObject-item--primary px-3">
                  <h5>
                    <%= link_to authorization.safe_app.name, settings_oauth_authorization_path(application.key), :class => "developer-app-name" %>
                  </h5>
                  <p class="text-small text-gray mb-0">
                    <%=last_authorization_access_description(authorization)%> &middot; Owned by <%= link_author application.user %>
                  </p>
                </div>
                <% if GitHub.user_abuse_mitigation_enabled? %>
                  <%= render partial: "oauth_applications/actions", locals: { authorization: authorization } %>
                <% else %>
                  <%= render layout: "shared/details_dialog", locals: {
                    button_class: "btn btn-sm btn-danger",
                    button_text: "Revoke",
                    title: "Are you sure you want to revoke authorization?" } do %>
                    <%= render partial: "oauth_applications/revoke_access_modal", locals: { authorization: authorization } %>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>

      <% end %>
    </div>

    <div class="paginate-container">
      <%= will_paginate @authorizations %>
    </div>

    <p class="protip">
      <%= octicon("info", :class => "notice-icon") %> Read more about connecting with third-party applications at <a href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps">GitHub Help</a>.
    </p>

  <% end %>
<% end %>
