<% page_info title: "Account renamed" %>

<%= render Primer::BlankslateComponent.new(
  title: "Your account has been renamed",
  button_text: "View #{current_user} settings",
  button_url: settings_path,
) do %>
  <p>
    Remember to
    <a href="<%= GitHub.help_url %>/articles/changing-a-remote-s-url/">update your local repositories</a>
    to point to the new location.
  </p>
<% end %>
