<% page_info :title => "Renaming your account…" %>

<poll-include-fragment src="<%= settings_user_renaming_path %>">
  <%= render Primer::BlankslateComponent.new(
    title: "Renaming your account…",
    description: "This may take a few minutes to complete.",
  ) do %>
    <p><%= image_tag "spinners/octocat-spinner-128.gif", size: "64x64", alt: "" %></p>
  <% end %>
</poll-include-fragment>
