<% if view.repository.token_scanning_feature_enabled? || view.repository.show_token_scanning_stafftools_ui? %>
  <div class="boxed-group">
    <h3>Secret scanning</h3>
      <div class="boxed-group-inner">
        <%= form_tag gh_toggle_token_scanning_stafftools_repository_path(view.repository), method: :post do %>
          <% if view.repository.token_scanning_staff_disabled? %>
            <input type="hidden" name="enable_token_scanning" value="1">
            <button type="submit" class="btn boxed-action">Enable</button>
          <% else %>
            <button type="submit" class="btn boxed-action">Disable</button>
          <% end %>
        <% end %>
        <h4>Toggle secret scanning</h4>
        <p>Enable/disable secret scanning on commits pushed to this repository.</p>
        
        <% if view.repository.token_scanning_enabled? %>
          <hr>
          <%= form_tag gh_rescan_for_tokens_stafftools_repository_path(view.repository), method: :post do %>
            <button type="submit" class="btn boxed-action">Rescan</button>
          <% end %>
          <h4>Rescan repository</h4>
          <p>Initiate a secret scan job on the entire repository.</p>
          <hr>
          <%= form_tag gh_dry_run_secret_scan_stafftools_repository_path(view.repository), method: :post do %>
            <button type="submit" class="btn boxed-action">Scan</button>
          <% end %>
          <h4>Dry run scan</h4>
          <p>Initiate a dry run of the secret scan job on the entire repository. Subscribers will not be notified, and results will not be persisted.</p>
        <% end %>
      </div>
  </div>
<% end %>
