<%graphql
  fragment PackageAndApplications on Repository {
    ... on Repository {
      name
      usedByEnabled
      usedByPackageId
      packages: dependencyGraphPackages(first: 30, includeDependentCounts: true, debug: true) {
        nodes {
          name
          packageId
          packageManagerHumanName
          packageManager
          repositoryDependentsCount
          packageDependentsCount
        }
      }
    }
  }
%>

<% view = Stafftools::RepositoryViews::NetworkView.new(:repository => current_repository) %>

<% page_info title: "#{current_repo.name_with_owner} - Dependency Graph" %>

<% if current_repo.public? %>
  <%
    repository = Views::Stafftools::Repositories::DependencyGraph::PackageAndApplications.new(repository)
  %>
  <div class="Box mb-3">
    <div class="Box-header">
      <span class="float-right">Query time: <%= (timing.real * 1000).round %>ms</span>
      <h5>Packages</h5>
    </div>

    <div class="Box-body">
      <p class="Box-row p-0">
        Packages are algorithmically linked to repositories. The packages below
        have been assigned to this repository; if any of the assignments is
        incorrect, reassign them as appropriate.
      </p>

      <% if repository.packages.nodes.none? %>
        <p class="text-bold m-0">No associated packages found</p>
      <% else %>
        <ul>
          <% repository.packages.nodes.each_with_index do |package, i| %>
            <li class="Box-row pl-0 pr-0">
              <span class="float-right">
                <a href="#reassign_<%= i %>" rel="facebox" class="btn btn-danger btn-sm">
                  Reassign this package
                </a>
              </span>

              <div class="summary">
                <dl class="m-0 flattened">
                  <dt>Package</dt>
                  <dd><%= package.name %></dd>
                  <dt>Package manager</dt>
                  <dd><%= package.package_manager_human_name %></dd>
                  <dt>Repository dependents</dt>
                  <dd><%= package.repository_dependents_count %></dd>
                  <dt>Package dependents</dt>
                  <dd><%= package.package_dependents_count %></dd>
                </dl>
              </div>

              <div id="reassign_<%= i %>" style="display:none">
                <h2 class="facebox-header" data-facebox-id="facebox-header">Reassign Package "<%= package.name %>"</h2>
                <p data-facebox-id="facebox-description">
                  Reassign a package to a different repository if it has been incorrectly assigned to this one.
                </p>
                <%= form_tag gh_reassign_package_stafftools_repository_path(current_repository), method: "post", class: "stafftools-form" do %>
                  <%= hidden_field_tag :package_manager, package.package_manager %>
                  <%= hidden_field_tag :package_name, package.name %>
                  <dl class="form-group">
                    <dt><label for="target-repository">Reassign to:</label></dt>
                    <dd>
                      <input type="text" name="target_repository" class="form-control" id="target-repository" placeholder="Enter repository in format owner/name" autofocus>
                    </dd>
                  </dl>
                  <div class="facebox-footer">
                    <button type="submit" class="btn btn-block">Reassign</button>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <% unless GitHub.enterprise? %>
    <div class="Box mb-3">
      <div class="Box-header">
        <h5>Used by button</h5>
      </div>
      <div class="Box-body">
        <p class="Box-row p-0">
          The Used By button will be displayed in the repository header based off of the Packages listed above.
          If a package is listed below, it should match what is displayed in the header.
          Display of the Used By button can be toggled below if a user requests.
        </p>

        <% if repository.packages.nodes.none? %>
          <p class="text-bold m-0">Used by should not be displayed because no associated packages were found.</p>
        <% else %>
          <% displayed_package = repository.packages.nodes.find { |package|
            package.package_id == repository.used_by_package_id
          } || repository.packages.nodes.first %>
          <% display_verb = repository.used_by_enabled ? "will" : "would" %>

          <p>
            Used by button <%= display_verb %> display: <%= content_tag :b, displayed_package.name %>
            <%= pluralize((number_with_delimiter displayed_package.repository_dependents_count), "repository") %>
          </p>
        <% end %>

        <p class="mt-4 mb-2">
          <%= form_tag gh_set_used_by_stafftools_repository_path(current_repo) do %>
            <% if repository.used_by_enabled %>
              <button type="submit" class="btn mb-1" name="used_by_enabled" value="0">Disable used by button</button>
            <% else %>
              <button type="submit" class="btn mb-1" name="used_by_enabled" value="1">Enable used by button</button>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h5>Detected manifest files</h5>
  </div>
  <div class="Box-body">
    <% if current_repo.public? %>
      <p>
        Manifest files on the default branch for this repository that have been detected since the last push.
      </p>
      <% if manifest_files.any? %>
        <ul class="boxed-group-list bottom-border">
          <% manifest_files.sort.each do |file| %>
            <li><a href="<%= blob_path(file, current_repo.default_branch, current_repo) %>"><%= file %></a></li>
          <% end %>
        </ul>
      <% else %>
        <p>No manifest files detected.</p>
      <% end %>
    <% end %>
    <p class="mt-4 mb-2">
      <%= form_tag gh_clear_dependencies_stafftools_repository_path(current_repo) do %>
        <button type="submit" class="btn mb-1">Clear dependencies</button>
      <% end %>
      Clears this repository's manifests and dependencies from the dependency graph.
    </p>
    <p class="mt-3">
      <%= form_tag gh_detect_manifests_stafftools_repository_path(current_repo) do %>
        <button type="submit" class="btn mb-1">Redetect manifests</button>
      <% end %>
      Queue a background job to detect this repository’s manifest files.

    </p>
  </div>
</div>
