<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::RepositoryViews::EventsView.new(:repository => current_repository, :page_param => @page_param) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Repository Events</h3>
  <div class="boxed-group-inner">
    <p>
      These are the dashboard feed events associated with this repository.
      They may show up in public feeds and organization dashboards, depending
      on the repository’s permissions.
    </p>
    <ul class="boxed-group-list">
      <% view.repo_events.each do |event| %>
        <li>
          <%= time_ago_in_words_js event.created_at %>
          <strong><%= event.event_type %></strong>
          <%= event.sender['login'] %>
        </li>
      <% end %>
    </ul>

    <% if view.multiple_pages? %>
      <p>
        <% if view.events_page > 1 %>
          <%= link_to("Previous", :events_page => view.prev_page) %>
          <%= "|" unless view.on_last_page? %>
        <% end %>
        <%= link_to("Next", :events_page => view.next_page) unless view.on_last_page? %>
      </p>
    <% end %>
  </div>
</div>

<div class="boxed-group dangerzone">
  <h3>Danger Zone</h3>
  <div class="boxed-group-inner">
    <a href="#delete_events_confirmation" rel="facebox[.dangerzone]"
       class="btn btn-danger boxed-action">
       Purge events
    </a>
    <h4>Purge events</h4>
    <p>Purge all events from this repository.</p>
  </div>

  <div id="delete_events_confirmation" style="display:none">
    <div class="facebox-header" data-facebox-id="facebox-header">
      Purge events
    </div>
    <p data-facebox-id="facebox-description">
      Are you sure you want to remove this repository’s events from the
      system and all timelines? <strong>This action cannot be undone.</strong>
    </p>
    <div class="full-button">
      <%= form_tag gh_purge_events_stafftools_repository_path(current_repository), :method => "delete" do %>
        <button type="submit" class="btn btn-danger">Delete events</button>
      <% end %>
    </div>
  </div>
</div>
