<% view = Stafftools::RepositoryViews::LanguagesView.new(:repository => current_repository, :params => params) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Language breakdown</h3>
  <div class="boxed-group-inner">
    <p>
      <%= octicon "info" %>
      Only
      <%= link_to "languages", "https://github.com/github/linguist/blob/master/lib/linguist/languages.yml" %>
      of these types are detected and shown here:
      <%= safe_join(view.detectable_language_types.map do |type|
            content_tag :code, type
          end, ", ") %>
    </p>
    <% if view.has_breakdown? %>
      <ul class="boxed-group-list bottom-border">
        <% view.breakdown.each do |k, v| %>
          <li>
            <strong><%= k %></strong>
            <%= number_to_human_size(v) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No language data available.</p>
    <% end %>

    <hr class="bleed-flush">

    <p>
      Queue a background job to reanalyze this repository’s languages.
      <%= form_tag gh_analyze_language_stafftools_repository_path(current_repository) do %>
        <button type="submit" class="btn">Reanalyze languages</button>
      <% end %>
    </p>

  </div>
</div>

<div class="boxed-group">
  <h3>Per-file breakdown</h3>
  <div class="boxed-group-inner">
    <% if view.show_file_breakdown? %>
      <ul class="boxed-group-list bottom-border">
        <% view.file_breakdown.each do |lang, files| %>
          <li>
            <strong><%= lang %></strong>
            <% files.each do |file| %>
              <li><%= file %></li>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h4>Generate and show breakdown</h4>
      <p>
        <%= link_to "View", languages_stafftools_repository_path(current_repository.owner, current_repository, :breakdown => "1") %>
        a per-file breakdown of this repository’s languages.
      </p>
    <% end %>
  </div>
</div>
