<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "#{current_repository.name_with_owner} - Permissions" %>
<div class="site-admin-unboxed">
  <% if current_repository.anonymous_git_access_available? %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        Anonymous Git read access
      </h2>
    </div>

    <% if current_repository.anonymous_git_access_enabled? %>
      <p>Unauthenticated Git operations <strong>can</strong> read the contents of this repository.</p>
      <p>Anyone with network access to GitHub Enterprise will be able to read the code in this repository.</p>
    <% else %>
      <p>Unauthenticated Git operations <strong>cannot</strong> read the contents of this repository.</p>
      <p>Authenticaticated access to GitHub Enterprise is required to read the code in this repository.</p>
    <% end %>

    <% if current_repository.fork? %>
      <p>Forks inherit the anonymous Git read access settings of the upstream or parent repository.<p>
    <% else %>
      <% if current_repository.anonymous_git_access_locked? %>
        <p>
          The anonymous Git read access setting is <strong>locked</strong> and can only be changed by site administrators.
        <p>
      <% end %>
      <p>
        The anonymous Git read access setting can be changed from the <a href="<%= admin_stafftools_repository_path(current_repository.owner, current_repository) %>">admin page</a>.
      </p>
    <% end %>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">
      Default permission
    </h2>
  </div>

  <% if @org.default_repository_permission != :none %>
    <p>
      By default all <strong>@<%= @org %></strong> members have
      <strong><%= @org.default_repository_permission_name %></strong>
      access to all repositories owned by the organization.
    </p>
    <p>
      This setting does not apply to outside collaborators.
    </p>
  <% else %>
    <p>
      Members of <strong>@<%= @org %></strong> do not have access to any of
      the organization’s repositories by default.
    </p>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">
      Individual permissions
    </h2>
  </div>

  <% if @users.any? %>
    <p>
      These users have been given access to this repository via a direct
      collaborator grant, through a team membership or because they are an
      owner on the organization.  If a user has multiple grants, the
      <strong>most permissive</strong> one is listed.
    </p>

    <div class="boxed-group">
      <h3>Search for a User</h3>
      <div class="boxed-group-inner">
        <%= form_tag search_permissions_stafftools_repositories_path do %>
          <p>
            <input class="form-control" type="text" required placeholder="username" name="username" value="" aria-label="Username">
            <button class="btn" type="submit">Search</button>
          </p>
        <% end %>
      </div>
    </div>

    <table class="site-admin-table">
      <% @users.each do |user| %>
        <tr id="user-permission-<%= user.id %>">
          <td>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
            <% ability = @abilities[user] %>
            <small class="permissions-<%= ability.try(:action) || ability.try(:name) %>">
              <% if ability %>
                <%= ability.try(:action) || ability.try(:name) %> via
                <% if ability.try(:grandparent) %>
                  <% subject = ability.grandparent.subject %>
                  <% if subject.is_a? Team %>
                    <%= link_to "@#{subject}", gh_stafftools_team_path(subject) %>
                  <% else %>
                    <%= ability.grandparent.subject %>
                  <% end %>
                <% elsif ability.is_a?(Role) || ability.actor == user && (ability.try(:subject) || ability.try(:target)) == current_repository %>
                  <% if ability.try(:indirect?) %>
                    org admin
                  <% else %>
                    direct collaborator
                  <% end %>
                <% else %>
                  <strong>unknown ability</strong>
                <% end %>
              <% else %>
                <strong>no ability found</strong>
              <% end %>
            </small>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate @users, :params => {:user_id => params[:user_id], :repository => params[:repository]} %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      No users have access to this repository.
    </p>
  <% end %>
</div>
