<%graphql
  fragment Repository on Repository {
    id
    name
    owner {
      login
    }
    resourcePath
    isFork
    isMirror
    mirrorUrl
    isPrivate
    description
    descriptionHTML
    topicSuggestionsEnabled
    primaryLanguage {
      name
    }
    ...RepositoriesHelper::RepositoryLabelFragment
    repositoryTopics(first: 20) {
      nodes {
        topic {
          name
        }
      }
    }
    parent {
      resourcePath
      owner {
        login
      }
    }
  }
%>
<% repository = Views::Orgs::Topics::Repository::Repository.new(repository) %>

<div class="js-topic-save-notice-container width-full pb-4 <%= repository.is_private? ? "private" : "public" %> <%= repository.is_fork? ? "fork" : "source" %> <%= "mirror" if repository.is_mirror? %>" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="mb-1">
    <h3 class="h4 text-normal">
      <a href="<%= repository.resource_path %>" itemprop="name codeRepository">
        <span class="text-gray"><%= repository.owner.login %> /</span>
        <%= repository.name %>
      </a>
      <%= graphql_repository_label(repository, classes: "ml-1 mb-1") %>

      <% if repository.primary_language.present? %>
        <span class="d-block f6 text-gray text-normal float-right">
          <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name)) %>
        </span>
      <% end %>

      <span class="js-repo-topics-save-notice float-right d-none text-green f6 mr-2">
        <%= octicon("check") %>
        Saved
      </span>
    </h3>

    <% if repository.is_fork? && repository.parent %>
      <span class="f6 text-gray mb-1">
        Forked from
        <a href="<%= repository.parent.resource_path %>" class="muted-link">
          <%= repository.parent.owner.login %>
        </a>
      </span>
    <% end %>

    <% if repository.is_mirror? %>
      <p class="f6 text-gray mb-1">
        Mirrored from
        <a href="<%= repository.mirror_url.to_s %>" class="muted-link">
          <%= truncate(repository.mirror_url.to_s, length: 100) %>
        </a>
      </p>
    <% end %>
  </div>

  <% if repository.description.present? %>
    <div class="col-9 d-inline-block text-gray mb-2 pr-4" itemprop="description">
      <%= repository.description_html %>
    </div>
  <% end %>

  <div class="js-topic-form-area form-group mt-0">
    <div class="width-full tag-input-container topic-input-container d-inline-block js-tag-input-container">
      <div class="js-tag-input-wrapper">
        <%= form_tag update_repo_topics_path(repository.owner.login, repository.name), :method => :put, :class => "js-repo-topics-edit-form" do %>
          <div class="org-repo-tag-input tag-input form-control d-inline-block bg-white py-0">
            <ul class="js-tag-input-selected-tags d-inline">
              <li class="d-none topic-tag-action f6 float-left js-tag-input-tag js-template">
                <span class="js-placeholder-tag-name"></span>
                <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                  <%= octicon "x", height: "12px", "aria-label": "Remove topic" %>
                </button>
                <input type="hidden" name="repo_topics[]" class="js-topic-input" value="">
              </li>

              <% repository.repository_topics.nodes.each do |repo_topic| %>
                <li class="topic-tag-action f6 float-left js-tag-input-tag">
                  <%= repo_topic.topic.name %>
                  <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                    <%= octicon "x", height: "12px", "aria-label": "Remove topic" %>
                  </button>
                  <input type="hidden" name="repo_topics[]" value="<%= repo_topic.topic.name %>">
                </li>
              <% end %>
            </ul>

            <auto-complete for="repo_topics_<%= repository.id %>_suggestions"
                           src="<%= topic_autocomplete_path(repository.owner.login, repository.name) %>">
              <input type="text" id="repo_topics_<%= repository.id %>"
                     class="tag-input-inner form-control bg-white shorter d-inline-block p-0 my-1 border-0"
                     aria-label="Topics for <%= repository.name %>"
                     <% if autofocus %>autofocus<% end %>>
              <ul class="suggester border" style="top: 100%;" id="repo_topics_<%= repository.id %>_suggestions"></ul>
            </auto-complete>
          </div>
        <% end %>
      </div>
      <span class="error js-topic-error"></span>
    </div>
    <% if repository.topic_suggestions_enabled? %>
      <div class="js-topic-suggestions-container topic-input-container" data-url="<%= repository_topic_suggestions_path(repository.owner.login, repository.name) %>">
        <include-fragment src="<%= repository_topic_suggestions_path(repository.owner.login, repository.name) %>"></include-fragment>
      </div>
    <% end %>
  </div>
</div>
