<%graphql
  fragment Organization on Organization {
    name
    ...Views::Orgs::Topics::List::Organization
  }
%>
<% organization = Views::Orgs::Topics::Index::Organization.new(organization) %>
<% page_info responsive: false, title: "Repository topics - #{organization.name}" %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      <%= organization.name %> repositories you contribute to
    <% end %>
  <% end %>

  <%= render partial: "orgs/topics/list",
             locals: { organization: organization } %>
<% end %>
