<div class="flex-auto pr-3">
  <%= f.text_field :whitelisted_value,
    id: "ip_whitelist_entry_#{entry.id}_whitelisted_value",
    class: "form-control input-block",
    autofocus: !entry.new_record?,
    placeholder: "IP address or range in CIDR notation",
    "aria-label" => "IP address or range in CIDR notation" %>
</div>
<div class="flex-auto pr-3">
  <%= f.text_field :name,
    id: "ip_whitelist_entry_#{entry.id}_name",
    class: "form-control input-block",
    placeholder: "Allow access for this group of people",
    "aria-label" => "Allow access for this group of people" %>
</div>
<div class="">
  <%= f.button type: "submit", class: "btn btn-primary" do %>
    <% if entry.new_record? %>
      <%= octicon "plus" %> Add
    <% else %>
      Update
    <% end %>
  <% end %>
</div>
