<% override_disabled ||= false %>
<li class="table-list-item position-relative">
  <div class="table-list-cell v-align-text-top break-word pl-3">
    <strong class="<% if entry.active? && !override_disabled %>text-gray-dark<% end %>"><%= entry.whitelisted_value %></strong>
    <% if !entry.active? || override_disabled %>
      <span title="Label: Disabled" class="ml-2 Label Label--gray-darker">Disabled</span>
    <% end %>
  </div>

  <div class="table-list-cell v-align-text-top">
    <% if this_owner == entry.owner %>
      <span class="text-gray"><%= entry.name %></span>
    <% else %>
      <span class="text-gray">Managed by the <%= entry.owner_name_and_type %></span>
    <% end %>
  </div>

  <div class="table-list-cell v-align-text-top text-right pr-3">
    <div class="BtnGroup d-inline-flex text-left">
      <% if this_owner == entry.owner %>
        <details class="details-reset details-overlay d-inline-block BtnGroup-parent position-relative">
          <summary class="btn BtnGroup-item btn-sm" role="button">
            Edit
          </summary>
          <div class="Popover right-0 mt-6">
            <div class="Popover-message Popover-message--top-right Box p-3 box-shadow-large" style="width: 600px">
              <%= form_for entry, url: resolve_ip_whitelist_entry_path(entry), html: { class: "d-flex" } do |f| %>
                <%= render partial: "ip_whitelist_entries/edit_entry",
                  object: entry, as: :entry, locals: { this_owner: this_owner, f: f } %>
              <% end %>
            </div>
          </div>
        </details>
        <% if entry.active? %>
          <%= button_to "Disable", resolve_ip_whitelist_entry_path(entry), params: {ip_whitelist_entry: {active: false}}, class: "btn BtnGroup-item btn-sm", method: :patch, form_class: "BtnGroup-parent" %>
        <% else %>
          <%= button_to "Enable", resolve_ip_whitelist_entry_path(entry), params: {ip_whitelist_entry: {active: true}}, class: "btn BtnGroup-item btn-sm", method: :patch, form_class: "BtnGroup-parent" %>
        <% end %>
        <%= render layout: "shared/details_dialog", locals: {
          button_class: "btn BtnGroup-item btn-sm btn-danger",
          button_text: "Delete",
          details_class: "ws-normal text-gray-dark lh-default d-inline-block BtnGroup-parent",
          title: "Are you sure you want to delete this entry?"
        } do %>
          <div class="Box-body overflow-auto">
            This will permanently delete the IP allow list entry for <strong><%= entry.whitelisted_value %></strong>.
            <%= form_tag resolve_ip_whitelist_entry_path(entry), method: :delete do %>
              <button type="submit" class="btn btn-danger btn-block mt-3">Yes, delete this IP allow list entry</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
