 <%
  SecureHeaders::append_content_security_policy_directives(
    request,
    form_action: [pfs_auth_host]
  )
 %>

<% page_info title: "Codespaces - Authenticating", footer: false %>

<%= form_tag pfs_service_url, method: :post, class: "js-auto-submit-form" do %>
  <%= hidden_field_tag "cascadeToken", cascade_token %>
<% end %>

<%= render "codespaces/auth_loading" %>
