<%# view is instance of Stafftools::RepositoryViews::PagesHTTPSStatueView %>

<% if GitHub.pages_https_redirect_enabled? %>
  <dl>
    <dt>HTTPS redirects</dt>
    <% if view.https_redirect? %>
      <dd>Enabled</dd>
    <% elsif view.https_available? %>
      <dd>Disabled</dd>
    <% elsif view.certificates_enabled? && view.cname? %>
      <dd>Unavailable because a CNAME is configured &amp; no HTTPS certificate has been issued and approved</dd>
    <% else %>
      <dd>Unavailable</dd>
    <% end %>
  </dl>
<% end %>

<% if view.cname? && view.certificates_enabled? %>
  <dl>
    <dt>HTTPS certificate</dt>
    <% if view.certificate.present? %>
      <dd>
        <% if view.certificate.usable? %>
          <%= octicon("check", :class => "success") %>
        <% else %>
          <%= octicon("alert", :class => "error") %>
        <% end %>
        Current state: <code><%= view.certificate.state_description %></code> <a href="<%= view.certificate_sentry_url %>">Search Sentry</a>
      </dd>
    <% elsif view.eligible_for_certificate? %>
      <dd>This custom domain is eligible for HTTPS, but a certificate has not yet been issued.</dd>
    <% else %>
      <dd>This custom domain or user is not eligible for HTTPS.</dd>
    <% end %>
  </dl>
<% end %>

<% if view.certificates_enabled? && view.cname? && view.eligible_for_certificate? %>
  <hr class="full-bleed">
  <%= form_tag gh_request_https_certificate_stafftools_repository_pages_path(current_repository), :method => "put" do %>
    <button type="submit" class="btn boxed-action">Request HTTPS certificate</button>
  <% end %>
  <h4>Request HTTPS certificate</h4>
  <p>
    Request or renew an HTTPS certificate for the <strong><%= view.cname %></strong> custom domain,
    or nudge the current one along.
  </p>
<% end %>
