<%# erblint:counter TooltipCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% if @health_check.nil? %>
  <dl>
    <dt>Health check</dt>
    <dd>
      <%= octicon("alert", :class => "error") %>
      Health check query timed out
    </dd>
  </dl>
<% else %>
  <dl>
    <dt>Valid domain?</dt>
    <dd>
      <% if @health_check.valid_domain? %>
        True
      <% else %>
        <%= octicon("alert", :class => "error") %>
        False
      <% end %>
    </dd>
  </dl>
  <dl>
    <dt>Domain type</dt>
    <dd>
      <% if @health_check.apex_domain? %>
        Apex domain
      <% else %>
        Subdomain
      <% end %>
    </dd>
  </dl>
  <% if @health_check.dns? %>
    <dl>
      <dt>DNS record type</dt>
      <dd>
        <% if @health_check.a_record? %>
          <% unless @health_check.should_be_a_record? %>
            <span class="tooltipped tooltipped-s"
                  aria-label="Should be a CNAME record">
              <%= octicon("alert", :class => "error") %>
            </span>
          <% end %>
          A record
        <% end %>
        <% if @health_check.cname_record? %>
          <% if @health_check.should_be_a_record? %>
            <span class="tooltipped tooltipped-s"
                  aria-label="Should be an A record">
              <%= octicon("alert", :class => "error") %>
            </span>
          <% end %>
          CNAME record
        <% end %>
      </dd>
    </dl>
    <% if @health_check.a_record? %>
      <dl>
        <dt>DNS record</dt>
        <dd>
          <% if @health_check.old_ip_address? %>
            <%= octicon("alert", :class => "error") %>
            Points to old IP addresses
          <% elsif @health_check.cloudflare_ip? %>
            Points to a Cloudflare IP address
          <% elsif @health_check.pointed_to_github_pages_ip? %>
            Points to new IP addresses
          <% else %>
            <%= octicon("alert", :class => "error") %>
            Does not point to GitHub IPs
          <% end %>
        </dd>
      </dl>
    <% end %>
    <% if @health_check.cname_record? %>
      <dl>
        <dt>DNS record</dt>
        <dd>
          <% if @health_check.cname_to_github_user_domain? %>
            Points to user pages domain
          <% elsif @health_check.github_domain? && @health_check.dns.first.value %>
            GitHub-owned domain with CNAME record pointing to <code><%= @health_check.dns.first.value %></code>
          <% else %>
            <%= octicon("alert", :class => "error") %>
            Does not point to user pages domain
          <% end %>
        </dd>
      </dl>
    <% end %>
    <dl>
      <dt>Served by Pages</dt>
      <dd>
        <% if @health_check.old_ip_address? %>
          <%= octicon("alert", :class => "error") %>
          Old pages IPs are
          <%= link_to \
                "no longer in service",
                "#{GitHub.blog_url}/1917-github-pages-legacy-ip-deprecation" %>
        <% elsif @health_check.served_by_pages? %>
          True
        <% else %>
          <%= octicon("alert", :class => "error") %>
          False
        <% end %>
      </dd>
    </dl>
  <% else %>
    <dl>
      <dt>DNS record</dt>
      <dd>
        <%= octicon("alert", :class => "error") %>
        DNS lookup failed
      </dd>
    </dl>
  <% end %>
<% end %>
