<%# erblint:disable ProperTagNesting %>
<%graphql
  fragment Team on Team {
    name
    destroyTeamMemberResourcePath
  }
%>

<% team = Views::Orgs::TeamMembers::BulkDestroyMembersModal::Team.new(team) %>

<details-dialog class="anim-fade-in fast Box d-flex flex-column">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">
      Removing <%= pluralize(members.count, "member", "members") %> from <strong><%= team.name %></strong>
    </h3>
  </div>

  <!-- TODO: Only display if a private fork is being deleted -->
  <div class="flash flash-full flash-warn">
    Removing members from the <%= team.name %> team
    will also delete their forks of any private
    <%= team.name %>-owned repositories. This may take up to 24 hours to occur.
  </div>

  <div class="Box-body overflow-auto">
    <p>The following members will be removed:</p>
    <div class="confirm-removal-list-container">
      <ul class="list-style-none">
        <% members.each do |member| %>
          <li class="confirm-removal-list-item">
            <%= avatar_for(member, 16, :class => "avatar") %>
            <%= member.login %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="Box-footer">
    <%= form_tag team.destroy_team_member_resource_path.to_s, :method => :delete do %>
      <% members.each do |member| %>
        <input type="hidden" name="team_members_ids[]" value="<%= member.id %>">
      <% end %>
      <input type="hidden" name="redirect_to_path" value="<%= redirect_to_path %>">
      <button type="submit" class="btn btn-danger">Remove members</button>
    <% end %>
  </div>
</div>
