<details-dialog class="anim-fade-in fast Box d-flex flex-column">
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon "x" %>
    </button>
    <h3 class="Box-title">
      <% if members.size == 1 %>
        Change the team role of <%= members.first.login %>?
      <% else %>
        Change the team role of <%= pluralize members.size, "member", "members" %>?
      <% end %>
    </h3>
  </div>
  <div class="flash flash-full flash-warn">
    This action has no effect on Organization owners.
  </div>
  <%= form_tag team_set_role_path, method: :put, class: "overflow-auto" do %>
    <div class="Box-body">
      <p>Select a new role:</p>
      <div class="form-group">
        <div>
          <div class="form-checkbox">
            <label>
              <input name="role" type="radio" value="maintainer" required>
              Maintainer
            </label>
            <p class="note">
              Can add and remove team members and create child teams.
            </p>
          </div>
        </div>
        <div>
          <div class="form-checkbox">
            <label>
              <input name="role" type="radio" value="member" required>
              Member
            </label>
            <p class="note">
              Has no administrative permissions on the team.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="Box-footer">
      <input type="hidden" name="team_member_ids" value="<%= [member_ids].flatten.join(",") %>">
      <button type="submit" class="btn btn-danger" data-disable-invalid>Change role</button>
    </div>
  <% end %>
</details-dialog>
