<%# erblint:disable LandmarkHasLabel %>
<%graphql
  fragment Organization on Organization {
    availableSeats @include(if: $orgHasLimitedSeats)
    hasUnlimitedSeats
    activeEnterpriseCloudTrial
    login
    name
    subscription {
      plan {
        isPerSeat
      }
    }
    team(slug: $slug) {
      invitations(first: 50) {
        edges {
          node {
            email
            invitationType
            invitee {
              avatarUrl(size: 56)
              login
              name
              resourcePath
            }
          }
        }
        totalCount
      }
      membersResourcePath
      membershipRequests(first: 50) {
        edges {
          node {
            requester {
              avatarUrl(size: 56)
              login
              name
              resourcePath
            }
          }
        }
        totalCount
      }
      memberSuggestionsResourcePath
      name
      repositories {
        totalCount
      }
      slug
    }
    viewerCanAdminister
  }
%>
<%
  org = Views::Orgs::TeamMembers::ManageMembershipsDialog::Organization.new(org)
  team = org.team
%>

<div class="text-center px-3 pt-3">
  <%= octicon('organization', :height => '32', :class => 'text-gray') %>
  <h3 class="add-to-org-title mt-3">Add member to <strong><%= team.name %></strong></h3>
</div>

<%= render "orgs/invitations/rate_limited_message", hide_close: true if !!rate_limited %>

<% if org.subscription.plan.is_per_seat && !org.has_unlimited_seats && org.viewer_can_administer %>
  <div class="d-block text-center text-gray-light mt-2">
    <span class="available-seats"><%= pluralize org.available_seats, seat_or_license(current_organization) %> left &mdash;</span>
    <%= more_seats_link(org.active_enterprise_cloud_trial, org.login, self_serve_return_to: team.members_resource_path) %>
  </div>
<% end %>

<%= form_tag team.members_resource_path.to_s,
  class: "mt-4 pb-3 px-3 js-add-team-member-form #{"js-needs-interstitial" if team.repositories.total_count > 0}",
  "data-action-type": "add_member" do %>
  <% if Rails.env.development? && params[:fakestate] %>
    <input type="hidden" name="fakestate" value="<%= params[:fakestate] %>">
  <% end %>

  <div class="input-group">
    <auto-complete src="<%= team.member_suggestions_resource_path %>"
        for="team-invite-complete-results"
        class="auto-search-group d-block">
      <input type="text" name="member"
        class="form-control input-block input-contrast auto-search-input new-member-field"
        <%= "disabled" if !!rate_limited %>
        autofocus required
        aria-label="Search by username, full name or email address"
        placeholder="Search by username, full name, or email address">
      <%= octicon('person') %>
      <ul id="team-invite-complete-results" class="invite-member-results autocomplete-results"></ul>
    </auto-complete>
    <div class="input-group-button">
      <button type="submit" class="btn btn-primary js-auto-complete-button">Invite</button>
    </div>
  </div>
<% end %>

<div class="js-add-members-container d-flex flex-column flex-auto overflow-hidden <%= "js-needs-interstitial" if team.repositories.total_count > 0 %>" data-url="<%= org_team_repositories_accessible_to_members_path(team_slug: team.slug) %>">
  <div class="js-add-members-loading-state width-full text-center mt-3" hidden>
    <%= image_tag "spinners/octocat-spinner-128.gif", :size => "64x64", :alt => "" %>
  </div>
  <div class="js-add-members-modal-content flex-auto overflow-auto mb-3">
    <% if team.invitations.total_count > 0 || team.membership_requests.total_count > 0 %>
      <div class="js-manage-memberships-container">
        <div class="mx-3 border-bottom">
          <div class="clearfix">
            <nav class="manage-memberships-nav" role="navigation">
              <div class="manage-memberships-tabs-item js-manage-invitations-tabs-item text-gray no-wrap float-left pb-3 mr-4 <%= "selected" if team.invitations.total_count > 0 %>">
                Invitations
                <%= render Primer::CounterComponent.new(count: team.invitations.total_count) %>
              </div>

              <div class="manage-memberships-tabs-item js-manage-requests-tabs-item text-gray no-wrap float-left pb-3 <%= "selected" if team.invitations.total_count == 0 %>">
                Requests
                <%= render Primer::CounterComponent.new(count: team.membership_requests.total_count) %>
              </div>
            </nav>
          </div>
        </div>

        <ul class="team-invitations-list js-manage-invitations-list list-style-none px-3 <%= "d-none" if team.invitations.total_count == 0 %>">
          <% if team.invitations.total_count > 0 %>
            <% team.invitations.edges.map(&:node).each do |invitation| %>
              <% if invitation.invitation_type == PlatformTypes::OrganizationInvitationType::EMAIL %>
                <li class="list-item d-flex flex-items-baseline py-3 border-bottom">

                  <span class="mr-2 text-gray-light">
                    <%= octicon("mail", :height => 28, :class => "avatar invite-icon") %>
                  </span>

                  <div class="flex-auto">
                    <span class="team-member-username css-truncate css-truncate-target text-bold">
                      <%= invitation.email %>
                    </span>
                  </div>

                  <a href="<%= org_edit_email_invitation_path(org: org.login, email: invitation.email) %>" class="btn btn-sm">
                    Edit invitation
                  </a>
                </li>
              <% else %>
                <% invitee = invitation.invitee %>
                <li class="list-item d-flex flex-items-baseline py-3 border-bottom">

                  <a href="<%= invitee.resource_path %>" itemprop="url">
                    <img class="<%= avatar_class_names(invitee) %> mr-2" src="<%= invitee.avatar_url %>" alt="<%= invitee.login %>" width="28" height="28">
                  </a>

                  <div class="flex-auto">
                    <a class="team-member-username text-bold link-gray-dark no-underline mr-1" href="<%= invitee.resource_path %>">
                      <%= invitee.name || invitee.login %>
                    </a>

                    <span class="mt-1 mb-0 text-small text-gray-light text-normal" itemprop="name">
                      <%= invitee.login %>
                    </span>
                  </div>

                  <% if org.viewer_can_administer %>
                    <a href="<%= org_edit_invitation_path(org: org.login, invitee_login: invitee.login) %>"
                       class="btn btn-sm edit-invitation">
                      Edit invitation
                    </a>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <li class="pt-4 pb-1 text-gray text-center">There are no pending invitations.</li>
          <% end %>
        </ul>

        <ul class="team-requests-list js-manage-requests-list list-style-none mx-3 <%= "d-none" if team.invitations.total_count > 0 %>">
          <% if team.membership_requests.total_count > 0 %>
            <% team.membership_requests.edges.map { |edge| edge.node.requester }.each do |requester| %>
              <li class="list-item d-flex flex-items-center py-3 border-bottom">
                <span class="mr-2">
                  <a href="<%= requester.resource_path %>" itemprop="url">
                    <img class="<%= avatar_class_names(requester) %>" src="<%= requester.avatar_url %>" width="28" height="28" alt="<%= requester.login %>">
                  </a>
                </span>

                <div class="flex-auto">
                  <a class="team-member-username text-bold no-underline mr-1 link-gray-dark v-align-middle" href="<%= requester.resource_path %>">
                    <%= requester.name ||requester.login %>
                  </a>

                  <div class="mt-1 mb-0 text-small text-gray-light text-normal d-inline-block v-align-middle" itemprop="login">
                    <%= requester.login %>
                  </div>
                </div>

                <div class="BtnGroup no-wrap flex-shrink-0">
                  <%=
                    button_to(
                      "Approve",
                      approve_team_membership_request_path(
                        requester: requester.login,
                        return_to: local_assigns[:return_to]),
                      method: "post",
                      class: "btn btn-sm BtnGroup-item",
                      form: { "data-action-type" => "approve_request", "data-return-to" => local_assigns[:return_to] },
                      form_class: "BtnGroup-parent js-approve-membership-request",
                      "data-member-name": requester.login )
                  %>
                  <%=
                    button_to(
                      "Deny",
                      deny_team_membership_request_path(
                        requester: requester.login,
                        return_to: local_assigns[:return_to]),
                      method: "post",
                      class: "btn btn-sm BtnGroup-item",
                      form_class: "BtnGroup-parent")
                  %>
                </div>
              </li>
            <% end %>
          <% else %>
            <li class="pt-4 pb-1 text-gray text-center">There are no pending requests to join.</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
