<div class="table-list-filters">
  <div class="table-list-header-toggle states float-left js-membership-tabs">
    <div class="js-membership-tab btn-link <%= 'selected' unless view.membership == "CHILD_TEAM" %>" data-membership="">
      <%= octicon('person') %>
      <%= pluralize number_with_delimiter(view.immediate_team_members_count), 'member', 'members' %>
    </div>

    <div class="js-membership-tab btn-link <%= 'selected' if view.membership == "CHILD_TEAM" %>" data-membership="membership:child-team">
      <%= octicon('people') %>
      <%= pluralize number_with_delimiter(view.child_team_members_count), 'child team member', 'child team members' %>
    </div>
  </div>
</div>
