<%# `view` is an instance of Orgs::TeamMembers::IndexPageView %>
<ul class="member-listing table-list table-list-bordered adminable">
  <% view.members.each do |member| %>
    <%= render_partial_view 'orgs/team_members/member', Orgs::TeamMembers::MemberView,
      team: view.team,
      member: member,
      disable_bulk_actions: view.membership == "CHILD_TEAM"
    %>
  <% end %>
</ul>

<% if view.no_immediate_team_members? %>
  <div class="blankslate blankslate-spacious blankslate-capped blankslate-clean-background border border-top-0">
    <%= octicon('people', :height => 32, :class => "blankslate-icon") %>
    <h3>This team doesn’t have any members.</h3>
  </div>
<% elsif view.no_child_team_members? %>
  <div class="blankslate blankslate-spacious blankslate-capped blankslate-clean-background border border-top-0">
    <%= octicon('people', :height => 32, :class => "blankslate-icon") %>
    <h3>This team doesn’t have any child team members.</h3>
  </div>
<% elsif view.no_members? %>
  <div class="blankslate blankslate-spacious blankslate-capped blankslate-clean-background border border-top-0">
    <%= octicon('search', :height => 32) %>
    <h3>We couldn’t find any matching members.</h3>
  </div>
<% else %>
  <div class="paginate-container">
    <%= will_paginate view.members, page_links: false %>
  </div>
<% end %>
