<%# `view` is an instance of Orgs::TeamMembers::SuggestionsView %>

<% if view.suggestions? %>
  <% view.suggestions.each do |result| %>
    <% if result.is_a?(User) %>
      <li role="option" class="member-suggestion typeahead-result <%= "not-a-member" unless view.org_member?(result) %> <%= "disabled" unless view.item_enabled_for?(result) %>"
          <% if !view.item_enabled_for?(result) %>aria-disabled="true"<% end %>
          data-autocomplete-value="<%= result %>">
        <%= avatar_for(result, 24, :class => "avatar") %>
        <p class="member-suggestion-info">
          <strong class="member-login"><%= result %></strong>
          <span class="member-name"><%= result.profile_name %></span>
        </p>
        <% if view.team_member?(result) %>
          <%= octicon('check', :class => 'float-right') %>
        <% else %>
          <%= octicon('plus', :class => 'float-right') %>
        <% end %>

        <% if view.team_member?(result) %>
          <p class="already-member-note text-small">Already a member of this team</p>
        <% elsif !view.org_member?(result) %>
          <% if view.invited?(result) %>
            <p class="non-member-note text-small">Invitation already sent</p>
            <p class="non-member-action text-small">Invitation already sent</p>
          <% elsif !view.direct_add_two_factor_eligible?(result) %>
            <p class="non-member-note text-small">Must enable two-factor authentication</p>
          <% else %>
            <p class="non-member-note text-small">Not a member of this organization</p>
            <p class="non-member-action text-small">
              <% if view.can_send_invitations? %>
                <%= invite_or_add_action_word %> to this <strong>organization</strong> and team
              <% else %>
                Only <strong>organization</strong> owners can <%= view.owner_allowed_action %>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </li>
    <% else %>
      <li role="option" class="team-suggestion typeahead-result" data-autocomplete-value="<%= result %>">
        <%= octicon('jersey') %>
        <div class="team-suggestion-info css-truncate">
          <div class="css-truncate-target">
            <strong class="team-name"><%= result.to_s %></strong>
            <span class="team-size"><%= pluralize result.members_count, "person" %></span>
          </div>
          <% if result.description %>
            <div class="team-description css-truncate-target"><%= result.description %></div>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
<% elsif view.allow_email_invites? && view.email_invitation? %>
  <li role="option" class="member-suggestion email-suggestion typeahead-result" data-autocomplete-value="<%= view.query %>">
    <%= octicon("mail", :height => 16, :class => "mt-1 float-left mr-1") %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= view.query %></strong>
    </p>
    <p class="non-member-note text-small">Invite to <%= view.team %></p>
    <p class="non-member-action text-small">Invite to <%= view.team %></p>
    <%= octicon("plus", :class => "float-right") %>
  </li>
<% elsif view.email_query? %>
  <li role="option" class="member-suggestion typeahead-result disabled" aria-disabled="true">
    <%= view.query %> doesn’t have a GitHub account
  </li>
<% elsif view.user_query? %>
  <li role="option" class="member-suggestion typeahead-result disabled" aria-disabled="true">
    <%= view.query %> isn’t a GitHub member
  </li>
<% end %>
