<%# erblint:disable DeprecatedCustomCss %>
<%# erblint:disable ButtonHasType %>
<%# erblint:counter TooltipCounter 1 %>
<%# `view` is an instance of Orgs::TeamMembers::IndexPageView %>
<%graphql
  fragment Organization on Organization {
    name
    team(slug: $slug) {
      id
      editTeamResourcePath @include(if: $showAdminStuff)
      externallyManaged
      hasLdapMapping
      invitations(first: 50) @include(if: $showAdminStuff) {
        totalCount
      }
      ldapSynced
      membershipRequests(first: 50) @include(if: $showAdminStuff) {
        totalCount
      }
      membersResourcePath
      memberToolbarActionsResourcePath
      name
      privacy
      resourcePath
      stafftoolsResourcePath
      viewerCanAdminister
      ...Views::Orgs::Teams::MembershipToggle::Team
    }
    teamsResourcePath
    ...Views::Orgs::TeamMembers::ManageMembershipsDialog::Organization @include(if: $showAdminStuff)

  }
%>

<%
  org = Views::Orgs::TeamMembers::Index::Organization.new(view.graphql_org)
  team = org.team

  page_info \
    title: "#{team.name} · #{org.name} Team",
    responsive: false,
    class: "team",
    dashboard_pinnable_item_id: team.id
%>

<div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= team.member_toolbar_actions_resource_path.to_s %>" data-bulk-actions-parameter="member_logins">
  <div class="container mt-4">
    <% page_info :stafftools => team.stafftools_resource_path.to_s %>
    <% if view.show_team_maintainer_help_ui? %>
      <div class="Box mb-4 d-flex flex-items-center js-notice">
        <div class="px-3">
          <%= octicon "light-bulb", :class => "mr-1" %>
          <strong>Tip</strong>
        </div>
        <div class="px-3 py-2 border-left flex-auto">
          <span class="text-bold"><%= team.name %> currently has no team maintainers.</span> Select a user below to manage roles.
          <p class="note m-0">Team maintainers can add members, remove members, and manage repository permissions. <a href="<%= GitHub.help_url %>/articles/giving-team-maintainer-permissions-to-an-organization-member/">Learn more</a></p>
        </div>
        <div class="px-3">
          <%= form_tag dismiss_notice_path("team_maintainers_banner"), :class => "js-notice-dismiss" do %>
            <button type="submit" class="close-button text-gray">
              <%= octicon('x', :'aria-label' => "Hide this notice forever") %>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="subnav d-flex flex-items-center">
      <%= form_tag team.members_resource_path.to_s, method: :get, class: "flex-auto", "data-autosearch-results-container" => "team-members" do %>
        <div class="auto-search-group">
          <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a member…"
            aria-label="Find a member…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= octicon('search') %>
          <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
        </div>
      <% end %>

      <% if team.externally_managed? && team.viewer_can_administer %>
        <div class="tooltipped tooltipped-n text-gray" aria-label="Team membership managed through <%= view.identity_provider %>">
          <include-fragment src="<%= list_group_mappings_path %>" class="d-inline-block" <%= test_selector("team-externally-managed") %>>
            <span data-show-on-error hidden>
              <%= octicon :alert %>
              Error loading sync status
            </span>
            <span data-hide-on-error>
              <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
              Loading...
            </span>
          </include-fragment>
          <a href="<%= team.edit_team_resource_path.to_s %>"> Edit team</a>
        </div>
      <% elsif !team.has_ldap_mapping && !team.ldap_synced && team.viewer_can_administer %>
        <div>
          <% if team.invitations.total_count > 0 || team.membership_requests.total_count > 0 %>
            <button data-toggle-for="add-team-member" class="btn btn-outline mr-2">
              <%= pluralize(team.invitations.total_count + team.membership_requests.total_count, "pending member", "pending members") %>
            </button>
          <% end %>

          <details class="details-reset details-overlay details-overlay-dark d-inline-block" id="add-team-member" <%= "open" if params[:add] == "true" %>>
            <summary class="btn btn-primary" data-ga-click="Teams, add member, location:subnav; text:Add a member">
              Add a member
            </summary>
            <details-dialog class="Box Box-overlay--wide d-flex flex-column anim-fade-in fast p-4" aria-label="Add team members">
              <button class="position-absolute px-4 right-0 btn-link muted-link" type="button" aria-label="Close dialog" data-close-dialog>
                <%= octicon "x" %>
              </button>
              <%= render partial: "orgs/team_members/manage_memberships_dialog", locals: {
                org: org,
                rate_limited: rate_limited
              } %>
            </details-dialog>
          </details>
        </div>
      <% else %>
        <div>
          <%=
            render partial: "orgs/teams/membership_toggle", locals: {
              team: team,
              button_classes: "btn",
              ga_location: "location:team members",
              return_to_path_after_requesting: team.resource_path,
              return_to_path_after_cancelling: team.resource_path,
              return_to_path_after_leaving: team.privacy == "SECRET" ? org.teams_resource_path : team.resource_path
            }
          %>
        </div>
      <% end %>
    </div>

    <div id="team-members">
      <%= render_partial_view "orgs/team_members/member_table", view %>
    </div>
  </div>
</div>
