<% page_info \
   title: "Press – Satellite",
   description: "On May 23, 2019 we joined hundreds of developers in Berlin for GitHub Satellite, our global developer conference.",
   class: "f4",
   container_xl: true,
   richweb: {
     title: "Press — Satellite",
     url: request.original_url,
     description: "On May 23, 2019 we joined hundreds of developers in Berlin for GitHub Satellite, our global developer conference.",
     image: image_path("modules/about/press/satellite-card.png"),
   }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::BreadcrumbComponent.new(pt: 4, font_size: 5)) do |component| %>
    <% component.slot(:item, href: "/about") do %>About<% end %>
    <% component.slot(:item, href: "/about/press") do %>Press<% end %>
    <% component.slot(:item, selected: true) do %>Satellite<% end %>
  <% end %>
</div>

<div class="container-lg p-responsive">
  <div class="pt-5 pt-md-6 pt-lg-7 mb-8 mx-auto text-center">
    <h1 class="h00-mktg mb-2 lh-condensed">
      GitHub Satellite 2019
    </h1>
    <p class="col-lg-8 mx-auto lead-mktg text-gray pb-4">
      On May 23, 2019 we joined hundreds of developers in Berlin for GitHub Satellite, our global developer conference. To celebrate and support our interconnected community, we launched GitHub Sponsors to help fund open source developers, released new security features to enable more secure software development, and introduced new capabilities that address the needs of large organizations and enterprises.
    </p>
    <p class="f5">
      <%= octicon("mail", height: 16, class: "mr-1") %>

      <a data-ga-click="Satellite press, click, Email" class="text-blue-mktg" href="mailto:press@github.com">
         press@github.com
       </a>
    </p>
    <p class="mb-8 f3">
      <a class="text-blue-mktg" href="/about/milestones">Milestones</a>
      ·
      <a class="text-blue-mktg" href="/about/facts">GitHub Facts</a>
      ·
      <a class="text-blue-mktg" href="/about/press">Press</a>
      ·
      <a class="text-blue-mktg" href="/about/careers">Careers</a>
    </p>

    <hr>
  </div>

  <div class="pb-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      Keynote highlights
    </h2>
    <article class="js-video-container mb-4 togglevideo">
      <div class="container-lg position-relative d-block height-full" style="background-image: url(<%= image_path "modules/about/press/nat-video-cover.jpg" %>); background-size: cover;">
        <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
          <iframe class="js-video-iframe"
            data-src="https://www.youtube.com/embed/tHpPg1J55PQ?rel=0&autoplay=1"
            frameborder="0" title="" allowfullscreen>
          </iframe>
        </div>
        <div class="video-responsive togglevideo-hidewhenexpanded width-full">
          <a class="d-block position-absolute hover-grow js-video-play"
            style="top: calc(50% - 40px); left: calc(50% - 40px);"
            href="https://www.youtube.com/watch?v=tHpPg1J55PQ">
            <img class="" src="<%= image_path "modules/site/icons/play-button_white.svg" %>"
              alt="Play Video" data-ga-click="Satellite press, click, Satellite 2019 video play" style="width: 80px; height: 80px;">
          </a>
        </div>
      </div>
    </article>

    <p class="mx-auto text-center">
      <a class="btn-mktg mr-2 mb-2" href="https://www.youtube.com/watch?v=tHpPg1J55PQ">
        Watch the keynote highlights
      </a>
       <a class="btn-mktg btn-outline-mktg Bump-link mb-2" href="https://www.youtube.com/playlist?list=PL0lo9MOBetEFXbNHpObS6VQJPI2sibuwn" data-ga-click="Satellite press, click, Watch all Satellite videos">
        Watch all Satellite videos <span class="Bump-link-symbol">&rarr;</span>
      </a>
    </p>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      GitHub blog posts
    </h2>
    <div class="d-sm-flex flex-wrap flex-justify-center gutter-sm-spacious">
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a href="https://github.blog/2019-05-23-announcing-github-sponsors-a-new-way-to-contribute-to-open-source" class="Bump-link--hover no-underline" data-ga-click="Satellite press, click, Sponsors blog post">
          <div class="bg-gray rounded-1 text-center">
            <img src="<%= image_path "modules/about/press/sponsors.png" %>" alt="" class="py-4 px-1" style="width: 62%">
          </div>
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            Announcing GitHub Sponsors: a new way to contribute to open source <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a href="https://github.blog/2019-05-23-build-like-an-open-source-community-with-github-enterprise" class="Bump-link--hover no-underline" data-ga-click="Satellite press, click, Enterprise blog post">
          <div class="bg-gray rounded-1 text-center">
            <img src="<%= image_path "modules/about/press/enterprise.png" %>" alt="" class="py-4 px-1" style="width: 62%">
          </div>
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            Build like an open source community with GitHub&nbsp;Enterprise <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a href="https://github.blog/2019-05-23-introducing-new-ways-to-keep-your-code-secure" class="Bump-link--hover no-underline" data-ga-click="Satellite press, click, Security blog post">
          <div class="bg-gray rounded-1 text-center">
            <img src="<%= image_path "modules/about/press/security.png" %>" alt="" class="py-4 px-1" style="width: 62%">
          </div>
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            Introducing new ways to keep your code secure <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mx-auto mb-4">
      Photos
    </h2>

    <div class="d-sm-flex flex-wrap gutter-sm-spacious my-2">
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1pWcDvow9iy00XaH8d-pxW2Lj9utgqXaH/view" class="no-underline" data-ga-click="Satellite press, click, View photo 1">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/nat-friedman.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 1 of 6 (Nat Friedman) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Nat Friedman, Chief Executive Officer, gives the opening keynote address.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1pWcDvow9iy00XaH8d-pxW2Lj9utgqXaH" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 1">
          Download photo (1.4 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1f7m_NmYVlcvyEC75D9lpdakN4R5sbLqo/view" class="no-underline" data-ga-click="Satellite press, click, View photo 2">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/devon-zuegel.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 2 of 6 (Devon Zuegel) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Devon Zuegel, Senior Project Manager, announces the beta release of GitHub Sponsors.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1f7m_NmYVlcvyEC75D9lpdakN4R5sbLqo" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 2">
          Download photo (&lt;1 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1pDsCddleTsM9b3QlKsr12o3leVT4UMBl/view" class="no-underline" data-ga-click="Satellite press, click, View photo 3">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/shanku-niyogi.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 3 of 6 (Shanku Niyogi) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Shanku Niyogi, SVP of Product, shares updates on GitHub security tools and integrations.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=10W-tg6WMFm0GitbVjEfPBRlEzqE1k1Gi" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 3">
          Download photo (2 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1w0PYg47ez76aFoaIqnYUcIviKNQrY2an/view" class="no-underline" data-ga-click="Satellite press, click, View photo 4">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/attendees.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 4 of 6 (attendees) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            The historic Kraftwerk building in downtown Berlin buzzes with excitement between talks.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1w0PYg47ez76aFoaIqnYUcIviKNQrY2an" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 4">
          Download photo (2.5 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1AKESuKuwIZp4CkNhScK4RnQvYWsqQvOM/view" class="no-underline" data-ga-click="Satellite press, click, View photo 5">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/workshops.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 5 of 6 (workshops) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Developers enjoy themselves while learning at one of eight sold out workshops.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1pDsCddleTsM9b3QlKsr12o3leVT4UMBl" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 5">
          Download photo (1.8 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1zp5avZQomVRJ6YKAD87JR_szzI6meveU/view" class="no-underline" data-ga-click="Satellite press, click, View photo 6">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/satellite/2019/campus-advisors.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 6 of 6 (GitHub Campus Experts) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            GitHub Campus Experts pose for a photo with CEO Nat Friedman.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1zp5avZQomVRJ6YKAD87JR_szzI6meveU" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Satellite press, click, Download photo 6">
          Download photo (2.9 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
    </div>
    <p class="text-center">
      <a class="btn-mktg" href="https://drive.google.com/drive/folders/1id2ydwNkAXOaA75B2MN2_EI4LkwmnW3e" data-ga-click="Satellite press, click, Download all photos">
        Download all 84 photos
      </a>
    </p>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      Media coverage
    </h2>
    <div class="d-sm-flex flex-wrap flex-justify-center gutter-sm-spacious">
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.wired.com/story/github-sponsors-lets-users-back-open-source-projects">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">WIRED</h4>
            <h3 class="h3-mktg">GitHub ‘Sponsors’ Now Let Users Back Open Source Projects</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.businessinsider.com/github-sponsors-open-source-financial-support-2019-5">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">Business Insider</h4>
            <h3 class="h3-mktg">GitHub, Microsoft's wildly popular developer service, launches a new service to help programmers get paid for their open source code</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://venturebeat.com/2019/05/23/github-adds-donation-button-token-scanning-and-enterprise-tools">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              VentureBeat
            </h4>
            <h3 class="h3-mktg">GitHub adds donation button, token scanning, and Enterprise tools</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://duo.com/decipher/github-brings-automated-fixes-with-dependabot">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Decipher
            </h4>
            <h3 class="h3-mktg">
              GitHub Brings Automated Fixes With Dependabot
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 29, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.golem.de/news/entwicklung-github-erlaubt-das-sponsern-von-open-source-1905-141460.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              golem
            </h4>
            <h3 class="h3-mktg">
              GitHub erlaubt das Sponsern von Open Source
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.computerworld.com.au/article/662006/github-launches-sponsors-feature-fund-open-source-projects/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Computerworld Australia
            </h4>
            <h3 class="h3-mktg">
              GitHub launches ‘Sponsors’ feature to fund open source projects
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://searchsoftwarequality.techtarget.com/news/252464120/GitHub-Enterprise-security-monitoring-tools-target-large-orgs">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              TechTarget
            </h4>
            <h3 class="h3-mktg">
              GitHub Enterprise security, monitoring tools target large orgs
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 28, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.heise.de/newsticker/meldung/GitHub-stellt-Funktionen-fuer-Sicherheit-und-Open-Source-vor-4430470.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              heise online
            </h4>
            <h3 class="h3-mktg">
              GitHub stellt Funktionen für Sicherheit und Open Source vor
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 23, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.lemonde.fr/economie/article/2019/05/25/github-acquis-par-microsoft-il-y-a-pres-d-un-an-affiche-son-independance_5467023_3234.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Le Monde
            </h4>
            <h3 class="h3-mktg">
              GitHub, acquis par Microsoft il y a près d’un an, affiche son indépendance
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 27, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://cloud.watch.impress.co.jp/docs/news/1186715.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              CloudWatch
            </h4>
            <h3 class="h3-mktg">
              GitHub、「GitHub Enterprise」のチーム管理やセキュリティ強化などの新機能を発表
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 27, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.atmarkit.co.jp/ait/articles/1905/27/news095.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              @IT
            </h4>
            <h3 class="h3-mktg">
              GitHub、コミュニティーがOSS貢献者を資金援助できる「GitHub Sponsors」プログラムのβ版を公開
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">May 27, 2019</date>
        </a>
      </div>
    </div>
  </div>
</div>
