<% page_info \
   title: "Press – Universe",
   description: "GitHub Universe brought together a global interconnected community of more than 1800 attendees, industry thought leaders, and executives to hear what's next from GitHub, and learn about the tools and concepts that are pushing the software industry forward.",
   class: "f4",
   container_xl: true,
   richweb: {
     title: "Press — Universe",
     url: request.original_url,
     description: "GitHub Universe brought together a global interconnected community of more than 1800 attendees, industry thought leaders, and executives to hear what's next from GitHub, and learn about the tools and concepts that are pushing the software industry forward.",
     image: image_path("modules/about/press/universe-card.png"),
   }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::BreadcrumbComponent.new(pt: 4, font_size: 5)) do |component| %>
    <% component.slot(:item, href: "/about") do %>About<% end %>
    <% component.slot(:item, href: "/about/press") do %>Press<% end %>
    <% component.slot(:item, selected: true) do %>Universe<% end %>
  <% end %>
</div>

<div class="container-lg p-responsive">
  <div class="pt-5 pt-md-6 pt-lg-7 mb-8 mx-auto text-center">
    <h1 class="h00-mktg mb-2 lh-condensed">
      GitHub Universe 2019
    </h1>
    <p class="col-lg-8 mx-auto lead-mktg text-gray pb-4">
      GitHub Universe brought together a global interconnected community of more than 1800 attendees, industry thought leaders, and executives to hear what's next from GitHub, and learn about the tools and concepts that are pushing the software industry forward.
    </p>
    <p class="f5">
      <%= octicon("mail", height: 16, class: "mr-1") %>

      <a data-ga-click="Universe press, click, Email" class="text-blue-mktg" href="mailto:press@github.com">
         press@github.com
       </a>
    </p>
    <p class="mb-8 f3">
      <a class="text-blue-mktg" href="/about/milestones">Milestones</a>
      ·
      <a class="text-blue-mktg" href="/about/facts">GitHub Facts</a>
      ·
      <a class="text-blue-mktg" href="/about/press">Press</a>
      ·
      <a class="text-blue-mktg" href="/about/careers">Careers</a>
    </p>

    <hr>
  </div>

  <div class="pb-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      Keynote highlights
    </h2>
    <article class="js-video-container mb-4 togglevideo">
      <div class="container-lg position-relative d-block height-full" style="background-image: url(<%= image_path "modules/about/press/universe-day1.jpg" %>); background-size: cover;">
        <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
          <iframe class="js-video-iframe"
            data-src="https://www.youtube.com/embed/9EoNqyxtSRM?rel=0&autoplay=1"
            frameborder="0" title="" allowfullscreen>
          </iframe>
        </div>
        <div class="video-responsive togglevideo-hidewhenexpanded width-full">
          <a class="d-block position-absolute hover-grow js-video-play"
            style="top: calc(50% - 40px); left: calc(50% - 40px);"
            href="https://www.youtube.com/embed/9EoNqyxtSRM">
            <img class="" src="<%= image_path "modules/site/icons/play-button_white.svg" %>"
              alt="Play Video" data-ga-click="Universe press, click, Universe 2019 video play" style="width: 80px; height: 80px;">
          </a>
        </div>
      </div>
    </article>

     <article class="js-video-container mb-4 togglevideo">
      <div class="container-lg position-relative d-block height-full" style="background-image: url(<%= image_path "modules/about/press/universe-day2.jpg" %>); background-size: cover;">
        <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
          <iframe class="js-video-iframe"
            data-src="https://www.youtube.com/embed/VnaK_ONmtC4?rel=0&autoplay=1"
            frameborder="0" title="" allowfullscreen>
          </iframe>
        </div>
        <div class="video-responsive togglevideo-hidewhenexpanded width-full">
          <a class="d-block position-absolute hover-grow js-video-play"
            style="top: calc(50% - 40px); left: calc(50% - 40px);"
            href="https://www.youtube.com/embed/VnaK_ONmtC4">
            <img class="" src="<%= image_path "modules/site/icons/play-button_white.svg" %>"
              alt="Play Video" data-ga-click="Universe press, click, Universe 2019 video play" style="width: 80px; height: 80px;">
          </a>
        </div>
      </div>
    </article>

    <p class="mx-auto text-center">
      <a class="btn-mktg mr-2 mb-2" href="https://www.youtube.com/watch?v=7TuUkhJ4wG0">
        Watch the keynote highlights from day 1
      </a>
       <a class="btn-mktg btn-outline-mktg Bump-link mb-2" href="https://www.youtube.com/user/github" data-ga-click="Universe press, click, Watch all Universe videos">
        Watch all Universe videos <span class="Bump-link-symbol">&rarr;</span>
      </a>
    </p>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      GitHub blog posts
    </h2>
    <div class="d-sm-flex flex-wrap flex-justify-center gutter-sm-spacious">
      <div class="col-12 col-sm-6 col-md-6 mb-6">
        <a href="https://github.blog/2019-11-13-universe-day-one/" class="Bump-link--hover no-underline" data-ga-click="Universe press, click, Sponsors blog post">
          <img src="<%= image_path "modules/about/press/universe-blog-header.png" %>" alt="" class="rounded-1" style="width: 100%">
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            New from Universe 2019: GitHub for mobile, GitHub Archive Program, and more <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mb-6">
        <a href="https://github.blog/2019-11-14-announcing-github-security-lab-securing-the-worlds-code-together/" class="Bump-link--hover no-underline" data-ga-click="Universe press, click, Enterprise blog post">
          <img src="<%= image_path "modules/about/press/security-lab-header.png" %>" alt="" class="rounded-1" style="width: 100%">
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            Announcing GitHub Security Lab: securing the world’s code, together <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mb-6">
        <a href="https://github.blog/2019-11-14-powering-community-led-innovation-with-github-actions/" class="Bump-link--hover no-underline" data-ga-click="Universe press, click, Security blog post">
          <img src="<%= image_path "modules/about/press/github-actions-thumb.png" %>" alt="" class="rounded-1" style="width: 100%">
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            Powering community-led innovation with GitHub Actions <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-6 mb-6">
        <a href="https://github.blog/2019-11-13-github-enterprise-server-2-19-is-here/" class="Bump-link--hover no-underline" data-ga-click="Universe press, click, Security blog post">
          <img src="<%= image_path "modules/about/press/enterprise-219.png" %>" alt="" class="rounded-1" style="width: 100%">
          <h3 class="h3-mktg mt-3 text-blue-mktg">
            GitHub Enterprise Server 2.19 is here <span class="Bump-link-symbol">&rarr;</span>
          </h3>
        </a>
      </div>
    </div>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mx-auto mb-4">
      Photos
    </h2>

    <div class="d-sm-flex flex-wrap gutter-sm-condensed my-2">
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1O0DCzdoUieeuqNDw5CeFMKjJaMaiflZz/view?usp=sharing" class="no-underline" data-ga-click="Universe press, click, View photo 1">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/day1-nat-friedman.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 1 of 8 (Nat Friedman) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Nat Friedman, CEO, gives the opening keynote address on Day 1.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1O0DCzdoUieeuqNDw5CeFMKjJaMaiflZz" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 1">
          Download photo (2.6 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1loY8ESXCFan09dIKQ2VfIMTd5SrGTNI6/view" class="no-underline" data-ga-click="Universe press, click, View photo 2">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/day2-erica-brescia.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 2 of 8 (Erica Brescia) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Erica Brescia, COO, gives the opening keynote address on Day 2.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1loY8ESXCFan09dIKQ2VfIMTd5SrGTNI6" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 2">
          Download photo (3 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1d8pp4m-JFvP19UMrh0vVYUjWIXwhyxJ3/view" class="no-underline" data-ga-click="Universe press, click, View photo 3">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/dana-lawson.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 3 of 8 (Dana Lawson) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Dana Lawson, VP of Engineering, shares news on GitHub Actions and GitHub Packages.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1d8pp4m-JFvP19UMrh0vVYUjWIXwhyxJ3" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 3">
          Download photo (9 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1m5xuTSfK8VnDQlu3rwziiniQnJrmGZAi/view" class="no-underline" data-ga-click="Universe press, click, View photo 4">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/ryan-nystrom.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 4 of 8 (attendees) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Ryan Nystrom, Director of Engineering, reveals the launch of GitHub for mobile.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1m5xuTSfK8VnDQlu3rwziiniQnJrmGZAi" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 4">
          Download photo (4.3 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1bMZEvUv7S3Gv0iL_yRkOjD8iFymc0Za-/view" class="no-underline" data-ga-click="Universe press, click, View photo 5">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/jamie-cool.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 5 of 8 (Jamie Cool) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Jamie Cool, VP of Product Management, unveils the launch of GitHub Security Lab.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1bMZEvUv7S3Gv0iL_yRkOjD8iFymc0Za-" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 5">
          Download photo (7.7 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1Ag_lrP-8GU5DVGOvz5Gjgdy4dwjt06-T/view" class="no-underline" data-ga-click="Universe press, click, View photo 6">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/universe-entrance.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 6 of 8 (GitHub Universe Entrance) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Held in the historic Palace of Fine Arts, guests are greeted with the GitHub Octocat logo.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1Ag_lrP-8GU5DVGOvz5Gjgdy4dwjt06-T" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 6">
          Download photo (10.3 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1AzSj4Watgy__pRD_LZFB0KpIOaCy1gO5/view" class="no-underline" data-ga-click="Universe press, click, View photo 6">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/showfloor.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 7 of 8 (Between talks) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            The event is crowded with excitement between talks.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1AzSj4Watgy__pRD_LZFB0KpIOaCy1gO5" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 6">
          Download photo (8.7 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-3 mb-6 px-0">
        <a href="https://drive.google.com/file/d/1Ag_lrP-8GU5DVGOvz5Gjgdy4dwjt06-T/view" class="no-underline" data-ga-click="Universe press, click, View photo 6">
          <figure class="m-0">
            <img src="<%= image_path "modules/about/press/universe/2019/octocat-generator.jpg" %>" class="width-full rounded-1 mb-2" alt="View photo 8 of 8 (Octocat Generator) on Google Drive">
          </figure>
          <figcaption class="f6 text-gray">
            Developers explore the various installations, including the Octocat Generator.
          </figcaption>
        </a>
        <a
          href="https://drive.google.com/uc?export=download&id=1Ag_lrP-8GU5DVGOvz5Gjgdy4dwjt06-T" class="d-block Bump-link mt-2 mb-3 text-blue-mktg" data-ga-click="Universe press, click, Download photo 6">
          Download photo (10.7 MB)<span class="ml-1 Bump-link-down">&rarr;</span>
        </a>
      </div>
    </div>
    <p class="text-center">
      <a class="btn-mktg" href="https://drive.google.com/drive/folders/1fpgxuQGxF7BeF0H5zPqEahNcjQKnbidx" data-ga-click="Universe press, click, Download all photos">
        Download all photos
      </a>
    </p>
  </div>

  <div class="py-8 mb-md-8">
    <h2 class="h1-mktg text-center mb-4">
      Media coverage
    </h2>
    <div class="d-sm-flex flex-wrap flex-justify-center gutter-sm-spacious">
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.bloomberg.com/news/features/2019-11-13/microsoft-apocalypse-proofs-open-source-code-in-an-arctic-cave">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">Bloomberg</h4>
            <h3 class="h3-mktg">Open Source Code Will Survive the Apocalypse in an Arctic Cave</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 13, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://venturebeat.com/2019/11/13/github-launches-ios-app-android-app-coming-in-2020/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">VentureBeat</h4>
            <h3 class="h3-mktg">GitHub launches iOS app, Android app coming in 2020</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 13, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://techcrunch.com/2019/11/13/github-launches-a-mobile-app-smarter-notifications-and-improved-code-search/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              TechCrunch
            </h4>
            <h3 class="h3-mktg">GitHub launches a mobile app, smarter notifications and improved code search</h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 13, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.zdnet.com/article/github-mobile-launches-for-ios-github-actions-moves-to-ga/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              ZDNet
            </h4>
            <h3 class="h3-mktg">
              GitHub Mobile launches for iOS, GitHub Actions moves to GA
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 13, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.heise.de/newsticker/meldung/GitHub-gibt-Actions-und-Paketregistry-frei-4584168.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              heise.de
            </h4>
            <h3 class="h3-mktg">
              GitHub gibt Actions und Paketregistry frei
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 13, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.theregister.co.uk/2019/11/14/github_security_cleanse/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              The Register
            </h4>
            <h3 class="h3-mktg">
              GitHub gathers friends for a security code cleanse to scrub that software up to spec
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.atmarkit.co.jp/ait/articles/1911/14/news067.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              @IT
            </h4>
            <h3 class="h3-mktg">
              GitHubが無料モバイルアプリ「GitHub for mobile」を発表
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://codezine.jp/article/detail/11818">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              CodeZine
            </h4>
            <h3 class="h3-mktg">
              モバイルアプリ版GitHub発表、GitHub Actions正式リリース、コードアーカイブ…GitHubの多面性が見えたGitHub Universe Keynote
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://cloud.watch.impress.co.jp/docs/event/1219094.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Spiegel Online
            </h4>
            <h3 class="h3-mktg">
              GitHub legt Softwarecode für tausend Jahre auf Eis
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.lesechos.fr/tech-medias/hightech/github-convertit-de-plus-en-plus-dentreprises-a-lopen-source-1147791">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Les Echos
            </h4>
            <h3 class="h3-mktg">
              GitHub convertit de plus en plus d'entreprises à l'open source
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.developpez.com/actu/284269/GitHub-lance-Arctic-Code-Vault-une-initiative-pour-la-sauvegarde-du-code-open-source-mondial-pour-un-millenaire-dans-le-cadre-d-un-vaste-programme-d-archivage/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Developpez
            </h4>
            <h3 class="h3-mktg">
              GitHub lance Arctic Code Vault, une initiative pour la sauvegarde du code open source mondial pour un millénaire
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.itwire.com/the-linux-distillery/want-to-make-the-world-a-better-place-fund-open-source-developers.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              iTWire
            </h4>
            <h3 class="h3-mktg">
              Want to make the world a better place? Fund open source developers.
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 14, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://thenextweb.com/security/2019/11/15/github-launches-security-lab-to-spot-vulnerabilities-in-open-source-code/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              The Next Web
            </h4>
            <h3 class="h3-mktg">
              GitHub launches Security Lab to spot vulnerabilities in open-source code
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 15, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.golem.de/news/security-lab-github-sucht-mit-partnern-nach-luecken-in-open-source-code-1911-145009.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Golem.de
            </h4>
            <h3 class="h3-mktg">
              Github sucht mit Partnern nach Lücken in Open Source Code
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 15, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://which-50.com/github-goes-mobile-tackles-open-source-security/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Which-50
            </h4>
            <h3 class="h3-mktg">
              GitHub Goes Mobile, Tackles Open Source Security
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 15, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://www.businessinsider.com/fastest-growing-programming-languages-github-2019-11">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Business Insider
            </h4>
            <h3 class="h3-mktg">
              The 10 fastest growing programming languages, according to the Microsoft-owned GitHub
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 18, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://cloud.watch.impress.co.jp/docs/event/1219094.html">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              Cloud Watch
            </h4>
            <h3 class="h3-mktg">
              GitHubの全パブリックリポジトリを北極圏の地下に1000年間保存する「GitHub Arctic Code Vault」
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 18, 2019</date>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-6">
        <a target="_blank" class="Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 link-gray-dark" href="https://t3n.de/news/github-mehr-security-fuer-1222634/">
          <div class="lh-condensed mb-2">
            <h4 class="text-gray-light-ultra pr-4 h5 text-normal text-mono mb-2">
              t3n
            </h4>
            <h3 class="h3-mktg">
              GitHub: Open Source soll sicherer werden
            </h3>
          </div>
          <date class="h5 text-normal text-mono text-gray-light-ultra lh-condensed">Nov 19, 2019</date>
        </a>
      </div>
    </div>
  </div>
</div>
