<%# erblint:disable LinkHasHref %>
<%# only user to org transform uses this %>
<li class="table-list-item collab-list-item" data-login="<%= user.login %>">
  <a class="table-list-cell collab-list-cell collab-team-link" href="<%= user_path(user) %>">
    <%= avatar_for user, 32, :class => "avatar" %>
    <div class="collab-info">
      <strong class="collab-name"><%= user.profile_name %></strong>
      <%= user %>
    </div>
  </a>
  <% if user != current_user %>
    <span class="table-list-cell collab-list-cell collab-meta collab-remove">
      <a href="#" class="remove-link js-team-remove-user">
        <%= octicon('x') %>
      </a>
    </span>
  <% end %>
  <input type="hidden" class="js-login-field" name="organization[admin_logins][]" value="<%= user.login %>" disabled>
</li>
