<% if current_user.has_any_trade_restrictions? %>
  <div class="d-md-flex gutter-md-spacious">
    <div class="col-md-8">
      <div class="flash flash-error col-12 mb-3">
        <%= render partial: "notices/ofac_sanctioned" %>
      </div>
    </div>
  </div>
<% end %>

<div class="d-flex flex-wrap flex-justify-between flex-items-baseline">
  <h2 class="f2-light">Subscription details</h2>
  <details class="details-reset details-overlay details-overlay-dark pb-4 text-small">
    <summary class="btn-link" data-ga-click="Organization new, view subscription plans">Review subscription plans</summary>
    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" style="width:100%">
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= octicon "x" %>
        </button>
        <h3 class="Box-title">
          Subscription plans
        </h3>
      </div>
      <div class="overflow-auto">
        <div class="Box-body overflow-auto pt-6">
          <div class="setup-form-container currency-container js-details-container Details">
            <%= render partial: "organizations/transform/plan_cards", locals: {
              creation_view: creation_view,
              coupon: coupon,
              business_plus_pricing_model: business_plus_pricing_model,
              per_seat_pricing_model: per_seat_pricing_model,
              plan_effective_at: plan_effective_at,
              plan: plan,
              current_organization: current_organization} %>
          </div>
        </div>
      </div>
    </details-dialog>
  </details>
</div>

<!-- Start Low res -->
<div class="currency-container js-details-container hide-lg hide-xl text-gray-dark">
  <div class="pb-4">
    <div class="text-gray border-bottom pb-1 mb-1 text-small">PLAN</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= short_plan_name(GitHub::Plan.free, account_type: "Organization") %>
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <%= short_plan_name(GitHub::Plan.business) %>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-plan-info js-enterprise-server-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
          <%= short_plan_name(GitHub::Plan.business_plus) %>
      </div>
      <div class="js-plan-info js-enterprise-server-plan-info" hidden>
        <a href="<%= ent_contact_url %> "
           class="btn btn-blue btn-block mt-4"
           data-ga-click="Enterprise plan card, click, Enterprise Server">
           Contact our team</a>
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-free-plan-info js-business-plan-info js-enterprise-cloud-plan-info js-enterprise-cloud-trial-plan-info">
    <div class="text-gray border-bottom pb-1 mb-1 text-small">PRICE</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= price_with_localization(0) %>
        per month
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <span class="unstyled-unit-price"><%= price_with_localization(per_seat_pricing_model.unit_price) %></span>
        per user <span class="text-small">/ <%= creation_view.current_plan_duration %></span>
        <div class="f5 text-gray">
          Starts at
          <span class="unstyled-base-price"><%= price_with_localization(per_seat_pricing_model.base_price) %></span> / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span> which includes your first 5 users
          <div class="text-small"><%= render partial: "billing_settings/currency_toggle" %></div>
        </div>
        <div>
          <a
            class="text-small js-org-signup-duration-change"
            data-plan-duration="<%= creation_view.available_plan_duration %>"
            href="<%= new_organization_path %>"
            data-url="<%= model_org_seats_path(coupon: creation_view.coupon, new_plan: GitHub::Plan.business_plus.to_s) %>"
            >Pay <span class="unstyled-available-plan-duration-adjective"><%= creation_view.available_plan_duration_adjective %></span>
          </a>
        </div>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
        Free 14-day trial
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-business-plan-info js-enterprise-cloud-plan-info">
    <div class="text-gray border-bottom pb-1 mb-1 text-small">USERS</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        ∞
      </div>
      <div class="js-plan-info js-business-plan-info <%= "has-removed-contents" unless params[:plan] == "business" %>" <%= "hidden" unless params[:plan] == "business" %>>
        <input type="number"
               class="form-control seat-field js-seat-field input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
               name="organization[seats]"
               min="<%= per_seat_pricing_model.base_seats %>"
               value="<%= per_seat_pricing_model.seats %>"
               data-url="<%=  model_org_seats_path(
                   plan_duration: creation_view.current_plan_duration,
                   coupon: creation_view.coupon,
                   new_plan: GitHub::Plan.business
               )%>"
               data-item-name="seats"
               data-item-minimum="<%= per_seat_pricing_model.base_seats %>"
               aria-label="seats"
        >
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
          <%= Billing::EnterpriseCloudTrial::INITIAL_SEAT_COUNT %>
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-free-plan-info js-business-plan-info js-enterprise-cloud-plan-info js-enterprise-cloud-trial-plan-info">
    <div class="text-gray border-bottom pb-1 mb-1 text-small">TOTAL</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= price_with_localization(0) %>
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <span class="unstyled-final-price">
          <%= price_with_localization(per_seat_pricing_model.final_price) %>
        </span>
        <span class="text-small">/ <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span></span>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
        <%= link_to "Start a Free Trial", new_organization_path(plan: GitHub::Plan.business_plus),
          class: "btn btn-blue btn-block js-enterprise-trial-link mt-4"
        %>
      </div>
    </div>
  </div>
</div>
<!-- End Low res -->

<!-- Start High res -->
<div class="hide-sm hide-md currency-container js-details-container ">
  <div class="d-table col-12 text-gray border-y f6">
    <div class="col-3 p-2 d-table-cell">PLAN</div>
    <div class="col-4 p-2 d-table-cell">PRICE</div>
    <div class="col-2 p-2 d-table-cell">
      <span class="js-plan-info js-business-plan-info js-enterprise-cloud-trial-plan-info js-enterprise-cloud-plan-info" <%= "hidden" if params[:plan] == "free" %>>USERS</span>
    </div>
    <div class="col-3 p-2 d-table-cell">TOTAL</div>
  </div>

  <!-- Team for open source -->
  <div class="d-table col-12 f3 js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.free, account_type: "Organization") %>
    </div>
    <div class="d-table-cell col-4 p-2">
      <%= price_with_localization(0) %>
      / month
    </div>
    <div class="d-table-cell col-2 p-2"></div>
    <div class="d-table-cell col-3 p-2">
      <%= price_with_localization(0) %>
    </div>
  </div>

  <!-- Team plan -->
  <div class="d-table col-12 f3 js-plan-info js-business-plan-info <%= "has-removed-contents" unless params[:plan] == "business" %>" <%= "hidden" unless params[:plan] == "business" %>>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.business) %>
    </div>
    <div class="d-table-cell col-4 p-2">
      <p>
        <span class="unstyled-unit-price"><%= price_with_localization(per_seat_pricing_model.unit_price) %></span>
        per user/  <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span>
      </p>
      <p class="text-gray text-small mb-0">
        Starts at
        <span class="unstyled-base-price"><%= price_with_localization(per_seat_pricing_model.base_price) %></span> / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span> which includes your first 5 users
        <div class="text-small"><%= render partial: "billing_settings/currency_toggle" %></div>
      </p>
      <div>
        <a
          class="text-small js-org-signup-duration-change"
          data-plan-duration="<%= creation_view.available_plan_duration %>"
          href="<%= new_organization_path %>"
          data-url="<%= model_org_seats_path(coupon: creation_view.coupon, new_plan: GitHub::Plan.business.to_s) %>"
          >Pay <span class="unstyled-available-plan-duration-adjective"><%= creation_view.available_plan_duration_adjective %></span>
        </a>
      </div>
    </div>
    <div class="d-table-cell col-2 p-2">
      <input type="number"
             class="form-control seat-field js-seat-field input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
             name="organization[seats]"
             min="<%= per_seat_pricing_model.base_seats %>"
             value="<%= params[:seats] || per_seat_pricing_model.seats %>"
             data-url="<%=  model_org_seats_path(
                 plan_duration: creation_view.current_plan_duration,
                 coupon: creation_view.coupon,
                 new_plan: GitHub::Plan.business
             )%>"
             data-item-name="seats"
             data-item-minimum="<%= per_seat_pricing_model.base_seats %>"
             aria-label="seats"
      >
    </div>
    <div class="d-table-cell col-3 p-2">
      <span class="unstyled-final-price">
        <%= price_with_localization(per_seat_pricing_model.final_price) %>
      </span>
      <span class="f3">/ <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span></span>
    </div>
  </div>

  <!-- Enterprise trial plan -->
  <div class="d-table col-12 f3 js-plan-info js-enterprise-cloud-trial-plan-info" <%= "hidden" unless params[:plan] == GitHub::Plan.business_plus.to_s %>>
    <div class="d-table-cell col-3 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= short_plan_name(GitHub::Plan.business_plus) %> Trial
    </div>
    <div class="d-table-cell col-4 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      Free 14-day trial
    </div>
    <div class="d-table-cell col-2 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= Billing::EnterpriseCloudTrial::INITIAL_SEAT_COUNT %>
    </div>
    <div class="d-table-cell col-3 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= link_to "Start a Free Trial", new_organization_path(plan: GitHub::Plan.business_plus),
        class: "btn btn-blue btn-block js-enterprise-trial-link mt-4"
      %>
    </div>
  </div>

  <!-- Enterprise Server plan -->
  <div class="d-table col-12 f3 js-plan-info js-enterprise-server-plan-info" hidden>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.business_plus) %>
    </div>
    <div class="d-table-cell col-6 p-2">
    </div>
    <div class="d-table-cell col-3 p-2">
      <a href="<%= ent_contact_url %> "
        class="btn btn-blue btn-block"
        data-ga-click="Enterprise plan card, click, Enterprise Server">
        Contact our team</a>
    </div>
  </div>
</div>
<!-- End High res -->
