<div class="d-md-flex gutter-md mb-5 currency-container js-details-container">
  <!-- Team For Open Source -->
  <div class="col-md-4 mb-6 mb-md-0">
    <% unless creation_view.show_only_per_seat_plan? %>
      <label class="Box d-block position-relative height-full text-normal p-5 plan-choice--experiment js-plan-choice-label" aria-live="polite" data-ga-click="<%= ga_label_with_analytics_tracking_id "Signup funnel select org plan, click, text:Team for Open Source" %>">
        <!-- input -->
        <%= radio_button_tag "organization[plan]",
          GitHub::Plan.free,
          GitHub::Plan.free == plan,
          style: "opacity:0;",
          class: "js-plan-choice",
          data: organization_new_free_plan_card_data_attributes
        %>
        <!-- /input -->

        <div class="position-absolute top-0 left-0 width-full text-center mt-n4">
          <div class="CircleBadge CircleBadge--small plan-choice-icon border box-shadow-none mx-auto">
            <%= octicon('check', :height => 40, :class => 'text-white') %>
          </div>
        </div>

        <!-- plan title and description -->
        <div class="text-center border-bottom pb-2 mt-n3 mr-n5 ml-n5 mb-4">
          <div class="h3 h3-mktg text-green">
            <%= short_plan_name(GitHub::Plan.free, account_type: "Organization") %>
          </div>
          <p class="text-gray p-2">
          The basics of GitHub for every team
          </p>
        </div>

        <div class="text-center">
          <h3 class="h1 h0-mktg text-normal mb-0 lh-condensed">
            <%= price_with_localization(0) %>
          </h3>
          <p class="mb-4 text-small f5 text-gray">
            per month
          </p>

          <h4 class="h4 h4-mktg lh-condensed mb-1">Includes:</h4>
          <ul class="list-style-none lh-condensed">
            <li class="mb-1">∞ Unlimited public/private repositories</li>
            <li class="mb-1">∞ Unlimited collaborators</li>
            <li class="mb-1 d-flex flex-column">
                <div>✓ 2,000 Actions minutes/month</div>
                <div class="f6 text-gray-light">Free for public repositories</div>
              </li>
            <li class="mb-1">✓ 500MB of GitHub Packages</li>
            <li class="mb-1">✓ Community Support</li>
          </ul>

        </div>
        <!-- /plan title and description -->
      </label>
    <% end %>
  </div>

  <!-- Team -->
  <div class="col-md-4 mb-6 mb-md-0">
    <% unless coupon && coupon.business_plus_only_coupon? %>
      <label class="Box d-block position-relative height-full text-normal p-5 plan-choice--experiment plan-choice--green js-plan-choice-label" aria-live="polite" data-ga-click="<%= ga_label_with_analytics_tracking_id "Signup funnel select org plan, click, text:Team;" %>">
        <!-- input -->
        <%= radio_button_tag "organization[plan]",
          GitHub::Plan.business,
          GitHub::Plan.business == plan,
          style: "opacity:0;",
          class: "js-plan-choice form-checkbox-details-trigger",
          data: organization_new_team_plan_card_data_attributes
        %>
        <!-- /input  -->

        <div class="position-absolute top-0 left-0 width-full text-center mt-n4">
          <div class="CircleBadge CircleBadge--small plan-choice-icon border box-shadow-none mx-auto">
            <%= octicon('check', :height => 40, :class => 'text-white') %>
          </div>
        </div>

        <div class="text-center border-bottom pb-2 mt-n3 mr-n5 ml-n5 mb-4">
          <div class="h3 h3-mktg text-green">
            <%= short_plan_name(GitHub::Plan.business) %>
          </div>
          <p class="text-gray p-2">
          Advanced collaboration and support for teams
          </p>
        </div>

        <div class="text-center">
          <h3 class="h1 h0-mktg text-normal mb-0 lh-condensed">
            <span class="js-unit-price" <% if params[:plan_duration]=="month" || params[:plan_duration].nil? %> hidden <% end %>>
              <%= price_with_localization(creation_view.annual_per_seat_pricing_model.unit_price) %>
            </span>
            <span class="js-unit-price" <% if params[:plan_duration]=="year" %> hidden <% end %>>
              <%= price_with_localization(creation_view.monthly_per_seat_pricing_model.unit_price) %>
            </span>
          </h3>
          <p class="text-small f5 text-gray">
            per user / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span>
          </p>
          <div class="mb-4 mt-n2 text-small">
            <%= render partial: "billing_settings/currency_toggle" %>
          </div>

          <h4 class="h4 h4-mktg lh-condensed mb-1">Includes:</h4>
          <ul class="list-style-none lh-condensed">
            <li class="mb-1">← Everything in Free</li>
            <li class="mb-1">✓ Required reviewers</li>
            <li class="mb-1 d-flex flex-column">
              <div class="d-flex flex-items-start">
                <span>✓ 3,000 Actions minutes/month</span>
              </div>
              <div class="f6 text-gray-light">Free for public repositories</div>
            </li>
            <li class="mb-1">✓ 2GB of GitHub Packages</li>
            <li class="mb-1">✓ Code owners</li>
          </ul>
        </div>
        <!-- /plan title and description  -->

        <!-- plan seat selection  -->
        <div class="form-checkbox-details border-top mt-5">
          <%=
            render partial: "organizations/transform/options_selection", locals: {
              pricing_model: per_seat_pricing_model,
              creation_view: creation_view,
              plan: GitHub::Plan.business,
              minimum_seats: per_seat_pricing_model.base_seats,
              maximum_seats: per_seat_pricing_model.maximum_seats
            }
          %>
        <div class="js-payment-summary">
          <div class="d-flex flex-items-center text-normal border-top">
            <div class="col-7 lh-condensed"><%= per_seat_pricing_model.base_seats %> base users <span class="text-small text-gray">(minimum)</span></div>
            <div class="col-5 py-3 pr-2 bg-blue-light text-right lh-condensed">
              <span class="unstyled-base-price"><%= price_with_localization(per_seat_pricing_model.base_price) %></span>
              <span class="d-block text-small">/ <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span></span>
            </div>
          </div>
          <div class="d-flex flex-items-center text-normal border-top js-extra-seats-line-item <%= "d-none" if per_seat_pricing_model.additional_seats.zero? %> ">
            <div class="col-7">
              <span class="unstyled-additional-seats lh-condensed"><%= per_seat_pricing_model.additional_seats %></span> additional users
              <br>
              <span class="text-small text-gray">
                <span class="js-unit-price" <% if params[:plan_duration]=="month" || params[:plan_duration].nil? %> hidden <% end %>>
                  <%= price_with_localization(creation_view.annual_business_plus_pricing_model.unit_price) %>
                </span>
                <span class="js-unit-price" <% if params[:plan_duration]=="year" %> hidden <% end %>>
                  <%= price_with_localization(creation_view.monthly_business_plus_pricing_model.unit_price) %>
                </span>
                / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span> each
              </span>
            </div>
            <div class="col-5 bg-blue-light py-3 pr-2 text-right lh-condensed">
              <span class="unstyled-additional-seats-price">
                <%= price_with_localization(per_seat_pricing_model.additional_seats_price) %>
              </span>
              <span class="d-block text-small">/ <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span></span>
            </div>
          </div>
          <% if coupon %>
            <div class="d-flex flex-items-center text-normal border-top">
              <div class="col-7 lh-condensed">Coupon <span class="text-small text-gray">(expires in <%= distance_of_time_in_words_to_now(coupon.expires_at) %>)</span></div>
              <div class="col-5 bg-yellow-light py-3 pr-2 text-right lh-condensed">
                &minus; <%= per_seat_pricing_model.coupon_discount_for_duration.format %><span class="d-block text-small">/ <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span></span>
              </div>
            </div>
          <% end %>
          <div class="d-flex flex-items-center text-normal border-top">
            <div class="col-7 text-bold lh-condensed">For <span class="unstyled-delta-seats"><%= per_seat_pricing_model.seats %></span> users, you’ll pay</div>
            <div class="col-5 py-3 pr-2 bg-blue-light text-right lh-condensed">
              <span class="h3 lh-condensed unstyled-final-price">
                <%= price_with_localization(per_seat_pricing_model.final_price) %>
              </span>
              <span class="d-block text-small">/ <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span></span>
            </div>
          </div>
        </div>
        </div> <!-- /plan seat selection  -->
      </label>
    <% end %>
  </div>

  <!-- Enterprise -->
  <div class="col-md-4">
    <label class="Box d-block position-relative height-full text-normal p-5 plan-choice--experiment plan-choice--purple js-plan-choice-label" aria-live="polite" data-ga-click="<%= ga_label_with_analytics_tracking_id "Signup funnel select org plan, click, text:Enterprise;" %>">
      <!-- input -->
      <%= radio_button_tag "organization[plan]",
        GitHub::Plan.business_plus,
        GitHub::Plan.business_plus == plan,
        style: "opacity:0;",
        class: "js-plan-choice form-checkbox-details-trigger js-data-ghe-cloud-trial",
        data: organization_new_enterprise_plan_card_data_attributes
      %>
      <!-- /input -->

      <div class="position-absolute top-0 left-0 width-full text-center mt-n4">
        <div class="CircleBadge CircleBadge--small plan-choice-icon border box-shadow-none mx-auto">
          <%= octicon('check', :height => 40, :class => 'text-white') %>
        </div>
      </div>

      <div class="text-center border-bottom pb-2 mt-n3 mr-n5 ml-n5 mb-4">
        <div class="h3 h3-mktg text-purple">
          <%= short_plan_name(GitHub::Plan.business_plus) %>
        </div>
        <p class="text-gray p-2">
        Security, compliance, and flexible deployment for enterprises
        </p>
      </div>

      <div class="text-center">
        <h3 class="h1 h0-mktg text-normal mb-0 lh-condensed">
          <span class="js-unit-price" <% if params[:plan_duration]=="month" || params[:plan_duration].nil? %> hidden <% end %>>
            <%= price_with_localization(creation_view.annual_business_plus_pricing_model.unit_price) %>
          </span>
          <span class="js-unit-price" <% if params[:plan_duration]=="year" %> hidden <% end %>>
            <%= price_with_localization(creation_view.monthly_business_plus_pricing_model.unit_price) %>
          </span>
        </h3>
        <p class="text-small f5 text-gray">
        per user / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span>
        </p>
        <div class="mb-4 mt-n2 text-small">
          <%= render partial: "billing_settings/currency_toggle" %>
        </div>
      </div>

      <div class="mt-3">
        <div class="text-center">
          <h4 class="h4 h4-mktg lh-condensed mb-1">Includes:</h4>
          <ul class="list-style-none text-center lh-condensed">
            <li class="mb-1">← Everything in Team</li>
            <li class="mb-1">✓ SAML single sign-on</li>
            <li class="mb-1 d-flex flex-column">
              <div>✓ 50,000 Actions minutes/month</div>
              <div class="f6 text-gray-light">Free for public repositories</div>
            </li>
            <li class="mb-1">✓ 50GB of GitHub Packages</li>
            <li class="mb-1">✓ Advanced auditing</li>
          </ul>
        </div>
      </div>

      <div class="radio-group clearfix mt-3" role="radiogroup">
        <fieldset>
          <div class="form-checkbox mt-0">
            <input type="radio"
                   name="enterprise[plan]"
                   id="enterprise-cloud-trial"
                   class="js-enterprise-choice"
                   value="cloud-trial"
                   checked
                   hidden
                   <% unless business_plus_chosen? %>
                     disabled
                   <% end %>
                   <%= test_selector("enterprise-trial-option") %>
                   >
            <p class="note">Start your 14-day free trial. 50 seats included.</p>
          </div>
        </fieldset>
      </div>

      <div>
        <%= link_to "Start a Free Trial", new_organization_path(plan: GitHub::Plan.business_plus),
          class: "btn btn-blue btn-block js-enterprise-trial-link mt-4",
          "data-ga-click": ga_label_with_analytics_tracking_id("Signup funnel select org plan, click, text:Start a Free Trial;")
        %>
      </div>

      <div>
        <%= link_to "Contact our team", ent_contact_url,
          class: "btn btn-blue btn-block has-removed-contents js-enterprise-contact mt-4",
          data: organization_new_enterprise_server_contact_data_attributes
        %>
      </div>

      <div class="f6 mt-4 mb-0 text-gray">
        Learn more about <a href="/business" class="text-blue">GitHub Enterprise</a>.
      </div>
    </label>
  </div>
</div>
