<div class="js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_advisory(view.advisory)) %>"
     data-url="<%= show_partial_repository_advisory_path(id: view.ghsa_id, partial: "repository_advisory/member_list") %>"
     >

  <div class="discussion-sidebar-item" data-team-hovercards-enabled>
    <div class="discussion-sidebar-heading text-bold">Collaborators</div>

    <% if view.viewer_can_manage_collaborators? %>
      <%= form_tag add_repository_advisory_collaborator_path(id: view.advisory),
        class: "js-add-repository-advisory-collaborator",
        method: :post do %>
        <label class="text-normal" for="search-member">Add users or teams</label>
        <div class="input-group mt-1 js-under-limit" <%= "hidden" if current_repository.at_seat_limit? %>>
          <auto-complete src="<%= autocomplete_repository_advisory_collaborator_path %>" for="repo-collab-complete-results" class="position-relative d-block">
            <input type="text" name="member" id="search-member" class="form-control js-add-repo-access-field">
            <ul id="repo-collab-complete-results" class="autocomplete-results"></ul>
          </auto-complete>
          <span class="input-group-button">
            <button type="submit" class="btn js-add-new-collab js-auto-complete-button">
              <span class="sr-only">Add collaborator</span>
              <%= octicon("plus") %>
            </button>
          </span>
        </div>
      <% end %>
    <% end %>

    <% advisory_owners = capture do %>
      <% if view.repository.owner.organization? %>
        <div class="my-2">
          <%= link_to org_people_path(view.repository.owner, query: "role:owner") do %>
            <%= avatar_for view.repository.owner, 20, class: "avatar" %>
          <% end %>
          <%= link_to org_people_path(view.repository.owner, query: "role:owner"), class: "assignee link-gray-dark text-bold" do %>
            <span class="css-truncate-target">
              <%= view.repository.owner.to_s %> owners
            </span>
          <% end %>
        </div>
      <% else %>
        <div class="my-2">
          <%= render partial: "repos/advisories/sidebar/collaborator", locals: { member: view.repository.owner, show_removal: false } %>
        </div>
      <% end %>
    <% end %>

    <% advisory_admins = capture do %>
      <% view.admin_users.each do |admin_user| %>
        <div class="my-2">
          <%= render partial: "repos/advisories/sidebar/collaborator", locals: { member: admin_user, show_removal: false } %>
        </div>
      <% end %>

      <% view.admin_teams.each do |admin_team| %>
        <div class="my-2">
          <%= render :partial => "repos/advisories/sidebar/team_collaborator", locals: { member: admin_team, show_removal: false } %>
        </div>
      <% end %>
    <% end %>

    <% advisory_collaborators = capture do %>
      <% view.unique_collaborating_users.each do |user| %>
        <div class="my-2">
          <%= render :partial => "repos/advisories/sidebar/collaborator", locals: { member: user, view: view, show_removal: true } %>
        </div>
      <% end %>

      <% view.unique_collaborating_teams.each do |team| %>
        <div class="my-2">
          <%= render :partial => "repos/advisories/sidebar/team_collaborator", locals: { member: team, view: view, show_removal: true } %>
        </div>
      <% end %>
    <% end %>

    <div class="css-truncate">
      <p class="mt-3">Only the following users and teams can see and collaborate on this advisory:</p>

      <%= advisory_owners %>
      <%= advisory_admins %>
      <%= advisory_collaborators %>
    </div>
  </div>

  <div class="discussion-sidebar-item" data-team-hovercards-enabled>
    <div class="discussion-sidebar-heading text-bold">Publishers</div>

    <div class="css-truncate">
      <p class="mt-3">Only the following users and teams can publish this advisory:</p>

      <%= advisory_owners %>
      <%= advisory_admins %>
    </div>
  </div>
</div>
