<div>
  <%= avatar_for member, 20, class: "avatar" %>
  <%= content_tag(:span,
                  class: "text-bold v-align-middle text-gray js-hovercard-left",
                  data: hovercard_data_attributes_for_team(member),
                 ) do %>
    <span class="css-truncate-target">
      <%= member.name %>
    </span>
  <% end %>

  <% if show_removal && view.viewer_can_manage_collaborators? %>
    <%= form_tag(remove_repository_advisory_collaborator_url,
                 class: "d-inline float-right",
                 method: :delete,
                 data: {
                   error_message: "Sorry, we couldn’t remove access. Please try again.",
                   replace_remote_form: "",
                 },
                ) do %>
      <input type="hidden" name="member" value="<%= member %>">
      <button type="submit" class="btn-link muted-icon">
        <span class="sr-only">Remove <%= member %></span>
        <%= octicon("x") %>
      </button>
    <% end %>
  <% end %>
</div>
