<% page_info \
     :title => "Issue ##{this_issue.number}",
     :selected_link => :issues %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Issues",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "Issue ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: {record: this_issue, blacklist: ["body"]} %>
</div>
