<%# rubocop:disable Lint/InstanceVariable %>
<% title = "Issues & Pull Requests" %>
<% page_info :title => title %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading"><%= title %></h2>
  </div>

  <% if @issues.any? %>
    <table class="site-admin-table">
      <% @issues.each do |issue| %>
        <tr>
          <td class="tiny">
            <% if issue.pull_request? %>
              <% if issue.open? %>
                <%= octicon("git-pull-request", :class => "open") %>
              <% elsif issue.pull_request.merged? %>
                <%= octicon("git-pull-request", :class => "merged") %>
              <% else %>
                <%= octicon("git-pull-request", :class => "closed") %>
              <% end %>
            <% else %>
              <% if issue.open? %>
                <%= octicon("issue-opened", :class => "open") %>
              <% else %>
                <%= octicon("issue-closed", :class => "closed") %>
              <% end %>
            <% end %>
          </td>
          <td class="tiny">
            <%
              path = if issue.pull_request?
                gh_stafftools_repository_pull_request_path(issue)
              else
                gh_stafftools_repository_issue_path(issue)
              end
            %>
            <%= link_to "##{issue.number}", path %>
          </td>
          <td>
            Created by <%= issue.user %>
          </td>
          <td class="right-align">
            <%= issue.created_at %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate @issues, :params => {:user_id => params[:user_id], :repository => params[:repository]} %>
    </div>

  <% else %>
    <p class="site-admin-blankstate">
      No issues or pull requests.
    </p>
  <% end %>

  <% if @deleted_issues.any? %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">Deleted issues</h2>
    </div>

    <table class="site-admin-table">
      <% @deleted_issues.each do |deleted_issue| %>
        <tr>
          <td class="tiny">
            <%= octicon("issue-opened") %>
          </td>
          <td class="tiny">
            <%= link_to "##{deleted_issue.number}", stafftools_audit_log_url(query: "repo_id:#{deleted_issue.repository_id} action:issue.destroy data.number:#{deleted_issue.number}") %>
          </td>
          <td>
            Deleted by <%= deleted_issue.deleted_by %>
          </td>
          <td class="right-align">
            <%= deleted_issue.created_at %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
