<% page_info responsive: false, title: view.title %>

<%= render layout: "settings/settings" do %>
  <%= outdated_slack_installation_warning %>
  <%= render partial: "reminders/header", locals: { title: view.heading } %>

<%= form_for view.personal_reminder, url: view.form_url, method: :patch, html: { class: "js-reminders-form" }  do |form| %>
    <dl class="form-group js-slack-form-group">
      <dt><%= form.label :reminder_slack_workspace_id, "Slack workspace" %></dt>
      <dd>
        <% if view.slack_workspaces.present? %>
          <%=
            render partial: "reminders/form/slack_dropdown", locals: {
              selected_slack_workspace: view.personal_reminder.slack_workspace,
              slack_workspaces: view.slack_workspaces,
              can_add_slack_workspace: true,
              remindable: view.organization,
              personal: true
            }
          %>
        <% else -%>
          <%= link_to "Authorize Slack workspace", authorize_reminder_slack_workspace_path(view.organization, personal: true), class: "btn btn-primary" %>
        <% end -%>
      </dd>
    </dl>

    <hr>

    <%= form.fields_for :delivery_time do |delivery_time| %>
      <dl class="form-group js-day-form-group">
        <dt><%= delivery_time.label :days, "Days" %></dt>
        <dd>
          <%= render partial: "reminders/form/day_select", locals: { selected: view.selected_days, summary_text: view.days_text, allow_blank: true, form: delivery_time } %>
        </dd>
      </dl>

      <dl class="form-group js-time-form-group">
        <dt><%= delivery_time.label :times, "Times" %></dt>
        <dd class="d-flex">
          <%= render partial: "reminders/form/time_select", locals: { selected: view.selected_times, allow_blank: true, form: delivery_time } %>
          <%= render partial: "reminders/form/time_zone_select", locals: { selected: view.personal_reminder.time_zone_name, form: form } %>
        </dd>
        <dd class="error">You must select at least one time</dd>
      </dl>
    <% end -%>

    <hr>

    <div class="form-checkbox">
      <%= form.label :include_review_requests, "" do %>
        <%= form.check_box :include_review_requests %>
        Review requests assigned to you
        <p class="note">
          Receive reminders for reviews waiting on you.
        </p>
      <% end -%>
    </div>

    <div class="form-checkbox">
      <%= form.label :include_team_review_requests, "" do %>
        <%= form.check_box :include_team_review_requests %>
        Review requests assigned to your team
        <p class="note">
          Receive reminders for reviews waiting on your team.
        </p>
      <% end -%>
    </div>

    <hr>

    <div class="form-checkbox">
      <%= form.check_box :subscribed_to_events?, class: "form-checkbox-details-trigger" %>
      <%= form.label :subscribed_to_events? do %>
        Enable real-time alerts
        <p class="note">
          Receive immediate Slack messages when certain events happen
        </p>
      <% end -%>

      <div class="form-group form-checkbox-details text-normal" style="padding-left: 20px">
        <input
          type="hidden"
          value=""
          name="personal_reminder[reminder_event_subscriptions][]">
        <% view.event_types.each do |event_type, text| %>
          <div class="pt-1  js-reminders-checkbox-container">
            <%= label_tag "personal_reminder_event_types_#{event_type}", style: "font-weight:normal" do %>
              <input
                type="checkbox"
                class="js-reminders-checkbox-trigger"
                value="<%= event_type %>"
                name="personal_reminder[reminder_event_subscriptions][][event_type]"
                <%= view.selected_event_types.include?(event_type.to_s) ? "checked" : "" %>
                id="personal_reminder_event_types_<%= event_type %>">
              <%= text %>
            <% end -%>

            <% if view.event_type_permits_option?(event_type.to_s) %>
              <div class="js-reminders-checkbox-details <%= !view.real_time_selected?(event_type.to_s) && "has-removed-contents" %>">
                <input
                  type="text"
                  class="form-control input-hide-webkit-autofill"
                  placeholder="<%= view.real_time_options_placeholder(event_type.to_s) %>"
                  value="<%= view.real_time_options(event_type.to_s) %>"
                  aria-label="event subscriptions <%= event_type %>"
                  required
                  name="personal_reminder[reminder_event_subscriptions][][options]"
                  id="event_subscriptions_<%= event_type %>_options">
              </div>
            <% end -%>
          </div>
        <% end -%>
      </div>
    </div>

    <hr>

    <% unless view.personal_reminder.supports_private_repos? %>
      <div class="note overflow-hidden mb-3">
        You will only receive notifications from public repositories in this organization because the current plan for <%= link_to view.organization, view.organization.name %> does not support reminders for private repositories.
        <% if !GitHub.enterprise? %>
          <% if view.organization.adminable_by?(current_user) %>
            <a
              href="<%= upgrade_path(
                plan: GitHub::Plan.business,
                target: "organization",
                org: view.organization
              ) %>"
              class="btn-link"
              data-upgrade-link="<%= view.organization.name %>"
              data-ga-click="Orgs, upgrade to team, location:create repo prompt">
              Upgrade to Team
            </a>
          <% else %>
            An administrator can upgrade the plan.
          <% end %>
        <% end %>
      </div>
    <% end %>

    <input type="submit"
           <% if view.slack_workspaces.present? %>
            class="btn btn-primary"
           <% else %>
            class="btn" disabled
           <% end %>
           value="<% if view.new_record? %>Create<% else %>Update<% end %> reminder">
  <% end -%>

  <% unless view.new_record? %>
    <hr>
    <%= render partial: "reminders/delete_section", locals: { url: personal_reminder_path(view.organization.login) } %>
  <% end %>
<% end %>
