<%# erblint:counter TooltipCounter 3 %>

<% page_info responsive: false, :title => 'Scheduled reminders' %>

<%= render layout: "settings/settings" do %>
  <%= render partial: "reminders/header", locals: { title: "Scheduled reminders" } %>

  <div class="Box mb-3">
    <% reminders.each do |reminder| %>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div class="d-flex flex-items-center">
          <%= avatar_for(reminder.organization, 22, class: "avatar avatar-small mr-2") %>

          <% if reminder.editable? %>
            <%= link_to reminder.organization, personal_reminder_path(reminder.organization), class: "link-gray-dark" %>
          <% else %>
            <%= reminder.organization %>
          <% end %>
        </div>
        <div class="d-flex flex-items-center">
          <% if reminder.editable? && reminder.configured? %>
            <%# User can edit and has already configured a reminder %>
            <div>
              <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 18, class: "v-align-middle mr-2", style: "margin-top: 1px" %>

              <span style="max-width: 300px" class="text-gray-light css-truncate css-truncate-target v-align-middle" title="<%= reminder.slack_workspace.name %>">
                <%= reminder.description %>
              </span>
            </div>

            <div class="BtnGroup ml-2" style="min-width: 75px">
              <%= button_to reminder_test_personal_reminder_path(reminder.organization), form_class: "d-inline", style: "border-right-width: 0px;", class: "btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline", "aria-label": "Send a test reminder" do %>
                <%= octicon "megaphone" %>
              <% end %>

              <a href="<%= personal_reminder_path(reminder.organization) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder">
                <%= octicon "pencil" %>
              </a>
            </div>
          <% elsif reminder.editable? %>
            <%# User can edit but hasn't configured a reminder %>
            <div class="BtnGroup ml-2">
              <a href="<%= personal_reminder_path(reminder.organization) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder">
                <%= octicon "pencil" %>
              </a>
            </div>
          <% else %>
            <%# User can't edit %>
            <em
              class="text-red tooltipped tooltipped-sw tooltipped-multiline"
              <%= test_selector("personal_reminder_not_editable") %>
              aria-label="<%= reminder.editable_hint %>">
              <%= octicon "alert" %>
            </em>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
