<% page_info(
  class: "f4",
  marketing_page: true,
  richweb: {
    title: "GitHub Events",
    url: request.original_url,
    description: "Connect with the GitHub community at conferences, meetups, and hackathons around the world.",
  },
  title: "GitHub Events",
) %>

<%= render(Explore::NavComponent.new) %>
<%= render(Explore::Event::IndexListComponent.new(
  hosted_events: ExploreFeed::Event.all.hosted.upcoming_or_current,
  sponsored_events: ExploreFeed::Event.all.sponsored.upcoming_or_current,
)) %>
