<% page_info(
  class: "f4",
  marketing_page: true,
  richweb: {
    title: "GitHub Events",
    description: "Connect with the GitHub community at conferences, meetups, and hackathons around the world.",
  },
  title: event.display_name,
) %>

<%= render Explore::NavComponent.new %>
<%= render Explore::Event::ShowItemComponent.new(event: event) %>
