<%
  user = fuzzy_member['_model']
  view = Stafftools::MemberView.new(:member => user)
  highlights = fuzzy_member['highlight']
%>

<li class="clearfix<%= fuzzy_member['_exact'] ? nil : ' fuzzy-match' %>">
  <%= avatar_for user, 20, class: "avatar" %>
  <%= link_to user, stafftools_user_path(user) %>
  <% if view.has_name? %>
    &ndash; <%= user.profile_name %>
  <% end %>
  <% if highlights && highlights.key?('all_emails') %>
    &ndash; <%= highlights['all_emails'].first %>
  <% end %>
</li>
