<%# rubocop:disable Lint/InstanceVariable %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      GPG keys
    </h2>
  </div>

  <% if this_user.gpg_keys.any? %>
    <table class="site-admin-table">
      <% this_user.gpg_keys.primary_keys.each do |key| %>
        <tr>
          <td>
            <%= link_to key.hex_key_id, gh_stafftools_user_gpg_key_path(key) %>
          </td>
          <td class="right-align">
            <%= key.created_at %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="site-admin-blankstate">
      This user has no GPG keys.
    </p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>
  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
</div>
