<%# rubocop:disable Lint/InstanceVariable %>
<% page_info selected_link: :gpg_keys %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "GPG keys", stafftools_user_gpg_keys_path(this_user) %>
      /
      <%= this_key.hex_key_id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_key.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Expires
        </th>
        <td>
          <%= this_key.expires_at || "never" %>
        </td>
      </tr>
      <tr>
        <th>
          Can sign
        </th>
        <td>
          <%= !!this_key.can_sign %>
        </td>
      </tr>
      <tr>
        <th>
          Email addresses
        </th>
        <td>
          <% if this_key.emails.any? %>
            <% this_key.emails.each do |email| %>
              <%= email.email %>
              <% unless this_key.allowed_email?(email.email) %>
                &ndash;
                <%= octicon("alert", :class => "error") %>
                unverified
              <% end %>
              <br>
            <% end %>
          <% else %>
            none
          <% end %>
        </td>
      </tr>
      <% if this_key.primary_key? %>
        <tr>
          <th>
            Subkeys
          </th>
          <td>
            <% if this_key.subkeys.any? %>
              <% this_key.subkeys.each do |subkey| %>
                <code>
                  <%= link_to \
                  subkey.hex_key_id,
                  gh_stafftools_user_gpg_key_path(subkey) %>
                </code><br>
              <% end %>
            <% else %>
              none
            <% end %>
          </td>
        </tr>
      <% else %>
        <tr>
          <th>
            Parent key
          </th>
          <td>
            <code>
              <%= link_to \
                    this_key.primary_key.hex_key_id,
                    gh_stafftools_user_gpg_key_path(this_key.primary_key) %>
            </code>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to \
          "View database record",
          gh_database_stafftools_user_gpg_key_path(this_key),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
</div>
