<%
  page_info title: "Enable two-factor authentication", class: "page-two-factor-auth"

  product_label = GitHub.enterprise? ? "GitHub Enterprise" : "GitHub"
  sms_enabled = GitHub.two_factor_sms_enabled?
%>

<%= render layout: "settings/user/enable_two_factor" do %>
  <div class="mt-6 mx-auto" style="width: 675px;">
    <% if current_user.two_factor_authentication_enabled? %>
      <div class="flash flash-warn"><%= octicon("alert") %>
        You’re about to change your two-factor authentication device. This will
        invalidate your current two-factor devices and recovery codes.
        <% if sms_enabled %>
          This will not affect your fallback SMS configuration.
          It can be updated on the two-factor settings page.
        <% end %>
      </div>
    <% else %>
      <% if sms_enabled %>
        <p><a href="<%= GitHub.help_url %>/articles/about-two-factor-authentication">Two-factor authentication</a>
          adds an extra layer of security to your account. In addition to your username and password, you’ll need to
          enter a code that <%= product_label %> sends to you via text or an app on your phone.</p>
      <% else %>
        <p><a href="<%= GitHub.help_url %>/articles/about-two-factor-authentication">Two-factor authentication</a>
          adds an extra layer of security to your account. In addition to your username and password, you’ll need to
          enter a code that <%= product_label %> sends to you via an app on your phone.</p>
      <% end %>
    <% end %>

    <img src="<%= image_path 'modules/settings/2fa_guide@2x.png' %>" class="my-4" width="100%" height="135" alt="2fa overview">

    <ol class="f6 p-0 mb-6 d-flex list-style-none">
      <li style="width: 185px; margin-right: 36px;">When you sign in to GitHub you’ll enter your username and password, like always.</li>
      <li style="width: 230px; margin-right: 42px;">When logging in from a new browser, you’ll need to enter an additional code from your phone or tablet.</li>
      <li style="width: 180px;">Once you enter the code on the website, you’ll be logged into GitHub.</li>
    </ol>

    <ul class="list-style-none d-flex border-top pt-6 <% if sms_enabled %>mt-6<% else %>mt-4<% end %>">
      <li class="<% if sms_enabled %>col-6 pr-3<% else %>col-12<% end %>">
        Use an <a href="<%= GitHub.help_url %>/articles/configuring-two-factor-authentication-via-a-totp-mobile-app">application on your phone</a> to get two-factor authentication codes when prompted.

        <%= form_tag settings_user_two_factor_authentication_initiate_path do %>
          <input type="hidden" name="noop" value="noop">
          <input type="hidden" name="type" value="app">
          <button type="submit" class="btn btn-primary py-2 my-3 <% if sms_enabled %>btn-block<% else %>px-4<% end %>"
                  data-ga-click="2FA, select app, 2fa intro page">Set up using an app</button>
        <% end %>

        <p class="f6">
          We recommend using an application such as

          <a href="https://authy.com/guides/github/">Authy</a>,
          <a href="https://support.1password.com/one-time-passwords/">1Password</a>, or
          <a href="https://support.logmeininc.com/lastpass/help/lastpass-authenticator-lp030014">LastPass Authenticator</a>.

          These applications support secure backup of your authentication codes in the cloud and can be restored if you lose access to your device.
        </p>
      </li>
      <% if sms_enabled %>
        <li class="col-6 pl-3">
          GitHub will send you an SMS with a two-factor authentication code when prompted.
          <%= form_tag settings_user_two_factor_authentication_initiate_path do %>
            <input type="hidden" name="noop" value="noop">
            <input type="hidden" name="type" value="sms">
            <button type="submit" class="btn btn-block py-2 my-3"
                    data-ga-click="2FA, select sms, 2fa intro page" <%= "disabled" if current_user.employee? %>>Set up using SMS</button>
          <% end %>
          <p class="f6">
            SMS deliverability is only available in <a href="<%= GitHub.help_url %>/articles/countries-where-sms-authentication-is-supported#supported-countries-for-sms-authentication">certain countries</a>.
          </p>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
