<%# erblint:counter TooltipCounter 1 %>
<% page_info :title => "Enable two-factor authentication" %>
<% recovery_codes = tmp_two_factor_credential.formatted_recovery_codes %>

<div class="container-sm mx-auto settings-next">
  <div class="two-factor-steps">
    <h3>1. Recovery codes</h3>
    <p class="note">
      Recovery codes are used to access your account in the event you cannot receive two-factor authentication codes.
    </p>
    <div class="flash flash-warn flash-full recovery-codes-warning mt-3">
      Download, print, or copy your recovery codes before continuing two-factor authentication setup below.
    </div>
    <ul class="two-factor-recovery-codes text-emphasized">
      <% recovery_codes.each do |code| %>
        <li class="two-factor-recovery-code"><%= code %></li>
      <% end %>
    </ul>
    <div class="recovery-codes-saving-options">
      <%= form_tag settings_user_recovery_download_path, :class => "d-inline" do -%>
        <button
            class="btn js-enable-enable-two-factor-auth-button recovery-code-save-button"
            type="submit"
            data-ga-click="2FA, download recovery codes, view 2fa recovery codes form">
          <%= octicon("desktop-download") %>
          Download
        </button>
      <% end -%>
      <a href="<%= settings_user_recovery_print_path %>"
         target="_new"
         class="btn js-enable-enable-two-factor-auth-button recovery-code-save-button"
         data-ga-click="2FA, print recovery codes, confirm 2fa recovery codes form">
        <%= octicon("file") %>
        Print
      </a>

      <clipboard-copy
          value="<%= recovery_codes.join("\s\n") %>"
          data-ga-click="2FA, copy recovery codes, confirm 2fa recovery codes form"
          class="btn js-enable-enable-two-factor-auth-button recovery-code-save-button">
        <%= octicon("clippy") %>
        Copy
      </clipboard-copy>
    </div>
    <p class="note mt-4 mb-3">
      <b>Treat your recovery codes with the same level of attention as you would your password!</b>
      We recommend saving them with a password manager such as
      <a href="https://lastpass.com/" target="_blank" rel="noopener noreferrer">Lastpass</a>,
      <a href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>, or
      <a href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
    </p>
  </div>

  <%= form_tag(settings_user_two_factor_authentication_configuration_path, :method => :get) do %>
    <button type="reset"
            class="btn float-right"
            aria-label="Cancel">
      Cancel
    </button>
  <% end %>

  <%= form_tag(settings_user_two_factor_authentication_verify_path, :method => :get) do %>
  <button type="submit"
          class="btn btn-primary js-enable-two-factor-auth-button tooltipped tooltipped-n"
          aria-label="You must save the recovery codes above first."
          data-ga-click="2FA, enable 2fa, confirm 2fa recovery codes form"
          disabled>
    Next
  </button>
<% end %>

</div>
