<h2 class="mb-3">Metered Usage Exports</h2>

<div class="js-details-container Details">
  <div>
    <div class="Box">
      <table class="stafftools-table">
        <thead>
          <th class="no-wrap billing-table-cell">Filename</th>
          <th class="no-wrap billing-table-cell">Export dates</th>
          <th class="no-wrap billing-table-cell">Requester</th>
          <th class="no-wrap billing-table-cell">Exported at</th>
        </thead>
        <tbody>
          <% metered_exports.each_with_index do |export, idx| %>
            <tr class="<%= "bg-gray-light" if idx.odd? %>">
              <td>
                <% if defined?(this_business) %>
                  <%= link_to export.filename, stafftools_metered_export_path(this_business, export) %>
                <% else %>
                  <%= link_to export.filename, stafftools_user_metered_export_path(this_user, export) %>
              <% end %>
              </td>
              <td><%= export.starts_on.iso8601 %> - <%= export.ends_on.iso8601 %></td>
              <td>
                <% if export.requester.present? %>
                  <%= link_to export.requester.name, stafftools_user_path(export.requester) %>
                <% end %>
              </td>
              <td><%= export.created_at.strftime("%c") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
