<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<%= render "stafftools/users/metered_exports/table", metered_exports: metered_exports %>
