# Welcome to Codespaces!

You're off the waitlist and can start using Codespaces. Read on for more info before you get going.

## Getting started with Codespaces

With Codespaces, you can load your favorite Visual Studio Code extensions and language tooling, customize your development environment with your own dotfiles, and run your app and debug from your browser.

While we're in limited beta, Codespaces is supported in all private repositories you own and all public repositories--no private organizations repositories are supported yet. To learn more about how to create and configure a codespace, check out our docs.

<%= "#{GitHub.help_url}/github/developing-online-with-github-codespaces" %>

If you have feedback while you're using the beta, share your experience with us: https://support.github.com/contact/feedback?category=codespaces

All beta usage will be subject to Codespaces terms of use: <%= "#{GitHub.help_url}/github/site-policy/github-codespaces-beta-terms" %>

Thanks,
The GitHub Team
