<%graphql
  fragment on Organization {
    login
    adminInfo {
      membersWithoutVerifiedNotificationEmail(first: 100) {
        totalCount
        nodes {
          name
          login

          ...AvatarHelper::AvatarFragment::Actor
        }
      }
    }
  }
%>
<%
  org = Views::Settings::Organization::NotificationRestrictionsConfirmation.new(org)
  affected_members = org.admin_info.members_without_verified_notification_email
%>
<div class="Box-body">
  <p>
    Restricting email notifications will prevent members without a verified domain
    email from receiving <strong><%= org.login %></strong> organization email notifications.
  </p>

  <p class="text-red mb-0">
    <strong>
       <%= pluralize(affected_members.total_count, "member") %> must add a verified domain email to receive email notifications now or in the future:
    </strong>
  </p>
</div>
<ul class="list-style-none overflow-auto flex-auto">
  <% affected_members.nodes.each do |member| %>
    <li class="Box-row">
      <%= graphql_avatar_for(member, 30, class: "avatar") %>
      <span class="ml-1"><%= member.login %></span>
      <% if member.name.present? %>
        <span class="ml-1 text-gray-light text-small text-normal"><%= member.name %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="Box-footer">
  <button class="btn btn-danger btn-block mt-2" type="submit">
    Restrict email notifications to verified domain emails
  </button>
</div>
