<% locals = ensure_local_vars(local_assigns, {
  required: [:name, :id, :checked_condition, :label_text],
  optional: [],
  defaults: {}
}) %>

<input type="hidden" name="<%= locals[:name] %>" value="disabled">
<input type="checkbox" name="<%= locals[:name] %>"
  id=<%= locals[:id] %> value="enabled"
  <%= locals[:checked_condition] ? 'checked' : '' %>>
<label for="<%= locals[:id] %>">
  <%= locals[:label_text] %>
</label>
