<%graphql
  fragment Domain on OrganizationDomain {
    id
    domain
    organization {
      login
    }
  }
%>
<% domain = Views::Settings::Organization::VerifiedDomainDeleteConfirmation::Domain.new(domain) %>
<div class="Box-body">
  <p class="mb-2">
    <strong><%= domain.domain %></strong> is the only verified domain in <strong><%= domain.organization.login %></strong>.
    Because at least one verified domain is required to restrict email notifications
    to domain emails, deleting this domain will also disable that restriction.
  </p>

  <p class="text-red">
    <strong>
      Deleting this domain will immediately allow organization members to receive notifications for this organization at
      any email address.
    </strong>
  </p>
</div>


<div class="Box-footer">
  <%= button_to "Delete this domain and disable notification restrictions", org_domain_path(domain.organization.login, domain.id),
      class: "btn btn-danger btn-block mt-2",
      method: :delete %>
</div>
