<%graphql
  fragment Fragment on Query {
    organization(login: $login) {
      ...BillingSettings::PaymentsView::UserFragment
      ...Views::BillingSettings::MarketplacePlanSection::Fragment
      ...Views::BillingSettings::Overview::AccountFragment
      ...Views::BillingSettings::OverviewOrgBusiness::AccountFragment
    }
  }
%>

<%
  account = Views::Settings::Organization::Billing::Fragment.new(data).organization
  business = current_organization_for_member_or_billing.business
%>

<%
  page_info title: "Billing",
    responsive: false,
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true,
    selected_link: :organization_billing_settings
%>

<%= render layout: "orgs/settings/layout" do %>
  <% if business.nil? %>
    <% if current_organization_for_member_or_billing.billing_email.present? %>
      <%= render partial: 'billing_settings/overview', locals: {target: current_organization_for_member_or_billing, view: BillingSettings::OverviewView.new(account: current_organization_for_member_or_billing), account: account, selected_tab: selected_tab } %>
    <% else %>
      <p class="flash flash-warn"><strong>Your billing email is missing.</strong> Please go to your <%= link_to "organization’s profile settings", settings_org_profile_url(current_organization_for_member_or_billing), 'data-pjax' => true %> and add it.</p>
    <% end %>
  <% elsif GitHub.flipper[:billing_org_business_view].enabled?(current_user) %>
    <%= render partial: 'billing_settings/overview_org_business', locals: {target: current_organization_for_member_or_billing, view: BillingSettings::OverviewView.new(account: current_organization_for_member_or_billing), account: account , business: business} %>
  <% else %>
    <div class="flash mb-3">
      <h4>This organization is part of <%= business.name %> and is billed at the enterprise level</h4>
      <p>
        For more details,
        <% if business.billing_manager?(current_user) || business.owner?(current_user) %>
          view your enterprise account <%= link_to "billing settings", settings_billing_enterprise_path(business) %>.
        <% else %>
          contact your enterprise administrator.
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
