<% page_info responsive: false, title: "Deleted Repositories" %>
<% repos = view.filtered_list %>

  <%= render layout: "orgs/settings/layout" do %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Deleted Repositories<% end %>
  <% end %>

  <div class="Box">
    <% if repos.empty? %>
      <div class="Box-body text-center p-6">
        <strong>No recoverable repositories were found for <%= view.target.login %>.</strong>
        <p class="mt-3"><%= view.disclaimer_text %> <%= link_to  "Learn more", view.help_url %></p>
      </div>
    <% else %>
      <div class="flash flash-full">
        <%= view.disclaimer_text %> <%= link_to  "Learn more", view.help_url %>
      </div>
      <% repos.each do |repo| %>
        <div class="Box-row d-flex flex-items-center js-deleted-repository" id="restorable-repository-<%= repo.id %>">
          <%= octicon("#{(repo.public? ? "repo" : "lock")}", class: "mr-2") %>
          <span class="flex-auto"><%= repo.name_with_owner %></span>

          <span class="js-restore-status text-gray text-small">
            <% if repo.has_current_restore_job? %>
              <%= render partial: "settings/repo_restoring", locals: {repo_id: repo.id}  %>
            <% else %>
              Deleted <%= time_ago_in_words_js repo.deleted_at %> <%= "by #{repo.deleted_by.login}" if repo.deleted_by.present? %>
            <% end %>
          </span>

          <%= render layout: "shared/details_dialog", locals: {
            button_class: "btn btn-sm js-disableable-summary",
            button_text: "Restore",
            details_class: "ml-3",
            title: "Are you sure you want to restore #{repo.name_with_owner}?"
          } do %>

            <div class="Box-body">
              <p class="text-gray">This repository will be in a <%= repo.public? ? "public" : "private" %> state<%= " and will still be archived" if !repo.maintained %> when it is restored. To change this state, go to settings once the repo is restored.</p>
              <p>Any team or collaborator permissions that previously existed for this repository will not be restored. If you require specific team or collaborator permissions, you will need to configure them in settings.</p>
              <div class="Box-footer">
                <%= form_tag settings_restore_repo_path(repo.id), :class => "js-repo-restore" do %>
                  <button type="submit" class="btn btn-block btn-danger">I understand, restore this repository</button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
