<% page_info responsive: false, :title => "Security & analysis" %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render partial: "shared/security_analysis_form", locals: { owner: current_organization} %>
<% end %>
