<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Teams" %>

<% view = Settings::Organization::TeamsView.new(organization: current_organization) %>

<%= render layout: "orgs/settings/layout" do %>
  <% if @legacy_admin_teams.any? %>

    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Legacy admin teams<% end %>
    <% end %>

    <p>
      <% if current_organization.members_can_create_repositories? %>
        Since your organization allows all members to create repositories, none of the members of these teams have any extra privileges, so migrating these teams is safe.
      <% elsif @legacy_admin_members.present? %>
        <% if @legacy_admin_members.size == 1 %>
          <strong>1</strong> organization member is
        <% else %>
          <strong><%= @legacy_admin_members.size %></strong> organization members are
        <% end %>

        able to create repositories because they are on

        <% if @legacy_admin_teams.size == 1 %>
          this legacy admin team.
        <% else %>
          these legacy admin teams.
        <% end %>

        <a href="<%= GitHub.help_url %>/articles/migrating-your-previous-admin-teams-to-the-improved-organization-permissions/">Learn more</a>.
      <% end %>
    </p>

    <ul class="Box mb-3">
      <% @legacy_admin_teams.each do |team| %>
        <li class="Box-row"><a href="<%= team_path(team) %>"><%= team.name %></a></li>
      <% end %>
    </ul>

    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Migrate #{@legacy_admin_teams.size == 1 ? "team" : "all #{pluralize @legacy_admin_teams.size, "teams"}"}",
      button_class: "btn btn-primary mb-4",
      title: "Migrate legacy admin teams"
    } do %>
      <% if current_organization.members_can_create_repositories? %>
        <div class="Box-body overflow-auto">
          Since your organization allows all members to create repositories, none of the members of these teams have any extra privileges, so migrating these teams is safe.
        </div>
      <% elsif @legacy_admin_members.present? %>
        <div class="Box-body">
          If you migrate all legacy admin teams, the following people will lose the ability to create repositories for this organization:
        </div>
        <ul class="overflow-auto">
          <% @legacy_admin_members.each do |member| %>
            <li class="Box-row">
              <a href="<%= user_path(member) %>">
                <%= avatar_for(member, 16, :class => "avatar") %>
                <%= member.login %>
              </a>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="Box-body overflow-auto">
          There are no non-owner members of this organization’s legacy admin teams, so no one will lose any permissions when you migrate them.
        </div>
      <% end %>

      <div class="Box-footer">
        <%= button_to "Migrate all teams", settings_org_migrate_legacy_admin_teams_path(current_organization), :class => "btn btn-primary", :method => :put %>
      </div>
    <% end %>
  <% end %>

  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>Team discussions<% end %>
    <% component.slot(:actions) do %>
    <% end %>
  <% end %>

  <p>
    Team discussions provide a place for a team to have conversations that span across projects or repositories and that don’t belong in an issue or a pull request.
  </p>

  <%= form_for view.organization, url: update_team_discussions_enabled_path(view.organization), method: :put do |f| %>
    <div class="form-checkbox mt-0">
      <%= f.check_box :team_discussions_allowed?, disabled: view.team_discussions_setting_policy? %>
      <%= f.label :team_discussions_allowed?, "Enable team discussions for this organization", class: view.team_discussions_label_class %>

      <p class="note">
        This allows members to start discussions in any team in the <strong><%= view.organization %></strong> organization.
      </p>
    </div>

    <div class="d-flex flex-items-baseline">
      <button type="submit" class="btn ml-3 mb-6" <%= "disabled" if view.team_discussions_setting_policy? %>>Save</button>
      <% if view.team_discussions_setting_policy? %>
        <div class="text-gray mt-n4 pl-3 note">
          <%= octicon("shield-lock", :height => 13) %>
          This setting has been
          <a href="<%= GitHub.business_accounts_help_url %>">
            <%= view.team_discussions_allowed_text %> by enterprise administrators</a>.
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>
