<% if show_corporate_tos_banner? %>
  <div class="js-notice">
    <div class="flash-messages mt-3 mb-2">
      <div class="flash d-flex flex-items-center">
        <span class="flex-auto">
          <strong>We updated our Terms of Service!</strong> You can now switch to our <a href="<%= site_corp_terms_path %>" target="_blank">Corporate Terms of Service</a>. <a href="<%= GitHub.help_url %>/articles/github-corporate-terms-of-service">Learn more</a> or contact our <a href="<%= contact_path %>">Support Team</a> with questions.
        </span>
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "flash-action",
          button_class: "btn btn-primary ml-4",
          button_text: "Sign now",
          ga_click: "Organizations, click, corporate terms of service banner show",
          title: "GitHub Corporate Terms of Service"
        } do %>
          <%= form_for current_organization, url: org_tos_path(current_organization), html: {class: "d-flex flex-column"} do |f| %>
            <div class="Box-body overflow-auto">
              We updated our Terms of Service! Since your organization is on our standard Terms of Service, we assume that the organization is owned by individuals, not a business. If you want to change that, fill out the sections below to agree to our <a href="<%= site_corp_terms_path %>" target="_blank">Corporate Terms</a>. <strong>Note:</strong> This will change the Terms and ownership of your Organization account.
              <input name="organization[terms_of_service_type]" type="hidden" value="Corporate">
              <div class="form-checkbox mt-4 mb-0" aria-live="polite">
                <input type="checkbox" class="form-checkbox-details-trigger" id="business_owned" name="business_owned">
                <label for="business_owned">
                  Yes, I want to sign these terms on behalf of my business.
                </label>
                <span class="form-checkbox-details my-3">
                  <strong class="d-block mb-1">What is the name of the business that owns this account?</strong>
                  <input name="organization[company_name]" id="organization[company_name]" type="text" placeholder="e.g, Acme, Inc." class="form-control input-block input-hide-webkit-autofill mb-1 js-company-name-input" aria-label="The name of the company that owns this account" required>
                  <span class="note">This business &mdash; not <strong><%= current_user.name %></strong> (your user account), will own and/or control any content posted to the organization account</span>
                </span>
              </div>
            </div>
            <div class="Box-footer text-gray py-3 d-flex flex-items-center">
              <button type="submit"
                      class="btn btn-primary js-purchase-button"
                      data-ga-click="Corporate TOS banner, location:org_dashboard"
                      data-octo-click="corporate_tos_banner_submit"
                      data-octo-dimensions="location:org_dashboard"
                      data-disable-invalid
                      data-disable-with="Accepting terms&hellip;">
                Accept terms
              </button>
              <span class="f6 ml-3 text-left">
                By clicking &ldquo;Accept terms&rdquo;, you agree to the
                <a href="<%= site_corp_terms_path %>" target="_blank" class="js-corp-tos-link" aria-hidden="false">Corporate Terms of Service</a> and the
                <a href="<%= site_privacy_path %>" target="_blank">privacy statement</a><span data-wording="on behalf of" class="js-company-name-text"></span>.
              </span>
            </div>
          <% end %>
        <% end %>

        <span class="ml-4">
          <%= form_tag dismiss_notice_path("org_corporate_tos_banner"), :class => "js-notice-dismiss", :method => :post do %>
            <button type="submit"
                    class="btn-link no-underline"
                    data-ga-click="Organizations, click, corporate terms of service banner dismiss">
              <%= octicon("x", height: 16, "aria-label": "Dismiss") %>
            </button>
          <% end %>
        </span>
      </div>
    </div>
  </div>
<% end %>
