<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Team on Team {
    name
    slug
    combinedSlug
    ldapDn
    resourcePath
  }
%>
<% team = Views::Organizations::ImportGroup::Team.new(team) %>
<% organization_login, _ = team.combined_slug.split("/") %>

<li class="table-list-item js-team">
  <div class="table-list-cell ldap-list-team-name flush-left">
    <div class="team-name-placeholder edit-hide">
      <span class="edit js-edit-team tooltipped tooltipped-n" aria-label="Edit team name">
        <%= octicon("pencil") %>
      </span>
      <strong class="team-name"><a href="<%= team.resource_path.to_s %>"><%= team.name %></a></strong>
      <span class="ldap-group-dn"><%= team.ldap_dn %></span>
    </div>

    <div class="team-name-field edit-fields">
      <%= form_tag team.resource_path.to_s, method: :put, class: "js-team-form" do %>
        <input type="hidden" name="team[ldap_dn]" value="<%= team.ldap_dn %>">
        <dl class="form-group m-0">
          <dd class="d-flex">
            <% check_url = check_team_name_path(current_organization, team_slug: team.slug) %>
            <auto-check required src="<%= check_url %>" class="flex-auto mr-2">
              <input
                name="team[name]"
                type="text"
                class="form-control js-team-name-field width-full"
                value="<%= team.name %>"
                required
                aria-label="Team name">
              <%= csrf_hidden_input_for check_url %>
            </auto-check>
            <button type="submit" class="btn mr-2" data-disable-invalid data-disable-with="Saving…">Save</button>
            <button type="button" class="btn-link js-cancel-team-edit">or cancel</button>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>

  <div class="table-list-cell ldap-mention-as">
    <span>@<%= organization_login %>/</span><strong><%= team.slug %></strong>
  </div>

  <%= form_tag team.resource_path.to_s, :method => :delete, :class => "table-list-cell text-right flush-right js-team-remove-group" do %>
    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
  <% end %>
</li>
