<div class="d-flex py-4">
  <%= octicon("mark-github", :height => 40, :'aria-label' => "GitHub", :class => "text-gray mr-3") %>
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-justify-between flex-items-center mb-1">
        <div>
          Welcome to the <strong><%= org %></strong> organization!
        </div>
        <span class="f6 text-gray-light">
          <%= time_ago_in_words org.created_at %>
        </span>
      </div>
    </div>
    <div>
      <a href="<%= teams_path(org) %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:view-teams context:organization role:member">View your teams</a>
      <a href="<%= user_path(org) %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:org-profile context:organization role:member">Check out <%= current_organization %>’s public profile</a>
      <a href="/" class="d-block" data-ga-click="Dashboard, click, Welcome link:user-dashboard context:organization role:member">Return to your personal dashboard</a>
      <a href="<%= GitHub.help_url %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:learn-more context:organization role:member">Learn more about Git and GitHub</a>
    </div>
  </div>
</div>
