<% if !current_user.organizations.empty? %>
  <div class="Box p-3 my-3">
    <div class="d-flex">
      <div class="mr-3">
        <%= octicon("organization", :height => 32, :class => "text-blue") %>
      </div>
      <div>
        <h2 class="f4 text-normal mb-2">You’re an owner of the <strong><%= current_organization %></strong> organization!</h2>

        <p>Here are some quick tips for an organization owner:</p>

        <ul class="ml-4">
          <li class="mb-2">
            <div class="d-flex flex-justify-between">
              <span class="mr-3">
                Use the switch context button in the upper left corner of this screen
                to switch between your personal context (<strong><%= current_user %></strong>)
                and this organization.
              </span>
              <%= image_tag 'modules/notices/context_button.png',
                :size => "100x30", :alt => "context switcher" %>
            </div>
          </li>

          <li class="mb-2">
            Create teams and add users to control access to your organization’s repositories. There’s no limit, so create as many as you need!
          </li>

          <li class="mb-2">
            <div class="d-flex flex-justify-between">
              <span class="mr-3">
                Control your organization’s
                <%= safe_join([content_tag(:strong, "billing information"), ","]) if GitHub.billing_enabled? %>
                public profile, and other settings using the “Organization settings” section under your personal Settings, which you will find at the top right of your screen.
              </span>
              <%= if GitHub.enterprise?
                image_tag "modules/notices/account_settings-enterprise.png", :size => "100x32", :alt => ""
              else
                image_tag "modules/notices/account_settings.png", :size => "100x32", :alt => ""
              end %>
            </div>
          </li>

          <li class="mb-2">
            <div class="d-flex flex-justify-between">
              <span class="mr-3">
                Add repositories to this organization by using the “New repository” button to the right. Using the “fork” button on a repository, you’ll be given the option to fork the repository into this organization.
              </span>
              <%= image_tag 'modules/notices/fork_button.png',
                :size => "100x24", :alt => "fork button" %>
            </div>
          </li>
        </ul>

        <p>This box will disappear when you add people or repositories to your organization.</p>
      </div>
    </div>
  </div>
<% end %>
