<div class="alert github-welcome">
  <div class="body">
    <%= octicon('mark-github', :height => 32, :'aria-label' => 'GitHub', :class => 'dashboard-event-icon') %>
    <div class="title">
      You&rsquo;re an owner of the <%=h org %> organization!

      (<%= time_ago_in_words_js org.created_at, "subtle" %>)
    </div>
    <div class="details">
      <div class="message">
        <ul>
          <li><%= link_to "Create a repository for #{org}",
                          new_org_repository_path(org),
                          data: organization_create_repo_data_attributes %></li>
          <li><%= link_to 'View and create teams',
                          teams_path(org),
                          data: organization_view_team_data_attributes %></li>
          <li><%= link_to "See all owners",
                          org_owners_path(org),
                          data: organization_see_owners_data_attributes %></li>
          <li><%= link_to "Edit #{org}’s settings",
                          settings_org_profile_path(org),
                          data: organization_edit_settings_data_attributes %></li>
          <li><%= link_to "Return to your personal dashboard",
                          "/",
                          data: organization_return_personal_dash_data_attributes %></li>
          <li><%= link_to "Learn more about Git and GitHub",
                          GitHub.help_url,
                          data: organization_learn_more_data_attributes %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
