<%# erblint:disable DeprecatedCustomCss %>
<% page_info responsive: false, title: "Import LDAP groups" %>

<%graphql
  fragment Organization on Organization {
    teamsResourcePath
    ldapGroupSuggestionsResourcePath
    teams(ldapMapped: true, first: $first) {
      totalCount
      edges {
        node {
          ...Views::Organizations::ImportGroup::Team
        }
      }
    }
  }
%>

<% organization = Views::Organizations::Import::Organization.new(organization) %>
<% empty = organization.teams.total_count.zero? %>

<%=
render_partial_view "orgs/header", Orgs::HeaderView,
  organization: current_organization,
  selected_nav_item: :teams
%>

<div class="container js-ldap-import-groups-container ldap-import-groups-container <%= "is-empty" if empty %>">
  <div class="subnav">
    <%= form_tag organization.teams_resource_path.to_s, class: "js-ldap-group-adder", style: "width: 50%;" do %>
      <input type="hidden" name="team[ldap_dn]" class="js-team-ldap-dn-field">
      <dl class="form-group m-0">
        <dd>
          <div class="input-group">
            <auto-complete class="d-block auto-search-group js-import-ldap-group-completer" src="<%= organization.ldap_group_suggestions_resource_path %>" for="ldap-team-import-results">
              <input
                type="text"
                name="team[name]"
                class="form-control subnav-search-input input-contrast auto-search-input js-team-ldap-group-field"
                placeholder="Search and import an LDAP group"
                aria-label="Search and import an LDAP group"
                required
                autofocus>
              <%= octicon "search" %>
              <ul id="ldap-team-import-results" class="autocomplete-results"></ul>
            </auto-complete>
            <span class="input-group-button">
              <button type="submit" class="btn js-auto-complete-button" disabled data-disable-with="Importing…">
                Import
              </button>
            </span>
          </div>
          <div class="error">This group has already been imported.</div>
        </dd>
      </dl>
    <% end %>
  </div>

  <ul class="table-list ldap-memberships-list js-ldap-imported-groups">
    <% organization.teams.edges.each do |team| %>
      <%= render partial: "organizations/import_group", locals: {
            organization: organization,
            team: team.node
          } %>
    <% end %>
  </ul>

  <div class="blankslate">
    <%= octicon("jersey", height: 32, class: "blankslate-icon") %>
    <h3>Keep your members synchronized.</h3>
    <p>Map your LDAP groups to GitHub teams and we’ll handle member on- and off-boarding.</p>
  </div>

  <div class="form-actions ldap-import-form-actions js-import-form-actions <%= "d-none" if empty %>">
    <a href="<%= organization.teams_resource_path %>" class="btn btn-primary">Finish importing groups</a>
  </div>
</div>
