<%# erblint:disable LandmarkHasLabel %>
<%# erblint:counter TooltipCounter 1 %>
<%graphql
  fragment Organization on Organization {
    ...Views::Dashboard::OrgReposBox::Organization
    id
  }
%>
<% org = Views::Organizations::Show::Organization.new(org) %>

<% feed = private_org_feed_path(:atom) %>
<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, feed %>
<% end %>

<% page_info title: "Dashboard",
             class: "full-width",
             selected_link: home_path,
             footer: false,
             dashboard_pinnable_item_id: current_organization.global_relay_id %>

<%= render "orgs/identity_management/banner", organization: current_organization %>

<% if display_org_private_repo_limit_banner? %>
  <div class="flash-messages">
    <div class="flash flash-error">
      <%= form_tag ignore_upgrade_organization_path(current_organization), method: :post do %>
        <button type="submit" aria-label="Hide this notice forever" class="tooltipped tooltipped-s flash-close" data-ga-click="dashboard, click, dismiss private repo limit banner - context:organization">
          <%= octicon('x', :"aria-label" => "Hide this notice forever", :class => "v-align-text-top") %>
        </button>
      <% end %>
      It appears your organization is at its current plan limit.
      You can <%= link_to 'upgrade now', settings_org_billing_path(current_organization), :"data-ga-click" => "dashboard, click, clicked upgrade from private repo limit banner - context:organization" %>
      for more space!
    </div>
  </div>
<% end %>

<%= render partial: 'organizations/corporate_tos_banner' %>
<%= render partial: 'organizations/education_tos_banner' %>

<div id="dashboard" class="dashboard">
  <% content_for :left_column do %>
    <div class="dashboard-sidebar js-repos-container px-3 px-md-4 px-lg-4 js-sticky overflow-auto top-0" id="org_your_repos" data-pjax-container>

      <div class="border-bottom py-3 mt-3 mb-4">
        <%= render partial: "dashboard/account_context", locals: { location: "org" } %>
      </div>
      <%= link_to "View organization", user_url(current_organization), class: "btn btn-outline f6 width-full mb-3",  data: dashboard_repositories_org_profile_data_attributes %>
      <div class="mb-3" data-repository-hovercards-enabled>
        <%= render partial: "dashboard/org_repos_box",
                  locals: { org: org, query: query, id: "org-repos-filter-xl" } %>
      </div>
    </div>
  <% end %>

  <% content_for :right_column do %>
    <%= render partial: 'organizations/notice_survey' %>

    <div data-team-hovercards-enabled>
      <include-fragment src="<%= member_statuses_path(id: org.id, org: "1") %>"></include-fragment>
    </div>
  <% end %>

  <div class="news">
    <% if org_admin? && current_organization.people.size == current_organization.admins.size && current_organization.repositories.size == 0 %>
      <%= render partial: 'organizations/welcome_owner_big' %>
    <% end %>

    <%= render partial: "dashboard/include_recent_activity" %>

    <div class="d-block d-md-none">
      <div class="mt-2 mb-4 Details js-repos-container" id="dashboard-org-repos-box" data-pjax-container role="navigation">
        <h2 class="f4 mb-1 text-normal d-flex flex-justify-between flex-items-center">Repositories</h2>
        <div class="Box px-2 py-1 mb-3 pb-2">
          <%= render partial: "dashboard/org_repos_box", locals: { org: org, query: query, id: "org-repos-filter-sm" } %>
        </div>
      </div>
    </div>

    <%= render partial: "dashboard/include_news_feed", locals: { url: organizations_news_feed_path } %>

    <div class="f6 mb-2">
      <a class="link-gray mt-4 d-inline-block" href="<%= feed %>" data-ga-click="Dashboard, click, News feed atom/RSS link - context:organization"><%= octicon('rss', :class => "mr-1") %>Subscribe to the <strong><%= current_context %></strong> organization news feed</a>
    </div>
  </div>
</div><!-- /#dashboard -->

<% content_for :scripts do %>
  <%= javascript_bundle :dashboard %>
<% end %>
