<%= form_for view.advisory, url: create_repository_advisory_path(current_repository.owner, current_repository), method: :post, html: { class: "advisory-form" } do |f| %>
  <div class="discussion-topic-header border-bottom pb-2 pt-md-2 px-md-2">
    <%= f.text_field :title,
      class: "pr-5 input-lg input-block input-contrast required title ",
      id: "new-title",
      placeholder: 'Title',
      "aria-label" => "Title",
      autofocus: 'autofocus',
      autocomplete: 'off',
      required: 'required' %>
  </div>

  <div class="px-2 pt-2 pb-3 bg-gray-light">
    <div class="d-flex">
      <%= f.text_group "Affected version(s)", :affected_versions, group_class: "col-6 mb-0 pr-2 mt-0", class: "", placeholder: "e.g. < 1.2.3",  error: error_for(view.advisory, :affected_versions) %>
      <%= f.text_group "Patched version(s)", :patches, group_class: "col-6 mb-0 mt-0", class: "", placeholder: "e.g. 1.2.3" %>
    </div>

    <div class="d-flex">
      <%= f.text_group "Package name(s)", :package, group_class: "col-6 mb-0 pr-2 mt-3", class: "form-control", placeholder: "e.g. example.js" %>
      <%= f.text_group "Package ecosystem(s)", :ecosystem, group_class: "col-6 mb-0 mt-3", class: "form-control", placeholder: "e.g. npm" %>
    </div>

    <div class="d-flex">
      <%= f.select_group "Severity", :severity, RepositoryAdvisory.severities.keys.map { |s| [s.humanize, s] }, { "aria-label" => "Severity", required: true }, { group_class: "col-6 mb-0 pr-2 mt-3", class: "width-full" } %>
      <%= f.text_group "CVE identifier", :cve_id, group_class: "col-6 mb-0 mt-3", class: "form-control", placeholder: "e.g. CVE-#{Date.current.year}-######", error: error_for(view.advisory, :cve_id) %>
    </div>
  </div>

  <div class="form-group mt-0">
    <%= render partial: "repos/advisories/comment_form", locals: {
      kind: :new,
      data_preview_url: preview_path(repository: view.advisory.repository.id),
      comment_body: view.advisory.description_or_template,
      textarea_id: "description",
      textarea_name: "repository_advisory[description]",
    } %>
  </div>

  <div class="d-flex flex-justify-end form-actions mt-n3 p-2">
    <div class="d-flex flex-items-center flex-auto">
      <a class="tabnav-extra p-0 m-0" href="<%= GitHub.guides_url %>/features/mastering-markdown/" target="_blank" data-ga-click="Markdown Toolbar, click, help">
        <%= octicon("markdown", class: "v-align-bottom") %>
        Styling with Markdown is supported
      </a>
    </div>

    <button type="submit" class="btn btn-primary" data-disable-invalid data-disable-with>
      Create security advisory
    </button>
  </div>
<% end %>
