<%# view is an instance of RepositoryAdvisories::ShowView %>
<div class="advisory-form border-0 bg-gray-light js-repository-advisory-form-container">
  <%# This form's fields can be found in the advisory_credit_fields partial. %>
  <%= form_tag gh_add_repository_advisory_credit_path(view.advisory), id: "repository-advisory-add-credit-form", class: "js-repository-advisory-add-credit-form" %>

  <%= form_for view.form_advisory, url: gh_repository_advisory_path(view.advisory), method: :put, html: { id: "repository-advisory-metadata" } do |form| %>
    <div class="px-2">
      <div class="d-flex">
        <%= form.text_group "Affected version(s)", :affected_versions, group_class: "col-6 mb-0 pr-2", class: "form-control", placeholder: "e.g. < 1.2.3", error: error_for(view.form_advisory, :affected_versions) %>
        <%= form.text_group "Patched version(s)", :patches, group_class: "col-6 mb-0 pl-2", class: "form-control", placeholder: "e.g. 1.2.3" %>
      </div>

      <div class="d-flex">
        <%= form.text_group "Package name(s)", :package, group_class: "col-6 mb-0 pr-2", class: "form-control", placeholder: "e.g. example.js" %>
        <%= form.text_group "Package ecosystem(s)", :ecosystem, group_class: "col-6 mb-0 pl-2", class: "form-control", placeholder: "e.g. npm" %>
      </div>

      <div class="d-flex">
        <%= form.select_group "Severity", :severity, RepositoryAdvisory.severities.keys.map { |s| [s.humanize, s] }, { "aria-label" => "Severity", required: true }, { group_class: "col-6 mb-0 pr-2", class: "width-full" } %>
        <%= form.text_group "CVE identifier", :cve_id, group_class: "col-6 mb-0 pl-2", class: "form-control", placeholder: "e.g. CVE-#{Date.current.year}-######", error: error_for(view.form_advisory, :cve_id) %>
      </div>
    </div>

    <div class="form-group bg-white mb-0 pb-2">
      <%= render partial: "repos/advisories/comment_form", locals: {
        mention_suggestions_url: repository_advisory_mention_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
        issue_suggestions_url: repository_advisory_issue_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
        data_preview_url: preview_path(repository: view.advisory.repository.id),
        comment_body: view.form_advisory.description_or_template,
        textarea_id: "description",
        textarea_name: "repository_advisory[description]",
      } %>
    </div>

    <%= render partial: "repos/advisories/credits/form_list", locals: { view: view, form: form } %>

    <div class="Box-footer d-flex flex-justify-end form-actions p-2 <%= "mt-n3 border-top-0" unless view.viewer_may_manage_credits? %>">
      <button class="btn btn-danger js-comment-cancel-button js-details-target mr-2" type="button"
              data-confirm-text="Are you sure you want to discard your unsaved changes?" aria-expanded="true" aria-label="Cancel editing advisory">
        Cancel
      </button>

      <button type="submit" class="btn btn-primary mr-0" data-disable-invalid data-disable-with>
        Update security advisory
      </button>
    </div>
  <% end %>
</div>
