<%# `view` is instance of RepositoryAdvisories::MergeBoxView %>

<% case view.merge_state
   when :no_changes %>
  <%= render_partial_view "repos/advisories/merge_box_states/no_changes", view %>
<% when :unknown %>
  <%= render_partial_view "repos/advisories/merge_box_states/unknown", view %>
<% when :draft %>
  <%= render_partial_view "repos/advisories/merge_box_states/draft", view %>
<% when :dirty %>
  <%= render_partial_view "repos/advisories/merge_box_states/dirty", view %>
<% when :clean %>
  <%= render_partial_view "repos/advisories/merge_box_states/clean", view %>
<% when :invalid %>
  <%= render_partial_view "repos/advisories/merge_box_states/invalid", view %>
<% end %>
