<div class="comment timeline-comment">
  <%
    protocol_selector_view = Repositories::ProtocolSelectorView.new(
      :context => :repo_header,
      :repository => view.workspace_repository,
      :user => current_user
    )
  %>
  <git-clone-help class="Box Box--spacious border-0 d-block">
    <div class="Box-header Box-header--blue">
      <h3>Add changes to this advisory</h3>

      <div class="d-flex my-2">
        <div class="BtnGroup">
          <% protocol_selector_view.each_protocol_view do |protocol_view| %>
            <%= form_tag protocol_view.sticky_url, :class => "BtnGroup-parent", "data-remote" => true do %>
              <button type="submit" class="BtnGroup-item btn btn-sm js-git-protocol-clone-url<% if protocol_view.is_default %> selected<% end %>"
                      data-action="click:git-clone-help#updateURL"
                      data-targets="git-clone-help.cloneURLButtons"
                      data-url="<%= protocol_view.url %>"
                      data-ga-click="Empty repo, click, Clicked <%= protocol_view.protocol  %> protocol">
                <%= protocol_view.protocol %>
              </button>
            <% end %>
          <% end %>
        </div>
        <div class="input-group flex-1 ml-2">
          <input id="empty-setup-clone-url" type="text" readonly spellcheck="false" class="form-control input-sm input-monospace" data-target="git-clone-help.helpField" value="<%= protocol_selector_view.default_url %>" aria-label="Clone URL">
          <span class="input-group-button">
            <clipboard-copy
                for="empty-setup-clone-url"
                aria-label="Copy to clipboard"
                class="btn btn-sm zeroclipboard-button"
                data-ga-click="Empty repo, click, Clicked copy URL">
              <%= octicon("clippy") %>
            </clipboard-copy>
          </span>
        </div>
      </div>

      <p class="mb-0">Use <%= link_to "the temporary private fork", repository_path(view.workspace) %> to add changes to this advisory.</p>
    </div>

    <% if view.recently_touched_branches.any? %>
      <div class="Box-body p-3">
        <div class="RecentBranches">
          <% view.recently_touched_branches.each do |branch| %>
            <div class="RecentBranches-item p-2 clearfix">
              <% branch_name      = "#{view.workspace.owner}:#{branch[:name]}" %>
              <% comparison_range = "#{view.repository.owner}:#{view.repository.default_branch}...#{branch_name}" %>
              <a href="<%= compare_path(view.workspace, comparison_range, true) %>" class="btn btn-sm btn-primary float-right" data-ga-click="Repository, go to new pull request form, location:recently pushed branches; text:Compare & pull request">
                <%= octicon('git-pull-request') %>
                Compare &amp; pull request
              </a>
              <div class="css-truncate">
                <%= octicon('git-branch', :class => "ml-2") %>
                <strong>
                  <%= link_to branch[:name], repository_path(view.workspace, branch[:name]),
                    :rel => 'nofollow', :class => 'RecentBranches-item-link css-truncate-target', :title => branch_name %>
                </strong>
                (<%= time_ago_in_words branch[:pushed_at] %> ago)
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if view.pull_requests.any? %>
      <ul>
        <% view.pull_requests.each do |pull| %>
          <li class="Box-row p-3">
            <%= render_partial_view "repos/advisories/pull_request", RepositoryAdvisories::PullRequestView, pull_request: pull %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="Box-row">
        <div class="position-relative mb-2">
          <h4>Clone and create a new branch</h4>
        </div>
        <div class="copyable-terminal">
          <div class="copyable-terminal-button">
            <clipboard-copy for="advisory-setup-clone-repo-echo" aria-label="Copy to clipboard" class="btn btn-sm zeroclipboard-button" data-ga-click="Advisory workspace repo clone, click, Clicked copy existing repo commands" tabindex="0" role="button">
               <%= octicon("clippy") %>
            </clipboard-copy>
          </div>
          <pre id="advisory-setup-clone-repo-echo" class="copyable-terminal-content">git clone <span data-target="git-clone-help.helpTexts" ><%= protocol_selector_view.default_url %></span>
cd <%= view.workspace.name %>
git checkout -b advisory-fix-1</pre>
        </div>
        <div class="position-relative mb-2 mt-2">
          <h4>Make your changes, then push</h4>
        </div>
        <div class="copyable-terminal">
          <div class="copyable-terminal-button">
            <clipboard-copy for="advisory-setup-push-repo-echo" aria-label="Copy to clipboard" class="btn btn-sm zeroclipboard-button" data-ga-click="Advisory workspace repo push, click, Clicked copy existing repo commands" tabindex="0" role="button">
              <%= octicon("clippy") %>
            </clipboard-copy>
          </div>
          <pre id="advisory-setup-push-repo-echo" class="copyable-terminal-content">git push -u origin advisory-fix-1</pre>
        </div>
      </div>
    <% end %>
  </git-clone-help>
</div>
