<%# erblint:counter TooltipCounter 1 %>
<%# Make sure the user may view every advisory being rendered %>
<% raise ApplicationController::NotFound unless view.readable? %>

<li class="Box-row Box-row--focus-gray p-0 selectable read">
  <div class="d-flex Box-row--drag-hide position-relative">
    <div class="flex-shrink-0 pt-2 pl-3">
      <span class="tooltipped tooltipped-n" aria-label="<%= view.state.humanize %> advisory">
        <%= octicon(view.state_badge_icon, class: "mr-0 text-#{view.state_text_color}") %>
      </span>
    </div>

    <div class="d-flex flex-auto flex-column flex-md-row p-2 pr-3">
      <div class="lh-condensed flex-auto">
        <a href="<%= gh_repository_advisory_path(view.advisory) %>" class="link-gray-dark v-align-middle no-underline h4">
          <%= view.title %>
        </a>

        <div class="mt-1 text-small text-gray">
          <%= view.ghsa_id %>

          <span class="opened-by">
            <% if view.published? %>
              published
              <%= time_ago_in_words_js(view.published_at) %>
              by
              <%= link_author view.publisher, class: "author muted-link" %>
            <% elsif view.closed? %>
              by
              <%= link_author view.author, class: "author muted-link" %>
              was closed
              <%= time_ago_in_words_js(view.closed_at) %>
            <% else %>
              opened
              <%= time_ago_in_words_js(view.created_at) %>
              by
              <%= link_author view.author, class: "author muted-link" %>
            <% end %>
          </span>
        </div>
      </div>

      <% if view.severity.present? %>
        <div class="pl-md-2 pt-2 pt-md-0 flex-shrink-0">
          <%= render Repos::Alerts::SeverityLabelComponent.new(severity: view.severity) %>
        </div>
      <% end %>
    </div>
  </div>
</li>
