<%# erblint:disable ProperTagNesting %>
<%graphql

fragment Comment on RepositoryAdvisoryComment {
  databaseId
  ...Views::Comments::TimelineAvatar::Comment
  ...Views::Comments::Comment::Comment
}

%>

<div class="js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_advisory(view.advisory)) %>"
     data-url="<%= show_partial_repository_advisory_path(id: view.ghsa_id, partial: "repository_advisory/timeline") %>"
     >

  <% if view.timeline_items.empty? %>
    <hr class="my-0 border-bottom-0 TimelineItem py-2"></hr>
  <% end %>

  <% view.timeline_items.each do |item| %>
    <% if item.is_a? RepositoryAdvisoryEvent %>
      <%= render_partial_view "repos/advisories/event", RepositoryAdvisories::EventView, event: item, show_credit_action_button: view.show_credit_action_button?(item) %>
    <% elsif item.is_a? RepositoryAdvisoryComment %>
      <% comment = preloaded_platform_object(item) %>
      <% comment = Views::Repos::Advisories::Timeline::Comment.new(comment) %>

       <div class="TimelineItem js-comment-container" <%= test_selector("comment", name: "timeline-item") %>>
         <%= render partial: "comments/timeline_avatar", locals: { comment: comment } %>
         <%= render partial: "comments/comment", locals: {
               comment: comment,
               form_path: update_repository_advisory_comment_path(id: view.advisory.ghsa_id, comment_id: item.id),
               dom_id: "advisory-comment-#{comment.database_id}",
               action_text: "commented"
             } %>
       </div>
    <% end %>
  <% end %>

  <% if view.closed? %>
    <div class="TimelineItem-break"></div>
  <% end %>
</div>
