<%# erblint:counter TooltipCounter 1 %>
<div class="timeline-comment-wrapper">
  <div class="timeline-comment-group">
    <% if view.workspace.blank? %>
      <div class="Box p-3 d-flex">
        <%= octicon("repo-forked", height: 28, class: "mr-3") %>
        <div>
          <h4>
            Collaborate on a patch in private
          </h4>
          <p class="mb-0">
            Use a temporary private fork of <strong><%= view.repository.nwo %></strong> to
            collaborate on a fix.
          </p>
        </div>
        <% if view.viewer_can_create_workspace? %>
          <%= form_for view.advisory, url: open_repository_advisory_workspace_path(current_repository.owner, current_repository, view.advisory), method: :put, html: { id: "add_workspace" } do |f| %>
            <button type="submit" class="btn my-3">
              Start a temporary private fork
            </button>
          <% end %>
        <% else %>
          <button type="button"
                  class="btn my-3 tooltipped tooltipped-s"
                  disabled
                  aria-label="Only users with publishing rights may open temporary private forks."
                  >
            Start a temporary private fork
          </button>
        <% end %>
      </div>
    <% elsif view.workspace_creating? %>
      <poll-include-fragment src="<%= view.workspace_path %>">
        <div class="Box px-3 pb-3 pt-6 text-center" style="background-color: white;">
          <h3>Creating <%= view.workspace %></h3>
          <p class="lead">It might take a few minutes for large repositories.</p>

          <%= image_tag "spinners/fork.gif", class: "d-block mt-6 mb-4 mx-auto", alt: "", style: "width: 250px; height: 145px" %>
        </div>
      </poll-include-fragment>
    <% else %>
      <%= render partial: 'repos/advisories/repo_body', locals: {view: view} %>
    <% end %>
  </div>
</div>
