<%
  # view is an instance of RepositoryAdvisories::IndexView
  page_info(
    title: "Security Advisories · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :security,
    skip_responsive_padding: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<%= render layout: "layouts/repository/security" do %>
  <div id="advisories">
    <div class="Subhead border-bottom-0 border-md-bottom mb-0 mb-md-3 pb-3 pb-md-2 flex-column flex-md-row">
      <h2 class="Subhead-heading d-none d-md-block">Security Advisories</h2>
      <% if view.show_new_button? %>
        <div class="d-flex d-md-block flex-shrink-0">
          <a href="<%= new_repository_advisory_path(current_repository.owner, current_repository) %>" class="btn btn-primary text-center flex-auto" role="button" data-hotkey="c">New draft security advisory</a>
        </div>
      <% end %>
    </div>

    <% if view.show_new_button? %>
      <p>Privately discuss, fix, and publish information about security vulnerabilities in your repository's code.</p>
    <% else %>
      <p>View information about security vulnerabilities from this repository's maintainers.</p>
    <% end %>

    <div class="table-list-header">
      <div class="table-list-filters">
        <div class="table-list-header-toggle states float-left pl-3">
          <% if view.show_draft? %>
            <a href="<%= repository_advisories_path(state: "draft") %>" class="btn-link <%= 'selected' if view.draft? %>">
              <%= octicon("shield") %>
              <%= number_with_delimiter view.total_draft_count %> Draft
            </a>
          <% end %>

          <a href="<%= repository_advisories_path(state: "published") %>" class="btn-link <%= 'selected' if view.published? %>">
            <%= octicon('check') %>
            <%= number_with_delimiter view.total_published_count %> Published
          </a>

          <% if view.show_closed? %>
            <a href="<%= repository_advisories_path(state: "closed") %>" class="btn-link <%= 'selected' if view.closed? %>">
              <%= octicon('x') %>
              <%= number_with_delimiter view.total_closed_count %> Closed
            </a>
          <% end %>
        </div>
      </div>
    </div>

    <% if view.advisories.any? %>
      <div class="border-right border-bottom border-left">
        <ul>
          <% view.advisories.each do |advisory| %>
            <%= render_partial_view 'repos/advisories/row', RepositoryAdvisories::ShowView, { repository: current_repository, user: current_user, advisory: advisory } %>
          <% end %>
        </ul>
      </div>

      <div class="paginate-container">
        <%= will_paginate view.advisories %>
      </div>
    <% else %>
      <div class="blankslate blankslate-spacious blankslate-large blankslate-capped Box border-top-0 border-gray-light mb-2">
        <%= octicon(view.state_icon, height: "32px", class: "blankslate-icon mb-0") %>
        <h3 class="h3 my-1">There aren’t any <%= view.state.humanize(capitalize: false) %> security advisories</h3>
      </div>
    <% end %>
  </div>
<% end %>
