<p class="mb-3 text-bold"><%= question.text %><%= multiple ? " (select all that apply)" : "" %></p>
<% question.choices.each do |choice| %>
  <div class="form-checkbox">
    <%= hidden_field_tag "answers[][question_id]", question.id, :id => "actions_answers__question_id-#{question.display_order}" %>
    <label class="text-normal">
      <input
        type="<%= multiple ? "checkbox" : "radio" %>"
        name="answers[][choice_id]"
        id="actions_answers-choice-<%= choice.id %>"
        value="<%= choice.id %>"
        <%= required ? "required" : "" %>
      >
      <%= choice.text %>
    </label>
  </div>
<% end %>