<div class="p-3 overflow-auto">
  <%= form_tag actions_survey_answer_path do %>
    <%= render partial: "actions/survey/multiple_choice_question", locals: { question: survey.questions.find_by!(short_text: "satisfaction"), multiple: false, required: true } %>

    <div class="mt-4">
      <%= render partial: "actions/survey/multiple_choice_question", locals: { question: survey.questions.find_by!(short_text: "problems"), multiple: true, required: false } %>
    </div>

    <% comment_question = survey.questions.find_by!(short_text: "comment") %>
    <%= hidden_field_tag "answers[][question_id]", comment_question.id, :id => "actions_answers__question_id-#{comment_question.id}" %>
    <%= hidden_field_tag "answers[][choice_id]", comment_question.choices[0].id, :id => "actions_answers_2_choice_id-#{comment_question.choices[0].id}" %>
    <div class="mb-5 mt-4">
      <dl class="form-group">
        <dt>
          <label for="comment-textarea" class="text-bold"><%= survey.questions[2].text %> (optional)</label>
        </dt>
        <dd>
          <%= text_area_tag "answers[][other_text]", "",
            class: "form-control",
            style: "min-height: 100px; height: 100px;",
            id: "actions_answers__other_text-0",
            "aria-label" => survey.questions[2].text %>
        </dd>
      </dl>
    </div>
    <div class="form-actions">
      <button type="submit" title="Submit" class="btn m-0 btn-primary" data-disable-invalid>Submit feedback</button>
      <button type="button" class="btn" data-close-dialog>Cancel</button>
    </div>
  <% end %>
</div>