<%graphql
  fragment Root on Query {
    marketplaceStories(first: 100) {
      totalCount
      nodes {
        id
        title
        author
        description
        publishedAt
        url
        featured
      }
    }
  }
%>
<%
  data = Views::Biztools::Marketplace::Stories::Index::Root.new(data)
  story_count = data.marketplace_stories.total_count
  stories = data.marketplace_stories.nodes
%>

<% page_info title: "Marketplace Stories · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Marketplace Stories (<%= story_count %>)</h3>
    <div class="Box Box--condensed">
      <% if stories.present? %>
        <% stories.each do |story| %>
          <div class="Box-row d-flex flex-items-center">
            <div class="flex-auto my-2">
              <%= link_to story.url.to_s, class: "link-gray-dark", rel: "nofollow" do %>
                <h4><%= story.title %></h4>
              <% end %>
              <div class="text-small text-gray-light mb-2">
                <%= story.author %> · <%= story.published_at.to_s(:date) %>
              </div>
              <p class="mb-0"><%= story.description %></p>
            </div>

            <% if story.featured? %>
              <%= button_to "Unfeature", biztools_unfeature_marketplace_story_path(story.id),
                method: :delete,
                class: "btn btn-sm ml-2",
                data: { disable_with: "Updating..." } %>
            <% else %>
              <%= button_to "Feature", biztools_feature_marketplace_story_path(story.id),
                method: :post,
                class: "btn btn-sm ml-2",
                data: { disable_with: "Updating..." } %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="Box-row">No matching Marketplace stories</div>
      <% end %>
    </div>
  </div>
<% end %>
