<%# view is an instance Releases::ActionMarketplaceView %>
<h4>Release Action</h4>

<% if view.current_user.spammy? %>
  <div class="form-checkbox text-gray">
    <label>
      <%= check_box_tag(:published_on_marketplace, false, false, readonly: true, disabled: true) %>
      Publish this release to the GitHub Marketplace
      <%= octicon("lock", class: "text-gray") %>
    </label>
    <br>
    <span>
      This account has been flagged. If you believe this is a mistake, <a href="<%= contact_path %>">contact support</a> to have your account status reviewed.
    </span>
  </div>
<% elsif view.needs_to_sign_integrator_agreement? && view.repository_org_owner.present? && !view.repository_org_owner.adminable_by?(current_user) %>
  <div class="form-checkbox text-gray">
    <label>
      <%= check_box_tag(:published_on_marketplace, false, false, readonly: true, disabled: true) %>
      Publish this release to the GitHub Marketplace
      <%= octicon("lock", class: "text-gray") %>
    </label>
    <br>
    <span><%= view.needs_integrator_agreement_copy %> accept the GitHub Marketplace Developer Agreement. Contact an org admin to accept it.</span>
  </div>
<% elsif view.needs_to_sign_integrator_agreement? %>
  <div class="form-checkbox text-gray">
    <label>
      <%= check_box_tag(:published_on_marketplace, false, false, readonly: true, disabled: true) %>
      Publish this release to the GitHub Marketplace
      <%= octicon("lock", class: "text-gray") %>
    </label>
    <br>
    <span><%= view.needs_integrator_agreement_copy %> <%= render partial: "releases/marketplace_integrator_agreement_link", locals: { agreement: view.integrator_agreement, action: view.action, org_owner: view.repository_org_owner } %>
    before publishing an Action.</span>
  </div>
<% elsif view.needs_to_setup_two_factor? %>
  <div class="form-checkbox text-gray">
    <label>
      <%= check_box_tag(:published_on_marketplace, false, false, readonly: true, disabled: true) %>
      Publish this release to the GitHub Marketplace
      <%= octicon("lock", class: "text-gray") %>
    </label>
    <p><a href="<%= settings_user_two_factor_authentication_intro_path %>" target="_blank">Two factor authentication</a> must be setup before publishing an Action.</p>
  </div>
<% end %>
<hr>
