<%= render layout: "shared/details_dialog", locals: {
  button_class: "btn-link",
  button_text: "See list of available icons.",
  title: "Action Icon Label",
  dialog_class: "Box-overlay--wide"
} do %>
  <div class="select-menu-filters">
    <div class="select-menu-text-filter">
      <remote-input src="<%= marketplace_actions_usable_icons_path %>" aria-owns="marketplace_actions_icons">
        <input type="text" id="icon_name" placeholder="Search <%= RepositoryActions::Icons::NAMES.length %> icons" class="form-control" aria-label="Search for an icon" autofocus>
      </remote-input>
    </div>
  </div>
  <div class="select-menu-list" id="marketplace_actions_icons">
    <include-fragment src="<%= marketplace_actions_usable_icons_path  %>">
      <div class="p-4 text-center">
        <%= image_tag "spinners/octocat-spinner-64-grey.gif", side: "32x32", alt: "Loading" %>
      </div>
    </include-fragment>
  </div>
<% end %>
