<%graphql
  fragment Release on Release {
    repositoryAction {
      id
      slug
    }

    ...Views::Releases::ReleaseAssets::Release
  }
%>
<%
  release_graphql = Views::Releases::Release::Release.new(release_graphql)
%>

<% label = view.release_label_for(release) -%>
<div class="release pt-2 pt-md-0 pb-3 pb-md-0 clearfix <%= label.css_class %>">
  <div class="d-none d-md-block flex-wrap flex-items-center col-12 col-md-3 col-lg-2 px-md-3 pb-1 pb-md-4 pt-md-4 float-left text-md-right v-align-top">
    <div class="flex-auto flex-self-start">
      <% if label.display? -%>
        <span class="flex-shrink-0 Label Label--outline mb-md-2 mr-2 mr-md-0 Label--<%= label.css_label_name %>">
          <% if label.latest? -%>
            <%= link_to label.text, latest_release_path(current_repository.owner, current_repository), class: "border-0 Label--#{label.css_label_name}" %>
          <% elsif label -%>
            <%= label.text %>
          <% end -%>
        </span>
      <% end -%>

      <% if GitHub.actions_enabled? && marketplace_enabled? %>
        <% action_release = release.repository_action_release %>
        <% if action_release.present? && action_release.published_on_marketplace? %>
          <%
            marketplace_action_hydro_payload = {
              repository_action_id: action_release.repository_action.id,
              source_url: request.url,
              location: controller.controller_name + "#" + controller.action_name
            }
            marketplace_action_hydro_data = hydro_click_tracking_attributes("marketplace.action.click", marketplace_action_hydro_payload)
          %>
          <span class="flex-shrink-0 Label Label--outline mb-md-2 mr-2 mr-md-0">
            <%= link_to "Marketplace", marketplace_action_path(action_release.repository_action.slug), data: marketplace_action_hydro_data %>
          </span>
        <% end %>
      <% end %>

    </div>

    <% if release.tagged? %>
      <ul class="d-none d-md-block mt-2 list-style-none">
        <li class="d-block mb-1">
          <a href="<%= tree_path('', release.tag.name_for_display) %>" class="muted-link css-truncate" title="<%= release.tag.name_for_display %>">
            <%= octicon("tag") %>
            <span class="css-truncate-target" style="max-width: 125px"><%= release.tag.name_for_display %></span>
          </a>
        </li>

        <li class="d-block mb-1">
          <a href="<%= commit_path release.tag.commit %>" class="muted-link">
            <%= octicon("git-commit") %>
            <code><%= release.tag.commit.abbreviated_oid %></code>
          </a>
        </li>
        <li class="d-block mb-1">
          <%= render partial: "commits/signed_commit_badge", locals: {item: release.tag.target, badge_size: 'medium', dropdown_direction: 's'} %>
        </li>
        <li class="mt-3">
          <%= render partial: "releases/compare_link", locals: { release: release } %>
        </li>
      </ul>
    <% end %>
  </div><!-- /.meta -->

  <%# .open is for .commit-desc below %>
  <div class="col-12 col-md-9 col-lg-10 px-md-3 py-md-4 release-main-section commit open float-left">
    <div class="release-header">
      <div class="d-flex flex-items-start">
        <div class="f1 flex-auto min-width-0 text-normal">
          <%= link_to release.display_name, release_path(release) %>
        </div>

        <% if label.display? -%>
          <span class="d-md-none flex-shrink-0 ml-2 mt-2 mt-md-0 Label Label--outline Label--<%= label.css_label_name %>">
            <% if label.latest? -%>
              <%= link_to label.text, latest_release_path(current_repository.owner, current_repository), class: "border-0 Label--#{label.css_label_name}" %>
            <% elsif label -%>
              <%= label.text %>
            <% end -%>
          </span>
        <% end -%>

        <% if current_repository_writable? && view.pushable_by_current_user? && !local_assigns[:hide_edit_button] -%>
          <a href="<%= edit_release_path release %>" class="btn btn-sm ml-2 flex-shrink-0 d-none d-md-inline">Edit</a>
        <% end -%>
      </div>
      <% if release.tagged? %>
        <ul class="d-flex d-md-none flex-items-center mb-1 list-style-none">
          <li class="d-block mr-2">
            <a href="<%= tree_path('', release.tag.name_for_display) %>" class="muted-link css-truncate" title="<%= release.tag.name_for_display %>">
              <%= octicon("tag") %>
              <span class="css-truncate-target" style="max-width: 125px"><%= release.tag.name_for_display %></span>
            </a>
          </li>

          <li class="d-block mr-2 flex-auto">
            <a href="<%= commit_path release.tag.commit %>" class="muted-link">
              <%= octicon("git-commit") %>
              <code><%= release.tag.commit.abbreviated_oid %></code>
            </a>
          </li>
          <li>
            <%= render partial: "releases/compare_link", locals: { release: release } %>
          </li>
          <li>
            <%= render partial: "commits/signed_commit_badge", locals: {item: release.tag.target, badge_size: 'small', dropdown_direction: 'sw'} %>
          </li>
        </ul>
      <% end -%>
      <%= render partial: "releases/release_subheader", locals: {release: release, view: view} %>
    </div>

    <%= render :partial => "releases/release_assets", locals: {
        release_graphql: release_graphql,
        downloads: view.downloads_for(release),
        release: release,
        expand_assets: local_assigns.fetch(:expand_assets, false) || view.release_is_latest?(release)
      }
    %>

  </div><!-- /.release-body -->
</div><!-- /.release -->
