<% if release.tagged? && (release.new_record? || release.body.blank?) %>
  <% tag_body = release.display_body -%>
  <% if tag_body.present? -%>
    <div class="commit-desc">
      <pre class="text-small text-gray"><%= tag_body %></pre>
    </div>
  <% end -%>
<% else -%>
  <div class="markdown-body">
    <%= release.body_html %>
  </div>
<% end -%>