<% repository = current_repository || release.repository %>

<p class="f5 text-gray mt-2 mt-md-1 mb-2 mb-md-4">
  <% if release.author -%>
    <%= linked_avatar_for release.author, 20, img_class: "avatar" %>
    <%= profile_link(release.author, class: "text-bold text-gray") %>
    <%= view.author_action(release) %> this
  <% else -%>
    <%# No release author means this is a plain git tag -%>
    tagged
  <% end -%>
  <% if view.author_action_at(release) %>
    <%= time_ago_in_words_js view.author_action_at(release) %>
  <% end %>
  <% if comparison = release.comparison -%>
    &middot;
    <a href="<%= compare_path(repository, comparison["commit_range"]) %>">
    <%= pluralize(comparison["behind"], "commit") %></a>
    to <%= comparison["base_branch"] %>
    since this <%= release.viewable? ? "release" : "tag" %>
  <% end -%>
</p>