<%graphql
  fragment Release on Release {
    packageVersions(first: 30) {
      edges {
        node {
          version
          package {
            id
            name
            packageType
            repository {
              nameWithOwner
            }
          }
        }
      }
    }
  }
%>

<%
  release_graphql = Views::Releases::ReleaseAssets::Release.new(release_graphql)
  package_versions = release_graphql ? release_graphql.package_versions.edges.map(&:node) : []
  # Add two to asset count for tagged releases to account for zip/tar.gz links
  assets_count = release.tagged? ? downloads.size + 2 : downloads.size
%>

<%= render 'releases/release_notes', release: release %>

<% if downloads.present? || release.tagged? || package_versions.any? %>
  <details
    class="details-reset Details-element border-top pt-3 mt-4 mb-2 mb-md-4"
    <%= "open" if expand_assets && !mobile? %>
    <%= test_selector("release-assets-container") %>
    <%= test_selector(release.id, name: "release-id") %>>
    <summary>
      <div class="d-flex flex-items-center">
        <span class="mr-2 Details-content--closed"><%= octicon "triangle-right" %></span>
        <span class="mr-2 Details-content--open"><%= octicon "triangle-down" %></span>
        <span class="text-bold"><%= "Assets".pluralize(assets_count) %></span>
        <%= render Primer::CounterComponent.new(count: assets_count, ml: 1) %>
      </div>
    </summary>
    <div class="Box Box--condensed mt-3">
      <div>
        <% downloads.each do |asset| -%>
          <div class="d-flex flex-justify-between flex-items-center py-1 py-md-2 Box-body px-2">
            <a href="<%= download_release_path release, asset %>" rel="nofollow" class="d-flex flex-items-center min-width-0">
              <%= octicon("package", class: "flex-shrink-0 text-gray") %>
              <span class="pl-2 flex-auto min-width-0 text-bold"><%= asset.display_name %></span>
            </a>
            <small class="pl-2 text-gray flex-shrink-0"><%= number_to_human_size(asset.size) %></small>
          </div>
        <% end -%>

        <% unless GitHub.enterprise? %>
          <% package_versions.each do |package_version| %>
          <div class="d-block py-2 Box-body px-2" <%= test_selector("release-package-version") %> >
            <%= link_to package_path(*package_version.package.repository.name_with_owner.split("/"), Platform::Helpers::NodeIdentification.from_global_id(package_version.package.id)[1], version: package_version.version) do %>
              <%= octicon("package", :class => "text-gray d-inline-block") %>
              <span class="pl-1 text-bold"> <%= package_version.package.name %></span>
              (<%= package_version.package.package_type.downcase %>)
            <% end %>
          </div>
          <% end %>
        <% end %>

        <% if release.tagged? -%>
          <div class="d-block py-1 py-md-2 Box-body px-2">
            <a href="<%= zipball_path(current_repository.user, current_repository, release.tag.name) %>" rel="nofollow" class="d-flex flex-items-center">
              <%= octicon("file-zip", class: "flex-shrink-0 text-gray", width: 16, height: 16) %>
              <span class="px-1 text-bold">Source code</span> (zip)
            </a>
          </div>
          <div class="d-block py-1 py-md-2 Box-body px-2">
            <a href="<%= tarball_path(current_repository.user, current_repository, release.tag.name) %>" rel="nofollow" class="d-flex flex-items-center">
              <%= octicon("file-zip", :class => "flex-shrink-0 text-gray", width: 16, height: 16) %>
              <span class="px-1 text-bold">Source code</span> (tar.gz)
            </a>
          </div>
        <% end -%>
      </div>
    </div>
  </details>
<% end %>
