<%# erblint:disable LandmarkHasLabel %>
<div class="d-flex flex-md-row flex-justify-between flex-md-items-center">
  <div class="subnav-links float-left" role="navigation">
    <%= selected_link_to "Releases", releases_path(current_repository), :highlight => :repo_releases, :class => "subnav-item" %>
    <%= selected_link_to "Tags", tags_path(current_repository.owner, current_repository), :highlight => :repo_tags, :class => "subnav-item" %>
  </div>
</div>
