<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info(
    title: %{Edit release · #{current_repository.name_with_owner}},
    container_xl: true,
    selected_link: :repo_releases,
    skip_pjax_container: true
  )
  @disable_branch_selector = true

  marketplace_view = Releases::ActionMarketplaceView.new(
    release: @release,
    current_user: current_user,
    marketplace_enabled: marketplace_enabled?,
    query_params: params
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="subnav subnav-bordered">
    <%= render :partial => "releases/subnav" %>
  </div>

  <div class="clearfix">
    <div class="float-left col-12 col-md-9">
      <% if !@release.new_record? && @release.draft? %>
        <div class="flash-messages">
          <div class="flash flash-warn">
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Discard draft",
              title: "Are you sure?",
              button_class: "btn btn-sm btn-danger",
              details_class: "flash-action"
            } do %>
              <div class="flash flash-full flash-error">
                <%= octicon "alert" %>
                This will delete the information for this draft.
              </div>
              <div class="Box-body overflow-auto">
                <%= form_for 'delete_release_path',
                  :url  => release_path(@release),
                  :html => { :method => :delete } do %>
                  <button type="submit" class="btn btn-danger btn-block">Delete this draft</button>
                <% end %>
              </div>
            <% end %>
            This is a draft and won’t be seen by the public unless it’s published.
          </div>
        </div>
      <% end %>

      <% if marketplace_view.show_locked? %>
        <%= render partial: "releases/action_marketplace_locked", locals: { view: marketplace_view } %>
      <% end %>
      <%= form_for @release,
          :url => release_path(@real_release),
          :html => {
            :method => :put,
            :class => "js-release-form",
            :"data-repo-url" => repository_path(current_repository)
          } do |f| %>
        <%= render partial: "releases/release_form", locals: { f: f, marketplace_view: marketplace_view } %>
      <% end %>
    </div>

    <div class="float-left col-12 col-md-3 pl-md-4 pt-4 pt-md-0">
      <%= render :partial => "releases/suggestions" %>
    </div>
  </div>
<% end %>
