<%# erblint:disable ProperTagNesting %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    title: %{Releases · #{current_repository.name_with_owner}},
    container_xl: true,
    selected_link: local_assigns[:tags] ? :repo_tags : :repo_releases,
    skip_pjax_container: true
  )
%>
<% content_for :head do %>
  <%= dont_index %>
<% end %>

<% @disable_branch_selector = true %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="subnav subnav-bordered">
    <%= render :partial => "releases/subnav" %>
  </div>

  <div class="blankslate mx-auto" style="max-width: 544px">
    <%= octicon("tag", :height => 32, :class => "blankslate-icon") %>
    <h3>There aren’t any releases here</h3>

    <p>Releases are powered by <a href="https://git-scm.com/book/en/Git-Basics-Tagging">tagging specific points of history</a> in a repository. They’re great for marking release points like <code>v1.0</code>.</p>

    <% if current_repository_writable? && current_user_can_push? %>
      <p><a href="<%= new_release_path_helper %>" class="btn btn-sm">Create a new release</a></p>
    <% end %>
    </p>
  </div>
<% end %>
