<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info(
    title: "Releases · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: :repo_releases,
    skip_pjax_container: true,
    richweb: {
      title: "Releases · #{current_repository.name_with_owner}",
      url: releases_path(current_repository),
      description: h(repo_meta_description),
      image: repository_open_graph_image_url(current_repository),
      card: repository_twitter_image_card(current_repository)
    }
  )
  @disable_branch_selector = true
  view = Releases::TimelineView.new current_repository, current_user, @releases, @drafts
%>

<% content_for :head do -%>
  <%= auto_discovery_link_tag :atom, tokenized_feed_url(releases_feed_url), :title => "#{current_repository.name} Release Notes" %>
  <%= auto_discovery_link_tag :atom, tokenized_feed_url(tags_feed_url), :title => "#{current_repository.name} Tags" %>
<% end -%>

<% if current_repository_writable? && current_user_can_push? %>
  <% content_for :context_button do %>
    <a href="<%= new_release_path_helper %>"
        class="Header-link"
        aria-label="Draft a new release">
      <%= octicon("plus", height: 22) %>
    </a>
  <% end %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render "releases/signup_prompt", source: "prompt-releases" %>

  <div class="subnav">
    <%= render :partial => "releases/subnav" %>

    <% if current_repository_writable? && current_user_can_push? %>
      <div class="float-right hide-sm">
        <a href="<%= new_release_path_helper %>" class="btn">Draft a new release</a>
      </div>
    <% end %>
  </div>

  <div class="position-relative border-top clearfix">
    <% if view.show_limited_draft_releases_message? %>
      <div class="flash flash-warn mt-4">
        <%= octicon("alert", class: "mr-2") %>
        Showing <%= Releases::TimelineView::DRAFT_RELEASE_DISPLAY_LIMIT %> of <%= @drafts.count %> total draft releases.
        Please use the <a href="<%= GitHub.developer_help_url %>/v3/repos/releases/#list-releases-for-a-repository">Release API</a> to access drafts not displayed here.
      </div>
    <% end %>

    <% view.timeline.each do |chunk| %>
      <% if chunk[:type] == 'tags' && chunk[:style] == 'expanded' %>
        <div class="release-timeline-tags release-entry">
          <% chunk[:items].each do |release| %>
            <div class="release-entry">
              <%= render :partial => "releases/timeline_tag", :locals => {
                :release => release, :view => view } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if chunk[:type] == 'tags' && chunk[:style] == 'collapsed' %>
        <div class="release-timeline-tags is-collapsed release-entry js-timeline-tags">
          <div class="release-entry">
            <%= render :partial => "releases/timeline_tag", :locals => {
              :release => chunk[:items].shift , :view => view } %>
          </div>

          <div class="release-entry position-relative d-none expander">
            <%= render :partial => "releases/timeline_expander", :locals => {
              :first_release => chunk[:items].first,
              :count => chunk[:items].count - 1
            } %>
          </div>

          <% chunk[:items].each_with_index do |release, index| %>
            <div class="release-entry <%= 'collapsable' if index != (chunk[:items].size - 1) %>">
              <%= render :partial => "releases/timeline_tag", :locals => {
                :release => release, :view => view } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if chunk[:type] == 'tags' && chunk[:style] == 'all-collapsed' %>
        <div class="release-entry release-timeline-tags is-collapsed js-timeline-tags">
          <div class="release-entry position-relative d-none expander">
            <%= render :partial => "releases/timeline_expander", :locals => {
              :first_release => chunk[:items].first,
              :count => chunk[:items].count,
              :tags_desc => "newer"
            } %>
          </div>

          <% chunk[:items].each do |release| %>
            <div class="release-entry collapsable">
              <%= render :partial => "releases/timeline_tag", :locals => {
                :release => release, :view => view } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if chunk[:type] == 'release' %>
        <div class="release-entry">
          <%= render :partial => "releases/release", :object => chunk[:item], :locals => {:view => view } %>
        </div>
      <% end %>
    <% end %>

  </div>

  <% if @releases.present? -%>
  <div data-pjax class="paginate-container">
    <%= tag_paginate(@releases.last.tag_name, @releases.length) %>
  </div>
  <% end -%>
<% end %>
