<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info(
    title: "Release #{@release.display_name} · #{current_repository.name_with_owner}",
    container_xl: true,
    selected_link: @release.viewable? ? :repo_releases : :repo_tags,
    skip_pjax_container: true,
    richweb: {
      title: "Release #{@release.display_name} · #{current_repository.name_with_owner}",
      description: @release.body_text,
      twitter_creator: @release.author&.profile_twitter_username,
      url: release_path(@release),
      image: repository_open_graph_image_url(current_repository),
      card: repository_twitter_image_card(current_repository)
    }
  )
  view = Releases::ShowView.new(current_repository, current_user)
-%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>

  <div class="subnav">
    <%= render :partial => "releases/subnav" %>

    <% if current_repository_writable? && current_user_can_push? %>
      <div class="float-right">
        <div class="BtnGroup">
          <% if @release.new_record? %>
            <a href="<%= new_release_path_helper(tag_name: @release.tag.name) %>" class="btn BtnGroup-item">Edit <span class="hide-sm">tag</span></a>
          <% else %>
            <a href="<%= edit_release_path @release %>" class="btn BtnGroup-item">Edit <span class="hide-sm"><%= @release.draft? ? 'draft' : 'release' %></span></a>
          <% end %>
          <% if @release.deletable? %>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Delete",
              title: "Are you sure?",
              button_class: "btn btn-danger BtnGroup-item",
              details_class: "BtnGroup-parent"
            } do %>
              <div class="flash flash-full flash-error">
                <%= octicon "alert" %>
                This will delete the information for this <%= view.release_object_name(@release) %>.
              </div>
              <div class="Box-body overflow-auto">
                <%= form_for 'delete_release_path',
                  :url  => release_path(@release),
                  :html => { :method => :delete } do %>
                  <% if tag = @release.tag -%>
                    <%= hidden_field_tag :expected_commit_oid, tag.sha %>
                  <% end -%>
                  <button type="submit" class="btn btn-danger btn-block">Delete this <%= view.release_object_name(@release) %></button>
                <% end %>
              </div>
          <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="border-top">
    <%= render partial: "releases/release", object: @release, locals: { view: view, release_graphql: release_graphql, hide_edit_button: true, expand_assets: true } %>
  </div>
<% end %>
