<% entry_view = AuditLog::AuditLogEntryView.new(entry, view) %>

<div class="Box-row TableObject">
  <div class="TableObject-item pr-3">
    <span class="avatar-parent-child member-avatar">
      <%= entry_view.link_to_actor_avatar %>
      <%= entry_view.child_avatar %>
    </span>
  </div>

  <div class="TableObject-item TableObject-item--primary" style="white-space: normal;">
    <div class="actor-and-action">
      <span class="member-username">
        <% if entry.actor_present? %>
          <%= entry_view.link_to_member %>
        <% else %>
          <span class="ghost">GitHub System</span>
        <% end %>
      </span>
      &ndash;
      <span class="audit-type">
        <a href="<%= view.search_path(:action => entry.action) %>"
          data-pjax>
          <%= entry.action %>
        </a>
      </span>
    </div>

    <div>
      <%= render :partial => "audit_log/action",
        :locals => { :view => entry_view } %>
    </div>

    <div>
      <% if entry.performed_by_non_staff? %>
        <%= entry_view.country %>
        <span class="vertical-separator"></span>
      <% end %>
      <%= time_ago_in_words_js(entry.created_at) %>
    </div>
  </div>
</div>
