<%# `view` is an instance of Orgs::AuditLog::IndexPageView %>
<% page_info(:class => view.page_class, :title => view.page_title) %>

<% if view.active_search? %>
  <div class="audit-results-actions">
    <div class="audit-search-clear">
      <a class="issues-reset-query" href="<%= view.search_path %>" data-pjax>
        <%= octicon("x", :class => "issues-reset-query-icon") %>
        Clear current search query
      </a>
    </div>
  </div>
<% end %>

<div class="Box">
  <div class="Box-header <%= "text-red" unless view.valid_query? %>">
    <strong><%= view.search_title %></strong>
  </div>
  <% if view.audit_logs? %>
    <%= render :partial => "orgs/audit_log/audit_log_entry",
      :collection => view.audit_logs,
      :as => :entry,
      :locals => { :view => view } %>


  <% elsif GitHub.elasticsearch_access_ignored? %>
    <div class="border-0 blankslate">
      <h3>Audit logs are currently unavailable.</h3>
      <p>We track these errors automatically, but if the problem persists feel
        free to <a href="<%= contact_path %>">contact us</a>. We will update any
        status on our <a href="<%= GitHub.site_status_url %>">status site.</a></p>
    </div>
  <% else %>
    <div class="border-0 blankslate">
      <p>We couldn’t find any events matching your search.</p>
    </div>
  <% end %>
</div>

<% if view.audit_logs? %>
  <%= render partial: "audit_log/driftwood_pagination", locals: { view: view } %>

  <div class="protip">
    <%= octicon("light-bulb", :class => "text-gray") %>
    <strong>ProTip!</strong>
    <%= view.tips.selected_tip %>
  </div>
<% end %>
