<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>Audit log<% end %>
  <% component.slot(:actions) do %>
  <% end %>
<% end %>

<div class="clearfix mb-2">
  <div class="float-left audit-search-form">
    <details class="float-left select-menu details-reset details-overlay subnav-search-context position-relative">
      <summary class="btn select-menu-button">
        Filters
      </summary>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
          <div class="select-menu-list">
            <%= render :partial => "orgs/audit_log/search_filters",
              :locals => { :view => view } %>
          </div>
      </details-menu>
    </details>

    <%= form_tag view.search_path,
      :method => :get,
      :class => "subnav-search float-left",
      :"data-pjax" => true do %>

      <text-expander keys="action: actor: country: operation: org: repo: user:"
        <% if view.suggestions_path.present? %>
          data-audit-url="<%= view.suggestions_path %>"
        <% end %>
      >
        <input class="form-control subnav-search-input"
               type="text"
               name="q"
               value="<%= view.query %>"
               placeholder="Search audit logs"
               aria-label="Search audit logs"
               autocomplete="off">
      </text-expander>
      <%= octicon('search', :class => 'subnav-search-icon') %>
    <% end %>
  </div>

  <div class="float-right">
    <%= render "audit_log/export", view: view %>
  </div>
</div>
