<% case state %>
<% when :PENDING %>
  <%= octicon "primitive-dot", class: "color-yellow-7" %>
<% when :ENQUEUED, :PROCESSING, :PENDING_RETRY %>
  <div class="d-flex flex-items-center flex-justify-center" style="margin-top:4px;">
    <svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#dbab0a" class="position-absolute js-check-step-icon-animation anim-rotate">
      <g fill="none" fillRule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle opacity=".5" cx="8" cy="8" r="7"></circle>
          <path d=" M 15 8 A 7 7 0 0 1 8 15"></path>
        </g>
      </g>
    </svg>
    <%= octicon "primitive-dot", class: "color-yellow-7" %>
  </div>
<% when:TIMED_OUT %>
  <%= octicon "x", class: "color-red-7" %>
<% when :PROCESSED_WITH_ERRORS %>
  <%= octicon "alert", class: "color-red-7" %>
<% when :PROCESSED %>
  <%= octicon "check", class: "color-green-7" %>
<% else %>
  <%= octicon "primitive-dot", class: "color-gray-7" %>
<% end %>
