<%# erblint:disable DeprecatedCustomCss %>
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= header_text %></title>
    <%= render "mailers/global/column_template/styles" %>
  </head>

  <body class="body-style">
    <table class="body table-style">
      <tr>
        <td class="td-style" valign="top"></td>
        <td class="container td-style td-style-1" width="580" valign="top">
          <div class="content div-style">
            <!--// HEADER //-->
            <%= render "mailers/global/column_template/header" %>

            <!--// MAIN CONTENT //-->
            <div class="main">
              <h1 class="lead text-normal h1-style title-style">
                <%= header_text %>
              </h1>

              <%= main %>
            </div>

            <!--// FOOTER //-->
            <%= render "mailers/global/column_template/footer" %>
          </div>
        </td>
        <td class="td-style-4" valign="top"></td>
      </tr>
    </table>
  </body>
</html>
