<div class="container-lg p-3">
  <p>You are being automatically redirected to <%= recover_account_return_endpoint %></p>
  <%= form_tag recover_account_return_endpoint, method: :post, class: "js-recovery-provider-auto-redirect", "data-sudo-required": "high" do %>
    <input name="token" value="<%= token %>" type="hidden">
  <% end %>
</div>
