<%graphql
  fragment ProfileOwner on ProfileOwner {
    login
    pinnedItemsRemaining
    anyPinnableRepos: anyPinnableItems(type: REPOSITORY)
    anyPinnableGists: anyPinnableItems(type: GIST)
    ...Views::ProfilePins::PinnableItems::ProfileOwner
  }
%>
<%
  profile_owner = Views::ProfilePins::PinnedItemsModal::ProfileOwner.new(profile_owner)
  search_label = "Filter repositories and gists"
  show_type_filters = profile_owner.any_pinnable_repos && profile_owner.any_pinnable_gists
%>

<profile-pins
  class="d-flex flex-column overflow-hidden height-full"
  max="<%= ProfilePin::LIMIT_PER_PROFILE %>"
  <%= test_selector("pinned-items-view") %>>
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= octicon :x %>
    </button>
    <h3>Edit pinned items</h3>
    <p class="text-gray mb-0">
      Select up to six public repositories<%= " or gists" if profile_owner.is_a?(PlatformTypes::User) %> you&rsquo;d like to show.
    </p>
  </div>
  <div class="Box-body border-bottom-0">
    <filter-input aria-owns="pinnable-items" data-target="profile-pins.filterInput" data-action="filter-input-start:profile-pins#setFilteringLogic">
      <input
        type="search"
        aria-label="<%= search_label %>"
        class="form-control width-full"
        data-target="profile-pins.input"
        data-action="focus:profile-pins#loadMorePinnableItems"
        placeholder="<%= search_label %>">
    </filter-input>
    <% if show_type_filters %>
      <div class="mt-3 d-flex flex-items-center">
        <span class="text-bold">Show:</span>
        <div class="form-checkbox ml-4 my-0">
          <label class="text-normal">
            <input type="checkbox" value="repository"
              data-action="change:profile-pins#disableLastCheckedInput change:profile-pins#filter"
              data-targets="profile-pins.filterTypeInputs" checked>
            Repositories
          </label>
        </div>
        <div class="form-checkbox ml-4 my-0">
          <label class="text-normal">
            <input type="checkbox" value="gist"
              data-action="change:profile-pins#disableLastCheckedInput change:profile-pins#filter"
              data-targets="profile-pins.filterTypeInputs" checked>
            Gists
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <remote-pagination
    class="Box-body overflow-auto border-top"
    data-target="profile-pins.remotePagination"
    data-action="remote-pagination-load:profile-pins#filter remote-pagination-load:profile-pins#limitPins"
    id="pinnable-items">
    <%= form_tag user_set_pinned_items_path(profile_owner.login),
      class: "mb-3", method: :put,
      id: "pinned-items-update-form",
      "data-action": "change:profile-pins#limitPins reset:profile-pins#limitPins" do %>
      <ul data-filter-list class="mb-2 list-style-none position-relative" data-target="remote-pagination.list">
        <%= render partial: "profile_pins/pinnable_items",
                  locals: { profile_owner: profile_owner } %>
      </ul>
      <div class="text-gray m-1" data-filter-empty-state <% if profile_owner.any_pinnable_repos || profile_owner.any_pinnable_gists %>hidden<% end %>>
        No repositories or gists found.
      </div>
    <% end %>
    <%= form_tag "", method: "GET", class: "mb-3", hidden: true, "data-target": "remote-pagination.form", "data-action": "submit:remote-pagination#submit" do %>
      <button class="btn-link" data-target="remote-pagination.submitButton" type="submit">Load more</button>
    <% end %>
  </remote-pagination>
  <div class="Box-footer text-right border-top-0">
    <span class="float-left text-small float-left pt-3 lh-condensed-ultra <%= " text-red" if profile_owner.pinned_items_remaining < 1 %>"
      data-remaining-label="remaining" data-target="profile-pins.limitNotice">
      <%= profile_owner.pinned_items_remaining %> remaining
    </span>
    <button type="submit" class="btn btn-primary" form="pinned-items-update-form">
      Save pins
    </button>
  </div>
</profile-pins>
