<%graphql
  fragment PinnableItem on PinnableItem {
    ... on Repository {
      ...Views::ProfilePins::PinnedRepository::Repository
    }
    ... on Gist {
      ...Views::ProfilePins::PinnedGist::Gist
    }
  }

  fragment ProfileOwner on ProfileOwner {
    viewerCanChangePinnedItems
    ...Views::ProfilePins::PinnedRepository::ProfileOwner
  }
%>
<%
  pinned_items = pinned_items.map { |item| Views::ProfilePins::PinnedItems::PinnableItem.new(item) }
  profile_owner = Views::ProfilePins::PinnedItems::ProfileOwner.new(profile_owner)
  allow_reordering_pins = profile_owner.viewer_can_change_pinned_items? && pinned_items.size > 1
  is_organization = profile_owner.is_a? PlatformTypes::Organization
%>

<ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4 js-pinned-items-reorder-list" <%= test_selector("pinned-items-list") %>>
  <% pinned_items.each do |pinned_item| %>
    <% if pinned_item.is_a?(PlatformTypes::Repository) %>
      <%= render partial: "profile_pins/pinned_repository",
                 locals: { repo: pinned_item, allow_reordering_pins: allow_reordering_pins,
                           profile_owner: profile_owner } %>

    <% elsif pinned_item.is_a?(PlatformTypes::Gist) %>
      <%= render partial: "profile_pins/pinned_gist",
                 locals: { gist: pinned_item, allow_reordering_pins: allow_reordering_pins } %>
    <% end %>
  <% end %>
</ol>
