<%graphql
  fragment Gist on Gist {
    description
    isFork
    id
    url
    sha
    name
    ...ProfilePinsHelper::GistFragment
    files(limit: 1) {
      name
      lines(limit: 5)
      isImage
      encodedName
      ...ProfilePinsHelper::GistFileFragment
    }
  }
%>
<%
  gist = Views::ProfilePins::PinnedGist::Gist.new(gist)
  title = gist.description.presence || gist.files.first&.name.presence || gist.sha || gist.name
%>

<li class="<% if responsive? %>col-12 col-md-6 col-lg-6<% else %>col-6<% end %> mb-3 d-flex flex-content-stretch">
  <div class="pinned-item-list-item p-3 width-full Box js-pinned-item-list-item public <%= gist.is_fork? ? :fork : :source %> <%= "reorderable" if allow_reordering_pins %> sortable-button-item">
    <div class="pinned-item-list-item-content">
      <div class="d-flex width-full flex-items-center position-relative pb-3 px-3">
        <%= octicon(:gist, class: "mr-2 text-gray") %>
        <%= link_to gist.url.to_s, class: "text-bold flex-auto #{custom_profile_color_class}", data: profile_click_tracking_attrs(:PINNED_GIST) do %>
          <span class="repo" title="<%= title %>"><%= truncate(title, length: 39) %></span>
        <% end %>
        <% if allow_reordering_pins %>
          <%= hidden_field_tag "pinned_item_ids[]", gist.id, id: "pinned-item-reorder-#{gist.id}" %>
          <span class="text-gray js-pinned-item-reorder pl-2" title="Drag to reorder">
            <%= octicon(:grabber) %>
          </span>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="up"><%= octicon "chevron-up", "aria-label": "Move #{gist.description} up" %></button>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="down"><%= octicon "chevron-down", "aria-label": "Move #{gist.description} down" %></button>
        <% end %>
      </div>

      <% if gist.files.size > 0 %>
        <% gist_file = gist.files.first %>
        <% if (lines = gist_file.lines).any? %>
          <div class="rounded-bottom-1 bg-gray pt-2 pb-1 pr-3 flex-auto">
            <% lines.each_with_index do |line, i| %>
              <div class="d-flex flex-items-center">
                <span class="blob-num pinned-gist-blob-num pl-0"><%= i + 1 %></span>
                <pre class="lh-condensed-ultra overflow-hidden" style="font-size: 11px"><%= line %></pre>
              </div>
            <% end %>
          </div>
        <% elsif gist_file.is_image? && gist_file.encoded_name %>
          <div class="mx-3 mb-3">
            <div <%= test_selector("gist-image") %> style="height: 100px; background-image: url('<%= gist_image_url(gist, gist_file) %>'); background-size: contain; background-repeat: no-repeat; background-position-y: top; overflow: hidden;"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
