<%graphql
  fragment Repository on Repository {
    id
    forkCount
    isFork
    name
    networkResourcePath
    owner {
      id
      login
    }
    parent {
      nameWithOwner
      resourcePath
    }
    primaryLanguage {
      name
    }
    resourcePath
    shortDescriptionHTML
    stargazerCount
    stargazersResourcePath
    ...RepositoriesHelper::RepositoryLabelFragment
  }

  fragment ProfileOwner on ProfileOwner {
    id
  }
%>
<%
  repo = Views::ProfilePins::PinnedRepository::Repository.new(repo)
  profile_owner = Views::ProfilePins::PinnedRepository::ProfileOwner.new(profile_owner)
  is_organization = profile_owner.is_a? PlatformTypes::Organization
  col_class = is_organization ? "4" : "6"
%>

<li class="<% if responsive? %>col-12 col-md-6 col-lg-<%= col_class %><% else %>col-<%= col_class %><% end %> mb-3 d-flex flex-content-stretch">
  <div class="Box pinned-item-list-item d-flex p-3 width-full js-pinned-item-list-item public <%= repo.is_fork? ? :fork : :source %> <%= "reorderable" if allow_reordering_pins %> sortable-button-item" <%= test_selector("org-pinned-item") if is_organization %>>
    <div class="pinned-item-list-item-content">
      <div class="d-flex width-full flex-items-center position-relative">
        <%= octicon(:repo, class: "mr-2 text-gray flex-shrink-0") %>
        <%= link_to repo.resource_path.to_s, class: "text-bold flex-auto min-width-0 #{custom_profile_color_class}", data: profile_click_tracking_attrs(:PINNED_REPO) do %>
          <% if !owned_by_user?(owner_id: repo.owner.id, user_id: profile_owner.id) %><span class="owner text-normal" title="<%= repo.owner.login %>"><%= repo.owner.login %></span>/<%- end -%><span class="repo" title="<%= repo.name %>"><%= repo.name %></span>
        <% end %>
        <%= graphql_repository_label(repo) %>
        <% if allow_reordering_pins %>
          <%= hidden_field_tag "pinned_item_ids[]", repo.id, id: "pinned-item-reorder-#{repo.id}" %>
          <span class="pinned-item-handle js-pinned-item-reorder pl-2" title="Drag to reorder">
            <%= octicon(:grabber) %>
          </span>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="up"><%= octicon "chevron-up", "aria-label": "Move #{repo.name} up" %></button>
          <button type="button" class="btn btn-outline btn-sm show-on-focus sortable-button js-sortable-button right-0" data-direction="down"><%= octicon "chevron-down", "aria-label": "Move #{repo.name} down" %></button>
        <% end %>
      </div>

      <% if repo.is_fork? && repo.parent %>
        <p class="text-gray text-small mb-2">Forked from <%= link_to repo.parent.name_with_owner, repo.parent.resource_path.to_s, class: "muted-link" %></p>
      <% end %>

      <p class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
        <%= repo.short_description_html %>
      </p>

      <p class="mb-0 f6 text-gray">
        <% if repo.primary_language %>
          <%= render(Languages::BadgeComponent.new(name: repo.primary_language.name, display: :inline_block, mr: 3)) %>
        <% end %>
        <% if repo.stargazer_count > 0 %>
          <a href="<%= repo.stargazers_resource_path %>" class="pinned-item-meta muted-link <%= custom_profile_hover_color_class %>">
            <%= octicon(:star, :"aria-label" => "star".pluralize(repo.stargazer_count)) %>
            <%= social_count(repo.stargazer_count) %>
          </a>
        <% end %>
        <% if repo.fork_count > 0 %>
          <a href="<%= repo.network_resource_path %>" class="pinned-item-meta muted-link <%= custom_profile_hover_color_class %>">
            <%= octicon("repo-forked", :"aria-label" => "fork".pluralize(repo.fork_count)) %>
            <%= social_count(repo.fork_count) %>
          </a>
        <% end %>
      </p>
    </div>
  </div>
</li>
