<button
  class="SelectMenu-item<% if @description %> flex-items-start<% end %>"
  role="<%= role %>"
  type="<%= @type %>"
  <% if checkable? %>aria-checked="<%= checked %>"<% end %>
  <% if @disabled %>disabled<% end %>
  <% if @name.present? %>name="<%= @name %>"<% end %>
  <% if @value.present? %>value="<%= @value %>"<% end %>>

  <% if checkable? %>
    <%= render GitHub::OcticonComponent.new(icon: "check", class: "SelectMenu-icon SelectMenu-icon--check") %>
  <% end %>
  <div>
    <div class="<% if @description %>f5 text-bold<% end %>">
      <%= text %>
    </div>
    <%= @description %>
  </div>

  <% if replace_text %>
    <span hidden data-filter-item-text data-menu-button-text>
      <%= replace_text %>
    </span>
  <% end %>
</button>
