<a
  class="SelectMenu-item"
  href="<%= @href %>"
  role="<%= role %>"
  <% if checkable? %>aria-checked="<%= checked %>"<% end %>
  <% if @data %><%= safe_data_attributes(@data) %><% end %>>
  <% if checkable? %>
    <%= render GitHub::OcticonComponent.new(icon: "check", class: "SelectMenu-icon SelectMenu-icon--check") %>
  <% end %>
  <% if content %>
    <%= content %>
  <% else %>
    <div>
      <div class="<% if @description %>f5 text-bold<% end %>">
        <%= text %>
      </div>
      <%= @description %>
    </div>
  <% end %>

  <% if replace_text %>
    <span hidden data-filter-item-text data-menu-button-text>
      <%= replace_text %>
    </span>
  <% end %>
</a>
