<label
  role="menuitemradio"
  aria-checked="<%= checked %>"
  class="SelectMenu-item text-normal"
  tabindex="0">
  <input
    type="radio"
    name="<%= @name %>"
    value="<%= @value %>"
    autocomplete="off"
    hidden
    class="<%= @input_classes %>"
    <% if checked %>checked<% end %>
    <% if @data %><%= safe_data_attributes(@data) %><% end %>>
  <%= render GitHub::OcticonComponent.new(icon: "check", class: "SelectMenu-icon SelectMenu-icon--check") %>
  <div>
    <div class="<% if @description %>text-bold<% end %>">
      <%= text %>
    </div>
    <%= @description %>
  </div>

  <% if replace_text %>
    <span hidden data-filter-item-text data-menu-button-text>
      <%= replace_text %>
    </span>
  <% end %>
</label>
