<%# erblint:disable LinkHasHref %>
<% page_info \
  title: "Diversity, Inclusion, & Belonging at GitHub in 2019",
  description: "We're proud to share the progress we've made over the past year and the work we're doing to push our company forward.",
  class: "f4",
  container_xl: true,
  richweb: {
    title: "Diversity, Inclusion, & Belonging at GitHub in 2019",
    url: request.original_url,
    description: "We're proud to share the progress we've made over the past year and the work we're doing to push our company forward.",
    image: image_path("modules/about/diversity/social-card.png"),
  }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::BreadcrumbComponent.new(pt: 4, font_size: 5)) do |component| %>
    <% component.slot(:item, href: "/about") do %>About<% end %>
    <% component.slot(:item, href: "/about/diversity") do %>Diversity<% end %>
    <% component.slot(:item, selected: true) do %>Diversity Report<% end %>
  <% end %>
</div>

<div class="container-lg p-responsive mb-6">
  <h1 class="h000-mktg lh-condensed mt-6 mb-3 mb-md-6 text-center">Diversity, inclusion, and belonging at GitHub</h1>

  <div class="d-md-flex flex-row-reverse flex-items-center mt-6 mb-12 gutter-md-spacious">
    <div class="col-md-5 mb-6 mb-md-0">
      <p class="lead-mktg text-gray">
        At GitHub, our mission is to build the best platform for our interconnected community of developers all over the world. To achieve this mission, we’re committed to growing our team of “Hubbers” to reflect the global community of developers we serve.
      </p>
      <p>
        In our 2019 Diversity, Inclusion, and Belonging Report, we share our employee population by location and workplace type, racial and ethnic background, and gender identity. Our transparency with this report is in compliance with local laws and standards of employee&nbsp;privacy.
      </p>
    </div>
    <div class="col-md-7 px-3">
      <img src="<%= image_path "modules/about/diversity/bike.svg" %>" alt="" class="width-full">
      <div class="position-relative top-n4 col-10 mx-auto p-4 bg-white box-shadow-large dots-4">
        <p class="f4 text-mono mb-3 text-gray">
          Carrie Olesen,<br>Chief Human Resources Officer
        </p>
        <p class="f4 mb-3">
          Diversity of our life experiences, our skills, and our unique identities makes it  more fulfilling to work together as a team. Our commitment to diversity shows up every day in what we create at&nbsp;GitHub.
        </p>
        <a href="<%= GitHub.blog_url %>/2019-11-12-diversity-inclusion-and-belonging-at-github-in-2019" data-ga-click="Diversity report, click, Read blog post – hero" class="btn-mktg btn-outline-mktg Bump-link">Read the blog post <span class="Bump-link-symbol">→</span></a>
      </div>
    </div>
  </div>
</div>

<div class="container-xl p-responsive mb-8">
  <h2 class="h0-mktg mb-3 text-center">GitHub by the numbers</h2>
  <p class="col-md-7 mx-auto mb-3 lead-mktg text-gray text-center">
    This data reflects the state of diversity, inclusion, and belonging at GitHub on June 30, 2019.<sup id="fnref:1"><a href="#fn:1">1</a></sup> We’re aware that the standard reporting categories mandated by the U.S. federal government don’t currently support the diverse range of identities celebrated and represented among Hubbers.
  </p>
</div>

<div class="container-xl p-responsive mb-12">
  <!--start Geographic distribution-->
  <div class="d-md-flex gutter-spacious mb-12">
    <div class="col-md-6 col-lg-4 mb-4 mb-md-8">
      <h3 class="h2-mktg lh-condensed mb-3">
        Geographic distribution
      </h3>
      <div class="d-sm-flex d-md-block gutter-spacious">
      <p class="col-sm-6 col-md-12 mb-3 pr-3">
          Much like our community, GitHub is globally distributed—in fact, <span class="p-1 f5 text-mono bg-blue-light">64.3%</span> of Hubbers work from home or from a coworking space. It’s a big part of our culture, which is why our report includes both geographic location and workplace type. More than <span class="p-1 f5 text-mono bg-blue-light">360</span> new Hubbers joined us in the past year, contributing to overall growth in our employee population of over <span class="p-1 f5 text-mono bg-blue-light">30%</span>.
        </p>
        <div class="col-sm-6 col-md-12">
          <h4 class="mt-md-5 mb-2 pb-1 h3-mktg border-bottom">
            Total Hubbers
          </h4>
          <img src="<%= image_path "modules/about/diversity/employees.svg" %>" alt="2019: 1,079. 2018: 819." class="col-8 mt-2">
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-8">
      <header class="d-sm-flex flex-justify-between flex-items-baseline border-bottom pb-1 mb-5 js-segmented-nav">
        <ul class="list-style-none f5 SegmentedNav">
          <li class="d-inline-block mr-3">
            <a class="selected js-segmented-nav-button" href="#" data-selected-tab="geography-2019">
              2019
            </a>
          </li>
          <li class="d-inline-block">
            <a class="js-segmented-nav-button" href="#" data-selected-tab="geography-2018">
              2018
            </a>
          </li>
        </ul>
      </header>
      <div class="js-selected-nav-tab geography-2019 SegmentedContent active">
        <%= render "about/diversity_report/data/geography_2019" %>
      </div>
      <div class="js-selected-nav-tab geography-2018 SegmentedContent">
        <%= render "about/diversity_report/data/geography_2018" %>
      </div>
    </div>
  </div>
  <!-- end Geographic -->

  <!-- Start Race & Ethnicity -->
  <div class="d-md-flex gutter-spacious mb-12">
    <div class="col-md-6 col-lg-4">
      <h3 class="h2-mktg lh-condensed mb-3">Race and ethnicity
        <span class="f6 text-normal text-gray-light">(USA Only)</span> </h3>
      <p class="mb-3 pr-3">
        With our significant growth, the percentage of underrepresented minorities at GitHub remained consistent, showing a <span class="p-1 f5 text-mono bg-purple-light">1.3%</span> increase. The percentage of women of color at GitHub increased by <span class="p-1 f5 text-mono bg-purple-light">2.8%</span> and the percentage of underrepresented minorities in our technology and product organizations increased by <span class="p-1 f5 text-mono bg-purple-light">3.6%</span>.
      </p>
    </div>
    <div class="col-md-6 col-lg-8 mt-4 mt-sm-0">
      <header class="d-sm-flex flex-justify-between flex-items-baseline border-bottom pb-1 mb-5 js-segmented-nav">
        <ul class="list-style-none f5 SegmentedNav">
          <li class="d-inline-block mr-3">
            <a class="selected js-segmented-nav-button" href="#" data-selected-tab="race-2019">
              2019
            </a>
          </li>
          <li class="d-inline-block">
            <a class="js-segmented-nav-button" href="#" data-selected-tab="race-2018">
              2018
            </a>
          </li>
        </ul>
      </header>
      <div class="js-selected-nav-tab race-2019 SegmentedContent active">
        <%= render "about/diversity_report/data/race_2019" %>
      </div>
      <div class="js-selected-nav-tab race-2018 SegmentedContent">
        <%= render "about/diversity_report/data/race_2018" %>
      </div>
    </div>
  </div>
  <!-- end Race & Ethnicity -->

  <!-- Start Gender -->
  <div class="d-md-flex gutter-spacious mb-12">
    <div class="col-md-6 col-lg-4">
      <h3 class="h2-mktg lh-condensed mb-3">Gender identity<sup id="fnref:2"><a href="#fn:1" class="text-normal f4">2</a></sup></h3>
      <p class="mb-3 pr-3">
        With our significant growth, overall representation of women remained consistent, showing a <span class="p-1 f5 text-mono" style="border: solid 2px #ffea7f">0.6%</span> decrease. The representation of women in senior leadership roles increased.
      </p>
    </div>
    <div class="col-md-6 col-lg-8 mt-4 mt-sm-0">
      <header class="d-sm-flex flex-justify-between flex-items-baseline border-bottom pb-1 mb-5 js-segmented-nav">
        <ul class="list-style-none f5 SegmentedNav">
          <li class="d-inline-block mr-3">
            <a class="selected js-segmented-nav-button" href="#" data-selected-tab="gender-2019">
              2019
            </a>
          </li>
          <li class="d-inline-block">
            <a class="js-segmented-nav-button" href="#" data-selected-tab="gender-2018">
              2018
            </a>
          </li>
        </ul>
      </header>
      <div class="js-selected-nav-tab gender-2019 SegmentedContent active">
        <%= render "about/diversity_report/data/gender_2019" %>
      </div>
      <div class="js-selected-nav-tab gender-2018 SegmentedContent">
        <%= render "about/diversity_report/data/gender_2018" %>
      </div>
    </div>
  </div>
  <!-- end Gender -->
</div>

<div class="container-lg p-responsive mt-10">
  <h2 class="h0-mktg mb-3 lh-condensed text-center">
    Growing GitHub
  </h2>
  <p class="col-md-7 mx-auto mb-3 lead-mktg text-gray text-center">
    2019 has been an exciting and eventful year at GitHub. We’ve focused heavily on cultivating our culture and staying true to who we are as GitHub.
  </p>

  <div class="d-md-flex flex-items-start mt-6 mb-12 gutter-md-spacious">

    <div class="col-md-8 mb-6 mb-md-0">
      <h3 class="h2-mktg mb-2 lh-condensed">
        Investing in ourselves
      </h3>
      <p>
        As we grow, we’re investing in ourselves, both collectively and individually. We’ve seen incredible growth in both our Hubber and developer communities, we’ve shipped new features, and  welcomed contributors across every continent on earth—even Antarctica.
      </p>

      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Serving a global community
      </h3>
      <p class="my-4 f3 text-mono text-blue border-blue border-top-0 border-right-0 border-bottom-0 px-4" style="border-style: solid; border-width-left: 5px">
        To build the best platform for developers, we’re growing a community of Hubbers that reflects the one we serve.
      </p>
      <p>
        Our culture is open, collaborative, and welcoming—where every Hubber is a contributor—and we will continue growing in an inclusive and globally-distributed way throughout the coming years.
      </p>

      <img src="<%= image_path "modules/site/icons/grow.svg" %>" class="mt-6" alt="">
      <h2 class="h1-mktg mb-2 lh-condensed">
        Growing and supporting our&nbsp;community
      </h2>
      <p class="lead-mktg">
        We want to make GitHub a place where every Hubber can learn, thrive, and find their community. Here are some of the investments we’ve made this year:
      </p>
      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Discovering talent
      </h3>
      <p>
        We’ve taken several approaches to attracting diverse talent, from training and education to reevaluating role requirements and more. To discover the best talent and help them thrive, we’ve built a more inclusive hiring process from end-to-end. So far, we’ve:
      </p>
      <ul class="mb-3 ml-3">
        <li class="mb-1">
          Updated our hiring requirements to be more inclusive of non-traditional backgrounds by removing educational requirements
        </li>
        <li class="mb-1">
          Trained recruiters and talent sourcers to create a more diverse pipeline for all roles
        </li>
        <li class="mb-1">
          Continued to reinforce standard interview plans to reduce bias
        </li>
        <li class="mb-1">
          Encouraged diverse interview panels across teams
        </li>
        <li class="mb-1">
          Incorporated a DI&B interview for all candidates
        </li>
        <li class="mb-1">
          Partnered with candidates at every step of the hiring process to set them up for success—especially candidates from underrepresented communities and who are new to tech
        </li>
        <li class="mb-1">
          Maintained a relationship with candidates who are building their skills and gaining more experience to prepare for a future opportunity at GitHub
        </li>
      </ul>
      <h4 class="h3-mktg mt-4 mb-1">
        Flexible and remote work
      </h4>
      <p class="mb-3">
        We continue to invest in flexible work arrangements with a remote-friendly approach, so we can offer a compelling work/life experience that accommodates a range of individual&nbsp;needs.
      </p>
      <p class="my-4 f3 text-mono text-blue border-blue border-top-0 border-right-0 border-bottom-0 px-4" style="border-style: solid; border-width-left: 5px">
        This year, the percentage of Hubbers working outside of our San Francisco headquarters increased from <span class="p-1 bg-blue-light">68.6%</span> to <span class="p-1 bg-blue-light">70.2%</span>, with over half of Hubbers working directly from home.
      </p>
      <p>
        As we grow, we’ll continue to reflect the distributed nature of our developer community on&nbsp;GitHub.
      </p>
      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Nurturing our communities of belonging
      </h3>
      <p>
        In 2017, we launched Blacktockats, our first chartered employee resource group (ERG). We’re grateful to them for setting an example and mentoring other employee communities—and we’re proud to say we have now launched three more ERGs: <a href="https://github.com/about/diversity" class="link-mktg">Adacats, Octogatos, and&nbsp;Octoqueer</a>.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        Unique goals and priorities
      </h4>
      <p>
        Every ERG has an annual budget and is sponsored by two senior leaders, so each group has the support to accomplish its own unique goals. Our ERGs are led by employees as a rotating leadership development opportunity supported by the executive sponsors. Each community sets their priorities based on the interests of their members. Some examples include growing the participation and engagement in their community, supporting member career development, or serving underrepresented communities outside GitHub by connecting them to open source and the tech industry.
      </p>

      <div class="MarketingBody">
        <blockquote>
          Each community sets their priorities… [like] serving underrepresented communities outside GitHub by connecting to open source and the tech industry.
        </blockquote>
      </div>
      <h4 class="h3-mktg mt-4 mb-1">
      Collaboration and partnerships
      </h4>
      <p>
        Our <a href="https://github.com/about/diversity" class="link-mktg">DI&B landing page</a> helps connect ERGs with prospective candidates and external partners (like non-profit organizations and ERGs at other companies) for collaboration. We’ve already seen great partnership between our ERGs and <a href="https://www.writespeakcode.com" class="link-mktg">Write/Speak/Code</a>, <a href="https://www.codeforvenezuela.org" class="link-mktg">Code for Venezuela</a>, <a href="https://www.translifeline.org" class="link-mktg">TransLifeline</a>, and <a href="https://opportunityhub.co" class="link-mktg">OHUB</a>, to name a few.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        Affinity groups
      </h4>
      <p>
        We also continue to support a number of affinity groups for Hubbers across diverse identities and backgrounds. These affinity groups include communities for Muslim and Asian American Hubbers, as well as a group for parents.
      </p>

      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Embedding inclusion into how we work
      </h3>
      <p class="lead-mktg text-gray">
        We know that building a diverse and inclusive company takes ongoing investment and self-reflection, along with the help and support of all our Hubbers.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        Leadership
      </h4>
      <p>
        Each Hubber's experience of inclusion is largely driven by daily interactions with their manager and team. That’s why we invested in a Manager Meetup, where managers from around the world came together to develop their management and leadership skills. As part of the Meetup, we trained all managers in the fundamentals of inclusive leadership.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        Inclusion Advisory Council (IAC)
      </h4>
      <p>
        We continue to facilitate a regular dialogue between our Inclusion Advisory Council (IAC) and the GitHub Leadership Team. The IAC is a group of Hubbers who represent different functions and demographics. It regularly gathers employee feedback and perspectives, and then partners with the Human Resources (HR) and Leadership teams to ensure that our policies, practices, and programs are inclusive. IAC members rotate so new Hubbers have the opportunity to add their voices.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        Creating a path
      </h4>
      <p>
        As passionate early believers in open source, we understand the potential of collaboration and code sharing to make technology more accessible everywhere in the world, and easier to learn. GitHub is committed to making it easier for people from low-resourced areas and non-traditional backgrounds to learn to code. Sharing, teaching, borrowing, asking for help - all becomes easier with the GitHub community. Last year, our Social Impact Team partnered with Hubbers to create a GitHub training curriculum for individuals seeking a transition to jobs in tech. We’ve shared this curriculum with several non-profits working with underserved communities, including <a href="https://www.un-loop.org" class="link-mktg">Unloop</a>, <a href="https://www.code4000.org" class="link-mktg">Code4000</a>, <a href="https://thelastmile.org" class="link-mktg">The Last Mile</a>, and <a href="https://www.codetenderloin.org" class="link-mktg">Code Tenderloin</a>.
      </p>
      <h4 class="h3-mktg mt-4 mb-1">
        2019 and beyond
      </h4>
      <div class="MarketingBody">
        <blockquote>
          We’ll continue to invest in our hiring practices and to support and expand our Hubber communities.
        </blockquote>
      </div>
      <p>
        To grow our diverse workforce, we’ll continue to invest in our hiring practices and to support and expand our Hubber communities. We’ll also keep growing our managers’ capabilities and strengthening ties between the IAC and GitHub’s Leadership Team.
      </p>

      <img src="<%= image_path "modules/site/icons/ecosystem.svg" %>" width="44" class="mt-6" alt="">
      <h2 class="h1-mktg mb-2 lh-condensed overflow-x-visible">
        Looking ahead: Growing&nbsp;GitHub&nbsp;from&nbsp;within
      </h2>
      <p class="lead-mktg text-gray">
        We love bringing new talent into the company, and even more, we love creating opportunities for Hubbers to grow and take on new challenges for a rewarding career at GitHub.
      </p>
      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Matching our growing talent with our growing needs
      </h3>
      <p>
        We’re implementing talent discussions in every function to support job growth, understand the career interests of our Hubbers, and fill positions internally wherever possible. We simplified our promotion processes and ensured all managers have clarity on our expectations to develop and grow the Hubbers on their teams.
      </p>
      <h3 class="h2-mktg mt-5 mb-2 lh-condensed">
        Talent strategies with DI&B lens
      </h3>
      <p class="my-4 f3 text-mono text-blue border-blue border-top-0 border-right-0 border-bottom-0 px-4" style="border-style: solid; border-width-left: 5px">
        We’re building our talent management process and talent development strategy with a diversity and inclusion lens.
      </p>
      <p>
      We’ll partner with our ERGs to understand career development needs and interests, and promote internal job opportunities to increase awareness and ensure our internal candidate pools are diverse. We’ll also continue our Learning & Development (L&D) benefit—a $2,000 annual debit card that every Hubber can use for their individual learning needs. We’re proud of our Hubbers’ personal investment in their own development. And we look forward to sharing progress on these and other initiatives in our next&nbsp;report.
      </p>
    </div>

    <div class="top-2 col-md-3 offset-lg-1 mb-6 mb-md-0 p-md-6" style="position: sticky">
      <a class="btn-mktg mr-3 mr-md-0 mb-3" href="/about/careers" data-ga-click="Diversity report, click, See open positions">See open positions</a>

      <a href="<%= GitHub.blog_url %>/2019-11-12-diversity-inclusion-and-belonging-at-github-in-2019" data-ga-click="Diversity report, click, Read blog post – sidebar" class="btn-mktg btn-outline-mktg Bump-link">Read the blog post <span class="Bump-link-symbol">→</span></a>
    </div>

  </div>
</div>

<div class="container-xl p-responsive mb-12">
  <div class="col-md-6 mx-auto f6 text-gray-light-ultra list-style-none border-top border-gray-light pt-2">
    <p id="fn:1">
      <sup style="margin-left: -8px"><a href="#fnref:1">1</a></sup> <strong>Overall data</strong>: The data refers to full- and part-time GitHub employees as designated in our Human Resources Information System, and is newly aligned to a change in our fiscal year. All numbers are rounded to the nearest tenth of a percent, which means some sections may not add to exactly 100%.&nbsp;<a href="#fnref:1">↩</a>
    </p>
    <p id="fn:2">
      <sup style="margin-left: -10px"><a href="#fnref:2">2</a></sup> <strong>Gender identity</strong>: Hubbers who identify as transgender or nonbinary are a core part of the Hubber community. We don't have enough self-reported data to report on these Hubbers, but hope to share more on gender diversity at GitHub in future reports.&nbsp;<a href="#fnref:2">↩</a>
    </p>
  </div>
</div>
