<% page_info title: "Azure Metered Billing Extracts" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Azure Metered Billing Extracts<% end %>
  <% end %>

  <div class="boxed-group">
    <h3>Monthly Extracts</h3>
    <% if view.monthly_extracts.any? %>
      <div class="boxed-group-inner seamless">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            <% view.monthly_extracts.each do |file| %>
              <tr>
                <td><a href="<%= file.link %>"><%= file.name %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="boxed-group-inner">
        No monthly extracts available.
      </div>
    <% end %>
  </div>

  <div class="boxed-group">
    <h3>Quarterly Extracts</h3>
    <% if view.quarterly_extracts.any? %>
      <div class="boxed-group-inner seamless">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            <% view.quarterly_extracts.each do |file| %>
              <tr>
                <td><a href="<%= file.link %>"><%= file.name %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="boxed-group-inner">
        No quarterly extracts available.
      </div>
    <% end %>
  </div>

  <div class="boxed-group">
    <h3>Sales Extracts</h3>
    <% if view.sales_extracts.any? %>
      <div class="boxed-group-inner seamless">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            <% view.sales_extracts.each do |file| %>
              <tr>
                <td><a href="<%= file.link %>"><%= file.name %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="boxed-group-inner">
        No sales extracts available.
      </div>
    <% end %>
  </div>
<% end %>
