<%# erblint:disable DeprecatedCustomCss %>
<%graphql
  fragment Organization on Organization {
    login
    viewerHasVerifiedDomainNotificationEmail
    organizationDomains(first: 100, isVerified: true) {
      totalCount
      nodes {
        domain
      }
    }
  }
%>
<% org = Views::Orgs::Domains::VerifiedDomainNotificationBanner::Organization.new(org) %>
<div class="flash flash-full flash-warn" id="org-notification-restricted-banner">
  <div class="container">
    <p>
      <% if org.viewer_has_verified_domain_notification_email %>
        It looks like you are opted in to receive <strong><%= org.login %></strong> email notifications,
        but you have an ineligible email address configured in your notification routing settings.
        In order to receive email notifications for this organization, you'll have to update your organization
        routing settings for <strong><%= org.login %></strong> to use an email from one of the following domains:
      <% else %>
        It looks like you are opted in to receive <strong><%= org.login %></strong> email notifications,
        but don't have a verified domain email added. This organization requires a verified email from
        one of the following domains in order to receive email notifications for organization activity:
      <% end %>
      <ul>
        <% org.organization_domains.nodes.first(3).each do |node| %>
          <li class="text-bold ml-3"><%= node.domain %></li>
        <% end %>
        <% if org.organization_domains.total_count > 3 %>
          <div class="Details js-details-container">
            <div class="Details-content--hidden">
              <% org.organization_domains.nodes.drop(3).each do |node| %>
                <li class="text-bold ml-3"><%= node.domain %></li>
              <% end %>
            </div>
            <button type="button" class="btn-link js-details-target" aria-expanded="false">
              <span class="Details-content--shown">Show more <%= octicon("chevron-down") %></span>
              <span class="Details-content--hidden">Show less <%= octicon("chevron-up") %></span>
            </button>
          </div>
        <% end %>
      </ul>
    </p>

    <% if org.viewer_has_verified_domain_notification_email %>
      <a href="<%= settings_user_notifications_path(anchor: "organization_routing") %>" class="btn">View routing settings</a>
    <% else %>
      <a href="<%= settings_user_emails_path %>" class="btn">Add a verified domain email</a>
    <% end %>
  </div>
</div>
