<%graphql
  fragment Organization on Organization {
    email
    isVerified
    websiteUrl
  }
%>

<%
  organization = Views::Orgs::Domains::New::Organization.new(organization)
  profile_domains = [organization.website_url, organization.email].reject(&:blank?).map do |domain|
    OrganizationDomain.normalize_domain(domain.to_s)
  end.uniq
%>

<div class="container-lg px-3 py-6">
  <div class="col-9 mx-auto">

    <%= render(Primer::BreadcrumbComponent.new) do |component| %>
      <% component.slot(:item, href: settings_org_domains_path(current_organization)) do %>Domain verification<% end %>
      <% component.slot(:item, selected: true) do %>Add a domain<% end %>
    <% end %>

    <%= render Primer::SubheadComponent.new(mt: 3) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Add a domain<% end %>
    <% end %>

    <div class="container-lg clearfix">
      <div class="col-8 float-left">
        <%= form_for :organization_domain, url: org_domains_path(current_organization) do |f| %>
          <%=
            f.text_group 'What domain would you like to add?', :domain,
              class: 'wide',
              placeholder: 'example.com'
          %>
          <button type="submit" class="btn btn-primary">Add domain</button>
        <% end %>
      </div>

      <% if profile_domains.any? && !organization.is_verified %>
        <div class="col-4 float-left p-3 border">
          <p><span class="text-bold">
            Want a <span class="Label Label--outline text-green rounded-1">Verified</span> badge on your public organization profile?</span></p>
          <p>
            You'll need to add and verify you own these domains:
            <ul class="pl-4">
              <% profile_domains.each do |domain| %>
                <li>
                  <span class="text-small text-mono bg-gray p-1 rounded-2">
                    <%= domain %>
                  </span>
                </li>
              <% end %>
            </ul>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
