<% page_info responsive: false, title: "Support" %>

<%= render layout: "businesses/layout", locals: {
  business: this_business, title: "Support"
} do %>
  <div>
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Documentation<% end %>
    <% end %>
    <p>
      Review documentation for your GitHub Private Instance at
      <%= link_to \
        GitHub.help_url(skip_enterprise: true),
        GitHub.enterprise_help_landing_page,
        target: "_blank",
        rel: "noopener noreferrer",
        data: test_selector_hash("help-docs-link") %>.
    </p>
    <%= render Primer::SubheadComponent.new(mt: 6) do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Open support request<% end %>
    <% end %>
    <p>
      Open a support request with the GitHub Private Instance support team.
      You will be taken to the ticketing interface.
    </p>
    <p>
      <%= link_to \
        "New support request",
        GitHub.private_instance_support_request_url,
        target: "_blank",
        rel: "noopener noreferrer",
        class: "btn btn-outline",
        data: test_selector_hash("support-request-link") %>
    </p>
  </div>
<% end %>
