<% page_info title: "IP allow list", highlight: :ip_whitelisting %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>IP allow list<% end %>
<% end %>
<p class="text-gray">
  <% if organization.ip_whitelisting_enabled? %>
    <%= octicon "lock", height: 16, class: "mr-2" %>
    IP allow list is <strong>enabled</strong> for this
    <% if organization.ip_whitelisting_enabled_policy? %>
      organization because IP allow list is <strong>enabled</strong> on the
      <%= link_to \
        "#{organization.business.name} enterprise",
        stafftools_enterprise_path(organization.business) %>.
    <% else %>
      organization.
    <% end %>
  <% else %>
    <%= octicon "x", height: 16, class: "mr-2" %>
    IP allow list is <strong>disabled</strong> for this organization.
  <% end %>
</p>

<% if organization.ip_whitelisting_enabled? && !organization.ip_whitelisting_enabled_policy? %>
  <div class="Box Box--danger mt-3 mb-4">
    <div class="Box-row">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Disable IP allow list",
        button_class: "btn btn-danger",
        details_class: "float-right mt-1",
        title: "Disable IP allow list?",
      } do %>
        <div class="flash flash-full flash-warn">
          Please ensure appropriate authorization has been obtained before
          disabling the IP allow list.
        </div>
        <div class="Box-body overflow-auto">
          <p>
            If the IP allow list is disabled, it will need to be manually
            re-enabled by an organization owner.
          </p>
          <%= form_tag disable_ip_whitelisting_stafftools_user_path(organization), method: :patch do %>
            <dl class="form-group">
              <dt><label for="reason">Reason for disabling</label></dt>
              <dd>
                <input class="form-control" type="text" name="reason" id="reason"
                  placeholder="Please provide an explanation for the audit log." autofocus>
              </dd>
            </dl>
            <button type="submit" class="btn btn-block btn-danger">Disable IP allow list</button>
          <% end %>
        </div>
      <% end %>

      <div class="listgroup-item-title">Disable IP allow list</div>
      <div class="listgroup-item-body">
        This will completely disable the IP allow list configured for the
        organization. Please be certain.
      </div>
    </div>
  </div>
<% end %>


<% if ip_whitelist_entries.any? %>
  <p class="text-bold">
    The following IP addresses are on the allow list for accessing content owned by this organization.
  </p>
  <div class="Box">
    <% ip_whitelist_entries.each do |entry| %>
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-auto">
          <p>
            <strong><%= entry.whitelisted_value %></strong>
            <% if entry.active? %>
              <%= render Primer::LabelComponent.new(ml: 2, scheme: :green, title: "Label: Is enabled") do %>
                Enabled
              <% end %>
            <% else %>
              <%= render Primer::LabelComponent.new(ml: 2, scheme: :gray, title: "Label: Is disabled") do %>
                Disabled
              <% end %>
            <% end %>
          </p>
          <p><%= entry.name %></p>
          <% if entry.owner != organization %>
            <p class="text-gray f6 mb-1">
              Managed by the
              <%= link_to \
                "#{organization.business.name} enterprise",
                stafftools_enterprise_path(organization.business) %>
            </p>
          <% end %>
          <p class="text-gray f6 mb-0">
            Added
            <%= content_tag(:"local-time", entry.created_at.strftime("%b %-d, %Y"),
              datetime: entry.created_at.utc.iso8601,
              month: "short", day: "numeric", year: "numeric")
            %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate-container">
    <%= will_paginate ip_whitelist_entries %>
  </div>
<% else %>
  <p class="text-bold">
    There are no IP allow list entries for this organization.
  </p>
<% end %>
