<%# view is a Stafftools::Organization::SshCertificateAuthoritiesView %>
<% page_info :title => "SSH Certificate Authorities", :highlight => :ssh_cas %>

<div class="boxed-group">
  <h3>SSH Certificate Authorities</h3>
  <div class="boxed-group-inner">
    <p>SSH certificate authentication is<%= " not" unless view.org.ssh_certificate_requirement_enabled? %> required for this organization.</p>

    <% if view.cas.any? %>
      <ul class="boxed-group-list standalone">
        <% view.cas.each do |ca| %>
          <li class="js-details-container Details">
            <span class="time float-right">Created <%= time_ago_in_words ca.created_at %> ago</span>
            <p><strong>Fingerprint:</strong> <code><%= ca.base64_fingerprint %></code></p>
            <p class="Details-content--hidden" style="word-break: break-all; width: 500px;">
              <strong>Key:</strong>
              <code><%= ca.openssh_public_key %></code>
              </p>
            <span class="hidden-text-expander inline"><button type="button" aria-expanded="false" class="ellipsis-expander js-details-target">&hellip;</button></span>
          </li>
        <% end %>
      </ul>
    <% else %>
      This organization hasn't configured any SSH certificate authorities.
    <% end %>
  </div>
</div>
