<details-dialog class="anim-fade-in fast Box p-6 Box-overlay--wide">
  <button class="btn-octicon position-absolute right-0 top-0 p-4" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
  <div class="text-center">
    <%= octicon('mail-read', :height => '32', :class => 'text-gray-light') %>
    <% if GitHub.bypass_org_invites_enabled? %>
      <h1 class="add-to-org-title mt-3">Add members to <%= organization.safe_profile_name %></h1>
    <% else %>
      <h1 class="add-to-org-title mt-3">Invite member to <%= organization.safe_profile_name %></h1>
    <% end %>
  </div>

  <%= render "orgs/invitations/rate_limited_message", :hide_close => true if rate_limited %>

  <%= form_tag org_invitations_member_adder_add_path(organization), :class => "input-block" do %>
    <% if on_per_seat_pricing?(organization) %>
      <span class="d-block text-center text-gray-light mt-1 mb-3">
        <include-fragment src="<%= org_invitations_licensing_details_path(organization) %>" aria-label="Loading..."></include-fragment>
      </span>
    <% end %>
    <div class="input-group mt-3">
      <auto-complete src="<%= org_invitations_invitee_suggestions_path(organization) %>"
          for="org-invite-complete-results"
          class="auto-search-group d-block">
        <input
          type="text"
          name="identifier"
          aria-label="Search by username, full name or email address"
          class="form-control input-block input-contrast auto-search-input new-member-field"
          autofocus
          required
          placeholder="Search by username, full name, or email address">
        <%= octicon('person') %>
        <ul id="org-invite-complete-results" class="invite-member-results autocomplete-results"></ul>
      </auto-complete>
      <div class="input-group-button"><button type="submit" class="btn btn-primary js-auto-complete-button">Invite</button></div>
    </div>
  <% end %>
</details-dialog>
