<div class="flash-messages">
  <div class="flash flash-error">
    <button type="button" class="flash-close js-flash-close" aria-label="Dismiss notice">
      <%= octicon('x') %>
    </button>

    <%= trade_controls_organization_invite_restricted_notice %>
  </div>
</div>

