<% locals = ensure_local_vars(local_assigns, {
  required: [:organization],
  optional: [],
  defaults: {}
}) %>

<ul
  id="new-org-members-complete-results"
  class="autocomplete-results js-new-org-members-complete-results"
  data-ga-event
  data-ga-event-category="Orgs People Index invite users"
  data-ga-event-action="click"
  data-ga-event-label="text:Invite; meta: org_id: <%= local_assigns[:organization].analytics_tracking_id %>;">
</ul>
