<p class="reinstate-lead" <%= test_selector("show-reinstated") %>><strong>Finished!</strong> You have re-joined <%= organization.safe_profile_name %> and your previous membership has been reinstated.</p>

<div class="blankslate">
  <p><strong>Your membership has been reinstated!</strong></p>

  <%= link_to "Continue to "+organization.safe_profile_name, org_reinstate_complete_path(return_to: continue_path), class: "btn btn-primary" %>
</div>
