<% locals = ensure_local_vars(local_assigns, {
  required: [:view],
  optional: [:custom_css_classes],
  defaults: {}
}) %>

<% if GitHub.billing_enabled? && !view.organization.plan.legacy? %>
  <div class="p-1 currency-container js-seats <%= locals[:custom_css_classes] %>"
      data-url="<%=  model_org_seats_path(
        plan_duration: view.per_seat_pricing_model.plan_duration,
        coupon: view.coupon,
        new_plan: view.organization.plan
      )%>"
      data-filled-seats="<%= view.organization.filled_seats %>"
      data-total-seats="<%= view.organization.seats %>"
      data-original-price="<%= view.per_seat_pricing_model.renewal_price.format %>">

    <% if show_plan_upgrade_on_invite_page? %>
      <div class="js-plan-no-change" hidden>
        Your current bill is
        <%= price_with_localization view.per_seat_pricing_model.renewal_price %>/<%= view.per_seat_pricing_model.plan_duration %>
        and includes
        <strong class="js-seats-remaining">
          <%= "#{pluralize(view.organization.seats - view.organization.filled_seats, "more seats")}" %>.
        </strong>
        <strong class="js-seats-remaining-zero" hidden>
          no more seats.
        </strong>
        <strong class="js-seats-remaining-singular" hidden>
          1 more seat.
        </strong>
        <strong class="js-seats-remaining-plural" hidden>
          <span class="js-seats-remaining-update-target"><%= view.organization.seats - view.organization.filled_seats %></span> more seats.
        </strong>
      </div>

      <div class="js-plan-changes" hidden>
        <span class="js-new-users-singular">
          Adding 1 user
        </span>
        <span class="js-new-users-plural" hidden>
          Adding these <span class="js-new-seats"></span> users
        </span>
        will increase your team's bill from
        <%= price_with_localization view.per_seat_pricing_model.renewal_price %>/<%= view.per_seat_pricing_model.plan_duration %>
        to <strong><span class="unstyled-final-price"></span>/<%= view.per_seat_pricing_model.plan_duration %></strong>.
      </div>
    <% else %>
      <strong class="js-filled-seats"><%= view.organization.filled_seats %></strong> of
      <strong><%= view.organization.seats %></strong> <%= seat_or_license(view.organization).pluralize(view.organization.seats) %> used

      <div
        class="js-max-seats-warning flash flash-warn my-3"
        <% if view.organization.filled_seats != view.organization.seats %>hidden<% end %>
      >
        You'll need to purchase more seats to invite more users. <%= more_seats_link_for_organization(view.organization, self_serve_return_to: org_people_path(view.organization, anchor: "invite-member"), self_serve_link_text: "Buy seats") %>
      </div>
    <% end %>
  </div>
<% end %>
