<div class="blankslate blankslate-narrow mt-5">
  <%= octicon("alert", :height => 32, :class => "blankslate-icon") %>
  <h3>Invitation not found</h3>

  <p>
    We’ve looked all over but couldn’t find your invitation.
  </p>

  <%= link_to "Go to #{ organization.safe_profile_name }’s profile", user_path(organization), :class => "btn btn-outline" %>
</div>
