<%# `view` is an instance of Orgs::Invitations::OptOutConfirmationView %>
<% page_info title: "Opt out of future invitations to join #{view.organization.safe_profile_name}", class: "min-width-0" %>

<div class="Box mx-auto my-6 p-4 col-lg-6 col-sm-8 col-9">
  <div class="text-center position-relative">
    <%= avatar_for view.organization, 75, class: "avatar mb-4" %>

    <p class="f3">
      Opt-out of future invitations to join the
      <a href="<%= user_path view.organization %>"><strong><%= view.organization.safe_profile_name %></strong></a>
      organization!
    </p>

    <% if view.invitation.show_inviter? %>
      <p class="text-gray-light text-small mb-4">
        Invited by <%= view.invitation.inviter.safe_profile_name %>
      </p>
    <% end %>

    <div class="mt-4">
      <%= button_to "Confirm Opt-out",
                    org_invitation_opt_out_path(
                      view.organization,
                      invitation_token: view.invitation_token
                    ),
                    method: "post",
                    class: "btn btn-danger",
                    "data-ga-click": "Orgs, join, location:invitation landing; text:Join" %>
    </div>
  </div>
</div>

<div class="text-gray-light text-center p-0 my-0 mx-auto col-lg-4 col-sm-6 col-8">
  <p>
    <%= octicon("alert", class: "mr-2") %>
    You will no longer receive invitations to join <%= view.organization.safe_profile_name %>.
  </p>
</div>
