<%=
render_partial_view "orgs/header", Orgs::HeaderView,
  :organization      => organization,
  :selected_nav_item => :members
%>

<div class="container-lg d-block mx-auto" style="width: 500px">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h2) do %>
      Invite <%= params[:email] %>
      to <%= organization.safe_profile_name %>
    <% end %>
  <% end %>

  <p>
    In order to prevent abuse, we’ve limited the number of invitations you
    can send in a day.
  </p>
  <p>
    Try inviting new members tomorrow or <a href="https://github.com/contact">contact support</a>.
  </p>
</div>
