<%# erblint:disable ProperTagNesting %>
<% page_info :title => "Invitation to join #{view.organization.safe_profile_name}" %>

<% content_for(:header_logo) do %>
  <a class="header-logo pb-3" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
    <%= octicon("logo-github", :height => 40) %>
  </a>
<% end %>

<div class="auth-form sign-up-via-invitation px-3">
  <div class="auth-form-body">

    <div class="text-center position-relative">
      <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

      <p class="f3">
        You’ve been invited to the<br>
        <strong><%= view.organization.safe_profile_name %></strong>
        organization.
      </p>

      <% if view.invitation.show_inviter? %>
        <p class="text-gray text-small mt-2 mb-3">Invited by <%= view.invitation.inviter.safe_profile_name %></p>
      <% end %>
    </div>

    <hr class="bleed-flush">

    <div class="mt-4 mb-2">
      <% if view.organization.external_identity_session_owner.saml_sso_enforced? %>
        <%= form_tag view.idm_saml_initiate_url, {class: "d-flex flex-justify-center"} do %>
          <button type="submit" class="btn btn-primary">
            Authenticate to join
          </button>
        <% end %>
      <% else %>
        <h4 class="text-normal f5 text-center">New to GitHub? Create your account.</h4>

        <%= render "orgs/sign_up_form",
          :organization => view.organization,
          :source => "org-invitation",
          :hidden_fields => {
            :invitation_token => params[:invitation_token],
            :return_to => params[:return_to]
          } %>

        <%= link_to(
          "Already have an account? Sign in.",
          login_path(return_to: org_show_invitation_path(
            view.organization,
            invitation_token: params[:invitation_token], via_email: params[:via_email]
          )),
          class: "text-center d-block",
          data: sign_in_link_data_attributes(location_in_page: "invitation already have account")
        ) %>
      <% end %>
    </div>

  </div>

  <% if GitHub.billing_enabled? %>
    <% if view.organization.external_identity_session_owner.saml_sso_enforced? %>
      <p class="tos-info text-center text-small text-gray mt-4">By creating a GitHub account you agree to our
    <% else %>
      <p class="tos-info text-center text-small text-gray mt-4">By clicking "Create account and join", you agree to our
    <% end %>
    <a href="<%= site_terms_path %>" target="_blank">Terms of Service</a> and
    <a href="<%= site_privacy_path %>" target="_blank">Privacy Statement</a>. We’ll occasionally send you account related emails.</p>
  <% end %>

  <p class="text-center text-small text-gray mt-4">
    <%= octicon('lock') %>
    <a href="<%= GitHub.help_url %>/articles/permission-levels-for-an-organization">Owners</a>
    of <%= view.organization.safe_profile_name %> will be able to see if you have two-factor authentication enabled or not.
    <br>
    <a href="<%= settings_user_admin_path %>">View two-factor authentication settings</a>
  </p>

</div>
