<%# erblint:disable DeprecatedCustomCss %>
<%=
render_partial_view "orgs/header", Orgs::HeaderView,
  :organization      => organization,
  :selected_nav_item => :members
%>

<div class="container">
  <h1>
    <% if invitee.is_a?(User) %>
      Sorry, <strong><%= invitee.safe_profile_name %></strong>
    <% else %>
      Sorry, <strong><%= invitee %></strong>
    <% end %>

    <% if existing_invitation.present? %>
      has already been invited to
    <% elsif status.errors.include?(:already_on_org) %>
      is already a member of
    <% else %>
      cannot be invited to
    <% end %>

    <%= organization.safe_profile_name %>.
  </h1>

  <% if existing_invitation.present? %>
    <%= form_tag cancel_org_invitation_path(organization, existing_invitation), method: :put, class: "inline-form" do %>
      <button type="submit" class="btn-link" data-ga-click="Orgs, cancel, location:uninvitable; text:Cancel invitation">Cancel this invitation</button>
    <% end %>.
  <% end %>
</div>
