<%graphql
  fragment MarketplaceListing on MarketplaceListing {
    databaseId
    name
    slug
    isByGithub
    shortDescription
    logoUrl
    logoBackgroundColor
    primaryCategory {
      name
    }
  }
%>
<% listing = Views::Marketplace::AppSelector::Listing::MarketplaceListing.new(listing)
  hydro_tracking = hydro_click_tracking_attributes("marketplace_listing_click", { marketplace_listing_id: listing.database_id, location: "app_selector",
                                                                                  source_url: request.referrer, destination_url: marketplace_listing_url(listing.slug) })
%>

<li class="px-3 pb-4" role="menuitem">
  <div class="d-flex">
    <div class="float-left pr-3">
      <%= link_to(marketplace_listing_url(listing.slug, utm_source: "app_selector"), title: listing.name, data: hydro_tracking) do %>
        <%= marketplace_logo(logo_url: listing.logo_url, bgcolor: listing.logo_background_color, name: listing.name, classes: "CircleBadge CircleBadge--small", by_github: listing.is_by_github?) %>
      <% end %>
    </div>
    <div>
      <h5 class="text-blue">
        <%= link_to(marketplace_listing_url(listing.slug, utm_source: "app_selector"), target: "_blank", data: hydro_tracking) do %>
          <%= listing.name %> <%= octicon("link-external", :class => "ml-1") %>
        <% end %>
      </h5>
      <span class="d-none"><%= listing.name %> <%= listing.short_description %> <%= listing.primary_category.name %></span>
      <p class="lh-condensed"><%= listing.short_description %></p>
      <%= link_to(marketplace_listing_url(listing.slug, utm_source: "app_selector"), target: "_blank", data: hydro_tracking, class: "btn btn-sm btn-default") do %>
        Install
      <% end %>
    </div>
  </div>
</li>
