<%graphql
  fragment Root on Query {
    marketplaceSearch(first: 25, query: $query, categorySlug: $categorySlug, type: MARKETPLACE) {
      nodes {
        ...Views::Marketplace::AppSelector::Listing::MarketplaceListing
      }
    }
  }
%>
<%
  data = Views::Marketplace::AppSelector::SearchResults::Root.new(data)
  listings = data.marketplace_search&.nodes
%>
<% if listings.any? %>
  <%= render partial: "marketplace/app_selector/listing", collection: listings %>
<% else %>
  <li class="text-gray p-3" role="menuitem">No results for "<%= search_phrase %>"
    <% if category_slug.present? %>
      in the <strong><%= category_slug %></strong> category.
    <% end %>
  </li>
<% end %>
