<%graphql
  fragment Root on Query {
    marketplaceListings(first: 100, state: VERIFIED, categorySlug: $categorySlug) {
      nodes {
        ...Views::Marketplace::AppSelector::Listing::MarketplaceListing
      }
    }
    marketplaceCategory(slug: $categorySlug) @include(if: $hasCategory) {
      name
    }
  }
%>
<%
  # These results are filtered client side with a select menu, limited to 100.
  # When beyond 100 listings in Marketplace, we need to raise this query or move to backend filtering.
  data = Views::Marketplace::AppSelector::Index::Root.new(data)

  listing_order_seed = Random.new(Time.zone.now.yday)
  listings = data.marketplace_listings.nodes.shuffle(random: listing_order_seed)
%>
<% if data.marketplace_category %>
  <li class="px-3 pb-4">
    <h5><%= data.marketplace_category.name %></h5>
  </li>
<% end %>
<%= render partial: "marketplace/app_selector/listing", collection: listings %>
