<% page_info :title => "Maintainers - Biztools", :selected_link => :users %>

<%= render layout: "biztools/biztools" do %>

  <div class="boxed-group">
    <h3>
      Maintainers
    </h3>
    <div class="boxed-group-inner">
      <p>GitHub users contribution (commit, opened issue/PR) counts (<%= minimum_contribution_count %>+ since <%= oldest_contribution_date %>) on repositories which:
        <li>are public</li>
        <li>have a detected open source license</li>
        <% if pushed_at_days %>
        <li>were pushed to in the last <%= pushed_at_days %> days</li>
        <% end %>
        <li>have a detected programming language (so it’s only software)</li>
        <li>have <%= star_count %> stars</li>
        <li>are committable by that user</li>
      </p>
      <% if maintainer_contributions %>
      <ul class="boxed-group-list">
        <% maintainer_contributions.each_with_index do |(user_id, user_hash), index| %>
        <li>
          #<%= index + 1 %>
          <%= link_to user_hash["login"], user_path(user_hash["login"]) %>
          <span><%= user_hash["contribution_count"] %> contributions</span>
          <% if maintainers_members.include?(user_id) %>
          <span>(maintainers organization member)</span>
          <% end %>
        </li>
        <% break if index >= 999 %>
        <% end %>
      </ul>
      <% else %>
      <p>No maintainer contributions available! Check again in 24h!</p>
      <% end %>
    </div>
  </div>
<% end %>
