<% page_info :title => "#{current_account.login} - Biztools", :selected_link => :users %>

<%= render layout: "biztools/biztools" do %>

  <%= render \
        partial: "biztools/accounts/landing_info",
        locals: {
          account: current_account,
          counts: counts
        } %>

  <% if GitHub.billing_enabled? %>
    <%= render \
          partial: "biztools/accounts/landing_billing",
          locals: {account: current_account, last_transaction: last_transaction} %>
  <% end %>

  <%= render \
        partial: "biztools/accounts/landing_repositories",
        locals: {account: current_account, counts: counts} %>

  <div class="site-admin-box">
    <h4>
      <%= octicon("organization") %>
      Organizations
    </h4>
    <ul class="site-admin-detail-list">
      <% if counts[:orgs] == 0 %>
        <li>
          <%= octicon("x") %>
          No organization memberships
        </li>
      <% else %>
        <li>
          <%= octicon("organization") %>
          Owner of <%= pluralize(counts[:owned_orgs], "organization") %>
        </li>
        <li>
          <%= octicon("jersey") %>
          Member of <%= pluralize(counts[:member_orgs], "organization") %>
        </li>
        <% if GitHub.billing_enabled? %>
          <li>
            <%= octicon("credit-card") %>
            Billing manager for
            <%= pluralize(counts[:billing_orgs], "organization") %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="site-admin-box">
    <h4>
      <%= octicon("comment") %>
      Collaboration
    </h4>
    <ul class="site-admin-detail-list">
      <% if counts[:collabs] > 0 %>
        <li>
          <%= octicon("git-commit") %>
          Contributing to
          <%= pluralize(counts[:contributed_repos], "repository") %>
        </li>
      <% else %>
        <li>
          <%= octicon("x") %>
          No collaboration
        </li>
      <% end %>
    </ul>
  </div>

  <% if marketplace_enabled? %>
    <div class="site-admin-box">
      <h4>
        <%= octicon(:plug) %>
        App Listings
      </h4>
      <ul class="site-admin-detail-list">
        <li>
          <a href="<%= biztools_marketplace_path(admin_id: current_account.global_relay_id, admin_type: current_account.class.name) %>">
            <%= pluralize(counts[:managed_marketplace_listings], "Marketplace listing") %>
          </a>
        </li>
        <li>
          <a href="<%= biztools_works_with_github_path(login: current_account.login) %>">
            <%= pluralize(counts[:works_with_github_listings], "Works with GitHub listing") %>
          </a>
        </li>
      </ul>
    </div>

    <div class="site-admin-box">
      <h4>
        <%= octicon(:law) %>
        Marketplace Agreements
      </h4>
      <ul class="site-admin-detail-list">
        <% if counts[:marketplace_agreement_signatures] < 1 %>
          <li>
            <%= octicon("x") %>
            No signed agreements.
          </li>
        <% else %>
          <% marketplace_agreement_signatures.each do |signature| %>
            <% agreement = signature.agreement %>
            <li>
              <%= octicon("pencil") %>
              Signed <strong><%= agreement.name %></strong> <em><%= agreement.version %></em>
              <% if signature.organization %>
                on behalf of
                <a class="no-wrap" href="/biztools/users/<%= signature.organization.login %>">
                  <%= avatar_for(signature.organization, 16, class: "avatar") %>
                  <%= signature.organization.login %>
                </a>
              <% end %>
              <br>
              <span class="text-gray">&mdash; <%= signature.created_at.to_date %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="site-admin-box">
    <h4>
      <%= octicon("link") %>
      OAuth applications
    </h4>
    <ul class="site-admin-detail-list">
      <% if counts[:oauths] > 0 %>
        <li>
          <%= octicon("squirrel") %>
          <%= pluralize(counts[:owned_apps], "owned application") %>
        </li>
        <li>
          <%= octicon("link-external") %>
          <%= pluralize(counts[:authed_apps], "authorized application") %>
        </li>
        <li>
          <%= octicon("terminal") %>
          <%= pluralize(counts[:tokens], "personal token") %>
        </li>
      <% else %>
        <li>
          <%= octicon("x") %>
          No OAuth activity
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
