<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= view.octicon %></span>
  <div class="TimelineItem-body">
    <% actor = view.actor || User.ghost %>
    <%= linked_avatar_for(actor, 16, img_class: "avatar") %>
    <%= profile_link(actor, class: "author text-inherit link-gray text-bold") %>
    <%= bot_identifier(actor) %>

    <% case view.event_name
       when "cve_requested" %>
      requested a CVE
    <% when "cve_assigned" %>
      assigned
      <% if view.value_is.present? %>
        <span class="text-bold user-select-contain"><%= view.value_is %></span>
      <% else %>
        a CVE
      <% end %>
    <% when "cve_not_assigned" %>
      could not assign a CVE
    <% end %>

    <a href="#<%= view.dom_id %>" class="link-gray"><%= time_ago_in_words_js(view.timestamp) %></a>
  </div>
</div>
