<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= view.octicon %></span>
  <div class="TimelineItem-body">
    <% if view.actor %>
      <%= linked_avatar_for(view.actor, 16, img_class: "avatar") %>
      <%= profile_link(view.actor, class: "author text-inherit link-gray text-bold") %>
      <%= bot_identifier(view.actor) %>
    <% else %>
      <img src="<%= User.ghost.primary_avatar_url(32) %>" alt="" height="16" width="16" class="<%= avatar_class_names(User.ghost) %>">
      <div class="text-bold author"><%= GitHub.ghost_user_login %></div>
    <% end %>

    <%= view.verb %> this

    <a href="#<%= view.dom_id %>" class="link-gray"><%= time_ago_in_words_js(view.timestamp) %></a>
  </div>
</div>
