<div class="pb-4">
  <div class="h5 mb-3">Featured Actions</div>

  <div>
    <% featured_actions.each do |action| %>
      <%= render partial: "editor/actions/action", locals: {
        id: action.id,
        name: action.name,
        owner_login: action.owner.login,
        verified_owner: action.verified_owner?,
        description: action.description,
        color: action.color,
        icon_name:  action.icon_name,
        icon_color: action.icon_color,
        stargazer_count: action.repository.stargazer_count,
        breadcrumb_params: { breadcrumb_seed: seed },
      }%>
    <% end %>
  </div>

  <div class="h5 mt-5 my-3">Featured categories</div>

  <div class="d-flex">
    <%
    categories.in_groups(2).each do |category_row| %>
      <div class="flex-row" style="width: 50%">
        <% category_row.each do |category| %>
          <div class="flex-column">
            <% unless category.nil? %>
              <button class="mb-1 btn-link text-bold"
                      type="button"
                      data-workflow-editor-sidebar-search-query=""
                      data-workflow-editor-sidebar-search-placeholder="<%= search_placeholder(category: category[:name]) %>"
                      data-workflow-editor-sidebar-search-url="<%= editor_actions_search_url(category: category[:slug], seed: seed) %>"
                      <%= test_selector("featured-category") %>>
                <%= category[:name] %>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-2">
    <a class="text-small" href="<%= marketplace_actions_path %>" target="_blank">Browse all actions on the GitHub Marketplace</a>
  </div>
</div>
