<%
  latest_tag = action.latest_tag_or_default_branch
  releases_with_params = action.published_releases_workflow_snippet
%>

<div class="js-action">
  <div class="mb-3 f6">
    <% marketplace_breadcrumb_url = editor_actions_search_url(seed: params[:breadcrumb_seed]) %>
    <button class="btn-link" type="button"
            data-workflow-editor-sidebar-search-query=""
            data-workflow-editor-sidebar-search-placeholder="<%= search_placeholder %>"
            data-workflow-editor-sidebar-search-url="<%= marketplace_breadcrumb_url %>">
      Marketplace
    </button>
    <%
      if params[:breadcrumb_query].present? || params[:breadcrumb_category].present?
        search_breadcrumb_text = params[:breadcrumb_category].present? ?  params[:breadcrumb_category].capitalize : "Search results"
        search_breadcrumb_url = editor_actions_search_url({
          before: params[:breadcrumb_before].presence,
          after: params[:breadcrumb_after].presence,
          category: params[:breadcrumb_category].presence,
          seed: params[:breadcrumb_seed].presence
        }.compact)
    %>
      /
      <button class="btn-link" type="button"
        data-workflow-editor-sidebar-search-placeholder="<%= search_placeholder(category: params[:breadcrumb_category]) %>"
        data-workflow-editor-sidebar-search-query="<%= params[:breadcrumb_query] %>"
        data-workflow-editor-sidebar-search-url="<%= search_breadcrumb_url %>">
        <%= search_breadcrumb_text %>
      </button>
    <% end %>
    <% if action %>
    / <span class="css-truncate css-truncate-target" style="max-width: 150px"><%= action.name %></span>
    <% end %>
  </div>

  <% if action.nil? %>
    <%= octicon("alert") %> Could not find this Action.
  <% else %>
    <div class="mb-3 d-flex no-underline">
      <div style="background-color: #<%= action.color %>; z-index: -1; min-width: 56px" class="CircleBadge CircleBadge--small">
        <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, owner: action.repository.owner_login) %>
      </div>
      <div class="px-3 width-full">
        <div class="f3 lh-condensed text-normal my-1"><%= action.name %></div>
        <div class="d-flex">
          <% if action.owner.login.present? && action.verified_owner? %>
            <span class="text-small text-gray-light mr-3">
              By <span class="text-gray"><%= action.owner.login %></span>
              <%# erblint:counter TooltipCounter 1 %>
              <span class="tooltipped tooltipped-s" aria-label="Creator verified by GitHub">
                <%= octicon('verified', class: 'hx_text-blue-light') %>
              </span>
            </span>
          <% end %>

          <span class="text-small text-gray-light mr-3">
            <%= octicon('tag') %>
            <%= latest_tag %>
          </span>
          <span class="text-small text-gray-light">
            <%= octicon('star') %>
            <%= social_count(action.repository.stargazer_count) %>
          </span>
        </div>
      </div>
    </div>
    <p class="text-gray mb-3"><%= action.description %></p>
    <div class="mb-3">
      <a href="<%= marketplace_action_path(action.slug) %>" class="text-small" target="_blank">
        View full Marketplace listing
      </a>
    </div>
    <hr>
    <div class="h5 mb-1">Installation</div>
    <p class="text-small text-gray mb-3">Copy and paste the following snippet into your <span class="text-mono">.yml</span> file.</p>
    <div class="copyable-terminal p-0">
      <div class="p-0 pl-2 pr-2 border-bottom f6 d-flex flex-justify-between">
        <details class="dropdown details-reset details-overlay d-inline-block">
          <summary class="text-gray p-2" aria-haspopup="true">
            <span class="text-bold">Version:</span>
            <span class="js-action-version-selected"><%= latest_tag %></span>
            <div class="dropdown-caret"></div>
          </summary>

          <details-menu class="dropdown-menu dropdown-menu-se js-action-version-dropdown">
            <% releases_with_params.each do |entry| %>
              <button type="button" class="dropdown-item btn-link" role="menuitemradio" value="<%= entry[:release].tag_name %>">
                <%= entry[:release].tag_name %>
              </button>
            <% end %>
            <% if releases_with_params.empty? %>
              <button type="button" class="dropdown-item btn-link" role="menuitemradio" value="master">
                master
              </button>
            <% end %>
          </details-menu>
        </details>

        <clipboard-copy
            for="action-v2-text<%= action.id %>"
            data-copy-feedback="Copied!"
            aria-label="Copy to clipboard"
            class="ClipboardButton btn-link p-2 js-clipboard-copy text-gray">
          <%= octicon("clippy", class: "js-clipboard-clippy-icon") %>
          <span class="js-clipboard-check-icon d-none">
            <%= octicon("check") %>
          </span>
        </clipboard-copy>
      </div>

      <div class="p-2 pr-3 pl-3">
        <% releases_with_params.each do |entry| %>
          <%
            tag_name = entry[:release].tag_name
            attribute = tag_name == latest_tag ? "id=action-v2-text#{action.id}" : "hidden"
          %>
          <pre class="js-action-release-example overflow-x-auto" data-tag-name="<%= tag_name %>" data-id="action-v2-text<%= action.id %>"
            <%= attribute %>><%= entry[:example] %></pre>
        <% end %>
        <% if releases_with_params.empty? %>
          <pre class="js-action-release-example overflow-x-auto" data-tag-name="master" data-id="action-v2-text-default-branch"
            id="action-v2-text-default-branch"><%= action.default_branch_workflow_snippet %></pre>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
