<div class="issue-list-item d-flex py-4">
  <%= octicon(hit.icon_symbol, :height => 32, :class => hit.state + " flex-shrink-0 mr-3") %>

  <div class="flex-auto min-width-0 v-align-top <%= hit.private? ? "private" : "public" %>">
    <h3 class="text-normal pb-1">
      <a href="<%= hit.issue_link %>" title="<%= hit.title %>">
        <%= hit.hl_title %>
      </a>
    </h3>
    <p><%= hit.hl_text %></p>
    <ul class="list-style-none text-small text-gray">
      <li class="d-inline-block mr-3">
        <%= link_to hit.repo["full_name"], "#{hit.repo["html_url"]}/issues", :class => "muted-link" %>
        <% if hit.private? %>
          <%= render Primer::LabelComponent.new(ml: 1, scheme: :gray, title: "Label: Private repository") do %>
            Private
          <% end %>
        <% end %>
        <span class="ml-2">
          Opened by <%= link_to hit.author["login"], "#{hit.author["html_url"]}", :title => hit.author["login"], :class => "muted-link" %> <%= time_ago_in_words_js hit.created_at %>
        </span>
      </li>
      <% if hit.comments > 0 %>
        <li class="d-inline-block">
          <%= number_with_delimiter(hit.comments) %> <%= "comment".pluralize(hit.comments) %>
        </li>
      <% end %>
    </ul>
  </div>

  <span class="flex-shrink-0 text-gray ml-3">#<%= hit.number %></span>
</div>
