<div class="user-list-item f5 py-4 d-flex">
  <div class="d-flex flex-auto">
    <%= link_to image_tag(hit.avatar_url, height: "48", alt: hit.login, class: "avatar position-relative"), hit.user_link %>
    <div class="user-list-info ml-2 min-width-0">
      <%= link_to hit.hl_login, "#{hit.user_link}" %>

      <% if (name = hit.hl_name).present? %>
        <span class="d-block d-md-inline f4 mt-2 mt-md-0 ml-md-1"><%= name %></span>
      <% end %>

      <% if (bio = hit.hl_profile_bio).present? %>
        <p class="f5 mt-2">
          <%= bio %>
        </p>
      <% end %>

      <ul class="user-list-meta d-flex flex-column flex-md-row f6 list-style-none text-gray mt-1 mt-md-2">
        <% unless hit.location.blank? %>
          <li class="mt-1 mt-md-0 mr-md-3">
            <%= octicon("location") %>
            <%= EscapeUtils.escape_html_as_html_safe(hit.location) %>
          </li>
        <% end %>

        <% unless hit.email.nil? %>
          <li class="mt-1 mt-md-0 mr-md-3">
            <%= octicon("mail") %>
            <%= obfuscated_mail_to(hit.email, :class => "muted-link") %>
          </li>
        <% end %>

        <% if hit.created_at && hit.created_at > 1.month.ago %>
          <li class="mt-1 mt-md-0 mr-md-3">
            <%= octicon("clock") %>
            <%= time_ago_in_words_js(hit.created_at) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
