<%# rubocop:disable Lint/InstanceVariable %>

<% if results.timed_out? %>
  <%= render :partial => "dotcom_codesearch/results_error", :locals => { :search => @search, :type => "Topics" } %>
<% elsif results.empty? %>
  <%= render :partial => "dotcom_codesearch/results_empty", :locals => { :message => "We couldn’t find any topics matching '#{@search}' in GitHub.com" } %>
<% else %>
  <h3> <%= "#{number_with_delimiter(results.total)} #{'result'.pluralize(results.total)} from GitHub.com" %></h3>
  <div id="topic_search_results">
    <div class="topic-list">
      <% any_logos = results.any?(&:has_logo?) %>
      <% results.each_with_index do |hit, index| %>
        <%= render partial: "dotcom_codesearch/hit_topic", locals: { hit: hit, any_logos: any_logos, hit_position: index + 1, page_number: results.page || 1 } %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
