<% if results.timed_out? %>
  <%= render :partial => "dotcom_codesearch/results_error", :locals => { :search => search, :type => "Commits" } %>
<% elsif results.empty? %>
  <%= render :partial => "dotcom_codesearch/results_empty", :locals => { :message => "We couldn’t find any commits matching '#{search}' in GitHub.com" } %>
<% else %>
  <h3> <%= "#{number_with_delimiter(results.total)} #{'result'.pluralize(results.total)} from GitHub.com" %></h3>
  <div id="commit_search_results">
    <% results.each do |hit| %>
        <%
          repo = hit.repository
          commit = hit.commit
        %>
        <%= render :partial => "dotcom_codesearch/hit_commit", :locals => {:hit => hit, :repo => repo, :commit => commit} %>
    <% end %>
  </div>
  <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
<% end %>
