<%# rubocop:disable Lint/InstanceVariable %>
<% if results.timed_out? %>
  <%= render :partial => "dotcom_codesearch/results_error", :locals => { :search => @search, :type => "Users" } %>
<% elsif results.empty? %>
  <%= render :partial => "dotcom_codesearch/results_empty", :locals => { :message => "We couldn’t find any users matching '#{@search}' in GitHub.com" } %>
<% else %>
  <h3> <%= "#{number_with_delimiter(results.total)} #{'result'.pluralize(results.total)} from GitHub.com" %></h3>
  <div id="user_search_results">
    <div class="user-list">
      <% results.each do |hit| %>
        <%= render :partial => "dotcom_codesearch/hit_user", :locals => {:hit => hit} %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
