<%= render Primer::BlankslateComponent.new(
  icon: "search",
  title: "Request to GitHub.com failed, not showing results for '#{search}'",
) do %>
  <p>
    Please try again later or try this <a href='<%="https://github.com/search?q=#{search}&type=#{type}&utf8=%E2%9C%93"%>'>link</a>.
  </p>
<% end %>
