<% page_info selected_link: :code_search, page_title: "Dotcom Advanced Search" %>

<%= form_tag dotcom_search_path, :method => :get, :id => "search_form", :class => "search_repos" do %>
  <%= render partial: "codesearch/advanced_search_form", locals: { environment: "github" } %>
<% end %>
