<%# erblint:disable LandmarkHasLabel %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Search::DotcomResultsView.new(self, queries: @queries, type: @type, search: @search, unscoped_search: @unscoped_search, elastic_search_down: @elastic_search_down) %>
<% page_info(
    selected_link: :dotcom_code_search,
    title: "Search · #{@search}",
    skip_responsive_padding: true
  )
%>

<% content_for :head do %>
  <meta name="analytics-param-rename" content="q:ga-q" data-pjax-transient>
<% end %>

<% content_for :header_title do %>
  <%= octicon("search") %>
<% end %>

<% content = capture do %>
  <div class="container-lg px-md-2 mt-lg-4 clearfix">

    <div class="col-12 px-2 py-2 py-md-3 d-lg-none d-flex">
      <div class="flex-auto">
        <%= form_tag dotcom_search_path,
              method: :get,
              class: "js-site-search-form" do %>
          <input
            aria-label="Search <%= GitHub.search_flavor %>"
            autocapitalize="off"
            autocomplete="off"
            autofocus
            class="form-control input-block"
            name="q"
            placeholder="Search <%= GitHub.search_flavor %>"
            spellcheck="false"
            type="text"
            value="<%= @search %>"
          >
          <input type="hidden" class="js-site-search-type-field" name="type">
        </div>
      <% end %>
      <button class="btn ml-2 d-none d-md-block" type="submit">Search</button>
    </div>

    <div class="col-12 col-md-3 float-left px-md-2">
      <nav class="menu border d-none d-md-block" data-pjax>
        <%= view.link_to_repos %>
        <%= view.link_to_code %>
        <%= view.link_to_commits %>
        <%= view.link_to_issues %>
        <%= view.link_to_topics %>
        <%= view.link_to_wikis %>
        <%= view.link_to_users %>
      </nav>

      <nav class="UnderlineNav UnderlineNav--full d-md-none mb-2" data-pjax>
        <div class="UnderlineNav-container">
          <div class="UnderlineNav-body js-codesearch-nav overflow-auto">
            <%= view.link_to_repos(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_code(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_commits(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_issues(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_topics(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_wikis(link_classes: "UnderlineNav-item flex-shrink-0") %>
            <%= view.link_to_users(link_classes: "UnderlineNav-item flex-shrink-0") %>
          </div>
        </div>
      </nav>

      <div class="mt-3 d-none d-md-block">
        <a href="<%= dotcom_advanced_search_path(q: @search, l: @language) %>" class="f6">Advanced search</a>
        <details class="details-reset details-overlay details-overlay-dark d-inline-block">
          <summary class="btn-link f6 ml-3">Cheat sheet</summary>
          <%= render "dotcom_codesearch/cheatsheet" %>
        </details>
      </div>
    </div>
    <div class="col-12 col-md-9 float-left px-2 pt-3 pt-md-0 codesearch-results">
      <div class="px-2">
        <%= render partial: "codesearch/tabs", locals: { q: @search, type: @type } %>
        <%= view.render_results %>
      </div>
    </div>
  </div>
<% end %>
<%= content %>
