<div class="Box-row d-flex flex-items-center">
  <div>
    <strong>
      Disable match for a specific sponsor
    </strong>
    <div class="text-small text-gray-light">
      Disable GitHub Sponsors matching for sponsorships to this account by a specific user.
    </div>
  </div>
  <%= form_with url: stafftools_sponsors_member_listing_match_bans_path(sponsorable), class: "flex-shrink-0" do |f| %>
    <%=
      f.text_field(
        :sponsor_login,
        class: "form-control mr-2",
        size: "30",
        placeholder: "Account",
        "aria-label": "Account",
      )
    %>
    <%= f.submit("Disable match for sponsor", class: "btn btn-danger") %>
  <% end %>
</div>

<% if sponsorable.sponsorship_match_bans_as_sponsorable.load.any? %>
  <div class="Box-row">
    <strong>
      Re-enable match for a specific sponsor
    </strong>
    <div class="text-small text-gray-light">
      Re-enable GitHub Sponsors matching sponsorships to this account by specific users that had matching disabled.
    </div>

    <% sponsorable.sponsorship_match_bans_as_sponsorable.each do |ban| %>
      <div class="d-flex flex-items-center flex-justify-between mt-3">
        <div>
          <%= linked_avatar_for(ban.sponsor, 20, img_class: "avatar mr-1") %>
          <%= profile_link(ban.sponsor) %>
        </div>
        <%=
          button_to(
            "Re-enable match for #{ban.sponsor}",
            stafftools_sponsors_member_listing_match_ban_path(sponsorable, ban),
            method: :delete,
            class: "btn btn-danger",
          )
        %>
      </div>
    <% end %>
  </div>
<% end %>
