<%# erblint:counter TooltipCounter 2 %>

<% if @membership.accepted? %>
  <% if @membership.can_revert_to_submitted? %>
    <%= form_tag stafftools_sponsors_member_acceptance_path(@membership.sponsorable), method: :delete do %>
      <button type="submit"
        class="btn btn-danger btn-block mb-2"
        data-disable-with="Undoing acceptance…"
        <%= test_selector "undo-acceptance-button" %>
      >
        Undo acceptance
      </button>
    <% end %>
  <% end %>
<% elsif !@membership.banned? && !@membership.ignored? %>
  <% if trade_restricted? %>
    <button
      type="button"
      class="btn btn-primary btn-block mb-2 tooltipped tooltipped-s"
      aria-label="Account is trade restricted"
      <%= test_selector "accept-membership-button" %>
      disabled
    >
      Accept
    </button>
  <% elsif unsupported_country? %>
    <button
      type="button"
      class="btn btn-primary btn-block mb-2 tooltipped tooltipped-s"
      aria-label="Billing country or region not supported"
      <%= test_selector "accept-membership-button" %>
      disabled
    >
      Accept
    </button>
  <% else %>
    <%= form_tag stafftools_sponsors_member_acceptance_path(@membership.sponsorable), method: :post do %>
      <input type="hidden" value="<%= @queue_cursor %>" name="queue_cursor">
      <button
        type="submit"
        class="btn btn-primary mb-2 btn-block"
        data-disable-with="Accepting…"
        data-hotkey="Control+Enter,Meta+Enter"
        <%= test_selector "accept-membership-button" %>
      >
        Accept
      </button>
    <% end %>
  <% end %>
<% end %>

<% if @membership.banned? %>
  <%= form_tag stafftools_sponsors_member_ban_path(@membership.sponsorable), method: :delete do %>
    <button type="submit" class="btn btn-danger btn-block mb-2"
      data-confirm="Are you sure you want to unban this user?"
      data-disable-with="Undoing ban…"
      <%= test_selector "undo-ban-button" %>
    >
      Undo ban
    </button>
  <% end %>
<% else %>
  <%= form_tag stafftools_sponsors_member_ban_path(@membership.sponsorable), method: :post do %>
    <%= render(GitHub::DialogComponent.new(title: "Ban this user")) do |dialog| %>
      <% dialog.with(:summary) do %>
        <summary class="btn btn-block btn-danger mb-2">Ban user</summary>
      <% end %>
      <% dialog.with(:body) do %>
        <p>Are you sure you want to ban this user? Their active sponsorships will be cancelled and their listing will be disabled.</p>
        <dl class="form-group">
          <dt><label for="banned_reason">Banned reason</label></dt>
          <dd>
            <textarea autofocus name="banned_reason" id="banned_reason" class="form-control"></textarea>
          </dd>
        </dl>
      <% end %>
      <% dialog.with(:footer) do %>
        <button type="submit" class="btn btn-block btn-danger"
          data-disable-with="Banning user…"
          <%= test_selector "ban-button" %>
        >
          Ban user
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @membership.ignored? %>
  <%=
    button_to(
      "Un-ignore profile",
      stafftools_sponsors_member_ignore_path(@membership.sponsorable),
      method: :delete,
      class: "btn btn-danger btn-block",
      data: {
        confirm: "Are you sure you want to un-ignore this Sponsors profile? This will only be visible in stafftools.",
        "disable-with": "Un-ignoring user...",
      }.merge(test_selector_hash("un-ignore-button")),
    )
  %>
<% else %>
  <%=
    button_to(
      "Ignore profile",
      stafftools_sponsors_member_ignore_path(@membership.sponsorable),
      method: :post,
      class: "btn btn-danger btn-block",
      data: {
        confirm: "Are you sure you want to ignore this Sponsors profile? This will only be visible in stafftools.",
        "disable-with": "Ignoring user...",
      }.merge(test_selector_hash("ignore-button")),
    )
  %>
<% end %>
