<div class="mb-2 text-bold">Sponsor statuses</div>

<div class="mb-1" <%= test_selector("listing-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("page_with_curl")) %>
  <span class="text-bold">Listing &mdash;</span>
  <span class="<%= listing_status.text_class %>">
    <%= render GitHub::OcticonComponent.new(
      icon: listing_status.octicon,
      color: listing_status.color
    ) %>
    <%= listing_status.label %>
  </span>
</div>

<div class="mb-1" <%= test_selector("payout-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("moneybag")) %>
  <span class="text-bold">Payouts &mdash;</span>
  <span class="<%= payout_status.text_class %>">
    <%= render GitHub::OcticonComponent.new(
      icon: payout_status.octicon,
      color: payout_status.color
    ) %>
    <%= payout_status.label %>
  </span>
</div>

<div class="mb-1" <%= test_selector("matching-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("money_mouth_face")) %>
  <span class="text-bold">Matching &mdash;</span>
  <span class="<%= matching_status.text_class %>">
    <%= render GitHub::OcticonComponent.new(
      icon: matching_status.octicon,
      color: matching_status.color
    ) %>
    <%= matching_status.label %>
  </span>
</div>

<div class="mb-1" <%= test_selector("docusign-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("balance_scale")) %>
  <span class="text-bold">Taxes &mdash;</span>
  <span class="<%= docusign_status.text_class %>">
    <%= render GitHub::OcticonComponent.new(
      icon: docusign_status.octicon,
      color: docusign_status.color
    ) %>
    <%= docusign_status.label %>
  </span>
</div>
