<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong <%= test_selector("reset-docusign-title") %>><%= title %> document</strong>
    <div class="text-small text-gray-light" <%= test_selector("reset-docusign-body") %>>
      <%= body %>
    </div>
  </div>
  <%= render GitHub::DialogComponent.new(title: btn_title) do |dialog| %>
    <% dialog.with(:summary)  do %>
      <summary class="btn btn-danger"><%= btn_text %></summary>
    <% end %>
    <% dialog.with(:body) do %>
      <%= form_tag stafftools_sponsors_member_listing_docusign_envelope_path(@sponsorable.login), method: form_method, data: test_selector_hash("reset-docusign-form") do %>
        <p>Are you sure you want to <%= title.downcase %> <strong><%= @sponsorable.login %></strong>'s current DocuSign document?</p>
        <% if voidable? %>
          <dl class="form-group">
            <dt><label for="voided_reason">Voided reason</label></dt>
            <dd>
              <textarea autofocus name="voided_reason" id="voided_reason" class="form-control"></textarea>
            </dd>
          </dl>
        <% end %>
        <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
          <%= title %> document
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
