<%graphql
  fragment Root on Query {
    integrationCategories(excludeEmpty: true) {
      slug
      name
    }
    editableListings: nonMarketplaceListings(first: 1, viewerCanEdit: true) {
      edges {
        node {
          id
        }
      }
    }
    selectedCategories: integrationCategories(slug: $categorySlug) @include(if: $selectedCategory) {
      slug
    }
    ...Views::WorksWithGitHubListings::Listings::Root
  }
%>
<%
  data = Views::WorksWithGitHubListings::Index::Root.new(data)
  editable_listing_edge = data.editable_listings.edges.first
  category = data.selected_categories && data.selected_categories.first
  filters = {}
  filters[:enterprise_compatible] = "on" if enterprise_compatible
%>

<% page_info \
  title: "Works with GitHub",
  container_xl: true,
  stafftools: biztools_works_with_github_path,
  richweb: {
    title: "Works with GitHub",
    url: request.original_url,
    description: "GitHub integrates with hundreds of applications and services that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive">
  <div class="py-5 mb-md-5 border-bottom text-center text-sm-left">
    <h1 class="h00-mktg lh-condensed-ultra mt-md-4 mb-2 mb-md-0">
      <a class="text-gray-dark no-underline" href="<%= works_with_github_path %>">
        <svg class="d-block d-sm-inline-block mx-auto mx-sm-0 mb-2 v-align-middle " width="38" height="38" viewBox="0 0 47 47" xmlns="http://www.w3.org/2000/svg"><g transform="translate(2 2)" stroke="#28A745" stroke-width="2.771" fill="none" fill-rule="evenodd"><ellipse cx="21.602" cy="21.722" rx="21.602" ry="21.722"></ellipse><path stroke-linecap="round" stroke-linejoin="round" d="M11.846 24.31l4.6 4.625L30.074 15.23"></path></g></svg>
        Works with GitHub
      </a>
    </h1>
    <p class="lead-mktg text-gray-light mb-0 lh-condensed">Products that integrate with the GitHub platform</p>
  </div>
  <div class="clearfix">
    <div class="col-md-3 float-md-right pl-md-4 mb-4 mb-md-0">
      <div class="d-md-none Details js-details-container py-3 mb-4 border-bottom" aria-hidden>
        <button type="button" class="js-details-target btn-link btn-block" aria-expanded="false">Search by name or category<%= octicon "chevron-down", class: "Details-content--shown v-align-middle ml-2" %><%= octicon "chevron-up", class: "Details-content--hidden v-align-middle ml-2" %></button>
        <div class="Details-content--hidden mt-3">
          <h4 class="mb-2">Search directory</h4>
          <%= form_tag url_with(mkt_after: nil, wwg_after: nil), method: :get, class: "mb-3" do %>
            <input type="text" aria-label="Search Works with GitHub by name or description" value="<%= query %>" name="query" class="form-control input-contrast width-full" placeholder="Name or description">
          <% end %>
          <h4 class="mb-2">Categories</h4>
          <ul class="list-style-none Details-content--hidden mb-3">
            <% data.integration_categories.each do |feature| %>
              <li class="mb-2"><a href="<%= works_with_github_category_path(feature.slug) %>"><%= feature.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="d-none d-md-block">
        <h4 class="mb-2">Search directory</h4>
        <%= form_tag url_with(mkt_after: nil, wwg_after: nil), method: :get, class: "mb-3" do %>
          <input type="text" aria-label="Search Works with GitHub by name or description" value="<%= query %>" name="query" class="form-control input-contrast width-full" placeholder="Name or description">
          <% if enterprise_compatible %>
            <input type="hidden" name="enterprise_compatible" value="on">
          <% end %>
        <% end %>

        <h4>Categories</h4>
        <div class="Details js-details-container<% if category.present? && data.integration_categories.size > 4 %> open Details--on<% end %>">
          <ul class="list-style-none mb-3 Details-content--shown">
            <% data.integration_categories[0...4].each do |feature| %>
              <li><a href="<%= works_with_github_category_path(feature.slug, filters) %>" <% if category.present? && category.slug == feature.slug %>class="text-bold"<% end %>><%= feature.name %></a></li>
            <% end %>
          </ul>
          <% if data.integration_categories.size > 4 %>
            <ul class="list-style-none Details-content--hidden mb-3">
              <% data.integration_categories.each do |feature| %>
                <li><a href="<%= works_with_github_category_path(feature.slug, filters) %>" <% if category.present? && category.slug == feature.slug %>class="text-bold"<% end %>><%= feature.name %></a></li>
              <% end %>
            </ul>
            <button class="btn-link js-details-target link-gray mb-3" aria-expanded="false" type="button"><span class="Details-content--shown">All categories...</span><span class="Details-content--hidden">Hide categories...</span></button>
          <% end %>
        </div>

        <div class="form-checkbox">
          <% wwg_path = category ? works_with_github_category_path(category.slug) : works_with_github_path %>
          <%= form_tag wwg_path, :method => :get, :class => "mb-3", "data-autosubmit" => true do %>
            <% if query.present? %>
              <input type="hidden" name="query" value="<%= query %>">
            <% end %>
            <label class="text-normal">
              <input type="checkbox" id="enterprise_compatible" name="enterprise_compatible" <% if enterprise_compatible %>checked<% end %>>
              Filter by <strong>GitHub Enterprise</strong>
            </label>
            <p class="note">Only show listings compatible with GitHub Enterprise.</p>
          <% end %>
        </div>
      </div>
      <% if editable_listing_edge %>
        <p class="mt-4">
          <a class="btn btn-outline" href="<%= edit_works_with_github_listing_path(editable_listing_edge.node.id) %>">Edit your listing</a>
        </p>
      <% end %>
    </div>
    <div id="works-with-github-listings-container" class="col-md-9 float-md-left pr-md-4" data-pjax-container>
      <%= render partial: "works_with_github_listings/listings",
                 locals: { data: data, query: query } %>
    </div>
    <div class="col-md-3 float-md-right pl-md-4 mb-6 mb-md-4 text-center text-md-left" style="clear:right;">
      <hr class="my-6">
      <img src="<%= image_path "modules/marketplace/icon-marketplace.svg" %>" class="mb-2" alt="">
      <h3 class="h4 lh-condensed mb-1">Browse and buy apps on GitHub Marketplace</h3>
      <p class="mb-3">Build on your workflow. Find development tools and bill them to your GitHub or Organization account.</p>
      <p><a href="<%= marketplace_path %>" class="btn btn-outline">Browse Marketplace</a></p>
    </div>
  </div>

  <% unless category %>
    <div class="integrations-promo-bg bg-gray-light p-4 p-md-6 rounded-2 mt-md-6">
      <div class="col-sm-8">
        <h3 class="h3-mktg">Build your own integrations</h3>
        <p>Build the tools your workflow needs with GitHub GraphQL and REST APIs.</p>
        <ul class="list-style-none">
          <li>
            <a href="<%= GitHub.developer_help_url %>/apps/building-integrations/setting-up-a-new-integration/about-integrations/">Learn more about integrations</a>
          </li>
          <li>
            <a href="<%= new_works_with_github_listing_path %>">List your integration on Works with GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
