<%# erblint:disable ProperTagNesting %>

<% page_info \
  title: "Submit Your App · Works with GitHub",
  richweb: {
    title: "Submit Your App - Works with GitHub",
    url: request.original_url,
    description: "GitHub integrates with hundreds of applications and services that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive">
  <%= render(Primer::BreadcrumbComponent.new(my: 4)) do |component| %>
    <% component.slot(:item, href: works_with_github_path) do %>Works with GitHub<% end %>
    <% component.slot(:item, selected: true) do %>Submit your integration<% end %>
  <% end %>
</div>
<div class="container-md p-responsive">
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading, tag: :h1, font_size: 2) do %>Submit your integration<% end %>
  <% end %>
  <div class="blankslate blankslate-spacious mb-3">
    <h2 class="f3 lh-condensed mb-2">Works with GitHub is being deprecated on October 1st</h2>
    <p>We are no longer accepting submissions. Please submit to the <a href="<%= new_marketplace_listing_path %>">GitHub Marketplace</a> instead.
  </div>
</div>
