<%# erblint:counter TooltipCounter 2 %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
    <div class="container-lg UnderlineNav-container px-3">
      <span class="UnderlineNav-actions f3">
        Billing Webhooks
        /
        <%= link_to "Stripe webhooks", stafftools_stripe_webhooks_path %>
      </span>

      <nav class="UnderlineNav-body" aria-label="Other webhooks">
        <%= link_to "Zuora webhooks", stafftools_zuora_webhooks_path, class: "UnderlineNav-item" %>
      </nav>
    </div>
  </div>

  <div class="flash flash-warn">
    Refer to the <%= link_to "Playbook", "https://github.com/github/gitcoin/blob/master/docs/playbook/alerts/stripe_webhook_errors.md" %>
    for more information on how to handle unprocessed webhooks
  </div>
  <div class="boxed-group flush">
    <h3>Pending Stripe Webhooks</h3>

    <div class="boxed-group-inner seamless">
        <table class="stafftools-table">
          <% if webhooks.any? %>
            <thead>
              <th class="no-wrap billing-table-cell">ID</th>
              <th class="no-wrap billing-table-cell">Stripe Account</th>
              <th class="no-wrap billing-table-cell">Created</th>
              <th class="no-wrap billing-table-cell">Kind</th>
              <th class="no-wrap billing-table-cell"></th>
            </thead>

            <tbody>
              <% webhooks.each do |webhook| %>
                <tr class="bg-gray-light">
                  <td class="tiny no-wrap">
                    <%= webhook.id %>
                  </td>
                  <td class="tiny no-wrap">
                    <% if webhook.account_id %>
                      <%= link_to webhook.account_id, webhook.connect_account_url, title: "Open the customer's account (#{webhook.account_id}) in Stripe" %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td class="no-wrap"><%= date_with_time_tooltip webhook.created_at %></td>
                  <td class="no-wrap"><%= webhook.kind %></td>
                  <td class="tiny no-wrap">
                    <%= form_tag stafftools_stripe_webhook_perform_path(webhook), class: "inline-form", method: :put do %>
                      <button type="submit"
                              class="btn-link tooltipped tooltipped-n"
                              aria-label="Process"
                              data-confirm="Are you sure you want to process this webhook?">
                        <%= octicon("sync") %>
                      </button>
                    <% end %>
                    <%= form_tag stafftools_stripe_webhook_ignore_path(webhook), class: "inline-form", method: :put do %>
                      <button type="submit"
                              class="btn-link tooltipped tooltipped-n ml-1"
                              aria-label="Ignore"
                              data-confirm="Are you sure you want to permanently ignore this webhook?">
                        <%= octicon("issue-closed") %>
                      </button>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% else %>
            <tr class="bg-gray-light"><td>No pending Stripe webhooks found</td></tr>
          <% end %>
        </table>
    </div>
    <p class="mt-2">Note: Webhooks created in the past 5 minutes will not be displayed here</p>
  </div>
<% end %>
