<div class="container-sm mx-auto mt-6">
  <div class="settings-next">
    <%= render Primer::SubheadComponent.new do |component| %>
      <% component.slot(:heading, tag: :h2) do %>Single sign-on recovery codes<% end %>
    <% end %>
    <p class="two-factor-lead">
      <strong>Put these in a safe spot.</strong> If your identity provider is unavailable and you don’t have a recovery code you will lose access. A recovery code grants access for 24 hours and can only be used once.
    </p>
    <div class="two-factor-steps">
      <h3>Recovery codes</h3>
      <p class="note">
        Treat your recovery codes with the same level of attention as you would your password!
        We recommend saving them with a password manager such as
        <a href="https://lastpass.com/" target="_blank" rel="noopener noreferrer">Lastpass</a>,
        <a href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>, or
        <a href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
      </p>

      <ul class="two-factor-recovery-codes">
        <% recovery_codes = view.formatted_recovery_codes %>
        <% recovery_codes.each do |code| %>
          <li class="two-factor-recovery-code"><%= code %></li>
        <% end %>
      </ul>

      <div class="recovery-codes-saving-options mb-4">
        <%= form_tag settings_org_saml_provider_download_recovery_codes_path(view.organization), class: "d-inline" do -%>
          <button class="btn btn-outline mr-3 recovery-code-save-button" type="submit">
            <%= octicon("desktop-download") %>
            Download
          </button>
        <% end -%>

        <a href="<%= settings_org_saml_provider_print_recovery_codes_path(view.organization) %>"
          target="_new"
          class="btn btn-outline recovery-code-save-button">
          <%= octicon("file") %>
          Print
        </a>

        <clipboard-copy
            value="<%= recovery_codes.join("\s\n") %>"
            class="btn btn-outline recovery-code-save-button">
          <%= octicon("clippy") %>
          Copy
        </clipboard-copy>
      </div>
    </div>
    <strong>Generate new recovery codes</strong>
    <p class="note mb-3">
      When you generate new recovery codes, you must download or print the
      new codes. Your old codes won’t work anymore.
    </p>
    <%= form_tag settings_org_saml_provider_regenerate_recovery_codes_path(this_organization), method: :put do %>
      <button type="submit" class="btn">Generate new recovery codes</button>
    <% end %>
    <hr>
    <p>
      <a href="<%= settings_org_security_path(view.organization) %>">Back to settings</a>
    </p>
  </div>
</div>
