<% if view.advanced_security_enabled? %>
  <div class="Box mb-4">
    <div class="Box-body bg-gray-light d-flex flex-items-center">
      <div class="d-flex flex-items-center">
        <img width="32" height="32" alt="" src="<%= image_path "modules/site/icons/security.svg" %>">
      </div>
      <div class="Box-title flex-auto ml-1 pl-2">
        <div class="text-gray-dark">GitHub Advanced Security</div>
        <div class="text-small text-normal text-gray">
          Valid until <%= view.billing_term_ends_on %> (includes support and updates)
        </div>
      </div>
      <div class="d-flex flex-items-center">
        <%= octicon("check-circle", class: "text-gray") %>
        <div class="pl-1 text-gray">
          Enabled
        </div>
      </div>
    </div>
  </div>
<% end %>
