<% button_id ||= "" %>

<div class="d-flex flex-justify-center my-2">
  <%= octicon "server", height: 30, class: "text-gray" %>
</div>
<div class="f2 text-center mb-2">
  <% if installation.present? %>
    Update <%= installation.host_name %> usage
  <% else %>
    Upload Enterprise Server usage
  <% end %>
</div>
<p class="text-gray-light text-center">
  Upload a JSON file of user accounts from your Enterprise Server instance
  to manage usage in one place.
</p>

<%= form_tag sync_user_accounts_enterprise_enterprise_installations_path(business.slug), method: :post, "data-remote": true do %>
  <%= file_attachment_tag(
    model: :enterprise_installation_user_accounts_uploads,
    class: "js-upload-enterprise-installation-user-accounts-upload is-default",
    input: button_id,
    "data-business-id": business.slug,
    "data-enterprise-installation-id": installation&.id
  ) do %>
  <div class="avatar-upload clearfix">
    <div>
      <input type="hidden"
        name="enterprise_installation_user_accounts_upload_id"
        class="js-enterprise-installation-user-accounts-upload-id">
      <input type="hidden"
        name="enterprise_installation_id"
        class="js-enterprise-installation-id">
      <input type="file" id="<%= button_id %>" class="form-control d-none">
      <div class="f4 text-center mb-2 px-5">
        <label for="<%= button_id %>" class="text-normal">
          <div class="border border-dashed rounded-2 pb-2">
            <div class="d-flex flex-justify-center">
              <%= octicon "cloud-upload", height: 26, class: "text-gray text-center my-2" %>
            </div>
            <div>
              Drag and drop or
              <span class="btn-link">select a file</span> to upload.
            </div>
            <div class="text-gray-light f5">
              (<%= EnterpriseInstallationUserAccountsUpload::MAX_SIZE_MEGABYTES %> MB limit)
            </div>

            <div class="text-center f5">
              <div class="upload-state loading">
                <button type="button" class="btn-link text-center" disabled>
                  <%= image_tag "spinners/octocat-spinner-32.gif", width: 16, height: 16,
                    alt: "", class: "v-align-text-bottom" %> Uploading...
                </button>
              </div>
              <div class="upload-state text-red file-empty">
                This file is empty.
              </div>
              <div class="upload-state text-red too-big">
                Please upload a file smaller than
                <%= EnterpriseInstallationUserAccountsUpload::MAX_SIZE_MEGABYTES %> MB.
              </div>
              <div class="upload-state text-red bad-file">
                Please upload a JSON file.
              </div>
              <div class="upload-state text-red failed-request">
                Something went wrong while processing that file.
              </div>
              <div class="upload-state text-red bad-format">
                Please upload a file containing valid JSON.
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
