<% if view.any_license_overage? %>
<div class="Box mb-4">
  <div class="Box-body d-flex flex-items-center flash-error">
    <div class="d-flex flex-items-center">
      <%= octicon "alert", width: 32, height: 32 %>
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>You've exceeded the limit for user licenses.</div>
      <div class="text-small text-normal">
        Contact GitHub Enterprise sales to buy more user licenses.
      </div>
    </div>
    <div>
      <a class="btn" href="<%= ent_contact_url %>" role="button">Contact sales</a>
    </div>
  </div>
</div>
<% end %>

<div class="Box mb-4 <%= "border-dashed" if view.total_available_licenses <= 0 %> <%= "Box--danger" if view.any_license_overage? %>">
  <div class="Box-header bg-gray-light d-flex flex-items-center <%= "border-dashed" if view.total_available_licenses <= 0 %> <%= "border-red" if view.any_license_overage? %>">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="" src="<%= image_path "modules/site/icons/permissions.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div class="text-gray-dark">User Licenses</div>
      <div class="text-small text-normal text-gray">
        Consumed and total available user licenses
      </div>
    </div>
    <% if view.total_available_licenses > 0 %>
      <%= link_to "View details", people_enterprise_path(this_business), { class: "btn btn-outline btn-sm" } %>
    <% end %>
  </div>

  <% if view.available_enterprise_licenses > 0 %>
    <div class="Box-row d-flex flex-items-center text-gray">
      <div class="Box-title flex-1 ml-1 pl-6">
        <div>Enterprise Licenses</div>
        <div class="text-small text-normal">
          Valid until <%= view.billing_term_ends_on %> (includes support and updates)
        </div>
      </div>
      <div class="flex-1 text-right text-small ml-1 pl-6">
        <div class="d-flex flex-justify-between">
          <% if view.enterprise_licenses_overage? %>
            <div class="text-red">
              <%= octicon "alert" %> Limit exceeded
            </div>
          <% end %>
          <span class="flex-auto">
            <strong><%= number_with_delimiter view.consumed_enterprise_licenses %></strong> / <strong><%= number_with_delimiter view.available_enterprise_licenses %></strong> consumed
          </span>
        </div>
        <%= render(Primer::ProgressBar::Component.new(mt: 1)) do |component| %>
          <% if view.enterprise_licenses_overage? %>
            <% component.slot(:item, bg: :red, percentage: 100) %>
          <% else %>
            <% component.slot(:item, bg: :blue, percentage: view.consumed_enterprise_licenses_percent) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if view.volume_licensing_enabled? && view.available_volume_licenses > 0 %>
    <div class="Box-row d-flex flex-items-center text-gray">
      <div class="Box-title flex-1 ml-1 pl-6">
        <div>Enterprise Visual Studio Licenses</div>
        <div class="text-small text-normal">
          Valid until <%= view.billing_term_ends_on %> (includes support and updates)
        </div>
      </div>
      <div class="flex-1 text-right text-small ml-1 pl-6">
        <div class="d-flex flex-justify-between">
          <% if view.volume_licenses_overage? %>
            <div class="text-red">
              <%= octicon "alert" %> Limit exceeded
            </div>
          <% end %>
          <span class="flex-auto">
            <strong><%= number_with_delimiter view.consumed_volume_licenses %></strong> / <strong><%= number_with_delimiter view.available_volume_licenses %></strong> consumed
          </span>
        </div>
        <%= render(Primer::ProgressBar::Component.new(mt: 1)) do |component| %>
          <% if view.volume_licenses_overage? %>
            <% component.slot(:item, bg: :red, percentage: 100) %>
          <% else %>
            <% component.slot(:item, bg: :blue, percentage: view.consumed_volume_licenses_percent) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if view.available_enterprise_licenses > 0 %>
    <div class="Box-footer d-flex flex-items-center flex-justify-between">
      <div class="text-small ml-1 pl-6 text-gray-dark">
        <%= link_to "Contact sales", ent_contact_url %> to buy more licenses.
      </div>
      <div class="flex-auto text-right text-gray-dark">
        <span>
          <strong><%= number_with_delimiter view.consumed_licenses %></strong> consumed / <strong><%= number_with_delimiter view.total_available_licenses %></strong> available
        </span>
        <%= link_to download_consumed_licenses_enterprise_licensing_path(this_business),
          class: "link-gray tooltipped tooltipped-w pl-2",
          "aria-label": "Download consumed licenses CSV" do %>
          <%= octicon "cloud-download" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="Box-footer d-flex flex-items-center flex-justify-between border-0">
      <div class="text-normal ml-1 pl-6 text-gray-dark">
        You don't have any user licenses. <%= link_to "Contact sales", ent_contact_url %> to buy.
      </div>
    </div>
  <% end %>
</div>
