<% page_info title: "#{current_repository.nwo} - Dependabot" %>

<div class="boxed-group">
  <h3>Dependabot Update Configs</h3>
  <div class="boxed-group-inner clearfix">
    <% if update_configs.empty? %>
      <p class="text-bold m-0">This repository does not have any Dependabot configuration.</p>
    <% else %>
      <p class="Box-row p-0">
        A Dependabot configuration may specify multiple configurations for each combination of target branch, directory path and package ecosystem.
      </p>
      <ul>
        <% update_configs.each do |update_config| %>
          <li class="Box-row pl-0 pr-0">
            <div class="summary">
              <p>Update Config ID: <%= update_config.id %></p>
              <dl class="m-0 flattened">
                <dt class="text-emphasized">Target Branch:</dt>
                <dd><%= update_config.target_branch %></dd>
                <dt class="text-emphasized">Package Ecosystem:</dt>
                <dd><%= update_config.package_ecosystem.name %></dd>
                <dt class="text-emphasized">Monitored Dependency Files:</dt>
                <dd><%= update_config.monitored_manifest_files.map(&:path).join(", ") %></dd>
                <dt class="text-emphasized">Last Scheduled Update:</dt>
                <dd>
                  <% if update_config.last_full_update_run %>
                    Job ID: <%= update_config.last_full_update_run.id %>, State: <%= update_config.last_full_update_run.state %><% if update_config.last_full_update_run.finished_at %>, finished <%= time_ago_in_words Time.at(update_config.last_full_update_run.finished_at.seconds) %> ago<% end %>.
                  <% else %>
                    Never.
                  <% end %>
                </dd>
              </dl>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
