<%= render partial: "notifications/v2/actions/bulk/action", locals: {
    hotkey: "I,y",
    form_path: notifications_beta_mark_as_read_path,
    form_attributes: { "data-status": "read" },
    button_title: "Mark as read",
    button_icon: "primitive-dot-stroke",
    mark_all: local_assigns[:mark_all],
    in_dropdown: true
  }
%>
