<div class="intgrs-lstng-item mb-3 ml-3 text-center">
  <%= link_to gh_app_path(listing), :class => "intgrs-lstng-item-link",
    :data => { :pjax => true } do %>
    <%= oauth_application_logo(listing.integration, 64, :class => "avatar intgrs-lstng-logo", :alt => listing.name) %>
    <h3 class="intgrs-lstng-item-header"><%= listing.name %></h3>
    <p class="intgrs-lstng-item-description">
      <%= listing.blurb %>
    </p>
  <% end %>
  <% if listing.draft? %>
    <a href="<%= stafftools_app_listing_path(listing) %>" class="draft-tag">
      <%= octicon('pencil') %> draft
    </a>
  <% end %>
</div>
