<div class="filter-list intgrs-lstng-categories-container">
  <div class="intgrs-lstng-categories mt-4">
    <p class="h4">Filters</p>

    <%= selected_link_to "All integrations", apps_path, :class => "filter-item", :data => { :pjax => true } %>
    <% filters.each do |filter| %>
      <%= selected_link_to filter.name, apps_feature_path(:feature => filter.slug), :class => "filter-item", :data => { :pjax => true } %>
    <% end -%>

    <p class="h4 mt-4">Categories</p>

    <% categories.each do |category| %>
      <%= selected_link_to category.name, apps_feature_path(:feature => category.slug), :class => "filter-item", :data => { :pjax => true } %>
    <% end -%>
  </div>
</div>

<div class="subnav-search intgrs-lstng-search ml-4 mt-4 float-right">

  <%= form_tag apps_path(:feature => params[:feature]), :method => :get,
    :class => "subnav-search",
    :"data-autosearch-results-container" => "integration-listing" do %>
    <div class="auto-search-group">
      <input class="form-control subnav-search-input input-contrast auto-search-input" type="text" name="query" value="<%= params[:query] %>"
      placeholder="Find an integration…"
      aria-label="Find an integration…"
      autocomplete="off"
      data-url="<%= apps_path(:feature => params[:feature]) %>"
      data-throttled-autosubmit>
      <%= octicon('search') %>
      <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
    </div>
  <% end %>
</div>
