<%graphql
  fragment Root on Query {
    ...Views::MarketplaceListings::Listing::Root
    recommendedMarketplaceApps {
      databaseId
      viewerHasPurchased
      categories {
        slug
      }
      ...Views::MarketplaceListings::Listing::MarketplaceListing
    }
  }
%>

<%
  data = Views::Marketplace::RecommendedCategoryApps::Root.new(data)

  recommended_apps = []
  recommended_categories = Marketplace::Category::CATEGORIES_WITH_RECOMMENDATIONS[category]
  if recommended_categories
    recommended_apps = data.recommended_marketplace_apps.reject do |app|
      app_categories = app.categories.map(&:slug)

      app.viewer_has_purchased ||
        app_categories.include?(category) ||
        (recommended_categories & app_categories).empty?
    end
  end

  recommended_apps = recommended_apps.sample(2)

  if recommended_apps.any?
    GlobalInstrumenter.instrument("marketplace.recommended_listings.displayed", {
      client: { user: current_user },
      marketplace_listing_ids: recommended_apps.map(&:database_id)
    })
  end
%>

<% if recommended_apps.any? %>
  <div class="mt-4">
    <hr>
    <h4 class="mb-3">Also recommended for you</h4>
    <div class="d-md-flex flex-wrap">
      <% recommended_apps.each do |app| %>
        <%= render partial: "marketplace_listings/listing", locals: {
          data:       data,
          listing:    app,
          hydro_data: hydro_click_tracking_attributes("marketplace.recommended_listing.click", { marketplace_listing_id: app.database_id }),
        } %>
      <% end %>
    </div>
  </div>
<% end %>
