<%
  category_slug ||= nil
  search_options ||= nil
%>

<%= form_tag marketplace_search_path, method: "get", class: "position-relative mb-3 box-shadow-extra-large" do %>
  <% if category_slug %>
    <input type="hidden" name="category" value="<%= category_slug %>">
  <% end %>

  <% if search_options&.tool_type %>
    <input type="hidden" name="type" value="<%= search_options.tool_type %>">
  <% end %>

  <% if search_options&.verification_state %>
    <input type="hidden" name="verification" value="<%= search_options&.verification_state %>">
  <% end %>

  <%= octicon("search", class: "text-gray-dark position-absolute", style: "margin-top: 15px; left: 15px;") %>

  <input
    type="text"
     name="query"
     class="form-control input-lg input-block"
     style="padding-left: 40px; padding-top: 12px; padding-bottom: 12px;"
     placeholder="Search for apps and actions"
     aria-label="Search for apps and actions"
     value="<%= search_options&.query %>">
<% end %>
