<%# erblint:disable LandmarkHasLabel %>
<details class="d-lg-none mb-3 details-reset details-overlay details-overlay-dark">
  <summary class="btn btn-large btn-block">Menu</summary>
  <details-dialog class="Box Box--overlay Box--full d-flex flex-column anim-fade-in fast">
    <div class="Box-header">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= octicon "x" %>
      </button>
      <h3 class="Box-title">Menu</h3>
    </div>
    <div class="overflow-auto">
      <div class="Box-row py-3">
        <h4 class="mb-md-1">Types</h4>
        <ul class="list-style-none" style="margin-left: -10px;">
          <% view.tool_type_options.each do |type| %>
            <li>
              <% if type == view.selected_tool_type %>
                <%= link_to view.prefilled_search_path(type: nil), class: "d-flex flex-justify-between flex-items-center filter-item py-1 mb-0 selected" do %>
                  <%= type.titlecase %>
                  <%= octicon(:x) %>
                <% end %>
              <% else %>
                <%= link_to type.titlecase, view.prefilled_search_path(type: type), class: "filter-item py-1 mb-0" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="Box-row py-3">
        <h4 class=mb-md-1">Categories</h4>
        <ul class="list-style-none" style="margin-left: -10px;">
          <% view.navigation_categories.each do |category| %>
            <li>
              <% if category.has_slug?(view.selected_category_slug) %>
                <%= link_to view.prefilled_search_path(category: nil), class: "d-flex flex-justify-between flex-items-center filter-item py-1 mb-0 selected" do %>
                  <%= category.name %>
                  <%= octicon(:x) %>
                <% end %>
              <% else %>
                <%= link_to category.name, view.category_or_prefilled_search_path(slug: category.slug), class: "filter-item py-1 mb-0" %>
              <% end %>
            </li>

            <% if category.has_slug_or_children_has_slug?(view.selected_category_slug) %>
              <% category.sub_categories.each do |subcategory| %>
                <li class="ml-3">
                  <% if subcategory.has_slug?(view.selected_category_slug) %>
                    <%= link_to view.category_or_prefilled_search_path(slug: category.slug), class: "d-flex flex-justify-between flex-items-center filter-item py-1 mb-0 selected" do %>
                      <%= subcategory.name %>
                      <%= octicon(:x) %>
                    <% end %>
                  <% else %>
                    <%= link_to subcategory.name, marketplace_category_path(subcategory.slug), class: "filter-item py-1 mb-0" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="Box-row py-3">
        <details class="details-reset">
          <summary>
            <h4>Filters <%= octicon("chevron-down", class: "text-gray ml-2") %></h4>
          </summary>
          <ul class="list-style-none mt-3" style="margin-left: -10px;">
            <% view.filter_categories.each do |category| %>
              <li>
                <%= link_to category.name,
                  marketplace_category_path(category.slug),
                  class: "muted-link filter-item py-2 mb-0 #{'selected' if category.has_slug?(view.selected_category_slug)}"
                %>
              </li>
            <% end %>
          </ul>
        </details>
      </div>

      <div class="Box-row py-3">
        <h4 class="mb-md-1">Verification</h4>
        <ul class="list-style-none" style="margin-left: -10px;">
          <% view.verification_state_options.each do |state| %>
            <li>
              <% if state == view.selected_verification_state %>
                <%= link_to view.prefilled_search_path(verification: nil), class: "d-flex flex-justify-between flex-items-center filter-item py-1 mb-0 selected" do %>
                  <%= state.titlecase %>
                  <%= octicon(:x) %>
                <% end %>
              <% else %>
                <%= link_to state.titlecase, view.prefilled_search_path(verification: state), class: "filter-item py-1 mb-0" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if view.show_user_items? %>
        <div class="Box-row py-3">
          <details class="details-reset" open>
            <summary>
              <h4>Your items <%= octicon("chevron-down", class: "text-gray ml-2") %></h4>
            </summary>
            <ul class="mt-2 list-style-none" style="margin-left: -10px;">
              <% if view.viewer_has_pending_orders? %>
                <li>
                  <%= link_to "Pending orders", marketplace_pending_orders_path, class: "filter-item py-1 mb-0" %>
                </li>
              <% end %>

              <% if view.viewer_has_pending_installations? %>
                <li>
                  <%= link_to "Pending installations", marketplace_pending_installations_path, class: "filter-item py-1 mb-0" %>
                </li>
              <% end %>

              <% if view.viewer_has_purchases? %>
                <li>
                  <%= link_to "Purchases", settings_user_billing_path, class: "filter-item py-1 mb-0" %>
                </li>
              <% end %>

              <% if view.viewer_has_listings? %>
                <li>
                  <%= link_to "Listings", manage_marketplace_listings_path, class: "filter-item py-1 mb-0" %>
                </li>
              <% end %>
            </ul>
          </details>
        </div>
      <% end %>
    </div>
    <div class="Box-footer">
      <button type="button" class="btn btn-block" autofocus data-close-dialog>Close</button>
    </div>
  </details-dialog>
</details>

<nav class="d-none d-lg-block col-lg-3 float-lg-left pl-3 pl-md-0 pr-3 pr-md-5 pt-3 pt-md-2 pb-md-6">
  <h4 class="text-mono mb-3 text-normal">Types</h4>
  <ul class="list-style-none mb-4" style="margin-left: -10px;">
    <% view.tool_type_options.each do |type| %>
      <li>
        <% if type == view.selected_tool_type %>
          <%= link_to view.prefilled_search_path(type: nil), class: "d-flex flex-justify-between flex-items-center filter-item py-2 mb-0 selected" do %>
            <%= type.titlecase %>
            <%= octicon(:x) %>
          <% end %>
        <% else %>
          <%= link_to type.titlecase, view.prefilled_search_path(type: type), class: "muted-link filter-item py-2 mb-0" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <h4 class="text-mono mb-3 text-normal mt-6">Categories</h4>
  <ul class="list-style-none" style="margin-left: -10px;">
    <% view.navigation_categories.each do |category| %>
      <li>
        <% if category.has_slug?(view.selected_category_slug) %>
          <%= link_to view.prefilled_search_path(category: nil), class: "filter-item d-flex flex-justify-between flex-items-center py-2 mb-0 selected" do %>
            <%= category.name %>
            <%= octicon(:x) %>
          <% end %>
        <% else %>
          <%= link_to category.name, view.category_or_prefilled_search_path(slug: category.slug), class: "muted-link filter-item py-2 mb-0" %>
        <% end %>
      </li>

      <% if category.has_slug_or_children_has_slug?(view.selected_category_slug) %>
        <% category.sub_categories.each do |subcategory| %>
          <li class="ml-3">
            <% if subcategory.has_slug?(view.selected_category_slug) %>
              <%= link_to view.category_or_prefilled_search_path(slug: category.slug), class: "d-flex flex-justify-between flex-items-center filter-item py-1 mb-0 selected" do %>
                <%= subcategory.name %>
                <%= octicon(:x) %>
              <% end %>
            <% else %>
              <%= link_to subcategory.name, view.category_or_prefilled_search_path(slug: subcategory.slug), class: "muted-link filter-item py-1 mb-0" %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <details class="MarketplaceDetails details-reset" <%= "open" if view.selected_category_is_a_filter? %>>
    <summary>
      <h4 class="text-mono text-normal mt-6">Filters <%= octicon("chevron-down", class: "text-gray ml-2") %></h4>
    </summary>
    <ul class="list-style-none mt-3" style="margin-left: -10px;">
      <% view.filter_categories.each do |category| %>
        <li>
          <%= link_to category.name,
            marketplace_category_path(category.slug),
            class: "muted-link filter-item py-2 mb-0 #{'selected' if category.has_slug?(view.selected_category_slug)}"
          %>
        </li>
      <% end %>
    </ul>
  </details>

  <h4 class="text-mono mt-6 mb-3 text-normal">Verification</h4>
  <ul class="list-style-none mb-4" style="margin-left: -10px;">
    <% view.verification_state_options.each do |state| %>
      <li>
        <% if state == view.selected_verification_state %>
          <%= link_to view.prefilled_search_path(verification: nil), class: "d-flex flex-justify-between flex-items-center filter-item py-2 mb-0 selected" do %>
            <%= state.titlecase %>
            <%= octicon(:x) %>
          <% end %>
        <% else %>
          <%= link_to state.titlecase, view.prefilled_search_path(verification: state), class: "muted-link filter-item py-2 mb-0" %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if view.show_user_items? %>
    <details class="MarketplaceDetails details-reset" open>
      <summary>
        <h4 class="text-mono text-normal mt-6">Your items <%= octicon("chevron-down", class: "text-gray ml-2") %></h4>
      </summary>
      <ul class="list-style-none mt-3" style="margin-left: -10px;">
        <% if view.viewer_has_pending_orders? %>
          <li>
            <%= link_to "Pending orders", marketplace_pending_orders_path, class: "muted-link filter-item py-2 mb-0 #{'selected' if view.viewing_pending_orders?}" %>
          </li>
        <% end %>

        <% if view.viewer_has_pending_installations? %>
          <li>
            <%= link_to "Pending installations", marketplace_pending_installations_path, class: "muted-link filter-item py-2 mb-0 #{'selected' if view.viewing_pending_installations?}" %>
          </li>
        <% end %>

        <% if view.viewer_has_purchases? %>
          <li>
            <%= link_to "Purchases", settings_user_billing_path, class: "muted-link filter-item py-2 mb-0" %>
          </li>
        <% end %>

        <% if view.viewer_has_listings? %>
          <li>
            <%= link_to "Listings", manage_marketplace_listings_path, class: "muted-link filter-item py-2 mb-0" %>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
</nav>
