<div class="container-lg p-responsive mt-4">
  <div class="box-shadow-extra-large rounded-1 bg-white d-md-flex flex-items-center p-6 mb-6 position-relative">
    <div class="d-md-flex text-center text-md-left pr-md-6 col-md-6">
      <div class="mb-3 mb-md-0"><img src="<%= image_path "modules/marketplace/icon-marketplace.svg" %>" alt=""></div>
      <h2 class="h2-mktg mb-3 mb-md-0 ml-md-4 text-normal lh-condensed">List your tool on GitHub&nbsp;Marketplace</h2>
    </div>
    <div class="d-md-flex clearfix text-center text-md-left pl-md-6">
      <div class="col-sm-6 pr-sm-3 mb-3 mb-sm-0 float-sm-left">
        <dl class="mt-1 mb-0">
          <dt><a href="<%= GitHub.developer_help_url %>/marketplace" class="lh-condensed d-block mb-1">Read the documentation</a></dt>
          <dd class="text-gray-light text-small">Learn how you can build tools to extend and improve developers' workflows.</dd>
        </dl>
      </div>
      <div class="col-sm-6 pl-sm-3 float-sm-left">
        <dl class="mt-1 mb-0">
          <dt><a href="<%= new_marketplace_listing_path %>" class="lh-condensed d-block mb-1">Submit your tool for review</a></dt>
          <dd class="text-gray-light text-small">Share your app or GitHub Action with millions of developers.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
