<div class="border-top">
  <% view.all_app_managers.each do |user| %>
    <div class="d-flex flex-items-center flex-justify-between py-3 border-bottom">
      <div class="d-flex flex-items-center">
        <%= avatar_for(user, 48, class: "avatar") %>
        <div class="ml-2">
          <%= profile_link user, url: org_person_path(view.organization, user), class: "f4 d-block" %>
          <span class="text-gray-dark"><%= user.login %></span>
        </div>
      </div>
      <div>
        <%= form_tag settings_org_permissions_manage_integrations_revoke_path(view.organization), method: :delete do %>
          <%= hidden_field_tag "user_login", user.login %>
          <button class="btn-link text-red" type="submit" aria-label="Revoke permission to manage this App">
            Revoke
          </button>
        <% end %>
      </div>
    </div>
  <% end %>

  <% view.organization_owners.each do |user| %>
    <div class="d-flex flex-items-center flex-justify-between py-3 border-bottom">
      <div class="d-flex flex-items-center">
        <%= avatar_for(user, 48, class: "avatar") %>
        <div class="ml-2">
          <%= profile_link user, url: org_person_path(view.organization, user), class: "f4 d-block" %>
          <span class="text-gray-dark"><%= user.login %></span>
        </div>
      </div>
      <div>
        Organization owner
      </div>
    </div>
  <% end %>
</div>

<%=
  render_partial_view(
    "orgs/permissions/integrations/grant_permission",
    Settings::Organization::ManageIntegrationsView,
    organization: view.organization
  )
%>
