<%# erblint:disable LandmarkHasLabel %>
<div class="col-3 float-left" role="navigation">
  <nav class="menu">
    <%= link_to biztools_path, :class => "menu-heading" do %>
      <%= octicon("briefcase") %>
      Biztools
    <% end %>

    <% unless enterprise? %>
      <%= selected_link_to "Coupons", biztools_coupons_path, :highlight => :admin_coupons, :class => "menu-item" %>
      <%= selected_link_to "Accounting", biztools_accounting_path, :class => "menu-item" %>
      <%= selected_link_to "Showcases", biztools_showcase_collections_path, :highlight => :showcase_biztools, :class => "menu-item" %>
      <%= selected_link_to "Repository Topics", biztools_topics_path, highlight: :topics, class: "menu-item" %>
      <% if GitHub.actions_enabled? %>
        <%= selected_link_to "Repository Actions", biztools_repository_actions_path, highlight: :actions, class: "menu-item" %>
      <% end %>
      <%= selected_link_to "Explore Collections", biztools_collections_path, highlight: :collections, class: "menu-item" %>

      <%= selected_link_to "Users", biztools_users_path, :highlight => :users, :class => "menu-item" %>
      <% if marketplace_enabled? %>
        <%= selected_link_to "Marketplace Listings", biztools_marketplace_path, :highlight => :marketplace_listings, :class => "menu-item" %>
        <%= selected_link_to "Marketplace Agreements", biztools_marketplace_agreements_path, :highlight => :marketplace_agreements, :class => "menu-item" %>
        <%= selected_link_to "Marketplace Categories", biztools_marketplace_categories_path, :highlight => :marketplace_categories, :class => "menu-item" %>
        <%= selected_link_to "Marketplace Stories", biztools_marketplace_stories_path, :highlight => :marketplace_stories, :class => "menu-item" %>
        <%= selected_link_to "Marketplace Recommendations", biztools_marketplace_recommendations_path, :highlight => :marketplace_recommendations, :class => "menu-item" %>
        <%= selected_link_to "Works with GitHub", biztools_works_with_github_path, :highlight => :works_with_github_listings, :class => "menu-item" %>
        <%= selected_link_to "Works with GitHub Categories", biztools_works_with_github_categories_path, :highlight => :works_with_github_categories, :class => "menu-item" %>
      <% end %>
    <% end %>
  </nav>
</div>
