<% collaboration_label = "Collaborators" %>
<% show_interaction_limit_nav = GitHub.interaction_limits_enabled? && !current_repository.private? %>
<% show_tiered_reporting_nav = current_repository.can_access_tiered_reporting?(current_user) %>

<div data-pjax>
  <nav class="menu" aria-label="Repository settings">
    <%= selected_link_to "Options", edit_repository_path(current_repository), :class => "menu-item" %>

    <% if GitHub.flipper[:repo_access_management].enabled?(current_repository.owner) || GitHub.flipper[:repo_access_management].enabled?(current_user) %>
      <%= selected_link_to "Manage access", repository_access_management_path, class: "menu-item", :highlight => :role_details %>
    <% else %>
      <% repo_collab_label = current_repository.in_organization? ? "Collaborators & teams" : "Collaborators" %>
      <%= selected_link_to repo_collab_label, repository_access_management_path, class: "menu-item" %>
    <% end %>

    <% unless GitHub.enterprise? %>
      <%= selected_link_to "Security & analysis", repository_security_and_analysis_path, class: "menu-item" %>
    <% end %>

    <% if current_repository.heads.any? %>
      <%= selected_link_to "Branches", edit_repository_branches_path, :class => "menu-item", :highlight => :repo_branch_settings %>
    <% end %>

    <%= selected_link_to "#{GitHub.enterprise? ? 'Hooks' : 'Webhooks'}", hooks_path(current_repository), :highlight => :hooks, :class => "menu-item" %>
    <%= selected_link_to "Notifications", repository_notification_settings_path(current_repository.owner, current_repository), :highlight => :notifications, :class => "menu-item" %>
    <%= selected_link_to "Integrations", repository_installations_path(current_repository.owner, current_repository), :highlight => :integration_installations, :class => "menu-item" %>

    <%= selected_link_to "Deploy keys", repository_keys_path, :class => "menu-item", :highlight => :repo_keys_settings %>

    <% if GitHub.custom_tabs_enabled? %>
      <%= selected_link_to "Custom tabs", repository_tabs_path, :class => "menu-item" %>
    <% end %>

    <% if current_repository.plan_supports?(:custom_key_links) %>
      <%= selected_link_to "Autolink references", key_links_path, :class => "menu-item", :highlight => :key_links_settings %>
    <% end %>

    <% if GitHub.actions_enabled? %>
      <%= selected_link_to "Secrets", repository_secrets_path, :class => "menu-item", highlight: :secrets_settings %>

      <%= selected_link_to "Actions", repository_actions_settings_path, :class => "menu-item", highlight: :repo_actions_settings %>
    <% end %>
  </nav>

  <% if current_repository.unsupported_pages? %>
    <nav aria-label="GitHub Pages settings" class="menu">
      <%= selected_link_to repository_page_path, :class => "menu-item text-red", :highlight => :unpublish_page_settings do %>
        Unpublish GitHub Pages <%= octicon("alert", class: "text-red ml-2") %>
      <% end %>
    </nav>
  <% end %>


  <% if show_interaction_limit_nav || show_tiered_reporting_nav %>
    <nav class="menu" aria-label="Repository moderation settings" data-pjax>
      <h3 class="menu-heading">
        Moderation
      </h3>
      <% if show_interaction_limit_nav %>
        <%= selected_link_to repository_interaction_limits_path(current_repository.owner, current_repository), highlight: :interaction_limits, class: "menu-item" do %>
          Interaction limits
          <% if RepositoryInteractionAbility.has_active_limits?(:repository, current_repository) %>
            <%= octicon "clock", class: "text-green" %>
          <% end %>
        <% end %>
      <% end %>

      <% if show_tiered_reporting_nav %>
        <%= selected_link_to reported_content_path(current_repository.owner, current_repository), highlight: :reported_content, class: "menu-item" do %>
          Reported content
        <% end %>
      <% end %>
    </nav>
  <% end %>
</div>
