<nav class="<% if responsive? %>UnderlineNav box-shadow-none px-3 px-lg-0 <% else %>reponav js-repo-nav js-sidenav-container-pjax<% end %>"
     aria-label="Gist"
     data-pjax="#gist-pjax-container">

  <% if responsive? %><div class="UnderlineNav-body"><% end %>
    <%= selected_link_to user_gist_path(view.user_param, view.gist),
            :highlight => view.highlights_for_code,
            :class => class_names(
               "reponav-item" => !responsive?,
               "UnderlineNav-item" => responsive?
            ),
            "data-pjax" => true,
            "data-hotkey" => "g c" do %>
      <%= octicon("code", class: 'UnderlineNav-octicon') %>
      Code
    <% end %>

    <% if view.show_revisions? %>
      <%= selected_link_to revisions_user_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_revisions,
              :class => class_names(
                 "reponav-item" => !responsive?,
                 "UnderlineNav-item" => responsive?
              ),
              "data-pjax" => true,
              "data-hotkey" => "g r" do %>
        <%= octicon("git-commit") %>
        Revisions
        <%= render Primer::CounterComponent.new(count: view.revisions_count) %>
      <% end %>
    <% end %>

    <% if view.show_stars? %>
      <%= selected_link_to stargazers_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_stars,
              :class => class_names(
                 "reponav-item" => !responsive?,
                 "UnderlineNav-item" => responsive?
              ),
              "data-pjax" => true,
              "data-hotkey" => "g s" do %>
        <%= octicon("star") %>
        Stars
        <%= render Primer::CounterComponent.new(count: view.stargazer_count(current_user, true)) %>
      <% end %>
    <% end %>

    <% if view.show_forks? %>
      <%= selected_link_to forks_user_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_forks,
              :class => class_names(
                 "reponav-item" => !responsive?,
                 "UnderlineNav-item" => responsive?
              ),
              "data-pjax" => true,
              "data-hotkey" => "g f" do %>
        <%= octicon("git-branch") %>
        Forks
        <%= render Primer::CounterComponent.new(count: view.fork_count) %>
      <% end %>
    <% end %>
  <% if responsive? %></div><% end %>
</nav>
