<div class="subnav">
  <% if current_user_can_push? && current_repository_writable? %>
    <a href="<%= new_milestone_path(current_repository.owner, current_repository) %>" class="btn btn-primary float-right">New milestone</a>
  <% end %>
  <%= render :partial => "issues/navigation" %>
</div>
