<div class="col-3 float-left pr-4">
  <nav class="menu" aria-label="OAuth App settings" data-pjax>
    <%= selected_link_to "General", oauth_application_path(current_application), :highlight => [:oauth_app], :class => "menu-item" %>
    <%= selected_link_to "Beta features", settings_oauth_application_beta_features_path(current_application), :highlight => [:oauth_app_beta], :class => "menu-item" %>
    <%= selected_link_to "Advanced", settings_oauth_application_advanced_path(current_application), :highlight => [:oauth_app_advanced], :class => "menu-item" %>
  </nav>
</div>
