<div class="table-list-filters d-flex">
  <div class="table-list-header-toggle states flex-justify-start pl-3">
    <%= selected_link_to octicon("repo") + " Repositories", settings_user_repositories_path, class: "btn-link" %>
    <%= selected_link_to octicon("trashcan") + " Deleted repositories", settings_user_deleted_repositories_path, class: "btn-link" %>
  </div>
</div>
