<%# view is an instance of Settings::NavigationView %>

<div class="col-3 float-left pr-4">
  <nav class="menu position-relative" aria-label="Personal settings" data-pjax>
    <%= render partial: "navigation/settings_context_dropdown", locals: {
      title: "Personal settings",
      current_context: current_user
    } %>

    <%= selected_link_to "Profile", settings_user_profile_path, class: "menu-item", highlight: :avatar_settings %>
    <%= selected_link_to "Account", settings_user_admin_path, class: "menu-item" %>
    <%= selected_link_to security_and_privacy_section_title, settings_user_security_path, class: "menu-item" %>
    <%= selected_link_to "Security log", settings_user_audit_log_path, class: "menu-item", highlight: :audit_log %>
    
    <% unless GitHub.enterprise? %>
      <%= selected_link_to "Security & analysis", settings_user_security_analysis_path, class: "menu-item" %>
    <% end %>

    <%= selected_link_to settings_user_emails_path, class: "menu-item" do %>
      Emails
      <% if view.should_verify_email? %>
        <%= octicon("alert", class: "menu-warning", title: "You have not verified any email addresses") %>
      <% end %>
    <% end %>

    <%= selected_link_to "Notifications", settings_user_notifications_path, class: "menu-item" %>

    <% if view.should_show_scheduled_reminders? %>
      <%= selected_link_to "Scheduled reminders", personal_reminders_path, class: "menu-item", highlight: :reminders %>
    <% end %>

    <% if GitHub.billing_enabled? %>
      <%= selected_link_to "Billing", settings_user_billing_path, class: "menu-item", highlight: :user_billing_settings %>
    <% end %>

    <%= selected_link_to "SSH and GPG keys", settings_user_keys_path, class: "menu-item", highlight: :ssh_certificate_authorities %>

    <% if GitHub.user_abuse_mitigation_enabled? %>
      <%= selected_link_to "Blocked users", settings_user_blocks_path, class: "menu-item" %>
    <% end %>

    <%= selected_link_to "Repositories", settings_user_repositories_path, class: "menu-item", highlight: [:deleted_repositories] %>
    <%= selected_link_to "Organizations", settings_user_organizations_path, class: "menu-item" %>

    <% if view.enterprise_member? %>
      <%= selected_link_to "Enterprises", settings_user_enterprises_path, class: "menu-item" %>
    <% end %>

    <%= selected_link_to "Saved replies", saved_replies_path, class: "menu-item", highlight: :edit_saved_reply %>

    <%= selected_link_to "Applications", gh_settings_installations_path(current_user), class: "menu-item", highlight: [:applications_settings] %>

    <% if (GitHub::Connect.unified_contributions_enabled? || GitHub::Connect.unified_private_search_enabled?) && !GitHub.fedramp_private_instance? %>
      <%= selected_link_to "GitHub Connect", settings_dotcom_user_path, class: "menu-item", highlight: :dotcom_user %>
    <% end %>
  </nav>

  <nav class="menu" aria-label="Developer settings">
    <%= link_to gh_settings_apps_path(current_user), class: "menu-item" do %>
      Developer settings
    <% end %>
  </nav>
</div>
