<%# erblint:disable LandmarkHasLabel %>
<%# erblint:counter TooltipCounter 7 %>
<%# rubocop:disable Lint/InstanceVariable %>

<div class="col-1 mt-3">
  <ul class="site-admin-menu-group" role="navigation">
    <li class="tooltipped tooltipped-w" aria-label="User info">
      <%= selected_link_to [:stafftools, @user],
              :highlight => :account_info,
              :class => "site-admin-menu-item" do %>
        <%= octicon('info') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="Billing">
      <%= selected_link_to [:billing, :admin, @user],
              :highlight => :billing,
              :class => "site-admin-menu-item" do %>
        <%= octicon('credit-card') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="Security">
      <%= selected_link_to [:security, :admin, @user],
              :highlight => :security,
              :class => "site-admin-menu-item" do %>
        <%= octicon('lock') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="Repositories">
      <%= selected_link_to [:repositories, :stafftools, @user],
              :highlight => :repositories,
              :class => "site-admin-menu-item" do %>
        <%= octicon('repo') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="Organizations">
      <%= selected_link_to [:stafftools, @user, :organization_memberships],
              :highlight => :organizations,
              :class => "site-admin-menu-item" do %>
        <%= octicon('organization') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="Collaboration">
      <%= selected_link_to [:collab_repos, :stafftools, @user],
              :highlight => :collaboration,
              :class => "site-admin-menu-item" do %>
        <%= octicon('comment') %>
      <% end %>
    </li>
    <li class="tooltipped tooltipped-w" aria-label="OAuth">
      <%= selected_link_to [:stafftools, @user, :applications],
              :highlight => :oauth,
              :class => "site-admin-menu-item" do %>
        <%= octicon('link') %>
      <% end %>
    </li>
  </ul>
</div>
