<%# erblint:disable LandmarkHasLabel %>
<div class="col-3 float-left" role="navigation" data-pjax>
  <nav class="menu">
    <% if header %>
      <%= link_to stafftools_path, class: "menu-heading" do %>
        <%= octicon("rocket") %>
        Site admin
      <% end %>
    <% end %>

    <%= stafftools_selected_link_to "Search", stafftools_path, class: "menu-item" %>
    <% if display_management_console_link? %>
      <%= stafftools_selected_link_to 'Management console', '/setup', class: "menu-item" %>
    <% end %>
      <%= stafftools_selected_link_to 'Audit log', stafftools_audit_log_path, class: "menu-item" %>
      <%= stafftools_selected_link_to 'Explore', stafftools_explore_path, highlight: :explore_stafftools, class: "menu-item" %>
    <% if GitHub.reports_enabled? %>
      <%= stafftools_selected_link_to 'Reports', stafftools_reports_path, class: "menu-item" %>
    <% end %>
    <% unless GitHub.private_instance? %>
      <%= stafftools_selected_link_to 'Indexing', stafftools_search_indexes_path, highlight: :indexing, class: "menu-item" %>
    <% end %>
    <% if GitHub.billing_enabled? %>
      <%= stafftools_selected_link_to "Site admins", site_admins_stafftools_users_path, class: "menu-item" %>
      <%= stafftools_selected_link_to "Large file storage", stafftools_large_file_storage_path, class: "menu-item", highlight: :lfs_stafftools %>
    <% end %>
    <% if !GitHub.enterprise? && current_user_feature_enabled?(:automatic_app_installs) %>
      <%= selected_link_to "Automatic App Installs", stafftools_integration_installation_triggers_path, class: "menu-item", highlight: :triggered_applications %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= selected_link_to "Internal Apps", stafftools_internal_apps_path, class: "menu-item", highlight: :internal_apps %>
    <% end %>
    <% unless GitHub.enterprise? %>
     <%= stafftools_selected_link_to "Enterprise Server installations", stafftools_enterprise_installations_path, class: "menu-item", highlight: :enterprise_installations %>
    <% end %>
    <% unless GitHub.private_instance? %>
      <%= stafftools_selected_link_to "Repository networks", stafftools_networks_path, class: "menu-item" %>
    <% end %>
    <% unless GitHub.single_instance? %>
      <%= stafftools_selected_link_to 'Git fileserver health', stafftools_fileservers_path, class: "menu-item" %>
    <% end %>
    <% if GitHub.storage_cluster_enabled? -%>
      <%= stafftools_selected_link_to "File storage", stafftools_storage_path, class: "menu-item" %>
    <% end -%>
    <%= selected_link_to 'Reserved logins', stafftools_reserved_logins_path, :class => "menu-item", :highlight => :reserved_logins %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Banned IPs', stafftools_banned_ip_addresses_path, class: "menu-item", highlight: :banned_ips %>
      <%= stafftools_selected_link_to 'Dependency Graph', stafftools_dependency_graph_path, class: "menu-item", highlight: :dependency_graph %>
    <% end %>
    <% if GitHub.writable_vulnerabilities_enabled? || GitHub.ghe_content_analysis_enabled? %>
      <%= stafftools_selected_link_to 'Vulnerabilities', stafftools_vulnerabilities_path, class: "menu-item", highlight: :vulnerabilities %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Pending Vulnerabilities', stafftools_pending_vulnerabilities_path, class: "menu-item", highlight: :pending_vulnerabilities %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to "Billing Webhooks", stafftools_zuora_webhooks_path, class: "menu-item", highlight: "/stafftools/stripe_webhooks" %>
    <% end %>
    <% unless GitHub.single_business_environment? %>
      <%= stafftools_selected_link_to "Enterprise accounts", stafftools_enterprises_path, class: "menu-item", highlight: :businesses %>
    <% end %>
    <% if GitHub.billing_enabled? && bundled_license_assignments_enabled?(current_user) %>
      <%= stafftools_selected_link_to "Bundled license assignments", stafftools_orphaned_bundled_license_assignments_path, class: "menu-item", highlight: :orphaned_bundled_license_assignments %>
    <% end %>
    <% if GitHub.eventer_enabled? %>
        <%= stafftools_selected_link_to "Org Insights", stafftools_org_insights_path, class: "menu-item", highlight: :org_insights %>
    <% end %>
    <% if GitHub.billing_enabled? %>
      <%= stafftools_selected_link_to "Azure Metered Billing Extracts", stafftools_azure_metered_billing_extracts_path, class: "menu-item", highlight: :azure_metered_billing %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Bulk ticketer', stafftools_bulk_ticketer_path, class: "menu-item", highlight: :bulk_ticketer %>
      <%= stafftools_selected_link_to "Bulk DMCA Takedown", stafftools_bulk_dmca_takedown_index_path, class: "menu-item", highlight: :bulk_dmca_takedown %>
    <% end %>
  </nav>

  <% if GitHub.single_business_environment? %>
    <nav class="menu">
      <%= stafftools_selected_link_to "Enterprise overview", global_enterprise_path, class: "menu-item", :"data-skip-pjax" => true %>
      <%= stafftools_selected_link_to 'Repositories', stafftools_repositories_path, class: "menu-item" %>
    </nav>
  <% end %>

  <% if GitHub.sponsors_enabled? %>
    <nav class="menu">
      <div class="menu-heading">
        <%= octicon("heart-outline") %>
        GitHub Sponsors
      </div>
      <%= stafftools_selected_link_to "Waitlist", stafftools_sponsors_waitlist_path, class: "menu-item", highlight: :sponsors_waitlist, "data-skip-pjax": true %>
      <%= stafftools_selected_link_to "Members", stafftools_sponsors_members_path, class: "menu-item", highlight: :sponsors_members, "data-skip-pjax": true %>
      <%= stafftools_selected_link_to "Fraud Reviews", stafftools_sponsors_fraud_reviews_path, class: "menu-item", highlight: :sponsors_fraud_reviews, "data-skip-pjax": true %>
    </nav>
  <% end %>

  <% unless GitHub.enterprise? %>
    <nav class="menu">
      <div class="menu-heading">
        <%= octicon("beaker") %>
        Early access programs
      </div>
      <%= stafftools_selected_link_to 'Scheduled reminders beta', stafftools_reminders_beta_signup_path, class: "menu-item", highlight: :reminders_beta_signup %>
      <%= stafftools_selected_link_to 'Okta team synchronization beta', stafftools_okta_team_sync_beta_signup_path, :class => "menu-item", :highlight => :okta_team_sync_beta_signup %>
      <%= stafftools_selected_link_to 'Advanced security beta', stafftools_code_scanning_beta_signup_path, class: "menu-item", highlight: :code_scanning_beta_signup %>
      <%= stafftools_selected_link_to 'Codespaces beta', stafftools_codespaces_beta_signup_path, class: "menu-item", highlight: :workspaces_beta_signup %>
    </nav>
    <nav class="menu">
      <a href="https://devtools.githubapp.com" class="menu-heading">
        <%= octicon("code") %>
        Developer tools
      </a>
      <a href="<%= devtools_feature_flags_path %>" class="menu-item">
        Features
      </a>
      <a href="<%= devtools_surveys_path %>" class="menu-item">
        Surveys
      </a>
      <a href="https://devtools.githubapp.com/experiments" class="menu-item">
        Code Experiments
      </a>
      <a href="https://devtools.githubapp.com/newsletters" class="menu-item">
        Newsletters
      </a>
      <a href="https://devtools.githubapp.com/marketplace" class="menu-item">
        GitHub Apps Directory
      </a>
      <a href="https://devtools.githubapp.com/toggleable-features" class="menu-item">
        Toggleable Features
      </a>
      <%= stafftools_selected_link_to "Stream Processors", stafftools_stream_processors_path, class: "menu-item" %>
    </nav>
    <nav class="menu">
      <%= link_to biztools_path, class: "menu-heading" do %>
        <%= octicon("briefcase") %>
        Biztools
      <% end %>
    </nav>
  <% end %>

  <% unless GitHub.billing_enabled? %>
    <nav class="menu">
      <% if GitHub.user_invites_enabled? %>
        <%= stafftools_selected_link_to "Invite user", invite_stafftools_users_path, class: "menu-item" %>
      <% end %>
      <% if GitHub.auth.ldap? %>
        <%= stafftools_selected_link_to "LDAP users", ldap_stafftools_users_path, class: "menu-item" %>
      <% end %>
        <%= stafftools_selected_link_to 'All users', stafftools_users_path, class: "menu-item" %>
        <%= stafftools_selected_link_to "Site admins", site_admins_stafftools_users_path, class: "menu-item" %>
      <% if GitHub.bulk_dormant_user_suspension_enabled? %>
        <%= stafftools_selected_link_to 'Dormant users', dormant_stafftools_users_path, class: "menu-item" %>
        <%= stafftools_selected_link_to 'Suspended users', suspended_stafftools_users_path, class: "menu-item" %>
      <% end %>
    </nav>
  <% end %>
</div>
