<%
  # This partial renders the fields for our payment forms. It requires:
  #
  # owner - The User/Organization whose account we're updating.
  # form  - A Rails FormBuilder to use as context for this form.

  view = BillingSettings::PaymentMethodFieldsView.new(owner, form)
  condensed_view ||= false
  zuora_hpp_container_params = {
    user_id: current_user.id,
    signature_path: signup_signature_path,
    container_class: "js-zuora-payment-page",
    ignore_default_classes: true,
    hydro_payload: {
      account_id: owner.id,
    },
  }
  if owner.organization? && owner.persisted?
    zuora_hpp_container_params[:organization_id] = owner.login
  end

  SecureHeaders.append_content_security_policy_directives(
    request,
    img_src: [GitHub.paypal_checkout_url],
    connect_src: [GitHub.braintreegateway_url, GitHub.braintree_analytics_url],
    frame_src: [GitHub.zuora_payment_page_server]
  )

  storing_payment_info_only ||= false
%>

<div
  class="payment-methods js-payment-methods <%= "has-paypal-account" if owner.has_paypal_account? %> <%= "condensed-payment-methods" if condensed_view %>"
>
  <div class="js-selected-payment-method selected-payment-method pay-by-credit-card <%= "active" unless owner.has_paypal_account? %>">
    <div class="d-flex flex-md-items-center flex-md-row flex-column flex-justify-between border-md-bottom pb-3 pb-md-0">
      <div class="border-bottom border-md-bottom-0 pb-2">
        <%= signup_h2 "Payment Details", class: "flex-auto" %>
      </div>
      <span
        class="btn-link js-payment-method-href pt-2 pt-md-0"
        for="pay-by-credit-card-<%= owner.login %>"
        data-selected-tab="pay-with-paypal"
        data-ga-click="<%= ga_label_with_analytics_tracking_id("Signup funnel team payment,click,text:Pay with PayPal;") %>"
        <%= test_selector("signup-billing-pay-with-paypal") %>
      >
        Pay with PayPal
      </span>
    </div>

    <%= render partial: "payment_method/name_fields" %>

    <!-- billing email -->
    <% email_error = organization.try(:errors) && organization.errors[:billing_email] %>
    <% billing_hint = [] %>
    <% if GitHub.billing_enabled? %>
      <% billing_hint += ["We’ll send receipts to this inbox."] %>
    <% end %>
    <% if coupon && coupon.dreamforce_2017_coupon? %>
      <% billing_hint += [tag(:br)] %>
      <% billing_hint += ["By redeeming this coupon, you are opting in to email communications from GitHub. You can always unsubscribe. Check out our "] %>
      <% billing_hint += [link_to("privacy statement", "#{GitHub.help_url}/articles/github-privacy-statement/#how-we-communicate-with-you"), "."] %>
    <% end %>

    <auto-check src="<%= organization_check_billing_email_path %>" <%= test_selector("signup-billing-email") %> required>
      <%=
        f.text_group "#{org_contact_email_label} email", :billing_email,
          hint: (safe_join(billing_hint)),
          error: email_error.any? && "#{org_contact_email_label} email " + email_error.first,
          disabled: org_transform?,
          class: "form-control py-1 width-full",
          required: true,
          data: { ga_click: ga_label_with_analytics_tracking_id("Signup funnel team payment,form input,text:Billing email;") }
      %>
      <%= csrf_hidden_input_for organization_check_billing_email_path %>
    </auto-check>

    <% if show_currency? && !storing_payment_info_only %>
      <p class="mt-7">
        Charges to your account will be made in US Dollars. Converted prices are
        provided as a convenience and are only an estimate based on current exchange
        rates. Local prices will change as the exchange rate fluctuates.
      </p>
    <% end %>

    <% if storing_payment_info_only %>
      <div class="border-bottom pb-2 mt-6">
        <%= signup_h2 "Credit card info" %>
      </div>
      <p class="mt-2 text-gray">
        Your credit card will only be charged if you choose to upgrade to GitHub Enterprise at the end of your free trial period.
      </p>
    <% end %>

    <div class="js-zuora-spinner d-flex flex-items-center my-4">
      <%= image_tag "spinners/octocat-spinner-32.gif", class: "mr-2", size: "16x16", alt: "", valign: "top" %>
      Loading payment information…
    </div>

    <%= render partial: "payment_method/zuora_hpp_container", locals: zuora_hpp_container_params %>
    <%= render layout: "payment_method/zuora_billing_info", locals: {
      container_class: "mt-3 border rounded-1 px-3 py-2 mb-3 d-none",
      send_ga_event: true,
      ga_category: "Signup funnel team payment",
      ga_action: "click",
      ga_label: ga_label_with_analytics_tracking_id("text:Submit payment;")
    } do %>
      <p class="d-flex flex-justify-between mb-0">
        <span class="">
          <%= octicon("credit-card", class: "text-gray-light") %>
          <strong class="js-new-card-type"></strong> ending
          <span class="js-new-card-number"></span>
        </span>
        <button class="btn-link f6 js-edit-card-details" type="button">Edit</button>
      </p>
    <% end %>
  </div>

  <div class="js-selected-payment-method selected-payment-method pay-with-paypal <%= "active" if owner.has_paypal_account? %>">
    <div class="d-flex flex-md-items-center flex-md-row flex-column flex-justify-between border-md-bottom pb-3 pb-md-0">
      <div class="border-bottom border-md-bottom-0 pb-2">
        <%= signup_h2 "Payment Details", class: "flex-auto" %>
      </div>
      <span
        class="btn-link js-payment-method-href pt-2 pt-md-0"
        for="pay-by-credit-card-<%= owner.login %>"
        data-selected-tab="pay-by-credit-card"
        data-ga-click="<%= ga_label_with_analytics_tracking_id("Signup funnel team payment,click,text:Pay with Credit Card;") %>"
        <%= test_selector("signup-billing-pay-with-credit-card") %>
      >
        Pay with Credit card
      </span>
    </div>

    <% if show_currency? %>
      <p class="mt-7">
      Charges to your account will be made in US Dollars. Converted prices are
      provided as a convenience and are only an estimate based on current exchange
      rates. Local prices will change as the exchange rate fluctuates.
      </p>
    <% end %>
    <%= render :partial => "payment_method/paypal_fields", :locals => { :view => view, :condensed_view => condensed_view } %>
  </div>
</div>
