<% read_only ||= false %>

<div class="mx-4 mx-md-0 d-flex flex-column clearfix currency-container js-details-container text-gray-dark mb-9">
  <!-- First row: heading and duration toggle -->
  <div class="d-flex flex-md-row flex-column flex-justify-between border-md-bottom pb-3 mb-3">
    <div class="border-bottom border-md-bottom-0 pb-2 pb-md-0">
      <%= signup_h2 "#{view.current_plan_duration_adjective.titleize} Subscription" %>
    </div>

    <% unless read_only %>
      <a
        class="text-small js-org-signup-duration-change pt-2 pt-md-0"
        data-plan-duration="<%= view.available_plan_duration %>"
        href="<%= org_signup_billing_path({
          plan: view.plan,
          coupon: view.coupon,
          plan_duration: view.available_plan_duration,
          organization: {login: view.organization.login,
                        company_name: view.organization.company_name,
                        profile_name: view.organization.profile_name }
        }) %>"
        data-url="<%= model_org_seats_path(coupon: view.coupon, new_plan: GitHub::Plan.business_plus.to_s) %>"
        data-ga-click="<%= ga_label_with_analytics_tracking_id("Signup funnel team payment,click,text:Pay #{view.available_plan_duration_adjective};") %>"
        <%= test_selector("signup-billing-pay-duration-toggle") %>
        >Pay <span class="unstyled-available-plan-duration-adjective"><%= view.available_plan_duration_adjective %></span>
      </a>
    <% end %>

  </div>

  <!-- Second row: plan and number of users -->
  <div class="d-flex flex-justify-between flex-md-row flex-column">
    <!-- plan -->
    <div class="pb-4 col-12 col-md-8 <% unless read_only %>pr-md-4<% end %>">
      <div class="text-gray border-bottom pb-1 mb-1 text-small">PLAN</div>
      <div class="f4">
        <%= short_plan_name(view.plan) %>
      </div>
    </div>

    <!-- users -->
    <div class="col-12 col-md-4 pb-4 js-plan-info js-business-plan-info js-enterprise-cloud-plan-info">
      <div class="text-gray pb-1 mb-1 text-small <% if read_only %>border-bottom<% end %>">NUMBER OF USERS</div>
      <div class="f4">
        <% if read_only %>
          <span class="unstyled-delta-seats"><%= view.per_seat_pricing_model.seats %></span>
        <% else %>
          <input type="text"
                class="form-control py-1 js-seat-field col-12 col-md-6 input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
                name="organization[seats]"
                min="<%= view.per_seat_pricing_model.base_seats %>"
                value="<%= view.per_seat_pricing_model.seats %>"
                data-url="<%=  model_org_seats_path(
                    plan_duration: view.current_plan_duration,
                    coupon: view.coupon,
                    new_plan: view.plan
                )%>"
                data-item-name="seats"
                data-item-minimum="<%= view.per_seat_pricing_model.base_seats %>"
                aria-label="seats"
                data-ga-click="<%= ga_label_with_analytics_tracking_id("Signup funnel team payment,form input,text:Number of users;") %>"
                <%= test_selector("signup-billing-number-of-users") %>
          >
        <% end %>
      </div>
    </div>
  </div>

  <!-- Third row: price / duration and subtotal -->
  <div class="d-flex width-full flex-justify-between js-plan-info js-free-plan-info js-business-plan-info js-enterprise-cloud-plan-info js-enterprise-cloud-trial-plan-info">
    <!-- price breakdown -->
    <div class="col-8">
      <div class="text-gray border-bottom pb-1 mb-1 text-small">PRICE / <%= view.current_plan_duration.upcase %></div>
      <div class="f4">
        <div class="f5 py-2">
          <%= price_with_localization(view.per_seat_pricing_model.unit_price) %> per user x
            <span class="unstyled-delta-seats lh-condensed">
            <%= view.per_seat_pricing_model.seats %>
          </span>
        </div>
      </div>
    </div>
    <!-- subtotal -->
    <div class="pb-4 col-4">
      <div class="text-gray border-bottom pb-1 mb-1 text-small">
       TOTAL
      </div>
      <div class="f5 py-2">
        <span class="unstyled-final-price text-bold">
          <%= price_with_localization(view.per_seat_pricing_model.final_price) %>
        </span>
      </div>
    </div>
  </div>
</div>
