<% locals = ensure_local_vars(local_assigns, {
  required: [:free_pricing_model, :business_pricing_model, :business_plus_pricing_model],
  optional: [],
  defaults: {}
}) %>

<div>
  <div class="d-flex flex-md-row flex-column flex-md-items-start flex-justify-center flex-items-center mb-12">
    <%= render partial: "organizations/signup/free_plan", locals: {
      pricing_model: locals[:free_pricing_model]
    } %>

    <%= render partial: "organizations/signup/team_plan", locals: {
      pricing_model: locals[:business_pricing_model],
    } %>
    <%= render partial: "organizations/signup/enterprise_cloud_plan", locals: {
      pricing_model: locals[:business_plus_pricing_model],
      selection_text: "Start Enterprise trial",
      plan_description: "Security, compliance, and flexible deployment for enterprises",
      is_last_item: true
    } %>
  </div>
</div>
