<div class="flash-messages">
  <div class="flash flash-error">
    <button type="button" class="flash-close js-flash-close">
      <%= octicon('x') %>
    </button>
    You need to purchase additional seats to invite more people.
  </div>
</div>
