<%
  page_info container_xl: true
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<%= render partial: "organizations/signup/selected_plan_banner", locals: { plan: view.plan } %>

<%= render layout: "signup/container", locals: { title: "Payment details", subtitle: "Start your 14-day free trial" } do %>
  <%= form_for view.organization, url: organizations_path, html: {class: "new-org-billing-form"} do |f| %>
    <input type="hidden" name="organization[plan]" value="<%= view.plan.name %>" <%= test_selector("org-new-plan-input") %>>

    <% if view.is_enterprise_cloud_trial? %>
      <input type="hidden" name="enterprise[plan]" value="cloud-trial" <%= test_selector("org-new-cloud-trial") %>>
    <% end %>

    <!-- Organization name selection  -->
    <input type="hidden" name="organization[profile_name]" id="organization_profile_name" value="<%= view.organization.name %>" <%= test_selector("org-new-name-input") %>>
    <input type="hidden" name="organization[login]" value="<%= view.organization.login %>" <%= test_selector("org-new-login-input") %>>
    <input type="hidden" name="organization[company_name]" value="<%= view.organization.company_name %>" <%= test_selector("org-new-company_name-input") %>>

    <input type="hidden" name="company_info[full_name]" value="<%= company_info[:full_name] %>" <%= test_selector("org-new-full_name-input") %>>
    <input type="hidden" name="company_info[industry]" value="<%= company_info[:industry] %>" <%= test_selector("org-new-industry-input") %>>
    <input type="hidden" name="company_info[other_industry]" value="<%= company_info[:other_industry] %>" <%= test_selector("org-new-other_industry-input") %>>
    <input type="hidden" name="company_info[employees_size]" value="<%= company_info[:employees_size] %>" <%= test_selector("org-new-employees_size-input") %>>

    <!-- Enterprise Trial: GA attributes for marketing attribution -->
    <input type="hidden" name="user[ga_client_id]" class="js-enterprise-trial-ga-id" value="" data-field="clientId">
    <input type="hidden" name="user[ga_tracking_id]" class="js-enterprise-trial-ga-id" value="" data-field="trackingId">
    <input type="hidden" name="user[ga_user_id]" class="js-enterprise-trial-ga-id" value="" data-field="userId">

    <div data-login="<%= view.organization.login %>" class="mx-4 mx-md-0 <%= "has-billing" if view.organization.has_valid_payment_method? %> js-payment-summary js-billing-section zuora-billing-section PaymentMethod--creditcard">
      <%= f.fields_for :credit_card do |c| -%>
        <%=
          render partial: "organizations/signup/payment_methods", locals: {
            organization: view.organization,
            owner: current_user,
            coupon: nil,
            form: c,
            f: f,
            storing_payment_info_only: true
          }
        %>
      <% end %>
    </div>

    <!-- Submit -->
    <div class="SignUpContinueActions mx-4 mx-md-0">
      <%= render partial: "signup/button", locals: {
        text: "Next: Invite team members",
        type: "submit",
        custom_classes: "js-submit-billing",
        data: { ga_click: ga_label_with_analytics_tracking_id("Signup funnel team payment,click,text:#{view.button_text};") },
        test_selector: "signup-billing-complete-button"
      } %>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "billing" %>
<% end %>
