<%
  page_info :title => "Choose an Enterprise plan"
%>

<%
  cloud_plan_url = if logged_in?
    new_organization_path(organization_referral_params(additional_params: {plan: GitHub::Plan.business_plus}))
  else
    signup_url(organization_referral_params(additional_params: { plan: GitHub::Plan.business_plus, setup_organization: true }))
  end
%>

<% custom_button = capture do %>
  <a
    class="btn-mktg signup-btn mt-4 text-center"
    href="<%= cloud_plan_url %>"
    <%= safe_data_attributes(enterprise_plan_cloud_data_attributes) %>
    <%= test_selector('enterprise-cloud-custom-button') %>
  >
    Try Cloud
  </a>
<% end %>

<%= render layout: "signup/container",
  locals: {
    title: "Pick your trial plan",
    container_class: "container-xl",
    yield_container_class: "container-xl"
  } do %>
  <div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-lg-row flex-lg-items-start flex-column flex-items-center flex-justify-center mb-6">
        <input type="hidden" value="<%= params[:coupon] %>" name="coupon">
        <div>
          <%= render partial: "organizations/signup/enterprise_cloud_plan", locals: {
            pricing_model: business_plus_pricing_model,
            include_features: false,
            include_below_fold_content: false,
            include_price: false,
            include_price_detail: false,
            plan_display_name: "Enterprise Cloud",
            plan_description: "Leave the hosting to us.",
            custom_button: custom_button,
            is_last_item: false,
            style: "height: auto;",
            card_as_link: {
              link: cloud_plan_url,
              attr: {
                class: "no-underline",
                data: enterprise_plan_cloud_data_attributes
              }.merge(test_selector_data_hash('enterprise-cloud-custom-button'))
            }
          } %>
        </div>

        <%= render partial: "organizations/signup/enterprise_server_plan" %>
      </div>
    </div>
  </div>
<% end %>
