<%
  page_info :title => "Choose a plan"
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<%= render layout: "signup/container",
  locals: {
    title: "Pick a plan for your team",
    subtitle: "Choose a plan",
    container_class: "container-xl",
    yield_container_class: "container-xl"
  } do %>
  <%= form_for :organization, url: org_plan_path do |f| %>
    <input type="hidden" value="<%= params[:coupon] %>" name="coupon">
    <div class="d-flex flex-column">
      <%= render partial: "organizations/signup/plans", locals: {
            free_pricing_model: free_pricing_model,
            business_pricing_model: business_pricing_model,
            business_plus_pricing_model: business_plus_pricing_model
      } %>
    </div>
  <% end %>
<% end %>

<%= render partial: "site/pricing/pricing_comparison", locals: { context: "organization_plan" } %>
