<div
   data-test-selector="config-repo-call-to-action"
   class="flash flash-success mb-3 d-sm-flex d-md-block"
   style="align-items: baseline">
  <% if opted_in? %>
    <% if private? %>
      <div class="width-full">
        <strong><%= repository.name_with_owner %></strong> is
        special. If you <strong>make this a public repository</strong>, its
        <code>README.md</code> will appear on your profile!
        <% if profile_readme_feedback_link %>
          <a href="<%= profile_readme_feedback_link %>">Send feedback</a>
        <% end %>
      </div>

      <%= link_to "Go to Settings",
        edit_repository_path(
          current_user,
          repository,
          params: {return_to: repository_path(repository)}
        ),
        'data-ga-click' => "Config repo, clicked Go to Settings",
        'data-test-selector' => 'config-repo-cta-go-to-settings',
        class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
    <% else %>
      <div class="width-full">
        <strong><%= repository.name_with_owner %></strong> is a
        special repository. Its <code>README.md</code> will appear on your
        public profile!
        <% if profile_readme_feedback_link %>
          <a href="<%= profile_readme_feedback_link %>">Send feedback</a>
        <% end %>
      </div>

      <% if readme.nil? %>
        <%= link_to "Add a README",
          blob_new_path('', tree_name, repository) + "?readme=1",
          'data-ga-click' => "Config repo, clicked Add a README",
          'data-test-selector' => 'config-repo-cta-add-a-readme',
          class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
      <% else %>
        <%= link_to "Edit README",
          blob_edit_path(readme.path, tree_name, repository),
          'data-ga-click' => "Config repo, clicked Edit README",
          'data-test-selector' => 'config-repo-cta-edit-readme',
          class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
      <% end %>
    <% end %>
  <% else %>
    <% if private? %>
      <div class="width-full">
        <strong><%= repository.name_with_owner %></strong> is
        special. If you <strong>make this a public repository</strong>, its
        <code>README.md</code> will appear on your profile!
        <% if profile_readme_feedback_link %>
          <a href="<%= profile_readme_feedback_link %>">Send feedback</a>
        <% end %>
      </div>

      <%= button_to "Update now",
        post_profile_readme_opt_in_path(user_id: current_user.id),
        method: "post",
        'data-ga-click' => "Config repo, clicked Update now",
        'data-test-selector' => 'config-repo-cta-update-now',
        class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
    <% else %>
      <div class="width-full">
        <strong><%= repository.name_with_owner %></strong> is now a
        special repository. You can display the README of this repository
        on your public GitHub profile.
        <% if profile_readme_feedback_link %>
          <a href="<%= profile_readme_feedback_link %>">Send feedback</a>
        <% end %>
      </div>

      <%= button_to "Share to Profile",
        post_profile_readme_opt_in_path(user_id: current_user.id),
        'data-ga-click' => "Config repo, clicked Share to Profile",
        'data-test-selector' => 'config-repo-cta-share-to-profile',
        method: "post",
        class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
    <% end %>
  <% end %>
</div>
