<%= render Primer::LabelComponent.new(**{
    scheme: :outline,
    title: "Deployment Status Label: #{@state.humanize.capitalize}"
  }.merge(@args)) do %>
  <%= @state.humanize.capitalize %>
<% end %>
