<%# erblint:counter TooltipCounter 1 %>
<% if logged_in? %>
  <% if subscription_type %>
    <%= form_tag notifications_subscribe_path, "data-remote" => true, class: "#{"d-flex" if @show_count} js-social-form js-social-container" do -%>
      <input type="hidden" name="repository_id" value="<%= @repository.id %>">

      <details class="details-reset details-overlay select-menu hx_rsm">
        <%= content_tag "summary", class: button_class_names,
            data: watch_button_attributes(@repository.id, controller_action_slug) do -%>
          <span data-menu-button>
            <% if subscription_type == :watching %>
              <%= render GitHub::OcticonComponent.new(icon: "eye") %>
              Unwatch
            <% elsif subscription_type == :releases_only %>
              <%= render GitHub::OcticonComponent.new(icon: "eye") %>
              Unwatch releases
            <% elsif subscription_type == :ignoring %>
              <%= render GitHub::OcticonComponent.new(icon: "mute") %>
              Stop ignoring
            <% elsif subscription_type == :none %>
              <%= render GitHub::OcticonComponent.new(icon: "eye") %>
              Watch
            <% end %>
          </span>
          <span class="dropdown-caret"></span>
        <% end -%>
        <details-menu
          class="select-menu-modal position-absolute mt-5"
          style="z-index: 99;">
          <div class="select-menu-header">
            <span class="select-menu-title">Notifications</span>
          </div>
          <div class="select-menu-list">
            <button type="submit" name="do" value="included" class="select-menu-item width-full" aria-checked="<%= subscription_type == :none %>" role="menuitemradio">
              <%= render GitHub::OcticonComponent.new(icon: "check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Not watching</span>
                <span class="description">Be notified only when participating or @mentioned.</span>
                <span class="hidden-select-button-text" data-menu-button-contents>
                  <%= render GitHub::OcticonComponent.new(icon: "eye") %>
                  Watch
                </span>
              </div>
            </button>

            <button type="submit" name="do" value="release_only" class="select-menu-item width-full" aria-checked="<%= subscription_type == :releases_only %>" role="menuitemradio">
              <%= render GitHub::OcticonComponent.new(icon: "check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Releases only</span>
                <span class="description">Be notified of new releases, and when participating or @mentioned.</span>
                <span class="hidden-select-button-text" data-menu-button-contents>
                  <%= render GitHub::OcticonComponent.new(icon: "eye") %>
                  Unwatch releases
                </span>
              </div>
            </button>

            <button type="submit" name="do" value="subscribed" class="select-menu-item width-full" aria-checked="<%= subscription_type == :watching %>" role="menuitemradio">
              <%= render GitHub::OcticonComponent.new(icon: "check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Watching</span>
                <span class="description">Be notified of all conversations.</span>
                <span class="hidden-select-button-text" data-menu-button-contents>
                  <%= render GitHub::OcticonComponent.new(icon: "eye", class: "v-align-text-bottom") %>
                  Unwatch
                </span>
              </div>
            </button>

            <button type="submit" name="do" value="ignore" class="select-menu-item width-full" aria-checked="<%= subscription_type == :ignoring %>" role="menuitemradio">
              <%= render GitHub::OcticonComponent.new(icon: "check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Ignoring</span>
                <span class="description">Never be notified.</span>
                <span class="hidden-select-button-text" data-menu-button-contents>
                  <%= render GitHub::OcticonComponent.new(icon: "mute") %>
                  Stop ignoring
                </span>
              </div>
            </button>
          </div>
        </details-menu>
      </details>
      <% if @show_count %>
        <a class="social-count js-social-count"
          href="<%= gh_watchers_path(@repository) %>"
          aria-label="<%= pluralize @repository.watchers_next_count, "user" %> <%= "is".pluralize(@repository.watchers_next_count) %> watching this repository">
          <%= social_count @repository.watchers_next_count %>
        </a>
      <% end %>
    <% end %>
  <% else %>
    <a class="tooltipped tooltipped-n <%= button_class_names %>"
      aria-label="Watching a repository is unavailable" role="button">
      <%= render GitHub::OcticonComponent.new(icon: "mute") %>
      Unavailable
    </a>
  <% end %>
<% else %>
  <%= link_to(
    login_path(return_to: repository_path(@repository)),
    class: "tooltipped tooltipped-s #{button_class_names}",
    "aria-label": "You must be signed in to watch a repository",
    rel: "nofollow",
    data: sign_in_link_data_attributes(location_in_page: "notification subscription menu watch")
  ) do %>
    <%= render GitHub::OcticonComponent.new(icon: "eye") %>
    Watch
  <% end %>
  <% if @show_count %>
    <a class="social-count" href="<%= gh_watchers_path(@repository) %>"
       aria-label="<%= pluralize @repository.watchers_next_count, "user" %> <%= "is".pluralize(@repository.watchers_next_count) %> watching this repository">
      <%= social_count @repository.watchers_next_count %>
    </a>
  <% end %>
<% end %>
