<h4 class="mb-2">
  <span class="mr-2"><%= emoji_tag(Emoji.find_by_alias("wave")) %></span>Browse issues in <%= view.repo.nwo %></h4>
<p>
  Issues help repositories track bugs, enhancements, and ideas.
  You can submit new bugs, requests, or join the discussion.
</p>
