Explore <%= @view.span %> on GitHub, <%= @view.start_date.strftime("%b %e") %> - <%= @view.end_date.strftime("%b %e") %>
<% two_recommendations = @repository_recommendations.slice(0, 2) %>

<% if two_recommendations.present? %>
Based on your interests
-----------------------

  <% two_recommendations.each_with_index do |recommendation, index| %>
<%= render(
  "mailers/explore/text/recommended_repo",
  repository: recommendation.repository,
  reason: recommendation.reason,
  number: index + 1,
) %>
  <% end %>
<% end %>

See more repositories based on your interests at <%= explore_url %>
<%= render "mailers/explore/text/featured_topic", topic: @recommended_topic %>
<%= render "mailers/explore/text/spotlight", spotlight: @spotlights_in_feed.first %>
<% next_two_recommendations = @repository_recommendations.slice(2, 2) %>
<% if next_two_recommendations.present? %>

Based on your interests
-----------------------

  <% next_two_recommendations.each_with_index do |recommendation, index| %>
<%= render(
  "mailers/explore/text/recommended_repo",
  repository: recommendation.repository,
  reason: recommendation.reason,
  number: index + 1,
) %>
  <% end %>
<% end %>
<%= render "mailers/explore/text/marketplace_listing", marketplace_listing: @marketplace_listing %>
<% next_two_recommendations = @repository_recommendations.slice(4, 2) %>
<% if next_two_recommendations.present? %>

Based on your interests
-----------------------

  <% next_two_recommendations.each_with_index do |recommendation, index| %>
<%= render(
  "mailers/explore/text/recommended_repo",
  repository: recommendation.repository,
  reason: recommendation.reason,
  number: index + 1,
) %>
  <% end %>
<% end %>
<%= render "mailers/explore/text/event", event: @event %>
<% next_two_recommendations = @repository_recommendations.slice(6, 2) %>
<% if next_two_recommendations.present? %>

Based on your interests
-----------------------

  <% next_two_recommendations.each_with_index do |recommendation, index| %>
<%= render(
  "mailers/explore/text/recommended_repo",
  repository: recommendation.repository,
  reason: recommendation.reason,
  number: index + 1,
) %>
  <% end %>
<% end %>
<%= render "mailers/explore/text/featured_collection", collection: @featured_collection %>
<% next_two_recommendations = @repository_recommendations.slice(8, 2) %>
<% if next_two_recommendations.present? %>

Based on your interests
-----------------------

  <% next_two_recommendations.each_with_index do |recommendation, index| %>
<%= render(
  "mailers/explore/text/recommended_repo",
  repository: recommendation.repository,
  reason: recommendation.reason,
  number: index + 1,
) %>
  <% end %>
<% end %>
<%= render "mailers/explore/text/spotlight", spotlight: @spotlights_in_feed.second %>

That's everything we found for you, for now.
Visit <%= explore_url %> to see the latest, or change your email subscription at <%= explore_email_url %>.
<%= render "mailers/explore/text/trending_repositories", trending_repositories: @trending_repositories %>
<%= render "mailers/explore/text/trending_developers", trending_developers: @trending_developers %>


Manage the emails you get from us. <%= settings_user_emails_url %>
Unsubscribe from this newsletter. <%= @view.unsubscribe_link %>

<%= GitHub.physical_address %>
