<%= number %>. <%= repository.owner.login %>/<%= repository.name %>
  <%= "#{GitHub.url}/#{repository.nwo}" %>
  Description: <%= repository.description %>
  Primary Language: <%= repository.primary_language&.name %>
  Stars: <%= @view.social_count(repository.stargazer_count) %>
  Forks: <%= @view.social_count(repository.forks_count) %>
  Reason: <%= @view.recommendation_reason_sentence(reason) %>
