<% if trending_repositories.any? %>

Trending repositories
---------------------

<% trending_repositories.each_with_index do |repo, index| %>
<%= index + 1 %>. <%= repo.owner.login %>/<%= repo.name %>
   <%= "#{GitHub.url}/#{repo.owner.login}/#{repo.name}" %>
   Description: <%= repo.description %>
   Primary Language: <%= repo.primary_language %>
   Stars: <%= @view.social_count(repo.stargazer_count) %>
   Forks: <%= @view.social_count(repo.forks_count) %>

<% end %>

See more trending repositories at <%= GitHub.url %>/trending
<% end %>
