<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Owned GitHub Apps", :selected_link => :apps %>

<div class="boxed-group">
  <h3>Content creation limit</h3>
  <div class="boxed-group-inner">
    <%= form_with url: update_creation_limit_stafftools_user_apps_path(this_user), method: :put, local: true do %>
      <dl class="form-group">
        <dt><%= label_tag :creation_limit, "Content creation limit" %></dt>
        <dd>
          <%= text_field_tag :creation_limit, this_user.applications_creation_limit(Integration.new) %>
        </dd>
      </dl>
      <p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Owned GitHub Apps</h3>
  <div class="boxed-group-inner">
    <% if @integrations.any? %>
      <ul class="boxed-group-list standalone">
        <% @integrations.each do |integration| %>
          <li class="oauth-access js-details-container Details">
            <span class="time">Updated <%= time_ago_in_words integration.updated_at %> ago</span>
            <span class="application-name css-truncate css-truncate-target">
              <%= link_to integration.name, stafftools_user_app_path(this_user, integration) %>
            </span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account does not own any GitHub Apps.</p>
    <% end %>
  </div>
</div>

<div class="paginate-container">
  <%= will_paginate @integrations %>
</div>
