<% # view is an instance of Oauth::AuthorizeIntegrationView %>
<% page_info responsive: false, :title => "Connection with #{view.application.name}", :selected_link => :settings_user_authorized_integrations %>

<% content = capture do %>
  <div class="oauth-application-info">
    <div class="settings-next">
      <%= render :partial => "oauth_applications/application_header", :locals => { :view => view }  %>
      <%= render Primer::SubheadComponent.new(spacious: true) do |component| %>
        <% component.slot(:heading, tag: :h2) do %>Permissions<% end %>
        <% unless view.application.github_full_trust? # rubocop:disable GitHub/FullTrust %>
          <% component.slot(:actions) do %>
            <%= render layout: "shared/details_dialog", locals: {
              button_class: "btn btn-sm btn-danger",
              button_text: "Revoke access",
              title: "Are you sure you want to revoke authorization?"
            } do %>
              <div class="flash flash-full flash-warn">
                <%= view.application.name %> will no longer be able to access the GitHub API. You cannot undo this action.
              </div>

              <div class="Box-footer">
                <%= form_tag settings_oauth_authorization_path(view.application.key), :method => :delete do %>
                  <button type="submit" class="btn btn-block btn-danger" data-disable-with="Revoking…">
                    I understand, revoke access
                  </button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <p><strong><%= view.application.name %></strong> can access your account <strong><%= current_user.login %></strong> to:</p>
      <ul class="mb-3 ml-4">
        <li>Verify your GitHub identity</li>
        <li>Know what resources you can access</li>
        <li>Act on your behalf</li>
        <% view.permissions.each do |name, permission| %>
          <li><%= view.description(name) %></li>
        <% end %>
      </ul>
      <p><%= view.existing_installations_message %></p>
      <p class="note text-gray mt-3">
        Applications act on your behalf to access your data based on the permissions you grant them. Organizations control which applications are allowed to access their private data. Applications you authorize will always have access to public data in your organizations. Read about third-party access.
      </p>
    </div>

  </div>
<% end %>

<%= render layout: "settings/settings" do %>
  <%= content %>
<% end %>
