<li class="Box-row">

  <%=h key_link.example_key %> &nbsp;&rarr;&nbsp; <%=h key_link.example_url %>

  <%= button_to "Remove",
    key_link_path(current_repository.owner, current_repository, key_link),
    method: :delete,
    class: "btn btn-sm btn-danger",
    form_class: "inline-form float-right" %>

</li>
