<% page_info \
  container_xl: true,
  responsive: false,
  title: "Autolink references",
  selected_link: :key_links_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>Autolink references<% end %>
    <% component.slot(:actions) do %>
      <%= link_to "Add autolink reference", new_key_link_path, class: "btn btn-sm" %>
    <% end %>
  <% end %>
  <p>
    References to GitHub issues, pull requests, and commits are automatically converted into links. Configure your own autolink references for non-GitHub URLs.
    <%= link_to "Learn more.", "#{GitHub.help_url}/articles/autolinked-references-and-urls/" %>
  </p>

  <% if current_repository.key_links.any? %>
    <ul class="Box mt-4">
      <% current_repository.key_links.each do |key_link| %>
        <%= render "settings/key_links/key_link", key_link: key_link %>
      <% end %>
    </ul>
  <% else %>
    <div class="blankslate text-gray">
      There are no custom autolink references yet.
    </div>
  <% end %>

<% end %>
