<% page_info \
  container_xl: true,
  responsive: false,
  title: "Add autolink reference",
  selected_link: :key_links_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::SubheadComponent.new do |component| %>
    <% component.slot(:heading) do %>
      <a href="<%= key_links_path %>">Autolink references</a> / Add new
    <% end %>
  <% end %>


  <%= form_for key_link do |f| %>
    <%= spamurai_form_signals %>

    <%= f.text_group "Reference prefix", :key_prefix,
      required: true,
      class: "js-key-link-input",
      placeholder: "TICKET-",
      hint: <<~HINT
        This prefix appended by a number will generate a link any time it is found
        in an issue, pull request, or commit.
      HINT
    %>

    <% hint_markup = content_tag(:span) do %>
      <span>
        The URL must contain <code><%= KeyLink::URL_NUMBER_TEMPLATE %></code> for the reference number.
      </span>
    <% end %>
    <%= f.text_group "Target URL", :url_template,
      required: true,
      class: "js-key-link-input",
      placeholder: "https://example.com/TICKET?query=#{KeyLink::URL_NUMBER_TEMPLATE}",
      hint: hint_markup
    %>

    <div class="js-key-link-check" <%= "hidden" unless key_link.valid? %>
      src="<%= check_key_links_path %>">
      <%= render "settings/key_links/preview", key_link: key_link if key_link.valid? %>
    </div>
    <%= csrf_hidden_input_for check_key_links_path, class: "js-key-link-check-csrf" %>

    <button type="submit" class="btn btn-primary" data-disable-with>Add autolink reference</button>
  <% end %>

<% end %>
