<div class="text-gray">
  Excluding merges, <strong class="text-gray-dark"><%= pluralize(view.summary.authors_with_commits.count, "author") %></strong>
  <%= view.has_have(view.summary.authors_with_commits.count) %> pushed
  <strong class="text-gray-dark" <%= test_selector("branch-commits") %>><%= view.formatted_pluralize(view.total_default_branch_commits, "commit") %></strong> to <%= current_repository.default_branch %> and
  <strong class="text-gray-dark" <%= test_selector("all-commits") %>><%= view.formatted_pluralize(view.summary.commit_count, "commit") %></strong>
  to all branches.
  On <%= current_repository.default_branch %>, <strong class="text-gray-dark" <%= test_selector("files") %>><%= number_with_delimiter view.total_files_changed %> file<%= "s" unless view.total_files_changed == 1 %></strong>
  <%= view.has_have(view.total_files_changed) %> changed and there have been
  <a href="<%= compare_path(current_repository, view.summary.range) %>" class="lines-changed muted-link">
    <strong class="text-green" <%= test_selector("additions") %>><%= number_with_delimiter view.total_additions %></strong> <strong class="text-gray-dark">additions</strong> and
    <strong class="text-red" <%= test_selector("deletions") %>><%= number_with_delimiter view.total_deletions %></strong>&nbsp;<strong class="text-gray-dark">deletions</strong></a>.
</div>
