<div id="releases">
  <% if view.summary.releases.size > 0 %>
    <h3 class="conversation-list-heading" id="published-releases">
      <span class="inner">
        <%= octicon('tag') %>
        <%= view.formatted_pluralize(view.summary.releases.size, 'Release') %>
        published by <%= view.formatted_pluralize(view.summary.user_count_for(:releases), 'person') %>
      </span>
    </h3>
    <ul class="list-style-none my-4">
      <% view.summary.releases.each do |release| %>
      <li class="clearfix">
        <%= render GitHub::OcticonComponent.new(icon: "tag", float: "left", mt: 1) %>
        <div class="overflow-hidden pl-2">
        <a href="<%= release_path(release) %>" class="h4 link-gray-dark mb-1">
          <%= release.tag_name %>
          <%= view.release_title release %>
        </a>
        <p class="text-gray text-small">
          published
          <%= time_ago_in_words_js release.published_at %>
        </p>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
