<%= render Primer::StateComponent.new(**{ title: title, color: color, size: @size }.merge(@args)) do %>
  <%= octicon(octicon_name, height: octicon_height) %> <%= label %>

  <% if revision_number %>
    <span class="revision-number">
      <%= revision_number %>
    </span>
  <% end %>
<% end %>
