<div class="blankslate blankslate-clean-background">
  <h3>
    It looks like we don’t have any trending <%= type %> for
    <% if language.present? && display_language_name_for(language).present? %>
      <%= display_language_name_for(language) %>.
    <% else %>
      your choices.
    <% end %>
  </h3>
</div>
