<details class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm" id="select-menu-language">
  <summary class="btn-link select-menu-button">
    Language:

    <%= render Primer::TextComponent.new(data: { menu_button: "" }, font_weight: :bold) do %>
      <% if language.present? && display_language_name_for(language).present? %>
        <%= display_language_name_for(language) %>
      <% else %>
        Any
      <% end %>
    <% end %>
  </summary>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <div class="select-menu-header">
      <%= render Primer::TextComponent.new(classes: "select-menu-title") do %>
        Select a language
      <% end %>

      <button
        class="hx_rsm-close-button d-none ml-2 btn-link close-button"
        type="button"
        data-toggle-for="select-menu-language"
      >
        <%= render GitHub::OcticonComponent.new(icon: "x", aria: { label: "Close menu" }) %>
      </button>
    </div>

    <div class="select-menu-filters">
      <filter-input class="select-menu-text-filter" aria-owns="languages-menuitems">
        <input
          type="text"
          class="form-control"
          placeholder="Filter languages"
          aria-label="Type or choose a language"
          autofocus
          autocomplete="off"
        >
      </filter-input>
    </div>

    <div class="select-menu-list" data-pjax id="languages-menuitems">
      <% if display_language_name_for(language).present? %>
        <div class="select-menu-clear-item select-menu-item">
          <%= render GitHub::OcticonComponent.new(icon: "x", classes: "select-menu-item-icon") %>

          <%= render(Primer::LinkComponent.new(
            classes: "select-menu-item-text",
            href: context.trending_path(
              self,
              language: nil,
              since: since,
              spoken_language_code: params[:spoken_language_code],
            ),
            role: "menuitem",
          )) do %>
            Clear language
          <% end %>
        </div>
      <% end %>

      <div data-filter-list>
        <% programming_languages(user_languages).each do |language_list_entry| %>
          <%= render(Primer::LinkComponent.new(
            aria: { checked: !!(language == language_list_entry.default_alias) },
            classes: programming_language_link_class_names_for(language, language_list_entry),
            data: { pjax: "" },
            href: context.trending_path(
              self,
              language: language == language_list_entry.default_alias ? nil : language_list_entry.default_alias,
              since: since,
              spoken_language_code: params[:spoken_language_code],
            ),
            role: "menuitemradio",
          )) do %>
            <%= render GitHub::OcticonComponent.new(icon: "check", classes: "select-menu-item-icon") %>

            <%= render(Primer::TextComponent.new(
              classes: "select-menu-item-text",
              data: { menu_button_text: "" },
            )) do %>
              <%= language_list_entry.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="select-menu-loading-overlay anim-pulse">
      <%= render GitHub::OcticonComponent.new(icon: "octoface", size: :medium) %>
    </div>
  </details-menu>
</details>
