<% repo = repo_snip %>
<article>
  <div class="f6 text-gray text-uppercase mb-1"><%= octicon('flame', class: "text-orange-light mr-1") %>Popular repo</div>
  <h1 class="h4 lh-condensed">
    <%= render(Primer::LinkComponent.new(
      classes: "css-truncate css-truncate-target",
      style: "max-width: 175px;",
      href: repository_path(repo),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_DEVELOPERS_PAGE,
        click_target: :REPOSITORY,
        click_visual_representation: :REPOSITORY_NAME_HEADING,
        actor: current_user,
        record_id: repo.id,
        ga_click_text: "Explore, go to repository, location:trending developers"
      ),
    )) do %>
      <% if repo.fork? && repo.parent %>
        <%= octicon('repo-forked', class: "text-gray mr-1") %>
      <% elsif repo.mirror %>
        <%= octicon((repo.public? ? "mirror" : "lock"), class: "text-gray mr-1") %>
      <% else %>
        <%= octicon('repo', class: "text-gray mr-1") %>
      <% end %>
      <%= repo %>
    <% end %>
  </h1>
  <% if repo.description.present? %>
    <div class="f6 text-gray mt-1">
      <%= formatted_repo_description repo %>
    </div>
  <% end %>
</article>
