<% if view.plan_duration_change? %>
  Switched the <span class="context"><%= view.entry.safe_organization_name %></span> organization
  from <span class="context"><%= "#{view.entry.hit.data[:old_plan_duration]}ly" %></span>
  to <span class="context"><%= "#{view.entry.hit.data[:plan_duration]}ly" %></span> billing
<% elsif view.plan_changed? %>
  Switched the <span class="context"><%= view.entry.safe_organization_name %></span> organization
  from the <span class="context"><%= view.entry.hit.data[:old_plan] %></span>
  to the <span class="context"><%= view.entry.hit.data[:plan] %></span> plan
<% elsif view.pricing_model_changed_to_per_seat? %>
  Switched the <span class="context"><%= view.entry.safe_organization_name %></span> organization
  to per-seat pricing with <%= pluralize(view.entry.hit.data[:seats], "seat") %>
<% elsif view.pricing_model_changed_to_per_repo? %>
  Switched the <span class="context"><%= view.entry.safe_organization_name %></span> organization
  from per-seat pricing to the <span class="context"><%= view.entry.hit.data[:plan] %></span> plan
<% elsif view.seat_count_changed? %>
  <% if view.seat_purchase? %>
    Purchased <%= pluralize(view.seat_delta, "seat") %> for
  <% else %>
    Removed <%= pluralize(view.seat_delta, "seat") %> from
  <% end %>
  the <span class="context"><%= view.entry.safe_organization_name %></span> organization
  which now has
  <%= pluralize(view.entry.hit.data[:seats], "total seat") %>
<% elsif view.entry.hit.data[:note] %>
  <%= view.entry.hit.data[:note].try(:capitalize) %>
<% end %>
