Changed the default repository permission from <span class="context"><%= view.entry.hit.data[:old_permission] %></span> to <span class="context"><%= view.entry.hit.data[:permission] %></span> for all organizations in the <%= view.link_to_business %> enterprise.
