<span class="context"><%= (!!view.entry.hit.data[:permission]) ? "Allowed" : "Prevented" %></span> members to invite outside collaborators to repositories for all organizations in the <%= view.link_to_business %> enterprise.
