Updated <span class="context"><%= view.link_to_hook %></span> events
<% if view.link_to_hook_target? %>
  for <%= view.link_to_repo_or_org_or_business %>
<% end %>
from <span class="context"><%= view.hook_events_were %></span> to <span class="context"><%= view.hook_events %></span>
