Created an IP allow list entry for the
<span class="context">
  <% if view.org? %>
    <%= view.link_to_org %> organization
  <% else %>
    <%= view.link_to_business %> enterprise
  <% end %>
</span>
with value <span class="context"><code><%= view.entry.hit.data[:ip_allow_list_entry] %></code></span>
and state
<span class="context">
  <code>
    <%= view.entry.hit.data[:active] ? "active" : "inactive" %>
  </code>
</span>
