Submitted draft <a href="<%= works_with_github_path %>">Works with GitHub</a> listing
<strong class="context"><%= view.entry.hit.data[:non_marketplace_listing] %></strong>
in the
&ldquo;<span class="context"><%= view.entry.hit.data[:category] %></span>&rdquo; category
