<% if view.entry.hit.data[:payment_method] == "card" %>
  Added a credit card
<% elsif view.entry.hit.data[:payment_method] == "paypal" %>
  Added a PayPal account
<% else %>
  Added payment details
<% end %>

<% if view.entry.hit[:business] %>
  to the <span class="context"><%= view.entry.safe_business_name %></span> enterprise
<% elsif view.entry.hit[:org] %>
  to <span class="context"><%= view.entry.safe_organization_name %></span>’s account
<% elsif view.entry.hit[:user] %>
  to your account
<% end %>
