<% case view.signature_requirement_enforcement_level.to_sym %>
<% when :off %>
  Required signatures for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was deactivated

<% when :everyone %>
  Required signatures for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was activated for everyone

<% when :non_admins %>
  Required signatures for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was activated for non-admins
<% end %>
