<% case view.pull_request_reviews_enforcement_level.to_sym %>
<% when :off %>
  Required pull request reviews for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> were deactivated

<% when :everyone %>
  Required pull request reviews for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> were activated for everyone

<% when :non_admins %>
  Required pull request reviews for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> were activated for non-admins
<% end %>
