<% case view.allow_force_pushes_enforcement_level.to_sym %>
<% when :off %>
  Allow force pushes for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was deactivated

<% when :everyone %>
  Allow force pushes for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was activated for everyone

<% when :non_admins %>
  Allow force pushes for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> was activated for non-admins
<% end %>
