<span class="context"><%= view.entry.hit.data[:title].try(:capitalize) %></span>
<% if view.entry.hit.data[:fingerprint] %>
<div class="export-phrase">
  <pre class="text-small"><%= view.entry.hit.data[:fingerprint] %></pre>
</div>
<% end %>
