invitation to <span class="context"><%= view.repository.name_with_owner %></span> from <span class="context"><%= view.inviter.login %></span> accepted by <span class="context"><%= view.invitee.login %></span>
