Updated <%= view.link_to_team %> permission for <%= view.link_to_repo %> from <span class="context"><%= view.entry.hit.data[:old_permission] %></span> to <span class="context"><%= view.entry.hit.data[:permission] %></span>
