<% if view.entry.hit.data[:phrase].present? %>
  Exported <span class="context"><%= number_with_delimiter view.entry.hit.data[:total_entries] %> <%= "entry".pluralize(view.entry.hit.data[:total_entries]) %></span> from the audit log with query:
  <div class="export-phrase">
    <pre class="text-small text-gray"><%= view.entry.hit.data[:phrase] %></pre>
  </div>
<% else %>
  Exported the full audit log matching <span class="context"><%= number_with_delimiter view.entry.hit.data[:total_entries] %> <%= "entry".pluralize(view.entry.hit.data[:total_entries]) %></span>
<% end %>
