<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{@user} - Switch to per-seat", :selected_link => :stafftools_user_billing %>

<div class="boxed-group">
  <h3>
    <%= link_to "Billing /", billing_stafftools_user_path(@per_seat_pricing_model.organization),
      :class => "boxed-group-breadcrumb", "data-pjax" => true %>
    Switch to per-seat
  </h3>

  <%= form_tag stafftools_user_per_seat_pricing_model_path(@per_seat_pricing_model.organization), :method => :put do %>
    <div class="boxed-group-inner billing-addon-items seamless">
      <div class="boxed-group-content">
        If you change a customer to per-seat, we will give them a prorated
        credit for their old plan, and immediately charge them the prorated
        amount for the new plan, if it costs more.
        If you change the customer’s billing frequency, then
        we will refund service left on their current plan, set today as their
        new billing date, and immediately charge the payment method on file.
      </div>
      <table class="boxed-group-table">
        <tbody>
          <tr class="">
            <td>
              <%= text_field_tag "seats", @user.default_seats,
                :label        => "seats",
                :id           => "seats",
                :class        => "shorter textfield js-total-seats-field",
                :type         => "text",
                :autocomplete => "off",
                :required     => "required",
                "data-url"    => stafftools_user_per_seat_pricing_model_path(@user)
              %>
              <span class="new-addon-items unstyled-delta-seats-label">seats</span>
              <span class="addon-cost">
                @
                <span class="unstyled-human-base-price"><%= @per_seat_pricing_model.human_base_price %></span>
                +
                <span class="unstyled-human-unit-price"><%= @per_seat_pricing_model.human_unit_price %></span>
              </span>
            </td>
            <td class="text-right unstyled-total-seats-price"><%= @per_seat_pricing_model.total_seats_price.format %></td>
          </tr>
          <tr>
            <td>
              <span class="unstyled-data-packs-count"><%= @user.data_packs %></span> data pack(s)
              @
              <span class="unstyled-data-packs-unit-price"><%= @per_seat_pricing_model.data_pack_change.human_data_pack_unit_price %></span>
              &ndash;
              <%= link_to "Change",
                          stafftools_user_edit_large_file_storage_path(@user),
                          "data-pjax" => true %>
            </td>
            <td class="text-right">
              <span class="unstyled-data-packs-price"><%= @per_seat_pricing_model.data_pack_change.renewal_price.format %></span>
            </td>
          </tr>
          <tr>
            <td>
              Coupon:
              <code class="unstyled-coupon-name"><%= @per_seat_pricing_model.coupon %></code>
              <span class="unstyled-no-coupon"><% unless @per_seat_pricing_model.coupon %>None<% end %></span>
              <span class="unstyled-coupon-description">
                <% if @per_seat_pricing_model.coupon %>
                (<%= @per_seat_pricing_model.coupon.human_discount %> for <%= @per_seat_pricing_model.coupon.human_duration %>)
                <% end %>
              </span>
              &ndash;
              <%= link_to "Change", biztools_user_redemptions_path(@user) %>
            </td>
            <td class="text-right">
              <span class="unstyled-coupon-discount"><%= @per_seat_pricing_model.coupon_discount_for_duration.format(sign_before_symbol: true) %></span>
            </td>
          </tr>
          <% if @user.plan.free? %>
          <tr class="total-row">
            <td class="text-right"><strong>Total</strong></td>
            <td class="text-right"><strong class="unstyled-final-price"><%= @per_seat_pricing_model.final_price.format %></strong></td>
          </tr>
          <% else %>
          <tr>
            <td class="text-right"><strong><span class="unstyled-plan-duration-adjective"><%= @per_seat_pricing_model.plan_duration.capitalize %>ly</span> Renewal Price</strong></td>
            <td class="text-right"><strong class="unstyled-renewal-price"><%= @per_seat_pricing_model.renewal_price.format %></strong></td>
          </tr>
          <tr class="js-altered-subscription <%= "d-none" if @per_seat_pricing_model.starting_new_subscription? %>">
            <td>
              Prorated for <%= pluralize @per_seat_pricing_model.new_subscription.service_days_remaining, "day" %>
            </td>
            <td class="text-right unstyled-prorated-total-price"><%= @per_seat_pricing_model.price_for_rest_of_billing_cycle.format(:sign_before_symbol => true) %></td>
          </tr>
          <tr class="js-altered-subscription <%= "d-none" if @per_seat_pricing_model.starting_new_subscription? %>">
            <td>
              Credit for <%= pluralize @per_seat_pricing_model.old_subscription.service_days_remaining, "day" %> left on <%= @user.plan.to_s.humanize %> plan
            </td>
            <td class="text-right unstyled-refund-discount"><%= (-1 * @per_seat_pricing_model.price_of_remaining_service).format(:sign_before_symbol => true) %></td>
          </tr>
          <tr class="total-row js-altered-subscription <%= "d-none" if @per_seat_pricing_model.starting_new_subscription? %>">
            <td class="text-right"><strong>Total Charge Today</strong></td>
            <td class="text-right"><strong class="unstyled-final-price"><%= @per_seat_pricing_model.final_price.format %></strong></td>
          </tr>
          <tr class="total-row js-replaced-subscription <%= "d-none" unless @per_seat_pricing_model.starting_new_subscription? %>">
            <td class="text-right">
              <strong>
              Refund for <%= pluralize @per_seat_pricing_model.old_subscription.service_days_remaining, "day" %> left on <%= @user.plan.to_s.humanize %> plan
              </strong>
            </td>
            <td class="text-right">
              <strong class="unstyled-refund-discount">
                <%= (-1 * @per_seat_pricing_model.price_of_remaining_service).format(:sign_before_symbol => true) %>
              </strong>
            </td>
          </tr>
          <tr class="total-row js-replaced-subscription <%= "d-none" unless @per_seat_pricing_model.starting_new_subscription? %>">
            <td class="text-right"><strong>Total Charge Today</strong></td>
            <td class="text-right"><strong class="unstyled-final-price"><%= @per_seat_pricing_model.final_price.format %></strong></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="boxed-group-content">
        <p><strong>Bill</strong></p>
        <ul class="compact-options">
          <li>
            <label>
              <%= radio_button_tag "duration", "year", @per_seat_pricing_model.yearly_plan?, :class => "js-plan-duration" %>
              Yearly
            </label>
          </li>
          <li>
            <label>
              <%= radio_button_tag "duration", "month", @per_seat_pricing_model.monthly_plan?, :class => "js-plan-duration" %>
              Monthly
            </label>
          </li>
        </ul>

        <p><strong>Charge to</strong></p>
        <% payment_method = @user.payment_method %>
        <% if @user.has_paypal_account? %>
          <strong>PayPal account</strong> (<%= payment_method.paypal_email %>)
        <% elsif @user.has_credit_card? %>
          <%= octicon("credit-card") %>
          <strong><%= payment_method.card_type %></strong> (<%= payment_method.formatted_number %>)
        <% else %>
          <%= octicon("alert") %>
          No payment method on file.
        <% end %>

        <p>
          <button type="submit" class="btn btn-primary">Switch</button>
          <%= link_to "Cancel", billing_stafftools_user_path(@user), :class => "btn", "data-pjax" => true %>
        </p>
      </div>
    </div>
  <% end %>


</div>
