<% content_for :content do %>
  <% if valid_sudo_session? %>
    <div class="pagehead">
      <div class="container-lg px-3">
        <h1>
          <%= octicon("rocket", :height => 32) %>
          <%= link_to "Site admin", stafftools_path %>
        </h1>
      </div>
    </div>

    <div class="container-lg px-3">
      <div class="clearfix stafftools-group" id="stafftools">
        <%= render :partial => "navigation/stafftools", locals: {header: false} %>

        <main class="col-9 float-left pl-3">
          <%= yield %>
        </main>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
