<% content_for :content do %>
  <% if valid_sudo_session? %>
    <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
      <div class="container-lg UnderlineNav-container px-3 my-3">
        <span class="UnderlineNav-actions f3">
          <%= octicon("rocket", :class => "v-align-baseline") %>
          <%= link_to "Site admin", stafftools_path %>
          /
          <%= link_to "Enterprises", stafftools_enterprises_path %>
          /
          <strong><%= link_to this_business.name, stafftools_enterprise_path(this_business.slug) %></strong>
        </span>
      </div>
    </div>

    <div class="container-lg px-3">
      <div class="clearfix stafftools-group" id="stafftools">
        <div class="float-left col-3">
          <nav class="menu" aria-label="Enterprise account navigation">
            <%= selected_link_to \
                  "Overview",
                  stafftools_enterprise_path(this_business.slug),
                  highlight: :business_overview,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Organizations",
                  organizations_stafftools_enterprise_path(this_business.slug),
                  highlight: :business_organizations,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "People",
                  people_stafftools_enterprise_path(this_business.slug),
                  highlight: :business_people,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Licensing",
                  stafftools_enterprise_licenses_path(this_business.slug),
                  highlight: :business_licenses,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Security",
                  security_stafftools_enterprise_path(this_business.slug),
                  highlight: :business_security,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Webhooks",
                  hooks_stafftools_enterprise_path(this_business.slug),
                  highlight: [:business_webhooks, :hooks],
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Enterprise Server installations",
                  enterprise_installations_stafftools_enterprise_path(this_business.slug),
                  highlight: :enterprise_installations,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Prepaid Metered Usage",
                  stafftools_prepaid_metered_usage_refills_path(this_business.slug),
                  highlight: :prepaid_metered_usage_refills,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Actions & Packages",
                  stafftools_actions_packages_path(this_business.slug),
                  highlight: :actions_packages,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Metered Billing Exports",
                  stafftools_metered_exports_path(this_business.slug),
                  highlight: :metered_exports,
                  class: "menu-item" %>
            <%= selected_link_to \
                  "Debug",
                  stafftools_enterprise_debug_tools_path(this_business.slug),
                  highlight: :debug,
                  class: "menu-item" %>
          </nav>
        </div>
        <div class="float-left col-9 pl-3">
          <main id="js-pjax-stafftools-container">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
