<% content_for :content do %>
  <% if valid_sudo_session? %>
    <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
      <div class="container-lg UnderlineNav-container px-3 my-3">
        <span class="UnderlineNav-actions f3">
          <%= octicon("rocket", :class => "v-align-baseline") %>
          <%= link_to "Site admin", stafftools_path %> /
          <%= link_to "Enterprise Server installations", stafftools_enterprise_installations_path %> /
          <strong>
            <%= link_to \
              this_enterprise_installation.host_name,
              stafftools_enterprise_installation_path(this_enterprise_installation.id) %>
          </strong>
        </span>
      </div>
    </div>

    <div class="container-lg px-3">
      <div class="clearfix stafftools-group" id="stafftools">
        <div class="float-left col-3">
          <nav class="menu" aria-label="Enterprise Server installation navigation">
            <%= selected_link_to \
              "Overview",
              stafftools_enterprise_installation_path(this_enterprise_installation.id),
              highlight: :enterprise_installation_overview,
              class: "menu-item" %>
            <%= selected_link_to \
              "Accounts",
              accounts_stafftools_enterprise_installation_path(this_enterprise_installation.id),
              highlight: :enterprise_installation_accounts,
              class: "menu-item" %>
            <%= selected_link_to \
              "Contributions",
              contributions_stafftools_enterprise_installation_path(this_enterprise_installation.id),
              highlight: :enterprise_installation_contributions,
              class: "menu-item" %>
          </nav>
        </div>
        <div class="float-left col-9 pl-3">
          <main id="js-pjax-stafftools-container">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
