<%# erblint:disable LandmarkHasLabel %>
<% page_info :stafftools => stafftools_path %>

<% content_for :content do %>
  <% if valid_sudo_session? %>
    <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
      <div class="container-lg UnderlineNav-container px-3">
        <span class="UnderlineNav-actions f3">
          <%= octicon("rocket", :class => "v-align-baseline") %>
          <%= link_to "Site admin", stafftools_path %>
          /
          <%= link_to this_user, stafftools_user_path(this_user) %>
          /
          <strong><%= link_to \
                           current_repository,
                           gh_stafftools_repository_path(current_repository) %>
          </strong>
        </span>
        <nav class="UnderlineNav-body" role="navigation">
          <%= selected_link_to \
                gh_admin_stafftools_repository_path(current_repository),
                :highlight => :repo_admin,
                :class => "UnderlineNav-item" do %>
            <%= octicon("gear", :class => "UnderlineNav-octicon") %>
            Admin
          <% end %>
          <%= selected_link_to \
                gh_security_stafftools_repository_path(current_repository),
                :highlight => [:repo_security, :hooks],
                :class => "UnderlineNav-item" do %>
            <%= octicon("shield-lock", :class => "UnderlineNav-octicon") %>
            Security
          <% end %>
          <%= selected_link_to \
                stafftools_repository_issues_path(current_repository.owner, current_repository),
                :highlight => [:repo_collaboration, :issues, :issue_files],
                :class => "UnderlineNav-item" do %>
            <%= octicon("git-pull-request", :class => "UnderlineNav-octicon") %>
            Collaboration
          <% end %>
          <%= selected_link_to \
                gh_disk_stafftools_repository_path(current_repository),
                :highlight => :repo_storage,
                :class => "UnderlineNav-item" do %>
            <%= octicon("database", :class => "UnderlineNav-octicon") %>
            Storage
          <% end %>
        </nav>


      </div>
    </div>

    <div class="container-lg px-3">
      <% if content_for? :nav_sidebar %>
        <div class="clearfix stafftools-group" id="stafftools">
          <div class="float-left col-3">
            <%= yield :nav_sidebar %>
          </div>

          <main class="float-left col-9 pl-3">
            <%= yield %>
          </main>
        </div>
      <% else %>
        <main><%= yield %></main>
      <% end %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
