<div class="Box-body">
  <p>Converting members to outside collaborators will remove them from this organization and from all teams, and if they do not currently have access to any private repositories in the organization their seat will be reclaimed.</p>
  <p>Their repository access will be preserved by making them collaborators on all repositories that their teams gave them access to.
    They will retain access to repositories that they were previously collaborators on, but all other access to this organization’s repositories will be lost.
  </p>
</div>
<div class="Box-footer">
  <%= form_tag org_people_convert_to_outside_collaborators_path(current_organization), :method => :put do %>
    <input type="hidden" name="member_ids" value="<%= [member_ids].flatten.join(",") %>">
    <button type="submit" class="btn btn-danger">Convert to outside collaborator</button>
  <% end %>
</div>
