<%# `view` is an instance of Orgs::People::DestroyMembersDialogView  %>

<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
  <h3 class="Box-title">
    Removing <%= pluralize(view.selected_members.size, "member") %> from <strong><%= view.organization.login %></strong>
  </h3>
</div>
<% if view.show_sso_warning? %>
  <div class="flash flash-full flash-error">
    Removed members will be able to rejoin the organization unless they are
    also deprovisioned from your SAML Identity Provider.
  </div>
<% end %>

<div class="Box-body overflow-auto">
  <% if view.show_private_fork_info? %>
    <p class="deleting-private-forks-warning">
      <%= octicon('alert') %>
      Removing people from the <%= view.organization.login %> organization
      will also delete their forks of any private
      <%= view.organization.login %>-owned repositories. This may take up to 24 hours to occur.
    </p>
  <% end %>

  <p>The following members will be removed:</p>

  <div class="confirm-removal-list-container mb-0">
    <ul class="list-style-none">
      <% view.selected_members.each do |member| %>
        <li class="confirm-removal-list-item">
          <%= linked_avatar_for(member, 16, img_class: "avatar") %>
          <%= profile_link(member) %>

          <% if view.show_private_fork_info? %>
            <span class="private-fork-count">+ <a href="<%= org_person_path(view.organization, member, query: "only:forks") %>"><%= pluralize(view.private_forks_count_for(member), "private fork") %></a></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="Box-footer">
  <%= form_tag org_destroy_people_path(view.organization), :method => :delete do %>
    <input type="hidden" name="member_ids" value="<%= view.sorted_selected_member_ids %>">
    <input type="hidden" name="redirect_to_path" value="<%= view.redirect_to_path %>">
    <button type="submit" class="btn btn-danger">Remove members</button>
  <% end %>
</div>
