<%# `view` is an instance of Orgs::People::IndexPageView %>
<div class="d-flex flex-items-center px-3 table-list-header table-list-header-next top-0" style="height: 50px;">

  <div class="pr-3">
    <input type="checkbox" id="select-all-failed" data-check-all>
  </div>

  <div class="select-all-dropdown js-bulk-actions flex-auto">
    <%=
      render_partial_view "orgs/people/failed_invitation_toolbar_actions",
        Orgs::People::FailedInvitationToolbarActionsView,
        organization: view.organization,
        selected_invitations: []
    %>
  </div>
</div>

<% if view.show_failed_invitations? %>
  <ul class="member-listing-next table-list <% if view.organization.direct_or_team_member?(current_user) %>table-list-bordered<% end %> <% if view.show_admin_stuff? %>adminable<% end %>">
    <% view.invitations.each do |invitation| %>
      <%=
        render_partial_view "orgs/people/failed_invitation",
          Orgs::People::FailedInvitationView,
          invitation: invitation,
          organization: view.organization
      %>
    <% end %>
  </ul>

  <div class="paginate-container">
    <%= will_paginate view.invitations %>
  </div>
<% end %>

<% if view.invitations_empty? %>
  <div class="blankslate">
    <%= octicon("organization", :height => 32, :class => "blankslate-icon") %>
    <h3>No failed invitations.</h3>
  </div>
<% end %>
