<%# `view` is an instance of Orgs::People::FailedInvitationView %>

<li class="table-list-item member-list-item js-bulk-actions-item <%= "adminable" if view.show_admin_stuff? %>" data-bulk-actions-id="<%= view.invitation.id %>">
  <div class="table-list-cell table-list-cell-checkbox py-3 v-align-middle pr-0 pl-3">
    <input type="checkbox" name="invitation_ids[]" value="<%= view.identifier %>" aria-labelledby="member-<%= view.identifier %>" class="js-bulk-actions-toggle" data-check-all-item>
  </div>

  <div class="table-list-cell py-3 pr-0 text-center v-align-middle" style="width: 72px;">
    <% if view.email_invitation? %>
      <div class="d-inline-block">
        <%= octicon("mail-read", height: 48, class: "avatar") %>
      </div>
    <% else %>
      <%= linked_avatar_for view.member, 48, img_class: "avatar", url: view.member_url %>
    <% end %>
  </div>

  <div class="table-list-cell py-3 v-align-middle css-truncate pl-3" style="width: 200px;">
  <% if view.email_invitation? %>
      <span class="d-block css-truncate-target f5 text-gray-dark" id="member-<%= view.email %>" itemprop="name" style="max-width: 180px;"><%= view.name %></span>
    <% else %>
      <%= profile_link view.member, class: "css-truncate-target f4", id: "member-#{view.member}", style: "max-width: 180px;", url: view.member_url do %>
        <%= view.member.profile_name.presence || view.member %>
      <% end %>
      <span class="d-block css-truncate-target f5 text-gray-dark" itemprop="name" style="max-width: 180px;"><%= view.identifier %></span>
    <% end %>
  </div>

  <div class="table-list-cell pr-0 text-right v-align-middle">
    <div class="flash flash-warn py-2 d-inline-block">
      <% case view.invitation.failed_reason %>
      <% when "no_more_seats" %>
        <p>No seats available. <a href="<%= org_seats_path(view.organization) %>">Buy seats</a></p>
      <% when "trade_controls" %>
        <p>This user isn’t able to use this feature due to trade regulations. <a href="<%= GitHub.trade_controls_help_url %>">Learn more</a></p>
      <% when "expired" %>
        <p>Invitation expired. User did not accept this invite for <%= GitHub.invitation_expiry_period %> days</p>
      <% else %>
        <p><a href="<%= contact_path %>">Contact support</a></p>
      <% end %>
    </div>
  </div>

  <% if view.show_admin_stuff? %>
    <% redirect_url = org_failed_invitations_path(view.organization) %>

    <div class="text-gray table-list-cell py-3 v-align-middle pr-3 f5" style="width: 87px;">
      <details class="details-reset details-overlay dropdown float-right">
        <summary class="btn btn-sm select-menu-button">
          <%= octicon("gear", :"aria-label" => "Member settings") %>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-sw">
          <details class="details-reset details-overlay details-overlay-dark">
            <summary
              class="btn-link dropdown-item"
              role="menuitem"
              data-ga-click="Orgs, retry, location:failed invites; text:Retry">
              Retry invitation</summary>
            <details-dialog
              class="anim-fade-in fast Box Box--overlay" preload
              src="<%= org_invitations_action_dialog_path(view.organization, "invitation_ids[]": view.invitation.id, redirect_to_path: redirect_url, action_dialog: 'retry') %>">
              <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
            </details-dialog>
          </details>

          <details class="details-reset details-overlay details-overlay-dark">
            <summary
              class="btn-link dropdown-item"
              role="menuitem"
              data-ga-click="Orgs, delete, location:failed invites; text:Delete">
              Delete invitation</summary>
            <details-dialog
              class="anim-fade-in fast Box Box--overlay" preload
              src="<%= org_invitations_action_dialog_path(view.organization, "invitation_ids[]": view.invitation.id, redirect_to_path: redirect_url, action_dialog: 'delete' ) %>">
              <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
            </details-dialog>
          </details>
        </details-menu>
      </details>
    </div>
  <% end %>

  <% unless view.organization.direct_or_team_member?(current_user) %>
    <div class="text-center text-gray table-list-cell py-3 v-align-middle f5 text-right">
      <%= follow_button view.member %>
    </div>
  <% end %>
</li>
