<details class="details-reset details-overlay select-menu flex-self-center" data-filter-on="two-factor">
  <summary class="btn-link py-2 select-menu-button">
    2FA
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by two-factor authentication</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= url_for(query: "") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.two_factor_filter_select_class(:all) == "selected" %>"
         data-filter=""
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Everyone</div>
      </a>
      <a href="<%= url_for(query: "two-factor:enabled") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.two_factor_filter_select_class(:enabled) == "selected" %>"
         data-filter="two-factor:enabled"
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Enabled</div>
      </a>
      <a href="<%= url_for(query: "two-factor:disabled") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.two_factor_filter_select_class(:disabled) == "selected" %>"
         data-filter="two-factor:disabled"
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Disabled</div>
      </a>
    </div>
  </details-menu>
</details>
