<details class="details-reset details-overlay select-menu flex-self-center" data-filter-on="sso">
  <summary class="btn-link py-2 select-menu-button">
    SSO
  </summary>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;">
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by Single Sign-on</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= url_for(query: "") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.sso_filter_select_class(:all) == "selected" %>"
         data-filter=""
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Everyone</div>
      </a>
      <a href="<%= url_for(query: "sso:linked") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.sso_filter_select_class(:linked) == "selected" %>"
         data-filter="sso:linked"
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Linked</div>
      </a>
      <a href="<%= url_for(query: "sso:unlinked") %>"
         class="select-menu-item js-member-search-filter"
         aria-checked="<%= view.sso_filter_select_class(:unlinked) == "selected" %>"
         data-filter="sso:unlinked"
         role="menuitemradio">
        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Unlinked</div>
      </a>
    </div>
  </details-menu>
</details>
