<%# `view` is an instance of Orgs::People::DestroyInvitationsDialogView  %>

<% dialog_action =  view.action_dialog %>

<div class="Box-header d-flex flex-justify-between">
  <h3 class="Box-title">
    <%= Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:present_participle] + pluralize(view.selected_invitations.size, "invitation") %> from <strong><%= view.organization.login %></strong>
  </h3>
  <button class="Box-btn-octicon btn-octicon" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon "x" %>
  </button>
</div>

<div class="Box-body overflow-auto">
  <p>Invitations for the following members will be <%= Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:past] %></p>

  <div class="confirm-removal-list-container mb-0">
    <ul class="list-style-none">
      <% view.selected_invitations.each do |invitation| %>
        <li class="confirm-removal-list-item">
          <% if invitation.invitee %>
            <%= linked_avatar_for(invitation.invitee, 16, img_class: "avatar") %>
            <%= profile_link(invitation.invitee) %>
          <% else %>
            <%= octicon("mail-read", height: 16, class: "avatar") %>
            <%= invitation.email %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="Box-footer">
  <% invitations_count = view.selected_invitation_ids.length %>
  <% if dialog_action == "retry" %>
    <%= form_tag org_retry_invitations_path(view.organization) do %>
       <% view.selected_invitation_ids.each do |selected_id| %>
          <input type="hidden" name="invitation_ids[]" value="<%= selected_id %>">
        <% end %>
        <input type="hidden" name="redirect_to_path" value="<%= view.redirect_to_path %>">
        <button type="submit" class="btn btn-danger"> <%=  dialog_action.capitalize %>  <%= "invitation".pluralize(invitations_count) %></button>
    <% end %>
  <% else %>
    <%= form_tag org_destroy_invitations_path(view.organization, failed_or_pending_action: Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:past]), :method => :delete do %>
        <% view.selected_invitation_ids.each do |selected_id| %>
          <input type="hidden" name="invitation_ids[]" value="<%= selected_id %>">
        <% end %>
         <input type="hidden" name="redirect_to_path" value="<%= view.redirect_to_path %>">
         <button type="submit" class="btn btn-danger"> <%= dialog_action.capitalize %> <%= "invitation".pluralize(invitations_count) %></button>
    <% end %>
  <% end %>
</div>
