<%# `view` is an instance of Orgs::People::ToolbarActionsView %>
<label for="select-all-checkbox" class="table-list-header-meta py-1 <% if view.selected_members.any? %>sr-only<% end %>">
  <span <%= test_selector('members-toolbar-multi-invite-disabled')%>>Team members</span>
</label>
<% if view.selected_members.any? %>
  <details class="position-relative details-reset details-overlay" <%= test_selector('members-toolbar-drop-down')%>>
    <summary class="btn btn-sm mr-3"
      data-ga-click="Orgs, selected, location:member list bulk; text:selected">
      <%= pluralize view.selected_members.count, "member", "members" %> selected…
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se">
      <% if view.show_role_switcher? %>
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "width-full",
          button_class: "dropdown-item",
          button_text: "Change role…",
          button_role: "menuitem",
          ga_click: "Orgs, change member role, location:member list bulk; text:Change role...",
          title: "Change the role of #{pluralize view.selected_members.size, "member"}?"
        } do %>
          <%= render :partial => "orgs/people/change_role_dialog", :locals => {
                :members          => view.selected_members,
                :member_ids       => view.selected_member_ids,
                :view             => view
              } %>
        <% end %>
      <% end %>
      <% if view.show_hide_membership_button? %>
        <%= form_tag org_set_people_visibility_path(view.organization), :method => :put, :class => 'd-inline' do %>
          <input type="hidden" name="member_ids" value="<%= view.selected_member_ids %>">
          <input type="hidden" name="conceal" value="1">
          <button role="menuitem" type="submit" class="btn-link dropdown-item" data-ga-click="Orgs, hide membership, location:member list bulk; text:Hide membership">
            Hide membership<%= "s" unless view.selected_members.size == 1 %>
          </button>
        <% end %>
      <% end %>
      <% if view.show_convert_to_outside_collaborator_button? %>
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "width-full",
          button_class: "menu-item-danger dropdown-item",
          button_text: "Convert to outside collaborator",
          button_role: "menuitem",
          ga_click: "Orgs, convert member to outside collaborator, location:member list bulk; text:Convert to outside collaborator",
          title: "Convert #{pluralize view.selected_members.size, "member"} to outside #{"collaborator".pluralize(view.selected_members.size)}?",
        } do %>
          <%= render :partial => "orgs/people/convert_to_outside_collaborator_dialog", :locals => {
            :members          => view.selected_members,
            :member_ids       => view.selected_member_ids,
            :bulk             => true
          } %>
        <% end %>
      <% end %>
      <% if view.show_remove_button? %>
        <% url = org_destroy_people_dialog_path(view.organization, redirect_to_path: org_people_path(view.organization)) %>
        <% view.selected_member_ids.split(',').each { |id| url += "&member_ids[]=#{id}" } %>

        <details
          class="details-reset details-overlay details-overlay-dark">
          <summary
            role="menuitem"
            data-ga-click="Orgs, remove from organization, location:member list bulk; text:Remove from organization"
            class="btn-link menu-item-danger dropdown-item">
            Remove from organization
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column" src="<%= url %>" preload>
            <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
          </details-dialog>
        </details>
      <% end %>
    </details-menu>
  </details>
<% end %>
