<%# `view` is an instance of Orgs::People::MemberRoleSelectView %>

<details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
  <div class="select-menu-header">
    <span class="select-menu-title">Organization role</span>
  </div>

  <div class="select-menu-list">
    <%= form_tag org_set_role_path(view.organization), method: :put, class: "inline-form", "data-sudo-required" => "high" do %>
      <input type="hidden" name="member_ids" value="<%= view.selected_members_query_value %>">

      <button
        type="submit"
        name="role"
        value="admin"
        class="btn-plain select-menu-item"
        role="menuitemradio"
        aria-checked="<%= view.admin_selected? %>">

        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading">Owner</span>
          <span class="description">Has full administrative access to the entire organization.</span>
        </div>
      </button>

      <button
        type="submit"
        name="role"
        value="direct_member"
        class="btn-plain select-menu-item"
        role="menuitemradio"
        aria-checked="<%= view.member_selected? %>">

        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading">Member</span>
          <span class="description">
            Can see every member and non-secret team in the organization<% if view.organization.members_can_create_repositories? %>, and can create new repositories<% end %>.
          </span>
        </div>
      </button>
    <% end %>
  </div>
</details-menu>
