<%# `view` is an instance of Orgs::People::IndexPageView %>

<% if view.show_toolbar? && view.organization.direct_or_team_member?(current_user) %>
  <div class="d-flex flex-items-center px-3 table-list-header table-list-header-next bulk-actions-header <% if view.show_admin_stuff? %> js-sticky<% end %>">

    <% if view.show_admin_stuff? %>
      <div class="pr-3" <%= test_selector("member-toolbar-select-all")%>>
        <input type="checkbox" id="select-all-checkbox" data-check-all>
      </div>

      <div class="select-all-dropdown js-bulk-actions flex-auto">
        <%=
          render_partial_view "orgs/people/members_toolbar_actions",
            Orgs::People::ToolbarActionsView,
            :organization     => view.organization,
            :selected_members => []
        %>
      </div>
    <% else %>
      <span class="table-list-heading ml-0 table-list-header-meta flex-auto" <%= test_selector("member-toolbar-non-admin")%>>
        <%= number_with_delimiter view.members_count %> people in the <%= view.organization.safe_profile_name %> organization
      </span>
    <% end %>

    <div class="table-list-header-toggle d-flex py-1">
      <% if view.show_buy_seats_link? %>
        <include-fragment aria-label="Loading..." src="<%= org_licensing_headroom_path(view.organization) %>"></include-fragment>
      <% end %>

      <% if view.show_saml_sso? %>
        <%= render "orgs/people/filter_by_sso", view: view %>
      <% end %>

      <% if view.show_2fa? %>
        <%= render "orgs/people/filter_by_2fa", view: view %>
      <% end %>

      <details class="details-reset details-overlay flex-self-center select-menu" data-filter-on="role">
        <summary class="btn-link py-2 pr-0 select-menu-button">
          Role
        </summary>
        <details-menu class="select-menu-modal position-absolute right-0 mr-n2" style="z-index: 99;">
          <div class="select-menu-header">
            <span class="select-menu-title">Filter by role</span>
          </div>
          <div class="select-menu-list">
            <a href="<%= url_for(query: "") %>"
              class="select-menu-item js-member-search-filter"
              aria-checked="<%= view.role_filter_select_class(:all) == "selected" %>"
              data-filter=""
              role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Everyone</div>
            </a>
            <a href="<%= url_for(query: "role:owner") %>"
              class="select-menu-item js-member-search-filter"
              aria-checked="<%= view.role_filter_select_class(:owner) == "selected" %>"
              data-filter="role:owner"
              role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Owners</div>
            </a>
            <a href="<%= url_for(query: "role:member") %>"
              class="select-menu-item js-member-search-filter"
              aria-checked="<%= view.role_filter_select_class(:member) == "selected" %>"
              data-filter="role:member"
              role="menuitemradio">
              <%= octicon("check", class: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Members</div>
            </a>
          </div>
        </details-menu>
      </details>
    </div>
  </div>
<% end %>

<% if view.show_members? %>
  <ul class="member-listing-next table-list <% if view.organization.direct_or_team_member?(current_user) %>table-list-bordered<% end %> <% if view.show_admin_stuff? %>adminable<% end %>">
    <% verified_domain_emails =  view.show_admin_stuff? ? view.verified_domain_emails_for_members : {} %>
    <% view.members.each do |member| %>
      <%=
        render_partial_view "orgs/people/member",
          Orgs::People::MemberView,
          member: member,
          organization: view.organization,
          verified_domain_emails: verified_domain_emails[member.id] || []
      %>
    <% end %>
  </ul>
<% end %>

<div class="paginate-container">
  <%= will_paginate view.members %>
</div>

<% if view.show_no_members_for_non_member? %>
  <div class="blankslate">
    <%= octicon("organization", :height => 32, :class => "blankslate-icon") %>
    <h3>This organization has no public members.</h3>
  </div>
<% end %>

<% if view.show_no_results? %>
  <div class="blankslate">
    <%= octicon("search", :height => 32, :class => "blankslate-icon") %>
    <h3>We couldn’t find any matching members.</h3>
  </div>
<% end %>
