<%# `view` is an instance of Orgs::People::PendingInvitationToolbarActionsView %>
<label for="select-all-pending" class="table-list-header-meta py-1 <% if view.selected_invitations.any? %>sr-only<% end %>">
  <span
    class="no-underline text-gray-dark"
    <%= test_selector("pending-invitation-toolbar-pending-invites") %>
  >
    <%= pluralize(number_with_delimiter(view.organization.pending_non_manager_invitations.count), "Pending invitation", "Pending invitations") %>
  </span>
</label>
<% if view.selected_invitations.any? %>
  <details class="position-relative details-reset details-overlay">
    <summary class="btn btn-sm mr-3"
      data-ga-click="Orgs, selected, location:pending invitation list bulk; text:selected">
      <%= pluralize view.selected_invitations.count, "invitation", "invitations" %> selected…
      <span class="dropdown-caret"></span>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se">
      <% if view.show_remove_button? %>
        <% url = org_invitations_action_dialog_path(view.organization, redirect_to_path: view.redirect_path, action_dialog: 'cancel') %>
        <% view.selected_invitation_ids.each { |id| url += "&invitation_ids[]=#{id}" } %>

        <details
          class="details-reset details-overlay details-overlay-dark">
          <summary
            role="menuitem"
            data-ga-click="Orgs, remove from organization, location:pending invitation list bulk; text:Cancel invitation"
            class="btn-link menu-item-danger dropdown-item">
            Cancel <%= "invitation".pluralize(view.selected_invitations.count) %>
          </summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column" src="<%= url %>" preload>
            <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
          </details-dialog>
        </details>
      <% end %>
    </details-menu>
  </details>
<% end %>
