<label for="select-all-checkbox" class="table-list-header-meta py-1 <% if selected_invitations.present? %>sr-only<% end %>">
Select all
</label>
<% if selected_invitations.present? %>
  <%= render(GitHub::DialogComponent.new(title: "Cancelling #{pluralize(selected_invitations.size, "invitation")}")) do |dialog| %>
    <% dialog.with(:summary) do %>
      <summary
        class="btn"
        button_text="Cancel <%= pluralize(selected_invitations.size, "invitation") %>">
        Cancel <%= pluralize(selected_invitations.size, "invitation") %>
      </summary>
    <% end %>
    <%= render(Organizations::People::CancelPendingCollaboratorOverlayComponent.new(
      organization: organization,
      invitations: selected_invitations,
      invitees: invitees,
    )) %>
  <% end %>
<% end %>
