<%# erblint:counter TooltipCounter 1 %>
<%# `view` is an instance of Orgs::People::PendingInvitationView %>

<li class="table-list-item member-list-item js-bulk-actions-item <%= "adminable" if view.show_admin_stuff? %>" data-bulk-actions-id="<%= view.invitation.id %>">
  <% if view.show_admin_stuff? %>
    <div class="table-list-cell table-list-cell-checkbox py-3 v-align-middle pr-0 pl-3">
      <input type="checkbox" name="invitation_ids[]" value="<%= view.identifier %>" aria-labelledby="member-<%= view.identifier %>" class="js-bulk-actions-toggle"  data-check-all-item>
    </div>
  <% end %>

  <div class="table-list-cell py-3 pr-0 text-center v-align-middle" style="width: 72px;">
    <% if view.email_invitation? %>
      <div class="d-inline-block">
        <%= octicon("mail-read", height: 48, class: "avatar") %>
      </div>
    <% else %>
      <%= linked_avatar_for view.member, 48, img_class: "avatar", url: view.member_url %>
    <% end %>
  </div>

  <div class="table-list-cell py-3 v-align-middle css-truncate pl-3">
    <% if view.email_invitation? %>
      <span class="d-block css-truncate-target f5 text-gray-dark" id="member-<%= view.email %>" itemprop="name" style="max-width: 220px;"><%= view.name %></span>
    <% else %>
      <%= profile_link view.member, class: "css-truncate-target f4", id: "member-#{view.member}", style: "max-width: 220px;", url: view.member_url do %>
        <%= view.member.profile_name.presence || view.member %>
      <% end %>
      <span class="d-block css-truncate-target f5 text-gray-dark" itemprop="name" style="max-width: 220px;"><%= view.name %></span>
    <% end %>
  </div>

  <div class="text-center table-list-cell py-3 v-align-middle " style="width: 30px;"></div>
  <% if view.organization.direct_or_team_member?(current_user) %>
    <div class="text-left text-gray table-list-cell py-3 v-align-middle f5" style="width: 160px;">
      <span class="tooltipped tooltipped-s" aria-label="<%= view.role_description %>">
        <%= view.role_name %>
      </span>
    </div>
  <% end %>

  <% if view.show_admin_stuff? %>
    <div class="text-gray table-list-cell py-3 v-align-middle pr-3 f5" style="width: 100px;">
      <details class="details-reset details-overlay dropdown float-right">
        <summary class="btn btn-sm select-menu-button">
          <%= octicon("gear", :"aria-label" => "Member settings") %>
        </summary>

        <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-sw">
          <% if view.email_invitation? %>
            <a href="<%= org_edit_email_invitation_path(view.organization, email: view.email) %>" class="dropdown-item" role="menuitem" data-ga-click="Orgs, edit invitation, location:pending invite list; text:Edit invitation">
              Edit invitation
            </a>
          <% else %>
            <a href="<%= org_edit_invitation_path(view.organization, view.member.login) %>" class="dropdown-item" role="menuitem" data-ga-click="Orgs, edit invitation, location:pending invite list; text:Edit invitation">
              Edit invitation
            </a>
          <% end %>

          <details class="details-reset details-overlay details-overlay-dark">
            <summary
              class="btn-link dropdown-item"
              role="menuitem"
              data-ga-click="Orgs, edit invitation, location:pending invite list; text:Cancel invitation">
              Cancel invitation</summary>
            <details-dialog
              class="anim-fade-in fast Box Box--overlay" preload
              src="<%= org_invitations_action_dialog_path(view.organization, "invitation_ids[]": view.invitation.id, redirect_to_path: org_pending_invitations_path(view.organization), action_dialog: 'cancel') %>">
              <include-fragment class="octocat-spinner my-3" aria-label="Loading..."></include-fragment>
            </details-dialog>
          </details>
        </details-menu>
      </details>
    </div>
  <% end %>

  <% unless view.organization.direct_or_team_member?(current_user) %>
    <div class="text-center text-gray table-list-cell py-3 v-align-middle f5 text-right">
      <%= follow_button view.member %>
    </div>
  <% end %>
</li>
