<% if current_permission == active_permission %>
  <span class="label bg-green float-right">Active</span>
<% elsif Ability::ACTION_RANKING[current_permission] < Ability::ACTION_RANKING[active_permission] %>
  <span class="label Label--gray-darker float-right">Inactive</span>
<% end %>
