<%# erblint:counter TooltipCounter 1 %>
<%# view is an instance of Orgs::People::RepositoryPermissionsView %>

<div class="manage-access-remove-footer">
  <% if view.revoke_active_repo_access_button_enabled? %>
    <%= render layout: "shared/details_dialog", locals: {
      details_class: "width-full",
      button_class: "btn btn-block btn-danger",
      button_text: "Remove #{view.repository_permissions.active_permission} access",
      ga_click: "Orgs, remove active repo access, location:active repo access column; text:Remove access",
      title: "#{view.will_retain_access? ? "Decrease" : "Remove"} #{view.person.login}’s access",
    } do %>
      <%= render_partial_view "orgs/people/remove_repo_access_dialog", Orgs::People::RemoveRepoAccessDialogView,
            :organization           => view.organization,
            :person                 => view.person,
            :repository             => view.repository,
            :repository_permissions => view.repository_permissions,
            :active_only            => true %>
    <% end %>
  <% else %>
    <button type="button" disabled class="btn btn-block tooltipped tooltipped-s" aria-label="You can’t decrease access to this repository because the <%= view.organization.login %> organization grants a default permission on all repositories.">
      Remove <%= view.repository_permissions.active_permission %> access
    </button>
  <% end %>
</div>
