<nav class="menu" aria-labelledby="organization-people-label">
<%= form_tag orgs_people_tab_counts_path(view.organization), class: "js-fetch-tab-count", method: :get do %>
  <h3 class="menu-heading" id="organization-people-label">
    Organization permissions
  </h3>

  <%= selected_link_to org_people_path(view.organization), { highlight: :organization_people, class: "menu-item" }.merge(test_selector_data_hash("people-members-tab")) do %>
    Members
    <span>
      <input type="hidden" name="member" value="1">
      <%= render Primer::CounterComponent.new(count: nil, classes: "unstyled-orgs-member-count") %>
    </span>
  <% end %>

  <% if view.organization.adminable_by?(current_user) %>

    <%= selected_link_to org_outside_collaborators_path(view.organization), { highlight: :outside_collaborators, class: "menu-item" }.merge(test_selector_data_hash("people-outside-collaborators-tab")) do %>
      Outside collaborators
      <span>
        <input type="hidden" name="outside_collabo" value="1">
        <%= render Primer::CounterComponent.new(count: nil, classes: "unstyled-orgs-outside-collabo-count") %>
      </span>
    <% end %>

    <%= selected_link_to org_pending_collaborators_path(view.organization), { highlight: :pending_collaborators, class: "menu-item" }.merge(test_selector_data_hash("people-pending-collaborators-tab")) do %>
      Pending collaborators
      <span>
        <input type="hidden" name="pending_collabo" value="1">
        <%= render Primer::CounterComponent.new(count: nil, classes: "unstyled-orgs-pending-collabo-count") %>
      </span>
    <% end %>

    <%= selected_link_to org_pending_invitations_path(view.organization), { highlight: :pending_invitation, class: "menu-item" }.merge(test_selector_data_hash("people-pending-invitation-tab")) do %>
      Pending invitations
      <span>
        <input type="hidden" name="pending_invite" value="1">
        <%= render Primer::CounterComponent.new(count: nil, classes: "unstyled-orgs-pending-invite-count") %>
      </span>
    <% end %>

    <%= selected_link_to org_failed_invitations_path(view.organization), { highlight: :failed_invitation, class: "menu-item" }.merge(test_selector_data_hash("people-failed-invitation-tab")) do %>
      Failed invitations
      <span>
        <input type="hidden" name="failed_invite" value="1">
        <%= render Primer::CounterComponent.new(count: nil, classes: "unstyled-orgs-failed-invite-count") %>
      </span>
    <% end %>
  <% end %>
<% end %>
</nav>

<% if can_manage_munich_seats?(view.organization) %>
  <nav class="menu" aria-label="Seats progress bar" <%= test_selector("manage-seats-option") %>>
    <div class="menu-item">
      <div class="d-flex flex-items-baseline mb-2">
        <div class="flex-auto d-inline-block text-bold">Seats</div>
        <div class="text-small d-inline-block">
          <strong><%= view.organization.filled_seats %></strong> of <%= view.organization.seats %> <%= "seat".pluralize(view.organization.seats) %> used
        </div>
      </div>
      <div class="billing-box-progress">
        <%= render(Primer::ProgressBar::Component.new(size: :small)) do |component| %>
          <% progress_color = view.organization.filled_seats_percent >= 100 ? :yellow_7 : :blue_4 %>
          <% component.slot(:item, bg: progress_color, percentage: view.organization.filled_seats_percent) %>
        <% end %>
      </div>
    </div>
    <div class="menu-item">
      <%= link_to "Manage seats", view.manage_seats_path, class: "d-block f6" %>
    </div>
  </nav>
<% end %>
