<%# `view` is an instance of Orgs::People::MemberView %>

<details-menu class="select-menu-modal position-absolute" style="z-index: 99;">
  <div class="select-menu-header">
    <span class="select-menu-title">Organization visibility</span>
  </div>
  <div class="select-menu-list">
    <%= form_tag org_set_people_visibility_path(view.organization), method: :put do %>
      <input type="hidden" name="member_ids" value="<%= view.member.id %>">

      <button
        type="submit"
        name="publicize"
        value="1"
        class="btn-plain select-menu-item width-full"
        role="menuitemradio"
        aria-checked="<%= view.public_member? %>">

        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading">Public</span>
          <span class="description">Your membership is visible to everyone and is displayed on your public profile.</span>
        </div>
      </button>

      <button
        type="submit"
        name="conceal"
        value="1"
        class="btn-plain select-menu-item width-full"
        role="menuitemradio"
        aria-checked="<%= !view.public_member? %>">

        <%= octicon("check", class: "select-menu-item-icon") %>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading">Private</span>
          <span class="description">Your membership is only visible to other members of this organization.</span>
        </div>
      </button>
    <% end %>
  </div>
</details-menu>
