<%# `view` is an instance of Orgs::People::IndexPageView %>

<%= render responsive: false, layout: "orgs/people/layout", locals: { view: view } do %>
  <% if view.organization.saml_sso_present_enforced? %>
    <div class="flash flash-notice mb-3">
      Membership in this organization is managed by your SAML Identity Provider. Members you invite will not be able to accept the invitation, or will be removed from the organization, unless they are provisioned with the Identity Provider.
    </div>
  <% end %>

  <div
    id="org-pending-invitations-table"
    class="js-check-all-container js-bulk-actions-container"
    data-bulk-actions-url="<%= org_pending_invitation_toolbar_actions_path(view.organization) %>"
    data-bulk-actions-parameter="invitation_ids"
    <%= test_selector("pending-invitations-table")%>
  >
    <%= render_partial_view "orgs/people/pending_invitation_table", view %>
  </div>
<% end %>
