<article class="Box-row">
  <div class="float-right">
    <%= render(Stars::ButtonComponent.new(
      entity: repository.original_repository,
      show_count: false,
      context: "trending"
    )) %>
  </div>

  <h1 class="h3 lh-condensed">
    <%= render(Primer::LinkComponent.new(
      href: repository_path(repository),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_REPOSITORIES_PAGE,
        click_target: :REPOSITORY,
        click_visual_representation: :REPOSITORY_NAME_HEADING,
        actor: current_user,
        record_id: repository.id,
      ),
    )) do %>
      <%= render GitHub::OcticonComponent.new(icon: repository.octicon_name, mr: 1, color: :gray) %>

      <%= render Primer::TextComponent.new(font_weight: :normal) do %>
        <%= repository.owner %> /
      <% end %>

      <%= repository.name %>
    <% end %>
  </h1>

  <% if repository.description.present? %>
    <p class="col-9 text-gray my-1 pr-4">
      <%= formatted_repo_description repository %>
    </p>
  <% end %>

  <div class="f6 text-gray mt-2">
    <% if repository.primary_language.present? %>
      <%= render(Languages::BadgeComponent.new(
        name: repository.primary_language.name,
        display: :inline_block,
        ml: 0,
        mr: 3,
      )) %>
    <% end %>

    <% if repository.stargazer_count > 0 %>
      <%= render(Primer::LinkComponent.new(
        display: :inline_block,
        href: gh_stargazers_path(repository.original_repository),
        mr: 3,
        muted: true,
      )) do %>
        <%= render GitHub::OcticonComponent.new(icon: "star", aria: { label: "star" }) %>
        <%= number_with_delimiter repository.stargazer_count %>
      <% end %>
    <% end %>

    <% if repository.network_count > 0 %>
      <%= render(Primer::LinkComponent.new(
        display: :inline_block,
        href: gh_fork_network_path(repository),
        mr: 3,
        muted: true,
      )) do %>
        <%= render GitHub::OcticonComponent.new(icon: "repo-forked", aria: { label: "fork" }) %>
        <%= number_with_delimiter repository.network_count %>
      <% end %>
    <% end %>

    <% if repository.contributor_profile_links(force_cache_miss: params[:force_cache_miss]).any? %>
      <%= render Primer::TextComponent.new(display: :inline_block, mr: 3) do %>
        Built by

        <% repository.contributor_profile_links.each do |link| %>
          <%= link %>
        <% end %>
      <% end %>
    <% end %>

    <% if repository.stargazer_count.positive? %>
      <%= render Primer::TextComponent.new(display: :inline_block, float: :sm_right) do %>
        <%= render GitHub::OcticonComponent.new(icon: "star") %>
        <%= "#{number_with_delimiter(
          repository.stars_since(period: since.to_sym)
        )} stars #{since_text(since)}" %>
      <% end %>
    <% end %>
  </div>
</article>
