<%# erblint:counter TooltipCounter 2 %>

<div class="<%= timeline_item_classes %>">
  <div class="TimelineItem-badge <%= badge_color %>">
    <%= render GitHub::OcticonComponent.new(icon: badge_octicon) %>
  </div>
  <div class="TimelineItem-body text-gray-light">
    <%= linked_avatar_for(sponsor, 20, img_class: "avatar") %>
    <%= profile_link(sponsor, class: "author link-gray-dark text-bold") %><% if is_possessive? %>'s<% end %>
    <%= bot_identifier(sponsor) %>

    <% if @activity.is_sponsor_match_disabled? %>
      sponsorship of <span class="text-bold text-gray-dark"><%= price %></span>/<%= cycle %>
      is no longer being matched
    <% else %>
      <%= description %>
      <% if @activity.is_pending_change? %>
        <span class="tooltipped tooltipped-n tooltipped-multiline" aria-label="This sponsorship will change at the start of the sponsor's next billing cycle">
          <%= render(GitHub::OcticonComponent.new(icon: "info", color: :gray, mr: 1)) %>
        </span>
      <% end %>

      <% if @activity.is_tier_change? || @activity.is_pending_tier_change? %>
        from <span class="text-bold text-gray-dark"><%= old_price %></span>/<%= cycle %>
        to <span class="text-bold text-gray-dark"><%= price %></span>/<%= cycle %>
      <% elsif @activity.is_pending_cancellation? %>
        for <span class="text-bold text-gray-dark"><%= old_price %></span>/<%= cycle %>
      <% else %>
        for <span class="text-bold text-gray-dark"><%= price %></span>/<%= cycle %>
      <% end %>
    <% end %>

    <% if show_matching_icon? %>
      <span
        class="Label tooltipped tooltipped-s"
        aria-label="This contribution was matched"
        style="background: #FFEDF9; color: #771951; border-bottom-color: #E7D4DF;"
        <%= test_selector("activity-matching-icon") %>>
        2x
      </span>
    <% end %>

    <%= time_ago_in_words_js(@activity.timestamp) %>
  </div>
</div>
