<div class="float-right position-relative">
  <details class="details-reset details overlay">
    <summary class="btn btn-sm">
      <i>Period:</i>
      <span data-menu-button><%= title(@period) %></span>
    </summary>

    <div class="SelectMenu right-0">
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <h3 class="SelectMenu-title">Filter Activity</h3>
        </header>

        <div class="SelectMenu-list" role="menu">
          <% SponsorsActivity::VALID_PERIODS.each do |period_option| %>
            <a
              href="<%= sponsorable_dashboard_activity_path(@sponsorable.login, period: period_option) %>"
              class="SelectMenu-item" aria-checked="<%= selected?(period_option) %>" role="menuitemradio"
              <%= test_selector("selected-period") if selected?(period_option) %>>
              <%= render GitHub::OcticonComponent.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <span class="select-menu-item-text" data-menu-button-text><%= title(period_option) %></span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </details>
</div>
