<% content_for :header do %>
  You've been invited as the first administrator of your GitHub Private Instance.
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "GitHub Private Instance", icon: "enterprise.png")) %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Your username on your instance is <strong><%= @user.login %></strong>.<br>
  Click below to set your password.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Set your password",
      url: @reset_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  This link will expire in <%= pluralize(@hours_until_expiry, "hour") %>.<br>
  To get a new password reset link,
  <%= link_to "click here", "#{@url}/password_reset" %>.
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  After setting your password, sign in at
  <%= link_to "#{@url}/login", "#{@url}/login" %>
  to begin configuring your instance.
</p>

<% content_for :footer_text do %>
  You're receiving this email because you have been invited as the first administrator of your GitHub Private Instance.
<% end %>
