Someone has created an account for you on a GitHub Enterprise Server instance.

Your username on your instance is <%= @user.login %>. Your email on the instance is <%= @user.email.html_safe %>.

Use the link below to set your password.

<%= @reset_link %>

This link will expire in <%= pluralize(@hours_until_expiry, "hour") %>. To get a new password reset link, visit <%= @url %>/password_reset

After setting your password, sign in at <%= @url %>/login to begin using your instance.

You're receiving this email because someone created an account for you on a GitHub Enterprise Server instance.
