You've been invited as the first administrator of your GitHub Private Instance.

Your username on your instance is <%= @user.login %>. Use the link below to set your password.

<%= @reset_link %>

This link will expire in <%= pluralize(@hours_until_expiry, "hour") %>. To get a new password reset link, visit <%= @url %>/password_reset

After setting your password, sign in at <%= @url %>/login to begin configuring your instance.

You're receiving this email because you have been invited as the first administrator of your GitHub Private Instance.
