<%= render layout: "sponsors/dashboards/layout", locals: { sponsorable: sponsorable, selected_tab: :profile } do %>
  <%= render Sponsors::Dashboard::Profile::ShowComponent.new(sponsorable: sponsorable, current_user: current_user) %>
<% end %>
