<article class="Box-row d-flex" id="pa-<%= developer %>">
  <%= render(Primer::LinkComponent.new(
    color: :gray,
    href: "#pa-#{developer}",
    style: "width: 16px;",
    font_size: 6,
    text: :center,
  )) do %>
    <%= developer_counter + 1 %>
  <% end %>

  <div class="mx-3">
    <%= render(Primer::LinkComponent.new(
      href: user_path(developer),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_DEVELOPERS_PAGE,
        click_target: :OWNER,
        click_visual_representation: :TRENDING_DEVELOPER,
        actor: current_user,
        record_id: developer.id,
      ),
    )) do %>
      <%= avatar_for(developer.original_user, 48, class: "rounded-1") %>
    <% end %>
  </div>

  <div class="d-sm-flex flex-auto">
    <div class="col-sm-8 d-md-flex">
      <div class="col-md-6">
        <h1 class="h3 lh-condensed">
          <%= render(Primer::LinkComponent.new(
            href: user_path(developer),
            data: explore_click_tracking_attributes(
              click_context: :TRENDING_DEVELOPERS_PAGE,
              click_target: :OWNER,
              click_visual_representation: :TRENDING_DEVELOPER,
              actor: current_user,
              record_id: developer.id,
            ),
          )) do %>
            <%= developer.profile_name || developer.name %>
          <% end %>
        </h1>

        <% if developer.profile_name.present? %>
          <p class="f4 text-normal mb-1">
            <%= render(Primer::LinkComponent.new(
              classes: "link-gray",
              href: user_path(developer),
              data: explore_click_tracking_attributes(
                click_context: :TRENDING_DEVELOPERS_PAGE,
                click_target: :OWNER,
                click_visual_representation: :TRENDING_DEVELOPER,
                actor: current_user,
                record_id: developer.id,
              ),
            )) do %>
              <%= developer.name %>
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="col-md-6">
        <% if developer.most_popular_repository.present? %>
          <div class="mt-2 mb-3 my-md-0">
            <%= render "trending/repo_snip", repo_snip: developer.most_popular_repository %>
          </div>
        <% else %>
          <div class="f5 text-gray my-2 my-md-0">
            <%= render "users/quick_info", user: developer %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4 d-flex flex-sm-justify-end ml-sm-3">
      <% if developer.sponsorable_by?(current_user) || developer.already_sponsored_by?(current_user) %>
        <div class="mr-2">
          <%= render(Primer::LinkComponent.new(
            classes: "btn btn-sm btn-block",
            href: sponsorable_path(developer),
          )) do %>
            <%= render(GitHub::OcticonComponent.new(
              classes: (
                developer.already_sponsored_by?(current_user) ? "icon-sponsoring" : "icon-sponsor"
              ),
              color: :pink,
              icon: developer.already_sponsored_by?(current_user) ? "heart" : "heart-outline",
              vertical_align: :middle,
            )) %>
            <%= render Primer::TextComponent.new(ml: 1) do %>
              <%= developer.already_sponsored_by?(current_user) ? "Sponsoring" : "Sponsor" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="user-profile-following-container">
        <div class="user-following-container">
          <%= follow_button developer.original_user, classes: "btn btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
</article>
