<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::LockedIp::LockedIpView.new(:ip_address => @ip_address) %>

<% page_info :title => view.page_title %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Locked IPs</h3>
    <div class="boxed-group-inner">
      <%= form_tag stafftools_locked_ip_path, :method => :get do %>
        <dl class="form-group">
          <dt>
            <label>IP Address</label>
          </dt>
          <dd>
            <%= text_field_tag :ip_address, @query_string, :placeholder => "exact IP required" %>
          </dd>
        </dl>
        <dl class="form-group">
          <dd>
            <button type="submit" class="btn">Search</button>
          </dd>
        </dl>
      <% end %>
      <% if @ip_address %>
        <div class="boxed-group">
          <h3>IP Lockout</h3>
          <div class="boxed-group-inner clearfix">
            <h4>Remove IP Lockout</h4>
            <% if view.at_auth_limit? %>
              <a href="#lockout_remove_confirm" rel="facebox"
                 class="btn btn-danger boxed-action">
                Remove Lockout for <%= @ip_address %>
              </a>
              <p>
                Lockout for <%= @ip_address %> will automatically unlock <%= time_ago_in_words_js(view.expiration) %>.
                <br>
                This will remove the lockout for this IP and allow users to login<% if GitHub.web_ip_lockouts_enabled? %>and use the API/git<% end %>.
              </p>
            <% else %>
              <button type="submit" class="btn btn-danger boxed-action" disabled>
                Remove Lockout for <%= @ip_address %>
              </button>
              <p>
                There is no lockout for <%= @ip_address %>.
              </p>
            <% end %>

            <div id="lockout_remove_confirm" style="display:none">
              <div class="facebox-alert">
                Hold it!
              </div>
              <p>
                Removing this lockout should only be done after verifying audit log
                activity for
                <%= link_to @ip_address, stafftools_audit_log_path(:query => @ip_address) %>.
                Please use the audit log to help determine whether there are
                recurring attempts to brute force user passwords to compromise
                accounts.
              </p>
              <%= form_tag stafftools_remove_locked_ip_path(@ip_address), :method => :delete, :class => 'stafftools-form'  do %>
                <div class="facebox-footer">
                  <button type="submit" class="btn">
                    Remove Lockout
                  </button>
                </div>
              <% end %>
            </div>

            <h4>Whitelist Status</h4>
              <% if view.whitelisted? %>
                <p> <% GitHub.web_ip_lockouts_enabled? ? "Authentication attempts" : "API and git authentication attempts" %> from this IP will not be rate limited for <strong><%= time_ago_in_words(view.whitelist_entry.expires_at) %></strong>.</p>
                <ul class="boxed-group-list comments js-details-container Details standalone">
                  <li>
                    <a href="#create_whitelist_entry" rel="facebox" class="btn btn-sm">
                      <%= octicon("pencil") %>
                    </a>
                    <%= form_tag stafftools_unwhitelist_ip_path(@ip_address), :method => :delete do %>
                      <button type="submit" class="btn btn-sm btn-danger" aria-label="Delete">
                        <%= octicon("trashcan") %>
                      </button>
                    <% end %>
                    <%= avatar_for view.whitelist_entry.creator, 20 %>
                    <strong><%= view.whitelist_entry.creator %></strong>
                    <br>
                    <p><%= view.whitelist_entry.note %></p>
                  </li>
                </ul>
              <% else %>
                <a href="#create_whitelist_entry" rel="facebox" class="btn boxed-action">Create Whitelist Entry</a>
                <p>This IP address is not whitelisted.</p>
              <% end %>

            <div id="create_whitelist_entry" style="display:none">
              <div class="facebox-header" data-facebox-id="facebox-header">
                <%= view.whitelisted? ? "Update" : "Create" %> Whitelist Entry
              </div>
              <%= form_tag stafftools_whitelist_ip_path(@ip_address), :method => :post, :class => 'stafftools-form'  do %>
                <dl class="form-group">
                  <dt><label for="expire-in">Expire in</label></dt>
                  <dd>
                    <input name="expires_value" id="expire-in" type="text" class="form-control shorter input-sm required" placeholder="10">
                    <select name="expires_unit" class="form-select">
                      <option value="minutes">minutes</option>
                      <option value="hours">hours</option>
                      <option value="days">days</option>
                      <option value="months">months</option>
                      <option value="years">years</option>
                    </select>
                  </dd>
                </dl>
                <dl class="form-group">
                  <dt><label>Note</label></dt>
                  <dd><input name="note" type="text" class="form-control required" placeholder="Unhackathonicon"></dd>
                </dl>
                <div class="facebox-footer">
                  <button type="submit" class="btn"><%= view.whitelisted? ? "Update" : "Create" %></button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
