<%
  source = issue.pull_request? ? issue.pull_request : issue
%>

<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <%= form_tag set_memexes_on_content_path(org: issue.repository.owner, content_id: source.id, content_type: source.class.name),
        method: :put, :class => "js-issue-sidebar-form", "aria-label": "Set table" do %>
    <%= render partial: "issues/sidebar/memexes_menu", locals: { issue: issue } %>
    <%= render partial: "issues/sidebar/memexes", locals: { issue: issue } %>
  <% end %>
</div>
