<div class="discussion-sidebar-item sidebar-progress-bar js-discussion-sidebar-item">
  <%= form_tag set_milestone_issue_path(current_repository.owner, current_repository, issue.number, :partial => "issues/sidebar/show/milestone"),
        method: :put, :class => "js-issue-sidebar-form", "aria-label": "Select milestones" do %>
    <%= render :partial => "issues/sidebar/milestone_menu", :locals => { :issue => issue } %>
    <%= render :partial => "issues/sidebar/milestone", :locals => { :issue => issue } %>
  <% end %>
</div>
