<div class="discussion-sidebar-item sidebar-notifications">
  <div class="discussion-sidebar-heading text-bold">GitHub Pages Previews</div>
  <div class="js-socket-channel js-updatable-content">
    <%= form_tag pages_toggle_preview_deployment_path, method: :put, :class => "js-pages-preview-toggle-form" do -%>
      <input type="hidden" name="pages_ref_name" value="<%= utf8(issue.pull_request.head_ref) %>">

      <button class="btn btn-sm" type="submit">
        <%= preview_pages_button_text(issue) %>
      </button>
    <% end %>
  </div>
</div>
