<%
  pull = local_assigns[:pull_request]
  convert_to_draft_url = pull_request_convert_to_draft_path(current_repository.owner, current_repository, pull)
%>

<%= form_tag convert_to_draft_url do %>
  <button class="btn btn-sm" type="submit" <%= "disabled" unless pull.open? && !pull.draft? %> data-disable-with>Pause review</button>
<% end %>
