<%
  show_columns_menu ||= false
  project_cards ||= issue.visible_cards_for(current_user).to_a
%>

<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <%= form_tag repo_project_issues_path(issue.repository.owner, issue.repository, issue.number), method: :put, class: "js-issue-sidebar-form", "aria-label": "Select projects" do %>
    <%= render partial: "issues/sidebar/projects_menu", locals: { issue: issue } %>
    <%= render partial: "issues/sidebar/projects", locals: { issue: issue, project_cards: project_cards, show_columns_menu: show_columns_menu } %>
  <% end %>
</div>
