<%
  pull_requests = close_issue_references_for(issue_or_pr: issue).take(10)
  reference_location = "ISSUE_SIDEBAR" unless reference_location
  total_pull_requests_count = pull_requests.count
  number_to_show = 5
  initial_pull_requests_to_show = pull_requests.take(number_to_show)
%>

<p>Successfully merging a pull request may close this issue.</p>

<% if pull_requests.none? %>
  None yet
<% else %>
  <% if unauthorized_ip_whitelisting_targets.any? %>
    <% unauthorized_ip_whitelisting_targets.each do |restricted_target| %>
      <div class="pb-1 d-flex">
        <div class="pt-1">
          <%= octicon "shield-lock", height: 16, class: "text-gray mr-1" %>
        </div>
        <p class="note m-0">
          <%= restricted_ip_whitelisting_target_hint(restricted_target, text: "to view results") %>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if unauthorized_saml_targets.any? %>
    <% unauthorized_saml_targets.each do |restricted_target| %>
      <div class="pb-1 d-flex">
        <div class="pt-1">
          <%= octicon "shield-lock", :height => 16, :class => "text-gray mr-1" %>
        </div>
        <p class="note m-0">
          <%= restricted_sso_target_link(restricted_target, return_to: source_url, text: "to view results") %>
        </p>
      </div>
    <% end %>
  <% end %>
  <% initial_pull_requests_to_show.each do |pull_request| %>
    <div class="css-truncate my-1">
      <% hydro_data = xrefs_hydro_attributes(issue_id: issue.id, pull_request_id: pull_request.id, reference_location: reference_location) %>
      <% hovercard_data = hovercard_data_attributes_for_issue_or_pr(pull_request) %>
      <a href="<%= pull_request_path(pull_request) %>" <%= safe_data_attributes(hydro_data.merge(hovercard_data)) %> class="link-gray-dark text-bold css-truncate-target width-fit">
        <%= issue_pr_state_octicon_ar(pull_request) %>
        <%= pull_request.title %>
      </a>
    </div>
  <% end %>
  <% if total_pull_requests_count > number_to_show %>
    <div class="Details js-details-container">
      <div class="Details-content--hidden">
        <% additional_pull_requests = pull_requests[number_to_show..-1] %>
        <% additional_pull_requests.each do |pull_request| %>
          <div class="css-truncate my-1">
            <% hydro_data = xrefs_hydro_attributes(issue_id: issue.id, pull_request_id: pull_request.id, reference_location: reference_location) %>
            <% hovercard_data = hovercard_data_attributes_for_issue_or_pr(pull_request) %>
            <a href="<%= pull_request_path(pull_request) %>" <%= safe_data_attributes(hydro_data.merge(hovercard_data)) %> class="link-gray-dark text-bold css-truncate-target width-fit">
              <%= issue_pr_state_octicon_ar(pull_request) %>
              <%= pull_request.title %>
            </a>
          </div>
        <% end %>
      </div>
      <button type="button" class="js-details-target btn-link" aria-expanded="false">
        <span class="Details-content--shown">See more <%= octicon("triangle-down", width: 10, height: 14) %></span>
        <span class="Details-content--hidden">See less <%= octicon("triangle-up", width: 10, height: 14) %></span>
      </button>
    </div>
  <% end %>
<% end %>
