<%
  if local_assigns[:revisions_count].to_i > 1
    text = "Review is currently paused"
    button_text = "Ready for next round"
  else
    text = "Reviewers haven't been notified yet"
    button_text = "Ready for review"
  end
%>

<div class="flash flash-warn p-2">
  <p class="text-small"><%= text %></p>
  <%= form_tag pull_request_ready_for_review_path do %>
    <input type="hidden" name="pull_request_id" value="<%= local_assigns[:pull_request].global_relay_id %>">
    <button class="btn btn-sm btn-primary" type="submit" data-disable-with><%= button_text %></button>
  <% end %>
</div>
