<% pull_request_revisions_enabled = current_repository.pull_request_revisions_enabled? && pull_request.revisions.count > 0 %>

<div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item position-relative" data-team-hovercards-enabled>
  <%= form_tag create_review_request_path(current_repository.owner, current_repository, pull_request, pr_global_id: pull_request.global_relay_id),
      :method => :post, :class => "js-issue-sidebar-form", "aria-label": "Select reviewers" do %>
    <%= render partial: "issues/sidebar/reviewers_menu", locals: {
          pull_request: pull_request,
          data_source: reviewers_menu_content_path(current_repository.owner, current_repository, pull_request)
        } %>
    <%= render partial: "issues/sidebar/reviewers", locals: {
          pull_request: pull_request,
          suggested_reviewers: local_assigns[:suggested_reviewers]
        } %>
    <% if !pull_request_revisions_enabled && pull_request.can_convert_to_draft?(current_user) %>
      <%= render partial: "issues/sidebar/convert_to_draft", locals: {
        pull_request: pull_request
      } %>
    <% end %>
  <% end %>

  <% if pull_request_revisions_enabled && pull_request.can_convert_to_draft?(current_user) && pull_request.author_or_committer?(current_user) %>
      <%= render partial: "issues/sidebar/show/pause_review", locals: { pull_request: pull_request } %>
    <% end %>
</div>
