<%= link_to(
  "Sign in to comment",
  login_path_with_return,
  rel: "nofollow",
  class: "btn btn-block",
  data: sign_in_link_data_attributes(location_in_page: "mobile discussion comment")
) %> or
<%= link_to(
  "sign up",
  signup_path,
  rel: "nofollow",
  data: sign_up_link_data_attributes(location_in_page: "mobile discussion comment")
) %> to join this conversation on GitHub
