<% is_linkable = local_assigns.key?(:permalink_id) %>
<% if is_linkable || is_updatable || is_deletable %>
  <% meta ||= {} %>
  <div class="ml-2 hide-when-editing">
    <details class="details-reset details-overlay details-overlay-dark">
      <summary class="btn-link muted-link height-full">
        <%= octicon('kebab-horizontal') %>
      </summary>

      <div class="details-dialog Box Box--overlay anim-fade-in fast lh-default rounded-1" role="dialog">
        <div class="p-3">
          <% if is_linkable %>
            <clipboard-copy class="btn btn-block js-clipboard-copy" for="<%= permalink_id %>" role="menuitem">
              <%= octicon('link') %> Copy link
            </clipboard-copy>
          <% end %>

          <% if is_updatable %>
            <button type="submit" class="btn btn-block js-comment-edit-button" aria-label="Edit comment">
              <%= octicon('pencil') %> Edit
            </button>
          <% end %>

          <% if is_deletable %>
            <%= form_tag path, :method => :delete, :class => "mt-2" do %>
              <%- meta.each do |name, value| %>
                <input type="hidden" name="<%= name %>" value="<%= value %>">
              <% end %>
              <button
                type="submit"
                class="btn btn-block btn-danger js-comment-delete-button"
                data-confirm-text="Are you sure you want to delete this comment?"
                aria-label="Delete comment">
                <%= octicon('x') %> Delete
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
    </details>
  </div>
<% end %>
