<% closeable ||= false
   sha       ||= false
%>

<div class="discussion-block-header">
  Comment on <%= sha || discussion_type %>
</div>
<div class="discussion-reply-container">
  <% if logged_in? %>
    <% if discussion.is_a?(Issue) && discussion.locked? && !current_repository.writable_by?(current_user) %>
      <div class="discussion-reply">
        <textarea class="form-control input-block" disabled placeholder="<%= discussion.locked_reason %>" rows="5"></textarea>

        <div>
          <button type="submit" class="btn btn-primary disabled">Comment</button>
        </div>
      </div>
    <% elsif current_user.must_verify_email? %>
      <div class="discussion-reply">
        <div class="bubble bubble-disabled no-margin">
          <div class="bubble-content">
            <%= octicon("mail-read", :height => 32) %>
            <p>You need to <%= link_to "verify your email address", settings_user_emails_path %> before you can join the conversation.</p>
          </div>
        </div>
      </div>
    <% elsif discussion.is_a?(Gist) %>
      <%= form_tag form_path do %>
        <div class="discussion-reply">
          <textarea class="form-control input-block js-comment-and-field" name="comment[body]" placeholder="Leave a comment" rows="5"></textarea>

          <div>
            <button type="submit" class="btn btn-primary" data-disable-with="Commenting…">Comment</button>
          </div>
        </div>
      <% end %>
    <% elsif current_repository_writable? %>
      <%= form_tag form_path do %>
        <div class="discussion-reply">
          <input type="hidden" name="<%= discussion_type %>" value="<%= discussion_number %>">
          <textarea class="form-control input-block js-comment-and-field" name="comment[body]" placeholder="Leave a comment" rows="5"></textarea>

          <div>
            <%= render "issues/form_buttons", issue: discussion, issue_node: issue_node if closeable %>
            <button type="submit" class="btn btn-primary" data-disable-with="Commenting…">Comment</button>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="comment-sign-in-container">
      <%= render :partial => "mobile/discussions/comment_sign_in" %>
    </div>
  <% end %>
</div>
