<%graphql
  fragment Comment on Comment {
    author {
      login
    }

    lastUserContentEdit {
      editedAt

      editor {
        login
      }
    }
  }
%>
<%
comment = Views::Mobile::Discussions::EditedInfo::Comment.new(comment)
is_edited = comment.last_user_content_edit.present?
%>

<% if is_edited %>
  <%
  latest_edit = comment.last_user_content_edit
  editor_login = latest_edit.editor ? latest_edit.editor&.login : GitHub.ghost_user_login
  %>
  <% if comment.author && editor_login == comment.author.login %>
    &#8226; edited <%= time_ago_in_words latest_edit.edited_at %> ago
  <% else %>
    &#8226; <a href="/<%= editor_login %>" class="editor"><%= editor_login %></a> edited <%= time_ago_in_words latest_edit.edited_at %> ago
  <% end %>
<% end %>
