<%graphql
  fragment Comment on Comment {
    ...CommentsHelper::CommentFragment
    ...Views::Mobile::Discussions::Comment::Author::Comment
    ...Views::Mobile::Discussions::Comment::PublishedAt::Comment
    ...Views::Mobile::Discussions::Reactions::Subject
    ...Views::Mobile::Discussions::SuggestedChanges::Comment
    ...Mobile::Discussions::CommentView::CommentFragment
  }
%>
<%
  comment = Views::Mobile::Discussions::InlineComment::Comment.new(comment)
  view = Mobile::Discussions::CommentView.new(comment)
  meta ||= {}
%>

<div class="js-comment-container js-suggested-changes-container">
  <% if view.minimized? %>
    <%=
    render partial: "mobile/discussions/minimized_comment_header", locals: {
      minimized_reason: view.minimized_reason, spammy: view.spammy?
    }
    %>
  <% end %>
  <div class="discussion-item-review-comment px-3 js-comment <%= view.minimized? ? "js-minimizable-comment pb-3 pl-5 d-none" : "pt-3 pb-2" %>" id="<%= view.subject_dom_id %>">
    <div class="d-flex flex-row discussion-item-header">
      <div class="flex-auto hide-when-editing">
        <%= render partial: "mobile/discussions/comment/author", locals: { comment: comment } %>
        <%=
        render partial: "mobile/discussions/comment/published_at", locals: {
          comment: comment, subject_dom_id: view.subject_dom_id, permalink_dom_id: view.permalink_dom_id
        }
        %>
      </div>

      <%=
      render partial: "mobile/discussions/comment_actions", locals: {
        path: view.update_resource_path,
        is_updatable: view.updatable?,
        is_deletable: view.deletable?,
        permalink_id: view.permalink_dom_id,
        meta: meta,
      }
      %>
    </div>

    <div class="comment-body hide-when-editing markdown-body p-0 pt-2 f5">
      <%= view.comment_body_html unless !logged_in? && view.minimized? %>
    </div>

    <% if view.updatable? %>
      <%=
      render partial: "mobile/discussions/comment_edit_form", locals: {
        path: view.update_resource_path,
        input_name: view.commit_comment? ? "commit_comment" : "pull_request_review_comment",
        body: view.comment_body,
        body_version: view.comment_body_version,
        meta: meta
      }
      %>
    <% end %>

    <% if view.suggested_changes_enabled? %>
      <%= render partial: "mobile/discussions/suggested_changes", locals: { comment: comment } %>
    <% end %>

    <% if view.reactable? && !view.minimized? %>
      <%=
      render partial: "mobile/discussions/reactions", locals: {
        subject: comment,
        container_style: "mt-2",
        subject_dom_id: view.subject_dom_id
      }
      %>
    <% end %>
  </div>
</div>
