<%# erblint:disable ButtonHasType %>
<div class="js-mobile-minimized d-flex flex-justify-between p-3 text-gray text-small">
  <span class="text-italic">
    <%= render partial: "comments/minimized_comment_header", locals: { minimized_reason: minimized_reason, spammy: spammy } %>
  </span>
  <% if logged_in? %>
    <button class="btn-link text-gray js-mobile-show-minimized"><%= octicon("unfold") %> Show</button>
    <button class="btn-link text-gray js-mobile-hide-minimized d-none"><%= octicon("fold") %> Hide</button>
  <% else %>
    <%= link_to(
      "Sign in to view",
      login_path_with_return,
      rel: "nofollow",
      class: "text-small link-gray",
      data: sign_in_link_data_attributes(location_in_page: "mobile minimized comment")
    ) %>
  <% end %>
</div>
