<%# rubocop:disable GraphQL/Overfetch %>
<%graphql
  fragment on PullRequestReviewThread {
    id

    comments(first: 5) {
      nodes {
        resourcePath

        ...Views::Mobile::Discussions::InlineComment::Comment
      }

      totalCount
      pageInfo {
        endCursor
      }
    }

    lastComments: comments(skip: 5, last: 5) {
      nodes {
        resourcePath

        ...Views::Mobile::Discussions::InlineComment::Comment
      }

      pageInfo {
        startCursor
      }
    }
  }
%>
<% thread = Views::Mobile::Discussions::PullRequestReviewThread.new(thread) %>

<% thread.comments.nodes.each do |comment| %>
  <%= render partial: "mobile/discussions/inline_comment", locals: { comment: comment } %>
<% end %>

<% if thread.comments.total_count > 10 %>
  <%= render "mobile/discussions/comment_thread/comments_loader", {
        id: thread.id,
        after: thread.comments.page_info.end_cursor,
        before: thread.last_comments.page_info.start_cursor
  } %>
<% end %>

<% thread.last_comments.nodes.each do |comment| %>
  <%= render partial: "mobile/discussions/inline_comment", locals: { comment: comment } %>
<% end %>
