<%graphql
  fragment Subject on Reactable {
    reactionGroups {
      users {
        totalCount
      }
    }

    ...Views::Mobile::Discussions::Reactions::Groups::Subject
  }
%>
<%
  subject = Views::Mobile::Discussions::Reactions::Subject.new(subject)
  reaction_groups_with_reactions = subject.reaction_groups.select { |group| group.users.total_count > 0 }

  # the partial can have `container_style` passed as local vars to override the styles
  container_style ||= ""
%>

<div class="comment-reactions hide-when-editing <% if reaction_groups_with_reactions.any? %>has-reactions<% end %> js-reactions-container">
  <div class="comment-reactions-options <%= container_style %>">
    <%= render partial: "mobile/discussions/reactions/groups", locals: { subject: subject, subject_dom_id: subject_dom_id } %>
  </div>
</div>
