<% partial_view = Diff::ReviewCommentCodeLinesPartialView.new({
    :current_user => current_user,
    :repository => current_repository,
    :thread => thread,
    :threads => ReviewThreads.new([thread]),
    :syntax_highlighted_diffs_enabled => syntax_highlighted_diffs_enabled?,
    :expandable => false,
    # We render comments for the timeline via a partial in a different spot ...
    # so don't render comments in mobile/diff/diff_lines
    :show_comments => false
  }) %>

<div id="<%= timeline_diff_id(thread) %>" class="diff-view">
  <div class="file <%= 'soft-wrap' if soft_wrap?(partial_view.path) %>">
    <div class="inline-review-comment highlight">
      <table class="file-code file-diff">
        <% if partial_view.excerpt_offset > 0 %>
          <tr class="file-diff-line text-shadow-light gc">
            <td class="blob-num" data-line-number="..."></td>
            <td class="blob-num" data-line-number="..."></td>
            <td class="blob-code blob-code-inner">((<%= number_with_delimiter(partial_view.excerpt_offset) %> lines not shown))</td>
          </tr>
        <% end %>
        <%= render :partial => "mobile/diff/diff_lines", :locals => { :view => partial_view } %>
      </table>
    </div>
  </div>
</div>
