<%# erblint:disable LinkHasHref %>
<div class="timeline-review-comment-thread-container js-details-container Details <% if !thread.live? %>dead<% end %>">
  <% if !thread.live? %>
    <a href="#" class="js-details-target dead-pull-request-review-comment">
      <%= octicon("unfold") %>
      <%= octicon("fold") %>
      <strong class="username"><%= thread.comments.first.safe_user.login %></strong>
      discussed an outdated diff
      <%= time_ago_in_words thread.comments.first.created_at %> ago.
      <strong class="show-diff">Show conversation</strong>
      <strong class="hide-diff">Hide conversation</strong>
    </a>
  <% end %>

  <div class="timeline-review-comment-thread">
    <%= render :partial => "mobile/discussions/timeline_diff", :locals => {
          :thread => thread
        } %>

    <table class="timeline-inline-comments">
      <tbody>
        <%=
        render :partial => "mobile/diff/deprecated_inline_comments", :locals => {
          :threads => [thread],
          :comment_context => :discussion,
          :timeline_diff_anchor => timeline_diff_id(thread)
        }
        %>
      </tbody>
    </table>
  </div>
</div>
