<%#
  These represent when a Referrer object mentions a Referenceable object
  (like if I'm looking at Issue 234 and someone did #234 from a comment
  in some other issue). Check app/models/cross_reference.rb for more.
%>
<% if view.show? %>
  <div class="discussion-block">
    <div class="bubble cross-reference">
      <div class="bubble-title <% if view.show_private? %>private<% end %>">
        <% if view.show_private? %><%= octicon("lock") %><% end %>
        <%= link_author view.reference.actor, :class => "username" %>
        <strong>referenced</strong> this <%= view.target_noun %> from another <%= view.source_noun %>
      </div>

      <div class="bubble-content">
        <strong>
          <%= link_to view.source do %>
            #<%= view.source_number %> <%= view.source.title %>
          <% end %>
        </strong>

        <% if view.reference.source.repository != view.reference.target.repository %>
          in <%= view.reference.source.repository.name_with_owner %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
