<%#
  These are commits. Check:

  - app/models/commit.rb
  - vendor/internal-gems/grit/lib/grit/commit.rb
  - lib/github/grit/commit.rb

  for more.
%>

<div class="timeline-commits-container">
  <div class="commits-header">
    <%= octicon("repo-push") %>

    <%= link_to_commit_actor(commits.first, :author, :truncate => true, :class => "author") %>

    <% if commits.map { |commit| commit.author || commit.author_email }.uniq.size > 1 %>
      and others
    <% end %>

    added

    <% if commits.count > 1 %>
      some commits
    <% else %>
      a commit
    <% end %>

    <a href="#commits-pushed-<%= commits.first.oid[0, 7] %>" class="link-gray no-wrap">
      <%= time_ago_in_words commits.first.authored_date %> ago
    </a>
  </div>

  <table class="timeline-commits" cellspacing="0" cellpadding="0">
    <tbody>
      <% commits.each do |commit| %>
        <tr>
          <td class="commit-message d-flex" valign="top">
            <% if commit %>
              <span class="pr-2">
                <%= render :partial => "commit/deprecated_author", :locals => { :commit => commit, :avatar_size => 16 } %>
              </span>
              <code class="lh-default"><%= commit_short_message_link(commit, commit_path(commit, commit.repository)) %></code>
            <% else %>
              <span class="text-gray">Commit no longer available.</span>
            <% end %>
          </td>

          <td class="commit-meta" valign="top">
            <% if commit %>
              <% if commit.comments? %>
                <%= link_to octicon("comment-discussion"), commit_path(commit, commit.repository) + '#comments' %>
              <% end %>

              <%= render "statuses/deprecated_icon", view: create_view_model(Statuses::IconView, combined_status: commit.combined_status) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
