<%
  is_updatable = review.body.present? && review.editable_by?(current_user)
%>
<div id="<%= comment_dom_id(review) %>" class="discussion-block js-comment timeline-review-container <%= review_timeline_item_classes(review) %>">
  <div class="timeline-review-header width-full clearfix">
    <div class="timeline-review-icon">
      <% if review.approved? %>
        <%= octicon("check", :class => "#{"text-green" if review.writer?}") %>
      <% elsif review.changes_requested? && review.writer? %>
        <%= review_state_icon("changes_requested", :class => "mr-1 mt-1 text-red") %>
      <% else %>
        <%= octicon("eye") %>
      <% end %>
    </div>

    <div class="timeline-review-avatar">
      <%= avatar_for(review.user, 16, :class => :avatar) %>
    </div>

    <div class="timeline-review-meta">
      <strong>
        <%= link_author review.user, :class => "author" %>
      </strong>

      <% if review.approved? %>
        approved these changes
      <% elsif review.changes_requested? && review.writer? %>
        requested changes
      <% elsif review.changes_requested? %>
        suggested changes
      <% elsif review.pending? %>
        started a review
      <% else %>
        reviewed
      <% end %>

      <a href="#<%= comment_dom_id(review) %>" class="link-gray no-wrap">
        <%= time_ago_in_words review.submitted_at || review.created_at %> ago
      </a>

      <% if review.pending? %>
        <span class="label is-pending">Pending</span>
      <% end %>
    </div>

    <% if is_updatable %>
      <div class="d-table-cell text-right hide-when-editing">
        <button type="button" class="btn-link muted-link js-comment-edit-button">
          <%= octicon('pencil') %>
        </button>
      </div>
    <% end %>
  </div>

  <% if review.body.present? %>
    <div class="bubble markdown-body">
      <div class="comment-body js-comment-body hide-when-editing">
        <%= review.body_html %>
      </div>

      <% if is_updatable %>
        <%=
          render(
            :partial => "mobile/discussions/comment_edit_form",
            :locals => {
              :path => pull_request_review_update_path(review.repository.owner.login, review.repository.name, review.pull_request.number, review.id),
              :input_name => "pull_request_review",
              :body => review.body,
              :body_version => review.body_version
            }
          )
        %>
      <% end %>

      <%= render partial: "mobile/discussions/reactions", locals: {
        subject: preloaded_platform_object(review),
        container_style: "mt-2",
        subject_dom_id: comment_dom_id(review),
      } %>
    </div>
  <% end %>

  <% review.threads.sort_by(&:sort_key).each do |thread| %>
    <%= render partial: "mobile/discussions/timeline_review_thread", locals: { thread: thread, review: review } %>
  <% end %>
</div>
