<%# rubocop:disable GitHub/ContentFor %>
<%# erblint:disable LandmarkHasLabel %>
<div class="Header<% if responsive? %> js-details-container Details flex-wrap flex-md-nowrap p-responsive<% end %>" role="banner" <%= test_selector(logged_in? ? "header-logged-in" : "header-logged-out") %>>
  <div class="Header-item<% if responsive? %> d-none d-md-flex<% end %>">
    <%= render partial: "site/header/gists/logo" %>
  </div>

  <% if responsive? %>
    <div class="Header-item d-md-none">
      <button class="Header-link btn-link js-details-target" type="button" aria-label="Toggle navigation" aria-expanded="false">
        <%= octicon("three-bars", :height => 24) %>
      </button>
    </div>
  <% end %>

  <div class="Header-item Header-item--full js-site-search<% if responsive? %> flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 Details-content--hidden-not-important d-md-flex<% end %>">
    <% unless hide_search? %>
      <%= render partial: "site/header/gists/search" %>
    <% end %>

    <%= render partial: "site/header/gists/links" %>
  </div>

  <% if responsive? %>
    <div class="Header-item Header-item--full flex-justify-center d-md-none position-relative">
      <% if content_for?(:header_title) %>
      <div class="css-truncate css-truncate-target width-fit position-absolute left-0 right-0 text-center"><%= yield :header_title %></div>
      <% else %>
      <%= render partial: "site/header/gists/logo" %>
      <% end %>
    </div>
  <% end %>



  <% if logged_in? %>

    <%= render partial: "site/header/gists/notifications" %>

    <div class="Header-item <% if responsive? %>mr-0 mr-md-3<% end %>">
      <%= link_to new_gist_path, class: "Header-link", "data-ga-click": "Header, go to new gist, text:new gist", "aria-label": "Create new gist" do %>
        <% if responsive? %>
          <%= octicon("plus", class: "d-md-none") %>
        <% end %>
        <%= octicon("plus", class: (responsive? ? "d-none d-md-inline-block" : "")) %>
      <% end %>
    </div>

    <div class="Header-item position-relative mr-0<% if responsive? %> d-none d-md-flex<% end %>" id="user-links">

      <details class="details-overlay details-reset">
        <summary class="Header-link name"
          aria-label="View profile and more"
          data-ga-click="Header, show menu, icon:avatar">
          <%= avatar_for(current_user, 20, :class => "avatar") %>
          <span class="dropdown-caret"></span>
        </summary>
        <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 180px">
          <div class="css-truncate"><a role="menuitem" class="text-gray-dark  no-underline px-3 pt-2 pb-2 mb-n2 mt-n1 d-block" href="<%= user_path(current_user) %>" data-ga-click="Header, go to profile, text:Signed in as">Signed in as <strong class="css-truncate-target"><%= current_user %></strong></a></div>
          <div role="none" class="dropdown-divider"></div>
          <a role="menuitem" class="dropdown-item" href="<%= user_gists_path(current_user) %>" data-ga-click="Header, go to your gists, text:your gists">Your gists</a>
          <a role="menuitem" class="dropdown-item" href="<%= user_starred_gists_path(current_user) %>" data-ga-click="Header, go to starred gists, text:starred gists">Starred gists</a>
          <a role="menuitem" class="dropdown-item" href="<%= GitHub.help_url %>" data-ga-click="Header, go to help, text:help">Help</a>
          <div role="none" class="dropdown-divider"></div>
          <% if user_dashboard_pins_enabled? && item_to_pin_to_dashboard? %>
            <div class="px-3">
              <%= render partial: "site/header/pin_to_dashboard" %>
            </div>
            <div role="none" class="dropdown-divider"></div>
          <% end %>
          <a role="menuitem" class="dropdown-item" href="<%= "#{GitHub.url}/#{current_user.to_param}" %>" data-ga-click="Header, go to profile, text:your profile">Your GitHub profile</a>
          <%= form_tag gist_logout_url, :method => :post, :class => "logout-form" do %>
            <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout" role="menuitem">
              Sign out
            </button>
          <% end %>
        </details-menu>
      </details>
    </div>
  <% else %>
    <div class="Header-item f4 mr-0" role="navigation">
      <%= link_to(
        gist_login_url(return_to: return_to_path),
        class: "HeaderMenu-link no-underline mr-3",
        "data-ga-click": "Header, sign in",
        data: sign_in_link_data_attributes(location_in_page: "gist header")
      ) do %>
        Sign&nbsp;in
      <% end %>
      <% if GitHub.signup_enabled? %>
        <%= link_to(
          gist_signup_path(source: "header-gist", return_to: return_to_path),
          class: "HeaderMenu-link d-inline-block no-underline border border-gray-dark rounded-1 px-2 py-1",
          "data-ga-click": "Header, sign up",
          data: sign_up_link_data_attributes(location_in_page: "gist header")
        ) do %>
          Sign&nbsp;up
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
