<div class="header-search header-search-current<% if responsive? %> flex-self-stretch flex-md-self-auto mr-0 mr-md-3 mb-3 mb-md-0<% else %> mr-3<% end %>">

<%= form_tag gist_search_path, method: :get, class: "position-relative js-quicksearch-form", role: "search", "aria-label": "Site" do %>
  <div class="header-search-wrapper form-control input-sm js-chromeless-input-container">
    <input type="text"
      class="form-control input-sm js-site-search-focus header-search-input<%= " js-navigation-enable js-quicksearch-field" if logged_in? %>"
      data-hotkey="s,/"
      name="q"
      aria-label="Search"
      placeholder="Search…"
      autocorrect="off"
      autocomplete="off"
      autocapitalize="off">
  </div>

  <% if logged_in? %>
    <div class="gist-quicksearch-results js-quicksearch-results js-navigation-container" data-quicksearch-url="<%= gist_quicksearch_path %>"></div>
  <% end %>
<% end %>
</div>
