<div class="dropdown-header px-3 py-2 border-bottom">Edited <%= number_with_delimiter(edit_count) %> <%= "time".pluralize(edit_count) %></div>
<ul class="lh-condensed text-small" style="overflow-y:auto; max-height:250px">
  <% edits.each_with_index do |edit, index| %>
    <li class="border-bottom css-truncate">
      <% content = capture do %>
        <% if edit.editor %>
          <img src="<%= edit.editor.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(edit.editor) %> avatar-small v-align-middle mr-1" alt="@<%= edit.editor.login %>">
          <span class="css-truncate-target v-align-middle text-bold"><%= edit.editor.login %></span> <%= bot_identifier(edit.editor) %>
        <% else %>
          <img src="<%= User.ghost.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(User.ghost) %> avatar-small v-align-middle mr-1" alt="@<%= GitHub.ghost_user_login %>">
          <span class="css-truncate-target v-align-middle text-bold"><%= GitHub.ghost_user_login %></span>
        <% end %>
        <span class="v-align-middle"><%= index == (edits.size - 1) && includes_created_edit ? "created" : "edited" %> <%= time_ago_in_words_js edit.edited_at %><%= index == 0 ? " (most recent)" : "" %></span>
      <% end %>

      <% if !edit.safe_diff.blank? && !edit.deleted_at %>
        <button type="button" class="btn-link dropdown-item p-2" role="menuitem" data-edit-history-url="<%= user_content_edit_path(id: edit.global_relay_id) %>">
          <%= content %>
        </button>

      <% elsif edit.deleted_at %>
        <details class="details-reset Details-element">
          <summary class="btn-link dropdown-item p-2 lh-default" role="menuitem">
            <div class="d-flex flex-items-center">
              <span class="flex-auto css-truncate-target" style="max-width: none;">
                <%= content %>
                <span class="v-align-middle">(deleted)</span>
              </span>
              <%= octicon "chevron-down", class: "flex-shrink-0 mx-1 Details-content--closed" %>
              <%= octicon "chevron-up", class: "flex-shrink-0 mx-1 Details-content--open" %>
            </div>
          </summary>
          <div class="bg-gray-light border-top p-2">
            <% if edit.deleted_by %>
              <img src="<%= edit.deleted_by.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(edit.deleted_by) %> avatar-small v-align-middle mr-1" alt="@<%= edit.deleted_by.login %>">
              <span class="css-truncate-target v-align-middle text-bold"><%= edit.deleted_by.login %></span> <%= bot_identifier(edit.deleted_by) %>
            <% else %>
              <img src="<%= User.ghost.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(User.ghost) %> avatar-small v-align-middle mr-1" alt="@<%= GitHub.ghost_user_login %>">
              <span class="css-truncate-target v-align-middle text-bold"><%= GitHub.ghost_user_login %></span>
            <% end %>
            <span class="v-align-middle text-italic">deleted this content <%= time_ago_in_words_js edit.deleted_at %></span>
          </div>
        </details>

      <% else %>
        <div class="css-truncate-target d-block width-fit p-2 text-gray">
          <%= content %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
