<%
  latest_edit = timeline.latest_edit_for(discussion_or_comment)
  history_log_path = if discussion_or_comment.is_a?(Discussion)
    edits_log_discussion_path(timeline.repo_owner, timeline.repo_name, discussion_or_comment)
  else
    edits_log_discussion_comment_path(timeline.repo_owner, timeline.repo_name, timeline.discussion, discussion_or_comment)
  end
%>

<% if latest_edit %>
  <details class="details-overlay details-reset d-inline-block dropdown hx_dropdown-fullscreen">
    <summary class="btn-link no-underline text-gray js-notice">
      <div class="position-relative">
        <span>
          <% if latest_edit.editor.nil? %>
            edited by <%= GitHub.ghost_user_login %>
          <% elsif latest_edit.editor.login != discussion_or_comment.user&.login %>
            edited by <%= latest_edit.editor.login %> <%= bot_identifier(latest_edit.editor) %>
          <% else %>
            edited
          <% end %>
        </span>
        <%= octicon("triangle-down", height: 11, class: "v-align-middle") %>
      </div>
    </summary>
    <details-menu
      class="dropdown-menu dropdown-menu-s width-auto py-0 js-comment-edit-history-menu"
      style="max-width: 352px; z-index: 99;"
      src="<%= history_log_path %>"
      preload>
      <include-fragment class="octocat-spinner my-3" style="min-width: 100px;" aria-label="Loading"></include-fragment>
    </details-menu>
  </details>
<% end %>
