<%# erblint:counter TooltipCounter 1 %>
<%= render Primer::SubheadComponent.new(hide_border: true) do |component| %>
  <% component.slot(:heading) do %>Linked SSO identity<% end %>
<% end %>

<% if saml_data = view.external_identity.saml_user_data.presence %>
  <div class="Box">
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>
        <strong><%= saml_data.name_id %></strong>
        <span class="tooltipped tooltipped-n" aria-label="This is the NameID">
          <%= octicon("info", class: "text-gray-light ml-1") %>
        </span>
      </div>
      <% if view.allow_revoke_actions? %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Revoke",
            button_class: "btn btn-danger btn-sm",
            details_class: "boxed-action",
            title: "Revoke external identity for #{view.member}",
        } do %>
          <div class="flash flash-warn flash-full">
            Be careful &mdash; this will unlink the user's external identity and invalidate their active SAML sessions.
          </div>
          <div class="Box-body overflow-auto">
            <p>
              They will not be removed from the <%= view.target_description %>, their credentials will remain authorized, and they will be able to link
              their external identity again next time they authenticate with the Identity Provider.
              Revoke the external identity if it has been linked to the wrong GitHub account, or if another problem has occurred.
            </p>
            <%= form_tag view.unlink_identity_path, method: "delete" do %>
              <div class="Box-footer">
                <button type="submit" class="btn btn-danger btn-block">
                  Revoke external identity
                </button>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <details class="details-reset">
          <summary class="btn btn-danger btn-sm" aria-disabled="true" title="SAML SSO is configured by the Enterprise account that this organization belongs to, and only Enterprise account owners can revoke its external identities.">
            Revoke
          </summary>
        </details>
      <% end %>
    </div>
    <% group_ids = view.external_identity_group_ids %>
    <% if group_ids.any? %>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Groups</div>
        <div><%= group_ids.to_sentence %></div>
      </div>
    <% end %>
    <% if view.external_identity.scim_user_data.any? %>
      <% scim_data = view.external_identity.scim_user_data %>
      <div class="Box-row Box-row--gray">
        <strong>SCIM identity</strong>
      </div>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Username</div>
        <div><%= scim_data.user_name %></div>
      </div>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>External ID</div>
        <div><%= scim_data.external_id %></div>
      </div>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Name</div>
        <div><%= scim_data.given_name %> <%= scim_data.family_name %></div>
      </div>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Emails</div>
        <div>
          <% scim_data.emails.each do |email| %>
            <%= email %> <br>
          <% end %>
        </div>
      </div>
      <% group_ids = view.external_identity_group_ids(source: :scim) %>
      <% if group_ids.any? %>
        <div class="Box-row d-flex flex-justify-between flex-items-center">
          <div>Groups</div>
          <div><%= group_ids.to_sentence %></div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
