<h4>Commit changes</h4>
<%= form_tag save_issue_templates_path(current_repository.owner, current_repository), class: "js-commit-templates-form" do %>
  <div class="js-hidden-template-fields">
    <% issue_templates.each do |template| %>
      <input type="hidden" name="templates[][<%= template.filename %>]" value="<%= template.to_markdown %>" data-filename="<%= template.filename %>">
    <% end %>
  </div>

  <dl class="form-group">
    <dt><label for="commit-title">Commit message</label></dt>
    <dd><input name="commit[title]" class="form-control" type="text" value="Update issue templates" id="commit-title"></dd>
  </dl>
  <dl class="form-group">
    <dt><label for="commit-description">Extended commit message</label></dt>
    <dd>
      <textarea name="commit[description]" class="form-control" placeholder="Add an optional extended description" id="commit-description"></textarea>
    </dd>
  </dl>

  <div class="form-group mb-0 <% if current_repository.empty? %>d-none<% end %>">
    <dd>
      <div class="form-checkbox pl-4 mt-0 mb-2">
        <label class="text-normal">
          <input type="radio" class="js-quick-pull-choice-option" name="commit-choice" value="direct" autocomplete="off"
            <% if can_commit_to_this_branch?(current_repository, current_repository.default_branch) %>
              checked
            <% else %>
              disabled
            <% end %>
          >
          <% if can_commit_to_this_branch?(current_repository, current_repository.default_branch) %>
            <%= octicon("git-commit", :class => "text-gray mr-1 text-center", :height => 16, :width => 16) %>
            Commit directly to the <strong class="branch-name"><%= current_repository.default_branch %></strong> branch.
          <% else %>
            <%= octicon("shield-lock", :class => "text-gray mr-1 text-center", :height => 16, :width => 16) %>
            You can’t commit to <span class="branch-name"><%= current_repository.default_branch %></span> because it is a <a href="<%= GitHub.help_url %>/articles/about-protected-branches/">protected branch</a>.
          <% end %>
        </label>
      </div>
      <div class="form-checkbox pl-4 my-0">
        <label class="text-normal">
          <input type="radio" class="form-checkbox-details-trigger js-quick-pull-choice-option" name="commit-choice" value="quick-pull" autocomplete="off"
            <% if will_create_branch?(current_repository, current_repository.default_branch) %>
                checked
            <% end %>
          >
          <%= octicon("git-pull-request", :class => "text-gray mr-1 text-center", :height => 16, :width => 16) %>
          Create a <strong>new branch</strong> for this commit and start a pull request.

          <div class="form-checkbox-details ml-3 mt-2">
            <div class="position-relative mt-2 ml-2">
              <%= octicon("git-branch", :class => "quick-pull-new-branch-icon text-gray-light position-absolute text-center", :height => 16, :width => 16) %>
              <%
                data_check_url = ref_check_url(current_repository.owner, current_repository)
                temp_branch = current_repository.heads.temp_name(topic: "patch", prefix: current_user.login)
              %>
              <input type="text" value="<%= temp_branch %>"
                class="form-control input-contrast mr-1 pl-5 input-monospace js-quick-pull-new-branch-name"
                placeholder="New branch name…"
                aria-label="Enter a branch name"
                data-generated-branch="<%= temp_branch %>"
                data-check-url="<%= data_check_url %>">
              <%= csrf_hidden_input_for data_check_url, class: "js-data-check-url-csrf" %>
              <p class="text-gray js-quick-pull-normalization-info"></p>
            </div>
          </div>
        </label>
      </div>
    </dd>
  </div>

  <input type="hidden" name="target_branch" class="js-quick-pull-target-branch" value="<%= temp_branch %>" data-default-value="<%= current_repository.default_branch %>" autocomplete="off">
  <input type="hidden" name="quick_pull" class="js-quick-pull-choice-value" value="true" autocomplete="off">

  <p class="mt-3">
    <button type="submit" class="btn btn-primary js-blob-submit input-block"
      id="submit-file"
      data-edit-text="Save files"
      data-pull-text="Open pull request"
      <% unless issue_templates.all?(&:valid?) %>disabled<% end %>
      >
      Commit changes
    </button>

    <span class="text-red js-template-commit-form-error-message <% if issue_templates.all?(&:valid?) %>d-none<% end %>">There are some templates with problems still.</span>
    <span class="js-template-commit-form-loading-message d-none">Validating templates...</span>
  </p>
<% end %>
