<div class="expand-group border-top">
  <div class="bg-white border border-gray-dark rounded-2 my-4 mx-3">
    <%
      form_classes = ["js-template-form"]
      form_classes << "is-errored" unless template.valid?
    %>
    <%= form_tag preview_issue_template_path(template.repository.owner, template.repository), class: form_classes.join(" ") do %>
      <input type="hidden" name="filename" value="<%= template.filename %>" class="js-sync-filename">
      <div class="py-0">
          <div class="js-custom-field-header <% unless template.valid? %>section-focus<% end %>">
          <div class="form-group my-0">
            <div class="preview-section form-field-hover border-dashed px-4 pt-4">
              <h2>
                Issue: <span data-sync-with="name"><%= template.name.presence || "(template name)" %></span>
                <button type="button" aria-label="Edit template" class="btn-link text-gray js-edit-custom-field-header edit-action ml-1 mb-1">
                  <%= octicon "pencil", class: "v-align-baseline" %>
                </button>
              </h2>

              <p data-sync-with="about">
                <%= template.about.presence || "(template about)" %>
              </p>

              <div class="comment-body markdown-body border-top mt-3 pb-2">
                <div class="ml-n3 js-template-content-preview">
                  <% if template.body.present? %>
                    <%= Issue.new(body: template.body).body_html %>
                  <% else %>
                    <span class="text-gray">No template content.</span>
                  <% end %>
                </div>
              </div>

              <div class="border-top pt-2 mb-2">
                <span class="text-bold f4">Optional additional items</span>
              </div>

              <div class="pt-2 mb-2">
                <span class="text-bold">Issue default title:</span>
                <%= template.title %>
              </div>

              <div class="pt-2 mb-2">
                <span class="text-bold">Assignees:</span>
                <%= template.assignees_string %>
              </div>

              <div class="pt-2 mb-3">
                <span class="text-bold">Labels:</span>
                <%= html_label_name(template.labels_string) %>
              </div>
            </div>
            <div class="edit-section rounded-1 mb-4 pl-4">
              <% preview_url = markdown_preview_issue_template_path(current_repository.owner, current_repository) %>
              <button
                type="button"
                aria-label="Done editing template header"
                class="p-2 mr-1 mt-n3 btn-link js-edit-custom-field-header js-refresh-template-content float-right text-gray"
                data-markdown-preview-url="<%= preview_url %>"
              >
                <%= octicon('x') %>
              </button>
              <%= csrf_hidden_input_for preview_url, class: "js-data-markdown-preview-url-csrf" %>

              <dl class="form-group <% if template.errors[:name].any? %>errored<% end %>">
                <dt>
                  <label class="edit-labels d-block mt-2 mb-1" for="name">Template name</label>
                </dt>
                <dd>
                  <input name="name" class="form-control js-synced-template-input" data-sync="name" type="text" placeholder="Add template name, ex. Bug Report" value="<%= template.name %>" aria-label="text-entry-label" id="name">
                </dd>
                <% if template.errors[:name].any? %>
                  <dd class="error"><%= errors_sentence_for(template, :name) %></dd>
                <% end %>
                <div class="text-gray mt-1">
                  <%= octicon("file", :class => "mr-1") %>This file lives in <strong><%= template.filename %></strong>
                </div>
              </dl>
              <dl class="form-group <% if template.errors[:about].any? %>errored<% end %>">
                <dt>
                  <label class="edit-labels d-block mt-2 mb-1" for="about">About</label>
                </dt>
                <dd>
                  <input name="about" class="form-control js-synced-template-input" data-sync="about" type="text" placeholder="Describe template purpose" value="<%= template.about %>" aria-label="text-entry-label" id="about">
                </dd>
                <% if template.errors[:about].any? %>
                  <dd class="error"><%= errors_sentence_for(template, :about) %></dd>
                <% end %>
              </dl>
              <dl class="form-group mb-4 mr-4 <% if template.errors[:body].any? %>errored<% end %>">
                <dt>
                  <a class="float-right tabnav-extra pt-0" href="https://guides.github.com/features/mastering-markdown/" target="_blank" data-ga-click="Markdown Toolbar, click, help">
                    <svg class="octicon v-align-bottom" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14.85 3H1.15C.52 3 0 3.52 0 4.15v7.69C0 12.48.52 13 1.15 13h13.69c.64 0 1.15-.52 1.15-1.15v-7.7C16 3.52 15.48 3 14.85 3zM9 11H7V8L5.5 9.92 4 8v3H2V5h2l1.5 2L7 5h2v6zm2.99.5L9.5 8H11V5h2v3h1.5l-2.51 3.5z"></path></svg>
                    Styling with Markdown is supported
                  </a>
                  <label class="edit-labels d-block mt-2 mb-1" for="template-box-body">Template content</label>
                </dt>
                <dd>
                  <textarea id="template-box-body" name="body" class="form-control js-template-content-textarea" type="text" placeholder="Add template content here. Styling with markdown is supported." aria-label="text-entry-label" id="body"><%= template.body %></textarea>
                </dd>
                <% if template.errors[:body].any? %>
                  <dd class="error"><%= template.errors[:body].to_sentence %></dd>
                <% end %>
              </dl>
              <div class="border-top pt-3 mb-3">
                <span class="text-bold f4">Optional additional items</span>
              </div>
              <dl class="form-group mt-0 mb-0 <% if template.errors[:title].any? %>errored<% end %>">
                <dt>
                  <label class="edit-labels d-block mt-2 mb-1" for="about">Issue default title</label>
                  <div class="text-gray mt-1 mb-1">This will be suggested as the issue title</div>
                </dt>
                <dd>
                  <input name="title" class="form-control" type="text" placeholder="Add a placeholder for issue title, ex. [BUG]" value="<%= template.title %>" aria-label="text-entry-label" id="title">
                </dd>
              </dl>
              <dl class="form-group mt-0 mb-0 js-issue-template-assignees-container <% if template.errors[:assignees].any? %>errored<% end %>" style="width: 440px; max-width: 100%">
                <input type="hidden" name="assignees" value="<%= template.assignees_string %>" class="js-issue-template-assignees">
                <%= render :partial => "issues/sidebar/new/assignees", locals: { issue: template.issue } %>
              </dl>

              <dl class="form-group mt-0 mb-4 js-issue-template-labels-container <% if template.errors[:labels].any? %>errored<% end %>" style="width: 440px; max-width: 100%">
                <input type="hidden" name="labels" value="<%= template.labels_string %>" class="js-issue-template-labels">
                <%= render partial: "issues/sidebar/new/labels", locals: { issue: template.issue } %>
              </dl>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: "issues/label_creation_modal", locals: { issue: template.issue } %>
  </div>
</div>
