<% 
  page_info \
    title: "#{ this_user } / codespaces",
    selected_link: :stafftools_user_codespaces
 %>

<div class="boxed-group">
  <h3>
    Codespaces
  </h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone">
      <% codespaces.each do |codespace| %>
        <li>
          <%= octicon("device-desktop", class: "text-gray-light") %>
          <%= link_to codespace.name, stafftools_user_codespace_path(codespace.owner, codespace) %>

          <span class="text-small text-gray d-block mt-1">
            Last used <%= time_ago_in_words_js(codespace.last_used_at, "float-none") %>
            &middot;
            Created <%= time_ago_in_words_js(codespace.created_at, "float-none") %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
