<%graphql
  fragment Subject on Reactable {
    id
    reactionPath

    reactionGroups {
      content
      viewerHasReacted
    }

    ...CommentsHelper::CommentFragment
  }
%>
<%
subject = Views::Mobile::Discussions::Reactions::Modal::Subject.new(subject)
emotions_per_row = 4
rows = (subject.reaction_groups.length / emotions_per_row).floor
subject_dom_id ||= graphql_comment_dom_id(subject)
%>

<details class="details-reset details-overlay details-overlay-dark my-1">
  <summary class="btn-link muted-link height-full d-block py-1 px-2 mr-2 border rounded-1 f6 border-gray-dark">
    <%= octicon('plus-small') %>
    <%= octicon('smiley') %>
  </summary>

  <div class="details-dialog Box Box--overlay anim-fade-in fast lh-default rounded-1" role="dialog">
    <% rows.times do |row| %>
      <%
        start_index = row * emotions_per_row
        end_index = start_index + emotions_per_row
        row_emotions = subject.reaction_groups[start_index...end_index]
      %>
      <div class="d-flex flex-row <%= "border-bottom" unless row == (rows - 1) %>">
        <% row_emotions.each do |reaction_group| %>
          <div class="col-3">
            <%= form_tag subject.reaction_path, method: :put, class: "js-mobile-pick-reaction" do %>
              <% emotion = Emotion.find_by_platform_enum(reaction_group.content) %>

              <input type="hidden" name="input[subjectId]" value="<%= subject.id %>">
              <input type="hidden" name="mobile" value="yes">
              <input type="hidden" name="input[content]" value="<%= emotion.platform_enum %> <% if reaction_group.viewer_has_reacted? %>unreact<% else %>react<% end %>">

              <button type="submit"
                class="width-full btn-text pt-4 pb-2 f0-light add-reactions-options-item <%= "bg-blue-light" if reaction_group.viewer_has_reacted? %> <%= "border-right" unless reaction_group == row_emotions.last %> js-reaction-option-item"
                aria-label="<% if reaction_group.viewer_has_reacted? %>Undo reaction with <%= emotion.pronounceable_label %> emoji<% else %>React with <%= emotion.pronounceable_label %> emoji<% end %>">
                <%= emoji_tag(emotion.emoji_character, alias: emotion.content, class: "emoji") %>
                <span class="f6 d-block mt-1 text-gray"><%= emotion.label.capitalize %></span>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</details>
