<div class="select-menu-list">
  <% org_repos.each do |repo|%>
    <% selected = selected_repos.include?(repo.id.to_s) %>
    <label tabindex="0"
      class="select-menu-item"
      role="menuitemcheckbox"
      aria-checked="<%= selected %>" name="<%= repo.name %>">
      <input
        class="d-none js-org-insights-repo-checkbox"
        type="checkbox"
        name="repos[]"
        value="<%= repo.name %>"
        aria-label="<%= repo.name %>"
        <% if selected %>checked<% end %>
        >
      <%= octicon("check", class: "select-menu-item-icon") %>
      <span class="text-normal select-menu-item-text"><%= repo.name %></span>
    </label>
  <% end %>
  <% if org_repos.empty? %>
    <div class="select-menu-item">
      No matching repositories.
    </div>
  <% end %>
</div>
