<details class="details-reset details-overlay select-menu hx_rsm select-menu-modal-right width-full pr-md-2 js-org-insights-repo-details" id="<%= select_menu_id %>">
  <summary class="btn <%= "btn-sm" if show_packages_dashboard %> select-menu-button width-full text-center">
    <i>Repositories</i>
    <span class="js-insights-repo-count">
      <% if selected_repos.length == 0 %>
        All
      <% else %>
        <%= selected_repos.length%> selected
      <% end %>
    </span>
  </summary>


  <details-menu
    class="select-menu-modal position-absolute right-0 js-org-insights-repo-menu"
    style="z-index: 99; overflow: visible;"
    src="<%= get_repos_org_insights_path(repos: selected_repos.map(&:name), period: time_period) %>"
    aria-label="Choose your repositories"
    role="menu"
    preload>
    <div class="select-menu-header text-left">
      <span class="select-menu-title">Filter by repositories</span>
      <button class="hx_rsm-close-button btn-link close-button" type="button" data-toggle-for="<%= select_menu_id %>"><%= octicon("x", :"aria-label" => "Close menu") %></button>
    </div>
    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <remote-input class="js-repo-filter" src="<%= get_repos_org_insights_path(repos: selected_repos.map(&:name), period: time_period) %>" aria-owns="<%= org_repos_menu_id %>">
          <input type="text" class="form-control" aria-label="Type or choose a repository" placeholder="Search repositories&hellip;" autofocus>
        </remote-input>
      </div>
    </div>
    <div id="<%= org_repos_menu_id %>" class="hx_rsm-content">
      <include-fragment class="select-menu-loading-overlay anim-pulse" aria-label="Loading">
        <%= octicon('octoface') %>
      </include-fragment>
    </div>
    <%= form_tag org_insights_path, method: "GET", class: "js-selected-repo-form" do %>
      <input type="hidden" value="<%= time_period %>" name="period">
      <% selected_repos.each do |repo|%>
        <input
          class="d-none"
          type="checkbox"
          name="repos[]"
          value="<%= repo.name %>"
          checked
        >
      <% end %>

      <div class="js-max-repo-error flash-error text-small p-2 flex-auto" hidden>Select a maximum of 3 repositories.</div>
      <div class="form-actions m-0 bg-gray-light border-top d-flex flex-column">
        <button
          data-disable-with
          type="submit"
          class="btn btn-primary btn-sm flex-auto m-2 js-repo-filter-apply-btn" disabled>Apply</button>
      </div>
    <% end %>
  </details-menu>

</details>
