<%= form_for [:biztools, collection, item] do |f| %>
  <% if item.new_record? %>
    <dl class="form-group">
      <dt><%= f.label :name_with_owner %></dt>
      <dd><%= f.text_field :name_with_owner,
        value: item.item && item.item.name_with_owner || "",
        required: true,
        class: 'textfield js-repo-name',
        placeholder: 'defunkt/dotjs' %>
      </dd>
    </dl>
  <% else %>
    <%= f.hidden_field :name_with_owner, :value => item.item && item.item.name_with_owner || "", :class => 'textfield js-repo-name' %>
  <% end %>

  <div class="d-none repo-health js-repo-health">
    <p class="repo-health-loading">
      Performing health check...
    </p>

    <div class="repo-health-results js-repo-health-results"></div>
  </div>

  <dl class="form-group">
    <dt><%= f.label :body %></dt>
    <dd>
      <%= f.text_area :body, :value => item && item.body || "", :class => 'js-comment-field js-quick-submit' %>
    </dd>
  </dl>
  <div class="form-actions">
    <button type="submit" class="btn" data-disable-invalid>Save Item</button>
  </div>
<% end %>

<%= form_tag "/biztools/showcases/#{collection.slug}/perform_healthcheck", class: "js-repo-health-check" do %>
  <%= hidden_field_tag 'repo_name', '', class: 'js-repo-health-name' %>
<% end %>
