<div class="Box border-dashed px-4 py-3">
  <p class="mb-2"><%= health_message %></p>

  <ul class="list-style-none">
    <li>
      <%= octicon(health_stats[:readme][:octicon], class: health_stats[:readme][:class]) %>
      README
    </li>
    <li>
      <%= octicon(health_stats[:code_of_conduct][:octicon], class: health_stats[:code_of_conduct][:class]) %>
      Code of conduct
    </li>
    <li>
      <%= octicon(health_stats[:contributing][:octicon], class: health_stats[:contributing][:class]) %>
      Contributing
    </li>
    <li>
      <%= octicon(health_stats[:license][:octicon], class: health_stats[:license][:class]) %>
      License
    </li>
    <li>
    <%= octicon(health_stats[:description][:octicon], class: health_stats[:description][:class]) %>
      Description
    </li>
    <li>
      <%= octicon(health_stats[:pr_or_issue_template][:octicon], class: health_stats[:pr_or_issue_template][:class]) %>
      Issue or Pull Request Template
    </li>
  </ul>
</div>
