<% page_info :selected_link => :showcase_biztools %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <%= link_to "Cancel", [:biztools, collection],
                :class => "btn btn-sm boxed-group-action" %>
    <h3>Edit <%= item.to_s %></h3>
    <div class="boxed-group-inner clearfix">
      <%= render "biztools/showcase_items/form", collection: collection, item: item %>
    </div>
  </div>
<% end %>
