<%graphql
  fragment Root on Query {
    marketplaceAgreements(first: 20, after: $cursor) {
      pageInfo {
        hasNextPage
        hasPreviousPage
        endCursor
      }
      nodes {
        id
        version
        signatoryType
        createdAt
      }
    }
  }
%>
<%
data = Views::Biztools::MarketplaceAgreements::Agreements::Root.new(data)
page_info = data.marketplace_agreements.page_info
%>

<% if data.marketplace_agreements.nodes.first.nil? && !page_info.has_previous_page? %>
  <div class="Box-row">
    There are no Marketplace agreements right now.
  </div>
<% end %>

<% data.marketplace_agreements.nodes.each do |agreement| %>
  <div class="Box-row d-flex flex-items-center">
    <div class="flex-auto">
      <h4 class="mb-2">
        <a href="<%= biztools_marketplace_agreement_path(agreement.id) %>">
          <%= agreement.signatory_type %> agreement version <%= agreement.version %>
        </a>
      </h4>
      <div class="text-small text-gray-light">
        <%= agreement.created_at %>
      </div>
    </div>
  </div>
<% end %>

<% if page_info.has_next_page? %>
  <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
    <%= form_tag biztools_marketplace_agreements_path, :method => :get do %>
      <input name="cursor" type="hidden" value="<%= page_info.end_cursor %>">
      <button type="submit" class="btn-link" data-disable-with="Loading more...">Load more...</button>
    <% end %>
  </div>
<% end %>
