<%graphql
  fragment Root on Query {
    latestIntegratorAgreements: marketplaceAgreements(first: 1, forIntegrators: true) {
      nodes {
        version
      }
    }
    latestEndUserAgreements: marketplaceAgreements(first: 1, forIntegrators: false) {
      nodes {
        version
      }
    }
  }
%>
<%
  data = Views::Biztools::MarketplaceAgreements::New::Root.new(data)
  latest_integrator_agreement = data.latest_integrator_agreements.nodes.first
  latest_end_user_agreement = data.latest_end_user_agreements.nodes.first
%>

<% page_info \
  title: "Create a Marketplace Agreement · Biztools",
  selected_link: :marketplace_agreements %>

<%= render layout: "biztools/biztools" do %>
  <p>
    If you add a new Marketplace integrator agreement, integrators will see a
    prompt to sign the latest version. Similarly, adding a new end-user
    agreement will result in users signing the newest version when they
    install or purchase a listing.
  </p>
  <div class="boxed-group dangerzone">
    <h3>Create a Marketplace Agreement</h3>
    <%= form_tag biztools_marketplace_agreements_path, method: :post, class: "Box Box--condensed px-3 pb-3" do %>
      <dl class="form-group">
        <dt><label for="agreement_version">Version:</label></dt>
        <dd>
          <input id="agreement_version" type="text" class="form-control" name="marketplace_agreement[version]" required placeholder="e.g., 1.0">
          <p class="note">
            Latest integrator version:
            <%= latest_integrator_agreement ? latest_integrator_agreement.version : "none" %><br>
            Latest end-user version:
            <%= latest_end_user_agreement ? latest_end_user_agreement.version : "none" %>
          </p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="agreement_signatory_type">Type of agreement:</label></dt>
        <dd>
          <select name="marketplace_agreement[signatoryType]" class="form-select" id="agreement_signatory_type" required>
            <option value="INTEGRATOR">For integrators</option>
            <option value="END_USER">For end users</option>
          </select>
          <p class="note">
            Integrator agreements must be signed by the integrator before they can list their product in the Marketplace.<br>
            End-user agreements must be signed by a user before they can install a product from the Marketplace.
          </p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="agreement_body">Text of the agreement:</label></dt>
        <dd>
          <div class="js-previewable-comment-form previewable-comment-form write-selected border rounded-1 pb-2 border-gray-dark" data-preview-url="<%= marketplace_preview_path %>">
            <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
            <div class="comment-form-head tabnav">
              <% textarea_id = "agreement_body" %>
              <%= render Comments::MarkdownToolbarComponent.new(textarea_id: textarea_id) %>
              <div class="tabnav-tabs" role="tablist">
                <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
                <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
              </div>
            </div>
            <p class="comment-form-error comment-show-stale">
              <%= octicon("alert") %> The content you are editing has changed. Please try again.
            </p>
            <div class="write-content js-write-bucket mb-0">
              <textarea required name="marketplace_agreement[body]" class="form-control comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit" id="<%= textarea_id %>" aria-describedby="help-text-for-body" required></textarea>
            </div>
            <div class="preview-content">
              <%= render partial: "marketplace_listings/preview_text" %>
            </div>
            <div class="clearfix">
              <div class="float-left">
                <span class="tabnav-extra pt-0">
                  <a id="help-text-for-body" class="text-gray" href="<%= GitHub.guides_url %>/features/mastering-markdown/" target="_blank" data-ga-click="Markdown Toolbar, click, help">
                    <%= octicon("markdown", class: "v-align-bottom") %>
                    Styling with Markdown is supported.
                  </a>
                </span>
              </div>
            </div>
          </div>
        </dd>
      </dl>
      <button type="submit" data-disable-invalid class="btn btn-danger">
        Create agreement
      </button>
    <% end %>
  </div>
<% end %>
