<%#
  Default <head>.
  Used on all pages. Keep the number of tags here to an absolute minimum.
%>
<meta charset="utf-8">
<% unless GitHub.enterprise? %>
<% GitHub.dns_prefetch_hosts.each do |host| %>
  <link rel="dns-prefetch" href="<%= host %>">
<% end %>
<% end %>

<%# Referrer sanitization must happen before any external resources (CSS, JS, etc) are included/referenced %>
<%= sanitized_referrer_meta_tag %>

<%= yield %>

<% if GitHub.browser_stats_enabled? %>
  <%# github/stats endpoint %>
  <meta name="browser-stats-url" content="<%= GitHub.browser_stats_url %>">

  <%# Failbot endpoint %>
  <meta name="browser-errors-url" content="<%= GitHub.browser_errors_url %>">
<% end %>

<%# https://html.spec.whatwg.org/multipage/semantics.html#rel-icon %>
<% if Rails.env.development? || Rails.env.production? %>
  <link rel="mask-icon" href="<%= GitHub.asset_host_url if Rails.env.production? %>/pinned-octocat.svg" color="#000000">
  <link rel="alternate icon" class="js-site-favicon" type="image/png" href="<%= site_favicon(nil, "png") %>">
  <link rel="icon" class="js-site-favicon" type="image/svg+xml" href="<%= site_favicon(nil) %>">
<% end %>

<%# https://html.spec.whatwg.org/multipage/semantics.html#meta-theme-color %>
<meta name="theme-color" content="#1e2327">

<% if parsed_useragent.name == "Safari" %>
  <link rel="apple-touch-icon" href="<%= image_path("/apple-touch-icon.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("/apple-touch-icon-180x180.png") %>">
  <meta name="apple-mobile-web-app-title" content="GitHub">
<% elsif parsed_useragent.name == "Microsoft Edge" %>
  <meta name="msapplication-TileImage" content="/windows-tile.png">
  <meta name="msapplication-TileColor" content="#ffffff">
<% end %>

<% unless serving_gist3_standalone? %>
  <link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">
<% end %>
