<% raise ArgumentError, "missing keyword: repository" if !local_assigns[:repository] %>
<%- is_advisory_workspace = repository.advisory_workspace? %>
<%- if is_advisory_workspace %>
  <%= render layout: "layouts/repository/security_workspace_container", locals: local_assigns do %>
    <%= yield %>
  <% end %>
<% else %>
  <%= render layout: "layouts/repository/default_container", locals: local_assigns do %>
    <%= yield %>
  <% end %>
<% end %>
