<% head = proc do %>
  <%= stylesheet_bundle "frameworks" %>
  <%= stylesheet_bundle "site" if !logged_in? %>
  <% unless responsive? && feature_enabled?(:non_blocking_css) %>
    <%= stylesheet_bundle "github" %>
    <%= stylesheet_bundle "staff" if staff_assets? %>
    <%= stylesheet_bundle "devtools" if devtools_assets? %>
    <%= stylesheet_bundle "development" if Rails.env.development? && !performance_testing? %>
    <%= controller_stylesheet_bundles %>
  <% end %>

  <% if feature_enabled?(:js_in_head) %>
    <%= javascript_bundle 'compat' %>
    <%= javascript_bundle 'environment' %>
    <%= javascript_bundle 'vendor' unless gist_request? %>
    <%= javascript_bundle 'frameworks' unless gist_request? %>
    <%= javascript_bundle 'development' if Rails.env.development? && !performance_testing? %>
    <%= javascript_bundle 'github' unless gist_request? %>
    <%= javascript_bundle 'behaviors' unless gist_request? %>
    <%= javascript_bundle 'staff' if staff_assets? %>
    <% javascript_chunks.each do |bundle| %>
      <%= javascript_bundle(bundle, lazy: true) %>
    <% end %>
    <%= yield :scripts %>
    <%= controller_javascript_bundles %>
  <% end %>

  <meta name="viewport" content="width=device-width">
  <%= dont_index unless params[:page].blank? %>
  <title><%= title_for_page %></title>
  <% if @page_description %>
    <meta name="description" content="<%= @page_description %>">
  <% else %>
    <meta name="description" content="GitHub is where people build software. More than <%= GitHub.mktg_stat_user %> million people use GitHub to discover, fork, and contribute to over <%= GitHub.mktg_stat_repository %> million projects.">
  <% end %>
  <% if serving_gist3_standalone? %>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch-gist.xml" title="Gist">
  <% else %>
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
  <% end %>
  <link rel="fluid-icon" href="<%= base_url %>/fluidicon.png" title="GitHub">
  <meta property="fb:app_id" content="<%= GitHub.facebook_app_id %>">
  <meta name="apple-itunes-app" content="app-id=<%= GitHub.ios_app_id %>">

  <% unless @page_richweb.nil? %>
    <%= twitter_card(@page_richweb) %>
    <%= opengraph(@page_richweb) %>
  <% else %>
    <meta property="og:url" content="<%= base_url %>">
    <meta property="og:site_name" content="GitHub">
    <meta property="og:title" content="Build software better, together">
    <meta property="og:description" content="GitHub is where people build software. More than <%= GitHub.mktg_stat_user %> million people use GitHub to discover, fork, and contribute to over <%= GitHub.mktg_stat_repository %> million projects.">
    <meta property="og:image" content="<%= image_path 'modules/open_graph/github-logo.png' %>">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="1200">
    <meta property="og:image" content="<%= image_path 'modules/open_graph/github-mark.png' %>">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <meta property="og:image" content="<%= image_path 'modules/open_graph/github-octocat.png' %>">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">

    <meta property="twitter:site" content="github">
    <meta property="twitter:site:id" content="13334762">
    <meta property="twitter:creator" content="github">
    <meta property="twitter:creator:id" content="13334762">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="GitHub">
    <meta property="twitter:description" content="GitHub is where people build software. More than <%= GitHub.mktg_stat_user %> million people use GitHub to discover, fork, and contribute to over <%= GitHub.mktg_stat_repository %> million projects.">
    <meta property="twitter:image:src" content="<%= image_path 'modules/open_graph/github-logo.png' %>">
    <meta property="twitter:image:width" content="1200">
    <meta property="twitter:image:height" content="1200">
  <% end %>

  <% if staff_bar_enabled? %>
    <meta name="fe-hostname" content="<%= GitHub.local_host_name %>">
    <meta name="ruby" content="<%= RUBY_DESCRIPTION %>">
  <% end %>
  <% if logged_in? && current_user.site_admin? %>
    <meta name="site-admin-default-url" content="<%= admin_url %>">
    <% if @stafftools_link %>
      <meta name="site-admin-url" content="<%= "#{admin_host_url}#{@stafftools_link}" %>" data-pjax-transient>
    <% end %>
  <% end %>
  <link rel="assets" href="<%= GitHub.asset_host_url %>/">
  <% if live_updates_enabled? %>
    <link rel="shared-web-socket" href="<%= luau_url %>" data-refresh-url="<%= web_socket_path %>">
  <% end %>
  <% if logged_in? %><link rel="sudo-modal" href="<%= sudo_modal_path %>"><% end %>

  <%= page_meta_tags %>

  <% if hovercard_subject_tag %>
    <meta name="hovercard-subject-tag" content="<%= hovercard_subject_tag %>" data-pjax-transient>
  <% end %>

  <% if current_page?(home_path) %>
    <meta name="page-subject" content="GitHub">
  <% end %>

  <%= keyboard_shortcuts_meta_tag %>

  <%= sso_prompt_link_tags %>

  <meta name="selected-link" value="<%= @selected_link || request.path_info %>" data-pjax-transient>

  <%= render "site/analytics_meta_tags" %>
  <%= yield :analytics %>

  <% if !Rails.env.test? %>
    <% if serving_gist3_standalone? %>
      <meta name="hostname" content="<%= GitHub.gist3_host_name %>">
    <% else %>
      <meta name="hostname" content="<%= GitHub.host_name %>">
    <% end %>
  <% end %>
  <% unless stateless_request? %>
    <meta name="user-login" content="<%= current_user.login if logged_in? %>">
  <% end %>

  <% if GitHub.asset_crossorigin_with_credentials? %>
    <meta name="codemirror-crossorigin-credentials">
  <% end %>

  <% if GitHub.enterprise? %>
    <meta name="robots" content="noindex">
  <% else %>
    <% if serving_gist3_standalone? %>
      <meta name="expected-hostname" content="<%= GitHub.gist3_host_name %>">
    <% else %>
      <meta name="expected-hostname" content="<%= GitHub.host_name %>">
    <% end %>

    <% if logged_in? %>
      <meta name="js-proxy-site-detection-payload" content="<%= proxy_site_detection_payload %>">
    <% end %>
  <% end %>

  <% if enabled_features_meta_content.present? %>
    <meta name="enabled-features" content="<%= enabled_features_meta_content %>">
  <% end %>

  <meta http-equiv="x-pjax-version" content="<%= pjax_version %>">
  <%= prefetch_viewed_link_tag %>

  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>

  <% if content_for?(:canonical_url) %>
    <link rel="canonical" href="<%= content_for(:canonical_url) %>" data-pjax-transient>
  <% end %>
<% end %>

<%= render layout: "layouts/document", locals: {
      head: head,
      html_class_names: (html_classes),
      body_class_names: (body_classes) } do %>

  <% unless @hide_header %>
    <div class="position-relative js-header-wrapper <% if stats_ui_enabled? %>stats-ui-enabled<% end %>">
      <a href="#start-of-content" class="<%= logged_in? ? "p-3" : "px-2 py-4" %> bg-blue text-white show-on-focus js-skip-to-content">Skip to content</a>
      <span class="Progress progress-pjax-loader position-fixed width-full js-pjax-loader-bar">
        <span class="progress-pjax-loader-bar top-0 left-0" style="width: 0%;"></span>
      </span>

      <%= render partial: "site/impersonated" if session_impersonated? %>
      <%= render partial: "site/serverstats" if staff_assets? %>

      <% if show_mobile_link? %>
        <div class="mobile-banner">
          <%= form_tag set_mobile_preference_path, :class => "js-mobile-preference-form" do %>
            <input type="hidden" name="mobile" value="true">
            <input type="hidden" name="anchor" class="js-mobile-preference-anchor-field">

            <button type="submit" class="switch-to-mobile" data-ga-click="Mobile, switch to mobile, switch button">
              <%= octicon("device-mobile", :height => 64) %>
              Switch to mobile version
            </button>
          <% end %>
        </div>
      <% end %>

      <% if content_for?(:site_banner) %>
        <%= yield :site_banner %>
      <% end %>

      <% if content_for?(:site_header) %>
        <%= yield :site_header %>
      <% else %>
        <% if logged_in? %>
          <%= render layout: "site/header/logged_in/header" do %>
            <% if content_for?(:header_title) %>
            <%= yield :header_title %>
            <% end %>
          <% end %>
        <% else %>
          <%= render layout: "site/header_logged_out" do %>
            <% if content_for?(:header_title) %>
            <%= yield :header_title %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if logged_in? %>
        <% if content_for?(:global_notices) %>
          <%= yield :global_notices %>
        <% else %>
          <%= render_partial_view "site/global_notices", Site::GlobalNotice,
            :hide_two_factor_recover_code_warning => @hide_two_factor_recover_code_warning,
            :hide_email_verification_warning => @hide_email_verification_warning %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="start-of-content" class="show-on-focus"></div>

  <% if flash[:mobile_opt_out] %>
    <%= render partial: "shared/mobile_opt_out_flash" %>
  <% end %>

  <% if flash[:trade_controls_user_billing_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_user_account_restricted_notice } %>
  <% end %>

  <% if flash[:trade_controls_organization_billing_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_organization_billing_account_restricted } %>
  <% end %>

  <% unless flash_rendered? %>
    <%= render "shared/flash" %>
  <% end %>

  <%= render partial: "notifications/v2/top_shelf" %>

  <% content = yield :content %>

  <div
    class="application-main <% if full_height? || sticky_footer? %>d-flex flex-auto flex-column<% end %>"
    data-commit-hovercards-enabled
    data-discussion-hovercards-enabled
    data-issue-and-pr-hovercards-enabled
  >
    <% if content && !content.empty? %>
      <%= content %>
    <% else %>
      <main id="js-pjax-container" data-pjax-container>
        <%= yield %>
      </main>
    <% end %>
  </div>

  <% if @hide_footer %>
    <% if employee? %>
      <%= link_to "Report bug", report_bug_url(host: GitHub.urls.host_name), "data-hotkey": "!", target: "_blank", class: "d-none" %>
    <% end %>
    <% if can_toggle_site_admin_and_employee_status? %>
      <div class="d-none">
        <%= render partial: 'site/site_admin_and_employee_toggle_link' %>
      </div>
    <% end %>
  <% else %>
    <% if content_for?(:site_footer) %>
      <%= yield :site_footer %>
    <% else %>
      <% if show_footer? %>
        <%= render "site/footer" %>
      <% end %>
    <% end %>
  <% end %>

  <% if site_admin? %>
    <button type="button" hidden
      data-modal-url="<%= stafftools_modal_path %>"
      data-hotkey="&#92;,Alt+&#92;"
      class="js-stafftools-toggle-modal">Show site admin modal</button>
  <% end %>

  <div id="ajax-error-message" class="ajax-error-message flash flash-error">
    <%= octicon('alert') %>
    <button type="button" class="flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <%= octicon('x') %>
    </button>
    You can’t perform that action at this time.
  </div>

  <% if staff_bar_enabled? && site_admin_performance_stats_mode_enabled? %>
    <div style="display:none;" id="page-serverstats">
      <%= render partial: "site/stats" %>
    </div>
    <% if stats_ui_enabled? %>
      <% if render_graphql_query_trace? %>
        <%= render :partial => 'site/graphql_stats', locals: { instrumenter: Platform::GlobalScope } %>
      <% end %>
      <% if render_mysql_query_trace? %>
        <div id="mysql_performance_pane" class="performance-pane js-mysql-performance-pane" hidden>
          <div class="inner">
            <%= render_partial_view "site/mysql_queries_stats", Site::MysqlQueriesStatsView, :html_id => "mysql_stats" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if Rails.env.development? %>
    <div id="console-error-notice" hidden>Markup errors (<span class="js-console-error-count">0</span>) detected. See console for more details.</div>
    <div id="bundle-error-notice" hidden>
      Error loading JS bundle(s): <span class="js-bundle-error-names"></span>.
      Run <code>bin/npm run tsc</code> to view syntax errors or <code>overmind connect <%= %w(js assets).join("-") %></code> to inspect the asset server.
    </div>
  <% end %>
  <% if !feature_enabled?(:js_in_head) %>
    <%= javascript_bundle 'compat' %>
    <%= javascript_bundle 'environment' %>
    <%= javascript_bundle 'vendor' unless gist_request? %>
    <%= javascript_bundle 'frameworks' unless gist_request? %>
    <%= javascript_bundle 'development' if Rails.env.development? && !performance_testing? %>
    <%= javascript_bundle 'github' unless gist_request? %>
    <%= javascript_bundle 'behaviors' unless gist_request? %>
    <%= javascript_bundle 'staff' if staff_assets? %>
    <% javascript_chunks.each do |bundle| %>
      <%= javascript_bundle(bundle, lazy: true) %>
    <% end %>
    <%= yield :scripts %>
    <%= controller_javascript_bundles %>
  <% end %>
  <div class="js-stale-session-flash flash flash-warn flash-banner" hidden
    <% unless flash[:stale_session_signedin].nil? %>data-signedin="<%= flash[:stale_session_signedin] %>"<% end %>>
    <%= octicon('alert') %>
    <span class="js-stale-session-flash-signed-in" hidden>You signed in with another tab or window. <a href="">Reload</a> to refresh your session.</span>
    <span class="js-stale-session-flash-signed-out" hidden>You signed out in another tab or window. <a href="">Reload</a> to refresh your session.</span>
  </div>
  <% if staff_assets? %>
    <%= render partial: 'site/facebox' %>
  <% end %>
  <%= render :partial => 'site/details_dialog' %>
  <%= render :partial => 'site/hovercard_template' %>
  <% if responsive? && feature_enabled?(:non_blocking_css) %>
    <%= stylesheet_bundle "github" %>
    <%= stylesheet_bundle "staff" if staff_assets? %>
    <%= stylesheet_bundle "devtools" if devtools_assets? %>
    <%= stylesheet_bundle "development" if Rails.env.development? && !performance_testing? %>
    <%= controller_stylesheet_bundles %>
  <% end %>
<% end %>
