<% page_info hide_header: true, footer: false %>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<header class="Header bg-gray-dark py-lg-0 px-3" role="banner">
  <div class="Header-item py-3">
    <a class="Header-link" href="<%= home_url %>" data-hotkey="g d"
      aria-label="<%= "Homepage GitHub Private Instance" %>" data-ga-click="Header, go to dashboard, icon:logo">
      <%= octicon("mark-github", class: "v-align-middle", height: 32) %>
      <span class="h4 pl-1 v-align-middle"><%= content_for(:bootstrap_heading) %></span>
    </a>
  </div>
</header>

<% content_for :content do %>
  <main><%= yield %></main>
<% end %>

<%= render template: "layouts/application" %>
