<% content_for :dashboard_sub_layout do %>
  <% if user_can_switch_contexts? %>
    <aside class="hide-xl hide-lg width-full bg-white border-bottom py-3 p-responsive" aria-label="Account context">
      <%= render partial: "dashboard/account_context", locals: { location: "layout" } %>
    </aside>
  <% end %>

  <%= render "orgs/enterprise_trial_banner", organization: current_organization %>

  <div class="d-flex flex-wrap bg-gray" style="min-height: 100vh;">
    <aside class="team-left-column col-12 col-md-4 col-lg-3 bg-white border-right border-bottom hide-md hide-sm" aria-label="Account">
      <%= yield :left_column %>
    </aside>

    <div class="col-12 col-md-8 col-lg-6 p-responsive mt-3 border-bottom d-flex flex-auto">
      <div class="mx-auto d-flex flex-auto flex-column" style="max-width: 1400px">
        <main class="flex-auto">
          <%= yield %>
        </main>
        <%= render "site/footer_fluid" %>
      </div>
    </div>
    <% if content_for?(:right_column) %>
      <aside class="team-left-column col-12 col-md-3 col-lg-3 pr-3 mt-5 hide-lg hide-md hide-sm border-bottom" aria-label="Explore">
        <%= yield :right_column %>
      </aside>
    <% end %>
  </div>
<% end %>
<%= render template: "layouts/dashboard", locals: local_assigns %>
