<% content_for :content do %>
  <%= yield :js_flash_messages %>

  <div class="pagehead site-admin-head">
    <div class="container-lg px-3">
      <h1 class="private">
        <%= octicon('code', :height => 32) %>
        <%= link_to "Developer tools", devtools_path %>
        <%= yield :pagehead_path %>
      </h1>

      <%#= render :partial => "navigation/devtools" %>
    </div>
  </div>

  <main class="clearfix container-lg px-3 page-content">
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
