<% content_for :head do %>
  <%= stylesheet_bundle "gist" %>
<% end %>

<% content_for :site_header do %>
  <%= render "site/header/gists/header" %>
<% end %>

<% content_for :analytics do %>
  <% if completed_gist_signup_flow? %>
    <meta name="analytics-virtual-pageview" content="/signup/success" data-pjax-transient>
  <% end %>
<% end %>

<% content_for :content do %>
  <div itemscope itemtype="http://schema.org/Code">
    <main id="gist-pjax-container" data-pjax-container>
      <%= yield %>
    </main>
  </div>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "gist" %>
<% end %>

<%= render template: 'layouts/application' %>
