<% page_info hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true %>

<% content_for :head do %>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_bundle "site" %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_bundle "marketplace" %>
<% end %>

<% content_for :content do %>
  <main id="js-pjax-container" data-pjax-container>
    <%= yield %>
  </main>
<% end %>

<% content_for :site_footer do %>
  <% if logged_in? %>
    <%= render "site/footer", border: false %>
  <% else %>
    <%= render "site/footer_marketing" %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
