<%# erblint:disable DeprecatedCustomCss %>
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= @email_title || "GitHub Marketplace" %></title>
  </head>

  <body
    style="margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; color: #24292e; height: 100% !important; line-height: 1.5; font-size: 14px; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

    <table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
      <tr>
        <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
        <td
          class="container"
          style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 24px; width: 580px;"
          width="580"
          valign="top">
          <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">

            <span style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">Complete your GitHub Marketplace orders</span>
            <img src="<%= @image_url %>/marketplace/mp-icon.png" alt="Marketplace" class="mb-2" style="-ms-interpolation-mode: bicubic; max-width: 100%; margin-bottom: 8px !important; height: 48px; margin: 10px 0 5px;">
            <h2 class="mb-0" style="color: #24292e !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; line-height: 1.25; margin: 0 0 10px; font-size: 24px; margin-bottom: 0 !important;"><img src="<%= @image_url %>/explore/logo-wordmark.png" width="71" height="18" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%;"> Marketplace</h2>

            <%= yield %>

            <p
              class="mt-4"
              style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px; margin-top: 24px !important;">Need help? Get in touch with us at
              <a href="<%= GitHub.support_link_text_mailto_or_link %>" style="box-sizing: border-box; color: #0366d6; text-decoration: none;"><%= GitHub.support_link %></a>
            </p>

            <div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
              <hr style="height: 0; overflow: visible; margin-top: 24px; border: 0; border-top: 1px solid #e1e4e8; color: #959da5; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
              <div style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px;">
                <p
                  style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #959da5; font-size: 12px; line-height: 18px;">
                  <a href="<%= email_unsubscribe_url(token: @unsubscribe_token) %>" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">
                    <unsubscribe style="color: #959da5; font-size: 12px; line-height: 18px;">Unsubscribe</unsubscribe>
                  </a>
                  &middot;
                  <a href="https://github.com/settings/emails?utm_source=marketplace_preview_email&utm_medium=email" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Email preferences</a>
                  &middot;
                  <a href="<%= GitHub.help_url %>/articles/github-terms-of-service/?utm_source=marketplace_preview_email&utm_medium=email" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a>
                  &middot;
                  <a href="<%= GitHub.help_url %>/articles/github-privacy-policy/?utm_source=marketplace_preview_email&utm_medium=email" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a>
                  &middot;
                  <a href="https://github.com/login?utm_source=marketplace_preview_email&utm_medium=email" style="box-sizing: border-box; color: #959da5; font-size: 12px; line-height: 18px; text-decoration: none;">Sign into GitHub</a>
                </p>
              </div>
              <p
                style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #959da5; font-size: 12px; line-height: 18px;">GitHub, Inc.<br style="color: #959da5; font-size: 12px; line-height: 18px;">
                88 Colin P Kelly Jr St.<br style="color: #959da5; font-size: 12px; line-height: 18px;">
                San Francisco, CA 94107</p>
            </div>
          </div>

        </td>
        <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
      </tr>
    </table>

  </body>
</html>
