<%# There needs to be content in these blocks for it to yield %>
<% page_info class: "bg-gray-light" %>

<style>#serverstats {display: none;}</style>

<% content_for :site_header do %>
  <span class="d-none">This is a filler to hide the site header</span>
<% end %>

<% content_for :site_footer do %>
  <span class="d-none">This is a filler to hide the site footer</span>
<% end %>

<%= render template: "layouts/application" %>
