<% content_for :content do %>

  <%= render "orgs/identity_management/banner", organization: this_organization %>
  <%= render "orgs/enterprise_trial_banner", organization: this_organization %>

  <div class="<%= class_names(
    "pagehead orghead border-bottom-0",
    "pt-0 pt-lg-3" => responsive?,
    "mb-0" => full_height?
  ) %>">
    <div class="<%= class_names(
        "clearfix",
        "container-lg" => !container_xl?,
        "container-xl" => container_xl?,
        "p-responsive d-none d-lg-block" => responsive?,
      ) %>">
      <%= render_partial_view "orgs/header_org_name", Orgs::HeaderView, organization: this_organization %>
    </div>
    <%= render_partial_view "orgs/header_nav", Orgs::HeaderView,
          organization: this_organization,
          selected_nav_item: :projects
    %>

    <% if content_for?(:custom_navigation) %>
      <%= content_for(:custom_navigation) %>
    <% end %>
  </div>

  <main class="<%= class_names(
      "clearfix",
      "container-lg" => !container_xl?,
      "container-xl" => container_xl?,
      "d-flex flex-auto p-0" => full_height?,
      "p-responsive" => responsive? && !full_height?
    ) %>">
    <%= yield %>
  </main>
<% end %>

<% unless content_for?(:header_title) %>
  <% org_header_title(this_organization) %>
<% end %>

<%= render template: "layouts/application" %>
