<% head = proc do %>
  <title><%= @page_title %></title>
  <meta http-equiv="refresh" content="0;url=<%= url_for(local_assigns[:redirect_url]) %>" data-url="<%= url_for(local_assigns[:redirect_url]) %>">
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_bundle "frameworks" %>
  <%= stylesheet_bundle "github" %>
<% end %>

<%= render layout: "layouts/document", locals: { head: head } do %>
  <%= yield %>
<% end %>
