<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%# stylesheet_bundle 'TODO' %>
    <%# javascript_bundle 'TODO' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
