<% raise ArgumentError, "rendering layouts/repository requires current_repository" if !current_repository %>

<%
  page_info \
    description: h(repo_meta_description),
    dashboard_pinnable_item_id: current_repository.global_relay_id,
    container_xl: true,
    richweb: {
      title: current_repository.name_with_owner,
      url: repository_url(current_repository),
      description: h(repo_meta_description),
      image: repository_open_graph_image_url(current_repository),
      card: repository_twitter_image_card(current_repository)
    }
%>

<% content_for :head do %>
  <% if robot? %>
    <% if current_repository.default_branch != tree_name %>
      <%= dont_index_or_follow %>
    <% elsif repository_offline? || current_repository.hide_from_google? %>
      <%= dont_index %>
    <% end %>
  <% end %>

  <meta name="go-import" content="<%= go_import_url(current_repository) %> git <%= go_get_url(current_repository) %>">

  <%= octolytics_repository_tags(current_repository) %>
<% end %>

<% content_for :content do %>
  <div itemscope itemtype="http://schema.org/SoftwareSourceCode" class="<% if full_height? %>d-flex flex-auto overflow-hidden<% end %>">
    <main <% unless skip_pjax_container? %>id="js-repo-pjax-container" data-pjax-container<% end %> <% if full_height? %>class="d-flex flex-column flex-auto overflow-hidden"<% end %>>
      <%= yield %>
    </main>
  </div>
  <%= render partial: 'konami/hotkey' %>
<% end %>

<%= render template: 'layouts/application' %>
