<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<% content_for :content do %>
  <main>
    <%= render :partial => "site/git_guides/git_guides_nav" %>
    <div class="container-md pt-6 pt-md-11 pb-md-10 pb-5 px-4 markdown-body git-guide position-relative">
      <%= yield %>
    </div>
  </main>
<% end %>

<% content_for :site_footer do %>
  <% if !enterprise? %>
    <%= render :partial => "site/footer_marketing" %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
