<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<% content_for :content do %>
  <main><%= yield %></main>
<% end %>

<% content_for :site_footer do %>
  <% if !enterprise? %>
    <%= render :partial => "site/footer_marketing" %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
