<% content_for :content do %>
  <div class="pagehead site-admin-head">
    <div class="container-lg px-3">
      <h1 class="private">
        <%= octicon("rocket", :height => 32) %>
        <%= link_to "Admin", stafftools_path %>
        <%= yield :pagehead_path %>
      </h1>
    </div>
  </div>

  <div class="container-lg px-3">
    <div class="site-admin-container">
      <div id="site-admin-container" data-pjax-container class="d-flex gutter">
        <% if @user %>
          <%= render :partial => "navigation/site_admin" %>
        <% end %>
        <main class="col-11">
          <%= yield %>
        </main>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
