<% content_for :content do %>
  <main id="js-pjax-container" class="clearfix container-lg px-3 page-content" data-pjax-container>
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
