<% content_for :team_sub_layout do %>
  <div class="team-discussions-container d-flex flex-wrap bg-gray">
     <div class="team-left-column col-12 col-md-4 col-lg-3 p-3 p-md-4 p-lg-6 bg-white border-right border-bottom">
       <%= yield :left_column %>
     </div>
     <div class="col-12 col-md-8 col-lg-9 p-3 p-md-4 p-lg-6">
       <div class="team-discussions mx-auto"><%= yield %></div>
     </div>
  </div>
<% end %>

<%= render template: "layouts/team", locals: local_assigns %>
