<% page ||= :admins %>
<%= form_tag admins_stafftools_enterprise_path(business_slug), method: :patch do %>
  <% if page == :complete %>
    <input type="hidden" name="complete_page" value="1">
  <% end %>
  <label for="add-admin">Add or invite an owner for this enterprise</label>
  <div class="input-group my-2 auto-search-group">
    <auto-complete src="<%= admin_suggestions_stafftools_enterprise_path(business_slug) %>" for="staff-admin-complete-results">
      <input type="text" id="add-admin" name="admin" class="form-control auto-search-input">
      <ul id="staff-admin-complete-results" class="autocomplete-results"></ul>
    </auto-complete>
    <%= octicon("person") %>
    <img src="<%= image_path "spinners/octocat-spinner-32.gif" %>" width="16" height="16" class="spinner" alt="">
    <span class="input-group-button">
      <button type="submit" class="btn js-auto-complete-button">
        <span class="js-add-btn"<% if page == :invites %> hidden<% end %>>Add owner</span>
        <span class="js-invite-btn"<% unless page == :invites %> hidden<% end %>>Invite owner</span>
      </button>
    </span>
  </div>
<% end %>