<ul>
  <% if organizations.any? %>
    <% organizations.each do |organization| %>
      <% view = Stafftools::Businesses::FindOrganizationResultView.new(organization: organization, business: business) %>
        <% if view.org_has_business? %>
          <% if organization.business == business %>
            <li class="select-menu-item pl-2 disabled" aria-disabled="true">
            <% # disabled %>
            <%= render(partial: "stafftools/businesses/organization_result", locals: { organization: organization }) %>
            <p class="non-member-note mt-2">This organization already belongs to <%= business.name %></p>
            </li>
          <% else %>
            <li>
              <details class="details-reset details-overlay details-overlay-dark">
                <summary class="dropdown-item p-2" role="menuitem">
                  <%= render(partial: "stafftools/businesses/organization_result", locals: { organization: organization }) %>
                  <p class="non-member-note mt-2">Transfer this org from <%= organization.business.name %></p>
                </summary>
                <details-dialog class="anim-fade-in fast Box Box-overlay--wide d-flex flex-column text-gray-dark" role="dialog">
                  <div class="Box-header">
                    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                      <%= octicon "x" %>
                    </button>
                    <h3 class="Box-title">Confirm transfer of organization</h3>
                  </div>
                  <div class="Box-body overflow-auto">
                    <p>Transferring this organization will remove it from <b><%= organization.business.name %></b> and add it to <b><%= business.name %></b></p>
                    <% internal_repo_count = organization.repositories.internal_scope.size %>
                    <% unless internal_repo_count.zero? %>
                      <p class="text-red"><%= pluralize(internal_repo_count, "internal repository") %> will be moved to the new enterprise account</p>
                    <% end %>
                  </div>
                  <div class="Box-footer">
                    <%= form_tag transfer_organization_stafftools_enterprise_path(business.slug), method: :patch do |f| %>
                      <label>
                        Enter the organization's name to confirm
                        <input name="verify" type="text" class="form-control input-block mt-1" pattern="<%= case_insensitive_pattern organization.name %>" required autofocus>
                      </label>
                      <input type="hidden" name="organization" value="<%= organization.name %>">
                      <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-invalid>
                        Transfer Organization to <%= business.name %>
                      </button>
                    <% end %>
                  </div>
                </details-dialog>
              </details>
            </li>
          <% end %>
        <% elsif view.show_two_factor_confirmation_modal? %>
          <li>
            <details class="details-reset details-overlay details-overlay-dark">
              <summary class="dropdown-item p-2" role="menuitem">
                <%= render(partial: "stafftools/businesses/organization_result", locals: { organization: organization }) %>
              </summary>
              <details-dialog class="anim-fade-in fast Box Box-overlay--wide d-flex flex-column text-gray-dark" role="dialog">
                <div class="Box-header">
                  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                    <%= octicon "x" %>
                  </button>
                  <h3 class="Box-title">Confirm adding organization</h3>
                </div>
                <div class="Box-body overflow-auto">
                  <p>Adding this organization will remove all users who do not have two-factor authentication enabled for their account.</p>
                  <p class="text-red">
                    <% count = organization.affiliated_users_with_two_factor_disabled_count %>
                    <%
                      count_string = if count == Organization::TWO_FA_USER_COUNT_LIMIT
                        "More than #{Organization::TWO_FA_USER_COUNT_LIMIT - 1} users"
                      else
                        pluralize(count, 'user')
                      end
                    %>
                    <%= count_string %> will be removed from this organization
                  </p>
                </div>
                <div class="Box-footer">
                  <%= form_tag organizations_stafftools_enterprise_path(business.slug), method: :patch do |f| %>
                    <label>
                      Enter the organization's name to confirm
                      <input name="verify" type="text" class="form-control input-block mt-1" pattern="<%= case_insensitive_pattern organization.name %>" required autofocus>
                    </label>
                    <input type="hidden" name="organization" value="<%= organization.name %>">
                    <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-invalid>
                      Remove <%= pluralize_without_number organization.affiliated_users_with_two_factor_disabled_count, "member" %>
                      and require two-factor authentication
                    </button>
                  <% end %>
                </div>

              </details-dialog>
            </details>
          </li>
        <% else %>
          <li>
            <%= form_tag organizations_stafftools_enterprise_path(business.slug), method: :patch do %>
              <button type="submit" class="select-menu-item width-full pl-2" name="organization" value="<%= organization.login %>" role="menuitem">
                <%= render(partial: "stafftools/businesses/organization_result", locals: { organization: organization }) %>
              </button>
            <% end %>
          </li>
        <% end %>
    <% end %>
  <% elsif params[:q].present? %>
    <li class="select-menu-blankslate">
      <p>Sorry, no results matched "<%= params[:q] %>"</p>
    </li>
  <% end %>
</ul>
