<% complete_page ||= false %>
<% have_owners = owners.any? %>
<% if have_owners %>
  <div class="Box Box--condensed">
    <ul>
      <% owners.each do |admin| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <%= avatar_for admin, 20, class: :avatar %>
            <%= link_to admin.login, stafftools_user_path(admin.login) %>
          </span>
          <span>
            <%= render layout: "shared/details_dialog", locals: {
                button_text: "Remove owner",
                button_class: "btn btn-danger btn-sm",
                details_class: "float-right",
                title: "Remove owner?",
            } do %>
              <div class="Box-body overflow-auto">
                <p class="m-0">
                  Are you sure that you want to remove owner <%= admin.login %>
                  from <%= this_business.name %>?
                </p>
                <p>
                  <%= form_tag admins_stafftools_enterprise_path(this_business), method: :delete do %>
                    <input type="hidden" name="admin" value="<%= admin.login %>">
                    <% if complete_page %>
                      <input type="hidden" name="complete_page" value="1">
                    <% end %>
                    <button type="submit" class="btn btn-block btn-danger">Remove owner <%= admin.login %></button>
                  <% end %>
                </p>
              </div>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if complete_page %>
  <% more_owners_count = this_business.owners.count - owners.count %>
  <div class="paginate-container">
    <% if more_owners_count > 0 %>
      <div class="BtnGroup float-right">
        <a rel="nofollow" class="btn btn-outline BtnGroup-item"
           href="<%= admins_stafftools_enterprise_path(this_business) %>">View <%= more_owners_count %> more...</a>
      </div>&nbsp;
    <% end %>
  </div>
<% elsif have_owners %>
  <div class="paginate-container">
    <%= will_paginate owners %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No owners for this enterprise.</h3>
  </div>
<% end %>
