<% if exists %>
  <span>
    https://github.com/enterprises/<strong id="enterprise-slug-value"><%= slug.presence %></strong> is already taken.
  </span>
<% elsif not_alphanumeric %>
  <span>
    '<%= slug.presence %>' <%= Business::SLUG_VALIDATION_MESSAGE %>.
  </span>
<% else %>
  <span>
    The enterprise account will be available at https://github.com/enterprises/<strong id="enterprise-slug-value"><%= slug.presence %></strong>.
  </span>
<% end %>
