<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "People", people_stafftools_enterprise_path(this_business) %>
    / Billing managers
  <% end %>
<% end %>

<% if billing_managers.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% billing_managers.each do |billing_manager| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <%= avatar_for billing_manager, 20, class: :avatar %>
            <%= link_to billing_manager.login, stafftools_user_path(billing_manager) %>
          </span>
          <span>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Remove billing manager",
              button_class: "btn btn-danger btn-sm",
              details_class: "float-right",
              title: "Remove billing manager?",
            } do %>
              <div class="Box-body overflow-auto">
                <p class="m-0">
                  Are you sure that you want to remove billing manager <%= billing_manager.login %>
                  from <%= this_business.name %>?
                </p>
                <p>
                  <%= form_tag billing_managers_stafftools_enterprise_path(this_business), method: :delete do %>
                    <input type="hidden" name="admin" value="<%= billing_manager.login %>">
                    <button type="submit" class="btn btn-block btn-danger">Remove billing manager <%= billing_manager.login %></button>
                  <% end %>
                </p>
              </div>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate billing_managers %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No billing managers have been assigned to this enterprise.</h3>
  </div>
<% end %>
