<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "People", people_stafftools_enterprise_path(this_business) %>
    / Add or invite owners
  <% end %>
<% end %>

<%= render "stafftools/businesses/add_owner_form", business_slug: this_business.slug, page: :complete %>
<%= render Primer::SubheadComponent.new(mt: 3) do |component| %>
  <% component.slot(:heading) do %>Owners<% end %>
<% end %>
<%= render "stafftools/businesses/owners_list", owners: owners, complete_page: true %>
<%= render Primer::SubheadComponent.new(mt: 3) do |component| %>
  <% component.slot(:heading) do %>Owner invitations<% end %>
<% end %>
<%= render "stafftools/businesses/pending_owner_invitations_list",
  pending_owner_invitations: pending_owner_invitations, complete_page: true %>

<a rel="nofollow" class="btn" href="<%= stafftools_enterprise_path(this_business) %>">Finish</a>
