<%# erblint:disable ProperTagNesting %>
<% page_info title: "#{business.name} webhooks", selected_link: :business_webhooks %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>Webhooks<% end %>
<% end %>
<% if hooks.any? %>
  <div class="boxed-group-inner">
    <%= render "stafftools/hooks/list", hooks: hooks %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No webhooks configured for this enterprise.</h3>
  </div>
<% end %>
</div>
