<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "People", people_stafftools_enterprise_path(this_business) %>
    / Members
  <% end %>
<% end %>

<% if members.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% members.each do |member| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <% if member.user.present? %>
              <%= avatar_for member.user, 20, class: :avatar %>
              <%= link_to member.user.login, stafftools_user_path(member.user) %>
            <% else %>
              <%= octicon "person", height: 20, class: "text-gray" %>
              <%= member.login %>
            <% end %>
          </span>
          <span>
            <%= pluralize member.enterprise_organizations(current_user).count, "organization" %>,
            <%= pluralize member.user_enterprise_installations.count, "installation" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate members %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No members in this enterprise.</h3>
  </div>
<% end %>
