<% page_info title: business.name, selected_link: :business_organizations %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>Organizations<% end %>
<% end %>


<details class="select-menu details-reset details-overlay mb-3">
  <summary class="btn btn-sm select-menu-button">
    Add an organization
  </summary>
  <details-menu class="position-absolute" style="z-index: 99">
    <div class="select-menu-modal">
      <div class="select-menu-header">
        <span class="select-menu-title">Choose an organization</span>
      </div>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <remote-input src="<%= find_organizations_stafftools_enterprise_path(business.slug) %>" aria-owns="staff-org-complete-results">
            <input type="text" id="search-organizations" class="form-control" aria-label="Search for an organization" autofocus>
          </remote-input>
        </div>
      </div>
      <div class="select-menu-list" id="staff-org-complete-results">
      </div>
    </div>
  </details-menu>
</details>

<% if organizations.any? %>
  <% unless GitHub.single_business_environment? %>
    <div class="flash flash-notice">
      <p class="h4">NOTE</p>
      <p><b>Transfer an organization into this enterprise account by selecting an organization from the organization list above</b></p>
    </div>
  <% end %>
  <div class="Box Box--condensed">
    <ul>
      <% organizations.each do |org| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <%= avatar_for org, 20, class: :avatar %>
            <%= link_to org.login, stafftools_user_path(org.login) %>
          </span>
          <span>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Remove organization",
              button_class: "btn btn-danger btn-sm mr-1",
              details_class: "float-right",
              title: "Remove organization?",
            } do %>
              <div class="Box-body overflow-auto">
                <p class="m-0">
                  Are you sure that you want to remove organization <%= org.login %>
                  from <%= business.name %>?
                </p>
                <ul class="ml-4">
                  <li>Any internal repositories in this organization will be made private</li>
                </ul>
                <p>
                  <%= form_tag organizations_stafftools_enterprise_path(business.slug), method: :delete do %>
                    <input type="hidden" name="organization" value="<%= org.login %>">
                    <button type="submit" class="btn btn-block btn-danger">Remove organization <%= org.login %></button>
                  <% end %>
                </p>
              </div>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate organizations %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No organizations have been added to this enterprise.</h3>
  </div>
<% end %>
