<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "People", people_stafftools_enterprise_path(this_business) %>
    / Outside collaborators
  <% end %>
<% end %>

<% if outside_collaborators.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% outside_collaborators.each do |outside_collaborator| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <%= avatar_for outside_collaborator, 20, class: :avatar %>
            <%= link_to outside_collaborator.login, stafftools_user_path(outside_collaborator.login) %>
          </span>
          <span>
            <%= pluralize outside_collaborator.outside_collaborator_repositories(business: this_business).count, "repository" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate outside_collaborators %>
  </div>
<% else %>
  <div class="blankslate mb-3">
    <h3>No outside collaborators in this enterprise.</h3>
  </div>
<% end %>
