<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
	<% component.slot(:heading) do %>People<% end %>
<% end %>

<div class="Box Box--condensed">
  <ul>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Members", members_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter members_count %>
        <%= pluralize_without_number members_count, "member" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Pending members", pending_members_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter pending_members_count %>
        <%= pluralize_without_number pending_members_count, "pending member" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Outside collaborators", outside_collaborators_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter outside_collaborators_count %>
        <%= pluralize_without_number outside_collaborators_count, "outside collaborator" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Pending collaborators", pending_collaborators_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter pending_outside_collaborators_count %>
        <%= pluralize_without_number pending_outside_collaborators_count, "pending collaborator" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
    <span class="flex-auto">
      <%= link_to "Support entitled members", support_entitlees_stafftools_enterprise_path(this_business) %>
    </span>
    <span>
      <%= number_with_delimiter support_entitlees_count %>
      <%= pluralize_without_number support_entitlees_count, "Support entitled members" %>
    </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Billing managers", billing_managers_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter billing_managers_count %>
        <%= pluralize_without_number billing_managers_count, "billing manager" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Pending billing manager invitations", pending_billing_managers_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter pending_billing_managers_invitations_count %>
        <%= pluralize_without_number pending_billing_managers_invitations_count, "pending billing manager invitation" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Owners", admins_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter owners_count %>
        <%= pluralize_without_number owners_count, "owner" %>
      </span>
    </li>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Pending owner invitations",
          pending_admins_stafftools_enterprise_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter pending_owner_invitations_count %>
        <%= pluralize_without_number pending_owner_invitations_count, "pending owner invitation" %>
      </span>
    </li>
  </ul>
</div>
