<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::SubheadComponent.new do |component| %>
  <% component.slot(:heading) do %>
    <%= link_to "People", people_stafftools_enterprise_path(this_business) %>
    / Support Entitled Members
  <% end %>
<% end %>

<p>
Support entitled members are granted access at <a href="https://support.github.com">support.github.com</a> to
view support tickets for their Enterprise, submitted by themselves and their colleagues. Enterprise administrators
and Billing managers also have this support entitlement, but are not listed on this page.
</p>

<% if support_entitlees.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% support_entitlees.each do |user| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <% if user.present? %>
              <%= avatar_for user, 20, class: :avatar %>
              <%= link_to user.login, stafftools_user_path(user) %>
            <% else %>
              <%= octicon "person", height: 20, class: "text-gray" %>
              <%= user.login %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="blankslate mb-3">
    <h3>No support entitled members in this enterprise.</h3>
  </div>
<% end %>
