<% if purge? %>
  <%= form_tag gh_purge_discussions_stafftools_repository_path(repository), method: :post do %>
    <button type="submit" class="btn btn-primary boxed-action">Purge Discussions</button>
  <% end %>

  <h4 class="attention">
    <%= render GitHub::OcticonComponent.new(icon: "alert", classes: "error", mr: 1) %>
    Discussions Index
  </h4>

  <p><%= purge_reason %></p>
<% elsif reindex? %>
  <%= form_tag gh_reindex_discussions_stafftools_repository_path(repository), method: :post do %>
    <button type="submit" class="btn btn-primary boxed-action">Reindex Discussions</button>
    <% if purge_before_reindex? %>
      <input type="hidden" name="purge" value="true">
    <% end %>
  <% end %>

  <h4 class="attention">
    <%= render GitHub::OcticonComponent.new(icon: "alert", classes: "error", mr: 1) %>
    Discussions Index
  </h4>

  <p><%= reindex_reason %></p>
<% elsif searchable? %>
  <%= form_tag gh_reindex_discussions_stafftools_repository_path(repository), method: :post do %>
    <button type="submit" class="btn boxed-action">Reindex Discussions</button>
  <% end %>

  <h4>
    Discussions Index
  </h4>

  <p>The search index contains <%= pluralize(document_count, "discussion") %>.</p>
<% else %>
  <h4>
    Discussions Index
  </h4>

  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
