<div class="Box-body p-3 d-flex">
  <div>
    <label>Background</label>
    <div class="d-flex flex-wrap mt-2">
      <% DiscussionSpotlight.preconfigured_color_names.each do |preconfigured_color| %>
        <%= discussion_spotlight_gradient_radio(preconfigured_color,
          selected: preconfigured_color == spotlight.preconfigured_color) %>
      <% end %>
    </div>
  </div>

  <div class="mx-4">
    <label>Pattern</label>
    <div class="d-flex mt-2">
      <% DiscussionSpotlight.pattern_names.each do |pattern| %>
        <%= discussion_spotlight_pattern_radio(pattern, selected: spotlight.pattern == pattern) %>
      <% end %>
    </div>
  </div>

  <div class="position-relative" style="min-width: 100px">
    <label>Emoji</label>
    <div class="mt-2">
      <input type="hidden"
        name="discussion_spotlight[emoji]"
        class="js-discussion-spotlight-emoji-field js-discussion-spotlight-preview-trigger"
        value="<%= spotlight.emoji %>">
      <button type="button"
        aria-label="Choose an emoji"
        class="btn px-2 js-toggle-discussion-spotlight-emoji-picker"
      >
        <span class="js-discussion-spotlight-original-emoji" hidden>
          <%= emoji_html = spotlight.emoji_html %>
        </span>
        <span class="js-discussion-spotlight-custom-emoji"><%= emoji_html %></span>
      </button>
    </div>
    <include-fragment
      class="js-discussion-spotlight-emoji-picker"
      data-url="<%= discussion_spotlight_emoji_picker_path(emoji: spotlight.emoji) %>"></include-fragment>
  </div>
</div>
