<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= octicon :x %>
  </button>
  <h3 id="spotlight-dialog-title" class="Box-title">
    Configure spotlight
  </h3>
</div>

<%= render "discussions/spotlight_previews/show", spotlight: spotlight,
  discussion: discussion %>

<%= form_tag discussion_spotlight_path(current_repository.owner, current_repository, discussion, spotlight), class: "js-discussion-spotlight-form", method: :put do %>
  <%= render "discussions/spotlights/form", spotlight: spotlight %>

  <div class="p-3 text-right">
    <button type="submit"
      class="btn btn-primary"
      data-disable-with="Saving spotlight…"
      data-disable-invalid
      disabled
    >Update spotlight</button>
  </div>
<% end %>
