A new user has requested to join GitHub Sponsors. Can you please help onboard this user?

- Login: @<%= @sponsorable_login %>
- Name: <%= @sponsorable_name %>
- Email: <%= @sponsorable_email %>
- Country or region of Residence: <%= @sponsorable_country %>
- 2FA enabled: <% @sponsorable_two_factor_enabled %>

Thanks,
GitHub Sponsors Team
