<%# erblint:disable DeprecatedCustomCss %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Your GitHub Sponsors profile has been submitted for approval</title>
<style media="all" type="text/css">
@media only screen and (max-width: 620px) {
  table[class=body] h1,
  table[class=body] h2,
  table[class=body] h3,
  table[class=body] h4 {
    font-weight: 600 !important;
  }
  table[class=body] h1 {
    font-size: 24px !important;
  }
  table[class=body] h2 {
    font-size: 20px !important;
  }
  table[class=body] h3 {
    font-size: 16px !important;
  }
  table[class=body] .lead {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  table[class=body] .container {
    padding: 20px !important;
    width: 100% !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    display: block !important;
  }
  table[class=body] .header-padded,
  table[class=body] .body-padded {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
</head>

<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; height: 100% !important; line-height: 1.5; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
	<tr>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
		<td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 30px; width: 580px;" width="580" valign="top">
			<div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">


<div class="header" style="box-sizing: border-box; width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #eee;">
  <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
      <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top">
        <a href="https://github.com" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">
          <img src="<%= GitHub.mailer_asset_host_url %>/images/email/global/wordmark.png" width="102" height="28" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%;">
        </a>
      </td>
    </tr>
  </table>
</div>

<h1 style="color: #111111 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 400; line-height: 1.25; margin: 0 0 10px; font-size: 30px;">
  Your GitHub Sponsors profile has been submitted for review.
</h1>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin-top: 25px;">
Yay! Thank you for submitting your GitHub Sponsors profile for approval. We're so excited to get you into GitHub Sponsors.
</p>

<p>
One last step: our team will review your profile and verify your identity, then we'll publish it to go live. You'll get an email from us when your profile has been approved.
</p>

<img mc:edit="welcomeimage" class="welcometocat" src="<%= GitHub.mailer_asset_host_url %>/images/email/sponsors/mona.png" width="175" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: 150px;max-width: 100%; margin-top:24px;" alt="welcometocat">

				<div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
					<hr class="footer-hr" style="height: 0; overflow: visible; margin-top: 30px; border: 0; border-top: 1px solid #eee; color: #999999; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
		      <div class="footer-links" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px;">
		        <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">
							<a href="https://github.com/settings/emails" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Email preferences</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-privacy-policy/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a> &middot;
							<a href="https://github.com/login" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Sign into GitHub</a>
						</p>
		      </div>
		      <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">GitHub, Inc.<br style="color: #999999; font-size: 12px; line-height: 18px;"> 88 Colin P Kelly Jr St.<br style="color: #999999; font-size: 12px; line-height: 18px;"> San Francisco, CA 94107</p>
				</div>
			</div>

		</td>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
	</tr>
</table>

</body>
</html>
