You're on the <%= @waitlist_title %>!

We move waitlisted <%= @types %> into the program on a rolling basis. The next step is to watch for an email from GitHub notifying you that you've made it off the <%= @waitlist_title %> and into the program.
Questions? Visit the Sponsors documentation at <%= GitHub.help_url %>/articles/about-github-sponsors or contact us at https://support.github.com/contact?form%5Bsubject%5D=GitHub+Sponsors+waitlist.
